[2022-06-14 06:16] ramsaptami opened #14513 "[Bug]: After app save action, the function selected in action dropdown changes leading to incorrect execution when using keyboard shortcuts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there are multiple functions present in an object, the function selected in action dropdown changes whenever there's a saving action performed on the app and so when user is executing the function using keyboard shortcuts leads to incorrect functions being executed since the selected options

[2022-06-14 06:38] akash-codemonk commented on #14511
Duplicate of https://github.com/appsmithorg/appsmith/issues/13869

[2022-06-14 06:38] #14511 closed

[2022-06-14 06:49] ayushi-appsmith opened #14515 "[Task]: Redesign action selector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] PRD
- [ ] Solution exploration
- [ ] Refinement
- [ ] Feedback
- [ ] Handoff

[2022-06-14 07:09] ayushi-appsmith commented on #14515
Estimated due date: June 24th, 2022

[2022-06-14 07:15] yaldram commented on #14490
Unable to reproduce this.

[2022-06-14 07:16] #14490 closed

[2022-06-14 07:17] ohansFavour commented on #10332
After investigation, the root cause of this issue is the improper handling/update of the dynamicBindingPathlist for the `checkboxgroup` widget.

After toggling to JS, the options field becomes a string (previously an array), but the dynamicBindingPathlist doesn't get updated to reflect this change.

See [loom recording](https://www.loom.com/share/5df7dd0d1a5e4f32bd8c824b967edc3b)

[2022-06-14 07:30] ohansFavour commented on #12167
This issue is related to [this](https://github.com/appsmithorg/appsmith/issues/10332).

Cause of issue is described [here](https://github.com/appsmithorg/appsmith/issues/10332#issuecomment-1154808876)

[2022-06-14 07:35] Aishwarya-U-R opened #14516 "[Bug]: BigInt datatype inserts wrong value into table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

BigInt & Numeric datatype columns are inserting wrong value into table column:

Actual values:
bigint - 9223372036854775807
numeric - 2147483647.2147483647

Inserted values:
bigint - 9223372036854776000
numeric - 2147483647.2147484

<img width="445" alt="Screenshot 2022-06-14 at 1 01 00 PM" src="h

[2022-06-14 08:04] ramsaptami opened #14517 "[Bug]: Select widget dropdown options look unfocused/hazy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Select widget dropdown looks hazy/unfocused (text colour does not look the same as on other widgets of the select family) and this becomes more obvious when there are multi-worded options present in the dropdown

### Steps To Reproduce
Select widget:
![image](https://user-images.githubusercontent.

[2022-06-14 08:39] btsgh opened #14518 "[Bug]: Menu button widget - when many menu options are added, no scroll, & the dropdown UI inconvenient to use"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I add many menu options for a menu button widget, the UI of the dropdown is not convenient for the user, it extends and flows below the visual area.
Also, on Deploy, when we click the Menu button, after the menu items are displayed, when we click the menu button again, the UI moves down, and

[2022-06-14 08:47] ame-appsmith opened #14519 "[Bug]: Vertical Scroll Cannot Be Removed When Layout Should Fit to Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A vertical scroll bar is shown and cannot be removed when the layout/content should actually fit the page.

Check this loom screen-recording:
https://www.loom.com/share/03866f8346c44167a20233baf5a149a8

### Steps To Reproduce

1. Create a new app and add some widgets. The layout should fit the pag

[2022-06-14 09:05] Aishwarya-U-R opened #14520 "[Bug]: Postgres, MySql | Show Primary Column clearly in EntityExplorer view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Postgres:
<img width="257" alt="Screenshot 2022-06-14 at 1 53 22 PM" src="https://user-images.githubusercontent.com/91450662/173538235-e5a66271-1793-4b2e-8a6b-fcfa298ea059.png">

MySQL:
<img width="279" alt="Screenshot 2022-06-14 at 2 13 35 PM" src="https://user-images.githubusercontent.com/914506

[2022-06-14 09:19] rfenaux commented on #10381
Dynamically accessing the page Title would be great for navigation and building a dynamic menu with dynamic styling (current active page).
I'm currently using a hidden text field but it's not the most elegant solution

[2022-06-14 09:26] ayushi-appsmith opened #14521 "[Bug]: Clicking on the 'Comment' button in comment mode does not switch view back to edit mode."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I click on comment icon while in comment mode, it does nothing.
I am expecting the action to close comment mode and return to edit mode.

### Steps To Reproduce

Go to comment mode in any app by clicking the comment icon button on top left.
Click the comment button again.
Nothing happens.

##

[2022-06-14 09:30] #13486 closed

[2022-06-14 09:44] #14521 closed

[2022-06-14 10:31] AnaghHegde opened #14523 "[Bug]: Disable drop down after the user selects a branch in git merge tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We are not disabling the drop-down after the user selects a branch. We should block the user from making a different selection until the response for merge status is received from the server. This is inconsistent with other flows in git and it will result in unnecessary API calls for the same beha

[2022-06-14 10:47] yaldram commented on #13856
Unable to reproduce.

[2022-06-14 10:47] #13856 closed

[2022-06-14 11:39] Sripriya93 opened #14526 "[Bug]: Audio widget is not selected when we click on the widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user try to click on an Audio widget, we are not able to see the property pane for the widget

Expected: When user click on the Audio widget, user not able to see the property pane of the widget

Actual: When user click on the Audio widget, we should be able to see the property pane of the wi

[2022-06-14 11:57] Aishwarya-U-R opened #14527 "[Bug]-[268]:Suggested Widgets Table gives a 'buttonColor is invalid' debug error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/173571024-ccfcc2ce-da25-44e3-83df-492e4446975a.mov

### Steps To Reproduce

1. Create a new app & apply some theme
2. Run a query or an api - which gives result in table format
3. Select the Table from the Suggested widgets section
4. **Observe: T

[2022-06-14 12:36] nidhi-nair opened #14529 "[Task]: Make actionExecutionRequest also hold context information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add actionId for current request
- Add creationTime for this request

[2022-06-14 13:09] Nikhil-Nandagopal opened #14533 "[Docs]: Process to upgrade to new Select Widget"
<p>Need to add corrosponding doc related to the warning `stay up to date` for switch widget</p>

[2022-06-14 13:15] jnikhila opened #14534 "[Bug]: [Prepared Statement] - Bindings in comments fail for MySQL Datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

You have added a binding to the query and enabled the prepared statement and run the query. It returns results. Now, if you comment on the clause which has binding and runs the query then:

In the case of the PostgreSQL datasource, the query runs successfully and returns the response. However, for

[2022-06-14 13:16] jnikhila commented on #14534
@subrata71 - Could you please look into this? CC: @nidhi-nair

[2022-06-14 13:34] DanPhonovation opened #14535 "[Feature]: Increasing timeout on internal nginx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary
I have appsmith deployed via helm.

I see that there is an internal nginx proxying api calls to localhost:8080. I need to increase the timeout on this call past the nginx default of 60 seconds, but can't find an existing entrypoint to modify this.

Any way this can be part of a ConfigMap or recommendat

[2022-06-14 13:44] Nikhil-Nandagopal opened #14537 "[Docs]: Set up SPF record for SMTP plugin"
<p>A user would be helped by adding documentation for configuring SFP for SMTP/emails to prevent emails being flagged as spam.<br /><br />> I've added the whitelisted server addresses in my domain record however emails keep being flagged as spam.<br /><br />Discord thread can be found [here](https://discord.com/channels/725602949748752515/760761686549463060/986066909642510376)</p>

**Update 19 Aug

[2022-06-14 13:48] Nikhil-Nandagopal opened #14538 "[Docs]: JSON form limit (50)"
<p>Data inside JSON Forms are not visible when they are more than 50 items long; it may help to document this fact to avoid users being confused if they run into this.<br /><br />Discord thread [here](https://discord.com/channels/725602949748752515/760761686549463060/962686856296816660)</p>

[2022-06-14 13:55] tzahari opened #14539 "[Docs]: Only Docs until version 1.3.0 is available on https://docs.appsmith.com/"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

On https://docs.appsmith.com/v/v1.3.0 documentation is only available up to version 1.3.0
Why are the versions > 1.3.0 are missing?

### Describe the improvement

Publish all versions up to 1.7.2

[2022-06-14 14:03] Nikhil-Nandagopal commented on #14539
@tzahari our documentation version does not reflect the product version so all the information in 1.3.0 should be relevant to the latest product version. We do know that some images are out of date and we're working on updating those :)

[2022-06-14 14:03] #14539 closed

[2022-06-14 14:12] Nikhil-Nandagopal commented on #14495
@Sripriya93 this is because there is no value in telling the user that the user is already added. It's simply better to move forward

[2022-06-14 14:12] #14495 closed

[2022-06-14 14:14] tzahari opened #14541 "[Docs]: Environment variable for disable Intercom is not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/setup/instance-configuration/disable-intercom

### Describe the problem

On the page is documented that you need to set the environment to
`APPSMITH_INTERCOM_APP_ID=`

I used this with the version 1.7.1 and the Intercom was still popping up.

After some research I

[2022-06-14 14:15] Nikhil-Nandagopal opened #14542 "[Docs]: Document Forge external library"
<p>We have external library [Forge](https://github.com/digitalbazaar/forge) available within appsmith, but it is not documented in our [External Libraries](https://docs.appsmith.com/core-concepts/writing-code/ext-libraries) docs page.<br /><br />somewhat related Discord thread [here](<a href="https://discord.com/channels/725602949748752515/760761686549463060/984839751938998323">here</a> where a us

[2022-06-14 14:16] Nikhil-Nandagopal commented on #14541
@tzahari thanks! This has been updated

[2022-06-14 14:16] #14541 closed

[2022-06-14 14:22] Nikhil-Nandagopal commented on #14473
@vuiets @abhvsn could you have a look at what could be causing this?

[2022-06-14 14:26] tzahari commented on #14541
Thanks for the fast update.
Maybe update also the first paragraph to:

`To disable Intercom on your instance, set the environment variable APPSMITH_DISABLE_INTERCOM to true.`

[2022-06-14 14:41] tzahari commented on #14533
This would be helpful! Thank you

[2022-06-14 14:49] tzahari commented on #14537
In my opinion this is is the responsibility of the used email system.
Because Appsmith is not relaying themself but is using an smtp relay server.
Therefore this has nothing to do wich is specific to Appsmith rather than a correct configuration of the mail system.

Example: For AWS SES is everything documented to setup SPF and so on... https://docs.aws.amazon.com/ses/latest/dg/send-email-authentic

[2022-06-14 15:11] disl-pdavid commented on #14394
The query is a simple one:

[code]

With prepared statements on, this fails with the above messages.
Did you perhaps mean quotes somewhere else that I might be misunderstanding?

[2022-06-14 15:42] Rishabh-Rathod opened #14543 "[Bug]: onPageLoad action failure due to incorrect layoutOnLoadActions in pageResponse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

| Expected | Observed |
|---|---|
| ![SCR-20220614-sp0](https://user-images.githubusercontent.com/23132741/173618887-ad12c5de-0b74-440a-bb72-3a764f6a6370.png) | ![SCR-20220614-src](https://user-images.githubusercontent.com/23132741/173618920-397067de-a46d-4f22-8801-595c21713284.png)

We noticed in

[2022-06-14 16:02] subrata71 opened #14544 "[Bug]: MySQL query fails for having the "IS" word inside a comment in Prepared Statement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there's an "is" word inside a comment in a `MySQL` query having the prepared statement turned on, the query fails with the following message

<img width="1240" alt="Screenshot 2022-06-14 at 9 48 59 PM" src="https://user-images.githubusercontent.com/3524599/173621948-3e0d69b4-ce4c-41bd-a98f-b5

[2022-06-14 16:16] btsgh commented on #12631
Testcases are available here -
1.[ Basic Testcase](https://github.com/appsmithorg/TestSmith/issues/1881)
2. [Bert-base-uncased-hateexplain](https://github.com/appsmithorg/TestSmith/issues/1882)
3. [Classificacion-texto-suicida-finetuned-amazon-review](https://github.com/appsmithorg/TestSmith/issues/1883)

[2022-06-14 16:24] btsgh commented on #12631
Issues found so far -
1.  In Bert-base-uncased-hateexplain - testcase point 2 fails as text is spelt incorrectly ![Bertbaseuncasedhateexplain.png](https://images.zenhubusercontent.com/6242f2f59960209e891f50ec/5234589d-cfca-4de0-96f8-a7bbb46b44ba)
This issue occurs across all the commands
2. Testcase point 3 - FAILS CURRENTLY - it runs even though the field is blank. It should give an appropriate m

[2022-06-14 18:38] DanPhonovation commented on #14535
For more clarity, I have a basic button-press UI that is calling a custom API performing a long running task. We have verified that indeed, it is appsmith's nginx issuing Gateway Timeout, and not our custom API. We did this by dropping into the appsmith pod and viewing nginx logs.

[2022-06-14 19:55] ame-appsmith commented on #14506
I have updated the recording link and also recorded an additional one: https://user-images.githubusercontent.com/101268423/173676997-f40c4007-cde9-467f-90ea-722876ec97b0.mp4

[2022-06-14 21:20] albinAppsmith opened #14546 "[Task]: Tooltip migration in Main repo"
- [ ] Add design system package to main repo
- [ ] Integrate tooltip component from design system package
- [ ] Delete tooltip from ADS folder in main repo

[2022-06-14 21:22] albinAppsmith commented on #14546
- [ ] Add design system package to main repo
- [ ] Integrate tooltip component from design system package
- [ ] Delete tooltip from ADS folder in main repo

[2022-06-15 02:13] vuiets commented on #13542
@Pranay105 can we prioritise this if we haven't already? We get a handful of requests in support around this. It'll help those users understand the new flow.

[2022-06-15 02:25] vuiets commented on #13736
At this point are we able to tell if we are on that page that was discarded @IAmAnubhavSaini?

[2022-06-15 03:15] subrata71 commented on #14516
## Root Cause
According to my findings, I think the problem solely lies in the **_presentation layer_**. I have found that the data are being inserted into Postgres database without being truncated. Also, the **`/execute`** API returns the data from the Postgres database keeping it unchanged.

And the problem turns up due to an early rounding issue on the client side. (IMO)

| Datatype| Expected |

[2022-06-15 03:32] Aishwarya-U-R opened #14549 "[Bug]: Postgres | Unable to retrieve Money datatype table records if value contains more than 3 digits (before decimal)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**Until 3 digits - the select query runs fine:**
<img width="376" alt="Screenshot 2022-06-15 at 8 16 17 AM" src="https://user-images.githubusercontent.com/91450662/173728685-e70278ed-c4af-4203-802c-8eef9e04b111.png">
**Insert a new record with 4 digits - example starting from 1000 & encounter the

[2022-06-15 04:27] shadabbuchh opened #14550 "[Task]: Test Plan - Tooltip migration in Main repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Impacted Areas:
Complete list of impacted Areas: https://docs.google.com/spreadsheets/d/1np7jQdiQa0nyryOBnNa927NkGDplG9M2gb7qnoZIIyM/edit#gid=0

### Test Plan:
Migration of Tooltip to Design System Folder in the Main Repo {UI Tests}: https://github.com/appsmithorg/TestSmith/issues/1884

[2022-06-15 04:32] tomjose92 opened #14551 "[Feature]: Need Total Record Count field for Server-side pagination in List widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When a user decides to use server side pagination in the List widget, it is unaware of how many records will be present.

### Why should this be worked on?

This causes issue where a user can keep clicking next page, and see List items which have undefined values.
We need a field like "Total Record Co

[2022-06-15 04:45] dilippitchika commented on #13979
@pranavkanade we are waiting for table v2 to get merged to pick up other table issues. Else we will have a merge conflict like we had in theming.

[2022-06-15 05:07] ChandanBalajiBP commented on #14390
@felixsuarez0727 I am not able to reproduce the error with the given curl import. Can you help me with this.

[2022-06-15 05:29] dilippitchika commented on #14380
Thanks @rahulramesha this works,

@jnikhila just extending the discussion we had for - https://github.com/appsmithorg/appsmith/issues/14462

We need a document which explains the following things, please discuss with rahul as well once.
1. What does a deprecrated widget mean? -- This should explain that the widget will keep working, but we will stop supporting it going forward
2. How to upgrade by

[2022-06-15 05:29] #14493 closed

[2022-06-15 05:37] dilippitchika commented on #14500
Something which i have also thought about before, @rohitagarwal88 @rahulramesha can you check?

[2022-06-15 06:26] ramsaptami opened #14556 "[Bug]: Incorrect code is executed in an if-else block regardless of conditions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Consider the below code, only the first chunk of code in the if-else block is executed regardless of there not being a logical match, i.e. page always redirects to a different page regardless of what the selected value is.

[code]

### Steps To Reproduce

1. Go to app at [this](https://release.app

[2022-06-15 06:34] #14333 closed

[2022-06-15 06:40] Nikhil-Nandagopal commented on #14556
@ramsaptami it should be == not =

[2022-06-15 06:40] #14556 closed

[2022-06-15 06:42] sumitsum commented on #14516
Lowering the priority of this issue from critical to High since the impact of the issue is limited and it does not break any application.

[2022-06-15 06:43] sumitsum commented on #14516
Related issue: https://github.com/appsmithorg/appsmith/issues/5743

[2022-06-15 06:50] ankitakinger commented on #14457
https://www.notion.so/appsmith/PoC-for-Permission-Groups-Implementation-4b36a88cb9d947b6bed909e14c4e96af

[2022-06-15 06:50] #14457 closed

[2022-06-15 06:50] jnikhila commented on #13320
@Rishabh-Rathod - Could you please add your inputs to the ticket so that we can pick it up?

[2022-06-15 06:50] #13069 closed

[2022-06-15 06:50] #13010 closed

[2022-06-15 06:50] #13834 closed

[2022-06-15 06:50] #13011 closed

[2022-06-15 06:50] Nikhil-Nandagopal commented on #10483
@dilippitchika some more detailed job stories are needed here
- When building a form, I want the inputs, date pickers, selects, switches & buttons to all look consistent and have great defaults so that my form looks good
- When building a table with filters, I want the date pickers and selects to match the style of the table whether they are inside a container or not, so that I don't have to spend

[2022-06-15 06:50] #13008 closed

[2022-06-15 06:51] #14487 closed

[2022-06-15 06:54] abhvsn commented on #9965
@somangshu I don't have much context here can someone from `pod-app-viewers` help to create this doc?

[2022-06-15 07:00] jnikhila commented on #14380
@dilippitchika - understood. I'll schedule a call to understand the doc needs with @rahulramesha and yourself and take it ahead.

@rahulramesha - for the message, we should keep heading as before and just modified the old message with the new message as below.

[code]
Just a suggestion - I'm not sure if we can do some UI highlighting for the old widget type that is deprecated and the new widget ty

[2022-06-15 07:16] #13732 closed

[2022-06-15 07:18] rahulramesha commented on #14380
@jnikhila, we can have an heading, But from what the users are mentioning on discord. The Heading `Stay Up-to-date` is calling on the user to take action immediately and update the widget to keep the app working.
We don't want to give that impression to the user, as the app they have will continue to work as is. We just want the user to be aware that the widget is deprecated and they can replace i

[2022-06-15 07:30] Nikhil-Nandagopal commented on #13518
@hiteshjoshi I think the problem here is that once you turn it off, you can have form login still enabled but because your ID is now linked to the SSO login, you can't use form login to login

[2022-06-15 07:37] jnikhila commented on #14380
@rahulramesha - understood, but we do want the users to move to new version of widgets right?  Instead of `Stay Up-to-date` we can use` Update Available`

[2022-06-15 07:41] vishnu-gp commented on #13918
@trishaanand I just tried this from the release branch and was not able to reproduce this. Are there any particular steps to reproduce this other than those mentioned in the description?
![Screenshot 2022-06-15 at 13 07 39](https://user-images.githubusercontent.com/9128194/173770755-24d58093-afdf-46fa-b14e-6252216dc5e8.png)

@vuiets @hiteshjoshi

[2022-06-15 07:48] ayushpahwa commented on #5710
@nidhi-nair this is a nice to have feature and we should avoid making changes to the current redux-form lib as it is already deprecated. We should work on this once we pick up more performant libraries like hookforms for our editor. Have updated the description of the issue too.

[2022-06-15 07:58] harshilp24 commented on #14041
Added information into widget doc, no separate guide needed.

[2022-06-15 07:58] #14041 closed

[2022-06-15 08:02] dilippitchika commented on #14519
Why doesn't the canvas auto-resize to occupy minimum width? What is the logic that we use today

@riodeuno can you help? How do we change the size of the canvas in the apps?

[2022-06-15 08:05] dilippitchika commented on #14518
@btsgh closing this in favor of #12286, also adding the comments from you on the deploy mode there for tracking.

[2022-06-15 08:05] #14518 closed

[2022-06-15 08:05] vuiets commented on #13642
Is this still an issue? @IAmAnubhavSaini can't reproduce it.

[2022-06-15 08:06] dilippitchika commented on #12286
Also, on deploy, the menu dropdown functionality is improper on click to close- focus goes to the menu items, instead of the menu getting closed.
https://www.loom.com/share/40d22812c22b4532af0c60730308f84d

Please check #14518 when fixing this

[2022-06-15 08:18] Rishabh-Rathod opened #14559 "[RCA] Handling numbers which exceed Number.MAX_SAFE_INTEGER"
- [ ] https://github.com/appsmithorg/appsmith/issues/14516
- [ ] https://github.com/appsmithorg/appsmith/issues/5743

[2022-06-15 08:22] #13869 closed

[2022-06-15 08:28] nidhi-nair opened #14560 "[Bug]: Switching to JS mode stringifies dynamic binding as well"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Switching to JS mode stringifies dynamic binding as well.

### Steps To Reproduce

1. Create a new query
2. Use a binding `""` in the form mode of the where clause
3. Switch to JS mode

### Public Sample App

_No response_

### Version

Deploy preview

[2022-06-15 08:31] #14391 closed

[2022-06-15 08:58] IAmAnubhavSaini commented on #13736
@vuiets We can figure out if we are on one of the pages that are going to be discarded. After discard, no.

[2022-06-15 09:06] ramsaptami opened #14562 "[Bug]-[632]:Incorrect example structure shows showMessage on trigger field, copying this text leads to incorrect handling by the platform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Example structure on trigger field incorrectly shows showAlert as showMessage and using this snippet causes unexpected behaviour where the snippet gets truncated on triggering the widget and throws an error message.

### Steps To Reproduce

1. Drop any widget on the canvas and select any trigger f

[2022-06-15 09:07] btsgh commented on #14518
@dilippitchika  - noted. Thanks

[2022-06-15 09:17] sharat87 commented on #9851
We now do get a proper error message. Fixed as part of https://github.com/appsmithorg/appsmith/pull/13373.

[2022-06-15 09:17] sharat87 commented on #9851
Reopening to show a graceful error message on the client too.

[2022-06-15 09:21] sharat87 commented on #10628
@ankitakinger @Nikhil-Nandagopal is this fixed then? Can we close?

[2022-06-15 09:27] ghost opened #14563 "[Task]: Modular git APIs in BE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As of today (2022.06.15), `ssh-keypair` has multiple responsibilities:

- Fetching git-app associated keys
- Fetching available keyTypes (protocols)

In some scenarios:

- connect: after loading the modal, keyTypes is not available, so a network call has to be made to `ssh-keypair.`
- import: cannot

[2022-06-15 09:30] sharat87 opened #14565 "[Epic]: Backup and Restore via appsmithctl commands"
Introduce two new subcommands for `appsmithctl`, `backup` and `restore`.

## Archive contents

Create a dated archive with the following contents:

1. All data in the MongoDB database.
2. The git-storage folder’s contents, in full.
3. The `docker.env` file.
    1. Except the encryption values.
4. The exact version Appsmith at which this backup is being taken. Write this in a `backup-info.json` or

[2022-06-15 09:33] Nikhil-Nandagopal commented on #10628
@sharat87 I haven't tested this yet. Let me get to that and I'll close it

[2022-06-15 09:34] Parthvi12 opened #14566 "[Bug]: Saving an api as datasource throws 'Duplicate key error' intermittently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This is observed in cypress test `OAuthServiceValidation_spec.js` on saving an api as datasource throws error intermittently making the test flaky.

<img width="1434" alt="Screenshot 2022-06-15 at 2 14 41 PM" src="https://user-images.githubusercontent.com/80334441/173794456-dc9ec272-b973-4b5c-9f47

[2022-06-15 09:36] RakshaKShetty opened #14567 "[Bug]: The RSA key generation was not available for git import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The  RSA key generation was not available for git import
![image](https://user-images.githubusercontent.com/45958978/173795791-96cc46ae-06da-4565-a118-5779b0e35d59.png)

### Steps To Reproduce

1. From home page
2. click on 3 application setting
3. click on import menu
4. click on git import
5. ad

[2022-06-15 09:37] #10167 closed

[2022-06-15 09:37] #11713 closed

[2022-06-15 09:37] #12092 closed

[2022-06-15 09:37] #12094 closed

[2022-06-15 09:37] #12258 closed

[2022-06-15 09:37] #14309 closed

[2022-06-15 09:38] #9954 closed

[2022-06-15 09:39] ramsaptami opened #14568 "[Bug]: Variables that have just been defined on an object does not return expected values, only refreshing the page returns expected value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a widget property is assigned to a variable on a JS object, then the value is not correctly returned as seen in the video attached

### Steps To Reproduce

1. Drop various widgets onto the canvas and assign their internal properties to variables in a JS object
2. Display these as soon as they

[2022-06-15 09:58] RakshaKShetty opened #14569 "[Bug]: The RSA key generation was not available. for the new application is tried to connect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The RSA key generation was not available. for the new application is tried to connect
![image](https://user-images.githubusercontent.com/45958978/173799768-7ecc268e-5628-4f29-9c37-4e8011f92c9e.png)

### Steps To Reproduce

1. Add a new app
2. Click on connect git button
3. add the azure remote url

[2022-06-15 09:59] dilippitchika commented on #14506
Ok the only reason this happens in firefox is because we are able to drag the selected text in firefox, but this is not possible in chrome/edge browsers because the selected text is not automatically dragged.

The server not found error is shown because the dragged text is applied as a url in the page which then leads to an incorrect url thus showing server not found.

[2022-06-15 10:01] RakshaKShetty opened #14570 "[Bug]: If the Azure contains brackets in Remote URL then the URL is considered as invalid in spite of being valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If the Azure contains brackets in Remote URL then the URL is considered as invalid in spite of being valid
<img width="630" alt="image" src="https://user-images.githubusercontent.com/45958978/173801277-4b8acf11-7759-41a4-954b-d4f0f56fef53.png">

### Steps To Reproduce

1. From home page
2. click o

[2022-06-15 10:02] sharat87 opened #14571 "Save backups to S3"
S3 credentials will be available in `docker.env`, using which, all backup archives will be saved there.

[code]

The restore command should also pick up these configuration and be able to download the archive from S3 before restoring.

[2022-06-15 10:02] sharat87 opened #14572 "Take a backup automatically before an update is applied"
Configure and environment variable that describes the schedule of taking backups. Inside the fat container, this can be used to setup a cronjob that runs the export command at the defined schedule.

Something like:

[code]

If a scheduled backup job fails, then an email should be sent to everyone in `APPSMITH_ADMIN_EMAILS` with details of the failure including:

1. Reason of failure. Like out of d

[2022-06-15 10:03] sharat87 opened #14573 "Check available space before taking a backup"
If we can estimate the final size of the backup archive, we can use that to check if there's available space before attempting to take the backup. If not, let's do a check like at least min(10%, 5GB) of free space is available before proceeding.

[2022-06-15 10:04] sharat87 opened #14574 "A configurable way to clean up old backups"
Cleanups should have multiple cadences. Cleanup schedule should be inferred from a configuration that’s expressive of the following:

1. Keep last 7 daily backups.
2. Keep last 4 weekly backups.

This means, that for example, on 10-Dec-2020, the following backups will be retained and everything else will be deleted:

[code]

[2022-06-15 10:24] #14028 closed

[2022-06-15 11:00] #12391 closed

[2022-06-15 11:08] #14559 closed

[2022-06-15 11:16] rohan-arthur commented on #13932
dependent on this: https://theappsmith.slack.com/archives/CRVRBGU1K/p1655099347851899

[2022-06-15 11:16] ChandanBalajiBP commented on #14390
Closing this issue as its not reproducible in version 1.7.2 as well as in release.

[2022-06-15 11:16] #14390 closed

[2022-06-15 11:24] ramsaptami commented on #14517
@Nikhil-Nandagopal updated the issue description with screenshots of the other select widgets for clarity

[2022-06-15 11:43] sumitsum opened #14577 "[Task]: API server code refactor - DatasourceContextServiceCEImpl.java"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Remove usage of either `datasourceContextMap` or `datasourceContextMonoMap` in file `DatasourceContextServiceCEImpl.java` so that potential memory leak situation could be avoided. However, please note that I have verified that both the maps contain reference to the same `connection` object and hence

[2022-06-15 11:44] ramsaptami opened #14578 "[Bug]: Clicking on the dropdown icon on tree select widgets causes app navigation to the top of the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clicking on the dropdown icon on tree select widgets causes app control app navigation to the top of the canvas. This happens on view and edit mode of an application

### Steps To Reproduce

1. Drop a tree-select & multi-tree select widget at the bottom of a long page
2. Click on the icon dropdown

[2022-06-15 11:56] danciaclara opened #14579 "[Feature]: Support Button Group as a column type in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

only button, icons buttons and menu buttons available at the moment
 in-line buttons in the same column

### Why should this be worked on?

Asked by a discord user - https://discord.com/channels/725602949748752515/760761686549463060/986598023196975134

[2022-06-15 12:06] kripaVayana commented on #9978
Need access to windows object , so that it enables us to download the files from a URL or anyother source

[2022-06-15 12:29] #9819 closed

[2022-06-15 12:30] aswathkk opened #14580 "[Task]: Some Property pane components re-renders when they are not supposed to be"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The following components are re-rendering when we make a small change to any property in the property pane
- PropertyPaneSidebar
- PropertyPaneView
- ProeprtyPaneConnections
- CodeEditor

[2022-06-15 12:35] jnikhila commented on #14538
@dilippitchika - do we need to document this? CC: @Nikhil-Nandagopal

[2022-06-15 12:48] ashit-rath commented on #14198
@Aishwarya-U-R Ideally the output should contain "Dark Blue" and "Light Blue" as well. Can you create a separate issue for this?

@dilippitchika @souma-ghosh Something we should take care in the Select family epic?

[2022-06-15 13:02] #13723 closed

[2022-06-15 13:03] Pranay105 commented on #13542
I'll pick this up in the next sprint @vuiets

[2022-06-15 13:33] harshilp24 commented on #14459
@pranavkanade can you provide the priority level for this ticket?

[2022-06-15 14:00] Nikhil-Nandagopal commented on #14146
This seems to be working now so closing this

[2022-06-15 14:00] #14146 closed

[2022-06-15 14:56] rohan-arthur opened #14584 "[Bug]: App crashes when query returns 0 rows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I was not able to reproduce this, but a couple of users have reported issues with their apps crashing when they run a query that returns 0 rows.

[forum link](https://community.appsmith.com/t/mysql-query-that-returns-empty-table-results-in-error-screen/1084/9)

things to note:
1. user is on self h

[2022-06-15 15:37] #13769 closed

[2022-06-15 16:04] AmanAgarwal041 commented on #14584
Closing this issue as the fix for this is already merged into release.
Similar Issue: [14493](https://github.com/appsmithorg/appsmith/issues/14493)
Linked PR: [14502](https://github.com/appsmithorg/appsmith/pull/14502)

[2022-06-15 16:04] #14584 closed

[2022-06-15 16:10] #10628 closed

[2022-06-15 16:36] ame-appsmith opened #14585 "[Feature]: Improve Error Message When Datasource Re-Authorization Is Needed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Sometimes a user might start receiving the error `Execution failed with status 5000` when running their queries/APIs. This error message is not very helpful for the user.
![image](https://user-images.githubusercontent.com/101268423/173879477-f39406bd-bb27-4b25-8baf-a389f216777a.png)
If queries/APIs ar

[2022-06-15 17:24] abhvsn opened #14586 "[Feature]: Improve sanity check for import application flow to avoid intermediate failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As application files are shared with the users, there are high chances that import might fail because of the incorrect updates made to the exported files.

### Why should this be worked on?

As we are using the import-export service for serialization and deserialization of the DB objects, in such situ

[2022-06-15 18:51] cactuska commented on #8548
We are also using as400 systems, adding the driver enable us to use this nice solution

[2022-06-15 21:30] felixsuarez0727 opened #14587 "Add page to copy SaaS related collections from Prod to Release for Cypress Testing"
**Changes are being done on the `feature/add-import-data-page` branch of the SaaS App.**

A new page must be created to export the data from the Prod database to the Release database.

Important points to do:

- [x] Only run on collections related to SaaS Integrations: `plugin`, `actionTemplate`, `datasourceTemplate`.
- [x] Approve queries before running.
- [x] Show a confirmation before running t

[2022-06-15 23:14] ohansFavour commented on #14503
Two issues here

1. Errors found while executing a js function don't get logged in the debugger.
2. `myVar2: Input1.text.toString()` causes parsing of the js object to be wrong.

[2022-06-16 02:10] felixsuarez0727 commented on #14370
![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/06a6970a-d1b1-4ace-831a-671a38f9df0a)

@AmanAgarwal041 , the issue can still be reproduced on the branch `fix/12220-missing-fields`

[2022-06-16 02:11] felixsuarez0727 commented on #14370
Latest update from @ApekshaBhosale :

"Update: This issue is not reducible on dev for some reason. I tried with Master and with release branch. I checked if any one of our fix is fixing this issue but doesn’t seem to be the case. I will keep the eye out with what possible scenarios this can happen "

[2022-06-16 03:29] yatinappsmith commented on #14333
Cannot be verified

[2022-06-16 04:34] #10749 closed

[2022-06-16 04:34] #10752 closed

[2022-06-16 04:34] #10925 closed

[2022-06-16 05:03] dilippitchika commented on #10332
@ashit-rath while we can remove the options non JS property, but based on the data more than 50% of users don't convert options to JS here.

My first preference would be solution 2 and if we are unable to figure out a clean way then move to solution 1 or 3. Can you expand more on what de-risking few things means?

[2022-06-16 05:09] dilippitchika commented on #14578
@vivekverma2312 can you check this once? i thought Tolu's recent PR fixed this.

[2022-06-16 05:11] dilippitchika commented on #13854
@jsartisan assigning to you, please check the design and estimate. Reach out in case of confusion

[2022-06-16 05:13] dilippitchika commented on #14538
Hey @jnikhila yes, we should add a section for this and what they can do if they encounter this limit. Let me write a draft and share it with you.

[2022-06-16 05:17] dilippitchika commented on #14198
@Aishwarya-U-R what is the mode selected? I can't see it from your screenshot. If you have selected display all items then it works as expected.
<img width="1035" alt="Screenshot 2022-06-16 at 10 46 46 AM" src="https://user-images.githubusercontent.com/19730984/173996613-a94fd85a-7dcd-4555-9ba9-720046d4388d.png">

[2022-06-16 05:28] ashit-rath commented on #10332
@dilippitchika To make the solution 2 we would have to ensure few things
1. When the JS mode is toggled we update the DSL in the appropriate time frame to avoid any possible race condition.
2. We also have to make sure that the conversion is lossless.
Eg:
a. If in JS mode the options structure is incorrect and the user disabled the JS mode, we won't be able to convert it correctly as the structure

[2022-06-16 05:33] chandannkumar commented on #14578
@dilippitchika It is observed that the issue still exists, as i can see the same issue was fixed at #11485

[2022-06-16 05:33] techbhavin commented on #14069
here is the library issue tooltip working fine with a click but there is an issue while touching.
@dilippitchika

[2022-06-16 05:37] danciaclara opened #14588 "[Enhancement]: Style options missing for Button, Icon Button and Menu button column types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The Table widget has style properties for all column types except the Button, Icon Button and Menu Button column types.

The missing ones are

- Text Align
- Text Size
- Font Style
- Vertical Alignment
- Text Color
- Cell Background

Alignment options should be also present in Audio and Video type

##

[2022-06-16 05:39] Aishwarya-U-R opened #14589 "[Bug]: Clicking ‘Build with drag & drop’ card should land user in Widgets tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clicking on ‘Build with drag & drop’ card currently user is taken to Explorer even though canvas says ‘Drag and drop a widget here’

### Steps To Reproduce

1. Create a new application, new page
2. Click on 'Build with drag & drop’ card
3. Observe user is taken to - Explorer tab - with canvas tell

[2022-06-16 05:44] ramsaptami commented on #14146
As Anand mentioned, API call is working fine now. But running `updateLabel` function from the editor itself returns an error seen only on the `Response` tab of the debugger, but no errors are present in the `Errors` tab. This issue is being tracked in #14503.

@ohansFavour please refer to this **app+function** as well when solving this issue since we'll need to verify fix here as well

![image](ht

[2022-06-16 05:47] vuiets opened #14590 "[Task] Invite user flows"
As a part of the new role-based access control (RBAC), understand the problems and breakdown the invite user flows
* To an instance
* To a user group
* To a workspace
* To an app
* To a page

From a UX standpoint, this translates to invites from
* _Users_ page
* _User groups_ page
* _Homepage_ > _Workspace_ listing page
* _Application_ page

[2022-06-16 05:52] IAmAnubhavSaini commented on #13642
This is reproducible. Working on it.

[2022-06-16 05:58] ramsaptami commented on #14252
#14210 may have fixed this issue since it hasn't been reported, hence closing this for now. We can reopen if this comes up again

[2022-06-16 05:58] #14252 closed

[2022-06-16 06:20] dilippitchika commented on #14578
Thanks Chandan, closing this in favor of #11485

[2022-06-16 06:20] #14578 closed

[2022-06-16 06:25] ramsaptami opened #14591 "[Bug]: Running an API query returns a missing organization ID error for an unsaved datasource (existing apps)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Running an API query using a URL as is (i.e, without saving it as a datasource) returns an error for missing organization ID. This is observed on already existing queries, not newly created ones.

### Steps To Reproduce

1. Use an API URL to run a query without saving it as a datasource and observ

[2022-06-16 06:28] ohansFavour commented on #14146
@ramsaptami I have identified three different issues from RCA. I have described them [here](https://github.com/appsmithorg/appsmith/issues/14503#issuecomment-1157062955). All of these will be handled [here](https://github.com/appsmithorg/appsmith/pull/14555).

[2022-06-16 06:29] ayushpahwa opened #14592 "Extract single line components from the console feed library so it can be merge into logs tab"

[2022-06-16 06:36] nidhi-nair commented on #9819
Hey @anvaravind! Thanks for contributing to the Appsmith repository! We've merged in your PR, it should show up as part of our next release. 😄

Please do let us know if you have any feedback around your experience with contributing to Appsmith. If you'd like to contribute to Appsmith some more, please have a look at our issues marked as `Good First Issues`.

[2022-06-16 06:36] ayushpahwa opened #14593 "Merge the current line items from logs tab and new console feed line items into a single page in logs tab"

[2022-06-16 06:38] ayushpahwa opened #14594 "Add metrics log to console functions for tracking in mixpanel"

[2022-06-16 06:48] nidhi-nair opened #14595 "[Task]: Switch out plugin editor configuration references from remote to local files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As part of closing UQI, we'll need to move the remote files to a local folder.

[2022-06-16 06:50] IAmAnubhavSaini opened #14596 "[Bug]: Commit message input becomes enabled for a short while after commit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I commit changes, commit message input box becomes enabled for a short while.

I should not see enabled input box again.

### Steps To Reproduce

1. Make some changes in git backed app.
2. Commit changes
3. Notice that after successful commit, we see enabled input box for a while. (Around 00:

[2022-06-16 07:02] ramsaptami opened #14598 "[Bug]: Incorrect syntax is generated when using binding on target window field for postMessage action on the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When changing target window values from plain text to a binding, the plain text URL syntax `'_url_'` does not get cleared completely. This causes a syntax error when it is replaced with a binding and goes on to retain text even after removing it from the message field of the property pane.

### St

[2022-06-16 07:19] #5514 closed

[2022-06-16 07:20] rohitagarwal88 commented on #5514
The issue is fixed on live. closing it

[2022-06-16 07:21] Aishwarya-U-R commented on #14198
@dilippitchika - Yes, I also have the mode set to "Display all items".
And the question here is : If 'BLUE' which has some child items is set as fallback "Default Value" then resetting the widget - should contain child items also when `{{MultiTreeSelect1.selectedOptionValues}}` is used somewhere or not?

In above image you can see that when `{{MultiTreeSelect1.selectedOptionValues}}` displayed in

[2022-06-16 08:16] prapullac commented on #14117
Hi @sumitsum
Please find the test cases attached[ here](https://github.com/appsmithorg/TestSmith/issues/1891)

[2022-06-16 08:17] prapullac opened #14600 "[Bugs] : In fetch many operations the columns dropdown filter doesn't retain the filter when the user switches to canvas"
Steps to reproduce:
1) Navigate to Fetch Many
2) Add data to the required fields
3) Add data into the Column field from the dropdown
4) Run the Query
5) now navigate to Canvas and move up and down
6) Navigate back to Query and observe the column field is empty

Expectation :
It is expected that the column name remains intact and does not empty on navigating back to Query

[2022-06-16 08:20] chandannkumar commented on #14305
Tested this in PR #14492 and working as expected

[2022-06-16 08:41] ramsaptami opened #14601 "[Bug]: Share modal in view mode opens up multiple modals and appears glitchy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Share modal in view mode opens up multiple modals and appears glitchy. This does not happen all the time but this behaviour can be observed by repeating the action a couple of times

### Steps To Reproduce

1. Go to view mode of any app and click on the share button to see a glithcy behaviour as s

[2022-06-16 08:56] ramsaptami commented on #14591
@sidhantgoel Copying the query returns an error seen in the screenshot

![image](https://user-images.githubusercontent.com/79509062/174033239-b7ef1f64-458b-4f36-974a-9035a1f5c400.png)

[2022-06-16 09:03] #14265 closed

[2022-06-16 09:03] #14392 closed

[2022-06-16 09:22] Aishwarya-U-R opened #14602 "[Bug]: Info type toast message to have an Info icon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="190" alt="Screenshot 2022-05-10 at 4 02 52 PM" src="https://user-images.githubusercontent.com/91450662/174036814-8e788e9d-af14-47f3-81d3-c67789318c3f.png">

### Steps To Reproduce

1. Drag drop a button onto canvas
2. Set its onClick event to show toast message with type 'Info'
3. Clic

[2022-06-16 09:47] #10833 closed

[2022-06-16 10:20] jnikhila commented on #12581
Added App links. @Pranay105 - Please review.

[2022-06-16 10:46] danciaclara commented on #5502
A user has asked for this
https://community.appsmith.com/t/how-to-specify-our-own-oauth-client-id-and-secret-for-google-sheet-integration/1088

cc: @rohan-arthur @ajinkyakulkarni

[2022-06-16 11:05] IAmAnubhavSaini commented on #14570
@vuiets Do we want to support `()` in repo URL?

[2022-06-16 11:09] gokulkiot opened #14606 "[Feature]: please add option to connect using tls in mongoDB."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

dear team,

There is no option in appsmith to connect to mongoDB using tls
using CA certificate(.crt file) and pem certificate key (.pem)file.

We tried with mongo url as well but the connection failed.
something like
mongodb://username:pass@url:27017/admin?tls=true&tlsCAFile=mongoCA.crt&tlsCertificat

[2022-06-16 11:11] IAmAnubhavSaini commented on #14569
@AnaghHegde is working on this. We need a new API that will return only the key types.

Ref: https://github.com/appsmithorg/appsmith/issues/14563

[2022-06-16 11:13] #14106 closed

[2022-06-16 11:16] #13931 closed

[2022-06-16 11:16] #14305 closed

[2022-06-16 11:16] danciaclara commented on #3668
A user was asking if they can change the default colour of the line
![unknown (1)](https://user-images.githubusercontent.com/32227135/174058611-b2758be1-8d8d-4455-bc7a-adf7914bd532.png)

[2022-06-16 12:54] #14591 closed

[2022-06-16 13:05] rahulramesha opened #14608 "[Bug]: Able to nest Modal widget inside containers while pasting in a group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Modal widget should always exist on the main Canvas and should never be inside containers.

When pasting a modal widget while a Container widget is selected will paste the modal widget in the main canvas instead of a container. But, when the modal widget is copied in a group with other widgets, an

[2022-06-16 13:28] mikklingvall commented on #14197
I second this request for Graph DB support!

More specifically, i'd like to see integration of the Bolt protocol, so Appsmith can connect to and interoperate with Neo4j, Memgraph, and RedisGraph.

If that would require a lot of dev hours, i would like for the existing Redis integration to include the Redis Stack commands to at least get one openCypher Graph DB connected to Appsmith.

If the Redis

[2022-06-16 14:10] emilvidmark commented on #14591
When will this be released? we are in quite a hurry right now for this to be solved

[2022-06-16 14:29] cobrimusic commented on #14591
This issue has been deployed?

[2022-06-16 14:36] emilvidmark commented on #14591
Even though I'm updating with the newest release as mentioned here: https://docs.appsmith.com/setup/docker
it doesn't seem to solve the issue?

[2022-06-16 14:48] emilvidmark commented on #14591
Thanks @ramsaptami

[2022-06-16 14:48] mikklingvall opened #14610 "[Feature]: Graph DB integrations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I want Appsmith to integrate with Labelled Property Graph DBs such as Neo4j, Memgraph, RedisGrah, and ONgDB. They all support openCypher which is the basis for the upcoming Graph Query Language (GQL) ISO standard (not to be mistaken for the GraphQL API). Neo4j already provides a generic JS driver for

[2022-06-16 15:21] ajwillia commented on #14535
I'm also experiencing the same issue; have a REST API that is long running (90-200+ seconds).  I ended up implementing a temporary work-around by adding the following lines to nginx.conf and restarting nginx
        proxy_send_timeout 300s;
        proxy_read_timeout 300s;
        fastcgi_send_timeout 300s;
        fastcgi_read_timeout 300s;

[2022-06-16 15:45] rubabuddin commented on #14591
Thanks team - can we have instructions on how to rollback versions manually in situations like this?

[2022-06-16 16:43] felixsuarez0727 opened #14611 "Add tooltips,subtext and placeholders in the query screen - Airtable Integration"
Recently, was implemented the functionality of being able to add a tooltip and subtext to dynamic variables, so Airtable's variables will be updated as well.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/a6b8f045-4850-4db5-a797-de5247eedc61)

[2022-06-16 16:51] felixsuarez0727 commented on #14370
**Updates:**

- The observations stated on this issue have been resolved.

- Another issue will be created to further improve the helper texts of the Airtable integration (subtitle, tooltip, placeholder) [#14611](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/14611)

[2022-06-16 17:14] hawisizu commented on #14591
hello there! Sorry to be pushy, but do you have an ETA about the release of the correction? thanks a lot!

[2022-06-16 17:27] ramsaptami opened #14612 "[Bug]: Cyclic dependency issue observed for an API query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A cyclic dependency issue has cropped up postfix for #14599 for API query that has not been configured as a datasource. All widgets on the canvas are glitching up because of this cyclic dependency issue

### Steps To Reproduce

1. Go to app at [this](https://release.app.appsmith.com/app/scratch-pa

[2022-06-16 17:44] felixsuarez0727 commented on #12220
**Updates:**

- The observations stated on this issue have been resolved.

- Another issue will be created to further improve the helper texts of the Airtable integration (subtitle, tooltip, placeholder) [#14611](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/14611)

[2022-06-16 18:30] ramsaptami commented on #14591
This seems to happen on existing API queries that were not saved as a datasource, so editing the URL on your query or re-creating the query with all the same details should help clear this error. Could you'll try one of these workarounds while we work on getting the fix out please?
Also, to add, in case you'll choose to recreate a query with the same name, it shouldn't create an issue since backwa

[2022-06-16 20:47] xolyu commented on #13976
I have the same problem with Appsmith version 1.7.3, with my installation via Docker Compose.

I can send the test email without any problems, but the invitation email and password reset emails do not work.

Via GUI, I configured the email settings. I have set "From Address" and "Reply-To Address" to the same email address.

When I do a password reset or invite a user, the following is logged, I c

[2022-06-16 21:01] rubabuddin commented on #14591
Recreating the query did not work. Also that would be an extremely time consuming process for # of queries per app.

Do we have an ETA on the resolution?

[2022-06-17 02:14] sharat87 commented on #14473
Hey @vmatt, Appsmith supports installing custom root CA certificates. The docs for how to do this weren't merged until now, which I just did. Please follow steps at https://docs.appsmith.com/setup/instance-configuration/custom-ca-root-certificate to make your root cert available to Appsmith server. Thanks.

[2022-06-17 03:12] #14471 closed

[2022-06-17 03:21] aswathkk commented on #6797
We've disabled the JS toggle button unless a proper value is passed to the code. (merged to release)
This issue can't be reproduced anymore.

[2022-06-17 03:21] #6797 closed

[2022-06-17 04:39] #11701 closed

[2022-06-17 05:36] abhvsn commented on #14498
@Nikhil-Nandagopal I was digging through this and wanted to comeup with alternate approach as newline is not supported by JSON:
https://stackoverflow.com/a/52557585/13092339

Considering the current limitations we can split the string into array and then serialize. The major issue here is we end up attaching `""` for each line.
Output for ref:
[code]

Will this be good enough? I'm looking for more

[2022-06-17 05:48] kocharrahul7 opened #14614 "[Bug]: Sometimes, the user isn't able to see the run button in the onboarding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When certain users do the user onboarding, they do not see the red run button. It does not load in for all users

### Steps To Reproduce

Not easily replicable, will add recordings if we can identify them

### Public Sample App

_No response_

### Version

1.7.1 cloud

[2022-06-17 05:52] vuiets commented on #14570
Sure, from the looks of it Azure supports it in URLs. Any downsides to doing this?

[2022-06-17 05:57] vuiets commented on #13736
Alright in this scenario, where we are on a page that's going to be discarded, can we redirect to the home page after the discard?

[2022-06-17 06:01] ramsaptami opened #14616 "[Bug]: Image widget re-renders a couple of times before displaying dynamic data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Image widget re-renders a couple of times while displaying dynamic data via a trigger making it look very glitchy.

### Steps To Reproduce

1. Use https://api.thecatapi.com/v1/images/search URL to fetch random images on a button click as seen in the video and observe the re-renders on the image wi

[2022-06-17 06:33] Rishabh-Rathod opened #14618 "[Task]-[7142.85]: Use AST parsing of JS function to determine isFunctionAsync"
### Issues this task aim to resolve
- https://github.com/appsmithorg/appsmith/issues/14229
- https://github.com/appsmithorg/appsmith/issues/13888
- https://github.com/appsmithorg/appsmith/issues/11589
- https://github.com/appsmithorg/appsmith/issues/12639

### Problems with current approach

when we try to parse JS function which has
1. a conditional code ( myFunc2 ) or
2. a code with data which i

[2022-06-17 06:44] shadabbuchh opened #14620 "[Bug]-[166]:User gets "Actions" & "Events" (duplicate) sections in the Property Pane which save the same purpose"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There are two issues:

1. A user is able to see both `Actions` & `Events` sections in the `Property Pane` for `TreeSelect` & `MultiTreeSelect` widgets which save the same purpose of providing the user with `onOptionChange` property. This can be confusing for the user as both have the same usage.
2

[2022-06-17 06:56] Nikhil-Nandagopal commented on #14541
Whoops! Fixed it 😀

[2022-06-17 06:56] Rishabh-Rathod commented on #14618
Closing this as parsing changes implemented by Apeksha complete above tasks.

[2022-06-17 07:03] jingrenlim commented on #14591
Recreating does work. You have to create like its brand new. You cannot copy. But that would be extremely time consuming to do for the many API endpoints in each page.

Do we have an ETA on the resolution?

[2022-06-17 07:04] shadabbuchh opened #14622 "[Bug]: Widgets overlap with the border of container widget when the border radii are different"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On placing a widget inside a container widget, the border of the container widget gets overlapped with the widgets inside when the `Border Radii` for the widgets are different.

![Uploading Screenshot 2022-06-17 at 12.28.09 PM.png…]()

### Steps To Reproduce

1. D&D a `Container` widget.
2. Add a

[2022-06-17 07:10] Nikhil-Nandagopal commented on #2033
@manikumarnune123 could you mention which widget ar you looking to add?

[2022-06-17 07:14] RakshaKShetty opened #14623 "[Bug]: Dummy data is displayed in the Access control section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Dummy data is displayed in the Access control section
<img width="994" alt="image" src="https://user-images.githubusercontent.com/45958978/174245750-56fd35e8-0df0-4be9-9634-5d7098a2b266.png">

### Steps To Reproduce

1. Pull the ee release
2. login with appsmith id
3. The access control section wi

[2022-06-17 07:15] #14473 closed

[2022-06-17 07:16] mohanarpit commented on #14591
**Update:** Apologies for this bug. We appreciate your patience as we fix the problem. We will also post a more detailed RCA shortly.

As we speak, we are in the process of releasing a new version v1.7.4. This should be available for all self-hosted instances within 2 hours. This is because our CI takes time to run all tests & build the Docker images for various platforms (x86 and ARM).

[2022-06-17 07:18] RakshaKShetty opened #14624 "[Bug]: The header gets added by default in API Pane when the user switches between body and header tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The default header gets added by default in API Pane when the user switches between body and header tabs
https://www.loom.com/share/0dd89cd153b54c71a11f86bc5820d968

### Steps To Reproduce

1. Go to api pane
2. Add a mock Api
3. Now click on body and come back to header tab
4. The default header w

[2022-06-17 07:23] btsgh commented on #14327
Also seeing this behavior on deploy if the checkbox group widget is placed at the top of the page -
<img width="763" alt="Screenshot 2022-06-17 at 12 53 05 PM" src="https://user-images.githubusercontent.com/101863839/174247345-ceea21b6-f05d-42b9-b3b2-8eb4ea9aef07.png">

[2022-06-17 07:33] prapullac opened #14626 "[Bug]: confirmation pop doesn't appear in old application but works in new org"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user adds an API and navigates to the setting page to select the confirmation pop but on RUN in the API pane the pop-up is displayed to the user when binded to the Table on the canvas it is observed that COnfirmation Pop up does not appear.

### Steps To Reproduce

1) Add an API
2) Naviga

[2022-06-17 08:01] ankitakinger commented on #14623
This is expected. These screens have been implemented with dummy data. We will be updating this once APIs are ready so we can integrate the FE with the same.

[2022-06-17 08:01] #14623 closed

[2022-06-17 08:01] ramsaptami commented on #13308
The issue is back on release now and needs to be looked at

[2022-06-17 08:17] HantaoCai commented on #14591
Please let me know when the repair is complete

[2022-06-17 08:24] kocharrahul7 opened #14628 "[Bug]-[400000]:In signposting, clicking a page tab doesn’t take the user to the page but shows the next step in the checklist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the signposting checklist, checklist, clicking a page tab doesn’t take the user to the page but shows the next step in the checklist

https://user-images.githubusercontent.com/20532920/174258216-c39e1632-9701-4dec-a59f-d25ce6fe4e0e.mov

### Steps To Reproduce

Create a new account
select I want

[2022-06-17 08:29] IAmAnubhavSaini commented on #13179
This has been fixed.

![Screenshot 2022-06-17 at 1 58 41 PM](https://user-images.githubusercontent.com/1573771/174259282-9a5a8b9a-bc64-47ab-a4b5-e9e36bb6b1a2.png)

[2022-06-17 09:05] trishaanand opened #14631 "[Bug]: Do not expose workspaceIds inside User object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

{{appsmith.user}} object on the client side should not expose internal fields like workspaceIds or enableTelemetry and others. Similarly server should also not send workspaceIds in response to `/me` api call.

### Steps To Reproduce

Observe the /me API call response.

### Public Sample App

_No r

[2022-06-17 09:26] somangshu commented on #13648
@vivekverma2312 what is the update here? This has been sitting in the pipeline for over a month now

[2022-06-17 10:10] Aishwarya-U-R opened #14635 "[Bug]-[547]:Table row selection to be visibly shown/highlighted when Cell background applied too"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/174277283-86f6b6cd-72b3-43eb-bbbc-f11ef0d94dbc.mov

### Steps To Reproduce

1. Drag drop a table widget onto canvas
2. Map some data for display
3. Apply cell background colour for all columns
4. Deploy & Select some random rows
5. **Observe : Row

[2022-06-17 10:20] mohanarpit commented on #14591
**Update:** The fix for this issue has been released in [v1.7.4](https://github.com/appsmithorg/appsmith/releases/tag/v1.7.4). If your instance has been set to auto-update, you should simply refresh your browser page and everything should ideally start working. If you don't have auto-update setup, I'd highly recommend that you update to v1.7.4 manually by following the instructions [here](https://

[2022-06-17 10:25] AnaghHegde opened #14637 "[Bug]: Date picker Widget drop down for the year takes away the whole screen."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As you can in the below app, the year option takes the whole screen.
<img width="77" alt="Screenshot 2022-06-17 at 3 30 26 PM" src="https://user-images.githubusercontent.com/12005551/174280215-84d2b5d6-301f-42a8-951c-9a052f80ad14.png">

### Steps To Reproduce

1. Create an App and add a date picke

[2022-06-17 10:38] IAmAnubhavSaini opened #14638 "[Task]: throttle apis"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

git merge-status and git sync-branches can be called multiple times in quick succession

[2022-06-17 10:43] somangshu commented on #3668
@danciaclara it should be possible with the help of customCharts, [Here](https://www.fusioncharts.com/dev/chart-attributes/line) is a list of attributes that are configurable in fusion Charts.

[2022-06-17 10:45] dilippitchika commented on #14637
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 736 |
| Effort (months)  | 0.5 |

[2022-06-17 10:46] dilippitchika commented on #14637
Only show some years (Current year+5 and current year -5) and show a scroll for the rest of the years.

[2022-06-17 10:57] somangshu commented on #9965
Sure @abhvsn

@jnikhila here we are talking about the communication between the embedded page and appsmith platform. I.E how does one trigger an event (with some data) in appsmith from the page that is embedded in an appsmith iFrame widget! To resolve this we are using `window.postMessage()` [API](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage). We have a sample app [here](htt

[2022-06-17 10:58] Rishabh-Rathod opened #14642 "[Bug]: User Application crash with `out of memory error`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A discord user is facing out of memory error when opening Appsmith application in edit mode. Everything works fine in view mode.

Video where user is showing RAM consumption and crash issue - https://monosnap.com/file/za6wp0F6fIjrGh7kGO6UOFhQDGzfi9

Discord link - https://discord.com/channels/7256

[2022-06-17 11:22] shadabbuchh opened #14643 "[Bug]: Issues related to tooltips in the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Following are issues related to the tooltip component throughout the app:

1. The content of the tooltip when user tries to add more than 4 nested where condition groups is not proper.
<img width="1003" alt="Screenshot 2022-06-17 at 4 07 16 PM" src="https://user-images.githubusercontent.com/399214

[2022-06-17 11:30] abhvsn opened #14645 "[Bug]: Custom themes are not getting copied for create branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If user have git connected application with custom theme. If user tries to create a new branch ideally new theme should be created in DB so that changes can be tracked separately in branched application. As per current implementation same theme ids are getting copied in branchedApplication, so we

[2022-06-17 11:44] ramsaptami opened #14646 "[Bug]: Browser console returns a 404 when switching between pages of an app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Seeing a `404 Page not Found` on the browser console while switching between pages of an app. The save state of the app goes from the green checkmark icon to a yellow error state when this happens. This is causing app flow to break since URL query param is being used to run queries which are in tu

[2022-06-17 11:47] aswathkk opened #14647 "[Bug]: Max Zoom Level is not allowing to disable JS toggle until we remove the data from the field."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Max Zoom Level in image widget is not allowing to disable JS toggle until we remove the data from the field.

![image (4)](https://user-images.githubusercontent.com/10436935/174292301-4b1c36e8-4995-455e-bdca-3daaa70104ca.png)

### Steps To Reproduce

Add image widget. Toggle JS for zoom level prop

[2022-06-17 12:01] DanPhonovation commented on #14535
This sed will do the job if anyone wants to include it in their own Dockerfile:
[code]

[2022-06-17 12:12] heedfull commented on #14535
Here is a screen shot of the issue, when running appsmith using the provided docker image
![image](https://user-images.githubusercontent.com/2331676/174295727-1a8dfb68-50ba-4fea-ad13-b40c6e313a0f.png)

[2022-06-17 12:27] somangshu commented on #13808
@dilippitchika can we have RICE prioritization here?

[2022-06-17 12:58] AmanAgarwal041 commented on #14626
Unable to reproduce this issue. So removing the `Release Blocker` label for now and waiting for the progress of reproducing this issue.

[2022-06-17 13:14] Nikhil-Nandagopal commented on #14628
60% of users go through sign posting
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 20000 |
| Effort (months)  | 0.1 |

[2022-06-17 13:17] somangshu commented on #14417
cc @dilippitchika @sbalaji1192

[2022-06-17 15:05] ramsaptami opened #14653 "[Bug]: Consecutive storeValue calls don't work and only the first call is executed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Consecutive `storeValue()` does not work anymore - regressed issue. Only the first call goes through

### Steps To Reproduce

1. Use consecutive `storeValue()` bound either in a widget JS or in a `promise.all()` and observe that the code fails and saves only the first `storeValue()` call

https://

[2022-06-17 15:09] felixsuarez0727 commented on #14108
The problem was solved

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/09fff905-b068-441f-b21c-0a83403ac526)

[2022-06-17 15:09] #14108 closed

[2022-06-17 15:58] Kalavadiya-Harshal opened #14654 "[Feature]: Call different different query / API for different Tab selection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Can we call different query / API on Tab selection option?
For example, I have 2 tabs and I want to call different queries when I select those tabs.
When I select Tab 1 that time I want to call Query 1 and similarly when I select Tab 2 that time I want to call Query 2.

### Why should this be worked o

[2022-06-17 16:18] Rishabh-Rathod commented on #14653
This doesn't seem to me an issue, until it was working earlier.

#### Code used in the application
[code]

#### Ideal implementation

- Promise chain

[code]

- With Promise.all()

[code]

[2022-06-17 16:33] felixsuarez0727 opened #14655 "[Bug]: Inputs inside Lists automatically add values on different pages in the Run modal of the Saas Manager App."
On the Run modal (SaaS Manager App), when you write a data in the first input and move to the next page, that data is already in the first input. Only the first input is overwritten, the others work fine.

The following video shows the problem:

https://images.zenhubusercontent.com/275993885/a10e18f8-c30c-4b4f-b4a1-834cbc416dde/video1994857732.mp4

[2022-06-17 16:56] felixsuarez0727 opened #14656 "Fix the problem of deselecting rows in the action table in Saas Integration Manager"
When a row of the table is selected it is changed to the first row always

The following video shows the error

https://images.zenhubusercontent.com/275993885/b7be6c57-e580-43dd-a946-2e40dc6cce8d/video2994857732.mp4

Possible error:

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/d7cb603c-a415-42db-a0e4-7038df2f819b)

I should investigate how to keep the row that is se

[2022-06-17 17:07] ramsaptami commented on #14653
Including another [app's object](https://release.app.appsmith.com/app/earworm/debugging-page-62a32578f4e3980741ff56e2/edit/jsObjects/62a32578f4e3980741ff5760) where the promise code was working previously, but now only saves the first store value

Code:
[code]

Response:
![image](https://user-images.githubusercontent.com/79509062/174345233-fac2feed-0b5f-4e15-8cd6-03ffb16fed4a.png)

[2022-06-17 17:25] ramsaptami opened #14657 "[Bug]: Browser console shows canvas widget is undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Browser console throws an error for missing default and meta properties of list widget when bound data has not been run yet. This has the potential of creating confusion with users and needs to be removed.

### Steps To Reproduce

1. Go to app at [this](https://release.app.appsmith.com/app/earworm

[2022-06-17 22:18] Rishabh-Rathod commented on #14653
Yes, this seems like an issue where `Promise.all(tokens)` didn't wait for all promise to resolve.

Steps to reproduce
1. Click on `appIcon` to authorize
<img width="393" alt="Screenshot 2022-06-18 at 3 02 12 AM" src="https://user-images.githubusercontent.com/23132741/174403851-0fc82829-16e6-45ea-9a17-99fe368a8c1b.png">

2. Check logs.
3. To again reproduce, clear store and repeat step 1
<img width

[2022-06-18 04:44] paulcoates opened #14659 "[Bug]: APPSMITH_INSTANCE_NAME is not escaped when being stored in docker.env. Can result in entrypoint.sh failure."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I changed the name of my appsmith instance in the web interface to something with a space in it. For example "XYZ Group".  When starting the container, the entrypoint.sh bash script is fails due to space in the string with the following error.
[code]
Expected behaviour is that container is able to

[2022-06-18 13:05] trishaanand commented on #14646
I triaged this with the help of @ramsaptami. Here are the findings :

The page save API URL is incorrect. The page id is correct but the layout id to which it is trying to save it is actually from the previous page (the page from where we switched to the current one).
So, lets suppose we are on page 1. Page 1 has id `p1` and layout id `l1`
Now we switch to page 2. Page 2 has id `p2` and layout id

[2022-06-18 15:32] Rishabh-Rathod commented on #14642
As user application is huge here and has lot of table and JSONForm widgets which increases the propertyPaths.

When we try to `logSuccessfulBindings` for user application initial evaluation has 3549 propertyPaths paths.

We are trying to log these 3549 events to segment after 1st evaluation has completed, this causes `out of memory error`

<img width="1419" alt="Screenshot 2022-06-18 at 8 41 15 PM

[2022-06-18 18:40] abhishek818 commented on #14003
@sumitsum  can I take this up?

[2022-06-19 12:02] ankitakinger commented on #13976
Thank you for the detailed explanation @xolyu.
We'll pick this up this week and fix it. Thanks for pointing this out.

[2022-06-19 14:23] xolyu commented on #13976
Thank you for the quick turnaround @ankitakinger

The problem is not completely fixed by your change.

You are turning the function of the GUI toggle item _"TLS Protected Connection"_ to the `APPSMITH_MAIL_SMTP_TLS_ENABLED` setting, that is correct.

However, there is a second toggle value `APPSMITH_MAIL_SMTP_AUTH` in the config, this one has *no* GUI element (yet).

In the file 'app/client/src/pa

[2022-06-19 16:42] Rishabh-Rathod opened #14664 "[Bug]: onPageLoad Action not running on load ( onLoad )"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Discord user loom recording - https://www.loom.com/share/036a7d6106a1460eb0e4730f25d68cb6

Discord user message - https://discord.com/channels/725602949748752515/986691843343384596/986878259629269002

![SCR-20220619-un6](https://user-images.githubusercontent.com/23132741/174491418-c6f908a5-088b-48

[2022-06-19 16:58] ramsaptami opened #14665 "[Bug]: Incorrect UI is displayed when trigger functions is used with promise calls in JS mode and it's changed to non-JS mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Any trigger function that's got a promise code attached to it on JS mode and then this toggle is turned off, the UI changes to incorrect fields and value mapping as seen in the video and screenshot attached. The UI self-corrects in some instances and clears there incorrect field mappings but this

[2022-06-19 17:50] Parthvi12 opened #14666 "[Bug]-[6000]:For Api which returns string datatype as response, the table in response tab doesn't show any data."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/174493807-fdb1cd20-26eb-41b9-8d52-d13cad1569a9.mov

### Steps To Reproduce

1. Create a new API
2. Enter URL = https://raw.githubusercontent.com/dmfilipenko/timezones.json/master/timezones.json
3. Hit run

### Public Sample App

_No response_

###

[2022-06-19 20:33] kiwioverseas commented on #14369
Full CockroachDB support would be great!

[2022-06-19 21:46] Irongade opened #14669 "[Bug]: Cyclic Dependency Errors with Google sheets Form Controls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A cyclic dependency error is shown when switching from Component mode to JSON mode for any Form control that contains dynamic bindings, This is due to the dynamic binding pathlist not being updated when we make a switch. This incorrect binding path list results in an issue with the evaluations flo

[2022-06-19 22:37] felixsuarez0727 commented on #13756
| Test Case                                                                                                                | Issue                                                         | Status      |
| ---                                                                                                                      | ---                                                           | ---

[2022-06-19 23:27] felixsuarez0727 commented on #13756
Since there's no method to install individual Integrations to local instances of Appsmith for testing, Nidhi suggested copying the integration config from Prod to Release and enable Twilio on Release.

To do this, a page was created on the SaaS App to copy the integration's config from Prod to Release. This page will have to meet the following criteria:

- [x] Have dropdown with ONLY 3 collections

[2022-06-20 04:45] akash-codemonk commented on #11303
Fixed in https://github.com/appsmithorg/appsmith/tree/feat/graphql
cc @AmanAgarwal041

[2022-06-20 05:18] sumitsum commented on #14003
@abhishek818 yes, absolutely. Thanks for showing interest. I am assigning this issue to you. Please read our [code contribution guidlines](https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidelines.md) before proceeding. Also, feel free to reach out to us on GitHub or via the Discord channel mentioned [here](https://github.com/appsmithorg/appsmith/blob/release/c

[2022-06-20 05:24] somnathdasadhikari commented on #11691
@ramsaptami @sumitsum By default MySQL does not contain built-in Boolean or Bool data type. MySQL TINYINT datatype instead, and converts every Boolean input (true/false) into 0 or 1 which are integer value. Example given below :

![image](https://user-images.githubusercontent.com/17508328/174530545-c591eb51-e34c-49e4-b9aa-43aad734ba9b.png)

If any column is VARCHAR or TEXT type and We want to stor

[2022-06-20 05:29] kocharrahul7 commented on #1979
Job stories:

When I _build an appsmith app_, I want it to  _embed the app on another platform_ , so I can  _add new functionality to existing tools_

When  I _embed an appsmith app_, I want to  _easily configure the properties for embedding_ , so I can  _know all options available to me, and set it up as I please_

When  _I embed an appsmith app_, I want it to  _have a visual interface to configu

[2022-06-20 05:55] abhvsn commented on #11615
Closing this as this is already fixed

[2022-06-20 05:55] #11615 closed

[2022-06-20 06:00] Rishabh-Rathod opened #14670 "[Task]: Fail update APIs like update layout and actions when server face cyclic dependency issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

[code]

### Problem

Check here - https://github.com/appsmithorg/appsmith/issues/9864

#### To check server logs
1. Send an inconsequential update layout request (by moving a widget or changing a property somewhere)
2. Check server logs for the text: Cyclical dependency error encountered while parsin

[2022-06-20 06:27] Parthvi12 opened #14671 "[Task]: Add Cypress tests for Critical/Release Blocker Bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Adding tests for critical bugs will ensure we avoid those bugs in future.

[2022-06-20 07:24] btsgh commented on #14265
Waiting for the fix for bug - https://github.com/appsmithorg/appsmith/issues/14512 -  to test this issue.

[2022-06-20 07:43] somangshu commented on #14489
@souma-ghosh lets identify and consult the solution with @sbalaji1192 before implementation

[2022-06-20 07:44] #1651 closed

[2022-06-20 07:49] somangshu commented on #10182
@souma-ghosh can we identify a solution using the flex box, We have to make sure that all options are aligned regardless of if they overflow the widget boundary (will be resolved with dynamic height)

[2022-06-20 07:52] somangshu commented on #12767
I am seeing this consistent to a button widget. What is the expectation @vivekverma2312

cc @momcilo-appsmith

[2022-06-20 07:55] somangshu commented on #13498
Solution to be implemented as mentioned [here](https://github.com/appsmithorg/appsmith/issues/9189)

[2022-06-20 08:05] #14653 closed, assigned to ajinkyakulkarni, rohan-arthur

[2022-06-20 08:20] souma-ghosh commented on #10182
Got it. Will check this out @somangshu

[2022-06-20 08:41] RakshaKShetty opened #14673 "[Bug]: deployed info is not displayed on the deploy tab in the git import flow."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 the deploy link doesn't display on git import when user has just imported and there is nothing to commit

### Steps To Reproduce

1. Import a git connected app
2. click on deploy tab
3. the deployed link is not displayed

### Public Sample App

_No response_

### Version

Deploy preview https://a

[2022-06-20 08:42] somangshu commented on #14642
Marking as high since this can be a potential blocker for a user

cc @rohitagarwal88 @riodeuno @SatishGandham

[2022-06-20 08:54] Parthvi12 opened #14674 "[Bug]: Same app opens up in a new tab instead of the git repo on Open Repo button click"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/174563639-49bef866-d8be-4934-9024-5e56de296cb9.mov

### Steps To Reproduce

1. Go to an app connected to git which has merge conflicts
2. Error modal opens with Open Repo button
3.  Click on the button and observe

### Public Sample App

_No respo

[2022-06-20 09:11] UXFalcon commented on #13854
@jsartisan
Please change the app icon.
[Updated design ](https://www.figma.com/file/4Qs7lxAEjpwU0BNG1e9Bis/?node-id=106%3A1912)
CC @dilippitchika

[2022-06-20 09:15] jnikhila commented on #14533
A generic how-to guide will be created as part of the ticket [Add doc/explainer video link to stay up-to-date alert for select widget] (#14462). Thus, closing this ticket.
CC: @dilippitchika / @pranavkanade

[2022-06-20 09:15] #14533 closed

[2022-06-20 09:26] vivekverma2312 commented on #12767
@somangshu Now it's working fine on release. It was not working fine when the issue was raised. You can refer the loom video attached in the issue https://www.loom.com/share/f1427fda09ed42ecb6cbda24b246c272.

[2022-06-20 09:26] ChandanBalajiBP opened #14675 "[Bug]: Content type prioritisation and auto inclusion in header for API body types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Addition of content type header on

is not working as required(ref: Postman)

Addition of related body types to the request also works differently compared to Postman.

Postman
1. Addition of content type header and sending its respective body. https://www.loom.com/share/342d4fd187484f47b6c6a0e36b

[2022-06-20 09:41] Nikhil-Nandagopal commented on #13156
@AmanAgarwal041 @rohan-arthur when are we fixing this issue? This was reported here as well
https://www.notion.so/appsmith/Tanvi-Bhakta-Thoughts-while-building-and-using-my-first-app-s-ab87b921c44d413f9a7b306241887845#40a555f9ee6c4592bf0f40ab98a481c7

[2022-06-20 09:58] dilippitchika commented on #14637
@techbhavin can you check this out?

[2022-06-20 09:58] subrata71 commented on #14437
Didn't find any label for `DynamoDB`

![Screenshot 2022-06-20 at 3 58 36 PM](https://user-images.githubusercontent.com/3524599/174577471-665a28af-0393-422b-8c2e-1970e03a56aa.png)

[2022-06-20 10:38] prapullac commented on #14218
Please find the test cases [here ](https://github.com/appsmithorg/TestSmith/issues/1894)

[2022-06-20 10:48] ChandanBalajiBP commented on #14049
dependent on this: https://theappsmith.slack.com/archives/CRVRBGU1K/p1655099347851899

[2022-06-20 10:49] ChandanBalajiBP commented on #14050
dependent on this: https://theappsmith.slack.com/archives/CRVRBGU1K/p1655099347851899

[2022-06-20 10:49] AmanAgarwal041 commented on #14370
This issue is fixed temporarily on branch `fix/12220-missing-fields`

[2022-06-20 10:49] chandannkumar opened #14677 "[Bug]: Theming does not get applied on JSON Form's new fields when Auto Generate Form is disable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we create new fields by disabling Auto Generate Form, the Theming not gets applied on any of the field

https://www.loom.com/share/0483309a35cc4c5a84be3ee2c9860108

### Steps To Reproduce

1. Add JSON Form onto the canvas
2. Disable Auto Generate Form from property pane
3. Add new fields into

[2022-06-20 10:49] AmanAgarwal041 commented on #12220
This issue is fixed temporarily on branch `fix/12220-missing-fields`

[2022-06-20 11:02] sumitsum commented on #11691
This issue is occurring because when using prepared statement with mustache binding, the data type of `true` is getting evaluated as boolean and MySQL plugin has handled the boolean type that way:
[code]
Ideally this issue should be resolved within the framework decided by the datatype project cc: @nidhi-nair @rohan-arthur @ajinkyakulkarni . Hence, un-assigning Somnath.

[2022-06-20 11:14] chandannkumar opened #14678 "[Bug]: Phone & currency Input widget Popup breaks on wrong search text in popup filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we do quick search on popup that appears to change country code/currency, the popup breaks when we do wrong search instead of showing 'No results'

https://www.loom.com/share/e876c382aedf47eb9b349d9ef7b19245

### Steps To Reproduce

1. Add Phone Input/Currency Input Widget onto canvas
2. Enab

[2022-06-20 11:40] #14624 closed

[2022-06-20 11:44] btsgh commented on #14392
Issue is fixed - Clicking on the three-dotted menu button below the application and Clicking on the similar menu next to New for creating a new app, the black border does is not present

[2022-06-20 11:54] subrata71 commented on #14437
Update: Created and added the `DynamoDB` label

![Screenshot 2022-06-20 at 5 53 32 PM](https://user-images.githubusercontent.com/3524599/174596091-7683f421-dc15-48ac-926b-c6e698eb91e7.png)

[2022-06-20 11:58] RakshaKShetty opened #14682 "[Bug]: The error should be displayed when user tries to import 4th git connected private app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The error message is not displayed when user tries to import the 4th git-connected app
![image](https://user-images.githubusercontent.com/45958978/174596241-fce37037-194e-400e-b554-218cf5e5db8a.png)
https://www.loom.com/share/010ee40be5c4415aa009e24108409fa4

### Steps To Reproduce

1. Make sure t

[2022-06-20 12:37] RakshaKShetty opened #14684 "[Task]: Cypress tests for multiple permission in ABAC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks
We will add UI tests and once backend changes are merged, will add tests for functionality too.

The following test cases will be covered :
https://github.com/appsmithorg/TestSmith/issues/1904
https://github.com/appsmithorg/TestSmith/issues/1903
https://github.com/appsmithorg/TestSmith/issues/1920
htt

[2022-06-20 12:45] RakshaKShetty opened #14685 "[Task]: Cypress tests for Single permission for ABAC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We will add UI tests and once backend changes are merged, will add tests for functionality too.

The following test cases will be covered :
https://github.com/appsmithorg/TestSmith/issues/1713
https://github.com/appsmithorg/TestSmith/issues/1712
https://github.com/appsmithorg/TestSmith/issues/1714
ht

[2022-06-20 12:49] RakshaKShetty opened #14686 "[Task]: Cypress tests UI/Functionality between the pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We will add UI tests and once backend changes are merged, will add tests for functionality too.
https://github.com/appsmithorg/TestSmith/issues/1972
https://github.com/appsmithorg/TestSmith/issues/1971
https://github.com/appsmithorg/TestSmith/issues/1781
https://github.com/appsmithorg/TestSmith/issue

[2022-06-20 14:36] raoul3000 commented on #4577
Since Covid 19 , QRcodes enter massively in our life . As an entrepreneur , i should be able to build the product my customers want using Appsmith . That is why a native qrcode reader widget would be a great step to ease my work and satisfy my clientele . Thank you

[2022-06-20 15:09] keyurparalkar opened #14688 "[Epic]: RTE widget debounce removal bug fixes"
### Objective

To resolve all the issues post removal of debounce present in the Rich text editors component.

### RACI matrix

|   |   |
|---|---|
| Responsible  |  @keyurparalkar  |
| Accountable   |       @keyurparalkar         |
| Consulted     | @dilippitchika @sbalaji1192 @Tooluloope @Rishabh-Rathod   |
| Informed      |@dilippitchika @somangshu |

[2022-06-20 16:53] IAmAnubhavSaini commented on #14674
@Parthvi12 I am not able to reproduce this. Let's have a call tomorrow.

[2022-06-20 16:59] IAmAnubhavSaini commented on #14673
@abhvsn When we git import an application is it deployed automatically like an app is deployed on commit?

[2022-06-20 17:11] rahulramesha commented on #14646
RCA for this issue can be broken into 4 parts,
- While building urls, we get `layoutId` and `pageId` from 2 different sources,
https://github.com/appsmithorg/appsmith/blob/c3bc8ae89bbaa7784f62ddb4c44d1074d6206374/app/client/src/sagas/selectors.tsx#L56 Here, `layoutId` is selected from `state.ui.editor.currentLayoutId`, while `pageId` is selected from `state.entities.pageList.currentPageId`.
- Thes

[2022-06-20 17:34] ramsaptami opened #14692 "[Bug]-[64]:Resetting audio and video widget resets playState values but widget UI does not change play state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When resetting audio and video widget, playState value resets to **NOT_STARTED** but the widget UI does not change play state

### Steps To Reproduce

1. Set an audio and video widget to reset using a button trigger field like so : `{{resetWidget('Audio1')}}`
2. Drop a text widget on the canvas an

[2022-06-20 17:37] ramsaptami commented on #14692
Similar behaviour is with camera widget too, where widget property resets to original values but the UI still shows **ok** and **discard** icons after widget reset

[2022-06-20 17:51] #11303 closed

[2022-06-20 17:54] ramsaptami opened #14693 "[Bug]-[21]:Audio recorder does not reset UI when a recording is taking place"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When audio recorder/camera widget on video mode are reset while they are recording then the widget continues to record without any changes occurring on the UI, i.e. the UI continues to record.

### Steps To Reproduce

1. Using a binding as follows on a button widget's trigger field
`{{resetWidget(

[2022-06-20 18:04] ramsaptami opened #14694 "[Bug]: Tab widget always defaults to the first tab when reset on both internal property and UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Resetting tab widget

### Steps To Reproduce

1. Drop a tabs widget on canvas and add a few extra tabs on the widget
2. Set default tab to `Tab 2`
3. Drop a button and a text widget on the canvas and bind tab widget's selectedTab property on to the text widget and set a reset trigger for the tab w

[2022-06-20 19:22] zzgvh commented on #2284
Hello. I've begun looking at converting my apps to use GraphQL/Hasura for my backend. Currently I'm experimenting using the Authenticated API data source. It works, but has some limitations and quirks. If this epic isn't too far from fruition, I'd be very interested in being a "test subject", if that can be of any help to you.

[2022-06-21 02:30] #14645 closed

[2022-06-21 04:50] danciaclara opened #14697 "[Bug]: Update on Input widget inside List shows that value on all pages of the corresponding row until browser refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On the List widget, if there is an Input widget, note the following the bugs

1. When you first bind the data to the list widget, the value in the first input widget will be blank until the browser is refreshed.
<img width="399" alt="Screenshot 2022-06-21 at 9 55 27 AM" src="https://user-images.gi

[2022-06-21 05:13] abhvsn commented on #10358
Another instance where the user is confused even after the queries are deleted from edit mode datasource deletion is restricted, because the published version of the same queries still has the datasource ref. As discussed we should update the error message to provide action names along with the Mode type (Edit/View) where the references still exist.
https://theappsmith.slack.com/archives/C0341RERY

[2022-06-21 05:29] sumitsum commented on #2284
Hi @zzgvh, thanks for showing interest in this project. Yes, it is close to completion. We can share a test instance URL with you very soon.

[2022-06-21 05:58] SatishGandham opened #14699 "[Bug]-[30000]:Data truncated without any functional change in code. Evaluations using data from previous run?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We have the following JS object.
[code]

Data from above is bound to a table as  `{{jsObject.data()}}`. Whenever you touch this field in property pane, the data is truncated. country.ccn3 changes as follows 233->2331->23311->233111 and so on.

Countries.Data is accurate, but worker is using the pr

[2022-06-21 06:01] #14402 closed

[2022-06-21 06:12] dilippitchika commented on #13992
Show S, M, L respectively for sake of consistency across the platform

[2022-06-21 06:18] SatishGandham opened #14700 "[Bug]-[48000]:Wasted renders of JSCollectionEntityContextMenu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

JSCollectionEntityContextMenu is rendering 10k to 15k times for every action on Aforce app. I don't see why that needs to run so many times. I believe it to be a problem with the hook `useNewJSCollectionName();`

### Steps To Reproduce

Take a react profile while editing the table data property[Ju

[2022-06-21 06:21] nayan-rafiq opened #14701 "Add API to get page meta data"
For templates, we need to display the list of pages and their ids. The templates API should store and return these meta data.

[2022-06-21 06:27] somangshu commented on #14646
@rahulramesha @ohansFavour do we need to think about this in the #7028?

cc @Tooluloope @ashit-rath

[2022-06-21 06:29] somangshu commented on #14697
@Tooluloope @ashit-rath we should add this to out test cases, Maybe we are already covering this.

[2022-06-21 06:36] dilippitchika commented on #14620
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 83 |
| Effort (months)  | 0.25 |

[2022-06-21 06:36] Tooluloope commented on #14697
Not all has been covered.
I'll add the rest

[2022-06-21 06:38] Tooluloope commented on #10419
@keyurparalkar is this not covered in your PR?

[2022-06-21 06:39] dilippitchika commented on #14622
@jsartisan can you check this once if it's possible to fix. The fix in my mind is that the input widget should get cut off in this case.

[2022-06-21 06:39] keyurparalkar commented on #10419
Yes @Tooluloope it is covered.

[2022-06-21 06:45] Parthvi12 commented on #14283
@AnaghHegde
<img width="1434" alt="Screenshot 2022-06-21 at 12 14 43 PM" src="https://user-images.githubusercontent.com/80334441/174734055-ad9797ce-5519-4aed-9bf5-6773cd2ae6e2.png">

[2022-06-21 06:48] techbhavin commented on #14637
@dilippitchika
this is iOS-specific [issue](https://github.com/palantir/blueprint/issues/2379) DatePicker BluePrint Libary.

At the moment we are not able to fixed this issue.

[2022-06-21 06:53] dilippitchika commented on #14327
1. Ok the alignment option is only useful when inline is switched on, once off we can choose to hide the alignment option.
2. If the inline field is js controlled then alignment will only work when inline is true.
3. Another bug with checkbox group is that when inline is on and there are options which exceed a line, resizing the widget other options which are outside don't come within the widget b

[2022-06-21 06:54] dilippitchika commented on #14327
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 84 |
| Effort (months)  | 0.5 |

[2022-06-21 06:57] shadabbuchh commented on #14620
@dilippitchika both `Events` & `Actions` work in the same way.

[2022-06-21 06:58] shadabbuchh commented on #14622
@dilippitchika / @jsartisan this happens in all sorts of widgets that can include other widgets e.g. `Container`, `Form` etc.

[2022-06-21 06:58] dilippitchika commented on #14620
Thanks, @techbhavin please remove the `Actions` group here and keep the `Events` group

[2022-06-21 07:04] dilippitchika commented on #14635
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 547 |
| Effort (months)  | 0.5 |

[2022-06-21 07:08] dilippitchika commented on #13808
Assuming this affects users who have added a menu button and then trying to reference current row in the menu item is 50% of the users
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 233 |
| Effort (months)  | 0.5 |

[2022-06-21 07:19] dilippitchika commented on #14417
Ok this may impact differently once cell wrapping is available, assigning to myself for the time being to investigate more and suggest a design

[2022-06-21 07:23] dilippitchika commented on #14417
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 334 |
| Effort (months)  | 0.5 |

[2022-06-21 07:29] somangshu commented on #12221
Not an issue anymore, This is rectified after theming

[2022-06-21 07:29] #12221 closed

[2022-06-21 08:03] rahulramesha commented on #14646
@somangshu Even though it showed some gaps in the original Saving logic which we have to rethink. But, we definitely have to change the List Widget logic where we are updating the DSL on mount. We can use other temporary states rather than changing and saving the DSL every time List Widget is mounted.

[2022-06-21 08:25] rimildeyjsr opened #14704 "[Bug]-[Infinity]:Prettifying the code & then clicking inside code editor is reverting the preetified version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

prettifying the code & then clicking inside code editor is reverting the prettified version & also 1st click on prettify - removing only lint errors & only 2nd click actually prettifying also exists

### Steps To Reproduce

https://user-images.githubusercontent.com/10229595/174753086-631b1af7-7653

[2022-06-21 08:31] dilippitchika commented on #14637
@techbhavin how is this specific to ios this is happening because of there is no library being used in the dropdown for year right?

[2022-06-21 09:04] rohan-arthur commented on #14704
this is an edge case, so consider 10% requirement

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 250 |
| Effort (months)  | <<number>> |

[2022-06-21 09:06] rohan-arthur commented on #14700
Hi @SatishGandham , would you please explain the impact on the user? I'm assuming this degrades performance?

[2022-06-21 09:49] tomharvey commented on #14659
This seems like a duplicate of https://github.com/appsmithorg/appsmith/issues/14659 - or at least a specific example of the wider problem with spaces in the .env file.

[2022-06-21 09:51] tomharvey commented on #14659
This seems like a duplicate of https://github.com/appsmithorg/appsmith/issues/13335 - or at least a specific example of the wider problem with spaces in the .env file.

[2022-06-21 09:56] rohan-arthur commented on #14562
WIDGET_PROPERTY_UPDATE, updatedValue contains `showMessage(`, over 6 months: 316

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 316 |
| Effort (months)  | <<number>> |

[2022-06-21 10:03] rohan-arthur commented on #14664
internal conversation [here](https://theappsmith.slack.com/archives/C02KTH6EHUG/p1655699933845749?thread_ts=1655695490.700909&cid=C02KTH6EHUG)

[2022-06-21 10:07] ashit-rath commented on #14646
I think we can avoid it on mount as an existing list widget would have a list of private widgets and a new list widget drop we could use the blueprint operations to add the default widgets to the private widgets list.

@Tooluloope Let's add this to the list widget test plan.

[2022-06-21 10:12] albinAppsmith opened #14705 "[Task] - Create workflow - release alpha"

[2022-06-21 10:15] GreenFlux opened #14706 "[Bug]: The URL field for APIs is deleting all text after a ? whenever optional chaining or ternary operators are used."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The URL field for APIs is not saving the entered URL properly when optional chaining or ternary operators are used. At first, the editor evaluates the JS as valid and shows the correct evaluated value. But when you view another API/Query/JS Object and come back, the `?` and all text after it has b

[2022-06-21 10:17] rohan-arthur opened #14707 "[Task]: Events for JS Objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Add Events for:
1. Create JS Object
2. Create JS function
3. Run JS function

Please raise separate events for when a js function is executed manually by a user:
1. on click of the run button
4. by using the keyboard shortcut
5. on click of gutter to run a function

for reference, check events RUN_QU

[2022-06-21 10:37] keyurparalkar opened #14708 "[Bug]: Style on each line for the text remains the same inside the RTE widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The style of the text on the new line persists as that of its previous line. For example, if you type the text in the HEADING 1 font size and then press ENTER. Then you will see that the next line also starts with the same HEADING 1 style. The expected behaviour over here is that on each new line

[2022-06-21 10:53] abhvsn commented on #14673
@IAmAnubhavSaini yes that's the expectation.

[2022-06-21 11:06] #12581 closed

[2022-06-21 11:21] Rishabh-Rathod opened #14710 "[Task]: Remove `__evaluation__.evaluatedValues` from dataTree reducing the size of it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We maintain the evaluatedValues of each entity inside dataTree object at propertyPaths and also inside `__evaluation__.evaluatedValues`.

This values are duplicate and after each evaluation when we run

`diff(oldDataTree,dataTree)` this adds 50% more effort because of duplicate diffs.

- [ ] We make

[2022-06-21 11:45] SatishGandham commented on #14700
@rohan-arthur , Yes. Performance degradation. Though this is a small component, the number of times it gets rendered is concerning.
Should be a small fix.

[2022-06-21 11:51] techbhavin commented on #14637
@dilippitchika  As per our discussion about a specific issue in macOS. Here I have attached a screenshot of the windows system.

![sample](https://user-images.githubusercontent.com/58818598/174792517-863171de-1e33-409c-84a3-1d62262fddf8.png)

[2022-06-21 12:10] kocharrahul7 opened #14713 "[Task]: add a variable in the publish_APPLICATION event which will help us differentiate between auto triggers and Manual triggers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

create a variable in the event which mentions if it is an auto trigger, or a manual published publish events

[2022-06-21 13:30] IAmAnubhavSaini opened #14715 "[Task]: Put SSH protocols and learn more links in FE code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Related to #14339

### SubTasks

_No response_

[2022-06-21 13:35] AmanAgarwal041 opened #14716 "[Bug]: Move config based datasource form to api datasource form for GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently GraphQL was designed to follow the Config based approach to render datasource form. But there was some issues on using the approach. Some issues that appeared are mentioned in #13833 . So, we are switching back to client generated logic to handle such scenarios which API Datasource uses.

[2022-06-21 13:57] #9134 closed

[2022-06-21 13:57] #11091 closed

[2022-06-21 13:57] #12066 closed

[2022-06-21 15:30] sumitsum commented on #2284
Hi @zzgvh you can try out the plugin [here](http://3.111.33.176/applications).

[2022-06-21 15:37] lukearran opened #14717 "[Bug]: Query Returns {} when Select Files Picked via Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We've noticed a strange behavior when working with the "file picker" widget to upload documents to an external source.

Users have reported being unable to upload files. Upon looking into the issue, we've found that the issue is limited to a range of PDF documents when referred to in a S3 or Postg

[2022-06-21 16:31] #13612 closed

[2022-06-21 20:28] Rishabh-Rathod opened #14721 "[Task] Avoid Cyclic dependency issue for entity bad state"
### Description

For cyclic dependency errors where we are aware of the problem, we avoid the creation of a bad dependency map where a property depends on itself.

- [ ] evaluation gives an error to the main thread mentioning which entity state was unexpected.
- [ ] The main thread consumes this information
    1. Log errors for possible bugs in a particular entity.
    2. Build a user experience

[2022-06-22 01:19] Tooluloope commented on #14620
@dilippitchika We could just remove them in all widgets.
Button Group.
Camera
Currency Input
Input
JSONForm and All Field Types
MapChart
All Selects
Phone Input
Switch Group
These are all the Widgets that uses Actions instead of Events

[2022-06-22 03:49] rohitagarwal88 commented on #13972
@rahulramesha : can we close this issue? As we are not moving forward with Vite.

[2022-06-22 04:01] #14375 closed

[2022-06-22 04:09] rohitagarwal88 commented on #8013
@vasanth-appsmith : can you help with the icon?

[2022-06-22 04:23] rimildeyjsr opened #14723 "[DOCS] - Create doc for window.postMessage task"
Create a document for #7241 task on window.postMessage added to global functions

[2022-06-22 04:23] rohitagarwal88 commented on #9321
@emysmth it's a low-hanging issue but impacts the DX. Can you help with an alternate icon that is part of our DS?

[2022-06-22 04:31] sum35h commented on #14573
As a part of the issue, I will also be setting up backup error logs at `/appsmith-stacks/logs/backup/error.log` , and  also sending out an error mail to the admin in case backup operation fails.

[2022-06-22 04:32] sum35h opened #14725 "Backup error logging and mailer"
Setup backup error logs at `/appsmith-stacks/logs/backup/error.log` , and also send out an error mail to the admin in case backup operation fails.
The mailer will use the same smtp server credentials as `APPSMITH_MAIL`, in case an instance does not have those credentials configured, the mail will not be sent.

[2022-06-22 04:48] rimildeyjsr commented on #14067
Investigation dump -

On this issue, the cyclic dependency was getting created because `this.allKeys` had `config.body` which was not present on the dependency map - this was failing when the code is trying to make parents depend on children, resulting in a cyclic dependency.
On further investigation, it was seen that on the dependency tree, config property did not have a body property, but dynami

[2022-06-22 04:53] dilippitchika commented on #10982
https://theappsmith.slack.com/archives/CRVRBGU1K/p1655835205233359

[2022-06-22 04:55] dilippitchika commented on #14637
Thanks @techbhavin, currently no other option exists other than replacing the library. @AnaghHegde FYI, we can't fix this right now. Keeping this in icebox and updating the score.

[2022-06-22 05:16] dilippitchika commented on #14620
@Tooluloope  we are fixing this in property pane project aswath is working on. Here the problem is that this is a duplicate which got added.

[2022-06-22 05:23] #13825 closed

[2022-06-22 05:23] #13893 closed

[2022-06-22 05:52] ramsaptami opened #14727 "[Bug]: Resetting list widget causes unexpected page size behaviour"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Resetting a list widget causes odd behaviour with page size where page size goes to infinity or decreases and child containers get pushed into only a few pages. The 2 videos attached show this behaviour.

Also, if the last or pages close to the end are selected during reset then the UI does not re

[2022-06-22 06:05] AnaghHegde commented on #14283
This looks like FE issue, server is sending the correct response. Screenshot attached. We can try adding a delay and see if that solves the issue.
<img width="1352" alt="Screenshot 2022-06-21 at 4 49 16 PM" src="https://user-images.githubusercontent.com/12005551/174955164-0c875c2d-fd55-4448-aa43-95b72e5a2d12.png">

[2022-06-22 06:09] AnaghHegde commented on #14410
Closing this via https://github.com/appsmithorg/appsmith/pull/14120

[2022-06-22 06:09] #14410 closed

[2022-06-22 06:09] #12991 closed

[2022-06-22 06:10] rohan-arthur commented on #14037
WIDGET_CARD_DRAG, widgetType = JSON_FORM_WIDGET, 6 months unique: 876

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 876 |
| Effort (months)  | <<number>> |

[2022-06-22 06:13] rohan-arthur commented on #13995
say 1 in 5 users have experienced this

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2400 |
| Effort (months)  | <<number>> |

[2022-06-22 06:15] aswathkk opened #14729 "[Task]: Change in InverseDependencyMap reference causes unwanted re-renders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Components where we use `state.evaluations.dependencies.inverseDependencyMap` re-renders uneccessarily.
I've used deep equality function to avoid these renders ([here](https://github.com/appsmithorg/appsmith/pull/14581/files#diff-b182003206df1011d7ae079ffdce248324ea7103b337b97a09aa0c138077ab79R204)).

[2022-06-22 06:20] #14704 closed

[2022-06-22 06:23] #14647 closed

[2022-06-22 06:44] aswathkk opened #14731 "[Feature]: Need a way to Pin apps on the Top"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Either there should be a way to pin the apps to the top or there should be a favourites section at the top of home page.

### Why should this be worked on?

I'm part of multiple organisations on Appsmith. And most of these organisations are having multiple applications in them.
Coming to the applicati

[2022-06-22 06:54] #14671 closed

[2022-06-22 07:21] jnikhila commented on #12715
[how-to guide](https://docs.appsmith.com/how-to-guides/how-to-use-prepared-statements) published on live.

[2022-06-22 07:21] #12715 closed

[2022-06-22 07:25] jnikhila opened #14732 "[Docs]: Update - Queries"
Update [Queries](https://docs.appsmith.com/core-concepts/connecting-to-data-sources/querying-a-database) doc and add:

* What are static queries?
** Along with sample use cases
* What are Dynamic queries?
 ** Along with sample use cases
*Add a cross-reference to the [How-to guide prepared statement](https://docs.appsmith.com/how-to-guides/how-to-use-prepared-statements).

[2022-06-22 07:28] jnikhila commented on #14732
@pranavkanade - Please add if I've missed anything.

[2022-06-22 07:28] jnikhila commented on #14732
@pranavkanade - Please add if I've missed anything.

[2022-06-22 07:51] ohansFavour opened #14734 "[Bug]-[1654]:Default value of an Input’s text is undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When defaultText isn’t set and user hasn’t focused on the input’s textarea, an input's text value is undefined, even upon reload.

### Steps To Reproduce

[loom video](https://www.loom.com/share/bc00428b76614cd5b5d2b77f9583c14b?t=0).

Steps to reproduce (in dev mode)

1. Drag and drop an Input wid

[2022-06-22 08:14] aswathkk opened #14735 "[Bug]: Undo Redo flashing is not visible anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we do `Ctrl + z`, we used to get a yellow flash on the property control where the undo is applied.
Looks like that is no longer available.

### Steps To Reproduce

Make some changes to any widget's property and press `Ctrl + z`

### Public Sample App

_No response_

### Version

release

[2022-06-22 08:41] souma-ghosh commented on #9336
@somangshu Unable to reproduce this issue. Moving this to needs info.
@vivekverma2312 Could you check if this issue still persists?

[2022-06-22 08:51] #14677 closed

[2022-06-22 08:57] ramsaptami opened #14737 "[Bug]: Customer on-boarding DB query fails intermittently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

During the customer onboarding journey, the pre-set DB query fails to run at times and leads to confusion and user's abandoning the on-boarding journey.

### Steps To Reproduce

1. Create a new user to start customer on-boarding journey
2. Walkthrough to reach the step where we run a DB query - ob

[2022-06-22 09:13] #13961 closed

[2022-06-22 09:21] Nikhil-Nandagopal commented on #14659
@tomharvey thanks for pointing this out! I'll close this in favor of #13335

[2022-06-22 09:21] #14659 closed

[2022-06-22 09:24] RoopKrrish9696 opened #14739 "[Feature]: Alert users when a new version of the app is deployed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Alert users to refresh the app or force refresh the app when a new version of that app was deployed.

### Why should this be worked on?

User from discord asked for **any suggestion how to "inform/force refresh" users to refresh an app if a new version of that app was deployed?**

[2022-06-22 09:38] souma-ghosh commented on #13497
@shwetha-ramesh Unable to reproduce this. Could you check of this issue still persists?

[2022-06-22 09:47] somangshu commented on #9336
same here, Closing for now

[2022-06-22 09:47] #9336 closed

[2022-06-22 09:53] tomjose92 opened #14740 "[Bug]: Scroll issue when Date widget is open"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the Date widget is open, the page scroll intermittently gets blocked below the open Date widget, and not able to scroll further down.

https://user-images.githubusercontent.com/11089579/175484289-bdc89157-f2b9-40c7-a919-9768bea69d3f.mov

### Steps To Reproduce

1. Have a page with multiple wi

[2022-06-22 09:57] aswathkk commented on #14192
### Catchup - 22nd June

@NandanAnantharamu will work on the Cypress failures once we merge the changes to release

### Action items

- [ ] @aswathkk will include JSONForm in the current POC
- [ ] @aswathkk will include search feature also to the POC

[2022-06-22 09:57] tomjose92 opened #14741 "[Bug]: Table widget's "Filter by" attributes have broken UI when the names are long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I have a Table with long attributes/column names, and when I try to filter by that attribute, I see the UI broken because of the long name.

### Steps To Reproduce

Added screenshot of the issue below.

![Screenshot 2022-06-22 at 3 25 33 PM](https://user-images.githubusercontent.com/5265702/1

[2022-06-22 10:00] ohansFavour opened #14742 "[Bug]: Async functions with TypeErrors are not marked as Async in JS Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a JS Function has a TypeError, even if it's marked as async, it is not treated as one (doesn't show up in the settings tab).

### Steps To Reproduce

1. Go to the JS Editor page
2. Create an async function with a typeError (`cannot read x of undefined`).
[code]
or run an Api

[code]
3. Observ

[2022-06-22 10:18] jnikhila opened #14743 "[Docs]: Add - OnPage Load Errors"
https://theappsmith.slack.com/archives/C02KTH6EHUG/p1655699933845749?thread_ts=1655695490.700909&cid=C02KTH6EHUG

Add the OnPage Load errors and how to troubleshoot them.

[2022-06-22 10:19] kocharrahul7 opened #14744 "[Bug]: Onboarding is moving very slowly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I am going through the user onboarding, all actions and pages are running very slowl

https://user-images.githubusercontent.com/20532920/175005909-03f8e7be-2618-43c8-8b4e-7a8758ddc08d.mov

### Steps To Reproduce

Create a new account, and trigger onboarding by clicking on start tutorial OR cl

[2022-06-22 10:30] #13372 closed

[2022-06-22 11:08] kocharrahul7 opened #14745 "[Feature]-[250]:redesign the page properties page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The current page properties page is awkward and doesn't quite do much. with clean URLs and other future projects, we would like to refactor the page to include app properties, page properties, as well as allow room to grow for future app level settings

### Why should this be worked on?

the current p

[2022-06-22 11:35] #13497 closed

[2022-06-22 11:52] ginjojohny opened #14746 "[Feature]-[263]:Input widget set as password type will show the value while inspect even if it is masked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description
New context [here](https://github.com/appsmithorg/appsmith/issues/14746#issuecomment-1498829693)

I have a login form for authenticating my application.  In that form password field is masked in the UI. But while  I am inspecting the input widget , I can see the password value .

### Steps To Repro

[2022-06-22 11:58] tomharvey commented on #13335
I'd argue that this is not a `deployment` or `devops` issue as indicated in the labels of the ticket. Seems like core app business logic to be able to escape the settings it stores; regardless of how this is deployed you will run into the issue. Production deployment just makes it harder to repair.

[2022-06-22 12:14] danciaclara opened #14748 "[Enhancement]: Marker clustering on the Map widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ability to consolidate nearby markers that are presented on the map as a single icon.

<img width="889" alt="Screenshot 2022-06-22 at 5 36 06 PM" src="https://user-images.githubusercontent.com/32227135/175025831-a5b6d85c-400c-4ea9-ad24-f8b8e94ee9ba.png">

https://developers.google.com/maps/documentati

[2022-06-22 12:27] SatishGandham opened #14749 "[Bug]: Lot of deviation in time taken to setup autocomplete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`startAutoComplete`  took 3600ms in one profile and 2400ms in other profile. That is 50% deviation, while the rest of the code has around 2.5% deviation.

It would help with performance monitoring and performance in general if this deviation can be reduced.
Profiles can be found in the slack threa

[2022-06-22 12:40] SatishGandham commented on #14729
This can be picked along with
https://github.com/appsmithorg/appsmith/issues/7461

Deep equal here should be removed https://github.com/appsmithorg/appsmith/pull/14581/files#diff-b182003206df1011d7ae079ffdce248324ea7103b337b97a09aa0c138077ab79R204

[2022-06-22 12:53] Nikhil-Nandagopal commented on #14717
@AS-Laguna could you please share more information on this?

[2022-06-22 13:54] ginjojohny commented on #14746
@Nikhil-Nandagopal 👍

[2022-06-22 14:31] #11231 closed

[2022-06-22 14:32] Nikhil-Nandagopal commented on #5116
This seems tackled

[2022-06-22 14:32] #5116 closed

[2022-06-22 14:51] #14716 closed

[2022-06-22 14:52] felixsuarez0727 opened #14750 "[Bug]: Setting oAuth2 as auth type on SaaS Integration breaks the DS creation flow."
When an integration that has oAuth2 tries to be installed, an error occurs and does not allow using this application.

Step to reproduce:

1. Creating a new integration in the Saas Manager App.
2. Add oAuth2 authentication type.
3. Update the integration.
4. Install the new integration.
5. Display an error message.

[Video 1](https://www.loom.com/share/bd4b97c129e0437283a449e385c9e002)
[Video 2](h

[2022-06-22 15:37] akash-codemonk commented on #14737
Closing as duplicate of #14744

[2022-06-22 15:37] #14737 closed

[2022-06-22 16:20] #14563 closed, assigned to AnaghHegde

[2022-06-22 17:13] #14529 closed

[2022-06-22 17:21] ramsaptami commented on #9844
This isn't working again

[2022-06-22 18:30] arunvjn opened #14753 "[Task] Add custom slugs info in page list and applications list API"
- [ ] /new API needs to return the slug and customSlug of all the pages of the application
- [ ] /pages?pageId=?&applicationId=? API to return slug and customSlug info.

[2022-06-22 21:17] alanPaivaAsp opened #14754 "[Bug]: Api call returns Execution failed with status 5000 Unknown host."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I just downloaded the docker-compose file, listed in this tutorial https://docs.appsmith.com/setup/docker, then after docker-compose up everything seems just fine (after changing exposed port to 8081):
![image](https://user-images.githubusercontent.com/22459531/175135423-9d6284df-9629-4bc1-99e2-0b

[2022-06-23 05:02] eco-monk commented on #13308
@ramsaptami, this is not reproducible on prod or on release.

https://github.com/appsmithorg/TestSmith/issues/1737

https://www.loom.com/share/4cbbb24a3ad44f35868fa291b7530590

https://www.loom.com/share/c260845d58cf43bca071d42826522d7e

[2022-06-23 05:20] ramsaptami commented on #13308
Closing it since this has been fixed

[2022-06-23 05:20] #13308 closed

[2022-06-23 05:55] ramsaptami opened #14755 "[Bug]: 400 error is returned on a newly defined JS function name"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

A newly defined function displays a message stating object and function name combination already exists when it does not.

### Steps To Reproduce

1. Go to app at [this](https://release.app.appsmith.com/app/scratch-pad/automation-test-cases-62987963c43c3d0bd6572185/edit/jsObjects/62b3f8abdd56222d3

[2022-06-23 05:56] #9851 closed

[2022-06-23 06:26] yaldram opened #14756 "[Bug]: Border Radius & Border do not coincide"

[2022-06-23 06:27] #14756 closed

[2022-06-23 06:44] jsartisan opened #14758 "[Feature]: Ability to modify/customize 404 page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be great if we could have a way to customize/modify/design the 404 page.

### Why should this be worked on?

Organizations want everything to look like their brand only. They would also want to have a 404 pages as per their brand. One example can be: Let's say Notion is using appsmith, they w

[2022-06-23 07:14] trishaanand opened #14759 "[Bug SSO]: Logging out of Appsmith does not log the user out of the IAM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user logs out of Appsmith, the instance configuration should support adding a flag which logs the user out of IAM as well.

### Steps To Reproduce

1. Login using SSO
2. Logout from Appsmith
3. When logging in again, you will observe that you are still logged into the identity provider an

[2022-06-23 07:19] Rishabh-Rathod opened #14760 "[Task]: Performance - storeValue each action increases worker - main thread communication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

| Number of StoreValue action |  Screenshot of performance profile |
|---|---|
| 1 | ![SCR-20220623-hj3](https://user-images.githubusercontent.com/23132741/175237535-e441bd44-2771-4a95-921f-4544b02a975a.png) |
| 3 | ![SCR-20220623-hgt](https://user-images.githubusercontent.com/23132741/175236933-87a8

[2022-06-23 07:25] AnaghHegde opened #14761 "[Task]: Add keyType support for git import key generation flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The api used in case of import is “v1/git/import/keys”; because application id is not present while importing an application, this api was created

[2022-06-23 08:11] sidhantgoel opened #14763 "[Task]: RBAC: Update frontend to call permissionGroup APIs instead of UserRole APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Update frontend to call permissionGroup APIs instead of UserRole APIs

There are four APIs that have changed with UserRole to PermissionGroup migration

1. API to invite users
API is called `api/v1/users/invite` and it will take the following request, return is unaffected.
[code]
2. API to fetch work

[2022-06-23 09:05] prapullac opened #14765 "[Bug]: The user is navigated to empty canvas when the user tries to navigate to API from"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user tries to navigate to API from the connection entities it is observed that the user is navigated to an empty canvas and not to the API itself an

### Steps To Reproduce

1) Create Gsheet API
2) Bind it to Table (connections)
3) Now navigate to Property Pane --> Connection
4) Click on

[2022-06-23 10:10] pranavkanade opened #14766 "[Bug]: Unable to add records to airtable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot 2022-06-23 at 3 38 15 PM](https://user-images.githubusercontent.com/13262095/175274890-c8058e75-01cf-4348-8f62-0ba957083c4a.png)

Seeing error - `Could not find field `\"fields\"` in the request body`

### Steps To Reproduce

Added a link to the app -

### Public Sample App

https://a

[2022-06-23 11:03] pranavkanade opened #14769 "[Feature]: Add timestamp to `backend.log` file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The user wants logs with timestamps, as it'll help them with debugging the issue.

### Why should this be worked on?

https://theappsmith.slack.com/archives/C02MUD8DNUR/p1655981399229579

[2022-06-23 11:20] somangshu commented on #9321
@rohitagarwal88 we can follow Momcilo's suggestions

[2022-06-23 11:30] hetunandu opened #14771 "[Bug]: Comment mode not turning off in view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/12022471/175288589-3c0a0378-5fe3-4db5-8db1-970a9a9a46d8.mov

Once we are in comment mode, it is not possible to come out of it in view mode by clicking on the button again
Pressing "C" also does not work

### Steps To Reproduce

In the view mode of the app

[2022-06-23 11:43] Athayde3586 commented on #9321
This is mine now

On Thu, Jun 23, 2022, 6:21 AM Somangshu Goswami ***@***.***>
wrote:

[2022-06-23 12:15] jnikhila opened #14772 "[Feature]: Google Sheet Integration - Allow to choose if the schema change can be permitted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

For example, I have a form that collects the user data (name, email, phone number, etc.) and sends it to the spreadsheet. The Google Sheet integration adds the columns headers and data if you trigger insert one/insert many to an empty sheet. So, the first insert - creates the columns and inserts the d

[2022-06-23 12:56] somangshu commented on #10379
@prsidhu are you looking into this issue, This is been lying here for a while now, has become a part of multiple sprints now

[2022-06-23 13:00] ChandanBalajiBP opened #14774 "[Task]: Explore codebase to understand the moustache and functional bindings evaluation logic in client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

1. Explore codebase to understand evaluation logic
2. Analyse why uninitialized variable is resolved as null
3. Analyse why undefined is treated as variable and resolved to null.

[2022-06-23 13:33] AnaghHegde commented on #13778
@Parthvi12 Are you still facing the issue? I tried reproducing the issue but had no luck.

[2022-06-23 13:38] #14054 closed

[2022-06-23 13:47] AnaghHegde opened #14776 "Fetch only branch specific refs from remote not all"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- The current approach fetch's all branch related refs from the remote, we can improve it to fetch only the branch specific refs

[2022-06-23 13:57] Rishabh-Rathod commented on #14618
Parsing changes doesn't add AST for `isFunctionAsync` hence opening this issue again.

[2022-06-23 14:16] Rishabh-Rathod opened #14777 "[Task]: Add jest (unit) test for initSagas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

### Why should we work on this task
Listing down recent issues which we could have avoided with adding test here
- #14141  ( Critical issue )
- [PR link](https://github.com/appsmithorg/appsmith/pull/14484) to fix issue caused by https://github.com/appsmithorg/appsmith/pull/14294 by one line miss. ( E

[2022-06-23 17:03] #13678 closed

[2022-06-23 17:55] #14304 closed

[2022-06-23 18:12] #14486 closed

[2022-06-23 19:29] #13745 closed

[2022-06-23 20:34] Rishabh-Rathod commented on #4036
@rohan-arthur @ayushpahwa  Do we have designs ready for this? Asking as this issue is in product backlog and has `needs design` label.

If designs are ready and this is priority, i would like to know if this is available for grab.

[2022-06-23 20:37] albinAppsmith opened #14780 "[Task]: Typescript version upgrade as part of CRA5 migration in main repo"
- [x] Migrate typescript version to match main repo typescript.
- [x] Enable nohoist for design system package

[2022-06-23 20:49] Rishabh-Rathod commented on #12639
@rohan-arthur as this issue is moved from product backlog to in analysis, do we want to add RACI metric to this issue?
- All the users who write JS code and use browser dev tools for checking logs will be what we could consider in reach.

[2022-06-24 01:59] #14780 closed

[2022-06-24 02:24] raoul3000 commented on #4577
Hello :-) Qr code reader ? I would say that tooljet have one and to set up and to decode qr code it is so quick and easy . In appsmith have built the dashboard part of my project, the rest in webflow and wized . A qrcode reader is the piece that i miss .

[2022-06-24 02:29] rohan-arthur opened #14781 "[Docs]: typo fixes in dropbox example in OAuth doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication/oauth2-authentication/authorization-code

### Describe the problem

Section `Integrate with Dropbox`
1.**Fix the scope** the scope is mentioned as `file.content.write`
![Screenshot 2022-06-24 at 07 57 09](http

[2022-06-24 02:44] Rishabh-Rathod commented on #14140
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/14140?planning-poker) with ZenHub @ApekshaBhosale

[2022-06-24 02:55] prsidhu commented on #10379
@somangshu @rohitagarwal88 @dilippitchika

Updated the fix here:

if number of line breaks in text == 0 and text.length > 2000;
then truncate the text and show a validation error.
and disable html parsing for links.

Please suggest an appropriate error message.

<img width="1543" alt="Screen Shot 2022-06-23 at 10 54 21 PM" src="https://user-images.githubusercontent.com/5424788/175452906-336b3179-6

[2022-06-24 03:14] rohan-arthur opened #14783 "[Bug]-[7568]:Edit auth API datasource, I don't know if client secret is saved or not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When I edit an authenticated API datasource, I see the datasource form with all the fields filled, except the client secret. But now I don't know if the secret is actually saved or not, because the placeholder text is the same both in create and edit mode: `Client Secret`.

![Screenshot 2022-06-24 at

[2022-06-24 03:31] rohan-arthur commented on #14783
same issue with:
1. Airtable, both for token and key
2. MySQL password (but not, e.g., for mongo password)
3. DynamoDB, AWS Secret Access Key
4. MS SQL server, password
5. Firestore Service Account Credentials
6. Redshift, password
7. S3, key
8. Snowflake, password
9. ArangoDB, password

[2022-06-24 03:39] rohan-arthur commented on #14783
event ROUTE_CHANGE, path containing 'edit/datasource', 6 months data:
Total: 170,000
Unique: 10,300
i.e., about 86% of cloud users end up editing datarources

total 6m unique usage of all above datasources is 8,800.
of these, 86% = 7568

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 7568 |
| Effort (months)  | <<number>> |

[2022-06-24 03:43] ashit-rath commented on #14261
Another user on discord is facing similar issue
Locale - `pt-PT`
Thousand separator -  ` ` (space)
Decimal separator -  `,` (comma)
https://discord.com/channels/725602949748752515/989129968141336606

[2022-06-24 04:06] #9645 closed

[2022-06-24 04:06] #9979 closed

[2022-06-24 04:56] dilippitchika opened #14785 "[Bug]: Firestore query "contains" is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i have a firestore query and I want to filter data using the "contains" query, it's not working and returning an empty value.

### Steps To Reproduce

1. Add a new firestore db
2. Add a new get records query with a contains parameter
3. Observe it's not filtering the data as it should

### Pu

[2022-06-24 04:57] dilippitchika commented on #14785
More details - https://theappsmith.slack.com/archives/C0341RERY4R/p1654516503338839

[2022-06-24 05:42] hiteshjoshi commented on #14475
- [ ] Fixing failing tests - @nayan-rafiq

[2022-06-24 05:48] hiteshjoshi opened #14786 "[Task] GET Apps connected to a template. (BE)"
The Get API for Backend to get connected apps of a template.

[2022-06-24 05:53] #12718 closed

[2022-06-24 05:53] #14040 closed

[2022-06-24 05:53] #13797 closed

[2022-06-24 05:53] #12026 closed

[2022-06-24 06:01] #6417 closed

[2022-06-24 06:01] #14580 closed

[2022-06-24 06:04] ankitakinger commented on #13976
@xolyu the change you are suggesting around `APPSMITH_MAIL_SMTP_AUTH` will require a discussion with the team. So as of now, I'm going to merge the current change that fixes the main problem. Will pick the suggestion up in a separate issue if at all needed.

[2022-06-24 06:13] somangshu commented on #9844
The only change made here Approx 2 months ago was with #9714 (App theming) and #12962 (map centring issue).

Seems like the change in #12962 could be causing this. @techbhavin kindly verify this and do make sure that you add test case this time to avoid regression.

[2022-06-24 06:22] rizistt opened #14787 "[Bug]: Dropdown size is too small"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have created a multi-select dropdown in the form and the data is dynamic (loaded dynamically through a SQL script). But on the mobile screen, the dropdown width is too small to view the list of items.

![image](https://user-images.githubusercontent.com/37738960/175474621-45f9644d-d731-4a29-9639-

[2022-06-24 06:29] rohitagarwal88 commented on #6687
@rahulramesha : Check the google chrome colour picker. We can follow the same approach here.
https://www.loom.com/share/a362767ba80043dbb0dbfa3719a92c06

[2022-06-24 06:39] Nikhil-Nandagopal commented on #14365
@nidhi-nair @rohan-arthur I updated some of the property names. Also these should be separate events and not a single event with different operation properties

[2022-06-24 06:46] somangshu commented on #8013
@rohitagarwal88 please check [this](https://github.com/appsmithorg/appsmith/issues/8013#issuecomment-935607026) comment which was the last decided Icon from our DS

[2022-06-24 06:54] AmanAgarwal041 opened #14789 "[Bug]: Graphql ui and functionality issues second iteration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [x] Remove the tooltips from the body and body variable headers
![Tooltips](https://user-images.githubusercontent.com/7565635/175324278-69fc62df-9f01-432f-a757-03d491b2c28a.png)

- [x] The tooltip underline for the pagination tab has to be dotted underlines so that is consistent with the compone

[2022-06-24 06:56] hiteshjoshi commented on #13616
This is taken care of. Closing this. Reopen if required. @RakshaKShetty @ramsaptami

[2022-06-24 06:56] #13616 closed

[2022-06-24 06:57] hiteshjoshi commented on #3199
Closing this.

[2022-06-24 06:57] #3199 closed

[2022-06-24 06:59] abhvsn commented on #14175
We have received 2 requests for this in the current week, just wanted to log here. The main reason was default branch got messed up and some other child branch had the latest changes.

[2022-06-24 07:02] dilippitchika commented on #14069
@techbhavin what is the suggestion regarding tooltip and fullscreen library? I thought there was a discussion around it.

[2022-06-24 07:02] subrata71 opened #14790 "[Task]: Explore codebase of Google Sheet plugin implementation to identify the scope of change with respect to Datatype Handling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-06-24 07:02] AnaghHegde opened #14791 "Refactor Git API's to remove appId from the path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Move the appId to request param

[2022-06-24 07:06] somangshu commented on #14746
Seem like the way we have implemented this is the challenge, A password field does not expose the value attribute in html source. But since we are all converting this to text type such that the end user can see what they typed, this is not working properly.

[Here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/password), is shows that editing a password field does not expose the

[2022-06-24 07:07] #14438 closed

[2022-06-24 07:12] somangshu commented on #14746
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 263 |
| Effort (months)  | 0.5 |

[2022-06-24 07:12] dilippitchika commented on #14746
@somangshu can we ever solve this problem fully? Because let's say we fix the problem and don't show the value the user can still convert it to input type text in the console and see the password, which is again not preventable.

[2022-06-24 07:15] somangshu commented on #14746
@dilippitchika the problem I think is with the html element in the source showing the password value. Not a web standard. The user explicitly taking the action to see it is fine, but this value attribute should not be exposed. This could easily lead to a breach if someone has a way to read the source.

[2022-06-24 07:17] rohitagarwal88 commented on #8013
@somangshu I had a discussion with @vasanth-appsmith proposed icon does not convey the desired message, @vasanth-appsmith is working on an alternate approach. He would share it with the team for review.

[2022-06-24 07:20] somangshu commented on #14748
@danciaclara can you also find out what is the extended functionality here? Does the user also need to expand all the markers if the they click on a certain badge. I am asking this to understand the complexity and effort required. If its just to show this kinda badge it should be easy to implement.

[2022-06-24 07:21] rohitagarwal88 commented on #9321
![tablet-line-landscape](https://user-images.githubusercontent.com/890915/175484142-c39a745f-3e42-4679-aacd-4448dfe5f53d.svg)
@rahulramesha : The landscape icon

[2022-06-24 07:21] dilippitchika commented on #14748
Let me reach out to this user @somangshu

[2022-06-24 07:30] ChandanBalajiBP opened #14792 "[Task]: PoC on sending binding parameters in a JSON like structure with content-type text/plain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

1. Client side implementation to send JSON in payload which includes evaluated value of a particular Moustache binding and the data type as well.
2. Verify if all the data in server arrives at once
3. PoC on reactor stream API to clear concepts on this and on the point # 2

Read relevant discussion o

[2022-06-24 07:31] keyurparalkar opened #14793 "[Bug]: Internal server error while creating google sheet data source in dev environment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am getting an internal server error when I try to create google sheet data source in the DEV environment. This happens on imported apps and it also happens on the new apps. Here is the screenshot of the error:

![Screenshot 2022-06-24 at 1 01 18 PM](https://user-images.githubusercontent.com/1413

[2022-06-24 07:31] ChandanBalajiBP commented on #14792
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/BE-Coders-Pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/14792?planning-poker) with ZenHub @subrata71

[2022-06-24 08:02] #14744 closed

[2022-06-24 08:28] somangshu commented on #14746
@dilippitchika Short answer: this is a bug.
This is an implementation challenge, should be fixed internally, we dont need any additional property or config here

[2022-06-24 08:35] somangshu commented on #14739
I think the issue has already been taken care of, When a new version is available we get a toast saying the same and also asks the user to force reload. Ill once I find the issue Ill add the ref here.

Also this should belong to the UI Builders or FE coders and this needs to show up when the JS build has gotten updated.

[2022-06-24 08:38] Tooluloope commented on #12531
@dilippitchika to fix this we would need to fix this strict check of defaultValue and loose check when serverside filtering is Enabled

[2022-06-24 08:50] somangshu commented on #14727
@Tooluloope can you check if this issue is with the list widget, or the reset widget functionality.

In case this is related to the list widget, Lets add this to the test plan, and also the EPIC.

[2022-06-24 08:51] dncpax commented on #7241
hey. Does this implementation also allow for an iframe widget in appsmith to receive postmessages?

[2022-06-24 08:58] techbhavin commented on #14069
@dilippitchika

- For the tooltip,it is standard behavior with a Mobile Device. here tooltip is visible with long touch and when we touch again on anywhere on the screen it will hide again. At the moment we don’t have any alternative solutions for this.

- In full-screen mode, we can’t switch the camera because the popover is not visible.  so instead of adding a popover to change the camera can we

[2022-06-24 08:59] jnikhila opened #14794 "[Docs] : Update iFrame"
Refer to the [Slack conversation](https://theappsmith.slack.com/archives/C01CFTXD0N8/p1656061114922759)

Key pointers to update:

* Work on the postMessage implementation
* Explain the property properly
* List the internal property message that is used to expose the object that is received

A [sample app](https://release.app.appsmith.com/applications/60c1ddf39eaedc5f554a2346/pages/60c1ddf39eaedc5f

[2022-06-24 09:02] somangshu commented on #7241
@dncpax I think that is already implemented from before, the iframe can receive a postMessage, you will find an internal property `message` which will give you the object and also another property `onMessageRecived` that will allow you to trigger events when you receive a message from the parent app / web page

[Docs here](https://docs.appsmith.com/widget-reference/iframe)

[2022-06-24 09:02] jnikhila commented on #14794
@somangshu - Could you please confirm whom to connect to discuss the changes?

[2022-06-24 09:02] riodeuno commented on #11038
@Nikhil-Nandagopal Here is an early preview of the feature. This doesn't have the visual signifiers, but has all features implemented. We're dealing with some issues, hence it is an early preview.

https://appsmith-kqx3h5521-get-appsmith.vercel.app/

[2022-06-24 09:11] somangshu commented on #14794
@jnikhila please let me know. I might be able to help. Otherwise will get the relevant people based on the question

[2022-06-24 09:15] dilippitchika opened #14795 "[Feature]-[536]:Chart widget needs a selectedDataPoint property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Expose a new binding property called selectedDataPoint which contains information about the data point user clicked on. This will help in customising UI. The information to be exposed is available by fusion charts - https://www.fusioncharts.com/fusiontime/examples/data-plot-click-mouse-event

### Why

[2022-06-24 09:17] dilippitchika commented on #14795
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 134 |
| Effort (months)  | 0.5 |

[2022-06-24 09:20] dilippitchika commented on #14739
@somangshu what's currently available is if there's a new version of appsmith we ask the user to reload, but in this case the developer wants to inform their end user that there's a new. version of the app and ask them to reload.

Do let me know if the 2nd case exists already, i maybe missing some info.

[2022-06-24 09:22] #13515 closed

[2022-06-24 09:23] dilippitchika commented on #14620
Idk why this is moved back to in progress. The scope of this issue is -
For the widgets which have both actions and events (which is a bug) like mentioned above, we will only keep events and remove actions.

NOT IN SCOPE - Other widgets where it's called actions, we will rename it to events as part of property pane project.

[2022-06-24 09:23] Rishabh-Rathod commented on #14721
Added all subtasks and estimate to them and accordingly added total estimate.

[2022-06-24 09:24] ramsaptami commented on #13990
Closing this since it's been fixed

[2022-06-24 09:24] #13990 closed

[2022-06-24 09:26] somangshu commented on #14739
Not yet sure, waiting for a reply from the team

[2022-06-24 09:31] techbhavin commented on #14620
@dilippitchika @somangshu
Here Deployment Preview is Broken so QA is not able to test this PR, that is why it is in In Progress

[2022-06-24 09:44] dncpax commented on #7241
That's the other way around... I'm referring to appsmith sending messages to the iframe.

[2022-06-24 09:52] #13976 closed

[2022-06-24 09:58] tanvibhakta commented on #14405
Link to the design docs for this: https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=10508%3A30677

[2022-06-24 10:01] #14477 closed

[2022-06-24 10:01] rahulramesha commented on #6687
@rohitagarwal88 Throwing an error if it is the text does not resolve to a color might break people's apps, Something like the one you showed can work, like "not updating the color if it is an invalid color"

[2022-06-24 10:32] dilippitchika commented on #14740
@techbhavin can you check this and let me know? I was unable to reproduce it clearly

[2022-06-24 10:40] ayushpahwa commented on #14228
CLosing since the POC has served it's purpose. Will be continuing in the epic now

[2022-06-24 10:40] #14228 closed

[2022-06-24 10:59] btsgh commented on #14647
Tested the image widget for the JS toggle on Max Zoom level. Now with the values present in the dropdown are entered on JS Toggle, the JS button is still enabled. Only when we enter a number which is not there in the dropdown, then the JS button is disabled, and until we clear the data or enter a value that is part of the dropdown, it remains disabled.
@aswathkk  - is this the right expected behav

[2022-06-24 11:03] jnikhila commented on #9965
@somangshu - Will the doc created for #14794 solve this?

[2022-06-24 11:09] btsgh commented on #9134
As per the feat: upgrade to create react app 5 #14000 - since we have regression tested for CRA 5 changes, this can be closed as verified. Discussed with @aswathkk

[2022-06-24 11:11] aswathkk commented on #14647
@btsgh Yes. This is the expected behaviour.

[2022-06-24 11:12] btsgh commented on #14647
Thanks! Marking as Verified this issue as it has been resolved.

[2022-06-24 11:32] Sripriya93 commented on #14380
Verified all the widgets placed in Deprecation application
Input1
Select1
DatePicker1
Icon1
FilePicker1
MultiSelect1
ProgressBar1
CircularProgress1

Working fine, moving to verified.

[2022-06-24 11:37] Tooluloope commented on #7028
# Action Items

- Add all issues in the List Widget Epic into the test plan
- Decide on table Widget inside the List widget
- Decide on Data persistence when we switch pages
- Access data in nested List widget
- Add Media Widget into the test plan.

[2022-06-24 11:58] btsgh commented on #6417
Since this is a performance improvement, no visual changes are seen on the UI. As per discussion with @aswathkk  - Tested the Property Pane of a few widgets (input / text / checkbox group), specifically looked at the property pane connections area and the other property options and no issues seen. Hence closing the issue.

[2022-06-24 11:59] #14642 closed

[2022-06-24 12:03] techbhavin commented on #14069
@dilippitchika
Yes, we can remove fullscreen but instead of  can we do the similar like  [webcamera](https://webcamera.io/)

and Currently, we have a tooltip on capture and a fullscreen icon so can we remove this tooltip?

[2022-06-24 12:15] #13389 closed

[2022-06-24 12:15] Sripriya93 commented on #13678
Have verified the Width section of the above mentioned widget, working fine, moving to verified

[2022-06-24 12:29] #9339 closed

[2022-06-24 13:43] ankitakinger opened #14798 "[Task]: Add new toggle for APPSMITH_MAIL_SMTP_AUTH to show/hide SMTP Username & password fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We are currently turning the function of the GUI toggle item "TLS Protected Connection" to the APPSMITH_MAIL_SMTP_TLS_ENABLED setting.

However, there is a second toggle value APPSMITH_MAIL_SMTP_AUTH in the config, this one has no GUI element (yet).

In the file 'app/client/src/pages/Settings/conf

[2022-06-24 13:46] ankitakinger commented on #13976
@xolyu here is the link of the new issue where you can track the other change you suggested.
https://github.com/appsmithorg/appsmith/issues/14798

[2022-06-24 14:23] #14546 closed

[2022-06-24 16:44] nidhi-nair opened #14801 "[Bug]: Firestore queries fail when trying to fetch an object with Blob type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

From a user query, we figured that the server was throwing an error when trying to parse a `Blob` type. Here is the error log:
[code]

The Blob type seems to only have private properties that are inaccessible. We'll need to check if our mapper needs to be marked with additional visibility

### Ste

[2022-06-24 21:16] felixsuarez0727 commented on #14370
There is a problem related to that issue about deselecting rows in the action table, we are working on this and the issue [#14656](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/14656) has been created.

[2022-06-25 00:46] rodrigo-mahamud opened #14802 "[Bug]: Error deploying appsmith on heroku (Appsmith server is unavailable)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have followed all the steps that are indicated in the documentation,
but when i finish the process this message. I have also checked the mongodb data source and i think is all ok. I don't know how to solve this problem.
![Captura de pantalla 2022-06-25 023847](https://user-images.githubuserconte

[2022-06-25 05:30] #14198 closed

[2022-06-25 07:01] jnikhila opened #14803 "[Bug]-[500]:Google Sheets | Scope | Read Only allows write access"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The `Read Only` datasource allows inserts, updates, and delete.

### Steps To Reproduce

- Create a `Read and Write` scoped datasource
- Perform CRUD -> All works well
- Edit the Datasource and change the scope from `Read and Write` to `Read Only`
- Create Query/ use existing query to perform Inse

[2022-06-25 09:32] rohan-arthur commented on #14700
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.5 |

[2022-06-25 09:45] rohan-arthur opened #14804 "[Bug]-[6489]:Cannot delete the first header in API datasource form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In API datasource page, headers section, the delete icon is shown only from the second row onwards. This means that I cannot delete the first row, and have to remove the contents manually.

https://user-images.githubusercontent.com/94514895/175768142-5281a866-a864-477c-b7d2-88366cb1ce56.mov

### S

[2022-06-25 09:49] rohan-arthur commented on #14804
Edit or create datasource, 6m: 18,540
REST plugin usage is 35%
Therefore reach = 6489

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6489 |
| Effort (months)  | <<number>> |

[2022-06-25 10:44] PerioBalance commented on #14798
Færge

[2022-06-25 17:35] Rishabh-Rathod opened #14806 "[Bug]: JSObject function execution failure when it is parsing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/23132741/175784483-9ce32ad4-45fe-4160-973b-0a62b126f8d6.mov

### Steps To Reproduce

[code]
1. Copy the content of JSObject in the above test
2. Create new JSobject
3. Paste the copied JSObject code
4. Let the save get completed and ASAP press the run butt

[2022-06-25 19:12] st-trade commented on #12651
Found a similar issue

https://github.com/appsmithorg/appsmith/issues/7176

[2022-06-26 06:47] dilippitchika commented on #10332
@somangshu why is this assigned to FE coders? The next steps are on us to move this forward by implementing what ashit suggested.

We can go this way and now that JS mode is disabled when there is a binding in the widget, the conversion is lossless

[2022-06-26 06:51] dilippitchika commented on #14069
Are you referring to how it shows the settings? If so, then we can proceed from a product standpoint, but i thought there is a tech limitation.

Yes we can remove this for now

[2022-06-26 06:52] dilippitchika commented on #14069
@vivekverma2312 @chandannkumar let's discuss this issue once on a call, i believe this needs a small discussion to align and decide if we need more issues created from this issue.

[2022-06-26 10:43] abhishek818 commented on #14003
@sumitsum Pls review my PR -> https://github.com/appsmithorg/appsmith/pull/14807

[2022-06-26 11:17] vihar commented on #14469
+1, came across the same issue when resetting my Select Widget and Multi-Select Widget.

[2022-06-26 18:37] sumitsum commented on #14003
@abhishek818 thanks for raising the PR. I will review it.

[2022-06-26 19:08] ribtoks opened #14808 "[Bug]: Cannot deploy latest release (1.7.5) to Heroku"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I cannot deploy Appsmith to Heroku (using Mongo Atlas connection URL) per instructions in the documentation. I tried both master and 1.7.5 git tree. After the installation you get `Appsmith server is unavailable` screen and in the logs - Java exceptions (attached). Btw, I did verify MongoDB connec

[2022-06-26 19:45] rodrigo-mahamud opened #14809 "[Bug]: When entering a value in the currency input, it always appears as invalid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have added a currency input to my form and when entering an amount the currency input always returns "invalid value

https://user-images.githubusercontent.com/76396937/175831127-3ce54b92-9bb7-427a-bf22-95613bbbb7a0.mp4

"

### Steps To Reproduce

1. Add a currency input field
2.  Depoy

### Publ

[2022-06-27 01:48] MyWay commented on #4971
Any news about this? It would be a big enhancement in terms of productivity, especially for the database.

[2022-06-27 01:51] MyWay commented on #11656
I agree that these integrations would make a difference among these tools in terms of productivity and ux. See tooljet with appwrite for instance.

[2022-06-27 03:04] vuiets commented on #14771
This issue has been around for a while but we are looking at sunsetting commenting as part of https://github.com/appsmithorg/appsmith/issues/14173 since we haven't had much usage and we don't have the bandwidth to continue supporting it.

So this will be closed with that.

[2022-06-27 03:04] #14771 closed

[2022-06-27 03:55] btsgh opened #14810 "[Bug]: File Picker - JS Toggle on Allowed File Types - JS toggle un-clickable till field is cleared"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

With File Picker widget, if we do a JS toggle on Allowed File Types property, with any of the properties selected, the JS button remains non clickable until  the field is cleared. This behavior is seen even if the Allowed file types are of valid file types.

Expected Behavior - If the allowed file

[2022-06-27 04:02] rohan-arthur commented on #14803
GSheets 6m usage: 2500
Assume 5% of users run into this issue: 125

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 125 |
| Effort (months)  | <<number>> |

[2022-06-27 04:18] Parthvi12 commented on #14477
Working fine on release.

[2022-06-27 04:18] RakshaKShetty commented on #12827
@nayan-rafiq still facing the issue attaching the screenshot for Reference i have tested in the release ce image
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/175859021-ec1fc8a2-d2c4-4b1a-bab4-2a550f76e92d.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/175859049-600ddabb-d655-4d17-b162-c183255e732c.png">

[2022-06-27 04:23] #9498 closed

[2022-06-27 04:23] sharat87 commented on #9498
Closing this since we now have supervisor at `/supervisor` for this purpose.

[2022-06-27 04:50] #14682 closed

[2022-06-27 05:08] ramsaptami commented on #11776
Each function/query call has a seperate modal that appears hence closing this issue

[2022-06-27 05:08] #11776 closed

[2022-06-27 05:13] sentry-io[bot] opened #14812 "TransportException: git@gitlab.com:RakshaKShetty/regression_app.git: Auth fail"
Sentry Issue: [APPSMITH-24X](https://sentry.io/organizations/appsmith/issues/3110044581/?referrer=github_integration)

[code]

[2022-06-27 05:17] abhvsn commented on #14543
We are implementing the transactions to address this issue. The POC is will be completed by 28th June.

cc: @hiteshjoshi

[2022-06-27 05:17] dilippitchika commented on #5390
@rimildeyjsr can you let us know if this problem is also being solved now?

User wants to post a message from appsmith to an iframe widget, can they use the solution in #7241

[2022-06-27 05:18] arunvjn opened #14813 "[Task] Integration tests to test the URLs with custom slugs"

[2022-06-27 05:18] abhvsn commented on #14498
As per the discussion we have decided to use js files to store the code present in the JSObject.

[2022-06-27 05:19] arunvjn opened #14814 "[Task] Refactor URL generator functions to account for custom slugs"

[2022-06-27 05:20] arunvjn opened #14815 "[Task] Custom slugs update UI"

[2022-06-27 05:24] arunvjn opened #14816 "[Task] Document the clean URLs code design"

[2022-06-27 05:25] arunvjn opened #14817 "[Task] Unit test cases for the URL functions"

[2022-06-27 05:34] Parthvi12 opened #14818 "[Task]: Visual tests for different screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

To add snapshot tests for tests listed here : https://github.com/appsmithorg/TestSmith/issues/1901

[2022-06-27 05:53] dilippitchika commented on #14810
@aswathkk can you check once what is happening here? Ideally this should have a way to go back but something is changing which is preventing it from doing so

[2022-06-27 05:56] dilippitchika commented on #12531
@Tooluloope i don't understand what exactly is happening here. I get the part around strict and loose check, but the part i need help grasping is - Why is the change not working? Default value should always be discarded once a user interacts with this widget and selects a value right? What is preventing that here?

[2022-06-27 06:07] vuiets commented on #6687
Thinking out aloud. Would showing an error message for invalid color inputs in the debugger make sense here?

[2022-06-27 06:37] rahulramesha commented on #6687
@vuiets yes it does, But with the past experience on propertyPane controls, whenever a property was left unrestricted and then we decided to add restrictions it usually breaks user's apps. Have seen this happen too many times, wherein we had to roll back the restrictions.
@riodeuno what do you think?

[2022-06-27 06:48] Parthvi12 commented on #14666
@ChandanBalajiBP If response can't be shown in table, can we remove that option. Something like this:

[2022-06-27 06:53] Nikhil-Nandagopal commented on #12926
@akash-codemonk can this be closed?

[2022-06-27 07:09] vuiets commented on #6687
Agree with your observation here @rahulramesha. We don't have to do anything that is blocking or breaking the app here. The main problem here is nothing happens and one doesn't know what is wrong. So in case of a wrong input, we should atleast inform people that their entry is invalid.

Like you suggest we could not update the color when it is invalid but atleast warn them that it is invalid in th

[2022-06-27 07:18] shadabbuchh opened #14819 "[Bug]: Issues in Select family widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`Select Widget:`

1. Filtering returns values that are not entered by user.
https://www.loom.com/share/d63cacbda90f4dba918c6f52c478ff64

`TreeSelect Widget:`

1. If the filtered value is at the bottom of the dropdown, the user is not able to see it unless they scroll down.
2. Clicking on the `x` o

[2022-06-27 07:26] vivekverma2312 opened #14821 "[Bug]: Switching between JS option in property pane of Table column is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/60b549bc2d8d4a428c4d922f31e05df9

### Steps To Reproduce

1. Drag and drop a Table widget
2. Click on any column name in property pane
3. Try switching between JS toggle
4. Observe that JS option get disabled for many properties like `Visible` `Vertical Alignment` `Text

[2022-06-27 07:32] chandannkumar opened #14822 "[Bug]-[36]:MultiSelect dropdown gets unclickable after deleting array item from JSONForm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/1fe8df2df19942c9b7656fd31e30a5ba

P.S: Issue is happening on view mode as well and only happening for Multi select type field

### Steps To Reproduce

1. Add JSON form onto canvas
2. Add  new field as Array
3. Add Multi select type field inside array items
4. click on 'A

[2022-06-27 07:47] ohansFavour commented on #14755
This seems like a BE issue. When we fetch JS Collections for the application, the affected JS Object, **TC4**  returned from the server has only 1 action (**TC4.dog**), whereas there are multiple actions in the JS Object.
When we then try to update the js collection with new actions (detected after we `evaluateTree`), an error is thrown with the message  "`TC4.cat` is already exists."

The questio

[2022-06-27 08:21] Nikhil-Nandagopal commented on #2033
@dgorshkov we haven't begun with this yet. Is there a widget you find missing?

[2022-06-27 08:22] #14766 closed

[2022-06-27 08:24] ChandanBalajiBP commented on #14666
@Parthvi12 understood the required output. Thank you!!

[2022-06-27 08:30] sharat87 commented on #14808
Hey, thanks for sharing the full logs. I see the following error message in the logs:

[code]

Can you confirm if you have a database name set in your value for `APPSMITH_MONGODB_URI` please?

For example, the has a database name called `dbname`:

[code]

[2022-06-27 08:37] shadabbuchh opened #14824 "[Bug]: Background of certain tooltips does not match with the tooltips in rest of the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The background of tooltip for the `Icon Button` & `Input`, `PhoneInput` & `CurrencytInput` widgets is different from the other tooltips throughout the app.
https://www.loom.com/share/ecc14a9e4b1b4c509657f93b88194998
<img width="705" alt="Screenshot 2022-06-27 at 2 22 14 PM" src="https://user-image

[2022-06-27 08:38] taobojlen opened #14825 "[Feature]: multi-factor authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I'd like Appsmith to support two-factor / multi-factor authentication via TOTP.

### Why should this be worked on?

This is a fundamental security feature to prevent account takeover. It protects accounts that may have re-used passwords, or use weak/known passwords.

[2022-06-27 08:39] sharat87 commented on #13335
Hey @tomharvey, thanks for sharing your experience here. I agree, this issue makes for a very unpleasant experience. I'm currently working on coming up with a solution to this.

You're also right on the classification part. The reason I put it that way was, ideally, I'd want this solved in two places. First, when saving a value with spaces, ensure that the value is quoted appropriately. Second, ev

[2022-06-27 08:46] chandannkumar opened #14826 "[Bug]: Selected Border Radius & Box shadow are not visible for the widgets added inside List widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![image](https://user-images.githubusercontent.com/95341241/175897793-fa7c1d0c-407c-403c-99f6-ab3871899215.png)

### Steps To Reproduce

1. Add List widget into canvas
2. Add Button widget onto List widget
3. Observe Button widget's property pane that Box Radius & Shadow are not visibly selected.

[2022-06-27 08:58] Rishabh-Rathod opened #14827 "[Bug]: Appsmith store modifying object's sub path temporarily inside evaluation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/23132741/175900134-2ab8fe4e-5748-4ed4-bac6-9b3256d539a8.mov

Current storeValue implementation has below code to temporarily store the value to dataTree while running evaluation.
[code]
Here, as we are using `lodash's set`, keys like `test` and `test.two`

[2022-06-27 09:44] Nikhil-Nandagopal commented on #14802
Hello, this seems to be a duplicate of #14808

[2022-06-27 09:44] #14802 closed

[2022-06-27 09:54] RakshaKShetty opened #14829 "[Bug]: The internal server error is displayed in one of the git-connected application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The internal server error is displayed in one of the git-connected application

### Steps To Reproduce

1. connect the app to git
2. now refresh the page
3. open the app in edit mode
4. the internal derver error is displayed

### Public Sample App

https://release.app.appsmith.com/app/regressionju

[2022-06-27 09:54] shadabbuchh opened #14830 "[Bug]: Input widget issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. Error message when `Default Text` has more characters than the `Max Chars` is incorrect. It should be: `Default Text length must be less than or equal to Max Chars allowed.`
<img width="531" alt="Screenshot 2022-06-27 at 3 03 02 PM" src="https://user-images.githubusercontent.com/39921438/175911

[2022-06-27 09:58] dilippitchika commented on #14787
@rizistt is it happening in the JSON form or a regular select widget?

[2022-06-27 10:05] subrata71 commented on #14792
We might need to drop this PoC before it starts. Here's the [comment](https://www.notion.so/MOM-23rdJune-b849bf73b747469798ac348b2ffc8876?d=e3cc8a4849e4451594a1799a1a7480fc#d80ea908242949f58023b233c6d5981d) from Nidhi which indicates that we may need to backtrack at the middle of this PoC due to some issues in JSON.

Reference (Whole Disucssion)
https://www.notion.so/appsmith/MOM-23rdJune-b849bf73

[2022-06-27 10:14] subrata71 commented on #14790
I was trying to aggregate the information about what kind of data type each widget supports. IMO, this information will help us identify the right datatype for binding parameters. We should always consider the data type of the widget from where the binding parameter's value is coming from. While doing so I got stuck on the Rating widget. And for a corner case, it blocks the entire application. Ref

[2022-06-27 10:30] #14669 closed

[2022-06-27 10:32] rizistt commented on #14787
Not sure what you meant there, but here is a bit more detail, when you select a "Select" widget, it sets random data as options, I removed it and made it dynamic by binding it to a SQL query.

One thing that I noticed was when the label is empty (while the position is set to Top) the dropdown appears with 100% width. The moment you enter something as a label, it shrinks.

WITHOUT LABEL:
![image](h

[2022-06-27 10:46] chandannkumar opened #14832 "[Bug]: No visible auto-suggestion for the widgets added inside List Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/9050f53567e34532b866ef8dd5c8940d

### Steps To Reproduce

1. Add List widget onto canvas
2. Add any other widget inside list widget. for eg: Button widget
3. Try to bind Button widget with any other widget
4. Observe that widgets added inside list widgets are not showing

[2022-06-27 10:50] subrata71 opened #14833 "[Bug]: "Aw, snap!" error when rating widget is provided a large number as max value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to provide a large number as the max value in a `Rating` widget then the entire application snaps and it doesn't seem to return to its normal state. And if such value is provided in a way so that it comes from on page load event then there will be no way to escape from it.

## Use Case

[2022-06-27 10:52] chandannkumar opened #14834 "[Bug]: Page Unresponsive while enabling 'server side pagination' on List widget using large datasets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/77af40664bde49aea231d8b1131d31e0

### Steps To Reproduce

1. Add a query of data more than 1000 records
2. Add List widget onto the canvas
3. Bind query data with List widget
4. Try to enable 'server side pagination' from property pane
5. Observe the page get unresponsiv

[2022-06-27 10:57] shadabbuchh opened #14835 "[Bug]: Currency Input widget issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user changes the `Decimals` back to `0`, the value does not automatically round off rather the user has to click inside the widget for the value to round off.
https://www.loom.com/share/3257dda3e9b4459a9bf8f49a9bfa280c

### Steps To Reproduce

1. D&D a `Currency Input` widget.
2. Set the `Dec

[2022-06-27 11:18] rimildeyjsr opened #14836 "[Bug]: App crashing on navigating to error pane within JS object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Opening the JS object and then clicking on the error tab crashes the whole app.

On investigating, it was found that the EntityLink is expecting the name as a string, but receiving it as {label: string, array: <string>}

Seen on only one app instance - I can provide the exported json

### Steps To

[2022-06-27 11:22] techbhavin commented on #14740
@dilippitchika  this issue is not reproduce from my side

[2022-06-27 11:22] ApekshaBhosale commented on #14836
JS Object to add to get this error

`export default {
	check: () => {
		let newConfig = Fetch_Label_Config.data;
		if (!this.labelExists(Table1.selectedRow.name)) {
			newConfig = this.addLabelToConfig(Table1.selectedRow.name, edit_desc.text, edit_color.text, edit_pod.selectedOptionValue, edit_is_pod.isSwitchedOn)
		}
		console.log(newConfig);
		newConfig = this.moveLabelPod(newConfig);
		newConfi

[2022-06-27 12:08] ohansFavour opened #14838 "[Bug]: Clicking on the debug icon breaks App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clicking on the debug icon breaks App

### Steps To Reproduce

1. Go to this App (https://release.app.appsmith.com/app/b01b5ee3-2/page1-62b99aac91ee3a540c639771)

2. Create an Api without a URL and run

3. Click the debug button

### Public Sample App

https://release.app.appsmith.com/app/b01b5ee3

[2022-06-27 12:21] ramsaptami opened #14839 "[Bug]: onPage query confirmation is displayed on the wrong app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an app that has onPage query confirmation event and the app is exited before this query confirmation appears and the user navigates to another app then the confirmation modal from the first app appears on the second app. Confirming query execution on the second app does not amount to anything

[2022-06-27 12:34] rimildeyjsr commented on #14723
Link to documentation - https://www.notion.so/appsmith/88de24af66ef41ec8e36c663942a4657?v=a2169b3184194138ab1fa88905e9ce82&p=e1ba3bc55b8b41c7a0198152007306a3

[2022-06-27 12:35] rimildeyjsr commented on #14723
This is for post message task - https://app.zenhub.com/workspaces/fe-coders-pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/12551

Will go in with the next release cycle

[2022-06-27 12:39] sharat87 commented on #14808
Hey @ribtoks, the database doesn't need creating. MongoDB will auto-create databases when someone attempts to use it. So, in your cluster URI, just set the database name to `appsmith` or something and restart, it should pick it up.

[2022-06-27 13:16] Rishabh-Rathod commented on #14836
### Initial RCA

When JSObject function has code for variable declaration like below in such cases, those properties also gets added as JSObject property which is not expected.
[code]

- JSObject to reproduce this
[code]

We will need to make sure to only parse JSobject's properties and not internal object property or function.

<img width="1271" alt="Screenshot 2022-06-27 at 6 45 37 PM" src="http

[2022-06-27 13:24] chandannkumar opened #14840 "[Bug]-[98]:Save Theme does not support 'space' to save as a theme name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Saving Theme does not support 'space'. The name with the space is not getting saved as a theme name

![image](https://user-images.githubusercontent.com/95341241/175950250-e654366e-8502-4559-915a-fa0f484bbc65.png)

### Steps To Reproduce

1. Click on canvas to see theming properties
2. Click on 3 d

[2022-06-27 13:31] ramsaptami opened #14841 "[Bug]: Query execution does not honor timer set inside a setInterval function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a query is called inside a setInterval function then the query is run in rapid succession and not after the duration defined in the setInterval function. The setInterval ID was triggered a couple of times that caused it to throw an error which was later rectified but whenever clearInterval wa

[2022-06-27 14:23] sbalaji1192 commented on #14436
Issue not related to the Table widget.
InverseDependencyMap in DatatreeEvaluator is not getting updated when a widget updates its property with dynamic values in an update hook during updateDataTree flow. Temporarily patched this issue from Table v2 side by setting a non-dynamic value property along with other dynamic properties, which makes the evaluations to recompute the InverseDependencyMap. H

[2022-06-27 14:46] ohansFavour commented on #14838
Closing in favour of https://github.com/appsmithorg/appsmith/issues/14836

[2022-06-27 14:46] #14838 closed

[2022-06-27 17:51] felixsuarez0727 commented on #14611
The proposed changes to the Airtable tooltips, subtitle and placeholder can be reviewed in [EngSpec ](https://www.notion.so/appsmith/Airtable-Integration-EngSpec-b771ed93f6eb447ab8a824673754b719) , please make any necessary observations.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/2bd66595-807e-4b3a-9129-24c9a89bffee)

Note: Changes have to be reviewed from the Eng

[2022-06-27 19:18] Eudemon opened #14846 "[Feature]: allow conditional param"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

in queries, allow conditional include param in key column e.g {{appsmith.URL.queryParams.id ? 'id' : null}}

### Why should this be worked on?

![image](https://user-images.githubusercontent.com/330995/176017999-34b7044f-18e6-4f3a-8f97-ae44d1aca7bf.png)

there are API endpoint where you can not have a

[2022-06-27 21:20] ohansFavour commented on #14827
I think the expectation here is that when the key to `storeValue` is a path, the corresponding value at that path should be updated.

[2022-06-28 04:14] #12521 closed

[2022-06-28 04:56] subrata71 commented on #14755
Can you please share the app with me? @ramsaptami

[2022-06-28 05:05] btsgh opened #14848 "[Bug]: Fuzzy search and search tags in widget panel - On doing fuzzy search, extra / unrelated options are visible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On doing a fuzzy search with various options as per this [Notion](https://www.notion.so/appsmith/Widget-Explorer-Fuzzy-search-b234cb24ef3244fe90e36b05eca664ef) doc, the user, along with the appropriate options, gets more unrelated widgets also listed.

### Steps To Reproduce

1. Create a new page

[2022-06-28 05:16] somangshu commented on #14834
Happens on the table widget too as pointed out by @Tooluloope

[2022-06-28 05:22] dilippitchika opened #14849 "[Bug]: Modal overlaps with nav bar in smaller screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i open a large modal in the view mode for small screens it overlaps with the nav bar.
![image](https://user-images.githubusercontent.com/19730984/176098752-12b0d106-b5d7-452d-b11c-4f4aafde80dc.png)

When a modal is open it should take the highest priority

### Steps To Reproduce

1. Add a lar

[2022-06-28 05:25] somangshu commented on #14830
@jnikhila can you provide copy for the given content

@shadabbuchh for the 2nd point
- The error is not visible to the app viewers since they will not have access to the property pane
- The field is not dirty, Does it trigger the error once you make a small change focus & blur the input? How is the behaviour different in Prod and Release?

cc @souma-ghosh

[2022-06-28 05:27] aswathkk commented on #14810
@dilippitchika This case (multi-select in dropdown) is not handled properly. I will raise a PR with a fix.

[2022-06-28 05:29] SatishGandham commented on #14834
@somangshu There is an issue for table widget i think. It is because users enable server side pagination without using it in the query, there by retrieving all the records. This has to be handled at server side and limit the number of records we return.

@chandannkumar, Did you use the pagination parameters in the query to limit the data?

[2022-06-28 05:46] ramsaptami opened #14851 "[Bug]: Image on successfully generated S3 CRUD page modal is stretched out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Image on successfully generated S3 CRUD page modal is stretched out

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/176101890-ffb493e8-e42c-419d-bff6-c9634788a05b.png)

### Public Sample App

_No response_

### Version

Cloud

[2022-06-28 05:53] rohitagarwal88 commented on #14848
@prsidhu take this issue first

[2022-06-28 05:58] Vidushi-Gupta opened #14852 "[Bug]: Cannot fork templates with multiple pages from platform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Forking a template with multiple pages throws an internal server error on the Platform.

### Steps To Reproduce

1. Go to app.appsmith.com/templates/<App ID>
2. Click on "Fork this Template"
3. This throws an "Internal server error"

### Public Sample App

_No response_

### Version

Cloud - 1.7.5

[2022-06-28 06:03] kocharrahul7 opened #14853 "[Feature]: Add search for datasources in generate CRUD"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There should be a way for users to search for datasources in the generate CRUD flow

### Why should this be worked on?

Some users may have tens of datasources, and scrolling through them can be quite annoying. Being able to search for them is quite useful

[2022-06-28 06:04] kocharrahul7 commented on #14853
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | 0.5 |

[2022-06-28 06:06] kocharrahul7 commented on #8582
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 1 |

[2022-06-28 06:09] ramsaptami commented on #14755
I'm not able to repro this consistently. Only random. But the app attached to the issue shows the issue. I've also shared the app with you @subrata71

[2022-06-28 06:11] kocharrahul7 commented on #5994
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 0.5|

[2022-06-28 06:13] kocharrahul7 commented on #12532
should be closed with https://github.com/appsmithorg/appsmith/issues/13485

[2022-06-28 06:13] kocharrahul7 commented on #11134
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 1 |

[2022-06-28 06:14] kocharrahul7 commented on #10079
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 0.5 |

[2022-06-28 06:15] kocharrahul7 commented on #10079
Not sure how many users are using hotkeys.

Additionally, many other online tools (such as facebook, Google maps) use shift+/ (shift+?)

[2022-06-28 06:16] kocharrahul7 commented on #9710
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 600 |
| Effort (months)  | 1 |

[2022-06-28 06:18] vivekverma2312 commented on #14069
@techbhavin On ios it's almost impossible to use camera widget
1. Controls are not visible on the widget
2. Image click makes the widget black
3. Changing from camera to video also makes the widget black

ios:15.5

https://user-images.githubusercontent.com/83569920/176106817-9b9453d5-7fdb-4635-b62f-b7a716d785bb.MP4

[2022-06-28 06:18] kocharrahul7 commented on #9412
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.5 |

[2022-06-28 06:23] kocharrahul7 commented on #9567
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 40 |
| Effort (months)  | 0.5|

[2022-06-28 06:26] kocharrahul7 commented on #4166
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 800 |
| Effort (months)  | 0.5|

[2022-06-28 06:37] chandannkumar commented on #14834
@SatishGandham I used simple query i.e SELECT * FROM users where role = 'Admin' ORDER BY id; and tried to enable server side pagination.

[2022-06-28 06:39] somangshu commented on #10486
Will be handled after #9135 release

[2022-06-28 06:43] somangshu commented on #14834
@SatishGandham I understand, that Might be the case, Still wondering, Since the query retuned the same number of object, How is it that while we enabled SSR it failed for the same number of records (Since the params are not used at all)

[2022-06-28 06:52] #14808 closed

[2022-06-28 07:05] somangshu commented on #9965
@jnikhila the pointers do cover it, Let me know if you want me to review the actual doc also, I am not able to find it right now

[2022-06-28 07:06] jnikhila commented on #14830
@somangshu - I think it will be helpful to users if we tell them what the current max chars limit is and how many characters they have exceeded. In which case, the users will be able to reword the data.

Below are a few messages that we can use:

`Message 1 - The entered text exceeds the MaxChars limit of <AllowedNumberOfChars> characters by <TheExceededChars> characters.`

For example, message 1:

[2022-06-28 07:06] dilippitchika commented on #14795
@techbhavin here we need a way to add the selected series from a chart widget into the selected data point.

[2022-06-28 07:08] dilippitchika commented on #14795
@techbhavin apologies i think this works, let me move it back to my plate to check

[2022-06-28 07:09] jnikhila commented on #9965
@somangshu - I'll share the doc, once it's available. I think, we should be able to pick it up in the upcoming sprint.

[2022-06-28 07:15] dilippitchika commented on #14795
Apologies, this feature is already there. Closing it.

[2022-06-28 07:15] #14795 closed

[2022-06-28 07:18] shadabbuchh commented on #14830
@somangshu in Prod when some text is entered in the Input widget and then the `Max Chars` is set, we instantly see an error if the entered text has more characters that the max limit. However I am not able to see this behaviour in release.

[2022-06-28 07:18] somangshu commented on #14830
@shadabbuchh @jnikhila On further looking into the issue I have a different POV now.

This issue only occurs when the default text is bigger than the max char allowed, that mean the app viewer has no control over this, I think ideally the error should be shown on the property pane itself.

Hence the error show to the end user today is invalid. Do you guys agree?

cc @dilippitchika need you inputs

[2022-06-28 07:20] somangshu commented on #14830
@shadabbuchh I think the end user cannot enter text more than the allowed char size even if they copy paste some text directly

[2022-06-28 07:22] Sripriya93 opened #14857 "[Bug]: File picker Widget - able to pick a file when Max no of files is defined as zero (0)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When Max no of files defined in a File picker is set to zero, we are able to pick a file by default.

Expected: The File picker widget should not allow the user to pick any files

### Steps To Reproduce

1. Drag and drop a File picker widget
2. Change the Max no of files to 0 (Zero)
3. Now click o

[2022-06-28 07:23] ribtoks commented on #14808
I can confirm that after appending `appsmith` to the MongoDB connection string, everything worked out. Thanks @sharat87 !

[2022-06-28 07:26] chandannkumar commented on #14069
Moving this issue to in progress due to blockers and callouts. There is also a merge conflict in this PR

[2022-06-28 07:39] jnikhila commented on #14830
@shadabbuchh and @somangshu
Ideally, it should not allow the user to enter more chars than the max chars. However, the user can enter more characters than the max chars set in the default text as shown below:
<img width="1038" alt="User-Can-Enter-More-Characters-than-MaxChars" src="https://user-images.githubusercontent.com/99252011/176120957-d7da54f8-9d5a-4bdd-8d80-7c4be68b26f0.png">

I do agree t

[2022-06-28 08:23] unknown1337 opened #14859 "[Feature]: watch variables in JSobjs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Goal: execute a function X when a (store) variable Y changes
How:
1. at each function & UI element that can change the store variable Y call the function X [current appsmith WoW]
2. create a watcher/ register a watcher when a store variable changes. see e.g. [vuejs watchers](https://vuejs.org/guide/es

[2022-06-28 08:29] somangshu commented on #14830
Yes that is the only way, The default text can be bound to an API that results in longer text and hence leave the input field in an invalid state. In case the field is in a form, the submit action would be disabled because of this invalid field, So it's obvious that the error need to be shown to the end user as well.

Additionally, I agree that the error should also be should on the default text p

[2022-06-28 08:29] btsgh commented on #14501
Another scenario where this is observed is on the Canvas itself -
1. Add an audio recorder widget to the canvas. Add a checkbox widget and set Default Selected toggle off.
2. For the Disable property, JS toggle and add {{Checkbox1.isChecked}} as the binding.
3. Now start recording on the audio recorder.
4. After a couple of seconds, use the Disable checkbox to disable the audio recorder widget
5.

[2022-06-28 08:31] ramsaptami commented on #7436
The steps are rolling back when widget deletion is reverted. Steps are not rolled back in other scenarios hence closing the issue as the behaviour is expected

[2022-06-28 08:36] danciaclara opened #14860 "[Feature]: Access version information from Appsmith Context Object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow {{appsmith.version}} to be able to record the current version of Appsmith.

### Why should this be worked on?

Requested by user codedmind on Discord server -
https://discord.com/channels/725602949748752515/725609493974614076/990908691022770176

[2022-06-28 08:56] abhishek-pingsafe opened #14861 "[Bug]: Redis MGET with non-existent/expired keys throws exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I used Redis data source with MGET query key doesn't exists, redis would respond with `nil` along with few keys having `String` data type.

Ideally, appsmith should parse it and return as `null` value but it raises exception.

### Steps To Reproduce

1. Create a redis data source
2. Add a que

[2022-06-28 09:22] aswathkk opened #14862 "[Bug]: Currency Input widget always shows error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The currency widget shows "Invalid Input" even when we do not set any validation logic

https://user-images.githubusercontent.com/10436935/176142869-237ba43b-f9ec-4d98-8833-4b86e6243d19.mov

This happens only in the attached application

[Currency Input Issue.json.zip](https://github.com/appsmitho

[2022-06-28 09:43] ohansFavour opened #14863 "[Bug]: Execution never ends when clone error occurs in async functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Execution never ends when clone error occurs in async functions

### Steps To Reproduce

1. Create a JSObject

2. Run the following function

myFun: async ()=>{

return _
}

3 Notice that execution never ends

### Public Sample App

_No response_

### Version

Cloud

[2022-06-28 09:50] ramsaptami opened #14864 "[Bug]: JSObject variable value changes should reflect in dataTree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When variable value is changed in a JS object, changes must be reflected as soon as save action is completed and not after a page refresh as is the functionality right now. Refreshing page to update dataTree is not the expected behaviour a user expects

### Steps To Reproduce

1. Define a variable

[2022-06-28 09:53] IAmAnubhavSaini commented on #14674
@Parthvi12 I am not able to reproduce it. Please provide more details.

[2022-06-28 09:57] Rishabh-Rathod opened #14865 "[Bug]: Show linting error for names which are not supported as property by JSObject"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, user shouldn't use following `variable` or `js action / function` name in JSEditor else internal fields will get overwritten and errors will be expected due to dataTree going into bad state

- `name`
- `body`
- `ENTITY_TYPE`
- `actionId`
- `bindingPaths`
- `dependencyMap`
- `dynamicBind

[2022-06-28 10:18] dilippitchika commented on #14315
Closing and tracking in #11660

[2022-06-28 10:47] dilippitchika commented on #14857
A dev should not be able to set the value of max files to 0. We have to add this validation in this property. If they want to set it 0, it's better they disable it.

[2022-06-28 10:49] sumitsum commented on #2284
Last week's meeting updates:
- server side implementation for cursor pagination - @sumitsum `[In review]`
- smart substitution research and implementation for query body - @sumitsum
- refactor client datasource implementation to use same component as REST API so that OAuth can work - @AmanAgarwal041
- create template for documentation - @nidhi-nair
- send analytics events - @sumitsum @AmanAgarwal0

[2022-06-28 10:54] Parthvi12 commented on #14674
@IAmAnubhavSaini  to reproduce this error :
1. Go to github repo and change something ex: query name from Query1 to Query2
2. Change the query name from app as well Query1 to Query3
3. Commit the changes and it will show  message to pull the remote changes.
4. Close the modal and click on pull changes icon, it should open the modal mentioned in the issue

Let me know if you are still having troubl

[2022-06-28 10:59] IAmAnubhavSaini commented on #14674
@Parthvi12 Where did it used to come?

[2022-06-28 10:59] dilippitchika commented on #14830
A few things
1. @jnikhila we can't use 2 or 3 as the error messages, app viewer doesn't know what Input 1 is.
2. Agreed with the fact that we should show the error message on default text as well

So we need an error message in 2 places
1. The input widget itself
2. The default text field

Agreeing with @somangshu on this

[2022-06-28 11:04] subrata71 commented on #14755
## What I tried

- Tried to reproduce by creating JS object in different environments {local, release, prod} but I wasn't able to reproduce

- Forked the application that Saptami shared and found that the issue exists in that forked app too.

- Exported that application and imported in local environment. The issue also exists in local after being imported.

- Saptami confirmed that the issue is no