[2022-04-13 06:17] #12818 closed

[2022-04-13 06:20] jnikhila commented on #12873
@sharat87 - Could you please help us in understanding what details to be added to the docker.env file?

[2022-04-13 06:20] jnikhila opened #12874 "[Docs]: Update | Select Widget | Default Value"
Update the [Select Widget ](https://docs.appsmith.com/widget-reference/dropdown-1)Doc.

Add details on how to set up default values for the widget.

[2022-04-13 06:21] Pranay105 commented on #12843
@dilippitchika will look into this and get back to you.

[2022-04-13 06:24] btsgh commented on #11533
62. For fully rounded theme, add a button group widget. The More button is cutoff.
<img width="385" alt="ButtonGroup_MoreCutoff__Secondarybutton_RoundedTheme" src="https://user-images.githubusercontent.com/101863839/163113262-90af64f6-4cbf-4739-a968-273469d796a6.png">
<img width="342" alt="ButtonGroup_MoreCutoff_RoundedTheme" src="https://user-images.githubusercontent.com/101863839/163113269-20258

[2022-04-13 06:32] chandannkumar commented on #11533
63. JSON form's **Reset button** is not fit with Rounded theme whereas Submit button fits.

![image](https://user-images.githubusercontent.com/95341241/163114308-4b78b214-d9c5-4d9a-b6c4-334e1223d396.png)

[2022-04-13 06:33] autocode-app[bot] opened #12877 "[Docs] #12876 fix : handle default value in Multiselect and select widget"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12876
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 06:33] autocode-app[bot] opened #12878 "[Docs] #11781 [Feature]-[120]:Map Widget Enhancement - Bind searched location to input fields without clicking on map"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #11781
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 06:44] Nikhil-Nandagopal commented on #12860
@lublak have you tried simply navigating to the current page with the new params? That should automatically update the query params. This is a sample app that updates the param on the current page
https://app.appsmith.com/app/framework/navigateto-62566b650d3d384069c05830?email=wear

[2022-04-13 06:44] #12860 closed

[2022-04-13 06:46] btsgh commented on #11533
64. Drag and drop a Button Group Widget onto the canvas.
Click Settings of the More button on the Property Pane
Click on the Settings of First Option
Here, in the Style section, set a Background Colour and also set a Text Colour (Say background is dark green and text is chrome yellow
The colours get applied and their hex values are shown in the fields
Click on the back arrow on top to go to the Mo

[2022-04-13 06:49] Nikhil-Nandagopal commented on #12352
@stillman0000 this link is not a public app. Can you please mark it as public?

[2022-04-13 06:50] Nikhil-Nandagopal commented on #12859
@trishaanand this should be supported via our SSO and JWT feature right?

[2022-04-13 06:51] Nikhil-Nandagopal commented on #12859
Just read the intercom conversation and this is indeed possible via our SSO feature i

[2022-04-13 06:52] ajinkyakulkarni commented on #12833
Internal discussion around this issue https://theappsmith.slack.com/archives/C0341RERY4R/p1649716348012539

[2022-04-13 06:52] Nikhil-Nandagopal commented on #12858
This is a different problem solved via our SSO feature.

[2022-04-13 06:52] #12858 closed

[2022-04-13 07:07] chandannkumar commented on #11533
65. **App Font** box's UI is overlapping the border of properties present in global theming setting page
![image](https://user-images.githubusercontent.com/95341241/163119474-d24c866e-670d-47c9-abc1-2e33cff86940.png)

[2022-04-13 07:09] btsgh commented on #11533
66. Drag and drop a Button Group Widget onto the canvas.
Select Orientation as Vertical
Click on the Settings of the More Button
Change the Button Colour to anything from the palette
Once that is done, There is no revert option here to get back to theme colour. "

[2022-04-13 07:14] shwetha-ramesh commented on #11533
67. No revert option found for table widget column type

[2022-04-13 07:16] lublak commented on #10381
it would be useful to use do navigateTo with the same page to adjust the parameters. Or if a text on the page should contain the page name.
If you then rename or copy the page you don't have to edit it everywhere by hand. Especially for templates this is a good thing.

[2022-04-13 07:18] AnaghHegde commented on #12346
@RakshaKShetty I tired the above steps.  As @vuiets mentioned if refresh the page or click on sync the list shows branch f1.
The reason for the error is the fact that we push the branch to remote after creating and because of read only access this fails. I am not sure what should we do in such scenario, because if the user try to click on sync branch workflow the stale branch will be deleted.

[2022-04-13 07:21] autocode-app[bot] opened #12880 "[Docs] #11456 feat: js object v1 run and settings redesign"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #11456
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 07:21] autocode-app[bot] opened #12881 "[Docs] #10387 Implement the Run button design changes"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #10387
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 07:22] vishnu-gp opened #12882 "[Bug]: UI crashes while creating organization when backend server is unavailable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to create an organization from the home page while the server is not available for some reason, UI crashes like this,
<img width="1752" alt="Screenshot 2022-04-12 at 6 34 47 PM" src="https://user-images.githubusercontent.com/9128194/163120166-c2e38c1a-1b37-4b25-a8c9-8235a638cda8.png">

[2022-04-13 07:22] hetunandu commented on #12880
Automation testing

[2022-04-13 07:22] #12880 closed

[2022-04-13 07:23] hetunandu commented on #12881
Automation testing

[2022-04-13 07:23] #12881 closed

[2022-04-13 07:24] AnaghHegde commented on #12163
@RakshaKShetty Can we close this issue? I believe this is fixed in the latest push @haojin111 has made.

[2022-04-13 07:24] dilippitchika opened #12883 "[Docs]: App theming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

App theming feature documentation #3369

### Describe the improvement

Documentation for new feature

[2022-04-13 07:24] autocode-app[bot] opened #12885 "[Docs] #12884 Chore: Added margin bottom for sign posting checklist footer"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12884
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 07:25] dilippitchika commented on #12883
@jsartisan @keyurparalkar please review the first draft for theming here
https://www.notion.so/appsmith/App-Theming-caedc2f85bb34817858b2366b5cb9823

@keyurparalkar i need a list of all the properties in the widgets which we have added newly. Could you please prioritise some time for it?

[2022-04-13 07:27] autocode-app[bot] opened #12887 "[Docs] #12886 feat: Handle stringified json response and fix alignment issue"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12886
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 07:29] autocode-app[bot] opened #12888 "[Docs] #12568 fix: replace rfdc with klona"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12568
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 07:29] autocode-app[bot] opened #12889 "[Docs] #12520 [Bug]: Input value in some cases doesn't get evaluated as expected and hence showAlert or binding shows wrong evaluated value."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12520
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 07:31] #12888 closed

[2022-04-13 07:38] Nikhil-Nandagopal commented on #12882
@vishnu-gp I don't think we should handle this. Our server is expected to always be running. There are too many cases to handle if we want to support the server not running so I'm closing this issue

[2022-04-13 07:38] #12882 closed

[2022-04-13 07:47] pranavkanade opened #12891 "[Bug]: User is unable to add Azure DevOps git repo URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot 2022-04-13 at 1 15 02 PM](https://user-images.githubusercontent.com/13262095/163126492-5ee5dcfd-d2ea-4757-bde6-a10f372b6c6d.png)

### Steps To Reproduce

1. click on `connect git`
2. paste this URL - `git@ssh.dev.azure.com:v3/hubglobalnz/HubGlobal/AppSmith`

### Public Sample App

_No

[2022-04-13 07:48] ApekshaBhosale commented on #11926
Hello @rfenaux , we found the issue. Will try to get this fixed soon. I will update you accordingly

[2022-04-13 07:49] mohanarpit commented on #12882
@Nikhil-Nandagopal This is not true. During deployment or network unavailability, the server can become unreachable or unresponsive. At no point should the client browser crash. This is part of software hygiene that the unavailability of a dependent service should not crash the code. Hence, this should be handled at a global level for consistency across the code base.

[2022-04-13 07:50] #12163 closed

[2022-04-13 07:59] sumitsum commented on #6060
Removing the following special data types from the scope since we would need to have few design related discussions before we can proceed with implemention: (1) GeoPoint (2) Reference (3) Timesamp.
We are tracking the support for special data types here: https://github.com/appsmithorg/appsmith/issues/3741

[2022-04-13 08:01] vivekverma2312 opened #12892 "[Bug]: Container jump is not smooth when the mouse pointer while moving the widget is away from the container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/190ce5d5d2584ad4888200a2b49ae398-00001.gif)](https://www.loom.com/share/190ce5d5d2584ad4888200a2b49ae398)

The recording on DP but the behaviour is same on production.

### Steps To Reproduce

1. Drag and drop a Container widget
2. Drag and dro

[2022-04-13 08:05] RakshaKShetty commented on #12057
Yes  @AnaghHegde i am still facing this issue

[2022-04-13 08:08] Nikhil-Nandagopal commented on #12882
@mohanarpit from the screenshot it will not crash in production, it's only showing that because it's in development mode.

[2022-04-13 08:13] vishnu-gp commented on #12882
@Nikhil-Nandagopal I thought the same and even asked fe-coders before creating the issue.

[2022-04-13 08:36] autocode-app[bot] opened #12893 "[Docs] #12891 [Bug]: User is unable to add Azure DevOps git repo URL"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12891
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 08:38] dncpax commented on #11749
without this (or an equivalent api configuration), no external api can be reached when a forward proxy exists in the network.

[2022-04-13 08:46] ramsaptami commented on #12643
Closing this regressed issue since it seems to have been rectified by some fix.

[2022-04-13 08:46] #12643 closed

[2022-04-13 08:47] #12508 closed

[2022-04-13 09:01] ginjojohny commented on #11965
Hi, @pranavkanade  shared loom video  which shows the issue to pranav@appsmith.com .

[2022-04-13 09:21] dilippitchika opened #12894 "[Bug]-[2760]:JSON form shows error in debugger on first bind"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

JSON form shows that the date of birth field's default value is invalid, even after updating the data

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/ac7417a1751046aba81b7eb285cef370-00001.gif)](https://www.loom.com/share/ac7417a1751046aba81b7eb285cef370)

### Steps To Reproduce

1. Add a n

[2022-04-13 09:29] abhvsn commented on #11266
We are seeing some other changes as well when user tries to connect the application when uses drag and drop way to build app
![Screenshot 2022-04-13 at 2 58 33 PM](https://user-images.githubusercontent.com/41686026/163145706-699f74f6-83f5-47ec-847b-5c308135ad1c.png)

[2022-04-13 09:31] albinAppsmith commented on #7422
@ramsaptami Can you test this in below DP
https://appsmith-git-chore-7422-sign-posting-equal-f1884b-get-appsmith.vercel.app/

[2022-04-13 09:33] ramsaptami commented on #11745
Reopening this since we're still seeing a 400
![image](https://user-images.githubusercontent.com/79509062/163146590-c8256c08-3f43-4039-b672-19bce45a0046.png)

[2022-04-13 09:34] #12195 closed

[2022-04-13 09:36] jnikhila opened #12895 "[Bug]: UI issue on Add Query for Authenticated API"
Please refer to the below screenshot for the UI issue.
![UI-misalignment.png](https://images.zenhubusercontent.com/6203759d49a2167250e9a805/e2ae025c-8f7b-4b94-b3fc-bc8844ac6237)

[2022-04-13 09:50] autocode-app[bot] opened #12897 "[Docs] #12896 fix: remote azure url"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12896
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 09:50] ajinkyakulkarni commented on #12697
#12195 is complete.

[2022-04-13 09:53] vivekverma2312 opened #12898 "[Bug]: After reflow when I do undo the widgets are getting selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f298efb5383d49bf884ca958619048c8-00001.gif)](https://www.loom.com/share/f298efb5383d49bf884ca958619048c8)

### Steps To Reproduce

1. Drag and drop a container widget and button widget
2. Move the button widget so that container resize
3. Now u

[2022-04-13 10:07] #11294 closed

[2022-04-13 10:11] AnaghHegde commented on #12891
This requires changes from BE as well for url validation. @vishnu-gp Will work on this.

[2022-04-13 10:28] dilippitchika commented on #12417
Assuming 50% of filepickers configured with only images need this

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 1 |

[2022-04-13 10:30] dilippitchika commented on #12375
Assuming 5% of select users need this

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 30 |
| Effort (months)  | 0.5 |

[2022-04-13 10:31] btsgh commented on #11533
71.
Drag and drop a Button Group Widget onto the canvas.
Select Orientation as Vertical
In the properties pane, change the box shadow property from default to some other box shadow.
Once that is done, There is no revert option to get back to the theme's box shadow
<img width="589" alt="buttongroup_boxshadow_norevert" src="https://user-images.githubusercontent.com/101863839/163159452-66cd1b40-2f1f-

[2022-04-13 10:33] #12721 closed

[2022-04-13 10:37] dilippitchika commented on #6164
Small UX issue but impacts almost all table/button group/json form app users

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 0.5 |

[2022-04-13 11:00] dilippitchika commented on #10521
Reach is a bit unclear when thought about thinking this from a holistic level. I want to spend more time on this and dive deeper.

[2022-04-13 11:04] #10529 closed

[2022-04-13 11:07] autocode-app[bot] opened #12900 "[Docs] #10600 feat: Controls for labels in widgets to align the widgets in forms and other places"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #10600
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 11:07] autocode-app[bot] opened #12901 "[Docs] #7064 [Enhancement] Controls for labels in widgets to align the widgets in forms and other places"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #7064
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 11:09] dilippitchika commented on #12157
Assuming 80% of our table devs face this
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1500 |
| Effort (months)  | 2 |

[2022-04-13 11:40] shwetha-ramesh commented on #11533
72. Pagination control on table widget doesnt conform to theme color
![image](https://user-images.githubusercontent.com/92293815/163172456-a5f49a41-0394-4a4a-b6f4-f188d62b6c20.png)

[2022-04-13 11:49] chandannkumar opened #12902 "[Bug]: Auto Scroll is not happening for dropping widget inside container type widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7e86e831df42465685bfa57ccef9ecc3-00001.gif)](https://www.loom.com/share/7e86e831df42465685bfa57ccef9ecc3)

### Steps To Reproduce

1. Add container widget onto canvas
2. Place it towards bottom of the canvas to observe the issue
3. Add any othe

[2022-04-13 12:07] abhvsn commented on #10644
@IAmAnubhavSaini can we close this?

[2022-04-13 12:08] #10644 closed

[2022-04-13 12:28] jnikhila commented on #11881
Review comments closed. cc- @rohan-arthur

[2022-04-13 12:29] jnikhila commented on #11881
Once the UI changes are updated to cloud the documentation can be released.

[2022-04-13 12:35] rohan-arthur opened #12903 "[Bug]: input values getting truncated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

User reported issue, and prima facie this seems to be unrelated to #12318

1. application has a form with some input fields and a submit button
2. when user enters some values in these widgets and clicks submit, an insert query is called
3. sporadically, the values from these inputs are truncated.

[2022-04-13 13:18] btsgh commented on #11533
73.
Drag and drop a table widget onto the theming dp canvas.
In the properties pane, go to the Steps column settings
Set a Text Colour from the property pane to say brown from the palette. Click out of the text box and do a cmd + z. The text colour does get reverted, but the text box still remains showing brown hex.
Similarly set a Cell Background Colour. Click out of the text box and do a cmd + z

[2022-04-13 14:07] danciaclara opened #12905 "[Bug]: Custom charts fail to load when you move to another page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In both edit and deployed mode, the custom chart stops loading when you move between pages.

Error in Console attached below
<img width="536" alt="Screenshot 2022-04-13 at 1 16 21 PM" src="https://user-images.githubusercontent.com/32227135/163198504-9fb21f59-841b-404b-b434-5313a73d5dbd.png">

###

[2022-04-13 14:12] Rishabh-Rathod commented on #9806
### Workaround for this, if user needs a function to recursively run would be.

[code]

[2022-04-13 14:48] shwetha-ramesh commented on #11533
74. When the column type is video in table widget the video opens only half
![image](https://user-images.githubusercontent.com/92293815/163207411-1bf6c47b-efdb-4cde-b532-a0578aae70c1.png)

[2022-04-13 14:57] #11487 closed

[2022-04-13 14:57] #12690 closed

[2022-04-13 15:20] aswathkk commented on #12365
Noticed that `resetWidget` also doesn't reset the `Table.selectedRow`.
@dilippitchika Is it a part of this problem or is it intentional?

[2022-04-13 16:40] pallavagarwal07 opened #12908 "[Bug]: Table widget only shows limited rows (first page) even with Pagination disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I don't know if this is an intended behavior or not (doesn't seem like it, but I'm surprised there's no other issues for it).

If the table component is connected to a datasource, it shows only a limited number of rows - the ones that fit without scrolling - even if pagination is disabled. I'd exp

[2022-04-13 16:41] spark-c commented on #12157
Hello! I just came across this additional little UI bug related to Table Column visibility.

When a column is hidden, swapping its position in the list with a visible column __does not correctly update the hidden/visible icons__, and causes the icons to be out of sync with the columns' actual visibility state. Refreshing the browser page gets everything back in sync.

Here is a visual demo:

https

[2022-04-13 17:02] ramsaptami commented on #7422
This looks good @albinAppsmith, we can merge this. A small change on this - can we move the comma before the space in the last step of signposting please?
![image](https://user-images.githubusercontent.com/79509062/163232644-b21db06c-8194-43d7-8e5d-77afb73ba449.png)

[2022-04-13 17:25] felixsuarez0727 commented on #12220
It seems that when the action is saved in the getSaveRequest function all data is updated but the displayName only querie the existing table name.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/339e52d6-5aef-4eb1-9019-8ad65624a962)

Possible Solution

Instead of Table1.selectedRow.name use `api_name.text.toUpperCase().replaceAll(" ", "_")`

[2022-04-13 17:58] ricardosantosmti commented on #9707
Any news? I'm experiencing the same problem in Openshift 4

[2022-04-13 19:31] leotom2000 commented on #6060
Number - works
==, <, <=, >, >=

IN - Works
[]

Boolean - Works
==

Array
- Backend is implemented , there "ARRAY_CONTAINS_ANY"  "ARRAY_CONTAINS"
- Frontend not implemented, Need "contains any"  "contains"
Need to create a FE issue

Geolocation
-  Not implemented
Need to create FE and BE issue

[2022-04-13 20:14] aswathkk opened #12910 "[Bug]: Dropdown in JSON Form doesn't close on clicking outside the dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/10436935/163262358-9c9f0b02-dbe5-42fa-91ec-69f88adcb869.mov

Clicking outside the dropdown doesn't close the dropdown consistently. This is observed only in edit mode.

### Steps To Reproduce

1. Add a JSON Form widget
2. Make one field to be a dropdown
3.

[2022-04-13 20:50] Rishabh-Rathod opened #12911 "[Task]: DataTreeFactory.create should only create dataTree for entity changed instead of creating for all entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] actions
- [ ] jsActions
- [ ] widgets
- [ ] widgetsMeta
- [ ] pageListPayload
- [ ] appData
- [ ] editorConfigs
- [ ] pluginDependencyConfig

[2022-04-13 21:45] stillman0000 commented on #12352
hey @Nikhil-Nandagopal -  I've exported the app definition [here](https://promise-error-message.surge.sh/promise-error-message.json)

sorry, not sure why my app isn't showing as public for you:

<img width="627" alt="Screen Shot 2022-04-13 at 5 39 26 PM" src="https://user-images.githubusercontent.com/92891232/163275334-e702cbb3-6b38-47a0-855e-265a51e3d397.png">

[2022-04-14 03:02] #9753 closed

[2022-04-14 04:36] SidHiremath commented on #12903
It is dangerous bug when we we are building the critical application(related to financial apps),  Could you please fix this as soon as possible within some time or so.

[2022-04-14 04:36] #12290 closed

[2022-04-14 04:46] #11553 closed

[2022-04-14 04:49] RakshaKShetty opened #12913 "[Bug]: The user should be able to re-edit the saved Datasource in reconnect data source modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The data source should be in edit mode when the user wants to re-edit the saved Datasource in reconnect data source modal

### Steps To Reproduce

1. Import the application
2. inside the reconnect Datasource modal
3. Add the datasource details
4. Now click on Save button
5. Now go back to the save

[2022-04-14 04:50] autocode-app[bot] opened #12914 "[Docs] #11745 [Bug]: Forking public app via new user sign-up results in a 400 response on prod"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #11745
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 05:05] autocode-app[bot] opened #12915 "[Docs] #11516 [Enhancement] Add API to get filter values"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #11516
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 05:09] kocharrahul7 commented on #12060
Accidentally closed

[2022-04-14 05:10] RakshaKShetty opened #12916 "[Bug]: The text alignment should be fixed inside reconnect modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The connection text should be Parallel to the first data source name in reconnect modal
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/163317779-8b30c132-3dec-4971-bc9f-26dbcf4d8d26.png">

### Steps To Reproduce

1. Import the application
2. inside the reconn

[2022-04-14 05:13] ramsaptami commented on #8535
Closing this since function name validation is being tracked in #11663 and the actual issue raised has been fixed

[2022-04-14 05:16] kocharrahul7 commented on #5265
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 70 |
| Effort (months)  | 0.5|

[2022-04-14 05:20] kocharrahul7 commented on #5267
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.5|

[2022-04-14 05:21] kocharrahul7 commented on #5274
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 40 |
| Effort (months)  | 0.5|

[2022-04-14 05:26] kocharrahul7 commented on #7493
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.5|

[2022-04-14 05:29] ramsaptami commented on #8535
Updating here on action trigger that persists behaviour even after bound JSObject has been deleted. Page refresh removes this dependency but app saving action does not re-render changes
https://www.loom.com/share/c5b1be5172694b218d2e16f2832e0953

[2022-04-14 05:38] RakshaKShetty opened #12917 "[Bug]-[424]:The open repo navigation is broken in git pull request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Pull conflict when the user clicks on the Open repo link the user is navigated to the application instead of the git repo
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/163320604-b622d2d1-120a-40c7-bfbb-bed74d98c7b0.png">
<img width="1440" alt="image" src=

[2022-04-14 05:53] vishnu-gp commented on #12301
Fixed with https://github.com/appsmithorg/appsmith/pull/12805

[2022-04-14 05:53] #12301 closed

[2022-04-14 05:54] autocode-app[bot] opened #12918 "[Docs] #10095 [Task]: Make the datepicker in property pane keyboard accessible"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #10095
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 06:00] kocharrahul7 commented on #8590
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 1|

[2022-04-14 06:01] kocharrahul7 commented on #8906
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 1|

[2022-04-14 06:09] kocharrahul7 commented on #9071
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1500 |
| Effort (months)  | 0.25|

[2022-04-14 06:09] autocode-app[bot] opened #12919 "[Docs] #12497 [Investigation Task]: Investigate widgets for dynamic height feature"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #12497
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 06:20] nidhi-nair commented on #12348
Fixed with configurations and fetch dynamic values feature.

[2022-04-14 06:20] #12348 closed

[2022-04-14 06:27] vernonstinebaker commented on #8491
+1

[2022-04-14 06:41] somangshu commented on #12617
@dilippitchika can you look into prioritising using RICE?

[2022-04-14 06:43] kocharrahul7 opened #12920 "[Bug]: Opening https://app.appsmith.com/templates or any subdomain of this doesn't redirect to a login page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a user tries to open https://app.appsmith.com/templates or any subdomain (any template directly) while not logged in, The user isn't redirected to the appsmith login page, but is instead shown a "Page not found error"

https://user-images.githubusercontent.com/20532920/163328123-b46fed25-18e7

[2022-04-14 06:48] somangshu commented on #8767
Though the property pane is not docked, the popover still overlaps the modal, If this is a real world scenario it will stop the user from completing their workflow.

The problem is with the zindex, We need a cleanup around this.

@dilippitchika kindly set impact and priority. Moving to icebox for now

[2022-04-14 06:53] aswathkk commented on #12291
Related: #9014

[2022-04-14 06:55] autocode-app[bot] opened #12921 "[Docs] #12917 [Bug]: The open repo navigation is broken in git pull request"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12917
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 07:08] somangshu commented on #12584
yes, that works, Please do post the RCA as well here

[2022-04-14 07:14] somangshu commented on #7256
@dilippitchika i think for 1.) We should do it based on the total available width and height and the item dimensions. User based configurations will have to be handled otherwise and might look unexpected or ugly.

Can we checkout some example in the market to identify the right behaviour, Meanwhile the discussion around list widget will resolve the other challenges that we might face on the grid w

[2022-04-14 07:18] somangshu commented on #12910
I observed a very similar behaviour on a dashboard I too was working on, This seems like an issue with the select / multiselect issue, maybe its not really related to the JSON form.

https://user-images.githubusercontent.com/11089579/163334064-8eca814a-ecce-47bb-ba64-21c8ff79876a.mov

[Chat ref](https://theappsmith.slack.com/archives/C02JV8G1MP0/p1648720297452199)

[2022-04-14 07:21] pranavkanade commented on #11965
@ginjojohny just confirmed this is not the `resetWidget` issue. I am replying to your email with a detailed resolution.
RCA - The default values are bound to a query response that is not cleared when the option changes; hence, as expected, input fields show the values even after widget reset.

[2022-04-14 07:23] #3911 closed

[2022-04-14 07:23] #12780 closed

[2022-04-14 07:33] autocode-app[bot] opened #12922 "[Docs] #12691 [Task]: Bring Reflow Resize feature out of Beta"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #12691
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 07:44] albinAppsmith commented on #7422
@ramsaptami  made that change also

[2022-04-14 07:59] hillsonzhang opened #12924 "[Bug]: Can't call the camera in iframe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using the iframe widget, can't call the camera in iframe

### Steps To Reproduce

1.iframe URL : https://blog.minhazav.dev/research/html5-qrcode.html

### Public Sample App

_No response_

### Version

Self Host 1.6.6

[2022-04-14 08:01] aswathkk commented on #10612
Closing this issue since it the PR is merged to theming branch

[2022-04-14 08:01] #10612 closed

[2022-04-14 08:03] autocode-app[bot] opened #12925 "[Docs] #12572 [Bug]: Dropdown popover in the property pane needs a max height after which content scrolls"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #12572
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 08:10] inmakum19 commented on #9707
Are you running as the docker service?

[2022-04-14 08:10] akash-codemonk opened #12926 "[Bug]: Signing up with a redirect url navigates to a 400 page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Trying to signup from a public app redirects the user to a 400 page.

### Steps To Reproduce

1. Visit a public app without being signed in.
2. Click on sign in at the top right.
3. Move to sign up page from login screen.
4. Enter email and password and click on signup.
5. Redirected to a 400 page

[2022-04-14 08:24] aswathkk commented on #12859
@Nikhil-Nandagopal This is only possible in our SSO if it supports OIDC.
Unfortunately, the [user](https://discord.com/channels/725602949748752515/963395716686946354/964042568105099295)'s SSO doesn't support OIDC

cc: @trishaanand

[2022-04-14 08:47] #7064 closed

[2022-04-14 08:47] #7215 closed

[2022-04-14 08:47] #9908 closed

[2022-04-14 08:47] #10119 closed

[2022-04-14 08:51] #10200 closed

[2022-04-14 08:58] somangshu commented on #12161
@wmdev0808 can you check if the above statement is true?

[2022-04-14 09:03] autocode-app[bot] opened #12928 "[Docs] #10624 [Bug]-[400]:"Disable icon" should be visible in Table widget's icon column is set to Disabled"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #10624
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-14 09:05] wmdev0808 commented on #12161
@somangshu, I will

[2022-04-14 09:33] ajinkyakulkarni commented on #7687
@prapullac verified that this is fixed now.

[2022-04-14 09:33] #7687 closed

[2022-04-14 10:20] somangshu commented on #10175
@Aishwarya-U-R can you kindly check if these 👆  use cases are covered by out test suit. Seems trivial but prone to regression

[2022-04-14 11:02] Nikhil-Nandagopal commented on #12157
@spark-c thank you for the detailed steps to reproduce it!

[2022-04-14 11:08] dominusmi commented on #8330
This is something I feel is missing, since the other button types can be a bit too restrictive. It feels quite natural for the container widget to have on-click

[2022-04-14 11:09] Nikhil-Nandagopal commented on #12352
@stillman0000 thank you! This is super clear how to reproduce now

[2022-04-14 11:28] #12629 closed

[2022-04-14 11:34] RakshaKShetty opened #12931 "[Bug]: The application breaks when the user deletes the main branch after changing the default branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The application breaks when the user deletes the main branch after changing the default branch

### Steps To Reproduce

1. Connect the application to the git
2. now create a new branch
3. From the remote chnage the default branch from master to newly created branch
4. Now delete the main branch
5.

[2022-04-14 11:54] cokoghenun commented on #11921
@Pranay105  Video has been recorded. Should be ready next week

[2022-04-14 11:57] sharat87 commented on #12873
@sum35h, can you help document the env variable you developed for setting custom Java args here please?

[2022-04-14 12:00] sharat87 commented on #10348
Hey @arminus, the image is indeed published for arm architecture, but for 64bit only, at https://hub.docker.com/repository/docker/appsmith/appsmith-ce/tags?page=1&ordering=last_updated. Is that what you're looking for?

[2022-04-14 12:16] AnaghHegde opened #12932 "[Docs]: Delete branch GitSync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- We have delete feature in git sync and we need to add this in the docs

[2022-04-14 12:41] abhvsn commented on #3199
### Next set of action
- Create a test plan after the app is connected to git, including the git-import scenarios @Parthvi12 @RakshaKShetty
- Documentation for git directory update @abhvsn @Pranay105
- Update the mixpanel dashboard @vuiets
- Remove feature-flag for git-import https://github.com/appsmithorg/appsmith/pull/12909 @AnaghHegde
- Introduce discard changes feature https://github.com/appsm

[2022-04-14 12:50] RakshaKShetty opened #12934 "[Bug]: The table widget binding fails when the user renames the table widget to data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The table widget binding fails when the user renames the table widget to data
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/163393910-663a8a73-66e3-4fb9-9135-d6248bc88767.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/4595

[2022-04-14 13:29] ame-appsmith opened #12935 "[Bug]: Google OAuth2 Error: "Invalid Authentication Credentials"/ "Please authorize datasource""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When integrating with Google OAuth2, the user is facing the error: "Please authorize datasource". Creating a data source for Google Calendar and pressing the button to authorize does not work and returns the error "You’ve been given access to an app that’s currently being tested. You should only c

[2022-04-14 14:02] rishabhrathod01 opened #12936 "[Task]: Replace cloneDeep with klona"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As `klona` is faster when compared to lodash's cloneDeep. We would like to migrate from `cloneDeep` to `klona` in all the places where it is possible in client code.

![](https://user-images.githubusercontent.com/23132741/161640950-2217879a-a138-48b2-9bb1-9efcc18b900e.png)

### Steps
- [ ] Search

[2022-04-14 14:19] #12520 closed

[2022-04-14 14:19] #12582 closed

[2022-04-14 14:27] #10615 closed

[2022-04-14 15:26] ohansFavour commented on #12766
`showAlert` expects a string as its first argument. changing the code `showAlert(MultiSelect1.selectedOptionValues.length.toString(), 'info')` solves this.

[2022-04-14 17:19] Rishabh-Rathod opened #12938 "[Task]: Fix re-rendering of all Canvas Widgets unnecessarily due to small change in one widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Benchmark:
measured initial performance (this for one user action).
- In edit an improvement from ~250ms -> ~150ms
- In view an improvement from ~150ms -> ~80ms

### SubTasks

_No response_

[2022-04-14 18:05] #11267 closed

[2022-04-14 20:15] Rishabh-Rathod commented on #11040
<img width="862" alt="Screenshot 2022-04-15 at 1 43 37 AM" src="https://user-images.githubusercontent.com/23132741/163468354-f283e65b-c034-4835-99b4-111724da483a.png">

Event - Just click on an Input widget on canvas. I see that here we have a huge performance gain opportunity.

@aswathkk @SatishGandham

Are we working on this?

[2022-04-14 20:57] momcilo-appsmith commented on #12757
@dilippitchika For some reason, I can't find it and I can't reproduce it as well. I saw it in an app from one of our users and reproduced it that day. But it seems like it is solved now.

[2022-04-14 23:06] Irongade commented on #12895
This PR already fixes this issue, https://github.com/appsmithorg/appsmith/pull/12886

[2022-04-14 23:06] #12895 closed

[2022-04-15 02:13] kocharrahul7 commented on #5296
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 8000 |
| Effort (months)  | 2|

[2022-04-15 02:16] kocharrahul7 commented on #5412
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 9000 |
| Effort (months)  | 3 |

[2022-04-15 02:19] kocharrahul7 commented on #5420
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 8000 |
| Effort (months)  | 1 |

[2022-04-15 02:23] kocharrahul7 commented on #6604
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.5 |

[2022-04-15 02:25] kocharrahul7 commented on #6727
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 1 |

[2022-04-15 02:33] kocharrahul7 commented on #7820
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2800 |
| Effort (months)  | 1 |

[2022-04-15 02:34] kocharrahul7 commented on #8057
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10000 |
| Effort (months)  | 0.5|

[2022-04-15 03:42] avaranze commented on #2430
This is really important for Appsmith to be viable for my use cases.

[2022-04-15 04:17] DaiZack commented on #4608
Got the same issue for the ElasticSearch connection. Looking forward the update

[2022-04-15 04:19] Rishabh-Rathod opened #12939 "[Type]-[604]:Property Pane mount takes around 600-700ms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Event - Click on Input Widget on Canvas.

Each codemirror component itself takes around 50-100 ms.

<img width="1492" alt="Screenshot 2022-04-15 at 1 42 00 AM" src="https://user-images.githubusercontent.com/23132741/163517596-8b78c4c3-9467-4618-9bb5-e16fbfbc42e8.png">
<img width="558" alt="Screenshot

[2022-04-15 04:35] Rishabh-Rathod commented on #12911
Before considering this task, we need to evaluate how much time does this process take for a heavy application with
- At least 20 widgets
- At least 10 queries
- At least 4-5 JsObject

If the time taken is around 50-70ms, then it is fast enough for now and we could pick this up later If it becomes a performance problem.

[2022-04-15 04:38] #12757 closed

[2022-04-15 04:45] dilippitchika commented on #10278
Needs more discussion around this

Suggested next steps:
1. Start with using the same button widget in the table
2. Observe the discrepancies and then resolve
Needs a small discussion on this before we pick this up due to a bigger impact due to the changes. Needs to be tested well enough in the next version of table.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000

[2022-04-15 05:04] dilippitchika commented on #12831
Applicable for
1. Dates
2. Numbers
3. Booleans (i think this will work already because of only 2 possible values)

Assuming all new table users will benefit from this (all users who dragged and bound a table widget)

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2400 |
| Effort (months)  | 0.5 |

[2022-04-15 05:05] kocharrahul7 commented on #6279
Done

<img width="424" alt="image" src="https://user-images.githubusercontent.com/20532920/163522947-bda3c47e-875c-48f2-b21d-396db9cf0060.png">

[2022-04-15 05:05] #6279 closed

[2022-04-15 05:10] dilippitchika commented on #12622
Only happens in the scenario when user is resizing the browser after opening the menu and then going back.

Assuming reach of 1% of table users
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 30 |
| Effort (months)  | 0.5 |

[2022-04-15 05:14] dilippitchika commented on #6518
Reach - no. of non desktop users in the last 6 months
Effort - Assuming design, dev and QA effort

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1500 |
| Effort (months)  | 1.5 |

[2022-04-15 05:27] dilippitchika commented on #6942
We can follow something similar to the property exposed in date fields, which is display date format.

Reach - Users configuring the table's col as number type
Impact - Low
Effort - Assuming 1 sprint for dev+design+QA

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 0.5 |

[2022-04-15 05:40] #12871 closed

[2022-04-15 05:44] dilippitchika commented on #9577
**Adding my notes**
App viewers need a way to do this, there are 2 states the user is in
1. User is starting a new session
2. User is already in the session

- Need a way to save (CRUD) filters at a user level. Need a user level store in appsmith or devs have to save these filters somewhere in their backend.
- Once saved, need a way to apply these filters back to the table. This can be a bit trick

[2022-04-15 05:46] dilippitchika commented on #9577
Reach - Assuming 50% of our table users need to reuse filters constantly. Pessimistic number.
Impact - Medium - Issue that frustrate users due to poor UX
Effort - design+dev+QA effort combined

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2000 |
| Effort (months)  | 2 |

[2022-04-15 05:49] nickdex commented on #8780
I too use sqlite for many of my projects and would love to see appsmith support it.

[2022-04-15 05:50] kocharrahul7 commented on #7060
<img width="253" alt="Screenshot 2022-04-15 at 10 37 44 AM" src="https://user-images.githubusercontent.com/20532920/163523408-8eb78244-b53d-4fd6-bd3c-31fc227a7c0f.png">
<img width="376" alt="Screenshot 2022-04-15 at 10 37 14 AM" src="https://user-images.githubusercontent.com/20532920/163523415-1ab40d28-8a5b-42f6-95ee-c35275c5c74f.png">

Done

[2022-04-15 05:50] #7060 closed

[2022-04-15 06:14] trishaanand opened #12941 "Doc : Add documentation for integrating with SAML on Appsmith"
As part of this exercise, we should aim to add a generic document + some helpful guides in integrating for SAML SSO using famous identity providers like Okta, Auth0, PingID, Active Directory, etc.

[2022-04-15 06:24] nidhi-nair commented on #4608
Hi @DaiZack! This feature is GA already, are you having trouble using it for your use case?

[2022-04-15 06:39] jnikhila opened #12942 "[Docs]: How - to Guide - SQL Procedures"
A guide explaining how to trigger procedures from Appsmith.
We can update the existing [doc](https://docs.appsmith.com/learning-and-resources/how-to-guides/returning-data-from-a-stored-procedure)

[2022-04-15 06:40] jnikhila opened #12943 "[Docs]: Update - Self Signed Certificate"
Update [Self Signed Certificate Doc](https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication/self-signed-certificates):
* Add screenshots
* Add steps

[2022-04-15 06:59] rohan-arthur commented on #6727
@kocharrahul7 do you mind explaining the problem and the solution being considered here? We might be working on [something similar](https://www.notion.so/appsmith/Appsmith-Store-Improvements-cebac25172084827b5a41eba4b3c28cc)

[2022-04-15 07:03] RakshaKShetty opened #12944 "[Bug]: When we do git import the application does not have the same page sequence as in original git application."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we do git import the application does not have the same page sequence as in original git application.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/163535658-790c3502-fc32-4022-a508-121b48f2824b.png">

<img width="1440" alt="image" src="https://user-ima

[2022-04-15 07:10] jnikhila opened #12946 "[Docs]: Update AWS ECS Doc"
Update the [AWS ECS](https://docs.appsmith.com/setup/aws-ecs#step-2-create-task-and-container-definitions) doc:
* Replace the images to resolve size and alignment issue.
![ecs_mount.png](https://images.zenhubusercontent.com/6203759d49a2167250e9a805/18f632d0-c655-48ae-b657-77b4a1737ddd)
![ecs_volume.png](https://images.zenhubusercontent.com/6203759d49a2167250e9a805/71bc3c26-b529-4584-a8c0-98fc2e2ff

[2022-04-15 07:40] dilippitchika opened #12947 "[Docs]: Add an inline property in the radio group documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/widget-reference/radio-group

### Describe the problem

Based on https://github.com/appsmithorg/appsmith/issues/9908 we have added a new inline property in the radio group widget. We need to add this in our docs.

Also it's missing in switch group documentation, bu

[2022-04-15 07:40] dilippitchika commented on #12947
This will go live in the next planned release

[2022-04-15 07:59] rashmi-rai opened #12948 "[Bug]-[11200]:Show filepicker to upload self signed certificates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**Current Behavior**
Filepicker to upload `Self signed certificate` show up for a specific selection, AuthType `OAuth2.0` and Grant Type `Authorization Code` and Use Self-signed certificate:`yes`.

**Required behavior**
Show to upload `Self-signed certificate` irrespective of the user  inputs.

##

[2022-04-15 08:03] SatishGandham opened #12949 "[Task]: Prevent the layers on top of widgets from rendering in edit mode"
In edit mode each widget has these 9 layers on top of it.

- PositionedContainer
-  SnipeableComponent
- DraggableComponent
- WidgetNameComponent
- ResizableComponent
- OverlayCommentsWrapper
- PreventInteractionsOverlay
- PreviewModeComponent
- ErrorBoundary

Whenever you change a property in the property pane, or edit a meta property  all these layers render for all widgets on the canvas and non

[2022-04-15 08:10] SatishGandham commented on #12949
Some changes to baseWidget to getStarted
https://gist.github.com/SatishGandham/421f696f36cab97263471348ea780dfb

[2022-04-15 08:31] #12766 closed

[2022-04-15 08:40] momcilo-appsmith commented on #9815
@aswathkk Can you provide an example where this would be useful?

[2022-04-15 08:52] Rishabh-Rathod opened #12951 "[Task]: Add Tests for DataTreeEvaluator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] createFirstTree
- [ ] isJSObjectFunction
- [ ] updateLocalUnEvalTree
- [ ] getUpdatedLocalUnEvalTreeAfterJSUpdates
- [ ] updateDataTree
- [ ] getCompleteSortOrder
- [ ] getEvaluationSortOrder
- [ ] createDependencyMap
- [ ] getPrivateWidgets
- [ ] listEntityDependencies
- [ ] evaluateTree
- [ ]

[2022-04-15 08:54] eco-monk opened #12952 "Create a list of improvements for linting"

[2022-04-15 08:55] rimildeyjsr opened #12953 "[Feature]: Add event listener for listening to "message" from parent applications to appsmith apps embedded in iframe"

[2022-04-15 08:56] Rishabh-Rathod commented on #12951
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/12951?planning-poker) with ZenHub @ApekshaBhosale @ohansFavour @rimildeyjsr @eco-monk

[2022-04-15 08:58] rimildeyjsr commented on #7241
Splitting this issue into 2 - this ticket contains adding post message as a global function and
[this ticket has the adding of event listener part ](https://app.zenhub.com/workspaces/fe-coders-pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/12953)

[2022-04-15 09:06] rohan-arthur commented on #12903
@SidHiremath thank you for your comment. We are currently trying to find a way to reproduce this, do you see this issue in your apps as well? If yes, do you mind doing the following:
1. invite support@appsmith.com to your org
2. share the app link and steps to reproduce the error here

[2022-04-15 09:13] eco-monk opened #12954 "microlops user - cyclic dependency error"
Happens right after Js actions update call throws 404 error.

---

Switching branch helped unblock the user.
master branch still has the error.

---

Workarounds for 404 error, didn't work so far.
User currently shared access to mongo DB. So we can fix it. (@abhvsn)

---

Shared a code fix which caused un-necessary updates in some pages.
Changing table button onclick from (using simplified code he

[2022-04-15 09:13] Rishabh-Rathod commented on #12833
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/12833?planning-poker) with ZenHub @rimildeyjsr

[2022-04-15 09:13] autocode-app[bot] opened #12955 "[Docs] #12954 microlops user - cyclic dependency error"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12954
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-15 09:25] Rishabh-Rathod commented on #12012
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/12012?planning-poker) with ZenHub @ohansFavour

[2022-04-15 09:41] AmanAgarwal041 opened #12956 "[Bug]-[5760]:Created API does not save body if raw type is selected with no headers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Body Values are not being saved if the headers are empty and raw type is selected for body tab.
https://user-images.githubusercontent.com/7565635/163555189-557f3734-3a60-4ee4-92ed-fa0548d31cd2.mov

### Steps To Reproduce

1. Create an API
2. Go to body tab
3. By default the selected type is `raw`

[2022-04-15 09:59] jnikhila opened #12957 "[Bug] : OAuth2- Authenticated API | Client Credentials"
The datasource creation when selected grant type as Client Credentials fails.

Scenario 1 - The datasource creation happens but it suddenly starts failing with  and then you are no longer able to add the datasource.

`{"responseMeta":{"status":500,"success":false,"error":{"code":5000,"message":"Internal server error while processing request"}}}`

Scenario 2 - When the datasource is created and you

[2022-04-15 10:05] aswathkk opened #12958 "[Task]: Icon selector popup keyboard accessibility"
The navigation inside the icon selector should be happening using `Tab` keys rather than using Arrow keys.
This is done to be consistent with Color picker and Date picker controls

[2022-04-15 10:51] sh-TU commented on #12957
I encountered this issue as well. From the logs, it seems appsmith is expecting a refresh token but according to the oauth2 specs, client credentials shouldn't have a refresh token.

[2022-04-15 10:58] #11962 closed

[2022-04-15 11:03] #12349 closed

[2022-04-15 11:08] drnareshchauhan commented on #3599
need stripe integration

[2022-04-15 11:13] felixsuarez0727 commented on #12631
As of now, tree actions have been added.

[2022-04-15 11:17] nidhi-nair opened #12959 "[Task] : Instrument server heap monitoring and create baseline for tracking memory consumption"

[2022-04-15 11:18] felixsuarez0727 commented on #12220
Need to test possible solution described above.

[2022-04-15 11:22] Rishabh-Rathod opened #12960 "[Task]: Find and list in evaluation code what all functions are missing tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

 - Find missing tests
 - Create tasks for such tests

[2022-04-15 11:25] rohan-arthur commented on #12948
REST 6m usage: 3500
assume 40% requirement: 1400

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1400 |
| Effort (months)  | 0.25 |

[2022-04-15 11:26] felixsuarez0727 commented on #12524
The assesment shows that this is front end related.

[2022-04-15 11:28] felixsuarez0727 commented on #11984
This is current status. Unchecked boxes will be completed for next sprint:
![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/f21e9a8e-ab77-4643-8285-25c3eb8c38e7)

[2022-04-15 11:34] felixsuarez0727 commented on #12565
Assesment shows that this is Front End related.

[2022-04-15 11:36] felixsuarez0727 commented on #12151
This is almost done, but we will continue next sprint.

[2022-04-15 11:36] felixsuarez0727 commented on #11404
Need to continue to next sprint.

[2022-04-15 11:47] wmdev0808 commented on #12161
@somangshu ,
The issue above is true

[2022-04-15 11:47] autocode-app[bot] opened #12963 "[Docs] #12714 [Bug]-[480]:Tree select widget - dropdown flickers when we click on the default selection area and filter has text entered."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12714
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-15 12:14] #11946 closed

[2022-04-15 20:42] profiluefter opened #12965 "[Bug]: Passwords longer than 48 characters are "not strong enough""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I've setup the self hosted version using Docker.
In the initial user registration I've generated a random password using a password manager and it resulted in the error message "Please enter a strong password" shown below the password prompt although it was a very long and secure password.
I've tr

[2022-04-16 00:53] kamilkabir9 commented on #11105
Hi any idea why the below coding is not working
`function year_month_dropdown(){

        let start_year = 2021; //change start year for year picker
        let end_year = 2022; //change end year for year picker
        let years = [];
        function getMnth(year){
        	return moment.months().map((v) => { return {label: `${v} - ${year}`, value: moment(`${v}-1-${year}`, "MMMM-D-YYYY").format(

[2022-04-16 09:01] Rishabh-Rathod commented on #9782
Moving this issue from `Needs Doc` to `product backlog` as we already have documentation and aim to fix the core issue.

[2022-04-16 09:03] Rishabh-Rathod commented on #11542
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/11542?planning-poker) with ZenHub @ApekshaBhosale

[2022-04-16 09:35] Rishabh-Rathod opened #12966 "[Bug]: DataTreeFactory.create takes >300ms for complex application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

#### Terminology
`DataTree` in appsmith is the object which has all widgets, actions, and JS objects evaluated data + configuration data.

To get this `dataTree` we create an unEvalDataTree using `DataTreeFactory.create` and pass it to the worker.
The worker then gives us an evaluated `dataTree`.

[2022-04-16 09:35] Rishabh-Rathod commented on #12911
Duplicate of https://github.com/appsmithorg/appsmith/issues/12966

[2022-04-16 09:35] #12911 closed

[2022-04-16 09:55] Rishabh-Rathod commented on #12966
The above issue contributes a huge role in causing this https://github.com/appsmithorg/appsmith/issues/12318.

Assuming that for this complex application. We want the evaluated data tree back from the worker in 200ms, after the user types in a widget to reflect that in bindings.

- Current worker time to evaluate changes is ~178.32 ms.
<img width="502" alt="Screenshot 2022-04-16 at 3 16 49 PM" src

[2022-04-16 11:10] kavhad commented on #12957
Also encountered this issue. I'm using AWS Cognito service for authentication and authorization and OAuth2 as protocol. I concurr with @sh-TU appsmith should only expect and use the accessToken in client credentials flow.

[2022-04-16 12:46] Rishabh-Rathod commented on #12318
For analyzing this issue, we needed a complex application where it was reproducible.
Thanks to our user @SidHiremath for helping us out with that.

<hr/>

## RCA

### Problem:

When the user typed for example `"ABCDEF"` in an Input widget and quickly submitted an action using a Button click.
It was noticed that for most of the cases only truncated values like "ABC" was passed on to the action.
Als

[2022-04-16 12:50] Rishabh-Rathod commented on #12486
link to RCA for https://github.com/appsmithorg/appsmith/issues/12318#issuecomment-1100655898

[2022-04-16 12:50] #12486 closed

[2022-04-17 01:57] kocharrahul7 commented on #6813
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 1|

[2022-04-17 02:02] kocharrahul7 commented on #10139
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 20 |
| Effort (months)  | 0.5|

[2022-04-17 02:09] kocharrahul7 commented on #10740
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.5 |

[2022-04-17 03:59] rohan-arthur commented on #9700
mongo 6m usage: 800
assume 25% requirement: 200
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.5 |

[2022-04-17 04:46] rohan-arthur commented on #9941
same happens for postgres too
6m usage: 1000+2500 = 3500
applying 20% requirement: 700

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | 0.5 |

[2022-04-17 04:58] rohan-arthur opened #12967 "[Feature]: Show helpful errors to app viewer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

On the [github manager](https://app.appsmith.com/applications/60d72903ee9aa1792c5bf168/pages/614d9b9e18a27e5288afa99d) app, when I try to create a new label, I see an error: `Create_Label failed to execute`

When I tried the same steps in edit mode, I see the error and upon debugging I can see that th

[2022-04-17 05:03] rohan-arthur commented on #5004
6m incidence: 200

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.5 |

[2022-04-17 05:05] rohan-arthur commented on #2675
applying 50% requirement, 6m usage: 6000
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | 0.25 |

[2022-04-17 05:09] rohan-arthur commented on #10235
copying stats from [here](https://github.com/appsmithorg/appsmith/issues/2675)
@sumitsum please correct the effort as needed, I am assuming ~1 week
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | 0.25 |

[2022-04-17 05:12] rohan-arthur commented on #12967
related #6261

[2022-04-17 05:13] rohan-arthur commented on #11830
related #6261

[2022-04-17 05:14] rohan-arthur commented on #12967
duplicate of #11830

[2022-04-17 05:14] #12967 closed

[2022-04-17 05:30] rohan-arthur commented on #12008
CREATE_DATASOURCE_CLICK, plugin = REST API: 1700
Assume 25% use curl: 425
Assume 5% attempt empty save: 21

[2022-04-17 05:42] rohan-arthur commented on #2028
6m sql usage: 3300
assume 5% requirement: 165

[2022-04-17 05:43] rohan-arthur commented on #11229
6m usage: 3600
assume 5% requirement: 180
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 180 |
| Effort (months)  | 0.25 |

[2022-04-17 06:06] hiteshjoshi commented on #12759
@akash-codemonk can you take a look into this

[2022-04-17 07:06] autocode-app[bot] opened #12968 "[Docs] #12554 [Bug]-[400]:Select widget's default selectedOptionLabel shows data from the value field and not the label field"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12554
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-17 10:53] autocode-app[bot] opened #12970 "[Docs] #12319 Add BE analytics event for templates"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12319
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-17 10:53] autocode-app[bot] opened #12971 "[Docs] #12339 Recently used templates | BE"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12339
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-17 11:11] nayan-rafiq commented on #12319
@kocharrahul7 I've logged and attached application name property when template is forked. What other things we need to do for this? We're logging event for fork template only.

[2022-04-17 13:07] kocharrahul7 commented on #12319
This is enough for now.

I assume we have a user ID as well, so we can see the total number of users who are forking templates?

[2022-04-17 20:46] wmdev0808 commented on #12554
@somangshu
I am increasing the original estimate to 3 because of the following increased complexity:
- selectedOptionLabel/selectedOptionLables, even selectedOptionValues does not work with the select widgets(Select/MultiSelect, TreeSelect/MultiTreeSelect)
- We need to re-calculate the selected labels when the widgets are mounted, defaultOptionValue and even options changes for single source of tr

[2022-04-18 01:54] kocharrahul7 commented on #7723
@jsartisan I can't reproduce this issue. Could you confirm if this still exists?

[2022-04-18 01:57] kocharrahul7 commented on #8171
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 8000 |
| Effort (months)  | 0.5 |

[2022-04-18 02:05] kocharrahul7 commented on #8978
The escape key closes the modal, but clicking outside doesn't.

[2022-04-18 03:07] kocharrahul7 commented on #10329
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4000 |
| Effort (months)  | 1 |

[2022-04-18 03:12] kocharrahul7 commented on #7278
@ramsaptami I am no longer able to replicate this error, can you please confirm if you are

[2022-04-18 03:18] kocharrahul7 commented on #10184
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 1 |

[2022-04-18 03:19] kocharrahul7 commented on #9492
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.75 |

[2022-04-18 03:21] kocharrahul7 commented on #10320
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.5 |

[2022-04-18 03:38] kocharrahul7 commented on #9652
possible duplicate issue :https://github.com/appsmithorg/appsmith/issues/10740

@ramsaptami can you please confirm that both are the same

[2022-04-18 03:38] kocharrahul7 commented on #9652
possible duplicate issue :https://github.com/appsmithorg/appsmith/issues/10740

@ramsaptami can you please confirm that both are the same

[2022-04-18 03:39] kocharrahul7 commented on #12171
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | 1 |

[2022-04-18 04:08] ankitakinger opened #12973 "[Task]: Test cases for SAML"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Cypress test cases for SAML
- Jets test cases for SAML

[2022-04-18 04:09] hiteshjoshi commented on #12074
Closing this.

[2022-04-18 04:09] #12074 closed

[2022-04-18 04:21] autocode-app[bot] opened #12974 "[Docs] #12759 [Bug]: Omnibar: List Widget - Update broken link"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12759
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 04:46] dilippitchika commented on #12660
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5 |
| Effort (months)  | 0.5 |

[2022-04-18 04:55] dilippitchika commented on #12934
No data exists to determine the reach directly. We need a way to log widget names in mixpanel. Assuming 10 for now due to the fact that if this was caught then people would have gotten back to us in most cases. Good catch @RakshaKShetty 🎖️

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10 |
| Effort (months)  | 0.5 |

[2022-04-18 05:09] #8636 closed

[2022-04-18 05:14] dilippitchika commented on #2906
Solved partially in #3369, needs to be added for other items.
After theming the following properties need to be JS controllable
1. Font style
2. Text align
3. Vertical alignment

[2022-04-18 05:17] dilippitchika commented on #2906
Assuming 10% of these property users wanted to config JS

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.25 |

[2022-04-18 05:20] autocode-app[bot] opened #12975 "[Docs] #12600 [Bug]-[10500]:When REST API authentication fails with error response status, no error message is shown"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12600
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 05:32] rohan-arthur commented on #12956
REST 6m usage: 3600
assume 20% requirement (body type raw): 720

[2022-04-18 05:35] rohan-arthur commented on #12842
Hi @prapullac the screenshot didn't get uploaded, would you please upload it again? Are you referring to these two CTAs:
![Screenshot 2022-04-18 at 11.04.10.png](https://images.zenhubusercontent.com/6196337f2def7ccca841bb55/c48b73a2-3b5f-4b06-9170-f38d6d405490)

[2022-04-18 05:39] autocode-app[bot] opened #12977 "[Docs] #11621 [Bug]: Evaluated values don't show in pop up unless modified"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11621
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 05:39] autocode-app[bot] opened #12978 "[Docs] #11795 [Bug]: Binding values directly in the API url does not get evaluated"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11795
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 05:43] Rishabh-Rathod commented on #12584
## RCA [DRAFT]

### Cause:
In the `AppViewerPageConatiner` component, we subscribe to all the widgets.
Even if a single property in one of the widgets changes, `AppViewerPageConatiner` subscribing to all the widgets rerenders. Individual components themselves don't re-render because of the should component update implemented in the base widget.

### Solution:
Make each widget subscribe to its own

[2022-04-18 05:49] Rishabh-Rathod commented on #12834
Duplicate of https://github.com/appsmithorg/appsmith/issues/12949

[2022-04-18 05:49] #12834 closed

[2022-04-18 05:50] rohan-arthur commented on #12957
what is the event that we raise for this error? I tried this filter and it gave me only one result in the past year, so it looks wrong:
![Screenshot 2022-04-18 at 11.19.22.png](https://images.zenhubusercontent.com/6196337f2def7ccca841bb55/66691a87-aa3f-4446-956d-f722fdb488ec)

[2022-04-18 05:51] ramsaptami commented on #9782
Needs a lint rule implemented around the usage of `return` keyword

[2022-04-18 06:02] riodeuno commented on #11038
# Dynamic height investigation results

## Approach

- We assumed using [`ref`](https://reactjs.org/docs/refs-and-the-dom.html) to be the most straightforward approach to enable dynamic height in widgets.
- This works by attaching refs to all widget components, that are [forwarded](https://reactjs.org/docs/forwarding-refs.html) from the Widget in concern. The refs are creatd in the BaseWidget abst

[2022-04-18 06:07] autocode-app[bot] opened #12980 "[Docs] #12774 [Bug]-[500]:Table column border is sensitive and triggers both move and resize actions on mouse click leading to bad UX"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12774
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 06:09] #10624 closed

[2022-04-18 06:10] #12584 closed

[2022-04-18 06:23] AnaghHegde commented on #12931
@RakshaKShetty I looked at release env and found a different issue. After updating the default branch the delete branch, we are unable to delete the master branch. I will be closing this.
https://www.loom.com/share/a258959e14434c8fa1936fd815b3b194

[2022-04-18 06:26] sh-TU opened #12981 "[Bug]: S3 Datasource queries breaking and expiry option is removed since 1.6.17"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upgrading to 1.6.17, breaks the S3 queries and needs to be recreated. The expiry date option for Listing files is also gone.

<img width="1053" alt="image" src="https://user-images.githubusercontent.com/91042553/163765091-1f360303-6726-4b0d-942d-24efe7a60cdc.png">

### Steps To Reproduce

1. Edit

[2022-04-18 06:33] RakshaKShetty opened #12982 "[Bug]: The sample datasource "Users" is breaking with an error "Failed to initialize pool: The connection attempt failed.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The sample datasource "Users" is breaking with an error "Failed to initialize pool: The connection attempt failed."

### Steps To Reproduce

1. Create an app
2. add a Sample datasource Users
3. Create a new select query
4. Run the query
5. The error is displayed as "Failed to initialize pool: The

[2022-04-18 06:36] RakshaKShetty commented on #12982
works for old datasource only issue with the newly added datasource

[2022-04-18 06:37] abhvsn commented on #12344
For client-side migration, we have decided to depend upon letting users know about the migration. This is because the server doesn't have any way to run the client-side migration, which is resulting in uncommitted changes showing up even after the discarded change is executed successfully.

[2022-04-18 06:47] rohan-arthur opened #12983 "[Bug]: [Regression] Internal server error when saving a OAuth2 datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am trying to connect to zoho crm with OAuth 2.0. When I enter all the fields and click "Save and authorize", I see an internal server error. Video:

https://user-images.githubusercontent.com/94514895/163767994-24c9be9b-03b8-4c17-a9c5-a65144f19fc9.mov

error message: `{"responseMeta":{"status":50

[2022-04-18 06:48] jnikhila opened #12984 "[Docs]: Guide for OAuth Client Credentials workflow"

[2022-04-18 06:56] dilippitchika commented on #6164
@rohitagarwal88 can you please triage this issue for ui-builders team to pick it up?

[2022-04-18 06:57] autocode-app[bot] opened #12985 "[Docs] #12913 [Bug]: The user should be able to re-edit the saved Datasource in reconnect data source modal"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12913
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 07:03] dilippitchika commented on #12905
@Bhavin789 can you please add your findings here, this is a high priority issue.

[2022-04-18 07:03] dilippitchika commented on #11485
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 350 |
| Effort (months)  | 0.5 |

[2022-04-18 07:06] momcilo-appsmith commented on #9815
@aswathkk @dilippitchika @somangshu Can you provide an example where this would be useful?

[2022-04-18 07:22] om-ray opened #12987 "[Bug]: Typeerror: Cannot read properties of undefined (reading 'status')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am on macOS and I set up the client and server-side development environments, following all the steps and the videos in the ServerSetup.md and ClientSetup.md, and when I went to http://dev.appsmith.com:3000/ after running `yarn start` with the docker containers running I get an error that looks

[2022-04-18 07:24] aswathkk commented on #9815
<img width="727" alt="Screenshot 2022-04-18 at 12 51 59 PM" src="https://user-images.githubusercontent.com/10436935/163771981-8109226e-dc38-44de-8454-74a361d4df16.png">

@momcilo-appsmith In this table, **it's hard to see the image** properly since it is small. The maximum height possible for an image inside the table is 28px.

[2022-04-18 07:33] dilippitchika commented on #9815
@momcilo-appsmith this is a good issue to pick up for design, if you have used word-wrapped table which Balaji created with images you can see how this behaves today after updates.

[2022-04-18 07:37] dilippitchika commented on #9815
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 220 |
| Effort (months)  | 0.75 |

[2022-04-18 07:40] RakshaKShetty opened #12988 "[Bug]: Users are not able to delete the branch which has been changed from the default branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Users are not able to delete the branch which has been changed from the default branch

### Steps To Reproduce

1. Connect the application to the git
2. now create a new branch
3. From git hub change the default branch to the newly created branch b1
4. Now come back to the application sync the bra

[2022-04-18 07:43] dilippitchika commented on #6293
@somangshu is there another issue for the list widget to scroll instead of pagination for all data on the client side? This small fix would actually improve the UX for a lot of list implementations.

Infinite scrolling can be done after we implement it for the table widget.

[2022-04-18 07:46] momcilo-appsmith commented on #9815
The way I am thinking to go about this is to either:

- Have a set of defined values for the width or
- Have a custom width field

[2022-04-18 07:48] somangshu commented on #6293
@dilippitchika I did not catch what small fix you are talking about!
I am also not sure if actually the table widget implementation for infinite scrolling will fix it for the list widget as well.

I think once we iron out the initial big problems, we will be able to get to these

[2022-04-18 07:49] somangshu commented on #9815
@momcilo-appsmith should this also involve a max-width baed on the table cell dimension?

[2022-04-18 07:51] somangshu commented on #12554
@prsidhu @Tooluloope can you kindly review this approach?

[2022-04-18 07:53] somangshu commented on #11105
@kamilkabir9 Is this is a JS Object? How are you utilising the above code?

Idea the code is alright and should be able to execute if implemented properly

[2022-04-18 07:56] somangshu commented on #6942
@dilippitchika I think this should also be a part of the input widget! Under the type number these formatting options are valid for the user

[2022-04-18 08:00] vivekverma2312 opened #12989 "[Bug]: Mouse pointer is not moving along with the Table filter pop up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/13d18c5e42dc48868c3bf84f1a830353

### Steps To Reproduce

1. Drag and drop a Table widget
2. Click on filter on table widget
3. Try to move the filter on the canvas
4. Observe for the 1st time the pointer is not moving along with the filter pop-up

The issue is observe o

[2022-04-18 08:00] somangshu commented on #8330
Thanks for the opinion here @dominusmi, This will help us prioritise further

[2022-04-18 08:12] rashmi-rai commented on #12957
There are two issues in the here:
- API is returning this error `Bad Request: Malformed parameter 'resource' for DatasourceController.update`
- Remove `Save and Authorise` button for `Client Credentials` Grant Type

[2022-04-18 08:14] autocode-app[bot] opened #12990 "[Docs] #12916 [Bug]: The text alignment should be fixed inside reconnect modal"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12916
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 08:26] YogeshJayaseelan opened #12991 "[Bug]-[167]:No error message is displayed when the input widget default number is greater then the max field value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is observed that when the input widget number type default value is greater than the max field value then no error message is displayed

https://loom.com/share/36e9c4837e3f46fabb33d769a3e73f37

### Steps To Reproduce

1. Lunch the appsmith app in release/Prod environment
2. Drag and drop input

[2022-04-18 08:29] abhvsn commented on #12344
@IAmAnubhavSaini I'm not able to reproduce the bug when we have updates for queries, JSObject and pages etc and user tries to delete the datasource which already has the queries attached. If you are still facing the issue can you please list down the steps to reproduce?
For ref: https://www.loom.com/share/ddb8af641cb8410c9634aa25d37d33eb

[2022-04-18 08:29] dilippitchika commented on #6293
Agreed I am just using this to kick off a discussion, what i was referring to was list ONLY having pagination today and no scroll. If i don't want pagination, there's no way out of it.

Most list implementations have scroll and not pagination. However, we don't offer that choice to the user since we auto-paginate. We should allow a way to switch off pagination, because all items will simply show u

[2022-04-18 08:30] momcilo-appsmith commented on #9815
@somangshu At first I thought that it shouldn't because of cell wrap, but then you won't be able to define width if you don't.
I think the answer to your questions is NO.

[2022-04-18 08:37] autocode-app[bot] opened #12992 "[Docs] #12973 [Task]: Test cases for SAML"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12973
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 08:46] dilippitchika commented on #9815
Yeah, i also thought the same that we give default sizes for the images like Small, medium, Large and in the JS option user can define the height of image in px if they wish to.

The challenges i see are
- Each image can be of different dimension, so having a fixed set of values may cause some other problems like another column getting wrapped.
- Defining the default sizes themselves

[2022-04-18 08:50] dilippitchika commented on #6942
@somangshu i was only considering this for display purpose and not the editing purpose yet. That is the reason i removed the input widget.

If we were to add it there as well, i believe the issue should be updated, because the impact is for app-viewer will be higher because they can edit the values.

[2022-04-18 08:53] dilippitchika commented on #12989
Reach - Assuming 5% of table users encounter this because filtering actions are not recorded in mixpanel
Impact - As vivek added, low because it's bad UX

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 60 |
| Effort (months)  | 0.5 |

[2022-04-18 09:07] shwetha-ramesh opened #12993 "[Bug]: First step of the welcome tutorial throws error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

First step of the welcome tutorial throws error

![image](https://user-images.githubusercontent.com/92293815/163785230-1b89f2d4-4620-453c-96af-db543134ed88.png)
![image](https://user-images.githubusercontent.com/92293815/163785270-996617da-b83c-4a0b-b264-4f1fd6107529.png)

https://loom.com/share/4

[2022-04-18 09:24] autocode-app[bot] opened #12994 "[Docs] #12988 [Bug]: Users are not able to delete the branch which has been changed from the default branch"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12988
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 09:30] momcilo-appsmith commented on #9815
@dilippitchika I think letting them choose from one of the sizes we set is the way to go. Is there a way we can enable people to zoom in the picture?

[2022-04-18 09:49] dilippitchika opened #12995 "[Feature]: Support schema driven way of generating a JSON form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Users want to provide the data types for the fields in the JSON form rather than inferring in automatically.

### Why should this be worked on?

Today JSON form makes assumptions when data is bound to it, users don't want any assumptions to be made by the form and follow a particular schema provided t

[2022-04-18 09:54] #12931 closed

[2022-04-18 09:57] shwetha-ramesh opened #12996 "[Bug]: "Unexpected error" is shown for empty organization name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

"Unexpected error" is shown for empty organization name
![image](https://user-images.githubusercontent.com/92293815/163791878-bd6e1f18-03db-491c-9bfc-16ec4570af8c.png)

### Steps To Reproduce

1. Go to Release
2. Click on three dots next to the organization > Settings
3. In General page remove the

[2022-04-18 09:58] prapullac commented on #12842
@rohan-arthur Yes the button looks inactive we need to make the user feel it is active after adding the API. We can add color and make it feel like a button that is clickable

[2022-04-18 10:01] SatishGandham commented on #12318
@Rishabh-Rathod , UnEvalTree takes the value in metaReducers. The values in your table should be AB,ABC,ABCD and the same values will be present in data datatree.

here is whats happen

1. User starts typing,
2. Types  AB
3. Pauses for 200ms
4. AB is updated in the meta properties
5. This has to go for evaluations, UNEVAL tree is computed and goes to worker. [main thread is free at this moment]
6.

[2022-04-18 10:09] autocode-app[bot] opened #12997 "[Docs] #9268 [Bug]: Indent line of code is not aligned properly on JS editor"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9268
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 10:13] abhvsn commented on #12344
For updates to the `rightColumn` property we have fixed this in the recent PR and the version we are dependent on the migration messaging as stated earlier https://user-images.githubusercontent.com/1573771/160620678-15059d1c-566a-471e-9e13-5a6c01c9c3ce.png

If we are satisfied and unable to reproduce the issue related to the datasource deletion we can close this issue
cc: @IAmAnubhavSaini

[2022-04-18 10:19] nidhi-nair commented on #11920
@rohan-arthur could you please confirm which operators we want to add as part of this enhancement?

[2022-04-18 10:20] Rishabh-Rathod commented on #12318
@SatishGandham
Yes, true. I was trying to represent not after evaluation but the current state at that time. As that seems confusing, I have updated it to what you mentioned. Now data tree values are what they would be after evaluation.

[2022-04-18 10:30] dilippitchika commented on #9815
We can i guess, but it has to happen in a popover like scenario. @momcilo-appsmith can you assign someone to research and create a design brief for this problem?

[2022-04-18 10:36] btsgh commented on #12762
Though the database dropdown is not blank, The issue commented above by @prapullac  is still existing. When we create a Query with an excel data source, only GSheets data sources are listed. This behaviour is incorrect. As per the requirement and also as per the behaviour of all the other queries associated with other data sources, All the DataSources that we have created should be listed in that

[2022-04-18 10:39] autocode-app[bot] opened #12998 "[Docs] #12318 [Bug]: Delay in capturing input value"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12318
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 10:54] aswathkk opened #13000 "[Task]: Enforce certain property control to be non-JS convertible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We have add checks to ensure that the following property controls are not JSConvertible
- [ ] TabControl
- [ ] InputTextControl
- [ ] CodeEditorControl
- [ ] ChartDataControl
- [ ] PrimaryColumnsControl
- [ ] PrimaryColumnDropdownControl
- [ ] ComputeTablePropertyControl
- [ ] MenuItemsControl
- [ ]

[2022-04-18 10:56] akash-codemonk commented on #12993
This should be fixed now. Context https://theappsmith.slack.com/archives/CGBPVEJ5C/p1650264061622499.

[2022-04-18 10:56] #12993 closed

[2022-04-18 10:57] aswathkk opened #13001 "[Task]: Remove unused property controls from the code base"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

There are some unused property controls residing inside src/components/propertyControls/.
Those should be removed from the codebase

- [ ] MultiSwitchControl
- [ ]

[2022-04-18 10:59] rohan-arthur commented on #11920
@nidhi-nair the two main missing ones are:
1. `<> (Not equal to)` - to include in the exclusion condition
2. `LIKE` or `CONTAINS` - not sure if they are replaceable for each other, but a way to to text-matching, for example, I want to get all rows that have `Metal` in the `Genre` column, which can have values like `Thrash Metal`, `Progressive Metal`, etc.
Further point to be noted: on LIKE vs CONT

[2022-04-18 11:03] aswathkk opened #13002 "[Feature]: Needs proper validation for CurrencyInput and PhoneInput"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need to add proper validation for Currency field of CurrencyInput widget and Default Country Code field of PhoneInput widget.

### Why should this be worked on?

This will help the user to write error free code when switching to JS mode.

https://user-images.githubusercontent.com/10436935/163799442

[2022-04-18 11:06] techbhavin commented on #12905
In My Observation, Look Like there is a specific issue with the given applications.

Below I tried to create the same application which is using the chart widget and here I am not able to reproduce the same issue

Public App
https://release.app.appsmith.com/app/mapping-test/page2-625d3a1577c4e778bb8107ea

[2022-04-18 11:06] autocode-app[bot] opened #13003 "[Docs] #12983 [Bug]: [Regression] Internal server error when saving a OAuth2 datasource"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12983
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 11:06] aswathkk opened #13004 "[Task]: Standardise property controls that uses DraggableList component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We need to standardise the following property controls:

- [ ] `PrimaryColumnsControl`
- [ ] `MenuItemsControl`
- [ ] `ButtonListControl`
- [ ] `FieldConfigurationControl`
- [ ] `ButtonControl`

[2022-04-18 11:08] kocharrahul7 opened #13005 "[EPIC]-[6000]:Templates Phase 2"
### Objective

The objective of phase 2 is to enhance the existing template reach from just making these apps forkabe and accessible  within Appsmith to truly integrating them. To achieve this, we have identified the following key areas where we can implement new user flows to make templates and more effective:

- Allowing the user to access templates from within the canvas, allowing them to add/m

[2022-04-18 11:09] kocharrahul7 commented on #11302
Reopening issue as an epic

[2022-04-18 11:09] #11302 closed

[2022-04-18 11:09] kocharrahul7 commented on #11302
Reopening issue as an epic

[2022-04-18 11:10] autocode-app[bot] opened #13006 "[Docs] #12343 [Bug]-[5600]:Evaluate Value not included in Body of GET Request."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12343
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 11:11] kocharrahul7 commented on #13005
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3000 |
| Effort (months)  | 1 |

[2022-04-18 11:11] Rishabh-Rathod commented on #12318
@SatishGandham Yes, it seems to me this is possible by just removing evaluation to run on `SET_META_PROP`, and instead, we could create a new redux action which we will run in debounced fashion so that evaluation still run with the same delay as before but just metaReducer stays updated now.

Also, I would like to move the metaHOC state to metaReducer directly. This will also resolve https://githu

[2022-04-18 11:13] autocode-app[bot] opened #13007 "[Docs] #11538 plugins/forms api calls should not block the editor"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11538
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 11:26] SatishGandham commented on #12318
@Rishabh-Rathod , You want to remove redundant data from this step here?
https://github.com/appsmithorg/appsmith/blob/release/app/client/src/widgets/MetaHOC.tsx#L126

[2022-04-18 11:35] somangshu commented on #6942
@dilippitchika in that case, I also want to think about how this will pan out for table widget inline edit, Will be persist the formating or remove it before the editing starts.

another point is that this can we the output also, like {{input1.text}} gives out the formatted label required many times by the DB

[2022-04-18 11:38] Rishabh-Rathod commented on #12318
Yes, the metaHOC state becomes stale when we reset a widget or if the default value needs to override the meta value.
As it lies inside a react component, it is difficult to listen to those redux actions and update this stale state.
We have patch fixed those cases earlier by https://github.com/appsmithorg/appsmith/blob/release/app/client/src/widgets/MetaHOC.tsx#L96 &
https://github.com/appsmithorg

[2022-04-18 11:41] rohan-arthur commented on #12832
GSheets 6m usage: 1602
assume 50% will use smart substitution with table inline editing: 800

[2022-04-18 11:43] rohan-arthur commented on #12732
Arango 6m: 11

[2022-04-18 11:49] ankitakinger opened #13008 "[Task]: User listing Screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Listing page UI
- [x] Search functionality
- [x] Delete user flow
- [x] Edit user group association (dropdown)
- [x] Invite user flow
- [x] Unit tests

[2022-04-18 11:51] ankitakinger opened #13009 "[Task]: User groups listing screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Listing all user groups UI
- [x] Search functionality
- [x] Delete user group
- [ ] Unit tests

[2022-04-18 11:54] ankitakinger opened #13010 "[Task]: Single User Group Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Edit user group name
- [x] Search functionality
- [x] Invite user to the user group flow
- [x] UI for existing users listing
- [x] Delete user from the user group
- [x] Permission group listing
- [x] Addition/Deletion of permission groups (assuming it’s a multi select dropdown)
- [x] Unit tests

[2022-04-18 11:56] ankitakinger opened #13011 "[Task]: Permission groups listing screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Search functionality
- [x] Listing of existing permission groups
- [x] Delete permission group
- [x] Copy/Clone a permission group
- [x] Unit tests

[2022-04-18 11:59] ankitakinger opened #13012 "[Task]: Single permission group screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Creation of hierarchical and lateral graph
- [x] Library functions for edit permission group
- [x] Parsing and displaying data for each tab
- [ ] Edit name of the permission group
- [ ] Search functionality

[2022-04-18 11:59] RakshaKShetty opened #13013 "[Bug]: Select query failed toast is displayed even when the crud page is generated successfully"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Select query failed toast is displayed even when the crud page is generated successfully
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/163805036-7ae0c2b1-0cae-418c-8c19-7d5e13786e89.png">

### Steps To Reproduce

1. use a sample mongo data source
2. under ac

[2022-04-18 12:00] ankitakinger opened #13014 "[Task]: Permission driven views - 403 forbidden error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] #16458 
- [x] #16459 
- [x] #16460 
- [x] #16461

[2022-04-18 12:01] ankitakinger opened #13015 "[Task]: Cypress tests for RBAC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [X] Test infra
- [x] API integration

[2022-04-18 12:02] rohan-arthur commented on #11535
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.25 |

[2022-04-18 12:05] rohan-arthur commented on #3589
@nidhi-nair would you please explain the second point? //Can we jump to new datasource form if there are no gsheet datasources.//

[2022-04-18 12:07] aswathkk commented on #10833
### Tasks

The following tasks needs to be completed to close this issue

- [ ] Add a static method `canDisplayValueInUI(config, value)` to all the property controls
- [ ] We make sure that the PropertyControlFactory has a static map of this using PropertyControlRegistry process
- [ ] PropertyControl component uses to enable or disable JS toggle
- [ ] ActionSelector control, cannot be switched bac

[2022-04-18 12:15] vishnu-gp commented on #12996
@shwetha-ramesh This fix is to handle the issue from the backend. I believe there should be a frontend validation also needed here.

[2022-04-18 12:18] Pranay105 commented on #12715
Nidhi's explanation - The prepared statements feature, when turned off, is supposed to evaluate to exactly what the query sent for execution is.
Prepared statements today works in a 1 binding - 1 parameter relationship. This means that every binding in the query needs to correspond to a prepared parameter for the query. If the user needs more logic in the query, that does not necessarily need to b

[2022-04-18 12:19] vishnu-gp commented on #12996
@shwetha-ramesh With the backend fix https://github.com/appsmithorg/appsmith/pull/12805, empty org names won't get saved. To handle this error we would need a frontend validation or error handling when an empty name is passed.

[2022-04-18 12:21] Rishabh-Rathod commented on #12318
## Solution Summary

We are going ahead with removing the metaHOC state and making metaReducer always in sync with the latest meta values.

This resolves https://github.com/appsmithorg/appsmith/issues/12365 core issue of stale metaHOC state.

### How do we trigger evaluations, if not when we setMetaProp in metaReducer?
Instead of triggering evaluation on `SET_META_PROP`, now we will create a new a

[2022-04-18 12:28] ramsaptami commented on #9781
Widgets can still overlap

https://www.loom.com/share/9eb0358e906e4b84a9901607b33b69e6

[2022-04-18 12:34] wmdev0808 commented on #9781
@ramsaptami ,
We've finally decided to allow overflow of the component out of widget bounds, so it's inevitable.
cc: @dilippitchika

[2022-04-18 12:40] dilippitchika commented on #9781
Please let this be open @wmdev0808, we will close this after we add dynamic height

[2022-04-18 12:45] somangshu commented on #3369
Release plan:

Development
- [ ] Fix conflict from input widget changes @jsartisan - 18th Apr
- [ ] Few bugs around table and json form @jsartisan @ashit-rath - 19th Apr
- [ ] Check cypress test @jsartisan, Fix any failing tests - 21th Apr
- [ ] QA Callouts on migration; 90% complete and 10% remaining @keyurparalkar - 20th Apr
- [ ] Any callouts from the current migration testing - JSON form, Tabl

[2022-04-18 12:45] autocode-app[bot] opened #13017 "[Docs] #12948 [Bug]-[11200]:Show filepicker to upload self signed certificates"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12948
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 12:55] autocode-app[bot] opened #13018 "[Docs] #12903 [Bug]: input values getting truncated"
- [x] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12903
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 12:56] autocode-app[bot] opened #13019 "[Docs] #11776 [Bug]: Number of confirmation modals varies with the type of code JS objects is running and API"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #11776
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 12:56] autocode-app[bot] opened #13020 "[Docs] #12365 [Bug]: `resetWidget` fails to reset the current page number of the Table Widget"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12365
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 13:07] autocode-app[bot] opened #13021 "[Docs] #12151 [Feature] HubSpot Settings API Saas Integration"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12151
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-18 13:17] abhvsn commented on #13013
@Rishabh-Rathod can you please check on this seems like a client-side issue for `onPageLoad`

[2022-04-18 13:34] chandannkumar opened #13022 "[Bug]: onSelectionChange Event is not working for Radio group type in JSON Form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9dbc9aed3eb14685b52616b60d45504f-00001.gif)](https://www.loom.com/share/9dbc9aed3eb14685b52616b60d45504f)

### Steps To Reproduce

1. Add Json form onto the canvas
2. Add new field and change the field type to Radio Group
3. Add an event for **

[2022-04-18 13:43] AmanAgarwal041 commented on #12384
This is completed in PR - [11737](https://github.com/appsmithorg/appsmith/pull/11737)

[2022-04-18 13:43] #12384 closed

[2022-04-18 13:47] RakshaKShetty opened #13023 "[Bug]: The queries are not committed to the Git repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The queries are not committed to the Git repo

[Git import_part2.json.zip](https://github.com/appsmithorg/appsmith/files/8506007/Git.import_part2.json.zip)

### Steps To Reproduce

1. Add a app
2. generate a crud page
3. commit the changes to git
4. the queries are not added to the Git

### Public

[2022-04-18 14:31] Irongade commented on #12762
@btsgh This behaviour is not incorrect. The reason why other datasources are not displayed is because they are not of the same type as google sheets. Google sheets as of today are still classified as Saas datasources, which other types like MongoDB, MySql are not.

The behaviour is also consistent with what's in Production as of today.

[2022-04-18 14:31] #12762 closed

[2022-04-18 14:33] RakshaKShetty commented on #13023
Facing another issue
1. In master branch add a crud page in page 1 and js in a page 2
2. now create a copy of master branch in the new branch branch1
3. now in branch1 create a copy of page 1(crud page) and page 2(js page)
4. commit push then merge it to master
5. Now again take a copy of a master branch in the branch 2
6. Delete the page 1(crud page) and page 2(js page)
7. now commit and push now

[2022-04-18 14:52] rohan-arthur opened #13025 "[Feature]-[30000]:Query pane - context menu is outdated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The context menu that opens up by clicking on the three-dot menu is outdated. It should be the same as the menu that opens from the explorer.
<img width="270" alt="Screenshot 2022-03-29 at 11 44 54 AM" src="https://user-images.githubusercontent.com/94514895/163826055-2426a45e-f26d-46a7-9eb3-896c65

[2022-04-18 14:53] rohan-arthur commented on #13025
reach: 12000

[2022-04-18 14:53] nidhi-nair commented on #3589
@rohan-arthur I think that one's been fixed as part of a redesign project some time last year. The issue was that when there were no GSheets datasources configured for the app, the new datasource page used to still go to the list of available datasources and have an option to create a new datasource as another click from there.

[2022-04-18 14:55] ramsaptami commented on #12307
Verified only by uploading the same `Golden app` and works fine now

[2022-04-18 14:57] felixsuarez0727 opened #13026 "[Feature] HubSpot CMS Domains API Saas Integration"
## HubSpot CMS Domains API Saas Integration

### Description:

These endpoints allow you to return information about the domains connected to a particular HubSpot CMS site. You can return data for a list of domains or specify a domain by ID.

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/cms/domains

------------------------
### TO-DO

-----------------------

[2022-04-18 14:58] rohan-arthur commented on #3589
Thanks Nidhi. Closing the issue then

[2022-04-18 14:58] #3589 closed

[2022-04-18 15:01] rohan-arthur opened #13027 "[Bug]-[30000]:[UI] Spacing in RUN button in the Query response pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Bad spacing between “🙌 Click on RUN after adding your query”. Add space on both sides of the RUN button.
<img width="297" alt="Screenshot 2022-03-29 at 11 46 07 AM" src="https://user-images.githubusercontent.com/94514895/163827687-f2a41405-553f-480a-9675-e18ec0fde300.png">

### Steps To Reproduce

[2022-04-18 15:02] rohan-arthur commented on #13027
reach 12000

[2022-04-18 15:02] felixsuarez0727 opened #13028 "[Feature] HubSpot CMS URL Redirects API Saas Integration"
## HubSpot CMS URL Redirects API Saas Integration

### Description:

URL redirects allow you to redirect traffic from a HubSpot-hosted page or blog post to any URL. You can also update URL redirects in bulk and use a flexible pattern redirect to dynamically update the structure of URLs.

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/cms/url-redirects

-------

[2022-04-18 15:16] felixsuarez0727 opened #13029 "[Feature] HubSpot CMS Source Code API Saas Integration"
## HubSpot CMS Source Code API Saas Integration

### Description:

The CMS Source Code API allows you to interact with the files stored in your HubSpot Developer File System. These files include all of the templates, modules, CSS, JS, and other CMS assets seen in the Design Manager.

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/cms/source-code

-------------

[2022-04-18 15:57] kamilkabir9 commented on #11105
@somangshu I'm using code to create tree select component.

2022
  Jan
  Feb
  .
  .
  .
2021
  Jan
  Feb
  .
  .
  .

[2022-04-18 16:42] felixsuarez0727 opened #13030 "[Feature] HubSpot Analytics API Saas Integration"
## HubSpot Analytics API Saas Integration

### Description:

------------------------
### Documentation:

------------------------
### TO-DO

------------------------
### API Actions Progress - Custom Workflow Actions
| Action                             | EngSpec Doc | SaaS Manager App | SaaS App Run | Test App Run | QA  |
| ---                                | ---         | ---              | --

[2022-04-18 16:44] felixsuarez0727 opened #13031 "[Feature] HubSpot Automation API Saas Integration"
## HubSpot Automation API Saas Integration

### Description:

Use HubSpot's workflows to automate business processes and allow your team to be more efficient. You can create custom workflow actions to integrate your service with HubSpot's workflows.

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/automation/custom-workflow-actions

------------------------
###

[2022-04-18 16:48] felixsuarez0727 opened #13032 "[Feature] HubSpot Conversations API Saas Integration"
## HubSpot Conversations API Saas Integration

### Description:

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/conversation/visitor-identification

------------------------
### TO-DO

------------------------
### API Actions Progress - Visitor Identification
| Action                             | EngSpec Doc | SaaS Manager App | SaaS App Run | Test App Run |

[2022-04-18 16:50] felixsuarez0727 opened #13033 "[Feature] HubSpot Events API Saas Integration"
## HubSpot Events API Saas Integration

### Description:

------------------------
### Documentation:

------------------------
### TO-DO

------------------------
### API Actions Progress
| Action                             | EngSpec Doc | SaaS Manager App | SaaS App Run | Test App Run | QA  |
| ---                                | ---         | ---              | ---          | ---          | -

[2022-04-18 16:52] felixsuarez0727 opened #13034 "[Feature] HubSpot Marketing API Saas Integration"
## HubSpot Marketing API Saas Integration

### Description:

------------------------
### Documentation:

------------------------
### TO-DO

------------------------
### API Actions Progress
| Action                             | EngSpec Doc | SaaS Manager App | SaaS App Run | Test App Run | QA  |
| ---                                | ---         | ---              | ---          | ---

[2022-04-18 16:54] felixsuarez0727 opened #13035 "[Feature] HubSpot Webhooks API Saas Integration"
## HubSpot Webhooks API Saas Integration

### Description:

------------------------
### Documentation:

------------------------
### TO-DO

------------------------
### API Actions Progress
| Action                             | EngSpec Doc | SaaS Manager App | SaaS App Run | Test App Run | QA  |
| ---                                | ---         | ---              | ---          | ---          |

[2022-04-18 16:59] nayan-rafiq commented on #12319
Yes, that's correct.

[2022-04-18 17:57] AS-Laguna opened #13037 "[Feature]: Combobox - Allow user to type their own options in Select widgets."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a developer, I would like to allow my users to enter their own custom entries into a Select widget. In the even that a user searches the Select widget and their typed option doesn't exist, pressing Enter should add the typed option to the widgets options.  It may need a corresponding `onNewOptionAd

[2022-04-18 18:28] felixsuarez0727 opened #13038 "If default value is set to [] , the value displayed on installed integrations is wrong"
For example when installing Settings in an organization the default value for Secondary Team Ids is `[` instead of `[]`.

**Step to reproduce:**

1. Install the integration in an organization
2. Add a new query and choose the Add User action
3. View the default value of Secondary Team Ids

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/955a909b-8f3d-4184-a917-8b468ccc8

[2022-04-18 18:38] felixsuarez0727 opened #13039 "[Feature] HubSpot CMS Performance API Saas Integration"
## HubSpot CMS Performance API Saas Integration

### Description:

With the CMS Performance API, you can monitor your HubSpot-hosted pages for performance issues, including: uptime, status, 1xx- 5xx errors, cache hits, total requests, and median response times.

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/cms/performance

------------------------
### TO-DO

[2022-04-18 18:56] rishhavv commented on #11864
@Pranay105 what exact steps do we need to follow for discard and pull?

[2022-04-18 19:50] vuiets commented on #12922
No update is required here. We don't talk about `beta` for the new drag and drop experience in the docs.

[2022-04-18 19:50] #12922 closed

[2022-04-18 19:52] vuiets commented on #12345
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.25 |

[2022-04-18 19:55] vuiets commented on #7213
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 162 |
| Effort (months)  | 0.25 |

[2022-04-18 20:01] vuiets commented on #5211
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.25 |

[2022-04-18 20:07] vuiets commented on #8876
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 23000 |
| Effort (months)  | 0.25 |

[2022-04-18 20:09] vuiets commented on #9619
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 274 |
| Effort (months)  | 1 |

[2022-04-18 20:10] vuiets commented on #9866
@sumitsum when does this occur?

[2022-04-18 20:19] vuiets commented on #9991
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.25 |

[2022-04-18 20:30] vuiets commented on #10490
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 28 |
| Effort (months)  | 0.25 |

[2022-04-18 20:40] vuiets commented on #11551
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 330 |
| Effort (months)  | 0.25 |

[2022-04-18 20:44] vuiets commented on #12345
People who've signed up in the last 6 months: 24000
Guestimating that the number 25% of these use form login (Couldn't find the event to estimate this right): 6000

[2022-04-18 21:13] vuiets commented on #11889
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10 |
| Effort (months)  | 0.25 |

People who have created branches: 50
About 20% to delete existing pages on different branches: 10

[2022-04-18 21:15] vuiets commented on #12029
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 275 |
| Effort (months)  | 0.25 |

[2022-04-18 21:19] vuiets commented on #12988
This doesn't break the person's app so bumping down the priority on this.

[2022-04-18 23:04] alzaar commented on #12936
Hi! I would like to give this a shot. I see in the code, there are multiple instances of the cloneDeep function call. Please let me know, if I can take this on.

[2022-04-19 01:54] u128393 opened #13041 "[Bug]: Not able to disable form login & signup at build time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Most options in [app/client/src/ce/configs/index.ts](https://github.com/appsmithorg/appsmith/blob/v1.6.20/app/client/src/ce/configs/index.ts) (as of v1.6.20) are configurable via environment variables at build time, because they start with `REACT_APP_`, which are good. But a few, including `disabl

[2022-04-19 03:53] dilippitchika commented on #13037
Closing in favour of https://github.com/appsmithorg/appsmith/issues/6928

[2022-04-19 03:53] #13037 closed

[2022-04-19 04:03] dilippitchika commented on #7263
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 258 |
| Effort (months)  | 1.5 |

[2022-04-19 04:13] rohitagarwal88 opened #13042 "[Task]: Standardise Structure of Table widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:17] rohitagarwal88 opened #13043 "[Task]: Standardise structure of Text widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:18] rohitagarwal88 opened #13044 "[Task]: Standardise structure of Container widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:18] rohitagarwal88 opened #13045 "[Task]: Standardise structure of Modal widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:19] rohitagarwal88 opened #13046 "[Task]: Standardise structure of Tabs widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:20] rohitagarwal88 opened #13047 "[Task]: Standardise structure of List widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:21] rohitagarwal88 opened #13048 "[Task]: Standardise structure of Form widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:22] rohitagarwal88 opened #13049 "[Task]: Standardise structure of CheckboxGroup widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:22] rohitagarwal88 opened #13050 "[Task]: Standardise structure of RadioGroup widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:23] rohitagarwal88 opened #13051 "[Task]: Standardise structure of Switch group widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:23] rohitagarwal88 opened #13052 "[Task]: Standardise structure of Input widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:24] rohitagarwal88 opened #13053 "[Task]: Standardise structure of Input Currency widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:25] rohitagarwal88 opened #13054 "[Task]: Standardise structure of Input Phone widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:25] rohitagarwal88 opened #13055 "[Task]: Standardise structure of Select widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:26] rohitagarwal88 opened #13056 "[Task]: Standardise structure of Multi-select widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:26] rohitagarwal88 opened #13057 "[Task]: Standardise structure of Tree select widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:27] rohitagarwal88 opened #13058 "[Task]: Standardise structure of Tree multi-select widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:27] rohitagarwal88 opened #13059 "[Task]: Standardise structure of Datepicker widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:28] rohitagarwal88 opened #13060 "[Task]: Standardise structure of JSON Form widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 04:39] #11986 closed

[2022-04-19 04:40] autocode-app[bot] opened #13061 "[Docs] #11937 [Bug]-[1500]:Upon adding a new JSObj/Query/Blank API's - EntityExplorer should show the new item in the expanded tree"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #11937
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 05:06] ramsaptami commented on #12920
Still seeing the `page not found` page instead of being rerouted to login page

[2022-04-19 05:06] #12920 closed

[2022-04-19 05:11] Rishabh-Rathod commented on #12936
Hey @alzaar, thanks for showing interest 🎉 , This is all yours. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md).

Also, if you need any help feel free to reach out to us on our discord.

[2022-04-19 05:29] btsgh commented on #12355
This issue is now resolved. Based on the Feature 10600 that has been implemented, the controls have been given to user to set the size, position, width etc for the Label parameter. Works fine.

[2022-04-19 05:40] prapullac commented on #12762
Hi @Irongade
Thanks for helping us understand the implementation.I will go ahead and close the issue

[2022-04-19 05:46] divyadeepsawhney commented on #6293
I agree with @dilippitchika. Pagination should be a choice, not a forced option. I just got stuck because of this while creating a comment feed. How can I increase the number of records per page on a list? @areyabhishek @Nikhil-Nandagopal

[2022-04-19 05:55] autocode-app[bot] opened #13063 "[Docs] #13022 [Bug]: onSelectionChange Event is not working for Radio group type in JSON Form"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13022
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 05:55] billyrudi commented on #4630
Hi, there are news about development of this request?
it is very important that it is carried out so that you can best use appsmith on industrial terminals in warehouses for example

[2022-04-19 05:58] RakshaKShetty opened #13064 "[Bug]: The merge functionality breaks in git when the page name has a special character"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The merge functionality breaks  in git when the page name has a special character

### Steps To Reproduce

1. Add a app
2. connect to git create a new branch
3. generate a crud page
4. change the page name
5. commit the changes to git
6. Now try to merge the changes to Master
7. the queries are no

[2022-04-19 06:11] ramsaptami commented on #12639
Calling a query inside a JS object that's been marked as async still shows the `Async in sync` field error on console.

Steps to repro: Type in following code into a JS object, refresh page and observe console for the error
[code]

[2022-04-19 06:14] #13063 closed

[2022-04-19 06:33] #12948 closed

[2022-04-19 06:41] autocode-app[bot] opened #13065 "[Docs] #12594 [Task]: Add more cypress tests for Admin settings page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12594
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 06:55] albinAppsmith opened #13066 "[Task]: Single permission group screen - Creation of hierarchical and lateral graph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 06:56] albinAppsmith opened #13067 "[Task]: Single permission group screen - Library functions for edit permission group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 06:57] albinAppsmith opened #13068 "[Task]: Single permission group screen - Parsing and displaying data for each tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-19 06:58] albinAppsmith opened #13069 "[Task]: Single permission group screen - Edit name functionality"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Edit permission group name
- [x] Unit tests

[2022-04-19 06:59] #12497 closed

[2022-04-19 07:00] vuiets commented on #13065
Closing this as this is covered under #12941 and #12376

[2022-04-19 07:00] #13065 closed

[2022-04-19 07:01] Pranay105 commented on #12550
Some observations while fixing the tutorial -
1. There are grammatical errors that have been fixed.
2. The visuals are outdated and need to be replaced.
3. After reading through the tutorial, our product has changed a lot compared to when this tutorial was written. We need to take that into account and make changes. Some examples -
 - When you create a new app, the landing page comes with 2 option

[2022-04-19 07:02] albinAppsmith commented on #13012
Closing this since all the sub tasks are created as separate tasks and assigned to RBAC EPIC

[2022-04-19 07:02] #13012 closed

[2022-04-19 07:05] chandannkumar commented on #11533
75. Text Size is not getting updated on migration - Json form @keyurparalkar
Release env:
![Screenshot (64)](https://user-images.githubusercontent.com/95341241/163945339-5bf79061-645e-411f-b810-581ad402fb63.png)

Theming DP:
![Screenshot (65)](https://user-images.githubusercontent.com/95341241/163945436-ee1ae3e6-f22a-4375-9156-b2beb3717e2e.png)

[2022-04-19 07:06] ginjojohny commented on #11965
@pranavkanade  issue fixed as per your solution. Thank you.

[2022-04-19 07:07] autocode-app[bot] opened #13070 "[Docs] #11279 [Feature]-[300]: Include data format (Base64/Binary) information in Filepicker widget's files"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #11279
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 07:09] vuiets opened #13071 "[Task]: Analytics for SSO configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

For the time being, these BE events should help support our community
- [ ] When a person configures an authentication mode (what's required here is the type of authentication mode that is configured)
- [ ] When a person removes an authentication mode

[2022-04-19 07:10] #12990 closed

[2022-04-19 07:12] pranavkanade opened #13072 "[Bug]: Working authenticated API suddenly stopped working; `Connection Refused, status 5000`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user on the Intercom is complaining that an authenticated API suddenly stopped working. They are getting Connection Refused, status 5000 error. They’ve tested the same API on the postman, and it works fine.
https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100089491

#

[2022-04-19 07:16] somangshu commented on #9014
Closing this since the other related issue have gotten too much attention and all conversations are happening there now, Kindly subscribe there

[2022-04-19 07:16] #9014 closed

[2022-04-19 07:16] somangshu commented on #12291
cc @vasanth-appsmith @rohitagarwal88 Additional context from a user.
![Screenshot 2022-04-19 at 12 45 31 PM](https://user-images.githubusercontent.com/11089579/163947107-527ad363-bbeb-4010-94d4-5b531650626f.png)

[2022-04-19 07:20] chandannkumar commented on #11533
78. Border Radius, Box Shadow fields are blank at first until clicked once on migration - Json form
![Screenshot (66)](https://user-images.githubusercontent.com/95341241/163947009-957830f2-b6ae-44fa-b007-1d0937d4e42c.png)

**Observation**: configuring box shadow and shadow color in same field seems complicated on theming
![image](https://user-images.githubusercontent.com/95341241/163947573-9e4098a

[2022-04-19 07:25] #12346 closed

[2022-04-19 07:27] Tooluloope commented on #12910
@somangshu this isn't a Select or MultiSelect issue

@ashit-rath, I noticed the dropdown doesn't readjust after the first render as seen in the Recording.

https://user-images.githubusercontent.com/31691737/163948639-9408246c-49bc-4825-8696-6d93791e12be.mov

[2022-04-19 07:28] shwetha-ramesh commented on #11533
#ButtonGroupMigrationIssues
79. Size of the drop down for Button group widget varies on Migration
![image](https://user-images.githubusercontent.com/92293815/163949025-189493f9-b4d8-40c5-a3d0-172c1ee668c6.png)

[2022-04-19 07:33] Rishabh-Rathod commented on #13013
@abhvsn @RakshaKShetty
This seems to be an issue with the debugger showing incorrect errors as the query is executing and the table is getting data back. Doesn't seem like the query actually failed. I tried it on release, and in my case also in-network call query executed as expected.

[2022-04-19 07:39] somangshu commented on #6293
@divyadeepsawhney thanks for the opinion :)
As Dilip pointed out the pagination is automatic today, So to have more records per page you just need to increase the height of the list widget. The list widget tries to accommodate as many items as possible on the viewport based on its height, Post that it will paginate the rest of the items. Hope this answers your questions!

[2022-04-19 07:43] ashit-rath commented on #12910
@Tooluloope Is right, it's not a select or multiselect issue,  it's actually the byproduct of a feature.
We have label-input association, eg - If you have text input field and you click on the label rather than the input, the input would be focused.

As our widgets didn't support ids we had to use the explicit label-input association.

https://css-tricks.com/html-inputs-and-labels-a-love-story/

T

[2022-04-19 07:46] ashit-rath commented on #12910
@Tooluloope Yes you are right about the dropdown width; it was done for some performance reasons and I was thinking of dealing with it separately when dealing with the select /  multi select perf.
The App viewers won't see this issue thought.

[2022-04-19 08:00] somangshu commented on #11105
@kamilkabir9 I was able to find the problem, some error in the code and one bug in the tree-select widget
- Since Appsmith is reactive, we need to use IFEE to execute multiline JS code, Another problem in the code is that you are encapsulating the children array in another array and hence the code is failing to execute,
![Screenshot 2022-04-19 at 1 26 18 PM](https://user-images.githubusercontent.c

[2022-04-19 08:10] Tooluloope commented on #11105
@somangshu Not applying the Unique validation on all values would be Inconsistent.
Since the Output of the Treeselect widget doesn't specify nesting, It just outputs a value/values irrespective of if the value is nested. So if we have duplicate values in two separate Parents, the outputted value would be the same.

[2022-04-19 08:11] Tooluloope commented on #12910
@ashit-rath That's fine, But I guess we might need to handle the flickering of the dropdown. So it doesn't flicker when the Label is clicked

[2022-04-19 08:45] autocode-app[bot] opened #13075 "[Docs] #12531 [Bug]-[1200]:Unable to select previously selected option from dropdown if value outside the options is set - unless other option is selected at-least once"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12531
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 09:35] btsgh opened #13076 "[Bug]-[1476]:In Table widget, on changing Default Row Height to Tall / Small, the header font also changes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Table widget, when we change the Default Row Height property to Tall / Small, the header height remains constant, but the header font also changes.

### Steps To Reproduce

1. Drag and Drop a table widget to the canvas
2. In the Property Pane, change the Default Row Height to Tall and observe t

[2022-04-19 09:44] dilippitchika commented on #11105
Yeah agreed with Tolu,

If we start supporting duplicates then this is how it MAY work -
- Allow duplicates across children and pass both levels of information in selectedOptionValue. Like it becomes an object which has the details of parent and child. The object should be unique.

Let's see if we want to create a separate issue and tackle this, i believe this is useful for treeselect but needs mo

[2022-04-19 09:44] rimildeyjsr opened #13077 "[TECH-DEBT][REFACTOR] Refactor fieldType if-else ladder in the actionCreator/Fields.tsx file to use an object lookup"
Here - https://github.com/appsmithorg/appsmith/blob/master/app/client/src/components/editorComponents/ActionCreator/Fields.tsx#L795

This needs to be refactored to an object lookup so that we get rid of the if-else ladder

[2022-04-19 09:48] dilippitchika commented on #12708
Thanks for the info. We will triage this.

[2022-04-19 09:52] Nikhil-Nandagopal commented on #9652
Yes they seem like duplicate issues

[2022-04-19 09:52] #9652 closed

[2022-04-19 09:54] danciaclara commented on #10956
Similar issue flagged by user **Paolo Lops** on Discord
[code]

[2022-04-19 09:57] Nikhil-Nandagopal commented on #10740
@kocharrahul7 updating the reach here because this is the same issue that happens when navigating via the omnibar as well and that has much higher usage.

[2022-04-19 09:59] dilippitchika commented on #12910
@ashit-rath i guess the problem is flickering of dropdown

[2022-04-19 10:01] dilippitchika opened #13078 "[Epic]: JSON form next steps"
Now that we are starting to gain some traction on JSON form we have some issues with the JSON forms and users are also asking for improvements on it.

We had already thought about some of these improvements for the JSON form but need to design these.

Items to ship would be in product backlog for this epic

Larger items to discuss would be in the needs PRD/design flow

Items not getting picked up

[2022-04-19 10:07] rimildeyjsr opened #13080 "[TECH-DEBT][REFACTOR] Refactor ActionCreator/index.tsx if conditions to a loop and object lookup"
Here - https://github.com/appsmithorg/appsmith/blob/master/app/client/src/components/editorComponents/ActionCreator/index.tsx#L280

Refactor these to an object lookup and a loop in stead of having multiple if-else statements

[2022-04-19 10:12] rahulramesha opened #13081 "[Bug]: Canvas scroll state cannot reach all the way to the top when `scrollIntoView()` is called"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

canvas scroll cannot reach all the way to the top, when actions that invoke `scrollIntoView()` are called, eg, pasting a widget that scrolls till the bottom of the canvas, undo moving a widget out of canvas's view port.

https://loom.com/share/e493ca338ecf447eae51c9ef77504b4b

### Steps To Reprodu

[2022-04-19 10:15] Nikhil-Nandagopal commented on #12171
We should just change this to say `Schema not available`

[2022-04-19 10:19] Nikhil-Nandagopal commented on #6813
Closing this because the browser back button does this and we reverted this because it became a worse experience. Let's solve navigation once and for all as part of #2602

[2022-04-19 10:19] #6813 closed

[2022-04-19 10:23] autocode-app[bot] opened #13082 "[Docs] #12771 [Feature]: Add top-level isValid property to JSONForm that checks all fields at once"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12771
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 10:47] dilippitchika commented on #10956
Thanks for adding more info Dancia, @Tooluloope i believe it can only work with server side data is if the dev has selected what the primary key is. Let me know what you think.

[2022-04-19 10:47] btsgh commented on #11533
On Release DP - Drop a table widget.
On Theming DP, with the default classic theme, open the above page.
Change the theme now to MyTheme4 - (Rounded, Pink and Blue colours, Montserrat Font)
There is a revert option for the Table border . Click that and it becomes Rounded
Now click on the settings button of Action button -
Issues:
Button Colour does not have a revert option .
Box Shadow is having t

[2022-04-19 10:53] Rishabh-Rathod commented on #12939
Quoting @SatishGandham message from slack
[code]

[2022-04-19 10:57] prsidhu commented on #12949
Expected gains from this effort:
~ 50% reduction in scripting time.

Current scripting time for A force app on my system : ~400ms.
Scripting time after removing all HOCs in basewidget: ~200ms. (Max possible improvement)

[2022-04-19 10:58] Nikhil-Nandagopal commented on #2430
@avaranze could you tell us which libraries do you need to import? It will help us plan this feature better

[2022-04-19 11:00] autocode-app[bot] opened #13086 "[Docs] #9805 [Feature]-[12000]:Enhance experience of evaluated value on query page similar to that of canvas"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #9805
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 11:06] autocode-app[bot] opened #13087 "[Docs] #6060 [Bug]In Firestore for "Get Documents in Collection" method the "where condition" doesn't work for Number, Null, Boolean, Array of Numbers, Geolocation"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #6060
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 11:06] dilippitchika commented on #10956
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 360 |
| Effort (months)  | 0.75 |

[2022-04-19 11:10] somangshu commented on #11524
## Actionable:
- #11538 is pending, @ayushpahwa will push this into review this week
- We removed #11540 from the epic, this is not related to all the user. Will be dealt with separately
- We removed #11901, Not directly related to the EPIC, this will be taken up once @ashit-rath is free from Theming & JSON form maintenance

[2022-04-19 11:11] autocode-app[bot] opened #13088 "[Docs] #11419 [Bug]: MongoDB update query is not accepting valid value (an array) in update field"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11419
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 11:14] somangshu commented on #12747
The Root Cause can be divided into two causes,
- The redux States  `isDragging` or `isResizing` is being subscribed in too many components, So we are rendering all the canvases on the canvas and re-render all the `positionedContainer` and `DraggableComponent` of each and every widget on the canvas.
- The Second Reason, is that when we start dragging or resizing a widget, we select the widget, that

[2022-04-19 11:23] Nikhil-Nandagopal commented on #6942
I think it should work exactly like google sheets or our date picker. The underlying format is a number and you input it as a number in edit mode but there is presentation logic to add commas

[2022-04-19 11:24] abhvsn opened #13089 "[Feature]: Provide a way to increase the body size param which is required for importing the application through JSON file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/setup/kubernetes#appsmith-configuration

### Describe the problem

The default size for the request body might be limited on kubernetes clusters installed using the helm-charts which causes the problem in the import flow. This can be fixed by updating the supported

[2022-04-19 11:28] parth-appsmith commented on #9495
@AmanAgarwal041 we have collated all the latest designs for API/Query and JS editor screens in this figma file.
You can use these are reference.

https://www.figma.com/file/IfutQTUq3g97j59i3mx6Y4/?node-id=4%3A4

[2022-04-19 11:29] RakshaKShetty opened #13090 "[Task]: There should be a search user functionality in the share modal."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There should be a search user functionality in the share modal. It helps to search and invite the user when there are dupliate values

### Steps To Reproduce

1. Click on share button
2. inside the share modal
3. start typing the user email
4. the search functionality should be added here
5. it av

[2022-04-19 11:29] dilippitchika commented on #13078
**User feedback notes from slack channel**

Had a call with Appsmith Enterprise user of 3 months. Very Happy with JSONForm. Not so happy with the performance.
Application was slow, he was calling multiple queries, a query was not fetching more than 300 rows. Not sure if he was fetching lot of data.
Asked for table widget inline editing.
JSON Forms look like iframe to him, specially with scrollbar

[2022-04-19 11:42] btsgh commented on #11533
On Deploy, the header that comes up on the Deploy page is different from what is seen in the Release URL
<img width="1434" alt="THeader_Release" src="https://user-images.githubusercontent.com/101863839/163995762-090bd61d-94bd-4e21-85ac-628197e9482a.png">
<img width="1425" alt="THeader_TDP" src="https://user-images.githubusercontent.com/101863839/163995771-097d93bd-811e-46d0-b9c5-3b052d1379d7.png">

[2022-04-19 11:45] yaldram commented on #4436
The a11y controls don't work for all the widgets, `Button Widget` when used inside a form does not get focus on a tab press. This is very crucial, especially for the `Submit & Reset` buttons inside the Form.

[2022-04-19 11:46] AmanAgarwal041 commented on #2284
Meeting updates:

- create re-usable components from REST API on server side - @sumitsum will be raising the PR for this by eod
- create editor for query body and query variable - @AmanAgarwal041 will be raising the PR for this by eod
- share pagination implementation with team to gather feedback - @sumitsum - Needs to be picked up
- create test document - @prapullac

Note:
- @sumitsum and @AmanAg

[2022-04-19 11:47] nidhi-nair commented on #12343
This seems to be a client side issue, reassigning to @ayushpahwa who is looking into this right now.

[2022-04-19 11:55] #13023 closed

[2022-04-19 12:42] autocode-app[bot] opened #13091 "[Docs] #13081 [Bug]: Canvas scroll state cannot reach all the way to the top when `scrollIntoView()` is called"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13081
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 12:55] dilippitchika commented on #12660
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 15 |
| Effort (months)  | 0.5 |

[2022-04-19 13:02] ramsaptami opened #13093 "[Bug]-[40]:Disabled button can be clicked on the welcome page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Disabled button registers a click on the welcome page and hence user is navigated to the next page without needing to enter details

### Steps To Reproduce

1. Sign up to Appsmith
2. On the welcome page, click enter without entering any details and observe user navigated to next page even though b

[2022-04-19 13:17] sbalaji1192 commented on #9018
This looks like not related to the Table widget. Most likely caused by the code that changes bindings across all the widgets when a widget gets renamed. Removing the table widget label

[2022-04-19 13:24] momcilo-appsmith commented on #8719
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 30 |
| Effort (months)  | 0.25 |

[2022-04-19 13:25] jsartisan commented on #10988
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 497 |
| Effort (months)  | 0.5 |

[2022-04-19 13:26] momcilo-appsmith commented on #9777
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 625 |
| Effort (months)  | 0.25 |

[2022-04-19 13:26] jsartisan commented on #10988
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 497 |
| Effort (months)  | 0.5 |

[2022-04-19 13:28] somangshu commented on #7810
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 375 |
| Effort (months)  | 2.0 |

[2022-04-19 13:31] momcilo-appsmith commented on #11815
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 58 |
| Effort (months)  | 0.25 |

[2022-04-19 13:31] AmanAgarwal041 opened #13094 "[Bug]: Inline JS function misbehaves when query is ran and data is stored in appsmith store"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we use `appsmith store` to bind the data object to different widgets then some widgets do not show the updated value s when the data stored in the `appsmith store` is updated after running the update call to the datasource and fetching the value again.

Here's a link to the app which shows th

[2022-04-19 13:32] ashit-rath commented on #13002
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3 |
| Effort (months)  | 0.5 |

[2022-04-19 13:33] momcilo-appsmith commented on #6315
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 625 |
| Effort (months)  | 0.25 |

[2022-04-19 13:35] autocode-app[bot] opened #13095 "[Docs] #12161 [Bug]-[150]:Popover in Multi select widget inside modals breaks away from the widget"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12161
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 13:39] keyurparalkar commented on #9429
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 347 |
| Effort (months)  | 0.5 |

[2022-04-19 13:41] momcilo-appsmith commented on #9309
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 63 |
| Effort (months)  | 0.75 |

[2022-04-19 13:41] btsgh commented on #11533
Drag and drop a table widget in a page in Theming DP (Classic Theme is applied by Default)
Go to the Action button settings for Action column
Choose Button Variant as Secondary - Compare button with Release behavior - It looks different. Has a darker border as compared to Release
Choose Button Variant as Tertiary - Compare button with Release behaviour - It looks different. Has a border, while Rel

[2022-04-19 13:45] sbalaji1192 commented on #5240
When the computed value is empty we just take the values from the tableData. Do we need to change the behavior to show empty cells when computedValue is empty?

[2022-04-19 13:47] autocode-app[bot] opened #13097 "[Docs] #12747 Perf: Open property pane post dragging or resizing of a widget."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #12747
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 13:47] somangshu commented on #11506
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach | 31 |
| Effort (months) | 0.5 |

[2022-04-19 13:49] Tooluloope commented on #11128
@dilippitchika I don't think this should be fixed,
The Structure of the marker is this ``` Array<{ "lat": "number Min: -90 Max: 90 Required", "long": "number Min: -180 Max: 180 Required", "title": "string", "color": "string" }>```

A number is required, best that can happen would be to throw the validation error

[2022-04-19 13:51] somangshu commented on #9403
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 17 |
| Effort (months)  | 0.5 |

[2022-04-19 13:52] sbalaji1192 commented on #11035
## Stats
Calculated the reach by looking at users who have updated the columnOrder in the Table widget.
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1191 |
| Effort (months)  | 0.5 |

[2022-04-19 13:54] sbalaji1192 commented on #8560
related to #11316

[2022-04-19 13:57] momcilo-appsmith commented on #9887
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 625 |
| Effort (months)  | 0.25 |

[2022-04-19 13:59] sbalaji1192 commented on #11734
Calculated the reach by looking at the number of users who have added a cellBackground at table level.
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 298 |
| Effort (months)  | 0.5 |

[2022-04-19 13:59] momcilo-appsmith commented on #5492
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 30 |
| Effort (months)  | 1 |

[2022-04-19 14:01] jsartisan commented on #6488
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 75 |
| Effort (months)  | 1 |

[2022-04-19 14:01] Tooluloope commented on #1651
@vivekverma2312 Could you confirm if this is fixed

[2022-04-19 14:04] jsartisan commented on #6780
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 245 |
| Effort (months)  | 0.5 |

[2022-04-19 14:04] momcilo-appsmith commented on #9953
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 234 |
| Effort (months)  | 0.25 |

[2022-04-19 14:05] btsgh commented on #11533
On Release DP - Drop a table widget.
For the onRowSelected property, choose Show Modal - New Modal - Modal1
On Theming DP, with the default classic theme, open the above page.
Change the theme now to MyTheme4 - (Rounded, Pink and Blue colours, Montserrat Font)
Click on a Row. The Modal opens up
Open the Modal property pane
The Border Radius property has a revert option, and on doing that, the Moda

[2022-04-19 14:09] ramsaptami opened #13098 "[Docs]: Internal properties to be updated for all widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/widget-reference/camera

### Describe the problem

Binding properties of a widget are different to other properties on the property pane and needs to be listed down to explain the usage and expected behaviour of using these widget binding properties. Camera widget

[2022-04-19 14:11] autocode-app[bot] opened #13099 "[Docs] #12144 [Bug]: Disable run button in query editor page after having run the query once."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12144
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 14:13] #11541 closed

[2022-04-19 14:20] #11223 closed

[2022-04-19 14:21] #11651 closed

[2022-04-19 14:21] #11721 closed

[2022-04-19 14:24] sbalaji1192 commented on #13064
closed as part of https://github.com/appsmithorg/appsmith/pull/13040

[2022-04-19 14:24] #13064 closed

[2022-04-19 14:25] AnaghHegde commented on #11223
Closed via https://github.com/appsmithorg/appsmith/pull/11549

[2022-04-19 14:26] AnaghHegde commented on #12931
Closed via https://github.com/appsmithorg/appsmith/pull/11549

[2022-04-19 14:27] ramsaptami opened #13101 "[Bug]: Allow query/js confirmation modal to be dismissed by clicking outside"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, user has to click on `yes` or `no` buttons on the confirmation modal to close the modal - but clicking outside the modal should also be allowed when user wants to quickly dismiss the action and continue on.

### Steps To Reproduce

1. Mark any query or JS function to request user confir

[2022-04-19 15:07] mjyoung commented on #5183
Any update to this? I can't hook up appsmith to my Cloud SQL Postgres DB without this?

[2022-04-19 16:11] covering commented on #3600
Any progress about this one?

[2022-04-19 17:48] autocode-app[bot] opened #13103 "[Docs] #10740 [Bug]-[200]:Cannot jump to modal from js_object"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #10740
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-19 17:58] felixsuarez0727 opened #13104 "If Name default value is set to empty , the value displayed on installed integrations show null"
For example when installing CMS in an organization the default value for Name, in action Create and Update Table is null instead of empty.

Step to reproduce:
1. Install the integration in an organization
2. Add a new query and choose the Create Table action
3. View the default value of Name

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/b14f29ab-6a01-482a-856f-08da5e

[2022-04-19 18:09] shubhransh-locale commented on #11711
Hello,
We are using content of data to hit a python API and hence cant access the data, is there a way in current state I can get the data of the file for my use case

[2022-04-19 18:25] rochesterj opened #13106 "[Template]: Marketing Dashboard"
### Title

Marketing Dashboard connecting with multiple sources

### Objective

This is an app for marketing professionals. It shows data from multiple sources at a glance. Users might have ads on different sites (youtube, instagram, facebook, twitter, tiktok, quora, google...) and each of them have their own reporting portal. Therefore, this app aggregates data from multiple sources and showcases

[2022-04-19 18:26] Vibeesarma commented on #1866
I am also waiting for this feature in appsmith because I am using appsmith monitoring work so without WebSocket I want to refresh every time in appsmith.

[2022-04-19 23:04] Araxeus commented on #12936
I've recently tested all clone implementations I could find, here are the results for 1_000_000 runs each:
(klona or klona_light are the most reliable & fast)

| name                    | time.ms  | time.ops | errors.0                     | errors.1                   | errors.2                     |
| ----------------------- | -------- | -------- | ---------------------------- | ------------------

[2022-04-19 23:08] alzaar commented on #12936
Thanks @Rishabh-Rathod for assigning it to me. Yea, already looking into discord
Is there a strict requirement to use one over the other ? klona or klona_light ?

[2022-04-20 00:20] #12988 closed

[2022-04-20 02:52] kocharrahul7 opened #13107 "[Bug]: [UI] Entity Explorer mismatch between the design system and Production"
### SubTasks

- [x]  Design mismatch with search vs. other inputs (https://www.notion.so/appsmith/Design-mismatch-with-search-vs-other-inputs-7f312a9d932f44699113ca02b8d191ae)
- [x]  Hover state on ‘Show all datasources’ is different from other items on the explorer. (https://www.notion.so/appsmith/Hover-state-on-Show-all-datasources-is-different-from-other-items-on-the-explorer-a6662d72145542679e

[2022-04-20 02:53] kocharrahul7 opened #13108 "[Bug]: [UI] Changes in the UI of entity explorer (needs design)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] The currently selected page could be highlighted better
- [ ] Hover state and selected state for query/api/widget is the same

[2022-04-20 02:56] kocharrahul7 opened #13109 "[Task]: [UI] Changes in the UI of Page properties (needs design)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Page Properties - The home icon is green. Inconsistent from explorer. (https://www.notion.so/appsmith/Page-Properties-The-home-icon-is-green-Inconsistent-from-explorer-6fe4d8a407fd4ddeab24749f9c0fc018)
- [ ] Hover states for Icons on the right (Settings, duplicate, etc) are missing. (https://ww

[2022-04-20 03:01] kocharrahul7 opened #13110 "[Task]: [UI] Home page mismatch between the design system and Production"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Homepage - Cards in the organisation are not aligned with the Org. title (https://www.notion.so/appsmith/Homepage-Cards-in-the-organisation-are-not-aligned-with-the-Org-title-99aeaef4c3244ef0be5f29bd847cffed)
- [ ] Font size and font weight mismatch in the homepage sidebar (https://www.notion.s

[2022-04-20 03:05] kocharrahul7 opened #13111 "[Bug]: [UI] Padding around Canvas"
### SubTasks

- [ ] Padding around Canvas is asymmetric
- [ ] Padding is probably not required in fluid layout.

[2022-04-20 03:08] kocharrahul7 commented on #12322
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | 1 |

[2022-04-20 03:12] kocharrahul7 commented on #10471
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 1 |

[2022-04-20 03:14] kocharrahul7 commented on #8248
The fields are now black :)

[2022-04-20 03:14] #8248 closed

[2022-04-20 03:16] kocharrahul7 commented on #8978
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 1 |

[2022-04-20 03:17] kocharrahul7 commented on #8058
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 1 |

[2022-04-20 03:19] kocharrahul7 commented on #13093
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10 |
| Effort (months)  | 0.5 |

[2022-04-20 03:21] kocharrahul7 commented on #8720
This issue has now been resolved

[2022-04-20 03:21] #8720 closed

[2022-04-20 03:26] kocharrahul7 commented on #11321
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | 0.5 |

[2022-04-20 03:33] kocharrahul7 commented on #10635
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | 1|

[2022-04-20 03:35] kocharrahul7 commented on #6524
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | 0.5 |

[2022-04-20 04:06] kocharrahul7 commented on #12342
@ramsaptami I am not able to replicate this issue, can you please confirm that this is an existing issue, or if it has been resolved?

[2022-04-20 04:13] kocharrahul7 commented on #8820
The screen-recording reflects this, watch the scroll bar on the right. There is a new one added if the tooltip appears outside the window bounds.

If the tooltip would appear where there is space (the way selects are handled, above the widget when it would not fit below, this would likely solve this issue

https://images.zenhubusercontent.com/275993885/0f00b2f3-9fd6-4f30-8996-5e147acd277d/screen_r

[2022-04-20 04:13] kocharrahul7 commented on #8820
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.5|

[2022-04-20 04:18] kocharrahul7 commented on #10559
@momcilo-appsmith Hey, I'm not able to replicate this. I tried leaving it open for a few minutes, but the entity explorer didn't collapse. I also tried to manually collapse it, but it didn't lead to this misalignment. Any chance you can see if the issue still exists?

[2022-04-20 04:20] SatishGandham opened #13112 "[Task]: Reduce property pane mount time by mounting code editor on demand"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Most expensive part of the property pane is the code editor. This is used when JS is enabled for any field.

For example, if a widget has 4 JS fields, it mounts 4 code editors. CodeEditor is very expensive and accounts for more than half of property pane render time.

**Solution**:
Mount code editor

[2022-04-20 04:32] kocharrahul7 commented on #10925
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2500 |
| Effort (months)  | 0.25 |

[2022-04-20 04:33] autocode-app[bot] opened #13113 "[Docs] #11624 [Bug]-[600]:RichTextEditor not loading at start"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #11624
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-20 04:35] akash-codemonk commented on #9605
Closing this as this was for the previous onboarding. The current onboarding imports an application instead.

[2022-04-20 04:35] #9605 closed

[2022-04-20 04:43] akash-codemonk commented on #12759
This issues exists currently for all the below docs
[code]

[2022-04-20 04:58] Debsourabh opened #13114 "[Bug]: Setup an API for management.azure.com with the client credentials OAuth2 grant"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Discord user tried to connect to Azure and failed.

https://discord.com/channels/725602949748752515/760761686549463060/965893830849220659
https://discord.com/channels/725602949748752515/760761686549463060/965894009585291324
https://cdn.discordapp.com/attachments/760761686549463060/9658947847136420

[2022-04-20 05:17] nidhi-nair opened #13116 "[Feature]: Implement connection pooling for MsSQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Since we use a single connection as the datasource context for MsSQL, queries executed on the same datasource have the chance of not being able to execute statements. Pooling will help us distribute the load across different connections.

### Why should this be worked on?

To allow the MsSQL to have m

[2022-04-20 05:30] Rishabh-Rathod commented on #12936
Hey 👋 @Araxeus,
Yes, even when we analyzed `klona` and its benchmark looked great to us. Here, is a link to PR where we added `klona`. https://github.com/appsmithorg/appsmith/pull/12568

It would be great if you could make your benchmark code open source and add a link here or in the above PR. :)

@alzaar As we are already using `klona`, there won't be any need to install a library. You could go a

[2022-04-20 05:37] btsgh commented on #11533
On Theming DP, with classic theme, create a page and drop any widget
Now click on deploy and do not move the mouse pointer from the deploy button area.
Once the page is loaded, the mouse pointer is by default on the Edit App button
Now move the mouse away from the Edit App button
Observe the Edit App button is not visible - it greys out.

<img width="1415" alt="TDP_EditAppOnDeploy" src="https://us

[2022-04-20 05:55] yatinappsmith commented on #13064
Verified.

[2022-04-20 05:59] wmdev0808 opened #13118 "[Bug]: Fix feedbacks on Label feature"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. The popover for country code change on PhoneInputWidget and  for currency change on CurrencyInputWidget are overlapping on the targets

### Steps To Reproduce

1. Drag & drop phone input or currency input widget
2. On the property panes, Enable `Allow country code change` or `Allow currency cha

[2022-04-20 06:02] #12981 closed

[2022-04-20 06:10] Nikhil-Nandagopal commented on #12908
@pallavagarwal07 you can set the table to enable server side pagination and it will scroll. I agree this is confusing and we should improve it. @dilippitchika instead of server side execution being a switch and having a separate pagination option, can we have a single pagination control that is a dropdown with options for Server Side pagination, Client Side pagination and No Pagination?

[2022-04-20 06:14] ashit-rath opened #13119 "[Bug]: JSONForm does not update the form field default value from source data when used in modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the JSONForm is used in a modal and the source data is bound to a Table's `triggredRow` or `selectedRow`, the JSONForm does not update the form's default value but shows stale valuea values

### Steps To Reproduce

1. Drag a Table widget
2. Drag a modal
3. Add a new JSONForm to the modal
4. O

[2022-04-20 06:14] Nikhil-Nandagopal commented on #4630
Hi @billyrudi we haven't begun on this feature yet. You can build an app for a tablet / mobile screen size today but making it responsive on all devices needs some thought from our end

[2022-04-20 06:19] #12935 closed

[2022-04-20 06:24] autocode-app[bot] opened #13120 "[Docs] #13119 [Bug]: JSONForm does not update the form field default value from source data when used in modal"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13119
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-20 06:25] Nikhil-Nandagopal commented on #9782
More than lint, can we just solve this properly so we don't need a return statement?

[2022-04-20 06:26] Nikhil-Nandagopal commented on #3599
@drnareshchauhan could you tell us a bit about your usecase and the API you're looking to integrate with? You can also use our curl imported to achieve this today

[2022-04-20 06:33] nidhi-nair opened #13121 "[Bug]: Smart substitution replacement does not take replacement groups into account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the smart substitution feature we're using `APPSMITH_SUBSTITUTION_PLACEHOLDER` as a universal placeholder for replacement. However, while replacing the sanitized string with the actual evaluated value, we are not checking to see if the evaluated value has any characters that would fail the repl

[2022-04-20 06:37] techbhavin commented on #12225
this issue is covered in PR[#13079](https://github.com/appsmithorg/appsmith/pull/13079)

[2022-04-20 06:50] Rishabh-Rathod commented on #9782
We might need a discussion around this.

#### Why do we need to return promises?

To explain the need for returning promises, let me take an example of `ButtonWidget`.

In ButtonWidget, we need to know when did the onClick JS execution completed to stop the internal `isLoading` state of the button.

For this, we rely on promise resolution, when we receive a promise from JS execution.

- Case 1: Th

[2022-04-20 06:59] Nikhil-Nandagopal commented on #12345
Updated the estimate assuming 10% of users ever forget their password

[2022-04-20 07:03] Nikhil-Nandagopal commented on #13041
@u128393 yes it can be via the variable mentioned here
https://docs.appsmith.com/setup/instance-configuration/disable-user-signup

[2022-04-20 07:03] #13041 closed

[2022-04-20 07:04] Nikhil-Nandagopal commented on #12905
@techbhavin @danciaclara is this issue reproducible?

[2022-04-20 07:17] #12653 closed

[2022-04-20 07:20] dilippitchika opened #13125 "[Feature]: Add a property to detect changes in the JSON form widget and the child widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Similar to #4182, devs should be able to prompt their users to save changes or discard when navigating out of page.

### Why should this be worked on?

Allows for a better user experience in the json form widget.

[2022-04-20 07:25] Nikhil-Nandagopal commented on #6315
This issue doesn't seem to hav happened in awhile

[2022-04-20 07:26] #12712 closed

[2022-04-20 07:35] pranavkanade commented on #12833
@rimildeyjsr are we actively working on fix for this issue?

[2022-04-20 07:39] Nikhil-Nandagopal commented on #1866
@Vibeesarma as a workaround, you can poll the data from your datasource using setInterval

[2022-04-20 07:40] rohan-arthur opened #13127 "[Feature]-[Infinity]:Include context in debugger pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today in the debugger pane, we show all errors that have occurred until that point. Screenshot:
![Screenshot 2022-04-19 at 10 56 57](https://user-images.githubusercontent.com/94514895/163926233-d8fe2296-a132-4c14-9160-6542e654cef3.png)

Say I am working with the query `getData` - since the query is no

[2022-04-20 07:45] Nikhil-Nandagopal commented on #10559
This is fixed with the entity explorer docking

[2022-04-20 07:45] #10559 closed

[2022-04-20 07:49] Nikhil-Nandagopal commented on #9457
@nidhi-nair this happened again. Can we please start logging the user id in sentry so we can reproduce these? Reproducing frontend issues is so easy while backend is so hard

[2022-04-20 07:54] btsgh commented on #11533
In tree select widget - on changing theme,
1. Theme is not getting applied on hover and font on the dropdown options
2. As soon as the dropdown is clicked, the dropdown UI shifts slightly to the left.

https://www.loom.com/share/f9c971fd76c249ba92497434161d7972

[2022-04-20 08:12] rohan-arthur commented on #9252
closing this as we don't have new report in the recent months, and there is no detail report available on sentry either

[2022-04-20 08:13] #9252 closed

[2022-04-20 08:22] Araxeus commented on #12936
Here you go 🙂
https://github.com/Araxeus/deep_clone_benchmarks

[2022-04-20 08:28] 123om123 commented on #9512
I'd like to work on this issue. Please let me know if I can work on this.

[2022-04-20 08:48] chandannkumar opened #13128 "[Bug]: Default Value is not working for Input type fields & date picker when used inside Array/Object type of JSON form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2431c4700ed446c7bbd7029aca7a5d6e-00001.gif)](https://www.loom.com/share/2431c4700ed446c7bbd7029aca7a5d6e)

### Steps To Reproduce

1. Add Json form onto canvas
2. Add new field type as Array. Now add Input type field such as Phone Input, Number

[2022-04-20 09:17] #12891 closed

[2022-04-20 09:17] #13022 closed

[2022-04-20 09:26] yatinappsmith opened #13130 "[Bug]-[2880]:Unable to commit new changes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Unable to commit new changes with app https://app.appsmith.com/app/habitasaurus/task-6256bfa40d3d384069c0719b?branch=Tasks.

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/cf97a51588e74fea836c61497524716e-00001.gif)](https://www.loom.com/share/cf97a51588e74fea836c614

[2022-04-20 09:32] jnikhila opened #13131 "[Docs]: Update | Security"
[Security ](https://docs.appsmith.com/security#securely-executing-javascript) doc needs update.

As per issue raised on aforce channel:

we need to update our security document. Take a look at the following link to a section; not sure what #1 actually means - https://docs.appsmith.com/security#securely-executing-javascript

[2022-04-20 09:47] rohan-arthur commented on #3087
@areyabhishek would you please help with more information about this idea? What is the problem that we are trying to solve?

[2022-04-20 09:49] ajinkyakulkarni commented on #12732
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 11 |
| Effort (months)  | 0.25 |

[2022-04-20 09:49] rohan-arthur commented on #6733
@ajinkyakulkarni would you please share more information about this enhancement idea? What is the problem and proposed solution?

[2022-04-20 09:55] ajinkyakulkarni commented on #13027
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.10 |

[2022-04-20 09:55] ajinkyakulkarni commented on #13025
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.10 |

[2022-04-20 09:56] ajinkyakulkarni commented on #12956
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 720 |
| Effort (months)  | 0.25 |

[2022-04-20 09:56] rohan-arthur commented on #9468
WIDGET_PROPERTY_UPDATE, updatedValue contains "{{"
6m usage: 5000
Applying 50% requirement, 2500
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2500 |
| Effort (months)  | 0.25 |

[2022-04-20 09:57] ajinkyakulkarni commented on #12832
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 800 |
| Effort (months)  | 0.50 |

[2022-04-20 09:58] ajinkyakulkarni commented on #9941
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | 0.25 |

[2022-04-20 09:58] ajinkyakulkarni commented on #12779
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.10 |

[2022-04-20 09:59] abhvsn commented on #13130
@yatinappsmith seems like a DB query performance issue as I can see some timeouts. Can you please check if this is happening with other org as well if you fork the same app to a different org?

[2022-04-20 10:00] ajinkyakulkarni commented on #12008
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 21 |
| Effort (months)  | 0.15 |

[2022-04-20 10:01] rohan-arthur commented on #1004
WIDGET_PROPERTY_UPDATE, updatedValue contains "{{navigateTo"
usage: 1300

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1300 |
| Effort (months)  | 0.5 |

[2022-04-20 10:01] rohan-arthur commented on #1033
WIDGET_PROPERTY_UPDATE, updatedValue contains "{{navigateTo"
usage: 1300

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1300 |
| Effort (months)  | 0.5 |

[2022-04-20 10:09] kocharrahul7 commented on #7914
Issue appears to have been fixed here

https://github.com/appsmithorg/appsmith/pull/11420

[2022-04-20 10:09] #7914 closed

[2022-04-20 10:11] rohan-arthur commented on #7113
WIDGET_PROPERTY_UPDATE, updatedValue contains "{{navigateTo"
usage: 1300

BINDING_SUCCESS, unevalValue contains "{{"
usage: 8700

applying 5% incidence of this issue: 500

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 0.25 |

[2022-04-20 10:11] #8687 closed

[2022-04-20 10:11] kocharrahul7 commented on #8687
The entity explorer update now orders the items alphabetically

[2022-04-20 10:17] kocharrahul7 commented on #8782
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 250 |
| Effort (months)  | 0.5|

[2022-04-20 10:21] kocharrahul7 commented on #8971
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | 0.5|

[2022-04-20 10:23] autocode-app[bot] opened #13132 "[Docs] #12012 [Bug]: Using code with lint errors inside JS object makes all functions un-runnable on response tab"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12012
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-20 10:23] kocharrahul7 commented on #9282
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 1 |

[2022-04-20 10:26] #12787 closed

[2022-04-20 10:31] rashmi-rai commented on #11795
For URLs like this: `https://api.github.com?{{appsmith.user.name}}` api is not returning correct `dynamicBindingPathList` . `{ key: "queryParameters[0].key" }` would be missing.
However, URL `https://api.github.com?{{appsmith.user.name}}=` gives correct response.

[2022-04-20 10:34] vasanth-appsmith commented on #12291
Good one @somangshu Thanks. But we are not doing the upgrade widget right now correct?

[2022-04-20 10:43] ramsaptami commented on #12342
Closing this since this seems to be fixed

[2022-04-20 10:43] #12342 closed

[2022-04-20 11:03] ramsaptami commented on #9805
To give an example of how the UX approach is different, consider a CRUD page's default queries where each field is individually bound to its respective values. Something like:
[code]
In the above scenario, the evaluated value is in `RAW` form and makes it hard for users to go sift through large information like an array, in a digestible format (as seen on the property pane)

But encapsulating the

[2022-04-20 11:05] autocode-app[bot] opened #13134 "[Docs] #12959 [Task] : Instrument server heap monitoring and create baseline for tracking memory consumption"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12959
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-20 11:05] autocode-app[bot] opened #13135 "[Docs] #9495 [Bug]-[24000]:Datasource query needs seamless blending of elements on it's corners"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #9495
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-20 11:08] autocode-app[bot] opened #13136 "[Docs] #13116 [Feature]: Implement connection pooling for MsSQL"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13116
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-20 11:12] #11141 closed

[2022-04-20 11:17] vasanth-appsmith commented on #12291
@rahulramesha Please check the design for this. Let me know if you have any questions. [Figma](https://www.figma.com/file/EIJQ6jccl6uvNQul3nD6f0/Deprecated-Widget?node-id=12%3A6083)

[2022-04-20 11:20] #13120 closed

[2022-04-20 11:33] sentry-io[bot] opened #13137 "NullPointerException"
Sentry Issue: [APPSMITH-2A9](https://sentry.io/organizations/appsmith/issues/3189403998/?referrer=github_integration)

[code]

[2022-04-20 11:39] abhvsn commented on #13137
@nayan-rafiq we are seeing the NPE for theme object when we export the application. This is happening at https://github.com/appsmithorg/appsmith/blob/1fce4f07ca39e2bc92120a83080c08414e9f46c9/app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java#L99

Can you please check if there is any situation where `editModeTheme` will not be present in DB. I have experienced an

[2022-04-20 11:49] techbhavin commented on #12905
@Nikhil-Nandagopal,

Yes, this issue is reproducible, a chart is failing when an action connector is failed . after that all application chart is not able to load.

@somangshu  @dilippitchika  can we bring someone who has a better idea on connector and data binding.

[2022-04-20 11:50] #12954 closed

[2022-04-20 11:51] eco-monk commented on #12955
Something work documenting.

---

Shared a code fix which reduces load time in some pages.
Changing table button onclick from (using simplified code here)

[code]

to

[code]

[2022-04-20 11:57] dilippitchika opened #13139 "[Bug]-[308]:JSON form submit button is not disabled when default data doesn't meet the validation criteria"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If a json form has default data as empty and a field is marked as required, the submit button is still enabled when "disable invalid forms" is true. Only after the user interacts with the field, the submit button is disabled.

### Steps To Reproduce

1. Add a new JSON form
2. Bind this data
{
  "n

[2022-04-20 11:59] chandannkumar opened #13140 "[Bug]: Checkbox Label is not visible when Array only consists of checkboxes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we add Checkbox field in json form inside Array items, the label name doesn't appear but when we add same under Object's first field, the checkbox field appears as normal

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3900e3a6538d4175a422277a8609e292-00001.gif)](https://www.loom.com/s

[2022-04-20 12:25] autocode-app[bot] opened #13144 "[Docs] #11384 [Bug]: Order of columns changes and hidden property is assigned to different column than previously selected"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #11384
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-20 12:28] sumitsum opened #13145 "[Bug]: GraphQL: fix build failure on IntelliJ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Fix the build failure on IntelliJ introduced via issue #12019.
The build works fine from CLI.

### Steps To Reproduce

.

### Public Sample App

_No response_

### Version

Self Hosted

[2022-04-20 12:36] somangshu commented on #11384
## Stats
| Stats | Value |
| ---- | ----- |
| Reach | 2209 |
| Effort | 0.5 |

[2022-04-20 12:37] #13144 closed

[2022-04-20 12:47] spark-c opened #13149 "[Docs] Update Map Widget"

[2022-04-20 12:48] spark-c opened #13150 "[Docs] Update Map Widget"

[2022-04-20 12:48] spark-c opened #13151 "[Docs] [Bug] Map Widget incorrect property"
The "Create New Marker" property has an incorrect description:

![new_marker.png](https://images.zenhubusercontent.com/6256c203ea48346c409336eb/62039487-b3f8-4b60-9ea5-ca2404a2ada1)

[2022-04-20 12:55] chandannkumar commented on #11533
#onMigration
Border width remains **0 or blank** by default and hence it is not visible after migration
![Screenshot (69)](https://user-images.githubusercontent.com/95341241/164235013-df322cb4-c3e9-49fb-a932-ae2f3bbdcb2b.png)
![Screenshot (68)](https://user-images.githubusercontent.com/95341241/164235054-1d97de29-6797-46d5-b972-2a6721e5471a.png)

[2022-04-20 13:03] #12691 closed

[2022-04-20 13:25] keyurparalkar opened #13153 "[Bug]-[2500]:Console log errors visible to user for JSObject is async determination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The issue is with the console log being visible to the user for function run which Appsmith does internally.
JSObject runs function internally as part of its implementation and is not a bug.
Users should not be shows logs for such cases. As they don't expect the function to run without any trigger

[2022-04-20 14:00] AmanAgarwal041 opened #13156 "[Bug]-[5142.857142857143]:Cannot access outer variable inside a callback"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I use a `setInterval` method and assign that to a variable and inside the setInterval's callback if I use `clearInterval` to stop the recurring function. Its shows me an error of variable not defined.

Here's a link to the application : [Set Interval Issue](https://app.appsmith.com/app/setint

[2022-04-20 15:37] #13149 closed, assigned to nobody

[2022-04-20 15:50] nidhi-nair commented on #9457
We've actually spent some time on looking at this before, but there is some amount of non-deterministic behaviour with logging such information. Let me re-open this issue and take another look.

[2022-04-20 16:25] #10740 closed

[2022-04-20 17:54] pallavagarwal07 commented on #12908
@Nikhil-Nandagopal The sample has server side pagination enabled, but I still can't scroll. Could you post a link to a sample app where scrolling works? Maybe along with the json export of the config? :sweat_smile:

[2022-04-20 18:23] Rishabh-Rathod commented on #13153
@keyurparalkar there might be miscommunication.
The issue is with the console log being visible to the user for function run which Appsmith does internally.
JSObject runs function internally as part of its implementation and is not a bug.
Users should not be shows logs for such cases. As they don't expect the function to run without any trigger.

[2022-04-20 18:33] Rishabh-Rathod commented on #12833
## Workaround for above issue in ListWidget

1. Create a JSObject like below
[code]
2. Add `JSObject.escapeString(data)` before passing data to your action
In above case,

instead of
[code]
we need to convert it to.
[code]

[2022-04-21 00:20] felixsuarez0727 opened #13162 "Fix "Save" button that deselected the action in AppSmith"
When the save button is pressed the table is updated, which causes the action being edited to be deselected, is tedious when several actions are being edited.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/d7f8f36b-9c98-4695-992b-e1d23bc81d80)

[2022-04-21 00:25] felixsuarez0727 opened #13163 "Add functionality contributors in Admin Page"
Add the contributors email to give them access for a particular plugin in Admin Page, based on the existing functionality in the Integration Manager.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/12972337-c415-404e-8865-67a36308a414)

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/2f4bfebf-6973-455d-a45e-9edb82cc13fe)

[2022-04-21 02:44] rohan-arthur commented on #13153
@Rishabh-Rathod are these "pre-runs" consequential to the user in any way? If no, is the requirement that we should suppress these pre-runs from being logged?

[2022-04-21 04:07] felixsuarez0727 commented on #12631
As of now, I have added eight actions.

[2022-04-21 04:08] felixsuarez0727 commented on #12631
![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/3823ae15-4dd5-4bff-bd67-47f449dc8ab7)

[2022-04-21 04:25] dilippitchika opened #13165 "[Feature]: Increase no of fields in JSON form from 50"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Creating this issue to track why we should increase the number of items in JSON form from 50

### Why should this be worked on?

Needs more validation

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.fronta

[2022-04-21 04:30] felixsuarez0727 commented on #12631
A minor sample app is also ready:

https://app.appsmith.com/app/test-hugging-face/page1-6258fbf50d3d384069c11017

[2022-04-21 04:34] dilippitchika commented on #13165
Conversations

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100091509

[2022-04-21 05:01] rimildeyjsr opened #13166 "[TECH-DEBT] - Add documentation on how to add linting errors to the editor"

[2022-04-21 05:01] rimildeyjsr opened #13167 "[TECH-DEBT] - Add documentation on how to add a new global function to appsmith"

[2022-04-21 05:15] sumitsum opened #13168 "[Bug]: OAuth not working with NetSuite"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Authorization code based OAuth API authentication is not working with NetSuite OAuth server.

### Steps To Reproduce

.

### Public Sample App

_No response_

### Version

cloud

[2022-04-21 05:44] abhvsn opened #13169 "[Type]-[400]:Deprecate duplicate application as we can fork the application within the same organization as well"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using the fork application user can create a copy of the application within the same organization along with the other organizations of which the user is part. From the user's perspective, this creates some confusion as we are doing the same thing in 2 different places.
For more details please che

[2022-04-21 05:44] rohan-arthur commented on #3027
WIDGET_PROPERTY_UPDATE
- propertyName = onClick
- updatedValue contains "=> download"
6m usage: 63

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 63 |
| Effort (months)  | 0.25 |

[2022-04-21 05:59] shwetha-ramesh commented on #3369
**QA update 21/04**  @somangshu
Migration on ButtonGroup, Table & JSON form is comepleted. Raised few issues. @chandannkumar @btsgh - Completed on 20 April
As of 21 Apr @btsgh is looking at dp bug verification & @shwetha-ramesh looking at migration bug verification.

[2022-04-21 06:01] shwetha-ramesh commented on #11533
#MigrationIssues
For button widget when box shadow color is applied it is JS toggled and shows the respective mapping with rgba code but when JS is off there is no selection seen.
![image](https://user-images.githubusercontent.com/92293815/164383454-274a2b25-4b39-4333-bcbd-7ad39825b437.png)

[2022-04-21 06:02] jsartisan commented on #3369
**Dev update 21/04 @somangshu**

- Fixing every callout being made while QA is doing dp bug verification.
- Will be checking cypress tests today
- I will be checking callouts made by QA on the migrations side tomorrow.

This time I don't see any blocker. Everything is going as planned.

[2022-04-21 06:14] #7422 closed

[2022-04-21 06:25] dilippitchika commented on #12308
Bumping to high for the following reasons
1. When the data is huge or the evaluations are slow, the app viewer is unable to understand why they are still seeing older data
2. There's no way for app developer to fix this by using something like a progress bar widget and update the user that evaluations are pending.

One suggestion Balaji had was to add an isEvaluating flag on our widgets. To begin

[2022-04-21 06:34] soul-cell opened #13171 "[Bug]-[160]:CheckBoxGroup not displaying options in a modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

CheckBoxGroup inside a modal not displaying the values even though the options property of that same checkBoxGroup shows the correct evaluated values .
![Capture](https://user-images.githubusercontent.com/82372780/164387821-7e50916f-8f79-4dba-8c55-47686b92819e.PNG)

### Steps To Reproduce

1.Creat

[2022-04-21 06:41] kocharrahul7 opened #13172 "[Task]: Add analytics events for similar templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Add a frontend event listener which allows us to track how often templates are being accessed from the "Similar templates" area in the template description page.

The event should report the following:
1. Origin template (name and ID)
2. Destination template (name and ID)