[2022-05-14 17:44] felixsuarez0727 opened #13844 "[Feature] Zendesk Voice API Saas Integration"
## Zendesk Voice API Saas Integration

### Description:

This is the reference documentation for the Zendesk Talk API. The Talk API is part of the Zendesk v2 API. Use the Talk API in conjunction with the Support API to work with Talk agents, groups, and tickets.

------------------------
### Documentation:

https://developer.zendesk.com/api-reference/voice/talk-api/introduction/

-----------------

[2022-05-14 17:51] felixsuarez0727 opened #13845 "[Feature] Zendesk Custom Data API Saas Integration"
## Zendesk Custom Data API Saas Integration

### Description:

The Zendesk custom data APIs lets you connect and understand all your customer data wherever it lives. It consists of the Custom Objects API, Profiles API, and Events API.

------------------------
### Documentation:

https://developer.zendesk.com/api-reference/custom-data/introduction/

------------------------
### TO-DO

------------

[2022-05-15 05:03] #13809 closed

[2022-05-15 05:03] zetagalactic commented on #13809
I found the solution for this!

[2022-05-15 08:49] kzerozero0 opened #13846 "[Feature]: change widget's properties from other widget's action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

For example, I use a checkbox to control datepicker's ablility. If the checkbox is ```isChecked == true``` then i want to disable the datepicker.

![image](https://user-images.githubusercontent.com/103813128/168464652-a01474f0-ef65-4fde-8bdc-3c2f028c882b.png)

I tried, but it seems dosen't work.

###

[2022-05-15 08:51] Nikhil-Nandagopal commented on #13545
@hexadecy you can achieve this today using our Git Feature. You can connect your app to a git repository and then import it into a staging organization & a dev organization. You will be prompted to enter separate credentials for all your datasources in these organizations

[2022-05-15 08:52] Nikhil-Nandagopal commented on #13545
Closing this feature as we're tracking it here #2836

[2022-05-15 08:52] #13545 closed

[2022-05-15 09:28] Nikhil-Nandagopal commented on #11603
@dilippitchika you can look at the number of page loads that have embed in the URL and redirect in the URL.

[2022-05-15 09:30] Nikhil-Nandagopal commented on #13846
@kzerozero0 Appsmith is based on a reactive paradigm so instead of assigning this property onCheckChange, you just need to assign the disabled property of the datepicker to {{ Checkbox1.isChecked }} and this will disable it if it is checked.

[2022-05-15 09:30] #13846 closed

[2022-05-15 13:12] #12747 closed

[2022-05-16 03:06] mbilliodeaux commented on #4183
I would love to try this out even as a test user

[2022-05-16 03:46] Parthvi12 commented on #13778
@vuiets Yes, this is consistent using function I mentioned i.e. when I don't give semicolon in the return statement.

[2022-05-16 03:50] prapullac commented on #13026
HUBSPOT issues :
CMS Domin:
1. Domain ID field in Single Domains option is confusing as the results contain domain and Id Separately : we need to use ID instead.
2. When user adds Syntax wrong we have show error.  https://www.loom.com/share/e4cda3f4447c4918a3856db9e6ccd51f
3. Some fields need to be defined well ex: Current domain method and as we scroll below we simple see “After” and “Before” opt

[2022-05-16 03:54] somangshu commented on #11538
@SatishGandham what is the verdict here? Can you please drop a note? AFAIR, we said that this is not the way forward.

[2022-05-16 03:59] Parthvi12 commented on #11284
@albinAppsmith Thanks, this is working as expected.

[2022-05-16 04:17] #13754 closed

[2022-05-16 04:34] dilippitchika commented on #4183
Hey @mbilliodeaux thanks for helping us out. I would like to get your feedback on this on a call, would you be willing to book a slot which works for you using this link - https://calendly.com/dilip_pitchika/30min

[2022-05-16 04:49] kocharrahul7 opened #13848 "[Bug]: in MultiSelect widget, sometimes the selectedOptionLabels returns selectedOptionValues instead"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you try to use a MultiSelect, and set a default value, sometimes the selectedOptionLabels property returns the selectedOptionValues property.

This can be seen with the base values set when you import the widget onto the canvas.

### Steps To Reproduce

1. Drag a MultiSelect widget onto the c

[2022-05-16 04:57] adamgoose opened #13849 "[Feature]: Utilize await when downloading files with Axios"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Instead of using the promise API when handling Axios requests, use async/await. This allows callers (namely button widgets) to know when the external download is complete.

### Why should this be worked on?

I initiate downloads across my app using an async Javascript function.

[code]

Since my butto

[2022-05-16 05:03] nayan-rafiq opened #13850 "Add custom slugs along with auto generated slugs for pages"
Currently the slugs for the pages and applications are auto generated. As there will be option to set them manually from the client side, we should stop auto generating them. It should be conditional.

For example, if an user never changes a slug, it'll be auto generated. If user changes it or chooses an option to disable this (e.g. a checkbox input for auto generate slug), it'll not be auto gener

[2022-05-16 05:06] nayan-rafiq commented on #13850
Currently the slugs for the pages and applications are auto generated. As there will be option to set them manually from the client side, we should stop auto generating them. It should be conditional.

For example, if an user never changes a slug, it'll be auto generated. If user changes it or chooses an option to disable this (e.g. a checkbox input for auto generate slug), it'll not be auto gener

[2022-05-16 05:18] dilippitchika commented on #13336
@ramsaptami can you help bhavin reproduce this on a call?

[2022-05-16 05:25] #2840 closed

[2022-05-16 05:25] hiteshjoshi commented on #2840
Closing this. SAML phase 1 is completed and available for enterprise. Please get in touch if you would like to test it out.

[2022-05-16 05:26] hiteshjoshi commented on #12197
Closing this for now. Please reopen if you think this is a mistake.

[2022-05-16 05:26] #12197 closed

[2022-05-16 05:27] abhvsn commented on #11701
- [ ] POC on JsonViews (estimate: 1)
- [ ] Update the existing models to support JsonViews for client and file serialization (estimate: 2)
- [ ] Testing (estimate: 1)
- [ ] Junit testcases (estimate: 1.5)

[2022-05-16 05:28] hiteshjoshi commented on #13768
Hi @sidhantgoel can you also drop some lines for the phases of these migration changes.

[2022-05-16 05:48] #11266 closed

[2022-05-16 05:54] abhvsn commented on #13631
@RakshaKShetty can you please try this on release if this is still happening.

[2022-05-16 06:05] rohan-arthur commented on #13187
MsSQL 6 month usage: 220
apply 25% requirement: 55

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 55 |
| Effort (months)  | <<number>> |

[2022-05-16 06:06] jnikhila opened #13852 "[Docs] : Add disclaimer to existing MS SQL Docs"
Add a disclaimer to existing[ MS SQL Docs](https://docs.appsmith.com/datasource-reference/querying-mssql)

Refer to:
* [Slack Discussion](https://theappsmith.slack.com/archives/C0341RERY4R/p1652680697797139)
* [GitHub Issue] (https://github.com/appsmithorg/appsmith/issues/13187)

[2022-05-16 06:06] rohan-arthur commented on #13840
@felixsuarez0727 please keep [this](https://www.notion.so/appsmith/Grouping-of-Integrations-fc6c634752284c5db1b1740aea70c598) in consideration before starting with zendesk

[2022-05-16 06:08] dilippitchika commented on #13187
@rohan-arthur the RICE score is infinity on this 🤯

[2022-05-16 06:09] rohan-arthur commented on #13780
REST 6m usage: 4000
Applying 50% requirement: 2000

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2000 |
| Effort (months)  | 0.25 |

[2022-05-16 06:09] jnikhila commented on #13852
@its-harshil - Please pick this up as part of A-Force updates for this week.

You can connect with @pranavkanade or @dilippitchika if you have any questions.

[2022-05-16 06:11] rohan-arthur commented on #13187
@dilippitchika yes, still needs the effort to be added - have applied the label `needs estimate` to this issue so that the team knows to add the effort to get the final score

[2022-05-16 06:27] jnikhila commented on #13556
Hey @cokoghenun - thanks for coming back to me on this.

As per your comments, the existing videos will not be updated. @trishaanand Please note.

[2022-05-16 06:39] #11284 closed

[2022-05-16 06:42] vivekverma2312 commented on #13836
@keyurparalkar Issues has been tested and working fine.

[2022-05-16 06:42] leotom2000 commented on #6060
@ajinkyakulkarni  @rohan-arthur
We need a functional clarification regarding this reopened issue.

Firestore offers two operators "array-contains" and "array-contains-any"
The QA has tested it like a string, even in future end-users may do the same.
The reason in we are mentioning in Where condition as "Contains"
![image](https://user-images.githubusercontent.com/8027694/168530943-c2a5b8a6-0296-40

[2022-05-16 06:52] rahulramesha commented on #12291
@somangshu, we are currently adding deprecated warning to `Form Button Widget` as well.  I was under the impression that it is already migrated. Need your confirmation if we should do that as `Form Button Widget`  is not migrated yet.

[2022-05-16 06:54] rahulramesha commented on #12291
Thanks @jnikhila.

@rohitagarwal88 @dilippitchika does this sound good, should I move ahead with making changes to show @jnikhila's message instead?

[2022-05-16 06:54] sharat87 commented on #13838
Hey, thank you for reporting. This indeed looks like a bug. We'll get back to you soon. Thanks.

[2022-05-16 06:56] ankitakinger opened #13853 "[Bug]: Add a field for "Reply-To Address" in the Email config setup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Add a field for "Reply-To Address" in the Email config setup for making the invitation emails and forgot password emails work. Without this ENV variable being set, only the test email on the Admin settings page works.

### Steps To Reproduce

1. Go to the Admin settings page.
2. Click on the Email

[2022-05-16 06:57] dilippitchika opened #13854 "[Bug]: No way to go back to appsmith applications from the app viewer mode navigation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. As part of theming change to the navigation, we now don't have a way to navigate to appsmith apps
2. A user who clicks on comment mode cannot come out of it unless they press escape

### Steps To Reproduce

Appsmith apps
1. Deploy the app
2. Observe the appsmith logo is not available in the nav

[2022-05-16 07:46] #13836 closed

[2022-05-16 07:48] sumitsum commented on #13701
@iwyrobi the issue that is reported here in the screenshot is coming from the MySQL sever i.e. Appsmith is not generating this error message. The error message format matches the error message which is received when remote connection is not enabled on MySQL. Please check out the solution mentioned here:
https://tableplus.com/blog/2019/09/access-denied-for-user-root-localhost-mysql.html
https://sta

[2022-05-16 07:48] #13701 closed

[2022-05-16 08:11] Rishabh-Rathod commented on #13588
Marked it as a high priority as this happens for the multi-select widget for an edge case.

Internal slack communication link -
https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1651836391943489?thread_ts=1651762228.810179&cid=C02K0SZQ7V3

[2022-05-16 08:22] kocharrahul7 opened #13855 "[Feature]: Add a hotkey for Widgets tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There is no shortcut to switch to the widgets tab. Adding in this shortcut is a nice usability change for users

### Why should this be worked on?

This problem could help users quickly switch from the entity list to the widgets list, which could be very effective to help with context switching

[2022-05-16 08:24] vivekverma2312 opened #13856 "[Bug]: Page name is coming blank on page properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/717a394b16c440a8850ba3ac8b387075-00001.gif)](https://www.loom.com/share/717a394b16c440a8850ba3ac8b387075)

### Steps To Reproduce

Changing page order and deleting the page from page setting page makes the page area blank

### Public Sample App

[2022-05-16 08:48] vivekverma2312 opened #13860 "[Bug]: Theming is not getting applied on view mode when the app is connected to Git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/fbc973f635294af4bc2d88d27d30e6e9-00001.gif)](https://www.loom.com/share/fbc973f635294af4bc2d88d27d30e6e9)

### Steps To Reproduce

1. Connect your app with git
2. Create a new branch
3. Change theme
4. Commit and deploy
5. Observe the default t

[2022-05-16 08:59] yatinappsmith opened #13861 "[Bug]: Unable to login to appsmith using admin credentials"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Missing auth0 button,  Still appsmith prevents me from logging in.

![image](https://user-images.githubusercontent.com/84702014/168556828-4f6205ca-ada1-42f7-ac3d-a0fe41d12fdf.png)

### Steps To Reproduce

Steps:
Use an external mongodb
Setup auth0
use same email as admin email to login with auth0

[2022-05-16 09:06] Aishwarya-U-R commented on #13078
Hi @dilippitchika - Why is it not possible? While we pre-populate the Default Value already `{{sourceData.MultiSelectColumnName}}`, why cant we also populate the Options filed with the same sourceData as shown below & show the right values from it rather than showing the default 'Blue, Green, Red' like shown in above image?

The issue I'm want to address is showing right values in options as the f

[2022-05-16 09:06] sharat87 commented on #13861
Not sure I understood this.

After this step, unless I'm misunderstanding this step, how can we ever recover the instance at all?

[2022-05-16 09:13] AnaghHegde commented on #13790
Is this prioritised?

[2022-05-16 09:13] AnaghHegde commented on #13790
Is there any time line for the above task ?

[2022-05-16 09:14] sharat87 commented on #13187
This isn't specific to MSSQL, but has been seen with MySQL and I think MongoDB as well. This needs to be fixed/changed at the JRE settings level.

Here's the past conversation on this with gory details: <https://theappsmith.slack.com/archives/CPQNLFHTN/p1633705690184200>.

The solution should be that TLSv1 will be disabled by default, and users can set an env variable, like `APPSMITH_ENABLE_TLSV1`

[2022-05-16 09:17] aakashDesign commented on #13108
@arunvjn This issue needs to be picked by the design systems team. I've discussed this with @kocharrahul7 and have added it to our design planning board.
CC @vinay-appsmith

[2022-05-16 09:21] #13861 closed

[2022-05-16 09:36] sharat87 commented on #13835
There are two distinct problems here. One, move/copy/clone a page in one application to another application. Second, merge two applications, potentially producing a new one (or not), that contains pages from both applications.

The first at least, seems like a very useful feature.

[2022-05-16 09:42] WernerDreierB commented on #11521
Ping.
Stumbled upon the same issue again with the newest Chart 1.5.3

[2022-05-16 09:45] pratapaprasanna commented on #13838
Hi @cep21,

Thanks for reporting the issue.

The issue is solved now. You can try downloading 1.5.2 now.

[2022-05-16 09:45] #13838 closed

[2022-05-16 09:45] #11577 closed

[2022-05-16 09:45] #13810 closed

[2022-05-16 09:56] shadabbuchh opened #13862 "[Bug]: UI breaks on changing the "Label" placement of closely placed widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When 2 widgets are placed closely and the user changes the placement of the label of one of the widgets, the widgets overlap with each other.

https://user-images.githubusercontent.com/39921438/168567215-220f0f2b-c832-4249-8aa9-2122f474a5fa.mov

### Steps To Reproduce

1. Drag and drop a `Select`

[2022-05-16 10:25] sharat87 commented on #11521
@WernerDreierB, sorry, but I see version 1.5.3 in the `index.yaml`, so it's there, no? Sorry if I misunderstood.

[2022-05-16 10:28] WernerDreierB commented on #11521
Sure, 1.5.3 is in there... but normally index-page (https://helm.appsmith.com) should list all ever existing chart-versions, so that "old" pipelines can still run with the older version of the chart.

[2022-05-16 10:32] rahulramesha commented on #9227
Closing this, since in multi widget propertyPane, when one widget is selected other widgets get deselected.

[2022-05-16 10:32] #9227 closed

[2022-05-16 10:47] sharat87 commented on #13651
Hey @liliang8858, I see that your version of Docker is quite old. Docker `1.13.1` was released in early 2017, and there's been over two dozen versions released. I suspect this is part of the reason we aren't able to reproduce the problem. Can you upgrade your Docker version to `20` or higher please? Preferably, `20.10`. Please let us know if you see the same problem there as well. Thanks.

[2022-05-16 10:52] sharat87 commented on #11521
Okay, I'm still a little lost, sorry. So are you saying that 1.5.3 is there, but the older ones like 1.5.0 aren't there? Or are you saying that 1.5.3 isn't there in the index page? Because I can see it when I do a `curl`:

[code]

[2022-05-16 10:53] #13853 closed

[2022-05-16 10:53] abhvsn commented on #13624
@Nikhil-Nandagopal as you said we are tracking the client and server side migrations in separate boolean variables as ownership to run the migration is distributed. Now when we discard the changes if we have server migration we can run the migration in the same call and make new commit which will not show any uncommitted changes on the client side, but the same is not true fro client side migratio

[2022-05-16 11:16] ashit-rath commented on #13403
@chandannkumar Could you check if this issue is present in the View mode as well?

@dilippitchika It seems to be same problem we had with the `Currency Field` and `undefined` value.
For select also when we clear, we set the value as `undefined`.
[#12708](https://github.com/appsmithorg/appsmith/issues/12708)

[2022-05-16 11:21] Irongade commented on #13515
RCA: User is specifying a character set value, which is not being handled/sent back to the client side. The server seems to be sending a default character set value of 'utf-8'.

[2022-05-16 11:34] dilippitchika commented on #13848
@Nikhil-Nandagopal why is this critical? Who is using "selectedOptionLabels" in their app and in default?

[2022-05-16 11:35] dilippitchika commented on #13848
This is already being tracked here - https://github.com/appsmithorg/appsmith/issues/12554

[2022-05-16 11:37] Nikhil-Nandagopal commented on #13848
@dilippitchika not many but critical is marked based on whether it broke apps or not, not depending on the reach

[2022-05-16 11:37] Nikhil-Nandagopal commented on #13848
We can close if its a duplicate

[2022-05-16 11:37] #13848 closed

[2022-05-16 11:38] Nikhil-Nandagopal commented on #13835
@sharat87 agreed, I believe it's the first too

[2022-05-16 11:42] techbhavin commented on #13586
@dilippitchika, Figma link not redirect to correct design, can you plz help me on the same

[2022-05-16 11:46] hiteshjoshi commented on #13835
Actually its the mix of both. The user is asking to merge pages of two applications. Its similar to what we doing with templates.

[2022-05-16 11:49] #13651 closed

[2022-05-16 11:54] WernerDreierB commented on #11521
Yes, I am saying that the older ones like 1.5.0 aren't listed anymore and therefore are not installable anymore. The index page at https://helm.appsmith.com/ should keep the older entries (as it is a list of charts), not meant to contain only the latest existing chart

[2022-05-16 11:55] shadabbuchh opened #13867 "[Bug]: Allow Half Stars toggle not working in real time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The changes made to the `Allow half stars` toggle do not reflect in real time.

https://user-images.githubusercontent.com/39921438/168586346-2acfba9f-471d-44d3-b5bf-3fc0b24637dc.mov

### Steps To Reproduce

1. Create the `Rating` widget. By default the `Allow half stars` toggle is turned off.
2. T

[2022-05-16 12:04] abhvsn commented on #12067
@hiteshjoshi we are tracking the failure cases in separate tickets. Is there anything that needs attention or we can close this

[2022-05-16 12:05] prapullac opened #13868 "[Bug]: Overlapping observed in the dropdown while using slash command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a user tries to bind data to the table using the Select widget from the connection section of the API Pane it is observed that the dropdown displayed by typing a slash command has list of overlapping

### Steps To Reproduce

1) Navigate to any datasource
2) Create a connection
3) Run the data

[2022-05-16 12:07] Sripriya93 opened #13869 "[Bug]: Open and close side bar (Hamburger menu)- not working in first page of Welcome tour"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we click on Welcome tour in Main page and click on the ☰ (Hamburger menu) in top left corner, we are not seeing opening or closing of side bar. But we are able to see the hover or click message but no action noted.

### Steps To Reproduce

1. Click on "Welcome tour"
2. Observe page loads to f

[2022-05-16 12:07] dilippitchika commented on #13078
Options depend on the use-case, assuming the data is the record of a user in a simple request tracking scenario where there is a table with user names and their statuses

[ { "name":"Dilip", "tags":["new","high value"]},   { "name":"Aishwarya", "tags":["old","mid value"]}]

When you click on a row in a button let's say a JSON form shows data of a row
{ "name":"Dilip", "tags":["new","high value"]}

[2022-05-16 12:16] abhvsn commented on #5791
Closing this as possible duplicate of https://github.com/appsmithorg/appsmith/issues/11522

[2022-05-16 12:16] #5791 closed

[2022-05-16 12:36] abhvsn commented on #13423
As per user comments it happend once and we are not able to reproduce this so closing for now.

[2022-05-16 12:36] #13423 closed

[2022-05-16 12:39] abhvsn commented on #12094
@RakshaKShetty is this still reproduceable?

[2022-05-16 12:52] pratapaprasanna commented on #11521
@WernerDreierB  please check now the we have added old charts as well now.

[2022-05-16 12:55] Aishwarya-U-R commented on #13078
No, No! I get your point!
The ask is to show 'new' & 'high value' in Dropdown for user 'Dilip' (other values respectively for other user), while his details are shown in JSON Form instead of 'Blue', 'Green', 'Red' that we show today - which is of-course not right!

[2022-05-16 12:57] Sripriya93 opened #13872 "[Bug]: Welcome screen - Edit profile - Reset password - "There was an unexpected error" message displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we go to "Edit profile" from Welcome screen, and click on reset password, we are taken to reset password page, but there is also a warning or error message "There was an unexpected error" displayed

### Steps To Reproduce

1. Go to "Edit profile" in Welcome screen
2. Click on "Reset password"

[2022-05-16 13:00] shadabbuchh opened #13873 "[Bug]: Overlapping of widget name in canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In some instances the labels that display the names of different components in a widget overlap with each other.

https://user-images.githubusercontent.com/39921438/168597992-be6b3b52-96be-40a2-a638-1289e1462e27.mov

### Steps To Reproduce

1. Create a `Statbox` widget.
2. Hover over the different

[2022-05-16 13:00] dilippitchika commented on #13078
That's wrong right? The data will always be incomplete.

Plus here you are assuming that label and value are the same which may not always be the case.

[2022-05-16 13:08] prsidhu opened #13874 "[Task]: POC automatic detection of break points in UI on small screen sizes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Assign minimum viable dimensions to basic widgets.
- Using the absolute positioning and required dimensions, determine which children are overlapping in an app.

[2022-05-16 13:09] ashit-rath commented on #12894
When a path has an error and in certain evaluation cycle the path is removed from the data tree, the path is not removed from the `__evaluation__.errors` object.
This is for all the widgets not just the JSONForm
Steps to reproduce in Table widget

[2022-05-16 13:21] harshilp24 opened #13875 "[Docs] : Add disclaimer to existing Heroku Docs"
Add a disclaimer to existing Heroku Doc.

-Admin Settings page is not supported in Heroku due to the way Heroku’s deployment dynos work.

Refer to:
[Slack Discussion](https://theappsmith.slack.com/archives/C0341RERY4R/p1652703510313349)
https://docs.appsmith.com/setup/heroku

[2022-05-16 13:21] kavhad commented on #1392
Many companies in the financial sector OR else where who maintain and input a large amount of data would view this feature as essential.

[2022-05-16 13:24] shwetha-ramesh opened #13876 "[Bug]-[34]:'Auto-play' for audio widget doesn't play on refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Turn on the 'Auto-play' option for audio widget and refresh the browser. The audio does not play.

### Steps To Reproduce

1. Drag and drop Audio widget
2. Turn on 'Auto-play' and refresh the browser

### Public Sample App

_No response_

### Version

Cloud

[2022-05-16 14:11] AnaghHegde commented on #13790
Can we reorder the connect to git and import from git page? Import from git is at bottom and not very visible. Lets organise the content something like this -
Pre Req - setting the env varaiable
1. Connect to Git
2. Import from Git
3. Generating SSH key

[2022-05-16 14:15] harshilp24 opened #13877 "Video link not working"
I think video link or YouTube video has some issues in the Heroku doc.

https://docs.appsmith.com/setup/heroku

@cokoghenun can you look into this?

![image.png](https://images.zenhubusercontent.com/6256ad80dd2729be5445ad0b/68de64f1-fedb-49a3-a76f-df4ddb4e14e8)

![image.png](https://images.zenhubusercontent.com/6256ad80dd2729be5445ad0b/3eb9ac37-3569-405c-af67-dbd0dd23a925)

[2022-05-16 15:17] vivekverma2312 opened #13879 "[Bug]: Icon property is not working for JSON Form widget Submit button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Uploading Screenshot 2022-05-16 at 8.42.48 PM.png…]()

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/6efa0328a298459eb471dce376fe8e8d-00001.gif)](https://www.loom.com/share/6efa0328a298459eb471dce376fe8e8d)

### Steps To Reproduce

1. Drag and drop JSON Form widget
2. Scroll to Submit Bu

[2022-05-16 17:11] leotom2000 opened #13880 "[Bug]: Change where condition options for firestore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When working with Firestore API, the where condition filter needs to be updated from "Contains" to "Array Contains" and "Contains Any" to "Array Contains Any". This is required as users may get confused searching items directly instead of searching Arrays.

Since the where condition UI component i

[2022-05-16 17:12] leotom2000 commented on #6060
Closing this issue as there are no changes in the implementation.
A UI change is required to resolve the misunderstanding and that will be addressed by another issue below
https://github.com/appsmithorg/appsmith/issues/13880

[2022-05-16 17:12] #6060 closed

[2022-05-17 00:52] ry-TU opened #13882 "[Feature]-[34]:Add TinyMCE CODE plugin in toolbar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi Team, first of all thank you for this great tool!

I noticed that the `code` plugin is loaded, however, this is not exposed in the toolbar.

### Why should this be worked on?

Enabling the `code` will give more flexibility to the user to modify the HTML doing advanced stuff, for example, I'm trying

[2022-05-17 01:51] some-rando commented on #10956
I've tried it both ways, with and without onSearchTextChanged running a query to find the search text. The problem exists both ways. I've also tried it with Default Selected Row set to empty, and to -1. I have a primary key column set with actually unique values. Server Side Pagination on or off doesn't fix it. Enable client side search on or off doesn't fix it.
I've tried a few other things weeks

[2022-05-17 03:20] jsartisan commented on #12292
@rohitagarwal88 Picking this up now.

[2022-05-17 03:30] chandannkumar commented on #13403
@ashit-rath Validation works fine on View mode and also working on edit mode only after a browser refresh.
But the form remove validation when reset button pressed for select type field

[2022-05-17 03:32] Ye-Ting opened #13883 "[Feature]: Add custom widget like Grafana plugin？"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi Team, first of all thank you for this great tool!

I want to add custom widget in [appsmith](https://github.com/appsmithorg/appsmith) .
But I have no idea of how to do that like [Grafana plugins](https://grafana.com/grafana/plugins

![image](https://user-images.githubusercontent.com/8576059/1687226

[2022-05-17 04:12] ankitakinger opened #13884 "[Task]: Optimize naming convention of variables and functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

PR suggestions on the below links:
[#346](https://github.com/appsmithorg/appsmith-ee/pull/346)
[#220](https://github.com/appsmithorg/appsmith-ee/pull/220)

[2022-05-17 04:37] ashit-rath commented on #13403
@chandannkumar Is this in Edit mode or View mode or both? and does that work fine after refresh?

[2022-05-17 04:44] #13860 closed

[2022-05-17 05:48] dilippitchika opened #13885 "[Feature]-[726]:Enable spellcheck in rich text editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Within the rich text editor currently there is no spellcheck enabled, this prevents users from correcting their spellings

### Why should this be worked on?

Helps users write better in the Rich text editor when they are writing long paragraphs

[2022-05-17 05:56] somangshu commented on #1392
@kavhad thanks for the additional context 👍
We are yet to prioritise this and bring it up on our roadmap, Right now we are focusing more to improve our table widget to handle large amounts of data.

We will post back here once we have decided to take this forward.

[2022-05-17 05:58] dilippitchika commented on #13885
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 363 |
| Effort (months)  | 0.25 |

[2022-05-17 06:02] somangshu commented on #12291
@rahulramesha the form button widget is not yet deprecated, We have the open issue here > https://github.com/appsmithorg/appsmith/issues/3613

Once this change is in, We would like to create a V2 based on [this](https://github.com/appsmithorg/appsmith/pull/11152#issuecomment-1067659518) discussion. Please let me know if you need more info here.

[2022-05-17 06:11] eco-monk opened #13888 "[Bug]-[2500]:async tag not updated for cross Js objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Async tag for cross JS objects reference only get updated on edit.

### Steps To Reproduce

Create JsObject2
[code]

Create JsObject1
[code]

Notice `JsObject1.myFun1` and `JsObject2.callApi` are both async (in settings tab)

Change `JsObject2.callApi` -> `return Ap1.data`

Notice `JsObject2.callA

[2022-05-17 06:30] jnikhila commented on #12598
@sharat87 - Could you please spare time to take this ahead and add some pointers so that we can progress on documentation?

[2022-05-17 06:32] jnikhila commented on #13411
@rohan-arthur / @somangshu / @hiteshjoshi / @ajinkyakulkarni - Could you please assign the ticket to someone who can create a first draft or help us document this change?

[2022-05-17 06:33] jnikhila commented on #13380
@cokoghenun - Could you please share the video link from lighting demos as referred by @AnaghHegde?

[2022-05-17 06:42] danciaclara opened #13889 "[Bug]: Very long values in APPSMITH_ENCRYPTION_PASSWORD and APPSMITH_ENCRYPTION_SALT makes it skip these variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user flagged this issue.

Now I use shorter ones and everything is working again.

### Steps To Reproduce

Needs to be investigated and reproduced

https://discord.com/channels/725602949748752515/975730370689499136/975740299005558784

### Public Sample App

_No response_

### Version

v1.6.24

[2022-05-17 06:47] chandannkumar opened #13890 "[Bug]: Show error message and red accent color when isRequired is enabled for DatePicker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/4592840bc070458eaac3aef1f68aafe0

Please have a check around JSONForm date field as well while fixing the date widget

cc: @ashit-rath

### Steps To Reproduce

1. Add a Date Picker widget onto the canvas
2. From Property Pane enable **Required** option
3. Click on the Da

[2022-05-17 06:48] somangshu commented on #13411
Probably somebody who has worked on the debugger should have knowledge around this

[2022-05-17 06:51] somangshu commented on #13890
@jsartisan @keyurparalkar could this have regressed due to theming

[2022-05-17 06:55] #13879 closed

[2022-05-17 06:56] dilippitchika commented on #13885
Expected behavior
1. As a user I want to know what are the mistakes in my words when i write so that I can correct them than send a mis-spelt word
2. As a user I want to correct my mistakes in the words without leaving the page

[2022-05-17 06:57] jnikhila commented on #12943
Closing this as duplicate #13611

[2022-05-17 06:57] #12943 closed

[2022-05-17 06:59] dilippitchika commented on #13885
Based on the above behavior, with the current fix the user is only able to see their mistakes but not able to correct them because we have context menu enabled in the RTE.

We can disable the context menu for now as the user still can use the toolbar to add links.

Place where this can create a problem is when the toolbar is disabled.

[2022-05-17 06:59] jnikhila commented on #12942
@ajinkyakulkarni / @hiteshjoshi / @rohan-arthur / @somangshu - Need help from engineering team to document this. Could you please assign it to an engineer for first draft or add pointers to the ticket?

[2022-05-17 07:00] jnikhila commented on #12873
@sum35h - Could you please help on this?

[2022-05-17 07:07] jnikhila commented on #13411
Thanks @somangshu - Do you know whom to connect?

[2022-05-17 07:11] vihar commented on #13556
Hey @jnikhila, the old tutorials need lots of updates regarding new product features and terminology.

Example: Today, most of the tutorials have the APIs, Datasources, and Widgets directories instead of the new Navigation. Hence, instead of doing this all at a time, we'll plan sprint-wise and re-update them. We'll also make sure to update the Orgnaisatrions to Workspaces simultaneously.

For now,

[2022-05-17 07:29] abhvsn opened #13893 "[Feature]: Perform file ops only when the resource is updated"
Currently, we are deleting all the files in the repo and again recreating them from DB resources. This results in unwanted file operations even if the resource is not altered since the last commit. One way to solve this is by checking the updated at field for both corresponding file and the DB object and doing the selective file operations.

New Scope(02/06/22): Add test cases for helper class Fil

[2022-05-17 07:31] somangshu commented on #13411
@ohansFavour & @akash-codemonk has been contributing to this in the past. @ajinkyakulkarni can help us more on those lines

[2022-05-17 07:32] dilippitchika commented on #13885
Check this document, browser based spellchecking section - https://www.tiny.cloud/blog/tinymce-spellchecker/

We can add a note on the context menu for user to do ctrl+right click to see the browser right click menu. They also have given the code for us to use.

[2022-05-17 07:32] dilippitchika commented on #13885
@techbhavin assigning this to you to pick up after the completing the current issue.

[2022-05-17 07:36] #12067 closed

[2022-05-17 07:43] keyurparalkar commented on #13890
Hey @somangshu I checked, this isn't happened due to theming. This is also happening in the PROD environment.

[2022-05-17 07:43] dilippitchika commented on #10956
Hey so we know it won't work either ways.

So the reason I asked was to understand if how we could fix in the short term and long term. If you don't have onSearchTextChanged making a query to filter search results, then we could split down the change to first be rolled out when onSearchTextChanged is OFF. After that fix for the case when it's ON.

If you have server side pagination enabled and peo

[2022-05-17 07:46] kavhad commented on #1392
Hi @somangshu, sounds promising can you share anything about how you're going to improve the existing table widget for the mentioned purpose?

[2022-05-17 07:52] somangshu commented on #1392
Sure @kavhad, as of now you can track it in #9135. This is our first set of goal before we can move ahead. There are more enhancements in the pipeline. Let us know if you wish to checkout the dev version, we will be more than happy to have your feedback.

Cc @dilippitchika

[2022-05-17 08:17] prapullac commented on #11160
Related to UQI

[2022-05-17 08:18] prapullac commented on #9455
related to UQI

[2022-05-17 08:54] jnikhila commented on #13411
@ajinkyakulkarni - Could you please help us out?

[2022-05-17 10:08] Aishwarya-U-R opened #13899 "[Bug]: Select widget pick from Suggested Widgets is still V1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Select Widget V1 doesn't support theming and currently in the suggest Widget Pane, the suggested Select widget given to the user is v1

https://user-images.githubusercontent.com/91450662/168786217-ea043be9-e23b-45c5-b8fa-5936fa4b3d46.mov

### Steps To Reproduce

1. Create any new API & run to

[2022-05-17 10:53] rohan-arthur commented on #2836
Hello users,

I am part of the team that is considering building this feature, and would love to hear about your expectations from `multiple environments`. [Here's](https://calendly.com/rohan-arthur/30min) my calendly link for a short call, looking forward to hearing from you! :)

Thanks,
Rohan

[2022-05-17 11:03] #11524 closed

[2022-05-17 11:29] pratikbgit opened #13901 "[Bug]: UncaughtPromiseRejection: Cannot read properties of undefined (reading 'id')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![image](https://user-images.githubusercontent.com/9802900/168794679-7a2bbb54-9526-456c-9dc8-a00825e5929e.png)

### Steps To Reproduce

https://appsmith.sim.tradersync.com/app/devtradersyncadminpanel/apply-tag-627cf626c9bd187fc499fa55

![image](https://user-images.githubusercontent.com/9802900/168

[2022-05-17 12:17] dilippitchika commented on #12239
@sbalaji1192 to check this once

[2022-05-17 12:21] rbialek opened #13902 "[Feature]: Support renaming data sources upon importing applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As developer, I would like to be able to rename my data sources when importing an application. My data sources have different names in different environments (eg. mysql-dev, vs mysql-prod) and I would like to choose which data source I want to use when importing the app.

### Why should this be worked

[2022-05-17 12:41] sumitsum commented on #2284
Meeting updates:
- implement smart substitution for query variables by end of week - @sumitsum
- start thinking about smart substitution implementation for query body - @sumitsum
- smart substitution toggle - one vs two toggles - @parth-appsmith @rohan-arthur @sumitsum
  - share RFC - @rohan-arthur @sumitsum
- create test cases for GraphQL client code and work on pagination tab - @AmanAgarwal041
-

[2022-05-17 12:56] felixsuarez0727 commented on #13758
The `Username` and `Password` labels are defined by the Integration Datasource (check the `Fetch_Integration_Dataosources` query on the SaaS App).

To change this for the Twilio Integration and to allow customization for future integration, The SaaS App should include inputs to edit the default values of those fields.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/e0d9

[2022-05-17 13:02] sbalaji1192 opened #13903 "[Task]: Preliminary chores to support i18n in widgets"
Currently, all the widget static messages are hardcoded in the widgets themselves. This is a bad practice and will make it difficult to implement i18n support in widgets in the future. This task is to create an API to maintain the static widget strings in a common file and refactor the widgets to leverage this file.

### Is there an existing issue for this?

- [X] I have searched the existing issu

[2022-05-17 14:00] eco-monk opened #13905 "[Bug]: anomalous diffs created during data tree update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When making changes to a JsObject, we see `JsObject.methodName[index]` being listed as changes.
(Also noticed in some other entities)

<img width="875" alt="image" src="https://user-images.githubusercontent.com/66776129/168826615-b8d6c3b6-fdaa-43f4-acc0-4329747ba5d9.png">

This shouldn't happen, b

[2022-05-17 14:38] GreenFlux commented on #11281
**Could we also add support for setting/getting multiple fields with HSET/HGET?**
Currently we can only set/get one field at a time, but HSET added support for multiple fields in v4.0 (2017). Also, HMSET was depreciated in v4.0, but in our Redis connector HMSET is still recognized as a valid command (and HSET fails when trying to set multiple fields). @sumitsum

[2022-05-17 14:58] felixsuarez0727 opened #13906 "Change Domain ID in Get Single Domains action - CMS Hubspot"
They made the observation that domain ID field in Single Domains option is confusing as the results contain domain and Id Separately : we need to use ID instead.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/17cee3a7-3f1a-41f0-842e-e5c7e4af73a6)

The solution is to change the Domain ID to only ID in the Saas app integration

[2022-05-17 15:05] sentry-io[bot] opened #13908 "Sentry error logged 37k events"
Sentry Issue: [APPSMITH-2HR](https://sentry.io/organizations/appsmith/issues/3267132099/?referrer=github_integration)

[code]

Sentry logs are added from the evaluation saga’s error logger.

Task
- check what all types of errors are coming here and then decide which ones to send to Sentry

[2022-05-17 15:08] felixsuarez0727 opened #13909 "Create date format restriction in Current Domains - CMS Hubspot"
QA suggested that when a user uses the wrong syntax, we have to show an error. This video shows the problem.

It is suggested that the input for dates should be a simpler format like YYYY-MM-DD insted of YYYYY-MM-DDThh:mm:ss.sTZD

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e4cda3f4447c4918a3856db9e6ccd51f-00001.gif)](https://www.loom.com/share/e4cda3f4447c4918a3856db9e6ccd51f)

We have

[2022-05-17 15:29] felixsuarez0727 opened #13910 "Add more details of some field in Current Domain - CMS Hubspot"
They suggest that some fields need to be defined well ex: Current domain method and as we scroll below we simple see “After” and “Before” option. Does not give a definition nor a syntax of its behaviour.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/9e853ac8-be7d-4d4a-9667-c6567fe27608)

**Note:** I will investigate what information is needed to make these fields und

[2022-05-17 15:29] bobhilbig commented on #13424
Is there a way for POST variables to be retrieved in an iframe too?

[2022-05-17 15:52] bobhilbig commented on #13424
Actually, possibly moot, if i can just embed a POST variable into the iframe link. so this is good.

[2022-05-17 16:29] felixsuarez0727 opened #13911 "Fix restriction error in Single Domain - CMS Hubspot"
They suggest in “Single Domain” method even without adding data into mandatory field the user is displayed with Results.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/a034fe40-f0cb-4619-915b-0e5e42443102)

**Note:** I will investigate why Domain ID is not being requested.

[2022-05-17 17:31] dilippitchika opened #13913 "[Feature]: Update the favicon of each app to show it on the browser's tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Each app has a favicon which can be shown to the app's user to help making switching apps easier.

### Why should this be worked on?

Allow users to switch between multiple apps faster

[2022-05-17 17:36] felixsuarez0727 commented on #13906
I have changed the **Domain ID** to **ID** only

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/ade75291-00e9-4e16-9ead-3c7396f74f9a)

[2022-05-17 17:46] dilippitchika commented on #1392
Hey @kavhad would you be willing to help us understand how this can helpful for the financial sector specifically? If you are, would you be able to jump on a call with us and walk through financial use-cases?

Adding a link to book a slot which is convenient for you - https://calendly.com/dilip_pitchika/30min?back=1&month=2022-05

Do let me know if this doesn't work out, i will figure out another

[2022-05-17 18:00] felixsuarez0727 commented on #13911
Update: Now Domain ID is only ID

I found that the problem is because GET
/cms/v3/domains/ is the Api of Current Domain so when you do not put the ID is not a problem for the system because recognize like a Current Domain. I make the decision of change the ID to not required this means in both cases they have to work.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/d33

[2022-05-17 18:31] ericwooley commented on #2836
@rohan-arthur

I don't have time for a calendly, but retool just released multiple environments, in case you are unaware, I'd check theirs out as well.

[2022-05-17 18:31] dilippitchika commented on #13078
Maybe you are right, let me think a bit more.

For me the reason i don't like this approach as well is because it's still the same amount of work a user needs to do.

If they have no options selected or one option selected in the specific row then the values become empty or one. This will only work well if there are a few options selected. If we do it we only have to do it for the optics.

[2022-05-17 20:02] ame-appsmith opened #13915 "[Bug]: Downloaded Image Broken When It Includes Brackets () in Its Filename"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When using the `download()` method to download an image that contains **brackets** `()` in its filename, e.g., `logo_(1)`, the downloaded image is broken.

Here is a [sample app](https://app.appsmith.com/app/image/image-download-62820d3b2c1e3f03d32a2fad) that reproduces the issue.

### Steps To Re

[2022-05-18 00:56] IAmAnubhavSaini commented on #12094
@RakshaKShetty Please test against an old application and let us know if this bug still persists.

[2022-05-18 01:08] rohan-arthur commented on #13902
Hi @rbialek, thanks for this feature request. have already sent you a DM on discord, can we catch up over a call to help me understand your requirement better? Here's my calendly link: https://calendly.com/rohan-arthur/30min

[2022-05-18 01:12] IAmAnubhavSaini commented on #13734
@abhvsn I think we make a commit to local repo even when it is `n` commit behind remote repo. Next time you load this page you see `1 commit ahead`.

[2022-05-18 01:20] rohan-arthur commented on #13849
@adamgoose thanks for the feature request and for the PR! 😍 We will look into getting this merged.

[2022-05-18 02:37] IAmAnubhavSaini commented on #13814
@abhvsn  I am not able to reproduce it, could you share a video of it happening.

[2022-05-18 02:39] vuiets commented on #13823
Can you guys share some context here? Missed this on our planning call because of network issues.

[2022-05-18 02:40] vuiets commented on #13821
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 431 |
| Effort (months)  | 0.25 |

[2022-05-18 03:20] vuiets commented on #13814
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 41 |
| Effort (months)  | 0.25 |

[2022-05-18 03:23] IAmAnubhavSaini commented on #10961
Cannot reproduce anymore.

[2022-05-18 03:23] #10961 closed

[2022-05-18 03:32] abhvsn commented on #13814
@IAmAnubhavSaini I'm not able to reproduce this on release now, seems like we have fixed this. Closing this now!

[2022-05-18 03:32] #13814 closed

[2022-05-18 03:41] arunvjn commented on #12329
@btsgh Unable to replicate this locally. Is there an existing app where I could replicate this ?

[2022-05-18 03:43] abhvsn commented on #13734
This is a valid scenario in that case. @IAmAnubhavSaini can we display a proper error message as we can't resolve the merge conflicts without the user intervention?

[2022-05-18 04:45] #13615 closed

[2022-05-18 04:46] #12823 closed

[2022-05-18 04:53] #13884 closed

[2022-05-18 05:08] #12233 closed

[2022-05-18 05:21] #12966 closed

[2022-05-18 05:31] vuiets commented on #13542
Hey @abhvsn am I getting something wrong here?

We've already covered importing via Git under [Git Sync](https://docs.appsmith.com/core-concepts/git-sync#importing-from-a-repository) aren't we?

[2022-05-18 05:32] trishaanand opened #13918 "[Bug]: Email template when role is changed in a workspace is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The email received when a user role in a workspace is changed seems incorrect. There is no beginning in the sentence :

"
has updated your role in the organization "vivek's apps" to App Viewer in Appsmith.
"

<img width="1642" alt="Screenshot 2022-05-18 at 10 56 19 AM" src="https://user-images.git

[2022-05-18 05:35] rohan-arthur commented on #13767
Mongo 6m: 1000
Apply 15% requirement: 150
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 150 |
| Effort (months)  | <<number>> |

[2022-05-18 05:38] rohan-arthur commented on #13753
Firestore 6m usage: 308
Apply 25% requirement: 77

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 77 |
| Effort (months)  | <<number>> |

[2022-05-18 05:42] rohan-arthur commented on #11621
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-05-18 05:51] rohan-arthur opened #13919 "[Bug]: [REGRESSION] Unable to configure Elasticsearch datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to add a new Elasticsearch datasource, I am not able to enter anything in the host url and port number. Here's the video with commentary:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/67327345256f4109b513b0c21c5f6902-00001.gif)](https://www.loom.com/share/67327345256f4109b513b0c

[2022-05-18 06:22] nayan-rafiq opened #13920 "Sort the list of templates based on recently used"
The list of templates should be sorted based on the most recently forked templates.

If user has no templates forked yet, it'll be sorted alphabetically
If user has recently forked two templates, those two will be in the beginning and then rest of the templates alphabetically.

[2022-05-18 06:29] AnaghHegde commented on #13821
@IAmAnubhavSaini Can you confirm if the above change requires any FE changes as well? We are planning on pushing this in the next release.

[2022-05-18 07:03] nayan-rafiq commented on #13372
This error is generated from FE whenever an expected data is not found. For example, one way to reproduce this is to - delete the theme of application. It would be better if we can send the analytics event from FE because FE has better context on the underlying API, response related to this error.

[2022-05-18 07:17] AnaghHegde commented on #13821
@IAmAnubhavSaini I am not saying anything should change on FE. I just wanted to make sure none of the urls are hardcoded on FE.

[2022-05-18 07:19] IAmAnubhavSaini commented on #13821
To best of my knowledge, no. URLs are not hardcoded.

[2022-05-18 07:22] dilippitchika opened #13921 "[Feature]: Allow users to select the overflow type in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today our devs cannot configure table to only have scrolling and no pagination. While this may not be useful to begin with for large data, we plan to expand this and add support for cursor based pagination and infinite scrolling on top of it.

### Why should this be worked on?

Allows users to represe

[2022-05-18 07:26] somangshu opened #13923 "[Bug]: Remove animation on property pane helper tooltip"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There is an animation that comes upon every tooltip in the property pane. This also appears across the app. There should not be any animation here.

![Kapture 2022-04-08 at 18 32 24](https://user-images.githubusercontent.com/11089579/168983706-805419b3-b796-49e5-b8d1-4cf1846f3bca.gif)

### Steps T

[2022-05-18 07:35] somangshu opened #13924 "[Bug]: Canvas moves up and down, when selecting widgets on the Entity explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

See the behavior here. The shifting of the canvas is janky! It’s not smooth!

![Kapture 2022-04-08 at 18 08 31](https://user-images.githubusercontent.com/11089579/168983343-7a3a4345-9c54-4f81-9768-661daabf8479.gif)

### Steps To Reproduce

Add a few widgets on the canvas. Select the widgets in the

[2022-05-18 07:36] Nikhil-Nandagopal commented on #13835
@hiteshjoshi but the use case is not to create a 3rd app from 2 apps. It's always to copy or move some part of an existing app to an existing app like in templates right?

[2022-05-18 07:38] orenab1 commented on #2410
Would've been great if this existed.. I'm building an app which MUST have it..

[2022-05-18 07:44] IAmAnubhavSaini commented on #12029
This has been fixed.

[2022-05-18 07:44] #12029 closed

[2022-05-18 07:45] somangshu opened #13926 "[Bug]: Tooltip animation on editor components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The app component have tooltips to show helpful information. This is Slow, clunky and dated animation. Need to remove this.

![Kapture 2022-04-08 at 18 22 42](https://user-images.githubusercontent.com/11089579/168985139-95de9478-9ede-405a-9186-24946e11ceb0.gif)

![Untitled](https://user-images.git

[2022-05-18 07:46] #12826 closed

[2022-05-18 07:48] somangshu opened #13927 "[Bug]: Dropdown animation in the Deploy button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The animation on the deploy button on the app editor is very slow and needs to be removed

![Kapture 2022-04-08 at 18 11 08](https://user-images.githubusercontent.com/11089579/168986139-344ac6dd-ce4d-4d14-af26-642cb3462bf5.gif)

### Steps To Reproduce

Click the dropdown of the deploy button in th

[2022-05-18 07:50] mackgorski commented on #2430
mParticle, Amplitude, Datadog

What is the progress?

[2022-05-18 07:52] somangshu opened #13928 "[Bug]: Property pane sections - collapse animation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The animation in the property pane sections to collapse it is slow and needs to be removed

![Kapture 2022-04-08 at 18 19 48](https://user-images.githubusercontent.com/11089579/168986666-bdc7b842-514c-44f4-ba22-cfcb3cbea2e3.gif)

### Steps To Reproduce

1. open property pane
2. collapse a section

[2022-05-18 07:54] IAmAnubhavSaini commented on #12154
This has been fixed. Checked in prod.

<img width="553" alt="Screenshot 2022-05-18 at 1 23 47 PM" src="https://user-images.githubusercontent.com/1573771/168987264-4a8bbe28-85e6-49c8-bf6f-3b124e8ef12c.png">

[2022-05-18 07:54] #12154 closed

[2022-05-18 07:56] somangshu commented on #13924
More context

https://user-images.githubusercontent.com/11089579/168987658-d91def51-50ff-46ca-b822-b3916241ff8a.mp4

[2022-05-18 08:12] somangshu opened #13929 "[Bug]: Animation on switching tab in Entity Explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The animation which is made for the tab switching in the entity explorer seems slow, We should remove it
![Kapture 2022-04-08 at 18 25 57](https://user-images.githubusercontent.com/11089579/168990769-2656b5f8-b549-4061-9b7d-a43f7d1c7a6d.gif)

### Steps To Reproduce

1. Open any app
2. Switch to wi

[2022-05-18 08:13] somangshu commented on #13929
This should ideally be like

https://user-images.githubusercontent.com/11089579/168990983-33ea56d9-d587-40bb-98c9-1a7149d092b9.mp4

cc @areyabhishek @momcilo-appsmith @vinay-appsmith we will take this ahead, let us know in case you feel otherwise

[2022-05-18 09:06] sumitsum commented on #13831
Test instance available at http://3.111.33.176/

[2022-05-18 09:06] #13831 closed

[2022-05-18 09:08] PaulMcF1987 opened #13930 "Multi Tree Select that works with {{appsmith.URL.queryParams.Param}}[Feature]:"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

I have noticed that all of the widgets that I have tried so far work with `{{appsmith.URL.queryParams.Param}}` with the exception of the Multitree Select.

I have a form structure where I select the table row and that allows me to view the form input. If anything needs changed, I then click edit in th

[2022-05-18 09:37] Rishabh-Rathod commented on #13540
@Nikhil-Nandagopal I have added a public sample add, steps to reproduce, and a recording showing the issue.

[2022-05-18 09:41] vivekverma2312 opened #13931 "[Bug]: In Table widget for button/icon/menu type when Button Color is selected as Theme color and we toggle JS {{or}}}} is displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/cc3fad73b9604647aa810a78f4bd42b2-00001.gif)](https://www.loom.com/share/cc3fad73b9604647aa810a78f4bd42b2)

### Steps To Reproduce

1. Drag and drop a table widget
2. Change the column type to icon
3. Scroll to Button color property
4. Select th

[2022-05-18 10:04] ChandanBalajiBP opened #13932 "[Bug]: Inconsistency in Back button and edit Icon in API Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. Back button is not as per design
2. Edit Icon is different from the design

Ref - https://www.figma.com/file/IfutQTUq3g97j59i3mx6Y4/Appsmith-Screens-Library?node-id=257%3A39431

<img width="381" alt="Screenshot 2022-05-18 at 3 31 40 PM" src="https://user-images.githubusercontent.com/104058110/1

[2022-05-18 10:07] #13868 closed

[2022-05-18 10:07] rbialek commented on #9158
Having the same issue on Atlas Mongo:

`
Query failed with error code 13 and error message 'not authorized on qa to execute command { find: "system.views", filter: {}, limit: 1, singleBatch: true, $db: "qa", $clusterTime: { clusterTime: Timestamp(1652867141, 18), signature: { hash: BinData(0, 544CAB2B61F45C26453EEDC28B31D1813D0742C9), keyId: 7040125179728495651 } }, lsid: { id: UUID("1550ebed-9295

[2022-05-18 10:18] ChandanBalajiBP opened #13933 "[Bug]: Mismatch with design in Datasource page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Sample database component is not as per design - https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4966%3A27307

1. > [Helper text alignment](https://www.notion.so/appsmith/870d3c54354d460f9a90457ce6d7c98d?v=b6dd8044acd346c2a55c9d2b925bc454&p=e90e85c6e6a9495aa87ae46f

[2022-05-18 10:18] harshilp24 opened #13934 "[Docs] : Update Elastic Search Doc"
This user is not able to connect to elastic search. They shared a screenshot with the error:

![Screen Shot 2022-05-18 at 11.41.07 am.png](https://images.zenhubusercontent.com/6256ad80dd2729be5445ad0b/d3e030e5-bb50-4e57-9f2b-d1a37762cea9)

[Intercom](https://app.intercom.io/a/apps/y10e7138/inbox/conversation/164629100108419)
[Slack Discussion ](https://theappsmith.slack.com/archives/C0341RERY4R/p1

[2022-05-18 10:41] rohan-arthur commented on #13435
@ohansFavour confirmed with user that this is not reproducible anymore.

[2022-05-18 10:41] #13435 closed

[2022-05-18 10:44] dilippitchika commented on #11902
18 May

Action items

- [ ] @dilippitchika to update the issues in the epic so that they are linked - Deadline 18 May
- [ ]  @souma-ghosh to go over all the issues in the epic and understand the context better with Tolu and Ashit's help - Deadline 23 May
- [ ] @souma-ghosh to work on a tech spec and get back to us.

[2022-05-18 10:46] IAmAnubhavSaini commented on #11550
This will be taken up by design system update.

[2022-05-18 10:46] #11550 closed

[2022-05-18 10:46] ChandanBalajiBP opened #13936 "[Bug]: Datasource card design mismatch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Card design doesn't match with the figma - https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4966%3A27307

1. [Vertical space mismatch](https://www.notion.so/appsmith/870d3c54354d460f9a90457ce6d7c98d?v=b6dd8044acd346c2a55c9d2b925bc454&p=0c3ca02269404483991822793c6c8b

[2022-05-18 10:46] IAmAnubhavSaini commented on #10730
This has been fixed.

[2022-05-18 10:46] #10730 closed

[2022-05-18 10:54] #10557 closed

[2022-05-18 10:54] #10603 closed

[2022-05-18 10:55] chandannkumar opened #13937 "[Bug]: Hidden columns sets to last on changing visible column index in Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we hide a column and interchange any visible columns index from widget, then the column list resets and push all hidden columns at last automatically?
 what should be the expected behavior here.. ?

https://www.loom.com/share/8f3e6e5cc37642b6b7d4f0ce407b5498

### Steps To Reproduce

1. Add a

[2022-05-18 11:11] vuiets commented on #13542
Ah my bad, this is the change in flow to our existing normal `Import` app flows.

[2022-05-18 11:16] eco-monk commented on #13905
As of now, No case identified where users are impacted.

[2022-05-18 11:21] shadabbuchh opened #13938 "[Bug]: Error message displayed for Text widget even when data is displayed properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we bind the `Text` widget with a `Table` widget using `{{Table1.selectedRow}}`, an error is thrown saying `This value does not evaluate to type string`.
<img width="1440" alt="Screenshot 2022-05-18 at 4 49 59 PM" src="https://user-images.githubusercontent.com/39921438/169027177-c6bbbfaf-4913-

[2022-05-18 11:23] rohan-arthur commented on #13187
@sharat87 thank you for sharing more insight into this! I have updated the reach score.

[2022-05-18 11:41] kocharrahul7 opened #13939 "[Feature]: Center align the home page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, our top-level page on [app.appsmith.com](http://app.appsmith.com/) has the following layout. The content of the page spans the full width of the area next to the side-bar.

![image](https://user-images.githubusercontent.com/20532920/169030767-2641afcc-d23f-4e67-9a17-882abf57d679.png)

With

[2022-05-18 11:55] Rishabh-Rathod commented on #776
@rimildeyjsr will be sharing docs on `how to create global actions` and then interested contributors could pick this up.

[2022-05-18 11:58] rishabhrathod01 opened #13940 "[Bug]: Incorrect dependencyMap when js binding of widget property is untoggled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

we noticed that when we untoggled js binding `dynamicBindingPathList` was updated correctly but transaltedDiffs didn’t receive the update and hence `dependencyMap` was not updated.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/68918ba13b1f4167b1fc9bd42b583a09-00001.gif)](https://www.loom.

[2022-05-18 12:09] AnaghHegde commented on #13542
We have the draft available here already - https://docs.google.com/document/d/1uMtJZnbFax4uAvzHxp6P0MmyMuEIcJaWXV2NBkajXeI/edit

[2022-05-18 12:11] #13611 closed

[2022-05-18 12:14] #12652 closed

[2022-05-18 12:21] Pranay105 commented on #13542
I have used this draft to create Import from Git repository under Git documentation @AnaghHegde

[2022-05-18 12:25] hiteshjoshi commented on #13835
Yes @Nikhil-Nandagopal, the use case is such. The only problem I feel is, if the apps are connected to Git. It will create a lot of changes and might require steps to ask which branch to merge on etc. Hence creating a third app based on default branch seems like a safest option to start with and later we can iterate.

[2022-05-18 12:40] jnikhila commented on #13805
@ApekshaBhosale - Could you please verify this?

[2022-05-18 12:44] kavhad opened #13941 "[Feature]: Appsmith multitenancy with single appsmith app and single database that utilize RLS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

SaaS-applications which use a single database can use RLS (Row Level Security) for guaranteeing isolation between each tenant's data. RLS works by setting up a RLS filter policy for a table which filters data when doing SELECT, UPDATE, CREATE AND DELETE operations. A RLS filter policy usually depend o

[2022-05-18 12:47] jnikhila commented on #13685
@sharat87 - Could you please help us out in understanding what needs to be documented?

[2022-05-18 12:48] jnikhila commented on #13649
As part of this ticket, add all the widget properties.

[2022-05-18 12:50] jnikhila commented on #12715
Please add examples when to use prepared statements and when to choose to opt out.

[2022-05-18 13:13] Sripriya93 commented on #9646
Verified, Moving to done

https://images.zenhubusercontent.com/275993885/4fa3c018-f081-46b2-b1bd-6f9b21f8e2e4/grouping___editor___appsmith___18_may_2022__1_.mp4

[2022-05-18 13:30] #13768 closed

[2022-05-18 14:09] mackgorski commented on #2430
Q1 is over :) any progress on this? :)

[2022-05-18 14:37] #13460 closed

[2022-05-18 16:25] ame-appsmith opened #13946 "[Bug]: Firestore: Same Records Are Displayed on All Pages When Using Pagination in List Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When using **Firestore** and implementing **Server-Side Pagination** for a **List**, it displays the _same records_ on all pages.
The same implementation works correctly in a Table widget.
Ref: https://theappsmith.slack.com/archives/C0341RERY4R/p1652372710725879

### Steps To Reproduce

1. Add a *

[2022-05-18 16:48] Nikhil-Nandagopal commented on #13946
I think this is because the List Widget is not passing Next and Prev for cursorbased pagination

[2022-05-18 19:04] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 you should pass the id of the data that you want to populate so that you can query that data using the id and pass it to all the widgets

[2022-05-18 19:29] adamgoose commented on #13849
@Nikhil-Nandagopal Admittedly, no I have not. However, using the await syntax will prevent the download function from prematurely returning a promise. In my experience, a button will indicate loading until the click handler function returns. I've verified this when using a JavascriptObject Method as a click handler.

[2022-05-19 01:11] hiteshjoshi commented on #13899
I think @akash-codemonk will be the best person to pick this up. Please do let me know Akash if you have the context or would need thoughts here.

[2022-05-19 01:50] hiteshjoshi commented on #13423
@abhvsn for future proofing ourself, can we add some analytics on time outs or error stages due to git?

[2022-05-19 01:51] hiteshjoshi commented on #13869
@akash-codemonk can you debug this?

[2022-05-19 02:07] abhvsn commented on #13423
@hiteshjoshi we already have the analytics in place for error events as well. Let me check if the above scenario is covered, if not I'll add the datapoint 👍

[2022-05-19 03:35] felixsuarez0727 commented on #13906
Item has been addresed already.

[2022-05-19 03:35] #13906 closed

[2022-05-19 03:37] #13911 closed

[2022-05-19 04:49] hiteshjoshi commented on #13107
@rohitagarwal88 are these accounted for? Or if they are already completed or being track somewhere else can we close this?

[2022-05-19 04:51] hiteshjoshi commented on #13111
@vinay-appsmith do you know who should pick this up?

[2022-05-19 05:21] eco-monk commented on #13308
The Api seems to throw this error consistently. (Thanks @ApekshaBhosale for pointing this out)
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/66776129/169214365-1a33a1ec-b3ea-40f8-bfeb-d03384433bc7.png">

Was unable to repro this with query, which is the user's case.
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/66776129/169214468-346634

[2022-05-19 05:45] ashit-rath opened #13948 "[Bug]: JSONForm source data object type value change from object to null causes a crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the value for a object type changes from an object to `null`, it is not able to process it and causes a crash.

### Steps To Reproduce

1. Drag a JSONForm
2. Add the source data
[code]
3. Once the form renders, change the source data to
[code]

### Public Sample App

_No response_

### Versio

[2022-05-19 05:53] kocharrahul7 commented on #13939
Would like to bundle in the solution for this issue as well: #8736 [8736](https://github.com/appsmithorg/appsmith/issues/8736).

[2022-05-19 06:15] RoopKrrish9696 commented on #13111
Hey @hiteshjoshi I think we will pick this up alongside with colour swap for the canvas task. cc @vinay-appsmith @kocharrahul7 @aakashDesign @aa

[2022-05-19 06:41] rohitagarwal88 commented on #13107
@hiteshjoshi : I am creating a new board for the issues having a label **Design system**. We will track all issues there. Any issues that should be part of the new board just add the **Design system** label.

[2022-05-19 06:46] #11619 closed

[2022-05-19 06:57] ankitakinger opened #13949 "[Bug]: No search results image is misaligned on applications page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i search something on applications page and there are no results, the no results image shown is misaligned.
![image](https://user-images.githubusercontent.com/28362912/169229427-1a4d9181-a04f-4613-9785-f714659a0515.png)

### Steps To Reproduce

1. Go to the applications page
2. Search for any

[2022-05-19 07:11] #13171 closed

[2022-05-19 07:38] #12599 closed

[2022-05-19 08:16] mohanarpit opened #13955 "[Feature]: Improve the URL for git connected apps by removing branch=master as query parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In an effort to have cleaner URLs, we should remove the query parameter `?branch=master` as the default query parameter as the default shareable URL. Only if the user is sharing the app via another branch should this query parameter be present. In the default branch, the query parameter should be omit

[2022-05-19 08:49] riodeuno opened #13959 "[Task] Review for lazy loading opportunities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Identify the widget components which can help reduce chunk sizes by lazy loading
- Try to isolate imports as much as possible to enable lazy loading
- Update imports for each of the opportunities.

Note: The PR(s) must contain the before and after screenshots which show the chunk sizes, to confirm

[2022-05-19 08:54] #13167 closed

[2022-05-19 09:40] jnikhila commented on #12941
[SAML Docs](https://docs.appsmith.com/setup/instance-configuration/single-sign-on-sso/security-assertion-markup-language-saml) published on live.

[2022-05-19 09:40] #12941 closed

[2022-05-19 09:47] jnikhila commented on #13556
Moving this back to backlog as it will be picked once the ticket is progressed on by engineering team.

[2022-05-19 09:49] Nikhil-Nandagopal commented on #13862
@shadabbuchh this seems kind of expected. What is the alternative?

[2022-05-19 09:58] #13204 closed

[2022-05-19 09:58] #13205 closed

[2022-05-19 09:58] #13218 closed

[2022-05-19 09:58] #13259 closed

[2022-05-19 09:58] #13294 closed

[2022-05-19 09:58] #13295 closed

[2022-05-19 09:58] #13319 closed

[2022-05-19 09:58] #13348 closed

[2022-05-19 09:58] #13356 closed

[2022-05-19 09:58] #13357 closed

[2022-05-19 09:58] #13358 closed

[2022-05-19 09:58] #13366 closed

[2022-05-19 09:58] #13370 closed

[2022-05-19 09:58] #13374 closed

[2022-05-19 09:58] #13378 closed

[2022-05-19 09:58] #13379 closed

[2022-05-19 09:58] #13402 closed

[2022-05-19 09:58] #13417 closed

[2022-05-19 09:58] #13432 closed

[2022-05-19 09:59] #13449 closed

[2022-05-19 09:59] #13454 closed

[2022-05-19 09:59] #13456 closed

[2022-05-19 09:59] #13458 closed

[2022-05-19 09:59] #13463 closed

[2022-05-19 09:59] #13493 closed

[2022-05-19 09:59] #12985 closed

[2022-05-19 09:59] #12997 closed

[2022-05-19 09:59] #12998 closed

[2022-05-19 09:59] #13003 closed

[2022-05-19 09:59] #13006 closed

[2022-05-19 09:59] #13017 closed

[2022-05-19 09:59] #13018 closed

[2022-05-19 09:59] #13019 closed

[2022-05-19 09:59] #13020 closed

[2022-05-19 09:59] #12980 closed

[2022-05-19 09:59] #13061 closed

[2022-05-19 09:59] #13075 closed

[2022-05-19 09:59] #13087 closed

[2022-05-19 09:59] #13088 closed

[2022-05-19 09:59] #13095 closed

[2022-05-19 09:59] #13091 closed

[2022-05-19 09:59] #13099 closed

[2022-05-19 09:59] #13103 closed

[2022-05-19 09:59] #13113 closed

[2022-05-19 09:59] #13132 closed

[2022-05-19 09:59] #13135 closed

[2022-05-19 09:59] #13151 closed

[2022-05-19 09:59] #13196 closed

[2022-05-19 09:59] #13203 closed

[2022-05-19 09:59] #12792 closed

[2022-05-19 09:59] #12794 closed

[2022-05-19 09:59] #12846 closed

[2022-05-19 09:59] #12848 closed

[2022-05-19 09:59] #12852 closed

[2022-05-19 09:59] #12853 closed

[2022-05-19 09:59] #12855 closed

[2022-05-19 09:59] #12862 closed

[2022-05-19 09:59] #12867 closed

[2022-05-19 09:59] #12870 closed

[2022-05-19 09:59] #12889 closed

[2022-05-19 09:59] #12893 closed

[2022-05-19 09:59] #12900 closed

[2022-05-19 09:59] #12785 closed

[2022-05-19 09:59] #12791 closed

[2022-05-19 09:59] #12901 closed

[2022-05-19 09:59] #12914 closed

[2022-05-19 09:59] #12925 closed

[2022-05-19 09:59] #12928 closed

[2022-05-19 09:59] #12963 closed

[2022-05-19 09:59] #12968 closed

[2022-05-19 09:59] #12974 closed

[2022-05-19 09:59] #12975 closed

[2022-05-19 09:59] #12977 closed

[2022-05-19 09:59] #12978 closed

[2022-05-19 09:59] #5786 closed

[2022-05-19 09:59] #9564 closed

[2022-05-19 09:59] #10719 closed

[2022-05-19 09:59] #10720 closed

[2022-05-19 09:59] #12376 closed

[2022-05-19 09:59] #12776 closed

[2022-05-19 10:07] #13097 closed

[2022-05-19 10:07] #13134 closed

[2022-05-19 10:07] #13136 closed

[2022-05-19 10:07] #13201 closed

[2022-05-19 10:07] #13221 closed

[2022-05-19 10:07] #13225 closed

[2022-05-19 10:07] #13253 closed

[2022-05-19 10:07] #13287 closed

[2022-05-19 10:07] #13303 closed

[2022-05-19 10:07] #13340 closed

[2022-05-19 10:07] #13343 closed

[2022-05-19 10:07] #13346 closed

[2022-05-19 10:07] #13369 closed

[2022-05-19 10:32] rohan-arthur opened #13960 "[Bug]: Unreliable returns in JS function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a simple js function that returns a value:

`
myFun1: () => {
			return 1;
	}
`
When I try to run the function, in the first try, there is no return value. In the second try it works. If I try to change "1" to "2", sometimes the run works and sometimes not.

https://www.loom.com/share/8afe4

[2022-05-19 10:36] jnikhila opened #13961 "[Docs] : Add SAML configuration for Active Directory"

[2022-05-19 10:42] rohan-arthur opened #13963 "[Bug]: Using moment() within js function fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

i have a simple function which should return current timestamp:

`myFun1: () => {
		let a = moment();
		return a;
	}`
When I run this, the debugger indicates that there is an error. When I try to debug, there are no errors.
If I replace the return statement as `return a + 1;`, then the function ru

[2022-05-19 10:57] Nikhil-Nandagopal commented on #13862
@shadabbuchh but then if the user changes the label position back, you would expect the widgets to shift back up. I think as an experience it becomes a little confusing because in which cases should it shift back up vs not.

[2022-05-19 10:57] #13764 closed

[2022-05-19 11:08] Nikhil-Nandagopal commented on #13867
@shadabbuchh this is expected. Properties are to control the inputs users give to the widget, but they do not prevent the developer from setting the default of the widget. An example of this would be in a react component, if we were to set halfStars=false and defaultRating=2.5, it would show 2.5 stars

[2022-05-19 11:08] #13867 closed

[2022-05-19 11:10] Nikhil-Nandagopal commented on #13873
I don't think we can control whether the labels overlap, but I think the main problem here is that the error should not show permanently and only on hover. @rohitagarwal88 can we fix this small issue? It's quite painful to see the entire screen with errors

[2022-05-19 11:12] #12885 closed

[2022-05-19 11:12] #12897 closed

[2022-05-19 11:12] #12915 closed

[2022-05-19 11:12] #12955 closed

[2022-05-19 11:12] #12970 closed

[2022-05-19 11:12] #13007 closed

[2022-05-19 11:13] #12845 closed

[2022-05-19 11:13] #12849 closed

[2022-05-19 11:13] #12856 closed

[2022-05-19 11:13] #12877 closed

[2022-05-19 11:14] #12778 closed

[2022-05-19 11:14] #12782 closed

[2022-05-19 11:14] #12784 closed

[2022-05-19 11:14] #12802 closed

[2022-05-19 11:14] #12808 closed

[2022-05-19 11:14] #12817 closed

[2022-05-19 11:14] #12841 closed

[2022-05-19 11:17] Nikhil-Nandagopal commented on #13880
@leotom2000 the problem isn't very clear here. Can you please add steps to show the error and what the problem is. Array Contains as a text doesn't sound very intuitive. I'm closing this till we get more information

[2022-05-19 11:17] #13880 closed

[2022-05-19 11:18] Nikhil-Nandagopal commented on #13882
@ry-TU thanks for the feature request!

[2022-05-19 11:22] Nikhil-Nandagopal commented on #13883
@Ye-Ting hello 👋 we have this feature tracked here #2033 so I'm closing this issue.

[2022-05-19 11:22] #13883 closed

[2022-05-19 11:23] Nikhil-Nandagopal commented on #13889
@sub1983 @sum35h could one of you please have a look?

[2022-05-19 11:27] Nikhil-Nandagopal commented on #13901
@pratikbgit in this case, it seems likely that the query SelectGetUSEquityMarket_Ohld_id probably did not return any data and due to that, there is an error when trying to access the id field. Could you check the response of this query and reopen this if you are still facing this issue?

[2022-05-19 11:27] #13901 closed

[2022-05-19 11:31] Nikhil-Nandagopal opened #13964 "[Epic] Git Sync & Version Control 2"
https://github.com/appsmithorg/appsmith/issues/3199

[2022-05-19 11:31] Nikhil-Nandagopal opened #13965 "[Epic] Git Sync & Version Control 2"
https://github.com/appsmithorg/appsmith/issues/3199

[2022-05-19 11:38] Sripriya93 commented on #13054
Verified, QA done.

[2022-05-19 11:44] mohanarpit commented on #13965
Closing as duplicate of #13964

[2022-05-19 11:44] #13965 closed

[2022-05-19 11:44] jnikhila commented on #10514
Duplicate #13607

[2022-05-19 11:44] #10514 closed

[2022-05-19 12:11] #13875 closed

[2022-05-19 12:12] #13607 closed

[2022-05-19 12:13] #12027 closed

[2022-05-19 12:17] jnikhila commented on #12433
@sharat87 - Could you please review the changes on GitBook?

[2022-05-19 12:21] #13852 closed

[2022-05-19 12:21] #11008 closed

[2022-05-19 12:21] #12303 closed

[2022-05-19 12:28] #11868 closed

[2022-05-19 12:29] rohan-arthur opened #13967 "[Bug]-[110]:wrong function is run in js object sometimes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

this is not always reproducible, but the function selector in the js editor sometimes jumps and changes values unpredictably. So, when I try to run the function that I am currently editing, and the function selector jump occurs, then the wrong function ends up getting executed.

In my experience,

[2022-05-19 12:41] rohan-arthur commented on #13967
loom video https://www.loom.com/share/98bdeb95a2de4ea49eaec58e5ea9ae7d

[2022-05-19 13:13] RakshaKShetty commented on #13624
This commit contains the changes that we see every time after discarding an old, git-connected app.
https://github.com/RakshaKShetty/1234test/commit/4719bd0ee899346bb32f2495d062c62ec79ffd5c

as you can see it contains version change , it happens for migrated application.
<img width="1282" alt="image" src="https://user-images.githubusercontent.com/45958978/169299309-36d8a7dd-6d36-402f-906d-55e05ac1

[2022-05-19 13:13] #13512 closed

[2022-05-19 13:24] codedmind commented on #11422
This still happen... in version 1.7

[2022-05-19 13:30] rashmi-rai commented on #13967
[Steps to reproduce ](https://www.loom.com/share/98bdeb95a2de4ea49eaec58e5ea9ae7d)

[2022-05-19 15:12] #13477 closed

[2022-05-19 16:15] AS-Laguna opened #13970 "[Bug]: MultiSelect widget decreases in height when more options are selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The different types of select widget have different box heights if the selected options width exceeds the box width.

![image](https://user-images.githubusercontent.com/101155659/169347864-21294c07-9b85-485c-93c0-7bc24a9977bb.png)

### Steps To Reproduce

1. Open a new app.
2. Drag one of each sel

[2022-05-19 17:14] felixsuarez0727 opened #13971 "Create Hubspot 1.2 integration"
Create Hubspot 1.2 integration with the 7 scopes that have been created

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/96e07b9a-4918-484a-950a-94e7ed752204)

### CMS HubDB
| Action                             | EngSpec Doc | SaaS Manager App | SaaS App Run | Test App Run |QA  |
| ---                                | ---         | ---              | ---    | --- | ---

[2022-05-19 19:06] rahulramesha opened #13972 "[Task]: Remove defaultChecked from SwitchControl Component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

`SwitchControl` Component passes both `checked` and `defaultChecked` props to `Switch` component. This throws warning in recent Vite build. Verify component without `defaultChecked` and remove it from passed Props.

![image](https://user-images.githubusercontent.com/71900764/169382390-bc502286-1c49-4

[2022-05-19 19:27] luilabdev commented on #8749
I think something similar to breadcrumb is not enough for everyone, some of us need header with some good options like fixed position, zero margins around similar to a navbar in a common web app

[2022-05-20 03:58] hiteshjoshi commented on #11422
@RakshaKShetty can someone confirm this on version 1.7 and debug why its happening?

[2022-05-20 03:59] shadabbuchh commented on #5445
@sbalaji1192 Reference to a column containing a Non-ASCII character or a space in the beginning throws an error. Please advice should I track it with this issue (and move it into `In Progress`) or create a new one. https://www.loom.com/share/1c446e2163134a16b42134540919e405

[2022-05-20 04:03] hiteshjoshi commented on #13624
I think auto committing migration changes will solve this? As you won't be able to discard changes. And when we are going to work on auto-commit for migration, does it make sense to pick this up?

[2022-05-20 04:05] hiteshjoshi commented on #13955
@abhvsn @IAmAnubhavSaini can we pick this up as sub part of [EPIC] Git performance & UX #13823
I will attach this on zenhub.

[2022-05-20 04:10] hiteshjoshi commented on #13939
Should this be a part of the design system pod?

[2022-05-20 04:16] kocharrahul7 commented on #13939
Abhishek asked Roop to merge this with the Templates phase 2, but I think it makes sense to put it in the design system pod honestly

[2022-05-20 04:27] hiteshjoshi commented on #13939
Oh yes, while working on templates we can fix this. Good idea. I will switch back labels.

[2022-05-20 04:57] hiteshjoshi commented on #13382
@Nikhil-Nandagopal I think this is listed as a feature on RBAC. When RBAC beta(phase 1) is done and available for general audience we should pick this up on phase 2. Can add this for Google SSO and form login as well. Though form login will need to verify email as a check.

[2022-05-20 05:05] dilippitchika commented on #13882
Hi @ry-TU Thanks for this. This seems fairly advanced for text editing, could you help us understand what you are trying to build better? This will help us prioritise this request faster.

[2022-05-20 05:11] #13618 closed

[2022-05-20 05:13] harshilp24 opened #13973 "[Tutorial]: Update : How to Build a Meeting Scheduler (Calendly Clone) in 30 Minutes"
There are certain parts that are confusing for users.

[Tutorial
](https://www.appsmith.com/blog/how-to-build-a-calendly-clone-in-30-minutes)

[Slack Discussion](https://theappsmith.slack.com/archives/C0341RERY4R/p1652992114164169)

- This highlighted step is not very clear (the user didn't enter the params). Also a screenshot might help.
![image (4).png](https://images.zenhubusercontent.com/6256a

[2022-05-20 05:15] dilippitchika commented on #13946
@ame-appsmith can you add the sample app for table? I was not able to figure out how to get it to work there as well.

[2022-05-20 05:16] Sripriya93 commented on #13609
Working fine, Verified.

[2022-05-20 05:19] dilippitchika commented on #13937
Looks like there is an inconsistency. Whenever we re-arrange in the table widget and not via property pane it resets the order. Plus this only matters in edit mode, so keeping this in icebox for now.

[2022-05-20 05:26] RakshaKShetty commented on #12094
Still able to repro this issue i am facing 504 gateway error
![image](https://user-images.githubusercontent.com/45958978/169456076-c2edf642-42de-457f-9067-ab6c1cc2cab1.png)
App Link https://release.app.appsmith.com/applications/625685fce4f28636dd152d08/pages/62568603e4f28636dd152d17?branch=master
Github link: https://github.com/RakshaKShetty/datasource_import

[2022-05-20 05:30] Sripriya93 commented on #12758
Working fine, Verified!

[2022-05-20 06:00] dilippitchika commented on #13931
@keyurparalkar could you please check this once? This is an inconsistency.

[2022-05-20 06:38] shadabbuchh commented on #5445
@sbalaji1192 also noticed that for custom columns, if there is a space in the beginning of the column header then while referencing that column the space vanishes automatically. However this does not happen for regular columns. https://www.loom.com/share/4a1d7794aeee4b0d949fc6ab200ae835

[2022-05-20 06:38] ramsaptami commented on #13960
Duplicate of #13512

[2022-05-20 06:47] IAmAnubhavSaini commented on #12094
I have been able to reproduce this issue with Revoke API as @abhvsn has mentioned above. This looks like a backend cleanup issue. I am getting 500 and 504 errors. Lets have a call on backend implementation. From FE we are sending proper data in request, but not getting proper response. The responses I am getting are 500 or 504.

[2022-05-20 06:51] Parthvi12 commented on #13489
<img width="1440" alt="Screenshot 2022-05-20 at 12 17 59 PM" src="https://user-images.githubusercontent.com/80334441/169470122-1ef9a3b7-9a06-4db3-9da0-186160e6368b.png">

I am facing this issue, when I open an existing app.

[2022-05-20 06:54] Parthvi12 commented on #13489
- To reproduce this issue:

[2022-05-20 07:07] Somashekar-B opened #13976 "[Bug]: Unable to send Forget Password and Invite mail even after configuaration of email service"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

#4368 Is similar to My issue but in that they may have not config the Email service but i had config it correctly but not able to send the Invite mail and Forget password mail. It says it is sent but i did not receive any in inbox

### Steps To Reproduce

1. Create an application
2. Config the ema

[2022-05-20 07:10] sbalaji1192 commented on #5445
@shadabbuchh
Regarding #1, Expected behaviour, This is not an issue with the Table widget. This is expected behavior with javascript. You're using a character that is not allowed to be part of the identifier. please use square bracket to access the variable that has non-ASCII characters.
Regarding #2, space in column header as in column property name?

[2022-05-20 07:17] dilippitchika commented on #13970
Happens in multi select widget

Loom video - `https://www.loom.com/share/ad94ee328d7d4725bd274d320a54f305`

[2022-05-20 07:18] dilippitchika commented on #13970
@souma-ghosh assigning this to you to understand why this is happening, only then we will work on the fix.

[2022-05-20 07:19] Parthvi12 commented on #12233
This has been verified on release.

[2022-05-20 07:20] prapullac commented on #13919
We are unable to enter the keystroke in the Host fields hence reopening the issue. Attaching video below :
https://www.loom.com/share/5789e6660e094b448e81f7826ba32eee

[2022-05-20 08:05] IAmAnubhavSaini commented on #12094
After app gets into a weird state when revoke is failing:

# revoke response

[code]

And subsequent commit response:

[code]

[2022-05-20 08:10] Aishwarya-U-R opened #13977 "[Bug]-[800]:MySQL - cleaner 'Missing Password' error toast"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**My SQL: Right now gives the direct message from MYSQL server when no password is provided during connection:**
<img width="987" alt="Screenshot 2022-05-20 at 11 33 51 AM" src="https://user-images.githubusercontent.com/91450662/169483685-cd26aa84-0256-48c7-9c73-349a5ac0a4e9.png">

The error shoul

[2022-05-20 08:16] #13948 closed

[2022-05-20 08:17] cokoghenun opened #13978 "[Bug]: Curl Import Not Detecting Right Body Type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Whenever a URL is imported via CURL, the right body type is not detected and always defaults to RAW

### Steps To Reproduce

Try importing this multipart form request

[code]

### Public Sample App

_No response_

### Version

Cloud/v1.6.26-SNAPSHOT

[2022-05-20 08:27] Nikhil-Nandagopal commented on #13835
@hiteshjoshi ah from that perspective I understand but the problem in creating new apps is that now all the teams need to be notified that the usual URL they use, must be changed to the new URL. That's a big overhead in companies and they prefer that URLs don't change

[2022-05-20 08:41] IAmAnubhavSaini commented on #12094
@abhvsn It looks like revoke API is not returning proper response, but commit one does. This happens after steps mentioned in https://github.com/appsmithorg/appsmith/issues/12094#issuecomment-1076129711

Revoke succeeds but leaves the application in weird state. Here, git-status API returns a proper response, and as if the git is connected properly. But, only commit command shows that it is not co

[2022-05-20 08:42] Aishwarya-U-R opened #13979 "[Bug]-[4869]:Table (v1) reverts column positions on sorting if columns returned differ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/169489128-6413dfea-6fdf-4b70-bcf0-00901f8656f7.mov

### Steps To Reproduce

1. Connect Table to a datasource which does not return values for some columns (eg used: Mongo TED)
2. Drag drop columns from within table properties to reorder the column

[2022-05-20 08:45] pranavkanade commented on #13946
@dilippitchika here is the app - https://app.appsmith.com/app/firestore-1/firestore-pagination-62849faf309fd93a9bf12c3f
You already have access to it.

[2022-05-20 08:49] Nikhil-Nandagopal commented on #13111
@RoopKrrish9696 @vinay-appsmith are we doing a color change to the canvas? Can you share the updated color? We can't update this for existing apps because it will hurt the design of existing apps. What will be the style of apps expected?

[2022-05-20 08:58] RoopKrrish9696 commented on #13111
@Nikhil-Nandagopal To make apps look good we are changing the default canvas color to white and the gutter space to grey ish. Since theming is live, users can still choose their background color. Also there are issues with current theming when the canvas is complete white ( canvas borders are missing ), in this ticket we can handle this as well. From my understanding, this would be better handled

[2022-05-20 09:03] Nikhil-Nandagopal commented on #13111
@RoopKrrish9696 @vinay-appsmith pure white might look weird right? Most internal tools ensure there is a contrast between the background and the containers
https://coderthemes.com/hyper/creative/crm-dashboard.html
https://themes.getbootstrap.com/preview/?theme_id=19799
https://themes.getbootstrap.com/preview/?theme_id=6063

This feels like a step back in the direction of making the apps look good

[2022-05-20 09:03] shadabbuchh commented on #5445
@sbalaji1192 for `#2` I tried with space in both Property name & in the regular column name.

[2022-05-20 09:07] #13872 closed

[2022-05-20 09:25] Nikhil-Nandagopal commented on #13849
@adamgoose could you try it out and post a video of the solution working? We'd love to get this merged in

[2022-05-20 09:48] RoopKrrish9696 commented on #13111
+1 , yes @Nikhil-Nandagopal this is just a proposed color by abhishek, but imo this is not a small problem, so there should be some exploration to be done around this and as you said, we should relook at the direction.

[2022-05-20 09:50] vinay-appsmith commented on #13111
Not going to talk about the solution here, but the aspect we need to solve for is that the widgets placed on the canvas have to be sufficiently demarcated from the canvas, irrespective of the background color being used. And the canvas needs to be demarcated from the rest of the UI.

We could achieve this demarcation through a combination of color, shadow, outline etc.

@Nikhil-Nandagopal While we

[2022-05-20 10:29] ashit-rath opened #13981 "[Bug]: JSONForm select field consider empty string as invalid value when isRequired is enabled."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the `isRequired` is enabled for a select field, an empty value should be considered as an invalid value. This is to align the implementation with the Select widget.

### Steps To Reproduce

1. Drag a JSONForm widget
2. Modify `name` to select field
3. Make the default value empty
4. Observe t

[2022-05-20 10:54] Nikhil-Nandagopal commented on #13930
@PaulMcF1987 this should be working. Could you please share the steps or a video that shows this not working? If this is added to the default values and the options of the multi select has a matching value, it should work

[2022-05-20 10:54] #13930 closed

[2022-05-20 10:58] Nikhil-Nandagopal commented on #13540
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 104 |
| Effort (months)  | 0.5 |

[2022-05-20 10:58] Nikhil-Nandagopal commented on #13540
@Rishabh-Rathod able to reproduce it now. We really need to fix framework breaks like this

[2022-05-20 11:03] Nikhil-Nandagopal commented on #13869
@akash-codemonk I think ideally we should just hide that option in the onboarding

[2022-05-20 11:04] Nikhil-Nandagopal commented on #8749
@luilabdev could you share a screenshot of the type of navbar you're trying to replicate?

[2022-05-20 11:06] prapullac commented on #13919
It is working on DP and waiting on it to merge into release hence closing the issue

[2022-05-20 11:06] #13919 closed

[2022-05-20 11:08] PaulMcF1987 commented on #13930
@Nikhil-Nandagopal  https://share.vidyard.com/watch/uYYdK9W3uzGgitjYFu3GwJ? That is a video showing the issue

[2022-05-20 11:09] Nikhil-Nandagopal commented on #13976
@hiteshjoshi @ankitakinger @sharat87 is this because of the reply-to issue? This flow still seems very broken

[2022-05-20 11:13] Nikhil-Nandagopal commented on #13930
@PaulMcF1987 the value "Dedicated multidrop" is not there in the options of the multi tree select

[2022-05-20 11:18] sbalaji1192 commented on #5445
@shadabbuchh #1 is not related to the Table widget. it's a general behavior in the application. We need to improve the autocomplete system to switch to square brackets when the identifier has invalid characters. please create a separate issue if we don't have one.
#2, It's also expected. we trim the space because identifiers cannot have space.

[2022-05-20 11:18] PaulMcF1987 commented on #13930
@Nikhil-Nandagopal
At 1:40 you will see me pointing this option out in the multi tree select.

[2022-05-20 11:23] Rishabh-Rathod opened #13982 "[Task]: Optimise allKeys generation and revisit getAllPaths logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

1. Currently we generate allKeys in `updateDependencyMap`. This is an expensive logic and we could avoid this by tracking differences and adding/removing paths from allKeys accordingly.
    - [ ] Make sure to run `getAllPaths` only in `createDependencyMap`

2. Current `getAllPaths` generate paths to

[2022-05-20 11:41] Nikhil-Nandagopal commented on #13930
@PaulMcF1987 looking even closer at 1:04. In the evaluated value, I can see that Dedicated Multidrop has an additional " in front of it. My guess is you are sending the quotes in the query params which is causing this. Are you trying to send the array in the query params? That might be the problem. You can try to store it using storeValue instead and then read it using appsmith.store.Param or seri

[2022-05-20 11:53] PaulMcF1987 commented on #13930
@Nikhil-Nandagopal The reason it has the Quotes infront of it is beacuse it is usually stored as`["Dedicated Multidrop"]`

I used a function which removed the `[]` but kept the  `""`

I have removed the function which now presents it as `["Dedicated Multidrop"]` and also picks it up in the next page...

Is there a way to remove both the [] and "" and still have it work as it should?

[2022-05-20 11:56] Nikhil-Nandagopal commented on #13930
@PaulMcF1987 so if it's an array type, what you can do is pass it as
{{ navigateTo('Page', Table1.selectedRow.column.join(",")) }}

This way it will be sent as a string instead of an array

[2022-05-20 11:57] somangshu commented on #13627
@dilippitchika whats the update here

[2022-05-20 12:22] shadabbuchh opened #13983 "[Bug]-[266.5]:Autocomplete doesn't show up in square brackets when the identifier has invalid characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The best match for the auto complete doesn't show up in square brackets when the identifier has invalid characters.
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/492f939257544bb2a641118c2ba0dc7f-00001.gif)](https://www.loom.com/share/492f939257544bb2a641118c2ba0dc7f)

### Steps To Reproduc

[2022-05-20 12:31] arunvjn commented on #10948
@dilippitchika Unable to replicate this in v1.7. Is there an app I could look at where this is breaking ?

[2022-05-20 12:45] ramsaptami opened #13984 "[Bug]: Tooltip of camera widget record button flashes on hover when placed on a modal widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a camera widget is placed on modal and user hovers over the record button, a tooltip appears on the top of the camera widget as seen in the video and blinks on hover. The cursor hovering over the record button flashes as well.

### Steps To Reproduce

1. Drop a camera widget over a modal widg

[2022-05-20 13:11] ashit-rath commented on #13403
This issue is related to [#12708](https://github.com/appsmithorg/appsmith/issues/12708) and the RCA is same. Moving this issue to the JSON form Next steps epic.

[2022-05-20 13:18] ramsaptami opened #13986 "[Bug]: UI issue when pasting a large dataset on URL of API query page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the unlikely event when user pastes a large dataset in the URL of an API query, the UI of the page goes into a bad state instead of retaining it's current structure. Please refer to the video to observe what happens

### Steps To Reproduce

1. Copy paste the response of a query on the URL of an

[2022-05-20 13:32] ramsaptami opened #13987 "[Bug]: Org members popover behaviour needs correction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an organization lists down excess members under `+`, clicking on this icon pops up members list that stays on screen. Hovering over other member bubbles causes them to appear behind this list as seen in the video and the popover does not collapse when the page is scrolled.

### Steps To Repro

[2022-05-20 13:35] sharat87 opened #13988 "[Bug]: Recaptcha not working due to encoding the `=` in the query param"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Recaptcha isn't working after the change in <https://github.com/appsmithorg/appsmith/pull/13548>.

Since the `=` sign after `recaptchaToken` is encoded and so the server doesn't find any `recaptchaToken`.

![Screenshot 2022-05-20 at 18 50 28](https://user-images.githubusercontent.com/120119/169539

[2022-05-20 13:42] ramsaptami opened #13989 "[Bug]: Text on org members bubble overflows when there are more than a 100 members in an organization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 When there are more than a 100 members listed under `+` of an organization, the text overflows the bubble boundary.

### Steps To Reproduce

1. Go to [Appsmith Internal Apps organization](https://app.appsmith.com/applications#appsmith-internal-apps) and observe the `+105` spill over from its boun

[2022-05-20 13:46] ramsaptami opened #13990 "[Bug]: Error icon on query page is truncated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Error icon on query page is truncated

### Steps To Reproduce

1. Run any query such that it returns an error and observe the debugger for a truncated icon as seen in the image below

![image](https://user-images.githubusercontent.com/79509062/169541500-dfb4c367-5263-4764-a098-40092257a85c.png)

#

[2022-05-20 13:57] #9646 closed

[2022-05-20 13:57] #12320 closed

[2022-05-20 14:02] rohitagarwal88 opened #13992 "[Bug]: Wrong tooltip text in theme property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Wrong tooltip message is shown on hovering the border-radius and box-shadow

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b55bbe7aa3804e9689f7f4c4c46b9d1f-00001.gif)](https://www.loom.com/share/b55bbe7aa3804e9689f7f4c4c46b9d1f)

### Public Sample App

_No response_

[2022-05-20 14:03] ramsaptami opened #13994 "[Bug]: Error message is incomplete on the debugger when user denies running a query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When query run is declined by user, then debugger displays partial information which does not convey the right information. This needs to be enhanced.

### Steps To Reproduce

1. Set any query to run on page load with user confirmation
2. Refresh page and decline query run on user confirmation mod

[2022-05-20 14:23] ramsaptami opened #13995 "[Bug]-[2400]:Text overflows on evaluated value pop-up on a query page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On a query page when the evaluated value displays a long continuous string like a URL, the text overflows on the pop-over as seen in the image below.

### Steps To Reproduce

1. On any query page use a URL param like `appsmith.URL.fullPath` or `Audio1.url` and observe the evaluated value pop-up

!

[2022-05-20 14:34] ramsaptami commented on #11901
Can we also show a loading state/icon when modal widget is taking time to load? UX goes into a grey area while waiting for something to happen between triggering the modal to open and the modal actually appearing on screen.

[2022-05-20 14:36] #8978 closed

[2022-05-20 15:04] akash-codemonk commented on #11745
Blocked by https://github.com/appsmithorg/appsmith/issues/12926

[2022-05-20 17:42] #13342 closed

[2022-05-21 09:24] innomalous commented on #2282
Really hoping the side navbar with the ability to have nested menu items would be added soon. The breadcrumbs would be really nice too.

[2022-05-21 11:28] sidhantgoel opened #13998 "[Bug]: mysqlPlugin tests failing on WSL and Ubuntu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

mysqlPlugin tests fail

### Steps To Reproduce

Run mysqlPlugin tests on WSL on windows
or
Run mysqlPlugin tests on Ubuntu
Tests fail with the following error
`
[ERROR] Tests run: 28, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 139.706 s <<< FAILURE! - in com.external.plugins.MySqlPluginTest

[2022-05-21 13:30] btsgh commented on #13051
Regression Tested the Switch Group Widget. Works fine. No issues found.

[2022-05-21 15:46] ohansFavour opened #14002 "[Bug]: App crashes when content of JS Editor is very large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

App crashes when a large JSON is pasted into JS Editor

### Steps To Reproduce

Paste a very large JSON into a js object function, App crashes.

NB: This is not reproducible on all machines

### Public Sample App

_No response_

### Version

Cloud

[2022-05-21 17:09] sumitsum opened #14003 "[Bug]: Postgres plugin: allow connection without password"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently Postgres plugin does not allow connection without password. We need to check if the Postgres DB allows a user to connect without password and if so, then Postgres plugin should allow such a connection as well.

### Steps To Reproduce

1. Create new postgres datasource.
2. Click on `Test`

[2022-05-21 17:10] sumitsum opened #14004 "[Task]: SaaS plugin: create JUnit TC for SaaS plugin executor class"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently SaaS plugin does not any test cases. Need to add JUnit TC on the lines of other plugins.

[2022-05-21 17:16] sumitsum opened #14005 "[Bug]-[350]:Log Tab (Debugger)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently the `Log` tab on the query execution page shows the record of all action executions or events along with a timestamp but the time shown does not have AM / PM qualifier - hence it can become confusing for the user to figure out if a query was run at x hrs in the morning of the evening. Tw

[2022-05-21 17:19] sumitsum opened #14006 "[Feature]-[10750]:provide a way to kill / stop query execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently if I click on the `run` button on query config page and if the query gets takes a long time to return, then there is no way for me to stop the current execution and re-run the query - except to either wait for the query to time out or refresh the page.

### Why should this be worked on?

Bet

[2022-05-21 17:22] sumitsum opened #14007 "[Bug]-[350]:Debugger logs not getting updated in time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Sometimes when a query is executed and a response is received, then even though the query execution has completed the `Log` tab does not show the log for the latest query run. It takes 5-10 sec to update, sometimes longer.

### Steps To Reproduce

.

### Public Sample App

_No response_

### Versi

[2022-05-23 00:40] ry-TU commented on #13882
@dilippitchika we've been using the rich text editor to create instructions or guidelines for our users, the default config mostly gives us what we want however as we update our guidelines to be more effective, we want to have some toggles to show/hide content on it and [summary](https://www.w3schools.com/tags/tag_summary.asp) HTML tag is one way to do it without needing of any custom JS or plugin

[2022-05-23 03:35] arunvjn commented on #13109
Moving this back to product backlog till the designs are ready.

[2022-05-23 04:04] vuiets commented on #13624
@hiteshjoshi bumping this back to `High` because in the scenario that @RakshaKShetty has raised, we can't perform the discard. We are categorising any flow that doesn't break the app but breaks nevertheless as `High` impact for the time being.

The  [impact](https://www.notion.so/appsmith/Applying-RICE-for-prioritization-08c2a3cf3e2a4bd291e68a0236664ad2#962e0b57432242f1ae9f7773227bb985) section on

[2022-05-23 04:17] sharat87 commented on #13976
@Somashekar-B, can you share logs from the `logs/backend/backend.log` file in your stacks folder please?

@Nikhil-Nandagopal, sorry, which reply-to issue? Can you provide a pointer or more details please? Also, have we been seeing more errors in this flow? I'm not aware this flow is considered broken.

[2022-05-23 04:24] sharat87 commented on #12433
@jnikhila, I think this is merged. If not, can you share a link to the changes that need to be reviewed. Please include a link to the GitBook PR so I know what to review and if it's still waiting for a review. Thanks!

[2022-05-23 04:30] sharat87 commented on #13372
@nayan-rafiq, I _think_ the idea here is that the FE sends the crash data to the BE, and the BE then makes the analytics call _on behalf_ of the FE. This is so that ad-blockers don't block the crash report.

[2022-05-23 04:45] dilippitchika commented on #13882
Hey @ry-TU thanks for the additional context, this helps me understand a bit of why you are doing this. A few questions -
1. Are these instructions/guidelines editable by your user? Or are they just for reading, because if they are instructions i believe they should never fully disappear and keeping it in a text editor is confusing, please correct me if I am wrong.
2. If the instructions are non-e

[2022-05-23 04:54] dilippitchika commented on #13979
Assuming 60% of table users, (updated order - 90%, sorted an updated column - 70%)

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4869 |
| Effort (months)  | 0.5 |

[2022-05-23 05:00] dilippitchika commented on #13946
@pranavkanade why is the table not wired fully? Clicking on previous from page 3 to go to page 2. It shows data from page 1, this sample app is not fully built out.

@Tooluloope will you be able to investigate the list part here? I think there's a problem with server side pagination here.

[2022-05-23 05:02] dilippitchika commented on #8749
[Shared by the user in discord](https://discord.com/channels/725602949748752515/760761686549463060/976905237103276134)

![image](https://user-images.githubusercontent.com/19730984/169746933-465b9854-4726-4815-b829-5ac21e99ab62.png)

[2022-05-23 05:03] dilippitchika commented on #13627
Waiting for some user research here. We want to see smartlook and understand the behavior better before proposing a change.

[2022-05-23 05:09] dilippitchika commented on #10948
Looks fixed now, closing this

[2022-05-23 05:09] #10948 closed

[2022-05-23 05:13] dilippitchika commented on #11901
Agreed with Saptami's suggestion. Is there something we can do to communicate data is still loading?

[2022-05-23 05:19] btsgh commented on #12329
@arunvjn - unable to reproduce it on the current environment. Looks like it has been indirectly fixed.

[2022-05-23 06:02] vivekverma2312 opened #14012 "[Task]: Test Plan Table v2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Inline Editing :
Basic test case - https://github.com/appsmithorg/TestSmith/issues/1741
UI test cases - https://github.com/appsmithorg/TestSmith/issues/1749
Negative test cases - https://github.com/appsmithorg/TestSmith/issues/1750
Boundary validation - https://github.com/appsmithorg/TestSmith/issues

[2022-05-23 06:02] Pranay105 commented on #12433
@sharat87 @jnikhila it is merged.

[2022-05-23 06:02] #12433 closed

[2022-05-23 06:06] #10635 closed

[2022-05-23 06:11] Nikhil-Nandagopal commented on #11901
Let's not take the focus away from the real problem. The modal has to open as soon as a user selects it. The time between a user interaction and the UI responding has to be < 100ms

[2022-05-23 06:13] berabhishek commented on #776
I would like to pick this up

[2022-05-23 06:19] NandanAnantharamu opened #14013 "[Bug]: After grouping 2 widgets the widget position is getting changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

2 widgets where grouped and the expectation was post grouping the position of the widget shouldn't change, in this case it has changed and test has failed.

<img width="1439" alt="Screenshot 2022-05-23 at 11 44 23 AM" src="https://user-images.githubusercontent.com/67676905/169755070-f0f4adb4-3d20-

[2022-05-23 06:49] ankitakinger commented on #13976
@sharat87 I think @Nikhil-Nandagopal is pointing to [#13853](https://github.com/appsmithorg/appsmith/issues/13853). Let's wait for the logs from @Somashekar-B.

[2022-05-23 06:59] #12329 closed

[2022-05-23 07:00] jnikhila commented on #13973
@vihar - Could you please take a look at this?

[2022-05-23 07:09] Nikhil-Nandagopal commented on #13372
@sharat87 I don't think we should do that. There's a generic way to solve that using segment and we don't need to manually piple this event

[2022-05-23 07:11] Nikhil-Nandagopal commented on #13946
@dilippitchika this is because we don't have a way to disable pagination buttons so when an empty page is detected. It's the same as starting from scratch. This is necessary for cursor based pagination

[2022-05-23 07:12] prapullac commented on #10545
Instance is been provided for testing hence verified and closed

[2022-05-23 07:13] prapullac commented on #10550
Verified on instance provided

[2022-05-23 07:19] btsgh opened #14015 "[Bug]: Border Radius does not get applied to the Select All option of Checkbox Group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I add a Select All option to the Checkbox Group widget, and try changing the Border Radius to sharp/ or fully rounded, it does not get applied to the Select All checkbox.

Expected Behaviour-
The Border Radius should get applied to the Select All checkbox as well.

### Steps To Reproduce

1.

[2022-05-23 07:26] sharat87 commented on #13976
In that case, @Somashekar-B, can you also share your email configuration please, particularly `APPSMITH_REPLY_TO` please? Please remove sensitive information before sharing here. Thank you.

[2022-05-23 07:31] rahulramesha commented on #14013
@NandanAnantharamu, I am unable to reproduce this. The test seems to be passing consistently in my local on latest release code. Also imported the dsl into an App and grouped them it seems to be working as expected. Please let me know if there is a way to reproduce this.

[2022-05-23 07:32] vivekverma2312 opened #14016 "[Bug]: Scroll for select widget is not proper in view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/48a6450abbfb47b9a4f65e0c37086fdb

### Steps To Reproduce

1. Create new API
2. Run the API
3. Click on select widget from the suggestions
4. Now deploy the app
5. Observe that scroll is not smooth

### Public Sample App

_No response_

### Version

Cloud

[2022-05-23 07:32] Somashekar-B commented on #13976
Sorry i have been working on server hosted by the company and i dont have access to it..

[2022-05-23 07:35] dilippitchika commented on #2282
Hey @innomalous thanks for the info. What do you think is the biggest problem you face in the current navbar on top?

Like is it's not the usual position the app users are comfortable with, or it's just too many pages so it's hard to navigate using the top menu etc. Any info would help us a lot.

[2022-05-23 07:46] dilippitchika opened #14017 "[Feature]: Redirect to website home instead of appsmith home on watermark"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

On clicking the appsmith watermark on a deployed application it redirects to appsmith home today (app.appsmith.com or the relevant homepage url for self hosted), it should instead redirect to https://appsmith.com our website for the app viewers to know more about who we are.

### Why should this be wo

[2022-05-23 08:02] sharat87 commented on #13976
@Somashekar-B, I see. Then I'm guessing there's a separate team that deployed Appsmith on this server, right? So, in that case, is the email configuration done using the Admin Settings from the UI? Then can you confirm if the `Send Test Email` button sends the email correctly?

Also, is it possible to get the `docker.env` file from the server and verify the `APPSMITH_REPLY_TO` value please? You do

[2022-05-23 09:19] NandanAnantharamu commented on #14013
@rahulramesha the latest release even i am not able to reproduce, you can close this

[2022-05-23 09:22] somangshu opened #14019 "[Bug]-[62]:RTE error highlight includes the label element"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The RTE widget error highlight is on both the component and label. Whereas it should only be on the input component.

While fixing this we need to find the same for any I/O widgets with label.

<img width="1508" alt="Screenshot 2022-05-20 at 15 34 59" src="https://user-images.githubusercontent.com

[2022-05-23 09:24] innomalous commented on #2282
Hi @dilippitchika, I feel the biggest issue, for now, is the inability to group them (to create nested menu items).
Also, if the app may have too many pages - it gets cluttered.

The side navbar offers a more contemporary UI as is prevalent in most backend apps of the day.
I think the ability to choose a position - top or side, will be great!

[2022-05-23 09:26] shadabbuchh opened #14020 "[Bug]: No option for user to erase selections made in TreeSelect widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As of now the user does not see the `X` option in the `TreeSelect` widget so that they are able to erase all the selections made in the widget. This option is present in both `Select` & `MultiSelect` widgets.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/41a2e5b4b2914746a78c381ff03b08a0-0

[2022-05-23 09:36] rimildeyjsr commented on #776
@berabhishek - Hey, thanks for your interest in working on this issue! I have assigned this issue to you, and you can refer to this document to get an overview of how you would work on this issue!

https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/GlobalFunctions.md

Feel free to ping in case you have any queries!

[2022-05-23 09:37] somangshu commented on #2410
Hey @orenab1, thanks for showing your interest here. This widget is not yet planned to be developed. However I have a demo [here](https://app.appsmith.com/applications/6138fbeddd7786286ddd4df1/pages/6138fbeddd7786286ddd4df3), which might let you create an alternate solution. Do check this out and let me know what are your thoughts, The context you provide will help us triage this issue in order to

[2022-05-23 09:49] yatinappsmith opened #14021 "[Bug]: App import fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

App import fails
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e5234c593bdf49ee9815e39768bd83c6-00001.gif)](https://www.loom.com/share/e5234c593bdf49ee9815e39768bd83c6)

### Steps To Reproduce

1. import attached app fil
[Habitasaurus (3).zip](https://github.com/appsmithorg/appsmith/files/

[2022-05-23 09:51] prapullac opened #14022 "[Bug]: GraphQL issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

#### Server Side Issues

- [x] On wrong API being run shows an empty error message
- [x] On empty body or wrong request the  error message is empty
- [x] Without the Query variable the API is non-functional ([![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/0cee4c43650542eba3f46d8adaeaed41-000

[2022-05-23 09:55] btsgh opened #14023 "[Feature]: Organization Name should be easily editable."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

At present, the user has to click on the three dots on the right end of the Organization, next to the New Button, and click on the Org name or the Pencil icon, to edit the org name.

Expected enhancement:
The Organization name should be editable on clicking the Organization on the Apps tab itself

###

[2022-05-23 10:01] keyurparalkar opened #14024 "[Task]: Create a POC for implementing a library for design system"
### Motivation

* To implement a POC that will help to package our components via `npm`.
* This POC will act as a library for the new design system for the platform and the widget level.

### Requirements

The requirement is to create a simple project that would help to package the components that are developed for the Appsmith's platform and on the widget level. A user should be able to do the fo

[2022-05-23 10:01] orenab1 commented on #2410
Hi, since I've written that post, I realized I don't actually need a
calendar.. I've also sticked with my Angular/.NET Core application..
But I'll definitely consider AppSmith next time.

Thanks!

On Mon, May 23, 2022 at 12:38 PM Somangshu Goswami ***@***.***>
wrote:

[2022-05-23 10:55] shadabbuchh opened #14026 "[Bug]-[372]:Header node checkbox of a MultiTreeSelect widget does not display properly on hovering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon hovering over the header node of a `MultiTreeSelect` widget when not all child nodes are selected, a small line appears inside it.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/12ba5d3567ee46fc88a68942ead4c236-00001.gif)](https://www.loom.com/share/12ba5d3567ee46fc88a68942ead4c236)

[2022-05-23 11:09] shadabbuchh commented on #14020
User gets an option to erase the selections made upon enabling the `Clear all Selections` property. Closing this issue

[2022-05-23 11:09] #14020 closed

[2022-05-23 11:20] Irongade commented on #13464
After debugging, this issue is not reproducible and the misconceptions about its operation has been cleared.

[2022-05-23 11:20] #13464 closed

[2022-05-23 11:24] AmanAgarwal041 commented on #14022
@prapullac  Can you add a screenshot of the UI related issues. It would be helpful.

Answer to the query `User can add API directly without Datasource by editing the API` :    No, user will have to create a datasource before adding any Graphql API.

[2022-05-23 11:31] rohan-arthur opened #14027 "[Bug]: buttonColor error on a table without actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I've added a table bound to a gsheet query. This table does not have any buttons, but I see the following error:
![Screenshot 2022-05-23 at 15 42 29](https://user-images.githubusercontent.com/94514895/169810082-2cc5a2bb-d8f6-43f3-8831-39203f7d1bda.png)

### Steps To Reproduce

1. new app, new page

[2022-05-23 11:56] prapullac commented on #14022
![Screenshot 2022-05-23 at 10 23 04 AM](https://user-images.githubusercontent.com/71753653/169813706-1cb68400-7f72-4ad1-b1bf-cffb7f5b76b6.png)

[2022-05-23 11:59] vivekverma2312 opened #14028 "[Bug]: Cyclic dependency when copy paste list widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/2f12ca97faca44e983daa3f8700f0787

### Steps To Reproduce

1. Drag and drop a List widget
2. Bind with query
3. Copy/paste the List widget
4. Observe the cyclic dependency error is displayed

### Public Sample App

_No response_

### Version

cloud

[2022-05-23 12:02] rohan-arthur opened #14030 "[Bug]: generate CRUD doesn't work on GSheets UQI DP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. go to http://15.206.147.106/
2. add new app
3. add datasource to gsheets (authorize, etc)
4. add a new page
5. now you see the page that asks you if you want to create with drag&drop or generate from a table. Select the latter
6. Select the datasource as your gsheets datasource
--> now you see

[2022-05-23 12:04] #13606 closed

[2022-05-23 12:09] #14017 closed

[2022-05-23 12:14] rohan-arthur opened #14031 "[Feature]: typeahead feature in gsheets uqi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When I am configuring my GSheets query, I would like to use the type-ahead feature on some dropdowns like `Spreadsheet`, because I might have 100s of spreadsheets, and I would like to find the one I want more easily.

1. go to http://15.206.147.106/
2. add a gsheet query
3. Operation: "Fetch Many"
4.

[2022-05-23 12:15] rohan-arthur commented on #14031
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2100 |
| Effort (months)  | <<number>> |

[2022-05-23 12:29] shadabbuchh commented on #12321
Some more issues:

1. On clicking a link in the RTE, the user is not redirected to it either on the current window or in a new window. Even while previewing the same thing happens.
https://www.loom.com/share/9c06cf1915e34b58a77767682233205e
2. Why do we have 2 text colour background colour pickers?
![Screenshot 2022-05-23 at 5.11.20 PM.png](https://images.zenhubusercontent.com/6278b12bad578328630b

[2022-05-23 13:17] sidhantgoel opened #14033 "FIX: Test cases are not recognized by Visual Studio Code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Test Cases are not recognized on Visual Studio Code because of naming convention issues

### Why should this be worked on?

Visual Studio Code is popular IDE and since this is an open source product we should let user use his own choice of IDE, one that they are familiar or comfortable with.

[2022-05-23 13:37] Nikhil-Nandagopal commented on #4630
@billyrudi @cverdes @pierredewilde Hey we're now researching this feature. Would either of you be interested in doing a user interview with us about this? You can find a time on my calendar below if you'd like to participate
https://calendly.com/appsmith-nikhil/30min?back=1&month=2022-05

[2022-05-23 15:40] felixsuarez0727 opened #14035 "Fix the problem with Twilio Account SID, they have to write in two places - Twilio Integration"
Rohan suggest when creating a query, why do I need to provide the “Twilio Account SID” when I have already specified it in the datasource?

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/d88f9e44-3cef-46c2-b5c3-6f2af49046a2)

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/98e1e418-3fd6-4ca6-bebb-3b9828f490a4)

We should investigate if the v

[2022-05-23 19:13] Soheilafsha opened #14036 "[Docs]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

در حال کاوش

### Describe the problem

در حال کاوش و یادگیری هستم، ببخشید اگر ناخواسته خرابکاری انجام میدهم 🙏🏻

### Describe the improvement

در حال کاوش

[2022-05-23 19:13] #14036 closed

[2022-05-24 01:50] ry-TU commented on #13882
@dilippitchika

To answer your question, No it will not be editable by our users but our content editor will but also our content editor dont have edit app access they're just the using it.

Sorry for confusion but I should told this earlier, we built an appsmith app as an admin application that has rich text editor to edit guidelines/instructions and that guidelines/instructions is saved in our d

[2022-05-24 04:11] IAmAnubhavSaini commented on #13631
@RakshaKShetty is this reproducible?

[2022-05-24 04:16] shadabbuchh opened #14037 "[Bug]-[876]:User gets an error even when table widget is added from the API page successfully"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the table widget is added successfully from the API page we get to see the below error `The value at primaryColumns.action.buttonColor is invalid`. The API page is still adding the Table widget v1 hence this is a table widget v1 issue.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9f

[2022-05-24 05:07] Somashekar-B commented on #13976
Test Mail its working properly
APPSMITH_REPLY_TO is set to single valid email address

[2022-05-24 05:08] Somashekar-B commented on #13976
May be its not only my problem for you is it working properly..?

[2022-05-24 05:15] sharat87 commented on #13976
Thanks for sharing that. If test mail is working correctly, then your email configuration should be working well. Can you check if those other emails are landing in the spam boxes?

Unfortunately, it's hard to tell what could be going wrong without taking a look at the logs.

[2022-05-24 05:17] btsgh commented on #12291
Tested the new message as per discussion above and all the widgets in the deprecated app shared above. Seems fine.

[2022-05-24 05:17] IAmAnubhavSaini commented on #13631
Not able to reproduce it. Confirmed with @RakshaKShetty. Closing it.

[2022-05-24 05:17] #13631 closed

[2022-05-24 05:22] sentry-io[bot] opened #14038 "TypeError: this._jobList is undefined"
Sentry Issue: [APPSMITH-2H6](https://sentry.io/organizations/appsmith/issues/3263064053/?referrer=github_integration)

[code]

[2022-05-24 05:25] somangshu commented on #10037
@yaldram is this issue going to be closed now?  Can you please post an update?

[2022-05-24 05:26] yaldram commented on #10037
@somangshu was waiting for the Q/A will merge it.

[2022-05-24 05:31] RakshaKShetty opened #14039 "[Bug]: git-status changeset is not shown on deploy tab if user switches from merge tab to deploy tab before the API call finishes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The deploy tab will be in a disabled state when user moves from merge to deploy tab before the API call finish
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b6d4243fa74a444a8853c40103766bf0-00001.gif)](https://www.loom.com/share/b6d4243fa74a444a8853c40103766bf0)

### Steps To Reproduce

1.

[2022-05-24 05:32] shadabbuchh commented on #5445
This issue has been resolved and is working fine. Tested the below in DP:

1. Non-ASCII characters in column names.
2. Non ASCII characters inside cells.
3. Column names staring with a space or a Non-ASCII character
4. Data in cells starting with Non-ASCII characters and numbers
5. Data in cells starting with a space.

Moving it to `Done`.

[2022-05-24 05:34] jnikhila opened #14040 "[Docs] : Update - Image Widget"
[Refer to the thread on Slack](https://theappsmith.slack.com/archives/C01CFTXD0N8/p1653340422893379)

Add details on using SVG Support to the [Image widget](https://docs.appsmith.com/widget-reference/image).

[2022-05-24 05:37] jnikhila opened #14041 "[Docs] : How-To Guide - SVG Images for Image Widget"
Refer to the [slack](https://theappsmith.slack.com/archives/C01CFTXD0N8/p1653340422893379)

Add a how-to guide for SVG images using an [image widget](https://docs.appsmith.com/widget-reference/image).

[2022-05-24 05:42] Rishabh-Rathod commented on #12078
Ideally, we should make sure that if users' application goes into a cyclic dependency issue. We still send correct values to `dataTree` and widgets do not crash but instead, stay in the older valid state.

@wmdev0808 Does the widget receives unexpected values in props?

[2022-05-24 05:53] btsgh opened #14042 "[Bug]: File-picker button still shows old value in the following scenario"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When, in a file picker, I bind the visible property of the widget to a checkbox. Now, on deploy, I choose say 5 files. Then uncheck the visible property.. The file-picker disappears.. Now, when I check the visible property checkbox, the file picker button still reads as 5 files selected, but in th

[2022-05-24 05:58] bufsim opened #14043 "wrong dropdown menu with on select [Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

the drop-down menu of the select widget has an incorrect width when the label position setting is "top"

### Steps To Reproduce

create a new select widget, set the label position to top. the options in my case are the result of a query

### Public Sample App

_No response_

### Version

self host

[2022-05-24 06:03] bufsim commented on #14043
addendum.. dropdown menu width depends  on the width of the label

[2022-05-24 06:19] jnikhila opened #14044 "[Docs] : Update - FAQs with Pricing Questions"
Add Pricing FAQs to [FAQ docs](https://docs.appsmith.com/faq).

The exhaustive list of questions is available on [Notion](https://www.notion.so/appsmith/Pricing-page-FAQ-7c7ecabd14e143aea5a7a83ab16a11a9).

[2022-05-24 06:23] keyurparalkar opened #14045 "[Bug]: RTE Widget's values are not getting reflected in the google sheet"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

I am facing an issue with the feedback form that I created. The feedback form is simple, there are `3 RTEs inside a FORM widget`. The form is connect to a google sheet query. Please find attached the `json` export for the application.

**Expected behaviour is:** On click of the submit button, the

[2022-05-24 06:35] rohan-arthur commented on #13682
user requested this feature today: https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100112270

[2022-05-24 06:39] riodeuno commented on #12292
@rahulramesha This seems to be caused by the `UPDATE_CANVAS_LAYOUT` redux update. I could see 5 consecutive updates. Could you help triage this?

<img width="280" alt="Screenshot 2022-05-24 at 12 09 11 PM" src="https://user-images.githubusercontent.com/103687/169965070-24eab79f-2c6e-40f6-b536-359ea480f81c.png">
<img width="265" alt="Screenshot 2022-05-24 at 12 09 07 PM" src="https://user-images.gi

[2022-05-24 06:41] kocharrahul7 opened #14046 "[Bug]: App sharing flow for users who don't have an account, trying to access a non-public app is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the following conditions are met:
1. Shared From: App  
2. End user is given a non-public link to the application by the developer.
3. End user does not have appsmith account
4. End user has been invited to the organisation

The following happens:
1. A quick message saying “resource not found

[2022-05-24 07:03] ChandanBalajiBP commented on #13345
Closing this issue as - Icons doesn't have hover state
ref- https://www.notion.so/appsmith/Delete-buttons-next-to-the-Key-Value-pair-don-t-have-a-hover-state-8e172cf282b44ebb8e015cb492a05a85?d=d1aea74bf6af47f9950be61898ab9d5f

[2022-05-24 07:06] shadabbuchh commented on #11243
This issue is resolved. Tested the same in DP and now the user does not get any syntax error if the Column name(s) start with a numeric value.

![Screenshot 2022-05-24 at 12.34.37 PM.png](https://images.zenhubusercontent.com/6278b12bad578328630ba2e7/9bcc5b53-c39d-454b-b483-390b3c791500)

![Screenshot 2022-05-24 at 12.34.51 PM.png](https://images.zenhubusercontent.com/6278b12bad578328630ba2e7/ebfd7

[2022-05-24 07:09] kocharrahul7 opened #14048 "[Bug]: When a new user is shared a private app, they see hard to understand errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an app   end user is given a non-public link to the application by the developer,And
1. the end user has an appsmith account
2. the end user is logged out
3. the end user is not part of the organisation of the developer

After clicking the link the user is sent to Appsmith. A quick message sa

[2022-05-24 07:09] IAmAnubhavSaini commented on #14021
I am able to import the application.

https://user-images.githubusercontent.com/1573771/169970026-fe1fbddc-8e86-40bd-a8c3-da59c462e760.mov

https://user-images.githubusercontent.com/1573771/169970103-caf4e236-ed09-42ab-8c8a-33f566901a35.mov

[2022-05-24 07:41] ChandanBalajiBP opened #14049 "[Task]: UI inconsistency in API pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Update API pane as per the design - [Figma](https://www.figma.com/file/GuqV8Or2PStpE3rTknsDzk/API-Pane-Improvements?node-id=679%3A29118)

1. [Inconsistent behaviour in API pane](https://www.notion.so/appsmith/870d3c54354d460f9a90457ce6d7c98d?v=b6dd8044acd346c2a55c9d2b925bc454&p=cf9c8999456f43e7b39

[2022-05-24 07:47] ChandanBalajiBP opened #14050 "[Task]: UI inconsistency in Query pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Update Query pane as per the design - [Figma](https://www.figma.com/file/Qs7p5frNx7uEfVYpADGk0d/Query-Pane-Improvements?node-id=336%3A24331)

1. [Space inconsistencies between tabs, input query box](https://www.notion.so/appsmith/870d3c54354d460f9a90457ce6d7c98d?v=b6dd8044acd346c2a55c9d2b925bc454&

[2022-05-24 07:51] rohan-arthur commented on #13622
another request for this feature: https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100095411

[2022-05-24 08:00] DonRonnon commented on #3071
I create software for the local government and work on proprietary data and should not flow beyond the organization's servers. That's why I'm looking for a solution to export data as pdf, csv, etc. Unfortunately, external solutions are not an option. Please consider increasing the priority for this functionality.

[2022-05-24 08:34] ayushpahwa commented on #11538
Closing this issue since the APIs are now already non blocking.

[2022-05-24 08:34] #11538 closed

[2022-05-24 08:47] rahulramesha commented on #13873
@Nikhil-Nandagopal @rohitagarwal88 @momcilo-appsmith removing permanent labels when errored is an easy task, but should we provide any other indicators for the user to identify the widgets that have errors, without having to hover over them individually. If not i can go ahead with the changes.

[2022-05-24 08:55] Aishwarya-U-R opened #14054 "[Bug]: Ability to desc/describe table in MySQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**Simply desc command does not work:**
<img width="540" alt="Screenshot 2022-05-24 at 2 08 41 PM" src="https://user-images.githubusercontent.com/91450662/169991628-ebb2d6d1-a0a3-474f-9de9-546e65f7e476.png">

**It works only if select is appended:**
<img width="1025" alt="Screenshot 2022-05-24 at 2

[2022-05-24 08:56] rahulramesha commented on #12292
@riodeuno @rohitagarwal88, looks like @jsartisan has already raised a PR fixing this and it looks to work really well, without any jitters. https://github.com/appsmithorg/appsmith/pull/13917

[2022-05-24 08:58] dilippitchika commented on #13882
Oh, i understood it now. Thanks for the additional context!

[2022-05-24 09:24] harshilp24 opened #14055 "app data inside kubernetes"
https://docs.appsmith.com/setup/kubernetes

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100110897

We need to add info on :

Where will the data be saved when we deploy the container to Kubernetes?"

﻿When we deploy appsmith on a aws/eks cluster these are the sequence of steps.
﻿
﻿- we use EFS(like docker volume) to store the 'stacks' directory.
﻿- We create a PV(p

[2022-05-24 09:29] Aishwarya-U-R opened #14056 "[Enhancement]: CRUD >> JSON From | Ability to identify Table column datatype & Autoselect JSON form field types accordingly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

JSON form to Auto Select 'MultiLine input' type for a column with datatype varchar(50) or more to accommodate more text:
<img width="1078" alt="Screenshot 2022-05-20 at 11 59 07 AM (1)" src="https://user-images.githubusercontent.com/91450662/169998348-6ab1fc96-18be-402e-a27b-ddbb70823e1b.png">
<im

[2022-05-24 09:43] Nikhil-Nandagopal commented on #13873
@rahulramesha the debugger shows the errors and they will show on hovering the widget so i think that is good enough

[2022-05-24 10:00] btsgh opened #14057 "[Bug]-[110]:Table widget - for Default Row Height set as Short - Vertical Alignment working is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When in Table widget, I set Default Row Height as Short, and try aligning (using Vertical Alignment property) up, the text aligns down, and vice versa.

### Steps To Reproduce

1. Add Table widget to the canvas.
2. Set Default Row height as Short
3. Now try the Vertical Alignment property.

When A

[2022-05-24 10:08] dilippitchika commented on #14019
Fix - Only show the red border on the editor and not the label

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 62 |
| Effort (months)  | 0.5 |

[2022-05-24 10:12] dilippitchika commented on #13882
Assuming only 5% of RTE users need this feature

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 17 |
| Effort (months)  | 0.25 |

[2022-05-24 10:30] Rishabh-Rathod commented on #14045
https://github.com/appsmithorg/appsmith/pull/9889/files#r880333079
[@Tolulope Adetula](https://theappsmith.slack.com/team/U0212ERTFH7) seems like we added debounce ( custom implementation ) of 1000 ms for Rich text Editor?
Can you please share why was that added, seems to me the above issue which [@Keyur Paralkar](https://theappsmith.slack.com/team/U02MNT4GKMF) is facing is due it that.
To verify

[2022-05-24 10:46] btsgh commented on #12823
@dilippitchika - took a look at the PR discussion... sounds good (Late response as was on leave last week)

[2022-05-24 10:54] dilippitchika commented on #12321
**BUG** We have 2 text colour background colour pickers

**BUG** We have inconsistent behaviour when formatting in tiny mce and formatting in our widget
Loom videos for reference -
1. `https://www.loom.com/share/00961944577444d292abdf3e2c4708c0`
2. `https://www.loom.com/share/833ebfc5e1f14cc0bff983e28d19d796`

Not bugs
1. On clicking a link in the RTE, the user is not redirected to it either on th

[2022-05-24 10:58] sumitsum commented on #13786
Final design mentioned here: https://www.notion.so/appsmith/Summary-of-meeting-on-20-05-2022-e5b039bd0eae4ee79e8376a27d265857

[2022-05-24 10:58] #13786 closed

[2022-05-24 10:59] sumitsum commented on #13832
Hosted at http://15.206.147.106/

[2022-05-24 10:59] #13832 closed

[2022-05-24 11:14] ajinkyakulkarni opened #14060 "[Epic]: Cyclic Dependency Fixes"
### Objective

Solve the cyclic dependencies issues at an architectural level so that they don't happen again and provide users a way to resolve them themselves without needing to reach out to the support team.

### Success Metrics

| Metric         |
| -------------- |
| <50 unique errors in a month([report](https://mixpanel.com/project/2032485/view/178891/app/insights#~(columnWidths~(bar~())~dis

[2022-05-24 11:20] somangshu commented on #12939
We are talking this improvement in #13112, it will be tracked there, closing this for now

[2022-05-24 11:20] #12939 closed

[2022-05-24 11:27] chandannkumar opened #14061 "[Bug]-[6]:Default value on Phone Input type field is not same as Phone Input widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Expected: The fixes done on Individual widget should have a fix for JSON form field type as well to provide consistency.

Current behavior: The default value of Phone Input type field in JSON form is **John Doe**
refer #13618

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/866865cec6d442f4a

[2022-05-24 11:31] rohan-arthur commented on #13515
Also see conversation here: https://theappsmith.slack.com/archives/C0341RERY4R/p1653040742188789?thread_ts=1653040742.188789&cid=C0341RERY4R

[2022-05-24 11:31] harshilp24 opened #14062 "Heroku deployment errors"
"It was looking that everything works but I am not able to get into the ""settings"" part as an admin. I have a lot of errors in the log some related to the amount of memory and some related to missing files. Any ideas ? Error R14 (Memory quota exceeded) - this is one of the errors."

[2022-05-24 11:37] techbhavin commented on #13885
@dilippitchika  @Tooluloope

to enable spellcheck pro is available only for [paid TinyMCE subscriptions](https://www.tiny.cloud/pricing/).

refer link below
https://www.tiny.cloud/docs/tinymce/6/introduction-to-tiny-spellchecker/

[2022-05-24 11:44] dilippitchika commented on #12321
@shadabbuchh can you replicate the first issue mentioned comment mentioned by Abhinav? I was unable to reproduce it clearly.

[2022-05-24 11:50] ashit-rath commented on #13885
@techbhavin We are not enabling the spellcheck pro here. We are just enabling the browser spell check and modifying the context menu (when we right click) to show a small instruction on how to open the browser's right click menu.

Check this out -> https://fiddle.tiny.cloud/gohaab/10

<img width="679" alt="Screenshot 2022-05-24 at 5 17 23 PM" src="https://user-images.githubusercontent.com/88306433

[2022-05-24 11:53] dilippitchika commented on #14061
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3 |
| Effort (months)  | 0.25 |

[2022-05-24 12:01] dilippitchika commented on #14056
@Aishwarya-U-R  did not understand this line - Expected: To make this column required true to comply with the table structure from UI

[2022-05-24 12:04] Aishwarya-U-R opened #14063 "[Enhancement]: CRUD >> JSON From | AutoGenerated queries to be corrected incase of a TextType Primary column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**Update query - also trying to set the Primary Column:**
<img width="1071" alt="Screenshot 2022-05-24 at 12 28 50 PM" src="https://user-images.githubusercontent.com/91450662/170029645-91f05392-67fb-4e56-99d7-0c420109862b.png">
**Insert query - inserting Primary column twice:**
<img width="589" al

[2022-05-24 12:13] dilippitchika commented on #14042
Valid issue, happens when the filepicker is hidden. Unsure about reach, but assuming people who have marked filepicker's isVisible. Looking at data where it's js controlled i found roughly 10 unique values where this can happen

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10 |
| Effort (months)  | 0.5 |

[2022-05-24 12:17] dilippitchika commented on #14037
Similar to issue found in JS form's first binding which is also a debugger error #12894

Adding this to actions pod plate

[2022-05-24 12:21] sumitsum commented on #2284
Meeting updates:
- server side implementation for cursor pagination - @sumitsum
- design for pagination tab - @parth-appsmith
- start thinking about smart substitution implementation for query body - @sumitsum
- smart substitution toggle - one vs two toggles - @parth-appsmith @rohan-arthur @sumitsum
  - share RFC - @rohan-arthur @sumitsum
- create test cases for GraphQL client code and work on pag

[2022-05-24 12:22] dilippitchika commented on #14026
Good catch @shadabbuchh

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 186 |
| Effort (months)  | 0.25 |

[2022-05-24 12:42] shadabbuchh commented on #12321
@dilippitchika this is what I could replicate:

- Linebreaks don't show up both in the Text Widget as well as the RTE widget.
- After introducing line breaks, the hyperlinks change.

https://www.loom.com/share/0ce0db441dc74cc2992127fc55663ca5

Not sure what Abhinav meant by `The HTML formatting stops working after a few modifications`.

[2022-05-24 13:44] Aishwarya-U-R commented on #14056
@dilippitchika - I mean - if this column is created as NOT NULL in the table, then the corresponding field in JSON form also should be automatically set to Required true - so that user does not run into the Query error on UI while trying to Update the record without the field but is rather already notified of this field being mandatory with red *!

[2022-05-24 13:52] SatishGandham commented on #13959
- Some widget libraries are already lazy loaded.
- We tried optimising the chunks before, since this improvement will be useful only when the user comes to Appsmith for the very first time, we picked other impactful features. We still have more impactful features at this time.
- We should analyse the problem first, estimate the effort and plan how to split it.

We should use a tool like Madge or o

[2022-05-24 14:00] Irongade opened #14066 "Add documentation for adding Custom widgets by external contributors [Docs]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://discord.com/channels/725602949748752515/760761686549463060/978643283381215242

### Describe the problem

As of today, it is possible for external contributors to add custom widgets, but there's no documentation for the steps they can take to do this. It would be nice to have a docum

[2022-05-24 14:59] #13821 closed

[2022-05-24 15:01] sentry opened #14067 "Error: Cyclic dependency found while evaluating."
Sentry Issue: [APPSMITH-29Y](https://sentry.io/organizations/appsmith/issues/3187138220/?referrer=github_integration)

[code]

[2022-05-24 15:24] ajinkyakulkarni opened #14068 "[Bug]: Api config throwing cyclic dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Api config throwing cyclic dependency - there are 2 problems:

i. Api depends on config & run rather than config & data.
ii. pluginSpecifiedTemplates is not part of all paths hence it depends on its parent which is config resulting in a cyclic dependency

The question is why pluginSpecifiedTemplat

[2022-05-24 15:25] rohan-arthur commented on #14060
see conversation here: https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1651575644166099
notion doc here: https://www.notion.so/appsmith/Cyclic-Dependency-Errors-830aad407e194d27804a764caa92e05c

[2022-05-24 21:52] osloma opened #14069 "[Bug]-[508]:Camera widget bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We can see that when Appsmith is run on an Android, pictures are not having all the quality than the camera on the phone can capture. Also, using iPhone, pictures taken are only a completely black image where nothing can be seen

### Why should this be worked on?

The use case for this is to capture p

[2022-05-24 23:19] dreinon commented on #7454
Hi! Any updates with this? I have a login page that has a login button that redirects to a url that is different in dev and in prod. Since it is not a query but a raw text, I don't have a way to use git sync with this, so I cannot release the login feature to production. Any workarounds?

Thanks 🙂

[2022-05-25 00:29] raphaeltm commented on #7454
I would also love to know if there are any updates on this 🙂  Like @dreinon, it's also preventing me from making use of git sync. In my case we need to change the endpoint for a curl request between environments. Right now we've written some really awkward code to check the url and change the endpoint based on the current app id. It's.... far from ideal 😅

@dreinon the url thing might be something

[2022-05-25 04:44] shadabbuchh opened #14070 "[Bug]: Page update not working in DP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user tries to update the page, an `Internal server error` gets thrown.
DP: https://appsmith-git-feat-table-widget-v2-get-appsmith.vercel.app

### Steps To Reproduce

1. Add google sheets as a data source.
2. Create an API that fetches data form the said google sheet.
3. Bind the API with a Ta

[2022-05-25 05:13] dilippitchika commented on #13913
@Tooluloope this needs some research from you, adding what we need to research and estimate below

Each app has an icon associated with it
![Screenshot 2022-05-25 at 10 40 05 AM](https://user-images.githubusercontent.com/19730984/170184375-d7b09c2b-5768-4345-aa81-5a8bc1d28af6.png)

When we open the app the icon should also be present in the browser's top bar. What we want is the same icon should b

[2022-05-25 05:18] dilippitchika commented on #13862
We are solving this as part of dynamic height, already discussed with ankur and abhinav.

The idea is when label moves to top or left app viewers pod will consume the dynamic height api to adjust the widget boundary and move the other widgets.

[2022-05-25 05:18] #13862 closed

[2022-05-25 05:22] dilippitchika commented on #13807
Assuming 50% of icon button widget users need a tooltip

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 0.5 |

[2022-05-25 05:28] dilippitchika commented on #13806
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2 |
| Effort (months)  | 0.5 |

[2022-05-25 05:29] dilippitchika commented on #13806
@ashit-rath can you triage why this is happening? We can then decide if we want to track it in JSON form stability.

[2022-05-25 05:53] shadabbuchh opened #14076 "[Bug]-[54]:The edge of the last column gets chipped in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the last column (extreme right) of the table widget, if the column is of type URL, then the "visit link"/"new tab" icon is not displayed completely as it gets chipped by the border.
Also noticed if user moves further towards the border, they are not able to click on the link instead the cursor

[2022-05-25 05:57] rohan-arthur commented on #14054
MySQL 6m usage: 215
Apply 25% requirement: 53.5

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 53.5 |
| Effort (months)  | 1 |

[2022-05-25 07:05] yaldram opened #14077 "[Task]: Update Dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update Dependencies showing vulnerabilities in the Dependentbot alerts.
- Merge Pull Requests from Dependent Bot

[2022-05-25 07:12] yaldram opened #14079 "[Task]: Update node version to latest LTS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update node version to the latest LTS i.e. `16.15.0` in the package.json files.
- Update the node version to the latest LTS i.e. `16.15.0` in all the CI files.

[2022-05-25 07:21] sumitsum opened #14080 "[Bug]: seeing build error due to old lombok package version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Seeing [this](https://stackoverflow.com/questions/66801256/java-lang-illegalaccesserror-class-lombok-javac-apt-lombokprocessor-cannot-acce) error due to old lombok package version. We have updated the version in most of the pom files but few pom files still use the old version.
Ref: https://theapp

[2022-05-25 07:23] pratikbgit opened #14081 "[Feature]: sub-navigation in the navbar Top Side & Left Side Bar."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I need this feature because if multiple Menu comes and I have to merge few sub-menu into one main menu then its beneficial for us.

Also I would like to change Orange color to Userdefined color.

### Why should this be worked on?

I Grouping of menu manage in a single menu.

[2022-05-25 07:28] pratikbgit commented on #13901
@Nikhil-Nandagopal

Yes i know did not receive any data but why its return an error

[2022-05-25 07:29] trishaanand opened #14082 "Default user groups for all organizations (Admin, dev and app viewers) to be added with initial values being picked up from the organization members. 3"

[2022-05-25 07:29] trishaanand opened #14083 "Create a user group for instance administrators and create a permission group for instance administration + everything else. 1"

[2022-05-25 07:29] trishaanand opened #14084 "Add migration for all the instance administrators to get added to this user group. 1"

[2022-05-25 07:29] trishaanand opened #14085 "Create and apply the policy for instance administrators"

[2022-05-25 07:29] trishaanand opened #14086 "Migrations for points default user groups & instance administrators. 2"

[2022-05-25 07:30] trishaanand opened #14087 "Think about the hierarchical and lateral permission inheritance for user group permissions and add to the graph. Keep in mind and get clarification on the invite user flow as well and ensure backward compatibility in terms of features wrt to invite flow. 1"

[2022-05-25 07:34] RakshaKShetty opened #14088 "[Task]: Adding testplan for RBAC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-25 07:42] keyurparalkar commented on #13931
@dilippitchika I checked with @jsartisan about this, This issue occurs because the binding value of the button color is not in the following format: `{{Table1.sanitizedTableData.map((currentRow) => (...))}}`. The theming binding should be wrapped up with this special wrapper.

[2022-05-25 07:44] Nikhil-Nandagopal commented on #14081
Hi @pratikbgit , we have this feature tracked here #2282
could you leave a comment there?
You should now be able to configure the color using our theming option

[2022-05-25 07:44] #14081 closed

[2022-05-25 07:48] Nikhil-Nandagopal commented on #7454
@dreinon @raphaeltm you should be able to configure different environments using our git feature now. Once you import a git repo into a new app, it will prompt you to enter new credentials for each of the datasources. This can be used to configure different apps on the same repo to point to different environments. You can then create a staging branch on one app, commit your changes, merge it to a

[2022-05-25 07:48] trishaanand opened #14089 "CRUD for Permission Group Entity 1.5"

[2022-05-25 07:50] trishaanand opened #14090 "Default permission groups (admin, developer, viewer) for all organizations to provide access to all apps within the org 2"

[2022-05-25 07:50] trishaanand opened #14091 "Think about the hierarchical and lateral permission inheritance for all permission groups and add to the graph. 1"

[2022-05-25 07:50] trishaanand opened #14092 "Generate permission groups for all workspaces and add to the repo. (Unsure if we should generate this or use static ones for the default permission groups to ensure that we are not ballooning the repo with unnecessary data). 2"

[2022-05-25 07:52] jnikhila opened #14093 "[Docs] : [How to guide] | Using Git Flow for different environments"
Add documentation for reading environment variables for the datsources - Refer to #7454
 Refer to the[ slack conversation](https://theappsmith.slack.com/archives/C01CFTXD0N8/p1653464991937249).

[2022-05-25 07:55] dreinon commented on #7454
@Nikhil-Nandagopal right, this works really well for datasources, but in my case, since it is a url I use in the navigateTo function, it is not a datasource, it's a simple string, so there is no easy way to use different ones depending on the environment. If there was a URL readonly property for queries we could read, a workaround would be to add the url you want to redirect to as a query, byt tha

[2022-05-25 08:08] dreinon commented on #7454
@Nikhil-Nandagopal thanks! Yeah, as @raphaeltm said, conditionally checking for the app id in the url should do the trick for now.

[2022-05-25 08:10] sbalaji1192 commented on #13336
@techbhavin I have pushed a fix https://github.com/appsmithorg/appsmith/pull/14095. please do the needful.

[2022-05-25 08:27] dilippitchika commented on #13931
@sbalaji1192 is this already something you fixed to support theming in table widget?

[2022-05-25 08:27] Irongade commented on #14066
Closing this issue with the link to the Appsmith Widget development ReadMe. https://github.com/appsmithorg/appsmith/blob/release/contributions/AppsmithWidgetDevelopmentGuide.md

[2022-05-25 08:28] #14066 closed

[2022-05-25 08:49] sbalaji1192 commented on #13931
@dilippitchika Same behavior is happening in Table v2 as well. I will fix this separately.
@keyurparalkar Could you please make the changes in Table v1?

[2022-05-25 08:52] shadabbuchh commented on #9284
Issue is fixed. Evaluation does not fail when keys in the object have spaces.

https://images.zenhubusercontent.com/275993885/5c655537-17ca-447b-a714-5d10fdc8abae/screen_recording_2022_05_25_at_2_20_51_pm.mov

Moving this to `Done`.

[2022-05-25 09:05] SatishGandham opened #14097 "[Epic]: Stabilising and refining the UI performance infra."
### Objective

While most part of perf infra works as expected, it is not very useful because of the following issues. We need to solve the following issues to reach our goals.

- [x] #14351
- [x] #14352
- [x] #14356
- [x] #14353
- [x] #14354
- [x] #14355
- [x] #14350
- [x] #14301
- [x] #14358
- [x] #14357
- [ ] #17359
- [x] #17349
- [x] #17358

### Success Metrics

| Metric         |
| ----------

[2022-05-25 09:36] jnikhila commented on #9548
Setup Appsmith shows up in the search results - though you have to drill down in search results.

[2022-05-25 09:36] #9548 closed

[2022-05-25 09:37] cokoghenun commented on #13877
@harshilp24 I'm not sure if it's a Gitbook issue but it works now

[2022-05-25 09:38] #12291 closed

[2022-05-25 09:40] jnikhila commented on #9965
@abhvsn / @rimildeyjsr - could you please provide more information on what is needed? We do have a how-to guide on [sharing data across pages](https://docs.appsmith.com/how-to-guides/sharing-data-across-pages#sharing-data-via-query-params).

[2022-05-25 09:41] jnikhila commented on #10470
Documentation is available for [Smart JSON Substitution](https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication#smart-json-substitution)

[2022-05-25 09:41] #10470 closed

[2022-05-25 09:46] #12318 closed

[2022-05-25 09:46] #12365 closed

[2022-05-25 09:46] #12903 closed

[2022-05-25 09:47] jnikhila commented on #11747
@AnaghHegde - Could you please [review the existing doc](https://docs.appsmith.com/datasource-reference/querying-mongodb#7.-aggregate) and let us know if anything else is needed to be worked upon as part of this ticket?

[2022-05-25 09:52] AnaghHegde commented on #11747
@jnikhila This does not specifies on how to execute the mongo aggregate command in RAW mode. That is still missing.

[2022-05-25 10:04] #13981 closed

[2022-05-25 10:05] #11199 closed

[2022-05-25 10:08] shadabbuchh commented on #10497
@sbalaji1192 as discussed with you I'll move this issue to `Done` as we are able to reference custom columns with given names. However, I'll raise a separate bug for the above mentioned issue.

[2022-05-25 10:16] parth-appsmith opened #14098 "[Feature]: Being able to insert filepicker uploaded images to Gsheets."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need a way to be able to insert images uploaded by filePicker into google sheet.

### Why should this be worked on?

We currently donot support this.

[2022-05-25 10:24] shadabbuchh opened #14100 "[Bug]-[400]:Names given to custom columns do not reflect while referencing unless the page is refreshed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a user changes the `property name` of a custom column e.g. from `customColumn1` to `Distance`. The new name i.e. `Distance` does not reflect in the app (autocomplete) while binding table.selectedRow.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/80ef0d193dcc47f9a62043ee6dd60c6f-00001

[2022-05-25 10:29] Nikhil-Nandagopal commented on #14098
@parth-appsmith did this come as a user request? GSheets is not a good place for file / image information. You should store it in S3 and upload the link of the file to GSheets

[2022-05-25 10:29] #14098 closed

[2022-05-25 10:47] parth-appsmith commented on #14098
@Nikhil-Nandagopal yes this was a user requested feature on [intercom](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/5269111/conversations/164629100113322).

[2022-05-25 10:51] #13877 closed

[2022-05-25 11:04] harshilp24 opened #14102 "[Feature] Integrate with Salesforce"
The user wants to use Salesforce as a data source.

[Intercom ](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100112115#part_id=comment-164629100112115-14885336224)

| User Story    |
| ------------- |
|  As a user, I want to fetch Salesforce records (contacts, leads, opportunities, reports, accounts) to view and analyze customer data. |
|  As a user, I want to search Sal

[2022-05-25 11:21] AnaghHegde commented on #11747
When we try to query via RAW mode it is hard to find what is wrong especially the syntax. Like the example shown in below screenshot.
![image (4)](https://user-images.githubusercontent.com/12005551/170250440-3da9ae8f-787e-4f21-9234-e1622e2df539.png)

[2022-05-25 11:33] Nikhil-Nandagopal commented on #14098
@parth-appsmith please let them know that they should use S3 and store the link in. GSheets

[2022-05-25 11:33] #13586 closed

[2022-05-25 11:52] Aishwarya-U-R opened #14104 "[Bug]: Multiple 'Error parsing column value' in Console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1702" alt="Screenshot 2022-05-25 at 12 13 13 PM" src="https://user-images.githubusercontent.com/91450662/170255106-63eac578-9dcd-4b65-a675-acf01e84e768.png">

### Steps To Reproduce

1. Create new CRUD page using any data source & its associated table
2. Observe : Multiple errors in co

[2022-05-25 11:54] #13190 closed

[2022-05-25 12:03] danciaclara opened #14105 "[Docs]: Add Input Type property of the RTE widget"

[2022-05-25 12:06] danciaclara commented on #14105
https://theappsmith.slack.com/archives/CGBPVEJ5C/p1653473878841059

[2022-05-25 12:18] Aishwarya-U-R opened #14106 "[Bug]: CURD >> JSONForm | Theming is not applied to Table's 'Delete' & JSONForm's 'Reset & Update' buttons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**New CRUD page - observe the Table's Delete button & JSON From's Reset/Update buttons:**
<img width="1301" alt="Screenshot 2022-05-24 at 2 40 53 PM" src="https://user-images.githubusercontent.com/91450662/170259392-ff744ffe-b612-4dd3-864c-5cf0f7d9e4c3.png">

**As opposed to theming applied on a n

[2022-05-25 13:14] Nikhil-Nandagopal commented on #13901
@pratikbgit because data[0] will be undefined and accessing undefined['id'] is an illegal operation. So here you should either ensure there is always data or add a check for the data being present before you store the value. You can do this by converting it to JS and writing the code as
[code]

[2022-05-25 13:21] Nikhil-Nandagopal commented on #14069
@osloma thank you for the information. We'll debug this and let you know what is going wrong

[2022-05-25 14:09] #13927 closed

[2022-05-25 14:15] felixsuarez0727 commented on #13759
The Default Value is already set as `20`. Updating the Placeholder to `{{ Table1.pageSize }}` as requested by Nikhil.

The changes have been made to the Twilio EngSpec and the Integration (1.2) on the SaaS App.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/b35f7353-d22c-4095-86c0-67f8872d9b4d)

[2022-05-25 14:15] #13759 closed

[2022-05-25 15:22] felixsuarez0727 opened #14108 "Fix respond error when delete an object in HubSpot Integration - SaaS App"
When I try to delete a file or any object using the HubSpot Integration, I
get an error instead of receiving the (empty) body of the 204 responses.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/c3a1c542-db76-4b04-940e-4fc111d26091)

It wasn't like this before. Appsmith now displays an error message "{}".
![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2

[2022-05-25 16:08] #14002 closed

[2022-05-25 17:42] #13926 closed

[2022-05-25 18:41] raphaeltm commented on #7454
@Nikhil-Nandagopal am I understanding from your response that if we connect to a repo AppSmith will add a branch query param? Or is that something you're suggesting we add manually? If it's the former, and it's immutable, that will solve so many problems for me. If it's manual, then it doesn't help me much, since it's pretty much equivalent to our current approach.

On the subject, I remember talk

[2022-05-25 21:04] ame-appsmith opened #14109 "[Bug]-[12]:RegEx Validation Not Working in Input Field of JSON Form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In a **JSON Form**, when using **Regex** on an **Input** field, the field shows as _invalid_, even if the value entered is correct.

![image](https://user-images.githubusercontent.com/101268423/170367427-cb702add-0868-4026-939c-1d5928081dde.png)

### Steps To Reproduce

1. Add a **JSON Form** to t

[2022-05-26 02:20] arunvjn commented on #13850
@nayan-rafiq There will not be a checkbox or a disable autogenerate option on the front-end.
We should continue to autogenerate slugs but also add an additional field (customSlug)at the page level.
If this property is present, we will use it to build URLs and not the auto-generated slug.

[2022-05-26 03:49] #10672 closed

[2022-05-26 04:51] dilippitchika commented on #14043
Hey @bufsim thanks for raising this, i believe there a workaround for it. If you resize the handles to be below the dropdown then this is working as expected. Please let me know if this is not the issue, it would help if you add screenshots.

![Screenshot 2022-05-26 at 10 20 27 AM](https://user-images.githubusercontent.com/19730984/170418343-8569d280-f443-4455-a7c6-40144ceffcad.png)

![Screenshot

[2022-05-26 04:52] #12292 closed

[2022-05-26 04:54] dilippitchika commented on #14043
Assuming 50% users don't resize the dropdown boundary

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 30 |
| Effort (months)  | 0.5 |

[2022-05-26 05:00] dilippitchika commented on #13807
Requirements:
Developer experience
1. Add a new property called "Tooltip" below the Icon field in the Icon button
2. Tooltip is an input field
User experience
1. Hovering on an icon-button shows the tooltip
2. Tooltip should be visible on hover even if the button is disabled.

Check how the tooltip works in button, it should exactly be the same experience.

[2022-05-26 05:01] dilippitchika commented on #9563
Closing in favor of #13807

[2022-05-26 05:01] #9563 closed

[2022-05-26 05:30] sbalaji1192 commented on #9135
Next action Items:

- [ ]  QA to complete with first iteration of testing 27th May - @vivekverma2312 @shadabbuchh
- [ ] Cypress tests 2 jun- @sbalaji1192
- [ ] Evaluating the inline editing feedbacks from Joseph 26 May- @dilippitchika

[2022-05-26 05:58] shadabbuchh commented on #13325
This issue is fixed. Tested the following:

1. Adding a column and then changing the `Column Type` to `Icon Button`: The "Add Icon" button gets displayed by default - _Pass_
2. Adding a column and then changing the `Column Type` to `Menu Button`: By default no icon is added to the column - _Pass_
3. In a `Menu Button` column after adding any icon (other than the "add icon"), when the user changes

[2022-05-26 06:17] Tooluloope commented on #14019
@somangshu @dilippitchika
From the screenshot below, the Date picker doesn't have the red border to signify that it's required.
Should this be fixed in this PR?

Also, the UI for Checkbox Group and Switch Group looks odd, was this intended compared to a single checkbox
<img width="845" alt="Screenshot 2022-05-26 at 07 14 30" src="https://user-images.githubusercontent.com/31691737/170428449-9b2f3d5

[2022-05-26 07:22] jsartisan opened #14114 "[Bug]: The scrollbar in table widget is hard to use due to height and width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The scrollbar in our  table widget is hard to use. A user ( from datar ) was looking for a way to resize it. But that is not possible today. Also, the scrollbar shows at all times. Ideally it should be shown on hover of table widget only.

### Steps To Reproduce

1. Drop table widget
2. Notice the

[2022-05-26 07:25] #13873 closed

[2022-05-26 08:49] #13412 closed

[2022-05-26 09:13] Rishabh-Rathod commented on #7028
Had a discussion with @Tooluloope on this.

https://miro.com/app/board/uXjVOz2z9zc=/
We made a data flow of metaProperties with the current ListWidget implementation.

I had a suggestion to create a `dynamicDerivedProperty` & `dynamicDefaultProperty` POC which in the end will result in a data tree of the List widget having
- childDerviedProperties ( depends on childMetaProperties )
- childDefaultP

[2022-05-26 09:21] yatinappsmith opened #14117 "[Bug]: Postgresql connections are left idle."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After running a query postgres connections are left idel

### Steps To Reproduce

1. Create Postgress data source.
2. Create multiple onload select queries.
3. Create multiple pages.
4. traverse multiple all the pages few times.
5. Check idle connections

### Public Sample App

https://release.app

[2022-05-26 09:44] somangshu commented on #7028
@Tooluloope when can we complete the above POC?

cc @ashit-rath @sbalaji1192 kindly review ☝️

[2022-05-26 09:46] pkrolkgp opened #14118 "[Feature]: Datasource image should be bundled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When running appsmith in docker on premise the svg's for datasource are hardcoded to lad from assets.appsmith.com and thus not displayed

### Steps To Reproduce

Run docker on premise and check datasources

### Public Sample App

_No response_

### Version

selfhosted - 1.7

[2022-05-26 09:47] Tooluloope commented on #7028
@somangshu It's dependent on when the FE coders would be able to come with a POC for `dynamicDerivedProperty` & `dynamicDefaultProperty`.

[2022-05-26 09:56] dilippitchika commented on #14019
Hey Tolu, no i don't think it was intended. We need some design for these.

[2022-05-26 09:57] somangshu commented on #7028
@Tooluloope can you get into it? @Rishabh-Rathod would you advise that? I am saying this because FE Coders bandwidth will be a bottleneck and if can proceed regardless, we should do it

[2022-05-26 10:03] somangshu commented on #3613
@dilippitchika we now have #12291 merged and available soon, We can go ahead and pick this up with the second strategy we had discussed

[2022-05-26 11:18] Tooluloope commented on #14019
@dilippitchika
This PR would only solve the RTE issue, everything else would be outside this PR

[2022-05-26 11:29] dilippitchika commented on #14019
Hey @Tooluloope yes that is the expectation

[2022-05-26 11:46] souma-ghosh commented on #13970
@dilippitchika
So far it seems like a problem with the parent container size of the Multiselect. The one with lesser height has the unusual behaviour (Multiselect2). When we change the label position from left to top the initial height of the parent container does not change. As a result the inside contents overflow. When this overflow happens the Select component tries to adjust its height to fit

[2022-05-26 11:50] dilippitchika commented on #3613
There's one issue which we may need to fix when we are taking this up.

[Linked here in the video.](https://www.loom.com/share/56cc7ae651e34f8b88db0d730805e0b3)

Today our "reset form on success" field when switched on also resets if there's an error in the API which is incorrect, i believe this could be fixed here. @somangshu

[2022-05-26 11:56] dilippitchika commented on #14109
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3 |
| Effort (months)  | 0.5 |

[2022-05-26 11:57] dilippitchika commented on #14100
@sbalaji1192 have you already looked at this issue?

[2022-05-26 12:18] dilippitchika commented on #14069
@vivekverma2312 can you ask someone to test on an android phone?

It is broken in iphone for sure.

[2022-05-26 12:23] #12386 closed

[2022-05-26 12:23] Aishwarya-U-R opened #14122 "[Bug]: CRUD >> JSONForm | Insert Modal from an empty page does not show Table's actual fields in Modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**Insert modal from an empty Table page while table still shows correct column names:**
<img width="1110" alt="Screenshot 2022-05-26 at 5 20 16 PM" src="https://user-images.githubusercontent.com/91450662/170486199-d6483fd4-4d18-447a-ada9-b0f3fbf76e06.png">

**Insert modal from a Table Page where r

[2022-05-26 12:24] #12393 closed

[2022-05-26 12:41] Rishabh-Rathod commented on #14002
Added estimate of one as this issue was not estimated and according to what we discussed. We should at least have 1 estimate if it wasn’t estimated.

[2022-05-26 13:26] Rishabh-Rathod commented on #12936
Hey @alzaar,

Are you still working on this?
We might unassign the issue if it is not being worked on. We will wait for a few days and then go ahead with unassignment.

[2022-05-26 13:30] alzaar commented on #12936
Hey Rishabh,

No, I am not. I struggling with the debugging process on my side. I posted in the discord channel but I am still on the learning curve for typescript. You can unassign me for this at the moment. If nobody is working on it  couple of months from now, I will post here again.

Thanks,
Ali

[2022-05-26 13:31] abhvsn opened #14123 "[Task]: Add branch name param for git analytics events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Must to have a branch field for commit application event as we want to track the activity at branch level.

[2022-05-26 13:32] Rishabh-Rathod commented on #14067
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/14067?planning-poker) with ZenHub @rimildeyjsr

[2022-05-26 13:33] Rishabh-Rathod commented on #13755
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/13755?planning-poker) with ZenHub @ohansFavour

[2022-05-26 13:34] Rishabh-Rathod commented on #9779
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/9779?planning-poker) with ZenHub @ApekshaBhosale

[2022-05-26 13:35] Rishabh-Rathod commented on #9645
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/9645?planning-poker) with ZenHub @ApekshaBhosale

[2022-05-26 15:30] felixsuarez0727 opened #14124 "Create Hubspot 1.2 Documentation"
Create official documentation based on the SaaS Integrations Wiki that had been created separately for the different scopes of Hubspot.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/cf52f050-6ebb-4a54-ba0a-22f91a71a9e4)

This means, as in the previous image, to join in a single document the indicated scopes

[2022-05-26 16:48] sbalaji1192 commented on #14100
@dilippitchika Yes. I was not able to repro this on my end. And also it doesn't look like a Table widget issue. More of a autocomplete related issue.

[2022-05-26 17:32] #14124 closed, assigned to felixsuarez0727

[2022-05-26 18:09] #14079 closed

[2022-05-26 21:31] ame-appsmith opened #14128 "[Bug]: Default Value of Select Field in JSON Form Parsed as Integer Instead of String"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The **default value** of the **select** field in a **JSON form** is parsed as an _integer_ instead of a _string_. The source data is fetched by a query and the value in the DB is a number stored as text.
To get the default value displayed in the Select, the user needs to add quotes as a workaround

[2022-05-27 04:50] btsgh commented on #13923
Animation still exists on Release. Discussed with @arunvjn . He is looking into it.

[2022-05-27 05:02] AmanAgarwal041 opened #14132 "[Test Case]: Validating content type of Api and when the method type changes but body remains empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the API is created :
- The `content-type` header is not present in the first place
- When the `method` type is changed from `GET` to `POST` considering body to be empty, the `content-type` header should become `application/json`
- When the `method` type is switched back to `GET`, the `content

[2022-05-27 05:11] btsgh commented on #12320
Tested on release, the grouped widgets remain original canvas.

[2022-05-27 05:14] AmanAgarwal041 commented on #13331
This feature already exists on the API pane as well. This is working for me. @rohan-arthur  can you also verify so that we can close this issue ?

[2022-05-27 05:24] RakshaKShetty commented on #13949
reopening the issue facing the same issue in release but seems to be fixed in dp
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/45958978/170634869-9f9b71ca-43f1-43bb-8de7-7f313a7f6bf2.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/170634902-cd8a8a62-0990-440c-8c65-4c3b8a9ec5dc.png">

[2022-05-27 05:28] ankitakinger commented on #13949
This is because `Sync Community Workflow` is in failure state.

[2022-05-27 05:46] hiteshjoshi commented on #13372
We will be implementing this on FE.

[2022-05-27 06:23] shadabbuchh commented on #11485
This issue is fixed now. Tested the following:

1. Clicking on the following inside a Tab widget (in edit mode):
    a. MultiTreeSelect
    b. MultiSelect
    c. TreeSelect
https://images.zenhubusercontent.com/275993885/25cac11e-05d4-42c1-bc94-d4f5949a0d36/tab_widget.mov

2. Clicking on the following inside a From widget (in view mode):
    a. MultiTreeSelect
    b. MultiSelect
    c. TreeSelect
h

[2022-05-27 06:34] nidhi-nair opened #14134 "[Epic]: Predictable data types during action execution"
### Objective

After evaluating a dynamic binding on the client side, today we lose the data type information during the action execution request. This leads to inaccurate assumptions being made during the substitution logic because the best match logic may not necessarily be what the user intended the binding type to be. To overcome this, we should leverage the evaluated type as extra information

[2022-05-27 06:36] nidhi-nair opened #14135 "[Task]: Data type parsing logic for evaluated values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Identify valid data types(primitive)
- Implement logic to map these data types
- Add map of evaluated value data types to action execution request

[2022-05-27 06:39] nidhi-nair opened #14136 "[Task]: Modify evaluated value parsing logic in server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Honour client side data type for initial parsing
- Modify smart substitution logic to conform to initial type first

[2022-05-27 06:44] nidhi-nair opened #14137 "[Epic]: AST parsing for BE"
### Objective

TBD

### Success Metrics

| Metric         |
| -------------- |
| Customer satisfaction score increases  |
| Decrease churn rate down to 30%        |

### Prioritised User Stories

| User Story    |
| ------------- |
| e.g. as a user, I want to be able to access the platform via mobile phone  |
| e.g as a user, I want to be able to communicate with the other members on the canvas  |

[2022-05-27 06:44] nidhi-nair opened #14138 "POC for using WASM for parsing"

[2022-05-27 06:45] nidhi-nair opened #14139 "Modularize AST parsing logic on client side"

[2022-05-27 06:53] btsgh commented on #12292
Tested and found to be fixed.

[2022-05-27 07:00] Rishabh-Rathod opened #14140 "[Research] Appsmith Promise without return statement"
- Understand why we need `return` statement for promise
- Is it possible to remove `return` statement need without making any platform change?
- if not what possible, what changes will we need to make to allow promise with a need of `return`

[2022-05-27 07:39] pranavkanade opened #14141 "[Bug]: Apps show error - `The action ... has failed` on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Multiple appsmith users have complained that they are seeing the error: `The action ... has failed` on page load.

We started seeing the error after the release of v1.7

### Steps To Reproduce

Internal conversation - https://theappsmith.slack.com/archives/CGBPVEJ5C/p1653633651705329

This case is

[2022-05-27 07:41] pranavkanade commented on #14141
<img width="506" alt="Screenshot 2022-05-27 at 1 10 12 PM" src="https://user-images.githubusercontent.com/13262095/170653180-d580e677-8c11-4510-b201-12ffa12a7ddb.png">

[2022-05-27 07:50] trishaanand opened #14142 "[Task] PoC for Caching Library"

[2022-05-27 08:08] Rishabh-Rathod commented on #7028
POC could we divided into 2 phases
1. We create child derived properties in listWidget
[code]
- we will also need to make changes in widget factory and datatree creation logic.
This could be done with a need of fe-coder dev.

If this works as expected then we think about change needed in evaluation to optimise above implementation.
cc: @Tooluloope

[2022-05-27 08:38] Rishabh-Rathod commented on #13540
https://github.com/appsmithorg/appsmith/pull/13084 PR fixed this issue also.

This issue is not reproducible on release. I have done verification for it. Closing it.

@ramsaptami could you also verify it.

[2022-05-27 08:38] #13540 closed

[2022-05-27 08:45] AnaghHegde commented on #13353
Reopening as FE work is not yet completed. @IAmAnubhavSaini is working on the FE tasks.

[2022-05-27 08:46] dilippitchika commented on #14114
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2000 |
| Effort (months)  | 0.5 |

[2022-05-27 08:48] RakshaKShetty commented on #13353
The front end activity is still pending for this, so will be tested once FE is ready

[2022-05-27 08:55] dilippitchika commented on #14128
@ashit-rath need you to triage. As amelia said, it is working in select but not in JSON form after deployment. Can you check if this is the same issue as discussed earlier?

https://app.appsmith.com/app/widget-testing/page9-61f931e011f4c46e3dfd19b0

[2022-05-27 08:57] Nikhil-Nandagopal commented on #13540
@Rishabh-Rathod awesome!

[2022-05-27 08:58] hiteshjoshi commented on #13503
Trisha : What happens when someone else visits the same page during actions like git clone, import, or fork or large apps. @vinay-appsmith @RoopKrrish9696
This is a critical solve by UX.

[2022-05-27 09:05] #13763 closed

[2022-05-27 09:09] hiteshjoshi commented on #13955
Abhijeet : This can break the apps for some users who are relying on query parameter for branch for certain actions.

[2022-05-27 09:14] sumitsum commented on #13819
All issues are tagged properly at this moment.

[2022-05-27 09:14] #13819 closed

[2022-05-27 09:32] riodeuno commented on #11038
### Update 27th May
Tasks for this week:
- [ ] @riodeuno Complete the dynamic height layout update algorithm
- [ ] @ankurrsinghal Complete implementing updates to the widgets to have them respond correctly to content changes
- [ ] @btsgh @Sripriya93 Work on compiling test scenarios and strategy for QA of the feature.
- [ ] @rohitagarwal88 Facilitate communication with the App viewers for resolving

[2022-05-27 09:39] sumitsum commented on #13818
As per my analysis, even non release branch PRs are included as long as the label `BE Coder's Pod` is added to the PR.

[2022-05-27 09:39] #13818 closed

[2022-05-27 10:17] dilippitchika opened #14143 "[Feature]: Enable developers to remove the appsmith watermark"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

**Job stories**
When I have paid for appsmith, I want to disable appsmith watermark so that my team mates trust the interface i built on appsmith more

When I have paid for appsmith as a consultant, I want to disable appsmith watermark so that my clients don't know which tools I use to build their app

[2022-05-27 10:23] pratapaprasanna opened #14144 "[Feature]: Automate the ami build creation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

For every appsmith release we release an ami image.

It would be great if we can have an automated pipeline for engineers for this tedious task.

### Why should this be worked on?

It reduces the effort engineers put in for every appsmith-release.

[2022-05-27 10:30] dilippitchika commented on #13876
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 34 |
| Effort (months)  | 0.5 |

[2022-05-27 10:33] ankurrsinghal commented on #11038
For today and the upcoming week these are my actionable:-

1. Resolving the conflicts of the base widget branch to fix the flaky tests in 2 pending PR's for standardization.

2. Fixing CSS of Label Widgets:-
    1. Input, InputPhone, InputCurrency
    2. Multi-Select, Multi-Tree Select, Select, Tree Select
    3. Switch Group, Radio Group, Checkbox Group

3. Fixing the CSS of Label of Switch, Chec

[2022-05-27 10:33] dilippitchika commented on #13784
No user faced this issue according to limited data from mixpanel. Keeping the reach as 1

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1 |
| Effort (months)  | 0.25 |

[2022-05-27 10:39] dilippitchika commented on #13970
Also needs to be fixed in JSON form #13777

[2022-05-27 10:47] dilippitchika commented on #13633
@btsgh this looks fixed probably as part of theming, can you please recheck and let me know?
![Screenshot 2022-05-27 at 4 17 24 PM](https://user-images.githubusercontent.com/19730984/170685335-78564650-b7e2-4549-b628-df1c63df046f.png)

[2022-05-27 10:54] dilippitchika commented on #13632
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1 |
| Effort (months)  | 0.5 |

[2022-05-27 10:57] dilippitchika commented on #13622
Duplicate of #7256

[2022-05-27 10:57] #13622 closed

[2022-05-27 11:02] btsgh commented on #13873
Verified in Release. The error only appears on hover now. Works fine.

[2022-05-27 11:09] dilippitchika commented on #13612
Reproducible, we can increase the default width to be more but this looks like a bigger problem across widget drops.

Whenever a widget drops, we need to make sure it looks best in every possible resolution. A few ways to do this
1. Responsive default data - Today only the width is responsive, but if we also had different default widget behavior for different widths this would be better
2. For sma

[2022-05-27 11:17] dilippitchika commented on #13612
For now we will increase the width of the rating widget to make sure it doesn't break across any screen size.

[2022-05-27 11:20] dilippitchika commented on #13612
Assuming the impacted apps are being built on mobile and tablet for easier calcuation.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 215 |
| Effort (months)  | 0.5 |

[2022-05-27 11:27] Parthvi12 commented on #13929
@arunvjn On switching to widgets tab, Search Widgets is not focused. Could you please add this.

[2022-05-27 11:41] Nikhil-Nandagopal opened #14146 "[Bug]: JS Object broken in working app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Github Manager App broke due to a parse error in the Query

### Steps To Reproduce

1. Open the [github manager app](https://app.appsmith.com/applications/60d72903ee9aa1792c5bf168/pages/614d9b9e18a27e5288afa99d/edit?branch=master)
2. Try to update a label name
3. It fails to update with no mes

[2022-05-27 12:11] dilippitchika commented on #13633
Happening on release - https://release.app.appsmith.com/applications/61cbf39a8f45a85fae9ab0ee/pages/6283da485869d765189f9b30/edit

[2022-05-27 12:11] dilippitchika commented on #13633
check with demo@appsmith.com account

[2022-05-27 12:16] somangshu commented on #13419
@souma-ghosh any update here?

[2022-05-27 12:59] #13528 closed

[2022-05-27 13:12] souma-ghosh commented on #13419
@somangshu Not much progress yet. Will be prioritising this next week

[2022-05-27 15:39] GreenFlux opened #14149 "[Bug]-[53]:JS in the default value of a JSONForm field is constantly re-evaluating and updating the UI, when JSONForm is inside a Modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a JavaScript expression or JS Object binding is used in the default value for a JSONForm within a Modal, the value gets constantly re-evaluated and the UI refreshes multiple times a second while the modal is open.

 This does not occur in other widgets, or in JSONForms that are not in a Modal

[2022-05-27 16:20] felixsuarez0727 commented on #13762
I found in the [official Twilio Documentation ](https://www.twilio.com/docs/sms/api/message-resource#schedule-a-message-resource) the next definition of Schedule Type:

`This parameter indicates your intent to schedule a message. You should pass the value "fixed" to schedule a message to be sent at a fixed time.`

As Nikhil said, it is better to remove the input for the user and configurable as a

[2022-05-27 16:20] #13762 closed

[2022-05-27 16:29] ramsaptami commented on #9805
Needs changes

[2022-05-28 01:38] #13331 closed

[2022-05-28 09:09] SaumyaBhushan commented on #14080
I would like to work on this issue .

[2022-05-28 18:02] #13485 closed

[2022-05-28 18:03] felixsuarez0727 commented on #13910
I added this placeholder as an example for after and before. When implemented the tooltip, that will be helpful to understand what these fields do.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/cef6c130-ccd5-4146-9974-ed4dc388d3fd)

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/dc857dc7-1879-4305-975e-353a6198a736)

[2022-05-28 18:35] ohansFavour opened #14151 "[Bug]: Scroll to JS function selected from dropdown in JS Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we select the js function in the dropdown, auto-scrolling to the function in code can be super helpful when you have large js files.

### Steps To Reproduce

- Create JS Object with several JS functions
- Select a js function(one that is visible only upon scrolling) from the dropdown
- Notice

[2022-05-29 12:32] AmanAgarwal041 commented on #9729
I tried replicating the issue, but seems the issue is already fixed.
Attaching the video :

https://user-images.githubusercontent.com/7565635/170868481-1f7bdba8-ab07-43d1-8567-261a86931d20.mov

[2022-05-29 15:49] Tooluloope commented on #12086
This isn't an issue @dilippitchika @somangshu
This is how the JS binding should be `{{currentItem["New Customer"]}}` and not like this `{{currentItem.New Customer}}`

This goes for both List and Select.

We can open a feature request to change the key to `New_Customer`, making it better as it's used in the table widget and this would be for the whole platform and not widget specific.

[2022-05-29 15:50] Tooluloope commented on #12086
Also I suggest this be removed from the List widget Epic

[2022-05-29 15:51] Tooluloope commented on #13211
Related to PropertyPane evaluations for List widget

[2022-05-29 16:07] Tooluloope commented on #12135
This seems fixed.

https://user-images.githubusercontent.com/31691737/170879392-21d66f75-f410-4a59-9229-cabc44d093a3.mov

[2022-05-29 16:07] Tooluloope commented on #12135
@ramsaptami Could you confirm?

[2022-05-29 16:32] Tooluloope commented on #8221
No error occurs.
This has been fixed
https://user-images.githubusercontent.com/31691737/170880680-ca634c1e-40ab-4143-a727-ae9c43c0825f.mov

[2022-05-29 16:36] Tooluloope commented on #6146
@somangshu This is fixed as well

[2022-05-29 16:36] #6146 closed

[2022-05-29 17:08] felixsuarez0727 commented on #13162
I created the branch `feature/save-button-deselected` with a new function name refreshTable where they not update the Fetch_Actions.run(). Now, when pressed the save button, only is updated the integration information, so the action is not deselected. But this creates a new problem because this means that Run button is not updated with the new changes, the way we had found is to refresh the entire