[2022-10-12 05:31] pranavkanade opened #17500 "[Bug]: `Confirm before calling` setting does not work when a JS function is trigged on a button click"
A discord user reached out regarding this.
https://cdn.discordapp.com/attachments/1029564855709073440/1029564855943970866/2022_10_12_10_20_35_252.mp4

Steps -
1. create JS object and a function
2. Set it to confirm before calling
3. Run the function from JS Object pane, it shows the confirmation box
4. Trigger it on button click it runs without any prompt

<img src="https://front.com/assets/img/fa

[2022-10-12 05:37] Alcadeus0 commented on #17294
Sure thing!

[2022-10-12 05:55] keyurparalkar commented on #3265
Dev estimate - 7 SP

[2022-10-12 06:02] RakshaKShetty commented on #15698
When user tries to reset the password the logout event is captured but this need to be removed as this is covered under system generated event

[2022-10-12 06:11] jnikhila opened #17501 "[Task]: Update Omnibar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Omnibar uses Gitbook API to trigger the search. Once the documentation is moved to Docusaurus, the API integration should point to the new hosting platform. Please refer to the [slack discussion]([url](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1665071140515489)) for more details.

[2022-10-12 06:12] jnikhila commented on #17501
@mohanarpit - I've assigned it to you for now.

[2022-10-12 06:49] souma-ghosh opened #17502 "[Bug]: Cursor jumps to start while editing cell in Table Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we are typing in cell edit mode inside a table widget with cell wrapping on, the cursor sometimes jumps to the start of the input field.

### Steps To Reproduce

1. Drag and drop a table widget
2. Make a Plain Text cell editable
3. Turn on Cell Wrapping for that column and another Plain Text

[2022-10-12 06:50] bharath31 commented on #17134
Duplicate of #17097

[2022-10-12 06:50] #17134 closed

[2022-10-12 06:52] bharath31 commented on #17097
Assuming 1% of users who navigate between pages have the same widget name.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1340 |
| Effort (months)  | 0.5 |

[2022-10-12 06:59] somangshu commented on #8013
Greetings @chandanpatra2111, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

@tauantcamargo Ill go by first come first serve basis, Please look at other Good first issue we have,

[2022-10-12 07:07] somangshu commented on #8013
Apologies @chandanpatra2111, After a small discussion internally, we identified this is going to be picked up as a part of a bigger project which is dealing with the page properties overall, I have un-assigned you here. Kindly find other good first issues to work on

[2022-10-12 07:10] developer-honoru commented on #17500
This is the issue I posted
The environment is version v1.8.4 for self-hosting.

[2022-10-12 07:52] #17497 closed

[2022-10-12 08:41] spark-c commented on #15938
Raised PR for Outline, available [here](https://github.com/appsmithorg/appsmith-docs/pull/470)

[2022-10-12 08:47] sumitsum opened #17503 "[Bug]: GSheet plugin: User is denied access for read / update datasource and plugin objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- A user has shared an application where the action run on page load fails due to the following error:
`Get_All_blankColor_Rows is not correctly configured. Please fix the following and then re-run: {Unable to find plugin 60910df653a4d211ac7dd678,Unable to find datasource 62fe750484757e0c055563b1}

[2022-10-12 08:53] sumitsum opened #17504 "[Bug]-[2640]:GSheet - run button gets stuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[https://app.appsmith.com/app/robby-s-thesys-workspace/blank-manage-633dc509dca6ec1f8c[…]heets-plugin/api/631b88ec238888080c597081?branch=Development](https://app.appsmith.com/app/robby-s-thesys-workspace/blank-manage-633dc509dca6ec1f8c6e4825/edit/saas/google-sheets-plugin/api/631b88ec238888080c59

[2022-10-12 08:56] SamSampson-RIVAL commented on #2282
Hi @Privatecoder , yes it would be great to get some additional examples from you. Please select a time via this link :) https://calendly.com/samstudiorival/navigation-chat

[2022-10-12 08:57] AnaghHegde commented on #17088
Backend changes are completed for this.

[2022-10-12 08:57] beknazar commented on #9700
Please, add this feature.

[2022-10-12 09:03] AnaghHegde commented on #14283
@Parthvi12 Can we close this?

[2022-10-12 09:05] akash-codemonk opened #17505 "[Feature]: New multi pane layout"
This task is about the new multi pane layout where each entity can be opened/viewed in tab like view.

Sub task/things to consider under this task would include the following

- Back button design
  - Remove existing back buttons from action pane(api/datasource/query)
  - How will browser back button behave here
- Sidebar
  - Settings
  - Explorer
  - Datasources
  - Library (discuss with FE coder

[2022-10-12 09:06] eco-monk opened #17506 "[Feature]: Response pane and debugger (reduce context switching)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

1. User should not have to move to debugger to decode what is happening
    1. Show the error tab’s error on the response pane itself
    2. Show a collapsed error user can see without navigating
    3. Sniping mode + suggested widget

### Summary
Job stories:

- [ ] When I open the `full page API`, `

[2022-10-12 09:07] kocharrahul7 opened #17507 "[Feature]: Peek overlay of entity and bindings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When hovering on an an entity name (Widget, or action) in appsmith, it would be great if we could peek into the value of the entity. For instance, while hovering on api1, I should be able to understand and access the values associated with API1. I should be able to see api1.data, the return type, and

[2022-10-12 09:09] hetunandu opened #17508 "[Feature]: Zoom control for the Canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need to create a zoom control that will give the ability to zoom in and out of the canvas. When there are a lot of widgets, one can zoom out to see the whole canvas together, or zoom in to focus on a small part of the canvas.

1. Fixing canvas to allow for scaling, zooming and scrolling
2. Dropdown

[2022-10-12 09:14] eco-monk opened #17509 "[Feature]: Rework actions pane for smaller space"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Why should this be worked on?

To move the action pane pages to a smaller space when multi-tabs is being introduced.

### Summary

1. Huge design research and compatibility/standards creation
2. Implementation may not take a long time, and it should be 1 layout as much as possible, that would be ideal. The sam

[2022-10-12 09:20] kocharrahul7 opened #17511 "[Feature]: Moving the widget creation CTA off the Entity explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently the creation of widgets is on the same pane as the entity explorer. We would like to move this off the entity explorer so that the user doesn't have to switch back and fourth between the widgets and the explorer tabs on the entity explorer

### Why should this be worked on?

As a part of con

[2022-10-12 09:34] kocharrahul7 commented on #15677
https://www.notion.so/appsmith/Design-Doc-Navbar-Page-header-update-aed2d45de3234914a8d69a01dcf882cd

[2022-10-12 09:40] Nikhil-Nandagopal commented on #17503
@hiteshjoshi @trishaanand this caused a users existing app to suddenly stop working

[2022-10-12 09:41] #14352 closed

[2022-10-12 09:53] sentry-io[bot] opened #17512 "[Bug]: TypeError: Cannot read properties of undefined (reading 'value')"
Sentry Issue: [APPSMITH-490](https://sentry.io/organizations/appsmith/issues/3575561583/?referrer=github_integration)

[code]

[2022-10-12 09:54] Nikhil-Nandagopal commented on #17512
@kocharrahul7 @ginilpg the app is crashing when users fork a template

[2022-10-12 09:56] sentry-io[bot] opened #17513 "[Bug]: RefNotFoundException: Ref main cannot be resolved"
Sentry Issue: [APPSMITH-2KP](https://sentry.io/organizations/appsmith/issues/3313823228/?referrer=github_integration)

[code]

[2022-10-12 09:57] sentry-io[bot] opened #17514 "[Bug]: IndexOutOfBoundsException: Source emitted more than one item"
Sentry Issue: [APPSMITH-4EC](https://sentry.io/organizations/appsmith/issues/3602081108/?referrer=github_integration)

[code]

[2022-10-12 09:57] Nikhil-Nandagopal commented on #17514
@hiteshjoshi @trishaanand seeing this crash in the update permissions flow

[2022-10-12 10:00] akash-codemonk commented on #17512
Able to repro. When there are no organisations and we try to fork the app we see the error on the browser console. The app doesn't crash. Fork buttons needs to be disabled here.

[2022-10-12 10:04] kocharrahul7 commented on #17512
Just checked the smartlook as well, No error message for the user, they just tried to fork without selecting an org. Nothing broke.

[2022-10-12 10:05] #15681 closed

[2022-10-12 10:35] AkkiBond commented on #16937
Hey, Can I work on it?

[2022-10-12 10:40] AkkiBond commented on #11506
Hi, Can I work on it?

[2022-10-12 11:04] souma-ghosh commented on #13334
@somangshu @Aishwarya-U-R
This is an edge case with the logic behind the endsWith operation. Whenever the search term length is greater than the cell value length by exactly 1 it will satisfy the ends with condition irrespective of what the search term or the cell value is.
Should be a simple fix

[2022-10-12 11:20] Sripriya93 opened #17518 "[Bug]: Multi tree widget - Mode property - display child items when we choose to display only parent items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we select Mode property of the Multi tree select widget as Display only parent items and in the drop down choose one child item of a parent item, user is seeing the child item is displayed instead of parent item

https://user-images.githubusercontent.com/104895602/195329071-eba85c1a-c16e-42f3

[2022-10-12 11:25] prapullac commented on #16269
Tested on the local and seems to be working well

[2022-10-12 11:29] dilippitchika commented on #11506
Hi @YuriDevAT @AkkiBond thanks for showing interest.
Assigning this to both of you for now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-12 13:02] #17328 closed

[2022-10-12 17:09] Parthvi12 opened #17524 "[Bug]: JSObject execution is failing after forking the template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When template 'Customer Support Dashboard' is forked in git connected app, it throws multiple errors around JSObject
<img width="1440" alt="Screenshot 2022-10-12 at 10 32 59 PM" src="https://user-images.githubusercontent.com/80334441/195405404-a28a986d-f347-4c8e-bfda-159538d21763.png">
<img width=

[2022-10-12 17:36] Parthvi12 opened #17526 "[Bug]: On importing template, JSObjects are not getting imported in git connected apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an app is connected to git, and we try to import template JSObjects are not getting imported , this is being observed in this app https://release.app.appsmith.com/app/git-template-3-foodtruck/page-6329b3049d80cd6ff89749d9?branch=master
<img width="1440" alt="Screenshot 2022-10-12 at 11 01 40

[2022-10-12 22:35] felix-appsmith opened #17527 "[Bug]: HubSpot input overrides other inputs on CRM Actions."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When trying to create a new CRM - Create Object, the entries are duplicated, meaning that what I type in one entry is written in the other.
This error occurs when we use the following commands from the queries for HubSpot:
   - CRM - List Objects
   - CRM - Create Object

A very similar error was

[2022-10-13 04:04] RakshaKShetty opened #17528 "[Bug]: The UI & UX issue in Audit logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [x] .Replace the placeholder text "Select" in date filter with "All"
- [ ] The enter doesn't work inside Resource ID placeholder
- [x] "Select" Should not be an option to select in the Date filter
- [x] The hand icon should not be displayed event and user column names as it is not a clickable ev

[2022-10-13 04:30] prapullac commented on #17265
Tested on the local and it looks good to me

[2022-10-13 04:37] AnaghHegde commented on #17524
@Parthvi12 Looks like the jsObject executed but there was an issue with the data and it failed because of that. If you look at the error in the console it says `Cannot read properties of Undefined`.

[2022-10-13 04:58] akash-codemonk commented on #17524
Unable to repro but it looks like the queries have failed to run for some reason which is what the JSObjects are trying to get data from. Could you post a screenshot for the error in the query `delayedOrders` as we cannot see the same in the deployed app and can be seen in the edit mode of the app clearly? @Parthvi12

[2022-10-13 05:03] Parthvi12 commented on #17524
These queries run fine, also I can invite to the org if you want to debug further, let me know your email id for release @akash-codemonk
<img width="1440" alt="Screenshot 2022-10-13 at 10 32 12 AM" src="https://user-images.githubusercontent.com/80334441/195505983-5013e433-cd6d-4606-8797-4529e319074b.png">

[2022-10-13 05:06] AnaghHegde commented on #17524
If the queries are running fine then this is not related to templates. Can you invite me as well to this app?

[2022-10-13 05:25] akash-codemonk commented on #17524
@Parthvi12 Is it working now? I just added a blank line and removed a blank line in the jsobject file and it is working.

[2022-10-13 05:28] Parthvi12 commented on #17524
@akash-codemonk Yes it works now, but can we also please debug why did it reach this state. @AnaghHegde Added you as well to org 'template Test'.

[2022-10-13 05:31] akash-codemonk commented on #17524
Adding medium tag since although it goes into this state. Rediting the jsobject with a space or newline seems to fix the evaluation.

[2022-10-13 06:05] AnaghHegde opened #17529 "Remove feature flag for Audit Logs"
- Remove the feature flag
- Remove the env variable check and replace it with `isCloudHosting` to disable logging in release and prod cluster

[2022-10-13 06:09] vishnu-gp commented on #17528
@RakshaKShetty Do we really need the old page name as well for page.updated? It's a little tricky to get that from BE and I don't see it in the PRD too.

[2022-10-13 06:09] AnaghHegde commented on #15698
One more to the list - https://github.com/appsmithorg/appsmith/issues/17350

[2022-10-13 06:09] AnaghHegde commented on #17350
Closing this as we are tracking this in via - https://github.com/appsmithorg/appsmith/issues/15698

[2022-10-13 06:09] #17350 closed

[2022-10-13 06:32] Nikhil-Nandagopal commented on #17061
Closing this since we can't reproduce

[2022-10-13 06:32] #17061 closed

[2022-10-13 06:38] nsarupr commented on #17478
Hi @spark-c, has there been any updates on this.
If you need further clarification on the OIDCs or anything related to the SSO, please reach out to me on the same.

[2022-10-13 07:07] Sripriya93 commented on #16126
Working fine now, moving to done

![image](https://user-images.githubusercontent.com/104895602/195525474-e6bf3243-f458-4764-9b85-9c58d6ae8fea.png)

[2022-10-13 07:07] akash-codemonk commented on #17526
Tried with an app which was 7 months old was unable to repro.

[2022-10-13 08:18] nsarupr opened #17531 "[Task]: Expose API endpoint to expose Plugin ID and Icon Location"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Create a new API End Point to expose Plugin ID and Icon Location.

[2022-10-13 08:30] Richarex commented on #15661
- [ ] In **Generated Docker Compose File** heading in docker spelling c is attached with k not spelled right.
![image](https://user-images.githubusercontent.com/93259714/195525025-f30380ed-0822-4488-9c4c-282d73df1c57.png)

- [ ] Validation missing for **Limit embedding to certain URLs** section as it is allowing random text, only digits or only special characters in the url field without throwing

[2022-10-13 09:00] eco-monk opened #17532 "[Bug]: Text component padding doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]
<img width="246" alt="image" src="https://user-images.githubusercontent.com/66776129/195551654-0c0bfd10-fd3b-46ad-9f28-3a089e5ae6db.png">

[code]
<img width="248" alt="image" src="https://user-images.githubusercontent.com/66776129/195551504-a92b11d6-3fd4-419b-b5f7-dba81ad7549e.png">

### St

[2022-10-13 09:04] spark-c commented on #15938
Working on outline review comments

[2022-10-13 09:18] albinAppsmith opened #17533 "[Task]: Create Date Range Picker component in design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-13 09:27] akash-codemonk commented on #15661
Is out of scope of this issue. It is a different section altogether. So will not be modifying those.

As mentioned have not added validation to allow the full range of values as it can be more than full urls only. It is harder to validate for valid values here considering the range of values but it isn't a problem as it allows more flexibility for the user to edit.

[2022-10-13 10:07] sharat87 commented on #15661
@Richarex, that's actually your browser rendering that way. The text is actually correct. You can try zooming in and out to see the rendering correct itself at some zoom levels.

Reg. the validation, I don't think that's a good idea. Hostname contain not just alphanumeric characters, but almost anything, especially when you consider non-English domain names. They also don't even have to have a `.`

[2022-10-13 10:12] pbjorklund commented on #10827
Any updates?

[2022-10-13 10:24] ashit-rath commented on #7028
#### Action Items
- Plan List widget epic issues @dilippitchika @ashit-rath @Tooluloope
- Wrap up virtual list POC @Tooluloope
- Discuss nested list level accessor @ashit-rath @dilippitchika @Tooluloope
- React out to fe-coders for blocking issue [#16926](https://github.com/appsmithorg/appsmith/issues/16926) @ashit-rath
- Task - Meta widget management @Tooluloope

#### Notable items:
- Grid widget

[2022-10-13 10:35] akash-codemonk commented on #15661
Yeah by full url I meant including the protocol  e.g `https://release.app.appsmith.com`. I think you meant absolute urls e.g `
https://developer.mozilla.org/en-US/docs/Learn` probably has no effect.
The point I wanted to make was adding some form of validation is not useful and leaving the user to enter the stuff they want  would be fine and preferred to make sure we don't end up restricting some

[2022-10-13 10:50] dilippitchika commented on #11684
Greetings @Naveen-Nair thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-13 11:12] souma-ghosh commented on #17022
We might need some validation here for URL type column to resolve this issue

[2022-10-13 11:25] dilippitchika commented on #15958
We already have a linear scale chart, but it's under the wrong name - we call it `HLinearGauge` but fusion charts calls it`hlineargauge`.

Please update our reference to use `hlineargauge`

[2022-10-13 11:27] parag477 commented on #7296
I would like to contribute to this issue.

[2022-10-13 11:31] dilippitchika commented on #15694
Fix
1. When JS is enabled in the chart type show the `X-Axis orientation` property.
2. (ONLY WHEN JS IS ENABLED FOR CHART TYPE) - Add a helper text below the property to say that it will not work with bar and pie charts. - `"This property will not work with bar and pie charts"`

[2022-10-13 11:57] iamrkcheers commented on #17472
@aswathkk @rohitagarwal88 Could you help us out ?
The issue [[Bug]-[130]:File picker Widget - able to pick a file when Max no of files is defined as zero (0) #14857](https://github.com/appsmithorg/appsmith/issues/14857) is being blocked by this.

[2022-10-13 11:58] dilippitchika commented on #11142
We have fixed a lot of these in the property pane project. Adding ones that got missed out

We need the icon property to have JS in button, button group and menu buttons.

[2022-10-13 12:11] trishaanand opened #17538 "[Task EE]: Add support for adding users to multiple user groups"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-13 12:13] #17148 closed

[2022-10-13 12:14] #17424 closed

[2022-10-13 12:15] #16244 closed

[2022-10-13 13:11] jdglacier commented on #16593
Any update on this issue?

[2022-10-13 13:30] RakshaKShetty opened #17540 "[Bug]: The User name is displayed instead of user email when the user logs in with GitHub auth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The User name is displayed instead of user email when the user logs in with GitHub auth
![image](https://user-images.githubusercontent.com/45958978/195609867-1b60c6f2-ad06-4596-afb5-78a79e334a95.png)

### Steps To Reproduce

1. Login to the app with the github auth
2. Now login as a Admin user
3.

[2022-10-13 13:56] #17265 closed

[2022-10-13 13:59] #17538 closed

[2022-10-13 14:03] Naveen-Nair commented on #11684
Hey sorry, i'm a bit busy this weekend, so i don't think i'd be able to work on it

[2022-10-13 15:06] ramsaptami commented on #7296
Please go ahead and pick it up @parag477. Let us know if you need any assistance. Good luck!

[2022-10-13 16:17] RakshaKShetty opened #17541 "[Bug]: The repo type is missing when the user checkout to new branch from the master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The repo type is missing when the user checkout to new branch from the master branch
![image](https://user-images.githubusercontent.com/45958978/195650911-1c1bd472-803e-4d31-9f59-8a5ed0605a88.png)
![image](https://user-images.githubusercontent.com/45958978/195650936-0a7b7ca2-3bf7-44c3-bf32-a6abdfd

[2022-10-13 17:11] dilippitchika commented on #16593
Hey @jdglacier not yet, can you please let me know your usecase?

[2022-10-13 18:06] vuiets commented on #16008
We had a request from a user to choose which events to configure in the logs last week. For example, since their client will generate thousands of records on active usage of the apps, they'd like the option to not log events like `page.viewed` which is irrelevant to them.

[2022-10-13 19:53] #17484 closed

[2022-10-13 20:13] #16892 closed

[2022-10-13 20:28] #16269 closed

[2022-10-13 21:35] ame-appsmith commented on #16150
[Another user](https://app.frontapp.com/open/msg_1eoyc93g) requested this feature.

[2022-10-14 01:50] Hongkai-Zhai commented on #7511
Hey @Rishabh-Rathod can I get this issue?

[2022-10-14 01:54] CCCCCCieL commented on #7442
Hi, @mohanarpit may I work this issue?

[2022-10-14 02:14] KechengZhang28 commented on #17019
Can I work on this?

[2022-10-14 02:19] tanvibhakta opened #17545 "[Task]: Remove oldest grays in the design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Remove the following css variables from the design system:

    old-gray-10
    old-blue-gray
    old-outer-space
    old-dove-gray
    old-mid-gray
    old-alto
    old-mercury
    old-dove-gray-2
    old-silver
    old-dove-gray-3
    old-black-pearl
    old-alto-opacity-50
    old-white-opacity-50

[2022-10-14 02:31] abhijain2003 commented on #17545
hey can you assign this to me

[2022-10-14 02:32] Hongkai-Zhai commented on #15542
Hey @dilippitchika can I work on this issue?

[2022-10-14 02:36] #17383 closed

[2022-10-14 02:38] tanvibhakta commented on #17545
Hey @abhijain2003, this is an issue for something I'm working on right now. If you'd like to work on some issues for Hacktoberfest, please look at the issues we've marked as [good first issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22) to start with. Have a good day!

[2022-10-14 02:43] AnaghHegde commented on #17370
@RakshaKShetty Could you please clarify the term - git conditions are missing?

[2022-10-14 02:45] AnaghHegde commented on #17477
Merged the fix for #17383 via the PR https://github.com/appsmithorg/appsmith/pull/17474. Let's reopen this after verifying the changes on release.

[2022-10-14 02:45] #17477 closed

[2022-10-14 02:48] AnaghHegde commented on #14829
Changing the priority from Critical to High as the issue is intermittent

[2022-10-14 04:09] SatishGandham opened #17547 "[Task]: Upload performance infra artifacts to s3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

**STEP 1**
Upload performance artifacts from CI to s3
Upload the artifacts to a random path and store that path in run meta to generate s3 URL.

In this path, store the performance profiles as {ACTION_NAME}_ {RUN_ID}_ {RUN_NUMBER}

You can use this format when saving the file, and sync the folder to

[2022-10-14 04:18] SatishGandham opened #17548 "[Task]: Store performance test pass/failure for each action of a run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

At present we compute the run result individually for each run, and don't persist it.
We want to persist it to a table to be able to query these results better.

Note: If we can query this information easily, then we may not need this table. Please check that first.

**STEP 1**
Create a table with th

[2022-10-14 04:30] SatishGandham opened #17549 "[Task]: Implement inflection point detection on performance data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Some times there will be cases where there was a perf regression, but wasn't caught by the perf infra and things start trending upwards from there.

There is a technique called [e-divisive](https://arxiv.org/pdf/1306.4933.pdf) to analyze the 100 most recent test runs and identify such events.

ref: C

[2022-10-14 04:53] #10995 closed

[2022-10-14 04:53] #17253 closed

[2022-10-14 04:55] rohan-arthur opened #17550 "[Bug]: Deletion of data sources is blocked if any one deletion is busy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

deleting a datasource is already slow and fraught with problems (https://github.com/appsmithorg/appsmith/issues/16866), but this issue becomes more prominent because of the slowness: When I attempt to delete a datasource, the `delete` button for that datasource acquires a busy indicator - this is

[2022-10-14 05:12] btsgh commented on #17352
MySQL test -
Ran show processlist
 This IP started showing up - 103.195.203.87:7053
On deletion of query and DS, the above IP row did not show up.  

PostGreSQL 
select * from pg_stat_activity where usename='postgres' and datname='fakeapi';
 This IP started showing up - 103.195.203.87:7018/7016
On deletion of query and DS, this row did not show up.

[2022-10-14 05:19] ginilpg opened #17552 "[Task]: Effort estimation and Scoping - SignIn page optimization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-14 05:35] RoopKrrish9696 commented on #14745
**Design review for the[ latest DP](https://appsmith-jlhby3j2n-get-appsmith.vercel.app/app/klnlkkl-6344feff6ecce258ec09293f/edit) :** cc @kocharrahul7 @ginilpg @eco-monk

1. App settings CTA hover state missing
2. Autosave loader state to be implemented
3. All paddings are mismatching the latest [zeplin](https://zpl.io/JEwOwJr) link, please cross-check with zeplin. ( In theme settings, the left pa

[2022-10-14 05:39] #13334 closed

[2022-10-14 05:40] #10533 closed

[2022-10-14 05:42] vuiets commented on #17094
@pranavkanade could you post a gist of the issue here? Not all of us have access to Front.

[2022-10-14 05:43] RakshaKShetty opened #17553 "[Bug]:UI Inconsistencies in Repo Limit modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user reaches the repo limit the repo name along with the  No of users sharing the repo should be displayed instead of repo url
 ![image](https://user-images.githubusercontent.com/45958978/195770555-493085c3-92a7-4d31-92c3-4cfc15aa3660.png)

### Steps To Reproduce

1. Pick the workspace wh

[2022-10-14 05:46] vuiets commented on #17513
Has occurred 14 times for our users in the recent past starting in late August and it flaring up in recent times in October. This needs investigation and nipped in the bud if it is a problem that is going to affect a lot of our users.

[2022-10-14 06:04] ashit-rath opened #17555 "Task: List v2 - Autocomplete suggestion"
- Nested List levels - level_1, level_2 etc
- currentItem
- currentRow
- currentIndex
- currentViewItems

[2022-10-14 06:20] #15717 closed

[2022-10-14 06:24] nidhi-nair opened #17556 "[Task]: Connect entity refactor flow to AST APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Make sure refactor flow is using AST APIs for DSL, actions and collections
- Duplicate tests cases from string replacement way and reset expectations

[2022-10-14 06:28] subrata71 opened #17557 "[Task]: Send analytics in the case of wrong identification of data type or failure in parsing target data type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-14 06:41] ashit-rath opened #17558 "Task: List v2 - Algorithm to compute the overscan value for the virtual list"

[2022-10-14 06:43] #16975 closed

[2022-10-14 06:43] sumitsum commented on #17019
@KechengZhang28 thanks a lot for showing interest in contributing to Appsmith. However, this issue may not be a good candidate since it may require deeper knowledge of the code base and possibly some discussion regarding the design of the feature. Hence, I request you to look for another issue preferably with label `Good First Issue`. Also, please read through our [code contribution guidelines](ht

[2022-10-14 06:44] #15331 closed

[2022-10-14 07:22] Nikhil-Nandagopal commented on #17444
Hi @patvdleer , The appsmith instance is not completely air-gapped and you need to whitelist cs.appsmith.com because we fetch templates, release notes, and other generic configurations. Be assured, no data leaves your appsmith instance, it only fetches data.

[2022-10-14 07:22] #17444 closed

[2022-10-14 07:43] ashit-rath opened #17559 "Task: List v2 - Documentation"

[2022-10-14 07:51] rohitagarwal88 opened #17560 "[Bug]: Welcome tour table widget V1 show old property pane."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Welcome tour, table widget v1 is used that show the old property pane. Drag & Drop table widget, new property is shown
CustomerTable Property Pane
![Screenshot 2022-10-14 at 1 19 20 PM](https://user-images.githubusercontent.com/890915/195792112-ea8a84e0-4885-4b5c-8499-336e13de28bb.png)

Drag &

[2022-10-14 07:56] AnaghHegde opened #17561 "Add query execution params to AuditLogs"
We want to log the query params for the AuditLogs.

<img width="1089" alt="Screenshot 2022-10-13 at 18 59 04" src="https://user-images.githubusercontent.com/12005551/195794037-1205c6df-d72e-452e-b6b5-e8921ffea284.png">

![Screenshot 2022-10-13 at 18 57 38](https://user-images.githubusercontent.com/12005551/195794456-5af3971a-cfcc-4270-82a3-7fda1bc415b4.png)

[2022-10-14 08:08] pranavkanade commented on #17094
Sorry, my bad. Updated the description

[2022-10-14 08:35] #17531 closed

[2022-10-14 09:14] patvdleer commented on #17444
@Nikhil-Nandagopal I didn't isolate the pod, I can't reach cs.appsmith.com on my host either.

[2022-10-14 09:16] Nikhil-Nandagopal commented on #17444
@patvdleer are you on a local machine or a cloud provider like AWS? If it's a cloud provider, sometimes the firewall rules restrict this by default

[2022-10-14 09:18] ramsaptami commented on #12025
Seems to be fixed, hence closing it.

[2022-10-14 09:18] #12025 closed

[2022-10-14 09:21] patvdleer commented on #17444
@Nikhil-Nandagopal I switched DNS servers, it works now. Thanks.

[2022-10-14 09:24] Nikhil-Nandagopal commented on #17444
Always happy to help! :)

On Fri, Oct 14, 2022 at 2:51 PM Patrick van der Leer <
***@***.***> wrote:

--
Nikhil Nandagopal
(*Founder @* appsmith <https://appsmith.com>)

[2022-10-14 09:27] vuiets commented on #17094
Thanks @pranavkanade. @AnaghHegde could you investigate this issue and find it's cause? It'll help add a RICE score to this and prioritise it.

[2022-10-14 09:36] AnaghHegde commented on #17094
The error message says the issue is with Writing data because of the Index rules on the Unique key. Do we know how to user is reached this state? This does not look like a git problem.

[2022-10-14 09:46] nsarupr opened #17563 "[Task]: Populate Plugin Ids for DTOs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add Plugin Ids for Action DTOs

[2022-10-14 09:50] dilippitchika commented on #14657
@ramsaptami can you check this once? It seems this issue has closed

[2022-10-14 09:53] ankitakinger commented on #17218
Re-opening to work on Save role API integration

[2022-10-14 09:57] dilippitchika commented on #11364
Closing since it's opposite to #6858

[2022-10-14 09:57] #11364 closed

[2022-10-14 10:02] dilippitchika commented on #9607
Will need to check #15487

[2022-10-14 10:20] jdglacier commented on #16593
Hey @dilippitchika, I need to be able to read PDF files from S3 (using the built-in S3 'Read file' command) and display the output base64 in the Document Viewer widget.

These files contain confidential data so public access to the S3 bucket must remain blocked (i.e. I can't just use the file URL in the Document Viewer widget).

[2022-10-14 10:20] Richarex commented on #17428
@AnaghHegde This issue is partially fixed the deployed part is still failing. Please refer the attached video: https://www.loom.com/share/20af829a03c34672a62f15bb6835a932

[2022-10-14 10:31] Richarex commented on #17383
This issue is fixed now verified it on release. Video link:- https://www.loom.com/share/4e10b05c956242daad9e227a35802274

[2022-10-14 10:33] #17529 closed

[2022-10-14 10:33] dilippitchika commented on #7028
https://www.notion.so/appsmith/List-issues-discussion-64d8e7b43c1d4bc5afe947f807f862ad

[2022-10-14 10:39] sribalajig opened #17564 "[Task]: Instrumentation for Entity Refactor based on AST"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

For every refactor that happens, capture the following data :

- Application ID
- User ID
- What is the type of entity that is being refactored - plugin, query, JS Object etc.
- How many matching references were found with that name
- How many references did we end up renaming from 4
- Was the renami

[2022-10-14 10:45] #15813 closed

[2022-10-14 10:45] #15929 closed

[2022-10-14 10:58] Richarex commented on #15879
@akash-codemonk this issue is still reproducible
- [ ] On switching from child branch to Master the data is not getting displayed and the user sees "Page Not Found" error. Please refer to the attached video:- https://www.loom.com/share/5ab72c0268a04dca8c2293f520de83c9

[2022-10-14 11:00] Richarex commented on #17234
This issue is still reproducible. Please refer to the attached video:- https://www.loom.com/share/5ab72c0268a04dca8c2293f520de83c9

[2022-10-14 11:05] sribalajig opened #17565 "[Task]: Instrumentation for Query Complexity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

For any action that is executed -
1. Which datasource is it executed on (i.e, what is the plugin type) - please also include REST APIs as part of the instrumentation
2. What type of action is it - **C**reate, **R**ead, **U**pdate or **D**elete?
3. If it is a SQL query, is it a prepared statement?
4.

[2022-10-14 11:12] akash-codemonk commented on #15879
As mentioned in https://github.com/appsmithorg/appsmith/issues/15879#issuecomment-1263426095 is not an issue with templates. So we will not be taking it up as part of template fixes.
@Richarex

[2022-10-14 12:01] sanjus-robotic-studio commented on #15542
Hey @dilippitchika @laveena-en Can you assign this issue to me?

[2022-10-14 12:18] sanjus-robotic-studio commented on #17143
Hey Can I work on this As there is no update for about 4 days

[2022-10-14 12:21] #9815 closed

[2022-10-14 12:50] #15002 closed

[2022-10-14 13:06] Tooluloope commented on #16583
closed in https://github.com/appsmithorg/appsmith/pull/17000

[2022-10-14 13:06] #16583 closed

[2022-10-14 13:23] ramsaptami commented on #14657
Issue with the list widget seems to have been fixed but there's something showing up for the canvas widget @dilippitchika
![image](https://user-images.githubusercontent.com/79509062/195857613-996bffba-b8f0-4694-bcf5-297fcf09af4d.png)

[2022-10-14 13:46] sentry-io[bot] opened #17567 "[Bug]: WebClientRequestException: Pending acquire queue has reached its maximum size of 1000; nested exception is reactor.netty.int..."
Sentry Issue: [APPSMITH-4KE](https://sentry.io/organizations/appsmith/issues/3670907950/?referrer=github_integration)

[code]

[2022-10-14 14:33] kamakshibhat-appsmith commented on #17148
@aswathkk @dilippitchika  Should we disable the Total Records Count and other on page change properties if Show Pagination is OFF and Server Side Pagination is ON ?
Because if pagination is OFF ,the user has no use of Total Records Count and other Page Change action.
Does this make sense? Or am i missing some sort of use case here

[2022-10-14 14:59] jsartisan commented on #10567
Fixed in #17228

[2022-10-14 14:59] #10567 closed

[2022-10-14 15:00] jsartisan commented on #14826
Removing the issue from reskinning epic. We will fixing this in list v2

cc: @dilippitchika

[2022-10-14 15:00] #14826 closed

[2022-10-14 15:02] jsartisan commented on #5915
Fixed in #17228

[2022-10-14 15:02] #5915 closed

[2022-10-14 15:02] jsartisan commented on #15603
Fixed in #17228

[2022-10-14 15:02] #15603 closed

[2022-10-14 15:03] jsartisan commented on #14635
Fixed in #17228

[2022-10-14 15:03] #14635 closed

[2022-10-14 15:04] jsartisan commented on #4354
This is already fixed.

cc: @dilippitchika

[2022-10-14 15:04] #4354 closed

[2022-10-14 15:45] subrata71 commented on #11691
This is not an issue. This is the behavior of `MySQL`. There is no `boolean` data type in `MySQL`. `MySQL` interprets `true` as `1` and `false` as `0`.  Even if you create a table with one column having a boolean data type `MySQL` won't restrict you to do so. It will allow you to create the table and you will notice that the type of your requested `boolean` column is of type `TINYINT`.

<img width

[2022-10-14 16:14] #17399 closed

[2022-10-14 16:15] #17452 closed

[2022-10-14 18:24] KechengZhang28 commented on #6626
Can I work on this?

[2022-10-15 00:26] adarshlilha commented on #17143
@dilippitchika I have changed the position of label to top for the input widgets
would need help on updating the default height of the label container, any pointers would be helpful, thanks

[2022-10-15 03:22] sumitsum commented on #11691
@subrata71 IMO, the issue here is that the user is trying to store string `true` or `false` but it is getting stored as 0 or 1 (even if `true` / `false` is wrapped within quotes ?) - can you please investigate from this PoV ?

[2022-10-15 06:23] ankitakinger commented on #17217
Re-opening as the Assigning & removing of roles from a group is yet to be worked on.

[2022-10-15 07:30] sondermanish opened #17569 "[Task]: Environment & Environment variable CRUD API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Read API
- Write API
- Update API
- Delete API

[2022-10-15 07:35] trishaanand opened #17570 "[Task EE] : Add missing user permissions to all groups and roles endpoints"

[2022-10-15 07:41] sondermanish opened #17571 "[Task]: Adding logic for test datasource for separate environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-15 07:45] sondermanish opened #17572 "[Task]: Modifying Oauth flows to support multiple environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Adding logic for refresh tokens for separate environments
- Adding logic for fetching tokens for separate environments

[2022-10-15 08:03] sondermanish opened #17573 "[Task]: Add logic for switching environments."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- expose endpoints for switching environments
- update datasource configurations

[2022-10-15 08:45] #17570 closed

[2022-10-15 08:45] #16226 closed

[2022-10-15 08:47] sondermanish opened #17574 "[Task]: Datasource Context management for datasource environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

-- Currently dscontext exists for each ds, however with introduction of environments, separate dscontext would be required for different environments (with diff configurations).  There needs to be a change in current structure to enable the flow with the environments.

### SubTasks

- [x] Change in key structure f

[2022-10-15 08:49] sondermanish opened #17575 "[Task]: Add functionality to select default environment for apps in edit mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-15 08:53] subrata71 commented on #11691
Thanks, Sumit. If I understand the requirement correctly then I would say that it's already resolved.

`{{true}} vs {{"true"}}`
The former is treated as a boolean and the latter is treated as a string now. This is already in release and waiting to be shipped into production through the next release.

@sumitsum

[2022-10-15 09:13] sondermanish opened #17576 "[Task]: Migration of current datasources to support environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks
- [x] Fetch envVars (environment Variables) tagged in the dynamic binding pathlist
- [x] Retrieve values of the envVars
- [ ] Evaluate datasource configuration with the values

How should we handle scenarios with errors in finding the environment variables?

[2022-10-15 09:48] sondermanish opened #17578 "[Task]: Add two environments Production & staging for workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [X] create environments for existing workspaces
- [X] hook functionality for automated creation of environments for new workspaces

[2022-10-15 09:50] sondermanish opened #17579 "[Task]: Create custom environment variable, not bound to any datasources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- create endpoint for environment variable creation

[2022-10-15 10:27] secure-crypto commented on #11684
Hi @dilippitchika, I have reproduced this issue and would like to work on this. Thanks.

[2022-10-15 10:48] secure-crypto commented on #7849
Hi @Nikhil-Nandagopal , I would like to work on this issue. Can you please assign it to me?

[2022-10-15 10:55] ankitakinger opened #17580 "[Bug]: All roles list becomes blank if the group name is changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I change the name of the ACL group, then the list of all roles under Roles tab becomes blank.

### Steps To Reproduce

1. Go to Admin Settings
2. Go to Groups section
3. Click on any of the existing Group
4. Check the all roles under Roles tab is not blank
5. Change its name by double clickin

[2022-10-15 11:16] trishaanand opened #17582 "[Bug] : User Group create and update APIs should return the same DTOs as list and get"

[2022-10-15 11:19] #17582 closed

[2022-10-15 12:24] ramsaptami commented on #5915
Selected row contrast is now legible as intended.

[2022-10-15 12:48] #17563 closed

[2022-10-15 12:52] sumitsum commented on #11691
@subrata71 apologies, the video use case looks slightly different - can you please check if this works or if we can make it work - the user has `{{my_binding}}` where the binding itself receives the value as a string `true` . The intent of the user is to save the string `true` as a string since the column type is varchar.

[2022-10-15 15:23] BhaskarKarnatak commented on #14044
I would like to work on this issue. Can you assign this to me if possible?

[2022-10-15 19:37] subrata71 commented on #11691
@sumitsum This should work as you said.
If the value of `my_binding` is evaluated to string "true" then "true" will be stored in that column.

[2022-10-16 01:41] tanvibhakta opened #17584 "[Bug]: FilePicker functions throwing error on local"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to use the FilePicker, I see some errors on the console and the FilePicker doesn't work as expected.

<img width="1676" alt="Screenshot 2022-10-14 at 11 56 58 AM" src="https://user-images.githubusercontent.com/13763558/196013928-81aa46de-473f-47bb-b84c-a0c99767d0e8.png">

### Steps To R

[2022-10-16 04:45] sandeep-devarapalli commented on #12153
Looking forward to this.

[2022-10-16 10:13] Rishabh-Rathod commented on #7511
We are not planning to work on this anymore. Sorry, for the confusion.

Other good first issues link : https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22

[2022-10-16 10:13] #7511 closed

[2022-10-16 11:24] trishitapingolia commented on #11684
I am little confused as I tried adding menu buttons but they perfectly working. Can anyone clear me out?
![Screenshot 2022-10-16 4 53 50 PM](https://user-images.githubusercontent.com/35962310/196032629-490c5448-ae18-44d7-9b22-df1fad288a06.png)

[2022-10-16 12:05] ayushpahwa opened #17588 "[Feature]: Fetch and store list of envs from the server"
Add a call to fetch the env from the server after the applications list is fetched and store it in the redux store
- Hide this feature behind a feature flag
- Add API call to fetch env from server
    - Needs to happen after the application list is fetched
- Introduce env variables to the namespace
    - This will be limited to datasources
    - Should be extendable to allow for the whole app

[2022-10-16 12:05] ayushpahwa opened #17589 "[Feature]: Show the current env at the bottom bar and allow the switch to another env"

[2022-10-16 12:06] ayushpahwa opened #17590 "[Feature]: UI update for datasource config editor"
- Update the datasource configuration editor to have the manage env button, this will be controlled by a variable in the root config of the datasource (whether the DS is going to have env or not).
    - Pre-requisite
        - Need to update `form.json` before this or add a similar method as we did with UQI
    - Update the datasource form config type
    - Update UI to add a manage env button on

[2022-10-16 12:07] ayushpahwa opened #17591 "[Feature]: Add new page for environment editing"
- Add a new page for environment editing
    - Create a new page with save functionality and the option to go back to datasource forms
    - Fetch the currently loaded datasource config and the env config
    - Add parsing logic to convert the `form.json` to UI for environment editing.
    - Allow for dropdowns to have a list of value

[2022-10-16 12:08] ayushpahwa opened #17592 "[Feature]: Connect save env API with UI"
- Save and update the value of the env in-store and make an API call to the server.
- Derive variable name from the root env name mentioned in the datasource config

[2022-10-16 12:09] ayushpahwa opened #17593 "[Feature]: Connect datasource config editor with env values"
- Add logic to disable/enable the field in the current config editor if the value is updated in the env editor.
    - Make a method to check if the mentioned variable in curly braces is really a valid env variable or just a static string with curly braces.
    - Replace the value of the config with the value from the env variables.
    - While editing the DS config, the fields connected to the env

[2022-10-16 12:10] ayushpahwa opened #17594 "[Feature]: Update test flow of datasource config"
- Datasource edit page changes
    - When we are on the edit datasource page, the user can switch the view of the current datasource. The test configuration button will test the same env even though the overall config is different.
    - Add the env variable to the test config API call
    - The `new query` button is to be moved up with the `edit` button
    - There is a delete datasource icon add

[2022-10-16 12:11] ayushpahwa opened #17595 "[Feature]: Update save flow of datasource config"
- Save datasource config
    - Add all the variable names to the datasource dynamic binding list
    - Need to add any relevant notifications on save actions

[2022-10-16 12:19] sumitsum commented on #11691
@ramsaptami can you please verify if this has been fixed in release ?

[2022-10-16 12:31] ayushpahwa commented on #17595
Not a duplicate, has different functionality

[2022-10-16 18:23] #17361 closed

[2022-10-16 19:02] utchak160 commented on #7849
Hey @Nikhil-Nandagopal May I work on this issue?

[2022-10-16 23:21] nzidol opened #17597 "[Feature]: In table widget have separate (customizable..) color for selected row and highlighted row."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When moving the mouse across the table the row under the cursor is highlighted. When selecting a row the same color is used to indicate the selected row. Users can get confused when clicking twice on a row, the row still shows in highlighted color but dependent widgets are empty. Only when moving the

[2022-10-17 03:45] hetunandu opened #17598 "[Task]: Maintain cursor position when changing context"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Need to update code editor to allow for storing and restoring of cursor position when the input gets back in focus

[2022-10-17 04:05] #17422 closed

[2022-10-17 04:06] #15400 closed

[2022-10-17 04:06] #15317 closed

[2022-10-17 04:06] #17423 closed

[2022-10-17 04:09] tanvibhakta opened #17599 "[Task]: Move variables from `ads/common` to design-system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-17 04:15] SatishGandham commented on #17349
Done.

[2022-10-17 04:15] #17349 closed

[2022-10-17 04:15] SatishGandham commented on #17358
Done

[2022-10-17 04:15] #17358 closed

[2022-10-17 05:01] #17352 closed

[2022-10-17 05:01] #13692 closed

[2022-10-17 05:02] akash-codemonk commented on #17428
When the deployed app is refreshed GET https://release.app.appsmith.com/api/v1/pages?pageId=<page-id>&mode=PUBLISHED returns
[code]

Redeploying the app works fine, but it is expected that the current deployed version continue to work the same after forking a template and not redeploying. @AnaghHegde

[2022-10-17 05:16] #17437 closed

[2022-10-17 05:24] akash-codemonk commented on #17382
Duplicate of https://github.com/appsmithorg/appsmith/issues/15920. Hidden pages are not visible as of now.

[2022-10-17 05:24] #17382 closed

[2022-10-17 05:34] akash-codemonk commented on #17276
cc @kocharrahul7 @RoopKrrish9696

[2022-10-17 05:46] etherral17 opened #17602 "[Bug]: The POST API of nocodb is not working properly in appsmith ."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I tried to run the nocodb's POST API in appsmith , I get a row of null values instead of the option to fill those values of the row .
![image](https://user-images.githubusercontent.com/17555725/196097984-8105357f-f1b1-4f9d-966c-60aac44ca893.png)

I need to change these values and update in th

[2022-10-17 05:48] sumitsum commented on #17155
@rohan-arthur @felix-appsmith @jnikhila any update on this ?

[2022-10-17 06:22] dilippitchika commented on #15542
Greetings @sanjus-robotic-studio @Hongkai-Zhai thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-17 06:23] dilippitchika commented on #14657
@aswathkk can you check this once? Updating the issue.

[2022-10-17 06:26] jnikhila commented on #17155
@rohan-arthur / @felix-appsmith - Could you please share the first draft for the above? #13466, #13267, #13266, #13021 are still with the engineering team. CC: @sumitsum

[2022-10-17 06:26] dilippitchika commented on #17148
@kamakshibhat-appsmith we will fix this in another epic - https://github.com/appsmithorg/appsmith/issues/13180

[2022-10-17 06:29] dilippitchika commented on #17143
Thanks @adarshlilha you don't have to update the label container height but the height of the widget which gets dropped by default.

@yaldram @iamrkcheers can you folks help?

[2022-10-17 06:34] dilippitchika commented on #11684
Hi @trishitapingolia this issue is fixed now. Looks like the only issue pending is a missing scroll on the menu items inside the widget (image 2 in the issue description)

[2022-10-17 06:34] dilippitchika commented on #11684
Greetings @secure-crypto thanks for showing interest 🎉 , This is all yours. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-17 06:39] btsgh commented on #17352
Tested this fix and the tests have been updated above .. Closing this issue as fixed.

[2022-10-17 06:41] yaldram commented on #17143
Hey @adarshlilha when we change the label position to top you can see the widget is overflowing the gray box -
<img width="186" alt="image" src="https://user-images.githubusercontent.com/13429535/196106002-a8ab9a5b-3153-46d7-ab0f-fa38b2c2110f.png">
I think we might need to update the `rows` property inside the `index.ts` files.
<img width="406" alt="image" src="https://user-images.githubuserconten

[2022-10-17 06:46] yaldram commented on #14657
This error is thrown on line `224`, `WidgetFactory.tsx`. I think - all Containers have a `Canvas` widget inside of them. And we don't have a `propertyPaneConfig` for the canvas widget, maybe we don't log this error if the Widget type is `CANVAS_WIDGET`.

[2022-10-17 06:49] dhruvikn opened #17604 "[Bug]: The tooltip for the orange deviation dot in property pane is moving out of the screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If the property name is a little long and the user has selected a value that is different from the theme, the deviated form theme orange dot appears. When hovering over it, the tooltip overflows from the screen.

![image](https://user-images.githubusercontent.com/22471214/196105166-4185d716-02f7-4

[2022-10-17 07:11] alinaepanaite opened #17606 "[Bug]: can't remove user - internal server error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

when i want to remove a user from my app, i get an internal server error.

### Steps To Reproduce

1. go to apps
2. go to member
3. select "delete' icon on member's line
4. get error
![Screenshot 2022-10-17 at 10 05 33](https://user-images.githubusercontent.com/115975936/196111067-1fc38f3c-1394-47

[2022-10-17 07:14] pranavkanade opened #17607 "[Feature]: Allow pdf file navigation from local machine using navigateTo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

<img width="861" alt="Screenshot 2022-10-17 at 12 39 33 PM" src="https://user-images.githubusercontent.com/13262095/196111442-199b72a7-89a7-4f82-878a-949270d29f71.png">

A user should be able to hyperlink to pdf file in their local disk

### Why should this be worked on?

Feature requested by EE user

[2022-10-17 07:34] dilippitchika commented on #14657
Yes @yaldram looks like we have to add it in log blacklist

[2022-10-17 07:49] etherral17 opened #17610 "[Bug]: While running a create Query in the appsmith using postgres database , it shows "Execution failed with status 5005 ". Can someone pour some light about the issue here ."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Normally when I have connected other databases like mongodb atlas and even nocodb , I have observed that it has ran successfully . Now with the postgres database only it is showing error 5005
![image](https://user-images.githubusercontent.com/17555725/196118515-fa813dfc-d9d1-48b0-89e6-bf01ba704d71

[2022-10-17 07:59] pranavkanade opened #17611 "[Bug]: Input widget is not reset even after closing and reopening the modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/87be9dac1a3b463a9d06cc2637ade1e0

The input widget doesn't reset automatically even after closing and reopening the modal

### Steps To Reproduce

1. Create a modal with input widget
2. Add value to input widget
3. Close and reopen, you'll see the persisted value.

### P

[2022-10-17 08:11] Nikhil-Nandagopal commented on #17610
@etherral17 it's likely that the amount of data in your database is too large to load in a single query. Could you try by adding a limit to your query and paginating your data?
https://docs.appsmith.com/core-concepts/data-access-and-binding/displaying-data-read/display-data-tables#pagination

[2022-10-17 08:12] Nikhil-Nandagopal commented on #17602
@etherral17 their post API expects the row to be inserted in the body field of the API. You can configure this under the tab named 'Body' in the screenshot you sent

[2022-10-17 08:12] #17602 closed

[2022-10-17 08:25] sribalajig opened #17613 "[Bug]: Evaluated value of query is undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I write a query using prepared statement and want to see the evaluated value, the query is shown as "undefined".

When I turn off prepared statement, the query is no longer undefined. When I turn on prepared statement again the query is no longer "undefined", the parameters are not bound corr

[2022-10-17 08:26] #17613 closed

[2022-10-17 08:26] sribalajig commented on #17613
Duplicate of https://github.com/appsmithorg/appsmith/issues/11621

[2022-10-17 08:29] SidHiremath commented on #11522
In our Environment :
Outbound connections will be blocked.
it is not allowed to connect to other than internal services, and updates can only be performed from Octopus via packages.

Could you please let us know if is there any way to deploy using octopus?

[2022-10-17 08:36] bharath31 commented on #11466
@zzgvh Nikhil and I had an internal discussion. It appears that you are expecting `onTextChange()` event to be triggered based on a system event `storeValue()` due to binding. I'd like to clarify that all event handlers are triggered only on user events and not on system events. This is why store changes from one input widget are not propagated to another on your app.

### Here's an implementation

[2022-10-17 08:40] akash-codemonk commented on #17428
Nope this is without git.

[2022-10-17 08:41] AnaghHegde commented on #17428
My bad, i misunderstood the issue.

[2022-10-17 08:41] etherral17 commented on #17610
@Nikhil-Nandagopal  Hey nikhil , I have freshly prepared that postgres database and has only 3 tables with few data points. I would need some points where you require more info . Can it be that I am using free docker version of appsmith , thats why the problem exists ?
![image](https://user-images.githubusercontent.com/17555725/196131225-d4964511-d11b-4feb-8bbb-dda95eefcfe0.png)
You can see in thi

[2022-10-17 08:47] dilippitchika commented on #15602
Fixed in latest release

[2022-10-17 08:47] #15602 closed

[2022-10-17 09:08] Nikhil-Nandagopal commented on #7849
@secure-crypto since you asked for it first, I'm assigning it to you

[2022-10-17 09:08] Nikhil-Nandagopal commented on #7849
@utchak160 please have a look at our other good first issues

[2022-10-17 09:09] ankitakinger commented on #17101
Duplicate of https://github.com/appsmithorg/appsmith/issues/17101

[2022-10-17 09:09] #17101 closed

[2022-10-17 09:14] Nikhil-Nandagopal commented on #17610
@etherral17 it's then likely that you connection is not configured correctly/. Can you go to the datasource and try to hit the test button? Maybe a value in the connection is incorrect

[2022-10-17 09:34] Schniemax opened #17617 "[Feature]: Dynamically generating form structures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, the function "Generate from data table" already exists, which reads values from MongoDB and creates a nice editor. However, all components are generated statically and are therefore not customizable if multiple data types are present in the MongoDB collection. For example, a field "value" c

[2022-10-17 09:43] pranavkanade commented on #5390
@rimildeyjsr did we release this feature? There is no document around it?
cc - @jnikhila

[2022-10-17 11:21] riteshkew opened #17619 "[Bug]: Autosave failing for large JSObjects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

To quote the user
"I have a massive issue here, I was editing JSObject in my app and while I was editing I constantly meet performance issues on the editor. The autosave feature keeps having issues and it takes so long to save. Sometimes it outright crashes or resets my codes to the previous save

[2022-10-17 11:34] shockdav opened #17620 "[Bug]: HTML tags are being shown in description field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

HTML tags are being shown in the description field after I upgraded my appsmith version from v1.7.0 to v1.8.4.

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/16309142/196166401-b0fa09cc-d580-4421-acc8-ee162d3d76a2.png)
![image](https://user-images.githubusercontent.com

[2022-10-17 12:07] Nikhil-Nandagopal commented on #17620
@dilippitchika was something changed in the table or the RICH text editor? I believe the Rich Text Editor always generated HTML content

[2022-10-17 12:17] Nikhil-Nandagopal commented on #17617
@Schniemax I'd like to learn a bit more about your use case. As I understand it, in your data, the value type of the key is dynamically changing but in the case of the JSON form, it should automatically update based on the type of data

[2022-10-17 12:20] Nikhil-Nandagopal commented on #17606
@alinaepanaite after you refresh the page is the member still not deleted? How many users do you have in the workspace?

[2022-10-17 12:21] pranavkanade commented on #17606
@alinaepanaite, are you using Appsmith on a self-hosted instance or Appsmith Cloud? If it's a self-hosted instance, can you please provide us the backend logs? You can find them in `/stacks/logs/backend/backend.log`

[2022-10-17 12:22] mohanarpit commented on #11522
@SidHiremath I'm sorry I didn't completely understand your question. Can you elaborate on what is "Octopus"? Is it a build tool like CircleCI/Jenkins?

[2022-10-17 12:28] Nikhil-Nandagopal commented on #16593
@jdglacier you can generate a signed URL for the file with an expiry time and use that to display it in the document viewer

[2022-10-17 12:36] Nikhil-Nandagopal commented on #17045
@arunvjn @bharath31 will this be possible after enabling fetch?

[2022-10-17 12:36] dilippitchika commented on #17597
@nzidol we have fixed in https://github.com/appsmithorg/appsmith/issues/10995 - This should be available next week. Closing the issue for now, please let me know if you wish to reopen

[2022-10-17 12:36] #17597 closed

[2022-10-17 12:38] ChandanBalajiBP opened #17623 "[Task]: Test cases to verify loading of AST module in client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Write a jest test case to verify the AST-based entity refactor. This also verifies if AST is loaded or not.

[2022-10-17 12:38] spark-c commented on #15938
Outline complete and merged, draft in-progress

[2022-10-17 12:39] rohan-arthur commented on #10827
@pbjorklund thank you for following up, agree that this should just work. Will check with the team and update you here

[2022-10-17 12:39] Nikhil-Nandagopal commented on #17403
@zhirzh the default text can be invalid and we expect developers to handle that. The validation only runs for the values input by the end user

[2022-10-17 12:39] #17403 closed

[2022-10-17 12:40] spark-c commented on #17478
Update: changes to the text are pretty much complete, now am just gathering media to replace outdated screenshots and video from the various OIDC platforms

[2022-10-17 12:44] dilippitchika commented on #17620
@Nikhil-Nandagopal previously there was a bug in RTE which is described here - https://github.com/appsmithorg/appsmith/issues/7231

We fixed this by upgrading the library and it introduced a default tag in the RTE. But RTE always outputs a html type field, so this problem should not have occured. CC @keyurparalkar

@shockdav if you only want to allow a text input without any html then i suggest yo

[2022-10-17 12:46] Nikhil-Nandagopal commented on #17404
Closing this because the error will be shown on focus as is the UX for all inputs

[2022-10-17 12:46] #17404 closed

[2022-10-17 12:51] Nikhil-Nandagopal commented on #15122
@rohan-arthur I think it triggers when you run a query with more than X mb of data defined by the backend

[2022-10-17 12:51] jdglacier commented on #16593
@Nikhil-Nandagopal I haven't read much up on it, but I thought that generating signed URLs required the AWS SDK?

[2022-10-17 12:53] Nikhil-Nandagopal commented on #16593
@jdglacier no that is an option in the S3 query under the list files operation
<img width="1331" alt="Screenshot 2022-10-17 at 6 22 57 PM" src="https://user-images.githubusercontent.com/3897254/196182011-5cad9583-7fad-486c-8e6a-af121ed8dc46.png">

[2022-10-17 12:54] jdglacier commented on #16593
@Nikhil-Nandagopal My mistake, I don't know how I missed that. Thanks!

[2022-10-17 12:59] SidHiremath commented on #11522
Octopus similar to jenkins and it is an Automated deployment for . NET.    Octopus works with your build server to enable reliable, secure, automated releases of ASP.NET applications and Windows Services into test, staging and production environments, whether they are in the cloud or on-premises.

[2022-10-17 13:21] #17610 closed

[2022-10-17 13:21] etherral17 commented on #17610
it got solved by recreating the database , a fairly simple solution delete the database and its metadata and recreate it .

[2022-10-17 13:24] #11000 closed

[2022-10-17 13:34] dilippitchika commented on #17620
In the older version as well, if the end user presses shift+enter we add `<p>` tags everywhere. The change in #7231 fixed it to make the RTE consistent and always provide a html. We never expected it to work without html tags.

[2022-10-17 13:59] nsarupr opened #17626 "[Task - EE]: api for updating the name of Role using ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update the Name of the Role using the ID

[2022-10-17 15:16] #16456 closed

[2022-10-17 15:20] pranavkanade opened #17628 "[Feature]-[68]:Unable to connect to visual studio (azure devOps) git repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The current git-sync functionality expects repos with `.git`, a community user was not able to connect to their repo.
REF - https://community.appsmith.com/t/unable-to-connect-to-visual-studio-azure-devops-git-repo/1536

### Steps To Reproduce

The user shared this git repo URL - `blahblah@vs-ssh.v

[2022-10-17 15:44] SarojWasti opened #17629 "[Docs]: Global Functions Doc Missing Heading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/GlobalFunctions.md

### Describe the problem

Unlike other, GlobalFunctions.md doesn't have a heading at all which could be improved.

### Describe the improvement

Adding `# Global Functions Doc` as heading for GlobalF

[2022-10-17 16:06] dilippitchika commented on #17397
Duplicate of #11101

[2022-10-17 16:06] #17397 closed

[2022-10-17 16:15] mohanarpit commented on #17503
@sumitsum Thanks for raising the issue. Can you please help with the following information:
1. Do we know if this API was working sometime back & suddenly started to fail?
2. Did the user start seeing this failure after the application was connected to Git?
I'm asking for this information in order to triage the problem better.

[2022-10-17 16:19] ginilpg commented on #16941
@hetunandu The back button issue might be resolved by deleting the navigation history, but the same errors still appear if the URL is accessed from the browser's history. Instead of clearing the navigation history, should we focus on fixing the redirection problem when there is no user authentication?

[2022-10-17 16:26] dilippitchika commented on #17402
These items are from the library, we might not be able to fix these

1,2 and 5 we can fix

[2022-10-17 16:32] zhirzh commented on #17402
got it. can i pick this for ✨ hacktober ✨ ?

[2022-10-17 16:48] ginilpg commented on #6325
Issue still persists with query pane and property pane. Need to prioritise this @kocharrahul7

[2022-10-17 17:11] #776 closed

[2022-10-17 17:13] sumitsum commented on #17503
Hi Arpit,
(1) The user has not explicitly mentioned so but the way he has phrased his problem it does seem like the queries were working before and stopped working later on.
(2) The user has not mentioned connecting to Git at any point. However, we can confirm this directly with the user as well. The user is reachable via email. I have sent an email to the user with the questions and also added yo

[2022-10-17 17:18] trishitapingolia commented on #16743
Can i work on this issue ?

[2022-10-17 17:33] nidhi-nair opened #17630 "[Bug]: Autogenerated user permission group does not have tenantId"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

User permission group needs to be scoped by tenants as well.

### Steps To Reproduce

User permission group needs to be scoped by tenants as well.

### Public Sample App

_No response_

### Version

Cloud

[2022-10-17 17:35] subrata71 commented on #10827
### Workaround
@pbjorklund
This is definitely an issue. The team will look into this and will get back with a permanent solution. To unblock you, can you please try the following query and let us know if this serves the purpose for now?

[code]

[2022-10-17 18:22] sanjus-robotic-studio commented on #15542
@dilippitchika I have created a PR for this Issue

[2022-10-17 19:09] tanishk-23 commented on #17224
@sumitsum can I work on this issue?

[2022-10-17 19:11] tanishk-23 commented on #17504
@sumitsum can I work on this issue?

[2022-10-17 19:36] dentych commented on #11038
Hello.
I was encouraged by Appsmith support (Amelia) to write a comment here, as I requested being able to make a list view with dynamic height (so all list items is visible on the page, without pagination).

I don't remember when I've last made a fixed sized window in a web app, and expected pagination to be an option rather than a requirement. It also turned hard to decide how tall to make the l

[2022-10-17 20:40] alinaepanaite commented on #17606
no...i have been trying for a week now to delete the user. and i get the same error since.

[2022-10-17 20:44] alinaepanaite commented on #17606
https://user-images.githubusercontent.com/115975936/196279433-9d97ade3-2286-40e0-be0c-0e71c51f5af9.mov

[2022-10-17 21:42] felix-appsmith opened #17635 "[Feature]: Base64 files larger than 5 Mb uploaded to a Postgres database fail to display"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, it is not possible to easily upload a PDF file larger than 5 MB to a Postgres database and display it in an Iframe or document viewer because files larger than 5mb are converted to blob and blob accesses a URL to which widgets cannot access directly

### Why should this be worked on?

It wo

[2022-10-17 23:44] sumitsum commented on #17504
@tanishk-23 thanks for showing interest in contributing to Appsmith. However, this issue does not seem like a good candidate since this issue is not easily reproducible. I request you to pick up another issue preferably with `Good First Issue` label. Also, please go through our [code contribution guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidel

[2022-10-18 00:51] Curiouspaul1 commented on #2361
any update on this

[2022-10-18 02:06] wkethman opened #17637 "[Bug]: Unable to reset password after recent update v1.8.5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After recent update to v1.8.5 I am unable to login under my default admin email address. When I request to reset the password it does not send the email to reset.

To test this functionality, I created a second user and was able to request and reset the password successfully so it is configured co

[2022-10-18 03:01] Akash926988 commented on #7620
Hi @Nikhil-Nandagopal Is the feature Change Map pin color on Map widget working now?
Really need to incorporate this.

[2022-10-18 03:14] #17626 closed

[2022-10-18 03:32] dilippitchika commented on #15542
Thanks @sanjus-robotic-studio, we will assign reviewers for the PR and test it

[2022-10-18 03:38] #16808 closed

[2022-10-18 04:23] #11466 closed

[2022-10-18 04:33] laveena-en commented on #16948
Tested and verified the fix for the entire select widget family on this PR.

[2022-10-18 05:02] aswathkk commented on #17472
@iamrkcheers

As @sbalaji1192 mentioned, the passthrough behaviour won't work if the value is 0. In those cases, the returned value becomes the min value provided in the configuration.

The way to fix this behaviour is to change `parsed || config.params.min || 0` to `parsed ?? config.params.min ?? 0`.
If we do that, existing applications might break wherever we have configured the min value to be

[2022-10-18 05:15] sbalaji1192 commented on #17472
@aswathkk We should name the flag `PassThroughOnZero` or along that line. otherwise, it will lead to confusion as we are passing through the other values already.

[2022-10-18 05:18] aswathkk commented on #17472
@sbalaji1192 Yeah. Then this parameter should be there only for NUMBER type validation. Let's do it like that then.

[2022-10-18 05:22] josiah-roberts commented on #9577
Just want to chime in that our org would majorly benefit from this; any way to programmatically manipulate, save, or default the filters would be a game changer.

[2022-10-18 05:25] Nikhil-Nandagopal commented on #2361
@Curiouspaul1 no and we won't be solving this so I'm closing this issue

[2022-10-18 05:25] #2361 closed

[2022-10-18 05:32] #16994 closed

[2022-10-18 05:32] #13620 closed

[2022-10-18 05:32] #15578 closed

[2022-10-18 05:32] #17072 closed

[2022-10-18 05:32] #7462 closed

[2022-10-18 05:42] ankitakinger commented on #16741
re-opening for remaining sub-tasks

[2022-10-18 06:21] dilippitchika commented on #9577
Hey @josiah-roberts @TabsorDevGO @khyoz thanks for commenting, we are starting design work on this project and I would like to talk to you about your use-case. Would you be open for a call to discuss more?

If yes, can you please block a slot which works for you - https://calendly.com/dilip_pitchika/30min?month=2022-10

[2022-10-18 06:37] #17333 closed

[2022-10-18 06:37] Curiouspaul1 commented on #2361
@Nikhil-Nandagopal why won't this issue be addressed if i may ask?

[2022-10-18 06:53] shadabbuchh opened #17641 "[Bug]: Bad UI in Toast message on dismissing tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The UI for the toast message seems to be broken when we dismiss the tutorial for a freshly signed up user on `https://release-ee.appsmith.com`.

<img width="1920" alt="Screenshot 2022-10-18 at 12 10 54 PM" src="https://user-images.githubusercontent.com/39921438/196356736-16b44139-ba16-4b45-adef-1a

[2022-10-18 06:56] Nikhil-Nandagopal commented on #2361
@Curiouspaul1 because we believe that you need to both interact with widgets and configure their properties without needing to enter separate modes for them. We'll look for ways to ensure dragging a widget is possible wherever you hold it from but we'll avoid a separate mode

[2022-10-18 07:04] Tallon66 commented on #12414
@prapullac Could I please be assigned this issue.

[2022-10-18 07:13] subrata71 commented on #10827
This is not straightforward to achieve. It will take special handling of the `OffsetDateTime` to let it be parsed through Jackson. A possible solution could be found in this [SO post](https://stackoverflow.com/questions/41876037/jackson-date-format-for-offsetdatetime-in-spring-boot).

[2022-10-18 07:14] shadabbuchh opened #17642 "[Bug]: Wrong default binding for image in a List item"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The default binding for the image in the List item is `{{currentItem.img}}` whereas it should be `{{currentItem.image}}`.

<img width="1920" alt="Screenshot 2022-10-18 at 12 38 46 PM" src="https://user-images.githubusercontent.com/39921438/196361298-bff0fd04-3bcf-4135-b04d-dea60dd13239.png">

###

[2022-10-18 07:16] #17642 closed

[2022-10-18 07:20] tanishk-23 commented on #17641
@shadabbuchh can I work on this issue?

[2022-10-18 07:33] ramsaptami opened #17645 "[Bug]: Toast message font has changed on Windows system and does not conform to other fonts on the application/system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On a Windows machine, a toast message now has a different font from before, one that does not conform to existing fonts on the application and is small.

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/196364283-0fb5f377-c1b3-4b9f-af17-b5dcd17fbb12.png)
![image]

[2022-10-18 07:47] nsarupr opened #17646 "[Task - EE]: Add API endpoint to get Users using Add Users Permission"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### SubTasks

- Add API endpoint to get Users using Add Users Permission

[2022-10-18 07:51] nsarupr opened #17647 "[Task - EE]: Change return type for Create Permission Group to RoleViewDTO"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Change return type for Create Permission Group to RoleViewDTO

[2022-10-18 07:52] shadabbuchh opened #17648 "[Bug]: Incorrect alignment of selected options/placeholder when user connects a query to widget from query page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon connecting a query with MultiSelect/TreeSelect widget from the query page by clicking on `Select Widget` button the alignment of the placeholder/selected options changes.

**Note:** This is a regression i.e. it is reproducible only on `https://release-ee.appsmith.com` & not in prod.

https://

[2022-10-18 07:53] tanishk-23 commented on #17647
@nsarupr can I work on this issue?

[2022-10-18 08:20] ohansFavour opened #17650 "[Task]: Allow multiple error addition and removal in Appsmith Debugger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Description

Currently, there is no way to add or remove multiple errors from the Appsmith console. If there are a lot of errors, this could have performance issues as a result of multiple dispatch calls and store updates.

[2022-10-18 08:31] shadabbuchh opened #17651 "[Bug]: Scroll bar does not appear unless user scrolls down in a TreeSelect dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If a TreeSelect widget has too many options the scroll bar does not appear when the user clicks on the dropdown. This can be misleading for the user as they will have no way of knowing that additional options exist from the look of it.

https://www.loom.com/share/feb351e858ff47f79cef64b90d3552ce

[2022-10-18 08:36] hiteshjoshi commented on #16650
This doesn't require a solve. This happens only in the development servers where react renders twice. Based on discussion with @berzerkeer @IAmAnubhavSaini

[2022-10-18 08:36] #16650 closed

[2022-10-18 08:49] abutalha commented on #4404
Please add Arabic and RTL support. we can bring you a huge user base.

[2022-10-18 09:02] berzerkeer commented on #16650
Hey no @hiteshjoshi , that was not the case. I checked we are not enabling strict mode nor using React 18. So the problem lies somewhere else. We just had that discussion as a possibility but didn't conclude 😅 . So this should be reopened AFAIK.Sorry that this was not communicated to you prior.

[2022-10-18 09:04] RakshaKShetty opened #17653 "[Bug]-[128000]:The vertical scroll bar is missing in the response tab for database queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The vertical scroll bar  is missing in the response tab for database queries
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/196385974-9af5249b-cf43-4941-92aa-4ea7cb264025.png">

### Steps To Reproduce

1. Add a Mock database users
2. Now run the select query

[2022-10-18 09:07] zzgvh commented on #11466
Ah, yes I see what you mean. Although my solution works for all cases except the _one case_ described above, so to an implementer who's not 100% read up on how the underlying machinery works I think you can understand that it looks like a bug. :wink: :lady_beetle: Anyway, thanks for taking the time to straighten things out for me!

[2022-10-18 09:09] SatishGandham commented on #14355
We are failing the perf tests when there is a possible perf regression and posting a link to the performance dashboard

[2022-10-18 09:09] #14355 closed

[2022-10-18 09:09] shadabbuchh opened #17654 "[Bug]: Incomplete error message for Rating widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the `Allow Half Stars` property is turned off and the user enters a decimal value for the `Default Rating`, an incomplete error message is displayed.
<img width="627" alt="Screenshot 2022-10-18 at 2 35 06 PM" src="https://user-images.githubusercontent.com/39921438/196387604-25fcb3a0-4527-4d68

[2022-10-18 09:09] SatishGandham commented on #14354
We cleaned up the tests and the runs are not stable.

[2022-10-18 09:09] #14354 closed

[2022-10-18 09:10] SatishGandham commented on #14353
Run ID gives the information needed.

[2022-10-18 09:10] #14353 closed

[2022-10-18 09:10] SatishGandham commented on #14356
We run tests on merge to release.

[2022-10-18 09:10] #14356 closed

[2022-10-18 09:11] SatishGandham commented on #16386
Done.

[2022-10-18 09:11] #16386 closed

[2022-10-18 09:12] SatishGandham commented on #17118
Done.

[2022-10-18 09:12] #17118 closed

[2022-10-18 09:12] SatishGandham commented on #17123
closed by  @Rhitottam

[2022-10-18 09:12] #17123 closed

[2022-10-18 09:12] SatishGandham commented on #17124
We are using both.

[2022-10-18 09:12] #17124 closed

[2022-10-18 09:13] RakshaKShetty commented on #17653
Facing this issue in specific query

[2022-10-18 09:14] SatishGandham commented on #17127
Closed by @Rhitottam

[2022-10-18 09:14] #17127 closed

[2022-10-18 09:15] SatishGandham commented on #17128
Fixed by @Rhitottam

[2022-10-18 09:15] #17128 closed

[2022-10-18 09:15] SatishGandham commented on #17455
Done

[2022-10-18 09:16] SatishGandham commented on #17456
Done.

[2022-10-18 09:16] #17456 closed

[2022-10-18 09:16] SatishGandham commented on #17457
Closed by @Rhitottam

[2022-10-18 09:16] #17457 closed

[2022-10-18 09:26] shadabbuchh opened #17655 "[Bug]: Rating widget | Error message does not disappear unless hard refresh is done"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon enabling the `Allow Half Stars` property, the error message that appears when the user enters a decimal value for `Default Value` does not disappear.
However once we do a hard refresh, the error message disappears.

https://www.loom.com/share/92fc1e089d5145e4bba01941792818c8

### Steps To Rep

[2022-10-18 09:29] ramsaptami commented on #11691
Still getting saved as 0/1 when the value is false/true @sumitsum

[2022-10-18 09:30] prapullac commented on #12414
@Tallon66 : Can you please pick one from the list mentioned below
https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest
Thank you and wish you the best

[2022-10-18 09:46] somangshu commented on #7620
@Akash926988 this is fixed and working now; To know more, checkout our [maps docs](https://docs.appsmith.com/reference/widgets/maps#widget-properties); See the default properties were you place you pins on the map, you can add the prop color to customize your pin

[2022-10-18 09:47] somangshu commented on #11038
cc @dilippitchika @ashit-rath @Tooluloope  check this out 👆

[2022-10-18 09:48] somangshu commented on #16743
Greetings @trishitapingolia, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

[2022-10-18 09:48] nidhi-nair opened #17656 "[Task]: Server side feature flag for datasource env"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-18 10:12] sumitsum commented on #11691
@ramsaptami asking just for confirmation - were you able to verify the use case exactly as shown in the description video ?

[2022-10-18 10:21] #17656 closed

[2022-10-18 10:22] kamakshibhat-appsmith opened #17659 "[Bug]: File picker Cancel icon not working as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Pre-requisite: Upload a file in the file picker
When I click on the cancel icon in the file picker, I can see all the uploaded items being removed from the view but the reference are still there.

Expectation  : On clicking Cancel, Remove all the files from the modal and deleting references

Curre

[2022-10-18 10:28] IAmAnubhavSaini opened #17660 "[Task]: Move carousel from CE to design-system repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Move https://github.com/appsmithorg/appsmith/blob/release/app/client/src/ce/pages/Upgrade/Carousel.tsx to design-system
- Add functionality to allow for triggers and target to be either on left or right. As of today, this triggers are on the left, and target on the right.

[2022-10-18 10:28] kamakshibhat-appsmith opened #17661 "[Bug]: File picker not retaining the thumbnail when are moving from the canvas and coming back to the widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

File picker not retaining the thumbnail when are moving from the canvas and coming back to the widget

### Steps To Reproduce

1. Upload a file
2. Move to query page
3. Come back to the canvas and click on the file button

### Public Sample App

_No response_

### Version

Release

[2022-10-18 10:33] muezz opened #17662 "[Bug]-[25]:Copying a Chart widget shows an error for missing JS function."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am copying and pasting a chart from one app to another (which came from a sample app in my case). When I do that, I am getting the following error:

![image](https://user-images.githubusercontent.com/100420605/196406267-5a17b18d-6275-499f-8877-48e2fcac1351.png)

This error stays persistent and d

[2022-10-18 10:34] dilippitchika commented on #17648
@shadabbuchh is it also happening for multi-tree-select?

[2022-10-18 10:35] ramsaptami commented on #11691
Yep, created a CRUD of the same table and inserted true/false values expecting them to save as true/false - which it did thankfully! :)

@subrata71 @sumitsum
![image](https://user-images.githubusercontent.com/79509062/196407350-c61279eb-cb0f-497e-9b15-dbf420b7c090.png)

[2022-10-18 10:35] #11691 closed

[2022-10-18 10:35] shadabbuchh commented on #17648
No, just for the widgets that I have added in labels.

[2022-10-18 10:38] dilippitchika commented on #17648
Thanks, this is a weird issue then

[2022-10-18 10:40] #14394 closed

[2022-10-18 10:42] subrata71 commented on #14394
This is supposed to be fixed by this [PR](https://github.com/appsmithorg/appsmith/pull/17429). Hence, I am closing this issue.

[2022-10-18 10:50] #14097 closed

[2022-10-18 10:52] muezz opened #17663 "[Bug]: Today shortcut in the date picker does not follow rules of max & min dates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have two date picker widgets where one is for picking the start date and the other is for picking the end date. The pickers look like this:
![image](https://user-images.githubusercontent.com/100420605/196408441-1f6c52e1-2c7e-42df-a2a6-f8fc901cbe59.png)
I have the following rules for both pickers

[2022-10-18 11:14] lebavuongquyen opened #17665 "[Feature]: Widget Signature Pad"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

 This widget can be a button
When user click on this button a modal will show up and user can write on this
Like this [https://jsfiddle.net/jq9cyzuc/](https://jsfiddle.net/jq9cyzuc/)

### Why should this be worked on?

It should be nice if appsmith have this widget
In my case, I need to build a form w

[2022-10-18 11:35] dgorshkov commented on #2836
Hi @Nikhil-Nandagopal, @rohan-arthur,
Is there documentation somewhere about working around this, e.g. via the git sync?

[2022-10-18 11:36] #10483 closed

[2022-10-18 12:24] mdmozibur opened #17669 "[Task]: Remove the default quotation mark around strings in evaluated value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The problem is that I am unable to use the ` where in` keyword in MySQL.

![image](https://user-images.githubusercontent.com/21083609/196428019-b4579585-f492-402b-858b-351f3bc609b9.png)

Notice how the double quotation around the Input1.text value is making the query run into error.

I have come acro

[2022-10-18 12:30] mdmozibur commented on #17669
Turning off smart substitution did the trick.

[2022-10-18 12:30] #17669 closed

[2022-10-18 12:46] kamakshibhat-appsmith opened #17670 "[Bug]: Context switching is hampering the copy paste experience of the widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Two issues here:
1. Due to context switching the cursor is not retaining its initital position
2. This is breaking the copy paste experience of the widget

### Steps To Reproduce

1. Edit any property (say label ) of any widget (say text widget)
2. Click on the canvas to remove the focus from the

[2022-10-18 13:56] RakshaKShetty opened #17672 "[Bug]: The Audit log upgrade header is broken in CE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Audit log upgrade header is broken in CE
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/196449935-43349817-945c-459f-8774-26746c8763d4.png">

### Steps To Reproduce

1. Pull the CE release
2. Open the localhost
3. Go to other tab and click on audit log
4.

[2022-10-18 14:09] vishaldfreak commented on #4404
We're trying to build ERP for our operations which are handled multiple countries India, China, Dubai, Thailand. It would make the whole app much more user friendly if the UI text, menus, everything could be translated to local language on select of a menu button.

[2022-10-18 14:13] RakshaKShetty opened #17673 "[Bug]: The intercom pop is not displayed in the release-Frozen instance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The intercom pop is not displayed in the release-Frozen instance

### Steps To Reproduce

1. take a pull from appsmith/appsmith-ce:release-frozen
2. run docker run -d --name appsmithAuditLogs -p 80:80 -p 9001:9001 -e APPSMITH_AUDITLOG_ENABLED=true -v "$PWD/stacks:/appsmith-stacks" appsmith/appsmit

[2022-10-18 14:18] Nikhil-Nandagopal commented on #2836
@dgorshkov Oops! Forgot to add the link. Here you go
https://community.appsmith.com/t/is-there-the-ability-to-switch-between-production-and-develop-datasources/702/2?u=dancia

[2022-10-18 14:38] RakshaKShetty opened #17674 "[Bug]: The wrong date is picked up when the user selects the past 3 months from date picker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The wrong date is picked up when the user selects the past 3 months from date picker
https://www.loom.com/share/f061cda95d2546648c460f544184988e

### Steps To Reproduce

1. login to the release-ee instance
2. click on admin setting
3. click on audit log
4. select past 1 week from date range picker

[2022-10-18 15:27] SauerWorkflow opened #17675 "[Feature]: Create a Gateway"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi,
Develop a gateway so that the Appsmith cloud version can communicate with the On-Premise databases or file.
example: microsoft power BI gateway.
Regards,

### Why should this be worked on?

Allows you to outsource the management of Appsmith, while keeping control of this data in-house.
Easier impl

[2022-10-18 15:31] #17218 closed

[2022-10-18 15:50] josh9383 opened #17677 "[Bug]: table widget does not show search results with elasticsearch query string when it has multiple words"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I search with multiple words separated by spaces in table widget with search query on elasticsearch as datasource; I can see results are fetched and totalRowCount updated on table but results are not rendered in table.

Expected : Table widget should show results as received from query respon

[2022-10-18 16:39] dilippitchika commented on #17677
Thanks for creating the bug @josh9383 can you also add a screenshot or a video for us to know the query response.

[2022-10-18 16:41] dilippitchika opened #17678 "[Feature]: Rename table update mode options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Rename table update mode options
1. Row level - Single Row
2. Custom - Multi Row

### Why should this be worked on?

Makes it easy to explain what the update mode does

[2022-10-18 16:43] dilippitchika commented on #17678
![Screenshot 2022-10-18 at 10 12 04 PM](https://user-images.githubusercontent.com/19730984/196491734-e80dced8-3bcf-4225-ae3e-8ee8d84e3339.png)
![Screenshot 2022-10-18 at 10 13 05 PM](https://user-images.githubusercontent.com/19730984/196491884-5d87b450-e80c-4561-8cbf-f561e94595e2.png)

[2022-10-18 16:55] RakshaKShetty opened #17679 "[Bug]: The upgrade message for the Audit log needs to be changed in the intercom"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The upgrade message for the Audit log needs to be changed in the intercom
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/196495129-f213e004-111b-4a15-84f0-e3b6e490ec00.png">

### Steps To Reproduce

1. Go to the admin setting
2. click on aduit logs
3. Click o

[2022-10-18 17:33] RakshaKShetty commented on #17673
Not a blocker issue

[2022-10-18 17:33] #17673 closed

[2022-10-18 18:30] sumitsum commented on #17503
User has responded with the following:
[code]

[2022-10-18 18:34] RakshaKShetty opened #17680 "[Bug]: Inconsistency’s when user select a start and end dates first then change to any default values in datepicker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description
Inconsistency’s  when user select a start and end dates then change to any select the default values
https://www.loom.com/share/c111bba95d014259b83da815fd4d748f
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/196515247-6ce9fcdd-b963-434c-8c27-0750da136bfd.png">

[2022-10-18 18:41] RakshaKShetty opened #17681 "[Bug]: The start and end date selection don't work as expected in date Range filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The clicks don't work as expected in date Range filter, when user click on 17th the 18th is getting selected by default
https://www.loom.com/share/faba8200c0ea4a9ab897e373767c8fe0

### Steps To Reproduce

1. Go to admin setting page
2. Click on audit log
3. from date range filter slect the date as

[2022-10-18 18:48] RakshaKShetty opened #17682 "[Bug]: The date range filter doesn't accept text input | audit-logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The date range filter functionality doesn't work when user manually types the date
https://www.loom.com/share/6c7fed8d51f643e3914e8ed28cb5cfaa

### Steps To Reproduce

1. go to admin setting page
2. click on audit logs menu
3. select the date range for start and end date
4. Now manually type in th

[2022-10-18 19:53] bedoyanl commented on #2430
https://developers.arcgis.com/javascript/latest/install-and-set-up/

It would be great to be able to use the ESRI JS libraries into Appsmith. Helpful for field crews who are unfamiliar with ESRI.  Thank you appsmith for making your resource open source so that folks can use all sorts of applications.

[2022-10-18 19:55] ohansFavour opened #17684 "[Feature]: Deprioritise ranking of JS constructors on autocomplete results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![function autocomplete](https://user-images.githubusercontent.com/46670083/196529849-baebbc7a-70a7-4f16-b048-65532f57bcf1.png)

Currently

1. The best match result autocompletes the Function() constructor.
2. The second result autocompletes the function keyword
3. The last result autocompletes th

[2022-10-18 20:56] bedoyanl commented on #2430
I can connect to a public service for adding, deleting or editing features with a url. But would like to call the ESRI js library with this command:
addFeatures({
  url: featureServiceLayerUrl,
  features: [featureToAdd],
  authentication
})

[2022-10-18 23:52] nzidol commented on #14601
Happens both in View and Edit mode.
When running in Cypress you can observe what is happening to the form.
1. Click on "share" triggers get 200 /api/v1/workspaces
![image](https://user-images.githubusercontent.com/13618973/196562554-dec58b19-4f1d-419e-b302-8884d21ff7fa.png)
2. put 200 /api/v1/layouts/..../pages
![image](https://user-images.githubusercontent.com/13618973/196564058-481430dc-4ff4-47d

[2022-10-19 03:33] Tallon66 commented on #6843
@Rishabh-Rathod could I please be assigned to this?

[2022-10-19 03:47] ashit-rath opened #17688 "Task: List v2 - Check for vulnerabilities"

[2022-10-19 04:00] #17217 closed

[2022-10-19 04:00] #17580 closed

[2022-10-19 04:01] ankitakinger commented on #16741
re-opening for remaining sub-tasks

[2022-10-19 04:24] btsgh opened #17690 "[Bug]-[32000]:Evaluated Value popup overlaps the starting text of the query area and hampers query writing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On creating and trying to write a query for any new datasource, the evaluated value popup comes immediately and covers the query area partially, making it inconvenient to write the query

### Steps To Reproduce

1. Create a datasource (mysql/postgres) Details here - [https://www.notion.so/appsmith

[2022-10-19 04:53] josh9383 commented on #17677
Added to details - one screenshot with two words in search with empty table display but with retrieved result. Another with single word in search with results and its display.

[2022-10-19 05:01] bharath31 commented on #17690
@btsgh could you please attach a loom video to help us understand this issue better? Also, is this similar to https://github.com/appsmithorg/appsmith/issues/6259?

[2022-10-19 05:06] arunvjn commented on #17045
@Nikhil-Nandagopal  Yes, we should able to do the file upload directly using fetch when we enable it.

[2022-10-19 05:20] #15976 closed

[2022-10-19 05:26] AnaghHegde commented on #17619
Another user faced this issue and they are unable to use the Appsmith because of that. Slack thread - https://theappsmith.slack.com/archives/C0341RERY4R/p1666028336159649

[2022-10-19 05:34] btsgh commented on #17690
<img width="1161" alt="evalinrelease" src="https://user-images.githubusercontent.com/101863839/196605395-e49eb957-e420-4bf9-8b0f-eb3cac9c0540.png">
<img width="1206" alt="evalinprod" src="https://user-images.githubusercontent.com/101863839/196605437-879d061b-87c0-4fa2-bf85-1e496a61fedb.png">

[2022-10-19 05:39] #17659 closed

[2022-10-19 06:00] #14666 closed

[2022-10-19 06:01] SidHiremath commented on #12995
ANy progress on this,  as it is really good feature which remove the lot of risks involved while using autogenerated json form ?

[2022-10-19 06:06] akash-codemonk opened #17696 "[Bug]: Show generate page and create template cards on canvas only for the first time while creating an application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Show generate page and create template cards only the first time while creating an application. The other pages in the app shouldn't be showing these cards on the canvas.

### Steps To Reproduce

-

### Public Sample App

_No response_

### Version

Cloud

[2022-10-19 06:15] sumitsum opened #17698 "[Feature]: Enable logical grouping of widgets and actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Currently, there is no way to logically group a set of widgets and/or actions. I am imagining the end effect to be something like what `CSS` does for `HTML` elements. For e.g. consider the following use cases that may be addressed by this feature:
  - a user has 20 different `input` widgets on a pag

[2022-10-19 06:23] sumitsum opened #17699 "[Feature]: Allow iterating over widgets by type or logical grouping"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Currently, there is no way to reference a widget except its `name`. It would be very useful if we could allow users to iterate over the widgets by their `types` or [logical grouping]( https://github.com/appsmithorg/appsmith/issues/17698 ). e.g. consider the following use case:
  - a user has 20 `inp

[2022-10-19 06:26] #17647 closed

[2022-10-19 06:40] sumitsum opened #17701 "[Feature]: Enable deleting of whitespace in Form widget and / or canvas to resize the Form widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, the only way to reduce whitespace in the `Form` widget is to pull a widget in that space. Consider the following use case:
- a user has three `Table` widgets lined top to bottom and then other widgets below them. Now the user deletes the topmost `Table` widget and has empty space on the top

[2022-10-19 06:55] subrata71 opened #17702 "[Bug]: Internal server error when the evaluated value is of type ARRAY in MySQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

#### Screenshot of Error
![bindingparameters_error_mysql_1](https://user-images.githubusercontent.com/3524599/196618603-e45f8d8d-d9ab-4b58-bb5a-d0a1224e5d7f.png)

[Relevant thread on Slack](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1666041302966259)

[Relevant thread on Discord](https://di

[2022-10-19 07:20] sumitsum opened #17705 "[Bug]: cmd + click multi widget selection: disable widget resize or other click / mouse functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, when I want to select multiple widgets at once I press the `cmd` button and then click on all the widgets that I want to select. However, sometimes clicking on a widget does not select that widget but does something else like try to re-size the widget or mark a value in the widget etc w

[2022-10-19 07:28] sumitsum opened #17706 "[Feature]: Provide key based widget navigation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, the only way to navigate between widgets on the canvas seems to be via clicking them with the mouse pointer. This forces a user to constantly lift their hands away from their keyboard. A better user experience could be by providing keyboard-based navigation to nearby widgets.

### Why shoul

[2022-10-19 07:36] Richarex commented on #16119
@akash-codemonk This issue is fixed verified it on DP url:-
https://appsmith-lcbcd3v4t-get-appsmith.vercel.app/
Video & TreeSelect widgets are visible in the entity explorer even when the sidebar is closed.

[2022-10-19 07:54] amogh2019 commented on #16251
As per this, I can write a util method to do a safe casting to String,

Shall I do that? @nidhi-nair @Nikhil-Nandagopal

[2022-10-19 07:58] Nikhil-Nandagopal commented on #17661
@kamakshibhat-appsmith Is this the same problem as #11660 ?

[2022-10-19 08:03] Rishabh-Rathod commented on #17215
@aswathkk can you please check this issue once?
It seems performance has been impacted after this changes https://github.com/appsmithorg/appsmith/pull/16639/files#diff-7fb06bbc14bb619b1fe3f898559d585167462ee35e7705588a4978596e277052

[2022-10-19 08:09] sumitsum opened #17708 "[Feature]: Enable active datasource search by type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, the only way to search for an active datasource is via typing its name in the search bar at the top of the page. However, this is not feasible if the user has created a datasource some time ago and has forgotten its name. Hence, it would be useful a user can filter active datasources by typ

[2022-10-19 08:11] dilippitchika commented on #17661
@Nikhil-Nandagopal different problem, only related to a thumbnail inside the filepicker

[2022-10-19 08:12] kamakshibhat-appsmith commented on #17661
@Nikhil-Nandagopal Its a different problem than [#11660](https://github.com/appsmithorg/appsmith/issues/11660)

[2022-10-19 08:14] bharath31 commented on #16918
Non-string values on params don't work as well. Related issue: #12177

[2022-10-19 08:17] sumitsum opened #17709 "[Feature]: Allow pinning of widget property page tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Provide a CTA to pin a tab in a widget property page. e.g. `Button` widget's property page has two tabs `CONTENT` and `STYLE`. If I want to alter the style of many buttons one by one, then it would be beneficial to pin the `STYLE` tab so that when I move from one button to the other I don't have to ke

[2022-10-19 08:18] bharath31 commented on #17607
Duplicate of #4878

[2022-10-19 08:18] #17607 closed

[2022-10-19 08:27] sumitsum opened #17710 "[Feature]: Rich Text Editor Widget: Reduce space between two lines"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently the space between two lines in the Rich Text Editor seems a little more than required and looks ugly. Pasting the difference between `Rich Text Editor` and `Google Sheet`:
![Screenshot 2022-10-19 at 1 53 14 PM](https://user-images.githubusercontent.com/1757421/196637965-96b83690-c39f-4f3c-ae

[2022-10-19 08:52] zachary-guo opened #17712 "[Bug]: Connect to private gitlab failed due to SSLException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I followed the documentation how to use version control with git, and the git repository is my private gitlab repository with **http** and **ssh** protocal.

I deployed the key and grant write permissions to that key. But when connect to my private gitlab, I got the error:
        Internal server

[2022-10-19 09:15] manikumarnune123 commented on #17712
Is appsmith you were trying is cloud hosted(app.appsmith.com) or self-hosted?

[2022-10-19 09:18] ankitakinger opened #17715 "[Task]: Make title editable for newly created group or role"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-19 09:19] trishitapingolia commented on #16743
Thankyou for assigning me this issue, I'll be back with a pr soon.

[2022-10-19 09:26] zachary-guo commented on #17712
self-hosted

[2022-10-19 09:31] manikumarnune123 commented on #17712
Copy your private gitlab SSL to `/appsmith-stacks/ca-certs` in crt format and restart/spin the docker container and check.

[2022-10-19 09:56] rohitagarwal88 commented on #17641
Sry, @tanishk-23 this issue is a release blocker & picked up internally.
You can explore other issues.

[2022-10-19 09:57] berzerkeer opened #17719 "[Task] Code split permissions for CE & EE"
### Description

 - Right now the permissions of CE & EE are unified in this one file `permissionHelpers.tsx` , this should be code splitted to hold CE and EE permissions separately.

[2022-10-19 10:07] #17645 closed

[2022-10-19 10:15] sribalajig opened #17720 "[Epic]: Error handling framework"
Full product requirements document (PRD) can be found [here](https://www.notion.so/appsmith/PRD-Error-Handling-Framework-4ac9747057fd4105a9d52cb8b42f4452).

### Objective

**When** a user faces an error on Appsmith, they **want** to be able to discover the error easily, and they **want** to be be given more details on the error, along with pointers on how to fix it, **so that** they can recover fr

[2022-10-19 10:50] dilippitchika commented on #17710
We can change the default line height to achieve this, adding a link. Thanks for the issue Sumit.

https://www.tiny.cloud/blog/tinymce-margins-line-height-spacing/

[2022-10-19 10:53] dilippitchika commented on #17709
@aswathkk looks like sumit also faced this. Parking this for now, but let's discuss this after context switching

[2022-10-19 10:55] aswathkk commented on #17709
@sumitsum Context switching is available on Release. It's under a feature flag. Login using appsmith.com account and can you check if the problem is getting resolved?

[2022-10-19 11:01] dilippitchika commented on #17701
@sumitsum is it a container/canvas problem or a form widget specific problem?

[2022-10-19 11:04] dilippitchika commented on #17699
@sumitsum but you need keys to add something to the db right? How will iteration work here for objects?

Is the data array data? Then you can use json forms

[2022-10-19 11:11] Nikhil-Nandagopal commented on #17662
@muezz it's likely that your chart has a binding to utils.transformPieChartData which is not valid inside the new app and thus you are seeing this

[2022-10-19 11:17] vuiets commented on #17682
Lets disable text input if it doesn't work.

[2022-10-19 11:23] muezz commented on #17662
@Nikhil-Nandagopal I know that that is the likely reason but there is no binding for `utils.transformPieChartData` in my chart widget's properties.

[2022-10-19 11:30] Nikhil-Nandagopal commented on #17635
So the problem is not with inserting, it's with displaying the file which is > 5mb? @felix-appsmith would it work if the Document viewer widget simply did this out of the box?

[2022-10-19 11:38] Sripriya93 opened #17721 "[Feature]: Property pane - Events - Onclick - Scroll to a widget in the same page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we click on a widget which has an on-click event, we can add a feature to scroll in the same page.

For example: Assuming we have three containers in one page, in the first container we have two buttons, When we click on the first button it should scroll to the second container and when clicked o

[2022-10-19 11:58] rohan-arthur opened #17722 "[Epic]: Improve GSheets Conversions"
### Objective

In [this](https://mixpanel.com/project/2032485/view/178891/app/dashboards#id=1160693&editor-card-id=%22report-31187824%22) funnel, we see a lot of drop-offs for gsheets query execution. One of the reasons is that the datasource is unauthorized, and subsequent query creation is futile.

we looked at some user recordings, and collected the issues [here](https://www.notion.so/appsmith/

[2022-10-19 12:03] pranavkanade commented on #17114
@sharat87, the user says they upgraded to v1.8.5 and still seeing this issue.
https://app.frontapp.com/open/msg_1f4vp26k

[2022-10-19 12:30] #17715 closed

[2022-10-19 12:53] josh9383 commented on #17677
Hello team, I discovered that this issue shows up when both server side as well as client side search are enabled. Perhaps this is not a bug; but just needs a mention in documentation that enabling both client side search and server side search can result in conflicting issues so this should be discouraged.

[2022-10-19 12:54] #17677 closed

[2022-10-19 13:02] gospeller986 commented on #17710
Can I work on this issue  ?

[2022-10-19 13:05] dilippitchika commented on #17677
Thanks for the information @josh9383 i will update our docs

[2022-10-19 13:17] ankitakinger opened #17723 "[Task]: Integrate save role API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-19 13:33] sentry-io[bot] opened #17724 "[Bug]: Update Layout Errors"
Sentry Issue: [APPSMITH-337](https://sentry.io/organizations/appsmith/issues/3422549369/?referrer=github_integration)

[code]

[2022-10-19 13:34] Nikhil-Nandagopal commented on #17724
@mohanarpit @nidhi-nair @rohitagarwal88 assigning everyone here because we're seeing non stop errors since the 15th of October in this flow and it's a backend related flow

[2022-10-19 13:37] nidhi-nair commented on #17724
This is on my radar, might have a potential fix for it in one of my PRs. Will update once we have confirmation of a fix.

cc: @riteshkew

[2022-10-19 13:39] Nikhil-Nandagopal commented on #17724
@nidhi-nair phew! Glad to hear it. I was getting worried seeing so many errors flooding my inbox

[2022-10-19 13:41] Nikhil-Nandagopal commented on #17721
Duplicate of #8314

[2022-10-19 13:59] sharat87 commented on #17637
Hey @wkethman, that is not a pleasant experience and this is not what we aspire to. Really sorry you have to deal with this.

To help investigate this, can you provide the following data please?

1. Is Appsmith v1.8.4 the first version you are running? Or did you arrive at this version after upgrading from a previous one?
1. Please attempt to login with that admin user, see it fail, then attempt t

[2022-10-19 14:08] RishikaKant commented on #17678
Hello, please assign this issue to me

[2022-10-19 14:15] RishikaKant commented on #17710
Hello, please assign this issue to me

[2022-10-19 14:16] IAmAnubhavSaini commented on #17672
@vuiets @Debsourabh If the user screen is small, vertically, the header goes up. I guess the screen size here is 13". Do we have a fix for this in design?

[2022-10-19 14:22] Richarex commented on #16855
@eco-monk @ginilpg

- [ ] Even after deleting the **Api2** while trying to add another api it is throwing these errors **"Api2 already exists, please use different name"** & **"There was an unexpected error**". Please refer to the attached video:- https://www.loom.com/share/fc6f0fef60a64414adc1053a07f28cef

[2022-10-19 14:34] #17646 closed

[2022-10-19 14:36] samlander25 commented on #4878
I also have use cases that rely on custom protocols, the prepending of https and/or stripping of the semicolon makes that impossible.

[2022-10-19 14:40] sanjus-robotic-studio commented on #17710
Can I work on this

[2022-10-19 14:41] sanjus-robotic-studio commented on #17678
Hey @dilippitchika Can I work on this

[2022-10-19 14:58] adarshlilha opened #17727 "[Bug]: form widget - Incorrect width of submit button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In edit mode, form widget's "Submit" button text is not completely visible
This is due to an incorrect width of the form button
<img width="331" alt="Screenshot 2022-10-19 at 20 25 01" src="https://user-images.githubusercontent.com/13575704/196726829-95b120e5-7747-44ac-96de-af915ca172b3.png">

###

[2022-10-19 14:59] adarshlilha commented on #17727
@Nikhil-Nandagopal @pranavkanade I would be happy to contribute to this issue if the team approves

[2022-10-19 16:07] #16818 closed

[2022-10-19 16:07] #16819 closed

[2022-10-19 16:18] #16245 closed

[2022-10-19 16:18] #16246 closed

[2022-10-19 16:24] secure-crypto commented on #11684
Hi @dilippitchika I investigated this and seems to me there will be a change in this file - https://github.com/appsmithorg/appsmith/blob/release/app/client/src/widgets/MenuButtonWidget/component/index.tsx.
I am quite new to React so trying to understand what changes to make. Will update here on my progress.

[2022-10-19 16:50] dilippitchika commented on #17635
I didn't get this clearly, is the problem that document viewer cannot work with large base64 data?

[2022-10-19 16:52] dilippitchika commented on #11142
Greetings @sanjus-robotic-studio  thanks for showing interest 🎉 , This is all yours. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-19 16:54] dilippitchika commented on #17710
Greetings @gospeller986 @RishikaKant @sanjus-robotic-studio  thanks for showing interest 🎉. Assigning to all of you for now. If anyone of you could raise a PR soon, it would be great. Please set the line height to 1.15

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the nex

[2022-10-19 16:55] dilippitchika commented on #17678
Hello @RishikaKant @sanjus-robotic-studio , this is already done by one of our team mates. Please feel free to check other issues

[2022-10-19 16:56] dilippitchika commented on #11684
Thanks for checking @secure-crypto, @yaldram can you please help here on where the change needs to be?

[2022-10-19 16:57] ramsaptami commented on #14755
Don't think this has been resolved. I still see this error show up on the sample app attached in the description hence reopening it

[2022-10-19 16:57] ame-appsmith commented on #3345
[Another user](https://app.frontapp.com/open/msg_1f0u5mvg) requested this feature.

[2022-10-19 17:05] dilippitchika commented on #17662
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-10-19 17:19] dilippitchika commented on #15448
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1016 |
| Effort (months)  | 0.5 |

[2022-10-19 17:24] #17723 closed

[2022-10-19 17:48] #16817 closed

[2022-10-19 17:55] #16816 closed

[2022-10-19 18:05] subrata71 commented on #14755
I found it happening in a few other apps too.

[2022-10-19 18:27] bedoyanl commented on #2430
https://developers.arcgis.com/arcgis-rest-js/install/#browsers
I should have specified, sorry.
Having these specific npm installations would be very helpful:
npm install @esri/arcgis-rest-request
npm install @esri/arcgis-rest-feature-service
npm install @esri/arcgis-rest-geocoding
npm install @esri/arcgis-rest-routing
npm install @esri/arcgis-rest-demographics
npm install @esri/arcgis-rest-portal

[2022-10-19 18:57] felix-appsmith opened #17730 "[Bug]: HubSpot [URL Redirects - Create Redirect] change URL // to %%"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

HubSpot's query [URL Redirects - Create Redirect]  changes these characters in the URL `/` to this other character `%` which
prevents the redirect from working

I think this has to do with some settings (Requires encoding) on the SaaS App, but I need to look further into this

### Steps To Reprodu

[2022-10-19 20:29] TheGameVIX opened #17736 "[Task]: Smartsheet Data Pull"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Good afternoon, I am interested in making a "service desk" like dashboard/app using appsmith. Currently all of the data used for this is housed in Smartsheet's where it is updated daily. Would it be possible for a "Smartsheet" integration to exist to pull a sheet and subsequently allow me to create a

[2022-10-19 20:32] gospeller986 commented on #17710
@dilippitchika  i have raised an PR , please review it

[2022-10-19 23:52] GreenFlux commented on #12423
Another user from Discord is facing this issue and is locked out of their app.

[2022-10-19 23:55] wkethman commented on #17637
@sharat87 thank you - we are using this for a hospital (clinical) based application and unfortunately I am concerned about the reliability of keeping the app online - thank you for helping

1. I was running 1.8.4 as the first version and had no issues - the docker container automatically updated to 1.8.5 and that is when I noticed the issue. I attempted to go back to 1.8.4 and it still occurred. I

[2022-10-20 01:08] CursedRock17 commented on #17708
I can see what you're saying, but is it kind of inconvenient to add filters at the search bar. Would a better implementation be a filters menu underneath the Datasources subtopic in the sidebar? Also does it have to a filter menu or would it better to just sort the databases by Provider then sort them by name so they're much easier to access?

[2022-10-20 01:28] nzidol commented on #14601
One aspect looks to be the use of React useEffect in WorkspaceInviteUserForm:

[code]
Since the 3 api's will return at different times this will likely create the 3 redraws of the dialog that can be observed.
Proposed solution is to use async/await the 3 api's:

[code]

There is still an issue remaining where the WorkspaceInviteUserForm is added to the base dialog in client/src/pages/workspace/App

[2022-10-20 01:30] #15399 closed

[2022-10-20 01:35] tanvibhakta opened #17739 "[Task]: Use the new link component in the user auth flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Design a link component
- [x] create the link component in the design system
- [x] use that link component in the ~4 places we are directly styling `a` tags in the user auth flow.

[2022-10-20 01:47] tanvibhakta opened #17741 "[Epic]: Gray scales & component deduplication"
### Objective

We will be ironing out major inconsistencies that we find through the platform.
1. Standardizing and updating the shades of gray we use (so that the app feels less like a wireframe, and also so our users have a better visual scanning experience)
2. Make the border radius 4px (again, for less of the wireframe feel)
3. We will be doing some deduplication - in our updates, if we see co

[2022-10-20 03:51] SatishGandham opened #17743 "[Task]: Ability to mark a data point as anomaly and exclude from min/median queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Add an option to mark certain merges to release as anomaly and exclude them from queries used to calculate min and median average on release.

[2022-10-20 04:11] ashit-rath opened #17744 "Task: List v2 Infinite scroll property"

[2022-10-20 04:54] amogh2019 commented on #11419
Could someone please assign this issue to me?
Have raised PR #17732 for the same.

[2022-10-20 04:57] amogh2019 commented on #16251
Could someone please assign this issue to me?
Have raised PR #17707  for the same.

[2022-10-20 04:58] amogh2019 commented on #15623
Could someone please assign this issue to me?
Have raised PR #17633  for the same.

[2022-10-20 05:23] laveena-en opened #17745 "[Bug]: UI/UX issues in Templates."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [x] There's a lot of empty space on the left side which makes the layout look odd - this is different from how Apps tab is designed

![image](https://user-images.githubusercontent.com/109572422/196860300-7dd4ad61-8725-4f6e-998f-75593b9746ad.png)

- [x] A demarcation line is required on the left

[2022-10-20 05:24] arunvjn opened #17746 "[Bug]: Console logs get mutated when the logged object is changed later in the function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Logs get updated when the data passed to it is mutated later on in the code.
https://app.frontapp.com/open/cnv_s1ue8y4

### Steps To Reproduce

1. Setup a JS Object with the function `() => { var a = [] console.log('aStart', a) for (var i = 0; i < 3; i++) { a.push(i) } console.log('aEnd', a) retur

[2022-10-20 05:29] vuiets commented on #17235
@trishaanand doesn't look like this is isoloated to _Business_ edition users, a cloud user has complained about this a few days back in https://github.com/appsmithorg/appsmith/issues/17606. Could we check what's going wrong?

[2022-10-20 05:29] RoopKrrish9696 commented on #17745
Most of these bugs will be fixed in a larger story of **centre aligning the pages**. cc @kocharrahul7

[2022-10-20 05:30] sumitsum commented on #11419
@amogh2019 assigned the issue to you.

[2022-10-20 05:30] sumitsum commented on #15623
@amogh2019 assigned the issue to you.

[2022-10-20 05:38] kunduarnab commented on #4971
Any updates on AppWrite Plugin?

[2022-10-20 05:40] #17334 closed

[2022-10-20 05:46] #17384 closed

[2022-10-20 05:54] #17674 closed

[2022-10-20 05:54] #17680 closed

[2022-10-20 05:54] #17681 closed

[2022-10-20 05:54] #17682 closed

[2022-10-20 06:03] #17719 closed

[2022-10-20 06:15] rohan-arthur commented on #17337
will be part of epic https://github.com/appsmithorg/appsmith/issues/17722

[2022-10-20 06:15] #17337 closed

[2022-10-20 06:28] AnaghHegde commented on #17712
@zachary-guo Could you please whitelist cs.appsmith.com in your network? From the error it looks like the Appsmith server was unable to fetch the data from this server - cs.appsmith.com

[2022-10-20 06:29] lifeneedspassion opened #17747 "[Bug]: nonfatal js error message in browser console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

in v1.8.5, there are two js errors logged in browser console that confused dev user
1. when render Tabs widget, it always showed 'Widget Builder not registered for widget typeundefined'
![image](https://user-images.githubusercontent.com/7675485/196869718-3824b9a2-16fe-45ba-85fd-7bd249b52312.png)
2

[2022-10-20 06:36] aswathkk commented on #17470
@dilippitchika

This was behaving like this only before. There were also cases where after selecting the canvas widget via the entity explorer and copy pasting the widget results in breakage of the application.

Possible solutions I can think of are:
- On clicking the tab from entity explorer, open the property of the tab rather than the canvas.
- Disable clicking of tab on entity explorer.

[2022-10-20 07:00] #16739 closed

[2022-10-20 07:05] sribalajig opened #17748 "[Task]: Instrumentation for action execution errors and resolution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

When there is an action execution error, I want to know the following:
- [x] How many users clicked on the debug link on the toast message
- [x] How many users looked at the error in the logs
- [x] How many users resolved the error
- [x] How many users did not resolve the error
- [x] How many apps ha

[2022-10-20 07:12] bharath31 commented on #16926
@ashit-rath could you please elaborate on this?

@Rishabh-Rathod can you share a rough estimate for this task? This will help us during our next sprint planning.

[2022-10-20 07:26] hetunandu opened #17749 "[Bug]: Response height is not maintained properly for Api Pane in Context Switching"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/12022471/196883631-7ae7d286-1492-4fb0-9718-98cb5a6f224c.mov

### Steps To Reproduce

Switch between actions after changing the height of the response pane
See it does not restore the height correctly when coming back to that action

### Public Sample App

[2022-10-20 07:47] sribalajig opened #17752 "[Task]: Instrumentation for action execution performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

1. For every action that is executed -
    a. What is the network latency (to and fro)
    b. What is the query execution time
    c. What is Appsmith’s overhead on top of a. and b.
2. What is the average value for 1a, 1b and 1c
3. What is the average value of 1a + 1b + 1c over all queries
4. For eve

[2022-10-20 07:55] eco-monk commented on #16855
@Richarex, Tested after merging with latest release.
https://www.loom.com/share/4bfe5fa2d77140a990d8a508f8ba462d

I don't think this has anything to do with actual change in PR.
This can be caused because the same app was open in two tabs.

[2022-10-20 08:07] #17561 closed

[2022-10-20 08:24] ramsaptami commented on #16855
@eco-monk Verify the changes on DP, LGTM. Please merge in the changes

[2022-10-20 08:27] ChandanBalajiBP opened #17755 "[Task]: Handle refactoring of JSObjects in AST-based entity refactor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Appsmith JSObjects starts with export default {} which is not a valid syntax as per acornjs parsing.
Sample input
[code]

[2022-10-20 08:46] eco-monk commented on #16855
Thanks @ramsaptami.
Waiting on CI now, will merge once it's done.

[2022-10-20 08:51] dilippitchika commented on #7256
Hello folks, we are picking up the grid widget. If this is still something that you are interested in, it would help us if we could understand your usecase. Please book a slot here to discuss this feature with us - https://calendly.com/dilip_pitchika/30min?month=2022-10

[2022-10-20 09:29] #7241 closed

[2022-10-20 09:43] spark-c opened #17757 "[Docs]: Small updates to Super Admin page"
The [Super Admin](https://docs.appsmith.com/getting-started/setup/instance-configuration/admin-settings) docs page seems to have a couple of small outdated bits. In particular:

- The location of the Admin Settings button
    - No longer under profile; is now located at bottom left of screen on dashboard
- Screenshot of the Admin Settings page does not include the **Access Control** or **Others**

[2022-10-20 09:47] ankitakinger opened #17759 "[Task]: Update styles of admin settings page & group editing API integration in ACL user page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-20 10:05] Rishabh-Rathod opened #17761 "[Task]: POC to estimate hydrate meta value task"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Main issue https://github.com/appsmithorg/appsmith/issues/16926

Goal - get proper estimate for meta hydration task by trying basic logic to confirm any blockers due to impact on any other flow

[2022-10-20 10:12] pranavkanade opened #17762 "[Bug]: Select All option in Multi select widget is not working properly"
https://www.loom.com/share/e5fcfbf91bf14092ae2bc773d8ecea8c

[2022-10-20 10:12] Rishabh-Rathod opened #17763 "[Task]: POC dataTree split"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

main issue https://github.com/appsmithorg/appsmith/issues/11351

[2022-10-20 10:17] pranavkanade commented on #5390
@somangshu Did we release this feature?

[2022-10-20 10:18] dilippitchika commented on #5390
@pranavkanade you have to check with @rimildeyjsr and fe-coders. cc @bharath31

[2022-10-20 10:19] ashit-rath commented on #17744
Needs discussion for copy

[2022-10-20 10:19] somangshu commented on #5390
It's been tracked somewhere else #7241
This got merged just a while ago. Please check with @rimildeyjsr from FE coders for more info

[2022-10-20 10:27] DavidMealha opened #17764 "[Bug]: Application with docker fails to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have successfully ran appsmith locally with docker-compose. However, now I'm trying to run it inside my company infrastructure (running EKS) which uses the Docker image to run any application.

I have tried it with versions `1.8.5`, `1.7.14` and `1.6.25`.

According to the logs I can see some `s

[2022-10-20 10:59] ramsaptami opened #17765 "[Bug]: Dropdown on action selector is not in alphabetical order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Dropdown options on `resetWidget`, `navigateTo` function is not in alphabetical order and becomes tedious to search when there's a long list to go through

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/196930921-8742f9a2-9868-47cf-855f-752bcf9820db.png)

### P

[2022-10-20 11:01] bharath31 commented on #5390
@pranavkanade this is still in QA cc: @AnandiKulkarni

[2022-10-20 11:13] dilippitchika opened #17766 "[Epic]: App Viewer Navigation - Configuration and Styles"
### Objective

Sidebar Navigation: Users need an option to set the navigation layout to use either the sidebar or the top bar. The sidebar should be collapsible and follow the same order as the topbar

Grouped Navigation: Users should be able to group pages together under a navigation group so that they show either on expand in the sidebar or under a submenu in the topbar

Appsmith apps are scalin

[2022-10-20 11:13] dhruvikn opened #17767 "[Feature]: Changing the configuration of navigation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

[Designs here.](https://www.figma.com/proto/EkPT7FdqmArkk9L7mySA5S/NAV---Designs?page-id=748%3A313757&node-id=935%3A478734&viewport=303%2C-336%2C0.04&scaling=min-zoom&starting-point-node-id=935%3A478734)

[2022-10-20 11:15] rohan-arthur commented on #17020
will be done with #16767

[2022-10-20 11:15] #17020 closed

[2022-10-20 11:16] dhruvikn opened #17768 "[Feature]: Grouping pages for navigation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

[Creating a group](https://www.figma.com/proto/Ah9UdeCmvk4PXeDIcPBIRq/EUE%3A-Grouping-Controls?page-id=621%3A253961&node-id=919%3A419946&viewport=245%2C-4383%2C0.2&scaling=min-zoom&starting-point-node-id=919%3A419946&show-proto-sidebar=1)
[Deleting a group](https://www.figma.com/proto/Ah9UdeCmvk4PXeD

[2022-10-20 11:17] dhruvikn opened #17769 "[Feature]: Reordering pages in a group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

[Reordering pages in a group](https://www.figma.com/file/Ah9UdeCmvk4PXeDIcPBIRq/EUE%3A-Grouping-Controls?node-id=621%3A253961)

### Related
https://github.com/appsmithorg/appsmith/issues/17766

[2022-10-20 11:18] dhruvikn opened #17770 "[Feature]: Icon selection for pages and groups"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

[Icon Selector](https://www.figma.com/proto/EkPT7FdqmArkk9L7mySA5S/NAV---Designs?page-id=621%3A242148&node-id=854%3A365253&viewport=201%2C-237%2C0.15&scaling=min-zoom&starting-point-node-id=854%3A365253)

[2022-10-20 11:19] dhruvikn opened #17771 "[Feature]: All navigation styles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [Top + Stacked](https://www.figma.com/proto/EkPT7FdqmArkk9L7mySA5S/NAV---Designs?page-id=357%3A182882&node-id=853%3A363028&viewport=-1153%2C763%2C0.13&scaling=min-zoom&starting-point-node-id=853%3A363028&show-proto-sidebar=1)
- [Top + Inline](https://www.figma.com/proto/EkPT7FdqmArkk9L7mySA5S/NAV--

[2022-10-20 11:24] AnandiKulkarni commented on #5390
https://github.com/appsmithorg/appsmith/pull/14925 PR which is released today, I am yet to test it on release

[2022-10-20 11:26] Pranay105 commented on #16859
@trishaanand @ankitsrivas14 Can you please create the first drafts as per the outline? (Sub-pages). Please follow [these](https://github.com/appsmithorg/appsmith-docs/blob/v1.4/.github/drafts/README.md) steps for submitting the first drafts.

[2022-10-20 11:28] Pranay105 opened #17772 "[Docs]: GAC | Create docs (sub-page) for Users"

[2022-10-20 11:28] Pranay105 opened #17773 "[Docs]: GAC | Create docs (sub-page) for Groups"

[2022-10-20 11:37] ashit-rath commented on #16926
@bharath31 Let me know if this doc helps
https://www.notion.so/appsmith/Meta-Widgets-DRAFT-9e7eb03174c945df80d7d7dbe7be3a67

[2022-10-20 11:37] btsgh opened #17774 "[Feature]: Evaluated value for {{null}} differs for input widget and a query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The way Input widget handles a default value set to {{null}} is different from how query handles {{null}} value.
In both the cases the expected evaluated value should be the same.

### Why should this be worked on?

Observe the following Loom Video which describes the issue found while testing data ty

[2022-10-20 11:41] chandannkumar opened #17775 "[Bug]: There is no hover state color change for Icon widget inside table cells"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On hovering onto Icon button widget which is added inside table cells do not have hover state i.e change of color on hover unlike other button type widgets

https://www.loom.com/share/b859cf7757c947378899065aa7eb4227

### Steps To Reproduce

1. Drag and drop Table widget
2. Add/Update a column typ

[2022-10-20 11:55] IAmAnubhavSaini commented on #17679
@vuiets What message do we want to show here?

[2022-10-20 12:05] #17371 closed

[2022-10-20 12:08] #16855 closed

[2022-10-20 12:10] nsarupr opened #17776 "[Task - EE]: create users for non-existent users when inviting them"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- create users for non-existent users when inviting them for user groups
- create users for non-existent users when changing role associations

[2022-10-20 12:14] yashdkadam commented on #17757
I would like to work on this. Could you please assign me this issue?

[2022-10-20 12:18] AmanAgarwal041 commented on #17236
The POC for this issue is complete, hence closing the issue. Here's the notion doc link: https://www.notion.so/appsmith/POC-Graphql-Schema-Explorer-de92998e141d4ec6b4d3ba6f03544833

[2022-10-20 12:18] #17236 closed

[2022-10-20 12:20] #9872 closed

[2022-10-20 12:20] #12833 closed

[2022-10-20 12:46] yaldram commented on #11684
@secure-crypto For this class `.menu-button-popover, .bp3-minimal.menu-button-popover.bp3-popover2`  disable `overflow-y` property on line 44, I think.

[2022-10-20 12:48] ashit-rath opened #17777 "Task: List v2 - Rename property gridGap to itemSpacing."

[2022-10-20 12:53] #17749 closed

[2022-10-20 14:06] #15889 closed

[2022-10-20 14:06] #17381 closed

[2022-10-20 14:06] #17678 closed

[2022-10-20 14:52] sharat87 commented on #17637
Hey @wkethman, thanks for the responses. Can you also share the logs from the `stacks/logs/backend` folder as well please? Feel free to email them to support@appsmith.com, and refer this issue link in the email. I'll pick it up and investigate.

I'm really sorry for the experience you have here. We'll figure out what's going on here.

Thank you for your patience.

[2022-10-20 15:13] sanjus-robotic-studio commented on #11142
Hey @dilippitchika I have raised a pr for this error

[2022-10-20 15:18] gospeller986 commented on #17710
@dilippitchika Is there any error in the change made by me ? Where am i going wrong  ?

[2022-10-20 15:28] patelbhavinoutlook commented on #4368
Even i have issue with sending email..

Hello,

I have installed a self-hosted appsmith on ubuntu 20.04 Docket compose.

Installation is don't well. Email SMTP configuration done successfully, also getting test mail.

But now i am facing problems that:

1. not getting password reset links
2. when register new member than welcome email not recieved.

[2022-10-20 15:58] sharat87 opened #17780 "[Feature]: Support running on Azure AppService"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Appsmith doesn't run on Azure AppService, which is Azure's serverless container deployment platform.

Details as reported by a user on Discord: https://discord.com/channels/725602949748752515/1031946686584590426/1031946686584590426

### Why should this be worked on?

For several users, deploying Appsm

[2022-10-20 16:13] felix-appsmith commented on #13466
As discussed with @jnikhila, the HubSpot Docs could become huge (~40 commands). So, we decided to segregate the work on different issues.

My proposal is to have an issue that serves as an introduction (what's HubSpot, how to get a token, how to create a data source), and other issues for the different scopes of the HubSpot Integration (CMS stuff, CRM stuff, Settings, Domains, etc).

## Proposed S

[2022-10-20 16:13] felix-appsmith commented on #13267
As discussed with @jnikhila, the HubSpot Docs could become huge (~40 commands). So, we decided to segregate the work on different issues.

My proposal is to have an issue that serves as an introduction (what's HubSpot, how to get a token, how to create a data source), and other issues for the different scopes of the HubSpot Integration (CMS stuff, CRM stuff, Settings, Domains, etc).

## Proposed S

[2022-10-20 16:13] felix-appsmith commented on #13266
As discussed with @jnikhila, the HubSpot Docs could become huge (~40 commands). So, we decided to segregate the work on different issues.

My proposal is to have an issue that serves as an introduction (what's HubSpot, how to get a token, how to create a data source), and other issues for the different scopes of the HubSpot Integration (CMS stuff, CRM stuff, Settings, Domains, etc).

## Proposed S

[2022-10-20 16:14] felix-appsmith commented on #13021
As discussed with @jnikhila, the HubSpot Docs could become huge (~40 commands). So, we decided to segregate the work on different issues.

My proposal is to have an issue that serves as an introduction (what's HubSpot, how to get a token, how to create a data source), and other issues for the different scopes of the HubSpot Integration (CMS stuff, CRM stuff, Settings, Domains, etc).

## Proposed S

[2022-10-20 16:42] sanjus-robotic-studio commented on #17710
Hey @dilippitchika Can someone point us in the right direction. I too tried but the default height is not changing. But when we press shift and click on enter the line height is smaller. And also I have found a way to add the line height parameter in the tool bar and it works. Will it solve this issue ?

![Screenshot 2022-10-20 at 10 09 55 PM](https://user-images.githubusercontent.com/58104863/197

[2022-10-20 16:49] #17759 closed

[2022-10-20 17:23] dilippitchika commented on #17710
Sorry @gospeller986 i can't see your pr linked yet. Can you please ping it here?

@sanjus-robotic-studio yes exposing the line height control is good enough.

However to decrease it further we have to update the margins used by `<p>` tags. I would advise against this as this impacts users who press shift enter. I have attached some links below for further reading -

https://stackoverflow.com/quest

[2022-10-20 17:24] dilippitchika commented on #11142
Thanks for this @sanjus-robotic-studio, @Tooluloope can you please review this pr and run it through our workflows?

CC @somangshu

[2022-10-20 17:28] sanjus-robotic-studio commented on #17710
So can I create a custom css

[2022-10-20 17:31] dilippitchika commented on #17710
Please don't create custom css, we as a team want to avoid adding custom css classes.

[2022-10-20 17:32] sanjus-robotic-studio commented on #17710
Ok, So Can I disable the shift+enter functionality

[2022-10-20 17:32] sanjus-robotic-studio commented on #17710
Or Can You give us the suggestions  which can be implemented

[2022-10-20 18:19] amexcompliance commented on #4790
On  one hand, Appsmith is great handles so many complicated things with a few simple steps and making our lives peachy. On the other hand though basic and sometimes foundational requirements are not even possible forcing us to pull our hair all day long on what to do.
This requirement is so basic, I do not even know if it warrants a special request.  I should be able to have multiple nested or sta

[2022-10-20 18:26] secure-crypto commented on #11684
@yaldram Thank you. I will try what you suggested.

[2022-10-20 22:12] Tooluloope opened #17781 "[Bug]: List v2 virtual list doesnt load widgets when connected to data source"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Add a data source, enable infinite scrolling and reload the page.

### Steps To Reproduce

https://user-images.githubusercontent.com/31691737/196820038-c62bb742-0961-4fd2-b584-05eef1ba374d.mov

### Public Sample App

_No response_

### Version

cloud

[2022-10-21 02:25] zachary-guo commented on #17712
@manikumarnune123 I can't find /appsmith-stacks direcotry. is it directly under / ? or should it under a relative direcotry? should I create that directory manually?

[2022-10-21 02:48] zachary-guo commented on #17712
I deploy appsmith locally with docker, there is no need to visit outside world. I followed manikumarnune123's step, create gitlab ssl cert, but I don't know where copy the cert to.

[2022-10-21 03:19] AnaghHegde commented on #17712
@zachary-guo In order for you to use the git sync feature we need to connect to cs.appsmith.com else this feature will not work.

[2022-10-21 03:34] ankitakinger opened #17782 "[Bug]: Search results is being reset on ACL screens when an item is deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I search for something in the search box on any ACL screen and delete an item from the search result itself, then the search results are reset.

### Steps To Reproduce

1. Go to Admin settings
2. Go to the Users tab
3. Type something in the search box
4. Look at the list of results
5. Now del

[2022-10-21 03:37] zachary-guo commented on #17712
@AnaghHegde But I use private gitlab, in this case, does it necessary to connect to cs.appsmith.com ?

[2022-10-21 03:50] #17378 closed

[2022-10-21 03:50] #15776 closed

[2022-10-21 03:54] ashit-rath commented on #15094
Note: Fixed in List v2 POC.

[2022-10-21 03:55] AnaghHegde commented on #17712
@zachary-guo Yes, it does. In the Community Edition for a workspace, a user can connect up to 3 private repositories to an app.

[2022-10-21 04:21] #16126 closed

[2022-10-21 04:38] #17584 closed

[2022-10-21 05:02] ankitakinger opened #17783 "[Bug]: Dropdown placeholder in groups tabs on invite modal is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I open the invite modal on the ACL users screen and I click on the groups tab, then the placeholder for the dropdown is "Select a role". It should be "Select a group".

### Steps To Reproduce

1. Go to Admin settings
2. Go to Users tab
3. Click on Add users
4. When invite modal opens, click g

[2022-10-21 05:10] dilippitchika commented on #15565
Closing as duplicate of #14579

[2022-10-21 05:10] #15565 closed

[2022-10-21 05:14] #9053 closed

[2022-10-21 05:20] #15303 closed

[2022-10-21 05:21] #16170 closed

[2022-10-21 05:22] vishnu-gp opened #17784 "[Task]: Introduce BE log events for JSObjects function execution (API expose with general Analytic event)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-21 05:24] ramsaptami opened #17785 "[Bug]: Internal server error pop-up intermittently when working on the code editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Seen this a couple of times and has been reported by users as well. There's an intermittent `Internal Server Error` issue that shows up when working on the editor.

This sometimes also causes current edit to revert. Couldn't capture this on a recording unfortunately and couldn't repro.

There's no

[2022-10-21 05:34] shadabbuchh commented on #17452
This issue has been verified in release.

[2022-10-21 05:39] #17782 closed

[2022-10-21 05:53] ankitakinger opened #17786 "[Bug]: Update the left panel height on home page due to addition of admin settings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you have a long list of workspaces, the left panel on the home page is covered by the admin settings option at the bottom. Update the height of the left panel to handle this scenario.

### Steps To Reproduce

1. Go to the home page
2. Add a long list of workspaces
3. Check that on scrolling t

[2022-10-21 05:53] sribalajig opened #17787 "[Bug]: Import app from file not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I export an app into a file and try to import a file, the export works fine but import seems to be broken. Git imports are working fine.

### Steps To Reproduce

Please check the following video -

https://www.loom.com/share/62e3eed09c15469795ffacea01832158

### Public Sample App

_No respons

[2022-10-21 06:11] vishnu-gp opened #17789 "[Task]: Page update events are not logged when the canvas is updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-21 06:17] akash-codemonk commented on #17275
Possible scenario where we can repro.
Fork a template from Add page popover, for the first time it works, Try forking again the api sometimes returns internal server error

[2022-10-21 06:21] nidhi-nair commented on #17564
Ref Slack: https://theappsmith.slack.com/archives/C0423TJFUJK/p1665742898881359

[2022-10-21 06:45] Rishabh-Rathod opened #17790 "[Docs]: Add document section explaining the error `action cannot be triggered from this field`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/core-concepts/writing-code/workflows#use-an-async-function-response-in-a-sync-field

### Describe the problem

With [this PR](https://github.com/appsmithorg/appsmith/pull/1768), `async function called in sync field` error will be reintroduced but as we want to move

[2022-10-21 06:55] #17141 closed

[2022-10-21 07:06] bharath31 opened #17791 "[Feature]: Include nanoid as a default dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Generating unique IDs is a common use case developers come across while building apps on Appsmith. Although workarounds exist, they are not as elegant as using a well-tested, performant, and feature-packed library like [nanoID](https://github.com/ai/nanoid).

### Why should this be worked on?

"Genera

[2022-10-21 07:11] #17776 closed

[2022-10-21 07:18] nsarupr commented on #17478
The docs PR: https://github.com/appsmithorg/appsmith-docs/pull/482 fixes this issue.

[2022-10-21 07:18] #17478 closed

[2022-10-21 07:21] hoonkim opened #17792 "[Enhancement]: Tables generated from "Generate page with data" does not support editable column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I create page with "Generate page with data" function, the table included in the page does not support editable column(inline editing feature).
And also,  the configuration ui of the table created from "Generate page with data" is different from the table that I created manually.

### Steps T

[2022-10-21 07:31] iwestlin opened #17793 "[Docs]: typo on readme: PostgresSQL -> PostgreSQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

😅

### Describe the improvement

😂

[2022-10-21 07:49] RakshaKShetty opened #17795 "[Bug]: The interactivity of the refresh button should be improved when there are no logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The interactivity of the refresh button should be improved  when there are no logs
https://www.loom.com/share/e5c7e72e52d24519a1897ad6eb5fd567

### Steps To Reproduce

1. Click on admin setting
2. Go to audit log
3. Click on Refresh Button
4. when there are no new logs and the user clicks on the r

[2022-10-21 07:50] Richarex commented on #17749
This is fixed now, verified it on release.

[2022-10-21 07:52] #17793 closed

[2022-10-21 07:56] #17712 closed

[2022-10-21 07:57] Nikhil-Nandagopal commented on #17787
@sribalajig please share the file.

[2022-10-21 07:58] RakshaKShetty opened #17796 "[Bug]: The page update event needs to be added when the user changes the page order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The page update event needs to be added when the user changes the page order also when it set as Home page

### Steps To Reproduce

1. edit the app
2. Go to page setting
3. Change the page order
4. Now click on admin setting
5. Clik on audit log
6. Verify the event display
7. the event is not disp

[2022-10-21 08:23] sribalajig commented on #17787
@Nikhil-Nandagopal it's not specific to any file. I see no response from the browser when I click on "Import from file", as shown in the video.

However, it works if I drag and drop the file instead of clicking to upload.

[2022-10-21 08:34] #17783 closed

[2022-10-21 08:46] sbalaji1192 opened #17797 "[Bug]: Retain filter in table widget when table data changes but schema remains same"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the table data of the table widget changes we reset the applied filters regardless of whether the schema of the tabledata changes or not. We should only reset the filters if the schema changes.

### Steps To Reproduce

1. Drag and drop a table
2. apply a filter
3. Use inline editing to update

[2022-10-21 09:12] nsarupr opened #17798 "[Task - EE]: Mark Instance Config PermissionGroups as Auto-created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Fetch the Instance Config related permission groups and mark them as auto-created.

[2022-10-21 09:16] ankitakinger opened #17799 "[Bug]: Multiple checkbox being clicked in one tab is sending the data related to last clicked checkbox only"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I click on a checkbox on a tab, all its related checkbox gets updated. Now before saving I click on another checkbox, then all the checkboxes related to this 2nd checkbox are updated. When I click save after this, only my 2nd click changes get passed to the server.

### Steps To Reproduce

1.

[2022-10-21 09:20] zachary-guo commented on #17712
@AnaghHegde After whitelist to cs.appsmith.com, this time I got a different tip：

GIT CONFIGURATION ERROR
SSH Key is not configured properly. Did you forget to add SSH key to remote? Can you please try again by reconfiguring the SSH key with write access

Actually, I have done the 【deploy key】action with grant write permissions, what's the problem ?
![deploy key](https://user-images.githubusercont

[2022-10-21 09:20] rimildeyjsr opened #17800 "[Enhancement]: Post message V2"
1. Change labels to make them more user-friendly
2. Add tooltips for the fields
3. Add a dropdown for the iframes on the page/ window
4. Incorporate changes for admin settings

[2022-10-21 09:40] Pranay105 commented on #17773
@trishaanand @ankitakinger Can you please create the first drafts as per the outline? I have added tickets for the Sub-pages. Please follow [these](https://github.com/appsmithorg/appsmith-docs/blob/v1.4/.github/drafts/README.md) steps for submitting the first drafts.

[2022-10-21 09:42] Pranay105 commented on #17772
@trishaanand @ankitakinger Can you please create the first drafts as per the outline? I have added tickets for the Sub-pages. Please follow [these](https://github.com/appsmithorg/appsmith-docs/blob/v1.4/.github/drafts/README.md) steps for submitting the first drafts.

[2022-10-21 09:43] Pranay105 commented on #16860
@trishaanand @ankitakinger Can you please create the first drafts as per the outline? I have added tickets for the Sub-pages. Please follow [these](https://github.com/appsmithorg/appsmith-docs/blob/v1.4/.github/drafts/README.md) steps for submitting the first drafts.

[2022-10-21 09:54] fliot commented on #9996
+1 auto update have some meaning, but must be disallowed and even hidden-able...

[2022-10-21 10:02] ChandanBalajiBP commented on #17623
This is waiting on PR 17523 to merge.

[2022-10-21 10:25] #17466 closed

[2022-10-21 10:28] Nikhil-Nandagopal commented on #17635
@dilippitchika yes because larger files encode their base64 as a blob in Appsmith. So if you bind a filepicker file that is larger than 5mb, it will show as blob://<path to file>
This is substituted on the fly for queries but I think for other widgets like document viewer, it is not

[2022-10-21 10:32] AnaghHegde commented on #17712
@zachary-guo Please follow the steps from this doc - https://docs.appsmith.com/advanced-concepts/version-control-with-git/connecting-to-git-repository#for-gitlab and refer to this youtube video for adding the GitLab repository.

[2022-10-21 10:42] sumitsum opened #17803 "[Task]: Update HikariCP version to the latest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update HikariCP version to the latest stable version as of now.

[2022-10-21 10:44] ankitakinger opened #17804 "[Bug]: Dropdown is not scrollable when there is a long list of options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I add a long list of roles in ACL and I try to add a user via roles, the invite modal shows a long list of options in dropdown which is not scrollable.

### Steps To Reproduce

1. Go to Admin settings
2. Go to the users tab
3. Click on add users
4. Now check the dropdown options list (make su

[2022-10-21 11:24] Hongkai-Zhai commented on #4841
@Pranay105 Hey can I work on this issue?

[2022-10-21 11:30] rohan-arthur commented on #15029
link to conversation: https://theappsmith.slack.com/archives/CNQ9Q91C0/p1664795369902699

[2022-10-21 12:34] ApekshaBhosale commented on #16916
After debugging, API is getting triggered after the dropdown option change and the JS function on the success of the API is also getting triggered. but the API 'filteredAstronout' which is used to showcase the data is not returning proper values hence it appears to be the wrong data. @ramsaptami please let's check this behavior with API which will give the right data.
I am removing the 'critical'

[2022-10-21 12:38] Sripriya93 commented on #15889
1) Expected : JSON Form - onSubmit - Triggers an action when the user presses enter or clicks outside the input box

Actual:
<img width="659" alt="image" src="https://user-images.githubusercontent.com/104895602/197110401-51bd2524-8038-406f-b8b1-72a7bbe2db98.png">

2) Expected: JSON Form - Switch - OnChange - Triggers an action when user interacts with the switch

Actual:
<img width="313" alt="imag

[2022-10-21 12:41] Sripriya93 commented on #15889
Few more Tooltips are yet to be verified, @kamakshibhat-appsmith will be updating if any. Removing the` QA` label now.

[2022-10-21 13:37] ankitakinger opened #17810 "[Bug]: Remove browser tooltip on Role edit page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On the role edit page, when I hover over a row (first cell), I see a browser tooltip that reads "Toggle Row Expanded". This is not from our design system and so we should remove it.
<img width="328" alt="image" src="https://user-images.githubusercontent.com/28362912/197209303-abaa1738-8f04-4914-9b

[2022-10-21 13:47] kamakshibhat-appsmith commented on #15889
Rest working fine

[2022-10-21 14:52] #16948 closed

[2022-10-21 16:24] sanjus-robotic-studio commented on #17710
@dilippitchika What can we do for this issue?

[2022-10-21 16:44] ame-appsmith opened #17814 "[Bug]: processedTableData Property of Table Widget v2 Not Shown in Autocomplete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For Table Widget v2, if the user tries to use `Table1.processedTableData` in a binding, `processedTableData`, this property does not show up in the autocomplete.
![image](https://user-images.githubusercontent.com/101268423/197246449-8366ba44-7789-4ae9-b13f-49ea0be8d4e5.png)

### Steps To Reproduce

[2022-10-21 17:14] ame-appsmith opened #17815 "[Bug]: Binding Not Working When Copy-Pasting a List Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user copy-pastes a List widget, sometimes the binding does not work (it forgets its source data). This issue is intermittent, and not always reproducible.
Workaround: Cut and paste the binding (or change and change back) to make it work again.

### Steps To Reproduce

https://app.frontapp

[2022-10-21 17:35] #17786 closed

[2022-10-21 18:30] samlander25 commented on #2430
as an aside: axios would be brilliant as the current api bulder doesnt cover every use case. sometimes we need to be able to manage the resonse ourselves. Currently I dont see any way of using an authenticated API for downloading a file. I am building a communication hub that also includes emails and downloading attachments. at present, to use the current system requires me generating a random dow

[2022-10-21 18:31] #17810 closed

[2022-10-21 19:25] felix-appsmith opened #17816 "[Bug]: Upload of files larger than 5mb fails when changing port"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we change the ports `80:80` and `443:443` to `8080:80` and `443:8433` in the `docker-compose.yml`, uploading files larger than 5mb to a Postgres database fails, but files smaller than 5mb are successful.

### Steps To Reproduce

1.Start a self-hosted Appsmith with this docker-compose.yml
[cod

[2022-10-21 19:48] trishitapingolia commented on #15268
Can i work on this?

[2022-10-21 19:48] felix-appsmith opened #17817 "[Docs]: #11983 [Feature] HubSpot Files API Saas Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

 - [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticke

[2022-10-21 19:53] felix-appsmith opened #17818 "[Docs]: #11982 [Feature] HubSpot CRM API Saas Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

 - [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticke

[2022-10-21 19:54] felix-appsmith opened #17819 "[Docs]: #11984 [Feature] HubSpot CMS HubDB API Saas Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

 - [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticke

[2022-10-22 02:16] Tallon66 commented on #12286
Hi @dilippitchika @dhruvikn. Could I please work on this issue?

[2022-10-22 02:19] Tallon66 commented on #14601
@nzidol could I please work on this?

[2022-10-22 02:29] sharat87 commented on #17764
Hey @DavidMealha, thanks for reaching out. Can you provide some additional details here please?

1. You mention that you are running on EKS. Are you using the official Helm Charts at helm.appsmith.com for this, or some other method of deployment?
2. The logs you shared seem incomplete. If the pod died after this, that's very strange. I'd think there should be some more logs about shutting down at

[2022-10-22 04:21] nzidol commented on #14601
Sure it's open source..... Personally I like to see multiple opinions and
solutions, chance for everyone to learn....

Cheers

Ido

On Sat, 22 Oct 2022, 3:19 pm Tallon66, ***@***.***> wrote:

[2022-10-22 04:53] ankitakinger opened #17824 "[Bug]: Internal server error is displayed when user tries to add/remove roles to the users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I add or remove roles in ACL user edit page, then I see "Internal server error" toast message.

### Steps To Reproduce

1. Go to the Users tab on Admin settings
2. Select any user
3. Try changing and saving its roles
4. You will notice the error message - Internal server error

### Public Sam

[2022-10-22 07:39] ankitakinger opened #17825 "[Bug]: Checkbox is not getting updated in search results on Role edit page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Created a new workspace. Go to a role, and search for the workspace using the search box. Now try to click any of the checkboxes - note that the boxes are disabled. We cannot check any of them.

### Steps To Reproduce

1. Go to the roles tab on the Admin settings page
2. Click on any custom role
3

[2022-10-22 08:24] #17824 closed

[2022-10-22 09:03] #17825 closed

[2022-10-22 15:04] ankitakinger opened #17828 "[Bug]: Checkbox is not same like design-system component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Are the checkboxes being used taken from the storybook/design-system? They look different (have rounded edges) from what we have in the storybook.

### Steps To Reproduce

1. Go to the Role edit page on Admin settings
2. Check the UI of checkbox

### Public Sample App

_No response_

### Version

[2022-10-22 15:17] tolgaulas opened #17829 "[Bug]: Probabl custom API POST for http only with custom port not sending body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When creating a custom api over HTTP (not https) with POST for sending a json content to OrientDB, postman may be either altering/not sending properly, resulting OrientDB reporting `com.orientechnologies.orient.core.exception.OSerializationException: Error on unmarshalling JSON content: content is

[2022-10-22 15:48] tolgaulas commented on #17829
Sorry lads, just did a wireshark capture, and seen that indeed appsmith is sending the post data for the custom port. So this is a weird situation. I will study more. For now i am closing this .

[2022-10-22 15:58] tolgaulas commented on #17829
Further investigation revealed that appsmith api calls are not gziped, hence orientdb http server can not decode. Below is the scrap from orientdb logs
[code]

[2022-10-22 16:00] tolgaulas commented on #17829
This is related to #10180 (https://github.com/appsmithorg/appsmith/issues/10180#issue-1094165620)

[2022-10-22 16:01] tolgaulas commented on #10180
This is still valid on the latest release and has impact as in #17829

[2022-10-22 16:06] tolgaulas commented on #10180
This issue is solved by adding the following custom header into the API definiton in appsmith  : `accept-encoding: identity` as defined in https://www.rfc-editor.org/rfc/rfc2616#section-14.3

[2022-10-22 16:06] tolgaulas commented on #17829
This issue is solved by adding the following custom header into the API definiton in appsmith : accept-encoding: identity as defined in https://www.rfc-editor.org/rfc/rfc2616#section-14.3

[2022-10-22 16:06] #17829 closed

[2022-10-22 17:06] prapullac commented on #4458
@Irongade  : looks the evaluated values is overlapping on the query pane. Please find the attachment of screenshot.
![Screenshot 2022-10-22 at 10.34.20 PM.png](https://images.zenhubusercontent.com/60a4cfb7dc106bf49dc146ad/ac75f9f4-22df-4bdf-9653-b260af7184b1)

[2022-10-22 18:51] subrata71 commented on #14134
The goal of this epic is to build the infrastructure for data-type handling on the server side with the help of client-side data type and apply it to one SQL plugin (MySQL) and refactor the common data type handling for the rest of the plugins. Applying the data type handling to MySQL will essentially solve all the known issues related to data type and refactoring the common data type handling wil

[2022-10-22 18:51] #14134 closed

[2022-10-23 02:43] lmx1117 opened #17831 "[Bug]: Expect component text properties to be taken into account in the component length"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The text of a component can easily overlap with other components, so I expect component text properties to be taken into account in the component length
<img width="480" alt="image" src="https://user-images.githubusercontent.com/116335720/197370611-8d70360a-9312-4b87-8120-9d93cae46d8e.png">

### S

[2022-10-23 02:49] lmx1117 commented on #17831
Want to know how to add tags to my issue🥹for example, maybe I want to add a widget tag to this issue

[2022-10-23 08:38] subrata71 commented on #13422
It's hard to understand the problem statement with this piece of information. I think the information is inadequate and hence closing the issue.

[2022-10-23 08:38] #13422 closed

[2022-10-23 10:48] dhruvikn commented on #12286
Sure @Tallon66, please take a shot at it. Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. Let us know here.

[2022-10-23 19:25] #17828 closed

[2022-10-23 23:03] trishitapingolia commented on #10219
Can I work on this issue?

[2022-10-24 01:43] ohansFavour opened #17833 "[Bug]: PostMessage on Lint worker thread getting picked up by Eval worker (("
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On the Eval/linting split [PR](https://github.com/appsmithorg/appsmith/pull/17287), it is noticed that messages sent to the lint worker (via postMessage) are also getting received by the eval worker.

<img width="498" alt="Screenshot 2022-10-24 at 02 29 38" src="https://user-images.githubuserconte

[2022-10-24 04:19] akash-codemonk commented on #15661
@Richarex This is expected behaviour since after editing you didn't save so on refresh it will show the previously saved values.
Have fixed point 5 as when the field is blank. The rest of the issues are existing behaviour/not related to embed settings/has been clarified in the comments above.

[2022-10-24 05:07] vuiets commented on #17513
@AnaghHegde can we investigate this when we have time? It'll help to prioritise this and fix it.

[2022-10-24 05:07] ankitakinger opened #17835 "[Bug]: Non-editable roles having long role names doesn't show a tooltip"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Non-editable roles having long role names doesn't show a tooltip

### Steps To Reproduce

1. Go to Appsmith provided role edit page on Admin settings
2. Make sure the name of this role is long enough
3. See that this role name doesn't show an ellipsis & a tooltip

### Public Sample App

_No respon

[2022-10-24 05:34] #16934 closed

[2022-10-24 05:34] #16936 closed

[2022-10-24 05:43] shadabbuchh opened #17836 "[Bug]: Icon Button tag crosses the canvas boundary when placed in the left border"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we place the Icon button widget on the extreme left border of the canvas, its tag crosses the canvas boundary. This behaviour does not happen when we place the widget on the extreme boundary.

https://www.loom.com/share/d1e88857f22c4ce9b135774423862a27

### Steps To Reproduce

1. D&D an Icon

[2022-10-24 08:22] tanvibhakta opened #17839 "[Task]: Use the new Box component in the primary few flows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Use the Box container in the following places: https://www.notion.so/appsmith/762629366ef7440088c1605cbffa5d81?v=48c6f7615b0441d29ba564ae330ae2fc

Use the feedback from using it here to increase the featureset and functionality of Box

[2022-10-24 08:53] PaulMcF1987 opened #17841 "[Feature]: Slight change to editor mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As I have mentioned in previous questions, I have used a few different app builders, in order to find the one which works best for my needs and so far Appsmith seems to tick more boxes than the rest.

The one feature that I have noticed in other app builders that Appsmith does not seem to offer is...

[2022-10-24 08:59] rimildeyjsr opened #17842 "[Feature]: add prettify to code editors in property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, prettifying code only works on the JS Editor, we should add support to prettify code in the code editors in the property pane as well.

### Why should this be worked on?

- The JS snippets in the property pane can become long, having prettifying ability can make the snippets easy to read au

[2022-10-24 09:03] #17835 closed

[2022-10-24 09:03] rimildeyjsr opened #17843 "[Feature]: Move two lines of code in JS editor to next line with prettify"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

2 lines of code written on the same line should move to the next line when prettified.

Example:

`let a = 18; const b = 26;`

should be prettified to -

[code]

### Why should this be worked on?

This behavior addition will make the prettify feature consistent with the IDE's offering prettify and aut

[2022-10-24 09:04] PaulMcF1987 commented on #2410
This is also something that I feel would be a great addition. Currently, I am using Appsmith alongside OpenProject as open project allows me to use a calendar to keep track of events etc, If I could move away from open project and have a calender widget on Appsmith this would make everything so much easier.

(CalDav/CardDav synchronization would also be great, lol)

I have looked at the sample app

[2022-10-24 09:06] rimildeyjsr opened #17844 "[Feature]: Remove multiple blank lines between code when prettified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Prettifying code in the JS editor should remove unnecessary blank lines of code

For example:

[code]

should be prettified to -

[code]

### Why should this be worked on?

This makes the prettify behaviour consistent with the auto-indent/prettify behaviour in IDE's

[2022-10-24 09:13] DavidMealha commented on #17764
Hello @sharat87, thank you for looking into it, I will try to answer your questions the best I can.

1. We are running on EKS but we have a standard pipeline for deployment which relies on the Dockerfile that lives inside the git repository, so we don't use the helm chart.

2. I have looked into it and there aren't any more logs, the pod fails after the last logs saying:
[code]

3. We are publishi

[2022-10-24 09:34] nsarupr opened #17845 "[Task - EE]: Send user permissions in updateRoles call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Send user permission details in updateRoles call

[2022-10-24 10:57] tolgaulas opened #17846 "[Bug]: Unable to send email. Cause: org.springframework.mail.MailSendException: Failed messages: com.sun.mail.smtp.SMTPSendFailedException: 530 5.7.0 Must issue a STARTTLS command first. - gsmtp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When email server setup is done with google smtp server having TLS (tested and working) , the invite user causes the below error:

[code]

### Steps To Reproduce

1. Setup gmail with TLS as email server (smtp.gmail.com), port : 587
2. Send test email, make sure you receive it.
3. Go to a workspace

[2022-10-24 13:47] Bisht13 commented on #13977
Can I work on this?

[2022-10-24 13:50] Bisht13 commented on #8330
Can I work on this?

[2022-10-24 13:50] Bisht13 commented on #8330
Can I work on this?

[2022-10-24 13:51] Bisht13 commented on #6843
Can I pick up this issue?

[2022-10-24 15:31] sh-TU opened #17848 "[Bug]: Cannot update to v1.8.5 from v1.8.4 - Migration failing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upgrading to v1.8.5 fails using container. It give me this error.
[code]

### Steps To Reproduce

1. In community edition v1.8.4
2. Attempt an update using enterprise edition v1.8.5 image. *Setup **failed** due to license expired.
3. Update and use community edition v1.8.5 instead then this error

[2022-10-24 16:25] ohansFavour commented on #17833
Now fixed

[2022-10-24 19:16] Zajozor commented on #10072
not supporting debounce is pretty sad. Any plans to look into this :) ?
I was not able to find any workarounds for this in other issues or discord.

Trying some stuff with setIntervals/async functions/storing values in appsmith state always seems to fail on something.

Thanks!

[2022-10-24 20:45] felix-appsmith opened #17853 "[Docs]: Troubleshooting Guide: How to get Logs for Support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

A-Force now regularly asks users to test the backend logs of the self-hosted instance to provide a better quality of support.

This documentation currently does not exist, so when A-force asks users for logs they are often a bit confused on how to ge

[2022-10-25 03:19] AS-Laguna commented on #17022
Another user encountered this error [here](https://app.frontapp.com/open/msg_1fjbee6k).

Also confirmed that the `https://` workaround works.

[2022-10-25 04:10] dilippitchika commented on #17022
@sbalaji1192 can you pick this up in sprint, if you are done with current items?

[2022-10-25 04:11] dilippitchika commented on #15268
Greetings @trishitapingolia  thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-25 04:12] dilippitchika commented on #17710
Apologies for the delayed response @sanjus-robotic-studio , here are the next steps
1. Allow users to change the line height for now, with the new line height property in the toolbar
2. Don't make any other changes as of now

[2022-10-25 04:25] dilippitchika opened #17856 "[Bug]: Changing image size doesn't wrap row when server side pagination in turned on"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i change image size and enable server side pagination the row height doesn't increase. This is due to virtualisation changes and we have to implement logic to handle virtualisation when image size is changed.

### Steps To Reproduce

1. Add a new image column and add data to it
2. Enable serv

[2022-10-25 04:35] sanjus-robotic-studio commented on #17710
Ok will do those qn and create a new PR now

[2022-10-25 05:03] dilippitchika opened #17857 "[Bug]: Table shows a scrollbar when trying to fit all items in table window"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i try to adjust the height of table to make sure no more rows are present, the table still ends up showing an extra row all the time.

### Steps To Reproduce

https://www.loom.com/share/6141092d38ef4be09ce24ed85fd4d8f6

### Public Sample App

_No response_

### Version

Release

[2022-10-25 05:04] dilippitchika commented on #14037
Hello @MrChrisRodriguez is this issue somehow blocking you from using appsmith?

[2022-10-25 05:06] dilippitchika commented on #8330
Greetings @Bisht13 thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-25 05:14] dilippitchika commented on #17836
Related to edge-cases in canvas, not controlled in appviewers

[2022-10-25 05:27] #17428 closed

[2022-10-25 05:31] dilippitchika commented on #17815
@ashit-rath @Tooluloope this is a common problem with list v1, can you please triage this for v2?

[2022-10-25 05:52] ashit-rath commented on #17815
@dilippitchika @ame-appsmith Is this similar to this issue [#15988](https://github.com/appsmithorg/appsmith/issues/15988)?

[2022-10-25 06:01] dilippitchika commented on #17815
Kind of, but not sure if border-radius box shadow is the way to trigger it.

[2022-10-25 06:08] ashit-rath commented on #17815
border-radius and other styling are not the factors here but the copy-paste operation. This needs to be worked on as a part of v2.

[2022-10-25 06:14] dilippitchika commented on #17815
Can  you update the previous issue description then and close this issue as duplicate. I don't think we need 2 issues because the root is the same problem

[2022-10-25 06:30] somangshu commented on #6843
@Tallon66 sorry we are late looking at your comment; If you are available please raise a PR for this in the next 2 days and let us know here.

@Bisht13 I see you have a few other issue assigned, If the above person does not get back in 48hrs, Ill assign this to you

[2022-10-25 06:35] riodeuno opened #17861 "[Task] Make preview mode the same as view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Use RenderModes to for the preview mode widget rendering such that the view mode and preview mode both render widgets similarly
- This should also reduce the computations done when rendering in preview mode.

[2022-10-25 06:36] somangshu commented on #2410
Hey @PaulMcF1987, thanks for providing us with the context; this widget is not yet on our roadmap and we dont plan on picking this up anytime soon. If you can help us understand your use case better we might be able to pull another solution with some other widgets; We probably can color code the date tiles to resemble the above UX.

cc @dilippitchika FYI

[2022-10-25 06:46] riodeuno opened #17862 "[Feature] Add platform feature to call Redux actions after property update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Along with property update payload, we can pass platform redux actions to call after update
- This feature will enable call feature specific platform actions to be called after property updates
- This feature seems like a feasible approach, as `batchUpdateProperty` is a generic action. The alternat

[2022-10-25 07:21] riodeuno opened #17863 "[Task] Add feature to disable vertical resize handles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Platform change which allows resizeable component to disable vertical resizing.

Note: A subsequent update is to be able to disable horizontal resizing

[2022-10-25 07:56] PaulMcF1987 commented on #2410
@somangshu I run a transport company, I use Appsmith to plan jobs. A calendar function would allow me to easily see what jobs are due on what days,
Also for job sourcing, it would allow me to easily identify at a glance which days still have jobs which need allocated.

It is not as easy to taker the details off of a table, especially when trying to work at speed.

Also, I have made an app for my b

[2022-10-25 08:01] alinaepanaite opened #17864 "[Bug]: App copies cannot be accessed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hi,
We have duplicated an app, and the copies can't be accessed.
for one duplicate app we get the 'internal server error', and the other duplicate just doesnt open. We want to perform changes on the initial app, but as we cannot save the initial version in a duplicate , it is a major issue for us.

[2022-10-25 08:48] trishitapingolia commented on #15268
Thankyou for the assignment. Can you please elaborate the issue. I tried understanding the issue but couldn't get the exact problem.

[2022-10-25 08:57] somangshu commented on #2410
I understand @PaulMcF1987, Thanks for explaining the use case, I see how you wish to utilize the calendar widget and it makes sense as well.
However there could be a couple of other UX which can be thought of here for making this work well right now;
One of the pain points you mentioned was not being able to identify the days that need allocation. In that case another table / list showing the same

[2022-10-25 09:00] ashit-rath commented on #17815
Closing in favour of #15988

[2022-10-25 09:00] #17815 closed

[2022-10-25 09:27] ankitakinger opened #17865 "[Task]: Add autoCreated flag check to show "A" icon next to the role name on roles listing screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-25 09:46] dilippitchika commented on #15566
@shadabbuchh this was done intentionally, as we are using the checkbox only to reveal the field. Rest all the time it will be visible, since the user has shown intent to make columns editable.

[2022-10-25 09:46] #15566 closed

[2022-10-25 10:00] nsarupr opened #17867 "[Task - EE]: autoCreated flag for permissions role isn't returning proper results."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- For Administrator / Developer / Viewer auto created roles, the flag isn't setting properly

[2022-10-25 10:05] #17620 closed

[2022-10-25 10:08] sneha122 opened #17868 "[Bug]: Should we disable save button on discard datasource popup?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

With new datasource creation flow, we show discard popup when user has some unsaved changes and user is trying to leave the page. So for datasources like Authenticated API, S3, Snowflake, there is validation added for required fields of the form. when the required fields are empty save button is d

[2022-10-25 10:21] dilippitchika commented on #17814
We need to expose a new property which behind the scenes references `processed table data`.

These are for special use cases where people are calculating items based on edited or filtered data.

The suggested bindings we can use are
1. updatedTableData
2. filteredTableData
both these bindings are added and used or we add something like `visibleTableData` or simply expose processed table data

[2022-10-25 10:27] dilippitchika commented on #14588
Closing as this will be fixed in #10278

[2022-10-25 10:27] #14588 closed

[2022-10-25 10:39] dilippitchika commented on #15927
Duplicate of #14527

[2022-10-25 10:39] #15927 closed

[2022-10-25 10:41] dilippitchika commented on #16771
We need a new property in the column to be used as display tooltip on header

[2022-10-25 11:30] PaulMcF1987 commented on #2410
@somangshu I already have a few different queries which will arrange the table in different ways in order to make things a bit easier. But it is still no where near as easy as what a calendar widget would offer.

I genuinely believe that a calendar widget would be something that most/all businesses could benefit from.

All businesses out there require some sort of schedule and at present, whilst t

[2022-10-25 11:35] nsarupr opened #17870 "[Task]: set user permissions with the create calls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Do this for the following
- Datasources
- Pages
- ActionCollections
- Actions

[2022-10-25 12:56] #16251 closed

[2022-10-25 14:25] #17867 closed

[2022-10-25 15:49] #17088 closed

[2022-10-25 15:49] #17053 closed

[2022-10-25 18:05] felix-appsmith commented on #17817
As discussed with @jnikhila, the HubSpot Docs could become huge (~40 commands). So, we decided to segregate the work on different issues.

My proposal is to have an issue that serves as an introduction (what's HubSpot, how to get a token, how to create a data source), and other issues for the different scopes of the HubSpot Integration (CMS stuff, CRM stuff, Settings, Domains, etc).

## Proposed S

[2022-10-25 18:05] felix-appsmith commented on #17818
As discussed with @jnikhila, the HubSpot Docs could become huge (~40 commands). So, we decided to segregate the work on different issues.

My proposal is to have an issue that serves as an introduction (what's HubSpot, how to get a token, how to create a data source), and other issues for the different scopes of the HubSpot Integration (CMS stuff, CRM stuff, Settings, Domains, etc).

## Proposed S

[2022-10-25 18:05] felix-appsmith commented on #17819
As discussed with @jnikhila, the HubSpot Docs could become huge (~40 commands). So, we decided to segregate the work on different issues.

My proposal is to have an issue that serves as an introduction (what's HubSpot, how to get a token, how to create a data source), and other issues for the different scopes of the HubSpot Integration (CMS stuff, CRM stuff, Settings, Domains, etc).

## Proposed S

[2022-10-25 21:30] dhruvikn commented on #17367
These enhancements should be added in a different version of the widget, i.e. CodeScannerWidgetV2, right? @dilippitchika

cc: @somangshu, @jsartisan, @sbalaji1192

[2022-10-25 22:04] AS-Laguna opened #17874 "[Bug]: Unable to grab vertical scroll bar of a table with the mouse cursor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I have a table with a vertical scroll bar I'm unable to grab that bar with my mouse.

I expect to be able to grab the vertical scroll bar and drag it to scroll the contents of the table.

This works fine for the horizontal scroll bar, but not vertical.

### Steps To Reproduce

1. D&D a table

[2022-10-26 02:13] sh-TU commented on #17848
@pranavkanade, @Nikhil-Nandagopal  any quickfixes you can recommend?

[2022-10-26 03:14] sh-TU commented on #17848
@pranavkanade  @Nikhil-Nandagopal FYI
I logged-in to the database and find the permission that is being mapped. I saw these non-existing permissions in community edition applied to `Instance Administrator Role` in `permissionGroup` table so clearing those permissions worked.

[code]

I'm sure this is not the best way to fix it but at least it got working now. Please let me know what could be the s

[2022-10-26 03:22] sh-TU commented on #17848
The migration that is failing gets re-applied as well
[code]

[2022-10-26 04:33] dilippitchika commented on #4790
Hello @amexcompliance thanks for the details around padding changes we need to make, we are currently enabling them in containers and it's still in development phase. As you said, it's something so fundamental but we also want to get the experience right for all levels of developers. Would you be willing to talk to us about your use-case and your experience in developing apps?

Here's our team's c

[2022-10-26 04:37] #17746 closed

[2022-10-26 05:10] dilippitchika commented on #17367
Yes, please do them in a new version

[2022-10-26 05:13] dilippitchika commented on #12995
@MrChrisRodriguez i would like to know more about your use-case. Ideally, all the items you mentioned in schema form can also be achieved here but it's a matter of convenience of one over the other. Will you be open for a call to discuss more?

If yes, can you please block a slot which works for you here - https://calendly.com/dilip_pitchika/30min?month=2022-10
It would really help us improve the

[2022-10-26 05:15] SatishGandham commented on #15744
Will explore if optimizing the bundling process will automatically fix this.

[2022-10-26 05:19] rohan-arthur commented on #17864
@alinaepanaite sorry you're facing this problem. Would you please share more details so that we can investigate this quicker?
1. The screen recording seems like it failed in attachment, would you please re-attach it?
2. Are you duplicating the app in the same workspace?
3. Would be great if you can share a screenshot from the browser console when the error occurs.

[2022-10-26 05:26] rohan-arthur commented on #17848
@sh-TU sorry you're facing this issue with update, and thank for sharing your analysis. We will look into this get back to you asap.

[2022-10-26 05:28] RoopKrrish9696 opened #17875 "[Feature]: Enable customisation of icons in the text input component ( Alphabets in this use-case )"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

At the moment, there is now way to use alphabets in place of icons in the text input. There are some use-cases where this feature is required.

### Why should this be worked on?

The use case for this is the inputs for embed size in the embedding modal or app settings. Adding here the [figma file sour

[2022-10-26 05:30] rohan-arthur commented on #17831
@lmx1117 thanks for reporting this!
How to add tags:

https://user-images.githubusercontent.com/94514895/197942561-26de2e34-5c3c-4c51-a9ee-7597ebd4e7d8.mov

[2022-10-26 05:47] Rishabh-Rathod commented on #17159
We need to configure min and max properties for revalidation as mentioned in the PR description https://github.com/appsmithorg/appsmith/pull/17138

[2022-10-26 05:50] rohan-arthur commented on #14031
type-ahead already added, closing this issue

[2022-10-26 05:50] #14031 closed

[2022-10-26 06:27] pranavkanade opened #17876 "[Bug]: queryParams evaluation fails, when navigating to same page with query params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The evaluation of query params values is not working when user tries to add query params to the same page and use it in some other widget to set the value.

### Steps To Reproduce

https://www.loom.com/share/3c5e48f192c84f3587c8c8f9861c80bf

### Public Sample App

_No response_

### Version

v1.8.

[2022-10-26 06:34] IAmAnubhavSaini commented on #17528
- [ ] .Replace the placeholder text "Select" in date filter with "All"
- [ ] "Select" Should not be an option to select in the Date filter
These have been fixed as date range filter component has replaced dropdown.

- [ ] The clear all button should not be displayed when the user rearranges the date from the date column
This is not an issue.

- [ ] In the Page edit event, we need to capture both o

[2022-10-26 07:11] ankurrsinghal commented on #16494
<img width="562" alt="Screenshot 2022-10-26 at 12 40 42 PM" src="https://user-images.githubusercontent.com/17961105/197958549-43c073e2-c639-492e-a5b7-b1dc7b0353bc.png">

Hey @Sripriya93 I was checking this issue, it is the same expected behavior in the release, we shouldn't divert from anything different from the release (the screenshot is what we have in the release). So please close the issue if