[2022-06-28 11:04] jnikhila commented on #14830
@dilippitchika - Do you mean that the field names can't be evaluated at runtime?

But then, can the values for` <AllowedNumberOfChars> `and `<TheExceededChars> `be derived at runtime.

`
Message 1 - The entered text exceeds the MaxChars limit of <AllowedNumberOfChars> characters by <TheExceededChars> characters.
`

For example, message 1: **"The entered text exceeds the MaxChars limit of 150 chara

[2022-06-28 11:05] somangshu commented on #14834
@dilippitchika found this to be a mix of user configuration and the way we handle the data in such scenarios. If the user does not set the prams required in the query to limit the response, things will load fine on client side pagination as the records that are rendered are based on the page size of the widget, but in case its server side pagination, this logic goes away and all items are now rend

[2022-06-28 11:07] dilippitchika commented on #14830
The above message we can use, also message 1 will be really long. Are you sure you want to use this?

[2022-06-28 11:10] ChandanBalajiBP commented on #14397
Closing this issue as test cases are added in this PR - https://github.com/appsmithorg/appsmith/pull/14667

[2022-06-28 11:10] #14397 closed

[2022-06-28 11:30] rohitagarwal88 commented on #6687
[d2400b67-fba8-4322-b20e-621f62ec97a9.webm](https://user-images.githubusercontent.com/890915/176167882-f4cf5215-4d1f-4831-89e2-2bfba66d6d81.webm)
@vuiets / @rahulramesha : I agree with @vuiets opinions.
Check the retool error handling for color picker. That is inline with @vuiets expectation

[2022-06-28 11:49] riodeuno commented on #10332
There are two steps to resolve this problem:
1. We need to now add a function which purges non-existent paths and updates the `dynamicBindingPathList` with the correct paths so that this can be evaluated correctly. This function will run when we toggle from JS to UI and vice-versa on property controls. @appsmithorg/ui-building-pod @somangshu
2. We need to make sure that the options control doesn't

[2022-06-28 12:17] aswathkk opened #14867 "[Bug]: JS toggle for Label width property is not working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Right after clicking the JS button, it becomes disabled.
https://www.loom.com/share/05f6e6c4d8b145398dfe72af6f1c2fdf

### Steps To Reproduce

1. Add any widget with a label width property (example: Input widget)
2. click on JS toggle button for the label width

### Public Sample App

_No response_

[2022-06-28 12:18] sumitsum commented on #2284
Meeting updates:
* server side implementation for cursor pagination - @sumitsum [In review]
* smart substitution research and implementation for query body - @sumitsum
* fix client side issues mentioned on deploy preview Slack thread - @AmanAgarwal041 `[In progress]`
* QA to start 2nd round of test next week onwards - @yatinappsmith @prapullac
* create template for documentation - @nidhi-nair
* se

[2022-06-28 12:20] madsween commented on #6298
I think this would be a great thing. I am doing a trial of various low code tools to use in my small business and am concerned that my non technical employees will waste time messing around create junk in their own org rather focusing on the job and just using apps provided. If I add a user as "app viewer" for my domain.com I would expect them to literally be viewers and not creators.

[2022-06-28 12:21] somangshu commented on #7241
@dncpax My bad on understanding this incorrectly, I got to understand you use case now, This issue particularity will resolve sending messages to a website / app where an appsmith app is embedded in an iFrame.

You asked for sending the message to an iframe embed in appsmith, that will be taken care as part of #5390, We are figuring out the best way to achieve this right now, please give any sugge

[2022-06-28 12:23] #14821 closed

[2022-06-28 12:44] hiteshjoshi commented on #3935
Hey folks. This still happens on Sentry. Latest was 7 mins ago.

[2022-06-28 12:54] aswathkk commented on #10332
@riodeuno Why do we need to do this?
 Currently what happens is that, if _there are bindings_ or if _the value can't be represented in UI_, we don't allow switching back to UI mode. Wouldn’t this be sufficient?

[2022-06-28 13:12] jnikhila commented on #14830
@dilippitchika - We can reword message 1 to be a bit shorter -

`Message 1 - The entered text exceeds the <AllowedNumberOfChars> characters limit by <TheExceededChars> characters.`

For example, message 1: **"The entered text exceeds the 150 characters limit by 20 characters."**

[2022-06-28 13:25] dilippitchika commented on #5390
Following what @Nikhil-Nandagopal suggested, @sbalaji1192 to explore this idea-
We want to add a new message property to iframe, which when updated triggers the postMessage event on the iframe which the dev can then use to update the child.

[2022-06-28 13:59] vuiets commented on #13386
Adding another request from our community here

💬 [Discord](https://discord.com/channels/725602949748752515/725609493974614076/991308701120069632)

User would like the option to have a `Disable` option for tabs along with a JS toggle.

[2022-06-28 14:04] riodeuno commented on #10332
@aswathkk Yes, if we're achieving the above correctly, we're fine. We don't need to work on this aspect.

[2022-06-28 14:13] rishabhrathod01 opened #14870 "[Bug]: JSObject property not getting deleted from the dataTree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we remove variable from JSObject, the old removed variables still are present in JSObject dataTree.
<img width="1414" alt="Screenshot 2022-06-28 at 3 46 51 PM" src="https://user-images.githubusercontent.com/23132741/176200409-b438a35d-774e-4018-960a-d4f79895f0bc.png">

### Steps To Reproduce

[2022-06-28 15:32] sbalaji1192 commented on #14862
@techbhavin @dilippitchika @aswathkk This issue is happening when the evaulationVersion of the application is 1.

[2022-06-28 16:08] Nikhil-Nandagopal commented on #5390
@dilippitchika @sbalaji1192 rethinking this, maybe the message should not be a property of the iFrame since the message is a transient data value? Shall we just reuse the postMessage function that we're exposing?

[2022-06-28 16:18] felixsuarez0727 commented on #14587
![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/d91e67e4-2263-4242-a346-81066c0bbad4)

The page can be seen from the `feature/add-import-data-page`

[2022-06-28 16:22] Nikhil-Nandagopal commented on #14859
@unknown1337 I believe we have this issue tracked here #2639

[2022-06-28 16:22] #14859 closed

[2022-06-28 16:32] Nikhil-Nandagopal commented on #14755
@subrata71 But ideally this should not matter since the function name should be scoped by the name of the JSObject and hence does not need to be unique across widgets and other queries right?

[2022-06-28 16:44] Nikhil-Nandagopal commented on #14809
@rodrigo-mahamud this is because it is marked as a required field in the currency input property pane

[2022-06-28 16:44] #14809 closed

[2022-06-28 16:46] dncpax commented on #5390
I'm not an expert but I thought it could something we can bind to a store value, so that we can manipulate that store value and send it to the iframe. So more of a new property we can bind to.

[2022-06-28 16:46] Nikhil-Nandagopal commented on #4971
@MyWay could you describe what would you expect this integration to achieve over what the REST plugin supports today?

[2022-06-28 16:51] Nikhil-Nandagopal commented on #14804
@rohan-arthur reach is off here because all these users are app viewers and not necessarily developers and out of the developers the number that will reach this page is lower and the number that will experience this issue is a fraction of that

[2022-06-28 16:52] MyWay commented on #4971
It's a matter of productivity and ux mostly which I'd say fits perfectly with appsmith. Obviously using rest api you can achieve everything.

[2022-06-28 16:55] Nikhil-Nandagopal commented on #14804
@rohan-arthur reach for edit data source is closer to 13k, we also shouldn't assume that all those users will face this issue it will likely only be a small percentage

[2022-06-28 16:56] Nikhil-Nandagopal commented on #4971
@MyWay I understand that but I'm interested to know what type of UX you expect so that it can improve your productivity? This will help us build this feature better

[2022-06-28 17:24] MyWay commented on #4971
You may try tooljet online, to have an idea. I would use it mostly for the db interaction, so to fast query and insert/update data. So being able to query and output the result inside widgets, get the data from updated views and reflect updates to appwrite's db or create new documents.

[2022-06-28 17:28] AS-Laguna commented on #14717
I believe the team is currently looking into this. @ohansFavour is there any update on this?

[2022-06-28 18:08] cokoghenun commented on #12697
I've added this. Thanks @jnikhila

[2022-06-28 18:28] albinAppsmith opened #14875 "[Task]: Hosting setup for Design System Storybook"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

URL can be :- design-system.appsmith.com

[2022-06-28 18:54] AS-Laguna commented on #14717
@lukearran does this happen when testing the query in the query pane? There is a known issue of the filepicker being cleared when navigating away from the canvas in #11660. Could you check if this is the case?

[2022-06-28 19:08] albinAppsmith opened #14877 "[Task]: Integrate Changeset for release automation"
Implement changeset git workflow to automate release automation.

[2022-06-28 19:54] albinAppsmith opened #14878 "[Task]: Create workflow for adding design system pod members as reviewers in PR"

[2022-06-28 19:55] #14878 closed

[2022-06-28 19:55] lukearran commented on #14717
@AS-Laguna - I can reproduce that issue with navigating to a query pane when in the editor mode. But we can see the file data being passed into the S3 or PostgreSQL query before execution - when in published, or editor mode.

[2022-06-28 19:56] albinAppsmith opened #14879 "[Task]: Create workflow for adding design system pod members as reviewers in PR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Create Github workflow for adding Design System Pod members as reviewers if files inside ads folder is changed.

[2022-06-28 20:47] unknown1337 commented on #2430
Dear all, I see the actions pod label was removed. Does this mean that it's unlikely to be picked up soon? May I ask you to at least support the supabase auth JS client libs soon? (and possibly the others on the list @Nikhil-Nandagopal  :))

[2022-06-28 21:10] ohansFavour commented on #14827
@tiger360 I see you had agreed with my earlier comment about updating the stored value if a path is supplied as key to `storeValue`. Having discussed with the team, our resolution is to keep the storeValue API's behavior as it is, for consistency with that of the browser's `localstorage` setItem.
We'd however fix the initial issue where a sub-path is temporarily modified during evaluation.

[2022-06-28 21:34] AS-Laguna commented on #14717
@lukearran To clarify: you can see the file being sent, and it still seems to return `{}`? Could you please provide a loom video of this behavior?

[2022-06-28 21:36] felixsuarez0727 commented on #14370
Checking I found the problem is also found here:

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/df767cb0-aee0-41d0-9e7b-e3cb10ba51d1)

This one was already solved in master.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/021327f7-853c-4857-8eb8-ca6d7888a1a8)

[2022-06-28 21:38] zzgvh commented on #2284
Hey @sumitsum, awesome! I will try to find time to test this out! 😉 BTW I see there's an appsmith-ce Docker container tagged `test-graphql`, is that running this work you're doing?

[2022-06-28 23:31] juandl commented on #10347
![image](https://user-images.githubusercontent.com/25650720/176321234-7dae21cf-4257-4773-bc46-765dced70142.png)

[2022-06-29 02:29] shadabbuchh commented on #14830
**Correction:** Issue 2 exists on prod as well.

[2022-06-29 04:20] nidhi-nair commented on #14611
Engineering spec looks good to me. We can go ahead with this.

[2022-06-29 04:25] nidhi-nair commented on #10539
This is now in production, and GA! :)

[2022-06-29 04:25] #10539 closed

[2022-06-29 04:33] #14836 closed

[2022-06-29 04:40] nidhi-nair commented on #9042
Going ahead and closing this epic since we have closed all the bugs that can be fixed without having to work on enhancements.

[2022-06-29 04:40] #9042 closed

[2022-06-29 04:44] dilippitchika commented on #5390
Not sure if we can, @sbalaji1192 can you check this next week?

[2022-06-29 04:56] dilippitchika commented on #14862
@sbalaji1192 what does it mean in layman terms, is this possible for someone to face this in production?

[2022-06-29 05:03] ChandanBalajiBP opened #14882 "[Task]: Miro plot for mapping of required data types in Datatype handling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

List all datatypes on Client, Server side and JSON supported types and map on miro board
This helps us to get clear picture on all datatypes to be handled and plan better for the implementation

[2022-06-29 05:07] yatinappsmith opened #14883 "[Bug]: SaaS manager app modals should close on submit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[Bug]: SaaS manager app modals should close on submit

### Steps To Reproduce

Add New contributor
Steps
1) Goto "Admin Page"
2) click the integration
3) click +
4) Add few emails using csv
5) modal should close
6) Table with contributors should be updated

https://www.loom.com/share/877471d998a74

[2022-06-29 05:13] yatinappsmith opened #14884 "[Bug]: Contributors page should check for vaild email"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[Bug]: Contributors page should check for vaild email

### Steps To Reproduce

Steps
1) Goto "Admin Page"
2) click the integration
3) click +
4) Add invalid email
5) error should be displayed
https://www.loom.com/share/877471d998a74a5d8ea1571b6928d381

### Public Sample App

https://app.appsmith.c

[2022-06-29 05:15] yatinappsmith commented on #13163
- [ ] [[Test case][Saas Manager] Add invalid emails to contributor ](https://github.com/appsmithorg/TestSmith/issues/1924)
- [ ] [[Test case][Saas Manager] Delete contributor ](https://github.com/appsmithorg/TestSmith/issues/1923)
- [ ] [[Test case][Saas Manager] Add New contributor ](https://github.com/appsmithorg/TestSmith/issues/1922)

[2022-06-29 05:16] yatinappsmith commented on #13163
Bugs reported https://github.com/appsmithorg/appsmith/issues/14884
https://github.com/appsmithorg/appsmith/issues/14883

[2022-06-29 05:17] sbalaji1192 commented on #14862
@dilippitchika Yes. If they start using the currency widget in an old application. it should happen in production as well. Today I will look into a possible solution for this issue.

[2022-06-29 05:18] yatinappsmith commented on #12220
![image](https://user-images.githubusercontent.com/84702014/176357414-ffdff095-6052-4bf5-932a-956f4f3bbd86.png)
Bug verification failed

[2022-06-29 05:26] vivekverma2312 opened #14885 "[Bug]: JS toggle is not working for vertical alignment property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/fd17c1002a7148eeae4d78cd70b2dee9

### Steps To Reproduce

1. Drag and drop a table widget
2. Click on any column from property pane
3. Click on JS toggle for vertical alignment property
4. Observe that by default LEFT populates and clearing the data does noting

### Publ

[2022-06-29 05:41] shadabbuchh opened #14886 "[Bug]: No error is thrown if the input widget contains characters greater than the max limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

No error is thrown if one enters some text in the Input widget and then sets a `Max Chars` property such that it is less than the number of characters entered.
https://www.loom.com/share/1b94a690ce674008ac909f9dc6eb1ba1

Please note the following:

1. No error is triggered once you make a small ch

[2022-06-29 05:43] shadabbuchh commented on #14830
@somangshu as discussed I have created a separate bug https://github.com/appsmithorg/appsmith/issues/14886 for the following issue:

[2022-06-29 05:44] vivekverma2312 commented on #14885
@aswathkk We have a work around for this. If user enter `TOP | CENTER | BOTTOM` and click on JS toggle then user can go back to select existing options.
https://www.loom.com/share/ba0c31cd18784f1ea4e75b910585e779
Removing blocker label and adding critical label to it.

[2022-06-29 05:52] #14877 closed

[2022-06-29 05:52] dilippitchika commented on #14830
@jnikhila this works, thanks

[2022-06-29 05:59] dilippitchika commented on #11050
Apologies for the delayed response on this. The problem with map chart is we cannot have all the world countries added, each map is very expensive to pre-load and store in the map chart component. However, this means that the widget itself is not that useful, so we have to figure out a way to get to this.

[2022-06-29 06:06] jnikhila opened #14891 "[Docs]: [AWS AMI] - Update to latest Appsmith release"
Refer to the [slack](https://theappsmith.slack.com/archives/C0341RERY4R/p1656444464610149) discussion:

Update the broken links:

* Configure a custom domain for your App
* Find Application Credentials
* Updating your Appsmith installation

Also, add Update your Appsmith installation.

* Configure a custom domain for your App - link/step has to be removed.
Instead we can add link to the Custom dom

[2022-06-29 06:11] jnikhila commented on #14891
@sum35h - Could you please provide first draft or pointers for the doc?

[2022-06-29 06:25] Nikhil-Nandagopal commented on #2430
@unknown1337 yes unfortunately we haven't been able to prioritize this yet but we are keeping a keen eye on it. I think this will get picked up by end of this year. The reason we haven't added libraries out of the box yet is because we're wary of bloating the apps with unused libraries

[2022-06-29 06:27] Nikhil-Nandagopal commented on #14862
@sbalaji1192 I suggest we don't support older apps for this widget then and simply ask users to upgrade

[2022-06-29 06:38] unknown1337 commented on #2430
@Nikhil-Nandagopal , thanks for your quick reply. Would it be possible to 'simply' achieve this on a self hosted appsmith instance?

[2022-06-29 06:47] ChandanBalajiBP commented on #14882
Ref: https://miro.com/app/board/uXjVO2Pq1hs=/

[2022-06-29 06:53] ohansFavour commented on #14717
@lukearran we are currently not able to reproduce this behavior, even with the sample file which you sent. A loom video could better help us reproduce this.

[2022-06-29 06:58] mackgorski commented on #2430
+1 to this we could include some libraries on our own in CE self-hosted edition and then maybe even consider donating this to Open Source code for others to use. We have some apps we need to be able to integrate with libraries. Any guidance or help how to start with that on OSS would be awesome!

[2022-06-29 07:33] sbalaji1192 opened #14893 "[Feature]: Custom column in table v2 should be editable"
We need to evaluate whether we need to enable editability for custom column in Table v2

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_6jih8)

[2022-06-29 07:33] sbalaji1192 commented on #14893
@dilippitchika CC

[2022-06-29 07:38] sum35h commented on #14891
Points to add for updating Appsmith running on the aws ami:
## Updating manually
To update Appsmith  manually, ssh into the ec2 instance with the username `appsmith` and run the following command:
`cd appsmith && sudo docker-compose pull && sudo docker-compose rm -fsv appsmith && sudo docker-compose up -d`

## Enabling Appsmith Auto-updates
If your Appsmith setup does not have auto-update enabled

[2022-06-29 07:56] btsgh opened #14894 "[Bug]-[560]:Curl import does not work with figma api's"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I run a Curl import with Figma API, an error is thrown.
<img width="1219" alt="curlimport_figmaapi" src="https://user-images.githubusercontent.com/101863839/176382424-46f6efb4-4288-47d3-b3a6-c3d0b8fdc704.png">

### Steps To Reproduce

1. Open an application on Release
2. Go to Queries and cli

[2022-06-29 08:00] Nikhil-Nandagopal opened #14895 "[Bug]-[28000]:Binding shows successful even for invalid JS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Writing invalid code shows a successful state all across the editor

### Steps To Reproduce

1. Drag a table widget
2. Drag a Select widget
3. Bind {{Table1.test}} in the options field
4. See that it shows success
5. Add a JSObject and add the same invalid code in a function and notice it does not

[2022-06-29 08:03] Nikhil-Nandagopal commented on #14895
Every developer trying to do a binding will face this
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 7000 |
| Effort (months)  | 1 |

[2022-06-29 08:04] Nikhil-Nandagopal commented on #14895
@rohan-arthur @ajinkyakulkarni @ApekshaBhosale did something change here recently?

[2022-06-29 08:21] prapullac opened #14897 "[Bug]: Create sheet is not functional on migration app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Ensure the app has query wrt Create Query now export the app and import the same to DP and observe the query does not work

### Steps To Reproduce

1) Add a Create query in the application (Release)
2) Now import the application
3) Export the application (DP)
4) Run the Query and observe

### Publ

[2022-06-29 08:23] unknown1337 commented on #1911
Dear, could you give any update on the planning for this very nice feature?  :)

(and preferably, can we find some documentation what the labeling means to infer our self what is going on? e.g. the Actions pod label was removed, added and removed again 2 days ago. What does this mean? :) ) . thanks!!

[2022-06-29 08:27] somangshu commented on #14886
@techbhavin build an understand of what can be achieved from the above. Get in touch with @dilippitchika if you need clarity on the Requirement

cc @sbalaji1192 please review any changes w.r.t the same

[2022-06-29 08:54] Tooluloope commented on #7028
# Update on Discussions

- Decide on the Table Widget inside the List widget
    - So for now we have Zero requests for this feature, but we should still have this in mind later in the future for the List widget
- Decide on Data persistence when we switch pages
    - When we leave the canvas:
        - Persist any change in i/o widgets when we switch between pages(Move between Canvas and query pag

[2022-06-29 08:59] SatishGandham opened #14898 "[Task]: Fork and upgrade the chrome profile parsing library"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We use this library to parse our chrome profiles.
https://github.com/saucelabs/tracelib
It uses code from chrome devtools as is. Since the repository hasn't been update in 3 years, it might break any time with a new release of chrome.

Update the code used from chrome devtools with the latest ones.

[2022-06-29 09:23] #14891 closed

[2022-06-29 09:23] jnikhila commented on #14891
Published.

[2022-06-29 09:37] unknown1337 opened #14900 "[Bug]: issue with current item in List widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to bind currentitem.id in an *Icon* button click handler within a list:
1. auto complete does not work, current item is not recognized in the action button [NOK]
2. the currentItem.id is actually passed to the function [OK]
3. this ID is then used in an API request which hangs (await wi

[2022-06-29 09:38] jnikhila commented on #9965
@somangshu - Do you have a release date for this?

[2022-06-29 09:42] jnikhila commented on #12863
The [hashnode](https://appsmith.hashnode.dev/announcing-the-import-export-feature-for-appsmith-applications) link to update docs.

[2022-06-29 09:44] jnikhila commented on #13282
@ajinkyakulkarni - Could you please confirm who can help us on this?

[2022-06-29 09:46] jnikhila commented on #13320
[A video by @cokoghenun](https://www.youtube.com/watch?v=yn_8gs5w04g&feature=youtu.be) can be used to elaborate.

[2022-06-29 09:47] rohan-arthur commented on #2174
1. _When I am typing js, the local variables should show in the autocomplete based on the matches_
Currently, they don't. In the case below, `a` should be suggested on top because I entered `a`:
![Screenshot 2022-06-27 at 13 44 34](https://user-images.githubusercontent.com/94514895/176396530-78fa3576-40f8-4d4e-bf04-78ccd8b2baf3.png)

2. _When I am typing js, the function parameters should show in

[2022-06-29 09:53] rohan-arthur commented on #9692
_When I use `this.` in the js editor, I should see suggestions for object variables and nothing else_
in Anand's example above, all those suggestions should not be shown, instead autocomplete should only suggest `myVar1` and `myVar2`.

[2022-06-29 09:54] jnikhila commented on #11747
Need to contact with @sumitsum for review.

[2022-06-29 09:59] jnikhila commented on #12003
@danciaclara - We can pick this up as part of Rehaul Phase 2.

[2022-06-29 10:01] jnikhila commented on #13804
@danciaclara - We can update it as part of Rehaul Phase 2.

[2022-06-29 10:02] rohan-arthur commented on #14317
additionally, the type of `myVar1` is still shown as `array` in the autocomplete, but Raksha has changed it to a string. Check 00:40.

[2022-06-29 10:03] unknown1337 opened #14901 "[Bug]: api call with a failed response code causes the JSfunction to hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. when I create JSObj calling an API that replies with a 401 status causes the rest of the JSOBJ function to hang = NOK. This also implies that a catch block will never be reached [NOK2]

### Steps To Reproduce

1. Create JS obj
2. code:
`export default {
	logoutNow433423: async ()=>{
		await sto

[2022-06-29 10:04] Nikhil-Nandagopal commented on #1911
@unknown1337 we'll be picking this up in a week or 2. The labeling is just an internal way for us to organize issue and doesn't have any bearing on whether an issue is in progress or not. Look forward to updates here where we'll keep you informed with early previews of the feature

[2022-06-29 10:24] rohan-arthur commented on #13613
WIDGET_CARD_DRAG - Unique
type DOCUMENT_VIEWER_WIDGET
836

Assume 10% of users want to refer to this in some JS, so reach = 84

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 84 |
| Effort (months)  | 0.25 |

[2022-06-29 10:28] jnikhila commented on #14781
@rohan-arthur - Updated and published the doc.

[2022-06-29 10:29] unknown1337 opened #14902 "[Bug]: datasource allows binding to JS objects, but they might not exist on a different page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. datasources are app wide
2. if I create a datasource with some binding to a JSObj on page X then this will work as long as I'm on page X, e.g.
![image](https://user-images.githubusercontent.com/5968968/176415068-40d18f29-13b6-4c11-8666-79ba39e52d76.png)
3. if I now move to a different page, and

[2022-06-29 10:49] lukearran commented on #14717
@ohansFavour - No problem, I've included a Loom video below.

https://www.loom.com/share/69be9f6a38364a7893534514af812f7e

Please let me know if you require any further information.

[2022-06-29 10:57] sumitsum commented on #2284
Hi @zzgvh yes. It is the same docker container that is deployed on the given URL :) .

[2022-06-29 11:02] Nikhil-Nandagopal commented on #14902
Hi @unknown1337 this isn't necessarily an issue because you can bind to the data on the current page but yes ideally with the introduction of global actions, it will be easier to achieve this. I'm closing this right now because this is the expected behavior

[2022-06-29 11:02] #14902 closed

[2022-06-29 11:54] #14620 closed

[2022-06-29 11:55] #14608 closed

[2022-06-29 11:55] #12835 closed

[2022-06-29 11:55] #9266 closed

[2022-06-29 12:02] #13936 closed

[2022-06-29 12:33] #13642 closed

[2022-06-29 12:33] #14596 closed

[2022-06-29 12:55] abhvsn opened #14905 "[Docs]: Disable overriding the ssh key config through identityFile to avoid git auth failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/core-concepts/version-control-with-git/connecting-to-git-repository

### Describe the problem

When user is working with local development ssh config file can have default ref for IdentityFile mapped to
`~/.ssh/id_ed25519` as per latest security guidelines followed

[2022-06-29 13:26] felixsuarez0727 commented on #14655
This is a known bug with the List Widget: https://github.com/appsmithorg/appsmith/issues/14697

[2022-06-29 13:39] Nikhil-Nandagopal opened #14906 "[Docs]: Java heap specs which Appsmith is hosted"
<p>Users would like to know about necessary resources for hosting Appsmith, and information about improving Appsmith instance performance by increasing available resources (via the `APPSMITH_JAVA_HEAP_ARG` variable in the .env file).</p>
<p>Discord thread here: https://discord.com/channels/725602949748752515/760761686549463060/991580506988748893</p>

[2022-06-29 16:11] codedmind commented on #11422
Still happens in v1.7.5

[2022-06-29 16:36] ame-appsmith opened #14909 "[Bug]: Unable to Connect to ElasticSearch Database"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user tried to connect to their ElasticSearch database after doing some changes in their db and got the following error:
`class [Ljava.lang.Object; cannot be cast to class [Lorg.apache.http.Header; ([Ljava.lang.Object; is in module java.base of loader 'bootstrap'; [Lorg.apache.http.Header; is in

[2022-06-29 16:54] ame-appsmith opened #14910 "[Bug]: Unable to Get Actual Associated Error Message in Catch Block When Query Fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When running a query that fails (statuscode=400), it is not possible to get the actual associated error message (in a .catch() block). E.g.:
[code]

[2022-06-29 19:05] AS-Laguna commented on #776
@Rishabh-Rathod is there any update on this? Also a use case from discord user vaidarbhi#9160:

[2022-06-29 19:44] Rishabh-Rathod commented on #14870
Seems like this issue also got closed with #14842, I am unable to reproduce it anymore.

cc: @ramsaptami

[2022-06-29 19:44] #14870 closed, assigned to rishabhrathod01

[2022-06-29 19:47] renekahremann commented on #6298
+1 I have the same problem like madsween. I don't see any reason why "Viewers" should be able to create their own organization. This is very important for us.

[2022-06-29 19:47] pranavkanade commented on #14542
We can delay this

[2022-06-29 20:04] felixsuarez0727 commented on #13163
Fixed bugs on issues  https://github.com/appsmithorg/appsmith/issues/14884  and https://github.com/appsmithorg/appsmith/issues/14883.

Added function to validate emails and close modal

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/4a301375-57b9-4b90-be8b-b1de96db9c9e)

[2022-06-30 04:19] #14885 closed

[2022-06-30 04:58] #13746 closed

[2022-06-30 05:08] AmanAgarwal041 commented on #12220
Code has been merged to master branch.

[2022-06-30 05:35] somangshu commented on #9965
@jnikhila I think I initial understanding of this issue is skewed. Apologies for the same! Here is what I have understood now

We don't have `postMessage` API that can help here. The initial sample app which I provided caters to another use case all together. My understanding right now is that if the parent app (where appsmith app is embedded) needs to communicate with the embedded appsmith app, t

[2022-06-30 05:45] pranavkanade commented on #11422
@hiteshjoshi can we please prioritize this?

[2022-06-30 05:55] hiteshjoshi commented on #11422
@pranavkanade , @Parthvi12 tested it and could not replicate it. Can you redirect us to the application you are testing? That will be better point to start.

[2022-06-30 06:10] sbalaji1192 commented on #14862
@techbhavin We can tweak the regex to make it work in both evaluated versions. let me know if this works.
[code]

[2022-06-30 06:58] tomjose92 opened #14915 "[Bug]: Newline character and multiline formatting breaks when using Bulk Insert/Update with Google Sheets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I am adding/updating a single record into Google Sheet, with one of the params like "message" having multiline text, the formatting is maintained.
But if i use bulk insert/update, all the multiline characters ie "\n", looses the slash, and hence the formatting gets broken

### Steps To Reprod

[2022-06-30 07:06] tiger360 commented on #14827
I still don't get the behavior here :
It's not respecting the order of execution
plus I have the key stored and the path too in the "store"
![image](https://user-images.githubusercontent.com/5794444/176613457-efec9520-157b-4268-aa1d-8ad8666666c2.png)

[2022-06-30 07:15] rohan-arthur opened #14916 "[Bug]-[9600]:new JS function does not show in the run dropdown until refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/94514895/176615689-e91f1318-8765-4e64-b77d-6e6b99ec6026.mov

when I add a new js function, it is not available to be run

### Steps To Reproduce

1. create a new js object
2. ignore the default added functions, add one more below them
3. enter some valid s

[2022-06-30 07:18] codedmind commented on #11422
@hiteshjoshi i share a loom with @pranavkanade in discord.

[2022-06-30 07:19] ohansFavour commented on #14827
Hey @tiger360 ,

1. The issue with it not respecting the order of execution is fixed in this [PR](https://github.com/appsmithorg/appsmith/pull/14847) and will be merged as soon as possible.

2. When a path is used as a key in `storeValue`, it won't cause an update in store at that path. A new field with the path as key will be created in store.

Eg. storeValue("example.name", "felix", false) will

[2022-06-30 07:21] #14503 closed

[2022-06-30 08:30] jnikhila commented on #11979
@nidhi-nair - I've updated the code snippets as per UQI. Please verify.

[2022-06-30 08:31] jnikhila commented on #10541
@rohan-arthur / @nidhi-nair - I've shared the doc for review.

[2022-06-30 08:42] sharat87 commented on #14406
@yatinappsmith Is this still an issue? Unless the license key is incorrect, I can't reproduce the problem with the steps given in the description. Can we close this if it's no longer an issue?

[2022-06-30 09:15] riodeuno opened #14917 "[Bug]: Un-necessary evaluations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We can see two evals happening for one change in property from the property pane. This seems un-necessary

https://user-images.githubusercontent.com/103687/176639630-be6ec498-a25f-4d09-b41f-5e998a581a04.mov

Note 1: This was seen during development.
Note 2: During triage, we might find more scenar

[2022-06-30 09:21] sumitsum opened #14918 "[Feature]: Need per user authentication for datasources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ask here is that the datasource for each end user should use a different set of credentials based on the user. A use case here is Postgres RLS (Row Level Security). To use RLS, the query must be run with the user credentials of each logged in user.

### Why should this be worked on?

Adds new capabili

[2022-06-30 09:26] sharat87 commented on #9578
Looks like we have this flow today, so closing.

[2022-06-30 09:26] #9578 closed

[2022-06-30 09:27] Nikhil-Nandagopal commented on #14895
@rohan-arthur this is only partially linting related. It's a much bigger underlying problem that the JS framework is not surfacing these errors. Can we fix this as ad-hoc and not part of a large project?

[2022-06-30 09:29] sharat87 commented on #9698
@RakshaKShetty, can't reproduce this, so closing. Please reopen if otherwise.

[2022-06-30 09:29] #9698 closed

[2022-06-30 09:31] unknown1337 commented on #14918
Thanks a lot for adding this issue @sumitsum  after our chat. One important sidenote from your side:
1. note that an Appsmith postgres connection creates a persistent connection for EACH user. If many users are online in parallel then many connections are open (which is not the case for a REST api through e.g. supabase)

[2022-06-30 09:32] prapullac commented on #14897
Tested on the DP

[2022-06-30 09:34] sharat87 commented on #9699
I'm not sure what popup we are talking about here. @RakshaKShetty, is it something that was removed in the time since this issue was opened? If that's the case, can we close this? If not, can you provide a screenshot or provide some more detail please?

[2022-06-30 09:36] sharat87 commented on #9828
Closing as can't reproduce.

[2022-06-30 09:36] #9828 closed

[2022-06-30 09:36] #9699 closed

[2022-06-30 10:00] jnikhila opened #14919 "[Docs] : [Update] Camera widget"
Restructure and add content for the [camera widget](https://docs.appsmith.com/widget-reference/camera)

Also, add an example for uploading images to s3 using camera widget.

[2022-06-30 10:07] dilippitchika commented on #9872
Removing app viewers pod tags here

[2022-06-30 10:20] dilippitchika commented on #13444
I guess this happens for all widgets inside form, tested with input, checkbox, radio etc.

Looks like a race condition, but need someone to triage.

[2022-06-30 10:21] dilippitchika commented on #13444
Souma can you triage why this issue is happening??

[2022-06-30 10:22] #14220 closed

[2022-06-30 10:22] #13854 closed

[2022-06-30 10:24] jnikhila opened #14921 "[Docs]:[Update] S3 datasource"
Refer to the [slack thread.](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1656499531950209)

Create a how to guide-
* The structure that the user can use in content
* An example using camera widget to upload images

[2022-06-30 10:25] sharat87 commented on #10110
This was already fixed.

[2022-06-30 10:25] shadabbuchh opened #14922 "[Bug]: Duplicate names for sections in property pane of RTE widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In a RTE widget there are two sections in the Property pane named `Styles`. Ideally one of them (which deals with label styling) should be named as `Label Styles.`
<img width="305" alt="Screenshot 2022-06-30 at 3 44 58 PM" src="https://user-images.githubusercontent.com/39921438/176654839-2e6f5fb7-

[2022-06-30 10:28] dilippitchika commented on #14442
I don't understand this is issue, when value is duplicate it will never work in the select widget. The dev will have to change the binding there.

@somangshu @chandannkumar

[2022-06-30 10:28] btsgh commented on #14620
Tested the areas as mentioned in the video by @shadabbuchh. User can see only Events now, and also, the naming inconsistency between button and button group is resolved. At both places its Events.

[2022-06-30 10:43] dilippitchika commented on #14466
@Tooluloope can you triage this? We need to know if it's a list issue or JS issue.

[2022-06-30 10:48] dilippitchika commented on #14491
@chandannkumar in the same app can you check one more thing for me -
Instead of step 5 in the above list of steps, go to a query or a JS object page and come back to the filepicker.

Can you check if step 6 is still the same here?

[2022-06-30 11:01] eco-monk opened #14926 "[Feature]: search, group and categorize errors in debugger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Instead of showing a list of errors in debugger.
We could have the option to group and categorize them.

---

### Why should this be worked on?

If the user has a long list of pending errors. (9+)
- It's discouraging to skim through the list of errors. (if they decide to clean up their app)
- It's not

[2022-06-30 11:06] shadabbuchh commented on #13389
On setting tomorrow's date or any other date as `Min Date`, the `Datepicker` widget allows the developer to only select from that date and not before it.
https://www.loom.com/share/90c861481fb547a78dcb3ec0df09f3a1

[2022-06-30 11:12] dilippitchika commented on #14693
Assuming 30% of audio rec widgets get reset either via form or directly

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 21 |
| Effort (months)  | 0.5 |

[2022-06-30 11:13] Rishabh-Rathod opened #14927 "[Bug]: JSObject arguments determination using regex do not handle few cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Current logic to determine arguments using regex didn't handle all the cases of js code
For example :-

[code]
- current output

[code]

- expected output
[code]

### Steps To Reproduce

1. Create a JSObject with below code

[code]
2. Open browser devtools and check for dataTree
3. Look for `JSObj

[2022-06-30 11:16] Rishabh-Rathod opened #14928 "[Task]: Refactor JSObject evaluation code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Move following functions out of `DataTreeEvaluator.ts` to `JSObject/index.ts`
   -  getJSEntities
   - getUpdatedLocalUnEvalTreeAfterJSUpdates
   -  parseJSActions
- Move  following functions out of `evaluationUtils.ts` to `JSObject/utils.ts`
   - updateJSCollectionInDataTree
   - removeFunctionsAn

[2022-06-30 11:20] chandannkumar commented on #14491
@dilippitchika Just checked the scenario as u suggested, the discrepancy on files count can be seen in this too

[2022-06-30 11:21] jnikhila opened #14929 "[Docs] : Add - Keyboard Shortcuts"
Add a doc for using keyboard shortcuts in Appsmith.

[2022-06-30 11:25] dilippitchika commented on #14819
Assuming 20% of select/Treeselect values are numbers

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 187 |
| Effort (months)  | 0.5 |

[2022-06-30 11:28] dilippitchika commented on #14491
Ok closing in favor of #11660

[2022-06-30 11:28] #14491 closed

[2022-06-30 11:33] dilippitchika commented on #11660
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | 1 |

[2022-06-30 11:40] vishnu-gp opened #14931 "[Bug]: Keycloak credentials are missing from docker.env after upgrading to EE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the Appsmith docker version is upgraded from Community Edition to Enterprise Edition the Keycloak user credentials are missing from docker.env post upgrade.

### Steps To Reproduce

1. Start CE container using docker-compose.yml
2. Update docker-compose.yml to use EE image with License Key
3.

[2022-06-30 11:43] shadabbuchh commented on #14819
@dilippitchika

This is a regression as I was able to produce it only in release and not in prod during our regression.

In `MultiTreeSelect` widget the radio buttons do follow the border radius logic (both `App Border Radius` & widget `Border Radius`).
https://www.loom.com/share/ac1fa164d235439bb08496f244185671
Should we treat this as a bug then instead of the `TreeSelect` radio buttons & `MultiT

[2022-06-30 11:49] somangshu commented on #14442
I dont remember adding the above detail here.

I agree to @dilippitchika, this is a valid failure

[2022-06-30 12:05] jsartisan opened #14932 "[Task]: Add support to show/hide watermark from super admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update backend to support changing config variable value to show/hide watermark
- Consume the APIs in frontend and create UI in the super admin settings page for the same

[2022-06-30 12:44] dilippitchika commented on #14922
@keyurparalkar please add your RTE pr to this once you fix this issue

[2022-06-30 12:47] dilippitchika commented on #14857
@iamrkcheers assigning this issue to you, proposed fix is the following
1. For the max files field, add a validation to not accept 0.
2. When 0 is still bound using some api or variable, disable the widget altogether

[2022-06-30 12:59] Rishabh-Rathod commented on #14618
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1250 |
| Effort (months)  | 0.45 |

[2022-06-30 13:03] shadabbuchh commented on #14819
Update after call with @dilippitchika:

This issue is still present in release and not in prod.

This will be fixed as a part of #10990

This is not a bug as Radio buttons will not follow the `Border Radius` logic.

[2022-06-30 13:04] Rishabh-Rathod commented on #14618
Moved this to product backlog as issues it resolve are already in product backlog.

[2022-06-30 13:06] dilippitchika commented on #14833
Fix -
1. Limit the max rating value to 100, saw 3 instances of data where this was set to 100.
2. For any  new or existing widgets where value is set to greater than 100 -
    - Show an error in the property pane
    - Show only upto 100 items in the rating
    - Fill all the items if default value >= 100

CC @somangshu

[2022-06-30 13:07] dilippitchika commented on #14833
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3 |
| Effort (months)  | 0.5 |

[2022-06-30 13:10] dilippitchika commented on #14824
@shadabbuchh this is intentional as these are error tooltips or tooltips which need to draw attention.

Which part does it not match to?

[2022-06-30 13:46] spark-c opened #14935 "[Docs]: Add async / await snippet to storeValue docs"
`storeValue` is an asynchronous action, and it is sometimes necessary to `await` the function call when attempting to store data and then access it again. However, our docs page [here](https://docs.appsmith.com/reference/readme-1/actions/store-value) does not make clear mention of this. The function signature does indicate that `storeValue` returns a Promise, but otherwise we don't mention that it

[2022-06-30 14:42] Rishabh-Rathod commented on #14917
### Initial RCA

This seems to be an issue with the CheckBox Group widget.

In `componentDidUpdate` when options change we re-calculate the `selectedValues` and call `updateWidgetMetaProperty` to update the `selectedValues`

In case, when previous and newly calculated `selectedValues` are equal we should not call `updateWidgetMetaProperty`

Below code fixes this issue.

[code]

[2022-06-30 14:58] shyamal-anadkat commented on #7090
+1! @Nikhil-Nandagopal - any plans for this feature on the roadmap?

[2022-06-30 19:54] albinAppsmith opened #14936 "[Task]: Create workflow for storybook deployment"

[2022-07-01 03:31] #14818 closed

[2022-07-01 04:35] dilippitchika opened #14938 "[Bug]: JSON form switch and checkbox alignment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The alignment property of the switch in JSON form should be updated to be called "Label position" and Left and Right should determine the position of the label. Migration needed

The alignment property of the checkbox in JSON form should be updated to be called "Label position" and Left and Right

[2022-07-01 04:39] dilippitchika commented on #14938
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 7 |
| Effort (months)  | 0.5 |

[2022-07-01 04:41] IAmAnubhavSaini opened #14940 "[Task]: Fix import cypress tests for ssh key regeneration"
![](https://user-images.githubusercontent.com/1573771/176824608-8db805ce-ab73-4e37-9039-aa0038249143.png)

PR that is failing without these tests: https://github.com/appsmithorg/appsmith/pull/14383

[2022-07-01 04:44] shadabbuchh commented on #14824
@dilippitchika

Understood. Does this hold good for tooltips displayed for `Icon Button` widgets as well?

If you see for an `Icon Button` the background for the tooltips is white where as the tooltips in the rest of the app have a black background.
<img width="327" alt="Screenshot 2022-07-01 at 10 13 52 AM" src="https://user-images.githubusercontent.com/39921438/176824983-2afe3c6b-8a4a-4545-ab54-

[2022-07-01 05:05] btsgh commented on #14384
Tested and found to be working fine.

[2022-07-01 05:26] #14827 closed

[2022-07-01 05:42] gamekaiju opened #14941 "[Feature]: Ghost CMS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I would love to see Appsmith integrated with Ghost CMS.

### Why should this be worked on?

[Ghost CMS](https://ghost.org/customers/) is one of the most popular CMS out there and the only one (that I'm aware of) with an integrated payment provider besides Shopify. It would be great for publishers in g

[2022-07-01 05:44] btsgh commented on #14885
When we empty the field and click anywhere outside, the CENTER text automatically gets added to the field

[2022-07-01 05:50] jsartisan commented on #13617
@dilippitchika The issue is not related to theming because it is still happening there is no BorderRadius column. This is related to actions and queries. Pulling the issue of theming stability epic.

[2022-07-01 05:53] #14852 closed

[2022-07-01 05:56] #13720 closed

[2022-07-01 06:06] RakshaKShetty commented on #14682
Fixed <img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/176834102-c6625bc3-fd3e-4eeb-a3b5-14c85e370a45.png">

[2022-07-01 06:12] Rishabh-Rathod commented on #14317
This seems to be resolved by the JSObject AST parsing fix #14842 which went into release.

We could verify and close this. I have already verified once.

cc: @ramsaptami  @RakshaKShetty

[2022-07-01 06:13] btsgh commented on #12835
This issue has been fixed and is working fine on release.

[2022-07-01 06:44] chandannkumar opened #14943 "[Bug]: Table column's cell background color sets 2 different color in same column when selecting theme color over other colors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Table column's cell background shows different color in same column when we select any color from the popup and then select theme color.

Also, it is observed that, **Theme color** is only applicable to the rows where data is present and not to the entire column visible

https://www.loom.com/share

[2022-07-01 07:10] Rishabh-Rathod opened #14945 "[Task]: Evaluation code refactor for ease of understanding and maintainability"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

### Problem statement

- Current `DataTreeEvaluator` has become huge ~1700 lines of code, which makes it difficult to maintain and understand.
- Directly mutating class property makes it bit difficult to debug.

To simplify our code we could slowly refactor `DataTreeEvaluator` with below steps.

1. I

[2022-07-01 07:10] Rishabh-Rathod opened #14946 "[Task] Refactor DependencyMap generation and updation code in Evaluation"
### SubTasks

- Move following functions out of `DataTreeEvaluator.ts` to `DepencdencyMap/index.ts`
   - createDependency
   - updateDependency
   - ~sortDependencies~
   - ~listEntityDependencies~

[2022-07-01 07:11] Rishabh-Rathod opened #14947 "Validation"

[2022-07-01 07:15] pranavkanade commented on #12713
@nidhi-nair this issue has resurfaced. [Internal discussion](https://theappsmith.slack.com/archives/C0341RERY4R/p1656488339424539)

[2022-07-01 07:45] subrata71 commented on #13285
I am going to look into this issue in this sprint.
cc: @rohan-arthur @nidhi-nair

[2022-07-01 08:03] jnikhila commented on #14929
@Pranay105 - Please review.

[2022-07-01 08:10] techbhavin commented on #9844
@ramsaptami  @somangshu

As per my testing, I am not able to reproduce my issue. I attached the Below video for reference.
Let me know if I am following the wrong step.

Application Link: https://release.app.appsmith.com/app/common-testing-application/page-62be8b496d836615ef8a90ac

https://user-images.githubusercontent.com/58818598/176852274-83f0c697-d267-4095-a3c0-5bec670730da.mov

[2022-07-01 08:58] btsgh commented on #14608
Tested on release and found to be working correctly.

[2022-07-01 09:00] vivekverma2312 opened #14949 "[Bug]-[385]:Actions on RTE is repeated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="761" alt="Screenshot 2022-07-01 at 2 28 58 PM" src="https://user-images.githubusercontent.com/83569920/176862557-2e3623c7-4978-4bb4-97ba-ea2f6419ac96.png">

### Steps To Reproduce

1. Drag and drop a RTE widget
2. Click on 3 dots in toolbar
3. Check the actions are repeated

### Public

[2022-07-01 09:06] pranavkanade opened #14950 "[Feature]: Add tooltip properties for form input widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Users would like to see tooltip option for following widgets - Text / Input / Select / MultiSelect

### Why should this be worked on?

This should be an easy solve with good value addition. One of our customers has brought this to our attention.

[2022-07-01 09:09] Rishabh-Rathod commented on #14461
Internal discussion - https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1656039009475309

Closing this as we weren’t able to reproduce this issue and there were 2 storeValue fixes that went in which ideally should resolve above issue too.

Fixes - https://github.com/appsmithorg/appsmith/pull/14847, https://github.com/appsmithorg/appsmith/pull/14658

If this is reproducible then feel free to re-o

[2022-07-01 09:09] #14461 closed

[2022-07-01 09:12] dilippitchika commented on #10182
Proposed solution - We use grids in the group widgets

Devs see -
1. Alignment option is not visible in checkbox group
2. A new field called no. of coloumns to be added, checkbox, radio and switch groups. Only visible when inline is true (what happens if the field is JS)
   - Max value - 64 should be the max allowed, whenever user enters higher number we restrict to 64.
   - Min value - should nev

[2022-07-01 09:15] pranavkanade opened #14951 "[Feature]: give an option to create full screen modals"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

<img width="878" alt="Screenshot 2022-07-01 at 2 40 25 PM" src="https://user-images.githubusercontent.com/13262095/176864453-0bf61abf-325f-432d-81a7-e96c94757e3e.png">
We should provide flexible options to create modals of different sizes.

### Why should this be worked on?

A user wanted to create a

[2022-07-01 09:15] manikumarnune123 commented on #14929
Interested

[2022-07-01 09:37] rishabhrathod01 opened #14952 "[Enhancement]: Toast Message system errors on canvas leads to bad UX"
### Is there an existing issue for this?

- [X] I have searched the existing issues

#### Problem

Toast message for system errors like onPageLoad API failures being shown on canvas, blocks the canvas for few seconds and makes it non-intractable.

![image (1)](https://user-images.githubusercontent.com/23132741/176868575-dbcdbb69-4cba-4477-ad53-a4dd1c74f8de.png)

Internal discussion [link](https://

[2022-07-01 09:38] btsgh opened #14953 "[Bug]-[36]:In a table widget, JS toggle retains the CENTER text on vertical alignment property of column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On clearing JS toggle of vertical alignment property of a column in a table widget, and clicking anywhere outside the text area, the CENTER text comes back up again.

### Steps To Reproduce

Drag and drop a table widget
Click on any column from property pane (say Task column)
Click on JS toggle fo

[2022-07-01 09:46] jnikhila commented on #14929
Merged and updated to v1.4

[2022-07-01 09:46] #14929 closed

[2022-07-01 10:14] shadabbuchh commented on #14922
This issue has been fixed. Now we see `Label Styles` & `Styles` as two different sections in the property pane.
![Screenshot 2022-07-01 at 3.43.06 PM.png](https://images.zenhubusercontent.com/6278b12bad578328630ba2e7/bbe5ed77-f5d0-4a55-a171-8d473497afba)
Moving it to `Done`.

[2022-07-01 10:34] btsgh opened #14954 "[Bug]: JS Toggle on Date picker's First Day of Week is not consistent with other fields JS toggle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I enable JS using JS toggle on First day of Week field (which has default 0 in it) of Date Picker widget, immediately it gets disabled and user has to clear field to enable it again.

### Steps To Reproduce

Drag and drop a Date picker widget
In the Property Pane, browse down to the First Day

[2022-07-01 10:38] btsgh commented on #14954
cc: @aswathkk

[2022-07-01 10:48] vivekverma2312 opened #14956 "[Task]: Rich Text Editor Test cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

RTE Basic Test cases:

RTE Integration Test cases: https://github.com/appsmithorg/TestSmith/issues/1926

[2022-07-01 10:48] dilippitchika commented on #10182
**Objective**

Aligning groups of checkboxes, switches is painful as it doesn’t follow a standard system today. We want to introduce a grid layout to ensure these widgets are always aligned.

**Widgets impacted**

1. Switch group
2. Checkbox group
3. Radio group

**Proposed app viewer experience**

1. All the options in the checkbox group should be aligned by default
2. When an option exceeds widt

[2022-07-01 11:03] Richarex commented on #14628
This is fixed verified it on release branch

[2022-07-01 11:11] dilippitchika commented on #14951
@pranavkanade can you let me know why they don't want to use a new page?

[2022-07-01 11:23] #13992 closed

[2022-07-01 11:33] dilippitchika commented on #14840
@iamrkcheers can you pick this up? This uses a validation fuction which doesn't support spaces yet. We can add that.

[2022-07-01 12:03] dilippitchika commented on #14840
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 49 |
| Effort (months)  | 0.25 |

[2022-07-01 12:05] dilippitchika commented on #14857
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 130 |
| Effort (months)  | 0.5 |

[2022-07-01 12:11] Parthvi12 commented on #14628
https://user-images.githubusercontent.com/80334441/176891447-0235c311-25e7-4573-b4f4-d76525b49581.mov

@akash-codemonk  On adding new page It shows a full page prompt for the next page of signposting, although on navigating to another page and coming back , it goes away.

[2022-07-01 12:36] jsartisan commented on #14159
Closing the epic :D

[2022-07-01 12:36] #14159 closed

[2022-07-01 13:12] akash-codemonk commented on #14628
I think it makes sense to show the page as the user is in signposting. Also the user can click on the cta `Add a widget` to see the canvas. The task page is shown when there are no widgets on the canvas so it isn't really hiding any widget.  @kocharrahul7

[2022-07-01 16:57] jiangtao opened #14960 "[Feature]: Support Yapi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

[Yapi ](https://github.com/YMFE/yapi)is one of the most popular api management platform in China. I want to support Yapi can  be used in appsmith. What will I do if I want to pull request?

### Why should this be worked on?

- support [Yapi ](https://github.com/YMFE/yapi)

[2022-07-02 17:53] #9738 closed

[2022-07-02 21:50] kamal0808 commented on #12476
Is the checkbox "Run on API Load" is of no use then if the data is mapped to some widget? It calls the API even the checkbox says it won't

[2022-07-02 22:13] OladapoAjala commented on #14931
@Nikhil-Nandagopal @pratapaprasanna I guess to fix this one must have a an EE license key?

[2022-07-03 04:26] IAmAnubhavSaini commented on #14673
This has been fixed in https://github.com/appsmithorg/appsmith/pull/14597

See:

https://user-images.githubusercontent.com/1573771/174010973-e9e3e2ed-8cfc-4092-b1bf-2d0a20414d11.mov

[2022-07-03 04:26] #14673 closed

[2022-07-03 04:44] IAmAnubhavSaini commented on #14569
This will be taken care by https://github.com/appsmithorg/appsmith/pull/14383

[2022-07-03 04:45] IAmAnubhavSaini commented on #14523
This was fixed by https://github.com/appsmithorg/appsmith/pull/14540

[2022-07-03 04:45] #14523 closed

[2022-07-03 05:11] IAmAnubhavSaini commented on #14308
This has been fixed.

https://user-images.githubusercontent.com/1573771/177025792-58672a68-fe38-4f15-9fdf-048a47518705.mov

[2022-07-03 05:11] #14308 closed

[2022-07-03 07:17] Rishabh-Rathod commented on #12476
@kamal0808  the checkbox `"Run on Page Load"` does disable/enable running API on page load. ( works as expected )

Above discussion were mainly on user experience. When user types `{{Api.data}}` Appsmith automatically enable the Api to run on page load. But in few cases, user would like to disable it.

For such case, instead of going to Api editor settings to disable, we discussed on a `cancel` CT

[2022-07-03 14:11] ohansFavour commented on #14717
Further discussion

https://discord.com/channels/725602949748752515/760761686549463060/988818435809112064

[2022-07-03 20:42] Tooluloope commented on #10303
Closing As this currently works
https://user-images.githubusercontent.com/31691737/177056632-5f5ed1ff-a6bd-4831-9296-cd093582ca77.mov

[2022-07-03 20:42] #10303 closed

[2022-07-03 20:43] #8221 closed

[2022-07-03 20:47] Tooluloope commented on #6509
Currently works without error
<img width="1481" alt="Screenshot 2022-07-03 at 21 46 27" src="https://user-images.githubusercontent.com/31691737/177056786-97042d65-3974-4b12-9273-c578ffe4abb7.png">

[2022-07-03 20:47] #6509 closed

[2022-07-03 20:56] Tooluloope commented on #9853
Cant reproduce this issue

[2022-07-03 20:56] #9853 closed

[2022-07-03 21:42] Tooluloope commented on #11364
Closing in support of https://github.com/appsmithorg/appsmith/issues/6858

[2022-07-03 22:08] Tooluloope commented on #10841
Closing in favour of https://github.com/appsmithorg/appsmith/issues/13211

[2022-07-03 22:12] Tooluloope commented on #5242
Cant reproduce

[2022-07-03 22:12] #5242 closed

[2022-07-03 22:17] Tooluloope commented on #7334
Cant reproduce

[2022-07-03 22:17] #7334 closed

[2022-07-03 22:45] Tooluloope commented on #7429
Cant reproduce

[2022-07-03 22:45] #7429 closed

[2022-07-03 22:46] Tooluloope commented on #7578
I'm unable to reproduce this issue now.

[2022-07-03 22:46] #7578 closed

[2022-07-03 22:49] Tooluloope commented on #6493
I'm unable to reproduce this issue now.

[2022-07-03 22:49] #6493 closed

[2022-07-03 22:50] Tooluloope commented on #6494
I'm unable to reproduce this issue now.

[2022-07-03 22:50] #6494 closed

[2022-07-03 22:51] Tooluloope commented on #7036
I'm unable to reproduce this issue now.

[2022-07-03 22:51] #7036 closed

[2022-07-03 22:51] Tooluloope commented on #7190
I'm unable to reproduce this issue now.

[2022-07-03 22:51] #7190 closed

[2022-07-04 02:59] IAmAnubhavSaini commented on #10164
![](https://files.slack.com/files-pri/TGA9SH07N-F03N7USQY5A/screenshot_2022-07-03_at_21.27.28.png)

[2022-07-04 03:01] #7231 closed

[2022-07-04 03:01] #10419 closed

[2022-07-04 03:01] #14045 closed

[2022-07-04 03:01] #14688 closed

[2022-07-04 03:01] #14708 closed

[2022-07-04 03:01] #14922 closed

[2022-07-04 03:55] #11551 closed

[2022-07-04 04:28] aswathkk commented on #14954
@dilippitchika Do we need JS toggle option for *First Day of Week* property?
Since it is an input field already and it supports JS code by default, why do we need to convert it into a JS field?

[2022-07-04 04:37] AnaghHegde commented on #14812
Tracking this via #14829

[2022-07-04 04:37] #14812 closed

[2022-07-04 04:52] ayushpahwa opened #14965 "[Bug]: Remove 300 ms delay from fetchDynamicValues flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We are waiting for 300ms when fetching dynamic values after we get the notification that evaluations are complete to allow for the data tree to be updated. We can work to remove this delay by
1. Hooking up the trigger to a different action that notifies when the new tree is ready
2. Create a non-b

[2022-07-04 05:18] dilippitchika commented on #14954
No we don't need it. Looks like it was added by accident. We can remove it safely.

[2022-07-04 05:30] dilippitchika commented on #13583
The only change i see is the font size is smaller, other than that there is no difference. I also don't see the design mentioning what this does.

If so, can we safely remove this field?

[2022-07-04 05:36] albinAppsmith opened #14966 "[Task]: Migrate Design System Text Component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Migrate Text component from main repo to design-system repo
- Write story

[2022-07-04 05:40] IAmAnubhavSaini commented on #10164
Related duplicate key error: https://github.com/appsmithorg/appsmith/issues/9107

---

The message is way too detailed and technical. It also leaks implementation details.

User still doesn’t know what to do with the information, other than reaching out to support.

[2022-07-04 05:40] dilippitchika commented on #13583
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 146 |
| Effort (months)  | 0.25 |

[2022-07-04 05:43] #11186 closed

[2022-07-04 05:43] #14312 closed

[2022-07-04 05:43] #14349 closed

[2022-07-04 05:43] #14359 closed

[2022-07-04 05:43] #7003 closed

[2022-07-04 05:43] #12332 closed

[2022-07-04 05:43] #13538 closed

[2022-07-04 05:43] #14445 closed

[2022-07-04 05:43] #14452 closed

[2022-07-04 05:43] #14453 closed

[2022-07-04 05:43] #14897 closed

[2022-07-04 05:43] #14244 closed

[2022-07-04 05:43] #14276 closed

[2022-07-04 05:43] #14278 closed

[2022-07-04 05:43] #14279 closed

[2022-07-04 05:43] #14280 closed

[2022-07-04 05:43] #14281 closed

[2022-07-04 05:43] #14314 closed

[2022-07-04 05:43] #14476 closed

[2022-07-04 05:43] #14479 closed

[2022-07-04 05:43] #14480 closed

[2022-07-04 05:43] #14560 closed

[2022-07-04 05:43] #14600 closed

[2022-07-04 05:43] #14765 closed

[2022-07-04 05:45] Parthvi12 commented on #14852
QA verification is blocked for this issue on release, once the PR gets merged to master, will test this issue on Prod again.

[2022-07-04 05:53] #14674 closed

[2022-07-04 05:55] dilippitchika commented on #14953
This is now showing left to me automatically, we need to understand why we are adding a default value here, when the value doesn't evaluate we should simply show an error and default to center, rather than adding a value automatically.

[2022-07-04 05:56] dilippitchika commented on #14953
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 18 |
| Effort (months)  | 0.25 |

[2022-07-04 06:02] ohansFavour opened #14967 "[Bug]: Comment line/block of code with shortcut in JS Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There is currently no way to comment/uncomment a line or block of code using a shortcut in the JS Editor

### Steps To Reproduce

Go to the JS Editor page,

use CMD/CTRL + "/"

Observe that line/ b lock doesn't get commented/ uncommented

### Public Sample App

_No response_

### Version

Cloud

[2022-07-04 06:11] ChandanBalajiBP opened #14968 "[Bug]: Missing border css for debugger panel in JSObject"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Border to be added above JSObject debugger panel.
Earlier(This is how it should be)
<img width="1210" alt="Screenshot 2022-06-29 at 7 05 06 PM" src="https://user-images.githubusercontent.com/104058110/177092023-6298e1a1-5572-48e3-b16a-b7769622a6cf.png">
Now
<img width="1233" alt="Screenshot 2022-0

[2022-07-04 06:14] dilippitchika commented on #14951
- Checked with the user, suggested them to see if this should be in a new page.

A few things I got from the user
- This opens a modal from a table, information about the selected row is shown here.

[2022-07-04 06:34] Parthvi12 commented on #14628
@kocharrahul7 @akash-codemonk Yeah, I think we should continue to show the task page when there is no widget/query and hide it in preview and comment mode.

[2022-07-04 06:35] tanvibhakta opened #14969 "[Task]: Migrate DropdownV2 to the design-system repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Move the files
- add style constants
- write stories for all variations

[2022-07-04 06:36] dilippitchika commented on #14949
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 385 |
| Effort (months)  | 0.5 |

[2022-07-04 06:36] dilippitchika commented on #14949
Remove the other color and highlight color

[2022-07-04 06:41] dilippitchika commented on #14943
@shadabbuchh can you check if this is happening in table v2?

[2022-07-04 06:43] dilippitchika commented on #14824
So the case here is widgets follow a different design than the property pane. It's ok for them to be different.

[2022-07-04 07:11] #14966 closed

[2022-07-04 07:13] Nikhil-Nandagopal commented on #14941
@gamekaiju thank you for the feature request. Could you tell us a bit how you expect the integration to work? What would you like us to support?

[2022-07-04 07:14] dilippitchika commented on #14787
Thanks for the additional info, this only happens when the widget is out of bounds. If you resize the widget, after changing the position to top, it doesn't happen.

We are going to solve this internally to make sure the widget is not going out of bounds.

[2022-07-04 07:14] Nikhil-Nandagopal commented on #14960
Hi @jiangtao could you tell us what do you expect from this integration?

[2022-07-04 07:15] Nikhil-Nandagopal commented on #14931
@OladapoAjala not necessarily but we're already working on this. You can expect a fix soon!

[2022-07-04 07:31] #4559 closed

[2022-07-04 07:34] shadabbuchh opened #14972 "[Bug]: Suggestions in the 'Default Text' property is not completely visible in Select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The suggestions in the `Default Text` property for a `Select` widget is not completely visible. Also, it differs from the suggestion in the other select widgets e.g. `MultiTreeSelect` etc.

`Select` Widget:
<img width="294" alt="Screenshot 2022-07-04 at 12 59 46 PM" src="https://user-images.github

[2022-07-04 07:40] aswathkk opened #14973 "[Bug]: JS toggle's disabled state is not represented properly in UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The disabled state of the JS toggle button doesn't look like it is disabled.

https://user-images.githubusercontent.com/10436935/177104422-2f8eba25-2fc8-4929-b0d0-0aad195c7071.mov

### Steps To Reproduce

Add any widget. Add any binding to any property and look at the JS toggle. It is disabled act

[2022-07-04 07:49] btsgh commented on #14391
Tested based on scripts in the associated [PR](https://github.com/appsmithorg/appsmith/pull/14508), and after discussion with @sharat87 .. Dynamo DB "Test" and "Save" works fine in the above mentioned scenario.

[2022-07-04 07:52] Aishwarya-U-R commented on #6493
Confirming that not seeing this issue anymore on a S3 datasource.
<img width="872" alt="Screenshot 2022-07-04 at 1 21 08 PM" src="https://user-images.githubusercontent.com/91450662/177107875-2d9a4793-a586-42a8-b36c-d54f92494287.png">

[2022-07-04 08:07] prapullac opened #14974 "[Bug]: Unable to create Gsheet Query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After Authorization the user is unable to create query or use the older Query

### Steps To Reproduce

1) Authorize the Datasource
2) Click on New API
and observe
![Screenshot 2022-07-04 at 1 19 54 PM](https://user-images.githubusercontent.com/71753653/177110653-efc82380-01ba-4d15-8a42-7f3b27990e6

[2022-07-04 08:25] Nikhil-Nandagopal commented on #12926
@hiteshjoshi @akash-codemonk can we close this ASAP? It's been open for too long

[2022-07-04 08:28] Sripriya93 commented on #9266
Working fine in release. Verified selecting widgets inside container and outside the container and selecting both

[2022-07-04 08:32] ramsaptami commented on #9844
Seems like the issue appears when accessing lat and long values from stored value. Directly accessing it from the geolocation function works as expected

[2022-07-04 08:39] #14317 closed

[2022-07-04 09:52] ramsaptami commented on #11186
Correct error is now displayed
![image](https://user-images.githubusercontent.com/79509062/177130413-ed699465-cdf3-49a1-9cb5-e729f95ec334.png)

[2022-07-04 09:59] ramsaptami opened #14976 "[Bug]: Run button on queries does not exit hover/selected state once the query has been run and cursor is moved away from the button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Run button on queries does not exit hover/selected state once the query has been run and cursor is moved away from the button

### Steps To Reproduce

1. On any query, hit the run button and observe the hover/selected state does not change back to normal state after running the query
2. Toggling b

[2022-07-04 10:02] nidhi-nair commented on #14793
@subrata71 has documented steps to run Google Sheets on local in this [issue comment](https://github.com/appsmithorg/appsmith/issues/14790#issuecomment-1169765734). Could you please check if that works for you @keyurparalkar ?

[2022-07-04 10:06] #14974 closed

[2022-07-04 10:09] keyurparalkar commented on #14793
The steps documented in the above mentioned issue works. Thanks for the help @nidhi-nair

[2022-07-04 10:12] prapullac opened #14977 "[Bug]-[10888]:The Gsheet name is not being displayed to user in the Regular field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user opens an old app with Query it is observed that the Spreedsheet Name is not displayed to user in Regular field format however the it is present in JS format as URL and Query RUN as expected

### Steps To Reproduce

1) Open an older app
2) navigate to API
3) Scroll to  Spreadsheet fie

[2022-07-04 10:12] yatinappsmith opened #14978 "[Bug]: onPageLoad fails after fork"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After forking the app onpageload stops working

https://www.loom.com/share/d9b963a52a0d479086aa13aab23c9ffd

### Steps To Reproduce

1. Fork habitasaurus.
2. Get tasks onPageload stops working.

### Public Sample App

https://release-ee-https.appsmith.com/app/habitasaurus-1-1/task-62c2b9da2565875a

[2022-07-04 10:43] #14882 closed

[2022-07-04 10:46] subrata71 commented on #13285
### Findings
Internally, [Date](https://www.mongodb.com/docs/manual/reference/bson-types/#std-label-document-bson-type-date) objects are stored as a signed 64-bit integer representing the number of milliseconds since the Unix epoch (Jan 1, 1970). In case of invalid date or date which doesn't belong to the above valid range this is found in different format. Hence our current implementation is not

[2022-07-04 10:47] subrata71 commented on #14882
According to the last meeting we are not supposed to spend time doing this. That might add delay to the progress. That's why we have closed this issue.

[2022-07-04 10:56] nidhi-nair commented on #14664
Closing this issue till we have more clarity around the requirement here.

[2022-07-04 10:56] #14664 closed

[2022-07-04 10:58] nidhi-nair commented on #14202
Unassigning myself till we have more information around reproducing this issue.

[2022-07-04 10:59] nidhi-nair commented on #11979
LGTM @jnikhila

[2022-07-04 11:12] prapullac opened #14981 "[Bug]: Additional Spacing is displayed to user in response tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Run a Query or the API and observe the Response tab has option (Table ,JSON , Raw) it is observed that there is additional space

### Steps To Reproduce

1) Add an API
2) click on RUN
3) navigate to response and observe
![Screenshot 2022-07-04 at 4 21 57 PM](https://user-images.githubusercontent.c

[2022-07-04 11:16] sum35h opened #14982 "Backup Mailer Template"

[2022-07-04 11:17] sum35h opened #14983 "Backup Mailer Template"

[2022-07-04 11:19] sum35h opened #14984 "Backup mailer template"
Create a template for backup failure mail, with the same style as existing Appsmith mail templates.
 (found at: app/server/appsmith-server/src/main/resources/email/. )

[2022-07-04 11:26] prapullac opened #14985 "[Bug]: Older datasource not used for long time (6 months or so) needs Authorisation while we run the query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to an older application that is stale for 6 months or so it is observed that the data source needs to be re-authorized
The user has not displayed an error in red with Asterics asking with Authorisation

### Steps To Reproduce

1) open an old application
2) open an Datasourc

[2022-07-04 11:28] utkarshDunzo opened #14986 "[Bug]: Not able to upload an image to Google Cloud using Binary Data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I want to upload a file to Google Cloud using FilePicker widget, but I am not able to send the file in binary data format. I have recorded a video of the issue, please go through it:
 [Video Link](https://www.loom.com/share/affa4c024a294415bd89ee7513874e41)

### Steps To Reproduce

Refer the video

[2022-07-04 11:41] prapullac opened #14987 "[Bug]: Setting page does not have tooltip"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to the API setting page it is observed that every field header is underlined and hovering over it does display a question mark but no tooltip

### Steps To Reproduce

1) Navigate to API setting page
2) Hover on the header of the fields

![Screenshot 2022-07-04 at 3 49 10 PM

[2022-07-04 12:05] #13300 closed

[2022-07-04 12:09] Nikhil-Nandagopal commented on #14901
@unknown1337 this seemed to work for me. Could you please share a sample app where we can reproduce this?

[2022-07-04 12:41] Nikhil-Nandagopal commented on #2430
We can provide a simple way to add libraries but the problem is that most use cases won't work out of the box. Like for D3.js, we need a way to connect it with a widget and specify how to plot the chart. This is why simply importing custom libraries is non trivial.

[2022-07-04 12:44] Nikhil-Nandagopal commented on #14986
@utkarshDunzo thanks for reporting this. We'll have a look and get back to you on this

[2022-07-04 12:58] subrata71 commented on #13285
@Nikhil-Nandagopal I have started working on this. I will share as soon as I find any solution to this.

[2022-07-04 12:59] #14973 closed

[2022-07-04 13:07] slysiou commented on #2430
Hi, I can understand for visual element. But, I was thinking of back-end lib. With JS Objects Editor, this will be very powerfull!

[2022-07-04 13:15] Nikhil-Nandagopal commented on #2430
@slysiou for backend libraries, we'll need a different approach of being able to achieve that. This feature only talks about frontend libraries right now

[2022-07-04 13:56] jnikhila commented on #13131
The first draft is available at https://www.notion.so/30ab6e99f80e4c0482dc96d3b651370d
@Rishabh-Rathod and @trishaanand  - Could you please review the doc and update if it's ready for the doc team.

[2022-07-04 14:19] vuiets commented on #6298
@madsween and @renekahremann sorry about the delay in getting back to you. Thanks for voting this up and sharing your use case with us.

We are actively working on granular access control in [#3317](https://github.com/appsmithorg/appsmith/issues/3317) and since this is related, I'd love to hear more about this over a call. Sharing my calendly here so you may pick a time that works best for you :)

[2022-07-04 14:59] berabhishek commented on #12936
Update: Working on this, will update the PR this week

[2022-07-04 15:00] berabhishek commented on #776
Hey, will update the PR within couple of days

[2022-07-04 15:04] mackgorski commented on #2430
Yes but the simple implementation should enable users to work with libraries such as Amplitude or Datadog for simply sending events with parameters or OneLogin to get info about users ACLs to know if a user can perform an action or not. So, still would be very useful to have this.

Sent from my iPhone

[2022-07-04 15:17] nidhi-nair commented on #14587
We will need to convert this feature into a per plugin migration so that we are able to scale it. But we will be proceeding with this for now so that we can improve test coverage for Airtable and Twilio. LGTM on those lines. @felixsuarez0727

[2022-07-04 15:28] ramsaptami opened #14989 "[Bug]-[600]:Autocomplete does not update datatype when variable values are changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When variable datatypes are changed from their default values, then autocomplete does not update the data type.

### Steps To Reproduce

1. Add variables of different data types to a JS object and try to access them via widget binding
2. Change variable datatypes by manipulating values - observe t

[2022-07-04 16:02] lukearran commented on #14717
Thanks @ohansFavour for your call earlier!

After our remote session, I can now confirm that this issue was caused by a bad Nginx configuration input which prevented uploads greater than 1.5MB+. Increasing the `client_max_body_size` to a higher file size resolved the issue (in this case, 10MB).

More information on the issue can be found here - https://www.cyberciti.biz/faq/linux-unix-bsd-nginx-41

[2022-07-04 16:02] #14717 closed

[2022-07-04 16:32] #14595 closed

[2022-07-04 16:59] utkarshDunzo commented on #14986
@Nikhil-Nandagopal by when can we expect a response, actually this is a major blockage for our appsmith usage.

[2022-07-04 17:02] ohansFavour opened #14990 "[Bug]: Copied widgets don't show up in Autocompletion hints in propertypane of original widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you create a copy of a widget, in the propertypane of the original widget, the copied widget doesn't show up in autocompletion Hints

### Steps To Reproduce

1. Drag Button (Button1)
2. Copy and paste Button (Button1Copy gets created)
3. In Button1, type {{}}
4. See that Button1Copy never sho

[2022-07-04 17:05] slysiou commented on #1092
Hi, sorry to push on this old request. I am using external authentication and tabs on each page like the example on Youtube.
But, managing visibility of a page based on JS would be great, to avoid the tab asking to go back to login.

[2022-07-04 17:38] subrata71 commented on #14793
The solution is also documented on [notion](https://www.notion.so/appsmith/How-to-Run-Google-Sheets-in-Local-Environment-bf2fe464f7c441d7b238c4b3efc640ab). I am going to close this issue as the solution works for others too.

[2022-07-04 17:38] #14793 closed

[2022-07-04 18:46] rizistt commented on #14787
Sure, I will reduce the width and try again.

[2022-07-04 19:11] rahulramesha opened #14991 "[Bug]: Canvas empty Space does not go away even after modifying the bottom most row"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In few applications, The canvas has extra empty space at the bottom of the canvas, even though there are now widgets present in that area.
Resizing, Dragging or even deleting a widget should recalculate the canvas length and adjust it accordingly. But even these operations does not change the bott

[2022-07-04 20:17] albinAppsmith opened #14993 "[Task]: Remove text component and change imports to design system package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Remove the `ads/Text` component from main repo and replace the usages with design-system package

[2022-07-04 20:28] albinAppsmith opened #14995 "[Bug]: Design System PR label check failing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Design System PRs label check workflow is failing since the name of the label is incorrect.
Current label in the workflow: Design System POD
Actual label:  Design System Pod

### Steps To Reproduce

1. Create any PR and add label Design System Pod.
2. Label checker workflow will fail on that PR.

[2022-07-05 04:09] prapullac opened #14998 "[Bug]: Gsheet Field can not be converted into JS before selecting data from the dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The field can not be converted into JS without selecting data from the dropdown

### Steps To Reproduce

1) Add an API from the Datasource
2) now navigate to Spreedsheet
3) Click on JS
and observe that user is unable to convert to JS until the data is selected from dropdown

Video:
https://www.loo

[2022-07-05 04:17] shadabbuchh commented on #14943
@dilippitchika the exact same thing does not happen in the Table v2 DP but I observed something similar:
https://www.loom.com/share/e2c7ae5dfd9f416395c6cd4940e46595
If you change the `Cell Background` for the first column, the change occurs for rest of the columns as well where no data is populated.

[2022-07-05 04:46] btsgh commented on #14977
@nidhi-nair  - Also observed - when we create a Query and choose Fetch Many - here in the screenshot, it shows 19 records, but in my google sheets online I have 21 files.
<img width="872" alt="Screenshot 2022-07-05 at 10 14 41 AM" src="https://user-images.githubusercontent.com/101863839/177251345-90f00eee-740f-44f8-a9ff-b5b26e2c2254.png">

[2022-07-05 05:15] aswathkk opened #14999 "[Bug]: Default selected value of border radius or box shadow is not visible in Table column property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The default selected value of border-radius or box-shadow for Table widget's column property is not visible.
It should be shown which item is selected out of the available options.

<img width="826" alt="Screenshot 2022-07-05 at 10 40 42 AM" src="https://user-images.githubusercontent.com/10436935/

[2022-07-05 05:17] aswathkk commented on #14826
The table widget's issue is different from this. Created a separate issue for that #14999

[2022-07-05 06:01] dilippitchika commented on #14826
@aswathkk what is the issue here?

[2022-07-05 06:05] dilippitchika commented on #14943
Ok this is a bug we fixed already in v1, @sbalaji1192 can you check this issue - https://github.com/appsmithorg/appsmith/issues/12823 and make the changes in table v2 as well to follow the same.

@shadabbuchh can you please track this in the doc.

Regarding the issue chandan raised, @sbalaji1192 can you link this issue to table v2 PR so that this automatically closes once table v2 is in prod

[2022-07-05 06:06] dilippitchika commented on #14787
@rizistt you need to increase the height of the widget when the label position is set to Top

[2022-07-05 06:10] dilippitchika commented on #14986
@utkarshDunzo what is the binding appsmith.store.file_data pointing to?

[2022-07-05 06:10] albinAppsmith opened #15001 "[Task]: Fix Readme for design system package"

[2022-07-05 06:23] nidhi-nair commented on #14986
Hey @utkarshDunzo ! Thanks for reporting this issue. Could you please share whether your setting for `Smart JSON Substitution` is turned on in the Settings pane of the REST API? If it is, could you please try running the API with the setting turned off?

[2022-07-05 06:30] dilippitchika commented on #14740
@tomjose92 can you add the app here where we can check this out?

[2022-07-05 06:36] Nikhil-Nandagopal commented on #2430
@mackgorski yes that use case we'll definitely handle

[2022-07-05 06:38] dilippitchika commented on #10997
Scope of changes -
https://www.notion.so/appsmith/Filepicker-94f0e429ef264a1fb2e34b186a9f695a

[2022-07-05 06:51] dilippitchika opened #15002 "[Bug]: Filepicker not retaining the data when i move to a query page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i upload a file to filepicker and bind a data to query, i am unable to see the uploaded file values

### Steps To Reproduce

1. Add a new filepicker widget
2. Upload a file
3. Change page to a query page
4. Reference filepicker.files[0]
5. Observe that the reference shows undefined

### Publi

[2022-07-05 07:00] Nikhil-Nandagopal commented on #11535
This is now fixed, we can see the existing datasources and thus the structure as well without creating a query

[2022-07-05 07:02] somangshu commented on #10379
@prsidhu this was added to the done pipeline, What the next step on this, Have we merged in any related PR.

[2022-07-05 07:09] pratapaprasanna opened #15004 "[Bug]: log file overwritten in shared deployments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We deploy appsmith on kubernetes and share the same efs across multiple pods.

Problem:
When the logs are written to` /appsmith-stacks` and we have multiple pods writing to the same directory.
logs of appsmith process are getting over-written. In a nut-shell it is more like a race-condition where

[2022-07-05 07:18] btsgh commented on #14973
Tested JS toggle across widgets/properties. Functions fine now.

[2022-07-05 07:23] NandanAnantharamu opened #15006 "[Bug]: TreeSelect widget on reset shows cyclic dependancy error with text widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On reset action on TreeSelect the associated Text widget is showing the actual binding text instead of value.

### Steps To Reproduce

Steps:

1.Make sure you have TreeSelect/Text/Button widgets
2.Add a binding to Button widget “on Click” , “{{resetWidget("TreeSelect1",true).then(() => showAlert("

[2022-07-05 07:26] rohitagarwal88 commented on #7548
@ramsaptami : Can you please recheck the issue? I am unable to reproduce it.

[2022-07-05 07:28] aswathkk commented on #8845
The final task pending on this epic is to add an analytics event for keyboard navigation inside the property pane. This is being tracked at #13217 and is in a code review phase right now. Once that is completed, we can close this epic.
@Nikhil-Nandagopal @dilippitchika

[2022-07-05 07:33] Aishwarya-U-R opened #15007 "[Bug]: Theming :: Selected new Font is reverted whenever Color is removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/177273879-44b3f0b5-94f1-4bb9-9d66-42594ff9fae1.mov

### Steps To Reproduce

1. Create a new App/Page - Select a theme
2. Observe the Font selected along with selected theme
3. **Now change the 'Font'**
4. **Now remove the value from color section

[2022-07-05 08:02] Rishabh-Rathod opened #15009 "[Task]: Add check to match `jsObject` node for AST parsing logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As we set the `jsObjectVariableName` in the jsCode which we parse for AST for JSObject.

we could only focus on particular variable name instead of all variableDeclarator.
Hence adding `node.id.name === jsObjectVariableName`.

It worked without it as jsObject was the last node to be called in variabl

[2022-07-05 08:39] vivekverma2312 opened #15012 "[Bug]: App crash on Quick search when we search with google data source name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/d56db7f420d745578b460dfe60e19499

### Steps To Reproduce

1. Create a new data source using Google sheet
2. Rename the sheet eg vivek
3. Now search with the same name vivek on quick search
4. Once you select the option vivek the app crashes

### Public Sample App

_No re

[2022-07-05 08:40] dilippitchika opened #15013 "[Feature]-[1842]:Add a new pageOffset binding in a table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today, when working with pagination in the queries, offset has to be written as {{(Table1.pageNo-1)*Table1.pageSize}}, this is hard for users to grok. We could simplify this by adding a new pageOffset which directly provides the value

### Why should this be worked on?

Easier server side pagination i

[2022-07-05 08:41] dilippitchika commented on #15013
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 921 |
| Effort (months)  | 0.25 |

[2022-07-05 08:59] Pranay105 opened #15014 "[Task]: Add space in the text in the create a new branch option (Version Control with Git)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The text that shows up while creating a new branch has a formatting issue. There is no space between the text.
For example, I'm currently on master, opened the branch list, and typed a branch name that does not exist yet, say `test`. The create new branch option comes with the following text - "`Crea

[2022-07-05 09:10] akash-codemonk commented on #14628
https://appsmith-agvtov3eb-get-appsmith.vercel.app/
signups don't seem to work on deploy previews so added a video

We also hide the task page and show the canvas when we open the widget tab or when the user clicks on one of the ctas on the task page. The task page is hidden when the widget tab is clicked on to allow drag and drop behaviour as you cannot drag a widget on to the task page. Also onc

[2022-07-05 09:50] prapullac commented on #14181
Verified this issue on DP and Cypress tests are added

[2022-07-05 10:01] SatishGandham opened #15018 "[Bug]: Dropdown used for property pane connections causes expensive style recalculations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there is a evaluation cycle, dropdown used in property pane connections triggers an expensive style recalculation, costing about 40-80ms per cycle.

Since it's dimensions don't change, there is no need for calling this property which triggers these calculations.
<img width="1667" alt="Screens

[2022-07-05 10:16] aswathkk commented on #14826
@dilippitchika The value sent to these property controls is `undefined` somehow. I couldn't dig deeper. Someone with more context about ListWidget will be able to figure out the reason.

[2022-07-05 10:20] Sripriya93 commented on #14678
Have verified phone and currency input widget with invalid values, moving to done.

[2022-07-05 10:25] albinAppsmith opened #15019 "[Bug]: Design system prerelease workflow and storybook release workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. Storybook workflow is failing on directory not found error.
2. Prerelease workflow not updating package.json

### Steps To Reproduce

Merge any PR to release branch of design-system repo

### Public Sample App

_No response_

### Version

Cloud

[2022-07-05 10:26] dilippitchika commented on #2519
An internal user was looking for this - https://www.notion.so/appsmith/Rishabh-Kashyap-85ea180b031b42e58ef0f7a4910580cf

[2022-07-05 10:33] dilippitchika commented on #7256
An internal user was looking for this  - https://www.notion.so/appsmith/Rishabh-Kashyap-85ea180b031b42e58ef0f7a4910580cf

[2022-07-05 10:35] dilippitchika commented on #13563
Internal user was looking for this - https://www.notion.so/appsmith/Rishabh-Kashyap-85ea180b031b42e58ef0f7a4910580cf

[2022-07-05 10:47] #15019 closed

[2022-07-05 10:48] dilippitchika opened #15021 "[Feature]: Allow rating widget to support other icons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Rating widget should support other icons

### Why should this be worked on?

Helps with defining custom rating widgets

Internal user was looking for this - https://www.notion.so/appsmith/Rishabh-Kashyap-85ea180b031b42e58ef0f7a4910580cf

[2022-07-05 11:04] ayushpahwa opened #15022 "[Bug]: Fix UI alignment of form controls for SImplified crud queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The current UI of new form controls in UQI is out of sync. Needs to be updated.

### Steps To Reproduce

1. Create new gsheets form
2. The UI is misaligned

<img width="1533" alt="image" src="https://user-images.githubusercontent.com/8526215/177313981-b6209ebd-a1ad-4305-8a9c-fc80d93fcf34.png">

##

[2022-07-05 11:30] danciaclara opened #15024 "[Bug]: Multiselect widget does not close after clicking on it - On Mobile/iPad views"
### Is there an existing issue for this?

- [X] I have searched the existing issues

**Issue 1**
### Description

The multi-select is no longer working on a phone or tablet, once selected the widget continues to hover and cannot be closed.  It works fine on a laptop.

### Steps To Reproduce

Open an app on mobile. Click on a multi select widget with data. Now try to close it. You will be unable to

[2022-07-05 11:57] AmanAgarwal041 opened #15025 "[Bug]: Array of files not working with multipart/form-data in execute action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you try to upload `multiple` files in a single key using `multipart/form-data`, then the upload doesn't work.
Here are the screenshots that represent the application
![Screenshot 2022-07-05 at 5 24 42 PM](https://user-images.githubusercontent.com/7565635/177321679-b51e3bc2-a8ea-41bf-87df-557d

[2022-07-05 12:04] jnikhila opened #15026 "[Bug]: [Twilio] - The description for Message SID is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For Commands - Delete Message, Fetch Message, and Update Message - the description for Message SID is incorrect.

The description shown is:

[code]

![image](https://user-images.githubusercontent.com/99252011/177322489-b12646e9-85c7-4111-b5a5-0cc61af627e6.png)

The Message SID fields expect the SI

[2022-07-05 13:15] dilippitchika commented on #14826
Ok, assigning this to @jsartisan to check

[2022-07-05 13:16] pranavkanade commented on #12713
Another user flagged this issue - [link](https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100137352)

[2022-07-05 15:41] btsgh opened #15029 "[Enhancement]: UQI query screen JS Toggle behavior should be consistent with the canvas area property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the Query pane of the Google Sheets UQI datasource, wherever the JS Toggle is present, the behavior should be consistent with the current JS toggle behavior on canvas property pane.

### Steps To Reproduce

The JS Toggle functionality has been modified on canvas recently as per this feature req

[2022-07-05 15:51] btsgh opened #15030 "[Enhancement]: Google Sheets - Fetch Many, on choosing Sheet Rows, Columns section could have a Clear All option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On choosing Fetch Many -> Sheet Rows, from a particular sheet, the user can choose specific columns that he wants to fetch. Here, for clearing the column selection all at once, a Clear All option will be a good to have.

### Steps To Reproduce

1. Create a google sheets data source, and create a Q

[2022-07-05 16:06] btsgh opened #15031 "[Bug]: Modal widget with expanded borders, on deploy, overlaps with the application page tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On increasing the size of a modal widget, and deploying the app which has a number of pages, the UI of modal widget seems to overlap with the Pages.

### Steps To Reproduce

1. Drag and drop a modal widget on one of the pages of an application, with about 7 / 8 pages already
2. Increase its height

[2022-07-05 18:34] utkarshDunzo commented on #14986
Hey @nidhi-nair, turning off the smart substitution resolved the issue. Thanks for your help.

[2022-07-05 18:34] #14986 closed

[2022-07-05 19:15] rizistt commented on #14787
Thank you, increasing the height did the trick.

[2022-07-06 01:36] sumitsum opened #15034 "[Task]: Create common design for pagination types across plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-07-06 03:02] felixsuarez0727 commented on #14611
Added tooltips and subtext to Airtable instance

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/ab66436c-007b-453a-b60c-1e7e3c11f601)

[2022-07-06 06:40] #15022 closed

[2022-07-06 07:10] Parthvi12 opened #15039 "[Bug]: JSEditor's dropdown containing functions names doesn't show functions alphabetically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/177490137-3a85ed27-0a7f-4a4c-bb8b-da187fe2b1e6.mov

### Steps To Reproduce

1. Go to JS Editor
2. Copy this code:
[code]
3. Observe the dropdown takes time to show function's name alphabetically

### Public Sample App

_No response_

### Version

[2022-07-06 07:12] ramsaptami commented on #7548
Closing the issue since property pane is now pinned

[2022-07-06 07:12] #7548 closed

[2022-07-06 07:23] Nikhil-Nandagopal commented on #15030
@btsgh this seems like an enhancement rather than a bug

[2022-07-06 07:23] Nikhil-Nandagopal commented on #15031
Duplicate of #14849

[2022-07-06 07:23] #15031 closed

[2022-07-06 07:24] #8642 closed

[2022-07-06 08:49] fungiboletus opened #15040 "[Bug]: getIdToken returns null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`getIdToken` returns null.

See https://github.com/appsmithorg/appsmith/blob/release/app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java#L136-L139

### Steps To Reproduce

1. Install AppSmith and configure it with Google Authentication
2. Try to load `{{appsmith.user.idT

[2022-07-06 08:56] ayushpahwa opened #15042 "[Feature]: Prevent secrets and keys to be pushed into github"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Recently, we pushed a secret token and key from AWS to our GitHub repository which in turn raised an alarm with AWS and caused a quarantine of the key. We should add a pre-commit hook to check if someone is trying to push a secret or key accidentally and stop them.

### Why should this be worked on?

[2022-07-06 09:08] gamekaiju commented on #14941
Hi @Nikhil-Nandagopal. Thank you for answering. I would like a wrapper over the [Admin API, particularly regarding memberships](https://ghost.org/docs/admin-api/#members), so I could use Appsmith to take different actions depending on the status field of the membership object.

[2022-07-06 09:12] hiteshjoshi opened #15043 "[Feature] Create git branch based on a past commit"
As a user, I will like to create a branch from any of the commits in the git tree/history. This is only possible when git commit history is presented somewhere.

[2022-07-06 09:16] hiteshjoshi opened #15044 "[Feature] Git commit history"
As a user, I will like to see the history of my past commits without navigating to my git provider.

[2022-07-06 09:17] hiteshjoshi commented on #15044
BE APIs for git history : https://github.com/appsmithorg/appsmith/issues/7253

[2022-07-06 09:43] kaidatar commented on #11120
In our use case the development appsmith instance and the production one are not the same becaue the production instance is hosted on our client's machine. That also means different users for each organization.
If version control is at app level I assume this will be an issue. The ideal situation is, we develop the app in our dev branch, merge the branch into production branch when we're done and

[2022-07-06 11:13] #13830 closed

[2022-07-06 12:15] vuiets commented on #3317
### Meeting Notes
6 July 2022

Discussed
* There is a change in the elements involved in our invite flows across the board while the experience remains the same
   * On the _Community_ edition, we'll auto-generate permission groups for _Admin_, _Developer_ and _App Viewer_ and with the invite flow you'll be able to associate users with these permission group
   * On the _Business_ edition, we're i

[2022-07-06 12:39] IAmAnubhavSaini opened #15050 "[Bug]: Empty commit message can be committed using spaces."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I have changes in a git-connected app, I can commit using just the spaces. I should not be able to do so.

### Steps To Reproduce

1. Make a change
2. go to Deploy tab
3. add spaces in commit message box
4. click Commit&Push
5. See that it is committed

### Public Sample App

_No response_

#

[2022-07-06 12:41] albinAppsmith opened #15051 "[Bug]: Header background becoming transparent while adding comment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Header background is becoming transparent, which was supposed to be white, while adding comment. This is happening in release.

### Steps To Reproduce

1. Goto https://release.app.appsmith.com/app/customer-support-dashboard/page1-62c571e68f9b8821e9433efc
2. Try adding a comment and observe the hea

[2022-07-06 12:46] IAmAnubhavSaini commented on #15050
GitLab:
![Screenshot 2022-07-06 at 6 11 06 PM](https://user-images.githubusercontent.com/1573771/177553098-2d2a5ace-c8c7-4fc6-96f4-72d934cd47a9.png)

GitHub:
<img width="231" alt="Screenshot 2022-07-06 at 6 14 40 PM" src="https://user-images.githubusercontent.com/1573771/177553109-b3e024bd-e98f-4192-a204-599893e27f3f.png">

How to reproduce the bug:
https://user-images.githubusercontent.com/157377

[2022-07-06 12:48] IAmAnubhavSaini commented on #15050
@albinAppsmith reported this issue.

[2022-07-06 12:56] jbwill36 opened #15052 "[Feature]: Change Field Column Width on the Fly in JSON forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Being able to set the column width for each field on the fly for  JSON forms would be great. full 100% vw for a first name is not visually striking in a good way It makes the forms long and ugly. Maybe I am missing something painfully obvious, but do not see how to do this in the user guide or anywher

[2022-07-06 12:57] IAmAnubhavSaini commented on #15050
If you pass non-trimmed string, git services do sanity check on their end.

Github:

<img width="285" alt="Screenshot 2022-07-06 at 6 24 12 PM" src="https://user-images.githubusercontent.com/1573771/177555196-d168f21e-0f24-423d-9c79-bfeb8bcf9bb2.png">

That commit message is trimmed even though it was not sent as such.

https://user-images.githubusercontent.com/1573771/177555267-8fdd23a0-2328-4179

[2022-07-06 13:03] Nikhil-Nandagopal commented on #15052
@jbwill36 you're right! This is a great improvement to this form

[2022-07-06 13:07] Sripriya93 opened #15054 "[Bug]: App crashes after uploading 100 or more files thru file picker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user upload 100 or more files thru file picker widget with other widgets placed in canvas or drag and drop few widgets inside the canvas, app crashes

https://user-images.githubusercontent.com/104895602/177556238-bee5526e-4659-4df2-b628-dc7cf8dd6747.mp4

https://user-images.githubusercontent.

[2022-07-06 16:04] prapullac commented on #3315
Verified as a part of regression

[2022-07-06 16:41] Rishabh-Rathod opened #15056 "[Bug]-[5196]:JSObject Async function response data is not set when the function is executed using widget event like button onClick"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If you bind the data from a JSObject to a widget using `{{JSObjectName.FuncName.data}}` and then execute the function on click of button, it doesn't update or display the data on the widget. The evaluated value in widget  and console logs show that the function was executed but the widget does not

[2022-07-06 21:07] OladapoAjala commented on #14931
@Nikhil-Nandagopal great, I was just looking for a docker related issue to contribute to. I'd be glad if you can point me to one.

[2022-07-06 22:57] felixsuarez0727 commented on #12565
Aman said that property `inicitalValue` should be present in parallel to the properties `label`, `description`, `controlType`, `configProperty`. But the issue [#13833](https://github.com/appsmithorg/appsmith/issues/13833) not allow to continue with this issue.

What we can do it create an initialValue for the plugin and confirm that it is coming when we open datasource form for twilio on any appli

[2022-07-07 03:44] sum35h opened #15059 "[enchancement]: Backup error mailer limitting"
Limit sending backup error mail every 6h despite the frequency of the watchtower checks.

[2022-07-07 04:44] prapullac commented on #11160
Verified as part of regression

[2022-07-07 05:03] prapullac commented on #10762
Verified as a part of regresssion

[2022-07-07 05:05] prapullac commented on #10761
Verified as a part of regression

[2022-07-07 05:06] prapullac commented on #10233
Verified as a part of regression

[2022-07-07 05:07] prapullac commented on #10230
Verified as a part of regression

[2022-07-07 05:07] prapullac commented on #9455
Verified as a part of UQi and regression

[2022-07-07 05:11] prapullac commented on #9348
Verified as a part of UQI and Regression

[2022-07-07 05:19] utkarshDunzo opened #15061 "[Bug]: Can't go to next widget using single Tab."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When going to next widget single Tab doesn't seem to work, I have to press Tab twice to go to the next widget. Also it doesn't skip over the disabled widget, I need to press tab so many times to skip the disabled widgets. Is there any setting which needs to be changed for this?

### Steps To Repro

[2022-07-07 05:22] techbhavin commented on #14069
As per our discussion,

- I have to put the camera rotate icon instead of the camera menu (list of the camera). but there is one more functionality that is camera turns off. so when we will put the camera rotate icon then how to manage camera turn-off functionality.
- Now one more dought is what should we do for the audio menu that is shown in video mode of the camera widget and also the same issu

[2022-07-07 05:35] somangshu commented on #14849
@rohitagarwal88 @rahulramesha please get this prioritized

[2022-07-07 05:37] #14181 closed

[2022-07-07 05:37] #14810 closed

[2022-07-07 05:37] #14886 closed

[2022-07-07 05:38] #14700 closed

[2022-07-07 05:49] #14725 closed

[2022-07-07 05:56] #11140 closed

[2022-07-07 05:57] #13335 closed

[2022-07-07 05:58] #14678 closed

[2022-07-07 06:33] somangshu commented on #10182
@souma-ghosh please leave a context on why this was moved back to ice box

cc @dilippitchika

[2022-07-07 06:47] btsgh opened #15064 "[Bug]: JS Toggle on Progress widget's "Progress" and "Number of Steps" fields is not consistent with JS toggle on other fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I enable JS using JS toggle on Progress or Number of Steps field of Progress widget, immediately it gets disabled and user has to clear field to enable it again.

### Steps To Reproduce

Drag and drop a Progress widget
In the Property Pane, in the Progress and the Number of Steps fields, clic

[2022-07-07 07:03] dilippitchika opened #15065 "[Feature]-[36.235]:Allow users to customise their button text color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to customise the button text color

### Why should this be worked on?

Today the button text color is assumed to be black or white, but users need more customisation here.

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front

[2022-07-07 07:05] #14791 closed

[2022-07-07 07:05] ramsaptami opened #15066 "[Bug]-[663]:Button group does not have an active state that's similar to button widget's clicked state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a button widget is clicked, we see a loading sign, but for a button group, we don't show this. This inconsistent UX can cause users to trigger field action multiple times since action trigger state is unclear. This becomes more problematic when the code executed takes a while and causes unnec

[2022-07-07 07:16] vyeruva2 commented on #10381
It would be helpful if we have this feature, currently we need to store value(hard code data), with respect to maintainability its will be very helpful

[2022-07-07 08:15] #15051 closed

[2022-07-07 08:52] ChandanBalajiBP commented on #14774
Haven't gone through complete code but have understood the flow, and is enough to get started with datatype handling.

[2022-07-07 08:52] #14774 closed

[2022-07-07 09:21] prapullac commented on #13326
https://github.com/appsmithorg/TestSmith/issues/1936
Please find the test cases for the same
Moving it to In progress for adding Cypress tests

[2022-07-07 09:30] #14928 closed

[2022-07-07 10:02] giladv commented on #14369
supporting cockroach only means supporting a connection string / connection options

[2022-07-07 10:24] techbhavin commented on #14069
- Fixed the camera unable to capture images on ios devices.
- Fixed the camera goes black after capturing the image in ios devices.
- Fixed the changing from camera to video and also makes the widget black in ios devices.
- Removed the tooltip so it can not cause tooltip-related issues.
- Give the mirror functionality in the camera widget.
- Fixed the getting weird noise after taking the picture.

[2022-07-07 10:42] dilippitchika commented on #15054
@somangshu can you help triage this, looks like data handling problem

[2022-07-07 10:46] dilippitchika commented on #15061
Thanks, for reporting this. This is indeed an issue, I will get this investigated.

[2022-07-07 10:47] dilippitchika commented on #15061
@rahulramesha this looks like it's happening across all input type widgets at-least. Can you take a look once?

[2022-07-07 11:06] Rishabh-Rathod opened #15071 "[Task]: Memoize generateDataTreeJSAction & generateDataTreeAction similar to DataTreeWidget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- generateDataTreeAction has `getBindingAndReactivePathsOfAction` check if it is expensive and does memoization improve performance here.

[2022-07-07 11:06] sbalaji1192 opened #15072 "[Epic]: Table widget v2 stability"
Epic to track and fix the v1 table issues in v2.

[2022-07-07 11:31] techbhavin commented on #9844
@somangshu
any update for me on this issue?

[2022-07-07 12:16] nived-7 opened #15073 "[Bug]-[1160]:multiselect widget is not showing appropriate options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

multiselect widget is not  showing appropriate options after I manually open a query ,  options are reappearing only after I reload the page .

### Steps To Reproduce

1. create a multiselect widget with options
2. create a query
3. try to expand the options of the multiselect widget after manuall

[2022-07-07 12:41] vuiets commented on #14175
Updated this to to reflect the right idea. Please take a look.

+2 for this. Heard two more _Business_ edition users request for this.

[2022-07-07 13:11] Sripriya93 opened #15075 "[Bug]: JS toggle issues - Divider, Modal, Statbox, Progress Widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user toggle the JS in Divider, Modal, Statbox, Progress Widgets as below, user not able to toggle back with valid values

Thickness(px) - Divider widget
Text size - Text widget in Modal widget, Statbox widget(All text widgets)
progress, number of steps - progress widget, Fill color - when we

[2022-07-07 13:23] IAmAnubhavSaini commented on #12603
This has been fixed.

![Screenshot 2022-07-07 at 6 53 00 PM](https://user-images.githubusercontent.com/1573771/177784222-e48e9d3c-93b5-4398-958c-66351ed0ac5d.png)

[2022-07-07 13:23] #12603 closed

[2022-07-07 13:25] IAmAnubhavSaini commented on #10927
This has been fixed too.

![Uploading Screenshot 2022-07-07 at 6.55.02 PM.png…]()

[2022-07-07 13:46] ramsaptami opened #15076 "[Bug]: Appsmith crashes when trying to create a new app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Appsmith crashes on trying to create a new app from workspace - this happens on release and not prod.

### Steps To Reproduce

1. Go to any old organization and click on the new button and observe either `page not found` error or see the app crash

![image](https://user-images.githubusercontent.co

[2022-07-07 13:58] Karbust opened #15077 "[Feature]: Meilisearch Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ability to use Meilisearch as a data source.

### Why should this be worked on?

Meilisearch is fully open-source alternative to ElasticSearch, even though it's much more simpler and more accessible to users or small companies with limited budget and/or knowledge.

https://www.meilisearch.com
https://

[2022-07-07 14:05] nidhi-nair opened #15078 "[Task]: Getting started scripts for QA local testing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Script to set up local env
- Script to start a local instance of Appsmith on any given branch

[2022-07-07 14:08] hoopersclub commented on #3444
I would like this feature to upload images from my appsmith CMS to my azure blob. The idea is to store images inside azure's blob and respective path in my postgres db.

[2022-07-07 14:22] #14789 closed

[2022-07-07 15:25] jnikhila commented on #10541
[Docs](https://docs.appsmith.com/datasource-reference/querying-google-sheets) are published.

[2022-07-07 15:25] #10541 closed

[2022-07-07 15:25] jnikhila commented on #11979
latest [doc](https://docs.appsmith.com/datasource-reference/querying-google-sheets) is published.

[2022-07-07 15:27] spark-c commented on #11310
Hey, I'm working on Chart docs -- is `chartData` going to be removed from autocomplete suggestions?

If so, I won't bother documenting the property. Otherwise, I was probably going to open a ticket asking for a cleaner workaround for using it, as currently you have to use something like
[code]
in order to actually access the series data 😂

[2022-07-07 15:29] jnikhila commented on #14781
Published [doc](https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication/oauth2-authentication/authorization-code#integrate-with-dropbox).

[2022-07-07 15:29] #14781 closed

[2022-07-07 15:48] ame-appsmith commented on #6445
Another user wanted to change locale to 'es' (Spanish).
https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100064890#part_id=comment-164629100064890-15613407494

[2022-07-07 16:00] felixsuarez0727 opened #15079 "Add page to copy SaaS related collections from Prod to Release for individual collections"
Recently, we created a new page with the functionality to copy SaaS related collections from Prod to Release for Cypress Testing. ([#14587](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/14587)). Another feature we want to implement is the same functionality but for individual collections, for example plugin and actionTemplate.

We can base on

[2022-07-07 16:00] dilippitchika commented on #15061
Thanks for triaging this Rahul, yes I will ask someone to take this up internally

[2022-07-07 16:01] felixsuarez0727 commented on #14587
Added functionality to master branch and created issue related  [#15079](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/15079)

[2022-07-07 16:30] #14995 closed

[2022-07-07 17:22] #14968 closed

[2022-07-08 04:09] dilippitchika commented on #9186
Uppy(the lib) already supports this, we can simply enable this - https://uppy.io/examples/dashboard/

[2022-07-08 04:16] dilippitchika commented on #7359
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 65 |
| Effort (months)  | 0.5 |

[2022-07-08 04:48] HarishkumarNithiyananthem opened #15082 "[Bug]: The datatype for the table is blob but also the table cant able to receive the image data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the table there is a Column with datatype blob even though the column cant access the data respect to the blob. I used file picker for this which fetch the image data and I used to store the image data in the column with the datatype blob which is also used to store the image but I cant able to

[2022-07-08 05:08] dilippitchika commented on #11689
Hey @MichaelLeeHobbs apologies for the delayed response, have you checked if you can use JSON form widget to solve this problem?

Here's a sample app - https://app.appsmith.com/app/json-form/email-collector-62c7ba0b01213a676a34945f

[2022-07-08 05:46] #13326 closed

[2022-07-08 05:59] #14776 closed

[2022-07-08 06:02] btsgh commented on #14848
Some observations -
1. If we type stars in the search box, both Rating and StatsBox widget are shown. This is in correct. As per notion doc, only Rating widget should be shown.

[2022-07-08 06:17] ApekshaBhosale opened #15083 "[Task]: Promises inconsistency findings research"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Find all inconsistencies with promises
- Suggest expected behavior in all scenarios
- Create architecturally diagram to get more clarity

[2022-07-08 06:35] #14956 closed

[2022-07-08 06:53] hiteshjoshi opened #15084 "POC for logging events"
- Figure out the existing events and new events to support audit logs
- Make DB schema(document) for audit logs.
- BE APIs for audit logs

[2022-07-08 08:29] dilippitchika opened #15086 "[Bug]: Allow users to right click on the apps icon within view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The icon for apps doesn't support ctrl+click or right click

### Steps To Reproduce

1. Open an app in view mode
2. Right click or ctrl+click on the apps icon

### Public Sample App

_No response_

### Version

Production

[2022-07-08 08:37] awanishraj opened #15087 "[Bug]: Editing few applications just shows error screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We are unable to edit 2-3 of our apps on AppSmith. "Launch" is working fine. "Edit" results in the following error screen.

<img width="1512" alt="Screenshot 2022-07-08 at 1 59 11 PM" src="https://user-images.githubusercontent.com/6928709/177951895-1330936e-f012-4be7-90f1-7befc7e6944f.png">

I hav

[2022-07-08 08:39] kocharrahul7 commented on #14173
### SubTasks
- [ ] Create a feature flag which will only allow users who are already using commenting to keep using it
- [ ] move APIs calling the commenting features behind the Feature Flag
- [ ] hiding buttons to show and hide comments/enter commenting mode behind the feature flag
- [ ] moving the Hotkeys behind the feature flag (if this is an issue, we can move to disable the hotkeys)

This wil

[2022-07-08 08:40] dilippitchika opened #15088 "[Bug]: Allow users to right click and launch apps in new tab from dashboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i am on dashboard and want to launch an app. I don't have a way to launch an app in a new tab.

### Steps To Reproduce

1. Go to dashboard
2. Hover on any app
3. Ctrl+click on the launch button
4. Observe it doesn't open in new app

### Public Sample App

_No response_

### Version

Productio

[2022-07-08 08:48] Irongade opened #15089 "[Bug]: Navigating to Gsheet Queries from global search leads user to empty page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Navigating to a Google sheets query from the global search redirects you to an empty page.

### Steps To Reproduce

1. Go to Global search
2. Enter the name of any Google sheets query
3. Select the query and notice how you are redirected to an empty page.

### Public Sample App

_No response_

###

[2022-07-08 08:51] Nikhil-Nandagopal commented on #15076
@ramsaptami this seems to be working for me

[2022-07-08 08:56] Nikhil-Nandagopal commented on #15073
@dilippitchika looks like we broke something here

[2022-07-08 08:57] AmanAgarwal041 commented on #11322
@Rishabh-Rathod debounce was implemented. But I think due to the selection of SheetName using dropdown now solves this issue. @ramsaptami can you check once ?

[2022-07-08 08:58] Rishabh-Rathod commented on #13320
Done with review. Doc shared looks good to me.

[2022-07-08 09:12] #15076 closed

[2022-07-08 09:18] awanishraj commented on #15087
Exporting/importing into a new organization worked. All the applications in the source organization have this problem. I believe the issue at the organization level and not at the application level

[2022-07-08 09:32] awanishraj commented on #15087
Creating a new application in this organization also has the same issue. The application gets created, but it directly goes to the error screen.

[2022-07-08 09:42] dilippitchika commented on #15073
Hey @nived-7 can you please add a screenshot or a video recording, i am not able to understand what opening a query means?

[2022-07-08 09:47] Nikhil-Nandagopal commented on #15073
@dilippitchika this is to create a query using the slash commands

[2022-07-08 09:54] nived-7 commented on #15073
Just selecting a query from Query/js options (under the widget select options)

Sent from Mail for Windows

From: dilippitchika
Sent: Friday, July 8, 2022 3:13 PM
To: appsmithorg/appsmith
Cc: nived-7; Mention
Subject: Re: [appsmithorg/appsmith] [Bug]: multiselect widget is not showingappropriate options (Issue #15073)

Hey @nived-7 can you please add a screenshot or a video recording, i am not abl

[2022-07-08 10:04] danciaclara commented on #15087
@awanishraj Sorry about the issue you are facing? Can you give some more information about when this started happening? Were you performing an action on the app for example -  Writing queries, creating JSObects, etc..

[2022-07-08 10:05] btsgh commented on #14867
Tested and found to be fixed for all widgets having label width property.

[2022-07-08 10:10] dilippitchika commented on #15073
https://www.loom.com/share/cd6b4cd8bf6a46ad973d1f6016c7f2e3

@Tooluloope can you triage this?

[2022-07-08 10:14] btsgh commented on #14810
Tested and found to be fixed.

[2022-07-08 10:14] Nikhil-Nandagopal commented on #15082
@HarishkumarNithiyananthem the table only accepts URLs to render as an image

[2022-07-08 10:14] #15082 closed

[2022-07-08 10:27] dilippitchika commented on #15073
Assuming 10% of slash command users are trying to bind options in multi select widget
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 290 |
| Effort (months)  | 0.5 |

[2022-07-08 10:32] liebig commented on #14261
This problem is certainly more than an enhancement but a bug. In all browsers that use the comma to separate decimals (e.g. Germany) neither the input nor the currency object works with decimal places! Because a dot is interpreted by my browser as a separator from the thousands place, not as a decimal place.
![image](https://user-images.githubusercontent.com/3033740/177975814-11c6c103-f6c0-43ba-86

[2022-07-08 10:43] awanishraj commented on #15087
It started happening 2 days back. Don't remember any specific action that resulted in this. I came back to edit the application to add new features and that's when I noticed. Then on checking all other applications in organization, I encountered the same issue.

[2022-07-08 11:13] ginjojohny commented on #14109
I am facing the same issue as mentioned above in my application . Validation using RegEx not working properly. While entering the value in input field , it takes some time for validating the input and showing the input as invalid even if it is a valid one.

![Screenshot (147)](https://user-images.githubusercontent.com/94359116/177981690-26b23620-4c22-446c-abd3-1db98d40b1aa.png)

[2022-07-08 11:25] slysiou commented on #3317
Thanks for the update.
On my side, my access control needs was at row level mainly. I finally achieve it using parse platform with Graphql API.
https://parseplatform.org/
After authentication, each user can only see his datas. In addition, UI elements visibility can be managed based on role defined in parse platform.
Note: I used Tabs (Like the example on youtube) to hide application until user ge

[2022-07-08 11:26] ginjojohny commented on #14109
I am facing the same issue in my application. Validation using Regex is not working properly. While we enter value in input fields, it takes some time for validating it and showing error as invalid input even if the entered value is valid.

![Screenshot (148)](https://user-images.githubusercontent.com/94359116/177983436-85e550f0-74da-44df-a5fd-285cc3854c82.png)

[2022-07-08 12:22] ramsaptami opened #15091 "[Bug]: Importing a git app returns an error for incorrect private key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After importing an app through git, the initial 2 attempts resulted in seeing the attached error on the org home page. On the third attempt, app was loaded successfully but saw the same error appear after 'application imported successfully' toast was displayed.

This is an intermediate error that

[2022-07-08 12:58] #15089 closed

[2022-07-08 13:00] Sripriya93 commented on #13928
Have verified Property pane sections - collapse animation for all widgets and sub widgets

Waiting for response - Arrow in the right side of each section heading in the property pane might also need to rotate faster along with the collapse.

Advise needed if we can move this Fix to done

[2022-07-08 13:27] #14469 closed

[2022-07-08 13:39] yaldram commented on #13928
@Sripriya93 thanks for bringing this up, yes they should rotate faster. I have pushed a fix please verify.

[2022-07-08 14:31] #13330 closed

[2022-07-08 14:48] ame-appsmith opened #15094 "[Bug]: Dragging a List Widget Inside Another List Widget Crashes the App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Although currently, nested lists are not supported, if the user resizes a list, they can make it fit inside another list, which makes the app crash.
Users should not be allowed to add a list widget inside another list widget unless [nested lists](https://github.com/appsmithorg/appsmith/issues/1434

[2022-07-08 14:49] unknown1337 commented on #15094
Thanks for adding! :)

[2022-07-08 15:20] danciaclara commented on #15087
Ok. Thanks for clarifying. Our team is investigating this and we'll come back with an update as soon as possible.

[2022-07-08 15:20] danciaclara commented on #15087
cc: @AnaghHegde

[2022-07-08 15:22] vuiets commented on #9512
Another request around this today

[2022-07-08 16:49] ame-appsmith opened #15095 "[Feature]: Transition/Animation Effects for Widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add support for transition effects when displaying widgets. For example, when showing a modal or dynamically showing a hidden widget, the widget should be displayed using some types of PowerPoint transitions (e.g., showing a modal with a bouncing effect).

### Why should this be worked on?

Allowing u

[2022-07-08 18:56] rahulramesha opened #15096 "[Task]: Validations functions throw error during evaluation in Dev Environment due to malformed strings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

If a Widget Validation function Contains a string \`this is a "test" string\` (Notice the quote ` instead of ') .While using .toString() to convert the function  in Dev mode converts to String "this is a "test" string", because of this string evaluations throw an error. This should ideally convert to

[2022-07-08 18:57] rahulramesha opened #15097 "[Perf]: Move Form widget's Child widgets logic to derived properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Form Widget uses childWidgets to get values to check each child's value, isValid, isDirty on the main Thread. This should Ideally be done in worker thread through derived Properties. This also helps us avoid Form widget from needing childWidgets which might also cause it to Re-render.

This can also

[2022-07-09 01:05] sumitsum commented on #12389
To start with, the following use cases would be covered. More use cases would be added as and when they are discovered as we have done for other plugins as well.
* binding value is a string - value would be substituted after wrapping inside quotes
* binding value is a number - value would be substituted without quotes
* binding value is a boolean - value would be substituted without quotes
* bindi

[2022-07-09 01:05] #12389 closed

[2022-07-09 07:59] kittiu commented on #14231
+1, also get the same problem.

[2022-07-09 12:42] andrewdietekoki commented on #15066
@dilippitchika Iterated a solution here:
https://www.figma.com/file/zHCSC8aA9crvqXrxCjcTwD/Issues-and-Fixes?node-id=1%3A11515

[2022-07-10 03:46] andrewdietekoki commented on #13645
@dilippitchika Worked on solutions here: https://www.figma.com/file/zHCSC8aA9crvqXrxCjcTwD/Issues-and-Fixes?node-id=12%3A8489

[2022-07-10 04:32] andrewdietekoki commented on #10182
@dilippitchika Iterated solution here: https://www.figma.com/file/zHCSC8aA9crvqXrxCjcTwD/Issues-and-Fixes?node-id=0%3A1

[2022-07-10 09:50] ohansFavour opened #15099 "[Bug]: Lint error not showing up for currentItem/currentRow when used in entities (Actions/Widgets/Queries) where it is not defined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Lint error not showing up for currentItem/currentRow when used in entities (Actions/Widgets/Queries) where it is not defined
<img width="304" alt="Screenshot 2022-07-10 at 10 41 09" src="https://user-images.githubusercontent.com/46670083/178139715-2d9e312e-889e-40fb-a1b1-8f0c318bb27e.png">

### St

[2022-07-10 12:21] techbhavin commented on #14069
- Fixed the show video/audio input menus in full-screen mode.
- Fixed to show the control panel in the full-screen mode of the safari browser.

@chandannkumar @vivekverma2312

[2022-07-10 14:43] kamal0808 commented on #9436
Is this fixed? I am experiencing this issue right now. Here's a public URL to the app. Try clicking on the plus icon.
https://app.appsmith.com/app/my-first-application/page1-62bb875020ae3225cef3448d

[2022-07-10 17:53] #11689 closed

[2022-07-10 18:00] kimploo opened #15100 "[Feature]: Dynamic table menu button column items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Table menu button column items (Table => Column => Menu button => Menu Items) should change dynamically by dynamic table data change.

### Why should this be worked on?

Let's say following data is received by api. If this feature applied, I can dynamically check homwork arrays elements in Appsmith ta

[2022-07-10 20:14] albinAppsmith opened #15101 "[Task]: Dependabot alert fix for design-system repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Fix the Dependabot alerts for,

 1. trim
 2. trim-newline
 3. glob-parent

[2022-07-11 01:37] kocharrahul7 commented on #11791
https://github.com/appsmithorg/appsmith/issues/14446

Will be addressed with this issue

[2022-07-11 01:37] #11791 closed

[2022-07-11 04:06] #14777 closed

[2022-07-11 04:22] Sripriya93 commented on #13928
Have verified both deployments, for collapsing the property pane sections and the arrow. Working fine, Moving to done, Have checked all the widgets and sub widgets property pane and arrows.

[2022-07-11 04:25] ramsaptami opened #15102 "[Bug]-[206]:Discarding git changes is stuck on UI and does not show any error on the application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there's an error during git discard, the UI is stuck and does not respond to any mouse clicks. Checking browser console reveals the error being an error accessing repo file.

### Steps To Reproduce

1. Create a git-connected app whose git configuration has been changed so it reflects an error

[2022-07-11 04:32] danciaclara commented on #15087
@awanishraj Can you invite support@appsmith.com to your app so that we can investigate this? Thanks

[2022-07-11 04:42] awanishraj commented on #15087
Unfortunately, this org has confidential data and dashboards. Can we do this over a zoom call?

[2022-07-11 04:49] akash-codemonk commented on #5994
To be clear we want to land on the query page directly instead of going to the the active tab for mock datasources?

[2022-07-11 04:55] #14993 closed

[2022-07-11 05:33] vuiets commented on #14829
@AnaghHegde could you take a look at this on priority if you haven't already?

[2022-07-11 05:41] #13928 closed

[2022-07-11 05:50] ramsaptami opened #15103 "[Bug]: Signing up as a new user from a public app does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

App returns a 400 when a new user signs up using a shared public app URL

### Steps To Reproduce

1. Make an app public
2. Copy share link to an incognito tab
3. Launch the application and try to sign-in from the top right corner
4. Create new user credentials and press enter - observe a 400 page

[2022-07-11 05:58] RakshaKShetty opened #15104 "[Bug]: The Data is not displayed in Omni bar after clicking on learn more link from property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Data is not displayed in the Omni bar after clicking on learn more link from the property pane
https://www.loom.com/share/49104398a9ed4a678791c2fef225fb6a
below screenshot is something i am seeing in prod
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/178

[2022-07-11 06:01] vuiets commented on #15084
This [doc](https://www.notion.so/appsmith/List-Events-bcaba08d34f94b90a655d835de6788b7) should help with the missing events for `Audit Logs`.

Let's consolidate the events here and create a GH issue out of it to track it?

[2022-07-11 06:13] akash-codemonk commented on #15103
This is a duplicate of https://github.com/appsmithorg/appsmith/issues/12926 and is not related to clean url.

[2022-07-11 06:14] #15103 closed

[2022-07-11 06:34] aswathkk opened #15107 "Grouping and Reorganisation for Audio Widget"
Based on the following Figma File and Notion doc, Group the properties of the Audio widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=2654%3A67522

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-11 06:40] sentry-io[bot] opened #15108 "[Feature / Bug]: AppsmithPluginException: Unable to parse range: 'manufacturing_log'!1:1"
Sentry Issue: [APPSMITH-2ZG](https://sentry.io/organizations/appsmith/issues/3412726804/?referrer=github_integration)

[code]

[2022-07-11 06:41] Nikhil-Nandagopal commented on #15108
@nidhi-nair looks like we're seeing a lot of errors with GSheets

[2022-07-11 06:41] aswathkk opened #15109 "Grouping and Reorganisation for Video Widget"
Based on the following Figma File and Notion doc, Group the properties of the Video widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=2654%3A67391

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-11 06:45] aswathkk commented on #14241
Closing this since it is already being handled in #14439

[2022-07-11 06:45] #14241 closed

[2022-07-11 06:50] sentry-io[bot] opened #15110 "[Bug]: CodecException: Type definition error: [simple type, class com.google.cloud.firestore.Blob]; nested exception is ..."
Sentry Issue: [APPSMITH-2ZP](https://sentry.io/organizations/appsmith/issues/3413279302/?referrer=github_integration)

[code]

[2022-07-11 06:55] sentry-io[bot] opened #15112 "[Bug]: TypeError: Cannot read properties of undefined (reading 'replace')"
Sentry Issue: [APPSMITH-2ZR](https://sentry.io/organizations/appsmith/issues/3413687761/?referrer=github_integration)

[code]

[2022-07-11 06:55] aswathkk commented on #4645
@dilippitchika Should we mention tooltips on our [properties library](https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2) docs?

[2022-07-11 06:55] Nikhil-Nandagopal commented on #15112
@ayushpahwa seems like a case we're not handling on the frontend

[2022-07-11 06:56] awanishraj commented on #15087
@danciaclara The issue got resolved in v 1.7.7

[2022-07-11 06:56] #15087 closed

[2022-07-11 07:10] Parthvi12 opened #15113 "[Bug]: In git sync modal Open repo and Discard changes buttons are misaligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1429" alt="Screenshot 2022-07-11 at 10 16 25 AM" src="https://user-images.githubusercontent.com/80334441/178207748-e7a133e7-878a-4876-bc28-13720a540cf5.png">

When an app has merge conflicts , in git sync modal the Discard changes and Open repo button are not aligned properly

### Step

[2022-07-11 07:35] #15101 closed

[2022-07-11 07:36] ramsaptami opened #15114 "[Bug]: Choosing different dropdown options on mutlitree select widget does not reflect changes on actual dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Multitree select widget has an option on the property pane called `Mode`. Changing options in this dropdown to displays different views of options does not work

### Steps To Reproduce

1. Drop a multi-tree select widget on the canvas and change it's dropdown options from field `Mode`
2. Observe t

[2022-07-11 08:33] jibe-b opened #15116 "[Bug]: typo on blog page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hi there, love your work! Keep on clean coding!

There is a typo on blog page https://www.appsmith.com/blog/may-round-up-app-theming-new-copy-paste-experience-and-product-updates:

`APITemplte.io` occurs while there should be an `a` as in: [APITemplate.io](https://apitemplate.io/)

### Steps To Re

[2022-07-11 08:43] arunvjn commented on #15104
Recent version bump on 'marked' package to fix dependabot alerts seem to have broken the documentation tab in omni-bar.
Can you guys take a look ? @arslanhaiderbuttar @akash-codemonk

[2022-07-11 08:44] prapullac opened #15117 "[Bug]: There is overlapping on focus of Checkbox Group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the Checkbox Group has been placed close to another widget it gets overlapped on the focus

### Steps To Reproduce

1) Add a Checkbox Group
2) Add a canvas closeby
3) focus on the widget
and observe
![Screenshot 2022-07-11 at 1 41 10 PM](https://user-images.githubusercontent.com/71753653/1782

[2022-07-11 08:51] btsgh opened #15118 "[Bug]-[42000]:Welcome tutorial 5th Step, binding image to table data errors out as the backend seems to have changed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Signup as a new user, login and go through the Welcome Tutorial - reach the step 5 of 9, and try to bind the image widget with - {{CustomersTable.selectedRow.image}}, an error pops up - "This value does not evaluate to type: base64 encoded image | data uri | image url"

### Steps To Reproduce

1.

[2022-07-11 09:02] nidhi-nair commented on #15108
This should not be logged on Sentry. It's an intermediate state when the spreadsheet file being used is changed, but the sheet name is still the old one in the DB. I'll take the error reporting out of Sentry.

@ayushpahwa should we consider resetting the rest of the entity selector fields when one in the previous step changes?

[2022-07-11 09:05] nidhi-nair commented on #15108
Reducing the priority since this does not affect user flow in any way. Setting it to high because it's raising false alarms. :)

[2022-07-11 09:26] ramsaptami opened #15119 "[Bug]-[440]:Dropdown search behaviour is incorrect when search field does not match listed options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a search text does not match dropdown options on a tree-select/multi-tree select widget then the options tray should not open up and display only matched options when there is a match. Behvaiour is expected to be in line with select/multi-select widget.

### Steps To Reproduce

1. Drop a tree

[2022-07-11 09:27] Tooluloope commented on #13664
Hi @dilippitchika
I don't think we need to bother ourselves with if the value is in the Option or not when server-side filtering is ON.

Speaking specifically for 3a above, we should display the default value irrespective of the format.

[2022-07-11 09:43] dilippitchika commented on #13664
@Tooluloope why do you think so? In this case, aren't we sending incorrect data to the backend if the user doesn't select anything, which then throws an error on the query. Is there some reason behind this which I am not able to grok?

[2022-07-11 10:11] #15050 closed

[2022-07-11 11:10] dilippitchika commented on #15066
Design is perfect, ready for implementation.

[2022-07-11 11:14] prapullac opened #15120 "[Bug]: Connection on the property pane shows "Appsmith" as incoming connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On placing the widget and property pane displays incoming connection as "appsmith"

### Steps To Reproduce

1) Add a widget
2) ensure property pane opens
3) observe the incoming entity
observer 1 incoming connections name "Appsmith" is disaplyed

### Public Sample App

release

### Version

cloud

[2022-07-11 11:14] Parthvi12 opened #15121 "[Bug]: Query shows not defined in on trigger fields when query name is changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/178252594-72edb9b6-a678-4d03-aca0-25bf891be415.mov

### Steps To Reproduce

1. Add following code to a trigger of any widget - eg: Checkbox onCheckChange property
 {{Api1.run(() => showAlert('success','success'), () => showAlert('error','error'))}

[2022-07-11 11:22] souma-ghosh commented on #10182
We are not picking this up right now, as it’s a low priority issue and these are some risks we see

1. In Dynamic height project we are making changes to the group widgets again
2. We are unable to migrate the changes

This will be picked up after the dynamic height feature is on release.

[2022-07-11 11:29] Nikhil-Nandagopal commented on #15116
@jibe-b Thank you for pointing this out!

@vihar could you please update this?

[2022-07-11 11:33] Nikhil-Nandagopal commented on #15100
@kimploo thank you for the feature request! That is a great point

cc: @dilippitchika

[2022-07-11 11:36] chandannkumar opened #15122 "[Bug]: MongoDB displays 10 records by default instead of all available records"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

MongoDB displays only 10 records even if more than 10 records is available in collection, since the Limit field is set as blank

https://www.loom.com/share/0a72f50cbb504118af6cc755b81dc8d6

### Steps To Reproduce

1. Create new Find Document query for MongoDB
2. Choose collection with more than 10

[2022-07-11 11:59] caw-ishikajain opened #15123 "[Bug]: Advance setting change MongoDB does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I create a MongoDB and added it to settings but it always says retying nothing happens.

I am using self deployed version on AWS ECS and when Task is restarted it wipes out all the data, which is very frustating with no backup we just lose data, I guess using EFS volume is also not good choice rea

[2022-07-11 12:05] dilippitchika commented on #15094
@Tooluloope is it possible to fix this independently without solving it in list widget epic?

[2022-07-11 12:19] chandannkumar opened #15125 "[Bug]: Search is not working properly on Appsmith Documentation page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

While searching on appsmith documentation page, the text gets reset and search is only taking 1 input and not more than that.
Weird behavior on search can be seen in video

https://www.loom.com/share/a2e0392615ae494892d2f0ae2a44d7f7

### Steps To Reproduce

1. Open an app and click on '**?**' icon

[2022-07-11 12:26] chandannkumar opened #15126 "[Enhancement]: Need Total record count is for Airtable queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently Total records is displayed for all other Queries but not visible for Airtable.

<img width="960" alt="result_with_count" src="https://user-images.githubusercontent.com/95341241/178263205-336b00b3-e06d-403f-bbfe-e60e29d8f119.PNG">
<img width="960" alt="result_without_count" src="https://u

[2022-07-11 13:01] akash-codemonk commented on #12926
Closed with https://github.com/appsmithorg/appsmith/pull/15074.

[2022-07-11 13:01] #12926 closed

[2022-07-11 13:13] akash-codemonk commented on #11745
This is working on release now.

[2022-07-11 13:13] #11745 closed

[2022-07-11 13:13] chandannkumar opened #15127 "[Bug]: continual creation of Mongo query from Entity explorer shows 'Loading' UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

While creating Mongo query continuously from Entity explorer, the UI shows 'Loading' until browser refresh

https://www.loom.com/share/50da72832dc54b949196ba100236de75

### Steps To Reproduce

1. Create connection with MongoDB
2. Create a new query on mongo from Entity explorer
3. Again create a n

[2022-07-11 13:41] ramsaptami opened #15128 "[Feature]: Widget navigation using widget id needs to be supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, widget navigation is supported only if the widget is on the same page. Widgets on a different page or tab navigation isn't supported at the moment

### Why should this be worked on?

This would allow user navigation between pages and relevant information. For example, switching tabs dependi

[2022-07-11 15:10] sbalaji1192 opened #15131 "[Bug]: Inconsistency b/w JSON form and simple form with regards invisible fields in formdata"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

values of the Invisible fields in a simple form are present in the (form)data. but in JSON form, invisible field values are not present in the formData.

### Steps To Reproduce

1. Drop a JSON form
2. create a field and its value is present in the Jsonform1.formdata
3. make this field invisible an

[2022-07-11 15:28] RakshaKShetty opened #15132 "[Bug]-[25]:Clear all selection property doesn't work in Tree select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clear all selection property doesn't work in Tree select widget
https://www.loom.com/share/cef34c23cc0943f5b81f0f4a3e6a529d

### Steps To Reproduce

1. Go to canvas
2. drag and drop the Tree select widget
3. In the property pane
4. enable the clear all section property
5. now in tree select widget

[2022-07-11 16:52] GreenFlux commented on #14706
@Nikhil-Nandagopal , @rohan-arthur , a little more background on this issue:

When an API's URL references another API which has not ran yet, the evaluated value at the URL is invalid and returns an error in the editor.

**Example:**
`https://storename.myshopify.com/admin/api/2021-10/products/{{findProducts.data[0].id}}/variants.json`

This causes an error in the editor until findProducts has run,

[2022-07-11 17:54] makulais commented on #7757
Uhm Wow, can't believe this wasn't part of the original. For the workaround, also be aware that you have to create them in reverse order so that they can come out in correct order?! Found it easier to create them all, using containers inside containers for the copies, then use Ctrl-X and Ctrl-C in reverse order to get them all ordered correctly. Had over 50 input widgets to do this on. Would be ni

[2022-07-11 18:17] subrata71 commented on #14790
# Finding
H2 Database in Google Sheet integration?

# Why
One exciting finding regarding Google Sheet integration is using the H2 database during fetch operation.
## Reason
Google sheet doesn't support filtering through where conditions. In order to provide filtering through where conditions to our users H2 database is used as the intermediate storage after fetching the rows from the Google Sheet.

[2022-07-12 02:54] kocharrahul7 commented on #5994
Ideally, we should also unfurl the entity explorer for any newly created DB, so the user can understand at least the collection/db list, and can unfurl it further to expose the db structure.

Going directly to the query page breaks the information flow.

[2022-07-12 02:59] kocharrahul7 commented on #15118
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 7000 |
| Effort (months)  | 0.5 |

[2022-07-12 03:50] akash-codemonk commented on #15118
The mock users db does not seem to have a valid image url. The db needs to be reset to default data.
@kocharrahul7 @sum35h

[2022-07-12 05:01] felixsuarez0727 opened #15134 "[Tests] Add Cypress Tests to Twilio SaaS Integration"
This is a follow-up on #13756

| Test Case                                                                                                                | Issue                                                         | Status      |
| ---                                                                                                                      | ---

[2022-07-12 05:04] #13756 closed

[2022-07-12 05:04] felixsuarez0727 commented on #13756
The feature to import integrations from Prod to Release will be tracked on #15079

Automated testing progress will be tracked on #15134

[2022-07-12 05:30] dilippitchika commented on #10483
**Had a dev kickoff yesterday, notes from the call**
- All inconsistencies are documented here - https://www.notion.so/appsmith/Widget-reskinning-inconsistencies-a7716e441e8646dcb74d30e63ebd23e9
- Pawan to discuss checkbox reskinning today and help with estimates
- Keyur to discuss chart today and help finalise inconsistencies and estimates
- Dilip to ask in group if we can move to 4px as default

[2022-07-12 05:32] dilippitchika commented on #10483
@somangshu @jsartisan @keyurparalkar @vivekverma2312 please review the release strategy here - https://www.notion.so/appsmith/Release-strategy-3809d98748f94c16bdf31647c8c44131

[2022-07-12 05:45] dilippitchika commented on #10483
@vivekverma2312 while testing we should these stories to test things out, it will give us an overview of the inconsistencies across widgets

https://github.com/appsmithorg/appsmith/issues/10483#issuecomment-1156057501

[2022-07-12 05:53] pratapaprasanna commented on #15123
@caw-ishikajain can you access the mongo-cluster from any off your mongo-clients? as-in not specifically on appsmith can you access the mongo-db from other sources ?

[2022-07-12 05:56] caw-ishikajain commented on #15123
Yes, I am able to access it in MongoDBCompass.

[2022-07-12 05:58] sum35h commented on #15118
@akash-codemonk  could you use the `users` table in the `fakeapi` db.

[2022-07-12 06:13] Nikhil-Nandagopal commented on #15118
Closing this till we can reproduce it

[2022-07-12 06:14] dilippitchika commented on #15131
@sbalaji1192 closing in favor of #14231 do let me know if it needs to be reopened.

[2022-07-12 06:14] #15131 closed

[2022-07-12 06:17] sum35h commented on #15123
@caw-ishikajain Have you configured the volume mapping mentioned in the [docs](https://docs.appsmith.com/setup/aws-ecs#step-2-create-task-and-container-definitions ) ?

[2022-07-12 06:23] dilippitchika opened #15136 "[Bug]: JSON form doesn't remove first item on clicking delete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i add array of data as default and then add a few more items and delete the default data, the data is not getting deleted. This only happens when the default data is coming from a store value.

https://discord.com/channels/725602949748752515/725609493974614076/994795375758164069
https://theap

[2022-07-12 06:27] muezz commented on #15131
@dilippitchika Any idea when this will be fixed/implemented? I really need it and I am waiting for a solution. From the other issue, I can see that its been more than a month. If there is a temporary work around that you know about, do let me know.

[2022-07-12 06:28] dilippitchika commented on #15131
Hey there's a temporary workaround, you can just update the form data to append the hidden fields using a js object. So in that js object you can write code which takes the form data from the JSON form and the hidden fields in source data and combines both of them together.

[2022-07-12 06:29] #13068 closed

[2022-07-12 06:45] muezz commented on #15131
@dilippitchika Thats actually quite clever. I'll work with that for now. Hopefully this gets resolved soon.

[2022-07-12 06:59] ankitakinger opened #15137 "[Task]: Add back button on Authentication config pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-07-12 07:09] aswathkk opened #15141 "[Feature]: Default Label position of Rich Text Editor should be made better"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Positioning the label to the top by default would be nice.

https://user-images.githubusercontent.com/10436935/178429908-9e527951-4e69-478b-a90b-9a6bf750f9b7.mov

### Why should this be worked on?

Rich Text Editor’s default Label position doesn’t look good.

[2022-07-12 08:59] RakshaKShetty opened #15142 "[Bug]: The save and restart button has a performance issue in Admin setting page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The save and Restart button loads for some time when the user tries to restart the server
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/178452973-0c11eafb-5447-4c2a-b057-9e9739640143.png">

### Steps To Reproduce

1. Take a ee release pull
2. Run. the releas

[2022-07-12 09:00] rimildeyjsr opened #15143 "[Bug]: Remove "copy" from copied JS object name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user pointed out that on copying the JS object from the JS editor page, we are appending "copy" to the name, but on copying it from the explorer page, we don't do this.

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100140873#part_id=comment-164629100140873-15716667940

[2022-07-12 09:10] btsgh opened #15144 "[Bug]-[6]:SSO SAML setup is giving server error issues."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On trying to setup SAML with the following metadata details:
 https://login.microsoftonline.com/3e889401-476e-489a-9d84-07f623ee08a4/federationmetadata/2007-06/federationmetadata.xml?appid=fe5c6870-f962-48a1-90b7-e4bb5f52ac97

It gives an error.

### Steps To Reproduce

1. Login to appsmith on loc

[2022-07-12 10:14] SatishGandham commented on #14351
Logging issue is fixed, we will come back to using self hosted db at a later point.

[2022-07-12 10:25] vivekverma2312 commented on #15118
Able to repro on both release and prod
<img width="1912" alt="Screenshot 2022-07-12 at 3 27 26 PM" src="https://user-images.githubusercontent.com/83569920/178469487-bd134d2f-ee61-432e-9de5-327b2f143883.png">

[2022-07-12 10:28] rohitagarwal88 commented on #15118
@yaldram can you syncup with @vivekverma2312 on this issue.

[2022-07-12 10:54] prapullac commented on #12600
Moving this to In progress as we need Cypress tests for the same. Tested this on DP and looks good

[2022-07-12 11:21] chandannkumar opened #15145 "[Bug]: No 'Filterable' option available to hide filter from dropdown in Tree/Multi Tree Select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Provide 'Filterable' option in **Tree & Multi Tree select widget** to provide user a option to hide filter from dropdown. Since Filterable option is available in Select & Multi Select widget.

https://www.loom.com/share/8e2a4829f20f412f9ea8a558db4d70ca

### Steps To Reproduce

1. Add Tree or Multi

[2022-07-12 11:36] dilippitchika commented on #15117
Will be updated as part of dynamic height project. @ankurrsinghal can you tag this in the dynamic height project?

[2022-07-12 11:50] #15024 closed

[2022-07-12 12:11] akash-codemonk commented on #15125
Looks like a documentation issue.

[2022-07-12 12:14] kittiu commented on #2266
+1

[2022-07-12 12:21] akash-codemonk commented on #15118
It seems to work for me now but this is bound to happen when the image value isn't a valid url. Maybe we should just remove the image field step as it is required that it to be a valid url else it will fail which is not the case for the other text fields.

[2022-07-12 12:46] #14999 closed

[2022-07-12 13:06] pranavkanade commented on #14950
+ Radio Group

[2022-07-12 13:12] RakshaKShetty commented on #15104
The Links are broken in Following Places :
1.Documentation link from Omni Bar
2.Documentation Link from Queries

[2022-07-12 13:13] Nikhil-Nandagopal commented on #15118
@akash-codemonk yeah that makes sense. We can autobind the image and not keep it as a mandatory step in the onboarding

[2022-07-12 13:15] Nikhil-Nandagopal commented on #15143
@rimildeyjsr I believe this happens for all entities including APIs

[2022-07-12 13:20] vuiets commented on #3317
Hey @slysiou, thanks for sharing how you're managing access control at your end. This is interesting. Would you be interesting in chatting with us over a call so I can get your requirements down in detail? Please feel free to pick a time that works best for you -

📆 Calendly: https://calendly.com/appsmith-vishak/conversations

[2022-07-12 13:23] Nikhil-Nandagopal commented on #15108
@nidhi-nair this doesn't seem to be a false alarm
https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?filter=bcce1869e56ca12a7e7aa60f039cae885132156c2dcc1f0316fc1df1f0e83633&player=1&session=vNOqhZHhZo&visitor=U5i1gmYmQ-

[2022-07-12 13:30] prapullac commented on #13830
not on release yet

[2022-07-12 13:31] #15137 closed

[2022-07-12 13:55] #14987 closed

[2022-07-12 14:16] nidhi-nair opened #15148 "[Bug]: Google Sheets throws Insufficient Permission: Request had insufficient authentication scopes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This error is thrown when the user does not grant the correct access to the Google Sheets datasource.

The expectation is that for such scenarios we throw an error to users saying that they did not grant all the expected permissions to the Google Sheets datasource.

### Steps To Reproduce

In the

[2022-07-12 14:24] ramsaptami opened #15149 "[Bug]: Tooltip to add query does not follow standard seen across the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Tooltip that pops up on hover of `+` next to `Queries/JS` is in all caps which does not follow the standard of other tooltips

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/178512971-66391dfe-1404-4b51-a390-9d73bbd3ff1f.png)
![image](https://user-images.github

[2022-07-12 15:00] ankitakinger commented on #15142
@RakshaKShetty this is not a bug. There are 2 APIs being called when we click on save & restart:
1. To save changes in docker.env which is why we see the loader on the save & restart button
2. To restart the server which is why we see the restarting banner

[2022-07-12 15:43] #14849 closed

[2022-07-12 16:33] caw-ishikajain commented on #15123
Yes, Appsmith is working with local DB.
I had to upgrade the image, I was facing one bug(#14210). So I created a new version for Task definition and updated the docker image version to 1.7.6 and updated the service then a new task is created and I lost previous data.

What I know is -
EC2 creates a container on each task run, and once a task is stopped we cannot start the same task or the same con

[2022-07-12 16:48] dilippitchika commented on #9614
We can add JS on this

[2022-07-12 16:51] dilippitchika commented on #9614
Assuming 30% of users want to add JS

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 330 |
| Effort (months)  | 0.5 |

[2022-07-12 18:07] #14701 closed

[2022-07-12 18:57] felixsuarez0727 commented on #15079
How to test:

Introduction: The objective with this feature is to copy all the data of an Integration from Prod to Release. This includes data on the following collections: `plugin`, `actionTemplate` and `datasourceTemplate`.

To test this, we can use an existing testing integration.

The process goes like this:

1. Open the SaaS App (Edit Mode)
2. Go to the API Manager page. Select a testing Inte

[2022-07-13 03:45] kocharrahul7 commented on #15118
If the image URL is invalid, then it won't work even if it is auto-bound. The issue is the image value itself, not really the binding process as far as I can tell right @akash-codemonk

[2022-07-13 04:16] akash-codemonk commented on #15118
Currently the user will not be able to proceed further if the image field is not a valid url. So if we remove that step then the user can proceed further whether it is invalid or not. We autobind the image widget so that the image widget is still there and it will show the image if the image url is valid else it will show the default image.

<img width="813" alt="test" src="https://user-images.git

[2022-07-13 04:37] hetunandu commented on #12777
[Uploading... Screen Recording 2022-07-13 at 10.03.22 AM.mov]

I don't see this happening anymore @shwetha-ramesh
Can you confirm if this is still happening on your end?

[2022-07-13 04:47] eco-monk commented on #15104
`marked` has become `undefined`.
<img width="1231" alt="image" src="https://user-images.githubusercontent.com/66776129/178652759-5c891842-1ec9-4e7c-a0b2-4826c35b004c.png">

Imports updated here recently.
https://github.com/appsmithorg/appsmith/pull/14970

[2022-07-13 05:15] kocharrahul7 commented on #15118
Okay, got it. can we fix this on Priority

[2022-07-13 05:36] albinAppsmith opened #15152 "[Task]: Migrate Date Picker component to Design System Package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-07-13 05:37] albinAppsmith opened #15153 "[Task]: Migrate AppIcon component to Design System Package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-07-13 05:43] #15152 closed

[2022-07-13 05:53] RakshaKShetty opened #15154 "[Docs]: In OIDC Auth explicitly mention that "sub" should be added as a user attribute for Active directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link
https://docs.appsmith.com/setup/instance-configuration/single-sign-on-sso/openid-connect-oidc/active-directory

### Describe the problem

In OIDC Auth explicitly mention that "sub" should be added as a user attribute for Active directory

### Describe the improvement

When the user use the v

[2022-07-13 05:59] kocharrahul7 opened #15155 "[Epic]: Context switching and IDE navigation"
### Objective

The aim of this project is to solve the current confusion, and clunkiness in switching context. Originally, the aim was to make context switching as easy as possible. to achieve this we thought of various solutions, including creating a POC for tabbed navigation, however we will look at this from a wider lens, and consider a host of different solutions. This will be the first step o

[2022-07-13 06:03] ohansFavour opened #15156 "[Bug]: semicolon following a block or function declaration shows lint error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

semicolon following a block or function declaration shows `Unnecessary semicolon.`, this should either be a warning or not present at all.

### Steps To Reproduce

Go to a JS enabled field and type out the following

[code]

### Public Sample App

_No response_

### Version

Cloud

[2022-07-13 06:04] souma-ghosh commented on #13970
@dilippitchika On further investigation this issue seems like it might get fixed with dynamic height. This is because when the container height is adjusted manually according to the content inside, the Multiselect input no longer changes height as mentioned in the issue. Should we hold this off?

[2022-07-13 06:09] dilippitchika commented on #15145
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 447 |
| Effort (months)  | 0.5 |

[2022-07-13 06:10] Aishwarya-U-R commented on #12600
@prapullac - Since its authenticated API - we are yet to explore the Cypress feasibility on new version & hence its NA for now.

[2022-07-13 06:19] dilippitchika commented on #15132
- Replace "Clear all selections" with "Allow Clearing Value"
- When switched on we show the clear option on the widget
- When switched off we don't show the clear option on the widget

[2022-07-13 06:20] dilippitchika commented on #15132
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-07-13 06:22] dilippitchika commented on #15119
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 440 |
| Effort (months)  | 0.5 |

[2022-07-13 06:27] SatishGandham opened #15157 "[Bug]: Optimize codeeditor data subscriptions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

CodeEditor subscribes to dynamic data but it is not used for display purposes. Dynamic data changes on every eval cycle causing all code editors on the screen to rerender.

DynamicData is used for the hinters and its updated on component mount and update, since this is only required on focus.

Rem

[2022-07-13 06:28] dilippitchika commented on #15100
Hey @kimploo a few more questions to understand your request better.
1. What is the data shown in a homework? Any sample data here will help. The reason i think this is useful is, it looks like homework is a child and should be seen in a different drill down like UI rather than directly in the table.
2. What will clicking on any homework inside a menu button do? Will it open something else where y

[2022-07-13 06:43] dilippitchika commented on #12362
Job stories -
1. When working with dynamic data like tables or lists, I want the menu options to be dynamic so that I can only show specific actions.
2. When adding dynamic menu options, I don't want to transform query data so that I don't have to learn something new.

This looks achievable actually, within the menu button we can add a parent field for dynamic. When dynamic is selected, similar to

[2022-07-13 06:46] kocharrahul7 opened #15158 "[Feature]-[5000]:Maintaining cursor position/context when changing pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

#### Job Story:
When I switch between different APIs, Queries, JSObjects, and properties for widgets within an application, I want to ensure the previous APIs, Queries, JSObjects, and properties for widgets is exactly how I left it, so I can maintain context, and not feel lost when I return to that co

[2022-07-13 06:47] dilippitchika commented on #12362
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 445 |
| Effort (months)  | 0.5 |

[2022-07-13 06:48] dilippitchika commented on #15100
@kimploo also this is a duplicate issue of #12362, closing this issue in favor of that

[2022-07-13 06:48] #15100 closed

[2022-07-13 06:49] dilippitchika commented on #15095
@ame-appsmith was this requested by a user?

[2022-07-13 06:57] #15086 closed

[2022-07-13 06:57] dilippitchika commented on #15061
Need to triage this better. For all labels within widgets, tabIndex="-1" should be present

[2022-07-13 07:02] kocharrahul7 opened #15159 "[Feature]: Fix the onboarding visual in step 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This Run button (as show in in the screenshot) is quite confusing, have seen many users hit this button rather than the actual run button. This should be replaced with normal, or bold text rather than this run button replica.

<img width="1439" alt="Screenshot 2022-07-04 at 8 07 00 AM" src="https://us

[2022-07-13 07:08] kocharrahul7 opened #15160 "[Feature]-[4000]:Change the indicator in the onboarding flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Many users are not noticing this indicator onboarding, it should be replaced

https://user-images.githubusercontent.com/20532920/178671869-4537760b-117b-496b-850d-9f478c9e18a9.mov

### Why should this be worked on?

There are lots of users who are dropping off during the onboarding, and this may be a

[2022-07-13 07:13] dilippitchika commented on #14822
@ashit-rath can you triage this?

[2022-07-13 07:16] dilippitchika commented on #14734
@somangshu @sbalaji1192 if we do this change, is this a new version? Also @sbalaji1192 i need some help understanding how many users will be impacted by this. Can you triage this once?

[2022-07-13 07:19] dilippitchika commented on #14694
Reset widget fuction in tab widget doesn't work as expected. If the default tab is tab2 resetting it should go to tab 2 and not tab 1. This is broken.

[2022-07-13 07:20] dilippitchika commented on #14694
@techbhavin please triage this issue, no need to fix right now. Just need to know why this is happening.

[2022-07-13 07:22] sbalaji1192 commented on #14734
@dilippitchika It's a very simple fix but it will impact people who are expecting the default value of the input widget to be `undefined`. So we should add a new version.
There is no way for us to know "how many" users will get impacted.

[2022-07-13 07:27] Vidushi-Gupta opened #15162 "[Bug]: JS code with additional text does not evaluate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I write `Returned: {{currentItem.date_returned === "" ? "No" : currentItem.date_returned}}` I expect the output to be `Returned: No`

But instead I get the output to be  ` `

![image](https://user-images.githubusercontent.com/55969597/178674850-869fb328-3663-47f2-84a6-8bab9deb92dd.png)
![imag

[2022-07-13 07:32] subrata71 commented on #14790
## Finding
In Google Sheet integration I have found that three different base URIs are used in different methods.
https://www.googleapis.com/drive/v3/files/ (Used by `FileDelete`, `FileInfo`, `FileList` methods)
https://sheets.googleapis.com/v4/spreadsheets/  (Mostly used by all methods)
“https://docs.google.com/spreadsheets/d/ (Used by `FileList` method)

The reason behind this is that the APIs a

[2022-07-13 07:34] #15104 closed

[2022-07-13 07:35] chandannkumar opened #15163 "[Bug]: In application's New page UI gets different when application name is being changed to "Form""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On changing application name to "Form" or any name staring with 'Form' leads to weird UI when we create a new page.
Refer video:
https://www.loom.com/share/240c4e4dcf314a2dbe6467e3594f4ba0

### Steps To Reproduce

1. Create a new application
2. Change the application name to "Form 123"
3. Create a

[2022-07-13 08:15] ohansFavour opened #15165 "[Bug]-[20]:Wrong lint error (result is defined but never used)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="610" alt="Screenshot 2022-07-13 at 09 11 23" src="https://user-images.githubusercontent.com/46670083/178684794-7acf9ce6-b287-4681-8e1b-cc1bd74e78c2.png">

### Steps To Reproduce

Create JSObject with the following content

[code]

### Public Sample App

_No response_

### Version

Clou

[2022-07-13 08:21] kimploo commented on #15100
@dilippitchika

Please check my type definition - homework property has an array of homeworkInformations, which is an object with few string property.

[code]

I originally does not have need this feature(dynamic table menu button column items). If Appsmith can show nested JSON format well in table, I'm find with that. However I failed to find the best way to show my nested array on table. That's

[2022-07-13 08:21] sbalaji1192 commented on #14734
@dilippitchika Ignore my previous comment about introducing a new version. Making this change would not affect any app. so we should be fine with making the change on the same version of the input widget.

[2022-07-13 08:44] somangshu commented on #14734
@iamrkcheers please have a discussion with @sbalaji1192 before picking this up

[2022-07-13 08:47] somangshu commented on #14734
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 827 |
| Effort (months)  | 0.25 |

[2022-07-13 09:03] #14218 closed

[2022-07-13 09:05] berzerkeer opened #15167 "[Task]: Workspace members page revamp."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] UI implementation

- [x] Business logic

- [x] Unit tests.

[2022-07-13 09:13] ramsaptami commented on #9844
Bind lat and long from Appsmith store values - something like `{{appsmith.store.lat}}` `{{appsmith.store.long}}`
Observe that the value is read as a string and not number
![image](https://user-images.githubusercontent.com/79509062/178697233-56afcc70-2afb-40df-8e86-c5b34c89da5a.png)

[2022-07-13 09:25] parth-appsmith commented on #14431
Hi team, we've got a signoff for the console.log designs. Here is a [loom video](https://www.loom.com/share/b553a0e92f9a41b487d7fa028d790ea5) explaining the designs.
Design Spec Doc: https://www.notion.so/appsmith/Console-log-output-afacec4313414f28b91007c302597a2f
Figma Designs: https://www.figma.com/file/X03G0OsEtvH9JHDhU8XREy/JS-Editor-Improvements?node-id=2186%3A112955
Zeplin Handoff: https://

[2022-07-13 10:03] dilippitchika opened #15170 "Button group reskinning"
https://www.notion.so/appsmith/Button-group-96bf174a442d45f1bd15375e780afbc0

[2022-07-13 10:07] dilippitchika opened #15171 "JSON form reskinning"
https://www.notion.so/appsmith/JSON-form-57ec14b1826c49498dc9203a8b5fdf46

[2022-07-13 10:11] dilippitchika commented on #10994
Not doing as it's a system component today

[2022-07-13 10:11] #10994 closed

[2022-07-13 10:29] vivekverma2312 opened #15173 "[Bug]: Selected page no if list widget is not visible when primary color is White"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/5ccf47af81cc4c40b38741cd8e638068

### Steps To Reproduce

1. D&D a List widget on canvas
2. Change the Primary color of theme to white
3. Observe that page no, next/previous icon is not visible

### Public Sample App

_No response_

### Version

Cloud

[2022-07-13 10:45] vivekverma2312 opened #15174 "[Bug]: Background color is not applied to save/Discard column on table widget v2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="849" alt="Screenshot 2022-07-13 at 4 01 16 PM" src="https://user-images.githubusercontent.com/83569920/178717852-c60c0699-8ae5-48bc-88fb-82f94f7d3f0f.png">

- [x] Text align property need to be Button align as there will not be text in this column.
- [x] Column list should get scrolled

[2022-07-13 10:56] Parthvi12 opened #15175 "[Bug]: Creating new cURL import query from entity explorer crashes the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we create new cURL import from entity explorer, it gives the error "Resource not found" and on refresh app crashes

https://user-images.githubusercontent.com/80334441/178717222-c4d20cd8-a9fc-4c5a-9689-75495c6d7661.mov

### Steps To Reproduce

1. Go to entity explorer
2. Create new cURL import

[2022-07-13 10:56] Nikhil-Nandagopal opened #15176 "[Bug]-[1646]:App is deploying even when Git commit fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Even when a branch is marked as protected and committing fails, the view mode still has the new app. This is a blocker for deployments

### Steps To Reproduce

1. Connect an app to git
2. Mark the master branch as protected
3. Commit changes and see a failure
4. Open the view mode, the changes are

[2022-07-13 11:09] vuiets commented on #15176
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 823 |
| Effort (months)  | 1 |

@AnaghHegde roughly estimating the effort for this to as 2 weeks, please feel free to correct me if you think different.

[2022-07-13 11:26] #12220 closed

[2022-07-13 11:27] #15025 closed

[2022-07-13 11:28] #14370 closed

[2022-07-13 11:28] dilippitchika opened #15179 "[Bug]: Select inside a modal within a list widget doesn't show default value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i have a list with a modal and data bound to a select widget inside the modal, changing the list modal and coming back doesn't show the default value

### Steps To Reproduce

1. Add a list widget
2. Add a modal widget in a list item
3. Add a select widget in the modal and reference some defau

[2022-07-13 11:43] IAmAnubhavSaini commented on #15176
We publish even before attempting to commit.

https://github.com/appsmithorg/appsmith/blob/release/app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java#L440

[2022-07-13 11:55] #14459 closed

[2022-07-13 11:55] #14732 closed

[2022-07-13 11:55] #14105 closed

[2022-07-13 11:58] vivekverma2312 opened #15180 "[Bug]: Table v1 is coming in suggestions on query page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1782" alt="Screenshot 2022-07-13 at 5 26 31 PM" src="https://user-images.githubusercontent.com/83569920/178728755-d8bae9a1-38a9-4c55-b4a7-8728edefd612.png">

### Steps To Reproduce

1. Go to ant query page
2. Run the query and get a response
3. Click on table option from suggestions
4.

[2022-07-13 12:01] eco-monk opened #15181 "[Task]: Update types for global search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Search Item any (GlobalSearch/utils.tsx)
export type SearchItem = DocSearchItem | Datasource | any;

Types for ActionOperations

[2022-07-13 12:08] viruha commented on #8780
Vote to have sqlite!!

[2022-07-13 12:39] spark-c opened #15184 "[Docs]: Add snippet for calling multiple APIs in one button-click"
Do we have an instruction somewhere for this? I know there are instructions in the long-form tutorials ("Triggering multiple actions on UI events" in the Store Catalog Dashboard tutorial) but we should also probably have a code snippet somewhere in our docs that is more easily accessible and discoverable.

Maybe on our **Connecting to Datasources > [Execute Queries](https://docs.appsmith.com/core-

[2022-07-13 12:47] Rishabh-Rathod commented on #13320
Docs for it is added https://docs.appsmith.com/core-concepts/writing-code/workflows, hence closing the issue.

[2022-07-13 12:47] #13320 closed

[2022-07-13 13:23] techbhavin commented on #14694
After resetting the Tab widget, widget getting `selectedTabWidgetId`(meta property) is undefined. so It takes the first tab as the default tab in the Tabs widget.

![image](https://user-images.githubusercontent.com/58818598/178743460-22db4159-13fa-4cb2-8cbe-008fca3fa783.png)

@dilippitchika

[2022-07-13 14:25] eco-monk commented on #11310
@spark-c, this bug only focuses on the global entries. (e.g. `chartData`)
Not the chartData inside a chart object. (e.g. `Chart1.chartData`)

---

Please feel free to join our discord server, we have a dedicated channel for support queries.

[2022-07-13 14:39] spark-c commented on #11310
*AH*, thank you! I didn't notice that detail :)

[2022-07-13 15:41] ragnorok commented on #8749
upvote for this feature.  Use case is that we can keep the layout consistent and are able to manage the options shown in one spot instead of updating all the pages.

[2022-07-13 16:09] dilippitchika commented on #14835
Hey @codedmind this is a low priority item on our plate and I don't think we will get to it anytime soon. Why is this important for you?

[2022-07-13 16:13] codedmind commented on #14835
@dilippitchika one of our apps have a lot of currency widgets and we are not able to input decimals values... so this have a high impact in our end.
Are this difficult to solve? Otherwise we must redo the app and replace the currency widget...

[2022-07-13 16:14] felixsuarez0727 commented on #12602
Changes have been made to `master`. Ready for QA.

The steps to test this are:

1. On the SaaS Integration, use a Test App.
2. On the test App create a 2 Test Commands.
3. Install the Integration into a Test Organization.
4. Confirm that you can create a DataSource.
5. Confirm that your Test Command is on the Dropdown.
6. Go back to the SaaS App and Delete one of the Test Actions.
7. Proceed to In

[2022-07-13 16:27] dilippitchika commented on #14835
@codedmind this is a different issue, i believe you are talking about this issue - https://github.com/appsmithorg/appsmith/issues/14261 - where the decimal separator is not working in EU countries as expected.

This is a different issue, which only happens in the edit mode and has no impact on view mode

[2022-07-13 16:29] Nikhil-Nandagopal opened #15185 "[Feature]: Add onSuccess action selector for all actions using promise.then"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Previously we had controlled this because only queries had callbacks but with promises, all actions can be configured with callbacks

### Why should this be worked on?

This will allow users to configure onSuccess callbacks without converting to JS

[2022-07-13 16:30] Nikhil-Nandagopal commented on #15185
User request
https://app.intercom.com/a/apps/y10e7138/inbox/inbox/4281719/conversations/164629100142430

[2022-07-13 16:44] codedmind commented on #14835
@dilippitchika your are correct! My mistake ... any news regarding that issue :D

[2022-07-13 17:43] makulais commented on #7757
An alternative to adding a tab index, or in addition to it, would be the ability to focus on a specific widget using javascript so that when a user completes a widget (onSubmit or onTextChanged), the focus can be placed on the user's next entry automatically.

[2022-07-13 18:12] aswathkk opened #15186 "Grouping and Reorganisation for Camera Widget"
Based on the following Figma File and Notion doc, Group the properties of the Camera widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=4516%3A118456

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-13 18:14] aswathkk opened #15187 "Grouping and Reorganisation for Audio Recorder Widget"
Based on the following Figma File and Notion doc, Group the properties of the Audio widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=2654%3A67816

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-13 18:15] aswathkk opened #15188 "Grouping and Reorganisation for Image Widget"
Based on the following Figma File and Notion doc, Group the properties of the Image widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=2670%3A60449

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-13 18:16] aswathkk opened #15189 "Grouping and Reorganisation for Container Widget"
Based on the following Figma File and Notion doc, Group the properties of the Container widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=4516%3A118965

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-13 18:19] aswathkk opened #15190 "Grouping and Reorganisation for Map Widget"
Based on the following Figma File and Notion doc, Group the properties of the Map widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=2654%3A69928

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-13 18:19] aswathkk opened #15191 "Grouping and Reorganisation for Map Chart Widget"
Based on the following Figma File and Notion doc, Group the properties of the Map widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=4516%3A119072

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-13 18:20] aswathkk opened #15192 "Grouping and Reorganisation for File Picker Widget"
Based on the following Figma File and Notion doc, Group the properties of the File Picker widget into Content & Style Tabs and re-organise the property sections.

Figma:
https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=2670%3A60789

Property Library:
https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-07-13 18:26] aswathkk opened #15193 "[Feature]: Search for properties inside property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Based on [this](https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=4489%3A94163) design, add a search bar to the property pane.

- [x] Search should work on content & style tab
- [x] It should work in the panels too (example: column properties in Table widget)
- [x]

[2022-07-13 19:22] felixsuarez0727 commented on #12602
Here is a test/demo of the desired behavior:

https://images.zenhubusercontent.com/275993885/9e3e7759-3d59-47af-a816-81c4cc9b7f31/options_not_deleted_test.mp4

[2022-07-13 20:15] ohansFavour opened #15194 "[Bug]: Wrong lint error for undefined identifier named result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="643" alt="Screenshot 2022-07-13 at 21 10 54" src="https://user-images.githubusercontent.com/46670083/178826180-200f0514-ecfa-4477-a17a-5fce903383ca.png">

### Steps To Reproduce

Add `{{result}}` to label field of button widget and observe lint error.

### Public Sample App

_No respon

[2022-07-13 20:40] JoshMayberry commented on #13681
I am also interested in this

[2022-07-13 20:43] leeahoward opened #15195 "[Bug]: Error when creating a new branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I attempt to create a new branch I get a server error message and I receive the following error message in the appsmith logs.

[code]

The branch appears to have been created, but when I try to switch to the branch I get another server error.

[code]

I expect the branch to be created without

[2022-07-13 21:43] albinAppsmith opened #15196 "[Task]: Migrate Spinner component to Design System Package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-07-13 21:44] albinAppsmith opened #15197 "[Task]: Migrate Icon component to Design System Package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-07-13 21:45] albinAppsmith opened #15198 "[Task]: Migrate Control Icon component to Design System Package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-07-14 01:30] juandl commented on #2430
any update about this?

[2022-07-14 03:42] arunvjn commented on #15157
Checked the hinters we use across our codebase, and none of them seem to have an update call associated with them. Will need to check on why it was written in the first place.

[2022-07-14 03:49] tanvibhakta opened #15199 "[Task]: Migrate Step Component and Radio to the design-system repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

https://www.notion.so/appsmith/Checklist-Process-for-releasing-migrated-component-ddd1095061d042eb8848928ab4af9c1c

[2022-07-14 04:05] prsidhu commented on #14848
@btsgh I've updated the threshold for fizzy search, so #1 should be resolved now. As for #2 and #3, I think it's reasonable to fix them. However, string match in displayName of the widget isn't working too well. We can include the desired strings in the searchTags to support these use cases. What do you suggest?

[2022-07-14 04:19] techbhavin commented on #14694
Hello @dilippitchika, Yes we can fix this issue from our side.

[2022-07-14 04:27] dilippitchika commented on #14835
We have figured out a solution, but are stuck in terms of scaling that. Could you help us with the details of how your users use currencies, do all of them follow a single style for entering decimals like . or based on the country they are located in they change the way they write decimals?

[2022-07-14 05:00] #13217 closed

[2022-07-14 05:02] #8845 closed

[2022-07-14 05:07] #15196 closed

[2022-07-14 05:08] btsgh commented on #14848
@prsidhu - not sure I get your proposed resolution for #2 and #3.. " including in the searchTags ".. where will these get included and what will be the impacted areas, if any? @rohitagarwal88 - any thoughts?

[2022-07-14 05:09] #15198 closed

[2022-07-14 05:09] #15197 closed

[2022-07-14 05:46] akash-codemonk commented on #15159
https://appsmith-eviiyyf3p-get-appsmith.vercel.app/

<img width="405" alt="RUN" src="https://user-images.githubusercontent.com/67054171/178908837-e86ae05d-d1d8-4fdf-9002-3eb49491a28a.png">

[2022-07-14 05:50] kocharrahul7 commented on #15160
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4000 |
| Effort (months)  | 0.5|

[2022-07-14 05:50] kocharrahul7 commented on #15159
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2000 |
| Effort (months)  | 0.5|

[2022-07-14 05:52] Richarex commented on #15175
This issue is still happening reopening it.
![image](https://user-images.githubusercontent.com/93259714/178909593-01258629-4eab-4dfa-bca5-d89b436d5992.png)

[2022-07-14 05:58] Nikhil-Nandagopal opened #15200 "[Bug]: Camera and Filepicker issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There are many issues with the camera widget and file picker that prevent them from being used properly.

### Steps To Reproduce

## Filepicker
1. Select a file
2. Navigate to the API
3. Come back to the canvas
4. Open the filepicker, the file is not showing but is present in the data
5. Changing

[2022-07-14 06:00] harshilp24 opened #15201 "Images needs to be updated for Instance Configuration Doc."
https://docs.appsmith.com/setup/instance-configuration