[2022-01-27 05:04] IAmAnubhavSaini commented on #10661
This is duplicate of #10601

[2022-01-27 05:14] dilippitchika commented on #10562
I was hoping we follow the behaviour similar to input widget, the text is revealed on moving the cursor forward with keyboard.
![Screenshot 2022-01-27 at 10 42 06 AM](https://user-images.githubusercontent.com/19730984/151295965-b6b7bd24-9fd2-46c0-89b2-762eff5f54af.png)

Maybe i didn't get what truncate means here. If this is showing "..." is it because there is no boundary visible once the search

[2022-01-27 05:31] dilippitchika commented on #10529
Hey @arminus Somangshu is right, we can use the primary key field to help you retain the selected row even after update. Please see the loom video attached below.

https://www.loom.com/share/da9e1b08816a4c83abe469a070b0cd0a

Note, this will only work if the primary key is not being edited. If it is being edited, then the default selected row is reset. This should resolve the query you had. If not,

[2022-01-27 05:35] dilippitchika commented on #10486
Hey @lublak could you expand on the switch part? You have events called onSearchTextChanged and onSort.

If you bind a query to it, it will be triggered with the events making it server side, if you don't it will be done on the client side.  Is this part of the table events unclear?

Agreed on the filtering part.

[2022-01-27 05:43] dilippitchika commented on #10341
Thanks for the confirmation @billyrudi.

I second what @ohansFavour has suggested by introducing an evaluation blacklist.

@somangshu not sure if this will also have some changes on our end, can you help me out? Also not sure if having the eval blacklist will improve performance.

[2022-01-27 05:47] danciaclara opened #10668 "[Bug]: App breaks when you increase the height of the list item"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Here's the loom video showing the issue
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e52dd6a49b034b25b633f904f25eb236-00001.gif)](https://www.loom.com/share/e52dd6a49b034b25b633f904f25eb236)

### Steps To Reproduce

1. Drag and drop a list widget.
2. Try to increase the height of the

[2022-01-27 05:54] vivekverma2312 opened #10669 "[Bug]: Select all/deselect all do not work for the default row in table widget if it is changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/618c4e6e7b5c49a4bce8e5040daaa29e-00001.gif)](https://www.loom.com/share/618c4e6e7b5c49a4bce8e5040daaa29e)

### Steps To Reproduce

1. Drag and drop a table widget
2. bind the widget with with query
3. Enable multi-row select
4. Change the

[2022-01-27 05:57] chandannkumar commented on #10623
Closing this, as it is a duplicate issue of #10576

[2022-01-27 05:57] #10623 closed

[2022-01-27 06:09] somangshu commented on #10341
@dilippitchika @ohansFavour With `evaluationBlacklist` an issue from before might resurface, that is in the editor mode the dev is binding the value between the modal child widget and api pane, while navigating between them they will not see the updates happen, which is a very poor experience.

I am not sure of the implication of the 1. point

@SatishGandham @rahulramesha need your feedback on thi

[2022-01-27 06:12] #10168 closed

[2022-01-27 06:16] Nikhil-Nandagopal commented on #8149
@somangshu @ohansFavour I just checked and this is a crash at 14:04 in the list widget. Might be related to #10670
https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?playSession=U4Ga0zM-RL&playVisitor=2kObfbk40v

[2022-01-27 06:25] dilippitchika commented on #10669
@vivekverma2312 was this discovered from a user? If yes, can you add the community tag?

[2022-01-27 06:30] ramsaptami commented on #9992
When sending multiple values via checkbox group widget, JSON fails to parse multiple values (array).
![image](https://user-images.githubusercontent.com/79509062/151304088-309ece9a-0106-49af-8e9e-bafba7f7be9e.png)

[2022-01-27 06:32] dilippitchika opened #10671 "[Epic] JSON Form - Phase 2"
## Objective

With the new JSON form widget being launched soon, we need to consolidate the actions which are not being done right now to be done soon.

The primary objective is to allow users to discover and build faster, customise the form building experience much more.

## Success Metrics *

| Goal | Metric |
| --- | --- |
| Time taken to build a form | Customer satisfaction increases |

Requir

[2022-01-27 06:32] dilippitchika opened #10672 "[Enhancement] Modify the CRUD wizard to use JSON form instead of Form"

[2022-01-27 06:33] dilippitchika opened #10673 "[Feature] Widget selected should open the property pane for the JSON form."
When any field is clicked on in the json form we should try to open the property pane for that field.

[2022-01-27 06:34] dilippitchika opened #10674 "[Feature] Widgets in the form can be resized and re-arranged to be in the same row."

[2022-01-27 06:35] dilippitchika opened #10675 "[Feature] Need dynamic subheadings for the nested objects"

[2022-01-27 06:35] dilippitchika opened #10676 "[Feature] Text and divider widget in JSON form"

[2022-01-27 06:36] dilippitchika opened #10677 "[Enhancement] Widgets in the type dropdown should be grouped together"

[2022-01-27 06:37] dilippitchika opened #10678 "[Enhancement] JSON Form styling"

[2022-01-27 06:53] dilippitchika commented on #10668
@somangshu we are not able to recover the application if this error comes. Can you take a look?

[2022-01-27 07:06] dilippitchika commented on #10668
@ohansFavour suggested that this issue will be fixed with the PR mentioned above.

[2022-01-27 07:11] vuiets commented on #10665
@aswathkk can you check this and cover it with [#8845 | Property Pane Improvements](https://github.com/appsmithorg/appsmith/issues/8845)?

[2022-01-27 07:32] RakshaKShetty commented on #9636
This bug is not valid as we have changed our welcome tour

[2022-01-27 07:33] Nikhil-Nandagopal commented on #10522
@lublak got it, that makes sense. We'll either expose a Table1.pageDirection field or a Table1.lastPageNo field

[2022-01-27 07:38] Nikhil-Nandagopal commented on #10524
ok then this must be an issue in older apps

[2022-01-27 07:38] #10524 closed

[2022-01-27 07:39] #10661 closed

[2022-01-27 07:46] Nikhil-Nandagopal commented on #10635
@IAmAnubhavSaini I guess the main question is what is the alternate location you are proposing to show this at?

[2022-01-27 08:37] dilippitchika opened #10680 "[Bug]: Inconsistencies between filepicker and camera"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Only for @dilippitchika's eyes

Adding questions Nikhil asked for reference

- How does a user know that they can use the blobURL for the base64?
- Why does the nomenclature need to be different from the file picker properties which is FilePicker1.files[0].data?
- Why is the format of the blo

[2022-01-27 08:37] #10116 closed

[2022-01-27 08:40] #10459 closed

[2022-01-27 08:44] IAmAnubhavSaini commented on #10635
@Nikhil-Nandagopal

There are few things that I am considering.

1. Moving the toast closer to the top bar. Right now it is at `8em` offset. I am thinking `2rem`.
2. Moving the toast to center. (You can test the toast component here: https://fkhadra.github.io/react-toastify/introduction/)
3. Allowing app developers to set the value of position themselves. There are 6 of these, `{top, bottom} x {le

[2022-01-27 08:56] arminus commented on #10529
Hey @dilippitchika - all I can say at this time is that unless I store master's table Table1.selectedRowIndex into appsmith.store and use that as Default Selected Row on Table1, the row selection is not retained after a page **reload**.

But (and that is my actual problem): In a small example, the 2nd table, which in its query depends on Table1.selectedRowIndex.id loads ok (after page load). Howev

[2022-01-27 09:27] Rishabh-Rathod opened #10682 "[Feature]: Add JS option for Menu options in Menu Button widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, there is no way users could add menu options via JS and this has been requested by users.

### Why should this be worked on?

This is something we provide mostly for every widget except TAB and MENU, and it seems like a common use-case inside the Table widget as TableWidget cannot have a se

[2022-01-27 09:31] prapullac commented on #10451
Closing this as a part of regression

[2022-01-27 09:35] prapullac commented on #10492
When the Jsobject with the same name is moved from one page to another numbering is added

[2022-01-27 09:41] vibhandikyash commented on #10118
@YogeshJayaseelan Here it seems like there is an issue with the regex. The one that you've mentioned in the above video is fuzzy regex and will only check if 1 char of it is in lowercase and will validate.
Pl. recheck with this regex: `^[a-z]+$`
https://images.zenhubusercontent.com/275993885/3e3f7679-73d5-48b1-b253-f0add4b0429d/screen_recording_2022_01_27_at_3_09_04_pm.mov

[2022-01-27 09:41] #10118 closed

[2022-01-27 09:44] Nikhil-Nandagopal commented on #10635
@IAmAnubhavSaini I think we offset it from the topbar because it covers the run button on the Query Editor otherwise. Please test this on all screens if you're making a change.
As for #3, I think that's a different problem to solve. showAlert is a developer configured notification vs this which is a system-generated notification. Changing this shouldn't affect that because it might hurt some devel

[2022-01-27 09:45] vibhandikyash commented on #10196
Actionable items:
- Estimation for all the tasks from product backlog to done.
- Issues assigned to somangshu or unassigned in product/sprint backlog need to be assigned
- If have multiple issues in backlog reassign to another developer internally with fewer tasks.
- Product backlog is not fully estimated. Devs are responsible to assign.

[2022-01-27 09:45] vibhandikyash commented on #10200
Actionable items:
- Estimation for all the tasks from product backlog to done.
- If have multiple issues in backlog reassign to another developer internally with fewer tasks.

[2022-01-27 09:50] #10230 closed

[2022-01-27 10:01] #10668 closed

[2022-01-27 10:03] #8149 closed

[2022-01-27 10:07] #10428 closed

[2022-01-27 10:12] ramsaptami opened #10683 "[Bug]: Dropping currency widget on to list widget causes app to crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Drag and drop a currency widget onto a list widget and observe the app crash and be unable to load the app if the widget is on the home page

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/347446a1abd147f9bb14f9459ecf62bb-00001.gif)](https://www.loom.com/share/3

[2022-01-27 10:17] arminus commented on #10529
Ok, so here's the stripped down app which shows the problem, I'm also attaching the exported JSON with xxxxxx'ed out DB host and password for the datasource, but I can share the app if needed - just need an email address for that...

https://user-images.githubusercontent.com/683680/151338549-fc35611a-6253-4486-b5de-41b590b96ba2.mp4

[OrderTracker Test.zip](https://github.com/appsmithorg/appsmith/f

[2022-01-27 10:26] parth-appsmith commented on #9766
@Irongade for this we can directly another tab to the response panel of the API pane to have a headers options.
We rename Response Body -> Body and add a header tab next to it on the panel.

Even for the smallest screen resolution of 1366x768 this should work.

![API Pane - Header Tab - 1366](https://user-images.githubusercontent.com/92779003/151340445-d679fb1a-1d6f-447f-bc02-b757b225d750.png)

[2022-01-27 10:33] RakshaKShetty opened #10684 "[Bug]: The application cant be connected to private repo even after changing the visibility of the old private repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The application cant be connected to private repo even after changing the visibility of the old private repo
![image](https://user-images.githubusercontent.com/45958978/151341400-d8317fcd-62f2-4d56-86bb-868a7184bbc5.png)
![image](https://user-images.githubusercontent.com/45958978/151341764-ef

[2022-01-27 10:38] RakshaKShetty opened #10685 "[Bug]: The API action fails when user clicks multiple time on the same button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The API action fails when the user clicks multiple times on the same button

### Steps To Reproduce

1. Got to the Application
2. connect it to git
3. Now click on the gear icon
4. click on the delete icon
5. inside the disconnect popup
6. Click on the disconnect button multiple time
7. The a

[2022-01-27 10:43] abhvsn commented on #10184
@ramsaptami are we still facing this issue?

[2022-01-27 10:45] abhvsn commented on #10164
Closing this as this has not seen since last 22 days

[2022-01-27 10:47] abhvsn commented on #7493
@RakshaKShetty can we please check if this has been resolved?

[2022-01-27 10:50] #10232 closed

[2022-01-27 10:50] #10231 closed

[2022-01-27 10:51] ashit-rath opened #10686 "[Bug]: Phone number placeholder collapses when input is disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the Phone number input is disabled and has a placeholder, the placeholder collapses to the left. This only happens if the `Allow Country Code Change` is enabled.

### Steps To Reproduce

1. Drag  Phone widget to canvas.
2. Set the placeholder
3. Enable`Allow Country Code Change`
4. Turn

[2022-01-27 10:56] ramsaptami commented on #10184
Still seeing the timeout error @abhvsn

[2022-01-27 11:03] dilippitchika commented on #10529
After viewing the video, i understood that the problem is the **onSelectedRow** action is not being triggered when there is a default selected row value.

I don't think we can enable this directly as this may break other apps unintentionally. Let me check internally before i can answer.

CC @somangshu

[2022-01-27 11:05] dncpax commented on #10669
Hello. I'm the original reporter. In my case, the multiselector has this bug in every situation.
To reproduce:
1) build an app from scratch
2) create a sql server query
3) create a table
4) bind the query.data
5) set multirow support
6) deploy app
7) select multiple rows
8) unselect the multirow checkbox -> rows are cleared BUT first row is selected

https://user-images.githubusercontent.com/28366

[2022-01-27 11:23] dilippitchika commented on #10669
Hey @dncpax thanks for the detailed video. I wanted to ask you if you need the default selected row to be the first row on page load? If that's not necessary for you, can you set the default selected value property to be empty?

Let me know if it is necessary. Thanks for helping us out!

[2022-01-27 11:35] dncpax commented on #10669
I did not set a default selected row...

[2022-01-27 11:38] dncpax commented on #10669
ok, I understand... it's set by default to 0. Yes, when I cleared it, the  issue is solved.
Thank you. That is an easy solution that works for me.

[2022-01-27 11:41] AmanAgarwal041 opened #10689 "[Bug]: Creating JS Object creates an object Object key inside the evaluations tree object of redux store"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. Whenever JS Object is created, extra key with name `object Object` is created.
2. After creating more JS Objects no more new keys are created so the key was not necessary as it gets deleted on the deletion of any JS Object
![JS Object](https://user-images.githubusercontent.com/7565635/1513

[2022-01-27 12:02] somangshu commented on #10683
@sbalaji1192 could you take a look at this?

[2022-01-27 12:30] somangshu opened #10691 "[Bug]: List widget does not support rating widget properly."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The list widget is supporting the rating widget for some reason any more. Out internal standup app has the widget used inside the list in today's update and you can see that the values are evaluated properly but not rendered on the widget.

I tried check this on a new list widget with a new r

[2022-01-27 12:31] somangshu commented on #10691
@ohansFavour could you check if this is related to your change

[2022-01-27 13:07] ohansFavour commented on #10691
Yes @somangshu , I am reverting the private widgets feature [here ](https://github.com/appsmithorg/appsmith/pull/10693).

[2022-01-27 13:13] #10251 closed

[2022-01-27 13:37] #10309 closed

[2022-01-27 13:40] arminus commented on #10621
I can't reproduce the behavior described above in 1.6.8, however, the content of the RichText widget is now "sticky", i.e. if I open a modal with it a 2nd time, it still shows the old value, although its Default Text is set to empty, I didn't see that in my tests with 1.6.7...

[2022-01-27 13:44] Tooluloope commented on #10621
@arminus Could you explain further?

Do you mean you want the RTE to reset every time you open the modal?

Do drop a video so we can assist to help resolve the issue

[2022-01-27 14:21] adarshlilha commented on #10624
@somangshu hey can I take this up?

[2022-01-27 14:24] aswathkk commented on #10665
@vuiets Checked and it is found to be resolved in #10641

[2022-01-27 14:41] ajinkyakulkarni opened #10695 "[Bug]: The linter is not showing error warnings for invalid properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Please see this image. Here I wrote `selectedItem` as `selectedItems` by mistake but the linter did not show any error message.  This made debugging the error very difficult.
![image](https://user-images.githubusercontent.com/800578/151380170-3d6138ad-c874-482d-b934-7eafbb19e414.png)

### Ste

[2022-01-27 17:18] dilippitchika commented on #8623
Last col resizing issues, it always goes back to whatever the size was. @areyabhishek can you confirm if this is what you are referring to?

https://www.loom.com/share/e9ada248d5c04b988a75b0e4bb0e175f

[2022-01-27 17:23] dilippitchika commented on #8678
Fix is to show the error in the debugger for radio widget when the name and value are empty.

[2022-01-27 17:28] dilippitchika commented on #8593
@YogeshJayaseelan can you re-verify this? I cannot see this happening

[2022-01-27 17:30] dilippitchika commented on #8678
Not able to replicate @YogeshJayaseelan can you check once?

[2022-01-27 17:35] ramsaptami opened #10697 "[Bug]: Ratings widget flashes previous rating when rating is reduced"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Reducing stars on rating widget causes previous value to flash before setting the selected rating

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/04343c7017b047a183551bf21662cb99-00001.gif)](https://www.loom.com/share/04343c7017b047a183551bf21662cb99)

### Steps To Reproduce

1. Click

[2022-01-27 17:55] dilippitchika commented on #3613
Adding the PRD Here

<h2>Objective</h2>
<p>Instead of having 2 different buttons one traditional and one for form we only need one button throughout Appsmith. This helps manage the apps well both for users and us.</p>
<p>As part of this, we need to evaluate how to support the traditional button in forms as well and work in all current button cases. This will involve thorough migration check.</p>

[2022-01-27 17:56] dilippitchika commented on #3613
@momcilo-appsmith please review the above info once, this will be an addition to the content pane for button.

[2022-01-27 17:56] nidhi-nair opened #10698 "[Bug]: Resolution issue with initial app suggestion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="899" alt="Screenshot 2022-01-27 at 11 24 19 PM" src="https://user-images.githubusercontent.com/5298848/151416277-6bd1598e-d95b-4475-a729-511507d9d1c0.png">

### Steps To Reproduce

Login with a new user, wait for redirection to new app

### Environment

Production

### Version

Cl

[2022-01-27 18:18] dilippitchika commented on #10633
@Tooluloope is there a reason these are not exposed today?

[2022-01-27 18:34] un-fuf-a-doo commented on #10093
No mine is a Docker issue, but it is the exact same.  We fixed our issue by running AppSmith on a higher port number, above 1024 and it works.  We don't know why it won't run on port 80, we have no other services using it.

[2022-01-27 19:17] areyabhishek commented on #10698
Akash is fixing this. Will be live soon! Ill close this because it's been reported before. #10564

[2022-01-27 19:17] #10698 closed

[2022-01-27 19:42] arminus commented on #10621
Here you go. To me this looks like a regression in 1.6.8 - or a new feature which I don't quite like ;-) (seriously, if this is a feature, it would be nice to make it configurable)

https://user-images.githubusercontent.com/683680/151431776-be520a43-603d-42d2-8d5d-810f22876520.mp4

[2022-01-27 19:44] arminus commented on #10654
Cannot repro in 1.6.8 anymore - but now there's #10621

[2022-01-27 20:33] lublak commented on #10486
@dilippitchika
![firefox_AmE1SbxE8Q](https://user-images.githubusercontent.com/44057030/151438981-be442f7b-4876-4076-87b0-54a9bb448fd0.png)
 the Sort switch is also missing

[2022-01-28 02:38] NoxiousPenguin commented on #7934
Hey, could I be assigned this issue

[2022-01-28 04:28] akash-codemonk commented on #9985
@RakshaKShetty Please verify again. Have checked on safari and firefox as well. I am guessing you did not have the latest release.

[2022-01-28 04:28] #9985 closed

[2022-01-28 04:36] YogeshJayaseelan commented on #8678
@dilippitchika Now when the key and value field are empty 'The value at option is invalid' error occurs and looks fine now

[2022-01-28 04:58] YogeshJayaseelan commented on #8593
@dilippitchika Verified this now by passing duplicate key and values appropriate error message 'Values must be unique duplicate values found' error message is displayed

[2022-01-28 05:16] rk173238 commented on #9978
I have created a table component in appsmith which gets data from an api. and using it to my react application as iframe.

I have some credential stored in localStorage (outside of appsmith scope), as session expires the api return 403. now i want to clear local storage and redirect it to login page ( localStorage.clear(), window.location.href = "/").

How can i access the localStorage and window

[2022-01-28 05:25] #8678 closed

[2022-01-28 05:25] #8593 closed

[2022-01-28 05:29] dilippitchika commented on #10486
Hey @lublak the reason we have "Server side Pagination" as a switch is because it needs extra properties for it to be configured and used.

For server side sort, we don't have a switch because once you configure the **onSort action** to bind to a query it is server side sort. You don't need an extra switch for it. When there is no query bound to onSort it uses client side sort.

The switch is only

[2022-01-28 05:33] dilippitchika commented on #10621
Hi @arminus for now, can you reset the widget after Save is clicked and the action is executed successfully. We will investigate this issue further.

![Screenshot 2022-01-28 at 11 02 58 AM](https://user-images.githubusercontent.com/19730984/151492772-c16b8c04-5725-4c90-9268-dec24b18d1d0.png)

[2022-01-28 05:35] dilippitchika commented on #10654
Ok, closing this issue as it's fixed.

[2022-01-28 05:35] #10654 closed

[2022-01-28 05:41] marks0351 commented on #5364
This has been fixed and implemented as part of #9983

[2022-01-28 05:41] #5364 closed

[2022-01-28 05:45] AnaghHegde opened #10700 "[Feature] : Show unConfigured datasources for Import-Export by file"

[2022-01-28 05:50] dilippitchika opened #10701 "[Bug]: Text widget shows a horizontal scroll on center and right alignment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i set the text alignment to be right or center for long text, there is a horizontal scroll visible.

![Screenshot 2022-01-28 at 11 15 20 AM](https://user-images.githubusercontent.com/19730984/151494143-bc34ad43-b6f0-4eb3-8cf3-ecf2750d5343.png)

### Steps To Reproduce

1. Add a new text w

[2022-01-28 05:55] dilippitchika commented on #10540
Hey @lublak I did not fully understand the request, do you mean to say that you need a new action called onCtrlClick which does a totally different behavior than onClick?

[2022-01-28 06:03] dilippitchika opened #10703 "[Enhancement]: Enable scroll and Truncate text don't need separate switches in a text widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When truncate text option enabled in text widget, Scroll switch is not valid anymore as we truncate. We can indeed club the option together instead.

Bad suggestion but nevertheless a suggestion : Create a dropdown called overflow text and add Scroll and Truncate as options there.

![Screenshot 2022-0

[2022-01-28 06:19] somangshu commented on #10682
More context:
- [Slack thread](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1643252210061200)
- [Community post](https://community.appsmith.com/t/how-do-i-dynamically-create-menu-items-in-the-menu-button-column-type/517)

[2022-01-28 06:24] somangshu commented on #10682
@dilippitchika need you help here, Trying to understand how much of a real world use case this could be, Initially we assumed that the user will not need dynamic menu items, and show / hide / enable / disable for each menu item was provisioned. We did not see a value in giving an option for binding.

Another reason was more technical, we did not want to expose the ID of each menu item to the app d

[2022-01-28 06:26] somangshu commented on #10624
@adarshlilha go for it!

[2022-01-28 06:31] somangshu commented on #3613
@dilippitchika added a dev small dev note from the last research, please see if it is not inline

[2022-01-28 06:34] dilippitchika commented on #10682
Will think about it in a bit more depth. However, dynamic widget creation is not just limited to menu buttons but can also be useful in other places.

One place where we are internally using it is in JSON form for the array type input.

[2022-01-28 06:44] ohansFavour commented on #2862
Let's test that this works for export/import flow before closing.

cc: @ramsaptami @abhvsn

[2022-01-28 06:58] dilippitchika commented on #3613
@somangshu it is inline, let's currently name it as "Form options" as you suggested.

[2022-01-28 07:05] abhvsn commented on #2862
I have tested this for duplicate, fork and import-export flows and works as expected.

[2022-01-28 07:08] arminus commented on #10621
@dilippitchika  - fair enough, thanks.

[2022-01-28 07:36] ramsaptami commented on #10293
Reopening this issue since we still see ReferenceError on console.

[2022-01-28 07:38] leotom2000 opened #10705 "[Feature]: Schema for unstructured databases like Google Sheets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Need to have a schema implementation for unstructured databases. It can allow users to define the datatype of columns.
This can solve data inconsistent problem by narrowing the options for users to add data of different datatype on a same column.

Implementation:
(1) Provide a User Interface popup in

[2022-01-28 07:44] somangshu commented on #10691
@ohansFavour please take note if there was a migration written earlier, This might cause problems

[2022-01-28 07:44] ramsaptami opened #10706 "[Enhancement]: Use navigateTo() function to navigate to widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

1. Current `navigateTo()` function can be enhanced to navigate to a different widget on the canvas or sub-menus of widgets like tabs or menu.

### Why should this be worked on?

When user wants to navigate to a different part of the canvas, we currently can't use the `navigateTo` function for this ope

[2022-01-28 07:46] ohansFavour commented on #10691
Noted @somangshu. I will fix the edge cases.

[2022-01-28 08:05] codedmind commented on #2266
In the mean time isn't possible only add a manifest... so we are able to change it?
As of today is already possible "install an appsmith app"  as a browser app... but as manifest dossn't exist if something change (for example start url) we must unsintall the app and install it again

[2022-01-28 08:08] #2862 closed

[2022-01-28 08:18] #10589 closed

[2022-01-28 08:23] UXFalcon opened #10707 "[Task]: Update widget default image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

@sbalaji1192

Please update the default image

https://assets.appsmith.com/widgets/default.png

to the attached one

![image placeholder 2](https://user-images.githubusercontent.com/90375262/151512089-25942282-f486-434a-9de2-6fe4772b5e28.png)

[2022-01-28 08:29] rishabhsaxena opened #10708 "Reset SSH key for an application"
Allow regenerating SSH keys for an application:
Designs: https://www.figma.com/file/dHbJ2KNXa9597W6BzsFIuE/Local-Dev-Git-Sync?node-id=1354%3A15906

[2022-01-28 08:56] somangshu commented on #10707
@UXFalcon is this related to the image widget

[2022-01-28 09:05] ramsaptami commented on #9451
No repro steps for this and sentry hasn't reported this in a while hence marking this verified

[2022-01-28 09:09] somangshu commented on #10707
I found out that this is to replace the default image of the image widget. The asset is attached above

[2022-01-28 09:17] somangshu commented on #10529
You are right @dilippitchika, we do not want to set onRowSelected when it is on the page load with the help of default selected row. We tried going this way, but as you predicted, it breaks old apps and makes it an unexpected change

[2022-01-28 09:22] somangshu commented on #10037
@sbalaji1192 could you create a separate issues and take that forward, we can assign somebody from the team

[2022-01-28 09:25] somangshu commented on #10682
@dilippitchika I think you are getting it wrong. I meant that the user want to make the menu items dynamic, get the values from a DB or something. Let me know if this needs a discussions

[2022-01-28 09:27] ramsaptami opened #10710 "[Bug]: Elements on editor watch window overlap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Elements on the watch window overlap on smaller resolution. We can instead move all operations to the second line and have only function name appear on the first line
![image](https://user-images.githubusercontent.com/79509062/151521603-e31c984a-a132-450f-8001-62a2134fc90c.png)

### Steps To

[2022-01-28 09:30] somangshu commented on #10703
I agree to overflow being more accurate in terminology. I upvote for the solution. Technically, we might have a hard time with the migrations

[2022-01-28 09:36] sbalaji1192 opened #10712 "[Task]: Check and throw error if there is a discrepancy in dynamicBindingPathList before saving"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks
Related to https://github.com/appsmithorg/appsmith/issues/10037

We are seeing a lot of sentry errors lately related to invalid bindingPathList across multiple widgets(refer below). This error is being thrown from the server, hence we don't have much context on how we ended up with an invalid list. As

[2022-01-28 09:37] sbalaji1192 commented on #10712
https://sentry.io/organizations/appsmith/issues/2880419545/?environment=Production&project=1546547&referrer=alert_email

[2022-01-28 09:38] sbalaji1192 commented on #10037
@somangshu Created an issue and assigned @keyurparalkar for now - https://github.com/appsmithorg/appsmith/issues/10712

[2022-01-28 09:39] Nikhil-Nandagopal commented on #10341
@billyrudi the modal should not affect the load time for the entire page unless those queries are being run on page load. Can you try marking run on page to false and triggering them only when the modal is opened?

[2022-01-28 09:43] somangshu commented on #10697
Might be related to the change in private widget.

@ramsaptami can you confirm if this happens outside the list widget?

[2022-01-28 09:46] ramsaptami commented on #10697
It happens when it's outside the list widget, i.e., on the canvas

[2022-01-28 09:46] arminus commented on #10529
Understood, never mind.

[2022-01-28 09:57] ramsaptami opened #10713 "[Enhancement]: Show a more specific message on the API/function run confirmation modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently we have a generic message that pops up to ask for user confirmation before running a query or function (when "Request confirmation before running API" is selected). Becomes even more complex when there are multiple queries/functions that are run `onPageLoad`. We'll need to either display a c

[2022-01-28 09:58] somangshu commented on #10697
@wmdev0808 kindly triage this issue

[2022-01-28 10:03] momcilo-appsmith commented on #10635
We could change the position of it to be:
* Centered at the top, right below the toolbar
* Centered at the bottom

[2022-01-28 10:04] momcilo-appsmith commented on #10703
I agree with the solution too.

[2022-01-28 10:04] ramsaptami opened #10714 "[Bug]: Text elements on query settings page are not alinged properly even though we have an option to scroll"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Need better placement of text elements on query settings page. They are compressed even though we have a scroll bar on that window but is not utilized well at the moment.

![image](https://user-images.githubusercontent.com/79509062/151522756-6bec2c56-8a6d-48b2-81b6-f5fc99df3954.png)

### Step

[2022-01-28 10:08] Nikhil-Nandagopal commented on #10635
Centered top makes the most sense to me for system-generated messages

[2022-01-28 10:09] momcilo-appsmith commented on #3613
Just added this to our design tasks, will be updated.

[2022-01-28 10:09] somangshu commented on #10669
Hey @dncpax we too the call the set default selected row to 0 such that first time users who are trying to user use selectedRow in for say a query, they would not see errors and succeed easily, if the values are not present, we saw that the user faced difficulties in completing the transaction.

What you have reported is indeed a bug, and AFAIK this seems to have resurfaced. We shall look into thi

[2022-01-28 10:09] Nikhil-Nandagopal commented on #10093
Closing this and adding allowed ports to our docs

[2022-01-28 10:09] #10093 closed

[2022-01-28 10:18] billyrudi commented on #10341
no, it is not so: the problem is indipendent of API. I load only the ones need to populate the main page.
I have give you all server username and password to see yourself the BIG time that mainpage spent to load itself. I cannot know where is the problem but there is another iussue that can be correlated with this: https://discord.com/channels/@me/935028682848874537/935054553248858112
maybe search

[2022-01-28 10:21] somangshu commented on #10607
Deprioritising to high, this is not directly related to the list widget, the JS expression sometimes fails to evaluate, clearing the field out and entering the value fixes the issue for now

[2022-01-28 10:22] somangshu commented on #10607
cc @riodeuno @SatishGandham

[2022-01-28 10:27] somangshu commented on #10611
Hey @kenleyshaw, thanks for showing interest, go for it, this is all yours!

We also have a discord channel to support you for the contribution you are making, you can talk to Appsmith engineers directly there. We appreciate and motivate for this work you are doing on our open source platform.

Kindly try and raise a PR in the next 4 days. When you do so, kindly tag me for a review, ill make sure

[2022-01-28 10:29] Nikhil-Nandagopal commented on #10607
@somangshu but this broke a users app so how is this not critical?

[2022-01-28 10:29] chandannkumar opened #10716 "[Bug]: Recaptcha is not working on release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Every time we click on submit button, recaptchaToken gets generated which we can see on Text widget(after binding). Currently recaptchaToken is not generated on click.
Adding video:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d7fb2d9b8d41465585d0c380f403fee4-00001.gif)](https://www.

[2022-01-28 10:41] dilippitchika commented on #10682
Ok, if we know the max number of buttons then it can be done i guess, else we will again have to think about pagination and stuff.

[2022-01-28 10:55] sharat87 commented on #10598
Hey @lukearran, I understand the problem, but if this is changed, someone inviting another person who only has access via the public IP won't be able to use the link in the email, because it contains the internal domain.

The reason the email uses the domain that was accessed was based on practicality, over configuration. Consider your own case. For whatever policy reasons, you are not using the c

[2022-01-28 10:55] #10598 closed

[2022-01-28 10:58] mojtab23 commented on #10653
I think we need more investigation on this because it seems like the new version of testcontainers `org.testcontainers:mysql:1.16.3` is not working correctly. I got this error in my development environment.

[code]

[2022-01-28 11:05] billyrudi commented on #10341
I have deleted all modal forms in a test enviroment and loading is better....

[2022-01-28 11:10] #10026 closed

[2022-01-28 11:18] ramsaptami opened #10717 "[Bug]: Default error is displayed when a new JS object/function is created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Creating a new JS object or function displays default error for async function check

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c09b650194a240849ce8e6e9d7727151-00001.gif)](https://www.loom.com/share/c09b650194a240849ce8e6e9d7727151)

### Steps To Reproduce

1. Add a new JS object

[2022-01-28 11:30] somangshu commented on #10607
Since this is not persistent and indirectly related to the list widget, I thought it should be high. But yes from the user pov this should be looked into at priority.

[2022-01-28 11:32] Pranay105 opened #10718 "Update text widget doc"

[2022-01-28 11:32] Pranay105 opened #10719 "Add documentation for currency input widget"

[2022-01-28 11:33] Pranay105 opened #10720 "Add documentation for Phone input widget"

[2022-01-28 11:33] Pranay105 opened #10721 "Update container widget doc"

[2022-01-28 11:58] sbalaji1192 opened #10722 "[Task]: Refactor existing Table widget"
Refactor the existing the Table widget and improve jest test code coverage.

[2022-01-28 12:18] Nikhil-Nandagopal commented on #10607
Yeah if anything breaks an app that was working, it means it has caused negative business impact to a user so it must be critical

[2022-01-28 12:18] somangshu commented on #10716
@vicky-primathon please check this on priority. If you have a fix, make sure of adding the test case so that we dont have problems with this feature

[2022-01-28 12:21] somangshu commented on #6194
@ramsaptami dont you think showing the tooltip is relevant as you are focusing on the input.

@aswathkk we could add a debounce to this so that if the user is navigating quickly he would only see one tooltip?

[2022-01-28 12:24] somangshu commented on #10529
Should we close this @dilippitchika @arminus ?

[2022-01-28 12:27] Nikhil-Nandagopal commented on #10529
@somangshu the filters and sort should not get reset on query change though right?

[2022-01-28 14:28] oskarannas commented on #10706
Similar to #8314

[2022-01-28 15:11] lublak commented on #10486
@dilippitchika and what about "Enable client side search"? Why is this needed?

[2022-01-28 16:09] #10706 closed

[2022-01-28 17:09] some-rando opened #10725 "[Feature]: Button Group widget: centered icon, no label"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, Button Group widgets have icon alignment options of left and right per button. But there is no centered option, which makes sense when there is a text label, but not when there is no text label.

As far as I can tell, the left and right icon alignment is really just "put the icon on the lef

[2022-01-28 20:37] areyabhishek commented on #10725
Thanks for the request. Adding a center alignment option makes sense.
We'll be working on better responsive design in a few months so the widgets will work better.

[2022-01-29 06:23] nidhi-nair commented on #9992
@Rishabh-Rathod is there a repro for this that you could help me with? I've tried using the newline in REST and Google sheets and both seem to work okay.

@ramsaptami same with the array. The array would work as is in a REST API where the body was a JSON because an array is a valid JSON input. But in Google Sheets all the values are expected to be a string.

[2022-01-29 06:50] UMUTBAYGUT commented on #2033
Is there any news about it ?

[2022-01-29 07:26] #9689 closed

[2022-01-29 07:26] #9671 closed

[2022-01-29 08:20] netsatan commented on #3129
Hey there. Looks very useful to me as well, if you need any help with implementing or testing that, let me know!

[2022-01-29 16:22] #3708 closed

[2022-01-29 16:22] #9727 closed

[2022-01-30 00:24] maximelebastard opened #10728 "[Feature]: BigQuery datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I'd like to be able to use a Google BigQuery datasource to fetch data from this tool.
It would require to copy/paste Service Account file obtained from Google.

### Why should this be worked on?

BigQuery is a major Data Warehouse technology used for a lot of Data workshops.
It would be a great way to

[2022-01-30 06:47] IAmAnubhavSaini commented on #9646
This has a jarring effect.

https://user-images.githubusercontent.com/1573771/151689496-2ec7451d-d70e-4a5c-a3ae-a72ed7e20d50.mp4

And it is inconsistent too, notice in video below that first grouping keeps the components in same place, but later groupings throw new container way down.

https://user-images.githubusercontent.com/1573771/151689566-e6d1f73f-499b-4e50-a8a8-c9f37f6f5e4a.mp4

The inconsi

[2022-01-30 07:12] IAmAnubhavSaini opened #10729 "[Feature]: Common properties of multiple selected components should be editable en masse."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When I have a lot of components of same type, say 9 buttons or 20 dividers, I would like to be able to select them all (can do today via ctrl) and change their applicable common properties like color, shadow, width etc.

As you can see in the image below, the selected divider has styles.

![Screenshot

[2022-01-30 07:52] IAmAnubhavSaini opened #10730 "[Bug]: Tab properties break style on expanding property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I have selected a tab component, and I expand the property pane, the "delete" and "settings" buttons are not included in the border.

The border should be applied to parent element.
This will wrap right side buttons, and make it feel like a single unit.

![Screenshot-2022 01 30-13 10 33]

[2022-01-30 08:23] IAmAnubhavSaini commented on #10730
`app/client/src/components/propertyControls/TabControl.tsx` requires a change in `TabControlComponent`.

The `TextInput` has a code for border:

[code]

And I guess the design of text input was repurposed to make it look like the right side controls were part of the component. Correct me if I'm wrong.

Ref:

- `TextInput`: `app/client/src/components/ads/TextInput.tsx`
- `StyledControls`: `app/clie

[2022-01-30 10:28] iangregsondev opened #10731 "[Feature]: Integrate realtime db (open source) ThinkDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There is kind of a realtime database that does similar to google firebase BUT it is open source.

There is a nice API in many languages.

Here are the details

https://rethinkdb.com/

### Why should this be worked on?

To offer another database that is open source and also this brings the ability to a

[2022-01-30 10:29] iangregsondev commented on #1866
+ MQTT

[2022-01-30 12:15] mohanarpit commented on #10707
The image has been updated in the CDN. Closing this issue.

[2022-01-30 12:15] #10707 closed

[2022-01-30 15:27] mnesarco commented on #7256
Hi Friends,

Laying out a UI with absolute coordinates is is quite difficult and old fashioned. It is better to have basic Layout widgets to support responsiveness and to make the design process a lot more simple.

Some suggestions:

- RowLayout
- ColumnLayout
- GridLayout

[2022-01-31 04:41] #10537 closed

[2022-01-31 05:17] dilippitchika commented on #10540
Hey @lublak understood it now.

I have seen this behavior typically with **links only** where the user either wants to open the link the same or a different page, haven't seen a scenario where the whole action is different on ctrl click.

Any examples for that?

[2022-01-31 06:16] Nikhil-Nandagopal commented on #10728
Hello, we have this issue here #3129 so I'm closing this in favor of that

[2022-01-31 06:16] #10728 closed

[2022-01-31 06:26] Nikhil-Nandagopal commented on #9978
@rk173238 you should be able to do this by handling the 403 as
{{ API1.run().catch(() => {
  if (API1.responseMeta.statusCode === 403) {
     storeValue('token', null);
     navigateTo('loginPage');
    }
  })
}}

[2022-01-31 06:27] Nikhil-Nandagopal commented on #2033
@UMUTBAYGUT we don't have this planned yet. Is there a specific custom widget you're looking to integrate?

[2022-01-31 06:29] Nikhil-Nandagopal commented on #10486
@lublak that is used to disable the client-side search when server-side search is applied way so that the client-side does not override the server-side search

[2022-01-31 06:30] IAmAnubhavSaini commented on #10635
![Screenshot-2022 01 31-11 55 57](https://user-images.githubusercontent.com/1573771/151748504-07a14d6e-0f81-4503-b9b8-e30cee8f79d9.png)

The image above makes me wonder if we need a minimum width for the notification.

[2022-01-31 06:30] rk173238 commented on #9978
LoginPage is not in scope of appsmith.  loginPage is a high o react Component

[2022-01-31 06:42] Nikhil-Nandagopal commented on #9978
@rk173238 the iframe cannot control the parent window location AFAIK. I think what you are looking for is a way to communicate with the parent window which is this issue here
https://github.com/appsmithorg/appsmith/issues/7241

[2022-01-31 06:46] Tooluloope commented on #10486
@lublak Here's the issue to understand why we added the property
https://github.com/appsmithorg/appsmith/issues/5444

[2022-01-31 07:02] Nikhil-Nandagopal commented on #10607
Another user has reported this on discord https://discord.com/channels/725602949748752515/760761686549463060/937013227764711474
@somangshu @sbalaji1192 can we fix this on priority?

[2022-01-31 07:15] dilippitchika commented on #10486
Today, we already expose all the filter properties using Table1.filters, we need to add a new onFilterUpdate action to support this.

[2022-01-31 07:55] areyabhishek commented on #9226
Hi everyone, I have an update on this issue. We are just meeting a fix into release today and expect to have the fix live in production next week. Unfortunately COVID took a toll on our team and we've been recovering the past few weeks.

[2022-01-31 07:56] pranavkanade opened #10738 "[Feature]: Optional Where clause"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need a way to make `where` clause optional in UQI

### Why should this be worked on?

User has to add another option `All` and then write a condition that is always true to get around this problem.

[2022-01-31 07:57] pranavkanade commented on #10738
My workaround -
![Screenshot 2022-01-31 at 1 26 24 PM](https://user-images.githubusercontent.com/13262095/151757464-b6247f95-4ab6-4e0a-ab49-8f4822c2a7ae.png)
![Screenshot 2022-01-31 at 1 26 12 PM](https://user-images.githubusercontent.com/13262095/151757472-01ea9119-fafb-450d-ba65-0e2da885fb6b.png)

[2022-01-31 08:15] lublak commented on #10540
@dilippitchika

Currently I use a button (with white background and blue text that it looks like a link) to open a modal with an iframe in it.
Now I would like when the person performs this "ctrl click" action not to open the modal with the iframe but the page itself.
So for a click: open modal with iframe
And for a "ctrl click": navigateTo

[2022-01-31 08:29] IAmAnubhavSaini opened #10740 "[Bug]-[200]:Cannot jump to modal from js_object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I am at a js object, and click a modal, modal does not open. When I click a child element (say, text in modal) then modal opens.

I should be able to click a modal from js_object and get it to open.

https://user-images.githubusercontent.com/1573771/151761208-91c34cc9-1753-4fc5-8e56-cb17

[2022-01-31 08:30] lublak commented on #10486
@Nikhil-Nandagopal @Tooluloope thanks for the answer :) i understood now.
It's just a bit confusing when it's there for searching and not for sorting. I'm sorry I didn't understand it right away.

[2022-01-31 08:30] dilippitchika commented on #10540
Thanks a lot for explaining, i got the idea now! Will prioritise this.

[2022-01-31 08:36] dilippitchika commented on #3180
Adding this to widget reskinning, will track it there.

[2022-01-31 08:44] lublak commented on #10528
@somangshu It's actually about the first load directly when calling the page.
I have a table which gets data from a query.
I have a second table which gets data from another query based on an id from table 1.
This is realized by onRowSelected.
Now I set "default selected row" to 0.
When I start the application for the first time the whole principle does not work. Only if I change the selection of

[2022-01-31 09:12] akash-codemonk opened #10742 "[Task]: Template tab/list UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-31 09:14] akash-codemonk opened #10743 "[Task]: Search templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks
Backend search on these fields :-
- Title
- Tags
- Widgets
- Datasources

[2022-01-31 09:15] akash-codemonk opened #10744 "[Task]: Template filters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Template filters UI
- [x] Integrate with api
- [x] Filter the template list

[2022-01-31 09:16] akash-codemonk opened #10745 "[Task]: Template detailed view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-31 09:19] akash-codemonk opened #10746 "[Task]: Show Similar templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] UI
- [x] Api integraton

[2022-01-31 09:20] akash-codemonk opened #10747 "[Task]: Fork template to an organisation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-31 09:30] RakshaKShetty opened #10748 "[Bug]: The update query fails in Crud pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The update query Fails in Crud pages
![image](https://user-images.githubusercontent.com/45958978/151769399-77863fc9-9a4f-4072-a571-660a4d70fe6e.png)

### Steps To Reproduce

1. generate a crud page
2. Now Try to update the data form update form
3. try to update data from input widget
4. For f

[2022-01-31 09:45] Aazme commented on #3439
+1

[2022-01-31 09:57] shwetha-ramesh opened #10749 "[Bug]-[1500]:Focus pointer moves when page is scrolled in Welcome tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Focus pointer moves when page is scrolled in Welcome tutorial

![image](https://user-images.githubusercontent.com/92293815/151771987-1ded76cb-9e23-4852-b472-e3201b08fb57.png)

https://loom.com/share/bb2a76fdfbad416e9a0dbeafaa847f4e1

https://loom.com/share/08bd2365f8244fd7be4710cc44be286d

##

[2022-01-31 10:03] ashit-rath commented on #2504
Actionables:
- Performance profiling @ashit-rath
- QA  @vivekverma2312
- Porting of Select & multi-select V2 @ashit-rath  @Tooluloope (#10297)
- Code Review @sbalaji1192

[2022-01-31 10:06] arunvjn commented on #10275
POC complete. Attaching the PR and DP.
PR- https://github.com/appsmithorg/appsmith/pull/10318
DP - https://appsmith-git-feat-editortabstest-get-appsmith.vercel.app/applications/

[2022-01-31 10:14] ramsaptami opened #10751 "[Bug]: Canvas resizing transition is not smooth when set to fluid width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When property pan size is increased or decreased then property pane and canvas seperator transition feels jumpy and not smooth.

https://www.loom.com/share/6cfadd3933a740a680345c221a427378

### Steps To Reproduce

1. Set canvas width to fluid and increase/decrease property pane size - observe

[2022-01-31 10:15] shwetha-ramesh opened #10752 "[Bug]-[4000]:Wrong widget name in Welcome tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The widget name shown in Step 4 & Step 5 of the description of the tutorial doesn't match with the widget

![image](https://user-images.githubusercontent.com/92293815/151774964-8cf42e66-89c6-4968-910f-54d8c69d6188.png)

![image](https://user-images.githubusercontent.com/92293815/151776984-999

[2022-01-31 10:16] chandannkumar opened #10753 "[Bug]: Unable to download file from Image widget when file uploaded from local device"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The image uploaded via local device is not getting downloaded but redirecting the link to new tab and nothing happens there

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d0dc87174f814407ba36a1a39c1e30fb-00001.gif)](https://www.loom.com/share/d0dc87174f814407ba36a1a39c1e30fb)

### Ste

[2022-01-31 10:25] ramsaptami opened #10755 "[Bug]: Cursor should appear on widgets tray after search text has been dismissed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cursor should appear on widgets tray after search text has been dismissed

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/dfa33905f7d6431496bb42dd023d43bb-00001.gif)](https://www.loom.com/share/dfa33905f7d6431496bb42dd023d43bb)

### Steps To Reproduce

1. Search for a widget on the wid

[2022-01-31 10:29] vicky-primathon commented on #10716
Failing as getting below error when loading google recaptcha script.
![Screenshot 2022-01-31 at 3.58.23 PM.png](https://images.zenhubusercontent.com/6041ffa5a2bd1760a7e766e9/33e7319e-c5ea-4e98-a263-590bf7f86eaa)

[2022-01-31 10:34] chandannkumar opened #10756 "[Bug]: Unable to view pdf document on Document viewer widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we map a filepicker widget to document viewer widget to display the .pdf document, it says "The content is blocked.Contact the site owner to fix the issue."

Sharing video:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7ac19196d6fb4507a0381cb58ee2c6bd-00001.gif)](https://www.loom

[2022-01-31 10:34] somangshu opened #10757 "[Bug]: Select widget treating value `0` as false and hence causing validation issues in the form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am passing the following array as options to the widget. This widget's REQUIRED is set to true w.r.t the form widget it is inside in.

[code]

I also have a form button which has "Disabled on Invalid Forms" set to true.
Now when I select the `Inactive` option from the select widget, the "Su

[2022-01-31 10:35] pranavkanade commented on #7827
![Screenshot 2022-01-31 at 4 04 31 PM](https://user-images.githubusercontent.com/13262095/151778563-0b8ccfb4-927a-40c8-83af-97507ef04183.png)
+1

[2022-01-31 10:36] Rishabh-Rathod commented on #10579
## Problems need to discuss before supporting multiple exports in JSObjects.

Currently, JS objects only support export default object and that is accessed using its name.
#### **Export method**
[code]
#### **Structure**
The way `JsObject1` is stored currently is
[code]
#### **Access method**
we write `{{JsObject1.data}}` to refer data.

Now, If Jsobject1 needs to become a js file exporting multip

[2022-01-31 10:56] somangshu commented on #10756
@techbhavin did we support base 64. What has possibly changed that its not working anymore. Please check on an urgent basis.

[2022-01-31 11:26] Nikhil-Nandagopal commented on #10757
Bumping to critical since this broke a users app

[2022-01-31 11:28] RakshaKShetty commented on #6492
Reopening the issue we are able to repo this in our regression
![image](https://user-images.githubusercontent.com/45958978/151786056-df08f706-2b44-4133-9021-386b842e658b.png)

[2022-01-31 11:30] dilippitchika opened #10758 "[Enhancement]: Modal should use the icon button widget for close icon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Use the icon widget for modal close button instead of hardcoding widget.

### Why should this be worked on?

Makes it easy for users to customise

[2022-01-31 11:30] YogeshJayaseelan opened #10759 "[Bug]: Recordings that are saved are not playing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Audio Recorder - It is observed that the saved recordings are not playing

https://loom.com/share/97c6cec0f8074d8580ad393573902237

### Steps To Reproduce

1.Launch appmsith app in release environment
2.Drag and drop audio recorder widget
3.Click on play icon to record audio
4.Click on tick i

[2022-01-31 11:38] Nikhil-Nandagopal commented on #7827
@ajinkyakulkarni we've had a couple of these requests. Can we introduce a clearValue function?

[2022-01-31 11:47] ayushpahwa opened #10761 "[Bug]: Enable/disable and dynamic value fetch is not working in UQI forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The functionality of the enable/disable to

### Steps To Reproduce

Not on prod so can't be tested normally.

### Environment

Release

### Version

Cloud

[2022-01-31 11:50] ayushpahwa opened #10762 "[Feature]: Update the dynamic value fetch config to integrate post requests and query params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This is regarding the new query editor forms' feature. This will allow for the plugin developers to pass in some static params and the datasource IDs.data source

### Why should this be worked on?

This is a small issue blocking the release of entity selector and dynamic fetch value feature for UQI.

[2022-01-31 11:52] Nikhil-Nandagopal commented on #10740
So Glad someone finally reported this! I face this all the time and it's so annoying when it breaks my flow :)

[2022-01-31 11:57] Nikhil-Nandagopal commented on #10540
@dilippitchika maybe we should have a way to inspect the keypress from the onClick so a user can make a decision instead of adding a new event handler? I'm not sure any button component supports this property out of the box

[2022-01-31 12:11] Nikhil-Nandagopal commented on #10738
A great addition to improve the where clause.
@nidhi-nair @sumitsum

[2022-01-31 12:12] Nikhil-Nandagopal commented on #10635
@IAmAnubhavSaini the width can be varying but it should be center aligned. Here it's centered but right aligned. Also just want to be doubly sure this does not affect the notifications from showAlert and only the system generated ones right?

[2022-01-31 12:19] somangshu commented on #10583
This does not break the app or stops user from actually using the widget, setting the priority to low

[2022-01-31 12:23] dilippitchika commented on #10759
Assigning high, because it's a clearly written that a user can play the recording they saved and users would like to play the recording before uploading it to apps.  But @YogeshJayaseelan can you verify if it's happening on Production also?

[2022-01-31 12:28] shwetha-ramesh opened #10765 "[Bug]: Page Name when cloned has character count more than 30"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When user renames a Page Name the maximum allowed character is 30 but when the user clones the page the page name automatically adds 'Copy' at the end of the name and there by increasing the character count. Subsequently cloning the same name results in overflow of icons from the page (as see

[2022-01-31 12:31] chandannkumar opened #10766 "[Bug]: Rating star color changed to Black when set to "No Color""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e782faf5956a44299eb21124cf2c0f03-00001.gif)](https://www.loom.com/share/e782faf5956a44299eb21124cf2c0f03)

### Steps To Reproduce

1. Add rating widget to canvas
2. Set Active/Inactive color to "No Color" from property pane
3. Observe that

[2022-01-31 12:38] YogeshJayaseelan commented on #10759
@dilippitchika No this is not happening in production

[2022-01-31 12:40] IAmAnubhavSaini commented on #10635
Unfortunately these (shown in image above) are `showAlert`s. I am under the impression (still) that both are generated by the same code, except `showAlert` is programmable.

I tried getting system generated error, same thing, visually. Check below.

![Screenshot-2022 01 31-17 53 14](https://user-images.githubusercontent.com/1573771/151793451-566eae7a-622a-4e8d-9abe-bb4306ba38d9.png)

My guess is t

[2022-01-31 12:51] dilippitchika commented on #10759
@wmdev0808 can you check this issue on priority? It's only happening in release.

[2022-01-31 13:17] sumitsum commented on #10748
The error that we are seeing here is expected behavior. The `gender` field is mapped against a `Postgres` db column whose data type is `bpchar(120)` - internal name for `character(n)` type - it is a fixed length field which does padding with space to always store a `n` length string. Hence, any attempt to store a char seq of length greater than the designated length will cause an error. Quoting fr

[2022-01-31 13:20] ApekshaBhosale opened #10768 "[Bug]: Menu group button widget entered a bad state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The app which has Menu group button widget entered a bad state. It created an invisible button reference which caused it to go into cyclic dependency.

Observation:
1. even if button is removed, it’s path is not removed from triggerPath list from DataTree
2. somehow delete button got added to

[2022-01-31 13:23] #10748 closed

[2022-01-31 13:35] RakshaKShetty opened #10769 "[Bug]-[300]:The focused cursor is displayed at the end of the input field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The focused cursor is displayed at the end of the input field

### Steps To Reproduce

1. Generate a crud page In a firefox browser
2. Now click on the input box the cursor blinks at the end of the input widget instead of the place where curser clicked

### Environment

Release

### Version

[2022-01-31 13:36] marks0351 commented on #7827
posting a js object work around for now, but definitely need a built in action.

[code]

[2022-01-31 14:03] arunvjn commented on #8885
@ramsaptami Can you please retest this in the new explorer ? Looks like it is not reproducible there.

[2022-01-31 14:06] arunvjn commented on #8823
@RakshaKShetty JS Icons are added in the latest in the actions selection along with the new explorer changes. Can you please retest ?

[2022-01-31 14:19] arunvjn commented on #10090
@ramsaptami Can you please retest ?

[2022-01-31 14:57] SatishGandham opened #10771 "[Bug]: TextWidget crashes when bound to large data, like JSON from api response"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Whenever you bind large data to text widget, it crashes the application.
Usually users bind api response to a text widget for debugging purposes, and this puts the application in unrecoverable state.

### Why this happens
Unlike table or list widget, we don't restrict the amount of data we sh

[2022-01-31 15:17] dilippitchika commented on #10771
@SatishGandham we have "truncate text" as a property in the text widget, should we just enable it by default?

[2022-01-31 16:55] abhvsn opened #10773 "[Bug]: When user delete a resource form the child branch and merge it back to parent branch, still the deleted resource will show up in the newly created branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we try to delete the resource by using the git branching, we can see the resource if we create the new branch from the parent branch even after we merged the sub-branch where the resource was deleted.

### Steps To Reproduce

Let's take an example with page as a resource:
1. We have defa

[2022-02-01 04:26] anshulr opened #10778 "[Bug]: Increase liveness probe initialDelaySeconds to more than 5 seconds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If sometimes appsmith-internal-server startup more than 10s  , liveness starts failing after 10s and container keeps on restarting. Since it is configured for initialDelaySeconds of 5s , period as also 5s.

Either we should have increase the initialDelaySeconds for liveness probe or also add

[2022-02-01 05:02] nayan-rafiq opened #10779 "Return page slugs in response of applications list API"
The FE calls `GET /api/applications/new` API to get list of organizations and applications. Currently the list of pages inside each application object does not have slugs. We need page slugs to generate the link of an application.

When user clicks on a application, we'll redirect them to this page: `/apps/application-slug/page/page-slug/pageid` where page-slug and pageid are from the default page

[2022-02-01 05:18] #10691 closed

[2022-02-01 05:22] SatishGandham commented on #10771
@dilippitchika This is close to the implementation I had in mind, but I can not make that product decision.

[2022-02-01 05:34] ramsaptami commented on #10090
It's been fixed hence closing the issue.

[2022-02-01 05:34] #10090 closed

[2022-02-01 05:36] ramsaptami commented on #8885
Closing the issue since it's not reproducible on the new design

[2022-02-01 05:36] #8885 closed

[2022-02-01 05:36] dilippitchika commented on #10771
Understood, @somangshu moving this to needs info. Can you assign someone to help understand the truncate text behavior changes suggested by @SatishGandham?

[2022-02-01 05:57] somangshu commented on #10759
@dilippitchika @YogeshJayaseelan this seems very similar to the #10756, Something has changed and causing this error on console for release specifically

`Refused to load media from 'blob:<URL>' because it violates the following Content Security Policy directive: "media-src * data:".`

Need some help here @sharat87 @mohanarpit

[2022-02-01 06:01] RakshaKShetty opened #10780 "[Bug]: The circular progress bar icon is missing in entity pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The circular progress bar icon is missing under the widget section in the entity pane
![image](https://user-images.githubusercontent.com/45958978/151919880-ef3908c4-f5ff-4a3f-be7f-3316c958574e.png)

### Steps To Reproduce

1. Go to canvas
2. Drag and drop the circular progress bar
3. Now in t

[2022-02-01 06:06] #5483 closed

[2022-02-01 06:14] billyrudi commented on #10520
Any news?

[2022-02-01 06:17] billyrudi commented on #10341
Hi, news on this? Ifyou dont resolve this problem i must leave appsmith ide to use other solutions

[2022-02-01 06:20] jpwilksch commented on #9915
If I understand @raags correctly, the part in bold is incorrect. It is authentication _to Appsmith_ that is proxied, not authentication with backend services with which Appsmith interacts.

I too would also like to see this added.

[2022-02-01 06:35] albinAppsmith commented on #10186
- Colour of settings, copy and delete icons are different on page properties
- Organization image on Org settings page trims off the boundary when image is loaded
- The arrow size is very small - debug

[2022-02-01 06:35] albinAppsmith commented on #7853
Closing this ticket and pending tasks are being tracked in [#10186](https://github.com/appsmithorg/appsmith/issues/10186)

[2022-02-01 06:35] #7853 closed

[2022-02-01 06:50] somangshu commented on #10712
@keyurparalkar by when will be able to fix this up?

[2022-02-01 06:53] keyurparalkar commented on #10712
@somangshu this will get completed by today or max by tomorrow first half.

[2022-02-01 07:01] RakshaKShetty opened #10781 "[Bug]-[300]:The binding is not displayed for the button group widget in the entity pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The binding is not displayed for the button group widget in the entity pane
![image](https://user-images.githubusercontent.com/45958978/151925374-19104a45-3b8f-4c15-b48b-4acaca9d8d6c.png)

### Steps To Reproduce

1. Go to canvas
2. Drag and drop the Button group widget In the entity pane
3. C

[2022-02-01 07:34] somangshu commented on #10607
@ohansFavour does #10737 fix this? Kindly link and close if that is the case

[2022-02-01 07:39] ohansFavour commented on #10607
Yes, #10737 fixes this

[2022-02-01 07:39] #10607 closed

[2022-02-01 07:47] dilippitchika commented on #8623
Moving this to Product backlog, check the loom above to understand the issue

[2022-02-01 08:17] lublak opened #10782 "[Feature]: form/container fixed grid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A kind of container and form that works with the same grid size as the main window.
Fixed Grid Container and Fixed Grid Form.

### Why should this be worked on?

Currently, when you shrink a shape or a container, the grid size changes in it.
This makes it very difficult to place the elements perfectly

[2022-02-01 08:36] ajinkyakulkarni commented on #8210
Additional internal discussion about this -  https://theappsmith.slack.com/archives/CGBPVEJ5C/p1643702368121879

[2022-02-01 09:06] prapullac opened #10783 "[Bug]: Appropriate spacing is not displayed to user under setting page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user navigates to the setting page it is observed that there is no spacing between Checkbox and content

### Steps To Reproduce

1) Navigate to create a new API page
2) Navigate to the setting tab
and observe checkbox and content feels not overlapped due to  less spacing
![Screenshot

[2022-02-01 09:24] arminus opened #10784 "[Bug]: 1.6.8 breaks passing params from JS to SQL query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have the following query:
[code]
This gets called from a JS function:
[code]
selFilterStatus is a selection widget and a console.log(selFilterStatus.selectedOptionValue) confirms that the status is a valid value.

Running the query in 1.6.8 simply ignores this?.params?.condition and uses th

[2022-02-01 09:30] danciaclara opened #10785 "[Bug]: Submission disabled if widgets not marked as required have validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If a widget is marked as not required but has some validation, the **Submit** button gets disabled. For eg: on a Datepicker widget if there is a **max date** property set up which is an earlier date (default date is TODAY),  the user is prevented from submitting and is forced to enter somethi

[2022-02-01 09:30] ashit-rath commented on #2504
Performance issue update:
We had a discussion around the performance of the JSON Form widget when a large source data is used. The render time seems to come around 60 secs if we try to have ~150 fields (mix of arrays and objects) and out of ~60sec evaluations are taking around ~50secs; this is only for the first render.

Next steps:
1. Triage the cause of evaluations taking ~50secs for evaluating

[2022-02-01 09:44] BlakesEyeR1 commented on #1950
I would also value an incoming webhook feature

[2022-02-01 09:54] #10757 closed

[2022-02-01 09:58] shwetha-ramesh opened #10787 "[Bug]: Long menu item has ellipsis in MenuButton but not in ButtonGroup widget."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For _MenuButton_ widget when a long Menu item is added an ellipsis is added at the end and on hover the whole item name is displayed there by maintaining the drop down to the width of the widget which looks neat. Whereas in _ButtonGroup_ widget when the button type are of Menu, the items with

[2022-02-01 10:22] dilippitchika commented on #10540
@Nikhil-Nandagopal I was thinking in a similar direction, is some event emitter available for other events which are there? Just trying to understand what this property will look like - in my head the property was somewhat like "ctrlClick": true/false.

Need some info on how this will look in the autocomplete.

[2022-02-01 10:24] dilippitchika commented on #10053
This is not possible today, because input on resize becomes a text-area internally. Need to think on how to communicate this to users.

[2022-02-01 10:29] dilippitchika commented on #9233
Not reproducible in the updated input widget launched recently. Closing this.
![Screenshot 2022-02-01 at 3 58 55 PM](https://user-images.githubusercontent.com/19730984/151952402-241a750c-2b9b-44cb-8d3b-f7605e5c1f55.png)

[2022-02-01 10:29] #9233 closed

[2022-02-01 10:47] #10759 closed

[2022-02-01 10:51] nidhi-nair commented on #4559
Meeting notes:

- [ ] Mock form JSON for UX demo (S3 and Google sheets) @nidhi-nair @sumitsum
        - Delete many - S3
        - Delete many - Google sheets
- [ ] Mark MSSQL as not supporting CRUD @nidhi-nair
- [ ] Raw data for each plugin TBD
- [ ] Memoization related bug for components @ayushpahwa
- [ ] Pagination and sorting for S3 in review @sumitsum
- [ ] Waiting on projection component cha

[2022-02-01 11:15] sentry-io[bot] opened #10791 "Error: Cyclic dependency, node was:"MenuButton.menuItems""
Sentry Issue: [APPSMITH-1Q1](https://sentry.io/organizations/appsmith/issues/2978042617/?referrer=github_integration)

[code]

[2022-02-01 11:16] somangshu commented on #10791
@techbhavin need your help triaging this issue. Please take help from @sbalaji1192 if required

[2022-02-01 11:25] mcsptit commented on #10317
MAX date validation is invalid when the default date value is the same as max date value

[2022-02-01 11:29] RakshaKShetty opened #10793 "[Bug]: The default page is not selected when the user connects the application to git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The default page is not selected when the user connects the application to git
![image](https://user-images.githubusercontent.com/45958978/151960861-1ab536af-838c-49cc-a2d2-b920aaf5077d.png)

### Steps To Reproduce

1. Connect your application to git
2. Now from master create your own branch

[2022-02-01 11:30] leotom2000 commented on #9414
### Findings and Resolution

In where condition when the value is a String, it is processed successfully
When the comparing  value is a number, it does not fetch - so the Issue exists
When tested the issue exists for Boolean, Date and Timestamp.

The reason is when the request is sent as a String, firestore searches for Sting Only,
so depending upon the datatype it needs to be sent as object
Made

[2022-02-01 11:34] ramsaptami opened #10794 "[Bug]: Generic issue for missing row object is displayed for all JSON parse errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A generic issue for missing row object is displayed for all JSON parse errors on Google Sheet query

![image](https://user-images.githubusercontent.com/79509062/151956487-9a162b46-d625-4a65-8303-58845df0995a.png)

### Steps To Reproduce

1. Use CRUD to generate a quick Google sheet update que

[2022-02-01 11:34] noe-charmet commented on #4608
Encountering this issue too right now. Would be great to either be able to upload a custom CA certificate, or to disable SSL verification entirely for some datasources

[2022-02-01 11:37] danciaclara opened #10795 "[Bug]: DatePicker widget validation invalid within a Form if Default Date and Max Date are the same"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="729" alt="Screenshot 2022-02-01 at 5 01 45 PM" src="https://user-images.githubusercontent.com/32227135/151961481-0ef8f209-ba9a-40ea-b162-5ff55f7df822.png">

If Default Date and Max Date are the same for a Datepicker widget placed within a Form widget, the Submit button is disabled

[2022-02-01 11:38] momcilo-appsmith commented on #10053
@somangshu @areyabhishek @riodeuno @dilippitchika what do you guys think about making a separate widget for the text area? We could also add an improvement to it - allowing the app viewers to resize it since this will be possible soon?

[2022-02-01 11:45] dilippitchika commented on #10053
My suggestion was to just make this explicit in the current input widget, if the input type is text then the dev can select if it's a multi-line text or a single line text. If multi-line then it's basically a text-area.

[2022-02-01 11:47] nidhi-nair opened #10798 "[Bug]: When where clause parameters have repeated keys, the queries break"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://theappsmith.slack.com/archives/C02KTH6EHUG/p1643626571572499

### Steps To Reproduce

Same as above

### Environment

Production

### Version

Cloud

[2022-02-01 12:33] ashit-rath opened #10799 "JSON Form Performance improvements"
When we have a large JSON object for the source data, we are facing a very high-performance degradation for the first time when the form renders. This performance hit seems to be coming from the evaluations.
![Screenshot 2022-01-29 at 11.43.06 AM.png](https://images.zenhubusercontent.com/6108d334019397698aa61b3d/9df9c4ec-8d45-4e6c-b4b3-24b747dbc46e)
The above logs are for a set of 150 odd fields w

[2022-02-01 12:35] sbalaji1192 commented on #10791
might be releated to https://github.com/appsmithorg/appsmith/issues/10768

[2022-02-01 12:35] ashit-rath opened #10800 "Limiter for maximum number of fields for the form."
As the number of fields increases in the JSON form, the performance would most likely take a hit and after a certain point, the app might become irrecoverable. So we need to have a threshold for the number of fields that we can support without any performance hiccups.

This threshold needs to be conveyed to the user while using the widget and there are a few scenarios that can cause the threshold

[2022-02-01 12:44] riodeuno commented on #10791
@sbalaji1192 Yes, these two issues are related.
@somangshu I'll debug and report findings here.

[2022-02-01 12:49] crato-ctl commented on #2810
sorry, but i have this issue, how can reporting?

[2022-02-01 12:52] ramsaptami opened #10802 "[Bug]: Using bound data inside a comment line causes embedded text to not be commented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When bound data is present inside a comment line, text inside double mustache is not recognized as a comment. Since JSON doesn't support comment lines, the error is right but we need to handle UI on our end.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/23930e19fa9f4ffab90b6f93921bf7

[2022-02-01 13:17] Nikhil-Nandagopal commented on #10785
@danciaclara this is actually valid because in this case the default date is after the max date which means the date selected is invalid so the form should be disabled

[2022-02-01 13:17] #10785 closed

[2022-02-01 13:30] Nikhil-Nandagopal commented on #10771
Will truncating help because the large data is still going to be in the evaluations so AFAIK that will still cause this to crash?

[2022-02-01 14:34] marino-t commented on #2430
There are a lot of no-code/low-code backends platforms (perfect to pair with appsmith) that have their own js SDK.

Might it be easier to allow import of js lib from CDN instead of "installing"?

[2022-02-01 17:11] am-rpa commented on #9996
Just wanted to say that this is a pretty important feature. As a business, we run a lot of risk by having an application like this auto update without first testing the update in a staging environment. This is based on the fact that having any kind of business critical workflows/applications in Appsmith that need to have a consistent environment to run in.

[2022-02-01 17:28] sbalaji1192 opened #10806 "[Feature]: [Enhancement] Provide option to opt out of phone number formatting in phone Input widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

1. provide an option in the phone Input widget to turn off `as you type` formatting.
2. When the above-mentioned option is turned on, widget.text should be formatted while widget.value should be an unformatted phone number.

### Why should this be worked on?

Gives user more options to deal with the t

[2022-02-01 17:29] sbalaji1192 commented on #10806
CC @dilippitchika

[2022-02-02 04:51] dilippitchika commented on #10771
@SatishGandham there's another issue #10569 and it looks same, I am closing the other one. Please re-open if that's a different one.

[2022-02-02 04:51] #10569 closed

[2022-02-02 05:15] abhvsn commented on #10172
@akash-codemonk We are again seeing these issues

[2022-02-02 05:21] #4904 closed

[2022-02-02 05:21] #9413 closed

[2022-02-02 05:39] Nikhil-Nandagopal commented on #10634
@ad99526 you can go for it! Hope you've read our contribution guidelines :)

[2022-02-02 05:41] nidhi-nair commented on #10597
Closing as duplicate of #10595

[2022-02-02 05:45] Nikhil-Nandagopal commented on #10597
@nidhi-nair actually I believe couchbase and couchdb are 2 separate databases. Am I wrong in understanding this?

[2022-02-02 05:45] nidhi-nair commented on #10593
This is expected since we do not copy authorization response to new organizations. We would expect users to re-authenticate the datasource for the data to show up.

[2022-02-02 05:45] #10593 closed

[2022-02-02 06:31] eco-monk commented on #4789
Found that this could be an issue with one of codemirror's functions.
`innerMode` -> used to identify position of the argument we're working with.

[2022-02-02 06:44] sumitsum commented on #2284
Meeting updates:
* Re-estimate server side story points and timeline: https://www.notion.so/appsmith/GraphQL-ca7c7906d0274a87a6efb726d1cedc55
* Design: https://www.figma.com/file/ywx3aWsV1NU8s9OvoUudSz/Datasources-GraphQL?node-id=2010%3A8564
* TBD: re-estimate the client side story point and timeline - @AmanAgarwal041

[2022-02-02 07:23] Nikhil-Nandagopal opened #10814 "[Bug]: Ternary Operator is not working in JS Objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A user tried to conditionally call a query using a ternary operator in a JS object and it failed

### Steps To Reproduce

https://downloads.intercomcdn.com/i/o/457647155/11927bfdad6b1d752fcded74/image.png?expires=1643786956&signature=67a0201e148d219d5acd4367685c6a7b33594ca958b11b75516c827dcb3

[2022-02-02 07:24] AmanAgarwal041 opened #10815 "[Feature]: Ability to change the background color of the page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

New option for setting the background color of the page should be added.

### Why should this be worked on?

To change the background ui of the application for every page.

[2022-02-02 07:32] Nikhil-Nandagopal commented on #4608
@ajinkyakulkarni can we look into prioritising this?

[2022-02-02 07:42] lublak opened #10816 "[Feature]: Custom navigation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A way to organize the pages into subgroups.
This could also simply help a menu button that can be configured on the one hand with a json configuration and on the other hand also allows under menu buttons.

### Why should this be worked on?

Currently there is only the normal menu button.
This one does

[2022-02-02 07:43] Nikhil-Nandagopal commented on #10816
Hi @lublak we have this issue tracked here, could you please upvote that one? #2282

[2022-02-02 07:46] lublak commented on #10816
@Nikhil-Nandagopal oh thanks :)
I had not found that because I had searched for nested menu. Thank you.

[2022-02-02 07:47] Nikhil-Nandagopal commented on #2430
Hey folks! thank you for your attention on this issue. We're still wrapping up our current JS Editor which was a massive project but we'll be picking this up right after that!

[2022-02-02 07:49] Nikhil-Nandagopal commented on #1950
@BlakesEyeR1 could you tell us a bit about your use case and why you would like a webhook feature?

[2022-02-02 07:53] Nikhil-Nandagopal commented on #10815
@dilippitchika @jsartisan seems like a fairly simple feature we can add for users

[2022-02-02 08:03] #10511 closed

[2022-02-02 08:10] Nikhil-Nandagopal commented on #2810
@crato-ctl can you share the logs of the docker container?

[2022-02-02 08:14] lublak commented on #10816
@Nikhil-Nandagopal can we reopen this?
Since I'm talking about custom navigation here.
Besides appsmith application I would also like to include links with navigateTo.
Based on this: https://www.youtube.com/watch?v=Fu2PaPnIyus

[2022-02-02 08:27] Nikhil-Nandagopal commented on #10816
@lublak sure re-opening it for custom navigation

[2022-02-02 08:28] #10630 closed

[2022-02-02 08:30] sbalaji1192 opened #10818 "[Bug]: Race condition in updating meta property of widgets during first evaluation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When Currency Input gets mounted, it formats the text and stores it in meta property. This value gets overwritten by the evaluations when it updates the meta property of the widget with defaultText during first evaluations. As a result currency input value and `CurrencyInput.text` are differi

[2022-02-02 08:57] SatishGandham commented on #6452
@somangshu I don't think it's going to be a significant improvement. I will not do it for performance improvement alone.

For onFocus, user has to configure it to run only when the data hasn't already loaded. Otherwise it may not be a good experience their end users.

[2022-02-02 09:14] Nikhil-Nandagopal commented on #10540
@dilippitchika it could be that the onClick has an `event` variable that users can access like currentRow / currentItem in the columns of a table

[2022-02-02 09:18] BlakesEyeR1 commented on #1950
We would like to responds to 'events' that can be notified to us via a webhook. Rather than polling to see if events have occurred. For example: a door entry event has occurred, use the appsmith app to access the security data and update a local database.

[2022-02-02 09:25] #10791 closed

[2022-02-02 09:25] #10768 closed

[2022-02-02 09:46] #623 closed

[2022-02-02 09:48] Rishabh-Rathod commented on #1911
## Decisions
1. Go with implicit import instead of explicit.
2. No toggle to convert to shared.

## Action items for next week

### Design team @parth-appsmith @aakashDesign
1. Work on a way to educate users on how to use shared actions?
2. Design flow of how to create the shared file?
3. Should a shared folder be shown to a new user by default and what does onboarding look like?

### Engg team  @

[2022-02-02 09:51] ajinkyakulkarni opened #10822 "[Bug]: Misleading error message when binding async function in a widget data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a user tries to bind an async function, a misleading error is thrown

![image](https://user-images.githubusercontent.com/800578/152130520-13c24501-70fa-4054-a854-49f32b973d26.png)

Instead, users should be warned that async functions can not be binded/used in the data property

### Steps

[2022-02-02 10:05] Pranay105 opened #10823 "Update Security documentation"

[2022-02-02 10:08] Nikhil-Nandagopal commented on #9782
We discussed 2 approaches to this problem
- Extend the promise class and overwrite the then method so that we know the chain of promises to wait for
- Add a custom Lint rule to inform users that they must return the promises in an async function

[2022-02-02 10:11] ajinkyakulkarni opened #10824 "[Bug]: JSObject function execution is disabled without any error message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have written the following code.  No error message is thrown, but at the same time, I am not able to run any function.

![image](https://user-images.githubusercontent.com/800578/152132986-eb3e0ed1-df5f-4f8d-9422-397161090067.png)

### Steps To Reproduce

1. Create a JSObject
2. Add the foll

[2022-02-02 10:23] ajinkyakulkarni opened #10825 "[Feature]-[308]:Show correct lint error when async/await is used in a function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user faced the following problem.

![image](https://user-images.githubusercontent.com/800578/152131345-108893da-d945-4ae8-84d5-fb04c42cccb9.png)

This is because, we are currently showing the following error message

![image](https://user-images.githubusercontent.com/800578/152135641-b57a1027-3500-4

[2022-02-02 10:27] dilippitchika commented on #7960
Another user asked this today

[2022-02-02 10:32] ApekshaBhosale commented on #10341
Hello @billyrudi, I am so sorry this is happening with your app. We are actively working on it and found a few improvements to be done.
One of the libraries used in our code was taking most of the time but we have found an alternative that improves performance by 40%.
As you said deleting modal forms improved because it automatically reduces widget numbers hence the evaluation and loading time imp

[2022-02-02 10:52] sumitsum commented on #8590
Re-opening this since it would be good to have a generate page feature with MsSQL.

[2022-02-02 10:58] Rishabh-Rathod commented on #10580
This is not needed, as we are going with implicit import.

[2022-02-02 10:58] #10580 closed

[2022-02-02 11:24] mojtab23 commented on #10374
We can generally check for this MongoDB's special keywords:
[code]
About `BinData` I'm not sure. If we can insert that like other keyword or not.

[2022-02-02 11:30] pbjorklund opened #10827 "[Bug]: Sql server OffsetDateTime not supported?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Connected Azure SQL server db.

Tried to run a simple select * from users; query.

Got

Java 8 date/time type `java.time.OffsetDateTime` not supported by default: add Module "com.fasterxml.jackson.datatype:jackson-datatype-jsr310" to enable handling (through reference chain: java.util.ArrayLi

[2022-02-02 11:45] areyabhishek opened #10828 "[Feature]: Region specific cloud-hosting to improve performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to choose the region where Appsmith is cloud-hosted to allow for low latency.
![Uploading Screen Shot 2022-02-02 at 4.17.42 PM.png…]()

### Why should this be worked on?

This is a feature that users will want to control in the cloud hosted edition.

[2022-02-02 11:52] billyrudi commented on #10341
hi, i can try but it is not so simple. modal forms loads data from tables. how i can do it with separete forms?

[2022-02-02 12:08] AmanAgarwal041 opened #10830 "[Feature]: Show remaining number of pages in the table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Add a text to show remaining number of pages in the table widget when there exist total records count.

### Why should this be worked on?

This was a feature requested by the user.
[https://discord.com/channels/725602949748752515/760761686549463060/938400013086781450](https://discord.com/channels/72

[2022-02-02 12:10] #8503 closed

[2022-02-02 12:22] dilippitchika commented on #10341
Hey you can share data across pages using the parameters in the navigateTo(). Ideally the table's selectedRow on Click opens a new page with the selectedRow's properties passed as parameters.

More info here - https://docs.appsmith.com/framework-reference/navigateto

[2022-02-02 12:33] dilippitchika commented on #10830
Looks like we missed this while adding Total Record Count. @Tooluloope can you confirm who worked on Total record count on server side filtering on the table?

[2022-02-02 12:43] Rishabh-Rathod commented on #10818
This issue occurs because as per new changes, defaultValue on eval updates meta value inside data tree and meta reducer.

1. Eval cycle -   text = {{defaultText}} = 10000
2. In PhoneInputWidget's `ComponentDidMount` we have  `updateWidgetMetaProperty` changing text in metaReducer to `10,000`

In the next eval, cycle it was noticed that the metaReducer value was updated to `10000` which is an old m

[2022-02-02 14:03] aswathkk opened #10833 "[Feature]-[9884]:Disable JS button if the field is not empty or if the default text is modified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Disable JS button in property pane controls if the field is not empty or if the default text has changed.
Also, add a popup on the disabled JS button to indicate why it is disabled.

### Why should this be worked on?

The JS toggle interaction is extremely destructive. The JS binding is getting cleare

[2022-02-02 14:15] #10297 closed

[2022-02-02 14:18] sentry-io[bot] opened #10834 "[Bug] Unable to update JS Object"
Sentry Issue: [APPSMITH-1Q9](https://sentry.io/organizations/appsmith/issues/2981256884/?referrer=github_integration)

[code]

[2022-02-02 14:19] Nikhil-Nandagopal commented on #10834
Not able to update this JS Object
https://app.appsmith.com/applications/61cd5be2a4437918c01f87af/pages/61cd8575a4437918c01f89b2/edit/jsObjects/61f2cd0a9d6d6a6720c978d4?branch=release

[2022-02-02 14:20] albinAppsmith opened #10835 "[Bug]: Execute Query menu not scrollable when overflowing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When user tries to assign and execute query on click action, If user have more number of queries present in the app, user is not able to scroll to the overflowing content.

Also, suspecting this can happen for "Execute JS Function"

![Screenshot 2022-02-02 at 7 45 32 PM](https://user-images.g

[2022-02-02 14:49] #7391 closed

[2022-02-02 15:09] #9221 closed

[2022-02-02 15:17] pranavkanade commented on #9068
This is not a bug. This change was intentional, original ticket - https://github.com/appsmithorg/appsmith/issues/7884

[2022-02-02 15:17] #9068 closed

[2022-02-02 15:35] SatishGandham commented on #10771
@Nikhil-Nandagopal , Yes, I verified it. The page crashes because we create a lot of DOM nodes. Same data works with table or list widget because we don't render all of it.

@dilippitchika , its the same issue. Thanks.

[2022-02-02 15:35] #10402 closed

[2022-02-02 15:57] pranavkanade opened #10839 "[Bug]: Datasource `+` button takes user to Create New tab even if there are active datasources."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c46ea675545a4b34804b0197ad0db1b7-00001.gif)](https://www.loom.com/share/c46ea675545a4b34804b0197ad0db1b7)

### Steps To Reproduce

1. Create new app in an org where you already have datasources
2. Click on Datasources `+` button, you'll be

[2022-02-02 16:14] crato-ctl commented on #2810
sure, !!thanks in advance
[appsmith.zip](https://github.com/appsmithorg/appsmith/files/7988190/appsmith.zip)
!

[2022-02-02 16:29] pranavkanade opened #10840 "[Feature]: Allow disabling interaction for Rating widget without fading its color."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This is needed in use cases where user is only using it in say a report, where they don't need the interaction.

### Why should this be worked on?

Good to have

[2022-02-02 16:33] pranavkanade opened #10841 "[Bug]: Evaluation failed for rating widget's Tooltips property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot 2022-02-02 at 9 48 20 PM](https://user-images.githubusercontent.com/13262095/152195893-5b2b8446-4f5b-4ac7-bbdb-2fdadfced5a7.png)

### Steps To Reproduce

Please fork this application (`populate list from query` page)
https://app.appsmith.com/applications/61fa19d411f4c46e3dfd2250/

[2022-02-02 17:12] Nikhil-Nandagopal commented on #10839
This is expected because + query can be used to create a query on a datasource

[2022-02-02 17:12] #10839 closed

[2022-02-02 18:20] #10835 closed

[2022-02-02 18:53] #6195 closed

[2022-02-02 18:55] #9926 closed

[2022-02-02 19:45] aamiel1 opened #10842 "[Feature]: Support MQTT as a data source"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ability to connect to mqtt broker to show real time data exchange this can be new pip for data source.

### Why should this be worked on?

In the world of IoT a real time data exchange is mast, also in Appsmith is very cool  to create a dashboard for this real time data.

only need to ceate a new data

[2022-02-02 23:33] momcilo-appsmith commented on #10562
@dilippitchika I suggest 2 different states here:
1. When the text is not in focus we show ...
2. When you click on the search box, it highlights the text and lets you use the arrow to go to the right.
I attached screenshots as examples. What do you think?
![Screenshot 2022-02-03 at 00 31 58](https://user-images.githubusercontent.com/81744497/152255474-86a9cd3a-1511-4daf-9371-d7f78b042782.png)
![S

[2022-02-02 23:35] momcilo-appsmith commented on #7256
@dilippitchika @somangshu @areyabhishek I think we should prioritize this issue soon. Would like to pick it up with our design team.

[2022-02-03 04:12] #7445 closed

[2022-02-03 05:26] #10793 closed

[2022-02-03 05:26] dilippitchika commented on #10562
Hey @momcilo-appsmith yes this is inline with what I thought, can i know the reason why the search bar size is not longer?

[2022-02-03 05:28] RakshaKShetty opened #10844 "[Bug]: The 2 scrolls are displayed inside the git connection modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The 2 scrolls are displayed inside the git connection modal
![image](https://user-images.githubusercontent.com/45958978/152286543-d10eb833-9623-4146-af0b-d295e5eb5e7b.png)

### Steps To Reproduce

1. Open firefox browser
2. Try to connect any of the application to git
3. Dont copy key to repo

[2022-02-03 05:39] riodeuno commented on #9601
@Tooluloope

Problem 1: This seems to be a DX issue. I can see why having all of them printed at once can make it difficult to navigate the errors.

Problem 2: There is also the issue of validating so many entries, this can reduce response time (performance)

The solutions we can explore here should deal with both of them separately.

Solution 1: We "load more" errors on demand for similar type of

[2022-02-03 05:52] #10712 closed

[2022-02-03 06:03] chandannkumar commented on #10756
@techbhavin Issue still exists on release

[2022-02-03 06:07] chandannkumar commented on #10716
@vicky-primathon Issue still exists on release

[2022-02-03 06:12] vicky-primathon commented on #4182
1. Need to find changes using above logic for below widgets:
Checkbox Group Widget
Checkbox Widget
Currency Input Widget
Date Picker Widget v1, v2
Dropdown Widget
FilePicker Widget
Input Widget v1, v2
Multi Select Tree Widget
Multi Select Widget
Phone Input Widget
Radio Group Widget
Rich Text Editor Widget
Single Select Tree Widget
Switch Group Widget
Switch Widget
Table Widget
2. Need to handle t

[2022-02-03 06:15] #7112 closed

[2022-02-03 06:20] kocharrahul7 opened #10846 "[Type]-[2200]:Help new users to connect to mock DBs if they are unable to connect to any existing Databases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

New users (working on their first application) should receive a small prompt asking them if they would like to connect to our mock DBs if they satisfy ant of the following scenarios:

1. User selects "build with drag and drop"-> navigates to the canvas AND doesn't connect a database within 2 minutes

[2022-02-03 06:23] vicky-primathon commented on #10716
Can we use this solution here @somangshu
https://stackoverflow.com/questions/61862932/chrome-extension-refused-to-load-the-script-because-it-violates-the-following-c

[2022-02-03 06:38] pranavkanade commented on #2840
**TODO**
1. Get new designs for admin settings page, login page from - @Debsourabh
2. UI changes for admin settings page- @ankitakinger
3. Go through test plan - team
4. Fat container setup - @trishaanand
5. Documentation for enterprise

**Deprioritised Items**
1. Admin APIs
2. Upgrade to paid plan

[2022-02-03 06:40] dilippitchika opened #10847 "[Enhancement]: Server side filtering in tree and multi-tree select"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With the support for select and multi-select server side filtering, we also need to add support for tree-select and multi-tree-select widgets.

### Why should this be worked on?

All widgets in the select family should be consistent.

[2022-02-03 06:41] dilippitchika commented on #10847
Linked to #10297

[2022-02-03 06:41] Nikhil-Nandagopal commented on #7237
@kundansonu thank you for the feature request. We have this feature tracked here #5229 so please do upvote it :)

[2022-02-03 06:41] #7237 closed

[2022-02-03 06:57] ajinkyakulkarni opened #10848 "[Bug]: Ensure correct capitalization of product names across docs and Appsmith platform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Currently, MySQL is written as Mysql, MSSQL as MsSQL, Elasticsearch as ElasticSearch. We need to ensure that correct capitalization is used for each product/technology name mentioned on our docs or the Appsmith platform.

![image](https://user-images

[2022-02-03 07:03] ajinkyakulkarni opened #10849 "[Feature]-[600]:Rename S3 datasource name/icon to something more generic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

S3 and corresponding icon in the Datasources section should be renamed to something more generic name/icon
![image](https://user-images.githubusercontent.com/800578/152295961-74f4657b-77a0-4f33-995a-ed29176c2f03.png)

![image](https://user-images.git

[2022-02-03 07:16] vuiets commented on #3317
### Meeting Notes
2 Feb 2022

[Wireframes](https://drive.google.com/drive/u/0/folders/1VDnxndFT6p2JYxwcKUuSNYb5vFnOnIo-)

Discussed
-  `User groups`, `Permissions groups` and `Policies` will be maintained at the instance-level
- On a few granular permissions
  - _Invite user_ will not be a standalone permission; it will be a part of _Add user_ permission
  - _Delete <resource>_ is destructive chan

[2022-02-03 07:26] ashit-rath opened #10850 "[Task]: Revert changes in validation function typescript signature."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The typing of the validator function was modified in this [PR](https://github.com/appsmithorg/appsmith/pull/10457/files) where the `props` parameter was made optional.
https://github.com/appsmithorg/appsmith/blob/9d1a5ba92b69ffc58e6211d16def863026592553/app/client/src/constants/WidgetValidation.ts#L3

[2022-02-03 07:28] dilippitchika opened #10851 "[Bug]: For select widget filterText in autocomplete is shown as array data type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i use autocomplete for a select widget i see the filterText property as an array, but it should be a string. When I reference it, it works as a string but gives the wrong impression that it's an array

![Screenshot 2022-02-03 at 12 18 24 PM](https://user-images.githubusercontent.com/1973

[2022-02-03 07:41] dilippitchika commented on #4182
@vicky-primathon why do we need table widget here?

[2022-02-03 07:46] vicky-primathon commented on #4182
@dilippitchika , To detect when row of a table inside Form widget gets selected/deselected. If it is not required this can be dropped. Please suggest.

[2022-02-03 07:57] #9078 closed

[2022-02-03 07:57] #9598 closed

[2022-02-03 08:51] sbalaji1192 opened #10855 "[Task]: Meta reducer state of a widget is not cleared when it gets deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

When a widget is deleted from the canvas, we are not clearing the meta reducer state in the redux store. This leads to a memory leak. we need to clear the meta state of a widget when it gets deleted.

[2022-02-03 08:52] sbalaji1192 commented on #10855
CC @SatishGandham

[2022-02-03 09:30] dilippitchika commented on #10196
Action items HPI 3 Feb
1. Camera enhancements #10077 to be assigned as Paul is occupied
2. #10771 - Tolu to talk to Satish

[2022-02-03 09:31] dilippitchika commented on #10200
Action items 3 Feb
 1. #3613 - Bhavin to check and Dilip to check Json form dependency

[2022-02-03 09:36] sentry-io[bot] opened #10856 "Feature : (POC) Implement File lock mechanism for git operations"
- [x] Research on JGIT about lock needs to be done.
- [x] Implement a redis based request lock.

Findings -

[code]

Sentry Issue: [APPSMITH-1QN](https://sentry.io/organizations/appsmith/issues/2984738943/?referrer=github_integration)

[2022-02-03 09:38] sentry-io[bot] opened #10857 "NullPointerException while importing action with null pageId for publishedAction"
Sentry Issue: [APPSMITH-1QB](https://sentry.io/organizations/appsmith/issues/2981423776/?referrer=github_integration)

[code]

[2022-02-03 09:52] sbalaji1192 opened #10859 "[Bug]: reset on submit is not working for input and phone input widgets on enter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 reset on submit is not working for input and phone input widgets on enter

### Steps To Reproduce

1. Add a Phone input widget.
2. Enable reset on submit.
2. Add an on submit expression.
3. Type some text on input and press enter.
4. Text is not getting cleared

### Environment

Production

[2022-02-03 09:57] #10850 closed

[2022-02-03 10:00] riodeuno commented on #4182
Any widget which has meta properties (particularly properties which change based on user input) can be technically, configured to be used in a form widget. To recognise if a form is dirty or touched, we need these properties in the individual widgets.

As @vicky-primathon has correctly identified, we must add these derived properties in these widgets, before adding this derived property in the for

[2022-02-03 10:18] dilippitchika commented on #4182
We don't need the table widget for now.

Adding a few more widgets which can be used in forms now
1. Audio recorder
2. Camera widget

Not sure if we can add map widget, but that can also be present in forms where users can choose a location.

[2022-02-03 10:25] lublak commented on #10682
@dilippitchika
Technically, you can also simply say: Here is the maximum. You can only display 10 or the rest will not be displayed at all.
pagination would hardly make sense there i think. Possibly rather a scrolling.
I also had a similar request only in addition with submenus:
https://github.com/appsmithorg/appsmith/issues/10816

[2022-02-03 10:30] lublak commented on #10528
Alternative: Just call onRowSelected when the data gets loaded and the default selected row is set to 0 <=

[2022-02-03 10:37] abhvsn opened #10863 "[Feature]: Allow users to pull changes from remote without committing current DB changes to local repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In a traditional development setup teams generally, have protected branches where team members can't commit directly to avoid any surprises on production and to keep the development flow clean. This is not possible with git-sync today, this is because when we do pull operation, we are checking if ther

[2022-02-03 11:16] jsartisan commented on #10815
We are already doing this in app theming PR.

[2022-02-03 11:35] #9930 closed

[2022-02-03 11:47] #10650 closed

[2022-02-03 11:53] dilippitchika commented on #10815
Talked to @jsartisan we don't have a way to do it at a page level only at an app level. Will co-ordinate with Liz and add this.

[2022-02-03 12:00] dilippitchika commented on #10841
@pranavkanade did not understand which app to fork, can you help? I cannot reproduce this issue

[2022-02-03 12:19] ApekshaBhosale opened #10865 "[Task]: Stop unnecessary uncaught promise errors to sentry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We don't need all of these errors to be logged into sentry, they are mostly user errors.

https://sentry.io/organizations/appsmith/issues/2877416816/events/?environment=Production&project=1546547&statsPeriod=14d

[2022-02-03 12:38] hiteshjoshi commented on #3199
- Mix panel events  @vuiets (P1)
- Readme file designs @vuiets ( P2)
- Beta tag by end of week @Debsourabh (P1)
- Monday release under beta. (P1)
- DP for Import flow -> http://ec2-3-108-64-217.ap-south-1.compute.amazonaws.com/
- UI changes for app import. @Debsourabh @vuiets (P1)
  - Changes to data source sections, remove sections and put a tick for configured and non configured datasources
  -

[2022-02-03 12:41] ApekshaBhosale commented on #10824
@ajinkyakulkarni this is not high but fixed it anyways.
there is a warning and i was checking the wrong list to disable the response panel.
warning in above code is - a variable is defined but never used.

[2022-02-03 14:38] #10857 closed

[2022-02-03 15:18] pranavkanade commented on #10841
@dilippitchika sorry my bad. Added the link.

[2022-02-03 15:59] #10824 closed

[2022-02-04 04:13] ashit-rath opened #10871 "Enable JS mode by default for Date and Switch default value property control"

[2022-02-04 05:28] dilippitchika commented on #10841
Thanks for identifying this @pranavkanade.

This is also an issue related to list widget. It's only failing when the rating widget is inside a list.

[2022-02-04 05:41] Rishabh-Rathod commented on #9365
Need to also consider https://github.com/appsmithorg/appsmith/issues/10579#issuecomment-1025597283

[2022-02-04 05:59] eco-monk commented on #10162
might be related to #10520

[2022-02-04 06:13] Rishabh-Rathod commented on #3532
Needs Discussion on product level on this feature.
cc: @ajinkyakulkarni  @rohan-arthur

[2022-02-04 06:16] ajinkyakulkarni commented on #3532
We will be soon starting a discussion for this feature in this Q1 2022

[2022-02-04 06:19] eco-monk commented on #9765
Ran into similar issue with tooltips for function arguments.
We could see if the same solution helps.
https://github.com/appsmithorg/appsmith/pull/10076

[2022-02-04 06:22] vicky-primathon commented on #10716
@chandannkumar  this issue is fixed on release

[2022-02-04 06:24] ajinkyakulkarni commented on #9845
Hey @ramsaptami , noticed that you are writing a binding inside a binding. Maybe the issue is happening because of that?
![image.png](https://images.zenhubusercontent.com/608fba85753b215e60bd4c31/4f5b6fd3-8cbf-49c8-895e-30f45da4a40c)

[2022-02-04 06:27] sbalaji1192 commented on #6492
Related to https://github.com/appsmithorg/appsmith/issues/9603

@Rishabh-Rathod Has provided a fix for #9603, which should solve this issue as well.
@techbhavin We can close your PR associated with this issue.

@Rishabh-Rathod Could you please verify this once on your DP and add this issue ID to your PR?

[2022-02-04 06:37] #10773 closed

[2022-02-04 07:09] #9635 closed

[2022-02-04 07:20] Nikhil-Nandagopal commented on #6732
@eco-monk why did we revert this fix?

[2022-02-04 07:26] noe-charmet opened #10876 "[Feature]: Allow dynamic string arrays in multipart"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

APIs using multipart would commonly expect list of values to be sent as unique values using the same key;

[code]

Currently it is not possible to map an array value in such a way in appsmith

### Why should this be worked on?

APIs expecting requests using this format can not be achieved, unless ther

[2022-02-04 07:34] noe-charmet opened #10877 "[Feature]: Do not send undefined values in multipart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When making a JSON request, it would be common to send an `undefined` value for a key. Servers would know to ignore it. For example in a PATCH operation, `undefined` would mean do not make a change, while `null` would indicate to set the value as `null`.

When doing multipart there is no such distinct

[2022-02-04 07:37] eco-monk commented on #6732
A user WazirX's apps were broken. cc: @mohanarpit
Wherever they used normal function as IIFE.

![image](https://user-images.githubusercontent.com/66776129/152489768-1aba31a6-5791-43d5-a7ae-a87aac2cb43b.png)

---

The changes will be brought back with the workaround.
https://github.com/appsmithorg/appsmith/pull/10826

Once merged, using arrow functions / optional chaining will help with this error.

[2022-02-04 07:41] techbhavin commented on #10756
@chandannkumar  as we discuss yesterday
here something is wrong in only the release version. it is working fine in PROD and the local version.

cc: @somangshu

[2022-02-04 08:20] leotom2000 commented on #10527
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/BE-Coders-Pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/10527?planning-poker) with ZenHub @nidhi-nair @sumitsum

[2022-02-04 08:21] leotom2000 commented on #9824
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/BE-Coders-Pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/9824?planning-poker) with ZenHub @nidhi-nair @sumitsum

[2022-02-04 08:21] Irongade commented on #10714
Same as issue #10873.

[2022-02-04 08:25] dilippitchika commented on #10126
The fix to this is to keep the camera dimensions contained within the width and the height of the bounding box like css object-fit contain property.

This will help retain the size and not confuse our users about the jerk in the images or videos.

[2022-02-04 08:27] somangshu commented on #10756
It probably would make sense to verify this after the release. There are no changes here, we fail to understand how it fails on release env only

[2022-02-04 08:32] Nikhil-Nandagopal opened #10878 "[Bug]: this.params shows undefined in evaluated value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When referencing params in a query, it shows undefined in the evaluated value
This should show similar to the way we do prepared statements

### Steps To Reproduce

1. Create a query that reads this.params.key
2. View the evaluated value

### Environment

Production

### Version

Cloud

[2022-02-04 08:33] #10643 closed

[2022-02-04 08:39] #10714 closed

[2022-02-04 08:42] hiteshjoshi opened #10880 "Performance analysis of git feature."

[2022-02-04 08:44] hiteshjoshi commented on #2840
- New OIDC integration directly with Spring JAVA. - In PR
- Admin APIs to configure OIDC on Appsmith - Not Started
- Expose the JWT tokens as server side replacement - In Progress

[2022-02-04 08:47] abhvsn commented on #10880
- Implement stopwatch to log execution time for APIs
- Update indexes in MongoDB as per the suggestions from execution time

[2022-02-04 08:57] abhvsn commented on #10250
For v1 we will be asking users to resolve merge conflicts manually on remote we have released a doc around this https://docs.appsmith.com/core-concepts/git-sync#pull-from-the-repository

[2022-02-04 08:59] hiteshjoshi opened #10881 "Expose the JWT tokens as server side replacement"

[2022-02-04 09:00] AnaghHegde opened #10882 "[Task]: Handle OAuth redirection for git import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

For Authenticating SAAS functions like GSheets we use Cloud service and in general post authentication user is redirected back to datasource page. But for Git import we want to redirect the user back to the applications page where we show the un-configured datasources.
- Add new parameter in OAuth fl

[2022-02-04 09:00] hiteshjoshi opened #10883 "Admin APIs to configure OIDC on Appsmith"

[2022-02-04 09:03] hiteshjoshi commented on #7498
@Pranay105 can we close this now?

[2022-02-04 09:03] #7498 closed

[2022-02-04 09:04] AnaghHegde opened #10884 "[Bug]: Git Import issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

- Import a new application from git and after importing see the pending changes in the app
- when importing application from private repo, if it already meet to repo limited number, then BE should be response repo
limited error code(4043). Currently when connect to git, the error code responded. but when importing

[2022-02-04 09:05] pranavkanade opened #10885 "Sign In Page configuration for OIDC"

[2022-02-04 09:07] ajinkyakulkarni commented on #9467
This could be achieved with #9130 , #9131

[2022-02-04 09:08] nidhi-nair commented on #3313
Closing in favour of #10434 since there are more implementation details there.

[2022-02-04 09:11] hiteshjoshi commented on #7253
@Deb for Git v2 this needs UI.

[2022-02-04 09:15] sharat87 commented on #2810
Hey @crato-ctl, thanks of sharing the logs. I don't see an `OutOfMemory` error from the logs, which is the topic of the issue. In fact, I don't see any error in the backend logs that should be causing instance impact for you. Can you share what user-facing errors or user experience degradation you are noticing please? If it's different from this issue, please feel free to open a new issue with the

[2022-02-04 09:16] nidhi-nair commented on #4568
Closing as resolved.

[2022-02-04 09:16] #4568 closed

[2022-02-04 09:20] Nikhil-Nandagopal commented on #3313
@nidhi-nair I'm keeping this one open since we get most of our upvotes on this issue just for community tracking

[2022-02-04 09:21] Nikhil-Nandagopal commented on #2810
@sharat87 this was a frontend related issue that we solved on a call :)

[2022-02-04 09:21] #10300 closed

[2022-02-04 09:23] noe-charmet opened #10887 "[Bug]: FilePicker selector counter does not reset when unmounted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a FilePicker is included in a modal, the `X files selected` text on the button is not reset with the modal open/close cycle.
Moreover, each time a new file is selected, the counter increases continously.

### Steps To Reproduce

1. Create a Modal widget with a FilePicker inside of it
2.

[2022-02-04 09:29] sumitsum commented on #6201
Update: we have an encoded bearer token based auth option in API datasource now.

[2022-02-04 09:34] rishabhsaxena commented on #9904
- [ ] Hide bottom bar in the preview mode
- [ ] Allow multi line commit messages

[2022-02-04 09:43] Rishabh-Rathod commented on #7344
Quoting @Nikhil-Nandagopal
`I'm not able to reproduce it now and since it's not too prevalent a case let's close it`

[2022-02-04 09:43] #7344 closed

[2022-02-04 09:49] Nikhil-Nandagopal commented on #10887
Hello, this seems like a duplicate of #6492

[2022-02-04 09:49] #10887 closed

[2022-02-04 10:17] Rishabh-Rathod opened #10889 "Add support for brotli in nginx server ( Need to add nginx config of brotli over gzip for browser which supports brotli )"

[2022-02-04 10:51] dilippitchika commented on #10611
Hey @kenleyshaw any updates?

[2022-02-04 10:53] dilippitchika opened #10890 "[Enhancement]: Allow users to update the background and text color in progress bars"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add style properties for progress bar background and text color.

### Why should this be worked on?

Allow for more customisation with the style controls for the progress bar.

[2022-02-04 10:59] #9826 closed

[2022-02-04 10:59] #10030 closed

[2022-02-04 10:59] #10033 closed

[2022-02-04 11:12] EmanuelFromFlorence commented on #7237
Header and bottom bar is very much needed.Here is my vote for that.

[2022-02-04 11:19] #4266 closed

[2022-02-04 11:32] #9766 closed

[2022-02-04 12:02] hiteshjoshi commented on #10391
FE : https://github.com/appsmithorg/appsmith/10747

[2022-02-04 12:04] hiteshjoshi opened #10892 "[Task]: FE for templates uploading."
This can probably be just an appsmith app for @Pranay105  and team.

[2022-02-04 12:06] hiteshjoshi commented on #8636
Update : @arunvjn is working on the POC and have some success.

[2022-02-04 12:22] #10743 closed

[2022-02-04 12:22] danciaclara opened #10893 "[Bug]: Currency Input stops accepting valid input after removing condition in valid property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If you add a condition in the valid property and then remove it later , the Currency Input widget flags all valid data as Invalid Input

### Steps To Reproduce

1. Drag and drop a Currency Input widget.
2. Add a condition in the valid property. The widget works fine even if you modify this co

[2022-02-04 12:22] #10818 closed

[2022-02-04 12:23] chandannkumar commented on #10716
@vicky-primathon still same issue. Since we are getting the error as "Violation of content security policy" in console only for release environment. Meanwhile we can confirm this fix after release
cc @somangshu

[2022-02-04 12:23] hiteshjoshi commented on #6410
Closing this and we will take care of rest of the issues separately.

[2022-02-04 12:23] #6410 closed

[2022-02-04 12:24] hiteshjoshi opened #10894 "[EPIC]-[6800]:Improving CRUD Generation"
Updating the current CRUD flow to incorporate the existing datasources, Incorporating JSON forms, and no longer relying on just the first 4 fields, and improving the design to make CRUD generation a complete experience

[2022-02-04 12:27] hiteshjoshi commented on #1996
Can we close this for now?

[2022-02-04 12:28] #10784 closed

[2022-02-04 14:16] Nikhil-Nandagopal commented on #1996
Year i think we should. We avoid breaking changes and if absolutely necessary we can use intercom. Let's reopen this if it becomes a priority

[2022-02-04 14:16] #1996 closed

[2022-02-04 14:47] sumitsum opened #10896 "[Bug]: handle empty column name in UQI sort component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The sort component introduced as part of UQI currently fails if any of the column names are empty. This is a problem because if a sort component is added to a query editor form then at least one sort component with an empty column gets added by default, which can make the query fail.

### Ste

[2022-02-04 20:04] Rishabh-Rathod commented on #7810
This seems to be more related to metaHOC and derived property's current flow causing the issue.
@sbalaji1192

Discussed possible solution to have property whose validation can be done on main thread.

[2022-02-04 20:22] #7307 closed

[2022-02-05 06:19] lhtrieu87 opened #10900 "[Bug]: Table does not refresh correctly when the number of records is reduced by server filtering."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I apply server filtering which reduces the number of records of a table, the table displays not data.
What I expected is the table displays the remaining records.

### Steps To Reproduce

1. Create a query with server filtering and the query returns 4 records
2. Set up the table height t

[2022-02-05 07:06] lhtrieu87 commented on #10900
After calling `resetWidget`('table name'), the behavior is as expected.

[2022-02-05 07:06] #10900 closed

[2022-02-05 07:06] Rishabh-Rathod opened #10901 "[Task] Application level action - POC"
Add `appLevel` accessor for app-level actions
- `appLevel.JSobject1` should work on all pages.
- `appLevel.Query` should work on all pages.

[2022-02-05 07:12] Rishabh-Rathod opened #10902 "[Docs]: Application Level actions example documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- How to access app-level actions?
- How to pass arguments?
- What is the difference between page-level actions vs app-level actions?
- When to use app-level actions?
- How to convert a page-level action to app-level action?

[2022-02-05 07:15] Rishabh-Rathod opened #10903 "[Task]: Add test for App level actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Make sure previous code is not harmed ( migration test )
- functionality test ( what is expected to work )
- negative test ( what is expected to now work )

[2022-02-05 07:17] Rishabh-Rathod opened #10904 "[Task]: Migration UI or error handling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Migration UI or error handling for application having names which will become keywords for apLlevel and orgLevel entity accessing.

[2022-02-05 13:08] ApekshaBhosale commented on #10382
As @SatishGandham pointed out we have found the issue and we are actively working on it.
One of the libraries we use in our code was taking most of the time but we have found an alternative library that improves performance by 40%. But again we are looking to improve more if we can immediately.
Will have an update soon.

[2022-02-05 13:51] momcilo-appsmith opened #10905 "[Feature]: Required form fields should have an indicator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

People usually go through forms looking for the required fields, if there are no indicators for them then they might fill everything out even if it is not required - that might make their process longer than needed.

### Why should this be worked on?

It will help our developers reduce the time needed

[2022-02-05 14:51] arbfay opened #10906 "[Feature]: Support custom SSL certificates for deployments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Support easily renewable, custom SSL certificates for an Appsmith deployment, instead of creating new ones from Let's Encrypt.

### Why should this be worked on?

Custom SSL certificates are necessary for deployments in Enterprise and high-security startups, where internal CAs are deployed and certifi

[2022-02-05 15:13] arbfay commented on #10906
A workaround is to use a sidecar proxy (envoy, linkerd2-proxy, etc) and disable SSL for Appsmith. This is what we're doing.

[2022-02-05 15:24] arbfay commented on #10906
[There is this section in the repo that says it is possible to load custom certificates.](https://github.com/appsmithorg/appsmith/tree/release/deploy/docker#custom-ssl-certificate)
This is not in the [docs](https://docs.appsmith.com/security). Any reason?

[2022-02-05 17:06] Rishabh-Rathod opened #10907 "[Task] [Test] App Level Entity Explorer UI test"

[2022-02-05 19:24] ohansFavour commented on #8677
Insight on this issue

1.  Currently, widgets present in the List widget have all their properties added to the `logBlacklist`. However, some fields, like the `Button.tooltip `doesn't get added to this list (see an example of the logBlacklist field for a button in a list widget below which doesn't include the tooltip property).

![Screenshot 2022-02-05 at 19.26.13.png](https://images.zenhubusercon

[2022-02-06 06:17] billyrudi commented on #10382
Thanks. I'm waiting for un appsmith update.

[2022-02-06 13:54] ag-anshul commented on #10096
Important for us too as without Oracle Database support we can even move past the POC stage

[2022-02-06 17:34] sumitsum opened #10908 "[Bug]: Handle OAuth redirection when user has been logged out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Not sure if this can be solved from our end:
This issue was seen with `keap` aka `infusionsoft` Oauth server. Sometimes during Oauth process the `keap` server indicates that the user has been logged out and redirects to the login page. Upon doing the login the expectation is to be re-directed

[2022-02-06 20:09] aswathkk commented on #8845
### Update on 4th Feb
- The tasks are re-estimated and this epic is supposed to be completed by March 11th.
- We will be pushing all the finished property controls into release rather than holding them in an intermediate branch. cc: @vuiets, @Nikhil-Nandagopal
- @aswatthkk will take feedback from the team regarding the keyboard navigation UX for Draggable list control and Option input control and

[2022-02-06 21:07] felixsuarez0727 opened #10909 "Fix Slowness/Failure to load Integration API Actions on Saas Integration Manager."
## Current Behavior

The *API Manager* page takes more than 2 minutes to load its contents and most of the time the API Actions Table won't load it's contents.

This happens on the following environments:

- Chromium: Version 97.0.4692.71 (Official Build) built on Debian 11.2, running on Debian 11.2 (64-bit)
- Firefox: 91.5.0esr (64 bit) on Debian 11.2
- Chrome: 98.04758.81 (Official Build) (64-bi

[2022-02-06 21:11] felixsuarez0727 opened #10910 "Fix "Run" button randomly disables itself after changes on form are saved."
## Current Behavior

The "Run" button on the REST APIs form (the one used for testing), gets disable after saving changes with the "Save" button. In some cases, it won't come back unless the page is reloaded.

**Note:** A workaround is to remove `{{Utils.isDirty()}}` from the *Disabled* input box of the button. This could be the solution, but the effects of this change need to be determined.

This

[2022-02-06 21:15] felixsuarez0727 opened #10911 "Input box removes last character on URL input of Saas Integration Manager."
## Current Behavior

When a URL that contains a template string "<<>>" into the "URL & Params" input, the last ">" is sometimes removed from the whole input. This happens when you type fast.

This happens on the following environments:

- Chromium: Version 97.0.4692.71 (Official Build) built on Debian 11.2, running on Debian 11.2 (64-bit)
- Firefox: 91.5.0esr (64 bit) on Debian 11.2
- Chrome: 98.0

[2022-02-07 02:08] sumitsum commented on #5007
Closing since the issue is no longer seen. I can see a fix handling this case that was added a while ago.

[2022-02-07 02:08] #5007 closed

[2022-02-07 04:34] ashit-rath opened #10915 "Port Select and Multi-Select V2"

[2022-02-07 04:37] albinAppsmith opened #10916 "[Task]: POC on Design System tools"

[2022-02-07 05:03] RakshaKShetty commented on #10835
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/152727354-fb0fea78-d589-4d1b-8c1a-45c41bb96789.png">

[2022-02-07 05:47] Nikhil-Nandagopal commented on #10906
@arbfay you are right this seems to be a miss on our documentation. We'll add this there

[2022-02-07 05:51] sumitsum opened #10918 "[Feature]: S3 : add support for delete many"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to delete multiple files at once.

### Why should this be worked on?

Provides new capability.
Ease of use.

[2022-02-07 06:00] Nikhil-Nandagopal commented on #7016
Closing in favor of #10096

[2022-02-07 06:00] #7016 closed

[2022-02-07 06:32] #10906 closed

[2022-02-07 06:53] Nikhil-Nandagopal commented on #10908
@sumitsum need more information here. What do you mean by it should be redirected to the Appsmith Page? Which Appsmith page is this? Shouldn't this trigger the authentication flow for the user again?

[2022-02-07 07:08] sumitsum commented on #10908
@Nikhil-Nandagopal I meant re-directing to the Appsmith datasource page, after which the user could either manually re-trigger the authentication process or we auto re-trigger the authentication process.

[2022-02-07 07:43] shwetha-ramesh opened #10923 "[Bug]-[700]:Welcome tutorial ends on page refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user is in the middle of the tutorial and the page gets refreshed the tutorial ends abruptly.

https://loom.com/share/1dd574b0442e4630a94b8747aafe1cfd

### Steps To Reproduce

1. Start the Welcome tutorial > Click on refresh on any step of the tutorial and observe

### Environment

R

[2022-02-07 07:56] shwetha-ramesh opened #10925 "[Bug]-[5000]:Spelling error in step 7 of the tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Spelling error in step 7 of the tutorial

![image](https://user-images.githubusercontent.com/92293815/152746908-1dcca45d-6d1d-4289-89e6-cfcc3c4642f2.png)

### Steps To Reproduce

1. Start the welcome tutorial
2. Proceed to Step 7 and read the description on the header .

### Environment

Rele

[2022-02-07 08:19] keyurparalkar commented on #9244
Apologies for the late reply!!

The issue is internal to the app's logic. I am maintaining the setInterval's reference value in `appsmtih.store`. Whenever we click on the start button this value is store in the `refId` variable. I forgot to apply a condition that will limit the spawning of setIntervals. I have added this condition now and it is working as expected.

By apply condition like before

[2022-02-07 08:19] #9244 closed

[2022-02-07 08:21] chandannkumar opened #10926 "[Bug]: Reset widget on Click is not working for filepicker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The count of files uploaded via filepicker widget is not getting reset to default and also already files are not getting removed from selection after Reset of widget.
ref video:

https://www.loom.com/share/83c9567a13bb405f9effc3ae5d5b0cd7

### Steps To Reproduce

1. Add a filepicker widget to

[2022-02-07 08:36] shwetha-ramesh opened #10927 "[Bug]: Tooltip cuts off for Organization name onhover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a long organization name is added and when the user hovers over the name on the left hand side of the home page, the tooltip gets cuts off from the screen

![image](https://user-images.githubusercontent.com/92293815/152752414-c8c283f4-598f-4910-8824-709885edaf24.png)

### Steps To Reprod

[2022-02-07 08:55] #10896 closed

[2022-02-07 08:59] danieldare commented on #10876
Hi @noe-charmet, Just to Mention, we are currently working on the issue.

[2022-02-07 09:00] #8872 closed

[2022-02-07 09:04] somangshu commented on #7279
@yaldram can you start triaging this, We need to find the right solution for this, This is a very annoying bug

[2022-02-07 09:08] danciaclara opened #10929 "[Feature]: Slack integration for comments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Slack integration for comments like on Miro

### Why should this be worked on?

Was requested by a user on Discord - https://discord.com/channels/725602949748752515/760761686549463060/939178067476230184

[2022-02-07 09:29] chandannkumar opened #10931 "[Bug]: Unable to download file from image widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Adding a url to image widget is displaying the image but downloading the same file is not working on release

![image](https://user-images.githubusercontent.com/95341241/152761134-7f9fc95f-06fe-48f6-b970-43c050cb9558.png)

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/0b425dd8c9bf4345

[2022-02-07 09:38] webdada commented on #1950
I would like to upvote this issue as well.

The use case for me, working as an enterprise architect on modernization projects, is a very common pattern of breaking monolithic applications into smaller chunks and modernizing them according to best value.

If we can use Appsmith to build the DB queries, and then expose the queries using REST APIs, or Webhooks, then that is solving a hard issue for I

[2022-02-07 09:51] abhvsn opened #10932 "[Bug]: Convert unordered Set to ordered one before committing the file to repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

As the `layoutOnLoadAction` have `List<Set<DslActionDTO>>` datatype which includes the unordered set, this shows unnecessary file changes when we serialize the objects to the JSON files.

### Steps To Reproduce

1. Connect application to git
2. Create multiple `onPageLoadAction`
3. Try change

[2022-02-07 09:51] #9036 closed

[2022-02-07 10:24] RakshaKShetty opened #10934 "[Bug]: The deploy functionality is not working in slim container for large dataset"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The deploy functionality is not working in a slim container for large dataset
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7d34cf3185ec43beb164da29cc1e8dc8-00001.gif)](https://www.loom.com/share/7d34cf3185ec43beb164da29cc1e8dc8)

### Steps To Reproduce

1. In the local instance
2. Ad

[2022-02-07 10:57] fsureau-kpler commented on #10496
Hi, the indeterminate status is a bug, right? We can set it to indeterminate but it does not change the behaviour

[2022-02-07 11:40] rohan-arthur commented on #10493
fix is in progress - awaiting review

[2022-02-07 11:55] Nikhil-Nandagopal commented on #10660
@nidhi-nair can we also solve this? We seem to be getting this issue with multipart forms a lot

[2022-02-07 12:01] nidhi-nair commented on #10660
@Nikhil-Nandagopal this seems to be triggered during the import app from file flow, we use multipart for this request as well.

[2022-02-07 12:13] sharat87 opened #10936 "[Bug]: Header tags are not styled correctly in the Text widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I use header tags like `h1`, `h2`, etc. inside the Text widget, these used to get the standard header styling applied to them in the past. But now, text inside these tags look like normal text. The problem seems to be that Tailwind resets the styles for these tags with the following CSS:

[2022-02-07 12:16] Nikhil-Nandagopal commented on #10936
@dilippitchika @somangshu how did this break?

[2022-02-07 12:20] shwetha-ramesh opened #10937 "[Bug]: Menu variant shows no selection in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Menu variant shows no selection in table widget. The default variant (Primary) must be displayed.

![image](https://user-images.githubusercontent.com/92293815/152785127-a354d671-3e9d-4c20-96d2-26b446345c62.png)

### Steps To Reproduce

1. Drag and drop a table widget
2. Click on 'step' settin

[2022-02-07 12:21] somangshu commented on #10936
Apparently with the use of tailwind @Nikhil-Nandagopal. All tags have font-size inherit

Cc @jsartisan

[2022-02-07 12:22] Nikhil-Nandagopal commented on #10660
@nidhi-nair thanks for the clarification!
@abhvsn @hiteshjoshi can we look into this?

[2022-02-07 12:27] riodeuno opened #10938 "[Perf]: Too many errors slows debugger rendering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we have large, improperly formatted, data being validated; large number of error messages are rendered in the debugger.
For example, if we're trying to bind an array with 20000 entries (objects) in a chart widget, and these entries do not have x and y properties, validations return 20000

[2022-02-07 12:29] abhvsn commented on #10660
I'll look into this issue on priority.

[2022-02-07 12:58] sharat87 opened #10939 "[Bug]: Creating an action after binding to a widget still show action as not available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I bind a button to an action that doesn’t exist, I get an error saying the action doesn’t exist. But when I go create that action and come back, the error is still there.

https://user-images.githubusercontent.com/120119/152792143-d77cfd9c-ca05-4fcd-a48b-8aaf936afc33.mov

### Steps To Repr

[2022-02-07 13:08] enote-kane commented on #3920
+1 for this feature.

What I'd like to see happening also is to then have validation of field inside the app (e.g. drop-down box auto-filled with enum values, auto-suggestion in a free text field or error indicators when something invalid is entered).

[2022-02-07 13:13] RakshaKShetty commented on #3836
reopening the issue facing similar issue in s3 https://www.loom.com/share/758c90e448494370b3549833daf18a99

[2022-02-07 13:16] chandannkumar opened #10940 "[Bug]: Alignment of rating stars is not straight when size is set to Small"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Alignment of filled rating stars and unfilled stars are not in a straight line. We can observe the difference by hovering onto rating stars after making size as Small

![image](https://user-images.githubusercontent.com/95341241/152793883-826f1253-145a-4281-949e-e7c07b235380.png)

![image](htt

[2022-02-07 13:20] nidhi-nair commented on #801
Closing as this is now available on production.

[2022-02-07 13:20] #801 closed

[2022-02-07 13:24] Nikhil-Nandagopal commented on #801
@nidhi-nair can we get some documentation around this?
@vihar can we plan for a tutorial with this integration?

[2022-02-07 14:39] yatinappsmith commented on #10934
slow response from query causes chrome to block popups. Hence apps was not accessible in view mode

[2022-02-07 15:30] yatinappsmith commented on #10934
added app as attachment

[2022-02-07 17:22] funge commented on #9226
Any update on this one? Thanks

[2022-02-07 17:37] #10871 closed

[2022-02-07 18:11] sbalaji1192 opened #10944 "[Bug]: Input widget `onSubmit` ends up triggering `onTextChange`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When an input widget has onSubmit and onTextChange configured, on pressing enter, both events gets triggered.get

### Steps To Reproduce

1. Add an input widget.
2. Add {{showAlert("onSubmit")}} to onSubmit event.
3. Add {{showAlert("onTextChange")}} to onTextChange event.
4. Type something o

[2022-02-07 18:11] sbalaji1192 commented on #10944
CC @dilippitchika @somangshu

[2022-02-07 19:18] #10932 closed

[2022-02-08 05:08] dilippitchika opened #10948 "[Bug]-[200]:On selecting a widget in explorer pane, the canvas doesn't auto-scroll to the widget selected."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i have a lot of widgets in my canvas and the canvas is scrollable, I am unable to reach the widget i selected using the explorer pane automatically. This worked in the older version of the explorer pane.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/0e987d5dc0fb48a1a50f1456341c6

[2022-02-08 05:28] rohan-arthur commented on #9564
![Screenshot 2022-02-08 at 10 58 12](https://user-images.githubusercontent.com/94514895/152924036-cacd6578-42c5-4509-bb68-8d8f79328845.png)

still not fixed - reopening

[2022-02-08 05:32] sumitsum commented on #10908
@Nikhil-Nandagopal yes, in case of view mode when the viewer can also authenticate then the re-direction should be to the authentication screen.

[2022-02-08 05:57] RakshaKShetty opened #10950 "[Bug]: Git Import Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- [x] The invalid author name error is displayed when a user tries to import the file from git
- [ ] If the User import the app from instance 1 to instance 2 then the warning or error message should be displayed
- [x] When the user imports the application there should not be any uncommitted c

[2022-02-08 07:22] SatishGandham opened #10955 "[Epic]: UI Performance infra V2 [WIP]"
### Objective

In the first iteration, we were able to automate capturing a performance profile and parse it. We will be building on it to make the infra robust and more useful

- We get information on memory and other things when we parse the profile. Capture that information.
- Fork the library we are using to parse the profile and fix the warnings/errors it throws or find an alternate library.

[2022-02-08 07:38] chandannkumar opened #10956 "[Bug] Search result's selection of rows gets unselected after clearing search text from Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we search anything on table widget, if we do multiple select only for search results and once we move back to default view from search results, the selected rows get deselected automatically

https://www.loom.com/share/0e0c6b8666a04a3d9e8445139adee29d

### Steps To Reproduce

1. Add tabl

[2022-02-08 07:52] sumitsum commented on #5743
Seems like a FE issue. With such large numbers the data type `NumberLong` has to be used. Otherwise Mongodb internally rounds up the numbers. However, when `NumberLong` type is used the API server returns the correct response, as visible in the response section of the newtork call, but the client seems to round up the number before rendering them.

[2022-02-08 08:27] leotom2000 opened #10958 "[Bug]-[400]:Stale connection when using PostgreSQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using PostgreSQL the query fails in a self hosted environment where PostgreSQL resided in another machine.
On Initial analysis, found it could be related to stale connection, need more analysis

Initial analysis by @sumitsum @leotom2000

Ref : Users issue on discord  https://discordapp.c

[2022-02-08 08:34] danieldare opened #10959 "[Bug]-[120000]:Status details section in the API Response view needs Adjustment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The API Response view needs to show the success status scenario in its entirety

https://user-images.githubusercontent.com/25982036/152947924-5e6adc8f-a0fe-4dd0-a10c-b589108ffb81.mov

### Steps To Reproduce

1.  Create a GET Request
2. Check the status code.
3. Observe that the success status

[2022-02-08 09:04] parth-appsmith commented on #7976
We dont allow deletion of datasources as long as there are queries/api's connected to that datascource correct?
In that case the scenario when the user is deleting a datascource there is no harm that the application will break, so in this case is it beneficial for us to add another step to the deletion of the datascrouce flow by prompting the user for confirmations?

- There is no way that the act

[2022-02-08 09:19] IAmAnubhavSaini opened #10961 "[Bug]: React warning about `trimValue` on input in dev console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Fix it.

[code]

![image](https://user-images.githubusercontent.com/1573771/152955586-cde9b965-deeb-4a68-afe3-9ddbb859a37e.png)

[2022-02-08 09:39] nidhi-nair opened #10963 "[Bug]: MySQL channel is closed after 60 seconds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For long running queries, the Netty channel handler seems to close the waiting channel if there is no keep alive signal for 60 seconds.

### Steps To Reproduce

Ref: https://discord.com/channels/725602949748752515/760761686549463060/939178617102020648

### Environment

Production

### Version

[2022-02-08 11:15] mojtab23 commented on #5326
### Explanation
MongoDB aggregation pipeline consists of one or more [stages](https://docs.mongodb.com/manual/reference/operator/aggregation-pipeline/#std-label-aggregation-pipeline-operator-reference) that process documents. Appsmith aggregation input also accepts a single JSON object and treats that as an aggregation pipeline with one stage, therefore we have two methods for validating user inpu

[2022-02-08 11:16] areyabhishek opened #10968 "[Bug]: Links in comment's notification email don't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Example of the link received by a user: link received : https://app.appsmith.com/applications/app_id/pages/null/edit?commentThreadId=thread_id&isCommentMode=true
there is a "null" value in the url that's probably causing the issue

### Steps To Reproduce

Tag someone in a comment to create a

[2022-02-08 11:17] SatishGandham commented on #10473
- [ ] Identify essential code and find a way to customise the chunks with it.
- [ ] Log performance runs data to a persistent storage.

[2022-02-08 11:26] sbalaji1192 commented on #10683
RCA of the original issue: The currency widget and Phone input widget updates meta property(countryCode) when it gets mounted. List widgets changes its children's id to `list-widget-child-id-${itemIndex}-${widgetName}`. when updating the meta property we're sending this id instead of the original Id and this id is supposed to be only used by the list widget, hence platform is not recognizing this

[2022-02-08 11:29] #10783 closed

[2022-02-08 11:29] #9414 closed

[2022-02-08 11:43] #10938 closed

[2022-02-08 11:45] cdoudet opened #10970 "[Bug]: Parametred qry do not correctly load on load page due on bad incoming entities response"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

My main qry is like this:
[code]
run qry on page load is setted for both qry

on refresh page or app start the main qry return blank lines

the problem is that this main qry is launched before the result of {{Qry_centrale6_somme.data.find(el => el.centrale6==="MAXEDA").sum}}
so the result is

[2022-02-08 11:50] #9306 closed

[2022-02-08 12:01] dilippitchika commented on #10800
@ashit-rath please find the PRD and design here - https://www.notion.so/appsmith/JSON-form-limits-d2798c7df18545529c0f9a7f239a18f7

[2022-02-08 12:03] riodeuno commented on #9601
Solution 2. is available in release. #10886

[2022-02-08 12:26] dilippitchika opened #10972 "[Enhancement] : Button widget reskinned"
https://www.notion.so/appsmith/Button-bb3d820d41da428db9a98a4fa1f88afc

[2022-02-08 12:27] dilippitchika opened #10973 "[Enhancement] : Container widget reskinned"

[2022-02-08 12:28] dilippitchika opened #10974 "[Enhancement] : Chart widget reskinned"
https://www.notion.so/appsmith/Chart-aac49a84bc5a41248dacaed65d7cf6b9

[2022-02-08 12:30] dilippitchika opened #10975 "[Enhancement] : Checkbox widget reskinning"
https://www.notion.so/appsmith/Checkbox-b8a235faf3b74fa2aff59f68cafc0c05

[2022-02-08 12:41] dilippitchika opened #10976 "[Enhancement]: Divider widget reskinning"
https://www.notion.so/appsmith/Divider-1acc4d9ec8ed4a1f9b248d1a99448ec1

[2022-02-08 12:42] dilippitchika opened #10977 "[Enhancement]: Form widget reskinning"
https://www.notion.so/appsmith/Form-42fd8dcc1ecf43159b13393a95ddedf2

[2022-02-08 12:42] dilippitchika opened #10978 "[Enhancement]: Iframe widget reskinning"

[2022-02-08 12:43] dilippitchika opened #10979 "[Enhancement]: Image widget reskinning"
https://www.notion.so/appsmith/Image-ba96edc31359457789588d7ada8b0556

[2022-02-08 12:45] dilippitchika opened #10980 "[Enhancement]: Map widget reskinning"
https://www.notion.so/appsmith/Map-b799350c9cf44bf7bcd39efdc76385ef

[2022-02-08 12:45] dilippitchika opened #10981 "[Enhancement]: Map chart widget reskinning"
https://www.notion.so/appsmith/Map-chart-c31073bb56ed40a5964edf137159ab08

[2022-02-08 12:45] dilippitchika opened #10982 "[Enhancement]: Modal widget reskinning"
https://www.notion.so/appsmith/Modal-aceb586c6313452f99e54a6f4cc7b329

[2022-02-08 12:46] dilippitchika opened #10983 "[Enhancement]: Rating widget reskinning"
https://www.notion.so/appsmith/Rating-6b06cb1357a6417296d90295abf9d584

[2022-02-08 12:46] dilippitchika opened #10984 "[Enhancement]: Multi-select widget reskinning"
https://www.notion.so/appsmith/Multi-select-96d9f6e0cb3e4a75883f827c62293d64

[2022-02-08 12:48] dilippitchika opened #10985 "[Enhancement]: Radio group reskinning"
https://www.notion.so/appsmith/Radio-group-a82e799a8e254bf9a2ed16704c484d1b

[2022-02-08 12:48] dilippitchika opened #10986 "[Enhancement]: Rich text editor reskinning"
https://www.notion.so/appsmith/Rich-text-editor-2edaa00c265f458c84cb244b65511902

[2022-02-08 12:48] dilippitchika opened #10987 "[Enhancement]: Switch reskinning"
https://www.notion.so/appsmith/Switch-51f47213ed53455eb4fe035b64b5dc0b

[2022-02-08 12:49] dilippitchika opened #10988 "[Type]-[497]:Select reskinning"
https://www.notion.so/appsmith/Select-2e17fe3eface46c49111170f623deb90

[2022-02-08 12:49] dilippitchika opened #10989 "[Enhancement]: Icon button widget reskinning"
https://www.notion.so/appsmith/Icon-button-9e58a97721c84a8f8ca03008b24353c3

[2022-02-08 12:50] dilippitchika opened #10990 "[Enhancement]: Multi-tree-select widget reskinning"
https://www.notion.so/appsmith/Multi-tree-select-71b4444eaf7d4ef7b19747494b021176

[2022-02-08 12:50] dilippitchika opened #10991 "[Enhancement]: Tree-select widget reskinning"
https://www.notion.so/appsmith/Tree-select-ea9d44492b144125906cece6cf9a0dfb

[2022-02-08 12:50] dilippitchika opened #10992 "[Enhancement]: Audio recorder widget"

[2022-02-08 12:51] dilippitchika opened #10993 "[Enhancement]: Stats box widget reskinning"

[2022-02-08 12:52] dilippitchika opened #10994 "[Enhancement]: Audio player widget reskinning"

[2022-02-08 12:53] dilippitchika opened #10995 "[Enhancement]: Table widget reskinning"
Fix all CSS related issues in the current table widget

[2022-02-08 12:53] dilippitchika opened #10996 "[Enhancement]: Menu button widget reskinning"
https://www.notion.so/appsmith/Menu-button-89d769789aac4cb9a374ea2c1ddbe21e

[2022-02-08 12:54] dilippitchika opened #10997 "[Enhancement]: Filepicker widget reskinning"
https://www.notion.so/appsmith/Filepicker-b587b3cc2f7648c69c507e8808fa9f15

[2022-02-08 12:55] dilippitchika opened #10998 "[Enhancement]: Progress bar reskinning"

[2022-02-08 12:55] dilippitchika opened #10999 "[Enhancement]: List widget reskinning"
https://www.notion.so/appsmith/List-4ef5910007254260b3fdb7c92b79594f

[2022-02-08 12:58] dilippitchika opened #11000 "[Enhancement]: Text widget reskinning"
https://www.notion.so/appsmith/Text-da1dc5ca6d7e408fa73734d4acfedd03

[2022-02-08 14:41] #10669 closed

[2022-02-08 15:07] dilippitchika commented on #6766
Asked about this in https://community.appsmith.com/t/how-do-i-dynamically-create-menu-items-in-the-menu-button-column-type/517/7

[2022-02-08 15:22] Nikhil-Nandagopal commented on #10908
So this is related to #3313 because without it we cannot have this

[2022-02-08 15:22] #10908 closed

[2022-02-08 17:13] ankitakinger opened #11007 "[Bug]: Default state of users can signup should be true in Admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On admin settings page, the default state of whether users can signup shows false even though it's true

### Steps To Reproduce

1. Go to Admin settings page
2. Click on Authentication tab
3. Click on Form login Authentication method
4. The toggle button is off for signup even though it shoul

[2022-02-08 17:34] leotom2000 commented on #9902
Seems we need to prioritise this issue,  one more user reported this issue. In fact they are using columns upto 'CP' and around 1500 rows. That is leading to continuous unresponsive alerts.

[2022-02-08 17:57] mohanarpit opened #11008 "[Bug]: Make JS Object page consistent with Query and Api pages."
Description

- The name/ title component of the JSObject is different from that of Apis and Queries.

<img width="247" alt="Screenshot 2022-02-08 at 11 26 12 PM" src="https://user-images.githubusercontent.com/458946/153047263-d5a7f787-ebd3-4126-862c-d4bbc8da0e48.png">

<img width="272" alt="Screenshot 2022-02-08 at 11 26 06 PM" src="https://user-images.githubusercontent.com/458946/153047268-41a9d8

[2022-02-08 18:08] mohanarpit opened #11009 "[Bug]-[20488]:Maintain context in the UI editor when I switch between pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently when I switch between pages: UI, API pane, DB query & back to UI, the state of the UI is lost. It loads the default state of the page. I have to select the particular widget & the specific property I was editing in order to make changes. Not sure how big a change this will be in the

[2022-02-08 18:32] leotom2000 opened #11010 "[Bug]: Apps not getting shared even though public"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Summary of the discussion/understanding from the session with the user:
(1)The user have created around 10 applications and made the app access as public.
(2)They use the sharing url to embed Appsmith application into their custom application using iframe.
(3) They provide necessary accessTok

[2022-02-08 18:41] leotom2000 commented on #11010
A workaround like creating a new application from scratch similar to the failing application was suggested and it works, so the user is not blocked at this point.

Suspect it could be anything related to session or tokenId getting blocked for few of their users.
Let us wait until we hear from the user again to prioritise this issue, since the scenario is currently vague.

[2022-02-08 21:27] some-rando opened #11012 "[Bug]: Phone Input Widget doesn't reset auto-format after number is too long then fixed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On both cloud and self-hosted v1.6.9 the Phone Input widget auto formatting changes to a non-formatted string of numbers when more than 10 digits are entered. That's logical. But when the user fixes the number so it's 10 digits the auto-formatting isn't turned back on even when leaving and re

[2022-02-08 22:45] areyabhishek commented on #11012
Hi some-rando,

Thanks for creating this issue. This does seem a bit annoying for users. We'll pick this up when fixing input widget issues.

[2022-02-09 03:01] leotom2000 opened #11013 "[Bug]: Issue When copying a listWidget from modal to another"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 Issues related to modal
(1) When we copy a listwidget from a modal to another the currentItem property will be undefined.
(2) in a modal form the select widget have problems with manual configurations of items. it reports incorrect line break.

Issue reported by a discord user.
https://disco

[2022-02-09 04:00] #10755 closed

[2022-02-09 04:08] #10493 closed

[2022-02-09 04:42] yatinappsmith commented on #9711
UI is not available. @prapullac

[2022-02-09 05:01] dilippitchika commented on #10944
Starting the discussion here, after on Submit is clicked we should not allow on Text change to be triggered. This need not be a migration, to prevent users whose apps are built using this to break.

[2022-02-09 05:03] dilippitchika commented on #10956
Interesting find, thanks for bringing this to our attention. Needs to be investigated further.

[2022-02-09 05:04] prapullac commented on #9399
Not testable Ui not ready

[2022-02-09 05:05] prapullac commented on #9397
Not testable Ui not ready

[2022-02-09 05:07] prapullac commented on #9348
Not testable Ui not ready

[2022-02-09 05:08] prapullac commented on #9223
requires some backend changes

[2022-02-09 05:09] prapullac commented on #9223
requires some backend changes

[2022-02-09 05:10] prapullac commented on #7982
MSSQL database connection credentials required

[2022-02-09 05:11] prapullac commented on #7893
Not testable Ui not ready

[2022-02-09 05:12] prapullac commented on #6951
Not in Release Yet

[2022-02-09 05:15] abhvsn commented on #9807
@nayan-rafiq sentry reported this issue again can you check once

[2022-02-09 05:25] albinAppsmith opened #11015 "[Task]: New entity explorer bug fixes and improvements"

[2022-02-09 05:30] albinAppsmith commented on #11015
- The widgets and dependencies folder in entity explorer doesn’t stay unfurled when I switch to the widgets pane to add a widget.
- The queries/JS folder stays unfurled even when I close it and switch to widgets pane.
- Every folder should maintain the state I left it in even when I refresh the page.
- The position of the :heavy_check_mark: beside the page name is different for the first item in t

[2022-02-09 05:43] ankitakinger commented on #8526
This seems to have been fixed and so now works as expected.

[2022-02-09 05:43] #8526 closed

[2022-02-09 06:02] pranavkanade commented on #9700
<img width="472" alt="Screenshot 2022-02-09 at 11 32 13 AM" src="https://user-images.githubusercontent.com/13262095/153131361-7775df46-dbb1-4d6d-a3df-de53bae26b98.png">
User request on intercom

[2022-02-09 06:13] RakshaKShetty opened #11016 "[Bug]: The from email id is displayed wrong in the commenting emails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The wrong email id is displayed when user 1 tag user 2 and add a comment in the comment section
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/153132435-f51d5194-b62a-436b-a95d-b6f7f72eabea.png">

### Steps To Reproduce

1. Go to commenting feature
2. Ta

[2022-02-09 06:15] AmanAgarwal041 opened #11017 "[Bug]: Tab names in Tab Widget can be renamed to same name from Property Pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Current: The tab names should not be of same name. If you change the name from the Entity Explorer, it shows error if you are changing it to used names but from property pane the tab names can be set to same names.

Expected: The tab names should be unique, so should not be able to change to

[2022-02-09 06:30] dilippitchika opened #11021 "[Enhancement] : Video widget reskinning"
https://www.notion.so/appsmith/Video-d617e6f7ba3548dcbb386f0d51527da4

[2022-02-09 06:31] dilippitchika opened #11022 "[Enhancement] : Switch group widget reskinning"
https://www.notion.so/appsmith/Switch-group-39b21f09ed2042e5955194d42b46866a

[2022-02-09 06:32] dilippitchika opened #11023 "[Enhancement] : Phone input widget reskinning"
https://www.notion.so/appsmith/Phone-input-96ac4aa08ee04198a4a610524d0860ea

[2022-02-09 06:38] dilippitchika opened #11024 "[Enhancement] : Datepicker widget reskinning"
https://www.notion.so/appsmith/Datepicker-5c65ea190a4146609d300d0c770dc1b3

[2022-02-09 06:39] dilippitchika opened #11026 "[Enhancement] : Currency input widget reskinning"
Scope - https://www.notion.so/appsmith/Currency-widget-03bf484b3e474058aad34d6da4a0dac3

[2022-02-09 06:40] dilippitchika opened #11027 "[Enhancement] : Checkbox group widget reskinning"
https://www.notion.so/appsmith/Checkbox-group-659541492f7d47bb9e2a0e6e46361580

[2022-02-09 06:40] dilippitchika opened #11028 "[Enhancement] : Camera widget reskinning"
https://www.notion.so/appsmith/Camera-d6dac9571f1a4967a28c3458ae8f94ec

[2022-02-09 06:44] sumitsum opened #11029 "[Bug]: Curl importer improvements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Quoting from Slack:
[code]
Ref: https://theappsmith.slack.com/archives/C02KTH6EHUG/p1644372129617709

### Steps To Reproduce

1. Create a curl importer component.
2. Add curl string. press cmd+enter.

### Environment

Production

### Version

Cloud

[2022-02-09 06:51] somangshu commented on #7810
@sbalaji1192 should this be worked on by the UI Builders?

[2022-02-09 06:58] sbalaji1192 commented on #7810
@somangshu I have started a thread on slack regarding this. We still haven't found a potential solution for this.

[2022-02-09 07:01] prapullac commented on #6195
verified under regression

[2022-02-09 07:02] somangshu commented on #7810
@sbalaji1192 we if have a conclusion, please drop it here

[2022-02-09 07:02] #9597 closed

[2022-02-09 07:05] #11007 closed

[2022-02-09 07:07] somangshu commented on #10528
@lublak I think I might have a solution here, You can run both the queries on page load using the JS objects, you can ensure if an ID in the first table is selected and present and based on the that call the Query for table 2. Further when you change the selectedRow with the help of onRowSelected event call the same query (as it is today).

This will work since the table first row is expected to h

[2022-02-09 07:08] somangshu commented on #10528
@riodeuno @dilippitchika can you guys chime in here to understand the original request

[2022-02-09 07:10] SatishGandham opened #11030 "[Bug]: API editor freezes when the response is large."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we run the API and the the api returns large amount of data (rows*columns), the page freezes.
I think this happens because we show all the data using react json view which results in  lot of dom nodes.

We should show only first 2-3 records in full and collapse the rest or use code mirro

[2022-02-09 07:10] somangshu commented on #7256
@mnesarco thanks for adding more context here, We appreciate it, This will help us triage the issue further

[2022-02-09 07:15] sbalaji1192 commented on #10683
fixed as part of https://github.com/appsmithorg/appsmith/pull/10928

[2022-02-09 07:17] somangshu commented on #10053
@momcilo-appsmith I like the thought, But from how we separate widgets, I will argue that this should be separate. An idea for design would be if for the text area we bring the icon outside the field / textarea, aligned on the top.

[2022-02-09 07:18] chandannkumar commented on #10716
Reopening this. Since this issue is not working on release because of above reason mentioned.
Adding console error screenshots
![image](https://user-images.githubusercontent.com/95341241/153140652-0a094bd3-e2e0-4fcb-a38d-0310bc5552c4.png)
![Screenshot (23)](https://user-images.githubusercontent.com/95341241/153140754-22dde064-fb23-434e-80dc-b505da808dff.png)

[2022-02-09 07:18] somangshu commented on #8623
@dilippitchika what is the solution, I still dont see the clarity here

[2022-02-09 07:20] somangshu commented on #10716
@sharat87 can you help us here? Not sure if this is something to do with the release env itself

[2022-02-09 07:23] somangshu commented on #10486
@dilippitchika in case there is enough clerity here with what needs to be implemented, Please move this to the backlog and unassign yourself

[2022-02-09 07:31] somangshu commented on #11017
We should do what we do for the table widget currently

![Screenshot 2022-02-09 at 1 01 14 PM](https://user-images.githubusercontent.com/11089579/153142592-15e900e8-500c-4e51-973b-9469b68e44e0.png)

[2022-02-09 07:33] sharat87 commented on #10716
Added `www.gstatic.com` for `script-src`. Can we check once again please? @chandannkumar

[2022-02-09 07:42] kocharrahul7 opened #11031 "[Task]: Adding new datasources to the entity explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Users have found a lack of feedback on the entity explorer after they created a datasource. to help combat this, along with the existing list of datasources, users should see a list of the 3 most recently created datasources in their organisation. These datasources should appear below the current dat

[2022-02-09 07:43] Nikhil-Nandagopal commented on #10791
@vivekverma2312 @riodeuno is this solved and not shipped? We are seeing more errors related to this

[2022-02-09 07:47] vivekverma2312 commented on #10791
@Nikhil-Nandagopal The fix is only on release currently. I can still repro this on prod.

[2022-02-09 07:48] chandannkumar commented on #10716
This seems working fine now

[2022-02-09 07:48] #10716 closed

[2022-02-09 07:49] Nikhil-Nandagopal commented on #9999
@abhvsn it seems to be happening again
https://sentry.io/organizations/appsmith/issues/2882957823/?environment=Production&project=1546547&referrer=alert_email

[2022-02-09 07:50] eco-monk commented on #10372
Issue is fixed at `feature/form-builder-widget` now.
Since `defaultValue` getting removed properly now. (There are no repetitions)

<img width="572" alt="image" src="https://user-images.githubusercontent.com/66776129/153144158-f64ca73a-84b7-4a26-b7f1-c1850f1b2f65.png">

[2022-02-09 07:50] #10372 closed

[2022-02-09 08:06] #10823 closed

[2022-02-09 08:06] #10718 closed

[2022-02-09 08:09] YogeshJayaseelan opened #11032 "[Bug]: The column focused state stays in the initial position for few secs and then moves to the swapped position"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed in the table property pane the column focused state stays in the initial position for a few secs and then moves to the swapped position

https://loom.com/share/3864ed4bf61d4706a43358068ff5f9b7

### Steps To Reproduce

1. Launch appsmith app in release environment
2. Drag and dr

[2022-02-09 08:15] YogeshJayaseelan opened #11033 "[Bug]: The column flicks when the mouse focus is on the mid of the top or bottom outline on any of the column field and clicking on it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that on the table property pane when the mouse focus is on the column tile(Top or bottom) and clicking on it the focused state flicks slightly

https://loom.com/share/aa2e41a2b3c746bc8e16ce2e3bada802

### Steps To Reproduce

1. Launch appsmith app in release environment
2. Drag

[2022-02-09 08:23] YogeshJayaseelan opened #11035 "[Bug]-[1191]:Scroll is not working on swapping columns position when some of the column focus are out of the viewport"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that on the table property pane when some of the columns are outside of viewport and upon try to swap the columns below/top the scroll does not work

https://loom.com/share/80abebc67fa744c4825e47cc2332ebf0

### Steps To Reproduce

1. Launch appsmith app in release environment
2

[2022-02-09 08:25] prapullac commented on #10230
Waiting for backend

[2022-02-09 08:25] prapullac commented on #10233
Waiting for backend changes

[2022-02-09 08:27] prapullac commented on #10450
Verified this as a part of regression

[2022-02-09 08:39] prapullac commented on #3315
Waiting on Backend changes

[2022-02-09 08:52] somangshu commented on #10037
@riodeuno @sbalaji1192 now that the tracking code is release, Can we move ahead here? We are still seeing these issues cropping up

[2022-02-09 08:54] sharat87 commented on #9226
Hey, this was fixed as part of https://github.com/appsmithorg/appsmith/pull/10157. Please try it out and let us know if you face any further problems. Thanks!

[2022-02-09 08:54] #9226 closed

[2022-02-09 08:55] somangshu commented on #8256
@Tooluloope I am reassigning this to you, Just to note, We do not want any external entities to touch the code that belongs to table widget, If you see any other such cases please make sure we are mitigate from that

[2022-02-09 09:02] #9513 closed

[2022-02-09 09:02] sbalaji1192 commented on #10037
@somangshu Tracking code has made its way to master. But we're still not seeing the new error cropping up in the sentry dashboard. @keyurparalkar Could you please check?

[2022-02-09 09:29] Tooluloope commented on #8256
@somangshu Should we let the effect of the editing take effect after the input has lost focus or onBlur.

This would let the necessary formatting be done before changing the column name rather than changing/formatting it every time the user types a character

[2022-02-09 09:32] rahulramesha commented on #5150
Update from the Feb 9th Meeting,

We agreed to go with this approach and build 1 POC only for now. Then test it internally and externally if needed and decide what needs to be done next:

1. If the mouse pointer is on a layout widget,

- and the layout widget is selected, paste with reflow inside the layout widget
- and the layout widget is not selected, paste below the layout widget

2. If the mo

[2022-02-09 09:34] momcilo-appsmith opened #11038 "[Epic] Dynamically Change height for widgets (New Size Options for Container and other widgets)"
## Objective

Enable widgets to mimic standard HTML block elements by automatically extending the height to fit contents.

## Success Metrics *

| Goal | Metric |
| --- | --- |
| Mimic HTML block component behaviour | Feature enabled numbers in deployed apps?  (TBD) |

Requirements

| Requirement | User story |
| --- | --- |
| Block or "Container" like widgets extend height to fit all contents | W

[2022-02-09 09:38] keyurparalkar commented on #10037
@sbalaji1192 the new error is getting captured in the sentry dashboard. Here is the search query:

[2022-02-09 09:39] abhvsn commented on #9999
@Nikhil-Nandagopal this has already been fixed in https://github.com/appsmithorg/appsmith/pull/10858

[2022-02-09 09:40] keyurparalkar commented on #10037
@sbalaji1192 the new error is getting captured in the sentry dashboard. Here is the search query: https://sentry.io/organizations/appsmith/issues/?query=INVALID_DynamicPathBinding_CLIENT_ERROR&statsPeriod=14d

Below is one of the new errors:
https://sentry.io/organizations/appsmith/issues/2999269467/?query=INVALID_DynamicPathBinding_CLIENT_ERROR&statsPeriod=14d

[2022-02-09 09:56] vicky-primathon commented on #10337
@momcilo-appsmith  please see this requirement and suggest the UX for focus state and select state in Dropdown widget

[2022-02-09 09:59] abhvsn commented on #10184
Reopening this as this is still happening with some apps

[2022-02-09 10:01] abhvsn commented on #10145
Closing this as this is a duplicate of https://github.com/appsmithorg/appsmith/issues/10184

[2022-02-09 10:01] #10145 closed

[2022-02-09 10:02] aswathkk opened #11040 "[Type]-[18352]:All the Property pane controls re-renders when we press js toggle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-02-09 10:31] somangshu commented on #8256
@Tooluloope apart from the performance, what else is the benefit?

[2022-02-09 10:34] Tooluloope commented on #8256
Basically, the issue with the current behavior is that it formats the input every time the user types, that's why adding space at the back of the column name won't work, but if we format after the user is done typing, then we can remove the excess spaces if any

[2022-02-09 10:37] #9999 closed

[2022-02-09 10:41] ajinkyakulkarni opened #11042 "[Docs]: add setInterval and clearInterval documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

We have already shipped support for these functions https://github.com/appsmithorg/appsmith/pull/8158 but the documentation is not updated.

### Describe the improvement

Please add docs and examples on how to use setInterval and clearInterval.
A tut

[2022-02-09 10:51] dilippitchika commented on #10483
Items discussed today
1. Platform items vs app widgets - Tabs vs Nav for pages and Toolbar actions vs button
2. Items we are trying to achieve in the project - https://www.notion.so/appsmith/Reskinning-widgets-80a31c4019ec41d7936621c39865ee14
3. Widget design system by @jsartisan and how it can help us. Awesome work.

Action items
1. Estimate product backlog - @jsartisan @keyurparalkar
2. Resolve

[2022-02-09 11:06] riodeuno commented on #10528
@ajinkyakulkarni @somangshu
I cannot think of a reliable way of knowing when a widget has "loaded". Even if we have data in a widget, more data might still be loading which can potentially update the widget's data.

The source of truth in scenarios like these are the Api and Query responses. Widgets only help with user interactions and display, as with any web application's components. We can try

[2022-02-09 11:07] vivekverma2312 commented on #6968
Closing the issue as part of regression and is not observed in long time.

[2022-02-09 11:13] ajinkyakulkarni opened #11045 "[Docs]: add documentation for REST APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

We don't have documentation for REST APIs.

### Describe the improvement

Please provide documentation for REST APIs on a Notion/Google doc and mention in which section it needs to be added. @Pranay105 or docs team can take it from there.

[2022-02-09 11:16] nidhi-nair opened #11046 "[Bug]: Encrypted tag for form control lacks spacing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="332" alt="Screenshot 2022-02-09 at 4 43 48 PM" src="https://user-images.githubusercontent.com/5298848/153187580-788c1cf8-37b7-414b-bddd-492eee11b648.png">

### Steps To Reproduce

1. Go to Authenticated API datasource
2. Select API Key authentication type
3. Look at `Value` field

[2022-02-09 11:20] sharat87 commented on #10110
@sub1983, can you share more details about this please? Logs from the import db command, logs from MongoDB itself when it wasn't starting, which step in the document did you notice the problem?

[2022-02-09 11:41] #10542 closed

[2022-02-09 12:03] #10859 closed

[2022-02-09 12:30] sub1983 commented on #10110
while running the command
`sudo docker exec appsmith-ce appsmithctl import_db
`
Got the below error

`Importing database
stop backend & rts application before import database
backend: stopped
rts: stopped
Error: couldn't connect to server localhost:27017, connection attempt failed: SocketException: Error connecting to localhost:27017 (127.0.0.1:27017) :: caused by :: Connection refused :
connect@s

[2022-02-09 12:32] sub1983 commented on #10110
[](url
[backend.log](https://github.com/appsmithorg/appsmith/files/8032680/backend.log)
)

[2022-02-09 12:49] arjunsriva-woven commented on #8854
+1

[2022-02-09 12:50] nidhi-nair commented on #11045
Added a draft here: https://www.notion.so/appsmith/REST-API-b078f8f884e64567aec19353831556af

cc: @ajinkyakulkarni

[2022-02-09 12:52] GreenFlux commented on #9902
I'm also affected by this with a dataset of only 400 rows. I tested in a new/empty app and only added this one API. The editor starts lagging as soon as the API gets back a response.

[2022-02-09 13:14] dilippitchika commented on #11012
@sbalaji1192 can you check this once?

[2022-02-09 13:47] mojtab23 commented on #5005
For item number 8, in mongoPlugin `testDatasource()`s code we explicitly ignore the unauthorized error that comes from MongoDB, because we call an admin-level query that might fail even if the user has access to a certain _non-system_ collection or database. But in this case, if the user enters invalid credentials it should show an unauthorized error but we are ignoring that and show OK.
We can ge

[2022-02-09 14:19] danciaclara opened #11050 "[Enhancement]: Add World with Countries to Map Chart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add World with Countries to Map Type on the Map Chart widget

### Why should this be worked on?

We don't have a map type for World with Countries which is probably the most common use case

[2022-02-09 14:22] sharat87 commented on #9977
This should be fixed as part of https://github.com/appsmithorg/appsmith/pull/10157.

[2022-02-09 14:22] #9977 closed

[2022-02-09 14:24] danciaclara opened #11051 "[Feature]: Floating widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Asked by a user on discord

https://discord.com/channels/725602949748752515/760761686549463060/940550375042330625

### Why should this be worked on?

Need more info on this

[2022-02-09 14:32] sharat87 commented on #8557
This is fixed.

[2022-02-09 14:32] #8557 closed

[2022-02-09 16:13] Pranay105 opened #11054 "Adding filepath information in Git Sync doc"

[2022-02-09 16:34] #5326 closed

[2022-02-09 16:37] felixsuarez0727 opened #11055 "[Bug]: `rootActionConfig.editor.options` not being populated by API Manager"
Even though the API Actions are successfully recorded, the `rootActionConfig.editor.options` array was not populated with the label/value pairs.

This causes that the plugins (like Twilio) can't be tested by QA.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/e8712900-45d9-440a-9a58-a607625f7766)

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2f

[2022-02-09 16:38] AnaghHegde opened #11056 "[Task]: Add git hosting provider to git-sync analytics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add hosting provider for git connected application analytics. Ex: github, gitlab etc

[2022-02-09 16:41] #11056 closed

[2022-02-09 17:13] #10391 closed

[2022-02-09 17:25] abhvsn commented on #10660
So this seems to be happening from the browser side, when we tried the import from Postman this is working fine. You can find the detailed discussion around this issue https://theappsmith.slack.com/archives/C02K2MZERSL/p1644393600276669

@pranavkanade can you please look into this

[2022-02-09 17:41] leotom2000 opened #11057 "[Bug]: Date picker should not update till a user selects a date"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

**Feature Requirement Proposal**
For the Datepicker Widget, we have one action "onDateSelected".
We may need "onMonthSelected" and "onYearSelected" as there are issues in certain scenarios

This requirement is based on a issue faced by a Discord user
https://discordapp.com/channels/725602949748752515/

[2022-02-09 19:37] fsureau-kpler commented on #11057
Hi, as discussed on the Support channel, as long as the date displayed is different than the date if the DatePicker.SelectedDate variable, this is a bug, that can lead to a new feature by primarily a bug.

[2022-02-09 20:07] ereio commented on #3439
+1 here, outside Git Sync, this is next on the list of asks

[2022-02-09 20:15] adarshlilha commented on #11008
hey @mohanarpit can I take this up? thanks

[2022-02-10 03:16] dilippitchika commented on #10337
![Screenshot 2022-02-10 at 8 45 13 AM](https://user-images.githubusercontent.com/19730984/153330367-0f53590c-a9a4-4adb-8ec6-af3d27f37435.png)

@vicky-primathon please check the image attached. This is the "On focus but not selected" state in the newer versions of widgets.

https://www.figma.com/file/SWp9lnIItDOsyilziFueLP/UI-%7C-Widget-Style-Updates-1.1?node-id=217%3A4257

[2022-02-10 03:19] dilippitchika commented on #4354
Document on the solution - https://www.notion.so/appsmith/Widget-hover-colors-165e54b304ca4e83a355e4e14d7aa3cb

Please discuss with me before estimating

[2022-02-10 04:11] dilippitchika opened #11060 "[Enhancement] : Input widget"

[2022-02-10 04:11] dilippitchika opened #11061 "[Enhancement] : Input widget Reskinning"
Scope - https://www.notion.so/appsmith/Input-Widget-4ac315b06a114083bda740731278f038

[2022-02-10 04:16] sumitsum opened #11062 "[Bug]: REST API datasource : default value is not showing up for `Authentication Type` dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 Default value is not showing up for `Authentication Type` dropdown.

### Steps To Reproduce

1. Create a new REST API datasource.
2. Notice that no default value is shown for `Authentication Type` dropdown.

### Environment

Production

### Version

Cloud

[2022-02-10 04:56] #9458 closed

[2022-02-10 05:01] somangshu commented on #10540
@ajinkyakulkarni need some help from you. Would the POD have some expertise to provide a solution here?

[2022-02-10 06:04] somangshu commented on #10771
Seems like this is also what in happening in #[10379](https://github.com/appsmithorg/appsmith/issues/10379)

[2022-02-10 06:15] aswathkk opened #11065 "[Task]: Add tooltip for all the property names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The property name is getting keyboard focus if we use `Tab` key to navigate through the property controls.
But, the focus state is not visible to the users unless the property name has a tooltip associated with it.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/dcbac37cb766457697c8f744957418c

[2022-02-10 06:39] hiteshjoshi commented on #2840
- Merge OICD integration (build on top of Spring )  - In PR @trishaanand
- Refactoring of JWT tokens to make it production ready. - In progress @trishaanand
- Admin APIs to configure OIDC on Appsmith ( overflows to next week ) @trishaanand
- Admin settings page and login page changes to be merged - @pranavkanade
- Fat container QA - @RakshaKShetty
- Update test plans and add JWT token scenarios as

[2022-02-10 06:44] mohanarpit opened #11066 "[Docs]: Add documentation for Helm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

We are releasing Helm charts for Appsmith deployments on Kubernetes. We should add these steps to our official documentation as well.

### Describe the improvement

The README file at: https://github.com/appsmithorg/appsmith/tree/release/deploy/helm

[2022-02-10 06:53] Nikhil-Nandagopal commented on #11057
Hey @leotom2000 thanks for creating this issue. I think the solution should be to only update the date when a date is selected and not when a user is browsing the calendar.
@somangshu @dilippitchika can we get this small issue solved quickly?

[2022-02-10 06:55] #10936 closed

[2022-02-10 07:06] sumitsum commented on #11029
Parth's design available here: https://www.figma.com/file/Qs7p5frNx7uEfVYpADGk0d/Datasource-Pane-Improvements?node-id=9%3A4139

[2022-02-10 07:11] somangshu commented on #11057
@Tooluloope can you help us triage this?

[2022-02-10 07:46] shwetha-ramesh commented on #10562
@dilippitchika are we following the same design for input widget too ?

[2022-02-10 07:51] somangshu commented on #10771
we found out that the content inside the text with a broken HTML tag does not flow outside the text widget and effect the rest of the DOM. The above strategy could probably work.

[2022-02-10 08:01] raags commented on #8636
Not sure if related - I would also like custom slugs if possible.
For e.g. I could have an app for applying for leave as `https://myappsmith.com/leaves` or a general one like `/portal` etc. This is more relevant for `public` URLs that do not have appsmith login flow / homepage to chose that APP from.

[2022-02-10 08:08] mojtab23 opened #11067 "[Bug]: MongoDB datasource test shows ok when authentication is invalid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we have a MongoDB datasource that needs authentication, the test datasource button show ok even if we enter invalid credentials. This comes from the way that mongoPlugin `testDatasource()` is implemented and it ignores `Unauthorized` error when testing a datasource.

It's related to numb

[2022-02-10 08:23] Tooluloope commented on #10196
Action Items

- Paul to Truncate text as POC for #10771
- Vicky to clear out items in Product - Done columns (High Priority for QA)

[2022-02-10 08:25] abhvsn opened #11068 "[Feature]: Implement stopwatch to log execution time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Git APIs are slow today and these also involves lot of operation:
- Hydration and rehydration from and to mongo DB
- Copying the serialised objects file system
- Working with local as well as remote git APIs

This makes it a little harder to point out which task is consuming the bandwidth.

### Why sh

[2022-02-10 09:06] josh900 commented on #2033
@Nikhil-Nandagopal , This is a really amazing tool, and we are quickly putting it to use, however, I wanted to mention 1-2 things that would take it to another level for me:
* Any method to edit the underlying code of any appsmith widget, to make modifications to the robust template you provide,
or
* A more robust method of creating custom html/css/js widgets in a page than the current src iframe.

[2022-02-10 09:46] vuiets commented on #3317
### Meeting Notes
9 Feb 2022

Discussed
- For self-hosted instances, `Users` will exist at the instance level
- On a few granular permissions
  - _Manager datasources_ will combine creation and edit of datasources
- Design direction for the `Permission Group` creation flow to depict inheritance of permissions

Next steps
- Cover users and how to manage them @vuiets
- Flows to create user group and

[2022-02-10 10:13] vibhandikyash commented on #3836
This issue is duplicate of #6492. Can be tracked there further.

[2022-02-10 10:13] #3836 closed

[2022-02-10 10:45] nidhi-nair opened #11071 "[Bug]: REST API UI issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Collating a bunch of issues here:

- [ ] When saving a new API as datasource, the datasource creates two empty headers by default. This should not be the case because it breaks the UI at multiple places.
        - Datasource view mode shows empty headers
        - REST API shows inherited hea

[2022-02-10 10:46] #10140 closed

[2022-02-10 11:01] chandannkumar opened #11073 "[Bug]: Inconsistency in different Select widgets dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The dropdown displays behavior is different in all types of select widgets. Since we should follow a similar functionality for entire select widgets

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c0617af60d89464e85a4d0bad439449b-00001.gif)](https://www.loom.com/share/c0617af60d89464e8

[2022-02-10 11:05] riodeuno opened #11074 "[Bug][DX] Use both string and Object values for the default values in select and Multiselect widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is difficult to bind the default value in a select and multi-select widget when we need to provide both label and value.

### Steps To Reproduce

The default value property in the Select Widget.

### Environment

Production

### Version

Cloud

[2022-02-10 11:12] #6391 closed

[2022-02-10 11:12] #9920 closed

[2022-02-10 11:12] #10373 closed

[2022-02-10 11:12] #10608 closed

[2022-02-10 11:12] #10665 closed

[2022-02-10 11:22] rashmi-rai opened #11075 "Fix Current Implementation of validations"
Fix Current Implementation of validations so that it works for new uqi components

[2022-02-10 11:25] chandannkumar opened #11076 "[Bug]: Tree select widget behavior for long label names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7e03fa19a4dc4099899905ad9d0c744e-00001.gif)](https://www.loom.com/share/7e03fa19a4dc4099899905ad9d0c744e)

### Steps To Reproduce

1. Add Tree select widget on canvas
2. Add large text options in dropdown list
3. Observe that text been ove

[2022-02-10 11:29] #11068 closed

[2022-02-10 11:36] #10893 closed

[2022-02-10 11:42] chandannkumar opened #11078 "[Bug]: Text should be visible always if only 1 long text option is selected in Multi-select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If the options in the dropdown have long text name then Multi select and Multi Tree select widget displays **+1more** instead of text name

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/43824fa013c74d0da9f847309993deb3-00001.gif)](https://www.loom.com/share/43824fa013c74d0da9f84730999

[2022-02-10 11:52] aswathkk opened #11079 "[Bug]: Widget grouping mode is triggered after re-arranging table columns"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After dragging and re-arranging columns of table widget, moving cursor to canvas causes the widget grouping mode to be triggered.

https://user-images.githubusercontent.com/10436935/153403013-443d8b49-6952-4ad0-bc3d-afb7509a8bd9.mov

### Steps To Reproduce

1. Add a table widget or any other

[2022-02-10 12:01] dilippitchika commented on #10974
Hey @jsartisan @keyurparalkar I need one of you to assess if the changes suggested for reskinning chart widget are possible or not.

Mainly 2 things which I want to be checked
1. There's a divider in the between chart and the heading.
2. Chart dimensions - I always see an extra space towards the bottom in our current chart widget. The proposed value is different.

Please assess and let me know.

[2022-02-10 12:39] MichaelLeeHobbs opened #11081 "[Bug]: Select Widget does not clear after submit or reset but is actually empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Apologies if this is a dup. I did a search for "is:Bug select widget" and got 9+ pages of results. The select widget does not visually clear after submit or reset but the state does clear.

### Steps To Reproduce

Following the "Building a Store Catalog Manager" tutorial.
1. Using forms
2. Us

[2022-02-10 12:49] dilippitchika commented on #11061
Items to be improved
1. Position of error messages - Discussed yesterday
2. Icons can be added by the user - this design is missing
3. Hover state for input widget
4. Tool tip design is missing - there's a possibility of only having tooltips and no labels.

Please check the current implementation

[2022-02-10 12:50] sbalaji1192 commented on #10037
The issue is still not fixed as part of https://github.com/appsmithorg/appsmith/pull/10803

[2022-02-10 13:39] dilippitchika commented on #11026
Currency widget missing items:
1. No currency found state missing
2. Is the width of the currency search popup fixed?
3. What happens when the length of a currency with country extends the width. How does the wrapping work?
4. Designs do not show scroll bar in the dropdown, please add scroll

[2022-02-10 13:41] dilippitchika commented on #11023
Phone widget missing items: Same as currency missing items - copy pasting for now

- No phone country found state missing
- Is the width of the country search popup fixed?
- What happens when the length of a country extends the width. How does the wrapping work?
- Designs do not show scroll bar in the dropdown, please add scroll

[2022-02-10 13:46] dilippitchika commented on #10496
Hey @fsureau-kpler yes it's a bug. One of the items we want to fix primarily is this.

[2022-02-10 13:50] dilippitchika commented on #11078
Hey @chandannkumar the reason we don't truncate text is because we will have to truncate again when another item is added.

More the items, more the truncation which won't be useful for anyone. To navigate around this, we simplified by adding +1 +2 etc.

I don't see a strong reason to change this to truncation.

[2022-02-10 13:56] dilippitchika commented on #11076
Adding another issue

Select widget doesn't truncate the text selected on resize. This can lead to overlaps. Will need to create a new bug.

[2022-02-10 13:59] dilippitchika commented on #11051
Just to add a distinction, any widget can be floating widget it denotes that the widget is floating on top of another widget.

Will check with the user once, if they mean layers or just one layer.

[2022-02-10 14:04] dilippitchika commented on #11038
@momcilo-appsmith i understood the concept, but did not understand how this can be built. Keeping dynamic height aside for a min.

Main area of confusion was how will we align 2 items to be in the same line/row. Here it automatically splits the container into multiple rows and only adds a new row in hug contents. Does it mean we need to start thinking in terms of rows in containers?

[2022-02-10 14:05] dilippitchika commented on #11035
I think there's already an issue for this. Let me see if I can find it.

[2022-02-10 14:12] dilippitchika commented on #11033
@vicky-primathon  can you check this? Looks like an after effect of #10046

CC @somangshu @shwetha-ramesh

[2022-02-10 14:27] ramsaptami commented on #10710
Another example of an overlap
![image](https://user-images.githubusercontent.com/79509062/153427762-74766c93-f8d5-4539-9b34-ad54cea2ec18.png)