[2022-01-12 10:38] dilippitchika commented on #8503
My initial thought was the same, that you add pre-filled name and value. The problem was if I click add option again, it will add the same name/value and this error will re-occur. We have to check that as well and add prefix or suffix, maybe this is straightforward.

By error on data, i mean this area where user is adding the options
![Screenshot 2022-01-12 at 4 07 26 PM](https://user-images.githu

[2022-01-12 10:39] somangshu commented on #9119
@sbalaji1192 here is my thought, in case of the number input type we can add a margin right to the icon such that it is not overlapped, that is in case this is the problem.

[2022-01-12 10:40] somangshu commented on #8503
@dilippitchika We can auto increment a prefix on the pre-filled label to solve that

[2022-01-12 10:42] Rishabh-Rathod commented on #10314
duplicate of https://github.com/appsmithorg/appsmith/issues/10293

[2022-01-12 10:42] #10314 closed

[2022-01-12 10:48] dilippitchika commented on #7737
Is this still happening @NandanAnantharamu?

[2022-01-12 10:51] Nikhil-Nandagopal commented on #10253
@japrogramer no this is indeed an issue on our end, in the beginning we did not sanitise emails while creating users and later we decided to merge authenticated users that signed in via SSO. This has caused this issue. Thank you for informing us

[2022-01-12 10:55] momcilo-appsmith commented on #7988
@somangshu Can you resolve this?

[2022-01-12 11:00] somangshu commented on #4594
this is resolved with docked property pane

[2022-01-12 11:00] #4594 closed

[2022-01-12 11:02] #7988 closed

[2022-01-12 11:09] niradler opened #10348 "[Feature]: Add docker support for arm/v7 for devices like raspberry pi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add docker support for arm/v7 for devices like raspberry pi
[code]

### Why should this be worked on?

the effort is not high and the gain is a full market of people using this devices

[2022-01-12 11:12] niradler commented on #10348
i will do it my self and just build it on my machine

[2022-01-12 11:25] niradler commented on #10348
running something like this
`docker buildx build --platform linux/arm/v7 -t appsmith/appsmith-pi .`
@Nikhil-Nandagopal any command to bootstrap the project for docker build ?
[code]

[2022-01-12 11:30] niradler commented on #10348
if you need help i can help with multi stage build, it is more user friendly and safe (dependencies that build/install on the host, can cause issues when target architecture is different then the os)

[2022-01-12 11:33] ramsaptami commented on #10343
Reopening this since it's still not working
![image](https://user-images.githubusercontent.com/79509062/149132870-71c039a0-2d34-49a0-a6d3-889e67e082ee.png)

[2022-01-12 11:40] niradler commented on #10348
[workflow example ](https://github.com/n8n-io/n8n/blob/b4b65bb90624ad00e6e3336c276a363548fb60cc/.github/workflows/docker-images-rpi.yml)

[2022-01-12 11:56] somangshu commented on #7359
@marks0351 do you suggest we take this up later as v2 implementation, And not think about this is v1?

@dilippitchika I am confused
- how is applicable to all widgets
- why should it be tracked with the table v2

[2022-01-12 12:00] marks0351 commented on #7359
@somangshu yes for now since we have a way to bind to tab value, we can leave it alone and think about how to make the tabs dynamic altogether(label, order, visibility).

[2022-01-12 12:09] vivekverma2312 opened #10352 "[Bug]: Vertical scroller is coming in view mode when changed from fluid to any view while editing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Refer to comments below for loom!

### Steps To Reproduce

1. Open an app in edit mode
2. Change the view to any from fluid
3. Deploy the app
4. Observe the vertical scroller is displayed on the screen.

### Environment

Release

### Version

Cloud

[2022-01-12 12:13] jsartisan commented on #10283
It is happening due to:

Following this article helped users unblocked for the time being - https://medium.com/@Carmichaelize/enabling-the-microphone-camera-in-chrome-for-local-unsecure-origins-9c90c3149339. The user who was facing the issue will be adding the SSL certificate as well.

Not sure why it started happening in v1.6.6. Shri will be checking this soon. Still need to do RCA for this.

[2022-01-12 12:13] dilippitchika commented on #7359
I ended up removing this from table v2, because it's not same. The thought was similar, that you have a different column name and a reference.

[2022-01-12 12:36] grinono commented on #9977
@abhvsn i tried to set the ECS environmental variables but they are not picked up by appSmith. Did it work for you?
same issue on local environmental variables. is there a known issue?

"environment": [
        {
          "name": "APPSMITH_CUSTOM_DOMAIN",
          "value": "internal.sevi.io"
        },
        {
          "name": "APPSMITH_MONGODB_URI",
          "value": "mongodb+srv://u:p@prod

[2022-01-12 12:39] ginjojohny commented on #1089
I really need this feature to be used in my application .  Is this available now ?

[2022-01-12 12:41] abhvsn commented on #9977
@sharat87 do we have any resolution on this?

[2022-01-12 12:43] rohan-arthur commented on #4559
Meeting Notes:

- [ ] 1. UQI components client side implementation will be done by next week - Ayush
         - [ ] a. 2/4 done - waiting for Apeksha's review - blocked on dynamic trigger functionality
         - [ ] entity selector
         - [ ] projection selector
- [ ] 2. Form to JSON conversion component for plugins . - Ayush/Aman
         - [ ] a. Data migration - 3 story points remaning

[2022-01-12 13:10] Nikhil-Nandagopal commented on #1089
@ginjojohny this is not available inside the platform. You can integrate Appsmith with S3 or Cloudinary to achieve this.

[2022-01-12 13:12] abhvsn opened #10354 "[Bug] Curl import fails with resource not found error when the application is connected to git"

[2022-01-12 13:20] dilippitchika commented on #9442
Duplicate of #4748

[2022-01-12 13:20] #9442 closed

[2022-01-12 13:45] anvaravind commented on #9707
@sharat87  is this issue because of superviord software? Just wanted to know if I can contribute here

[2022-01-12 13:51] sharat87 commented on #9707
Hey @anvaravind, thanks for offering! The problem's actually not related to supervisord. The problem is to do with the fact that currently, the Docker image is built assuming commands are run as the root user _inside_ the container. This is usually find, since the container is already a sandbox so the root user shouldn't have any affect on the host.

However, environments like Docker Swarm (and at

[2022-01-12 13:53] sharat87 commented on #9977
Hey, we are currently working on this problem with Helm charts. Once it's fixed for Helm charts, it'll apply for ECS as well. The PR is going through review currently and should be out soon. 😃

[2022-01-12 14:09] NguyenMinhDung opened #10357 "[Bug]: RichTextEditor no value when copy patse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I copy any content to RichTextEditor then I read content of RichTextEditor by RichTextEditor.text but no value

### Steps To Reproduce

1. Copy content
2. Paste content to RichTextEditor
3. Read content of RichTextEditor but no value

### Environment

Release

### Version

Cloud

[2022-01-12 14:39] ramsaptami opened #10358 "[Bug]: Unable to delete datasource after deleting dependent queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Unable to delete Google Sheets datasouces after deleting their queries. No other application in the org or pages on the app use these datasources but continue to get an error saying "n" actions are using it

https://www.loom.com/share/6024cc13eaca4a67bc9e74087b9ef53f
![image](https://user-ima

[2022-01-12 14:55] sumitsum commented on #2284
Meeting updates:
- @parth-appsmith
  - share link for updated deisgns
  - get feedback on updated designs
    - how to make `Query Variables` section distinct ?
    - is it ok to add an icon before the variable name for all plugins ?
    - @sumitsum - need to figure out changes to Pagination tab
  - Change text of `Create new API` to `Create new REST API` in the datasource creation page.
- @sumits

[2022-01-12 15:19] Irongade commented on #3778
Closing this issue since it's not reproducible.

[2022-01-12 15:19] #3778 closed

[2022-01-12 17:05] dilippitchika commented on #10352
Hey @vivekverma2312 can you add the video or screenshot? Looks like the link is broken.

[2022-01-12 17:12] dilippitchika commented on #10346
Looks like there's a common code doing this, the problem i see with this issue is if we fix it there's a chance of it breaking.

If you have an app, with pages  - 1,2,3 and you change 3 to 4. Next time you click new page, 4 cannot be used anymore because it's already exists. Since page, app and org names are unique, i don't think this solution will work @shwetha-ramesh. Any other suggestions on ho

[2022-01-12 17:20] dilippitchika commented on #10340
Duplicate of #9443

[2022-01-12 17:20] #10340 closed

[2022-01-12 17:24] dilippitchika commented on #10195
@somangshu drag drop issue, can you take a look. Priority is high according to me, because user may not be able to identify why this is happening.

[2022-01-12 17:36] dilippitchika commented on #10170
Hi @ramsaptami, I am unable to reproduce this in release. can you check this app - https://release.app.appsmith.com/applications/61b735d35440164c77e9f956/pages/61df10e015bb3b596c504f22  Page 2 in this app. Want to know if this is a browser issue.

[2022-01-12 21:40] zzgvh commented on #9902
@nidhi-nair , I'd be happy to demo the app if you like! I find Appsmith a tool that appeals to me a lot, where many of the core ideas to make it easy to get something up and running that _actually gets the job done_, like how building a view is made so smooth and "incremental", really works for me. Thus I can more than live with the bugs and the quirks 😉 And you're also such an awesome team, the s

[2022-01-13 04:28] rizkyramadhan opened #10366 "[Bug]: Failed to build on windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Appsmith is throwing error in postgressPlugin when building it in windows.

### Steps To Reproduce

When I follow https://github.com/appsmithorg/appsmith/blob/release/contributions/ServerSetup.md

After running `mvn clean compile` the guide tells me to run `./build.sh`, but since I'm in windo

[2022-01-13 04:31] YogeshJayaseelan commented on #4947
@dilippitchika now this is working fine

[2022-01-13 04:58] danciaclara opened #10367 "[Bug]: Input widget does not allow user entry for Currency data type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For the Currency data type, the input widget is not accepting values entered by the user.

### Steps To Reproduce

1. Drag and drop an input widget on the canvas.
2. Change the data type to Currency
3. Enter values in the input widget.
4. It does not record any typed values and the widget sta

[2022-01-13 05:06] sbalaji1192 commented on #10343
we get this error when there is an issue with the google maps API key.

[2022-01-13 05:07] #4947 closed

[2022-01-13 05:08] sharat87 commented on #10283
Okay, so first up, [media devices API is not available without HTTPS](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia), which means widgets like Camera, AudioRecorder etc. will require HTTPS to work.

Second, this is true of our previous Appsmith version, v1.6.5 as well. The difference is that in that version, we weren't crashing, it was just another error logged to the

[2022-01-13 05:11] jsartisan commented on #10283
We should at least wrap the `enumerateDevices` function in a try-catch so that the app doesn't crash. @somangshu, can paul do this?

[2022-01-13 05:22] eco-monk opened #10369 "[Bug]: this.params doesn't work when using normal functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In API configuration: this.params in normal function IIFE doesn't work. returns null/undefined.
Has broken user's applications.
e.g. (function() { return this.params.name })()

### Steps To Reproduce

1. Create an API
2. Configure a parameter value with IIFE `(function() { return this.params.

[2022-01-13 05:23] #10209 closed

[2022-01-13 05:23] #10287 closed

[2022-01-13 05:24] #7678 closed

[2022-01-13 05:28] ramsaptami commented on #10343
This has been fixed by updating `Content-Security-Policy` header hence closing the issue

[2022-01-13 05:28] #10343 closed

[2022-01-13 05:31] eco-monk opened #10372 "[Bug]: cyclic dependency issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cyclic dependency at branch: `feature/form-builder-widget`
When trying to edit field `Source data` in `form widget`.

### Steps To Reproduce

1. Create a form widget.
2. And edit any key in the `source data` field.

![149132310-77405377-2477-434e-bb82-3fd7e9352be5](https://user-images.githubu

[2022-01-13 05:33] sharat87 commented on #10283
Yes.

1. When this error happens, we shouldn't crash.
2. When a widget can't work because SSL is not available, this should be informed to the user. Perhaps the widget in the sidebar itself shows a little indicator that it's not available in HTTP, and dropped widgets show an error message overlay about this or something.

[2022-01-13 05:52] aswathkk opened #10373 "[Task]: Make MultiSelectControl keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

example: Check FilePicker widget's Allowed File type option in property control

![Screenshot 2022-01-13 at 11 20 25 AM](https://user-images.githubusercontent.com/10436935/149273277-14eb022a-58c6-49ab-a23c-2bcc3a3dd922.png)

[2022-01-13 06:03] #8857 closed

[2022-01-13 06:03] #8944 closed

[2022-01-13 06:12] Nikhil-Nandagopal commented on #7576
@zzgvh in this case, you can use the store to update the input's values but you don't need to write back to the store from the input when the input changes. I've detailed an example of this below. You can fork the app and check the code
https://app.appsmith.com/applications/61dfc1b919ba421fdd1ce508/pages/61dfc1b919ba421fdd1ce50b

[2022-01-13 06:28] sumitsum opened #10374 "[Bug]: Mongo plugin: add smart substitution handling for `ISODate()`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Need to add handling for removing quotes around `ISOObject(...)` .
- Ref: https://stackoverflow.com/questions/70665680/why-am-i-unable-to-use-datetime-field-to-query-data-from-appsmith-to-mongodb

### Why should this be worked on?

- Improve user experience.

[2022-01-13 06:34] Nikhil-Nandagopal commented on #10341
@eco-monk I think this is more an enhancement than a bug. The widgets are always created and only hidden / shown since they are part of the DSL. This can be an optimization

[2022-01-13 06:49] Nikhil-Nandagopal commented on #10357
@NguyenMinhDung this seems to be working for me. Can you please share a video?

[2022-01-13 06:56] mohanarpit commented on #10366
Please ensure that Docker is running on your system. This is because the JUnit tests leverage TestContainers for real world testing. This requires Docker to be running on your system when you compile or run the tests.

Alternatively, you can skip running the tests on your local machine via the command: `./build.sh -DskipTests`

[2022-01-13 07:02] dilippitchika commented on #7064
Adding the PRD here -

<h2>Objective</h2>
<p>Today the users have to manually align labels for the input fields they are working on. With the default settings we provide it’s hard for a user to keep aligning them manually. We wish to improve this experience by providing the user will controls for editing the label’s position, alignment and width.</p>
<h2>Success Metrics *</h2>
Goal | Metric
-- | -

[2022-01-13 07:18] Aishwarya-U-R opened #10377 "[Task]: Develop the test scripts for Promises & related bugs in Typescript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-13 07:20] rizkyramadhan commented on #10366
Ah thanks, skipTest flag is what I need.

[2022-01-13 07:20] #10366 closed

[2022-01-13 07:24] roshanmelanta commented on #8013
Hi @somangshu, I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2022-01-13 07:24] dilippitchika commented on #9116
@AnaghHegde we don't allow file size more than 5mb in cloud. We will work on communicating this to appsmith developers in this issue.

[2022-01-13 07:36] sbalaji1192 commented on #10367
@danciaclara I'm not able to repro this. Could you share the app where it is happening?
https://www.loom.com/share/875205e23c4a4eb1b31e9cf140584dc3

[2022-01-13 07:38] dilippitchika opened #10379 "[Bug]: Filepicker crashes the app when we are referencing base64 type files in other widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I add a file in filepicker which is large (>2MB) and set the datatype as base64. My app is crashes when I bind the data with a text widget.

### Steps To Reproduce

1. Go to any app
2. Add a filepicker and set the data format to base64
3. Add a text widget and bind it to filepicker.files

[2022-01-13 08:07] #3951 closed

[2022-01-13 08:07] #5701 closed

[2022-01-13 08:29] ohansFavour commented on #9087
As per the project meeting on the 12th of January;

We were able to do the following,

- Make recommendations that will help speed up the completion/ closing of this Epic.
- Discuss progress so far on several issues currently being worked on.

#### Resolutions

- More time should be allocated for Sprint planning - @ajinkyakulkarni
- Issues on this epic should be reviewed and properly prioritized -

[2022-01-13 08:37] #10333 closed

[2022-01-13 08:44] trishaanand commented on #2840
Weekly targets :
- Design QA - @Debsourabh
- Continue with test cases - @RakshaKShetty
- Admin APIs for the server for configuration of IdP (Over the next two weeks) - @trishaanand
- Continue with cypress tests - @pranavkanade  @ankitakinger
- CE upgrade to paid plan flow to be designed and finalized (Over the next two weeks) - @Debsourabh
- New designs for login screen containing only Sign in wit

[2022-01-13 08:48] pranavkanade opened #10381 "[Feature]: Allow users to access current page name with global `appsmith` object."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Expose the name of the current working page with the global `appsmith` object. User should be able to access it as  - `{{ appsmith.currentPageName }}`

### Why should this be worked on?

User request on intercom

[2022-01-13 08:48] dilippitchika commented on #10159
@somangshu closing this as it's already covered in the PRD of #10297

[2022-01-13 08:48] #10159 closed

[2022-01-13 08:48] #10187 closed

[2022-01-13 08:49] eco-monk opened #10382 "[Task]: performance issue in self-hosted instance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Note: The issue is still not clear, this is a task to keep track of things being tried and progress being made.

1. load times are slow in user's machine (seems to not be the case in anand's machine)
2. chrome was reported (by user) to be faster than firefox (might be that the browser has been kept o

[2022-01-13 08:52] #9301 closed

[2022-01-13 09:00] ramsaptami opened #10384 "[Bug]: API response is stringified when it's a HTML response"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

API response is stringified when it's a HTML response, for example when using `yahoo.com`

![image](https://user-images.githubusercontent.com/79509062/149298244-dc3b99ac-f7fe-49ff-a0d1-5f181aec2673.png)

### Steps To Reproduce

1. Run an API query for yahoo.com and observe the response to be

[2022-01-13 09:04] somangshu commented on #9116
@Tooluloope can you find out the problems listed above, take a note and start work on this

[2022-01-13 09:06] somangshu commented on #8013
Greetings @roshanmelanta, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

[2022-01-13 09:10] Tooluloope commented on #9116
@somangshu

- Upload a file which is >2MB to the file picker and reference the filepicker.files to a text widget. If the file picker type is set to Base 64, it ends up crashing the whole app.

Is this the only issue still hanging?

[2022-01-13 09:12] ramsaptami opened #10385 "[Bug]: Min Date property of Date widget is by default in error state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Date picker widget that's added to the canvas shows an error for Min Date property by default

![image](https://user-images.githubusercontent.com/79509062/149300048-6998a0d2-7caf-4890-897b-eaa57999d802.png)

### Steps To Reproduce

1. Add a date widget to the canvas and observe the `Min Date`

[2022-01-13 09:14] somangshu commented on #9116
@Tooluloope I think as pointed above we can also check for what data is returned.

[2022-01-13 09:17] somangshu opened #10386 "D&D issues Q1 22"

[2022-01-13 09:24] somangshu commented on #8560
@vivekverma2312 can you find the steps to reproduce?

[2022-01-13 09:26] somangshu commented on #8331
This has to be added to the actions selector, @ajinkyakulkarni how can we achieve this?

[2022-01-13 09:28] somangshu commented on #8330
@jsartisan rethinking about this, i feel we could use a container right? What are some use cases you can think about

[2022-01-13 09:30] somangshu commented on #10276
@shwetha-ramesh good catch, I would rather say that the default should be fallback even in the button, that is green for now if no color is given, this is more consistent in terms of UI, what do you think?

[2022-01-13 09:31] somangshu commented on #10276
Infact if required we can also check this across the button type widget and make the behaviour consistent, @shwetha-ramesh can you help us create the list

[2022-01-13 09:33] somangshu commented on #10182
@momcilo-appsmith ill need your help here

[2022-01-13 09:37] ajinkyakulkarni opened #10387 "Implement the Run button design changes"
Implement the Run button changes as shown in the following design document https://www.figma.com/file/sT3HR1VSWOTtPfh5vlpU8x/JS-Editor-Improvements?node-id=2%3A2

[2022-01-13 09:39] somangshu commented on #8691
this is resolved with docked property pane

[2022-01-13 09:39] #8691 closed

[2022-01-13 09:51] somangshu commented on #4647
@sbalaji1192 kindly triage and reassign

[2022-01-13 09:56] somangshu commented on #8492
this is resolved

[2022-01-13 09:56] #8492 closed

[2022-01-13 09:58] somangshu commented on #9073
@dilippitchika do you think we should pick this up, we could add this property for the tooltip for every column, if its empty we fallback to showing the default content

[2022-01-13 10:42] sbalaji1192 commented on #10367
@vibhandikyash
Note:
Issue is caused by the L401 from `/app/client/src/widgets/InputWidget/component/index.tsx`. need to handle when `focus-visible` is not present.

[2022-01-13 10:45] jsartisan commented on #8330
@somangshu The use-case is let's say I have a stat box that looks like a card. I want to go to a specific page on click on it.

[2022-01-13 10:47] somangshu commented on #10385
duplicate of #10187

[2022-01-13 10:47] #10385 closed

[2022-01-13 10:49] #10161 closed

[2022-01-13 10:56] somangshu commented on #9781
@wmdev0808 this is related to #7064 and should be taken up in the current scope

cc @dilippitchika

[2022-01-13 10:58] somangshu commented on #8812
@Debsourabh suggested this to be a better UI. Please reopen if required

[2022-01-13 10:58] #8812 closed

[2022-01-13 11:16] Rishabh-Rathod commented on #10285
According to the discussion [here](https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1641913149043600 ) , This is duplicate of #9782

[2022-01-13 11:16] #10285 closed

[2022-01-13 11:32] rishabhsaxena commented on #3199
Posting the updates from the last catchup, for ref:

BE:
- API to generate SSH key without linking to application in DB (This is to avoid stale apps if user don’t follow the complete git-import flow) @Anagh
- API to connect application which will accept json, md, licence files @Anagh
- JSON schema migration @Abhijeet
- Keep local git-repo and DB in sync when the local repo is deleted @Abhijeet
- C

[2022-01-13 11:53] nayan-rafiq opened #10388 "Add API to add template to Appsmith CS"

[2022-01-13 11:54] nayan-rafiq opened #10389 "Add API to get available templates in Appsmith CS"
This API will be called by BE. It'll get the list of available templates from DB and return as a list.

[2022-01-13 11:54] nayan-rafiq opened #10390 "Add API to get available templates from Appsmith CS"

[2022-01-13 11:55] nayan-rafiq opened #10391 "Add API to import application from template"
This API should take the following information and create a template. The API should have access controlled so that it's not publicly accessible.

Required information to create a template:

- Title
- List of screenshots
- Description
- Link to public app
- Created at
- Updated at
- Download count

[2022-01-13 12:14] jsartisan commented on #9954
Not able to reproduce it on my machine. 😞 Will need some steps to repro it.

cc: @somangshu @yatinappsmith

[2022-01-13 12:16] jsartisan commented on #9954
Reducing the priority of this issue.

[2022-01-13 12:24] dilippitchika commented on #9073
@somangshu added my thoughts in this loom. Can you check? If this is fine we can proceed.

https://www.loom.com/share/24844eb4f9bf4f44a05f9ea8abff8c48

[2022-01-13 12:29] dilippitchika commented on #10341
@somangshu can you check if this is technically feasible?

[2022-01-13 12:34] dilippitchika commented on #10306
Hey @chandannkumar we can't do that by default because the computed value refers to the key in the data that you want to reference while column name can be much more user friendly, plus it can also happen that one column is a mix of two fields from the data.

We can't automatically change this. Please add more queries if any, but this is not an issue.

![Screenshot 2022-01-13 at 6 01 26 PM](https:

[2022-01-13 12:34] #10306 closed

[2022-01-13 12:42] somangshu commented on #10341
Will need to traige this. Not sure what is causing this. As pointed out maybe the evaluation must not happen when the widget is not ready.

@hetunandu @SatishGandham can you guys help understand what the best aplroch here

[2022-01-13 12:59] fabform commented on #8588
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 13:01] fabform commented on #9824
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 13:06] fabform commented on #9518
handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 13:10] dilippitchika commented on #10341
Parking this for now

[2022-01-13 13:16] NguyenMinhDung commented on #10357
### Here video to reproduce the bug
https://user-images.githubusercontent.com/2491855/149336661-2a6cff5e-cb94-4add-afbc-eee957cfe16a.mp4

### Below video is another bug, when I clear content of RichTextEditor but the content is still there
https://user-images.githubusercontent.com/2491855/149336731-4e3d2c72-0f0e-4381-8563-2fb1ea1c49b1.mp4

[2022-01-13 13:20] RakshaKShetty commented on #9648
@leotom2000 I tried the scenario which you explained and it is working

[2022-01-13 13:21] #2308 closed

[2022-01-13 13:21] #7262 closed

[2022-01-13 13:21] #7720 closed

[2022-01-13 13:21] #7850 closed

[2022-01-13 13:27] rishabhsaxena commented on #3199
- Edge cases for import flow:
  - If we have an existing datasource with the same name but a different type that in the repo, the import api should fail
  - Handle app name conflict during import
- Edge cases for git pull involving datasources:
    - A new datasource got pulled: it won't be configured so the associated actions would fail
    - A conflicting datasource got pulled (same name but dif

[2022-01-13 13:33] sharat87 commented on #10348
Hey @niradler, thank you for reporting this. We just pushed a fix that fixes the location of the http config file in the Docker image. Thank for offering to help, much appreciated 😃.

[2022-01-13 13:35] sharat87 commented on #10304
Hey @noe-charmet, thank you for reporting this. We just pushed a fix that fixes the location of the http config file in the Docker image.

[2022-01-13 13:35] #10304 closed

[2022-01-13 14:00] rahulramesha commented on #9531
Closed with PR, https://github.com/appsmithorg/appsmith/pull/9054

[2022-01-13 14:00] rahulramesha commented on #9533
Closed with PR, https://github.com/appsmithorg/appsmith/pull/9054

[2022-01-13 14:00] #9533 closed

[2022-01-13 14:18] noe-charmet commented on #10304
@sharat87 thank you for being so quick at fixing it !

[2022-01-13 14:50] tbatista-fuze commented on #9624
still seeing the error being shown
![image](https://user-images.githubusercontent.com/88663755/149352502-0081977f-c783-43fb-91bc-bc61f3cb1a8b.png)

[2022-01-13 15:58] clouddistortion opened #10398 "[Bug]: Please remove vulnerable dependencies (log4j, h2, protobuf-java)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using a security scanner (e.g. https://www.aquasec.com/products/trivy/) there are lot of critical and high findings on the docker image level and also on the application dependency level.

The most severe findings, which keep me from deploying appsmith into production are:
1. log4j version 1

[2022-01-13 19:07] israrwz commented on #8393
+1

This is causing serious usability problem when trying to embed a Appsmith in smaller iframe in an existing website.

[2022-01-13 19:11] israrwz commented on #8393
the current css is as following:

[code]

the **height** deduction should be conditional on the presence of **embed** parameter in the url.

[2022-01-14 03:29] #10354 closed

[2022-01-14 04:29] YogeshJayaseelan opened #10402 "[Bug]: App crashes on renaming input widget and adding another input widget to the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that each and every time when an input widget is added to canvas and renamed as Number and the data type is set to number and on adding another input or any other widgets to the canvas the widgets doesn't load and on refreshing the page the app crashes

[![LOOM DEMO](http://cdn

[2022-01-14 05:16] abhvsn commented on #10299
This is useful in the scenario where SSH keys are compromised and user want to alter the keys

[2022-01-14 05:28] YogeshJayaseelan commented on #9119
@sbalaji1192 verified the fixed issues and they are working as expected

[2022-01-14 05:31] dilippitchika commented on #10167
Will wait for more evidence on this, tried reproducing but couldn't observe.

[2022-01-14 05:34] dilippitchika commented on #10077
Also fix #10126, video alignment issue.

[2022-01-14 05:49] dilippitchika commented on #7559
Will be a part of end-user-experience project Will is working on. Not tracking in widget enhancements.

[2022-01-14 05:50] dilippitchika commented on #7122
Will be tracked in the end-user experience project, will is going to start working on.

[2022-01-14 05:57] dilippitchika commented on #2847
Will not be picking this up in Q1 22 as this needs a new widget as described by Abhinav above.

[2022-01-14 05:59] #9194 closed

[2022-01-14 06:09] nayan-rafiq opened #10404 "API to update a template"

[2022-01-14 06:17] dilippitchika commented on #9624
Hi @tbatista-fuze can you help me understand your use case? Are you trying to show X axis with numbers and Y axis with strings?

[2022-01-14 06:20] #10369 closed

[2022-01-14 06:26] dilippitchika commented on #4182
@somangshu this sounds simple on paper, like we can add a "form.hasChanges" property to all form widgets. Need some help scoping this from your side, have the following questions for now
1. Is this high effort?
2. What are the edge cases?

[2022-01-14 06:26] nidhi-nair opened #10405 "[Feature]: Bulk delete rows in Google Sheets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add support for deleting multiple rows in one go for Google Sheets

### Why should this be worked on?

Part of CRUD queries that UQI requires.

[2022-01-14 06:31] rahulramesha commented on #10195
Assigning this to @marks0351 , as he is already working on overhauling some DnD logic, that fixes this and few other DnD related issues.

[2022-01-14 06:31] #7973 closed

[2022-01-14 06:36] dilippitchika commented on #8268
@somangshu can we move this to needs info?

[2022-01-14 06:45] ayushpahwa opened #10406 "[Bug]: Where clause UI is broken, the dropdowns are too big and overlapping other components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/8526215/149461844-e168214a-fc63-4425-a282-f228237592b2.png)

The dropdowns in the where clause component are overflowing and going under the rest of the components. There is also added scroll when extra filter groups are added

### Steps To R

[2022-01-14 07:06] aswathkk commented on #9615
Closing this since it got resolved on release

[2022-01-14 07:06] #9615 closed

[2022-01-14 07:24] RakshaKShetty opened #10407 "[Bug]: The data is not retained inside the rich text editor widget when the user navigate to datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The data is not retained inside the rich text editor widget when the user navigate to data source with in the same page
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2c45821ee9ae46e4a08e643233dde746-00001.gif)](https://www.loom.com/share/2c45821ee9ae46e4a08e643233dde746)

### Steps To

[2022-01-14 07:49] Nikhil-Nandagopal commented on #10357
@NguyenMinhDung thank you for reporting this. It seems to happen inside a modal and in some other cases

[2022-01-14 07:50] ramsaptami opened #10408 "[Bug]: Cloning a page containing JS object with duplicate names cause an internal server error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cloning a page that has JS objects with the same name causes app to return an internal server error.

### Steps To Reproduce

1. Create an app with `Page1`
2. Add JSObject names `JSObject1`
3. Create new page `Page2`
4. Move JSObject to new page so `Page1` and `Page2` will have `JSObject1`
5.

[2022-01-14 07:58] Nikhil-Nandagopal commented on #10398
Hi @clouddistortion 👋 thanks for reporting this issue. We're working on upgrading some of our dependencies to solve this issue

[2022-01-14 09:05] Nikhil-Nandagopal opened #10410 "[Bug]: Select Widget changes size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The select widget changes it's size based on the width of the options

### Steps To Reproduce

1. Create a select widget with long options and short width

https://user-images.githubusercontent.com/3897254/149488809-b87f8257-eebc-4591-b303-81c4c6f6bbee.mov

2. Select an option

### Environmen

[2022-01-14 09:37] tbatista-fuze commented on #9624
yes, sure, I'm doing a count for appearance of strings, for example:
{'wordA': 25, 'wordB': 30, ...}

[2022-01-14 10:13] ApekshaBhosale commented on #10150
@ramsaptami return is needed because if you don't return the promise, the platform will close the request and not process any events from the worker

cc @hetunandu

5:39
You need to return the promise to be able to process is properly

[2022-01-14 10:38] dilippitchika commented on #9624
![Screenshot 2022-01-14 at 4 06 46 PM](https://user-images.githubusercontent.com/19730984/149502017-195501f5-561f-4a40-8537-74013af10d11.png)
I guess you are using a column chart, can you use a bar chart instead? You will still need to map x-axis with string and y-axis with number but it will align as you want.

[2022-01-14 10:40] dilippitchika commented on #8573
Reopening issue, please check this - https://app.appsmith.com/applications/61d03b6fa4437918c01f9b92/pages/61e1378eeb0501052b9facfc?embed=true

[2022-01-14 10:46] dilippitchika commented on #8573
@techbhavin can you check the above comment and the git issue linked?

[2022-01-14 11:07] dilippitchika commented on #10410
Needs a fixed min-width defined and any characters exceeding it should just truncate.
https://www.loom.com/share/1c6fa3f8c5f948a4b150f43cc1dd4f29

[2022-01-14 11:20] #8480 closed

[2022-01-14 11:23] dilippitchika opened #10412 "[Bug]: Table styling bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Listing all the bugs here
1. Whenever we have background color for a cell, it applies to the whole table on search.
2. Even if the table data is fits the width, we observe a scroll horizontally. The last column doesn't resize to fit the width. Occurs even if there's less data than the width o

[2022-01-14 11:33] guidogabriel commented on #10096
I would like to reinforce that Oracle database support is essential to my company as many others

[2022-01-14 11:52] Nikhil-Nandagopal commented on #10096
Thanks for the upvote guido!

[2022-01-14 12:35] Irongade commented on #9300
This has been fixed via a commit on PR #10411.

[2022-01-14 12:35] #9300 closed

[2022-01-14 13:50] #10406 closed

[2022-01-14 13:53] #5708 closed

[2022-01-14 15:03] fabform commented on #8287
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-14 15:05] fabform commented on #4304
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-14 15:48] imanmzoe commented on #9977
We are also facing the same problem, and it would appear to be that the issue is that it cannot reliably connect to the Redis service.

[2022-01-15 04:43] abhvsn commented on #10172
A user on discord reported this and its failing on onboarding flow when userclicks on `Let's go` CTA on `Welcome to Appsmith` modal.

[2022-01-15 04:46] abhvsn commented on #10172
@hiteshjoshi please assign this to concerned person as this is affecting the onboarding flow

[2022-01-15 05:34] rohan-arthur commented on #1911
1. Change name of the meeting series to "Application Level Actions" - @ajinkyakulkarni
2. Explorer wireframes: @aakashDesign please share these
    Feedback:
    - what alternatives to we have to the tabs?
    - Title is "Queries/JS" but this section contains APIs also. Internally, don't we refer to all these as "Actions"?
    - Can I search for an application level action from the command palette

[2022-01-15 08:18] RakshaKShetty opened #10418 "[Bug]: The reset widget functionality doesn't work for rich text editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The reset widget functionality doesn't work for rich text editor
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/5db64902a69a44e5b136edd243859231-00001.gif)](https://www.loom.com/share/5db64902a69a44e5b136edd243859231)

### Steps To Reproduce

1. Go to the canvas
2. Drag and drop the Ri

[2022-01-15 08:30] RakshaKShetty opened #10419 "[Bug]: Deleting the default text from the Property pane doesn't reset the text from the RTE Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Deleting the default text from the Property pane doesn't reset the text from the RTE Widget
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/62e8a6f2983b45f88f9a240c2f4d220c-00001.gif)](https://www.loom.com/share/62e8a6f2983b45f88f9a240c2f4d220c)

### Steps To Reproduce

1. Go to Canvas

[2022-01-16 07:04] #4833 closed

[2022-01-16 09:39] RakshaKShetty opened #10420 "[Bug]: The data doesn't covert to Markdown type in RTE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The data doesn't covert to Markdown type in  RTE

### Steps To Reproduce

1. Drag and drop the RTE
2. Bind it with HTML code
3. Now Bind it with the Other RTE
4. Now change the Input type to  Markdown
5. The data doesn't covert to markdown

### Environment

Release

### Version

Cloud

[2022-01-16 15:20] mmkal commented on #2504
Has https://react-jsonschema-form.readthedocs.io been considered for this? It would cover the majority of use cases, but I'd imagine would take hours/days to implement rather than weeks/months/years. You just install the library! It might be worth a separate issue because it seems like there's a little more in scope here. Rjsf wouldn't know about database schemas out of the box, of course, but the

[2022-01-16 16:33] jbertoen commented on #3911
Not only application/ld+json also with application/vnd.api+json you experience this issue (JSON API).

[2022-01-17 05:37] dilippitchika commented on #10268
Happens with any widget addition and not just progress bar widget. This means we either add a scroll and add the options within scroll or support dynamic height. Don't think we should solve this now.

[2022-01-17 05:44] dilippitchika commented on #10261
Happens for all widgets as size of the window changes, need not pick this up right now.

[2022-01-17 05:47] dilippitchika commented on #10119
Needs to be solved, when label text size changes the input area needs to decrease accordingly.

@somangshu adding this to product backlog. Can we assign this to Paul to be picked up after the label enhancements ?

[2022-01-17 05:54] dilippitchika commented on #10118
@YogeshJayaseelan can you check the same issue in here. https://www.regextester.com/

According to this the second text "DDSFFr" is valid for [a-z]

[2022-01-17 06:03] dilippitchika commented on #10053
@momcilo-appsmith can you help with the design for this? How should the icon be aligned and how should the text be written in the input?

[2022-01-17 06:20] nayan-rafiq commented on #10066
Closing this as failed to reproduce. Also it occurred 2 times only, will check again if it happens again.

[2022-01-17 06:20] #10066 closed

[2022-01-17 06:27] dilippitchika commented on #9598
Really hard to see, pick this up after everything else is resolved.

[2022-01-17 06:31] dilippitchika commented on #8771
Not reproducible after moving the prop pane to right.

[2022-01-17 06:31] #8771 closed

[2022-01-17 06:32] eco-monk commented on #10115
Removed High label because, it's only async await keywords that are missing.
.then, .catch are available on actions. need to look into async functions.

[2022-01-17 06:46] dilippitchika commented on #9597
@sbalaji1192 is this fixed in the new input widgets for currency and country? If yes, can you please close this?

[2022-01-17 06:53] dilippitchika commented on #10052
Fixed in app-theming by @jsartisan #3369. Pawan please link this to your PR.

[2022-01-17 06:54] dilippitchika commented on #9580
@sbalaji1192 can you link this to input v2 PR, we can auto-close this.

[2022-01-17 07:12] dilippitchika commented on #8675
Thanks for bringing this to our attention. Fairly simple issue, add validation to not remove the first two options. Since this is a group type widget, users should at-least have 2 options.

[2022-01-17 07:29] #8675 closed

[2022-01-17 08:03] YogeshJayaseelan opened #10428 "[Bug]: Text styling is not applied in the pop up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when there is a larger text and truncate text toggle is enabled the styling applied are not populated in the pop up

<img width="336" alt="Screenshot 2022-01-18 at 2 35 43 PM" src="https://user-images.githubusercontent.com/11089579/149905367-a2e33436-a740-4b1c-9d54-63c82f6

[2022-01-17 08:34] abhvsn opened #10429 "[Feature]: Remove action and actionCollection ids from the exported JSON file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we export the application using the JSON file, actionId and actionCollectionIds are exported along with this JSON. For security reasons we are converting these Ids to a human-readable identifiers.

### Why should this be worked on?

This will help in reducing id leaks when we export the applicati

[2022-01-17 08:55] yatinappsmith opened #10431 "[Bug]: Apps with gsheet as datasource are broken."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Build appsmith locally using build slim container https://github.com/appsmithorg/appsmith/blob/release/contributions/ServerSetup.md   https://github.com/appsmithorg/appsmith/blob/release/contributions/ClientSetup.md

gsheet reauthorization fails
apps with gsheet cannot be imported

### Steps

[2022-01-17 08:57] yatinappsmith commented on #10431
Issue is only present on slim container.

[2022-01-17 09:09] dilippitchika opened #10432 "[Bug]: Hover state hides the text for lighter button colors in secondary and tertiary variants"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the Color of the button is white or any light color, the hover color being light makes it hard to see the text.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/705da99a394949478f30106168646e2c-00001.gif)](https://www.loom.com/share/705da99a394949478f30106168646e2c)

### Steps To R

[2022-01-17 09:33] sbalaji1192 commented on #9597
@dilippitchika No. There was another issue with the dropdown. Will fix this separately along with that.

[2022-01-17 10:00] momcilo-appsmith commented on #10432
@somangshu Can we use different hover color for the light version?
One other solution that is probably way easier to do is to have a transparent background instead of a solid color.

[2022-01-17 10:16] aswathkk commented on #8845
### Update on 17th Jan, 2021:
- Keyboard navigation experience for various property controls are being documented [here](https://www.notion.so/appsmith/Property-pane-Keyboard-navigation-5cd8d6fce0e0423cbe1fe4f8579e5e5a).
- Some property controls are getting modified in the App Theming project. That needs to be resolved.
- Keyboard navigation in Text Input and JS convertible options need to give a

[2022-01-17 10:28] leotom2000 commented on #5076
### Findings and Resolution

**Part A - Existing Behaviour**

- The Google Sheet(GS) System by default finds the nearest empty row from top and insets the new data (row)
- - Not a issue when inserting single row of data as it fills the empty row and then it appends after the last row.
- For Bulk insert, the GS System finds the nearest empty row from top and takes it as the start index for appendin

[2022-01-17 10:31] rohan-arthur opened #10434 "[Feature]-[560]:Limit GSheets datasource access for invited users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This is a user-reported issue. Suppose I have a GSheets datasource in my org, and I invite a user to my org, that user can now access all my drive's GSheets.

Steps to reproduce:
1. set up two appsmith accounts, for users "a" and "b": a@appsmith.com and b@appsmith.com
2. with account "a":
3. go to goo

[2022-01-17 11:13] grinono commented on #9226
I have the same issue for ECS deployment

[2022-01-17 11:18] chandannkumar opened #10436 "[Bug]: Blank Organization name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/ffdcdb4290f445d086d1d62b9289aab0-00001.gif)](https://www.loom.com/share/ffdcdb4290f445d086d1d62b9289aab0)

### Steps To Reproduce

1. Go to Organization settings
2. Keep Organization Name as Blank
3. Observe homepage with no organization n

[2022-01-17 11:40] rohan-arthur commented on #10431
tested this in prod cloud, not reproducible.
Also @prapullac tested in fat container and release - not reproducible

Looks like this issue exists only in slim container

cc @sharat87 @mohanarpit

[2022-01-17 11:45] prapullac opened #10438 "[Bug]: UPDATE and INSERT is not functional POSTGRESQL Mock DB (Corner case)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user creates a CRUD functional page from Postgresql mock DB the UPDATE and INSERT is not functional however when the user makes a DB with different credentials  it is working well

### Steps To Reproduce

1) Navigate to DB
2) Click on POSTGRESQL Mock DB
3) Click on "Generate Page "
4

[2022-01-17 11:48] chandannkumar opened #10439 "[Bug]: UI overflow in app homepage, which appears after every new Signup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot (16)](https://user-images.githubusercontent.com/95341241/149763452-1b73d1ae-7fda-40a2-bd71-4b866f667608.png)

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/0b4189459cf14c19aa24679052c03a97-00001.gif)](https://www.loom.com/share/0b4189459cf14c19aa24

[2022-01-17 12:21] #8233 closed

[2022-01-17 12:22] prapullac opened #10441 "[Bug]: After importing if the user tries to Fork or duplicate the application error is displayed to user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user tries to fork or duplicate an application within or to another application after importing the application an error message stating "Please enter a valid parameter name." irrespective of using any name format.
However, on refresh it is observed that the application forked or dup

[2022-01-17 12:24] akash-codemonk commented on #10172
Does not happen on click of button.
Performing a quick double click before the app gets created goes to this error state shown in the image. User workaround for this is to refresh the page.

[2022-01-17 12:31] somangshu commented on #8845
@momcilo-appsmith can you think about this as well? Let me know if you need a discussion

[2022-01-17 12:33] somangshu commented on #10432
@momcilo-appsmith what would be the condition to do that? I was thinking of the following

We can darken the font color and the hover remain the same as background. In case of secondary we can also do the same as font color to border color. WDYUT?

Ex: we select #FFFFFF, on hover we darken this color by for say 60%, the background remains transparent, In case the variant is secondary, the border c

[2022-01-17 12:35] prapullac commented on #9648
Based on the above comment by @RakshaKShetty we can close the issue

[2022-01-17 12:35] #9648 closed

[2022-01-17 12:39] rahulramesha opened #10442 "[Feature]: Group widgets Reflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Developer should be able to Reflow colliding widgets while dragging widget groups.
This has to be done in a performant way to avoid UI lags while dragging

### Why should this be worked on?

To decrease the possibility of failed drops while dragging widget groups.

[2022-01-17 13:01] rahulramesha opened #10443 "[Epic]: Reflow Improvements"
### Objective

To improve upon the existing Reflow feature to help the developer drag and drop widgets effectively on the canvas.

### Success Metrics

| Goal          | Metric         |
| ------------- | -------------- |
| Further improve drag an drop experience over Reflow feature | Decrease in failed widget drops on the canvas  |
| To Improve control over Reflow while UI building(especially con

[2022-01-17 13:02] vasani-arpit opened #10444 "[Bug]: Trimming column headers google sheets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I was trying with Google sheets but this might be common issue for all

https://user-images.githubusercontent.com/6497827/149771311-968f22c1-794b-4b3f-92a8-2d5443c2b442.mp4

So, There is a space in header so the actual data is

[code]

but evaluated value doesn't show that. Which misleads use

[2022-01-17 13:17] Debsourabh opened #10445 "[Feature]: Migrate the navigation bar from the old design system to the new one."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Migrate the old navbar to the new design system. We implemented the old designs which had some bugs.

Figma Links

New Navbar Design  : https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/?node-id=5280%3A26819
Navbar Menu Designs : https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/?node-id=5084%3A240

[2022-01-17 13:19] Debsourabh opened #10446 "[Task]: Migrate the share modal from the old designs to the new design system."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update the old share modal and align it with the new design system.

Figma Link : https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/?node-id=4546%3A53612

[2022-01-17 13:37] rahulramesha commented on #10443
Will be starting with group widget reflow and improving predictability in Reflow.
But for effective utilisation of reflow and to increase success rate of intentional container jumps, Locked widgets feature and a keyboard shortcut as an escape hatch for reflow would be nice to haves.
@areyabhishek , @Nikhil-Nandagopal , @vuiets and @somangshu, Please let us know your thoughts on this. If these addi

[2022-01-17 13:42] chandannkumar opened #10447 "[Bug]: Sorting of User's Role in Setting Page is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Sorting of users role leads to incorrect combination of email and role
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/84333a2eeca745e994f5419ca62202d5-00001.gif)](https://www.loom.com/share/84333a2eeca745e994f5419ca62202d5)

Note: The list gets correct after browser refresh and doesn't

[2022-01-17 14:10] rahulramesha commented on #10442
- [ ] Group widgets Reflow POC - 8
- [ ] Jest Tests - 2
- [ ] Code cleanup and bugs - 2

[2022-01-17 15:00] somangshu commented on #2504
Hey @mmkal thanks a lot for showing interest on this feature. Yes indeed we have considered this package while building our own JSON Editor. Keeping the usefulness of this feature for the community in mind, we felt we needed customised experience, and hence we went about building stuff by ourself, We are near completion for v1 and would love to have your feedback to you, Please checkout [this depl

[2022-01-17 19:02] dadebulba opened #10448 "[Bug]: Reactivity problem on deployed version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a multiselect input with options fetched from a SQL query. The user select the options and a list should render based on selected options. On development mode it works fine but on deployed version the list display "missing data" also when options are present and selected

**Development

[2022-01-17 19:26] Rishabh-Rathod commented on #8772
@Nikhil-Nandagopal In that case, shall we close this issue or keep it open for tracking?

[2022-01-17 20:52] BlakesEyeR1 commented on #9700
The documentation Database reference 1.2 for MongoDB indicates in the SSL section that a CA certificate can be uploaded, but this is missing from the MongoDB Datasource page. This stops you connecting to a DigitalOcean managed database which requires the certificate. This capability is not referenced in the documentation for 1.3

[2022-01-17 21:55] bradwood commented on #9226
same!  looking forward to this too!

[2022-01-18 05:53] Nikhil-Nandagopal commented on #8772
@Rishabh-Rathod lets keep it open

[2022-01-18 05:57] sentry-io[bot] opened #10450 "[Bug] Add option to disable test button in the datasources page for SaaS plugins"
Sentry Issue: [APPSMITH-1JP](https://sentry.io/organizations/appsmith/issues/2919289163/?referrer=github_integration)

[code]

[2022-01-18 06:00] sentry-io[bot] opened #10451 "[Bug] AppsmithException: Unexpected state. Default resources are unavailable for actionCollection with id 61e3ad92eb050105..."
Sentry Issue: [APPSMITH-1HS](https://sentry.io/organizations/appsmith/issues/2906045288/?referrer=github_integration)

[code]

[2022-01-18 06:01] Nikhil-Nandagopal commented on #10451
Another related sentry error
https://sentry.io/organizations/appsmith/issues/2918449928/?environment=Production&project=1546547&referrer=alert_email

[2022-01-18 06:04] somangshu commented on #8268
this is probably not valid any more, If this reoccurs well know, Closing for now

[2022-01-18 06:04] #8268 closed

[2022-01-18 06:05] IAmAnubhavSaini commented on #10444
It looks like that only the keys are affected (trim spaces, from both ends), values retain the extra spaces.

![image](https://user-images.githubusercontent.com/1573771/149879454-288b052d-a650-43b3-b4bf-86df52b6f0d9.png)

Notice that "SpaceAtEnd     " heading (on the left) is reported as "SpaceAtEnd" in the API Response(on the right); but the value retains the space.

[2022-01-18 06:18] somangshu commented on #9073
@dilippitchika there is a bit of misunderstanding here.

While your point to add tooltips on the column header makes sense, OP is asking for custom tooltips on column value:

Notice that the user is pointing to the row property which he want to show in the custom tooltip.

leaving a dev note here and adding this to the enhancement goals, lets discuss if required.

## Dev Note:
- [ ] Make a change

[2022-01-18 06:23] somangshu commented on #8330
@jsartisan can you tell me if adding the onClick property works or that will create a bottleneck for us later?

[2022-01-18 06:28] somangshu commented on #9597
@sbalaji1192 if this needs to be tracked separately please add it back to the HPI epic, since we want to close the input widget issues epic, we need only related issues there.

[2022-01-18 06:31] Nikhil-Nandagopal commented on #2504
@mmkal just to add to what somangshu means, react-jsonschema-form requires our users to learn a whole new schema language which we felt was too cumbersome. With our current implementation, you can just connect any object and the form will automatically render. You can then customise the properties of every field visually without needing to learn a schema

[2022-01-18 06:31] somangshu commented on #10428
@YogeshJayaseelan small request, please dont leave the issue description at observe, Its easier to the end user to grok by reading what actually was observed

[2022-01-18 07:03] abhvsn opened #10452 "[Bug]: Race condition for delete action when page is deleted with JSObject which have embedded action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we delete the page containing the JSObject, we are getting `resource not found error`. This is happening because we are trying to delete the same action again.

### Steps To Reproduce

1. Create a JSObject
2. Bind to a widget on the canvas
3. Try to delete the page and check `resource no

[2022-01-18 07:10] #5705 closed

[2022-01-18 07:11] #5890 closed

[2022-01-18 07:15] Nikhil-Nandagopal commented on #5076
@leotom2000 thank you for the detailed information on this issue! Could you also link the PR and close it once it's merged?

[2022-01-18 07:16] Nikhil-Nandagopal commented on #9073
Will this problem be relevant if we enable wrapping of text in the table column which seems like a much requested feature?

[2022-01-18 07:38] Nikhil-Nandagopal commented on #10448
@dadebulba can you invite support@appsmith.com to your application to debug this issue?

[2022-01-18 07:40] IAmAnubhavSaini commented on #10444
The solution is to add `white-space: pre-wrap` to the offending elements. These elements however live in react-json-view.

Solution:
![image](https://user-images.githubusercontent.com/1573771/149891012-1e5a4a9f-59df-45d2-8d90-d7371ecbfc17.png)

Or just add it to higher up component that appsmith controls (it might break other views, but this does preserve white-spaces):
![image](https://user-image

[2022-01-18 07:41] #6088 closed

[2022-01-18 07:42] #8545 closed

[2022-01-18 07:44] Nikhil-Nandagopal commented on #10439
Closing this since we're solving it in the new onboarding

[2022-01-18 07:44] #10439 closed

[2022-01-18 07:51] #10183 closed

[2022-01-18 07:52] #9119 closed

[2022-01-18 07:55] somangshu commented on #8506
@sbalaji1192 @YogeshJayaseelan @vivekverma2312 we have closed the main PR which was resolving the issues here, There are still some pending issues which were not closed, Please verify and close this soon such that we can take a call on the rest of the open issues.

@dilippitchika @Pranay105 this is getting release, We might need to check for the documentation changes.

[2022-01-18 08:10] dilippitchika commented on #10410
4 cols

[2022-01-18 08:29] Nikhil-Nandagopal commented on #8845
@aswathkk is there a deploy preview we can have a look at?

[2022-01-18 08:44] aswathkk commented on #8845
@Nikhil-Nandagopal As mentioned earlier, we are working on each controls individually. So, the DPs are different for each of them. The following document contains the DPs
https://www.notion.so/appsmith/Property-pane-Keyboard-navigation-5cd8d6fce0e0423cbe1fe4f8579e5e5a

[2022-01-18 08:49] vasani-arpit commented on #10444
Nice catch !! @IAmAnubhavSaini

[2022-01-18 09:09] #9200 closed

[2022-01-18 09:13] somangshu commented on #9073
@Nikhil-Nandagopal This will still not solve for what the OP is asking, That is to show another column value in a required column as tooltip.

This is an easy fix and should not take more than a couple of days.

[2022-01-18 09:16] RakshaKShetty commented on #10283
@jsartisan, @sharat87 I could repro this issue in the below scenario I have checked scenario in the link : http://3.110.209.147/applications/61e67a4c5e0814517e03a582/pages/61e67a4c5e0814517e03a585/edit
https://www.loom.com/share/b00b37ee1c0145ad84c778578ce40ad3

[2022-01-18 09:23] danciaclara opened #10456 "[Feature]: Add support for explicit data typecasting in MySQL prepared statement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

 If you try to add a number with leading zeros as a string into the database, it gets converted to an integer when the prepared statement is turned on.

### Why should this be worked on?

Here's an example where string "0001" gets converted to an integer

[code]

[2022-01-18 09:51] IAmAnubhavSaini commented on #10444
Table also has this issue. Check below: same data, no spaces.

![Screenshot-2022 01 18-14 56 05](https://user-images.githubusercontent.com/1573771/149910743-af81a330-cece-4003-bc8c-13873b621fa3.png)

There are two issues with table:

1. the column headers are already modified to use `_` instead of ` ` (space).
2. the data still has white-space, but cannot be rendered as such.

The solution of addi

[2022-01-18 09:54] dadebulba commented on #10448
Hi @Nikhil-Nandagopal, sorry, my bad. I discovered that the data delivered to the list was an Array of number. Apparently, Appsmith expects an array of object. So, instead of passing `[1,2,3]`, I casted it to `[{id: 1}, {id:2}, {id:3}]` and now the deployed app is working as expected. Maybe some debug/warning logs should be inserted in the browser console. Thank you for the support.

[2022-01-18 09:54] #10448 closed

[2022-01-18 09:57] somangshu commented on #7215
We are solving for this in #7064

cc @wmdev0808 @dilippitchika

[2022-01-18 10:07] dncpax commented on #10026
not stale...

[2022-01-18 10:11] leotom2000 commented on #9667
### Findings and Resolution

**Existing Behaviour and Failure reason**
- The system takes the datatype of each column from the first row.
- if there is a 4 digit Number it considers all data in the columns and set it as an INTEGER
- In case another row contains a 15 digit Number, it still generates the insert query as preparedStatement.setInteger(15DigitNumber)
- so it fails

**Resolution**
- Unde

[2022-01-18 10:22] leotom2000 commented on #7794
### Findings and Resolution

**Existing Behaviour and Failure reason**
- The system takes the datatype of each column from the first row.
- if there is a 4 digit Number it considers all data in the columns and set it as an INTEGER
- In case another row contains a 15 digit Number, it still generates the insert query as preparedStatement.setInteger(15DigitNumber)
- so it fails

**Resolution**
- Unde

[2022-01-18 10:27] Nikhil-Nandagopal commented on #10037
@somangshu is there a solve for this?

[2022-01-18 10:27] somangshu commented on #10196
Notes HPI Q1 22:

- 60 issues total
- all need defined estimate 😢
- 18 issues in needs info, should be divided between the team
- the team further decides if the issues should be picked up, if all relevant information is available, if picking up add the estimate and move the issue to product backlog, else drop a relevant comment, remove it from the epic and move it back to icebox, you could also c

[2022-01-18 10:35] leotom2000 commented on #8878
### Findings and Resolution

**Existing Behaviour and Failure reason**
- The system is unable to handle comma delimited numbers
- so it fails

**Resolution**
- Filtered the commas from the String Input
- Used Decimal Formatter to handle Float and Double

**Files Modified**
appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java

**_Issues Fixed_**
#9667
#7794
#

[2022-01-18 10:55] somangshu commented on #10200
Notes WE Q1 22:

- 22 issues total
- None is estimated
- 9 issues in needs design / PRD, @momcilo-appsmith / @dilippitchika to revert
- 4 issues in needs info & icebox, should be divided between the team
- the team further decides if the issues should be picked up, if all relevant information is available, if picking up add the estimate and move the issue to product backlog, else drop a relevant c

[2022-01-18 11:08] somangshu commented on #10196
Ongoing work roster:
check ongoing work for everyone on the roster

| Author | PR |
| ------ | ------ |
| Vicky | 3 |
| Paul | 4 |
| Tolulope | 2 |
| Yash | **7** |
| Bhavin | **5** |

[2022-01-18 11:09] rohan-arthur commented on #9279
@ramsaptami please check if still reproducible - this might have been resolved in BE Coders cc @nidhi-nair

[2022-01-18 11:22] Debsourabh opened #10458 "[Task]: Remap spacing across the application and align it with our 8px grid design system."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![image (12)](https://user-images.githubusercontent.com/34486435/149928212-50f9e49f-3ece-4db5-9d15-cbf3288ec23b.png)

Change `margin-right` to 24px.

[2022-01-18 11:42] vibhandikyash commented on #4758
Currently showing highlighted input in case of duplicate column name.
Closing this issue for now.
cc: @dilippitchika

[2022-01-18 11:42] #4758 closed

[2022-01-18 12:07] vibhandikyash commented on #10367
@sbalaji1192 This issue has already been fixed with the new Currency widget and is working in latest Release.
cc: @vivekverma2312 @sbalaji1192 Pl. verify and close the same.

[2022-01-18 12:07] AmanAgarwal041 opened #10459 "[Bug]: Change in one element of any form, re-renders all of the form elements multiple number of times."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Considering an example of Google Sheet Forms :
1. When the page is loaded each form element is re-rendered 21 times.
2. When there is a change in any one of the form element, all the other form elements are also re-rendered multiple times.

This tampers the performance as there are functions

[2022-01-18 12:09] #10233 closed

[2022-01-18 12:09] #9192 closed

[2022-01-18 12:29] somangshu commented on #10037
We know the problem @Nikhil-Nandagopal, waiting to get the right solution from @SatishGandham / @riodeuno

[2022-01-18 12:30] Nikhil-Nandagopal commented on #10367
seems fixed on release

[2022-01-18 12:30] #10367 closed

[2022-01-18 14:36] #10260 closed

[2022-01-18 14:45] AmanAgarwal041 commented on #7900
After doing RCA, I have found that this bug is a backend issue.
The issue is with the parsing of the curl input :
file : `app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java` can be looked for `parse` function at line number 279 for changes to fix the bug.

[2022-01-18 15:07] MuhammadUzairK opened #10464 "Not able to run appsmith in kubernetes with podsecurity policy enabled: cp: can't create '/etc/nginx/nginx.conf': File exists"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In production one need to run containers as non-root users. When I enable securityContext for appsmith/appsmith-editor
it gives me error
+ cp /nginx-root.conf.template /etc/nginx/nginx.conf
cp: can't create '/etc/nginx/nginx.conf': File exists

### Steps To Reproduce

change the frontend-temp

[2022-01-18 18:54] #10357 closed

[2022-01-18 18:54] #10407 closed

[2022-01-18 18:54] #10418 closed

[2022-01-19 05:15] #10451 closed

[2022-01-19 05:27] AnaghHegde opened #10469 "[Task] Sync the repo with remote when the repo is deleted from the filesystem"
Docker volumes does not get picked up until user’s don’t have env variable `APPSMITH_GIT_ROOT` in their `docker.env`
This issue is faced when the user restarts their container.
So to keep local git-repo and DB in sync when the local repo is deleted, we should do the below set of actions from BE.
- Clone remote repo
- Check apps in DB which are linked to the repo and pull these branches in local

[2022-01-19 05:47] vicky-primathon commented on #9826
The fix for this issue is there in PR https://github.com/appsmithorg/appsmith/pull/10046

[2022-01-19 05:52] aswathkk opened #10470 "[Docs]: Mention about the usage of Smart JSON substitution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

I can't find any section in the docs about "Smart JSON Substitution" option available in API settings.

### Describe the improvement

The docs should mention some examples that inform the user about the scenarios in which one should enable or disable

[2022-01-19 05:54] somangshu commented on #10268
closing this in favour of dynamic height

[2022-01-19 05:54] #10268 closed

[2022-01-19 06:00] Nikhil-Nandagopal commented on #10464
@MuhammadUzairK are you running Appsmith from source or are you running it using docker / k8s?

[2022-01-19 06:00] vicky-primathon commented on #10419
Change in defaultText property needs to be handled in RichTextEditorComponent

[2022-01-19 06:05] Nikhil-Nandagopal commented on #10026
@dncpax that's just our bot coming in to wake everyone up when an issue hasn't seen activity for awhile 😆
We're working on how to solve this

[2022-01-19 06:05] techbhavin commented on #8560
close this issue for now , can not reproduce

[2022-01-19 06:06] vicky-primathon commented on #10402
Issue exists as cyclic dependency get created when Input widget is renamed to Number.

[2022-01-19 06:16] #10429 closed

[2022-01-19 06:17] Debsourabh commented on #10458
![image](https://user-images.githubusercontent.com/34486435/150074742-51f135a1-8604-4bd0-b435-2483b421091d.png)

 Improper padding on hover state to rename the application

[2022-01-19 06:18] #8573 closed

[2022-01-19 06:18] Nikhil-Nandagopal commented on #8845
@aswathkk can we have a merged branch where the latest updated changes are there so we can see the progress? Otherwise it's really hard to give feedback and we run the risk of needing to redo things at the end

[2022-01-19 06:20] Debsourabh opened #10471 "[Type]-[100]:Missing hover states across the application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![image](https://user-images.githubusercontent.com/34486435/150075099-cdaa405c-cf6c-4363-adae-a01133334018.png)

Hover state for the comments takes a while to kick in. The tooltip should be shown immediately on hover.

[2022-01-19 06:20] vicky-primathon commented on #9580
Setting the default country code will solve this error. We need to add default value of country code in property pane configurations.

[2022-01-19 06:20] techbhavin commented on #8393
this issue is covered in the pull request https://github.com/appsmithorg/appsmith/pull/10440.

closed this issue

[2022-01-19 06:20] #8393 closed

[2022-01-19 06:21] Nikhil-Nandagopal commented on #10172
This seems to be happening a lot. Are we sure this is the root cause?

[2022-01-19 06:25] somangshu commented on #10051
This is browser default behaviour, we need to see from the product POV if we want to do this for the RTE

[2022-01-19 06:27] somangshu commented on #9580
closing this as the feature is already covered in the new phone widget

[2022-01-19 06:27] #9580 closed

[2022-01-19 06:27] Debsourabh opened #10472 "[Task]: The delete option should the last option in any menu."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![image (13)](https://user-images.githubusercontent.com/34486435/150076136-fc1c607f-528a-4f49-9ca8-cb053253375c.png)

Delete should always be in the last option in a menu. If delete is a solo action then we can use it as a single option.

[2022-01-19 06:38] aswathkk commented on #8560
@techbhavin I'm able to reproduce this in my application.
Check this one: https://app.appsmith.com/applications/61696209770d321d435c371c/pages/61696209770d321d435c371e

[2022-01-19 06:43] SatishGandham opened #10473 "[Epic]: Optimise first load time"
### Objective

Optimise and serve the javascript efficiently to reduce the first load time for users on a slow connection.

There are 4 stages to a page load

1. Orange status bar appearing, this starts after the blocking css and main chunk are loaded.
2. A 5MB chunk of javascript is loaded, after this we see the editor header.
3. A 4MB Js chunk is loaded, after this we see the spinner.
4. Execute

[2022-01-19 07:17] akash-codemonk commented on #10172
We get this error when we try to create an app with a name that already exists. This happens on clicking multiple times which I am able to replicate.
Looks like the user goes to this state and then tries to click again. Each time this error gets logged to sentry so there are multiple errors in a single minute where the user has clicked multiple times. So quite sure this is only scenario where this

[2022-01-19 07:37] techbhavin commented on #8560
In Observation following point noticed

 when we change the background colors of the cell then mouse hover is not worked as expected the reason is cell background-color is not overridden with row background-color

![image](https://user-images.githubusercontent.com/58818598/150084505-5fbbe867-4bee-484f-b1f3-667aed4cba11.png)

cc @somangshu  @aswathkk  @dilippitchika

[2022-01-19 07:48] rahulramesha commented on #10443
Update from the discussion:

- Development for group widget Reflow is to be picked up now.
- UX of copy/paste experience is to be researched in the meanwhile https://github.com/appsmithorg/appsmith/issues/5150. @momcilo-appsmith, need your help with this.
- Group widget resize and Locked widgets are to be taken up at a later point.
- Decision on implementation of KeyBoard Escape hatch for Reflow i

[2022-01-19 07:49] Pranay105 opened #10474 "Adding Git Sync documentation"

[2022-01-19 07:50] Pranay105 opened #10475 "Adding docs for reflow and resize"

[2022-01-19 08:53] dilippitchika commented on #4328
Discussed with @sbalaji1192 can be done with word wrap logic, we can wrap if we encounter a new line character or the limit is reached. Dependent on #5693

[2022-01-19 09:13] MuhammadUzairK commented on #10464
I am running it from Kubernetes using this guide here: https://docs.appsmith.com/setup/kubernetes. But i made changes to frontend-template.yaml in order to run the containers with non-root uid.

[2022-01-19 09:50] somangshu commented on #8845
@aswathkk we could do what Satish had suggested, its `intermediate branch` for bigger features, We do the following:
- Create a PR for a base feature branch: ex - keyboard-navigation-property-pane
- We work on smaller chunks in independent branches for easier code review (like how you are doing right now), the only difference is that we will base this on the new `intermediate branch`
- All code ca

[2022-01-19 10:09] dilippitchika commented on #5693
Updated PRD, needs some discussion @somangshu @sbalaji1192 @riodeuno

CC @Nikhil-Nandagopal

[2022-01-19 10:14] somangshu commented on #10200
Ongoing work roster:

| Author | PR |
| ------ | ------ |
| @vicky-primathon  | 3 |
| @wmdev0808  | 4 |
| @Tooluloope  | 2 |
| @vibhandikyash  | **7** |
| @techbhavin  | **5** |

[2022-01-19 10:22] momcilo-appsmith commented on #8623
@somangshu Hey why am I assigned to this?

[2022-01-19 10:27] momcilo-appsmith commented on #10053
@dilippitchika The icon should be centered to the first line of text.

[2022-01-19 10:32] somangshu commented on #8623
@momcilo-appsmith its for the 3rd point

I feel we need some design help here, Let me know

[2022-01-19 10:37] somangshu commented on #8560
@techbhavin we should override the hover color with the highest priority. This is a valid bug

[2022-01-19 10:59] #10317 closed

[2022-01-19 11:09] AnaghHegde commented on #10241
Closing this via - https://github.com/appsmithorg/appsmith/pull/10334

[2022-01-19 11:10] rahulramesha opened #10480 "[Task]: Add Reflow Onboarding Info Card"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Reflow is merged to repo under a flag.
This task is to
- remove the flag and open to all users .
- Add a Reflow Info card as per [design](https://www.figma.com/file/etlAxSvqcR7DkztmMlEFgj/Reflow%2FResize-Onboarding?node-id=198%3A1874) to educate the user on Effectively using Reflow.

[2022-01-19 11:17] vicky-primathon commented on #8465
Here, the defaultTab needs to be validated when tabs/tabsObj property of Tabs widget changes. Right now we don't any way to validate a widget property whenever any property changes. Similar problem exists in Button Group Widget, Checkbox Widget etc.

To do this we need to make use of **dependencies** property of Widget Property Configurations and make use of this so that whenever any dependency ch

[2022-01-19 11:40] ramsaptami commented on #8054
Closing this since this has been implemented

[2022-01-19 11:40] #8054 closed

[2022-01-19 11:43] prapullac commented on #9351
Unable to reproduce this issue hence closing the issue

[2022-01-19 11:43] #9351 closed

[2022-01-19 11:47] dilippitchika opened #10483 "[Epic]: Widget Reskinning project"
Objective
1. First widget drag drop, should be amazing. When a user drops a widget they should feel amazed and it should be consistent with the theme they have defined.
2. Users should be able to style the widgets to give it their own look. This will flow into the variant design.

Outcome
1. Better looking widgets - Changed visuals for each widget
2. Ability to expose any style control quickly
3.

[2022-01-19 11:49] dilippitchika opened #10484 "[Epic]: Widget Design System"
Once the widgets are reskinned, we allow the users to create and manage these variants using a widget design system for the application.

[2022-01-19 11:53] dilippitchika opened #10485 "[Epic]: Organisation theme management"
Appsmith developers can share themes across different apps in orgs without having to create them again.

[2022-01-19 12:03] lublak opened #10486 "[Feature]: Serverside filtering and sort for Tables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Binding of the data from the Filter and Sort fields to the data sources.

### Why should this be worked on?

Currently, the filtering and sorting is client-side.
Especially with large amounts of data, I use serverside pageination.
But now it would be practical to integrate the data in sql as with serv

[2022-01-19 12:34] rohan-arthur commented on #4559
Meeting Notes:

- [x] 1. UQI components client side implementation will be done by next week - Ayush
         - [ x] done
         - [ x] entity selector
         - [ x] projection selector
- [ ] 2. Form to JSON conversion component for plugins . - Ayush/Aman
         - [ ] a. Data migration - 3 story points remaning
         - [ ] b. Server side migrations (for .data), PR raised - @nidhi-nair

[2022-01-19 13:18] ramsaptami commented on #9585
The above case works as expected for copy-pasted code, but removing default structure `export default {}` retains default functions `myFun1` and `myFun2` in the debugger instead of showing a message as seen in the screenshot below.

https://www.loom.com/share/5eb8a2db83e44a5cbf96592a47f7f579

![image](https://user-images.githubusercontent.com/79509062/150138442-ee11612e-7d7f-487e-8bff-aa70399396d9

[2022-01-19 13:26] aswathkk opened #10489 "[Bug]: Literal mustache syntax getting truncated in API request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've got a TextWidget with `text` property value as follows:
[code]

Since there's a literal mustache syntax, I've disabled "Smart JSON substitution" as well.
I'm sending it to an API via POST method with the data as follows:
[code]

In the API end, what I receive is a truncated value:
[code]

[2022-01-19 13:41] ramsaptami commented on #10170
hey @dilippitchika I'm not able to access that link. Can you repost please?

[2022-01-19 13:54] sumitsum commented on #2284
Meeting updates:
- @rohan-arthur create and share PRD (Product Requirements Document)
- @parth-appsmith
  - share link for updated deisgns
  - get feedback on updated designs
    - how to make `Query Variables` section distinct ?
    - is it ok to add an icon before the variable name for all plugins ?
    - @sumitsum - need to figure out changes to Pagination tab
  - Change text of `Create new API

[2022-01-19 14:05] ramsaptami opened #10490 "[Bug]-[224]:App card is created even when app import fails and no action can be performed on this app card"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

App card is created with no timestamp details when app import fails. This app card is a placeholder and performing any action like edit or launch throws a resource not found error.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/71cebf292b384a6293f0767805417ae3-00001.gif)](https://www.

[2022-01-19 14:10] marks0351 commented on #8415
closing this coz the issue is reproducible but property pane opens up on click again after docked property pane changes.

[2022-01-19 15:56] SatishGandham commented on #10037
@sumitsum
`it does a regex match to check if something similar with double curly braces exists or not {{...}}`
Can you check this again, it's not throwing an error if we send the value as [] instead of '[]'

[2022-01-19 17:28] abhvsn commented on #10408
@Irongade as per our earlier discussion move JS object across pages (point number 4 listed in the description) still open but this ticket talks about the cloning the page altogether. Can we track the issue about the move JS Object in seperate ticket?

[2022-01-19 18:04] Irongade opened #10492 "[Bug]: Moving a JsObject from one page to another page with existing JsObject of identical name causes naming conflict."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Moving a JsObject from one page to another page with existing JsObject of identical name causes naming conflict.

### Steps To Reproduce

1. Create an app with Page1
2. Add JSObject with name 'JsObjectTest'
3. Create new page Page2
4. Add a new JSObject with name 'JsObjectTest'
5. Move JSObje

[2022-01-19 18:07] Irongade commented on #10408
@abhvsn Okay, New Issue created for this edge case.

[2022-01-19 18:07] #10408 closed

[2022-01-19 23:54] ohansFavour commented on #9087
As per the project meeting on the 19th of January;

### Action Items

- @ohansFavour to look into #9181
- @ohansFavour to confirm the status of #2862 and @Rishabh-Rathod to look into it if no one is currently working on it
- @rohan-arthur to reschedule sprint planning date

[2022-01-20 02:48] #10004 closed

[2022-01-20 03:08] felixsuarez0727 commented on #10256
Hi! @sumitsum. Can you please assign this to me?

[2022-01-20 05:03] #5076 closed

[2022-01-20 05:06] ajinkyakulkarni opened #10493 "[Bug]: Refresh token is not being processed correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A user is reporting that the refresh token is not being processed correctly and therefore they must re-authorize the application on a daily basis.  The application (Infusionsoft Max Classic) doesn't use the offline_access method of OAuth2, so needs some investigation.

### Steps To Reproduce

[2022-01-20 05:24] #8012 closed

[2022-01-20 05:24] #7675 closed

[2022-01-20 05:25] #7697 closed

[2022-01-20 05:25] #7899 closed

[2022-01-20 05:26] #8804 closed

[2022-01-20 05:27] sbalaji1192 commented on #8804
Fixed as part of #9119

[2022-01-20 05:28] #9822 closed

[2022-01-20 05:29] sbalaji1192 commented on #9743
Fixed as part of #9119

[2022-01-20 05:52] #7475 closed

[2022-01-20 06:06] ramsaptami commented on #10490
This happens even when app duplication fails - except in this scenario the dummy app card created has timestamp details

[2022-01-20 06:09] vicky-primathon opened #10495 "[Feature]: Make a change in the column headers such that the overflowing content is visible in the tooltip upon hover on column header."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I would need tooltip for a column header since sometimes i have many columns and column name is big but i want to show as many columns as possible on view port. But this truncates table column name and i can't see the column header name without a tooltip.

### Why should this be worked on?

This will

[2022-01-20 06:12] somangshu commented on #6452
@SatishGandham do you think this could be a performance improvement? We are debating the functionality and we are stuck with onFocus calling the API repeatedly?

[2022-01-20 06:32] sbalaji1192 commented on #9597
@somangshu This is the only outstanding issue in the input widget v2 epic. will close this week and then we can close the input widget v2 epic.

[2022-01-20 06:39] YogeshJayaseelan commented on #9597
@sbalaji1192 Also observed by enabling allow currency or country code and on searching country and clicking on space the search filter disappears

https://www.loom.com/share/b70ba522ee084e468c386bfbc35c0b97

Suggestion : To search country/Currency using keyword - For example : Typing 'America' or 'US/us' can show United states/Canda

https://www.loom.com/share/889288d97c9341149cb18d57163abf4a

[2022-01-20 06:42] dilippitchika opened #10496 "[Enhancement]: Progress bar widget enhancements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There's no difference between indeterminate and determinate progress bar. We want to support the indeterminate or infinite loading progress bar in the widget.

### Steps To Reproduce

Select the indeterminate type of progress bar

### Environment

Production

### Version

Cloud

[2022-01-20 06:47] dilippitchika commented on #6314
Hi @ravenxone we have added this feature. Could you help us know if you still need this?

[2022-01-20 07:15] sbalaji1192 commented on #9597
@somangshu Just now debugged the issue. The issue is not related to the input widget. We're using ADS dropdown, so does the property pane dropdowns. Can observe this issue in both places. So removing this from the Input widget v2 epic. Lets add this to high priority issues.

[2022-01-20 07:28] dilippitchika opened #10497 "[Feature]: Support developers to use names given to custom columns while referencing the data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Appsmith developers can reference any column name from table data, even if it's custom.

### Why should this be worked on?

Currently users have to remember what is customCol1, customCol2 etc. while binding data to other widgets. We want to ease the reference process.

[2022-01-20 07:29] vuiets commented on #10436
@albinAppsmith could you take a look at this as well.

[2022-01-20 07:49] sbalaji1192 commented on #7810
@somangshu This issue is not related to the input widget. widget is getting rendered before the derived properties get updated. so we see the error message momentarily until the next render.
@Rishabh-Rathod Need your help debugging this.

[2022-01-20 08:05] hiteshjoshi commented on #10436
Hey, can't prioritise this atm. We will have it picked up near quarter end. This is bug but not critical.

[2022-01-20 08:10] sumitsum commented on #10431
@yatinappsmith @prapullac can you please invite me to the org where the test application used in the video is present ? I could not reproduce it on my local. I am hoping the test application could help.

[2022-01-20 08:38] ramsaptami commented on #10408
Works as expected - cloning the page and application does not give any error as previously seen

[2022-01-20 08:58] sumitsum commented on #10431
Closing since this issue was resolved as mentioned here: https://theappsmith.slack.com/archives/CTHN8GX5Y/p1642402286005700

[2022-01-20 08:58] #10431 closed

[2022-01-20 09:15] #5159 closed

[2022-01-20 09:21] #7998 closed

[2022-01-20 09:23] ajinkyakulkarni opened #10499 "[Feature]: Support a load event for Select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When the options are loaded in the Select widget, a [user](https://discord.com/channels/725602949748752515/760761686549463060/933649843598032926) wants to fire another query.  `onOptionChange` is only triggered when the selection is changed by manual user input.  Can we support a new event like `onOpt

[2022-01-20 09:23] yatinappsmith opened #10500 "[Bug]: User is unable to set smtp server on Caprover and digitalocean one click install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://discord.com/channels/725602949748752515/760761686549463060/933633682047115325

I have been trying to install Appsmith on Caprover but every time I change the environment settings to update the email smtp and click save, Appsmith crashes and has an error report that a line can't be fou

[2022-01-20 09:27] somangshu commented on #7507
@sbalaji1192 can you check this once?

[2022-01-20 09:27] #8506 closed

[2022-01-20 09:29] #10480 closed

[2022-01-20 09:34] ramsaptami commented on #10293
Execution is not affected by the errors displayed on the console. These errors are displayed as a result of how JS and API's are handled when app is loaded hence deprioritising this to `low`

[2022-01-20 09:48] yatinappsmith opened #10501 "[Feature]: Access Page ids of all the pages in an App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

User would like to get PageID of all the pages of the App.

### Why should this be worked on?

This feature will enable user to share link to a particular page directly instead of the app link

[2022-01-20 09:50] mohanarpit opened #10502 "[Bug]: Google sheets operations don't work on sheets with space in name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Google sheets operations should work without issues on workbooks with sheets that have spaces in the name.

### Steps To Reproduce

1. Create a Google Sheets query
2. Link to a sheet with space in the sheet name. Eg. `Sheet with space`
2. Choose "Insert row" option from the dropdown
3. Try to

[2022-01-20 09:55] SatishGandham opened #10503 "Set expiry headers on static resources"

[2022-01-20 09:55] SatishGandham opened #10504 "Write a performance test to measure first load time"

[2022-01-20 09:56] SatishGandham opened #10505 "Find a way to track first load time on user apps"

[2022-01-20 09:57] Pranay105 opened #10506 "Adding Camera widget doc"

[2022-01-20 09:57] SatishGandham opened #10507 "Optimise chunking and serve essential code on priority"
Find and separate code essential for first load
- [ ] Find out why the entry chunk is 5MB
- [ ] Separate code for each screen
- [ ] Identify common code
- [ ] Rate code on priority

[2022-01-20 09:57] Pranay105 opened #10508 "Adding Progress bar widget doc"

[2022-01-20 09:58] SatishGandham opened #10509 "Don't serve editor specific code in the view mode"

[2022-01-20 09:58] Pranay105 opened #10510 "Adding Map chart widget doc"

[2022-01-20 10:05] Pranay105 opened #10511 "Update code snippets with Promises change"

[2022-01-20 10:08] SatishGandham opened #10512 "Optimise serving CSS"

[2022-01-20 10:14] Pranay105 opened #10513 "Update Arango DB doc"

[2022-01-20 10:15] Pranay105 opened #10514 "Update Snowflake doc"

[2022-01-20 10:16] Pranay105 opened #10515 "Add documentation for Admin settings panel"

[2022-01-20 10:24] sbalaji1192 commented on #7507
@somangshu We have a 200 ms debounce when updating the widget's meta property since we don't wanna choke the worker thread as the user types in an input widget. In the scenario mentioned in the description, the onSubmit action gets triggered before the debounce expires.

[2022-01-20 10:34] wjurij commented on #7507
In the application I am developing it is quite an important issue. We're using a barcode scanner, which inserts a newline character after the code. The accepted input contains only the first character of the code. Due to this issue, we had to disable the endline character postfix on barcode scanner and so users accept every single code by pressing enter on keyboard.

The problem is also sometimes

[2022-01-20 10:48] sbalaji1192 commented on #7507
@wjurij Agreed, this is an important issue. we will provide a fix for this.

[2022-01-20 11:01] Rishabh-Rathod opened #10516 "[Feature]: Accordion Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user on discord requested for Accordion widget.

What is the Accordion component?
an example can be seen here - https://jqueryui.com/accordion/

### Why should this be worked on?

This needs to be triaged

[2022-01-20 11:09] ajinkyakulkarni commented on #10150
@Nikhil-Nandagopal Need your input on this issue.

[2022-01-20 11:13] vicky-primathon commented on #10402
Since "Number" is a restricted keyword in JS we cannot use it for naming the input widget.
To fix this I think we should evaluate the value and throw an error before setting the name.

[2022-01-20 11:35] dncpax commented on #8101
Looking at new version 1.6.7 the problem persists even though the UI has changed. Leaving here comments in hopes this will help future development.
When creating a page for a table appsmith now shows a dropdown with all tables from all schemas, ordered by tablename. So all schemas are mixed up together. And the dropdown does not allow you to input some text to filter the list. It's practically imp

[2022-01-20 11:42] AnaghHegde opened #10517 "In Git Commit section the text root is displayed along with the username"
Inconsistency in git clients in commit history with `root` is being used as committer. JGit picks up the global config for committer name and if that is not set then `root` is used. So if the authorName set by user is different from the global git config then  we will see different name in git client as commiter and authorName are different.
![Screenshot 2022-01-20 at 4 50 37 PM](https://user-imag

[2022-01-20 11:59] dilippitchika opened #10520 "[Bug]: Table flickers on page load, when there are multiple dependent fields from a table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a table has multiple dependent widgets like multiple dropdowns which update the table's data. The table is refreshed multiple times on page load. A user on discord also reported this.

### Steps To Reproduce

1. Open the [A-force app](https://app.appsmith.com/applications/61cd5be2a443791

[2022-01-20 12:07] AnaghHegde commented on #3199
- Mix panel dashboard set up @vuiets
- Readme file designs @vuiets
- Beta flag design for git-sync
- Polished Import flow mid next week:
    - Api to fetch not configured DS @AnaghHegde
    - Front end flow @rishabhsaxena @haojin111
- Flow for ssh key management
- Bugs fixes:
    - Auth around google sheets
    - Other issues

[2022-01-20 12:16] somangshu commented on #10283
@RakshaKShetty we have pushed the fix, please check

[2022-01-20 12:16] #10283 closed

[2022-01-20 12:35] sbalaji1192 commented on #7507
@SatishGandham @riodeuno Any ideas on how we can solve this? (please refer to this comment - https://github.com/appsmithorg/appsmith/issues/7507#issuecomment-1017326748)

[2022-01-20 13:25] ramsaptami opened #10521 "[Enhancement]: Provision sub headings on table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Sub-headings on tables are a common use case to display data and are helpful to users who need such a feature e.g., in reporting.

### Why should this be worked on?

Tables contain different kinds of data that sometimes need subheadings to accurately depict information.

[2022-01-20 13:32] MuhammadAdam-VentureDive commented on #10521
This is very common requirement in reporting from users to have show data in summarized way.

[2022-01-20 13:33] lublak opened #10522 "[Feature]: Id based pagination or Cursors based pagination (or both) for performance issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A way to access the last id (before the page change).
So that in theory can make `id > Table1.lastId Limit 10`.
Or for postgres: https://www.postgresql.org/docs/9.2/plpgsql-cursors.html with `Table1.lastPageNo` so you can move the cursor with a condition: `Table1.lastPageNo > Table1.pageNo`

### Why s

[2022-01-20 13:48] ramsaptami commented on #9317
Closing this in favour of #10293. Both are related to browser console displaying incorrect errors.

[2022-01-20 13:48] #9317 closed

[2022-01-20 14:05] momcilo-appsmith opened #10524 "[Bug]: Some of the columns in the grid are not as wide as the other ones"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to resize a widget the grid shows up and some of the columns are not as wide as the other ones.
I also tried to resize the widget to some of those grids, but the grid acts as if they don't exist.
I tried some of my old apps as well as creating new apps, but this doesn't happen ther

[2022-01-20 14:19] #10517 closed

[2022-01-20 15:04] pchambless commented on #10521
This will most definitely help move some functionality to Appsmith.  this is a very common Reporting feature for clientele that lean on reporting features (i.e. generate reports) rather than solely data navigation.

[2022-01-20 15:33] danieldare opened #10525 "[Bug]: Postgres queries unable to execute with more than 9 placeholders."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Since the last update  (v1.6.7 and the previous one),  Postgres queries are unable to execute with more than 9 placeholders.

<img width="424" alt="Screenshot 2022-01-20 at 16 30 42" src="https://user-images.githubusercontent.com/25982036/150369597-cd33f395-0553-4304-971f-8fa274f3e546.png">

[2022-01-20 15:41] ramsaptami opened #10526 "[Bug]: Copy-pasting Stat Box widget causes the copy to appear inside of the original widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Copy-pasting Stat Box widget causes the copy to appear inside of the original widget instead of the usual behaviour where the copy appears below the original widget.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9e4119c333894a76b53715713e431132-00001.gif)](https://www.loom.com/share/

[2022-01-20 15:51] ramsaptami opened #10527 "[Bug]: CRUD generation is not allowed when GSheet has only headers present"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a Google Sheet document has only headers and no data under those headers then the sheet cannot be used for CRUD.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/721afb5780264c91b62dc8452e130365-00001.gif)](https://www.loom.com/share/721afb5780264c91b62dc8452e130365)

### Steps To

[2022-01-20 15:52] ajinkyakulkarni opened #10528 "[Feature]: Add load event for widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Users are asking if load events can be supported for widgets like [Select](https://github.com/appsmithorg/appsmith/issues/10499) or [Table](https://discord.com/channels/725602949748752515/760761686549463060/933733443089604619) widget.

Can we add support for a load event at the basewidget level?

###

[2022-01-20 16:44] areyabhishek commented on #5708
@Irongade @nidhi-nair Could you describe this issue better so that we can add it our release notes? Today the description a little difficult to understand.

[2022-01-20 17:26] dilippitchika opened #10529 "[Enhancement]: Table doesn't retain the selected value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

On updating data for a selected row, when the table re-renders I want to keep the same row selected.

### Why should this be worked on?

A user in our community recognised that the default selected value get's reset everytime on data update.

https://community.appsmith.com/t/master-details-table-updat

[2022-01-20 18:57] QuintinPearson opened #10530 "[Feature]: xano database integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add xano to the available backends

### Why should this be worked on?

Many people use xano and would love to have it integrated

[2022-01-20 20:16] wolfslab opened #10531 "[Feature]: Nextcloud Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Nextcloud is a suite of client-server software for creating and using file hosting services. It is enterprise-ready with comprehensive support options. Being free and open-source software, anyone is allowed to install and operate it on their own private server devices.

Integration would be a great ad

[2022-01-21 05:23] dilippitchika opened #10533 "[Enhancement]: Change the default page background to be closer to white"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Change default page background into a shade of white instead of the current color so that it looks a little more modern.

Also assess the impact on current widgets.

### Why should this be worked on?

The current default page background looks like older admin panels. Changing it white would help bring

[2022-01-21 05:39] abhvsn commented on #10527
@sumitsum @nidhi-nair is there a way to get the column header when there is no row data except for the column headers, as this is needed while creating the CRUD page from the google sheet.
Currently, we are fetching the first row in the google sheet and use their keys to populate the available columns using `FetchSheetRows` method and `RowLimit=1`

[2022-01-21 05:45] abhvsn commented on #10441
@prapullac are you facing this issue, asking this because I'm unable to reproduce this on my end. Also, is this happening to a specific applications?

[2022-01-21 06:12] #9545 closed

[2022-01-21 07:32] prapullac commented on #10441
@abhvsn : Unable to reproduce the issue on the release environment. We can close the issue

[2022-01-21 07:32] #10441 closed

[2022-01-21 07:58] ohansFavour opened #10534 "[Bug]: Widgets private to List widgets show up in autocomplete hints for other entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a List widget is present on the canvas, widgets private to it show up in autocomplete hints in other entities.  These widgets should only be accessed via `ListWidgetName.template`.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c2329fd37d764071a29a7ae123d9a936-00001.gif)](https:/

[2022-01-21 08:46] Tooluloope commented on #7834
Closing since no occurrence since Nov

[2022-01-21 08:46] #7834 closed

[2022-01-21 08:52] abhvsn opened #10536 "Update `README` @vuiets"

[2022-01-21 08:52] Tooluloope commented on #9155
@vivekverma2312 @somangshu
I cant reproduce this.

[2022-01-21 08:52] #9155 closed

[2022-01-21 08:55] abhvsn opened #10537 "[Bug]: When application is connected to git user can't authorize the google sheet"
When a user connects the application with git, there is inconsistent behavior on how we obtain the token from Google. If the user is on the default branch this works just fine but fails when the same steps are followed from the child branch.

[2022-01-21 08:55] Tooluloope commented on #10420
fixed in https://github.com/appsmithorg/appsmith/pull/10422

[2022-01-21 08:55] #10420 closed

[2022-01-21 08:56] rashmi-rai opened #10538 "[Type]-[3000]:Add Validation support to datasource Forms"

[2022-01-21 09:01] ajinkyakulkarni commented on #7003
This will get resolved with #10235

[2022-01-21 09:20] ayushpahwa commented on #8046
Closing in favour of #10324

[2022-01-21 09:20] #8046 closed

[2022-01-21 09:41] felixsuarez0727 opened #10539 "[Feature] Twilio Integration"
Integrate Twilio

[2022-01-21 09:44] lublak opened #10540 "[Feature]: On Button Strg + Click | Center Mouse Button Click"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

onCtrlClick/onCenterClick/onNewTabClick?

### Why should this be worked on?

You are used to perform an action with a Ctrl + Click or with the middle mouse button other than with a simple click. Namely that the action open in a new browser tab.
Currently I use onClick to open a modal. It would be prac

[2022-01-21 09:48] rashmi-rai opened #10541 "UQI Documentation"
Add Documentation for
- End user experience while using UQI
- JSON / form mode
- Schema for where clause and sorting components

[2022-01-21 10:01] #10335 closed

[2022-01-21 10:01] AmanAgarwal041 opened #10542 "[Feature]: Indicate type of Datasource next to Query Name in Query Editor Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Need to add an image of Datasource type just before the query name to indicate which query the user is editing.

### Why should this be worked on?

It confuses the user about the type of datasource, one is working on.

[2022-01-21 10:19] #9946 closed

[2022-01-21 10:19] aswathkk commented on #8845
### Update on 21st Jan
- @aswathkk will discuss with @jsartisan regarding the property controls that are getting modified in Theming project
- @aswathkk and @ankurrsinghal will re-estimate this epic
- @somangshu will be collecting feedback for keyboard navigation behaviour in an input field. That is whether to use `Alt` + `Tab` combination or to just use `Tab`
- @aswathkk will put out at least 2 k

[2022-01-21 10:41] Tooluloope commented on #9601
@riodeuno, Should we handle this.
The Error messages are actually valid.

[2022-01-21 11:24] tbatista-fuze commented on #9624
tried with bar chart and the error persists. However, when I use a constructed JSON it works, but if the JSON is built using code to map it, it brakes

[2022-01-21 11:41] vicky-primathon commented on #4182
Not all widgets has isDirty property which is there in Input Widget, DropDown Widget, Phone & Currency Input widget.
We first need to add the same property for Date Widget, Rich Text Editor, Checkbox, etc. widgets.  That we can use the same to compute hasChanges property in Form widget.
cc. @somangshu

[2022-01-21 12:08] #10534 closed

[2022-01-21 12:30] AmanAgarwal041 opened #10545 "[Feature]: Create a datasource plugin for GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- [ ] We need to create a new datasource using this ui element.
- [ ] We need to create a new datasource page for the creation of GraphQL.

### Why should this be worked on?

This is the starting point of creating a GraphQL datasource flow.

[2022-01-21 12:35] AmanAgarwal041 opened #10546 "[Task]: Revamp of Datasource creation flow Logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Improve the code readability
- [ ] Improve the performance of the code
- [ ] Remove the hard coded logic

[2022-01-21 12:39] AmanAgarwal041 opened #10547 "[Task]: Add the GraphQL datasource plugin to the New Datasource Creation Flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Wire up the GraphQL plugin to the datasource creation logic.

[2022-01-21 12:41] keyurparalkar opened #10548 "[Bug]: Cannot assign multiple values to the autocompleteDataType"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently we cannot assign multiple autocomplete values to `autocompleteDataType`. This property is present under `Property Validation Configuration -> expected`. Due to this we cannot provide auto complete suggestions for scenario were the expected type has two data types.

For example:

[co

[2022-01-21 12:44] dilippitchika commented on #4182
Hey @vicky-primathon thanks for taking a look, can you discuss the effort needed for this once with @somangshu and update this thread? We can then take a call on this

[2022-01-21 12:45] AmanAgarwal041 opened #10549 "[Feature]: Refractor the API Editor Components for them to be used for GraphQL Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- [ ] We need to analyze and collate the components that are common to both API and GraphQL Editor.
- [ ] We need to move those Components to a common usage folder.
- [ ] Test API Editor after moving the logic to the common folder.

### Why should this be worked on?

- This can reduce the redundancy o

[2022-01-21 12:46] dilippitchika commented on #9624
Hey @tbatista-fuze I want to debug this with you on a call, if that's ok. Can you block a slot with me if possible?
https://calendly.com/dilip_pitchika/30min?month=2022-01

[2022-01-21 12:49] AmanAgarwal041 opened #10550 "[Feature]: Create the GraphQL Query Editor Page with Query and Variable Inputs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- [ ] Create a GraphQL Query Editor Page
- [ ] Add Query and Variable Inputs for the GraphQL requests

### Why should this be worked on?

This is the important part of creating a GraphQL queries for the user.

[2022-01-21 12:52] AmanAgarwal041 opened #10551 "[Feature]: Attach Headers, Params, Settings and other tabs to GraphQL Editor similar to API Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- [x] Wire up the tabs other than the body for the GraphQL requests.
- [ ] Test the overall flow of the GraphQL datasource.

### Why should this be worked on?

This is the final step for making the GraphQL request ready to be used.

[2022-01-21 13:43] tbatista-fuze commented on #9624
Done, see you there :)

[2022-01-21 13:46] iainhallam opened #10552 "[Feature]: OneDrive Excel as data source"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow Excel spreadsheets to be used as a data source

### Why should this be worked on?

Google Sheets can already be used, but the user controls in Google leave everything owned by the uploader/creator, rather than the workspace owner, so we've moved all shared documents to Microsoft OneDrive. Being

[2022-01-21 16:42] #9763 closed

[2022-01-21 19:49] areyabhishek commented on #10341
We got a Discord message where a user is quite annoyed and says that the error messages thrown by the modal is causing problems. I've pinged to find out more, but here's his current message.

<img width="675" alt="Screen Shot 2022-01-22 at 1 16 31 AM" src="https://user-images.githubusercontent.com/30255708/150590832-8fd2bb1b-4fe8-47f8-98a1-169bda222b50.png">

[2022-01-21 20:08] billyrudi commented on #10341
Consider to have an the modal also list view or date picker. The errors are many.. And if you have two or three modal forms than the page spent also 10 15 seconds to load or refresh.

[2022-01-22 01:36] Isaac23164 opened #10556 "[Bug]: Filter panel in table keep visible with no way to hide."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when I press on filter the filter panel appear and stay visible without a way to close it

### Steps To Reproduce

when I press on filter the filter panel appear and stay visible without a way to close it

### Environment

Deploy Preview

### Version

Cloud

[2022-01-22 04:48] rohan-arthur commented on #6872
@ApekshaBhosale what is pending here?

[2022-01-22 04:57] rohan-arthur commented on #8764
@ramsaptami the uploaded video is truncated, so I cannot see the issue. Would you please upload it again or elaborate further?
Are you creating a new JS object and trying to run a function inside it upon first creation? If yes, what is the expected behaviour?

[2022-01-22 05:43] areyabhishek commented on #6060
A user reported this bug on Intercom again today. See message below:
"also, i had reported this bug on discord like 3 months ago, where if you try to make firestore query with ==, <=, >= and a number, it just returns empty array where it should return proper docs. I just checked and it's still not fixed. It basically makes firestore query unusable if you want to use a number in the query."

@trish

[2022-01-22 05:53] areyabhishek commented on #10434
Got one more request on Intercom for improving Google sheets/drive integration

![Uploading Screenshot_20220122-112129.jpg…]()

[2022-01-22 06:43] ohansFavour commented on #10341
My thoughts

1.  We have introduced the concept of a `logBlacklist` (https://github.com/appsmithorg/appsmith/pull/4854). So we can conditionally populate the `logBlacklist` field with all the children of the modal. `The caveat here is that evaluations actually happen but errors don't get logged`.

2. We can also have an evaluationBlacklist. The problem however is that if the children of the modal

[2022-01-22 06:58] IAmAnubhavSaini opened #10557 "[Task]: `flattenObject` cannot handle circular/self-referential objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When an object is passed to `flattenObject` and that object has circular dependency, it fails to flatten the object and stack is overrun.

### Steps To Reproduce

It's about code quality. I am not sure if one can pass such an object from UI.

### Environment

Release

### Version

Self-Hosted

[2022-01-22 08:05] eco-monk commented on #10520
The error happens under following conditions:
1. A `tableData` query is bound to `Select` widget’s `selectedOptionValue`
2. Select widget’s `options` is populated through another query

[Example app export](https://drive.google.com/file/d/1FVHajpIHsB1xKRUjKv2NbAhH5RX-3Zsl/view?usp=sharing)

[2022-01-22 08:48] momcilo-appsmith opened #10559 "[Bug]: Select table dropdown from Quick Wizard page gets misaligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I go to generate a page from datasource, the entity explorer closes after a while. If I have the dropdown opened, everything shifts to the left except for that dropdown.

### Steps To Reproduce

1. Click on Generate new page from a datasource
2. Open the second dropdown (select table one

[2022-01-22 08:55] momcilo-appsmith opened #10560 "[Feature]: Turn all the select inputs for the quick page wizard into autocomplete components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I am suggesting that we make them all autocomplete instead of simple select inputs.

<img width="510" alt="Screenshot 2022-01-22 at 09 54 22" src="https://user-images.githubusercontent.com/81744497/150631859-d6710e58-4ffc-4493-a42b-4a5403af63a0.png">

### Why should this be worked on?

Users are strug

[2022-01-22 09:10] momcilo-appsmith opened #10561 "[Bug]: Dragging table column cards doesn't scroll up/down the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I have a lot of columns, I can't scroll up/down the property pane while dragging the table column cards.

### Steps To Reproduce

1. Drag a table on your canvas
2. Create 10 columns
3. Try to scroll up while dragging one of the cards.

Loom recording:
[![LOOM DEMO](http://cdn.loom.com/se

[2022-01-22 10:07] momcilo-appsmith opened #10562 "[Bug]: Long table search value gets covered by the clear icon button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a user tries to search for a value that is long, the search text gets covered by clear icon.

### Steps To Reproduce

1. Type in a long value in the search box in the table

<img width="568" alt="Screenshot 2022-01-22 at 11 05 04" src="https://user-images.githubusercontent.com/81744497/1

[2022-01-22 10:21] momcilo-appsmith opened #10563 "[Feature]: Popover widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Popover widget that allows you to add a yes/no question and two actions (yes/no).

Here is how it looks like and works: https://blueprintjs.com/docs/#popover2-package/popover2

### Why should this be worked on?

When you are scanning through a table full of data, you don't want to open up a modal for

[2022-01-22 11:02] momcilo-appsmith opened #10564 "[Bug]: How Appsmith works modal is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When someone signs up they get this modal of how Appsmith works. One of the pictures in that modal is pushed out of it because another icon's size has somehow changed.

![image](https://user-images.githubusercontent.com/81744497/150635823-abe9f2df-f2ad-4a95-8b58-ef8e4cc29585.png)

### Steps T

[2022-01-22 11:17] areyabhishek commented on #10562
Is there a design showing how this should work?

[2022-01-22 11:20] areyabhishek commented on #10561
Related to #8623

[2022-01-22 11:37] momcilo-appsmith commented on #10562
The designs that were provided for the search component were pretty clear on what the width of the text is. You can find one of them here: https://www.figma.com/file/w9CaXHF5iYcrLtiEbAHcFu/Original-Theme-Widgets-Library?node-id=468%3A5421

[2022-01-22 14:47] yatinappsmith opened #10565 "[Feature]: Add support for zero rating in ratings widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently minimum rating supported is 1 star. User should be able to select zero stars ratings.

### Why should this be worked on?

There can be uses cases where user can add support for zero ratings or no ratings .

[2022-01-22 14:59] yatinappsmith commented on #9908
Horizontal Radio group is useful for feedback forms

[2022-01-22 15:14] momcilo-appsmith commented on #10565
This already exists. If the end-user doesn't add the rating it will be submitted as a 0.

[2022-01-22 16:52] svanschalkwyk opened #10566 "[Feature]: Download table/form to local file with format (JSON, CSV, etc.)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Export a table or JSON object to a local file, specifying the format (JSON, CSV, etc.)

### Why should this be worked on?

Using Appsmith to edit and annotate data sources.

[2022-01-22 17:34] rohan-arthur opened #10567 "[Feature]: As an app viewer, I should be able to easily click into the table search field, so that I can avoid mis-clicks on the table header."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The default table search field is a nice feature with which I can search/filter the table, but there is a small usability problem with it. When I look at the table header, I cannot say where the search field starts and where it ends. In the following video, I first attempt to click into it in an area

[2022-01-22 17:50] bradwood commented on #9226
Just to add to this, an environment should be read from the _environment_ of the process/container and _NOT_ from a file. Naming a file as `something.env` is completely wrong, as this file is really now a config file which should be something like an `ini`, `toml`, `yaml` or `json` file.

Environment variables should ONLY be read from the _environment_ as the name suggests and they should **overri

[2022-01-23 05:33] yatinappsmith opened #10568 "[Bug]: Unable to use docker-compose in ubuntu 20.04 wsl"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Appsmith server fails to start on wsl ubuntu 20.04 wsl on windows 10 .Appsmith works properly with Administrator cmd prompt

### Steps To Reproduce

curl -L https://bit.ly/32jBNin -o $PWD/docker-compose.yml
docker-compose up -d
docker fails to star
[dockerlog.txt](https://github.com/appsmitho

[2022-01-23 06:03] anngedeus commented on #10256
Hello can I also help with finding a solution for this issue?

[2022-01-23 06:17] SatishGandham opened #10569 "[Bug]: Editor hangs when large amount of data is bound to text widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you add large amount of data to a text widget the page hangs. This could be due to binding large JSON, for example tableData of a table with 500 rows.

### Steps To Reproduce

Bind a large JSON (500x4) object to a text widget.

### Environment

Production

### Version

Cloud

[2022-01-23 07:50] sharat87 commented on #10568
Hey, it looks like MongoDB is failing to start. Can you share the log file `stacks/data/mongodb/log` please?

[2022-01-23 08:41] vgaltes commented on #10568
Hi, I'm facing this problem too. Here are the logs I have:

{"t":{"$date":"2022-01-23T08:36:28.348+00:00"},"s":"W",  "c":"ASIO",     "id":22601,   "ctx":"main","msg":"No TransportLayer configured during NetworkInterface startup"}
{"t":{"$date":"2022-01-23T08:36:28.349+00:00"},"s":"I",  "c":"NETWORK",  "id":4648601, "ctx":"main","msg":"Implicit TCP FastOpen unavailable. If TCP FastOpen is required,

[2022-01-23 08:44] sharat87 commented on #10568
Ah, thanks for the logs. It appears the permission on the MongoDB's key file were changed externally, I'm not sure how, probably by an AntiVirus program.

Can you try the following command to restore the permissions please?

[code]

After that, please restart with `docker-compose restart appsmith`.

[2022-01-23 09:02] vgaltes commented on #10568
Thanks for that. No luck, though. I have an enterprise antivirus, maybe that's the problem. I will talk with the Infrastructure guys and see what we can do. I'll post any news here. thanks!

[2022-01-23 13:23] sumitsum commented on #10256
Hi @anngedeus , thanks a lot for showing interest in this issue. Unfortunately, this issue has already been assigned to Felix. However, there are plenty of other `good first issues` that are still un-assigned. I would encourage you to take a look through those issues and find a nice and interesting issue to work on.  We would be very glad to help you with any of those issues that you pick. Eagerly

[2022-01-23 20:03] un-fuf-a-doo commented on #10093
I just want to add that on-premise Docker starts up successfully, but we also are getting connection refused. We have tried with iptables and without iptables, neither are successful.

Server is headless Ubuntu 21.10, so I cannot test via localhost. Telnet connection to all ports 80, 443, 9001 answer. Only in the browser do we see connection refused.

[2022-01-24 04:46] dilippitchika commented on #10567
@rohan-arthur the video is missing, can you add it again?

[2022-01-24 05:08] dilippitchika commented on #10565
@momcilo-appsmith the default is set to 3 when dragging a rating widget. App dev explicitly has to set it to 0.

App viewer cannot set the rating to 0 after selecting any other value.

[2022-01-24 05:37] dilippitchika commented on #10520
Hey @eco-monk do you know what we need to improve in the select widget to handle this?

[2022-01-24 05:52] dilippitchika commented on #8678
Related to #8593

[2022-01-24 05:53] dilippitchika commented on #9908
Linked to #10182

[2022-01-24 05:56] dilippitchika commented on #9792
Discussed with @momcilo-appsmith moving this to icebox, because this is a primary use-case for buttons in websites but not in Internal apps.

[2022-01-24 06:30] dilippitchika commented on #9073
@tmdoit will you be ok to spend some time on a call to help me understand why this is essential? Plus also the workarounds you may have already thought of. If yes, you can block time here - https://calendly.com/dilip_pitchika

[2022-01-24 06:30] arunvjn commented on #9727
Latest run - https://dashboard.cypress.io/projects/eyxvp8/runs/14199/overview

[2022-01-24 07:24] momcilo-appsmith commented on #3613
Hey @dilippitchika I don't think you guys need any design help here, I think this is pretty straightforward.

[2022-01-24 07:41] parth-appsmith commented on #9340
@ApekshaBhosale yes, as per the new design we have a new illustration in place.
This should get resolved once those changes are implemented.

[2022-01-24 07:44] dilippitchika commented on #7756
Linked to #4183

[2022-01-24 07:47] dilippitchika commented on #4183
https://www.notion.so/appsmith/Table-V2-feature-design-13383d0ebe914555902d404b05d634d1

[2022-01-24 07:51] dilippitchika commented on #5693
inline edit+word wrap

[2022-01-24 07:55] supermx1 commented on #8780
There are a lot of developers that need this. Sqlite is a really used database

[2022-01-24 08:11] Tooluloope opened #10575 "[Task]: Refactor Select and MultiSelect Widget to have a base Shared widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Create a Base Select Widget
- Use the Base Select widget to configure Select and Multiselect widget
- improve UX of serverside filtering

[2022-01-24 08:24] ramsaptami commented on #8764
@rohan-arthur Think the point @RakshaKShetty is trying to make is that the run button that appears in the debugger watch window needs to support run action. This panel is undergoing design change so we'll have to wait and see if the button stays and then pick this up

[2022-01-24 08:25] YogeshJayaseelan opened #10576 "[Bug]: Decimal option “0” is not stored on the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currency Input Widget - The decimal option “0” is not stored on the property pane when the user chooses decimal option 1 or 2 and closing the property pane and again choosing the decimal value to 0 and on re-opening the property pane the value changes to 1

https://loom.com/share/96c7aad0dd72

[2022-01-24 08:53] ohansFavour commented on #9436
This should be fixed in [this pr](https://github.com/appsmithorg/appsmith/pull/10338)

[2022-01-24 08:54] #9436 closed

[2022-01-24 08:54] ApekshaBhosale commented on #8940
@ramsaptami is this just for js editor or across appsmith?

[2022-01-24 08:56] Rishabh-Rathod commented on #7344
@hetunandu seems similar to #10026, If not please open it again.

[2022-01-24 08:59] clouddistortion commented on #10398
Just wanted to let you know that some new CVEs popped up for log4j1

CVE-2022-23307 , CVE-2022-23302 , CVE-2022-23305

[2022-01-24 08:59] vivekverma2312 opened #10577 "[Bug]: On hover the highlight is not proper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Uploading Screenshot 2022-01-24 at 2.24.49 PM.png…]()

### Steps To Reproduce

1. Drag and drop a button widget
2. Click on property pane
3. Navigate to On click property
4. Hover on "Execute a query" property
5. Observe that the hover is not proper

### Environment

Release

### Version

C

[2022-01-24 09:01] somangshu commented on #9792
Also because the font-weight as a property should be first thought of holistically such that we dont create issues like before with the variants.

[2022-01-24 09:02] eco-monk opened #10578 "Show JS function signature in autocomplete"

[2022-01-24 09:02] #6043 closed

[2022-01-24 09:06] sterres commented on #10568
I'm also having the same issue. Antivirus logs do not show anything special.

Could it be just the Windows -> Linux mount by WSL that has an impact on the permissions?

[2022-01-24 09:06] somangshu commented on #4182
@riodeuno @sbalaji1192 looping you guys in, Does the above solution by @vicky-primathon make sense here? Would you suggest a separate approach?

[2022-01-24 09:07] Tooluloope commented on #10575
Last DIscussion on Filtering

## Questions on Serverside Filtering
In select widgets we have the toggle for server side filtering which when enabled shows the onFilterUpdate action. Do we need this toggle? Can we show the onFilterUpdate directly instead of users having to switch on server side filtering?

##
I am liking the idea to call it `onSearch`, we should confirm with @Nikhil-Nandagopal  onc

[2022-01-24 09:07] ramsaptami commented on #8940
Seems to be only on the editor @ApekshaBhosale

[2022-01-24 09:10] somangshu commented on #8845
Note from Aswath:

Normally we use Tab keys to shift the focus from one field to other. But, in case of Text Input fields, Tab key has multiple use cases:

[ref](https://theappsmith.slack.com/archives/C025SE88KNE/p1643014031055100)

[2022-01-24 09:17] somangshu commented on #9597
@vicky-primathon please consult before beginning

[2022-01-24 09:22] ApekshaBhosale opened #10579 "[Task]: Multiple export KT and tasks breakdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-24 09:25] Rishabh-Rathod opened #10580 "[Task] POC for import of JS file"
This is for app-level actions.

[2022-01-24 09:26] ajinkyakulkarni commented on #9468
@eco-monk can you do a RCA on this one?

[2022-01-24 09:31] ApekshaBhosale opened #10581 "[Task]: Test cases for js editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-24 09:35] ApekshaBhosale opened #10582 "[Task]: Show values of entity on hover in JS editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- if Api1.data is refered in JS editor, on hover we need to show value of Api1.data

[2022-01-24 09:38] somangshu commented on #2504
Actionable:

- Documentation required @dilippitchika @Pranay105
- Can start review @riodeuno @ashit-rath
- can start QA @vivekverma2312 @yatinappsmith
- Some new widgets have gone into release, so need to port them @ashit-rath (#9582)
- test are written and done with
- Some [issues pointed out](https://www.notion.so/appsmith/JSON-Form-editor-0e20b4529d344a7dbcbbe32fea1e0e40) by @dilippitchika need

[2022-01-24 09:43] shwetha-ramesh opened #10583 "[Bug]: Preview and resizing not available when uploading Display Picture"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Preview not available when uploading Display Picture from Filepicker widget. The user has to click on cancel and then upload the file. Only then the picture gets uploaded. User also not able to resize the picture currently.

Also the picture gets compressed after uploading

_Similarly Organiz

[2022-01-24 09:44] ApekshaBhosale commented on #10582
Branch name - experiement-with-js-tooltips

[2022-01-24 09:53] ApekshaBhosale commented on #9269
pending on designs. functionality is on branch name - 'auto-indent-js-editor'

[2022-01-24 09:59] vgaltes commented on #10568
Thanks @sterres ! The workaround worked :D

[2022-01-24 09:59] nayan-rafiq opened #10584 "Add API to get similar templates"

[2022-01-24 10:02] nayan-rafiq opened #10585 "Define the datastructure for templates"

[2022-01-24 10:02] ramsaptami commented on #9279
Haven't come across this recently. May have been fixed so I'll close it for now and reopen if it happens again

[2022-01-24 10:02] #9279 closed

[2022-01-24 10:04] Tooluloope commented on #9116
@dilippitchika https://www.loom.com/share/fa9a4b7a2aa1449c8f43aa56e1bf1dd7
Could you confirm if it crashes

[2022-01-24 10:11] Nikhil-Nandagopal commented on #10556
@Isaac23164 there should be an x to close the filter. Can you share a video / screenshot of what you're seeing?

[2022-01-24 10:11] #10556 closed

[2022-01-24 10:12] rohan-arthur commented on #10434
related:  #3313

[2022-01-24 10:17] Nikhil-Nandagopal commented on #10516
Duplicate of #2888

[2022-01-24 10:17] #10516 closed

[2022-01-24 10:23] Nikhil-Nandagopal commented on #10486
@lublak sort is already available. You can bind {{Table1.sortOrder.column}}. Server-side filtering is still missing today

[2022-01-24 10:23] eco-monk opened #10587 "[Task]: look into autocomplete of API response"

[2022-01-24 10:29] ramsaptami commented on #8663
Works fine on release now hence closing the issue

[2022-01-24 10:29] #8663 closed

[2022-01-24 10:34] Tooluloope commented on #2906
Hi @iocampomx
Apologies for just getting back to you.
Yeah, I was working on this issue, but we needed to have the full context of all that needed JS Format so we don't go back and forth. I'd try to raise the priority for this issue.

cc @somangshu @dilippitchika
Issue is currently in icebox

[2022-01-24 10:38] hiteshjoshi commented on #8636
Things to work next on the scope definition document.

1) URL definitions.
2) Unicode support.
3) Edge cases for homepage deletion and new url for homepage.

[2022-01-24 10:41] pranavkanade commented on #7996
This also observed for deployed apps -
<img width="1344" alt="Screenshot 2022-01-24 at 3 57 03 PM" src="https://user-images.githubusercontent.com/13262095/150768347-1b2c5c4d-61d4-4aa0-9cbe-b9005da2f7c6.png">

[2022-01-24 10:43] nidhi-nair commented on #10434
For us to be able to let authentication be stored at a per user level we need to be doing the following things:
1. Store datasource credentials at a per user per datasource level
2. Expose a widget that has a CTA to perform authentication
3. To be able to address the concern from the screenshot, we also need to be able to set the scope of authentication as a configuration. For example, in this use

[2022-01-24 10:52] dsakaria16 commented on #10072
Hi Guys, any update pn when this can be rolled out?

[2022-01-24 10:54] somangshu commented on #10486
@lublak this might be possible today even on the server side using the onSort event, which can be used to call an api, We also have an internal property {{Table1.sortOrder}} which gives you the column name and the order in which the user is asking you to sort, this is set to null when no column is set on sort.

<img width="1159" alt="Screenshot 2022-01-24 at 4 21 03 PM" src="https://user-images.gi

[2022-01-24 10:54] abhvsn commented on #10490
@ramsaptami re-iteration here to keep the expectations consistent, in failure scenarios server should throw a friendly error message and the app card should not show up. Is there anything other we are looking for?

[2022-01-24 10:56] arunvjn commented on #10090
Fixed in the latest explorer DP.

[2022-01-24 10:56] ohansFavour commented on #10072
Hi @dsakaria16 , this is currently being investigated and will be fixed as soon as possible.

[2022-01-24 10:59] chandannkumar opened #10588 "[Bug]: Mirrored option is not available for Video recorder in Camera Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/7e54e272a0264ea8b69d4e02a704dca7

### Steps To Reproduce

1. Add camera widget to canvas
2. Observe your mirrored image in Camera mode
3. change the mode to Video and observe that the image appeared is not a mirrored and also there is no option to change so

### Env

[2022-01-24 10:59] pranavkanade commented on #9226
<img width="473" alt="Screenshot 2022-01-24 at 4 28 34 PM" src="https://user-images.githubusercontent.com/13262095/150770824-922c5f35-7d76-40f8-8246-b7681307110b.png">

[2022-01-24 11:03] somangshu commented on #10588
@chandannkumar this feature is not supported in the underlying package and will need higher efforts, Ill be parking this for now

[2022-01-24 11:04] Nikhil-Nandagopal commented on #10486
@somangshu it does but the same needs to be possible for filters as well

[2022-01-24 11:06] ohansFavour opened #10589 "Linter doesn't show an error for unused variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="288" alt="Screenshot 2022-01-24 at 12 02 45" src="https://user-images.githubusercontent.com/46670083/150771441-b4ef377a-77a3-44df-a061-505139f93b72.png">

I don't get warned for unused variables

### Steps To Reproduce

On any code editor, write a valid JavaScript function with un

[2022-01-24 11:07] Nikhil-Nandagopal commented on #10150
@ajinkyakulkarni @ApekshaBhosale @hetunandu is it possible to detect a promise literal when we parse the JS and then auto flag it as async?

[2022-01-24 11:09] somangshu commented on #10486
@Nikhil-Nandagopal agreed, we have an [open issue](https://github.com/appsmithorg/appsmith/issues/5398) for that, not yet prioritised, we might we able to get it up once we have the v2 for table.

[2022-01-24 11:11] Nikhil-Nandagopal commented on #8101
I think the core solution here is to not automatically display the tables in the entity explorer till a user asks for them. This will prevent the app from slowing down whenever Appsmith loads. This is being solved in our new deploy preview.
https://appsmith-git-feat-organizeentityexp-get-appsmith.vercel.app

[2022-01-24 11:13] somangshu commented on #10486
@Tooluloope I remember you working on the earlier feature set, Any comments on this, What is the effort required? Did we push this back for a reason?

[2022-01-24 11:16] Tooluloope opened #10590 "[Bug]: ADS Dropdown component crashes App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Double click on any dropdown selected option in the propertypane of any widget.property pane

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9931213360de4ea785d9e57c9f3b22d6-00001.gif)](https://www.loom.com/share/9931213360de4ea785d9e57c9f3b22d6)

### Environmen

[2022-01-24 11:16] Nikhil-Nandagopal commented on #10524
@momcilo-appsmith can you give us access to the app? Does it happen if you clone the app as well? Can you share a video?

[2022-01-24 11:19] nidhi-nair commented on #10527
We'd have to write a separate command for this. Makes sense to do that anyway since a get structure would be expected to work for multiple sheets inside a spreadsheet. We could return with a schema that has a structure similar to the SQL kind.

[2022-01-24 11:19] somangshu commented on #10590
@aswathkk could you check to see if this could be critical?

[2022-01-24 11:22] Nikhil-Nandagopal commented on #10529
@dilippitchika one way to do this is to store the last selectedrow and set it as the default selected row. We undid this experience by default because IIRC it was leading to an unexpected outcome of the next row being shown to a user when a row is deleted

[2022-01-24 11:27] somangshu commented on #10529
@dilippitchika we have a property called primary key for this which will help you retain the selected row, even after update! Of-course if the data is deleted I dont think we have anything selected then. Am I getting the problem statement right?

[2022-01-24 11:31] akash-codemonk commented on #2885
@NandanAnantharamu This as it seems to be working now. Please verify.

[2022-01-24 11:32] aswathkk commented on #10590
@somangshu I checked this in production and the error is getting logged in the console and this doesn't result in app crashing.
So, I think this is not a critical issue.

[2022-01-24 11:38] chandannkumar opened #10591 "[Bug]: Aspect ratio of video changes when Camera widget is longer in width than the aspect ratio"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2cb3685dd2ec4bd78bc19b2f41e146f0-00001.gif)](https://www.loom.com/share/2cb3685dd2ec4bd78bc19b2f41e146f0)

Aspect ratio of the image should be same in any (full screen mode or custom size) resolution of camera widget

### Steps To Reproduc

[2022-01-24 12:02] Nikhil-Nandagopal commented on #8636
@hiteshjoshi @nayan-rafiq the URL format seems a little verbose. Why not simply:
base_url/app-name/page-name-id

[2022-01-24 12:03] hiteshjoshi commented on #5969
Next actions :
@vuiets to get mixpanel events for git import for create datasource.

[2022-01-24 12:05] #2885 closed

[2022-01-24 12:05] rohan-arthur commented on #1911
### Entity Explorer
1. Aakash shared the [figma link](https://www.figma.com/file/i218rjf15OqlPvXuAOhm8I/Appsmith-IDE---App-level-Action?node-id=0%3A1) and [prototype](https://www.figma.com/proto/i218rjf15OqlPvXuAOhm8I/Appsmith-IDE---App-level-Action?page-id=0%3A1&node-id=11%3A17292&viewport=338%2C48%2C0.28&scaling=min-zoom&starting-point-node-id=11%3A17292)
2. We need to finalise on the nomenclatu

[2022-01-24 12:11] rohan-arthur commented on #10567
@dilippitchika done - have edited the OP

[2022-01-24 12:13] rohan-arthur commented on #10434
@nidhi-nair mentioning this here so that it doesn't get lost. There's also the unpleasant "duct-tape" option to consider, in case this becomes critical - to use google's drive permissions API to patch things up for the timebeing.

[2022-01-24 12:15] Nikhil-Nandagopal commented on #10566
@svanschalkwyk have you tried out download function? This should be able to achieve what you are looking for

[2022-01-24 12:15] #10566 closed

[2022-01-24 12:15] sentry-io[bot] opened #10592 "[Bug] DataIntegrityViolationException: The dollar ($) prefixed field '$lookup' in 'unpublishedCollection.variables.0.value.$lookup' is n..."
Sentry Issue: [APPSMITH-1MP](https://sentry.io/organizations/appsmith/issues/2953025943/?referrer=github_integration)

[code]

[2022-01-24 12:19] AnaghHegde commented on #9757
I guess we are not doing this at the movement. @hiteshjoshi We can close this right ?

[2022-01-24 12:39] Nikhil-Nandagopal commented on #10522
@lublak thank you for the feature request. This can also be achieved today by querying for
`where id > {{_.last(Table1.tableData).id}}` we will consider making this easier with a lastId field as you suggested

[2022-01-24 12:42] shwetha-ramesh opened #10593 "[Bug]: When table widget is binded with google sheet & forked to a different organization the data is lost."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When table widget is binded with google sheet & forked to a different organization the data is lost.

https://loom.com/share/458ef6023bf7490eab05be2d2764a016

### Steps To Reproduce

1. Open a new application in Org A
2. Drag drop table widget and bind with google sheet
3. Fork this applicati

[2022-01-24 12:47] Nikhil-Nandagopal commented on #7344
Not related. This is because there are bindings that are part of the data

[2022-01-24 13:07] arunvjn commented on #3708
Performance issues are taken care of in https://github.com/appsmithorg/appsmith/pull/9811

[2022-01-24 13:34] Ranisimo opened #10595 "[Feature]: Add Couchbase Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Expanding the list of integrations to include Couchbase.

### Why should this be worked on?

Generally, it would be a good idea to increase the amount of supported databases. While not totally necessary to do so, it would expand the number of users that this CRUD app framework could market towards and

[2022-01-24 13:38] dilippitchika opened #10596 "[Bug]: JS Snippet "aggregate query data" is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The aggregate query data snippet in the JS snippets is wrong. It's not working. A user reached out to me thinking it was a bug in our chart widget. I don't know why there's an error, but the error is in this line

aggregateMap[user.status] = aggregateMap[user.status] ? 1 : aggregateMap[user.s

[2022-01-24 13:40] sbalaji1192 commented on #4182
@somangshu @vicky-primathon Yeah. this seems like a good solution. we are already updating form data property by taking values from child widgets. However, reading isDirty won't be correct, since it just tells whether we have edited the input or not. if the user has edited input and later reinstated the same value, we shouldn't consider that scenario as having unchanged changes.
I guess we can onl

[2022-01-24 13:41] ankurrsinghal commented on #10577
Screenshot is not uploaded. What should exactly happen on Hover. The `Execute a query ` and `Execute a JS function` hover interaction is the same. @vivekverma2312 @somangshu

[2022-01-24 13:43] abhvsn commented on #9757
We can keep this under product backlog, but don't close this as this is requested a lot of times by community members

[2022-01-24 13:45] vivekverma2312 commented on #10577
@ankurrsinghal Please check the screenshot and loom video
<img width="1920" alt="Screenshot 2022-01-24 at 11 00 33 AM (2)" src="https://user-images.githubusercontent.com/83569920/150793862-41af0a0c-158c-46ab-838e-d792993dcf61.png">

https://www.loom.com/share/aaa79f2c1696475b961798e89280eb79

[2022-01-24 14:36] Irongade opened #10597 "[Feature]: CouchDb integration feature."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Adding couchDB integration datasource for users.

### Why should this be worked on?

Feature request by user.

[2022-01-24 14:43] billyrudi commented on #10597
I use couchdb in my applications with pouchdb  for mobile apps . they works very well and the sync is very usefull.
https://pouchdb.com/

[2022-01-24 14:47] lukearran opened #10598 "[Bug]: Organisation Invite Email Uses Current Session Base Address, and not Custom Domain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

**Expected**: When I send an invite to an organisation, I expect the button to be linked to the custom domain I have set (e.g https://appsmith.domain.com/user/signup?email=john@address.com).
**Actual**: When I send an invite to an organisation, the button link's base address is incorrectly se

[2022-01-24 14:54] ramsaptami commented on #10490
Yep, think that should be good

[2022-01-24 16:25] IAmAnubhavSaini opened #10601 "[Bug]: Clicking on just created JS object breaks the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I click on "Add a new JS object" and click on the created object immediately, the app breaks and I have to click "Retry" which then takes me to the created object after a reload (at least feels like reload of the app).

This behavior breaks the flow, and is easily triggered by clicking t

[2022-01-24 16:31] IAmAnubhavSaini opened #10602 "[Feature]: Provide code formatter/prettifier near the JS object code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

While adding "JS object", if we start coding and mess up the formatting, there is no way (except manual) to reformat the code.

![Screenshot-2022 01 24-21 37 50](https://user-images.githubusercontent.com/1573771/150823877-b102f0fa-89e0-4508-a624-6e0336e5bfcf.png)

### Why should this be worked on?

-

[2022-01-24 16:45] IAmAnubhavSaini opened #10603 "[Bug]: App timer in app list updates values only when mouse interacts with the element, plus shows negative value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I go to my list of applications, I see the last-edited-timer value update only when I hover in or out of the app components.

Also there is another issue, where timer shows negative value.

https://www.youtube.com/watch?v=-OiDrOgVenk

### Steps To Reproduce

1. Create an application
2. G

[2022-01-24 16:48] ramsaptami opened #10604 "[Bug]: Highlighted text area remains highlighted even after text has moved on property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Expand property pane after highlighting text on a text field and observe the behaviour as seen in the video. Empty space is highlighted instead of the text. This empty space abruptly collapses when clicked on.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2b788af6ecad4e3f8203f1a4b434

[2022-01-24 19:59] areyabhishek commented on #10604
I don't see the bug here. Isn't this good behaviour?

[2022-01-25 01:13] yatinappsmith commented on #8377
One more user has requested this feature. https://discord.com/channels/725602949748752515/760761686549463060/935331755978809454

[2022-01-25 02:34] marcoacierno commented on #9226
Does anyone here have any workaround for this?

[2022-01-25 03:49] rohan-arthur commented on #10602
@IAmAnubhavSaini please see the comment here and add anything else that we might have missed: https://github.com/appsmithorg/appsmith/issues/9269#issuecomment-1000147580

[2022-01-25 04:04] RakshaKShetty commented on #9904
Adding few more new issues

- [ ] When the user do a curl import the user is not able to rename the API
- [ ] when the user bind curl imported data into a text widget the then in the deployed version the user is not able to see the Data
- [ ] the page is not selected by default in this scenario its difficult for user to switch the branches
- [ ] The invalid URllimage is displayed on the canvas
- [

[2022-01-25 04:14] ramsaptami commented on #10604
The highlighted text is holding position on screen location and not on the text as seen in the attached video below. Another thing that happens on Appsmith is the empty gap that's created while expanding the property pane causes the text box to abruptly collapse when you click the area where the highlight existed. It should ideally be a smooth transition.

 https://www.loom.com/share/5a66df7657444

[2022-01-25 05:22] #10502 closed

[2022-01-25 05:42] somangshu commented on #10577
Are we able to verify this? How is this only happening on release? Can others check on local? cc @aswathkk @rahulramesha

[2022-01-25 05:46] somangshu commented on #4182
@sbalaji1192 I have a questions:
- When does the proposed `defaultValue` change / set? ex onBlur

[2022-01-25 05:49] arjunsriva-woven commented on #8780
Agree, we'd love to have this for some of our internal tools for non-developers too

[2022-01-25 05:54] nidhi-nair opened #10606 "[Bug]: AST parsing logic must include dependencies when local variables override these names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a locally declared variable and a dependency share the same name, the dependency is ignored. This also holds true for function arguments

### Steps To Reproduce

In the following example, Input1 would be ignored since it is detected as a local variable declaration.
[code]

### Environmen

[2022-01-25 06:06] aswathkk commented on #10577
@somangshu Observed this 5 days back on release. Check [this](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1642611214360100) thread

[2022-01-25 06:07] eco-monk commented on #10606
Although the issue is valid and has to be looked into.
Will need to look for a different example.

In this case, the interpreter would throw a reference error.

[2022-01-25 06:10] somangshu commented on #10604
@ramsaptami good find.

Still treating this as low, It doesn't stop the user from building the app.

Another thing is, Kindly do not add more issue to the EPIC - property pane improvements, We are fixed on the scope there, Labelling this `property pane` and leaving them will also allow we to later gather them in the next property pane epic

[2022-01-25 06:13] somangshu commented on #10593
@shwetha-ramesh kindly alway add the required labels, We have automations in place which will add the relevant labels and assign the required entity.

[2022-01-25 06:17] somangshu commented on #10567
We need a small design change to denote the clickable area for the search, Or programatically make it such that the search bar always covers the rest of the space!

[2022-01-25 06:21] somangshu commented on #10565
I will agree to the request after checking out other similar components in the market, We should allow the end user to submit no ratings

[2022-01-25 06:25] somangshu commented on #10562
@momcilo-appsmith should we truncate the text?

[2022-01-25 06:30] somangshu commented on #4266
@vicky-primathon this dosent seem to function on release / prod, re opening this issue, Please link it to #10046 is we are fixing it there

[2022-01-25 06:31] somangshu commented on #10561
This is duplicate of #4266

[2022-01-25 06:31] #10561 closed

[2022-01-25 06:43] somangshu commented on #8465
@riodeuno need your help in understanding if this should be a platform level change, and who should be handling it?

[2022-01-25 06:45] somangshu commented on #10528
@ajinkyakulkarni some additional info required here
- Should this be a onLoad event which fires when the data loading completes
- Should this be a onLoad event which fires when the widget loading completes

Additionally it would be helpful to understand the use case here. I dont see it through right now

[2022-01-25 06:50] prapullac commented on #10502
Hi Leo
Tested this issue and observe the following
Working Scenarios :
1) Space between sheet name works (ie: Forward me )
2) Space at the beginning or end of the sheet name works

Not working scenario:
1) however if the name of the sheet is ( Forward me ) does show an parsing error even when the sheet name is added properly into the query

[2022-01-25 06:53] somangshu commented on #10521
@MuhammadAdam-VentureDive / @pchambless do you have any screenshot or example of the request made here? It will help me get a better context.
Right now I am assuming that you need a way to show some additional information on each column values of a table. We have an open issue #9073, Let me know if this is in the similar lines

[2022-01-25 06:53] somangshu commented on #10402
@sbalaji1192 need you to chime in here

[2022-01-25 06:56] somangshu commented on #10499
I get the context better now, But the name `onOptionsLoaded` might be misleading. It feels like when the options are finished loading fire my event. Also should be take a call to fire the onOptionChange when programatically the default value is changed and this probably does not happen when the value is first set on page load

cc @riodeuno @SatishGandham @sbalaji1192 @Tooluloope @dilippitchika

[2022-01-25 06:58] somangshu commented on #10496
@dilippitchika we should probably do a v2 to merge both the widgets `circular` / `bar`

[2022-01-25 07:09] yaldram commented on #7996
One solution to this is to give the Popper element an boundariesElement so that it can preventOverflow. Under src/pages/Editor/Propper.tsx line 133 -
[code]
- `document.getElementById("canvas-0")` for editing mode.
- `document.querySelector('[type="CANVAS_WIDGET"]')` when in preview mode or deployed the app.

[2022-01-25 07:20] marks0351 commented on #7996
@yaldram we could also just get the boundary parent as a prop and set it to the popper.

[2022-01-25 07:24] Nikhil-Nandagopal opened #10607 "[Bug]: List Widget Broke"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The list widget broken in our a force app
https://app.appsmith.com/applications/61cd5be2a4437918c01f87af/pages/61cd8575a4437918c01f89b2?branch=master

### Steps To Reproduce

1. Go to the app
2. Click on an issue
3. Click on upvotes
4. Notice multiple items without any data
5. This used to ha

[2022-01-25 07:25] ajinkyakulkarni commented on #10528
@somangshu this is for whenever data in a widget is loaded/changed - either for the first time or on page load or on the subsequent data load/change event.

For example, say a **Select1** widget is populated by **Api1.data**.   When the options in the **Select1** are changed, the user wanted to fire an action/event.

The user's use case was to fire an action whenever the options in the Select widg

[2022-01-25 07:28] aswathkk opened #10608 "[Task]: Make the code editor Keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

All the text input fields in the Property pane is a code editor.
Make it keyboard accessible

[2022-01-25 07:28] sbalaji1192 commented on #10402
@vicky-primathon @somangshu Javascript keywords should not be used as entity names. We already have a long list of keywords that are restricted from being used as widget names over here - `JAVASCRIPT_KEYWORDS` - `/app/client/src/constants/WidgetValidation.ts`. some of the keywords are missing,  like Object, String. As part of this issue, let's expand the list to have all the js keywords.

[2022-01-25 07:29] sumitsum opened #10609 "[Feature]: Allow creating mock API endpoints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Provide a feature that allows creating mock API endpoins.

### Why should this be worked on?

API is one of the most used datasources in Appsmith. Users typically want to bind their data to widgets or write JS code around it. In case the actual API endpoint is not available or unusable or under develo

[2022-01-25 07:37] yaldram commented on #7996
@marks0351 done I have added `boundaryParent` prop. I am new to the table widget so we need to check this by changing the position of the filterpane multiple times.

[2022-01-25 07:44] RakshaKShetty commented on #9985
Reopening the issue i am able to repro this issue in the firefox

[2022-01-25 07:49] yaldram commented on #7996
I have pushed the fix branch here please check - fix/7996-table-filter-pane-overflow

[2022-01-25 08:12] Nikhil-Nandagopal commented on #10434
@nidhi-nair why do we need a widget to do this? Whenever a query is run on this data source, can we simply throw a 401 that says it's unauthenticated and that prompts the user to authorize the application? I think the editor mode and view mode should both work exactly the same in this manner.

[2022-01-25 09:08] chandannkumar opened #10611 "[Bug]: Restrict and show error message when adding Progress input beyond 0-100 in Circular progress bar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Circular progress bar is accepting input above 100% and also showing some results on UI (incorrect progress visual)

Please add error message and restrict the input range same as Progress Bar widget

https://www.loom.com/share/2b6b7c1db9844f5cb6cc7e4f2121cd9b

### Steps To Reproduce

1. Add c

[2022-01-25 09:44] sumitsum commented on #4387
Some performance enhancement is being done as part of https://github.com/appsmithorg/appsmith/issues/3630. We can check this issue's performance ask post the changes for 3630 are made and re-evaluate.

[2022-01-25 09:45] #10577 closed

[2022-01-25 09:56] aswathkk opened #10612 "[Task]: Make Color picker keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-01-25 at 3 25 42 PM](https://user-images.githubusercontent.com/10436935/150954299-ba20a017-4e89-42dc-a25f-8d9a44cccfb3.png)
Check Theming DP for updated property control

[2022-01-25 09:59] aswathkk opened #10613 "[Task]: Make Box Shadow control keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-01-25 at 3 27 55 PM](https://user-images.githubusercontent.com/10436935/150954682-fdf27aa1-bc73-4030-b908-8e5c7d365cb1.png)
Check Theming DP for new controls

[2022-01-25 10:01] aswathkk opened #10614 "[Task]: Make Border radius control keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-01-25 at 3 30 57 PM](https://user-images.githubusercontent.com/10436935/150955170-8fd47537-d089-43b9-9f76-b821fe2614ba.png)
Check Theming DP for new controls

[2022-01-25 10:05] aswathkk opened #10615 "[Task]: Make option input keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-01-25 at 3 34 44 PM](https://user-images.githubusercontent.com/10436935/150955974-4b175e83-f3d7-48d7-b296-6752ec98e31f.png)

[2022-01-25 10:08] aswathkk opened #10616 "[Task]: Make Draggable List keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-01-25 at 3 37 33 PM](https://user-images.githubusercontent.com/10436935/150956485-021e441f-3396-4b90-9c97-40e534803fad.png)

[2022-01-25 10:24] mojtab23 commented on #9221
One note: I think that I need to update testcontainers version.  https://stackoverflow.com/a/65244781/3291867

[2022-01-25 10:24] Nikhil-Nandagopal commented on #10596
Fixed

[2022-01-25 10:24] #10596 closed

[2022-01-25 10:28] nidhi-nair commented on #4559
Meeting Notes:

 1. UQI components available on release, consumption required on server side
 - [ ] Waiting on projection component changes @ayushpahwa by EOD
 - [ ] Pagination and sorting for S3 is in progress @sumitsum
 2. Form to JSON conversion component for plugins
- [ ] a. Data consumption on client side - @ayushpahwa
- [x] b. Server side migrations (for .data), PR raised - @nidhi-nair
- [ ]

[2022-01-25 10:33] riodeuno commented on #10037
@SatishGandham @sbalaji1192 and I triaged this issue. Here are the findings

1. This issue occurs because `dynamicBindingPathList` contains a property path that doesn't have a binding. For example, if we add a binding `{{ 1 === 1 }} ` to a property of a widget, say `isVisible`, the `dynamicBindingPathList` automatically includes `{ key: "isVisible" }`. This issue occurs when the entry in the `dyna

[2022-01-25 10:41] Nikhil-Nandagopal commented on #10037
Please prioritise this. This gets a ton of sentry events every day!

[2022-01-25 10:47] nidhi-nair commented on #9520
Copying this over from Slack:
[code]

[2022-01-25 10:48] #9520 closed

[2022-01-25 11:01] chandannkumar commented on #9743
Decimal value in Placeholder is still not restricted to selected Decimals

![image](https://user-images.githubusercontent.com/95341241/150964639-b3a9bd3e-4163-44b8-82fa-1b784bbebb4e.png)

[2022-01-25 11:01] nidhi-nair commented on #10434
@Nikhil-Nandagopal how would we trigger authentication in view mode? Do you mean to say we intercept action execution results and insert an authentication flow at that point?

I think it's cleaner to use a widget because it allows us to customize scopes on the basis of what the user wants it to be, and allows them to insert the authentication flow at the appropriate point in their application.

[2022-01-25 11:02] arminus opened #10621 "[Bug]: RichText default text doesn't refresh on {{ Table.selectedRow.<field> }} and row selection changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- Table1 has 2 columns, id and description, in the Postgres DB, one row has a non-empty description, others have empty or NULL descriptions
- a RichText widget in the same page uses `{{ Table1.selectedRow.description }}` as DefaultText
- when selecting different table rows, the content of the

[2022-01-25 11:15] chandannkumar opened #10623 "[Bug]: Decimal dropdown is not getting fixed to "0" when decimal is already set to other than 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Decimal value is not getting back to "0" if set as 1 or 2 once

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/22ce9d2f76d54127a5db48ee7496aff4-00001.gif)](https://www.loom.com/share/22ce9d2f76d54127a5db48ee7496aff4)

### Steps To Reproduce

1. Add currency input to canvas
2. set decim

[2022-01-25 11:21] Nikhil-Nandagopal commented on #10490
reducing priority since it doesn't break an existing app

[2022-01-25 11:22] sbalaji1192 commented on #10623
duplicate of https://github.com/appsmithorg/appsmith/issues/10576

[2022-01-25 11:26] sbalaji1192 commented on #9743
@chandannkumar Not a valid issue. Placeholder accepts a textual value. There is no value addition in searching for numbers in the placeholder text and restricting the decimal points based on the chosen decimal value. The placeholder is only used for visuals.

Closing this.

[2022-01-25 11:26] #9743 closed

[2022-01-25 11:32] Tooluloope commented on #9116
The main issue seems fixed.
The other issue is continued here https://github.com/appsmithorg/appsmith/issues/10379

[2022-01-25 11:32] #9116 closed

[2022-01-25 11:47] chandannkumar opened #10624 "[Bug]-[400]:"Disable icon" should be visible in Table widget's icon column is set to Disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/787a5533764443d6a57697747b73f062-00001.gif)](https://www.loom.com/share/787a5533764443d6a57697747b73f062)

### Steps To Reproduce

1. Drag and drop a Table widget
2. Change the action column type to Icon widget
3. Select a icon widget
4. E

[2022-01-25 11:56] sbalaji1192 commented on #4182
@somangshu defaultValue is the property that holds the default value of the widget. In input widget, it's `defaultText`.

[2022-01-25 13:27] sharat87 commented on #10464
Hey @MuhammadUzairK, thanks for reporting this. Yes, currently Appsmith Docker images can't run as non-privileged users. We are currently trying to fix it in a way that existing installations don't break. I'll keep this issue open, to be closed when that is resolved. Thanks again!

[2022-01-25 13:29] sharat87 commented on #10093
Hey @kpchandr, it sounds like your backend service isn't running. Is it possible to get the logs from the backend pod to see why it's failing to start?

[2022-01-25 13:31] sharat87 commented on #10093
Hey @un-fuf-a-doo, may I ask if you are also running on Kubernetes? If not, then I think you are facing a different issue. Let's move to another issue to investigate the problem. If you are indeed also running Kubernetes, can you share the logs from your backend pod to see why it might be having trouble working right?

[2022-01-25 13:34] thecodrr opened #10627 "[Feature]: Ability to wrap widgets on smaller screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, Appsmith has only a single static layouting option. This works but if you want to, say, layout 2 charts side by side, they appear really pinched on smaller screens. The workaround, obviously, is to layout everything vertically but this is a huge waste of space on bigger screens.

### Why sh

[2022-01-25 13:36] arminus commented on #7484
Workaround:

[code]

[2022-01-25 13:53] #10150 closed

[2022-01-25 13:54] #6671 closed

[2022-01-25 13:54] #10197 closed

[2022-01-25 13:54] #10253 closed

[2022-01-25 13:55] #10447 closed

[2022-01-25 13:56] #9636 closed

[2022-01-25 13:56] #9639 closed

[2022-01-25 13:56] #9641 closed

[2022-01-25 14:15] kalashjain23 commented on #7445
Umm, I see no actions on this issue from about a month, so if possible can I be assigned too for issue? @Rishabh-Rathod

[2022-01-25 14:52] Nikhil-Nandagopal commented on #10627
Hey @thecodrr thank you for the feature request. We have this feature tracked here #4630 please do upvote it :)

[2022-01-25 14:52] #10627 closed

[2022-01-25 15:14] Nikhil-Nandagopal opened #10628 "[Bug]: Super Admin Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The super admin page on self hosted has a lot of issues

### Steps To Reproduce

- The default state of whether users can signup shows false even though it's true
- The vertical spacing between the fields is too high. There's the same spacing between sections and between fields.
- The restart

[2022-01-25 15:18] #2414 closed

[2022-01-25 15:18] #1596 closed

[2022-01-25 15:25] #1179 closed

[2022-01-25 15:25] #1216 closed

[2022-01-25 15:25] #1411 closed

[2022-01-25 15:25] #1458 closed

[2022-01-25 15:25] #1466 closed

[2022-01-25 15:25] #1741 closed

[2022-01-25 15:25] #1786 closed

[2022-01-25 15:25] #1858 closed

[2022-01-25 15:25] #1890 closed

[2022-01-25 15:25] #1941 closed

[2022-01-25 15:25] #2054 closed

[2022-01-25 15:25] #2075 closed

[2022-01-25 15:25] #2095 closed

[2022-01-25 15:25] #2180 closed

[2022-01-25 15:25] #2184 closed

[2022-01-25 15:25] #2205 closed

[2022-01-25 15:25] #2219 closed

[2022-01-25 15:25] #2276 closed

[2022-01-25 15:25] #2291 closed

[2022-01-25 15:25] #2312 closed

[2022-01-25 15:25] #2346 closed

[2022-01-25 15:27] #1243 closed

[2022-01-25 15:27] #1643 closed

[2022-01-25 15:27] #2348 closed

[2022-01-25 15:27] #2451 closed

[2022-01-25 15:27] #2525 closed

[2022-01-25 15:27] #2534 closed

[2022-01-25 15:27] #2588 closed

[2022-01-25 15:27] #2688 closed

[2022-01-25 15:27] #2699 closed

[2022-01-25 15:27] #2744 closed

[2022-01-25 15:27] #2770 closed

[2022-01-25 15:27] #2955 closed

[2022-01-25 15:27] #3158 closed

[2022-01-25 15:27] #3213 closed

[2022-01-25 15:27] #3268 closed

[2022-01-25 15:27] #3269 closed

[2022-01-25 15:27] #3276 closed

[2022-01-25 15:27] #3278 closed

[2022-01-25 15:27] #3280 closed

[2022-01-25 15:27] #3447 closed

[2022-01-25 15:27] #3450 closed

[2022-01-25 15:27] #3457 closed

[2022-01-25 15:27] #3459 closed

[2022-01-25 15:27] #3563 closed

[2022-01-25 15:27] #3567 closed

[2022-01-25 15:28] #8327 closed

[2022-01-25 15:28] #10195 closed

[2022-01-25 15:29] #3616 closed

[2022-01-25 15:29] #3623 closed

[2022-01-25 15:29] #3635 closed

[2022-01-25 15:29] #3756 closed

[2022-01-25 15:29] #3767 closed

[2022-01-25 15:29] #3852 closed

[2022-01-25 15:29] #3888 closed

[2022-01-25 15:30] #3891 closed

[2022-01-25 15:30] #3900 closed

[2022-01-25 15:30] #3901 closed

[2022-01-25 15:30] #3940 closed

[2022-01-25 15:30] #3959 closed

[2022-01-25 15:30] #3965 closed

[2022-01-25 15:30] #3971 closed

[2022-01-25 15:30] #3994 closed

[2022-01-25 15:30] #4010 closed

[2022-01-25 15:30] #4041 closed

[2022-01-25 15:30] #4054 closed

[2022-01-25 15:31] #4070 closed

[2022-01-25 15:31] #4216 closed

[2022-01-25 15:31] #4260 closed

[2022-01-25 15:31] #4338 closed

[2022-01-25 15:31] #4340 closed

[2022-01-25 15:31] #4557 closed

[2022-01-25 15:31] #4566 closed

[2022-01-25 15:31] #4584 closed

[2022-01-25 15:31] #4585 closed

[2022-01-25 16:33] pchambless commented on #10521
Frankly I'm not remembering request, but it sounds like Grouping
request.  Being able to do something like this would be incredible!
Thanks!

------ Original Message ------
From: "Somangshu Goswami" ***@***.***>
To: "appsmithorg/appsmith" ***@***.***>
Cc: "pchambless" ***@***.***>; "Mention"
***@***.***>
Sent: 1/25/2022 12:53:26 AM
Subject: Re: [appsmithorg/appsmith] [Enhancement]: Provision sub
h

[2022-01-25 16:41] MuhammadAdam-VentureDive commented on #10521
I have attached screenshot by which you can get the idea

On Tue, Jan 25, 2022 at 11:53 AM Somangshu Goswami ***@***.***>
wrote:

[2022-01-25 17:03] ramsaptami commented on #10521
This should probably help too
![image](https://user-images.githubusercontent.com/79509062/151023824-c4213df8-887e-4419-999f-100c0cc66f36.png)

[2022-01-25 17:54] IAmAnubhavSaini commented on #10602
@rohan-arthur I didn't know that it is called JS editor. Yeah that pretty much covers the use case.

[2022-01-25 17:54] #10602 closed

[2022-01-25 18:17] ramsaptami opened #10630 "[Bug]: Alert for query onPageLoad execution keeps popping up each time the application autosaves"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

An alert for `onPageLoad` query execution is displayed each time the application auto-saves
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2c66649360db43719cdc9fd0e891d7a4-00001.gif)](https://www.loom.com/share/2c66649360db43719cdc9fd0e891d7a4)

### Steps To Reproduce

1. Type in any c

[2022-01-25 18:30] IAmAnubhavSaini opened #10631 "[Bug]: incorrect quotes around database table name in postgres integration scneraio"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I add a postgres datasource and add any query, if the table name has hyphens in it, then quotes get assigned to first word after the schema and the dot. For example, `public."counter"-with-db`

The quotes should be applied to the whole table name. For example: `public."counter-with-db"`

[2022-01-25 18:43] ramsaptami commented on #8415
When there's a widget like the modal, it's not possible to navigate between widgets without triggering the modal when the intension is only to navigate to the property pane. Having the label visible is a standard across the app and so having it accessible is necessary for consistent UX.
https://www.loom.com/share/f395d21cf8534cb1a8b9cc4009d14721

[2022-01-25 21:45] billyrudi commented on #10341
Hi, some news?

[2022-01-25 22:59] ruswerner opened #10633 "[Feature]: Rich Text Editor (RTE) should expose toolbar icons for the TinyMCE loaded plugins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Looking at the Rich Text Editor widget source code here:

https://github.com/appsmithorg/appsmith/blob/6accb9e364dc30a055cb7b9e68af826425b52eb3/app/client/src/widgets/RichTextEditorWidget/component/index.tsx#L76

It appears that a multitude of great TinyMCE editor plugins are loaded, however the confi

[2022-01-25 23:01] ruswerner commented on #10633
One additional note: It seems inefficient (network/cpu-wise) to load these plugins that cannot effectively be used by the editor because the buttons aren't included in the toolbar. I recognise that one wouldn't want *ALL* the buttons in the toolbar b/c it would be overwhelming to most, however there should be a way to specify which buttons are in the toolbar.

[2022-01-25 23:04] bradwood commented on #9226
You can probably fix this by creating your own docker container FROM this one and then wrapping the ENTRYPOINT with a shell script that takes the environment variables and writes out the config.env before starting the process... You could do this will a template file and the "envsubst" command in Linux (Docker) shell script in 3/4 lines of bash I expect.  But it's pretty hacky.

[2022-01-25 23:22] wmdev0808 commented on #7215
This issue has been fixed in the PR for #7064 : https://github.com/appsmithorg/appsmith/pull/10600

[2022-01-26 06:36] nidhi-nair opened #10634 "[Bug]-[900]:Welcome screen is not keyboard friendly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The dropdowns on the form do not seem to retain their values when they are tabbed through and selected via keyboard. The form can only be submitted when the dropdown selection is done by mouse click.

Tabbing through does not pass through the CTA (Next button)

### Steps To Reproduce

https:/

[2022-01-26 06:37] IAmAnubhavSaini opened #10635 "[Bug]-[2500]:Intrusive notifications while editing text values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I drop a component and start editing its text value (in right-hand-side options pane), if there is an error in the code, a notification or more come up and block me from editing.

Ideally, notifications should pop up from a top edge (any corner), and there should be a way to dismiss thes

[2022-01-26 06:52] nidhi-nair commented on #10450
SaaS plugins do not support test operation which is why this exception is thrown. A better UX would be to disable or delete the Test button entirely.

We should also not be tracking this exception on Sentry, that can be fixed immediately.

[2022-01-26 06:58] nidhi-nair commented on #10450
Reassigning to Rohan and Ajinkya so the datasource form changes can be taken up

[2022-01-26 07:01] nidhi-nair commented on #10384
Unassigning myself since this is a client side change. The solution here would be to pretty print the response after taking the content type and data into account.

[2022-01-26 07:08] eco-monk commented on #4789
Looking at tooltips for multi-line function calls
![image.png](https://images.zenhubusercontent.com/61531fe29d35475e13482574/7be2b9ec-547f-494f-a2ae-f90fa9a58979)

[2022-01-26 07:08] pranavkanade commented on #7256
<img width="477" alt="Screenshot 2022-01-26 at 12 37 53 PM" src="https://user-images.githubusercontent.com/13262095/151118488-7e6ab30e-22be-4b23-91f6-82c505671e7f.png">
Feature request on intercom

[2022-01-26 07:09] nidhi-nair commented on #10434
From a discussion with Nikhil:
We could think about solving this by exposing a a function the end user (say `authorize("Datasource1")`). The user could then program their API call to be authorized when they receive a 401 from their server.

Alternatively, we could expose the status of the datasource authentication to let the user control the call using that flag. We could also think about abstract

[2022-01-26 07:10] abhvsn opened #10637 "[Bug]: Curl import fails for the sub-branch application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When user connects the app to git and tries to import the curl this works fine for default branched application but fails when tries to import the same curl in sub-branch app.

### Steps To Reproduce

1. Connect app to git
2. You will get the default branched application
3. Import the curl wo

[2022-01-26 07:10] riodeuno commented on #8465
@somangshu
@vicky-primathon 's approach is correct here. We need to validate the `defaultTab` using `ValidationTypes.FUNCTION` type of validation, which will use the `tabsObj` as a dependency.
Let's update the validation function and write unit tests for the same.

[2022-01-26 07:10] somangshu commented on #10037
@riodeuno we have @yaldram in the team who could start looking into this with your help. We could look at this from a holistic view as suggested by you

[2022-01-26 07:11] abhvsn commented on #9904
@RakshaKShetty we are following the above issues under #10637

[2022-01-26 07:18] #9834 closed

[2022-01-26 07:23] nidhi-nair opened #10639 "[Feature]: Make Google Sheets scope editable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

From [this](https://github.com/appsmithorg/appsmith/issues/10434#issuecomment-1019069451) comment, a user would like to restrict access to Google Sheets so we only have edit permissions on specific sheets. We need to let users create their own scopes for this, that overrides the provided scopes. Since

[2022-01-26 07:25] #10469 closed

[2022-01-26 07:31] sumitsum commented on #9930
Re-opening since FE side changes are required.

[2022-01-26 07:32] nidhi-nair opened #10640 "[Bug]: Firestore queries show mandatory asterisk even when they are not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="540" alt="Screenshot 2022-01-26 at 1 01 46 PM" src="https://user-images.githubusercontent.com/5298848/151121368-ecc230df-906d-43b3-a6ff-d2952aa11b91.png">

### Steps To Reproduce

Go the Get documents in collection command in Firestore queries

### Environment

Production

### Ver

[2022-01-26 07:37] #3773 closed

[2022-01-26 07:37] #3800 closed

[2022-01-26 07:39] #3886 closed

[2022-01-26 07:40] Nikhil-Nandagopal commented on #4142
@mohanarpit is this still valid?

[2022-01-26 07:41] #4212 closed

[2022-01-26 07:41] #4215 closed

[2022-01-26 07:43] #6874 closed

[2022-01-26 07:44] #6914 closed

[2022-01-26 07:46] #7049 closed

[2022-01-26 07:46] #7152 closed

[2022-01-26 07:49] #5071 closed

[2022-01-26 07:49] #5060 closed

[2022-01-26 07:49] #5033 closed

[2022-01-26 07:50] #7510 closed

[2022-01-26 07:51] #4623 closed

[2022-01-26 07:51] #4652 closed

[2022-01-26 07:51] #5718 closed

[2022-01-26 07:52] #4595 closed

[2022-01-26 07:52] somangshu commented on #10607
there is definitely some problem, the standup app also is showing symptoms inside the list widgets in todays update, we need to investigate quickly and take an action

[2022-01-26 07:55] #5954 closed

[2022-01-26 07:55] #6047 closed

[2022-01-26 07:55] #6048 closed

[2022-01-26 07:55] #6089 closed

[2022-01-26 07:55] #6098 closed

[2022-01-26 07:55] #6270 closed

[2022-01-26 07:55] #6296 closed

[2022-01-26 07:55] #6455 closed

[2022-01-26 07:59] #8065 closed

[2022-01-26 07:59] #8066 closed

[2022-01-26 07:59] #8067 closed

[2022-01-26 07:59] #8073 closed

[2022-01-26 07:59] #8129 closed

[2022-01-26 07:59] #8168 closed

[2022-01-26 07:59] #8785 closed

[2022-01-26 08:00] #8024 closed

[2022-01-26 08:00] #8270 closed

[2022-01-26 08:01] #8241 closed

[2022-01-26 08:02] pranavkanade opened #10642 "[Bug]: Query fails on first request with error - readAddress(..) failed: Connection reset by peer (FaunaDB, Hasura & Supabase)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="369" alt="Screenshot 2022-01-26 at 1 28 16 PM" src="https://user-images.githubusercontent.com/13262095/151124538-e2deb666-95b8-4cf8-b5e4-bf34e6e01b68.png">
<img width="475" alt="Screenshot 2022-01-26 at 1 28 36 PM" src="https://user-images.githubusercontent.com/13262095/151124582-

[2022-01-26 08:02] #8609 closed

[2022-01-26 08:02] #8637 closed

[2022-01-26 08:05] #9407 closed

[2022-01-26 08:05] #9386 closed

[2022-01-26 08:37] mohanarpit commented on #10525
@danieldare I'm unable to reproduce this issue. Can you please share a sample of the DB query that you executed & the error message/screenshot that you faced?

[2022-01-26 08:47] danieldare commented on #10525
I have reached out to the user experiencing this issue. I'm awaiting his response.

[2022-01-26 08:51] #9724 closed

[2022-01-26 08:55] Nikhil-Nandagopal commented on #10598
@lukearran we're a little confused by why you're accessing the appsmith instance via the IP and not using a VPN? The public IP seems to defeat the purpose of the VPN

[2022-01-26 09:00] Rishabh-Rathod opened #10643 "[Epic] Application Level actions"
Product Note - #1911

[2022-01-26 09:15] lukearran commented on #10598
Yes @Nikhil-Nandagopal, in every other case we would use a VPN. However, in this particular case, the client is unable to provide us with VPN access due to policy.

[2022-01-26 09:15] somangshu commented on #4182
@sbalaji1192 apologies, but I am still confused, Does this property set with the meta value? I am assuming that this is only set with change in the defaultText property for say in the input widget

[2022-01-26 09:16] abhvsn opened #10644 "[Feature]: When migrations take place this updates application resources, which results inaccurate tracking changes for git-sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we run the migration during the release cycle more often than not we update resources attached to applications like pages, widget DSL, actions, JSObjects, etc. and users don't have any clue what migrations took place in a particular release. With the git-sync, we are providing a number of entitie

[2022-01-26 09:18] somangshu commented on #10528
@ajinkyakulkarni would it be possible for us to solve this with a js function? fire both event and call the function in select widget? I am trying to find out if this is already possible today and then take a call on the priority

[2022-01-26 09:37] Rishabh-Rathod opened #10645 "[Task] Entity Explorer UI Changes"
Need to have a UI when user can create app level entity and modify them.

[2022-01-26 09:38] somangshu commented on #10621
should be fixed with #10629 cc @Tooluloope

[2022-01-26 09:38] Rishabh-Rathod opened #10646 "[Task] Design Entity explorer for app level entity"

[2022-01-26 09:42] somangshu commented on #10633
@ruswerner thanks for the feature request and the additional context you have provided 🎉 . we will start looking into this now and prfioritize the fix.

[2022-01-26 09:51] Rishabh-Rathod opened #10648 "[TASK] Evaluation of Application level actions"

[2022-01-26 09:51] somangshu commented on #10635
@IAmAnubhavSaini these can be dismissed by clicking on them, is it not clear for the user, we might need to check we need a cross icon, cc @momcilo-appsmith

[2022-01-26 09:52] Tooluloope commented on #10621
Fixed in https://github.com/appsmithorg/appsmith/pull/10422

[2022-01-26 09:54] somangshu commented on #10521
@MuhammadAdam-VentureDive @pchambless would this feature be helpful #3071

I will take a note on grouping headers in the table widget here. @ramsaptami thanks for the context

[2022-01-26 09:55] IAmAnubhavSaini commented on #10635
@somangshu I realized that this notifications can be dismissed only while reading code. I have added `cursor: pointer` to indicate that these can be clicked.

I also want to know if we can move these to center of the screen, because now the property pane is fixed on right.

[2022-01-26 09:58] sumitsum commented on #10493
I spent some time going through the overall flow and had a discussion with @Nidhi  regarding this earlier today. Our current assessment is that the issue is with the oauth2 refresh token authorization mechanism - our implementation is slightly different from what the authorization server of the user application expects. We send the client credentials in the body of the API request whereas the user

[2022-01-26 10:01] somangshu commented on #10621
@arminus thanks for reporting this issue, we checked it on our end and this has been fixed on our release and cloud environment. Once we tag the release, this should be available in your self hosted instance as well. Give us till the end of day, we shall keep you posted here

[2022-01-26 10:19] #10621 closed

[2022-01-26 10:21] Nikhil-Nandagopal commented on #10635
@IAmAnubhavSaini Where do you mean by center? Do you mean absolute center or top center or right center?

[2022-01-26 10:22] Nikhil-Nandagopal commented on #10635
This needs to be thought through carefully because this is only a problem for editors, app viewers will still be happy to see the notifications on the top right corner since they don't have any permanent real estate there

[2022-01-26 10:30] wmdev0808 commented on #10119
This issue has been fixed on the PR at https://github.com/appsmithorg/appsmith/pull/10600

[2022-01-26 10:34] dilippitchika commented on #10341
Hi @billyrudi the end user cannot see the errors right? Can you please confirm?

Plus, the load time which you are referring to is it the page load or the load time for a specific widget like a table widget?

[2022-01-26 10:38] abhvsn opened #10650 "[Feature]: Only commit unpublished version for resources in git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently to be consistent with the import-export service we are pushing the unpublished as well as published versions to git for all the resources. We can avoid pushing published versions for the following resources with the expectation that both will have the same data.

### Why should this be worke

[2022-01-26 10:40] somangshu commented on #5693
@dilippitchika we could take a call to remove the onPageChange event as you suggested, let discuss ahead

[2022-01-26 10:42] #8444 closed

[2022-01-26 10:43] ajinkyakulkarni commented on #10072
Internal discussion thread about this https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1643175364068100?thread_ts=1643117151.066300&cid=C02K0SZQ7V3

[2022-01-26 10:55] ramsaptami opened #10651 "[Bug]: Error for a long function name spills over on the evaluated pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Long function name that error's out spills over on the evaluated pane

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/151150860-84eb14fb-1c28-4104-9bd3-024360ef8413.png)

### Environment

Release

### Version

Cloud

[2022-01-26 10:57] mojtab23 opened #10653 "[Bug]: mysqlPlugin tests are broken, testcontainers are not working correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running mysqlPlugin tests fails with this error.
[code]
It looks like the docker image for testcontainers is changed.

Next, I updated the testcontainers version from 1.15.0-rc2 to 1.16.3. It pulled the container images needed, but after starting the test it failed to connect to the container

[2022-01-26 11:03] mojtab23 commented on #9221
related to: #10653

[2022-01-26 11:10] arminus opened #10654 "[Bug]: RichText modified state doesn't get set by copy&paste and stores empty or previous value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Copy&pasting something into a RichText control doesn't appear to set its modified state, resulting in an empty or previous content being returned by RichText.text

### Steps To Reproduce

https://user-images.githubusercontent.com/683680/151152956-71656884-1cb7-4908-9d86-b9834df3de85.mp4

###

[2022-01-26 11:10] aswathkk commented on #5944
@Tooluloope The Video link seems to be broken.

[2022-01-26 11:17] IAmAnubhavSaini commented on #10635
@Nikhil-Nandagopal it is a valid concern, I guess apps also spend more time deployed and have lot more users; than devs in edit mode.

Do you think we should put a condition for edit vs deployed mode? (I don't know as of right now, how difficult/easy it is to figure that out).

[2022-01-26 11:28] arminus commented on #10529
@somangshu Actually, the problem is that a secondary table (**whose query depends on the selectedRow.id of the first table**) does not get properly loaded.

At this time, in my App, it never loads the 2nd table on page load, only when I actually click/select a row in the first table. I guess there's a timing problem somewhere.

(both tables have their PK set to the respective PK in the database)

[2022-01-26 11:30] billyrudi commented on #10341
no, the end yeser does not see errors.
the load time is for the entire page.

[2022-01-26 12:13] aswathkk commented on #6194
The only way to remove a tooltip that pops up after keyboard tabbing is to bring the mouse over to the same text which triggers the tooltip.

https://user-images.githubusercontent.com/10436935/151161034-c4868819-c361-4ea5-ac31-334cde5cc5d7.mov

[2022-01-26 12:17] IAmAnubhavSaini opened #10655 "[Bug]: Button drag issue in firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Button is not draggable if drag starts from empty area in button. If I start dragging from the text, button is draggable. Happens in Firefox 91.5.

This doesn't happen in chromium, button can be dragged from any area.

https://user-images.githubusercontent.com/1573771/151161388-e69fe29c-8f59-

[2022-01-26 12:17] aswathkk opened #10656 "[Task]: Make Icon Tab keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-01-26 at 5 46 46 PM](https://user-images.githubusercontent.com/10436935/151161545-0d384ad6-c355-4729-a9be-53a115e28d09.png)

[2022-01-26 12:20] aswathkk opened #10657 "[Task]: Make Button Tab Control keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-01-26 at 5 46 46 PM](https://user-images.githubusercontent.com/10436935/151161869-a9e53cb9-465b-4479-a95c-9f0ec001f570.png)

[2022-01-26 12:32] aswathkk commented on #9841
Closing this since all the subtasks are separated out into its own Github issue and is being tracked under "Property Pane Improvements" EPIC.

[2022-01-26 12:32] #9841 closed

[2022-01-26 12:46] RoopKrrish9696 commented on #9661
**Updated Figma link for templates flow:**

https://www.figma.com/file/dmDCEc6g2DvccF1QElkdAs/Templates?node-id=2212%3A11165

[2022-01-26 12:50] #10637 closed

[2022-01-26 13:37] riodeuno opened #10659 "[Task] Blueprint Saga workflows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Run blueprint sagas on widget move to another widget
- [ ] Run blueprint sagas when undo-delete a widget
- [ ] Run blueprint sagas when pasting a widget

[2022-01-26 13:42] sentry-io[bot] opened #10660 "DataBufferLimitException: Part headers exceeded the memory usage limit of 8192 bytes"
Sentry Issue: [APPSMITH-1J4](https://sentry.io/organizations/appsmith/issues/2911835000/?referrer=github_integration)

[code]

[2022-01-26 15:03] lublak commented on #10522
@Nikhil-Nandagopal the issue is here that i don't know if the user pushes the "next" button or the "previos" button.
So the lastPageNo is very important (i think)

[2022-01-26 15:41] lublak commented on #10486
Yes for sorting there is it available (but are we missing the serverside switch like the serverside pagination to disable all client side searching?)
Filtering is still completely missing.

[2022-01-26 15:48] sullo opened #10661 "[Bug]: Crash after Creating JS Object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After creating a new JS Object via the + button, if I select the new object from the sidebar the UI crashes and goes to a page titled "Oops! Something went wrong". This has happened more than once today.

### Steps To Reproduce

1. On the left menu, next to "JS Objects," press the + to add a

[2022-01-26 16:45] sbalaji1192 commented on #10037
@somangshu @riodeuno Let's push a fix to identify this integrity issue before we make the save call and throw a sentry error. That way we will have the stack trace and smart look recording that will help us in debugging this.

[2022-01-26 17:10] Nikhil-Nandagopal commented on #10654
@arminus could you share the version of your application? This should be fixed in 1.6.7

[2022-01-26 17:17] arminus commented on #10654
See attached, I've xxxxxxxx'ed out the DB host and password (and I am on 1.6.7):

[richTextSave.zip](https://github.com/appsmithorg/appsmith/files/7943758/richTextSave.zip)

[2022-01-26 22:47] zmajevic commented on #10562
@somangshu Yes, we should do that?

[2022-01-26 22:49] zmajevic commented on #10524
@Nikhil-Nandagopal I tried to reproduce this in other apps, it doesn't happen at all.

[2022-01-26 22:54] zmajevic commented on #10533
Can we try these two colors?
#f8fafc
#f1f5f9

[2022-01-26 22:55] momcilo-appsmith commented on #10533
Can we try these two colors?
#f8fafc
#f1f5f9

[2022-01-26 22:55] momcilo-appsmith commented on #10562
@somangshu Yes, we should do that.

[2022-01-26 22:56] momcilo-appsmith commented on #10524
@Nikhil-Nandagopal I tried to reproduce this in other apps, it doesn't happen at all.

[2022-01-27 01:11] kenleyshaw commented on #10611
I am new to the Open source community. For one of my courses for college, we have to contribute to a project - this seems like an issue that I may be able to help with. Can you assign this to me please? I'll update along the way as I troubleshoot

[2022-01-27 02:19] pcgeek86 commented on #2430
I need to install the AWS SDK so I can write custom data sources, using the JS Object feature in Appsmith.

I would like to build my own self-hosted AWS Management Console replacement, using Appsmith, since the AWS Management Console UI is terrible.

Appsmith looks really slick! Just learned about it a few moments ago and spun it up with Docker Compose, in seconds. 🚀🚀🚀

[2022-01-27 04:11] jmgilman commented on #2430
It's currently impossible to communicate to any Google service which requires a signed JWT from a service account. This means it's impossible to consume API endpoints, cloud functions, etc. that are protected by an IAM service account.

The first step to solving this is being able to generate a signed JWT using a service account private key which means there's a need to import a third-party librar

[2022-01-27 04:23] #9211 closed

[2022-01-27 04:23] #9089 closed

[2022-01-27 04:23] #9088 closed

[2022-01-27 04:23] #9086 closed

[2022-01-27 04:24] #9085 closed

[2022-01-27 04:37] IAmAnubhavSaini opened #10665 "[Bug]: Esc key doesn't work while editing text in firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In firefox, when I start editing text value and want to jump to next property via tab, pressing `esc` doesn't stop the editing text behavior.

This is not an issue in chromium. In chromium, pressing `esc` and then `tab` moves focus to next property.

https://user-images.githubusercontent.com/

[2022-01-27 04:52] vicky-primathon commented on #8465
@riodeuno i made those changes earlier but could not fix the issue since the dependency does not work at platform level. Should i made the changes suggested by you irrespective of the dependency not working problem ?