[2022-03-10 13:29] wmdev0808 commented on #11494
@somangshu @sbalaji1192 @techbhavin ,
We can also just simply fix this issue using the conditional expression on underlying `img` tag like this:
L218:
[code]

[2022-03-10 13:33] sbalaji1192 commented on #11494
@wmdev0808 That will not solve the issue. if there is an error, the img element wouldn't get rendered. because of the condition in L131. The ideal way to fix this is to reset imageError, when props change.

[2022-03-10 13:38] wmdev0808 commented on #11494
@sbalaji1192 , you're right. I agree with your way, thank you

[2022-03-10 14:04] nidhi-nair commented on #1950
[Here's](https://discord.com/channels/725602949748752515/950420465917259906/951107125747281920) another use case for Webhooks around workflows. cc @rohan-arthur

[2022-03-10 14:39] #11634 closed

[2022-03-10 15:07] ramsaptami opened #11776 "[Bug]: Number of confirmation modals varies with the type of code JS objects is running and API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Number of confirmation modals are not consistent for JS functions and API queries.

`Api1.run()` called from `JSObject1.myFun1` is different than when running JSObject on page load without the API call.

Also, related issue is #11763 , observe the confirmation modals opens once for JS even though

[2022-03-10 15:15] Nikhil-Nandagopal commented on #11772
So the main issue here is to just not copy the formatting of the header

[2022-03-10 15:39] Parthvi12 opened #11778 "[Task]: Add cypress tests for SMTP using test-event-driver"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-10 16:32] pallavagarwal07 opened #11779 "[Bug]: Iframe onMessageReceived not getting triggered in case of srcDoc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hi team, we recently started using Appsmith, and we are running into an issue with embedded iframe widgets within appsmith.

Specifically, the onMessageReceived hook never seems to be called.

### Steps To Reproduce

1. Add an iframe widget.
2. Set srcDoc to
[code]

set onMessageReceived to `{{sho

[2022-03-10 18:18] #11635 closed

[2022-03-10 18:42] IAmAnubhavSaini opened #11780 "[Task]: Add scrolling to Repository Limit Reached modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As of right now, if user converts a lot of connected public repo to private, there is no way to scroll all the connected private repos.

![Screenshot 2022-03-10 at 11 55 03 PM](https://user-images.githubusercontent.com/1573771/157732684-2c898264-1ac0-440f-97f1-471677b63982.png)

[2022-03-10 19:12] ame-appsmith opened #11781 "[Feature]-[120]:Map Widget Enhancement - Bind searched location to input fields without clicking on map"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add the functionality of binding the address of the searched location from the map widget to an input field, without clicking on the map.

![image](https://user-images.githubusercontent.com/101268423/157736461-6514c2e7-fd42-421f-9ff6-ff80784be06c.png)

### Why should this be worked on?

As an enhancem

[2022-03-10 19:21] IAmAnubhavSaini commented on #11750
Updated Repo limit reached

![Screenshot 2022-03-11 at 12 07 51 AM](https://user-images.githubusercontent.com/1573771/157732504-deaa79d0-b6c3-40f6-8149-a260723f6df7.png)

Disconnect modal
![Screenshot 2022-03-10 at 11 28 56 PM](https://user-images.githubusercontent.com/1573771/157738662-a624fd91-eed3-4d6f-bf76-6b95c99bfa83.png)
![Screenshot 2022-03-10 at 11 28 46 PM](https://user-images.githubuser

[2022-03-10 19:48] IAmAnubhavSaini opened #11782 "[Task]: bring scrollbar to the top of other elements"
UPDATE : Change in direction of the scroll bar, we don’t want it to be visible.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

scrollbar is partially hidden by git connection subtitle

https://user-images.githubusercontent.com/1573771/157743063-0b8b0025-da98-4d57-8784-1964a6102640.mov

<img width="548" alt="Screenshot 2022-03-11 at 1 16 52 AM" s

[2022-03-11 00:57] sharat87 opened #11787 "[Bug]: Redis and NGINX logs aren't collected in the logs folder with fat container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When running an Appsmith instance, the logs are collected in a `stacks/logs` folder. The logs for the backend java process get collected into the `backend.log` file, but Redis and NGINX logs are always empty.

### Steps To Reproduce

Run a new instance with the following command:

[code]

Once it

[2022-03-11 03:50] ClarksonCote commented on #11407
@nidhi-nair the original issue referenced above did have smart substitution turned OFF. I only turned it on after @rashmi-rai suggested that above, on this post: https://github.com/appsmithorg/appsmith/issues/11407#issuecomment-1057759745

[2022-03-11 03:52] nidhi-nair commented on #11407
I see, do you think you could share screenshots of your configuration? Or connect with us in Discord for a more synchronous resolution?

[2022-03-11 03:54] ClarksonCote commented on #11407
@nidhi-nair is it possible to just setup a video call to show you? I could even do so right now.

[2022-03-11 03:55] nidhi-nair commented on #11407
Yes that works, please give me 10 minutes, I'll be back with a meeting link. :)

[2022-03-11 03:58] ClarksonCote commented on #11407
Thank you

[2022-03-11 04:41] #11407 closed

[2022-03-11 04:43] nidhi-nair commented on #11407
Closed via resolution on call. Turns out the smart substitution config wasn't updated on the API. This is a platform level bug that we will need to investigate. Unfortunately haven't been able to reproduce it so far at my end.

[2022-03-11 04:54] dilippitchika commented on #11768
@techbhavin can you take a look if this issue is also resolved with the fix you are doing for #11494

[2022-03-11 05:02] akash-codemonk commented on #11303
This seems to be an issue with the omnibar where the logic for creating an api is slightly different.

[2022-03-11 05:10] dilippitchika commented on #11769
I can understand why this happens for fluid width canvas, but it's also happening with a fixed width canvas. Needs some investigation.

[2022-03-11 05:13] rohitagarwal88 opened #11791 "[Bug]-[700]:How to find generate from a date table option after navigating between newly created pages?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I faced an issue while creating a new page, there are two options

1. Build with drag & drop
2. Generate from a data table

I created two pages: Page 4 and Page 5.
I can see both options, but if I navigate to Page 4 after creating Page 5. I am taken directly to the canvas, and same happens with Pa

[2022-03-11 05:30] zzgvh commented on #11772
Hi, I reported this issue via the Discord support channel. I'm not 100% sure, but I think this bug is a regression. I've had the same code running for quite some time and I think it was when I upgraded two or three weeks ago that this bug appeared. This might not be so much help though, since I upgraded from 1.6.4 to 1.6.12... :man_shrugging: But maybe it can be of some little help when resolving

[2022-03-11 05:30] dilippitchika commented on #11781
After investigation, i see that we don't show a marker for the item the user has searched in the map widget. Is it not possible to show a marker in the map widget for something which is searched for?

Try searching "SBI Bank" and click on first result you wouldn't know where exactly is the location

[2022-03-11 05:35] #7991 closed

[2022-03-11 05:35] #9430 closed

[2022-03-11 05:35] #9869 closed

[2022-03-11 05:35] #11073 closed

[2022-03-11 05:35] #11076 closed

[2022-03-11 05:35] #11614 closed

[2022-03-11 05:38] #11112 closed

[2022-03-11 05:39] #11315 closed

[2022-03-11 05:39] #9146 closed

[2022-03-11 05:40] #9151 closed

[2022-03-11 05:40] #9150 closed

[2022-03-11 05:40] #6439 closed

[2022-03-11 05:40] somangshu commented on #10771
@prsidhu what is the update here?

[2022-03-11 05:40] #9147 closed

[2022-03-11 05:41] techbhavin commented on #11768
Yes, @dilippitchika  this issue is resolved By [#11494](https://github.com/appsmithorg/appsmith/issues/11494)

[2022-03-11 05:54] prsidhu commented on #10771
@somangshu dev is done. Will create a pr by eod

[2022-03-11 06:21] haojin111 commented on #11754
[code]
line 800 in applications/index.ts
Git_import feature flag should be set as false on release app

[2022-03-11 06:22] hiteshjoshi commented on #11277
@RakshaKShetty need a go ahead from QA on this.

[2022-03-11 06:23] trishaanand commented on #2840
Minor change post design review on OIDC configuration screen - @ankitakinger
Bug fixes with fat container - @trishaanand
Bug fix for disconnect of OIDC leading to bad state - @trishaanand
Get started with SAML admin APIs - @trishaanand
Update restart banner - @ankitakinger

[2022-03-11 06:25] hiteshjoshi commented on #11232
@Pranay105 were you able to get a grasp on the thoughts from Trisha and Ankita for this documentation to proceed?

[2022-03-11 06:28] Pranay105 commented on #11232
@hiteshjoshi Yes, I'm working on the documentation.

[2022-03-11 06:49] keyurparalkar commented on #3369
Theming v1 has a migration that migrates: `borderRadius`, `boxShadow`, and `fontSize` properties for all the widgets. It also adds primary color to the following widgets:
[code]
Also includes specific fixes as follows:
1. For `AUDIO_RECORDER_WIDGET` the borderRadius is set to `9999px` to make it circular.
2. For `FILE_PICKER_WIDGET_V2` the button color is set to green(`#03B365`).
3. For `CHECKBOX_

[2022-03-11 06:57] RakshaKShetty opened #11793 "[Bug]: Forking apps add the deleted page from the Original app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Forking apps add the deleted page from the Original app
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/af8a968361034774b6228b3d11ec1040-00001.gif)](https://www.loom.com/share/af8a968361034774b6228b3d11ec1040)

### Steps To Reproduce

1. Generate a new app
2. Add 2 pages Page 1 and page 2
3.

[2022-03-11 07:14] jnikhila commented on #11731
PR merged and changes available on docs.

[2022-03-11 07:14] #11731 closed

[2022-03-11 07:20] RakshaKShetty opened #11794 "[Bug]: The dropdown alignment is broken inside fork modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The dropdown alignment is broken inside fork modal
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/157820831-eddedcaa-597a-43a7-bc60-c857035512c6.png">

### Steps To Reproduce

1. Inside the Home page
2. click on meat ball icon below the app
3. Click on fork
4

[2022-03-11 07:36] danciaclara opened #11795 "[Bug]-[100]:Binding values directly in the API url does not get evaluated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If you bind widget values in the api URL, it evaluates to no value.
<img width="1193" alt="Screenshot 2022-03-11 at 12 22 59 PM" src="https://user-images.githubusercontent.com/32227135/157822724-f3e6a131-edeb-4158-8285-d718c1471fee.png">
<img width="444" alt="Screenshot 2022-03-11 at 12 24 22 PM"

[2022-03-11 07:36] ramsaptami commented on #11763
Ideal sequence of execution: JS objects (without confirmation) --> JS objects with confirmation --> API call

[2022-03-11 09:35] hiteshjoshi commented on #11619
@vuiets is this sorted?

[2022-03-11 09:37] hiteshjoshi commented on #10856
Retry mechanism POC to be done.  @AnaghHegde

[2022-03-11 09:38] #11277 closed

[2022-03-11 09:40] #11268 closed

[2022-03-11 09:46] hiteshjoshi opened #11801 "[Bug] Oauth failing on cloud"
Possibly because of changes due to JWT tokens.

[2022-03-11 10:28] sbalaji1192 commented on #5693
@dilippitchika Currently pageSize is determined by the height of the widget divided by row height (currently constant across all rows). Recomputing the pageSize based on the wrapped cell will have its own problem.
1. We will only know the height of the rows when they get rendered. so we need to calculate the pageSize after render as well. if there is a change in pageSize, UI would be jumpy.
2. Whe

[2022-03-11 10:33] soul-cell opened #11803 "[Task]: Error message without an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![error](https://user-images.githubusercontent.com/82372780/157850164-91753894-975a-4639-8d45-cfd44da2cb06.PNG)

This message appears every time I launch the app  but there is no  error in the global variables JS and everything works fine .

### Steps To Reproduce

NA

### Public Sample App

_No r

[2022-03-11 10:44] somangshu commented on #11166
@ankurrsinghal are you working on this right now?

[2022-03-11 11:21] #11702 closed

[2022-03-11 11:44] somangshu commented on #11779
Thanks for reporting this @pallavagarwal07

Two things here:
- `window` object is not allowed on appsmith. I am not sure if the above statement is executing.
- I will still check if the origin is hindering in receiving the post message.

[2022-03-11 11:49] somangshu commented on #11779
@wmdev0808 can you help me out here? Can you check the issue is because of the origin being the same? Should the postMessage work through the srcDoc?

[2022-03-11 12:01] pallavagarwal07 commented on #11779
The same page hosted elsewhere works fine - i.e. the problem is specific to srcDoc.

The window object is not allowed within appsmith inside javascript contexts. This is plain HTML and is not being interpreted by appsmith till it gets set as the srcDoc of the iframe, at which point it *does* run.

If I open console in my browser, and put

[code]

in the chrome console, I can actually see the messa

[2022-03-11 12:20] somangshu commented on #11779
Thanks for the additional context @pallavagarwal07, Can you please help me understand your use case as well?

[2022-03-11 12:27] somangshu commented on #11781
Do we have any consensus on this being the generic behaviour across such components elsewhere?

[2022-03-11 12:32] pallavagarwal07 commented on #11779
Hi @somangshu thanks for the quick replies!

Basically iframe+srcDoc allows me to quickly write custom components and they can't communicate with the parent page without a postmessage - which is limiting this approach. However I can still host the same code externally as a workaround for now, but it would be great to not have to do that.

Let's say I have a timer component (plain html, javascript)

[2022-03-11 12:42] somangshu commented on #11779
Understood, I get that could be helpful @pallavagarwal07, Let me have a discussion around this internally. If I find more interesting takes on this, Ill get back here.

[2022-03-11 12:52] somangshu commented on #5693
@sbalaji1192 small question, Given the formula to calc the pageSize, how is it that the wrapping does not effect the pageSize, cause I am assuming with wrapping the rowSize will obviously change. What am I missing here?

[2022-03-11 12:53] somangshu commented on #3369
cc @riodeuno @marks0351 👆

[2022-03-11 12:57] somangshu commented on #11768
@techbhavin please link the issue

[2022-03-11 12:57] sbalaji1192 commented on #5693
@somangshu Currently we have three size options for `DEFAULT`, `SHORT` and `TALL`. Each has a constant height and we use that to calculate the pageSize. We compute in such a way that there is no vertical scrollbar. With text wrapping, the size options will become minimum height of cells. And we use the minimum height to compute the pageSize. So with or without wrapped cell, the pageSize gonna be c

[2022-03-11 13:01] somangshu commented on #5693
Smart 🙂

How does this work, Specially without dynamic height?

[2022-03-11 15:38] nidhi-nair commented on #11763
Closing the issue because from the video and discussion with Apeksha, this sequence is as expected.

[2022-03-11 15:38] #11763 closed

[2022-03-11 15:47] #11015 closed

[2022-03-11 15:48] #11778 closed

[2022-03-11 16:28] nidhi-nair commented on #10834
This was a one off, has since been fixed in the DB. I haven't been able to discover a code path that could cause this issue, nor is there a recurrence of the issue. Closing till we see it arise again.

[2022-03-11 16:28] #10834 closed

[2022-03-11 17:51] Aishwarya-U-R opened #11808 "[Bug]: IconAlignment resets everytime upon selection of new icon in Button Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/97b24d0825dc4eb2bd760fae636a49ad-00001.gif)](https://www.loom.com/share/97b24d0825dc4eb2bd760fae636a49ad)

### Steps To Reproduce

1. DragDrop a Button widget
2. Change Icon
3. Set Icon alignment to Right & Placement to Center
4. Change Icon ag

[2022-03-11 18:28] #10758 closed

[2022-03-11 21:39] pallavagarwal07 commented on #11779
Thanks @somangshu. I took a quick look at the code and came up with a proposed fix here: https://github.com/appsmithorg/appsmith/pull/11809

Let me know if this is something that we can consider merging. The PR fix description also mentions a bug with the current implementation which is probably quite important to fix (multiple iframe with same origin case).

Kudos on keeping the code so clean and

[2022-03-11 22:56] ame-appsmith opened #11810 "[Feature] Restrict users edit a form simultaneously"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There should be an option to prevent multiple users from editing a form simultaneously.

### Why should this be worked on?

This is an enhancement that is very useful for situations where multiple users collaborate and should not be allowed to edit a form at the same time.

[2022-03-12 03:58] Debsourabh opened #11811 "[Task]: Recheck Modal UI across Appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Make sure all the modal across the application have same spacing and UI components.
Figma link : https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/?node-id=4675%3A23086

The design system has all the modals that we are using today.

[2022-03-12 05:55] somangshu commented on #11779
I must say, You are just awesome @pallavagarwal07 ❤️ 🎉 💯.
Thanks for the contribution, Ill look into it and get the maintainers to review. 👏 👏
Looking forward to merging this soon. Please keep an eye on any review comments 🙂

[2022-03-12 10:30] dwapps opened #11815 "[Feature]-[116]:Map Widget - Add MapTypeControl (Satellite/Roadmap)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add an option to enable/disable MapTypeControl (For switching between roadmap and satellite.)
[https://developers.google.com/maps/documentation/javascript/controls](https://developers.google.com/maps/documentation/javascript/controls)

<img width="439" alt="MapTypeControl" src="https://user-images.git

[2022-03-12 12:03] abhvsn opened #11816 "[Feature]: Implement tags for git-sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Providing a tag for commits can be helpful to mark certain commits when the user archives certain milestones and later can be distinguished easily. This will be particularly helpful for making releases for their apps and can version depending upon their current nomenclature.

### Why should this be wo

[2022-03-12 12:48] unknown1337 commented on #7241
@jsartisan
@somangshu
@Nikhil-Nandagopal

Do I interpret (given the "test" label added on the 5th of Jan) correctly that you're working on a mechanism for bi?? directional communication between the appsmith parent application and a child js application executed from within the Iframe? Thanks:)

[2022-03-12 12:48] sumitsum opened #11817 "[Bug]: smart JSON substitution failure when escaping double quote from in return value from JS object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

From community:

JS function:
[code]

[code]
![im1](https://user-images.githubusercontent.com/1757421/158018496-c4a77605-1c2f-4413-bc02-940bc673fe2b.png)
![im2](https://user-images.githubusercontent.com/1757421/158018504-643b4e85-b617-46b4-9d75-ccc5077a2a21.png)

### Steps To Reproduce

As given i

[2022-03-12 12:56] unknown1337 commented on #11159
Thanks, Could it be correct that I cannot sign in with my appsmith account details with the link that you've provided?

[2022-03-12 13:08] ashit-rath commented on #11159
@unknown1337 Yes, you cannot sign in with your Appsmith credentials as the link uses our release server(a sandbox server for testing features). You can create new credentials using that link and then explore the feature.
Let me know if you are facing any issues.

[2022-03-12 18:38] anvaravind commented on #11810
https://app.appsmith.com/applications/622ce1770bf98b2d5df754b5/pages/622ce25a0bf98b2d5df754c6, we have a table where we display the content of database ( we are using rest API to fetch data from DB  in backend)
We have a separate form to insert/update records, imagine a case where multiple users try to update  the data based on what they see on table, if 2 users try to update the same record then

[2022-03-13 04:19] st-trade commented on #3993
+1 to this!

[2022-03-13 16:53] #11801 closed

[2022-03-13 17:21] #10655 closed

[2022-03-14 01:28] sbalaji1192 commented on #5693
Yeah. That should be the case with text wrapping. Based on the wrapped text, row height would increase thus the table body height will increase. so we will have a scrollbar visible.

[2022-03-14 03:05] dsakaria16 commented on #11332
Hi guys any update on this?

[2022-03-14 03:24] #11759 closed

[2022-03-14 04:15] pratapaprasanna opened #11820 "[Feature]: Build required tools as part of docker build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, any engineer has to run couple of scripts and then run ```docker build``` to build the appsmith docker image.
Ideally, an engineer should just use docker build and get all the stuff generated and the build the respective image.

### Why should this be worked on?

This helps in making things

[2022-03-14 04:40] arjunsriva-woven commented on #9512
+1

[2022-03-14 04:43] #10708 closed

[2022-03-14 05:19] #11629 closed

[2022-03-14 05:27] #11583 closed

[2022-03-14 05:32] abhvsn commented on #10856
We can also look into implementing the locking mechanisms for files from our end so that we will be in more control to suggest appropriate errors and even implement FIFO for API requests related to file system, beware of the clustered env though.

[2022-03-14 05:33] hiteshjoshi commented on #9431
Closing this for now as we cant replicate.

[2022-03-14 05:33] #9431 closed

[2022-03-14 05:50] AmanAgarwal041 opened #11822 "[Bug]: Set default content type to application/json instead of raw when creating API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- Currently when we create an API, the default content type which is set to be raw while we want it to be set to json
- The body tab has group of tabs which by default should selected as json instead of raw.

![Screenshot 2022-03-10 at 1 38 15 PM](https://user-images.githubusercontent.com/7565635/

[2022-03-14 06:21] ankitakinger opened #11824 "[Task]: Add asterisk on mandatory fields and remove advanced section on the Admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add asterisk on mandatory fields on the Admin settings page.
- Remove advanced section on the OIDC settings page.

[2022-03-14 06:29] Tooluloope commented on #11714
@ginjojohny to quickly unblock you, could you try using this format `{{[Table1.triggeredRow.step]}}`

[2022-03-14 06:35] AmanAgarwal041 commented on #11540
There are two points that I would like to bring in:

- The `cache-control` header is not present on the resources which helps in controlling cache for the resources in browsers
- We can introduce a `CDN` layer which reduces `TTFB` for different types of resources and caching on those can be controlled through different rules. If there is any change in the server side responses we can even add a ho

[2022-03-14 06:55] shwetha-ramesh commented on #11533
@jsartisan @keyurparalkar  tested the above mentioned issues after fix and here are the status.

Issues reported by me
1. Fixed

2. Fixed. Undo is removed from toast message.

3.  a) When user clicks on _Save theme_  and gives a duplicate name “Name must be unique” message appears, however when you click on cancel and click on Save theme again "Name must be unique" message is already displayed eve

[2022-03-14 07:26] vuiets commented on #11065
@vasanth-appsmith will we be considering this with the property pane reorganization or themeing projects?

[2022-03-14 07:29] #11824 closed

[2022-03-14 07:37] Nikhil-Nandagopal commented on #11332
@dsakaria16 we haven't prioritised this issue yet. We're planning on tackling all List related issues next month

[2022-03-14 07:41] Nikhil-Nandagopal commented on #11810
@anvaravind thanks for chipping in with a solution. I think we need to approach this in a more generic way where we can expose the field a user is editing in JS and then a developer can write logic to disable the fields that they think are important for this

[2022-03-14 07:50] RoopKrrish9696 commented on #11791
Hey guys, I think this can be solved with our new add new page / application design which is in progress ( template phase 2 basically ) , we have some thoughts around this - we can sync around this in templates catchup. cc @hiteshjoshi @kocharrahul7

[2022-03-14 07:52] ramsaptami opened #11826 "[Bug]: Clicking on Debug button on JS editor causes app to refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Type in any code on a JS object where you start to see an error in the debugger. Click on this button and observe the app refresh on each try

### Steps To Reproduce

1. Copy paste following code into JS editor and observe an error displayed for this code
[code]
2. Click on debug button and observ

[2022-03-14 08:13] chandannkumar opened #11827 "[Bug]: Unable to display the image error appears when default image url is empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When default image url is empty and while adding image url in Image field, the widget displays "Unable to display the image".
Same error occurs for adding image url as an input or binding it with File picker widget

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/793d6fa35d7c45bfb3a27e99377a

[2022-03-14 08:18] shashi-donon opened #11828 "[Feature]: Make password widgets eye icon/toggle non default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Can we have a way to avoid the eye icon, it would be really helpful if we had a secret field, or a way to  disable that eye icon so that user is not able to see the field  JUST BE ABLE TO EDIT IT
<br>
<img width="302" alt="Screenshot 2022-03-14 at 1 42 25 PM" src="https://user-images.githubusercontent

[2022-03-14 08:20] ramsaptami commented on #11327
Causes issues when importing an app with JS objects and API's set to run on page load as seen in #11104 hence reopening the issue

[2022-03-14 08:21] AnaghHegde commented on #11754
@IAmAnubhavSaini Feature flag is already present for the git import.

[2022-03-14 08:21] #11754 closed

[2022-03-14 08:28] momcilo-appsmith commented on #11038
@riodeuno @ankurrsinghal
Here is the Handoff file: https://www.figma.com/file/VtsF6ygzHI6gmsOZC3rGnK/Dynamic-Height-Mon-14-March-2022?node-id=2%3A1
Please take a look and let me know if you have any questions or feedback.

[2022-03-14 08:34] somangshu commented on #7064
@momcilo-appsmith @emysmth any updates here?

[2022-03-14 08:35] dilippitchika commented on #11038
There's something which I wanted to raise for table and list widget, we have a pagesize which is calculated for each table and list. How will the max height property be used if the data is coming according to the page size which is currently set?

The only scenario i found this useful was to prevent scroll on word-wrap. @somangshu @riodeuno

CC - @sbalaji1192

[2022-03-14 08:36] danciaclara opened #11830 "[Feature]: Add details to error messages when query fails - Mongo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A discord user reached out suggesting that Appsmith should display the actual property/field name causing the error.

https://discord.com/channels/725602949748752515/725609493974614076/948383144887873629

### Why should this be worked on?

It would save a lot of time spent investigating the cause of t

[2022-03-14 08:38] somangshu commented on #11556
duplicate of #10175

[2022-03-14 08:38] #11556 closed

[2022-03-14 08:43] somangshu commented on #11732
I dont think we should pick this up, This conflicts with the tooltip prop of button widget, What is the gain in doing this @dilippitchika, do we know people who have paced this problem in the past a lot.

[2022-03-14 08:45] somangshu commented on #11732
This should be closed if not relevant.

[2022-03-14 08:45] momcilo-appsmith commented on #7064
@somangshu We are proceeding with the input for now, as this is blocking us and we believe that the users will understand the designs.

[2022-03-14 08:45] shwetha-ramesh opened #11831 "[Bug]: Welcome tutorial does not start for new user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Welcome tutorial does not start for new user after clicking on 'Start tutorial'

https://loom.com/share/b6af623e1366446992726632685743fc

### Steps To Reproduce

1. Login with a new user
2. Click on 'Start tutorial' in the pop-up

### Public Sample App

_No response_

### Version

Cloud

[2022-03-14 08:48] dilippitchika commented on #11732
I didn't know this has any impact on tooltip, the problem is I can't see dynamic button labels today if they are long.

This is against our standard truncation behaviour, where we show the detail on hover. Clearly an inconsistency, nothing more. Can be parked outside of the epic for now.

[2022-03-14 08:51] somangshu commented on #10379
@prsidhu are you looking into this issue? Please update

[2022-03-14 08:55] dilippitchika commented on #5693
Adding suggestions on how word-wrap should work with inline-editing

**Inline editing independent of word-wrap**

When pressing shift enter while editing a cell | It should go into new line and resize but it should then wrap on the basis of the wrap type in the column.
-- | --
when the word is too long in a edited cell | It should go into new line but after changes are done, it should then wrap on

[2022-03-14 09:01] prapullac opened #11832 "[Bug]-[1400]:Additional rows gets added into the header section on new created REST API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to the Header section on the API it is observed that the additional two rows are automatically added into the section

### Steps To Reproduce

1) Create an API
2) Ensure the Header section has two rows
3) Click on the Back option
4) Now navigate to Entity explorer an open t

[2022-03-14 09:04] somangshu commented on #11624
This seems fixed now, Even in the example attached above, I have tried this in release and Prod envs.

[my app](https://release.app.appsmith.com/applications/615a9cc0b6f33d68bee471d1/pages/615a9cc0b6f33d68bee471d3/edit)

[2022-03-14 09:10] somangshu commented on #10703
@dilippitchika I am guessing we have the conclusion here, in case it otherwise, Please let us know

cc @wmdev0808

[2022-03-14 09:11] wmdev0808 commented on #10496
@somangshu
Ok, I will

[2022-03-14 09:12] RakshaKShetty opened #11833 "[Bug]: The old file is replaced with new file in s3 crud page upload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If the user tries to upload the 2nd file in the same folder of the s3 crud page the Images are overlapped instead of Creating the new file
Note: This issue is occurring because all the file names are displayed as undefined
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f6e37cf91f504d9aa63ed

[2022-03-14 09:12] dilippitchika commented on #11624
@lublak can you check and let us know if this is happening?

[2022-03-14 09:13] dilippitchika commented on #10703
Yes, we can proceed with the implementation

[2022-03-14 09:15] somangshu commented on #11129
Closing this off now now, this DX is not relevant and the changes made is costing us time, closing the PR as well right now

[2022-03-14 09:15] #11129 closed

[2022-03-14 09:15] Aishwarya-U-R commented on #11833
This is happening when uploading a file directly also. [without using a folder]

[2022-03-14 09:18] dilippitchika commented on #11278
![Screenshot 2022-03-14 at 2 47 09 PM](https://user-images.githubusercontent.com/19730984/158141871-30bbafcb-8a02-49ec-9153-14b9bb24df5d.png)

Suggestion : Show number of items in brackets

[2022-03-14 09:18] dilippitchika opened #11834 "We need an indicator that there are more columns to scroll `needs design`"

[2022-03-14 09:21] #11834 closed

[2022-03-14 09:23] dilippitchika commented on #11278
@somangshu item 1, Balaji is implementing in the table widget only for now for a different reason. I am parking this issue for now.

[2022-03-14 09:31] dilippitchika commented on #9908
hey @wmdev0808 i can see that you have added the inline option in radio group in #10600. Can you confirm? If yes, can you please link this issue to the PR?

[2022-03-14 09:34] danciaclara opened #11837 "[Bug]: Datepicker resets to today's date when typing in the date/time for certain date format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you try to change the date/time by typing in the datepicker widget (for eg: DD/MM/YYYY HH:mm format), it defaults to today's date. Only selecting the date and time in the widget works

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/12bd542c76de448fabed025ed8903e4a-00001.gif)](https://w

[2022-03-14 10:01] ramsaptami opened #11838 "[Bug]: Incorrect error is displayed when evaluated value is undefined on ratings widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Incorrect error displayed on a rating widget when `default ratings` is derived from a binding

![image](https://user-images.githubusercontent.com/79509062/158148454-72adae42-ebb5-46e5-9cac-df1dcae9ad1c.png)

### Steps To Reproduce

1. Use templates to generate Func CRM app and observe the error as

[2022-03-14 10:03] hiteshjoshi commented on #11558
Git tooltip message update.

- "Commit changes" to "Commit"
- "You have uncommitted changes .... " to "Pull"

[2022-03-14 10:06] sbalaji1192 opened #11839 "[Bug]: null as defaultValue evaluates to 0 in Input widget number type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When {{null}} is bound to defaultValue of Input widget Number type, it evaluates to 0.

### Steps To Reproduce

1. Add an input widget to the canvas
2. choose Number type
3. Set {{null}} as defaultValue in property pane
4. Input has 0 as value.

### Public Sample App

_No response_

### Version

c

[2022-03-14 10:08] prapullac opened #11840 "[Bug]: Inconsistency over creating API / Query name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to Entity explorer and tries to create a Query from existing Datasource we label them as Query however when we try to create from the data source (Active tab) we create an API

### Steps To Reproduce

1) Create an Datasource
2) Authenticate the data source
3) Click on Add A

[2022-03-14 10:11] trishaanand opened #11841 "[Bug]: [execute action] : Send a sentry error when action execute response returns with a non 200 status from the server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Also include the git version in the metadata

### Steps To Reproduce

N/A

### Public Sample App

_No response_

### Version

All instances

[2022-03-14 10:13] somangshu commented on #2504
- [ ] release
    - [ ] Final QA feedback
    - [ ] test non-ASCII support
    - [ ] address any issue from QA feedback

[2022-03-14 10:21] somangshu commented on #11646
Error`Mixed Content: The page at 'https://release.app.appsmith.com/applications/614d881668f3e86b095d24d9/pages/614d881668f3e86b095d24db/edit' was loaded over HTTPS, but requested an insecure resource 'http://www.iana.org/domains/reserved'. This request has been blocked; the content must be served over HTTPS.`

[2022-03-14 10:21] #11646 closed

[2022-03-14 10:24] somangshu commented on #7241
Hey @unknown1337, this is not yet prioritised, Ill try and collect more information on what is required here to proceed!

[2022-03-14 11:01] aswathkk commented on #11199
What we decided on the last call is
- When a new widget is inserted into the canvas, focus on the widget name. This also encourages users to give a proper name for the widgets initially.
- When an existing widget is selected, focus on the first property in the property pane.
@vuiets Correct me if I'm wrong.

[2022-03-14 11:10] Parthvi12 opened #11842 "[Bug]: No templates and filters are shown on switching to templates tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On switching tab to templates, no templates are shown , filter left panel is empty as well on self hosted release instance.

<img width="1440" alt="Screenshot 2022-03-14 at 4 35 17 PM" src="https://user-images.githubusercontent.com/80334441/158160080-b6d0f2df-2a9c-4495-a152-ddeb896807e3.png">

###

[2022-03-14 11:26] prapullac opened #11843 "[Enhancement]: On deleting a page the user is should be displayed with confirmation pop up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to the application and tries to delete a page it is observed that the page gets deleted without any confirmation. Providing a confirmation makes the user think a moment before he deletes it.
As this action has no possibility to retrieve the page if the user is not git conne

[2022-03-14 11:31] Nikhil-Nandagopal commented on #11841
@trishaanand can we please not fire this event? We decided that sentry would be only for crash and severe error monitoring so unless the backend is crashing due to a nullpointer, we shouldn't fire this because it distracts us.
Is there any reason you wanted this? What we badly need on sentry is tying the users to the userID

[2022-03-14 11:43] chandannkumar opened #11844 "[Bug]: Text overlap from actual widget size when Label name is long text in Select family widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Uploading image.png…]()
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7476a5f7784c4b409f26afda6d913156-00001.gif)](https://www.loom.com/share/7476a5f7784c4b409f26afda6d913156)

### Steps To Reproduce

1. Add any select widget to canvas
2. Add label name as long text
3. Observe the size o

[2022-03-14 11:54] aswathkk commented on #11065
![image (2)](https://user-images.githubusercontent.com/10436935/158166703-7260e77b-ccf0-49c6-a7f3-e03e2ce9394e.png)
@vuiets @vasanth-appsmith
Are we looking at a highlighted state like this?

[2022-03-14 11:58] aswathkk commented on #8845
### Update on 11th March
- @vuiets Took a decision on [issue with focusing on widget name on selecting a widget](https://github.com/appsmithorg/appsmith/issues/11199#issuecomment-1066645349)
- We will scope out the keyboard accessibility for JS Mod toggle from this project
- [ ] A decision has to be taken regarding mouse and keyboard interaction for Color and Date pickers. It is being discussed [h

[2022-03-14 12:19] Nikhil-Nandagopal commented on #11828
@shashi-donon thank you for the feature request!

[2022-03-14 12:22] dilippitchika commented on #11837
**Formats for which this issue exists**
![Screenshot 2022-03-14 at 5 43 58 PM](https://user-images.githubusercontent.com/19730984/158171090-6f3a85e8-12d1-447c-8db6-acb1ee16a5c5.png)
![Screenshot 2022-03-14 at 5 47 36 PM](https://user-images.githubusercontent.com/19730984/158171100-69f08162-227a-49be-841e-d11feac96b4c.png)
![Screenshot 2022-03-14 at 5 48 26 PM](https://user-images.githubusercontent

[2022-03-14 12:23] vuiets commented on #11199
Yes, that's right @aswathkk

Came across another scenario on a user research call with @Nikhil-Nandagopal and @rahulramesha. User wanted to rename a widget on pasting it so adding that here

[2022-03-14 12:25] IAmAnubhavSaini opened #11845 "[Task]: Update error message for git connect api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

For api `https://app.appsmith.com/api/v1/git/connect/...`

Response:

[code]

"Git configuration is invalid. Details: Remote URL is incorrect! Can you please provide as per standard format => git@github.com:username/reponame.git" doesn't seem correct.

- There is no standard format, so I think we can

[2022-03-14 12:28] aswathkk commented on #11199
I understand that we are making it easier for a set of users to rename the widget.
But there is another set of users who are getting affected by this:
- users who paste widgets accidentally
- users who DnD wrong widget to the canvas
we will be making it hard for them to delete the widget

[2022-03-14 12:42] dilippitchika commented on #7064
Since we are not able to get a slider property type yet, the current suggestion is to implement arrows to increase or decrease the number.

**Additional requirements**
In the "width" field in the label group
1. Support arrows to increase or decrease the "width" using clicks, similar to the number type input where the developer can only add numbers.
![Screenshot 2022-03-14 at 6 07 57 PM](https://us

[2022-03-14 12:52] ankitakinger commented on #10628
Below is the status for each of the points mentioned in this issue:

**Has been fixed:**
- The default state of whether users can signup shows false even though it’s true
- The vertical spacing between the fields is too high. There’s the same spacing between sections and between fields.
- The restart modal contents are not centered and the text is cut

**Backend changes needed:**
- Restarting the

[2022-03-14 13:04] chandannkumar opened #11846 "[Bug]: Recorded audio is not being played on same device which used for recording in Camera widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am unable to listed the recorded audio via my headphone which i use it for recording the audio. It seems like audio is ready to record from external device but not working same when it comes to output of audio. It only prefers laptop's speaker to play audio.

Expectation: The camera widget shoul

[2022-03-14 13:10] sumitsum opened #11847 "[Bug]-[232]:Encoding issue with SMTP plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

From community:
[code]

are you seeing any issue with the email that is received at the other end ?
[code]

### Steps To Reproduce

TBD

### Public Sample App

_No response_

### Version

self hosted

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Fr

[2022-03-14 13:54] ginjojohny commented on #11714
@Tooluloope  Thank You

[2022-03-14 13:56] miko007 commented on #11847
i would like to provide the actutal rendering from *Mail.app* as additional info:

<img width="179" alt="image" src="https://user-images.githubusercontent.com/1271957/158186794-2293ba6c-7686-4b54-9411-fe84c7d61c5d.png">

[2022-03-14 14:02] RakshaKShetty opened #11848 "[Bug]: The disconnect doesn't work for Google and github in the admin setting page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The disconnect doesn't work for Google and github in the admin setting page
Tested this in Appsmith-ee: release image
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/158187561-4fd1d237-a9e0-4523-90a6-c428dd5b05a3.png">
<img width="1440" alt="image" src="https:

[2022-03-14 14:17] ginjojohny opened #11849 "[Bug]: Focus lossing while click on multi dropdown list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I am click on multi dropdown list the focus jumped to the top of the UI and when am click again the dropdown values  are visible.

Before  click on dropdown list

![Screenshot (32)](https://user-images.githubusercontent.com/94359116/158190474-c9c0547d-acbb-49b4-8911-690f26b0f0f9.png)

After c

[2022-03-14 14:27] ginjojohny opened #11851 "[Bug]: Page is flickering when mouse is moving up and down in small screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I am moving the mouse over the UI up and down the page flickering like shown in image .

![image](https://user-images.githubusercontent.com/94359116/158192118-02b11ff4-18dc-48ca-a991-5ab95c915300.png)

### Steps To Reproduce

1. Create  big form  page or list page using table widget.
2. Check

[2022-03-14 15:42] ame-appsmith opened #11852 "[Bug]: Sequential ID for Table Using JS (Reactive variables)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The user is not able to create a sequence number field for a table widget using JS code.
Data Source: MongoDB

### Steps To Reproduce

1. Connect **MongoDB** as data source for a table widget.
2. Create a **JS Object** called `JSObject1` and include the following code:

[code]

**Note**: The code

[2022-03-14 16:18] dilippitchika commented on #11837
Just to add some more context, the app-viewers noticed this when they started copy pasting values. The user's team is not able to move fast because of this functionality which now broke.

@ankurrsinghal please help me identify how this broke as well, to understand if there are some other unknown issues.

[2022-03-14 16:51] leotom2000 commented on #11713
That make sense, a row un-selected by a single click, and then clicked may not pass the value to child window (modal), which could be handled by #11403;
The user issue is something to be explored,

[2022-03-14 18:36] hiteshjoshi commented on #11831
The modal is closing without any errors on the console or any drop from the BE APIs. Possible that modal close is being triggered.

[2022-03-14 21:13] wmdev0808 commented on #7064
@somangshu ,
For the above additional requirements, my time estimation is 2

[2022-03-15 02:24] sharat87 opened #11855 "[Epic]: Application Configuration In Database (ACID)"
### Objective

Move application configuration from environment variables into the database. The goal is to reduce our reliance on environment variables, and use the database to store such configuration information.

### Rationale

- Environment variables are powerful. Too powerful to control. They can be set via a very many places depending on the method of deployment.
- Changing them (very usuall

[2022-03-15 02:25] sharat87 commented on #11855
Related Slack thread: <https://theappsmith.slack.com/archives/CPQNLFHTN/p1646815186755609>.

[2022-03-15 02:29] arunvjn opened #11857 "[Bug]: Documentation results in omnibar shows duplicate records"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Documentation results in omnibar shows duplicate records for few entries on the top of the search results.

### Steps To Reproduce

1. Open omnibar(cmd + k).
2. Select "Search Documentation".
3. Observe the first 10 records.

### Public Sample App

_No response_

### Version

Cloud

[2022-03-15 05:41] abhvsn commented on #11558
@hiteshjoshi IIRC we had decided to keep the tooltips more friendly by appending `changes` for git actions like `commit changes`, `pull changes` etc. Is there any reason we are again moving away from this?

[2022-03-15 05:49] abhvsn commented on #9322
A user on discord also reported this, mentioning here to log the request.

[2022-03-15 06:02] abhvsn commented on #10084
Closing this as OP hasn't responded back with the appsmith version he/she is on, and we don't have more context on this.

[2022-03-15 06:02] #10084 closed

[2022-03-15 06:14] momcilo-appsmith commented on #5693
@dilippitchika This makes sense.

[2022-03-15 06:25] shwetha-ramesh commented on #11533
New issue
24. Tabs widget ui is cut off
https://loom.com/share/cc3fb1efd97a4f44b8df4cf6e2bec6e8
![image](https://user-images.githubusercontent.com/92293815/158318617-5ff0532a-c8f2-44c5-98a5-dba9fba88fa3.png)

[2022-03-15 06:32] parth-appsmith commented on #11380
@yaldram why did we close this issue, the problem has not been solved yet.
![image](https://user-images.githubusercontent.com/92779003/158319965-864304f0-1647-43a7-85ce-231f2d96566f.png)

[2022-03-15 06:37] IAmAnubhavSaini commented on #11558
@abhvsn

Single word: Its cleaner. Users are developers, they know what commit/pull/merge mean. That's my reasoning for it.

For visual indicator thing, I don't think that we should show number of changes on quick-actions at all. Think of the flow without a number or an another hint that there are changes to be committed.

_Wouldn't user want to deploy their app after making changes? What happens

[2022-03-15 06:46] Pranay105 opened #11861 "Adding pull and discard changes section in Git Sync"

[2022-03-15 06:47] yaldram commented on #11380
Hey @parth-appsmith, it is been merged in release branch after Q/A. It is not yet there in production yet. Will be there soon. I tested it on the latest release, it is working.

[2022-03-15 06:48] Pranay105 opened #11862 "Adding Discard and pull changes IN Gitsync"

[2022-03-15 06:49] Debsourabh opened #11863 "[Task]: Design System Updates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Implemented small parts of Entity explorer into the design system using 8px grid and auto layout for the Tabs (here we have 2 types: Explorer and Widgets)
- Pages Module
- Explorer Icons 8px grid for all of them.
- Empty view with all empty data sources, queries and widgets
- Widget view with all d

[2022-03-15 06:49] Pranay105 opened #11864 "Adding Discard and pull changes section in Git Sync"

[2022-03-15 06:51] #11861 closed

[2022-03-15 07:25] nidhi-nair opened #11867 "[Bug]: Apply JSON migrations to generate CRUD JSON file while using the templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Since the generate CRUD is a static file that is only updated via the Appsmith app, its version can be outdated from the version of apps under development. CI inevitably fails for generate CRUD because of this mismatch.

### Steps To Reproduce

1. Make a schema change in import-export
2. Try to ru

[2022-03-15 07:27] devnamrits commented on #11697
@nayan-rafiq Have done few changes in my local but there some more things that I need to work. Can you connect in discord??

[2022-03-15 07:33] #11862 closed

[2022-03-15 07:43] momcilo-appsmith commented on #5693
@dilippitchika @sbalaji1192 I just added a new section in the handoff file for Cell Wrapping. Let me know if you find anything that you think doesn't make sense.
[Figma link to designs](https://www.figma.com/file/JEalu7g3jDLzWWnKsfE6mB/Table-Improvements-2022?node-id=980%3A9163)

[2022-03-15 07:52] jnikhila opened #11868 "[Docs]:Datasource Reference - Amazon S3"

[2022-03-15 07:57] pallavagarwal07 commented on #9426
@ramsaptami Why was this issue closed? I'm still running into this error.
Did you find a solution or workaround?

[2022-03-15 08:02] #11848 closed

[2022-03-15 08:05] riodeuno commented on #11279
@dilippitchika This issue talks about the format in which the uploaded file is encoded. For example, in the screenshot, the encoding is a base64 string, however, there is no way to reliably identify this today
<img width="290" alt="Screenshot 2022-03-15 at 1 33 59 PM" src="https://user-images.githubusercontent.com/103687/158332933-b1a09fad-0273-4c47-a883-a6b52da9ea15.png">
.

[2022-03-15 08:15] eco-monk commented on #11833
`List.items[0].Input` -> doesn't have `text` property. Hence the file name is `undefined`.

[Sample app export](https://drive.google.com/file/d/1eCefB9fJklRacRTPt4fB6dGCuS0YfoXm/view?usp=sharing)

[2022-03-15 08:45] arunvjn opened #11870 "[Bug] Incorrect applicationId in the fetch application and pages API when switching branches"
The new API to fetch applications and page list returns an invalid application ID different from actual application ID when switching git branches

[2022-03-15 09:59] #11845 closed

[2022-03-15 10:04] Nikhil-Nandagopal commented on #6394
Generic problem of the suggested widgets

[2022-03-15 10:04] #6394 closed

[2022-03-15 10:05] ramsaptami commented on #9426
Sorry about that @pallavagarwal07. I see there's an evaluation error that's regressed. Let me take this up with the team and back to you.

[2022-03-15 10:16] rohan-arthur commented on #4559
V1 scope: https://www.notion.so/appsmith/Sequencing-Tasks-for-UQI-epic-831ed68a652140c696e9535300673860

1. [Implementing components](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/board?epics=Z2lkOi8vcmFwdG9yL0VwaWMvNzEzNzc0&labels=uqi%20components) in ~~datasource and~~ query forms, that can be used by the app developer
    1. Timeline - 28 Feb 2022
    2. form to json

[2022-03-15 10:19] prapullac opened #11871 "[Bug]: UQI : JSON Format Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When users are in JSON format  fields the following issues are observed
1) Evaluated values are always UNDEFINED in JSON format
2) Needs error defined appropriated when the user is in JSON format
3) Fields do not get highlighted in red when there are mistakes in syntax

### Steps To Reproduce

1)

[2022-03-15 10:22] somangshu commented on #3369
### Actionable

- [ ] Documentation @dilippitchika
- [ ] Finish all bugs @jsartisan @keyurparalkar
- [ ] Test plan for migration on frontend @vivekverma2312 @shwetha-ramesh
- [ ] merge backend migration to release @nayan-rafiq
    - [ ] test plan around migration on backend @vivekverma2312 @shwetha-ramesh
- [ ] Release plan
     - [ ] With above feedback any work on dev @jsartisan @keyurparalkar

[2022-03-15 10:32] jnikhila commented on #11335
@cokoghenun - could you please review and update the video as per new settings.

[2022-03-15 10:47] ohansFavour commented on #11458
This bug is introduced when we unescape a script containing a comment that has "\\n" or "\\r". This doesn't happen on new Apps (`evaluationVersion > 1`).

[2022-03-15 10:47] Nikhil-Nandagopal commented on #11803
@soul-cell this seems like there may be another function or button with the same name. Can you share the app where this is happening?

[2022-03-15 10:50] sumitsum opened #11873 "[Bug]-[200]:SMTP datasource duplication on application fork"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

From community:
[code]

Also seen to be happening with JSONObject as mentioned here: https://theappsmith.slack.com/archives/C0341RERY4R/p1647341711977009?thread_ts=1647341621.398129&cid=C0341RERY4R

### Steps To Reproduce

Writing from user's description:
1. Create an application with SMTP datasou

[2022-03-15 10:53] Nikhil-Nandagopal commented on #11781
@somangshu @dilippitchika I think here the solution is pretty simple. We just need to add the address to the Map1.center object which only contains the lat/long right now

[2022-03-15 11:22] Nikhil-Nandagopal commented on #10628
@ankitakinger let me know when I can test out the fixes!

[2022-03-15 11:24] danciaclara opened #11874 "[Feature]: Allow to disable Download option in video widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Give an option to enable/disable the Download option on the video widget
![unknown (1)](https://user-images.githubusercontent.com/32227135/158367627-34042e6a-f7ef-4e00-a47b-3487b70fcce5.png)
.

### Why should this be worked on?

Asked by discord user - https://discord.com/channels/725602949748752515/7

[2022-03-15 11:42] ankitakinger commented on #10628
@Nikhil-Nandagopal the fixed issues can be tested after our next release since the Toggle button changes are not on prod yet.

[2022-03-15 11:42] Nikhil-Nandagopal commented on #11851
@ginjojohny can you please share a video of this happening?

[2022-03-15 11:44] ankurrsinghal commented on #11837
I think somehow formating for DD/MM/YYYY is getting invalid during editing and parseDate is resetting it. Check here https://github.com/appsmithorg/appsmith/blob/2bf259519d84f48fb99efc6cd5c3d4a16740a789/app/client/src/widgets/DatePickerWidget/component/index.tsx#L207.

I am checking the whole flow to see why its getting invalid. There is lot of formatting going on. I am estimating it I will be abl

[2022-03-15 11:51] #838 closed

[2022-03-15 12:19] ankurrsinghal commented on #11837
@dilippitchika Found the problem. I think now we are using DatePickerWidget2 and earlier we were using DatePickerWidget (1). What I understood from both the widgets is that we save date values as strings but the DatePicker change handler gives us Date object, therefore, we reformat it and save it.

So in DatePickerWidget, we use whatever the currently selected format is but in DatePickerWidget2 we

[2022-03-15 12:20] ankurrsinghal commented on #11837
Here are the code references,

DatePickerWidget (1)
https://github.com/appsmithorg/appsmith/blob/78e562cbb38ed24fe34e447319edfd1b6ed388bc/app/client/src/widgets/DatePickerWidget/component/index.tsx#L222

DatePickerWidget2
https://github.com/appsmithorg/appsmith/blob/78e562cbb38ed24fe34e447319edfd1b6ed388bc/app/client/src/widgets/DatePickerWidget2/component/index.tsx#L245

[2022-03-15 12:23] dilippitchika commented on #11837
Hey @sbalaji1192 was this change done to support the moment() issue we had? Can you help @ankurrsinghal with what the fix should be?

[2022-03-15 12:24] ankurrsinghal commented on #11837
@dilippitchika I think the fix is to revert it to what is in the DatePickerWidget (1) if we get to know why we changed it in the first place to ISOString().

[2022-03-15 12:28] dilippitchika commented on #11849
Impacts the app viewer directly and it's unclear why this happened. @Tooluloope please triage and prioritise.

[2022-03-15 12:44] ohansFavour commented on #11458
Yes, it should.

[2022-03-15 12:46] #11458 closed

[2022-03-15 13:12] kocharrahul7 opened #11877 "[Task]: Update the template metadata JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Add the following fields to the Template Metadata JSON
- templateOrder, a field which will be used to determine the order in which the template is appearing
- productImage, this field will be used to display more zoomed in images for smaller template cards

[2022-03-15 13:12] #11831 closed

[2022-03-15 13:37] soul-cell commented on #11803
Sorry cant share the application because of some policies , but I can assure you that there is no other function or buttons with this name

[2022-03-15 13:45] Nikhil-Nandagopal commented on #11803
@soul-cell can you reproduce this in an app where it can be shared? Otherwise, you can write to support@appsmith.com and we can get on a call to debug the issue

[2022-03-15 15:13] sumitsum opened #11880 "[Bug]-[1408]:Mongo plugin- smart substitution fails with $regex keyword when input is number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

From community:
[code]

This issue was resolved upon turning off smart BSON substitution.

### Steps To Reproduce

.

### Public Sample App

_No response_

### Version

cloud

[2022-03-15 15:41] st-trade commented on #5137
Have this issue

[2022-03-15 16:11] ajinkyakulkarni opened #11881 "[Docs]: Update JS Editor documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

JS Editor will be coming out of beta by the end of March 2022 and we need to update the documentation with the latest changes.

### Describe the improvement

@ApekshaBhosale to provide new updates
@rohan-arthur to edit/review and give product approva

[2022-03-15 17:17] abhvsn commented on #11558
@IAmAnubhavSaini
1. Appending changes text makes action tone friendly, that's why we changed the earlier tooltips from commit, pull etc to what we have today. It's not about if user understands these terms because both the terminologies are clear enough IMO, it's just that we are bringing the same nomenclature where we started off, that's why this resistance. (Also I can understand this is a small

[2022-03-16 04:38] nayan-rafiq opened #11885 "Add migration to change default theme name"
We need to change the name of the default theme from "Default" to "Modern".

We should separate the internal name and display names so that in future we don't need to make any major change just to update the theme name.

[2022-03-16 04:57] sub1983 opened #11886 "[Bug]: Helm Issues/Improvements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**

- [x] After Deploying appsmith and enabling ingress the external -ip/link value is not displayed**

**-
- [x]  The High Availability is not working, we tried modifying the following in the values.yaml file **

- [ ]

### Steps To Reproduce

**

- [ ] After Deploying appsmith and enabling ingre

[2022-03-16 05:02] sbalaji1192 commented on #9135
Actions Items:
- Coupling of column and cell level editing options @sbalaji1192

[2022-03-16 05:04] vuiets opened #11887 "[Docs]: Update 'Designing an Application' documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/core-concepts/designing-an-application

### Describe the problem

Updates that we discussed for the _Working with Widgets_ doc during the `beta` release of reflow and resize

### Describe the improvement

Main ground to cover here
- [ ] Change structure to
[code]

[2022-03-16 05:07] vuiets commented on #11887
This is a duplicate of  [#331](https://github.com/appsmithorg/appsmith-docs/issues/331) on the [appsmith-docs](https://github.com/appsmithorg/appsmith-docs) repo.

[2022-03-16 05:54] RoopKrrish9696 commented on #11283
**Design Handoff File link :**
https://www.figma.com/file/b3tHFXEoghB4xCbo6FIRnH/Manual-Updates---Clean-URLs?node-id=2%3A1

cc @arunvjn

[2022-03-16 06:10] #11494 closed

[2022-03-16 06:10] #11768 closed

[2022-03-16 06:22] somangshu commented on #11176
@techbhavin will find out if `2.` is possible

[2022-03-16 06:39] arunvjn opened #11889 "[Bug]-[80]:Inaccessible git branch when the pages in the branch differ from the ones on master"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Lost access to branch, when I deleted the pages that were on master, in the branch.

### Steps To Reproduce

1. Create a new application.
2. Check out a new branch.
3. Create a new page(Page2) in the branch and set it as homepage.
4. Delete the other page (Page1).
5. Now switching back to master w

[2022-03-16 06:54] AnaghHegde commented on #11682
There are two parts
1. Visibility is reset after merging
2. When we change the visibility to Public/Private from the UI, it should be applied to all the branch applications.

[2022-03-16 07:09] sbalaji1192 commented on #11837
@dilippitchika No. This is a completely different issue, not related to the https://github.com/appsmithorg/appsmith/pull/11399

[2022-03-16 07:52] akash-codemonk opened #11893 "[Task]: Welcome tour updates and bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Invert the positions of the CTA's in the intro modal for new users
- [x] Remove step 1 where the user has to update the query as there is a drop off in analytics compared to other steps. Instead we prefill the query as required.
- [x] Show the response tab in the query pane always. Currently it

[2022-03-16 07:55] shwetha-ramesh commented on #11533
25. Date picker - box shadow does not have revert option
![image](https://user-images.githubusercontent.com/92293815/158542592-55bf6deb-5d88-4d0a-92e8-6ec608ce4bf6.png)

26. Select fully rounded theme, now drop a list widget on canvas, select the first tile of list widget - now change the border radius to none or md. The highlight is cut off.
![image](https://user-images.githubusercontent.com/9229

[2022-03-16 09:53] rohan-arthur commented on #10387
agreed to leave the response tab open by default, and leave the minimize button active. I will create a separate issue to improve this behaviour.

[2022-03-16 10:05] ramsaptami opened #11895 "[Bug]: Console logs an uncaught promise when home page is loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Browser console shows an uncaught promises error logged after loading the home page.

![image](https://user-images.githubusercontent.com/79509062/158565809-54731589-b2c5-4bbc-acf0-4a209b44aefd.png)

### Steps To Reproduce

1. Login and open the browser console when home page has loaded. Observe th

[2022-03-16 10:08] Pranay105 opened #11896 "Updating contribution guidelines foe doc on Github"
Removing the description box from each documentation guideline as it adds the content under the title description that has a character limit in Gitbook.

[2022-03-16 10:15] ramsaptami opened #11897 "[Feature]-[450]:Add an option to create a new organization from fork app pop-up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

If user wishes to fork an application to a new organization, then they'd need to first create a new organization, go to the app they want to fork and then fork the app. By introducing a "+ create a new organization" option in the dropdown similar to `creating a new datasource on CRUD form`, we'd be re

[2022-03-16 10:32] rohan-arthur commented on #1751
1. On page load merging today
2. Security bug into next week
3. Run design changes done - review @apeksha
    1. @rohan create separate issues for grouping of buttons and behaviour of response tab
    2. @favour will change the implementation to leave the response tab expanded by default
4. Prettify - not doing this in this epic
5. Tooltip - single line only, move multi line to another issue

[2022-03-16 10:37] rohan-arthur opened #11899 "[Bug]: function arguments tooltip multi-line"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

this is a follow-up to #4789 - with that issue, the user will be able to see the tooltip if they are writing and completing the function call in a single line. However, the tooltip does not appear for multiple lines, example:
![68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f

[2022-03-16 10:38] rohan-arthur commented on #4789
as discussed, issue for multi-line: https://github.com/appsmithorg/appsmith/issues/11899

[2022-03-16 10:48] nayan-rafiq opened #11900 "[Enhancement] Import template through cloud services"
We need to import the template application through cloud services. Currently, the application JSON file is stored in a external server and that file is downloaded by the appsmith server. This may lead to problem as we've only dependency on cloud services.

Instead of adding a new dependency on a third party, we should use cloud services as a proxy to that server for this API.

[2022-03-16 10:56] ginjojohny commented on #11851
@Nikhil-Nandagopal   I am sharing the  video  here for more clarification.

https://user-images.githubusercontent.com/94359116/158574281-1fd2d0c7-172d-41e6-bf41-0cda2f96a04f.mp4

As you can see in the video , listing page is flickering while mouse is moved up and down.  Also the logo image on header portion  looks like  jumping while switch between pages . The image is shown as base64 string in th

[2022-03-16 11:09] pranavkanade opened #11901 "[Bug]: Modal widget takes a lot of time to open"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The modal widget is taking more than 2 sec to open.
User Recording -
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/62ffe2d2dfa742978eb76fc1d4420290-00001.gif)](https://www.loom.com/share/62ffe2d2dfa742978eb76fc1d4420290)

### Steps To Reproduce

User has shared their app with us - https://

[2022-03-16 11:11] YogeshJayaseelan commented on #9430
@Tooluloope  Tested this issue in release and now I could see icons for Audio widget, MultiTreeSelect and Tree select widgets and please find the new issue observed

New issue:

The icon looks similar for Select/TreeSelect and MultiSelect/MultiTreeSelect widgets

<img width="1680" alt="Screenshot 2022-03-16 at 4 38 36 PM" src="https://user-images.githubusercontent.com/35128442/158577187-013fe376-a

[2022-03-16 11:12] somangshu opened #11902 "[Epic]: Select widget family - stability"
### Objective

Improve the select widgets by addressing code, default and consistency behaviours which will stabilise the widget

Select and multi select widgets
- Code #10575
- Default behaviour
   - [x] #12225
   - [x] #12554
   - [ ] #12531
   - [ ] #13664
   - [x] #13665
- consistency in UX and UI
    - [ ] #7259
    - [ ] #9550
    - [ ] #6780
    - [ ] #9424
    - [ ] #12660

The select widg

[2022-03-16 11:21] somangshu commented on #9496
@RakshaKShetty please attach the loom recording again

[2022-03-16 11:23] RakshaKShetty commented on #9496
https://www.loom.com/share/6dd2ba1ea99c442bab7f854fc502b584

[2022-03-16 11:24] rohan-arthur opened #11904 "[Feature]-[1666.6666666666667]:response tab behaviour on JS Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This issue is not meant for direct implementation, rather we will use this for discussion, design and decision.

We have a new design for JS Editor with #10387

According to the [design](https://www.figma.com/file/sT3HR1VSWOTtPfh5vlpU8x/JS-Editor-Improvements?node-id=2%3A2), the response tab should ha

[2022-03-16 11:50] SidHiremath commented on #2836
I was just thinking,  Can we have an Environment file for each environment like env_dev.properties, env_prod.properties and load that when we deploy ?

[2022-03-16 11:55] ankurrsinghal commented on #11837
DP:- https://appsmith-git-fix-datepicker-resets-to-today-11837-get-appsmith.vercel.app/

[2022-03-16 12:04] #11833 closed

[2022-03-16 12:25] sumitsum commented on #2284
* close PoC with various GraphQL frameworks - @sumitsum
* continue client side implementation - @AmanAgarwal041
  * currently working on extracting out common code from REST API plugin - currently blocked due to some conflict in code.
* share pagination implementation with team to gather feedback - @sumitsum
* add test scenarios to PRD - @rohan-arthur @prapullac
* create / check 1-1 mapping betwee

[2022-03-16 12:25] rohan-arthur commented on #9851
re-opening this, and removed the `critical` tag.
On a slim container, the user should still see some information when they try to access the admin settings.

[2022-03-16 12:42] aswathkk opened #11912 "[Bug]-[115]:Unable to use "this." literally on JSObjects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A string that has `this.` is converted to JS Object's name!

<img width="890" alt="Screenshot 2022-03-16 at 6 04 37 PM" src="https://user-images.githubusercontent.com/10436935/158591770-785493ee-1da6-4e2c-aa8d-54450ba8ea4a.png">

The temporary solution is to escape the dot (`"this\\.").

### Steps

[2022-03-16 13:15] ashit-rath opened #11913 "[Bug]: evaluatedValue in property controls are undefined for nested property paths."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Property controls that have nested paths don't get the `evaluatedValue`. And this is because in  `getNestedEvalPath `function we are wrapping the path with square brackets
https://github.com/appsmithorg/appsmith/blob/release/app/client/src/utils/DynamicBindingUtils.ts#L339

For a path that should

[2022-03-16 13:25] rashmi-rai commented on #9302
1. Misalignment of Where group conditions -> Done.
2. Disable state for level for and tooltip on hover -> Done
3. Do we not allow "Switch to JSON editor" for S3 data source? This will show up only after Switch to Json view PR is merged.
4. Label text change.  Won’t be reflected in the deploy preview. But here is the screenshot ![Screenshot 2022-03-16 at 6.39.04 PM.png](https://images.zenhubusercon

[2022-03-16 14:25] #10384 closed

[2022-03-16 14:26] #10713 closed

[2022-03-16 14:26] #11735 closed

[2022-03-16 14:26] #11755 closed

[2022-03-16 14:27] #8677 closed

[2022-03-16 14:29] #11711 closed

[2022-03-16 14:42] aswathkk opened #11915 "[Bug]: Animation is not consistent in Progress Bar widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Animation of progress bar doesn't work if the value is going from zero or going to zero

https://user-images.githubusercontent.com/10436935/158615274-43a28bfd-ec0b-49fb-a4f0-05d55e45562d.mov

### Steps To Reproduce

1. Add a progress bar widget
2. set the value to 0
3. set the value to 50 and ther

[2022-03-16 14:45] #7507 closed

[2022-03-16 14:50] #10527 closed

[2022-03-16 15:20] #11104 closed, assigned to nidhi-nair

[2022-03-16 15:20] #11327 closed

[2022-03-16 15:31] aswathkk commented on #776
@mohanarpit We do support `setInterval` now. Similarly, can we support `setTimeout` as well?

[2022-03-16 15:52] keyurparalkar commented on #3369
### Minutes of meeting: app-viewer standup

* As per the discussion in the meeting, JSON form will be going first into the release.
* Properties that are newly introduced into the theming such as boxShadow, borderRadius, fontSize and color etc. should be added in the property pane of the JSON form widget.
* Migrations should be written/required for the JSON form widget from the first level of widg

[2022-03-16 15:52] keyurparalkar commented on #3369
### Minutes of meeting: app-viewer standup

* As per the discussion in the meeting, JSON form will be going first into the release.
* Properties that are newly introduced into the theming such as boxShadow, borderRadius, fontSize and color etc. should be added in the property pane of the JSON form widget.
* Migrations should be written/required for the JSON form widget from the first level of widg

[2022-03-16 16:39] ankitakinger opened #11919 "[Bug]: Signup link not visible on login screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I disable signup via admin settings page, the signup link on login screen is not visible

### Steps To Reproduce

1. Go to the admin settings page
2. Go to authentication
3. Go to form login and disable signup
4. Now logout and check on login screen, the signup link is not visible

### Public

[2022-03-16 17:09] AS-Laguna opened #11920 "[Feature] Add operator similar to SQL like for text filtering (Google Sheets)"
Currently the GSheets integration has a condition to check if a value contains a column, `in`, but not a condition to check if the column contains the value.

The new conditions could be `like` and `not like` or `contains` and `doesn't contain`.

[2022-03-16 18:36] dilippitchika opened #11921 "JSON Form documentation"
Please add documentation for JSON form

https://www.notion.so/appsmith/JSON-form-documentation-a5ca3fef7c9c4c27be175e216d6d6fde

[2022-03-16 18:59] billyrudi commented on #7241
Hi, I do you have news?

[2022-03-16 19:01] billyrudi commented on #9978
Hi do you have news on this?

[2022-03-16 19:30] cokoghenun commented on #11335
Will do @jnikhila

[2022-03-16 23:32] ame-appsmith opened #11922 "Deploy Same App to Multiple Orgs Programmatically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Use case:
The user needs to deploy the same app to multiple organizations. The user has an on-premises setup, and the app is in git. They need to programmatically publish it to each organizations (any API endpoint?) without having to manually import the app to each Organization.
Ideally, they would li

[2022-03-17 01:50] sbalaji1192 commented on #11449
Reopening this issue as we have reverted the changes to fix an issue caused by placing the input widget inside a list widget.
refer:
issue - https://github.com/appsmithorg/appsmith/issues/11833
revert PR - https://github.com/appsmithorg/appsmith/pull/11888

[2022-03-17 03:38] arunvjn commented on #11745
This issue is not specific to clean URLs and is on release as well. Can you please reassign this ticket ? @hiteshjoshi

[2022-03-17 03:39] #11282 closed

[2022-03-17 04:27] #11919 closed

[2022-03-17 04:47] #11605 closed

[2022-03-17 05:12] #10725 closed

[2022-03-17 05:42] #11808 closed

[2022-03-17 05:59] abhvsn commented on #11873
@hiteshjoshi please assign the concerned person

[2022-03-17 06:00] #11611 closed

[2022-03-17 06:00] #11857 closed

[2022-03-17 06:01] rashmi-rai commented on #2634
Closed via https://github.com/appsmithorg/appsmith/pull/8777

[2022-03-17 06:01] #2634 closed

[2022-03-17 06:23] danciaclara opened #11926 "[Bug]: Square brackets property accessor throws undefined in JSObjects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you use square brackets to access an object's property, it returns undefined.

<img width="1204" alt="Screenshot 2022-03-17 at 11 49 07 AM" src="https://user-images.githubusercontent.com/32227135/158748807-1ed76340-49c4-4575-b0df-f02736f3a383.png">

### Steps To Reproduce

Use this code

[cod

[2022-03-17 06:37] abhvsn opened #11927 "[Bug]: Erratic behaviour with missing pluginId for the actions created by JSObjects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Some users have reported that their app is crashing, after investigating this resulted in the missing `pluginType` and `pluginId` for the actions connected to the JSObejct. This happens with all the actions attached to the JSObject which is at fault but if we look into the DB, JSObject looks fine

[2022-03-17 07:00] Nikhil-Nandagopal commented on #11851
@ginjojohny thank you for the details!
@rohitagarwal88 @riodeuno can we look into why this is happening? Looks like a rendering / performance issue

[2022-03-17 07:01] Nikhil-Nandagopal commented on #11927
@abhvsn this should be critical since we're broken existing apps right?

[2022-03-17 07:05] Nikhil-Nandagopal commented on #11922
Hi @ame-appsmith , I think this will be solved with #5971 and git import so I'm closing this in favor of those

[2022-03-17 07:05] #11922 closed

[2022-03-17 07:16] Nikhil-Nandagopal commented on #776
@aswathkk yeah I agree we should allow this as well

@rohan-arthur @ajinkyakulkarni

[2022-03-17 07:20] Nikhil-Nandagopal commented on #2836
@SidHiremath with Git Import, you will be able to have 2 organizations that have prod / staging datasources and you can easily deploy your application with those. This feature however is to let a developer quickly switch between pod and staging versions of those data sources on any branch.

[2022-03-17 07:22] Nikhil-Nandagopal commented on #9978
@billyrudi we're still undecided on this feature because it could potentially be a security concern. Is there a specific window property that you need to access?

[2022-03-17 07:41] rohan-arthur commented on #776
@Nikhil-Nandagopal would you please clarify the value of this feature request? What will the user be able to achieve ina business sense (perhaps a use case or two would help)

[2022-03-17 07:44] Nikhil-Nandagopal commented on #11902
@somangshu can we add #11844 also to this

[2022-03-17 07:48] Nikhil-Nandagopal commented on #776
@rohan-arthur they could use it to show app viewers a message if no action is taken in an app within 60 seconds or as a double confirmation mechanism for destructive actions to give users x seconds to cancel the action before it is fired.

[2022-03-17 07:55] #11636 closed

[2022-03-17 08:01] ramsaptami opened #11930 "[Bug]: Border and container have gaps when both are coloured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When border and background of a widget is coloured then there's an inconsistent gap observed between the 2 colors. This is more pronounced when the border radius is set for the widget.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e4590278338a4ca486b9f9dbfc466c17-00001.gif)](https://www.l

[2022-03-17 08:13] Tooluloope commented on #11902
@Nikhil-Nandagopal I think this is being fixed here https://github.com/appsmithorg/appsmith/pull/10600

[2022-03-17 08:15] Tooluloope commented on #11902
@momcilo-appsmith @jsartisan, Currently, is there any design fix in the Select family?

[2022-03-17 08:38] billyrudi commented on #9978
Hi, yes:
window.document
and if possible to create functoin like:
window.somefunctiom = function() { ..... }

[2022-03-17 08:45] dilippitchika commented on #8925
Looks like the progress bar widget now available, closing this

[2022-03-17 08:45] #8925 closed

[2022-03-17 09:06] RakshaKShetty opened #11932 "[Bug]: Restricted signup error should be displayed when uninvited user tries to login/signup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an uninvited user tries to log in with Google or GitHub the error message is not displayed on UI It just Displayed in Fat container logs

### Steps To Reproduce

1. In Localhost
2. Try to login with the google login
3. Make sure you are an uninvited user
4. the user will be navigated back to

[2022-03-17 09:13] Nikhil-Nandagopal commented on #11524
@SatishGandham i'm converting this to an issue and moving all the subtasks to #10473

[2022-03-17 09:23] delightfuldude commented on #10531
Nextcloud and webdav integration would be great! Any progress so far?

[2022-03-17 09:28] #11397 closed

[2022-03-17 09:34] prsidhu commented on #10379
@somangshu @dilippitchika This is a slightly different issue from the one mentioned in #10771. Before rendering the text, Interweave attempts to find all urls and emails in the text through regex matching; and this step seems to be causing the non responsive behaviour. I don't exactly know what is causing the delay, yet. However, if you turn on ```disable links``` option for the text widget before

[2022-03-17 09:42] lublak commented on #11624
@dilippitchika For me the error still occurs: https://app.appsmith.com/applications/6225c53e45ea27345b4970f2/pages/6225c53e45ea27345b4970f5

What I notice is that undo is not set when it remains empty and undo is set when the content is successfully loaded.

![HxEyUw47IE](https://user-images.githubusercontent.com/44057030/158779571-3f29cef0-e6ba-443b-b965-65f8d7ec9402.gif)

I have the feeling that

[2022-03-17 09:54] prapullac commented on #10545
Feature under devlopment

[2022-03-17 09:55] lublak opened #11934 "[Feature]: Inline Text Editor with RichText inline function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Sometimes it would be really handy to quickly edit static text in edit mode (just double-click).
A richtext would also be handy if you have some more complex text.
This is not about the RichTextEditor but about the normal static text.

![grafik](https://user-images.githubusercontent.com/44057030/15878

[2022-03-17 09:57] sumitsum commented on #11617
I investigated all the frameworks mentioned [here](https://graphql.org/code/#java-kotlin) and a few others that I could find on the web. I was able to gather the following:
* most of these frameworks are meant to provide support for creating a GraphQL server. Since our goal is to create a GraphQL client this use case is not interesting for us.
  * one useful feature that can be leveraged from one

[2022-03-17 09:57] #11617 closed

[2022-03-17 10:12] ankitakinger opened #11936 "[Docs]: Add information about signup and form login disable toggles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Since Client ID and Client Secret for any of the OAuth methods are not being verified as of now, the user will have to test it out before disabling the form login. This is because, if the form login is disabled and the OAuth method used for login doe

[2022-03-17 10:12] Nikhil-Nandagopal commented on #9978
@billyrudi why are you trying to manipulate the document or create a global function?

[2022-03-17 10:17] billyrudi commented on #9978
create global function is usefull to use the same function in all project...
manipulate document i usefull to add remove hide or chang css attribute of a specific dom element...

[2022-03-17 10:19] shashi-donon commented on #11828
Thanks for looking to it,

[2022-03-17 10:21] Aishwarya-U-R opened #11937 "[Bug]-[1500]:Upon adding a new JSObj/Query/Blank API's - EntityExplorer should show the new item in the expanded tree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

.png:
<img width="630" alt="Screenshot 2022-03-17 at 1 53 36 PM" src="https://user-images.githubusercontent.com/91450662/158785172-38abfd6d-e869-497e-ac5a-d2e45686b881.png">

### Steps To Reproduce

1. Create a new application
2. Add a new JSObject/Query/Blank API
3. User should be able to see the

[2022-03-17 10:25] ducviet98 commented on #10176
Hi, is Feature released?

[2022-03-17 10:28] #9754 closed

[2022-03-17 10:28] #11545 closed

[2022-03-17 10:51] #11661 closed

[2022-03-17 10:55] dilippitchika commented on #10671
Closing till we pick up

[2022-03-17 10:55] #10671 closed

[2022-03-17 11:37] prapullac commented on #11616
Under implementation

[2022-03-17 11:47] #7756 closed

[2022-03-17 11:50] MLNW opened #11941 "[Bug]: Git Sync generates invalid SSH Key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to link an existing app to a Git repository an SSH key is generated.
When I copy this key and paste it into GitLab as a deploy key I get the following error message:

The key that was generated:

### Steps To Reproduce

1. Go to `Connect to git repository`
2. Enter a GitLab URL
3. Copy

[2022-03-17 11:55] SidHiremath commented on #2836
It might be good to have the env properties defined in the apppsmith for each environment and while deployment we should override the configurations according to the environment.

Also. as a developper, we should not have access to production system, so it should be part of deployment process to change the configurations and we should have some comand to pass those properties.

[2022-03-17 12:05] #9130 closed

[2022-03-17 12:05] #9131 closed

[2022-03-17 12:25] arunvjn commented on #9060
Closing this EPIC since the entity explorer redesign is complete.
Will be taking up additional enhancements/Improvements as adhoc requests.

[2022-03-17 12:25] #9060 closed

[2022-03-17 12:29] sharat87 commented on #9967
The merged PR is only a partial solution. Re-opening.

[2022-03-17 12:35] st-trade commented on #11452
Had this issue

[2022-03-17 12:55] aswathkk opened #11943 "[Bug]-[24000]:JSObejct/Query/API shows as "not defined""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After reloading an application, the connected data source shows as "not defined" in the code editor.
<img width="960" alt="Screenshot 2022-03-17 at 6 17 25 PM" src="https://user-images.githubusercontent.com/10436935/158811893-57d55e9f-4e85-4a9b-8690-fdf2d3337b48.png">

### Steps To Reproduce

1. C

[2022-03-17 12:58] dilippitchika commented on #11564
@wmdev0808 as discussed please use the min-width from the menu button widget here to prevent small menus when button size is small

[2022-03-17 13:00] mohanarpit opened #11944 "[Bug]: Image widget does not render images for TIFF file format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a user uses a TIFF file, the image widget doesn't render the image.

### Steps To Reproduce

1. Drag an image widget
2. Set the image URL to a TIFF file: https://www.learningcontainer.com/wp-content/uploads/2020/08/Sample-Tiff-File-download-for-Testing.tiff
3. Observe that there the image is

[2022-03-17 13:03] Nikhil-Nandagopal commented on #11452
@st-trade sorry, you faced this issue. We'll be solving this soon

[2022-03-17 13:12] #6009 closed

[2022-03-17 13:15] #6008 closed

[2022-03-17 13:21] hiteshjoshi commented on #11361
@areyabhishek any application connected to git have a default branch. The concept of default branch is similar to having default (display) branch on GitHub.com
Will it be okay if we let users deploy just default branch without committing. Doing it on every branch is also not a technical challenge. But would like users to understand a bit about privacy here. The problem is git based urls today are

[2022-03-17 13:29] #11363 closed

[2022-03-17 13:33] hiteshjoshi commented on #11551
@IamAnubhavSaini can you debug this and see if we can improve the heavy calls.

[2022-03-17 13:52] prapullac commented on #10762
Waiting for Backend changes

[2022-03-17 13:53] prapullac commented on #10761
Waiting for backend changes

[2022-03-17 14:45] ramsaptami opened #11945 "[Bug]-[100]:Need a divider between org list and quick help on home page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Need a divider between org list and quick help (?) on the home page. The current design makes it hard to distinguish where organization list ends and where the help section begins with a quick glance.

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/158826622-63

[2022-03-17 16:21] WernerDreierB opened #11946 "[Bug]: APPSMITH_ENCRYPTION_PASSWORD and APPSMITH_ENCRYPTION_SALT not properly set on fresh installation, when provided via ENV-Variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I specify APPSMITH_ENCRYPTION_SALT  and APPSMITH_ENCRYPTION_PASSWORD as "applicationConfig" within helm-deployment and run a fresh installation:

- Installation does not find docker.env and will generate it (correct)
- an empty file with random salt and password is generated (correct)
- the g

[2022-03-17 17:57] abhvsn commented on #11816
I was referring to these tags only just expose them from the appsmith UI, so in the event users want to revert to specific commit this will make their life easier.

[2022-03-17 20:02] micael-pn opened #11949 "[Bug]-[560]:Allow underscore in API queries URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I configure an URL with an underscore character in an API URL, I get an error with status 5000 "Host not allowed.". I also notice that the "url" attribute in the error excludes the domain including the undercore

**Examples**

URL with underscore
![image](https://user-images.githubusercontent

[2022-03-18 03:22] yatinappsmith opened #11952 "[Bug]: Unable to use Oauth2 REST api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Unable to use Oauth2 REST api. I am trying to use monday.com. My guess is it is unable able to populate Bearer token or Documentation is insufficeint

### Steps To Reproduce

1. In monday.com create an app for appsmtih.
2. Featch credentials
3. Add Ouath2 datasource and authenticate the app. (Plea

[2022-03-18 03:24] #11885 closed

[2022-03-18 05:41] arunvjn opened #11953 "[Bug]: Open documentation CTA doesn't work in omnibar."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Open documentation CTA doesn't work in omnibar. Also the spacing in documentation section is too less.

### Steps To Reproduce

Open "Search Documentation" section in omnibar.
Click on "Open Documentation" button.

### Public Sample App

_No response_

### Version

Cloud

[2022-03-18 06:12] ankitakinger opened #11956 "[Bug]: Remove login form on signup page if it is disabled & update UI based on Design QA"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- When form login is disabled, the signup screen still shows form login.
- Update the UI based on suggestions given during Design QA.
- Update some cypress tests.

Design QA changes to be done:
- download button margin bottom - 24px
- toggle up and down 8px, top -20 left 58
- send test email butto

[2022-03-18 06:13] soul-cell opened #11957 "[Bug]: Able to press a button and onclick of that button is executing when the button is in disabled state."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Able to press a button and onclick of that button is executing when the button is in disabled state. This issue started after recent update.

### Steps To Reproduce

1.Create a button
2.Add a function in Onclick of that button
3.Click on the button after disabling it

### Public Sample App

_No re

[2022-03-18 06:15] pranavkanade opened #11959 "[Feature]: Allow users to add username & password with OAuth 2.0 authentication type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user wants to use a username & password along with Client ID & Client Secret in their authenticated API data source.
As of today we only allow Client ID & Client Secret if the Authentication type is set to OAuth 2.0

### Why should this be worked on?

User request -

[2022-03-18 06:16] soul-cell commented on #11803
@Nikhil-Nandagopal Reproducing is the problem , I worked on some other applications but never noticed this problem before . I will post again if I am able to reproduce it

[2022-03-18 06:20] dilippitchika commented on #11844
Being fixed in #7064

[2022-03-18 06:22] dilippitchika commented on #11827
Fixed in #11494

[2022-03-18 06:22] #11827 closed

[2022-03-18 06:26] hiteshjoshi commented on #11558
Scrolling issue is fixed in https://github.com/appsmithorg/appsmith/pull/11813

[2022-03-18 06:29] dilippitchika opened #11960 "[Bug]: Fork template button looks weird in safari"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to fork a template, I don't see the button clearly in safari
![Screenshot 2022-03-18 at 11 56 54 AM](https://user-images.githubusercontent.com/19730984/158949084-64a09587-2325-4d71-a078-5b5c032a87b0.png)

### Steps To Reproduce

1. Go to safari
2. Open release app
3. Select the template

[2022-03-18 06:32] dilippitchika commented on #11838
@ramsaptami I am unable to fork the app in the release env. Can you please share the app json here?

[2022-03-18 06:35] dilippitchika commented on #10280
@Tooluloope this has been raised for a few times now, can you assign someone to investigate?

[2022-03-18 06:37] dilippitchika commented on #9721
@Tooluloope were you able to investigate this?

[2022-03-18 06:38] eco-monk commented on #6732
Todo: need to deprecate normal IIFE function, since we have to do string replacement in out code for this to work

[2022-03-18 06:47] aswathkk opened #11962 "[Feature]: Make custom fusion chart not to refresh on change of data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

If I create a custom fusion chart and bind it to a widget or appsmithStore, the chart refreshes every time when the widget's value or appsmithStore value changes.
There should be some way to make this change smoother without refreshing the entire chart.

### Why should this be worked on?

![chart](htt

[2022-03-18 07:13] devnamrits commented on #11419
Thank you @mojtab23  for assigning me this issue. Will go ahead and accomplish this.

[2022-03-18 07:18] prapullac commented on #4559
Identified Issues :
1)  When a Query has a drop-down and it is converted to JSON format it is observed that the data remains to what is written in the JSON and does not get updated wrt selection option of the dropdown menu.
2) https://github.com/appsmithorg/appsmith/issues/11871

[2022-03-18 07:26] dilippitchika commented on #11468
@prsidhu any updates on this?

[2022-03-18 07:30] ginjojohny opened #11965 "[Bug]: Reset widget not working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a form with multiple fields and while selecting a dropdown value some data will be fetched from db and shown to other widgets . when deselecting the option the widgets filled with data should be changed to default value state. I tried by calling resetwidget() for each and every field but di

[2022-03-18 07:32] prsidhu commented on #11468
@dilippitchika https://github.com/appsmithorg/appsmith/pull/11673

[2022-03-18 07:34] kavhad opened #11966 "[Bug]: appsmith server/container won't start if Admin Setting: Instance Name contains spaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the Admin Setting "Instance Name" )is changed and contains space characters between words the server won't startup after restart.

The following error is shown in the docker logs:
`appsmith       | /appsmith-stacks/configuration/docker.env: line 94: **<First word of Instance Name>**: command

[2022-03-18 07:35] ginjojohny commented on #11637
closing this issue as got solution from community for the similar case
https://community.appsmith.com/t/how-do-i-skip-the-appsmith-login-form-in-my-application-by-new-feature-of-enable-disable-form-login-in-admin-authentication-settings/705/8

[2022-03-18 07:39] dilippitchika commented on #11173
What we need to fix is - typing e should not delete the numbers already added.

Rest all is not a bug according to me. It's how number input behave for large numbers.

[2022-03-18 07:42] yatinappsmith commented on #11952
I was able to use Oauth2 working with dropbox. I am still keeping the priority as critical as we lack documentation and debugging for Oauth. I am still unable to use monday.com

[2022-03-18 07:45] nayan-rafiq opened #11967 "Send message to client when test email fails on admin settings page"
In admin settings page, we don't send the error message to client if there is an error.
Need to pass the error message to client so that user can learn about the error quickly.

[2022-03-18 07:46] dilippitchika commented on #11957
@Tooluloope can you get this triaged?

[2022-03-18 07:56] yaldram commented on #11957
@dilippitchika I am looking into this issue, I will push a fix soon.

[2022-03-18 08:02] Aishwarya-U-R opened #11970 "[Task]: Fix Automation test scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-18 08:19] leotom2000 commented on #11952
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/BE-Coders-Pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/11952?planning-poker) with ZenHub @nidhi-nair @sumitsum

[2022-03-18 08:45] #11031 closed

[2022-03-18 09:02] prsidhu commented on #7723
@jsartisan I can't reproduce this issue. Could you confirm if this still exists?

[2022-03-18 09:05] #11169 closed

[2022-03-18 09:06] dilippitchika commented on #11169
Not an issue, expected behavior to handle large numbers

[2022-03-18 09:35] #11877 closed

[2022-03-18 09:49] #11870 closed

[2022-03-18 09:59] dilippitchika commented on #9663
@RakshaKShetty not able to reproduce in release and production, i used mailjet to test with the same 587 port. Closing this for now.

[2022-03-18 09:59] #9663 closed

[2022-03-18 10:21] hiteshjoshi commented on #11672
Good catch. I think the message should just say “If an account exists you will receive the reset password instructions at aaaa@aaa.com”

[2022-03-18 10:25] hiteshjoshi commented on #11960
@albinAppsmith can we check if this is coming from the design system?

[2022-03-18 10:27] hiteshjoshi commented on #11959
@pranavkanade the idea of Auth 2.0 is to not send username and password. May I know what they are using as provider for auth. Also if any details on the use case?

[2022-03-18 10:28] xoraingroup opened #11976 "[Feature]: Redis Sentinel Support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be great to have redis sentinel support. Currently only redis instances are supported.

### Why should this be worked on?

I guess its great to have more features like Redis Sentinel. For larger companies they don't rely on single redis instance but redis clusters or sentinels.

[2022-03-18 10:35] Nikhil-Nandagopal commented on #11959
Yeah this needs more details. Even postman doesn't support this. @pranavkanade can you please ask the user where they are seeing this on postman?
![Uploading Screenshot 2022-03-18 at 4.04.45 PM.png…]()

[2022-03-18 10:42] Nikhil-Nandagopal commented on #10531
@delightfuldude we haven't seen too many requests for this yet so it isn't on our roadmap yet. It would be helpful if you could point us to the API documentation and what you would expect this integration to achieve

[2022-03-18 10:44] Nikhil-Nandagopal commented on #11624
I can reproduce this on prod as well

[2022-03-18 10:46] Nikhil-Nandagopal commented on #11934
@lublak Thanks for the feature request! We definitely want to improve the ability to both style and edit some static properties like these in widgets

[2022-03-18 10:48] Nikhil-Nandagopal commented on #11941
@MLNW thank you for reporting this issue.

@abhvsn @AnaghHegde can we have a look at what went wrong here?

[2022-03-18 11:10] akash-codemonk commented on #11966
Unable to repro. Changed the instance name in admin settings page to have space between words. The app seems to run fine after save and restart.

[2022-03-18 11:29] sharat87 commented on #11966
Hey @kavhad, thanks for reporting. This issue should've been fixed by https://github.com/appsmithorg/appsmith/pull/11799, which is part of the latest release published yesterday. Can you pull the latest image again and check with that please?

[2022-03-18 11:44] dilippitchika commented on #3613
@somangshu assigning to us to clear this up and proceed

[2022-03-18 11:47] Nikhil-Nandagopal commented on #2836
@SidHiremath we will definitely support an env file that can be uploaded but It may not be from the file system because multiple organizations can be there in a single instance of Appsmith. So we will allow admins to upload an env file that can be read by developers

[2022-03-18 11:51] Nikhil-Nandagopal commented on #11361
I don't think we should solve this problem right now. This user's problem was that they could not test things out properly in our preview mode because there were bugs there. Lets solve that first

[2022-03-18 12:05] sharat87 commented on #11580
Closed in #11581.

[2022-03-18 12:05] #11580 closed

[2022-03-18 12:15] #11966 closed

[2022-03-18 12:35] vuiets commented on #11889
Thanks for reporting this @arunvjn. Was able to reproduce the former issue but not the latter one, ie,

Checking out the branch created earlier redirected me to the branch with Page 2 as home page.

[2022-03-18 12:37] Nikhil-Nandagopal commented on #8636
@bizcover-bot you can make the application public and share it with your users

[2022-03-18 12:39] Nikhil-Nandagopal commented on #11949
@micael-pn AFAIK underscores are not allowed inside URLs so this wouldn't be a valid API call. Could you tell me how does your API have an underscore in it?

[2022-03-18 12:40] Nikhil-Nandagopal commented on #11803
Ok thank you please re-open this if you can reproduce it

[2022-03-18 12:40] #11803 closed

[2022-03-18 12:41] Nikhil-Nandagopal commented on #11976
@xoraingroup thank you for the feature request!

[2022-03-18 12:45] Nikhil-Nandagopal commented on #6732
@eco-monk what do you mean by deprecate IIFE? That sounds dangerous

[2022-03-18 12:51] arunvjn commented on #11031
@Parthvi12 This change is on release. Can you please test this ?

[2022-03-18 13:01] yatinappsmith opened #11977 "[Bug]-[1392]:Curl import corrupts data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Curl import corrupted

### Steps To Reproduce

Try importing curl for
[code]

### Public Sample App

_No response_

### Version

self hosted

[2022-03-18 13:04] AnaghHegde commented on #11941
@MLNW Can you confirm if you have copied the keys correctly? I just tried connecting an app to gtilab repo from appsmith cloud. It works perfectly fine. Here is the recording of the video - https://www.loom.com/share/ea942969ba744d4480be3f677aa77334

[2022-03-18 13:10] vuiets commented on #11499
@hiteshjoshi bumping this up again. Been a few weeks since users haven't been able to use the commenting functionality because pins don't get placed where they ought to.

Looks like a low effort solve. Can we route this to someone and get it fixed?

[2022-03-18 13:11] MLNW commented on #11941
@AnaghHegde Yes, I am 100% sure I copied the key correctly. To be sure I just tried again and it still does not work. I posted a copied key in the original post.

I tried regenerating the key but it does not seem to change.

[2022-03-18 13:12] ohansFavour commented on #11895
This error is caused by a chrome extension. Observe that this is not seen on incognito tabs nor in other browsers. This is particular to a chrome extension (not sure which one it is).

Checkout [this comment ](https://stackoverflow.com/questions/71517919/typeerror-cannot-read-properties-of-null-dont-catch-data-react#comment126404623_71517919)

[2022-03-18 13:13] #11895 closed

[2022-03-18 13:17] AnaghHegde commented on #11941
Can you share a screen recording? Because I am not able to reproduce the issue.

[2022-03-18 13:39] #8052 closed

[2022-03-18 13:56] prapullac opened #11978 "[Bug]-[3600]:When Gsheet is created using CRUD the update does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

precondition: Consider we have a Gsheet with only header and we create a CRUD page using the same Gsheet and it is observed that the data does not get updated with insert query until it is Gsheet is added with a value on the sheet.

### Steps To Reproduce

1) Create a Gsheet using the Appsmith Que

[2022-03-18 14:25] ramsaptami opened #11979 "[Docs]: Google sheets code snippets on documentation is generic and returns an error when we use it on the application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/datasource-reference/querying-google-sheets#creating-queries

### Describe the problem

Code snippets for various query types (create, update, insert....) are the same and don't have any difference even though the query types are different. Using these snippets on

[2022-03-18 14:27] jerrydeng commented on #3129
We need it as well.

[2022-03-18 14:48] #11867 closed

[2022-03-18 16:48] #11449 closed

[2022-03-18 16:48] #11839 closed

[2022-03-18 17:35] micael-pn commented on #11949
@Nikhil-Nandagopal Thank you for your help

According to [RFC 3986 section 2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-2.3), underscores seem to be authorized in URIs :

About our use case : we use appsmith for internal apps (thank you for this great tool by the way). Our stack is deployed on a Swarm cluster. Each internal microservice is available on our private network with URLs t

[2022-03-18 20:35] felixsuarez0727 opened #11981 "[Bug] "Something went wrong" message while trying to add or edit HubSpot CRM DataSource."
**Current Behavior**

When try to install CRM API on the datasources it shows an error that something went wrong, but the API is created and displayed in the Active section.

**Issue found:** When editing the API, the same error is displayed, and they cannot be edited with the authentication information.

**Steps to Reproduce**

1. Go to "Add DataSource"
2. Select HubSpot - CRM API
3. An error wil

[2022-03-18 22:32] felixsuarez0727 opened #11982 "[Feature] HubSpot CRM API Saas Integration"
## HubSpot CRM API Saas Integration

### Description:

The CRM API provides access to CRM objects and records. The foundation of your HubSpot account is a database of your business relationships and processes, called the CRM (Customer Relationship Management). To manage this data, HubSpot provides a set of standard objects, each representing a different type of relationship or process.

----------

[2022-03-18 22:39] ame-appsmith commented on #11959
This is the information sent by the user:

![image](https://user-images.githubusercontent.com/101268423/159093421-58c5118e-cf9f-46e6-8e12-40abbb6b9062.png)

[2022-03-18 22:42] felixsuarez0727 opened #11983 "[Feature] HubSpot Files API Saas Integration"

[2022-03-18 23:00] felixsuarez0727 opened #11984 "[Feature] HubSpot CMS HubDB API Saas Integration"
## HubSpot CMS HubDB API Saas Integration

### Description:

HubDB is a relational datastore that presents data as rows, columns, and cells in a table, much like a spreadsheet. HubDB tables can be added or modified in the HubSpot CMS.

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/cms/hubdb

------------------------
### TO-DO

------------------------
### API

[2022-03-19 07:00] hiteshjoshi commented on #11941
Hi @MLNW are you on self hosted GitLab or cloud version? We are unable to reproduce this on cloud.

[2022-03-19 07:08] hiteshjoshi commented on #11499
Yeah this is low effort. It's just the x axis while adding comment is a bit messed up.

[2022-03-19 07:24] hiteshjoshi commented on #11361
Closing this.

[2022-03-19 07:24] #11361 closed

[2022-03-19 08:16] hiteshjoshi commented on #2408
Moving this to IceBox. I believe we will cover this under RBAC?

[2022-03-19 08:19] hiteshjoshi commented on #5308
This is not happening for me right now. Closing.

[2022-03-19 08:19] #5308 closed

[2022-03-19 08:21] hiteshjoshi commented on #5962
Closing this as its a subset of task we will do for extending comments.

[2022-03-19 08:21] #5962 closed

[2022-03-19 08:26] hiteshjoshi commented on #7353
Closing this. Will use #2840 for communication.

[2022-03-19 08:26] #7353 closed

[2022-03-19 08:27] hiteshjoshi commented on #2840
User request around JWT tokens.
“JWT token authentication on AppSmith editor GUI #7353”

[2022-03-19 08:31] hiteshjoshi commented on #7432
Cannot reproduce any longer.

[2022-03-19 08:31] #7432 closed

[2022-03-19 08:32] hiteshjoshi commented on #7471
@ramsaptami I can no longer reproduce this. Is this still happening?

[2022-03-19 08:33] #7610 closed

[2022-03-19 08:36] hiteshjoshi commented on #7888
@momcilo-appsmith been a while with this, I think we have changed direction since then? Closing this but feel free reopen and update with new information.

[2022-03-19 08:36] #7888 closed

[2022-03-19 08:39] hiteshjoshi commented on #8315
Closing this. This is partially being solved through RBAC. We will revisit this later but this needs a bigger EPIC.

[2022-03-19 08:39] #8315 closed

[2022-03-19 08:40] hiteshjoshi commented on #8508
@abhvsn can we close this?

[2022-03-19 08:40] hiteshjoshi commented on #8683
@shwetha-ramesh this looks solved. Closing this. Feel free to reopen if this still exists.

[2022-03-19 08:40] #8683 closed

[2022-03-19 08:41] hiteshjoshi commented on #8697
@abhvsn can we close this?

[2022-03-19 08:43] hiteshjoshi commented on #8726
This is fixed.

[2022-03-19 08:43] #8726 closed

[2022-03-19 08:51] hiteshjoshi commented on #11286
@vuiets can you confirm if all events are added? If yes, lets close this.

[2022-03-19 08:53] hiteshjoshi commented on #11219
I tried replicating this and got another bug. The error message says “Resource not found” on fork and duplicate of app.

[2022-03-19 12:53] arunvjn commented on #9740
Unable to replicate this. This could happen when client expects a JS file but gets HTML response instead (which starts with <html>).
It could be our service worker redirecting the call to fetch a JS file, to index.html, when there is a cache miss. Need to investigate this further.

[2022-03-19 15:56] #11970 closed

[2022-03-19 16:10] marcoshw commented on #8590
I was trying to create an internal app for an Azure SQL DB and got this problem. This feature is really needed if you want to be an alternative for PowerApps

[2022-03-19 18:24] Parthvi12 opened #11986 "[Bug]: Navigate CTA in omnibar shows widgets and pages of the other apps with label undefined, on clicking one of these undefined widgets, it clones the other app’s page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/159133702-31c247be-07ab-4a20-a641-68b15488582f.mp4

### Steps To Reproduce

1. Go to any app
2. Open another existing app
3. Click on Navigate in Omnibar
4. Click on any of the widgets with label undefined

### Public Sample App

_No response_

##

[2022-03-20 13:54] GreenFlux commented on #2602
I was just going to suggest this feature. Now that we have the JS Objects, I'm often bouncing back and forth between a widget and a JS Object.

It takes a few extra clicks and scrolling to find the JS Object again when you have a long list of APIs/Datasources. It would be a lot easier if the JS Object pane could just stay open as a tab.

[2022-03-20 17:21] git01abhi commented on #11920
it would be really beneficial because its hard to store thousands of rows in appsmith.store and its time consuming also. To fetch only the data of the corresponding row and store it would be much faster and helpful for google api users

[2022-03-20 20:46] sumitsum commented on #8590
Hi @marcoshw , thanks for showing interest in this issue. We will try to prioritize this. QQ: Is Azure SQL db same as MsSQL ?

[2022-03-20 21:42] marcoshw commented on #8590
Hello @sumitsum,
They have a lot of things in common, but not equal. Azure SQL is a mini cloud version of MsSQL, almost all drivers for MsSQL works for Azure SQL, the only difference is that the connection to Azure SQL is always encrypted. Appsmith supports Azure, but it doesnt load the tables structure when you use it, so its a little bit uncomfortable. I believe if you generate db structure for

[2022-03-20 22:14] sumitsum commented on #8590
@marcoshw thanks a lot for the wonderful explanation ! :)

[2022-03-20 22:50] sumitsum opened #11992 "[Bug]: REST API plugin datasource: fix advanced settings subsection under oauth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Todo:
* `Save and Authorize` button should come at the bottom after all settings.
* `Use self signed certificates` dropdown needs to be a part of the `Advanced settings` sub section. It should only show up when the `Advanced settings` is unfurled.
![Screenshot 2022-03-21 at 4 14 18 AM](https://use

[2022-03-21 00:25] vuiets commented on #11199
So @aswathkk we'll focus on the name but not make it active.

Then one has to hit `Enter`/`Space` to make it active and rename the widget.

This way the other operations like deleting a widget, copying a widget, and cutting a widget using keyboard shortcuts can still be done.

[2022-03-21 01:35] 243324195 opened #11993 "[Bug]: It is not live for you yet Comming Soon when I connect to git，what is the reason"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is not live for you yet Comming Soon when I connect to git，what is the reason

### Steps To Reproduce

Click git

### Public Sample App

_No response_

### Version

1.6.5

[2022-03-21 04:20] AnaghHegde commented on #11272
@hiteshjoshi Design for this is pending.

[2022-03-21 05:08] IAmAnubhavSaini opened #11996 "[Bug]: missing frontend validation for remote URL in git connect flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you enter `g@` in the remote URL, FE code accepts that as proper ssh url for git repo.

### Steps To Reproduce

1. Create a new app.
2. Click git connect in bottom bar
3. Insert `g@` in the remote URL bar
4. Notice that the greyed out Connect button becomes active and user can click it.

###

[2022-03-21 05:12] vuiets commented on #11286
Did a quick check and notice some new events. I'll check this tomorrow and get back to you guys.

[2022-03-21 05:24] #11750 closed

[2022-03-21 05:34] #10241 closed

[2022-03-21 05:49] AnaghHegde opened #11997 "[Feature]: Exclude config values from actions while committing to git repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Exclude the app slug from git repo as the imported app from git repo will have different name
- For actions created from datasources of type SAAS, API we need to exclude the config values from committing to git repo
- For git import provide an option for the user to populate these values during the

[2022-03-21 05:49] #11757 closed

[2022-03-21 05:51] #9656 closed

[2022-03-21 05:51] #10245 closed

[2022-03-21 05:52] #11240 closed

[2022-03-21 06:03] binodgupta010 opened #11998 "[Feature]: Global key event listener"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I want to trigger an event on enter button  click.

### Why should this be worked on?

User want to submit request on enter button click.

[2022-03-21 06:07] RakshaKShetty opened #11999 "[Bug]: The Redirection failes for google sheet in git import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Redirection failes for google sheet in git import

### Steps To Reproduce

1. Go to home page
2. Click on meatball icon (3 dots) next to the new button
3. Click on the Import menu
4. Click on git import
5. Add a remote URL
6. Now add the ssh key in deploy key
7. Import the application
8. There

[2022-03-21 06:14] nidhi-nair opened #12000 "[Bug]: JS objects are being duplicated during git sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user has reported that when they branch off of their app, the JS objects are duplicated in the resulting app. This causes the app to be in erroneous state, since the collection can also not be deleted because of multiple branched collections referring to the same master collection.

### Steps To

[2022-03-21 06:20] delightfuldude commented on #10531
@Nikhil-Nandagopal thank you for your quick reply!
I'm wondering that there aren't more requests for nextcloud integration, as this is meanwhile the defacto standard for open source cloud solutions. Especially the collaboration features make them a serious contender to proprietary solutions.

Here are some resources:

- Client APIs: [https://docs.nextcloud.com/server/latest/developer_manual/client

[2022-03-21 06:20] prapullac opened #12001 "[Bug]: Mysql : Inappropriate error message is displayed on incorrect URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to the MYSQL data source and adds an incorrect hostname user is displayed with an inappropriate message stating "Incorrect URL"

Expectation:
User must be displayed with an error stating "Incorrect Hostname" so that it is easy and faster to identify and correct the data

##

[2022-03-21 06:34] #9664 closed

[2022-03-21 06:38] IAmAnubhavSaini commented on #11996
Successful validation for

1. git@github.com:user/project.git
2. git://a@b:c/d.git
3. git@192.168.101.127:user/project.git
4. ssh://user@host.xz:port/path/to/repo.git
5. ssh://user@host.xz/path/to/repo.git
6. ssh://host.xz:port/path/to/repo.git
7. ssh://host.xz/path/to/repo.git
8. ssh://user@host.xz/path/to/repo.git
9. ssh://host.xz/path/to/repo.git
10. ssh://user@host.xz/~user/path/to/repo.git
11

[2022-03-21 06:40] IAmAnubhavSaini commented on #11996
Examples of validation:

![Screenshot 2022-03-21 at 12 07 39 PM](https://user-images.githubusercontent.com/1573771/159215085-682e4566-91f7-4cd0-8f4b-4dfdea903d55.png)

![Screenshot 2022-03-21 at 12 07 25 PM](https://user-images.githubusercontent.com/1573771/159215084-b784cd67-4997-41ea-aeff-4829305222c5.png)
![Screenshot 2022-03-21 at 12 07 02 PM](https://user-images.githubusercontent.com/1573771/

[2022-03-21 06:41] IAmAnubhavSaini commented on #11996
RE: `/^((git|ssh)|(git@[\w\.]+))(:(\/\/)?)([\w\.@\:\/\-~]+)(\.git)$/`

![Screenshot 2022-03-21 at 12 10 43 PM](https://user-images.githubusercontent.com/1573771/159215173-a574b1a9-a4be-447c-b42e-5807638be713.png)
![Screenshot 2022-03-21 at 12 05 41 PM](https://user-images.githubusercontent.com/1573771/159215181-ed18cd3b-b5c0-427d-8c6c-bf6b4487bdac.png)

[2022-03-21 06:46] rohan-arthur opened #12003 "[Docs]: harmoninze format for placeholders in example code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/datasource-reference/querying-google-sheets#7.-create-new-spreadsheet

### Describe the problem

explained below

### Describe the improvement

there are two formats used to denote placeholders:
1. angular brackets, e.g., `<Spreadsheet_Id>`
2. uppercase characters,

[2022-03-21 07:05] momcilo-appsmith commented on #11902
There are no updates to functionality that I know of. The only updates are the ones for the inconsistencies between the widgets that we found earlier @Tooluloope.

[2022-03-21 07:05] #11645 closed

[2022-03-21 07:05] eco-monk commented on #11645
Duplicate of #11943.

[2022-03-21 07:06] eco-monk commented on #9738
Duplicate of #11943.

[2022-03-21 08:10] prapullac opened #12008 "[Bug]-[250]:cURL command - On empty box the user is displayed with inappropriate error message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When Import is clicked on an empty box of cURL inappropriate error message is displayed to the user stating  "Enter a valid  parameter cURLcode "

Expectation :
Since the user has not added any cURL code we can let the user know by stating error as "Please add the cURL code"

### Steps To Reproduc

[2022-03-21 08:10] riodeuno commented on #10037
There seems to be two scenarios occuring here:
1. properties that don't exist are in the dynamic path lists.
2. properties that don't have bindings are in the dynamic path lists

We took care of 1. in [#10898 ](https://github.com/appsmithorg/appsmith/pull/10803)
We need to take care of 2. in a similar approach. In fact, we can do this in the same function by enhancing it and adding new tests.

[2022-03-21 08:31] riodeuno commented on #11038
@dilippitchika This is a great point! I believe, if we can confirm that the dynamic height will come into play only if the word-wrap is enabled, then we can make sure to make the dynamic height property available accordingly.

[2022-03-21 09:08] abhvsn commented on #11889
I think this is a common scenario to get `Resource not found` exception after we have launched the git. In above case it goes beyond the recovery state, but the root cause is the same that user have deleted the resource in the sub-branch. I propose following solution for these cases:

![Screenshot 2022-03-21 at 2 37 18 PM](https://user-images.githubusercontent.com/41686026/159231622-aa22b1d5-6dba-

[2022-03-21 09:12] eco-monk opened #12012 "[Bug]: Using code with lint errors inside JS object makes all functions un-runnable on response tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When using `eval` in any of the JsObject function. The whole list of functions become un-runnable.
Even though, they work fine when called elsewhere in application. (e.g. on button click)

### Steps To Reproduce

1. Create a JsObject with the code below
[code]
2. Notice you're not able to run, any

[2022-03-21 09:24] arunvjn commented on #11889
I like the CTA to take the user to the default page in their branch but if that is the only CTA, can we not make it the default behaviour ?
Or should we show a list of available pages instead ?

[2022-03-21 09:36] sumitsum opened #12014 "[Bug]: download action not working with signed URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Button widget's download action does not work when a signed URL is passed in the data field.

### Steps To Reproduce

1. Create a s3 list action and get a signed URL for one of the files.
2. Create a button widet and set on click action to donwload.
3. Pass the signed URL from step 1 to the downlo

[2022-03-21 09:36] abhvsn commented on #11889
I'm more inclined to the CTA option as this will give you the clear idea that you should not expect the same resource in other branch and this can happen to any resource like JSObject, action etc But @vuiets would love to have your opinion as well

[2022-03-21 09:37] SatishGandham opened #12015 "[Bug]: Unnecessary time spent in HIT test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On the applications list page, when we move the mouse around, browser performs hit test and it takes unusually long amount of time.

What is HIT test
https://www.chromium.org/developers/design-documents/compositor-hit-testing
Possible optimization
https://stackoverflow.com/questions/41830529/optim

[2022-03-21 09:41] abhvsn commented on #9807
Closing this considering the issue was with users json file and also this is not reproduceable on our end

[2022-03-21 09:41] #9807 closed

[2022-03-21 09:43] abhvsn commented on #8697
Duplicate of #7799

[2022-03-21 09:43] #8697 closed

[2022-03-21 09:47] abhvsn commented on #5791
@hiteshjoshi this can be a potential duplicate of https://github.com/appsmithorg/appsmith/issues/11522, should we close this as more context is present in the other ticket?

[2022-03-21 09:48] sum35h opened #12016 "[Feature]: Provision to configure ENV variables for Ansible deployment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently the `appsmith-vars.yml` file does not support  setting the environment variables.

### Why should this be worked on?

To improve deployment process.

[2022-03-21 09:54] #11062 closed

[2022-03-21 10:11] Nikhil-Nandagopal commented on #11965
@ginjojohny can you share the code for the reset widget? You just need to call resetWidget('Container1', true) to reset all widgets inside a container

[2022-03-21 10:14] aswathkk commented on #8845
### Update on 21st March

- [ ] For JS toggle, we will treat it as a normal button so we can use tab to focus on it.
- [ ] For the Reset property button that got introduced in theming EPIC, we will also make it focusable.
Reset button will be made visible when we focus on the property
- [ ] We will be adding tooltips to all the property name that doesn't have any tooltip

[2022-03-21 10:14] ramsaptami commented on #11745
Bumping up the severity on this issue since this exists on prod and new users cannot fork an app successfully
https://www.loom.com/share/747b7a8750d34bf594af7603b6e4b0b0

[2022-03-21 10:17] sumitsum opened #12019 "[Task]: GraphQL: Refactor REST API code to create re-usable components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Refactor REST API plugin code on the API server to create re-usable components.

### Why should this be worked on?

To speed up the development of future REST API like code flows.

[2022-03-21 10:18] Nikhil-Nandagopal opened #12020 "[Bug]: Multi Select options are being picked from the default value instead of the label field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When using a multi select widget, the options are being displayed based on the default values instead of the labels configured in the option

### Steps To Reproduce

1. Drag a multi-select widget
2. Notice the options selected in the widget are GREEN (value) instead of Green (label)

### Public Sa

[2022-03-21 10:25] Nikhil-Nandagopal commented on #11993
@243324195 please update your Appsmith instance to 1.6.6

[2022-03-21 10:25] #11993 closed

[2022-03-21 10:29] akash-codemonk commented on #11658
Closing as it seems to work now on release.

[2022-03-21 10:39] hiteshjoshi commented on #11900
- Discuss with Team DevOps
- Container need download access for downloaded files

[2022-03-21 10:47] ramsaptami commented on #11838
Hey @dilippitchika I've give you access and forked the app for you to repro the issue
https://release.app.appsmith.com/applications/62385770e2e3e942f7cdb921/pages/62385770e2e3e942f7cdb925/edit****

[2022-03-21 11:03] Aishwarya-U-R opened #12023 "[Bug]: Deleting Query from ContextMenu deletes previous query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/6f9f46ca4f8f4457bb502e55b3240b6a-00001.gif)](https://www.loom.com/share/6f9f46ca4f8f4457bb502e55b3240b6a)

### Steps To Reproduce

1. Create a query on any data source, eg: Postgres used in above example
2. Create query2 on same data source
3.

[2022-03-21 11:04] ramsaptami opened #12024 "[Bug]: Comment box opens up at odd locations in view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Comment box opens up a odd location and sometimes goes out of view for user

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/294716e1e11347ea81f76ec753e17050-00001.gif)](https://www.loom.com/share/294716e1e11347ea81f76ec753e17050)

### Steps To Reproduce

1. Deploy an app and switch to comme

[2022-03-21 11:12] hiteshjoshi commented on #10628
@sharat87 a way to know if its a slim container or not is required for this.

[2022-03-21 11:15] ramsaptami commented on #7471
The issue is no longer occurring hence closing this issue.

[2022-03-21 11:15] #7471 closed

[2022-03-21 11:15] hiteshjoshi commented on #9851
@sharat87 this requires frontend to know if its a slim container or not.

[2022-03-21 11:19] ramsaptami commented on #11895
The error stopped occurring now even though nothing changes extension-wise on my end ... But will keep an eye out for this

[2022-03-21 11:20] abhvsn commented on #11793
@RakshaKShetty is this happening to the specific app? If yes can you please share the app link here?

[2022-03-21 11:25] ramsaptami opened #12025 "[Bug]: Dropdown option gets misaligned after selection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Selected dropdown option gets misaligned on the CRUD page

![image](https://user-images.githubusercontent.com/79509062/159251181-97955d69-9102-4be8-8958-9160e249510a.png)

### Steps To Reproduce

1. Go to CRUD page and select a datasource
2. After selecting, observe the alignment of the datasource

[2022-03-21 11:40] ginjojohny commented on #11965
I  have tried  this by reset individual widget like this
	resetWidget("fee_term");
	resetWidget("industry_category");
	resetWidget("amount");
and so on .

Also tried with the method you mentioned   as  resetWidget("fee_details",true);   where  'fee_details'   is my container name.

While inspecting errors showing as shown in the image.
![Screenshot (48)](https://user-images.githubusercontent.com/9

[2022-03-21 11:56] jnikhila opened #12026 "[Docs]: Update-Firestore to Appmith"

[2022-03-21 11:56] jnikhila commented on #12026
As raised on channel:

While following the documentation to connect Firestore to Appmith, there was a little confusion as to where things were located on the Firebase console. The docs say to go to Project Settings directly from the console. But in reality, they are actually situated inside the gear icon → Project Settings. We should probably update the docs to avoid this confusion (https://docs.a

[2022-03-21 11:57] jnikhila opened #12027 "[Docs]: OIDC - Add Active Directory Configuration"

[2022-03-21 11:58] nidhi-nair opened #12028 "[Bug]: Hexadecimal strings in Google Sheets being recognized as doubles when inserting into H2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Our where clause logic parses existing data into data types and inserts this data into an embedded database to perform manipulations. However, the logic to parse the data seems flawed, because hexadecimal strings are parsed as decimals instead.

### Steps To Reproduce

Create a sheet with a column

[2022-03-21 12:22] #10275 closed

[2022-03-21 12:24] somangshu commented on #12020
This was observed while triaging https://github.com/appsmithorg/appsmith/issues/11714

cc @Tooluloope @ashit-rath @dilippitchika I think you guys were able to report this as well?

[2022-03-21 12:27] shwetha-ramesh opened #12029 "[Bug]-[2200]:Import application modal is not center aligned for non appsmith users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Import application modal is not center aligned for non appsmith users
![image](https://user-images.githubusercontent.com/92293815/159260720-52c005f4-3d11-4a35-9073-9abf00c9a769.png)

### Steps To Reproduce

1. Go to release login with non appsmith users
2. Click on three dots next to organization

[2022-03-21 12:34] vivekverma2312 opened #12030 "[Bug]: Pagination previous/next is not proper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="713" alt="Screenshot 2022-03-21 at 6 00 57 PM" src="https://user-images.githubusercontent.com/83569920/159261491-d00d4d11-82e4-474c-b968-89417a92f0d9.png">

### Steps To Reproduce

Drag and drop a table widget on canvas and observe

### Public Sample App

_No response_

### Version

Cl

[2022-03-21 12:56] somangshu commented on #12030
Not seeing any specific code changes around this right now, But I see that the change is in SVG fill which is causing this
![Screenshot 2022-03-21 at 6 25 02 PM](https://user-images.githubusercontent.com/11089579/159265176-442b712a-c2a0-44c2-b143-2f3ad73281d0.png)

Ill find out the relevant change that made this happen

[2022-03-21 13:01] RakshaKShetty opened #12033 "[Bug]: Generate page doesn't work for S3 and mongo datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Generate page doesn't work for S3 and mongo datasource
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/159266018-4ae1c832-86c3-41d2-8341-5399a201c3a4.png">

### Steps To Reproduce

1. Add the s3 datasource
2. now click on generate page
3. Select  the Datasourc

[2022-03-21 13:27] arunvjn commented on #11889
@vuiets Sorry I missed your previous comment. You are right about the 2nd point. I am unable to reproduce it any more. Must be a recent change I guess.

Can you verify if you are actually getting the home page of the branch ? For me it loads the home page of master itself when I switch branch after I follow the replication steps.

[2022-03-21 13:34] Nikhil-Nandagopal commented on #11959
@ame-appsmith thank you for the information!

[2022-03-21 13:36] Nikhil-Nandagopal commented on #11965
@ginjojohny this seems like it needs deeper investigation by us. Can you share your app with support@appsmith.com?

[2022-03-21 13:41] Nikhil-Nandagopal commented on #12012
@eco-monk should we support this or just blacklist eval?

[2022-03-21 13:42] Nikhil-Nandagopal commented on #11998
@binodgupta010 if I understand correctly you want to add a global listener for the enter key on the page?

[2022-03-21 13:44] Nikhil-Nandagopal commented on #12000
@hiteshjoshi @abhvsn are we working on this? This can potentially break apps for users

[2022-03-21 13:46] yaldram commented on #12030
The fix is here in this PR - https://github.com/appsmithorg/appsmith/pull/11973

[2022-03-21 13:52] shwetha-ramesh opened #12035 "[Bug]: Reconnect Datasource modal is not shown for non appsmith email domains in file import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Mock db shows reconnect application for imported app
https://loom.com/share/6db02c6a5a8f405a96c14da38094a511
![image](https://user-images.githubusercontent.com/92293815/159274796-d11bbbd6-85ea-49e1-8f68-282fb07ce4fb.png)

![image](https://user-images.githubusercontent.com/92293815/159274879-0ebdde

[2022-03-21 14:19] YogeshJayaseelan opened #12040 "[Bug]: Audio recorder timer is not visible clearly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is observed that by dragging and dropping an audio widget to canvas the timer in the audio recorder is not visible clearly

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/ef354559777c4b5e86037cfbd4c97a12-00001.gif)](https://www.loom.com/share/ef354559777c4b5e86037cfbd4c97a12)

### Steps

[2022-03-21 14:22] AnaghHegde opened #12041 "[Bug]: Reconnect Application is shown existing datasources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Open any app in release and notice the `Reconnect Application` in active datasources tab.
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/12005551/159281153-8c87cbb7-3252-41fd-b460-afadee7123ab.png">

### Steps To Reproduce

Open any app in release and notice the `Reco

[2022-03-21 14:31] akash-codemonk commented on #10583
Profile image while uploading seems to be resizable.

https://user-images.githubusercontent.com/67054171/159282751-b01469fb-1261-4a4b-9b12-794164858173.mov

Organisation image after selecting an image is visible as well. Closing this issue.

[2022-03-21 14:31] #10583 closed

[2022-03-21 15:12] felixsuarez0727 commented on #11055
So far, it has worked well with HubSpot's Files API (Options are added without issue). Moving to QA

[2022-03-21 15:37] ramsaptami opened #12045 "[Bug]: Blank screen displayed after API save action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A blank screen is displayed after API save action and navigating to the API datasource from the entity explorer is not possible.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/4b995d7bffbc434e8c20ea8a287410d9-00001.gif)](https://www.loom.com/share/4b995d7bffbc434e8c20ea8a287410d9)

### Ste

[2022-03-21 15:41] Dieken opened #12046 "[Bug]: k8s setup can't enter admin settings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I followed https://github.com/appsmithorg/appsmith/tree/release/deploy/k8s to install appsmith on k8s, my k8s cluster can't connect to Internet, it can only accept connections from Internet.

After I explicitly set `APPSMITH_CLOUD_SERVICES_BASE_URL: http://localhost:1234 ` in https://github.com/ap

[2022-03-21 15:47] sumitsum commented on #12023
Client seems to be making `DELETE` call with the wrong action id. Needs to be investigated further on the client side. cc: @ajinkyakulkarni

[2022-03-21 17:41] felixsuarez0727 commented on #11981
**Update**:

A test was made to verify that another integration could be installed correctly, in this case I tried with Twilio.  And it installs correctly.

The problem could be due to the type of authentication as seen in the first image, Twilio uses Basic Auth and HubSpot uses token. As seen in the second image, the option for token does not seem.

![imagen.png](https://images.zenhubusercontent.

[2022-03-21 17:44] Parthvi12 opened #12047 "[Bug]: On opening Tutorial through open documention in Omnibar, shows page not found."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In omnibar, Open documentation button for tutorial points to documentation with link: "https://docs.appsmith.com/tutorial-1", which shows page not found.

### Steps To Reproduce

1. Go to Omnibar
2. Go to Documentation
3. Click on Tutorial
4. Click on open documentation

### Public Sample App

_No

[2022-03-21 18:05] aswathkk commented on #11065
We decided to have a tooltip available for all the property names for consistency. In that case, a separate focus state is not required.

[2022-03-21 18:15] japrogramer opened #12051 "[Bug]: unable to start nginx, apppsmith_sentry_dsn unknown variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am able to run the appsmith server on localhost but after building the image with `docker buildx build --platform linux/amd64 -t apps:latest . -o type=docker` I get the following error when starting the image.

This error arose after merging from release branch, maybe a merge conflict was not pr

[2022-03-21 18:28] aswathkk opened #12052 "Make the JS toggle button keyboard accessible"
JS Toggle button should be focusable on pressing `tab` key.
We should be able to trigger the js toggle button on focus by pressing `enter` or `space`

[2022-03-21 18:56] abhvsn commented on #11745
@hiteshjoshi this seems to be an issue on client side because I'm getting redirected to
`https://release.app.appsmith.com/applications/{appId}/pages/{pageId}/fork` after the sign up for new user but client is not making a call to actually fork the application
`https://release.app.appsmith.com/api/v1/applications/{sourceAppId}/fork/{destinationOrgId}`

[2022-03-21 19:05] japrogramer commented on #12051
was a merge conflict issue.

[2022-03-21 19:05] #12051 closed

[2022-03-21 19:27] abhvsn opened #12054 "[Bug]: Add check for ssh url validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Current validation for ssh get url is not sufficient for all the edgecases, more discussion can be found https://theappsmith.slack.com/archives/CGALMH6MT/p1647846338879989

### Steps To Reproduce

https://github.com/appsmithorg/appsmith/pull/12004

### Public Sample App

_No response_

### Version

[2022-03-21 19:38] japrogramer opened #12055 "[Bug]: 415 UNSUPPORTED_MEDIA_TYPE queries dont run on datasoursces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]

### Steps To Reproduce

1. have existing apps
2. merge release
3. launch or edit app and run query

### Public Sample App

_No response_

### Version

self hosted/ release branch

[2022-03-21 23:47] felixsuarez0727 commented on #11981
@AmanAgarwal041, I just added you to the organization. Any input will be appreciated.

[2022-03-22 02:31] arunvjn commented on #12047
Closing this since it is a duplicate of #11953

[2022-03-22 02:31] #12047 closed

[2022-03-22 04:10] japrogramer opened #12056 "[Bug]: logoutAllSessions not clearing sessions from redis server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I noticed the new function that is intended to delete all sessions when the password is reset.
https://github.com/appsmithorg/appsmith/pull/9955

I decided to try it and have found that the sessions are not removed from the redis server.

I tried calling the function with the users email

[code]

[2022-03-22 04:13] RakshaKShetty opened #12057 "[Bug]: The resource not found error is displayed when a new app is created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The resource not found error is displayed when a new app is created
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/159406640-79661324-022c-4c74-a9e2-327d156ec191.png">

### Steps To Reproduce

1. Add a new org rename it and add a new app
2. Now delete the app

[2022-03-22 04:16] japrogramer commented on #12055
might have resolved this by rebuilding packages, will continue to test and close this issue soon if I don't see it come back

[2022-03-22 04:52] nidhi-nair commented on #12055
Hey @japrogramer! You might be experiencing this because we recently changed the way we run queries. You should be good to go if you're using the latest versions for both client and server code. I'm still going to wait for your response here since you said you'd go ahead and close the issue yourself. :)

[2022-03-22 05:01] rohan-arthur opened #12058 "[Task]: Survey of plugins - testability"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

When I create a datasource, I can see the "Test" button. For some plugins, this test actually establishes a connection to the datasource, and for some, the test merely checks whether mandatory configurations a provided.
The scope of this task is to list down such datasources that support a "full test

[2022-03-22 05:22] jnikhila opened #12059 "[Docs]: Tree Select Widget - Code Snippet"
tree select widget documentation (https://docs.appsmith.com/widget-reference/tree-select) and the map function code snippet there seems to have a missing } brace because of which it throws an error when we try to paste the snippet in the widget 'options'

[code]
The return statement misses the closing brace }

[2022-03-22 05:29] jnikhila commented on #12059
Updated the code snippet.

[2022-03-22 05:32] jnikhila commented on #12059
Issue Fix confirmed by Vidushi.

[2022-03-22 05:32] #12059 closed

[2022-03-22 05:40] aakashDesign opened #12060 "[Feature]: Add Submenu to entity explorer to create new query/js"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

# Introduction

- We redesigned the Explorer to enable one-click creation of files. Now users can click on (+) icon next to Query/JS to create any type of file.
- Upon clicking the plus (+) icon, the omnibar asks users to choose a file type. The file type could be an API or JS, or a query on a particu

[2022-03-22 05:54] wmdev0808 commented on #11844
@somangshu,
 I think the issue has already been fixed by the PR at https://app.zenhub.com/workspace/o/appsmithorg/appsmith/issues/10600.
Could you please check that PR if it is actually fixing the issue?
After that, if this issue is not covered by that PR, please be more specific with the requirements about this PR

[2022-03-22 05:56] nidhi-nair opened #12061 "[Bug]: Google sheets where clause fails when individual row datatypes are not the same as the first row"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a Google sheet column is recognized as a String, and a subsequent condition value is parsed as a different datatype, the where clause ignores that condition entirely. We should account for expanding the parsed data type in a more forgiving way. For example, if the column is identified as a St

[2022-03-22 06:03] Parthvi12 opened #12063 "[Bug]: SSL error when connecting to MySQL from TED image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Docker commands for ted:

[code]

Here's the repository link : https://github.com/appsmithorg/TestEventDriver

[2022-03-22 06:09] somangshu commented on #3369
### Actionable
- [ ] Migrations changes are not yet tested - is dependent on:
    - [ ] @keyurparalkar will finish working on the pending use cases by Wed EOD
    - [ ] @vivekverma2312 @shwetha-ramesh will get a test plan around testing migrations on older apps
- [ ] JSON form is a dependency on the theming EPIC and needs to be changed accordingly by @ashit-rath - is dependent on:
     - [ ] some

[2022-03-22 06:14] ankitakinger opened #12064 "[Task]: Add new test cases for changes applied using Admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Jest tests for new fields added
- [ ] Cypress tests for scenarios not yet added on Admin settings page
- [ ] Cypress tests for Admin settings integration with Login/Signup screen

[2022-03-22 06:18] somangshu commented on #7554
The original Issue stated a UX that was probably perceived wrongly. We should do the following
- [ ] The tooltip should be visible on the button upon hover even if the button is disabled.
- [ ] The tooltip should not be visible if the cursor is not focusing on the button.

@techbhavin keeping this in the product backlog, Will bring it up in the project catchup

cc @Nikhil-Nandagopal @dilippitchika

[2022-03-22 06:24] abhvsn opened #12065 "[Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-22 06:32] dilippitchika commented on #12020
@somangshu we did not discuss this i think, @Tooluloope correct me if am wrong.
We discussed all these cases, but did not prioritise the order of the cases.

This is a prioritisation issue, basically we should check the options first and if it's not there in the options then we should show the value.

Can we please discuss this and move ahead @Tooluloope?

[2022-03-22 06:33] dilippitchika commented on #11902
Priority issues for me, which should be picked up right now (outside of this epic)
1.  https://github.com/appsmithorg/appsmith/issues/11849 - Raised by community and very annoying experience
2. https://github.com/appsmithorg/appsmith/issues/11485 - Same issue as #11849 happening in tabs
3. https://github.com/appsmithorg/appsmith/issues/12020 - Default value should first search in the options.

Loo

[2022-03-22 06:36] hiteshjoshi commented on #11709
- [ ] Handle failure cases needs brainstorming

[2022-03-22 06:37] rohitagarwal88 opened #12066 "[Task]: Update react-scripts to 5.0.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-22 06:38] hiteshjoshi opened #12067 "[ Task ] Git sync failure cases"
Failure cases yet to be discussed.

[2022-03-22 06:40] hiteshjoshi opened #12068 "[Epic]: Git v2"

[2022-03-22 06:40] prapullac opened #12069 "[Bug]: User is unable to navigate to API authentication page from Entity explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user is on the canvas and tries to navigate to Authenticated API the user is unable to navigate to the respective page.
However, when a user tries to navigate from other data sources user is able to navigate to Authenticated API

Expectation :
It is expected the user is navigated to Authe

[2022-03-22 06:43] #11562 closed

[2022-03-22 06:45] sharat87 opened #12070 "[Task]: ci: Add workflow to deploy a new version of Helm charts, whenever there's a change in Helm chart templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-22 06:49] prapullac commented on #12069
Video Link :
https://www.loom.com/share/4d0dcf8df33a4d749b130ec162abf110

[2022-03-22 06:52] #10880 closed

[2022-03-22 06:52] hiteshjoshi commented on #11269
Closing this since we are done with first iteration of licensing.

[2022-03-22 06:52] #11269 closed

[2022-03-22 06:53] sum35h commented on #11253
It is working fine now. No issues.

[2022-03-22 06:54] ramsaptami commented on #11253
Closing this for now since it's working fine.

[2022-03-22 06:54] #11253 closed

[2022-03-22 06:54] Nikhil-Nandagopal commented on #12046
@Dieken thank you for reporting this!

@sharat87 @sub1983 can we have a look?

[2022-03-22 06:55] AnaghHegde commented on #11223
Issues covered part of this
- #11651
- #11541

[2022-03-22 07:01] AnaghHegde commented on #11615
@abhvsn Can we auto commit and push the app on the connect CTA? This would be a better approach to avoid edge cases like this?

[2022-03-22 07:04] shwetha-ramesh opened #12073 "[Bug]: Document viewer widget looks different in Edge browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Document viewer widget looks different in Edge browser

![image](https://user-images.githubusercontent.com/92293815/159425517-13cf0e10-5dc3-4ed4-a520-12330744b674.png)

### Steps To Reproduce

1. Open release in Edge
2. Drag and drop document viewer widget

### Public Sample App

_No response_

##

[2022-03-22 07:07] hiteshjoshi commented on #11782
@debsourabh to come back with iterations/decision.

[2022-03-22 07:11] hiteshjoshi commented on #11272
@vuiets @Debsourabh to post update with updated designs.

[2022-03-22 07:13] hiteshjoshi opened #12074 "[Feature]: Provide option to delete branch with in the Application | FE"
BE issue #11272

[2022-03-22 07:13] #11272 closed

[2022-03-22 07:18] prapullac opened #12075 "[Bug]: Inappropriate confirmation message is displayed when user wants to delete the Datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user tries to delete the data source it is observed that the user is displayed with an inappropriate confirmation message stating to confirm if the user wants to run the datasource

Expectation :
User must be displayed with a confirmation message stating "Are you sure you want to delete t

[2022-03-22 07:20] yaldram commented on #12066
At this point in time craco does not support react-scripts version 5 (cra-5)
- https://github.com/gsoft-inc/craco/issues/399
- https://github.com/gsoft-inc/craco/issues/378

[2022-03-22 07:22] hiteshjoshi commented on #11266
@AnaghHegde to close discussion with @rahulramesha

[2022-03-22 07:27] hiteshjoshi opened #12076 "[Task] UI messages for git sync / git import."
Need messages and language correction changes for the UI on migration changes etc.

[2022-03-22 07:48] wmdev0808 opened #12078 "[Bug]: Switch group widget is crashed when selectedValues is undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When `selectedValues` is `undefined`, the app is crashed

### Steps To Reproduce

1. Drop both of switch group widget and checkbox group widget on the canvas.
2. Let the checkbox group widget throw cyclic dependency error by passing a evaluation expression for an option value and clicking on JS to

[2022-03-22 07:50] riodeuno commented on #12066
@yaldram I was wondering if we can consider what we're using craco for, and see if there are ways around it. Either by removing CRACO or by using a different CRA webpack modification library.

[2022-03-22 07:54] trishaanand opened #12079 "[Task] OAuth integration with keycloak to admin-cli"

[2022-03-22 07:56] trishaanand opened #12080 "[Task] First time configuration of keycloak to be prepared for saml idp"
First time configuration of keycloak
    - Set up client for integrating with keycloak for admin via APIs
    - Set up appsmith realm with persistence

[2022-03-22 07:56] prapullac commented on #12069
Duplicate issue

[2022-03-22 07:56] #12069 closed

[2022-03-22 07:57] trishaanand opened #12081 "[Task] Add SAML idP via XML metadata URL"

[2022-03-22 07:57] trishaanand opened #12082 "[Task] Add SAML idP via XML directly"

[2022-03-22 07:58] trishaanand opened #12083 "[Task] Add SAML idP by manual configuration of all the required fields in a form"

[2022-03-22 07:59] #10028 closed

[2022-03-22 08:02] RakshaKShetty opened #12084 "[Bug]: The application breaks when user authorize airtable in git import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The application breaks when user authorize airtable in git import
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/159434615-920949d0-3682-4cd8-a4d8-797cd4eab5c9.png">

### Steps To Reproduce

1. Import an application which as a airtable datasource
2. Inside th

[2022-03-22 08:11] yaldram commented on #12066
@riodeuno we are using craco for overriding the CRA webpack configuration.

[2022-03-22 08:17] ramsaptami opened #12086 "[Bug]: Google Sheet column name with a space shows up as an unexpected identifier error when bound"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Widget binding using a Google Sheet column name that has a space throws an `unexpected identifier` error. The data is rendered correctly on a **table widget** which reads spaces on column names but other widgets like list/select do not recognize the space even though autocomplete suggestion contai

[2022-03-22 08:20] riodeuno commented on #12066
@yaldram Yes. I was wondering if we can look into which configurations we are overriding, and whether they can now natively be done in CRA5, or we can use an alternative to CRACO for this which supports CRA5.

[2022-03-22 08:39] chandannkumar opened #12087 "[Bug]: Camera is not getting reset when using Reset Widget option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/f6dd769d72ca4d64aeea1fc0e9d576af

### Steps To Reproduce

1. Add camera widget to canvas
2. Add a Button widget onto canvas
3. Add **{{resetWidget("Camera1",true)}}** to onClick Event in property pane
4. Now click on Button widget to reset the camera widget
5. Observe th

[2022-03-22 08:40] Dieken commented on #12046
The connection error is annoying but it's probably not the cause.   I find another error in the log:

[code]

[2022-03-22 08:48] chandannkumar opened #12088 "[Bug]: Toggle buttons behavior on widget rename"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/bfc97f33cbbd4b98bb4e0235dbc89007

### Steps To Reproduce

1. Add any widget which have toggle button
2. Rename the widget name
3. Click on any toggle button and observe the flicker in toggle button

### Public Sample App

_No response_

### Version

Cloud/ Production

[2022-03-22 08:55] Nikhil-Nandagopal opened #12090 "Setup on AWS CDK"

[2022-03-22 08:55] Nikhil-Nandagopal opened #12091 "Setup on AWS CDK"

[2022-03-22 08:55] Nikhil-Nandagopal opened #12092 "[Bug]: SMTP datasource duplication on application fork"

[2022-03-22 08:55] Nikhil-Nandagopal opened #12093 "[Bug]: SMTP datasource duplication on application fork"

[2022-03-22 08:59] RakshaKShetty opened #12094 "[Bug]-[86]:The disconnect from git-flow is broken in the release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The disconnect from git-flow is broken in the release
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/159444072-1561255f-7739-450b-afce-1ccc3b1ee341.png">

### Steps To Reproduce

1. connect the application to git
2.Now click on setting icon on the bottom bar

[2022-03-22 08:59] abhvsn commented on #11615
We have moved away from this as it was taking somewhere around 12-15sec, but let us explore other ways to tackle if not we can come back to the solution you have mentioned

[2022-03-22 09:06] Dieken commented on #12046
After manually touch a file at `/appsmith-stacks/configuration/docker.env`,  the admin settings page normally show with default configuration. So in k8s deployment  the admin settings is actually useless because all settings are in environment variables.

[2022-03-22 09:10] autocode-app[bot] opened #12096 "Docs for undefined"

[2022-03-22 09:11] #12096 closed

[2022-03-22 09:13] autocode-app[bot] opened #12097 "Docs for [Bug]: Promises don't work unless returned from a function body"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/9782

[2022-03-22 09:14] autocode-app[bot] opened #12098 "Docs for [Bug]: Promises don't work unless returned from a function body"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/9782

[2022-03-22 09:14] autocode-app[bot] opened #12100 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:14] autocode-app[bot] opened #12101 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:14] autocode-app[bot] opened #12102 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:14] autocode-app[bot] opened #12103 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:14] autocode-app[bot] opened #12104 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:14] autocode-app[bot] opened #12105 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:14] autocode-app[bot] opened #12107 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:14] autocode-app[bot] opened #12108 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:14] autocode-app[bot] opened #12109 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:14] autocode-app[bot] opened #12110 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:14] autocode-app[bot] opened #12111 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:14] autocode-app[bot] opened #12112 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:14] autocode-app[bot] opened #12113 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:15] autocode-app[bot] opened #12114 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:15] autocode-app[bot] opened #12115 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:15] autocode-app[bot] opened #12116 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:15] autocode-app[bot] opened #12117 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:15] autocode-app[bot] opened #12118 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:15] autocode-app[bot] opened #12119 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:15] autocode-app[bot] opened #12120 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:15] autocode-app[bot] opened #12121 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:15] autocode-app[bot] opened #12122 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:15] autocode-app[bot] opened #12125 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:15] autocode-app[bot] opened #12126 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:15] autocode-app[bot] opened #12127 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:15] autocode-app[bot] opened #12128 "Docs for [Task]: Add auto-update and manual-update as a seperate fields to distinguish if the migration took place in between the commits"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12065

[2022-03-22 09:15] autocode-app[bot] opened #12129 "Docs for feat: Add manual and auto update fields within application object to distinguish between the migration related changes"
##Issue Link
  https://github.com/appsmithorg/appsmith/issues/12099

[2022-03-22 09:26] sharat87 commented on #12063
The issue here is that connecting to MySQL from the TED image doesn't work, and throws an SSL error _sporadically_. Disabling SSL also doesn't help.

Currently on-hold since MySQL doesn't seem to be coming up in the latest TED image which @Parthvi12 is looking into. Once that is running, I'll investigate the original issue again.

[2022-03-22 09:28] aswathkk opened #12130 "[Bug]: Content gets trimmed on Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The hyper link content inside a table cell is truncated.
<img width="749" alt="Screenshot 2022-03-22 at 1 05 27 PM" src="https://user-images.githubusercontent.com/10436935/159430778-8c817744-bdce-4ec9-bfe0-3e1085e0a8c1.png">

### Steps To Reproduce

1. Add a table widget
2. Change one column to be

[2022-03-22 09:31] autocode-app[bot] opened #12131 "Docs for [Bug]: Promises don't work unless returned from a function body"
## Issue Link
    https://github.com/appsmithorg/appsmith/issues/9782

[2022-03-22 09:33] autocode-app[bot] opened #12132 "Docs for [Bug]: Promises don't work unless returned from a function body"
## Issue Link
${request.github_url}

[2022-03-22 09:35] autocode-app[bot] opened #12133 "Docs for [Bug]: Promises don't work unless returned from a function body"
## Issue Link
https://github.com/appsmithorg/appsmith/issues/9782

[2022-03-22 09:39] ramsaptami opened #12135 "[Bug]: Evaluation error on a child widget does not clear from debugger when undoing action and only clears after a hard reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there's an evaluation error on a child widget of a list widget, then an undo action (Ctrl+Z) does not clear the evaluation error from either the debugger or the widget and only clears when the page is refreshed.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3681bd9b715141fbb0a5c8a253

[2022-03-22 09:41] sumitsum commented on #11385
I have not been able to reproduce the import related issue on either my local setup or release or prod. I have asked Satish to check and revert back if the issue still persists.
Regarding the class cast exception - it occurs only when compiled / built using IntelliJ - it is not related to the actual issue reported by Satish, hence I will look into it separately.

[2022-03-22 09:46] riodeuno commented on #9601
@RakshaKShetty @dilippitchika This shouldn't be an issue anymore, with #10886 merged. Can we revisit and close this issue if we won't be tackling it?

[2022-03-22 10:17] ohansFavour commented on #12135
The problem here is that the `List Widget`'s template object doesn't get updated when a child widget is removed from it. Hence, errors still get persisted.

cc: @somangshu

[2022-03-22 10:45] shwetha-ramesh commented on #11533
@jsartisan @keyurparalkar
29. Click on Save Theme, don’t give any name keep it blank click on Save theme button – see “Classic Copy” get saved. Repeat the same step – and see “Classic copy” saved again
![image](https://user-images.githubusercontent.com/92293815/159464556-5e171f42-2edc-4445-816c-7292fe22a00f.png)

30. Button group widget for vertical alignment is wrong in DP when more buttons are a

[2022-03-22 10:46] rohan-arthur commented on #11761
tested, looks good to go. Great work Ade!

[2022-03-22 10:47] abhvsn opened #12137 "[Feature]: Enable access token access for git-sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, we are offering only ssh protocol for communicating to the remote repo. User on intercom reported usage of ssh protocol is prohibited as per their corporate policy:
`our corporate policy does not allow gitlab access to be shared using ssh. gitlab has support for access tokens or project tok

[2022-03-22 10:54] sharat87 commented on #11787
Fixed for Redis, but logs of NGINX aren't showing up.

[2022-03-22 11:24] ramsaptami opened #12140 "[Bug]: Copying a copy of a query causes incorrect behaviour on the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Duplicating a query and then duplicating this duplicate query causes queries with the same name to be created on entity explorer. Deleting one query deletes both and displays a resource not found text to the user.

1.
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b0ede57029c645979a43224470

[2022-03-22 11:27] ramsaptami commented on #12023
Found another issue on the same line for copying of queries #12140

[2022-03-22 11:36] ramsaptami opened #12142 "[Bug]: Latent behaviour of first confirmation modal at the end of onPage actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When multiple queries/objects are run on page load and confirmation modal pops up, observe that the first confirmation modal shows up again at the end of all the onPageLoad actions

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7f5c93f919b149ab859a11e2233651b6-00001.gif)](https://www.loom.

[2022-03-22 11:56] #12033 closed

[2022-03-22 11:59] YogeshJayaseelan opened #12143 "[Bug]: MultiSelect Widget binded with text widget using SelectedOptionLable it shows the selectedOptionValues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is observed that when an multiselect widget is binded with text widget using selectedOptionLabels the text widget shows the selected option value instead of label

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/18502f043d7843cf85cd627e8da102d1-00001.gif)](https://www.loom.com/share/18502

[2022-03-22 12:04] nidhi-nair opened #12144 "[Bug]: Disable run button in query editor page after having run the query once."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the run button has been clicked once, the button shows disabled state, but it is still clickable. As a result, we can click as many times as we want on the Run button, and have different execute requests sent for each one. We should disable the button till we come back with a response.

### S

[2022-03-22 12:36] frankremedy commented on #10096
I am curious - how are you using budibase if it doesn't have a native Oracle connection?

[2022-03-22 12:39] frankremedy commented on #10096
I will upvote as well for this feature.  I am wanting to go down the Appsmith route but as we don't have true developers other than myself, working on FDW or API is cumbersome and have to be contracted out.  I have _thought_ about moving to Retool but don't want to spend on a toolset when we are trying to get adoption.

[2022-03-22 14:20] Parthvi12 commented on #11031
@arunvjn  This has been tested and verified.

[2022-03-22 15:24] nayan-rafiq opened #12146 "[Feature]: Improve the UX with datasources when editing an API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When I'm on the API editor page, list of datasources and connections are shown on right.
It's not clear what I need to do with these two lists. If I click on a datasource from the list, a green label appears saying "In use". It also changes the base URL I was working on and there is no way to undo thi

[2022-03-22 15:54] felixsuarez0727 opened #12148 "[Improvement] Implement Github branching for SaaS Integreations Manager App"
This will allow us to:

- Use a development database for `development` and keep the production DB for `master`.
- Test plugins separately.

[2022-03-22 15:58] felixsuarez0727 opened #12149 "[Feature]: Update plugin objects manually and directly through SaaS Integrations App"
This will provide flexibility to change the plugin definition object for troubleshooting and quick integration development.

It will also improve our ability to test integrations.

[2022-03-22 16:49] #12093 closed

[2022-03-22 16:49] #12090 closed

[2022-03-22 16:53] Nikhil-Nandagopal commented on #12146
@nayan-rafiq thanks for the inputs!

[2022-03-22 17:04] yaldram commented on #12066
@riodeuno sure will look for other alternatives.

[2022-03-22 18:12] felixsuarez0727 opened #12151 "[Feature] HubSpot Settings API Saas Integration"
HubSpot Settings API Saas Integration

### Description:

This API can be used to manage the users on an account and manage the roles of those users.

------------------------
### Documentation:

https://developers.hubspot.com/docs/api/settings/user-provisioning

------------------------
### TO-DO

------------------------
### API Actions Progress

| Action                           | EngSpec Doc |

[2022-03-22 18:13] Parthvi12 opened #12152 "Add Cypress tests for Omnibar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-22 22:41] funge opened #12153 "[Feature]: Add support for Clickhouse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add support for [Clickhouse](https://clickhouse.com/) as a data source.

### Why should this be worked on?

ClickHouse is growing in [popularity](https://clickhouse.com/use-cases/) and is already used by companies like Uber, EBay, Spotify and Cloudflare. It supports best in the industry query performa

[2022-03-22 23:48] japrogramer commented on #12055
@nidhi-nair I was able to query one of my datasources, but not in others.
When I try to add a document to a query here is what I get.

[code]

[2022-03-23 01:14] rohan-arthur commented on #11904
May be related #6114

[2022-03-23 03:12] vuiets commented on #12024
@ramsaptami this looks like a duplicate of [#11499 | Commenting on canvas is broken](https://github.com/appsmithorg/appsmith/issues/11499).

[2022-03-23 03:15] IAmAnubhavSaini commented on #12094
I am not able to reproduce the issue.

https://user-images.githubusercontent.com/1573771/159616709-c5f9a82f-a39e-440e-87d8-05121acd6f16.mov

[2022-03-23 03:16] japrogramer commented on #12056
@sharat87 I looked closer at the implementation and it seems I was forgetting to assign a scheduler and to subscribe to it

[code]

[2022-03-23 03:16] #12056 closed

[2022-03-23 03:20] vuiets commented on #4645
@aswathkk tagging you here because as we discussed this in the weekly. Look like the addition of tooltips for all properties in the property pane will be covered as a part of the `Property Pane Reorganization` epic.

[2022-03-23 03:33] #12041 closed

[2022-03-23 03:37] vuiets commented on #6194
@aswathkk looks like this is fixed [blueprint's component](https://github.com/palantir/blueprint/pull/5080) now. Could you double check and cover it as a part of [#8845 | Property Pane Improvements](https://github.com/appsmithorg/appsmith/issues/8845)?

[2022-03-23 03:40] vuiets commented on #8845
@aswathkk we could remove from the scope of this project and cover it as a part of the `Property Pane Reorganization` Epic

[#4645 | Add tooltips consistently in the Property Pane](https://github.com/appsmithorg/appsmith/issues/4645) is to tackle this.

[2022-03-23 04:01] vuiets commented on #8292
@SatishGandham is this still prevalent?

[2022-03-23 04:10] sum35h commented on #11720
`docker.env `requires variables `APPSMITH_MONGODB_USER` & `APPSMITH_MONGODB_PASSWORD` to be set (which are renamed from MONGO_INITDB_ROOT_USERNAME & MONGO_INITDB_ROOT_PASSWORD)

[2022-03-23 04:10] vuiets commented on #3826
Closing this as it is a duplicate of [#8415](https://github.com/appsmithorg/appsmith/issues/8415).

[2022-03-23 04:10] #3826 closed

[2022-03-23 04:11] #11720 closed

[2022-03-23 04:19] SatishGandham commented on #11760
@Rishabh-Rathod , There is a new modal that is added after import to update the data source credentials.

Can you handle it as a part of app import.

[2022-03-23 04:20] vuiets commented on #5150
@rahulramesha could you ensure that we tackle [#9646 | Grouping widget causes newly formed container to shift to the bottom of the page](https://github.com/appsmithorg/appsmith/issues/9646) as a part of this project.

[2022-03-23 04:30] ramsaptami commented on #12024
CLosing this in that case, thanks @vuiets

[2022-03-23 04:30] #12024 closed

[2022-03-23 04:34] vuiets commented on #10163
@riodeuno @rahulramesha is this something we'll be able to cover as part of the `Dynamic Height` or  `Copy Paste Improvements` project?

[2022-03-23 04:46] IAmAnubhavSaini commented on #12094
@RakshaKShetty Design is new. @Debsourabh has provided newer designs for Revoke and RepoLimitReached.

Checkout this task: https://github.com/appsmithorg/appsmith/issues/11750

Here are images of new design:

![](https://user-images.githubusercontent.com/1573771/157738662-a624fd91-eed3-4d6f-bf76-6b95c99bfa83.png)

![](https://user-images.githubusercontent.com/1573771/157738668-6ed67369-2343-450c-b

[2022-03-23 05:07] riodeuno commented on #10163
@vuiets This seems like a bug with grouping. I have seen this in the Form widget as well. We should pick this up as a bug fix. @jsartisan Could you help triage this as this seems related to the grouping feature.

[2022-03-23 05:19] IAmAnubhavSaini commented on #12094
Reopening because old apps cannot revoke.

[2022-03-23 05:33] #11761 closed

[2022-03-23 05:33] #12023 closed

[2022-03-23 05:33] #12140 closed

[2022-03-23 05:38] #11999 closed

[2022-03-23 05:38] #12035 closed

[2022-03-23 05:45] IAmAnubhavSaini opened #12154 "[Task]: Remove or redesign dual errors on merge conflict case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Continuing from #11750

![](https://user-images.githubusercontent.com/217911/156349385-d71dcc89-8201-4472-b401-da9dcbded24f.jpeg)

[2022-03-23 06:13] Tooluloope commented on #11203
@wmdev0808 Would you be able to triage this issue?

[2022-03-23 06:29] arunvjn opened #12155 "[Bug]: Hide generate page button for unsupported datasources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We should not show the generate page button if a DB does not qualify for generate page eg. API datasource.
Generate Page text and description the bottom needs to be deleted

### Steps To Reproduce

1. Click on + Datasource from Entity explorer.
2. Add a rest API datasource.
3. Observe the disabled

[2022-03-23 06:39] Nikhil-Nandagopal commented on #10531
@delightfuldude thanks! We'll keep an eye out for more requests. In the meantime, it seems these APIs should work with our REST API datasource. Have you tried that?

[2022-03-23 06:59] vuiets commented on #12154
Hey just double checking to confirm that we are removing the info icon and ensuring that the font weight is from the Design System for the error message under the select dropdown over here.

[2022-03-23 07:00] nayan-rafiq opened #12157 "[Feature]-[1000]:Improvements to column visibility panel in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When a data source has a lots of properties and we need to show only a few of them - a lot of work needs to be done in configuring table widget. For example, this API https://api.github.com/search/repositories?q=language:java returns a response where each item has lots of attributes. If I need to show

[2022-03-23 07:19] dilippitchika commented on #11624
@vivekverma2312 need some help here, we are able to reproduce this in safari in macbooks but the user reported that this is happening in firefox in a different OS.

Can we ask someone to check this across browsers and OS and help us with a report before we start triaging this?

[2022-03-23 07:23] rashmi-rai opened #12158 "[Bug]: Margin issues in Forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- The spacing between the label and the tooltip seems to be wrong.
- The spacing between the helper text and the Switch To GUI Editor seems off.
- We are still using the older icon for tooltip, we have revised the icon with the new design system.
- Add the line number in the JSON editor as well.
-

[2022-03-23 07:23] dilippitchika commented on #4354
@jsartisan I am moving this to icebox and removing out of the sprint. I will add this to widget reskinning epic.

[2022-03-23 07:25] somangshu commented on #10332
The CheckboxGroupWidget should ideally show an undefined variable linting error and not a cyclic dependency error. I've shared this with the team members, let's see what the root cause here is.

cc @ajinkyakulkarni @eco-monk

[2022-03-23 07:26] dilippitchika commented on #10851
@Tooluloope is there a reason for marking this high priority?

[2022-03-23 07:27] rashmi-rai opened #12159 "[Task]: Add theming in Forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add theme support in Form components

[2022-03-23 07:37] Tooluloope commented on #10851
@dilippitchika This should be a mistake

[2022-03-23 07:39] somangshu commented on #11524
@Nikhil-Nandagopal apologies, I reverted you changes, I need this for better tracking

[2022-03-23 07:44] Tooluloope commented on #7554
@somangshu I don't think the tooltip should be visible if the button is disabled

[2022-03-23 07:45] dilippitchika opened #12161 "[Bug]: Popover in Multi select widget inside modals breaks away from the widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i add a multi-select inside a modal with options exceeding the height to see a scroll. After reaching the end of the scroll the multi-select popover breaks away from the modal.

https://www.loom.com/share/91731e936021422db79eb97602f52bbc

### Steps To Reproduce

1. Create an app and make sure

[2022-03-23 07:48] somangshu commented on #11524
## Actionable:
- [ ] @arunvjn is working on clean URLs this week
    - [ ] Once 👆 is complete he will pick up #11553 in the current sprint
    - [ ] @nayan-rafiq can contribute to #11539 since that change in on the backend, We will need to find bandwidth for this.
- [ ] @arunvjn will update #11538 as clean URL will bring form calls to parallel which gives us a few seconds improvement 🎉
- [ ] @ashi

[2022-03-23 07:50] btsgh commented on #11839
Tried this bug on Production environment and I was able to reproduce it still.  Release environment, and this is what happens

[2022-03-23 07:54] btsgh commented on #11839
1. Tried this bug on Production environment - Was able to reproduce the issue.
2. Tried it on release environment - An error comes up to the effect - "This value must be a number" (View attached screenshot)

<img width="858" alt="Bug11839_StagingEnv" src="https://user-images.githubusercontent.com/101863839/159649778-6c281587-b11f-4ff3-af4f-fac583a7f922.png">

@sbalaji1192 @dilippitchika

[2022-03-23 07:55] rashmi-rai commented on #11187
Action API is not returning correct response here, `dynamicBindingPathList` is missing.

[2022-03-23 08:09] sbalaji1192 commented on #11839
@btsgh
WRT,
-1, it is expected. This change has not been promoted to master.
-2, @dilippitchika do we need to allow null value and treat it as empty?

[2022-03-23 08:14] techbhavin commented on #11474
@somangshu  @dilippitchika needs PRD of this issue so we can understand what is expected output we want?

**Current Observation**
- when we add text with URL, the text widget is left or Right align then the link is not truncated instead of it will show in a horizontal scroll.

[2022-03-23 08:15] Aishwarya-U-R opened #12162 "[Bug]: Mongo - Generate CRUD is failing with No Data displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<a href="https://www.loom.com/share/d72b8424d809452e8e53e9ae13931cce">
    <img style="max-width:300px;" src="https://cdn.loom.com/sessions/thumbnails/d72b8424d809452e8e53e9ae13931cce-with-play.gif">
  </a>

### Steps To Reproduce

1. Connect to a Mongo Data source
2. Verify the collections has da

[2022-03-23 08:27] AnaghHegde commented on #12029
@shwetha-ramesh Is this a release blocker?

[2022-03-23 08:29] RakshaKShetty opened #12163 "[Bug]: The google sheet authentication is failing in the import flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The google auth is failing in the import flow

### Steps To Reproduce

1. Import the application which has the google auth
2. now in the reconnect Datasource modal
3. Authorize the google auth
4. It says authorize is successful
5. Now once the user navigates to the application
6. the google auth a

[2022-03-23 08:30] sharat87 commented on #12046
Hey @Dieken, Appsmith today needs to access cs.appsmith.com to function correctly. There's a few features in the product that will either not work at all, or fail in subtle ways when it's not able to connect to cs.appsmith.com. Would it be possible to whitelist just this domain so that your Appsmith instance can indeed talk to cs.appsmith.com?

Reg. missing `docker.env` file, that file should've b

[2022-03-23 08:38] shwetha-ramesh commented on #12029
Had tagged it HIGH @AnaghHegde

[2022-03-23 08:51] IAmAnubhavSaini opened #12164 "[Bug]: Revoke (disconnect) button can be clicked multiple times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

(Abhijeet found this issue)

When a user try to revoke (disconnect git) by clicking on revoke button, user is able to click the button multiple times.

What should happen:
- User should not be able to click Revoke button multiple times.
- User should see a progress bar for revoke action, on succes

[2022-03-23 08:59] btsgh commented on #11833
Discussed with Raksha, found the issue to be fixed in Production environment. Browser Tested on - Chrome 

[2022-03-23 08:59] btsgh commented on #11833
Discussed with @RakshaKShetty, found the issue to be fixed in Production environment. Browser Tested on - Chrome .

[2022-03-23 09:14] abhvsn commented on #12094
Able to replicate this issue with the following steps on release but not on my local:

1. Create an empty app
2. Connect app to empty repo
3. Revoke access
4. Delete all the files on remote except for the .md or only keep the supported files like LICENSE, yml etc
5. Connect the app again to the same repo
6. Try to revoke the access now, this fails with 504 Gateway Timeout

I think steps 4 and 5 ar

[2022-03-23 09:25] Nikhil-Nandagopal commented on #12055
@japrogramer Can you please reproduce this on appsmith.com and add us to your application?

[2022-03-23 09:40] rohan-arthur commented on #11542
will become irrelevant with #9979 - if we decide that we are ok with variables not being reactive.

[2022-03-23 09:47] hiteshjoshi commented on #9740
Yeah, closing this. This is most probably bad html request for JS.

[2022-03-23 09:51] #12030 closed

[2022-03-23 10:07] dilippitchika commented on #10280
Closing this to track it in #11203

[2022-03-23 10:17] ramsaptami opened #12166 "[Bug]: Remove function names not present on code anymore from appearing on settings tab of the editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, when an object is cleared from the editor, relevant async functions are still present on **settings tab** and available for user to make changes. Though these changes don't amount to anything, it would be better UX if these function names were cleared from settings as soon as correspond

[2022-03-23 10:30] somangshu opened #12167 "switch widget gets a cyclic dependency error"
We are seeing a cyclic dependency error in the switch widget which might be something to do with the evaluation, As per the recommendation this issue is been separated from the main issue which is now fixed in the ref

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d19df25d3dab4895af00300ad42133b4-00001.gif)](https://www.loom.com/share/d19df25d3dab4895af00300ad42133b4)

_Originally posted b

[2022-03-23 10:37] somangshu commented on #11474
I also want to try and understand what is this important to solve?

[2022-03-23 10:39] somangshu commented on #7554
Why do you say so, the user might want to show steps to make the button enabled, this is a valid use case @Tooluloope

[2022-03-23 10:41] nayan-rafiq opened #12168 "[Bug]: Inconsistent label in connections tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The "Connect Widget" and "Add new widget" should have the word "widget" in same format - either both of them should be in lowercase or uppercase.
![Uploading Screenshot 2022-03-23 at 4.37.57 PM.png…]()

### Steps To Reproduce

1. Add a new API
2. Click on the right panel
3. Click on the connection

[2022-03-23 10:44] somangshu commented on #4354
@dilippitchika in that case this should be merged into theming and have any changes that are needed, I suggest it gets reviewed and shipped with theming, is there any other blocker or a reson we pick this up in widget reskinning ?

cc @jsartisan do you think that might be a challange?

[2022-03-23 10:46] Tooluloope commented on #7554
True, I just tried the default HTML behavior and it works as you mentioned
https://codepen.io/Ysaalexis20/pen/MWrbodw

[2022-03-23 10:52] dilippitchika commented on #11474
@techbhavin @somangshu the problem is that it should either be completely left aligned or completely right aligned.

In the image shared above the widget has property text align set to right but the right alignment is not working here as the other text doesn't align with the URL on the right end. Why do we need a PRD here?

[2022-03-23 10:53] dilippitchika commented on #11203
@wmdev0808 can you leave a note on what is the proposed change you need to do to support this as well?

[2022-03-23 10:54] sharat87 opened #12169 "[Feature]: Custom external error reporting for apps built on Appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When an app is built on Appsmith and deployed, and if it generates any errors for users of that app, it'd be nice to get reports of such errors. Such reports could be by sending the error information to a system like Sentry, or an internal dashboard where Appsmith itself keeps track of errors reports

[2022-03-23 10:55] dilippitchika commented on #4354
My bad i added this in theming epic but wrote widget reskinning in the above comment. Unless Pawan raises any concerns it's part of theming

[2022-03-23 10:58] somangshu commented on #11474
I believe its about word wrap, so we need to identify the expected Behavior
- Are we expecting the url to break word? is there any other suggestion

@jsartisan can you suggest what style otherwise could work best here?

[2022-03-23 11:00] somangshu commented on #4354
@wmdev0808 is there a PR for this? I am wondering if we have something to merge into theming and then continue work on that

cc @jsartisan @dilippitchika

[2022-03-23 11:00] dilippitchika commented on #11474
Hey this doesn't need word-wrap because we already have horizontal scroll. Can we connect once?

[2022-03-23 11:03] dilippitchika commented on #4354
Hey @somangshu, i believe @jsartisan closed the PR for this. I already verified the PR and it's working fine.

[2022-03-23 11:05] Aishwarya-U-R opened #12170 "[Enhancement]: Search/Filter ability in Active DataSources with DataSources name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. As the number of data sources increase, finding it difficult to track it down in Active Data sources list

### Steps To Reproduce

1. Create multiple data sources
2. Navigate to Active data sources section
3. The newly created datasource appears at last - user needs to scroll a bit before findi

[2022-03-23 11:12] somangshu commented on #11474
@techbhavin we decided to `word-break: break-all` for the text only when inside the modal. _**Not for the default text component or text in the modal**_

[2022-03-23 11:13] nayan-rafiq opened #12171 "[Bug]-[1750]:No information available is shown under API datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I click on datasource from the left panel, a message appears saying "No information available". It's no clear what information is missing or whether it's a problem or not. It should either be removed or we should show something e.g. base url of the API here.
<img width="354" alt="Screenshot 2

[2022-03-23 11:14] somangshu commented on #4354
Again my question is if we have the code written here is merged in App theming and how are we gonna track the work on it, With the help of this issue?

[2022-03-23 11:16] ankitakinger opened #12172 "[Task]: Improve UX on OIDC Admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Scope field length is not the same as other fields
- Update sub-text for scope
- Add sub-text for username attribute
- Show default values in scope
- openid scope should not have a cross button
- Do not allow users to save the settings if mandatory fields are blank

[2022-03-23 11:16] dilippitchika commented on #4354
I believe the code is not merged in app theming @jsartisan can you confirm?

[2022-03-23 11:22] somangshu commented on #11902
@dilippitchika iin case we want to take this up separately lets create a new issue / epic and address it, Is our goal clear?

[2022-03-23 11:28] somangshu commented on #10037
@yaldram can you now check if you have enough info to proceed with this ?

[2022-03-23 11:35] Tooluloope commented on #11902
#12020 is waiting to be merged.
Gone through QA

[2022-03-23 11:38] yaldram commented on #10037
@somangshu I am planning to start investigating this issue from tomorrow.

[2022-03-23 11:44] vmulholl commented on #9031
Hello, another advantage of pivot tables is simply for the easy of reading through collapsibility and grouping functionality like in Coda tables ([see their grouping functionality](https://help.coda.io/en/articles/773108-grouping-your-table-data)). This avoids table data being repeated row by row, but obviously requires the "values" to be assigned an aggregation calculation (sum, count, average, e

[2022-03-23 11:50] abhvsn commented on #12094
Errors which we are seeing on logDNA:

[2022-03-23 12:02] abhvsn commented on #11927
Discussion with the user who faced this issue: https://discord.com/channels/725602949748752515/953870548868431872

[2022-03-23 12:04] #11793 closed