[2021-11-17 10:39] #9204 closed

[2021-11-17 10:40] somangshu commented on #9204
@YogeshJayaseelan please verify issues before creating, That checkbox in the description is for a reason

[2021-11-17 10:43] Nikhil-Nandagopal commented on #9207
@hetunandu can we add a function to request the location from a user?

[2021-11-17 10:43] #9197 closed

[2021-11-17 10:48] somangshu commented on #9189
@sbalaji1192 is right, We should not allow numbers as widget name, I believe that is a platform level change.

cc @riodeuno

[2021-11-17 10:49] somangshu commented on #9189
Probably should be a high priority issue and not critical. @ajinkyakulkarni ill leave the call to you

[2021-11-17 10:52] akash-codemonk opened #9211 "Cypress tests for guided tour"

[2021-11-17 10:52] hetunandu commented on #9207
Yea this is possible @Nikhil-Nandagopal

[2021-11-17 10:52] somangshu commented on #9190
@marks0351 @jsartisan can you clarify the meaning of the message show in context to the situation. I am a little confused

[2021-11-17 10:55] hetunandu commented on #6217
you could have some if statements to decide if you want to poll the api. You could want to capture some data from some widgets or other responses and pass that as params to the api you are polling. Many things can be possible

[2021-11-17 10:56] somangshu commented on #9188
Good find, But since on blur the issue is rectified ill keep this on low priority

[2021-11-17 10:59] Michael-sr commented on #9116
I am uploading files to the n8n webhook endpoint, but I receive file data that is less than 5MB in size. The rest come with the following data structure: {"data": "blob: ....}.

[2021-11-17 11:01] somangshu commented on #6684
@ramsaptami We are right now working on #8845 that will address all issues with the keyboard navigation inside property pane, It totally skipped my mind, but your inputs will be really valuable here. Please let us know anything you might thing is not included in the [scope](https://app.zenhub.com/workspaces/ui-builders-pod-603e3779daa13d000e3b42be/board?labels=keyboard%20shortcut&epics=275993885_8

[2021-11-17 11:03] riodeuno commented on #9189
@somangshu @sbalaji1192 Yes, numbers should not be the first character in identifiers. It is illegal in JS.
Resolution approach:
- We have functions in place which check for entity name uniqueness. (Explorer/Name.tsx uses this, so does PropertyPaneTitle.tsx)
- We also have sanitiser functions which sanitise the spaces and special characters while entering the entity names (removeSpecialChars is th

[2021-11-17 11:05] somangshu commented on #9109
Greetings @ArnavPuri, thanks for showing interest 🎉 , This issue is more involved and will need somebody from the internal team to look into it.

You can take a look at other `good first issues` to find something interesting to work on

[2021-11-17 11:07] #8591 closed

[2021-11-17 11:10] somangshu commented on #9165
This is a know issue with the popper component.

[2021-11-17 11:10] #9165 closed

[2021-11-17 11:10] Nikhil-Nandagopal commented on #9162
@Rishabh-Rathod lets close if we can't reproduce

[2021-11-17 11:10] #9162 closed

[2021-11-17 11:12] dncpax commented on #5693
Hi there @areyabhishek. Well, honestly, it's not really a very good work around, but it would mitigate the situation a bit, since you could at least read what's there as opposed to now that you can't.

[2021-11-17 11:12] sumitsum commented on #2284
Next Actions:
- @dzhenkov Design for v1
- @AmanAgarwal041 @sumitsum Research:
  - JS Substitution inside query body with quotes / w/o quotes
    - also how the substitution will work with variables section.
   - Relay Pagination
     - Is Relay a backend or frontend library ?
     - Will using Relay library make the experience of writing pagination queries easier for users ?
     - How to use / in

[2021-11-17 11:15] #8999 closed

[2021-11-17 11:19] somangshu commented on #9163
This will be solved with #7361

cc @jsartisan @vivekverma2312

[2021-11-17 11:19] #9163 closed

[2021-11-17 11:25] lahiruelectrily opened #9212 "[Bug]: Image (jpg/png) corrupts when uploading with file picker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we upload a jpg or png file using file picker (size < 10 mb) the file get corrupted.

The file upload file size is different to actual file.

file picker properties ;
![Screenshot 2021-11-17 at 16 52 11](https://user-images.githubusercontent.com/90342635/142192249-7137c64a-f476-42ac-a89c

[2021-11-17 11:26] Nikhil-Nandagopal commented on #9185
@keyurparalkar the recommended way to do this would be to store the reference IDs using storeValue after the setInterval

[2021-11-17 11:30] sumitsum commented on #9042
Next Actions:
- @sumitsum add RACI matrix.
- @ayushpahwa @AmanAgarwal041 Estimate story points for remaining issues.
- We need to come up with a plan to tackle the issues in the next meeting.

[2021-11-17 11:45] Nikhil-Nandagopal commented on #5693
@dncpax one workaround you could use is to use a list instead of a table. This way you can easily define the height of your large content and your users can read it upfront

[2021-11-17 11:46] keyurparalkar commented on #9185
@Nikhil-Nandagopal at start there might be no Intervals available, then `clearInterval` throws an error. Attaching a video which might help

https://user-images.githubusercontent.com/14138515/142194829-ec9a9abb-3ca9-48ce-a867-570172f97e35.mp4

:

[2021-11-17 11:50] GreenFlux commented on #5090
This feature would really simplify the JS needed to access a value from nested objects. I'm currently trying to pull a date value from `order.line_items.properties` and display it on the Order. I can easily parse out the date and display it in a table based on `line_items` but I can't reference that custom column in the parent `orders` table.

[2021-11-17 11:51] hetunandu commented on #9148
@Rishabh-Rathod Not able to reproduce this. One thing i noticed was that you were using `{{appsmith.URI.queryParams}}` instead of `{{appsmith.URL.queryParams}}` and that could be the reason why you were not able to see the params

[2021-11-17 11:52] Nikhil-Nandagopal commented on #9212
@lahiruelectrily are you trying to upload multiple files at the same time? Because if it is a single file then instead of {{Filepicker1.files}} your binding should be {{Filepicker1.files[0]}}

[2021-11-17 11:54] mohanarpit commented on #9212
@Nikhil-Nandagopal We've recently improved the UX here. As a user, I just need to bind `{{ FilePicker1.files }} ` to the API. Appsmith is smart enough to understand if there are multiple files being uploaded or a single file.

@nidhi-nair Can you please confirm this?

[2021-11-17 11:57] Nikhil-Nandagopal commented on #9210
@a-satyateja thank you for the feature request! We'll have a look into this

[2021-11-17 12:04] AmanAgarwal041 commented on #6862
@aakashDesign What should be the design for the hover ?

[2021-11-17 12:09] AmanAgarwal041 commented on #6986
Will be covered by #6991

[2021-11-17 12:09] #6986 closed

[2021-11-17 12:16] #6853 closed

[2021-11-17 12:18] Nikhil-Nandagopal commented on #5754
This is the expected behavior

[2021-11-17 12:18] #5754 closed

[2021-11-17 12:20] lahiruelectrily commented on #9212
@Nikhil-Nandagopal , yes we need to upload multiple files and the `{{ FilePicker1.files }}` was working several days ago.

[2021-11-17 13:23] cokoghenun commented on #6217
Hmm, you're right. My thought initially was, we could have a simple form in the UI for this (because requests I've seen around this are simple get requests), then also add a note or something that if the user wants more control, they could use setInterval/clearInterval

[2021-11-17 13:33] #9201 closed

[2021-11-17 13:35] sumitsum opened #9216 "[Task]: GraphQL: Research: Relay Pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Need to answer the following questions:
- Is Relay a backend or frontend library ?
- Will using Relay library make the experience of writing pagination queries easier for users ?
- How to use / integrate Relay library ?
- What would writing pagination query look like ?

[2021-11-17 13:39] sumitsum opened #9217 "[Task]: GraphQL: Research: Dynamic binding substitution and variable substitution with GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Need to answer the following questions:
- How to handle dynamic binding substitution with / without quotes inside the main query editor.
- How to handle dynamic binding substituting with / without quotes inside the variables editor.

[2021-11-17 13:46] sumitsum opened #9218 "[Feature]: GraphQL: Design for v1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Need design for GraphQL plugin for phase 1.

### Why should this be worked on?

Required for GraphQL plugin.

[2021-11-17 13:57] #8758 closed

[2021-11-17 14:02] sumitsum opened #9219 "[Feature]: Need a connection pool for querying H2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Currently, we used H2 in memory database as a temporary data store and we perform our `where`, `pagination`, `sort`, and `projection` queries on top of it. The plugin opens a new connection with every action invocation. This can saturate the permissible connection limits very soon. Hence, it may be

[2021-11-17 14:06] sumitsum opened #9220 "[Feature]: Provide prefix match feature"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We can provide a prefix match filter as part of UQI.

### Why should this be worked on?

To improve user experience.

[2021-11-17 14:07] jmaister opened #9221 "[Bug]: Database connection does not allow empty password"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I configure a MySQL database with an empty password, the form does not allow me to proceed with the "Test" button.

![image](https://user-images.githubusercontent.com/374021/142215522-7376e6d8-05e0-4745-94a3-e7bab1fc345f.png)

However, I can save and continue.

### Steps To Reproduce

1.

[2021-11-17 14:11] sumitsum opened #9222 "[Task]: UQI: refactor code to separate out `AND` and `OR` operators form the rest of the operators"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently the `AND` and `OR` operators used in `where` clause are defined in the same enum type as other operators like `EQ`, `NEQ` etc. It would be good to keep the `AND`, `OR` operators in a separate enum type since they are logical operators unlike the comparison operators. Keeping them in the sam

[2021-11-17 14:15] sumitsum opened #9223 "[Feature]: Provide support to show a small question mark icon next to any label in UQI forms."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A question mark icon would be useful in case we want to convey some extra information to the user about that the concerned input field does. When the user hovers over the question mark a small text with info could be displayed.

### Why should this be worked on?

Improve user experience.

[2021-11-17 14:30] jmaister commented on #9221
![image](https://user-images.githubusercontent.com/374021/142219510-e9e035a2-eea7-4894-8f75-62bddbae5042.png)

It does not allow to run a query either.

[2021-11-17 14:40] dncpax commented on #5693
@Nikhil-Nandagopal yes, I thought about that and I'm trying it out. The issue here is that you have to fix the height of your text boxes, which defeats the purpose of having a table that adapts its height to the wrapped content. The only thing that is configured is the width of each column. The rest is native behaviour.
This is an example of a native html table in a legacy app:
![image](https://us

[2021-11-17 14:46] ramsaptami commented on #6684
@somangshu I've added a few existing issues to the epic that's related to keyboard shortcuts. I'll tag more if I come across any

[2021-11-17 14:50] Nikhil-Nandagopal commented on #7462
@rubabuddin you can try turning smart substitution off in the query settings

[2021-11-17 14:52] Nikhil-Nandagopal commented on #5693
@dncpax totally understand, we'll work on a solution for this and make the text box heights dynamic too.
You can make the text boxes scrollable in the list as a workaround till we ship this fix :)

[2021-11-17 14:57] dncpax commented on #5693
@Nikhil-Nandagopal That's actually a very nice idea!! I'll try it out!

[2021-11-17 14:59] dncpax commented on #5693
On that note, but a different matter, text box could use a vertical align option so every element can align perfectly side-by-side, to mimic a table...

[2021-11-17 15:05] Nikhil-Nandagopal commented on #9185
@keyurparalkar in this case shouldn't you be doing a check for whether the store contains a value before trying to clear the interval?

[2021-11-17 15:13] Nikhil-Nandagopal commented on #9221
Related to #7713

[2021-11-17 15:28] #9176 closed

[2021-11-17 15:58] nidhi-nair commented on #9212
@mohanarpit that's correct, the array reference supports any number of files for uploads.

@lahiruelectrily I'm trying to reproduce this issue at my end but unable to do so. Is there any particular file that you can share with me to test this?

[2021-11-17 18:06] aswathkk opened #9225 "[Bug]: Space or newline in action binding causes Action selector not to update properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If we add a space after the binding curly braces, then the action selector value is not updated properly.
Refer to the following video:

https://user-images.githubusercontent.com/10436935/142255827-6268bc4f-e53e-463a-ae9b-c2e4dc65a79e.mov

### Steps To Reproduce

1. Add action binding in JS E

[2021-11-17 18:09] aswathkk commented on #9225
@somangshu Can I take this as a part of PropertyPane improvements or should this be assigned to someone under the FE Coder's pod?

[2021-11-17 18:28] tmdoit commented on #8476
Yes, it's poor experience.

[2021-11-17 18:56] aswathkk commented on #9144
@mohanarpit I think this is not related to #9172

[2021-11-17 20:04] areyabhishek commented on #9221
Thanks for reporting the issue. Making the password field optional makes sense. We've marked this as high and will work on this soon.

[2021-11-17 20:10] areyabhishek commented on #3350
Icon for the Switch group widget: https://www.figma.com/file/ATfTB5F9Q7ZiI0yYckuXW7/Deprecated-Design-System?node-id=72%3A8452

[2021-11-17 23:39] PatrickHuetter commented on #6298
+1 This feature would be very helpful. I think it should be configurable for every role or user wether it's possible to invite new users and also wether it's possible to create apps. And it should be just the hiding in the frontend. Instead the API calls should also check wether user has granted access to the features. Otherwise it would be security issue/risk.

[2021-11-17 23:46] momcilo-appsmith commented on #4141
Added the Design link to the issue description.

[2021-11-17 23:55] PatrickHuetter opened #9226 "[Feature]: Read environment variables from environment with inheritance in docker container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I'm using the docker image to deploy appsmith within a Kubernetes cluster. The problem I have is that it doesn't seem to be possible to set the email/smtp settings using environment variables because the docker container will always use the variables from docker.env file within the filesystem.

It wou

[2021-11-18 03:11] areyabhishek commented on #6217
Can we do both? Exposing it in the API pane will enable discovery. Discovering this function is difficult unless you try it or read the documentation. While it's easy to discover the simple option in the API pane and we can add a tooltip explaining that they can also use a function.

[2021-11-18 04:17] lahiruelectrily commented on #9212
@nidhi-nair I used a randomly download image from the internet. Attached the image.
![pexels-free-jpg-639024](https://user-images.githubusercontent.com/90342635/142350765-4ecdc39a-a46a-4bfe-a8fb-d177cedc546e.jpg)

[code]

[2021-11-18 04:36] nidhi-nair commented on #9212
@lahiruelectrily I'm guessing that this might be a discrepancy in the expectation in that case. The image that is sent across as a multipart value in the request is actually a [data URL](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs). In the screenshot below, I've tried sending this image to an [httpbin endpoint](https://httpbin.org/post) to test whether the data URL i

[2021-11-18 06:21] lahiruelectrily commented on #9212
@nidhi-nair below is the response I got after trying same you did
![Screenshot 2021-11-18 at 11 49 13](https://user-images.githubusercontent.com/90342635/142363004-ae5b05a9-a627-49d2-8c8e-ca802b5e463d.png)

[2021-11-18 06:27] nidhi-nair commented on #9212
@lahiruelectrily , could you please confirm if the file format selected on the file picker widget is "Base 64"?

[2021-11-18 06:56] parth-appsmith commented on #9223
Hi @sumitsum thanks for getting this into our attention. We are adding tool tips to provide more context to users on all the newer features and improvements that are going to be coming across.
If possible can you tell us which all parts of the platform that you feel that tool tips are necessary?

[2021-11-18 07:16] RakshaKShetty commented on #8828
@nayan-rafiq the issue is still reproducible https://www.loom.com/share/1c7cafa549c04063b2d37016048dfd64, so reopening the issue.

[2021-11-18 07:27] YogeshJayaseelan opened #9227 "[Enhancement]: To have back button in the property doc pane when multiple widgets are selected in canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Suggestion to have back button in the property section

**Current behaviour:**
when the user selects multiple widget and chooses any of the widget property pane and selection on the canvas goes off and user needs to again select multiple widget

**Expected result:**
If we have back button so

[2021-11-18 07:41] Nikhil-Nandagopal commented on #9226
@PatrickHuetter thank you for the feature request this is an interesting idea. We'll evaluate it and try to have it prioritised

[2021-11-18 08:10] Nikhil-Nandagopal commented on #6298
Hi @PatrickHuetter 👋
We're working on enabling granular access control for different user groups in this issue #3317

[2021-11-18 08:32] pranavkanade opened #9230 "[Feature]: Add a keyboard shortcut to open property pane of a selected widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A discord user requested this feature here is their case:

original msg - https://discord.com/channels/725602949748752515/760761686549463060/910804016592719892

### Why should this be worked on?

Nice to have

[2021-11-18 09:00] Rishabh-Rathod commented on #9162
@Nikhil-Nandagopal just to clarify, this issue was there in the application at a certain page where we could see now also but there is no way we can re-create that again. Also, I wasn't able to find out it in past it went into that bad state.

Also, it happened only for the release app which also opens up the possibility that there was a bug in the release which never went to prod which might have

[2021-11-18 09:03] parth-appsmith opened #9231 "[Bug]: Value inside the date field is getting corrupted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am fetching data from the select query on the users database and getting a proper response. The response object contains a date field which shows date in YYYY-MM-DD HH:mm format.

<img width="1792" alt="Screenshot 2021-11-18 at 12 56 25 PM" src="https://user-images.githubusercontent.com/927

[2021-11-18 09:08] nidhi-nair commented on #8802
This use case requires smart substitution to be turned on since the input text needs to be escaped for the new lines to be used in the request. We do need an improvement in UX for users to be told when smart substitution is the solve for a problem, but I'll be closing this issue and we can tackle that separately.

[2021-11-18 09:11] Nikhil-Nandagopal commented on #8802
@nidhi-nair smart substitution is only for the request right? Here it seems the response is not escaped

[2021-11-18 09:12] Rishabh-Rathod commented on #9148
Wasn't able to reproduce this issue anymore. Hence closing this.

[2021-11-18 09:12] #9148 closed

[2021-11-18 09:13] nidhi-nair commented on #8802
IIUC, the repro for this was to run the update query with the reference from the update form widgets. The text field contains a `\n` that was causing the update query to fail. @Rishabh-Rathod was there something other than this that I am missing?

[2021-11-18 09:29] Nikhil-Nandagopal commented on #8802
@nidhi-nair no, the sheet has the \n in the PRODUCTS_ID column and that is returned to the list widget. The button is bound to currentItem.PRODUCTS_ID

[2021-11-18 09:45] somangshu commented on #8845
Actionable 18th Nov 2021:
- @aswathkk will continue implementation of issues
- @vasanth-appsmith will finalize the designs
- @aswathkk based on the last designs estimate the rest of the tasks
- We will check all other property pane issues that must be related here @vuiets @somangshu

[2021-11-18 10:17] ramsaptami opened #9233 "[Bug]: Input widget evaluation error on using totalRecordCount from Table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When accessing table count using **totalRecordCount** on an input widget, there's an evaluation error even when input type is set to "Text" or "Number" until the JS is edited (as seen in the video)

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/5ebf08526fe64a9aa227b558a37d1cf1-00001.g

[2021-11-18 10:22] #7826 closed

[2021-11-18 10:46] trishaanand commented on #2840
*Goal* : Planning for the feature to be complete by December 1st

- Code splitting POC
     - Frontend - @rishabhsaxena @rashmi-rai
     - Backend - @trishaanand @AnaghHegde
- Test out the complete integration flow with a couple of providers and share a video with the team - @trishaanand

[2021-11-18 10:52] YogeshJayaseelan opened #9237 "[Bug]: The vertical scroll bar on the canvas disappears on the mouse focus and user is not able to scroll using mouse click"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Property pane docking - Deploy Preview - It is observed that the vertical scroll bar on the canvas disappears on the mouse focus and user is not able to scroll using mouse click

https://loom.com/share/68e1a2a620674517a46a1527afb2c9cd

### Steps To Reproduce

1.Launch appsmith app in deploy p

[2021-11-18 11:35] vicky-primathon commented on #9099
Derived property **isValid** need to be computed considering minDate and maxDate properties as well.

- Create derived.js for derived properties similar to TableWidget and add date value validation to it
- Add unit test cases for isValid property

[2021-11-18 11:47] vicky-primathon commented on #8363
This might break existing applications where null / empty / undefined is converted to current date.
cc  @Tooluloope

[2021-11-18 11:55] ramsaptami opened #9240 "[Enhancement]: Custom sort on org, datasources and page list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Need custom sort by alphabetical, recent access etc.. for organizations (workspaces), apps and datasources since it makes the experience of using the application feel more personal and caters to a wide variety of user needs.

![image](https://user-images.githubusercontent.com/79509062/142406824-87e24c

[2021-11-18 12:07] RakshaKShetty commented on #9209
- [ ] when the user clicks on the pull icon the deploy tab should open
- [ ] when branch name is too big and user hover on it the tooltip is not displayed
- [ ] when the user switches between the tab in the pop the loader is displayed in the Deployed tab
- [ ] The dropdown alignment displayed for the git connect should be polished
- [ ] There is a delay in displaying the  changes update
- [ ] Unde

[2021-11-18 12:16] lahiruelectrily commented on #9212
@nidhi-nair, The format was Binary. I change it to base64 and now I can see the res.files as a Data URL. Data URL object is what getting stored the the image. Is this behaviour expected? Do I need to decode file before store?

I tried to show the uploaded Data URL image in an image Widget. But the image widget does not process the Data URL.
![Screenshot 2021-11-18 at 17 36 36](https://user-images.

[2021-11-18 12:57] #7598 closed

[2021-11-18 13:03] AmanAgarwal041 commented on #8701
This issue is already fixed. Here's a PR for it [8618](https://github.com/appsmithorg/appsmith/pull/8618)

[2021-11-18 13:03] #8701 closed

[2021-11-18 13:54] Nikhil-Nandagopal commented on #1911
Update:
After a round of discussion, we've settled on a few things we want to enforce

1. Queries, JSObjects & Pages should all behave as files.
2. Queries outside a page cannot read data from files within a page
3. Queries within a page can have arguments and refer directly to the entities in other files inside the page

To explain this, we came up with a mental model of introducing modules. A mo

[2021-11-18 14:01] ramsaptami opened #9243 "[Enhancement]: Indicate to the user as a nudge when default selected does not match with user options on select, radio, checkbox widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, **Default Selected Value(s)** field on Radio, Select, Checkbox, Checkbox group, Tree Select does not validate against user defined options. So incorrect default value simply clears any selection (see video). Instead, provide a nudge to the user on a mismatch between default value set. Also,

[2021-11-18 14:25] ramsaptami opened #9244 "[Bug]: Timer increases in speed each time Start button on this app is clicked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

App shared by Keyur ([link](https://app.appsmith.com/applications/61924b9443aaaf0225a80095/pages/61924b9443aaaf0225a80097)) has a timer that skips a beat each time the start button is re-clicked.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9b6fb72028f6468080f47dff9c3ac6dd-00001.gif

[2021-11-18 14:27] #9080 closed

[2021-11-18 14:35] Nikhil-Nandagopal commented on #9230
@pranavkanade will this still be needed once the property pane is docked and can be opened by clicking the widget directly?

[2021-11-18 14:36] ramsaptami opened #9245 "[Bug]: Filepicker widget does not validate size when modified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Filepicker widget does not validate number of files and file size when it's been updated to a lower value and continues without throwing an error

https://www.loom.com/share/afa99776fb3a44908f4035ce03740e03

### Steps To Reproduce

1. Drag and drop a filepicker widget and upload files and siz

[2021-11-18 15:12] Nikhil-Nandagopal commented on #7593
@andrewtk this seems to be working for me. The query is running. It is possible that the query is not receiving the correct data if you are rehydrating the input from the store. Any reason why you're doing this? The query should be able to directly reference the input

[2021-11-18 15:14] Nikhil-Nandagopal commented on #6977
@tmdoit we're working on granular access controls to ensure that we're able to achieve this correctly

[2021-11-18 15:15] #8847 closed

[2021-11-18 15:18] Nikhil-Nandagopal commented on #8710
@hetunandu @ApekshaBhosale I think this is a problem with JS Eval right?

[2021-11-18 15:19] nidhi-nair commented on #9212
@lahiruelectrily Could you please explain your use case to me? I'd need to get an understanding of what your endpoint is doing to be able to recommend the best way to use the filepicker.

For the second part, we'd need to copy the evaluated value over to a validator to check if the data got corrupted while retrieving it. You could use something like [this tool](https://onlinebase64tools.com/valida

[2021-11-18 15:22] Nikhil-Nandagopal commented on #9102
@somangshu @hetunandu @riodeuno we need to fix this with a test case. How does this keep resurfacing?

[2021-11-18 15:32] Michael-sr commented on #9116
@Nikhil-Nandagopal , thanks for clarifying the situation!

[2021-11-18 15:46] lahiruelectrily commented on #9212
Hi @nidhi-nair , My usecase is to store images from one screen and display them on separate screen. When I store a file throughout the middleware (sailsjs skipper) the file is stored as jpeg but when open the jpeg from text editor I can see it is a Data URL. I suspect it is not corrupted.

When I try to show the same file stored through image widget it doesn't render the image.

[2021-11-18 15:48] nidhi-nair commented on #9212
Got it, that's the retrieval API we'll have to take a look at then. Is the Data URL you receive from the API the same as the one that you see when you open the file in a text editor @lahiruelectrily ?

[2021-11-18 15:55] lahiruelectrily commented on #9212
Yes it is the same.see the last post with image I shared.

[2021-11-18 15:58] nidhi-nair commented on #9212
Could you please try creating an image widget on the same page as the FilePicker, and display the FilePicker data instead? This would be bound as `{{FilePicker1.files[0].data}}`

[2021-11-18 16:22] lahiruelectrily commented on #9212
<img width="772" alt="Screenshot 2021-11-18 at 21 49 24" src="https://user-images.githubusercontent.com/90342635/142454453-555a1893-0373-44dc-a3ab-3b307fc19a3b.png">

[code]

[2021-11-18 18:16] jmaister opened #9249 "[Bug]: Sorting a table with "Server Side Pagination" does not work as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I sort a column on a table that has "Server Side Pagination", it only sorts the rows that are showing on the screen.

Working ok:
![image](https://user-images.githubusercontent.com/374021/142472581-4bf32021-1f66-4159-942a-869c826bf353.png)

Not OK, should show the last rows:
![image](htt

[2021-11-19 04:19] #9091 closed

[2021-11-19 05:14] pranavkanade commented on #9230
You're right, that will make this enhancement futile. Closing it.

[2021-11-19 05:14] #9230 closed

[2021-11-19 05:44] somangshu commented on #7231
@areyabhishek can you please drop your app here, we will debug this and take it forward

[2021-11-19 05:53] hetunandu commented on #8710
Fixed with #9191

[2021-11-19 05:53] #8710 closed

[2021-11-19 05:55] sentry-io[bot] opened #9250 "[Bug] NullPointerException"
Sentry Issue: [APPSMITH-1AD](https://sentry.io/organizations/appsmith/issues/2765892532/?referrer=github_integration)

[code]

[2021-11-19 05:56] Nikhil-Nandagopal commented on #9250
@mohanarpit assigning to you since I',m not able to figure what is causing this and who it should be assigned to

[2021-11-19 05:57] sentry-io[bot] opened #9251 "[Bug] TypeError: this.editor is undefined"
Sentry Issue: [APPSMITH-1CE](https://sentry.io/organizations/appsmith/issues/2799960776/?referrer=github_integration)

[code]

[2021-11-19 05:58] Nikhil-Nandagopal commented on #9251
Seeing multiple of these occurrences

[2021-11-19 05:58] sentry-io[bot] opened #9252 "[Bug] InternalError: too much recursion"
Sentry Issue: [APPSMITH-1CF](https://sentry.io/organizations/appsmith/issues/2799960887/?referrer=github_integration)

[code]

[2021-11-19 06:13] nidhi-nair commented on #9250
I'll pick this up, it's a JS editor issue.

[2021-11-19 06:13] tmdoit opened #9253 "[Bug]: Input of "Select" widget height differs from the "Input" widget height"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The height of "Select" input widget is lower than the "Input" widget.

![Zrzut ekranu 2021-11-19 o 06 58 15](https://user-images.githubusercontent.com/85706044/142574411-a116ae03-f53d-45fe-8b27-dc0770a67181.png)

### Steps To Reproduce

1. Drop "Select" widget on canvas
2. Drop "Input" widget

[2021-11-19 06:32] hetunandu commented on #6797
@somangshu When switching back from 'js' mode, the value should reset and no longer be dynamic.

https://github.com/appsmithorg/appsmith/blob/release/app/client/src/sagas/WidgetOperationSagas.tsx#L274-L283

Looks like the validation does not parse this value correctly.

[2021-11-19 06:56] somangshu commented on #9225
This is something to do with the parsing, AFAIK we have seen this before. @hetunandu can you point out which POD should take care of this?

[2021-11-19 06:58] hetunandu commented on #9225
@somangshu This should be Fe Coders.

[2021-11-19 07:03] somangshu commented on #5090
Thanks for the context @GreenFlux, This is helpful, We are working towards a new version of this widget and we will keep this mind while implementing

[2021-11-19 07:07] somangshu commented on #9245
@ramsaptami we have a fixed agenda for the epic property pane improvements, this does not fall under the scope. Also the issue does not effect the end-user and is an edge case which is really not causing any breakage, deprioritizing this

[2021-11-19 07:14] vivekverma2312 opened #9255 "[Bug]: "No suggestion" pop up is getting cropped on editor for docked property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/4d8f648ae82843e3a00f5c75ad98ad28-00001.gif)](https://www.loom.com/share/4d8f648ae82843e3a00f5c75ad98ad28)

DP == > https://deploy-preview-7361--appsmith-editor-ce.netlify.app/

### Steps To Reproduce

1. Drag and drop a divider widget
2. e

[2021-11-19 07:17] vivekverma2312 opened #9257 "[Bug]: No horizontal scroll available on canvas when docked property pane and EE is expanded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/4af8ae27f4ff44068cd90792580bf72c-00001.gif)](https://www.loom.com/share/4af8ae27f4ff44068cd90792580bf72c)

Deploy Preview - > https://deploy-preview-7361--appsmith-editor-ce.netlify.app/

### Steps To Reproduce

When the user tries to plac

[2021-11-19 07:38] ashit-rath commented on #2504
Items for design review -
- Disabled state of nested form
- Nested form background color (accordion)
- Nested form accordion title
- Icon for the widget

https://www.figma.com/file/pZuLD9mWXtk45TOjAeh32b/Form-Widget-Thu-26-Aug?node-id=0%3A1

[2021-11-19 07:39] hetunandu commented on #9207
@KirtiChug would you be need to watch the current location as it changes or only request it once while making the request?

[2021-11-19 08:22] hetunandu opened #9258 "[Bug]: Random actions don't leave the loading state when any one action fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a few actions are called parallely, and one of them fails, sometimes, the other actions, even if they succeed and got a response, will not leave their loading state. This in turn, causes the dependant widgets to also be in the loading state.

### Steps To Reproduce

1. Call bunch of acti

[2021-11-19 08:24] nidhi-nair commented on #9212
Triaged this issue to be caused by #9258, closing this issue in its favour.

[2021-11-19 08:24] #9212 closed

[2021-11-19 08:29] somangshu commented on #9244
@keyurparalkar can you show the code used, Seems like the issue is local

[2021-11-19 08:30] somangshu commented on #9243
this is expected behaviour, I am closing this because its a non issue

[2021-11-19 08:33] eco-monk commented on #9011
@Nikhil-Nandagopal, as far as `appsmith.store.text`, `defaultText` field is concerned. Nothing has changed, right?
Since we're setting the same value again.
When the user makes a change to the input field, they're changing `Input.text`.

Perhaps we should create a new binding field `Input.text`?
That should serve the use-case that we're after. (resetting field value on a button click)

Or perhaps

[2021-11-19 08:34] somangshu commented on #6798
@keyurparalkar need you to take a look here, This issue was resolved by an external contributor, We need to either rectify the conflicts there or create our own branch based on the changes in linked PR. Once done get an approval from reviewer and QA and merge the PR to release. If you have any questions related to this please get in touch with the tema

[2021-11-19 08:42] onifs10 commented on #6798
@somangshu  i could go ahead and resolve the conflict on my own branch

[2021-11-19 08:43] somangshu commented on #8476
This is fixed in #8734

[2021-11-19 08:47] somangshu commented on #9200
Greetings @stevenTan01, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

[2021-11-19 08:49] somangshu commented on #6798
Yes please @onifs10, That will be great, @SatishGandham can re-review and if everything looks good we will go ahead and merge this

[2021-11-19 08:59] onifs10 commented on #6798
@somangshu done

[2021-11-19 09:00] eco-monk commented on #9011
Otherwise when `appsmith.store.text` actually changes, the input field would get updated.

On second thought, this is questionable behaviour too.
`defaultText` is supposed to fill in only when the input field is empty. (`OnInit` kind of event)

Perhaps we're blending two different functionalities (`text` and `defaultText`) into one property.

[2021-11-19 09:12] somangshu commented on #9155
@vivekverma2312 the image update has failed, Can you also tell me does the button event still trigger, If it does change the priority to high

[2021-11-19 09:23] somangshu commented on #9138
Please verify issues before creating

[2021-11-19 09:23] #9138 closed

[2021-11-19 09:27] somangshu commented on #9136
This is mix of changes related to property pane and widget components, We have two projects upcoming which this can be a part of:
- Widgets styling
- Property Pane controls ( UI )

We need to take a call to fix this under one scope

[2021-11-19 09:32] somangshu commented on #9123
This is expected, Logically once you start with an operator until you have nesting you cant define what level you are applying the filter on. We will need a big UX change for this, I dont think from the product POV this is required

[2021-11-19 09:32] #9123 closed

[2021-11-19 09:39] somangshu commented on #9078
@Tooluloope you will have to verify why is this happeing, Keeping it under info pipeline

[2021-11-19 09:54] #8959 closed

[2021-11-19 10:16] #9250 closed

[2021-11-19 10:22] Nikhil-Nandagopal commented on #9253
@tmdoit thank you for reporting this! This was a really important detail

[2021-11-19 10:23] Nikhil-Nandagopal commented on #9253
@somangshu @sbalaji1192 looks like a quickfix we can add?

[2021-11-19 10:50] shwetha-ramesh opened #9260 "[Bug]: For Filepicker widget the close ('x' mark) option appears outside the popup window"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently when user clicks on 'Select files' the pop-window which appears has its close option outside the window.
![image](https://user-images.githubusercontent.com/92293815/142610076-7089a7e2-4113-4eea-bc68-773af55d3424.png)

**Expected behavior:** 'x' mark (close option) must appear inside

[2021-11-19 11:09] shwetha-ramesh opened #9261 "[Bug]: Tooltip is partially hidden when any widget is placed on the extreme left of the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When any widget is placed on the extreme left of the canvas and property pane opens on the left side when mouse is hovered over any field tooltips are partially hidden.
![image](https://user-images.githubusercontent.com/92293815/142611937-cd211075-1d1b-4223-adfa-b8c695c1d220.png)

### Steps T

[2021-11-19 11:53] jsartisan commented on #8990
We won't need `ButtonStyleTypes` now since we rely on background color for any color logic, not on the button style type.

[2021-11-19 12:05] #8763 closed

[2021-11-19 12:32] keyurparalkar commented on #9185
@Nikhil-Nandagopal thanks for the above suggestions, It is working as expected now. Storing and clearing the reference ID on `clearInterval` solved the issue.

[2021-11-19 16:08] Parthvi12 opened #9262 "[Task]: Created cypress scripts for PgAdmin Clone App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-11-19 16:25] ohansFavour commented on #9087
As per the project meeting on the 17th of November;

We were able to do the following,

- Remove issues that were wrongly tagged as part of this epic and add a few issues corresponding to this epic.

-  Discuss the solvability of certain issues and unanimously agree on if these issues should be solved as part of this epic.

- Add estimates to several issues.

### Resolutions

- Considering the tot

[2021-11-19 17:52] ramsaptami opened #9264 "[Bug]: Code goes into an infinite loop on property pane without an error for uncaught promise exception but throws a parse error with an incorrect error on JS editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Different behaviour observed on JS editor and property pane for the block of code seen below.

- On property pane, the code within the function `UIBugs` inside of `{{function(){       }}}` on a Button widget goes into an infinite loop without giving any errors. Only browser console shows an e

[2021-11-19 17:57] ramsaptami commented on #9264
Removing `;` on line 53, the error changes to unexpected bracket but does not show any lint error anywhere
![image](https://user-images.githubusercontent.com/79509062/142669401-ea47019c-7a0c-4d74-b9dc-afe4cfc2d85f.png)

[2021-11-19 18:01] ramsaptami commented on #9264
On removing `;` on line 53, the error changes to unexpected bracket but does not show any lint error anywhere
![image](https://user-images.githubusercontent.com/79509062/142669401-ea47019c-7a0c-4d74-b9dc-afe4cfc2d85f.png)

[2021-11-19 19:10] dncpax commented on #1092
Just trying to get attention to this issue. After watching the video on custom authetication where tabs are hidden/shown according to authentication success, I was under the impression we could the same with pages... but not so.
Page visibility does not support binding, AND we cannot set Page visibility from other pages... so I think this is a dead end...
Is there a workaround? How to not show pag

[2021-11-20 05:13] somangshu commented on #7064
@sbalaji1192 the design team has worked on a solution for the challenge above and we might be ready to go in a few days, Check out the design and discussion [here](https://www.figma.com/file/w9CaXHF5iYcrLtiEbAHcFu?node-id=1580:9841#126493257). If things look good, we could take this up with the widget enhancements.

[2021-11-20 10:40] momcilo-appsmith opened #9266 "[Bug]: You can start multiple group selections at once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I CMD + Click and drag (to select widgets inside a container) and go outside of the container, then click again to select widgets outside of it, both selections appear.

### Steps To Reproduce

Loom video of how it works:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/aca27c6a6bf9

[2021-11-20 11:45] ramsaptami opened #9267 "[Bug]: Linting not showing up for self-referenced code on property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Linting pop-up does not show up on Issue Stats page of Appsmith Standup app on the widget and field seen in the screenshot below

![image](https://user-images.githubusercontent.com/79509062/142722431-56d83d9e-4294-4eb6-864b-c5bb64d41a87.png)

### Steps To Reproduce

1. Go to Appsmith Standup

[2021-11-20 15:38] ramsaptami opened #9268 "[Bug]: Indent line of code is not aligned properly on JS editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Manually indenting on a copy paste code that's being indented causes the lines to get misaligned.

![image](https://user-images.githubusercontent.com/79509062/142731986-787181be-6cca-480a-b750-c16e078a0467.png)

### Steps To Reproduce

1. Copy paste a long code to JS editor and try to format

[2021-11-20 15:52] ramsaptami opened #9269 "[Enhancement]: Auto indent code on JS editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- [ ] When copy pasting large code into JS Editor, there are times when the code is not readable because of incorrect indentation. To indent it properly, user would either have to use another tool or manually indent each line. Instead, we could provide an option to indent code via a button _and_ keybo

[2021-11-20 16:07] ramsaptami opened #9270 "[Feature]: Ability to change apps and org+app from within another app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

**Scenario 1**: If user is developing multiple apps for an organization and wants to refer to code on another app then they'll have to first open a new tab with Appsmith home and then navigate to the app _or_ if it's a super user then navigate through multiple orgs and then find the app.

**Scenario 2

[2021-11-20 21:04] ahmadalibaloch commented on #3523
Use Case:
I have a form with many input fields, they represent data of a month selected using date picker. Now when I switch between months, I want to load the data user has entered previously in those input fields. I get the data from Firestore. I would like to do
[code]

I tried to set default value of inputs using {{getFireDoc().input4}} for example for input4 but that only happens at the load

[2021-11-20 21:10] stevenTan01 commented on #9200
I have worked on this issue a bit and have come up with this so far. Any feedback on how it looks?

https://user-images.githubusercontent.com/34069744/142740917-ed97d148-464b-4ca1-8440-548dc79ef504.mp4

[2021-11-20 21:20] ahmadalibaloch commented on #5668
Need to export page is PNG or PDF!

[2021-11-21 14:00] #9262 closed

[2021-11-22 05:03] #8160 closed

[2021-11-22 05:27] RakshaKShetty opened #9273 "[Bug]: The button clicks are not working in website template page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The "Use this template" and "read the tutorial buttons" functionality is not working as expected in the appsmith template page
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/879b1c8d0d074ac88a7aafc606bd23ec-00001.gif)](https://www.loom.com/share/879b1c8d0d074ac88a7aafc606bd23ec)

### S

[2021-11-22 05:35] #9009 closed

[2021-11-22 05:43] Nikhil-Nandagopal commented on #9231
@parth-appsmith I'm not able to reproduce this. Can you please share a video?

[2021-11-22 05:46] Nikhil-Nandagopal commented on #9249
@jmaister you need to update your query to order by the sort order from the table. Your query should look like
[code]

[2021-11-22 05:46] #9249 closed

[2021-11-22 05:54] #9185 closed

[2021-11-22 06:09] #8830 closed

[2021-11-22 06:12] albinAppsmith commented on #9193
https://github.com/appsmithorg/appsmith/pull/9013

[2021-11-22 06:27] #9231 closed

[2021-11-22 06:38] sentry-io[bot] opened #9274 "[Bug] IllegalArgumentException: duplicate element: client_total.text"
Sentry Issue: [APPSMITH-1BA](https://sentry.io/organizations/appsmith/issues/2779612258/?referrer=github_integration)

[code]

[2021-11-22 06:44] Nikhil-Nandagopal commented on #9011
@eco-monk yes that is right, text and defaultText are meant to overwrite each other depending on which was updated last. @hetunandu should have some context on how the evaluation works here

[2021-11-22 06:49] Nikhil-Nandagopal commented on #3523
@ahmadalibaloch when you set the default value, it will automatically update whenever the data changes, it is only only at the time of page load. So depending on the re-calculation you're making, if you have bound the default text of the input correctly, the input will update. We'll be happy to help you with this if you can describe what you'd like to achieve here

[2021-11-22 06:51] Nikhil-Nandagopal commented on #1092
@dncpax we're working on this as part of #3317 because we realize that simply hiding the page is not enough for security, we need to restrict access to this page.
To work around this today, you can mark the login page as hidden and set it to home. This will hide all other pages when the user is on the login page

[2021-11-22 07:08] #6798 closed

[2021-11-22 07:12] shwetha-ramesh commented on #8788
@wmdev0808 Issue still exists.

https://loom.com/share/7997622dd9cf4bcbbd3aff8250a5854d

[2021-11-22 07:27] ahmadalibaloch commented on #3523
Here is the scenario and problem.
1. I have a query named `current_month_document` , it fetches the document at path "year/month" from Firestore based on the value of a form input "date_picker" `date_picker.value`. I run the query on page load at start.
2. I have a field with name "current_month_bill", which has default value set as "{{current_month_document.data['Current_month_bill']}}, it works

[2021-11-22 07:34] #9027 closed

[2021-11-22 07:34] #9025 closed

[2021-11-22 07:34] #9028 closed

[2021-11-22 07:34] #9023 closed

[2021-11-22 07:47] leotom2000 commented on #8924
Able to simulate this issue using app.appsmith.com
(My second workday - setting up my local environment currently)

Few queries, will discuss and work on this.

[2021-11-22 07:49] Aishwarya-U-R opened #9277 "[Task]: Develop script for Amazon S3 QueryPane validations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-11-22 08:41] ramsaptami opened #9279 "[Bug]: JS editor replaces new text with original text on occasions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There are times when after function renaming or as seen in the video attached, when there's an error that occurs during code addition and during processing the exact error isn't displayed. Instead, new text is replaced by the original text. User has to check browser console to look for errors

[2021-11-22 09:11] prapullac opened #9280 "[Bug]: The params does not get populated into the fields when added via API field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the API is been added to the API pane and then we add "?" to the API and add respective add to the same it is observed that the Params details are not inserted

### Steps To Reproduce

1) Add a API into API field
2) Add an "?" to the api
3) Insert an Key and value to the API
and observe

[2021-11-22 09:21] ramsaptami commented on #8160
Hey @pranavkanade, the suggestion to add user only pops up right at the end of typing out the entire email. Would it be possible to dynamically check as the user types the email so the Invite user prompt appears a bit earlier rather than at the absolute end?
https://www.loom.com/share/8f382cdca212420fa56c3395e60025db

[2021-11-22 09:33] pranavkanade commented on #8160
@ramsaptami are you suggesting we should always show the invite new prompt? Showing an invite prompt before user has entered email leads to an error. Try this - go to comments mode, add a comment `@asdf` click on invite user; you'll see the error `please enter a valid email address`.

[2021-11-22 09:37] Nikhil-Nandagopal commented on #5004
@sumitsum do we know the root cause and how to reproduce / fix it?

[2021-11-22 09:56] pranavkanade commented on #4764
has been fixed

[2021-11-22 09:56] #4764 closed

[2021-11-22 10:26] eco-monk opened #9281 "[Bug]: Renaming "default" widgets inside a list widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Renaming any of the "default" widgets within a list widget throws error.
On refresh, renaming seems to be a success though. But throws a cyclic dependency error.
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/94d3862814c24f368347da655e61de8f-00001.gif)](https://www.loom.com/share/94d38

[2021-11-22 10:29] ramsaptami opened #9282 "[Bug]: UI elements on header overlap when browser console is opened up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Header UI elements overlap when browser console width is increased|

https://www.loom.com/share/debad420dede4f36a722f1b20a6f3c4c

### Steps To Reproduce

1. Open browser console on the side and increase the width of it. Observe the header UI elements overlap as seen in the video

### Environm

[2021-11-22 10:51] leotom2000 commented on #8196
Issue Analysis :

This issue is found in 8 scenarios in the same page.

In Fields
(1) Table Heading Row Index
(2) Row Offset
(3) Row Limit
(4) Cell Range

Occurs when
(1) A space is given after the input value
(2) An enter is given after the input value

Planned fixes in backend :
(1) Addding .trim() to the propertyValue; //around Line 47
(2) Adding propertyValue.replaceAll("[\\n ]", "")  //for th

[2021-11-22 11:31] shwetha-ramesh commented on #8789
@prapullac observed with reload the camera re-appears.

[2021-11-22 11:55] wmdev0808 commented on #8789
@shwetha-ramesh , What does this mean?

[2021-11-22 12:20] eco-monk commented on #1534
Closing. Since this is not reproducible.
Although, values evaluate to undefined when switching pages. (#9096)
https://www.loom.com/share/9fe5e306176e41c18b5f048d6a8302f9

[2021-11-22 12:20] #1534 closed

[2021-11-22 13:12] shwetha-ramesh commented on #7033
@wmdev0808 retested this PR based on @prapullac comments. Here are the below findings for the same and some new issues found.

#8785: Fixed

#8788: Still exists.
https://loom.com/share/7997622dd9cf4bcbbd3aff8250a5854d

#8789: Working fine

#8791: Fixed

#8792 : Still exists. In figma document the widget appears grey when permission is denied, where as in DP the widget appears black
In figma doc
![

[2021-11-22 15:08] rashmi-rai opened #9284 "[Bug]: Evaluation fails when keys in the object contains spaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Evaluation fails when object key contains spaces.
This object may returned by a query or can be saved in a JS Object.

For the object
[code]

`{{currentRow["first name"]}}` fails
`{{currentRow["first_name"]}}` works
`{{currentRow["gender"]}}` works

### Steps To Reproduce

1. Create a dataset

[2021-11-22 16:42] ramsaptami commented on #8160
Ah I see, there's a pattern validation. That explains why we need to type out the email entirely before getting that option. I was thinking of a different approach. But this works too 👍

[2021-11-22 17:29] dncpax commented on #1092
Hi @Nikhil-Nandagopal thanks for the workaround - I will look into it.
I don't think most users will need the full granular access control. But some measure of control would be nice. I agree that hiding is not really that secure, but it's something we can live with if we couple that with hiding controls and binding queries to a store value (authenticated=true/false).
I have been playing around wit

[2021-11-22 17:45] jmaister commented on #9249
@Nikhil-Nandagopal thanks for your answer. Adding the `order by` with the table parameters works for the ordering, but not when it is combined with `limit`.

This is the query that I created to make it work. First, the order as a subselect, then the limit.

[code]

Would it be a more generic way to added this to any query?

Also, I had to add the "|| 'name" and "|| 'asc'" just for when the table o

[2021-11-22 17:50] Nikhil-Nandagopal commented on #9249
@jmaister that seems odd, the ordering is done at the query level so it should always order and only then apply the limit like a standard SQL query. Could you share the evaluated value of the query and which SQL database are you using?

Great job with the defaults, they are needed. We have an issue to pick the defaults from the UI itself. But for now this was correct

[2021-11-22 17:51] jmaister commented on #2033
If it is as straightforward as extending a React component, it would be easy to contribute to the palette of widgets with third-party widgets from other repositories.

Adding them as plugins on the AppSmith deployment.

[2021-11-22 18:53] #6968 closed

[2021-11-22 20:20] jmaister commented on #9249
I don't know what happened when I was testing it. Finally, my query works well and it looks like this:

[code]

I am using MySQL.

This is the generated query: `select * from drivers order by name asc limit 4 offset 0`

[2021-11-23 02:24] sharat87 opened #9285 "[Bug]: Incorrect redirect url when fat container is run behind an SSL-terminating reverse-proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When Appsmith is running as a fat container behind a reverse-proxy that does SSL termination, like another NGINX, or Caddy, or AWS ALB, the redirect URLs generated by Appsmith use the `http:` scheme, instead of the `https:` scheme. This causes the redirect URL to be treated as invalid by the

[2021-11-23 02:45] #9285 closed

[2021-11-23 04:09] #8846 closed

[2021-11-23 05:05] SatishGandham opened #9288 "[Bug]: Nav bar doesn't show up on hidden pages in view mode."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behaviour

When a page is hidden and when you view it, the nav bar/page tabs isn't shown. There is no way to go to other pages.

### Expected Behaviour
Show the nav bar on hidden pages as well.

### Steps To Reproduce

- Add two pages
- Hide one page
- Goto the hidden page, navbar isn't shown

### Envi

[2021-11-23 05:06] shwetha-ramesh commented on #8789
When permission is denied and enabled again, if the browser is refreshed the changes are applied.

[2021-11-23 05:07] shwetha-ramesh commented on #8789
@wmdev0808 When permission is denied and enabled again, if the browser is refreshed the changes are applied

[2021-11-23 05:07] #8789 closed

[2021-11-23 05:42] Nikhil-Nandagopal commented on #9288
@SatishGandham this is expected since this is marked as an internal page outside the navigation hierarchy. It's used for login pages

[2021-11-23 05:42] #9288 closed

[2021-11-23 05:42] sentry-io[bot] opened #9289 "[Bug] TypeError: Cannot read properties of null (reading 'label')"
Sentry Issue: [APPSMITH-1CX](https://sentry.io/organizations/appsmith/issues/2808172301/?referrer=github_integration)

[code]

[2021-11-23 05:52] Parthvi12 opened #9290 "[Task]: Fixed cypress script for PgAdmin App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-11-23 05:53] #9077 closed

[2021-11-23 06:23] #5980 closed

[2021-11-23 06:23] #8476 closed

[2021-11-23 06:55] ohansFavour commented on #7114
Constructor classes or functions will not be removed from the hint as they can be used with the new keyword, like "new Function()". However, objects that represent 'interfaces' will be removed.

[2021-11-23 08:01] #6576 closed

[2021-11-23 09:28] riodeuno commented on #2033
@jmaister We have a [contribution guide](https://github.com/appsmithorg/appsmith/blob/release/contributions/AppsmithWidgetDevelopmentGuide.md), which has a video demonstrating the mechanism in which we can convert a component into an Appsmith Widget.

The process is similar to what you have suggested.

[2021-11-23 09:40] #5606 closed

[2021-11-23 09:49] ramsaptami opened #9298 "[Bug]: Errors in debugger are duplicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Debugger errors are duplicated and appear twice making the list appear larger than it is. This does not happen always but starts to appear more often while in-line editing. In the example seen in the screenshot, callSpongebob() appears only twice in the code but debugger shows it double that

[2021-11-23 10:47] prapullac opened #9299 "[Bug]: S3 Amazon : Delete icon must be added as a option instead of Cross mark"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the where clause is added to the  "fetch method"  the delete icon is displayed with a cross mark (X). It is important that we have consistency over all the application

### Steps To Reproduce

1) navigate to S3 add credentials
2) navigate to create "fetch method"
3) scroll down to where

[2021-11-23 11:00] prapullac opened #9300 "[Bug]: S3 : Move the deleting icon to the top of the Group Filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the Group filter is added to where Clause it is observed that the delete icon is at the bottom of the filter and leads to confusion posing it on the top of the would help us understand better

### Steps To Reproduce

1) Navigate to S3 query
2) Add a "fetch method"
observe the delete icon

[2021-11-23 11:06] prapullac opened #9301 "[Bug]: S3 : Evaluated value is remains "undefined" even on appropriate value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the data is added into any field of where clause the evaluated value is defined as "undefined".

### Steps To Reproduce

1) Add a Fetch method in S3
2) navigate to where clause
3) Add an appropriate value to the field
and observe the evaluated value

![Screenshot 2021-11-23 at 4 34 06 PM

[2021-11-23 11:06] mohanarpit commented on #8995
TODOs:
- [ ] How to access the downloaded React profile file from headless Chrome browser
- [ ] Test out React profile on headless browser
- [ ] Test out non-headless chrome browser on an EC2 instance
- [ ] Check standard deviation of metrics that are tracked across runs

[2021-11-23 11:19] aswathkk commented on #9289
Steps to reproduce:
1. Add a new radio group widget
2. Open property pane, change the value of "Y" field to `{{moment()}}`
3. Insert new option. Change the value of new option to `{{moment()}}`

https://user-images.githubusercontent.com/10436935/143015186-0b08033e-05c3-4a02-801d-ef7200ec04d5.mov

[2021-11-23 11:23] prapullac opened #9302 "[Bug]: S3 : First filter must be not be allowed to delete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the S3 fetch method is added it is observed that the first where clause can be deleted and the condition remains on undeleted. Making this UI difficult

### Steps To Reproduce

1) Add Query S3 fetch method
2) Add a Group filter
3) Delete 1st where clause
4) and observe
![Screenshot 2021-

[2021-11-23 11:31] ramsaptami commented on #2862
Reopening this issue since freshly cloned apps are unable to handle single backslash on new line character. The others, `\b` `\t` work as expected.
![image](https://user-images.githubusercontent.com/79509062/143016798-7b4e3c88-4dac-47fa-8211-b0167d036720.png)

[2021-11-23 12:08] vicky-primathon commented on #8363
cc: @riodeuno

[2021-11-23 14:04] mohanarpit opened #9305 "[Bug]: Allow removing of files from the FilePicker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using the file picker in a form, if I erroneously select a wrong file for upload, I can't de-select & choose another file from my file system. I have to refresh the entire page causing me to lose all the data that I've already filled out in the form. This is cumbersome to do.

### Steps

[2021-11-23 14:10] #8527 closed

[2021-11-23 14:42] prapullac opened #9306 "[Bug]: S3 : The condition is not displayed completely in Firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The where clause condition under fetch Method is not displayed appropriately to the user
The condition is truncated displayed.

### Steps To Reproduce

1) Add fetch method
2) Navigate to where clause
3) observe the condition
it is truncated only in Firefox browser
![image](https://user-images

[2021-11-23 15:42] ApekshaBhosale commented on #9252
Not able to reproduce this now.

[2021-11-23 16:45] #9044 closed

[2021-11-23 23:57] ahmadalibaloch commented on #3523
@Nikhil-Nandagopal

[2021-11-24 03:47] eco-monk commented on #9011
@Nikhil-Nandagopal.
I had a discussion with @hetunandu.

We'll be working on a feature that allows users to set meta properties of a widget.
https://github.com/appsmithorg/appsmith/issues/3532

We should be able to use this to reset `text` on buttonClick, instead of using `defaultText` and `appsmith.store`.
(Using form reset is also another option)

---

About using `appsmith.store`.
When `storeVa

[2021-11-24 04:20] #9121 closed

[2021-11-24 04:43] #9168 closed

[2021-11-24 05:15] SatishGandham opened #9309 "[Feature]: Add support for layers on maps widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add support for layers on maps widget.
Layers are a container for geo spatial data. You can display any kind of geo spatial data by passing it in json format.

https://developers.google.com/maps/documentation/javascript/layers

### Why should this be worked on?

It's a common use case.

[2021-11-24 05:24] vivekverma2312 opened #9310 "[Bug]: Button name of default column changes when On click property for action column is deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f7b0cfdc245b46008c1008fe863e532d-00001.gif)](https://www.loom.com/share/f7b0cfdc245b46008c1008fe863e532d)

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/46f95892ac6e4e938a58440f426a562d-00001.gif)](https://www.loom.com/share/46f958

[2021-11-24 05:27] albinAppsmith commented on #8578
This issue is fixed in https://github.com/appsmithorg/appsmith/pull/7361 by Pawan. The same is in release now.

[2021-11-24 05:27] #8578 closed

[2021-11-24 05:38] vivekverma2312 opened #9312 "[Bug]: Horizontal scroll is available on Table widget by default for Header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="730" alt="Screenshot 2021-11-24 at 10 56 47 AM" src="https://user-images.githubusercontent.com/83569920/143180809-a44e609d-fe5c-47e5-88f7-7a980a92ce47.png">

### Steps To Reproduce

1. Drag and drop Table widget
2. Observe that by default horizontal scroll is coming for table head

[2021-11-24 05:59] RakshaKShetty opened #9314 "[Bug]: The dropdown alignment is broken on the Crud page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- [ ] The dropdown alignment is broken on the Crud page
- [ ] This generate page has padding issues as well. The new generate page has less gap between the form title and dropdown.

![image](https://user-images.githubusercontent.com/45958978/143183022-d640841c-8c93-490b-aa92-d6666e4d093d.png)

[2021-11-24 06:06] vivekverma2312 opened #9315 "[Bug]: Button size inside the Table widget has increased"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Uploading Screenshot 2021-11-24 at 11.19.10 AM.png…]()

### Steps To Reproduce

Drag and drop a table widget and observe that the button widget size changed inside the Table widget

### Environment

Release

### Version

Cloud

[2021-11-24 06:08] RakshaKShetty opened #9316 "[Bug]: The delete button is broken in generated crud pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Delete button is broken in Crud Pages
![image](https://user-images.githubusercontent.com/45958978/143183748-5d503e91-3e40-461c-bed7-9f6317953867.png)

### Steps To Reproduce

1. go to the Active tab
2. Click on generate the page
3. Select the datasource from the datasource dropdown
4. sel

[2021-11-24 06:14] ramsaptami opened #9317 "[Bug]: JS objects are loaded with default error for promise search and functions are automatically run on load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Functions of a JS objects are automatically run when app is loaded and when the JS object loads, it throws an error that's seen on browser console.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/0daecc30fb2c4143bf244e7eb2d5fb33-00001.gif)](https://www.loom.com/share/0daecc30fb2c4143bf

[2021-11-24 06:42] RoopKrrish9696 commented on #7758
**Final Flow & UI Link ( In progress - signing off content & UI )**
https://www.figma.com/file/iABPoDneYyyKasVz9bRGRx/New-FTU-OB-Experience?node-id=1221%3A36301

**Deploy Preview Link from ( Started off with basic flow )**
https://deploy-preview-9125--appsmith-editor-ce.netlify.app/

**Next Action Items:**

@RoopKrrish9696 @areyabhishek  to finalise content & UI , and share developer handoff

@aka

[2021-11-24 06:44] shwetha-ramesh opened #9319 "[Bug]: Organization menu options are not aligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The menu options at the extreme right of every organization when maximized the options are not aligned.

![image](https://user-images.githubusercontent.com/92293815/143187402-452ec004-aa43-4821-9e6f-20eba81dd0a2.png)

Expected : Menu options must be aligned

### Steps To Reproduce

1. Go to h

[2021-11-24 06:52] RakshaKShetty opened #9320 "[Bug]: The search filter result alignment is broken inside the snippets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The search filter result  alignment  is broken inside the snippets
![image](https://user-images.githubusercontent.com/45958978/143189093-68ff27fd-279f-4ef7-ba53-c6ec5d7f0630.png)

### Steps To Reproduce

1. Go to the Active  Datasource page
2. Click on a new query for mongo database
3. Clik o

[2021-11-24 06:53] jsartisan commented on #9320
@RakshaKShetty I'll fix this one too. this is due to the introduction of tailwind and global style updates.

[2021-11-24 07:08] YogeshJayaseelan opened #9321 "[Bug]: The Tablet(large) and the Tablet icon looks similar in the canvas size change section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that the same icon is displayed for Tablet(Large) and Tablet option in the canvas size change section
<img width="1680" alt="Screenshot 2021-11-24 at 12 34 10 PM" src="https://user-images.githubusercontent.com/35128442/143191136-187da401-37cc-49c4-ad77-659eb5a977c4.png">

### S

[2021-11-24 07:23] Nikhil-Nandagopal commented on #3523
@ahmadalibaloch can you invite nikhil@appsmith.com to your app? I need access to the edit mode to see what is going wrong here

[2021-11-24 07:25] Nikhil-Nandagopal commented on #9305
@mohanarpit can you help with a video to reproduce this? It's working for me as seen below

https://user-images.githubusercontent.com/3897254/143193358-e320c740-b7dc-4665-b002-fc223dcd1b33.mov

[2021-11-24 07:27] ramsaptami opened #9322 "[Bug]: Profile pic error on console when home page is loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Browser console shows errors when display pic of users in not found.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2b646192610b4f7b908cb2daa19a02cc-00001.gif)](https://www.loom.com/share/2b646192610b4f7b908cb2daa19a02cc)

### Steps To Reproduce

1. Go to app.appsmith.com and open up

[2021-11-24 07:31] mohanarpit commented on #9305
Sorry, unable to reproduce now. Closing this issue till I see it happen again. There is definitely some corner case where the problem is being triggered, but unable to figure out what.

[2021-11-24 07:31] #9305 closed

[2021-11-24 07:37] ramsaptami commented on #8663
Another instance of this happening
https://www.loom.com/share/fb10728ecec0473bbb12e929f024e793

[2021-11-24 07:40] YogeshJayaseelan opened #9326 "[Bug]: CheckboxGroup widget - When the entire option values are removed the widget disappears when user clicks anywhere on the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the checkboxgroup widgets entire option value is removed, the widget disappears when the user clicks anywhere on the canvas. Only on mouse hovering on the are where the widget is initially placed then the widget appears

https://loom.com/share/d88d8c3a02b54ab5b96c2b79

[2021-11-24 07:45] sbalaji1192 opened #9327 "[Bug]: [Admin settings] Can sign up when Form signup setting is enabled to only allow invited user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm able to signup with an uninvited email id even when `Allow only invited user to signup` is enabled on the admin settings page.

### Steps To Reproduce

1. Enable `Allow only invited user to signup` on the admin settings page under the authentication tab.
2. Signup with an uninvited email.

[2021-11-24 07:48] shwetha-ramesh opened #9328 "[Bug]: 'Invite Users' table appears distorted when character count for Display name is more than 70 characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we assign a Display name higher than 70 characters the 'Invite Users' table appear distorted i.e., the columns and their values do not appear aligned

P.S: Noted that in real case users might not assign such long display names, and this can be 1 in 1000 scenarios.

https://loom.com/share

[2021-11-24 07:49] sbalaji1192 opened #9329 "[Bug]: [Admin settings] Send test email button should use entered credentials to send test email"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`Send Test email` button in admin settings' Email section, currently uses pre-configured email details to send the test email. It should instead use the configuration that was just entered before clicking this button.

### Steps To Reproduce

1. Start a new Appsmith instance with

[code]

[2021-11-24 07:51] ramsaptami opened #9330 "[Feature]: Highlight keyword reoccurrence on JS editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When user highlights any keyword by double clicking or selecting via cursor drag then other occurrences of that keyword should also highlights as other IDE's tend to do (screenshot attached shows VS and Eclipse)

This visually helps locating areas where those keywords are used while scrolling through

[2021-11-24 07:54] areyabhishek commented on #9326
This doesn't seem to be a bug. If there's no data, then the widget will be empty. Look at the text widget, iframe widget, image widget, etc. I'll close this issue

[2021-11-24 07:54] #9326 closed

[2021-11-24 08:04] YogeshJayaseelan opened #9331 "[Bug]: Connection to establish data is not shown for Button and Audio recorder widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that the connection to data option is not displayed in the property pane of button and audio recorder widget

**List of Widget that doesn't have data connection option:**
1.Button widget
2.Audio Recorder
3.FilePicker
4.Iframe

https://loom.com/share/e81efdae59f44f43a76be9c7f405

[2021-11-24 08:11] YogeshJayaseelan commented on #9326
@areyabhishek But when the data is removed for MultiSelectTree, MultiSelect, TreeSelect or select widget - Still the widget remains.

[2021-11-24 08:39] mohanarpit commented on #3586
Since Appsmith is run inside a Docker container on an EC2 instance, the container can't access the EC2 instance role directly. In order to accomplish this, we'll have to use a tool like [metadataproxy](https://github.com/lyft/metadataproxy) which will proxy all such invocations from inside the container & fetch the appropriate creds from the EC2 role.

Read more details at: https://eng.lyft.com/sc

[2021-11-24 08:59] ajinkyakulkarni opened #9332 "Enable onPageLoad js functions"

[2021-11-24 09:10] vivekverma2312 opened #9333 "[Bug]: Not able to click on iframe app when on edit mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c360d6d976744919ba8b301480860b71-00001.gif)](https://www.loom.com/share/c360d6d976744919ba8b301480860b71)

### Steps To Reproduce

1. Drag and drop iframe widget
2. Change the URL to `https://en.wikipedia.org/wiki/Wiki`
3. Try clicking on

[2021-11-24 09:14] RakshaKShetty opened #9334 "[Bug]: Select query fails on crud when the user switches between the pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Select query fails on crud when the user switches between the pages
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/df79137264b341f2955bdee6542bd2a8-00001.gif)](https://www.loom.com/share/df79137264b341f2955bdee6542bd2a8)

### Steps To Reproduce

1. Generate a crud page
2. Now creat

[2021-11-24 09:23] tmdoit commented on #9253
Issue can be closed, I see that it is fixed, thanks for your support.
![Zrzut ekranu 2021-11-24 o 10 21 18](https://user-images.githubusercontent.com/85706044/143210360-a2cc43ef-f3f2-4155-88c3-3176d014e56a.png)

[2021-11-24 09:28] Nikhil-Nandagopal commented on #3523
@ahmadalibaloch I am looking at your response and I don't see a current_month_bill or bill_main in the document. Could you tell me which date should I look for?

[2021-11-24 09:29] #9253 closed

[2021-11-24 09:29] vivekverma2312 opened #9336 "[Bug]: Alignment of selected and unselected stars in rate widget is not same"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="338" alt="Screenshot 2021-11-24 at 2 56 21 PM" src="https://user-images.githubusercontent.com/83569920/143211234-5bbf4193-72a1-492a-ac92-ecce6c81bf6d.png">

<img width="895" alt="Screenshot 2021-11-24 at 3 02 36 PM" src="https://user-images.githubusercontent.com/83569920/143212207

[2021-11-24 09:46] ahmadalibaloch commented on #3523
Ok the problem was to create a dynamic db path, the path should be calculated in a method. Thanks @Nikhil-Nandagopal for live support!

[2021-11-24 09:57] #9312 closed

[2021-11-24 10:01] megaconfidence opened #9338 "[Bug]: Breaking UI For Authenticated API Details Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The UI for authenticated API details page is broken when a header with a really long value is set
This can be fixed with a little CSS or truncating the value.

Here's a video to describe the current behavior:

https://user-images.githubusercontent.com/17744578/143216746-3e3f9247-b690-4b56-92c

[2021-11-24 10:01] cokoghenun commented on #9338
@Nikhil-Nandagopal I'd like to work on this

[2021-11-24 10:07] mohanarpit opened #9339 "[Bug]: 404 page image alignment is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If you visit an invalid application on Appsmith, the platform will display a 404 page. On this page the image alignment is incorrect.

### Steps To Reproduce

1. Visit any incorrect link on Appsmith platform
2. See the page.

### Environment

Release

### Version

Cloud

[2021-11-24 10:20] prapullac opened #9340 "[Bug]: JS editor : the run UI on the response is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The RUN icon present in the Js editor is broken

### Steps To Reproduce

1) Navigate to JS editor
2) Add a JS function
3) observe the Run icon in the response body

![Screenshot 2021-11-24 at 3 40 16 PM](https://user-images.githubusercontent.com/71753653/143219868-c088bbfb-e4c1-4e3d-bd31-baf1

[2021-11-24 10:29] nidhi-nair opened #9341 "UQI v2"

[2021-11-24 10:39] nidhi-nair commented on #7107
Should be covered by #6591

[2021-11-24 10:39] #7107 closed

[2021-11-24 10:41] Nikhil-Nandagopal commented on #9338
@cokoghenun go for it!

[2021-11-24 10:46] Nikhil-Nandagopal commented on #9011
@eco-monk you are right, the default text has not changed in this case so this is not valid

[2021-11-24 10:46] #9011 closed

[2021-11-24 10:46] sharat87 opened #9342 "[Bug]: Alignment of point numbers in welcome page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Numbers in list points are misaligned in the welcome page forms.

### Steps To Reproduce

Start a new fat container with the following command:

[code]

Now open <http://localhost:8001> and try go through the welcome form. See that the pointer numbers are misaligned as in the following screen

[2021-11-24 10:46] aswathkk opened #9343 "[Bug]: Alignment issue on Organization menu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot 2021-11-24 at 4 14 17 PM](https://user-images.githubusercontent.com/10436935/143224103-904669bb-75ba-4347-b01b-89e10f535bbf.png)

### Steps To Reproduce

1. Goto /applications
2. Open organization menu by clicking on '...' icon

### Environment

Release

### Version

Cloud

[2021-11-24 10:50] rashmi-rai commented on #2717
we have a related issue here https://github.com/appsmithorg/appsmith/issues/8303

[2021-11-24 10:52] nidhi-nair opened #9344 "[Feature]: Add delete row method for Google Sheets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add delete row method for Google Sheets

### Why should this be worked on?

This is one of required methods for UQI

[2021-11-24 10:58] nidhi-nair commented on #3779
@rashmi-rai @ayushpahwa We need to tag this issue to the relevant PR.

[2021-11-24 10:59] RakshaKShetty opened #9345 "[Bug]: The document alignment is broken inside the Omni bar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The document alignment is broken inside the Omni bar
![image](https://user-images.githubusercontent.com/45958978/143225456-e31aa2d3-126f-47a4-84bd-f099c3d2ad74.png)

### Steps To Reproduce

1. Go to the datasource page
2. click on the Documentation link
3. Verify the display of data inside th

[2021-11-24 11:05] nidhi-nair commented on #5137
Closing this as verified @Irongade

[2021-11-24 11:13] #5584 closed

[2021-11-24 11:16] tmdoit opened #9346 "[Bug]: Select widget if set to required on initial state has red border"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When accessing the page where "Select" widget is configured to be required it's highlighted with the red border. The widget should be highlighted with the red border after using it, not on its initial state.

### Steps To Reproduce

1. Drop "Select" widget on canvas
2. Set it to be required
3

[2021-11-24 11:16] nidhi-nair commented on #5710
@rashmi-rai to be linked to the ADS PR

[2021-11-24 11:16] rishabhrathod01 opened #9347 "[Bug]: Docked property pane space is empty in comment mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1280" alt="Screenshot 2021-11-24 at 4 12 56 PM" src="https://user-images.githubusercontent.com/23132741/143228009-7937885d-5a44-4c4c-ba46-eae6019cd932.png">

- [ ] In preview mode, “Drag & Drop Widget here” seems to be an incorrect message as we do not allow users to do that.

###

[2021-11-24 11:17] tmdoit commented on #9346
I believe that it was broken with the latest update.

[2021-11-24 11:20] nidhi-nair commented on #5990
Should be handled by enabling support for binary data instead. Closing in favour of #8431

[2021-11-24 11:20] #5990 closed

[2021-11-24 11:24] nidhi-nair opened #9348 "[Feature]: Pagination UQI component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

New component to be used with offset and limit options.

### Why should this be worked on?

This should make using paginations across plugins have the same experience.

[2021-11-24 11:27] aswathkk commented on #9343
Duplicate of https://github.com/appsmithorg/appsmith/issues/9319

[2021-11-24 11:27] #9343 closed

[2021-11-24 11:28] nidhi-nair commented on #7874
Closing as this has already been resolved.

[2021-11-24 11:28] #7874 closed

[2021-11-24 11:31] nidhi-nair commented on #9220
@sumitsum could you please provide more information on this?

[2021-11-24 11:33] nidhi-nair commented on #9223
@rashmi-rai Please link this to the ADS PR

[2021-11-24 11:33] ramsaptami opened #9349 "[Enhancement]: Option to recover an app that's gone into a bad state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently we don't have a way we to salvage an app that's gone into a bad state. Deletion is the only choice but not the best one for a user. We need a way to debug root cause and/or revert to previous working state.

An example is this [app](https://app.appsmith.com/applications/6193627543aa

[2021-11-24 11:52] Rishabh-Rathod opened #9350 "[Bug]: comments width UI issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="734" alt="Screenshot 2021-11-24 at 4 56 11 PM" src="https://user-images.githubusercontent.com/23132741/143233452-317c2704-0cc7-4685-a67d-78604d277f3f.png">

### Steps To Reproduce

1. Go to any Appsmith application in editor mode
2. Switch to comment mode
3. Add comments with huge

[2021-11-24 11:53] prapullac opened #9351 "[Bug]: Google Where clause displays an error when data has a comma in the fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user has comma added into the sheet the where caluse disaplys an error

### Steps To Reproduce

1) Authorize the Google sheet
2) Add a Fetch method
3) Scroll down to add Where caluse
4) Click on RUN
and observe an error

Note : Just a simple fetch method would fetch entire data only

[2021-11-24 12:11] nidhi-nair commented on #7229
@prapullac Could you please retest these on release to check if these are still valid?

[2021-11-24 12:12] nidhi-nair commented on #3951
@trishaanand is this the same as dynamic triggers?

[2021-11-24 12:13] nidhi-nair commented on #3121
@Nikhil-Nandagopal we do not have collapsible sections on the query editor as per UQI designs today. Do we want to extend scope to add this to UQI?

[2021-11-24 12:25] #9315 closed

[2021-11-24 12:25] #9319 closed

[2021-11-24 12:25] #9320 closed

[2021-11-24 12:25] #9333 closed

[2021-11-24 12:25] #9314 closed

[2021-11-24 12:25] #9350 closed

[2021-11-24 13:33] ApekshaBhosale commented on #8535
@ramsaptami this is fixed. can you confirm so that we can close this?

[2021-11-24 13:35] ApekshaBhosale commented on #8848
@ramsaptami is this happening on API page as well? can you confirm this?

[2021-11-24 13:37] ApekshaBhosale commented on #8018
this was problem with public apps. it's solved now!

[2021-11-24 13:37] #8018 closed

[2021-11-24 13:38] cokoghenun commented on #9146
@sbalaji1192 Is the filepicker widget included in this change?

[2021-11-24 13:40] ApekshaBhosale commented on #6875
Duplicate #9110

[2021-11-24 13:40] #6875 closed

[2021-11-24 13:45] ramsaptami opened #9355 "[Bug]: Prompt is occasionally displayed to user to refresh page after prod has been updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

App shows a prompt to inform user that Appsmith has been updated and a page refresh is needed. This happens occasionally when a new app is created or when user navigates back to home page and repeats more than once even after actions that involve page refresh has taken place.

[![LOOM DEMO](h

[2021-11-24 14:18] Rishabh-Rathod commented on #9334
Related to https://github.com/appsmithorg/appsmith/issues/9102

[2021-11-24 14:31] nidhi-nair opened #9357 "[Feature]: Add ability to choose a default action for SaaS Integrations created with the Saas Manager App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow contributors to choose which action should be populated by default in list of actions for a SaaS integration.

### Why should this be worked on?

This lets users see a populated query editor instead of a blank slate.

[2021-11-24 14:33] nidhi-nair opened #9358 "[Feature]: Add feature to reorder available actions in a SaaS Integration through the SaaS Manager App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, all actions are sorted by creation date and that is how they appear in the editor to the end user. We should let the contributor re-arrange these actions to make it more user-friendly, irrespective of the order in which these actions were created.

### Why should this be worked on?

This al

[2021-11-24 14:52] #9327 closed

[2021-11-24 22:18] crystalnoir opened #9359 "[Feature]: Airtable Connexion"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

A database that is very used in the "no code" sphere. Airtable is a good way to have a database with multiple views.

### Why should this be worked on?

Airtable is a reference in cloud databases for no code / low code projects. It's a simple way to have a database with some relationship easily.

[2021-11-25 04:32] RakshaKShetty commented on #3199
Adding the Testplan Link here for reference https://docs.google.com/spreadsheets/d/1bLZb7lDy8CySKa0oByFUS7ICw3BWfnMKZxqqwr8dxHE/edit#gid=0\

[2021-11-25 05:18] sbalaji1192 commented on #9146
@jsartisan Could you answer the question above?

[2021-11-25 05:37] Nikhil-Nandagopal commented on #9359
Hi @crystalnoir 👋 Thank you for the feature request. We have this issue tracked here #801
You can follow it for updates :)

[2021-11-25 05:37] #9359 closed

[2021-11-25 05:43] sentry-io[bot] opened #9362 "[Bug] EncodingException: JSON encoding error: Null key for a Map not allowed in JSON (use a converting NullKeySerializer?)..."
Sentry Issue: [APPSMITH-1D8](https://sentry.io/organizations/appsmith/issues/2813937991/?referrer=github_integration)

[code]

[2021-11-25 05:44] Nikhil-Nandagopal commented on #5868
This is happening again

[2021-11-25 05:53] Nikhil-Nandagopal commented on #3121
@nidhi-nair right this is no longer valid

[2021-11-25 05:53] #3121 closed

[2021-11-25 05:54] Nikhil-Nandagopal commented on #9355
@ramsaptami does this happen even after you clicked on the refresh option?

[2021-11-25 06:00] ramsaptami commented on #9355
It doesn't repeat after clicking on refresh, no. Though it appears after a page refresh action like, when the page loads after navigating back to the home page

[2021-11-25 06:37] ramsaptami commented on #8535
non-existent function of a JS object bound to a widget is not showing up for lint error which used to happen before
![image](https://user-images.githubusercontent.com/79509062/143391150-b27348b7-e58f-40d2-bd2d-1f0577e462b3.png)

[2021-11-25 06:44] sumitsum commented on #2717
@rashmi-rai is #8303 related to `UQI` ? The issue here talks about defining the `isRequired` tag in `UQI` in case it has not been done yet.

[2021-11-25 06:49] jsartisan commented on #9146
@cokoghenun @sbalaji1192 Yes. The file picker widget will be also enhanced as well with theming.

[2021-11-25 06:57] ApekshaBhosale commented on #8535
can you please mention on which env is this happening? @ramsaptami

[2021-11-25 06:58] ramsaptami commented on #8535
This is on release

[2021-11-25 06:59] ApekshaBhosale commented on #8663
can you add me to the app? or if any way we can reproduce this? @ramsaptami

[2021-11-25 07:00] sumitsum commented on #9223
Hi @parth-appsmith I had the following use cases in my mind:
- Query / Db configuration form: User lands on the configuration page. They see a number of fields. Some of them are not easily comprehensible. So we provide a question mark icon next to these fields with details regarding what the field does and how to fill in the configuration.
- Introducing new features: Say we introduce a new setting

[2021-11-25 07:06] ramsaptami commented on #8663
You've been added to the [org](https://release.app.appsmith.com/applications/6197a8259ed8cc336f0efc71/pages/6197a8259ed8cc336f0efc75/edit). I'll ping you when I come across it again so we can get on a call to debug

[2021-11-25 07:11] sumitsum commented on #5668
Thanks @billyrudi and @ahmadalibaloch for bringing these use cases to our notice 🙌 . We will try to incorporate these libraries in v1 of this feature release.

[2021-11-25 07:14] ApekshaBhosale opened #9365 "[Task]: Explore new format for multiple exports in js editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

User should be able to write multiple functions with the export
Example:
function sum(a, b) {
  return a + b
}

function mul(a, b) {
  return a * b
}

export { sum, mul }
[code]

[2021-11-25 07:17] ApekshaBhosale commented on #6539
This is expected if a user is not returning the value we won't be able to show anything. @Nikhil-Nandagopal should we show some message or note?

[2021-11-25 07:30] aswathkk opened #9367 "[Bug]: Docked property pane drag to expand is having some glitches"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://user-images.githubusercontent.com/10436935/143398139-862fff75-2408-4740-9786-5bd9f860b841.mov

### Steps To Reproduce

Try expanding property pane by dragging. Moving mouse to top or bottom direction also expands the property pane

### Environment

Release

### Version

Cloud

[2021-11-25 07:35] ApekshaBhosale commented on #9340
@parth-appsmith we are going to change the design itself rigth?

[2021-11-25 07:38] ApekshaBhosale opened #9368 "[Task]: Show variables in response tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- show declared variable in an object in response tab

[2021-11-25 07:39] ApekshaBhosale commented on #9340
task - show response for sync function by default

[2021-11-25 07:57] ramsaptami commented on #8848
@ApekshaBhosale Yep, still happens

[2021-11-25 08:12] mohanarpit opened #9369 "[Feature]: Add Ctrl + / shortcut for comments in JS Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When writing code, using the `Ctrl + /` shortcut is very useful to mark a line as a comment or move it back to code. Request to please add this shortcut handling in Appsmith JS Editor.

### Why should this be worked on?

Shortcuts make code writing a lot faster & simpler. Hence, adding some well known

[2021-11-25 08:14] ApekshaBhosale commented on #8968
@ramsaptami can we make this issue more generic to take care of all scenarios please?

[2021-11-25 08:18] ApekshaBhosale commented on #8703
Duplicate #8663

[2021-11-25 08:18] #8703 closed

[2021-11-25 08:37] ramsaptami opened #9370 "[Feature]: Introduce a carousel widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The most obvious use of this widget would be to display visual content like images or videos in a carousel/slide format that most of us are used to seeing.

In addition to displaying images, this widget can be used for different states of a text/input widget for example when a user is logged in versus

[2021-11-25 08:52] cokoghenun opened #9372 "[Bug]: JS Objects Don't Get Copied Over When An App Is Duplicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

JS objects are not copied over when an application is duplicated. But this issue does not exist when an app is forked or exported

### Steps To Reproduce

1. Create an app
2. Create a JS object file
3. Duplicate the app
4. In the duplicated app, the JS object file does not exist

### Environm

[2021-11-25 09:26] #8127 closed

[2021-11-25 09:26] vicky-primathon commented on #8127
cc @Tooluloope  Default tab property of parent tabs widget was binded to child widget's selected tab. So, whenever user changes tab of nested tabs widget it changes selected tab in parent widget.

[2021-11-25 09:29] #9289 closed

[2021-11-25 09:45] Nikhil-Nandagopal commented on #9369
FYI this conflicts with the open / close of the entity explorer. @jsartisan we should change the shortcut for that

[2021-11-25 09:51] rashmi-rai commented on #2717
@sumitsum It was part of UQI epic and was intended to be picked along with UQI component dev.

[2021-11-25 10:02] RakshaKShetty commented on #9209
- [ ] after generating the deploy key before clicking on connect close the pop-up and open it again the Remote URL is not visible in the input box
- [ ] The error alignment in the merge tab needs to be fixed

[2021-11-25 10:05] sumitsum commented on #2717
Closing in favor of #8303.

[2021-11-25 10:05] #2717 closed

[2021-11-25 10:34] hetunandu opened #9374 "[Bug]: Bindings get cleared when moving/copying action to another page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Copy/Move action to another page removes bindings

### Steps To Reproduce

1. Create action and add some bindings to it
2. Move it to another page
3. Notice the binding gets cleared

### Environment

Production

### Version

Cloud

[2021-11-25 10:51] jsartisan opened #9375 "[Bug]: Select widget with filtering on has weird width issue for options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/6636360/143428200-f4c59171-2611-498d-a6cf-b8673fbe64cf.png)

### Steps To Reproduce

1. Drop a select widget
2. Enable filtering option
3. Reduce the width of the select widget
4. Notice the width of options

### Environment

Production

###

[2021-11-25 10:52] #8802 closed

[2021-11-25 11:13] ajinkyakulkarni commented on #9334
Related https://github.com/appsmithorg/appsmith/issues/9096

[2021-11-25 11:13] sharat87 opened #9377 "[Feature]: Custom domain should be configuration from Admin Settings UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The custom domain should be configurable from the Admin settings page with the env variable name `APPSMITH_CUSTOM_DOMAIN`. This needs changes both in the backend to whitelist this env variable for admin settings, and in the client to add the form field for setting the custom domain.

### Why should th

[2021-11-25 11:19] ramsaptami commented on #7830
Deleted page comment consistently brings up resource not found message hence closing this issue

[2021-11-25 11:19] #7830 closed

[2021-11-25 11:37] sumitsum opened #9380 "[Bug]: Migrate s3 `dynamicBindingPathList` to UQI for `published` actions."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- As part of S3 migration to UQI `dynamicBindingPathList` for `unpublished` actions were migrated to `UQI` convention. Need to do the same for `published` actions.

### Steps To Reproduce

1. Check out the migration code for s3 UQI migration.

### Environment

Production

### Version

Cloud

[2021-11-25 11:38] shwetha-ramesh opened #9381 "[Bug]: New button appears at first and then moves to the last row in button group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Observed this in Button group widget, when user adds a new button in property pane the new button that gets created appears at first and then moves down to the last row. This behavior happens in a split second (as seen in the video)

Also seen in table widget while adding new columns.

https:

[2021-11-25 12:28] sentry-io[bot] opened #9382 "[Bug] TypeError: Cannot read properties of undefined (reading 'data')"
Sentry Issue: [APPSMITH-123](https://sentry.io/organizations/appsmith/issues/2588873175/?referrer=github_integration)

[code]

[2021-11-25 12:32] Nikhil-Nandagopal commented on #6539
@ApekshaBhosale good point. For sync functions this is a nonissue and for async, I think we have a default state to run so this may no longer be needed

[2021-11-25 13:00] Nikhil-Nandagopal commented on #3224
This happened again

[2021-11-25 13:17] Nikhil-Nandagopal commented on #9355
This is expected because app updates can cause crashes unless a hard refresh happens and normal refresh will generally return the cached version of the app so only clicking it will trigger a hard refresh

[2021-11-25 13:17] #9355 closed

[2021-11-25 13:18] #7843 closed

[2021-11-25 14:08] jean-jacket opened #9384 "[Bug]: Debugger shows incorrect message for toast type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The debugger says `Toast type needs to be a one of success, info, warning, danger` but `danger` doesn't work. After some trial it seems `error` works. So the message in the debugger is wrong.

### Steps To Reproduce

1. Call the `showAlert` function with `danger` as the type. (`showAlert("Err

[2021-11-25 16:24] sumitsum commented on #9380
Closing since it seems that the on page load actions are persisted in the layout and are re-used as such for the view mode i.e. published actions never compute on page load actions - only unpublished actions do.

[2021-11-25 16:24] #9380 closed

[2021-11-25 16:52] NandanAnantharamu opened #9386 "[Bug]: "Get started" popup intermittently missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

First time onboarding use-case we notice a intermittent behaviour of popup not coming up an

### Steps To Reproduce

1. Initiate a first time onboarding with a unique id
2. Check redirection post signup
3. Check for the introduction modal build button and click.
4. Click on the Welcome tour b

[2021-11-25 17:28] practical-programmer commented on #9372
I faced the same issue. Workaround is to export, change name and import application json

[2021-11-25 17:45] sbalaji1192 commented on #9377
@nayan-rafiq
Pushed FE changes to `feat/custom-domain-settings`.
- Added `Custom Domain` setting under `Advanced` tab.

[2021-11-25 18:04] tejzpr opened #9389 "[Feature]: Add support to send arbitrary form values to oAuth server during Datasource authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Support to send arbitrary form values to oAuth server during Client Credentials Datasource authentication is required for some Web services. These services require additional parameters to be sent during datasource authentication. Currently Appsmith does not have ability to send arbitrary form values

[2021-11-26 02:45] sharat87 commented on #4430
Action Items:
@sharat87 -- Review and merge helm charts, infra compliance changes.
@sub1983 -- Work with GeekUP for IaC changes.

[2021-11-26 04:59] #9156 closed

[2021-11-26 05:14] #9090 closed

[2021-11-26 05:15] Nikhil-Nandagopal commented on #9384
@jean-jacket thank you for reporting this! @ohansFavour can we get this quickly resolved?

[2021-11-26 05:18] keyurparalkar commented on #9090
@Pranay105 PR merged. Please add the documentation changes.

[2021-11-26 05:37] jsartisan opened #9390 "[Bug]: Copy button in evaluated popup is not saving JSON correctly in clipboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I click on the copy button in the evaluated button, the object that is saved to the clipboard contains `[object]` instead of the actual object string.  was hoping JSON will get saved in the clipboard.

### Steps To Reproduce

1. Drop a table widget.
2. Focus on the table data in the prop

[2021-11-26 06:05] sumitsum commented on #8784
@Nikhil-Nandagopal can you please explain what the ask here is ?

[2021-11-26 06:16] #9342 closed

[2021-11-26 06:40] hetunandu commented on #1004
We need to create two new functions: `navigateToPage` and `navigateToUrl` with this strict validation. Existing `navigateTo` will call one of the above functions without validation

[2021-11-26 06:46] rishabhsaxena commented on #3199
Pending decisions/inputs needed:
- Design inputs (@Debsourabh)
  - Merge success indication on the merge tab
  - Branch list: segregate branches into local and remote (for both the switch branch dropdown and the destination branch on the merge tab)
  - Communicating the limitations w.r.t. the number of repos in CE
- Product inputs (@Nikhil-Nandagopal )
  - Decide on the limitations w.r.t. the numb

[2021-11-26 06:53] hetunandu opened #9391 "[Type]-[24000]:Refactor Action Selector component"
## Description
Refactor the existing Action Selector component to improve stability
- Easy to add new action functions
- Use AST instead of Regex
- Accept object-based arguments
- Add autocomplete and linting

### SubTasks
- #3027
- #8489
- #9669

[2021-11-26 08:03] cokoghenun commented on #5390
Any progress on this? @somangshu  @Nikhil-Nandagopal

[2021-11-26 08:09] Nikhil-Nandagopal commented on #5390
@dncpax @cokoghenun you can send messages to the iFrame today using the query params of the URL. You can then read those query params in the loaded webpage. Does that not work for you?

[2021-11-26 08:10] Nikhil-Nandagopal commented on #9389
@tejzpr does our custom authentication params section not work for you?
<img width="1161" alt="Screenshot 2021-11-26 at 1 40 16 PM" src="https://user-images.githubusercontent.com/3897254/143548094-c06cb66e-272e-4ccc-9374-e6f742a86e3d.png">

[2021-11-26 08:22] Nikhil-Nandagopal commented on #8784
@sumitsum yes the ask is the auto-detect types like JSON and number to automatically cast them

[2021-11-26 08:47] sentry-io[bot] opened #9394 "[Bug] SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data"
Sentry Issue: [APPSMITH-1DF](https://sentry.io/organizations/appsmith/issues/2816650025/?referrer=github_integration)

[code]

[2021-11-26 09:04] #9374 closed

[2021-11-26 09:18] nidhi-nair commented on #8888
This issue needs us to possibly introduce AST on the server side, and have a better sense of the schema that DSLs have to introduce selective rules for refactor. Lowering priority till we can discuss a solution for this issue since this happens for extremely generic names.

[2021-11-26 09:19] Nikhil-Nandagopal commented on #8888
@nidhi-nair can we do a simple solution like have a blacklist of names that a user cannot rename to?

[2021-11-26 09:21] cokoghenun commented on #5390
@Nikhil-Nandagopal I know as a workaround query params can be used, but the native iframe HTML element support postMessage. As a result, lots of our users expect this to also work with the iframe widget on Appsmith as they already have their codebase built around postMessage and not query params. And sometimes, they might need to embed third party websites (which they can't modify) that only accep

[2021-11-26 09:23] cokoghenun commented on #9372
Don't worry about this. It will get fixed ASAP 😉

[2021-11-26 09:23] nidhi-nair opened #9395 "[Feature] Client side changes to support raw data for action execution"

[2021-11-26 09:25] dncpax commented on #5390
Well not really since you in fact reload the iframe web page which is not
that desirable. It works as a workaround and that's what I'm doing at the
moment for a simple use case.

A sexta, 26/11/2021, 08:09, Nikhil Nandagopal ***@***.***>
escreveu:

[2021-11-26 09:30] cokoghenun commented on #5390
Yeah that's right @dncpax . @Nikhil-Nandagopal  changing query params to send data would cause a reload, which will make the embedded website loose local state

[2021-11-26 09:31] morandalex commented on #2430
in a self hosted environment , how can import libraries?

[2021-11-26 09:32] #4495 closed

[2021-11-26 09:32] Nikhil-Nandagopal commented on #5390
@cokoghenun @dncpax thanks for your inputs. I think the right way forward for this would be to add a message property to the iFrame that internally does an iFrame.postMessage whenever it changes. postMessage doesn't make sense as an event handler like onClick because it's not an event a user raised but rather a method to be triggered on the iFrame.

cc: @sbalaji1192 @somangshu @jsartisan

[2021-11-26 09:34] Nikhil-Nandagopal commented on #2430
@morandalex unfortunately there is no way to do this right now. We will be working on this feature in Q1 of next year

[2021-11-26 09:39] sumitsum opened #9397 "[Feature]: add server side support for projection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

add server side support for projection

### Why should this be worked on?

Part of UQI feature.

[2021-11-26 09:40] prapullac commented on #7229
@nidhi-nair This is not valid on Release we can close the issue for now

[2021-11-26 09:40] yatinappsmith opened #9398 "[Feature]: User should be able to use readonly GSheet without authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

User should be able to use readonly GSheet without authentication

### Why should this be worked on?

Currently inorder to use gsheet user has to authenticate via google. If a google sheet is accessbile publicly he/she should be able to use this sheet without authentication.

[2021-11-26 09:42] sumitsum opened #9399 "[Feature]: Add server side support for sorting for UQI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add server side support for sorting for UQI

### Why should this be worked on?

Part of UQI feature set.

[2021-11-26 10:00] #9258 closed

[2021-11-26 10:11] Nikhil-Nandagopal opened #9401 "[Bug]: Post API Not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A user reported that their post API Fails when the response headers have a \

### Steps To Reproduce

1. Open this app and run the API
https://app.appsmith.com/applications/611babad695af65b46d732f6/pages/611babad695af65b46d732f8/edit/api/61a0b246f6f14050cbd7da9c

### Environment

Production

[2021-11-26 10:14] ilyDeKu opened #9402 "[Feature]: test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

![5XftYLf](https://user-images.githubusercontent.com/95076853/143564566-bf8dbd7c-acdf-4975-b5b5-e1ff20fe79e6.jpeg)

### Why should this be worked on?

test

[2021-11-26 10:15] aswathkk opened #9403 "[Bug]-[17]:Inconsistencies in Font style"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the table widget we have underline option in font style

![Screenshot 2021-11-26 at 3 41 32 PM](https://user-images.githubusercontent.com/10436935/143564376-16b60bb4-cc96-4f39-9a17-0fa6f1f25b9a.png)

In other widgets such as TextWidget and InputWIdget, we don't have underline option

![Scr

[2021-11-26 10:18] Nikhil-Nandagopal commented on #9402
@ilyDeKu please refrain from opening spam issues

[2021-11-26 10:19] sbalaji1192 commented on #9382
@Nikhil-Nandagopal Not able to repro this. From the smart look recording, it appears that the chart is going into an error state while the app is getting loaded and recovers back once loading is completed. Visually error is not shown. Could we get access to the app?

[2021-11-26 10:26] nidhi-nair commented on #9344
Closed as redundant.

[2021-11-26 10:26] #9344 closed

[2021-11-26 10:47] nicoruti commented on #9067
Same issue here in Kubernetes, when specifying a securityContext as follows:
[code]

A possible soulution might be to chmod the directories when building the container (in the Dockerfile).

[2021-11-26 10:47] #9277 closed

[2021-11-26 11:21] RakshaKShetty opened #9405 "[Bug]: The preview mode menu is missing under View mode dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Preview mode should be added under View mode Dropdown
![image](https://user-images.githubusercontent.com/45958978/143573320-141df586-610b-41a9-b0fc-3f9737bb8440.png)

### Steps To Reproduce

1. Go to canvas
2.  Click on the Application name
3. inside the dropdown click on view mode
4. The

[2021-11-26 11:33] #9310 closed

[2021-11-26 11:36] YogeshJayaseelan opened #9406 "[Bug]: Homepage - Reflection of dark icon on the launch button reduces the visibility"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that on the homepage the reflection of dark icons reduces the visibility of text launch in the launch button

https://loom.com/share/8ce3f32fd3844336a531280e6f72d2e4

### Steps To Reproduce

1.Launch Appmsith app in release/Prod Environment
2.On the homepage mouse hover on the

[2021-11-26 11:47] prapullac opened #9407 "[Bug]: UI issues related to docked property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1) When the navigation bar is reduced maximum the JS object and beta icon gets overlapped
![Screenshot 2021-11-26 at 4 25 09 PM](https://user-images.githubusercontent.com/71753653/143575993-8b3ee7c0-274e-47ef-871d-005daf076613.png)
2) When the widget has a longer name they get overlapped when

[2021-11-26 11:51] Rishabh-Rathod opened #9408 "[Bug]: Undo doesn't work after deleting a widget ( when cyclic dependency is present )"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/392a2ad6ad8e4f26aa33c80c14222df1-00001.gif)](https://www.loom.com/share/392a2ad6ad8e4f26aa33c80c14222df1)

### Steps To Reproduce

1. Create Cyclic dependency between 2 widgets
2. Delete one of the widgets and try UNDO
3. See an error

###

[2021-11-26 12:30] #7229 closed

[2021-11-26 14:51] aswathkk commented on #8880
This is not a bug I think. The value `false` is a string.
`false` is a truthy value whereas the value `{{false}}` is falsey.

[2021-11-26 17:38] ramsaptami opened #9410 "[Bug]: Keyboard shortcut for copy does not work on code present under Snippets of Omnibar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using Ctrl+A on a snippet in Omnibar window causes all widgets on the canvas to be copied instead of code. So Ctrl+A and Ctrl+C when on Omnibar selects and copies all widgets

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b8e599dbee734e89a060bede237b2c44-00001.gif)](https://www.loom.c

[2021-11-26 17:48] ramsaptami opened #9411 "[Enhancement]: Keyboard shortcut for entity explorer to be supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Entity explorer should support renaming via keyboard shortcut

### Why should this be worked on?

Provides easy navigation and supports existing behavior user may expect out of habit.

[2021-11-26 18:17] ramsaptami opened #9412 "[Bug]-[200]:Inconsistent keyboard shortcut for Edit mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Comment mode is invoked by pressing C Preview mode by P but Edit mode is V. This should be E to maintain consistency

![image](https://user-images.githubusercontent.com/79509062/143618819-b057b84f-7d3d-4823-8e41-171dfdf8661a.png)

### Steps To Reproduce

1. Hover over Edit mode and observe th

[2021-11-26 18:28] ramsaptami opened #9413 "[Enhancement]: Pressing F2 on focused widget should highlight widget name on property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Pressing F2 on focused widget should be highlight widget name on property pane with control in the field to allow for renaming if needed.

### Why should this be worked on?

To make it easier for users accustomed to keyboard shortcuts to continue using it on Appsmith.

[2021-11-26 18:40] areyabhishek commented on #9412
I think this is a bug because of the preview mode. Is this on release?
Also you've open a bunch of issues about keyboard shortcuts, is it possible to create one issue listing down all major keyboard shortcuts we should have? W

[2021-11-26 18:51] ramsaptami commented on #9412
Hey @areyabhishek , this is on production. Initially it probably made sense to have C and V as shortcuts for comment and edit since they were next to each other on the QWERTY layout but now with the Preview mode, it looks off so this needs to be aligned.

Also, I'd spoken to @somangshu about this a couple of months ago and he'd suggested raising all known issues/enhancements for now and then picki

[2021-11-27 01:11] tejzpr commented on #9389
@Nikhil-Nandagopal Some remote servers require additional form parameters besides standard fields such as "grant-type" to be sent during authentication. Appsmith does not allow such custom values to be sent during data source authentication.

[2021-11-27 02:31] Nikhil-Nandagopal commented on #9389
@tejzpr can you see in the image above there is a field called custom authentication parameters? Can you try using that?

[2021-11-27 04:31] mohanarpit opened #9414 "[Bug]: Firestore where clause doesn't seem to work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When querying Firestore, if I add a where clause, it doesn't seem to work. I get an empty dataset back even though I know that the record exists. This seems to happen for integer values.

### Steps To Reproduce

1. Create an app with Firestore query
2. List the documents in the collection
3.

[2021-11-28 18:28] inaxium opened #9417 "[Bug]: Reset Currency doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currency fields are not reset.

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/51343921/143780882-73181349-96aa-4d8e-bfea-c01f25f070f1.png)

![image](https://user-images.githubusercontent.com/51343921/143780890-1f86ae8f-3936-4db9-bbaa-775a1d6246eb.png)

I try also

[2021-11-28 22:24] israrwz commented on #8491
+1

[2021-11-29 04:26] vivekverma2312 opened #9419 "Limit should be allowed depending upon edit or view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User wants something like this:
select * ....
{{ if appsmith.mode == "EDIT") return "LIMIT XX;}}

Reason: User have a dashboard page with multiple (7 or 8) queries that have hundreds or thousands of records. So edit mode with full query is too slow.

### Steps To Reproduce

https://discord.co

[2021-11-29 04:47] aswathkk commented on #8647
@somangshu This happens not due to the issue with JS Convertible functionality.
This happens since the default value for `isInline` is not provided [here](https://github.com/appsmithorg/appsmith/blob/2a3089383ae59508a65288b97ef0e6c98b6346e3/app/client/src/widgets/CheckboxGroupWidget/index.ts)

[2021-11-29 05:09] trishaanand commented on #2840
- Continue with PoC for code splitting. Only backend right now - @trishaanand
- Finalize wireframes for Authentication. - @Debsourabh
- Implementation research for SAML/OIDC/LDAP with webflux - @trishaanand

[2021-11-29 05:12] Parthvi12 opened #9421 "[Task]: App automation using echo api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-11-29 05:51] #8196 closed

[2021-11-29 06:21] #6548 closed

[2021-11-29 06:33] sbalaji1192 commented on #9417
related to #8506

[2021-11-29 06:36] momcilo-appsmith commented on #5880
@areyabhishek Do you remember what is this issue about?

[2021-11-29 06:37] momcilo-appsmith commented on #6488
@somangshu Can you provide an example here?

[2021-11-29 06:38] momcilo-appsmith commented on #8054
@ramsaptami Just following up here, did this get resolved?

[2021-11-29 06:40] momcilo-appsmith commented on #8171
@emysmth Is there a solution for this? I am thinking we should use darker colors for the background, although that will introduce more color into our design system.

[2021-11-29 06:44] momcilo-appsmith commented on #7913
@somangshu @vasanth-appsmith Is the design here done?

[2021-11-29 06:47] momcilo-appsmith commented on #9031
@Nikhil-Nandagopal Is this something like excel's table?

[2021-11-29 06:49] momcilo-appsmith commented on #8623
@somangshu @riodeuno Do any of these points need design?

[2021-11-29 06:50] momcilo-appsmith commented on #7256
@riodeuno @somangshu Should we have a discussion about this soon?

[2021-11-29 06:58] momcilo-appsmith commented on #4790
@somangshu Can we schedule a call about this?

[2021-11-29 07:02] momcilo-appsmith commented on #4354
@riodeuno @somangshu This has been solved for the button widget but is not for the button in the table widget. How can we solve this for both?

[2021-11-29 07:05] momcilo-appsmith commented on #3429
@vasanth-appsmith Can you leave the link to the design here?

[2021-11-29 07:10] momcilo-appsmith commented on #7256
@somangshu If we were to build this widget we would also solve the issue linked below, right? https://github.com/appsmithorg/appsmith/issues/4138

[2021-11-29 07:14] keyurparalkar commented on #7800
@YogeshJayaseelan the mentioned issue is not producible. Neither on Production nor on the release application. Therefore, closing this issue

[2021-11-29 07:14] #7800 closed

[2021-11-29 07:17] momcilo-appsmith commented on #2410
@riodeuno @somangshu Can we schedule a discussion around this widget?

[2021-11-29 07:17] momcilo-appsmith commented on #2409
@riodeuno  @somangshu  Can we schedule a discussion around this widget?

[2021-11-29 07:19] momcilo-appsmith commented on #1392
@riodeuno  @somangshu  Can we schedule a discussion around this widget?

[2021-11-29 07:37] YogeshJayaseelan opened #9424 "[Bug]-[132]:Mouse pointer remains as clickIcon on the select widget dropdown icon when the select widget is disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the select widget is disabled the mouse pointer remains as clickIcon on the select widget dropdown icon

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/4be1441d984f42da8ec0707d0dcfdb8e-00001.gif)](https://www.loom.com/share/4be1441d984f42da8ec0707d0dcfdb8e)

##

[2021-11-29 07:49] vasanth-appsmith commented on #7913
@momcilo-appsmith Yes, this is done?
[Link](https://www.figma.com/file/tVBQrt0G0XI89eS9m8cT5H/Menu-Widget?node-id=0%3A1)

[2021-11-29 07:52] ramsaptami commented on #8054
Yes, this seems to be resolved now @momcilo-appsmith . Changes have been implemented and present on current release. I have a quick question about the difference between focus and active states though - when do we see this @albinAppsmith

[2021-11-29 07:52] vasanth-appsmith commented on #3429
@momcilo-appsmith
Here is the design file for the tab widget
[Figma](https://www.figma.com/file/8SXzt8gGPRi5nSU5gsE8J7/Tab-Widget?node-id=0%3A1)

[2021-11-29 08:32] RakshaKShetty opened #9425 "[Bug]: The application is breaking when user run the query with wrong table name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The application is breaking when the user runs a query with the Wrong table name
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/8d82ae7b48d84c26a9b3b308124484dc-00001.gif)](https://www.loom.com/share/8d82ae7b48d84c26a9b3b308124484dc)

### Steps To Reproduce

1. Go to datasource
2. Add

[2021-11-29 08:40] zegerhoogeboom commented on #5444
I have the exact same use case and am running into the exact same issue after not having updated Appsmith for a while, suddenly the logic of remembering the table filter and doing client-side search is broken.

[2021-11-29 08:57] R-Peleg commented on #2430
+1 For this. My need is to add the `crypto` library for generating secure random tokens inside the application

[2021-11-29 09:07] ramsaptami opened #9426 "[Bug]: Declared variable is not read inside promises"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Variable declared inside a function is not read by the `.then` or .`catch` method. Throws an undefined error

### Success case
![image](https://user-images.githubusercontent.com/79509062/143830907-552a932e-e0be-4ff1-8564-280ee0ec8386.png)

### Fail case
![image](https://user-images.githubuser

[2021-11-29 09:25] RakshaKShetty opened #9427 "[Bug]: The filter option is not clickable in omni bar Snippets search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The filter option is not clickable in Snippets Filter
![image](https://user-images.githubusercontent.com/45958978/143841470-e79edc75-3ef3-41e3-b684-c0f30583ed91.png)
x

### Steps To Reproduce

1. Go to Omni bar
2.  Click on Use snippets menu
3. Click on Filter Icon on left side
4. The filter

[2021-11-29 09:32] RakshaKShetty opened #9428 "[Bug]: The select dropdown Placeholder is broken in CRUD page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The select dropdown Placeholder is broken on the CRUD page
![Uploading image.png…]()

### Steps To Reproduce

1. Add a New page
2. Click on Generate from table data option
3. In quick Page Wizard page
4. Verify the display of Select Placeholder in select datasource dropdown
5.
![image](https:

[2021-11-29 09:38] sbalaji1192 commented on #3356
@techbhavin here is the Figma link for progress bar widget https://www.figma.com/file/mxIUUL3LM363xWInQnhjDW/New-Widgets-Exploration?node-id=44%3A3054

[2021-11-29 09:59] rohan-arthur opened #9429 "[Feature]: Improve access to Fusion Charts documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

[potentially can be collapsed under https://github.com/appsmithorg/appsmith/issues/7263]

When I want to use a custom chart, the tooltip for the header "Custom Fusion Chart" shows text: "Configure a Custom FusionChart see docs.appsmith.com"

There are two problems with this:
1. The link is not clickab

[2021-11-29 10:21] keyurparalkar commented on #8750
@aswathkk yes, there is no information provided on what should be the expected value when JS editor is enabled.

Proposed solution would can be to display a tooltip with what expected values should be.

[2021-11-29 10:26] YogeshJayaseelan opened #9430 "[Bug]: Audio icon is not displayed in the entity explorer when the audio widget is dragged to the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the audio widget is placed on the canvas the audio icon is not displayed in the entity explorer

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/354f07dab1f74883a330f8aee31d45b6-00001.gif)](https://www.loom.com/share/354f07dab1f74883a330f8aee31d45b6)

### Steps

[2021-11-29 10:30] YogeshJayaseelan commented on #9430
@jsartisan This also happens for MultiTreeSelect and TreeSelect Widget

[2021-11-29 10:34] nidhi-nair commented on #4754
This issue isn't there when BSON smart substitution is turned on. That is expected because smart substitution handles escaping of characters. Closing as a non-issue.

[2021-11-29 10:34] #4754 closed

[2021-11-29 10:48] ramsaptami opened #9431 "[Bug]: Undo on an idle app does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Try undoing a step on query or canvas on a app that's been left idle for a couple of hours - the functionality is not supported

### Steps To Reproduce

1. Perform any action on canvas/query
2. Test out undo-redo.
3. Now leave the app in idle state for a couple of hours and come back to test

[2021-11-29 10:59] aswathkk commented on #6760
I also faced a similar issue today. Steps to reproduce:
1. Add a table widget
2. Convert one column type to "Icon Button"
3. Enable JS editable on Button Variant and type `{{"PRIMARY"}}`
4. Disable JS editable and see the console for the error

This doesn't have to be Button Variant. For other properties also the same thing happens.

[2021-11-29 11:09] ajinkyakulkarni commented on #4789
Please look at this #7712 well.

[2021-11-29 11:39] sbalaji1192 commented on #3369
=========================================================
    Widget Property Pane     ||     App Theme Pane
=========================================================
widget property -> theme property -> theme property value
=========================================================
padding         ->   medium       ->   5px
font-size.      ->   h1           ->   21px
button color    ->   mainColor

[2021-11-29 11:41] sbalaji1192 commented on #3369
Next Actions:

- Expose theme object to evaluations and theme provider implementation @sbalaji1192 @jsartisan
- Test plan @vivekverma2312

[2021-11-29 11:42] #7784 closed

[2021-11-29 12:12] hexaeight commented on #9401
As Nikhil pointed out this was a bug in the content type, once the content type was corrected the post api worked fine... Thanks for your support

[2021-11-29 12:16] Tooluloope commented on #9316
Closed with https://github.com/appsmithorg/appsmith/pull/9356

[2021-11-29 12:16] #9316 closed

[2021-11-29 12:33] nidhi-nair commented on #9401
Thanks for the update @hexaeight! Closing this issue per the above comment.

[2021-11-29 12:33] #9401 closed

[2021-11-29 12:44] Aishwarya-U-R opened #9434 "[Task]: Develop script for validating Closed Application Bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-11-29 13:17] Rishabh-Rathod commented on #9096
This issue is actually resolved with #9418.

Also, the above-mentioned data has multiple "DX" keys in it which makes it an invalid Object, and our debugger shows an error for the same.

[2021-11-29 13:17] #9096 closed

[2021-11-29 13:28] vivekverma2312 opened #9436 "[Bug]: Error on running CurrentItem and CurrentIndex at same time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Query on `On click property`
{{
Query1.log(currentItem);
Query1.log(currentIndex)
}}

**Error:** Error occurred while evaluating trigger: ReferenceError: currentItem is not defined.

<img width="1347" alt="Screenshot 2021-11-29 at 6 55 02 PM" src="https://user-images.githubusercontent.com/835

[2021-11-29 15:01] ramsaptami opened #9438 "[Bug]: Datasources and JS Objects are not recognized in widget binding for an old app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Datasources and JS objects are not recognized by this old [app](https://release.app.appsmith.com/applications/612332edfe755a38b6e6a9c2/pages/614c3e3f014ef61ca5f03449/edit) that's about 2 months old.

https://release.app.appsmith.com/applications/612332edfe755a38b6e6a9c2/pages/614c3e3f014ef61c

[2021-11-29 15:13] ramsaptami opened #9439 "[Bug]-[1056]:Console shows error for widget binding when JS code is turned off"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Binding path not found error is displayed when Radio Group widget's options are defined by JS and then this binding is deleted by turning off JS option on the field, then a console error is displayed for binding path.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b42726dd70a2477a8e25

[2021-11-29 15:28] billyrudi commented on #2896
i want it!

[2021-11-29 15:37] #8530 closed

[2021-11-29 15:37] #3358 closed

[2021-11-29 15:54] ramsaptami opened #9440 "[Bug]: Function of JS object called from text widget errors out with incorrect error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Function of JS object called from text widget errors out with incorrect error

![image](https://user-images.githubusercontent.com/79509062/143898256-508e5bfd-2223-47a3-a77c-58afd4e07966.png)

### Steps To Reproduce

1. Call JS object function inside of a text widget and observe the error as s

[2021-11-29 15:59] ramsaptami opened #9441 "[Bug]: Cursor position on JS editor moves to home position when user switches to another tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cursor position on JS editor moves to home position when user switches to another tab

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/ec73f4354c12464c8045191fdf94e3dc-00001.gif)](https://www.loom.com/share/ec73f4354c12464c8045191fdf94e3dc)

### Steps To Reproduce

1. Go to JS editor an

[2021-11-29 16:05] ramsaptami opened #9442 "[Bug]: Tab widget CTA on entity explorer does not switch to specific tab or load property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Clicking on tab widget on entity explorer does not open up it's property pane. Also clicking on a specific tab from the entity explorer does not navigate to the chosen tab.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/280c66926c3c41f6b9536a5eaadb0a22-00001.gif)](https://www.loom.com

[2021-11-29 16:13] ramsaptami opened #9443 "[Bug]: Spaces are not allowed on widgets children names (tabs, menus, buttons etc.)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User cannot use space in tab widget naming. Space can only be included as an afterthought.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9485d1bd690b4c9f99855fffd57fdd45-00001.gif)](https://www.loom.com/share/9485d1bd690b4c9f99855fffd57fdd45)

### Steps To Reproduce

1. Go to tab wid

[2021-11-29 19:41] tejzpr commented on #9389
Hi @Nikhil-Nandagopal the custom authentication parameters are available for "Authorization Code" auth type and is not available for "Client Credentials" auth type.

[2021-11-29 19:41] tejzpr commented on #9389
I have updated the description to include client credentials type.

[2021-11-29 23:24] #9290 closed

[2021-11-30 03:58] #9421 closed

[2021-11-30 05:15] sentry-io[bot] opened #9451 "[Bug] TypeError: Cannot read properties of undefined (reading 'forEach')"
Sentry Issue: [APPSMITH-1B2](https://sentry.io/organizations/appsmith/issues/2778247815/?referrer=github_integration)

[code]

[2021-11-30 05:16] SatishGandham opened #9452 "[Feature]: Documentation on internal working of Appsmith for Appsmith developers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A high level document explaining the internal working of Appsmith and some concepts specific to it.
This should help user predict what could have gone wrong when they have a problem.

Here is a short list of things we should cover, there could be more.

- Evaluations
- Action execution
- Scope of the

[2021-11-30 05:17] Nikhil-Nandagopal commented on #9389
@tejzpr thanks for the information!

[2021-11-30 05:17] Nikhil-Nandagopal commented on #9389
@nidhi-nair @sumitsum could you'll help with this?

[2021-11-30 05:24] Nikhil-Nandagopal commented on #2430
@R-Peleg we have forge included which has some functions to generate secure tokens. Does this work for you?
You can use it as {{forge.sha256.create().update("test").digest().toHex()}}
This is the documentation for the library
https://github.com/digitalbazaar/forge

[2021-11-30 05:27] Nikhil-Nandagopal commented on #5868
@nidhi-nair @jsartisan this seems to be happening again. Do we know how to reproduce this?

[2021-11-30 05:31] sentry-io[bot] opened #9453 "[Bug] TypeError: e.config.body.replaceAll is not a function"
Sentry Issue: [APPSMITH-1DK](https://sentry.io/organizations/appsmith/issues/2822111500/?referrer=github_integration)

[code]

[2021-11-30 05:32] jsartisan commented on #5868
This is happening in Table now. I remember it was fixed in the Table widget. @nidhi-nair correct me if I am wrong, this happens when there is a dot in the key of data items, right?

[2021-11-30 05:32] Nikhil-Nandagopal commented on #4790
@momcilo-appsmith is this not taken care of as part of theming?

[2021-11-30 05:34] Nikhil-Nandagopal commented on #9410
@ramsaptami cmd + a will only work on inputs. It doesn't generally work on a section of a display text so I don't think this is valid. Do share if you've seen this interaction somewhere else

[2021-11-30 05:34] #9410 closed

[2021-11-30 05:37] Nikhil-Nandagopal commented on #9417
@inaxium it seems to work for me. What is the value of the default text of the input you are setting?
Can you share the exact steps to reproduce this?

[2021-11-30 05:46] #9384 closed

[2021-11-30 05:48] #7114 closed

[2021-11-30 05:49] #9390 closed

[2021-11-30 06:01] nidhi-nair commented on #5868
Yes that's how we had reproduced it last time. This time it looks like someone's used the widget in the JS editor in a way that triggers the same issue. I tried a bunch of references but haven't been able to reproduce!

[2021-11-30 06:34] sumitsum opened #9455 "[Bug]: Client does not send back default values when creating a new query out of templates for UQI based plugins."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Isolating the issue mentioned in the 1st pt in #8944 :
[code]

### Steps To Reproduce

1. Send back db structure templates from API server such that the templates do not assign values for those fields that have default values assigned in the UQI editor json form.
2. Create a query out of one

[2021-11-30 06:45] nidhi-nair commented on #9389
@leotom2000 This change will require us to start exposing `customTokenParamaters` on the client credentials form and use these values during retrieval of tokens in the `OAuth2ClientCredentials.clientCredentialsTokenBody` method.

Exposing the field on the form will require client side changes, similar to how the Authorization Code flow exposes `customAuthenticationParameters`.

[2021-11-30 06:56] sentry-io[bot] opened #9456 "Error: Failed to correct binding paths (Table Widget)"
Sentry Issue: [APPSMITH-KS](https://sentry.io/organizations/appsmith/issues/2257120386/?referrer=github_integration)

[code]

Background:
The server expects the `dynamicBindingPathList` of all widgets to be correct. In case a path is in the list but the actual location does not exist, this error is thrown.

Here we see that Table Widget has a binding path `primaryColumns..computedValue` which is w

[2021-11-30 07:26] sentry-io[bot] opened #9457 "[Bug] NullPointerException: iterator returned a null value"
Sentry Issue: [APPSMITH-1C6](https://sentry.io/organizations/appsmith/issues/2798744294/?referrer=github_integration)

[code]

[2021-11-30 07:27] Nikhil-Nandagopal commented on #9031
@momcilo-appsmith yes exactly. It's fairly complicated so I suggest we hold off till we have a few more requests for this

[2021-11-30 07:33] Nikhil-Nandagopal commented on #5444
@zegerhoogeboom can you explain the issue you're seeing with remembering the table filter?
The client side search is applied on top of the server-side search so that needs an option to be disabled which we're working on. A way to get around this is to disable the search option in the table and use an input to perform the server side search. This will not perform any client side search on top of yo

[2021-11-30 07:52] ramsaptami opened #9458 "[Bug]: Incorrect clone app error handling for exporting and duplicating a deleted app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When org page of same or different user is open simultaneously and when app is deleted from one instance then:

- Attempting to delete app displays incorrect error about user having no permissions to duplicate app
- Attempting to fork app, first shows a success message and then reverts to a 4

[2021-11-30 07:53] ramsaptami commented on #9458
https://www.loom.com/share/81d086555293457faeee071e85cc4892

[2021-11-30 08:21] aswathkk commented on #9456
One way to reproduce this:
1. Add a table widget
2. Edit data to make empty keys

https://user-images.githubusercontent.com/10436935/144010606-c6f70d37-ae90-4873-af19-99442baef857.mov

[2021-11-30 09:11] ramsaptami opened #9461 "[Bug]: Importing specific internal app after forking it fails to launch or edit in release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Internal app [GitHub Manager](https://app.appsmith.com/applications/60d72903ee9aa1792c5bf168/pages/614d9b9e18a27e5288afa99d) fails to launch or edit after forking it from `app.appsmith.com`, export and then import on release.

The app opens up edit and launch modes on prod but with a lot of d

[2021-11-30 09:13] ginjojohny opened #9462 "Form data submission of date field not working with postgresql ."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Form data submission of date field not working with postgresql  in  YYYY-MM-DD format .  The selected date is not updated in database.

### Steps To Reproduce

Created  a  form with date filed and other input fields .
Inserted form data to postgresql  using insert query.
All form data updated

[2021-11-30 09:19] ramsaptami opened #9463 "[Bug]: Incorrect error handling when incorrect sheet name is used in Google Sheets query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Incorrect error for range parsing is displayed when incorrect sheet name is used in Google Sheets query

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b36dce31d86b471cb4d1a5f560e5451f-00001.gif)](https://www.loom.com/share/b36dce31d86b471cb4d1a5f560e5451f)

### Steps To Reproduce

1.

[2021-11-30 09:26] Nikhil-Nandagopal commented on #9462
@ginjojohny can you share the sql query that you have written that is not working?
Can you also share a screenshot of the evaluated value?

[2021-11-30 09:28] codedmind opened #9465 "[Feature]: Add options to apps (versions, name etc)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow the apps settings have parameters, like version, name etc

### Why should this be worked on?

so that information is avaible inside all pages so can be sabe into bd for instance to "debug" issues in some versions

[2021-11-30 09:48] nidhi-nair commented on #2634
@rashmi-rai could you please close this issue by attaching the multiselect dropdown PR to it?

[2021-11-30 09:50] nidhi-nair commented on #2929
Close as it is not reproducible anymore

[2021-11-30 09:50] #2929 closed

[2021-11-30 09:51] nidhi-nair commented on #7005
@Nikhil-Nandagopal can you please comment on whether scoping Google sheets datasources by sheet is something we want to be doing?

[2021-11-30 09:57] sumitsum opened #9467 "[Feature]: Conditional on page load execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user on discord requested this feature. They wanted some way to provide a boolean condition via Javascript which would decide if the action could be executed on page load or not. In this case they wanted the query to execute on page load based on a certain URL parameter being present or not.
[code]

[2021-11-30 10:11] zegerhoogeboom commented on #5444
Hi @Nikhil-Nandagopal sure, the issue is exactly like @WillemJann described earlier in this issue. In this image there is an action `onSearchTextChanged` specified and I'm searching for the text "Drop" which does *not* filter the results.

![image](https://user-images.githubusercontent.com/5371096/144027039-ed2ef3d4-27f8-46f6-9923-d39f13996af1.png)

When no `onSearchTextChanged` handler is specifi

[2021-11-30 10:11] #7645 closed

[2021-11-30 10:17] SatishGandham commented on #8995
- [ ] Generate an optimised but un-minified build with react dev tools
- [ ] Evaluate libraries to parse performance profile
- [ ] Debounce not triggered in puppeteer

[2021-11-30 10:34] nidhi-nair commented on #7005
Oh I see, misunderstood that it meant we needed to move this to datasource level. Alright, in that case closing this issue in favour of the entity selector component issue. Plugin migrations will take care of this on a per plugin basis.

[2021-11-30 10:34] #7005 closed

[2021-11-30 10:38] #6609 closed

[2021-11-30 10:48] WillemJann commented on #5444
@zegerhoogeboom this is indeed exactly the issue. When this is solved we can remember the search text of tables **and** make client-side search happen. Thanks for your explanation!

[2021-11-30 10:55] ginjojohny commented on #9462
Hi,

This is my update query  :

UPDATE customer
SET  client_name = '{{nameInput.text}}',
ppa = '{{PPAInput.text}}',
terminated_client = '{{terminateInput.selectedOptionValue}}',
term_date = {{dateInput.selectedDate}}
WHERE id = {{customer_list.selectedRow.id}};

and also sharing screenshot of date field.

Thank you,
Ginjo Johny

________________________________
From: Nikhil Nandagopal ***@***.***

[2021-11-30 10:56] Nikhil-Nandagopal commented on #9382
This seems to be a harmless error so ignoring it

[2021-11-30 10:56] #9382 closed

[2021-11-30 10:57] keyurparalkar opened #9468 "[Bug]-[2500]:For function validation type the custom validation function does not work on the page reload on input widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I make us of the custom validation function on `Label Font Style` property of the input widget, and if an error is generated on that property then on page reload the error does not persists. I have observed the similar issue on the button widget's `button variant` property.

For better u

[2021-11-30 10:57] areyabhishek commented on #3362
I was trying the widget today and I have a couple of questions:
1. How does some access the data being submitted? There is an onAnnotationSubmit event but how does one submit the annotation data in the first place?
2. I can't see any specific meta data in the entity explorer about the data being submitted.
3. Every time I click, there's a text box that appears with a submit button. How does one av

[2021-11-30 10:57] Nikhil-Nandagopal commented on #9462
@ginjojohny dateInput.selectedDate will be an ISODate format which may be the reason you are seeing an error. If your date picker is in YYYY-MM-DD, you can use {{dateInput.formattedDate}} or you can format the date using moment.js as
{{moment(dateInput.selectedDate).format("YYYY-MM-DD")}}

[2021-11-30 10:58] UXFalcon commented on #3362
### Design Handoff Link for Image Annotator
[https://www.figma.com/file/w9CaXHF5iYcrLtiEbAHcFu/Original-Theme-Widgets-Library?node-id=1620%3A9821](url)
@somangshu @Nikhil-Nandagopa
![Image](https://user-images.githubusercontent.com/90375262/144034974-279c7659-72ef-4069-9dd0-7883846f8138.jpg)
l

[2021-11-30 11:36] aswathkk commented on #6194
This is an [issue with Blueprint's](https://github.com/palantir/blueprint/issues/4503) tooltip component.

[2021-11-30 11:46] keyurparalkar commented on #8750
Related to #9468

[2021-11-30 12:03] jsartisan commented on #5868
Removing the app viewer label for now. @nidhi-nair let us if you need any help from our pod on this.

[2021-11-30 12:33] codedmind commented on #6356
Maybe create a new role (App viewer) that only can use apps where they are invited... that way, if they can create orgs/apps shouldn't be needed to remove then...

[2021-11-30 12:43] RakshaKShetty opened #9470 "[Bug]: The same page name is created When 2 different users are working on same application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The same page name can be created When 2 different users are working on same application
![image](https://user-images.githubusercontent.com/45958978/144049329-b5743d81-a829-4a11-ba8b-ebcbf71ecedc.png)

### Steps To Reproduce

1. log in to appsmith with 2 different users
2. Use the same applic

[2021-11-30 13:12] jauniuseitmantis commented on #8677
any updates on this? :)

[2021-11-30 14:05] pranavkanade commented on #9470
@nayan-rafiq can you please look into this? Don't think this can be resolved from FE alone.
@RakshaKShetty this issue was always there on our platform. It falls under the scope of Collab V2. This shouldn't be marked high.

[2021-11-30 15:47] ohansFavour commented on #8677
Hi @jauniuseitmantis , this is currently being worked on and will be resolved shortly.

[2021-11-30 16:34] nidhi-nair commented on #4252
Related to #8431

[2021-11-30 17:06] riodeuno commented on #3356
Feature requirements
---
Using the progress bar Appsmith developers should be able to:
- Set the progress bar to be indeterminate in progress, signifies that some process is running, whose progress cannot be determined.
- Set the value dynamically by binding a "progress" property
- Set the fill colour of the progress bar.
- Set the label to be visible or invisible, depending on whether they want a

[2021-11-30 17:09] jauniuseitmantis opened #9474 "[Feature]: List widget to have scroll instead of pagination"
### Summary

List widget now has pagination. I wish list widget had possibility to scroll instead

### Why should this be worked on?

It would improve quite a lot of use cases since user experience is much better with list when one can scroll through it instead of clicking on page buttons.

[2021-11-30 17:31] jauniuseitmantis opened #9475 "[Feature]: horizontal list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

for now list is only vertical, I wish for horizontal list also

### Why should this be worked on?

this would add much more possibilities to create different ui cases. For now it is not possible to make horizontal list of controls when data comes from backend as it is dynamic.

[2021-11-30 17:34] wmdev0808 commented on #3362
Hi @areyabhishek,
Here are my answers to your questions:
1. How does some access the data being submitted? There is an onAnnotationSubmit event but how does one submit the annotation data in the first place?
  - We are exposing `annotations` meta property, its default value is  one from `defaultAnnotations`
  - `onAnnotationSubmit` event is triggered when user select region, then add a text, final

[2021-11-30 18:44] areyabhishek commented on #9475
Thanks @jauniuseitmantis for the request. We'll be working to introduce a grid widget.

[2021-12-01 03:50] #8867 closed

[2021-12-01 05:25] vivekverma2312 opened #9477 "[Bug]: UI for page properties are not proper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/06a9a9cbfb33469db7977cf158ce1343-00001.gif)](https://www.loom.com/share/06a9a9cbfb33469db7977cf158ce1343)

The pages on page properties are not in grey shade. The whole page looks white with just text and buttons on it.

### Steps To Repro

[2021-12-01 05:52] YogeshJayaseelan opened #9479 "[Bug]: Validation error occurs for the first time when the JS of button variant is enabled for table icon type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that the validation error "This value does not evaluate to type string ( PRIMARY | SECONDARY | TERTIARY )" occurs for the first time when the user enables JS of button variant for table widget icon column type

https://loom.com/share/ea8e375ba79140d9a58b20d90e61ce7d

### Steps

[2021-12-01 05:56] Nikhil-Nandagopal commented on #9474
Hi @jauniuseitmantis thank you for the feature request. We have this issue tracked here #6293
Do watch the issue for updates!

[2021-12-01 05:56] #9474 closed

[2021-12-01 06:15] hetunandu opened #9480 "[Feature]: Provide smarter best match suggestions on autocomplete"
Sometimes, the autocomplete results are too long and confusing. The list is flooded with system methods and properties that are sometimes not relevant.

Autocomplete should suggest smarter results based on the context of usage. This includes taking the return type of a property into account.

[2021-12-01 06:19] keyurparalkar commented on #8442
@YogeshJayaseelan, are these the expected value as undefined mentioned in this issue?:

![Screenshot from 2021-12-01 11-45-49](https://user-images.githubusercontent.com/14138515/144182297-6dd7cf18-0d6e-400e-b852-bcf31bc0b555.png)

![Screenshot from 2021-12-01 11-46-04](https://user-images.githubusercontent.com/14138515/144182341-4fe53b2f-39c5-4c1a-9e4d-de4375a6f173.png)

[2021-12-01 07:08] ginjojohny commented on #9462
Hi,

Error showing in query as ERROR: column "term_date" is of type date but expression is of type character varying Hint: You will need to rewrite or cast the expression. Position: 109 .

Regards

Ginjo Johny
________________________________
From: Nikhil Nandagopal ***@***.***>
Sent: Tuesday, November 30, 2021 4:28 PM
To: appsmithorg/appsmith ***@***.***>
Cc: Ginjo Johny ***@***.***>; Mention ***

[2021-12-01 07:15] Nikhil-Nandagopal commented on #9462
@ginjojohny can you try turning prepared statements off while running this query?

[2021-12-01 07:16] YogeshJayaseelan opened #9482 "[Bug]-[10]:Icon is not displayed in the right alignment when the input type is number or password"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that icon is not displayed when right alignment is selected for input type number or password

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/4593d1ac2a874da085bbe829edc8c3d0-00001.gif)](https://www.loom.com/share/4593d1ac2a874da085bbe829edc8c3d0)

### Steps To Reproduce

[2021-12-01 07:42] sumitsum commented on #4559
Meeting Notes:
- Sumit - backend implementation for Projection, Pagination and Sorting
- Ayush - working on Entity Selector, onboarding new members - Leo, Aman (?)
- Rashmi - working on Field type validation
- Nidhi - Port GSheet to UQI schema
- Ade - pick up tasks post consultation with Ayush
- Favor - working on OAuth front end
- Ajinkya, Ayush - need to check with Parth regarding design for Sor

[2021-12-01 07:49] ginjojohny commented on #9462
Hi,

After removing prepared statement syntax error is showing like this

ERROR: syntax error at or near "," Position: 120

Query  :

UPDATE customer
SET client_id = {{idInput.text}},
client_name = '{{nameInput.text}}',
ppa = '{{PPAInput.text}}',
terminated_client = '{{terminateInput.selectedOptionValue}}',
term_date  =  {{dateInput.formattedDate}},
bench_mark = '{{benchInput.selectedOptionValue}}

[2021-12-01 07:50] #9402 closed

[2021-12-01 07:50] shwetha-ramesh opened #9483 "[Bug]: Organization names allowed to be duplicate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently more than 1 organization can have the same name

![image](https://user-images.githubusercontent.com/92293815/144193131-d32196af-35d7-4a64-9c8e-06a46dfe7438.png)

**Expected behavior:** Organization names must be unique

### Steps To Reproduce

Login and in home page rename more than

[2021-12-01 07:51] Nikhil-Nandagopal commented on #9462
@ginjojohny can you try wrapping {{dateInput.formattedDate}} in quotes as '{{dateInput.formattedDate}}'

[2021-12-01 07:58] shwetha-ramesh opened #9484 "[Bug]: App color changes with every page refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When user forks an application from one organization to other, with every page refresh the app color changes in home page

NOTE: Observed only with this particular application as seen in the video.

https://loom.com/share/5a63f3aa396e4c01a1705829685097b4

**_New issue observed on 15/12/2021_*

[2021-12-01 08:07] sharat87 opened #9485 "[Bug]: Opening URL of a deleted Google Sheets action shows a faux blank UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When opening the URL of a Google Sheets query that's already deleted, we expect to see a "not-found" or 404 kinda page. Instead we see a blank query form. This is very misleading.

### Steps To Reproduce

1. Connect to Google Sheets and create a new query to perform some operation on a Google

[2021-12-01 08:12] trishaanand commented on #3951
Yes it is. We can close this once trigger functionality is in release.

[2021-12-01 08:19] sumitsum opened #9486 "[Feature]: GSheet plugin: Provide ability to specify folder when creating a new spreadsheet."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Request by user on Discord:
[code]

### Why should this be worked on?

Provides new capability to GSheet plugin.

[2021-12-01 08:23] shwetha-ramesh commented on #8683
Also observed when a user make multiple request for 'Reset password' and then clicks on an old reset password link.
![image](https://user-images.githubusercontent.com/92293815/144198088-18465a6f-7d87-4343-b6c5-1ef0a2293116.png)

[2021-12-01 08:26] acasenave commented on #9486
It's really annoying not to be able to organise the GSheet created by my appsmith app. Everything is created at root level which is very messy...

[2021-12-01 08:31] YogeshJayaseelan opened #9488 "[Bug]: Opening Audio widget property pane is not smoother when passing invalid audio url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that by passing any invalid audio url and opening property pane is difficult. It is observed that only by mousing hovering from left or right side of the widget and click on the audio widget name the property pane opens. If the user mouse hovers from top to bottom of the widget

[2021-12-01 08:51] Parthvi12 opened #9490 "Adding tests for autocomplete validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-12-01 09:03] ginjojohny commented on #9462
Hi,

I alreday tried with that also  but showing error like this

ERROR: invalid input syntax for type date: "" Position: 118

Thank you
Ginjo Johny
________________________________
From: Nikhil Nandagopal ***@***.***>
Sent: Wednesday, December 1, 2021 1:22 PM
To: appsmithorg/appsmith ***@***.***>
Cc: Ginjo Johny ***@***.***>; Mention ***@***.***>
Subject: Re: [appsmithorg/appsmith] Form data subm

[2021-12-01 09:13] ramsaptami opened #9492 "[Bug]-[100]:Global hotkeys list pop-up contains repeating elements making the list look unorganized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Pressing `?` opens up `Global Hotkey` list as a pop-up and this list contains repeating elements that makes the the list unorganized. Some repeating elements need to be renamed since their function is different from what's defined, for e.g. shortcuts for searching snippets, documentation are

[2021-12-01 09:14] rashmi-rai commented on #9223
Hi @sumitsum @parth-appsmith
For the Query / Db configuration form I have introduced question mark for all the components in pr #8777.
For the new features we need to define the scope in order to get started on this.

[2021-12-01 09:28] Nikhil-Nandagopal commented on #9462
@ginjojohny can you please share a screenshot of the evaluated value of the query?

[2021-12-01 09:43] sumitsum commented on #2284
Next Actions:
- @dzhenkov - update design based on today's discussion
- @AmanAgarwal041 @sumitsum research:
  - JS Substitution inside query body with quotes / w/o quotes
    - also how the substitution will work with variables section.
   - update these research issues with findings and close them: Relay Pagination, GET vs POST
- @sumitsum - to come back with timeline to start working on GraphQL

[2021-12-01 09:59] ginjojohny commented on #9462
Hi

[cid:753698e3-0bff-499f-a026-38db5d4601fe]

Thank You

Ginjo  Johny
________________________________
From: Nikhil Nandagopal ***@***.***>
Sent: Wednesday, December 1, 2021 2:58 PM
To: appsmithorg/appsmith ***@***.***>
Cc: Ginjo Johny ***@***.***>; Mention ***@***.***>
Subject: Re: [appsmithorg/appsmith] Form data submission of date field not working with postgresql . (Issue #9462)

@ginjojohny

[2021-12-01 10:24] vivekverma2312 opened #9494 "[Bug]: The date data in ISO 8601 format is throwing Invalid date on table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Data.
[
  {
    "dt": "2021-05-26T09:37:17.918372Z"
  },
  {
    "dt": "2021-05-26T09:32:52.454223Z"
  }
]

<img width="915" alt="Screenshot 2021-12-01 at 3 51 07 PM" src="https://user-images.githubusercontent.com/83569920/144216848-346325f3-e55f-4bab-a5dd-af86f65bfdac.png">

### Steps To Rep

[2021-12-01 10:25] sumitsum commented on #9042
Meeting updates:
Team needs to meet to do the following
- Timeline estimation
- Flag issues that have any kind of blockers - eg. design not available or major refactor etc.
- Move out features / enhancements into another epic.

[2021-12-01 10:26] ramsaptami opened #9495 "[Bug]-[24000]:Datasource query needs seamless blending of elements on it's corners"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Datasource query page does not have seamless corners and edges that blend into the next block. They currently appear to be separate entities that are placed next to each other.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b2031fc2a4d240958137d3309c820372-00001.gif)](https://www.loom

[2021-12-01 10:27] RakshaKShetty opened #9496 "[Bug]: The select widget alignment is broken when the user resize the widget outline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The select widget alignment is broken when the user resizes the widget outline
https://www.loom.com/share/6dd2ba1ea99c442bab7f854fc502b584

### Steps To Reproduce

1. go to canvas
2. drag and drop the select widget
3. Resize the widget
4. The alignment of the widget is broken

### Environment

[2021-12-01 10:32] sumitsum opened #9498 "[Feature]: Need a dashboard to monitor the health of everything in the fat container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Requested by user on Discord. Also seems like a very useful feature in general.
[code]

### Why should this be worked on?

Allows users to monitor Appsmith service.

[2021-12-01 10:32] ramsaptami opened #9499 "[Bug]: Google Sheets where clause UI is misalinged after running a successful query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Where clause block becomes misaligned after running a successful query when snipping mode element opens up

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/51323fb0148e43228f281d0844d3a218-00001.gif)](https://www.loom.com/share/51323fb0148e43228f281d0844d3a218)

### Steps To Reproduce

[2021-12-01 10:44] Nikhil-Nandagopal commented on #9462
@ginjojohny I cannot see the image. You need to share it directly on github. The image via email isn't showing for me

[2021-12-01 10:45] ginjojohny commented on #9462
________________________________
From: Nikhil Nandagopal ***@***.***>
Sent: Wednesday, December 1, 2021 4:14 PM
To: appsmithorg/appsmith ***@***.***>
Cc: Ginjo Johny ***@***.***>; Mention ***@***.***>
Subject: Re: [appsmithorg/appsmith] Form data submission of date field not working with postgresql . (Issue #9462)

@ginjojohny<https://github.com/ginjojohny> I cannot see the image. You need to shar

[2021-12-01 10:48] ginjojohny commented on #9462
Hi,

PFA

Thank You

Ginjo Johny
________________________________
From: Ginjo Johny ***@***.***>
Sent: Wednesday, December 1, 2021 4:15 PM
To: appsmithorg/appsmith ***@***.***>
Subject: Re: [appsmithorg/appsmith] Form data submission of date field not working with postgresql . (Issue #9462)

________________________________
From: Nikhil Nandagopal ***@***.***>
Sent: Wednesday, December 1, 2021 4:1

[2021-12-01 10:53] Nikhil-Nandagopal commented on #9462
@ginjojohny I'm still unable to see it. Can you directly invite support@appsmith.com to your application?

[2021-12-01 11:15] RoopKrrish9696 commented on #7758
**Next Action Items:**

@RoopKrrish9696 to share the developer handoff

@akash-codemonk to polish the deploy preview shared ( https://deploy-preview-9125--appsmith-editor-ce.netlify.app/ )

@ramsaptami to draft a test plan for welcome tour

[2021-12-01 11:35] hetunandu commented on #7576
@zzgvh were you able to find another way to solve this? Let me know if I can help.

[2021-12-01 11:36] aswathkk commented on #9479
This is related to #8712

[2021-12-01 11:52] nayan-rafiq commented on #9470
One way of fixing this is - generate the page name in BE. If create page API is called, BE will generate a page name. But this can have another impact. For example, suppose an user has Page 1 and Page 2. If another user already created Page 3, then create page for current user will create a page with name "Page 4" which might seem confusing to the user because that user doesn't know "Page 3" is al

[2021-12-01 11:57] zee-bit commented on #3559
Hi guys, Just found this open discussion here. Is there a fix for it finalized yet?
I have a similar issue, where I am trying to download an Excel (.xlsx) file via an API, but the downloaded file gets corrupted. Is there a temporary fix(workaround) that I can follow to get through with this?

[2021-12-01 12:01] Nikhil-Nandagopal opened #9501 "[Bug]: Incorrect Page load execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When Query1 depends on Query2, Query2 is not run before Query1 on page load.

### Steps To Reproduce

 A user reported this issue on intercom
https://app.appsmith.com/applications/619c86ded3208212f819ce08/pages/619c86ded3208212f819ce0f/edit/api/619f3b88f6f14050cbd7d103

### Environment

Produ

[2021-12-01 12:16] ginjojohny commented on #9462
Hi,

This is the evaluated  value

UPDATE customer_details SET client_id = undefined, client_name = 'undefined', ppa = 'undefined', terminated_client = '{{(()=>{const index = _.findIndex(terminateInput.options, { value: terminateInput.defaultValue }); return terminateInput.options[index]?.value; })()}}', term_date  =  '{{ dateInput.value ? moment(dateInput.value).format(dateInput.dateFormat) : ""

[2021-12-01 12:32] aakashDesign commented on #9060
Update:
Sharing new designs for Entity Explorer with modules for Widgets, Files, & Datasources - nested inside pages.

Prototype - https://www.figma.com/proto/aeCo7j5ecU83euTPDpQCH4/Appsmith-IDE-Explorations?page-id=300%3A13689&node-id=314%3A26406&viewport=284%2C48%2C0.72&scaling=min-zoom&starting-point-node-id=300%3A13690 

Figma- https://www.figma.com/file/aeCo7j5ecU83euTPDpQCH4/Appsmith-IDE-Exp

[2021-12-01 12:55] ohansFavour commented on #9087
As per the project meeting on the 1st of December;

Each team needs to perform a root cause analysis on the issues assigned to them.

Team 1: @hetunandu , @rohan-arthur and @eco-monk

Team 2: @ApekshaBhosale , @Rishabh-Rathod and @ohansFavour

### List of issues for Team1

#8651
#3027
#1004
#9181
#6923

### List of issues for Team 2

#3559
#8943
#7484
#5408
#7558

[2021-12-01 13:06] #9425 closed

[2021-12-01 13:46] Nikhil-Nandagopal commented on #9462
@ginjojohny is it possible to get access to your application to debug this? The evaluated value seems incorrect here

[2021-12-01 16:32] #9332 closed

[2021-12-01 16:58] inaxium commented on #9417
The problem was, in fact, that there was no Default Text (Currency) => 0.
You should include it in the doc for numeric fields
a default must be given.

[2021-12-01 18:46] japrogramer commented on #9019
I was attempting a custom OAuth SSO login for the website.

I was eventually able to get this working after a number of modifications to the .properties file and some in  `CustomServerOAuth2AuthorizationRequestResolver` class

[2021-12-01 18:46] #9019 closed

[2021-12-02 00:56] rohan-arthur commented on #3559
@zee-bit we think it is to do with supporting binary data transfer, and we're looking into this currently.
Meanwhile as a possible workaround: can you make your API return the file as a data URL?

[2021-12-02 03:46] ginjojohny commented on #9462
Hi,

It is not possible  to give access to the application since it is in my local  machine .  If you can support in other ways it will be helpfull

Thanks,
Ginjo Johny

________________________________
From: Nikhil Nandagopal ***@***.***>
Sent: Wednesday, December 1, 2021 7:16 PM
To: appsmithorg/appsmith ***@***.***>
Cc: Ginjo Johny ***@***.***>; Mention ***@***.***>
Subject: Re: [appsmithorg/app

[2021-12-02 03:48] ginjojohny commented on #9462
Hi,

I have sent  you the evaluated value before running the query.

The Evaluated value after running the query is like this :

UPDATE customer_details
SET client_id = $1,
client_name = $2,
ppa = $3,
terminated_client       = $4,
term_date  =  $5,
bench_mark = $6,
pbm_name = $7,
tier_value = $8,
web_portal_use =$9,
demo_use        =       $10,
pbm_restriction_notes = $11,
notes_on_restrictions =

[2021-12-02 04:00] ginjojohny commented on #9462
Hi,

This is the evaluated value after  disbabled the prepared statement.

UPDATE customer_details
SET client_id = 12,
client_name = 'zxv',
ppa = '',
terminated_client       = undefined,
term_date  =  '',
bench_mark = undefined,
pbm_name = '',
tier_value = NaN,
web_portal_use ='',
demo_use        =       '',
pbm_restriction_notes = '',
notes_on_restrictions = ''
WHERE id = 6;

Thanks,
Ginjo Johny

[2021-12-02 04:31] tejzpr opened #9510 "[Enhanement]: Support Data URI in Iframe widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I pass a Data URI to the iframe widget as specified in https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs I get a URI validation error
```...```
What I expect is that the Iframe widget should accept the data URL & render the contents of the Data URI for e.g. a Bas

[2021-12-02 05:20] #9434 closed

[2021-12-02 05:25] mohanarpit commented on #9510
In this particular case, why not use the image widget to display the base64 encoded data? Can I ask why you wish to use the iFrame widget?

[2021-12-02 05:34] Nikhil-Nandagopal commented on #9417
@inaxium can you try with a new input widget? We used to have this issue in older widgets

[2021-12-02 05:34] #9417 closed

[2021-12-02 05:52] Nikhil-Nandagopal commented on #9510
@tejzpr agreed on this since the native HTML iframe supports this but as Arpit mentioned, you can use an image widget to achieve this today.

[2021-12-02 06:06] #9117 closed

[2021-12-02 06:10] tejzpr commented on #9510
I was able to display an image using the image widget, but enabling data URI on Iframe would allow display other encoded file types such as a PDF file.

[2021-12-02 06:16] Debsourabh commented on #2840
WIP SSO/SAML : https://www.figma.com/file/68AfRvev6NkcPFFUamsAq3/?node-id=8%3A69

[2021-12-02 06:25] sbalaji1192 commented on #9482
related to https://github.com/appsmithorg/appsmith/issues/8506

[2021-12-02 06:28] sumitsum opened #9512 "[Feature]: Allow inviting users via API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Requested on Discord:
[code]

### Why should this be worked on?

Provides a new way of inviting users to an Org.

[2021-12-02 06:43] sharat87 opened #9513 "[Bug]: Using external MongoDB will still try to connect and configure local MongoDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a fat container is configured with an external MongoDB URI, the entrypoint script should not try to connect and initialize a local MongoDB Replica Set. Instead, it should connect to this external MongoDB, check that it's a replica set already, and if not, do an `rs.initiate()` on it.

Us

[2021-12-02 06:45] Nikhil-Nandagopal commented on #3362
@wmdev0808 the default annotation object is too complicated. Can we simplify its structure from
[code]
to
[code]

data and geometry don't need to be separate and we can rename the type property to shape to make it more intuitive

There's no way to delete or resize/move an annotation. This is important because most annotation work is data cleanup.
The onAnnotationSubmit should change to onAnnotatio

[2021-12-02 07:02] YogeshJayaseelan commented on #9202
@techbhavin Verified this fix and it is working as expected

[2021-12-02 07:15] nidhi-nair opened #9514 "[Feature]: Basecamp integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The Basecamp API requires authentication that follows a draft spec of OAuth2.0 and can hence not be used directly with our REST API. This will need a native or SaaS integration instead.

### Why should this be worked on?

User has requested for this integration.

[2021-12-02 07:16] RakshaKShetty commented on #9289
![image](https://user-images.githubusercontent.com/45958978/144375553-3f9dcca7-668b-42f1-9c4d-7c022619cd9e.png)

[2021-12-02 07:28] #8008 closed

[2021-12-02 07:42] wmdev0808 commented on #3362
Hi @Nikhil-Nandagopal ,
I am not pretty sure about the last two sentences.
Please provide me detailed descriptions of them, accompanying screenshot or video

[2021-12-02 08:06] Nikhil-Nandagopal commented on #3362
@wmdev0808 check out the image
https://user-images.githubusercontent.com/3897254/144382077-de22a63f-de34-4202-8550-c3778560945e.mov

[2021-12-02 08:45] #9202 closed

[2021-12-02 09:48] RakshaKShetty commented on #8398
@nayan-rafiq  Have a few queries on the below scenario is it okay The sorting doesn't happen in the below scenario

- [ ] In this Feature if the user edits the application name from the home page and export the app then the application won't be displayed at the top
- [ ] If the user export the app then sorting doesn't happen
- [ ] When the user Duplicate the application then Both the original and

[2021-12-02 09:48] nidhi-nair opened #9518 "Client side changes for Google sheets UQI migration"

[2021-12-02 09:56] #8383 closed

[2021-12-02 10:00] nidhi-nair opened #9519 "[Feature] Implement Google sheets components for UQI"
Components required:
1. Entity selector
2. Projection
3. Pagination

[2021-12-02 10:03] #2435 closed

[2021-12-02 10:03] #8404 closed

[2021-12-02 10:04] ayushpahwa commented on #5143
Hey @prapullac , with the new UQI changes, this is already covered. The changes will reflect as each plugin is ported to UQI.
![image](https://user-images.githubusercontent.com/8526215/144400541-eef66271-b0dd-4b4e-8b02-a9c0b1422265.png)

[2021-12-02 10:07] nidhi-nair opened #9520 "[Task] UQI implementation for SQL plugins"
Discussions and designs required for implementing UQI for SQL plugins

[2021-12-02 10:20] nidhi-nair opened #9522 "[Feature] SaaS UQI - Request body component implementation"

[2021-12-02 10:22] nidhi-nair opened #9523 "[Feature]: SaaS UQI - Ability to add transformation modules for plugins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow contributors to work on transformations for each plugin and have it imported into the plugin execution code path

### Why should this be worked on?

This allows for more customization of the plugins

[2021-12-02 10:24] nidhi-nair opened #9524 "[Feature]: Productionize SaaS app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- [ ] Connect to prod db
- [ ] Create another app in release with exported app config
- [ ] QC Airtable in production

### Why should this be worked on?

We need to have these in place to accept contributions from external contributors

[2021-12-02 10:38] ayushpahwa opened #9525 "[Feature]: Add evaluated value popup to the QueryEditor Forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Observation:
User is not displayed with "Expected Value" and on adding inappropriate data the user is not displayed with an error message

[https://user-images.githubusercontent.com/71753653/122055974-c975d380-ce06-11eb-8a54-0b0a33807e53.png](url)

### Why should this be worked on?

It is expected tha

[2021-12-02 10:40] ayushpahwa commented on #5139
Closing in favour of #5702 and #9525

[2021-12-02 10:40] #5139 closed

[2021-12-02 10:42] #3359 closed

[2021-12-02 11:02] aswathkk opened #9526 "[Bug]: Color picker in TableWidget sets a value even after clearing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After clearing an existing value inside color picker, default value of green color is automatically getting populated into the color picker.

https://user-images.githubusercontent.com/10436935/144408747-8ab3cb84-99eb-4607-9c61-d146c54f9bde.mov

### Steps To Reproduce

1. Add Table widget
2. O

[2021-12-02 11:05] nidhi-nair commented on #6628
Closed as not reproducible.

[2021-12-02 11:05] #6628 closed

[2021-12-02 11:15] #8996 closed

[2021-12-02 11:24] #4252 closed

[2021-12-02 11:25] rahulramesha opened #9527 "[Task] Restructuring Reflow Algorithm"
Restructure Reflow Algorithm to

- Suit different scenarios
- Improve Readability
- Decouple Existing scenarios

[2021-12-02 11:28] ayushpahwa opened #9528 "[Feature]: Create sort component for UQI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a sort component to the form control factory.

### Why should this be worked on?

Part of UQI project

[2021-12-02 11:33] ayushpahwa opened #9529 "[Feature]: UQI object level Raw mode and Form mode switcher"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

UQI feature to allow switching any component from form type to raw type.

### Why should this be worked on?

To allow users to have write complex functionalities in raw mode rather than waiting for appsmith team to implement them.

[2021-12-02 11:43] nayan-rafiq commented on #8398
@RakshaKShetty exporting an application does not change it so the source app should not affect the sorting. I'm checking other two.

[2021-12-02 11:46] jauniuseitmantis commented on #9436
Hi, this seems to be issue not only with button. The same happens with input field if one tries to use currentItem or currentIndex in validation fields (regex, Valid, Error message). I suppose it is also a broader problem with more widgets when they are used in list

[2021-12-02 11:48] sumitsum commented on #4881
@nidhi-nair can we close this, since the doc now shows usage wrt the form : https://docs.appsmith.com/datasource-reference/querying-mongodb ?

[2021-12-02 11:48] rahulramesha opened #9531 "Reflow Algorithm bug fixes"
Fix existing bugs in the reflow Algorithm,

- [ ] Widgets Overlapping while Reflow
- [ ] Border overflow on Resize
- [ ] Stop Widgets from further reflowing after static widget hits max

[2021-12-02 11:49] #4881 closed

[2021-12-02 11:53] rahulramesha opened #9532 "Performances fixes of Reflowing of widgets"
Optimize performance of reflowed widgets, today there is a bot of lag when there are too many widgets to be reflowed,

- Profile react re-renders.
- React-spring causes to many re-renders, try to limit that.
- Too many subscriptions of `isResizing` or `isDragging` flag from Global states, try to limit them to Immediate children of parent Canvas.

[2021-12-02 11:56] rahulramesha opened #9533 "Collision Check Post Reflow"
This is to write a Post collision Check, as a final Check on all the widgets to make sure there are no overlapping of widgets.

[2021-12-02 12:03] rahulramesha opened #9534 "Jest Tests for Reflow Algorithm"
Most of the code changes for the algorithm can be tested with Jest tests.

[2021-12-02 13:30] rishabhsaxena commented on #3199
Blockers for going to prod with the beta version:
- Check for count of private repos and UX flow around this
- Disconnect git flow
- Documentation
- Stacks folder prefix
- Essential analytics

[2021-12-02 13:32] sumitsum commented on #9223
@rashmi-rai the question mark icon for Query / Db config form should be enough for now. Please close this issue once your PR is merged.

[2021-12-02 13:40] inaxium commented on #9417
How can I achieve this. I use your Docker Image on my Local Notebook.
It should be the newest one. Isn't it?

Am Do., 2. Dez. 2021 um 05:34 Uhr schrieb Nikhil Nandagopal <
***@***.***>:

[2021-12-02 14:22] mohanarpit opened #9537 "[Feature]-[1250]:Rename organizations to workspaces"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

We should rename Organizations to Workspaces in the Appsmith product.

- [ ] UI changes across the board.
- [ ] Modifications to error messages originating from the server to change the term
- [ ] Documentation changes to reflect this change.
- [ ] Lower priority: Change the API & DB collection name f

[2021-12-02 14:28] Aishwarya-U-R opened #9538 "[Task]: Develop script for validating Closed Application Bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-12-02 15:13] israrwz commented on #9512
+1

[2021-12-02 16:30] trishaanand commented on #2840
- Wireframe to be shared with the team next week - @Debsourabh
- Publish Test plan for the feature - @RakshaKShetty
- Publish all the input field requirements for the feature - @trishaanand

[2021-12-02 18:08] zzgvh commented on #7576
Hey again @hetunandu. It seems the performance of Appsmith is a little better, particularly in deployed mode, but I still see problems when I do complex calls involving the store in event handlers, like `Input.onTextChanged`. Here's an example of a handler that can't keep up:
[code]
This code lives in onTextChange of an Input widget set to the Number type. If I hit the up or down arrows repeatedly

[2021-12-02 21:15] nayan-rafiq commented on #8398
@RakshaKShetty please reopen this. There was a bug when duplicated application as well as source application - both are sorted. Only new one will be shown first, source application position will be unchanged.

I'm going to fix this.

[2021-12-03 05:41] Nikhil-Nandagopal commented on #9417
@inaxium if you are running with docker-compose it should auto update. If not, you need to simply run a docker pull command. Post that, deleting and re-adding the input widget should solve this

[2021-12-03 05:48] aswathkk commented on #9243
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/UI-Builders-Pod-603e3779daa13d000e3b42be/issues/appsmithorg/appsmith/9243?planning-poker) with ZenHub @riodeuno @hetunandu

[2021-12-03 06:23] SatishGandham opened #9545 "[Task]: Upgrade react-spring to the latest version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

When animations take a long time to finish, they fall into an infinite loop.
This issue seems related
https://github.com/pmndrs/react-spring/issues/770
We are using a version from 2 years ago, didn't see the problem with the latest version of spring.

[2021-12-03 06:24] #8841 closed

[2021-12-03 06:25] pranavkanade commented on #9470
@nayan-rafiq This is definitely not a `high` priority issue. My guess is we've been carrying this issue since early days so it's not a pressing issue. I think we should take this up with Collab V2. The other problem with moving name generation part in the BE is, we'll also have to move it for `query`, `api` and `widget`.

[2021-12-03 06:38] riodeuno commented on #9243
We need to update the validations to use a FUNCTION validation type, which uses the current props to validate that the defaultValues are a subset of the options. This effects the following widgets:
Radio, Select, Checkbox, Checkbox group, Tree Select, Multi-tree select, switch group

[2021-12-03 06:48] keyurparalkar commented on #8960
@vivekverma2312 closing this issue since this got resolved in the issue: #9312

[2021-12-03 06:48] #8960 closed

[2021-12-03 06:48] #9451 closed

[2021-12-03 06:49] #9453 closed

[2021-12-03 06:56] nayan-rafiq opened #9547 "[Bug]: Button group icon is not properly aligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I add a button group widget from the widget panel to the canvas, the created widget have icons which are not properly aligned with texts.

<img width="404" alt="Screenshot 2021-12-03 at 12 41 52 PM" src="https://user-images.githubusercontent.com/83352306/144558799-eb5b10af-8dee-4b4e-8477

[2021-12-03 06:57] aswathkk commented on #9243
@riodeuno We had that kind of validation for CheckboxGroupWidget and we removed it on #8598 since it was creating some issues. The default value can also come through bindings which makes things complicated.
Maybe @jsartisan can give some more information.

[2021-12-03 07:02] sumitsum opened #9548 "[Docs]: `Setup Appsmith` section does not show up as suggestion on typing in `install` in the search bar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

when I type in install in the search bar I cannot see the Setup Appsmih section show up in the suggestions:
![Screenshot 2021-12-03 at 12 27 45 PM](https://user-images.githubusercontent.com/1757421/144559560-3f6e0b9d-ff17-4b79-af78-01d918039ee2.png)

[2021-12-03 07:58] momcilo-appsmith opened #9550 "[Bug]: Select widget's scrollbar acts differently from the other select widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

here is a space that is created for a scrollbar in the select widget that stays permanently there.  It happens only for the select widget and other select widgets (tree, multi, multi-tree) don’t have this problem.
![image](https://user-images.githubusercontent.com/81744497/144566393-e14289a6-

[2021-12-03 08:27] Tooluloope commented on #9084
Minimum width would be -8px

[2021-12-03 08:29] Nikhil-Nandagopal opened #9554 "[Bug]: Pagination Broken in Github Manager"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The pagination seems broken in the github manager app. I can see that the correct params are being passed to the execution call. The call works if it is triggered from the API Pane directly

### Steps To Reproduce

1. Open the app https://app.appsmith.com/applications/60d72903ee9aa1792c5bf168

[2021-12-03 09:07] aswathkk commented on #6684
Closing this since the actual issue is fixed and focus styling will be added on #6000

[2021-12-03 09:07] #6684 closed

[2021-12-03 09:49] jsartisan commented on #9243
we removed it because we felt that validation is just overkill and was creating issues with refreshing the app. I won't suggest doing it because sometimes the options list comes from an API and the default value may not be in the list from API.

[2021-12-03 09:55] acasenave commented on #9486
I actually found a workaround and I'm using the GDrive and GSheet API directly
This feature might be go to have though

[2021-12-03 09:57] aswathkk commented on #8845
Actionable from 3rd Dec, 2021:
- @vasanth-appsmith has to finalize the designs
- @aswathkk will resolve remaining bugs and start with keyboard navigation

[2021-12-03 11:04] sumitsum opened #9556 "[Feature]: New widget request : Trigger Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Request by user on Discord:
Provide a new widget called `Trigger Widget`. This widget should be invisible on the application, but would allow the users to define `events` and `actions` ie. the events should trigger the actions linked to the events. The events could be: user clicking on some widget, pa

[2021-12-03 11:30] ajinkyakulkarni opened #9557 "[Bug]: DATE parsing in GoogleSheet broke existing apps with DATETIME values stored in a column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The last release introduced parsing of DATETIME values stored as strings in Google Sheets as DATE objects. This breaks all existing apps which have previously stored date values with the time component.

Example of such breakdown reported by an user https://discord.com/channels/72560294974875

[2021-12-03 11:52] WSDsuperace commented on #9556
This widget would not be visible on the application so no end-user would interact directly with it.
The trigger widget (TW) could have different selectable functions for example:

Run: On trigger run event such as API, Query, JS and the normal range of the already super great options in Appsmith.

**The values in the examples below (true/false) can be any other values also. It's just very simple e

[2021-12-03 13:04] theDemon92 opened #9558 "Database Support Request"
Hi Dev's,

I would love if you add YugabyteDB support in AppSmith.

[2021-12-03 14:15] #9175 closed

[2021-12-03 15:38] mwodka opened #9559 "[Feature]: Add CLI option to deploy apps from JSON file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

From a fresh instance of Appsmith in Docker, can you add a command line option to import apps from JSON?

### Why should this be worked on?

This will allow us to automate app deployment between different environments, using GIT to store the JSON.

[2021-12-04 02:14] gabriel-lucas commented on #2410
I think it would very valuable to have this widget integrated in appsmith

[2021-12-04 04:01] rohan-arthur opened #9563 "[Feature]: Include tooltip property for icon button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I would like to show a mouse-over tooltip on an icon button, and this property is not available today for the icon button widget.

### Why should this be worked on?

"text" button widget already has this property, which in my opinion is less necessary compared to a tooltip on an icon button. For the s

[2021-12-04 04:10] rohan-arthur opened #9564 "[Bug]: [Documentation] incomplete sentence in documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/framework-reference/navigateto

### Describe the problem

incomplete sentence: “Create a new Page with a valid”
<img width="808" alt="Screenshot 2021-12-04 at 9 35 41 AM" src="https://user-images.githubusercontent.com/94514895/144696417-42f6e26b-5c25-4c20-b152-9d86

[2021-12-04 11:35] Michael-sr commented on #2410
+1

[2021-12-04 13:24] sumitsum commented on #6092
Adding a bit more scope to this feature based on a discussion with a Discord user: Provide notification icon on the right hand corner of any deployed application. Expose an interface / API such that a notification gets pushed to any deployed app using this interface / API.
[code]

[2021-12-04 15:30] rohan-arthur opened #9566 "[Bug]: App “forgets” widget names in design time, although the scripts work ok in runtime."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I am referring to another widget to compute the property of a widget, I can correctly see the widget names in auto-complete, and my script also runs without errors. However, if I then go somewhere else and come back to the script, the referred widget names are highlighted in error (it is

[2021-12-04 15:48] rohan-arthur opened #9567 "[Bug]-[160]:users cannot escape from binding mode if binding fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When I am working with a query, there is a nice flow to directly bind a widget to a query response by clicking the "Connect Widget --> Select Widget" button.
However, in case the binding fails, it looks like there is no way for the user to abort the operation, other than to click away in the entity ex

[2021-12-04 16:01] rohan-arthur opened #9568 "[Bug]: cannot reach widgets inside a list if the list has a "OnListItemClick" property specified."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the list has some widgets inside, and something specified in the "OnListItemClick" property. Now you cannot select the widgets inside the list. When you attempt to, the OnListItemClick gets called instead. :(

Uploading Screen Recording 2021-12-04 at 9.27.37 PM.mov…

### Steps To Reprodu

[2021-12-05 10:39] sumitsum opened #9569 "[Feature]: Allow Postgres plugin to connect to AWS `RDS PostgreSQL` instance via `IAM` authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Requested by user on Discord:
 Allow postgres plugin to connect to AWS `RDS PostgreSQL` instance via `IAM` authentication

### Why should this be worked on?

Allows connecting to AWS RDS PostgreSQL.

[2021-12-05 11:04] sumitsum opened #9570 "[Feature]: Convert Appsmith application into a chrome extension"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Requested by Discord user:
[code]

### Why should this be worked on?

Increases usability.

[2021-12-05 13:08] dmelo commented on #9569
AWS recommends connecting to RDS using IAM authentication. I believe this would dramatically increase security of AppSmith applications. Today, applications can be exported and, in doing so, the credentials to data sources (including databases) comes with it, plain.

[2021-12-05 15:49] bolshoytoster commented on #9570
Would 'building for chrome' be available to anyone or just the creator?

I have some experience with chrome extensions so I could probably do this.

[2021-12-05 16:30] tiger360 commented on #9570
I want a way to build quickly chrome extensions to use for internal uses or to put on the marketplace.
Are you using vite+vuejs to build extension ?

[2021-12-05 17:52] bolshoytoster commented on #9570
No, I can do it manually.

[2021-12-06 04:14] rohan-arthur commented on #9569
these aws reference for context:
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.html
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.Connecting.html

[2021-12-06 04:40] SatishGandham opened #9572 "[Bug]: Going back to a page caches results from previous run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

**Case 1**: Query which does not run on page load on Page1.

1. I goto page1, trigger the query.  Data is loaded
2. Now I goto page 2
3. Come back to Page1, I have the data without triggering the query.

This is not expected behaviour.

**Case 2**: Query which runs on page load

1. You have t

[2021-12-06 05:03] lahiruelectrily commented on #9370
I have two use cases,

1. Implement a Netflix like video scroll on user click. I understand this has workaround with current widgets. It is nice to have integrated buttons over video widgets.
2. Automatically updating newsfeed. News to be refreshed every predefine time slot without user interaction. It also should be able to have unique links for individual news item.

[2021-12-06 05:04] sharat87 opened #9573 "[Feature]: Aptible support for self-hosted installation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Aptible is a PaaS that is built on Docker. It'd be great if Appsmith had a quick way to install a self-hosted instance on Aptible platform, or if this is already possible, document it.

### Why should this be worked on?

Aptible is a popular Docker based platform and since Appsmith already leverages D

[2021-12-06 05:07] RoopKrrish9696 commented on #7758
**Developer Handoff Link:**

https://www.figma.com/file/yPl21EAM7iGPVMMe4NGFTS/New--Guided-Tour-Experience?node-id=2%3A1

[2021-12-06 05:10] ginjojohny commented on #9462
Hi,

I  am   invited  you to access my application  in cloud instance and the same date issue is there  .

Link is   https://app.appsmith.com/applications/61a9c39ab0a13b21f85249f0/pages/61a9c39ab0a13b21f85249f6

please check it out

Thank you

Gino Johny

________________________________
From: Nikhil Nandagopal ***@***.***>
Sent: Wednesday, December 1, 2021 4:23 PM
To: appsmithorg/appsmith ***@***

[2021-12-06 05:35] Nikhil-Nandagopal commented on #9559
@mwodka we're working on an option to deploy applications using git here #3199
I believe this should solve your use case

[2021-12-06 05:35] #9559 closed

[2021-12-06 05:37] #9149 closed

[2021-12-06 05:56] #7487 closed

[2021-12-06 06:03] nidhi-nair commented on #8303
@prapullac could you please help populate this issue with a list of plugin - fields that need this change? We're looking for plugin fields that should be marked with an asterisk but are not.

[2021-12-06 06:31] Nikhil-Nandagopal opened #9575 "[Bug]: Profile Page is inaccessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Users cannot access the profile page

### Steps To Reproduce

1. login
2. navigate to https://app.appsmith.com/profile
3. you will be logged out

### Environment

Production

### Version

Cloud