[2022-08-15 12:12] souma-ghosh commented on #10956
@dilippitchika This issue can be fixed if we store original row indices inside selectedRowIndex instead of current row indices. But to switch to that will require changes in a lot of places.
Similarly even if we have some primary key selected, to change the stored value in selectedRowIndex / selectedRowIndices to the primary key value will also require changes in many places.
So Balaji wants to th

[2022-08-15 12:23] Ghafrigm commented on #14143
I think he is talking specifically about the self hosted option. If for example I purchase the paid option how can I remove the logo if I want to have it hosted as a self host?

[2022-08-15 13:13] bharath31 opened #16017 "[Bug]: MongoDB query using {{Input.text}} value not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to run a MongoDB query using `{{Input.text}}`, I get an empty result even though the evaluated value is correct. This issue happens on both raw and regular find queries.

Raw Find Query with plain string:
<img width="1440" alt="Screenshot 2022-08-15 at 6 34 49 PM" src="https://user-imag

[2022-08-15 13:41] pranavkanade commented on #16017
Turning off `smart substitution` works, but the query without quotes doesn't work

[2022-08-15 13:47] bharath31 commented on #16017
Looks like expected behavior. Closing this issue.

[2022-08-15 13:47] #16017 closed

[2022-08-15 15:28] felixsuarez0727 commented on #15134
Two observations here:

- The bug that Sumit is investigating in regards to dessapearing inputs seems to occur more often in the Pipeline, causing all tests to fail.

- We were told not to use styled components in the tests which may be happening in other tests apart from those that we already modified.

[2022-08-15 18:34] Vidushi-Gupta opened #16018 "[Bug]: Glitchy dropdown on editing permission of members in an organization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When trying to change the permissions of multiple users of an organization, the dropdown in most cases just goes away very soon and I'm unable to select the last option in the dropdown.
Sometimes it works well, sometimes it's just very glitchy

### Steps To Reproduce

1. Go to the 'Members' sectio

[2022-08-15 23:50] Irongade opened #16019 "[Task]: Templates do not work in MongoDB Raw Command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-08-16 03:42] #15585 closed

[2022-08-16 04:48] dilippitchika commented on #14143
@Ghafrigm that feature is available in admin settings for self hosted paid users. We are fixing some bugs there.

[2022-08-16 05:02] jnikhila commented on #15481
[Published](https://docs.appsmith.com/core-concepts/data-access-and-binding/querying-a-database). @sumitsum - Please review and close the ticket.

[2022-08-16 05:02] #14935 closed

[2022-08-16 05:07] subrata71 commented on #13620
Hi @ame-appsmith
Can you please share the DDL of the table?

[2022-08-16 05:08] sbalaji1192 commented on #10956
@dilippitchika We need to make changes to the existing processedTableData property before achieving this. Moving this back to the product backlog and assigning it to myself.

[2022-08-16 05:14] hetunandu commented on #9480
@Rishabh-Rathod, while this is possible, it is a rare case. Mostly the data type would be the same in most cases and that is all we need to predict the best match.

[2022-08-16 05:42] #14489 closed

[2022-08-16 05:58] jnikhila opened #16023 "[Docs] : Business Edition"
As discussed with @sharat87, the [Business Edition (BE) changes are currently added to the docker installation](https://theappsmith.slack.com/archives/C01CFTXD0N8/p1658470170877639?thread_ts=1656578027.942809&cid=C01CFTXD0N8).

It seems that it is creating confusion for the [users directly installing a BE version](https://theappsmith.slack.com/archives/C02MUD8DNUR/p1659709884489279?thread_ts=16597

[2022-08-16 06:05] jnikhila commented on #16023
@danciaclara - Let's discuss this.

[2022-08-16 06:28] dilippitchika commented on #13440
Linked to #12905 closing this

[2022-08-16 06:28] #13440 closed

[2022-08-16 06:31] SatishGandham opened #16024 "[Task]: Estimate performance improvement from moving away from styled components."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Estimate performance gains
- Take a final call between Stitches and Linaria

[2022-08-16 06:33] SatishGandham opened #16025 "[Task]: Migrate perf infra to its own repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Migrate to new repo
- Upgrade the integration test scripts to clone the private repo
- Clean up performance infra code from main repo

[2022-08-16 06:41] dilippitchika commented on #15306
Hey Raksha, apologies for the delayed response, both selection and editing solve 2 different problems here.
If you refresh the table data row selection will get cleared. I think onSave success is refreshing the table data.

[2022-08-16 06:48] #15855 closed

[2022-08-16 06:51] dilippitchika opened #16026 "[Feature]: Support multi-select widget inside the table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

For editable cells we need a way to display and support multiselect widget in the table

### Why should this be worked on?

This enables users to edit array values in the table

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front convers

[2022-08-16 07:02] dilippitchika opened #16027 "[Feature]: Migrate all older tables to new ones"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With the new table widget, we wish is to migrate the older tables to newer ones with user consent. The reason we want to do it with users consent is because doing it automatically might break the table (check areas of impact).

### Why should this be worked on?

Easier transition to table v2 than aski

[2022-08-16 07:06] nidhi-nair commented on #15362
Hey @SreelakshmiV12 ! Do you think you can share a screenshot of the way your datasource is configured? Please make sure to hide any sensitive data in the screenshot before you post it here. :)

[2022-08-16 07:10] nidhi-nair commented on #2548
This should be fixed as a result of locking mechanism on the context now.

[2022-08-16 07:10] #2548 closed

[2022-08-16 07:13] Nikhil-Nandagopal commented on #15220
@akash-codemonk this issue is still happening

[2022-08-16 07:15] nidhi-nair commented on #3478
Hey @Pjirlip ! It's been a while, but I'd like to circle back on this issue if it is still relevant to you. Appsmith now supports an SMTP plugin that might serve your use case. Do you think that's something you'd like to try out?

[2022-08-16 07:22] beckerrobin opened #16029 "[Feature]: More color customization options for progress bar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

At the moment the only coloring options for the Progress widget is fill color. The percentage font and border is always black which doesn't work on apps using a dark theme. Please add font color and line/border color as options to the Progress widget.

### Why should this be worked on?

Better support

[2022-08-16 07:27] nidhi-nair commented on #3311
Hey @WernerDreierB , we have an open PR for this issue [here](https://github.com/appsmithorg/appsmith/pull/14427). Also, we seem to have a duplicate issue (or rather one with a wider scope) [here](https://github.com/appsmithorg/appsmith/issues/11749), if you'd like to subscribe to it.

Apologies for the delay here!

[2022-08-16 07:35] baguse commented on #1866
@Nikhil-Nandagopal sorry, any updates of this feature?

[2022-08-16 07:35] nidhi-nair commented on #4064
Closing as this is the same as #8287

[2022-08-16 07:35] #4064 closed

[2022-08-16 07:47] ame-appsmith commented on #13620
@subrata71 I have used the `users` database.
![image](https://user-images.githubusercontent.com/101268423/184826168-d75103c5-c4ac-489a-a9fa-9b54359399a7.png)

[2022-08-16 08:17] nidhi-nair opened #16031 "[Bug]: Dynamic bindings in chart widget replaces nulls with default values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When evaluated values fail validation, we should not replace the value shown in the evaluated value window with the widget defaults. This would throw a user off and leave them unable to debug the source of their issue.

Ref: [Slack thread](https://theappsmith.slack.com/archives/C02K0SZQ7V3/p165962

[2022-08-16 08:32] ohansFavour commented on #15407
Cause of issue

When we `extractReferencesFromBinding`, we do not add subpath top-level entities, except they are explicitly referenced (to prevent unnecessary evaluations and performance dip).

so, for binding `{{Api1.data.unknownProperty}}`, extracted reference is `Api.data`. However, for `{{Api1.unknownProperty}}` no reference is extracted because Api1.unknownProperty isn't present in the data

[2022-08-16 08:47] nidhi-nair commented on #7302
Closing as this issue is not reproducible anymore

[2022-08-16 08:47] #7302 closed

[2022-08-16 08:48] #15474 closed

[2022-08-16 08:55] nidhi-nair commented on #10444
This is no longer an issue with Table widget v2. It is also not a query response issue, but only causes a confusion in the evaluated value window, switched labels accordingly.

[2022-08-16 08:59] #15083 closed

[2022-08-16 09:03] #16025 closed

[2022-08-16 09:16] #15456 closed

[2022-08-16 09:20] nidhi-nair commented on #14985
This is expected in case refresh tokens expire as well. An app that has long been unused should not continue to work without authorization, that sounds like good security practice.

[2022-08-16 09:20] #14985 closed

[2022-08-16 09:25] ohansFavour commented on #15506
@ramsaptami the link you shared doesn't link to a valid JSObject.

[2022-08-16 09:39] Nikhil-Nandagopal opened #16038 "[Docs]: Mongo DB Error: name cannot be null"
<p><a href="https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100076361">https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100076361</a></p>
<p><p>The MongoDB queries are failing with an exception name that cannot be null.</p></p>

The link below could be helpful:
https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100

[2022-08-16 09:41] Nikhil-Nandagopal opened #16039 "[Docs]: Error R14 - Heroku deployment errors"
<p>"It was looking that everything works but I am not able to get into the ""settings"" part as an admin. I have a lot of errors in the log some related to the amount of memory and some related to missing files. Any ideas ? <strong>Error R14 </strong>(Memory quota exceeded) - this is one of the errors."</p>

[2022-08-16 09:43] Nikhil-Nandagopal opened #16040 "[Docs]: Execution failed with status 5000"
<p>This happens when I try to run two queries in parallel to a Redshfit server simultaneously.  in Backend it seems this error is related: - Looks like the connection is stale. Retrying with a fresh context. (Add all the scenarios)</p>

[2022-08-16 09:46] Nikhil-Nandagopal opened #16041 "[Docs]: Table widget - How to refresh table data after an update query?"
<p><a href="https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100078371">https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100078371</a></p>
<p>The user asks how to refresh the table widget after running an update query (on button click) (Programmatically)</p>

[2022-08-16 09:55] Nikhil-Nandagopal opened #16042 "[Docs]: Email - How to reset password on self hosted instance?"
<p>Update Email doc (<a href="https://docs.appsmith.com/getting-started/setup/instance-configuration/email">https://docs.appsmith.com/getting-started/setup/instance-configuration/email</a>)</p>
<p>User query - https://discord.com/channels/725602949748752515/760761686549463060/955448103236960368</p>

Add a disclaimer - If the user doesn't want to setup an email service then they can do it using Goo

[2022-08-16 09:59] Nikhil-Nandagopal opened #16043 "[Docs]: Update Query Doc - Add how to read query errors when query fails."
<p>User query - <a href="https://discord.com/channels/725602949748752515/760761686549463060/938273022060683327">https://discord.com/channels/725602949748752515/760761686549463060/938273022060683327</a></p>
<p>Display actual error from the datasource/api.</p>

[2022-08-16 09:59] shadabbuchh opened #16044 "[Bug]: Last bit of a label is truncated on alignment change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**This bug exists for all widgets that have a `Label` property.**

When we change the `Alignment` of the label to the right and apply `Italics` to the `Label Font Style`, the last bit of the label gets truncated.
Even after increasing the width, the label does not get displayed properly.

https://

[2022-08-16 10:02] Nikhil-Nandagopal opened #16046 "[Docs]: Update Table - Table Record Count"
<p>Add an example -> How to use Total Record Count in the table widget?</p>
<p>User query - https://discord.com/channels/725602949748752515/760761686549463060/937964418355052604</p>

[2022-08-16 10:02] ohansFavour opened #16047 "[Bug]: Navigating to an invalid JS Editor page shows blank page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Navigate to an invalid JS Editor page shows a blank page

### Steps To Reproduce

1. Go to an invalid js editor page

2. See blank screen.

<img width="1518" alt="Screenshot 2022-08-16 at 10 32 16" src="https://user-images.githubusercontent.com/46670083/184853155-3df96955-ab35-484a-8320-703488e677

[2022-08-16 10:05] Nikhil-Nandagopal opened #16048 "[Docs]: Select widget - Server side Filtering"
<p>Add the sample app and elaborate on the same use case.</p>

[2022-08-16 10:13] Nikhil-Nandagopal opened #16050 "[Docs]: Troubleshooting - Deployment Errors - Email"
<p>User Query - <a href="https://community.appsmith.com/t/invitation-email-not-sended/909/5">https://community.appsmith.com/t/invitation-email-not-sended/909/5</a></p>
<p>Invitation Email Not Sent - A user on Docker says the invitation emails are not sent, but the Admin email setup is sending the test email.</p>

[2022-08-16 10:14] shadabbuchh opened #16051 "[Bug]: Incorrect default placement for JSON Form buttons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The default placement for JSON Form buttons on D&D it for the first time is displayed as `Center`. However once you add an icon you get to see that the placement is actually `Between` and not `Center`.
After you add an icon and change the `Placement` option to `Between`, nothing changes indicating

[2022-08-16 10:15] Nikhil-Nandagopal opened #16052 "[Docs]: Update - FAQ (Performance and Scalability)"
<p>User Query - <a href="https://community.appsmith.com/t/performance-scalability/732?u=amongus009">https://community.appsmith.com/t/performance-scalability/732?u=amongus009</a></p>
<p>Add information about Performance and Scalability</p>
<p>Check with Arpit.</p>

[2022-08-16 10:17] Nikhil-Nandagopal opened #16053 "[Docs]: Update Troubleshooting - Datasource"
<p>User Query - <a href="https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100051921">https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100051921</a></p>
<p>Connecting to local database: Error - Connection refused</p>
<p>User sees errors like - io.netty.channel.AbstractChannel$AnnotatedConnectException: finishConnect(..) failed: Connection refu

[2022-08-16 10:18] ramsaptami commented on #15506
Hey @ohansFavour, could you please try [this](https://release.app.appsmith.com/app/automation-test-cases/page-3-62d6486f600c9c6f0b73b67e/edit/jsObjects/62e0f79bdf8b96353259e008) link?

[2022-08-16 10:19] Nikhil-Nandagopal opened #16054 "[Docs]: Update External Libraries - Moment"
<p><a href="https://docs.appsmith.com/core-concepts/writing-code/ext-libraries#example-moment">https://docs.appsmith.com/core-concepts/writing-code/ext-libraries#example-moment</a></p>
<p>Show local time zone along with timestamp instead of UTC</p>
<p>User query - https://community.appsmith.com/t/how-do-i-show-the-local-time-zone-along-with-timestamp-instead-of-utc/512/14</p>

[2022-08-16 10:21] nidhi-nair commented on #13072
User has mentioned this was a configuration issue, closing the bug.

[2022-08-16 10:21] #13072 closed

[2022-08-16 10:24] Nikhil-Nandagopal opened #16055 "[Docs]: Update Troubleshooting - Google Sheets Error"
<p>Google Sheets Error: Unable to parse range - The user uses Google Sheets as datasource and is not able to run an API, getting the error Unable to parse range. The issue is they used the file name instead of the Sheet name in the API configuration.</p>
<p>User Query - https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100109248#part_id=initial-part-164629100109248-1304241115

[2022-08-16 10:28] Nikhil-Nandagopal opened #16057 "[Docs]: Update MongoDB - custom MongoDB"
<p>Connect to external MongoDB with tlsCAFile parameter in connection URL</p>
<p><a href="https://discord.com/channels/725602949748752515/760761686549463060/968873285586681886">https://discord.com/channels/725602949748752515/760761686549463060/968873285586681886</a></p>
<p>One for Docker and one for Kubernetes.</p>

[2022-08-16 10:39] dilippitchika opened #16059 "[Feature]: Add US map into the map chart widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add US map into the map chart widget

### Why should this be worked on?

A user requested it here - https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100159452#part_id=comment-164629100159452-16336696461

[2022-08-16 10:43] RakshaKShetty opened #16060 "[Bug]: The tooltip should be displayed on the members page when the workspace name is too big"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The tooltip should be displayed on the member's page when the workspace name is too big
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/184860647-d8ab4589-817e-4f1e-afd8-247d8521b885.png">

### Steps To Reproduce

1. In the home page
2. Click on meat ball icon

[2022-08-16 10:52] dilippitchika commented on #16059
We should already have an option for USA internally, we just need to show it as an option - https://www.fusioncharts.com/dev/map-guide/setup

[2022-08-16 10:54] ankitakinger opened #16061 "[Feature]: Add a new audience parameter under advanced settings for OIDC config setup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a new audience parameter under advanced settings for OIDC config setup. This field should be a text field and env variable to be used is: `APPSMITH_OAUTH2_OIDC_AUDIENCE `

### Why should this be worked on?

When authenticating with Auth0 OIDC, the resulting JWT doesn't have a payload. In order to

[2022-08-16 11:14] Parthvi12 opened #16063 "[Bug]: Email address in Users tab is getting added to new line, when workspace name is long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Users tab, when the workspace name is long, the email address is getting added to next line
<img width="1434" alt="Screenshot 2022-08-16 at 4 39 00 PM" src="https://user-images.githubusercontent.com/80334441/184866657-dbbbe7e1-4240-4b28-9f2f-4ee6f46e5809.png">

### Steps To Reproduce

1. Create

[2022-08-16 11:18] IAmAnubhavSaini commented on #15966
Implemented. Need work on more menu. Refresh button needs interactivity.

[2022-08-16 11:18] #15966 closed

[2022-08-16 11:18] #15611 closed

[2022-08-16 11:18] #15932 closed

[2022-08-16 11:20] IAmAnubhavSaini opened #16064 "[Task]: Make refresh button interactive for audit-logs-v1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Need to implement fetch-logs-for-current-filters api when available. This is a dependency on backend.
- On click, user should get latest logs for the current filter.

Refer: https://github.com/appsmithorg/appsmith/issues/15373

[2022-08-16 11:23] IAmAnubhavSaini opened #16065 "[Task]: Update more menu with actual menu-options for audit-logs-v1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Need design and product input here.
- Show more menu options on click.

@vuiets @Debsourabh What are we going to show in the more menu.

Refer: https://github.com/appsmithorg/appsmith/issues/15373

[2022-08-16 11:33] subrata71 commented on #13620
## Root Cause
I have figured out the actual problem behind this issue.
According to our current data type identification implementation, the server guesses the data type from the value. If a string value contains comma(s), the server replaces the commas with an empty string and later tries to parse it as `integer -> long -> float -> double -> ...`.

For a value like “`134,33.53`” the server identi

[2022-08-16 11:38] jnikhila commented on #16057
@sum35h / @sharat87 - Could you please share some pointer so that we can document the same?

[2022-08-16 11:44] Aishwarya-U-R commented on #10278
Users also need ability to set up 'Tooltip' to Table widget Button type columns.

[2022-08-16 11:48] subrata71 commented on #13620
## Good News
IMO, We don’t need to introduce any special type for that. This concern is on the user who knows the data type of the target column very well and the responsibility is upon the user to provide the correctly formatted data to that column. In any way, if we had to take this then there are a lot of other cases that should be taken care of as well.

And I think a concern like comma-separa

[2022-08-16 11:52] mohanarpit commented on #2840
@thomas10-10 @SamirSaidani Thanks for your inputs. I understand your POV. In this case, we need to ensure that the Appsmith project is sustainable. This means we need to charge for certain features. Making open source projects sustainable ensures that we can continue to build an incredible platform for everybody to build apps really quickly.

@thomas10-10 We believe in doing the right thing at all

[2022-08-16 11:57] dilippitchika opened #16066 "[Feature]: Allow merging cells in a table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow merging cells in a table

### Why should this be worked on?

Creates a much more readable view-https://ant.design/components/table/#components-table-demo-colspan-rowspan

[2022-08-16 12:09] GreenFlux opened #16067 "[Bug]: Datasource name is truncated and (i) info button is inactive on 'Reconnect Datasource' modal when forking"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The datasource name is truncated in the Reconnect Datasource modal that displays when forking an app. There is an `(i)` info button next to the datasource name but it doesn't do anything when hovered or clicked.

Can we add a tooltip to the `(i)` button to show the full datasource name and/or add

[2022-08-16 12:10] sumitsum commented on #2284
Updates:
* close all remaining server side tasks by this week - @sumitsum
* re-order of icons - @AmanAgarwal041
* pagination tab eval issue - @nidhi-nair @AmanAgarwal041
    - prioritize with FE coder's pod - @nidhi-nair
* close all needs QA pipleline issues this week - @prapullac
* find OAuth server - team
  - if cannot find then setup an OAuth server on local - sumit
* documentation first draft

[2022-08-16 12:14] nidhi-nair commented on #11374
Closing this issue since we have the feature request to track the design task

[2022-08-16 12:14] #11374 closed

[2022-08-16 12:45] tommar42 opened #16068 "[Bug]: Unbale to use currentRow in Text Color and CellBackgroun Color in Table Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am trying to make so the background colour of cells, will change in a table if they meet certain conditions, but I cannot seem to be able to call currentRow to get the value of cells due to the error "currentRow is not defined" in the Text color and Cell Background color properties of the Table

[2022-08-16 13:14] nidhi-nair commented on #10210
Closing since this is the same as action execution and CRUD.

[2022-08-16 13:14] #10210 closed

[2022-08-16 13:28] bharath31 opened #16072 "Recover user account linked to GitHub"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Slack conversation- https://theappsmith.slack.com/archives/C0341RERY4R/p1660645459574389

[2022-08-16 14:00] somangshu commented on #16068
@tommar42 I think you are trying to use row level property on a global level property. The `currentRow` prop can only be accessed inside the column settings.

Am I getting you correctly here?

cc @dilippitchika

[2022-08-16 14:09] tommar42 commented on #16068
@somangshu

Are yes that's where I went wrong, have it working correctly now.

Thank for your help and sorry about the bug report that turned out not be a bug

[2022-08-16 14:09] #16068 closed

[2022-08-16 14:21] ankurrsinghal commented on #15527
@riodeuno This is happening because, when the rating is between 1 to 5, the expectedHeight in rows is 3 but the logic in the shouldUpdateDynamicHeight is such that it will only compute if its greater than the minDynamicHeightInRows which is set to be 4. Therefore it is not computing it.
<img width="719" alt="Screenshot 2022-08-16 at 7 50 29 PM" src="https://user-images.githubusercontent.com/179611

[2022-08-16 14:32] ankurrsinghal commented on #15509
It's blowing up in the `dynamicHeightSagas` giving `TypeError: Cannot read properties of undefined (reading 'bottomRow') line 457`. It's because `dynamicHeightLayoutTree` does not have that widget id (see screenshot
<img width="531" alt="Screenshot 2022-08-16 at 8 01 11 PM" src="https://user-images.githubusercontent.com/17961105/184906021-310176d5-af8c-416a-8c61-335c8f75df64.png">
).

[2022-08-16 14:36] ankurrsinghal commented on #15509
And I realized that this, that tree is looking bad, breaking everytime for every new widget added with `Auto Height`.

[2022-08-16 15:59] Ghafrigm commented on #14143
It doesn't make sense to pay to have a white label. Even though competitors offer that option from the start with self hosting already. Its one of the reasons I switched actually, but will see if I can do it from the source anyways.

[2022-08-16 16:18] ankurrsinghal commented on #15388
@riodeuno
For the Scenario 1,
We added a css property in the BaseInputComponent to set `height: auto` when DH is enabled, it's happening because of that. I don't know what changed in the components but it's not serving its purpose. We can remove that.

For Scenario 2,
This is now an anti DH problem, since the height is already increased, changing the label position after setting the `DH` to fixed

[2022-08-16 16:47] dilippitchika commented on #14143
Hey @Ghafrigm thanks for your feedback, could you expand why you feel this way? Also which competitor are you referring to here?

[2022-08-16 17:14] keyurparalkar opened #16074 "[Bug]: Disabled hover color of checkbox matches container's background color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you place a checkbox inside a container and then the checkbox's disabled hover color matches with containers background color.

The expected behaviour should be same as the checked state off and disabled.

https://user-images.githubusercontent.com/14138515/184939031-55fc329c-0f15-4f43-80d1-ea

[2022-08-16 17:45] bharath31 opened #16075 "[Feature]: Track JSObject usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Track JSObject usage over a given time period to make informed product decisions. Usage constitutes a meaningful core action that will potentially lead to higher engagement and retention.

[[Specification](https://www.notion.so/appsmith/Tracking-JSObject-usage-746ad8fa321340918ae701f1dd4daa8e)]

### W

[2022-08-16 18:56] ohansFavour commented on #15506
@ramsaptami, there is an error in the debugger for the link you shared.

<img width="1280" alt="Screenshot 2022-08-16 at 19 54 28" src="https://user-images.githubusercontent.com/46670083/184958862-9395fe02-0789-4cdb-aab7-f7f247ff9272.png">

[2022-08-16 20:12] AmanAgarwal041 opened #16077 "[Bug]: Selected column values of G Sheets is copied of one API to new created API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Selected column values are copied if one G Sheet API is opened and then we create a new API by clicking on entity explorer create new G Sheet API. Then the selected column values for newly API is same as the previously opened which result in error if we select any different SheetName which does no

[2022-08-16 20:13] AmanAgarwal041 commented on #16011
Created a new issue : #16077

[2022-08-16 23:58] Tooluloope opened #16078 "[Bug]: Select and Multiselect shows error for defaultValue even when there's none"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I make my options from a query and make the defaultValue the first item in the query array, I get errors telling me the value isn't in the option

### Steps To Reproduce

https://user-images.githubusercontent.com/31691737/183900676-7b5fe86d-231a-47a6-a9ba-e808488c719c.mov

### Public Sample A

[2022-08-17 02:07] felixsuarez0727 commented on #9358
A new branch "feature/order-dropdown" has been created where the functionality to edit the order of actions has been added.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/7eb3bb0b-b97c-40a8-935b-93e0921a3fbe)

There is a problem when saving an ID, the Save button is not deactivated afterwards. So it does not allow to edit another action.
I think the problem occurs bec

[2022-08-17 03:16] temirgali commented on #12679
so is there a way to somehow restore accidentally deleted applications (cloud)?

[2022-08-17 03:56] felixsuarez0727 commented on #15911
I did some research on both problems and this is what I found:

`UncaughtPromiseRejection`: This error occurs when you click on View Api without first selecting the row. When using currentRow._id it is undefined and therefore shows the error. To fix it temporarily, just click on the row before doing any action.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/02881a57-a

[2022-08-17 04:02] akash-codemonk commented on #10923
DP: https://appsmith-bgz4p9900-get-appsmith.vercel.app/.
Note that we don't restore at the initial screen where we show the start building cta. Also we don't restore all states like if the widget sidebar was open we don't reopen it on refresh, but the onboarding continues to be usable. We also go back a few steps in cases where we cannot resume with the latest step.

@Richarex @ramsaptami Could yo

[2022-08-17 05:15] Parthvi12 opened #16080 "[Bug]: In members tab, the users are getting rearranged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there are multiple users, In members tab the users are getting rearranged , ideally the admin should be always on top
<img width="1434" alt="Screenshot 2022-08-17 at 10 02 24 AM" src="https://user-images.githubusercontent.com/80334441/185039821-7cf0f78c-b609-473c-baae-8da9a9328945.png">

###

[2022-08-17 05:27] shadabbuchh opened #16081 "[Bug]: Adding a Gsheet datasource returns an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we click on `Save and Authorize` for a Gsheet datasource, we are landed on a page with the following message:
`{"responseMeta":{"status":500,"success":false,"error":{"code":5000,"message":"Internal server error while processing request"}}}`

https://www.loom.com/share/e7055b4ad41047268cf6e9c2

[2022-08-17 05:39] AnandiKulkarni commented on #15893
Verified above function with widget - text select switch input

[2022-08-17 06:02] sharat87 commented on #14798
The `APPSMITH_MAIL_SMTP_AUTH` is automatically inferred based on whether credentials are provided or not. See:

https://github.com/appsmithorg/appsmith/blob/dbbae79aec1933d7c4d21e59f8b5a872c9b694c5/app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java#L135-L140

Setting this to true when there's no credentials doesn't make sense, and similarly, setting thi

[2022-08-17 06:12] somangshu commented on #10278
@Aishwarya-U-R thanks for the point here. Since we are trying to make it consistent all properties of the button should be visible here.

[2022-08-17 06:17] #15770 closed

[2022-08-17 06:18] pranavkanade opened #16082 "[Feature]: Widgets should have option for fixed width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user reached out to us for this feature request. They wanted to have some of the containers even when `Fluid Width` is selected for Canvas Size.

### Why should this be worked on?

User request [link](https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100159317)

[2022-08-17 06:21] #15752 closed

[2022-08-17 06:39] #16081 closed

[2022-08-17 06:39] shadabbuchh commented on #16081
Issue is fixed in the DP

[2022-08-17 06:40] #15749 closed

[2022-08-17 06:57] pratapaprasanna opened #16085 "[Feature]: Figure out how we can run migrations and have a smooth deployment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, when we deploy appsmith, the migrations and make the deployment a little slow and causes panic.
We have kubernetes job which are meant to perform such tasks. before deploying the actual application.
We have to expedite the process to figure out and understand how this works.

### Why should

[2022-08-17 06:58] jnikhila commented on #12873
@danciaclara - As discussed with @sum35h - @sharat87 suggested that this config shouldn't be added to the documentation and can be part of the DevOps team's internal docs. Could you please take this ahead? I'm moving the ticket to blocked status until finalized.

[2022-08-17 07:02] yatinappsmith opened #16086 "[Bug]: Unable to upgrade custom domain with sso to RBAC DP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Unable to upgrade custom domain with sso to RBAC DP

### Steps To Reproduce

1. Upgrade release v 1.7.13 to RBAC DP
2. backend stdout |
backend stdout |  █████╗ ██████╗ ██████╗ ███████╗███╗   ███╗██╗████████╗██╗  ██╗    ██╗███████╗    ██████╗ ██╗   ██╗███╗   ██╗███╗   ██╗██╗███╗   ██╗ ██████╗ ██╗

[2022-08-17 07:04] ankitakinger commented on #14798
@sharat87 That makes sense. Closing this issue.

[2022-08-17 07:04] #14798 closed

[2022-08-17 07:08] #16063 closed

[2022-08-17 07:08] ramsaptami commented on #15506
Seems to be working now, so closing the issue.

[2022-08-17 07:08] #15506 closed

[2022-08-17 07:10] #16060 closed

[2022-08-17 07:12] chandannkumar opened #16087 "[Bug]: Auto complete text displays outside of the Mustache binding on DB/Sheet Queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

While adding a mustache binding into DB queries of Google sheet queries, the auto complete text displays outside of mustache in a weird way

https://www.loom.com/share/316ad3fe1cea46e3b7d74069731adcb3

<img width="932" alt="Screenshot 2022-08-17 at 12 33 13 PM" src="https://user-images.githubuserc

[2022-08-17 07:22] hetunandu commented on #9740
After some debugging, we noticed that #8324 was not kicking in because the right events were not getting triggered when the user comes back to a tab after some time
@sharat87 @riodeuno and I have come to the decision that adding another event on our RTS server and client to check for user tab visibility will solve this problem by showing the "New version available" toast to the user at the correct

[2022-08-17 07:23] ohansFavour commented on #15502
This issue is easily reproducible in the Firefox browser.

[2022-08-17 08:03] AmanAgarwal041 opened #16091 "[Bug]: RTS docker container image for new revamped code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Fix the docker commands for the rts docker image

### Steps To Reproduce

Create RTS docker image using Fat Container Dockerfile on root directory and direct rts image using Dockerfile inside `app/rts` directory

### Public Sample App

_No response_

### Version

Both

[2022-08-17 08:05] AmanAgarwal041 commented on #16091
Already merged PR for one part of this issue https://github.com/appsmithorg/appsmith/pull/16010

[2022-08-17 08:14] prapullac opened #16093 "[Bug]: Empty error message is displayed to user on cancelling the run event"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user clicks on RUN and then clicks on the CANCEL button in the response it is observed that empty error message is displayed to the user

### Steps To Reproduce

1) Paste the Rest API
2) Click on the RUN option
3) Click on the Cancel option
and observe the error message
![Screenshot 2022-08-1

[2022-08-17 08:17] rohan-arthur opened #16094 "[Bug]: Pagination settings dropdown has some wrong caching"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In [this](http://3.111.33.176/app/graphql-basic/page1-62f9dc05241ba712c63b43e4/edit/api/62fa03fa241ba712c63b43ee) example app, I had (once upon a time) declared a variable with name `lim`. I have since deleted this variable.

Now when I go to the `Pagination` tab of my query, I see that `lim` is p

[2022-08-17 08:18] aamiel1 opened #16095 "[Bug]: Cyclic dependency found while evaluating when "Label" parameter in "TreeSelect" widget is null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I tray to submit the form I get the Error:
"Cyclic dependency found while evaluating. Node was: TreeSelect1.selectedLabel"

### Steps To Reproduce

I create Form and add a  "TreeSelect" widget on it,
When I tray to submit the form I get the Error:
"Cyclic dependency found while evaluating. No

[2022-08-17 08:28] #15524 closed

[2022-08-17 08:42] sumitsum commented on #12394
I have verified using a test `segment` account that the required analytics data is being sent. I have raised a tiny PR to change the plugin name to remove ambiguity.
Regarding the metrics for bugs, we currently have a label for GraphQL which should help us track GraphQL related issues reported on GitHub. Also searching for GraphQL plugin related issues on Sentry might help.

[2022-08-17 08:47] sumitsum opened #16099 "[Bug]: GraphQL plugin: warning message for duplicate variable names is showing up in two places"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- Currently the warning message is showing up both when the GraphQL action is updated and when it is executed. Hence, it shows up twice on the user screen. Need to remove one of them so that the message shows at only one place.

### Steps To Reproduce

1. In a GraphQL action provide a variable nam

[2022-08-17 08:47] chandannkumar opened #16100 "[Bug]: Date picker's shortcut's accent color is not same as selected Theming color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The date picker calendar shortcuts accent color is not changing according to Theming color. It remains same as the older versions default theme i.e blue

![image](https://user-images.githubusercontent.com/95341241/185076949-33ac3c55-9679-40cf-b802-5697477349ed.png)

*Also check same issue for JSON

[2022-08-17 08:59] souma-ghosh commented on #13496
@shwetha-ramesh @dilippitchika @sbalaji1192 Tested this out, seems to be no longer reproducible in Table Widget V2.

[2022-08-17 09:02] ohansFavour commented on #15039
@Parthvi12 , the functions are shown alphabetically. The latency is the time it takes to parse the new JS Object that got pasted.

[2022-08-17 09:04] Richarex commented on #10923
@akash-codemonk Not able to verify the issue getting "Google recaptcha verification failed. Please try again" error.

[2022-08-17 09:05] ramsaptami opened #16101 "[Bug]: Mustache bracket highlight need to be centered"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Binding suggestion pop-up has mustache bracket highlighted but is not centered

### Steps To Reproduce

Binding suggestion pop-up has mustache bracket highlighted but is not centered

![image](https://user-images.githubusercontent.com/79509062/185079829-e6860c33-a5e8-42af-aeed-9d9c38c5f05f.png)

#

[2022-08-17 09:21] tanvibhakta opened #16102 "[Task]: Migrate Table, StepComponent, UneditableField"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-08-17 09:24] rohan-arthur commented on #16094
conversation here: https://theappsmith.slack.com/archives/C03HF7YJ6RF/p1660724286119689

[2022-08-17 09:33] ankurrsinghal opened #16103 "[Bug]: The empty canvas gets shorter after deleting a widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we delete any widget after resizing it, the empty canvas gets shorter in height.

### Steps To Reproduce

Scenario:-

1. Create a new application.
2. Drag any widget.
3. Resize it.
4. Delete it.
5. You can see now that the empty is very short, displaying a white background.

Before:- <img wid

[2022-08-17 09:34] sum35h opened #16104 "[Bug]: appsmithctl check-replica-set fails to connect to an external APPSMITH_MONGODB, when it is running as a container in the same host"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When running the appsmithctl check-replica-set utils command with the APPSMITH_MONGODB_URL pointing to a mongo running as a container in the same host, the following error is thrown
[code]

### Steps To Reproduce

1. Deploy a Mongodb container(mongo:latest) locally with replica set enabled
2. Depl

[2022-08-17 09:35] somangshu commented on #13546
@sbalaji1192 @keyurparalkar can you guys help us check this in V2?

[2022-08-17 09:45] #14763 closed

[2022-08-17 10:01] mlarash commented on #15994
Hi, I'm just curious since this is affecting some of our apps -- is there any guess when this bug will be fixed?

[2022-08-17 10:14] souma-ghosh commented on #13496
@dilippitchika No there is not error in the debugger on clicking on image cell

[2022-08-17 10:22] dilippitchika commented on #13496
Ok, cool we can close it then

[2022-08-17 10:29] Richarex commented on #10923
This is fixed, verified it on the DP url provided.

[2022-08-17 10:50] #13496 closed

[2022-08-17 10:51] tomjose92 opened #16108 "[Bug]: Issue occurring in the URL column of Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I define a column type as URL in a table widget, and pass both display and computed URL, the relative path is taken into consideration and not absolute URL.

### Steps To Reproduce

When I set only "Computed Value", on clicking the URL from the table takes me to the correct link (absolute URL

[2022-08-17 10:54] #16064 closed

[2022-08-17 10:55] IAmAnubhavSaini commented on #16064
31 refresh works, disable when refreshing.

[2022-08-17 10:57] IAmAnubhavSaini commented on #15943
One part is done, where clicking on json filters updates the url.
Also, pasting a url will populate the filters.

But filters themselves are not implemented.

[2022-08-17 10:57] #15943 closed

[2022-08-17 11:00] IAmAnubhavSaini commented on #15959
Using rotation to differentiate between asc/desc.
The filter does get updated.
The filter state becomes dirty.

[2022-08-17 11:00] #15959 closed

[2022-08-17 11:05] #15808 closed

[2022-08-17 11:06] IAmAnubhavSaini commented on #15796
Input is working and the value gets stored in the redux store.

[2022-08-17 11:06] #15796 closed

[2022-08-17 11:10] IAmAnubhavSaini commented on #15940
This is done by commit 32.

[2022-08-17 11:10] #15940 closed

[2022-08-17 11:12] #15805 closed

[2022-08-17 11:12] #15802 closed

[2022-08-17 11:57] #16047 closed

[2022-08-17 11:58] #15502 closed

[2022-08-17 12:11] Aishwarya-U-R opened #16110 "[Bug]: Table | Unable to select a row with a click on the Image column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/185114771-42d1e407-f601-41bd-8d74-057866d29cdf.mov

### Steps To Reproduce

1. D&D table widget, map some data with image type column
2. **Observe : Clicking on the image column does not select the row**
3. **Expected : Clicking on any column shou

[2022-08-17 12:53] HimakeerthiSatheesh commented on #2430
Is there a way we can use the JS snippets + Firebase Admin SDK in App Smith?

[2022-08-17 12:56] ramsaptami opened #16114 "[Bug]: No validation error is thrown when JSON form widget contains multiple fields with the same information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

JSON form widget does not throw a validation error when `property name` field is the same for multiple fields. Table widget that has similar functionality where fields are populated based on connected data behaves differently where validation errors are displayed if there's a duplicate `property n

[2022-08-17 13:40] #16091 closed

[2022-08-17 16:56] #11620 closed

[2022-08-17 18:23] #15635 closed

[2022-08-17 21:19] DaSchTour commented on #2840
Well. Nice assumption. But in fact after I've seen that we would have to pay for SSO we choose a different solution and now I wouldn't even consider using appsmith anymore. It's a bit sad. I waited for that feature so long.

Maybe I also understand the reason behind using SSO different. But for me that has nothing to do with team size but with infrastructure. We use Keycloak for our application an

[2022-08-17 23:44] felixsuarez0727 commented on #9358
Added the new functionality for reordering dropdown actions in master

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/c76699b9-1b4e-47d2-9057-9e32d49c3372)

[2022-08-18 00:20] nassim-2000 opened #16115 "[Bug]: my datasource suddenly deletes itself for no reason"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hello

I was developing, creating MYSQL queries and suddenly my corresponding data source disappeared, and it is not in the list of data sources either. The queries become orphaned, and I have to manually add my database and select the right data source in each query or they won't run.

Thanks.

#

[2022-08-18 01:37] rohan-arthur commented on #10210
https://mixpanel.com/project/2032485/view/178891/app/dashboards#id=3088423&editor-card-id=%22report-32293272%22

[2022-08-18 04:01] nzidol opened #16118 "[Feature]: Input text styling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A Text widget can have styling information :
![image](https://user-images.githubusercontent.com/13618973/185290032-dc9f0ed1-56e7-41d6-a81f-63136751c94d.png)
An input widget is missing these options, only has them for the label.

### Why should this be worked on?

For instance number inputs should have

[2022-08-18 04:23] shadabbuchh opened #16119 "[Bug]-[800]:Video & TreeSelect widgets not visible in the entity Explorer once sidebar is closed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Once we click on `Close Sidebar` icon, Video & TreeSelect widgets disappear from the entity explorer.
Note: The widgets appear when we search for them in the search bar but not visible in the list of widgets.

https://www.loom.com/share/9a273f9c5b1544bc9fbbd3ca54bac2c7

### Steps To Reproduce

1.

[2022-08-18 04:30] obafemiolorungbon commented on #13620
I can also confirm that when passing data to queries through the query.run() method, if any of the properties of the objects passed as params contains comma. the resulting query is the first number of the property value,

e.g UserQuery.run({paginate:"10,0"})

what is passed to UserQuery at run time is 10.

which causes problems for us.

[2022-08-18 04:31] kocharrahul7 commented on #16119
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | 1 |

[2022-08-18 04:40] shadabbuchh opened #16120 "[Bug]: While deleting a Datasource "Delete" option is prompted again after we click on "Are you sure""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For any Datasource that has some actions using it once we click on `Delete` -> `Are you sure?`, we see the `Delete` option again while the datasource is getting deleted.

Ideally we should show the `Delete` option again after we get the `Cannot delete datasource since it has 2 action(s) using it.`

[2022-08-18 05:12] pratapaprasanna commented on #16085
https://www.alibabacloud.com/blog/helm-charts-and-templates-hooks-and-tests-part-3_595650
this is one approach, we can use, where we use a pre-install-hook with
[code]
to run any priliminary job and then followed by upgrading the deployment

[2022-08-18 05:46] btsgh commented on #16006
Seems to have been fixed. Do not see any plus icon now with input widget.

[2022-08-18 05:57] tanvibhakta opened #16123 "[Task]: Fix issues with the UI of Checkbox, Button, and Dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Closing this issue will allow [this Pr](https://github.com/appsmithorg/appsmith/pull/15562#issuecomment-1216169416 ) to be merged.

[2022-08-18 06:26] #11023 closed

[2022-08-18 06:26] #11026 closed

[2022-08-18 06:26] #11061 closed

[2022-08-18 06:51] bharath31 opened #16124 "[Feature]: Set meta properties for table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a user, I should be able to set metadata for the table widget so that, I can conditionally change the appearance/properties of a table widget.

### Why should this be worked on?

Give users the ability to customize widget properties to suit their use cases.

[2022-08-18 06:55] bharath31 commented on #16124
duplicate of #3532

[2022-08-18 06:55] #16124 closed

[2022-08-18 06:56] dilippitchika commented on #11316
@sbalaji1192 we will be tackling this in reskinning, unless there is something specific we need to do in code.

[2022-08-18 07:10] dilippitchika commented on #14347
Just leaving my notes for triaging here
1. When sorting is applied and you update something and run the get query the table is re-rendered losing the applied sorting in the first place.
2. If the sort is server side, then updating and expecting the primary key to be retained means that data can be on a different page altogether now.

I don't know if we can solve this even without any server action

[2022-08-18 07:10] #16078 closed

[2022-08-18 07:12] Constantine9527 commented on #9462
hi,@Nikhil-Nandagopal.I have a problem with the widget of DatePicker.

Current Behavior:
Form data submission of date field not working with postgresql in YYYY-MM-DD format .
App sample in appsmith cloud: https://app.appsmith.com/app/testtablepage/page2-62fdddfe84757e0c05552c65

I have a DatePicker widget and format is YYYY-MM-DD, but when I insert into database, the value of {{DatePicker.formated

[2022-08-18 07:16] dilippitchika commented on #12239
Closing this as it's not reproducible anymore in v2

[2022-08-18 07:16] #12239 closed

[2022-08-18 07:17] dilippitchika commented on #2906
@aswathkk this issue is being planned to get picked up soon, should we pick it up before the prop pane changes go in and your changes will infer the change or you will have to do it again?

[2022-08-18 07:20] dilippitchika commented on #15448
@souma-ghosh will the fixed in the recent change we did for scrollbars in table?

[2022-08-18 07:23] dilippitchika commented on #13442
Fixed in table v2, closing this and adding the label
<img width="731" alt="Screenshot 2022-08-18 at 12 53 32 PM" src="https://user-images.githubusercontent.com/19730984/185334796-b2e3d642-4c0a-4657-bfa8-280466acf0f5.png">
.

[2022-08-18 07:23] #13442 closed

[2022-08-18 07:35] dilippitchika commented on #13666
Fix should be to re-order the table's selectedRow and triggeredRow property keys to be the same as the order set by -

1. Developer - This is straightforward, whatever the order is set by developer it should be the output for selectedRow and triggeredRow
2. User - I don't know if we should do this but this means the form changes order when user re-orders anything in the table. Need suggestions, in

[2022-08-18 07:40] dilippitchika commented on #13666
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.5 |

[2022-08-18 07:46] dilippitchika commented on #14076
Only an issue when url is the last column.

[2022-08-18 07:50] dilippitchika commented on #14076
Total use of url col - 415
Users not updated the display text - 270
Users who have the url in last col - 20%

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 54 |
| Effort (months)  | 0.5 |

[2022-08-18 08:07] aswathkk commented on #2906
@dilippitchika Changes to the Table widget already merged to release (under feature flag).
I'm planning to remove the feature flag and merge the code by tomorrow.

Can you wait till that?

Now, you will be able to see multiple places in the codebase that are referring to the property.
example:
- https://github.com/appsmithorg/appsmith/blob/e36a28d7da859211c2e355f151cf6cecde6a9668/app/client/src/wi

[2022-08-18 08:20] btsgh opened #16126 "[Bug]-[1568]:Checkbox widget - Label -> Position - On selecting Right, it still remains where it is."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I select the Right option from the Label -> Position property of Checkbox widget, it remains on the left.
No difference is seen if we select Left or Right.

Expected behavior - Previously, on selecting Right, the Label text used to be aligned to the right of the widget.

### Steps To Reproduc

[2022-08-18 08:31] nidhi-nair commented on #9012
Looks like this upgrade is already done and we're able to connect to serverless Mongo without any issues now.

[2022-08-18 08:31] #9012 closed

[2022-08-18 08:47] bharath31 commented on #15304
Will be handled by #15934

[2022-08-18 08:47] #15304 closed

[2022-08-18 08:53] nidhi-nair commented on #9358
@felixsuarez0727 can we use another variable name instead of id for storing the order of actions? The conflict with `_id` might cause problems in the future.

[2022-08-18 08:55] shadabbuchh opened #16127 "[Bug]: Wrong flag for United States in the Currency Input widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The flag against USD in the Currency Input widget is wrong when we D&D it for the first time is incorrect.

**Note:** On searching for United states in the dropdown we see the correct flag and if the user selects it the the proper flag gets displayed.

<img width="299" alt="Screenshot 2022-08-18 a

[2022-08-18 09:02] bharath31 commented on #15901
This is a code-level issue related to the usage of async/await. Adding `await` and waiting for the promise should fix this issue. Reason why this is happening only on first run: Api1.data result is cached on subsequent runs.

Fix: Add a linting warning to prompt usage of async/await

[2022-08-18 09:04] nidhi-nair commented on #15541
This works for locally hosted Appsmith. The issue seems to be with using ngrok along with TED's authorization server, closing the issue for now since Yatin confirmed that locally hosted server suffices for automation.

[2022-08-18 09:04] #15541 closed

[2022-08-18 09:05] bharath31 commented on #15901
@satbir121 this might need further triaging

[2022-08-18 09:09] ohansFavour opened #16128 "[Bug]: No debugger error is shown when JS Function run on page load fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Unlike Apis, no debugger error is shown when JS Function run on page load fails

### Steps To Reproduce

1. Create a JS Function
2. Set the function to run on page load
3. Set the function to confirm before execution
4. Reload the page and prevent execution of the function by rejecting confirmatio

[2022-08-18 09:10] dilippitchika commented on #16108
This doesn't work in table v2 and ends up blocking developers. Bumping the priority to high, @souma-ghosh please pick this as soon as other in progress items are resolved.

@sbalaji1192 not adding in the epic.

[2022-08-18 09:32] sneha122 commented on #14666
For the API mentioned in the ticket, response returned is of type string, because of which it is not being parsed and shown in the table format.

In order to fix this issue, we can:
- Parse the response string at client side using `JSON.parse` and then display it in table, For this to work, the response string has be a json string.
- We can remove the table tab altogether if API response is not an

[2022-08-18 09:45] btsgh commented on #15785
Unable to test this as the Saas Manager App - API Manager Page errors out -
<img width="1211" alt="SAASMgrError" src="https://user-images.githubusercontent.com/101863839/185365138-f31a0303-cb62-4d9d-b2de-5b290b6143b0.png">

[2022-08-18 10:00] satbir121 commented on #15845
@ramsaptami Is this issue still happening?

[2022-08-18 10:24] Rishabh-Rathod commented on #14749
@SatishGandham just confirming, you meant the perf test code here, correct?

I will check what could be possibly improved here.

[2022-08-18 10:30] #15119 closed

[2022-08-18 10:39] btsgh commented on #9358
In discussion with @felixsuarez0727 as I am unable to find the id column in the Saas Manager App.

[2022-08-18 10:48] chandannkumar opened #16131 "[Bug]: 'Close on selection' is not working on changing the month from calendar in Date Picker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/620b105c244841cb9b13b37d163cd848

### Steps To Reproduce

1. Drag & Drop Date Picker widget
2. Enable 'Close on Selection' property from property pane
3. Click on Date picker widget to open calendar
4. Change the month of the calendar via dropdown or arrow ( <  > )
5. No

[2022-08-18 10:50] dilippitchika commented on #14319
Duplicate of #3744

[2022-08-18 10:50] #14319 closed

[2022-08-18 10:52] btsgh commented on #15678
Tested and found to be fixed

[2022-08-18 11:07] nidhi-nair commented on #4995
A few other suggestions recorded [here](https://www.notion.so/appsmith/baibhavmundra999-gmail-com-cc9dcc2763da46b18a7c8c8c92d30148).

[2022-08-18 11:27] dilippitchika commented on #14527
@sbalaji1192 @jsartisan i don't know who needs to fix this, but this is an important issue because a lot of people bind data from table using this method and most of them are first time users.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 268 |
| Effort (months)  | 0.5 |

[2022-08-18 11:28] dilippitchika commented on #14527
Not adding this in epics for now

[2022-08-18 11:31] prapullac commented on #16011
@AmanAgarwal041
I observe that on changing the table column name in Gsheet gets updated only in the Response table however the Column name fields dropdown or Sheet name fields dropdown does not get updated in the Fetch many commands
![Screenshot 2022-08-18 at 4.49.29 PM.png](https://images.zenhubusercontent.com/60a4cfb7dc106bf49dc146ad/ab9888fd-6710-41b0-b522-c83c3e425fd4)

[2022-08-18 11:39] RoopKrrish9696 commented on #13005
Design review for the latest [DP](https://appsmith-p31woqcdj-get-appsmith.vercel.app/) above: cc @kocharrahul7 @akash-codemonk

1. Gap between canvas and the two cards should be corrected.
2. Canvas width should be matched with the cards.
3. The new page drop-down should be updated according to the zeplin.
4. The helper text for the "add button" should be corrected acc to zeplin.
5. Search should

[2022-08-18 11:51] #15529 closed

[2022-08-18 11:51] #12390 closed

[2022-08-18 11:51] Aishwarya-U-R opened #16132 "[Bug]: CustomChart | Unable to retrieve all info of the SelectedDataPoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="726" alt="Screenshot 2022-08-18 at 5 19 28 PM" src="https://user-images.githubusercontent.com/91450662/185387712-175d5d9e-9ac8-4763-879a-a0dda7947343.png">

### Steps To Reproduce

1. D&D Chart & select CustomChart
2. Give the below data in SeriesData:
[code]
3. Create a JS to read the

[2022-08-18 11:52] dilippitchika commented on #2906
Cool, let's wait for you to merge then we can fix it on our end

[2022-08-18 11:58] ame-appsmith commented on #7462
[Another user](https://community.appsmith.com/t/passing-only-numbers-into-a-string-field-actually-sends-a-number-to-the-api-instead-of-a-number-string/1315)  reported this issue.

[2022-08-18 12:17] Aishwarya-U-R opened #16135 "[Bug]: ShowAlert with same texts, when invoked from different triggers are combined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/185391846-601626d0-1a94-4c9c-b9ad-7c5fc00eafd2.mov

### Steps To Reproduce

1. D&D a button & update the onclick event to `{{JSObject1.myFun1();
showAlert('Clicked!','success')}}`
2. Define a JS function with `myFun1: () => {
		showAlert('Clicked!

[2022-08-18 12:23] jnikhila opened #16136 "[Docs]: [Rehaul] - Update SSL & Custom Domain"
Update the [doc](https://docs.appsmith.com/getting-started/setup/instance-configuration/custom-domain#custom-ssl-certificate). Refer to [slack thread:](https://theappsmith.slack.com/archives/C01CFTXD0N8/p1660743662324069)

[2022-08-18 12:43] ankitakinger opened #16139 "[Bug]: Dropdown component gets misaligned in certain scenarios"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Today, we have multiple variations of dropdown components in ADS (table, tree, original, v2). All of these use the blueprint/core Popover component internally. This component calculates the position of the dropdown popup using transform in CSS which cannot be edited by us in every scenario. And th

[2022-08-18 13:25] AmanAgarwal041 commented on #16011
We are fetching column names once as they are fetched as dynamic values, so if we change the column names in google sheets then we don't get updated column names unless we refresh the page or the column fetching call goes again due to page changes or any other user actions. That is why the executing the query shows updated column but not the columns dropdown.

[2022-08-18 13:35] pranavkanade commented on #15994
We've seen something like this before as well

[2022-08-18 13:38] pranavkanade commented on #7462
Workaround - https://community.appsmith.com/t/passing-only-numbers-into-a-string-field-actually-sends-a-number-to-the-api-instead-of-a-number-string/1315/4?u=pranav

[2022-08-18 13:54] btsgh opened #16140 "[Bug]-[116]:On trying to configure snowflake db - no error is thrown if incorrect details are entered."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Snowflake DB -
If I enter any random values in the DB details screen (for account name, warehouse, etc) , and click test - no error is thrown.
The circular progress on Test button just goes on and on, and after 30.1s it just stops on the same screen. It is not clear to the user if the DB connec

[2022-08-18 13:55] yaldram opened #16141 "[Bug]: Autocomplete does not work as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we use the mustache syntax inside the form fields for MongoDB query `{{}}` the autocomplete does not work as expected. When we hit enter the word is coming outside the mustache braces `{{}}`.

Please check the recording - https://www.loom.com/share/b7721ca088bd4f2ab5743725349f5a2f

### Steps

[2022-08-18 14:03] felixsuarez0727 commented on #15134
![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/d6d1fb22-8e7a-49bc-bbb5-f09e18984d39)

Perf is failing.

[2022-08-18 14:12] ohansFavour commented on #16135
Cause of issue

The toast id used [here](https://github.com/appsmithorg/appsmith/blob/1164b72db26003b0c888d6c0744605eef476637b/app/client/src/components/ads/Toast.tsx#L221) is not unique.

[2022-08-18 14:15] prapullac commented on #16011
@AmanAgarwal041 : Based on the above comment I have verified the issue and hence putting it to Done state

[2022-08-18 14:47] bharath31 commented on #6093
This is no longer an issue in the new property pane

[2022-08-18 14:47] #6093 closed

[2022-08-18 15:12] Rishabh-Rathod commented on #15407
@ohansFavour Do we need to store list of all extracted identifiers? or only those which are not active?

Currently, our `dependencyMap` already stores all active extracted identifiers, we could just create a store for non-active references. correct?

Also, can you help me understand how we maintained this value ( data structure of variable to store extracted references )?

[2022-08-18 15:20] bharath31 commented on #15165
Assuming 1% of JSObject users face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 30 |
| Effort (months)  | <<number>> |

[2022-08-18 15:21] bharath31 commented on #14436
@satbir121 could you triage this issue?

[2022-08-18 15:44] bharath31 commented on #14989
Assuming 20% of JSEditor users face this issue

[code]

[2022-08-18 15:53] subrata71 commented on #15981
This is the block diagram of Datatype Handling implementation on the server side. View this on [Miro board](https://miro.com/app/board/uXjVPfSzqXg=/). Any feedback is much appreciated.

cc: @nidhi-nair @ChandanBalajiBP

![Datatype Handling-Block Diagram](https://user-images.githubusercontent.com/3524599/185439320-ca8a947b-56c3-4ab9-b9a7-4debb75bf925.png)

[2022-08-18 16:23] #16011 closed

[2022-08-18 16:26] prapullac commented on #15956
@AmanAgarwal041 : Verified the issue on DP

[2022-08-18 16:26] prapullac commented on #15975
@sumitsum Verified the issue on DP

[2022-08-18 16:34] prapullac commented on #15529
Not on the release yet

[2022-08-18 16:35] prapullac commented on #13367
Not on the release yet

[2022-08-18 16:35] prapullac commented on #13145
Not on the release yet

[2022-08-18 16:36] prapullac commented on #12390
Not on the release yet

[2022-08-18 17:20] ZackKnopp commented on #13156
Same issue for me:
[code]

`api2` shows as undefined.

The await/async works, but callbacks don't. And I'm using callbacks because there is still a bug that wont let the api error message be passed through when I use async await.

[2022-08-18 17:43] ericmigi commented on #15538
I'd be happy to set up a $200 bounty for this feature, if anyone wants to build it!

[2022-08-18 19:02] commandodev commented on #11949
I've just run into this as well. I want to be able to query other docker compose services from appsmith (and the hosts have an underscore in them).

[2022-08-18 19:31] #15555 closed

[2022-08-18 19:33] nidhi-nair commented on #14135
Closed via #16106

[2022-08-18 19:33] #14135 closed

[2022-08-18 19:34] #15975 closed

[2022-08-18 19:34] #15956 closed

[2022-08-18 19:43] #16061 closed

[2022-08-18 21:04] dperez-sct commented on #12354
My vote here!

[2022-08-19 01:11] Constantine9527 opened #16144 "[Bug]: Form data submission of date field not working with database in YYYY-MM-DD format"
I have a problem with the widget of DatePicker.

Current Behavior:
Form data submission of date field not working with postgresql in YYYY-MM-DD format .
App sample in appsmith cloud: https://app.appsmith.com/app/testtablepage/page2-62fdddfe84757e0c05552c65
(It it insert the value ({{DatePicker.formatedDate})) of DatePicker  into users.image field )

I have a DatePicker widget and format is YYYY-MM

[2022-08-19 03:44] sum35h opened #16146 "[Task]: Configure Appsmith backend with the ssl certs to connect to external mongo."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently, the backend server does not support parsing the SSL certs specified in the APPSMITH_ MONGODB_URI and throws the following errors:
[code]
Followed by the following exceptions:
[code]
This is due to the the SSL certs not being found by the java server.

There is a [community post](https://co

[2022-08-19 04:35] prapullac commented on #15956
Not on the release yet

[2022-08-19 04:36] prapullac commented on #15975
Not on the release yet

[2022-08-19 04:54] bharath31 commented on #13547
Assuming 100% of Input validation users face this issue

| Stat | Values |
| ------------- | ------------- |
| Reach     | 3600 |
| Effort (months)  | <<number>> |

[2022-08-19 05:03] vuiets commented on #14366
@AnaghHegde could we close this if it's merged?

[2022-08-19 05:05] ashit-rath commented on #15777
In the POC we were able to achieve the initial goals and on top of that we verified the widget operations on the List widget also works eg. drag/drop/resize, item size change etc.

[2022-08-19 05:26] #16123 closed

[2022-08-19 05:41] #16019 closed

[2022-08-19 05:41] sbalaji1192 commented on #14527
@dilippitchika This issue looks like related to theming. @jsartisan could you take a look at this?

[2022-08-19 05:53] jnikhila opened #16148 "[Docs]: Tutorial for using REST API"
The [mix panel](https://mixpanel.com/project/2032485/view/178891/app/dashboards#id=1160693&editor-card-id=%22report-13034407%22) shows that the most popular datasources used by our users is REST API and so it would be helpful for new users to have API as part of [Build Your First App](https://docs.appsmith.com/getting-started/start-building) doc.

[2022-08-19 05:55] jnikhila commented on #16148
@rohan-arthur - Please add if I've missed anything.

[2022-08-19 05:59] Nikhil-Nandagopal commented on #14366
Yeah can we please fix this? I see this very often and I can even reproduce this on prod

[2022-08-19 06:05] ashit-rath commented on #15777
Update:
PoC also needs to be reviewed by a reviewer so re-opening this issue and will be closed once the PoC is merged with the base branch.

[2022-08-19 06:09] Nikhil-Nandagopal commented on #16115
@nassim-2000 unfortunately these steps don't help us reproduce the issue on our end. Could you share a video of yourself reproducing this?

[2022-08-19 06:21] pranavkanade opened #16150 "[Feature]: Custom domains for apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user wants custom domains for their apps

### Why should this be worked on?

OP - https://discord.com/channels/725602949748752515/760761686549463060/1010062136237641758

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations

[2022-08-19 06:27] prapullac commented on #11616
Verified on the DP

[2022-08-19 06:28] prapullac commented on #12019
Verified on the DP

[2022-08-19 06:28] prapullac commented on #12390
Verified on the DP

[2022-08-19 06:29] prapullac commented on #15975
Verified on the DP

[2022-08-19 06:30] prapullac commented on #15956
Verified on the DP

[2022-08-19 06:30] prapullac commented on #15529
Verified on the DP

[2022-08-19 06:36] dilippitchika commented on #15939
@techbhavin are you checking this?

[2022-08-19 06:41] dilippitchika commented on #14261
@techbhavin can you please discuss with @sbalaji1192 on how you plan to fix this?

[2022-08-19 06:59] hiteshjoshi commented on #16018
More context : https://app.slack.com/client/TGA9SH07N/C02K2MZERSL

[2022-08-19 07:01] hiteshjoshi opened #16152 "Analytical events for RBAC"

[2022-08-19 07:09] sondermanish opened #16154 "[Feature]: Informative error messages on cyclic dependency for queries on page load."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When queries from JS functions are marked for run on page load, some queries fail to run because the function introduces **Cylic dependency error**.   As a workaround, this could be negotiated by naming variables and entities uniquely. In order to achieve that the error messages needs to be more infor

[2022-08-19 07:26] Nikhil-Nandagopal commented on #16141
@yaldram the same issue will happen in any field if the content is the same

[2022-08-19 07:35] hiteshjoshi commented on #14182
@RakshaKShetty this needs to be tested during RBAC testing.

[2022-08-19 07:38] techbhavin commented on #15939
@dilippitchika  issue fixed. Now some unrelated test case failing so working on it

[2022-08-19 07:42] #12982 closed

[2022-08-19 07:47] Nikhil-Nandagopal commented on #15994
@sumitsum this is the corresponding sentry error
https://sentry.io/organizations/appsmith/issues/3388844796/?alert_rule_id=821323&alert_timestamp=1656523423900&alert_type=email&environment=Production&project=1546547&referrer=alert_email

[2022-08-19 08:05] eco-monk commented on #14745
- [ ] Page context menu changes
- [ ] Move general and app theme settings into app settings panel
- [ ] Move page settings into app setting panel

[2022-08-19 08:05] eco-monk opened #16155 "Task: Context menu changes"
App setting:
https://app.zeplin.io/project/62f0d18d1381d011b6c15efc/screen/62ff5452fb42c2241320e87f

Page setting:
https://app.zeplin.io/project/62f0d18d1381d011b6c15efc/screen/62f0d21f558ec517297b2aa6

[2022-08-19 08:06] eco-monk opened #16156 "Task: Move general and app theme settings into app settings panel"
General settings:
https://app.zeplin.io/project/62f0d18d1381d011b6c15efc/screen/62f0d331c198c9126eab5e01

Theme settings:
https://app.zeplin.io/project/62f0d18d1381d011b6c15efc/screen/6311df43485e0b2e2128d9e0

[2022-08-19 08:06] eco-monk opened #16157 "Task: Move page settings into app setting panel"
Screen:
https://app.zeplin.io/project/62f0d18d1381d011b6c15efc/screen/62f0d225eb4d0a14ae0a8691

[2022-08-19 08:08] Nikhil-Nandagopal commented on #13666
Agreed, I think we should avoid this. It can cause some unexpected behavior.

[2022-08-19 08:09] Rishabh-Rathod opened #16158 "[Task]: Add Cypress test for autocompletion of binding in array and object value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-08-19 08:15] Nikhil-Nandagopal commented on #16144
@Constantine9527 this seems to be a bug while using prepared statements where we're trying to infer the data type of the widget. You can turn it off or insert it into a date type field to make it work

[2022-08-19 08:22] RakshaKShetty commented on #16060
<img width="1155" alt="image" src="https://user-images.githubusercontent.com/45958978/185576674-7c097316-c950-4948-b684-6b1924d5717a.png">

[2022-08-19 08:29] RakshaKShetty commented on #15932
<img width="1105" alt="image" src="https://user-images.githubusercontent.com/45958978/185578058-f049ec31-482e-450c-a91f-6e8ba48aa164.png">

[2022-08-19 08:33] Nikhil-Nandagopal commented on #16087
Seems to be a duplicate of #16141

[2022-08-19 08:33] #16087 closed

[2022-08-19 09:19] Nikhil-Nandagopal commented on #14537
@jnikhila yeah just a callout that this may happen and that they should look to AWS to resolve it

[2022-08-19 09:20] RoopKrrish9696 commented on #15661
**Here is the first draft version of the admin settings :**  cc @kocharrahul7 @hiteshjoshi

https://www.figma.com/file/NTbOAyb1Popy6bgiwjOuBy/Enable-embedding-of-Appsmith-apps?node-id=7159%3A1324

[2022-08-19 09:25] prapullac commented on #12394
@sumitsum : Verified on the DP

[2022-08-19 09:33] Nikhil-Nandagopal commented on #15998
@AS-Laguna the user can achieve this using the custom update mode

[2022-08-19 09:37] dilippitchika commented on #15998
@Nikhil-Nandagopal the user wants to edit all the cells that match a condition with a value, there's a difference. More like find and replace.

[2022-08-19 09:40] ame-appsmith opened #16160 "[Bug]: User Invited as Developer to Organization Has Only App Viewer Access"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user that previously had only App Viewer access to an organization gets an invite to join as a Developer. After receiving the invitation email, the user went to the workspace but still did not get edit access and is listed as App Viewer.
![2022-08-03 15_03_01-Window](https://user-images.githubus

[2022-08-19 09:41] Aishwarya-U-R opened #16161 "[Feature]: RedHighlight or Asterisk a Required Input field for better UI readability"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="644" alt="Screenshot 2022-08-19 at 3 07 53 PM" src="https://user-images.githubusercontent.com/91450662/185591022-fa1aa61b-e7a2-4cbd-93a2-853fc9c5b054.png">

### Steps To Reproduce

1. D&D few input fields inside a form widget & make their Required fields `True`
2. Also notice 'Disabled

[2022-08-19 09:46] Nikhil-Nandagopal commented on #15998
@dilippitchika oh got it. I think this is a feature better suited for the Grid Widget

[2022-08-19 09:53] bharath31 commented on #9782
While we continue to work on a long-term fix for this issue, a linter warning would prevent users from running into long debugging loops.

@ApekshaBhosale here's a linter warning message we can show when a callback syntax is detected:
[code]

[2022-08-19 09:57] #12394 closed

[2022-08-19 10:04] #15481 closed

[2022-08-19 10:10] #12938 closed

[2022-08-19 10:25] sumitsum commented on #14022
Closing since all the issues seem to be have been addressed as per my tests today.

[2022-08-19 10:33] Nikhil-Nandagopal commented on #16004
@xoraingroup thank you for the feature request. We're tracking this feature here #7256

[2022-08-19 10:33] #16004 closed

[2022-08-19 10:57] prapullac commented on #14656
@felixsuarez0727 : Unable to test this as the Saas Manager App - API Manager Page - displays an error (Page does not get loaded )

[2022-08-19 10:58] ramsaptami commented on #15524
Unable to verify since we do not have steps to repro the issue but code has been modified to prevent this error from showing up

[2022-08-19 11:00] felixsuarez0727 commented on #9358
The column is not coming up because it is empty. I am looking for a way to make appear.

[2022-08-19 11:13] chandannkumar commented on #12531
@Tooluloope This issue still exists. Reopening this issue

https://www.loom.com/share/22aa0c311a2644bfaed092929301ac56

[2022-08-19 11:32] felixsuarez0727 commented on #15785
This issue is blocked by those two errors.

[2022-08-19 11:33] felixsuarez0727 commented on #15134
The issue is blocked by a real error that needs to be fixed.

[2022-08-19 11:46] felixsuarez0727 commented on #14656
Moving to Blocked PR.

[2022-08-19 11:56] #15184 closed

[2022-08-19 12:11] RakshaKShetty commented on #14182
@hiteshjoshi i could still repro the issue so reopening the issue ![image.png](https://ima![image.png](https://images.zenhubusercontent.com/60a213f9a1e4f1bd65b83f42/708b0096-02e5-4eeb-8c78-9b266d5f24d7)ges.zenhubusercontent.com/60a213f9a1e4f1bd65b83f42/aac7319d-2822-4719-b844-57daf31da38a)

[2022-08-19 12:36] shadabbuchh opened #16166 "[Bug]: Forking template dropdown UI not consistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There seems to be an unusual padding at the end of the `Choose where to fork the template` dropdown.

<img width="809" alt="Screenshot 2022-08-19 at 3 51 56 PM" src="https://user-images.githubusercontent.com/39921438/185619071-11497958-008a-4925-970f-88e1bdf55a43.png">

### Steps To Reproduce

1.

[2022-08-19 13:00] RakshaKShetty opened #16167 "[Bug]: The data looks misaligned inside share modal when the workspace name is too long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The data looks misaligned inside the share modal when the workspace name is too long
![image](https://user-images.githubusercontent.com/45958978/185623455-8c4bd7c1-4f20-4dcb-9ba9-d71209e6c32a.png)

### Steps To Reproduce

1. go to the home page
2. add a new workspace
3. Edit the work name space wi

[2022-08-19 13:37] nidhi-nair commented on #15882
Turns out these are front end events.

[2022-08-19 13:39] #15950 closed

[2022-08-19 13:39] #16141 closed

[2022-08-19 13:56] prapullac commented on #16099
verified this on DP

[2022-08-19 14:02] prapullac commented on #13145
Closing this issue as per comment by Sumit

[2022-08-19 15:34] #16099 closed

[2022-08-19 15:57] subrata71 commented on #16144
Hi @Constantine9527
What's the data type of that `image` column?

[2022-08-19 16:01] Nikhil-Nandagopal commented on #16144
@subrata71 it's text. It's our sample users DB

[2022-08-19 18:04] josiah-roberts commented on #15394
I'm having an issue where `{{ appsmith.URL.hash }}` does not update when the hash changes; only when the page is reloaded.

[2022-08-19 18:27] josiah-roberts opened #16168 "[Bug]: `{{ appsmith.URL.hash }}` does not update when hash changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When binding to ` {{ appsmith.URL.hash }}`, the value does not update when the page hash is changed. Instead, the original value on page load is always returned, and a full refresh is required to update the app.

### Steps To Reproduce

1. Create an app with a text element: `Page Hash: {{ appsmith

[2022-08-19 19:08] AS-Laguna commented on #15998
@Nikhil-Nandagopal It seems that our users are wanting to use our table widget like a spreadsheet editor/viewer. I think developing that idea may have value, though it would cost effort. I think we should leave this open in case someone would like to contribute the feature. 😄

[2022-08-19 19:46] ame-appsmith opened #16169 "[Bug]: Select Widget Display Issue on Tablet/Mobile When Opening On-Screen Keyboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When opening the keyboard on a tablet, the Select widget goes off the screen and no selection can be made.

![image](https://user-images.githubusercontent.com/101268423/185696452-039b106e-e803-41c6-ae91-173a4b236060.png)

![image](https://user-images.githubusercontent.com/101268423/185696284-c64b5

[2022-08-20 01:13] nzidol opened #16170 "[Bug]: Tab title checks don't run when changing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I type a long title into a tab, the tab shows a truncated name without dots:
![image](https://user-images.githubusercontent.com/13618973/185722866-aba7a7f0-2aaa-474c-af1b-841faf1d8d5c.png)
![image](https://user-images.githubusercontent.com/13618973/185722873-46e31a16-fc39-415e-8608-5fc08e87dd

[2022-08-20 16:50] chromonav commented on #2888
@Nikhil-Nandagopal  what if want to have a form inside an accordian

[2022-08-20 19:52] rodrigo-mahamud opened #16172 "[Bug]: Iframe stop working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Before the new update, the iframe with the appsmith app that I had inserted in my website worked fine. Now I get the following error in the console:

Refused to frame 'https://app.appsmith.com/' because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'self'".

[2022-08-20 21:21] nassim-2000 commented on #16115
I can't predict when the problem will occur, otherwise I could have attached a video to better understand. The problem comes suddenly after 20 attempts as well as after 5 attempts.

[2022-08-21 05:42] dilippitchika commented on #15987
This is only happening in release and not in production - https://www.loom.com/share/48ed05677d2b4c698757d7bc6440ede3

However, for this to work we have to understand how we associate uniqueness in a button, this can be through id or label etc. which means this info can be used to uniquely identify a button. Currently the hash used and all look like they are for bringing uniqueness into the button

[2022-08-21 06:46] reachtokish commented on #15899
@sumitsum I'm interested to take up the issue. Could you pls assign this to me?

[2022-08-21 09:00] ramsaptami commented on #15987
This is an existing issue but is showing up now  since button group widget  now has the autocomplete feature added in

[2022-08-21 15:21] felixsuarez0727 commented on #15911
|Class|Color|
|--|--|
|Button|(0,255,0)|
|||
|||
|||
|||
|||
|||

[2022-08-21 17:18] sumitsum commented on #15899
@reachtokish thanks for showing interest in this issue. I have assigned this issue to you. You need to make the change in [this](https://github.com/appsmithorg/appsmith/blob/release/app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/form.json) file. Happy coding :)

[2022-08-22 04:03] jnikhila commented on #15216
Published.

[2022-08-22 04:03] #15216 closed

[2022-08-22 04:49] dilippitchika commented on #15987
@ramsaptami when are the autocomplete changes going into production?

[2022-08-22 04:51] pratapaprasanna opened #16175 "[Task]: KT session for all the engineers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-08-22 05:09] #15492 closed

[2022-08-22 05:09] #15515 closed

[2022-08-22 05:09] #15516 closed

[2022-08-22 05:09] #15518 closed

[2022-08-22 05:09] #15561 closed

[2022-08-22 05:09] #16000 closed

[2022-08-22 05:21] dilippitchika commented on #4577
@chandannkumar @laveena-en PRD can be found here - https://www.notion.so/appsmith/QR-scanner-PRD-29f5a1f703b648acaeee463ab5ff6483

Will update after discussion with @dhruvikn

[2022-08-22 05:21] ramsaptami commented on #15987
It's going in this weeks changes @dilippitchika

[2022-08-22 05:22] #14840 closed

[2022-08-22 05:22] dilippitchika commented on #15987
Ok, thanks. I'll suggest someone in my team to remove the bindings on button group for now.

[2022-08-22 05:37] rafaelferreirapt commented on #13681
Hi, I am experimenting retool and appsmith. In retool we made a table with rows with HTML, but I can't do this in appsmith. It will be awesome to have that in appsmith.
![Captura_de_ecra_2022-08-22_as_06 34 01](https://user-images.githubusercontent.com/4203171/185846805-efac50cb-9b1b-4d4a-ba81-c2e7fe7e7088.png)

[2022-08-22 05:47] #13613 closed

[2022-08-22 05:47] #15568 closed

[2022-08-22 05:56] jnikhila commented on #16136
@cokoghenun - Could you please add your points to this ticket? It'll be helpful for us when we rewrite the doc.

[2022-08-22 05:59] rohan-arthur opened #16176 "[Bug]: There is no way to reset the pagination variables in GraphQL query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/94514895/185849311-b4057a1d-319f-4825-b924-377edbee516f.mov

### Steps To Reproduce

1. Create GraphQL query
2. Create some variables in the body
3. Select these variables in the pagination tab
4. Now go back to body and remove those variables (you might h

[2022-08-22 06:00] Richarex opened #16177 "[Bug]: In Applicant Tracker template all the widgets in container1 fails to get highlighted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user forks the 'Applicant Tracker' template on the workspace it is observed that all the widgets in 'Container1' fails to get highlighted for the user.

### Steps To Reproduce

1. Go to url:- https://release.app.appsmith.com/
2. Click on 'Templates' and on 'Applicant Tracker' template cli

[2022-08-22 06:05] sumitsum commented on #16176
@AmanAgarwal041 assigning this to you since this looks like something that should be handled from he client side. Please let me know if it needs to be handled on server side.

[2022-08-22 06:10] dilippitchika commented on #13681
Hey @rafaelferreirapt can you also provide context on how you show the html inside table? Any screenshots will help

[2022-08-22 06:16] Richarex opened #16178 "[Bug]: "app.appsmith.com refused to connect" error is displayed on all the 5 templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

when the user clicks on any of the 5 displayed templates this error "app.appsmith.com refused to connect" is shown on the first section of the template.

### Steps To Reproduce

1. Go to url:- https://release.app.appsmith.com/
2. Click on the 'Templates' button
3. Now select any template of your c

[2022-08-22 06:19] kocharrahul7 commented on #16177
Hey @Richarex can you try to select a user from the table? The container widgets are supposed to be hidden by default. If that is broken, we can work for a fix

[2022-08-22 06:22] kocharrahul7 commented on #16178
Seems to be a similar issue as [this](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1660921307331549) @sharat87 is that an accurate assessment?

[2022-08-22 07:07] pranavkanade commented on #16132
@dilippitchika can we please prioritize this? A user is blocked. [link](https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100159684)

[2022-08-22 07:39] dilippitchika commented on #16132
Sure, let me take a look. @somangshu will need context on who worked on this.

[2022-08-22 07:52] jnikhila opened #16181 "[Docs] : MongoDB - Support for Serverless MongoDB"
Refer [slack](https://theappsmith.slack.com/archives/C02KTH6EHUG/p1661149854009909)

Update MongoDB docs to [add support for serverless MongoDB](https://github.com/appsmithorg/appsmith/issues/9012).

[2022-08-22 07:54] jnikhila commented on #16181
@sumitsum and @rohan-arthur - Could you please add pointers to the ticket?

[2022-08-22 08:07] rafaelferreirapt commented on #13681
Hi, we are building a CS dashboard for our team. We are an electric mobility application. We need to show to the CS team in the table plenty of information before going into the session details page
![Captura_de_ecra_2022-08-22_as_06 38 36](https://user-images.githubusercontent.com/4203171/185871523-0790c0bc-4a53-42ac-81c3-34ab12f60296.png)
.

[2022-08-22 08:50] sumitsum opened #16182 "[Bug]: GraphQL: fix background color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]
Ref: https://theappsmith.slack.com/archives/CGBPVEJ5C/p1655885054803919?thread_ts=1655821041.009059&cid=CGBPVEJ5C

### Steps To Reproduce

https://theappsmith.slack.com/archives/CGBPVEJ5C/p1655885054803919?thread_ts=1655821041.009059&cid=CGBPVEJ5C

### Public Sample App

_No response_

###

[2022-08-22 08:52] sumitsum opened #16183 "[Bug]: GraphQL: Incorrect bracket pairing during linting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]
Ref: https://theappsmith.slack.com/archives/CGBPVEJ5C/p1655885054803919?thread_ts=1655821041.009059&cid=CGBPVEJ5C

### Steps To Reproduce

https://theappsmith.slack.com/archives/CGBPVEJ5C/p1655885054803919?thread_ts=1655821041.009059&cid=CGBPVEJ5C

### Public Sample App

_No response_

###

[2022-08-22 08:54] sumitsum opened #16184 "[Bug]: GraphQL: slash commands are active in disabled input boxes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]
Ref: https://theappsmith.slack.com/archives/CGBPVEJ5C/p1655886459059589?thread_ts=1655821041.009059&cid=CGBPVEJ5C

### Steps To Reproduce

https://theappsmith.slack.com/archives/CGBPVEJ5C/p1655886459059589?thread_ts=1655821041.009059&cid=CGBPVEJ5C

### Public Sample App

_No response_

###

[2022-08-22 08:59] ohansFavour commented on #15407
@Rishabh-Rathod Apparently, the way we currently extract identifiers from code has some abnormalities hence invalid identifiers are getting added, resulting in a large number of extracted identifiers. I have already started working on that [here ](https://github.com/appsmithorg/appsmith/pull/16171). This should reduce the number of untracked identifiers which is then stored in a "dependencyMap" ty

[2022-08-22 09:06] dilippitchika commented on #16169
@dhruvikn triage this one this week. Ideally what we expect from triaging is, giving us a direction on how to fix this problem so that it can be estimated and picked up.

[2022-08-22 09:09] dhruvikn commented on #16169
Sure, will take a look.

[2022-08-22 09:43] shadabbuchh opened #16185 "[Bug]: Gsheet page displays overlapping UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The UI components in the Gsheet page overlap which makes the whole page ugly.
<img width="793" alt="Screenshot 2022-08-22 at 2 41 58 PM" src="https://user-images.githubusercontent.com/39921438/185890890-993e39c9-1e2f-42e6-ac21-2fda7410b889.png">

### Steps To Reproduce

1. Go to any application in

[2022-08-22 09:50] lavanyaG4 opened #16186 "[Feature]: I want display the number on table that which records are displaying in table."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I want display the numbers on table that which records are displaying in table based on page size and total records while using Server side pagination. Suppose the page size is 50 and total records are 1000 then in page 1 (1-50) records
    page 2(50-100)records
    page 3(100-150) records
like this t

[2022-08-22 10:05] rohan-arthur commented on #16185
@shadabbuchh would you please point out the PR that created this DP?

[2022-08-22 10:08] rohan-arthur commented on #16140
based on 6m usage:

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 58 |
| Effort (months)  | <<number>> |

[2022-08-22 10:08] shadabbuchh commented on #16185
@rohan-arthur here you go:
https://github.com/appsmithorg/appsmith/pull/15892

[2022-08-22 10:10] Irongade commented on #16185
@shadabbuchh This PR isn't the cause for this behaviour.

[2022-08-22 10:12] shadabbuchh commented on #16185
@Irongade not sure about that. Just mentioned this PR as we got the DP link from the same.

[2022-08-22 10:28] Irongade commented on #16185
@yaldram This is due to the changes you made, kindly fix this. https://github.com/appsmithorg/appsmith/pull/15866

[2022-08-22 10:50] dilippitchika commented on #13681
Thanks a lot for this @rafaelferreirapt we are planning to pick this up soon, please keep following this github issue

[2022-08-22 10:50] #14022 closed

[2022-08-22 11:01] subrata71 commented on #16144
The server identifies the data type as a date. And `preparedStatement.setDate` function adds a timezone offset to it. There's no way we can eliminate adding a timezone offset because the library always does that. In this case, it's recommended to use any `date/timestamp` type instead of string type in the database to store date values.

[2022-08-22 11:22] vuiets commented on #3439
### Meeting Notes
22 Aug 2022

**Discussed**

A few things that we've agreed on to work on in future releases
* Adding a log for manual instance upgrades.
* Distinguishing between system-generated and user-generated events, especially around page updates when a migration is run on the client
* Opening up logs for workspace admins and developers in the _Business_ edition.

**Next Steps**
* @vishnu-

[2022-08-22 11:31] Rishabh-Rathod opened #16188 "[Bug]: Remove autocomplete for groupButton property of ButtonGroupWidget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Remove suggestion for `groupbuttons` property of `ButtonGroupWidget`.

### Steps To Reproduce

1. Create new Appsmith app
2. Add ButtonGroupWidget
3. Add text widget
4. Type `{{Button`, you could notice autocomplete suggestion for buttonGroupWidget which shouldn’t be shown.

### Public Sample App

[2022-08-22 12:13] AnandiKulkarni opened #16192 "[Bug]: Save button is not getting highlighed while saving for new theme in Safari"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Safari browser - Open appsmith and edit it verify in property pane- Save the theme Save button does not get highlighted as it is in chrome and firefox
Safari
<img width="1440" alt="Screenshot 2022-08-22 at 4 12 11 PM" src="https://user-images.githubusercontent.com/80756091/185918238-6f175da6-742a-

[2022-08-22 12:15] yaldram commented on #16185
The changes have been reverted @shadabbuchh please verify on release

[2022-08-22 12:43] shadabbuchh commented on #16185
@yaldram this issue was not on Release to begin with. It was on the DP mentioned above. But  now I see it on Release as well.
<img width="1920" alt="Screenshot 2022-08-22 at 6 12 55 PM" src="https://user-images.githubusercontent.com/39921438/185923863-75724036-7a83-4cfb-863e-6a5c65a59fa6.png">

[2022-08-22 12:47] yaldram commented on #16185
@shadabbuchh give some time it will be resolved.

[2022-08-22 13:36] sneha122 commented on #13406
This issue is reproducible when the table does not have a scroll bar, when table has scroll bar, the header and table body is correctly aligned. After investigating this issue we found that, we have used **FixedSizeList** component of **react-window** library to display data in table, when there is more data in table and scroll bar appears, scrollbar width takes approximately 6px from the total ta

[2022-08-22 13:39] sharat87 commented on #16172
Hey @rodrigo-mahamud, thank you for reaching out. This was an unintended regression from our recent migration and should now be resolved. Please reopen if you are still facing this problem. Thank you. 🙏

[2022-08-22 13:39] #16172 closed

[2022-08-22 13:46] ramsaptami commented on #15845
Closing this since it's working as expected

[2022-08-22 13:46] #15845 closed

[2022-08-22 15:21] AmanAgarwal041 commented on #16176
@rohan-arthur @parth-appsmith we will be requiring design to add this functionality.

[2022-08-22 15:34] reachtokish commented on #15899
Sorry mistakenly clicked on unassign me link

[2022-08-22 15:36] reachtokish commented on #15899
Also raised https://github.com/appsmithorg/appsmith/pull/16198 - this PR. Kindly have a look.

[2022-08-22 15:43] andrewdietekoki commented on #9815
@dilippitchika

[2022-08-22 16:27] AmanAgarwal041 commented on #16184
This issue was fixed in the previous PR https://github.com/appsmithorg/appsmith/pull/15028/files#diff-75c609e24bffea3bf79eacaa37b52fdd670d4fcb2302966c64172d43329226f8R234

[2022-08-22 16:27] #16184 closed

[2022-08-23 00:49] andrewdietekoki commented on #9815
Design: https://www.figma.com/file/nTMtrnQJUsso2Ud6m8UPqW/Resize-Image-Inside-Table-Widget?node-id=459%3A4159

[2022-08-23 01:47] rohan-arthur commented on #15816
@RakshaKShetty looks like this is not reproducible anymore, would you please check?

[2022-08-23 04:24] andrewdietekoki commented on #3349
Design: https://www.figma.com/file/1aTQ6vksqqAMtgB243PtHm/UI-%7C-Widget-Style-Updates-0.1?node-id=5458%3A86979

Property Pane Design: https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=6723%3A124386

[2022-08-23 04:53] prapullac commented on #15911
We observe the page seems be e,pty and the API is failing
 ![Screenshot 2022-08-23 at 10.21.07 AM.png](https://ima![Screenshot 2022-08-23 at 10.21.15 AM.png](https://images.zenhubusercontent.com/60a4cfb7dc106bf49dc146ad/04441a76-9054-4265-a0e7-81a08720668d)ges.zenhubusercontent.com/60a4cfb7dc106bf49dc146ad/44bf04a7-e33a-4415-b68e-fa15ea483308)

[2022-08-23 05:08] #15682 closed

[2022-08-23 05:08] jnikhila commented on #15682
[Published](https://docs.appsmith.com/getting-started/setup/instance-configuration/email).

[2022-08-23 05:21] rohitagarwal88 opened #16202 "[Bug]-[4000]:Response url not encoded in Previous URL & Next URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

API call run fine but when I enter the same url in Next url, throws

java.net.URISyntaxException: Illegal character in query at index 78: https://api.github.com/orgs/appsmithorg/issues?filter=all&state=open&labels=UI Builders Pod&pulls=true&per_page=100&page=2

### Steps To Reproduce

Loom recordi

[2022-08-23 05:38] #14538 closed

[2022-08-23 05:38] jnikhila commented on #14538
[Published](https://docs.appsmith.com/help-and-support/troubleshooting-guide/widget-errors).

[2022-08-23 05:43] dilippitchika commented on #16186
Thanks for adding this @lavanyaG4, we will check this out.

[2022-08-23 05:48] aswathkk commented on #15064
These fields already accept JS. So, no need to have a JS toggle option for them. Removing the JS toggle button for these properties is the solution.

[2022-08-23 06:02] #15372 closed

[2022-08-23 06:05] keyurparalkar opened #16205 "[Docs]: Table Widget v2.1: Checkbox Column Type Documentation"
### Is there an existing issue for this?
Documentation for https://github.com/appsmithorg/appsmith/issues/7338

### Description

We wish to support checkbox as a column type in table

## Link to documentation

https://www.notion.so/appsmith/Table-Widget-Checkbox-column-type-5a8c09ffdc024d39bb8f511c07b403b5

[2022-08-23 06:08] sbalaji1192 opened #16206 "[Task]: update autocomplete defs on code editor focus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently, autocomplete customDataTree defs are updated when the code editor gets mounted on the tree. As a result, when two code editor with different customDataTree is present on the property pane, the second code editor's defs overwrites the previous one. So we need to update the defs only when co

[2022-08-23 06:19] dilippitchika opened #16207 "[Task] : Backend for storing and reading branding details for admin users"
This is only for the admin user who can edit the brand settings.
    1. Using a database to store and update values
    2. Using assets folder/db to manage the logo favicon
    3. Supporting derived colors or derived properties to be read and updated.
    4. Default values need to be configured for clients who started to use branding

[2022-08-23 06:20] dilippitchika opened #16208 "[Task] : A new config api which contains branding details for unauthenticated users"

[2022-08-23 06:21] dilippitchika opened #16209 "[Task] : Frontend to consume config api and store the brand values for reuse"
## Task details

Frontend to consume the config api and /me api which has brand details and update the index.html file to store all these brand details

[2022-08-23 06:21] hiteshjoshi commented on #13067
@ankitakinger can we close this.

[2022-08-23 06:22] dilippitchika opened #16210 "[Task] : Backend to add Brand details to provided in /me endpoint"
## Task details

For a logged in user, the brand detail is sent in their `/me` endpoint response to easily access the brand values

[2022-08-23 06:22] #13532 closed

[2022-08-23 06:22] #13534 closed

[2022-08-23 06:22] dilippitchika opened #16211 "[Task] : Frontend Code split for CE and EE on branding"
## Task
This task is to ensure the code split for CE and EE for branding and to add the CE experience for branding.

[2022-08-23 06:22] #13533 closed

[2022-08-23 06:22] dilippitchika opened #16212 "[Task] : Backend email changes to support logos and colors dynamically"

[2022-08-23 06:22] #14082 closed

[2022-08-23 06:23] #14083 closed

[2022-08-23 06:23] dilippitchika opened #16213 "[Task] : Frontend to add admin settings for configuring branding"
## Task details

This issue is for frontend team to add brand settings UI in admin settings for EE users to support branding

[2022-08-23 06:23] #14084 closed

[2022-08-23 06:23] #14085 closed

[2022-08-23 06:23] #14086 closed

[2022-08-23 06:23] jnikhila commented on #14794
[Published](https://docs.appsmith.com/reference/widgets/iframe).

[2022-08-23 06:23] #14794 closed

[2022-08-23 06:23] #14087 closed

[2022-08-23 06:23] #14090 closed

[2022-08-23 06:23] #14091 closed

[2022-08-23 06:23] dilippitchika opened #16214 "[Task] : Frontend - Changes to login/sign up/password reset to support branding"
## Task details
Changes to UI in
1. Login page
2. Sign up page
3. Password reset page

To support branding and some other css changes

[2022-08-23 06:23] #14092 closed

[2022-08-23 06:24] #14590 closed

[2022-08-23 06:24] dilippitchika opened #16215 "[Task] : Frontend - Changes to app dashboard to support branding"
## Task details

Changes to the apps dashboard to add brand details for EE users

[2022-08-23 06:25] dilippitchika opened #16216 "[Task] : Frontend - Changes to apps to support branding"
## Task details

Changes in apps in the builder mode and the deployed mode to support branding.

[2022-08-23 06:25] dilippitchika opened #16217 "[Task] : Frontend - Changes to 404 page to support branding"
## Task details

Changes to 404 page to support branding in the EE version and also some css changes in the CE version.

[2022-08-23 06:25] dilippitchika opened #16218 "[Task] : Frontend - Adding link previews for appsmith apps shared"

[2022-08-23 06:26] hiteshjoshi commented on #4494
This will be handled in the current RBAC implementation.

[2022-08-23 06:31] ankitakinger commented on #13067
@hiteshjoshi yes. Closing this.

[2022-08-23 06:31] #13067 closed

[2022-08-23 06:32] #3744 closed

[2022-08-23 06:34] hiteshjoshi opened #16219 "[Task EE | User Group] Add CRUD, invite, remove permissions to the graph + manage permissions on the group, which hierarchically inherits from manage user group permission."

[2022-08-23 06:34] hiteshjoshi opened #16220 "[Task EE | User Group] List groups API (which the user has read permission on)"

[2022-08-23 06:35] hiteshjoshi opened #16221 "[Task EE | User Group] CRUD APIs"
- [ ] Delete user group
- [ ] Unassign from all permission groups
- [ ] Archive.

[2022-08-23 06:35] hiteshjoshi opened #16222 "[Task EE | User Group] API to get individual user group → users + roles"

[2022-08-23 06:35] hiteshjoshi opened #16223 "[Task EE | User Group] Add/Remove user's APIs"

[2022-08-23 06:37] hiteshjoshi opened #16224 "[Task EE | Permission Group] CRUD APIs"

[2022-08-23 06:37] hiteshjoshi opened #16225 "[Task EE | Permission Group] Get roles to which the current user has assigned permission on API"

[2022-08-23 06:37] hiteshjoshi opened #16226 "[Task EE | Permission Group] Assign+Unassign API for a given user group/user"

[2022-08-23 06:38] hiteshjoshi opened #16227 "[Task EE | Permission Group] Listing: Get all with reading permissions"

[2022-08-23 06:38] hiteshjoshi opened #16228 "[Task EE | Permission Group] Permissions to be added"
- [ ] Create & delete permissions across the board
- [ ] Create, Edit & delete all workspaces, roles, and groups at the tenant level

[2022-08-23 06:38] hiteshjoshi opened #16229 "[Task EE | Permission Group] Permission group edit"

[2022-08-23 06:41] dilippitchika opened #16230 "[Task]: Frontend to update the email templates to new design and support branding"
## Task details

Frontend to create email html templates based on new design and co-ordinate with backend on updating the variables dynamically using backend for EE.

[2022-08-23 07:02] lublak opened #16231 "[Feature]: Lists scrollable without pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This is about the List widget. If there are more data than are displayed we can automatically display pagination. There is no possibility here to make a list scrollable which I would prefer.
![image](https://user-images.githubusercontent.com/44057030/186092437-1c6a9290-62f1-4168-b3df-2307c23d32b3.png)

[2022-08-23 07:10] Nikhil-Nandagopal commented on #16231
@lublak thanks for this feature request. We're working on this here #6293
Please drop a comment there

[2022-08-23 07:10] #16231 closed

[2022-08-23 07:10] dilippitchika commented on #16205
@jnikhila @Pranay105 this feature will go live in this week or next week. Please add this to your next sprint. I have already reviewed the document, but it's not structured yet. Would like you to review and let us know how we can structure it better.

[2022-08-23 07:13] lublak commented on #16231
@Nikhil-Nandagopal This is more about asynchronous reloading of data with scrolling. For me, the data is already there and nothing is reloaded. It is only about visualization. If it still fits in there I can gladly leave a comment there :)

[2022-08-23 07:27] lublak commented on #6293
My thought is not only about asynchronous reloading. But also with data that can no longer be displayed in the list or table. With the list:  If there are more data than are displayed we can automatically display pagination. There is no possibility here to make a list scrollable which I would prefer.
![image](https://user-images.githubusercontent.com/44057030/186095894-9a607c19-025c-4e2a-9df0-9f3c

[2022-08-23 07:48] bharath31 commented on #3027
@ramsaptami could you verify if the issue still exists?

[2022-08-23 07:49] #15425 closed

[2022-08-23 08:02] Ranzeb commented on #6369
Hi can i work on this feature?

[2022-08-23 08:11] SatishGandham commented on #14749
@Rishabh-Rathod, No. Autocomplete code.

[2022-08-23 08:17] dilippitchika commented on #6293
@lublak we are tackling it for the table widget here - https://github.com/appsmithorg/appsmith/issues/13180

Regarding the list widget yes we plan to support scrolling as well here

[2022-08-23 08:17] cokoghenun commented on #16136
Sure @jnikhila

[2022-08-23 08:28] ramsaptami commented on #3027
Closing this as it seems to be working as expected now

[2022-08-23 09:25] Aishwarya-U-R opened #16234 "[Bug]: JSEditor | Removing the default editor content does not empty the functions dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/186122132-6325c762-b5d5-4038-bf2f-f45d724e171e.mov

### Steps To Reproduce

1. Create a new JS object
2. Remove the default content from Editor
3. **Observe : The functions dropdown is still populated & is also able to run successfully**
4. **Expe

[2022-08-23 09:36] bharath31 commented on #12833
Assuming 80% of users writing `navigateTo()` face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1680 |
| Effort (months)  |  |

[2022-08-23 09:46] riodeuno opened #16235 "[Task] Deprecate auto refresh on chunk load fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

## Background
With the use of RTS to identify release version mismatch and prompts to refresh the page, the auto-refresh approach is moot.

- Remove references to `donotReloadOnChunkLoadFail`
- Remove auto-refresh mechanism handled [here](https://github.com/appsmithorg/appsmith/blob/5cf06cd071072959b

[2022-08-23 09:55] danciaclara commented on #16148
Maybe we should have two options for users to try out - one for database and one for REST. @jnikhila what do you think?

[2022-08-23 10:00] jnikhila commented on #16148
Yes that's correct @danciaclara. We have to update the doc to add the REST API steps.

[2022-08-23 10:24] mousetree commented on #3129
Reading from BigQuery is the only thing missing for us to move from Retool to Appsmith

[2022-08-23 10:28] Nikhil-Nandagopal commented on #6293
@lublak by the way if you're not using server side pagination, you can still achieve this in the table by turning the server side pagination option on. It will make the table scrollable but there will be performance issues if you're loading a very large data set

[2022-08-23 10:56] ramsaptami commented on #15642
QA on this DP has been completed. Please go ahead and merge these changes into release

[2022-08-23 10:58] Sripriya93 opened #16239 "[Bug]: Select widgets reflows out of canvas when pushed to the right by other widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we drag and drop any of the select widgets mentioned below, and when we try to drop another widget by reflowing the select widget we observe that the select widgets are pushed out of the canvas space

1. Switch
2. Switch group
3. Select
4. Multi select
5. Multi tree select
6. Tree select
7. R

[2022-08-23 11:01] felixsuarez0727 commented on #15688
- Body can't update: I looked in different places and always what is mentioned is that the body must be empty. So as a last resort I wrote in a forum and I'm waiting to see if someone responds.  This is the link to the question I asked.

- Status only works canceled: I tried other status and they are not allowed, so I think it is better to create an action called "Canceled Message" and remove the

[2022-08-23 11:09] #14139 closed

[2022-08-23 11:09] #15642 closed

[2022-08-23 11:09] #15643 closed

[2022-08-23 11:50] #15984 closed

[2022-08-23 12:19] hiteshjoshi opened #16243 "[Task EE | Permission Group Edit] Get permission group configuration API"

[2022-08-23 12:20] hiteshjoshi opened #16244 "[Task EE | Permission Group Edit] Test cases `Get permission group configuration API`"

[2022-08-23 12:21] hiteshjoshi opened #16245 "[Task EE | Permission Group Edit] Save permission group"
Extract the top-level permissions and remove hierarchical & lateral children before saving.

[2022-08-23 12:22] hiteshjoshi opened #16246 "[Task EE | Permission Group Edit] Test cases `Save permission group`"

[2022-08-23 12:28] hiteshjoshi commented on #16152
@vuiets do you have any updates on the events for RBAC?

[2022-08-23 13:13] Mika64 opened #16249 "[Bug]: Can't upgrade from 1.6.15"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try toupgrade appsmith from 1.6.15 to a newest version, I had this error (at login).

[code]
I've try many version and same result.
If I downgrade version to 1.6.15 (or oldest) in my docker-compose.yml, everything is OK.

### Steps To Reproduce

1. Run appsmith v1.6.15
2. upgrade in docker-

[2022-08-23 14:14] Nikhil-Nandagopal commented on #3027
@ramsaptami this isn't working for me. In fact it's clearing the data in the download configuration and it's completely broken

Uploading Screen Recording 2022-08-23 at 7.42.28 PM.mov…

[2022-08-23 14:44] ramsaptami commented on #3027
My bad for prematurely closing this issue, I missed watching the video attached.
Tested using direct widget binding `{{Table1.selectedRows}}` or `{{Chart1.chartData}}` which works fine but the original issue still exists as mentioned in Nikhil's comment above

[2022-08-23 14:56] Nikhil-Nandagopal commented on #2888
@chromonav that should be possible. We'll allow you to add any widget inside this. Could you share an example of the UI you're trying to achieve? It'll help us build this effectively

[2022-08-23 14:56] disl-pdavid opened #16250 "[Bug]: Table column type date can't change original/display format JS toggle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Create a table.
Attach to a query that contains a date column.
Change `Column Type` for date column to `Date`.

Change the `Original Date Format` to something, toggle JS (may need to toggle twice).  At that point you cannot turn OFF the JS toggle for either field.

Instead you get a message "Clear

[2022-08-23 15:05] snadal commented on #16172
Hello @sharat87

I'm not sure if should open a new ticket for this. Self-hosted appsmith with autoupdate still is facing this issue. I tried to manually upgrade without luck.

Are you releasing this fix for self-hosted instances soon?

Thanks

[2022-08-23 15:09] sentry-io[bot] opened #16251 "[Bug]: ClassCastException: class java.lang.Integer cannot be cast to class java.lang.String (java.lang.Integer and java.lang..."
Sentry Issue: [APPSMITH-35V](https://sentry.io/organizations/appsmith/issues/3426568005/?referrer=github_integration)

[code]

[2022-08-23 15:10] Nikhil-Nandagopal commented on #16251
@mohanarpit @nidhi-nair I'm not sure what is causing this but we've suddenly started seeing this issue. Can someone help triage?

[2022-08-23 16:41] rafaelferreirapt commented on #9746
Hi, I was able to reproduce this issue. If the file is uploaded with Content-Disposition: attachment; and since it's not possible to define the `response-headers {content-disposition "inline"}` when we generate a signedUrl it will be attachment and it will download instead of view in the Document Viewer.
My suggestion is to enable one option for setting the response headers when signing URLs and w

[2022-08-23 16:42] rafaelferreirapt commented on #12014
This is related with https://github.com/appsmithorg/appsmith/issues/9746#issuecomment-1224325954

[2022-08-23 16:48] rodrigo-mahamud commented on #16172
@sharat87 For me the issue has successfully been fixed, thanks a lot 😄

[2022-08-23 18:26] subrata71 commented on #15784
For MySQL Date and Timestamp/Datetime data types the following supported formats are introduced in the respective `MySQLDateType` and `MySQLDatetimeType` Appsmith data types.

### MySQL Date

[code]

### MySQL  Datetime (1000-01-01 00:00:00' to '9999-12-31 23:59:59')

[code]

### MySQL Timestamp ('1970-01-01 00:00:01' UTC to '2038-01-19 03:14:07' UTC)

[code]

[2022-08-24 03:02] felixsuarez0727 commented on #15911
@prapullac, is the error shown above something that you can consistently reproduce? How often does it happen to you?

I've been testing the SaaS App and haven't been able to make that specific query fail.

[2022-08-24 03:59] felixsuarez0727 commented on #15688
I create a new action specifically to cancel a message

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/5b36800f-3420-43b1-a6d0-bb5eaee612ae)

And this is the forum's response, about "Body can't update"
![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/84e8589e-1bf0-42b0-817a-a36130882679)

This means that the body can only be updated by empty

[2022-08-24 04:16] prapullac commented on #15911
@felixsuarez0727 : I am consistently able to repro this issue. I have also tried to relog in and verified

[2022-08-24 05:17] dilippitchika commented on #9746
@rafaelferreirapt are you referring to accessing response headers in s3? so that it can be set to `content-dispostion Inline` when you are calling any s3 query?

[2022-08-24 05:19] shadabbuchh opened #16255 "[Bug]: UI/UX issues in the Entity Explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Below is the list of issues in the Entity Explorer:
- The “Page Properties” icon appears to be bigger in size when compare with the “Add a new page” icon.
<img width="253" alt="Screenshot 2022-08-24 at 10 43 32 AM" src="https://user-images.githubusercontent.com/39921438/186334456-4348aef3-4b79-401

[2022-08-24 05:29] shadabbuchh opened #16256 "[Bug]: UI/UX issues in page properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Below is the list of issues in the "Page Properties" page:
- Icons in Page Properties page do not have a hover state. Refer to the video below.
- The “Not Visible” icon is not a CTA like the other icons.
https://www.loom.com/share/2dde2ef1f7464d2181e56c7a6d5b0c27
- The “General” in the `Page Prope

[2022-08-24 05:37] rohitagarwal88 opened #16257 "[Task]: Upgrade React version from 16 to 17"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Subtask

- Map widget is not working, dragging and dropping a map widget does not work.
- Not able to drag and select the widget inside modal widget.
- The dropdown in MultiSelect, TreeSelect & MultiTreeSelect widgets does not open appropriately.
- With react 17 we have some breaking changes in the way in whic

[2022-08-24 06:02] ame-appsmith opened #16258 "[Bug]: Inaccurate Error Message When Using an Async Function in a Widget Field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The user used an async function (e.g., `Query1.run()`) in the **Computed value** of the Table widget column. The error message they received is that it is `not a function`, which is not accurate.
<img width="1725" alt="image" src="https://user-images.githubusercontent.com/101268423/186342829-771c5

[2022-08-24 06:09] dilippitchika commented on #9815
## PRD
### Story
When adding images in appsmith tables, i want to manage the size of the images so that i can show images better to my users

### Design flow
- When user selects an image col in the table widget, they will now see options for predefined image sizes.
- One of these would be default, which inherits data from row height set. Meaning when default is selected the image will follow defau

[2022-08-24 06:18] marks0351 commented on #16239
This isn't a problem with reflow, this problem arises coz we have a global minimum size for all widgets and each one doesn't have its own, the widgets in the screenshot are just acting like a most minimised widget of that type which is placed at the end of the canvas. we need to make sure widget never overflows its boundary.

Having said that, each widget can have its own minimum dimension to supp

[2022-08-24 06:25] dilippitchika commented on #16250
Thanks for bringing this to our attention @disl-pdavid, linking this to a similar bug in table widget. Linking it to #14953

[2022-08-24 06:31] dilippitchika commented on #16126
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 392 |
| Effort (months)  | 0.5 |

[2022-08-24 06:35] Rishabh-Rathod opened #16259 "[Task]: Improve Evaluation + Linting performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

### Why work on this?
- Recently, we have got a lot of user complaints about the linting feedback cycle being slow on JSEditor
- For 1st evaluation, `lintTree` method takes ~34% time ( depending on the application's JS code this could vary ) once we separate the linting process from the evaluation co

[2022-08-24 06:36] dilippitchika commented on #16114
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 202 |
| Effort (months)  | 0.5 |

[2022-08-24 06:42] dilippitchika commented on #15982
Needs triaging, assuming it doesn't work for 20% users who have set the property.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 87 |
| Effort (months)  | 0.5 |

[2022-08-24 06:43] dilippitchika commented on #15836
@btsgh this is a deliberate change we made, it was a part of figma - https://www.figma.com/file/1aTQ6vksqqAMtgB243PtHm/UI-%7C-Widget-Style-Updates-0.1?node-id=5042%3A79852

We missed adding it in notion. Closing this.

[2022-08-24 06:43] #15836 closed

[2022-08-24 06:49] dilippitchika commented on #15825
Ok checked if this impacts, based on the data no user has written JS here. So we can turn it off and default to MENU or SIMPLE based on what the JS value is

[2022-08-24 06:52] dilippitchika commented on #15412
@chandannkumar the reason the button will always be disabled is because the JS can change dynamically in the view mode. Since the end user doesn't have access to generate button and only a developer, we didn't enable the button to work with JS.

When using JS for auto-generate evaluates to off, then we freeze the schema to prevent further changes in the schema when data changes. That is the purpos

[2022-08-24 06:52] #15412 closed

[2022-08-24 06:54] dilippitchika commented on #15310
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6 |
| Effort (months)  | 0.5 |

[2022-08-24 07:18] dilippitchika commented on #15306
@RakshaKShetty can you confirm if this happens when primary key is added? Because i wasn't able to reproduce this with primary key set.

[2022-08-24 07:21] dilippitchika commented on #15300
In this case, you can zoom using the scroll. In macboocks, cmd+scroll works in zooming this. Click takes higher priority than zoom, since it's a much more important action.

If we want to solve this we have to add a zoom selector which is a new feature. Deprioritising this to low and changing it to a feature.

[2022-08-24 07:24] kocharrahul7 opened #16260 "[Feature]: Reformatting the response of the JS editor to make it slightly more readable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In JSObjects, when I run a function, and then navigate to a different function, there is no clear indicator for which functions response I am looking at.

https://user-images.githubusercontent.com/20532920/186356605-e686948a-6774-4db8-b38d-66220436d9d1.mov

This could cause confusion for users who are

[2022-08-24 08:03] satbir121 commented on #6230
**Steps To Reproduce**

1. Add a Button Widget
2. Open the `General Section` in Property Pane so that the `Events Section` pushes to bottom.
3. Type `/` in the onClick JS.

Observations:
1. The dropdown overlaps with the `onClick` field. It cuts the onClick field in half. This is not expected. The dropdown should pop up above `onClick` field entirely.
2. Dropdown overlaps with Property Pane. This

[2022-08-24 08:17] nidhi-nair commented on #16251
[Apparently](https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?filter=ff5c57b6ed2be106f1ea85e57140fec16b4d51f5fee6aabb1d66950bcbfb4742&player=1&session=7WzknO24Dx&visitor=vesDHD7SFx) this user had bound the url string to a value that evaluated to a number. Possibly the same kind of error for other users before this. We shouldn't fail here in either

[2022-08-24 08:19] #16059 closed

[2022-08-24 08:29] jsartisan opened #16264 "[Bug]: In Single Select Tree Widget, selected value does not clear on clicking the cross button."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we clear a value in a single select tree widget, the selected value does not become null or empty, it defaults back to the default value.
Ideally, the selected value should become empty.

### Steps To Reproduce

1. Drop single select tree widget
2. Allow clear selection and make sure you have

[2022-08-24 08:29] jsartisan commented on #16264
cc: @laveena-en

[2022-08-24 08:43] satbir121 commented on #15901
This is the expected behaviour. The function does an async call and exits before the async call returns. Solution to this is to use an `async/await` statement:

[code]

[2022-08-24 08:43] #15901 closed

[2022-08-24 08:49] btsgh opened #16265 "[Docs]: Snowflake db - Some additional details / screenshots to help ease out snowflake db datasource creation in appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/reference/datasources/querying-snowflake-db

### Describe the problem

Though the above documentation link points to the Snowflake documentation to add details specific to account name, warehouse etc., some quick screenshots and pointers to quickly help the user se

[2022-08-24 09:06] rohan-arthur opened #16266 "[Bug]-[220]:MySQL wrong port results in wrong error - timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If I specify the wrong port in the datasource, there are 2 problems:
1. the datasource test takes a long time and ends without any message
2. running the query results in a timeout

### Steps To Reproduce

1. Connect to mysql with the credentials specified [here](https://www.notion.so/appsmith/Ser

[2022-08-24 09:13] laveena-en commented on #10991
Tested and verified.

[2022-08-24 09:13] laveena-en commented on #10984
Tested and verified.

[2022-08-24 09:14] rohan-arthur commented on #16266
mysql 6m usage: 275
most people use the default port, so allowing for 10% of these who may use another port number: 27.5

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 27.5 |
| Effort (months)  | <<number>> |

[2022-08-24 09:18] ankurrsinghal commented on #15509
@Sripriya93 Please find the fix for this issue, here, #16268

[2022-08-24 09:50] Aishwarya-U-R opened #16269 "[Bug]-[3000]:Mongo | Query Editor | Enable one way switching from Form based & Raw command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/186385886-9b4c3ae5-9f16-46b8-8bd8-46395ef654c2.mov

### Steps To Reproduce

1. Create a query on Mongo DS
2. Select & fill any of the following Mongo commands
<img width="314" alt="Screenshot 2022-08-24 at 3 14 05 PM" src="https://user-images.gith

[2022-08-24 09:57] ankurrsinghal commented on #15527
@btsgh  Please find the fix for this issue, here, #16268

[2022-08-24 10:05] ankurrsinghal commented on #15388
@Sripriya93 Please find the fix for this issue here #16268

[2022-08-24 10:15] ankurrsinghal commented on #15501
@btsgh Is it fixed earlier? I am not able to see the same problems in the new DP, you can check it here #16268

[2022-08-24 10:23] ankurrsinghal commented on #15358
@Sripriya93  Is it fixed earlier? I am not able to see the same problems in the new DP, you can check it here https://github.com/appsmithorg/appsmith/pull/16268

[2022-08-24 10:26] ankurrsinghal commented on #15354
@btsgh Is it fixed earlier? I am not able to see the same problems in the new DP, you can check it here https://github.com/appsmithorg/appsmith/pull/16268

[2022-08-24 10:27] Richarex commented on #16177
@kocharrahul7 Yeah it worked after selecting any one user. But still one question how will the user know that they are suppose to select the user from the table can we have a tool-tip to help?

[2022-08-24 10:41] tomjose92 opened #16270 "[Docs]: Protected branches in GIT Sync flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/advanced-concepts/version-control-with-git

### Describe the problem

Need documentation on how to control or restrict merges to master.

### Describe the improvement

I understand that making a branch as protected is the way to go about it. But need clarity on wha

[2022-08-24 10:47] vuiets commented on #16152
Hey @hiteshjoshi was being proactive about this so added it. Is this blocking the team from moving things to release at the moment?

[2022-08-24 10:53] laveena-en commented on #10990
Tested and verified.

[2022-08-24 10:54] bharath31 opened #16271 "[Task]: Setup BrowserStack instance to debug issues on custom environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

For issues that need a specific environment_(browser, hardware, OS)_ to reproduce/debug further, we need a reliable way to emulate the environment and find the root cause. A platform like [BrowserStack](https://www.browserstack.com/) can help us achieve this.

Eg: [Slow linting issue on Macbook Pro 2

[2022-08-24 10:56] rohan-arthur commented on #16269
mongo 6m usage: 1500
This is a core experience to writing mongo queries, so applying 50% reach: 750

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 750 |
| Effort (months)  | <<number>> |

[2022-08-24 11:08] rohan-arthur opened #16272 "[Bug]: existing mysql queries fail with MySqlConnectionException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Two users reported this issue today:
[here](https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100161495) and [here](https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100145140)

![image (1)](https://user-images.githubusercontent.com/94514895/

[2022-08-24 11:21] laveena-en commented on #10988
Tested and verified.

[2022-08-24 11:31] sharat87 opened #16273 "[Bug]: Cannot change SMTP credentials without enabling TLS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Admin Settings, if we want to change the SMTP username and password, we have to enable TLS, even if we don't want it. So, if we want to set credentials, but not use TLS, the flow is quite weird.

1. Enable TLS, so that the UI for credentials show up.
2. Set the credentials.
3. Disable TLS, sinc

[2022-08-24 11:40] shadabbuchh opened #16274 "[Bug]: "Events" dropdown(s) positioning does not fit the screen when collapsing sections in the Property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we collapse the section above the Events section for a widget and then click on any dropdown in the Events section, it does not fit the screen.

https://www.loom.com/share/8270800c3a3b4882a51b84267f8b7b87

### Steps To Reproduce

1. Go to any application.
2. D&D a widget and collapse all the

[2022-08-24 12:04] #13542 closed

[2022-08-24 12:04] #12883 closed

[2022-08-24 12:04] #11896 closed

[2022-08-24 12:05] Aaronwn commented on #14960
Hope to support yapi data source @Nikhil-Nandagopal

[2022-08-24 12:34] pranavkanade commented on #15827
Gentle reminder @RakshaKShetty

[2022-08-24 12:36] pranavkanade commented on #16265
This could be useful - https://www.notion.so/appsmith/Snowflake-af8c74f885834e3a900adb5cfb9c3cf9

[2022-08-24 12:38] shadabbuchh opened #16276 "[Bug]: Preview mode does not work unless clicked on from the canvas page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we are on any page other than the canvas and click on the Preview mode icon, instead of getting the preview of the application we get to see that particular page.

https://www.loom.com/share/b6ccc5584806405098e1221ed01f1c78

### Steps To Reproduce

1. Go to any application.
2. Click on the "P

[2022-08-24 13:01] ankurrsinghal commented on #15353
@btsgh I have fixed scenario 1 in here #16268. Scenario 2 is something that is still present in the release. Also, I think we have segregated the subtasks into individual tasks.

[2022-08-24 13:09] #10592 closed

[2022-08-24 13:41] andrewdietekoki commented on #9815
@dilippitchika
Updates:
- What will happen when cell wrap is on?
https://www.figma.com/file/nTMtrnQJUsso2Ud6m8UPqW/Resize-Image-Inside-Table-Widget?node-id=475%3A7903
- What will happen when Image Column width is reduced?
https://www.figma.com/file/nTMtrnQJUsso2Ud6m8UPqW/Resize-Image-Inside-Table-Widget?node-id=476%3A8753

[2022-08-24 14:43] jayveeAtWork commented on #7454
I feel like I'm missing something in the conversation. Going back to the original question from the OP, instance replication across environments, how is this now solved? Git doesn't store credentials for data sources does it? How do we avoid having to enter these manually each time we would redeploy to a new environment?

Apologies if I'm missing something obvious.

[2022-08-24 15:01] #10988 closed

[2022-08-24 15:01] #10984 closed

[2022-08-24 15:01] #10990 closed

[2022-08-24 15:01] #10991 closed

[2022-08-24 15:05] ZackKnopp commented on #8749
upvote for this feature. I'd like the option to hide the default Appsmith "Sign In" button as well, since this confuses my users. They end up signing up for Appsmith, instead of signing in through our login page.

[2022-08-24 16:58] ankitakinger commented on #14458
Re-opening for EE changes.

[2022-08-24 16:59] Rishabh-Rathod commented on #14749
`startAutoComplete` calls `TernServer.updateDef` which is an expensive call ( even for small def it takes ~40ms and it does deviate ) and as it is a method from the tern library we don’t have control over its logic directly and hence, it limits us to make performance improvement to it.

In [this PR](https://github.com/appsmithorg/appsmith/pull/16263), we are moving customDataDef's update on editor

[2022-08-25 00:38] sharat87 commented on #16172
@snadal, sorry you are still facing trouble here. The fix is actually a configuration fix, since the problem is specific to Appsmith's cloud offering. If you are facing the same problem on a self-hosted instance, can you try the configuration from https://docs.appsmith.com/getting-started/setup/instance-configuration/frame-ancestors to whitelist the domains that are allowed to embed your apps and

[2022-08-25 02:50] rohitagarwal88 commented on #14500
@rahulramesha : Good enhancement! Let's take this in next sprint.

[2022-08-25 03:37] felixsuarez0727 commented on #15911
I tried several times and the problem does not occur.

https://images.zenhubusercontent.com/275993885/c30c0406-2db4-49ee-9cf2-dacf9e13913c/video1634188688.mp4

[2022-08-25 04:06] harshilp24 opened #16279 "Improve Download Doc"
[Doc](https://docs.appsmith.com/reference/appsmith-framework/widget-actions/download)

Add example and improve the doc

[2022-08-25 04:52] arslan0tahir opened #16280 "[Feature]: LDAP Authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Does Appmith support ldap authentication??

### Why should this be worked on?

ldap authentication will allow AD users to access apps without requesting new credentials

[2022-08-25 04:58] dilippitchika commented on #8749
Thanks @ZackKnopp regarding disabling sign up here's a doc on this- https://docs.appsmith.com/v/v1.2.1/how-to-guides/restricting-signup

[2022-08-25 05:01] jnikhila commented on #16136
Thanks @cokoghenun.

[2022-08-25 05:04] jnikhila commented on #10848
@danciaclara - This ticket will span across many sprints. We can keep making changes based on the doc we'll pick for Rehaul. Once the Rehaul Phase 2 is completed, we can revisit the ticket to test if anything is missed. Your thoughts??

[2022-08-25 05:10] jnikhila commented on #14298
@sumitsum - Could you please confirm if the changes are done?

[2022-08-25 05:11] jnikhila commented on #14055
@sumitsum / @sharat87 - Could you please add pointers to the ticket?

[2022-08-25 05:20] jnikhila commented on #5426
@somangshu - Do you think this is a duplicate? If not, could you please merge the two tickets so we can close this?

[2022-08-25 05:36] dilippitchika commented on #15275
@ashit-rath was able to triage the issue @ramsaptami. The reason for this performance bottleneck is because you are binding the data from the filepicker in a text widget.

The text widget can only handle certain number of line-breaks post which it starts throttling performance and sometimes leads to apps crashing. We fixed this issue already here - https://github.com/appsmithorg/appsmith/issues/10

[2022-08-25 05:37] dilippitchika commented on #15275
CC @somangshu triaging is done, please check this out. Need you to check if this is something which can be addressed within performance team.

[2022-08-25 06:01] marks0351 opened #16281 "[Task]: Workflows and Dashboard for Performance Infra"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Workflows for each PR
  1. Run Performance test per commit
  2. comment the Dashboard app's with query params to the PR so that appropriate data is shown to the dev on loading the app.
  3. Gather mean of each test's scripting metrics and check if there is an anomaly or spike by comparing it agains

[2022-08-25 07:15] souma-ghosh opened #16283 "[Task]: Update design-system version from 1.0.15 to 1.0.16"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-08-25 07:23] hiteshjoshi commented on #16152
@vuiets, the RBAC CE is ready. Analytical tasks will never block the tech team but the product. Please put an ETA for CE.

[2022-08-25 07:29] Sripriya93 commented on #15527
Working fine.

![image](https://user-images.githubusercontent.com/104895602/186602624-47582e57-8c70-4c8b-92ce-da20fb600da3.png)

![image](https://user-images.githubusercontent.com/104895602/186602581-401f35fd-53db-4a5e-afb4-9fb6935454b6.png)

[2022-08-25 07:33] trishaanand opened #16285 "[Bug]-[936]:SAML login fails with invalid request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

While trying to login, the user sees Invalid Request post successful authentication on the IdP.
Keycloak logs contain the error :
"missing_required_destination"

### Steps To Reproduce

Trying to reproduce the issue. Will add the steps post reproduction.

### Public Sample App

_No response_

###

[2022-08-25 07:49] vuiets commented on #9757
@rohan-arthur @parth-appsmith probably already discussed but will you be covering this as part of [#15455 | Multiple Environemnts](https://github.com/appsmithorg/appsmith/issues/15455)?

[2022-08-25 07:51] rohan-arthur commented on #9757
@vuiets yes, this problem statement is already in scope and we are working out the solution. Please feel free to close this issue

[2022-08-25 07:54] hiteshjoshi commented on #16280
Hi @arslan0tahir, Thanks for writing. No, we do not support LDAP atm. But we do have SAML support. AFAIK, AD supports SAML 2.0 any reason you cannot use that?

[2022-08-25 07:55] rohan-arthur commented on #14329
duplicate: https://github.com/appsmithorg/appsmith/issues/14666

[2022-08-25 07:55] #14329 closed

[2022-08-25 08:05] #9107 closed

[2022-08-25 08:06] hiteshjoshi commented on #9111
Hey, @yatinappsmith, I know it's been a while. Is this still an issue? Closing this but feel free to reopen it.

[2022-08-25 08:06] #9111 closed

[2022-08-25 08:09] btsgh opened #16288 "[Bug]: Auto-complete does not work when multiple bindings exists on the same line"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to use a binding in an INSERT statement of Snowflake DB, though the widgets already exist on the page, the Autocomplete does not work to complete the widget names and action.

### Steps To Reproduce

Create a snowflake datasource and create an INSERT query to the same.

Refer following

[2022-08-25 08:10] Sripriya93 commented on #15509
Scenario - 1 : Working fine

![image](https://user-images.githubusercontent.com/104895602/186611442-238efc76-c4cd-4f27-b287-88edd89c66af.png)
![image](https://user-images.githubusercontent.com/104895602/186611464-8c24d70c-42f1-4826-ae86-582cb2dc9334.png)

Scenario - 2 : Working fine

![image](https://user-images.githubusercontent.com/104895602/186611511-69aa1fd8-4fb7-4984-8092-8347e7b497de.png)

[2022-08-25 08:35] vuiets commented on #14175
@Nikhil-Nandagopal had a great idea to look at this as the deployment branch and consider it in tandem with [#11522 | Automated Deployments](https://github.com/appsmithorg/appsmith/issues/11522)

[2022-08-25 08:38] snadal commented on #16172
Thank you @sharat87 !

I didn't noticed this improvement was released in 1.17.10.

[2022-08-25 09:33] vuiets opened #16290 "[Epic]: Git - Stable Release"
The goal of this epic is to bring Git Version Control **out of Beta**. It will focus on closing stability issues, improving readability, and merge conflict resolution.

More details on this [Notion page](https://www.notion.so/appsmith/Git-Stable-Release-42213ec073694c1490bb2ef9b6e12de7).

[2022-08-25 09:50] rohan-arthur commented on #13620
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 67 |
| Effort (months)  | <<number>> |

[2022-08-25 09:54] rohan-arthur commented on #9942
mysql 6m usage: 275
most people use the default port, so allowing for 10% of these who may use another port number: 27.5

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 27.5 |
| Effort (months)  | <<number>> |

[2022-08-25 09:54] ChandanBalajiBP commented on #15759
| Index  | Datatype | Status |
| ------------- | ------------- | ------------- |
| 1  | Binary  | Completed |
| 2  | Enum  | Completed |
| 3  | Numeric  | In Progress |
| 4  | Array  | |
| 5  | Binary  | |
| 6  | DateTime  | |
| 7  | JSON  | |
| 8  | Character  | |

[2022-08-25 09:54] rohan-arthur commented on #16266
closing in favour of #9942

[2022-08-25 09:55] btsgh commented on #15388
With regards Scenario2 - I would still expect the behavior to be as explained in the bug steps. Is there anyway this can be achieved? @ankurrsinghal @riodeuno
Scenario1 is solved.

[2022-08-25 10:19] prapullac commented on #16182
Verified on the DP and works well

[2022-08-25 10:20] prapullac commented on #15714
Verified on the DP and works well

[2022-08-25 10:20] prapullac commented on #16094
Verified on the DP and works well

[2022-08-25 10:38] ayushpahwa opened #16291 "[Docs]: console logs feature documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://www.notion.so/appsmith/Console-API-d118f5a0fccb401eb30165c90c9990b3

### Describe the problem

We are adding the new console log feature to our platform. This issue is to track the documentation for the same.

### Describe the improvement

This is a new feature so we will need to ad

[2022-08-25 10:39] ankurrsinghal commented on #15388
Yes I agree, that it should revert back, but since the Auto Height is disabled there is no way to change the height on the Fixed mode, may be we can change the height one last time before disabling it, @riodeuno .

[2022-08-25 11:02] ankitakinger opened #16293 "[Feature]: Make Table and Tab headers sticky"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today, Table and Tab headers are not always sticky. Making them sticky would provide a better user experience.

### Why should this be worked on?

Making the headers sticky would provide a better user experience.

[2022-08-25 11:34] bharath31 opened #16294 "Action Selector Refactor Milestone 1"
### Objectives
1. Help users understand how to add more than one action for an event (currently by writing JS)
2. Improve the experience of finding the correct action, query, object, or API from the action selector.
3. Allow users to have multiple levels of callbacks that are not possible today.
4. Make the action selector readable even when lots of arguments are passed to it.
5. Make movement bet

[2022-08-25 11:42] Pranay105 commented on #12704
Already updated [here](https://docs.appsmith.com/advanced-concepts/more/backup-restore)

[2022-08-25 11:42] #12704 closed

[2022-08-25 11:46] Pranay105 commented on #11936
Already done under each page in [authentication](https://docs.appsmith.com/getting-started/setup/instance-configuration/authentication)

[2022-08-25 11:46] #11936 closed

[2022-08-25 11:46] #10474 closed

[2022-08-25 11:48] Sripriya93 commented on #15501
Auto height - Working fine

![image](https://user-images.githubusercontent.com/104895602/186656086-c8f516e6-5618-4898-aac6-3ab54e5981f2.png)
![image](https://user-images.githubusercontent.com/104895602/186656113-ad830c3d-cd03-42a9-bfd2-62199f451beb.png)
![image](https://user-images.githubusercontent.com/104895602/186656342-b970aae7-c5fb-4054-892c-31b52397a752.png)
![image](https://user-images.gith

[2022-08-25 12:07] Pranay105 opened #16295 "Build your First app"

[2022-08-25 12:10] Pranay105 opened #16296 "[Docs]: [Rehaul]- Self Hosting"

[2022-08-25 12:12] Pranay105 opened #16297 "[Docs]: [Reahul]- Installation Guides"

[2022-08-25 12:14] Pranay105 opened #16298 "[Docs]: [Rehaul]- Docker"

[2022-08-25 12:15] Pranay105 opened #16299 "[Docs]: [Rehaul]- Docker - Migrate from multi-container setup"
Rehaul the[ Multi-container Migration doc for Docker.](https://docs.appsmith.com/getting-started/setup/installation-guides/docker/migrate)

[2022-08-25 12:17] Pranay105 opened #16300 "[Docs]: [Rehaul]- Kubernetes"

[2022-08-25 12:17] #15714 closed

[2022-08-25 12:17] felixsuarez0727 commented on #9058
Focus on:  Default Command should be populated to bring inconsistence.

[2022-08-25 12:17] #16094 closed

[2022-08-25 12:18] #16182 closed

[2022-08-25 12:18] #16183 closed

[2022-08-25 12:20] Pranay105 opened #16301 "[Docs]: [Rehaul]- Migrate from multi-container setup (k8s)"
Rehaul Kubernetes [Migration multi-container ](https://docs.appsmith.com/getting-started/setup/installation-guides/kubernetes/migrate-k8s)doc.

[2022-08-25 12:21] Pranay105 opened #16302 "[Docs]: [Rehaul]- AWS AMI"

[2022-08-25 12:22] Pranay105 opened #16303 "[Docs]: [Rehaul]- AWS ECS"

[2022-08-25 12:23] Pranay105 opened #16304 "[Docs]: [Rehaul]- DigitalOcean"

[2022-08-25 12:24] Pranay105 opened #16305 "[Docs]: [Rehaul]- Heroku"

[2022-08-25 12:48] somangshu commented on #5426
@jnikhila please point to the potential duplicate you are talking about

[2022-08-25 12:51] Sripriya93 opened #16306 "[Bug]: Dynamic height option "Auto height with limits" property min height throws error when given value as "2""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

This is the DP we are testing on -
https://appsmith-git-poc-dh-bugs-master-list-get-appsmith.vercel.app/applications

AUTO HEIGHT WITH LIMITS
1. Drag and drop any widget which is applicable for Auto height
2. Change the Height property from Fixed to Auto Height with limits
3. Enter any value in Min a

[2022-08-25 13:01] btsgh commented on #16306
Also - Drag and drop phone input widget. Change from Fixed to Auto Height. As soon as this is done, the above error is seen

[2022-08-25 13:05] jnikhila commented on #5426
@somangshu - [here](https://github.com/appsmithorg/appsmith/issues/5426#issuecomment-964989751)

[2022-08-25 13:26] somangshu commented on #5426
The related context change request is as below

Let me know if you need any additional details; I am not sure what duplicate you are talking about!

[2022-08-25 13:57] ankurrsinghal opened #16307 "[Bug]: When minimum height is expanded to be larger than actual height, the actual height should change but it doesn’t"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When minimum height is expanded to be larger than actual height, the actual height should change but it doesn’t. (Reported by @momcilo-appsmith )

### Steps To Reproduce

N/A

### Public Sample App

_No response_

### Version

Cloud

[2022-08-25 13:58] ankurrsinghal opened #16308 "[Bug]: When the widget is dropped on the canvas, max-height is less than minimum height (it’s 0) - it should be something else"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the widget is dropped on the canvas, max-height is less than minimum height (it’s 0) - it should be something else (Reported by @momcilo-appsmith )

### Steps To Reproduce

N/A

### Public Sample App

_No response_

### Version

Cloud

[2022-08-25 13:59] ankurrsinghal opened #16309 "[Bug]: Minimum height is 2 rows when the widget is dropped on the canvas, even though it can’t be less than 4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Minimum height is 2 rows when the widget is dropped on the canvas, even though it can’t be less than 4 (reported by @mom)

### Steps To Reproduce

N/A

### Public Sample App

_No response_

### Version

Cloud

[2022-08-25 14:00] ankurrsinghal opened #16310 "[Bug]: When the two are overlapping, the border of one of them is moved to the right for about 10px"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the two are overlapping, the border of one of them is moved to the right for about 10px (reported by @momcilo-appsmith )

### Steps To Reproduce

N/A

### Public Sample App

_No response_

### Version

Cloud

[2022-08-25 14:11] ramsaptami opened #16311 "[Bug]: Switching from binding to non-JS mode on the action selector causes UI to read showAlert structure incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using single quotes on a showAlert and switching this from JS to non-JS mode causes UI to read the structure incorrectly

### Steps To Reproduce

1. Type in following code on trigger field of any widget in JS mode
`{{showAlert('hi').then(() => showAlert('hi again'))}}`
2. Switch to non-JS mode and

[2022-08-25 14:51] ankurrsinghal commented on #16309
@momcilo-appsmith Why it can't be less than 4?

[2022-08-25 16:12] ankitakinger commented on #16167
Fixed in [#14823](https://github.com/appsmithorg/appsmith/pull/14823)

[2022-08-25 16:12] #16167 closed

[2022-08-25 16:24] Irongade opened #16313 "[Feature]: Import and Export Application to Database directly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Instead of only Importing and Exporting apps by downloading them locally, Users want to be able to export apps to any database of their choice.

### Why should this be worked on?

This is an interesting request to think about, We need to triage if this is something we want to work on or not.

Referenc

[2022-08-25 20:14] obafemiolorungbon commented on #13620
I can also confirm that turning off smart substitutions removed this behavior. This works for us.

[2022-08-26 03:29] prapullac commented on #16183
Verified on the DP. and it is observed that the Incorrect bracket pairing on selecting the brackets from slash command

[2022-08-26 03:30] prapullac commented on #16094
Verified on the DP

[2022-08-26 03:31] prapullac commented on #15714
verified on the DP

[2022-08-26 03:56] felixsuarez0727 opened #16316 "Update name when change the displayName action - Saas Manager App"
When updating the displayName of an action, the name is not changed and remains the same as when it was created.

### Steps to reproduce:
1. Open Saas Integration Manager
2. Choose a datasource test
3. Change the displayName of an action and then click  save
4. You can see that name is not updated.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/b67d0643-981e-4a68-9ecd-

[2022-08-26 04:47] felixsuarez0727 commented on #15688
It was decided to remove Update Message and only add the Cancel Message action.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/300c15c2-a911-4c53-89f9-45c78c9cffaa)

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/fd4216a1-79bb-4300-974e-896a8e55a76f)

[2022-08-26 05:03] dilippitchika commented on #9815
All items are resolved. Moving this to PRD/Design done phase

[2022-08-26 05:28] hiteshjoshi commented on #16290
Does this require any code change apart from removing the "beta" tag/placeholder etc., from the front end?

Also, we will need to work on some of these bugs for Git sync before calling it stable.

https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Git+Version+Control%22++label%3A%22Bug%22

[2022-08-26 05:49] btsgh commented on #15358
Scenario 1 is fixed
Scenario 2 is still reproducible - ![Scenario2_15358.png](https://images.zenhubusercontent.com/6242f2f59960209e891f50ec/e34a6668-ae3c-40e1-9b9f-b589ad0ef586)
Scenario 3 need clarity on whether the height should increase with label or it should be truncated. (Note: The label is anyway appearing in tooltip)

[2022-08-26 06:13] tomjose92 opened #16318 "[Feature]: Support for AWS Athena"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user had requested support for AWS Athena.

### Why should this be worked on?

-

[2022-08-26 06:31] lavanyaG4 opened #16319 "[Feature]: Provide progreesbar for table data load."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Progress bar is required for data loading in table. OnPageChange also It has to show the loading indicator otherwise it is difficult to understand which page data it is showing in the meanwhile.

### Why should this be worked on?

Without progress bar, it is very cumbersome to work with table

[2022-08-26 06:33] chrismaeda opened #16320 "[Bug]: In Application Export, java.time.Instant's are saved as JSON objects but the Application Importer expects ISO-8601 strings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I export an app from Appsmith 1.7.5, it exports java.time.Instant objects as JSON objects.

[code]
But the importer, com.appsmith.external.converters.GsonISOStringToInstantConverter, expects ISO-8601 strings.  So it gets this error:

[code]

### Steps To Reproduce

1. Export an App
2. Import

[2022-08-26 06:41] dilippitchika opened #16323 "[Epic]: Bind widgets to data faster"
### Objective

To increase our retention, it’s important for our users to experience aha moments as quickly as possible, specifically in their first set of interactions with the apps.

Most users start with widgets and try to explore them, however this doesn’t help them get to aha moment anytime soon due to the extra work they have to do. i.e

1. Create their own queries and bind them to widgets.

[2022-08-26 06:49] ame-appsmith opened #16324 "[Bug]: Unable to Configure Super User Directly in the docker.env File"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The implementation of making **super users** works only when changed via the **Admin Settings** page but not if it was directly changed in the `docker.env` file.

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100161174#part_id=initial-part-164629100161174-1413541376

###

[2022-08-26 06:50] momcilo-appsmith commented on #16309
4 rows is today's minimum height for widgets. @riodeuno can confirm.

[2022-08-26 07:03] ashit-rath opened #16325 "List V2 POC: Meta widgets performance"

[2022-08-26 07:47] cokoghenun opened #16326 "[Feature]: Enable Fetch API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The API editor is awesome and a secure way to make requests when combined with a datasource. While it has its place, it begins to feel too bulky while building large or complex apps.

Enabling the Fetch API will give users more flexibility while building because it has a simple interface and is declar

[2022-08-26 07:58] btsgh opened #16327 "[Bug]: Currency Input widget - Label - Left, Auto Height - Long label."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Step 1: Drag and drop a Currency input widget
Step 2: Change the Height from Fixed to Auto height
Step 3: Enter a long text in the Label and observe

The text gets truncated, and the height remains unchanged.

As a user, I would want to see the text getting expanded and height increasing.

[2022-08-26 08:00] btsgh commented on #15358
Raised a separate issue for Scenario 3
Tested Scenario 2 on [this](https://appsmith-q0xotwotv-get-appsmith.vercel.app/applications) dp and it works fine.

[2022-08-26 08:12] btsgh opened #16328 "[Bug]: Phone input widget, in the following scenario, the widget does not get back to original height"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Drag and drop a Phone Input widget
Enter more than four words in the Label text of the widget
Change the Position of the Label from Left to Top
Change the Height from Fixed to Auto height
Again change the Auto height to Fixed
Change the position again from Top to Left
Observe the widget is larger in

[2022-08-26 08:16] btsgh commented on #15388
Raised a separate issue for Scenario2. Scenario1 is solved.

[2022-08-26 08:51] somangshu commented on #15699
We do not have the bandwidth to take this up right now, We are looking at the list widget perf separately though

[2022-08-26 09:10] somangshu opened #16329 "Performance Goal Q4"
performance issue to be picked up between Oct - Dec 2022.

[2022-08-26 09:30] Sripriya93 commented on #15354
AUTO HEIGHT
Scenario 1 - Working fine
Scenario 2 - Working fine with added options
Scenario 3 - Working fine with Top position, and added more words
Scenario 4 - Working fine when we change size from S to 3XL

AUTO HEIGHT WITH LIMITS
Scenario 1 - Working fine
![image](https://user-images.githubusercontent.com/104895602/186873440-6391800c-22a2-4613-aab3-af8721b2234c.png)
Scenario 2 - Working fine
!

[2022-08-26 09:34] tskippervold commented on #3129
We use Appsmith as a back office tool where we also display data from our Google Cloud SQL database.
However, we have additional data in Mixpanel, such as user last seen, user device details, and so on.

Currently Mixpanel supports hourly exports to BigQuery, and this lets us query user data from big query.

It would be really nice to be able to pull in data from BigQuery in AppSmith so we can enr

[2022-08-26 09:42] somangshu commented on #15713
@dilippitchika is this being worked on?

@techbhavin can you give an update?

[2022-08-26 09:43] marks0351 commented on #14898
This issue has been worked on and is merged.

[2022-08-26 09:43] #14898 closed

[2022-08-26 09:43] somangshu commented on #13681
@andrewdietekoki is this picked up, If yes, can you add an estimate?

[2022-08-26 09:44] dilippitchika commented on #15713
Not that i am aware of @somangshu

[2022-08-26 09:44] dilippitchika commented on #15713
It was supposed to be done after form button migration, hence it was in sprint backlog

[2022-08-26 09:56] andrewdietekoki commented on #13681
Sure. I will do that.

[2022-08-26 10:00] manikumarnune123 opened #16330 "[Bug]: Java properties for proxy not working as expected."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. The system proxy is not working when the trailing slash is configured in the http_proxy or https_proxy.

2. There were no fields for proxy username and proxy password.

3. NO_PROXY is not working for the CIDR range for example (`10.*.*.*`) or (`10.171.49.0/24`), even not working if the domain n

[2022-08-26 10:29] ChandanBalajiBP opened #16331 "[Task]: Datatype cypress test cases for mySql plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Write cypress test cases for all datatypes to be handled by mySql plugin
| Index  | Datatype | True Cases | False Cases |
| ------------- | ------------- | ------------- | ------------- |
| 1  | Boolean  | Completed | Completed |
| 2  | Enum  | Completed | Completed |
| 3  | Signed-TinyInt  | Complet

[2022-08-26 11:23] ayushpahwa opened #16333 "[Feature]: Grouping in logs tab for repeated log statements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The logs tab gets very cluttered due to repeated logs. We can collapse the repeated logs into a single one along with a tag to show multiple logs of the same one.

### Why should this be worked on?

For ease of consumption of log outputs.

[2022-08-26 11:29] akash-codemonk opened #16334 "[Bug]: Twilio not appearing in the filter list in the templates tab."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="841" alt="bug" src="https://user-images.githubusercontent.com/67054171/186893057-65097099-164e-46fd-a8c3-98b351efa86d.png">

Although twillio is added to the datasource list of the template, it isn't appearing in the list of filters.

### Steps To Reproduce

1. Add a new template with

[2022-08-26 11:31] felixsuarez0727 commented on #15911
The issues in regards to access of the SaaS App were solved; so, moving this issue back to QA.

[2022-08-26 11:37] rohan-arthur commented on #14666
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4822 |
| Effort (months)  | <<number>> |

[2022-08-26 11:42] prapullac commented on #15911
Verified on DP

[2022-08-26 11:57] ramsaptami opened #16336 "[Feature]: Console log needs to support string substitution and recognize escape characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Console log needs to support string substitution and recognize escape characters

### Why should this be worked on?

These are standard expectation from users when using with `console` statement

[2022-08-26 12:11] felixsuarez0727 commented on #9358
This issue was blocked by above these two errors:

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/1a9218ba-51e1-43d7-b8a7-0bd0d77c8432)

But, after looking at this, I realized that the fixes made this week overwrite this enhacement, so, I will be moving this back to the backlog.

[2022-08-26 12:26] AmanAgarwal041 opened #16338 "[Task]: Consume AST apis on backend server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The apis are added in RTS server. There are two apis for the AST backend usage :

- **Single script Identifiers**
  _Method_: `POST`
  _URL_: `/rts-api/v1/ast/single-script-data`
  _Body_: `{ "script": "(function(){ let a = 1; return [Api1.data, Api2.data, a]; })()", "evalVersion": 2 }`
  _Response_:

[2022-08-26 13:06] Nikhil-Nandagopal commented on #14960
@Aaronwn please do tell us how you expect this integration to work. We'd also be welcoming to a contribution

[2022-08-26 13:08] Nikhil-Nandagopal commented on #7454
@jayveeAtWork when you import the git repo on separate instances, we ask you to key in the datasource configurations.
This is a one time setup operation per instance.
After that, you can commit changes on a branch in the staging instance, raise a PR, have it merged it, and then hit deploy on the production instance

[2022-08-26 13:09] Nikhil-Nandagopal commented on #16319
@lavanyaG4 the page number is shown in the table is that not enough? Can you share a screenshot of what you expect this to look like?

[2022-08-26 13:13] #15875 closed

[2022-08-26 14:18] trishaanand opened #16339 "[Feature]: Add support for IdP initiated SSO"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Appsmith supports SP initiated SSO (aka login from Appsmith login page) but doesn't support login initiated from the identity provider for Appsmith which eventually leads to Appsmith home page.

### Why should this be worked on?

Large enterprises tend to use a lot applications. The IdP tends to becom

[2022-08-26 16:43] phangs opened #16340 "[Feature]: New widget Page Header and Footer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This widget when added to page will be visible on all the pages in the app. It will have a setting where I can specify the pages it should be visible.

I will behave like the container widget that it can hold other widgets like menu, text select, multiselect etc. and all those widgets are also availab

[2022-08-26 19:41] ame-appsmith commented on #15095
@dilippitchika Yes, a [user on Intercom](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100138189#part_id=initial-part-164629100138189-1362421236) requested this feature.

[2022-08-26 19:54] areyabhishek commented on #16340
Agreed that we need it! We are working on this feature.

[2022-08-26 21:21] Privatecoder commented on #14755
Any updates on this?

I am experiencing the same issue in an app I use in production. I can also confirm @subrata71's [steps](https://github.com/appsmithorg/appsmith/issues/14755#issuecomment-1168576393) (fork, export/re-import) don't fix this and the issue seems to occur randomly after a while.

However: I did experience a much larger latency between my Browser and the Server – between the last u

[2022-08-27 01:14] some-rando opened #16343 "[Feature]: Add currentItem and currentItem.id in JSON Form Arrays"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Having access to array indexes on a JSON Form widget would allow manipulating data or using Javascript functions to make decisions based on user input. Similar to the List widget `currentItem` or Select widget `SelectWidget.selectedOptionValue`, etc.

### Why should this be worked on?

The JSON Form w

[2022-08-27 01:20] some-rando commented on #13078
As Laguna requested, I'm adding my use case of JSON Forms that is currently looking for added functionality. Issue #16343 has been created for it. But in short, adding the ability to know what the index of the current Array Item is from within the JSON Form would be very beneficial for doing things with the Array Items. I'm loving JSON forms so far, but this is holding it back for me.

[2022-08-27 02:12] some-rando opened #16344 "[Feature]: Allow text color changes for SwitchGroup and RadioGroup widgets, separate from Label Text Color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

SwitchGroup and RadioGroup widgets can have their LABEL text color set, but not the color of the text of the _individual options_.

### Why should this be worked on?

SwitchGroup and RadioGroup widgets aren't usable on dark background because their text is always black, or nearly black. Or the text ca

[2022-08-27 03:00] felixsuarez0727 commented on #9358
I changed the id field to index. Now when a new action is added the index is created by default in 1

Steps to reproduce it
1. Create a test datasource
2. Add some actions
3. Click on the edit order button
4. The index column will appear for editing

https://images.zenhubusercontent.com/275993885/c8748cd9-4681-4a11-9fcb-5c1998ebe238/video1275890571.mp4

**Note:** As the Index field does not exist

[2022-08-27 03:26] ankitakinger commented on #14458
Mock API changes are done. But we will need to work on this again once APIs are ready. Re-opening the issue.

[2022-08-27 03:28] felixsuarez0727 opened #16345 "When changing the displayName of an action the option label is not updated."
If I update the displayName field name. When I use the fetch_options query it still appears with the old value.

### Steps to reproduce:

1. Go to a test datasource
2. Create an action
3. Update the action name
4. And check in fetch_option the name that comes out

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/87a7cb34-0a1b-4a85-b37a-ffaa998db3b0)

![imagen.png](https:

[2022-08-27 09:18] IAmAnubhavSaini commented on #15347
@vishnu-gp What is the response from backend here?

[2022-08-27 09:19] IAmAnubhavSaini commented on #16290
This requires some code changes. We should do it when there are no head-scratching bugs/issues in git.

A few are:
- discard api throwing 5xx or 4xx error and UI not handling it.
- git BE implementation around locks.
- handling migration changes
- having force-pull, reset to earlier commit, reset to remote branch etc features.
- other open minor issues like Hitesh mentioned above.

I'd say we are

[2022-08-27 09:48] ankitakinger commented on #16293
Below is the list of changes to be worked on as discussed on Design QA call:

- Change menu options copy
- Add number on user edit screen tabs
- Alignment of text in edit user page
- Remove clone for group
- Roles number should show only active roles
- Search in roles tab
- Remove user in group copy change
- Left hand side spacing on pg
- Checkboxes positioning
- Search placeholder
- Pg hover row

[2022-08-27 10:20] rohan-arthur opened #16347 "[Bug]: [graphql] improve error messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

graphql query, wrong authentication settings, I get this error:

![Uploading Screenshot 2022-08-27 at 13.56.44.png…]()

it looks unformatted

### Steps To Reproduce

here are the steps I followed:
1. create a graphql datasource, url https://api.github.com/graphql
2. give some rubbish authenticatio

[2022-08-27 10:22] rohan-arthur commented on #16347
<img width="398" alt="Screenshot 2022-08-27 at 13 56 44" src="https://user-images.githubusercontent.com/94514895/187026009-bfc6e315-f2e6-45b4-8d6d-a4d29a950786.png">
trying to attach again

[2022-08-27 12:11] trishaanand opened #16349 "[Feature]: Add a super admin of instance from outside of Appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Sometimes, the super admin could lose access to the Appsmith application due to SSO/Login issues. This feature should allow a way to a user who has access to the instance where Appsmith is deployed to be able to add a new super user.

### Why should this be worked on?

-

[2022-08-27 12:12] #16349 closed

[2022-08-27 14:27] #16293 closed

[2022-08-27 16:12] trishaanand commented on #16324
Picking this up because it would become a blocker for RBAC to be tagged post promotion.

[2022-08-27 17:34] #16324 closed

[2022-08-28 11:46] sharat87 commented on #14754
@Nikhil-Nandagopal, changing the port shouldn't make a difference here.

@alanPaivaAsp, this is very strange from the looks of it. Can you share the log file at `stacks/logs/backend/*.log` to help troubleshoot this issue please? Thank you!

[2022-08-28 14:10] phangs opened #16354 "[Bug]: Renaming a button group bound to appsmith store, the key is also renamed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I created a button group to use as a page navigation control, I bound the visibility of the buttons based on an appsmith store key, based on the youtube video tutorials by adding this JS to the Visibility settings of the buttons:

Widget Name: Menu
Appsmith Store Key: Menu
JS Added to Button Visib

[2022-08-29 00:20] yatinappsmith commented on #16324
@RakshaKShetty can you verify this one?

[2022-08-29 01:34] george-paw commented on #16318
Integration with AWS Athena allows query-based access to parquet files in S3

[2022-08-29 03:46] prapullac commented on #16093
@Irongade : Verification completed on DP.

[2022-08-29 03:53] #14395 closed

[2022-08-29 03:56] #15167 closed

[2022-08-29 04:08] lavanyaG4 commented on #16319
Now It shows 100 Records Page 1 of 2.
I want like this 100 Records(1-50) Page1 of 2
                        100 Records(50-100) Page 2 of 2.

On Fri, Aug 26, 2022 at 6:39 PM Nikhil Nandagopal ***@***.***>
wrote:

[2022-08-29 04:46] RoopKrrish9696 commented on #13005
Design review for latest [DP](https://appsmith-doldixj5g-get-appsmith.vercel.app/): cc @kocharrahul7 @akash-codemonk

1. The inactive filter state  - the stroke colour for the checkbox is black but should be grey, please refer to zeplin once.
2. Also, the padding between the last similar templates section and the above section is less, please check once.

[2022-08-29 04:55] Irongade commented on #16093
Kindly add appropriate label to PR. @prapullac

[2022-08-29 04:55] shadabbuchh opened #16357 "[Bug]: rgba colours do not get applied correctly in Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When colours in the form of `rgba(0,0,0,0)` are applied to the cell background of the table widget, we can see it does not get applied uniformly.
https://www.loom.com/share/f0e91b9cfa4b4fcebc785117732fe9ba

<img width="1565" alt="Screenshot 2022-08-29 at 10 22 28 AM" src="https://user-images.githu

[2022-08-29 05:07] vishnu-gp commented on #15347
@IAmAnubhavSaini I think this has to be corrected from the BE and remove the pull button in FE in case of non-upstream changes related cases.

`{"responseMeta":{"status":400,"success":false,"error":{"code":4048,"message":"Looks like there are pending upstream changes. To prevent you from losing history, we will pull the changes and push them to your repo.","errorType":"GIT_UPSTREAM_CHANGES_PUSH_EX

[2022-08-29 06:02] bharath31 commented on #6923
Assuming 40% of users who write mustache statements on the property pane face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3300 |
| Effort (months)  | 0.45 |

[2022-08-29 06:12] hiteshjoshi commented on #16280
Hey @arslan0tahir, I am going to close this. Please reopen if you have anything to add.

[2022-08-29 06:14] ayushi-appsmith opened #16358 "[Feature]: Update obsolete widgets with minimal user intervention"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently in order to upgrade a widget the user needs to drag and drop and the new widget onto the canvas and change a lot of the work they've already done before.
A better solution needs to be implemented here that reduces the burden on redoing tasks on the users.

https://discord.com/channels/725602

[2022-08-29 06:16] pratapaprasanna commented on #15962
The instance used in release is a t3.large instance and the network bandwidth doesn't support efs traffic. therefore there were a lot of restarts for the efs-csi-node daemon-set.

[2022-08-29 06:16] #15962 closed

[2022-08-29 06:18] #14144 closed

[2022-08-29 06:19] pratapaprasanna opened #16359 "[Task]: Support migration changes for appsmith-ee"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- create a cluster and run migration to get estimates
- Help team with the deployments

[2022-08-29 06:21] pratapaprasanna opened #16360 "[Task]: Deploy heap aggregator to get heap dumps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Try different techniques to get the heap-dumps across the cluster
- Share dumps with the teams
- Add it to the helm-chart of appsmith-ee

[2022-08-29 06:25] IAmAnubhavSaini commented on #15809
Had the right idea with PAGE, but didn't have other components setup properly.

Need to get the register function output and working without SettingsFactory.

[2022-08-29 06:25] #15941 closed

[2022-08-29 06:27] IAmAnubhavSaini commented on #15793
Multi select is working.

[2022-08-29 06:27] #15793 closed

[2022-08-29 06:36] Nikhil-Nandagopal commented on #16354
@phangs thanks for reporting this. You are indeed correct about this issue. We have this issue tracked here #2098

[2022-08-29 06:36] #16354 closed

[2022-08-29 06:38] Nikhil-Nandagopal commented on #16288
@btsgh I don't think this will be snowflake specific. Can you verify whether this is happening in other plugins too?

[2022-08-29 06:45] Nikhil-Nandagopal commented on #16343
@some-rando thanks for the great feature request! @dilippitchika @ashit-rath hopefully this should be simple to add

[2022-08-29 06:46] Nikhil-Nandagopal commented on #16344
@jsartisan @dilippitchika seems like a miss in our styling

[2022-08-29 06:48] Nikhil-Nandagopal commented on #15056
@ApekshaBhosale @bharath31 this issue seems to be happening quite frequently

[2022-08-29 06:57] Rishabh-Rathod commented on #16288
@Nikhil-Nandagopal Yes, this is not specific to the snowflake. It is for all the cases where multiple bindings are present in the same line. for eg: `{{Text.text}} ABC {{Input1.text}}`

This PR https://github.com/appsmithorg/appsmith/pull/16314 has fixed the new logic which missed this case.

[2022-08-29 07:06] muezz commented on #2430
I would like addition of Danfo JS or a an equivalent library that lets me automate excel related tasks.

My particular scenario is that the user chooses an excel file and I would use the library to trigger a set of tasks that will "re"-organize the data and give it back to me in a better and more use-able format. This works in my situation because the file chosen by the user will always be in the

[2022-08-29 07:20] nidhi-nair commented on #16185
@shadabbuchh can we close this issue if the changes have been successfully reverted?

[2022-08-29 07:21] shadabbuchh opened #16365 "[Bug]: "selectedOptionValue" in TreeSelect widget does not work as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Even when we clear the selected option in a TreeSelect widget, the value of the same is still stored.

**Note:**

1. This happens when there is a `Default Value` mentioned for the TreeSelect widget.
2. This is happening only in release and not in Prod.

https://www.loom.com/share/efbfe26332a948f5b

[2022-08-29 07:23] shadabbuchh commented on #16185
Yes, this is working fine on release.

[2022-08-29 07:23] #16185 closed

[2022-08-29 07:44] btsgh commented on #15825
@dilippitchika  - so you will be removing the js toggle option for the Button Type field and just leave it as a dropdown to choose Simple or Menu, is that correct?

[2022-08-29 07:53] trishaanand opened #16366 "[Docs]: Update Super Admins section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/getting-started/setup/instance-configuration/admin-settings#configuring-a-superuser

### Describe the problem

As part of RBAC, the existing way of updating super admins of an instance from outside (aka via database changes mentioned in the doc below) would no long

[2022-08-29 07:54] rohitagarwal88 commented on #9321
@yaldram here is the icon
https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4275%3A39215

[2022-08-29 08:14] dilippitchika commented on #15825
Yes Aparna

[2022-08-29 08:16] Deanang commented on #2430
Please add mathjax pls.

[2022-08-29 08:25] slysiou commented on #2430
I would like to use https://parseplatform.org/ (similar to Firebase or supabase)

[2022-08-29 08:41] rafaelferreirapt commented on #9746
@dilippitchika yes, because currently I can't do that and the content-disposition is what has been set to the object. with that I can't use the document viewer because always downloads me the file (because by default I have the content-disposition set to that for the production application and use cases). For the dashboard, I would like to be able to set the content-disposition to inline when crea

[2022-08-29 08:44] dilippitchika commented on #16344
Thanks for adding this @some-rando, we will pick this up soon.

[2022-08-29 08:52] Nikhil-Nandagopal commented on #1866
@baguse none yet. We're currently focusing on improving the current integrations so we haven't added any new ones

[2022-08-29 08:56] dilippitchika commented on #16340
Linked to https://github.com/appsmithorg/appsmith/issues/8749

[2022-08-29 09:12] Nikhil-Nandagopal commented on #16077
@AmanAgarwal041 is this still an issue?

[2022-08-29 09:13] Nikhil-Nandagopal commented on #16095
@aamiel1 can you share a sample public application for this?

[2022-08-29 09:15] dilippitchika commented on #16319
hey @lavanyaG4 the title says you are looking for a progress bar, but your last comment says you want to show number of records. Can you clarify this? Are you looking to show a progress bar when data is still loading on the table? Or simply show no.of records on the page?

[2022-08-29 09:16] #9041 closed

[2022-08-29 09:21] shadabbuchh opened #16367 "[Bug]: Issues in MultiTreeSelct widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Two issues are happening with the MultiTreeSelect widget in release:

1. The `selectedOptionLabels` displays the values of the selected options instead of the labels.
2. On binding it with a Text widget using: `{{MultiTreeSelect1.selectedOptionLabels}}` when we clear all the selected options, the

[2022-08-29 09:24] ame-appsmith commented on #4404
[Another user wanted to have the app translated into Chinese](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100162044#part_id=comment-164629100162044-16513422459).

[2022-08-29 09:25] Nikhil-Nandagopal commented on #16258
@ame-appsmith this is a Duplicate of #12179 so closing it in favor of that

[2022-08-29 09:25] #16258 closed

[2022-08-29 09:25] ame-appsmith commented on #3265
[Another user requested this feature](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100162103#part_id=initial-part-164629100162103-1416901874).

[2022-08-29 09:25] sharat87 commented on #16249
Hey @Mika64, sorry you are facing this trouble and thanks for reporting.

Can you describe what steps you've taken to upgrade your instance please?

The error you see usually occurs when the values of `APPSMITH_ENCRYPTION_SALT` or `APPSMITH_ENCRYPTION_PASSWORD` have changed. These two env variables are used to encrypt sensitive data in the database, things like database passwords. So, if these val

[2022-08-29 09:27] ame-appsmith commented on #14043
Another [user reported this issue](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100161674#part_id=initial-part-164629100161674-1415494987).

[2022-08-29 09:28] chandannkumar opened #16368 "[Bug]: The searched text background color is white on dropdown of 'change currency/country code'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/e973ceb2855c4b9e905c2041ef72460e

### Steps To Reproduce

1. Drag & Drop Phone/Currency Input widget
2. Enable 'Allow Currency/country change' option from property pane
3. Search for any currency/country in the dropdown
4. Observe that the search text is on clearly visib

[2022-08-29 09:30] Nikhil-Nandagopal commented on #16168
@bharath31 @Rishabh-Rathod seems like an issue in the js framework. Can we fix this?

[2022-08-29 09:33] ame-appsmith commented on #5229
Another [user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100161455#part_id=comment-164629100161455-16475279252) showed interest in this feature.

[2022-08-29 09:37] chandannkumar opened #16369 "[Bug]: Dropdown breaks on when wrong text or space in search text is added on dropdown filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On searching either with wrong input on dropdown filter or searching using space breaks the dropdown of phone/currency input widget.

This is only happening for dropdown present in Property pane whereas the dropdown in widget is working fine.
Similar issue: #14678

https://www.loom.com/share/137ae

[2022-08-29 09:39] dilippitchika commented on #16170
Thanks for bringing this to our attention @nzidol.

Both are valid issues and we will pick it up soon. We will soon fix the 1st one. I have linked them to the right issues to be fixed. Thanks.

[2022-08-29 09:41] dilippitchika commented on #16009
This happens because labels are also coming under tabs weirdly, we need to fix that. Thanks for bringing this up.

[2022-08-29 09:41] Nikhil-Nandagopal commented on #16320
@chrismaeda this is because you are exporting from an older instance and importing on a newer one. Can you please upgrade your instance first and then export / import it?

[2022-08-29 09:41] #16320 closed

[2022-08-29 09:42] Nikhil-Nandagopal commented on #16330
@manikumarnune123 are you running appsmith using docker or from source?

[2022-08-29 09:42] IAmAnubhavSaini commented on #15964
![image](https://user-images.githubusercontent.com/1573771/187173194-85f17ea7-50e8-4471-be16-1e941f121711.png)

[2022-08-29 09:43] laveena-en opened #16370 "[Bug]: Link inserted in the Rich Text Editor is opening up a new window when it has been set to open in the current window."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A link inserted in the Rich Text Editor that is set to be opened in the current window is opening up on a new window instead.

https://www.loom.com/share/c93ac64f2f16442a860b19936f02ed0c

### Steps To Reproduce

1. Drag and drop a RTE widget
2. Add some text with the target URL attached to it
3. S

[2022-08-29 09:44] Nikhil-Nandagopal commented on #16144
@subrata71 thanks for the information. I think the only solution here is to remove the smart substitution or use it in the correct column type

[2022-08-29 09:44] #16144 closed

[2022-08-29 10:00] #15964 closed

[2022-08-29 10:03] IAmAnubhavSaini opened #16371 "[Task]: Implement No result found screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-08-29 at 3 32 39 PM](https://user-images.githubusercontent.com/1573771/187176929-ddf68244-5589-4dd9-ac62-35407b05f091.png)

![Empystate](https://user-images.githubusercontent.com/1573771/187177044-36453df4-594e-42fe-94e8-93f067daa20d.png)
<img width="194" alt="Empystate@2x" src="htt

[2022-08-29 10:38] dilippitchika commented on #16276
@rohitagarwal88 can you please take a look at this?

[2022-08-29 10:40] Rishabh-Rathod commented on #13789
@pranavkanade This seems like a bug to me. When we set a value in persistent store it should automatically also set it to temporary store ( not calling it session store as browser sessionStorage persists on page reload. https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage )

Can you help me understand what is expected in the feature?

[2022-08-29 10:43] andrewdietekoki commented on #13681
@JoshMayberry @lublak @rafaelferreirapt Do you mind sparing some time to briefly talk about this issue and the context of use? Do let me know when it's convenient.

[2022-08-29 10:50] pratapaprasanna opened #16372 "[Bug]: Helm charts auto-setting pathType to Prefix and targetPort to http"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently when a appsmith user deploys appsmith using helm charts the pathType is by default set to Prefix.

### Steps To Reproduce

helm install appsmith .

kubectl get ingress appsmith -o yaml

### Public Sample App

_No response_

### Version

Cloud/SelfHosted

[2022-08-29 10:52] rohitagarwal88 commented on #16276
@dilippitchika/ @shadabbuchh  it does not happen only page setting, it happen in all view eg, JSObjects, API, Queries, Datasources etc.
@rahulramesha : Look at this. This is an interesting bug. Preview & edit icon hide all the left side, search bar and  right sidebar. We have to redirect user to edit url with preview mode enabled.

[2022-08-29 11:04] #15785 closed

[2022-08-29 11:04] #15688 closed

[2022-08-29 11:04] #15911 closed

[2022-08-29 11:11] dilippitchika commented on #9746
Are you uploading the files within appsmith to s3 @rafaelferreirapt ?

[2022-08-29 11:13] #15716 closed

[2022-08-29 11:15] #15690 closed

[2022-08-29 11:23] manikumarnune123 commented on #16330
@Nikhil-Nandagopal Docker

[2022-08-29 11:23] ApekshaBhosale commented on #11351
https://github.com/appsmithorg/appsmith/issues/13982 will be solved as part of this

[2022-08-29 11:26] Rishabh-Rathod commented on #11351
Makes sense.

[2022-08-29 11:27] Rishabh-Rathod commented on #11351
Oops sorry, I closed the wrong issue.

[2022-08-29 11:40] Mika64 commented on #16249
Hello @sharat87,

I'm only edit my docker-compose.yml to use docker image version :
appsmith/appsmith-ce:vX.Y.Z

APPSMITH_ENCRYPTION_SALT and APPSMITH_ENCRYPTION_PASSWORD haven't changed and they in my docker-compose and correctly in docker.env.

FYI : I removed my real mail address in log

[docker.log](https://github.com/appsmithorg/appsmith/files/9444169/docker.log)

[2022-08-29 11:40] Aishwarya-U-R commented on #16367
Similar to - [[Bug]: TreeSelect | Unable to capture right Label data OnPageLoad (first load) #15466](https://github.com/appsmithorg/appsmith/issues/15466)

[2022-08-29 11:49] Aishwarya-U-R opened #16374 "[Bug]: PhoneInput | Properties pane | CountryCode search text is white"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/187193674-b88ff0a5-8501-4fd0-9d9c-824fd9cabb55.mov

### Steps To Reproduce

1. DragDrop a PhoneInput widget
2. Open properties pane & filter for different country code
3. **Observe : Search text is white**
4. **Expected: Search text should be visi

[2022-08-29 12:10] shadabbuchh commented on #16374
Same behaviour is prevalent in Currency Input widget as well.

[2022-08-29 12:24] rohan-arthur commented on #16202
REST 6m usage: ~5000
Considering 50% users use pagination: 2500
Of these, assuming 20% users use pagination with response url: 500

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | <<number>> |

[2022-08-29 12:24] parth-appsmith commented on #16176
@AmanAgarwal041 from what I understand of this issue is that once the selected variables are removed from the query variable they still appear selected in the pagination with an error (Since those variables doesn't exists).
I dont see where are designs required for this, shouldn't the interaction be as soon as the source of the variable doesn't exists then there is no point that they should appear

[2022-08-29 12:35] yaldram commented on #16374
The color issue is due to some changes done in the `design-systems` repo

[2022-08-29 12:49] ankitakinger opened #16376 "[Task]: Add loaders on RBAC screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-08-29 12:51] rohan-arthur commented on #16176
@parth-appsmith you're right of course, and that's the bug we want to fix. However, the component itself can be better: suppose I select something in the drop-down, how can I un-select it again? This is currently not working. I imagine a "blank" value in the drop-down should work - would you please suggest a suitable existing component?

[2022-08-29 12:55] ramsaptami opened #16377 "[Bug]: Using expressions on the query editor causes the evaluated to behave incorrectly when the query is run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using a logical expression or a null coalease in the URL of an API causes the evaluation to incorrect pass values and return an error

### Steps To Reproduce

1. In an API query, pass query params as part of a conditional expression.
`https://mock-api.appsmith.com/{{Text1.text ? 'users' : 'user'}}

[2022-08-29 13:13] ramsaptami opened #16378 "[Bug]: Improve performance of function run on the editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently running a function on the editor on release takes slightly more time than it does on prod. This needs to be improved. Console implementation also causes a slow execution on it's DP and has the potential to further slow down the editor

https://www.loom.com/share/31f39247e2cb495ba39dffad0

[2022-08-29 13:30] Nikhil-Nandagopal commented on #16330
@sharat87 any idea what is happening here?

[2022-08-29 13:37] ramsaptami commented on #9797
Trying to add any character at the start of the object name also results in the same cursor behavior where it shifts to the start of the line

[2022-08-29 13:59] ramsaptami opened #16381 "[Bug]-[Infinity]:Setting a function to run on page load causes other sync functions to be set to run on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a function in an object is bound to a widget like, `JSobj.myFunc.data` then other sync functions present on that object also get triggered to run on page load after a few minutes. This is seen by the message that pops up to tell the user a function is set to run on page load.

This toast mess

[2022-08-29 14:45] yatinappsmith opened #16382 "[Bug]: Unable to make public app private"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Unable to make public app private. this issue is specific to this app.
https://www.loom.com/share/71a0c84e4c384cb187faf3e441d40bcd

### Steps To Reproduce

https://www.loom.com/share/71a0c84e4c384cb187faf3e441d40bcd

### Public Sample App

https://release-ee-https.appsmith.com/applications/62e3a8b

[2022-08-29 15:34] danciaclara commented on #13187
Another user faced an issue due to this - https://discord.com/channels/725602949748752515/760761686549463060/1013390850811756545

[2022-08-29 15:41] rahulramesha commented on #16276
@rohitagarwal88 @dilippitchika, looks like we are only removing the panes from left and right. What should be the expected behaviour when user selects preview mode on Page Settings page or any other Page. Or should we fix this by just showing preview mode option only on canvas page and removing that option from other pages?

[2022-08-29 16:12] #15453 closed

[2022-08-29 16:16] AnaghHegde commented on #15715
We will be picking up a few tasks in this -
1. Introduce a new permission group which grants access to read AuditLogs from the DB
2. Assign this permission to the Instance Admin only in v1.

[2022-08-29 18:53] subrata71 commented on #15342
We will not be doing this. Reaching to the target data type from the byte array will not be possible for all the data types. Hence, I am closing this issue.

[2022-08-29 18:53] #15342 closed

[2022-08-29 18:53] AmanAgarwal041 opened #16384 "[Task]: Update extraction logic of AST to support variable extraction as well"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update Extraction function `extractIdentifiersFromCode` in AST module to return identifiers with variables as well.
- Move Jest Test case to AST shared module
- Remove redundant AST code from `client`

[2022-08-29 21:52] lublak commented on #10782
Any news about this?

[2022-08-30 01:42] developer-honoru opened #16385 "[Feature]: can i use custom shortcuts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

![image](https://user-images.githubusercontent.com/33475816/187329063-d6c4975b-6ce3-4cb5-9d6c-26ebea6a82b9.png)
I want to receive key events from Appsmith.
Please refer to the retool for the capture

### Why should this be worked on?

I want to handle simple and repetitive tasks with shortcut keys.

[2022-08-30 04:18] vuiets commented on #16152
Sure let me see if I can close it this week.

[2022-08-30 04:23] bharath31 commented on #9797
Assuming 5% of users rename JSObjects with spaces

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 250 |
| Effort (months)  | 0.1 |