[2021-03-18 18:38] kovaxur opened #3623 "java.net.UnknownHostException: cs.appsmith.com: System error"
Hi,
I'm trying to install appsmith, everything seems to be fine, however, when the backend starts, after a few minutes (probably after some timeout), I get the following exception:
![image](https://user-images.githubusercontent.com/9846259/111679043-30dcb100-8821-11eb-90c8-98e758755404.png)

[code]

We are behind a company proxy, I didn't really find any proxy settings in the manuals, so I tried a

[2021-03-18 18:47] nidhi-nair commented on #3623
@kovaxur  Our server does not as yet support proxies, but we have recently prioritized a fix for this for our datasources (#3311). Please keep an eye out for updates on that issue.

In the meantime, I'd say you can safely ignore the errors. These failures indicate an inability of your instance to retrieve release notes from our server, but that is the only feature that has been shipped out so far

[2021-03-18 18:50] nidhi-nair commented on #3311
Additional information: Netty does not pick up proxy configuration via environment variables. The discussion around this issue seems to suggest this method of programmatic configuration. (https://github.com/reactor/reactor-netty/issues/887#issuecomment-549439355)

[2021-03-18 19:17] hetunandu opened #3624 "Redesign Query pane layout"
Update the Query pane layout to be full width

[2021-03-18 19:21] hetunandu opened #3625 "Update the Query pane header"
Update the query pane header

[2021-03-18 19:25] hetunandu opened #3626 "Update query pane tabs"
Update the query pane tabs for the request and response

[2021-03-18 19:31] hetunandu opened #3627 "Update the form inputs to Appsmith design system"
Update the input components the query and datasource form to follow the appsmith design system

[2021-03-18 19:39] hetunandu opened #3628 "Use datasource structure for query templates"
The structures have templates for each table/collection. We can use this to give better starting points in queries.

[2021-03-18 19:40] hetunandu commented on #2492
Should be fixed with #3628

[2021-03-18 19:40] #2492 closed

[2021-03-18 19:42] areyabhishek commented on #3628
We should still let people start with a blank query editor.

[2021-03-18 19:43] hetunandu opened #3629 "Update response error page"
Update the UI of the query/API response pane

[2021-03-18 19:46] hetunandu commented on #3628
Yes, but the UI will improve to not accidentally cause quit out of template view. We will also add a way to get back to the template selection

[2021-03-18 19:50] hetunandu opened #3630 "Response view switcher"
A multi switcher to switch the response between Table, JSON and Raw. It needs a server-side change to tell the client when a response could be viewed as a table

[2021-03-18 19:53] hetunandu commented on #3040
Will be fixed with #3629

[2021-03-18 19:53] #3040 closed

[2021-03-18 20:57] riodeuno commented on #2869
@hetunandu @Nikhil-Nandagopal We'll be taking this up in #3250.  Closing this. https://github.com/appsmithorg/appsmith/issues/3250#issuecomment-800015797

[2021-03-18 20:57] #2869 closed

[2021-03-18 21:00] riodeuno commented on #2875
@prapullac Please verify this again.

[2021-03-18 21:07] riodeuno commented on #3097
@areyabhishek Should this be solved by providing an icon dropdown widget? In conjunction with this widget and the input widget with a regex, this workflow can be achieved.

[2021-03-18 21:13] areyabhishek commented on #772
This problem is very acute and old. Can we fix this soon?
<img width="362" alt="Screen Shot 2021-03-19 at 2 42 33 AM" src="https://user-images.githubusercontent.com/30255708/111698436-d5c8af80-885c-11eb-8012-bc0d71f7329c.png">

[2021-03-18 21:16] riodeuno commented on #3251
@areyabhishek We've made updates to this, in which, only if the table columns are different in the new query, will the column properties get reset.

[2021-03-18 21:20] riodeuno commented on #3361
@Nikhil-Nandagopal Can you share an example of your idea of the user experience?

[2021-03-18 21:20] riodeuno commented on #3362
@Nikhil-Nandagopal As with the text annotator, please share your idea of the experience.

[2021-03-19 04:54] marks0351 commented on #2924
@Nikhil-Nandagopal this issue seems to have been resolved. ![Screenshot 2021-03-19 at 10.17.25 AM.png](https://images.zenhubusercontent.com/6041f3b8ac4b18f94944edfc/6e8e155e-e54e-4bca-8285-81718e5e0855)

[2021-03-19 05:52] Nikhil-Nandagopal commented on #2924
@marks0351 I still see it on prod and release

https://user-images.githubusercontent.com/3897254/111737298-5c08e400-88a5-11eb-9af9-39f89702a006.mov

[2021-03-19 05:56] Nikhil-Nandagopal commented on #772
@jsartisan you can try ant design instead

https://user-images.githubusercontent.com/3897254/111737540-cfaaf100-88a5-11eb-917f-8f3f91bc0330.mov

[2021-03-19 05:56] prapullac commented on #2875
@riodeuno : It is working as expected on deploy preview. We can close the issue

[2021-03-19 06:51] prapullac opened #3634 "[Bug] When the results are not shown an information message must be displayed to user"
Steps to reproduce:
1) Add a Table
2) Click on Filter
3) Add an inappropriate filter
and observe

Observation:
It is observed that an empty table is displayed to user without any information.

Expectation:
Display an information stating the filter has no data.

[2021-03-19 07:01] Nikhil-Nandagopal opened #3635 "[Bug] Logs should be in reverse chronological order"

[2021-03-19 07:44] Nikhil-Nandagopal commented on #1236
@akash-codemonk adding a list of issues to solve in the debugger
Issues:
- [ ] Logs messages should be copyable
- [ ] The [Action] or [Widget] in the log can be replaced by the name of the widget. So the message can read "[Table1] Widget Created". The name of the widget should be clickable in the message itself.
- [ ] When a widget property fails evaluation, add an error log "[Table1] tableData do

[2021-03-19 08:08] Nikhil-Nandagopal commented on #3266
Duplicate of #1729

[2021-03-19 08:08] #3266 closed

[2021-03-19 08:44] sharat87 opened #3636 "[Feature] Support deploying Appsmith on a sub-path instead of at `/`"
Currently, the `index.html` page of Appsmith requests for resources starting at `/`, like `/static/main.js` etc. This makes it hard to have an Appsmith instance deployed at a non-root path in a domain. Like `http://example.com/appsmith` or something.

This will be useful in setups where people don't have access to setup an A record for a subdomain, but do have access setup multiple applications ov

[2021-03-19 09:19] Nikhil-Nandagopal commented on #1729
## Product Note
The following actions need to be supported via the google sheet plugin
- List Sheets
  - returns a list of sheet objects
- Delete Sheet
  - Deletes a sheet with a specified sheet id, returns a success/failure
- Create New Sheet
  - Takes a sheet name and array of Row Objects as an input and creates a sheet. Returns a sheet object
- Fetch Sheet Rows
  - Takes a spreadsheet ID
  - Ta

[2021-03-19 10:02] nidhi-nair commented on #1729
Adding questions that might add more visibility into how things work:
1. Do we only support deleting an entire spreadsheet file or deleting a single sheet within a spreadsheet as well? The latter will then need sheet Id
2. While creating a new sheet, since we have no initial data, how do we determine the ordering of columns?
3. Since we allow fetching rows with row and column offsets, how do we de

[2021-03-19 10:19] prapullac opened #3637 "[Bug] user should be able to deselect the row"
Steps to reproduce:
1) Add a table
2) select the table row
3) re click on it and observe

Observation:
User is unable to de select the row

Expectation:
User must be able to de-select the row selected

[2021-03-19 10:22] Nikhil-Nandagopal commented on #1729
@nidhi-nair
1. We should support deleting a sheet so lets add a sheet name parameter as well
2. Since the sheet is being programmatically created, the order should not matter I think it's best to just use the object key order here
3. Not sure about what you mean here. Can this just be treated as a skip parameter? i.e if the value is 10 start from the 10th row?
4. It is to compare the column value

[2021-03-19 10:30] nidhi-nair commented on #1729
For 4, the row objects should be able to do this mapping, similar to the update query right?

For 5, consider the following _array of arrays_:
[code]
This gets converted into:
[code]

[2021-03-19 11:24] hetunandu commented on #1751
A really nice feature addition to this was asked by a discord user:
An ability to declare reactive constants like
[code]
This would enable users to abstract out variables and refer to them easily in other places and make their applications DRY.

[2021-03-19 11:30] riodeuno commented on #3637
This will be picked up in #3407

[2021-03-19 11:30] #3637 closed

[2021-03-19 11:31] hetunandu opened #3639 "[Feature] Add a onClick trigger for icon widget"
## Summary
The icon widget used inside a modal can have an onClick trigger to execute something when the modal is closed

[2021-03-19 11:47] ashrafaa commented on #3443
hi @Nikhil-Nandagopal is there any update to this? It does make the user confused when the previous value still exist after selecting new row 😕

[2021-03-19 12:02] asmiller commented on #1751
I can't tell from the Figma pages if this use case is already covered or not -

it would be useful to be able to use values from widgets and trigger db queries from inside of custom functions as well as the "returning transformed data" use case shown above. That way we could use this same feature to write long form, reusable javascript to call in the "Action" of chained events of buttons and forms

[2021-03-19 12:08] Nikhil-Nandagopal commented on #1751
@asmiller thank you for the contribution to this issue! This is indeed a case that we will handle in the JS Editor :)

[2021-03-19 12:14] hetunandu commented on #3443
Hey @ashrafaa, this seems to be an odd case. I'll debug this further and get a good solution. Today we seem to be doing the overwrite of default values by value comparison but maybe we should change that looking at this issue. Ill pick this up on priority

[2021-03-19 13:44] hetunandu opened #3641 "[Feature] Ability to configure the Appsmith signature header's content"
## Summary
We might want to send some extra information inside the signature header that can be used for verification or authentication. To enable this we can make the token configurable via `{{ }}` bindings

## Motivation
Add more information in the appsmith verification header

## Additional Context
https://docs.appsmith.com/core-concepts/connecting-to-data-sources/connect-to-apis/signature-head

[2021-03-19 15:31] nidhi-nair opened #3643 "[Feature] Expose response headers, specifically response status, in the API action"
Users would like more control of how to handle their API responses on the basis of their response status codes. We could expose this information in a separate field inside the action object.

[2021-03-19 16:50] hetunandu commented on #3643
The quick way to do this would be to add a third argument to the function.
[code]
If we add this in the first argument, that would be a breaking change.

The better experience would probably be to be an object structure from which you can deconstruct the items you need

[2021-03-20 05:21] nidhi-nair commented on #3643
I think we can achieve both elements from what you have suggested above if we keep the response body object as is and use the new paramter as the encapsulated object for all other information. May be something we can follow across the board.

[2021-03-20 06:47] sentry-io[bot] opened #3645 "[Bug] Error: Renderer Error ☝️"
Sentry Issue: [APPSMITH-MN](https://sentry.io/organizations/appsmith/issues/2283886674/?referrer=github_integration)

[code]

[2021-03-20 13:09] nidhi-nair opened #3648 "[Bug] Display issue while showing toast message on deleting RTE"
<img width="285" alt="Screenshot 2021-03-20 at 6 37 19 PM" src="https://user-images.githubusercontent.com/5298848/111870568-7d53f800-89ab-11eb-8515-55572764e154.png">

[2021-03-20 13:16] nidhi-nair opened #3649 "[Bug] Unexpected behaviour when deleting multiple widgets consecutively without waiting for dsl update toast"
## Description
When trying to delete widgets one after the other, if there is a lag in the page that results in a delayed response for update in DSL, the DSL value used for last delete is the one with all widgets present. This means that if I delete 5 widgets, eventually only the 5th one will appear deleted (maintains consistency in data so the page isn't broken, but is incorrect)

[2021-03-20 13:19] nidhi-nair opened #3650 "[Bug] Prepared statements do not ignore bindings in comments"
The count for bindings is absolute across the request body, which means that number of bindings do not match the number of placeholders in prepared statements.

<img width="1128" alt="Screenshot 2021-03-20 at 6 48 50 PM" src="https://user-images.githubusercontent.com/5298848/111870851-015aaf80-89ad-11eb-9116-584c74921d20.png">

[2021-03-20 17:10] nidhi-nair commented on #3279
User on discord is facing this issue intermittently for their queries. It is not necessarily triggered by the switching of prepared statements. Workaround for this currently is to trigger evaluation by editing the query.

[2021-03-20 17:27] nidhi-nair opened #3654 "[Bug] PG query with prepared statements turned on cannot execute the following query"
[code]
<img width="1137" alt="Screenshot 2021-03-20 at 10 56 56 PM" src="https://user-images.githubusercontent.com/5298848/111880146-a4bcbc00-89cf-11eb-9b21-5fdb3d5e0d66.png">

[2021-03-20 17:45] nidhi-nair commented on #3500
I think the challenge here is to identify a callable from a prepared statement. @trishaanand, without parsing, can we introduce this with a switch for now instead?

[2021-03-21 01:53] sharat87 commented on #3500
We probably don't need full parsing of the SQL for just this. We identify read-queries vs write-queries based on the first word in the query. Currently, we look for `select` or `show`. We should probably do `call` as well. But then what happens if the stored proc contains an update query instead of a select query like in the example in this issue? Need to confirm those as well.

Ref code: https://

[2021-03-21 13:41] marcius commented on #3500
+1 for a quick&dirty solution as a switch

To fully manage stored procedure calls, i.e. to get if it's DML or a SELECT statement and to process the returned data,
maybe this SO answer can be useful: https://stackoverflow.com/a/42169952

[2021-03-21 16:54] Nikhil-Nandagopal commented on #3641
@hetunandu why can't the additional information be sent in the header field?

[2021-03-21 16:56] hetunandu commented on #3641
It can be. This is more of a convenience feature where you can unbundle one token to find everything you would need

[2021-03-21 17:03] Nikhil-Nandagopal commented on #3641
@hetunandu but is that a good idea? It feels like we're complicating this feature for something that can easily be achieved using the header field.

[2021-03-22 05:30] sharat87 commented on #3419
@marks0351, this is done right? Can we close this?

[2021-03-22 05:40] Nikhil-Nandagopal commented on #3419
Yup closing this

[2021-03-22 05:40] #3419 closed

[2021-03-22 05:42] Nikhil-Nandagopal commented on #3361
https://mcamac.github.io/react-text-annotate/

[2021-03-22 05:43] navdeepsingh commented on #3336
Hello @riodeuno, Interested to solve this issue. I see there no responsiveness at all.
Like https://dev.appsmith.com/applications & Edit Page.
Can we sync, so I get better to understand the deliverables?

cc @Nikhil-Nandagopal

[2021-03-22 05:44] Nikhil-Nandagopal commented on #3362
https://github.com/Kunduin/react-picture-annotation#readme
https://github.com/UniversalDataTool/react-image-annotate

[2021-03-22 05:56] sumitsum commented on #2345
Closed in https://github.com/appsmithorg/appsmith/pull/3518

[2021-03-22 05:56] #2345 closed

[2021-03-22 05:57] sumitsum commented on #3185
Closed in https://github.com/appsmithorg/appsmith/pull/3518

[2021-03-22 05:57] #3185 closed

[2021-03-22 06:17] nidhi-nair commented on #1729
#3589 for other enhancements that are needed in the plugin

[2021-03-22 06:43] Nikhil-Nandagopal commented on #1843
Duplicate of #3643

[2021-03-22 06:43] #1843 closed

[2021-03-22 06:44] mohanarpit commented on #2345
@dineshshanmugam This has been fixed and will be available in our next release next week. Thank you for upvoting this feature!

[2021-03-22 06:45] Nikhil-Nandagopal commented on #3649
@riodeuno looks like a dangerous issue

[2021-03-22 07:07] nidhi-nair commented on #1729
@Nikhil-Nandagopal Documenting changes from list above, not including behaviour:

* We will be losing the ability to map responses to tables with row objects

1. List Sheets
  -- If we return just the name and id, this is one API call. If we want to also retrieve metadata, this is n+1 calls , since every file's metadata is retrieved separately
2. Delete spreadsheet
3. Delete sheet
4. Create sheet

[2021-03-22 07:16] mohanarpit opened #3660 "[Feature] Add title to the query error response"
## Summary

Adding a title will make the UI look good and be more indicative for the user as to what went wrong with the query/action or datasource

## Additional Context

A sample error message is shown here:
[https://www.figma.com/file/XI7Yg0bedTxncLmIUmXTpH/Query-Pane?node-id=219%3A0](https://www.figma.com/file/XI7Yg0bedTxncLmIUmXTpH/Query-Pane?node-id=219%3A0)

[2021-03-22 07:26] Nikhil-Nandagopal commented on #1729
These have been resolved

[2021-03-22 07:29] nidhi-nair commented on #1729
* Delete spreadsheet is done via delete sheets, by using the option "All"
* Insert row will have the same structure as update
* Bulk update will also have a Table header index

[2021-03-22 07:30] prapullac opened #3661 "[Bug] Windows : Omnibar scroller and size is not similar to that in MAC"
1) When the global search bar is opened on Windows it is observed that the Size of the property is  less when compared to MAC
2) It is observed that the scroller should not be visible until it is focused or scrolled and movement of the scrolled should be smooth

![Screenshot (185)](https://user-images.githubusercontent.com/71753653/111954383-05521300-8b0e-11eb-996a-dcabca44e973.png)

[2021-03-22 08:33] mohanarpit commented on #3311
@nidhi-nair I have a POC in the branch `feature/api-proxy`. Check the commit [d3efb3787658a399d8f57e5ff3d76a219ae20732](https://github.com/appsmithorg/appsmith/commit/d3efb3787658a399d8f57e5ff3d76a219ae20732). I didn't push this change because I got entangled in dependency hell when trying to compile the entire code base. The tests run successfully but the server code as a whole wouldn't compile.

[2021-03-22 08:57] riodeuno commented on #2189
@prapullac  This is fixed in `release.`

[2021-03-22 09:05] riodeuno commented on #3336
Hi @navdeepsingh Than you for your interest in contributing to Appsmith! We would love to have your contributions.

Unfortunately, this particular issue needs designs from the team - before we can implement this - which will need some time to be complete. The deliverables would be based on these designs. I will inform you as soon as we have the designs and this issue is ready to be picked up as an

[2021-03-22 09:05] Nikhil-Nandagopal commented on #3636
@mohanarpit any idea how easy / hard this is?

[2021-03-22 09:09] #2189 closed

[2021-03-22 10:42] riodeuno opened #3662 "[Epic] Table Widget Features"

[2021-03-22 10:46] #2875 closed

[2021-03-22 10:50] riodeuno commented on #3249
Duplicate of #2895. Closing this, as this issue will be fixed in the PR for #2895

[2021-03-22 10:50] #3249 closed

[2021-03-22 10:52] mohanarpit commented on #3641
I suggest that we include a library to encode & decode JWTs within Appsmith JS as well. This ensures that users don't have to end up binding specific data into the signature header field. The idea of the signature header was for it to be a consistent token that assures other servers of the origin of the request. If any other custom data needs to be sent to downstream servers, I think including a w

[2021-03-22 10:56] navdeepsingh commented on #1004
@Nikhil-Nandagopal Right now seems there is no limitation to enter Alphanumerics, special-characters into Page Name at top Navigation.
![Screen Shot 2021-03-22 at 4 24 27 PM](https://user-images.githubusercontent.com/2968787/111979466-1c532e00-8b2b-11eb-8fb9-9f45a51ffaac.png)
So we need to validate with some pattern?
The error message must be shown in the Toast box notification right?

cc @mohanar

[2021-03-22 10:57] mohanarpit commented on #3636
As a solution, we'll have to:
1. Include the host URL as an environment parameter. This way the application understands what the root URL needs to be.
2. Wherever we are invoking these URLs, we need to append the root URL.
3. During installation, this needs to be configured in the Nginx configuration as well. Else Nginx routing will fail.

Honestly, I'm not sure how extensive a change this will be

[2021-03-22 10:59] Nikhil-Nandagopal commented on #1004
@navdeepsingh this seems like an unrelated issue. The name at the top is the app name not the page name
The problem here is that using the navigate function a user may configure
{{ navigateTo('RandomPageName') }}
and this does not throw an error to the user but instead navigates to a bad state.

[2021-03-22 10:59] prapullac commented on #3061
The long names are displayed to user in the dots format indicating the name is long

[2021-03-22 11:24] riodeuno opened #3664 "Widget Properties"

[2021-03-22 11:37] riodeuno commented on #1004
Related to #2343

[2021-03-22 11:50] #1696 closed

[2021-03-22 11:53] navdeepsingh commented on #1805
Hello @riodeuno !! Interested to solve this bug. Can help to assign to me.

[2021-03-22 11:55] riodeuno commented on #1805
@navdeepsingh Please go for it! We have something similar (not exactly) in the image cells of the table widget, for reference.

Here is a link to the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidelines.md)

[2021-03-22 15:49] areyabhishek opened #3666 "[Bug] Link to whitelisting IP document link is broken"
The link that shows up on datasources page is broken.
<img width="706" alt="Screen Shot 2021-03-22 at 3 20 09 PM" src="https://user-images.githubusercontent.com/30255708/111971186-1a38a180-8b22-11eb-9e1c-8b75d4924aee.png">

Correct link: https://docs.appsmith.com/v/v1.2.1/core-concepts/connecting-to-data-sources

Edit: Updated with version in the URL so it never breaks

[2021-03-22 16:57] mohanarpit opened #3667 "[Feature] Add request details to the query response object"
## Summary

In the response for the action execution, the server should send back details of the request object as well. This will allow users to debug their actions better.

This involves the following changes:
1. Add a field to the plugin data object to inform the client if the request debugging is available for the plugin
2. Add request object to the action response for the plugin. In addition

[2021-03-22 18:23] rishabhsaxena opened #3668 "[Feature] Theme options for chart widget"
## Summary
Theme options for chart widget

## Additional Context
Example usecase:
It is possible to choose the colors that are used to denote particular segments in a pie-chart. e.g. I want to show the "diseased" segment in Red color to highlight it.

<img width="375" alt="Screen_Shot_2021-03-22_at_10 42 06_AM" src="https://user-images.githubusercontent.com/1944800/112039164-bfc33380-8b69-11eb-81a

[2021-03-23 05:15] hetunandu opened #3669 "Add Request tab in queries"
- Read the plugin object to find out what type of request format is expected, if not type exists, don't render the tab
- Render the request returned from the execution response
- Show a blank state in the request tab before a request is executed

[2021-03-23 05:19] hetunandu opened #3670 "[Feature] Add response data type information in the plugin/execution response"
Add a response type for the response switcher to work like: JSON, String, Table, etc

[2021-03-23 05:40] sentry-io[bot] opened #3671 "TypeError: null is not an object (evaluating 'window.localStorage.removeItem')"
Sentry Issue: [APPSMITH-MR](https://sentry.io/organizations/appsmith/issues/2290653221/?referrer=github_integration)

[code]

[2021-03-23 05:42] sentry-io[bot] opened #3672 "TypeError: Cannot read property 'toUpperCase' of undefined"
Sentry Issue: [APPSMITH-MG](https://sentry.io/organizations/appsmith/issues/2281274062/?referrer=github_integration)

[code]

[2021-03-23 05:42] sentry-io[bot] opened #3673 "TypeError: e.widgetName is undefined"
Sentry Issue: [APPSMITH-MJ](https://sentry.io/organizations/appsmith/issues/2281300077/?referrer=github_integration)

[code]

[2021-03-23 05:44] Nikhil-Nandagopal commented on #1004
@navdeepsingh just to clarify it is related to #2343 but this is also required because the user can navigate to an invalid page using JS mode

[2021-03-23 06:03] nidhi-nair opened #3674 "encryption"

[2021-03-23 06:03] #3674 closed

[2021-03-23 06:40] sentry-io[bot] opened #3675 "Server does not parse bindings correctly during update layout"
Sentry Issue: [APPSMITH-KR](https://sentry.io/organizations/appsmith/issues/2253748712/?referrer=github_integration)

[code]

[2021-03-23 06:46] rishabhsaxena opened #3676 "[Feature] Allow creating public apps that require authentication"
## Summary
Currently making an app public makes auth optional. This would allow users to configure if auth is required even for public apps such that inviting a new user is not required and the app has access to the authenticated user data.

[2021-03-23 07:23] riodeuno commented on #3580
This is available in release.

[2021-03-23 10:20] ApekshaBhosale commented on #3666
@mohanarpit  why not add whitelist page url rather than datasource? Because I think 'how to' page will be expected here unless we want them to land on datasource page. what do you think?

[2021-03-23 10:29] #3580 closed

[2021-03-23 10:30] Nikhil-Nandagopal commented on #3676
I believe the request here is to allow users that sign up to automatically gain access to an application

[2021-03-23 22:23] areyabhishek opened #3682 "[Feature] Render as HTML should be an option in the text widget"
Today the text widget renders HTML by default, but it should be an option that is default ON and can be turned by the user if necessary.

<img width="330" alt="Screen Shot 2021-03-24 at 3 53 44 AM" src="https://user-images.githubusercontent.com/30255708/112226726-8adfdb00-8c54-11eb-8746-a7e4f049fb6d.png">

[2021-03-24 05:09] #3203 closed

[2021-03-24 05:09] #3581 closed

[2021-03-24 05:09] #3582 closed

[2021-03-24 05:12] hetunandu commented on #3193
The button can be shown but it should be in a disabled state till someone writes a datasource

[2021-03-24 05:15] hetunandu opened #3684 "Show docs link in toast messages"

[2021-03-24 05:16] hetunandu commented on #3088
We can use https://twitter.github.io/typeahead.js/examples/ for this

[2021-03-24 08:22] trishaanand commented on #3675
Unable to reproduce the issue using the binding above or other bindings from sentry error events for this.

[2021-03-24 08:53] #2304 closed

[2021-03-24 08:58] #3454 closed

[2021-03-24 09:03] #3409 closed

[2021-03-24 10:15] nidhi-nair opened #3687 "[Feature] Support array of conditions for hidden field in query pane editor"
The hidden field only supports one clause right now, but we should add support for an array that `ANDs` all clauses so that the more complicated forms can be rendered with checks for multiple conditions.

What it looks like right now:
[code]
What it should be:
[code]

[2021-03-24 11:24] #1935 closed

[2021-03-24 12:12] #3297 closed

[2021-03-24 19:25] #3335 closed

[2021-03-24 21:12] naveennazimudeen commented on #3499
Is there any progress being made on this issue?

[2021-03-25 05:46] Nikhil-Nandagopal commented on #2047
Re-opening since the markdown widget needs to output markdown as well

[2021-03-25 06:17] Nikhil-Nandagopal opened #3696 "[Bug] Changing JS in the tabs deletes all widgets in the tab"
Srijan lost all his work with this issue
### Steps to reproduce the behaviour:

1. Drag a tab widget
2. add widgets in the tabs
3. convert it to js
4. edit the js and make an error
5. All the tabs and widgets are lost forever

## Solution
Disallow dynamic creation of tabs and allow dynamically setting tabs as visible or not

[2021-03-25 08:41] ghost opened #3699 "[Bug] install.sh delete docker.env file on linux Centos"
## Description

When I run $HOME/install.sh and create self hosted installation in $HOME/appsmith folder if is present a $HOME/docker.env file is deleted.

### Steps to reproduce the behaviour:

1. backup a copy of $HOME/appsmith/docker.env file
2. delete $HOME/appsmith folder
3. run $HOME/install.sh again
4. With ls -la not find docker.env in $HOME/

### Important Details
 - Version: Self-Hosted

[2021-03-25 08:58] areyabhishek commented on #2290
Can we add this on the MongoDB query page? This seems to be a common query.

[2021-03-25 09:39] riodeuno commented on #3499
Hi @naveennazimudeen Can you confirm if this is still an issue? I tried re-creating this scenario, using the steps you mentioned, but it seems to be working fine for me.

https://user-images.githubusercontent.com/103687/112451920-07210e00-8d7c-11eb-8d1b-c367b35e8beb.mov

[2021-03-25 11:42] nidhi-nair commented on #3687
Can we increase the scope for this change to support a condition like the following? This example is only to show what kind of condition needs to be supported.

[code]

[2021-03-25 12:14] Pjirlip commented on #3478
Hello Nikhil,

thank you for your quick reply!

I can understand that, but using an external provider does not prevent potential misuse. It just shifts the potential negative reputation due to the misuse.

Especially since in my example only internal mail traffic is used. In Appsmith my mail server is stored with mailbox appmsith@mydomain.com and should send to gitlab@mydomain.com for the use case

[2021-03-25 16:59] riodeuno opened #3702 "[Feature] Finer control over roles"
## Summary
Allow for roles and permissions to have finer control over which actions can executed by the user with whom the application is shared.

## Motivation
Developers need to enable and disable finer permissions in the roles of people with whom they share the application.

[2021-03-25 17:05] riodeuno opened #3703 "[Feature] Customise invite emails"
## Summary
- Allow users to have finer control over invite emails
- Internationalise emails for other languages

## Motivation
- Some users cannot identify the sender and context from the emails

[2021-03-25 17:17] mosinuga opened #3704 "[Bug] File uploads bigger than 10MB fails."
## Description

[What happened]
Uploading file size of more than 10mb fails

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Upload file size that is more than 10mb
2. See error on the internal-appsmith-server
org.springframework.core.io.buffer.DataBufferLimitException: Exceeded limit on max bytes to buffer : 5242880

###

[2021-03-25 17:21] areyabhishek commented on #3562
User reported an issue #3704 which seems related to this.

[2021-03-25 17:25] areyabhishek commented on #3704
We currently limit file sizes to 10mb on NGINX. You can increase file size limit on NGINX docker image by increasing the number in client_max_body_size 10m;
We have an incoming fix that increases the size to 100mb. https://github.com/appsmithorg/appsmith/pull/3553

[2021-03-25 17:41] mosinuga commented on #3704
Thank you for your response. I've changed the limit on the nginx, but the error above is coming from the internal-server

[2021-03-25 17:43] mosinuga commented on #3704
This is the complete error message (I'd tried to play with some java options, but it didn't resolve it):
`appsmith-internal-server_1_6fbbe4576acd | org.springframework.core.io.buffer.DataBufferLimitException: Exceeded limit on max bytes to buffer : 5242880
appsmith-internal-server_1_6fbbe4576acd |       at org.springframework.core.io.buffer.LimitedDataBufferList.raiseLimitException(LimitedDataBuff

[2021-03-25 18:18] areyabhishek opened #3705 "[Feature] Supress Appsmith error messages for viewer mode"
1. Today we show error messages for the user in view mode. Some of these error messages aren't necessary for the end-user.
2. Can we allow the developer to suppress error messages for the end viewer and be able to see a timeline of error messages in their console?
3. This will allow the developer to debug but not burden the end-user with messages that don't matter to them and might even be confusi

[2021-03-25 19:53] riodeuno commented on #3295
@prapullac This should not effect the functionality of the Table. Also, some columns can have the same name. I consider this a non-issue.

[2021-03-25 20:00] #3381 closed

[2021-03-25 20:45] riodeuno commented on #3228
@prapullac Can you verify this issue? I can't see this issue existing anymore in release.

[2021-03-25 21:12] riodeuno commented on #3251
@prapullac Can you verify this issue? The above note explains how it is supposed to work.

[2021-03-25 21:24] riodeuno commented on #2895
Mentioned in #3248

[2021-03-26 03:55] prapullac commented on #3228
@riodeuno Unable to reproduce the issue on release.

[2021-03-26 03:55] prapullac commented on #3228
@riodeuno Unable to reproduce the issue on release.

[2021-03-26 03:58] prapullac commented on #3295
@riodeuno as per above comment we can close the issue.

[2021-03-26 03:58] #3295 closed

[2021-03-26 04:40] hetunandu commented on #3590
This is the expected behaviour. On logout we will clear the user perferenace

[2021-03-26 04:40] #3590 closed

[2021-03-26 04:45] hetunandu commented on #3443
Hey @ashrafaa, we have fixed this issue and it should be included in the next release 😄

[2021-03-26 05:10] prapullac commented on #3590
@hetunandu : Closing the issue as per above comment

[2021-03-26 05:18] hetunandu opened #3708 "[Bug] Performance issues with Entity explorer"
## Description

- Entity explorer action entity re-renders a lot
- Entity explorer re-renders every entity instead of only the one that is affected

[2021-03-26 05:52] #3228 closed

[2021-03-26 06:07] Nikhil-Nandagopal commented on #3705
@areyabhishek this looks like a duplicate of #2465
@hetunandu when are we picking this up?

[2021-03-26 06:34] #3211 closed

[2021-03-26 06:55] hetunandu commented on #3705
@Nikhil-Nandagopal we had decided that we will keep this till the debugger is created since the error will then be shown in the debugger when needed

[2021-03-26 07:14] nidhi-nair commented on #1939
Hey I'm reopening this because I picked this up this week. Have a draft PR open for it

[2021-03-26 07:21] prapullac commented on #3251
Hi @riodeuno
Tested on the release and observed this is working as expected and we can close the issue.

[2021-03-26 07:21] #3251 closed

[2021-03-26 07:45] Rishabh-Rathod opened #3709 "Read More link broken in Edit data source page"
## Description

On clicking "Read More" user should be redirected [here](https://docs.appsmith.com/core-concepts/connecting-to-data-sources) instead of [this](http://docs.appsmith.com/core-concepts/connecting-to-databases)
![appsmith_link_broken](https://user-images.githubusercontent.com/23132741/112598566-c6d19680-8e34-11eb-996b-9e13fd292764.png)

### Steps to reproduce the behaviour:
Add steps t

[2021-03-26 07:57] Rishabh-Rathod commented on #3709
This is a small change. I believe i can send a PR to fix if that is fine.

[2021-03-26 08:10] hetunandu commented on #3709
Hey @Rishabh-Rathod, we have an issue already open for this: #3666, and there is a PR already opened to fix this. Thanks for your interest in improving this project, though. If you are interested, we have many "low" and "Good first issues" on this project which you can pick up. Just mention me on any issue you are interested in, and I will assign it to you.

[2021-03-26 08:12] hetunandu commented on #3709
Duplicate of #3666 and fixed by #3679

[2021-03-26 08:12] #3709 closed

[2021-03-26 08:14] hetunandu commented on #3709
Ohh I see you already created a PR! You are super fast 😄.
Please make sure you read our [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/c9cee45f51773a6deaea6bf0cc4a6bc4ad1cfe4a/CONTRIBUTING.md) before to avoid any wasted effort

[2021-03-26 08:36] Nikhil-Nandagopal commented on #3499
@prapullac can you please verify this issue is working?

[2021-03-26 09:07] riodeuno commented on #2486
Closing this as discussed, with the new changes in the property pane, this issue is moot.

[2021-03-26 09:07] #2486 closed

[2021-03-26 09:17] #1604 closed

[2021-03-26 09:17] riodeuno commented on #1604
We're working on the single-click approach, which makes this a non-issue.

[2021-03-26 09:19] areyabhishek commented on #3071
This is a great use case for the PDF generation widget

[2021-03-26 09:21] riodeuno commented on #2594
Closing as this is fixed in `release`.

[2021-03-26 09:21] #2594 closed

[2021-03-26 09:39] areyabhishek opened #3712 "[Feature] Use text widget as label along with input widget"
1. Today input widget requires a text widget to act as a label
2. We can reduce the effort by allowing users to drop an input widget that always gets dropped with a text widget
3. If the user doesn't want a label, they can delete the text widget

## Developer Handoff Link
https://www.figma.com/file/O1tKizBK5SHhWPcPT4RWIs/Input-Updates-Label-and-Tooltip?node-id=2%3A1

[2021-03-26 09:53] Rishabh-Rathod commented on #3709
Oh i tried searching this issue couldn't find it. Great that it is already been resolved. 😄
Will surely invest more going through already open issues.

[2021-03-26 10:01] prapullac opened #3713 "[Bug] The application are not displayed to user when shared in View Mode"
Steps to reproduce:
1) Add an application (Admin Role)
2) Now add multiple widget into the application
3) Click on the share button
4) Share the application as View mode to XYZ email ID
5) Now login into XYZ with View Role
6) Click on the Share button
7) Now add an email ID (ABC)and select role as View
8) Now Login to ABC Organisation
and observe the application

Observation :
User is not displaye

[2021-03-26 10:07] prapullac opened #3714 "[Bug] UX : End Tour option must be displayed to user on the Tour Pop up"
Steps to reproduce:
1) Navigate to application
2) Click on Welcome tour
3) Now navigate through the app
and observe the pop up

Observation:
End tour option is not displayed on the Pop up however this is placed on the header.

Expectation:
Since the user focus is on the Pop up that is helping him to navigate or travel through the app it would be great help to display the  "End Tour" option on the

[2021-03-26 10:18] Rishabh-Rathod commented on #1284
@Nikhil-Nandagopal Is someone working on this? i would like to give it a try.

[2021-03-26 10:18] prapullac opened #3715 "[Bug] Table : The header of the table does not align with the data alignment set in property pane"
Steps to reproduce:
1) Add a table
2) Bind a query to table (Considering the query since we get large data and it is easy for observation)
3) Now click on the Property Pane
4) Now scroll down to Font Style,Text Align,Vertical Alignment
and any changes done with these is not displayed to the header of the table

Observation:
It is observed that the any changes done with these is not displayed to th

[2021-03-26 10:22] Nikhil-Nandagopal commented on #3705
@hetunandu debugger will be out next week so you can actually do this

[2021-03-26 11:24] naveennazimudeen commented on #3499
@riodeuno @Nikhil-Nandagopal The changes seemed to have fixed the problem. It looked fine when I tested yesterday, but want to run more scenarios, and will have another update in 24 hours to confirm.

[2021-03-26 11:51] prapullac opened #3719 "[Bug] Edit mode : Tabs Widget: Default tab is not displayed to user after unhiding"
Steps to reproduce
1) Add a tab widget
2) Click on property Pane
3) Select a Default Tab
4) Hide the default tab
and observe next tab to be default
5) Un hide the  tab
and now observe

Observation:
It is observed that the after unhiding the default tab the user is not lead back to the default tab

Expectation:
After unhiding the default tab the user must be navigated to default tab on Edit mode

[2021-03-26 12:08] prapullac opened #3720 "[Bug] On trying to re locate the table widget the entire table shadow is not displayed to user"
Steps to reproduce:
1) Add a table
2) Trying to re locate
and observe

Observation:
It is observation that only lines are displayed to user

Expectation:
It is expected the entire shadow of table is displayed to user

Video :
https://www.loom.com/share/07f4bc3e8fc744399d982ee53161eb57

![Screenshot 2021-03-26 at 4 02 11 PM](https://user-images.githubusercontent.com/71753653/112629181-f941ba80-8e59

[2021-03-26 12:43] sumitsum commented on #552
Closed in https://github.com/appsmithorg/appsmith/pull/3611

[2021-03-26 12:52] akshayrangasaid commented on #1284
Hi @Rishabh-Rathod

This is an open example, please feel free to work on it. Please share specifications, and we can get started on this.

Akshay

[2021-03-26 12:52] rishabhsaxena opened #3722 "[Bug] Fork and edit buttons can both appear simultaneously"
## Description
Fork and edit buttons can both appear simultaneously

## Steps to reproduce:
[TODO]

<img width="368" alt="Screen Shot 2021-03-23 at 11 47 27 PM" src="https://user-images.githubusercontent.com/1944800/112634156-3dd05480-8e60-11eb-9e10-02a2d0475ef6.png">

[2021-03-26 13:26] Nikhil-Nandagopal opened #3724 "[Bug] API execution does not work with AWS S3 signed URLs"
## Description

A user is having trouble retrieving file data from an S3 signed URL. The simple GET request seems to work on postman but fails on appsmith with the following Error

[code]

[2021-03-26 14:09] sumitsum opened #3725 "[Bug] change message to include a fix for localhost url"
## Description
Change msg to something like:
You may not able to access your localhost if Appsmith is running inside a docker container or on the cloud. In order to access localhost, you may use ngrok to expose your local endpoint to the internet. Please check out Appsmith's documentation to understand more.

Context:
Please checkout discussion here:
https://github.com/appsmithorg/appsmith/pull/36

[2021-03-26 14:17] somangshu opened #3726 "[Docs] Update information on firestore database URL"
https://docs.appsmith.com/datasource-reference/querying-firestore#fetching-database-url

As mentioned in the docs the Database URL is not present in the code snippet anymore

The Database URL need to be formed using the project settings > firebase project ID in the following manner

`your-project-id.firebaseio.com`

[2021-03-26 14:36] prapullac opened #3727 "[Bug] User is unable to edit the Tabs name of the tabs widget"
Steps to reproduce:
1) Add a Tab widget
2) Ensure default Tabs are available
3) Now click on Tab 1
4) Try to edit the name of the tab
and observe

Observation:
by clicking on the tab 1 trying to change the tab name the  widget itself gets deleted

Expectation:
User must be able to edit the name of the Tab of tab widget

Video:
https://www.loom.com/share/48b14ba560f44e199df74f114a1f641f

[2021-03-26 16:04] #3704 closed

[2021-03-26 16:20] nidhi-nair commented on #3704
@mosinuga We have raised the default value of the maximum payload size that our server accepts to 100MB. This change will be part of the next release. You will also have the option to configure this default via an environment variable `APPSMITH_CODEC_SIZE` using the instructions given [here](https://docs.appsmith.com/v/v1.2.1/setup/docker#enabling-services-for-self-hosting).

[2021-03-26 16:23] mosinuga commented on #3704
Thank you for your quick response. Very appreciated. Btw, is this streaming now or still buffering in memory?

[2021-03-26 16:24] nidhi-nair commented on #3704
For now, this change only increase the in-memory limit. We will be shipping a more comprehensive solution to stream request payloads soon. :)

[2021-03-26 16:26] mosinuga commented on #3704
Great - thank you.

[2021-03-26 16:34] ashrafaa commented on #3443
Nice one @hetunandu 👍  I'm looking forward for the release 😄

[2021-03-26 16:44] somangshu commented on #3712
As an alternative the user can also use a new input widget property say `label=string`, When this property is used a label is displayed with the input.

[2021-03-26 20:09] areyabhishek commented on #3712
Yes that could work if the user has control over the look and feel of the text. Like alignment options, text size, etc

[2021-03-27 03:58] naveennazimudeen commented on #3499
It looks fine. I didn't see the issue today. Thanks for fixing it!

[2021-03-27 14:14] sumitsum commented on #2295
Reopening this issue to track client side changes.

[2021-03-27 14:18] sumitsum commented on #2295
Had re-opened this issue by mistake. Closing it now.

[2021-03-27 14:18] #2295 closed

[2021-03-27 14:19] sumitsum commented on #1438
reopening to track client side changes. Server side changes had been merged with the linked PR.

[2021-03-27 14:20] sumitsum commented on #552
Re-opening to track client side changes. Server side changes had been merged with the linked PR.

[2021-03-27 17:52] tazmaniax commented on #3475
Also I think to able to store a Timestamp value it's necessary to use the [Firestore API](https://firebase.google.com/docs/reference/js/firebase.firestore.Timestamp#constructors_1), e.g `new admin.firestore.Timestamp(seconds, nanoseconds)`. Would this be supported in #3693 ?

[2021-03-28 08:31] srijanshetty commented on #3696
I lost data again today. This time with the dynamic visible option. Just toggling JS on off deletes and wipes off all data. @Nikhil-Nandagopal

[2021-03-28 10:37] pranavkanade opened #3730 "[Bug] Abnormal UX when trying to reposition/edit a widget"
## Description
1. When hovering over `widget label + gear icon` the cursor stays `grab` rather than `pointer`, which doesn't give out a sense that it is clickable.
2. Even when the cursor is visually out of a widget it stays `grab` and allows widget repositioning.

### Steps to reproduce the behaviour:
1. Try editing / repositioning any existing/new widget.

https://user-images.githubusercontent.c

[2021-03-29 05:44] Nikhil-Nandagopal commented on #3722
@rishabhsaxena can we merge this?

[2021-03-29 05:49] Nikhil-Nandagopal commented on #3726
@vihar can you please update this

[2021-03-29 05:50] Nikhil-Nandagopal commented on #3499
Awesome! I'm closing this issue

[2021-03-29 05:50] #3499 closed

[2021-03-29 05:54] Nikhil-Nandagopal commented on #3730
@pskanade thanks for opening this issue! We appreciate the time you took to give us this feedback. We'll work on improving the D&D experience

[2021-03-29 06:07] Nikhil-Nandagopal commented on #3551
@kaushik94 @rishabhsaxena closing this as it's not crashing. I think this happens for onboarding

[2021-03-29 06:19] sharat87 opened #3733 "[Bug] Firestore where condition values are always treated as strings"
The "Where condition value" for Firestore actions, when getting multiple documents from a collection, only supports string values. If we set it to filter for `GT 5`, it should be setting the value `5` as a number, instead it does this as the string `"5"`, which results in Firestore not returning any results.

[2021-03-29 06:20] aswathkk commented on #3730
Looks like this issue is happening only on Firefox.
The CSS property `cursor: grab` is only working on Firefox and not in Chromium-based browsers in my test. This might be the primary reason for the issue I guess.

FYI: I was testing in a Ubuntu machine.

[2021-03-29 07:05] prapullac opened #3735 "[Bug]Tabs : Default tab is not getting identified in the Tab after renaming the Tab"
Steps to reproduce:
1) Add a Tab widget
2) Rename a Tab
3) Add renamed Tab as Default tab
and observe

Observation:
It is observed that the Default tab is selected in edit mode and deploy mode

Expectation:
It is expected to identify the default mode

![Screenshot 2021-03-29 at 12 24 59 PM](https://user-images.githubusercontent.com/71753653/112798832-190bf500-908b-11eb-8877-9880d159721f.png)
![Scr

[2021-03-29 07:14] #3443 closed

[2021-03-29 09:56] mosinuga commented on #3704
Is this feature going to be in 1.4.5? When is it scheduled to be released?

[2021-03-29 09:58] #2104 closed

[2021-03-29 09:58] #2187 closed

[2021-03-29 09:58] #2569 closed

[2021-03-29 09:58] #2783 closed

[2021-03-29 09:58] #2914 closed

[2021-03-29 09:58] #3029 closed

[2021-03-29 09:58] #3072 closed

[2021-03-29 09:58] #3244 closed

[2021-03-29 09:58] #3290 closed

[2021-03-29 09:58] #3390 closed

[2021-03-29 09:58] #3508 closed

[2021-03-29 09:58] #3560 closed

[2021-03-29 10:00] marks0351 commented on #1420
The enhancement looks to have been implemented already. @Debsourabh can u pls confirm?

[2021-03-29 10:10] Nikhil-Nandagopal commented on #1420
This can be closed

[2021-03-29 10:10] #1420 closed

[2021-03-29 10:44] Nikhil-Nandagopal commented on #1236
Adding more feedback
- [ ] The logs should auto-scroll to the latest log entry
- [ ] The query pane is missing the debugger
- [ ] API errors should be in red
- [ ] The entity name should be in the filter when the debugger is opened from the entity
- [ ] The debugger should be triggerable from the property pane error message
- [ ] The API URL and other information are missing from the API execution

[2021-03-29 11:13] #3724 closed

[2021-03-29 11:40] sumitsum opened #3741 "[Feature] Firestore support for firebase.firestore.Timestamp() and firebase.firestore.GeoPoint() APIs."
## Summary
Requested by communtity:

[code]

Note: It is different from FieldValue.serverTimestamp()

## Additional Context
Requested on PR https://github.com/appsmithorg/appsmith/issues/3475

[2021-03-29 11:43] sumitsum commented on #3475
Hi @tazmaniax , thanks for bringing this to our attention. As per the current plan, the scope of the PR  #3693 is to provide FieldValue.delete() and FieldValue.serverTimestamp() support. I have raise another Github issue to track `firebase.firestore.Timestamp` and `firebase.firestore.GeoPoint APIs` : https://github.com/appsmithorg/appsmith/issues/3741

[2021-03-29 11:49] Nikhil-Nandagopal opened #3742 "[Bug] Omnibar Issues"
## Description

1. The documentation in the API / Query panes do not open the omnibar
2. Clicking the help icon in the property pane does not fire an omnibar open event
3. The omnibar recent items are not getting cleared on navigating to a new app
4. The omnibar could be enhanced a little with a hover interaction
5. The cheat sheet should be linked from the entity documentation

[2021-03-29 12:31] somangshu commented on #3358
Should this instead be a document viewer? Basically the ability to handle more file formats (at-least the most common once)

[2021-03-29 12:34] Nikhil-Nandagopal opened #3743 "[Bug] Table column properties are broken"
https://user-images.githubusercontent.com/3897254/112837136-23dd7e80-90b9-11eb-8d91-93df51a5e825.mov

[2021-03-29 12:36] Nikhil-Nandagopal commented on #3552
Related to #3743

[2021-03-29 12:50] tazmaniax commented on #3475
@sumitsum thx!

[2021-03-29 12:50] areyabhishek opened #3744 "[Bug]-[8000]:Table widget should not show scroll bars when it's not focused or being hovered on"
Today the table widget shows scroll bars even when we don't hover over it. Hovering or interacting with the table widget should reveal the scroll bars.

<img width="416" alt="Screen Shot 2021-03-29 at 6 17 35 PM" src="https://user-images.githubusercontent.com/30255708/112838880-2d67e600-90bb-11eb-8cd8-9d4fceffe15c.png">

[2021-03-29 12:52] areyabhishek opened #3745 "[Bug] Disable pagination controls when there are no pages"
1. Today the table widget always shows pagination controls even when there are no pages to navigate to.
2. The pagination controls need to be disabled.

[2021-03-29 13:07] sentry-io[bot] opened #3746 "AppsmithException: "widgetType" : "IMAGE_WIDGET", "bindingPath" : "maxZoomLevel", "message" : "Binding path in t..."
Sentry Issue: [APPSMITH-KR](https://sentry.io/organizations/appsmith/issues/2253748712/?referrer=github_integration)

[code]

[2021-03-29 13:09] hetunandu commented on #3746
Saw ImageWidget pass wrong dynamicBindingPathList for "maxZoomLevel"

[2021-03-29 13:58] mosinuga commented on #3713
We seem to be experiencing this problem as well. It seems to be erratic. If the user is changed to admin and then changed back to viewer, it seems to be working as expected.
Is there any fix that is being looked at?

[2021-03-29 14:17] mohanarpit commented on #3713
Yes, we are working on triaging the issue on high priority. Thanks for the data point around changing roles which causes the applications to show up. Will be helpful for us to zero in on the problem.

[2021-03-29 15:36] nidhi-nair commented on #3704
Hey @mosinuga! This change is a part of [v1.4.5](https://github.com/appsmithorg/appsmith/releases/tag/v1.4.5). We just released it today, you should be able to use requests with larger request or response sizes after this update.

[2021-03-29 15:53] mosinuga commented on #3704
Thank you - I have been able to pull the new image.

[2021-03-29 16:00] ashrafaa commented on #3443
@hetunandu has this fix been included in release 1.4.5?

[2021-03-29 16:02] hetunandu commented on #3443
Hey @ashrafaa, yes, it is included in the release. Is it not working for you?

[2021-03-29 16:04] ashrafaa commented on #3443
ok cool I have not yet updated to latest; just reviewed the release note and could not find reference to this ticket. Thanks @hetunandu

[2021-03-29 16:08] hetunandu commented on #3443
Oops. Sorry, it looks like we missed out on mentioning this issue. Your on-prem installation must have auto-updated. Can you confirm if it is working for you?

[2021-03-29 16:56] riodeuno opened #3750 "[Bug] False positive for entity name during evaluations"
## Description

When we have a property `Table1.selectedRow.X` and there is another entity named `X`, if we try to bind any of `X`'s properties with `{{Table1.selectedRow.X}}` it results in a cyclic dependency.

### Steps to reproduce the behaviour:

1. Add a Table
2. Add an input widget called `userName`
3. Bind the default text for the input widget to `{{Table1.selectedRow.userName}}`
4. See err

[2021-03-29 17:01] riodeuno opened #3751 "[Bug][Performance] Action Execution delay"
## Description

The delay between loading the page and calling an execute on an action which is set to execute on page load.
We noticed that although the XHR requests for the pages and layout returned, the subsequent call to execute was delayed by ~20 seconds.

### Important Details
Release 1.4.5

[2021-03-29 18:16] riodeuno opened #3752 "[Feature] Datepicker default date validation"
## Summary
During datepicker's default date string validation, we should try to generate the ISO string automatically. This will prevent the need to migrate all datepicker defaultDates to ISO string manually.

## Motivation

We need ISO strings for accurate date formatting. However, users have been using date strings other than ISO string so far. It is cumbersome to manually migrate the applicatio

[2021-03-29 21:33] riodeuno opened #3754 "[Bug] Table primary columns incorrect index"
## Description

Viewing column properties after specific steps leads to incorrect column properties showing in the property pane panel; in some cases, it causes a crash.

### Steps to reproduce the behaviour:
1. Hide a column in the middle of the list of columns
2. Drag a column over the hidden column and place it before or after the hidden column
3. Try to open a column's properties in the proper

[2021-03-30 00:47] naveennazimudeen commented on #2504
It will be great if this can be combined with #2576 to show related information below. Tables have relationship, sometimes expressed in database as foreign keys, sometimes relationship exist but is not defined. For example Invoices have a 1:n relationship with line-items, line-items might have 1:1 relationship to product,

So when defining an invoice page (View Page), it should be possible to see

[2021-03-30 03:59] nidhi-nair commented on #3589
Dropping a few notes from @aakashDesign here:

- [ ] The google sheet icon on New API page isn't the right size, and a little skewed. We can try 48x48px
- [ ] Can we jump to new datasource form if there are no gsheet datasources.
- [ ] Hide api button and reauthorise button design.
- [x] We should select read/write by default here.
<img width="1430" alt="Screenshot 2021-03-26 at 4 12 56 PM" src="h

[2021-03-30 04:43] jsartisan opened #3756 "[Bug] Weird state on Canvas"
Found this weird for a user when checking smartlook

![Screenshot_1](https://user-images.githubusercontent.com/6636360/112934958-6eeea480-9140-11eb-9769-2a87d6d4ab3c.png)

[2021-03-30 05:29] #3279 closed

[2021-03-30 05:50] #3672 closed

[2021-03-30 05:50] #3673 closed

[2021-03-30 06:20] hetunandu opened #3759 "Introduce different evaluation substitution types"
Today we only substitute bindings within a string/JSON via template substitution. We should introduce different substitution types in evaluation to handle scenarios in the API and query pane

- Template substitution: for the final output being templated string with binding evaluations
- Parameter substitution: for the final output be a parameterised string with `$1`, `$2` like prepared statements

[2021-03-30 06:21] somangshu commented on #2576
An existing example to this could be [Django Admin Panels](https://docs.djangoproject.com/en/3.1/ref/contrib/admin/). This refers to the meta information of the DB models and create basic operations on the models really easy.

[2021-03-30 06:48] Nikhil-Nandagopal commented on #3358
@somangshu any good library you've found that works? As much as possible early on we should rely on react libraries already built!

[2021-03-30 07:28] prapullac opened #3760 "[Bug] Date Picker : The header of the calendar is truncated"
Steps to reproduce:
1) Add a date picker
2) Click on Property pane
3) Navigate to Min date
4) Click on the Field
and observe the calendar

Observation:
It is observed that the header of the calendar is truncated where user can not navigate to Months and year

Expectation:
It is expected that the header of the calendar must be visible to user where he can
![Screenshot 2021-03-30 at 12 43 23 PM](htt

[2021-03-30 07:33] prapullac commented on #1604
Closing the issue as per above comment

[2021-03-30 08:03] prapullac opened #3762 "[Bug] Table Row show/Hide : The eye icon does not update onClick based on show/hide value"
Steps to reproduce:
1) Add a Table
2) Click on Property Pane
3) Bind the Table to API/ Query
4) Now Hide an column
5) Move the same column downwards
6) Unhide the column
and observe the column hide icon

Observation:
The column hide icon stay in the same state until moved to the original position

Expectation:
Irrespective of the placement of the column the functionality must be functional

Video:

[2021-03-30 08:16] prapullac opened #3763 "[Bug] Modal : the tool tip is flickering in property pane for the Cross Icon (X)"
Steps to reproduce:
1) Add a Modal
2) Navigate to Cross icon (X) on the modal
3) Focus on Copy /delete icon
and observe the Tool tip

Observation:
It is observed that the Toll tip keeps flickering when the user has focused on the icon

Expectation:
Tool tip must be constant like other widgets tool tip

![Screenshot 2021-03-30 at 1 39 26 PM](https://user-images.githubusercontent.com/71753653/112956

[2021-03-30 08:56] Nikhil-Nandagopal commented on #3751
@hetunandu could be because large eval time is stalling it? This is on Srijan's app so we can get access to it

[2021-03-30 08:59] hetunandu commented on #3751
That could be the reason because we always eval once before executing any onLoad actions. Access to the logs/app would help me identify the cause correctly

[2021-03-30 09:02] #3752 closed

[2021-03-30 09:27] somangshu commented on #3358
@nikhil Sure, I am aware of a couple of libraries

- native js: https://viewerjs.org/ - capable of reading ODT and PDF's (the library is open source)
- React js:
    - https://github.com/Alcumus/react-doc-viewer - Lightweight, New, Smaller community, Active
    - https://github.com/plangrid/react-file-viewer - Large Community, Active, Heavier compared to the above.

Relying on the client side libr

[2021-03-30 09:33] #3107 closed

[2021-03-30 10:05] bernardworthy commented on #3704
Hi there. I'm still seeing this Error Message on GET requests for response data that is larger than 10MB. Perhaps this Stack Overflow Answer is the trick? https://stackoverflow.com/a/59392022/4151472

[2021-03-30 10:07] mosinuga commented on #3704
@bernardworthy Have you pulled the latest image (1.4.5)?

[2021-03-30 10:10] prapullac opened #3767 "[Bug] Client side validation must be done on Duplicate key error"
Steps to reproduce:
1) Add an application
2) Add the same name as existing application name
and observe the error message

Observation:
Server message is displayed to user

Expectation:
Error message must be displayed from the client

![Screenshot 2021-03-30 at 3 38 17 PM](https://user-images.githubusercontent.com/71753653/112972616-10d8b600-916e-11eb-9c20-603740de48fb.png)

[2021-03-30 10:23] nidhi-nair commented on #3704
@bernardworthy Apart from what @mosinuga mentioned, could you give me details of your installation? You might need a manual restart of the server image if this is on docker.

[2021-03-30 10:29] Nikhil-Nandagopal opened #3768 "[Bug] Test issue"
Here's a test issue

[2021-03-30 10:29] #3768 closed

[2021-03-30 10:30] hetunandu commented on #1371
@prapullac please confirm this again

[2021-03-30 10:38] prapullac commented on #1371
@hetunandu : This is working as expected we can close the issue

[2021-03-30 10:52] #1371 closed

[2021-03-30 10:57] prapullac commented on #2486
As said in above comment closing the issue

[2021-03-30 11:05] mosinuga commented on #3704
There are two things we have observed with v1.4.5:

1. It is backward incompatible: having rolled to v1.4.5, going back to v1.4.3 broke our application.
2. More importantly, v1.4.5 is significantly slower.
Can these be further investigated?

[2021-03-30 11:07] bernardworthy commented on #3704
@mosinuga @nidhi-nair I'm just using the Appsmith hosted version and attempting to perform a GET request on a JSON file url that is larger than 10MB.

[2021-03-30 11:10] mosinuga commented on #3704
Okay - has the hosted version been updated to v1.4.5 @nidhi-nair?

[2021-03-30 11:11] mosinuga commented on #3704
Mine actually shows 1.4.5 - so @nidhi-nair should be able to help you out.

[2021-03-30 11:13] riodeuno commented on #3696
@Nikhil-Nandagopal @srijanshetty As an immediate fix for this critical issue, we'll be adding a panel mechanism ( like the table widget's columns property) which disallows JS binding in the tabs, however, allows users to use JS for the `isVisible` property of the individual tabs within the panel.

[2021-03-30 11:13] mosinuga commented on #3704
![image](https://user-images.githubusercontent.com/43381160/112980064-4ae78f00-9151-11eb-9bc7-964ee460d3d6.png)
@bernardworthy It says hosted version will continue with a limit of 10mb

[2021-03-30 11:14] nidhi-nair commented on #3704
@mosinuga Could you please let me know what parts of the application have slowed down/broken for you?

@bernardworthy The cloud hosted version for Appsmith continues to have the 10MB limit, since we see a lot of traffic on the cloud. We'll be able to support a larger file size once we introduce streaming.

[2021-03-30 11:15] sumitsum opened #3770 "[Feature] Firestore: support to add / delete elements inside array"
## Summary
Elements inside of a Firestore array can only be modified via `FieldValue.arrayUnion() `and `FieldValue.arrayRemove().`
https://firebase.google.com/docs/reference/android/com/google/firebase/firestore/FieldValue#arrayRemove(java.lang.Object...)

[2021-03-30 11:15] prapullac opened #3771 "[Bug] Enhancement : "New Modal " must be in different font and with add icon"
Steps to reproduce:
1) Add a widget
2) Click on Property pane
3) Navigate to actions
4) Add open Modal as action
and observe that dropdown

Observation:
It is observed that the dropdown has a option "New Modal" and does not look like it can be used to add a modal it simple looks like a label

Expectation:
Adding an "Add icon would help user to identify that clicking on the "New Modal" option user

[2021-03-30 11:16] bernardworthy commented on #3704
Understood. Thanks @nidhi-nair @mosinuga!

[2021-03-30 11:20] mosinuga commented on #3704
@nidhi-nair The entire application has slowed down. I noticed that it seems to be doing so many analytics...
[appsmith.zip](https://github.com/appsmithorg/appsmith/files/6228580/appsmith.zip)

[2021-03-30 11:35] #3713 closed

[2021-03-30 11:36] nidhi-nair commented on #3704
@mosinuga From a preliminary look at some of your network activity, I see that a major chunk of this time is spent waiting, especially for actions. It is possible that these actions are actually dealing with huge file sizes and hence slowing the application down.

The following request, for example, should shed some light on the cause:
`https://appsmith.test.apps.wsp-lattice.io/api/v1/actions/view

[2021-03-30 11:42] mosinuga commented on #3704
I'll check - why we thought it must be due to the upgrade was the fact that the speed was fine until yesterday when we upgraded to v1.4.5. And this is not only when payload is involved - just clicking through the application in general has slowed down. Have you noticed any difference in speed on your side?

[2021-03-30 11:46] nidhi-nair opened #3772 "[Bug] Performance degradation in table onRowSelected trigger"
A user has reported huge delays for the entire application after using v1.4.5. File attached here shows network activity for their self-hosted instance.

[appsmith.zip](https://github.com/appsmithorg/appsmith/files/6228652/appsmith.zip)

[2021-03-30 11:48] nidhi-nair commented on #3704
@mosinuga We have had one team member experience issues with the API pane editor recently, and are currently investigating the same. I have opened another issue (https://github.com/appsmithorg/appsmith/issues/3772) to track this degradation, let's move over to that thread with your findings.

[2021-03-30 11:49] #3475 closed

[2021-03-30 11:49] prapullac opened #3773 "[Bug] Action Dropdown of widget open inappropriately when on the right most corner"
Steps to reproduce:
1) Add a widget
2) Ensure the property pane is on topmost
3) Contract the general section
4) click on the actions dropdown
and observe

Observation:
It is observed that user is unable to view the entire action dropdown when the property pane is placed in the topmost corner

Expectation:
The user must be able to view the entire actions dropdown irrespective of the placement

![S

[2021-03-30 11:51] mosinuga commented on #3704
Yes, that's a good idea to track it in #3772. It seems to be a request made to load the current app, which is what significantly takes longer now. Once the first page of the app is loaded, everything seems normal like before

[2021-03-30 12:17] prapullac opened #3774 "[Bug] Tab Widget: Hide icon is not functional"
Similar to Table issue:
Steps to reproduce:
1) Add a tab widget
2) Add  multiple Tab
3) Click on Hide icon
and observe

Observation:
Tabs will be hidden but icon does not display the same
Expectation:
when the tab is hidden the tab hide icon must be displayed appropriately to user

[2021-03-30 12:57] hetunandu commented on #3772
Need to improve our performance tracking since we are not able to compare this with any benchmarks currently

[2021-03-30 13:32] sumitsum opened #3776 "[Bug] S3: test datasource should return pass on permission error."
## Description
Currently, on bucket access permission error, s3 test datasource returns failure, it should return success as the datasource connection is valid.

24 May 2023:
Another case got reported recently: https://theappsmith.slack.com/archives/C0341RERY4R/p1684787842120239

[2021-03-30 13:36] sumitsum opened #3777 "[Bug] Firestore plugin returns null on failure instead of a useful error message."
## Description
Firestore plugin returns null on query failure because doing error.getMessage() on firestore query errors returns null. Need a way to show useful message to the user.

[2021-03-30 13:44] sumitsum opened #3778 "[Bug] Placeholder text gets mangled on button click in the edit box."
## Description
Placeholder text gets mangled on button click in the edit box.

Before:
![Screenshot 2021-03-30 at 7 10 24 PM](https://user-images.githubusercontent.com/1757421/112998796-03322900-918c-11eb-85b2-81096f21fe2e.png)

After:
![Screenshot 2021-03-30 at 7 11 06 PM](https://user-images.githubusercontent.com/1757421/112998837-0b8a6400-918c-11eb-996e-65baab8c63f7.png)

[2021-03-30 13:44] hetunandu commented on #3772
@mosinuga Can you give us more insight on this [comment](https://github.com/appsmithorg/appsmith/issues/3704#issuecomment-810157824)?

Does updating widgets/actions also feel slow or is it just the first load?

[2021-03-30 13:50] sumitsum opened #3779 "[Feature] Need a framework to add sub text to label via editor.json / form.json"
## Summary
Need support in editor.json / form.json to add sub-text like here (the Hint text):
![Screenshot 2021-03-30 at 7 16 18 PM](https://user-images.githubusercontent.com/1757421/112999576-b1d66980-918c-11eb-9274-831f7af3512a.png)

It can be used to provide useful info about how to use a query / datasource form field.

[2021-03-30 13:58] sumitsum commented on #2373
As per my investigation, action is not updated in the db with the header key value pairs when the API datasource is saved with header info. Removing the front-end tag.

[2021-03-30 13:59] Nikhil-Nandagopal commented on #2373
@sumitsum if that is the case why does refreshing the page work?

[2021-03-30 14:04] KishkinJ10 commented on #3726
I am a beginner can i work on this?? can you guide me how should i start?

[2021-03-30 14:05] KishkinJ10 commented on #3321
I am a beginner can i work on this?

[2021-03-30 14:08] sumitsum commented on #2373
@Nikhil-Nandagopal it didn't work for me. Please check the video and see if I am looking at the right problem:

https://user-images.githubusercontent.com/1757421/113002469-6d989880-918f-11eb-876c-0b113b4ae69b.mov

[2021-03-30 14:34] Nikhil-Nandagopal commented on #2373
@sumitsum there is no binding in your header as mentioned in the steps

[2021-03-30 14:41] sumitsum commented on #2373
@Nikhil-Nandagopal is the API header only supposed to be updated if the value comes from a binding and not other wise ?

[2021-03-30 14:54] sumitsum commented on #2373
@Nikhil-Nandagopal I have tried to used a binding in the header here. I am not able to see the headers getting updated. Please check if I this steps look ok:

https://user-images.githubusercontent.com/1757421/113009823-eef32980-9195-11eb-93f5-12fafe0c2d36.mov

[2021-03-30 15:21] sharat87 opened #3784 "[Bug] Editing the date/time in the datetime widget doesn't apply changes"
The UI for the datetime widget allows users to edit and change the value by directly editing the widget's text, but on focus-lose, the widget reverts to showing the current datetime. This is counter to user's expectations where, if editing is at all allowed, the changes should be impactful. If that is not the case, editing the values in the widget directly shouldn't be allowed at all.

![](https:/

[2021-03-30 15:23] sharat87 opened #3785 "[Bug] User names in organization management page are stale"
Event when a user changes their name in the profile settings page, the user's display name in organizations they are invited to, shows the old name, before the change.

[2021-03-30 15:52] sharat87 opened #3786 "[Bug] Text Align option in column properties doesn't apply to header labels"
When setting a column's text align property to align right or center, the column header doesn't follow suit. This causes the column's header label and the actual row values look a bit disconnected. Please have the header labels also align in sync with this option.

Example:
![](https://cdn.discordapp.com/attachments/760761686549463060/826483469797949500/unknown.png)

[2021-03-30 16:04] nidhi-nair opened #3787 "[Bug] Google sheets action does not turn up on the lightning menu in property pane"
Since this plugin is of SaaS type, I am guessing it does not qualify in an API filter. We want to be treating Google sheets as an API for now.

[2021-03-30 16:20] mosinuga commented on #3772
My colleague thinks the problem may be due to this change, which has made it synchronous, which is also consistent to why we have errors popping up when quickly switching rows or moving to another interaction

We made the storeValue function calls synchronous. You can now access those values directly in any action runs just after creating/updating store values! (#3663)

[2021-03-30 21:04] areyabhishek commented on #3773
@prapullac This is one of those cases where a screenshot or a video would be very helpful. Could you please include a video in most issues? It'll save a ton of time.

[2021-03-31 04:44] prapullac commented on #3773
@areyabhishek : Sorry Abhishek I forgot to include. I have added the screenshot for the same

[2021-03-31 05:51] #3760 closed

[2021-03-31 05:51] #3763 closed

[2021-03-31 05:51] #3771 closed

[2021-03-31 06:21] prapullac opened #3792 "[Bug] Text widget : Same property pane will be opened when moved to next text widget"
Steps to reproduce:
1) Add multiple Text widget
2) Add colour and config to one of the Text widget(Text 1)
3) Focus on "Search for the widget "
4) Enter Keyword "Text"
5) Now click on first Text widget
Ensure the property pane opens
6) Now click on second Text widget on the entity explorer
and observe

Observation:
It is observed that Only name of the widget changes but the config remains of the f

[2021-03-31 06:50] riodeuno commented on #2472
@prapullac can you confirm if this issue exists?

[2021-03-31 06:54] prapullac commented on #2472
@riodeuno this is working as expected and hence we can close the issue

[2021-03-31 06:54] #2472 closed

[2021-03-31 07:11] Nikhil-Nandagopal commented on #3726
Hi @KishkinJ10 you can work on this. This is the guide for updating our documentation.
https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md

[2021-03-31 07:20] hetunandu commented on #3772
Hi @mosinuga, that is a valuable insight! Can you share the binding you have with store value in table row change which has the storeValue function call? Also please share the errors you mention here

[2021-03-31 07:28] riodeuno commented on #1426
Undo Redo Product Note:

Scope Phase I:
- [ ] Undo - Redo implementation works in the context of the DSL, which is the Canvas.

Scenarios:
- [ ] Undo and Redo will technically walk through DSL updates. So if anything in the DSL updates, it can be undone and redone.
- [ ] Undo drop widget should remove widget
- [ ] Undo after widget property change should undo the property change
- [ ] User updates

[2021-03-31 08:02] riodeuno opened #3795 "Widget Issues High Priority"

[2021-03-31 08:15] riodeuno commented on #784
@prapullac When pie chart is selected add series button does not show up in the property pane as it is not needed. Please verify.

[2021-03-31 08:27] #2647 closed

[2021-03-31 08:50] marks0351 opened #3796 "[Epic] Widget Grouping: Phase - I"
Ability to select multiple widgets.
- [ ] Command-click, Ctrl-click on multiple widgets to select them.

Functions/Actions to allow selecting multiple widgets.

- [ ] Add actions to select multiple widgets.

Ability to unselect all selected widgets.

- [ ] Click outside of the selected widgets or on one of them to deselect all the selected widgets.

- [ ] Add Escape shortcut key to deselect all wi

[2021-03-31 08:55] marks0351 opened #3797 "Feature: Widget Grouping (POC)"
Whip out a crude POC to select multiple widgets via command + click or drag and select.
Perform actions to these widgets, start with deletion.

Ability to select multiple widgets.
- [ ] Command-click on multiple widgets to select them.
- [ ] Command-click on widget list in entity explorer to select multiple widgets.

[2021-03-31 09:03] marks0351 opened #3798 "[Feature] Actions for Widget grouping"
Functions/Actions to allow selecting/deselecting multiple widgets.

- [ ] Add actions to select multiple widgets.

Multi-select widgets only if they are siblings.

- [ ] Add checks to multi-select widgets only if they are siblings

[2021-03-31 09:06] marks0351 opened #3800 "[Feature] Context menu for multi-selected widgets"
Context menu with actions to delete the multi-selected widgets.

- [ ] Add context menu UI blocks when multiple widgets are selected to perform actions on these selected widgets.

[2021-03-31 09:09] marks0351 opened #3801 "[Feature] Keyboard Shortcuts for widget grouping"
Ability to unselect all selected widgets.

- [ ] Click outside of the selected widgets or on one of them to deselect all the selected widgets.

- [ ] Add Escape shortcut key to deselect all widgets.

- [ ] Add Ctrl + A to select all widgets on canvas

[2021-03-31 09:14] riodeuno opened #3802 "[Task] Widget Properties cleanup"
## Remove deprecated widget properties
- FilePicker - Uploaded File Url(s)

[2021-03-31 09:17] prapullac commented on #784
@riodeuno : "Add Series " option is not displayed to user when he is using Pie chart. Below is the screenshot to support

![Screenshot 2021-03-31 at 2 40 58 PM](https://user-images.githubusercontent.com/71753653/113121070-e2bbaa80-922f-11eb-8030-95c58b031559.png)

[2021-03-31 09:54] mosinuga commented on #3772
This is the errors for that quick switching of rows
<img width="1680" alt="Screenshot 2021-03-31 at 10 50 25" src="https://user-images.githubusercontent.com/43381160/113126341-7466f000-920f-11eb-9b9d-4a71244aab94.png">

[2021-03-31 10:17] hetunandu commented on #3772
Hey @mosinuga, thanks for this. Please share the binding you have set in your Table onRowSelected action as well so that I can get a complete picture

[2021-03-31 10:38] mosinuga commented on #3772
Does this help?
<img width="1680" alt="Screenshot 2021-03-31 at 11 37 30" src="https://user-images.githubusercontent.com/43381160/113131880-aa0ed780-9215-11eb-9483-928072139a7f.png">

[2021-03-31 10:39] #3193 closed

[2021-03-31 10:41] sentry opened #3803 "NullPointerException in AuthenticationService for OAuth2"
Sentry Issue: [APPSMITH-MW](https://sentry.io/organizations/appsmith/issues/2308084494/?referrer=github_integration)

[code]

[2021-03-31 11:45] prapullac opened #3805 "[Bug] Everytime a row is selected in a table the Property Pane opens"
Steps to reproduce:
1) Add a table
2) Close the property pane
3) Select the row
and observe

Observation:
It is observed that the table property pane opens every time the user selects a row

Expectation:
It is expected that the property pane must not be on selection of a row

Video:
https://www.loom.com/share/bc92e725fcea41d3ac30c61133a57dc1

[2021-03-31 11:58] marks0351 commented on #3805
@prapullac property pane is shown as soon as a widget is selected so in this case, it will show up. to not have it interfere with the interaction we can drag and move it away from the canvas.

[2021-03-31 12:05] prapullac commented on #3805
@marks0351 As per above comment closing the issue as it is part of the requirement

[2021-03-31 12:05] #3805 closed

[2021-03-31 12:16] #3666 closed

[2021-03-31 12:17] #2474 closed

[2021-03-31 12:27] hetunandu commented on #3772
@mosinuga, from what I see, this is happening because multiple storeValue calls are running in sync, which is causing the errors. Another question: Are these values you are storing being used in your dropdowns `RI_OPY`, `RI_CSY` `RI_STATUS`, `RI_Certainty` etc. or the last action `ILog_File_Intervention_Count.run()`

[2021-03-31 12:28] #1526 closed

[2021-03-31 12:28] #3621 closed

[2021-03-31 12:55] marks0351 commented on #3792
@prapullac looks like the branch that was tested was not harbouring the latest release version changes, it has been redeployed with the latest version. pls, verify.

[2021-03-31 13:02] prapullac commented on #3792
@marks0351 : Working as expected and hence we can close the issue

[2021-03-31 13:02] #3792 closed

[2021-03-31 13:41] mohanarpit commented on #945
Closing as duplicate of #1769

[2021-03-31 13:41] #945 closed

[2021-03-31 13:42] mohanarpit commented on #1769
Closing as duplicate of #1957

[2021-03-31 13:49] mohanarpit opened #3806 "[Feature] Add JS library to encode/decode JWT within Appsmith client"
## Summary

Being able to encode/decode JWT within an Appsmith application will be useful for a lot of users

## Motivation

At times, we want to send some JWT encoded information to backend APIs. Having a way to easily perform this encoding/decoding within Appsmith will make it easier for users to be able to do this.

[2021-03-31 13:49] mohanarpit commented on #3641
Closing in favor of #3806.

[2021-03-31 13:49] #3641 closed

[2021-03-31 13:56] Nikhil-Nandagopal commented on #1769
@mohanarpit re-opening because this issue is not related to splitting but more to the quotes around the binding. So this is more later to our substitution change

[2021-03-31 14:00] mohanarpit opened #3807 "DB Integration Improvements V2"

[2021-03-31 14:00] mohanarpit commented on #3779
@sumitsum Any particular place you thought this hint would be useful?

[2021-03-31 14:21] sumitsum commented on #3779
@mohanarpit I thought it could be used to add the following text as a sub not to Firestore's Timestamp field : "use dot(.) notation to reference nested key e.g. ["key1.key2"]"

[2021-03-31 14:23] Nikhil-Nandagopal commented on #3559
@nidhi-nair nice or the download action can take in a data type as either base64 or base64URI and prepend it based on this.

[2021-03-31 14:25] Nikhil-Nandagopal commented on #1426
@riodeuno will it work for
- Size / position changes
- Meta property updates

[2021-03-31 14:28] mohanarpit opened #3808 "Query Improvements"

[2021-03-31 14:39] aswathkk commented on #3321
@KishkinJ10 Sorry, I didn't see your comment. I'm already working on this and raised a PR.

[2021-03-31 15:03] mosinuga commented on #3772
@hetunandu Do you think reversion to asynchronous is an option? I have just been told that the app is unusable as it takes 30 seconds to load!

[2021-03-31 15:11] hetunandu commented on #3772
@mosinuga
I think this can be solved without storeValue. I can help you in writing this in an optimised way. Are you on our discord server? You can ping me there [at]hetu, or if you feel like, you can also email me at hetu[at]appsmith.com

[2021-03-31 15:23] KishkinJ10 commented on #3321
Ok sir no problem.

On Wed, 31 Mar 2021, 6:39 pm Aswath K, ***@***.***> wrote:

[2021-03-31 17:56] Rishabh-Rathod commented on #1284
@akshayrangasaid
I checked the CRM example shared in above link and [here](https://app.jetadmin.io/app/basic_crm/prod/page/custom-crm) is published version of that.

and also checked demo created by @chrdoud which is published [here](https://app.appsmith.com/applications/601b97269dd8c16154e139ac/pages/60245d5412ba0d29d3ec0ecb ).
It has features mentioned below
- customer details page
- deal detail

[2021-03-31 19:22] riodeuno opened #3811 "[Feature] Smart JSON substitution casting to null"
## Summary
`undefined` is considered incorrect in JSON, so we should have it automatically substituted to `null` during Smart JSON substitution

[2021-03-31 19:24] riodeuno opened #3812 "[Bug] Table Widget labels formatting inconsistency"
## Description

Table column labels when edited from the panels do not allow spaces, while they do in the primary columns control.

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Add a table
2. Open a column's properties
3. Rename the column in the panel title to "something with spaces"
4. See error

### Important Detail

[2021-03-31 19:45] riodeuno opened #3813 "[Docs] Ignoring parameters is not clearly described"
## Documentation Link

https://docs.appsmith.com/framework-reference/navigateto

## Describe the problem

`params` and `target` are both optional, but it isn't clearly defined how to ignore only the `params` argument and yet include the `target` argument

## Describe the improvement
If we only want to pass the first `pageNameOrUrl` argument, without passing the rest of the arguments, it should wor

[2021-03-31 19:46] rishabhsaxena commented on #3379
@monarch0111
Another approach could be using the formRef to trigger form submission, once the token has been fetched.
```<SpacedSubmitForm ref={formRef} method="POST" action={signupURL}>```

[code]

Additionally, would also need to update the token value in the submitted data. I guess that would involve mounting a hidden field and using the [change](https://redux-form.com/8.3.0/docs/api/props.md/#

[2021-03-31 19:59] areyabhishek opened #3814 "[Docs] Update table widget with new column properties"
## Describe the problem

The table widget needs documentation about column properties, and calculated values.

[2021-03-31 20:01] areyabhishek opened #3815 "[Docs] Custom chart option"
## Describe the problem
Describe how to use fusioncharts custom charts in the chart widget.
We also need to link to this page inside the property pane.

[2021-04-01 02:37] sentry-io[bot] opened #3816 "ArrayIndexOutOfBoundsException: Index 1 out of bounds for length 1"
Sentry Issue: [APPSMITH-MZ](https://sentry.io/organizations/appsmith/issues/2309078525/?referrer=github_integration)

[code]

[2021-04-01 04:25] nidhi-nair commented on #3816
Triggered this myself, related to and being fixed in #3803

[2021-04-01 05:11] #3803 closed, assigned to nidhi-nair

[2021-04-01 05:13] hetunandu commented on #3813
This will be fixed by #3132

[2021-04-01 05:13] #3813 closed

[2021-04-01 05:14] hetunandu commented on #3275
Duplicate of #3132

[2021-04-01 05:14] #3275 closed

[2021-04-01 05:22] nidhi-nair commented on #3559
What you suggested also seems like a good solve for this. @hetunandu is this doable?

[2021-04-01 05:25] hetunandu commented on #1769
This will be solved with #3759

[2021-04-01 05:25] #1769 closed

[2021-04-01 06:04] hetunandu commented on #3559
@Nikhil-Nandagopal @nidhi-nair is there a way to find the datatype just by seeing the base64 string?

[2021-04-01 06:07] nidhi-nair commented on #3559
Not a reliable one. So with Nikhil's solution, we'll need metadata, but also a way in the download function to add dataurl. The benefit of doing that is that we don't corrupt the action execution result itself.

[2021-04-01 06:12] hetunandu commented on #2373
@Nikhil-Nandagopal, I don't think we should support this feature any more in this state. From my understanding, the use case is for custom login, and we should find a better way to enable this instead of building more on top of this unofficial feature. My suggestion is that we either create a new UX flow to allow for custom logins or if we want to enable bindings in datasources, we do it with the

[2021-04-01 06:32] sharat87 commented on #924
I think we need two separate endpoints for this, one for folks to _leave_ an organization, without affecting anybody else's work and not deleting anything (besides permissions). Another one for actually deleting the organization. Anybody can leave an organization, but only admins can delete an organization.

[2021-04-01 06:33] Nikhil-Nandagopal commented on #2373
@hetunandu I believe this already works. The bug is that it only works after you refresh the page. So seems like a small fix isn't it?

[2021-04-01 06:35] Nikhil-Nandagopal commented on #3559
@hetunandu @nidhi-nair can we look at the mime type and if its base 64, check if it starts with "data: " if it does, then its a data URI otherwise prepend it?

[2021-04-01 06:36] sentry-io[bot] opened #3818 "[Bug] SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data"
Sentry Issue: [APPSMITH-N1](https://sentry.io/organizations/appsmith/issues/2309123198/?referrer=github_integration)

[code]

[2021-04-01 06:40] sentry-io[bot] opened #3819 "[Bug] TypeError: Object doesn't support property or method 'fromEntries'"
Sentry Issue: [APPSMITH-MX](https://sentry.io/organizations/appsmith/issues/2308184416/?referrer=github_integration)

[code]

[2021-04-01 06:41] Nikhil-Nandagopal commented on #3819
@hetunandu this is happening a lot now

[2021-04-01 06:41] nidhi-nair commented on #3177
@Nikhil-Nandagopal can we deprioritize this issue? Seems like a one off that we aren't solving for right now.

[2021-04-01 06:46] Nikhil-Nandagopal commented on #3177
Yeah lets close it till it pops up again

[2021-04-01 06:50] hetunandu commented on #3819
We have a polyfill fix for this in release now. Introduced with this PR: #3748

[2021-04-01 06:50] hetunandu commented on #3819
Duplicate of #3290

[2021-04-01 06:50] #3819 closed

[2021-04-01 07:09] hetunandu opened #3821 "[Bug] Query Params do not encoded when the datasource url is a binding"
## Description
Where there is a datasource binding, the client cannot split the URL correctly and sets everything in the datasource URL field. We should extract and split this out in the server and encode the API request's correct parts before executing.

### Steps to reproduce the behaviour:
1. Create an API
2. Add a binding in the datasource instead of a string like `https://example.com.`
3. Add

[2021-04-01 07:22] sharat87 opened #3822 "[Feature] Allow downloading data from a table as an Excel file"
The table widget today can already export data as a CSV file, but importing CSV files into Excel is a painful process. Setting the encoding and CSV formatting settings when importing is a fragile and error-prone process.

So, if the table widget can export an Excel file directly, it'd be a lot more convenient export format to work with.

[2021-04-01 07:23] trishaanand commented on #3574
This has been fixed and merged into master.

[2021-04-01 07:23] #3574 closed

[2021-04-01 07:26] prapullac opened #3823 "[Bug] Setting of the API pane is broken"
Steps to reproduce:
1) Navigate to API Pane
2) Add an API
3) Navigate to Setting
4) Refresh the page
5) Navigate to setting
and observe

Observation:
It is observed that the page is broken when navigated to API setting page

Expectation:
It is expected that page must be displayed to user with functionality

![Screenshot 2021-04-01 at 12 51 03 PM](https://user-images.githubusercontent.com/71753653/

[2021-04-01 07:28] riodeuno opened #3824 "[Epic] Canvas Grid UI"
Updates in the look and feel of the canvas grid.

[2021-04-01 07:31] hetunandu commented on #3823
Not able to reproduce. @prapullac did you create a new org where you saw this was happening? Can you also share the console errors

[2021-04-01 07:38] Nikhil-Nandagopal opened #3825 "[Bug] Canvas breaks for new users"
## Description

A few users on smartlook have a broken canvas that cannot be used
https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?filter=e072f0526cba4d894bf7765c0d2f52c94f3950db86a7c623e39fc359c88dc938&playSession=J9j2VR8AOkh&playVisitor=YsZlYJHwx-U

[2021-04-01 07:43] prapullac commented on #3823
Hi Hetu
it is in the old organisation only. Adding the video and console logs as well
Video :
https://www.loom.com/share/814a7a0e56564e25a3ba7f989dbbb34d

Screenshot:
![Uploading Screenshot 2021-04-01 at 1.11.49 PM.png…]()

[2021-04-01 08:11] riodeuno opened #3826 "[Bug] Child widget tooltips are hidden behind parents"
## Description

Widget name and other tooltips in a child widget get hidden behind the parent and do not overflow to be completely visible.

This needs a re structure of the stacking contexts of particular elements of child widgets to make them visible.

[2021-04-01 08:24] #3442 closed

[2021-04-01 08:30] #1810 closed

[2021-04-01 09:01] sharat87 opened #3827 "[Feature] A datasource for mock database should be created in the initial organization fora newly signed up user"

[2021-04-01 09:22] mohanarpit commented on #2373
Can I ask what's the use-case for supporting bindings in the datasource? A datasource is shared with all apps in an organization. Having bindings in the datasource can lead to subtle bugs/issues where users end up binding values that aren't available in other apps. That's why I'm asking what the use-case is here.

[2021-04-01 09:30] Nikhil-Nandagopal commented on #2373
@mohanarpit it's for sending the access token as Hetu mentioned.

[2021-04-01 09:37] mohanarpit commented on #2373
@hetunandu Is it possible for us to limit what we bind based on different scenarios? For example, in a datasource, a user can only bind `{{env.key}}` or `{{appsmith.store.key}}`?

[2021-04-01 10:05] hetunandu commented on #2373
Yes, we can limit the scope for datasources. We don't have any scope at the org level. `appsmith.store` is app-level. So including this datasource in another app will still confuse.

[2021-04-01 11:18] nidhi-nair opened #3830 "[Bug] REST API datasource using Google Sheets code"
The REST API datasource page is using the same end point for authorization as Google sheets.

ref: feature/google-sheets-plugin

[2021-04-01 11:28] sumitsum opened #3831 "[Feature] Provide doc url with error / hint messages."
## Summary
- Provide doc url with error / hint messages
  - Server should return doc URL with error / hint message.
  - client should provide a hyperlink or button that takes the user to the respective URL.

[2021-04-01 11:40] #3725 closed

[2021-04-01 13:10] prapullac opened #3833 "[Enhancement] On empty API field if user clicks on "Save As Datasource" info message must be displayed to user"
Steps to reproduce:
1) Click on "Add an API"
2) Now observe the "Save As Datasource" is Inactive
3) Click on  "Save As Datasource"
and observe

Observation:
It is observed that clicking on the  "Save As Datasource" does not do any action. User might take sometime to understand only after adding data into the API we can

Expectation:
When user tries to click on the "Save As Datasource" user must be

[2021-04-01 16:44] #3650 closed

[2021-04-01 17:43] avf opened #3835 "[Bug] Tabs widget broken on mobile/fluid width"
## Description

On a mobile device, the Tabs widget can't be switched, since the tabbar is missing. Also, the content inside the tabs is cut off.

### Steps to reproduce the behaviour:
1. Create a new project
2. Switch to Fluid Width
3. Drag a Tabs widget into the canvas (Optionally add a text widget to one of the tabs and enter some static text)
4. Deploy the page
5. Open on mobile (I tried iOS 1

[2021-04-01 17:44] riodeuno opened #3836 "[Bug] Filepicker widget: does not clear selected files"
## Description
After removing the file from the uploaded list, it still remains internally at the original index so multiple calls using `filepicker.files[0].data` uploads the same file even though we remove a file and add a new file in the widget.

### Steps to reproduce the behaviour:

1. Select a file in filepicker
2. Create an S3 create query which uploads the first file selected using `FilePi

[2021-04-01 18:08] areyabhishek opened #3838 "[Bug] Clicking a row in edit mode doesn't select a table widget"
1. Clicking a row in a table widget doesn't select it.
2. Clicking it only shows the table in a hover state
3. Thus you can't delete tables or open the property pane with a click

[2021-04-01 18:22] NandanAnantharamu opened #3840 "[Bug]Hidden page widgets are visible when published"
Steps:

1.Make sure you have multiple pages in entity explorer, i.e. page1,page2, and page3.
2.add different widgets to each page.
3.Make sure you click page3 and perform the "Hide" action
4.Now Deploy.

Expected:
1.Except Page3, all other Pages should be visible.

Actual:
1.Page3 widget is visible other pages are not seen

https://user-images.githubusercontent.com/67676905/113337166-09b7d080-9345

[2021-04-01 19:11] areyabhishek commented on #3835
@avf could you share a screenshot? I was unable to reproduce this. Thanks!

[2021-04-01 19:16] avf commented on #3835
Sure, here you go: ![image](https://user-images.githubusercontent.com/1930481/113342783-3234d000-932f-11eb-855c-19f46bd60c87.png)
- The string "Test" is cut off
- The Tabs widget is not full width
- The Tab bar is missing entirely

The URL to this App is [here](https://app.appsmith.com/applications/6065fe7f034ece74b148189c/pages/6065fe7f034ece74b148189e). It's extremely simple, I created it exactl

[2021-04-01 19:34] riodeuno commented on #3838
@vicky-primathon Let's remove the e.stopPropagation from the Table.tsx row select handler. This will make sure that the event propagates and lets the property pane open.

[2021-04-01 19:37] riodeuno commented on #3840
@NandanAnantharamu @jsartisan Let's fix this and add a cypress test for this scenario.

[2021-04-01 19:38] riodeuno opened #3841 "Responsive Widgets"

[2021-04-01 19:44] riodeuno commented on #3746
@hetunandu Can you provide specifics on what was passed?

[2021-04-01 19:48] riodeuno opened #3842 "Drag, Drop, Resize Issues"

[2021-04-01 20:00] riodeuno commented on #3613
- Update Form widget configs to use normal button widget
- Migrate DSLs to convert all "FORM_BUTTON_WIDGET" to be "BUTTON_WIDGET"
- Migrate all "FORM_BUTTON_WIDGETS" which have the reset action to use the `resetWidget` action instead
- Jest test for migrations
- Documentation update if needed.

[2021-04-01 20:02] riodeuno commented on #3668
This can be achieved using the new custom configs for charts.
https://www.fusioncharts.com/dev/common-use-cases/highlight-specific-data-points-on-chart

[2021-04-01 20:06] riodeuno commented on #3597
This can be achieved today using the custom charts config
https://www.fusioncharts.com/dev/chart-guide/chart-configurations/chart-limits

[2021-04-01 20:11] riodeuno commented on #773
We need a separate datepicker widget which uses and displays only dates.

[2021-04-01 20:13] areyabhishek commented on #3835
Thanks for the details! It's such a strange mobile safari bug.

[2021-04-01 20:18] riodeuno commented on #1579
This needs a new datepicker widget which allows only dates to be used and formatted.

[2021-04-02 01:57] NandanAnantharamu commented on #3840
@riodeuno cypress test is in place, I saw this bug while automating this use-case.

[2021-04-02 04:19] aswathkk commented on #2483
Hi,
I would like to work on this issue.

Should we show the last saved time for the initial render?

[2021-04-02 05:46] sentry-io[bot] opened #3843 "[Bug] TypeError: Cannot read property 'map' of undefined"
Sentry Issue: [APPSMITH-N5](https://sentry.io/organizations/appsmith/issues/2311808869/?referrer=github_integration)

[code]

[2021-04-02 05:50] Nikhil-Nandagopal commented on #1579
@riodeuno why does it require a new widget and not a property? Do we have a rule for widget vs property?

[2021-04-02 06:08] mohanarpit commented on #1579
Manipulating dates is complicated. I'd suggest that we have different widgets like DateTimePicker, TimePicker & DatePicker to denote different such combinations.

Also, we've seen this same scenario with other widgets. Complicating them with too many properties leads to bugs & lots of corner cases that wouldn't have arisen if they were separate widgets themselves.

Lastly, I think it makes it clea

[2021-04-02 06:56] Nikhil-Nandagopal commented on #1236
- [ ] API request does not match the format in the request tab
- [ ] Kill the request tab on the API
- [ ] Error tab is missing in the API pane
- [ ]  The copy icon can be replaced with a CTA to open the omnibar with the message pre-filled
- [ ] Clicking anywhere on the log should expand it
- [ ] The entity name should show at the right end of the log
- [ ] There should be an X to clear the filter

[2021-04-02 07:02] Nikhil-Nandagopal commented on #1579
@mohanarpit that sounds like a subjective rule. An objective rule would be like the underlying component is different so it should be different 2 different widgets or the underlying component is the same with different properties so it should be the same widget. Can we have a clear rule like this for deciding? On the internet is date time picker and date picker 2 different components in the majori

[2021-04-02 07:05] Nikhil-Nandagopal commented on #3831
@mohanarpit asking this again because we will pick this up in the debugger if it's not implemented somewhere. I do remember some discussion about giving CTAs in toasts and other error messages so asking

[2021-04-02 07:06] Nikhil-Nandagopal commented on #3840
@NandanAnantharamu this is not a bug but a slight UX mishap. When deploying you are on page 3 so it is showing only page 3 which is expected. Maybe the right solve here is to rename it from hidden to mark as internal page

[2021-04-02 07:19] somangshu opened #3844 "Markdown renderer widget"

[2021-04-02 07:19] somangshu opened #3845 "2047"

[2021-04-02 07:24] hetunandu commented on #2334
Fixed this by making the store value sync

[2021-04-02 07:24] #2334 closed

[2021-04-02 07:27] #3844 closed

[2021-04-02 07:28] #3845 closed

[2021-04-02 07:38] hetunandu opened #3846 "[Bug] Loading an action leads to an update which wipes out it's dynamicBindingPathList"
## Description
There are some unnecessary updates to action when we switch to its pane, removing the dynamicBindingPathList. This causes an issue in the evaluation of the action field.

### Steps to reproduce the behaviour:
1. Go to an API, add some bindings in the header
2. refresh the page
3. Focus on the header field
4. The value is not evaluated

[2021-04-02 07:45] riodeuno commented on #1610
Another scenario reported.

![cropped](https://user-images.githubusercontent.com/103687/113394147-5c30d580-93b5-11eb-951c-5c8bb2cb8476.png)

[2021-04-02 08:18] #3720 closed

[2021-04-02 08:51] hetunandu commented on #3746
@riodeuno The error has this value. It is under "dynamicBinding" For this particular case, value was: "0"

[2021-04-02 09:33] NandanAnantharamu commented on #3840
@Nikhil-Nandagopal when I am highlighting and deploying being on Page 3 it is not showing the other pages if you see, Page1 and Page2 tabs which also need to be taken care of.

[2021-04-02 09:37] Nikhil-Nandagopal commented on #3840
@NandanAnantharamu that's the expected case. The page is meant to be hidden from the navigation. So it cannot be seen from other pages and other pages cannot be seen from it

[2021-04-02 09:51] Nikhil-Nandagopal commented on #3840
@riodeuno @jsartisan maybe instead of hidden, we can change it to a page type and call it navigation page or internal page? How does react-router or any other navigation lib differentiate these types of pages?

[2021-04-02 12:50] somangshu opened #3850 "[Feature] Modal should have customizable sizes"
## Summary

As a user I should be able to customize the modal size by changing the size property from the property pane or dragging the borders within the canvas.

## Motivation

If a user wants to use the modal to show more information; ex comprising of tables, charts etc, he should be able to create a bigger modal viewport in order to create his own layout.

[2021-04-02 17:20] riodeuno opened #3851 "[Bug] Irrecoverable API"
## Description
The API pane shows the error page when trying to edit the API. This completely blocks the user from editing the API.

`{"responseMeta":{"status":200,"success":true},"data":{"statusCode":"4012","body":"GetWarehouseItems is not correctly configured. Please fix the following and then re-run: \n{Unable to find datasource 6038c64d7b83e5140be4ff99}","isExecutionSuccess":false}}
`

![API e

[2021-04-02 18:23] riodeuno commented on #3851
This error occurred when the user was trying to modify a copied API. The modified API works fine.

[2021-04-03 08:48] Nikhil-Nandagopal commented on #3851
@riodeuno any steps or URL to the app so we can debug how this happened?
@hetunandu @ApekshaBhosale looks like a serious problem with the API editor

[2021-04-03 08:50] sentry-io[bot] opened #3852 "[Bug] Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside ..."
Sentry Issue: [APPSMITH-NA](https://sentry.io/organizations/appsmith/issues/2314432432/?referrer=github_integration)

[code]

[2021-04-03 15:45] riodeuno commented on #3751
@hetunandu Can you mention the specifics of which logs you would need?

[2021-04-03 15:51] srijanshetty commented on #3751
Happy to help in any way possible :)

[2021-04-03 16:56] hetunandu commented on #3751
Thanks, @srijanshetty! Could you do the following steps to send me your logs

- Open your console
- Refresh the app, all the logs will get printed on the console
- Wait till all your actions are loaded
- filter your console with this regex string
`/(timeTaken|EVAl)/`
- Make sure all objects in the logs are expanded, especially the time taken ones
- right click on the console and save as...

You ca

[2021-04-03 19:40] #3645 closed

[2021-04-03 20:27] riodeuno opened #3853 "[Feature] Easier deployment through docker compose"
## Summary
An easier deployment method with `docker compose`

## Motivation
`docker compose` is easier to handle than bash scripts for devOps

[2021-04-03 20:39] norlancd opened #3854 "[Feature] Custom columns name in table header"

[2021-04-03 20:46] #3854 closed

[2021-04-03 21:53] rezaps1357 opened #3855 "[Feature]"
## Summary

One paragraph description of the feature.

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2021-04-03 21:53] rezaps1357 commented on #3855
hi

[2021-04-03 21:53] rezaps1357 opened #3856 "[Bug]"
## Description

[What happened]

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Important Details
 - Version: [Cloud / Self-Hosted vx.x]
 - OS: [e.g.MacOSX]
 - Browser [e.g. chrome, safari]

[2021-04-03 21:54] rezaps1357 commented on #3856
hi

[2021-04-03 21:54] rezaps1357 opened #3857 "[Docs]"
## Documentation Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

[2021-04-03 21:54] rezaps1357 commented on #3857
hi

[2021-04-04 00:13] denisemel9 opened #3858 "[Task] 2"
## SubTasks
- Sub Task1
- Sub Task2

[2021-04-04 00:28] #3855 closed

[2021-04-04 00:28] #3858 closed

[2021-04-04 00:29] #3857 closed

[2021-04-04 00:30] areyabhishek commented on #3850
@somangshu a better way would be allow them to resize the modal by dragging the boundaries. Why not do that instead of giving size options through property pane?

[2021-04-04 00:31] #3856 closed

[2021-04-04 07:17] igotcaught2314 opened #3859 "[Feature]"
## Summary

One paragraph description of the feature.

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2021-04-04 07:18] igotcaught2314 commented on #3859
Need help

[2021-04-04 07:56] areyabhishek commented on #3859
@igotcaught2314 how can we help?

[2021-04-04 12:45] somangshu commented on #3850
@areyabhishek I agree. This is better is terms of customization!

[2021-04-04 14:16] #3859 closed

[2021-04-04 15:36] rishabhsaxena commented on #3671
Lowering the priority, since this issue isn't occurring for many users.
Also the reason is not known as of why `localStorage` isn't supported for the given browser.
So would wait until we have more events to debug this further.

[2021-04-04 19:17] riodeuno opened #3860 "[Bug] Input widget validation issues"
## Description

When set to be not required within a form widget, the input widget with type "number" does not accept `undefined` values.

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Add a form widget, add an input widget into the form
2. Set the input widget to be of type "number"
3. The submit button is disabled, ev

[2021-04-04 20:58] aldarmak opened #3861 "[Feature]"
## Summary

One paragraph description of the feature.

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2021-04-04 20:59] aldarmak commented on #3861
Hi I would like you to know the pugs on my account and the flack emails

[2021-04-04 21:24] Daddy2200 commented on #3861
[](https://github.com/BetterDiscord/Installer/issues/48)

[2021-04-04 21:24] Daddy2200 commented on #3861
@ashwanisindhu1 @neok @aldarmak @Nikhil-Nandagopal @Daddy2200

[2021-04-04 21:25] Daddy2200 commented on #3861
![image](https://user-images.githubusercontent.com/81929259/113521932-c50d7e80-956a-11eb-986a-40cca4ef3c96.png)

[2021-04-04 21:26] Daddy2200 commented on #3860
`delete`

[2021-04-04 21:28] riodeuno opened #3862 "[Feature] Allow users to copy evaluated values"
## Summary

Evaluated value popup should have a copy button to copy the evaluated value.

[2021-04-05 05:35] #3861 closed

[2021-04-05 06:00] Nikhil-Nandagopal commented on #3853
@riodeuno duplicate of #2402

[2021-04-05 06:00] #3853 closed

[2021-04-05 06:11] aakashDesign commented on #3254
@Nikhil-Nandagopal @areyabhishek
Collapsible evaluated value pane
Added designs here - https://www.figma.com/file/XI7Yg0bedTxncLmIUmXTpH/Query-Pane?node-id=0%3A1

![Screenshot 2021-04-05 at 11.39.01 AM.png](https://images.zenhubusercontent.com/6045bc6eeca45c6cfee6dd46/2a95fd1e-1c79-4390-a626-810893f17ff4)![Screenshot 2021-04-05 at 11.39.43 AM.png](https://images.zenhubusercontent.com/6045bc6eeca45

[2021-04-05 06:14] sumitsum commented on #3687
Hi @ApekshaBhosale would the fix for this also take care of https://github.com/appsmithorg/appsmith/issues/1803 ?

[2021-04-05 06:20] #3169 closed

[2021-04-05 06:32] ApekshaBhosale commented on #3687
Yes but the structure is little different. @sumitsum

[2021-04-05 06:53] Nikhil-Nandagopal commented on #3254
@aakashDesign same design for API pane body right?

[2021-04-05 07:08] prapullac commented on #3823
@hetunandu : This issue is not reproducible on new API however it is reproducible on older API

Steps to reproduce:
1) Open an existing API
2)  Click on Setting
and observe

Observation:
The API Setting Pane is broken

[2021-04-05 07:12] hetunandu commented on #3823
It looks like this fix never got deployed. I have re-run the workflow and will let you know if it was successful to test this again.

[2021-04-05 07:13] trishaanand opened #3863 "Mongo Form redesign to match Mongo Atlas UI/UX"

[2021-04-05 07:13] trishaanand opened #3864 "Mongo Plugin Form Re-design"

[2021-04-05 07:31] sumitsum commented on #1803
Closing in favor of #3687

[2021-04-05 07:31] #1803 closed

[2021-04-05 07:54] Nikhil-Nandagopal opened #3865 "[Bug] Appsmith Crashes if table has _ in the data"
### Steps to reproduce the behaviour:
1. fetch all apps from appsmith prod
2. bind it to a table
3. move the table
4. refresh the app
5. The app crashes

[2021-04-05 09:36] jsartisan opened #3866 "[Bug] [Dropdown] Values are not resetting on form submit."
Dropdown widgets are not resetting when 'Reset form on success' is set to true.

[2021-04-05 09:36] hetunandu commented on #3823
@prapullac Can you verify this now?

[2021-04-05 10:11] #3687 closed

[2021-04-05 10:59] prapullac commented on #3823
@hetunandu  Working as expected hence closing the issue

[2021-04-05 14:33] Nikhil-Nandagopal commented on #2483
@aswathkk this requires some backend work to show the last time the page was saved in the API

[2021-04-05 14:39] aswathkk commented on #2483
@Nikhil-Nandagopal We need backend work only if we plan to show the last saved time in the initial render.
Otherwise, we can keep track of the last saved time in a variable on the frontend itself.

[2021-04-05 15:25] nidhi-nair opened #3868 "[Bug] JSON substitution for REST API breaking with surrounding single and double quotes"
With JSON substitution turned on, if the dynamic binding is not explicitly surrounded by quotes, the parsing is successful. But if we include quotes during usage, the parsing breaks.

Example Body:
[code]

[2021-04-06 05:33] Nikhil-Nandagopal commented on #2483
@aswathkk it needs to be in the backend because 2 developers working on the same app might make changes

[2021-04-06 05:49] YogeshJayaseelan opened #3873 "Valid JSON Request is Identified as Undefined in the Expected Value section"
**Expected Result:**
Expected Value section should accepts the valid JSON Request

**Request Body:**
{
“name”: “{{“animals”}}“,
}

**Actual Result:**
Submitting valid JSON Body the Expected Value section identifies the value as 'Undefined'

**Steps to Reproduce:**
1. Launch AppSmith app in Release Environment
2. Expand API Pane
3. Click on Create New
4. Choose method as POST
5. Use the following h

[2021-04-06 06:04] aswathkk commented on #2483
@Nikhil-Nandagopal Correct. I didn't think about that case.

[2021-04-06 06:11] sentry-io[bot] opened #3874 "[Bug] CURL Import crashing"
Sentry Issue: [APPSMITH-NH](https://sentry.io/organizations/appsmith/issues/2318975910/?referrer=github_integration)

[code]

[2021-04-06 06:13] Nikhil-Nandagopal commented on #3866
@jsartisan seems to be working for me. Can you please add the steps to reproduce?

[2021-04-06 06:50] jsartisan commented on #3866
@Nikhil-Nandagopal Closing it as the value get resets to the default value which is expected behavior. Sorry for the confusion.

[2021-04-06 06:50] #3866 closed

[2021-04-06 07:09] sentry-io[bot] opened #3875 "[Bug] TypeError: Cannot read property 'map' of undefined"
Sentry Issue: [APPSMITH-NQ](https://sentry.io/organizations/appsmith/issues/2320532077/?referrer=github_integration)

[code]

[2021-04-06 08:39] thebf commented on #3851
My guess is that the check that silently runs to see if it can delete the datasource when the last reference to is has been deleted misfired somehow and deleted the data source when there were in fact other API calls still referencing it.

If it helps in bisecting this issue: The api call were several iterations of copies and moves across pages as I've been building a multi-page prototype.

It hap

[2021-04-06 08:43] hetunandu commented on #3875
Duplicate of #3823

[2021-04-06 08:43] #3875 closed

[2021-04-06 08:57] sentry-io[bot] opened #3877 "[Bug] TypeError: Cannot read property 'name' of undefined"
Sentry Issue: [APPSMITH-NR](https://sentry.io/organizations/appsmith/issues/2320728208/?referrer=github_integration)

[code]

[2021-04-06 09:05] sanjeed5 opened #3878 "Mock database is not present in Datasource list"
## Description

Couldn't find the mock database to add as a Datasource.

### Steps to reproduce the behaviour:
1. Signup using Github
2. Follow the tutorial and create a new app with the name given in the tutorial, **under the default organization.**
3. Click + near DB Queries
4. Click New Datasource
5. No Mock Database listed in the options
![image](https://user-images.githubusercontent.com/40694

[2021-04-06 09:36] Nikhil-Nandagopal commented on #3878
@sanjeed5 thanks for pointing this out! We've now fixed this for all new users :)

[2021-04-06 09:36] #3878 closed

[2021-04-06 09:36] codedmind commented on #2840
Take a look at univention.com they provide SSO using samba/active directory, they also have and appcenter and would be great see appsmith in there :D

[2021-04-06 09:58] akshayrangasaid commented on #1284
Hi @Rishabh-Rathod,

The reference app form @chrdoud needs minor modifications. The next steps will need a change to indicate what the date of the next step is, and the stage of the deal in the pipeline.

The major modification to this is to show deals by stage in the pipeline. The stages for example could be Lead, Contact Made, Demo Scheduled, Demo Complete, Quote Shared, Quote Accepted, Customer

[2021-04-06 10:16] hetunandu commented on #3851
Thanks for the details @thebf! Do you still have the action that is crashing the page or is it deleted?

[2021-04-06 10:24] thebf commented on #3851
I still have the error message as I haven't recreated and reconnected all the API calls yet.

[2021-04-06 10:34] YogeshJayaseelan opened #3881 "[Bug] Copy and paste functionality isn't functional for List widget"
Steps to reproduce:
1) Add a list widget
2) Now "Copy" a widget (keyboard control)
3) Now Paste the widget
and observe

Observation:
It is observed that the list widget does not get pasted

Expectation:
it is expected to get pasted when on keyboard action

Note: Safari (12.1.4) copy option is not functional

[2021-04-06 10:35] YogeshJayaseelan opened #3882 "[Bug]"
Description
Copy widget functionality is not working in safari version -

Expected Result:
User should be able to Copy widget either by Command+C or clicking on Copy icon from the Property pane and paste using Command+V

Actual Result:
User is not able to create copy of an existing widget

### Steps to reproduce the behaviour:
1.Launch Appsmith in Deploy environment
2.Drag and Drop list widget or

[2021-04-06 10:37] hetunandu commented on #3882
Duplicate of #3881

[2021-04-06 10:37] #3882 closed

[2021-04-06 10:45] YogeshJayaseelan opened #3883 "[Bug] Dragging the mouse on the screen to select items freezes the screen"
**Description**
Moving Property Pane of List Widget to the top most(Header) section the screen gets highlighted in blue

**Expected Result:**
Moving Property widget to top most area there needs to be some blocker and widget automatically takes position below header area

**Actual Result:**
Moving Property Pane of List Widget to the top most(Header) section the screen gets highlighted in blue

**##

[2021-04-06 11:16] hetunandu commented on #3851
@thebf
I would like to see the action object that is stored.
If you could send me the network responses for actions and data sources, it would help me a lot.
When you refresh your app, all this information is called for via APIs. In your network console could you filter the requests with `/(actions\?|datasources\?)/` regex and send me the responses of these API calls on discord

[2021-04-06 12:05] prapullac opened #3886 "[Bug] On increasing the spacing between the items it is pushed out of the region"
Steps to reproduce:
1) Add a list widget
2) now click on the Property pane
3) Navigate to "Item Spacing (px)"
4) Add around 100 px and observe

Observation:
It is observed that On increasing the spacing between the items it is pushed out of the region

Expectation:
As the spacing increases the items must be moved to next page

![Screenshot 2021-04-06 at 5 13 49 PM](https://user-images.githubuserco

[2021-04-06 12:49] prapullac opened #3888 "[Bug] Empty List widget is being displayed to user on deploy"
Steps to reproduce:
1) Add a list widget
2) Add data  to the widget
3) click on deploy and observe the deploy mode

Observation:
It is observed that the list widget data is displayed blank

Expectation:
Binding data should be displayed to user

Video
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f70f522a171b4efb8356d1d70909e082-00001.gif)](https://www.loom.com/share/f70f522a171b4efb8356d1d

[2021-04-06 13:16] prapullac opened #3891 "[Bug] UX : Improve the messages while widgets are not supported"
Steps to reproduce:
1) Add a list widget
2) Add any of the form widget (Dropdown, Switch, Radio )
and observe

Observation:
It is observed that an error message is displayed to the user as "Form widget in List widget is not supported". User might not understand what are the form widget as we have not displayed anything explicitly into the application for user.

Expectation:
Improvise on the messag

[2021-04-06 16:09] areyabhishek commented on #3891
@jsartisan Can we just say the name of the widget in the error message? Instead of saying form widgets.

Here's a message we can use: "Input widgets cannot be used inside the list widget right now."

[2021-04-06 17:56] #3823 closed

[2021-04-06 18:08] Rishabh-Rathod commented on #1284
Current plan is to create a public google sheet for tables and if needed then a SQL dump in the end.

How will a user fork a demo project in appsmith?
As @chrdoud has created a demo project and it would be great if others could fork or contribute to it with access permission.

[2021-04-06 18:30] chrdoud commented on #1284
Hi, at first it was developed for a dB usage, Google sheet was not directly accessible. I was waiting for appsmith team to create a dB. And bug correction.
So i Can continue on a Google sheet , it is a great Idea.

[2021-04-07 01:03] #3754 closed

[2021-04-07 01:06] riodeuno opened #3894 "[Bug] Inconsistent editing experience custom chart config"
## Description

Unlike the Table widget's tableData property control, the custom chart config control doesn't allow JSON strings outside of bindings.
`{{ {type: "", dataSource: {}} }}` works but `{type: "", dataSource: {}}` does not.

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Go to custom chart config property in ch

[2021-04-07 05:33] #3743 closed

[2021-04-07 07:34] sentry-io[bot] opened #3897 "[Bug] TypeError: a.map is not a function"
Sentry Issue: [APPSMITH-NV](https://sentry.io/organizations/appsmith/issues/2320883000/?referrer=github_integration)

[code]

[2021-04-07 07:34] sentry-io[bot] opened #3898 "[Bug] TypeError: Cannot read property 'trim' of undefined"
Sentry Issue: [APPSMITH-NW](https://sentry.io/organizations/appsmith/issues/2320902807/?referrer=github_integration)

[code]

[2021-04-07 07:37] sentry-io[bot] opened #3899 "[Bug] Error: TypeError: d is not a constructor"
Sentry Issue: [APPSMITH-NX](https://sentry.io/organizations/appsmith/issues/2321259866/?referrer=github_integration)

[code]

Steps to reproduce:
- drop a chart widget on the canvas
- change the type to custom chart
- add chart data to this: `{{ { type: "LINE_CHART", datasource: {
}} }}`

[2021-04-07 08:07] YogeshJayaseelan opened #3900 "[Bug] Evaluated value is not updating for the list widget"
## Evaluated value is not updated for the list widget

**Expected Result:**
Evaluated value should be displayed whatever the value is submitted inside array list

**Actual Result:**
Evaluated value is displayed as 'undefined'

### Steps to reproduce the behaviour:
1. Launch Appsmith app in the Deploy Environment
2. Drag and Drop List widget
3. Click edit of the Text1 or Text2 or Image1
4. click on

[2021-04-07 08:37] YogeshJayaseelan opened #3901 "[Bug]The tool tip message truncates if the property panel is moved to top left corner"
## If the user moves the property panel of any of the widgets to the top left corner then the tool tip message truncates

**Expected Result:**
Tool tip message should be Cleary visible

**Actual Restul:**
Toll tip message is truncated if the property pane is moved to the top left corner

### Steps to reproduce the behaviour:
1. launch the app smith app in the deploy or release environment
2. Drag

[2021-04-07 08:51] somangshu opened #3902 "[Feature] reorder pages inside an appsmith app"
## Summary

Apart from the home page a user should be able to re-order all pages inside the app by dragging them.

## Motivation

A user should be able to stack their pages by the order of there preference inline to their use case.

## Additional Context
---

[2021-04-07 12:14] mosinuga opened #3904 "[Feature]"
## Summary

Disable sign up

## Motivation

We have a requirement for security purposes to disable signup

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2021-04-07 12:22] mosinuga opened #3906 "[Feature]"
## Summary

Reset password from within the application

## Motivation

At the moment, links are setup and sent via email. to reset password However, there are options to disable emails, which means that passwords cannot be changed (even when logged in) when email is not enabled/configured.

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to

[2021-04-07 12:24] mosinuga commented on #3906
It is not a duplicate...

[2021-04-07 15:13] hetunandu commented on #3772
Hey @mosinug, I haven't heard from your colleague regarding this issue on discord. Will it be possible to get in touch this week?

[2021-04-07 15:48] mosinuga commented on #3772
@hetunandu My colleague seems to have been chatting/working with some of your colleagues (Sumit)

[2021-04-07 15:55] hetunandu commented on #3772
Thanks @mosinuga. I have connected with him on discord and discussing the details

[2021-04-07 16:09] nidhi-nair opened #3911 "[Feature]-[700]: Add handling for JSON-LD types in REST APIs"
## Description

API calls with JSON-LD content types are not handled and are simply parsed as strings.

### Steps to reproduce the behaviour:
1. Create a new GET request for this sample URL: `https://sources.wikibus.org/books`
2. Run this action, and notice that the response is a stringified JSON
3. Simply running this request on the browser shows a response header with a content-type of `applicat

[2021-04-07 16:18] nidhi-nair commented on #3911
Also another example of an instance when metadata along with response body (response headers in this case) would be useful to help users debug their issues.

[2021-04-07 16:22] nidhi-nair commented on #3904
@mosinuga Disabling sign ups for an Appsmith instance is possible by setting an environment variablein your `docker.env` file. This is described in more detail, with a few other customization options, in our documentation [here](https://docs.appsmith.com/how-to-guides/restricting-signup#disable-sign-up). Is this what you were looking for?

[2021-04-07 16:27] mosinuga commented on #3904
Yes, thank you!

[2021-04-07 16:27] #3904 closed

[2021-04-08 01:48] reisw commented on #3643
+1 for this feature request. Have an api that only returns authentication session information in response headers. Looking to use this specifically https://demo.microstrategy.com/MicroStrategyLibrary/api-docs/index.html#/Authentication/postLogin

[2021-04-08 02:10] dusadvarshit opened #3912 "Audio recorder widget"
Hello team,

Thank you for fantastic work with Appsmith.

I have been exploring the app and was wondering how one can add a voice recorder and an audio player to the app?
That would be a very helpful for the app feature we are trying to build in our team.

Thanks!

# RACI matrix
| Label | Value |
| ------------- | ------------- |
| Responsible |  @jsartisan, @wmdev0808   |
| Accountable | @somangs

[2021-04-08 03:39] dusadvarshit commented on #3912
Alright, so I can play audio by putting the public url of my audio in the video player.
Though still wondering how to use in-built recorder widget.

[2021-04-08 04:38] hetunandu commented on #3912
Hey, @dusadvarshit! Thanks for the widget request. We will add this to our backlog of new widgets

[2021-04-08 04:58] hetunandu opened #3913 "[Feature] Client side structured data with IndexedDB"
## Summary
Support storing large data or files in [IndexedDB](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API).

## Motivation
While `storeValue` function works for small amounts of data when storing bigger files or data objects. This would also reduce the load on the data tree where bigger responses keep slowing down the app.

## Additional Context
We can access IndexedDB directly

[2021-04-08 05:34] jsartisan opened #3915 "[Enhancement] Platform change to include the DSL in a data structure which allows for tracking and merging changes"
We should be handling the undo-redo states from a separate thread to avoid blocking the UI thread while the undo-able DSL is being updated.

Libraries which can be used:
- [yjs](https://github.com/yjs/yjs)
- (optional) Redux in workers to store the DSL
- (optional) Store state in [indexeddb](https://github.com/yjs/y-indexeddb)

Derisk
====
- [ ] yjs undo manager supports redo
- [ ] Performance of

[2021-04-08 05:35] jsartisan opened #3916 "[Enhancement] Undo and Redo operation functions"
- [ ] Function which undo's the structure which maintains undo-able state.
- [ ] Function which redo's the structure which maintains redo-able state.
- [ ] Sagas to trigger undo/redo
- [ ] Action payload definitions to trigger undo/redo
- [ ] Global hot keys for undo/redo

[2021-04-08 05:50] #3612 closed

[2021-04-08 05:57] jsartisan opened #3917 "[Enhancement] Undo redo buttons UI"

[2021-04-08 05:58] jsartisan opened #3918 "[Enhancement] Unit tests for undo redo methods"

[2021-04-08 06:00] jsartisan opened #3919 "[Enhancement] Cypress tests for Undo Redo"

[2021-04-08 06:11] sumitsum opened #3920 "[Feature] Import API definition from swagger file"
## Summary
Import/create new API from swagger file

## Motivation
Requested by community.

Discord chat:
[code]

[2021-04-08 06:29] areyabhishek opened #3921 "Canvas drag and drop experience"

[2021-04-08 06:56] riodeuno opened #3923 "[Feature] Improve Drag, Drop, Resize experience"

[2021-04-08 07:02] riodeuno commented on #3923
Features under consideration:
- [ ] Grid Redesign
   - [ ] Grid spacing
   - [ ] Grid UI

- [ ] Collision handling
   - [ ] Layers
   - [ ] Auto-resize to fit space while dragging

[2021-04-08 07:06] riodeuno commented on #3923
Deploy preview POC: https://deploy-preview-3892--appsmith-editor-ce.netlify.app/

[2021-04-08 08:04] YogeshJayaseelan opened #3924 "[Bug]Replacing image url directly without binding in the list widget is not working as expected"
## It is observed that by the binding image with API the list widget is showing the binder image. But, when the user directly replaces the image url in the property pane the new image is not displayed.

**Expected Result:**
User should be able to change the List Widget image by replacing the image url from the image property pane

**Actual Result:**
Replacing the image url from the image property

[2021-04-08 08:35] YogeshJayaseelan opened #3925 "[Bug]Changing the Zoom level of image 1 from page 1 is getting applied to all the images in the List Widget"
## Description
Changing the Zoom Level of any particular image the same level is getting applied to other images in the list widgets

**Expected Result:**
Changing the Zoom level for a particular image the zoom level should be applied only to the particular image

**Actual Result:**
Changing the Zoom level for a particular image the zoom level is applied to all other images within the List Widget

[2021-04-08 08:42] #3722 closed

[2021-04-08 09:15] YogeshJayaseelan opened #3927 "[Bug]Tool tip message of Next and Previous button is inappropriate in List Widget"
## Description
Tool tip message of Next and Previous button is inappropriate in List Widget

**Expected Result:**
Valid tool tip message should be displayed

**Actual Result:**
Tool tip message of next and previous button are inapprorpiate

### Steps to reproduce the behaviour:
1. Launch Appsmith app in Deploy Environment
2. Drag and drop List Widget
3. Mouse hover on the Next and Previous button

[2021-04-08 09:16] Nikhil-Nandagopal commented on #3913
Nice idea!

[2021-04-08 09:28] Nikhil-Nandagopal commented on #3906
@mosinuga ignore the bot it's a little crazy 😄  Thanks for the feature request!

[2021-04-08 09:49] sentry-io[bot] opened #3928 "[Bug] TypeError: Cannot read property 'length' of undefined"
Sentry Issue: [APPSMITH-NZ](https://sentry.io/organizations/appsmith/issues/2323814871/?referrer=github_integration)

[code]

[2021-04-08 09:51] Nikhil-Nandagopal commented on #3085
@rishabhsaxena seems like this re-opened

[2021-04-08 10:14] Nikhil-Nandagopal opened #3929 "[Bug] Property Pane stays open while dragging / resizing"
Noticed this today when I was trying to build UI. The property pane remains open during the drag and blocks my view as well as drag location.

[2021-04-08 10:37] akshayrangasaid commented on #1284
Hi @chrdoud and @Rishabh-Rathod

Yes, Google sheets would be ideal for this application, we'll also try and introduce a fork application functionality so users can fork this app and connect it to their own Google Sheets Backend.

We've recently released the OAuth2 and Google Sheets Plugin. This should hopefully make this development trivial from a backend standpoint.

Let me know what you guys thi

[2021-04-08 11:38] erbear commented on #1751
Is there someone already working on this feature? Or it have to be written from scratch?

[2021-04-09 03:16] sentry-io[bot] opened #3932 "Invalid header in cURL command results in an Internal Server Error"
Trying to import a cURL command with an invalid header like the following causes an internal server error:

[code]

Sentry Issue: [APPSMITH-P0](https://sentry.io/organizations/appsmith/issues/2327158259/?referrer=github_integration)

[code]

[2021-04-09 03:38] nidhi-nair commented on #3874
Closing in favour of #3932

[2021-04-09 04:10] hetunandu commented on #1751
Hey @erbear, this epic will start getting implemented next week. It will have to be done from scratch as it does not exist on in Appsmith today.

[2021-04-09 05:41] hetunandu opened #3934 "[Feature] Track api timeout errors on sentry"
## Summary
When the client times out an API request from the server, it should log a sentry error regarding the same

## Motivation
Give better information about the timeout issues

[2021-04-09 05:46] trishaanand commented on #3865
Fixed as part of PR #3887

[2021-04-09 05:56] sentry-io[bot] opened #3935 "IllegalStateException: Session was invalidated"
Sentry Issue: [APPSMITH-EX](https://sentry.io/organizations/appsmith/issues/2102357306/?referrer=github_integration)

[code]

[2021-04-09 05:57] sentry-io[bot] opened #3936 "ClassCastException: class org.bson.Document cannot be cast to class java.lang.String (org.bson.Document is in unnamed..."
Sentry Issue: [APPSMITH-KQ](https://sentry.io/organizations/appsmith/issues/2248347770/?referrer=github_integration)

[code]

[2021-04-09 05:57] sentry-io[bot] opened #3937 "DuplicateKeyException: E11000 duplicate key error collection: appsmith.datasource index: organization_datasource_deleted..."
Sentry Issue: [APPSMITH-HH](https://sentry.io/organizations/appsmith/issues/2196067906/?referrer=github_integration)

[code]

[2021-04-09 05:59] sentry-io[bot] opened #3938 "Sentry throwing NullPointerException when logging"
Sentry Issue: [APPSMITH-G3](https://sentry.io/organizations/appsmith/issues/2128847048/?referrer=github_integration)

[code]

[2021-04-09 06:12] nidhi-nair commented on #1729
@prapullac These changes will be coming into release soon, but could you please help out with testing changes in a separate environment in the meantime? This will help us reduce the load on release.

Test env: https://test.appsmith.com

[2021-04-09 06:16] sentry-io[bot] opened #3939 "NullPointerException while mapping objects in MongoConverter"
Sentry Issue: [APPSMITH-NE](https://sentry.io/organizations/appsmith/issues/2315934426/?referrer=github_integration)

[code]

[2021-04-09 06:17] sentry-io[bot] opened #3940 "ReactorNetty$InternalNettyException: java.nio.channels.ClosedChannelException"
Sentry Issue: [APPSMITH-ND](https://sentry.io/organizations/appsmith/issues/2315840846/?referrer=github_integration)

[code]

[2021-04-09 06:30] trishaanand commented on #3936
Fixed by #3887. Closing this.

[2021-04-09 06:30] #3936 closed

[2021-04-09 06:35] prapullac commented on #1729
@nidhi-nair Sure I would test in the above mentioned test environment.

[2021-04-09 06:37] #3552 closed

[2021-04-09 06:38] #3355 closed

[2021-04-09 06:41] hetunandu commented on #3818
From the looks of it, the table tried to render an image from a s3 link and failed

[2021-04-09 06:41] somangshu commented on #3639
@hetunandu Should this instead be modal property like `onClose/onEscapeKeyDown/onBackdropClick`? Additionally `onRendered` can also be useful.

[2021-04-09 06:45] hetunandu commented on #3639
@somangshu if i am not wrong, the modal does not really have control over when it is closed. You point is valid that one can close the modal without clicking on the icon too. I think having a listed icon widget with onclick still makes sense. We can probably divide these into two separate issues

[2021-04-09 06:46] sentry-io[bot] opened #3942 "DatePicker: TypeError: Cannot read property 'querySelectorAll' of null"
Sentry Issue: [APPSMITH-MV](https://sentry.io/organizations/appsmith/issues/2307956612/?referrer=github_integration)

[code]

[2021-04-09 06:54] sentry-io[bot] opened #3943 "Error: SyntaxError: Document.querySelector: 'script[src="https://www.google.com/recaptcha/api.js?render=..."
Sentry Issue: [APPSMITH-N4](https://sentry.io/organizations/appsmith/issues/2311757944/?referrer=github_integration)

[code]

[2021-04-09 06:55] hetunandu commented on #3943
Looks to be from button recaptcha

[2021-04-09 06:58] somangshu commented on #3639
@hetunandu [check this out](https://material-ui.com/api/modal/).

What you have suggested makes sense, One follow up question. For example as you suggested in the use case, The `onClick` of the icon will be used to close the model, How do I then add the event ex: `afterClose`?

[2021-04-09 06:59] #3252 closed

[2021-04-09 07:07] Nikhil-Nandagopal commented on #1236
- [ ] All filter is not working when you switch between success and error back to All
- [ ] Show the entity name in the message
- [ ] Request is showing headers as an array
- [ ] Table error is disappearing if the table data is empty and the user clicks anywhere outside the table
- [ ] Hide the request tab
- [ ] Show request error message should take the user to the error tab on API / Query
- [ ]

[2021-04-09 07:17] prapullac opened #3944 "[Bug] Clicking on Documentation link user is lead to an inappropriate page"
Steps to reproduce:
1) Add an datasource
2) Click on "Add API"
3) Click on "Documentation link"
and observe

Observation:
It is observed that the user is lead to inappropriate page

Expectation:
User must be lead to respective document page

![Screenshot 2021-04-09 at 12 37 29 PM](https://user-images.githubusercontent.com/71753653/114143338-aaa02000-9931-11eb-990b-951263da4438.png)

[2021-04-09 07:17] hetunandu commented on #3639
Let's divide this up into two issues

- Add a onClose event for a modal widget which will get triggered whenever for any way the modal is closed

- Icon widget is not listed in the widget today. Lets add an icon widget with the onClick event for use cases where the icon click matters

[2021-04-09 07:27] rishabhsaxena commented on #3085
We haven't opted for an app wide fix since we'd need to monkey patch react. So it can reoccur at another component. Would try and check across the app to catch as many as we can.

[2021-04-09 07:40] areyabhishek commented on #3944
The screenshot seems to be wrong. Could you share the incorrect link as well?

[2021-04-09 08:04] rishabhsaxena commented on #3085
@hetunandu think we should consider https://github.com/appsmithorg/appsmith/pull/2406/files ?
This issue can occur when google translate substitutes the text (mutates the DOM). There is a workaround with wrapping the nodes with span elements but we might not be able to check for all such instances across the app.

Performance wise I'm not sure how much impact it would have, it's basically an equal

[2021-04-09 08:06] prapullac commented on #3944
@areyabhishek : The above mentioned screenshot is the exact page where user is navigated to on Google sheet datasource which we are testing on test environment.

[2021-04-09 08:07] nidhi-nair commented on #3944
This is a TODO, need to format [this](https://www.notion.so/appsmith/Docs-1fed57c682734187a601aa540a602a76) draft and add it to docs. @vihar could you please check to see if this is understandable?

[2021-04-09 08:22] hetunandu commented on #3085
@rishabhsaxena It would cause performance issues because it recursively goes all over the DOM and checks for this. Can we instead see if there is an eslint rule which we can use for this so that this check is build time and not run time?

[2021-04-09 08:33] #3874 closed

[2021-04-09 10:02] vicky-primathon commented on #3784
@sharat87  can you please share me a loom video with the steps to reproduce this error. I am not able to reproduce this issue on release.

[2021-04-09 10:30] prapullac opened #3946 "[Bug] error message does not define an appropriate error"
Steps to reproduce:
1) Add a datasource
2) Add an API
3) Select method "Update row"
4) Add inappropriate data into the fields
5) Click on "RUN"
and observe

Observation:
It is observed that the error is displayed as "Undefined" which does not define the appropriate error

Expectation:
Appropriately defined error message must be displayed to user

![Screenshot 2021-04-09 at 3 46 10 PM](https://user

[2021-04-09 10:33] #3838 closed

[2021-04-09 10:34] #3786 closed

[2021-04-09 10:36] #3745 closed

[2021-04-09 10:49] sharat87 commented on #3784
This is weird. I don't if its the same issue but I'm noticing different behavior here:

The date and month keep swapping around. This is also noticeable in production. However, I can't reproduce the behaviour described in this issue so if you want, I can close this and open another issue for the following.

https://user-images.githubusercontent.com/120119/114169499-48561800-994f-11eb-95a4-25b33e39

[2021-04-09 12:04] areyabhishek opened #3949 "[Feature] Widget pane issues"

[2021-04-09 12:05] riodeuno commented on #3949
- [ ] It is easier for users to grok text. Unfamiliar icons are not so easy to understand.

[2021-04-09 12:10] trishaanand opened #3950 "Editor.json : Add functionality to pass dynamic data to dropdown to forms"

[2021-04-09 12:11] trishaanand opened #3951 "Editor.json : Add functionality to read data into the form from datasource configuration or datasource structure"

[2021-04-09 12:16] somangshu commented on #3949
[ ] User should be able to pin his fav widgets to the top
[ ] Maybe its better if the user can see the widgets divided into folders logically

[2021-04-09 12:18] somangshu commented on #3951
Is this a duplicate? https://github.com/appsmithorg/appsmith/issues/2504

[2021-04-09 12:21] trishaanand commented on #3951
@somangshu : No. #2504 is a feature request for generation of queries. This is simply an enhancement of editor.json which is used to display the query pane. As part of this change, we should be able to provide dynamic data to the generated fields via editor.json for better usability of query pane. One use case is that when creating a query for mongo, you should be able to select the collection nam

[2021-04-09 14:15] nidhi-nair commented on #3946
Fixed for unexpected spreadsheet url format

[2021-04-09 16:48] vaibhav-falconx opened #3952 "[Bug] Unable to run/connect to app-smith using docker."
## Description

Trying to deploy appsmith using the install.sh script mentioned for self-hosting using docker.  Had to make a few changes to the docker-compose.yaml file (reduced version to 3.3 for docker-compose version and changed the ports for nginx).

[What happened]

After doing the above changes and starting the containers, appsmith internal server fails to start with the following error :
[

[2021-04-10 05:44] sharat87 commented on #3952
Hey @vaibhav-falconx, the error message you are seeing is actually harmless. We have an issue open where we intend to get to the bottom of this, but it shouldn't affect the functionality of the server. Can you share more logs from the server container so we can see if there's any other error message perhaps?

Additionally, if it's okay with you, can you share your current `docker-compose.yml` file

[2021-04-10 05:44] sharat87 commented on #3952
Issue about the harmless error: https://github.com/appsmithorg/appsmith/issues/3616

[2021-04-11 12:11] multorteam9 opened #3955 "[Bug] Yarn start error"
## Description
After `yarn start` i got this error
[code]

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Go to 'cd app/client'
2. Click on  Terminal    'yarn start'
3. See error

### Important Details
 - Version: [Self-Hosted appsmith-release]
 - OS: [centos]
 - Browser [chrome]

[2021-04-11 14:46] areyabhishek commented on #3955
@sharat87 can you see this error on centos?

[2021-04-11 15:58] multorteam9 commented on #3955
Yes

[2021-04-12 04:26] somangshu commented on #3822
We will we showing download options as a dropdown > [designs here ](https://www.figma.com/file/trkiMc12VVpQBqsm7natiU/Table-Changes-Wed-7-Apr-2021?node-id=2%3A3024)

[2021-04-12 04:43] hetunandu commented on #3955
@multorteam9 Looks like there is some issue with your node environment. Could you delete your `node_modules` directory, and install again via `yarn` and then run `yarn start`

[2021-04-12 05:16] multorteam9 commented on #3955
I did but problem still remains.

Please NOTE: Master branch works properly only release branch have this problem. Seems it related to type script or programmatic.

[2021-04-12 05:21] hetunandu commented on #3955
@multorteam9 that is because release and master would have different dependencies.
Can you also try to install after clearing cache?
[code]

[2021-04-12 05:41] sentry-io[bot] opened #3956 "TypeError: Cannot read property 'length' of undefined"
Sentry Issue: [APPSMITH-P6](https://sentry.io/organizations/appsmith/issues/2332672299/?referrer=github_integration)

[code]

[2021-04-12 05:47] #3830 closed

[2021-04-12 05:51] somangshu opened #3957 "[Bug] The datepicker input onChange keeps updating the calender selection"
In the Datepicker widget the date and month keep swapping around.
This is also noticeable in production.

https://user-images.githubusercontent.com/120119/114169499-48561800-994f-11eb-95a4-25b33e399780.mov

_Originally posted by @sharat87 in https://github.com/appsmithorg/appsmith/issues/3784#issuecomment-816597521_

[2021-04-12 05:59] somangshu commented on #3784
This is not reproducible, We observed another issue on production. Created that separately.

[2021-04-12 05:59] #3784 closed

[2021-04-12 06:36] sentry-io[bot] opened #3959 "TypeError: Cannot read property 'document' of null"
Sentry Issue: [APPSMITH-P4](https://sentry.io/organizations/appsmith/issues/2331278881/?referrer=github_integration)

[code]

[2021-04-12 06:37] sentry-io[bot] opened #3960 "TypeError: null is not an object (evaluating 'e.getItem')"
Sentry Issue: [APPSMITH-P5](https://sentry.io/organizations/appsmith/issues/2331749827/?referrer=github_integration)

[code]

[2021-04-12 06:45] somangshu opened #3961 "[Feature] JSON db as a data source"
## Summary

As a user I should be able to query data directly from an uploaded JSON file in the datasource and use it in a widget.

## Motivation

Sometime is want to show static dropdown options for which connecting to a an actual DB is an overkill. I should be able to instead upload a JSON file with the required object and query it through a widget.

## Additional Context

Ex: I have an input wh

[2021-04-12 06:53] Nikhil-Nandagopal commented on #3961
@somangshu Great feature request!
I think data source is the wrong term here though. This is more like a static global constant.
The distinction is that runtime changes to Data sources are persisted so that multiple users can use them while here the changes and the data are local to the browser instance.

[2021-04-12 07:07] Nikhil-Nandagopal commented on #2514
@hetunandu @ApekshaBhosale FYI, we'll be picking this up as part of the debugger

[2021-04-12 07:11] somangshu commented on #3961
Hey @nikhil, The use case here could be also for example adding some options(data) to the JSON object, In That case does it make sense to have a datasource like functionality where you can perform queries on the object (CRUD). Also i didn't understand what is meant by the "data are local to the browser instance"? (given the user intends to share the data across sessions.)

[2021-04-12 07:15] Nikhil-Nandagopal commented on #3961
@somangshu I guess the question is what programming construct supports this? i.e if there was no appsmith what technology are developers using to do this?
In the use case, you mentioned for the phone numbers, there the JSON is a static object and changes done to the JSON in view mode are only reflected to the user not to other users. Unlike a database where adding a new option adds it for other us

[2021-04-12 07:17] ApekshaBhosale commented on #3110
@Nikhil-Nandagopal Is this issue still happening? I tried to reproduce this and work as intended. can you please confirm?

[2021-04-12 07:28] Nikhil-Nandagopal commented on #3110
@ApekshaBhosale seems to be working now so closing this

[2021-04-12 07:28] #3110 closed

[2021-04-12 07:29] somangshu commented on #3961
@nikhil An example here can be something like [json-server](https://github.com/typicode/json-server#getting-started) which is also backed by Retool. These are some use cases I can think of.

In the ex, we create a db.json and use it restfully. (queries in my ex)

Another ex: Having a lot of searchable tags. (the above package allows to do something like a full text search on the file as well).

[2021-04-12 07:42] prapullac opened #3963 "[Bug] Safari : The canvas is not completely displayed to user"
Steps to reproduce:
1) Add the application
and observe the canvas
2) Changing the canvas the size of the canvas does not get effected
3) Click on the widget '+'
and observe the it fluctuates twice before being stagnant

Expectation:
The entire canvas must be displayed to user and widget pane must open with fluctuating

[2021-04-12 07:51] YogeshJayaseelan opened #3964 "[Bug]Filtering ID and Order Amount = Empty is not working as expected"
## Description
In table widget it is observed that by filtering ID = Empty and Order Amount = Empty the filter is not working as expected.

Expected Result:
If the ID and Order Amount has values and by filtering ID = Empty and Order Amount = Empty then the result should not be displayed in the table grid

Actual Result:
It is observed that by filtering ID = Empty and Order Amount = Empty, the tabl

[2021-04-12 07:58] YogeshJayaseelan opened #3965 "[Bug]Safari - The screen gets Blue highlighted by dragging and dropping most of the widgets"
## Description
It is observed that by dragging and dropping most of the widgets the screen is highlighted in blue. Blue highlight is not occurring by dragging and dropping the following widgets (DatePicker, FilePicker, RichTextEditor and Video)

**Expected Result:**
Blue Highlight should not occur by dragging and dropping widgets

**Actual Results:**
Blue Highlight occurs by dragging and dropping

[2021-04-12 08:13] YogeshJayaseelan opened #3966 "[Bug]The icons Search, Filter, Download and Row Height are truncated with the table scroll bar"
## Description
Its is observed that in the table widget the icons Search, Filter, Download and Row Height are truncated with the scroll bar

**Expected Result:**
Icons should be clearly visible and should not trunacte

**Actual Result:**
Search , Filter, Download and Row Height icons are truncated

### Steps to reproduce the behaviour:
1. Launch Appsmith app in the Release Environment
2. Drag and

[2021-04-12 08:18] Nikhil-Nandagopal commented on #3865
Reopening as this is still happening

[2021-04-12 08:24] multorteam9 commented on #3955
I did but not fixed.

[2021-04-12 08:31] prapullac opened #3967 "[Bug] When the image is added to the table it does not follow alignment"
Steps to reproduce:
1) Add a table
2) Bind to API with image
3) Click on Property Pane of the table
4) Add an alignment
5) Click on the image control pane
6) Add datatype as image
and observe

Observation:
The table alignment is applicable to all the columns except for the image

Expectation:
When the table alignment is added it must be add to all the data type

![Screenshot 2021-04-12 at 1 50 17

[2021-04-12 08:36] somangshu commented on #3965
I can drag and drop all widgets normally on the safari browser. Not able to reproduce!

[2021-04-12 09:41] somangshu commented on #3967
Similar behavior observed for type `URL`

[2021-04-12 09:47] YogeshJayaseelan opened #3969 "[Bug]Unable to select text inside the search field using mouse drag selection"
## Description
It is observed that in table widget the text inside search field is not selectable

Expected Result:
User should be able to select text inside the search field using mouse selection

Actual Result:
User is not able to select text from search field using mouse selection

[What happened]

### Steps to reproduce the behaviour:
1. Launch Appsmith app in the Release Environment
2. Drag a

[2021-04-12 10:00] somangshu commented on #2895
#3966 is related?

[2021-04-12 10:47] hawisizu commented on #3353
I would want to implement something to alert users before changing page with unsaved changes. But to do that I am missing a feature on the form widget: a properties that would be like `form_1.has_changes` , that would be true if any of the fields has been manually changed after loading its default value.

[2021-04-12 10:55] somangshu commented on #3360
@nikhil do we need something [like this](https://jsonformatter.org/json-editor) or a linter [like this](https://jsonlint.com/)

[2021-04-12 11:20] somangshu commented on #3516
#3345 date range picker & #3346 time picker widget are related to this.

[2021-04-12 11:30] somangshu commented on #3353
@hawisizu thanks great input, We will definitely discuss this and take it up soon.

[2021-04-12 11:47] prapullac opened #3970 "[Bug] Selected filter attribute has been highlighted twice"
Steps to reproduce:
1) Add a table
2) Click on filter option
3) Select an atribute
4) reopen the dropdown
and observe

Observation:
It is observed that Selected filter attribute has been highlighted twice

Expectation:
It needs to be highlighted once

![Screenshot 2021-04-12 at 5 11 07 PM](https://user-images.githubusercontent.com/71753653/114389645-e269ca80-9bb2-11eb-9878-384ff94c0d8e.png)

[2021-04-12 12:16] YogeshJayaseelan opened #3971 "[Bug]Chrome - Unable to close the property pane if the browser is minimized and maximized"
## Description
It is observed that dragging and dropping any widgets and moving the property pane to the top most area and by minimising and maximising the browser user is unable to close the property pane.

**Expected Result:**
Property pane should go out of focus upon minimizing and maximizing

**Actual Result:**
Moving property pane to the top most area and minimising and maximising the browser

[2021-04-12 14:11] Nikhil-Nandagopal commented on #3961
@somangshu so is this primarily for mock data?

[2021-04-12 14:13] Nikhil-Nandagopal commented on #3360
@somangshu more like the former but we can add linting also to it. Like this is a great example
https://jsoneditoronline.org/

[2021-04-12 14:32] zimkjh opened #3972 "[Bug] curl 7.29.0 --data-raw is unknown"
## Description

I'v tried to setup "self-host appsmith" using installation scripts, using [this guide](https://docs.appsmith.com/setup/docker)
I've found --data-raw option is not suitable for my situation.
So, I replaced --data-raw -> --data, and it successfully worked!!
![image](https://user-images.githubusercontent.com/31986639/114408618-8f107000-9be4-11eb-9b7f-93bed006479a.png)

### Steps to re

[2021-04-12 18:52] vihar commented on #3815
Updated docs with examples, do check: https://docs.appsmith.com/widget-reference/chart

[2021-04-12 19:19] rishabhsaxena commented on #3959
This is related to intercom. Lowering the priority since it doesn't crash the app and there are not a lot of such errors reported as of now. Also, couldn't find any issues in the current integration.

[2021-04-13 04:28] somangshu commented on #3961
@nikhil mock data can be one on the use cases, Otherwise being able to query JSON object can be applied to a lot of other use cases as well. Ex as told before can be searchable tags which are used for some data categorization.

[2021-04-13 05:29] nidhi-nair commented on #3959
@rishabhsaxena is this getting more frequent? Saw a few more failures today as well. Did you manage to understand at what point this error is received?

[2021-04-13 06:20] Nikhil-Nandagopal opened #3977 "[Feature] Appsmith can ship with a DB"
## Description
Appsmith can ship with a lightweight database that users can use for their apps. The database can contain mock data as well as allow users to store any intermediate data they want to save. The database could be a lightweight JSON DB as well.

## Motivation
Not all users have a database and would like to explore the possibilities of creating apps on appsmith.
This improves the experi

[2021-04-13 06:21] Nikhil-Nandagopal commented on #3961
We Identified a few problems here
1. Have simple static configs that users can use across the app (ex. country codes)
2. Have a simple DB to store intermediate data. This data must be user specific (ex. tags) Related to #3977
3. Be able to query data from different data sources in an SQL like format (AlaSQL) Related to #3119

[2021-04-13 07:04] mohanarpit opened #3978 "[Bug] Unable to edit REST API datasource"
## Description

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Create an API
2. Create a datasource
3. Navigate back to API
4. Edit Datasource is not clickable

### Important Details
 - Version: [Cloud / Self-Hosted vx.x]
 - OS: [e.g.MacOSX]
 - Browser [e.g. chrome, safari]

[2021-04-13 08:09] nidhi-nair opened #3980 "[Feature] Tweak install script to work with AWS AMIs"
The AWS CentOS image responds to the following command

[code]

with the value `Amazon Linux`. This does not necessarily point directly to CentOS, we will need to check how the AMIs differ from one to the other.

[2021-04-13 08:10] #3824 closed

[2021-04-13 08:38] rishabhsaxena commented on #3959
I couldn't repro it reliably. It didn't cause any crash though and the intercom widget was working fine as well.

[2021-04-13 09:35] zegerhoogeboom opened #3981 "[Feature] Configurable cookie auth duration (session/max age)"
## Summary

Currently the built-in authentication sets a cookie `SESSION` with "session" expiry. While I'm happy with the built-in auth I'd like to configure the cookie to instead be valid for e.g. a year to stay logged in. If such a configuration option is added the default can of course remain session expiry such that it's not a breaking change.

## Motivation

I'm using "Digital signage" softwa

[2021-04-13 09:44] sentry-io[bot] opened #3982 "TypeError: Cannot read property 'length' of undefined"
Sentry Issue: [APPSMITH-PB](https://sentry.io/organizations/appsmith/issues/2334952572/?referrer=github_integration)

[code]

[2021-04-13 09:46] nidhi-nair commented on #3982
Closing in favour of #3956

[2021-04-13 09:46] #3982 closed

[2021-04-13 09:48] sentry-io[bot] opened #3983 "TypeError: Cannot read property '2' of null"
Sentry Issue: [APPSMITH-PC](https://sentry.io/organizations/appsmith/issues/2335854379/?referrer=github_integration)

[code]

[2021-04-13 10:28] somangshu commented on #3969
This bug is not reproducible in the view mode. Only in the edit mode the mouse drag function doesn't function.

[2021-04-13 10:28] #3969 closed

[2021-04-13 10:37] riodeuno commented on #3762
@prapullac Can we verify if this issue still exists?

[2021-04-13 10:45] sentry-io[bot] opened #3986 "[ButtonWidget] Validate `Google Recaptcha Key` to be a valid selector string"
Sentry Issue: [APPSMITH-P8](https://sentry.io/organizations/appsmith/issues/2333148093/?referrer=github_integration)

[code]

[2021-04-13 10:50] riodeuno commented on #3865
@Nikhil-Nandagopal @hetunandu @nidhi-nair  I believe we've merged a fix for this today. Can we close this?

[2021-04-13 10:51] nidhi-nair commented on #3865
Yeah, sorry didn't know there was an issue open for it.

[2021-04-13 10:51] #3865 closed

[2021-04-13 11:03] #3812 closed

[2021-04-13 12:52] sentry-io[bot] opened #3988 "NullPointerException in flow that adds data type to action execution result"
Sentry Issue: [APPSMITH-PE](https://sentry.io/organizations/appsmith/issues/2336224002/?referrer=github_integration)

[code]

[2021-04-13 13:15] Nikhil-Nandagopal commented on #3981
@zegerhoogeboom would making the application public solve this for you? You can click share and make the application public so that the appsmith content can always be shown.

[2021-04-13 13:22] zegerhoogeboom commented on #3981
Oh wow that's perfect actually, thanks a lot!

[2021-04-13 13:22] #3981 closed

[2021-04-13 13:23] Nikhil-Nandagopal commented on #3981
Always happy to help 😄

[2021-04-13 14:28] #3988 closed

[2021-04-13 22:49] areyabhishek opened #3990 "[Feature] Allow complete customization of user invite emails"
## Summary
Allow developers to customize the invite emails that go to app viewers.

[2021-04-13 22:52] areyabhishek opened #3991 "[Feature] Allow customization of homepage"
## Summary

Developers should be able to decide what homepage/app page a new user lands on.

Some users only have one app inside Appsmith so they should be able to land directly inside the app they need.

[2021-04-13 22:55] areyabhishek opened #3992 "[Feature] Show app usage stats to developers and admins"
## Summary
We should show usage stats to developers and admins of an org so that they know what apps are being used and how much.
We can either let the user integrate GA or we print the stats

[2021-04-14 00:05] areyabhishek opened #3993 "[Feature] Custom subdomain for cloud users"
## Summary
Allow users to choose a custom subdomain or map to an existing domain.

Make it easy for users to set up a custom domain for their organisation. Wondering, if this will mean that the user can't access other organizations on this domain?

[2021-04-14 03:17] sentry-io[bot] opened #3994 "<unknown> Unhandled rejection"
Sentry Issue: [APPSMITH-PD](https://sentry.io/organizations/appsmith/issues/2336001039/?referrer=github_integration)

[code]

@hetunandu mentioned this was a non-breaking error that he didn't notice when it happened.

[2021-04-14 03:18] sentry-io[bot] opened #3995 "Error: Actions may not have an undefined "type" property. Have you misspelled a constant?"
Sentry Issue: [APPSMITH-PG](https://sentry.io/organizations/appsmith/issues/2336754345/?referrer=github_integration)

[code]

[2021-04-14 03:23] nidhi-nair commented on #3675
Closing this till we see the issue again.

[2021-04-14 03:23] #3675 closed

[2021-04-14 03:26] nidhi-nair commented on #2724
@sharat87 Was this resolved in another issue? I see that the Sentry issue associated to this has been marked as resolved.

[2021-04-14 03:34] sumitsum commented on #2178
Looks like a driver issue. The read only setting is not taking effect when configured the following ways:
[code]

[2021-04-14 04:27] #3972 closed

[2021-04-14 04:27] Nikhil-Nandagopal commented on #3972
@zimkjh thank you so much for your contribution! 🥳

[2021-04-14 05:14] #3932 closed

[2021-04-14 05:26] sharat87 commented on #2724
Sorry @nidhi-nair, not in the loop for this issue to have context. I'm not aware if it's fixed already.

[2021-04-14 05:28] nidhi-nair commented on #2724
Ah okay, I saw your user as the one that marked the Sentry issue as resolved, so asked. I'll test this on prod and triage again. :)

[2021-04-14 05:34] ApekshaBhosale opened #3996 "[Task] Add placeholder support for QUERY_DYNAMIC_TEXT"
For google sheets we need to support placeholder property for QUERY_DYNAMIC_TEXT type

[2021-04-14 06:01] trishaanand commented on #3940
Might be helpful :
https://github.com/reactor/reactor-netty/issues/1039

[2021-04-14 06:05] trishaanand commented on #3937
We need to stop logging DuplicateKeyException externally. This is a user error and shouldn't be logged.

[2021-04-14 06:11] somangshu commented on #3993
@areyabhishek once a subdomain/domain is mapped with an A/CName record then it cant really be used for anything else.

With this are we trying to offer a white-labeling solution? Do we also map the Appsmith app with org as subdomain. Webflow follows a similar approach.

ex:  `xyz.appsmith.com` will be you appsmith cloud app where `xyz` is the org and then cname mapping on this domain is possible >

[2021-04-14 06:33] somangshu commented on #3184
@jsartisan should this instead be achieved through the themification option we are thinking about?

[2021-04-14 07:09] sharat87 commented on #2724
Ohh I see. I think I misunderstood, this is my bad. The issue I fixed was with a clash in organization names, not application names. I mistakenly linked that PR (which was fixing org names) to the issue (which was about app names). Sorry for the confusion. 🤦‍♂️

[2021-04-14 08:46] somangshu commented on #3097
This can be most related to button-widget. We can say when the type is `phone` can a configurable option to show the county codes as dropdown options. In material design this is called as [Input Adornments](https://material-ui.com/components/text-fields/#input-adornments)

[2021-04-14 08:50] somangshu commented on #3095
#3184 should be merged here.

[2021-04-14 09:46] rishabhsaxena opened #3999 "[Bug][Organisation Settings] Profile display name doesn't show up on the member settings page"
## Description
Profile display name doesn't show up on the member settings page

### Steps to reproduce the behaviour:
1. Sign up with a new account
2. Update display name from the user settings page (profile icon -> edit profile)
3. Navigate to org settings (Invite modal -> manage users)
4. Name column does not show the user display name

[2021-04-14 09:50] rishabhsaxena opened #4000 "[Feature] Show last login time at the settings page"
## Summary
Settings page enhancements:
- Show last login time at the settings page: would be helpful to check if the user has signed up and when he was last active

## Additional Context

Also, now that I have users, I realise I would appreciate to have a bit more details in the Organisation > members view. IMO it would be useful to see:
* the display name,
* the last connection time, to see wheth

[2021-04-14 10:21] adnanmorsy97 commented on #1610
Hi @prapullac is this issue still open. I would like to take it :)

[2021-04-14 11:25] somangshu commented on #3902
duplicate of #2786

[2021-04-14 11:25] #3902 closed

[2021-04-14 11:29] somangshu commented on #2764
Somthing like [filezilla](https://filezilla-project.org/)?

[2021-04-14 12:25] somangshu commented on #2506
#3961 can also be helpful here!

[2021-04-14 15:12] sentry-io[bot] opened #4003 "ClassCastException: class org.bson.Document cannot be cast to class java.lang.String (org.bson.Document is in unnamed..."
Sentry Issue: [APPSMITH-PH](https://sentry.io/organizations/appsmith/issues/2337746044/?referrer=github_integration)

[code]

[2021-04-14 16:24] areyabhishek commented on #1610
@adnanmorsy97 Yes this is open. I'll assign it to you :)

[2021-04-15 05:21] areyabhishek commented on #1398
If the first page is always the homepage, then do we need a different way to depict it? Closing it unless there's a burning need for this.

[2021-04-15 05:21] #1398 closed

[2021-04-15 05:36] prapullac commented on #3762
@riodeuno The issue does not exists on the current release. We can close the issue.

[2021-04-15 05:36] #3762 closed

[2021-04-15 05:37] sharat87 commented on #3952
Downgrading to High from Cititcal, since the error message posted in the description is harmless for the core functionality. We can reevaluate the criticality once we have more information of what the problem is. Thanks!

[2021-04-15 06:44] #4003 closed

[2021-04-15 07:57] nidhi-nair commented on #2724
Verified that this does not happen anymore, closing the issue.

[2021-04-15 07:57] #2724 closed

[2021-04-15 07:59] YogeshJayaseelan opened #4007 "[Bug]The Spreadsheet url goes out of the query response region when creating new spreadsheet"
## Test Environment - It is observed that while creating new spreadsheet, the spreadsheet url goes out of the query response region

**Expected Result:**
Spreadsheet url should be clearly visible within the Query response area

**Actual Result:**
Creating new spreadsheet the spreadsheet url goes out of the query response region

### Steps to reproduce the behaviour:
1. Launch Appmsith app in the T

[2021-04-15 08:12] YogeshJayaseelan opened #4008 "[Bug] Evaluated Value is displayed as undefined by passing valid Request Query"
## Test Environment - Its is observed that by passing valid Request Query the evaluated value shows undefined

**Expected Result:**
Evaluated value should show the actual value which is passed in the request query

**Actual Result:**
Evaluated value is displayed as undefined by passing valid request query

### Steps to reproduce the behaviour:
1. Launch Appsmith app in the Test Environment
2. Expa

[2021-04-15 08:15] nidhi-nair commented on #2684
<img width="240" alt="Screenshot 2021-04-15 at 1 44 07 PM" src="https://user-images.githubusercontent.com/5298848/114836901-c05d8b80-9df0-11eb-8ede-767c187b6450.png">

 I got to this state without triggering a Sentry issue, I'm not sure which one's the bigger problem :D

[2021-04-15 08:19] nidhi-nair commented on #4008
@ApekshaBhosale This happens only for the QUERY_DYNAMIC_TEXT widget, on test.appsmith.com

Could you help triage this?

[2021-04-15 08:38] nidhi-nair opened #4009 "[Feature] Allow moving applications between organizations"
It is possible that users use certain organizations only for developing an application, and do not want to give users access to this organization. If we allow moving apps between organizations, it creates an extra layer of abstraction for users.

[2021-04-15 08:48] benlagrange commented on #4009
Thank you @nidhi-nair. My use case is: Our organisation requires different levels of user access for our different Appsmith apps. I want to create a "godmode" organisation, with higher-tier apps that can have financial/operational impact as well as a "Customer Service" organisation with safer apps that our least technical employees can use without danger. Users will be invited to organisations bas

[2021-04-15 08:57] prapullac opened #4010 "[Bug] Enhancement : Alignment for the cards in the List widget"
Steps to reproduce:
1) Add a List widget
2) Click on property pane
3) Navigate to Spacing
4) Add 100px or more spacing
and observe

Observation:
Only one card is displayed to user and it is observes that it is on the top of the widget region

Expectation:
It is expected that if an alignment is provided for the card it would help user to place it better and improve the look and feel of the widget

[2021-04-15 09:02] #3815 closed

[2021-04-15 09:29] riodeuno commented on #3955
Hi @multorteam9 !
Can you provide us with the following details:
- The version of `node` which is used by `yarn`
- Has the `yarn.lock` file has deviated from the original `yarn.lock` file in `release` branch?

[2021-04-15 09:42] codedmind commented on #4009
I suggest merge this request as the export/import function... that way we can move apps between instances or event between different orgs inside the same instances.

[2021-04-15 10:43] YogeshJayaseelan opened #4011 "[Bug] Undefined response is received while inserting single sheet row, inserting bulk sheet row and update sheet row by passing valid request query"
## Description
Test Environment - Its is observed that by passing valid request query for inserting single sheet row, inserting bulk sheet row and update sheet row, undefined error is received

**Expected Result:**
Inserting single sheet row, Inserting bulk sheet row and updating row sheet with valid request query should update the google sheet

**Actual Result:**
Inserting single sheet, Inserting

[2021-04-15 10:53] rishabhsaxena opened #4012 "[Bug][MultiSelect Dropdown Widget] The widget doesn't get reset on clicking the reset button"
## Description
The widget doesn't get reset on clicking the reset button within the form widget

### Steps to reproduce the behaviour:
1. Add a form widget
2. Add a couple of dropdowns, configure one as multi select
3. Select values for both the dropdowns
4. Click on the reset button
5.  The multiselect dropdown doesn't get reset to its original state

#### Additional Context

https://user-images.

[2021-04-15 11:16] #2359 closed

[2021-04-15 11:54] trishaanand opened #4013 "[Bug] Server allows action creation with same name as existing actions in page"

[2021-04-15 12:04] jsartisan commented on #4010
@prapullac sorry but not sure what exactly this bug is.

[2021-04-15 13:25] trishaanand commented on #2684
Opened issue #4013 for the underlying cause which lets actions with same name to be created in the page without server throwing an error. If there are no duplicate action names in the page, then the IncorrectResultSizeDataAccessException would not be thrown. That is a valid exception because somehow duplicate action names exist in the page.

[2021-04-15 13:28] nidhi-nair commented on #2684
@trishaanand I did this by opening the app in two pages and creating an API in each at the same time. This is a consistency issue. Also I wasn't able to get to the exception itself with this.

[2021-04-15 14:12] khushbu014 commented on #1586
Is this in progress? Form data is largely required for the use-cases we want to implement.

[2021-04-15 14:28] areyabhishek opened #4018 "[Bug] Multi-select dropdown widget doesn't show selected options count"
The multi-select dropdown widget is supposed to show the names of a few selected options and then truncate the rest to show a count when there's not enough space.
1. This is how it looks today.
<img width="246" alt="Screen Shot 2021-04-15 at 7 53 56 PM" src="https://user-images.githubusercontent.com/30255708/114886059-dab15c80-9e24-11eb-9d45-ddf7cd069962.png">
2. This is how it is supposed to look

[2021-04-15 15:14] somangshu opened #4019 "[Bug] Widget pane animation flickering on safari"
## Description

The widget pane while opening flicker in the safari browser

### Steps to reproduce the behavior:
1. Go to 'edit app mode'
2. Click on '+ icon next to widgets'
3. Check how the widget pane flickers

### Important Details
 - Version: [Cloud]
 - OS: [MacOSX Big Sur]
 - Browser [safari 14.03]

https://user-images.githubusercontent.com/11089579/114893365-3e3e8880-9e2b-11eb-931f-38b897e

[2021-04-15 15:17] trishaanand commented on #2684
@nidhi-nair : This is because client was the only party enforcing unique names and the server wasn't. To reproduce this particular exception, you should try changing the name of any of these duplicate names Api's.

[2021-04-15 16:41] sentry-io[bot] opened #4021 "TypeError: null is not an object (evaluating 'e.getItem') on Sign up"
Sentry Issue: [APPSMITH-PJ](https://sentry.io/organizations/appsmith/issues/2340170688/?referrer=github_integration)

[code]

[2021-04-15 16:44] prapullac opened #4022 "[Bug] Vertical Scroller is visible to user when the alignment and Row height is changed"
Steps to reproduce:
1) Add a table
2) Bind the API
3) Add the alignment and Row height
4) Reduce the table size
5) Now change the alignment and Row height
and observe

Observation:
Observation 1:
It is observed that the vertical scroller is visible to user on scrolling

Expectation:
It is expected that the vertical scroller must not be displayed to user

Environment:
https://deploy-preview-4006--a

[2021-04-15 17:50] vaibhav-falconx commented on #3952
I realized later that this was benign. The actual problem was that I was trying to run app-smith on a different port and that was not working. Once I reverted to using the default port, AppSmith started. I think the main thing here is to make the documentation for changing ports more easier to follow. This can be closed as not a bug since there is already a duplicate.

[2021-04-15 17:58] riodeuno opened #4023 "[Bug] Incorrect placeholder in the datepicker widget"
## Description

The placeholder shows `DD/MM/YY HH:mm` which is incorrect and cannot be parsed internally to generate a correct ISO string.
It should show `YYYY-MM-DD HH:mm` or `ISO 8601` which can be parsed correctly.

We also need to update the documentation to advise users on how this works.

### Important Details
Release 1.4.9

[2021-04-15 18:53] areyabhishek opened #4024 "[Feature] Need a tooltip option for input widgets"
1. Input widgets will get used in forms
2. It'll be helpful for an input widget to have a tooltip so that the end-user can read information about the input field.

This can be a tooltip which is turned on or off from the property pane.

## Developer Handoff Link
https://www.figma.com/file/O1tKizBK5SHhWPcPT4RWIs/Input-Updates-Label-and-Tooltip?node-id=2%3A1

[2021-04-15 19:18] areyabhishek opened #4025 "[Feature] Alert/Info widget"
1. Allow developers to create an alert/info widget which shows some info to the user on the screen.
<img width="757" alt="Screen Shot 2021-04-16 at 12 47 23 AM" src="https://user-images.githubusercontent.com/30255708/114925903-50c9b980-9e4d-11eb-9dff-6ef32abefa07.png">
2. It should be possible to trigger an action from the alert(refresh page or re-run query for example)

[2021-04-16 03:56] sharat87 commented on #3952
Thank you for confirming and providing the details @vaibhav-falconx!

Closing.

[2021-04-16 03:56] #3952 closed

[2021-04-16 05:59] Nikhil-Nandagopal commented on #3742
- Reopening omnibar should be empty
- Recents is not working properly. If you navigate to an item and open it, it does not show the item in the recents
- Analytics is not firing for opening omnibar from API / Query / Widget
- The read more in the datasource page does not trigger the omnibar
- The documentation in the queries should open the corresponding documentation page not the main connect dat

[2021-04-16 06:32] Nikhil-Nandagopal commented on #1236
- [ ] Logs is not triggering omnibar correctly
- [ ] Add an empty state in omnibar to join discord
- [ ] New CTA for the omnibar on the debugger and rest of the app
- [ ] Don’t close debugger when navigating to an entity
- [ ] Error log for property error should be the same as the log
- [ ] Add default values to isRequired, isVisible and isDisabled of all widgets so that the error does not come wh

[2021-04-16 07:04] somangshu commented on #4025
@areyabhishek we do have snackbar with different types on our platforms.

An addition here is the requirement to chain another action post showing the snackbar. And Color coding the snakbars as well.

Am I missing anything?

![image](https://user-images.githubusercontent.com/11089579/114984767-afc01a80-9eaf-11eb-953e-4b1eb563bfff.png)

[2021-04-16 07:07] Nikhil-Nandagopal commented on #4018
Duplicate of #772
I've also shared a component which we can use to achieve this in that issue

[2021-04-16 07:07] #4018 closed

[2021-04-16 07:09] Nikhil-Nandagopal commented on #4009
Related to #3089
Closing this as we're picking it up in 3089 :)

[2021-04-16 07:09] #4009 closed

[2021-04-16 07:16] Nikhil-Nandagopal commented on #4012
Duplicate of #3339

[2021-04-16 07:16] #4012 closed

[2021-04-16 07:17] Nikhil-Nandagopal commented on #3339
@vicky-primathon can we get a fix for this merged? It looks like this happened again

[2021-04-16 07:19] riodeuno commented on #4022
@prapullac In this scenario, the amount of space available to show the first row is not enough, hence there is a vertical scrollbar.

[2021-04-16 07:25] prapullac commented on #4022
@riodeuno Since we read the row height of the we can restrict the user to resize until that. This will improve the experience of the user

[2021-04-16 07:28] riodeuno commented on #4022
@prapullac Yes, we're looking into restrictions on the widget dimensions. A set of minColumns and minRows, however, there are no such restrictions at the moment.

[2021-04-16 08:24] prapullac opened #4028 "Enhancement : Adding Email Id on the datasource to which Google API is associated to"
When an user creates datasource for Google API the user needs to authorise it to a mail Id. Since we can associate different Email Id to different Datasource displaying the Email Id would help user to understand and navigate to appropriate datasource

Environment:
test.appsmith.com

[2021-04-16 08:25] prapullac opened #4029 "[Bug] Enhancement :Sorting the Google API method in the dropdown"
Steps to reproduce:
1) Add a Google API datasource
2) Select a scope
3) Save the datasource
4) Click on "Create API"
5) Click on method dropdown
and observe

Observation:
It is observed that the google API method are randomly displayed and user needs to search it over

Expectation:
Arranging them alphabetically or according the process would help the user in navigation

Environment:
test.appsmith.

[2021-04-16 10:43] #4013 closed

[2021-04-16 12:36] sentry-io[bot] opened #4034 "Safari related non-breaking error <unknown>"
Sentry Issue: [APPSMITH-PM](https://sentry.io/organizations/appsmith/issues/2340935756/?referrer=github_integration)

[code]

[2021-04-16 12:38] nidhi-nair commented on #4034
@somangshu is consistently triggering these, saw at least 3-4 instances today. He is unable to pinpoint what causes this though.

[2021-04-16 14:01] prapullac opened #4035 "[Bug] Table widget pagination number is not aligned in the centre of input"
Step to reproduce:
1) Add the table
2) resize the table
and observe the Pagination

Observation:
The pagination number is not placed appropriately inside the box

Expectation:
The page number must be placed inside the box

Environment:
https://deploy-preview-4006--appsmith-editor-ce.netlify.app/

<img width="807" alt="Screenshot 2021-04-18 at 8 04 32 PM" src="https://user-images.githubusercontent.

[2021-04-16 14:12] areyabhishek opened #4036 "[Feature] One-click to expand evaluated value"
1. Sometimes the evaluated value window is too small for a user to use. Scrolling is difficult.
2. A single click to expand the evaluated value+see the code editor at the same time will help the user understand what code to write.

Associated problem: When the binding breaks, the evaluated value is replaced with an error message. The user can no longer use the previously show evaluated value.

[2021-04-16 16:00] nidhi-nair opened #4037 "[Feature] Provide examples of mapping functions from different plugins"
## Summary

We should either hint or document some transformation functions that will help users get started with using their data in Appsmith faster. Users seem to spend an unnecessarily long time figuring out the correct mapping function to use, and end up struggling with the platform instead of focussing on their business logic.

## Motivation

While linting in the future will help users figure

[2021-04-16 16:02] nidhi-nair opened #4038 "[Feature] Enable populating forms using JSON objects"
The use case for forms is generally a `POST` or `PUT` request that works with existing data structures in a user's backend. Given that this data structure is easily available for the user, we should allow creating default versions of forms with the help of these data structures, so that users don't have to drag and drop 20 labels and 20 inputs fields to get their first version of form running.

[2021-04-17 10:10] Nikhil-Nandagopal opened #4039 "[Bug] Table continues to apply client side searching even when onSearchChange is configured"
### Steps to reproduce the behaviour:
1. Drag a table
2. Create a query and add a where clause to use similarity in PGSQL
3. Display the query in the table
4. Search for a query string like Jean Luc
5. The query returns similar results like Jean Claude but the table filters these out on the client side

[2021-04-17 16:54] areyabhishek commented on #4039
@Nikhil-Nandagopal What's the exact solution here? Could you describe it? We can ask @vicky-primathon to take a look at this.

[2021-04-18 05:51] hetunandu commented on #1897
Closing this in the favour of #3532

[2021-04-18 05:51] #1897 closed

[2021-04-19 03:00] #4011 closed

[2021-04-19 03:03] nidhi-nair commented on #4011
This was happening under the following scenarios:
- No data in sheet
- Only table heading in sheet

Similar bug that has also been solved:
- Complete mismatch between columns headings and provided data behaved inconsistently. This has been handled now by always ignoring columns that do not match the existing structure. If no structure exists, the incoming data is assumed to be the intended structu

[2021-04-19 03:03] nidhi-nair commented on #3946
Hasn't surfaced for any other types of requests so far, closing till this is seen again @prapullac

[2021-04-19 03:03] #3946 closed

[2021-04-19 03:11] sentry-io[bot] opened #4041 "[Bug] ReferenceError: Can't find variable: performance"
Sentry Issue: [APPSMITH-PN](https://sentry.io/organizations/appsmith/issues/2345752023/?referrer=github_integration)

[code]

[2021-04-19 05:04] Nikhil-Nandagopal commented on #4038
Duplicate of #1724

[2021-04-19 05:04] #4038 closed

[2021-04-19 05:16] Nikhil-Nandagopal commented on #4039
@areyabhishek @riodeuno @vicky-primathon
The solution I was thinking of was to disable the client-side search if the user has configured a query onSearchTextChange.

[2021-04-19 05:16] prapullac opened #4043 "[Bug] Watermark on the API response body is misleading"
Steps to reproduce :
1) Navigate to API pane
2) Select an Google API
3) Select the method of Create update etc
and observe the response body

Observation:
It is observed that the Response body watermark has an misleading syntax which might confuse the user

Expectation:
Add an appropriate watermark to response body that would help user to understand the syntax .

Environment:
test.app.appsmith.com

[2021-04-19 05:23] nidhi-nair commented on #4043
Hey @prapullac! Could you specify what you found misleading about this hint? The idea was to convey that the request takes in a JSON object.

[2021-04-19 05:44] YogeshJayaseelan opened #4044 "[Bug]API - Create new Spreadhseets Query response pane is displayed when other methods are selected"
## Description
Test Environment - API Google Sheet - It is observed that when the user creates a new speadsheet and received query response pane. The query response pane is still displayed when the user chooses any other methods like (Delete Row, Fetch Sheets, list sheets)

**Expected Result:**
The query response pane of one method should not be displayed for another methods

**Actual Result:**
Th

[2021-04-19 05:49] nidhi-nair commented on #4044
@ApekshaBhosale is this possible to fix?

[2021-04-19 06:23] areyabhishek commented on #4039
And re-enable client side search if onSearchTextChange is reset. Sounds simple enough.

[2021-04-19 06:26] somangshu commented on #4022
@areyabhishek we need some inputs from design here. The table has a vertical scrollbar when the row height is set to `tall` and the no of table rows in the body is an odd number. as pointed by @riodeuno, we will need restrictions on the widget dimensions.

[2021-04-19 07:05] #2684 closed

[2021-04-19 07:06] trishaanand commented on #3868
Can't reproduce. Closing for now.

[2021-04-19 07:06] #3868 closed

[2021-04-19 07:26] YogeshJayaseelan opened #4046 "[Bug]Updating row with invalid column heading the API runs successfully and returns Updated successfully message"
## Description
Test Environment - API Google sheet - It is observed that when the user tires to update row with invalid column name the api runs successfully and returns 'updated successfully'

**Expected Result:**
By passing invalid Column heading in the Update Row method the API should fail and appropriate error message should be displayed

**Actual Result:**
Updating row with invalid column hea

[2021-04-19 07:55] nidhi-nair commented on #4046
Fixed in 0d0ed2e and 00e6ac3

[2021-04-19 07:55] #4046 closed

[2021-04-19 08:04] trishaanand commented on #3937
@ApekshaBhosale : I looked further into it. This duplicate key exception is being thrown because the server is receiving a name when creating the datasource. Can you point me in the direction of scenarios where the client sends the name of the datasource as well?

[2021-04-19 08:13] hetunandu commented on #4041
This is only seen on an old ios device and safari mobile version

[2021-04-19 08:27] YogeshJayaseelan opened #4047 "[Bug]The inserted values are not matching the rowIndex which is passed in the request query"
## Description
Test Environment - Api Google Sheets - It is observed that when the user inserts new values the inserted values are not matching the row index which is passed in the Request Query

**Expected Result:**
Values should get inserted to the rowIndex id which is passed in the Request Query

**Actual Result:**
RowIndex Id is not considered and the values are getting inserted sequentially

[2021-04-19 08:40] nidhi-nair commented on #4047
Closing because this is expected. We expect Sheets to be used similar to a database and have designed the methods to mimic that. In this particular scenario, like in a database, when you insert a new entry, you never enter the primary column id. It will automatically pick up the next available id. That is the same behaviour here.

The specs for inserts are:
`rowIndex is not a required field while

[2021-04-19 08:40] #4047 closed

[2021-04-19 09:28] Nikhil-Nandagopal commented on #1236
- [ ] If the table is deleted, the error does not disappear from the console
- [ ] Log is showing showAlert(Label) was triggered instead of showAlert("Label")
- [ ] Resize the section above the debugger in API / Query when the debugger is resized
- [ ] Needs to be a close button in the datasource and add API page as well
- [ ] Empty state in the error tab is missing when there are no errors on the

[2021-04-19 09:31] YogeshJayaseelan opened #4049 "[Bug]Deleting a row with index of 0 deletes the table header instead of the data value of index 0"
## Description
Test Environment - Api Google sheet - it is observed that when the user tires to delete the row of index 0 the table header is deleted instead of the actual data value

**Expected Result:**
Deleting index of 0 should delete the actual data value of index of 0 and should not delete the Header row

**Actual Result:**
Deleting a row of index 0 deletes the table header row

### Steps to

[2021-04-19 09:32] nidhi-nair commented on #4049
Fixed in 90640f1

[2021-04-19 09:32] #4049 closed

[2021-04-19 11:37] areyabhishek commented on #4022
Can the scroll bar be removed unless someone is actually scrolling? It's the empty state scrollbar that looks ugly.

[2021-04-19 11:52] prapullac opened #4050 "[Enhancement] user is unable to Update Header of the table using google API"
Steps to reproduce:
1) Navigate to Google API
2) Select Update method
3) Add Raw body to update the Header
and observe

Observation:
User can not update the header of google sheet

Expectation:
it is expected to update the header of google sheet

[2021-04-19 12:26] areyabhishek opened #4051 "[Epic] Improve Appsmith navigation"
## Problem statement
1. New users don't know where to click once they sign up for Appsmith and land on the editor.
2. Repeat users struggle to move quickly between entities they are using.
3. Users can't easily return from the datasource to the property pane of the widget they were configuring.
## Related issues

## Success criteria
If first time users can easily find their way to the correct data

[2021-04-19 12:47] areyabhishek opened #4054 "[Feature] Integration plugin standardization"

[2021-04-19 13:29] sharat87 opened #4056 "[Bug] In prepared statements, it is impossible to use numeric values with leading zero as strings"
Consider a Postgres query with following SQL, where column `col` is of type `text`:

[code]

This sets the value of the column to `0123` when **not** using stored procedures and `123` when using stored procedure. The reason seems to be that we are identifying this value as an _integer_, because `Integer.parseInt` succeeds, however, in doing so, we lose the leading zero. The leading zero here is im

[2021-04-19 13:30] sharat87 commented on #4056
Not marking this critical **only** because the prepared statements have a `[Beta]` tag in the UI.

[2021-04-19 13:33] hetunandu commented on #4056
Is this a proper use case for Prepared statements only? By default, the browser will always throw an error for any numbers with a leading 0 because this is not allowed in the "strict" mode of JS. This is reproducible in any binding.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode#converting_mistakes_into_errors

[2021-04-19 13:34] areyabhishek opened #4057 "[Feature]Onboarding updates"

[2021-04-19 13:39] sharat87 commented on #4056
The problem is we don't want to treat it as a number. We want to treat it as a string. Consider the following SQL:

[code]

Here, we're not dealing with a zero-prefixed number, we are dealing with a string whose first character is zero. JS doesn't have a problem with (would be absurd to 😉).

Our backend, noticing that this is parseable as an integer, converts into the integer `123`, thereby losing

[2021-04-19 13:52] hetunandu commented on #4056
That is correct but when the value is coming via a binding, it would be parsed and treated like a number since each binding is evaluated separately and then substituted in the place with $1 etc.
[code]
and evaluating that number will fail before we can substitute it.

[2021-04-19 14:18] sharat87 commented on #4056
Even in the binding Javascript, it's a string. It's nowhere represented as a number:

[code]

[2021-04-19 15:19] riodeuno opened #4058 "[Bug] Inconsistence in the meta properties fallbacks in widgets"
## Description
In the input widget, when the `defaultText` is updated, the bindings all update. However, when we clear out the text in the input widget, the bindings propagate as empty text.
This is not consistent in the date picker widget. The `defaultDate` is always a fallback when the date is cleared from the widget.

There are two solutions here:
- [ ] We should make this consistent by making

[2021-04-19 15:24] riodeuno commented on #4023
<img width="360" alt="Screenshot 2021-04-19 at 8 51 28 PM" src="https://user-images.githubusercontent.com/103687/115261608-62fb6e80-a151-11eb-9d89-54f28b5922c7.png">

[2021-04-19 15:28] hawisizu commented on #4058
In my opinion it's the 2nd option the correct one.

The 1st one would be a nightmare: that would mean that if you remove the text from an input, you reset to the value it had before, this is non sense. If you do that it means you do want to clear the value, not reset it.

[2021-04-20 04:10] Nikhil-Nandagopal opened #4063 "[Feature] Cassandra DB Integration"

[2021-04-20 04:37] prapullac opened #4064 "[Enhancement] User should be able to create a new sheet inside a created spreadsheets doc"
Steps to reproduce:
1) Create a spreadsheet
2) Try to create a new sheet inside the created doc
and observe

Expectation:
It is observed that the user can only create a spreadsheet document but we have no method to create an  addition new sheet into the created document.
User still has a need to create a new sheet into the document manually.

[2021-04-20 04:56] somangshu commented on #4058
Hey @hawisizu, Thanks for the input on this. What you are saying does make sense and is straightforward!

While our thought has been on the following lines:
If you use `default text / default date`, as the name suggests, it should be the fallback default when no value is present. When a user leaves the input blank, the value should fallback to the default.

Allow me to discuss this with the team.

[2021-04-20 04:58] sentry-io[bot] opened #4066 "NullPointerException when sanitizing datasource"
Sentry Issue: [APPSMITH-PT](https://sentry.io/organizations/appsmith/issues/2350385539/?referrer=github_integration)

[code]

[2021-04-20 04:59] sentry-io[bot] opened #4067 "TypeError: undefined is not an object (evaluating 'p.toString')"
Sentry Issue: [APPSMITH-PW](https://sentry.io/organizations/appsmith/issues/2350829958/?referrer=github_integration)

[code]

[2021-04-20 05:29] hetunandu opened #4068 "[Bug] Creating action from lightning menu does not update the property pane"
## Description
When we use the lightning menu to create an API or Query, it does not update the field where the lightning menu is triggered

### Steps to reproduce the behaviour:
1. Drop a table
2. Click on the lightning menu  on the table data and create an API
3. Navigate back to the table
4. The table data does not have any information

[2021-04-20 05:38] hetunandu commented on #4067
Safari extension bug

[2021-04-20 05:38] #4067 closed

[2021-04-20 05:42] #3978 closed

[2021-04-20 05:43] #3254 closed

[2021-04-20 05:47] hetunandu commented on #3983
Issue occurred in old android version

[2021-04-20 05:47] #3983 closed

[2021-04-20 05:47] sentry-io[bot] opened #4069 "ConcurrentModificationException"
Sentry Issue: [APPSMITH-PP](https://sentry.io/organizations/appsmith/issues/2349576855/?referrer=github_integration)

[code]

[2021-04-20 05:48] sentry-io[bot] opened #4070 "Invariant Violation: Expected sourceIds to be registered."
Sentry Issue: [APPSMITH-PQ](https://sentry.io/organizations/appsmith/issues/2349670074/?referrer=github_integration)

[code]

[2021-04-20 05:50] hetunandu commented on #3551
Regression

[2021-04-20 06:25] #3670 closed

[2021-04-20 06:56] #3877 closed

[2021-04-20 06:56] #3898 closed

[2021-04-20 08:17] somangshu commented on #3860
Check for the rest of the input types as well

[2021-04-20 08:28] #4069 closed

[2021-04-20 08:38] trishaanand commented on #4056
This is a valid bug. To avoid extra configuration by the user when using Prepared Statements, today the data type is implied from the value. The fix for this would be to overrule the server set data type by using something like the following :
```select * from users where id = {{Input1.text}}::text```
The above needs to be implemented on the server side where the user wants to override the default

[2021-04-20 09:03] somangshu commented on #4058
In the favor of consistency, we will be going ahead and make changes to the datepicker widget. On clearing the input value, it shouldn't fall back to the default value.

[2021-04-20 10:29] mayurdhurpate commented on #2836
Would love to have this feature soon. Cannot think of any other easy way to swap out databases in AppSmith while keeping the application.

Some ways in which it helps us devs:
1. We can make dashboards while working on a feature in `dev` / `staging` environment, and those are then production-ready for content/product team automatically.
2. Debugging and replicating issues on dev/staging become muc

[2021-04-20 10:43] hetunandu commented on #3873
The quote characters `“` used here are not valid javascript. Did you paste this from some other application or was this typing? The body below works fine
[code]

Notice the quotes inside the bindings are not *italic*

[2021-04-20 10:47] #3556 closed

[2021-04-20 12:06] srijanshetty commented on #3751
@hetunandu shared the file on discord.

[2021-04-20 12:48] riodeuno commented on #1392
Reference to a library we can use for this widget, referred by a community member on discord

https://github.com/SheetJS/sheetjs

[2021-04-20 15:07] somangshu opened #4076 "[Feature] Move widgets on the canvas with the help of arrow keys"
## Summary

As a user, I want to be able to move the widgets in all directions on the canvas with the help of arrow keys.

## Motivation

This is a good UX that can help users to make the minor movement of widgets to get the overall look and feel of the final app.

## Additional Context

The behavior exists on draw.io