[2021-09-27 09:14] vnodecg opened #7847 "[Bug] Api pane params convert $& into <<script>>"

[2021-09-27 09:16] vivekverma2312 opened #7849 "[Bug] If we hover on table column with large dataset in column then tooltip flickers"
### Steps to reproduce the behaviour:
1. Drag and drop a table widget
2. Bind the data such that any column has huge data
3. Hover on the data
4. Observe that the tooltip flickers

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/973ad0ac15924ed7844455471fa58d46-00001.gif)](https://www.loom.com/share/973ad0ac15924ed7844455471fa58d46)

### Important Details

- Version: [Cloud / Self-Hosted vx.

[2021-09-27 09:17] somangshu commented on #3360
Momcilo Milijasevic Abhishek Nayak this is not covering the PRD, simply restyling the current widget is not out goal, We also have additional options like save and copy that need to be an option for the end user (if allowed by the developer)

Apart from the the mode according to me should be an option in the property pane, I dont see why the end user needs this option.

@areyabhishek regarding the

[2021-09-27 09:28] somangshu commented on #7838
With the latest change #3407, the click on action is not going to select row, Instead will set an internal property called as `triggeredRow`, And references to `{{table.selectedRow}}` will need to change to the new property in the template applications.

[2021-09-27 09:31] areyabhishek commented on #3360
@somangshu The UI looks inconsistent with what we have today. Can we simplify the current editor to only include the essential features? We can then only style the essential features the right way.

I'm worried about this widget's styling because it looks so bad and totally out of place in Appsmith.

[2021-09-27 09:35] marks0351 opened #7850 "[Feature] Drag and Resize Reflow - Cypress & Jest Tests"

[2021-09-27 09:47] ramsaptami commented on #7846
@akash-codemonk AKAIR, clicking on Debug would navigate to the widget. There's an example action I've repro'd on an object that has retained the previous action. This issue was raised by Arpit last week regarding concerns of how the debugger is triggered.
https://www.loom.com/share/27e86b06c3224fefb257555cda075ee9

My bad, the opposite didn't happen before. The documentation pop-up opened up. But

[2021-09-27 10:00] akash-codemonk commented on #7846
For e.g this wouldn't make sense if we do this on api/query screen debugger. Clicking on an error(of a widget) would show the popup then the user would be navigated away from that screen to a widget.
The user can navigate to a widget, when the user clicks on the name in the error in the debugger.

[2021-09-27 10:25] ramsaptami opened #7852 "[Bug] UX/UI issues and improvements currently on release"
## Description
These issues are currently present on release and on the design system DP (7304) as well.

- [ ] The **three dots** on the Editor pane open the options pop-up but does not close it on clicking it a second time. **Esc key** does not close the options pop-up either which makes it essentially stuck and options behind it are inaccessible for the user.
![image](https://user-images.github

[2021-09-27 10:26] ramsaptami opened #7853 "[Bug] Appsmith design system improvements on DP (7304)"
## Description

- [x] #8054
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2076fb10d3fd49dba36336a8dd9189c5-00001.gif)](https://www.loom.com/share/2076fb10d3fd49dba36336a8dd9189c5)

- [x] #8065
![image](https://user-images.githubusercontent.com/79509062/134868297-e13d0022-876a-45c2-ae02-32c1f6881f32.png)

- [x] The arrow for Share button is not the same colour as text and hover mode turns i

[2021-09-27 10:29] ramsaptami opened #7854 "[Bug] Clicking `+` widgets does not open widgets tray on entity explorer"
## Description
Clicking `+` widgets does not open widgets tray on entity explorer

### Steps to reproduce the behaviour:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d7890a74e9464de7b2582ddbcebc44b0-00001.gif)](https://www.loom.com/share/d7890a74e9464de7b2582ddbcebc44b0)

### Important Details
- Version: Cloud
- OS: Win10
- Browser: Chrome
- Environment: Release

[2021-09-27 10:32] rahulramesha opened #7855 "[Task] Add Ctrl + y for windows users to Redo"
## SubTasks
- Add CTRL + Y to Undo for windows users
- Should see CTRL + Y on REDO toasts

[2021-09-27 11:18] pranavkanade commented on #6718
This has been fix with - https://github.com/appsmithorg/appsmith/pull/6767

[2021-09-27 11:18] #6718 closed

[2021-09-27 11:24] #7473 closed

[2021-09-27 11:24] hiteshjoshi commented on #7615
@akash-codemonk @hetunandu can any of you guys dig in and confirm if this is because of debugger or something else

[2021-09-27 11:29] #7710 closed

[2021-09-27 11:31] rishabhsaxena commented on #6013
Duplication of #7496

[2021-09-27 11:31] #6013 closed

[2021-09-27 11:35] #7203 closed

[2021-09-27 11:35] nidhi-nair commented on #7835
Hey @tawakol, when you say you're running a custom instance with Docker, could you please specify how you've brought this new instance up?

[2021-09-27 11:40] Rishabh-Rathod opened #7860 "[Task] generate CRUD success popup improvement"
- Increase the time to switch from GIF to the information image.
- Preload images

[2021-09-27 11:42] sharat87 opened #7861 "Helm Charts for fat container"

[2021-09-27 11:47] tawakol commented on #7835
Sure, I followed the steps for the 'Long Start' with the docker-compose.yml at this link:

https://docs.appsmith.com/setup/docker

[2021-09-27 11:48] sharat87 opened #7862 "Restart API and auto-restart on saving config changes"

[2021-09-27 11:54] sumitsum opened #7863 "[Feature] Show readable error message if present"
## Summary
- To make error messages more readable, an new attribute `readableError` is added to `ActionExecutionResult` object that is returned to the client post action execution.
- Client needs to check if `readableError` attribute is non-empty and display it if so, otherwise go for default flow.
- In case of debugger, both the current error message and the `readableError` needs to be present, s

[2021-09-27 12:10] aamita96 commented on #7772
Hello Sir, I would like to look into this issue.

[2021-09-27 12:35] YogeshJayaseelan opened #7865 "[Bug] Audio widget turns into an Video when any of the video url is passed in the audio widget url field"
## Description
Audio Video - It is observed that when any of the video url is passed into the audio widget url field the widget turns into video mode

Expected Result:
The audio widget should still remain as an audio format when video url is passed

### Steps to reproduce the behaviour:

1. Launch Appmsith app in the release/Prod environment
2. Drag and drop audio widget
3. Pass any of the video u

[2021-09-27 12:40] YogeshJayaseelan opened #7866 "[Enhancement] To add Disable functionality in the audio widget"
## Description
Audio Widget - Release/Production - Currently there is no option to disable audio widget

Expected Result:
To add disable toggle functionality in the audio widget

### Steps to reproduce the behaviour:
1. Launch Appmsith app in release or prod environment
2. Drag and drop audio widget
3. Open property pane and observe

### Important Details

- Version: [11.3]
- OS: [MacOS Big sur]
-

[2021-09-27 12:48] somangshu commented on #7497
@RakshaKShetty do you know how to reproduce this?

[2021-09-27 12:49] YogeshJayaseelan opened #7867 "[Bug] Audio dragger is not smoother and on dragging the entire widget gets dragged"
## Description
Audio Widget - Release/Production - IT is observed that user is unable to drag audio to back and front. Moving the dragger the widget gets dragged

Expected Result:
Dragging audio to back and front should be easier by click+hold+Drag

### Steps to reproduce the behaviour:

1.Launch Appmsith app in the release/Production environment
2.drag and drop audio widget
3.Click on play button

[2021-09-27 12:50] UXFalcon opened #7868 "[Bug]Audio option hidden on edit mode"
## Description

**Audio option hidden on edit mode has been going under the main navigation pane**
the option working fine on View mode though
![Capture](https://user-images.githubusercontent.com/90375262/134911255-21160d47-9f39-47f9-9879-c4b2cd7e3140.PNG)

[2021-09-27 13:00] prapullac commented on #7743
The form didn't crash and didn't observe the error in the dev tools

[2021-09-27 13:12] nidhi-nair commented on #7835
@tawakol Ah I see, I have been able to reproduce this. Let me try to RCA this issue and get back to you.

[2021-09-27 13:17] YogeshJayaseelan opened #7869 "[Bug] Syntax Error - 'Unexpected token' error is received when Audio widget OnEnd action is set to download"
## Description
Audio Widget - Release/Production - It is observed that Syntax Error - 'Unexpected token' error is received when Audio widget OnEnd action is set to download and leaving file name with extension and file type empty

Expected Result:
If the file name and file type is not passed - valid error message can be displayed instead of 'Syntax error - 'Unexpected token' error

### Steps to re

[2021-09-27 13:39] YogeshJayaseelan opened #7870 "[Bug] The OnPlay and OnPause actions message are displayed on clicking on forward or backward on the audio dragger"
## Description
Audio Widget - Release/Production - It is observed that the OnPlay and OnPause message are also displayed when the user clicks front or back on the audio dragger

Expected result:
OnPlay message should only display on clicking on play button and OnPause message should display only on clicking pause button

### Steps to reproduce the behaviour:

1. Launch App smith app in the release

[2021-09-27 13:52] ramsaptami opened #7871 "[Enhancement] Need an option to center align text and icon"
## Summary
Currently, when an icon is selected for any widget, there are only right and left alignment options. It would be nice to have a center alignment of the icon and text.

## Motivation
![image](https://user-images.githubusercontent.com/79509062/134921769-bce2b0ac-b134-422b-832a-78ae03ecf16f.png)

[2021-09-27 13:53] somangshu commented on #7868
Found out from [here](https://github.com/cookpete/react-player/issues/1238) that the issue with the underlying package, and is existing for the video player as well. This was never caught because probably user always use the youtube player which resolves the issue because of their own custom implementation.

![Screenshot 2021-09-27 at 7 18 16 PM](https://user-images.githubusercontent.com/11089579/

[2021-09-27 13:59] sharat87 commented on #7473
Hey @nicolasmoreira, the AMI was fixed and approved over the weekend. :tada:

Can you try again now please? If you face any problems, please let us know :)

[2021-09-27 14:07] mohanarpit commented on #7772
@aamita96 It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate it if you can open a PR within the next 2 days.

[2021-09-27 14:11] #1426 closed

[2021-09-27 14:12] #7191 closed

[2021-09-27 14:12] #5489 closed

[2021-09-27 14:21] aswathkk commented on #7869
@YogeshJayaseelan This seems like a syntax error you made in the `onEnd` field.
You cannot type `download(,,)`.
You can check the [documentation for the download function](https://docs.appsmith.com/framework-reference/download#download) if needed.

[2021-09-27 14:42] aamita96 commented on #7772
Definitely will try to resolve it as soon as posible.

[2021-09-27 15:08] somangshu commented on #7838
Because this feature has broken apps, we have decided that the following changes will be made in order to rectify that
Note:
- On button click the selectedRow will be set and the onRowSelected will be triggered
- On button click the triggeredRow will continue to get set
- The row must not de-select on click of the selected row action button again
- No migrations or reverse migrations are required

[2021-09-27 15:36] hiteshjoshi opened #7872 "[Bug] MultiSelect Default Value return value is not string."
## Description

The expected structure of multi select values are `Array<{ "label": "string", "value": "string" }>` and if we do INT and FLOAT on the value part the widget automatically converts it to string.
The same is not being followed on Default value. For e.g. if I put INT or FLOAT on default value, it doesn't automatically converts to string.

Behaviour of data type across the widget should

[2021-09-27 16:33] RakshaKShetty opened #7874 "[Bug]When user add an extra row and then try to add data in where clause the rows get deleted"
## Description When user add an extra row and then try to add data in where clause the rows get deleted

[What happened]when the user add multiple where clause then try to add data the line items deletes automatically

### Steps to reproduce the behaviour:

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f3d487567ee64ff4b20e11e0106f2f81-00001.gif)](https://www.loom.com/share/f3d487567ee64ff4

[2021-09-27 16:45] RakshaKShetty opened #7875 "[Bug]-[22500]:The evaluated value is displayed as undefined in google sheets"
## Description

[What happened]The evaluated value is displayed as undefined

### Steps to reproduce the behaviour:

![image](https://user-images.githubusercontent.com/45958978/134951098-5c681a15-4e7a-4c40-8b61-d66671e74413.png)

### Important Details

- Version: [Cloud ]
- OS: MacOS
- Browser chrome,
- Environment  release

[2021-09-27 16:50] RakshaKShetty opened #7876 "[Bug]Document update for google sheet"
## Description
The old image is displayed when the user clicks on the documentation link from the google sheet query pane

### What happened
When the user clicks on the documentation link from the query pane, the Image in the doc is very old it needs to be updated.

In order to do this, please create a contribution to our documentation repository by following the [Documentation Contribution Guidel

[2021-09-27 17:08] RakshaKShetty opened #7877 "[Bug]The "Mark all as read" button is not displayed in the notification section on the safari browser"
## Description

[What happened] "Mark all as read" button is not displayed in the notification section on the safari browser

### Steps to reproduce the behaviour:
![image](https://user-images.githubusercontent.com/45958978/134952850-718c8cc3-f59b-4484-8e87-94551760ddfc.png)

### Important Details

- Version: [Cloud]
- OS: macOS
- Browser chrome
- Environment release

[2021-09-27 18:25] #7406 closed

[2021-09-27 20:42] fcatanzaro commented on #3183
Huge game changer. Agree with commenter above.

[2021-09-27 23:57] tlawrence-TAG opened #7879 "[Feature] Set the default sort of a field"
## Summary

Add the ability to set the sort order of a field - ascending or descending. Doesn't mean the user in view mode **can't** change it but at least I know I have it set for the application.

## Motivation

There's either a bug in the table widget or the actual page itself that stops data from sorting based on the data that comes back from the database or API.

Setting the default sort from

[2021-09-28 02:26] tlawrence-TAG commented on #2502
When is this functionality being implemented?

[2021-09-28 04:55] YogeshJayaseelan opened #7881 "[Bug] Unable to open property pane for any of the widgets in canvas when two audio widget is placed nearby and resized"
## Description
Audio Widget - Release/Production - It is observed that when the two audio widgets are placed nearby and on resizing the widget user is unable to open any of the property pane unless the page is refreshed

Expected Result:
Placing widgets nearby and resizing user should be able to open property pane

### Steps to reproduce the behaviour:

1. Launch Appmsith app in release or Prod en

[2021-09-28 05:04] abhvsn opened #7882 "[Bug] Improve punctuations in generate page template"
## Description

There shouldn’t be a gap between punctuation and the preceding word.
<img width="155" alt="Screen Shot 2021-09-27 at 3 20 24 PM" src="https://user-images.githubusercontent.com/41686026/135026329-03a3a86b-a3a2-45fd-99a0-1123d53297c9.png">

[2021-09-28 05:39] #7389 closed

[2021-09-28 06:22] vibhandikyash commented on #6518
https://images.zenhubusercontent.com/275993885/f1d76b61-27af-45aa-b849-234bb61ac218/table_resizing.mov
As per the issue this is already working as expected. Closing this for now.
cc: @somangshu

[2021-09-28 06:24] somangshu commented on #7872
@Tooluloope @SatishGandham this is happening in case of the select widget too. The widget need to accept both string and int value, This failed because of a change in #7698, We need to make sure how to cover the cases here.

[2021-09-28 06:28] #7660 closed

[2021-09-28 06:43] ramsaptami commented on #7390
This particular scenarios seems to be working. I'll close this for now and reopen when I come across this again since I have seen this before but can't recollect the steps for repro.

[2021-09-28 07:01] pranavkanade opened #7884 "[Task] Remove comment toggle for anonymous users"

[2021-09-28 07:12] marks0351 opened #7886 "[Bug] Tabs widget individual tab or any canvas widget should not be allowed to copy/cut/paste/delete"
## Description

[What happened]

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots
- Add a Tabs widget
- Use entity explorer to select one of the tabs
- perform CMD + C and CMD + V
- a copy of canvas is seen which should not be allowed.

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser

[2021-09-28 07:25] albinAppsmith commented on #7854
@ramsaptami This is fixed and deployed in DP

[2021-09-28 07:28] somangshu commented on #7834
@Tooluloope need to verify is this is related to #7872

[2021-09-28 07:28] somangshu commented on #7628
@vivekverma2312 why is this not verified yet?

[2021-09-28 07:36] sbalaji1192 opened #7887 "[Bug] Pressing `esc` appends `isCommentMode=false` to the url"
## Description

When a user is on editor, pressing `esc` appends `isCommentMode=false` to the url.

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

1. Go to editor.
2. press `esc`.
3. observe that `isCommentMode=false` is added to url.

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Brows

[2021-09-28 07:42] momcilo-appsmith opened #7888 "[Task] Collaboration experience for the end-user"
# Objective
The collaboration feature that we currently have is made for the developers/editors. We want to make the experience pleasant for the end-user as well. This includes onboarding as well as navigation.

# Current problems
- The mode buttons in the navigation are not in the right place
- The GIFs in the onboarding are low quality

# Requirements
| Requirement   | User Story | Importance |

[2021-09-28 07:50] zzgvh commented on #7833
Oh, it appears that the documentation is ahead of reality 'cause there it already says [true is default](https://docs.appsmith.com/framework-reference/resetwidget)! :wink:

Anyway, thanks for the explanation!

[2021-09-28 08:28] sumitsum opened #7893 "[Bug] Migrate s3 plugin specified templates to mark permanent url toggle as `No` for list action for older actions."
## Description
The permanent url toggle was added recently to list action. It was turned off by default to not change the number of keys returned for the list action so that already running applications don't break. The toggle was recently turned to `Yes` by default so that any new action that gets created has this setting as `Yes`. However, no migration was done for older actions - that didn't ha

[2021-09-28 08:32] nidhi-nair commented on #6762
Closing this as this was an environment related issue

[2021-09-28 08:32] #6762 closed

[2021-09-28 08:34] ramsaptami opened #7894 "[Enhancement] Toast messages for application, org and page modifications"
## Summary
Add toast bars for application, organization and page addition, deletion or copy actions. Adding, removing users and widgets

## Motivation
https://www.figma.com/file/dLgbc6Nw3DY9yYLqPJJR2i/Improve-signposting-across-the-app-%7C-Wed-30-June-2021?node-id=201%3A56580

[2021-09-28 08:35] nidhi-nair commented on #4273
Fixed in #7560

[2021-09-28 08:35] #4273 closed

[2021-09-28 08:41] riodeuno commented on #7536
The issue results due to legacy code. When we moved from using numbers to index primary columns (`primaryColumns[0].computedValue`) to use the keys of the columns (`primaryColumns.id.computedValue`), this part of the code became obsolete. We have not yet revisited this particular scenario. I would suggest, we go through [this update hook](https://github.com/appsmithorg/appsmith/blob/f6d2e89ae306a9

[2021-09-28 08:59] riodeuno commented on #7500
@somangshu @Nikhil-Nandagopal

Findings:
- This does not crash or effect the user's experience. It is console error shown by chrome.
- This is not reproducible when messing around with the record, pause and stop features.

Based on the above findings, I would decrease the priority of this from Critical and add Need more info to this, so that we can revisit this when the issue presents itself again

[2021-09-28 09:07] #7884 closed

[2021-09-28 09:19] riodeuno commented on #4757
One approach suggested by @areyabhishek Is to use `_` separated column names internally, while replacing `_` with spaces when displaying in the column headers.

[2021-09-28 09:32] pranavkanade commented on #685
@nayan-rafiq do you have bandwidth to work on this issue, this week?

[2021-09-28 09:41] hetunandu commented on #7576
@zzgvh This is happening because `onTextChange` is called in a debounced fashion. It has nothing to do with `storeValue` from what I can see. In my testing, I saw that updates were delayed but the order was correct.

[2021-09-28 09:43] hetunandu commented on #7673
Fixed with #7671

[2021-09-28 09:45] hetunandu commented on #7754
@mohanarpit this sounds similar to the dry run/draft functionality we had earlier.

[2021-09-28 09:52] Nikhil-Nandagopal commented on #7606
@arunvjn this seems to still be happening

[2021-09-28 10:33] #6228 closed

[2021-09-28 10:37] arunvjn commented on #7302
@RakshaKShetty Can you please describe the expected behavior here ?

[2021-09-28 10:39] sumitsum commented on #5554
I have noticed that if I have `Api1` on page 1 and then I create a new API on page 2, then it gets created as `Api1` by default. This would have to be changed as well, in case the names are scoped across all pages.

[2021-09-28 10:57] #7838 closed

[2021-09-28 11:05] prapullac opened #7897 "[Enhancement] UX : Adding cross to close the comment section would help the user to close it easier"
When the user is new to the system and he just adds the name to the comment and skips the trail. The user would find it difficult to understand how he could close the comment section. Providing a cross mark(X) would make it more discoverable irrespective of the keyboard command used

[2021-09-28 11:06] hetunandu opened #7898 "[Bug] Entity names that are same as common window objects causes error in evaluation"
## Description
Entity names get added to global scope while evaluation and if the entity name is some critical global object, it will crash the evaluation.

<img width="276" alt="Screenshot 2021-09-28 at 4 35 53 PM" src="https://user-images.githubusercontent.com/12022471/135075589-775a1aa2-4413-4907-9246-a375f6d6ac91.png">

### Steps to reproduce the behaviour:

1. Rename a widget or action as "lo

[2021-09-28 11:09] SatishGandham commented on #7872
We are reverting the validation changes and continue to support numbers and boolean values.

[2021-09-28 11:28] nidhi-nair commented on #7835
@tawakol This was an issue with the Docker image we were using in the link you provided, we have fixed this now and the new image should be created with our next release. If you would like a quick fix to the issue let me know and I can work with you for a work around.

[2021-09-28 11:28] sumitsum commented on #5554
@Nikhil-Nandagopal As per the discussion we had today in the actions pod daily standup, the action names should be unique only within a page. Across pages, the names can coincide. There is another issue raised regarding this : https://github.com/appsmithorg/appsmith/issues/7301

[2021-09-28 11:36] zzgvh opened #7899 "[Bug] Number input field set to 0 is not valid until "wiggled""
## Description

In the attached app, the form will not validate unless the Input widgets set to 0 are changed to 1 and then back to 0.

### Steps to reproduce the behaviour:

Run the app and follow the text by the inputs :smiley:

### Important Details

[Validation bug.txt](https://github.com/appsmithorg/appsmith/files/7243557/Validation.bug.txt) Change the extension to .json!

- Version: Cloud
-

[2021-09-28 11:54] prapullac opened #7900 "[Bug] when the header is not added to cURL command default must be empty"
Steps to reproduce:
1) Add a cURL by removing a header
2) Click on the import
and observe

Observation:
It is observed that when the cURL is converted to API by default the header is considered as  "Form URL" even when the data sent is Json and retrieving of data is also not displayed properly. Even on changing the body selection, the data retrieving is. not appropriate

Expectation:
When the head

[2021-09-28 12:43] #7008 closed

[2021-09-28 12:44] ramsaptami commented on #7617
@haojin111 Can the bottom bit marked in the screenshot also be looked into?
![image](https://user-images.githubusercontent.com/79509062/135089262-92043ccd-635d-402c-acbb-9994f02af44c.png)

[2021-09-28 12:45] #7622 closed

[2021-09-28 12:45] AnaghHegde commented on #7784
Above ones are completed.

[2021-09-28 12:45] #7626 closed

[2021-09-28 12:46] #7635 closed

[2021-09-28 13:12] Tooluloope commented on #7536
@riodeuno would it be possible to recreate this issue?

[2021-09-28 13:16] ramsaptami commented on #7617
The first app card does not have the three dots `...`
![image](https://user-images.githubusercontent.com/79509062/135094323-e2759117-60ce-4a2a-8f5d-480086867282.png)

[2021-09-28 14:08] #7872 closed

[2021-09-28 14:40] tazmaniax commented on #7176
This is similar to https://github.com/appsmithorg/appsmith/issues/3741

[2021-09-28 14:40] tazmaniax commented on #3741
This is similar to https://github.com/appsmithorg/appsmith/issues/7176

[2021-09-28 14:41] tazmaniax commented on #7176
Hi, is there a rough timeline when this might be resolved? thx!

[2021-09-28 14:45] Nikhil-Nandagopal commented on #2502
@tlawrence-TAG this isn't prioritised yet. Any reason this is urgent for you? If you're on cloud, I can help delete your org. If you're self hosted, you can add a dummy admin and leave your org

[2021-09-28 14:54] tlawrence-TAG commented on #2502
Not a priority, just an inconvenience.

[2021-09-28 15:01] areyabhishek commented on #7803
@pawan43563 For sure! Please go ahead

[2021-09-28 15:11] aswathkk commented on #7802
The following is what I see. The vertical alignment looks proper to me.

![Screenshot 2021-09-28 at 8 39 54 PM](https://user-images.githubusercontent.com/10436935/135114882-bd14c123-1b29-4dbf-92b4-66ffd7e2cf8a.png)

[2021-09-28 15:20] aswathkk opened #7903 "[Enhancement] Action label for "Show Message" should be "Show Alert""
## Summary

on the property pane action, the label says "Show Message" where as the actual function behind it is "showAlert()"

## Motivation

I think this has to be consistent to reduce cognitive load for the user.

## Additional Context
![Screenshot 2021-09-28 at 8 44 17 PM](https://user-images.githubusercontent.com/10436935/135116201-6535a708-b814-4c31-b597-58338416227e.png)

![Screenshot 2021-

[2021-09-28 15:34] pcollellmir commented on #518
It would be basic to have this feature for my company to start using AppSmith

[2021-09-28 16:14] cokoghenun opened #7904 "Hacktoberfest Content Submission"
## Hacktoberfest Content Submission
This issue was created to track content submission for Hacktoberfest. Valid content submissions include:
- Templates applications
- Written content i.e blogs, tutorials, how-to guides
- Video content i.e tutorials, how-to guides

## Submission Steps
### Template Applications
1. [Signup for Appsmith](https://app.appsmith.com/) and build a template application
1.

[2021-09-28 17:22] areyabhishek commented on #7887
Hi! I'm interested in working on this issue. Could you assign this to me?

[2021-09-28 17:23] mohanarpit commented on #7887
It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

[2021-09-28 17:31] Nikhil-Nandagopal commented on #7879
@tlawrence-TAG can you clarify this issue? The table should automatically be sorted by the sort order returned by your query. I cannot tell the difference between the 2 because the response of your query and the table have different columns or identical values

[2021-09-28 17:33] Nikhil-Nandagopal commented on #7500
Can we make sure this does not fire a sentry error?

[2021-09-28 17:38] sentry-io[bot] opened #7908 "[Bug] TypeError: Cannot read properties of undefined (reading 'children')"
Sentry Issue: [APPSMITH-178](https://sentry.io/organizations/appsmith/issues/2679729118/?referrer=github_integration)

[code]

[2021-09-28 17:42] sentry-io[bot] opened #7909 "Error: DataCloneError: Failed to execute 'postMessage' on 'DedicatedWorkerGlobalScope': function(){"
Sentry Issue: [APPSMITH-172](https://sentry.io/organizations/appsmith/issues/2676346205/?referrer=github_integration)

[code]

[2021-09-28 20:35] areyabhishek opened #7910 "[Bug]-[4000]:Fix inconsistent copy in Appsmith product"
There are areas of the product where we don't follow sentence case.

[2021-09-28 22:52] tlawrence-TAG commented on #7879
dm_insert_date = As of Date
work_year_month = Period

It is not sorting correctly. I've rebuilt the table from scratch, still doesn't sort. I have a copied a table that does sort correctly and put this data with it - still doesn't sort. I've created a new application and recreated the table and used the same query/data - sorts correctly.

[2021-09-29 03:25] developer-uhwi opened #7912 "[Feature] Change Administrator & Developer role to Global, and add new Editor role at the Application Level"
## Summary

One paragraph description of the feature.
**Remove the ability for regular users to create organizations and applications.**

1. Administrator & Developer roles should be at the global level, giving them the abilities to build apps and create organizations  as usual.
2. Editor & Viewer roles (Editor would be a new role) will have access at the App level. This new Editor role gives the

[2021-09-29 04:04] nidhi-nair commented on #6285
Closing since the POC for contribution app has been completed

[2021-09-29 04:04] #6285 closed

[2021-09-29 04:05] nidhi-nair commented on #5751
Closing in favour of #5579

[2021-09-29 04:05] #5751 closed

[2021-09-29 04:32] vnodecg opened #7913 "[Feature] Need more alignment options for button widget"
## Description

Current button widget has text aligned to extreme right when we have an icon. Its better if we provide the user option to align the text and icon in the way they desire

<img width="348" alt="Screenshot 2021-09-29 at 09 53 49" src="https://user-images.githubusercontent.com/4994565/135203593-e069cf2b-b43e-496d-a684-1ba704bab72c.png">

This should change for the menu button widget as

[2021-09-29 05:05] sbalaji1192 opened #7914 "[Feature][Enhancement]Keyboard interactions for dropdown component"
## Summary

Currently, the Appsmith design system's dropdown doesn't support keyboard interactions. It should support following ,

- [ ] `Tab` focus.
- [x] `Up` and `down` arrow key interaction to select an option.
- [x] `enter` key interaction to choose a particular option.

## Motivation
This changes will help user to fill out welcome form using just keyboard.

[2021-09-29 05:13] riodeuno commented on #7908
@marks0351 @jsartisan this issue seems to be happening during paste. Please triage and figure out why the parent is missing.

[2021-09-29 05:15] sentry-io[bot] opened #7916 "Error: ps(...): Nothing was returned from render. This usually means a return statement is missing. Or, ..."
Sentry Issue: [APPSMITH-15E](https://sentry.io/organizations/appsmith/issues/2655741795/?referrer=github_integration)

[code]

[2021-09-29 05:17] riodeuno commented on #7916
The application id is in the screenshot. We need to get access to this application and figure out what happened.

<img width="917" alt="Screenshot 2021-09-29 at 10 45 20 AM" src="https://user-images.githubusercontent.com/103687/135207529-8512e343-f17f-44ff-bd3a-de8423ba29d0.png">

[2021-09-29 05:21] vnodecg opened #7917 "[Feature] We need to show how to enable audio recording if the used failed to give permission on the first user"
## Summary

1. Current audio recorder widget doesn't show a way to give permission if the permission was denied. Not many users know how to enable permission once they are declined.  We link to pages like this to make this easier for the user.

https://help.sprucehealth.com/article/386-changing-permissions-for-video-and-audio-on-your-internet-browser

2. The permission for recording should be requ

[2021-09-29 05:29] hiteshjoshi commented on #7390
@akash-codemon
This is still happening.  Need to find why

https://user-images.githubusercontent.com/217911/135208575-38230105-7d57-48b0-b243-a08ebfa67c44.mov

[2021-09-29 05:39] pranavkanade commented on #7807
@ramsaptami can we close this?

[2021-09-29 05:42] somangshu commented on #7917
@jsartisan we need a design for the denied state, This should contain a helper link which takes the user on how to!

[2021-09-29 05:46] ramsaptami commented on #7807
We can close this now. The RTS update seems to have fixed things right now. I'm able to fork/import apps successfully.

[2021-09-29 05:46] #7807 closed

[2021-09-29 05:51] Nikhil-Nandagopal commented on #7390
It happens for new apps till the user gets an error in the widget. Create a new app and immediately try to create a query with an error. @akash-codemonk

[2021-09-29 05:53] #7459 closed

[2021-09-29 05:55] somangshu commented on #7913
Probably needs a new control or use a dropdown

[2021-09-29 06:01] abhvsn opened #7919 "[Task] Add TC to include Smart Substitution in generate page"
## Description
Prevent accidental disabling of the smart substitution/prepared statements in the CRUD template application

[2021-09-29 06:02] vivekverma2312 opened #7920 "[Bug] If triggeredRow is getting deleted then the next index in table is getting selected as triggeredRow"
### Steps to reproduce the behaviour:

1. Create a CRUD UI app
2. drag and drop a text widget
3. Bind the widget with `triggeredRow`
3. Now click on delete action of the table
4. Observe that after the row gets deleted the next index in the table is getting selected

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7c30799a57e64de3a88c13e419f41e4c-00001.gif)](https://www.loom.com/share/7c3079

[2021-09-29 06:03] somangshu commented on #7920
The triggered row needs to unset on delete of the row, We might need a primary key defined by the user for this.

[2021-09-29 06:16] riodeuno opened #7921 "[Bug] When options are empty, the dropdown has this small box"
## Description
<img width="479" alt="Screenshot 2021-09-29 at 10 26 04 AM" src="https://user-images.githubusercontent.com/103687/135213026-a57437d1-3ae9-4908-a064-8ad0edef89b7.png">
reproduce this behaviour, include console / network logs & screenshots

### Steps to reproduce the behaviour:
Open a select widget when there are no options

### Important Details

- Version: All
- OS: MacOSX
- Browser

[2021-09-29 06:18] somangshu commented on #4757
Would we do the same for the old apps? It might break them.

[2021-09-29 06:22] somangshu commented on #4990
@riodeuno one solution here is to ask the user for selecting a column which can be the primary key to identify the data, So based on this key we can decide what row needs to be selected after the table data has updated. Let me know if this does not make sense

[2021-09-29 06:24] #7869 closed

[2021-09-29 06:31] somangshu commented on #7871
duplicate of #7913

[2021-09-29 06:31] #7871 closed

[2021-09-29 06:42] somangshu commented on #7866
There is nothing in our control which need to be disabled here, Video widget show us the same, Closing this for now.

[2021-09-29 06:42] #7866 closed

[2021-09-29 06:47] somangshu commented on #7865
As suggested by @aswathkk this will need a new audio widget package, hence this stands on a lower priority.

[2021-09-29 06:51] somangshu commented on #3360
@areyabhishek we can work on changing the basic UI of the widget to make it consistent, The functionality offered by the package is useful and lets us offer more to the user when it comes to JSON Widget, In case we do not want the functionality we will use a very basic package which can just display JSON is an indented manner.

My conclusion here would be that:
- Either use a basic JSON editor, pr

[2021-09-29 07:00] somangshu commented on #7565
Duplicate of #4757

[2021-09-29 07:00] #7565 closed

[2021-09-29 07:04] somangshu commented on #7819
This does not work for the currency and phone type as well

[2021-09-29 07:05] ramsaptami commented on #7854
Fixed and tested

[2021-09-29 07:18] areyabhishek commented on #3360
Please ensure UI consistency. That's my main point. It shouldn't look out of place in an Appsmith app. Once you decide the core features, we can style the app to work like that

[2021-09-29 07:18] albinAppsmith opened #7924 "[Bug] - Datasource design fixes"

[2021-09-29 07:19] albinAppsmith commented on #7924
1. remove bottom line from tabs
2. API panel - Body/Multipart alignment fixes
3. change copy, move, delete to remix icons
4. Datasource should be completely moved to ADS designs

[2021-09-29 07:43] Nikhil-Nandagopal commented on #7904
@cokoghenun how will users get their PR contribution like this?

[2021-09-29 08:00] akash-codemonk commented on #7390
@ramsaptami @hiteshjoshi @Nikhil-Nandagopal Tried quite a few ways. Finding it hard to replicate. Tried with a new application as well, new user and new organisation as well.

https://user-images.githubusercontent.com/67054171/135226844-ee6c9c25-1511-4096-ab2f-a628a7f83fb0.mov

[2021-09-29 08:02] arunvjn opened #7926 "[Bug] Invalid preloaded templates in query editors"
## Description
Recent linting feature highlights errors in the preload SQL query templates making the default editor state to be invalid.
Remove the templates till we can figure out a smarter way to show error-free templates.

### Steps to reproduce the behavior:

1. Setup any SQL based datasource
2. Click on New query option
3. Select a template (create, select..)
4. Editor sets itself to an inva

[2021-09-29 08:36] somangshu commented on #7737
@NandanAnantharamu what is expected here, Looks like this should be assigned to the owner of the test optimization

[2021-09-29 08:38] vivekverma2312 commented on #6377
Verified as part of regression as there was no steps to repro

[2021-09-29 08:42] vivekverma2312 commented on #6943
Verified as part of regression.

[2021-09-29 08:45] NandanAnantharamu commented on #7737
@somangshu as discussed, this is an intermittent issue, not a cypress issue.

[2021-09-29 08:47] trishaanand commented on #5990
I think that the UX still needs to be finalised for this interaction. Even though the change itself should be minor and easy to be picked up as a Good First Issue, this needs to be discussed in the team for the ramifications. Removing the GFI tag.

[2021-09-29 08:53] somangshu commented on #7737
@vivekverma2312 @YogeshJayaseelan can you verify this, if possible we will need some reproducible steps.

@NandanAnantharamu in case you know how to better debug this, Please let us know, Right now on cypress the only error i see is `CypressError: Timed out retrying`, I suspect something to do with eval here

[2021-09-29 08:58] NandanAnantharamu commented on #7737
@somangshu CypressError: Timed out retrying, this is seen because after delete the @updateLayout call happens. Since the Delete action hasn't worked the call hasn't happened and the test failed.

[2021-09-29 08:59] trishaanand commented on #5008
This issue is seen in the `Amazon S3 Plugin`.

The code for the plugin can be found at :  server/appsmith-plugins/amazonS3Plugin.

The solution for this would be to set path style to be true to allow accessing of buckets in different region. In the file `AmazonS3Plugin.java`, function `datasourceCreate()` creates the object `AmazonS3ClientBuilder s3ClientBuilder`. s3ClientBuilder should set the pa

[2021-09-29 09:04] trishaanand commented on #5008
According to AWS, path style referencing is [deprecated](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/).

@mohanarpit : Should we support this at all? Or should we request developer users to create different S3 datasources for each region?

[2021-09-29 09:05] trishaanand commented on #5008
Removing Good First Issue tag till we resolve if we need to solve this.

[2021-09-29 09:10] trishaanand commented on #2941
NOT a Good First Issue.

[2021-09-29 09:14] trishaanand commented on #1534
@hetunandu : Unable to reproduce this. Can you confirm if you still see this? Thanks!

[2021-09-29 09:16] suv95 opened #7929 "[Bug] appsmith/appsmith-server container exits all of a sudden"
## Description
I noticed that `appsmith/appsmith-server` container exits once in a while. I have attached relevant screenshots, including the logs from the exited container. What could be the possible reason for such a failure? How can I help to fix it?

<img width="1680" alt="Screenshot 2021-09-29 at 2 31 50 PM" src="https://user-images.githubusercontent.com/68137932/135239960-c8c93100-3d1a-4af7-

[2021-09-29 09:36] #6023 closed

[2021-09-29 09:36] #6024 closed

[2021-09-29 09:36] #7509 closed

[2021-09-29 09:36] #4561 closed

[2021-09-29 09:36] #4037 closed

[2021-09-29 09:37] #3628 closed

[2021-09-29 09:37] #4737 closed

[2021-09-29 09:38] vnodecg commented on #1004
In `NavigationActionSaga.ts` check if the page is available in the `pageList` before pushing it to `history`. If the page is not present throw an show an error message saying the `Page is not available` instead of navigating

[2021-09-29 09:42] hetunandu commented on #7516
Needs CSS styles update. A bottom border style exists but is getting hidden behind elements. A small margin in [FormRowWithLabel](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx#L34) component can fix this.

[code]

Results should look something like this.
<img width="1153" alt="Screenshot 2021-09-29 at 3 09 34 PM"

[2021-09-29 09:48] hetunandu commented on #7419
this issue no longer exists

[2021-09-29 09:48] #7419 closed

[2021-09-29 09:48] hetunandu commented on #7419
<img width="1407" alt="Screenshot 2021-09-29 at 3 18 31 PM" src="https://user-images.githubusercontent.com/12022471/135245392-29e3a22a-fa21-465d-8a61-49d43e1391ff.png">

[2021-09-29 09:52] ayushpahwa commented on #5006
Closed by #7534

[2021-09-29 09:52] #5006 closed

[2021-09-29 10:04] ApekshaBhosale commented on #4926
Needs CSS style update. File -  [ApiResponseView.tsx](https://github.com/appsmithorgappsmith/app/client/src/components/editorComponents/ApiResponseView.tsx)

[2021-09-29 10:05] hetunandu commented on #7391
The Integrations grid needs to be responsive to different screen sizes.

Look at [NewIntegrationsWrapper](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx#L77) and [MockDatasourceWrapper](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/Editor/IntegrationEditor/MockDataSources.tsx#L13) to start de

[2021-09-29 10:14] hetunandu commented on #6180
Fixed with #6017

[2021-09-29 10:14] #6180 closed

[2021-09-29 10:16] hetunandu commented on #6080
Cannot reproduce

[2021-09-29 10:16] #6080 closed

[2021-09-29 10:18] sumitsum commented on #5554
Closing in favor of #7301.

[2021-09-29 10:18] #5554 closed

[2021-09-29 10:19] prapullac commented on #6080
@hetunandu Can not reproduce the issue hence closing the issue

[2021-09-29 10:21] cokoghenun commented on #7904
Oh sorry, we only had in mind receiving Appsmith swag when this was created. @Pranay105 has a better idea so I'll delete this to avoid confusion

[2021-09-29 10:21] hetunandu commented on #5719
Not able to reproduce anymore

https://user-images.githubusercontent.com/12022471/135250815-879df3c5-e448-4992-bc88-ea4618bfebbc.mov

[2021-09-29 10:21] #5719 closed

[2021-09-29 10:24] hetunandu commented on #5618
Not able to reproduce anymore

https://user-images.githubusercontent.com/12022471/135251169-4fdafe86-1992-40aa-bac8-0f0c68c63a7b.mov

[2021-09-29 10:24] #5618 closed

[2021-09-29 10:25] prapullac commented on #5719
@hetunandu Can not reproduce the issue as dropdown now opens upwards.Hence closing the issue

[2021-09-29 10:26] hetunandu commented on #5078
Not able to reproduce @YogeshJayaseelan

[2021-09-29 10:26] #5078 closed

[2021-09-29 10:35] Nikhil-Nandagopal commented on #7390
@akash-codemonk found an amazing reason for this. If you press run it works. If you hit cmd + enter, it breaks

[2021-09-29 10:36] Nikhil-Nandagopal commented on #7390
@mohanarpit @ajinkyakulkarni @hiteshjoshi this sounds like bad code design somewhere

[2021-09-29 10:37] abhvsn commented on #7882
Resolved this issue as a part of [this](https://github.com/appsmithorg/appsmith/pull/7891) PR

[2021-09-29 10:47] akash-codemonk commented on #7390
@Nikhil-Nandagopal Doesn't seem to be the case. Seems to work with shortcut as well. It goes through the same action execution flow.

[2021-09-29 10:50] Tooluloope commented on #7834
Couldn't reproduce.
Likely fixed.

[2021-09-29 10:56] abhvsn commented on #7561
Closing this as we have already put null checks.

[2021-09-29 10:57] prapullac opened #7933 "[Bug] "Generate Page" does not look active as it is grey shaded"
Steps to reproduce :
1) Create a Datasource
and observe the data source on the Active tab

Scenario 2
1) Click on Active Datasource
2) Click on "Generate Page"
3) Add the required field
and observe the button "Generate Page"

Observation:
It is observed that the active button of "Generate page" (white colour)and inactive button "Generate page"(Grey colour)remains the same ie it is in shades of gre

[2021-09-29 11:10] jsartisan commented on #5595
Closing as it's been fixed.

[2021-09-29 11:10] #5595 closed

[2021-09-29 11:23] prapullac opened #7934 "[Bug] The evaluated value field moves into response pane which looks inappropriate"
Steps to reproduce:
1) Create a GSheet datasource
2) Navigate to create New API
3) Navigate to lower fields that are closer to the response field
4) Click on Row offset  and scroll
and observe that the evaluated value field

Observation:
It is observed that on scrolling the evaluated value field moves into the response field which does not look appropriate as it does not belong to the place

Expec

[2021-09-29 11:27] trishaanand commented on #5005
Need to investigate a better command which all db users would have access to, to ascertain if the connection can be established. I would reckon that this is not a Good First Issue.

[2021-09-29 11:35] y471n commented on #7516
Can you assign this to me?

[2021-09-29 11:41] sharat87 commented on #7929
Hey @suv95, from your screenshot, it looks like it's `appsmith-editor` that's down, and `appsmith-server` is actually up.

That said, this happens when the `appsmith-editor` and `appsmith-server` container and updated and are restarted at the same time. The nginx container (`appsmith-editor`) will fail to contact the upstream server container, because nginx starts much faster than Java, and then i

[2021-09-29 11:51] #6602 closed

[2021-09-29 11:51] abhvsn commented on #6602
Closing this as already resolved

[2021-09-29 11:57] jsartisan commented on #7868
@somangshu Assigning this as the good first issue as we can't really do much to fix it but hide that context menu

`controlsList="nofullscreen nodownload noremoteplayback noplaybackrate "`

[2021-09-29 11:58] ApekshaBhosale commented on #2754
text change from "Datasource connected" to "Datasource Saved"
file - [Connected.tsx](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/Editor/DataSourceEditor/Connected.tsx)

[2021-09-29 12:03] #7751 closed

[2021-09-29 12:04] ApekshaBhosale opened #7936 "[Task] Improving status of datasource created"
'Datasource Connected' seems to be a constant heading to the datasource view pane. Such a heading does not make sense when the datasource is invalid.

We should show  datasource state appropriately (connected/ invalid)

Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots

1. Create any DB datasource.
2. Do no fill any fields, just g

[2021-09-29 12:23] YogeshJayaseelan opened #7937 "[Bug] user is able to select radio option beyond the selection area"
## Description
Release - It is observed that user is able to select radio option beyond the selection area - This happens in both edit and deploy mode

Expected Result:
user should be able to select radio option only by clicking on the radio icon

### Steps to reproduce the behaviour:

1. Launch appmsith app in the release environment
2. Drag and drop radio button
3. Expand the widget Horizontally

[2021-09-29 12:32] Rishabh-Rathod opened #7938 "(JS-0323) Detected usage of the `any` type"
## Description
The `any` type can sometimes leak into your codebase. TypeScript compiler skips the type checking of the `any` typed variables, so it creates a potential safety hole, and source of bugs in your codebase. We recommend using `unknown` or `never` type variable.

## Occurrences
There are 1648 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsou

[2021-09-29 12:35] Rishabh-Rathod opened #7939 "(JS-0049) Avoid square-bracket notation when accessing properties"
## Description
In JavaScript, there are two ways to access properties of object: - dot-notation `(object.property)` ( Recommended ) - square-bracket notation `(object[&quot;property&quot;])` ( Bad Practice ) The dot notation is often preferred because it is easier to read, less verbose, and works better with aggressive JavaScript minimizers.

## Occurrences
There are 28 occurrences of this issue i

[2021-09-29 12:36] YogeshJayaseelan opened #7940 "[Bug] The vertical scroll bar in the entity explorer is not visible clearly"
## Description
Release - It is observed that the vertical scroll bar in the entity explorer is not visible clearly because the background colour of entity explorer and the scroll bar colour are same.

Also, there is an horizontal scroll bar in entity explorer which is not required

Expected Result:
Vertical scroll bar should be visible clearly and the horizontal scroll bar is not required for the

[2021-09-29 12:38] Rishabh-Rathod opened #7941 "(JS-0102) Use let instead of var & Prefer var declarations be placed at the top of their scope"
## Description
Declare variables at the top of their scope as it improves code readability, performance and also helps in code navigation.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/appsmithorg/appsmith/issue/JS-0102/occurrences/](https://deepsource.io/gh/appsmithorg/appsmith/issue/JS-0102/occurrences/)

[2021-09-29 12:48] Rishabh-Rathod opened #7942 "(JS-0737) Prefer meaningful alternative text"
## Description
The alternative text attached to any content is a critical component of accessibility for screen reader users as it helps them understand the content&#x27;s purpose on the page. By default, this rule checks for alternative text on the following elements: `&lt;img&gt;`, `&lt;area&gt;`, `&lt;input type=&quot;image&quot;&gt;`, and `&lt;object&gt;`.

## Occurrences
There are 16 occurren

[2021-09-29 12:50] Rishabh-Rathod opened #7943 "(JS-0458) Definitions for unused states detected"
## Description
You should avoid defining states that are not being used because unused states might affect while refactoring the codebase and introduces unnecessary operations by ReactJS. It is recommended to plan the behavior and operation of the component.

## Occurrences
There are 9 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/appsmith

[2021-09-29 12:54] YogeshJayaseelan opened #7944 "[Bug] Alignment of the Multitree-select widget in the entity explorer is improper"
## Description
Release - It is observed that the alignment of the Multitree-select is improper - The widget is placed little higher when compared to modal and Multi-select widget

Expected Result:
The alignment of widget should be equal in the entity explorer

### Steps to reproduce the behaviour:

1. Launch Appmsith App in the release environment
2. Open any of the app and observe the placement o

[2021-09-29 13:06] YogeshJayaseelan opened #7945 "[Bug] The Icon size of the Rate widget is smaller compared to all other widget in the entity explorer"
## Description
Release - It is observed that the icon size of the rate widget is smaller compared to the all other widgets in the entity explorer

Expected Result:
Icon size of widget in the entity explorer should be same for all widget

### Steps to reproduce the behaviour:

1. Launch appsmith app in the release environment
2. Open any of the app and observe the icon size of rate widget

### Impo

[2021-09-29 13:44] #7854 closed

[2021-09-29 13:54] #7904 closed

[2021-09-29 14:02] ApekshaBhosale opened #7947 "[Bug] clicking on debug button in Toaster doesn't open error tab on debugger"
## Description

Debug button in the toaster does not take the user to the error tab on the debugger.  It happens now on canvas but we need this everywhere. Refactor to use this anywhere in Appsmith

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

1. Create js object
2.  add Api1.run() to run function. Api is not configured

[2021-09-29 14:07] #7417 closed

[2021-09-29 14:23] Hard-Coder05 commented on #7943
@Rishabh-Rathod I would like to work on this issue. Please assign me this!

[2021-09-29 14:29] marks0351 commented on #2308
As per discussions, we are going to take up copy paste initiatives in a separate issue #5150. This Epic will focused only on resizing a widget to allow dropping while dragging and reflowing(Relative Push Reflow) other widgets while resizing a widget.
cc: @somangshu @riodeuno @rahulramesha @Nikhil-Nandagopal @areyabhishek

[2021-09-29 15:15] rishabhsaxena opened #7948 "[Feature] Button tooltip enhancements"
## Summary
Button tooltip enhancements.

- Line breaks within the content aren't supported currently.
Quoting based on feedback:
[code]

[2021-09-29 15:40] sahil9001 commented on #7942
Hey @Rishabh-Rathod ! can I take this issue?

[2021-09-29 15:50] robertoamoreno opened #7949 "[Bug] Uploading File to S3 not able to upload to root of the s3"
## Description

When using the upload s3 bucket it always saves files under a folder "/" instead of the root of the bucket.

[2021-09-29 16:41] Chiradeep-Banik commented on #7939
Hey I could help with this..

[2021-09-29 16:45] ohansFavour commented on #7516
Hi @y471n , this issue is already fixed in this [PR](https://github.com/appsmithorg/appsmith/pull/7550).

[2021-09-29 17:17] Rishabh-Rathod commented on #7939
Hey @Chiradeep-Banik, Yes this occurs in only 2 files. You can go ahead and contribute 😁

[2021-09-29 17:21] Rishabh-Rathod opened #7951 "(JS-0008) Duplicate case labels found in switch case"
## Description
If a `switch` statement has duplicate test expressions in its `case` clauses, the clause may be repeated or mistyped. It ensures that the offending `case` clause is correct. We support Autofix for this issue. During Autofix, we remove the duplicate switch case (i.e., the second case) as all javascript engines …

## Occurrences
There is 1 occurrence of this issue in the repository.

[2021-09-29 17:28] Rishabh-Rathod opened #7952 "(JS-0356) Found unused variables"
## Description
Removing unused variables and imports from your code is recommended because variables and imports which are declared and not used anywhere in the code are most likely an error due to incomplete refactoring. Such unused items take up space and add code that will be unnecessarily executed in production.

## Occurrences
There are 4 occurrences of this issue in the repository.

See all

[2021-09-29 17:36] aayushbisen commented on #7951
Is the issue up for grabs? I am interested to fix the issue.

[2021-09-29 17:43] Rishabh-Rathod commented on #7951
Yes, @aayushbisen, you can go ahead and contribute. 😁

[2021-09-29 18:10] aayushbisen commented on #7951
Also unrelated to this issue the discord invite link in the CONTRIBUTING.md is expired.
Kindly check.

[2021-09-29 19:00] Schnurres commented on #3369
I feel like the possiblity to add theming or add custom colors to reuse within the app would really improve Appsmith and make it more attractive for private and enterprise customers.

[2021-09-29 19:03] Schnurres commented on #7948
Better tooltips in general would help. My company uses a competing low code tool a lot and that tool offers more flexible tooltips. We implement the entire 'help' section of our application within tooltips. We got text-labels on every page or near important widges that say 'help' and when you hover over them a giant tooltip with helpful advice on how to use the page/widget is shown.

[2021-09-29 19:11] Saad-ISAA opened #7955 "Strapi Widget"
## Summary
A strapi widget will will allow to pull data from strapi collections, and use appsmith to make interactive charts, dashboards based on data points. Strapi Lacks dashboards, and since appsmith is used to create internal tools, it will be very helpful if we had a strapi widget in appsmith.

## Motivation

I have around 30 strapi projects running for different clients, and for every client

[2021-09-29 19:33] Nikhil-Nandagopal commented on #7605
@ayushpahwa can we please fix this on priority? Seeing a lot of these

[2021-09-29 19:37] Nikhil-Nandagopal commented on #7955
Thanks for this fantastic feature request @Saad-ISAA ! We'll add a strapi integration soon!

[2021-09-29 19:40] aanchal-fatwani commented on #7952
Hi, I would like to work on this issue. Please assign the same.

[2021-09-29 20:14] aanchal-fatwani commented on #7941
Hi, I would like to work on this issue. Please assign the same.

[2021-09-29 21:34] adarshlilha commented on #7945
@somangshu @YogeshJayaseelan Can I take this up?

[2021-09-30 03:44] VISHAL-143x commented on #7621
Can i work on this issue I am a nubie.

[2021-09-30 04:26] somangshu commented on #7945
👋  @adarshlilha, Thanks a lot for showing intrest in contributing to Appsmith 🚀 . Unfortunately this issue is invalid and i'll have to close it. Please checkout other good first issues which have better description. Mostly you will also be able to find the required solution on the thread of the issue. Please let me know if you need any help finding them. Happy Hacking 😄

@YogeshJayaseelan all icon

[2021-09-30 04:26] #7945 closed

[2021-09-30 04:38] YogeshJayaseelan opened #7958 "[Enhancement] The Show icon in the entity explorer and the enable visible icon in the page properties are not clickable"
## Description
Release - It is observed that the show icon in the entity explorer and the enable visible icon in the page properties are not clickable

**Expected Result:**
The show icon in the entity explorer and the enable visible icon in the page properties should be clickable so that user need not to click on three dots in the entity explorer and click on show option and similarly on the page

[2021-09-30 04:41] somangshu opened #7959 "[Bug] Table column: icon button de-selects row on click"
## Description

The table widget column type icon button is not consistent with the button column type. Once the row is selected on clicking on the icon button, clicking on it de-selects it. Its is expected that the row will remain selected no matter how many times the button is clicked

[2021-09-30 05:04] rishabhsaxena opened #7960 "[Feature] Widget that allows drawing on canvas using touch or a mouse pointer"
## Summary
Widget that allows drawing on canvas using touch or a mouse pointer

## Motivation
It could be used as a signature pad input for forms
Should support touch (mobile screens) since that would be a primary use-case

## Additional Context
Quoting from discord:
[code]

[2021-09-30 05:04] ashit-rath commented on #7802
Seems to have been fixed. Closing this issue

[2021-09-30 05:04] #7802 closed

[2021-09-30 05:36] nidhi-nair commented on #7835
I'm closing this issue since a fix will be available in the next release. If there are any immediate concerns about this issue, please drop a comment here and I'll reopen it.

[2021-09-30 05:36] #7835 closed

[2021-09-30 05:46] Rishabh-Rathod commented on #7951
Thanks, @aayushbisen for pointing that out. It is fixed now. 😁

[2021-09-30 05:59] abhvsn opened #7965 "[Bug] Unable to open published pages from duplicated application in view mode"
## Description

After duplicating the application from the parent application which have published pages, the duplicated app don't have the parent published pages.

### Steps to reproduce the behaviour:

1. Create a new application
2. Add some widgets to the canvas
3. Publish the application
4. Duplicate the parent application
4. Open duplicated application in view mode see the error

[2021-09-30 06:02] Rishabh-Rathod opened #7966 "[Task] Git Sync UI Task"
- [x] The option Use default config is disabling the update button (fix the default config UI and functionality)
- [x] Fix email validation issue
- [x] Implement the status API and show commit and push-button status accordingly
- Only If there is something to commit then show commit enabled
- Only if there is something to push then show push enabled **(as soon as changes are pushed git status show

[2021-09-30 06:14] ohansFavour commented on #7066
@RakshaKShetty @ajinkyakulkarni  I am unable to reproduce this. Upon selection, the autocomplete suggestion gets closed. Kindly confirm that this issue no longer applies so it can be closed.

[2021-09-30 06:23] arunvjn commented on #7690
The expectation is for the evaluated value section in the popper, to show values like in the fields above the where clauses.

Start at `NestedComponents` component in `FieldArrayControl.tsx` and work your way downwards to solve this issue.

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-09-30 06:32] ayushpahwa commented on #7630
Reopening since this is still persisting

[2021-09-30 06:39] zzgvh commented on #7576
Hey @hetunandu. I don't quite understand what you mean by `onTextChange` being called in a debounced fasion. Is there anything I can do to fix or mitigate the problem?

[2021-09-30 06:43] ramsaptami opened #7969 "[Enhancement] Add comment lines similar to the one present on ArangoDB on other DB query's"
## Summary
Currently our dummy data on DB queries contains names of widgets that user's may not have so it displays an error on run. The widget names may get confusing for a new user hence the comment lines explaining the process (like the one present on ArangoDB query) would help a user navigate the application better.

## Additional Content
![image](https://user-images.githubusercontent.com/7950

[2021-09-30 06:46] arunvjn commented on #3778
This issue has to do with the code editor's configuration. You can start debugging this issue by experimenting with the config [here](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/components/editorComponents/CodeEditor/index.tsx)

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md) before working on this issue

[2021-09-30 06:53] pranavkanade commented on #7664
This can be observed on every modal using `DialogComponent`

[2021-09-30 06:58] ramsaptami commented on #7621
@VISHAL-143x It's all your's.

Please read the [Code Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/contributions/CodeContributionsGuidelines.md) to understand the process to get started with solving a Github issue.

[2021-09-30 07:03] arunvjn commented on #3233
Closing this issue since it is fixed already.

[2021-09-30 07:03] #3233 closed

[2021-09-30 07:12] albinAppsmith commented on #7621
Hi @VISHAL-143x, This issue is in `epic/appsmith-design-system-v2` branch. So checkout a new branch from this branch and go ahead.

[2021-09-30 07:12] areyabhishek opened #7971 "[Bug] Turn off slash commands for every input"
The slash commands pop up in every single field and obstruct the user. This only needs to be opened on typing / .
Why is this not good UX?
The user's intention is to type and not use our Slash commands.

[2021-09-30 07:22] SatishGandham commented on #4990
Having a primary key also helps with react performance.

[2021-09-30 07:27] SatishGandham commented on #7920
Fixing #4990 might solve this problem automatically.

[2021-09-30 07:28] RickSoftpaw opened #7972 "[Feature]PDF Viewer widget"
## Summary

We need an PDF Viewer widget for base64 data

## Motivation

i give the user the possibility to upload attachments via filepicker. It gets stored into mongodb

Now the user usually don't want to download the PDF file. he wants to have a look at it in his browser.

## Additional Context

i tried with an iframe widget (message: no proper URL) Also other widgets cannot work with the base6

[2021-09-30 07:30] somangshu commented on #4990
Quoting @SatishGandham

[2021-09-30 07:30] SatishGandham commented on #4990
We should fallback to index if primary key is not given. Else we will break existing apps.
The whole thing should be a small change on how we save the selection, or how we store a row reference, everything else should fall in place automatically.

[2021-09-30 07:32] ramsaptami commented on #7621
To chime in with some extra info, we currently don't have a design for the hover state of this button but we'd love to see you come up with suitable solution :)
If you feel you'd like something different instead, #7664 is up for grabs if you'd like.

[2021-09-30 07:35] nidhi-nair opened #7973 "[Feature] Add support for OAuth2 type datasource forms on client side"
## Summary

All datasource forms today are rendered by config. This works for most authentication types, but since OAuth2 needs user interaction across multiple endpoints, we cannot render this form from config.

This feature request is to create a generic type that handles authentication for OAuth2. This should be an extensible solution that works in the future for other authentication mechanisms

[2021-09-30 07:52] tawakol commented on #7835
Hey @nidhi-nair, if a workaround is available that would be fantastic. Please let me know.

[2021-09-30 08:06] rishabhsaxena commented on #7972
Hey @RickSoftpaw realised that we do have a pdf viewer under development, thanks for the point regarding the `IFrame widget`, closing this issue in favour of: https://github.com/appsmithorg/appsmith/issues/3358

[2021-09-30 08:06] #7972 closed

[2021-09-30 08:20] Rishabh-Rathod commented on #7942
@sahil9001  it's yours 😁, you can refer to the [CodeContributionsGuidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidelines.md) for setting up the project.

[2021-09-30 08:21] nayan-rafiq opened #7974 "[Feature] Add API to get unread comment count"
## Summary

A new API is required to get number of unread comment threads for a particular application.

## Motivation

Currently, the number of unread comments are returned as part of the response of the GET Application API. The client stores this value in local cache and use it to show unread comment icon on top. This leads to problems often so reloading the information from server should be con

[2021-09-30 08:22] prapullac commented on #5078
@hetunandu  not able to reproduce as the import icon is inside the pane

[2021-09-30 08:25] ApekshaBhosale opened #7976 "[Enhancement] Add confirmation before deleting datasource"
description:

we don't have confirmation before deleting the datasource. Once clicked on delete, there is no way to restore it.
we don't delete datasource if any query is using it but still if the datasource is configured correctly gets deleted, can be very painful for the user.

[2021-09-30 08:25] prapullac commented on #5618
@hetunandu Unable to reproduce this as the dropdown opens upwards

[2021-09-30 08:51] vivekverma2312 opened #7978 "[Bug] Clicking on the Action button for 2nd row of Table widget’s default data it is taking me to Page not found"
URL: https://docs.appsmith.com/core-concepts/connecting-to-data-sources/connecting-to-databases/querying-a-database

### Steps to reproduce the behaviour:

1. Drag and drop a table widget
2. Click on Action button for step column #2
3. Observe it navigates to page not found URL

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/80c730d7752c4f9cb2cfb2afb2443d1c-00001.gif)](https://www.loom.com/

[2021-09-30 09:00] yatinappsmith opened #7979 "[Bug] Button icons are not updated inside the table"
## Description

Button icons are not updated inside the table

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

Bind table button icons to query. clicking few them doesnot update the icons

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/fd8a8562cacf42889f5e3ede6cefb117-00001.gif)](https://www.loom.com/share/fd8a8562c

[2021-09-30 09:01] ramsaptami opened #7980 "[Bug] Launching welcome tour from home page fails with organization not found error"
## Description
When user has an organization with App Viewer rights and this organization is on the top of the list on the home page then clicking on welcome tour picks up this organization with App Viewer rights and fails to create an app since user does not have rights.

Here the onboarding flow was trying to create an application in a shared organisation, where the current user had only view pe

[2021-09-30 09:18] zzgvh opened #7981 "[Feature] Change references to "self" when widget is being copied"
## Summary

When creating a copy of a widget, any references to the original widget in the JS code of the original should be changed to refer to the new name in the copy's code. So when copying `Input1` the JS in the copy should refer to `Input1Copy` wherever `Input1` was used in the original.

## Motivation

As any renaming of a widget also changes all references to it, this seems like a natural

[2021-09-30 09:27] Nikhil-Nandagopal commented on #7378
@ayushpahwa seeing this for all users now in #7605

[2021-09-30 09:27] #7378 closed

[2021-09-30 09:27] philipnye opened #7982 "[Bug] Database query not running on page load"
## Description

MSSQL database connection query does not run on page load despite 'Run query on page load' option being set.

Query only runs when some element of the app is interacted with (e.g. moving between pages of the app; updating an input that has onOptionChange connected to the query).

https://www.loom.com/share/878644907b384df88c0f3a98f6cc2134

### Important Details

- Version: Cloud
-

[2021-09-30 09:37] Nikhil-Nandagopal commented on #7879
@tlawrence-TAG , can you invite nikhil@appsmith.com to your application? I'd like to have a look and debug why this is happening for you. You can alternatively, find some time for us to debug this together on my calendly here
https://calendly.com/appsmith-nikhil/appsmith-meeting

[2021-09-30 09:40] #7630 closed

[2021-09-30 09:40] Nikhil-Nandagopal commented on #3358
@somangshu the PDF viewer needs to support base64 as well

[2021-09-30 09:50] ramsaptami opened #7984 "[Enhancement] Minor UI changes on filter pop-up of table filter option"
## Summary
Using filter option on Table widget causes the text "**Change column datatype to see filter operators**" to move with the width of the filter pop-up. Expectation would be for the text to stay in the original position irrespective of box width.

## Additional Context
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/167d249f2a9342d1aca2b843e2d9f034-00001.gif)](https://www.loom.com/sh

[2021-09-30 09:56] Tooluloope opened #7985 "[Docs] Single Tree Select Documentation"
## Documentation Link

[Single TreeSelect
](https://github.com/appsmithorg/appsmith/issues/1759)
## Steps

Take a look at [Select Documentation](https://github.com/appsmithorg/appsmith-docs/blob/v1.3/widget-reference/dropdown.md) and [MultiSelect Doc](https://github.com/appsmithorg/appsmith-docs/blob/v1.3/widget-reference/multiselect.md).

Also take a Look at The[ Documentation guideline](https://

[2021-09-30 10:09] Nikhil-Nandagopal commented on #7949
Hello @robertoamoreno 👋
I'm able to upload files to the root of the bucket. Can you share a screenshot of your query?

[2021-09-30 10:11] Nikhil-Nandagopal commented on #7982
@philipnye Apologies for the inconvenience. Thank you for reporting this issue!
@nidhi-nair can you please have a look?

[2021-09-30 10:16] yatinappsmith opened #7986 "[Bug] Unable to use templates"
## Description

[What happened] Unable to use templates apps

### Steps to reproduce the behavior:

Try using templates from
https://www.appsmith.com/templates

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9128efaa044b4379943896da322f50fa-00001.gif)](https://www.loom.com/share/9128efaa044b4379943896da322f50fa)

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/77f727fa76954b28a301486a

[2021-09-30 10:16] Tooluloope opened #7987 "[Docs] Multi TreeSelect Widget"
## Documentation Link

[Multi Tree Select Widget
](https://github.com/appsmithorg/appsmith/issues/1759)
## Steps

Take a look at [Select Documentation](https://github.com/appsmithorg/appsmith-docs/blob/v1.3/widget-reference/dropdown.md) and [MultiSelect Doc](https://github.com/appsmithorg/appsmith-docs/blob/v1.3/widget-reference/multiselect.md).

Also take a Look at The[ Documentation guideline](h

[2021-09-30 10:17] ramsaptami opened #7988 "[Bug] Date widget added to hidden form widget causes property pane of Date widget to toggle position and adds an extra strip to the end of the canvas"
## Description
Date widget's property pane toggles and causes an extra strip to appear at the end of the canvas when it's dragged and dropped onto a hidden form widget on the canvas

### Steps to reproduce the behaviour:
1. Add a form widget on to the canvas or generate a page using a datasource
2. Add a date widget over the form widget and try to edit Default text field on the property pane and o

[2021-09-30 10:20] Tooluloope commented on #7987
https://github.com/appsmithorg/appsmith/issues/7985 A related issue

[2021-09-30 10:21] Nikhil-Nandagopal commented on #7986
@abhvsn how did this break?

[2021-09-30 10:22] Nikhil-Nandagopal commented on #7969
Closing this as we're removing default queries

[2021-09-30 10:22] #7969 closed

[2021-09-30 10:23] somangshu commented on #4990
Note:
- New property: Selected row key > Dropdown control which contains all columns options
- Helper: Lets you persist a selected row based on unique row value in a column on table data update, if left blank this will be set to the rowIndex.

Q: do we need a append some random char to the row value to be sure that it is unique, Or we leave the onus on dev? Based on this the helper will change

[2021-09-30 10:24] sentry-io[bot] opened #7989 "[Bug] InternalError: too much recursion"
Sentry Issue: [APPSMITH-17K](https://sentry.io/organizations/appsmith/issues/2683859345/?referrer=github_integration)

[code]

[2021-09-30 10:29] Nikhil-Nandagopal commented on #7912
@developer-uhwi thank you for the feature request! This issue is being tracked as part of #3317
Just to address your concern, app viewers cannot build apps inside your org and no app that they create should be bale to crash your system

[2021-09-30 10:29] #7912 closed

[2021-09-30 10:29] YogeshJayaseelan opened #7990 "[Bug] The name of the Widget is 'TreeSelect' in Widget Pane and 'SingleSelectTree' in the canvas"
## Description
Release/Production - It is observed that the name of the Widget is 'TreeSelect' in Entity Explorer but when it is dragged to canvas the name of the widget is 'SingleSelectTree'

Expected Result:
Name of the widget should be same both in Canvas and Widget pane

### Steps to reproduce the behaviour:

1. Launch Appmsith app in the release Environment
2. Open any of the App
3. Expand wi

[2021-09-30 10:36] YogeshJayaseelan opened #7991 "[Bug] The cursor is at the beginning of the TreeSelect widget even after selecting values"
## Description
Expected Result:
It is observed that the insertion pointer is at the starting point in the tree-select even after selecting the value

Expected Result:
After selecting values the insertion pointer should be at the character ending point

### Steps to reproduce the behaviour:

1.Launch appsmith app in the release environment
2.Drag and drop TreeSelect Widget
3.Click onside the treese

[2021-09-30 10:39] #7978 closed

[2021-09-30 10:48] Nikhil-Nandagopal commented on #7899
@zzgvh I'm not able to reproduce this and get the form to validate in any case. Can you share a video?

[2021-09-30 10:54] akash-codemonk commented on #7390
Ok this issue can be replicated by just renaming entity names. Was listening to an incorrect action type for page switch events.

[2021-09-30 10:56] somangshu opened #7994 "[Epic] Papercuts"
# Objective
Removing a thousand papercuts. These are small issue which have an high impact towards creating a more polished product.

# Success Metrics

| Goal  | Metric |
| ------------- | ------------- |
| Simplify user experience  | Customer satisfaction score increases  |
| Simplify onboarding flow  | Better consistency |

[2021-09-30 10:58] somangshu commented on #7618
resolved in #7821

[2021-09-30 10:58] #7618 closed

[2021-09-30 11:01] yatinappsmith opened #7995 "[Bug] Unable to import application exported from prod"
## Description

Unable to import applicatin exported from prod

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

export from app.appsmith.com
import on release.app.appsmith.com

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]
- Environment [production, release,

[2021-09-30 11:01] yatinappsmith commented on #7995
POST https://release.app.appsmith.com/api/v1/applications/import/61558c69ce09796f038166e1 404
(anonymous) @ 12.44483330.chunk.js:2
e.exports @ 12.44483330.chunk.js:2
e.exports @ 12.44483330.chunk.js:2
Promise.then (async)
c.request @ 12.44483330.chunk.js:2
r.forEach.c.<computed> @ 12.44483330.chunk.js:2
(anonymous) @ 12.44483330.chunk.js:2
post @ main.1b7a5934.chunk.js:1
importApplicationToOrg @ m

[2021-09-30 11:02] vivekverma2312 opened #7996 "[Bug] App header overlaps the Table filter pane when table is placed at top of the canvas"
<img width="685" alt="Screenshot 2021-09-30 at 4 31 04 PM" src="https://user-images.githubusercontent.com/83569920/135443563-13bbef87-9ef6-4643-ac91-1099d789b3e6.png">

[2021-09-30 11:02] somangshu commented on #7641
This issue is not related to the table widget, This is actually to do with the JS convertible issue, When you switch between the code / UI mode there are some inconsistency in the way interoperability works

[2021-09-30 11:04] ramsaptami opened #7997 "[Enhancement] Generate page widgets must be updated according to data type of source"
## Description
When generate page template is generated with datasource containing a date type column and unique_id is the date column then adding a new record does not register the date field and adding a date widget on the update form does not read the column. Deletion is also not possible.

### Steps to reproduce the behaviour:
1. Go to mySQL datasource and select a table **covidCases** to repr

[2021-09-30 11:05] somangshu opened #7998 "[EPIC] High Priority issues Q4"
## summary
All issue that are high priority and blocking Appsmith customers

## RACI

| | |
| ---- | ----- |
| Responsible | @Tooluloope, @techbhavin, @vicky-primathon |
| Accountable | @Tooluloope |
| Consulted | @riodeuno, @hetunandu, @sbalaji1192 |
| Informed | @somangshu |

[2021-09-30 11:06] somangshu commented on #7697
@vivekverma2312 please check if this is fixed

[2021-09-30 11:09] rishabhsaxena opened #7999 "[Bug] Appsmith store isn't running in sync within a loop"
## Description
[code]
![store-sync](https://user-images.githubusercontent.com/1944800/135444652-5b03777f-45c5-4a24-9778-034550420005.png)

[2021-09-30 11:15] ramsaptami opened #8000 "[Bug] Table widget's filter pop-up does not collapse on opening a modal"
## Description
Filter pop-up of the table widget does not automatically close when modal widget is opened.

### Steps to reproduce the behaviour:
1. Drag and drop table and modal widget on to canvas and click on the filter option on the table widget.
2. Now open the modal widget and observe the overlap

### Important Details
- Version: Cloud
- OS: Win10
- Browser: Chrome
- Environment: Release

![

[2021-09-30 11:20] somangshu commented on #7809
Works fine for me
![Screenshot 2021-09-30 at 4 49 43 PM](https://user-images.githubusercontent.com/11089579/135446055-0375a08d-63a4-401a-8590-0810c2d76fdc.png)

[2021-09-30 11:20] #7809 closed

[2021-09-30 11:23] somangshu commented on #7823
As per the discussion before false is treated as a string here, Putting this inside a `{{}}` binding removes the issue. Closing this for now

[2021-09-30 11:23] #7823 closed

[2021-09-30 11:24] prapullac opened #8001 "[Bug] Google sheet is broken"
Unable to execute any query as it ends up displaying  an error

[2021-09-30 11:27] vivekverma2312 opened #8002 "[Bug] Modal is showing out of canvas when view mode is changed"
<img width="888" alt="Screenshot 2021-09-30 at 4 51 55 PM" src="https://user-images.githubusercontent.com/83569920/135446744-c8752cec-c324-4683-8771-66fc6c0073a3.png">

[2021-09-30 11:29] #7648 closed

[2021-09-30 11:56] YogeshJayaseelan opened #8008 "[Bug] Property pane: long dropdown popup with many entries goes out of the viewport"
## Description
Release/Production - when there are more number(25-30) of widgets in a page and setting up Onclick actions for any of the widgets it is observed that when the property pane is at the top of the canvas the widget selection pane goes beyond the screen an user is able to select widgets via keyboard and the hidden widgets are not selectable via mouse selection

Expected Result:
If there

[2021-09-30 12:10] YogeshJayaseelan opened #8009 "[Bug] When image url is not passed in both image and default field the rotate icons are still displayed in the widget"
## Description
Release/Production - It is observed that when the image url is not passed in both the image and default field and enabling rotate toggle - the rotate icons are displayed in the widget

Expected Result:
Rotate icons should not be displayed if no image url is passed in both image and default field

### Steps to reproduce the behaviour:

1.Launch Appsmith app in the release environment

[2021-09-30 12:13] ramsaptami opened #8010 "[Bug] Delayed exit of delete modal shows the next table entry before closing"
## Description
When an S3 bucket entry is deleted, there's a delay between deleting the line and exiting the modal, during which time the next entry is displayed on the delete modal. Raising this as an issue for user experience since it feels unsavory. This is observed even on public app.

### Steps to reproduce the behaviour:
1. Go to a CRUD generated page from S3 datasource
2. Delete an entry an

[2021-09-30 12:39] YogeshJayaseelan opened #8011 "[Bug] The browse file link stuck when the user uploads exe file type"
## Description
Release/Production - It is observed that when the user changes the max file size limit more than 100 and uploading any exe the browse file is stuck and not clickable

Expected Result:
Browser file link should be clickable and uploading file more than limit should throw error for exe files

### Steps to reproduce the behaviour:

1. Launch appmsith app in the release environment
2. Dr

[2021-09-30 12:47] #7986 closed

[2021-09-30 12:47] nidhi-nair commented on #7835
@tawakol You basically want to add a couple of environment variables to the docker-compose file. So in this piece of configuration for the appsmith service:
[code]

Add the following environment variables as shown. You can simply replace the above snippet with the one below:
[code]

After updating these variables, you'll need to restart the containers as well.

[2021-09-30 12:55] zzgvh opened #8012 "[Bug] Several problems with Input validation for Number data type"
## Description

[This app( change the extension back to .json)](https://github.com/appsmithorg/appsmith/files/7259577/Broken.validation.txt) demonstrates a number of subtly different ways that the validation for Inputs with the Number data type breaks. This may be part of a larger issue around the validation, I have not tested other data types at all. It may also be more or less related to #7899.

[2021-09-30 12:58] tawakol commented on #7835
@nidhi-nair Great that worked, thank you!

[2021-09-30 13:14] prapullac opened #8013 "[Enhancement] : Page properties icon next to page name looks like an attanchment"
Steps to reproduce:
1) Create multiple new pages
2) Click on the setting option in the entity explorer
3) List of pages are displayed to the user
4) focus on any of the pages
observe the icon next to page name

Observation:
The icon looks more like an attachment icon rather than an icon to launch the page

Expectation:
It is expected that the icon can be more related to the launch of page.
![Scree

[2021-09-30 13:15] YogeshJayaseelan opened #8014 "[Bug] By Default input widgets valid field evaluated value is 'undefined'"
## Description
Release/Production - It is observed that by default the input widget's valid field evaluated value is undefined

Expected Result:
Evaluated value should not be undefined

### Steps to reproduce the behaviour:

1. Launch Appmsith app in the release environment
2. Drag and drop input widget
3. Click on the valid field and observe the evaluated value

### Important Details

- Version:

[2021-09-30 13:19] adarshlilha commented on #8009
Can I take this up? Thanks

[2021-09-30 13:29] abhvsn commented on #7986
@Nikhil-Nandagopal we put tighter permissions in the last PR which broke this flow.

[2021-09-30 13:34] #7995 closed

[2021-09-30 13:54] mohanarpit commented on #5008
If AWS has deprecated path style referencing, then it doesn't make sense for Appsmith to support this use-case. Closing this issue.

[2021-09-30 13:54] #5008 closed

[2021-09-30 14:01] yatinappsmith opened #8016 "[Bug] Fork button missing on some of the applications"
## Description

Try using templates from
https://www.appsmith.com/templates

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

goto
https://www.appsmith.com/templates
Some of the templates donot have fork button
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/128eb5f4f1a24797b0d6a7db97c87085-00001.gif)](https://www.loo

[2021-09-30 14:09] tlawrence-TAG commented on #7879
I cannot - our stuff is not accessible externally. Will work on a remote session.

[2021-09-30 14:28] robertoamoreno commented on #7949
https://www.loom.com/share/0befc9e5c7d6450bafe5460f1093d209 @Nikhil-Nandagopal

[2021-09-30 14:29] robertoamoreno commented on #7949
<img width="848" alt="Screen Shot 2021-09-30 at 8 28 52 AM" src="https://user-images.githubusercontent.com/16195292/135474740-83d49255-f30c-4f94-831c-112cb32584f1.png">

Happens when you use the create page option

[2021-09-30 14:30] yatinappsmith opened #8018 "[Bug] Unable to use app on release which is created on master unless redeployed"
## Description

[What happened] Migration from master to release seems to fail

### Steps to reproduce the behaviour:

1. Create an app on locally deployed master
2. make app public
3. stop master and start locally deployed release
4. App doesnot work unless redeployed

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/012c68f91f2c4d7b8079013aa3724067-00001.gif)](https://www.loom.com/share/012

[2021-09-30 14:32] yatinappsmith commented on #8018
tagging as JSEditor ans app has an jsobject.

[2021-09-30 15:15] trishaanand commented on #4656
This is a breaking change for all the existing apps who are relying on the response to be of the aforementioned type. Should this be taken up?

[2021-09-30 15:17] trishaanand commented on #4652
This requires changes in the Label strings. To make this change, please head to `mongoPlugin/src/main/resources/editor/`. This folder contains the UI configuration for all the query types.

[2021-09-30 15:20] trishaanand commented on #5386
Closing this since Smart Substitution works in Rest API as we stand today.

[2021-09-30 15:20] #5386 closed

[2021-09-30 15:22] yatinappsmith commented on #8018
After removing the jsobject table data is visible

[2021-09-30 15:23] SriSatyaT commented on #7990
Is there anyone working on this issue?

[2021-09-30 15:27] robertoamoreno commented on #7949
It's related when you create page from a database connection under the list query it has extra "/"

[2021-09-30 15:40] Nikhil-Nandagopal commented on #7949
I see this is to do with the generate page feature. This has been fixed in the next release. Thank you for reporting this!

[2021-09-30 15:40] #7949 closed

[2021-09-30 16:14] ApekshaBhosale opened #8023 "[Task] code refactor for action names refactor"
There is duplication of code for refactoring name on API, QUERY, JS EDITOR and WIDGETS.

Need to create a util function everywhere we have to refactor

[2021-09-30 16:14] zzgvh commented on #7899
I'm sorry, maybe my instructions weren't the clearest. Anyways, here's a video that shows the problem. Note the hidden input, Validator, that has the default text "Submit". It has a regex that emits "Submit" if the sum of the four number inputs is between 0 and 32, inclusive, otherwise it emits "Invalid". That way I have a "central" form widget that controls if the total is permissible. But as you

[2021-09-30 17:21] samyakjain10 commented on #7135
Hi! I would like to work on this issue

[2021-09-30 17:27] samyakjain10 commented on #7941
Hi, I would like to work on this issue.

[2021-09-30 17:27] mohanarpit opened #8024 "[Bug] Demo Issue"
## Description

Demo Issue for Hacktoberfest

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]
- Environment [production, release, deploy pr

[2021-09-30 17:27] samyakjain10 commented on #7952
Hi, I would like to work on this issue.

[2021-09-30 17:29] samyakjain10 commented on #7441
Hi, I would like to work on this issue.

[2021-09-30 18:01] mohanarpit commented on #8024
Please assign the issue to me.

[2021-09-30 18:01] mohanarpit commented on #8024
It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

[2021-09-30 19:44] sakshamgurbhele commented on #7876
I am interested in this issue, let me know if I can go ahead :)

[2021-09-30 19:49] vj-codes commented on #2754
@ApekshaBhosale I have created a PR #8028
Please have a look, thankss in advance:)

[2021-09-30 19:50] vj-codes commented on #7936
@ApekshaBhosale I have created a PR #8028
Please have a look, thankss in advance:)

[2021-09-30 20:25] ohansFavour commented on #5021
This issue has been fixed.

[2021-09-30 20:25] #5021 closed

[2021-09-30 21:38] JubayerJoy commented on #7391
Hi @hetunandu, would love to work on this.

[2021-09-30 21:47] JubayerJoy commented on #7664
Hi @ramsaptami, I would love to work on this.
Cheers.

[2021-09-30 21:47] JubayerJoy commented on #7621
Hi @ramsaptami, I would love to work on this. Let me put in a PR and adjust from there, how about that?
Cheers. 🎈

[2021-09-30 21:50] JubayerJoy commented on #7443
Hi @mohanarpit, If it's not worked by anyone, I want to work on it.
cheers.

[2021-09-30 22:28] DevrajDC commented on #7664
Hi, i would like to work on this issue. Please assign it to me! :)

[2021-10-01 00:34] evergreenx commented on #7952
Hi can i work on this

[2021-10-01 00:36] evergreenx commented on #7938
can i jump on this issue

[2021-10-01 00:38] evergreenx commented on #7943
@Rishabh-Rathod i will like to work on this

[2021-10-01 01:15] deepakchethan commented on #7987
@Tooluloope I'd like to work on this. Can you please assign this to me?

[2021-10-01 01:35] nidhi-nair commented on #7876
Please go ahead @sakshamgurbhele, I have assigned this issue to you. Please make sure to read our [Documentation Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before you create a PR for this change! 😄

[2021-10-01 01:36] krishguptadev commented on #7868
How can I fix this issue?

[2021-10-01 01:37] krishguptadev commented on #6685
Can I work on this? Should I resize it or make the input cursor on the end?

[2021-10-01 01:39] nidhi-nair commented on #7664
Please go ahead @JubayerJoy! I've assigned this PR to you, please make sure to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md) before starting to work on the issue. 😄

[2021-10-01 02:17] nidhi-nair commented on #7987
Hey @deepakchethan ! I've assigned the issue to you. Please make sure to read the guidelines before raising a PR, happy contributing! :)

[2021-10-01 02:20] sharat87 commented on #8016
This seems to be fixed now.

[2021-10-01 02:25] 6alaxse6 opened #8034 "[Bug]"
## Description

[What happened]

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]
- Environment [production, release, deploy preview]

[2021-10-01 02:29] nidhi-nair commented on #7443
Hey @bharat-patodi! I've assigned this issue to you, please make sure to read our [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/release/CONTRIBUTING.md) before raising a PR!

[2021-10-01 02:33] sbalaji1192 commented on #7441
Hey @samyakjain10i! I've assigned this issue to you, please make sure to read our [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/release/CONTRIBUTING.md) before raising a PR!

[2021-10-01 02:37] sbalaji1192 commented on #7938
Hey @evergreenx ! I've assigned this issue to you, please make sure to read our Contribution Guidelines before raising a PR!

[2021-10-01 03:16] bharat-patodi commented on #7443
Thanks @nidhi-nair

[2021-10-01 03:57] hiteshjoshi commented on #7664
Hi Folks! This issue is taken care already early today morning by previous assignee.

[2021-10-01 04:09] #7664 closed

[2021-10-01 04:11] ramsaptami commented on #7391
It's yours @JubayerJoy. You can pick this up.

Please take note of the info Hetu has mentioned above.

[2021-10-01 04:35] suv95 commented on #7929
Thanks for the detailed explanation, @sharat87. I'll give it a try.

[2021-10-01 04:38] mohanarpit commented on #7943
@evergreenx
Thank you for showing interest in Appsmith.

Sorry, this issue has already been claimed. I would request you to please look at some of our other [Good First Issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22)

[2021-10-01 04:41] iocampomx commented on #2906
This was in theory fixed on #4918, but checking the commit I see a message "This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.", it's weird.

The run failed as can be seen here https://github.com/appsmithorg/appsmith/commits/2dee6cd99b4ab0bf2ab940e1719ce833f9448fc7/app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts and here

[2021-10-01 04:42] SandipPalit opened #8036 "[Docs] Code of Conduct improvement"
## Documentation Link

https://github.com/appsmithorg/appsmith/blob/release/CODE_OF_CONDUCT.md

## Describe the problem

The articulation of this documentation needs to be improved.

## Describe the improvement

There are many sections that start with "Examples of" which is not a good way of writing. So, I want to improve those parts. Then I want to correct some more grammatical errors as well.

P

[2021-10-01 04:53] SandipPalit opened #8037 "[Docs] Create an exclusive Hacktoberfest Contribution guide"
## Describe the problem

I faced some difficulty in searching the ways to contribute to your repo which will count towards Hacktoberfest 2021.

## Describe the improvement

I want to create a detailed Hacktoberfest 2021 Contribution guide, which will serve as an all-in-one resource for Hacktoberfest 2021. Please assign this issue to me, so that I can start working on it.

[2021-10-01 05:02] riodeuno commented on #8034
@6alaxse6 Closing this issue, as there is no information related to the bug.

[2021-10-01 05:02] #8034 closed

[2021-10-01 05:04] riodeuno commented on #8036
@SandipPalit Thanks for noticing this issue and offering to help resolve this! This is all yours. Assigning it to you.

[2021-10-01 05:24] SandipPalit commented on #8036
Thank You @riodeuno
I am working on this issue and will submit the PR soon.

[2021-10-01 05:33] #8016 closed

[2021-10-01 05:40] mohanarpit commented on #8037
Do you believe that our [Contribution Guide](https://github.com/appsmithorg/appsmith/blob/release/CONTRIBUTING.md) is not a good enough resource?

Also, we have a dedicated website [https://hacktoberfest.appsmith.com](https://hacktoberfest.appsmith.com) which lists all our Hacktoberfest resources & swag.

[2021-10-01 05:42] somangshu opened #8041 "[Bug] Widget design audit: Input Widget"
## Description

This is to make cosmetic changes to the input widget based on the changes after the design audit. Here we are covering:
- Increasing the height of the input box (36px).
    - The whole input should take 4 rows.
- Dropped width to be changed to 20.
- ~~Label can only be on the top~~
- default Minimum height should be set to: 4 rows
- default Minimum width: 5 rows
- Tooltip is remove

[2021-10-01 05:46] somangshu opened #8042 "[Bug] Widget design audit: Divider Widget"
## Description

This is to make cosmetic changes to the divider widget based on the changes after the design audit. Here we are covering:
- Dropped width to be changed to 20 rows.
- Label can only be on the top
- Minimum height should be set to: 2 rows
- Color changed to: #EBEBEB

## Developer handoff file:
https://www.figma.com/file/w9CaXHF5iYcrLtiEbAHcFu/Original-Theme-Widgets-Library?node-id=46

[2021-10-01 05:48] sbalaji1192 commented on #7938
@evergreenx After having a second look at the occurrences, I feel, we should break the issue into smaller manageable parts. Hence reassigning this.
I would request you to please look at some of our other [Good First Issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22)

[2021-10-01 05:53] SandipPalit commented on #8037
I agree that the website is a great resource. If you would like to have some more information on the Contribution Guide, specific to the HacktoberFest, then you can assign it to me, else feel free to close this issue. :)

[2021-10-01 06:02] mohanarpit commented on #8037
Thanks @SandipPalit. For now, I probably wouldn't clutter the contribution guide with Hacktoberfest specific tasks. That's a generic resource that we wish to maintain for all contributors.

For now, I'm closing the issue. If you feel that there's a specific improvement that we can make to our contribution guide or the website, please feel free to re-open this issue with specific details on the imp

[2021-10-01 06:02] #8037 closed

[2021-10-01 06:13] zzgvh commented on #8012
Adding a video demoing the various error variants.

https://user-images.githubusercontent.com/142613/135573661-c66a8cd0-4caa-400d-af7c-c8477a6377fa.mp4

[2021-10-01 06:14] trishaanand commented on #7982
@philipnye : Quick question. When you say that when you move between pages of the application, and you move to this particular page, does the query get executed? I ask this because you said `Query only runs when some element of the app is interacted with (e.g. moving between pages of the app; `. That in essence is the query executing on page load. Is the experience that sometimes when you open the

[2021-10-01 06:17] #4713 closed

[2021-10-01 06:19] arunvjn commented on #5655
Closing this issue since it is not reproducible with the mentioned steps.

[2021-10-01 06:19] #5655 closed

[2021-10-01 06:22] #4716 closed

[2021-10-01 06:25] trishaanand opened #8046 "Add support for trigger functions for entity fetch for UQI through APIs"

[2021-10-01 06:27] hetunandu commented on #6217
closing in favour of #3312

[2021-10-01 06:29] hetunandu commented on #7508
closing in favour of #2435

[2021-10-01 06:29] #7508 closed

[2021-10-01 06:31] #4722 closed

[2021-10-01 06:31] #4788 closed

[2021-10-01 06:34] Hard-Coder05 opened #8047 "Upgrade our issue templates to use GitHub issue forms"
## Summary

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

## Motivation

Appsmith currently uses the older issue template format. Your task is to create GitHub issue forms for this repository. We can us

[2021-10-01 06:34] Hard-Coder05 commented on #8047
I would like to work on this issue

[2021-10-01 06:38] ayushpahwa opened #8048 "Implement enable/disable functionality for form conditionals"

[2021-10-01 06:38] ApekshaBhosale opened #8049 "[Bug] Refactor function name changes"
## Description

while refactoring function name for js object not updating js object body

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]
- Environment [production, release, deploy preview]

[2021-10-01 06:38] ArmanChand commented on #8013
Hello @Nikhil-Nandagopal ,
I can take this Issue. Please assign it to me

[2021-10-01 06:42] ayushpahwa opened #8051 "Move UQI conditionals for forms to separate thread"

[2021-10-01 06:45] somangshu commented on #5240
@YogeshJayaseelan this is the default behaviour, The computed value will remain in the table until another expression is given. Same goes for the table widget header, you will see that persists even when you remove the table data.

@riodeuno please correct me here if I am wrong. If you agree please close the issues

[2021-10-01 06:46] arunvjn opened #8052 "Improve autocomplete experience"
- [x] Autocomplete not opening on tab+space sometimes
- [x] Undefined is a function in the autocomplete and add ()

[2021-10-01 06:57] somangshu commented on #6864
@ramsaptami what browser and OS is this, I cant seem to reproduce this!

[2021-10-01 07:04] mohanarpit commented on #7772
@aamita96
Since we haven't seen any activity here in the last 4 days, I'm unassigning you from this issue. I understand that you may be pressed for time/bandwidth & that's OK. You can always pick another issue from our list of "Good First Issues".

Appreciate the interest you've shown towards Appsmith.

[2021-10-01 07:06] somangshu commented on #7404
@YogeshJayaseelan how is this a valid use case, the URL is not an object for that to be default. Also in the init state the URL and value will always be undefined, This should be expected.

Closing this

[2021-10-01 07:06] #7404 closed

[2021-10-01 07:13] jindalsachin commented on #7991
I would like to work on this

[2021-10-01 07:15] somangshu commented on #7485
@aswathkk can you add note on what changes are required here to fix this validation issue here, This is a good issue to solve for a first time contributor

[2021-10-01 07:16] errorinc0de commented on #7485
Can I contribute to this issue?

[2021-10-01 07:19] mohanarpit commented on #7991
@jindalsachin It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, please don't forget to register with [Appsmith's Hacktoberfest Community](https://hacktoberfest.appsmith.com) in order to be eligible for Appsmith swag.

[2021-10-01 07:19] Rutam21 commented on #7868
@somangshu I would love to work on this ticket. Feel free to assign this to me.

[2021-10-01 07:19] ramsaptami opened #8054 "Button widget active, hover and clicked states are not defined on Figma and need design review"
Creating a separate issue for this since it needs design change

[2021-10-01 07:20] aamita96 commented on #7772
I understand that @mohanarpit. I am unable to set up the code as of now. I am in touch with discord members. Thanks a lot.

[2021-10-01 07:21] jindalsachin commented on #7991
Thanks I have registered for the swags and set up the env in IntelliJ . Would you please me point to the specific class/file I should change . I guess the pointer should lchange with listener ?

[2021-10-01 07:25] somangshu commented on #7868
Greetings @Rutam21, thanks for showing interest 🎉 , This is all your. Assigning this to you now. Please let me know if you have any questions.

@krishguptadev please let me know if you are still looking for issues, you can also use the `hacktoberfest` label to filter these issues, Please let me know, Ill make sure to assign them to you.

[2021-10-01 07:30] vivekverma2312 opened #8055 "[Bug] The Input boxes are displayed multiple times inside the query editor"
### Steps to reproduce the behaviour:

To repro, this issue follow the below steps
1. create a new app
2. On page one add a new query for mongo
3. now create a page 2 there try to add API and the mongo query
4. Now navigate back to page 1 mongo query
5. Now we can see the query pane with multiple inputs placeholders
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c9a6b5564a344cca8879c564f244

[2021-10-01 07:32] Rutam21 commented on #7868
@somangshu It would be great if you can point me to the place where the code for the video player stays and let me know the way to test this locally after fixing it.

[2021-10-01 07:36] Rutam21 commented on #7301
@somangshu I would love to work on this issue as well. Feel free to assign this to me.

[2021-10-01 07:38] Tooluloope commented on #7991
Hi @jindalsachin
You would need to dig into this [file](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx), and Also inspect it on your console to get the class

[2021-10-01 07:48] ramsaptami opened #8057 "[Bug]-[10000]:Edit icon consistency across application for design system"
## Description
Raising this issue to list down different areas where we have **edit** option but there's inconsistency on design/icon. Need some clarity on this.

![image](https://user-images.githubusercontent.com/79509062/135634840-ead01cde-9cbb-4d9e-917e-76359470e52b.png)Icon on **Datasources** page
![image](https://user-images.githubusercontent.com/79509062/135582008-30669484-2e04-4453-ad35-688

[2021-10-01 07:50] ramsaptami opened #8058 "[Bug]-[500]:Delete icon interactions and look for design system"
## Description
Raising this issue to list down different areas where we have **delete** option but there's inconsistency on design/icon/interaction and needed some clarity.

- [ ] **Deleting a datasource** - no hover state colour, no confirmation, icon change and no colour change on hover
![image](https://user-images.githubusercontent.com/79509062/135581801-dc5319e6-eaf8-482c-abb5-0d23bb3154fb.png

[2021-10-01 07:54] JubayerJoy commented on #7391
Hi @ramsaptami,
can't reproduce this error. 😕
My Env is the same as yours.

Was this issue fixed?
![video](https://user-images.githubusercontent.com/31549564/135585187-d28f8bae-9749-439a-a78f-af697601ed5b.gif)

[2021-10-01 07:56] krishguptadev commented on #1283
How can I fix this issue?

[2021-10-01 08:04] ramsaptami commented on #7391
Hey @JubayerJoy, thanks for reaching out.

You'll need to have at least one datasource present on your application since we currently list mock DB's on the top for a fresh application. So for our mock datasources to appear at the bottom, please add any datasource and then try to reproducing the case.

Just tried to reproduce this on my local and here's the screenshot of the overlap issue. Please d

[2021-10-01 08:08] somangshu commented on #7868
@Rutam21 all our widgets are compartmentalised and you should be able to find the one you are looking for in there respective folders, this issue is related to the audioPlayer.

[2021-10-01 08:11] somangshu commented on #7301
@ajinkyakulkarni kindly do the needful ☝️

[2021-10-01 08:12] jsartisan commented on #7868
@Rutam21 The file is `src/widgets/AudioWidget/component/index.tsx`
We are using react-player for rendering the component. So you will need to find a way to pass controlsList to the `<ReactPlayer />`.

[2021-10-01 08:13] jsartisan commented on #7868
Also, check out https://github.com/CookPete/react-player/issues/232#issuecomment-328504894

@Rutam21

[2021-10-01 08:30] prapullac commented on #6690
Closing the issue as it is working as expected

[2021-10-01 08:30] #6690 closed

[2021-10-01 08:31] prapullac commented on #7426
Closing the issue as it is working as expected

[2021-10-01 08:31] #7426 closed

[2021-10-01 08:53] RakshaKShetty commented on #8055
To repro, this issue in the same application follow the below steps
1. create a new app
2. On page one add a new query for mongo and Postgre
3. now create a page 2 there try to add API and the mongo query
4. Now navigate back to page 1 mongo query
5. Now we can see the query pane with multiple inputs placeholders
 https://www.loom.com/share/c9a6b5564a344cca8879c564f2448601

[2021-10-01 08:55] vivekverma2312 opened #8062 "[Bug] Data on standup app "Today's update"page is not coming on release but showing on prod"
## Description: After export/import of app from prod to release, when I filled the standup app the data is reflected on prod but not showing on release.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2de1f5cce4244c4dad5c86078edd7933-00001.gif)](https://www.loom.com/share/2de1f5cce4244c4dad5c86078edd7933)

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Bro

[2021-10-01 08:57] somangshu commented on #8013
@prapullac I disagree to this, this is the most common representation of a link, Check out this screenshot of quick google search `link icon`
![Screenshot 2021-10-01 at 2 24 22 PM](https://user-images.githubusercontent.com/11089579/135593275-f485703f-5b9c-472f-898b-fade8d1e6cb7.png)

Attachment icon is usually a paperclip. Closing this for now.

@ArmanChand This issue dosent seem valid to me right

[2021-10-01 08:59] somangshu commented on #8013
If it makes sense we could probably switch to something like
![Screenshot 2021-10-01 at 2 28 55 PM](https://user-images.githubusercontent.com/11089579/135593843-a98ebe7a-7014-4274-aae5-13b460f0ddac.png)

Please re-open if required

[2021-10-01 09:02] somangshu commented on #3358
@techbhavin ☝️ lets check the same! We could use the file-picker to upload the PDF and use the base64 format.

[2021-10-01 09:06] prapullac commented on #8013
@somangshu  the above icon looks more relevant and we can make changes accordingly.

[2021-10-01 09:10] somangshu commented on #8013
In that case, @ArmanChand, This is all your 🎉 . Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, please don't forget to register with [Appsmith's Hacktoberfest Community](https://hacktoberfest.appsmith.com/) in order to be e

[2021-10-01 09:11] Nikhil-Nandagopal commented on #8055
Not related to import / export. This is a problem with our query editor.

[2021-10-01 09:11] Nikhil-Nandagopal commented on #8055
@ajinkyakulkarni @ayushpahwa please see!

[2021-10-01 09:13] Nikhil-Nandagopal commented on #8013
The above icon is wrong. It's used to depict that it will open in a new tab.
@momcilo-appsmith could you please help here?

@ArmanChand please don't raise a PR for this just yet :)

[2021-10-01 09:14] albinAppsmith opened #8065 "Editing page name trims off the bottom bit. Seen on Page properties, entity explorer, widget naming from property pane"

[2021-10-01 09:15] albinAppsmith opened #8066 "On query page1. Text is truncated at the bottom2. Delete should be in red3. Copy and move options should be placed next to arrows and aligned with corresponding text4. Icons need to be updated"

[2021-10-01 09:15] albinAppsmith opened #8067 "Arrow next to widget name is not visible of debugger"

[2021-10-01 09:16] ArmanChand commented on #8057
@ramsaptami ,
I can work on this issue

[2021-10-01 09:20] ArmanChand commented on #7985
@nidhi-nair ,
I can work on this Issue

[2021-10-01 09:24] somangshu commented on #3360
@wmdev0808 we need to check what kind of options are provided by the package to customise the UI, Check out the design for a basic idea

[2021-10-01 09:25] tazmaniax commented on #7176
Now it's [Hactoberfest](https://hacktoberfest.appsmith.com/), maybe I need to roll up my sleeves! 😄

[2021-10-01 09:27] Tooluloope commented on #7985
Hey @ArmanChand! I've assigned the issue to you. Please make sure to read the guidelines before raising a PR, happy contributing! :)

[2021-10-01 09:27] ArmanChand commented on #8013
hello @Nikhil-Nandagopal ,
Waiting for the icon confirmation, once done please inform me, i will start working on it.

[2021-10-01 09:42] wmdev0808 commented on #3360
OK, let me check

[2021-10-01 09:50] RakshaKShetty commented on #4609
The issue can be reproducible in the below scenario, so reopening the bug
The scenario is to create a new organization, called org1.
Create an application in this, called app1.
Create a datasource called ds1(create query1), Now delete the app1
Now create another application in org1, called app2.
Now delete the application app1.
Go to app2, try to delete the datasource ds1.
![image](https://user-im

[2021-10-01 09:58] nidhi-nair commented on #7478
Fised in #7892

[2021-10-01 09:58] #7478 closed

[2021-10-01 10:02] kunals131 commented on #7876
I want to work on this issue, please let me know if i can.

[2021-10-01 10:03] ramsaptami commented on #8057
Hey @ArmanChand, appreciate your interest in Appsmith. This issue has a pending design need so it's currently on internal review.

Could I suggest picking up issues tagged "hacktoberfest" instead?

[2021-10-01 10:05] somangshu commented on #7546
Its possible to do this in tinymce, [check this out](https://stackoverflow.com/a/22389390/5826265)

Note:
- This will be a property for RTE: Hide toolbar
- This property is boolean
- This property can be set using a JS expression
- The goal is to show/hide the toolbar from the end user

[2021-10-01 10:09] JubayerJoy commented on #7391
@ramsaptami Thanks for guiding,
Yap, was able to reproduce this. 👍

![video (1) (1)](https://user-images.githubusercontent.com/31549564/135602954-c8e5ffef-ad7a-486b-9bf6-b92daec76e22.gif)

Will open a PR after solving this.
cheers 🎈

[2021-10-01 10:16] somangshu commented on #7620
@lahiruelectrily thanks for the feature request 😄 , We will look into this soon and get it prioritised!

[2021-10-01 10:23] nishihere19 commented on #7571
Can I work on this?

[2021-10-01 10:28] nishihere19 commented on #7575
Can I work on this issue if no one is doing it currently?

[2021-10-01 10:32] riodeuno commented on #989
Closing this issue, as this feature doesn't exist.

[2021-10-01 10:32] #989 closed

[2021-10-01 10:36] riodeuno commented on #3179
@Nikhil-Nandagopal @somangshu I believe this is done. Can we close this?

[2021-10-01 10:38] riodeuno commented on #2826
This feature is fixed now. @prapullac Please re-open if this still exists

[2021-10-01 10:38] #2826 closed

[2021-10-01 10:38] somangshu commented on #7937
I think this is acceptable and provides a good UX

[2021-10-01 10:38] #7937 closed

[2021-10-01 10:40] riodeuno commented on #3818
There has not been a re-occurrence for quite some time. Closing this for now.

[2021-10-01 10:40] #3818 closed

[2021-10-01 10:44] riodeuno commented on #4022
We now show the scrollbars only when we begin scroll. Closing this for now.

[2021-10-01 10:44] #4022 closed

[2021-10-01 10:46] somangshu commented on #7849
@SatishGandham what is the right solution, Please point out!

[2021-10-01 10:46] riodeuno commented on #4194
There was one isolated event, haven't seen this issue since. There is no information to triage this as well. Closing this for now.

[2021-10-01 10:46] #4194 closed

[2021-10-01 10:47] SandipPalit commented on #7571
@RoopKrrish9696 @somangshu I would like to work on this issue, since I have experience in this field.

[2021-10-01 10:48] SatishGandham commented on #7800
Show no items found message like multiselect. (Proposed solution)

![Screenshot 2021-10-01 at 4 17 11 PM](https://user-images.githubusercontent.com/441914/135607791-d573e6fd-e1e7-432c-848a-c2ae54716674.jpg)

CC: @somangshu

[2021-10-01 10:50] somangshu commented on #7661
@jsartisan how is this a good first, Do we know what is the possible fix?

[2021-10-01 10:51] SandipPalit commented on #7317
I would love to work on this issue, since I already have experience in this domain. Please assign it to me.

[2021-10-01 10:51] riodeuno commented on #4531
We're working on the docked property pane. This will be resolved in that.

[2021-10-01 10:51] somangshu commented on #7680
Looks like this is valid, The border width in default state is undefined, What is expected here.

Closing for now

[2021-10-01 10:51] #7680 closed

[2021-10-01 10:52] SatishGandham commented on #7701
@YogeshJayaseelan , Can you please test this agin. We are unable to reproduce.

[2021-10-01 10:53] SandipPalit commented on #6864
I would Like to work on this. Please assign it to me.

[2021-10-01 10:54] riodeuno commented on #4645
@somangshu We will need copy for the tooltips. Let's discuss and update this here.

[2021-10-01 10:57] SatishGandham commented on #7661
This could be due to evaluations, not a good first issue.

[2021-10-01 10:58] SandipPalit commented on #6548
I would love to work on this issue. Please assign it to me.

[2021-10-01 10:59] riodeuno commented on #4653
@momcilo-appsmith We need to update the designs for this control. If we have that, this can be easy to fix.

[2021-10-01 11:01] SandipPalit commented on #5514
I would love to work on this Issue and I can solve it. Please assign it to me.

[2021-10-01 11:02] riodeuno commented on #4806
With default custom chart configs available, this is no longer an issue.

[2021-10-01 11:02] #4806 closed

[2021-10-01 11:04] SandipPalit commented on #4227
I know how to solve this Issue. Please assign this issue to me.

[2021-10-01 11:05] somangshu commented on #6093
@vivekverma2312 this should probably close, Can we look into this

[2021-10-01 11:05] riodeuno commented on #4947
We need to remove the flag in the defaultDate validations which makes this field `required`. Following this change, we need to verify if the widget functions correctly with `undefined` or empty values for this property.

[2021-10-01 11:08] kapshar commented on #6905
Hey @somangshu  @ashit-rath, I would like to work on this issue can you assign it to me.

[2021-10-01 11:08] somangshu commented on #6121
What about the JS option, If the user needs to type in, that is something to be used, While we have the date picker do we really need the option to type?

[2021-10-01 11:10] riodeuno commented on #5437
@YogeshJayaseelan I can't replicate this issue, can you verify this issue again?

[2021-10-01 11:12] riodeuno commented on #5514
@SandipPalit Thanks for offering to help out with this issue. This is all yours. I'm assigning this to you!

[2021-10-01 11:12] somangshu commented on #6148
add helper text for scroll content in form / tabs widget

helper: `Enables scrolling for content inside the widget`

[2021-10-01 11:15] somangshu commented on #6152
design has updated, the row height option does not exist anymore

[2021-10-01 11:15] #6152 closed

[2021-10-01 11:17] hiteshjoshi commented on #8062
The issue is export/import doesn't take JS objects into consideration atm. Because it's not live for users. And standup app is using JsObjects to modify data formats etc.

App exported on prod :
![Screenshot 2021-10-01 at 4 44 42 PM](https://user-images.githubusercontent.com/217911/135611260-80725d90-3bf6-42b7-9902-05dc15a86163.png)

App imported on prod :
![Screenshot 2021-10-01 at 4 44 31 PM](ht

[2021-10-01 11:21] YogeshJayaseelan commented on #5437
@riodeuno This happens only when the property pane is placed at the right side on the canvas and hovering on any of the longer tools tips

Below is the one example

https://www.loom.com/share/21ad3a0ab7c940f9bb022828ddb00dc1

[2021-10-01 11:21] hiteshjoshi commented on #8062
This is fixed is release. We shall open again if @yatinappsmith feels the need.

[2021-10-01 11:21] #8062 closed

[2021-10-01 11:30] albinAppsmith opened #8073 "No hover state for notifications on home page"

[2021-10-01 11:31] jsartisan opened #8074 "Docked Proeprty Pane - Cypress Tests"
The new property pane is failing the old cypress tests due to a docker property pane.

[2021-10-01 11:44] riodeuno opened #8076 "[Task][Docs] Widget Development API Guide"
Create a clear and comprehensive guide to developing an Appsmith widget

[2021-10-01 11:50] ramsaptami commented on #7575
It's all your's @nishihere19 :)

[2021-10-01 12:08] philipnye commented on #7982
Hi @trishaanand, thanks. The table that is connected to the query is on the home page of my app - when I open the app the query is being executed 0% of the time. But when I move to a different page of the app then move back to the home page the query seems to execute 100% of the time. So there seems to be something wrong specifically with the initial page load.

[2021-10-01 13:01] nishihere19 commented on #7575
Before proceeding, I want to confirm that, in this we are trying to open the dropdown below the input instead of the upper side which overlaps other properties. If this is fine, I will fix and give PR soon. Also, I am new here so if you know which files I shud look into, link them. Thank you!

[2021-10-01 13:04] nidhi-nair commented on #7982
Hi @philipnye ! Would you mind sharing the configuration for this query? Or whether it expects any variables? You can share this info with me on Discord @ `hawk3y3#2925`

[2021-10-01 13:17] dazzlerkumar commented on #7442
Hi @mohanarpit, I hope you're good. As I can see it's been 17 days since the issue has been created. Can you assign it to me? or Should I make a PR without being assigned ?

[2021-10-01 13:19] ramsaptami commented on #6864
The issue with a horizontal scroll appearing seems to have been fixed @SandipPalit.

Could I point you to a few [other issues ](https://github.com/appsmithorg/appsmith/labels/hacktoberfest) that might interest you?

[2021-10-01 13:26] SandipPalit commented on #6864
No problem. I will search for other issues and resolve them.

[2021-10-01 13:28] SandipPalit commented on #5514
Thank You @riodeuno
I am working on this issue and will submit the PR soon.

[2021-10-01 13:29] Jaideep07 commented on #7940
Hello, Could @YogeshJayaseelan you pls assign me this issue, I would like to work on this pls.😃

[2021-10-01 13:31] Jaideep07 commented on #7944
I would be glad to work on this could someone (@YogeshJayaseelan , @somangshu , @vivekverma2312 ) pls assign me this issue 😃.

[2021-10-01 13:35] lahiruelectrily commented on #7620
Thanks

On Fri, 1 Oct 2021 at 15:46, Somangshu Goswami ***@***.***>
wrote:

[2021-10-01 13:50] wmdev0808 commented on #3360
@somangshu , Here are the options for the underlying package:
`export interface JSONEditorOptions {
    /**
     * Provide a custom version of the Ace editor and use this instead of the version that comes embedded with JSONEditor. Only applicable when mode is 'code'.
     *
     * Note that when using the minimalist version of JSONEditor (which has Ace excluded), JSONEditor will try to load the Ac

[2021-10-01 13:51] wmdev0808 commented on #3360
export interface JSONEditorOptions {
    /**
     * Provide a custom version of the Ace editor and use this instead of the version that comes embedded with JSONEditor. Only applicable when mode is 'code'.
     *
     * Note that when using the minimalist version of JSONEditor (which has Ace excluded), JSONEditor will try to load the Ace plugins `ace/mode/json` and `ace/ext/searchbox`.
     * These

[2021-10-01 13:52] bharat-patodi commented on #7442
Right here.
I'll be working on the issue this weekend if it's fine with everyone.

[2021-10-01 13:54] somangshu commented on #7944
@Jaideep07 this issue needs design change. We are not yet sure here what we need to do.

Can you instead take a look at the `hacktoberfest` label. You will find better and relevant issues.

Happy hacking 😌

@momcilo-appsmith do we have a solution here?

[2021-10-01 13:57] abhvsn opened #8078 "[Task] Improve the TC coverage for fork application"
## Description

- Add a TC to check users with `READ_APPLICATIONS` should be able to fork the application
- Add negative TC to fail to fork application when the user is not part of the org

[2021-10-01 14:12] ipankajchaudhary commented on #7990
I wanna work on this issue.

[2021-10-01 14:14] mohanarpit commented on #7990
@SriSatyaT It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, please don't forget to register with [Appsmith's Hacktoberfest Community](https://hacktoberfest.appsmith.com) in order to be eligible for Appsmith swag.

[2021-10-01 14:14] mohanarpit commented on #7990
@ipankajchaudhary
Thank you for showing interest in Appsmith.

Sorry, this issue has already been claimed. I would request you to please look at some of our other [Good First Issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22)

[2021-10-01 14:17] jsartisan commented on #7575
@nishihere19 The text of this is a little misleading. Let me explain the exact issue.

in the icon selector control we have, there is a search field. that search field is no space above the search field.
<img width="779" alt="Screenshot 2021-10-01 at 7 37 49 PM" src="https://user-images.githubusercontent.com/6636360/135633918-22bb648a-d032-477d-8d7d-f3f6d3564ecb.png">

This is happening due to the

[2021-10-01 14:20] jsartisan commented on #7575
@nishihere19 The text of this is a little misleading. Let me explain the exact issue.

in the icon selector control we have, there is a search field. that search field is no space above the search field.
<img width="779" alt="Screenshot 2021-10-01 at 7 37 49 PM" src="https://user-images.githubusercontent.com/6636360/135633918-22bb648a-d032-477d-8d7d-f3f6d3564ecb.png">

This is happening due to the

[2021-10-01 14:28] aswathkk commented on #7485
Thank you @errorinc0de for showing interest. I've assigned it to you now.
Please take some time to go through the [Contributing Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md).

You could see the configuration for VideoWidget's property pane [here](https://github.com/appsmithorg/appsmith/blob/0619e3798f3edff10de450a0dc54afde84220352/app/client/src/widgets/VideoWidg

[2021-10-01 14:34] rafaeelaudibert commented on #7772
Hey @mohanarpit, would you be willing to assign it to me? I'd probably work on that today/tomorrow :)

[2021-10-01 14:37] ipankajchaudhary commented on #7575
Can i work on this?

[2021-10-01 14:37] ipankajchaudhary commented on #7549
Can i work on this?

[2021-10-01 14:43] eXfilPr4tik opened #8081 "[appsmith website to be mobile friendly, no need to use desktop mode to use it properly]"
## Summary

If website is opened on mobile phone,then some part of website isn't visible properly and can't be used so make it mobile friendly

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?
UserInteractive

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2021-10-01 14:44] SriSatyaT commented on #7990
Sure :)

[2021-10-01 14:53] rafaeelaudibert commented on #7571
@RoopKrrish9696 The hover state is only shown when the render mode is `PAGE` as per line 183 on https://github.com/appsmithorg/appsmith/blob/87b13eca2d52544df4f8e7508d964d43649bd878/app/client/src/widgets/ImageWidget/widget/index.tsx.

@somangshu Do we want to change this to only show it? If so, I've opened a PR (#8082) with this change.

[2021-10-01 14:55] #4632 closed

[2021-10-01 14:55] #5542 closed

[2021-10-01 15:08] #7971 closed

[2021-10-01 15:08] #6734 closed

[2021-10-01 15:09] #7545 closed

[2021-10-01 15:09] #6931 closed

[2021-10-01 15:09] Vishnurr2k01 commented on #7175
Hi,Can I work on this?

[2021-10-01 15:09] #7819 closed

[2021-10-01 15:23] SandipPalit commented on #3814
I would love to work on this issue. Please assign it to me.

[2021-10-01 15:24] ipankajchaudhary commented on #7208
I can fix this issue, assign it to me. please.

[2021-10-01 15:33] Cool-Runningz commented on #4645
I am willing to work on this issue if it is still available 🙂

[2021-10-01 15:35] #6171 closed

[2021-10-01 15:37] SandipPalit commented on #5831
I would like to work on this issue. Please assign it to me.

[2021-10-01 15:39] SandipPalit commented on #5308
I would like to work on this issue. Please assign it to me.

[2021-10-01 15:42] ramsaptami commented on #7772
@rafaeelaudibert it's all yours

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/0619e3798f3edff10de450a0dc54afde84220352/CONTRIBUTING.md)

[2021-10-01 15:44] ramsaptami commented on #7549
Absolutely @ipankajchaudhary, it's all yours.

Please read the [Contributor's Guideline](https://github.com/appsmithorg/appsmith/blob/0619e3798f3edff10de450a0dc54afde84220352/CONTRIBUTING.md) before starting.

[2021-10-01 15:46] SandipPalit commented on #3927
I would love to work on this issue. Please assign it to me.

[2021-10-01 15:46] nidhi-nair commented on #4815
Closed as redundant

[2021-10-01 15:46] #4815 closed

[2021-10-01 15:56] SandipPalit commented on #8036
@riodeuno , I have completed the changes and submitted the PR #8083

[2021-10-01 16:00] Cool-Runningz commented on #6148
I am interested in working on this if it is still available. Thank you!

[2021-10-01 16:02] somangshu commented on #4645
@Cool-Runningz thank for your interest 😁💯, we are currently working on the copy of the given content, and our team will get back soon. With the power vested in me I reserve this issue for you ⚡, and shall assign it to you as soon as we are done from our end. Meanwhile feel free to look at other issue you might be interested in.

[2021-10-01 16:03] Cool-Runningz commented on #7913
Are there still design decisions needed on this before it can be worked on? If so, I am interested in working on this when and if it is still available.

[2021-10-01 16:08] Swatigupta-droid opened #8088 "Size of images uploaded on Github are too large"
Improve the size of the images to make it look better.

[2021-10-01 16:14] Cool-Runningz commented on #4645
@somangshu Thank you for the information! I look forward to helping out when the issue is ready. I have already identified and commented on other issues (#6148 and #7913) that I think I may be able to help out with so I look forward to the response on those 😁

[2021-10-01 16:20] areyabhishek commented on #6148
I've assigned this to you @Cool-Runningz!

[2021-10-01 16:25] #7281 closed

[2021-10-01 16:33] rohith1125 commented on #8088
@Swatigupta-droid Assign me the issue I will fix it

[2021-10-01 16:35] Cool-Runningz commented on #6148
Thank you @areyabhishek! I will reach back out if I have further questions.

[2021-10-01 16:43] sachinrockman opened #8090 "[Feature]"
## Summary

One paragraph description of the feature.

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2021-10-01 16:44] #7836 closed

[2021-10-01 16:44] sachinrockman opened #8091 "[Docs]"
## Documentation Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

[2021-10-01 16:45] sachinrockman opened #8092 "[Docs]"
## Documentation Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

[2021-10-01 16:45] sachinrockman opened #8093 "[Bug]"
## Description

[What happened]

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]
- Environment [production, release, deploy preview]

[2021-10-01 16:45] sachinrockman opened #8094 "[Docs]"
## Documentation Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

[2021-10-01 16:46] sachinrockman opened #8095 "[Bug]"
## Description

[What happened]

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]
- Environment [production, release, deploy preview]

[2021-10-01 17:04] amanjhurani commented on #8013
Hello @somangshu @Nikhil-Nandagopal
It's a kind of webpage a user will be building by clicking on icon. Which will open page in editing mode. I found some icons which matching with the context.

![2](https://user-images.githubusercontent.com/47776459/135659376-92e35d5c-cfe1-45dc-81d7-e89bdaace0c5.png)

![1](https://user-images.githubusercontent.com/47776459/135659392-ed612bbe-25c1-4191-8d22-ab5321

[2021-10-01 17:07] ramsaptami commented on #7549
Sorry @ipankajchaudhary, this issue is has fix on it's way.

You could have a look at other issues tagged "[hacktoberfest](https://github.com/appsmithorg/appsmith/labels/hacktoberfest)"

[2021-10-01 17:12] #8090 closed

[2021-10-01 17:12] #8091 closed

[2021-10-01 17:12] #8092 closed

[2021-10-01 17:12] #8093 closed

[2021-10-01 17:12] #8094 closed

[2021-10-01 17:12] #8095 closed

[2021-10-01 17:19] errorinc0de commented on #7485
Thanks for assigning me the issue, I will work and try to resolve it as soon as possible and also thanks for sharing the files concerned with the bug.

@aswathkk

[2021-10-01 17:39] Nikhil-Nandagopal commented on #8047
@Hard-Coder05 this will be useful! Go for it

[2021-10-01 17:40] #3179 closed

[2021-10-01 17:41] Nikhil-Nandagopal commented on #6548
@SandipPalit go for it!

[2021-10-01 17:47] Nikhil-Nandagopal commented on #1043
This is now solved in our edit mode. More responsive properties will be available when we enable responsive applications

[2021-10-01 17:47] #1043 closed

[2021-10-01 17:47] Nikhil-Nandagopal commented on #8081
Hello are you talking about appsmith.com or app.appsmith.com?
appsmith.com is not part of this repository and is going to be mobile friendly soon.
app.appsmith.com has an issue here #4630

[2021-10-01 17:47] #8081 closed

[2021-10-01 17:48] Nikhil-Nandagopal commented on #7208
Hi @ipankajchaudhary, it;s all yours go for it!

[2021-10-01 17:51] Nikhil-Nandagopal commented on #5308
Hi @SandipPalit , I think you already have a few issues assigned to you. So please complete those before taking on new ones! Looking forward to your contribution :)

[2021-10-01 17:53] SandipPalit commented on #5308
@Nikhil-Nandagopal Some of my PRs are pending. So please assign this issue. I will complete the rest of the issues also.

[2021-10-01 17:54] Nikhil-Nandagopal commented on #8036
Hi @SandipPalit apologies, I don't think this is a very good PR because our code of conduct is a standard one taken from the contributor covenant. As such I don't think we can accept this PR. Do have a look at our many good first issue!

[2021-10-01 17:54] #8036 closed

[2021-10-01 18:10] somangshu commented on #4138
@riodeuno can you leave a product note here

[2021-10-01 18:37] ramsaptami opened #8100 "[Bug] Website improvements (Webflow design samples)"
## Description
- [x] Community call banner has a minor typo and extra space
![image](https://user-images.githubusercontent.com/79509062/135661480-61b388de-f6f8-4782-8024-154d95bce17e.png)

- [x] Align headings
![image](https://user-images.githubusercontent.com/79509062/135661699-acb9b288-4172-4255-8e1c-a6d45c341a44.png)

- [x] Elastic Search logo is incorrect - it's the company logo right now

- [

[2021-10-01 18:42] #7974 closed

[2021-10-01 18:42] #7286 closed

[2021-10-01 18:45] Hyperion101010 commented on #6842
Looks good can i pick this up @ayushpahwa

[2021-10-01 19:05] nidhi-nair commented on #7982
@trishaanand this is another instance of #7065. This series of dependencies has a multiselect in between that is breaking the chain.

@philipnye In the mean time, you could work around this bug that Trisha will be fixing by triggering the query using a button. Does that work?

[2021-10-01 19:42] areyabhishek commented on #8100
Thanks @ramsaptami!
@Rishabhkaul:
1. How does the banner at the top work? Will we manually set it up for every event?
2. Is the roadmap synced to GitHub or do we need to update it manually? We need better text there.

[2021-10-01 20:34] tlawrence-TAG commented on #7879
This is resolved after removing the field from my source data and creating a new field with a different name. Painful!

[2021-10-01 20:37] bamboowonder opened #8101 "[Feature] In a Postgres datasource, allow choosing a specific schema, and/or only display accessible tables"
## Summary

In a Postgres datasource, Instead of automatically querying pg_catalog for all tables/schemas, allow for a specific "schema" to be chosen, with the default being "public".

## Motivation

Currently, when choosing a Postgres database with many schemas besides "public", *all* the tables from *all* schemas are displayed in left panel, whether the database user has access to them or not.

[2021-10-01 20:41] Nikhil-Nandagopal commented on #7879
@tlawrence-TAG could you describe what was going wrong?

[2021-10-01 20:42] Nikhil-Nandagopal commented on #6842
Hi @Hyperion101010 , 👋  the issue is all yours! Do raise a PR within 4 days and read our [Contribution.md](Contribution.md)

[2021-10-02 01:59] rafaeelaudibert commented on #4911
Hey, I've just opened a PR for this @Pranay105 :)

[2021-10-02 02:26] jsartisan commented on #7661
I thought it's a validation issue. So added the good first label to it. my bad.

[2021-10-02 02:27] jsartisan commented on #3927
@SandipPalit Sorry, this was already fixed a long time back. Closing it.

[2021-10-02 02:27] #3927 closed

[2021-10-02 02:31] Cool-Runningz commented on #6148
@areyabhishek Do we want the tooltip to be added for all the widgets that contain the scroll content label? Or just the Form and Tab widgets? I noticed that the tooltip is also not visible for widgets other a lot of other widgets so I wanted to confirm.

[2021-10-02 02:50] jsartisan opened #8102 "[Bug] The undo/redo alert should have width based on the content"
Currently, the width of alert that we show in undo/redo feature has a fixed width which looks odd.
<img width="296" alt="screenshot_2021-10-01_at_11 13 03_pm" src="https://user-images.githubusercontent.com/6636360/135701451-efc5f346-897a-4d63-85b9-8053f40eee44.png">

Ideally, the width of the alert should be same as the width of the content instead of a fixed width like the image below:
<img width

[2021-10-02 05:07] beheradibas commented on #7658
I want to work on this if this issue still persists.

[2021-10-02 05:17] ieshreya commented on #7913
If the issue is still not sorted, I'm interested in taking this issue.

[2021-10-02 06:16] #7861 closed

[2021-10-02 06:17] aliya-rahmani commented on #7849
@vivekverma2312  please assign this to me

[2021-10-02 06:19] aliya-rahmani commented on #7690
Please assign this to me!

[2021-10-02 06:20] aliya-rahmani commented on #7328
I want to work on this issue.

[2021-10-02 06:23] beheradibas opened #8105 "[Docs]"
## Documentation Link

https://github.com/appsmithorg/appsmith/blob/master/contributions/ClientSetup.md#running-client-codebase

## Describe the problem

The prerequisites list can be improved.

## Describe the improvement

The setup list has the 2nd item: instructions to install ``mkcert``. After that, a new list has mentioned other steps like cloning the repository and installing yarn. The list

[2021-10-02 06:31] prsmahajan commented on #8105
I would like to work on this issue.
Can you please assign me if this is not sorted by the assignee?

[2021-10-02 06:32] prsmahajan commented on #8073
I would like to work on this issue. Can you please assign this to me?

[2021-10-02 06:36] beheradibas commented on #8105
Sure, but as I don't see any option to assign it to someone. Maybe because I am not an admin for this repo.
@Nikhil-Nandagopal Please look into the matter.

[2021-10-02 06:44] niyoj commented on #1551
Can you assign this issue to me? I would like to contribute in this issue.

[2021-10-02 06:57] somangshu commented on #7571
@rafaeelaudibert in order to contribute to an open source issue, you always need to first claim it, Since @nishihere19 claimed the issue first, I will not be able to assign this issue to you. Please look at other hacktoberfest labeled issue, claim one and then work it further, Its in the best interest of us to save everyones time, Hope you understand. Happy hacking 😄

[2021-10-02 06:58] somangshu commented on #7571
Greetings @nishihere19, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, please don't forget to register with [Appsmith's Hacktoberfest Community](https://hacktoberfest.appsm

[2021-10-02 07:04] ramsaptami commented on #7690
Its's all yours @aliya-rahmani.

Please don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue.

[2021-10-02 07:10] nishihere19 commented on #7571
Thank you!

[2021-10-02 07:11] nishihere19 commented on #7575
Thanks for clarifying @jsartisan !

[2021-10-02 07:49] afridihannan commented on #8105
Hey Everyone, I am Hannan. I am very beginner to Open  source. I want to contribute on this repo. Can anyone please guide some easy issues and how to proceed!!!

[2021-10-02 08:02] sakshamgurbhele commented on #7876
Update: I am working on this, I will make a PR soon.

[2021-10-02 08:08] ohansFavour commented on #7658
Hi @beheradibas , I just confirmed that this issue still exists. Yes, you can go for it!. I will go ahead and assign it to you.
Kindly go through the [contribution guidelines](https://github.com/appsmithorg/appsmith/blob/master/contributions/CodeContributionsGuidelines.md) if you've not done that already. Cheers!

[2021-10-02 08:23] Chavda-Mitul commented on #7939
hey can i work on this

[2021-10-02 08:53] #8105 closed

[2021-10-02 09:15] ashish921998 commented on #8013
@Nikhil-Nandagopal I would love to work on this issue.

[2021-10-02 09:33] Rishabh-Rathod opened #8112 "[Task] Improve DX for i18n of string"
## Description
Currently, to have an i18n support, we create a string literal's constant inside [constant/messages.ts](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/constants/messages.ts) and then use `createMessage` function, which in the future will have logic for i18n.

## Issue

The current DX for using a string literal has a lot of space for improvement.
Just to use a st

[2021-10-02 09:34] ashish921998 commented on #4843
@Pranay105 @RakshaKShetty @somangshu I would love to work on this issue.

[2021-10-02 09:36] ashish921998 commented on #7299
@Pranay105 @ramsaptami I would love to work on this

[2021-10-02 09:37] ashish921998 commented on #6685
@somangshu @Pranay105 Can I work on this issue?

[2021-10-02 09:43] nishihere19 commented on #8102
Is anyone working on this? If not, can I work on this?

[2021-10-02 09:47] nishihere19 commented on #7984
Is anyone working on this? If not, can I take this up?

[2021-10-02 10:29] pawankm21 commented on #8013
I have some suggestions.

[<img src="https://user-images.githubusercontent.com/63885768/135712021-4df74d9c-94af-4bae-a1ba-4ccea09d66aa.png" width="50"/>](image.png)[<img src="https://user-images.githubusercontent.com/63885768/135711958-d3f8487c-5e8a-48d1-8525-d38c438f62a8.png" width="50"/>](image.png)[<img src="https://user-images.githubusercontent.com/63885768/135711960-a3397589-958e-42d1-b501-de

[2021-10-02 10:45] pawankm21 commented on #7913
A Range slider will be great.

[2021-10-02 11:08] rushalikhilrani commented on #7941
hey! I  would love to work on this issue. Please assign it to me

[2021-10-02 11:30] Rishabh-Rathod commented on #7941
@rushalikhilrani & @aanchal-fatwani

Hey👋🏼,  thanks for showing interest in this issue.

Unfortunately, this issue is already taken. Do check our other [Good First issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22+label%3Ahacktoberfest)

Looking forward to seeing your contributions :)

[2021-10-02 11:39] Rishabh-Rathod commented on #7952
@aanchal-fatwani  Greetings, thanks for showing interest 🎉 , This is all yours. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate it if you can open a PR within the next 4 days.

[2021-10-02 11:45] Nikhil-Nandagopal commented on #7849
Hi @aliya-rahmani , 👋  the issue is all yours! Do raise a PR within 4 days and read our [Contribution.md](https://github.com/appsmithorg/appsmith/blob/release/CONTRIBUTING.md)

[2021-10-02 11:46] #7701 closed

[2021-10-02 11:47] Nikhil-Nandagopal commented on #7299
@ashish921998 go for it!

[2021-10-02 11:58] rmvids opened #8114 "[Feature] Import Api from a Swagger file"
## Summary

Import Api from a Swagger file

## Motivation

Much easier to do a batch import already, and it is also more natural since swagger(Open Api) is practically standard in the api documentation.

[2021-10-02 12:10] ashish921998 commented on #7800
@somangshu @YogeshJayaseelan @Nikhil-Nandagopal I would love to work on this.

[2021-10-02 12:40] Nikhil-Nandagopal commented on #7800
@ashish921998 go for t!

[2021-10-02 13:00] nishihere19 commented on #7553
Can I work on this issue?

[2021-10-02 13:04] Aarjav-Jain opened #8117 "Improving the embedding of YouTube Video"
Link to the page which needs improvement :
https://github.com/appsmithorg/appsmith-docs/blob/v1.3/README.md?plain=1#L22

The embedding of the YouTube video can be improved

BEFORE:
<img width="744" alt="before" src="https://user-images.githubusercontent.com/77677344/135717487-a8e8c2f7-3c20-43cb-bc5f-f520b787c68f.PNG">

AFTER IMPROVEMENT:
Added the thumbnail to the youtube video as an hyperlink

![

[2021-10-02 13:07] Aarjav-Jain commented on #8117
Should I submit the PR?

[2021-10-02 13:12] #8117 closed

[2021-10-02 13:35] somangshu commented on #8102
@nishihere19 thanks for showing interest, This issue is not up for grabs, Please search for issues under `hacktoberfest`. Happy hacking :)

[2021-10-02 13:55] TD-17 commented on #8008
Hi! Is anyone working on this issue? If not could you please assign this issue to me?

[2021-10-02 13:56] roshni-salpekar opened #8118 "[Docs] Tutorials link in README.md is broken"
## Documentation Link

Link in README - https://github.com/appsmithorg/appsmith/tree/update/readme#tutorials

## Describe the problem

Tutorials link is broken

## Describe the improvement

Link needs fixing

[2021-10-02 14:09] Rishabhkaul commented on #8100
Thanks @ramsaptami .

@areyabhishek:
1) Yes
2) No, we will manually update it here (also, this is not final copy). Vihar is changing it.

[2021-10-02 14:10] oliver-pham commented on #7401
Can I take on this issue as a first-time contributor this repo?

[2021-10-02 14:38] ramsaptami commented on #7401
It's yours @oliver-pham

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-10-02 16:50] ParnaviKulkarni commented on #8112
I will like to work on it. Please assign this issue to me.

[2021-10-02 17:27] Rishabh-Rathod commented on #8112
Hey👋🏼,  thanks for showing interest in this issue.

Unfortunately, this issue is yet in the discussion phase and hence not labeled as a Good First Issue. Please do check our other [Good First issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22+label%3Ahacktoberfest)

Looking forward to seeing your contributions :)

[2021-10-02 17:37] Rishabh-Rathod commented on #7553
Hey👋🏼 @nishihere19 , thanks for showing interest in this issue.

Unfortunately, this issue is yet in the discussion phase and hence not labeled as a Good First Issue. Please do check our other [Good First issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22)

Looking forward to seeing your contributions :)

[2021-10-02 17:56] ParnaviKulkarni commented on #8112
Okay thanks for letting me know.

[2021-10-02 18:40] nishihere19 commented on #6798
Can I work on this issue?

[2021-10-02 18:43] nishihere19 commented on #6994
Can I work on this under hacktoberfest?

[2021-10-02 19:38] ramsaptami commented on #6994
It's yours @nishihere19
Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-10-02 19:40] ramsaptami commented on #6798
It's your @nishihere19

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-10-02 19:51] Rishabh-Rathod commented on #7939
Hey👋🏼 @Chavda-Mitulthanks, Thanks for showing interest in this issue.

Unfortunately, this issue is already taken. Please do check our other [Good First issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22+label%3Ahacktoberfest)

Looking forward to seeing your contributions :)

[2021-10-02 19:51] nishihere19 commented on #6994
Thank you!

[2021-10-02 19:52] nishihere19 commented on #6798
Thanks.

[2021-10-02 19:53] Rishabh-Rathod commented on #7984
Hey👋🏼  @nishihere19, thanks for showing interest in this issue.

Unfortunately, this issue is not a Good First Issue. Please do check our other Good First issues.

Looking forward to seeing your contributions :)

[2021-10-02 22:04] tlawrence-TAG commented on #7879
Actually, it exists again. I have a field tagged as a date - formatted "MM/YYYY". The default sort from the query is sorting correctly (descending) but when data hits the table widget, the sort order is now out of order. It only happens on this one table.

[2021-10-02 22:27] tlawrence-TAG commented on #7879
I've confirmed the output of the query and tested multiple scenarios with different date formats out of SQL Server. The issue still persists. The field in the table widget is sorting ascending or out of order completely. Completely ignoring the order from the query window!

[2021-10-03 04:06] MitAbhay commented on #7868
Can you Assign this issue to me? @somangshu

[2021-10-03 04:41] somangshu commented on #7868
@MitAbhay this issue is already assigned to another contributor. Kindly check other issues under the label hactoberfest. Feel free to tag me. I'll assign it to you. Happy hacking 😁

[2021-10-03 04:50] areyabhishek opened #8123 "[Bug] Encoding issue with app export for Mandarin characters"
## Description
A user reported on Intercom that Mandarin characters get replaced with ? ? symbols when they tried to import an app from a different instance. It's an encoding issue either during export or import

See screenshot here
![Screenshot_20211003-101115](https://user-images.githubusercontent.com/30255708/135740408-d528a9b0-db5b-4200-abcb-0755ab9fdbc9.jpg)

[2021-10-03 06:53] Cool-Runningz commented on #7913
I know I was the first to comment on this but feel free to assign this to another contributor since I am interested in working on a different issue. Thank you :)

[2021-10-03 06:58] Cool-Runningz commented on #6905
Hello! I am interested in working on this issue if it is still available. Please and thank you!

[2021-10-03 07:20] MitAbhay commented on #4911
Can you assign this issue to me,

[2021-10-03 07:20] MitAbhay commented on #4911
@nidhi-nair

[2021-10-03 07:30] Rishabh-Rathod commented on #4911
Hey👋🏼,  thanks for showing interest in this issue.

Unfortunately, this issue is already taken. Please do check our other [Good First issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22+label%3Ahacktoberfest)

Looking forward to seeing your contributions :)

[2021-10-03 07:32] somangshu commented on #6905
Hey @Cool-Runningz apologies, but this issues was already assigned. Can you please look under the hacktoberfest label to find other issues you might be interested in

[2021-10-03 07:33] somangshu commented on #6905
Greetings @Cool-Runningz, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, please don't forget to register with [Appsmith's Hacktoberfest Community](https://hacktoberfest.app

[2021-10-03 07:36] #6422 closed

[2021-10-03 07:37] Rishabh-Rathod commented on #6002
We have removed storybook examples currently. Hence closing this issue.

[2021-10-03 07:37] #6002 closed

[2021-10-03 07:44] somangshu commented on #6685
@krishguptadev @ashish921998 this issue is more involved and needs to be thought off properly before getting picked up, We are still discussing this internally.

Kindly look into issues under the hacktoberfest label to find more issues that might interest you. Happy hacking :)

[2021-10-03 07:46] somangshu commented on #6685
#7215 is related

[2021-10-03 07:50] somangshu commented on #4843
@hiteshjoshi can this be worked on, I am not sure is this already covered. Kindly check and assign @ashish921998

[2021-10-03 08:28] Nightowl-8 commented on #7440
can you assign me this issue?

[2021-10-03 08:40] TomerPacific commented on #7564
Hi, I'd like to help out with this issue. Anything I should know before I start?

[2021-10-03 08:41] TomerPacific commented on #8118
Can I help out with this issue?

[2021-10-03 08:44] Rishabh-Rathod commented on #1551
Hey👋🏼 @niyoj, thanks for showing interest in this issue.

Unfortunately, this issue is no more valid. Please do check our other [Good First issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22)

Looking forward to seeing your contributions :)

[2021-10-03 08:46] Rishabh-Rathod commented on #1551
In the current version, there is no message visible on the deletion of a widget. Hence, closing this issue.

[2021-10-03 08:46] #1551 closed

[2021-10-03 08:56] Rishabh-Rathod opened #8127 "[Bug] Nested Tabs Selection Issue"
## Description

When using nested Tabs, selecting the tab in the children modifies the parent tab.

### Steps to reproduce the behavior:

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7c22536983834a548f6ee88499d2e110-00001.gif)](https://www.loom.com/share/7c22536983834a548f6ee88499d2e110)

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrom

[2021-10-03 09:06] Rishabh-Rathod commented on #2041
To resolve this issue, it might need a better understanding of the application state and how can it be persisted in the browser.
Hence, removing it from the `Good First Issue`.

[2021-10-03 09:20] Rishabh-Rathod commented on #7440
Hey @Nightowl-8, thanks for showing interest 🎉 , This is all yours. Assigning this to you now.

As this issue has 699 occurrences, I would suggest resolving it for not more than 10 files in a single PR. Would be easier for you to contribute that way and for us to merge your changes in small chunks. 😁

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith

[2021-10-03 09:28] Rishabh-Rathod commented on #3965
Unable to reproduce this issue in safari @YogeshJayaseelan, can you check again was it for a special case ?

https://user-images.githubusercontent.com/23132741/135747820-6520b6a2-0255-4a9c-ae64-a92855485ef7.mov

[2021-10-03 09:51] somangshu commented on #8013
@momcilo-appsmith Found out that this is actually representing edit page.

cc @areyabhishek @jsartisan

[2021-10-03 10:00] parth1614 commented on #8118
Greetings there! Can I help with the issue?

[2021-10-03 11:07] Nikhil-Nandagopal commented on #1283
@krishguptadev sure, go for it and raise a pr with the exported application!

[2021-10-03 11:10] Nikhil-Nandagopal commented on #8114
@rmvids , thank you for the wonderful feature request!

[2021-10-03 11:18] areyabhishek commented on #8073
@prsmahajan Hi there. This is a complicated issue
Could you look at issues marked as good first issues to find something? They'll be great starting places for you.

[2021-10-03 11:23] krishguptadev commented on #1283
@Nikhil-Nandagopal I would like to know where am I supposed to add this, since I am new to this project

[2021-10-03 11:30] rmvids opened #8128 "[Feature] Add events for javascript code execution"
## Summary

Add possibility of using events for javascript code execution

## Motivation

Add events in the widget palette, making it possible to run or feed the cache with variables in the events such as the on load of the document or window, for example.

[2021-10-03 11:37] rmvids opened #8129 "[Feature] Microfrontends for integration"
## Summary

Microfrontends with token integration.

## Motivation

Add client system integration via token jwt or OAuth. Objective is to be able to elevate or level tool to be a microfrontends portal. In other words, make it possible to use them in production systems as components.

[2021-10-03 12:10] Ian-Yy commented on #7217
Hi, can I work on this issue?

[2021-10-03 12:10] Nikhil-Nandagopal commented on #1283
@krishguptadev you can start by building the app and Sharing it with us. In the meantime, I'll create a folder to check this in

[2021-10-03 13:03] krishguptadev commented on #1283
Also, what do I have to recreate? Like I just see this page when I open the link:
![image](https://user-images.githubusercontent.com/91655303/135754837-4dd1506f-a14f-4cc9-9de8-5b72790eae8d.png)

[2021-10-03 13:20] ramsaptami commented on #7217
It's all yours @Ian-Yy

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-10-03 13:42] bhavy2908 commented on #7990
i'm intrested

[2021-10-03 13:43] Dexters-Hub commented on #7511
hey @Rishabh-Rathod can i work on this?

[2021-10-03 13:44] SriSatyaT commented on #7990
Hey thanks for showing intrest. I'll make pr by tomorrow. Hope you grab the other issue.

[2021-10-03 13:45] Rishabh-Rathod commented on #7511
Greetings @Dexters-Hub, thanks for showing interest 🎉 , This is all yours. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate it if you can open a PR within the next 4 days.

[2021-10-03 13:46] MartinTuroci commented on #7903
Hi, can I take on this issue?

[2021-10-03 13:57] AmiShaaaa commented on #7876
I am interested ! Let me know if I can.

[2021-10-03 14:00] bhavy2908 commented on #8013
I would like to work on this

[2021-10-03 15:46] J-Ankit2020 commented on #7440
Can i work on this issue

[2021-10-03 15:48] J-Ankit2020 commented on #6822
Assign me this issue

[2021-10-03 15:55] Swatigupta-droid commented on #8088
@Rishabh-Rathod  ,I have opened a pull request  #8097 for this issue .I have got a reply of getting it merged,
 but haven't yet.

[2021-10-03 15:59] aromalsanthosh commented on #7621
Hi @ramsaptami , I can solve this can u assign it to me ?

[2021-10-03 17:41] Shradha-Verma-12 commented on #8129
I'd like to take a shot at this issue.

[2021-10-03 17:50] eagleera commented on #7877
Hi! can I work on this one?

[2021-10-03 18:17] Aarushi5g commented on #8013
Hello, the most relevant icon for preview seems to be this one!

![image](https://user-images.githubusercontent.com/54365212/135766413-d1b676fd-e36f-4a7a-90e8-26b96cab09be.png)

Please let me know what you think and I'll be more than happy to work and complete the issue further!!
Thank you :)

[2021-10-03 18:43] aswathkk commented on #7578
@vivekverma2312 I'm unable to reproduce this issue now.
Can you confirm whether this issue still happens?

[2021-10-03 18:47] aswathkk commented on #7429
@vivekverma2312 Unable to reproduce this issue now.

[2021-10-03 19:06] momcilo-appsmith commented on #7944
@somangshu we are going to fix this with the new entity explorer

[2021-10-03 19:08] j1gy45u commented on #7876
I'd love to work on this, please let me know if i can!

[2021-10-03 19:18] Rishabh-Rathod commented on #7440
Hey👋🏼 @J-Ankit2020,  thanks for showing interest in this issue.

Unfortunately, this issue is already taken. Please do check our other [Good First issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22+label%3Ahacktoberfest)

Looking forward to seeing your contributions :)

[2021-10-03 19:33] askalik commented on #4947
could i work on this issue?

[2021-10-03 19:41] kyteinsky commented on #7621
I think the issue has already been solved. I saw the website and the hover property is already present in the launch button.

[2021-10-03 19:47] ps-19 commented on #8013
what about this one:

![Uploading icon.png…]()

[2021-10-03 19:59] eagleera commented on #7887
Hi! can I have this assigned to me? I just created the [PR](https://github.com/appsmithorg/appsmith/pull/8135)

[2021-10-03 20:03] areyabhishek commented on #7887
Done! I'll check the pr tomorrow

[2021-10-03 21:25] bharat-patodi commented on #7444
Hi @Rishabh-Rathod,
I see that the PR was closed for this issue.
If you want I can work on this.

[2021-10-04 00:06] rmvids opened #8138 "[Feature] Login integration with OpenID"
## Summary

Login integration with OpenID, possibility integration with keycloak, okta for example.

## Motivation

login using the Open ID pattern. Very useful in government that uses sso to login across platforms and appsmith would be another

[2021-10-04 01:21] HammedBabatunde commented on #8118
Hello,
Can I help with this issue?

[2021-10-04 02:43] aditirao7 commented on #7317
If this isn't already assigned, I would love to work on it.

[2021-10-04 03:18] krishguptadev commented on #1283
Could you tell @Nikhil-Nandagopal

[2021-10-04 03:29] aditirao7 commented on #5111
Has this been fixed? May I work on it?

[2021-10-04 04:02] J-Ankit2020 commented on #7471
Assign this to me

[2021-10-04 04:12] ramsaptami commented on #7471
It's your @J-Ankit2020

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-10-04 04:19] MitAbhay commented on #7913
Assign it to me... @vnodecg

[2021-10-04 04:26] #6787 closed

[2021-10-04 04:27] #7390 closed

[2021-10-04 04:27] #7980 closed

[2021-10-04 04:38] ps-19 commented on #818
@mohanarpit @Nikhil-Nandagopal Can you specify the procedure to recreate issue in little more detail?
Thanks

[2021-10-04 04:42] mohanarpit commented on #818
@ps-19 Apologies. This issue is a duplicate of #1231 and has already been resolved.

[2021-10-04 04:42] #818 closed

[2021-10-04 04:55] RakshaKShetty commented on #7877
@pranavkanade and @nayan-rafiq can you help on this

[2021-10-04 05:19] samyakjain10 commented on #7441
Hey! I have fixed this issue. Please review!

[2021-10-04 05:26] ps-19 commented on #818
@mohanarpit can you suggest me some very beginner friendly issue to work on.

[2021-10-04 05:41] pranavkanade commented on #7877
@eagleera please go for it

[2021-10-04 05:56] RakshaKShetty commented on #6813
we are planning to revert the fix and work on it New changes

[2021-10-04 06:06] riodeuno commented on #5437
I believe we can prevent overflow by assigning the tooltip's boundaries as viewport.

[2021-10-04 06:09] pranavkanade commented on #7368
This is the actual error log -
[code]
Looks like chunk loading failure

[2021-10-04 06:10] #8118 closed

[2021-10-04 06:14] SatishGandham opened #8146 "[Epic] List widget v2"
# Objective
Rewrite the list widget and make it more scalable and extendable.

# Success Metrics
List of all metrics you are tracking and the desired goal.
| Goal  | Metric |
| Access derived properties | Should be able to access derived properties of inputs in list |
| Performance  | No unnecessary renders and perf degradation   |

[2021-10-04 06:21] YogeshJayaseelan commented on #5557
@ajinkyakulkarni @sumitsum Still the error message is not readable

Error getting filter : Expected 'filter' to be BSON (or equivalent), but got string instead. Doc = [{find status} {filter 2ndJulyRaw} {limit 5} {$db heroku_bcmprc4k} {$clusterTime [{clusterTime {1633328214 22}} {signature [{hash {0 [106 26 5 69 135 175 64 58 159 2 142 235 141 42 86 98 104 235 0 255]}} {keyId 6951478180020486145}]}

[2021-10-04 06:22] ion05 commented on #8013
@prapullac can i work on this ?

[2021-10-04 06:24] Nikhil-Nandagopal commented on #8138
@rmvids thank you for the feature request! We have this issue tracked here #2840

[2021-10-04 06:24] #8138 closed

[2021-10-04 06:25] ion05 commented on #7175
@somangshu @prapullac can i work on this as well ?

[2021-10-04 06:29] sumitsum commented on #5557
@prapullac I had opened another issue to track the client side part of it, which is still open. This issue should be verified when that issue is closed. Mentioning it here: https://github.com/appsmithorg/appsmith/issues/7863 . Sorry for the confusion.

[2021-10-04 06:31] hetunandu commented on #6822
Thanks for your interest @J-Ankit2020. This is not really a Good first issue. I'll remove the tag. Please find some other issue to contribute and tag me. I'll assign it ASAP

https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest

[2021-10-04 06:32] sumitsum commented on #7863
Closing since we are tracking the client part in #5557 itself.

[2021-10-04 06:32] #7863 closed

[2021-10-04 06:33] sumitsum commented on #5557
@ajinkyakulkarni Some help from the FE team is required here to cover the Client side changes here.

[2021-10-04 06:45] sentry-io[bot] opened #8147 "[Bug] TypeError: i is undefined"
Sentry Issue: [APPSMITH-17Z](https://sentry.io/organizations/appsmith/issues/2691435102/?referrer=github_integration)

[code]

[2021-10-04 06:51] Nikhil-Nandagopal commented on #7840
duplicate of #7606

[2021-10-04 06:51] #7840 closed

[2021-10-04 06:54] sentry-io[bot] opened #8148 "TypeError: Cannot read properties of undefined (reading 'trim')"
Sentry Issue: [APPSMITH-17S](https://sentry.io/organizations/appsmith/issues/2688160072/?referrer=github_integration)

[code]

[2021-10-04 06:55] sentry-io[bot] opened #8149 "[Bug] TypeError: Cannot read properties of undefined (reading 'derivedProperties')"
Sentry Issue: [APPSMITH-17R](https://sentry.io/organizations/appsmith/issues/2688132339/?referrer=github_integration)

[code]

[2021-10-04 06:59] Nikhil-Nandagopal commented on #8127
@somangshu urgent attention here. This can break other people's apps right?

[2021-10-04 07:01] Nikhil-Nandagopal commented on #8127
@Rishabh-Rathod can you please give the exact steps to reproduce this?

[2021-10-04 07:06] Nikhil-Nandagopal commented on #8128
@rmvids thanks you for the feature request. This issue will be solved with our JS Editor that will allow execution of javascript on page load #1751. Do let us know if there are any other events missing!

[2021-10-04 07:06] #8128 closed

[2021-10-04 07:08] Nikhil-Nandagopal commented on #818
@ps-19 please have a look at our (Contribution Guide)[https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidelines.md]

[2021-10-04 07:09] Nikhil-Nandagopal commented on #4041
@hetunandu can we ensure this doesn't happen in view mode at least?

[2021-10-04 07:19] Rishabh-Rathod commented on #8127
@Nikhil-Nandagopal I am unable to reproduce it now.

@somangshu this application has the issue this can be used for debugging https://app.appsmith.com/applications/6123c4cf695af65b46d74715/pages/6123c4cf695af65b46d74717

[2021-10-04 07:24] Nikhil-Nandagopal commented on #8129
@Shradha-Verma-12 this is not a good first issue. Please have a look at our contribution guidelines

[2021-10-04 07:24] Nikhil-Nandagopal commented on #8129
@rmvids is this to share jwt tokens between oauth providers like auth0 and appsmith?

[2021-10-04 07:35] Nikhil-Nandagopal commented on #7999
@rishabhsaxena what is the use case here? Store value is async in nature

[2021-10-04 07:35] #7999 closed

[2021-10-04 07:36] sharat87 commented on #7929
Fixed by introducing a delay in updated images being pushed to DockerHub. This shouldn't be happening in the future, even if `restart: "unless-stopped"` is not present (although I'd recommend having it anyway).

[2021-10-04 07:36] #7929 closed

[2021-10-04 07:38] rishabhsaxena commented on #7999
Got it, I guess we were planning to make it sync. Also the docs say it's a `sync` function:
![image](https://user-images.githubusercontent.com/1944800/135811641-e8a85ec9-7bef-4417-8675-1335c5885e06.png)

[2021-10-04 07:39] Nikhil-Nandagopal commented on #7999
Thanks updating that!

[2021-10-04 07:54] #8078 closed

[2021-10-04 08:09] #7605 closed

[2021-10-04 08:31] MJjainam commented on #7401
Hi @oliver-pham, is this being worked upon? Or can I pick it up?

[2021-10-04 08:48] jasenaquadras commented on #7296
I would like to work on this issue.

[2021-10-04 08:48] nidhi-nair opened #8151 "[Bug] Redux state for entity actions not getting refreshed on navigating away from page"
### Steps to reproduce the behaviour:

1. Go to a new Page and execute and query Query1.
2. Check redux state, entities object stores the query data in actions array.
3. Navigate to another page Page2.
4. Check redux state again to see that the action data is retained.

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]
- Environment [pr

[2021-10-04 09:17] Sarthakagarwal22 commented on #7358
I would like to pick up this issue

[2021-10-04 09:33] #6412 closed

[2021-10-04 09:41] Nikhil-Nandagopal commented on #1283
@krishguptadev it looks like the demo is not loading for you. I think you need to hit accept and refresh the page.

[2021-10-04 09:41] #7606 closed

[2021-10-04 09:42] RakshaKShetty opened #8155 "[Bug]The duplicate options is displayed in radio widget"
## Description ]The duplicate option is displayed  in the radio widget when the user edits the value option from the property pane

[What happened] Inside the Radio button property pane Edit the value in the options section the same label option is displayed twice in the UI

### Steps to reproduce the behaviour:

https://www.loom.com/share/d283f4951e834b90b88a905e5224e043

### Important Details

-

[2021-10-04 09:50] somangshu commented on #8155
There is no changes in the widget for some time now, The last change 5 months ago might be causing this, We see that the evaluation of the options is also correct.

cc @riodeuno

[2021-10-04 10:05] Nikhil-Nandagopal commented on #6148
@Cool-Runningz please do add this for all widgets. That would be great :)

[2021-10-04 10:06] ramsaptami commented on #7296
It's yours @jasenaquadras

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-10-04 10:08] Nikhil-Nandagopal commented on #7368
@pranavkanade is there a solution?

[2021-10-04 10:10] somangshu commented on #7917
@jsartisan can the change be:

In the permission denied state, we will change text `Permission not given` to `Permission denied` and instead of the timer we add anchor `know more` and the above given link.

[2021-10-04 10:12] Nikhil-Nandagopal commented on #7913
@ieshreya this issue is yours if you're interested. The solution is to add a style property for the entire button called Justify Content as a dropdown with options
Start
End
Center
Space between
Space evenly

[2021-10-04 10:14] Nikhil-Nandagopal commented on #8010
Fixed in the next release

[2021-10-04 10:14] #8010 closed

[2021-10-04 10:35] somangshu commented on #7358
Greetings @Sarthakagarwal22, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, please don't forget to register with [Appsmith's Hacktoberfest Community](https://hacktoberfest.

[2021-10-04 10:44] krishguptadev commented on #1283
It loaded, but I think we should not clone this, since it is a template [up for sale by someone](https://www.jetadmin.io/pricing/internal-tool)

[2021-10-04 10:52] jsartisan commented on #7917
Sorry, i missed this thread. yes, the change you mentioned works.

[2021-10-04 10:56] Nikhil-Nandagopal opened #8159 "[Bug] Disable Pin centering in Map Widget"
## Description

A user wants to control whether clicking a marker on the map should center the map onto the marker or not. Today this is true by default without an option to control it

[2021-10-04 11:02] Nikhil-Nandagopal commented on #1283
@krishguptadev the template is only a guiding star for the type of requirements a customer onboarding tool should have. Please don't replicate it but use it to understand the type of tool to be built :)

[2021-10-04 11:07] #5699 closed

[2021-10-04 11:10] momcilo-appsmith commented on #7913
@nikhil I think it should only be centered, have not really seen many buttons that have different alignment with the icon.

[2021-10-04 11:21] rmvids commented on #8129
current solution requires the use of iframe, but I'm suggesting that it works a little more integrated with client systems, so that it's similar to Entando, but not the same. Be able to add widgets on other systems and integrate via oAuth or Jwt via the backend of third-party systems. This would make the widgets could be part of legacy systems and that are in production without the need for rewrit

[2021-10-04 11:22] EkaterinaMozheiko commented on #4662
Hey @somangshu, I'd like to work on this issue. Is Figma link actual?

[2021-10-04 11:26] rmvids commented on #8129
But if it is not possible to abandon the use of iframe, at least the integration is more transparent for the client, without having public url or even login inside the iframe...

[2021-10-04 11:30] Nikhil-Nandagopal commented on #7913
@momcilo-appsmith great point, we can just have center, space between and space evenly

[2021-10-04 11:35] somangshu commented on #4183
From an ongoing discussion:

1. We need disabling of in-line editing for some columns. A user asked about this because they don’t want every thing to be editable. - We can introduce an editable property in the column setting when inline editing is enabled, This will turn true by default and the user can have a choice to disabled it.
2. Enabling some columns to be drop-downs so that there are limit

[2021-10-04 11:35] riodeuno commented on #7328
@aliya-rahmani Thanks for offering to help out with this issue. It is all yours! Assigning it to you.

Notes on development, specific to the Appsmith platform:
 - The property pane configurations should be changed [here](https://github.com/appsmithorg/appsmith/blob/7665ff3c4f3873fc325d7e4c9002ae3b0594abb1/app/client/src/widgets/InputWidget/widget/index.tsx#L138)
 - We need to add two entries, whic

[2021-10-04 11:39] philipnye commented on #7982
@nidhi-nair Yes, I can use that workaround in the meantime. Thanks very much for your help identifying the issue.

[2021-10-04 11:43] Nikhil-Nandagopal commented on #7913
@ieshreya this issue needs a little more consideration in terms of UX so we're removing this issue from our contribution list. Please do find another good first issue

[2021-10-04 11:46] ramsaptami opened #8160 "[Bug] When username is a subset of an already existing user then invite user prompt does not appear"
## Description
When tagged user email address is a subset of an already existing user then "Invite user" prompt is not displayed

### Steps to reproduce the behaviour:
1. In comment mode, try tagging a user with email ID which is a subset of current user, e.g. ramsaptami@appsmith.com (current user) tags saptami@appsmith.com (user to be invited to new organization)
2. Invite user option does not ap

[2021-10-04 11:50] RakshaKShetty opened #8161 "[Bug]User name does not change for Live comment notifications when the user name is changed on profile"
## Description User name does not change for Live comment notifications when the user name is changed on profile

[What happened] User name does not change for Live comment notifications when the user name is changed on profile and the user is in Comment mode and go back to Home page and click on the notification the old name persists till the user refresh the page

![image](https://user-images.gi

[2021-10-04 12:03] mandvisingh commented on #7317
Can i work on this issue?

[2021-10-04 12:04] mandvisingh commented on #4381
Can i work on this issue?

[2021-10-04 12:05] mandvisingh commented on #3778
Can i work on this issue?

[2021-10-04 12:08] mandvisingh commented on #4227
Can i work on this issue?

[2021-10-04 12:11] arunvjn commented on #3778
@mandvisingh Go for it!
Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md).

Please don't forget to register with [Appsmith's Hacktoberfest](https://hacktoberfest.appsmith.com/) Community in order to be eligible for Appsmith swag.

[2021-10-04 12:20] riodeuno commented on #3360
- The features we have are quite limited today. `disable`, `visible`, `copy`, `defaultJSON` and `onSave`. In component features are: `edit mode`, `view mode`, `JSON error reporting`. We might need `disableEditing` and `defaultEditMode` here. As @areyabhishek and @somangshu mentioned, let's not increase the scope for v1. The core problem to solve is to have a nice way to edit and view JSON.
- About

[2021-10-04 12:27] Cool-Runningz commented on #6148
@Nikhil-Nandagopal Thank you for clarifying! I figured that might be the case so the work for that has been completed in the linked PR above.

[2021-10-04 12:30] somangshu commented on #4662
Hey @EkaterinaMozheiko, Thanks for showing interest. I am not sure if this issue is still open. @hiteshjoshi can you kindly confirm that and assign this.

Also @EkaterinaMozheiko just a small tip, Searching issues under the hactoberfest label will give you better issues to work on

[2021-10-04 12:34] somangshu commented on #7175
Hey @ion05, I am not sure if this issue is not yet fixed as we have worked on a lot of things around this. @hiteshjoshi can you kindly confirm and assign this in case its still valid

[2021-10-04 12:49] #7898 closed

[2021-10-04 12:51] Nikhil-Nandagopal commented on #4662
Hi, this will no longer be valid with our new release as such we're closing this issue :)

[2021-10-04 12:51] #4662 closed

[2021-10-04 12:54] Nikhil-Nandagopal commented on #4381
@mandvisingh go for it! Do read our contribution guidelines and raise a PR within 4 days :)

[2021-10-04 13:16] somangshu commented on #4416
The issues here is that the compatibility between the JS mode and UI mode is not consistent, We often face data loss, Here we need to resolve that

[2021-10-04 13:18] somangshu commented on #5980
@momcilo-appsmith need design for clear all filters in the filter pane

[2021-10-04 13:22] somangshu commented on #6038
For consistency, In edit mode we should have the grab icon as all widgets are movable and in the view mode we can have pointer?

[2021-10-04 13:43] sbalaji1192 opened #8165 "[Task] Label change in welcome page form"
Make following changes to welcome page form
Usage data preference
Share anonymous usage data to help improve the product.
See what is shared
If the toggle is on: Share data & make appsmith better!
If the toggle is off: Don't share any data

[2021-10-04 13:54] Tooluloope commented on #4984
Reproducible steps
Create a table
Create a query that fetches data
Mark it as onPageLoad false
bind it as {{ Query1.data.length > 0 ? Query1.data : [{}] }}
Change the order of columns in the table
refresh the page
Go to the api run the query
The table columns are all reset

[2021-10-04 14:36] somangshu commented on #6121
The blueprint position / placement property dosent seems to resolve this until there is enough space under the property. We will need to triage the solution here

[2021-10-04 14:36] vihar opened #8168 "Appsmith Hacktoberfest! Help us fix bugs, improve code, make new features, write examples and many more!"
Hey Contributors 👋🏻 !

We're back again this year for an exciting month-long virtual festival supporting open-source projects. We love it because it's celebratory and community-oriented!

This issue tracks all the engineering, design, content-related ideas, issues and contribution guidelines to help you get started with Appsmith and Hacktoberfest!

Before contributing to Appsmith, please fill out

[2021-10-04 14:42] cokoghenun opened #8169 "[Bug] GUI builder for Navigate-To query params updates with random input"
## Description

Trying to use the GUI option to write query params results in unexpected/random output. More info in the attached video

### Steps to reproduce the behavior:

This is shown in the attached video

### Important Details

- Version: Cloud
- OS: macOS Big Sur
- Browser: Edge
- Environment: Release

https://user-images.githubusercontent.com/17744578/135872049-0bf20b08-d2b8-4ce3-9c24-a8b

[2021-10-04 14:44] somangshu commented on #6501
@SatishGandham removing this from good first issues because I think this will be resolved with the docked property pane

[2021-10-04 14:50] somangshu commented on #6548
@vivekverma2312 can you check if this happening in all the dropdown controls

[2021-10-04 14:53] somangshu commented on #6691
removing this from goodfirst because this is a core control component and we need to be careful here

[2021-10-04 14:55] somangshu commented on #6780
@Tooluloope can you drop a comment to show this can be achieved and mark it under the `hacktoberfest` label, Seems like a good issue for the new contributor

[2021-10-04 14:57] ramsaptami opened #8171 "[Bug]-[8000]:Colour contrast on app cards/user name bubbles for design system"
## Description
Colour contrast on the app cards/user name bubbles makes it hard to demarcate the boundaries for name bubbles as seen on comment mode (screenshot 1) and home page (screenshot 2)

### Important Details
- Version: Cloud
- OS: Win10
- Browser: Chrome
- Environment: Release

![image](https://user-images.githubusercontent.com/79509062/135873817-2d646069-19ea-4a34-9460-6952952abd1f.png)

[2021-10-04 14:59] Cool-Runningz commented on #6905
@somangshu Thank you for assigning me this issue. I have read through the Contribution Guidelines and the PR of the work is linked above and ready for review. Thanks!

[2021-10-04 15:02] aswathkk commented on #7903
@MartinTuroci Thanks for showing interest. Unfortunately, we are not yet decided to go with this change.
Please do check other issues which are tagged as [Hacktoberfest](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest). We are happy to assign those to you.

[2021-10-04 15:05] Tooluloope commented on #6780
@momcilo-appsmith.
I feel having a design for this, so it can be used for all Select Widgets(MultiSelect and Treeselect), so we don't end up having Inconsistencies.

@momcilo-appsmith Could you help with this?

[2021-10-04 15:12] ashish921998 commented on #7299
@Nikhil-Nandagopal @ramsaptami this is not reproduceable, can you please ask someone to link a video on how to reproduce this

[2021-10-04 15:16] aswathkk commented on #7903
We are thinking of changing the function `showAlert()` to `showMessage()` since the alert in the browser is having a different UI. The challenge in that would be to write migrations so that the existing applications wouldn't be breaking. We won't be taking that path since a lot of users are using showAlert in their production workflows.

Another approach is to introduce whole new function named `s

[2021-10-04 15:23] ThisIsFaar commented on #5437
hey @YogeshJayaseelan can I work on this issue?

[2021-10-04 15:29] ramsaptami commented on #7299
Hey @ashish921998, so this is a specific edge case where a PNG file of size that's close to the size limit fails.

Other image file types can be successfully uploaded.

[2021-10-04 15:40] somangshu commented on #6905
Thanks @Cool-Runningz, I'll look into it

[2021-10-04 15:43] EkaterinaMozheiko commented on #7317
I'd like to work on this issue

[2021-10-04 17:02] Catzla commented on #7401
Hey @ramsaptami can i take this issue?

[2021-10-04 17:15] maskmanlucifer commented on #4841
@Pranay105  can i work on this issue ??

[2021-10-04 17:22] Pranay105 commented on #4841
@maskmanlucifer here you go. Happy hacking :)

[2021-10-04 17:22] maskmanlucifer commented on #4812
@Pranay105 i want to work on this issue please assign this issue to me.

[2021-10-04 17:27] Pranay105 commented on #4812
Hey @maskmanlucifer, I would suggest you work on the issue already assigned to you. You can work on this after that :)

[2021-10-04 17:29] ramsaptami commented on #7401
Hi @Catzla, appreciate you showing interest in resolving this issue 😊

In the interest of keeping things fair, we'd like to give @oliver-pham a chance to fix this since they requested to pick it up.

We have a 4 day timeline to raise a PR for assigned issues. In the event that the PR isn't resolved within that timeframe and if you're available, I'll assign it to you. Hope that's ok!

Don't forget

[2021-10-04 17:29] maskmanlucifer commented on #4812
since both issues deals with the same page so it will be time efficient to work on both issues simultaneously
otherwise i can work one by one.

[2021-10-04 17:31] maskmanlucifer commented on #4841
thank you :)

[2021-10-04 17:32] maskmanlucifer commented on #4812
Also for solving one issue i have to go through problems of other issue.
so i can work on both issues.

[2021-10-04 18:04] SrinidhiKulkarni28 commented on #8013
Is this still open? If yes can I work on this?

[2021-10-04 18:53] albinAppsmith opened #8179 "[Bug] - Appsmith design system release issues"
## Description

- [x] Home page top padding to be reduced
- [x] JS Objects has a double line
- [x] Double line in query page
- [x] Double line debugger and api
- [x]  Widget suggestions drop down icon is still too small
- [x] Dependencies tooltip is still old style
- [x]  Documentation is still not centred vertically in the query
- [ ] Clicking at the end of the page or any entity in the EE does n

[2021-10-04 19:00] siddhantdixit commented on #8168
Hello, I would like to work on this repo! Can u assign me issues?

[2021-10-04 19:23] Schnurres commented on #4183
@somangshu this sounds awesome. Can't wait for these improvements to go live. This will improve Appsmith so much. The dropdown feature would be so good and really improve the inline editing function even further, Really like these ideas.

[2021-10-04 20:06] Nikhil-Nandagopal commented on #8179
One more issue, the selected state of the query is not the same as the selected state of the widget

[2021-10-04 20:10] siddhantdixit commented on #8179
Can I work on this issue?

[2021-10-04 20:25] Rishabh-Rathod commented on #2896
@somangshu
Are we also planning to add `pageSize` control in the TableWidget property pane?

A user on discord enquired about it,
Check user message here - https://discord.com/channels/725602949748752515/760761686549463060/894673031744594023

[2021-10-04 22:49] eagleera commented on #7877
I was trying to generate some notifications but I didn't find a way to do it, do you know some steps I can do to create a notification so I can test?

[2021-10-05 02:40] oliver-pham commented on #8168
Hi! I'd like to build a project management app with Appsmith and write a blog post about it. How can I share my idea with your editorial team?

[2021-10-05 03:38] MJjainam commented on #7401
Thanks @ramsaptami
Is there any exact error message that you have in mind?

[2021-10-05 03:50] ParnaviKulkarni commented on #8008
I can work on this issue if provided with some resources.  Can this issue be assigned to me?

[2021-10-05 04:18] skamp91 commented on #7991
hey 😊 I want to fix it and work on it, is it still possible ?

[2021-10-05 04:20] somangshu commented on #4183
@Schnurres thanks for the feedback, this helps us validate we are in the right direction. Kindly let us know if there is anything we might be missing.

[2021-10-05 04:27] Sarthakagarwal22 commented on #7358
<img width="531" alt="Screenshot 2021-10-05 at 9 56 41 AM" src="https://user-images.githubusercontent.com/16587695/135960003-076aab15-7aa5-423a-b386-9903234e2ee1.png">
Does this look like a valid solution

[2021-10-05 04:54] ramsaptami commented on #8179
@albinAppsmith Hover on org member's bubbles on home page causes this strange behaviour
https://www.loom.com/share/8778feaee4f2465b985aeae2d4d6c2c3

[2021-10-05 05:05] SatishGandham commented on #7076
@Nikhil-Nandagopal

User would have to add this on every input right? Since there can be only one single text, wouldn't exposing a method or storing it in the global store( we have to remember to clear it) be more convenient?
Also, can a user implement this on their own with JSObjects?

[2021-10-05 05:34] ramsaptami commented on #7401
Something on the lines of another app being present with the same name and that a page refresh to resolve this should be good enough @MJjainam

[2021-10-05 05:55] Nikhil-Nandagopal commented on #8179
@siddhantdixit this is not a good first issue. Please have a look at issues with the "Good First Issue" label

[2021-10-05 05:57] YogeshJayaseelan opened #8188 "[Bug] Clicking on hide icon on any of the table column the visible toggle is not disabled"
## Description
Release/Production - Clicking on Hide icon on any of the table column the visible toggle of the particular column is not disabled.

**Note: Both hide icon and visible toggle in the table column performs the same functionality**

**Expected Result:**
Clicking on hide icon on any of the column should disable the visible toggle of the particular column and clicking on unhide on any of

[2021-10-05 05:59] ramsaptami commented on #7621
Hey, we've had a design revamp on our product and you'll likely see the described scenario on the new home page. You can give it a go if you're still up for it and I'll assign the issue to whoever's interested.

[2021-10-05 06:00] sentry-io[bot] opened #8189 "[Bug] UnsupportedMediaTypeException: Content type 'text/html' not supported for bodyType=com.appsmith.server.dtos.ResponseDTO<com.apps..."
Sentry Issue: [APPSMITH-181](https://sentry.io/organizations/appsmith/issues/2693855031/?referrer=github_integration)

[code]

[2021-10-05 06:04] Nikhil-Nandagopal commented on #7076
@SatishGandham yes they would have to add it to every input only in the case that they want to store all of this in a commonplace. Otherwise, it will be accessible as Input1.selectedText which is also a global store of sorts. The actual store i.e appsmith.store should only be used for values users explicitly store in it. All internal properties are by default saved in the widgets. It's hard to jus

[2021-10-05 06:04] kyteinsky commented on #7621
Yeah, I see it now. You can assign it to me.
Just to confirm, the website follows the release branch, right?

[2021-10-05 06:06] prapullac commented on #7035
We can close the issue as this is not reproducible currently.

[2021-10-05 06:06] #7035 closed

[2021-10-05 06:14] ramsaptami commented on #7621
Yep, that's right.

Don't forget to read the [contributor guidelines](https://github.com/appsmithorg/appsmith/blob/769ee31f87cfe7866e5cd87a2c2df9da48f778cc/CONTRIBUTING.md) before working on this issue. Good luck!

[2021-10-05 06:28] vivekverma2312 commented on #6093
@riodeuno Is it possible that all the property in Evaluated Pane is maximised by default so that a user can see all the property while editing the field.

[2021-10-05 06:33] #8179 closed

[2021-10-05 06:43] kyteinsky commented on #7621
Sure will. Thanks.

[2021-10-05 06:49] albinAppsmith opened #8190 "[Bug] - Property pane, scrollbar and google sheet where input alignment fixes"
## Description

 - [x] Scrollbar appearing on homepage when the members list has more that 20 members
 - [ ] Share popup, while opening the popup loader is coming with scrollbar
 - [x] Selected highlight color is very light
 - [x] Debugger response textbox edges should be sharp
 - [x] Add border to API request URL and remove background
 - [x] Share pop up not getting closed while clicking outside

[2021-10-05 07:07] somangshu commented on #7358
@jsartisan need you to check this out

[2021-10-05 07:12] SatishGandham commented on #7076
This property is different because there is only one selected text across the page.
Since we don't expose window, we should expose a method to get the selected text.

The linked PR does the change only on the input widget, if it's going to be a widget property, it should be done for rich text editor as well.

[2021-10-05 07:12] riodeuno commented on #6093
@vivekverma2312 Yes, it is. However, some structures and examples are large, which will push the evaluated value down. This is the reason for making them collapsed by default.

[2021-10-05 07:20] jsartisan commented on #7358
@Sarthakagarwal22 the valid solution for this is to use the portal to render the context menu. The reason why this is happening is that the context menu is rendering in the same container.

[2021-10-05 07:23] ramsaptami commented on #7853
Reopening this issue since there are pending task that still need to be picked up (only major tasks were picked for immediate fix). Also, reassigning this to prod label since these are now on master.

[2021-10-05 07:25] sbalaji1192 opened #8191 "[Feature] Non super user welcome signup form"
https://www.figma.com/proto/lqtUfzJO50RpEhxKttYeOg/Local-Dev-Main?node-id=3106%3A35340&scaling=min-zoom&page-id=3106%3A35339&starting-point-node-id=3106%3A35340&show-proto-sidebar=1

[2021-10-05 07:29] SatishGandham commented on #7722
The memory leak seems to come from the detached dom nodes not being cleared on switching pages.
So, as you navigate between pages, the memory footprint keeps increasing.
This was a known bug in react 16.12, and was fixed in 16.13, the version we are using.

We still have the issue with 16.13 and 17.* as well. Should further investigate if it is due to react or our code.

[2021-10-05 07:33] Nikhil-Nandagopal commented on #7076
@SatishGandham that doesn't seem to be true. Looks like there can be multiple selected text per input (refer image). In web development does the window expose the selected text directly?

agreed that it should be for rich text editor as well. @techbhavin

<img width="389" alt="Screenshot 2021-10-05 at 12 57 56 PM" src="https://user-images.githubusercontent.com/3897254/135978969-d493df1d-f992-48d4-

[2021-10-05 07:54] ramsaptami opened #8193 "[Bug] Tagging Appsmith support on comment mode"
## Description
Press **Esc** when the invite pop-up shows up when Appsmith support is tagged and then continuing to comment again. Observe that the invite option does not appear again

### Steps to reproduce the behaviour:
1. Go to **comment mode** and tag Appsmith support. Observe the invite pop-up
2. Now press **Esc**/click outside the box to close the box
3. Tag support again in a comment and o

[2021-10-05 08:04] TheRakeshPurohit commented on #7444
I'd like to work on this.

[2021-10-05 08:09] ramsaptami commented on #8190
Debugger success response box is still in rounded corners
![image](https://user-images.githubusercontent.com/79509062/135984920-a114d6b6-450e-43a3-9582-2c51158a2b53.png)

[2021-10-05 08:20] TheRakeshPurohit commented on #4842
I'd like to work on this.

[2021-10-05 08:26] ramsaptami commented on #8190
Text on welcome page is in grey though its a CTA.
![image](https://user-images.githubusercontent.com/79509062/135987563-5b8aa667-666d-4e5c-9fda-a468a3a81451.png)

[2021-10-05 08:26] somangshu commented on #8149
Seems like the issue is related to a change added by @hetunandu, Can you look into this?

[2021-10-05 08:40] #7919 closed

[2021-10-05 08:44] abhvsn commented on #7997
This will be addressed once we have `JsonFormBuilder` widget which is in pipeline.

[2021-10-05 08:45] #7882 closed