[2022-02-28 03:58] #4785 closed

[2022-02-28 04:16] nidhi-nair commented on #10640
Hey @devnamrits! The issue is all yours! :) Please make sure to read our [Code Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/contributions/CodeContributionsGuidelines.md) before getting started. Do let us know if you get stuck somewhere, or would like more information on the issue!

[2022-02-28 04:44] sbalaji1192 commented on #9550
@Tooluloope Do we have plans to rewrite the select widget with `rc-select`?

[2022-02-28 04:47] AnaghHegde commented on #10950
Ignore the newly introduced fields as part of git import while committing to git repo @AnaghHegde

[2022-02-28 05:06] dilippitchika commented on #10905
More like devs forget adding */optional until later, the larger the form the more work they do to add it later. But since they are marking a field required while building, If they have used anything like google forms or other form builders, they know they don't need to worry about adding * or required themselves.

Problem here is I want to minimize rework later on, which then leads to people askin

[2022-02-28 05:22] jnikhila commented on #11334
@Pranay105 - I've updated Gitbook for form widget. Please review.

[2022-02-28 05:38] Rishabh-Rathod commented on #11263
https://github.com/puppeteer/puppeteer/issues/1512#issuecomment-349784408 This might help.

[2022-02-28 05:40] arunvjn opened #11471 "[Task]: Add a new applicationVersion attribute to application object"
We will require the org admins to manually update their old applications to the new URL format. We would require a 'applicationVersion' attribute that defaults to 1 for old applications to achieve this. Every new application that is created post Clean URLs will have an applicationVersion value of 2. We will need either migration to set this property of old applications to 1 or have the APIs return

[2022-02-28 06:08] #9328 closed

[2022-02-28 06:32] pranavkanade commented on #1018
A user raised this issue on Intercom last week, with some pointers -
[code]

[2022-02-28 06:54] Nikhil-Nandagopal commented on #11111
Here is my UI. Whenever I add a column or remove/resize a column in the table, I need to resize the detail view and if I had to redo this for every widget inside the details view, that would be crazy. Similarly whenever I need to change the size of the modal or give the chart more room because of a new data point, if I had to re-adjust the table, it would be very painful
<img width="1272" alt="Scr

[2022-02-28 07:17] devnamrits commented on #10640
Thank you very much @nidhi-nair. Will surely connect whenever I get stuck.

[2022-02-28 07:27] dilippitchika opened #11474 "[Bug]: On the truncation modal, the text is not aligned properly when there are urls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i add a text with urls and make the text widget right aligned, with truncation. When the show more modal opens it's not aligned properly.

### Steps To Reproduce

1. Add text with a url in the text widget
2. Enable truncation and make sure text cuts off to see the ...
3. Make sure text i

[2022-02-28 08:01] vivekverma2312 opened #11476 "[Bug]: On changing visible and homepage the order of page changes on page properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2a88ffdbaccc43e79185dd8f4d89bb69-00001.gif)](https://www.loom.com/share/2a88ffdbaccc43e79185dd8f4d89bb69)

### Steps To Reproduce

1. On page properties create few pages
2. Now click on setting icon and toggle visible or homepage property

[2022-02-28 08:02] Nikhil-Nandagopal commented on #10905
@dilippitchika if developers are forgetting to add the *, then doesn't it stand to reason that they might be forgetting to mark it as required as well? Maybe the solution should be to allow group editing of properties?
We have to remember Appsmith is not just a form builder and think about all the use cases. An example is users create Login screens with Appsmith where the email is required but log

[2022-02-28 08:12] Tooluloope commented on #9550
@sbalaji1192 Yes, tracking the requirements here https://github.com/appsmithorg/appsmith/issues/10575.

Although, My reason for delaying is rc-select and rc-tree-select have difficulty when dragging the input field as seen here https://github.com/appsmithorg/appsmith/issues/7259

[2022-02-28 08:34] sumitsum opened #11477 "[Bug]: Reword message: No query is using this datasource -> No query in this application is using this datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]
https://theappsmith.slack.com/archives/C02KTH6EHUG/p1646036148522289

Note: the message seems to be coming from solution could be in `DatasourceCard.tsx`.

### Steps To Reproduce

.

### Environment

Production

### Version

Cloud

[2022-02-28 09:03] #11445 closed

[2022-02-28 09:07] rashmi-rai opened #11478 "[Feature]: Expandable rows in Table Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a widget to create expandable rows or add an option to make rows expandable in table widget.
![U3n7t](https://user-images.githubusercontent.com/89374972/155954898-f7f638bb-ff8c-4cbd-bc4f-1e4ce14d1bbf.png)

### Why should this be worked on?

Feature request on discord

https://discord.com/channels/

[2022-02-28 09:18] vivekverma2312 opened #11479 "[Bug]: Default search property for table widget is not working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/7c1636ff10f74cc38063da7a30898b93

### Steps To Reproduce

Using moustache binding in Default search text property is not working properly. Deleting the binding clears the data from the table widget.

### Environment

Release

### Version

Cloud

[2022-02-28 09:23] #7443 closed

[2022-02-28 09:34] ramsaptami commented on #11111
The root cause of the problem for me when dropping widgets into a container box is that my expectation is: I can resize the container to align widgets inside aesthetically without altering child widget size. Since we don't have grids where widgets snap into place, the experience of resizing the container box is painful (seen in the video attached to the issue). I'll need to plan where child widget

[2022-02-28 09:35] #11122 closed

[2022-02-28 09:42] jsartisan opened #11480 "[Bug]: Page tabs showing ellipsis even for small names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On windows, Page tabs are being shown at all times even for small names.

![image](https://user-images.githubusercontent.com/6636360/155960710-16f85206-8c37-4622-8aa7-9a8075cba162.png)

### Steps To Reproduce

Open any app on windows with at least 2 pages.

### Environment

Production

### Ve

[2022-02-28 09:49] Tooluloope commented on #11105
I've gone through Blueprint Documentation, they don't support this. We'll have to make this a separate Widget

[2022-02-28 09:50] Tooluloope commented on #10486
Should this be moved to Table WIdget V2 or remain in Enhancement?

[2022-02-28 09:59] jnikhila commented on #11334
@cokoghenun - Could you please add the ticket to update the video?

[2022-02-28 10:02] sumitsum commented on #9217
Had a discussion with @AmanAgarwal041 on this. Currently we believe the following solution should work:
* Expose `widget.pagination.next` and`widget.pagination.prev` attributes on the client side.
* Use the above attributes in a mustace expression to provide the expression for getting the next set or prev set of results.

[2022-02-28 10:02] #9217 closed

[2022-02-28 10:07] sbalaji1192 commented on #11449
@Himanxu1 Thanks for showing interest.
This issue is a little nuanced and requires a considerable amount of change.
You can find a `good first issue` to work on over here - https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22. If you're not able to understand the issue, please post your doubt and one of our team members will help you.

[2022-02-28 10:07] ashit-rath commented on #2504
Actionables:
- Implement support for non-ASCII characters @ashit-rath
- Assess the naming of the property `Accessor` @dilippitchika
- Documentation efforts @dilippitchika

[2022-02-28 10:08] chandannkumar opened #11482 "[Bug]: Icon Alignment changes automatically every time when icon is changed in Menu Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Every we click on icon and change the existing icon, the alignment of the icon changes automatically to default one

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7cab0f5d9c02429c9eb1ede268fea69b-00001.gif)](https://www.loom.com/share/7cab0f5d9c02429c9eb1ede268fea69b)

### Steps To Re

[2022-02-28 10:13] somangshu commented on #11479
This could be related to the evaluations. @Tooluloope can you help me triage this on priority, If its not related to the table widget we can reassign. Right now treating this as a critical issue

[2022-02-28 10:20] ramsaptami opened #11483 "[Bug]: Using keyboard shortcuts on omnibar options opens and closes the pop-up and not perform expected action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using multiple omnibar keyboard shortcuts consecutively causes the pop-up to open and close rather do the intended task of opening up actions like `Create New`, `Documentation` etc...

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/582873914da04868a5847699ae7ed51d-00001.gif)](https://w

[2022-02-28 10:23] vivekverma2312 opened #11484 "[Bug]: Drop-down option is getting deselected on second click on property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://www.loom.com/share/db505685cf394c94a2cb3d7c5504f441

### Steps To Reproduce

1. Drag and drop a button widget
2. Click on placement property
3. Change the default selected option
4. Click on same option again
5. Observe that the option is getting deselected

### Environment

Release

[2022-02-28 10:26] YogeshJayaseelan opened #11485 "[Bug]: Clicking on Multi-select dropdown inside tab widget the focus jumps to the top area on the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that placing tab widget below few of the widgets on the canvas and placing multi-select widget inside tab widget and on clicking on the multi-select drop down the focus jumps tp the top area on the canvas

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/24f9e476b420475fb6

[2022-02-28 10:27] #10305 closed

[2022-02-28 10:27] #10475 closed

[2022-02-28 10:31] somangshu commented on #9550
I would be for that @sbalaji1192, I hope we have thought this through and do not have to fallback to another packages for any any probably issue in the future.

[2022-02-28 10:31] shwetha-ramesh commented on #8871
This has been fixed.

[2022-02-28 10:31] #8871 closed

[2022-02-28 10:34] sbalaji1192 commented on #9550
@somangshu Sure.
@Tooluloope Let's connect before proceeding with https://github.com/appsmithorg/appsmith/issues/10575

[2022-02-28 10:37] jsartisan opened #11486 "[Bug]: The fetch selected theme api is giving 401 error for logged out users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I am trying to open a public app in the logged-out state, the app is redirecting me to the login page. Seems like a issue with fetch selected theme API -
![image](https://user-images.githubusercontent.com/6636360/155968325-06a5a62f-6905-46ed-b8ce-d1e6b5d55624.png)

### Steps To Reproduce

[2022-02-28 10:53] somangshu commented on #10495
@Tooluloope can you take the action here, please merge this is everything is done, or reassign this internally if required

[2022-02-28 10:56] somangshu commented on #11364
@Nikhil-Nandagopal This way there are two places that allow the configuration for the container in the list widget, it might be confusing the dev.

[2022-02-28 10:58] svanschooten commented on #3920
+1

[2022-02-28 10:59] somangshu commented on #11364
Regarding #6858 we could add a JS expression in List widget item style to achieve such a use case?

[2022-02-28 10:59] vivekverma2312 opened #11487 "[Bug]: Able to place widget outside the item container on list widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/adec646b5b7b4a329d9d3b527625a27d-00001.gif)](https://www.loom.com/share/adec646b5b7b4a329d9d3b527625a27d)

### Steps To Reproduce

1. Drag and drop a list widget
2. Increase the item spacing
3. Now I able to drop widget outside the item co

[2022-02-28 11:05] ramsaptami opened #11488 "[Bug]: Incorrect error for select widget when options are derived from a binding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Incorrect error for select widget when options are derived from a binding

![image](https://user-images.githubusercontent.com/79509062/155971248-618cdf4d-d01c-4d50-a0ca-a3835da7e83d.png)

### Steps To Reproduce

1. Generate a CRUD page using sample DB `movies`
2. Replace genre field with a se

[2022-02-28 11:05] somangshu commented on #11033
@dilippitchika its because of how the draggable logic works, The flicker is actually because of the recent algo to drag tiles for reordering, Its basically an assumption and hence I will need inputs from @Tooluloope as well

[2022-02-28 11:06] somangshu commented on #11033
An easy fix could be to reduce the touchable area for dragging, But that might bring in other issue where the users are not able to drag easilty

[2022-02-28 11:09] somangshu commented on #11142
@dilippitchika surely we can do that, Our idea is to find a change to enable it everywhere rather than making the changes individually. Hence I needed an input from @riodeuno. Feel free to start a thread around this.

[2022-02-28 11:09] RakshaKShetty opened #11489 "[Bug]: The empty page is pre-populated with widgets name from the previously selected page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The empty page is  pre-populated with widgets name from the previously selected page
![image](https://user-images.githubusercontent.com/45958978/155973016-9ee6c18e-3e92-4e38-8781-5e01ea121c2f.png)

### Steps To Reproduce

1. Create a new crud page
2. Now add a new page 2
3. now go back to the

[2022-02-28 11:21] shwetha-ramesh opened #11491 "[Bug]: Long label name for switch widget appears distorted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Long label name for switch widget appears distorted

Also in switch group widget long label name overrides other label name in default widget size.

![image](https://user-images.githubusercontent.com/92293815/155974062-607198e1-63d2-4552-8f9a-dfb5993dcc7a.png)

![image](https://user-images.gi

[2022-02-28 11:32] vivekverma2312 opened #11494 "[Bug]: Image URL stops working after I remove default image URL from image widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e031a1bb34ed4674a8958372b88e1595-00001.gif)](https://www.loom.com/share/e031a1bb34ed4674a8958372b88e1595)

### Steps To Reproduce

1. Drag and drop image widget
2. Paste an image URL
3. remove the default Image url
4. Now if I copy paste t

[2022-02-28 11:35] ashit-rath commented on #11351
Right now when we try to bind any entity, the whole entity object in the data tree gets returned as the evaluated value. It contains a ton of properties that is not relevant to the end-user, so are we considering fixing this as well when we are talking about splitting?
<img width="3095" alt="Screenshot 2022-02-28 at 4 52 15 PM" src="https://user-images.githubusercontent.com/88306433/155975279-2ca8

[2022-02-28 12:17] ApekshaBhosale commented on #9645
we had discussion not to make js object variables reactive and partially it will be solved as part of #9979 by @ApekshaBhosale

[2022-02-28 12:21] dilippitchika commented on #7064
Change - We want to support our developers adding the label width using a slider interaction than simply having to type out a number and trying to approximate. This slider type interaction will be how developers interact with the width property.

Design is pending for this and is being worked on.

[2022-02-28 12:36] pranavkanade opened #11499 "[Bug]: Commenting on canvas is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On canvas, comment pins are not being put in the right place.
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/a84f757551b84753ae5158e2c348dfa0-00001.gif)](https://www.loom.com/share/a84f757551b84753ae5158e2c348dfa0)

### Steps To Reproduce

Open an app in comment mode and try to put a c

[2022-02-28 12:40] chandannkumar opened #11500 "[Bug]: Shuffling of menu items are not reflected until page refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/73a849fe78704aeca616ae87b0e54804-00001.gif)](https://www.loom.com/share/73a849fe78704aeca616ae87b0e54804)

### Steps To Reproduce

1. Add Menu Widget to canvas
2. Shuffle menu items in different order
3. Click on menu widget and observe th

[2022-02-28 12:47] dilippitchika commented on #10486
Will check and get back tomorrow, @Tooluloope

[2022-02-28 13:43] ramsaptami opened #11506 "[Bug]-[31]:Cursor should be on the input once user selects country code on phone widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cursor should be on the input when user selects country code instead of an additional step of clicking inside the search bar

### Steps To Reproduce

1. Drag and drop a phone widget on to the canvas and change the country code
2. Observe that an additional step of clicking on the input is nec

[2022-02-28 15:05] Nikhil-Nandagopal commented on #11440
@j2bd this is a different issue that we were able to resolve so I'm closing it. Can you share the error you're seeing?

[2022-02-28 15:05] #11440 closed

[2022-02-28 15:11] Nikhil-Nandagopal commented on #1089
@DeanMann you can upload local assets using the file picker to S3 to achieve this.We won't support this because managing file storage is outside of the scope of our project

[2022-02-28 15:11] #1089 closed

[2022-02-28 15:14] Nikhil-Nandagopal commented on #11364
@somangshu it doesn't work becasue the list widget doesn't have access to currentItem, only its children do. So that is why this feature makes sense

[2022-02-28 15:15] Nikhil-Nandagopal commented on #7369
@ajinkyakulkarni @hiteshjoshi we're seeing a lot of these now. Can someone triage this?

[2022-02-28 15:15] sharat87 commented on #11418
Hey @MichaelLeeHobbs, thank you for sharing your investigation. Unfortunately, the fix you are suggesting is essentially disabling the check to ensure replicaset configuration on the MongoDB server.

The idea here is that if the MongoDB URI is not a local MongoDB, then we verify to see that replicaset configuration is already done. This is because if replicaset is not configured, then the Appsmith

[2022-02-28 15:36] nidhi-nair commented on #11246
Adding more details to the cause of this issue. For our REST API plugin, we're performing a validation step for all requests that have the header `Content-Type: application/json`. This validation loosely checks for a JSON representation of the body, and parses the body into this JSON as well.

For example, in this scenario, the input could be forced into a key-value pair by adding the quotes as be

[2022-02-28 16:21] somangshu commented on #11364
Understood @Nikhil-Nandagopal, in that case should the list widget property related to container be removed

[2022-02-28 16:41] unknown1337 opened #11509 "[Feature]: JSfunction to select table row (&fill Table.selectedRow.{})"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Goal: navigate to a CRUD page with a selected item (by default)

### Why should this be worked on?

Example use case: a page that lists todo's also lists the owner (IDx) of the todo (IDy). In case of clicking on the 'edit owner' button we want to redirect the user to the crudUser page with the table r

[2022-02-28 17:16] nidhi-nair opened #11510 "[Bug]: Raw data execution keys have encoded quotes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

With the new [multipart form based action executions](https://github.com/appsmithorg/appsmith/pull/9473), we're passing mustache bindings as the keys for the data. However, the client is passing quotes in these keys in their URL encoded form (as `%22`).

Investigation so far has shown that Po

[2022-02-28 18:29] #11417 closed

[2022-02-28 18:53] nidhi-nair opened #11512 "[Bug]: Row height and empty organization height is different in home page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A very slight but irking effect is seen on deleting the last app in an org. The grid height changes suddenly.

### Steps To Reproduce

https://user-images.githubusercontent.com/5298848/156041267-e382c3f2-e74d-4ffa-ae79-806668f92ea0.mov

### Environment

Production

### Version

Cloud

[2022-02-28 20:13] cokoghenun commented on #11334
I'll do that @jnikhila

[2022-02-28 20:20] felixsuarez0727 commented on #10539
Thanks for the feedback @prapulla, here is my take on the issues you identified:

What I understand is that it would be appropiate to have error messages that are easier to understand to people who might have a hard time understanding the error messages that come from Twilio.

The image below shows the output (current behavior) of the suggested example:

![no-account-id-query-error-message.png](ht

[2022-02-28 22:33] felixsuarez0727 commented on #10539
On a related note...

@AmanAgarwal041, are there any plans to pull the contents of the tooltip to the "Create Query" UI?

![tooltip.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/3f14c93e-98b1-4d1b-8c70-3b7c3414f2d1)

This might help to address @prapullac 's comment.

Or, by looking at the Airtable Integration, we might opt to put "helper texts" (ex: required, string, integer)

[2022-02-28 23:06] MichaelLeeHobbs commented on #11418
@sharat87 In that case the issue is documentation. https://docs.appsmith.com/setup/instance-configuration/custom-mongodb-redis does not mention at all that Mongo must be running in replication.

[2022-03-01 00:49] sharat87 commented on #11418
@MichaelLeeHobbs, indeed. I just pushed an update to the docs adding a note about this. Thanks for pointing out!

[2022-03-01 02:38] aswathkk opened #11514 "[Bug]: Multi line code in table onClick field throws UncaughtPromiseRejection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If there are multi-line codes inside the table's onClick field and once we click the component, it throws UncaughtPromiseRejection.

https://user-images.githubusercontent.com/10436935/156093492-5f1c98c7-6dc4-4947-83cf-9fe293a35d5f.mov

Note: This happens for Button, MenuButton, IconButton etc

[2022-03-01 03:16] abhijit-motorq commented on #11314
Sorry @abhvsn, it was an issue with my Nginx config on self hosted instance.

[2022-03-01 03:16] #11314 closed

[2022-03-01 04:58] devnamrits commented on #10640
Hi, I was installing the client-side application. First I got an issue name @types-shodown not found. For resolving this I installed the showdown module separately. After that, I'm getting this error after the development server gets compiled successfully.
Someone please help me in resolving this.
<img width="1388" alt="Screenshot 2022-03-01 at 9 56 06 AM" src="https://user-images.githubuserconten

[2022-03-01 05:00] nidhi-nair commented on #10640
@devnamrits Can you try pulling from our release branch again? This was an issue from the dev side that has since been fixed.

[2022-03-01 05:02] devnamrits commented on #10640
Okay great! Doing that

[2022-03-01 05:19] #11457 closed

[2022-03-01 05:33] devnamrits commented on #10640
That error got resolved by taking the pull from the latest release.
But got this error. Have raised in discord as well?
Can I get the minimum required valued .env file for the client-side app?
<img width="839" alt="Screenshot 2022-03-01 at 10 47 35 AM" src="https://user-images.githubusercontent.com/54183698/156110847-cc09b7bf-8316-4073-84d2-26fe937457a7.png">

cc: @nidhi-nair

[2022-03-01 05:37] parth-appsmith commented on #10546
@AmanAgarwal041 can you provide more information about what design improvements are we looking for in this task?

[2022-03-01 05:39] felixsuarez0727 commented on #10910
The root cause of the issue seems to be related to the fact that at the time of constructing the `original` object, the changes on made on the UI and saved with the "Save" button are not picked up:

https://images.zenhubusercontent.com/275993885/19993189-58e0-435a-ab0a-961d87d5c568/is_dirty_no_ui_update.mp4

I will be working on identifying the reason why that happens, and to update the code to fi

[2022-03-01 05:44] nayan-rafiq opened #11516 "[Enhancement] Add API to get filter values"
Each template has a list of use cases, functions. Currently we use a fixed list of values for them. It'll be nice if that list is dynamic.
For example, if a new template is uploaded with a new use case, that use case should be present in the list of filters.

To be scoped after phase 2

[2022-03-01 06:05] Nikhil-Nandagopal commented on #10485
@dilippitchika closing this till we pick it up

[2022-03-01 06:05] #10485 closed

[2022-03-01 06:11] aswathkk commented on #11199
@vuiets @somangshu @riodeuno
If we make the widget name to be focused on opening the property pane, the following user flows are getting affected:
- Ability to delete the widget using the `delete` key.
- Ability to copy the widget using the `Cmd` + `C`.

When the user performs these actions, the focus will be on the widget name and these actions will be applied on the widget name rather than on th

[2022-03-01 06:12] #7758 closed

[2022-03-01 06:18] #5770 closed

[2022-03-01 06:18] Nikhil-Nandagopal commented on #5770
Moved all pending issues under the plugin development label

[2022-03-01 06:21] #5599 closed

[2022-03-01 06:31] Nikhil-Nandagopal commented on #10484
@dilippitchika I think we should close this and build it as part of #5229

[2022-03-01 06:31] #10484 closed

[2022-03-01 06:34] somangshu commented on #9266
@rahulramesha can you check this out?

[2022-03-01 06:36] #6044 closed

[2022-03-01 06:42] pranavkanade opened #11517 "[Bug]: Evaluation of store value failed for child widget of a List widget."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User's data -
![Screenshot 2022-03-01 at 12 08 49 PM](https://user-images.githubusercontent.com/13262095/156117975-056adb63-73f5-4b86-a003-6bd021e977a4.png)
Value in the store (printed on console) -
![Screenshot 2022-03-01 at 12 09 45 PM](https://user-images.githubusercontent.com/13262095/156

[2022-03-01 06:44] yaldram commented on #11199
I think in order to avoid the above scenarios we had the `click on F2 to focus on widget name`, rather than just `focus directly on the widgetname`.

[2022-03-01 06:47] Rishabh-Rathod commented on #11264
Sub tasks
- #11262
- #11263

[2022-03-01 06:59] Nikhil-Nandagopal commented on #11509
@unknown1337 setting the selected row won't help here because if the data set is server-side paginated, you won't be able to set the selected row since the row may not be present in the first load. The best way to achieve this is:
pass the id of the user you want to select in the appsmith store using storeValue and in the query check if the id has been set and query rows that are -5 and + 5 ids fr

[2022-03-01 06:59] #11509 closed

[2022-03-01 07:00] momcilo-appsmith commented on #11278
@somangshu I am adding this as a low priority for this week.

[2022-03-01 07:03] momcilo-appsmith commented on #9321
@somangshu I would say we just need to rotate the second one (the large one) for 90 degrees. @emysmth do you agree and can we make this change in the DS?

[2022-03-01 07:03] momcilo-appsmith commented on #11140
@somangshu we have it as low priority for this week.

[2022-03-01 07:05] momcilo-appsmith commented on #11317
@dilippitchika Why is this a problem?

[2022-03-01 07:06] Nikhil-Nandagopal commented on #11111
@ramsaptami thank you for that detailed explanation!

[2022-03-01 07:14] momcilo-appsmith commented on #7064
@dilippitchika Just asked Emy for the component, will be updated soon.

[2022-03-01 07:21] momcilo-appsmith commented on #11111
@Nikhil-Nandagopal @dilippitchika @ramsaptami
I think we have 2 problems here and I agree with both of them. These two problems are unrelated to the responsiveness for the appviewer.
1. Sometimes you want everything to resize (@Nikhil-Nandagopal's example) because you need widgets inside the container to fill the width of the container.
2. Sometimes you don't want everything to resize (@ramsaptami

[2022-03-01 07:21] momcilo-appsmith commented on #11111
The solution that I have at the moment is to ask the developer what does he want to do (a standard way is locking a widget).

[2022-03-01 07:31] somangshu commented on #11378
@rahulramesha we should always have an estimate

[2022-03-01 07:40] aswathkk commented on #11514
@hetunandu, I believe this issue is coming from #11239.
Can we revert that and proceed with the current release?

[2022-03-01 07:43] riodeuno commented on #11199
@aswathkk @yaldram I was wondering if the widget name has two states:
- Highlighted state where we're not yet editing the name, just the field is selected.
- Focused state where we have the cursor, and can modify the entity name.
If we have these two states, we can make the default behaviour only highlight the name. This should free up the delete, cut and copy keyboard shortcut handlers.

[2022-03-01 08:02] haojin111 commented on #10950
- [ ] 1.The delete button should be removed from reconnect database modal ->Must Fix
- [ ] 2.when user click on save button the user should be navigated to next database ->Must Fix
- [ ] 3.when user add all the detailes the user should be navigated to application page ->Must Fix
- [ ] 4. The reconnect datasource pop up should be displayed without a scroll->Low
- [ ] 5.The look and feel of the impo

[2022-03-01 08:37] WernerDreierB opened #11521 "[Bug]: helm-index (http://helm.appsmith.com) not listing old charts / only newest chart is listed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a deployment-pipeline using your official helm-repo pinned on a chart Version (e.g. 1.5.0)
If meanwhile a new Appsmith-Chart-Version (e.g. 1.5.1) is released, the configured helm-repo (http://helm.appsmith.com) does not list Chart Version 1.5.0 anymore, but only the newer released 1.5.

[2022-03-01 08:41] abhvsn opened #11522 "[Feature]: Automated Deployment with Git (CI/CD Integration)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With `git-sync` Appsmith users can collaborate on the same application in different Appsmith instances, which means users can configure these instances as QA, staging, prod etc. This makes it evident to have an automated deployment workflow in selective instances like prod where users don't have to ma

[2022-03-01 09:04] Tooluloope commented on #11111
Probably a Property on the Container to lock the widgets in Place would help solve both Scenarios.

[2022-03-01 09:11] sharat87 commented on #11521
Hey @WernerDreierB, thank you for reporting this and providing details. I've confirmed that we indeed have the chart files, but unfortunately aren't merging the `index.yaml` file. We'll work getting this fixed.

In your particular case, would it be possible to update to the latest version of the charts? Is there a reason you'd want to stay with the old version of the chart? No disagreeing with the

[2022-03-01 09:14] WernerDreierB commented on #11521
Hey @sharat87  thank you for getting back to me on this so quickly.
In particular, we were able to upgrade to the newest chart, so this no blocker. It simply puts our pipeline at risk of failing somewhen in the future, as we will not neccessarily have the same upgrade shedule on our self-hosted environment as you guys proceed with releasing new charts
Thank you and thank you also for the great app

[2022-03-01 09:36] sharat87 commented on #11521
Ah I see. Thanks for the details (and the kind words 😄).

You've probably already realized this, but I'll just share here again. The version of the chart itself, is not tightly connected to the version of Appsmith you are running. Appsmith should be able auto-update itself even if you are running the same version of the chart. This happens at a schedule that you can configure in your chart install

[2022-03-01 09:37] SatishGandham opened #11524 "[Epic]: Optimise the first load till the skeleton loaders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] #11537
- [x] #11539
- [x] #11553
- [ ] #11538
- [x] #11468

[2022-03-01 09:42] somangshu commented on #10655
We can verify is this happening because of the pointer-event:all as pointed out by @aswathkk https://github.com/appsmithorg/appsmith/pull/8206

[2022-03-01 09:46] somangshu commented on #11487
@rahulramesha can you check to see if this related to the reflow experience?

[2022-03-01 09:46] #10386 closed

[2022-03-01 10:09] WernerDreierB commented on #11521
Sure, the auto-update is a great feature for smaller teams, however as we are running our own data-center with strictly audited (and firewalled) deployment-pipelines. Therefore we cannot rely on auto-update features but have to actively do upgrades on our own.

[2022-03-01 10:23] rohan-arthur commented on #9302
- Tab does not work with UQI components
- Aakash had talked about getting rid of the green CTAs on where clause in favour of the CTAs like in the sort component. Have we worked on this yet?
- The where component does not seem to be following the filter design on Figma, do we have a task for this?
- Do we have support for the help text, and other meta props on the components as provided on the Figm

[2022-03-01 10:27] Rishabh-Rathod commented on #9872
https://github.com/appsmithorg/appsmith/pull/11525 with this PR, we won't have `JSON.parse` inside list widget and hence this issue will be resolved.
cc: @hetunandu can you confirm this.

[2022-03-01 10:34] dilippitchika commented on #10931
@Tooluloope can you get this triaged? Has the image download ever worked for base64 addresses?

[2022-03-01 10:39] Tooluloope commented on #10931
@chandannkumar This is related to this other issue https://github.com/appsmithorg/appsmith/issues/10753
@techbhavin would this https://github.com/appsmithorg/appsmith/pull/11391 solve both.
Also @chandannkumar Could you try reproducing the issue using the deploy link on the PR.

Adding @sharat87 due to the CSP issue I'm seeing in the screenshot

[2022-03-01 10:59] leotom2000 commented on #9824
Code updates done to resolve the above issue and PR raised with the following resolution
To fetch data from Google Sheet with empty where condition, ie with no entry in Where Conditions, value field

**Features/Scenarios implemented and Tested regarding the values in the condition:**
1. When Value is Empty "" - Pass
2. When Value is Null null - Pass
3. When Value is Space " " - Pass
4. When Two co

[2022-03-01 11:09] sharat87 commented on #10931
Same problem with CSP as I've detailed here: https://github.com/appsmithorg/appsmith/issues/10753#issuecomment-1042922605. Briefly, I don't think this should be solved in CSP, but in the implementation of the download button.

[2022-03-01 11:28] aswathkk opened #11526 "[Bug]: Double scrollbars on property pane dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://user-images.githubusercontent.com/10436935/156160965-e1419648-19a1-49ba-9690-50aee61ef56a.mov

If we open a long dropdown component, there are double scrollbars on the property pane.

### Steps To Reproduce

1. DnD datepicker
2. open the date format dropdown and see

### Environment

[2022-03-01 11:29] nidhi-nair commented on #11510
Will be fixed via #9473

[2022-03-01 11:29] aswathkk commented on #11526
A link to the internal discussion: https://theappsmith.slack.com/archives/C025SE88KNE/p1645657546730449

[2022-03-01 11:29] rashmi-rai commented on #11394
Not reproducible anymore.

[2022-03-01 11:29] rashmi-rai commented on #11254
Not reproducible anymore.

[2022-03-01 11:29] #11254 closed

[2022-03-01 11:58] rahulramesha commented on #11487
@somangshu, yes this seems to be related to reflow, This seems to be a corner case we missed out.

[2022-03-01 12:06] techbhavin commented on #10931
yes , this issue is covered  by  PR #11391

[2022-03-01 12:14] dilippitchika commented on #10486
@Tooluloope we should do this in V1 as well, checked with @sbalaji1192. Please discuss with him before picking it up.

[2022-03-01 12:16] #11060 closed

[2022-03-01 12:39] rohan-arthur commented on #10546
discussion here: https://www.notion.so/appsmith/Datasource-Aggregation-Flow-9d08062455e74d5fbfb7229a8b743971

[2022-03-01 12:46] somangshu commented on #11487
In that case we should take this forward.

[2022-03-01 12:59] ginjojohny opened #11528 "Run query on page load feature is not working for the queries copied from one page to the other ."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Run query on page load  feature is not working for  the queries   copied from one page to the other  .

### Steps To Reproduce

1. Created home page and  write some  PostgreSql  queries  say a listing page.
2.  Created  another page with form widget and copied some queries from the first page

[2022-03-01 13:02] Nikhil-Nandagopal commented on #11111
I think we should start by solving some of the base problems first.
- The real pain is that it's so slow to resize stuff and that amplifies this problem because fixing the alignment & positioning is a huge pain.
- We cannot group resize items so if the size breaks, we need to manually update every item's size, which is painful.
- Solve for some obvious cases like when moving from outside a contain

[2022-03-01 13:13] rohan-arthur commented on #11235
**Scope**

[2022-03-01 14:08] ramsaptami opened #11529 "[Bug]: App does not exit from saving state when edits are made on the editor or query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Edits on JS editor does not exit from saving state unless an action like adding a widget to canvas is done. Any page refresh ends the saving process but refactors that needs to be done on multiple front fails.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3b63b857c17944f7965a60043d0c

[2022-03-01 14:44] pranavkanade opened #11530 "[Docs]: Large files are evaluated as blob"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Filepicker (data format - binary/base64) converts MP3 file to blob.
![Screenshot 2022-03-01 at 8 03 56 PM](https://user-images.githubusercontent.com/13262095/156189531-450b650c-80d7-4d6d-9dbf-09d2af05e004.png)
![Screenshot 2022-03-01 at 7 55 03 PM](https://user-images.githubusercontent.com/13

[2022-03-01 16:14] felixsuarez0727 commented on #10910
The root cause is that table selection does not update at a time and shows an old version of the path. When refreshing the page, it works.

Solution: Update the table at the moment that saves the object, the button save does two actions, save the information and then refresh the table.

![imagen](https://user-images.githubusercontent.com/25110207/156205921-08d4f21b-4601-4058-acc2-949a41dfd17c.png)

[2022-03-01 16:15] abhvsn commented on #11522
Another user requested this feature on discord
`We are interested in this feature and this is something we would be willing to pay for but must maintain the ability for us to self host due to the environment we work in ie HIPAA/NIST etc`

[2022-03-01 16:30] dilippitchika opened #11533 "[Bug]: App theming feedback bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Noting all the bugs from app theming's feedback here

[Rahul's feedback ](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1646140579174489?thread_ts=1646039612.688579&cid=CGBPVEJ5C)
1. table buttons don’t have the option to reset, or the orange icon notifying that it is deviating from the t

[2022-03-01 16:30] dilippitchika commented on #11533
@jsartisan @keyurparalkar please keep adding more issues found from feedback here, just to make sure we keep resolving all these.

[2022-03-01 16:38] arunvjn commented on #11392
Fixed in the latest DP

[2022-03-01 17:47] nidhi-nair opened #11535 "[Bug]: There is no way to see the structure of an active datasource without creating a query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

If a user would like to explore the datasource structure of a given datasource, the path they have to follow currently is:
1. Create a datasource
2. Create new query
3. Datasource becomes visible one the entity explorer
4. Expand entity explorer datasource to view structure

### Why should this be wor

[2022-03-01 17:50] nidhi-nair opened #11536 "[Task]: Modify UQI editor JSON creation logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Move root json file out of editor folder
- Use root json as pure definition of selectors to determine action json
- Populate all jsons within editor json irrespective of reference. This will allow us to add complex logic for visibility.

[2022-03-01 17:58] dilippitchika commented on #11530
@pranavkanade this was done because we cannot maintain such long strings of data in the code. What is the problem here? You can still upload data from blobs. Is this a community issue?

[2022-03-01 18:19] dilippitchika commented on #6661
Hey @robvandyck thanks for adding more context on this, it will help us prioritise this better.

[2022-03-01 18:24] dilippitchika commented on #11425
Very small change but linked to #11142

[2022-03-02 02:40] #9809 closed

[2022-03-02 04:36] prsidhu commented on #11363
@somangshu Adding the following line to <head> solves the problem:

```<meta name="viewport" content="width=device-width, initial-scale=1">```

However, this is an external solution, as in beyond our control. How do you want to go about it?

[2022-03-02 04:44] SatishGandham opened #11537 "Fix the react router routing on the application list"
On the applications list screen, when you click on any application it is served as a new page, meaning we serve the html document again from the server.

This means we spend time in doing two unnecessary things,

- load the html document and
- Parse, evaluate the scripts and html again.

This is due to using anchor tag for the application edit button. Ideally we should be using the <Link> componen

[2022-03-02 04:44] SatishGandham opened #11538 "plugins/forms api calls should not block the editor"
After we get the list of plugins, we make calls to `plugin/_id_/form` to get the plugin form details in sequence. That adds 2-2.5 seconds to the first load time.

1. These form details are not needed on the widgets editor.
2. They should be loaded in parallel.
3. They don't need to wait for the dsl.
4. They aren't even required on the editor.
5. Editor need not wait for these apis, but it does.

I

[2022-03-02 04:44] SatishGandham opened #11539 "Call user profile, and features request in parallel to optimise first load"
### This might not be required after we fix the router.

Right now, we call the features request after the user/me request is done. Doing this adds to delay in loading the application.

We should make them in parallel. Before that, investigate if combining these two api's into a single one is more appropriate.

[2022-03-02 04:44] SatishGandham opened #11540 "Optimise the server to improve ttfb, its at 300ms now. [Shri, Subin]"

[2022-03-02 04:52] rohan-arthur commented on #11274
How-tos
ORDS AutoREST: https://oracle-base.com/articles/misc/oracle-rest-data-services-ords-autorest
Dreamfactory: https://guide.dreamfactory.com/docs/generating-a-database-backed-api/#generating-a-mysql-backed-api
Openlegacy: https://www.openlegacy.com/blog/oracle-api

[2022-03-02 05:13] AnaghHegde opened #11541 "[Feature]: For git connected application always open the default branch application in edit mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We are opening the appsmith default application when the user clicks on edit. But when the app is connected to git we should always bring up the default application of the default branch.

### Why should this be worked on?

We are opening the appsmith default application when the user clicks on edit.

[2022-03-02 05:23] pranavkanade commented on #11530
@dilippitchika Thanks for confirming.
@Pranay105 this is a documentation change for all the widgets that can upload. When the user tries to log the data it’ll show blob, but if the user uses it in an API/query it’ll actually upload base64/binary.

[2022-03-02 06:14] ramsaptami opened #11542 "[Bug]: Type error does not show any error instead throws uncaught promise error when code is run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Any error should display appropriate text to indicate to the user on the exact issue. Currently, type error only shows an **uncaught promise error** with a misleading text stating the **function does not exist**.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/236570dfc4d84a50810cb882b

[2022-03-02 06:39] momcilo-appsmith commented on #11111
@Nikhil-Nandagopal What do you mean by resizing to the nearest grid of the original size?

[2022-03-02 06:48] Nikhil-Nandagopal commented on #3938
https://sentry.io/organizations/appsmith/issues/2929342146/?environment=Production&project=1546547&referrer=alert_email

[2022-03-02 06:50] sentry-io[bot] opened #11543 "Crash in drag layer"
Sentry Issue: [APPSMITH-1Y2](https://sentry.io/organizations/appsmith/issues/3050122759/?referrer=github_integration)

[code]

[2022-03-02 06:54] Nikhil-Nandagopal commented on #11543
Marking this as critical because in the recording the user can no longer drag any widget onto the screen

[2022-03-02 07:03] somangshu commented on #11258
@Tooluloope you will have to triage this. Please check what is the effort required

[2022-03-02 07:15] somangshu commented on #11051
@vuiets this is talking about layers, we need to deal with this in the UI Builders POD

cc @riodeuno @rahulramesha

[2022-03-02 07:21] sumitsum opened #11544 "[Bug]: creating a new action config is not setting default values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When creating a new action using the `+` button on the entity explorer, although the default values get displayed on the action config form they are not sent as arguments to the API server and hence are not persisted to the DB. These default fields are not getting updated unless explicitly se

[2022-03-02 07:22] sumitsum commented on #11544
Related issue: https://github.com/appsmithorg/appsmith/issues/11429

[2022-03-02 07:29] somangshu commented on #9309
We need a POC on this

[2022-03-02 07:36] IAmAnubhavSaini opened #11545 "[Task]: fix git-import audit issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Change color for the sub line to the headline.
- [x] Move "Where would you like to import your application from?" 8px from the icon.
- [x] Change the DB name. DB name on top and avenue at the bottom.

### Others
- [x] Low - Add Icons: taken care by #11546

### Not working on:
- Icons scale to 2

[2022-03-02 07:38] IAmAnubhavSaini commented on #11545
94ee724fba fix: do not use older modal
9126748f42 fix: use git import feature flag
b3d5185e2e fix: add a gap and update color

[2022-03-02 07:43] IAmAnubhavSaini opened #11546 "[Task]: Update icons in org more menu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update "Application Settings" to "Settings"
- Update Share icon
- Update Members icon

Current:
![Screenshot 2022-03-01 at 12 17 26 PM](https://user-images.githubusercontent.com/1573771/156316914-8248c96f-611b-4bbc-9365-7e1cc31973d3.png)

Proposed:

![Screenshot 2022-03-02 at 1 11 24 PM](https://us

[2022-03-02 08:15] riodeuno commented on #11543
@prsidhu Could you add steps to replicate this issue, so that our @appsmithorg/qa team can verify this.

[2022-03-02 08:16] #11476 closed

[2022-03-02 08:40] IAmAnubhavSaini opened #11550 "[Task]: Update icons to 24x24 from 16x16"
## Description

Icons in a lot of places are 16x16, as per discussions with @Debsourabh on design, we have to move to 24x24 icon with 32x32 bounding box.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] List all icons with 16x16 size
- [ ] List all icons that are needed to be moved to 24x24
- [ ] Update SVG icon sizes to 24x24
- [ ] Keep ico

[2022-03-02 08:46] #11543 closed

[2022-03-02 08:56] prsidhu commented on #11543
env: Production

1. Create an app.
2. Go to Pages (Editor). Create multiple pages.
3. Drag to re-order pages in the list.
4. In console tab (dev tools), observe the following error to be logged every time a drag is attempted.
[code]

[2022-03-02 08:56] AnaghHegde opened #11551 "[Bug]-[660]:Avoid un-necessary status API call for git connected application for better performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we open the git connected application in edit mode, on the first load we make the status API call(which is heavy in nature, avg is 4 sec RTT) to get information like uncommitted changes, remote status etc. But suppose say even before this API call is not completed and if you click on the

[2022-03-02 09:07] SatishGandham opened #11553 "Ensure that the DSL,actions, js objects calls are made as soon as possible"
We wait till the features api call is back to load the editor. Then, we wait for the DSL to load to make the calls to Actions and **JSObjects**.

[code]
We should be making the DSL and the two calls that happen along with it, plus JS Object and Actions as soon as possible.
Screenshot below marks where the DSL calls and **actions**+**JSObjects** should start

<img width="2168" alt="Screenshot 2022-

[2022-03-02 09:54] shwetha-ramesh opened #11556 "[Bug]: Button when deleted does not appear back with CTRL + Z cmd for button group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Delete a button from property pane in button group widget, it disappears from the widget now when user gives keyboard command ctrl+Z the button appears in property pane but not on the canvas.

https://loom.com/share/228baed6a5f0456dac9c95c2d9feb673

### Steps To Reproduce

1. D&D button group

[2022-03-02 10:13] isaacrj commented on #11384
I'm having this problem as well.
In my case, I have the table connected to a MongoDB collection via a Query.
As the documents in this collection have different properies, applying a filter to the query results in an array of objects with potentially different properties.
Each time the properties in the result array change, the columns in the table fall out of order and the visibility gets scramble

[2022-03-02 10:17] #9904 closed

[2022-03-02 10:43] prapullac opened #11557 "[Bug]: The Command page does not load when user tries to load it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Please refer to the video for below :
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/1cc16a114bd342fc8beb000b72f9a509-00001.gif)](https://www.loom.com/share/1cc16a114bd342fc8beb000b72f9a509)

### Steps To Reproduce

1) Click on any of the old data sources
and observe  that the data is

[2022-03-02 10:51] hiteshjoshi opened #11558 "[Task]: Git sync UI polishing"
### SubTasks

 - [ ] This can use some UI/UX improvements. The problem is with the formatting of the error messages, specially the dual alert icon. ![image](https://user-images.githubusercontent.com/217911/156349385-d71dcc89-8201-4472-b401-da9dcbded24f.jpeg)

 - [x] The hover label takes 2-3 seconds to show. This should be instant. <img width="185" alt="Screenshot 2022-02-28 at 1 33 44 PM" src="ht

[2022-03-02 10:52] hiteshjoshi opened #11560 "This can use some UI/UX changes. The problem is with the formatting of the error messages, specially the dual alert icon."

[2022-03-02 11:08] IAmAnubhavSaini opened #11562 "[Task]: update git-import datasource reconfiguration modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As per git-import audit, design: @Debsourabh

1. Move "SKIP TO APPLICATION" downwards.

Existing/older design:

![Screenshot 2022-03-02 at 3 25 53 PM](https://user-images.githubusercontent.com/1573771/156349970-6f635683-a81c-49e3-b205-c28bf0f556b4.png)

New design:

![Screenshot 2022-03-02 at 3 25 43

[2022-03-02 11:12] jnikhila opened #11563 "JWT Token Documentation for OpenID"

[2022-03-02 11:17] ginjojohny commented on #11528
Actually this is not the problem of copied queries   new queries also not running on page load  in the second page onwards . I have three pages in my application . I listed out master data from my database in a dropdown list on page load itself . The query is running fine on page load of first page and the remaining pages showing error on dropdown option value as it is not loading .

[2022-03-02 11:35] nidhi-nair commented on #10910
Need to figure out a process for QA here.

[2022-03-02 11:45] keyurparalkar opened #11564 "[Bug]: Button group widget's pop-over/drop-down enlarged along the width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we turn the button inside a button group widget into a menu type, then the pop-over/dropdown of that menu button has an enlarged width.

Below is the image for reference:
![Screenshot 2022-03-02 at 4 43 42 PM](https://user-images.githubusercontent.com/14138515/156355578-27378de9-665d-480

[2022-03-02 12:27] pranavkanade commented on #11529
@ajinkyakulkarni @rohan-arthur A user is unable to save their query.
![image (2)](https://user-images.githubusercontent.com/13262095/156361351-38100194-ccc0-4243-bebb-f704f121e0a3.png)

Can we please get this prioritized?

[2022-03-02 12:31] dilippitchika commented on #9245
**The problem I was able to reproduce -**
When you upload files in a filepicker and then change the no.of files or file size.
The existing files uploaded are not revalidated.

**Real scenario where this is a problem -**
If the max files and file size is controlled using another widget in the app. Like if you are allowing users to control how many images they upload and size of images, then this fl

[2022-03-02 12:38] lublak opened #11566 "[Feature]: Enable/disable options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be handy to be able to deactivate different things in the Rich Text Editor.
- Paragraph
- Bold
- Italic
- Background Color
- Text Color
- Align
- Bullet List
- Numbered List
- Identifying
- Link
- Image
- Table
- Print
- preview
- Media

### Why should this be worked on?

Since you can't curr

[2022-03-02 12:58] somangshu commented on #9245
I like the solution you are proposing. Not a burning problem according to me right now because the app viewer cant be directly affected by this since these are not really JS convertible to have dynamic values.

Another point with resetting the data on these attribute updates is that in case in the future we allow this value to be dynamic, To the app viewer / end user the behaviour might be unpredi

[2022-03-02 12:58] rashmi-rai commented on #11528
@ginjojohny is this issue present in edit mode or view? Also please share the error message.

[2022-03-02 13:06] somangshu commented on #11142
Thanks @riodeuno

@dilippitchika we will need to a way to list and track all scenarios. We can work on this together if you have a template in mind, We will keep @vivekverma2312 informed about all the discussion.

The only thing is that this looks like high effort from the PRD / Dev / QA POV. We might have to push this back to later. Let me know if you agree / disagree

[2022-03-02 13:06] ramsaptami commented on #9245
Would it make sense to add a message of some sort after re-evaluation to let the user know the reason why uploaded files have been cleared?

[2022-03-02 13:13] somangshu commented on #11363
Great find 💯 , I suppose we will need to tell the user about this through our documentation. This is also a best practice I believe, correct if I am wrong there @prsidhu.

@Nikhil-Nandagopal @riodeuno what do you guys suggest.

[2022-03-02 13:19] ginjojohny commented on #11528
Issue is in both edit and view mode.  I  am sharing the screen shots  .

![Screenshot (13)](https://user-images.githubusercontent.com/94359116/156368992-848d09db-7de5-4530-941d-2e60bbaafb65.png)

This is my query

![Screenshot (12)](https://user-images.githubusercontent.com/94359116/156368931-f0dbe84c-8460-4171-a28d-f7272d8ae687.png)

Settings of query

![Screenshot (15)](https://user-images.githu

[2022-03-02 13:43] #10753 closed

[2022-03-02 13:43] #10931 closed

[2022-03-02 13:50] Tooluloope commented on #11491
@dilippitchika using an ellipsis here would be ideal?

[2022-03-02 14:14] lublak commented on #7497
@mohanarpit i have the same issue: HTML with new line characters gets rendered
![grafik](https://user-images.githubusercontent.com/44057030/156378336-d2a852a0-bd62-437b-ad31-4973e837a6a1.png)

[2022-03-02 14:57] Aishwarya-U-R commented on #11529
Related to : #10284

[2022-03-02 15:00] Nikhil-Nandagopal commented on #7497
@lublak it may be unrelated. Please raise a new issue with steps on how to reproduce the problem you're seeing

[2022-03-02 15:02] prsidhu commented on #11363
@Nikhil-Nandagopal Inside the parent app where it is being embedded.

[2022-03-02 15:04] Nikhil-Nandagopal commented on #11363
Ok then this sounds good. Lets close it and inform the user and document it

[2022-03-02 15:52] #6991 closed

[2022-03-02 16:01] #8431 closed

[2022-03-02 16:01] #9395 closed

[2022-03-02 16:01] #11510 closed

[2022-03-02 16:09] devnamrits commented on #10640
Hi @nidhi-nair before raising PR just wanted to ensure

1. Collection/Document Path
2. Order By (JSON array of field names to order by)
3. Start After
4. End Before
5. Limit Documents

All the above should not be marked as mandatory which I referred to from https://docs.appsmith.com/datasource-reference/querying-firestore and have made changes as shown below.

<img width="1433" alt="Screenshot 202

[2022-03-02 17:04] #9824 closed

[2022-03-02 17:52] trishaanand opened #11572 "[Bug]: Multiple queries on the same postgres datasource create new connection pools"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Suppose that there are 10 on page load actions of postgres type built on top of the same datasource. Also suppose the datasource has not created a connection pool so far (which would happen when no queries have run so far). When the said page is loaded, 10 queries are triggered in parallel. T

[2022-03-02 18:18] #9936 closed

[2022-03-02 19:08] #11438 closed

[2022-03-02 19:21] abelkbil commented on #3636
Did not test dockerized output and production output.
But in the development environment, I am able to achieve it by modifying Nginx reverse proxy files and some level of edits in react.

[2022-03-02 19:54] #10863 closed

[2022-03-02 20:06] hetunandu opened #11573 "[Feature]: Git: expose branch name as an appsmith property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Expose the current branch name as a property on the global scope something like `appsmith.git.branch`

### Why should this be worked on?

by exposing this, users can write business logic using this and can help them solve for environments

[2022-03-02 20:25] hetunandu opened #11574 "[Bug]: Menu buttons are of different width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Buttons with text of the same length have a different widget and do not look aligned. We should fixed-width, or min-width setting on the Menu Button

![menu button](https://cdn.discordapp.com/attachments/760761686549463060/948664962996391956/Screen_Shot_2022-03-02_at_2.32.02_PM.png)

https://

[2022-03-02 20:31] hetunandu opened #11575 "[Bug]: Menu button text is not sortable in a table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When there are buttons with text in the table widget, the text is not sortable

![table-button-sort](https://cdn.discordapp.com/attachments/760761686549463060/948678276715520020/2022-03-02_15.27.56.gif)

https://discord.com/channels/725602949748752515/760761686549463060/948678277558579260

##

[2022-03-02 21:51] felixsuarez0727 commented on #11086
The root cause is that template children do not update at a time and show an old version of dynamic variables. When selecting the first tab Dynamic Variables and then save, it works.

Issue found: When a new change is made in the Url/Params tab it doesn't update in Dynamic Template Children, it only happens when the Dynamic Variables tab is selected before.

Solution: Change the condition in tab c

[2022-03-03 02:13] abhvsn commented on #10241
@AnaghHegde we are seeing this again please check this once

[2022-03-03 02:14] sentry-io[bot] opened #11577 "TimeoutException: Did not observe any item or terminal signal within 10000ms in 'source(MonoCallable)' (and no fall..."
Sentry Issue: [APPSMITH-1BP](https://sentry.io/organizations/appsmith/issues/2782006514/?referrer=github_integration)

[code]

[2022-03-03 04:05] sharat87 commented on #11400
Duplicate of #9067.

[2022-03-03 04:05] #11400 closed

[2022-03-03 04:20] dilippitchika commented on #10771
@Nikhil-Nandagopal yes, it will render as it does today

[2022-03-03 06:08] Nikhil-Nandagopal commented on #11573
@hetunandu I don't believe this is the right way to implement this. We should implement environments properly

[2022-03-03 06:08] #11573 closed

[2022-03-03 06:11] Nikhil-Nandagopal commented on #11572
@trishaanand nice find! Hope this fixes our pesky connection pool issue

[2022-03-03 06:21] somangshu commented on #8465
@Tooluloope do you have clarity on what needs to be done, Please drop your solution here in that case

[2022-03-03 06:37] sum35h opened #11580 "[Feature]: Provision to tune java parameters of appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Provision to tune java server arguments using environment variables.

### Why should this be worked on?

Allows JVM tuning.

[2022-03-03 06:38] somangshu commented on #11258
#9245 is related, And we have a solution proposed. Not sure if that is the the right way to go ahead

[2022-03-03 06:38] Nikhil-Nandagopal commented on #11580
Hello @sum35h! Could you tell us a bit about what parameters are you looking to tune and why?

[2022-03-03 06:39] hiteshjoshi commented on #2840
**Notes from Product, UI, QA catchup.**

- [ ] Form login reset button. Needs to be bundled with form login auth type. @ankitakinger
- [ ] Buggy Server restart ( Fat container issue probably @trishaanand to check @yatinappsmith to provide logs )
- [ ] Improve UX for failed server restart modal. ( Ideas : add docs ) @Debsourabh  ![image](https://user-images.githubusercontent.com/217911/156510086-ec

[2022-03-03 06:44] somangshu commented on #8560
this is linked to #4354

[2022-03-03 06:51] #8694 closed

[2022-03-03 06:59] somangshu commented on #10278
@sbalaji1192 do you think we can resize the button based on the column size? What other bottelnecks you can think of in this implementation

[2022-03-03 07:01] Aishwarya-U-R opened #11582 "[Task]: Migrate the existing test scripts to Typescript from JS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-03 07:02] ApekshaBhosale opened #11583 "[Bug]: Allow outer variables to be modified inside functions- JSHint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

This adds a error from JShint -
`functions declared within loops referencing outside scoped variables may lead to confusing semantics`

This causes user to stop js object from using unless then return this into promises
<img width="902" alt="image" src="https://user-images.githubuserc

[2022-03-03 07:02] ApekshaBhosale commented on #11583
solution-
add `loopfunc: true` to jsHint config

[2022-03-03 07:07] sbalaji1192 commented on #10278
@somangshu Yeah. we have the column size details in the component. so we can set the width based on the column size.
We have plans to use widget components for buttons, icon buttons, etc in the table as well. I guess this will get resolved as part of those changes.

[2022-03-03 07:13] #11387 closed

[2022-03-03 07:18] somangshu commented on #10682
@ashit-rath @sbalaji1192 we need your help here, What all we need to think of, We are thinking if we create this dynamically
- Configs will be lost
    - Should that always persist
- Will the users want to control this from the data object
-

[2022-03-03 07:22] somangshu commented on #11278
@dilippitchika mentioned that point 1 is important

cc @momcilo-appsmith

[2022-03-03 07:25] Aishwarya-U-R opened #11585 "[Task]: Develop Automation test scripts for Bugs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-03 07:39] Rishabh-Rathod opened #11589 "[Bug]: JsEditor run is not triggering API call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Production app - https://app.appsmith.com/applications/6220703745ea27345b493741/pages/6220703745ea27345b493745/edit/jsObjects/6220703745ea27345b49374f used in video.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7bd89794d3d645a9ba16281797cffdb5-00001.gif)](https://www.loom.com/share/

[2022-03-03 07:39] rashmi-rai commented on #11407
@ClarksonCote Try running your query with smart substitution on. You will find a checkbox for the same in the settings tab. If issue still persists share screenshot of the error.

[2022-03-03 07:42] #10799 closed

[2022-03-03 07:44] ankitakinger commented on #10628
Below is the status for each of the points mentioned in this issue:

- The default state of whether users can signup shows false even though it’s true -> **_Signup toggle has two values viz. Allow signup for all users and Allow only invited users. I guess the default should be allow all users and hence it is false by default._**

- The vertical spacing between the fields is too high. There’s the s

[2022-03-03 07:51] ApekshaBhosale commented on #11589
there is error in your code @Rishabh-Rathod there is a mismatching bracket. i don't know why linting is not showing error here but this is not problem with API execution

[2022-03-03 08:03] rashmi-rai opened #11592 "[Bug]: Add padding at bottom of logs section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="935" alt="Screenshot 2022-03-03 at 12 45 51 PM" src="https://user-images.githubusercontent.com/89374972/156521164-6d4e384e-02ff-4369-a112-521981365df6.png">

### Steps To Reproduce

- Create a query on any datasource.
- Run the query
- Check the logs section. The text at the botto

[2022-03-03 08:07] ankitakinger opened #11593 "[Bug]: Reset password button should be visible on Edit profile page only if Form login is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I click on reset password on the Edit profile page, even though I have logged in using Google/Github, it sends the reset password link but the password doesn't get reset. I can log in using my old credentials of Google/Github.

### Steps To Reproduce

1. Login/Signup using Google.
2. Go

[2022-03-03 08:19] ankitakinger commented on #11349
Update:
1. Above changes are not to be done.
2. Increase restart timeout from 30s to 60s. Done under issue https://github.com/appsmithorg/appsmith/issues/11593
3. Update text for restart banner overall (while loading as well as when failed).

[2022-03-03 08:23] vivekverma2312 commented on #10352
@dilippitchika I am able to repro this issue on release again. Can you please check. Let me know if you need more help in repro.
https://www.loom.com/share/2430f36041dd458da7935ce2d3a259d1

[2022-03-03 08:38] Rishabh-Rathod commented on #11589
The above function is not tagged as `async` and hence APIs are not getting triggered.
Need to check `isFunctionAsync ` logic and make sure such functions are tagged as async.

[2022-03-03 08:57] sbalaji1192 commented on #10682
@somangshu Is there a use case for this? users won't be able to write onClick action handlers for dynamically generated menus.

[2022-03-03 08:58] vibhandikyash commented on #7259
@dilippitchika, I tried to see but it seems like the events that we need for implementing this are already being used by the library[rc-select] itself. So I am not sure if we'll be able to handle it.

[2022-03-03 08:58] dilippitchika commented on #10352
@somangshu looks like an issue in ui builders pod, this is high priority though it's happening in release

[2022-03-03 09:18] Rishabh-Rathod commented on #11479
## RCA

Noticed that when we remove the JS binding from `defaultSearchText`, in a few cases.
### Evaluation Order changes to
<img width="219" alt="Screenshot 2022-03-03 at 2 32 24 PM" src="https://user-images.githubusercontent.com/23132741/156532532-912568cd-1f2f-4b50-8ba1-0e6c00391796.png">

That means the table is filtered before the evaluation of defaultSearchText's new value.

<img width="1040

[2022-03-03 09:18] dilippitchika commented on #11105
We will be adding a JS snippet for month and year so that they can be used with select widgets. Rather than creating separate widgets.

[2022-03-03 09:27] RakshaKShetty commented on #10950
- [ ] In the reconnect datasource pop up  when the user click on Airtable for authentication the application breaks
- [ ] When user clicks on test button it should just check the config is correct or not instead it navigate user to the next data source connection section

[2022-03-03 09:29] Nikhil-Nandagopal commented on #11105
@dilippitchika then can we close this?

[2022-03-03 09:41] somangshu commented on #10352
Our code is the same on release and prod right now, Our promotion is already completed last night.

In case its only on release, it means its a recent commit that is causing this? We can check that

[2022-03-03 09:52] dilippitchika commented on #11105
@Pranay105 can you add the following snippets?

Year picker - This snippet converts your select widget into a year picker.
`{{
    function(){
      let start_year = 1920; //change start year for year picker
      let end_year = 2120; //change end year for year picker
      let years = [];
      for (let i = start_year;i<= end_year;i++){
        let current_year_object = {
          "label":i.toSt

[2022-03-03 10:41] jsartisan commented on #11533
We won't be able to handle this right now because we will need validations for it. This can take time because I am not sure how will we handle validations here. for e.g - for background property - we will need to handle all possible values like `red`, `blue`, `#ff1233` and `url(path-to-image)`.

cc: @dilippitchika

[2022-03-03 10:50] somangshu commented on #10352
As pointed out internally this was caused because of the change [here](https://github.com/appsmithorg/appsmith/pull/11461). @techbhavin lets find the solution soon and ship it on priority

cc @vivekverma2312 @rahulramesha

[2022-03-03 10:51] somangshu commented on #10352
regression from #9858

[2022-03-03 10:58] dilippitchika commented on #11533
No issues on this

Then we should not call the purple theme "Default". We should edit the name to be different, my current suggestion - "Modern"

[2022-03-03 10:59] #11413 closed

[2022-03-03 11:00] sumitsum commented on #11429
Closing in favor of https://github.com/appsmithorg/appsmith/issues/11544

[2022-03-03 11:02] akash-codemonk commented on #10746
Closed with https://github.com/appsmithorg/appsmith/pull/10964

[2022-03-03 11:02] #10746 closed

[2022-03-03 11:03] akash-codemonk commented on #10745
Closed with https://github.com/appsmithorg/appsmith/pull/10964

[2022-03-03 11:03] #10744 closed

[2022-03-03 11:03] akash-codemonk commented on #10742
Closed with https://github.com/appsmithorg/appsmith/pull/10964

[2022-03-03 11:07] dilippitchika commented on #10703
# Overflow in text widget

## Objective

*Here you fill in the objective of the product/feature that you are writing about.*

Today in the text widget, we have the power to enable scroll and enable truncate together, however both of these cannot work together the user has to select one or the other.

The idea is to communicate this to the developer by updating the property pane.

## Success Metric

[2022-03-03 11:33] shwetha-ramesh commented on #11533
@jsartisan tested theming DP. And here are the few issues I have noticed

1. When you save a theme and later delete the theme, the pop up message displayed has wrong message on it. Message must read “Do you really want to **delete** this theme”. 'Delete' is missed out.
![image](https://user-images.githubusercontent.com/92293815/156549800-2512b01e-9348-4a78-988f-11f84873da74.png)

2. When user dele

[2022-03-03 11:46] hiteshjoshi commented on #11223
We will need to communicate with the user about git default branch and changing that will also change your default branch inside the App. Syncing branch after git default branch change is necessary.

[2022-03-03 11:49] hiteshjoshi commented on #11270
Closing this for now. We will come back at this later.

[2022-03-03 11:54] dilippitchika commented on #10496
# Progress Bars

## Objective

*Here you fill in the objective of the product/feature that you are writing about.*

The progress bar widget needs to be enhanced to fix the indeterminate behavior and simplify the experience.

## Success Metrics *

*List of all metrics you are tracking and the desired goal.*

| Goal | Metric |
| --- | --- |
| Simplify user experience | Customer satisfaction score in

[2022-03-03 11:58] dilippitchika commented on #4354
Document has been updated, needs a review from @momcilo-appsmith

https://www.notion.so/appsmith/Widget-hover-colors-165e54b304ca4e83a355e4e14d7aa3cb

[2022-03-03 12:02] dilippitchika commented on #10725
Ok, my suggestion is for the button group to also support icon button as a type of button which can be added.

We don't have to worry about adding center positioning of the icon for a text button.

@somangshu @momcilo-appsmith

[2022-03-03 12:03] #11301 closed

[2022-03-03 12:04] dilippitchika commented on #10496
@somangshu @Nikhil-Nandagopal please review this

[2022-03-03 12:05] Nikhil-Nandagopal opened #11598 "[Feature] Embed Appsmith"
A user wants to embed appsmith inside flutter

[2022-03-03 12:31] dilippitchika commented on #11533
Other bugs:

Very serious -
https://www.loom.com/share/4d7c6735f8bd4267bbdd4f66ead97b89
![Screenshot 2022-03-03 at 5 54 35 PM](https://user-images.githubusercontent.com/19730984/156564581-c634463a-7ea9-4e36-9891-fb4d86b9e004.png)

Rest
Saved theme shows up twice in the list
![Screenshot 2022-03-03 at 5 50 03 PM](https://user-images.githubusercontent.com/19730984/156564338-bc3d1545-e816-416f-b32a-8

[2022-03-03 12:39] aswathkk commented on #10613
The PR got merged to Theming (#9714)

[2022-03-03 12:39] #10613 closed

[2022-03-03 12:39] aswathkk commented on #10614
The PR got merged to Theming (#9714)

[2022-03-03 12:39] #10614 closed

[2022-03-03 12:58] abhvsn commented on #3199
Blockers for the public announcement of Git Sync:

- [ ] Discard changes for git @IAmAnubhavSaini Discard and pull changes and rehydrate the application @abhvsn https://github.com/appsmithorg/appsmith/issues/10863
- [ ] Stray changes popping up on changing branch or opening app after a while @AnaghHegde https://github.com/appsmithorg/appsmith/issues/11266
- [ ] Give user context if the changes are

[2022-03-03 13:19] #11593 closed

[2022-03-03 13:30] ginjojohny commented on #11528
I have tried so many times by refreshing and deployed the application . Every time I took this page and will show this  error on that dropdown . I  am already a member of  discord .

[2022-03-03 13:49] danieldare commented on #7458
@nidhi-nair Please Kindly add a description to this as I'm not able to open the link

[2022-03-03 13:56] #11536 closed

[2022-03-03 14:07] aswathkk commented on #10983
<img width="321" alt="Screenshot 2022-03-03 at 7 35 22 PM" src="https://user-images.githubusercontent.com/10436935/156580380-0ce3d945-ddf2-4b62-99f6-4acef351be83.png">
A scrollbar at the end of the rating widget creates a thick white line. If we increase the height this goes away. Need to fix this either by increasing the default height of the widget or by removing the scrollbar itself.

[2022-03-03 14:34] nidhi-nair commented on #7458
Copying context from Slack:

This is coming from [a recent user request](https://discord.com/channels/725602949748752515/883604745418330132/883744629185474561) to use Google Drive API for file uploads. Today we support the mime type multipart/form-data  which is how files and text fields are sent across. What's missing in this is that the multipart universe is actually quite huge. Other mime types

[2022-03-03 15:42] #11464 closed

[2022-03-03 16:04] danciaclara opened #11602 "[Bug]-[724.7]:Focus outline not visible on certain widgets. Eg"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Pressing tab key does not focus around certain widgets like buttons, icon buttons, etc

### Steps To Reproduce

Add a few widgets on the form- input, select, button, icon button
Press tab key and you will notice that it does not highlight buttons or icon buttons

### Environment

Production

[2022-03-03 16:38] #10640 closed

[2022-03-03 16:43] nidhi-nair commented on #11572
FYI: This is the likely cause of #11202, we should be able to fix these in one go.

[2022-03-03 16:59] danciaclara opened #11603 "[Bug]: Private app when embedded in iframe does not authenticate user on login"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Private apps when embedded in an iframe shows a login screen. But when a user tries to log in, it does not redirect the user to the application and stays on the login screen showing 'Resource not found'

@Nikhil-Nandagopal

### Steps To Reproduce

Embed a private app in an iframe. When a user

[2022-03-03 17:20] dilippitchika opened #11605 "[Bug]: On page change in the view mode we can see a vertical scroll bar appear and then disappear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i try to switch pages, i can observe that a scroll bar appears and then goes away immediately.

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d7b8ee1b7ef54edbaadf4f3ff4bbe3e6-00001.gif)](https://www.loom.com/share/d7b8ee1b7ef54edbaadf4f3ff4bbe3e6)

### Env

[2022-03-03 17:21] dilippitchika commented on #11605
@techbhavin can you check if this is happening because of the embed change you did?

CC - @somangshu @Tooluloope

[2022-03-03 17:23] dilippitchika commented on #10983
Thanks for adding this Aswath

[2022-03-03 17:27] dilippitchika commented on #11602
Will be addressed as part of widget reskinning

[2022-03-03 17:45] dilippitchika commented on #11566
@lublak thanks for raising this.

While RTE is for editing rich texts, I can understand why you would like to control the behavior.

@Tooluloope can you help me understand if introducing an underlying logic for disabling these features is possible?

We should at-least expose a way to disable media for sure

[2022-03-03 17:50] dilippitchika commented on #11564
On a side note - Why did we design the menu button to occupy width of the group and not limit it to the width of button?

[2022-03-03 17:55] dilippitchika commented on #11506
Also for currency input widget

[2022-03-03 18:10] dilippitchika commented on #11574
@sbalaji1192 can this be done in table v2, where the button width is in some % of col width irrespective of the length of text?

[2022-03-03 18:12] dilippitchika commented on #11603
@rohan-arthur I think this is a known limitation on the platform, we have disabled it for a reason.

@Nikhil-Nandagopal can you add context?

[2022-03-03 18:15] dilippitchika commented on #11478
@rashmi-rai this is a duplicate of tree widget #5415. Tracking this there already.

[2022-03-03 18:15] #11478 closed

[2022-03-03 20:14] ankitakinger opened #11607 "[Bug]: Update signup toggle text on admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently, the two values for the Signup toggle button on Admin settings are:
1. Allow all users to signup
2. Allow only invited users to signup

Update it to:
1. Allow all users to signup
2. Restrict signups,

### Steps To Reproduce

1. Go to the Admin settings page
2. Click the authenticati

[2022-03-03 23:53] Irongade commented on #11557
@sumitsum @yatinappsmith @prapullac This bug is not reproducible on release or on production. How did you arrive at this bug?

[2022-03-04 01:27] devnamrits commented on #11419
Hi @Nikhil-Nandagopal @mojtab23, can you please assign it to me?? I want to resolve this issue.

[2022-03-04 04:57] chandannkumar commented on #11449
Due to failed DP link in PR, moving to In Progress again

[2022-03-04 05:17] keyurparalkar commented on #11564
@dilippitchika not sure about this. But I think it might be related to this issue: https://github.com/appsmithorg/appsmith/issues/6609

[2022-03-04 05:36] #11529 closed

[2022-03-04 05:43] Tooluloope commented on #11566
the best way to go about this would be to load most of these plugins which we have done here https://github.com/appsmithorg/appsmith/issues/10633 and then use a multi-select in the property pane to allow the app developer to include or exclude any plugin.

[2022-03-04 06:10] somangshu commented on #10682
Removing this feature request from the menu widget in that case!

[2022-03-04 06:13] Tooluloope commented on #11564
@dilippitchika is there a design for this, so we can correct it?

[2022-03-04 06:16] somangshu commented on #10496
@dilippitchika following are my comment

- [ ] This will remain at the top of the property pane
- [ ] what happens if the user add config in the given field and then updates the switch, will the old config reset to default or should we try and persist it (might be difficult)

- [ ] I suggest the name to be `progress widget`

- [ ] this is not clear, I suggest we add it to the requirement list

[2022-03-04 06:22] Nikhil-Nandagopal commented on #11564
@Tooluloope it should just be as large as the button, not the button group. That should be a simple solve right?

[2022-03-04 06:23] Nikhil-Nandagopal commented on #10682
Lets close this in favor of #6766

[2022-03-04 06:23] #10682 closed

[2022-03-04 06:25] Nikhil-Nandagopal commented on #10725
@dilippitchika I think this is a problem with the button itself and that has trickled down here. Even button alignment between icon & text cannot be controlled properly and solving that will solve this

[2022-03-04 06:25] somangshu commented on #10725
@dilippitchika One point
- Should we center the icon in case there is no label and icon alignment, this way we solve the problem without adding any overhead

[2022-03-04 06:26] #11607 closed

[2022-03-04 06:30] somangshu commented on #11105
FYI, for the months snippet we could use moment as follows

`{{moment.months().map((v) => { return {label: v, value: v.toLowerCase()}})}}`

[2022-03-04 06:32] #11329 closed

[2022-03-04 06:36] sumitsum commented on #11557
@Irongade please reach out to @prapullac to discuss how to reproduce this issue.

[2022-03-04 06:45] #10060 closed

[2022-03-04 06:51] #10591 closed

[2022-03-04 06:59] rohan-arthur commented on #11479
reducing prio to "high" because workaround is available, and it is not always breaking the app.

[2022-03-04 07:01] momcilo-appsmith commented on #4354
@dilippitchika I just reviewed it. Looks good to go!

[2022-03-04 07:06] jnikhila opened #11611 "Quick Search & Navigation links give Page not found"
When rendered through the Quick Search & Navigation available on app.appsmith.com the documentation links for datasources are broken.

The issue is that the quick search points to the url:https://docs.appsmith.com/connecting-to-databases/ whereas the expected url is- https://docs.appsmith.com/core-concepts/connecting-to-data-sources.

The same applies to the other links on the connecting to the da

[2022-03-04 07:09] momcilo-appsmith commented on #10703
Hey @dilippitchika is there anything you need from design team here?

[2022-03-04 07:12] dilippitchika commented on #11566
I have the same idea for now, adding this to needs PRD bucket for me to suggest the design change and move.

[2022-03-04 07:13] dilippitchika commented on #10703
@momcilo-appsmith just need your sign-off, we will update the property pane when we are doing the property pane project.

[2022-03-04 07:14] nidhi-nair opened #11612 "[Bug]: Confirmation for running action flickers through when running an action via cmd+enter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://user-images.githubusercontent.com/5298848/156716756-b43ec012-efda-400a-82d1-8ed97f578cfd.mov

### Steps To Reproduce

1. Create a query
2. Mark it to require confirmation before running
3. Try to run the query by clicking on the run button in the editor. This pops the modal for confir

[2022-03-04 07:15] dilippitchika commented on #11564
@Tooluloope what Nikhil mentioned should be the fix. If you also agree, please move this to product backlog and assign this to the team.

[2022-03-04 07:24] dilippitchika commented on #10725
@somangshu i was checking what you said and based on it i found that in a button widget it automatically center's when there's no text. However in a button group it doesn't, the user also faced this -

**I think we only need to fix it in the button group.**  If we fix this, the user can start using the button group widget with icons for now. This is solution # 2 in what the user has proposed.

Reg

[2022-03-04 07:25] dilippitchika commented on #10725
Dev action item -
- Please remove the extra padding in the button inside a button group when there's no label

[2022-03-04 07:50] dilippitchika opened #11614 "Remove the "label" text inside label within select family widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

By default when you drag an input, you don't see a label but you see a label for select widgets (select, multi-select, tree-select and multi-tree-select). Please remove the text "label" for consistency until we launch #7064

### Why should this be worked on?

Top labels are not discoverable in other w

[2022-03-04 08:08] somangshu commented on #11038
Action Items:
- [ ] Design for `Appsmith developers can be surprised with the changes in layout in the view mode!!` @momcilo-appsmith : This will run in parallel to implementation
- [ ] POC on initial requirement @riodeuno @ankurrsinghal
    - [ ] Review performance with Satish & Arpit
- [ ] Identify platform modifications
- [ ] List all widgets that needs this

cc @rohitagarwal88

[2022-03-04 08:17] Tooluloope commented on #11614
@dilippitchika
The label helps for dragging.
The Dragging issue we have with multi-select and tree-select is reduced because users have an alternative way to drag using the label part.
If we remove that without fixing the drag issue, it might be difficult for them to drag.

So this would be picked up once that is resolved

[2022-03-04 08:19] shwetha-ramesh commented on #10931
@somangshu @techbhavin : tested this on release and there are two observations that are made. So when user gives a image URL on the image widget and click on "enable download" and downloads the file, few set of files gets downloaded in the same tab and few images gets redirected to a different tab (there is no download). What would be the ideal behavior ? (pls refer loom video)

cc: @chandannkumar

[2022-03-04 08:26] shwetha-ramesh commented on #7996
@yaldram @YogeshJayaseelan re-opening as this does not work on deploy mode on release..

https://loom.com/share/ca1dd026e931437b9cb3131d34fff4c4

[2022-03-04 08:29] RakshaKShetty opened #11615 "[Bug]: The user should not be allowed to connect 2 different apps to a single git repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The user should not be allowed to connect 2 different apps to a single git repo

### Steps To Reproduce

1. In the release instance
2. Create a new org
3. Now add 2 apps app1 and app2
4. Now Connect APP1 to git repo 1 just connect dont do a first commit
5. Now Connect App2 to same git repo
6.

[2022-03-04 08:31] yaldram commented on #7996
@shwetha-ramesh Thanks it is working in production but not on release, I will check this.

[2022-03-04 08:34] sumitsum opened #11616 "[Task]: Create empty GraphQL plugin on API server."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Create empty GraphQL plugin on API server to unblock client side.

### Why should this be worked on?

Part of GraphQL plugin dev.

[2022-03-04 08:37] hiteshjoshi commented on #10856
Research on JGIT about lock needs to be done.

[2022-03-04 08:39] sumitsum opened #11617 "[Task]: GraphQL PoC: Check if it would be useful to use Spring's GraphQL framework."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Check if it would be useful to use Spring's GraphQL framework.

[2022-03-04 08:40] hiteshjoshi commented on #11223
- [ ] Better communication for updates on the default branch after sync etc.

[2022-03-04 08:42] hiteshjoshi commented on #10950
@AnaghHegde to raise PR for last three items above comment.

[2022-03-04 08:52] riodeuno commented on #10261
@dilippitchika
We should always contain all widget components into the horizontal bounds of the widget.
We can also do this for the vertical bounds until #11038 is implemented.

We can look at an approach which uses these two features in conjunction for a better experience.
#4630 and #11038
cc @somangshu

[2022-03-04 08:56] #10495 closed

[2022-03-04 08:58] hiteshjoshi opened #11619 "[Task] Missing analytics events for Git Import"

[2022-03-04 09:05] dilippitchika commented on #10496
We already persist for select and table widgets when server side filtering and pagination is enabled/disabled. This should work here as well, is what i think.

Updated the PRD for the rest of the items

[2022-03-04 09:10] ashit-rath opened #11620 "[Perf]: List widget re-rendering memoization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The `getCanvasChildren` memoization is not working correctly anymore i.e the equality function always returns false. Right now the only way this works is if we do deep equality on all params.

Works
[code]

Doesn't work with individual deep equals
[code]

[2022-03-04 09:10] dilippitchika commented on #10261
@riodeuno this issue happens when you are resizing a container, i believe the container is not aware of the min size a widget could go to and prevent users from resizing further. I am unsure about how this will affect dynamic height.

[2022-03-04 09:14] hiteshjoshi commented on #10880
@abhvsn can we close this?

[2022-03-04 09:15] Tooluloope commented on #10956
@dilippitchika We should also consider that Table could have server-side filtering enabled.
This could be like the ServerSide filtering issue we had with Select Widget

[2022-03-04 09:16] rashmi-rai opened #11621 "[Bug]: Evaluated values don't show in pop up unless modified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Evaluated value is not shown correctly

### Steps To Reproduce

1. Open a query editor
2. Click on dynamic text field.
3. Evaluated popup shows undefined
4. Modify the value.
5. Evaluated value shows up correctly

### Environment

Production

### Version

Cloud

[2022-03-04 09:16] dilippitchika commented on #2504
Accessor name change in JSON form

Suggestion to call this an “Alias” as - "a way to refer this field". We are also following the same pattern in the table widget.

CC - @ashit-rath @somangshu

[2022-03-04 09:18] hiteshjoshi commented on #11269
This needs to be an EPIC and need to think through.

[2022-03-04 09:18] rashmi-rai opened #11622 "[Task]: Formulate a test plan and add tests to FormControl Components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Add test cases for form control components
- DropdownControl
- DynamicInputTextControl

[2022-03-04 09:20] Nikhil-Nandagopal commented on #11419
@devnamrits thank you for your enthusiasm. I'd like to direct you to have a look at our contribution guidelines and start with a few good first issues before tackling issues like these :)

[2022-03-04 09:22] akash-codemonk commented on #11489
Closing as unable to repro anymore.

[2022-03-04 09:22] #11489 closed

[2022-03-04 09:23] hiteshjoshi commented on #11268
We have the fat container, need to be aligned before launching.

[2022-03-04 09:26] hiteshjoshi commented on #10028
- [ ] Research keycloak
- [ ] Break this into sub tasks.

[2022-03-04 09:30] devnamrits commented on #11419
Thank you @Nikhil-Nandagopal for your kind advice. I'll be picking a few more good first issues and then level up the challenges.

[2022-03-04 09:41] lublak opened #11624 "[Bug]-[600]:RichTextEditor not loading at start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently i have a RichTextEditor.
The "default text" is filled by a database.
In widget edit mode (where you can place the appsmith widgets) it works fine.
Now I deploy the app and open it it does not work. The editor remains empty.
If I change the page in the same app via the navigation bar

[2022-03-04 09:55] Nikhil-Nandagopal commented on #10037
@sbalaji1192 when will this get fixed?

[2022-03-04 09:58] Nikhil-Nandagopal commented on #11111
@momcilo-appsmith it means it should retain it's size

[2022-03-04 10:02] Nikhil-Nandagopal commented on #11624
@lublak it seems to be working for me. Can you share an app that reproduces this issue?

[2022-03-04 10:11] riodeuno commented on #10261
When a container resizes, the new computed sizes are also applied to the resized children. So, ideally, all widgets should be aware of their dimensions. At the very least, after the user is done resizing the container.

With a combination of responsiveness in widgets, and dynamic height, we can try to make sure that widgets respond well to size changes. When we have responsiveness in the wild, com

[2022-03-04 10:21] lublak commented on #11624
@Nikhil-Nandagopal yes i can. (But i removed the password from the datasource)
[IntranetMenu.zip](https://github.com/appsmithorg/appsmith/files/8184977/IntranetMenu.zip)

[2022-03-04 10:26] lublak commented on #11624
`{{MenuData.data[0].data}}` is undefined for the first start.
I added just replaced it with `{{MenuData.data[0].data}}test` so a i can see in deployed editor: `undefined`

[2022-03-04 10:30] pranavkanade commented on #11611
@arunvjn @jnikhila A slight correction to the description ( I only found one broken link for `Hit a REST API`)
https://www.loom.com/share/8eed7328ae4e419aa5878fa57fe22bf8

[2022-03-04 10:41] techbhavin commented on #11605
@dilippitchika  this is not relevant to the embed changed

[2022-03-04 11:00] RoopKrrish9696 commented on #9661
**Final Design Audit bugs : @kocharrahul7 @hiteshjoshi @Parthvi12 @akash-codemonk**

1. Update all fork icons in the platform to new one
2. Change the fork modal to the new one in the apps tab

[2022-03-04 11:05] SatishGandham commented on #11537
FYI:
This was broke here
https://github.com/appsmithorg/appsmith/pull/396

[2022-03-04 11:17] rahulramesha opened #11628 "[feat]: Copy Paste Improvement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The POC for new Copy paste is to be built with the following UX description,

We agreed to go with this approach and build 1 POC only for now. Then test it internally and externally if needed and decide what needs to be done next:

1. If the mouse pointer is on a layout widget,

  - and the layout wi

[2022-03-04 11:27] arunvjn opened #11629 "[Task]: Integrate with the new application API"

[2022-03-04 11:28] AnaghHegde opened #11630 "[Bug]: Delete branch do not allow deleting default branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We should not allow the user to delete the default branch.

### Steps To Reproduce

We should not allow the user to delete the default branch.

### Environment

Release

### Version

Cloud

[2022-03-04 11:37] dilippitchika commented on #11605
Thanks @techbhavin, @Tooluloope can you assign someone to investigate?

[2022-03-04 11:43] #10892 closed

[2022-03-04 11:43] rashmi-rai commented on #11528
@ginjojohny Sorry for late reply, please post this github issue on discord. We will get in touch with you.

[2022-03-04 11:45] hetunandu opened #11633 "[Bug]: Cyclic dependency when action.clear is called"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

With a particular binding, if action.clear() is called, a cyclic dependency error occurs

### Steps To Reproduce

Follow this steps exactly or else this error cannot be reproduced

1. Have a query that returns data like the users query
2. Run the query
3. Add an Input and 2 Button widgets
4.

[2022-03-04 11:46] hiteshjoshi opened #11634 "[Task] Polishing templates epic for phase 1."
Deploy preview: https://appsmith-79edqojiy-get-appsmith.vercel.app/

- [x] Update template and application import fork icons
- [x] Change the fork app modal to a similar design as the fork templates modal.
- [x] The cards on the first row should be of the same height(the height of the bigger one)
- [x] The tags in the smaller cards should be of 14px instead of 12px and for subtext it should be 13p

[2022-03-04 11:46] ashit-rath opened #11635 "JSON Form - Bug Fixes (QA)"
https://github.com/appsmithorg/appsmith/pull/8472#issuecomment-1053962825
https://github.com/appsmithorg/appsmith/pull/8472#issuecomment-1057956601

[2022-03-04 11:51] #11156 closed

[2022-03-04 11:52] #11157 closed

[2022-03-04 12:16] jnikhila opened #11636 "Add CloudJiffy to docs."
https://cloudjiffy.com
https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100059244
Published doc - https://cloudjiffy.com/blog/solutions/one-click-solutions/install-appsmith-in-cloudjiffy-with-one-click/

[2022-03-04 13:38] ginjojohny opened #11637 "[Bug]: Appsmith login page is showing while embed the application to an external html page using iframe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Created an application and embed it to an html page using iframe tag  with '?embed=true'   parameter in the app url . But it showing the appsmith login page instead of the home page of application .

### Steps To Reproduce

1. Create an application.
2. Embed it into an html page using  within

[2022-03-04 13:41] Aishwarya-U-R opened #11638 "[Bug]: Table Cell Data Values are Misplaced - Visually incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1019" alt="Screenshot 2022-03-04 at 5 55 34 PM" src="https://user-images.githubusercontent.com/91450662/156773529-294c8306-8292-4b2a-a0d4-7c60a409e2cc.png">

### Steps To Reproduce

1. Drag Drop a table & map data
2. Observe if column data fits - it moves to top of the cell, else

[2022-03-04 13:49] AmanAgarwal041 commented on #11071
1. Can disabling the `Save as Datasource` button in the Authentication tab be a solution for the second issue ?
2. Was unable to reproduce the third issue : (`The authentication type shown for REST APIs that do not use authentication is shown as DBAUTH in some cases`). @nidhi-nair Can you please add the steps to reproduce the issue ?

[2022-03-04 13:54] Nikhil-Nandagopal commented on #11637
Hello, we have this tracked in #11603 you can follow that issue to see it's progress

[2022-03-04 13:54] #11637 closed

[2022-03-04 14:05] rohan-arthur opened #11639 "[Feature]-[5000]:Clear store values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As an app developer, I can already:
1.  [store and retrieve](https://docs.appsmith.com/framework-reference/store-value) values across the application.
2. update the value of store variables

As an enhancement, I would like to remove("clear" or "reset") the keys from the store.
There are two aspects to

[2022-03-04 14:19] sumitsum commented on #2284
This week's update:
- PoC with Spring's GraphQL framework - @sumitsum
- start client side implementation - @AmanAgarwal041
- review PRD shared by Rohan - @sumitsum @AmanAgarwal041

[2022-03-04 14:29] sumitsum commented on #11202
@nidhi-nair can you please explain this line ? : `However, this cache is not synchronized and can hence create multiple connections that remain unused, and occupy the connection pool.`

[2022-03-04 14:41] WernerDreierB commented on #3311
Is there still any progress in this topic? Within an Corporate-Network most APIs will be behind a proxy to leave the corporate network-zone...

[2022-03-04 15:10] Irongade opened #11641 "[Bug]: Dynamic binding errors not being displayed for nested Objects data e.g. Api1.data.users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Dynamic bindings for APIs not throwing errors when they don't exist. e.g. When there's a dynamic binding for Api1.data and no data exist for APi1, an error would be thrown. However if you have dynamic bindings for Api1.data.users and no data exists for Api1, no error is thrown.

https://www.l

[2022-03-04 15:25] ramsaptami opened #11642 "[Bug]: Brackets don't automatically close when there's a comma present on text while trying to bind data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 When binding a widget such as list, select, map etc which already have sample data present on the property pane, using brackets does not automatically place a closing bracket when used just before a comma as seen in the screenshot

### Steps To Reproduce

1. Drop a maps widget on canvas
2. C

[2022-03-04 15:44] ramsaptami opened #11643 "[Bug]: Datasources don't get cleared from entity explorer when dependent queries are deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a query of a datasource is deleted, it's dependent datasource is not cleared from the entity explorer. Since the current design of the entity explorer is intended to display actively used datasources with a query, this behaviour does not comply with current design.

[![LOOM DEMO](http://

[2022-03-04 15:49] WernerDreierB opened #11644 "[Bug]: Only .com and .org Git-Servers can be used"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I enter a valid ssh-git-url as new repository, which is not github.com or gitlab.org (e.g. git@git.something**.ch**:user/something/showcases/testrepo.git) the check will fail within the backend, due to the restriction in the regex here: https://github.com/appsmithorg/appsmith/blob/f61003

[2022-03-04 15:56] ramsaptami opened #11645 "[Bug]: JS object name is displayed as a lint error on binding when app/page is cloned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

JS object name is displayed as a lint error when app/page is cloned

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/33bcd074854d4e40801427dfad1e443f-00001.gif)](https://www.loom.com/share/33bcd074854d4e40801427dfad1e443f)

### Steps To Reproduce

1. Create a JS object and bind it to a

[2022-03-04 16:11] ramsaptami opened #11646 "[Bug]: Hyperlink on iFrame widget does not perform any action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Dropping a new iFrame widget on canvas displays a text with CTA that does not perform any action on click

![image](https://user-images.githubusercontent.com/79509062/156797779-0b6f96a5-e876-4af9-a162-9d90e3a45086.png)

### Steps To Reproduce

1. Drop an iFrame widget and try to click on the

[2022-03-04 16:45] AmanAgarwal041 opened #11647 "[Bug]: CURL Import UI issues with respect to Design System"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. Issue with the CURL Import Button
<img width="1179" alt="Screen Shot 2022-03-03 at 5 00 28 AM" src="https://user-images.githubusercontent.com/7565635/156803340-c1fa2078-a39d-4a85-b59b-d4ce29f1bc05.png">

2. Spacing Issues and Font Issues with the different elements on the page.

Current UI

[2022-03-04 19:31] #11585 closed

[2022-03-04 20:46] felixsuarez0727 commented on #10909
Noticed that on other computers the load time is faster. For this reason, the following test is proposed, in which the different times it takes to perform a process are compared to analyze how it behaves in different environments.

### Steps to reproduce the test

1. Go to https://app.appsmith.com/applications
2. Start the chronometer and select edit in Saas Integration Manager
![imagen.png](https

[2022-03-04 22:54] felixsuarez0727 commented on #11055
The root cause is when an action is created but not updated in `rootActionConfig.editor[0].options`and shows empty.

Issue found: When a new action is made, the `Add_Integretation_Command ` is not automatically executed after the action is created. In ActionDao, in the create function, it does not enter in `then()`, which causes the integration in options to not be carried out.

![imagen.png](http

[2022-03-05 00:45] #11544 closed

[2022-03-05 01:17] sharat87 commented on #3311
@nidhi-nair @mohanarpit, I don't think this issue is about setting a proxy at the instance level, with an environment variable. This is about configuration a proxy for specific API datasource, and no other. This should be set at the `WebClient` level, not at the java level.

[2022-03-05 03:19] rohan-arthur commented on #11639
Related: #7827

[2022-03-05 04:13] #11366 closed

[2022-03-05 07:12] AnaghHegde commented on #10950
Closing this as all the issues listed are fixed. We can track the issue found in regression in a different ticket as this is getting bulky.

[2022-03-05 07:12] #10950 closed

[2022-03-05 07:15] AnaghHegde opened #11651 "[Bug]: Sync branch does not delete the branch if the remote tracking branch is deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Connect an application to git repo
Create branch in the application
Delete the branch from the remote repo
Click on sync branch from the application and notice that branch is still present

### Steps To Reproduce

Connect an application to git repo
Create branch in the application
Delete the

[2022-03-05 08:30] #11630 closed

[2022-03-05 08:51] #11250 closed

[2022-03-05 11:07] Aishwarya-U-R opened #11652 "[Task]: Fix Automation test scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-05 13:20] #11546 closed

[2022-03-05 14:19] fibigerg commented on #3532
Hi, I am confused. Is there any way to update input field programically (eg. setting 25% of a value of a different input field after clicking a button labeled 25%)?

[2022-03-05 17:36] dilippitchika opened #11654 "[Enhancement]: Increase the filepicker supported size on cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The 5mb limit is too less for our cloud users, we should increase this to at-least 30MB or beyond.

### Why should this be worked on?

The size supported right now is too less and the alternative once some one has built an app is to then self host it and change the limit to support 100MB. A lot of wor

[2022-03-05 20:05] Gintasz commented on #11654
Increase the limit to 100MB. I have an admin panel where user can upload audio files. It's ridiculous the limit is 5MB for no reason. Why is this even an issue? The front-end should be connecting directly with the API (e.g. S3) to upload the file, without any proxying through the appsmith cloud servers.

[2022-03-05 21:15] tiger360 opened #11655 "[Feature]: Group by Properties in a Table like Notion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

https://user-images.githubusercontent.com/5794444/156900014-7cb907bf-3235-432b-be6d-632bea2e2db4.mp4

Grouping by a property of a table like in Notion

### Why should this be worked on?

 it allows you to visually separate rows in your database views, by pretty much any property.

[2022-03-05 21:32] tiger360 opened #11656 "[Feature]: data source for Directus / NocoDB / Grist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

To build an integration of Directus / NocoDB / Grist with their OpenAPI Specification
https://docs.directus.io/reference/system/server/#get-openapi-specification

### Why should this be worked on?

To make it smoother like on n8n when we need to bind the datasource with the rest api .
And also I was b

[2022-03-06 01:53] ClarksonCote commented on #11407
@rashmi-rai I tried that just now. It appears to have the same behavior, I receive an invalid syntax message even though the Body looks identical to when I submit the raw text in the body without a reference to the appsmith.store variable...

`"body":"{ metadatarecord ( limit: 10 ) { assignedId uploadTime } }"`

[2022-03-06 08:37] tiger360 commented on #8314
is there still no way  to allow users to call a function that scrolls to any widget on a page ?

[2022-03-06 17:44] #11470 closed

[2022-03-06 17:48] #11477 closed

[2022-03-06 18:21] aswathkk commented on #8845
### Update on 4th March

- @aswathkk & @vuiets will document the user flows that are allowed right after selecting a widget in the canvas.
- @aswathkk & @vuiets will document our general philosophy behind the property pane keyboard navigation
- @aswathkk will be making the color picker keyboard accessible. Once the color picker is opened, we will trap the focus inside the color picker — means, pre

[2022-03-06 19:43] #11486 closed

[2022-03-07 03:03] danciaclara opened #11657 "[Feature]: Ability to freeze columns in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A way to lock/freeze columns so that when you scroll horizontally through the rest of the table the locked columns stay put on the screen.

### Why should this be worked on?

It'd be very useful when there are many columns in the table and you need some columns to be always visible on the screen. Like

[2022-03-07 03:34] ginjojohny commented on #11637
@Nikhil-Nandagopal   https://github.com/appsmithorg/appsmith/issues/11603  this issue refers to the private app.
 My application is configured as public and before it was working fine with my html page .

[2022-03-07 04:14] Parthvi12 opened #11658 "[Bug]: Fork icon is not working on templates page as well as templates description page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 On clicking fork icon on templates card on templates page and description page, the template is not forked except for the 'Customer Support Dashboard' template.

### Steps To Reproduce

1. Switch to Templates tab.
2. Click on fork icon on any templates card except Customer Support Dashboard

[2022-03-07 04:39] jnikhila commented on #11563
Closing this ticket as a ticket already exists for the same. https://github.com/appsmithorg/appsmith/issues/11271

[2022-03-07 04:39] #11563 closed

[2022-03-07 04:41] jnikhila commented on #11271
@trishaanand / @Pranay105 - The first draft for [JWT documentation](https://docs.google.com/document/d/1W7m4Lq3ehKTcW40WCB8OPwY7q9ohUso-z9lfLAcNoQI/edit?usp=sharing) is available. Please go through the same and let me know if you think any changes are needed.

[2022-03-07 04:43] jnikhila commented on #11636
An initial meeting is setup with Dancia to take this ahead with the user.

[2022-03-07 04:46] sbalaji1192 commented on #11574
@dilippitchika We have a similar issue on the V2 epic  - https://github.com/appsmithorg/appsmith/issues/10278

[2022-03-07 04:56] dilippitchika commented on #11657
Duplicate of https://github.com/appsmithorg/appsmith/issues/3265

[2022-03-07 04:56] #11657 closed

[2022-03-07 04:58] dilippitchika commented on #11654
S3 issue for more than 5mb uploads - https://github.com/appsmithorg/appsmith/issues/11137

[2022-03-07 05:04] dilippitchika opened #11659 "[Bug]: Audio blob url shows undefined for audio recorder widget when trying to access"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I record a new audio using the audio recorder widget, the blobURL shows empty when trying to bind in a query or other widgets.

### Steps To Reproduce

1. Drag a new audio widget
2. Record and save the audio
3. Use {{<audiorecorder>.blobURL}} in a query or text widget to see that the val

[2022-03-07 05:08] sbalaji1192 commented on #10037
@Nikhil-Nandagopal This is not one issue and happens in multiple widgets. We had triaged this and pushed a code block to help us better trace this in the sentry issue.
@somangshu Is someone picking this up in the upcoming sprint?

[2022-03-07 05:12] dilippitchika opened #11660 "[Bug]-[800]:Filepicker doesn't show files in it's pop-up when the user goes to a query page and comes back"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i upload a file in filepicker and go to the query/api page and come back, I can see the number of files uploaded in the button but don't see the files in the pop-up.

Either reset the filepicker or show the files uploaded, the current state is weird.

### Steps To Reproduce

1. Upload a

[2022-03-07 05:14] dilippitchika commented on #6032
@somangshu can you confirm if this is applicable anymore? If not, let's close this.

[2022-03-07 05:15] dilippitchika commented on #9186
Needs research on how easy it is to add files from the cloud providers and how the dev can scale the cloud providers

[2022-03-07 05:17] dilippitchika commented on #11279
@riodeuno we have a way to find out this using {{FilePicker1.files[0].type}} can you check if this is what you were referring to?

If yes, then was this detail not clear? Maybe we should consider renaming this to data_format.

[2022-03-07 05:20] dilippitchika commented on #11646
Clicking the link in an iframe should open the link in the same tab, this is not happening.

[2022-03-07 05:22] dilippitchika commented on #11620
@ashit-rath what should be the next steps here? I don't see this assigned to anyone

[2022-03-07 05:25] dilippitchika commented on #11637
Hey @ginjojohny I am able to access public apps in the embed mode and it doesn't show any login page. Could you share the app url or the give access to us?

[2022-03-07 05:30] dilippitchika commented on #11491
@Tooluloope i think this should be left to the dev if we want to truncate the text with ellipsis or show a scroll bar.

This will also be a problem in checkbox widget and radio widgets. Let's tackle these together later.

[2022-03-07 05:32] dilippitchika commented on #11485
Also happens in the form widget in the view mode

[2022-03-07 05:39] dilippitchika commented on #11452
Will triage this with list issues, @somangshu can you check if this can be picked up independent of list issues though?

[2022-03-07 05:45] dilippitchika commented on #11409
@vivekverma2312 cannot reproduce, can you check this once?

[2022-03-07 05:46] dilippitchika commented on #11397
@nayan-rafiq any update on this?

[2022-03-07 05:47] dilippitchika commented on #11398
@jsartisan please estimate and close this, also can i see the events in the dp?

[2022-03-07 05:49] dilippitchika commented on #11243
@sbalaji1192 can you link this to table v2 issue that you solved for the same? I believe this is being solved there with the apporach we are taking.

[2022-03-07 05:51] Nikhil-Nandagopal commented on #11639
@rohan-arthur should the function be at a global level to be consistent with storeValue? Otherwise, I feel this function signature is going to be confusing to users. Or we introduce storeValue underneath appsmith.store as well and deprecate it at the global level

[2022-03-07 05:52] nidhi-nair commented on #3311
You're right about this needing to be WebClient level @sharat87. Arpit's POC does exactly this IMO. We'll bring this issue back into priority on our backlog since the branch already exists.

@WernerDreierB thanks for bringing focus back to this. We'll keep this issue updated! :)

[2022-03-07 05:54] dilippitchika commented on #11203
@Nikhil-Nandagopal isn't this what "animate loading" switch is supposed to do? Are you aware if that's what this is about?

[2022-03-07 05:56] vivekverma2312 commented on #11409
@dilippitchika Adding loom video for this
https://www.loom.com/share/a9b925d70b9d48da831d6d5b2d75ca50

[2022-03-07 05:57] dilippitchika commented on #11194
@vasanth-appsmith @momcilo-appsmith this is a common problem with the list type input in the property pane.

It needs an improvement. My current suggestion is to show the error message on click, if we can't show it inline. Similar to other property pane errors like input fields.

We can have the evaluated value pop-up here as well which comes up only on error or a new type of error field.

[2022-03-07 05:57] nidhi-nair commented on #11202
@sumitsum Since `Hashmap` does not handle concurrent connections inherently, we'd need to create a `synchronized` lock around the cache. Multiple APIs access this map at the same time, and even though in terms of consumption we'll always get a valid connection, the cration of connections happens multiple times, and are possibly only closed the one time. Does this address your question?

[2022-03-07 06:09] Nikhil-Nandagopal commented on #3532
@fibigerg this is indeed possible by storing the value using {{storeValue('val', 25)}} in the onClick and binding the stored key to the input {{appsmith.store.val}}
This is an example app that achieves this
https://app.appsmith.com/applications/61e14d22eb0501052b9fae0b/pages/61e14d22eb0501052b9fae0e

[2022-03-07 06:10] Nikhil-Nandagopal commented on #11260
Closing this since we have no update

[2022-03-07 06:10] #11260 closed

[2022-03-07 06:13] nayan-rafiq commented on #11397
@dilippitchika I didn't get a chance to work on it yet. I'll try to pick it up this week.

[2022-03-07 06:18] nayan-rafiq opened #11661 "Response meta is missing in import template API"
The response meta is not present in the import template response.

[2022-03-07 06:23] dilippitchika commented on #11188
**Items which are not supported in form.data but need to be supported are -**
1. Treeselect
2. Switch group
3. Multi tree select
4. Multi select
5. Phone input and currency input are not shown when empty
6. Check box group
7. Audio recorder
8. Filepicker
9. Camera

[2022-03-07 06:24] Nikhil-Nandagopal commented on #11203
@dilippitchika that property is to always disable the loading state. But here the problem is that the hidden elements are in a loading state

[2022-03-07 06:27] dilippitchika commented on #11188
@Tooluloope @wmdev0808 this should be linked to #4182 and done immediately after that.

[2022-03-07 06:34] Nikhil-Nandagopal commented on #11654
@Gintasz this is an issue because all API calls must go through the server and processing 100mb files on a single server is a challenge when it is used by multiple users. Why it must never go directly from the frontend is because integrating with any data source requires authentication credentials and those being on the frontend is a serious security risk.
This is why we ask users to move to self

[2022-03-07 06:39] momcilo-appsmith commented on #11140
@somangshu Is it possible to:
1. Put the drag line inside the property pane and make it 2px?

[2022-03-07 06:40] momcilo-appsmith commented on #11194
@dilippitchika I think we already have error states for inputs in our DS, why are we not using those?

[2022-03-07 06:42] momcilo-appsmith commented on #10703
@dilippitchika Reviewed it - seems good to me.

[2022-03-07 06:53] somangshu commented on #11183
Feels like this is non issue, the boundary is hidden because it is constrained by the container scroll.

For an enhancement need more inputs from @riodeuno / @momcilo-appsmith keeping dynamic height in mind.

[2022-03-07 06:57] Nikhil-Nandagopal commented on #11624
@lublak can you reproduce this with our users db? I tried replacing your query with fetch users and was able to get it to wrok

[2022-03-07 07:01] ramsaptami opened #11663 "[Bug]: Invalid JS function names are not validated for errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Function names that don't exist when bound to a widget (using mustache binding) don't get validated for error, i.e, linting does not show up.

### Steps To Reproduce

1. Create a new JS object
2. Bind it's function `JSObject1.myFun1()` to a widget
3. Now change it to `JSObject1.myFun11()` - o

[2022-03-07 07:07] abhvsn opened #11665 "[Task]: Don't take client subscription into account for git discard changes API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-07 07:12] dilippitchika commented on #11409
Ok, my bad I checked in production and not release. @sbalaji1192 are the changes in datepicker not in release but in production? Or this looks like a different issue. Please check.

@vivekverma2312 please make sure this issue is resolved before promoting a release.

[2022-03-07 07:19] rashmi-rai commented on #11394
Fixed via https://github.com/appsmithorg/appsmith/pull/11632

[2022-03-07 07:20] #11394 closed

[2022-03-07 07:22] dilippitchika commented on #11194
@momcilo-appsmith can you leave a link to this in the DS, i'll take a look and move this

[2022-03-07 07:24] dilippitchika commented on #11574
Thanks closing this and tracking it in #10278

[2022-03-07 07:24] #11574 closed

[2022-03-07 07:28] ohansFavour commented on #11659
Autocompletion shows wrong hint. It should be `blobURL` instead of `blobUrl` .  Fixed [here](https://github.com/appsmithorg/appsmith/pull/11667)

[2022-03-07 07:29] Rishabh-Rathod commented on #11262
Moving it back to the product backlog, as 1st we need to analyze why our perf infra metrics have fluctuations and how can we make them more reliable.

[2022-03-07 07:33] dilippitchika commented on #11176
Amazing find 😆

[2022-03-07 07:37] dilippitchika commented on #11176
@Tooluloope the suggested fix can be the following, but I think there can be a better suggestion.
1. Close the menu options when scrolling starts.
2. Contain the pop-up in the parent widget.

Please assign someone to investigate.

[2022-03-07 07:41] momcilo-appsmith commented on #11194
@dilippitchika https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4771%3A23181

[2022-03-07 07:50] vivekverma2312 opened #11668 "[Bug]: Position of button for default and custom button on table widget is different"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c15e1de637b14278a27ca50734ef7dd6-00001.gif)](https://www.loom.com/share/c15e1de637b14278a27ca50734ef7dd6)

### Steps To Reproduce

1. Drag and drop a table widget
2. Observe the default button
3. Now add one column and change the type to b

[2022-03-07 08:06] vivekverma2312 opened #11670 "[Bug]: Vertical Alignment is not functional on Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/8e03c1337bf14d08ad7962ed1d4fafef-00001.gif)](https://www.loom.com/share/8e03c1337bf14d08ad7962ed1d4fafef)

### Steps To Reproduce

Clicking on any vertical alignment option do not make any change on table widget

### Environment

Release

[2022-03-07 08:09] vivekverma2312 opened #11671 "[Bug]: Background colour is not working properly on Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1077" alt="Screenshot 2022-03-07 at 1 37 10 PM" src="https://user-images.githubusercontent.com/83569920/156992231-2bca0048-3d9b-4543-8537-13565f1bc8e2.png">

### Steps To Reproduce

1. Drag and drop a table widget
2. Change the background colour
3. Observe that the colour is not d

[2022-03-07 08:12] shwetha-ramesh opened #11672 "[Bug]: Successful Reset password message appears to non registered user id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a user who has not signed up but directly tries to sign with his credentials is redirected to "It looks like you may have entered incorrect/invalid credentials. Please try again or reset password using the button below.
 " When the user clicks on  "Reset Password" and gives non registere

[2022-03-07 08:25] riodeuno commented on #10177
@prsidhu @sbalaji1192 This seems to be a standard data integrity issue, where there are multiple sources for the truth about the hidden columns. We should update the code, so that this property is taken from on source which should ideally be the primaryColumns configuration for the column in question.

[2022-03-07 08:45] Aishwarya-U-R commented on #7413
Update:  Now JSObjects is available to all users. Hence it should be visible to public apps as well.

[2022-03-07 08:52] lublak commented on #11624
I found the issue @Nikhil-Nandagopal
The iis reverse proxy has blocked the websocket connection.

Interesting then only that appsmith itself continues to run. It would be more practical to lock the entire app in case of a failed connection in order to avoid erroneous data in case of a faulty connection.

[2022-03-07 08:56] lublak commented on #11624
But after releasing the websocket there is another problem.
What is also problematic here is the delay.
The user can already enter data. The data arrives delayed and is then inserted in the editor.

[2022-03-07 09:00] lublak commented on #11624
Well the error is not fixed after all, the data is only displayed irregularly. Maybe once every 15 page views.
I have tried the following address because the test user database is unfortunately blocked by our internal network: http://jsonplaceholder.typicode.com/users

[2022-03-07 09:13] shwetha-ramesh opened #11675 "[Bug]: User is not redirected to home page when clicked on 'start building an app' after welcome tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user completes the Welcome tutorial; the last step is to deploy and rate the experience of the tutorial, once that is done the user is provided a button to 'Start building an app'. When the user clicks on it, he his redirected to the edit mode of the tutorial's app and not the home p

[2022-03-07 09:35] Nikhil-Nandagopal commented on #11624
@lublak what you can do here is disable the RTE if the Query is in a loading state to prevent user inputs till the query returns

[2022-03-07 09:51] ashit-rath commented on #2504
Actionables:
- [ ] Discuss edge cases and new features with QA. @ashit-rath @vivekverma2312
- [ ] review non-ASCII @sbalaji1192
- [ ] documentation @dilippitchika
- [ ] Work on QA feedback @ashit-rath

[2022-03-07 09:57] lublak commented on #11624
@Nikhil-Nandagopal just for a info i can reproduce the issue of non loading data also at your app.appsmith site:
https://app.appsmith.com/applications/6225c53e45ea27345b4970f2/pages/6225c53e45ea27345b4970f5

[2022-03-07 09:59] lublak commented on #11624
The thing about protecting because of the delay is a good thing. But unfortunately does not fix the problem that sometimes it is not loaded at all

[2022-03-07 10:20] lublak commented on #11624
@Nikhil-Nandagopal
Just a small thought, maybe sometimes the editor was not initialized yet. Possibly by the browser cache it is sometimes initialized faster before the data are there.
The data is sometimes faster and sometimes slower.

[code]

[2022-03-07 10:33] Parthvi12 opened #11678 "[Bug]: Getting resource not found error on templates description page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/8e8ef4e79116436c8f9acffd18b719e6-00001.gif)](https://www.loom.com/share/8e8ef4e79116436c8f9acffd18b719e6)

### Steps To Reproduce

1. Go to Templates tab
2. Click on 'Cross Platform Social Media message pusher' template's card.
3. Iframe w

[2022-03-07 10:40] yatinappsmith opened #11679 "[Bug]: Unable to start fat container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Server desnot start
Please check attached file
[serverstart.txt](https://github.com/appsmithorg/appsmith/files/8196940/serverstart.txt)
s

### Steps To Reproduce

[code]

### Environment

Release

### Version

Self-Hosted

[2022-03-07 10:51] sbalaji1192 commented on #11409
@dilippitchika Doesn't seem like caused by the moment changes we did. I reverted my changes, but it is still happening.

[2022-03-07 10:54] shwetha-ramesh opened #11680 "[Bug]: Long comment on Comment mode cuts off POST & CANCEL button from canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Long comment on Comment mode cuts off POST & CANCEL button from canvas

https://loom.com/share/6b9620d93c444cdcbe0a6808fd7ff606

### Steps To Reproduce

1. Create an application
2. Go to Comment mode
3. Enter a very long comment and observe.

### Environment

Production

### Version

Cloud

[2022-03-07 10:58] shwetha-ramesh opened #11681 "[Bug]: Refresh toast message appears whenever a new app is created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Every time a new app is created, "Hey! There is a new version of Appsmith available. Please consider refreshing your window. REFRESH" messages appears on Release

https://loom.com/share/3461e3499de4433ca40af5eb8d5c75dd

![image](https://user-images.githubusercontent.com/92293815/157018586-6fa

[2022-03-07 11:00] AnaghHegde opened #11682 "[Bug]: App visibility is set to private after git merge operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After merging the branches with in Appsmith if the app is public it is reset to private.

### Steps To Reproduce

1. Connect an app to git repo
2. Create branch from the main branch
3. Make the app public
4. Add a widget or page or make any changes and then do commit + push
5. Now merge the b

[2022-03-07 11:09] sachinvyas2012 opened #11683 "[Bug]: www.appsmith.com user signup page does not open up on Kali Linux (debian flavor)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Platform details:
=============
uname -r
4.19.0-kali1-amd64

uname -v
#1 SMP Debian 4.19.13-1kali1 (2019-01-03)

Browser:
======
Firefox 60.4.0esr (64-bit) Firebox Quantum

When I open the https://www.appsmith.com/ open on Firefox 60.4.0esr (64-bit), the user signup page does not open up. It

[2022-03-07 11:20] sachinvyas2012 commented on #11683
Seems redirection for sign up is not working

Additional error details:
====================

Firefox -> Tools -> Web Developer -> Web Console ->

TypeError: window.customElements is undefined[Learn More]
12.9b9bee13.chunk.js:2:3696501
<anonymous>
https://app.appsmith.com/static/js/12.9b9bee13.chunk.js:2:3696501
u
https://app.appsmith.com/user/signup:1:1262
[1028]
https://app.appsmith.com/static/j

[2022-03-07 11:23] sachinvyas2012 commented on #11683
Let me check and find if I can share any additional detail that can help in fixing it.

[2022-03-07 11:26] shwetha-ramesh opened #11684 "[Bug]: More menu items exceed the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 In menu button widget when new Menu items are added in property pane the bottom border is not visible after the 5th new menu item

When more number of menu items are added the items move out of canvas
![image](https://user-images.githubusercontent.com/92293815/157022420-46bd81ef-4be9-424b-82

[2022-03-07 11:36] parth-appsmith commented on #9302
@rashmi-rai you can check the designs and the solution in this [Notion doc](https://www.notion.so/appsmith/Redesign-of-filter-where-components-for-UQI-30d2f4eb20d946d8a2b5a466f50feab1)

Design File: https://www.figma.com/file/Qs7p5frNx7uEfVYpADGk0d/?node-id=54%3A4654

[2022-03-07 11:44] sharat87 commented on #11679
@yatinappsmith, hey, I just tried this and couldn't reproduce the problem with the command in the description, but I did manage to produce the same error with this:

[code]

The error message:

[code]

It appears if `APPSMITH_SIGNUP_DISABLED` is not `true` or `false`, it breaks. Even an empty string.

One way to resolve this is to define an autowired `setSignupDesabled` method, similar to the `set

[2022-03-07 11:49] #11616 closed

[2022-03-07 11:50] Nikhil-Nandagopal commented on #11624
@lublak we're now able to reproduce the issue.
You need to open this on Safari and you will be able to see it. To reproduce it, we need to kill the safari desktop app and re-open it

[2022-03-07 11:52] Nikhil-Nandagopal commented on #8314
@tiger360 unfortunately this has not yet been planned

[2022-03-07 11:56] sumitsum opened #11685 "[Task]: Test S3 plugin with Minio"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Test S3 plugin with Minio.

### Update
  - There are three parts to this problem:
    - Connect with MinIO server which is unsecured (over http).
    - Connect with MinIO server which is secured with a CA signed certificate (over https)
    - Connect with MinIO server which is secured with a self s

[2022-03-07 12:08] #11679 closed

[2022-03-07 12:09] #11105 closed

[2022-03-07 12:10] #11530 closed

[2022-03-07 12:10] #11209 closed

[2022-03-07 12:44] AnaghHegde commented on #10241
I am not able to reproduce this error locally.

[2022-03-07 13:18] yatinappsmith commented on #11679
Verified

[2022-03-07 13:44] MichaelLeeHobbs opened #11688 "[Bug]: AppSmith consumes {{}} when it should not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

AppSmith is consuming {{value}} when it should not. I expect AppSmith to not consume {{value}} when it is an input value for an input field.

### Steps To Reproduce

1. Create an input
2. Input example: `SubjectInput` Text: `HL7 Result: CODE 5 - CRITICAL VALUE - {{institution}} {{accessionNum

[2022-03-07 13:55] MichaelLeeHobbs opened #11689 "[Feature]: Multiple Email addresses in Email address input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow multiple email addresses in email address input. Have an option to allow the input to accept multiple email addresses separated by comma or semicolon.

### Why should this be worked on?

It's very common to need to input multiple emails address when accepting data for TO, CC, and BCC fields. The

[2022-03-07 13:58] lublak commented on #11566
It can also be used the toolbar options: https://www.tiny.cloud/docs/advanced/available-toolbar-buttons/

[2022-03-07 13:59] ramsaptami opened #11690 "[Bug]: Unable to delete old datasource after updating dependent queries with a new datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Changing datasource to a new datasource and then trying to delete the old datasouce fails to happen and instead displays an error stating there are dependent quries.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/8b21104f62674fbeaf440a2c478b2746-00001.gif)](https://www.loom.com/share/

[2022-03-07 14:03] Nikhil-Nandagopal commented on #11689
@MichaelLeeHobbs I think this should be a new widget. Sort of like a tag widget that allows users to add items to it with validation for email

[2022-03-07 14:05] Nikhil-Nandagopal commented on #11688
Also related to #7346. I'm closing those in favor of this

[2022-03-07 14:05] #7346 closed

[2022-03-07 14:35] ramsaptami opened #11691 "[Bug]: mySQL store boolean inputs false and true as 0 and 1 when table column type is varchar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

mySQL insert or update query saves boolean values false and true as 0 and 1 even when column type is varchar

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/97ff9a03db8c4eafba3bd1c1d54a9c28-00001.gif)](https://www.loom.com/share/97ff9a03db8c4eafba3bd1c1d54a9c28)

### Steps To Reproduce

[2022-03-07 17:09] hiteshjoshi commented on #10916
@albinAppsmith can we close this?

[2022-03-07 17:10] hiteshjoshi commented on #8411
@akash-codemonk did we ever picked this up?

[2022-03-07 19:46] areyabhishek commented on #11384
@japrogramer @isaacrj Thank you for reporting this issue. We've reproduced this bug. It used to work before but a recent change seems to have introduced a regression.

[2022-03-08 03:19] Bimbobao opened #11696 "[Feature]: Mass switch queries to another datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow for the switching of existing queries (in bulk) to another datasource.

### Why should this be worked on?

The current way of switching datasource for an existing query are to (1) select the query and (2) switch the query to the appropriate datasource. The steps are then manually repeated for al

[2022-03-08 04:16] techbhavin commented on #10352
@somangshu  can we close this issue. Here we revert the change of #9858 so the related issue is fixed

[2022-03-08 04:31] albinAppsmith commented on #10916
@hiteshjoshi will pick this up today

[2022-03-08 04:33] akash-codemonk commented on #8411
@hiteshjoshi I think we can close this issue. There was one issue w.r.t scrollbars in widget pane which has been merged in already.

[2022-03-08 04:34] #8411 closed

[2022-03-08 05:09] shwetha-ramesh commented on #11533
@jsartisan
21. When long theme name is given the name abruptly cuts off
![image](https://user-images.githubusercontent.com/92293815/157170209-0e4bc2f3-0eff-4c12-aa45-d5931a1a0e09.png)

[2022-03-08 05:34] nayan-rafiq opened #11697 "[Feature]: Set the mock API by default when adding a new API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When user adds a new data source and tries to add a API, we show the mock api path as placeholder. But when user starts editing the path, it's gone. It would be better if mock API path is there by default so that user can see it in action.

### Why should this be worked on?

It'll make user more inter

[2022-03-08 05:41] ramsaptami opened #11698 "[Bug]: Page load action calls are missing for a particular app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

onPageLoad actions are missing for this app on JS objects `executeOnPageLoad.spotifyAuthorization` and `locationServices.locationSpotter`. These actions are missing for queries too.

https://dev.appsmith.com/api/v1/pages/61ea4a44361846772cfb1180

### Steps To Reproduce

1. Go to app at [link]

[2022-03-08 05:51] parth-appsmith commented on #10849
@areyabhishek upon research, the most common logo used for S3 is I have found is this(attached). As per what I have understood S3 is a file storage protocol developed by amazon, even though other cloud service providers are providing S3 storage but the most recoginisable icon for S3 still remains the amazon one.
We can try a custom variation of it but the whole purpose of an icon is to provide qui

[2022-03-08 05:53] Nikhil-Nandagopal commented on #11697
@nayan-rafiq this can maybe happen for the very first API created but shouldn't happen every time the API is created otherwise it just adds double work to configure an API

[2022-03-08 06:02] nayan-rafiq commented on #11697
@Nikhil-Nandagopal Yeah, this can be done when there is no API configured for that application or organization.

[2022-03-08 06:06] #11638 closed

[2022-03-08 06:06] #11668 closed

[2022-03-08 06:06] #11670 closed

[2022-03-08 06:25] Nikhil-Nandagopal commented on #11696
Hi @Bimbobao ! Thank you for the feature request. We have this feature tracked here as part of #2836 Please do upvote that issue

[2022-03-08 06:25] #11696 closed

[2022-03-08 06:31] Nikhil-Nandagopal commented on #3085
Yeah lets

[2022-03-08 06:31] #3085 closed

[2022-03-08 06:41] rahulramesha commented on #9858
Re opening this issue because of the reverting changes in #11674

[2022-03-08 07:00] AmanAgarwal041 commented on #11071
1. `The authentication type shown for REST APIs that do not use authentication is shown as DBAUTH in some cases` : Seemed to be a old issue which was not reproducible, so leaving it all other will be solved in the created PR.

[2022-03-08 07:06] parth-appsmith commented on #11374
#11235

[2022-03-08 07:08] parth-appsmith commented on #11235
This will be taken care of by the new designs for #11374

[2022-03-08 07:09] RoopKrrish9696 commented on #9661
**Few small design fixes :** @akash-codemonk @kocharrahul7

1. The padding between back button and title is reduced to 12px
2. The  font-size of subtext in all the sections is reduced to 16px  ( Function , Industry, Datasources )
3. "Showing all 5 templates" font size altered to 20px ( We dont have 18px in the design system, sorry my bad )

[2022-03-08 07:24] #10352 closed

[2022-03-08 07:51] abhvsn opened #11701 "[Feature]: Implement intermediate DTOs or JsonView for serializing and deserializing DB objects to JSON files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The way import-export is implemented has a single intermediate DTO `ApplicationJson` between the DB and the JSON file. This results in handling the edge cases for JsonIgnored fields from multiple collections confined to that single collection.

More context can be found at: https://theappsmith.slack.c

[2022-03-08 07:58] ankitakinger opened #11702 "[Bug]: Toggle buttons on Admin settings page has incorrect copies and flag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I go to the form login authentication config setup page, the toggle is by default turned off and the text reads disabled. It should by default by on and text should be read enabled.
There is a similar issue on all toggles under the Admin settings pages

### Steps To Reproduce

1. Go to t

[2022-03-08 08:44] fungiboletus opened #11704 "[Bug]: Infinite redirect loop since version v1.6.14"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I installed the version `v1.6.14` using the helm chart and I get an infinite redirect loop. It just redirect to the same URL.

Version `v1.6.13` works as expected.

### Steps To Reproduce

Install AppSmith on Kubernetes with `image.tag` left to the default `latest` or `v1.6.14`. Try to open i

[2022-03-08 08:45] fungiboletus commented on #11704
My bad, it does it too with `v1.6.13` after some time.

[2022-03-08 08:45] #11704 closed

[2022-03-08 09:04] prsidhu commented on #11480
@jsartisan I'm unable to reproduce this bug. Could you help me with this?

<img width="1680" alt="Screen Shot 2022-03-08 at 2 33 27 PM" src="https://user-images.githubusercontent.com/5424788/157203753-930c4ebf-4580-4f15-8609-ed76acd39f96.png">

[2022-03-08 10:07] somangshu commented on #11681
@shwetha-ramesh please understand the right owner, that speeds up the communication.

Also please do not add the POD tags, these things are automated, Add only the feature labels and the pod will be assigned automatically.

[2022-03-08 10:10] rashmi-rai commented on #11528
@ginjojohny please rename `client_id` to something else. Name of the input box `client_id` is the same as the index `client_id`, this creates cyclic dependency that breaks page onload logic. ![Screenshot 2022-03-08 at 1.16.31 PM.png](https://images.zenhubusercontent.com/61287a32887234048832d53a/d1041488-9639-474e-9c4e-edd5ae09ac64)

[2022-03-08 10:17] ankitakinger opened #11708 "[Task]: Handle edge case of CE/EE auto merge to release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Reference docs:
https://riptutorial.com/typescript/example/28620/re-export
https://javascript.info/import-export

### SubTasks

_No response_

[2022-03-08 10:31] keyurparalkar commented on #11533
@shwetha-ramesh, Please find below the updates for the bugs:

In the Image widget, the border-radius is applied to it’s container and not to it’s image.  When `Object fit = contain` it will try to fit the image inside the container so that aspect ratio remains the same that is why you were seeing half baked border radius. **Note:** The border radius still exists when `Object fit = contain`.
Also,

[2022-03-08 10:51] dilippitchika commented on #11384
@Tooluloope can you triage this issue? Looks like it used to happen before.

CC @sbalaji1192 for tracking this in table v2.

[2022-03-08 11:09] felixsuarez0727 commented on #10909
Overall, if the time it takes to complete these steps is around 30 - 40 seconds, then the experience is acceptable. But, if completing these steps takes more than 01:00 s, the feeling of slowness is affects the user experience.

Setting aside the fact that using a Chrome-based browser always provides better responsiveness than Firefox (by a significant margin), we could conclude that the performan

[2022-03-08 11:11] dilippitchika commented on #11203
Hey @billyrudi for the hidden widget, can you also disable "Animate loading" property? It will not show the shadow in this case. Please let me know if this doesn't help.

[2022-03-08 11:12] jsartisan commented on #11533
For better tracking, we are trackng issues here - https://docs.google.com/spreadsheets/d/1rWKhq6wiwXogAwvWT0Y4o2lKdNitwIL29y9J5OYRtAk/edit#gid=0

[2022-03-08 11:18] #11398 closed

[2022-03-08 11:19] jsartisan commented on #11480
@prsidhu this was happening for me on windows chrome

[2022-03-08 11:20] IAmAnubhavSaini opened #11709 "[Task]: discard-changes audit issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Turn tertiary button to secondary button, "discard changes"
- [x] On clicking "discard changes" make it say "are you sure?" in place
- [x] Use learn more instead of YES in notification banner
- [x] Get documentation pointed by LEARN MORE -> in notification banner
- [x] Use same progress bar as

[2022-03-08 11:30] billyrudi commented on #11203
Hi, yes i have disabled also animate loading but the shadow apperas. Try with a long time page loading and you can see the problem.

[2022-03-08 12:27] somangshu commented on #9858
@jsartisan can you link it to the current PR that fixes this

[2022-03-08 12:36] AmanAgarwal041 opened #11710 "[Bug]: DropDown value do not update in store if the option has value false"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- If you have any form element which has option value as `false` then on selecting the false value, the redux store is not updated.

- If there is a button which enables only when all the required fields of the form have appropriate values and one of which has a `false` value from the dropdow

[2022-03-08 12:44] IAmAnubhavSaini commented on #11681
Change added: https://github.com/appsmithorg/appsmith/commit/09eff2347918871c94f5270a14e9bd1c40066315#diff-9eeb6a1a11eacf5e6fabe4f173de9e59f8272a911812f32b6df0c89742c96eed
File: https://github.com/appsmithorg/appsmith/blob/release/app%2Fclient%2Fsrc%2Fsagas%2FWebsocketSagas%2FhandleAppLevelSocketEvents.tsx

[2022-03-08 12:49] shwetha-ramesh commented on #11533
@jsartisan observed one more wrt Pages
22. When a certain theme is applied to an application, subsequent pages must also have same theme applied, however currently in DP when a new page is created the theme is not applied immediately but only by switching back forth the theme gets applied.
https://loom.com/share/d8c65ce6f4bf41e6a702e03334eb5023

[2022-03-08 12:54] sbalaji1192 commented on #9135
Action Items:
- [] Implement the cell level saving experience @sbalaji1192
- [] Discussion about the table level save @momcilo-appsmith @dilippitchika @sbalaji1192
- [] Designs for property pane changes to toggle column editability at table level- @momcilo-appsmith

[2022-03-08 12:55] somangshu commented on #11140
Thanks for pointing out @momcilo-appsmith Found this to be a simple fix

We can resolve this

[2022-03-08 13:02] mojtab23 opened #11711 "[Bug]: File picker does not show content (`data`) of files with size of 5MB or above"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When working with the file-picker widget if you select a file bigger than 5MB it doesn't show its content instead it shows something like `blob:sfsafdas....?type=Binaray`. If the size of one file is bigger than the frontend limits, we need to show an error to the user instead of providing a f

[2022-03-08 13:03] #6032 closed

[2022-03-08 13:05] somangshu commented on #10037
Nope @sbalaji1192, I still dont have clarity on how this needs to be dealt with and who all will need to address this

[2022-03-08 13:05] mojtab23 commented on #11654
Related issue #11711 for UI/UX improvement.

[2022-03-08 13:07] somangshu commented on #11605
Annoying little behaviour we should look into soon @Tooluloope @techbhavin

[2022-03-08 13:14] somangshu commented on #10931
@shwetha-ramesh this is by choice, we are aware of the situation, the images sometime through header choose to deny the access control, and hence we can only open it in a new tab for the user to force save through browser controls.

[2022-03-08 13:16] mojtab23 commented on #11137
Related issue #11711 for UI/UX improvement.

[2022-03-08 13:16] leotom2000 opened #11713 "[Bug]: Select Widget data disappearing in Modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Select Widget value is disappearing in a Modal dialog when a grid row is selected in a specif way.
The same is happening for text also.

### Steps To Reproduce

Create a Grid and Modal to display the row data

Scenario 1 :
- Single click a row the Modal Comes up with right rowdata  - Work

[2022-03-08 13:19] leotom2000 commented on #11713
Originally reported by a Discord user

https://user-images.githubusercontent.com/8027694/157245748-89d983fc-a6bc-46f5-b4b9-8f17c405ecae.mp4

[2022-03-08 13:37] sumitsum commented on #2284
Meeting updates:
* PoC with Spring's GraphQL framework - @sumitsum
* continue client side implementation - @AmanAgarwal041
* share PRD with team for feedback - @rohan-arthur
* share pagination implementation with team to gather feedback - @sumitsum

[2022-03-08 13:55] IAmAnubhavSaini commented on #11681
LHS=either of following
[code]

from app/client/src/ce/configs/index.ts

OR `window.APPSMITH_FEATURE_CONFIGS.appVersion`

RHS=
[code]

where `action: {event: { type: APP_LEVEL_SOCKET_EVENTS.RELEASE_VERSION_NOTIFICATION, payload: [MUST_BE_RELEASE_ID] }}`

The LHS and RHS are not equal, i.e. `process.env.REACT_APP_VERSION_ID || window.APPSMITH_FEATURE_CONFIGS.appVersion != event.payload[0]`.

This i

[2022-03-08 13:55] #11612 closed

[2022-03-08 13:56] #10520 closed

[2022-03-08 14:00] ginjojohny commented on #11528
@rashmi-rai  Thank you for your help . It is fixed now .

[2022-03-08 14:00] #11528 closed

[2022-03-08 14:07] ginjojohny commented on #11637
@dilippitchika  My another application  created with the latest version is working fine with embed feature .  The app which is created with older version has the problem .  I will share the forked app for this on discord.

[2022-03-08 14:14] IAmAnubhavSaini commented on #11681
Last changes rts files were made by me here: https://github.com/appsmithorg/appsmith/commit/989086337a2f77191d925624d6bd55fa36294402

I guess if we revert this commit, release might stop having issue.

[2022-03-08 14:19] #11071 closed

[2022-03-08 14:19] #11647 closed

[2022-03-08 14:35] momcilo-appsmith commented on #9135
@sbalaji1192 Here is the handoff for cell-level editing: https://www.figma.com/file/JEalu7g3jDLzWWnKsfE6mB/Table-Improvements-2022?node-id=2%3A1

[2022-03-08 14:44] ginjojohny opened #11714 "[Bug]: Multi select dropdown does not pre populate single values ."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I  have  a multi  dropdown  list with some integer values . I am able to select and save single as well as multi values . But while am trying to pre populate these values from my  db query , the single value is not prepopulating to the list.

![Screenshot (26)](https://user-images.githubuserc

[2022-03-08 14:52] danciaclara opened #11715 "[Feature]: Ability to use keyboard up/down arrow keys to move through the rows in the table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be nice to be able to go through the records on the table widget using up/down arrow keys as shown in attached video.

https://user-images.githubusercontent.com/32227135/157262555-d73a2d39-0efc-4e24-a357-4d53be136fad.mp4

### Why should this be worked on?

Requested by discord user - https://

[2022-03-08 14:54] akash-codemonk opened #11716 "[Bug]: Onboarding starts abruptly when new application is created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After starting onboarding if the user goes to application list screen(by clicking on appsmith logo) without clicking on end tour,
when a new application is created it goes to a bad onboarding state.

Expectation: Onboarding should end once the user exits the editor

### Steps To Reproduce

1.

[2022-03-08 14:55] #11716 closed

[2022-03-08 14:55] AS-Laguna opened #11717 "[Feature]: Vertical table display mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add the option to display a table with the headers as a column on the far left, and display what would be rows as columns after it. Actions like row highlighting on cell select would happen to the columns instead of the rows. The field should allow JS input in the same way as the text style field.

##

[2022-03-08 14:59] ClarksonCote commented on #11407
@rashmi-rai @Nikhil-Nandagopal are there any other updates here? This is a blocker for us on a very high priority effort. I understand you have your own priorities too, of course, but if this is potentially an easy thing to fix at AppSmith, it would be great to have the fix sooner rather than later.

[2022-03-08 15:13] IAmAnubhavSaini commented on #11681
@hiteshjoshi I have no idea who to contact for fixing build version.

[2022-03-08 15:31] #11659 closed

[2022-03-08 17:05] dilippitchika commented on #11203
Let me get this investigated with the team

[2022-03-08 17:06] dilippitchika commented on #11203
@Tooluloope can you assign someone who has worked on "Animate loading" to investigate the above issue?

CC - @somangshu @vivekverma2312

[2022-03-08 17:12] dilippitchika commented on #11637
Ok, please share this with someone in our team or email me dilip@appsmith.com so that I can investigate.

[2022-03-08 17:14] nidhi-nair commented on #11690
Quick check on this bug report, had the app been published after switching the queries' datasources? If the published version of apps are referring to datasources, they'd still prevent deletion.

[2022-03-08 19:41] #11471 closed

[2022-03-09 02:00] felixsuarez0727 commented on #10539
Addressed comments regarding labels:

Opted for a simple human-readable format:

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/ce5d5418-d83f-4c7b-8f10-d3a583a11545)

Other info for ease of use (tooltip) will be added via the new UI designs.

[2022-03-09 03:05] prsidhu commented on #11480
@jsartisan Could you confirm if this is still happening?

[2022-03-09 04:04] devnamrits commented on #11008
Hi @mohanarpit, have made some changes.
<img width="291" alt="Screenshot 2022-03-09 at 9 25 59 AM" src="https://user-images.githubusercontent.com/54183698/157369901-95a6f7d4-be73-43ee-8227-786f9324b454.png">
Will this work fine??
Also, I've gone through the code as well.

The change at two places is due to the existence of two different components of almost the same type. They are as follows:

htt

[2022-03-09 04:28] sharat87 commented on #11681
I'm looking into this. The RTS is reporting the version correctly, but client apparently doesn't have the version at all. I'm investigating why.

![Screenshot 2022-03-09 at 09 58 07](https://user-images.githubusercontent.com/120119/157372815-42f9d24f-0983-4f6a-b033-7ae20d49eeec.png)

[2022-03-09 04:48] sharat87 commented on #11681
Okay, so looks like there's two places in the client that can hold this information. One in `index.html`, and another in `index.ts`. The one in `index.html` turns out empty, as in the screenshot in my previous comment. But the one in `index.ts` ends up in the main chunk file, and it does hold the correct version information, as can be seen below:

![Screenshot 2022-03-09 at 10 15 09](https://user-

[2022-03-09 04:48] sum35h opened #11720 "[Bug]: Importing MongoDB Fails when migrating Appsmith Instance to a new Server | appsmithctl migrate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`appsmithctl migrate` command completes the instance migration successfully, but fails to import mongodb.
Please refer to the attached migration log for more details.
[migration-log.txt](https://github.com/appsmithorg/appsmith/files/8211708/migration-log.txt)

**Typo in message:**
`Importing

[2022-03-09 04:59] sharat87 commented on #11681
Okay, on a second look, appears I missed one of the comments above. I'm now looking into why RTS is reporting 15 in the version number, instead of 14. 😞

![Screenshot 2022-03-09 at 10 29 02](https://user-images.githubusercontent.com/120119/157375948-8aeec246-2568-4cea-868d-3cb3d28d378a.png)

![Screenshot 2022-03-09 at 10 29 18](https://user-images.githubusercontent.com/120119/157375986-c3967e31-e0

[2022-03-09 05:12] sharat87 commented on #11681
Cool. This should now be fixed. It's not a single thing going wrong that caused this, it's a few things that were harmless until today. The stars just aligned again. 🤦

Can we verify that it is indeed fixed please?

[2022-03-09 05:34] devnamrits commented on #11697
@nayan-rafiq @Nikhil-Nandagopal  @sharat87 Should I pick this up?? If yes, can you please elaborate on the exact requirement and little insight from the code's perspective?
Thank you!

[2022-03-09 05:49] RakshaKShetty opened #11721 "[Bug]: Git Import Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- [x] The Authenticated APi s not displayed with save button
- [x] When a user clicks on Test the user should be in the same page
- [x] When the user saves the detailes and go back to datasource the edit mode is not displayed
- [x] When the user refresh the page the pop up will be closed

###

[2022-03-09 05:52] #7996 closed

[2022-03-09 05:52] vihar opened #11722 "[Bug]: Evaluated Pane overflows when the data/URLs are long."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Evaluated pane overflow when the text is too long. Added screenshot for reference:

![CleanShot 2022-03-09 at 11 20 15@2x](https://user-images.githubusercontent.com/16307796/157380674-a74612bc-05b5-4e04-9e44-012eaa9e6248.png)

### Steps To Reproduce

1. Bind any API on the property pane
2. Wh

[2022-03-09 05:59] Nikhil-Nandagopal commented on #11722
@vihar this seems to be working for me. Which browser are you using?

[2022-03-09 06:03] Nikhil-Nandagopal commented on #11711
@mojtab23 actually the content isn't false. That is the blob location of the file since we store it in memory. Is there another solution to this?

[2022-03-09 06:05] Nikhil-Nandagopal commented on #11717
@AS-Laguna can you add an example of a react component that does this or an example of this in any product?

[2022-03-09 06:06] Aishwarya-U-R opened #11723 "[Task]: Improve validation points for Mongo CRUD cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-09 06:19] vihar commented on #11722
I'm using Chrome.

This is happening while I'm updating the `Computed Value` property inside the `Column Control` tab.

https://www.loom.com/share/c5630b797c6e483592d9112ba52bbdd6

[2022-03-09 06:24] Nikhil-Nandagopal commented on #11722
@vihar thanks!

[2022-03-09 06:33] mojtab23 commented on #11711
Oh right @Nikhil-Nandagopal, how I can use this location to access the file content? Is there any documentation for that?

[2022-03-09 06:34] IAmAnubhavSaini commented on #11681
Fixed. RTS is sending `v1.6.14-SNAPSHOT`. Thanks @sharat87

![Screenshot 2022-03-09 at 12 02 41 PM](https://user-images.githubusercontent.com/1573771/157385646-fc0ddc2f-0ca5-4cdc-b0af-a2029b6c93bc.png)

[2022-03-09 06:34] #11681 closed

[2022-03-09 06:34] ramsaptami commented on #11690
This is on a new template so deploy has happened yet.. Only initial changes

[2022-03-09 06:34] Nikhil-Nandagopal commented on #11711
@mojtab23 I believe appsmith does that for you automatically when the API call is triggered. @hetunandu am I right here?

[2022-03-09 06:35] #11652 closed

[2022-03-09 06:52] somangshu commented on #11714
Thanks for reporting this @ginjojohny. While I am seeing that we are not parsing the default value correctly specially if its an integer, There is a solution for you right now until we are able to fix this from our end.

You need to have the integers in an array like below
`{{[Table1.triggeredRow.selectedMonth]}}`

We will resolve this at the soonest and get back here, Let us know if it still is n

[2022-03-09 06:55] Nikhil-Nandagopal commented on #11713
@leotom2000 I think the issue you described first and what the user has described are different. In your case the problem is that the row is getting unselected. This will be solved with #11403
But in the users case only the select data doesn't seem to be populating. Can you investigate this and find a reproduction?

[2022-03-09 06:55] somangshu commented on #11714
@Tooluloope [Internal discussion reference](https://theappsmith.slack.com/archives/C02JV8G1MP0/p1646807392688839)

[2022-03-09 07:02] hetunandu commented on #11711
@mojtab23 @Nikhil-Nandagopal that is correct. The blob is resolved automatically when uploading/downloading it

[2022-03-09 07:08] ginjojohny commented on #11714
@somangshu  Thank you for the support .  I am tried with the option you given but it is not working for multi values.   Anyway I end up with a solution like  this :

 {{ Table1.triggeredRow.selectedMonth.length >1 ?Table1.triggeredRow.selectedMonth: [Table1.triggeredRow.selectedMonth]}}

and it is working for now.
Please tag  me if there is a fix on this .

[2022-03-09 07:46] ginjojohny commented on #11714
Thank you @somangshu  for the support .  I tried with the solution you given . But that is not working for multiple values  because  multiple values already comes s an array .
Anyway I tried with other method    :

{{ _.size(Table1.triggeredRow.selectedMonth) >1 ?Table1.triggeredRow.selectedMonth : [Table1.triggeredRow.selectedMonth] }}

Even if it is some twisted way  it is working for now.   Ple

[2022-03-09 07:55] DuaneDuan opened #11727 "🛠️[Feature]: User can save filter & column format on Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Table widget can add those feature:
1. User can save filter for switch, also can set default format like this:
![1646812967(1)](https://user-images.githubusercontent.com/24667276/157398302-f434c21c-cbc9-43f4-868e-f58ea01265f9.png)

2. User can format the grid format and save it for switch,also can set

[2022-03-09 08:03] #11708 closed

[2022-03-09 08:15] mojtab23 commented on #11711
Can you help me in case we selected a large file (50MB) with a file picker button how we can send it (upload it) with for example S3 plugin? When I try to send file data it just sends the blob location to the server, not the actual file content.

[2022-03-09 08:44] dilippitchika commented on #11711
@mojtab23 can you reach out to me on slack? I can guide you, If this is happening then you have to change the s3 query to text/binary and back to base64 again and try running the query.

[2022-03-09 09:11] dilippitchika commented on #11624
Adding an app where this can be reproduced, please check the app in safari
[RTEissue.json.zip](https://github.com/appsmithorg/appsmith/files/8213263/RTEissue.json.zip)

[2022-03-09 09:18] jnikhila opened #11730 "Rename Dropdown and add link"
Rename dropdown to select and add a link to navigate to select widget.
Core concepts >>Capturing Data (write) >>link Dropdown

[2022-03-09 09:34] jnikhila opened #11731 "Rich text editor - video link not functional"
The rich text editor video link shows a youtube icon. The link is broken.

[2022-03-09 09:36] jnikhila commented on #11731
@cokoghenun - Could you please verify if the video is available and if something has changed.

[2022-03-09 09:42] dilippitchika opened #11732 "[Bug]-[36.235]:Button labels don't show up on hover when labels are truncated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When text in button is longer, we truncate the text but upon hovering on the button we can't see the full text.

### Steps To Reproduce

1. Add a new button widget.
2. Change the label text to see truncation in the button
3. Observe that on hover button label doesn't show up in the view mode

###

[2022-03-09 09:43] pranavkanade opened #11733 "[Feature]: Allow multi level nesting in menu button widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today, our menu button provides only one level of nesting. Want's to have multiple levels of nesting similar to shown in the following image.
<img width="552" alt="Screenshot 2022-03-09 at 3 12 04 PM" src="https://user-images.githubusercontent.com/13262095/157415278-1a90cc2c-2e91-4756-8a55-f1c084aaddb

[2022-03-09 09:46] softwarebloat commented on #4183
hello! any update on this feature? :D

[2022-03-09 09:49] IAmAnubhavSaini commented on #11558
@hiteshjoshi @Debsourabh

- Please provide details of what's breaking, and
- Please suggest the solution.

![Screenshot 2022-03-09 at 3 15 11 PM](https://user-images.githubusercontent.com/1573771/157416088-d8ded40c-2f57-4fdb-9154-80b5083e02d1.png)

[2022-03-09 09:52] shwetha-ramesh opened #11734 "[Bug]-[298]:Cell background color not applied for new columns in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Cell background color not applied for new columns in table widget
![image](https://user-images.githubusercontent.com/92293815/157416644-8a93a029-3883-412f-b380-bfa926fbc2cc.png)
https://loom.com/share/3130ad9143284ed1944d6f7d9ddd861d

### Steps To Reproduce

1. Drag and drop table widget
2. In pro

[2022-03-09 09:58] pranavkanade commented on #10816
Closing this issue in favor of a more specific requirement of allowing multiple levels of nesting in the menu button widget. https://github.com/appsmithorg/appsmith/issues/11733
@lublak

[2022-03-09 09:58] #10816 closed

[2022-03-09 10:20] somangshu commented on #10167
Cannot reproduce this.

@vivekverma2312 one suggestion, Please keep the chrome dev tools open, if could be helpful to look at the console in these cases, We might be missing something very critical

[2022-03-09 10:28] momcilo-appsmith commented on #4183
Hey @softwarebloat this feature has been designed and is currently under development.
@sbalaji1192 and @somangshu can tell you more about when it will be launched.

You can check the design here (this file will contain future designs in development too, not just inline editing):
https://www.figma.com/file/JEalu7g3jDLzWWnKsfE6mB/Table-Improvements-2022?node-id=2%3A1

[2022-03-09 10:29] #11482 closed

[2022-03-09 11:04] aswathkk opened #11735 "[Bug]: Icon Selector width is not updated when we resize the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/10436935/157429002-608d789e-aa4c-4338-803c-cbd86f11eaf0.mov

### Steps To Reproduce

1. Add a ButtonWidget
2. Open the icon selector in property pane
3. Try to resize the property pane
4. open the icon selector again and see the width of the icon selector

[2022-03-09 11:07] #11710 closed

[2022-03-09 11:27] #11698 closed

[2022-03-09 11:28] #11665 closed

[2022-03-09 11:41] lublak commented on #11624
@dilippitchika I can't test it in Safari because I don't own an Apple device.
But on firefox:
![grafik](https://user-images.githubusercontent.com/44057030/157434999-d9a34d8b-0aff-4676-ad95-f334b8cb6d7b.png)

[2022-03-09 11:46] thisischandresh commented on #11734
I found this issue too

[2022-03-09 11:48] ayushpahwa opened #11738 "[Bug]: Query on mock DB fails for column names with camelCase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Whenever we are making a query on the mock Postgres DB which involves a column name with camelCase characters, the query fails with an error saying the column name is provided in all lower case.

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/8526215/157436095-9cb7849

[2022-03-09 11:52] nayan-rafiq commented on #11697
@devnamrits Yes, you can pick this up. Let me try to explain the context.
Click on the plus sign beside the DATASOURCES and then go to Create new API. You'll see the API editing form appear. In the URL input box, `https://mock-api.appsmith.com/users` is set as placeholder. This value should be there as value also. In other words, the input field will have `https://mock-api.appsmith.com/users` type

[2022-03-09 11:57] Aishwarya-U-R opened #11739 "[Bug]: List Widget's PageNo does not reflect correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

.png :-
<img width="1244" alt="Screenshot 2022-03-09 at 5 17 30 PM" src="https://user-images.githubusercontent.com/91450662/157437004-f9132301-77b4-4985-9812-45107cdd235c.png">

### Steps To Reproduce

1. Create a ListWidget with data spanning multiple pages
2. Map the ListWidget's PageNo to Input

[2022-03-09 11:59] dilippitchika commented on #11624
Hey @lublak i can see the same issue in safari. Our team can use safari to debug this further.

[2022-03-09 12:04] mohanarpit commented on #11738
This is not a bug, but an idiosyncrasy of Postgresql. All camel-cased column names in Postgresql needs to be double quoted.

[2022-03-09 12:04] #11738 closed

[2022-03-09 13:06] Rishabh-Rathod commented on #11589
![Screenshot 2022-03-09 at 6.29.37 PM.png](https://images.zenhubusercontent.com/60c2f984f9be7454ac4d7382/b3ae76d0-aa00-4c6e-b0a1-558785273145)

`isFunctionAsync` fails to determine `isAsync` because `data_table.selectedRows` is not having its evaluated value.

This is related to #9645.

[2022-03-09 13:09] Parthvi12 opened #11741 "[Bug]: FilePicker gets reset on refreshing the page and doesn’t show the file uploaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On uploading a file in filepicker widget and then refreshing the page, resets the filepicker to its intial stage and doesn't contain the file uploaded.

### Steps To Reproduce

1. Go to canvas and drag FilePicker widget
2. Upload a file in this widget
3. Refresh the page and observe.

### Public S

[2022-03-09 13:11] Nikhil-Nandagopal opened #11742 "How to clear storeValue"

[2022-03-09 13:11] Nikhil-Nandagopal opened #11743 "How to clear storeValue"

[2022-03-09 13:11] Nikhil-Nandagopal opened #11744 "How to clear storeValue"

[2022-03-09 13:11] #11744 closed

[2022-03-09 13:12] #11743 closed

[2022-03-09 13:12] #11742 closed

[2022-03-09 13:40] pranavkanade commented on #11422
@Nikhil-Nandagopal @vuiets

[2022-03-09 13:47] vuiets commented on #11422
@hiteshjoshi this likes like a low effort solve. Can we get this fixed?

[2022-03-09 13:49] Nikhil-Nandagopal commented on #5150
@rahulramesha If the mouse is over the widget name handle that users generally use to click the widget, will that also count as hover over widget?

[2022-03-09 13:52] ramsaptami opened #11745 "[Bug]: Forking public app via new user sign-up results in a 400 response on prod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description
Moving original description below since the behavior on release and prod is a little different when trying to fork public app via a new user sign-up.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/747b7a8750d34bf594af7603b6e4b0b0-00001.gif)](https://www.loom.com/share/747b7a8750d34bf594af76

[2022-03-09 14:05] rahulramesha commented on #5150
Currently, I'm thinking No, My Rationalisation for that is because of two scenarios where in,
- Widget name is displayed on top of the widget - If we consider that as hover over the widget then by the above logic, we will have to paste it below the widget, while the mouse pointer will be above it. This might feel a bit odd to the user. So, the solution here would be to paste it at that point reflo

[2022-03-09 14:18] Nikhil-Nandagopal commented on #5150
@rahulramesha I think in this case it should still be considered a part of the widget when the widget is selected. Because of the main user story:
As a user, when I select an Input in a form and copy + paste it, I expect a new input to show up below the current input.
This is the base expectation here for any user

Also wanted some clarity around the positioning, when we say it is pasted below a w

[2022-03-09 14:49] rahulramesha commented on #5150
@Nikhil-Nandagopal , Yes it makes sense when a widget is selected.

For positioning, When the widget or group of widgets are selected, then the pasted widgets will be aligned horizontally.

But for when, no widgets are selected, I feel it would make sense to align top-left of the pasting widget with the mouse pointer, as it will help in aligning the pasted widgets in the grid. In this scenario, ce

[2022-03-09 15:00] abhvsn commented on #10880
I'll close this once we have definitive numbers for existing API and function execution time, keeping this open until then

[2022-03-09 15:02] Nikhil-Nandagopal commented on #5150
@rahulramesha the problem is that the success of pasting will almost always be a very low number because the user can't visualise where the object will be pasted so the user will most of the time need to move the widget after pasting so it makes sense to optimise for the user grabbing the widget as soon as it's pasted

[2022-03-09 16:00] vmulholl commented on #11682
We were not using branches and the same issue happened to us. The toggle indicates public but the app appears as private.

Workaround: toggle it into private and retoggle into public and it now works.

[2022-03-09 17:28] Nikhil-Nandagopal commented on #10341
@billyrudi the performance fixes for this have been shipped. Is your application working fine now?
I'm closing this issue. Do let us know if you're still having trouble with it

[2022-03-09 17:28] #10341 closed

[2022-03-09 17:49] jnikhila commented on #11730
Vidhushi Confirmed that it's working fine.

[2022-03-09 17:49] #11730 closed

[2022-03-09 18:40] #10061 closed

[2022-03-09 18:43] AS-Laguna commented on #11717
@Nikhil-Nandagopal I can't seem to find an example. The best way I can describe it is display the data with a header column instead of a header row. [This codeply](https://www.codeply.com/go/bp/4N6s1QjOEb) shows a rough example of what this should look like.

I most often see this kind of display used in comparison charts, or calculation spreadsheets where you want to see many row values at once.

[2022-03-09 22:37] wmdev0808 commented on #11564
@somangshu,
Based on @Nikhil-Nandagopal's comments, I've just simply put the estimation to 0.5
However, while I was working on this issue, I've realized it is not such a simple fix.
Here are the reasons:
- We need to deal with multiple menu buttons of which width should dynamically be calculated with all possible cases(property changes, resize, etc.), not with single element.
- For this, we need t

[2022-03-10 02:12] Himanxu1 commented on #10634
HEY , I can work on it but i want  to clearly know that what to do like make this dropdown keyboard friendly?

[2022-03-10 02:22] #11537 closed

[2022-03-10 04:11] #11425 closed

[2022-03-10 04:46] #11418 closed

[2022-03-10 04:48] AnaghHegde opened #11747 "Add example for Mongo aggregate command in docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Over the last few days i have seen quite a few users asking about the Mongo aggregate command. After checking in documentation i found that we don't have enough examples on the usage of aggregate command in RAW mode.

### Why should this be worked on?

1. Reduces time on A force team.
2. RAW mode expe

[2022-03-10 05:24] somangshu commented on #11494
@techbhavin can you please check and tell me what changed here before we start working on it, seems like this is a regression.

[2022-03-10 05:26] hiteshjoshi commented on #4430
Closing this.

[2022-03-10 05:26] #4430 closed

[2022-03-10 05:30] AnaghHegde opened #11749 "[Feature]: Add support for Appsmith to connect through a http or https proxy server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When the user self hosts Appsmith in their network, there is a very high chance that all network calls to the outside world will be blocked. Usually the outside/internet calls are done via proxy server which is used only for the purpose of interacting with the outside world.

This feature lets the use

[2022-03-10 05:34] sum35h commented on #9513
@sharat87  I've tested and verified this with appsmith/appsmith-ce:latest. The issue is resolved now.

[2022-03-10 05:41] rashmi-rai commented on #9302
@parth-appsmith you can find deploy preview of S3 where clause here. https://appsmith-f9rkshwlp-get-appsmith.vercel.app/user/login

[2022-03-10 05:42] vuiets commented on #11558
@IAmAnubhavSaini did you get answers for your queries in the last two comments?

[2022-03-10 05:51] IAmAnubhavSaini opened #11750 "[Task]: rest of the git sync polishing tasks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Figure out scenarios in which error message come up, and
- [ ] (try to) remove two error messages on git merge tab
- [x] Update design of disconnection, move error down below, remove breadcrumbs etc
- [x] Improve repo disconnection messaging ( this has been deprioritised )
- [x] Error toast whe

[2022-03-10 05:57] IAmAnubhavSaini commented on #11558
@vuiets No.

[2022-03-10 06:07] Nikhil-Nandagopal commented on #4430
@hiteshjoshi I still see 10 open issues in the epic. What are we doing about those?

[2022-03-10 06:13] hiteshjoshi commented on #4430
@Nikhil-Nandagopal They will still be open, the problem is DevOps is being tracked on Notion + EE repo due to a lot of restrictions. We will close them but the priority have changed a bit for some of the open issues.

[2022-03-10 06:13] Nikhil-Nandagopal commented on #11717
I don't think this is a common enough use case for us to tackle right now so I'm going to close this issue

[2022-03-10 06:16] Nikhil-Nandagopal commented on #11422
Yeah lets please solve this. It's such a small issue and has been blocking the user

[2022-03-10 06:18] sentry-io[bot] opened #11751 "[Bug] NullPointerException"
Sentry Issue: [APPSMITH-1RJ](https://sentry.io/organizations/appsmith/issues/2999648897/?referrer=github_integration)

[code]

[2022-03-10 06:20] Nikhil-Nandagopal commented on #11682
@vmulholl thank you for reporting this! We''' have a fix for this soon

[2022-03-10 06:20] hiteshjoshi commented on #11118
Removing this from SSO/SAML epic. I think someone wanted to connect ACL but its not being covered as ACL but rather adhoc permission at instance level atm.

[2022-03-10 06:22] Nikhil-Nandagopal commented on #11727
Hi @DuaneDuan Thank you for raising this feature request. This feature is already on our roadmap and you can upvote it here #9577
I'm closing this as a duplicate of that one

[2022-03-10 06:22] #11727 closed

[2022-03-10 06:27] ginjojohny commented on #11714
@somangshu  The solution I have mentioned above is not working properly after I deployed the application.  Is there any other option you can suggest  for this ?

[2022-03-10 06:36] sharat87 opened #11752 "[Feature]: Support getting values from secrets in Helm chart configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, when deploying Appsmith with Helm charts, all configuration values should be given in plain-text in the `values.yaml` file. This includes sensitive values like MonogDB connection URI, which would include the password.

Instead, the Helm charts should support getting these values from secret

[2022-03-10 06:42] parth-appsmith commented on #9302
@rashmi-rai I found some inconsistencies on the UI can you please correct them.
1. Misalignment of Where group conditions, the box is not in line with the end of the upper component.
![UQI Files Misalignment 1](https://user-images.githubusercontent.com/92779003/157603708-6162d750-4098-4bbd-a34d-2679e41073d9.png)
![UQI Files Misalignment 2](https://user-images.githubusercontent.com/92779003/1576037

[2022-03-10 06:43] ankitakinger commented on #10634
@Himanxu1 yes the dropdown currently only works with a mouse click. Should work with a tab key on the keyboard as well.

[2022-03-10 06:45] nidhi-nair commented on #9302
It will be applied to all plugins that have switched to UQI. The other plugins that use support `WHERE` are using a different component, we should invest in making them comply with UQI instead of redoing the older component.

[2022-03-10 07:04] somangshu commented on #11714
@ashit-rath @Tooluloope kindly look into this and provide a working solution for now, Let also talk about the proposed solution we are planning to implement.

@ginjojohny we will get back to you soon

[2022-03-10 07:22] techbhavin commented on #11494
![image](https://user-images.githubusercontent.com/58818598/157609471-9ffee4ea-cebc-4a9c-a9de-843848d27725.png)
@somangshu  I think it's not working because of this condition.

[2022-03-10 07:26] somangshu commented on #11494
@techbhavin please help me understand, does the variable `imageError` result in true if the default image is not present?
Also can you check the git blame to see how it worked before?

[2022-03-10 07:38] Aishwarya-U-R commented on #11739
Update: PageSize is defined today show the total number of items ListWidget can fit it & not the current number of items visible on a ListWidget.

[2022-03-10 07:40] dilippitchika commented on #11741
Hey @Parthvi12 this is expected behaviour, is there a reason why we need to solve this?

[2022-03-10 07:47] somangshu commented on #11129
This problem is not actually faced by the app viewers, This is not of priority,

@techbhavin can you explain what change are you making in the PR?

[2022-03-10 07:53] DuaneDuan commented on #11727
Thanks @Nikhil-Nandagopal  the issue https://github.com/appsmithorg/appsmith/issues/9577 only for filter save,  no requests for save grid format.

[2022-03-10 07:58] IAmAnubhavSaini opened #11754 "[Bug]: feature flag for git-import is missing in org's more menu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you try to import a git repo, /git/profile api fails and user is not able to import git repo.

### Steps To Reproduce

1. Go to release/app
2. Open dev console
3. Click import git repo, see the error
4. Paste remote url and see that SSH key is not generated.

![Screenshot 2022-03-10 at 1 12 5

[2022-03-10 08:04] #11380 closed

[2022-03-10 08:09] Nikhil-Nandagopal commented on #11727
@DuaneDuan can you explain the feature for formatting grid? I would like to understand what you are trying to achieve

[2022-03-10 08:36] DuaneDuan commented on #11727
@Nikhil-Nandagopal

[2022-03-10 08:55] sharat87 commented on #8870
Another request for this: https://discord.com/channels/725602949748752515/951140727411322940.

[2022-03-10 08:56] rashmi-rai opened #11755 "[Bug]: Initial Value in KeyValueArrayControl is not being set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Passing initialValue for host in controlType = `KEYVALUE_ARRAY` does not set the value of port.

### Steps To Reproduce

[code]
1. Pass the above config in formConfig.
2. `initialValue`  is not set in the form

### Public Sample App

_No response_

### Version

Cloud

[2022-03-10 09:00] Nikhil-Nandagopal commented on #11727
@DuaneDuan Ah I see, I think your requirement is similar to an excel / google sheet like widget that we have tracked here
#1392 please upvote this issue with the requirements

[2022-03-10 09:02] cokoghenun commented on #11731
Hey @jnikhila, I've made a PR with the fix https://github.com/appsmithorg/appsmith-docs/pull/352

[2022-03-10 09:06] IAmAnubhavSaini opened #11757 "[Task]: Update error message string for toast when already checked out branch is clicked in branch popover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2022-03-10 at 2 17 08 PM](https://user-images.githubusercontent.com/1573771/157627594-92b7c86d-653d-489a-a265-a9422365624f.png)

[code]

For api: `/api/v1/git/checkout-branch/{applicationId}?branchName={remote}/{branch}`

## suggestion

The new error message should reflect that remote br

[2022-03-10 09:10] DuaneDuan commented on #11727
@Nikhil-Nandagopal thanks aggain,  awosome feature .

[2022-03-10 09:15] RakshaKShetty opened #11758 "[Bug]: SSO Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [ ] The disconnect OIDC flow Breaks ( on restart it doesn’t come up)
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7cf94792b7c84f348bf494f8f0660514-00001.gif)](https://www.loom.com/share/7cf94792b7c84f348bf494f8f0660514)
- [x] License key invalid
- [x] Duplicate userId key
- [x] The mand

[2022-03-10 09:18] arunvjn opened #11759 "[Task]: Set the shortcut for create new query/JS object to CMD + Shift + "+""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-10 09:20] #11644 closed

[2022-03-10 09:27] #11237 closed

[2022-03-10 09:27] #11220 closed

[2022-03-10 09:29] ankitakinger commented on #11758
@Debsourabh @trishaanand should we add a RED * at the end of the label of the fields to show it's a mandatory field to be added while configuring OIDC?

[2022-03-10 09:31] dilippitchika commented on #10196
HPI

1. Bhavin has a lot of bandwidth
2. Close 10696 - It’s stuck since long
3. Needs info pipeline needs to be cleared

Wid

[2022-03-10 09:34] dilippitchika commented on #10200
Widget enhancements

1. 11383 pull - stuck since 3 days
2. 8911 - Needs to be moved forward ASAP, really small issue
3. 10758 - Random test failing, @techbhavin to check again if it fails then need to raise it in qa-automation channel

[2022-03-10 09:34] somangshu commented on #11660
similar to #11129

[2022-03-10 09:36] Parthvi12 commented on #11741
@dilippitchika Oh is it, I was automating tests in cypress and on reloading page, the filepicker was resetting thought its a bug, I'll close it then.

[2022-03-10 09:36] #11741 closed

[2022-03-10 09:37] ginjojohny commented on #11714
OK thank you

[2022-03-10 09:46] ginjojohny commented on #11637
Sorry for the late replay , I didn't get any notification about this issue  .  Ok I will email the application soon.

[2022-03-10 09:47] SatishGandham opened #11760 "[Task]: Fix the failing performance tests on the golden app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Performance tests are failing because of this issue #11385.

Explore possible two solutions
1. Use postgres instead of mysql
2. Create the data source via puppeteer automation instead of depending on the credentials in export file.

[2022-03-10 10:13] techbhavin commented on #11494
this change is related to PR  [#11247](https://github.com/appsmithorg/appsmith/pull/11247/files#diff-f5a90f0e2c0fd42e087007ea8111774502f2575208f839360a80f1be7ae81613R131)

root cause: `imageError` is not set again to false when we add again default image.

I will look into this issue

[2022-03-10 10:21] vuiets commented on #11558
For the [comment](https://github.com/appsmithorg/appsmith/issues/11558#issuecomment-1062740673) here we can go with whole numbers.

[2022-03-10 10:24] vuiets commented on #11750
De-prioritising
* Change in disconnect flow (We can pick this up as a part of Git Sync enhancements later on)

@Debsourabh to look at
* Hover state for modal
* Error should point towards field that needs fixing
* Improve repo disconnection messaging

@IAmAnubhavSaini to give error scenarios for Git Merge flows.

[2022-03-10 11:12] st-trade commented on #4175
Hi! My use case is the following.
A first user shows a QR that represents certain article which is an entry in a table so a second user with a different role can scan that qr and validate that article and perform actions in their end.

[2022-03-10 11:20] st-trade commented on #4577
Have a very similar use case.

[2022-03-10 11:27] Irongade opened #11761 "[Bug]: Revamp delete confirmation for all destructive actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For all deletion operations, we make use of clicking the delete button twice instead of a modal

### Steps To Reproduce

try to delete a datasource, see the modal pop up

### Public Sample App

_No response_

### Version

1.66

[2022-03-10 11:32] ramsaptami opened #11763 "Sequence of confirmation modals and promise run is not consistent and incorrect in places"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an API is called from a JS function which has been marked to run on page load without user confirmation and the API itself is marked to run on page load with user confirmation, then what we observe is that both API calls run in tandem rather than sequential, i.e. ideally run JS first and then

[2022-03-10 11:34] rahulramesha commented on #5150
From the 10th March Kickoff Discussion,

Update on the UX for positioning of the Widget,

- When a widget is selected, widget will be pasted below the selected widget and is horizontally aligned with widget that is selected.
- While mouse pointed is on plain canvas, the pasted widgets will be added around the mouse pointer, i.e., centred both vertically and horizontally with respect the mouse poin

[2022-03-10 11:50] Nikhil-Nandagopal commented on #11749
@AnaghHegde I think this is related to #3311

[2022-03-10 11:53] sharat87 commented on #11749
No, these are different issues. This one is to set a proxy on Appsmith server, for _all_ outgoing communications, including that with cloud-services, and any and all REST APIs.

The other one linked above, is a way to set the proxy on a specific REST datasource, and potentially even use different proxies for different datasources.

[2022-03-10 12:00] sumitsum opened #11767 "[Bug]: S3 plugin: provide support to connect with servers that use self signed certificates."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Ref: https://github.com/appsmithorg/appsmith/issues/11685

### Steps To Reproduce

1. Create a MinIO server with self signed certificate.
2. Try to connect to the server with S3 plugin. The connection will fail with some HTTP related error.

### Public Sample App

_No response_

### Version

self

[2022-03-10 12:03] somangshu commented on #11739
This works fine when server side is enabled, Deprioritising this

[2022-03-10 12:04] Nikhil-Nandagopal commented on #11749
@sharat87 is this becasue it's needed for air-gapping?

[2022-03-10 12:05] AnaghHegde commented on #11749
Yes that is correct. A user on discord has requested this.

[2022-03-10 12:05] sharat87 commented on #11749
Also for airgapping, yes, but doesn't have to be. Some companies don't restrict the whole of Internet, but just require that all outgoing traffic go through a proxy, for whatever security or audit purposes.

[2022-03-10 12:06] RoopKrrish9696 opened #11768 "[Bug]: URLs ( containing binding value ) doesn't work in the "Image field", rather works in the "Default Image field""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to use an Image URL that contain binding values for ex `https://images.unsplash.com/photo-{{table.selectedRow.value}}e72b0397e57bixlib=rb1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80` in the Image field section it doesnt work. When I empty that

[2022-03-10 12:18] shwetha-ramesh opened #11769 "[Bug]: Image widget download icon appears out of widget in deploy and preview mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Image widget download icon appears out of widget in deploy and preview mode

![image](https://user-images.githubusercontent.com/92293815/157659911-4813a2f5-ba45-4d11-a9b3-df21a8c878ae.png)

### Steps To Reproduce

1. Drag and drop Image widget
2. Click on 'Enable download' in property pane.
3. obs

[2022-03-10 12:20] Rishabh-Rathod commented on #9268
After discussion with @parth-appsmith, regarding auto indent on save vs shortcut or manual triggers.

We realized that on save formatting might not be the best experience for users in scenarios like
1. When users add multiple tabs or spaces inline intentionally.

Hence, we could move forward with the manual triggers for now.

[2022-03-10 12:26] sbalaji1192 commented on #11494
@techbhavin @somangshu As mentioned ImageError is getting reset properly. we need to set it to true on when image URL changes on `componentDidUpdate`

[2022-03-10 12:32] vagrantism commented on #11752
Hey @sharat87, this is exactly what we were talking about on [Discord](https://discord.com/channels/725602949748752515/950310358004957185), thanks for opening the issue. The only potential problem I see here is the user having to specify the secret-key multiple times if the number of parameters is too large.

Given that the [list of configurable parameters for Appsmith](https://docs.appsmith.com/s

[2022-03-10 13:10] ayushpahwa opened #11772 "[Bug]: Google sheets insert new row query copies the formatting from the previous row"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Whenever we insert a row in google sheets, the formatting of the row above is copied below. This is based on the query raised by a user on [discord](https://discord.com/channels/725602949748752515/951084742219005982).
<img width="1199" alt="image" src="https://user-images.githubusercontent.com/852

[2022-03-10 13:20] sharat87 opened #11773 "[Bug]: Deploying on CentOS 8, with ARM64 fails to start Redis"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When installing Appsmith using the docker-compose method, and starting it, we see the following in the output, repeated over and over again.

[code]

Because of this, the server never comes up.

Server information:

[code]

### Steps To Reproduce

Create an instance with this AMI: https://ap-south