[2022-05-03 12:24] trishaanand opened #13533 "[Task EE] Introduce CRUD for User Group"

[2022-05-03 12:26] trishaanand opened #13534 "[Task EE] Introduce Policy"
- [ ] Introduce CRUD 7

    - [ ] Create : Writing to all objects affected the new permissions

    - [ ] Read :

    - [ ] Update  : Updating the object permissions correctly. Here an object could inherit permissions from different policies. So a simple remove all permissions from before the change and add all permissions according to the new policy might be erroneous. We might need to keep a tra

[2022-05-03 13:09] btsgh opened #13535 "[Bug]: Checkbox group widget, Required indicator on deploy is placed incorrectly when more options are added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In checkbox widget, on addition of a few options, and making Required field is selected, on deploy, if no option is selected, the red rectangle that appears to indicate required field seems to be appearing incorrectly.

### Steps To Reproduce

1. Add a checkbox group widget to the canvas.
2. Add a

[2022-05-03 14:08] felixsuarez0727 commented on #13029
Source Code integration is related to binary files but these cannot yet be implemented because the SaaS integration application only accepts string (text) values. This type of problem is the same as the [File Integration HubSpot](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/11983) with the update file action.

[2022-05-03 14:22] #10581 closed

[2022-05-03 14:29] ohansFavour commented on #13492
Hey @noobyogi0010 , thanks for showing interest in this issue. Yes, you can pick it up.

[2022-05-03 14:39] noobyogi0010 commented on #13492
@ohansFavour what should be expected behaviour for this scenario?

[2022-05-03 15:06] felixsuarez0727 opened #13537 "Change the display order of actions - Twilio Integration"
Nikhil suggests that the order of the commands when display the actions in the installed application should be:

- Create Message
- Schedule Message
- List Messages
- Fetch Message
- Delete Message
- Update Message

At the moment it show like this

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/e6392e5b-7ea0-448c-b588-b3a22bfdfa41)

The change can be made but requires

[2022-05-03 15:42] ramsaptami commented on #12166
Not fixing this since previous sane state is intentionally retained when the object goes into an error state CC: @ApekshaBhosale

[2022-05-03 15:44] felixsuarez0727 commented on #13506
An example of date formatting is added to the Send at tooltip

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/5a8fa805-913a-49e6-ac7c-df25fab8a81d)

[2022-05-03 16:02] ramsaptami commented on #8876
@berzerkeer The scroll issues seem to be fixed. Can we take a look at [this](https://github.com/appsmithorg/appsmith/issues/8876#issuecomment-953560689) comment? The issue is still present

[2022-05-03 18:10] nidhi-nair commented on #11977
@yatinappsmith The curl import gets corrupted because of this line:
[code]
The command is expecting a sub-shell to run, and parse the inner command, but Appsmith would not be initializing a sub-shell in any sense. The command is therefore not going to perform the expected manipulation. What do you think is a good way to handle this?

[2022-05-03 18:37] Irongade opened #13538 "[Bug]: Fix UQI issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The operation of the UQI Google sheets has been distorted and disturbed.

### Steps To Reproduce

QA Generated issues:

- [x] Fetch Details : other fields are not displayed and displayed an error
- [x] On create new Sheet and the result is binded to the text widget it is observed that only few dat

[2022-05-03 19:05] mikefrancis commented on #2840
@Nikhil-Nandagopal if you scroll back to the early comments after I created this, it's not clear that this would be enterprise only. A lot of the other commenters provide lots of product insight which you've used to help build your product. For free.

I understand y'all need to pay the bills and absolutely agree you should monetise this amazing software, but IMO you should make it clear when thing

[2022-05-03 19:54] wlatic commented on #2840
It'd be far better having the easier Gmail, office etc. Connectors in the enterprise and having saml, which requires far more configuration on the user end as part of open source. All saml would need is the end points.

[2022-05-03 20:07] dncpax commented on #2840
I'm not new to open source projects, having been involved in an os association. To be fair, appsmith did say from early on this was planned as a payed feature. If you search discord I'm sure you'll find this.

We may disagree, we may argue otherwise, we may try to show arguments in favor of including some feature in the self hosted version, but it's for the team to make this project sustainable -

[2022-05-03 20:40] bhairavee23 commented on #12842
Hello, is anyone working on this? Else I would like to take a stab at it

[2022-05-03 21:02] iamrkcheers opened #13539 "[Bug]: Editing JSObject throws a bunch of errors within the Network Tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to create a JSObject in the code editor, I get a huge bunch of XHR calls, some of them responding with the following error,
"Cannot have more than 120 active event names".

### Steps To Reproduce

1. Go to QUERIES/JS
2. Click on JSObjects
3. Open the Network tab
4. Try writing a Javascr

[2022-05-03 21:36] Rishabh-Rathod opened #13540 "[Bug]-[416]:Reset widget doesn't set value to current default value instead sets it to initial default value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we reset a widget, currently evaluated values and meta values are not in sync.

For example:-
For the Input widget, If default text = "ABC" and then it was changed to default text = "ABCDEF".
On reset
- Input.text = "ABC"
- text visible in widget = "ABC"

We expect the widget to reset to its

[2022-05-03 23:48] yatinappsmith commented on #11977
@nidhi-nair can we fail this curl cmd with a proper error?

[2022-05-04 04:43] #10472 closed

[2022-05-04 04:44] abhvsn opened #13542 "[Docs]: Update documentation for import application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/how-to-guides/backup-restore

### Describe the problem

Recently we have modified the way we import application after we introduced the git-import. Earlier we used to share all the configuration required within the exported file which led to a security leak.

### D

[2022-05-04 04:45] techbhavin commented on #12714
@YogeshJayaseelan  @vivekverma2312

I am not able to reproduce this issue in release.

https://user-images.githubusercontent.com/58818598/166624176-ea94cf1e-414d-423d-ac6c-81ab8db84fcf.mov

[2022-05-04 05:02] ohansFavour opened #13543 "[Task]: Create a Collapse/Expand wrapper component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

In the JS Editor today, we can collapse/expand the debugger using the arrow-down/arrow-up icon.  We currently do this by passing props to the Tabs component. We need a wrapper component for this functionality so that other components can use this functionality.

[2022-05-04 05:08] ohansFavour opened #13544 "[Enhancement]: Change JS Editor run button icon when a function is executing."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you click on the run button gutter in the JS Editor, the icon is expected to change (to depict the loading state).

### Steps To Reproduce

1. Create a new JS Object
2. Run a function by clicking the run button gutter
3. Observe that there is no change in the Icon when the JS Function is bein

[2022-05-04 05:15] #13139 closed

[2022-05-04 05:33] Nikhil-Nandagopal opened #13545 "Multiple Environments"
That is the one thing Retool has that I really like over Appsmith. Otherwise I am liking Appsmith a bit more so far. They have a really easy way to flip between production / staging environment with all the same widgets on a page

[2022-05-04 05:41] dilippitchika commented on #12225
@ashit-rath almost, but this is only for select. For multiselect, i will add more notes.

[2022-05-04 05:49] ashit-rath commented on #12225
@dilippitchika Please do consider all the Select family widgets just for the sake of future reference.

[2022-05-04 05:54] SatishGandham opened #13546 "[Bug]: Optimize click interaction on table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you click on a table row, the whole table renders twice, which is absolutely not necessary.
I believe this is happening due the meta property selected row changing.

This is the profile of a click interaction a page with single table widget having default data.
<img width="2168" alt="Screensh

[2022-05-04 06:02] dilippitchika commented on #12225
@ashit-rath the challenge i see is with the CSV behavior in multiselect. I need some clarity there on what we are supporting currently in default values - @Tooluloope can you let me know?

[2022-05-04 06:03] jnikhila commented on #13098
@ajinkyakulkarni - Moved the ticket to consider for upcoming sprint as this needs analysis in terms of sizing the work.

[2022-05-04 06:16] Aishwarya-U-R opened #13547 "[Bug]: GET method response is not rendered for API - hook.integromat.com"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1024" alt="Screenshot 2022-05-04 at 11 08 49 AM" src="https://user-images.githubusercontent.com/91450662/166630431-f43ae3e6-d5a6-4772-85cb-7a91839c6f33.png">
<img width="1611" alt="Screenshot 2022-05-04 at 11 43 50 AM" src="https://user-images.githubusercontent.com/91450662/166630964-2

[2022-05-04 06:17] Rishabh-Rathod commented on #12903
@sbalaji1192  Can you add steps to reproduce for this issue.

[2022-05-04 06:23] sbalaji1192 commented on #12903
@Rishabh-Rathod I was able to repro this issue consistently by swiping the keys from 1 to 9 rapidly.

[2022-05-04 06:27] albinAppsmith commented on #8586
Issue seems to be fixed and hence closing the ticket.
![Screenshot 2022-05-04 at 11.56.38 AM.png](https://images.zenhubusercontent.com/60fe9e1e3d0320c6eb5b1f2f/0f234367-dfc7-4745-957c-5d98a9ac7ca6)

[2022-05-04 06:27] #8586 closed

[2022-05-04 06:36] dilippitchika commented on #12225
Adding my notes here for the part i am confident of for Multi select widget

## Default value with server side filtering OFF- MultiSelect widget
1. Supported formats - `[values]`, `[{label,value}]`
2. When any value from default is not present in the list of options
   - The value will not be shown by default in the multiselect widget, if all values are missing no default should be multiselect wid

[2022-05-04 06:57] #12259 closed

[2022-05-04 07:05] Rishabh-Rathod commented on #12903
Steps to reproduce
- Open Sample complex application ( Ask @Rishabh-Rathod for access )
- Go to the “Configuration Details” page -> “Segmentation Config” tab.
- Click on the “Add sample data” button to add data to the table.
- Once data is populated, click on the “Edit” button inside the table to open the modal.
- If you edit any Input in the modal, the binding is not getting reflected in the Text

[2022-05-04 07:14] akash-codemonk opened #13549 "[Bug]: Welcome form is shown for a moment before redirecting for invited users."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="605" alt="Screen Shot 2022-04-22 at 3 18 51 PM" src="https://user-images.githubusercontent.com/67054171/166636660-8b7d4a4e-4ae3-4aea-bbcc-e8a3a866dbe5.png">

### Steps To Reproduce

1) Invite a user to an organisation
2) Signup with the invited email
3) The welcome form is shown for a

[2022-05-04 07:16] Nikhil-Nandagopal commented on #13547
This is a duplicate of #13501

[2022-05-04 07:23] btsgh opened #13550 "[Bug]: Style Alignment - JS enabled - in checkbox widget causes the bound radio grp widget to go blank"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On JS enabling the Checkbox group widget's Style -> Alignment property, and trying to bind it to a Radio group widget using {{RadioGroup1.options ='Yes' ? 'flex-start':'flex-end'}}, causes the Radio group widget to go blank. No errors are seen and evaluated value also shows a valid value.

Expecte

[2022-05-04 07:23] #13119 closed

[2022-05-04 07:28] Nikhil-Nandagopal commented on #2840
@mikefrancis that's a really great point! We have been transparent about our plans like we did in [this comment](https://github.com/appsmithorg/appsmith/issues/2840#issuecomment-952693850) but I can see how it got buried under the flurry of information and we should strive to more proactively communicate this instead of having users ask us about our plans. Thank you for the feedback! We're going t

[2022-05-04 07:38] Nikhil-Nandagopal commented on #2840
@wlatic our entire belief in appsmith has been that an individual developer or small team should be easily able to build their first application without any barriers and that is why we don't have any integrations that are useful for app building behind a paywall. We believe any developer out there might have a need for a Gmail connector and we should help them with that.

In regards to SAML, while

[2022-05-04 07:39] codedmind commented on #2840
I already give my opinion some time ago, i'm with @mikefrancis in this. Since the begin isn't very clear the is will be only on enterprise or not, better, for me at least i only understand that will be a enterprise feature some time after we start talk about SSO.
The issue is from Feb and and the comment is from Oct... for us that are here almost two years the perception is different.

[2022-05-04 07:40] Nikhil-Nandagopal commented on #2840
@dncpax we already have this feature available and piloting it with users! Please block some time with us to talk about the pricing, we're working on making it super affordable and scalable :)

[2022-05-04 07:45] Nikhil-Nandagopal commented on #2840
@codedmind thanks for the feedback! We'll work on communicating more about our plans upfront

[2022-05-04 07:49] abhvsn commented on #13256
https://miro.com/app/board/uXjVO3qLt7Q=/

[2022-05-04 07:58] #11628 closed

[2022-05-04 08:40] sumitsum commented on #2284
Meeting updates:
* create execution flow for GraphQL on API server - @sumitsum - to complete by end of week.
* create test cases for GraphQL client code and work on pagination tab - @AmanAgarwal041 - blocked on @sumitsum for server side execution flow.
* create document on pagination issue - @rohan-arthur
* share pagination implementation with team to gather feedback - @sumitsum
* create test docu

[2022-05-04 08:43] #13549 closed

[2022-05-04 08:57] dilippitchika commented on #13496
@shwetha-ramesh just confirming, the only error here is the debugger error right? Because we are able to open the modal with clicking on the image.

[2022-05-04 08:59] dilippitchika commented on #13495
@chandannkumar have you also bound the onFilterUpdate event to work? It shows up in actions/events when server side filtering is enabled?
![Screenshot 2022-05-04 at 2 29 12 PM](https://user-images.githubusercontent.com/19730984/166651494-07a8441b-8058-47d6-b624-686a1157b663.png)

[2022-05-04 09:29] #13299 closed

[2022-05-04 09:34] chandannkumar commented on #13495
@dilippitchika Yes, i tried onFilterUpdate  event too
https://www.loom.com/share/1c6bb3ecad0a4410a1f1f942a35636b5
Please let me know if i am missing anything here

[2022-05-04 09:41] dilippitchika commented on #13495
@chandannkumar the onFilterUpdate event has to actually search using a query. Similar to how onSearchTextChanged works in table.

[2022-05-04 09:45] #7575 closed

[2022-05-04 09:45] #10052 closed

[2022-05-04 09:45] #10815 closed

[2022-05-04 09:45] #13140 closed

[2022-05-04 09:46] Sripriya93 opened #13554 "[Bug]: Input Widget - When grouped "Text" field is resized larger minimizing the "Label" field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/104895602/166653069-b5c502cc-d322-4276-a2f8-ad647fe9ba3e.mp4

On Grouping two or more Input Widgets, label and test fields are resized.
Label field is minimized, whereas Text field is maximized inside the container.

Expected: Upon grouping Input widgets t

[2022-05-04 09:47] #13213 closed

[2022-05-04 09:48] aswathkk opened #13555 "[Task]: Uncomment tests in ColorPickerV2.tsx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We've commented out the code for keyboard navigation tests for ColorPcikerV2 for releasing the Theming PR.
This test was failing due to some unknown reasons.

[2022-05-04 10:04] nidhi-nair commented on #11977
Sounds good. I'll be sending an error for a toast message as this:

<img width="310" alt="Screenshot 2022-05-04 at 3 14 28 PM" src="https://user-images.githubusercontent.com/5298848/166659080-ba86899d-1fcd-4d82-b90b-30cd714726f5.png">

Scenarios covered:
1. Sub-shell called within double quotes with `$()` or with ``` `` ```
2. Sub-shell called outside of quotes with `$()` or with ``` `` ```

[2022-05-04 10:09] jnikhila commented on #9537
@trishaanand - Could you please add a doc ticket for this work? I'll add it to the pipeline to pick it up in next sprint for estimation.

[2022-05-04 10:13] trishaanand opened #13556 "[Docs]: Renaming organizations to workspaces in documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Related to #9537

Renaming Organizations to Workspaces across the product would lead to documentation to be out of date. The documentation, tutorials, etc. would also need to be updated to reflect the convention change.

### Describe the improvement

[2022-05-04 10:15] ChandanBalajiBP commented on #13350
Following is the updated screen for host address and port
<img width="1183" alt="Screenshot 2022-05-04 at 3 42 49 PM" src="https://user-images.githubusercontent.com/104058110/166662947-c403d75e-165e-4539-acd8-33bfaf0de818.png">
But when actual screen is compared with the design, there are differences in almost all components and buttons
Below is the design screenshot
<img width="763" alt="Screensh

[2022-05-04 10:15] jnikhila commented on #13556
@ajinkyakulkarni - Moved it to current sprint pipeline for pirotizing estimation.

[2022-05-04 10:16] ChandanBalajiBP commented on #13345
@parth-appsmith is the design updated for the same?

[2022-05-04 10:18] shwetha-ramesh commented on #13496
Yes correct @dilippitchika

[2022-05-04 10:51] #11752 closed

[2022-05-04 10:55] chandannkumar commented on #13495
It seems working fine on Server side filtering and able to get the filtered results on Select & Multi Select widget
Closing this, as this issue doesn't exists

[2022-05-04 10:55] #13495 closed

[2022-05-04 11:20] somangshu opened #13561 "[Feature]: Allow devs to consume bigger files (5+ MB) on client."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need to expose a way to read the blob and bind it to the a certain widget.
When user tries to upload a large file, say 50MB our app will crash, and to solve that we have to use **_local storage or local db_**.

### Why should this be worked on?

A user faced a challenge when they uploaded a CSV and

[2022-05-04 11:21] somangshu commented on #13561
As pointed out by @nidhi-nair maybe one solution is #3961. We will need to discuss that more

[2022-05-04 11:38] sumitsum opened #13562 "[Task]: Update server setup guide to include build steps for WSL on windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Currently the server setup guide has info on how to build API server on Mac OS or Linux. It would be great to also add steps to build on Windows using WSL - since such a section already exists for the client setup as well.

[2022-05-04 11:40] #13508 closed

[2022-05-04 11:42] areyabhishek opened #13563 "[Feature]: Introduce side or bottom drawer widget(alternative to modal)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Side drawers are a common UI element in web apps and mobile apps today. They look elegant and can serve different purposes.

Examples:

![image](https://user-images.githubusercontent.com/30255708/166674159-c155531e-9795-440b-a9a2-299aba8516c6.png)

![image](https://user-images.githubusercontent.com/30

[2022-05-04 11:59] Somashekar-B opened #13565 "[Bug]: API is working fine in Postman but same API will work fine but gives error response in Appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a post API which when executed through postman providing expected response

but i tried to execute same API using appsmith it is throwing error response
even though the API worked totally fine and it successfully made changes in DB

### Steps To Reproduce

1. Create a post request API
2. Ru

[2022-05-04 12:01] somangshu commented on #12905
This is not a critical issue, the api is the actual cause and the user was able to resolve it, We are looking into this priority to resolve. Changing the label now

[2022-05-04 12:11] Somashekar-B commented on #13181
can you send me what was your request body

and please try to send body as
{
    "text": "1,2,3,4",
    "time": "2022-05-04T12:09:10.054Z"
}

and observe the body recieved in the backend

[2022-05-04 12:40] #10095 closed

[2022-05-04 12:45] eco-monk commented on #13480
Another app having this issue. (missing `formData.list.prefix.data`)
https://release.app.appsmith.com/applications/61c46440cb706b2cef15a9f4/pages/61c46440cb706b2cef15a9f9/edit
<img width="1291" alt="image" src="https://user-images.githubusercontent.com/66776129/166683649-29167c1d-4299-4ed5-be25-2b8bb057d47c.png">

[2022-05-04 13:25] Sripriya93 opened #13566 "[Bug]: Date picker Widget - On selecting "Today" - "Close on selection" property - Not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1) In Date picker widget, while "Close on selection" property is enabled, when we select "Today", calendar is not closed.
2) When we click on "Today" today's date is highlighted with current time, but when we manually click on today's date timer resets to 00:00
3) When we click on "Clear" calendar

[2022-05-04 13:36] felixsuarez0727 opened #13567 "Review Twilio Documentation"
In the Twilio document do the following actions:

- [x]  Check spelling
- [x]  Check if all actions are implemented
- [x]  Look for improvements to the document

[2022-05-04 13:36] #13323 closed

[2022-05-04 13:47] pranavkanade commented on #11403
@sbalaji1192 will table v2 have the same issue?

[2022-05-04 13:49] sbalaji1192 commented on #11403
@pranavkanade This has been fixed in Table v2. Clicking on button, icon button, and menu button will not select/unselect the corresponding row anymore.

[2022-05-04 15:51] rahulramesha opened #13572 "[Bug]: Grouping widget pushes widget below it further down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there are multiple widgets at the below a group of widget. Grouping the selected widgets will push the widgets below the group to further below.

### Steps To Reproduce

1. Add few widgets in a single column
2. select some of the top widgets and press cmd + g
3. observe the widgets below the

[2022-05-04 17:02] felixsuarez0727 opened #13574 "Create Twilio Documentation"
Create official documentation based on the following documents:

- [Twilio Integration - EngSpec](https://www.notion.so/appsmith/Twilio-Integration-EngSpec-748c494303f040d7a54fe0d76e76f72a#6c99e514a0f54640bf6698b96cc349d4)

- [Twilio - SaaS App Runs Photos](https://www.notion.so/appsmith/Twilio-SaaS-App-Runs-f3bdc1eeed2f400692f8bbf29b1d07bb)

- [Twilio - Test App Runs Photos](https://www.notion.so

[2022-05-04 19:44] Rishabh-Rathod commented on #13469
This is not related to #12318 and will be separately fixed.

[2022-05-05 02:01] Nllii opened #13577 "[Feature]: Python support for api integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Awesome project.

postman is cool but can python programmers get basic REPL environment for integration.
Maybe something like https://replit.com

.Thanks

### Why should this be worked on?

Postman is cool, but python programmers are use to the terminal. Postman has too much fancy stuff.  Adding REPL

[2022-05-05 04:41] vivekverma2312 commented on #13489
@AnaghHegde I am observing this issue on prod today. Every-time I launch any app in edit mode the error is displayed.
<img width="446" alt="Screenshot 2022-05-05 at 10 09 23 AM" src="https://user-images.githubusercontent.com/83569920/166864498-f868b085-338f-4545-baef-9808ecc10772.png">

[2022-05-05 04:43] abhvsn commented on #13489
@vivekverma2312 can you plese verify which API is failing? We have seen this issue with `threads API` which was fixed earlier by @albinAppsmith.

[2022-05-05 05:04] abhvsn commented on #13194
Actually, this will be an issue when the user has the same branch in multiple Appsmith instances. In this setup user's can commit and push from 1 instance for which the user on other instance if working on the same branch will have to pull the changes first.

[2022-05-05 05:10] riodeuno commented on #11851
@SatishGandham The issues seems to be that the browser is deferring painting the content below and above the fold. When scrolling the area which had deferred rendering momentarily shows before the browser has the time to paint the UI.

This could be due to a bunch of factors:
- Machine specs (slower machines will take longer)
- View mode DOM node count (more nodes means more time to compute)
- RAM

[2022-05-05 05:23] dilippitchika commented on #12883
Collating all info -

1. With theming we have made changes to certain style properties across multiple widgets, here's a list of properties - https://www.notion.so/appsmith/64c8a2fabba54f1e800a3c266f92b326?v=de8b77c3f2944c2dbd6c18a5a4dadca8
2. We also have added a new theme panel in the app where user can control themes and customise them - https://www.notion.so/appsmith/App-Theming-caedc2f85bb348

[2022-05-05 05:25] riodeuno commented on #12321
@sbres Thanks for pointing this scenario!
By design, today, the Rich Text Editor, exposes its contents in HTML. The Markdown and HTML formats for default input, is actually specifically for the format in which we would like to provide default values to the rich text editor.

Having said that, I understand the need to be able to edit Rich Text and export the result in Markdown. The status of this f

[2022-05-05 05:33] riodeuno commented on #5240
@sbalaji1192 Yes, IMO, the integrity of the data configured, should be maintained.

In this scenario: This means that if the URLs of the entries are not configured, then the click should like to an empty page/tab.

[2022-05-05 05:36] Nikhil-Nandagopal commented on #13577
@Nllii thank you for the feature request! I have a question about this. As of today, our REST API integration is only used to talk to an already created API. Are you looking to create an API inside Appsmith with Python or call a Python script that is already created somewhere on your server

[2022-05-05 05:38] Nikhil-Nandagopal commented on #13518
@jnikhila great catch!
@ankitakinger @trishaanand @vuiets we should think about this scenario to prevent users from shooting themselves in the foot

[2022-05-05 05:38] #11977 closed

[2022-05-05 05:40] #12815 closed

[2022-05-05 05:40] #13392 closed

[2022-05-05 05:40] #13393 closed

[2022-05-05 05:41] Nikhil-Nandagopal commented on #13424
@bobhilbig thanks for the information! So something like a message listener that listens to a postMessage from the parent iFrame inside appsmith is what you're looking for?

[2022-05-05 05:46] dilippitchika commented on #13566
There's some weird behavior happening here, if we first clear the date using clear button and then select today then it closes the popover, but if a date is already selected then it doesn't close when today is selected.

Not an issue, when user selects the date explicitly they need to add time

[2022-05-05 05:48] dilippitchika commented on #13566
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 660 |
| Effort (months)  | 0.5 |

[2022-05-05 05:48] dilippitchika commented on #13566
@techbhavin can you triage this?

[2022-05-05 05:49] riodeuno commented on #10659
@sbalaji1192 @somangshu @rohitagarwal88 @SatishGandham Is this update needed for the List Widget V2 efforts?

[2022-05-05 05:53] sbalaji1192 commented on #10659
@Tooluloope Could you please confirm if this is needed for List widget v2 implementation?

[2022-05-05 05:55] dilippitchika commented on #13563
Similar to the modal widget, this is a container which slides on top of the current page. This is useful for letting users focus without having to leave the page

Adding references from component libraries
https://ant.design/components/drawer/
https://mdbootstrap.com/docs/standard/extended/drawer/#docsTabsOverview
https://chakra-ui.com/docs/components/overlay/drawer

[2022-05-05 06:00] dilippitchika commented on #13554
Ok this happens for the following reason
1. There's a minimum width of the input widget - which is some Xpx for example
2. Once we create a group, it creates a container, in this container the input has to resize because of the relative width logic we have for containers.
3. Input resizes to min width and the rest of the space is occupied by the label, hence it truncates.

According to me this is

[2022-05-05 06:00] #13554 closed

[2022-05-05 06:02] danciaclara opened #13581 "[Enhancement]: Remove Success toast messages for JS on page load in view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There is no need to show Success toast messages for JS functions after they run on page load in the **deployed mode** as the end-users won't be able to make sense of that message.

### Why should this be worked on?

A user was asking about how to turn off toast messages - https://community.appsmith.co

[2022-05-05 06:05] vivekverma2312 opened #13582 "[Bug]: Canvas scroll to top when I drop Tab widget on the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Observed this issue on Tab change as well.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/0b4fff84ba0144dd8d51d2da1e57f459-00001.gif)](https://www.loom.com/share/0b4fff84ba0144dd8d51d2da1e57f459)

### Steps To Reproduce

1. Drop few widgets on top of the canvas so that visible screen have

[2022-05-05 06:07] dilippitchika commented on #13550
Code is incorrect - {{RadioGroup1.options ='Yes' ? 'flex-start':'flex-end'}}

1. Here options is a array of items
2. You are assigning options to yes and not comparing

That may be the reason why it's disappearing.

The correct code would be {{RadioGroup1.selectedOptionValue =='Y' ? 'flex-start':'flex-end'}} and it's working as expected

Closing this issue for now.

[2022-05-05 06:10] dilippitchika commented on #13535
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 65 |
| Effort (months)  | 0.5 |

[2022-05-05 06:11] vivekverma2312 opened #13583 "[Bug]-[292]:Compact property is not functional for Menu widget and Menu type on Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/1ac45b64776343e082fa89a8126b1954-00001.gif)](https://www.loom.com/share/1ac45b64776343e082fa89a8126b1954)

### Steps To Reproduce

1. Drag and drop Menu widget
2. Add few Menu items
3. Click on menu widget
4. Now enable compact property
5. Clic

[2022-05-05 06:11] ganganimaulik opened #13584 "[Bug]: shows schema not available until its loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**No information available/shows schema not available** displayed until real error message/data appears.

should display **Loading..** message

https://user-images.githubusercontent.com/10296400/166870595-dbb60443-6a67-48da-8d9c-bcc222450fa5.mp4

### Steps To Reproduce

1. add sample users datasou

[2022-05-05 06:14] dilippitchika commented on #13498
@shwetha-ramesh can you also add the query screenshot here?

Needs some debugging on why this is happening. My current theory is it's a referencing error in the query. You can't reference numbers in queries like 122.pageSize etc.

[2022-05-05 06:15] dilippitchika commented on #13498
Updating to medium because workaround exists, which is changing the name

[2022-05-05 06:17] dilippitchika commented on #13498
Unable to calculate reach for this, but assuming 1% of table+list users rename it numbers

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 20 |
| Effort (months)  | 0.5 |

[2022-05-05 06:25] rohan-arthur commented on #13581
How can we know the incidence of usage of this setting? In the console, I see `Async EXECUTE_PAGE_LOAD_ACTIONS Track Transaction` but this is not available for tracking on mixpanel.

[2022-05-05 06:30] dilippitchika commented on #13496
112 people configured image in a custom column, assuming 30% configure on click

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 33 |
| Effort (months)  | 0.5 |

[2022-05-05 06:34] dilippitchika commented on #13497
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.5 |

[2022-05-05 06:42] dilippitchika commented on #13582
@jsartisan @keyurparalkar are you checking this?

[2022-05-05 06:53] Nllii commented on #13577
Yes. To call a python script.

I have tried bokeh, plotty, pyscript and Mongodb charts to create a dashboard, it takes up too much resources and too much fancy stuff.

This project has what I need.
Now adding python for basic  CRUD and HTTP request. With a drag and drop UI attached to ones code.

You know. Like [scratch or REPL apps](https://scratch.mit.edu/projects/editor/?tutorial=getStarted)

[2022-05-05 06:56] dilippitchika opened #13586 "[Feature]-[516]:Add label settings and styles to switch, checkbox"
## Objective

With the change to support label widths for different widgets, checkbox and switch widget need some different settings to ensure their labels are aligned

### Requirements
We need to support labels for switch and checkbox

**Positions**

1. Left - Devs can select this to show the label to left of the check or radio button
2. Right - Devs can select this to show the label to right of

[2022-05-05 06:56] dilippitchika commented on #13586
I will be completing the PRD and adding it here

[2022-05-05 06:57] dilippitchika commented on #13586
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 516 |
| Effort (months)  | 0.5 |

[2022-05-05 07:00] dilippitchika commented on #13498
@shwetha-ramesh was this working before? Why is it a regression?

[2022-05-05 07:15] jsartisan commented on #13582
Let me check this

[2022-05-05 07:20] Rishabh-Rathod opened #13588 "[Bug]: MultiSelect widget v1 unable to reflect value changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/23132741/166878074-81418f97-e22c-4f80-b5ac-00a7ac03b30a.mov

### Steps To Reproduce

1. Go to A force application, Community issues page
2. Change row selection with another row that has value in states ( multiple times )
3. Notice that in the Details tab,

[2022-05-05 07:29] Aishwarya-U-R commented on #2639
@Nikhil-Nandagopal - Can you please confirm if below will also be addressed as part of this feature or the need to open a new Bug?

1. Widgets needed: Input widget, Button
2. Add Input's DefaultText to pick value from other widget, used here - {{Button1.Text}} - which is 'Submit' (length = 6)
3. Add validations to Input's Valid field as {{Input1.text.length < 5}}
4. Observe - No validation is thro

[2022-05-05 07:31] vivekverma2312 commented on #13582
@jsartisan Similar behaviour is observed for drop-down widgets.
https://www.loom.com/share/d9105908a6e24f5c99604ded1bb3f953

[2022-05-05 07:53] riodeuno commented on #9439
@vuiets @ramsaptami This should not be an issue today. #10803 or #12253 should have resolved this.
I cannot replicate this.

[2022-05-05 07:56] ramsaptami commented on #9439
Tested this on latest release and this isn't a bug anymore. Hence closing this issue.

[2022-05-05 07:56] #9439 closed

[2022-05-05 07:57] riodeuno commented on #11128
@Tooluloope @dilippitchika I think we should assist the user by trying to typecast these strings into integers where ever possible. Small features like these should be helpful to our users.
Do you see any issues with implementing this?

[2022-05-05 07:59] dilippitchika commented on #13582
@vivekverma2312 for tree and multitree we had this issue - https://github.com/appsmithorg/appsmith/issues/11485
@Tooluloope could you confirm if it is fixed? I see the PR https://github.com/appsmithorg/appsmith/pull/13129 mentions this issue

[2022-05-05 08:08] dilippitchika commented on #11128
We do that to some extent in a few widgets, for example chart widget, but don't do it everywhere across widgets. We can add it here, but we also need to think about other widgets.

[2022-05-05 08:14] Tooluloope commented on #13582
@dilippitchika That PR should fix the issue for the Select widget

@vivekverma2312 could you help test Select widget in this PR #13129

[2022-05-05 08:16] ramsaptami commented on #9992
If this is an expected response from Google Sheets then we should nudge the user about the expected behaviour so they can typecast. Helps enhance user experience on the platform

[2022-05-05 08:19] Tooluloope commented on #11128
@riodeuno @dilippitchika This can be really tricky. One of the reasons we have issues with the defaultValue for select widget was that we were trying to help the users in typecasting.
I feel it's better to be predictable, So the users know that this expects a Number and not a `Stringified Number`.

I think it's best to show adequate messages in the evaluation popup so the user is clear of what nee

[2022-05-05 08:19] riodeuno commented on #11183
We need a product perspective here.
A few approaches (Not all of them are equally good when it comes to DX)
- Automatically enable scroll, when trying to resize or drag and drop a widget below the fold in a container like widget. Users can decide to disable subsequently. Every time the user tries to resize or dnd below the fold, we re-enable the scroll.

- Disable resizing or dragging and dropping

[2022-05-05 08:22] riodeuno commented on #11128
@Tooluloope @dilippitchika I agree with both your points.
1. @Tooluloope If we have a technical hurdle in supporting such automatic typecasting, let's figure this out by laying out the RCA
2. @dilippitchika Agreed. From a DX perspective, it makes sense to support expected scenarios like these, and is something we should include in all scenarios if it exists in one scenario.

[2022-05-05 08:31] vivekverma2312 opened #13591 "[Bug]-[4788]:Next/Previous icon on Tab widget is not functional with single click but only working when we click and hold"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b717c6db52eb47b7bbb3ceee88ca15b3-00001.gif)](https://www.loom.com/share/b717c6db52eb47b7bbb3ceee88ca15b3)

### Steps To Reproduce

The issue is if we click it once it does not work. You have to click and hold it to be functional. Currently on p

[2022-05-05 08:43] riodeuno opened #13593 "[Task] Update Widget component template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update the widget component's `.hbs` template, such that they contain the `forwardRef` and a toplevel `div` which has ref passed as a prop
- Update the plopfile to introduce a check which asks widget developers if the widget under development can have a dynamic height based on its contents
- If the

[2022-05-05 08:46] AmanAgarwal041 opened #13594 "[Bug]: TypeError for debuggersaga where reading name from undefined plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Reading values from undefined
<img width="651" alt="Screenshot 2022-05-05 at 2 13 59 PM" src="https://user-images.githubusercontent.com/7565635/166890091-ae6f9693-558d-43f2-89b3-e7f38eaa291c.png">

### Steps To Reproduce

1. View Mode of an application
2. See console

### Public Sample App

https:

[2022-05-05 09:01] AmanAgarwal041 commented on #12842
@ChandanBalajiBP is working on this

[2022-05-05 09:06] dilippitchika opened #13596 "[Feature]: Support a way to theme older apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With theming now going to be live, we need a way to support theming of older apps.

### Why should this be worked on?

This will help with faster adoption of theming for our existing users, rather than them having to sit and reconfigure all the widgets they worked on.

[2022-05-05 09:08] dilippitchika commented on #13596
Conversation reference - https://theappsmith.slack.com/archives/C02JV8G1MP0/p1651735399004239

[2022-05-05 09:10] dilippitchika commented on #13591
@jsartisan this experience feels very laggy, can you check this once?

[2022-05-05 09:10] btsgh commented on #13550
@dilippitchika
1. Agreed, the code is incorrect - however, there is no way to bring back the disappearing options of that same widget.
2. Instead of the Disappearing of options, as an end user, would expect to be given an error to the effect that the code is incorrect.
3. Even if I paste the correct code into the same JS field, the widget options do not come back.
Reopening to understand if better

[2022-05-05 09:16] dilippitchika commented on #13550
Refreshing the page doesn't bring the items back?

[2022-05-05 09:17] jnikhila commented on #12813
Document available on[ live site](https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication/oauth2-authentication).

[2022-05-05 09:19] btsgh commented on #13550
@dilippitchika  - no refreshing does not bring the items back.

[2022-05-05 09:22] rohan-arthur commented on #12813
lgtm thanks Nikhila

[2022-05-05 09:22] #12813 closed

[2022-05-05 09:36] souma-ghosh commented on #13313
@dilippitchika @somangshu  Tried reproducing this in my system, didn't work out. Found just now that this is not reproducible anymore even in Pranav's system

[2022-05-05 09:39] #13414 closed

[2022-05-05 09:39] #13312 closed

[2022-05-05 09:45] aswathkk commented on #1651
This will be resolved in #10833

[2022-05-05 09:49] vivekverma2312 opened #13598 "[Bug]: Not able to see all the options of Font property as it is not scrollable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/600c44f882f94d249994b2d5145ba4c6-00001.gif)](https://www.loom.com/share/600c44f882f94d249994b2d5145ba4c6)

### Steps To Reproduce

1. Drag and drop a Text widget
2. Click on Font Family property
3. Observed that the options are getting clipped

[2022-05-05 10:12] vivekverma2312 opened #13601 "[Bug]: Options are displayed beyond canvas and after deployment vertical scroll is displayed (Canvas size is desktop)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/b11a79eb426e4f7d9d98862932d355a8

### Steps To Reproduce

1. Drag and drop a Switch group widget at bottom of the canvas
2. Bind it with some big data like 20 or 30
3. Observe that the options are displayed beyond the canvas
4. Deploy the app
5. Observe that vertical scr

[2022-05-05 10:14] #12060 closed

[2022-05-05 10:19] Rishabh-Rathod commented on #9992
https://github.com/appsmithorg/appsmith/issues/9992#issuecomment-1085704441

We noticed for above user application, configuring smart substitution resolved the issue. @ramsaptami

[2022-05-05 10:21] ankurrsinghal opened #13602 "[Task]: Standardise Structure of Switch widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-05 10:24] vivekverma2312 opened #13603 "[Bug]: Error on Default Selected Values of Switch group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/62ca0071cb2843fb88214d7781555707-00001.gif)](https://www.loom.com/share/62ca0071cb2843fb88214d7781555707)
![Screenshot 2022-05-05 at 3 52 30 PM](https://user-images.githubusercontent.com/83569920/166905543-b3c9bfa7-2e24-4477-adef-00511634894b.p

[2022-05-05 10:39] keyurparalkar opened #13604 "[Bug]: Duplicate style properties present in the list widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Duplicate style properties present inside the list widget property pane. Please refer to the below screenshot:
![Screenshot 2022-05-04 at 4 52 04 PM](https://user-images.githubusercontent.com/14138515/166907105-fb82f2c9-ace2-4f1a-af3f-cdbe25016f4c.png)

Environment: Release

### Steps To Reproduce

[2022-05-05 10:54] Pranay105 opened #13606 "Update MSSQL Datasource"
Update the visuals and steps for connecting to [MSSQL](https://docs.appsmith.com/datasource-reference/querying-mssql) data source.
You can take reference from [here](https://appsmith.hashnode.dev/series/datasource-references)

[2022-05-05 10:56] Pranay105 commented on #13606
Update the visuals and steps for connecting to MariaDB data source.
You can take reference from [here](https://appsmith.hashnode.dev/series/datasource-references)

[2022-05-05 11:01] Pranay105 opened #13607 "Update Snowflake data source"
Update the visuals and steps for connecting to [Snowflake](https://docs.appsmith.com/datasource-reference/querying-snowflake-db) data source.
You can take reference from [here](https://appsmith.hashnode.dev/series/datasource-references)

[2022-05-05 11:29] vivekverma2312 opened #13609 "[Bug]: App crash on List widget when try copy/paste"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/eda77e0771234aa992198df3c73406ed-00001.gif)](https://www.loom.com/share/eda77e0771234aa992198df3c73406ed)

### Steps To Reproduce

1. Drag and drop a List widget
2. Copy list widget (CMD +C)
3. Move the cursor on the container
4. Pate it (CMZ+V

[2022-05-05 11:41] #13224 closed

[2022-05-05 11:53] spark-c opened #13611 "[Docs]: Update Docs for Self-Signed Certificates"

[2022-05-05 11:53] spark-c commented on #13611
https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication/self-signed-certificates

[2022-05-05 11:54] #12957 closed

[2022-05-05 12:03] anshsrtv commented on #8582
We need this. Our use case:
- We have 2 Appsmith apps. One for staging and the other prod.
- We build new appsmith pages in Staging.
- Once the page gets an approval we ship it to the prod app.

[2022-05-05 12:04] btsgh opened #13612 "[Bug]-[215]:Rating widget appears broken on dropping into canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On dropping a Rating widget onto canvas on a 13" laptop, with Fluid width selected - the Rating widget seems cutoff on Release url.

### Steps To Reproduce

1. On the release url, create a new page. Make sure the Canvas size is fluid width.
2. Drag and drop the rating widget.
3. The widget stars a

[2022-05-05 12:07] Nikhil-Nandagopal commented on #8582
@anshsrtv there's now a better way to achieve that. You can sync your prod app to a git repo and import it into the staging app with different datasources so that you can just commit and pull from git to sync the changes. You can read about this here
https://docs.appsmith.com/core-concepts/git-sync

[2022-05-05 12:11] SidHiremath commented on #12903
When this will be fixed?

Kindly request that this is something that should be fixed as early as possible or right away as it might cause data issue!

[2022-05-05 12:26] #13313 closed

[2022-05-05 12:39] ramsaptami opened #13613 "[Bug]-[168]:Document viewer widget does not appear on autocomplete suggestion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Document viewer widget does not appear on autocomplete suggestion

### Steps To Reproduce

1. Drag and drop a document viewer widget on canvas
2. Drop a text widget and attempt to bind properties of document viewer widget - observe autocomplete does not suggest this widget even if the widget has b

[2022-05-05 12:47] btsgh opened #13614 "[Bug]: The container bg color doesn't have JS mode enabled by default and shows empty value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The container background color doesn't have JS mode enabled by default and shows empty value, but on clicking JS it shows the correct binding

### Steps To Reproduce

Videos showing the behaviour -

on release: https://www.loom.com/share/3ccef5e3d57e40c5b962f8187df4ba4b
on master: https://www.loom

[2022-05-05 12:48] Rishabh-Rathod commented on #12903
This is already worked on https://github.com/appsmithorg/appsmith/pull/13084 and the solution is in the testing phase.
This will soon be fixed in production.
@SidHiremath

[2022-05-05 12:52] abhvsn opened #13615 "[Task]: Add cypress testcases for discard and pull changes"
## Flows needs to be tested:

Initial setup: Base application with
- 2 pages => `Page1 and Page2`
- Single action => `Query1`
- Single JSObject => `JSObject1`

### Add new resource
- Add page `Page3` to the application
  - Switch to `Page1` and discard changes, `Page3` should be removed
  - Stay on `Page3` and discard changes ends up in resource not found exception
- Add new action `Query2` to `Pa

[2022-05-05 12:55] abhvsn opened #13616 "[Task]: Add cypress testcases for delete branch"
## Flows for which testcases are needed:
### Functional
Failure:
- User is trying to delete the current checkout branch
- When trying to delete the default branch

Success:
- User tries to delete non-default and non checked out branch

### UI
- Remote branches should not have vertical ellipsis
- After successful deletion of branch if we trigger sync branch flow deleted branch should only appear in

[2022-05-05 13:06] btsgh opened #13617 "[Bug]: Issue seen in an app if there is a query with a column name as BorderRadius"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

User cannot have query with column name as "BorderRadius"

### Steps To Reproduce

This bug seems to be related to theming.  Removing a column named "BorderRadius" solves the problem.
Here are the videos showing the issue:
1. Shows issue:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/6b907

[2022-05-05 13:13] abhvsn commented on #3199
### Next set of action items:
- Merge discard and pull PR @IAmAnubhavSaini https://github.com/appsmithorg/appsmith/pull/11835
- Add cypress testcases for discard changes @Parthvi12 @IAmAnubhavSaini https://github.com/appsmithorg/appsmith/issues/13615
- Add cypress testcase for delete branch @IAmAnubhavSaini https://github.com/appsmithorg/appsmith/issues/13616
- Updates on deploy modal to convey mi

[2022-05-05 13:18] #13594 closed

[2022-05-05 14:14] bobhilbig commented on #13424
The iframe embedding appsmith contains a link to appsmith. I would love to use php to append some GET information to that link. Thats the easiest method.

But if it needs to be part of a POST variable that could work too.

[2022-05-05 14:25] dilippitchika commented on #13614
@jsartisan no conclusion on this?

[2022-05-05 14:31] dilippitchika commented on #13617
Need access to this app, it says not found for me. Please share it with demo@appsmith.com

[2022-05-05 14:33] dilippitchika commented on #13617
@btsgh removing critical tag and using release blocker.

Please use critical if something breaks in production, I am assuming this issue doesn't happen in production yet.

[2022-05-05 15:02] #13567 closed

[2022-05-05 15:25] ramsaptami opened #13618 "[Bug]: Default values placeholder on phone widget is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Placeholders for `default text` property for phone input widgets are incorrect. It has `John Doe` as placeholder even though it don't accept string type input

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/166957471-a9219d51-4537-485d-814a-f65f1ab6e316.png)

#

[2022-05-05 15:52] #13479 closed

[2022-05-05 17:22] ohansFavour commented on #13504
Theming changes have brought back the parallelization of init calls in view mode.

[2022-05-05 17:43] ame-appsmith opened #13620 "[Bug]-[Infinity]:Query Fails When Prepared Statement Is Turned On and Value Contains Only Numbers and Commas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When running a **query** with **Prepared Statement** turned **on**, in which one of the values contains only **numbers** and **commas** (and optionally, **one single dot**),  it returns the error:

**Notes**:
- This happens for all queries (Select, Insert, etc.)
- The issue is reproducible for **P

[2022-05-05 18:06] #13555 closed

[2022-05-05 18:12] AS-Laguna opened #13622 "[Feature]: Horizontal Scrolling for List widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be nice to have the option for List widgets to scroll horizontally. What if we are displaying tall data or using the list items as info cards?

### Why should this be worked on?

Suppose you have many panes of tall data to display, or you have smaller cards, and prefer to display them horizon

[2022-05-05 19:54] #13501 closed

[2022-05-06 00:30] Nllii opened #13623 "[Feature]: self hosted cloud provider."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

### project configuration to use  [coolify](https://github.com/coollabsio/coolify) in the future.  A self hosted Heroku instances to make this project even more cooler

### Why should this be worked on?

### Awesome project. Adding a self hosted cloud provider will make it even more awesome.
 ![Alt Te

[2022-05-06 03:08] RakshaKShetty opened #13624 "[Bug]: [Deploy preview]The git discard functionality fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The discard doesn't happen in the child branch
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3a2e24cec21b408088ea4a8a416853aa-00001.gif)](https://www.loom.com/share/3a2e24cec21b408088ea4a8a416853aa)

### Steps To Reproduce

1. create a sub-branch from master
2. Add few pages
3. Add a CRUD

[2022-05-06 04:34] dilippitchika opened #13626 "[Feature]: Change theme button on theme UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Change theme will be shown on hovering the card rather than an explicit button

### Why should this be worked on?

This will help bring the properties to be consumed directly below the themes

[2022-05-06 04:39] dilippitchika opened #13627 "[Feature]: Updates to the change theme experience"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Current theme will be in expanded state by default
- The dev can click on a button on the current theme to start customising the theme rather than having to click back
- Back button will still be there because if the user doesn't make any selection on theme they can go back

### Why should this be w

[2022-05-06 04:41] dilippitchika opened #13628 "[Feature]: Give a way to reset all changes in a old apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today a user doesn't have a way to reset all the differences in their older apps when they are applying themes, this causes them to sit and reset every widget one by one

### Why should this be worked on?

It will help our existing users adopt theming faster

[2022-05-06 04:43] IAmAnubhavSaini commented on #13624
It looks like it has something to do with every branch being a separate app and not hard reloading on branch change. This means the state of application on branch change or (less likely) git-status-response after commit-and-branch-change are incorrect.

Needs more investigation.

[2022-05-06 04:44] #11709 closed

[2022-05-06 04:45] dilippitchika opened #13629 "[Feature]: Improve the primary and background color representation in app theming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today in the theming pane, we have a color pane with 2 colors but there is some confusion if these colors can be edited or not because of the difference in UI between these colors and the remaining ones.

![Screenshot 2022-05-06 at 10 14 06 AM](https://user-images.githubusercontent.com/19730984/167068

[2022-05-06 04:46] RakshaKShetty opened #13630 "[Bug]:The discard changes progress bar will be stopped in the middle and the action is not completed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The discard changes progress bar will be stopped in the middle and the action is not completed
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/167068461-0ec0eb61-18af-456d-846c-e9e5ca1eb296.png">

### Steps To Reproduce

1. Connect application to git
2. Create

[2022-05-06 04:53] abhvsn commented on #11551
Just wanted to highlight what Anagh has already reported to get the attention:

[2022-05-06 04:54] dilippitchika commented on #13629
Suggested change - show the color detail and the color picker indicating the detail of the color

Design was already there, we need to discuss and work with it
https://www.figma.com/file/wVHeU6hnJtC29sLAiGo5yl/UI-%7C-Application-Theming-2.1?node-id=2422%3A261315

[2022-05-06 05:01] techbhavin commented on #13566
@dilippitchika

In DatePicker Widget we are using `blueprintjs` date picker component. the current implementation of this library is it will close the popover inside the red border below the image. `today` and `clear` are the action bar of the date picker. so in this action, it will not close the date picker popover.

<img width="571" alt="image" src="https://user-images.githubusercontent.com/5881

[2022-05-06 05:04] IAmAnubhavSaini commented on #13630
It gets stuck because frontend is not handling this error case as of right now.

The response from API is:

[code]

Even though the page id exists as it is newly created: `app/heisenbergs-discard/page1-6274ab5ee257b32033aae1dc/edit/generate-page?branch=second`, local git repo doesn't have this page yet in the file system, due to it not being committed, and thus backend cannot find it.

@abhvsn is

[2022-05-06 05:04] #12572 closed

[2022-05-06 05:08] abhvsn commented on #13630
PR has been raised for this already and @IAmAnubhavSaini you are partially correct here as the page don't have the published version yet this is happening.
https://github.com/appsmithorg/appsmith/pull/13487 this will fix the above issue

[2022-05-06 05:25] #13628 closed

[2022-05-06 05:27] #13478 closed

[2022-05-06 05:38] RakshaKShetty opened #13631 "[Bug]: [Deploy Preview]Uncommitted error is displayed even when all the changes are committed in the branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Uncommitted error is displayed even when all the changes are committed in the branch
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/167073245-e9203174-b02d-4b5a-8c73-89f5c43bed65.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.c

[2022-05-06 05:40] btsgh commented on #13227
Testing on Release- Only in JSON form widget, Form Styles, Submit Button Styles and Reset Button Styles are collapsed by default. In all other widgets, all the sections are expanded by default.
1. The scenario described in the loom video for all the JS options, expanding the sections, on enabling JS, going out of the widget property, coming back to widget property and expanding the sections, all t

[2022-05-06 05:42] #12505 closed

[2022-05-06 05:42] #13242 closed

[2022-05-06 05:43] dilippitchika commented on #13629
Suggested Flow

By default, Primary color is selected and the color picker is visible
- We need a selected state for the color selected

Dev can hover over the other colors to know what they are and select them to see the color picker
- We need a hover state for the colors

[2022-05-06 05:50] btsgh opened #13632 "[Bug]: Placement property shows up empty on JS enable first time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On expanding the Submit Button Styles property of JSON form, the Placement property which is having Centre, shows up empty on first time JS Enabling.

### Steps To Reproduce

1. Drag and Drop a JSON form on to the canvas.
2. In the property pane, expand the Submit Button Styles property.
3. The Pl

[2022-05-06 05:51] keyurparalkar commented on #13614
@dilippitchika I am looking into this.

After the initial investigation I found that this issue occurs for the children widgets of List widget. If we observe the container widget's (placed directly on canvas) background color property then the color appears in the property when the JS is toggled:

https://user-images.githubusercontent.com/14138515/167074519-9888e4e4-0903-4924-882d-9177696fd1ae.mov

[2022-05-06 05:58] dilippitchika commented on #13626
Updated design to discuss on, needs some design help

https://www.figma.com/file/wVHeU6hnJtC29sLAiGo5yl/UI-%7C-Application-Theming-2.1?node-id=3421%3A262520

[2022-05-06 05:59] dilippitchika commented on #13627
Updated design for discussion

https://www.figma.com/file/wVHeU6hnJtC29sLAiGo5yl/UI-%7C-Application-Theming-2.1?node-id=3421%3A262520

[2022-05-06 06:03] btsgh opened #13633 "[Bug]: JSON Form icon dropdown is not working as expected on first time click"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user clicks on the icon dropdown in the Submit Button Styles dropdown, the dropdown is not working .. it is empty, incorrectly placed and small.

### Steps To Reproduce

1. Drag and drop the JSON form widget to the canvas.
2. Expand the Submit button styles section
3. Click the Icon dropdown.

[2022-05-06 06:07] shwetha-ramesh commented on #13498
@dilippitchika I had raised an issue for table widget earlier https://github.com/appsmithorg/appsmith/issues/9189 which was fixed.

[2022-05-06 06:20] vivekverma2312 commented on #13582
@Tooluloope @dilippitchika Tree and multitree issue is observed on canvas and above PR solves the issue only inside container widgets and not on canvas. This issue exist on prod as well so if you want I can raise a separate issue for this.

[2022-05-06 06:22] btsgh commented on #12924
Accessed the url mentioned in the bug description through iframe widget, and camera is now working both on canvas and on deploy.

[2022-05-06 06:32] aswathkk opened #13634 "[Bug]: Tab key does not moves the focus to next property in case of Border radius or box shadow property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`Tab` key is not shifting the focus from Border radius to Box shadow till we press it 3 times.

https://user-images.githubusercontent.com/10436935/167078698-371778ea-a0d1-4b40-bd83-84ff6ec1e90e.mov

This issue happened after Theming is released.

### Steps To Reproduce

1. Add a button widget
2. P

[2022-05-06 06:39] Nikhil-Nandagopal commented on #13623
@Nllii thank you for the feature request and the funky Gif 😄

[2022-05-06 06:49] ankitakinger commented on #13008
Re-opening to work on EE changes

[2022-05-06 07:05] vivekverma2312 commented on #13591
@dilippitchika @jsartisan Observed next/previous icon is not functional at all with touch on trackpad  and only work with click. Marking it to Release Blocker.

[2022-05-06 07:13] Parthvi12 commented on #13582
@vivekverma2312  Just observed on switching tabs the canvas is scrolling to top as well.

[2022-05-06 07:25] btsgh commented on #10379
Tested in Release, and the app is still crashing in the scenario mentioned in the bug. Hence reopening the issue.

[2022-05-06 07:25] jsartisan commented on #13617
@btsgh I am not able to reproduce this issue on my end :/

[2022-05-06 07:29] vivekverma2312 commented on #13603
This is working fine so closing the issue. I did not passed the default value in array so error was displayed.

[2022-05-06 07:29] #13603 closed

[2022-05-06 07:34] dilippitchika commented on #13614
May not be a release-blocker, as this only happens when the JS toggle is turned off explicitly by the developer. We will fix this later to work according to how it works inside a regular container placed on the canvas.

[2022-05-06 07:42] ankurrsinghal opened #13638 "[Task]: Standardise Structure of Checkbox widget to enable Dynamic Height"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-06 07:44] dilippitchika opened #13639 "[Bug]: App theming pane resets when hovering over a widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i am on the theme selection page and my cursor hovers on a widget, the property pane changes from theme selection page to theme properties page -
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/53a52476af1a4e70bf871447554a7f30-00001.gif)](https://www.loom.com/share/53a52476af1a4e70bf871

[2022-05-06 07:47] somangshu commented on #13591
@vivekverma2312 @dilippitchika I want to contest if this is really a release blocker, Considering the click still works

[2022-05-06 07:54] riodeuno commented on #11038
### Update 6th May:
- Min-Max height signifiers Design  - In progress @momcilo-appsmith @vinay-appsmith
- POC development - In Progress @ankurrsinghal @riodeuno  - ETA 16th May
- Technical hurdle: Undo-Redo does not work well with the dynamic height - Details to follow.

[2022-05-06 07:58] somangshu commented on #13591
Considering people who use the tabs widget with `show tabs` as `true`

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4788 |
| Effort (months)  | 0.5 |

[2022-05-06 07:58] dilippitchika opened #13641 "[Bug]: Older versions of widgets don't support app theming but show properties which correspond to theming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Older versions of input/select/multiselect widgets have theme properties like box shadow and border radius, but they don't work when the user tries to update the widget's properties.

### Steps To Reproduce

1. Go to an app which has older input widget
2. Theme the app's border radius to be differ

[2022-05-06 07:58] #12215 closed

[2022-05-06 07:58] IAmAnubhavSaini commented on #12214
Hold on it till git v2

[2022-05-06 07:59] somangshu commented on #13591
I also noticed, no one really turned this property to false, Does this mean we should have this behaviour by default, it will help reduce the number of properties in widget pane. cc @dilippitchika @vivekverma2312

[2022-05-06 08:03] vivekverma2312 commented on #13591
@somangshu Marked it as release blocker because the user who uses `Tap to click` on Trackpad will not be able to click. I also struggled to understand as it was working for others (who uses click) and not for me.

[2022-05-06 08:18] IAmAnubhavSaini opened #13642 "[Bug]: Show a deploy button on Deploy tab [git]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I connect app to git repo, all of the files are getting written to remote repo in one commit. After connection, we take users to deploy tab. Since there are no changes to be committed, we disable commit functionality. And now there is no way for users to Deploy from the tab itself.

Either of

[2022-05-06 08:20] IAmAnubhavSaini commented on #13642
@Nikhil-Nandagopal @vuiets Let me know your thoughts.

[2022-05-06 08:22] #13572 closed

[2022-05-06 08:26] albinAppsmith commented on #11284
@ramsaptami / @Parthvi12  Can we test this in DP?
DP - https://appsmith-git-feat-page-container-resize-get-appsmith.vercel.app/

[2022-05-06 08:26] Nikhil-Nandagopal commented on #13642
@IAmAnubhavSaini what do you think of users being in the committed state after this? Where it says all your changes have b committed and the link to the deployed app is shown below?

[2022-05-06 08:42] IAmAnubhavSaini commented on #13642
1. We were showing `Commit & Push` button but it was actually `Commit & Push & Deploy`. Now, since we commit and push on connect, deploy stays pending. We don't show Deployed information, because we didn't deploy it. (Let me get more information on this from backend)
2. We can show a toast when the application get connected, that it has been pushed to remote repo too.

Now, one solution is to show

[2022-05-06 08:45] Nikhil-Nandagopal commented on #13642
Wait commit and push was always meant to signify deploy as well. Because even in our code once we commit, a DP is auto-created just like for any CI/CD. Is this changing? @abhvsn

[2022-05-06 08:48] Nikhil-Nandagopal commented on #13503
@abhvsn I'm surprised cloning takes so long? Is there no way to optimise that? Waiting more than a second or 2 for a copy feels like a poor experience

[2022-05-06 08:49] abhvsn commented on #13642
@Nikhil-Nandagopal we are deploying whenever we do commit and push. What is changed now is earlier we used to ask user to commit the application files after the connect went through, but now we are doing deploy, commit and push during the connect flow itself

cc: @IAmAnubhavSaini

[2022-05-06 08:50] dilippitchika commented on #13566
@techbhavin when you click on clear twice it closes the datepicker, can you find out why that is working?

[2022-05-06 08:54] Nikhil-Nandagopal commented on #13094
@rohan-arthur you can now fork the app

[2022-05-06 08:55] abhvsn commented on #13642
@IAmAnubhavSaini on the deploy tab we are making a get status call, which now responds with no changes to commit but we should have the current deployed CTA below the commit and push CTA.
Just for more context if useful we are sending the application object as a response for connect API where we have `lastDeployedAt` field which can be used to display the time.

<img width="558" alt="Screenshot 20

[2022-05-06 08:58] IAmAnubhavSaini commented on #13642
@Nikhil-Nandagopal I wasn't aware of that.

---

This is weird behaviour then, just now I disconnected and reconnected and saw the deployed info. But it said 42 minutes ago. Which means, it was deployed when I took original screenshot.

![Screenshot 2022-05-06 at 2 23 09 PM](https://user-images.githubusercontent.com/1573771/167100561-2aab21df-57fa-473f-87e2-715f49f46e0c.png)

Then after a hard ref

[2022-05-06 09:05] btsgh commented on #13617
@jsartisan - In the Habitasaurus app, Profile page, Apply Theme gives the uncaught promise rejection if the GetThemes query has this Select statement - SELECT * FROM "Themes" ORDER BY id LIMIT 10;

[2022-05-06 09:06] Nikhil-Nandagopal commented on #13539
@iamrkcheers this is a problem with how intercom cannot handle the events we send to segment. This should have no impact ideally so I'm going to close this but we'll speak to the intercom team on how to avoid this

[2022-05-06 09:06] #13539 closed

[2022-05-06 09:11] Nikhil-Nandagopal commented on #13540
@Rishabh-Rathod this seems to be working for me. Can you provide a public example?

[2022-05-06 09:15] Nikhil-Nandagopal commented on #11943
This is a serious problem. When can we prioritize it? Users feel like their code is wrong

[2022-05-06 09:38] #13630 closed

[2022-05-06 09:49] #13270 closed

[2022-05-06 09:52] aswathkk opened #13643 "[Task]: Make the canvas property pane keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Some properties in the canvas property pane are not keyboard accessible.

[2022-05-06 09:58] dilippitchika commented on #13566
Discussed with bhavin, there's a limitation on the library for doing this. Parking for now

[2022-05-06 09:59] #12543 closed

[2022-05-06 10:10] btsgh opened #13645 "[Bug]-[70]:Required selection for RadioGroup widget does not show the red rectangle required indicator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the Radio Group Widget, in the Property Pane, on removing the Default value and setting the Required property to Enabled, the red rectangle to show the required indicator does not appear.

### Steps To Reproduce

1. In the production environment (app.appsmith.com), drag and drop a Radio Group w

[2022-05-06 10:16] Nikhil-Nandagopal commented on #13565
@Somashekar-B can you share the API? Also is the API response a string or a JSON?

[2022-05-06 10:31] Nikhil-Nandagopal commented on #13181
@Somashekar-B is it possible some middleware in your backend is automatically trying to split the request key?
The request inspector logs show the correct data has come to it
![Uploading Screenshot 2022-05-06 at 4.00.47 PM.png…]()

[2022-05-06 10:41] ramsaptami opened #13646 "[Bug]: Function execution does not wait for user confirmation before running and does not display response when run on page laod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Function execution does not wait for user confirmation before running and does not display response in watch window when run on page load

### Steps To Reproduce

1. Go to app at [this](https://release.app.appsmith.com/app/untitled-application-3/page1-6274f3497c6b4e16b81a28a8/edit/jsObjects/6274f5

[2022-05-06 11:20] nidhi-nair opened #13647 "Research on product stability"
Capturing the requirements in [this doc](https://www.notion.so/appsmith/Thoughts-about-how-to-research-potential-improvements-to-the-deployment-strategy-aka-research-on--fa06e8b8a59d4d6e9c9c35e595c2b1bd).

Working on the documentation for this research [here](https://www.notion.so/appsmith/Research-info-dump-d1d4c97d66214c94aeeff457afd76382)

[2022-05-06 11:40] #10139 closed

[2022-05-06 11:59] abhvsn commented on #12679
Another user reported this and user was on self-hosted instance

[2022-05-06 12:00] sbalaji1192 opened #13648 "[Task]: Performance improvement in Table v2"

[2022-05-06 12:14] abhvsn commented on #13169
@hiteshjoshi can we please prioritise this to decrease our tech debt

[2022-05-06 12:17] Nikhil-Nandagopal commented on #13181
@Somashekar-B you can turn off smart substitution. It's a setting in the settings tab of the API
and add quotes around the Input binding
[code]

[2022-05-06 12:18] #13181 closed

[2022-05-06 12:20] hiteshjoshi commented on #13169
@abhvsn can you write more details about it. The title alone isn’t making absolute sense.

[2022-05-06 12:21] spark-c opened #13649 "[Docs]: Update text docs for Audio Recorder widget"

[2022-05-06 12:29] abhvsn commented on #13169
Sorry for not being clear earlier but we are referring to deprecate the duplicate application feature as we can create a copy of the application using fork application as well. User will have to fork the application in the same organization. For more details please check the slack thread where user got confused because we are doing the same operation by 2 different ways.

[2022-05-06 13:18] btsgh commented on #13438
Tested the Date-picker widget for its functionality - comparing with current functionality. Works fine. Moving to Done.

[2022-05-06 14:02] Nikhil-Nandagopal commented on #13581
I think by default end-users should just not see these messages at all!

[2022-05-06 14:10] codedmind commented on #13581
agree, i just purpose the option, assuming that someone decided to put that notification their should have be a reason :D

[2022-05-06 14:12] perekrestov commented on #13581
If someone wants a notification he always can put `showAlert('...')` inside the function

[2022-05-06 14:17] #12164 closed

[2022-05-06 14:51] #12594 closed

[2022-05-06 15:07] felixsuarez0727 commented on #13039
There are problems with displaying variables when installed in a test organization. Step to reproduce the error

1. Create the Performance integration in Appsmith with the actions View Website's Performance and View Website's Uptime
2. Verify that they work in Saas App Run
3. Install the Integration in an organization
4. Choose an action to display

Using the browser terminal the variables are dis

[2022-05-06 17:57] Nllii commented on #13577
The current  flow for attaching QUERIES/JS(postman)  is in Javascript and  API  calls are in postman; then binding to canvas widget.

JSObject is in javascript, this  is where python is needed for creating functions for python users.

#### To conclude  I'm using cUrl imports for now to get my API urls in, then creating my functions in javascript. but;  I am I want  to write python scripts inside A

[2022-05-06 18:13] #12956 closed

[2022-05-06 18:24] Aishwarya-U-R opened #13650 "[Bug]: Renaming application from Home page & Exporting it still gives toast with older application name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/167195764-aa32bc1a-daa3-451c-9054-b9c346cbfa75.mov

### Steps To Reproduce

1. Rename an app from HomePage
2. Export it
3. Exported file name is the updated application name as expected
4. **Observe - Export Success Toast message still shows the o

[2022-05-07 01:02] liliang8858 opened #13651 "[Bug]: rm: cannot remove '/etc/letsencrypt': Directory not empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]

![image](https://user-images.githubusercontent.com/38367404/167231697-ce0b1041-ebfd-4ff1-a868-a5c63d0bc0fc.png)

### Steps To Reproduce

curl -L https://bit.ly/32jBNin -o $PWD/docker-compose.yml
docker-compose up -d
docker logs -f appsmith

### Public Sample App

_No response_

### Version

[2022-05-07 01:21] liliang8858 commented on #13651
logs
[code]

[2022-05-07 02:20] IAmAnubhavSaini opened #13652 "[Task]: Use "modified" consistently in git changelist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As of right now, we are showing "modified" and "updated", we need to use only "modified".

<img width="550" alt="Screenshot 2022-05-07 at 7 48 18 AM" src="https://user-images.githubusercontent.com/1573771/167234090-bc0a44d5-b043-415f-bbc3-8e5083f4f9ff.png">

[2022-05-08 15:43] #13562 closed

[2022-05-08 16:00] felixsuarez0727 commented on #13039
New tests were performed but the same error continues:

- A new integration is created and only one action is added, with the key query type.
![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/34f7e6d6-1a2f-4c96-8452-d66d95080bb2)
- A test integration is created and header type is chosen.
![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/5384d2cf-

[2022-05-08 16:07] felixsuarez0727 opened #13659 "Create a Integration Developers Guide"
Create a document that works as a guide for future developers of integrations, where there are steps to follow and standards that were taken into account to perform the integrations that have already been created.

- Add steps to follow
- Points to keep in mind when entering variables into Appsmith
- Possible errors that may occur and how to fix them

[2022-05-08 16:43] rahulramesha commented on #12291
@Pranay105 @jnikhila Need your help in deciding a warning message. For the deprecated widgets, we are currently planning to add the message, “**There’s a newer version available. The current version will not be maintained.**” This message might sound a bit stiff to the user. Can you guys suggest some alternatives or does this message sound good?

![image](https://user-images.githubusercontent.com/

[2022-05-08 16:57] felixsuarez0727 commented on #13659
The document is created in notion with the necessary data.
- [Integration Developers Guide](https://www.notion.so/appsmith/Integration-Developers-Guide-65ab94156e7941158728a63bd32080aa)

[2022-05-08 16:57] #13659 closed

[2022-05-09 01:47] sharat87 commented on #13651
Hey @liliang8858, sorry you are facing trouble with this. Can you share what OS you are running on? Do you have an existing `stacks` folder in the current folder? If yes, does it have a non-empty folder called `letsencrypt`?

[2022-05-09 03:51] liliang8858 commented on #13651
![image](https://user-images.githubusercontent.com/38367404/167337639-6ede7667-533e-4180-881d-4e27c2c82ed2.png)

[2022-05-09 03:54] liliang8858 commented on #13651
linux
[code]

 docker version
[code]

[2022-05-09 04:52] Somashekar-B commented on #13181
@Nikhil-Nandagopal Thanks that solved the problem..

[2022-05-09 05:12] shwetha-ramesh commented on #10752
@akash-codemonk the below image issue still exists. Hence re-opening this issue.
![image](https://user-images.githubusercontent.com/92293815/167344604-b60ba491-141f-4f6a-85bd-4a000ca35604.png)

[2022-05-09 05:14] shwetha-ramesh commented on #10925
@akash-codemonk - @ramsaptami callout has not been fixed, hence re-opening this issue

[2022-05-09 05:14] kocharrahul7 opened #13661 "[Task]: Signup form visible to invited users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Disable signup form for invited users, so they can go directly to their intended task

[2022-05-09 05:24] #8876 closed

[2022-05-09 05:44] shwetha-ramesh commented on #13489
@AnaghHegde @abhvsn - reopening this issue as it is till reproducible on prod.

[2022-05-09 05:49] jsartisan commented on #3369
Closing as it is merged.

[2022-05-09 05:49] #3369 closed

[2022-05-09 06:09] dilippitchika opened #13664 "[Feature]-[516]:Select value default changes for consistency and server side filtering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Select widget default values are not yet standardised across server side filtering and regular behavior. Using this to track the updates to default. Will add notes here.

### Why should this be worked on?

Currently the behavior for select widget's default values are very confusing. We want to standar

[2022-05-09 06:15] prapullac commented on #13501
We are displaying RAW view and the response is displayed to user

[2022-05-09 06:17] kocharrahul7 commented on #13661
Closed due to duplicate issue

https://github.com/appsmithorg/appsmith/issues/13549

[2022-05-09 06:17] #13661 closed

[2022-05-09 06:38] dilippitchika opened #13665 "[Feature]-[213]:Multiselect widget default value consistency for server side filtering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Creating this issue to track the multiselect widget default value updates.

### Why should this be worked on?

Consistent behavior for default values in multiselect widget

[2022-05-09 06:55] IAmAnubhavSaini commented on #11286
# Git Analytics

For Connect funnel

- ‘Connect Git’ event for bottom bar click (already done)
- ‘Commit and Push’ button click event on Deploy modal (already done)
- ‘Last Deployed Preview’ click on Deploy modal (already done)

For Deploy funnel

- ‘Commit and Push’ button click event on Deploy modal (repeated)
- ‘Last Deployed Preview’ click on Deploy modal (repeated)

For Create Branch funnel

[2022-05-09 06:55] #11286 closed

[2022-05-09 07:07] Aishwarya-U-R opened #13666 "[Bug]: JSON Form Mapped from Table does not maintain the order of Columns onto its Fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**Table columns order not maintained & Date format applied in Table column not honoured:**

<img width="1321" alt="Screenshot 2022-05-09 at 12 26 39 PM" src="https://user-images.githubusercontent.com/91450662/167356975-32ca22bd-1587-4dec-a80a-ac43f3684319.png">

**Table hidden fields not honoured:

[2022-05-09 07:15] dilippitchika opened #13667 "[Feature]: Show previews of fonts when the font picker is open"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We should show font previews when the font picker is open to help users choose the right font easily.

### Why should this be worked on?

Developers can see the previews making it easy for them to select the right font.

[2022-05-09 07:16] dilippitchika commented on #13667
@jsartisan to check this - https://font-picker.samuelmeuli.com/

[2022-05-09 07:32] dilippitchika commented on #13664
Assuming all users who have configured default are impacted

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 516 |
| Effort (months)  | 0.5 |

[2022-05-09 07:33] dilippitchika commented on #13665
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 213 |
| Effort (months)  | 0.5 |

[2022-05-09 07:48] keyurparalkar commented on #12518
Closing this issue since the migration details are already present in the epic: https://github.com/appsmithorg/appsmith/issues/3369 and https://github.com/appsmithorg/appsmith/issues/11533

[2022-05-09 07:48] #12518 closed

[2022-05-09 07:56] btsgh commented on #10612
Tested all the widgets, and their sub buttons (e.g. button group), to test the colour picker where ever it is present. All widgets- colour picker we are able to navigate through keyboard using the keys mentioned in the feat - 11797.

[2022-05-09 08:15] btsgh commented on #12714
Unable to reproduce on release now (9th May 2022). Probably some other change has resolved this issue.

[2022-05-09 08:40] dilippitchika commented on #13664
## Default value with server side filtering OFF- Select widget
1. Supported formats - `value`, `{label,value}`
2. When value is not present in the list of options
     - No default should be shown in the select widget
     - The default value field in property pane should show an error
       - Error message - "Default value is missing in options. Please update the value."
3. When label is differe

[2022-05-09 08:41] dilippitchika commented on #13665
Adding my notes here for the part i am confident of for Multi select widget

## Default value with server side filtering OFF- MultiSelect widget
1. Supported formats - `[values]`, `[{label,value}]`
2. When any value from default is not present in the list of options
   - The value will not be shown by default in the multiselect widget, if all values are missing no default should be multiselect wid

[2022-05-09 09:14] btsgh commented on #12572
Tested this on Release - on all widgets with properties that have scroll option to scroll through the items. Works fine,.

[2022-05-09 09:29] #13174 closed

[2022-05-09 09:32] dilippitchika commented on #11902
## Suggested Milestone 1

- [ ] #10575
- [ ] #12531
- [ ] #13664
- [ ] #13665
- [ ] #12225
- [ ] #12554

@somangshu @Tooluloope please review this, i have updated the issues in the list and think that these issues should be shipped first. They need not be shipped together, but the idea is we can divide this epic into milestones and keep tracking.

[2022-05-09 09:35] dilippitchika commented on #12995
Link to conversation (may get archived) - https://discord.com/channels/725602949748752515/972093976771448912/972093979409645608

Link to upvotes - https://discord.com/channels/725602949748752515/760761686549463060/973152275411394610

[2022-05-09 09:36] shwetha-ramesh commented on #10614
Tab to focus
ArrowRight and ArrowLeft to cycle through items
Space|Enter to select the item

Verifying this issue.

[2022-05-09 09:36] Sripriya93 commented on #13572
Working fine, Verified

https://user-images.githubusercontent.com/104895602/167382971-b57c2f49-b158-4508-a762-290b8febfbd8.mp4

d

[2022-05-09 09:37] somangshu commented on #11902
Cc @souma-ghosh

[2022-05-09 09:42] dilippitchika commented on #10575
@Tooluloope something to ask here, can we also use this base for tree select and multi tree select widget?

[2022-05-09 09:44] shwetha-ramesh commented on #10613
Tab to focus
ArrowRight and ArrowLeft to cycle through items
Space|Enter to select the item

Verifying this issue.

[2022-05-09 09:52] Sripriya93 commented on #10615
Verified

https://user-images.githubusercontent.com/104895602/167385727-b74f1fdc-6b9a-41fb-9bd0-10390b9d1140.mp4

[2022-05-09 09:56] Tooluloope commented on #10575
No we can't use this for those.
But we can create a Base for both TreeSelect widgets

[2022-05-09 09:58] dilippitchika opened #13670 "[Feature]: Validations for inline editing in input widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add validations to the input widget within the table

### Why should this be worked on?

Completes the input inline editing flow

[2022-05-09 10:07] yatinappsmith commented on #11977
Verified https://www.loom.com/share/f9751a616bfe4569976bda22ff0cf2d2

[2022-05-09 10:12] Parthvi12 commented on #11284
@albinAppsmith Can we preserve state when:
- User resizes the page section ,deploy and then come to edit mode.
- User resizes the page section ,close app and revisit app later.

[2022-05-09 10:13] yatinappsmith commented on #11030
https://www.loom.com/share/98d67dcde04c4209ac483d08675516d5

[2022-05-09 10:27] yatinappsmith commented on #11952
Reopening this as facing dropbox issue on release

[2022-05-09 10:32] prapullac commented on #10550
WAiting for DP

[2022-05-09 10:39] berzerkeer commented on #12345
Right now, I am only able to fix the issue with form login password field. With the application name and organisation name we are using <EditableTextSubComponent/> in which we are forcibly calling the InputValidation callback on input change. So we should actually move that out of that component, and give the developer who uses the EditableText component have control on how and when to validate th

[2022-05-09 10:41] prapullac commented on #12983
Error message is not displayed  appropriately
![Screenshot 2022-05-09 at 4 10 33 PM](https://user-images.githubusercontent.com/71753653/167394077-c860ea31-af9b-4340-b27d-06028125054a.png)

[2022-05-09 10:44] abhvsn commented on #11577
Again started seeing this for larger apps with multiple branches

[2022-05-09 10:47] berzerkeer commented on #12345
Reopened so that we can track the EditableText issue.

[2022-05-09 10:51] prapullac commented on #12019
Waiting for the DP

[2022-05-09 10:52] dilippitchika opened #13672 "[Feature]: Click to add a new row in the table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to add a new row in the table with the data.
Link to PRD - https://www.notion.so/appsmith/Adding-a-new-row-in-the-table-0ec90544d26c4c25ab1f9b2504e919a1
Link to design - https://www.figma.com/file/aJ2Hwz9gH5AK6zaRYtZV8a/Table-widget-update?node-id=2119%3A132071

### Why should this be work

[2022-05-09 10:57] dilippitchika opened #13674 "[Task]: Refactor TreeSelect and MultiTreeSelect Widget to have a base Shared widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-09 10:58] dilippitchika commented on #10575
Thanks, created a new issue - https://github.com/appsmithorg/appsmith/issues/13674

[2022-05-09 11:06] rashmi-rai commented on #13322
Order of the keys in Query is not preserved in the spreadsheets. Seems like a backend issue as string value of the object is parsed on BE.

[2022-05-09 11:24] Sripriya93 opened #13677 "[Bug]: Delete key not working after navigating with tab key thru the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we drag and drop a widget and give tab thru all the properties in the property pane until half and select the widget again to delete it, it is not deleted. We have to click on the canvas space and again select the widget to delete it

https://user-images.githubusercontent.com/104895602/167400

[2022-05-09 11:38] shwetha-ramesh commented on #8560
Duplicate of #11316 which is not fixed yet.

[2022-05-09 11:44] Sripriya93 opened #13678 "[Bug]: Width (in columns) property - increment and decrement arrows not highlighted much when navigated thru tab key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we navigate in the property pane of following widgets to Width (in columns), and when we try to increment or decrement the value of Width thru keyboard, not able to find where the cursor is, able to see only a bit of highlight when we are in Increment arrow and decrement is not highlighted
-

[2022-05-09 12:04] #12744 closed

[2022-05-09 12:05] dilippitchika opened #13681 "[Feature]: Support HTML as a column type in the table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow using html as a column type in the table widget

### Why should this be worked on?

Enhances our table widget to render custom html making the tables look better

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](h

[2022-05-09 12:08] dilippitchika opened #13682 "[Feature]: Support editing date column type in table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow developers to mark date columns as editable

### Why should this be worked on?

Helps with editing dates inline

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_64ljg)

[2022-05-09 12:11] dilippitchika opened #13683 "[Feature]: Support percent as a new column in the table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to add percentage as a column type in the table and edit

### Why should this be worked on?

Improved table functionality

[2022-05-09 12:12] dilippitchika opened #13684 "[Feature]: Support time as a new column type in the table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow developers to change the column type to time and let their end users edit it

### Why should this be worked on?

Powerful table editing experience

[2022-05-09 12:16] spark-c opened #13685 "[Docs]: Problem while deploying on Azure w/ Terraform; define volume mount"

[2022-05-09 12:19] spark-c commented on #13685
Update docs to tell users to define a volume mount in order to persist internal Appsmith data while restarting their container.

See [Slack thread](https://theappsmith.slack.com/archives/C0341RERY4R/p1652086201807969) for more information.

[2022-05-09 12:33] yatinappsmith commented on #13581
Still getting this message https://www.loom.com/share/7f43f810bf8345cc815ce54049117f05

[2022-05-09 12:35] yatinappsmith commented on #12477
Tested as part of regression

[2022-05-09 12:36] ohansFavour commented on #13581
@yatinappsmith,  we want to show this in edit mode, it's only in view mode that we do not show this. I guess the title is confusing, I will modify that now.

[2022-05-09 12:38] yatinappsmith commented on #11822
This issue is still open https://www.loom.com/share/3c87c74cedb14711a41f2daaf18a8d11

[2022-05-09 12:41] abhvsn opened #13687 "[Task]: Prominent display for git changes to catch user's attention on deploy modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As a part of displaying the migration changes currently we are communicating this with message string on the deploy modal. This is not very prominent as user's are missing the message and end up in a panic state.
Slack thread: https://theappsmith.slack.com/archives/CGBPVEJ5C/p1651518390613139

[2022-05-09 12:45] #13581 closed

[2022-05-09 12:54] riodeuno opened #13688 "[Task] Disable vertical resize in edit mode for dynamic height"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

When enabling dynamic height, the manual drag to resize would conflict and be overridden by the dynamic height feature.
To prevent this and for a simpler experience, we disable vertical resize when dynamic height is enabled.

[2022-05-09 13:17] #13296 closed

[2022-05-09 13:35] PaulMcF1987 opened #13690 "[Bug]: App running on Docker is very slow in development mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I am running this app on Docker.
I am finding that it is running very slow in development mode, I tried deploying the app and it runs slightly quicker but is still extremely slow, it can take up to 1 minute for the selected page to load.

Also, when I click on a table row, I have it set to open a

[2022-05-09 14:13] #11483 closed

[2022-05-09 14:20] rohan-arthur commented on #12012
another test case:
![Screenshot 2022-05-09 at 14 56 58 (1)](https://user-images.githubusercontent.com/94514895/167430456-781ba9d5-a2dc-4574-a4d1-0f421bbae6f8.png)

[2022-05-09 14:26] rohan-arthur opened #13692 "[Bug]-[400]:error js function already exists after deleting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

to quote the user:
"It seems that the JS objects cache the functions you create, and there's no way to clear that cache.  I got an error that one of my controller functions already exists, even though I deleted it a while ago.  When I tried to delete and recreate the controller, it started saying

[2022-05-09 14:27] rohan-arthur commented on #13692
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | <<number>> |

[2022-05-09 14:47] Aishwarya-U-R opened #13693 "[Enhancement]: Ability to read clipboard content copied via copyToClipboard()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Right now we have a method to copy the contents to clipboard via Appsmith. Manually cmd+v does paste the copied content, but would also need a way to paste it programmatically - which can be a direct method something like readClipboardData() or allowing usage of Keyboard events via JSObj functions

[2022-05-09 15:21] Aishwarya-U-R opened #13694 "[Bug]: Date column Table filter does not fetch results as expected when Original/Display date format properties are changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/167441721-cdd0eaf2-388c-495f-93af-110210441c02.mov

### Steps To Reproduce

1. Widget needed: Table
2. Map some data to Table with a date column
3. Change Column Type to date & leave the Original & Display date format as is
4. Filter table - Obser

[2022-05-09 18:05] felixsuarez0727 commented on #13507
I created a test integration to see if it was possible to make the change, with the **Schedule Action** it worked but not with **List Messages**, since the variables of type query param have more priority, so when adding Twilio Account SID first it is still shown at the end.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/42a71688-d66e-4c7e-a677-cd6c300efea1)

![imagen

[2022-05-09 19:00] felixsuarez0727 opened #13696 "The Twilio icon is blurry"
We need to find a proper sharp icon and see which option looks best

Option 1

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/4aff8de6-188a-4120-9aff-0e364f60250a)

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/eede9b63-b4ee-4beb-afc7-79b675b7cc26)

Option 2

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/52787

[2022-05-09 19:24] rochesterj opened #13697 "[Template]: Charts Generator"
### Title

Chaarts Generator for Appsmith Custom Charts

### Objective

This app generates the JSON data for custom chart types, based on the user inputs.

It is meant to be used as a quick way to get started with a custom chart, with all options outlined. This allows users to quickly see how these options are processed, and they can easily copy/paste or build their own functions.

It has a single

[2022-05-09 19:29] unknown1337 commented on #2430
Please allow a mechanism to not only import existing NPM libraries but also 'private NPM repo's' which allow proper coding and debugging with e.g. classes, TS, auto formatting, refactoring, debugger statements, re-use off curstom created classes (e.g. logging) across projects,in e.g. VScode. I think this is a huge gain w.r.t. the build in editor

[2022-05-09 19:45] spark-c opened #13698 "[Docs]: Add docs for how to clear FilePicker selection"

[2022-05-09 19:46] rochesterj opened #13699 "[Template]: Kanban manager"
### Title

Kanban manager with Appsmith

### Objective

This app creates a visual kanban for content management in defined steps. It works similar to trello or other kanban boards, where you can move items from one column to the next one and quickly see the work status.

The app has one page and one modal.

The main page displays the columns, each loading a list of its items. In the demo, the kanb

[2022-05-09 20:02] spark-c commented on #13698
Currently, there is no documentation related to clearing/deselecting a file that has been picked with the Filepicker Widget -- without having a lot of experience with the Appsmith platform, it's not even clear that this is possible.

This may be useful while updating Filepicker docs:

Objects required:
* Filepicker (FilePicker1)
* Button (ClearButton)
* JSObject (utils)

[code]

[2022-05-09 20:33] Jonsey4 commented on #5415
I have a single sql table of items which may optionally have a parent and/or child in the same table. This kind of widget would be great for visually modelling these parent-child relationships without hacking something together with a single table widget.

[2022-05-09 20:50] pchambless commented on #5415
Will there be some requirement around how to represent a hierarchy in this widget?  Like, the **Select** widget needs columns named **value** and **label.**.  Some hierarchies use Integer (non-intelligent) ids while some people like to use intelligent IDs to represent their hierarchy parent-child relationships... I guess this could be some sort of property dropdown... like when you define chart **

[2022-05-09 20:59] spark-c commented on #13698
### Wait, the Filepicker Widget is now allowing me to remove files using a pop-up window that it has never showed me before.

After more fiddling, it looks like it will allow me to remove files before they are used; however, once I use them in a query (In this case, I ran a CREATE query on Amazon S3 using `{{ FilePicker1.files[0] }}`), I am no longer given this window to manage the selected files.

[2022-05-10 01:40] ohansFavour commented on #13197
As per the discussion with @ApekshaBhosale, this should ideally be handled on the backend. As long as the isAsync property is correctly configured, sync functions should not have the "onPageload" and "confirmBeforeExecute" as true.

cc: @nidhi-nair

[2022-05-10 03:25] #13652 closed

[2022-05-10 03:38] iwyrobi opened #13701 "[Bug]: mysql remote host username not following mysql host, but appsmith server host"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i try to connect to remote mysql server 10.2.2.7, the username not set to user@10.2.2.7 but user@10.2.2.17

10.2.2.17 is the host of appsmith app deployed.

### Steps To Reproduce

1. Goto datasource mysql
2. add remote host
3. add username and password
4. test

### Public Sample App

_No res

[2022-05-10 03:40] rashmi-rai opened #13702 "[Feature]: Show Expected structure for S3 Create command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add an example structure for Create Command for S3.

### Why should this be worked on?

Ref: https://theappsmith.slack.com/archives/C01CFTXD0N8/p1652120767527469

User does not have the clear idea about the expected value of the `Content` in Create Command.

[2022-05-10 04:11] prapullac commented on #11751
Closing as a part of regression

[2022-05-10 04:11] vasanth-appsmith commented on #12709
@dilippitchika  Design is completed. Here is the  [Figma Link](https://www.figma.com/file/O113mgBknwDa1cLl7zx3u0/Table-Widget-with-no-data?node-id=12%3A6083)

[2022-05-10 04:45] dilippitchika commented on #12823
https://github.com/appsmithorg/appsmith/pull/13257#issuecomment-1120945177

@techbhavin @Tooluloope based on the comment in the PR, the issue is updated to the following. A cell background color either at a row or at a column level will always be applied to all the data even if it's empty. This is to maintain consistency.

@btsgh please review this once as this is different from your expectation.

[2022-05-10 05:11] dilippitchika opened #13704 "[Bug]: JSON form when a field is hidden do not show the field in formData"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I set a field to be hidden in the JSON form, the key and value still show up in formData and the value it shows is the older value when the field is visible. This creates a problem for the user because they are sending incorrect data.

### Steps To Reproduce

1. Add a new json form
2. Toggle

[2022-05-10 05:36] yatinappsmith commented on #12218
No verification required

[2022-05-10 05:41] yatinappsmith commented on #4495
Verification not required

[2022-05-10 05:42] yatinappsmith commented on #4723
Feature testing completed

[2022-05-10 05:43] yatinappsmith commented on #7441
Verification not required

[2022-05-10 05:43] yatinappsmith commented on #7443
Verified as part of regression testing

[2022-05-10 05:44] yatinappsmith commented on #7445
Verified as part fo regression testing

[2022-05-10 05:45] yatinappsmith commented on #8355
Verified as part of regression testing

[2022-05-10 05:47] yatinappsmith commented on #4142
Verified as part of regression testing

[2022-05-10 06:05] yatinappsmith commented on #11755
Cannot be verified by QA

[2022-05-10 06:07] btsgh commented on #8439
FIXED FOR ALL OF THE CASES MENTIONED IN THE BUG EXCEPT THE FOLLOWING CASE:

Table Widget - Cell Background - The text "color" is not displayed for Cell Background in the sub widget properties (Step/Task/Status properties)

[2022-05-10 06:22] somangshu commented on #8439
@btsgh can you please add a screenshot, Not able to clearly understand this

[2022-05-10 06:24] somangshu commented on #5415
Thanks for the context @Jonsey4 @pchambless

cc @dilippitchika FYI, something to consider

[2022-05-10 06:26] btsgh commented on #8439
@somangshu -
<img width="771" alt="CellBackgroundColor" src="https://user-images.githubusercontent.com/101863839/167562111-58542ee0-6a1f-4650-bc92-c99db971c3d4.png">

[2022-05-10 06:27] somangshu commented on #10379
@prsidhu can you please look into this?

[2022-05-10 06:32] yatinappsmith commented on #12647
Removing QA label as verified label was added

[2022-05-10 06:32] yatinappsmith commented on #9328
Removing QA label as verified label was added

[2022-05-10 06:37] somangshu commented on #8439
@btsgh kindly also point out the change required, Do we need to change the copy? I am not sure

[2022-05-10 06:39] abhvsn commented on #13624
@IAmAnubhavSaini if I'm not mistaken this happens when we have client side migration, is this correct assumption? If this is true we don't have a solution today for this and we are dependent on the user to commit the client changes. Consider a following situation:
1. User connect the app to git and make a commit
2. In next release we do client side migration
3. User will see random uncommitted cha

[2022-05-10 06:40] dilippitchika commented on #13670
2 flows
1. How does a dev configure validations in an input widget
2. How will the end user work with validations

Dev configuring validations
When type is plain text - The following configurations can be done borrowed from the input widget

1. Required - Is the field required or not
2. Regex - Is the field fitting certain regex criteria
3. Valid - Is there any other criteria the field should fit

[2022-05-10 06:42] btsgh commented on #8439
It is just a minor change required .. As per the original bug raised.
Currently the property text reads as "Cell Background"
It should read as "Cell Background Color"

Refer the bug details point 14.
<img width="791" alt="MainWidgetProperties_Text" src="https://user-images.githubusercontent.com/101863839/167564650-8ac0afc6-32af-4756-b0f5-9aa007051044.png">

[2022-05-10 06:45] jnikhila commented on #12291
@dilippitchika , @rohitagarwal88 , @vasanth-appsmith

A couple of questions -
-  Is the current version maintained for some time frame and can that be accessible to be added to the message so that users can have time to update and move to a newer version?
- Can the WIDGET_NAME be dynamically populated?
- Instead of the current version can the actual version used by user is available so that we can

[2022-05-10 06:46] Sripriya93 commented on #10759
Verified

https://user-images.githubusercontent.com/104895602/167565187-95ecb5da-7dbd-4ccc-b61e-959354759355.mp4

[2022-05-10 06:51] btsgh opened #13706 "[Bug]: Icon added to Input widget disappears on making it a multiline text"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I resize an input widget border, the icon added to the widget disappears.

Expected behaviour - The icon should accordingly get placed in the widget.

### Steps To Reproduce

1. Drag and drop an input widget to the canvas
2. Add an icon from the property pane Icon Options.
3. Set Label positi

[2022-05-10 06:52] vivekverma2312 commented on #9641
Removing QA label as new welcome tour is available now and this could not be tested.

[2022-05-10 06:53] IAmAnubhavSaini commented on #13624
@abhvsn yes, client side migration makes more sense.

There is another bug that @RakshaKShetty will report which is similar. In that we load an app and then client-side-migration runs unbeknownst to user and user always see a pending change on discard.

[2022-05-10 07:06] prapullac commented on #13594
Verified as a part of regression

[2022-05-10 07:07] somangshu commented on #8439
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 97 |
| Effort (months)  | 0.5 |

[2022-05-10 07:08] yatinappsmith commented on #12787
Performance fix , verified for regression

[2022-05-10 07:11] yatinappsmith commented on #10642
Verified with Habitasaurus https://www.loom.com/share/d51d26ae93cd41698d079f79de1d7013

[2022-05-10 07:24] mohanarpit commented on #13331
This is a regression. The Ctrl+Enter / Cmd+Enter shortcut existed to run the API & DB queries. Currently this shortcut is enabled in the query panes but is broken in the API pane. Possible for us to fix this quickly? Only asking because it's a regression.

[2022-05-10 07:28] #12339 closed

[2022-05-10 07:40] #13293 closed

[2022-05-10 07:55] shwetha-ramesh commented on #9639
Removing QA label as new welcome tour is available now and this could not be tested.

[2022-05-10 07:56] RakshaKShetty opened #13709 "[Bug]: Even after discarding the changes on the old apps still 1 change retains"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Even after discarding the changes on the old apps still 1 change retains
![image](https://user-images.githubusercontent.com/45958978/167578329-b1aa4409-8916-4146-a8de-4d1fdd8124e2.png)

[code]

### Steps To Reproduce

1. Get Old git connected application
2. with  lot of old changes
3. Discard remo

[2022-05-10 07:58] abhvsn commented on #13709
@RakshaKShetty can you please make a commit and post the diff we are seeing in the remote?

[2022-05-10 08:25] #8764 closed

[2022-05-10 08:28] IAmAnubhavSaini commented on #13352
@haojin111 there was a related change to text; could you take a look at it?

[2022-05-10 08:37] #8848 closed

[2022-05-10 08:58] parth-appsmith commented on #13330
@ChandanBalajiBP
Here is the component for reference:
API Input Dropdown: https://www.figma.com/file/GuqV8Or2PStpE3rTknsDzk/API-Pane-Improvements?node-id=540%3A26457
API Method Dropdown: https://www.figma.com/file/GuqV8Or2PStpE3rTknsDzk/API-Pane-Improvements?node-id=541%3A26612

I am confirming a few things regarding point 2, please hold off on it for now.

Aside from this the rest of them seems t

[2022-05-10 09:04] haojin111 commented on #13352
no, there isn't. I think!
On starting stage of import git function, the documentation isn't prepared!
Please update it yourself!

[2022-05-10 09:34] Nikhil-Nandagopal commented on #13620
@ame-appsmith in this case latitude is a number in the database and it does not accept commas

[2022-05-10 09:39] Nikhil-Nandagopal commented on #13424
@bobhilbig you can do that today as well. You can append a query param to the link as
https://<link>?email=abc@gmail.com
and access this from within the iFrame appsmith app as {{appsmith.URL.queryParams.email}}

[2022-05-10 09:43] #9340 closed

[2022-05-10 10:04] Nikhil-Nandagopal commented on #13620
@ame-appsmith that is a great point!

[2022-05-10 10:05] ohansFavour commented on #13512
@rohan-arthur how do you think this should be handled?

[2022-05-10 10:10] eco-monk commented on #13480
Another user faced this issue. (fixed by making an edit on the query)
https://discord.com/channels/725602949748752515/969001542621466684/973465159949496331

[2022-05-10 10:16] rohan-arthur commented on #13326
decision: this dropdown should show only datasources of the matching plugin of the current query

[2022-05-10 10:31] parth-appsmith commented on #13330
@ChandanBalajiBP regarding the bgColor mismatch for method dropdown, please refer to the designs below.

https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4771%3A23705

[2022-05-10 10:35] RakshaKShetty commented on #6060
Still facing the issue
https://www.loom.com/share/f9ab0c152e5943ce802274a5a8c8cc45

[2022-05-10 10:35] prapullac commented on #12983
Closing the current issue as the above-mentioned issue is not related.

[2022-05-10 10:35] #12983 closed

[2022-05-10 10:40] AnaghHegde commented on #13352
@Parthvi12 The Learn more link in the git import modal is correct IMO. Because this is not specific to git connect or import.
The learn more is about the key gen protocol.

[2022-05-10 10:56] #12714 closed

[2022-05-10 10:57] dilippitchika opened #13720 "[Enhancement]: Update the default themes in app theming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The default themes could be improved in app theming as the colors are not either appealing or typically used in apps.

### Why should this be worked on?

By default apps built in appsmith should look amazing

[2022-05-10 10:58] Nikhil-Nandagopal commented on #12345
@berzerkeer can we open a separate issue that is not as critical as this one for that case since it does not seem like it blocks the user in those cases?

[2022-05-10 11:06] jnikhila opened #13723 "[Docs]: Update | JSObject | Debugger info"
[intercom user request for debugging JSObject] (https://app.intercom.io/a/apps/y10e7138/inbox/conversation/164629100101847)

Update the doc to add handy information like debugging the code using `debugger`.

[2022-05-10 11:07] #11373 closed

[2022-05-10 11:07] #12946 closed

[2022-05-10 11:14] Nikhil-Nandagopal commented on #13690
Hi @PaulMcF1987 ! Do you perhaps have a lot of data being loaded into the application? You can limit the data your queries return and paginate them with a table to make your apps performant

[2022-05-10 11:15] Nikhil-Nandagopal commented on #13692
@rohan-arthur are we able to reproduce this issue? It seems like it needs more information because I'm unable to reproduce this

[2022-05-10 11:16] Nikhil-Nandagopal commented on #13693
@Aishwarya-U-R if you wrote the code to copy the data to the clipboard, then you can use the same data in the showAlert right? Doesn't seem like a valid use case

[2022-05-10 11:16] PaulMcF1987 commented on #13690
Hi @Nikhil-Nandagopal I have also asked this question on the AppSmith Community page.
There is very little data being processed as it is only in development mode and each table has 5-6 entries

https://community.appsmith.com/t/very-slow-in-edit-and-deployment-mode/954

That is my question on the community page which gives a bit more info

[2022-05-10 11:18] dilippitchika commented on #11902
@somangshu a valid suggestion from Nikhil was to use epic currently for select and multi select widgets and not the tree select widget because of the lower reach of the widgets, barring one issue https://github.com/appsmithorg/appsmith/issues/11485

We could re-evaluate if we want to work on tree and multi-tree-select once we are done with the milestone 1 and we should be okay to to pick them up l

[2022-05-10 11:19] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 can you share the application with us by inviting support@appsmith.com to your application? We'd like to debug what is not working here

[2022-05-10 11:22] sumitsum commented on #6060
@leotom2000 can you please check out the video Raksha has shared ?

[2022-05-10 11:22] btsgh commented on #12714
Tested and found to be fine

[2022-05-10 11:23] Nikhil-Nandagopal commented on #13694
@Aishwarya-U-R this is because of an incorrect input, the original date format does not match the actual format in the table data so it won't work

[2022-05-10 11:25] PaulMcF1987 commented on #13690
@Nikhil-Nandagopal I have sent the invite and set you as Administrator

[2022-05-10 11:27] RakshaKShetty commented on #10253
Cant test this issue

[2022-05-10 11:28] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 can you also share the link to the app?

[2022-05-10 11:29] RakshaKShetty commented on #13398
I still feel there is delay when we try to import a bigger app, Need to look at the performance in few other parts of import flow tracking all that in this issue so reopening it

[2022-05-10 11:30] berzerkeer commented on #12345
@Nikhil-Nandagopal Sure i will do that.

[2022-05-10 11:33] PaulMcF1987 commented on #13690
@Nikhil-Nandagopal that appears to be another problem I have, I have set up the SMTP credentials but it is not sending emails. If I press the test button, it works fine and sends a test email, however if I click the "forgotten password" link for example, nothing happens

[2022-05-10 11:35] Aishwarya-U-R commented on #11937
@arunvjn On an existing application -> Adding a new Page or New Application -> First page - Does not still have the Queries/JS open & so no indication of a newly added Api/Query/JSObject to the user.
Point 6 from this bug is not addressed. Hence reopening the bug.

[2022-05-10 11:37] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 that is ok, you can just share the link here and I can signup with the support email you invited

[2022-05-10 11:37] #12345 closed

[2022-05-10 11:47] jnikhila commented on #13556
@vihar - For your information for Tutorials.

[2022-05-10 11:47] PaulMcF1987 commented on #13690
@Nikhil-Nandagopal Id rather not share domain details on here. I think I have sorted the SMTP Credentials,hopefully you should receive an invite?

[2022-05-10 12:07] PaulMcF1987 commented on #13690
@Nikhil-Nandagopal did you receive the invite?

[2022-05-10 12:08] Aishwarya-U-R commented on #13694
@Nikhil-Nandagopal If the filter will not work when user changes the format of the Date column, why is that option given to change multiple formats or more so why give that Date column filter for filtering?
If either of this is present, as a user I would want the filter to also work!

[2022-05-10 12:12] Aishwarya-U-R commented on #13693
@Nikhil-Nandagopal Ok, so if I also showAlert on same string copied - How does a user know copyToClipboard method is actually working? Simply copy & trust that its copied to clipboard without being able to access it?
And, I want to use it instead of storeValue at times!
storeValue tends to have a variable name also attached to it & alive even after value in it is removed, while copyToClipboard - I

[2022-05-10 12:16] IAmAnubhavSaini commented on #13709
@abhvsn  https://github.com/RakshaKShetty/api_import/commit/b83ef4b924c33009e06a967710313b3081fc5cf1

[2022-05-10 12:20] sumitsum commented on #12713
@rohan-arthur Sorry, I just realised - not saving the URI string in some way was a mistake. Now I am not able to access the app that had the URI - we may not be able to figure out what the exact issue was - but I think we can figure out certain things from trial and error. From what I remember, our regex was parsing the URI string in a wierd way because the URI string had certain characters that t

[2022-05-10 12:26] jnikhila commented on #12941
SAML and Auth0 configurations published.

[2022-05-10 12:37] sumitsum commented on #2284
Meeting updates:
- merge execution flow for GraphQL on API server - it is currently on review - @sumitsum
- start working on smart substitution support - @sumitsum
- smart substitution toggle - one vs two toggles - @parth-appsmith @rohan-arthur @sumitsum
- create test cases for GraphQL client code and work on pagination tab - @AmanAgarwal041
- create document on pagination issue - @rohan-arthur
-

[2022-05-10 12:39] #13101 closed

[2022-05-10 12:43] #13698 closed

[2022-05-10 12:56] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 yes I got it. Do you mind sharing a video of where you see the slowness?

[2022-05-10 13:00] chandannkumar opened #13726 "[Bug]: Table widget on sorting columns throws error when onSort event is configured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7e3ac6389fd8484eb0f82934e8845a60-00001.gif)](https://www.loom.com/share/7e3ac6389fd8484eb0f82934e8845a60)

### Steps To Reproduce

1. Add table widget onto canvas
2. Use onSort Event to display sorting order from property pane. eg: {{showAlert(

[2022-05-10 13:19] jnikhila commented on #11881
@rohan-arthur - Please review and close the ticket. Doc changes are published and available [here](https://docs.appsmith.com/framework-reference/javascript-editor-beta/asynchronous-javascript-function-settings).

[2022-05-10 13:19] PaulMcF1987 commented on #13690
https://share.vidyard.com/watch/xxf1XgXD9f76UcYt4qCcsb?

You will see from the video that most tabs load quickly, however the Job Record tab takes a while, Also, when I clicked on the row to open the modal, the modal opened and was blank, I had to close the modal and reopen for it to wrok

[2022-05-10 13:35] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 thanks! @SatishGandham from our team is looking into this

[2022-05-10 13:38] #13693 closed

[2022-05-10 13:40] #13694 closed

[2022-05-10 13:47] Aishwarya-U-R commented on #13693
Yes, so how to paste from within Appsmith without manually doing cmd/ctrl+v?

[2022-05-10 13:56] PaulMcF1987 commented on #13690
Thanks @Nikhil-Nandagopal  @SatishGandham
Will I still be able to edit the app? or should I wait to hear back from you?

[2022-05-10 13:58] spark-c opened #13727 "[Docs]: Update DynamoDB docs; primary key/partition key"
## Primary / Partition Key
There was some confusion regarding how to use the primary key for DynamoDB. In our docs, we refer to it only as "Primary Key" -- in the DynamoDB docs, they also use terms Partition Key, Sort Key, Composite Primary Key; it can all be a bit confusing.

It may helpful in our docs to either include a brief description of what these keys are, or at least add a hint block that

[2022-05-10 14:00] Parthvi12 commented on #13352
@AnaghHegde Yes that makes more sense, closing it

[2022-05-10 14:00] #13352 closed

[2022-05-10 15:58] AmanAgarwal041 opened #13728 "[Bug]: Graphql Integration issues, Form config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. GraphQL Datasource config is not similar to API Datasource
2. Server is not receiving query and variable from client end
3. Default selection of tab in GraphQL API Editor should be `Body`
4. Collate the logic of API creation to one function rather than having redundant code.

### Steps To Repro

[2022-05-10 16:22] kzerozero0 commented on #8923
this feature is very useful, any update?

[2022-05-10 16:33] rohitagarwal88 commented on #12291
To answer your question @jnikhila

- Is the current version maintained for some time frame and can that be accessible to be added to the message so that users can have time to update and move to a newer version? **The current version would work, and the user would see the message whenever he opens the property pane. For example, the User has a button V1 widget in his app, and we release V2. His Ap

[2022-05-10 17:48] prsidhu opened #13730 "[Task]: Refactor the style prop for Positioned Container to expect primitive props"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

[Based on Abhinav's suggestion:] getPositionStyle in BaseWidget is being calculated on every PositionedContainer re-render. However, the component only relies on the calculation of xPosition and yPosition, which can be calculated separately and passed as primitive props.

[2022-05-10 18:40] ohansFavour opened #13732 "[Bug]: Async functions don't maintain any order in JS Editor settings tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 Async functions don't maintain any order in JS Editor settings tab

### Steps To Reproduce

1. Create multiple Async functions in a JS Object
2. Run them
3. Observe that order is random in the settings tab for each run

### Public Sample App

_No response_

### Version

Cloud

[2022-05-10 19:16] st-trade commented on #12651
Hi! Any update on this?

[2022-05-10 19:55] felixsuarez0727 opened #13733 "Change type of field Status in Update Message - Twilio Integration"
For update message, status is an enum field. Nidhi suggest change to dropdown.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/1e7c1943-b889-4f0a-a7d7-b106774b6c56)

**Notes:**
Search which options should be added

[2022-05-10 21:24] sumitsum commented on #12651
Hi @st-trade , unfortunately, we have not been able to prioritize it yet.

[2022-05-10 21:56] felixsuarez0727 commented on #13733
The type is changed to drop-down with the option canceled. At the moment only have one option.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/b43a27e2-df09-482d-be76-61dee51dd180)

[2022-05-11 02:55] #13254 closed

[2022-05-11 04:02] abhvsn commented on #13624
Reducing the priority considering we don't have solution as yet considering the platform limitations

[2022-05-11 04:20] RakshaKShetty opened #13734 "[Bug]: The discard change action is not performed correctly on older apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The discard change action is not performed correctly on older apps
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/167768235-a9330b2a-e893-4a53-9f45-856baea756a8.png">

### Steps To Reproduce

1. Open any older app which is connected to git
2. The app should h

[2022-05-11 04:27] RakshaKShetty opened #13736 "[Bug]: Discard the change staying in the newly created page throws a page not found error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Discard the change staying in the newly created page throws a page not found an error

### Steps To Reproduce

1. Connect the application to git
2. now add a new page
3. discard the change
4. The user will be navigated to page not found error

### Public Sample App

_No response_

### Version

rel

[2022-05-11 04:40] abhvsn commented on #13736
This is the expected behavior @RakshaKShetty as the new page is not present in the repo. Do we have different expectations?

[2022-05-11 04:53] #13582 closed

[2022-05-11 04:53] #13591 closed

[2022-05-11 04:53] #13598 closed

[2022-05-11 04:53] #13641 closed

[2022-05-11 05:19] dilippitchika commented on #11902
NOT IN SCOPE, just documenting for reference

Tree select and multi-tree-select
- [ ] #11485
- [ ] #13674
    - [ ] #12235
    - [ ] #10847
    - [ ] #12609

[2022-05-11 05:19] nidhi-nair commented on #9467
I think we've achieved this with JS editor as @ajinkyakulkarni mentioned. Closing the issue for this reason.

[2022-05-11 05:19] #9467 closed

[2022-05-11 05:25] rohan-arthur commented on #2563
related #13515

[2022-05-11 05:25] dilippitchika commented on #9424
Reach from the number of users who have set disabled.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 66 |
| Effort (months)  | 0.25 |

[2022-05-11 05:29] dilippitchika commented on #9375
Unable to reproduce now, closing this

<img width="216" alt="Screenshot 2022-05-11 at 10 58 57 AM" src="https://user-images.githubusercontent.com/19730984/167775479-740927a5-343d-4435-a311-10f5800f8548.png">

[2022-05-11 05:29] #9375 closed

[2022-05-11 05:34] dilippitchika commented on #11902
Updated the scope of the epic to only contain select and multiselect for now

[2022-05-11 05:37] AnaghHegde opened #13737 "[Task]: Improve indexing for actions due to the git operations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Check the Atlas cloud mongodb performance advisor and implement the indexes as per the suggestion

[2022-05-11 05:40] Parthvi12 commented on #12327
I am facing this issue with my app where I followed these steps

[2022-05-11 05:52] Gayathri16401 commented on #6777
Hi, Actually I want to add xml highlighter feature in my UI. For highlighting XML, I am trying to use Node.js library "hljs = require('highlight.js/lib/common');". But I was not able to import the Node.js libraries in Appsmith . Kindly look into this. Thank you!

[2022-05-11 06:12] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 in the recording you shared, the table row was already selected so it became deselected when you clicked on it. This caused the modal to become blank. You can solve this by creating a custom button to open the modal and binding the modal contents to Table1.triggeredRow

[2022-05-11 06:35] SatishGandham opened #13740 "[Task]: Use only one memoization library"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Right now we use micro-memoize and memoize-one, replace the memoize-one with micromemoize.

Mmeoize-One is used only in list widget.

[2022-05-11 06:43] SatishGandham opened #13742 "[Task]: Log and track build size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We should keep an eye on the build size before it goes out of hand. As we add more developers, its going to be hard to keep tabs on whats getting added and how the build size is growing.

We can get the build metrics in the build step, we can log them to the same db we use for performance tracking.

[2022-05-11 07:06] #13504 closed

[2022-05-11 07:34] parth-appsmith commented on #13460
@Irongade please use this designs as reference for setting the width for input fields. We have used the same structure for google sheets uqi.

https://www.figma.com/file/Qs7p5frNx7uEfVYpADGk0d/Query-Pane-Improvements?node-id=503%3A35248

[2022-05-11 07:58] #12758 closed

[2022-05-11 07:58] #9991 closed

[2022-05-11 08:11] Sripriya93 commented on #13609
Verified. QA done.
https://images.zenhubusercontent.com/275993885/27912328-a5c9-4668-a227-d7a43fde9f76/my_first_application___editor___appsmith___11_may_2022.mp4

[2022-05-11 08:14] PaulMcF1987 commented on #13690
Hi @Nikhil-Nandagopal thank you for your reply. However that is issue is quite low on the list compared with the rest.

The main issue is how long it takes for the table to show in the first place. Then when I click the row, a blank modal opens, I need to close the modal and reopen to populate. In the video, the modal was populated on the first reopen attempt however in reality it can take 3-4 att

[2022-05-11 08:31] btsgh opened #13745 "[Bug]-[60]:Incorrect behaviour for Icon Alignment property set to right, for Start and Center Placement in Menu Button Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When Icon Alignment property is set to right ->, for Start and Center Placement, the behaviour is incorrect (Compared with Prod)

Expected behaviour - Should be as per current behaviour on Prod

### Steps To Reproduce

1. Drag and drop a menu button widget.
2. Attach an icon to it
3. Icon Placemen

[2022-05-11 08:46] shwetha-ramesh opened #13746 "[Bug]: Blinking text cursor is seen inside an already selected dropdown in Welcome tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Blinking text cursor is seen inside an already selected dropdown in step 1 of Welcome tutorial. Also no hover highlight is observed for the remaining drop down option.
https://loom.com/share/00ff01b0fc7a4977be7fc737cd7406a2
![image](https://user-images.githubusercontent.com/92293815/167807956-99a1

[2022-05-11 09:01] jnikhila opened #13747 "[Bug]: Async Function settings - JS On page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For the async function, when we add the function data to the widget by using` {{JSObject.myFun. Data}} `then the function should be automatically set to run on page load. That is the RUN ON PAGE LOAD for the process will automatically be set to Yes. However, this is not working for the existing ad

[2022-05-11 09:16] #13609 closed

[2022-05-11 09:17] sentry-io[bot] opened #13749 "TypeError: Cannot read properties of undefined (reading 'widgetName')"
Sentry Issue: [APPSMITH-2H3](https://sentry.io/organizations/appsmith/issues/3262739542/?referrer=github_integration)

[code]

[2022-05-11 09:22] rohan-arthur commented on #13127
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | <<number>> |

[2022-05-11 09:23] rohan-arthur commented on #11904
JS editor unique usage, 6m: 2500

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2500 |
| Effort (months)  | <<number>> |

[2022-05-11 09:29] #13329 closed

[2022-05-11 09:36] sumitsum opened #13750 "[Feature]: auto generate form from SQL query and identify foreign key constraints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ref: https://community.appsmith.com/t/define-foreign-key-drop-downs/955
From community:
[code]

### Why should this be worked on?

Makes it easier to create forms.

[2022-05-11 10:17] Sripriya93 opened #13751 "[Bug]: Organization settings - Invite users - Able to add a user having an invalid and non existing mail ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we invite users under organization settings, we are able to add a mail ID which is non existent and also a mail ID which is Invalid.

Non existent - appregrestest@yaho.in, sritest@pokemail.net
Invalid - ahfowrhgowrigo@lnflwrng.owej
![image](https://user-images.githubusercontent.com/104895602/

[2022-05-11 10:20] #12012 closed

[2022-05-11 10:30] yatinappsmith commented on #11952
![image](https://user-images.githubusercontent.com/84702014/167829539-b466ebe6-6d9b-4664-bb1f-f62fbdc60467.png)

[2022-05-11 10:30] #11952 closed

[2022-05-11 10:44] shadabbuchh commented on #12321
1. Missing "Center" Alignment for Label: At present we have left and right alignments for the label in RTE widget. Should we also introduce a Center alignment?
![Alignment_01.PNG](https://images.zenhubusercontent.com/6278b12bad578328630ba2e7/449941c1-c275-4c46-8864-6a49c8ab39d6)
2. Line breaks do not show up in the Label
![Line Break 02.PNG](https://images.zenhubusercontent.com/6278b12bad578328630

[2022-05-11 10:53] sbres commented on #12321
Thanks for your answer @riodeuno It seems the issue has been there for one year and is not moving forward "/

[2022-05-11 10:54] jnikhila commented on #12581
Moving to the backlog as the UI changes are available on Cloud.

[2022-05-11 11:07] sbalaji1192 commented on #4757
@ashit-rath With the current implementation of the Table widget, we use the column names as given in the table Data. puny code generated key is only used for the ID purpose.

[2022-05-11 11:08] Sripriya93 opened #13752 "[Bug]: Documentation - Version select - App crashes when we select any version in the third click (random order)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we go to Documentation, and select any version
for eg., V1.2.1 and then select 1.0.0 and then V1.2, app crashes.

### Steps To Reproduce

1. Go to "Documentation"
2. Select any version in the left top corner (Eg: V1.2.1)
3. Select another version (Eg: V1.2)
4. Select another version (Eg: 1.0.

[2022-05-11 11:17] sbalaji1192 commented on #9135
@vivekverma2312 You can start testing this feature. Please test the following issues as well
#13223
#13325
#9284
#4183
#5693
#11243
#5445
#10497
#11403

[2022-05-11 11:19] dilippitchika commented on #12321
Hey @sbres apologies, I have a question
-  Are you looking for the output from `richTextEditor.text` to be in a markdown format? using the markdown tags than the html tags?

[2022-05-11 11:26] tomtom215 opened #13753 "[Feature]: Add Firestore "Count" Query Snippet or Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Due to the current Ui functionality for FIrestore query building, it is not straight forward to build a counter based widget of documents in a collection.

Some examples of how to accomplish a count in Firestore
https://syntaxfix.com/question/811/cloud-firestore-collection-count

### Why should this b

[2022-05-11 11:32] dilippitchika commented on #9018
@sbalaji1192 why do you think this is related to property pane?

[2022-05-11 11:34] dilippitchika commented on #3744
Table headers being tracked in here - #6518. Using this issue to track the scrollbars showing up.

[2022-05-11 11:35] sbalaji1192 commented on #9018
@dilippitchika This issue happens when we change the name from the property Pane on Table widget and button group widget.

[2022-05-11 11:35] zzgvh commented on #13692
I'm seeing similar issues. From time to time, have not been able to make it reproducible :-( but it still happens sometimes. Whe JSObjects were new it was much more common. The only lead I can give you is that I can fix it by renaming the JSObject twice: JSObjOrigName -> JSObjNewName1 -> JSObjNewName2 -> JSObjOrigName.

[2022-05-11 11:38] dilippitchika commented on #9018
Ok, is there a code that auto updates the bindings? Do you know who looks at that?

[2022-05-11 11:43] dilippitchika commented on #3744
Observation
1. The scroll on the height appears when the last row of the table doesn't fit the space available -- This we can fix with dynamic height.
2. Scrollbars are always visible even when my mouse is not on the table -- We should fix this

[2022-05-11 11:45] dilippitchika commented on #3744
Updated the issue description.

[2022-05-11 11:52] dilippitchika commented on #12321
Hey @shadabbuchh can you check this, I discussed with Tolu and this is also a bug - https://www.loom.com/share/833ebfc5e1f14cc0bff983e28d19d796

[2022-05-11 11:55] rohan-arthur commented on #11881
doc is live! :)

[2022-05-11 11:55] #11881 closed

[2022-05-11 11:58] shadabbuchh commented on #12321
Yes this seems to be an issue as well. Thanks you for pointing it out.

[2022-05-11 11:59] shadabbuchh commented on #12321
@dilippitchika yes this seems to be an issue as well. Thank you for pointing it out.

[2022-05-11 11:59] sbalaji1192 commented on #9018
@dilippitchika Let me have a look and assign it to the appropriate pod.

[2022-05-11 12:04] abhvsn commented on #13398
@RakshaKShetty do we have some numbers on this what has been changed. Can you share the app where you are seeing the perf degradation. Today if the application has lot of pages this is a issue that we we are currently looking at but if there is anything we should focus on?

[2022-05-11 12:06] abhvsn commented on #13736
@vuiets @Debsourabh should we look into this issue? I think we should give a CTA to redirect users to the default page for that particular branch.

[2022-05-11 12:08] abhvsn commented on #13734
@RakshaKShetty how did we end up in 1 commit ahead scenario here? This is causing the issue as there is merge conflict now after you pull the changes. On the other hand @IAmAnubhavSaini should we make a provision to display the error message here?

[2022-05-11 12:09] abhvsn commented on #13434
Closing as a part of https://github.com/appsmithorg/appsmith/pull/13487

[2022-05-11 12:09] #13434 closed

[2022-05-11 12:12] dilippitchika commented on #13403
Valid issue for json form stability -- cc @ashit-rath

[2022-05-11 12:21] dilippitchika commented on #11603
@Nikhil-Nandagopal how to estimate reach for this? My current thought is all urls where embed=true should ideally be private by default and only be public when essential.

Is this being looked at by ndx now?

Also kicking off a discussion, i think metabase have done a good job at documenting embed workflow for devs. https://www.metabase.com/learn/embedding/embedding-charts-and-dashboards

This may

[2022-05-11 12:54] dilippitchika commented on #12308
@sbalaji1192 i think something is evaluating should not be conveyed to a developer, for them all of it should be one property - query loading + table evaluating. What do you think? Can we improve the DX here?

[2022-05-11 13:09] PaulMcF1987 commented on #13690
@Nikhil-Nandagopal  @SatishGandham Any ideas as to what could be causing the issues?

[2022-05-11 13:16] shadabbuchh opened #13754 "[Bug]: Select Widget - On entering a filter value unrelated values are also displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a user enters a value in the filter option, other options which are not related to the filter are also displayed.
![Select Widget 01](https://user-images.githubusercontent.com/39921438/167858453-182e4685-ac2f-4412-aaa6-f17e0e2d3bcc.PNG)

### Steps To Reproduce

1. Drag the `Select` widget ont

[2022-05-11 13:21] Nikhil-Nandagopal commented on #13753
@tomtom215 thanks for the feature request. You're right, this isn't straight forward yet

[2022-05-11 13:22] RakshaKShetty opened #13755 "[Bug]: cyclic dependency error is displayed in the view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Getting cyclic dependency error in one of my app
Facing the issue only in the view mode not in the edit mode
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/167859846-ffc83907-b260-445a-8e76-8fde91f5cefc.png">

facing it in this app->made this app public
https

[2022-05-11 13:54] felixsuarez0727 opened #13756 "[Feature] Twilio 1.2 API Saas Integration"
### Description:

Provider of cloud communications platform as a service.

------------------------
### Documentation:

https://www.twilio.com/docs

------------------------
### TO-DO

------------------------
### API Actions Progress
| Action                             | EngSpec Doc | SaaS Manager App | SaaS App Run | Test App Run | QA  |
| ---                                | ---         | ---

[2022-05-11 13:55] btsgh opened #13757 "[Bug]-[40]:Text widget background gets cutoff, with a background colour and truncate option set."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On setting background colour, and Truncate text on a Text widget, if the Text field of the Text widget is empty, the background colour gets cutoff, and the "..." truncate option cannot be seen.

### Steps To Reproduce

1. Drag and drop a text widget and an Input widget.
2. Set the Overflow propert

[2022-05-11 14:18] sbres commented on #12321
@dilippitchika Yes in fact that's what I expected.
I'm imputing markdown text into it, I was expecting to have markdown out also.
The fact that it outputs HTML, it makes it totally unuseful as I can't store the output anymore.
I'm not using this element anymore until I can get markdown out.

[2022-05-11 14:31] mattzajork commented on #9700
Hi, is there a manual workaround (i.e. adding the cert to the keystore, or placing the file somewhere specific, etc) in the meantime?

[2022-05-11 15:53] felixsuarez0727 opened #13758 "Change Username / Password authentication labels - Twilio Integration"
Nidhi suggest that instead of Username / Password, can we have account SID and auth token in the datasource screen.

Note: It should be checked if we have control of the Labels “username” and “password” when creating a DataSource. Because require significant changes in SaaS App.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/a857dffd-2fe7-4874-afe3-e90856f6319c)

[2022-05-11 16:08] felixsuarez0727 opened #13759 "Add default value for fields - Twilio Integration"
Nikhil suggest we should have a default for fields like pageSize.

pageSize have a default value of 20.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/34394afa-472c-46c3-918c-e51111adc678)

Note: We have to investigate which fields are referring to should have a default value.

[2022-05-11 16:22] felixsuarez0727 opened #13760 "Add tooltips in the query screen - Twilio Integration"
Nikhil ask about if we can add tooltips / subtexts like UQI in the query screen.

There are two points to keep in mind:
1. It is not clear to us where UQI could be seen
2. If it is like the following image it should be checked if we have control of this tooltips in datasource

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/922859ab-d7e4-4d22-9d36-788481ef1a77)

[2022-05-11 16:34] felixsuarez0727 opened #13762 "Schedule type doesn't seem configurable - Twilio Integration"
Nikhil wrote the following question:

I should investigate what this refers since in Schedule message have a Schedule Type input which could be changed.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/9270f9e4-034e-4dd9-ad83-7af4f720d2f4)

[2022-05-11 17:15] #12171 closed

[2022-05-11 17:51] felixsuarez0727 commented on #13029
Before addresing this, we need to fix the binary files not working in SaaS Integration App.

[2022-05-11 17:55] felixsuarez0727 commented on #13507
It worked for Schedule Action, but not with List Messages.

[2022-05-11 18:01] felixsuarez0727 commented on #11404
HubSpot CMS Source and HubSpot CMS Performance are removed from the scope of this task. The first one require changes in SaaS Ap that will addressed in next sprint.  The second one will be deprecrated.

[2022-05-11 18:04] sbalaji1192 commented on #12308
@dilippitchika That should also work. There is no need to differentiate between query is loading vs table data is getting evaluated. To the end user, both should be conveyed in the same way. that data is not ready yet. So having one flag for both is  totally fine.

[2022-05-11 18:16] abhvsn opened #13763 "[Task]: Git flow optimizations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] #13824
- [ ] #13810
- [ ] #13825

[2022-05-11 19:57] ame-appsmith commented on #13382
Still waiting for clarification from the user: https://discord.com/channels/725602949748752515/968886261890822276

[2022-05-11 20:17] PaulMcF1987 commented on #13690
@Nikhil-Nandagopal @SatishGandham

https://share.vidyard.com/watch/AqqxvSKNEP1vveSBqtcFXc?

Another video...
You will see from this video that when I clicked the link to view the table, it took at least 10 seconds for the page to load and then a further 3-5 seconds for the data to display
And there are only 2 entries on the table...

In reply to the above, you will notice in the video that I selec

[2022-05-11 20:53] ohansFavour opened #13764 "[Bug]: Prioritize parse error callouts in JS Editor debugger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[See video](
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9ef82d9984064d8ba303d44b4b7e921d-00001.gif)](https://www.loom.com/share/9ef82d9984064d8ba303d44b4b7e921d)

### Steps To Reproduce

1. Run a function in JS Editor with parse errors within it . Eg Run func1 in

[code]
Observe error c

[2022-05-11 23:10] ganganimaulik commented on #12600
@nidhi-nair not sure if this is fixed by #13261

if not can you give video to reproduce?

[2022-05-12 02:08] some-rando opened #13766 "[Bug]: Dollar-Quoted String Constants with PostgreSQL and Prepared Statements causes problems"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When doing an UPDATE or INSERT query on a Postgres back end, escaping a bound string using dollar-quoted string constants `$${{ input1.like-this}}$$` and prepared statements turned on causes failure of the query. The failure seems to be doing something with offsetting the text somehow, as if it's

[2022-05-12 04:41] sbalaji1192 commented on #13180
@dilippitchika
```Today we can support cursor based pagination, but to support it lastPageNo or pageDirection is needed so that the dev knows whether the user has clicked next or previous.```
What is lastPageNo in cursor-based pagination ?

[2022-05-12 04:53] dilippitchika commented on #13754
Hey @shadabbuchh is server side filtering turned on?

[2022-05-12 04:56] shadabbuchh commented on #13754
@dilippitchika no.

[2022-05-12 04:56] sidhantgoel commented on #9537
Since this change is big, we are planning to do it in three phases.
1. In phase 1 all the BE changes which does not impact FE.
2. In phase 2 remaining BE changes and only necessary changes in FE. (like url and field names in the API calls).
3. In phase 3 remaining FE changes

Pull request for phase 1 #13710

[2022-05-12 04:57] dilippitchika commented on #13754
Ok, let me check. If this is not working then it should be high or critical.

[2022-05-12 05:01] sumitsum opened #13767 "[Bug]: getStructure fails when document size limit for Monog is exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If a database contains too many tables, or for any other reason, the getStructure value is too large, then the API server will fail to persist it on the database since it would exceed the maximum document size that is permissible in Mongo for one document.
Ref: https://theappsmith.slack.com/archiv

[2022-05-12 05:01] dilippitchika commented on #13754
![Screenshot 2022-05-12 at 10 30 35 AM](https://user-images.githubusercontent.com/19730984/167995463-3d9c815e-b470-43e1-8c29-7b632f481c96.png)

@Tooluloope do you know why the search shows results from items which don't have the same characters? It's first doing an exact match then it shows weird results.

[2022-05-12 05:03] sidhantgoel opened #13768 "[Task]: Migrate Organizations to Workspaces phase 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-12 05:03] sidhantgoel commented on #13768
Parent #9537

[2022-05-12 05:05] sidhantgoel opened #13769 "[Task]: Migrate Organizations to Workspaces phase 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-12 05:06] sidhantgoel commented on #13769
Parent #9537

[2022-05-12 05:06] sidhantgoel opened #13770 "[Task]: Migrate Organizations to Workspaces phase 3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-12 05:07] sidhantgoel commented on #13770
Parent #9537

[2022-05-12 05:10] dilippitchika opened #13771 "[Bug]: Select widget when opened adds extra space on the right"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When adding a select widget to the rightmost end of the page, opening the popover causes whitespace to be added and the rest of UI shifting to left. Expectation is that the popover will open to the left than right, similar to how datepicker works.

https://www.loom.com/share/7d0517c8f50846cda4f684

[2022-05-12 05:12] dilippitchika commented on #13771
Assuming 20% users face this

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 73 |
| Effort (months)  | 0.5 |

[2022-05-12 05:21] dilippitchika commented on #13757
The truncate ... will not be seen when there's no text, never the less the cell background getting cutoff is the issue. Adding screenshot as the above screenshot is not visible

![Screenshot 2022-05-12 at 10 50 59 AM](https://user-images.githubusercontent.com/19730984/167997565-782955a3-2452-4e10-8e50-212a27465b70.png)
![Screenshot 2022-05-12 at 10 51 09 AM](https://user-images.githubusercontent.c

[2022-05-12 05:24] dilippitchika commented on #13757
Assuming 50% of users who are using truncation face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 40 |
| Effort (months)  | 0.5 |

[2022-05-12 05:27] chandannkumar opened #13772 "[Bug]: Select family widget overlap when label are Extra Large in size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e85ef242dec0445fbe067f34fc4eccd7-00001.gif)](https://www.loom.com/share/e85ef242dec0445fbe067f34fc4eccd7)

### Steps To Reproduce

1. Add a select widget onto canvas and any widget just below the select to observe the overlap
2. Change the Labe

[2022-05-12 05:33] kocharrahul7 commented on #7910
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4000 |
| Effort (months)  | 0.5 |

[2022-05-12 05:39] dilippitchika commented on #13745
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 60 |
| Effort (months)  | 0.5 |

[2022-05-12 05:45] dilippitchika commented on #13726
Hey Chandan, the 3rd click removes sorting that is the reason why it sends null as the order and doesn't send ascending or descending. Closing this as this is expected behavior.

[2022-05-12 05:45] #13726 closed

[2022-05-12 05:47] kocharrahul7 commented on #11303
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6500 |
| Effort (months)  | 1 |

[2022-05-12 05:50] kocharrahul7 commented on #13503
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3000 |
| Effort (months)  | 1 |

[2022-05-12 05:52] Parthvi12 opened #13773 "[Bug]: On binding table widget from query editor, gives error on canvas."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/168001429-5fd7e279-5e18-4208-b891-dead8713c179.mov

### Steps To Reproduce

1. Go to query editor.
2. Bind Table widget from suggested widget sidebar.
3. Observe error is shown on debugger.
4. However on refreshing page, the error goes away.

###

[2022-05-12 05:54] sbalaji1192 commented on #9018
@dilippitchika Looks like the error was thrown from the BE on `api/v1/layouts/refactor`. Not sure who is responsible for this.
@nayan-rafiq Could you have look at this issue?

[2022-05-12 05:59] dilippitchika commented on #13706
So when you resize an input widget it becomes a text-area, i think that is the reason why icon is not retained.

Let's check from a tech standpoint if this is possible or not first and the effort, then we will plan this

[2022-05-12 05:59] chandannkumar opened #13775 "[Bug]: Multiselect widget dropdown list overlaps label body of the widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/a3946dd054ea42c9b25b1a0bc4937301

### Steps To Reproduce

1. Add multiselect widget onto canvas
2. Add large list of options to observe the overlap
3. Click on the dropdown and observe

P.S: Only happening on Multi select widget

### Public Sample App

_No response_

###

[2022-05-12 06:11] dilippitchika commented on #13645
The current behavior on required is not upto the mark and needs some more design investigation. Assigning this to design team to triage and get back.

[2022-05-12 06:14] dilippitchika commented on #13645
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 70 |
| Effort (months)  | 0.5 |

[2022-05-12 06:17] abhvsn commented on #12327
This is not the right place to report this issue, as we are discussing the `Map datatype` here. @Parthvi12 but this seems like a change in JSObject, is this reproducible everytime?

[2022-05-12 06:17] dilippitchika commented on #12321
Understood, this looks more like a bug. Let me try to pick this up on priority

[2022-05-12 06:30] dilippitchika commented on #12308
Understood, can we use something like Table.isLoading property to handle both of these?

[2022-05-12 06:34] dilippitchika commented on #13180
@sbalaji1192 for the dev to write a query on whether the app viewer has clicked on next or previous, we either need lastPageNo or pageDirection to be saved. They will be used in the following manner
1. lastPageNo - In their query there will be an if condition on this if (table1.pageNo > table1.lastPageNo) then Next Query else Previous Query
2. pageDirection - In their query there will be an if con

[2022-05-12 06:36] Parthvi12 commented on #12327
@abhvsn Oh ok, closing this issue, I'll create another one as I am able to reproduce this every time.

[2022-05-12 06:36] #12327 closed

[2022-05-12 06:37] dilippitchika commented on #13772
Known issue being tracked in dynamic height project - https://github.com/appsmithorg/appsmith/issues/11038

[2022-05-12 06:37] #13772 closed

[2022-05-12 06:39] chandannkumar opened #13777 "[Bug]: Change of height of Multiselect type field in JSON form when selected more options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/442ec627df604f5496c88a84d59fb811

### Steps To Reproduce

1. Add JSON form onto the canvas
2. Add new Multiselect type field from property pane
3. Add a long list of dropdown for multiselect type field
4. Select as much options until you see +1more in the multiselect bod

[2022-05-12 06:41] dilippitchika commented on #13775
Assuming this occurs to 30% of multiselect users

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 112 |
| Effort (months)  | 0.5 |

[2022-05-12 07:08] Parthvi12 opened #13778 "[Bug]: Git sync modal shows uncommitted changes, even when there are no changes made."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On creating new app , adding actions and connecting it to git, initially in git sync modal ; it shows commit input box as disabled with text "No changes to commit". However on reopening the modal it shows "1 query modified" .
<img width="1235" alt="Screenshot 2022-05-11 at 11 12 54 AM" src="https:

[2022-05-12 07:15] Aishwarya-U-R commented on #13334
Hi @dilippitchika - I have added a script for validating this bug & is right now commented, once this is fixed can add that also to the regression suite. And adding @vivekverma2312 if incase he has any more scenarios he may have for TableFilters!

[2022-05-12 07:17] Aishwarya-U-R commented on #13334
And from script point of view - yet a many table filter scenarios are to be covered & the coverage seems less/basic Text column filters at this point of time!

[2022-05-12 07:19] sbalaji1192 commented on #13180
@dilippitchika Understood the pageDirection property. But bit unsure of lastPageNo, how we will compute the lastPageNo. is it the last the page that an user can go up to?

[2022-05-12 07:19] Tooluloope commented on #13754
THis is weird, Wasn't like this before now.
looking into this

[2022-05-12 07:40] berzerkeer opened #13779 "[Task]: Move input validation out of onInputChange on EditableTextSubComponent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

[2022-05-12 07:41] berzerkeer commented on #12345
Created an issue to for other cases - https://github.com/appsmithorg/appsmith/issues/13779

[2022-05-12 07:44] dilippitchika commented on #13180
Oh maybe the term is wrong, what i was referring to is the pageNo that the user was previously on so that they can compare this with the page number they are currently on.

[2022-05-12 08:02] Aishwarya-U-R opened #13780 "[Bug]: Reponse Format selection section to stay for JSON & RAW when data is scrolled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/168021099-655c10b5-e561-4b83-b143-f51d5352099b.mov

### Steps To Reproduce

1. Query an api which can give data in Table format
2. Observe: Different views are available for user to view the response - Table, Json, Raw
3. Scroll through the Table

[2022-05-12 08:07] ashit-rath commented on #12708
React Hook Form doesn't take `undefined` as a value and when we clear a currency input we are actively setting the value as `undefined` as it is a numeric field. As this `undefined` is not supported by React Hook Form, it is changed to whatever the previous field's default value was as a fallback.

The ideal way to fix this is to not use `undefined` but use `null` when clearing the value.

This ch

[2022-05-12 08:10] Aishwarya-U-R commented on #13078
@dilippitchika @ashit-rath If JSONForm detects a multi select input - which is an array from SourceData - it rightly creates the widget - but the options seems wrong.. I want the values from this array only to be Default values also!!
Can we consider addressing this also as part of the next steps?

<img width="1148" alt="Screenshot 2022-05-12 at 12 39 24 PM" src="https://user-images.githubusercont

[2022-05-12 08:25] kamal0808 opened #13782 "[Feature]: Copy/duplicate/create widgets programmatically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Right now there is possibility for the widgets to be copy-pasted/duplicated or created using buttons.
I'd like to know if there is a possibility to do this with some JS code.

For example, I am trying to create a dynamic form like the one existing in "Blank API request" page of Appsmith. See the gif:

[2022-05-12 08:40] nzpopa opened #13783 "[Bug]: Appsmith behind Caddy in Docker Compose with Custom SSL not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I'm using caddy-docker-proxy (https://github.com/lucaslorentz/caddy-docker-proxy) for auto SSL and to reverse proxy traffic for all my docker containers.

This is my Appsmith docker-compose.yaml:

[code]

I have created an A record pointing appsmith.something.com to my IP address.
Because I'm usin

[2022-05-12 08:41] kamal0808 commented on #10616
A Noob question here if anyone knows.

How much effort could be estimated to create a widget like this and add it to the re-usable widget pane?
I saw the client is written in ReactJs and we can possibly use open-source reactjs components to create widget components in appsmith.

I'm sorry if this is the wrong place to ask, but the widget image above seemed handy and didn't wanna create an issue ju

[2022-05-12 08:46] btsgh opened #13784 "[Bug]: In Audio widget, at onEnd event -> CopyToClipboard, incorrect behavior seen in following scenario"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I Copy to clipboard onEnd event in an audio widget, an extra modal comes up asking user to press Cmd+c to copy the text.

This is not what should happen. Text should automatically get copied to clipboard without the modal appearing.

### Steps To Reproduce

1. Drag and drop an audio widget on

[2022-05-12 08:51] rohan-arthur commented on #11943
everything that is reference in the OnClick trigger path suffers from this issue. Example, JS Object, Query

[2022-05-12 09:17] jnikhila commented on #13556
@trishaanand - As discussed, the documentation efforts seem to be of 3-4 days. No blockers from the documentation side.

[2022-05-12 09:18] jnikhila commented on #13556
@vihar and @cokoghenun - Could you please update the ticket with estimates for changes needed to Tutorials and Videos, respectively?

[2022-05-12 09:44] dilippitchika opened #13785 "[Feature]: Support RTE.text output in markdown format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Devs are looking for a way to get the data in the same format as it's inserted by the user.  This will make the behavior consistent.

### Why should this be worked on?

Today RTE outputs text in html even when the dev selects markdown as input type.

This leads to them having to convert it by themselv

[2022-05-12 09:50] sumitsum opened #13786 "[Task]: figure out way forward on cursor pagination implementation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Create a writeup with details of various implementation paths that can be taken for cursor pagination implementation.
- Share the writeup with the rest of the team to gather feedback.
- Finalize the way forward.

[2022-05-12 09:56] dilippitchika commented on #12321
Hey @sbres turns out the library we are using only supports html output. We are tracking this in a new issue and will pick this up sooner - https://github.com/appsmithorg/appsmith/issues/13785

In the meantime if you are familiar with JS objects you can try to implement a js function which does this for you. Here's a JS snippet if you are interested. I will try to create a sample app from this and

[2022-05-12 10:01] dilippitchika commented on #13078
@Aishwarya-U-R we are tracking this, but long story short it's not possible for us/appsmith to autocreate a multi-select or a select because we don't know how many options you have. All we have is info of the current row.

Is this field changing or absent in your data? If not, then you can create a custom field and make that multi-select and that will work.

[2022-05-12 10:15] SatishGandham commented on #13690
@PaulMcF1987

1. I'm unable to reproduce the blank modal issue.

2.

In the second video you ran the app in preview mode, it is just edit mode with the property pane and entry explorer hidden, this is different from the **view mode** your end-users will use.

View mode is taking 5.5 seconds to load. We are continuously working on making Appsmith faster, and I believe we can shave up to 2 seconds o

[2022-05-12 10:19] cokoghenun commented on #13556
Hey @jnikhila I'm not sure it's worth the effort to remake video content based on this change. Because
- We don't have any video specifically focused on organisations
- On the other hand, lots of time would go into rewatching all previous videos to fine instances where the word 'organisation' is said
- For those videos, the entire video would need to be rerecorded and uploaded to YT

So I'm not su

[2022-05-12 10:21] Sripriya93 opened #13788 "[Bug]: Templates page - List of template requests - Page 2 is enabled - No data to display - No "Back" button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we go to Templates page by clicking on "Request for a template" from main page and click on "See what other are requesting", we could see "List of template requests" page, if we scroll down there is page number 1 with "Next page" button enabled, but there is no data to display, Also there is

[2022-05-12 10:31] #13565 closed

[2022-05-12 10:33] Nikhil-Nandagopal commented on #13693
@Aishwarya-U-R you cannot paste programmatically. To verify if it's in the clipboard, you can manually try it because that is what the clipboard is for.

[2022-05-12 10:33] PaulMcF1987 commented on #13690
@SatishGandham
Thank you for your reply.
While I understand your response, the thing that puzzles me is why it works fine on some pages and not on others.

I would understand if the issue was persistent on all pages but but it is not.

So I am still left in the same position... wondering what it is about the data on this page that is causing the issue.

Have you looked at my Queries or my JS to se

[2022-05-12 10:42] pranavkanade opened #13789 "[Bug]: Confusion while accessing persistent and session stores with same names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Users have to keep in mind which store they are using for a particular property every time they update the value.
e.g. -
[code]
This creates two copies in two different stores. And the user has to make sure to address the proper store when they want to change the value.

### Why should this be worked

[2022-05-12 10:48] Nikhil-Nandagopal commented on #13624
@IAmAnubhavSaini @abhvsn what is the condition we check to do migrations? I'm assuming it's some sort of version check that if the app version < the migration version then we should migrate. In that case, if the user discards a change, can't we simply commit the latest app version in the repo so that re-pulling the code won't re-trigger a migration?

[2022-05-12 11:00] Pranay105 opened #13790 "Categorising Git Sync documentation and changing the heading to "Version Control with Git""
Segregate Git Sync documentation into different pages. Currently, there is an information overload as all the Git Sync features are on one page only. Had a conversation with @vuiets and @AnaghHegde where we finally came to the conclusion that it needs to be divided into subpages.
Also, We are changing the name From Git Sync to **Version Control with Git**

[2022-05-12 11:07] Pranay105 commented on #13790
@vuiets , @AnaghHegde Let me know if we need any further changes in the doc structure.

[2022-05-12 11:10] ashit-rath opened #13792 "[Feature]-[1046.5]:Widget's label should be clickable to focuses on the associated input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When a user clicks or touches/taps a label, its associated input should be focused.

### Why should this be worked on?

Having label associated is good practice for screen readers and it increases the hit area for focusing the input and provides an advantage to anyone trying to activate it — including

[2022-05-12 11:11] ashit-rath commented on #13792
Associated issue #12910

[2022-05-12 12:12] sumitsum opened #13794 "[Task]: standardize the `isEmpty()` method library across Appsmith API server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently we have usage of `isEmpty()` usage across API server that is imported from various different libraries - eg. `org.apache.commons.lang` , `org.apache.commons.lang3`, and there are other libraries like Spring that provide the same method and a bunch of other libraries whose names I am not abl

[2022-05-12 12:19] sumitsum opened #13795 "[Task]: [GraphQL] [API Server] Check if we can use `formData` instead of `pluginSpecifiedTemplates`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Ask here to figure out (and implement if viable) if we can use the new UQI schema's `formData` instead of `pluginSpecifiedTemplates` - so that we can save on a migration in future.

[2022-05-12 12:24] spark-c opened #13797 "[Docs]: Increase detail in storeValue docs"
There is confusion RE: the use of the Persistent vs Session-scoped Appsmith Store. The [docs page](https://docs.appsmith.com/framework-reference/store-value) is _technically correct_, however I don't think it's as clear or detailed as it could be given its complexity and importance.

Pranav opened an [issue]https://github.com/appsmithorg/appsmith/issues/13789) with a sample app and a video demonst

[2022-05-12 13:19] shadabbuchh commented on #13754
@Tooluloope please clarify the following:
When the user types something in the `filter` section, options that contain those typed in characters somewhere in them also show up in the suggestions e.g. below I typed in "re" and the suggestions that came up were "Red"(as expected) & "Green"(maybe because it also contains "re" in it). Is this something that is built deliberately or should this also be

[2022-05-12 13:50] Tooluloope commented on #13754
@shadabbuchh the filtering should only shows items that have the filter text,
I.e if "re" is inputed, only options with "re" in either label or value should show up.

[2022-05-12 13:52] spark-c opened #13804 "[Docs]: Document Admin Settings"
There's not much detail in what the admin settings are, and a user was blocked by lack of information.

Docs page for reference:

https://docs.appsmith.com/setup/instance-configuration/admin-settings

[2022-05-12 13:52] techbhavin commented on #13706
@dilippitchika  , I agree with your comment

when we resize the input widget then it will convert into text-area and  text-area doesn’t have the property to set an icon in the blueprint UI library

so that’s not possible

[2022-05-12 14:10] spark-c opened #13805 "[Docs]: JS Promises -- Check for accuracy and clarity"
A user has reported that the JS Promises docs found [here](https://docs.appsmith.com/core-concepts/writing-code/javascript-promises) aren't quite correct and should be revised.

A discussion of the issue can be found [here on slack](https://theappsmith.slack.com/archives/C0341RERY4R/p1652278233844619)

[2022-05-12 15:33] Nikhil-Nandagopal commented on #13782
Hello, you can do this with the list widget! This is a sample application that you can fork to inspect how it works
https://app.appsmith.com/app/bulk-insert-update/bulk-insert-update-623cd37b4d9aea1b062b347b

[2022-05-12 15:39] Nikhil-Nandagopal commented on #13752
@Sripriya93 this actually seems to be an issue with Gitbook. Could you raise an issue with them?

[2022-05-12 15:39] #13752 closed

[2022-05-12 15:40] #13751 closed

[2022-05-12 15:48] Nikhil-Nandagopal commented on #13382
@ame-appsmith I actually spoke to this user, and we realized that for their use case, a good feature would look like allowing users to configure a setting where any user from a given domain that signs up, should be automatically added to an organization

[2022-05-12 15:52] Nikhil-Nandagopal commented on #11303
@kocharrahul7 1 month seems quite high for this!

[2022-05-12 16:36] btsgh opened #13806 "[Bug]-[4]:JSON Form - Right Alignment of Icon is lost on changing icon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After Right aligning an icon, when I change the icon in JSON form Reset Button styles, the icon alignment changes back to left.

Expected behaviour - the icon right alignment should not be lost on icon change.

### Steps To Reproduce

Drag and Drop a JSON Form on canvas

1. In JSON Form, for Reset

[2022-05-12 16:39] btsgh commented on #13806
Note: In Release, JS property is added to Icon Alignment of JSON form. In that case, I think an impact is seen due to this behaviour as the JS binding is lost when the Icon is changed.
Video to show that behavior -
https://www.loom.com/share/619adb18d92943db9ac0de6da79055e0

[2022-05-12 16:49] Nikhil-Nandagopal commented on #13706
That's a great point. Let's close this then

[2022-05-12 16:49] #13706 closed

[2022-05-12 16:51] ame-appsmith opened #13807 "[Feature]-[2000]:Tooltip for Icon Button Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user should be allowed to add a hover for an icon button, just like it is possible for the regular button widget. Therefore, the Tooltip property should be available in the property pane of the icon button widget.

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100104622#par

[2022-05-12 16:55] PaulMcF1987 commented on #13690
@SatishGandham is there any way to speed this up?

Everything seems to load on page load, however, not everything is needed to load then.

For example, on page load, all that neds to load is the table.
Once I click the table to open the modal then the first tab of the modal needs to load, If I view another tab then I would expect that to load.

I have used other app builders such as Budibase and c

[2022-05-12 16:55] PaulMcF1987 commented on #13690
@SatishGandham is there any way to speed this up?

Everything seems to load on page load, however, not everything is needed to load then.

For example, on page load, all that neds to load is the table.
Once I click the table to open the modal then the first tab of the modal needs to load, If I view another tab then I would expect that to load.

I have used other app builders such as Budibase and c

[2022-05-12 17:07] SatishGandham commented on #13690
@PaulMcF1987 , I'm sorry there is nothing you can do from your side expect design your app in a way that a single page doesn't have so many widgets.

We are working on building the dataTree faster, but we don't have an ETA on it yet.

[2022-05-12 17:24] PaulMcF1987 commented on #13690
@SatishGandham

To test out what you said above, I cloned the page and removed the widgets, leaving only the table...

The video below shows me going between the 2 tabs.
Even with the widgets removed the page still loads slow which tells me that this is not the issue

https://share.vidyard.com/watch/EhcKY7WArqsmVSWpobEZ8s?

The other video below shows a comparison of the job copy table with as men

[2022-05-12 17:57] PaulMcF1987 commented on #13690
@SatishGandham @Nikhil-Nandagopal

Rather than using a modal is there any way to create a form on a different page that populates with data from the selected table row?

[2022-05-12 20:23] AS-Laguna opened #13808 "[Bug]-[932]:Unable to access `currentRow` in Menu items of Menu Buttons in Table columns"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![](https://cdn.discordapp.com/attachments/760761686549463060/974364805303504906/Screen_Shot_2022-05-12_at_1.36.33_PM.png)

### Steps To Reproduce

1. Create a table and set one of the columns to be Menu Button
2. Create or edit one of the menu items in the button
3. Try to access `currentRow` in

[2022-05-12 20:25] AS-Laguna commented on #13808
This issue is very similar to #12359

[2022-05-12 23:30] cokoghenun commented on #11921
@Pranay105 this is done and the video has been scheduled. You'll get a PR soon

[2022-05-13 02:49] kocharrahul7 commented on #13485
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 0.5 |

[2022-05-13 02:58] kocharrahul7 commented on #13788
Issue has been solved

[2022-05-13 02:58] #13788 closed

[2022-05-13 03:03] #12563 closed

[2022-05-13 03:05] kocharrahul7 commented on #10948
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4000 |
| Effort (months)  | 1|

[2022-05-13 03:06] kocharrahul7 commented on #1979
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | 2 |

[2022-05-13 03:20] kocharrahul7 commented on #8906
MS Sql server seems to no longer be whitelisted

[2022-05-13 03:20] #8906 closed

[2022-05-13 03:34] zetagalactic opened #13809 "[Bug]: I can't load my Appsmith App using POST request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

My request: is it possible to allow Appsmith apps to be loaded by POST request? I hope this won't open any security holes in future updates.

My case:
I'm using software (Bitrix24) that allows me to integrate an external page (Appsmith app in my case) inside an iframe so that it can interact with

[2022-05-13 04:52] abhvsn opened #13810 "Log execution time on mixpanel"

[2022-05-13 05:14] shadabbuchh commented on #13754
Thank you @Tooluloope. Will close this bug as now it is working as expected.

[2022-05-13 05:15] vishnu-gp commented on #13071
@vuiets BE Analytics events are now sent for all authentication methods on adding and removal.

[2022-05-13 05:32] dilippitchika commented on #13808
@ashit-rath can you take a look at this? I thought based on #12359 the only place it should impact is the color. But looks like disabled also doesn't work.

[2022-05-13 05:38] abhvsn opened #13814 "[Bug]-[82]:Delete branch button should be disabled after first click"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I click the delete branch CTA, we should disable the CTA so as to avoid the subsequent API calls.

### Steps To Reproduce

1. Connect app to git, let us take main as default branch
2. Create new branch f1
3. Checkout to main
4. Try deleting the f1 branch and click CTA multiple times and check

[2022-05-13 05:50] albinAppsmith commented on #11284
@Parthvi12  Added this functionality

[2022-05-13 05:54] techbhavin commented on #13336
@dilippitchika Not able to reproduce this issue in other Application.

we need exact step to reproduce this issue

https://images.zenhubusercontent.com/275993885/2c772dd6-c3da-4862-a2cf-2e62589d3fcc/screen_recording_2022_05_12_at_8_25_19_pm.mov

[2022-05-13 05:54] rohitagarwal88 commented on #12902
@rahulramesha/ @riodeuno : When the container/or any widget is moved to the bottom that pushes the canvas to scroll. The jittery experience is observed.

https://www.loom.com/share/330f1392cd6e49339a1449744be524dc

[2022-05-13 05:56] #12774 closed

[2022-05-13 05:57] kocharrahul7 commented on #1860
This is now enabled using Export-import, as well as forking from one organisation to another

[2022-05-13 05:57] #1860 closed

[2022-05-13 06:25] hiteshjoshi commented on #13111
@roopKrrish9696 This needs design.

[2022-05-13 06:26] hiteshjoshi commented on #9661
Closing this. Will follow up on Templates v2

[2022-05-13 06:26] #9661 closed

[2022-05-13 06:28] anvaravind commented on #13382
Or An organization should be possible such that all authenticated users should have read view by default ( organization should not be visible to anonymous users)

[2022-05-13 06:39] hiteshjoshi opened #13815 "[EPIC] Clean URL phase 2"
## Requirements for Clean URLs Phase 2:

Allow users to customise app URLs so that they can make their apps as searchable as their requirement. This is the first step to having public apps as well.

## Reasons for change:

1. Allow users to make their apps far more searchable and accessable
2. Optimise their URLs for SEO

## In scope for this Project:

1. Allowing the user to customise the URL wit

[2022-05-13 07:11] ashit-rath opened #13816 "[Bug]: JSONForm Add missing accent colors and enable missing properties access to JS convertible fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. Few fields have missing accent color
2. Some properties' JS enabled text input does not have access to `sourceData`/`formData`/`fieldState`

### Steps To Reproduce

FIelds that should have accent colors
[code]

Properties that have missing access to `sourceData`/`formData`/`fieldState` when JS

[2022-05-13 07:47] rohan-arthur commented on #2563
REST usage, 6m: 4000
apply 10% requirement, 400

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | <<number>> |

[2022-05-13 07:48] rohan-arthur commented on #13515
REST usage, 6m: 4000
apply 10% requirement, 400

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | <<number>> |

[2022-05-13 07:52] rohan-arthur opened #13818 "[Task]: Include feature branch PRs in sprint review filters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

In the current [sprint review](https://www.notion.so/appsmith/May-2-13-8adbdf30cdcf49d5838e3a4082169d46) filters, we are tracking the total open PRs under _5(b)_

Example filter is: https://github.com/appsmithorg/appsmith/pulls?q=is%3Apr+is%3Aopen++label%3A%22BE+Coders+Pod%22+-is%3Adraft

This filter

[2022-05-13 07:56] rohan-arthur opened #13819 "[Task]: Check that all issues in graphql are tagged properly to be coders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Check that all issues in graphql are tagged properly to be coders

[2022-05-13 07:58] rohan-arthur opened #13820 "[Task]: find the delta issues between entries in 6 (b)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

there is a large number of open issues in our inventory.
In the [sprint review](https://www.notion.so/appsmith/May-2-13-8adbdf30cdcf49d5838e3a4082169d46), we track the Idle inventory as _issues greater than 1 month old_

Example filter: https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3

[2022-05-13 08:08] vuiets commented on #13778
Hey @Parthvi12 thanks for catching this! Is this consistent?

[2022-05-13 08:31] vuiets opened #13821 "[Task]-[3448]:Update the documentation links for 'Version Control with Git'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We are discussing a restructure to the `Git Sync` documentation in https://github.com/appsmithorg/appsmith/issues/13790.

As we've decided to call it `Version Control with Git` going forward and the documentation URL will change to reflect the change, we have to update the documentation links in the

[2022-05-13 08:45] abhvsn opened #13822 "[Bug]: If client cancels the subscription for delete branch, application is partially deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When client cancels the subscription for delete branch application is partially deleted, this issue becomes significant when the application have lot of resources attached. As we don't have transactions in place we end up with stale entries in DB.

### Steps To Reproduce

1. Create application wit

[2022-05-13 08:59] Sripriya93 commented on #13059
Done with QA, Working fine. Moving to Done.

[2022-05-13 09:08] eco-monk commented on #11542
Will be closed with #9979

[2022-05-13 09:08] #11542 closed

[2022-05-13 09:19] ashit-rath commented on #13808
@dilippitchika I'll check this out.

[2022-05-13 09:34] hiteshjoshi opened #13823 "[EPIC] Git performance & UX"

[2022-05-13 09:40] Nikhil-Nandagopal commented on #13690
@PaulMcF1987 yes, you can pass the selected rows id to the page that has the form and have the form fetch the data of the row id in the query param as {{appsmith.URL.queryParams.id}}

[2022-05-13 09:44] abhvsn opened #13824 "[Task]: Use async calls for file operations in FileUtils class like deleteDirectory, saveFile etc"

[2022-05-13 09:44] abhvsn opened #13825 "[Task]: Instead of deleting all the files only delete which are removed and update the remaining"

[2022-05-13 09:47] #12392 closed

[2022-05-13 09:50] Aishwarya-U-R opened #13826 "[Bug]: Failure to tag a function `async` after resolving linter errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/168258011-dde834fc-3851-496e-ae86-4af4960c87d5.mov

### Steps To Reproduce

1. Create a simply JS to run a Query1
2. Make sure Query1 does not exists when this JSObj is created
3. Observe the lint error in JSEditor for the missing Query1
4. Now cr

[2022-05-13 09:51] hiteshjoshi opened #13827 "All new organizations should now be created inside the tenant instead of the instance. Modify all repository functions to query by <code class="notranslate">tenant_id` and <code class="notranslate">organization_id`"

[2022-05-13 09:51] hiteshjoshi opened #13828 "Think about the hierarchical and lateral permission inheritance for all tenant level permissions and add to the graph."

[2022-05-13 09:58] rohan-arthur opened #13829 "[Epic]: Improve Coding and Debugging Experience"
### Objective

_TBD_, will add details. Meanwhile see this: https://www.notion.so/appsmith/Improve-Coding-and-Debugging-Experience-8a987069f2a94ea6a1cd2feda941b211

### Success Metrics

| Goal          | Metric         |
| ------------- | -------------- |
| e.g. Simplify user experience  | Customer satisfaction score increases  |
| e.g. Simplify onboarding flow  | Decrease churn rate down to 30%

[2022-05-13 10:01] sumitsum opened #13830 "[Feature]: [GraphQL] Implement pagination tab - server side changes only"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Add server side changes to implement cursor pagination for GraphQL plugin.

### Why should this be worked on?

.

[2022-05-13 10:18] ashit-rath commented on #13816
Reducing the scope of this issue.
Not all properties that have missing access to sourceData/formData/fieldState will be fixed in this issue but only those which got introduced recenlty at the time of writing this and that are not present in production. These properties are `accentColor` `boxShadow` and `borderRadius`

The rest of them will be handled separately as they pose a risk which needs to b

[2022-05-13 10:22] felixsuarez0727 commented on #13696
Need to check suggestion from Nikhil about using this logo:

https://www.twilio.com/brand/elements/logos

[2022-05-13 10:24] sumitsum opened #13831 "[Task]: [GraphQL] setup GraphQl instance for QA test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-13 10:28] sumitsum opened #13832 "[Task]: create test instance for UQI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-05-13 10:29] felixsuarez0727 commented on #13733
This was completed.

[2022-05-13 10:30] #13733 closed

[2022-05-13 10:31] #13507 closed

[2022-05-13 10:31] #13537 closed

[2022-05-13 10:31] #13506 closed

[2022-05-13 10:40] #13639 closed

[2022-05-13 11:02] AmanAgarwal041 opened #13833 "[Bug]: Datasource config to Datasource Form UI issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [ ] `initialValue` passed from config is not being assigned to controls (`DROP_DOWN`, `INPUT_TEXT`, `FIXED_KEY_INPUT`)
- [ ] `evaluation` on initialValue not getting evaluated on client for `FIXED_KEY_INPUT`
- [ ] `Copy to Clipboard` functionality needed for `FIXED_KEY_INPUT`
- [ ] `initialValue

[2022-05-13 11:06] ankitakinger opened #13834 "[Task]: Single User Edit Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] UI for user groups & user information
- [x] Remove user group for a user
- [x] Delete user
- [x] Unit tests

[2022-05-13 11:24] btsgh commented on #12291
Unable to test this as the message is not coming as per Discussion with @rohitagarwal88

[2022-05-13 12:04] #11321 closed

[2022-05-13 12:07] rahulramesha commented on #12291
@btsgh This message only appears in the propertyPane of deprecated widgets. Unfortunately any new widgets that are added are not deprecated hence, it can't be seen. you can try testing in this application https://appsmith-git-deprecationwarning-get-appsmith.vercel.app/app/deprecated-warning-message-test/deprecated-widgets-6274de107c6b4e16b81a24a3/edit, This application has all the deprecated widge

[2022-05-13 12:31] PaulMcF1987 commented on #13690
@Nikhil-Nandagopal How do i use this?
I cannot find it in the docs

[2022-05-13 13:08] Sripriya93 commented on #11199
Working fine. Moving to done !

[2022-05-13 14:23] #13816 closed

[2022-05-13 15:38] ghost opened #13835 "[Feature]: Merge two applications into one"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I have page "A" inside one application and page "B" inside another application. I would like to have page A and B on the same application. This feature would allow to merge two applications together by adding all pages from app 2 to app 1.

### Why should this be worked on?

Say you're building two in

[2022-05-13 16:14] felixsuarez0727 commented on #13696
Select option 1, this is downloaded as svg in the [link ](https://worldvectorlogo.com/logo/twilio) and convert to png.

[2022-05-13 16:14] felixsuarez0727 commented on #13696
Select option 1, this is downloaded as svg in the [link ](https://worldvectorlogo.com/logo/twilio) and convert to png.

[2022-05-13 16:19] keyurparalkar opened #13836 "[Bug]: "Change theme" property pane persists between the apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Change theme property pane persists between the apps.

Environment  = RELEASE

https://user-images.githubusercontent.com/14138515/168325295-63345dec-6b84-494f-960f-387abd1650ba.mov

### Steps To Reproduce

1. Create a new app.
2. Click on the change theme in the property pane.
3. Now click on

[2022-05-13 16:50] #13696 closed

[2022-05-13 16:50] btsgh commented on #12291
Thanks @rahulramesha .. Looked up the above application. I see these widgets in your app - Input widget, Select widget, Date picker widget, File Picker widget, MultiSelect widget, Form Button, Progress Bar, Circular Progress .. and when I click on each one, I see this message -
![Screenshot 2022-05-13 at 10.03.48 PM.png](https://images.zenhubusercontent.com/6242f2f59960209e891f50ec/fb8e06f3-40eb-4

[2022-05-13 17:35] kamal0808 commented on #13782
Gotcha, thanks

[2022-05-13 17:38] some-rando commented on #10956
I'd love to see this fixed. I'm attempting a work around with Appsmith.store and pushing into arrays and stuff, and it's just too much of a pain! Working natively would make it so much better/easier.

[2022-05-13 17:44] jnikhila commented on #12291
Thanks @rohitagarwal88. Based on the confirmation we can use the message as follows:

`
 **Heading** - Stay Up-to-date
 **Message** - A new version of [WIDGET_NAME] widget is available. Upgrade to enjoy enhanced experience.
`
CC: @rahulramesha @dilippitchika

[2022-05-13 18:21] danciaclara commented on #11847
There is another user who could be facing an issue due to this encoding-decoding issue with the SMTP plugin - https://discord.com/channels/725602949748752515/760761686549463060/974586845939793920

[code]

Attaching some screenshots below

<img width="1050" alt="Screenshot 2022-05-13 at 11 49 50 PM" src="https://user-images.githubusercontent.com/32227135/168344013-dbf9c566-8c06-4b0c-9f5a-ee2c58e02f

[2022-05-13 19:21] hexadecy commented on #13545
We use al least 3 environments (dev, staging, and production)

[2022-05-13 21:56] cep21 opened #13838 "[Bug]: a helm chart was deleted for appsmith (1.5.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There is no version 1.5.2 for appsmith on https://helm.appsmith.com/index.yaml

Maybe the CICD needs to be updated to not delete old charts?

This is a problem because we use gitops to keep our cluster consistent and it cannot find 1.5.2 anymore (it's currently 1.5.3 now).

Most helm repositories

[2022-05-14 16:06] felixsuarez0727 opened #13840 "[Feature] Zendesk Integration"
Zendesk is a service-first CRM company that builds software designed to improve customer relationships. As employees, they encourage each other to grow and innovate.

## Zendesk API Hierarchy

The API Structure is roughly divided like this:

#### Ticketing API [#13841](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/13841)
- Tickets
- Users
- Or

[2022-05-14 17:31] felixsuarez0727 opened #13841 "[Feature] Zendesk Ticketing API Saas Integration"
Zendesk Ticketing API Saas Integration

### Description:

This is the reference documentation for the Zendesk Support API. It also covers features shared by other Zendesk v2 APIs. The v2 APIs consist of the Support API, the Help Center API, and the Talk API.

------------------------
### Documentation:

https://developer.zendesk.com/api-reference/ticketing/introduction/

------------------------
#

[2022-05-14 17:35] felixsuarez0727 opened #13842 "[Feature] Zendesk Help Center API Saas Integration"
## Zendesk Help Center API Saas Integration

### Description:

The Help Center API is part of the Zendesk v2 API. Responses are always filtered according to the permissions of the user on whose behalf the API request is made. For example, when the user requests a list of articles in a section, the API returns only the articles the user can view in Help Center.

The API deals only with Help Center

[2022-05-14 17:37] felixsuarez0727 opened #13843 "[Feature] Zendesk Live Chat API Saas Integration"
## Zendesk Live Chat API Saas Integration

### Description:

Zendesk Chat is a live chat solution that helps businesses increase sales conversion by engaging important leads on their websites. It is our goal to help many of these businesses use the Zendesk Chat API (the "API") to automate and enhance their customer support with Zendesk Chat.

------------------------
### Documentation:

https://de