[2020-10-03 21:19] MartinTuroci commented on #768
Hi, can I work on this?

[2020-10-03 21:32] daniloff200 commented on #905
Looks like, PR for this already exist in https://github.com/appsmithorg/appsmith-docs/pull/34

[2020-10-04 00:59] nuwan94 commented on #765
I would like to work on this issue.

[2020-10-04 03:50] hetunandu commented on #768
Hey @MartinTuroci welcome to the Appsmith community! 🎉

Assigning this issue to you. Make sure you are able to open a PR within two days.

[2020-10-04 05:50] gilga98 commented on #691
is this issue still open?

[2020-10-04 05:56] S-ayanide commented on #807
I have a validation utility for this same use-case which I can use here. Also, it adds a helper text if the user tries to submit an empty field mentioning that 'The field must not be empty'. Can I give it a go? Saw the recent PR didn't have these features.

[2020-10-04 06:01] gilga98 commented on #774
can I pick this up?

[2020-10-04 06:04] rutulganatra commented on #586
Can i take this issue ?

[2020-10-04 06:05] #711 closed

[2020-10-04 06:42] Nikhil-Nandagopal commented on #774
@gilga98 I have to give this to @avats-dev since he claimed it first! But we have a lot of good first issues that you can pick up.
@trishaanand can you guide us on the solution here

[2020-10-04 06:45] Nikhil-Nandagopal commented on #905
@mikeattara this seems to be fixed so I urge you to pick up something else

[2020-10-04 06:45] #905 closed

[2020-10-04 06:51] #648 closed

[2020-10-04 07:32] Rahul-160 commented on #903
Hi, I have elaborated my idea. Please, check it out.

[2020-10-04 07:39] pooja1198 commented on #853
@Nikhil-Nandagopal , I see the issue is still open. Can you assign it to me ?

[2020-10-04 07:50] trishaanand commented on #836
@Jain-Sanchit : Actually, this endpoint should not be open. The solution should be to disable/throw an error when this endpoint is hit. When I attempted this on my local, I didn't hit this issue. The response was big but it didn't throw a 500. I would surmise that on production, the size of the response may be too big leading to possibly out of memory error, etc. possibly.
Since this API should no

[2020-10-04 07:50] rishavjaiss commented on #652
@satbir121 ok and how do I clone and start the project on my development environment? npm install and npm start?

[2020-10-04 07:55] trishaanand commented on #774
In the file OrganizationServiceImpl.java, you will find the function : `public Mono<Organization> create(Organization organization, User user)`
This function is hit while creating organization. Inside this function, we should check for the organization.getName() being non-empty. In case that's not true, we should throw the error : `AppsmithError.INVALID_PARAMETER`

[2020-10-04 07:57] ashawe commented on #859
@Nikhil-Nandagopal I think you should make a label called "assigned" as well as "in review" so that people can easily sort out whether the issue has been assigned and whether the pr has been already made or not.

[2020-10-04 08:06] Jain-Sanchit commented on #637
@Nikhil-Nandagopal Can you please elaborate the issue ? I would like to work on this if i get it.

[2020-10-04 08:20] avats-dev commented on #774
@trishaanand @Nikhil-Nandagopal thanks. I will get started on this one. :+1:

[2020-10-04 10:18] ishaanmehta4 commented on #729
I can fix this bug.
Please assign this issue to me.
![example](https://user-images.githubusercontent.com/61118240/95012803-0fb04b80-0659-11eb-9c9f-568b1507073f.jpg)

[2020-10-04 10:22] Nikhil-Nandagopal commented on #729
@ishaanmehta4 it's yours!

[2020-10-04 10:24] Nikhil-Nandagopal commented on #729
@instareasy I'm unassigning you since you haven't raised a pr in the last 4 days. Please feel free to pick up another one of our many good first issues

[2020-10-04 10:28] Nikhil-Nandagopal commented on #637
@Jain-Sanchit the response error message says that the id is not found but its actually the email or username. So there error message needs to be updated to say that the email cannot be found or the username cannot be found if its GitHub

[2020-10-04 10:31] #904 closed

[2020-10-04 10:34] Nikhil-Nandagopal commented on #652
@rishavjaiss please read our contribution guide. It has all the relevant steps to get started with local development 🙂

[2020-10-04 10:34] ishaanmehta4 commented on #729
@Nikhil-Nandagopal the PR will be in place by tommorow night.

[2020-10-04 10:38] ishaanmehta4 commented on #729
@Nikhil-Nandagopal the PR will be in place by tommorow night.

[2020-10-04 13:22] MartinTuroci commented on #768
Thanks @hetunandu. I have problems with setting up the local dev env. I completed all the steps in [docs](https://github.com/MartinTuroci/appsmith/blob/release/contributions/ClientSetup.md), fixed minor TS error that prevented frontend build from building successfully, but it seems like the web client cannot connect to the server. I have run the `start-https.sh`:
![image](https://user-images.githu

[2020-10-04 13:22] OmkarPh commented on #826
Hi @hetunandu
I made a PR, can you checkout that.

[2020-10-04 19:40] Caitlin-Fotheringham commented on #655
Can I pick up this issue?

[2020-10-04 22:06] A-Scratchy commented on #735
Hi @satbir121, I'm struggling to get the dev env up and running for the front end. I keep running into typescript compilation errors such as ( 'xxx' is specified more than once, so this usage will be overwritten.  TS2783). I have followed the client setup guide and tried some other approaches but no luck yet.. any suggestions??

[2020-10-05 03:19] mohanarpit commented on #655
@Caitlin-Fotheringham Welcome to Appsmith! 🎉

Go for it ! I'm assigned this issue to you. Please try to raise a PR within 2 days. Also, please check our [Contribution Guide](https://github.com/appsmithorg/appsmith/blob/release/CONTRIBUTING.md) on setting up the project locally.

Feel free to invite your friends to contribute & participate in the [Appsmith Challenge](https://github.com/appsmithorg/

[2020-10-05 04:12] #609 closed

[2020-10-05 04:19] #637 closed

[2020-10-05 05:18] #662 closed

[2020-10-05 05:21] #673 closed

[2020-10-05 05:24] hetunandu commented on #673
Sorry @MartinTuroci but someone had already raised the PR by the time I could assign this to anyone. I request you to please check our other issues, I am sure there would be some that would interest you. 🙂

[2020-10-05 07:03] #683 closed

[2020-10-05 07:05] #691 closed

[2020-10-05 07:06] #768 closed

[2020-10-05 07:15] mohanarpit opened #924 "[Enhancement] Add the option to delete an organization from the user's home page"
## SubTasks

- The backend needs to add an API `DELETE /api/v1/organizations/{id}` that recursively deletes all the applications, pages, actions & datasources for a given organization ID. Once all the sub-entities have been deleted, the API will then delete the organization entity as well.
- The frontend needs to integrate with the API
- The frontend needs to refresh it's local list of organizatio

[2020-10-05 07:32] hetunandu commented on #853
@pooja1198 Assigning this to you. Please make sure you read our [docs contributions guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before starting and raise a PR in 2 days 🙂

[2020-10-05 07:34] hetunandu commented on #807
@S-ayanide thanks for your suggestions but those features seem to be out of scope for this issue. I welcome you to check out [some of our other issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22) since this one is already being worked on.

[2020-10-05 07:50] #826 closed

[2020-10-05 07:59] satbir121 commented on #735
@A-Scratchy Can you try using node version `v10.16.3`?

[2020-10-05 08:51] Nikhil-Nandagopal opened #928 "[Task] Create a flow to add query after data source is saved"
- On Save we will call test whether it's a valid datasource
- if It's valid then we show the new screen
- if it's not valid then we stay on the same screen and give an error
- There will be a +new query option which will create a query on the current page and take the user to that query

[Designs](https://www.figma.com/embed?embed_host=notion&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FRdWmO9Ny6SfkMZ

[2020-10-05 08:54] Nikhil-Nandagopal opened #929 "[Task] + widget CTA on the query screen"
- Add a table onto the current canvas using the find space function used for pasting.
- Bind the table data to the query where this was called from
- Open the property pane

[Designs](https://www.figma.com/file/RdWmO9Ny6SfkMZAFIhLKSU/Appsmtih-Workspace_Aakash?node-id=37%3A1297)

[2020-10-05 08:55] Nikhil-Nandagopal opened #930 "[Task] NUX OnBoarding"
## Problem statement
When a new user creates their first app, they have to very quickly grasp a lot of new concepts and they can lead to a chaotic first session where the user was unable to understand how appsmith works or how to use appsmith.
- A large chunk of users aren't able to run an API or query in their first session.
- A larger chunk isn't able to connect Data to a widget and thus don't d

[2020-10-05 09:03] A-Scratchy commented on #735
@satbir121, yes I have nvm set to use 10.16.3. Shall I post on the discord channel?

[2020-10-05 09:06] Nikhil-Nandagopal opened #932 "[Task] Show db structure"
- Show structure of first. DB when a user opens the editor
- Show structure of DB when the user successfully saves DB
- Show structure of DB when the user is in the query of that db

[2020-10-05 09:20] Nikhil-Nandagopal opened #933 "[Task] Add analytics for NUX"
[ ] Did the user open an example app - edit/view?
[ ] Did the new user make a working binding?
[ ] Did the new user run a successful API / query?
[ ] Did the new user drop a widget?
[ ] Did the new user use the mock DB?
[ ] Did the new user add their own DB / API?
[ ] Did the user come back if he did a successful binding?

[2020-10-05 09:37] satbir121 commented on #735
@A-Scratchy Yes, that would be great!  Please post it on the discord channel. We can help you out in a better way.

[2020-10-05 10:16] #861 closed

[2020-10-05 10:16] #859 closed

[2020-10-05 10:17] mohanarpit opened #934 "[Feature] Add OAuth2 authentication for API integrations"
## Summary
Users need a way to configure OAuth authentication for their APIs. We can have a section where users can configure the OAuth2 clientId / secret in the API pane.

## Motivation
Most SAAS integrations require OAuth and most backends support this as well.

## Additional Context
The OAuth token should be fetched, stored, and refreshed by the server using the client-Id/secret. The token shou

[2020-10-05 10:34] Nikhil-Nandagopal commented on #903
@Rahul-160 thank you for the idea. Animations do make sense but they're really hard to get right unless we focus on what needs to be animated. Would love some help there. If you can make a list of the exact interactions where animations could help, it'll help us tackle this better

[2020-10-05 10:47] Nikhil-Nandagopal opened #935 "[Docs] Steps to whitelist DB IP on AWS"
## Documentation Link

https://docs.appsmith.com/core-concepts/connecting-to-databases

## Describe the problem

Today we direct users to whitelist our IP but we don't give them the steps to do so. Doing this on AWS is painful and a page dedicated to this would be helpful!

[2020-10-05 11:40] AtieveWadhwa commented on #935
@Nikhil-Nandagopal I'd like to take this up, please assign it to me

[2020-10-05 11:43] Nikhil-Nandagopal commented on #935
@AtieveWadhwa go for it!
Just to quickly discuss the doc update, we'd like a page similar to
https://docs.appsmith.com/third-party-services/email/amazon-ses
This page can come inside this folder
https://github.com/appsmithorg/appsmith-docs/tree/v1.2/core-concepts/connecting-to-databases
Don't forget to update the main summary doc.

Also please read our [contribution guide](https://github.com/appsm

[2020-10-05 11:48] Nikhil-Nandagopal commented on #586
@rutulganatra go for it! Please read our contribution guide on how to get started!

[2020-10-05 11:49] Nikhil-Nandagopal commented on #765
@nuwan94 go for it! I've assigned you to the issue.

[2020-10-05 12:08] ishaanmehta4 commented on #729
I have already made a PR #925 to fix this issue with minimal changes in styling.
Please guide me to make changes that are required to get the branch merged (or atleast accepted for the hacktoberfest event).
Thank you

[2020-10-05 12:47] Nikhil-Nandagopal opened #939 "[Docs] Sort the widgets alphabetically in the widget-reference section"
## Describe the problem

The widgets need to be listed alphabetically in the summary section of the documentation

[2020-10-05 12:59] Nikhil-Nandagopal opened #941 "[Docs] Need a page detailing how to send data across pages"
## Describe the problem

Appsmith support multi page applications but there is no documentation on how you can send data from one page to another using query params or using the storeValue function

[2020-10-05 13:05] JoelLau commented on #939
hi @Nikhil-Curefit , will you be working on this issue yourself? If not, can I take this up as part of Hacktoberfest?

[2020-10-05 13:29] Nikhil-Nandagopal opened #942 "[Task] List of icons for applications"
Increasing the list of available icons to 72 from the previous list of 12 icons

[2020-10-05 13:34] Nikhil-Nandagopal opened #943 "[Task] Toggling property values based on other properties"
We're creating a way for users to toggle properties based on the value of other properties.

[2020-10-05 13:35] Nikhil-Nandagopal commented on #943
@riodeuno can you elaborate your solution here

[2020-10-05 13:44] Nikhil-Nandagopal commented on #939
@JoelLau I'm not! Please take this up!

[2020-10-05 14:12] prapullac opened #944 "[Bug] [Low]APIs should work without specifying https / http"
When we integrate a REST API in an Appsmith application, we should be able to hit the endpoint even if there's no http/https appended by the user to the URL.

By default the Appsmith proxy should initiate requests over `http` for such API invocations.

[2020-10-05 14:14] prapullac opened #945 "[Bug] API pane doesn't split query params correctly"
https://www.notion.so/API-pane-doesn-t-split-query-params-correctly-ed376d19fc7c45169d402a499cd2f893

[2020-10-05 14:15] prapullac opened #946 "[Bug] Autocomplete doesn't respond to mouse changes"
## Steps
1. Drag a button onto the screen
2. Open the property pane
3. In the label field open {{ }}
4. The auto-complete will open
5. Pressing down arrow shows a selection on the auto-complete
6. Hovering the mouse does not show the selection

[2020-10-05 14:17] prapullac opened #947 "[Bug] Code formatting can be automatic inside {{ }} in property pane"
https://www.notion.so/Code-formatting-can-be-automatic-inside-in-property-pane-5e424bdae209433d94c95e3cffa7ba2e

[2020-10-05 14:19] prapullac opened #948 "[Bug] not having a ; breaks the js"
https://www.notion.so/not-having-a-breaks-the-js-4b65394089e0486da3bd9913ad047506

[2020-10-05 14:22] prapullac opened #949 "[Bug] File upload is not putting picker in loading state"
## Steps to Reproduce
1. Drag a file picker
2. Create an API
3. Bind the onFileSelected to the API
4. Pick a file
5. The File picker does not go into loading state

[2020-10-05 14:24] prapullac opened #951 "[Bug]Seeing a lot of items in autocomplete even though they are not on the screen"
https://www.notion.so/Seeing-a-lot-of-items-in-autocomplete-even-though-they-are-not-on-the-screen-3bafa6d2ad334aea9f9fe4f4bfc1fc83

[2020-10-05 14:27] prapullac opened #952 "[Bug] Valid action creator bindings are shown as invalid"
https://www.notion.so/Valid-action-creator-bindings-are-shown-as-invalid-52ac085450254c788b1c517619e5798f

[2020-10-05 14:30] prapullac opened #953 "[Bug] On search the widget on Home page does not show-up in entity explorer"
https://www.notion.so/On-search-the-widget-on-Home-page-does-not-show-up-in-entity-explorer-df7936e1f5ba44f79c4b91b5cceca246

[2020-10-05 14:31] prapullac opened #954 "[Bug] Two datasource cant have same names"
## Steps to reproduce

1. Add a datasource
2. Name the datasource as "Silent" from the datasource page
3. Add another datasource
4. Name the datasource as "Silent" from the entity explorer page

and observe

## Observation

It is observed that the name of the datasource gets saved without any error for duplicate

## Expected behaviour

datasource name should be unique and error message must be dis

[2020-10-05 14:34] prapullac opened #955 "[Bug] . and ) don't work in page name"
When creating / renaming a page inside an Appsmith application, the characters `.` and `)` are not allowed. Ideally, we should allow all characters to be typed inside the page name without restriction.

[2020-10-05 14:39] prapullac opened #956 "[Bug] Clicking API or Query shows the properties, which doesn't happen for other entitites"
https://www.notion.so/Clicking-API-or-Query-shows-the-properties-which-doesn-t-happen-for-other-entitites-7fa6bd46a978443986b20b13b364eca6

[2020-10-05 14:41] prapullac opened #957 "[Bug]Clicking API or Query shows the properties, which doesn't happen for other entitites"
(https://www.notion.so/Clicking-API-or-Query-shows-the-properties-which-doesn-t-happen-for-other-entitites-7fa6bd46a978443986b20b13b364eca6)

[2020-10-05 14:43] prapullac opened #958 "[Bug] The fields in the API pane don't revert to their original size when they lose focus"
## Steps to reproduce

1. Go to the API pane in the Appsmith editor
2. Type a very long URL in the URL field. Optionally, type a long text in the input fields for query params or header params.

## Observation
The fields expand vertically to show the complete text when it's in focus. When the input field loses focus, it doesn't go back to it's original size.

## Expected behaviour
When an input fi

[2020-10-05 14:44] prapullac opened #959 "[Bug] Entity explorer search doesn't show pages"
https://www.notion.so/Entity-explorer-search-doesn-t-show-pages-7c72b9433a7f48dd8867302edae3db9a

[2020-10-05 14:46] prapullac opened #960 "[Bug] When entity moved from page1 to page2 its name is getting appended"
https://www.notion.so/When-entity-moved-from-page1-to-page2-its-name-is-getting-appended-8f0fb53a50374e93a560c7928a0824c0

[2020-10-05 14:47] prapullac opened #961 "[Bug] Additional Notifications when an app is deleted"
## Expected

When an application is deleted from the homepage, there should be only 1 notification which informs the user that the application has been successfully deleted.

## Observation
Instead we see 2 additional notifications which do not make sense.

## Screenshot
![image](https://user-images.githubusercontent.com/458946/95244093-27d9c380-082f-11eb-9e82-8a2775813e02.png)

[2020-10-05 14:50] prapullac opened #962 "[Bug] Shadow of the dropdown is too much"
https://www.notion.so/Shadow-of-the-dropdown-is-too-much-df81a40d7ad345afa6580f99b43f586c

[2020-10-05 14:52] prapullac opened #963 "[Bug] added theme must be restricted for selected account and not for all the account"
https://www.notion.so/added-theme-must-be-restricted-for-selected-account-and-not-for-all-the-account-9660829216474d649134ce935694cb38

[2020-10-05 14:53] prapullac opened #964 "[Bug] Header colour must be according to the selected Theme"
https://www.notion.so/Header-colour-must-be-according-to-the-selected-Theme-a8210cd879bf4233932dff32268ca774

[2020-10-05 14:54] prapullac opened #965 "[Bug] Organisation Menu issues on Home page"
https://www.notion.so/Organisation-Menu-issues-on-Home-page-e831930cb0c3408a92319775cd3ccdff

[2020-10-05 14:55] prapullac opened #966 "[Bug] Notification option must be displayed to user on the header"
https://www.notion.so/Notification-option-must-be-displayed-to-user-on-the-header-cb3b0692774c4d86966c838285f36248

[2020-10-05 14:56] prapullac opened #967 "[Bug] Home page : Shared user icon must be displayed to user"
https://www.notion.so/Home-page-Shared-user-icon-must-be-displayed-to-user-3a85ad4bc6fd436ba9c35779165d887c

[2020-10-05 14:58] prapullac opened #968 "[Bug] Organisation Menu issues on Home page"
https://www.notion.so/Organisation-Menu-issues-on-Home-page-e831930cb0c3408a92319775cd3ccdff

[2020-10-05 14:59] prapullac opened #969 "[Bug] Notification option must be displayed to user on the header"
https://www.notion.so/Notification-option-must-be-displayed-to-user-on-the-header-cb3b0692774c4d86966c838285f36248

[2020-10-05 15:01] prapullac opened #970 "[Bug] Home page : Org users icon must be displayed on Home Page"
https://www.notion.so/Home-page-Shared-user-icon-must-be-displayed-to-user-3a85ad4bc6fd436ba9c35779165d887c

[2020-10-05 15:02] prapullac opened #971 "[Bug] The icon picker-name menu shouldn't cover the app card"
https://www.notion.so/The-icon-picker-name-menu-shouldn-t-cover-the-app-card-21bf7b5745064904b35697bd841e824b

[2020-10-05 15:03] prapullac opened #972 "[Bug] Appsmith logo on login page should not take user to applications page"
## Steps to reproduce

1. Log out of an application
2. Multiple click on the Appsmith name displayed on the left corner of the application

and observe

## Observation

It is observed that on multiple clicks the user is navigated home page of the previously logged into application

## Expected behaviour

Clicking on the Appsmith on the login page user should not be lead to home page rather must be

[2020-10-05 15:05] prapullac opened #973 "[Bug] app.appsmith.com redirects to login even if I'm logged in"
https://www.notion.so/app-appsmith-com-redirects-to-login-even-if-I-m-logged-in-770b95d124a143449599fb72d16647d6

[2020-10-05 15:07] prapullac opened #974 "[Bug] Redirect to login page after I've reset my password"

[2020-10-05 15:09] prapullac opened #975 "[Bug] Action delete is successful but not deleted"
https://www.notion.so/Action-delete-is-successful-but-not-deleted-73d0a6efa3db4670894ec16f1416fd0d

[2020-10-05 15:10] prapullac opened #976 "[Bug] Page gets deleted in view mode when deleting in edit"
https://www.notion.so/Page-gets-deleted-in-view-mode-when-deleting-in-edit-339b9a0a096048139b20cb4382def3e7

[2020-10-05 15:12] prapullac opened #977 "[Bug] Page name updates in view mode when updated in edit mode"

[2020-10-05 15:14] prapullac opened #978 "[Bug] Remove hacky function store solve in data tree"
https://www.notion.so/Remove-hacky-function-store-solve-in-data-tree-4f15c6ebc2d54e3bbca8e56543d08b16

[2020-10-05 15:15] prapullac opened #979 "[Bug] Action selector fields are not expanding correctly"
https://www.notion.so/Action-selector-fields-are-not-expanding-correctly-6670315920d74fe19541ca04ee1e5560

[2020-10-05 15:16] prapullac opened #980 "[Bug] "Invalid data" is displayed in default date of date picker"
https://www.notion.so/Invalid-data-is-displayed-in-default-date-of-date-picker-8360811b8d76426e9c25d5f6cd6cc1b3

[2020-10-05 15:18] prapullac opened #981 "[Bug] The hidden column list is not bounded and overflows in height"
## Steps
1. Drag a table
2. Add many columns to the table data
3. Click on the column visibility option in the table
4. A very large list of columns is displayed

## Expected
The list of columns should have a bounded height and scroll

[2020-10-05 15:20] prapullac opened #982 "[Bug] Table header and body length go out of sync if extended via width"
https://www.notion.so/Table-header-and-body-length-go-out-of-sync-if-extended-via-width-75c4d928f5704287aef72409aeb6ce9e

[2020-10-05 15:22] prapullac opened #983 "[Bug] Inappropriate message is displayed to user on CUT functionality"
## Steps to reproduce

1. Add a widget
2. Using Keypad CMD+X (CUT) the widget

and observe the message

## Observation

It is observed that the user is displayed with message "Copied Tabs1" when the widget is CUT

## Expected behaviour

User must be displayed with appropriate message stating the widget is cut

[2020-10-05 15:24] prapullac opened #984 "[Bug] On Deleting an tab user is displayed with an error message"
https://www.notion.so/On-Deleting-an-tab-user-is-displayed-with-an-error-message-a470e90974f249aca4730092f65c96f7

[2020-10-05 15:25] prapullac opened #985 "[Bug] Video : When autoplay is toggled from JS to regular the option becomes "True""
https://www.notion.so/Video-When-autoplay-is-toggled-from-JS-to-regular-the-option-becomes-True-3bca508913f241bd958aafdd5e2b3925

[2020-10-05 15:26] prapullac opened #986 "[Bug] On multiple actions the widgets get the overlapped"
https://www.notion.so/On-multiple-actions-the-widgets-get-the-overlapped-9e51b7a42a224d8a98ec66afa91bafaf

[2020-10-05 15:27] prapullac opened #987 "[Bug] On Date Selected should not be called when date is de-selected"
When a date is de-selected in the Appsmith application, the date widget ends up calling the `onDateSelected` event. This should not be the case. `onDateSelected` should only be fired when a date is selected by the user.

[2020-10-05 15:28] prapullac opened #988 "[Bug] Close button in modal needs to be moved"
https://www.notion.so/Close-button-in-modal-needs-to-be-moved-c0c443087ed54932b34285563df8abba

[2020-10-05 15:29] prapullac opened #989 "[Bug] When the user converts from the Form Modal to Alert Modal the button gets missing"
https://www.notion.so/When-the-user-converts-from-the-Form-Modal-to-Alert-Modal-the-button-gets-missing-0cad2f9df86944f591bd79ab39201686

[2020-10-05 15:31] prapullac opened #990 "[Bug]: Tab widget needs to follow same style as container widget"
## Summary
The tab widget should have the same rounded corners that the container widget does

[2020-10-05 15:34] prapullac opened #991 "[Bug] The isRequired field doesn't work in checkbox"

[2020-10-05 15:36] prapullac opened #992 "[Bug] If you rename a modal and click outside, the modal name does not get saved"

[2020-10-05 15:40] prapullac opened #993 "[Bug] Date picker popup is jumping on drag"
https://www.notion.so/Date-picker-popup-is-jumping-on-drag-7d5c1176d386466f8a36a7bb5b838ffc

[2020-10-05 15:43] prapullac opened #994 "[Bug] Checkbox widget: Toggle issue while unchecking the checkbox"
https://www.notion.so/Checkbox-widget-Toggle-issue-while-unchecking-the-checkbox-9067004e6a044b91942d2897f69b2df4

[2020-10-05 15:44] prapullac opened #995 "[Bug] Dropdown jumps if there is no space inside modal when it opens"
https://www.notion.so/Dropdown-jumps-if-there-is-no-space-inside-modal-when-it-opens-005b3df5f34143e5a30b341517b6b2af

[2020-10-05 15:45] prapullac opened #996 "[Bug] Filepicker widget shows an invalid number of files has been uploaded"
## Steps to reproduce

1. Drag and drop the file picker widget
2. Click on edit prop, give max no files as eg: 2
3. Try to upload >2 files , widget shows 2 files are uploaded
4. Again try to upload > 2 files,

## Observation

File Picker widget shows 3 files are uploaded

## Expected behaviour
File picker should show the number of files that are being uploaded currently.

[2020-10-05 15:47] prapullac opened #997 "[Bug] Widget name gets hidden behind other elements"
https://www.notion.so/Widget-name-gets-hidden-behind-other-elements-e97e10357332460995a6cc750b9c6291

[2020-10-05 15:48] prapullac opened #998 "[Bug] Dropdown, Multiselect option is selected and the option is searched, After the option is selected the text doesn't remove."
https://www.notion.so/Dropdown-Multiselect-option-is-selected-and-the-option-is-searched-After-the-option-is-selected-th-0de4add130d547af83fe6cab3b6c0e91

[2020-10-05 15:50] prapullac opened #999 "[Bug] The modal is unselectable and the children names are getting cut in new widget design"
https://www.notion.so/The-modal-is-unselectable-and-the-children-names-are-getting-cut-in-new-widget-design-fc54c43c8baa44ed896f8d09470ff6dc

[2020-10-05 15:53] prapullac opened #1000 "[Bug] Dropdown : Dropdown option gets overlapped on the Modal"
## Steps to reproduce

1. Place a dropdown. In the property pane, make it a multi-select dropdown.
2. In the property pane, configure `onOptionChange` to open a modal.
3. Change an option in the multi-select dropdown

## Observation

Dropdown options get overlapped on the Modal

## Expected behaviour

Dropdown option must not get overlapped on the Modal. The multi-select dropdown must close itself

[2020-10-05 15:54] prapullac opened #1001 "[Bug] Input widget expands without boundaries in published mode"
https://www.notion.so/Input-widget-expands-without-boundaries-in-published-mode-33d0ceaae8ba4ec09a0d94d50dfe6963

[2020-10-05 15:55] prapullac opened #1002 "[Bug] Pressing tab should navigate inputs within a form"

[2020-10-05 15:56] prapullac opened #1003 "[Bug]The function docs go outside the screen when the widget is near the edge instead of re-aligning"
https://www.notion.so/The-function-docs-go-outside-the-screen-when-the-widget-is-near-the-edge-instead-of-re-aligning-28588319d3a742aead389232b37dbfe7

[2020-10-05 15:57] prapullac opened #1004 "[Bug]-[1300]:No error is shown on navigation if page name is invalid"
Using `navigateTo('NonExistentPageName')` should throw and error instead of navigating to a bad state

[2020-10-05 15:58] prapullac opened #1005 "[Bug] Cloud hosted version should not show algolia"
## Summary
1. Create an account on https://app.appsmith.com
2. Open the help icon on the bottom left
3. See search by algolia symbol

[2020-10-05 15:59] prapullac opened #1006 "[Bug] Enhancement : User readable error messages for @NotNull validation annotations"
Reference: [https://www.baeldung.com/spring-validation-message-interpolation](https://www.baeldung.com/spring-validation-message-interpolation)

This ensures that all validation annotations have human readable messages being returned to the client.

[2020-10-05 16:00] prapullac opened #1007 "[Bug] In case of wrong URL leading to connection refusal, HTTP 500 is not the correct error. Expose this to the client"
For example,

Incorrect URL : [numbersapi.com/159.65.220.83:443](http://numbersapi.com/159.65.220.83:443) (https://numbersapi.com)
Correct URL : http://numbersapi.com

We should return a proper error message instead of a generic HTTP 500 error from the server.

[2020-10-05 16:02] prapullac opened #1008 "[Bug] CURL import for incomplete but valid URLs leads to the URL not getting read"
This in turns leads to failure in importing the CURL command into a valid Action.

Example: curl www.google.com/

[2020-10-05 16:03] prapullac opened #1009 "[Bug] During create action, check for unique name across actions and widget names for the page and disallow creation of an action with non unique name"
https://www.notion.so/During-create-action-check-for-unique-name-across-actions-and-widget-names-for-the-page-and-disallo-5eef06a3d5b443d48b9ecc8ca57ffd36

[2020-10-05 17:05] reachtokish commented on #584
Is there a PR for this issue? Wanted to make my first contribution to this project.

[2020-10-05 17:17] Nikhil-Nandagopal commented on #584
@reachtokish go for it. No one has claimed this yet. Please read our contribution guidelines first and raise a pr in the next 2 days 🙂

[2020-10-05 17:20] reachtokish commented on #584
@Nikhil-Nandagopal Sure. Thnx.

[2020-10-05 17:24] satbir121 commented on #796
@avats-dev Application card has a menu in which you can update an application's properties. We need the application's properties to update on Menu's blur. The problem is that when onBlur is called after the application gets deleted. We need to set a deleting state for an application id and check if the application is deleting. We also need to check if the application exists before it gets deleted.

[2020-10-05 17:42] reachtokish commented on #584
What I can see `patra.kishore65's Personal Organization` - coming from api. Kindly refer the below screenshot. I was thinking of ellipsis but like `patra.kishore...'s Personal Organization` rather than `patra.kishore65's Personal Orga...`. @Nikhil-Nandagopal kindly help me should I go with `patra.kishore...'s Personal Organization` - this or `patra.kishore65's Personal Orga...`? If the first one i

[2020-10-05 17:43] jyash97 commented on #994
Hey @prapullac

Can you confirm if the issue you mentioned above is related to this: https://www.loom.com/share/d008f346db6547da8e1b7e078d0c9fa5

<details>
  <summary>If <b>yes</b> expand for more details else I will create a separate issue</summary>
<p>

  The above issue is happening due to the styles applied on `active` pseudo-class which removes the background. I tried removing the active clas

[2020-10-05 17:46] Nikhil-Nandagopal commented on #584
@reachtokish let's ellipsize towards the end after 40% of screen width?

[2020-10-05 17:50] reachtokish commented on #584
Got it. Thnx

[2020-10-05 18:09] gogetter22 commented on #858
PR : https://github.com/appsmithorg/appsmith-docs/pull/37

[2020-10-05 18:42] Lorem703 commented on #858
@Nikhil-Nandagopal Sorry to say but it's literally happened the 2 time. In the previous case also, I, as per the contribution guidelines waited for the issue to get assigned to me while another person comes and makes a PR directly, without even writing a single line regarding assignment and incidentally, it is accepted. This is literally the 2 time now.

[2020-10-05 18:45] kichloo commented on #858
@Nikhil-Nandagopal Sorry to say but it's literally happened the 2 time. In the previous case also, I, as per the contribution guidelines waited for the issue to get assigned to me while another person comes and makes a PR directly, without even writing a single line regarding assignment and incidentally, it is accepted. This is literally the 2 time now.

[2020-10-05 18:53] Nikhil-Nandagopal commented on #858
@kichloo sorry this happened to you. It was my understanding that you already had other issues you were working on and the claims on this issue were missed by us. As a community, if someone has an issue assigned and a separate pr arises we'll favor the assignee. While if it isn't assigned and a pr arises, we'll favor the pr.
That being said, we have a lot of open issues so I'd be happy to assign a

[2020-10-05 21:09] pc9795 opened #1012 "Wrong IP in PingScheduledTask"
## Description

I was trying to run the `appsmith-server` module locally but found that after running I get this exception in the terminal:
[code]

After further digging, I think that the value of the URL for the below variable could be wrong:
https://github.com/appsmithorg/appsmith/blob/c1b498f6b81dd67d707fd45c7dd40d6990486438/app/server/appsmith-server/src/main/java/com/appsmith/server/solutions

[2020-10-05 23:16] pc9795 commented on #419
Hi 👋
In the "Additional Context" of the issue, point no 5, where can I find the "specific task page". I am interested in this issue.

[2020-10-06 00:35] pc9795 opened #1015 "[Task] Using request DTOs instead of domain objects in APIs"
## Summary
While going through the codebase I observed that in controllers, at many places, we are using domain objects instead of a separate DTOs for handling API requests.

For example https://github.com/appsmithorg/appsmith/blob/c1b498f6b81dd67d707fd45c7dd40d6990486438/app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/UserController.java#L54

Moreover, there are no valida

[2020-10-06 00:50] pc9795 commented on #604
I am looking 👀 into this.

[2020-10-06 01:24] #1012 closed

[2020-10-06 01:28] mohanarpit commented on #1015
@pc9795 Thanks for opening this issue. You do make a good point.

I have 1 question though: Does creating a request DTO for each API mean that now we'll have to perform a deep copy of the object from the DTO to the domain object on each request? Vice-versa, will we have to perform a deep copy from domain object to DTO ( for GET API calls )? Is there a way to avoid all this copying?
Also, by any ch

[2020-10-06 01:29] pc9795 commented on #1015
@mohanarpit No need for manual copying. You can look into https://mapstruct.org/

[2020-10-06 01:30] pc9795 commented on #1015
Some code reference where I have used it: https://github.com/pc9795/portfolio/blob/master/src/main/java/com/prashantchaubey/dto/mappers/ContactMapper.java

[2020-10-06 01:38] mohanarpit opened #1016 "[Feature] Integrate with Redis"
## Summary

We would like to integrate with Redis DB.

## Motivation

Redis DB is a commonly used caching database for quick access of data. We would like to integrate with it to provide users a better experience with Appsmith

## Additional Context

For this issue, we will operate almost exclusively in the maven module `appsmith-plugins` . Each of these integrations is a plugin to the Appsmith pl

[2020-10-06 01:43] mohanarpit commented on #419
@pc9795 Welcome to the Appsmith community! 🎉

Thanks for volunteering to pick up this issue. Normally, I'd ask you to pick something simpler but based on your comments on other issues, you seem fairly well-versed with Java & are able to navigate through a larger project 😄

The integration with ES, unfortunately, requires some underlying changes to the Appsmith platform that we didn't know till thi

[2020-10-06 01:54] mohanarpit commented on #1015
@pc9795 Thanks for the pointer to mapstruct. #TIL

On reading a little more about it, in the [generated code section](https://mapstruct.org/documentation/dev/reference/html/#basic-mappings), I can see that MapStruct implicitly creates the implementation class to copy data from the domain class to the DTO. This is the copy that I'm trying to avoid. It creates unnecessary garbage in the JVM and slow

[2020-10-06 04:39] prakhargurunani commented on #941
Hey, @Nikhil-Nandagopal Can I work on this ?

[2020-10-06 04:48] prapullac commented on #994
Hi @jyash97
This is the same issue that your talking about.

[2020-10-06 04:52] mohanarpit commented on #604
@pc9795 Go for it ! 🎉

You can customize the error message by referencing [this article](https://www.baeldung.com/spring-validation-message-interpolation)

[2020-10-06 05:00] Nikhil-Nandagopal commented on #941
@prakhargurunani I've assigned the issue to you!
To quickly discuss the solution, I'm thinking  we can add a file under
https://github.com/appsmithorg/appsmith-docs/tree/v1.2/core-concepts/connecting-ui-and-logic
which talks about 2 sections
- sharing data via query params
- sharing data via local storage

each section must have a gif associated with it demonstrating the method to share the data w

[2020-10-06 06:01] #973 closed

[2020-10-06 06:05] prakhargurunani commented on #941
@Nikhil-Nandagopal Can I get some reference about API for passing params....as I am new to the project.

[2020-10-06 06:14] #1003 closed

[2020-10-06 06:21] areyabhishek opened #1018 "[Feature] Allow inviting other GitHub users to Appsmith"
## Summary

Today we can invite users by using their email id, but we can't invite developers with GitHub accounts. So my Appsmith account with GitHub id can't be invited to any other organization.

Feature requests:
1. Invite GitHub user ids
2. Notify them if possible(maybe ask for email ids to notify?)
3. Allow user to sign up using GitHub(or email that was added during the invite process)
4.

R

[2020-10-06 06:22] Nikhil-Nandagopal commented on #941
@prakhargurunani to pass params as a query parameter, you can trigger the navigateTo function and send query params to the second page. On the second page, you can refer to the query params as {{ appsmith.URL.queryParams.key }}
To use local storage you can use the storeValue function and access the value using {{ appsmith.store.key }}

[2020-10-06 06:30] #678 closed

[2020-10-06 06:36] #760 closed

[2020-10-06 06:44] Nikhil-Nandagopal commented on #839
@harishkotra this seems to be specific to your org, can you ping the URL of the org

[2020-10-06 07:00] Nikhil-Nandagopal opened #1019 "[Task] Table Property Controls"
## Sub Tasks
- [x]  Color Picker Control
- [x]  Radio Icon Control
- [x]  Check Icon Control
- [x]  Column Control
- [x] Dropdown Control

[2020-10-06 07:01] imrishabh18 commented on #990
@Nikhil-Nandagopal Can I work on this issue?

[2020-10-06 07:06] satbir121 commented on #796
@avats-dev Have you made progress on this? This issue is a little more involved. If you are not able to resolve this, please have a look at [other issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22).

[2020-10-06 07:08] Nikhil-Nandagopal commented on #830
duplicate of #784

[2020-10-06 07:08] #830 closed

[2020-10-06 07:34] visibleajay commented on #792
@mohanarpit @Nibba2018 If open, would like to take this up...

[2020-10-06 07:39] Nibba2018 commented on #792
@visibleajay okay go for it.

[2020-10-06 07:43] harishkotra commented on #839
@Nikhil-Nandagopal https://app.appsmith.org/org/5f7381eb87a2a2331d40b595/

[2020-10-06 07:50] OmkarPh commented on #972
Hi @Nikhil-Nandagopal
I am willing to work on this issue.

[2020-10-06 08:09] hetunandu commented on #972
@OmkarPh assigned this to you

[2020-10-06 08:11] hetunandu commented on #792
@visibleajay Assigned

[2020-10-06 08:25] Nikhil-Nandagopal commented on #990
@imrishabh18 go for it!

[2020-10-06 08:59] A-Scratchy commented on #981
Happy to do this one if you would like to assign :-)

[2020-10-06 09:04] mohanarpit commented on #981
@A-Scratchy Good to hear you got the setup running on your system. This issue is yours for the taking! 🎉

[2020-10-06 10:04] reachtokish commented on #1000
Can I work on this?

[2020-10-06 10:04] spielers commented on #1000
Hey @Nikhil-Nandagopal @prapullac I would like to work if found any bug please add me there

[2020-10-06 10:06] spielers commented on #987
Hey @Nikhil-Nandagopal , I would like to work on this please assign me this

[2020-10-06 10:08] spielers commented on #944
Hey @Nikhil-Nandagopal  you can assign me this.

[2020-10-06 10:10] mohanarpit commented on #1000
@reachtokish It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, check out the [Appsmith Challenge](https://github.com/appsmithorg/appsmith/discussions/863) where you can win some cool swag by inviting your friends to contribute to this

[2020-10-06 10:11] mohanarpit commented on #1000
@spielers Sorry, this is assigned to @reachtokish because he's claimed this first. There are a lot of other issues in the repo that you could solve.

Happy hacking!

[2020-10-06 10:16] reachtokish commented on #1000
Thanks @mohanarpit

[2020-10-06 10:16] mohanarpit commented on #944
@spielers It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, check out the [Appsmith Challenge](https://github.com/appsmithorg/appsmith/discussions/863) where you can win some cool swag by inviting your friends to contribute to this pr

[2020-10-06 10:17] mohanarpit commented on #944
For this issue, you'll have to make modifications to the `RestApiPlugin` in the `appsmith-plugins` maven module. Tag me in a comment incase you are stuck or need any clarifications.

[2020-10-06 10:20] mohanarpit commented on #987
@spielers It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, check out the [Appsmith Challenge](https://github.com/appsmithorg/appsmith/discussions/863) where you can win some cool swag by inviting your friends to contribute to this pr

[2020-10-06 11:25] pc9795 commented on #419
Sure. Let me have a look 👀

[2020-10-06 11:26] pc9795 commented on #1016
I am looking 👀 into this

[2020-10-06 12:02] prakhargurunani commented on #941
@Nikhil-Nandagopal I tried a lot...but couldn't successfully retrieve stores query.

[2020-10-06 12:07] prapullac opened #1025 "[Bug] Valid action creator bindings are shown as invalid"
https://www.notion.so/Valid-action-creator-bindings-are-shown-as-invalid-52ac085450254c788b1c517619e5798f

[2020-10-06 12:09] prapullac opened #1026 "[Bug] File upload is not putting picker in loading state"
https://www.notion.so/File-upload-is-not-putting-picker-in-loading-state-6d129e0564ec4b8eba0db59f3103afbf

[2020-10-06 12:13] prapullac opened #1027 "[Bug] Seeing a lot of items in autocomplete even though they are not on the screen"
https://www.notion.so/Seeing-a-lot-of-items-in-autocomplete-even-though-they-are-not-on-the-screen-3bafa6d2ad334aea9f9fe4f4bfc1fc83

[2020-10-06 12:14] Jain-Sanchit commented on #1005
@Nikhil-Nandagopal May I know the file path for this section ? I would like to work on this.

[2020-10-06 12:16] hetunandu commented on #1027
Hey @prapullac can you test this in our current release? I think it should be solved with the immutable widgets change

[2020-10-06 12:22] Jain-Sanchit commented on #958
@Nikhil-Nandagopal  Why we can not see the issue , this link requires a login and over login it says you don't have access? A lot of issues are having no description but this link only .
Please help me understand this.

[2020-10-06 12:26] Jain-Sanchit commented on #955
I would like to worn on this if i may get the proper path to the code file of this section .

[2020-10-06 13:10] jyash97 commented on #994
Thanks @prapullac I will create a PR  :)

[2020-10-06 13:14] mohanarpit commented on #958
@Jain-Sanchit Sorry that you faced this issue. We migrated a lot of issues from our internal tracker on Notion to Github which caused these Notion links to appear instead of complete description. For now, please tag @prapullac , @Nikhil-Nandagopal or me incase you'd like more details for any issue. We'll furnish more details as possible.

Apologies for this less-than-ideal experience till we figur

[2020-10-06 13:17] mohanarpit commented on #955
@riodeuno Can you help @Jain-Sanchit with the relevant files that he can use to fix this issue?

[2020-10-06 13:19] mohanarpit commented on #1005
@Jain-Sanchit I'm sorry. This got mislabeled as Hacktoberfest. Unfortunately, you don't have access to the cloud hosted version configuration keys as that is a private repository. I'm correcting the labels. Please pick another issue from our list.

[2020-10-06 13:24] reachtokish commented on #1000
@mohanarpit the reproduction instruction is not very clear to me. Could you pls elaborate more and kindly share a screenshot if possible?

[2020-10-06 13:44] reachtokish commented on #1000
I think I got the direction but unable to reproduce the issue

[2020-10-06 13:56] mohanarpit commented on #1000
@reachtokish I've added a video reproducing the issue in the description. Also added some more details to the issue. Please check that out.

[2020-10-06 13:58] reachtokish commented on #1000
Got it. Thnx @mohanarpit

[2020-10-06 14:02] Nikhil-Nandagopal commented on #941
Hi @prakhargurunani , can you post screenshots of how you were attempting to send/retrieve the data?

[2020-10-06 14:06] Nikhil-Nandagopal commented on #1026
duplicate of #949

[2020-10-06 14:06] #1026 closed

[2020-10-06 14:08] Nikhil-Nandagopal commented on #1027
duplicate of #951

[2020-10-06 14:08] #1027 closed

[2020-10-06 15:38] reachtokish commented on #1000
I was checking [@blueprintjs/select](https://blueprintjs.com/docs/#select/multi-select). And what I have come up with is that blueprintjs select component does not allow to hide dropdown panel explicitly. Kindly refer [this link](https://github.com/palantir/blueprint/issues/3850).

I have to do a hack to hide the dropdown panel like triggering a blur event on `StyledMultiDropDown` input using ref

[2020-10-06 16:43] prapullac opened #1028 "[Bug] Icon to edit the name on the property pane has a fixed position."
https://www.notion.so/Icon-to-edit-the-name-on-the-property-pane-has-a-fixed-position-d69b979375884606a2ba36cf7e985684

[2020-10-06 16:45] prapullac opened #1029 "[Bug] Delete option must not be displayed to user when user can not delete the page"
https://www.notion.so/Delete-option-must-not-be-displayed-to-user-when-user-can-not-delete-the-page-6cfff2502cf74d588f1c52c8dc9f3ffc

[2020-10-06 16:46] prapullac opened #1030 "[Bug] Intermittent : Closing and opening of Property pane makes difficult"
https://www.notion.so/Intermittent-Closing-and-opening-of-Property-pane-makes-difficult-3da191bfe1d6400ea4db88d36eadbaa4

[2020-10-06 16:48] prapullac opened #1031 "[Bug] Enhancement: Search functionality is required for Create query page"
https://www.notion.so/Enhancement-Search-functionality-is-required-for-Create-query-page-8dc6ac61ee8c4cb6949fdc1e1923ab30

[2020-10-06 16:50] prapullac opened #1032 "[Bug] Mustache templating is not supported in curl commands (old title: Curl import should accept single quotes around the url)"
## Steps
1. import the following curl
curl --location --request GET '{{host}}/scrap/api?slugifiedName=Freshdesk&ownerName=volodimir.kudriachenko'
2. The import fails to add the {{host}}

[2020-10-06 16:52] prapullac opened #1033 "[Feature]-[1300]:Display Page suggestions when user is focused on the navigate action selector"
## Description
When a user selects the navigate action in an action selector, they have to enter an empty input which provides no feedback as to what values can go there. The values accepted are a URL or the name of the page but there is no intimation of this to a user

[2020-10-06 16:54] prapullac opened #1034 "[Bug] Enhancement : Highlight the "Copied" button when the link is copied"
https://www.notion.so/Enhancement-Highlight-the-Copied-button-when-the-link-is-copied-c97397994878404cb38e92f30beaa3e9

[2020-10-06 17:02] prapullac opened #1036 "[Bug] Orgs should be ordered in the order in a user was invited to them on the home page"
## Steps
1. Create 2 accounts
2. Create an organization in the second account with a name starting with A
3. Invite the user from the first account
4. The organization that the user was invited to should show up at the bottom of the list but instead shows up at a random location

[2020-10-06 17:03] mohanarpit commented on #1000
@satbir121 Can you please comment on the proposed solution above?

[2020-10-06 17:04] DevLokCodes commented on #1034
can i help out ?

[2020-10-06 17:06] prapullac opened #1037 "[Bug] When the role of the member is changed by Admin the member but must be intimated by a mail"
#Steps
1. Add a user to an org as app viewer
2. Update the user's role in the settings page
3. The user does not receive an email informing of the update

[2020-10-06 17:08] prapullac opened #1038 "[Bug] When an API is copied multiple time the suffix "Copy" as many time it is copied"
## Steps
1. Create an API
2. Copy the API
3. Copy the API again
4. The name of the new apis is APICopyCopy instead of API Copy(1)

[2020-10-06 17:12] prapullac opened #1039 "[Bug]Enhancement : An Auto triggered Acknowledgement mail can be sent to user on Feedback"
https://www.notion.so/Enhancement-An-Auto-triggered-Acknowledgement-mail-can-be-sent-to-user-on-Feedback-e664427002d943b9a36cc14442780f71

[2020-10-06 17:15] Nikhil-Nandagopal commented on #1039
@prapullac let's not Move the p2s for now

[2020-10-06 17:15] prapullac opened #1040 "[Bug] Widgets symbol must be same on both Side bar as well as on entity explorer"
https://www.notion.so/Widgets-symbol-must-be-same-on-both-Side-bar-as-well-as-on-entity-explorer-782a7e3c33dd493f8c25164a2103b1a0

[2020-10-06 17:17] prapullac opened #1041 "[Bug] When a particular Datasource is selected the entire layout of datasource entity is selected"
https://www.notion.so/When-a-particular-Datasource-is-selected-the-entire-layout-of-datasource-entity-is-selected-561c2663ffc246e097e60bf0d8dccb58

[2020-10-06 17:19] prapullac opened #1042 "[Bug] Simplify the text for empty states in entity explorer"
https://www.notion.so/Simplify-the-text-for-empty-states-in-entity-explorer-0c6d096f833d4ade8bd134cd7e119b2d

[2020-10-06 17:19] jyash97 opened #1043 "[Feature]: Responsive preview of the application"
## Summary

A way to preview the application to test how it will perform on various screen sizes or devices.

## Motivation

Currently, there is only one way to test this is deploy the application, and using the dev tools test the responsiveness in the deployed URL.

## Additional Context

One idea on how I think responsiveness can be handled is by having a button for previewing the application at

[2020-10-06 17:22] prapullac opened #1044 "[Bug] Collapse track should be shown for the current entity's parent group only"
https://www.notion.so/Collapse-track-should-be-shown-for-the-current-entity-s-parent-group-only-f0def2fb951a482ab7439f04619b5564

[2020-10-06 17:24] prapullac opened #1045 "[Bug] Hover highlight in entity explorer should be edge-to-edge"
## Steps
1. Hover over an item in the entity explorer in an application
2. The hover is not edge to edge

[2020-10-06 17:26] prapullac opened #1046 "[Bug] On Search User is not displayed an information message pertaining to Keyword"
https://www.notion.so/On-Search-User-is-not-displayed-an-information-message-pertaining-to-Keyword-ab084e4480b5458d971a107c76355573

[2020-10-06 17:29] prapullac opened #1047 "[Bug] Organisation Share user profile icon must be displayed"
https://www.notion.so/Organisation-Share-user-profile-icon-must-be-displayed-20c5698e614742c9894f3665f20f7b3e

[2020-10-06 17:30] prapullac opened #1048 "[Bug] Enhancement: Deleting the application user must be displayed with confirmation message"
https://www.notion.so/Enhancement-Deleting-the-application-user-must-be-displayed-with-confirmation-message-4b8ba7a1b1b14e7cb00065dcaa883c05

[2020-10-06 17:31] prapullac opened #1049 "[Bug] Share button looks more like a label."
https://www.notion.so/Share-button-looks-more-like-a-label-ccb01d408e7c4b2f8718422cd9707d48

[2020-10-06 17:33] prapullac opened #1050 "[Bug] Search : Feature not available"
https://www.notion.so/Search-Feature-not-available-25135fa0e54d48b188bb981bef3cb7c9

[2020-10-06 17:34] prapullac opened #1051 "[Bug] Text Input : Feature not available"
https://www.notion.so/Text-Input-Feature-not-available-c4c2e541a5134022be35c031b29d7efd

[2020-10-06 17:35] prapullac opened #1052 "[Bug] Button : Features not available"
https://www.notion.so/Button-Features-not-available-209819b002d449cf9729531f1132c71f

[2020-10-06 17:36] prapullac opened #1053 "[Bug] Size of the Share must be increased"
The `Share` option displayed on the Home page is too small. Increasing the size of the Share option makes it visible and user friendly.

## Screenshot

![image](https://user-images.githubusercontent.com/458946/95243426-455a5d80-082e-11eb-8355-e16b5f0d5dac.png)

[2020-10-06 17:37] prapullac opened #1054 "[Bug] Rename org option is not present"

[2020-10-06 17:38] prapullac opened #1055 "[Bug] Highlight the search bar in the Homepage"
https://www.notion.so/Highlight-the-search-bar-in-the-Homepage-d897bf7617f04f3db469035179a62154

[2020-10-06 17:40] prapullac opened #1056 "[Bug] Enhancement : Application name must get stored when clicked outside the property pane the"
https://www.notion.so/Enhancement-Application-name-must-get-stored-when-clicked-outside-the-property-pane-the-fcc11a0032604ce98baa03a4e8b8c001

[2020-10-06 17:41] prapullac opened #1057 "[Bug] Close option must be displayed to user search bar"
https://www.notion.so/Close-option-must-be-displayed-to-user-search-bar-1df0fe6fe12c42b49455623a25fa8475

[2020-10-06 17:42] prapullac opened #1058 "[Bug] The login url should be /login instead of /user/login. Same for signup"
If someone types only `/login`, we should redirect them to `/user/login`? The same behaviour should exist for `signup`. It should redirect the user to `/user/signup`.

We still want to keep the `/user` prefix because that URL loads other assets and handles the navigation to other user login/signup related activities.

[2020-10-06 17:44] prapullac opened #1059 "[Bug] Clicking on "Back to login" button the user is carried to organisation page and then to Login page"
https://www.notion.so/Clicking-on-Back-to-login-button-the-user-is-carried-to-organisation-page-and-then-to-Login-page-d70494d0b5f642fb83b3104683cf8bcc

[2020-10-06 17:46] prapullac opened #1060 "[Bug] Clicking on the Browser back navigation button the user navigated out off the application without sign out"
## Steps to reproduce
1. LogIn to the application
2. Add some widgets
3. add  some page
4. Now click on the back navigation button of the browser
and observe that the user is taken back to login page of the application
5.  Now click on the forward navigation button of the browser
and observe that the user is taken to the different pages or into the application

[2020-10-06 17:58] Jain-Sanchit commented on #1058
@Nikhil-Nandagopal Can you elaborate the issue a bit , I think I can work on this one .

[2020-10-06 18:06] Jain-Sanchit commented on #1053
Is the share button on top navbar while editing the app? What size is expected ?

[2020-10-06 18:18] mohanarpit commented on #1053
@Debsourabh Can you please help with the correct dimensions of the button?

[2020-10-06 18:19] jyash97 commented on #961
Hey @prapullac

Can I take a look at this ? This is when we see error notifications after deleting an application. Right ?

[2020-10-06 18:22] mohanarpit commented on #1058
@Jain-Sanchit I've added details to the ticket. Please let me know if this makes sense to you. Would you like me to assign the issue to you as well?

[2020-10-06 18:25] mohanarpit commented on #961
@jyash97 Yes you are right. I've added more details to the issue description. Have assigned you the issue as well.

[2020-10-06 18:29] mohanarpit commented on #1048
Duplicate of #961

[2020-10-06 20:09] Jain-Sanchit commented on #1058
@mohanarpit  I got the issue , and i think I have decoded what i have to do in the time .
I think I have to add 2 redirect routes in the client side in AppRouter.tsx file here [https://github.com/appsmithorg/appsmith/blob/bf2b4efbfd6cec003827dae35c645fd807cad0d9/app/client/src/AppRouter.tsx#L70](url) .
I will raise a PR , if you think its correct . Please assign me and let me know.

[2020-10-06 23:09] avats-dev commented on #796
ok @satbir121 :+1:

[2020-10-06 23:14] Rehan6225 commented on #972
@Nikhil-Nandagopal excited to work on this issue

[2020-10-06 23:19] Rehan6225 commented on #972
@Nikhil-Nandagopal can i work on this issue?

[2020-10-06 23:25] mohanarpit commented on #1058
@Jain-Sanchit Yes. Along with that you will have to remove the `/login` sections in the `docker/templates/nginx-mac.conf.template`, `docker/templates/nginx-linux.conf.template` and `deploy/template/nginx_app.conf.sh`. These Nginx files are responsible for the routing on the server side.

[2020-10-07 06:33] #697 closed

[2020-10-07 06:36] Nikhil-Nandagopal commented on #1031
@prapullac shouldn't entity explorer search solve this?

[2020-10-07 06:37] hetunandu commented on #587
@Nikhil-Nandagopal @Debsourabh The icon is not needed since the blueprint design system already had this. This is what the implemented PR looks like
<img width="690" alt="Screenshot 2020-10-07 at 12 06 03 PM" src="https://user-images.githubusercontent.com/12022471/95295980-9c474d80-0895-11eb-9e28-9bc9ca66d739.png">

[2020-10-07 06:38] #587 closed

[2020-10-07 06:44] #1039 closed

[2020-10-07 06:44] Nikhil-Nandagopal commented on #1039
We're doing this manually today

[2020-10-07 06:44] #807 closed

[2020-10-07 06:44] #1042 closed

[2020-10-07 06:45] #1031 closed

[2020-10-07 06:47] Nikhil-Nandagopal commented on #972
@Rehan6225 Omkar is already working on this. I suggest you have a look at our many open good first issues :) I'd be happy to help you find one if you're having trouble

[2020-10-07 06:50] Nikhil-Nandagopal commented on #1043
@jyash97 this is a great feature once we support responsive UI. Right now our UI is fixed for desktop screens and we don't scale for smaller devices. We'll look at incorporating this when we build our mobile responsive feature

[2020-10-07 06:52] #1057 closed

[2020-10-07 06:53] #1055 closed

[2020-10-07 06:55] Nikhil-Nandagopal commented on #1053
@Jain-Sanchit this is for an on-going project so not currently up for grabs :)

[2020-10-07 06:57] Nikhil-Nandagopal commented on #1049
duplciate of #1053

[2020-10-07 06:57] #1049 closed

[2020-10-07 06:58] #1046 closed

[2020-10-07 07:01] #1044 closed

[2020-10-07 07:02] #1041 closed

[2020-10-07 07:02] Nikhil-Nandagopal commented on #1040
@prapullac can you mention which widget symbols are not the same

[2020-10-07 07:06] #1034 closed

[2020-10-07 07:07] #610 closed

[2020-10-07 07:08] #1030 closed

[2020-10-07 07:12] #1029 closed

[2020-10-07 07:13] #1028 closed

[2020-10-07 07:13] #655 closed

[2020-10-07 07:17] #636 closed

[2020-10-07 07:26] prapullac commented on #1040
@Nikhil-Nandagopal
We can close this issue as this does not exits now.

[2020-10-07 07:41] #994 closed

[2020-10-07 07:46] riodeuno commented on #955
@Jain-Sanchit The page entity names are resolved using the function `resolveAsSpaceChar` in `app/client/src/utils/helpers.tsx`. This function takes the user entered string and returns a new value to allow only spaces (currently), by replacing all consecutive non-alphanumeric characters (regex `\W`) with one space character.
Hope this helps.

[2020-10-07 07:59] Jain-Sanchit commented on #955
@riodeuno Thanks for the info . I will get onto this and try solving the issue.

[2020-10-07 07:59] #1040 closed

[2020-10-07 08:02] prapullac opened #1063 "[Bug] Delete option on Property Pane looks like its on the edge."
Steps to reproduce:
Step 1 : Add a widgets(Radio button ,Dropdown)
Step 2 :  Click on Property Pane
Step 3 : Observe the Delete option

![Screen Shot 2020-10-07 at 1 21 54 PM](https://user-images.githubusercontent.com/71753653/95303856-614b1700-08a1-11eb-8457-1da6863d2e48.png)

[2020-10-07 08:57] deepakchethan commented on #941
@Nikhil-Nandagopal, If its open now, I can take this up

[2020-10-07 09:02] Nikhil-Nandagopal opened #1064 "[Task] Create a default query and binding for all widgets"
## Description
getUsers will be the name of the query that returns 10 users
Table
DropDown
Radio
Chart
Image

[2020-10-07 09:23] Nikhil-Nandagopal commented on #941
@deepakchethan go for it!

[2020-10-07 11:30] NetPenguins commented on #1063
I would like to take this one.

[2020-10-07 12:00] Nikhil-Nandagopal commented on #1063
@NetPenguins go for it!

[2020-10-07 12:45] jyash97 commented on #1063
Hey @Nikhil-Nandagopal 👋

It would be great to have a label to identify that the issue is already taken or someone is working on it. This will help new developers to filter issues.

Thanks

[2020-10-07 13:09] Nikhil-Nandagopal commented on #1063
@jyash97 we'll eventually transition to an unassigned status for issues that no one has claimed. Right now we're just moving all our issues from our internal notion to GitHub so I'm still the assignee on them :)

[2020-10-07 13:55] OmkarPh commented on #972
Hi there, I am using WSL currently,
When I try to do yarn start, it gives error as no such file or directory.

[2020-10-07 15:19] #932 closed

[2020-10-07 16:01] mohanarpit commented on #972
@OmkarPh Sorry that you're facing this issue. Can you join our [Discord](https://discord.gg/rBTTVJp) channel? Will be easier to debug this issue and get you started on the codebase.

[2020-10-07 17:20] Sufiyan1997 commented on #1038
@prapullac I would like to work on this. Can you assign it to me?

[2020-10-07 17:24] Sufiyan1997 commented on #1037
@Nikhil-Nandagopal I would to work on this. Can you assign it to me?

[2020-10-07 17:25] Nikhil-Nandagopal commented on #1037
@Sufiyan1997 go for it!

[2020-10-07 18:23] jyash97 commented on #961
@mohanarpit

I have found the root cause for the issue and have 2 approaches that may require inputs from the team. I am adding all the details below:

### Current Issue

The above issue happens because we send an update API request just after deleting; Triggered due to the `onBlur` event of `EditableText` present [here](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/App

[2020-10-07 19:10] Jain-Sanchit commented on #955
@satbir121  @riodeuno Can you please let me know where is being this function actually used , in which component , as there may be scenarios that I update the function but function was needed somewhere else . So is there any way to know where is this function is being used in the code ? So that before raising a pull request I will be sure about its correctness .
Thanks

[2020-10-07 19:21] Jain-Sanchit commented on #1045
Sorry if my doubt is too stupid , Can i know what is 'Entity Explorer'? @Nikhil-Nandagopal

[2020-10-07 20:45] A-Scratchy commented on #749
Is this up for grabs?

[2020-10-07 20:47] Nikhil-Nandagopal commented on #749
@A-Scratchy yes it is! Go for it

[2020-10-07 20:48] Nikhil-Nandagopal commented on #1045
@Jain-Sanchit the entity explorer is the sidebar on the left which has all the names of the widgets and APIs

[2020-10-08 02:15] mohanarpit commented on #955
@Jain-Sanchit If you're using an IDE like VSCode, you can right click on the function name and choose "Find all references". A quick google search for your IDE will tell you the flow (if you aren't using VSCode).

[2020-10-08 02:17] mohanarpit commented on #1038
@Sufiyan1997 Go for it! 🎉

[2020-10-08 02:20] mohanarpit commented on #1037
@Sufiyan1997 Just to ensure you are on the right track, this bug requires changes in `UserOrganizationServiceImpl` class in `updateRoleForMember`. This is on the server code base.

[2020-10-08 02:23] mohanarpit commented on #961
@jyash97 Thanks a lot for the detailed analysis and suggestions on the code change.

@satbir121 Can you please comment on the above suggestions?

[2020-10-08 02:33] NetPenguins commented on #1063
Cant seem to get the dev env up and running. It continues to fail to compile. I keep getting random variants of the following  `'name' is specified more than once, so this usage will be overwritten.  TS2783`

[2020-10-08 02:42] mohanarpit commented on #1063
@NetPenguins Can you please join our [Discord](https://discord.gg/rBTTVJp) channel? Will be easier to debug there.

[2020-10-08 02:54] NetPenguins commented on #1063
I will be on tomorrow and will provide screenshots of what I'm seeing.

[2020-10-08 04:44] prapullac commented on #1027
We can close the issue as it is working as expected

[2020-10-08 06:03] areyabhishek commented on #795
I updated the website.

[2020-10-08 06:03] #795 closed

[2020-10-08 06:10] areyabhishek commented on #988
This issue was fixed by Satbir. Closing this issue.

[2020-10-08 06:10] #988 closed

[2020-10-08 06:23] Nikhil-Nandagopal opened #1073 "[Docs] How to use appsmith with your own authentication system"
## Describe the problem
Users need a step by step guide to using appsmith with their own authentication APIs
The guide should include steps on storing the access token, hiding views for unauthenticated users, navigating the users on success, and displaying errors

[2020-10-08 06:58] prapullac commented on #1026
Closing the issue after verifying

[2020-10-08 06:58] hetunandu commented on #951
Seems to be resolved now that `canvasWidgets` is an immutable object

[2020-10-08 07:00] #586 closed

[2020-10-08 07:29] #968 closed

[2020-10-08 07:29] #969 closed

[2020-10-08 07:30] #967 closed

[2020-10-08 07:32] Jain-Sanchit commented on #1045
@Nikhil-Nandagopal  Got it and got the error , One more thing , do we need edge to edge hovering or no edge to edge and just on the main area i.e. only the written part . I think I can try and solve this.

[2020-10-08 07:33] #596 closed

[2020-10-08 07:35] #1053 closed

[2020-10-08 07:37] #1047 closed

[2020-10-08 07:42] #1050 closed

[2020-10-08 07:48] Nikhil-Nandagopal opened #1075 "[Task] Separation of design system"
- [x]  Remove react-redux
- [x]  Add setup for tests
- [x]  Remove lodash
- [x]  Share theme type from the design system to app
- [x]  Move all components and assets
- [x]  Setup npm package publish
- [ ]  Setup Storybook and migrate stories

Replace existing components:
- [x] AppIcon
- [x] Button
- [x] CallOut
- [x] Checkbox
- [x] ColorSelector
- [x] Dropdown
- [x] Icon
- [x] IconSelector
- [x] M

[2020-10-08 08:33] Nikhil-Nandagopal commented on #1045
@Jain-Sanchit i'm not sure I understand your question. The hover of the entity explorer should be edge to edge

[2020-10-08 08:52] Nikhil-Nandagopal commented on #958
@Jain-Sanchit i've updated this so you can pick it up if you like

[2020-10-08 09:17] trishaanand commented on #1037
@Sufiyan1997 : I have added a new html template for this email. You will find it by the name `updateRoleExistingUserTemplate.html `. You would need to provide three variable values. These are as follows :
1. Inviter_First_Name : This is the session user's first name ( Or the user who is updating the role for another member of the organization)
2. inviter_org_name : This is the name of the organiza

[2020-10-08 09:26] Sufiyan1997 commented on #1037
@trishaanand Thanks. This will be very helpful

[2020-10-08 09:29] #862 closed

[2020-10-08 09:33] Nikhil-Nandagopal commented on #792
@visibleajay were you able to get around to this fix?

[2020-10-08 09:35] #629 closed

[2020-10-08 09:35] visibleajay commented on #792
@Nikhil-Nandagopal Thank You for the response. Currently occupied with other work. Need time to do it.

[2020-10-08 09:36] #598 closed

[2020-10-08 09:39] Nikhil-Nandagopal commented on #837
@priyanshu-shubham I'm unassigning you since I don't see a PR raised for this

[2020-10-08 09:40] Nikhil-Nandagopal commented on #792
@visibleajay no problem! I'm unassigning you till you find the time :) Looking forward to future contributions

[2020-10-08 09:45] #729 closed

[2020-10-08 09:49] #584 closed

[2020-10-08 09:51] Saket2 commented on #729
@Nikhil-Nandagopal  UI improvement v/s bug - Shouldn't this be counted as a bug rather than UI improvement as there is this UI breaking in a specific case?

[2020-10-08 09:52] #621 closed

[2020-10-08 10:03] #981 closed

[2020-10-08 10:15] #651 closed

[2020-10-08 10:22] Nikhil-Nandagopal commented on #1000
@reachtokish we don't necessarily need to close the dropdown, can we just modify the z-index of the open state so that it's under the modal?

[2020-10-08 10:23] Nikhil-Nandagopal commented on #652
@rishavjaiss I don't see a PR so I'm unassigning this from you for now. Feel free to claim this once you have time available :)

[2020-10-08 10:27] reachtokish commented on #1000
@Nikhil-Nandagopal thnx. Will do the needful and raise a PR in sometime.

[2020-10-08 10:28] Nikhil-Nandagopal commented on #796
@avats-dev apologies but this issue was resolved by someone internally. If you haven't started on this, I recommend you pick up another issue

[2020-10-08 10:28] #796 closed

[2020-10-08 10:32] #817 closed

[2020-10-08 10:34] Nikhil-Nandagopal commented on #935
@mohanarpit the format looks good to me. Can you verify the steps are correct

[2020-10-08 10:35] Nikhil-Nandagopal commented on #720
@avats-dev I don't see a PR in the last 5 days so I'm unassigning you from this. Feel free to claim this once more when you have a chance

[2020-10-08 10:45] Debsourabh commented on #798
https://www.figma.com/file/QzYgZz6y5U9vOyffcyKQ3j/Git-Issue-798?node-id=0%3A1

@anuragagarwal561994 You can use this design. Let us know if you need anything else.

[2020-10-08 10:47] Nikhil-Nandagopal commented on #774
@avats-dev I don't see a PR for this yet so I'm unassigning you. Feel free to come back to this when you have the time :)

[2020-10-08 11:03] Nikhil-Nandagopal commented on #1063
All open issues are not unassigned :)

[2020-10-08 11:23] jyash97 commented on #1063
Awesome thanks 💯

[2020-10-08 11:36] avats-dev commented on #720
@satbir121 I'm thinking of using `line-clamp` for clamping upto 3 lines. What do you think? Also, I should add css here, https://github.com/appsmithorg/appsmith/blob/92d0fcac8253c4ea6f168ba3a612f4fdd2242c78/app/client/src/pages/Applications/ApplicationCard.tsx#L186-L189, right for the `AppNameWrapper`?

Also, I've never imported and used a component from scratch, so can you help a bit more in impl

[2020-10-08 13:46] jyash97 commented on #718
Can I take a look at these issue?

[2020-10-08 14:17] Nikhil-Nandagopal commented on #718
@jyash97 go for it!

[2020-10-09 01:33] pc9795 commented on #1015
hmmmm, I have not thought in this way. I only used Map struct or wrote mappers by scratch.  For the starters there is this excellent [article](https://www.baeldung.com/java-performance-mapping-frameworks). I can dig in more but not sure as of now. But yeah using DTOs is debatable but IMO keeping things separate has its own benefits.

[2020-10-09 05:04] harishkotra commented on #837
@Nikhil-Nandagopal no above-them for this one? I'm surprised this is labeled as a low priority one and an enhancement while this to me is a serious security concern.

[2020-10-09 05:25] #735 closed

[2020-10-09 06:23] #858 closed

[2020-10-09 06:25] Nikhil-Nandagopal commented on #939
@JoelLau I don't see a PR raised for this issue so I'm unassigning you. Feel free to come back to this when you have the time :)

[2020-10-09 06:33] Nikhil-Nandagopal opened #1087 "[Bug] In Async Branch. Table bindings break temporarily"
## Steps
1. Go to demo app on stage
2. Change table onRowSected to No Action
3. Change the table onRowSelected to fetchUsers
4. Notice the table breaks for a few seconds

[2020-10-09 06:44] aakashDesign opened #1089 "[Feature] Allow users to upload images to appsmith servers so they can be used in image widgets"
## Description

The image widget does not support image uploading from computer and only accepts a URL.

## Ideal solution

There should be an option to upload single/multiple images. Along with ability to drag and drop to upload an image from file explore.

[2020-10-09 06:46] Nikhil-Nandagopal commented on #1089
@aakashDesign I believe the file picker does this. Image widgets are only to display uploaded images and hence only take a url or base64

[2020-10-09 06:52] Nikhil-Nandagopal commented on #872
@anvaynk we're in the process of shipping this out. We had one clarification. There's a token verification that needs to occur which is what protects an endpoint from bots. We're thinking we'll pass this token back to your login API and your login API is going to verify the token. Is this understanding correct?
This will also mean that the sitekey which you generate should have app.appsmith.com in

[2020-10-09 06:53] aakashDesign commented on #1089
@Nikhil-Nandagopal My problem here is not with the file picker. I just want to display a couple of icons on my app canvas. The image widget is what I'd like to use.

My ideal flow -
1. Drop Image Widget to canvas.
2. Select an image from Desktop.
3. Image widget now displays my chosen PNG/JPG.

[2020-10-09 07:04] Nikhil-Nandagopal commented on #1089
@aakashDesign I think I understand now. This looks like it's more of a
File upload into our own appsmith servers and using that file in the image widget
Taking this up as a feature request not a bug

[2020-10-09 07:26] mohanarpit opened #1090 "[Enhancement] Issues linked to PRs being merged into release should be tagged with QA label"
## Summary

We need to add a Github Action that labels issues that are linked to PRs to be labelled as `QA` when the PR is accepted and merged into release. This will ensure that the QA team can filter via those issues and assert that the functionality (as described) in the Github issue is working as specified.

## Motivation

Github automatically closes issues with PRs linked to them when the PR

[2020-10-09 08:02] Nikhil-Nandagopal opened #1092 "[Feature] Dynamically control page visibility"
## User stories:
1. Users implementing login via their own APIs need to hide pages that aren't accessible till the login is complete
2. Users want to conditionally hide pages that are not relevant to certain user ids or user groups

## Designs required:
1. Way to access page properties: Order of pages, mark certain pages as 'Homepage', control visibility of pages
2. Property window to modify the p

[2020-10-09 08:44] snehal199 commented on #939
Can I pick this up @JoelLau ?

[2020-10-09 08:47] #1090 closed

[2020-10-09 09:05] JoelLau commented on #939
hey sorry, things got a bit crazy at work. please go ahead and re-assign this issue to someone else. thanks for asking @snehal199 !

[2020-10-09 09:45] areyabhishek commented on #1064
This API needs to be really snappy else users will think the widgets are slow. We'll also have users from around the world use this in a self-hosted scenario. The API might be slow for someone far away from our data centers. Can we host this API on a CDN so that they don't experience any latency?

[2020-10-09 09:50] #1056 closed

[2020-10-09 09:53] Nikhil-Nandagopal opened #1094 "[Task] evaluate only sub trees in the datatree"
# Logic to optimize evaluation of the data tree
The premise of this is that our data tree evaluation takes a long time because we re-evaluate every dynamic binding and property on every update. Here we will discuss how to optimize this to evaluate only the properties that have changed and their dependencies.
There are 2 large functions that are called on every update
- createDependencyTree
- evalu

[2020-10-09 09:55] mohanarpit commented on #939
@snehal199 It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, check out the [Appsmith Challenge](https://github.com/appsmithorg/appsmith/discussions/863) where you can win some cool swag by inviting your friends to contribute to this p

[2020-10-09 10:33] mohanarpit commented on #630
@all-contributors Please add @areyabhishek for the incredible contribution of their ideas, design and funding.

[2020-10-09 10:44] mohanarpit commented on #1057
@all-contributors Please add @prapullac for their contributions to bug reports and tests.

[2020-10-09 10:50] #1052 closed

[2020-10-09 11:03] mohanarpit commented on #1089
@all-contributors Please add @aakashDesign for their contributions to design

[2020-10-09 11:05] mohanarpit commented on #1089
@all-contributors Please add @Debsourabh for their contributions to design

[2020-10-09 11:10] #794 closed

[2020-10-09 11:13] mohanarpit commented on #785
@all-contributors Please add @Saket2 for their insane contributions to bug reporting and documentation.

[2020-10-09 11:14] mohanarpit commented on #748
@all-contributors Please add @harishkotra for their invaluable contribution towards bug reporting.

[2020-10-09 11:15] mohanarpit commented on #792
@all-contributors Please add @visibleajay for their invaluable contribution towards bug reporting and documentation.

[2020-10-09 11:18] mohanarpit commented on #795
@all-contributors Please add @gogetter22  for their invaluable contribution towards bug reporting.

[2020-10-09 11:19] mohanarpit commented on #774
@all-contributors Please add @Xniveres for their invaluable contribution towards bug reporting.

[2020-10-09 14:39] snehal199 commented on #939
Thanks @mohanarpit ! Will start working on the issue right away :smiley:

[2020-10-09 17:33] daniloff200 commented on #774
Looks like nobody pick that for now.
@mohanarpit  can I pick this one ?

[2020-10-09 18:45] karmanya007 commented on #1038
Is this bug actively been worked on?

[2020-10-09 18:46] karmanya007 commented on #944
Is this bug being actively worked upon?

[2020-10-09 18:47] Sufiyan1997 commented on #1038
Yes, I'm working on it

[2020-10-10 06:19] sakshi006 commented on #1073
Hey @Nikhil-Nandagopal  can i work on this?

[2020-10-10 07:33] deepakchethan commented on #853
@Nikhil-Nandagopal, @hetunandu Can I take this up as well as we need this page for sharing data across pages PR?

[2020-10-10 07:38] hetunandu commented on #853
Go for it @deepakchethan

[2020-10-10 10:39] mohanarpit commented on #1073
@sakshi006 Welcome to Appsmith & for volunteering to contribute to the project.

I'm sorry but this is a little more involved. It'll be better if a maintainer picks up this issue. I would suggest that you go through our [issue list](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22) and pick one more suited for first contributors.

[2020-10-10 10:47] #939 closed

[2020-10-10 11:18] sakshi006 commented on #1073
Sure, thanks!

[2020-10-10 13:08] ankitpal1029 commented on #946
Hey Can i work on this? I am new to open source and hope to learn a lot while i'm working on this

[2020-10-10 16:19] akshay11298 commented on #798
Hi, if this issue is still open, I would like to work on it

[2020-10-10 18:26] sijad opened #1127 "[Feature] authorization using current session data"
## Summary

ability to use current session data in queries or API calls.

## Motivation

this would make it possible to use current logged-in user's session data for authorization.

## Additional Context

having access to `Request` data (e.g. cookies, custom headers, etc) also can be useful too.

### example

[code]

[2020-10-10 18:28] Nikhil-Nandagopal commented on #1127
@sijad thank you for the idea. This is already possible today using {{ appsmith.user.email }}

[2020-10-10 18:46] anuragagarwal561994 commented on #798
Hi @akshay11298 I think you can take this up, I have got pre-occupied with something won't be able to work on it.

[2020-10-10 18:49] shinnlok commented on #837
@Nikhil-Nandagopal Can I work on this?

[2020-10-10 19:40] malathit commented on #727
@Nikhil-Nandagopal I would like to work on this issue. I have fair experience of spring boot. I just figured out the reason for this issue is the soft delete done in DB. There are 2 ways to solve this issue.
- Renaming the application name to add a string such as **[DELETED] - <random string>**
- Not considering the deleted applications on creation of new application

[2020-10-10 23:35] shinnlok commented on #1036
@Nikhil-Nandagopal Can I take a look?

[2020-10-11 00:50] manchicken commented on #1036
I have the environment up and running, could I take this issue?

[2020-10-11 00:54] avats-dev opened #1130 "[Docs] Add reference to node version and enhance CONTRIBUTING.md"
## Documentation Link

- https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md
- https://github.com/appsmithorg/appsmith/blob/master/contributions/ClientSetup.md

## Describe the problem

Instances where problems occur (based on what I faced):
- a contributor want to set up dev environment, but there are no such references in [contributing guide](https://github.com/appsmithorg/appsmi

[2020-10-11 00:56] manchicken commented on #1036
OK; I've reproduced the issue. This is _soooo_ much easier to spot with a second org. At first it was hard to see the problematic sorting, but I think I see it now. Please confirm attached screenshot.

(Please note, I'm not waiting for confirmation, I'm just hoping you can yell at me if I've misidentified.)
<img width="1347" alt="image" src="https://user-images.githubusercontent.com/1848743/956679

[2020-10-11 03:31] manchicken commented on #1036
OK, I have a code change that I think will work, but I can't figure out how to get the React to run in conjunction with the docker-compose.yml really quick. Is there a trick to running the local server? I don't see anything in any of the README.md's.

[2020-10-11 04:18] pushkar1393 commented on #781
Since this is a text change, does this require a unit test as well? I assume there would already be a test case covering the password reset functionality, so as long as it passes all the existing tests this should be done. Right?

[2020-10-11 07:30] ThakurKarthik commented on #946
@hetunandu I want to work on this

[2020-10-11 08:54] #853 closed

[2020-10-11 09:46] gagandeepp commented on #1060
please assign it to me

[2020-10-11 09:48] jaisondavis opened #1131 "[Bug] MongoDB crashes on startup post installation on OSX."
## Description

On setting up Appsmith with docker on Mac OSX, MongoDB fails shuts down a few seconds after starting. This happens if you are running docker in a mounted drive like Desktop.

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, including console/network logs & screenshots
1. Download the install.sh file to OSX desktop
2. Run it
3. You'll see the mongo servic

[2020-10-11 09:50] jaisondavis commented on #1131
This is a known issue with docker mongo pertaining to mounted directories.

The fix is to keep the `/data/db` mounted directory out of mounted volumes (like downloads, user etc.) or to create a volume with `docker volume create`.

Would be helpful if this was added as a warning to docs.

reference: https://iainhunter.wordpress.com/2016/01/12/avoiding-pitfalls-running-mongo-3-2-in-docker-on-osx/

[2020-10-11 11:27] akshay11298 commented on #798
Hi, I have started with this, can someone assign this to me. Also, I had some queries.
From where can I get the whale error image used above?
And in that image, I saw a link for "Create application_name". If there are multiple organizations, this link should create the application for which organization?
Thank you

[2020-10-11 12:42] jyash97 commented on #1130
Hey @avats-dev

This will be a really good addition in the guide as this will help developers who are looking to contribute. For the node version & nvm, I have set up a PR already, check it over here: https://github.com/appsmithorg/appsmith/pull/1119

[2020-10-11 23:17] pc9795 commented on #1032
It happens because of an exception here due to `{{host}}`: https://github.com/appsmithorg/appsmith/blob/9ac935c4242ac582a18c77bef20eda60514a5145/app/server/appsmith-server/src/main/java/com/appsmith/server/services/CurlImporterService.java#L385

Because of which no URL is set in the data-source configuration: https://github.com/appsmithorg/appsmith/blob/9ac935c4242ac582a18c77bef20eda60514a5145/app

[2020-10-11 23:17] pc9795 commented on #1032
I don't think this is a bug.

[2020-10-11 23:56] pc9795 commented on #924
As it is a spring boot project, transactions using `@Transactional` will be enabled by default. 🤔. I think we just need to create a method with delete calls of all the related entities wrapped inside a `@Transcational`.

[2020-10-12 04:06] mohanarpit commented on #924
@pc9795 What you are saying is valid for relational databases with the JDBC connector. Since we use Mongo DB, we have to manage the transactions manually. There is a `@Transactional` annotation for MongoDB but unfortunately, I've seen issues with it in the past where the server wouldn't work properly with it.

Disclaimer: It's been a few months that I tried that annotation. Maybe we should give it

[2020-10-12 04:49] mohanarpit commented on #1032
@pc9795 Thanks a lot for triaging the issue. This is indeed not a bug. Marking it as such.

[2020-10-12 04:49] #1032 closed

[2020-10-12 05:02] mohanarpit commented on #1060
@gagandeepp It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, check out the [Appsmith Challenge](https://github.com/appsmithorg/appsmith/discussions/863) where you can win some cool swag by inviting your friends to contribute to this

[2020-10-12 05:09] mohanarpit commented on #798
@Debsourabh @Nikhil-Nandagopal Looping you into the discussion to answer queries raised by Akshay above.

[2020-10-12 05:37] pushkar1393 opened #1136 "[Bug] Clicking on appsmith logo causes undesirable page load."
## Description

There seems to be an issue with the routing whenever an `onClick` event is triggered by clicking on the appsmith logo. The routing seems to work normally when landing on the sign-in page at first. However, there seems to be an issue with the following scenario that I came across.

### Steps to reproduce the behaviour:

- I signed in and then out of the organization. It came back to

[2020-10-12 06:10] Nikhil-Nandagopal commented on #1036
Hi guys, thank you for your participation, I'm assigning this to @shinnlok since he claimed for it first.

@manchicken we have quite a few other issues open. You can have a look at our [Contribution Guide](https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidelines.md) to get the code running

[2020-10-12 08:05] Nikhil-Nandagopal commented on #781
@pushkar1393 yes we can forgo a unit test for this. If you're taking up this issue just let us know so we can assign it to you :)

[2020-10-12 08:06] Nikhil-Nandagopal commented on #727
@malathit I don't believe that is the issue. This looks like a frontend problem because after refreshing the page, you can create an app with the same name.

[2020-10-12 08:13] #941 closed

[2020-10-12 08:19] #946 closed

[2020-10-12 08:26] Nikhil-Nandagopal commented on #798
@akshay11298 great questions! We can skip the create app flow.
@Debsourabh can you update the figma file so that the image is exportable

[2020-10-12 08:28] Nikhil-Nandagopal commented on #1136
@pushkar1393 thank you for reporting this!

[2020-10-12 08:48] mohanarpit commented on #837
Closing this issue as "Wont-fix" because we don't want to implement this in the product at this juncture since it makes user signups harder. Will come back to this issue incase the product direction changes in the future.

[2020-10-12 08:48] #837 closed

[2020-10-12 09:19] ThakurKarthik commented on #958
Hey @hetunandu @Nikhil-Nandagopal is this already claimed by someone? If not I can give it a try.
Thanks

[2020-10-12 10:11] akshay11298 commented on #798
Hi, I have opened a pull request #1140 for this.
Screen recording for this is available at https://drive.google.com/file/d/1vlRoEs-Ihdj721MkZAcgeaqZ2HJfIlot/view?usp=sharing

[2020-10-12 10:47] mohanarpit opened #1141 "[Task] Make evaluations run in a web worker"

[2020-10-12 10:51] mohanarpit opened #1142 "[Bug] Remove hacky function store solve in data tree"
https://www.notion.so/Remove-hacky-function-store-solve-in-data-tree-4f15c6ebc2d54e3bbca8e56543d08b16

[2020-10-12 10:53] #978 closed

[2020-10-12 10:54] mohanarpit opened #1143 "[Task] Stop Entity Explorer from rendering multiple time for every action"

[2020-10-12 11:20] mohanarpit commented on #1025
Duplicate of #952

[2020-10-12 11:20] #1025 closed

[2020-10-12 13:01] #872 closed

[2020-10-12 15:28] manchicken commented on #1036
@Nikhil-Nandagopal Oh, man, I'm sorry @shinnlok, I didn't see that.

I'll take a peek elsewhere, many thanks.

[2020-10-12 15:30] akshay11298 commented on #781
Hi @Nikhil-Nandagopal , if this issue is still open, kindly assign it to me, I would like to work on it.

[2020-10-12 16:39] gagandeepp commented on #588
please assign this to me

[2020-10-12 16:39] gagandeepp commented on #633
please assign this to me

[2020-10-12 16:52] loiscodes commented on #1136
I'll take this

[2020-10-12 18:19] Nikhil-Nandagopal commented on #872
@anvaynk just wanted to update you that we have shipped this feature and it is now available in the latest version of appsmith 🎉

[2020-10-12 18:21] Nikhil-Nandagopal commented on #781
@akshay11298 it's all yours!

[2020-10-12 18:22] Nikhil-Nandagopal commented on #588
Hi @gagandeepp , I've assigned the issue to you. We haven't had a chance to debug this so do let us know what you find so we can discuss a solution :)

[2020-10-12 18:23] Nikhil-Nandagopal commented on #633
@gagandeepp I've assigned the issue to you. Feel free to reach out if you have any trouble getting started!

[2020-10-12 18:24] Nikhil-Nandagopal commented on #1136
👋 Hi @loiscodes,  I've assigned the issue to you :)
Hope you've had a chance to look at our [Contribution Guide](https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidelines.md)

[2020-10-12 18:25] Nikhil-Nandagopal commented on #958
@ThakurKarthik  go for it!

[2020-10-12 18:28] draco-malfoy commented on #699
I would like to take this @mohanarpit @Nikhil-Nandagopal, but would need some assistance.
Thank you.

[2020-10-12 19:00] mohanarpit opened #1148 "[Docs] Add information about domain specific user signup for Google OAuth2"
## Documentation Link
Relevant link that needs to be improved: https://docs.appsmith.com/third-party-services/google-login

## Describe the problem

Currently our documentation doesn't have any indicators that Google sign in can be restricted to certain domains for self-hosted instances.

## Describe the improvement

Information about the environment variable that controls specific domain signups

[2020-10-12 19:11] fredb1106 commented on #1148
Hi mohanarpit. Can I be assigned that change? This would be my first contribution to hacktoberfest; hoping this is right first step to first ask being assigned to that issue. Let me know.

Thanks!

[2020-10-12 19:16] mohanarpit commented on #958
@hetunandu I'm unable to reproduce this issue. Can you please confirm if this issue is still valid?

[2020-10-12 19:19] mohanarpit commented on #1148
@fredb1106 It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

Also, check out the [Appsmith Challenge](https://github.com/appsmithorg/appsmith/discussions/863) where you can win some cool swag by inviting your friends to contribute to this p

[2020-10-12 19:24] akshay11298 commented on #781
Hi, I have opened PR #1150 for this issue. Please refer to the attached screenshot of the screen after the update. https://drive.google.com/file/d/1sOtANg-UzBKTL56z4AylCTXBx1LFKSdL/view?usp=sharing

[2020-10-12 19:37] draco-malfoy opened #1152 "[Docs] Links for"
## Documentation Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

[2020-10-12 19:37] #1152 closed

[2020-10-12 19:39] draco-malfoy opened #1153 "[Docs] Links for appsmith alternatives are broken"
## Documentation Link

https://docs.appsmith.com/faq#what-if-i-get-stuck-while-building-an-app-on-appsmith

## Describe the problem

The links for  Wix, Squarespace, or Webflow are broken

## Describe the improvement

Working links should be provided.

[2020-10-12 19:40] draco-malfoy commented on #1153
I would like to take this. Should I link these directly the specific websites? @Nikhil-Nandagopal @mohanarpit

[2020-10-12 19:44] fredb1106 commented on #1148
Sure, will work on this today! By looking at your code I noticed `APPSMITH_OAUTH2_ALLOWED_DOMAINS` was also missing from some sample docker.env files or Shell scripts to generate them e.g.:

- appsmith/app/server/envs/docker.env.example
- appsmith/deploy/template/docker.env.sh

... and potentially those also:

- appsmith/.env.example
- appsmith/app/server/envs/dev.env.example

I can add that param

[2020-10-12 19:44] mohanarpit commented on #1153
@draco-malfoy Welcome to Appsmith!

Yes. Please link to those websites directly.

[2020-10-12 19:49] draco-malfoy opened #1154 "[Docs] Grammatical and spelling mistakes in Terms and conditions page"
## Documentation Link

https://app.appsmith.com/terms-and-conditions.html

## Describe the problem

 Grammatical and spelling mistakes

## Describe the improvement

Grammar can be improved

[2020-10-12 19:50] draco-malfoy commented on #1154
I have worked on this. @mohanarpit @Nikhil-Nandagopal

[2020-10-12 19:50] draco-malfoy commented on #1154
https://github.com/appsmithorg/appsmith/pull/1149

[2020-10-12 20:02] draco-malfoy commented on #1153
Just realized that we have a separate repo for docs, should I log in another issue there?

[2020-10-13 03:05] mohanarpit commented on #1154
Not relevant at this juncture.

[2020-10-13 03:05] #1154 closed

[2020-10-13 03:06] mohanarpit commented on #1153
You can link to this issue from the other repository. Also, please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). It has all the details on how to contribute to Appsmith.

[2020-10-13 03:13] mohanarpit commented on #961
@satbir121 Bumping this up for you. Can you please check if the above implementation is valid?

[2020-10-13 05:27] DeliriousWildebeest opened #1155 "[Feature] Add MSFT SQL Server DB Integration"
**Summary**

Ability to use Microsoft SQL Server DB as a data source.

**Motivation**

SQL Server is an extremely common DB system which is used in numerous small, medium and large businesses. Adding native support will expand the reach of AppSmith to a new set of organizations.

[2020-10-13 06:16] draco-malfoy commented on #1153
https://github.com/appsmithorg/appsmith-docs/pull/46

[2020-10-13 06:25] #1153 closed

[2020-10-13 06:31] Nikhil-Nandagopal commented on #1155
@DeliriousWildebeest thank you for the feature request! 🎉
Is this feature urgent? If you could tell us a bit about your timeline, it would help us prioritize it better. 😬

[2020-10-13 06:33] Nikhil-Nandagopal commented on #1127
@sijad I'm closing this issue for the time being. Do reach out if you feel it doesn't solve the use case you had in mind

[2020-10-13 06:33] #1127 closed

[2020-10-13 07:09] daniel-shuy commented on #707
This is because `Fuse.js` is configured to use fuzzy matching, with a [threshold](https://fusejs.io/api/options.html#threshold) of `0.6`. If we want it only filter exact matches we need to configure the `threshold` to `0`.

What should be the correct behavior?

[2020-10-13 08:41] Nikhil-Nandagopal opened #1165 "[Task] Make lightning menu in db structure more obvious"

[2020-10-13 08:59] Nikhil-Nandagopal commented on #707
@daniel-shuy great catch! If it's the default behaviour of the library let's not change it. We were just confused as to why this was happening. Although this wasn't via code, this really was a great contribution. Thank you! 🎊

[2020-10-13 08:59] #707 closed

[2020-10-13 09:05] satbir121 commented on #699
@draco-malfoy Thanks for your interest but this issue has already been fixed. Please check out other issues on the [this link](https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22+label%3AFrontend).

[2020-10-13 09:29] Nikhil-Nandagopal opened #1166 "[Task] Improve readme"

[2020-10-13 09:43] #699 closed

[2020-10-13 10:18] Wittty-Panda commented on #1166
@Nikhil-Nandagopal Can you provide a description on what to do ?

[2020-10-13 10:21] Nikhil-Nandagopal commented on #1166
@Wittty-Panda this issue has already been assigned. please have a look at our hacktoberfest issues to begin contributing :)

[2020-10-13 10:24] prapullac opened #1168 "[Bug] Enhancement : Manage users must be displayed as a button"
Steps to Reproduce:
1) Navigate to Homepage
2) Click on the Share option
and observe mange user option

Observation
The Manage user option looks like a normal text hence not making the user feel its a Link or can navigate to a age

Expectation :
Make the text look like a link or button

[2020-10-13 10:27] Wittty-Panda commented on #1166
@Nikhil-Nandagopal okay sir.

[2020-10-13 10:51] daniel-shuy commented on #674
I've created a PR to fix this. Not sure if its the best approach though...

[2020-10-13 11:32] Nikhil-Nandagopal commented on #1094
## Improvement
Save dependency tree on the server to avoid first time eval

[2020-10-13 12:05] daniel-shuy commented on #698
I've created a PR to fix this, it will still append ` Copy` when cloning Pages, but not when cloning Applications

[2020-10-13 12:24] prapullac opened #1173 "[Bug] On invalid Email Id no error message is displayed to user"
Steps to reproduce :
1) Navigate to home page
2) Click on Share option
3) Add an invalid email Id
and observe

Observation :
It is observed that on adding invalid email Id the user will able to add role and Invite becomes active

Expectation
An error message must be displayed to user on entering incorrect email Id

[2020-10-13 12:42] satbir121 opened #1174 "[Docs] Add an FAQ for How to run the application on a different port"
## Documentation Link

Link to [FAQ page](https://docs.appsmith.com/faq)
Link to [the file](https://github.com/appsmithorg/appsmith-docs/blob/v1.2/faq.md) that needs to updated

## Describe the problem

If the developer already has a process running on a specific port, they need to change the port at which AppSmith runs.

## Describe the improvement

Add a step by step guide to running application

[2020-10-13 12:48] prapullac opened #1175 "[Bug] Clicking on the role name the role does not get selected hence increase the clickable area"
1) Navigate to home page
2) Click on the Share option
3) Add an Email Id
4) Click on the Roles Dropdown
5) Select he role by clicking on the Role name ie (Admin for example)
and Observe

Observation :
It is observed that clicking on the roles name the role does not get selected. Clicking on the description of the roles it get selected

Expectation :
Increasing the clickable area would help easy se

[2020-10-13 14:08] SantoshSrinivas79 commented on #1174
@satbir121 I'll work on this

[2020-10-13 16:07] DeliriousWildebeest commented on #1155
My project timeline is about 30 days but I'm not expecting the team to prioritize a feature to cater to a random stranger's needs!

For me personally, it's a priority since I use SQL Server so I'm not able to use AppSmith without setting up a REST API in front of the DB. Lack of SQL Server isn't a deal-breaker, but it creates extra roadblocks to try and integrate into a usable solution for less te

[2020-10-13 16:14] Nikhil-Nandagopal commented on #1155
@DeliriousWildebeest thank you for the detailed reply! This makes a lot of sense. I think it's not a lot of effort on our end since there's a jdbc driver. I'll get this prioritised and update you soon.

[2020-10-13 17:55] dowenrei commented on #743
Hi @visibleajay, can I work on this?

[2020-10-13 17:56] Nikhil-Nandagopal commented on #743
@dowenrei go for it!

[2020-10-13 17:57] trishaanand commented on #1094
Considering that DSL is converted into dependency tree, we should get rid of DSL completely and store dependency trees instead. Other than evaluated values, are other details stored in the dependency tree? Or do you have another data structure that is responsible of storing the static properties of the widgets?

[2020-10-13 21:52] pc9795 commented on #805
According to the current configuration in `SecurityConfig`, this is the expected behaviour. I checked by running locally.

[2020-10-14 00:34] pc9795 commented on #803
We can implement a Rate limiter in the back-end using the token given to the `UserPrincipal` 🤔

[2020-10-14 00:44] pc9795 commented on #779
IMO the current behaviour is correct. We shouldn't be exposing this information that whether an email is incorrect or a password. The message with invalid credentials is appropriate.

[2020-10-14 00:55] pc9795 opened #1179 "Add a code-formatter to the project"
## Summary

As multiple contributors will write code in their unique style it is no harm in having a code-formatter integrated using Maven/CI which will ensure consistency.

## Motivation

It will improve code readability and consistency.

## Additional Context

https://github.com/jhipster/prettier-java

[2020-10-14 01:35] pc9795 commented on #627
IMO for the starters, we can use `@Email` annotation form validation API on the `User `object's email field. It can protect us in the resource layer. Usually, validations are handled there only.
For the rest of the cases instead of using a regex, we should use library functions which are tested and used by many others. One of which is https://commons.apache.org/proper/commons-validator/apidocs/org

[2020-10-14 03:51] pushkar1393 commented on #620
Is anyone working on this? If not can someone please assign me to it? Thank you.

[2020-10-14 05:00] #650 closed

[2020-10-14 05:25] hetunandu opened #1182 "Evaluated value needs to have a styled scrollbar"
Comes down to asthetics I guess. The default scrollbars don't look nice with our designs so we are hiding them as of now. Another solution is to style the scroll like we do for the property pane today

_Originally posted by @hetunandu in https://github.com/appsmithorg/appsmith/pull/1171#discussion_r503910957_

[2020-10-14 05:33] #1165 closed

[2020-10-14 05:34] NandanAnantharamu opened #1183 "[Bug]Navigate to function is not working in Table widget for "On Page Change""
Pre-requisite

Make sure you have 2 pages, in one page make sure you have a table widget.

1. In table widget make sure you have 2-3 page data.
2. Then in Table widget properties "onPageChange" try to Navigate to another page say "Page2".
3. In table click on next page.

## Observation

On click of next in table navigation is not happening to other page

## Expected behaviour

On click of next in

[2020-10-14 05:55] Nikhil-Nandagopal commented on #1183
closing as duplicate of #731

[2020-10-14 05:55] #1183 closed

[2020-10-14 05:58] Nikhil-Nandagopal commented on #803
@pc9795 we recently implemented re-captcha for the editor and re-captcha seems like the best way to do this. Would you consider a simple re-captcha implementation?

[2020-10-14 05:59] Nikhil-Nandagopal commented on #620
@pushkar1393 go for it!

[2020-10-14 06:01] pushkar1393 commented on #620
Awesome, thanks! For testing purposes do you have an auto-reload setup that I am missing or  do I need to yarn build and start ?

[2020-10-14 06:05] inesane commented on #1179
Can I be assigned this?

[2020-10-14 06:15] Nikhil-Nandagopal commented on #1094
@trishaanand the DSL is different from a dependency tree. A DSL is a HTML like structure which contains information around the layout and the properties of every widget. The dependency tree is a graph implemented as an array of edges which tells us that the table's selected row property depends on the getUsers data property [Table1.selectedRow, getUsers.data]
evaluated values are not stored in the

[2020-10-14 06:16] Nikhil-Nandagopal commented on #627
@pc9795 would you like to take this up?

[2020-10-14 06:20] shinnlok commented on #1179
Can I take this?

[2020-10-14 07:11] Nikhil-Nandagopal commented on #1179
@mohanarpit can you let us know how to proceed here. What should be the formatting syntax?

[2020-10-14 07:14] Nikhil-Nandagopal commented on #831
@vicky-primathon able to repro this

[2020-10-14 07:47] pc9795 commented on #627
Sure 👍

[2020-10-14 07:49] pc9795 commented on #803
Recaptcha will protect us from the in-app requests but what about machine clients (like cURL, Postman etc)?

[2020-10-14 08:00] pushkar1393 commented on #620
This approach won't work, because `minWidth` or other similar properties don't affect the `headerProps` even though they are successfully passed on to the Table component unless `useBlockLayout` or `useAbsoluteLayout` hook is passed as an option to `useTable` hook. In that case, each cell gets treated as an `inline-block` and css props are applied but that doesn't seem like a feasible solution. Ta

[2020-10-14 09:58] Rahul-160 commented on #903
I don't know whether these can happen using code, but it's my idea to your repo.
1. When we searching some thing in search bar. There should have something like in github, when we tried to fork others repo. We can see that animation "brown colour thing forking/Copying".
This is what I'm trying to say.
Thank you.

[2020-10-14 10:36] satbir121 opened #1193 "[Task] [New Create App Flow](https://www.notion.so/New-Create-App-Flow-368ad87465f0422489d3847e5f4854df)"

[2020-10-14 11:15] Nikhil-Nandagopal opened #1194 "[Bug] update layout and update action API fail when multiple successive calls are made"
## Description

The updateLayout API has a longer response time for some users and stacking multiple calls successively eventually causes multiple timeouts. This also leads to some calls responding 400 from the server but the same doesn't reach the client.

Core things to fix
- Erratic response times
- Queuing on the frontend (updateLayout & updateAction)
- 400 requests

[2020-10-14 11:28] pc9795 commented on #803
Oh! If we are implementing the re-captcha token validation in the backend then it works fine. I just had seen this on client-side that's why I was confused 👍

[2020-10-14 12:43] jyash97 commented on #1182
Hey @hetunandu 👋

We can put the scrollbar style at a global level so that every pages and component have a consistent scroll-bar style. What do you think?

I can look at these issue as this should be a small fix IMO.

[2020-10-14 12:48] satbir121 opened #1195 "[Bug] Change the background-color of the read-only input field."

[2020-10-14 12:48] satbir121 opened #1196 "[Bug] Reduce the size of the copy button"

[2020-10-14 12:48] satbir121 opened #1197 "[Bug] deleting a user has no loading state"

[2020-10-14 12:48] satbir121 opened #1198 "[Bug] Loader is not displayed to user on changing the roles"
## Steps to reproduce

1. Navigate to Organisational setting
2. Click on Members
3. Now change the role

Ensure your an admin

## Observation

It is observed that on changing the role of a  user the loader is not displayed to user.

## Expected behaviour

Loader must be displayed to user when the role is updated. This would help the user to know that there is action that is taking place in the bac

[2020-10-14 12:49] satbir121 opened #1199 "[Bug] Deleting an application does not reflect immediately until refresh"

[2020-10-14 13:28] satbir121 opened #1200 "[Feature] Toast Component."
## Summary

Toast Component from the component system.

## Motivation

New toast component adheres to the new design system.

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2020-10-14 17:01] jyash97 commented on #718
Hey @Nikhil-Nandagopal  👋

I looked into this issue and found that this was happening because `selectedOptionValueArr`  was empty. Sharing context below for a better understanding:

We use same component for MultiSelect and Single Select, so to distinguish the values we were tracking 2 variables - `selectedOptionValue` for single select & `selectedOptionValueArr` for multi-select. The issue is in

[2020-10-14 18:09] Nikhil-Nandagopal opened #1203 "[Bug] When an onPageLoad action fails, the editor breaks"
## Description

If an onPageLoad API times out, the application goes into a bad state

### Steps to reproduce the behaviour:
1. Create an app
2. add a query
3. add a low timeout for the query
4. mark the query to run onPageLoad
5. Bind the query to a table
6. Refresh the page
7. The query can no longer be run from the query pane and no error is mentioned.
8. All other APIs are also suddenly timing

[2020-10-14 18:12] Nikhil-Nandagopal opened #1204 "[Bug] Invite User flow is failing"
## Description

A user is not getting invited when invited from within an application

### Steps to reproduce the behaviour:
1. Go to the tutorial app in the example org
2. click on the share button in the edit mode
3. enter an email id with a developer role and trigger an invite
4. The invite flow times out and no invite is sent

[2020-10-14 18:17] Nikhil-Nandagopal opened #1205 "[Bug] Table should show the number of records instead of the pages"
## Description
The table shows the page information twice instead of showing the number of records

<img width="1650" alt="Screenshot 2020-10-14 at 11 46 45 PM" src="https://user-images.githubusercontent.com/3897254/96028891-89c1ab00-0e77-11eb-8a59-a0f2afcc3970.png">

[2020-10-14 21:42] shreyamodi1999 commented on #1205
Hey can you assign this to me?

[2020-10-14 22:25] pc9795 commented on #803
If we have implemented it then we can close this issue.

[2020-10-15 03:31] #780 closed

[2020-10-15 03:37] #604 closed

[2020-10-15 04:14] sharat87 opened #1209 "[Bug] Property fields are not being saved correctly in datasource/action forms"
## Description

Form fields in datasource or action configuration that are built on properties are not being sent to the server correctly.

### Steps to reproduce the behaviour:

The following steps can illustrate the symptom:

1. Create a new MySQL datasource.
1. Set a value for the "Timezone override" field under the section "MySQL Specific Parameters".
1. Hit save, and wait for the save to fini

[2020-10-15 05:02] satbir121 commented on #1205
Sure @shreyamodi1999 Please reach out if you need any help. Also go through our [contribution guidelines](https://github.com/appsmithorg/appsmith/blob/release/CONTRIBUTING.md).

[2020-10-15 05:24] hetunandu commented on #1182
Hey @jyash97 !
We don't really want to do this for every scrollbar in the platform. But definitely for the Evaluated Value popup mentioned in this issue

Can you take [this](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/constants/DefaultTheme.tsx#L44) and make sure that component gets this scroll bar.

Assigning it to you

[2020-10-15 05:27] satbir121 commented on #990
@imrishabh18 Any updates?

[2020-10-15 05:54] #836 closed

[2020-10-15 06:20] hetunandu commented on #1179
Looks like we need something like this [Super Linter](https://github.com/github/super-linter)

[2020-10-15 06:25] #1130 closed

[2020-10-15 06:27] Nikhil-Nandagopal commented on #803
@pc9795 it's not implemented yet. Would you like to pick this up?

[2020-10-15 06:30] Nikhil-Nandagopal opened #1212 "[Bug] Multi select control crashes"
## Description

The multi select control in the file picker crashed when using it

### Steps to reproduce the behaviour:
1. Drag a file picker
2. Set the allowed file types to text
3. Change the allowed file types to any
4. The file picker crashes

[2020-10-15 06:31] pc9795 commented on #803
I will have a look 👍

[2020-10-15 06:49] #627 closed

[2020-10-15 06:50] satbir121 commented on #620
Hey @pushkar1393 There doesn't seem to be a good quick solution for this. I was thinking that fixing width might not be the right solution for column shifting due to sort.

Proposing another solution here:
Just create a HiddenArrow like this:
[code]
And use it like this:

[code]

[2020-10-15 07:01] mohanarpit opened #1214 "[Task] Revamp datasources inside add query page"

[2020-10-15 07:16] #1212 closed

[2020-10-15 07:17] imrishabh18 commented on #990
@satbir121 I will let you know when I complete it. A bit busy with stuff for a few more days.

[2020-10-15 07:21] #929 closed

[2020-10-15 07:22] sentry-io[bot] opened #1215 "TypeError: Cannot read property 'getItem' of null"
Sentry Issue: [APPSMITH-88](https://sentry.io/organizations/appsmith/issues/1957026274/?referrer=github_integration)

[code]

[2020-10-15 07:26] mohanarpit opened #1216 "[Task] Upgrade the client code base to use node LTS version"
Appsmith client used node `v10.16.3`. We should upgrade to use the latest LTS version. This will ensure that we are up to date with the latest features of the programming language.

[2020-10-15 07:29] Nikhil-Nandagopal commented on #990
@imrishabh18 since you're currently busy I'm unassigning this issue so that it's still up for grabs. Feel free to come back to any of our many open good first issues 😄

[2020-10-15 08:59] Nikhil-Nandagopal opened #1218 "[Task] How to upload Images to S3"
## Description
We need a how-to guide on uploading images from an appsmith app to Amazon S3. The guide should cover
- Using the file picker
- Generating a signed URL
- Uploading the file
The guide should also contain gifs / images wherever relevant

[2020-10-15 09:47] #962 closed

[2020-10-15 09:48] #827 closed

[2020-10-15 09:48] #961 closed

[2020-10-15 09:48] #1048 closed

[2020-10-15 09:49] #727 closed

[2020-10-15 09:49] #1197 closed

[2020-10-15 09:49] #1196 closed

[2020-10-15 09:49] #1198 closed

[2020-10-15 09:50] #1199 closed

[2020-10-15 09:57] dowenrei commented on #743
Hi Nikhil, so sorry I can't work on this as of now as I can't get Appsmith to run on WSL, I would work on other documentation/backend request. Cheers.

[2020-10-15 09:58] dowenrei commented on #1218
Hi Nick, I would gladly work on this!

[2020-10-15 10:12] jyash97 commented on #961
Hey @mohanarpit 👋   was this already fixed in the PR linked?

[2020-10-15 10:30] sharat87 opened #1220 "[Bug] Deleting an application shows errors although the deletion happens"
## Description

When deleting an application, we see a toast saying "Deleting application...", but then there's two more toasts saying application by that ID doesn't exist. It looks like we are doing a `PUT` request on that application after the deletion is successful, which fails.

### Steps to reproduce the behaviour:

1. Create a new application in an organization.
2. Delete it and observe.

![

[2020-10-15 10:34] sharat87 opened #1221 "[Bug] Creating an application with the name of a just deleted application fails"
## Description

When creating an application with the name of an application that was *just* deleted, it fails with an error `An application with this name already exists`. If we refresh the page, the error doesn't happen and we can create the application with that name again.

### Steps to reproduce the behaviour:

1. Create a new application called `one`.
1. Delete the application `one`.
1. Imme

[2020-10-15 10:42] hetunandu commented on #1221
Earlier issue was closed recently #796

[2020-10-15 11:33] SantoshSrinivas79 opened #1225 "[Feature] - Create functionality to create UI canvas and templates to emulate mobile devices"
## Summary

Allow users to create quick mobile friendly apps to leverage the power of AppSmith to create interaces and custom apps to already existing and complex business applications (including legacy ones).

## Motivation

As a user, I find AppSmith to lie between low-code and no-code which is great in itself. The various quick mobile app development products in the market are very restrictive

[2020-10-15 11:44] jyash97 commented on #1220
Looks like this is a duplicate for https://github.com/appsmithorg/appsmith/issues/961

[2020-10-15 12:05] sharat87 commented on #1220
Whoop, you're right. Closing as duplicate then. Thanks @jyash97!

[2020-10-15 12:05] #1220 closed

[2020-10-15 12:17] #804 closed

[2020-10-15 12:35] aakashDesign opened #1228 "[Feature] New Screen advising mobile users switch to a desktop for Appsmith"
## Summary

Appsmith experience isn't ideal on mobile devices. After a mobile signup, we should communicate that appsmith isn't yet supported for mobiles.

## Screen Design

<img width="300" alt="Screenshot 2020-10-15 at 6 05 12 PM" src="https://user-images.githubusercontent.com/65771350/96123964-fb016c80-0f10-11eb-96fa-cc7cdf7707b1.png">

[2020-10-15 12:47] areyabhishek opened #1230 "[Enhancement] New create app flow"
1. Clicking create new app should take the user to the editor
2. The new app should be named Untitled and the focus is on the name field of the app so that the user can rename the app
3. Clicking anywhere else in the app takes focus away from the name field
3. Clicking on the app name in the editor lets the user change the name
4. Show successful, and failed states for the name

https://www.figma.

[2020-10-15 12:49] areyabhishek commented on #1230
Figma files here: https://www.figma.com/file/51WpTmpdZAz3WI6UNwCOC2/?node-id=5%3A422

[2020-10-15 15:00] pushkar1393 commented on #620
Sounds good to me. Will update it soon. Thank you.

[2020-10-15 15:28] #1194 closed

[2020-10-15 16:13] sharat87 commented on #1221
I think that issue is different. It's about errors showing up when deleting an application. This one's about not being able to create an application with the name of a deleted one.

[2020-10-15 16:15] mohanarpit commented on #1221
@sharat87 Is this a duplicate of #827 ?

[2020-10-15 16:18] sharat87 commented on #1221
Yeah looks like. Sorry folks, I should definitely be looking before raising issues. Will keep in mind going forward. Closing as duplicate. Thanks Arpit.

[2020-10-15 16:18] #1221 closed

[2020-10-15 16:19] mohanarpit commented on #1221
Also unable to reproduce this issue. It seems to have been fixed. Please re-open it if you feel differently.

[2020-10-15 17:43] hetunandu opened #1231 "[Feature] Utility script to update the nginx proxy for client when running locally"
## Summary
Need a small script(node.js or bash) that will update the api backend when the client is running locally. This script would make sure the nginx config in the docker container is correct and running without changing any source code.

## Motivation
This helps in switching between backends easy.
Currently changing the api backend for the client is cumbersome with the following steps:
1. Sh

[2020-10-15 17:55] mohanarpit commented on #1231
I think a much better solution is to bring up the API server on the local machine as well. Ensures that the entire Appsmith system is running independently on the developer's machine. This can be done by modifying the file `app/server/docker-compose.yml` in conjunction with the `.env` file that will be created at the root of the project.

[2020-10-15 17:57] #698 closed

[2020-10-15 18:58] akshay11298 commented on #781
Hi @mohanarpit I have opened PR 1234 which fixes this issue.
Below is screenshot of the result-
![image](https://user-images.githubusercontent.com/26507126/96174055-61ed4880-0f46-11eb-9544-dedc2c66c19e.png)

[2020-10-15 19:03] hetunandu commented on #1231
Having a local server running is helpful but does not solve the issue with switching app backends. I would argue that when we do start having a local server, the switching would become more often and this script gets more handy.

[2020-10-16 02:19] sharat87 commented on #1221
I noticed it on prod, but looks like it's already fixed on staging.

[2020-10-16 05:27] #606 closed

[2020-10-16 05:29] pushkar1393 commented on #772
Can someone assign this to me? I'd like to try my hand at this.

[2020-10-16 05:54] Nikhil-Nandagopal commented on #743
@dowenrei, not a problem! Thank you for letting us know 😃

[2020-10-16 05:54] Nikhil-Nandagopal commented on #1218
@dowenrei go for it!

[2020-10-16 06:07] Nikhil-Nandagopal commented on #772
@pushkar1393  go for it! 👍

[2020-10-16 06:26] #958 closed

[2020-10-16 06:29] #620 closed

[2020-10-16 07:24] Nikhil-Nandagopal opened #1236 "[Product Note] Debugging Experience"
## Problem statement
Developers on appsmith encounter syntactical and logic errors and thus need a way to debug the errors that are created

## Success criteria
Developers who see any error on appsmith should be able to understand why the error occurred and what they should do to fix the error.
Core areas:
- Property Pane Configuration
- API / Query Configuration
- Data Source Configuration

## Us

[2020-10-16 07:34] #1209 closed

[2020-10-16 08:49] Nikhil-Nandagopal opened #1238 "[Task] Improve contrast for + new on Home page"
https://www.figma.com/file/RdWmO9Ny6SfkMZAFIhLKSU/Appsmtih-NUX-Workspace_Aakash?node-id=509%3A783

[2020-10-16 09:00] Nikhil-Nandagopal opened #1239 "[Bug] Selecting a role in the invite modal does not update the role in the UI"
## Description

The role dropdown in the app invite modal is not consistent

### Steps to reproduce the behavior:
1. Create an app
2. Click on share in the application page
3. enter an email
4. select the role dropdown
5. Select the developer role exactly where the text is highlighted
6. The dropdown dismisses and the role is not selected

https://www.notion.so/appsmith/e1d90bf1b09a45238e46a18a02c

[2020-10-16 09:01] K-Kumar-01 commented on #1238
Hello @Nikhil-Nandagopal  Can i work on this issue?

[2020-10-16 09:55] akshay11298 commented on #716
Hi @trishaanand @Nikhil-Nandagopal, if this issue is still open I would like to work on it

[2020-10-16 10:07] Nikhil-Nandagopal commented on #716
@akshay11298 go for it!

[2020-10-16 10:07] Nikhil-Nandagopal commented on #1238
@K-Kumar-01 unfortunately this issue is not up for grabs. Please have a look at our issues with the tag Good First Issue or Hacktoberfest 😄

[2020-10-16 10:38] Nikhil-Nandagopal opened #1241 "[Bug] Signup Button is not showing for Customer Support Dashboard"
### Steps to reproduce the behaviour:
1. Open the customer support dashboard in incognito mode
2. The signup button is not showing for not logged in users

[2020-10-16 11:53] riodeuno opened #1243 "[Feature] Allow Form messages to include hyperlinks"
## Summary

Form messages today support Intent icons (warning, danger, success), text and actionable buttons. We should allow hyperlinks as well.

## Motivation
In some scenarios, especially when linking to another resource, hyperlinks can be more appropriate, semantically, than a button.

## Additional Context

The `ActionButton` component in `FormMessage.tsx` can be enhanced to make allowance fo

[2020-10-16 13:04] ng29 opened #1245 "[Docs] Adding Table of Content to Readme.md"
## Documentation Link
Readme.md

## Describe the problem
Missing table of contents in readme.

## Describe the improvement
The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.
A clear and concise description of the improvement.

I would like to work on this

[2020-10-16 13:22] ng29 commented on #954
hey @mohanarpit / @prapullac

Some more info on this will be appreicated, so that i can start this.

[2020-10-16 13:23] ng29 commented on #1173
Hey @Nikhil-Nandagopal / @prapullac

Is it available for grabs, so that i can pick it up ?

[2020-10-16 13:24] ng29 commented on #949
Hey @Nikhil-Nandagopal / @prapullac
Can i get path of the file so that can start working on this ? ?

Cheers

[2020-10-16 13:26] ng29 commented on #842
Hey @Nikhil-Nandagopal

Can i work on this? ?

[2020-10-16 13:29] bharrod321 commented on #1245
I'd like to create this.  Anything specific you are looking for with it?

[2020-10-16 13:45] ng29 commented on #1245
hey @bharrod321 i have requested @Nikhil-Nandagopal to work on this 👍

[2020-10-16 13:46] mohanarpit commented on #1245
@ng29 Thank you for opening this issue and giving us a feature idea on how we can improve the README. I've assigned this to the relevant people within the team to improve the structure of the README.

[2020-10-16 13:52] ng29 commented on #1245
Hey @mohanarpit , no worries. i can also pick this up with backtracking to main toc too 👍

[2020-10-16 14:18] #781 closed

[2020-10-16 14:23] mohanarpit commented on #935
This issue is up for grabs again. Please feel free to pick it up and resolve.

[2020-10-16 14:47] akshay11298 commented on #716
Hi @trishaanand @Nikhil-Nandagopal, I have opened pull request #1247 for this.
Screen recording for this is available at https://drive.google.com/file/d/14S8x9aSmPMxNhUPgLBQxDRdol54wrRIL/view?usp=sharing

[2020-10-16 16:21] areyabhishek opened #1248 "[Bug] Extra padding in URL bar in API creation pane"
## Description

The URL bar in the API creation pane moves up a pixel when in focus and moves back down when out of focus. See loom video: https://www.loom.com/share/5bf3a435aa70420895411a2ec0677d62

The URL bar shouldn't move.

[2020-10-16 16:24] areyabhishek opened #1249 "[Bug] Cursor appearing inside dropdown in API creation pane"
## Description

A text cursor appears in the dropdown to choose the API method. See loom video: https://www.loom.com/share/c445db8fc93e4d1e92e5301c2e2095fb

Screenshot
<img width="123" alt="Screen Shot 2020-10-16 at 9 53 31 PM" src="https://user-images.githubusercontent.com/30255708/96283585-1005fa80-0ffa-11eb-8c58-71c31fde9b1a.png">

[2020-10-16 16:58] gagandeepp commented on #633
@Nikhil-Nandagopal  Unable to install sentry on win 10,please help!

[2020-10-16 17:29] KarenEfereyan commented on #1248
@Nikhil-Nandagopal can i please take this instead? You seem to be working on multiple issues? Can i take this up instead? If you don't mind

[2020-10-16 17:31] KarenEfereyan commented on #1249
@Nikhil-Nandagopal can I help you? You seem to be working on multiple issues. Which can i help with?

[2020-10-16 17:39] areyabhishek commented on #1248
@KarenEfereyan Please do take this up! Thank you. I'll assign this to you. If you need help, please ping us on Discord or email us :)

[2020-10-16 17:41] areyabhishek commented on #1249
@KarenEfereyan Nikhil is one of the lead maintainers of the project, that's why he is assigned to most issues. :) You can work on this too. I'll assign this to you.

[2020-10-16 17:41] gagandeepp commented on #1060
@mohanarpit please share the steps to reproduce video and I am unable to do npm install on win 10 because of sentry,please help!

[2020-10-17 03:09] loiscodes commented on #1136
neat! I'll work on this now. Thanks

[2020-10-17 07:07] K-Kumar-01 commented on #1228
I had some questions regarding the issue.
We only have to display a new screen basically a new UX when the signup is complete for the above purpose

[2020-10-17 07:22] Nikhil-Nandagopal opened #1254 "[Bug] Removing JS from property control doesn't reset the binding"
## Description

I added a binding to a visibility field and switched it back from JS mode. After deploying the app, the binding still worked and it didn't become static

[2020-10-17 08:26] Nikhil-Nandagopal opened #1256 "[Bug] Invite user takes email as case sensistive"
## Description

Someone invited Nikhil@appsmith.com and a new user was created instead of inviting nikhil@appsmith.com

[2020-10-17 08:35] #1087 closed

[2020-10-17 08:37] Nikhil-Nandagopal commented on #842
@ng29 this is a slightly more invovled issue since we need to find how to reproduce it. I suggest you start with our list of good first issues 😄

[2020-10-17 08:50] Nikhil-Nandagopal commented on #1228
@K-Kumar-01 that is correct and this screen has to be displayed only if the app is loaded on a mobile device

[2020-10-17 08:51] Nikhil-Nandagopal commented on #1173
@ng29 this issue is already assigned. I request you to have a look at our issues below.
[Open Issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22)

[2020-10-17 08:53] Nikhil-Nandagopal commented on #949
@ng29 I've assigned this to you. @hetunandu will help you with the problematic files

[2020-10-17 08:55] Nikhil-Nandagopal commented on #633
@gagandeepp not clear why do you need to install sentry?

[2020-10-17 09:01] Nikhil-Nandagopal commented on #1204
@trishaanand I've added the API to postman

[2020-10-17 09:03] prithviraj-maurya commented on #1248
Can I have a look on this

[2020-10-17 09:24] ng29 commented on #949
Thanks @Nikhil-Nandagopal , @hetunandu  could you please share the problematic files so that i can start analysis.

[2020-10-17 09:30] Nikhil-Nandagopal commented on #1248
Go for it!

On Sat, Oct 17, 2020, 14:33 Prithviraj <notifications@github.com> wrote:

[2020-10-17 09:50] ng29 commented on #935
Hey @mohanarpit  Can i work on this?  Would be glad to contribute around AWS 👍

[2020-10-17 10:16] ng29 commented on #823
Hey @prapullac / @Nikhil-Nandagopal
Can some more info can be provided on this ?

[2020-10-17 11:40] areyabhishek commented on #1248
@prithviraj-maurya someone else is already working on this. I'd suggest finding a different one.

[2020-10-17 12:02] Nikhil-Nandagopal opened #1257 "[Bug] Invite User button gets disabled if invite fails"
### Steps to reproduce the behaviour:
1. Open an app
2. Click on share
3. add an invalid email
4. after failing the role gets reset and invite button is disabled.
5. Selecting a role doesn't enable the invite button

[2020-10-17 12:28] KarenEfereyan commented on #1248
No @areyabhishek kindly let @prithviraj-maurya take it up

[2020-10-17 12:37] KarenEfereyan commented on #1249
@areyabhishek i'll take this up instead. Unassign me from the other one. Let the other person take it up. @Nikhil-Nandagopal im sorry about yesterday. I had no idea. I'll let you know if i have any blockers

[2020-10-17 13:02] Nikhil-Nandagopal opened #1258 "[Bug] Copy Page put a page into a bad state"
## Description

In a user's org, one page has gone into a bad state not displaying widgets that are pasted on the page. The widgets still show in the entity explorer.
PageId: 5f8a9d0d44343943ed401739

[2020-10-17 13:18] Nikhil-Nandagopal opened #1259 "[Docs] MYSQL Documentation is missing in appsmith"
## Describe the problem
We have documentation on how to query postgres and mongodb but no documentation on MYSQL.

## Describe the improvement
We should create a document for Querying MYSQL that is very similar to postgres

[2020-10-17 13:50] KarenEfereyan commented on #1259
@Nikhil-Nandagopal please assign this one to me. I'm particularly good at writing. Are there any resources to gather information from though?

[2020-10-17 14:08] yash2189 commented on #1259
I could work on this @Nikhil-Nandagopal

[2020-10-17 14:26] Nikhil-Nandagopal commented on #1259
@KarenEfereyan you can have a look at our existing docs for postgres
https://docs.appsmith.com/core-concepts/connecting-to-databases/querying-postgres
And our contribution guide
https://github.com/appsmithorg/appsmith/blob/master/contributions/docs/CONTRIBUTING.md

[2020-10-17 14:26] Nikhil-Nandagopal commented on #1259
@yash2189 since Someone has already claimed this I suggest you go through our many open good first issues

[2020-10-17 15:00] ng29 commented on #935
I have created a draft PR for the underlying issue, kindly review and merge if no changes are required.

[2020-10-17 17:14] Sufiyan1997 commented on #1038
Just clarification on expected behavior here.
What should be the name of first copy? Should it be `API Copy` or `API (1)`?
Basically should it go API -> API(1) -> API(2) ? Or API -> API Copy -> API Copy(1) -> API Copy(2) ?

Also there is a function here:[https://github.com/appsmithorg/appsmith/blob/release/app/client/src/utils/AppsmithUtils.tsx#L68](https://github.com/appsmithorg/appsmith/blob/rel

[2020-10-17 18:18] ShraddhaGeek commented on #990
Can I work on this issue?

[2020-10-18 05:00] hetunandu commented on #949
Hey @ng29! The widget file is here

`app/client/src/widgets/FilePickerWidget.tsx`

You should also look at Button widget and see how the loading is implemented as it should be similar for filepicker as well

[2020-10-18 05:42] KarenEfereyan commented on #1259
I'll be sure to

[2020-10-18 11:25] KarenEfereyan commented on #1259
@Nikhil-Nandagopal the asset upload file is empty as can be seen here, https://github.com/appsmithorg/appsmith/blob/master/contributions/docs/asset-upload.md. In the project tree structure in Vscode, I queried for the asset-upload.md file and it doesn't seem to be there. Can you please look into it?

[2020-10-18 12:20] K-Kumar-01 commented on #1228
So can i take up this issue. I will try to work on it.

[2020-10-18 20:17] ng29 commented on #949
I have made a draft pr to fix this bug as per my understanding, kindly review and merge if no changes required.
Cheers

[2020-10-18 21:21] JeffResc opened #1264 "[Docs] Images are not optimized"
## Documentation Link

N/A

## Describe the problem

Images in this repository are not optimized.

## Describe the improvement

I have losslessly compressed them and was able to reduce the overall file size by around 22% without losing any image quality. My branch can be found [here](https://github.com/JeffResc/appsmith/tree/img). I would like to create a pull request with these changes, but I am

[2020-10-18 22:51] loiscodes commented on #1136
@Nikhil-Nandagopal The PR I created for this issue is passing all tests. If there is anything else that is needed, please let me know. Thanks!

[2020-10-19 02:33] satbir121 commented on #1174
@SantoshSrinivas79 Any updates?

[2020-10-19 02:35] satbir121 commented on #987
@spielers Any updates?

[2020-10-19 02:43] satbir121 commented on #944
@spielers Any updates?

[2020-10-19 02:45] satbir121 commented on #1205
@shreyamodi1999 Any updates?

[2020-10-19 04:35] spielers commented on #987
Yeah  work still is in draft mode . I'll try to complete asap

Thanks

On Mon, 19 Oct, 2020, 8:06 am satbir121, <notifications@github.com> wrote:

[2020-10-19 04:35] spielers commented on #944
Yeah work in progress shortly I'll make a PR

Thanks

On Mon, 19 Oct, 2020, 8:14 am satbir121, <notifications@github.com> wrote:

[2020-10-19 04:55] jrcamelo commented on #944
I am sorry @spielers, finished working on it right when you commented.
@mohanarpit only mentioned RestApiPlugin, but RapidApiPlugin had similar code, so I believe it might also be necessary there.
Are the changes in #1266 acceptable?

[2020-10-19 05:07] trishaanand commented on #1241
@Nikhil-Nandagopal : This looks like a frontend issue. The '/me' API is correctly returning back 'anonymousUser'.
Also, I am not seeing the "Fork" option for the customer support application. This is because the  "appIsExample" field has been set to false. Was that done intentionally?

[2020-10-19 05:18] #765 closed

[2020-10-19 05:29] mohanarpit opened #1267 "[Feature] Integrate with AWS Redshift"
## Summary

Appsmith should be able to connect with AWS Redshift and query data from that datasource.

## Motivation

Redshift is a data warehouse solution used by customers to store large amounts of data. Appsmith should be able to query data from Redshift and display results in a custom UI.

## Additional Context

Reference documentation: https://docs.aws.amazon.com/redshift/latest/mgmt/welcome.

[2020-10-19 05:52] Nikhil-Nandagopal opened #1268 "[Docs] Add documentation on how to use re-captcha in Button Widget"
## Describe the problem
Add a documentation page on how to use re-captcha inside a button widget

[2020-10-19 05:54] Nikhil-Nandagopal commented on #1264
👋 Hey Jeff, Thank you for your contribution. I don't see much value in reducing the image size of our documentation at this point but I'd be happy to have a look before taking a call. Unfortunately the link you point to redirects me to the fork not the PR against our repo so I can't see a diff. Can you raise a PR and link to that?

[2020-10-19 05:55] prapullac opened #1269 "[Bug] Enhancement : On adding Email id the role field must get activated"
Steps to reproduce:
1) Navigate to homepage
2) Click on the Share option
3) Select the role , Ensure the email ID is not added
and observe

Observation:
1) The role does not get selected until the Email Id is been added
2) No error message is displayed to user stating on reason for role not being selected

Expectation:
1) On adding Email id the role field must get activated
OR
2) Add an error mess

[2020-10-19 05:56] Nikhil-Nandagopal commented on #1258
Updating ticket with a video
https://www.loom.com/share/76d68c31dc124131a121b3440232ab65

[2020-10-19 06:15] Nikhil-Nandagopal commented on #1045
@Jain-Sanchit I don't see a PR linked to this issue so I'm unassigning this from you. Feel free to come back when you find the time

[2020-10-19 06:17] Nikhil-Nandagopal commented on #1248
@KarenEfereyan I've unassigned this from you. @prithviraj-maurya let me know if you'd still like to work on this

[2020-10-19 06:22] Nikhil-Nandagopal commented on #935
@ng29 thanks for your contribution. @mohanarpit can you verify this

[2020-10-19 06:31] gagandeepp commented on #633
It is a part of package.json file

[2020-10-19 06:32] #1182 closed

[2020-10-19 06:41] mohanarpit commented on #935
@ng29 Thank you for this PR! It has been merged 🎉

[2020-10-19 06:41] #935 closed

[2020-10-19 06:49] #944 closed

[2020-10-19 08:31] Nikhil-Nandagopal commented on #1259
@KarenEfereyan this seems to be the right file
https://github.com/appsmithorg/appsmith/blob/master/contributions/docs/UploadingAssets.md
Where did you find the previous link?

[2020-10-19 08:36] KarenEfereyan commented on #1259
On the main contributing.MD file

[2020-10-19 08:43] Nikhil-Nandagopal opened #1275 "[Task] Blank State for creating your first secure connection"

[2020-10-19 08:44] Nikhil-Nandagopal opened #1276 "[Feature] Delete datasource flow"

[2020-10-19 08:45] hetunandu commented on #718
Hey @jyash97. Thanks for such a detailed context to help us understand what your thoughts are around this solution. I checked this further and seems like this is failing since the `selectedOption` binding is multi select. You should see this error printed in the console when running in dev
<img width="1050" alt="Screenshot 2020-10-19 at 2 07 09 PM" src="https://user-images.githubusercontent.com/12

[2020-10-19 08:50] Nikhil-Nandagopal opened #1277 "[Task] Merge datasources and actions in explorer"

[2020-10-19 08:52] Nikhil-Nandagopal commented on #990
@ShraddhaGeek go for it!

[2020-10-19 08:53] Nikhil-Nandagopal commented on #1228
@K-Kumar-01 go for it! I'm assigning this to you

[2020-10-19 08:54] Nikhil-Nandagopal commented on #1136
@loiscodes thank you! @hetunandu will review your PR

[2020-10-19 08:56] #1258 closed

[2020-10-19 08:57] Nikhil-Nandagopal commented on #987
@spielers please link the PR to the issue

[2020-10-19 08:59] Nikhil-Nandagopal commented on #1269
@prapullac duplicate of #1239

[2020-10-19 08:59] #1269 closed

[2020-10-19 09:32] mohanarpit opened #1278 "[Feature] Report specific errors to Rollbar"
## Summary

Instead of all errors on the server side being reported to Rollbar, only specific errors should be reported.

## Motivation

Since the Appsmith Cloud Platform uses Rollbar for error tracing and paging engineers internally, we should only report those errors that are critical in nature and require an engineer's attention.

## Additional Context

In order to solve for this, we need to ad

[2020-10-19 09:36] Nikhil-Nandagopal opened #1279 "[Task] Clean the mock DB to simplify it"

[2020-10-19 09:49] Nikhil-Nandagopal commented on #1205
@shreyamodi1999 I don't see a PR for this. I understand something must have come up so I'm unassigning this from you. Feel free to come back to our issues when you have a chance!

[2020-10-19 09:53] ng29 commented on #1205
Hey @Nikhil-Nandagopal  / @satbir121

Can i pick this up and more info around this will be much appreciated such as file directory and so ..

Cheers

[2020-10-19 10:03] mohanarpit opened #1280 "[Task] Improve the performance of Form widget"

[2020-10-19 10:04] Nikhil-Nandagopal commented on #1205
@ng29 go for it!

[2020-10-19 10:10] sharat87 commented on #1155
This has been merged and should soon be available at <https://app.appsmith.com>.

@DeliriousWildebeest Thank you for the detailed suggestion which helped us prioritize this! 😁

[2020-10-19 10:10] #1155 closed

[2020-10-19 10:11] #1148 closed

[2020-10-19 10:14] ng29 commented on #1205
PLease assign and share buggy files path 👍

[2020-10-19 10:22] JoshHeng commented on #1268
@Nikhil-Nandagopal Please could I work on this issue

[2020-10-19 10:45] JoshHeng commented on #1268
@satbir121 I can't see the server side Recaptcha integration in your [commit](https://github.com/appsmithorg/appsmith/commit/8bf80fe50745f4cb64a2497a3de615c00af8ac13).
Is the Recaptcha integration complete (and are we not validating the captcha responses), or are you still working on it?

[2020-10-19 11:09] #1256 closed

[2020-10-19 11:16] prapullac opened #1282 "[Bug]-[500]:Entity explorer does not navigate to widget on other tab"
Steps to reproduce:
1) Add a tab widget
2) Add Multiple tabs
3) Add a dropdown widget on Tab1
4) Copy the Dropdown widget
5) Navigate to Tab2 and paste it without selection of the area
and observe

Observation:
Observation 1:
The dropdown widgets gets placed on Tab1 even when the user is on Tab2 but this is visible on the entity explorer

Observation 2:
Now clicking on the entity explorer for drop

[2020-10-19 11:26] #704 closed

[2020-10-19 11:36] Nikhil-Nandagopal commented on #1205
@ng29 the TableWidget file should be the one to checkout

[2020-10-19 11:39] Nikhil-Nandagopal commented on #1268
@JoshHeng re-captcha requires only a client-side integration on appsmith. The server is expected to receive the token that the client sends and perform the verification on their own.
What our documentation should display is
- Correctly configuring the recaptcha button
- Sending the re-captcha token to the backend using an API
- A link for a users backend to verify the token

[2020-10-19 11:43] Nikhil-Nandagopal opened #1283 "[Example] Create a customer OnBoarding Example app on appsmith"
## Describe the problem

We want to build a customer onBoarding example application to demonstrate the power of tools that can be built on appsmith. We can use this template as a guiding star on how the customer onboarding app should look
https://www.jetadmin.io/templates/customer-onboarding-tool
The app should be built on app.appsmith.com and be made public
The documentation and readme should be

[2020-10-19 11:45] Nikhil-Nandagopal opened #1284 "[Example] CRM Example app"
## Describe the problem

We want to build a CRM example application to demonstrate the power of tools that can be built on appsmith. We can use this template as a guiding star on what features the app should have
https://www.jetadmin.io/templates/custom-crm
The app should be built on app.appsmith.com and be made public
The documentation and readme should be updated with the application link

[2020-10-19 11:46] #763 closed

[2020-10-19 11:49] #664 closed

[2020-10-19 11:50] JoelLau commented on #1179
how about something like ESLint, Prettier, and pre-commit hook to enforce the coding style (Husky)

[2020-10-19 12:00] #966 closed

[2020-10-19 12:00] #965 closed

[2020-10-19 12:02] #663 closed

[2020-10-19 12:09] Nikhil-Nandagopal commented on #1063
@NetPenguins  I don't see a PR for this issue yet so I'm unassigning you from it. I understand something may have come up so feel free to come back to our open issues when you have a chance! 😃

[2020-10-19 12:11] #798 closed

[2020-10-19 12:16] Nikhil-Nandagopal commented on #985
Duplicate of #1254

[2020-10-19 12:16] #985 closed

[2020-10-19 12:17] Nikhil-Nandagopal commented on #750
Duplicate of #1143

[2020-10-19 12:17] #750 closed

[2020-10-19 12:23] #1037 closed

[2020-10-19 12:51] prapullac opened #1286 "[Bug] Widget gets placed at the bottom of the page when copied or created from the query page"
Steps to Reproduce:
Scenario 1:
1) Add widget
2) Copy the widget
3) Paste the widget
and observe

Scenario2:
1) Create a query
2) Click on Add widget
3) User is navigated to Edit mode
and observe

Observation :
It is observed that the widget gets placed completely at the bottom of the page which makes to difficult to navigate the position of the widgets and also not user friendly.

[![LOOM DEMO](h

[2020-10-19 13:05] prapullac opened #1287 "[Bug] Intermittent : page gets broken on multiple copy and paste option is used"
Steps to reproduce:
1) Add a widget
2) Copy the widget
3) Paste the widget multiple times
and observe

Observation :
The page is broken
Please refer the screenshot
![Screen Shot 2020-10-19 at 6 26 45 PM](https://user-images.githubusercontent.com/71753653/96454627-c146a380-1239-11eb-9143-02b1a9af7ad2.png)

[2020-10-19 13:32] hetunandu commented on #1179
@JoelLau We do have a pre-commit hook but looks like it does get run when committing directly via Github.

[2020-10-19 13:34] #1136 closed

[2020-10-19 13:40] #785 closed

[2020-10-19 13:57] Nikhil-Nandagopal opened #1289 "[Bug] GitHub OAuth Broken for new signups"
## Description

New signups are unable to signup via github. Same may be true for google oauth

![github](https://user-images.githubusercontent.com/3897254/96460638-0b7f5300-1241-11eb-8f1e-c7e91ab544bf.png)

[2020-10-19 14:29] prapullac opened #1290 "[Bug] Intermittent : User is displayed with an error message on application load"
Steps to reproduce
1) Navigate to homepage
2) Click on application edit button
and observe

Observation
It is observed that an error message is displayed to user on application edit
![Screen Shot 2020-10-19 at 7 11 27 PM](https://user-images.githubusercontent.com/71753653/96464507-85b1d680-1245-11eb-95a7-01f343a89eaf.png)
![Screen Shot 2020-10-19 at 8 14 29 PM](https://user-images.githubuserconten

[2020-10-19 16:16] #749 closed

[2020-10-19 16:28] akshay11298 commented on #974
Hi @Nikhil-Nandagopal, if thia issue is still up for grabs, I'd like to work on it

[2020-10-19 17:21] #1289 closed

[2020-10-19 17:30] akshay11298 commented on #1063
Hi @Nikhil-Nandagopal, if this issue is up for grabs, I'd like to work on it

[2020-10-19 17:44] Nikhil-Nandagopal commented on #1063
@akshay11298 go for it!

[2020-10-19 19:36] K-Kumar-01 commented on #1228
@Nikhil-Nandagopal Do i have to design it as shown in the image or can i create any ux of my choice as long as it seems good.

[2020-10-19 19:38] Nikhil-Nandagopal commented on #1228
The picture in the description is the ui we would like to use.

On Tue, Oct 20, 2020, 01:06 Kushal Kumar <notifications@github.com> wrote:

[2020-10-19 23:23] JeffResc commented on #1264
I attempted to first open this as a pull request, but the template suggested I should open an issue first. You can find the PR here:  #1294.

[2020-10-20 01:33] jrcamelo commented on #1248
I would like to try this.
I believe the problem lays somewhere around [here](https://github.com/ThakurKarthik/appsmith/blob/release/app/client/src/components/editorComponents/CodeEditor/index.tsx#L109-L215), perhaps happening when the lineWrapping is toggled.
I will set up my environment so I can test something out, but would you happen to have a clearer idea on how to fix this?

[2020-10-20 05:24] prapullac opened #1300 "[Bug] Cancel button is not displayed appropriately to user in dark mode"
1) Navigate to Home page
2) Ensure its on dark mode
3) Click on create Organisation
and observe the Cancel option

Observation:
Since user is on the Dark Mode it is observed that the Cancel option is not displayed to user

Expectation
Display the Cancel option in white color like that of Sumbit option for visibility to users
![Screen Shot 2020-10-20 at 10 32 59 AM](https://user-images.githubuserco

[2020-10-20 05:30] yash2189 commented on #1284
Hello I'm new to opensource . I'm not sure if I have understood the above issue completely.  Can you please tell me how do I get started with this? This would be my first contribution to Appsmith.

[2020-10-20 05:32] prapullac opened #1302 "[Bug] Same user can be invited on share and no error message is displayed to user"
Steps to reproduce:
1) Navigate to home page
2) Click on Share option
3) Add and email Id (Ensure the user is already invited)
4) Select a role
6) Click on invite
and observe

Observation:
It is observed that the user has been successfully invited

Expectation:
An error message stating the user is already invited must be displayed to user.

[2020-10-20 05:47] aakashDesign opened #1303 "[Bug] No "back to home" CTA on 500 page"
## Description

https://app.appsmith.com/500 does not have any call to action for users to navigate back/reset their state.

## Solution

Add "back to home" button on 500 page. Design should be same as https://app.appsmith.com/404

[2020-10-20 05:51] Nikhil-Nandagopal commented on #1284
@yash2189
This issue requires you to build an app on appsmith. The specifics of the app are in the link provided
You can read our documentation to learn how to get started with building :)
https://docs.appsmith.com

[2020-10-20 05:55] Nikhil-Nandagopal commented on #1290
@prapullac is this always happening? Is the query configured correctly?

[2020-10-20 05:55] Nikhil-Nandagopal commented on #974
@akshay11298 go for it

[2020-10-20 05:57] Nikhil-Nandagopal commented on #1264
@JeffResc  I see the net gain is about 20kb. The change is from
439kb to 420kb. The gain is not worth the risk of merging this large a change in terms of images so I'm not accepting this PR. Please have a look at our open issues

[2020-10-20 05:57] #1264 closed

[2020-10-20 06:02] JeffResc commented on #1303
Hello, could I go ahead and claim/reserve this to work on?

[2020-10-20 06:02] prapullac commented on #1290
@Nikhil-Nandagopal : This is nothing to do with the query table as I have not added on load action setting for the query. When I open the application I see this error and its intermittent as mentioned in the summary

[2020-10-20 06:08] yash2189 commented on #1284
I'll have read the documentation carefully and try creating on the appsmith cloud itself . Would that be fine? Do I need to pay for anything before creating the app on the appsmith cloud?

[2020-10-20 06:10] Nikhil-Nandagopal commented on #1284
Yes, that is fine. There are no charges on appsmith cloud :)

On Tue, Oct 20, 2020 at 11:39 AM Yash Ajgaonkar <notifications@github.com>
wrote:

--
Nikhil Nandagopal
(*Founder @* appsmith <https://appsmith.com>)

[2020-10-20 06:11] Nikhil-Nandagopal commented on #1303
@JeffResc go for it!

[2020-10-20 06:14] yash2189 commented on #1284
If it's similar to #1283 can I try creating that instead I found it to be a bit easy I'm not sure though.

[2020-10-20 06:16] Nikhil-Nandagopal commented on #1284
It's similar but both should be of the same level of complexity. You need
to create a db with data for both and build the UI / Queries on appsmith.

On Tue, Oct 20, 2020 at 11:44 AM Yash Ajgaonkar <notifications@github.com>
wrote:

--
Nikhil Nandagopal
(*Founder @* appsmith <https://appsmith.com>)

[2020-10-20 07:05] Nikhil-Nandagopal opened #1306 "[Bug] Email Button doesn't work"
## Description

In the role updated email, the goto appsmith button is not clickable

### Steps to reproduce the behaviour:
1. Invite someone to an org
2. Update their role
3. Check their email
4. The email informs them about the role update but the go to appsmith CTA is broken

[2020-10-20 07:07] Nikhil-Nandagopal commented on #1290
@prapullac is verified this is because there is a query select * from users in your app without a limit which is leading to a timeout

[2020-10-20 07:25] hetunandu commented on #1248
Good catch @jrcamelo. Definitely something to do with style toggles when an input is focused or blurred. Can you see if it is a border or a margin issue?

[2020-10-20 07:43] prapullac commented on #1290
Reopening the issue and Please do refer the video
https://www.loom.com/share/55f2c407124e4f03b365ae7452cf86a1

[2020-10-20 07:55] deependersingla opened #1308 "[Feature]"
## Summary
Conditional new fields appears based on user input

If appsmith can do some ajax magic where i can show dynamic form to the user based on the input they selected. For example: if they select country: India, they should see a new field GST Number.

This will make it super easy to use appsmith for more dynamic and complex input forms.

[Example.](https://miro.medium.com/max/1400/0*oXI0Y0n

[2020-10-20 08:00] akshay11298 commented on #1063
HI @Nikhil-Nandagopal, I have opened PR #1304 for this. Below is the screenshot of that screen.
![image](https://user-images.githubusercontent.com/26507126/96553846-61044000-12d3-11eb-8c7a-5bfb299ac57d.png)

I am not sure why but one of the test cases got cancelled. Can anyone help me with that? Thanks in advance!

[2020-10-20 08:03] prapullac opened #1309 "[Bug] Enhancement : Appropriate Error message must be displayed to user when Onpageload and confirm before load setting are used together"
Steps to reproduce:
1) Navigate to application
2) Create a query
3) Navigate to query setting
4) Toggle OnPageload and confirm before load
and observe

Expectation:
User can only use one among the option at once and when user tries to execute both together the user must be displayed with an error message

[2020-10-20 08:03] #1290 closed

[2020-10-20 08:39] Nikhil-Nandagopal opened #1311 "[Task] Show prompt to perform binding in input fields when there is no binding in the field"
https://www.figma.com/file/RdWmO9Ny6SfkMZAFIhLKSU/Appsmtih-NUX-Workspace_Aakash?node-id=543%3A0

[2020-10-20 08:57] yash2189 commented on #1284
Sure I will start from today itself

[2020-10-20 09:01] Nikhil-Nandagopal commented on #1308
@deependersingla this should already be possible today. You can control the visibility of a widget using dynamic values
use {{ Dropdown.selectedOptionValue === "" }} inside the visibility field

[2020-10-20 09:01] #1308 closed

[2020-10-20 09:01] #1238 closed

[2020-10-20 09:02] Nikhil-Nandagopal opened #1312 "[Docs] Add a page on how to control visibility of UI widgets"
## Describe the problem

Users don't fully understand that apppsmith can be used to dynamically control the visibility of a widget. We should display how to control a widget from another widget and from an API data

[2020-10-20 09:25] Nikhil-Nandagopal commented on #1309
@prapullac verified that this is not a problem. This is only because of the other issue #1290

[2020-10-20 09:25] #1309 closed

[2020-10-20 09:27] Nikhil-Nandagopal commented on #1073
We're now welcoming contribution to this issue

[2020-10-20 09:32] mohanarpit opened #1316 "[Docs] Add documentation on how to use the MS-SQL integration"
## Documentation Link

Need to add a section in our documentation that informs the user about Ms SQL server integration.

## Describe the problem

We've added Microsoft SQL Server as an integration to Appsmith. We need to have a page (similar to the [Postgres documentation](https://docs.appsmith.com/core-concepts/connecting-to-databases/querying-postgres)

## Describe the improvement

Please refer

[2020-10-20 09:33] Nikhil-Nandagopal commented on #1316
@mohanarpit duplicate of #1259

[2020-10-20 09:39] aakashDesign commented on #1228
@K-Kumar-01 Here is the design file, use it for specs
https://www.figma.com/file/rk9VnIDGKTMKSVEVOVKcIx/Mobile-users-caution-state?node-id=0%3A1

[2020-10-20 09:52] aakashDesign commented on #1311
Design for feature

![Screenshot 2020-10-20 at 3 21 49 PM](https://user-images.githubusercontent.com/65771350/96570433-ff9a9c00-12e7-11eb-8e33-f17661174392.png)

[2020-10-20 10:04] #1241 closed

[2020-10-20 10:27] areyabhishek commented on #1308
@deependersingla Here's a loom video showing how to access the conditional visibility feature: https://www.loom.com/share/09bfa0c841754cb198e6b1aee443d847 I've taken this video from an example app called "Applicant tracker" that should also be in your org.

In the gif you posted, the dropdown widget is replaced by a text field. This is currently not possible in Appsmith but you'll be able to achie

[2020-10-20 10:54] areyabhishek opened #1317 "[Feature] Form widget with conditional logic"
## Summary

Forms often need conditional logic which reacts to a user's choice. Developers might need to hide/show certain options or navigate to a different section of the form.

## Motivation

Conditional logic will ensure that users don't see the questions they aren't supposed to answer. It'll make it easier for developers to segment their audience and only show the relevant questions.

## Addi

[2020-10-20 11:06] areyabhishek commented on #1308
New issue created: https://github.com/appsmithorg/appsmith/issues/1317

[2020-10-20 11:31] K-Kumar-01 commented on #1228
@Nikhil-Nandagopal. Can we show the screen on signup page load. I mean when the user is trying to sign up we can show him the screen therehand only.

[2020-10-20 14:28] akshay11298 commented on #1063
That issue has been resolved and all test cases have passed now.

[2020-10-20 14:55] Nikhil-Nandagopal commented on #1308
@areyabhishek this is supported today using a tab widget
https://www.notion.so/appsmith/Dynamic-Forms-UI-d47551f9267144429be9a3bf8685b138

[2020-10-20 14:59] #1063 closed

[2020-10-20 14:59] Nikhil-Nandagopal commented on #1063
@akshay11298 awesome! One more successful PR! 🎉

[2020-10-20 15:01] Nikhil-Nandagopal commented on #1228
@K-Kumar-01 we'd like to do this post signup so that we can notify them when we have a mobile-ready version of the app!

[2020-10-20 17:22] michizhou opened #1321 "[Docs] Cases for references to Appsmith are inconsistent and typo found"
## Documentation Link

Inconsistent Cases for "Appsmith":
https://docs.appsmith.com/core-concepts/apis/running-apis-on-page-load
https://docs.appsmith.com/core-concepts/connecting-to-databases
https://docs.appsmith.com/function-reference/navigateto
https://docs.appsmith.com/third-party-services/email
https://docs.appsmith.com/third-party-services/email/sendgrid
https://docs.appsmith.com/third-part

[2020-10-20 19:16] akshay11298 commented on #974
Hi @Nikhil-Nandagopal @prapullac, for this I have updated the success message to "Your password has been reset. Redirecting to the login page" and removed the Login button. And I am redirecting after 1.5 seconds. Is this solution fine or should I do something else?

[2020-10-20 20:18] areyabhishek commented on #1321
@michizhou thanks for opening this issue!

[2020-10-20 20:23] michizhou commented on #1321
@areyabhishek @Nikhil-Nandagopal I have opened a PR that will resolve this issue. Please let me know if any additional changes or modifications need to be made for the documentation.

[2020-10-20 21:12] ng29 commented on #1205
hey @Nikhil-Nandagopal , currently i am doing the testing part of issue 949 , setup is in progress under the guidance of @hetunandu  , so will start this tomorrow

[2020-10-20 21:33] #1321 closed

[2020-10-21 04:25] #1141 closed

[2020-10-21 04:25] #1142 closed

[2020-10-21 05:57] hetunandu commented on #633
Hey @gagandeepp, were you able to resolve this? Let me know if you need help in solving this hiccup

[2020-10-21 06:10] #1306 closed

[2020-10-21 06:11] akshay11298 commented on #974
Hi, I have opened PR #1324 for this issue.
Screen recording is available at https://drive.google.com/file/d/1PfN8-nDNMbwdl5pibvNdudRJ_KRMwofB/view?usp=sharing

[2020-10-21 06:56] sentry-io[bot] opened #1325 "TypeError: Cannot read property 'value' of undefined"
Sentry Issue: [APPSMITH-8S](https://sentry.io/organizations/appsmith/issues/1970178610/?referrer=github_integration)

[code]

[2020-10-21 07:00] hetunandu commented on #1325
We need a undefined check on [this line](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/widgets/DropdownWidget.tsx#L104) to ensure there is already a selection option `this.props.selectedOption` before checking it's `.value` property

[2020-10-21 07:22] sentry-io[bot] opened #1326 "TypeError: null is not an object (evaluating 'n.title')"
Sentry Issue: [APPSMITH-6H](https://sentry.io/organizations/appsmith/issues/1906476844/?referrer=github_integration)

[code]

[2020-10-21 07:28] sentry-io[bot] opened #1327 "Error: DataCloneError: The object could not be cloned."
Sentry Issue: [APPSMITH-8V](https://sentry.io/organizations/appsmith/issues/1970189787/?referrer=github_integration)

[code]

[2020-10-21 08:24] hetunandu commented on #1327
Error occurred when trying to transfer the Data Tree into the new thread

[2020-10-21 08:37] #1279 closed

[2020-10-21 08:54] prapullac commented on #1306
Verified the issue and user is navigated to application

[2020-10-21 09:32] prapullac commented on #1290
Verified the issue and working as expected

[2020-10-21 09:32] devrk96 opened #1328 "[Task] Scope for writing tests"
- [x] Application name update
- [x] Application card icon update
- [x] Application card color update
- [x] Organization name update
- [x] Organization email update
- [x] Organization website update
- [x] Invite modal fix test-cases

https://www.notion.so/Home-Page-Re-design-89753cb1148d4e60815493b9b2b6e177

[2020-10-21 09:37] prapullac commented on #1258
Verified the issue and working as expected

[2020-10-21 09:37] deependersingla opened #1329 "[Bug] Malformed JSON in API"
## Description
API post request is not working with JSON body of a dynamic form. Please see attached screenshot for the details.

![image](https://user-images.githubusercontent.com/3043621/96701996-e1e43a00-13ae-11eb-9a32-ad504e8f797d.png)

Error:
![image](https://user-images.githubusercontent.com/3043621/96702156-1b1caa00-13af-11eb-841d-c87d587768ae.png)

System Details:
https://whatismybrowser.c

[2020-10-21 09:56] Nikhil-Nandagopal commented on #1329
Hi @deependersingla , this is due to a malformed JSON exception. You can wrap your bindings in quotes to avoid this
{
"type": "{{Dropdown1.selectedOptionValue}}"
}

Hope this help 😃

[2020-10-21 09:56] prapullac commented on #1209
Verified the issue and working as expected

[2020-10-21 10:04] deependersingla commented on #1329
thanks, worked.

[2020-10-21 10:04] #1329 closed

[2020-10-21 10:04] #419 closed

[2020-10-21 10:07] prapullac commented on #1203
Reopening the issue as the issue still exists on Release

[2020-10-21 10:11] prapullac commented on #1199
Verified issue as it is working as expected

[2020-10-21 10:12] prapullac commented on #1198
Verified the issue and is working as expected

[2020-10-21 10:15] prapullac commented on #1197
Verified the issue as it is working as expected

[2020-10-21 11:04] hetunandu opened #1333 "[Bug] Deleting entities is not causing a re evaluation"

[2020-10-21 12:15] #574 closed

[2020-10-21 12:21] prapullac commented on #1194
Verified the issue and working as expected

[2020-10-21 12:22] prapullac commented on #1256
Verified issue as it is working as expected

[2020-10-21 12:30] sharat87 opened #1336 "[Docs] Add docs for ElasticSearch plugin"
## Documentation Link

ElasticSearch plugin's docs link pointing at <https://docs.appsmith.com/core-concepts/connecting-to-databases/querying-elasticsearch> needs to be populated.

[2020-10-21 12:30] sharat87 opened #1337 "[Docs] Add docs for DynamoDB plugin"
## Documentation Link

DynamoDB plugin's docs link pointing at <https://docs.appsmith.com/core-concepts/connecting-to-databases/querying-dynamodb> needs to be populated.

[2020-10-21 14:44] Rithvik-Reddy commented on #1312
Hi can I be assigned this issue?

[2020-10-21 14:54] hetunandu commented on #1312
Hey @Rithvik-Reddy, assigned this to you. Welcome to the Appsmith community 😄
Make sure you read the [Documentation Contribution Guide](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before you proceed and raise the PR within 3 days.

[2020-10-21 15:11] hetunandu commented on #1203
@prapullac Can you help me with an error case? Is there an error message shown?

[2020-10-21 16:17] Rithvik-Reddy commented on #1312
Hi @hetunandu, thanks for the warm welcome. Will be sure to go through the guidelines before raising the PR.

[2020-10-21 19:45] #1325 closed

[2020-10-21 21:20] areyabhishek opened #1341 "[Bug] Date picker shows time field for formats that don't require time"
## Description

The date picker widget shows the time field even when the date format chosen doesn't require it.
<img width="450" alt="Screen Shot 2020-10-22 at 2 45 18 AM" src="https://user-images.githubusercontent.com/30255708/96788179-ac703880-1410-11eb-928e-73cf301ce169.png">

The time field should be hidden from the widget if the date format doesn't require it.

Loom video: https://www.loom.c

[2020-10-22 04:44] seehafer opened #1342 "[Feature] Ability to restrict signups"
## Summary

The ability to either remove the ability to arbitrarily signup, or restrict it to some whitelist.

## Motivation

For on-premise deployment, if one can guess the relevant URL, then one can create an account for the application. This is sub-optimal and requires the administrator to be manually checking the mongo db for errant accounts.

[2020-10-22 04:46] Nikhil-Nandagopal commented on #1342
@seehafer thank you for the feature request! We'll prioritise this and update you soon.

[2020-10-22 07:01] prapullac commented on #1063
Verified the issue and works as expected

[2020-10-22 07:03] trishaanand commented on #716
@akshay11298 : Could you please resolve the merge conflict? We can take it forward post that. Thanks!

[2020-10-22 07:03] Rithvik-Reddy commented on #1174
Hi @satbir121  is this issue availaible? If so can I take this up?

[2020-10-22 07:05] prapullac commented on #1048
Verified the issue and confirmation message is added into the action icon

[2020-10-22 07:09] prapullac commented on #1037
verified the issue and works as expected

[2020-10-22 07:10] SantoshSrinivas79 commented on #1174
@Rithvik-Reddy I haven't got to it yet. Pls feel free to take it up

[2020-10-22 07:13] prapullac commented on #962
verified the issue and shadow size has be reduced

[2020-10-22 07:14] prapullac commented on #961
Verified the issue

[2020-10-22 07:16] prapullac commented on #958
Verified the issue

[2020-10-22 07:19] trishaanand commented on #1038
@prapullac : If an API is copied, it outputs API Copy. If you copy API again, it outputs API Copy1. On another iteration its output is APICopy2.
If you copy the `API Copy`, then the expected API name should be `API Copy Copy`.
How would we distinguish between copying the original API multiple times, vs copying the copy iteratively?

[2020-10-22 07:21] prapullac commented on #944
Verified the issue and works as expected

[2020-10-22 07:29] trishaanand commented on #1038
@Sufiyan1997 : Could you hold the implementation for some time? Would love to first get on the same page about the expected behaviour. I am speaking to our test engineer, @prapullac, to resolve the expectation as soon as possible.

In the mean time, if you would like, you can check out a few other first time issues to contribute to. Cheers!

[2020-10-22 07:45] Rithvik-Reddy commented on #1174
@SantoshSrinivas79  Alright then will work on this.

[2020-10-22 07:56] #1016 closed

[2020-10-22 08:52] trishaanand commented on #1038
@Sufiyan1997 : I had a conversation with @prapullac and have decided that the current behaviour is acceptable and is the expected behaviour for now. We wouldn't be fixing this.

I hope you are able to pick up other good first issues for Hacktoberfest!

Cheers and good luck!

[2020-10-22 08:52] #1038 closed

[2020-10-22 09:09] hetunandu opened #1344 "[Bug] Layout DSL goes into a bad state after certain Widget Operations"
## Description

Not exactly sure why, but after a certain operations, the keys of our critical widget structure change and put the layout and the app in the bad state.

Two instances noticed so far:
- User updated a widget name and the name replaced by the `type` key.
- type had a `date` string attached to it `type`

[2020-10-22 09:25] Nikhil-Nandagopal opened #1345 "[Task] Auto flag queries on page load"
## Description
Users forget to flag queries as on Page load. We can pre-empt this for queries bound to widgets and not triggered by any widget. We should also let users know that the query / API was flagged

[2020-10-22 10:03] prapullac commented on #836
Verified the issue as it is working as expected

[2020-10-22 10:05] prapullac commented on #827
Verified the issue as it is working as expected

[2020-10-22 10:07] prapullac commented on #804
Verified the issue and works good for me

[2020-10-22 10:16] prapullac commented on #798
Issue is verified

[2020-10-22 10:21] prapullac commented on #785
Verified the issue and works as expected

[2020-10-22 10:40] K-Kumar-01 commented on #1228
@Nikhil-Nandagopal  @aakashDesign
This is the design implemented by me in the [sandbox] (https://codesandbox.io/s/awesome-glitter-k0sd8?file=/src/styles.css:0-962)

Also i had a doubt.
When the user will sign up he will land on applications page so we will show the page there i guess in useEffect hook.
This is the way i am thinking of implementation.

1. Check if user is on mobile in useEffect
2.

[2020-10-22 11:17] mohanarpit opened #1347 "[Docs] Add documentation for Redis Plugin"
## Documentation Link

Need to add a section in our documentation that informs the user about Redis server integration.

## Describe the problem

We've added Redis server as an integration to Appsmith. We need to have a page (similar to the [Postgres documentation](https://docs.appsmith.com/core-concepts/connecting-to-databases/querying-postgres))

## Describe the improvement

Please refer to the

[2020-10-22 11:29] prapullac commented on #727
verified the issue as it is working as expeceted

[2020-10-22 11:34] prapullac commented on #765
Verified the issue as it is working as expected

[2020-10-22 11:42] prapullac commented on #749
Verified the issue and works as expected

[2020-10-22 12:02] akshay11298 commented on #716
@trishaanand, I have resolved the merge conflict

[2020-10-22 12:04] prapullac commented on #704
Verified the issue and worked as expected

[2020-10-22 12:08] #716 closed

[2020-10-22 12:18] jroxendal opened #1349 "[Bug] docker failed to start"
The `appsmith-internal-server` of the docker components failed after running the install.sh script.

`java.lang.IllegalArgumentException: the salt parameter must not be empty`
<details>
<code>appsmith-internal-server_1  | Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
appsmith-internal-server_1  |  - Application run failed
appsmith

[2020-10-22 12:30] Nikhil-Nandagopal commented on #1349
Hi @jroxendal 👋
Sorry you faced this issue.
@mohanarpit could you have a look and help here? The script seems to be working on my mac!

[2020-10-22 12:30] mohanarpit commented on #1349
@jroxendal This error is occurring because the `encryption.env` file that got generated doesn't have the keys: `APPSMITH_ENCRYPTION_PASSWORD` or `APPSMITH_ENCRYPTION_SALT` . These are mandatory for the server to start up correctly. Can you please confirm this?

[2020-10-22 12:33] jroxendal commented on #1349
I can confirm this: if I edit the generated file and input values, it start working! Thanks for the quick reply.

[2020-10-22 12:34] prapullac commented on #1203
@hetunandu Adding the screenshot for the above issue
![Screen Shot 2020-10-22 at 6 03 09 PM](https://user-images.githubusercontent.com/71753653/96872233-fc8edf80-1490-11eb-80aa-fff334c4b3d5.png)

[2020-10-22 12:51] #1349 closed

[2020-10-22 12:52] hetunandu commented on #1203
@prapullac This is the expected behaviour. onPageLoad actions can break but the editor should still be functional. You should still be able to create/edit/run actions which used to break before. Please test if that still works. The error is shown to tell the user that the page load actions may have some issues

[2020-10-22 12:52] jroxendal commented on #1349
You should probably document this :)

[2020-10-22 12:58] hetunandu commented on #1327
Confirmed that this is only happening on Firefox. They do not support cloning Error objects while Chrome does

[2020-10-22 13:15] #1327 closed

[2020-10-22 13:15] #1333 closed

[2020-10-22 13:29] mohanarpit commented on #1203
@hetunandu Wouldn't it be better to inform the user specifically which actions aren't working properly? Is that possible?

[2020-10-22 13:33] mohanarpit commented on #1174
@Rithvik-Reddy Welcome to Appsmith! 🎉

I've assigned this issue to you. Please try to raise a PR in the next 2 days to resolve this issue.

[2020-10-22 13:48] mohanarpit commented on #1015
Closing this issue for now since we are not prioritizing this code change.

[2020-10-22 13:48] #1015 closed

[2020-10-22 13:59] mohanarpit commented on #875
@Nikhil-Nandagopal @satbir121 Is this still valid? I don't see any such errors in the last 20 days. Can we close this issue?

[2020-10-22 14:13] hetunandu commented on #1203
Should be possible @mohanarpit. Can we open a new issue for this?

[2020-10-22 15:52] satbir121 commented on #1228
@K-Kumar-01 We do not want to bind this UI to `/applications` route because if a user is given a link for an application, they get redirected to an application. Also, tomorrow we may want to change the default route from `/applications` to something else. Ideally, this should be done on `SignIn/SignUp Success`.

[2020-10-22 16:03] Nikhil-Nandagopal commented on #1349
@jroxendal this shouldn't have required you to add a salt value. fresh installations don't require salts but the script was confusing so we understand how you landed here.
Steps we're taking to improve this
- Update the script with better text so users performing new installs are not confused by the flow which connects them to their existing installations
- Add a check so that an empty salt value

[2020-10-22 16:23] satbir121 commented on #1228
@K-Kumar-01 We can try this: Redirect all routes except `login` and `signup` to `/mobile` when . Now, when you click on `Continue with Desktop version`, you override and enable

[2020-10-22 18:11] K-Kumar-01 commented on #1228
@satbir121
I think the width one would be a bit buggy as i may open window say in 568 px in my pc by resizing the window. I was able to find the following function:
[code]
As of the redirection part i will try to implement them.
Just a thing i wanted to know.
Is it possible if someone can tell me how authentication is done here(i mean using jwts and reading them or any other way).
Thanks for the h

[2020-10-23 02:55] satbir121 commented on #1228
Check `LandingScreen.tsx`

[2020-10-23 04:18] mohanarpit commented on #805
Closing issue because this is expected behaviour. The API server returns only JSON API responses. Hence returning HTTP responses with appropriate status codes is expected behaviour.

[2020-10-23 04:18] #805 closed

[2020-10-23 04:23] mohanarpit commented on #954
This is happening because the DB doesn't have a unique index for the name field in the collection. We should add a MongoDB migration in `DatabaseChangelog` class to add a unique index for datasource name & organizationId.

[2020-10-23 04:23] mohanarpit commented on #954
@ng29 Would you be interested in taking this up?

[2020-10-23 04:46] prapullac commented on #716
Issue is verified and working as expected

[2020-10-23 04:57] Rithvik-Reddy commented on #1174
@mohanarpit Thanks for warm welcome. Will raise the PR soon

[2020-10-23 06:15] #875 closed

[2020-10-23 06:27] mohanarpit opened #1357 "[Bug] Show appropriate error message when an onPageLoad action fails"
## Description

When an action fails when loading a page for the first time, we show a generic error message "Failed to load onPageLoad actions". Instead of this we should show a better and more specific error message to the user informing them which actions are erroring out. This will help the user debug and improve their application faster.

### Steps to reproduce the behaviour:

1. Create an ac

[2020-10-23 06:28] mohanarpit commented on #1203
Opened #1357 to fix the error message being displayed to the user.

[2020-10-23 06:52] akash-codemonk commented on #1275
[Design](https://www.figma.com/file/RdWmO9Ny6SfkMZAFIhLKSU/Appsmtih-NUX-Workspace_Aakash?node-id=530%3A0)

[2020-10-23 06:59] prapullac commented on #650
Verified the issue and works as expected

[2020-10-23 07:20] mohanarpit opened #1361 "[Feature] Support Appsmith deployment on k8s"
## Summary

Add an installation script (similar to `install.sh`) that supports deployment to a k8s cluster.

## Motivation

Kubernetes is a popular deployment target used by many startups to run their production workloads. Appsmith should be able to deploy to those targets.

## Additional Context

[2020-10-23 07:58] satbir121 commented on #1228
@K-Kumar-01 Please check `LandingScreen.tsx`

[2020-10-23 08:10] naqushab opened #1362 "[Feature] In an On-premise Deployment, there should ability to disable signups"
## Summary

In an on-premise deployment, there should be an option where people can directly go and use the page without having to login at all.

## Motivation

On an on-premise deployment there would be people on a restricted network and not random people. So the users should be able to use the dashboards and intersect with it without any sign-up. Only admins need to have a sign up page and can r

[2020-10-23 08:17] hetunandu commented on #1362
Hey @naqushab, this is a nice feature request. Just wanted to confirm a few things. It is possible to have an app have public view access, since this would be inside your network, it will restrict it only to the people who have access to the network. Does this work out for you or do you expect edit access to be public as well?

[2020-10-23 08:20] Debsourabh opened #1363 "[Bug] On Clicking of lightning bolt to add data we should change the interaction from click to hover."
## Description

The widgets can call for data from API or Datasources. This happens when the user will click on the lightning bolt to choose a data source. The interaction as of now is that they have to click on each of them to add. This can be changed to hover.

### Steps to reproduce the behaviour:
1. Add any widget
2. Select Data > from API
3. You need to click on API again to create a new API

[2020-10-23 08:30] K-Kumar-01 commented on #1228
@satbir121
I checked the landing page and its using email to check the authentication.
Now as of redirecting to the `/mobile` i am not able to figure out how to do the particular thing.

What i am thinking:
1. Make the component for mobile screen advise
2. in its useeffect check if the screen is mobile or not.
3. if yes show the html and onlick continue to desktop hide the html else leave it.
4. U

[2020-10-23 08:44] Nikhil-Nandagopal opened #1364 "[Task] Open lightning menu on click of a Table instead of expanding columns"

[2020-10-23 08:54] pric-appsmith opened #1365 "[Bug] Incorrect autocomplete of toString() to convert to string"
## Description

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. To convert a value  (let's say `userId`) to string using JS, When I select `toString` option from autocomplete suggestions, it completes it as `userId.toString`, which is incorrect, and I have to manually change it to `toString()`.

![chrome-capture](https://

[2020-10-23 09:15] naqushab commented on #1362
Hey @hetunandu ,
Thanks for the quick response. Yeah, sorry, I got the point where I could manage access. That should do it.

Also, it would be nice to have slug names for different applications, but regarding this issue, I think it is already there.

I will close the ticket.

[2020-10-23 09:16] #1362 closed

[2020-10-23 09:27] hetunandu commented on #1362
NP @naqushab 😄 That slug name feature is useful as well. Request you to open a new issue around it so we can add it to our roadmap

[2020-10-23 09:38] #1203 closed

[2020-10-23 09:38] hetunandu commented on #1203
Closing this since it is working as expected

[2020-10-23 09:44] KarthiK2601 commented on #1347
please assign me this task

[2020-10-23 09:46] Nikhil-Nandagopal commented on #1365
@pric-appsmith thanks for catching this!

[2020-10-23 09:47] NandanAnantharamu opened #1366 "[Bug]Add widget from from Query is not populating query data in table widget"
Steps:

1.Create a query using postgres datasource.
2.Then execute a query , make sure you can see the query response.
3.Click on Add widget.

Expected:
Table widget to be populated with query response.

Actual:
Table widget is populated with default table data.

[2020-10-23 09:49] Nikhil-Nandagopal commented on #1347
@KarthiK2601 go for it! 🎉
Be sure to have a look at our contribution guidelines and our existing documentation format for db integrations :)

[2020-10-23 09:52] naqushab commented on #1362
Sure thing @hetunandu

[2020-10-23 09:58] naqushab opened #1367 "[Feature] Applications should have generated slug names for URLs"
## Summary

Slug names provide a useful feature of automatically acting as an identifier on what page a person is on. Applications created should have a slug name or user can provide it, so that it would be easy for people to navigate through the applications.

## Motivation

Right now Appsmith generates an application url itself which is not very intuitive and cannot uniquely identify the app. Ha

[2020-10-23 10:27] akash-codemonk commented on #1366
@NandanAnantharamu  Just tried on release seems to work.

[2020-10-23 10:34] KarthiK2601 commented on #1347
yeah sure i will have a look at that !

[2020-10-23 10:42] KarthiK2601 commented on #1347
can you please guide me through

[2020-10-23 10:44] KarthiK2601 commented on #1347
i have forked the appsmith-docs repo

[2020-10-23 10:48] KarthiK2601 commented on #1347
which category does the Redis server integration documentation come under ?
Documenting widgets, functions, DB integrations or uploading assets ?

[2020-10-23 10:51] KarthiK2601 commented on #1337
can you assign me this

[2020-10-23 10:52] KarthiK2601 commented on #1337
also the link shared above says the web page is not found

[2020-10-23 10:53] KarthiK2601 commented on #1336
can you assign me this
also the above said link is not working

[2020-10-23 10:56] KarthiK2601 commented on #1347
it comes under the plugin category, and there is no Guidelines for how to document New plugins

[2020-10-23 11:01] akash-codemonk commented on #1366
I can replicate the issue.

[2020-10-23 11:01] #1268 closed

[2020-10-23 11:03] Nikhil-Nandagopal commented on #1367
@naqushab thank you for the feature request!

[2020-10-23 11:29] prapullac opened #1369 "[Bug] Intermittent : Unable to login via Email,Google,Git"
User is unable to login via email as it displays an error message
User is unable to login via google it displays an oAuth error

however after a while user is able to login with same credentials that showed error
![Screen Shot 2020-10-23 at 1 22 57 PM](https://user-images.githubusercontent.com/71753653/96998318-e8121c00-1550-11eb-871f-142b34839b53.png)
![Screen Shot 2020-10-23 at 1 20 36 PM](https

[2020-10-23 11:39] prapullac opened #1370 "[Bug] Confirm on reload is not functional for pageLoadActions"
Steps to reproduce
1) Navigate to editor
2) Add a Query
3) Navigate to settings
4) Toggle on Confirm on reload
5) navigate to editor
6)Add a table widget with binding a query
7) Refresh the page and observe

Observation:
It is observed that the Confirm on reload is not functional  as the pop up asking for confirmation is not dispalyed in editor mode as well as Deploy mode

Expectation:
On refresh

[2020-10-23 11:57] NandanAnantharamu commented on #1366
@akash-codemonk yeah its kind of intermittent. If you need any help do let me know

[2020-10-23 12:03] ng29 commented on #954
Not possible currently @mohanarpit , occupied with other tasks rn

[2020-10-23 13:15] prapullac opened #1371 "[Bug] Response body is not displayed to user when HTTPS is not added to API"
When the API is added without HTTPS and run for Success it is observed that the response body is not added however the status 200 is displayed to user

![Screen Shot 2020-10-23 at 6 44 57 PM](https://user-images.githubusercontent.com/71753653/97007989-ddab4e80-155f-11eb-91eb-026acdd6af2b.png)

[2020-10-23 14:22] hetunandu commented on #1371
Seems to be working with other apis. Maybe just a pipedream specific thing?

[2020-10-23 16:35] Nikhil-Nandagopal opened #1376 "[Bug] On Page Load actions don't take values from widgets"
## Description

### Steps
1. Drag a table
2. Connect it to a query
3. Take the tables search text and pageNo as inputs to the query
4. Flag the query on page load
5. Refresh the page
6. The query fails to run because it does not take data from the widget

[2020-10-23 16:36] Nikhil-Nandagopal opened #1377 "[Bug] Refreshing table data should not clear the selection"
### Steps to reproduce the behaviour:
1. Drag a table
2. Connect it to a Query
3. Select a row
4. Refresh the table data
5. The selection is cleared

[2020-10-23 16:36] NandanAnantharamu commented on #1366
Its working

[2020-10-23 16:51] hetunandu commented on #1366
@NandanAnantharamu Can you push the test case now

[2020-10-23 17:13] NandanAnantharamu opened #1378 "[Bug]Add widget from from Query and then bind to a input widget"
Steps:
1.Create a query and addwidget.
2.Now make sure you have an input widget, try to bind this with input widget.

Expected:
Based on the binding the data should be seen in input widget.

Actual:
Input widget is not displaying the data based on the binding done.

[2020-10-23 17:15] NandanAnantharamu commented on #1366
@hetunandu data is loading but there is issue with binding , https://github.com/appsmithorg/appsmith/issues/1378

[2020-10-23 17:54] NandanAnantharamu commented on #1366
@akash-codemonk This issue still seen intermittently , can you check again ?

[2020-10-23 18:31] #1376 closed

[2020-10-23 18:33] Nikhil-Nandagopal opened #1381 "[Bug] Circular Dependency Error in dropdown"
## Description

Pages break when dropdowns have a circular dependency error

### Steps to reproduce the behavior:
1. Add a dropdown to a page
2. Add {{Dropdown1}} to the options field
3. refresh the page
4. The page breaks

[2020-10-23 18:54] hetunandu commented on #1280
The form will cause a eval loop if
- A filepicker is added inside a form
- A Multi select dropdown is added inside a form

[2020-10-23 21:45] paususe opened #1382 "[Feature] Support deploying on SUSE operating systems"
## Summary

The https://github.com/appsmithorg/appsmith/blob/release/deploy/install.sh script does not support deploying on SUSE operating systems. Please do.

## Motivation

Makes it possible to install on openSUSE/SLES for users of those Linux distributions.

## Additional Context

[2020-10-24 05:07] Nikhil-Nandagopal commented on #1341
Duplicate of #773

[2020-10-24 05:07] #1341 closed

[2020-10-24 05:09] Nikhil-Nandagopal commented on #980
Duplicate of #752

[2020-10-24 05:09] #980 closed

[2020-10-24 06:16] mohanarpit opened #1385 "[Bug] Loading app in view mode always opens default page"
## Description

In the view mode for a multi-page app, the default page is always opened instead of the specific page that the user wishes to traverse to.

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Create a multi-page application
2. Deploy the application & go to the view mode
3. Navigate to any non-deafult page
4.

[2020-10-24 06:19] mohanarpit opened #1386 "[Bug] Opening applications/ breaks the theme"
## Description

Opening the home page with the trailing slash `/applications/` breaks the theme and displays the page weirdly

### Steps to reproduce the behaviour:

1. Go to https://app.appsmith.com/applications/

<img width="1678" alt="Screenshot 2020-10-24 at 11 48 59 AM" src="https://user-images.githubusercontent.com/458946/97069586-eb5be500-15ee-11eb-916d-ab7ade8b3828.png">

### Important Det

[2020-10-24 06:36] yash2189 commented on #1386
Hi! Can you please tell me what needs to be done for this specific issue?

[2020-10-24 11:39] hetunandu opened #1389 "[Bug] JS Switch not converting back to ui"
## Description
JS switch button converts to js field on first click but fails to convert back into ui field on switch back

### Steps to reproduce the behaviour:
1. For a text widget, convert to js for visibility
2. Click JS again

##### Observation:
Clicking `JS` again is not switching to UI

### Important Details
 - Version: [Cloud / Self-Hosted v1.2.10]

[2020-10-24 11:45] #1385 closed

[2020-10-24 13:21] Nikhil-Nandagopal commented on #1382
@paususe thank you for opening this issue and the PR! We'll have this tested and merged in soon 🎉

[2020-10-24 14:29] #1389 closed

[2020-10-24 17:09] ThakurKarthik commented on #1386
Hey @mohanarpit @hetunandu can i take this issue? I have a fix ready

[2020-10-24 17:11] trishaanand commented on #1386
@ThakurKarthik : Go for it! Looking forward to your PR!

[2020-10-24 17:21] yash2189 commented on #1336
Hello can this be taken?

[2020-10-24 17:40] mohanarpit commented on #1336
@KarthiK2601 Go for it!

The link is not working because once you resolve this PR, that's where your content will start to show up. You can check our documentation for other integrations (like Postgresql) at: https://docs.appsmith.com/core-concepts/connecting-to-databases/querying-postgres

We would want a similar page for Elasticsearch as well.

[2020-10-24 17:41] mohanarpit commented on #1336
@yash2189 I'm sorry but @KarthiK2601 claimed this first, hence I've assigned it to him.

Please claim some other issues from our list of "Good First Issue".

[2020-10-24 17:44] mohanarpit commented on #1347
@KarthiK2601 It comes under the section of "Connecting to Databases". The documentation for Redis should be similar to the Postgres one linked in the issue.

Let me know if you have any other questions regarding this.

[2020-10-24 17:46] mohanarpit commented on #1337
@KarthiK2601 Yes, the link is throwing a 404 because the documentation doesn't exist yet 😄. The link is placed there so that we can verify if the documentation has been written in the appropriate section with the expected URL.

Also, I see that you already have 2 other issues assigned to you. Can you raise PRs and close them before picking this one up?

[2020-10-24 17:49] yash2189 commented on #1337
Hi @mohanarpit , can this issue be assigned or would it be assigned on FCFS basis?
Please tell me , thanks.

[2020-10-24 18:14] trishaanand commented on #1386
@yash2189 : I am sorry that I completely missed your message and assigned this issue to the second responder. I would be very mindful of this in the future. I hope you can pick up another good first issue and are not discouraged because of my mistake.

[2020-10-24 18:15] mohanarpit commented on #1337
@yash2189 It's generally FCFS. But since @KarthiK2601 already has 2 other issues assigned to them, you are free to take this one up. We just want to ensure that folks aren't overloaded with issues in a single go.

Happy contributing! 😄

[2020-10-24 18:19] mohanarpit commented on #1155
@DeliriousWildebeest This integration is now available on https://app.appsmith.com. Feel free to give it a spin.

Look forward to your feedback on this integration.

[2020-10-24 18:22] mohanarpit commented on #1302
@prapullac I'm closing this issue because it's expected behaviour. Even if the user exists in a particular organization, we don't want to throw any errors and want to seamlessly let the request go through. Throwing an error in this scenario is not the desired UX.

[2020-10-24 18:22] #1302 closed

[2020-10-24 18:25] mohanarpit commented on #1249
@KarenEfereyan We haven't seen any activity on this issue in the last few days. I just wanted to follow up and find out if you're still working on this issue.

Please don't hesitate to reach out if you are stuck and need any help from the maintainers.

[2020-10-24 21:18] ThakurKarthik commented on #1386
Hey @trishaanand since the issue was not assigned to @yash2189, I started working on it.I assumed that since he did not ask to be assigned, the issue was available. I hope it did not offend anyone.
Thanks

[2020-10-24 21:22] yash2189 commented on #1386
That's alright @trishaanand , since @ThakurKarthik already had a fix for that issue it was better that he got assigned :)

[2020-10-24 22:42] areyabhishek opened #1392 "[Feature] Datagrid widget"
## Summary

A data grid widget will enable users to create an editable spreadsheet view of their database.

## Motivation

Advanced users will use this to quickly edit multiple cells.

## Additional Context

We could use ag grid or other open source libraries.

[2020-10-25 04:24] mohanarpit commented on #990
@ShraddhaGeek Are you still working on this issue? I'm asking because there hasn't been any activity on this issue.

[2020-10-25 06:34] KarthiK2601 commented on #1336
ok i am going to start working on the issue right away

[2020-10-25 06:43] KarthiK2601 commented on #1336
where can i find the docs for the elastisearch ?
can you please guide me through

[2020-10-25 06:48] KarenEfereyan commented on #1249
Yes. Good morning. So sorry i haven't given updates. The truth is im not sure how to tackle the issue. What exactly do i need to do?

[2020-10-25 06:57] KarenEfereyan commented on #1249
Yes. Good morning. So sorry i haven't given updates. The truth is im not sure how to tackle the issue. What exactly do i need to do?

[2020-10-25 07:17] yash2189 commented on #1337
Hi @mohanarpit can you please tell me where can I find some information/docs about DynamoDB

[2020-10-25 07:38] KarthiK2601 commented on #1347
can you please guide me through

[2020-10-25 07:46] Nikhil-Nandagopal opened #1396 "[Bug] Entity names that coincide with internal function names put entities in a bad state"
## Description

A button named download puts the button in a bad state because it coincides with our internal function name

### Steps to reproduce the behaviour:
1. drag a button
2. name it download
3. the button breaks
4. this could be true of apis / queries as well

[2020-10-25 12:34] mohanarpit commented on #1347
@KarthiK2601 What are you stuck with? Please refer to the [contribution doc](https://github.com/appsmithorg/appsmith/blob/master/contributions/docs/CONTRIBUTING.md) to check out how to create documentation pages.

A new page needs to be added in the "Connecting to Databases" section of the document. This new page needs to tell the user how to connect to a Redis instance and query it using Appsmith

[2020-10-25 12:35] mohanarpit commented on #1337
@yash2189 AWS documentation is a good starting point: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.html. Else there are a lot of tutorials online on how to work with DynamoDB.

[2020-10-25 12:39] mohanarpit commented on #1336
@KarthiK2601 https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started.html may be a good place to start. Else, you can find a lot of other tutorials on Getting Started with Elasticsearch by Googling.

[2020-10-25 12:39] mohanarpit commented on #1336
@KarthiK2601 https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started.html may be a good place to start. Else, you can find a lot of other tutorials on Getting Started with Elasticsearch by Googling.

[2020-10-26 03:55] prapullac commented on #1389
Verified the issue as it is working as expected

[2020-10-26 04:03] prapullac commented on #1385
Verified the issue as it is working as expected

[2020-10-26 04:56] prapullac commented on #780
Verified issue and works as expected

[2020-10-26 05:05] prapullac commented on #627
Verified the issue as it is working as expected

[2020-10-26 05:20] prapullac opened #1397 "[Bug] User is unable to scroll sideways even when there exist data on that side of the table"
Steps to reproduce :
1) Add a table
2) Now hide a column
3) Now try to scroll the table sideways
and observe

Observation:
User is unable to scroll the table sideways

[2020-10-26 05:24] prapullac commented on #1366
Verified the issue and working as expected

[2020-10-26 05:25] #1366 closed

[2020-10-26 05:25] #951 closed

[2020-10-26 07:00] #1386 closed

[2020-10-26 07:46] Nikhil-Nandagopal commented on #990
@ShraddhaGeek  I don't see a PR for this issue yet so I'm unassigning you from it. I understand something may have come up so feel free to come back to our open issues when you have a chance!

[2020-10-26 08:02] hetunandu commented on #1249
Hey @KarenEfereyan

The file you need to update is the [ApiEditor/Form](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/Editor/APIEditor/Form.tsx#L199)

This is using the [BaseDropdown](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/components/designSystems/appsmith/Dropdown.tsx) component.
We use [react-select](https://react-select.com/home) for this

[2020-10-26 09:15] prapullac opened #1398 "[Enhancement]: Show an icon indicating Homepage in deployment mode"
Steps to reproduce:
1) Add multiple page
2) Define the homepage
Deploy the application

observation:
It is observed that the user is unable to identify the homepage of the application

Expectation:
As defined in the editor mode if user at the deploy mode can identify the homepage it will be user friendly.

[2020-10-26 09:28] mohanarpit opened #1400 "[Bug] Move all build time variables to runtime variables in the client"
## Description

Instead of using `REACT_APP_*` variables (that are set at build time), we should move them to `APPSMITH_*` variables that can be set at runtime. This will ensure that users are able to configure their instances on the fly and not need to rebuild the client application.

[2020-10-26 09:29] prapullac opened #1401 "[Bug] Refactor : Queries dont get copied from the Parent page to child page"
Steps to reproduce:
1) Add a query to Page1 bind to table
2) Now copy a page
and observe

Observe:
It is observed that the widgets on the parent page gets copied however the binding also remains on the table butit is observed that the query does not get copied for the binding to work

Expectation:
It is expected that the query and API must get copied.