[2022-03-23 12:25] eco-monk commented on #12012
This bug might be hinting at something else that needs to be fixed.
It seems we are considering all lint errors as JS errors and are blocking the users from running any function in the response tab.
They could be considered warnings instead?

Another case raised by a discord user.
<img width="1386" alt="image" src="https://user-images.githubusercontent.com/66776129/159698520-f4bc1436-36e7-402b-843

[2022-03-23 12:29] Nikhil-Nandagopal commented on #12153
@funge thank you for this feature request! Unfortunately, we are backed up right now with improving the experience of a whole bunch of our existing data sources. We'll be sure to prioritize this if this gets more attention :)

[2022-03-23 12:30] #12045 closed

[2022-03-23 12:32] eco-monk commented on #12012
@Nikhil-Nandagopal, as of now I have only seen one user using eval.
The use-case was:
- A widget name is stored as a string
- And they were using eval to access that widget

 Something like `eval(appsmith.store.widgetName).text`
 where the store maybe updated based on a certain condition/action.
 widgetNames could be - Input1, Input2, Input3 etc...

 They could use a switch case to do this instead

[2022-03-23 12:33] abhvsn commented on #12094
Next set of actions to be performed on an immediate basis:

- [ ] Disable all the git related APIs till the list branches return the valid response @IAmAnubhavSaini
- [ ] Don't throw an exception if the local repo and DB are not in sync, currently if the repo has the local branch and the same is not available in DB this throws the `Resource Not Found` exception @abhvsn
- [ ] Triage the issue relat

[2022-03-23 12:46] somangshu commented on #11203
- [ ] When the widget is not visible and animate loading is false - dont show widget or the skeleton
- [ ] When the widget is visible and animate loading is false - show the widget but not the skeleton
- [ ] When widget is visible and animate loading is true - show the widget and the skeleton
- [ ] when widget is not visible and animate loading is true - should not show the widget and skeleton

|

[2022-03-23 12:49] somangshu commented on #10379
@prsidhu in case we have the change in #11812 can we guarantee that the app wont be unresponsive even if we have enabled links, can you test this in the PR and if successful, lets link this issue there

[2022-03-23 13:35] eco-monk opened #12176 "[Feature]: input onFocus, OnBlur events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user wants to trigger an API onBlur, to the save the contents of input text.

### Why should this be worked on?

Opens up new events for calling API's.

[2022-03-23 13:37] Nikhil-Nandagopal commented on #12012
@eco-monk is it a warning or a genuine syntax issue? If it's a warning that's a big problem we need to fix. If it's a syntax error then isn't it expected?
Understood the use case, it's not something we thought about supporting before. Feels like a hack we should avoid and probably expose some safe method to do this

[2022-03-23 13:37] dilippitchika commented on #11839
Me and @ashit-rath were discussing this that we should support null overall in all the widgets. We will need to do on a bigger level. If this is not a migration, we are good to go with this fix.

[2022-03-23 13:37] #12176 closed

[2022-03-23 13:38] Nikhil-Nandagopal commented on #9031
Thanks for the wonderful information @vmulholl !

[2022-03-23 13:41] Nikhil-Nandagopal commented on #12170
@Aishwarya-U-R I know this is a problem for our org because we do a lot of testing but this is generally not a problem for users since they don't have more than 3 - 4 datasources so I'm going to close this :)

[2022-03-23 13:41] #12170 closed

[2022-03-23 13:44] Nikhil-Nandagopal commented on #12168
@nayan-rafiq the image did not get uploaded please update it. Also for super tiny text fixes can we just fix them instead of creating an issue around fixing them?

[2022-03-23 13:44] #12168 closed

[2022-03-23 13:44] eco-monk opened #12177 "[Bug]-[1000]:navigateTo params 0 doesn't work."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`navigateTo("Page2", {id: 0})` doesn't add id to the URL. (Any variable with value 0 doesn't get passed)

Workaround: call toString() in the variable
`navigateTo("Page2", {id: "0"})`

### Steps To Reproduce

1. Call `navigateTo("Page2", {id: 0})` on click.
2. Click the button and notice URL is not

[2022-03-23 13:47] Nikhil-Nandagopal commented on #7554
@Tooluloope great approach to validate the UX!

[2022-03-23 13:49] jjagielka commented on #11188
On top of it, containers prevent the widgets to be visible for the form data. If you group widget (which adds container in the background) widgets are removed from from data visibility. Similarly if you use tab widget in the form it won't be 'transparent'.

[2022-03-23 14:09] btsgh commented on #11768
Tested and unable to reproduce. Issue is fixed.
<img width="825" alt="Bug11768_Fixed" src="https://user-images.githubusercontent.com/101863839/159718684-0b9d738d-4e23-4c71-af3a-659b3792741a.png">

[2022-03-23 14:24] btsgh commented on #11671
Tested in Production environment. Background colour on table widget seems to be working fine now.
<img width="1195" alt="Bug11671_Fixed" src="https://user-images.githubusercontent.com/101863839/159721671-7e7a9dde-cf4c-4eb2-8d84-8fbb07072465.png">

[2022-03-23 14:25] eco-monk opened #12179 "[Feature]-[762]:bring back error message `async functions in sync fields`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we use and async function (e.g. Query.run()) in a non-async field (e.g. `table.tableData`)

We used to throw an explicit error stating `Cannot use async functions in sync field`.
This was removed as having this check was hindering performance.

Right now, `TypeError: Api1.run is not a function` i

[2022-03-23 14:49] pranavkanade opened #12180 "[Bug]: S3 Plugin - asset URLs mismatch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user reported that the asset URLs always belong to [us-west-2.amazonaws.com](http://us-west-2.amazonaws.com/) although the hosted/created region is completely different. And this leads to an error
![Uploading Screenshot 2022-03-23 at 8.18.10 PM.png…]()
-

### Steps To Reproduce

Create an S3 que

[2022-03-23 14:51] eco-monk commented on #6452
Adding to this: We've had a user requesting for onBlur event too.

[2022-03-23 15:19] rfenaux commented on #11926
Hi there, any update on this ?

[2022-03-23 15:31] btsgh commented on #11638
Tested this - in production environment with

[2022-03-23 15:34] btsgh commented on #11638
Tested this in
1. Production environment
2. Connecting to googlesheets datasource
Issue is fixed.
<img width="1183" alt="Bug11638_Fixed" src="https://user-images.githubusercontent.com/101863839/159736586-2dab262b-58fb-4976-a5e5-ca630191b8c9.png">

[2022-03-23 15:44] billyrudi commented on #11203
rigth!

[2022-03-23 16:02] btsgh commented on #11476
Tried reproducing the above steps on Production environment. Issue seems to be fixed. Toggle does not any changes in the page order changes.

[2022-03-23 16:19] btsgh commented on #11079
Tried on production environment. Fixed. Grouping mode does not get triggered after re-arranging the table columns.

[2022-03-23 16:35] zzgvh commented on #12012
I reported both of these issues. The JSEditor is now good enough for me to actually dare use it, but it's still prone to slowness so I very seldom edit directly in Appsmith. Rather, I grab all of the code of one JSObject and copy/paste it into an external editor to write code and then copy/paste back the full document into the JSEditor. The external editor automatically formats the code using [pre

[2022-03-23 17:15] sbalaji1192 commented on #11839
@dilippitchika Could you explain what do you mean by migration?

[2022-03-23 18:09] dilippitchika commented on #11839
If the user is already using {{null}} in their number input widget and it was going to 0, what will happen to those number inputs now?

[2022-03-23 19:27] japrogramer opened #12185 "[Bug]: cant create new page on app from existing database table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

we are using perconas encrypted db with SCRAM-SHA-1

[code]

### Steps To Reproduce

1. new application
2. select datasource, collection
3. Select a searchable field from the selected collection
4. error on "generate page"

### Public Sample App

_No response_

### Version

self hosted/ release br

[2022-03-23 20:33] MLNW commented on #11941
As stated in the original post I am on a self hosted instance.

[2022-03-23 20:40] jalamprea commented on #1647
I'm super interested in the Appsmith integration with Firebase Realtime!
How can I help you? do you have documentation about creating a new data source?

[2022-03-23 21:38] ohansFavour opened #12188 "[Bug]-[360]:No Autocompletion hints for ButtonGroup widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I don't get autocompletion hints for ButtonGroup widgets present on the canvas.

### Steps To Reproduce

1. Drag a `Buttongroup` widget to the canvas
2. Drag an input  widget to the canvas
3. Try to bind a property of the buttongroup widget to the input widget
4.  You don't get any suggestions

##

[2022-03-23 21:42] ohansFavour commented on #12188
In the [`EntityDefinition.ts`](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/utils/autocomplete/EntityDefinitions.ts) file, the entityDefinitions object doesn't include details of the button group widget.

[2022-03-24 01:03] Dieken commented on #12046
I use the k8s deployment way, not the helm way because the former looks simpler.

https://github.com/appsmithorg/appsmith/tree/release/deploy/k8s

the `appsimth-server` container used in the yaml above doesn’t generate `docker.env`.

About the network whitelist, I’m afraid that’s impossible, we have very strict network policy in financial industry.  Is it possible to gracefully downgrade when can’

[2022-03-24 02:34] sharat87 commented on #11855
Related Slack thread: <https://theappsmith.slack.com/archives/CPQNLFHTN/p1646815186755609>.

[2022-03-24 03:16] sharat87 commented on #11855
We could probably leverage the `Config` domain that's already defined.

More implementation notes:

1. Each configuration should have a `name`, a `currentValue` and a `defaultValue`. If the `currentValue` is `null` or missing, only then the `defaultValue` is effective. Even if it is `0` or `""`, then we take it as is, and ignore the `defaultValue`.
2. For a given configuration, if it is configured

[2022-03-24 04:08] rubabuddin commented on #3439
+1

[2022-03-24 04:21] rohan-arthur commented on #11949
Thanks, Michael for the feature request. Unfortunately, the underscore is rejected by standard Java libraries, and circumventing that would be non-trivial. We will keep this issue open to see if there is more interest from other users.

[2022-03-24 04:50] eco-monk commented on #12012
@Nikhil-Nandagopal, this should be considered warning because this is not a JS breaking error.
The function will execute fine if used on click / elsewhere.

The problem here is JS object considering this a parse error, which should be looked into.

[2022-03-24 05:03] eco-monk opened #12194 "[Feature]: consider blacklisting eval, Function()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We currently allow eval to be used anywhere in the application (property pane, JS editor etc...).

Although, It has it's niche use-cases [as discussed here](https://github.com/appsmithorg/appsmith/issues/12012#issuecomment-1076323308).

Should we blacklist eval and Function()?
If so, we need to addre

[2022-03-24 05:05] eco-monk commented on #12194
Things to explore:
Does Function() serve as a reasonable alternative?

[2022-03-24 05:08] eco-monk commented on #12012
Created a different item to address eval blacklisting.
So here, we can focus on address just the linting errors, which are blocking the response tab.

[2022-03-24 05:11] techbhavin commented on #12073
@shwetha-ramesh
For PDF rendering Document viewer used iframe and Browser-Wise has rendering iframe is different.

so I don’t think it is an issue.

[2022-03-24 05:16] ApekshaBhosale opened #12195 "[Task]: prepare onPageLoad for JSObject functions doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-24 05:23] ApekshaBhosale opened #12196 "[Task]: Add data property for async function on entity explorer as part of `show bindings`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

There is binding  {{JSObject5.myFun2.data}} is missing. In JSObject5, myFun2 is async function which can be accessed through `JSObject5.myFun2.data` as well.

<img width="998" alt="Screenshot 2022-03-24 at 10 53 51 AM" src="https://user-images.githubusercontent.com/7846888/159848414-fbaea122-dcca-45d

[2022-03-24 05:29] btsgh commented on #11013
Created Two Modals. (Modal1 and Modal4)
Added a list widget (List2) in Modal1
Copied this list widget into Modal2
Was able to copy without any errors, with the List2Copy and its corresponding widgets getting created successfully under it.

[2022-03-24 05:34] riodeuno commented on #9740
@hiteshjoshi @arunvjn Yes, this happens when the browser requests `.js` and we get an HTML response.
# How does this happen?
nginx automatically serves index.html or a 404.html, when the resource requested isn't available.
# Which scenario do I think causes this?
Say, we are trying to fetch `asset.somehash.js` (mentioned in the deployment1's index.html) which has for some reason either
1. expired

[2022-03-24 05:43] dilippitchika commented on #10683
@sbalaji1192 reopening this issue, but with a lower priority. We can still drop blacklisted widgets by dragging them into the canvas first and then dropping them into the list

[2022-03-24 05:46] sbalaji1192 commented on #10683
@dilippitchika  I did discuss this with @riodeuno . There is an open story to address this issue - https://github.com/appsmithorg/appsmith/issues/10659 . Lets close this and track this over there

[2022-03-24 05:48] dilippitchika commented on #10683
Got it, could you please add a note/update the issue #10659, it's not very understandable for non-developers

[2022-03-24 05:48] #10683 closed

[2022-03-24 06:05] prsidhu commented on #10379
@somangshu this doesn't get resolved with the change in 11812. I have to dig deeper into interweave to resolve this one.

[2022-03-24 06:06] shubh1m commented on #2430
+1. Need this capability to import [JsonPath](https://github.com/dchester/jsonpath) which we need to use to extract out only relevant data from a very bulky json.

[2022-03-24 06:07] IAmAnubhavSaini commented on #12094
Please return proper response to a request, if service is not expecting other, certain service requests. Introducing an artificial blocking of other service calls will make code brittle and prone to errors. Also, I don't understand the `till the list branches return the valid response`, do you mean that frontend should keep retrying until it gets proper response from backend? Retries should happen

[2022-03-24 06:09] hiteshjoshi opened #12197 "[Bug] Buggy server restart"
Fat container issue. (Happens on EE image)

[2022-03-24 06:10] hiteshjoshi commented on #11232
@Pranay105 can you help @vuiets to get on same page the first draft of the documentation.

[2022-03-24 06:11] abhvsn opened #12198 "[Feature]: Track active branch at user level for git connected applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, each user who has access to edit the git-connected application lands on the default branch, and then they have to checkout to their working branch.

### Why should this be worked on?

It becomes cumbersome every time you have to checkout to the actual branch, considering the git APIs are sl

[2022-03-24 06:20] dilippitchika commented on #11409
@sbalaji1192 I am assigning this to @techbhavin to take this forward.

[2022-03-24 06:24] riodeuno commented on #10683
@dilippitchika I have updated the task details in #10659 However, it is still quite technical in the description.

[2022-03-24 06:25] riodeuno commented on #10659
@sbalaji1192 I believe we should go with approach 1. instead of the original approach 2. I think that these `onAddChild` and `onRemoveChild` operations don't belong in the Blueprint, as the Blueprint is meant to deal with the construction of the widget and are not supposed to be run during the lifecycle of the widget on the canvas.

[2022-03-24 06:33] dilippitchika commented on #11188
@jjagielka sorry I didn't quite catch the request. Could you add a screen-recording for this?

[2022-03-24 06:42] aakashDesign commented on #12060
**Design Update**

After discussions with the design team, we have decided the Submenu should open OnClick, instead of OnHover. This is to ensure consistency with other modules on the explorer.

I've updated the **figma prototype** - https://www.figma.com/proto/UjVDuTFphqSuLDeUhMYJBO/Dev-handoff-Create-new-Query-JS-submenu?node-id=2%3A25&viewport=338%2C48%2C0.38&scaling=min-zoom&starting-point-nod

[2022-03-24 06:45] Pranay105 commented on #11232
@hiteshjoshi I have already written the documentation for SSO. It's the final review stage. You can have a look here -
[Auth0](https://docs.google.com/document/d/1Lk98J9wy2RzSUvK8OOydH09RgUVzJnIfchHBGwkkBNs/edit#)
[Okta](https://docs.google.com/document/d/1hKt26G2ydmxu5XsIv4jzk10bH23Zf2tWnF6sxHnsIt8/edit)
[PingID](https://docs.google.com/document/d/19cd7Iqtr-Zns4wnfI98KSx4xjRlQPSQrxDQPARLuYJk/edit

[2022-03-24 06:54] Nikhil-Nandagopal commented on #12046
@Dieken we don't support air gapping in our community edition. We have plans to support this in our commercial edition that you can talk to us about
https://calendly.com/d/yvb3-dyks/talk-to-appsmith-team?month=2021-11

[2022-03-24 06:54] #12046 closed

[2022-03-24 06:57] Nikhil-Nandagopal opened #12200 "[Epic]: Support Air-Gapped Appsmith Instances"
When a customer requires absolute data security due to the nature of the industry or to comply with legal requirements, they would like to run Appsmith on an air-gapped server, i.e. a server that is physically isolated from unsecured networks such as public internet.

To solve this, We will provide Appsmith Air-Gapped Edition, a subset of appsmith-ee that works gracefully without public internet a

[2022-03-24 07:00] #12152 closed

[2022-03-24 07:01] #11837 closed

[2022-03-24 07:01] #11682 closed

[2022-03-24 07:02] sharat87 opened #12201 "[Bug]: Google OAuth on a Helm deployment redirects to URL with :8080 as the port, where it shouldn't have a port at all"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When Appsmith is deployed on a Kubernetes cluster using Helm charts, and Google OAuth is configured, the redirect URL after authentication adds the `:8080` port and so fails to work.

For example, if this Appsmith is accessible on `http://myappsmith.com`, then Google OAuth redirects to `http://mya

[2022-03-24 07:05] #11956 closed

[2022-03-24 07:09] #12155 closed

[2022-03-24 07:11] #11299 closed

[2022-03-24 07:13] #2504 closed

[2022-03-24 07:32] #7110 closed

[2022-03-24 07:37] sharat87 commented on #11066
Hey @Nold360, sorry just seeing this now. That issue you mention was recently resolved. Can you try again now? If you are still facing the issue, please let us know here or in a new issue.

I'm closing this issue since this is about docs and we've already documented helm charts at https://docs.appsmith.com/setup/kubernetes.

[2022-03-24 07:37] #11066 closed

[2022-03-24 07:37] #12020 closed

[2022-03-24 07:38] sharat87 commented on #12070
We should deploy the chart from the release branch on a separate domain like `release.helm.appsmith.com` or something like that. The location could be a separate S3 bucket, or a separate folder in the currently used bucket.

[2022-03-24 07:47] #11421 closed

[2022-03-24 07:59] ashit-rath opened #12206 "[Task]: Modify the tooltip of the JSON form "Auto Generate Form" control"
### Is there an existing issue for this?

- [X] I have searched the existing issues

<img width="394" alt="Screen Shot 2022-03-24 at 12 42 17 AM" src="https://user-images.githubusercontent.com/88306433/159871840-77a92841-bfdc-4b1c-b1d9-8fe43ede05f3.png">

Modify `CAUTION!!! When ....` to `Caution:  When ...`

[2022-03-24 08:05] ramsaptami opened #12207 "[Bug]: JS object are executed twice on page load - once when its parsed and then again when it's run on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

JS objects that are set to run on page load displays any console logs present on the code once when the object is first parsed on app load and once again when executing the function as part of on page actions. This essentially leaves the user confused since browser console shows functions being ex

[2022-03-24 08:13] abhvsn commented on #12094
`In case you still think FE should not fire other requests, could you please provide reasoning behind that? Please explain what is the problem with the current implementation and how suggested solution will resolve it.`

For on page load we are doing couple of requests which is trying to utilise the same file path:
1. List branch
2. Get status

In case if the local repo is not present we will clon

[2022-03-24 08:49] eco-monk opened #12209 "[Feature]: on page exit navigation hook"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need a navigation hook upon exiting a page.
Also provides details on the next page/url.

### Why should this be worked on?

example cases:
Prompting user about unsaved changes in the app, before exiting page.
Prompting user before redirecting them to an external website.
etc...

[2022-03-24 08:52] #11967 closed

[2022-03-24 08:57] eco-monk commented on #12209
Closing this since it's tracked here #6176
Will add details there.

[2022-03-24 08:57] #12209 closed

[2022-03-24 09:16] somangshu commented on #8560
@dilippitchika please take a call is this is duplicate 👆 and needs to be closed

[2022-03-24 09:17] #11953 closed

[2022-03-24 09:18] Nikhil-Nandagopal commented on #12012
@eco-monk then the issue is that we should not block the JSEditor for warnings and we should solve this because there could be other warnings that could cause this as well right?

[2022-03-24 09:21] Nikhil-Nandagopal commented on #11926
@rfenaux is there any reason you cannot simply use the dot notation to access this?
`this.varName`

[2022-03-24 09:23] Nikhil-Nandagopal commented on #12185
@japrogramer please tell us which db you are seeing this on and can you reproduce this on our cloud environment?

[2022-03-24 09:35] mohanarpit commented on #1647
@jalamprea Thanks for expressing interest in contributing to Appsmith. Much appreciated.

As a follow up, can you help us understand if you are looking to integrate with the realtime capabilities & data sync of Firebase Realtime DB? Or are you looking at Firebase Realtime DB as another data store where you can read/write your data (like any other database)?

[2022-03-24 09:41] jalamprea commented on #1647
I want to use Firebase Realtime DB as another data store

[2022-03-24 09:42] billyrudi commented on #7757
Hi, there are news on this?

[2022-03-24 09:59] IAmAnubhavSaini opened #12214 "[Task]: Update git connection modal as per new design. | gitV2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Design has changed once again, and now I have to:
- remove notification banner
- Add text on top of SSH key

## old design

![Screenshot 2022-03-24 at 3 27 49 PM](https://user-images.githubusercontent.com/1573771/159891045-6144b310-dbcf-40dc-8125-35239b41b3a9.png)

## new design

![git-sync-review-de

[2022-03-24 10:01] IAmAnubhavSaini opened #12215 "[Task]: Update strings in git modals"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- "CONNECTING TO GIT REPO" should now be "Connecting to git repo"
- "DISCARDING AND PULLING CHANGES..." should now be "Discarding and pulling changes..."

so on.

[2022-03-24 10:07] sbalaji1192 commented on #10037
@riodeuno while triaging this we decided to address the problem at the root level. And also @keyurparalkar pushed some changes that capture this issue in FE and logs it in the sentry along with Smartlook recording. So shall we go through the recordings and fix it at the root rather than cleaning the dynamicBindingPathList before saving?

@yaldram Could you please go through the smartlook recording

[2022-03-24 10:25] jjagielka commented on #11188
https://user-images.githubusercontent.com/6282254/159896264-ee7f7ba9-d261-4160-b12a-9613cdc31a39.mp4

[2022-03-24 10:37] hiteshjoshi commented on #8825
I think this is fixed. Can’t find this bug anymore. @pranavkanade you can reopen in case this is fixed.

[2022-03-24 10:37] #8825 closed

[2022-03-24 10:37] abhvsn commented on #12000
Other thread where this issue was getting discussed: https://discord.com/channels/725602949748752515/948548193296195605
Issue might be bigger and not specifically related to the git, I'll try to triage the root cause as with git branching I'm not able to reproduce this.

[2022-03-24 10:43] hetunandu opened #12218 "[Feature]: Copy the labels from a connected issue to the PR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Copy the labels from a connected issue to the PR

### Why should this be worked on?

This will help in Zenhub to attach the correct pod labels to the PR

[2022-03-24 10:51] felixsuarez0727 opened #12220 "Update missing fields for Airtable integration on SaaS Manager App"
The Airtable integration seems to be missing the data for `displayName`, `description` and some other values on some Actions.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/0eca924b-d01b-4311-bf7d-10ef0fa3efbb)

(Make sure that we are using `displayName` as the display name for actions. Currently, some string manipulation make the display name look weird `Delete A Reco

[2022-03-24 11:21] shwetha-ramesh opened #12221 "[Bug]: Icon color not present for Button group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Icon color not present for Button group widget. Where as Menu item inside button group has icon color selection available.

![image](https://user-images.githubusercontent.com/92293815/159905088-5cb06a12-3134-434d-b7d8-48cab88af8c2.png)

### Steps To Reproduce

1. Drag and drop Button Group Widget

[2022-03-24 11:24] btsgh commented on #10725
Tested this in Release. Without a label, the icon on Button Group widget is centred. Works as per feature expectation.
<img width="545" alt="Bug10725" src="https://user-images.githubusercontent.com/101863839/159905856-9233afdc-16ba-4e35-a417-7bcd1004d7c6.png">

[2022-03-24 11:29] IAmAnubhavSaini opened #12222 "[Task]: Notify user that an SSH key is generate visually"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Issue: ![image (2)](https://user-images.githubusercontent.com/1573771/159906828-b7db8df4-6cfb-4dfd-be6d-135b086bd6c6.png)

https://www.loom.com/share/7eaee32bd01c44f087f4107b8b624c9b

Possible solutions:

- add animations
- reverse the string.

[2022-03-24 11:32] ayushpahwa opened #12223 "[Feature]: Improvements for UQI forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

1. Entity selector - how or hide at child component level
2. When hidden/disabled, hide/disable switch to JSON
3. Entity selector - Parent config property should not be tightly bound to children
4. Pagination initial Values & placeholders

### Why should this be worked on?

To close of the V1 of FE ch

[2022-03-24 11:33] shwetha-ramesh opened #12224 "[Bug]: Black border is added when button color is changed to yellow in Button group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Black border is added when button color is changed to yellow, blue, white, orange in Button group widget
![image](https://user-images.githubusercontent.com/92293815/159907444-f2fdeaba-b0ac-4dc5-a785-05a6839decc2.png)
![image](https://user-images.githubusercontent.com/92293815/159907675-f58474fd-95

[2022-03-24 11:53] vivekverma2312 opened #12225 "[Bug]-[300]:Default value is displayed on widget even when it is not available in drop-down options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Uploading Screenshot 2022-03-24 at 2.28.19 PM.png…]()

https://watch.screencastify.com/v/rTmvAKEDYT6lAqffXIXq

### Steps To Reproduce

1. Drag and drop a Select/multi-select/TreeSelect/Multi tree select
2. Add any random value in Default Value
3. Observe that it is shown in widget even when the

[2022-03-24 11:58] eco-monk commented on #12012
@Nikhil-Nandagopal exactly.
We need to see which lint errors are actually syntax errors. And block the response tab only in those cases.

[2022-03-24 11:59] rashmi-rai commented on #11557
This issue is not reproducible. @prapullac can you please confirm?

[2022-03-24 12:03] prapullac commented on #10539
Issues on Twilio: @felixsuarez0727
Twilio
1. Since there is a single auth type we can make it as the default selection
2. Twilio icon is not displayed to the user appropriately in the Query pane and entity explorer
3. When the user clears the entered data the evaluated value must be displayed as “undefined” but we are currently showing empty.

[2022-03-24 12:12] #8911 closed

[2022-03-24 12:16] ramsaptami opened #12226 "[Bug]-[3500]:Pressing Esc key when autocomplete is open causes control to exit the editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When writing code on the JS editor and autocomplete opens up then pressing the Esc key causes control to exit the editor box and user has to click inside the box again to continue coding.

This behaviour is observed on JS fields of the property pane as well but using the Esc key there comprises a

[2022-03-24 12:31] Aishwarya-U-R opened #12228 "[Bug]: Able to search Table based on a hidden column value in View/Deploy mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/159915667-49d9e0ba-9b3f-4482-ab79-ddcca17ebe00.mov

### Steps To Reproduce

1. Use table widget, map some data
2. Make a column hidden
3. Try to search for the hidden column value in Edit mode - results are returned
4. Deploy the app & search for

[2022-03-24 12:44] #11992 closed

[2022-03-24 12:58] #11685 closed

[2022-03-24 13:36] AnaghHegde commented on #10856
We will be using the redis to store the repo that is in use and prevent any other process from accessing the file system until the lock is released. We are going to implement this only for the operations such as commit, pull, merge for the movement.

[2022-03-24 13:57] rahulramesha commented on #5150
Update on 24th March,

As next steps for the Project, we will have to make two decisions,

1. Paste below the selected widget always , if none is selected place near the mouse pointer V/S Paste on the mouse pointer Always ignoring the selected Widgets and paste below a reference widget when the mouse pointer is on the reference widget
2. While pasting near the mouse Pointer, align the pasted widge

[2022-03-24 14:13] Aishwarya-U-R opened #12230 "[Task]: Develop the test scripts for AForce app Migration validations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-24 14:27] pranavkanade opened #12232 "[Feature]: Expose user profile pic with `appsmith.user` property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Perhaps we can add a `{{ appsmith.user.profileImageUrl }}` for users to get the profile pics

### Why should this be worked on?

Request on community forum - https://community.appsmith.com/t/is-there-any-way-to-get-user-images/772

[2022-03-24 14:31] devnamrits commented on #11697
Raised PR for this. Please review.
cc: @sharat87 @kocharrahul7 @hiteshjoshi @Nikhil-Nandagopal

[2022-03-24 15:05] pranavkanade opened #12233 "[Bug]: Discrepancy in org URLs and the org names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot 2022-03-24 at 8 30 42 PM](https://user-images.githubusercontent.com/13262095/159946382-be25da23-b2d0-49e6-97fe-bae8238897b4.png)

### Steps To Reproduce

1. Click on any one of the orgs listed on the left bar & observe the URL

### Public Sample App

_No response_

### Version

Cloud

[2022-03-24 15:48] #11826 closed

[2022-03-24 16:03] joelgaribaygz commented on #1647
It would really be a help to many of us who develop apps. I currently have several clients whom with apps, using Firebase Realtime.

For now it would be awesome to read/write directly to the database.

My idea is to be able to:
- Visualize in RT drivers/distributors who work in companies
- Create a dashboard for mass loading of information, example: products with photo, name, description, price, e

[2022-03-24 16:44] mohanarpit opened #12234 "[Feature]: Datasource integration with Aerospike"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A datasource integration with Aerospike would be an interesting addition to Appsmith's list of datasources.

### Why should this be worked on?

Aerospike is used as a key-value storage in larger deployments. Having the UI layer of Appsmith manage data on an Aerospike deployment would be useful to user

[2022-03-24 16:50] AS-Laguna opened #12235 "[Bug]: Multi Tree Select not correctly populating its selectedOptionValues field."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When accessing selected item values of a Multi Tree Select (MTS) widget and empty array is returned. The values exist under `MTS.selectedOptionValueArr` but not `MTS.selectedOptionValues`. There is an example [here](https://app.appsmith.com/applications/623c8b404d9aea1b062b3047/pages/623c8b404d9ae

[2022-03-24 17:29] felixsuarez0727 commented on #10539
Adressed #2, Logo doesn't look as "crisp" as desired but it can be clearly identified as Twilio's logo.

Also added the Engineering Guidelines below so that we can have consistent looks:

- Prefer square logos as they look best.
- Usually `.png` and `.svg` formats work fine.
- Resizing to 24x24, 48x48 or 64x64 is often necessary (change according to the logo).

(Looking into 1 and 3 since they see

[2022-03-24 17:49] felixsuarez0727 commented on #10539
Regarding 2:

When the user clears the entered data the evaluated value must be displayed as “undefined” but showing empty. But at the beginning if the value is empty it shows undefined.

https://images.zenhubusercontent.com/275993885/c3d4399f-715c-414e-a1b8-aee1872fec1b/video2896672334.mp4

Can someone confirm this is expected? It seems like a bug on those inputs.

[2022-03-24 19:25] nidhi-nair opened #12237 "[Bug]: Google Drive upload file does not seem to be working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

With REST APIs now supporting binary data, we expect Google drive uploads to work, but the simple uploads fail to encode data correctly.

### Steps To Reproduce

Generate REST API for this endpoint:
`https://www.googleapis.com/upload/drive/v3/files?uploadType=media`

### Public Sample App

_No res

[2022-03-24 19:34] #11723 closed

[2022-03-24 20:35] momcilo-appsmith opened #12239 "[Bug]-[450]:Table header UI issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. When I remove all the Heading options and the table's toolbar is removed, the table header text is not vertically center-aligned anymore.
2. When I right or center-align text in the table, the text inside the table's header doesn't follow that and is always left-aligned.
3. Multi-row selection

[2022-03-24 22:59] felixsuarez0727 commented on #12220
**Save Button is Disabled in Airtable Integration**

When I try to edit an action, I can't save it (button is disabled) because integration status is approved, I'll ask how to proceed to update the displayName.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/8afa1894-fda1-4f8c-ad5a-ce6a5e860871)

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2

[2022-03-25 03:00] sbalaji1192 commented on #4647
@somangshu This is a javascript behavior. you need to convert the function into an expression by enclosing it in a bracket to execute it immediately. (you can also prefix the function with + or - to make it an expression).
https://www.loom.com/share/a33cadbdda544588a9b8417f0a8cc151

[2022-03-25 03:00] #4647 closed

[2022-03-25 03:33] sbalaji1192 commented on #3248
@riodeuno This appears to be working now - https://www.loom.com/share/6ae4dc37affe412585199e50683d7294

[2022-03-25 03:40] sbalaji1192 commented on #11839
@dilippitchika We won't convert the value to 0 and show an error border around the defaultValue.

[2022-03-25 04:12] felixsuarez0727 commented on #11982
All basic Actions have been tested on SaaS App, ready to move to on App test (and QA).

Currently, #11981 is blocking that step, but a solution is being worked on.

[2022-03-25 04:19] devnamrits commented on #11419
@mojtab23 I've created PR for this issue. Can you please review it?
cc: @Nikhil-Nandagopal

[2022-03-25 06:27] techbhavin commented on #12073
@somangshu  can you plz help here .

Here I don’t think it is an issue. we can close this issue.

[2022-03-25 06:48] #3248 closed

[2022-03-25 06:56] ramsaptami opened #12243 "[Bug]: Async tag of a particular function keeps turning off when app is loaded and only recognizes it as async after an edit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A JS function keeps loosing it's async tag when app is loaded and on editing the object, the async tag reappears.

### Steps To Reproduce

1. Go to JS object at [this](https://release.app.appsmith.com/applications/623d6239e0a3cd4540af5979/pages/623d6239e0a3cd4540af597f/edit/jsObjects/623d6239e0a3c

[2022-03-25 07:09] AnaghHegde opened #12244 "[Docs]: Git Import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the problem

We have introduced git import feature and is currently in release under feature flag. We need to have a documentation for the same

[2022-03-25 07:59] shwetha-ramesh commented on #11533
@jsartisan below are the issues found in DP after fix and as mentioned in doc.

1. Step a: Click on Save theme > In Modal click on Cancel > Click on Save theme again > In modal now click on Save theme button > Theme gets saved successfully.
   Step b: Repeat above step once more > 'Classic Copy' gets saved twice

2. Save theme button can be disabled unless character input
![image](https://user-ima

[2022-03-25 08:05] RakshaKShetty opened #12246 "[Bug]: The Datasource credentials retains in appsmith sample apps when the user imports the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Datasource credentials retains in the appsmith sample apps when the user imports the app
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/160079776-ec9308af-2338-44f6-abe6-6b37be02acfe.png">

### Steps To Reproduce

1. Got to doc.appsmith.com
2. export the

[2022-03-25 08:07] ramsaptami opened #12247 "[Bug]: Promises is not working on prod and works partially on release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Promises onSuccess and onError calls produces different behaviour each time code is run

### Steps To Reproduce

1. Go to app at [link ](https://release.app.appsmith.com/earworm-issue-12247/music-app-624183a614d46d3d101807ee/edit)
2.  Authorize the application by clicking on the Spotify logo on `A

[2022-03-25 08:10] abhvsn commented on #10644
As per the latest discussion we have updated the implementation to have `isManualUpdate` and `isAutoUpdate` flag to convey the changes if done by user or the by the migration.

[2022-03-25 08:10] ramsaptami commented on #11347
This is happening again hence reopening

[2022-03-25 08:20] RakshaKShetty opened #12248 "[Bug]: The database name should be on the top in git import modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The database name should be on the top in git import modal
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/160081938-61932e8a-5399-4107-a004-bb8613776123.png">

### Steps To Reproduce

1. Import the application
2. Inside the reconnect database modal
3. The dat

[2022-03-25 08:22] #12142 closed

[2022-03-25 08:25] AnaghHegde commented on #12246
@RakshaKShetty Its not an issue. To support backward compatibility we support the old files where the credentials are already present. In such cases we do not show the reconnect datasource modal.

[2022-03-25 08:29] RakshaKShetty opened #12249 "[Bug]: The save button is missing for authenticated API in import modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The save button is missing for authenticated API in import modal
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/160083088-ce9e93fe-f294-4882-a1a2-69c8b34b3c38.png">

### Steps To Reproduce

1. Import an application that is connected to authenticated API
2. No

[2022-03-25 08:44] aswathkk commented on #11065
Closing this in favour of #4645

[2022-03-25 08:44] #11065 closed

[2022-03-25 08:44] Aishwarya-U-R opened #12250 "[Bug]: Mismatch in the order_select dropdown values between Mongo/Postgres CRUD pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

### **Mongo CRDU: -.png**

<img width="815" alt="Screenshot 2022-03-25 at 2 07 31 PM" src="https://user-images.githubusercontent.com/91450662/160085219-01515723-a2f9-4825-854a-5e0c8648704f.png">

### **Postgres CRUD: -.png**

<img width="807" alt="Screenshot 2022-03-25 at 2 09 25 PM" src="https://

[2022-03-25 08:46] Tooluloope commented on #11849
@dilippitchika @YogeshJayaseelan Could you confirm if this happens only on windows PC or it's browser related.
Couldn't reproduce this on my System.

Also #11485
https://www.loom.com/share/97ec42ea01fc497590e8fb0eb9cdee13

[2022-03-25 09:22] abhvsn commented on #12246
@RakshaKShetty are we seeing this on release? Asking this because `git-import` is still not present in the prod so sample apps are getting exported with the datasource configuration.

[2022-03-25 09:26] btsgh commented on #11067
Scenarios tried:
-   Valid user name and password - Gives a success message.
-  Invalid user name and valid password - errors out (Exception authenticating mongo credential) 
- Invalid user name invalid password - errors out (Exception authenticating mongo credential)
-  Valid user name, invalid password - errors out (Exception authenticating mongo credential) 
Test gives error message when authen

[2022-03-25 09:32] abhvsn commented on #12246
Closing this as the exported file was from prod instance where this feature isn't live yet

[2022-03-25 09:32] #12246 closed

[2022-03-25 09:49] AnaghHegde commented on #11941
@MLNW We generate key of size `256` bits. Can you check the gitlab settings if your organisation has a different settings. We can discuss this over a call if you are having any issues.

[2022-03-25 09:53] Rishabh-Rathod commented on #11589
As this issue will be closed with #9645 which is the core problem here, unassigning this issue.

[2022-03-25 10:00] RakshaKShetty opened #12252 "[Bug]: The test button functionality doesn't work as expected inside the Reconnect datasource modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The user should not navigate to next data source when the user clicks on the test button in reconnect data source

### Steps To Reproduce

1. Import a app in release instance
2. Inside the reconnect Datasource modal
3. Add the Datasource details
4. Click on test button
5. The user will be navigate

[2022-03-25 10:26] dilippitchika commented on #7757
Hey we haven't been able to prioritise this yet, one workaround is to arrange the widgets based on the order here.

![Screenshot 2022-03-25 at 3 55 25 PM](https://user-images.githubusercontent.com/19730984/160103365-139c64c0-837c-4bdf-9369-9828069acd8c.png)

[2022-03-25 10:36] dilippitchika commented on #11839
@sbalaji1192 won't this break flows which are using {{null}}?

[2022-03-25 10:40] dilippitchika opened #12255 "[Bug] : Unable to get the widget state values in form data if the form has a container or tab inside which the widgets are referenced."
https://user-images.githubusercontent.com/6282254/159896264-ee7f7ba9-d261-4160-b12a-9613cdc31a39.mp4

_Originally posted by @jjagielka in https://github.com/appsmithorg/appsmith/issues/11188#issuecomment-1077470577_

[2022-03-25 10:43] #11354 closed

[2022-03-25 10:43] #11379 closed

[2022-03-25 10:44] dilippitchika commented on #11188
Thanks for sharing this, this may be a bigger change in the form. I have created a new issue #12255 to track this.

[2022-03-25 10:45] ayushpahwa opened #12256 "[Feature]: Make form validations return only diffs in evaluated value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The evaluated values today return the whole diff if the form data changes. We need to update this to just run the update on the data that has changed and return partial updates.

### Why should this be worked on?

This is to improve the performance jitters faced when a lot of complex UI components are

[2022-03-25 10:52] dilippitchika commented on #12235
@AS-Laguna did a user raise this?

[2022-03-25 10:53] billyrudi commented on #7757
....workaround??  and how i can do it?

[2022-03-25 11:02] Tooluloope commented on #11485
Closing in favor of #11849

[2022-03-25 11:03] dilippitchika commented on #7757
You can checkout the video below, whichever widget is dropped first keyboard navigation using tabs works in that order.
https://www.loom.com/share/0941e8747518484db064e58854f2edd9

[2022-03-25 11:04] arunvjn commented on #11553
API calls to fetch plugins, datasources and mockDatasource are called along with actions in #10957

[2022-03-25 11:10] billyrudi commented on #7757
but if i have an already made form with many widgets how i can do it? i must delete all?? and if i can change on widget position???
this is not a valid solution!

<img width="2182" alt="Schermata 2022-03-25 alle 12 08 21" src="https://user-images.githubusercontent.com/11408614/160110122-9db6629f-7d69-4c68-8da2-baebc73e6b3c.png">

[2022-03-25 11:10] nidhi-nair opened #12257 "[Task]: Validate CapRover installation process"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We have a reported issue about trouble with updates on the installation. The config for this has not been looked into by us so far, but we need to make sure its compatible with the our standard installation set up.

[2022-03-25 11:12] sbalaji1192 commented on #11839
@dilippitchika It won't break the application. Just that input value will be empty. Is it not a edge case?

[2022-03-25 11:30] jjagielka commented on #11188
I think both are connected. I suspect your implementations of muliti-select, checkbox group, etc.. are based on grouping widgets with a container, and that's why the values are not populated to the form data.

[2022-03-25 11:30] dncpax commented on #7757
for a moment I had hope... if only we could reorder widgets in the widgets tree...
@billyrudi is right... this is not a solution.

[2022-03-25 11:31] nishantag9 opened #12258 "[Bug]: Extracting a text input value does not return the value in entirety always."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After a text input has received some user input, and we try to extract the value from the text input, sometimes the entire value is not returned. Example user input -> 90 | returned value on read -> 9. 0 is missing when extracting the value from the text input. This mostly was happening when the a

[2022-03-25 11:33] arunvjn commented on #11539
API to fetch feature flag returns 401 for an anonymous user. We need to change the response to 200 ok with empty object as response.
@nayan-rafiq Can you help us here ?

[2022-03-25 11:34] prapullac commented on #11557
The issue was intermittent and currently not reproducible, hence we can close the issue

[2022-03-25 11:35] rashmi-rai commented on #11557
Closing this issue as it is not reproducible

[2022-03-25 11:35] #11557 closed

[2022-03-25 11:48] rohan-arthur commented on #11259
slack conversation: https://theappsmith.slack.com/archives/CGBPVEJ5C/p1647957711673979

[2022-03-25 12:44] abhvsn opened #12259 "[Task]: Commit application files in connect flow to avoid errorneous state for discard changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Today as we are not committing the application files and only the readme file in the connect flow, this has introduced a bug in the discard flow as we try to reconstruct the application from the last commit present on the remote which includes just a readme file.

[2022-03-25 14:55] AS-Laguna commented on #12235
@dilippitchika No, I found it.

[2022-03-25 14:59] btsgh opened #12260 "[Bug]-[280]:Any random database name tests OK for MongoDB database"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try create a MongoDB datasource with Use Mongo Connection String URI set to No by providing host address name and authentication details, even if I provide a random database name in the Authentication section and click on Test icon, the test passes with a success message.
It should give an

[2022-03-25 15:48] ankitakinger opened #12261 "[Bug]: Admin settings app header is incorrect on some pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I go to Google maps admin settings page, I am able to see App editor header on the page instead of Page header.

### Steps To Reproduce

1. Go to Admin settings page
2. Click on Email tab and notice that the App header is different (Page header).
3. Now click on Google maps tab and notice a d

[2022-03-26 05:10] #12261 closed

[2022-03-26 05:10] #12065 closed

[2022-03-26 06:28] #12084 closed

[2022-03-26 13:02] #11392 closed

[2022-03-26 13:02] #11402 closed

[2022-03-26 13:02] #11283 closed

[2022-03-26 15:33] #11558 closed

[2022-03-26 15:48] #11780 closed

[2022-03-26 16:34] tlawrence-TAG commented on #7349
Any thoughts on adding this to the product?

[2022-03-26 19:08] #10876 closed

[2022-03-27 13:40] #9302 closed

[2022-03-27 19:53] guidogabriel commented on #10096
@frankremedy maybe the oracle integration isnt in the oficial budibase's documentation but it is already have native oracle integration. If you install budibase, you will see it.

There is a mention to that in the inicial page: https://budibase.com/ and there is a topic confirming it https://github.com/Budibase/budibase/discussions/2285

[2022-03-27 22:08] Tooluloope commented on #11384
@vivekverma2312 @YogeshJayaseelan Could you help reproducing this issue?

[2022-03-28 03:35] #11782 closed

[2022-03-28 04:34] japrogramer commented on #12185
@Nikhil-Nandagopal  This happens when using [perconas ](https://www.percona.com/software/mongodb/percona-server-for-mongodb) on my local build of release branch.
I don't have access to the cloud environment.

im building on arch linux with jre, mvn clean compile and then ./build.sh

[2022-03-28 05:14] prsidhu opened #12269 "[Task]: stress test TreeSelect and MultiSelect widgets."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-28 05:21] akash-codemonk opened #12270 "[Task]: Templates UI tweaks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Remove usecases and function from filters for now
- [x] UI changes
- [x] Apply OR logic to filters previously it was OR.
- [x] Expand all filters for now.
- [x] Go back should work like browser back button

figma: https://www.figma.com/file/NV3FgZqqe88mU4Tozmwhmd/Templates-Phase-1-Designs-Hando

[2022-03-28 05:23] prsidhu commented on #11480
this issue is resolved in https://github.com/appsmithorg/appsmith/pull/12032

[2022-03-28 05:23] #11480 closed

[2022-03-28 05:23] ramsaptami opened #12271 "[Bug]: Canvas gets trimmed off when loading applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an app has multiple pages and multiple widgets on the canvas then the canvas only partially loads when switching pages and only half of the loading icon is visible.

On occasions, the app goes into an infinite loading state and only page refresh restores canvas elements.

### Steps To Reprodu

[2022-03-28 05:26] #10916 closed

[2022-03-28 05:32] krusli opened #12272 "[Feature]: Conditionally show/hide elements depending on layout size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In AppSmith there is currently no way to hide elements on specific layout/viewport sizes.

### Why should this be worked on?

- Enables different layouts on mobile & desktop (related: #4630)
Some of the use cases this would be used for would already be handled by #4630 but there may be specific scenar

[2022-03-28 05:34] jnikhila opened #12273 "[Docs]: Update Connection Details for MongoDB"
As raised by Aparna on pod-user-education channel:

The link - https://docs.appsmith.com/datasource-reference/querying-mongodb - For MongoDB, the "Connect using SRV URL" is missing some information in the SRV URL format. It currently reads as -` `mongodb+srv://:<your_password>@/?`
[code]

However, there is no <your_username>, <connection_url>, <authDbName> etc in the format for the user to be able

[2022-03-28 05:34] RakshaKShetty opened #12274 "[Bug]: The error CTA should be added when new SSH key is generated and not added in git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The error CTA should be added when new SSH key is generated and not added in git

### Steps To Reproduce

1. Go to App which is connected to git
2. Now Under git connect tab click on Meat ball icon
3. Generate a new SSH Key
4. Now do a change in the app before coping the new ssh key in the git rep

[2022-03-28 05:51] #12052 closed

[2022-03-28 06:00] dilippitchika commented on #12161
Need to track it here #11902

[2022-03-28 06:03] #11672 closed

[2022-03-28 06:16] dilippitchika commented on #11839
Not sure, because the data has changed for those cases. Is this in production now?

[2022-03-28 06:17] #12218 closed

[2022-03-28 06:17] dilippitchika commented on #7757
As I said, it's a workaround. Sorry if I put wrong expectations here. This is still something we need to fix.

[2022-03-28 06:21] jnikhila commented on #12273
Connection URL is updated from
[code]
to
```mongodb+srv://<your_username>:<your_password>@<host_name_or_connection_url>/<authDBName>```

[2022-03-28 06:26] #9951 closed

[2022-03-28 06:27] #9836 closed

[2022-03-28 06:28] #9345 closed

[2022-03-28 06:29] #7799 closed

[2022-03-28 06:29] #7965 closed

[2022-03-28 06:37] #12273 closed

[2022-03-28 06:37] jnikhila commented on #12273
Verified and confirmed by @btsgh

[2022-03-28 06:53] RakshaKShetty commented on #12163
The application is breaking when the user tries to authenticate the google sheet
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/160342333-2572b342-e756-4b9f-8276-24a931e96b09.png">

[2022-03-28 07:04] dncpax commented on #7757
@dilippitchika hey. I really appreciate how you try to help us! Thanks.

[2022-03-28 07:14] #11564 closed

[2022-03-28 07:22] Nikhil-Nandagopal commented on #12247
@ramsaptami why is this not critical if it breaks existing apps?

[2022-03-28 07:27] Tooluloope commented on #11844
fixed in #10600

[2022-03-28 07:27] #11844 closed

[2022-03-28 07:31] #10549 closed

[2022-03-28 07:33] ramsaptami commented on #12247
It's an edge case while using `navigateTo()` and then `storeValue()` to save returned query params from URL. Code flow also seems to be breaking also because of another regressed issue #12243
CC: @hetunandu @ApekshaBhosale

[2022-03-28 07:37] ame-appsmith opened #12280 "[Bug]: Error When Adding a User to an Organizaion Using Firefox Browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When trying to add a user to the organization, an error is received on Firefox. The "Oops! Something went wrong" page is displayed.

![image](https://user-images.githubusercontent.com/101268423/160348482-9605f5d0-5430-4664-b3d1-4d4210a28b49.png)

Environment:
Firefox 98.0.2, on Ubuntu Linux 20.04

[2022-03-28 07:42] #11779 closed

[2022-03-28 07:50] yatinappsmith opened #12282 "[Bug]: EE Fat container fails to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

EE fat container fails to start

### Steps To Reproduce

❯ docker pull appsmith/appsmith-ee:release
release: Pulling from appsmith/appsmith-ee
Digest: sha256:956ef8685cb52d4986ba2747470323b8dcc90f9f40c16605a78c93b73989a787
Status: Image is up to date for appsmith/appsmith-ee:release
docker.io/apps

[2022-03-28 07:53] yatinappsmith commented on #12282
wrong cmd closing the issue

[2022-03-28 07:53] #12282 closed

[2022-03-28 08:07] ramsaptami opened #12284 "[Bug]: Error/success messages appear glitchy when there are couple of them running on trigger on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Error/success messages appear glitchy in movement when there are a couple of JS functions and and API's running on page load as seen in the video. Ideally, the transitions should be smooth and not appear and clear from screen glitchy.

### Steps To Reproduce

1. Go to app at link
2. Go through all

[2022-03-28 08:47] btsgh opened #12285 "[Bug]: On deleting the first where clause in a Query to S3 datasource, the evaluated values are still retained"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Actual behaviour - In a Query connecting to an S3 Datasource, when I add a where condition to the existing field, run the query, and then delete this where condition, though the key and value fields get cleared, on clicking in the fields, the evaluated value still has the values from the deleted c

[2022-03-28 08:59] ramsaptami commented on #12247
Bumping up priority since behaviour of the code and hence the application is inconsistent on each run

[2022-03-28 09:14] btsgh commented on #9302
Tested the issue and now found the following behaviour - https://www.loom.com/share/7d422c4f219d40d9981f7cc4e6930c43

[2022-03-28 09:17] btsgh commented on #9302
Tested the issue and now found the following behaviour - https://www.loom.com/share/7d422c4f219d40d9981f7cc4e6930c43

When I delete the first where clause after adding a group filter, the first where clause gets deleted, which is fine, and the group filter condition moves up, so far so good.
However, when I run the query, I get an error. This is because of two AND conditions present from the first

[2022-03-28 09:25] vivekverma2312 opened #12286 "[Bug]: Footer expands and UI distort when Menu button has lot of menu item"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1782" alt="Screenshot 2022-03-28 at 2 49 51 PM" src="https://user-images.githubusercontent.com/83569920/160367737-e328230b-1306-4b55-8f12-f6a086e38ab5.png">
<img width="1783" alt="Screenshot 2022-03-28 at 2 48 46 PM" src="https://user-images.githubusercontent.com/83569920/160367757-50a

[2022-03-28 10:01] somangshu commented on #10987
Could the left-padding of the switch itself in the switch widget be increased to match the switch group? They do not align when stacked, even though the widgets have the same width and horizontal position.

![Screen Shot 2022-03-24 at 2 49 30 PM](https://user-images.githubusercontent.com/11089579/160374846-f7d3fe6f-5e52-48a7-93a5-51bb9c1f83db.png)

[2022-03-28 10:09] shwetha-ramesh commented on #9016
Also observed pages are shuffled for nonhidden pages and also on fork
https://loom.com/share/17899a548ce84ce0a6bc0b54c98713e3

[2022-03-28 10:32] AnaghHegde opened #12290 "[Task]: Do not update DSL for the rightColumn property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Do not update the DSL with rightColumn property of the main container as this is coming up in the git repo as un committed changed

[2022-03-28 10:34] AnaghHegde commented on #11266
Per discussion @rahulramesha  need to make the change so that the value does not get updated in widget. Issue #12290

[2022-03-28 10:35] somangshu opened #12291 "[Feature]: deprecation warning on widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need to integrate a “deprecation” of widgets notification. The goal is:

- [ ] How to signify that a widget — currently on the canvas — has been deprecated to an Appsmith developer? and that they should drag and drop a new widget of the same type from the widgets panel.

We need to add a new flag `

[2022-03-28 10:36] somangshu commented on #12291
#3613 is related to this, We have two ways to move forward
- [ ] Migrate all references, Create a checklist to test, Create all relevant tests, Use all the form references in internal apps to test all the use cases: `Confidence 80%`
- [ ] Do not touch the older references, Do not add any migration, Create v2 to use button, show error on all old formButtons through validations or the above suggesti

[2022-03-28 10:42] ramsaptami opened #12292 "[Bug]: Canvas jitters on page refresh on an application where widgets don't occupy the entire width of the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Canvas jitters when widgets of differing widths are present and the page is refreshed. Seems to happen more strangely on apps where the widget width is not the entire length of the canvas

### Steps To Reproduce

1. Create a new application
2. Drop any widget and refresh the page. Observe the canv

[2022-03-28 10:44] chandannkumar opened #12293 "[Bug]: Tooltip for Json form widget's Datepicker type is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Uploading image.png…]()

### Steps To Reproduce

1. Add Json form widget
2. Create a datepicker type field
3. Add Tooltip for datepicker
4. Observe tooltip is not being displayed for Datepicker fields and displayed for other type fields

### Public Sample App

_No response_

### Version

Cloud/R

[2022-03-28 10:54] nidhi-nair opened #12294 "[Task]: Optimize blob conversion during execution for file picker inputs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently we read blob urls into string text while executing, and then convert the text into a plain text blob to ensure correct encoding while passing the data over the network. There is a possibility of skipping these conversions in some conditions that we should investigate.

[2022-03-28 11:13] AmanAgarwal041 commented on #12294
#### Analysis :
There is a function inside `app/client/src/sagas/ActionExecution/PluginActionSaga.ts` file which has a function `evaluateActionParams`. The above task is referenced to this particular functionality.

[2022-03-28 11:18] ramsaptami opened #12295 "[Feature]: Add refactor support to Appsmith storeValues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, refactor does not work on appsmith store variables and this leads to UX issues when user changes storeValue name but the areas where this storeValue is used does not get evaluated since this variable is not defined.

### Steps To Reproduce

1. Create a `storeValue` variable `value1`
2.

[2022-03-28 11:29] btsgh commented on #12162
Tried this on release build and here are the observations:
1. First time when I try to reproduce this issue, I get the following behavior -
https://www.loom.com/share/3702339d0621461fa7059245da9a5924
Though the table data is populated, an error still pops up - "The action findQuery has failed"

2. On retrials of the same steps, the table data gets populated without any error -
https://www.loom.com

[2022-03-28 11:39] nayan-rafiq opened #12296 "Allow import and export application with credentials for some cases"
Currently the exported application does not contain datasource credentials. User need to manually set them when they import an application.

This adds a manual step which breaks fork template feature. For templates, we want users to quickly see it in action. We decided to share DB credentials so that users can try them out without doing anything. For this to work, we need import with credentials.

[2022-03-28 12:11] sbalaji1192 opened #12297 "[Bug]: Currency Input rounds off text if there is a trailing zero"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a user enters `11.90` on the Currency widget and clicks outside, the text gets rounded to `12`.

### Steps To Reproduce

1. Drop a currency widget on the Canvas
2. type `11.90`
3. Click outside the widget.
4. Observe that text gets rounded to `12`.

### Public Sample App

_No response_

### V

[2022-03-28 12:19] Nikhil-Nandagopal commented on #12258
@nishantag9 can you please share a sample app that does this or a video?

[2022-03-28 12:21] Nikhil-Nandagopal commented on #7349
@tlawrence-TAG not yet unfortunately. We haven't been able to scale our integration yet because we've been focused on improving the underlying infrastructure for our current integrations. Once that is out of the way, we'll definitely start adding newer integrations at a rapid pace

[2022-03-28 12:32] ramsaptami opened #12300 "[Bug]: Evaluation fails to throw an error when 'null' is used, however using 'NULL' is accepted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using `''` and `NULL` does not lead to an evaluation error but using null throws an error

Also, any upper case value does not lead to an error state

### Steps To Reproduce

1. Go to a select widget and set default value as `''`, `null` and `NULL` and observe that only null is unacceptable

![ima

[2022-03-28 12:34] shwetha-ramesh opened #12301 "[Bug]: Organization name can be empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Organization name can be left empty from General page

https://loom.com/share/45f0b5c1570c4337b248fc3989306c57

### Steps To Reproduce

1. Go to Release
2. Click on three dots next to the organization > Settings
3. In General page remove the Org name.

### Public Sample App

_No response_

### Ver

[2022-03-28 12:44] Aishwarya-U-R opened #12303 "[Bug]: JSObjects duplicate name popover is different in style as compared to other entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

### **JSObjects: -.png**
<img width="522" alt="Screenshot 2022-03-28 at 6 09 50 PM" src="https://user-images.githubusercontent.com/91450662/160399791-8ff418d3-87d4-4ad8-84fb-631ab02bfab9.png">

### **API: -.png**
<img width="648" alt="Screenshot 2022-03-28 at 6 07 02 PM" src="https://user-images.g

[2022-03-28 12:44] RakshaKShetty opened #12304 "[Bug]: The Get started button doesn't work in welcome page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Get started button doesn't work when user try to signup with the google auth this is for non super admin
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/160399979-f0b21ca0-cf23-466c-8fb7-a77e7877ee58.png">

### Steps To Reproduce

1. Run the ce fat conatin

[2022-03-28 13:05] Nikhil-Nandagopal commented on #12272
@krusli thank you for the information!

[2022-03-28 13:08] Nikhil-Nandagopal commented on #12280
@ame-appsmith this seems to be working for me. Please share a video on how to reproduce this

[2022-03-28 13:08] #12280 closed

[2022-03-28 13:09] sentry-io[bot] opened #12305 "NullPointerException"
Sentry Issue: [APPSMITH-259](https://sentry.io/organizations/appsmith/issues/3114701594/?referrer=github_integration)

[code]

[2022-03-28 13:52] ramsaptami opened #12306 "[Bug]: Clean URL's issues on release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [ ] After clicking on confirm on the **update URL** notification, a modal shows up with minimal information for a brief moment - this modal design or function needs to be changed

- [ ] Notification for Clean URL is not suppressed after successfully migrating URL's to new format and user can sti

[2022-03-28 14:14] tlawrence-TAG commented on #7349
Gotcha - thanks for the update

On Mar 28, 2022, at 7:21 AM, Nikhil Nandagopal ***@***.***> wrote:

﻿

@tlawrence-TAG<https://github.com/tlawrence-TAG> not yet unfortunately. We haven't been able to scale our integration yet because we've been focused on improving the underlying infrastructure for our current integrations. Once that is out of the way, we'll definitely start adding newer integratio

[2022-03-28 14:17] Rishabh-Rathod opened #12307 "[Bug]: Import application redirects to url with no application id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/bfcbcceeab7843b7a0130f10168edc30-00001.gif)](https://www.loom.com/share/bfcbcceeab7843b7a0130f10168edc30)

### Steps To Reproduce

Though this is difficult to reproduce when tried importing the golden app on release I faced this issue.

### Pub

[2022-03-28 15:04] danciaclara opened #12308 "[Bug]-[4000]:Table Widget Skeleton should not disappear till the data is loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

On the deployed app, there is no way to indicate that the queries/functions are loading as the user looks at the page with blank widgets. On the edit mode, we have a spinner at the top but this doesn't show in the deployed version.  Would be nice to have the spinner on the top bar or have the cursor c

[2022-03-28 15:06] kocharrahul7 opened #12309 "[Feature]-[2500]:Misreporting errors for bindings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When a user creates a binding that is dependant on an async query, or user input based event, it reports an error if the query has not been executed, or input hasn't been captured.

A user will open their editor, and see that there are a large number of errors, however these errors are all in non-reac

[2022-03-28 17:54] Irongade commented on #12280
@ame-appsmith Same here.

[2022-03-28 18:30] #12306 closed

[2022-03-28 18:30] #12307 closed

[2022-03-28 22:32] mingfang commented on #9158
This bug makes the MongoDB plugin completely unusable.
As stated in https://jira.mongodb.org/browse/SERVER-27554
[code]
That MongoDB issue was closed back in 2017!

[2022-03-29 02:39] mingfang commented on #12046
what is the resolution to this?
I'm running in Kubernetes and I'm unable to open the `admin settings`.

[2022-03-29 02:49] mingfang commented on #12046
I create this hack around for the problem.
https://github.com/mingfang/terraform-k8s-modules/blob/master/modules/appsmith/server/main.tf#L19

[2022-03-29 03:23] arunvjn commented on #12304
Looks like a backend issue since redirect URL doesn't contain the URL origin info.

[2022-03-29 03:56] ohansFavour opened #12314 "[Bug]: Errors and Logs get clipped on debugger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1530" alt="Screenshot 2022-03-28 at 19 59 30" src="https://user-images.githubusercontent.com/46670083/160530015-7e2a6d65-e112-4c3e-b654-8bdd45a3d541.png">
<img width="1536" alt="Screenshot 2022-03-28 at 19 59 58" src="https://user-images.githubusercontent.com/46670083/160530026-04d565f

[2022-03-29 04:04] ohansFavour opened #12315 "[Feature]: Support classes in JS Objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, the "this" keyword which should refer to the instance of a class (ideally) refers to the JS Object itself in the current implementation of JS Objects. This makes working with classes difficult.

### Why should this be worked on?

To have a maintainable and extensible API and processing code

[2022-03-29 04:55] IAmAnubhavSaini commented on #12214
The string "Deployed key:" is not required.

[2022-03-29 05:24] pranavkanade commented on #12297
@Nikhil-Nandagopal @sbalaji1192 If this is a quick fix can we please prioritize it? A user is blocked by this -

[2022-03-29 05:24] SatishGandham opened #12318 "[Bug]: Delay in capturing input value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Input value is not sent properly to an action.
e.g. if we type "abc" only "a" was getting sent to the function.

User is using `appsmith.store` to store the value and display it somewhere. Problem seems to be from debounce we have and we can not remove the debounce.

Slack thread: https://theappsm

[2022-03-29 05:26] sbalaji1192 commented on #12297
@pranavkanade I already working on this. will push this for next release.

[2022-03-29 05:41] yatinappsmith commented on #12249
Raising severity as this bug prevents user from importing authenticated apis

[2022-03-29 05:44] vuiets commented on #3317
### Meeting Notes
23 March 2022

Discussed
- Iterations for `Permission Group` creation
- Closed on information architecture for the `Permission Group` configuration page - `App Resources`, `Datasources and Queries`, `User Groups and Permission Groups`, `Git Sync`
- Granularising permission group creation permissions like opening up configurations for sections discussed above is moved to the next

[2022-03-29 05:44] haojin111 commented on #12249
now merging resolution for this bug

[2022-03-29 05:51] nayan-rafiq opened #12319 "Add BE analytics event for templates"

[2022-03-29 05:58] kocharrahul7 commented on #9661
Feedback on Mar 28th:

UI changes from feedback to be made:
Add a  view all templates CTA
updating the URL for the “request a template” CTA
updating the animation to make it seem like a new page, rather than navigating around the same page
Changing filters from AND to OR

[2022-03-29 06:02] kocharrahul7 commented on #9661
Catchup on Mar 29th:

- Discussion around Events, the events we must log are:
1. templates being selected
2. filters being applied
- Recently used templates need to be shown for Phase 2, so we need to log templates recently used by a user, and which app is triggering it. For now we will have a user level recently used template, but we will have the option to add an app level filter, so a user can

[2022-03-29 06:49] sumitsum commented on #1647
@jalamprea thanks a lot for showing interest to add the Firebase real-time DB. If interested we can meet briefly to discuss how to proceed with the implementation. You may book a slot for the meeting using [this](https://calendly.com/d/dhj-36s-ybz/30-minute-meeting) link. In the meantime you may want to go through the plugin development guidlines mentioned [here](https://github.com/appsmithorg/app

[2022-03-29 07:00] riodeuno opened #12320 "[Bug]: Grouped widgets get placed outside the original canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When grouping widgets into a container. The widgets get dumped outside of the intended canvas and get rendered on the main canvas

### Steps To Reproduce

1. Add a Modal widget
2. Select the two default buttons
3. use the "cmd + G" shortcut or the UI mechanism in the video

https://user-images.git

[2022-03-29 07:08] riodeuno opened #12321 "[Bug]: Rich Text Editor Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There are a few nitpicks and inconsistencies in the Rich Text Editor.

1. `RichTextEditor1.text` binding value has a strange experience. This could be due to how the Text Widget renders the HTML provided by the `RichTextEditor1.text`. Observations from the video:
 - The HTML formatting stops worki

[2022-03-29 07:12] riodeuno opened #12322 "[Type]-[2500]:Mouse hover issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- The hover on the widget icons switches to pointer from drag.

https://user-images.githubusercontent.com/103687/160553979-662afdba-bef4-4907-aa83-312c3ed7944f.mov

- The text on the user profile page is clickable however, the pointer doesn't signify the same

https://user-images.githubusercontent.co

[2022-03-29 07:29] arunvjn commented on #12304
Found the issue. Looking into it now.

[2022-03-29 07:57] abhvsn opened #12327 "[Bug]: Serialise fields with map datatype in a predicatable order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As the map datatype does not have the predictable order, this is giving pending uncommitted changes even if user haven't updated anything for the git connected application.

### Steps To Reproduce

1. Connect app to git
2. Add actions to the app
3. Commit and push so that there are no pending chan

[2022-03-29 08:00] riodeuno commented on #12322
The entity explorer has a strange experience when clicking on the + Add Widget. The screen recording is attached.

https://user-images.githubusercontent.com/103687/160562983-b80b5b02-96a6-4cff-b1de-8f7659ff44ca.mov

[2022-03-29 08:16] RakshaKShetty opened #12328 "[Bug]: The API binding fails when user import app from Git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The API Import fails when the user import it from git
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/160565403-af9e553b-ea09-47f3-92df-c19e5b219c24.png">

### Steps To Reproduce

1. Try to import the application which is connected to git
2. Make sure the appl

[2022-03-29 08:26] Nikhil-Nandagopal commented on #12308
@danciaclara the skeleton loading state is what indicates this right?
Cursor is not a good experience because it means the entire application is unresponsive and loading which is never the case. The respective widgets going into loading state seems to be the right UX to me so I'm closing this but please do re-open with more information if you think I missed something

[2022-03-29 08:46] btsgh opened #12329 "[Bug]-[2600]:Generating New Page with new Mongo DB data source, error pops up the first time."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On generating a new MongoDB data source, and Generating New Page with a valid collection user gets an error though the page seems to have been generated

### Steps To Reproduce

1. Create a new data source, choose MongoDB data source
2. Choose the following
- Connection type: Replica set
- Host ad

[2022-03-29 08:51] sumitsum commented on #11385
Update:
Of the two issues reported intially:
* Issue with datasource not linking with action on git import has been resolved and not reproducible.
* Issue with class cast exception is still seen when (a) compiled with IntelliJ (b) run with docker on local setup.
Since the second issue is only seen with MySQL db, the team has decided to shift away to Postgres db for now to remove the blocker.

[2022-03-29 08:55] danciaclara commented on #12308
@Nikhil-Nandagopal Yeah that makes sense about the cursor. However, the skeleton screen disappears too quickly when the application is a bit heavy.  It takes a few seconds for the table to populate after the skeleton screen disappears. Probably that caused the user to ask for the loading state as the skeleton screen went unnoticed.  For eg: Here's a screenshot of the page showing the table without

[2022-03-29 09:35] tiger360 opened #12330 "[Feature]: add parameters to embed Appsmith URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Being able to add parameters to the embed URL :
For example: [local.so/embed/nPdDxn](https://local.so/r/nPA50m)?name=marie&ref=email

### Why should this be worked on?

For example after the login with Wordpress,
I'd like to be able to know which user is connected in the embed Appsmith app.

[2022-03-29 09:38] eco-monk opened #12331 "[Feature]: search all functionality"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A way to search and find code in the application.

Like search all in vscode
<img width="326" alt="image" src="https://user-images.githubusercontent.com/66776129/160582315-a2ee390b-7ea4-409e-8467-9728be118c5c.png">

### Why should this be worked on?

Useful when users need to check, where they've call

[2022-03-29 09:43] #12271 closed

[2022-03-29 09:58] ayushpahwa opened #12332 "[Feature]: Add functionality to make every component in editor forms as JS expressions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Right now the

### Why should this be worked on?

To reduce the clutter on the editor forms and to make them more maintanable.

[2022-03-29 10:10] keyurparalkar commented on #3369
### Catchup on migration changes: 29 March 2022

**Actionable**

@keyurparalkar

In theming post migration,
- boxShadow's none option should get selected if no boxShadow is set previously for the widget.
- boxShadow's JS option should be toggled if previously their existed boxShadow for the widget.
- borderRadius's JS option should be toggled if previously their was a boxShadow that is not matchin

[2022-03-29 10:15] nayan-rafiq opened #12335 "Add pages to template meta data"

[2022-03-29 10:15] nayan-rafiq opened #12336 "Import an template inside an existing Application"

[2022-03-29 10:16] jsartisan commented on #12292
I am helping @yaldram on this. Will need to get back to him on this by tomorrow

cc: @rohitagarwal88

[2022-03-29 10:16] nayan-rafiq opened #12337 "Import list of pages from an template inside and application"

[2022-03-29 10:26] cokoghenun commented on #11335
Needs video @cokoghenun

[2022-03-29 10:27] leotom2000 commented on #8784
Auto-detect of types like JSON and Numbers are happening.
It seems this issue might have been addressed by the following PR's.

| PR | Author |Date |
| --- | --- |  :---: |
|[fix: Json smart substitution breaks when evaluated value contains the character '?' #7031](https://github.com/appsmithorg/appsmith/pull/7031) | Trisha Anand |02/09/2021 |
| [Adding support for JSON object fields in Postgres f

[2022-03-29 10:30] cokoghenun commented on #10719
Needs video @cokoghenun

[2022-03-29 10:45] btsgh commented on #12329
<img width="641" alt="FindQuery2" src="https://user-images.githubusercontent.com/101863839/160594814-45a3924d-df98-4280-8185-4164becff0c8.png">
<img width="654" alt="FindQuery1" src="https://user-images.githubusercontent.com/101863839/160594824-73484517-a9b5-4444-b0e9-18792de5f791.png">
Error and log observations.

[2022-03-29 10:48] akash-codemonk commented on #10628
Previously we had a hardcoded message. This has been fixed with showing the actual error message which is much more helpful.

This seems to work. Since the button now shows up only for form logins this will probably fix it.

[2022-03-29 11:03] #9426 closed

[2022-03-29 11:04] #7564 closed

[2022-03-29 11:07] danciaclara commented on #10719
Needs video @cokoghenun

[2022-03-29 11:09] Aishwarya-U-R opened #12338 "[Bug]: Reconnect Modal - Optional SSL should not be mandatory to Test Postgress DataSource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/160598179-625fb892-19b0-4b7e-96b3-af72f2c080a5.mov

### Steps To Reproduce

1. Create a new application with Postgres Ds & export the json
2. Create a new organisation & Import the same json from above step
3. Observe Reconnect DS modal appear, fi

[2022-03-29 11:28] nayan-rafiq opened #12339 "Recently used templates | BE"
The templates a user have recently imported. “Recently” is described as last five templates.

[2022-03-29 11:39] felixsuarez0727 commented on #11981
After some testing and comparing the `datasourceUiConfig` objects of Twilio(works fine) and HubSpot(doesn't load Auth options), it seems that the problematic property is `oAuth2`

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/3f3da298-29dd-4a06-8204-e82ee7ac785c)

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/e72ad3a4-1a34-4285-93d0-cab935b

[2022-03-29 11:46] somangshu commented on #3369
### Release planning

- [ ] 1. Table widget & JSON Form migrations in progress @keyurparalkar - 2 - 31st March
    - [ ] Config change PR to be merged into release @jsartisan > this will be required for testing the migration on button group, table, JSON form - 30th March
        - [ ] `QA` Button group, Table, JSON form migration needs testing - 5th - 6th Apr
- [ ] QA bugs reported by Shwetha @jsa

[2022-03-29 11:56] #12248 closed

[2022-03-29 11:56] #12249 closed

[2022-03-29 11:56] #12252 closed

[2022-03-29 12:00] #12304 closed

[2022-03-29 12:12] btsgh commented on #12162
After discussion with @abhvsn, raised a separate bug to track the above observation - https://github.com/appsmithorg/appsmith/issues/12329

Closing this issue as the base issue of empty data has been fixed. Data is now getting populated.

[2022-03-29 12:26] sharat87 commented on #3586
Duplicate of #8377. Let's continue the discussion there.

[2022-03-29 12:27] sharat87 commented on #8377
Another request for this to talk to SES via instance profile.
https://discord.com/channels/725602949748752515/760761686549463060/958335927971872790

[2022-03-29 12:44] wmdev0808 commented on #7064
Hi @somangshu ,
For this requirement at [](https://github.com/appsmithorg/appsmith/pull/10600#issuecomment-10818144)39, my estimation is 0.5

[2022-03-29 12:48] sumitsum commented on #2284
Meeting updates:
* create re-usable components from REST API on server side - @sumitsum
* create editor for query body and query variable - @AmanAgarwal041
* share pagination implementation with team to gather feedback - @sumitsum
* add test scenarios to PRD - @rohan-arthur @prapullac
* create Github issues for action items and link them to PRD - @rohan-arthur @sumitsum @AmanAgarwal041

[2022-03-29 13:23] somangshu commented on #12291
I found clean URL implement something new which felt relevant 👇

<img width="456" alt="Screenshot 2022-03-29 at 1 14 22 PM" src="https://user-images.githubusercontent.com/11089579/160620996-d4cc2e0e-0ee6-46fe-b93c-9f263d502328.png">

<img width="1093" alt="Screenshot 2022-03-29 at 1 14 35 PM" src="https://user-images.githubusercontent.com/11089579/160621010-d52a7572-7421-4742-8434-7f1dc6a0c85e.png

[2022-03-29 13:23] ramsaptami opened #12342 "[Bug]: Renaming from entity explorer does not work as expected on Mozilla Firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Renaming from entity explorer does not work on Firefox and any JSObject/API query that is renamed from here goes through refactor but linter picks it up as undefined and widget goes into an error state

### Steps To Reproduce

1. Rename a JS object from the entity explorer and observe the correspo

[2022-03-29 13:24] Nikhil-Nandagopal commented on #12185
@japrogramer can you see if this is happening with the movies sample db that we ship with?

[2022-03-29 13:25] Irongade opened #12343 "[Bug]-[5600]:Evaluate Value not included in Body of GET Request."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a user uses dynamic bindings in raw body of a GET request it does not get sent in the body of the request when it is ran despite it showing up in the evaluated pop up.

![Screen Shot 2022-03-28 at 9 40 26 AM](https://user-images.githubusercontent.com/37867493/160619626-67cf0320-0ebf-43cb-9f3b

[2022-03-29 13:26] IAmAnubhavSaini opened #12344 "[Bug]: Discard API bug not resulting in proper change discard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Discard API is not able to cleanly discard changes.

---

When I try to delete a datasource which has associated actions, after that discarding action doesn't result in clean state.

https://user-images.githubusercontent.com/1573771/160620328-7aa650b2-2608-4597-a80c-d482746a7186.mov

---

Another

[2022-03-29 13:26] Nikhil-Nandagopal commented on #12308
@danciaclara yeah that makes sense. This is a performance problem and the loading state should not change till the evaluation is complete

[2022-03-29 13:28] IAmAnubhavSaini opened #12345 "[Bug]-[2400]:Clicking on forget password doesn't work if focus is on the password field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clicking forget password doesn't work if the focus was on password input, as we show user an error that password field cannot be empty.

There is one more place where this issue occurs, while editing the name of the app when the app is open, and we try to clear out the name, it throws a toast abou

[2022-03-29 13:29] RakshaKShetty opened #12346 "[Bug]: New branch creation throws an error when the user switch SSH access from read to write in the git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

New branch creation throws an error when the user switch SSH access from read to write in the git

### Steps To Reproduce

1. Try to connect to a git
2. Now add an ssh key in the git with a read access
3. Now come back to the application
4. Try to create a new branch
5. The error will be displayed

[2022-03-29 13:57] btsgh commented on #12078
Though the app crash does not happen, once the steps as shown in the earlier loom video are followed, however the cyclic dependency error comes up after which the Switch Group fails to function properly.
The Switch Group widget should not be impacted if changes are made to Checkbox Group widget. Check the behaviour in the video below to understand -

https://www.loom.com/share/b817cc8f5a2f46d79084

[2022-03-29 14:01] IAmAnubhavSaini commented on #12344
PR for discard changes: https://github.com/appsmithorg/appsmith/pull/11835, DP link can be picked from there.

[2022-03-29 14:01] rashmi-rai opened #12348 "[Bug]: Projection Component Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- Options do not show up in Projection Component
- `data` in request payload is adding quotes

### Steps To Reproduce

#### Issue 1: Columns dropdown do not show options
1. Create Google Sheet datasource
2. Create Query for the same and choose the command Fetch Many
3. Scroll down to `Columns` dro

[2022-03-29 14:09] AmanAgarwal041 opened #12349 "[Bug]: UI Fixes for UQI Forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. Update the `Switch to json button` as per designs which corresponds to a button with `JS`
2. Tooltip position should be fixed with label `underlined` which supports tooltip
3. Remove the arrow in the Entity Selector Component
4. `Sort By` ui should be similar to `Where Clause`
5. Update the UI

[2022-03-29 14:13] felixsuarez0727 commented on #11055
Experiencing a similar behavior (actions dropdown not loading) for the HubSpot Files Integration.

Currently investigating this , since `rootActionConfig.editor.options` is being populated just fine (this issue's fix). So, it seems to be related to something entirely different.

[2022-03-29 14:17] btsgh commented on #12020
Tested on Release - The options selected in the widget are now correct. ( Green (label) , Red (label)
<img width="856" alt="Bug12020" src="https://user-images.githubusercontent.com/101863839/160632381-795e0014-c13d-4a07-9222-6565923e0386.png">
)

[2022-03-29 14:32] Nikhil-Nandagopal commented on #12330
@tiger360 when you embed the appsmith app, you can simply pass the query params to the URL. I didn't understand the exact feature request here

[2022-03-29 14:35] sachinvyas2012 commented on #11683
@hiteshjoshi if and when you get to see this message and need any additional triaging details please let me know.

[2022-03-29 14:36] btsgh commented on #11564
As per earlier comment by @dilippitchika - "as discussed please use the min-width from the menu button widget here to prevent small menus when button size is small"

This issue looks to be resolved.

<img width="416" alt="Bug11564_1" src="https://user-images.githubusercontent.com/101863839/160636179-37f9190b-9981-44d7-b984-13ceb194e8db.png">
<img width="267" alt="Bug11564_2" src="https://user-imag

[2022-03-29 15:34] AS-Laguna opened #12352 "[Bug]: Promise.all gives a generic error instead of surfacing the original error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I use `Promise.all`, errors produced cause a generic error message: `api_call failed to execute`. Where `api_call` is the name of an API query passed to `Promise.all`.

What I expect is for the original error from `api_call` to be surfaced.

Here is the code for the buttons in the sample app:

[2022-03-29 16:39] hockeyrjc opened #12353 "[Feature]: Add Support for Azure Container Instance Deployment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add Deploment support for Azure Container Instances.

### Why should this be worked on?

Self-hosted does not support this configuration. An Azure VM is overkill when this can be implemented as a PAAS service

[2022-03-29 17:25] dilippitchika commented on #11279
@riodeuno thanks for adding more context.

Actionable -
- Expose a dataFormat field for every file in the filepicker widget which contains the information if the data is "base64" or "binary" or "text".
- This field uses the value set from the data format field in the filepicker
![Screenshot 2022-03-29 at 10 48 25 PM](https://user-images.githubusercontent.com/19730984/160668903-f1fab669-69a8-4ec2-9

[2022-03-29 17:32] hiteshjoshi commented on #11683
@sachinvyas2012 Thanks for writing. We will verify this also Firefox 64 was release in late 2018 so might take us time to work on fix.

[2022-03-29 17:43] bgilmore-iot opened #12354 "[Feature]: InfluxDB Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There are over 600K deployments of InfluxDB. Developers are putting API middleware like GraphQL between appsmith and influxdb for the integration. A native connection would be an awesome addition and would bump appsmith to the top of my candidates for demo and sandbox development and delivery.

### Wh

[2022-03-29 19:57] Irongade opened #12355 "[Bug]: Label does not show on top of Password text inputs when resized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Normally When a Text input is resized the Label moves to its top. But for Password Text inputs this behaviour does not happen.

https://user-images.githubusercontent.com/37867493/160695912-bfcbd25b-258b-4f6b-9cdd-92cc3a17d612.mov

### Steps To Reproduce

1. Add an Input widget on canvas
2. Add a L

[2022-03-30 00:59] Tooluloope commented on #8256
Fixed

[2022-03-30 00:59] #8256 closed

[2022-03-30 01:00] stillman0000 commented on #12352
hey @AS-Laguna - thanks for taking the lead here. I should also mention that I added a new method to demonstrate that `Promise.allSettled` also exhibits the same behavior:

[code]

[2022-03-30 02:13] cep21 commented on #488
@crooy did documentdb work?

[2022-03-30 04:36] Consitini commented on #3439
+1

[2022-03-30 05:04] vuiets commented on #12346
@RakshaKShetty after step 6, does it work if you hit _Sync branches_ on the branch modal and then try to create a new barnch?

[2022-03-30 05:04] RakshaKShetty commented on #12163
Added the comment in the PR

[2022-03-30 05:26] danciaclara opened #12358 "[Feature]: Automated testing capabilities on Appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today we manually test the app by running queries/functions in the respective pane/editor and checking the widget bindings, etc..

But it can become cumbersome to test everything manually and it's likely a few scenarios/test cases may be missed out.

### Why should this be worked on?

Asked by a user

[2022-03-30 05:31] pranavkanade opened #12359 "[Bug]-[8]:Unable to use `currentRow` inside Menu Color property of menu button in the table column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot 2022-03-30 at 11 00 02 AM](https://user-images.githubusercontent.com/13262095/160757845-e7847044-be08-43ec-9a1b-b329e3cbae40.png)

### Steps To Reproduce

1. Create a table with the menu button column
2. Try to change the `Menu Color` property using `currentRow`

### Public Sample App

[2022-03-30 05:48] sub1983 commented on #11886
### **Issues Found**

- [ ] ingress the external -ip/link value is not displayed
- [ ]  HA not working
- [ ] Minreplica count was not picking up
- [ ] Autoscaling not working
- [ ] Auto Update not working
- [ ] the dns not redirecting to the appsmith application
- [ ]  HPA for autoscaling not showing CPU metrics

[2022-03-30 05:52] Aishwarya-U-R opened #12360 "[Feature]-[250]:Support for Running selection in Query editors like any other editor in market"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/160760073-b6f99e1a-99e8-416b-951b-a40472f00198.mov

### Steps To Reproduce

1. Connect to any relational data source like postgres, mysql etc
2. Fire a simple query as shown
3. Now try to run a selection [User may want to use the same editor for m

[2022-03-30 06:02] Nikhil-Nandagopal commented on #12345
@hiteshjoshi @vuiets can we please fix this?

[2022-03-30 06:02] btsgh commented on #7554
Tested in Release - As per the above comments from Dev -
1. Tested for tooltip appearing on button disabling. It appears.
2. However, on deploy, though the tooltip appears when button is disabled, when the cursor is not focusing on the button, the tooltip still stays. It does not go away. Check the following video for the behaviour -
3. https://www.loom.com/share/2cbcb422825d46ab8b5fb86da9ac9e4d

[2022-03-30 06:09] dilippitchika commented on #7554
@wmdev0808 please check this. It's already in release now, could you act on it asap?

[2022-03-30 06:21] Nikhil-Nandagopal commented on #12354
@bgilmore-iot thank you for the feature request! We've been pretty backed up with our integrations lately trying to improve our underlying framework but we'll be sure to have a look at this once we've sorted that out

[2022-03-30 06:22] IAmAnubhavSaini commented on #12274
@RakshaKShetty I think you mean to say error notification message instead of `error CTA`. `CTA` means Call To Action, which is a fancy way of saying most important button the page.

[2022-03-30 06:25] Nikhil-Nandagopal commented on #12355
@somangshu @Irongade since we're now giving users the explicit control in the input to do this, we don't need to solve this issue right?

[2022-03-30 06:26] eco-monk commented on #10939
Will be handled here #11943

[2022-03-30 06:26] #10939 closed

[2022-03-30 06:28] eco-monk commented on #11943
Also to be checked by deleting and creating actions/JSobjects. Which are used in the binding.

[2022-03-30 06:32] dilippitchika commented on #12355
Linking to #7064, @wmdev0808 please update the description of the pr to also add this issue

[2022-03-30 06:32] #12355 closed

[2022-03-30 06:35] Nikhil-Nandagopal commented on #12360
@Aishwarya-U-R the video doesn't seem to be playing for me. Can you please add more information?

[2022-03-30 06:36] Nikhil-Nandagopal commented on #12360
Never mind, I was able to find it. Do you have an example of a query editor that does this?

[2022-03-30 06:37] IAmAnubhavSaini commented on #12274
Need to handle this response from backend.

[code]

[2022-03-30 06:37] Nikhil-Nandagopal commented on #12331
@eco-monk wouldn't a better solution to this problem be the option to find all references?

[2022-03-30 06:40] Aishwarya-U-R commented on #12360
Anything like beekeeper studio (open source), Toad for Oracle databases, SQL server management studio etc...

[2022-03-30 06:44] Nikhil-Nandagopal commented on #12329
@btsgh can you please share the app? Is this because the datasource is configured incorrectly?

[2022-03-30 06:49] eco-monk commented on #12331
That was my initial thought too.

But for example, if user wants to know where `storeValue("property1"` is called in their application.
Just a reference wouldn't be of help. Hence the suggestion to search by string.

[2022-03-30 06:51] pranavkanade opened #12362 "[Feature]-[445]:Menu Button widget - dynamic `Menu items`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I'd like to have an option to add the menu options dynamically, using JS.

### Why should this be worked on?

![Screenshot 2022-03-30 at 12 15 38 PM](https://user-images.githubusercontent.com/13262095/160768884-5b28e93e-f5b9-46ac-8834-605f45acfc1b.png)

#### Use case -
I am trying to create an action

[2022-03-30 06:58] AleenaThomas-gh opened #12363 "[Feature]: Option to automatically import a frontend file on loading appsmith container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently importing a json file has to be done separately after loading the appsmith container. But if there an option to specify in the startup file (for eg. in 'load_onstartup' variable in docker-compose file) the file to be imported, then this would be helpful because then all we need to do is star

[2022-03-30 07:02] Nikhil-Nandagopal commented on #12363
Hi @AleenaThomas-gh ! Thank you for the feature request. Is there a reason why you need to start appsmith frequently? Generally we expect a single deployment to be accessible to multiple users

[2022-03-30 07:04] vuiets commented on #8845
@aswathkk we will not navigate into property labels and show the tooltip. We'll skip them and make the property controls quickly accessible. This is to stay in line with the objective which is to make it easy to reach a property control, perform a task on it and continue building your app.

cc @momcilo-appsmith @rohitagarwal88

[2022-03-30 07:05] vuiets commented on #8845
Also @ankurrsinghal did we raise an issue with the keyboard accessibility limitations of Blueprint's Datepicker?

[2022-03-30 07:14] #12328 closed

[2022-03-30 07:14] pranavkanade opened #12364 "[Bug]: clicking on button in the table should not trigger `onRowSelected` event of the table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The `onRowSelected` of the table gets triggered if the user clicks on the button may have in one of the columns
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d30b507060cf4422afba26e59a22b4d3-00001.gif)](https://www.loom.com/share/d30b507060cf4422afba26e59a22b4d3)

### Steps To Reproduce

1

[2022-03-30 07:22] btsgh commented on #12329
@Nikhil-Nandagopal .. I wouldn't think the data source is configured incorrectly, as, when I do a generate page a second time from the same DB, the page gets generated just fine. This is observed only the first time, when I create a new MongoDB data source, and generate page for the first time.

[2022-03-30 07:24] dilippitchika commented on #12364
@pranavkanade already tracking this here - https://github.com/appsmithorg/appsmith/issues/11403 🥲

[2022-03-30 07:24] #12364 closed

[2022-03-30 07:52] pranavkanade opened #12365 "[Bug]: `resetWidget` fails to reset the current page number of the Table Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user wants to reset the `pageNo` of the table. This should be possible with the `resetWidget` function.

#### Use Case -
The user has external filters that operate on the table. Every time they change the filter, the pageNo should start from 1. But it stays to what it was before changing the fil

[2022-03-30 08:30] btsgh commented on #6492
Tested on Release build and issue is fixed.
https://www.loom.com/share/359214086b8a40558bba77c639fc53e8

[2022-03-30 08:37] ohansFavour opened #12367 "[Bug]: Dependency persists even after removal of binding to an Api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After the removal of a binding to an API on the submit field of a `Button Widget`, there is still a dependency on that API;  As seen by the loading state when the API is executing.

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b43672a56cec4e7cb86851356ea81081-00001

[2022-03-30 08:54] somangshu commented on #12359
There is a special control that we use in table widget property pane that allows us to use currentRow . Instead of the special control, a regular input control is used here for the JS mode of Menu Color.
We need to add this to the property config of the table widget

`customJSControl: "COMPUTE_VALUE",`

cc @ashit-rath

[2022-03-30 09:13] abhvsn opened #12368 "[Bug]: Enable commit and push CTA in case we have local commits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, as we have commit and push as a single operation we expect both the operation will succeed but in some cases, like auth fail etc this is not true, where we end up committing to local filesystem but push fails. This will result in a locked state to push to remote as commit and push is di

[2022-03-30 09:16] Aishwarya-U-R opened #12369 "[Bug]: Widgets selected from Query editor Suggestions does not show in Deploy/View mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/160795840-ba989cb4-55cb-4f2c-b504-c6314c2e29e1.mov

### Steps To Reproduce

1. Connect to a data source, eg: Postgress DB
2. Write a query to fetch data
3. Use the widget suggestions from right side of query editor & add the widget to the page
4.

[2022-03-30 09:18] dilippitchika commented on #12365
@sbalaji1192 can you investigate this once?

[2022-03-30 09:26] dilippitchika commented on #12321
@riodeuno thanks for pointing.

@vivekverma2312 i think this needs deeper investigation to identify all such inconsistencies across the RTE, can we please assign someone to dig a bit deeper around these problems?

[2022-03-30 09:30] zzgvh opened #12370 "[Bug]-[350]:Unexpected updates of widgets using the Appsmith store when calls to the store are made from a JSObject"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

Internal team discussion [link](https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1656939805945449)

**I'm using the Appsmith store to set Default text on Inputs and Default value on Selects. What I'm seeing is that a widget that has a default driven by a store object created and accessed with m

[2022-03-30 09:32] dilippitchika commented on #12308
I think this is a problem only with table widget, but not with any other widgets. Does anyone have any evidence for other widgets on this?

[2022-03-30 09:34] Tooluloope commented on #12225
@dilippitchika Should we close this issue.
Since this was intended

[2022-03-30 09:36] ashit-rath commented on #12359
@somangshu I'm not 100% sure but I think this change might involve a migration.

[2022-03-30 09:41] sbalaji1192 commented on #12365
@Rishabh-Rathod This issue is related to https://github.com/appsmithorg/appsmith/issues/9603.
`widget.meta` contains `selectedRowIndices` even after resetWidget is called on the Table, hence the fix you provided is not working in this case. Could we connect on this and debug?

CC @dilippitchika

[2022-03-30 09:42] dilippitchika commented on #12225
@Tooluloope i think we should be smarter about this because it's causing frequent confusion.

Here's my suggestion on how to fix this -
1. When user provides only value and not {label, value} in default, we check if the option exists. If it doesn't then we don't show this in default.
2. When user provides {label, value} for default, we check if the option exists. If it doesn't then we NOW show thi

[2022-03-30 09:42] mohanarpit commented on #12369
@Aishwarya-U-R Either this is not a bug or I'm unable to reproduce it. From the video, I can see that you haven't deployed the application before going to the "View mode". Can you try clicking on "Deploy" before checking the deployed version of the application?

[2022-03-30 09:44] rohan-arthur commented on #6539
@ohansFavour is working on fixing several failing tests

[2022-03-30 09:46] rohan-arthur commented on #11347
not reproducible anymore

[2022-03-30 09:46] #11347 closed

[2022-03-30 09:47] rohan-arthur commented on #10387
stuck with #6539

[2022-03-30 09:49] #12369 closed

[2022-03-30 10:08] ginjojohny commented on #11965
@Nikhil-Nandagopal  shared the app to the above mentioned mail id

[2022-03-30 10:18] somangshu commented on #11524
## Actionable:
- [ ] #11539 was moved to review but there are too many test cases failing here. @arunvjn Will work on resolving them. Review is also pending here. Post this will continue working on #11553
- [ ] #11901 was profiled by @ashit-rath @SatishGandham, It was found that the table widget is re-rendering and hence causing delay. We need to profile individual widget to check the above condit

[2022-03-30 10:20] wmdev0808 commented on #7554
@dilippitchika , I've made the PR for the issue [here](https://github.com/appsmithorg/appsmith/pull/12372)

[2022-03-30 10:30] Tooluloope commented on #12225
So Conclusion here was to enable this defaultValue caching only when Serverside Filtering is enabled. But once Serverside filtering is false, we do a strict check to know if the default value is in the list of options, and Only the default values in options would be displayed.

CC @dilippitchika @somangshu

[2022-03-30 10:38] dilippitchika commented on #12014
@sumitsum tried reproducing this, i was unable to download when the expiry time had crossed. But in other cases I was able to download. Could you check if that was the case when you filed this?

[2022-03-30 10:44] Aishwarya-U-R opened #12374 "[Bug]: OnSearchTextChanged is not fired when Table SearchText is mapped from other widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/160813974-aaeb3b5a-8a13-4d2d-b57b-5cc8a62a2b27.mov

### Steps To Reproduce

1. Create a table, Text & Input widget as shown
2. Map table's onSearchTextChange properly to show a toast message, for example
3. Map table's Default Search input propert

[2022-03-30 10:52] abhvsn commented on #10250
A user got confused how to resolve this state:
https://app.intercom.com/a/apps/y10e7138/conversations/164629100077750?redirectTo=feed

[2022-03-30 10:55] Tooluloope opened #12375 "[Feature]: Limit the numbers of selected options in Multiselect and Multitreeselect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I'll like to be able to add a maximum and a minimum number of selected options of Multiselect and Multitreeselect.
This could be enforced and also made required in form submission.

### Why should this be worked on?

It would add an extra layer of validation in forms

[2022-03-30 10:55] jnikhila opened #12376 "[Docs]: SSO | OIDC - Add Generic OIDC Configuration"
As part of this documentation, we can ask the user to create an application on their identity provider for Appsmith and ask the user to copy paste all the required fields onto Appsmith. Here we can add explicit call outs for scopes and username attribute fields.

Also, add below disclaimer to individual OIDC Pages:

* Generic OIDC
* Auth0
* Okta
* PingIDentity

[2022-03-30 11:24] manikumarnune123 commented on #4183
@Nikhil-Nandagopal  We have incorporated the ([tabulator ](http://www.tabulator.info/)) component inside Appsmith. Below is a sample
![Tabulator](https://user-images.githubusercontent.com/65438060/160823478-9574e58c-77b7-4438-8e76-c33c08f77ca7.gif)

[2022-03-30 11:25] Nikhil-Nandagopal commented on #4183
@manikumarnune123 that's pretty cool! We'd love to see a PR on how you did that

[2022-03-30 11:50] unknown1337 commented on #7241
@rohan-arthur , do you have an update on the timeline? :) thanks!

[2022-03-30 12:03] kocharrahul7 opened #12377 "[Task]: Add in backend events to track user activation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Activating a datasource:
- Created datasource (existing event, but needs these fields added in) A
    1. Plugin name
    2. ID (datasource ID)
    3. app id
    4. org id
    5. DS_name

Activating a query:
 - UPDATE create_NEWACTION backend event: (it exists, but it doesn't trigger at the moment) Th

[2022-03-30 12:07] #11842 closed

[2022-03-30 12:07] #11285 closed

[2022-03-30 12:10] ankitakinger opened #12378 "[Feature]: Add option to disable comment feature on applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a feature for allowing comments to be disabled on any particular application

### Why should this be worked on?

On any particular application, if the user wants to disable the comment feature, then they are unable to do so. A feature for the same should be added.

[2022-03-30 12:13] rohan-arthur commented on #7241
@unknown1337 Ah sorry about the delay, was focusing on other things. Please allow me a couple of days to get back to you on this.

[2022-03-30 12:16] Nikhil-Nandagopal opened #12379 "Add option to disable comment feature on applications"
On any particular application, if the user wants to disable the comment feature, then they are unable to do so. A feature for the same should be added.

[2022-03-30 12:16] Nikhil-Nandagopal opened #12380 "Add option to disable comment feature on applications"
On any particular application, if the user wants to disable the comment feature, then they are unable to do so. A feature for the same should be added.

[2022-03-30 12:16] Nikhil-Nandagopal opened #12381 "Add option to disable comment feature on applications"
On any particular application, if the user wants to disable the comment feature, then they are unable to do so. A feature for the same should be added.

[2022-03-30 12:20] Nikhil-Nandagopal opened #12382 "Add option to disable comment feature on applications"
On any particular application, if the user wants to disable the comment feature, then they are unable to do so. A feature for the same should be added.

[2022-03-30 12:28] #12379 closed

[2022-03-30 12:28] #12378 closed, assigned to vuiets, Nikhil-Nandagopal, somangshu, dilippitchika

[2022-03-30 12:29] IAmAnubhavSaini commented on #12274
I came up with "Please make sure that regenerated SSH key is added and has write access to repo."

This error comes up when the ssh key is regenerated, and not added to the remote.

[2022-03-30 12:31] IAmAnubhavSaini commented on #12274
There is another, related issue, which is when user deletes remote repo after connection and first commit.

[code]

For this I am proposing "Remote repo doesn't exist or is unreachable".

[2022-03-30 12:39] rohan-arthur opened #12384 "[Feature]: GraphQL Datasource Configuration and CRUD"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

1. I should be easily able to configure the datasource with the following fields: ([[Design](https://www.figma.com/file/ywx3aWsV1NU8s9OvoUudSz/Datasources-GraphQL?node-id=1973%3A7339)](https://www.figma.com/file/ywx3aWsV1NU8s9OvoUudSz/Datasources-GraphQL?node-id=1973%3A7339))
    a. Datasource name

[2022-03-30 12:46] rohan-arthur opened #12385 "[Task]: GraphQL Action refactor tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_As an engineer, I should ensure the quality and sanity of the code flows by providing automated test cases on the server side_

@Sumit Kumar placeholder to list the test cases

1. All current REST API plugin tests must pass.
2. All new GraphQL plugin tests must pass.
3. Other new test cases might be

[2022-03-30 12:48] rohan-arthur opened #12386 "[Feature]: Graphql Building Queries - valid and invalid request body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As an app developer, I should be able to run a GraphQL query with a valid request body, so that I can use the data in my application, or transfer my application data to my datasource_

[](https://api.spacex.land/graphql/)I should be able to run valid queries on public GraphQL APIs

- [https://api.spa

[2022-03-30 12:49] billyrudi commented on #4183
Tabulator is a good component. i have suggested it some months ago..

[2022-03-30 12:51] rohan-arthur opened #12387 "[Feature]: Graphql Building Queries - valid and invalid query variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As an app developer, I should be able to run a GraphQL query with a valid request body and valid query variables_

_As an app developer, I should know that my request varialbes is invalid, so that I can make the necessary corrections to my query_

### Why should this be worked on?

this is part of gr

[2022-03-30 12:53] rohan-arthur opened #12388 "[Task]: graphql Action test cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_As an engineer, I should ensure the quality and sanity of the code flows by providing automated test cases on the server side_

@Sumit Kumar placeholder to list the test cases here

1. Test for successfull graphQL query with content type json.
2. Test for successfull graphQL query with content type

[2022-03-30 12:55] rohan-arthur opened #12389 "[Feature]: Graphql Smart substitution - research"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As an engineer, I want to find the best option to implement smart substitution, so that I can enable more sophisticated GraphQL queries_

### Why should this be worked on?

this is part of graphql v1

[2022-03-30 12:56] rohan-arthur opened #12390 "[Feature]: Graphql smart substitution for query body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As an app developer, I should be able to use moustache binding in the graphql body without compromising the validity of the query, so that I can use more sophisticated queries_

1. queries can be transformed from business logic
2. dynamic data can be passed to the query at runtime

### Why should thi

[2022-03-30 12:58] rohan-arthur opened #12391 "[Feature]: Graphql Smart substitution - query variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As an app developer, I should be able to use moustache binding in the graphql query variables without compromising the validity of the query, so that I can use more sophisticated queries_

1. queries can be transformed from business logic
2. dynamic data can be passed to the query at runtime

### Why

[2022-03-30 12:59] rohan-arthur opened #12392 "[Feature]: Graphql Running Queries - success"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As an app developer, I should be able to run my query, and see the successful response in the response tab_

### Why should this be worked on?

this is part of graphql v1 https://www.notion.so/appsmith/PRD-Native-GraphQL-Support-8b67d6c768a04be0a65597ecf79c5cfd

[2022-03-30 13:00] rohan-arthur opened #12393 "[Feature]: Graphql Running Queries - errors and debugging"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As an app developer, when I run an erroneous query, I should see helpful errors in the response tab, so that I can easily correct my query_

### Why should this be worked on?

this is part of graphql v1 https://www.notion.so/appsmith/PRD-Native-GraphQL-Support-8b67d6c768a04be0a65597ecf79c5cfd

[2022-03-30 13:01] rohan-arthur opened #12394 "[Feature]: Graphql Tracking usage metric"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

_As a product manager, I should be able to see the percantage and number of apps that use GraphQL datasource, so that I can understand the success of this feature_

t[here](https://mixpanel.com/project/2032485/view/178891/app/insights#report/13034407/datasource-used-by-developers/~(columnWidths~(bar~(

[2022-03-30 13:04] rohan-arthur opened #12396 "[Docs]: graphql documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

_As an app developer, I should be able to understand how to use the GraphQL plugin by reading it up on the documentation website_

### Describe the improvement

this is part of graphql v1 https://www.notion.so/appsmith/PRD-Native-GraphQL-Support-8b67

[2022-03-30 13:09] #12314 closed

[2022-03-30 13:10] #12237 closed

[2022-03-30 13:10] #11176 closed

[2022-03-30 13:10] #10771 closed

[2022-03-30 13:11] #11409 closed

[2022-03-30 13:11] #10450 closed

[2022-03-30 13:11] #11893 closed

[2022-03-30 13:11] #11468 closed

[2022-03-30 13:18] btsgh commented on #10851
Tested in Release. For Select widget and MultiSelect widget, on binding to a MySql data source, the filterText property is rightly shown as a string
<img width="1117" alt="Bug10851_1" src="https://user-images.githubusercontent.com/101863839/160843650-5b887d4e-4815-44d0-83a8-6781dd32c294.png">
<img width="1129" alt="Bug10851_2" src="https://user-images.githubusercontent.com/101863839/160843670-2248

[2022-03-30 13:22] #11203 closed

[2022-03-30 13:22] SatishGandham opened #12397 "[Bug]: Currency input takes comma when pasting the value directly, but doesn't accept when binding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you paste 1,200.99 into currency widget it works.

But pass in the same value via binding, it throws an error.

Note: Please be careful when solving this, we should not accidentally truncate the values when editing other fields in the record.

### Steps To Reproduce

1. Add currency widget to

[2022-03-30 13:28] #11913 closed

[2022-03-30 13:34] #11714 closed

[2022-03-30 13:43] abhvsn commented on #12274
I think can reuse the existing error message for this:
`SSH Key is not configured properly. Did you forget to add SSH key to remote? Can you please try again by reconfiguring the SSH key with write access`

Looks good

Thanks @IAmAnubhavSaini I'll improve the error messages on server side, but we should make a provision to display these errors on UI. Because even today server is sending the errors

[2022-03-30 15:07] ame-appsmith commented on #12318
This issue is also similar: https://community.appsmith.com/t/input-box-didn-t-change-value/756/3

[2022-03-30 16:48] AS-Laguna opened #12404 "[Bug]: BinData from MongoDB is not recognized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I query MongoDB from Appsmith and try to use BinData the editor does not recognize the function.

Photo provided by discord user Fouad#2407:

![image](https://user-images.githubusercontent.com/101155659/160883470-18bc3541-20aa-47e5-84a9-148d96cad011.png)

I expect BinData to work as intended

[2022-03-30 18:20] aswathkk commented on #8845
### Update on 25th March

- [ ] @ankurrsinghal will start a thread about the keyboard highlight state inside the calendar component since @rohitagarwal88 pointed out the design inconsistency there.
- [ ] @ankurrsinghal will document the limitations of Blueprint's date picker component
- [x] @vuiets will take a decision on whether we want to focus on the property name and show the tooltip or not

[2022-03-30 19:02] pquadri commented on #12201
I think I found a fix, you need to force the `proxy_set_header X-Forwarded-Port 80;` in the nginx configuration within the image. Do you want me to submit a PR?

[2022-03-30 19:21] MarabiFouad commented on #12404
Can anyone explain how to create a list of _id in an array of Or operator in mongo query?

[2022-03-30 20:42] GreenFlux opened #12405 "[Feature]: New API Datasource Method, datasource.update(property, value)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

### Request the ability to update an authenticated datasource by calling a method:
`datasource1.update(property, value)`

We have access to individual API methods, like api1.run(), api1.clear(), etc, but we can't reference the parent datasource when an authenticated datasource is used. I would like to

[2022-03-30 22:00] #10934 closed

[2022-03-30 22:24] ankurrsinghal opened #12406 "[Bug]: Problem in datepicker keyboard navigation."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Property Pane `Default Date` control uses Blueprintjs [DateInput](https://blueprintjs.com/docs/#datetime/dateinput) component.
We are working on making the Property Pane keyboard accessible, we have to manage its inputs events manually. Since there are a lot of customizations, here I am listing do

[2022-03-30 22:24] ankurrsinghal commented on #12406
@vuiets @aswathkk @somangshu @rohitagarwal88

[2022-03-30 23:28] jrvidotti commented on #11403
+1 for this

[2022-03-31 03:01] #12297 closed

[2022-03-31 03:02] #12293 closed

[2022-03-31 04:07] IAmAnubhavSaini opened #12407 "[Bug]: Gateway timeout on git connect request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I add `git@example.com:username/reponame.git` as remote repo and click connect, service doesn't return valid response. In dev console, I see that a gateway timeout has occurred. Service should return proper response.

### Steps To Reproduce

1. go to app.appsmith.
2. Click git connect
3. Ente

[2022-03-31 04:13] IAmAnubhavSaini commented on #12407
There was a [similar issue](https://github.com/appsmithorg/appsmith/issues/12094#issuecomment-1077266144) due to gateway timeout in git fetch branches request.

![gateway timeout in git fetch branches](https://user-images.githubusercontent.com/1573771/159852082-74c15d9a-5a0b-46b0-a43f-ed4dc7af4701.png)

[2022-03-31 04:28] IAmAnubhavSaini commented on #12094
Why is this? If the params to a service call are correct, there should be no reason for another API to fail.

---

The reason for not removing git status call on load.

As soon as the application loads, user can still click `+` commit button, and fire git status call. If it is going to fail on load, it will fail in this scenario too. My reluctance stems from this being a patchwork.

There is anoth

[2022-03-31 04:30] dilippitchika opened #12410 "[Bug]: Button group widget onClick doesn't work for buttons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Button group widgets on click functionality doesn't work when a button is bound to onClick both in edit and view mode.

### Steps To Reproduce

1. Add a new button group widget
2. Bind onClick property for the buttons in the button group
3. Click the button to see that the action doesn't get execu

[2022-03-31 04:32] dilippitchika commented on #12410
Loom - https://www.loom.com/share/12fb7fe7f2ef4d8496f9a6897354f64c

[2022-03-31 04:45] #11474 closed

[2022-03-31 04:48] #10703 closed

[2022-03-31 04:58] alzaar commented on #4841
Hey! Is this still available to work on ?

[2022-03-31 05:02] btsgh commented on #7675
Tested the issue on Release. Issue Resolved. Observations below -
1. With Nikhil's steps, the issue was resolved.
2. I was finding however that the issue existed with the app shared by the user.
Had a discussion with @aswathkk  .. he clarified that old input widget was deprecated. The App the user shared is still using the old version of input widget. As per his suggestion, in the application shar

[2022-03-31 05:10] vuiets commented on #12274
@abhvsn over here what @IAmAnubhavSaini is suggesting is concise, clean and communicates the error message. So let's go with that in all the relevant places?

So here are my suggestions for the two scenarios being discussed here

Good with 👇 as well

Thanks for drafting these!

[2022-03-31 05:11] yaldram commented on #12410
@dilippitchika @techbhavin @sbalaji1192  I think the issue is in `ButtonGroupWidget/components/index.tsx` on line 543 remove the curry function -
[code]

[code]
Please also check the onClick for menu items after you remove the currying

[2022-03-31 05:16] #11794 closed

[2022-03-31 05:16] #12270 closed

[2022-03-31 05:17] sub1983 commented on #11886
- [ ]  The Persistent Volume is not working so need to implement EFS or any other such mechanism

[2022-03-31 05:38] btsgh commented on #12293
Tested in Release. Tooltip is now being displayed for Date picker in JSON Form
<img width="372" alt="Bug12293" src="https://user-images.githubusercontent.com/101863839/160983993-7a6a9469-df3d-489d-8f46-604e9a95d755.png">

[2022-03-31 05:40] vuiets commented on #3317
### Meeting Notes
30 March 2022

Discussed
- Wireframe iterations for `Invite User` flows and `Permission Group` creation
- We will sync `User Groups` from Identity Providers Appsmith integrates with; `Users` will have to be invited
- `Git Sync` permissions are moved to the next phase. While we have a set of permissions, we are yet to identify the value in granularising them today. Also, there is

[2022-03-31 05:40] IAmAnubhavSaini commented on #12274
On how to show the error to user: I am leaning towards showing an alert. The alternative is putting it on Deploy modal, error notification banner.

Let me know your thoughts.

[2022-03-31 06:03] aswathkk opened #12412 "[Task]: Remove tabIndex from property name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

from: https://github.com/appsmithorg/appsmith/issues/8845#issuecomment-1082703898

[2022-03-31 06:06] #12206 closed

[2022-03-31 06:13] prapullac opened #12414 "[Bug]-[3500]:Binary Form Data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to add body in Binary form data and user forgets to add type. It is observed that we are not showing any error on RUN action it is important for us to display and understand the type of data that is being sent.

### Steps To Reproduce

1) Navigate to API pane
2) add a POST

[2022-03-31 06:22] techbhavin commented on #12235
@somangshu  @dilippitchika  @sbalaji1192

Here I analyze tree-select children have an array of objects of `label` and `value`. both have a value type of must be a string if we put has a number (as shown in an issue) then it will be not working expected.

<img width="1166" alt="Screenshot 2022-03-31 at 11 50 12 AM" src="https://user-images.githubusercontent.com/58818598/160989371-eaf4818c-91dc-4a94

[2022-03-31 06:29] Rishabh-Rathod commented on #9864
One more user faced this issue, users on page load query were not working because of widget name and JS data binding having the same name.
https://discord.com/channels/725602949748752515/760761686549463060/958134814316318740

[2022-03-31 06:29] btsgh commented on #12297
Tested in Release - Fixed
<img width="441" alt="Bug12297" src="https://user-images.githubusercontent.com/101863839/160990646-9b17328d-55a8-4d4d-9740-f9d06ee27ed2.png">
.

[2022-03-31 06:38] nidhi-nair opened #12415 "[Docs]: REST API multipart and binary data usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication

### Describe the problem

We don't have good guidance on how to use multipart form data as a content type on Appsmith. Since this experience is different from other products, we should create a page for this.

[2022-03-31 06:46] dilippitchika commented on #12235
Thanks for pointing this @techbhavin, @Tooluloope @somangshu is this something we can pick up in select widget stability changes? We updated the select and multi-select to support this and we can add same functionality here as part of that epic.

[2022-03-31 06:48] asachan-git opened #12417 "[Feature]: For the FilePicker widget, when we upload images, the dimensions of the image should be accessible."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

While using FilePicker Widget and uploading an image the properties of the uploaded image like size, height, width and dimensions should be accessible so that we could have validations for the same.

### Why should this be worked on?

The feature would be helpful in cases where we require an image wit

[2022-03-31 06:51] Tooluloope commented on #12235
This should be an easy fix since multiTreeSelect doesn't have serverside filtering
@techbhavin  The problem here is that we stringify before we search.

We could make a derived property file.  Then write a comprehensive function to recursively search the nested Options for the value?

[2022-03-31 07:02] dilippitchika commented on #12235
@Tooluloope i believe we should add server side filtering for tree and multi tree select as well to make it consistent with the select family.

This was an issue I had created to track it - https://github.com/appsmithorg/appsmith/issues/10847

All the items in select, multi, tree and multi tree should share some common things which should be tackled as part of stability epic.

[2022-03-31 07:06] sbalaji1192 commented on #12365
Next action:
@Rishabh-Rathod will be working on refactoring metaHOC to fix this issue and similar issues with the reset widget functionality.

[2022-03-31 07:10] Tooluloope commented on #12235
Nice,
Got it @dilippitchika

[2022-03-31 07:13] rahulramesha commented on #5128
Closing this as this was fixed.
@vivekverma2312, please let me know if this has to be re-openend

[2022-03-31 07:13] #5128 closed

[2022-03-31 07:14] btsgh commented on #11474
Tested on Release. Seems to have been fixed as per comments and discussions in the thread above. The text is now aligned properly when there is a URL.
<img width="1358" alt="Bug11474_2" src="https://user-images.githubusercontent.com/101863839/160997838-3981b2be-0137-4895-a807-dd3fa3f0e515.png">

<img width="1366" alt="Bug11474" src="https://user-images.githubusercontent.com/101863839/160997824-22a

[2022-03-31 07:26] dilippitchika commented on #12235
Ok so let's add this issue to - #11902

@techbhavin thanks for pointing this, we will pick this up as part of a separate epic. You don't have to pick it up now.

[2022-03-31 07:31] dilippitchika commented on #11474
@somangshu can you take a look at the above screenshot pasted by @btsgh, In the first line word "the" is broken but we thought it won't. I think this is bad experience if this happens to break words which are small, can you let me know if this is something we can fix?

[2022-03-31 07:31] RakshaKShetty opened #12419 "[Bug]: The docker container gets corrupted when the user pauses and restarts the container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The docker container gets corrupted when the user pauses and restarts the container
https://www.loom.com/share/7cf94792b7c84f348bf494f8f0660514

### Steps To Reproduce

1. Run the appsmith-ee fat container
2. Now pause the container from docker desktop
3. Now re-run the container
4. The container

[2022-03-31 07:37] RakshaKShetty opened #12420 "[Bug]: The save button functionality fails in the reconnect Datasource modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The save button functionality fails in the reconnect Datasource modal
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161002382-f04c692d-4d26-441f-991d-e2858e72b9c9.png">

### Steps To Reproduce

1. Import the application
2. inside the reconnect Datasource mod

[2022-03-31 07:48] RakshaKShetty opened #12422 "[Bug]: The data source selection is broken in Reconnect Datasource modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The data source selection is broken in Reconnect Datasource modal
https://www.loom.com/share/94e89538c36d4923b6eb5729f46538e2

### Steps To Reproduce

1.  Import the application
2. inside the reconnect Datasource modal
3. Add the datasource details
4. Now click on test button
5. Now click on Save

[2022-03-31 07:53] Rishabh-Rathod opened #12423 "[Feature]: Option to disable pageLoad action functionality in Edit mode to exit from navigation loop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When a user tries to write a page load query that contains logic to navigate some other page.
If the logic is not conditional then there is no way for user to again change the logic, as going to that page will just navigate to another page.

This will lead to being stuck in a loop and there is no way

[2022-03-31 08:15] RakshaKShetty opened #12425 "[Bug]-[96]:Error state should be displayed in the Ui when the license key is missing in ee image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Error state should be displayed in the Ui when the license key is missing in ee image

### Steps To Reproduce

1. Run the Appsmith-EE image
2. The container fails when the license key is not added
3. As of now we have not added the error scenario in the UI
4. The error state is only displayed in t

[2022-03-31 08:19] RakshaKShetty opened #12426 "[Bug]:Add a intuitive message when server fails to come up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Fat container takes time to come up at that time the restart fails error i.e "We apologize, something went wrong. We’re trying to fix things."  will be displayed no matter how many times we refresh the page

### Steps To Reproduce

1. run the fat container
2. Now add the google auth detailes
3

[2022-03-31 08:26] RakshaKShetty opened #12428 "[Bug]: Add a error message when the Auth setup is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Add an error message when the Auth setup is wrong
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161011314-1f353699-6296-4d25-b936-c02d9d4aaf77.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161011416-bd56e8a6-15a3

[2022-03-31 08:58] arunvjn opened #12430 "[Bug]: 404 on renaming applications to names that start with api, oauth or login"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we rename an application to say, Api manager, we generate slug based off this name. The generated slug name in this case would be api-manager. The URL would now be changed to https://domain/api-manager/pageSlug-somePageId.

When this URL is requested, nginx instead of serving index.html, will

[2022-03-31 09:14] somangshu commented on #11500
@yaldram whats the update here?

[2022-03-31 09:15] nidhi-nair opened #12432 "[Task]: Add `isConfigStoredAtDataSource` field to remote SaaS plugins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Edit SaaS manager app to start storing this field
- Ensure this field is editable via cloud services
- Create a doc to figure out which plugin needs to have this property turned on

[2022-03-31 09:16] nidhi-nair commented on #12432
Related to https://github.com/appsmithorg/appsmith/pull/12251

[2022-03-31 09:17] yaldram commented on #11500
@somangshu it is in Q/A @vivekverma2312 has started testing this feature today. Also my Pull Request fixes other bugs associated with the drag and drop lists we have in the property pane for other  widgets like Tabs. Please check here - https://github.com/appsmithorg/appsmith/pull/11938

[2022-03-31 09:29] somangshu commented on #10486
@dilippitchika considering the previous discussion, can you drop the summary here and add what is required to resolve the actionable, We will resolve this internally.

[2022-03-31 09:35] jnikhila opened #12433 "[Docs]:Update what user sees when Appsmith runs for the first time"
A user tried to set up Appsmith on Docker, but doesn’t see it running. How many containers should be up and running when executing:
docker-compose up -d ?

https://app.intercom.io/a/apps/y10e7138/inbox/conversation/164629100077560

[2022-03-31 09:36] jnikhila commented on #12433
@sharat87 - could you please add details to the ticket.

[2022-03-31 09:37] dilippitchika commented on #10486
@somangshu @Tooluloope please review and move this to product backlog if clear

[2022-03-31 09:39] somangshu commented on #3613
We have two ways to move forward

- [ ] Migrate all references, Create a checklist to test, Create all relevant tests, Use all the form references in internal apps to test all the use cases: Confidence 80%
- [ ]  Do not touch the older references, Do not add any migration, Create v2 to use button, show error on all old formButtons through validations or the above suggestion. Confidence 100%

[2022-03-31 10:07] danciaclara opened #12436 "[Bug]: derivedColumns property shouldn't appear in the debugger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user reported an error when running a query on a custom column in the table widget. The error however does not affect successful execution.
![unknown (5)](https://user-images.githubusercontent.com/32227135/161030354-b5ffcb71-3f8a-4a57-b6f8-55c5ebd51f4a.png)

### Steps To Reproduce

Reported by u

[2022-03-31 10:15] felixsuarez0727 commented on #11982
Recreated the Integration from scratch from the SaaS Integrations App. #11981 is still open, but this will allow us to proceed with QA while #11981 is fixed.

[2022-03-31 10:17] rohan-arthur commented on #12075
@Irongade current behaviour is different, the error says "Are you sure you want to perform this action"
Was this intended, and is this related to #11761 ?

[2022-03-31 10:21] dilippitchika commented on #11279
We need to check if this breaks any s3 queries or other cases with the backend team.

[2022-03-31 10:29] sharat87 commented on #12433
Let's add a note that we expect two container to be running, along with expected output from `docker-compose ps` after starting. Also a screenshot of the welcome page should help people know what to expect when opening Appsmith for the first time.

[2022-03-31 10:40] RakshaKShetty opened #12437 "[Bug]: The save and authorize functionality is broken in Authenticated API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The save and authorize functionality  is broken in Authenticated API
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161037042-9ed7ce83-623d-4fa7-af29-7f3c765b85e4.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161

[2022-03-31 10:40] somangshu commented on #12291
@rohitagarwal88 please look into this, Need you to take this forward

[2022-03-31 10:44] somangshu opened #12438 "[Bug]: List widget pagination is broken for older widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The list widget pagination is not showing up anymore for the older widgets.

This is not happening if a new widget is dropped.

<img width="1611" alt="Screenshot 2022-03-31 at 4 14 05 PM" src="https://user-images.githubusercontent.com/11089579/161037572-26ff4a9e-d5f6-488d-a425-375601cf22a0.png">

[2022-03-31 10:55] #12075 closed

[2022-03-31 11:08] felixsuarez0727 commented on #10911
Indeed, it seems to be related to the complexity of the app itself, as mentioned on these related issues:

#12318
#12258

[2022-03-31 11:24] nidhi-nair commented on #12415
Draft: https://www.notion.so/appsmith/Multipart-and-Binary-data-be27baa167c546d5a92abbff8e6f15b5

[2022-03-31 11:37] rohitagarwal88 commented on #12291
@momcilo-appsmith : Can you look into the design for the deprecation?

[2022-03-31 11:41] mariosant commented on #9700
I am requesting this as well :)

[2022-03-31 11:51] #12230 closed

[2022-03-31 12:02] Pranay105 commented on #12415
@ajinkyakulkarni can review the first draft and move it to Sprint Backlog?

[2022-03-31 12:07] Nikhil-Nandagopal commented on #12404
@MarabiFouad BinData should be a string here
"new BinData(`${row._primary_key}`)"

[2022-03-31 12:08] wmdev0808 commented on #7064
@somangshu ,
I am increasing the estimate by 0.5 for fixing the failed test cases that is introduced by implementing this request at https://github.com/appsmithorg/appsmith/pull/10600#issuecomment-1081814439

[2022-03-31 12:08] Aishwarya-U-R opened #12445 "[Task]: Develop test scripts for AForce app Migration validations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-03-31 12:10] Nikhil-Nandagopal commented on #12374
@Aishwarya-U-R events are only fired on user inputs on a widget, when the data changes due to a system input, they are not fired

[2022-03-31 12:11] Nikhil-Nandagopal commented on #12374
This is related to #2639

[2022-03-31 12:16] shwetha-ramesh commented on #11533
@keyurparalkar as discussed please find the below issues found while testing Migration on theming.
1. Box shadow selection is not shown
![image](https://user-images.githubusercontent.com/92293815/161050218-1d055593-ced1-40c4-8de9-879f0b6bfc60.png)

2. (#migration) For text widget when Heading 2 and Paragraph 2 is selected in theming JS is enabled by default and shows 1.125 and 0.75 respectively bu

[2022-03-31 12:16] Nikhil-Nandagopal commented on #10486
@dilippitchika instead of a new property, can we just rename "Enable client side search" to "Enable client-side filtering" and use it for both search and filter because I don't see much of a use case to have search on and filter off.

[2022-03-31 12:21] somangshu commented on #12130
Dev note: Triage to understand the root cause here. Leave a comment about the same

[2022-03-31 12:25] Nikhil-Nandagopal commented on #12436
@danciaclara this seems like a problem related to #11943

[2022-03-31 12:25] #12436 closed

[2022-03-31 12:34] ramsaptami opened #12446 "[Bug]: Query execution does not honor order of execution when one of it's param is bound to a JS object which requires user confirmation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a query is set to run on page load and it contains param from `JSObject.myFun.data` which requires confirmation before run, then query is run before user confirms run action causing API to return a 400.

Ideal behaviour is for query to execute after user confirms running JS object

### Steps

[2022-03-31 12:53] pranavkanade opened #12448 "[Bug]: App breaks if user tries to visit a page from feature branch with `/`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If the feature branch has a name like - `feature/xyz`, the deployed app breaks.
![Uploading Screenshot 2022-03-31 at 6.22.00 PM.png…]()

### Steps To Reproduce

1. Create a branch with name - `feat/xyz`
2. visit the deployed version

### Public Sample App

_No response_

### Version

Cloud

[2022-03-31 13:20] sachinvyas2012 commented on #11683
@hiteshjoshi thank you for your response. How about a 10 minutes session on Discord ( time that is convenient to you ) so that we both can join the channel at that time and fix it.

[2022-03-31 13:39] #12382 closed

[2022-03-31 14:17] #11118 closed

[2022-03-31 14:21] rahulramesha opened #12452 "[Task]: Clean up DSL, by removing redundant positioning values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

There are few redundant values related to the positioning of the widget and were used in calculation of those positions in the DSL.  Currently, since all those values are calculated on the fly when the page first loads or on canvas resize, these values are not required. Hence the task is to cleanup,

[2022-03-31 14:23] ereio commented on #12000
+1 can confirm this is happening to us on self-hosted

[2022-03-31 14:35] #12064 closed

[2022-03-31 14:38] ankitakinger opened #12453 "[Task]: Add cypress tests for Admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Cypress tests for scenarios not yet added on Admin settings page
- [ ] Cypress tests for Admin settings integration with Login/Signup screen

[2022-03-31 14:38] ankitakinger commented on #12064
The remaining sub-tasks will be done in #12453

[2022-03-31 14:54] btsgh commented on #11486
Recreated the steps with guidance from @nayan-rafiq .. Issue has been fixed.
https://www.loom.com/share/3e533d27f920444d8ad57e8cbc44da11

[2022-03-31 15:03] ramsaptami opened #12454 "[Bug]: JS objects parsing breaks and goes into undefined state causing widget binding to fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Inconsistent behavior is observed for [this](https://release.app.appsmith.com/earworm-issue-12247/music-app-624183a614d46d3d101807ee) app where a synchronous JS object fails to parse on page load and appears as undefined on page refresh at times.

This causes the select widget that's reading this

[2022-03-31 15:11] #12448 closed

[2022-03-31 15:25] MarabiFouad commented on #12404
Solution. Thanks @Nikhil-Nandagopal
_id:`new BinData(${row.__primaryKey__?.$binary?.subType},${row.__primaryKey__?.$binary?.base64})`

[2022-03-31 15:28] MarabiFouad commented on #12404
Thanks @Nikhil-Nandagopal workign. note that Use ` instead of " or ' for string interpolation in js.

[2022-03-31 15:50] RakshaKShetty opened #12456 "[Bug]: Gsheet authentication fails in the reconnect datasource modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The google auth fails when the user tries to authentication the google sheet as a last datasource

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/1bc6143a7e4e47aeaeb3f0c801fa94b3-00001.gif)](https://www.loom.com/share/1bc6143a7e4e47aeaeb3f0c801fa94b3)
### Steps To Reproduce

1. Import the a

[2022-03-31 16:08] RakshaKShetty opened #12457 "[Bug]: The success modal is missing after successful importing the application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The success modal is missing after successful importing the application through reconnect datasource flow
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161099056-6b2946a8-4e0e-40c9-a850-ee87ff7820dc.png">

### Steps To Reproduce

1. Import the application
2.

[2022-03-31 16:11] btsgh commented on #6194
Tested in Release - works fine. Used tab key to move control to any information text and then clicked away using the cursor - the information text exits from hover mode.

https://www.loom.com/share/a4aca35001c942f98c6ad8b8e24e849e

[2022-03-31 16:30] zon7 commented on #10096
Hi,
For us is also very important to have the oracle integration. Thanks

[2022-03-31 16:34] Tooluloope opened #12458 "[Bug]: Multiselect Dropdown doesn't close when the label is on the side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Multiselect widget displays weirdly in compact mode, i.e when the label is on its side

### Steps To Reproduce

Just drag a Multiselect Widget

Make it quite Long.
Then add a Label to be on the side of the widget

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/dc5c31b3ac2b4c8c9526a5828e

[2022-03-31 16:58] hunjunChoi commented on #7511
Hi @Rishabh-Rathod, it seems the issue has been left open for some time after the initial assignment. May I work on this issue? Thanks.

[2022-03-31 17:00] amandaqiu1 commented on #11008
Hi @mohanarpit, may I work on this issue? Thanks.

[2022-03-31 17:13] MarabiFouad commented on #12404
{
  "update": "orders",
  "updates": [
    {
      "q": {
				_id:{
					$in:[\"new BinData(03,\"aCpgBChCHUC1pxBlmRmNsQ==\")\",\"new BinData(03,\"57odwItZ5ka3AqybWRCkXw==\")\"]
				}
      },
      "u": { "$set": { "Comment.Status": 2 }
    },
		"multi": true
			}
  ]
}

I still have an issue above code is the evaluated code but it is string and does not work

[2022-03-31 17:18] MarabiFouad commented on #12404
It should look like below
$in:[new BinData(03,"aCpgBChCHUC1pxBlmRmNsQ=="),new BinData(03,"57odwItZ5ka3AqybWRCkXw==")]

[2022-03-31 18:33] dilippitchika commented on #11603
@Nikhil-Nandagopal which pod needs to look at this?

[2022-03-31 18:43] #9601 closed

[2022-03-31 18:43] dilippitchika commented on #10170
Closing this for now @ramsaptami, let me know if you want to reopen

[2022-03-31 18:43] #10170 closed

[2022-03-31 18:48] Rishabh-Rathod commented on #7511
Sure @hunjunChoi. Go Head.

[2022-03-31 19:39] ramsaptami opened #12470 "[Bug]: Dependency map causes erratic behaviour of app on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Dependency map that's formed during action creations starts causing unexpected behaviour when onPage settings are altered/changed on relevant actions (like queries and JS functions). When any of these queries fail and/or deleted/modified then on page actions start behaving erratic and unpredictabl

[2022-03-31 21:19] Aishwarya-U-R opened #12476 "[Bug]: Unexpected enabling of "Run API on Page Load" when api response is mapped to some widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/161149433-027d6720-246b-4239-8f35-c68a556b2e8b.mov

### Steps To Reproduce

1. Create an api - observe 'Run API On Page Load' is not checked in Settings' tab of API
2. Map the api  results to an widget for display
3. Observe : 'Api will be execute

[2022-03-31 21:56] Irongade commented on #11776
This issue has been resolved.

[2022-03-31 22:01] Irongade opened #12477 "[Feature]: Refactor QueryEditor and SaasEditor Code on client side."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We should ensure to re use as much logic as possible for both the QueryEditor and SaasEditor. Currently They share separate files being used for running formEvaluations, we should attempt to make sure both use one single file.

### Why should this be worked on?

To avoid keeping two files doing the sa

[2022-03-31 22:30] #9902 closed

[2022-04-01 02:18] rohan-arthur commented on #12476
@Aishwarya-U-R this is expected behaviour, added for convenience - when the api data is mapped on the canvas, it is automatically marked to run on page load, because we read the users intent is to show data.
In your video, the intent appears to be to show data when the button is clicked, and this is not possible to determine programmatically.
If you don't want to run the api on page load, you can

[2022-04-01 02:25] Aishwarya-U-R commented on #12476
@rohan-arthur - No, when my api expects a parameter & I as a user to intend to pass it later during one of my interactions with the page - why would I want to see the api failed error in 1st place?
And what about a POST api - which runs the same way during a OnPageLoad when no data is supplied at start? It's just causing confusion on the validity of my api.

[2022-04-01 02:26] Aishwarya-U-R commented on #12476
And personally I won’t prefer to manually disabled “Run on PageLoad” when I didn’t even enabled it!

[2022-04-01 03:40] kocharrahul7 opened #12478 "[Bug]: Grouping widgets in a list widget makes text disappear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I group 2 or more widgets which are in a list, the text in all widgets in the list go blank

https://user-images.githubusercontent.com/20532920/161190860-504c25bf-fa9b-412e-8aa4-c4283fa26815.mov

### Steps To Reproduce

- Create a list widget
- Add multiple widgets inside the list
- Group the

[2022-04-01 04:14] sumitsum commented on #12404
Re-opening this issue since the user has reported that their issue is not resolved.

[2022-04-01 04:26] sumitsum commented on #10109
Closing it since UQI's form -> json sub components don't follow this model. Hence, in order to maintain parity, the form -> native query tranformation will follow the same model as in UQI.

[2022-04-01 04:26] #10109 closed

[2022-04-01 04:46] #10027 closed

[2022-04-01 04:51] Parthvi12 opened #12480 "[Task]: Add Cypress tests for git import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-01 05:24] dilippitchika opened #12481 "[Feature]: Incorporating table level save discard actions in an edited table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

### Suggested Change

1. Allow users to save or discard their changes once they are done with all the changes.
2. Allow developers to configure the save action to trigger a query.

**Developer experience**

1. Devs have a new switch - “Enable table level save”
    1. This switch shows or hides the tab

[2022-04-01 05:36] Rishabh-Rathod commented on #12476
@rohan-arthur I agree with @Aishwarya-U-R  here, In the case of post API calls in most cases, a user would not want to run API on page load, for example, every form submission, file upload happens when the user clicks on the submit button.

In such cases, enabling "run API on page load" just because they are using a response of that API somewhere else is not an expected experience, and manually di

[2022-04-01 05:53] Aishwarya-U-R opened #12482 "[Bug]-[20]:Unable to add comments/leave a blank line at start of JSObjects/JSEditor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1326" alt="Screenshot 2022-04-01 at 8 06 39 AM" src="https://user-images.githubusercontent.com/91450662/161202875-c80ba7fb-ea50-4c7d-95e6-87804a545a0d.png">

### Steps To Reproduce

1. Create a new JS object
2. Since this JS Object can have multiple functions - add a comment at start w

[2022-04-01 05:56] ajinkyakulkarni commented on #7241
duplicate of https://github.com/appsmithorg/appsmith/issues/2268

[2022-04-01 05:58] #12410 closed

[2022-04-01 06:02] dilippitchika commented on #11188
@wmdev0808 please pick up this issue, estimate and add the suggested changes.

[2022-04-01 06:14] rimildeyjsr commented on #7241
I will remove that and track development here

[2022-04-01 06:14] ramsaptami commented on #12482
This was discussed before and IIRC, we stuck to the current format because `export default { }` needs to appear first for the object to be read. We could revisit this if this causes confusion to the larger audience.

[2022-04-01 06:15] #2268 closed

[2022-04-01 06:18] Rishabh-Rathod commented on #11760
As we now need to migrate MySQL dump to Postgres. I believe my earlier estimate was not accounting for this. Also having low expertise in this area might result in more time, hence changing the estimate here.

If a backend dev can pick up this migration part, maybe we could close it faster.
cc: @somangshu

[2022-04-01 06:28] rohan-arthur commented on #7827
this will be fixed with #11639

[2022-04-01 06:28] #7827 closed

[2022-04-01 06:34] nayan-rafiq opened #12484 "Remove feature flag for application templates"

[2022-04-01 06:38] Rishabh-Rathod opened #12486 "[Task]: RCA for #12318, #12520"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Submit an RCA for #12318
- [x] Do an RCA for #12520

[2022-04-01 06:45] #10710 closed

[2022-04-01 06:47] #10298 closed

[2022-04-01 06:47] dilippitchika commented on #10432
Fixed in #4354

[2022-04-01 06:53] eco-monk commented on #11912
Also related to #12315

[2022-04-01 06:55] AnaghHegde opened #12487 "[Bug]: Duplicate name being allowed for JSObject"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We can have two different JSObjects with same name in the same page.

### Steps To Reproduce

Create 2 JS Objects and edit the name via the edit option as shown below in the video.
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2974dce9c78d43d2b1e833d42bb7664a-00001.gif)](https://www.loom.c

[2022-04-01 06:58] #11773 closed

[2022-04-01 07:05] YogeshJayaseelan commented on #11849
@Tooluloope Both the issues #11849 and #11485 are not reproducible in Mac and Windows

CC : @shwetha-ramesh

[2022-04-01 07:06] #9455 closed

[2022-04-01 07:11] Nikhil-Nandagopal commented on #12482
The format is fine but we should not treat anything outside the export default as a break in the JSEditor. It should still work with spaces, new lines, comments, etc

[2022-04-01 07:19] Nikhil-Nandagopal commented on #12476
@Aishwarya-U-R @Rishabh-Rathod we debated this a lot internally as well and all of these concerns were raised but to date we've never had a problem or a question about this from a user. However, when we didn't do this, users would frequently ask us why the API data is not showing in their table and it would be because they forgot to turn it on.

The reason we haven't gone with the approach of excl

[2022-04-01 07:19] #12476 closed

[2022-04-01 07:41] arjunsriva-woven commented on #3249
hey
We've encountered this issue while creating table with buttons, steps to reproduce:

1. create a new empty app
2. add table widget
3. make it wider than necessary
4. deploy
5. table scroll sideways even though the table is wide enough

Observed on : Chrome-Mac

[2022-04-01 07:51] unknown1337 commented on #7241
Thanks @rohan-arthur , great to hear! Can you give me some rought idea when it will be released to 'your cloud hosted appsmith instance'? is this e.g. 2 weeks, 2 months or 6 months? Thanks!

[2022-04-01 08:08] Rishabh-Rathod commented on #12476
@Nikhil-Nandagopal
It makes sense in most of the cases as you mentioned and I strongly agree with the case GraphQL APIs this way makes more sense.

But for cases mentioned above where users don't want to run API on page Load, What if we give users a "CANCEL" CTA in the toast where we inform them "API1 will now run on page Load"?

[2022-04-01 08:13] rohitagarwal88 opened #12491 "Task: Update property pane configuration dynamically"
For the dynamic height feature, widgets will have to register using widget configs to subscribe.
How will this work?
`hasDynamicHeight` property will be set to `true` for the widgets which would change height based on content.
This will be set in `widgets/<WidgetFolder>/index.ts`

The `WidgetFactory` will add two properties to this widget's property pane configuration during the `registerBuilder`

[2022-04-01 08:14] ankurrsinghal opened #12492 "Task: Compute new dimensions for all widgets in dynamic height"
As a result of dynamically increasing height due to content changes, one or more widgets will need to resize themeselves.
- This task is to write a function that computes the new dimensions
- Needs unit test

[2022-04-01 08:14] ankurrsinghal opened #12493 "Task: Reflow widgets for accommodate dynamic height"
- Needs Unit test
- Write a function to compute new positions and sizes of widgets based on dynamic height changes

[2022-04-01 08:15] ankurrsinghal opened #12494 "Task: Store temporary positions and heights for dynamic height in widgets"
As widgets will be reflowed when a widget increases height based on its contents (Dynamic height feature), we need to make sure we store this transient data.
This task identifies the data structure and the storage mechanism as well as its implementation.

[2022-04-01 08:15] ankurrsinghal opened #12495 "Task: Update all widgets based on the above findings, before applying the dynamic height feature. Each widget should be shipped in a separate PR."

[2022-04-01 08:15] ankurrsinghal opened #12496 "[Task]: Design a standard format for widgets or their components for dynamic height"
Based on the investigation from #12497.
From preliminary investigation, different widgets might require different structure to make sure dynamic height is possible. The goal is to Standardise the structure for widget to enable the dynamicHeight.
And also include the standardised structure in handlebar template, that enables the automatic generation of widget structure with dynamic height enabled.

[2022-04-01 08:15] ankurrsinghal opened #12497 "[Investigation Task]: Investigate widgets for dynamic height feature"
This task is to Identify the changes required in each widget component's code to to enable Dynamic height feature Possible.

This task mainly involves identifying exact DOM node to add the `ReactRef` to the component in most widgets, but also investigate the edge cases where the widget might need some more extra effort to implement dynamic height. eg _List Widget_, _Image Widget_ etc.

- [ ] Table

[2022-04-01 08:15] ankurrsinghal opened #12498 "Task: HTML Overlay signifier for dynamic height"
-  Create HTML canvas overlay function which allows a dynamic height overlay to be shown over a widget.
- Needs cypress/unit test
- Design: https://www.figma.com/file/VtsF6ygzHI6gmsOZC3rGnK/Dynamic-Height-Mon-14-March-2022?node-id=2%3A1

[2022-04-01 08:24] vivekverma2312 opened #12499 "[Cypress] Make sure these properties do not show up for widgets which do not register for dynamic height (Let's consider Divider Widget)"

[2022-04-01 08:25] prsidhu commented on #10379
@somangshu @dilippitchika I have doubts about the validity of this use case.

Sharing a few data points first:

1. The file associated with this ticket (generated_2.txt) is encoded in utf-8 and it works perfectly well if the textwidget type is set to Text.
2. The file included in the comment is encoded in base64 (largebase64.txt). If textWidget is set to type Base64 and this file is upload, then t

[2022-04-01 08:26] vivekverma2312 opened #12500 "Task: Cypress Test: Do not enable dynamic height properties for Divider Widget"
- Make sure dynamic height properties do not show up for widgets that do not register for dynamic height
- Flow for Divider Widget

[2022-04-01 08:53] hiteshjoshi commented on #12067
Requires a brainstorming session.

[2022-04-01 09:04] Irongade commented on #4387
Addressed in https://github.com/appsmithorg/appsmith/pull/11312.

[2022-04-01 09:04] ramsaptami opened #12502 "[Bug]: JS object+function pair is not identified when being called by another function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When one JS function calls another JS function, then the nested function comes up as an error stating 'nestedJSObj.myFun is not a function at parentJSObj'  causing app flow to break

Not sure of exact repro steps to reach this state but sample app with this behaviour is attached below

### Steps T

[2022-04-01 09:08] #11758 closed

[2022-04-01 09:15] wmdev0808 commented on #11188
@dilippitchika ,
- As we've already confirmed, Here are the widgets involved in the current scope:
1.Tree select
2. Switch group
3. Multi tree select
4. Multi select
5. Phone input and currency input are not shown when empty
6. Check box group
=========================================

- Form data and associated widgets logic and  should be fixed so that the widgets above should be detected in the

[2022-04-01 09:27] AmanAgarwal041 commented on #12349
Some more ui fixes:

- Entity selector individual items should still be the width of the normal inputs / dropdowns
- Cell range has a weird additional padding
- We shouldn’t have articles and prepositions in CTAs. It should just be ADD CONDITION , ADD GROUP CONDITION, ADD PARAMETER
- Limit text should change to Pagination Limit, and Offset should change to Pagination Offset
- Offset subtext should

[2022-04-01 09:32] sbalaji1192 opened #12505 "[Task]: DynamicBindingPathList is not updated with default table column keys that has bindings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

This is an issue that's blocking the Themeing PR.

In Theming PR, we started adding `{{appsmith.theme.colors.primaryColor}}` as `buttonColor` by default when a new column gets added. When this gets added to the DSL, dynamicBindingPathList is not updated with `buttonColor`. this is due to the update o

[2022-04-01 09:32] sbalaji1192 commented on #12505
CC @ashit-rath @jsartisan @riodeuno

[2022-04-01 10:01] #11849 closed

[2022-04-01 10:03] Rishabh-Rathod commented on #9992
This is again reproducible in a discord user's application. @nidhi-nair

Error response of execute API call
[code]

[2022-04-01 10:13] ApekshaBhosale commented on #12470
this is same as https://github.com/appsmithorg/appsmith/issues/12454

[2022-04-01 10:13] #12470 closed

[2022-04-01 10:48] somangshu commented on #10379
@prsidhu I agree to you analysis here. Though this does not look like a valid use case, maybe keeping the app functioning is still a ball in our court, if a huge text is displayed in the text widget, this problem will still happen.

I am for the solution you have proposed that is we are able to identify that the text is actually some encoding we disable parsing for links there.

@dilippitchika let

[2022-04-01 10:53] somangshu commented on #11760
Low on backend bandwidth right now @Rishabh-Rathod, Ill still talk to other EMs about this!

[2022-04-01 10:59] RakshaKShetty opened #12508 "[Bug]: [deploy preview] the conflict error is displayed even when there is no conflict"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The open repo button and merge conflict text is displayed in the merge tab even when when there is no conflict
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161250414-d334b5fc-bf5c-4756-9130-7757e8931f22.png">

### Steps To Reproduce

1. add a new applicatio

[2022-04-01 11:02] RakshaKShetty opened #12509 "[Bug]: The alignment is broken in reconnect Datasource modal when the data source name is too big"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The alignment is broken in reconnect Datasource modal when the data source name is too big
![image](https://user-images.githubusercontent.com/45958978/161251769-c2f229aa-96f7-4aa3-bee4-abdafae12b84.png)

### Steps To Reproduce

1. Import the application
2. inside the reconnect Datasource modal
3.

[2022-04-01 11:05] #11864 closed

[2022-04-01 11:05] #11045 closed

[2022-04-01 11:05] #11133 closed

[2022-04-01 11:05] #10510 closed

[2022-04-01 11:05] #10508 closed

[2022-04-01 11:05] #10506 closed

[2022-04-01 11:05] #9980 closed

[2022-04-01 11:05] #7987 closed

[2022-04-01 11:05] #7985 closed

[2022-04-01 11:05] #9972 closed

[2022-04-01 11:13] RakshaKShetty opened #12511 "[Bug]: The Overview spelling seems to be wrong in reconnect Modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Overview spelling seems to be wrong in reconnect Modal
![image](https://user-images.githubusercontent.com/45958978/161252565-4b31ac04-f48f-4431-81ba-486432911af2.png)

### Steps To Reproduce

1. Import the application
2. inside the reconnect Datasource modal
3. the overview spelling is wrong i

[2022-04-01 11:15] somangshu commented on #11474
@dilippitchika that is break-work works, This is expected according to me, if now, we will have to revert

[2022-04-01 11:19] somangshu commented on #12239
@momcilo-appsmith thanks, that seems to be a regression. We might need to treat them separately, One is an enhancement while another is a bug

[2022-04-01 11:20] rodrigoscdc commented on #518
Hello Guys do you have any update about this feature on the near roadmap of developing? This feature will be great because my Postgres and MsSql are in local server and the connections we do by ssh certificate.

[2022-04-01 11:27] #11932 closed

[2022-04-01 12:00] hiteshjoshi commented on #12197
@yatinappsmith do you have some logs around it?

[2022-04-01 12:03] ramsaptami opened #12513 "[Bug]: App crashes on release while trying to access API query but same app works fine on prod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

App with a specific API query crashes when trying to access it on release but works fine on prod.

[Production link](https://app.appsmith.com/test-cases-and-scenarios-2/home-6246d97e97dde1526a1304a7/edit/api/6246d97e97dde1526a1304b8)
[Release link](https://release.app.appsmith.com/test-cases-and-s

[2022-04-01 12:11] clouddistortion opened #12514 "[Bug]: CVE-2022-22965 Spring Vulnerability Spring4Shell"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hi unfortunately Appsmith is vulnerable to the Spring4Shell vulnerability. My security scan shows that you are using spring-core 5.3.15 and that the CVE is resolved in version 5.3.18 (Spring Boot 2.6.6) @see: https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement

Please conside

[2022-04-01 12:15] hiteshjoshi commented on #9851
We need a proper error code and error message from the backend. @kocharrahul7 and @akash-codemonk to pick

[2022-04-01 12:17] Nikhil-Nandagopal commented on #12476
@Rishabh-Rathod that sounds like a clean solve to me. Can you raise a feature request for this?

[2022-04-01 12:19] jsartisan opened #12515 "[Enhancement]: The nested paths in Table + Button Group needs to be binded to theming on first drop and on creating new items"
Whenever we drop button group or table widget, the nested paths that are meant to be linked with theming should have binding according to theme config. Same goes with creating new columns ( in table widget ) and buttons in button group.

[2022-04-01 12:41] rishabhrathod01 opened #12516 "[Feature]: Add a Cancel CTA on Toast msg "API will be executed on Page Load" when user consume API response {{API.data}}"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

### Suggested Solution

We could give users a "CANCEL" CTA in the toast where we inform them "API1 will now run on page Load"?

### Why should this be worked on?

Though it makes sense to enable "Run API on Page Load" for users automatically when they consume API's response using `{{API1.data}}` but f

[2022-04-01 13:06] rashmi-rai opened #12517 "[Bug]: Multiselect options do not show options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Multi-select dropdown not rendering options

### Steps To Reproduce

1 . Create google sheets datasource
2. Create a query on it.
3. Choose command fetch many
4. Scroll down to columns and click on it
5. It will not show any options.

### Public Sample App

http://uqi.appsmith.com/projectioncompon

[2022-04-01 13:14] #4880 closed

[2022-04-01 13:26] keyurparalkar opened #12518 "[Enhancement]: Theming migration"
Implementing migration for the App theming project.

Epic link: https://github.com/appsmithorg/appsmith/issues/3369

[2022-04-01 13:52] sumitsum opened #12519 "[Feature]: client side changes for Mongo form to native query conversion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Client side changes for https://github.com/appsmithorg/appsmith/issues/4880

### Why should this be worked on?

part of UQI project.

[2022-04-01 13:55] felixsuarez0727 commented on #11981
For the HubSpot CRM Integration, this was resolved by recreating the integration on the SaaS App without adding the oAuth2 authentication.

According to Nidhi `datasourceUiConfig` is computed on the fly by aggregating properties from the Database (added by the SaaS App).

Most likely, the oAuth2 option is not being removed from `rootDatasourceConfig` when it is removed from the SaaS App. As a resu

[2022-04-01 13:55] #11981 closed

[2022-04-01 14:16] Rishabh-Rathod opened #12520 "[Bug]: Input value in some cases doesn't get evaluated as expected and hence showAlert or binding shows wrong evaluated value."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This was observed in the Discourse User app initially where the input widget was used and `onTextChanged` the showAlert was expected to show the Input widget's value.

It was observed that after typing in the Input widget, the alert didn't show any of those updates.

### Steps To Reproduce

There

[2022-04-01 14:18] felixsuarez0727 opened #12521 "[Bug] Authentication properties don't get removed from SaaS Plugins eventhough they were removed from the SaaS App"
#### Note: Query called Delete_Auth_Datasource was created in the **feature/removed-auth-when-updated** branch

Refer to #11981 for more context

Steps to reproduce:

1. Create an integration.
2. Add all Authentication Options to the new integration and save.
3. When you try to install the integration, an error saying "Something went Wrong" will occur.
4. Remove all authentication options except `

[2022-04-01 14:18] Rishabh-Rathod commented on #12520
A Discord User also faced a similar issue - https://discord.com/channels/725602949748752515/958678136030121994/959011675430850580

[2022-04-01 14:50] felixsuarez0727 commented on #12220
Already updated and tested on SaaS App under (Airtable 1.2). Need to figure out how to proceed with this one (how to update from one to another on prod).

[2022-04-01 14:57] #10442 closed

[2022-04-01 15:02] delightfuldude commented on #10531
@Nikhil-Nandagopal not yet, thanks for the hint! I'm new to appsmith and just figuring out how everything works!

[2022-04-01 16:02] #10496 closed

[2022-04-01 16:48] felixsuarez0727 commented on #12148
Nidhi clarified how to implement this (SaaS App Only). If testing DBs are needed, alternative Datasources should be added (have to switch to them manually each time).

Will document this for future reference.

[2022-04-01 17:33] sullo opened #12522 "[Bug]: Docker import fails with file from cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After exporting an application from Appsmith cloud, I am unable to load it into a docker installation.

### Steps To Reproduce

1. Download application from an Appsmith Cloud instance. (v1.6.17-SNAPSHOT)
2. Import instance into local Docker installation (v1.6.16)

### Public Sample App

_No respon

[2022-04-01 18:07] sullo opened #12523 "[Feature]: Expose network logs in Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When working on an app in the cloud, not all errors can be seen via the UI. For example, an error reported by an API _will_ appear, however any of the following happen (and probably some more) there is no ability for an Appsmith developer to see what is wrong:

* Networking errors
* Connection failure

[2022-04-01 19:22] felixsuarez0727 opened #12524 "[Bug]: The Evaluated Value shows empty for SaaS Integrations created via the Saas Manager App."
**The Evaluated Value Show Empty for Twilio Integration on Saas Manager App**

When the user clears the entered data the evaluated value must be displayed as “undefined” but showing empty.

At the beginning if the value is empty it shows undefined

https://images.zenhubusercontent.com/275993885/a5f5ea71-02e9-4fba-b648-0c0467e4a612/video2896672334.mp4

[2022-04-01 20:03] AS-Laguna opened #12525 "[Bug]: Table.totalRecordsCount always returns 0."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I access `Table.totalRecordsCount` in a table containing records I get the value `0`.

I expect to get a number representing the the total number of records.

### Steps To Reproduce

1. Go to the provided sample app.
2. Observe the table with 14 rows.
3. Observe the accurate row count next to

[2022-04-01 20:16] felixsuarez0727 opened #12526 "A cyclic dependency error occurs when displaying table integrations in the Saas Manager APP"
When changing the branch development to master occur a cyclic dependency and the table with all integrations appear and then disappears. In the next video show what occurs:

https://images.zenhubusercontent.com/275993885/1a7ba2e1-1ff4-464c-ac0d-4969e4729def/video1.mp4

When uploading an icon the error start again

https://images.zenhubusercontent.com/275993885/fd467d14-a123-4d2e-aa69-57e132ac3efa/

[2022-04-01 20:17] felixsuarez0727 commented on #12526
The problem could be with the Upload Icon query this was temporarily removed and it worked

**Solution:** Create a new Upload_Icon query.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/025ff593-62b4-496f-b735-c61898e83642)

[2022-04-01 20:47] felixsuarez0727 commented on #12526
This was resolved yesterday, but some testing was needed to double-check that the functionality was recovered and there were no side effects.

[2022-04-01 20:47] #12526 closed

[2022-04-01 21:06] AS-Laguna commented on #12525
The user and I were mistaken for how this feature works. Closing this.

[2022-04-01 21:06] #12525 closed

[2022-04-01 21:33] Rishabh-Rathod commented on #12318
### Workaround to temporarily solve the issue.

This workaround will add a delay between submit button click and the actual storing of the input value to make sure the latest changes are picked.

1. Create a JSObject with the code mentioned below.
[code]
2. Change the widget name from `Input1.text` to your Input Widget name and also `storeVariable` name to your own choice name for the store variab

[2022-04-02 08:03] momcilo-appsmith commented on #12291
@rohitagarwal88 is this all we need:

1. norification when it happens
2. Indicator that a widget on the canvas is deprecated?

Do we also need to show this for variants of a widhet (e.g. number input in the input widget)?

[2022-04-02 09:04] Nikhil-Nandagopal commented on #12522
@sullo due to migrations in format, we don't support importing into older instances. You must update your self hosted instance to the latest version for this to work

[2022-04-02 09:04] #12522 closed

[2022-04-02 09:05] Nikhil-Nandagopal commented on #11603
@dilippitchika this ideally App viewers can pick up but we can get help from @hiteshjoshi @nayan-rafiq since it has an implication on authentication

[2022-04-02 09:12] Nikhil-Nandagopal commented on #12523
@sullo thanks for the feature request! Do you have a specific API where is this not happening? I think ideally we should propagate error codes that appsmith receives from a 3rd party API back to the browser as well

[2022-04-02 09:13] Nikhil-Nandagopal commented on #12514
@mohanarpit @sharat87 could you have a look?

[2022-04-02 09:59] abhvsn opened #12527 "[Bug]: If duplicate named datasource with different plugin type is present in org, importing the application using JSON file does not import actual datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As we are not exporting the datasource config object we are now dependent on the datasource name if the same is available in the org where we want to import the datasource. This should have the plugin check, as there can be a datasource with different plugin but same datasource name, this breaks t

[2022-04-02 13:22] arminus opened #12528 "[Bug]: Cyclic dependency error with JS on slave table button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the current release branch from github (this effect cannot be reproduced with 1.6.16 and is IMHO clearly a regression)

Barebones extract from my actual app:

- a master (Table1) and a slave table (Table2), content of the slave table is updated based on Table1.selectedRow.id
- second table has

[2022-04-02 13:33] #10175 closed

[2022-04-02 13:33] #11500 closed

[2022-04-02 15:38] Aishwarya-U-R opened #12531 "[Bug]-[1200]:Unable to select previously selected option from dropdown if value outside the options is set - unless other option is selected at-least once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/161390275-d6d4bed2-a643-4fdd-820f-d124a9668642.mov

### Steps To Reproduce

1. Drag drop a select widget - set some options for the dropdown
2. Map the Default value of the select to take values outside of existing options, example used - Table.se

[2022-04-02 23:39] Aishwarya-U-R opened #12532 "[Bug]: Unexpected removal of recently created DataSource from EntityExplorer DATASOURCES section when Query [run via JS] is deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/161404668-d9a09198-1776-4c84-8165-0b43e5e22f2e.mov

### Steps To Reproduce

1. Create a Data Source, example used - Postgres DB
2. Run a query via JS against this DataSource
3. Map query results, JS method call to widgets, as shown
4. Deploy the a

[2022-04-03 04:08] #12484 closed

[2022-04-03 12:20] Rishabh-Rathod commented on #11351
@ashit-rath
Though we don't aim to fix this particular problem with the above change. But removing those paths from the data tree will actually also fix the issue you mentioned. for example, trigger path, validationPaths, bindingPaths, and so on.

[2022-04-03 12:51] trishaanand commented on #11271
Closing this since JWT documentation is now available here : https://docs.appsmith.com/core-concepts/json-web-tokens-jwt

[2022-04-03 12:51] #11271 closed

[2022-04-03 12:52] trishaanand commented on #6745
@ayushpahwa : Unsure what the task here is. Could you please re-assign if its still relevant or close if not required. Thanks!

[2022-04-03 16:42] #12517 closed

[2022-04-03 16:44] #12412 closed

[2022-04-03 18:20] Parthvi12 opened #12535 "[Bug]: In Reconnect modal, on selecting datasource from the left panel, shows another datasource instead of the selected one."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/161442129-8116d098-8d09-43d5-bdad-facb0337300f.mp4

### Steps To Reproduce

1. In reconnect modal, click on Test button for any datasource.
2. Click on any other datasource from side panel.
3. Observe, it will open another datasource instead of th

[2022-04-04 04:25] Aishwarya-U-R opened #12536 "[Bug]: Importing App into an already Imported/Forked Org orphans the queries & creates a new dummy dataSource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/161453333-0ea4eecd-5401-4abe-be45-40c6524a5cbb.mov

### Steps To Reproduce

1. Create an app with data source, eg used - Postgres & export the app
2. Create a new org & import the app json created above
3. Observe Reconnect model appears & data so

[2022-04-04 04:44] #12073 closed

[2022-04-04 04:46] dilippitchika commented on #11962
@techbhavin can you investigate if this is possible?

[2022-04-04 04:47] dilippitchika commented on #11962
Please let us know the estimate and the fix before trying to pick this up

[2022-04-04 04:48] Aishwarya-U-R opened #12538 "[Bug]: Unable to delete DataSource when mapped Query is run via JS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/161474369-741404cc-7400-40c9-9ce2-4479ad0ee7e5.mov

### Steps To Reproduce

1. Create a data source, Postgres used in example
2. Create a query to select data from table
3. Run this query via a JSObj
4. DragDrop widgets & map the JSObj & query to

[2022-04-04 04:55] #12274 closed

[2022-04-04 05:20] #12300 closed

[2022-04-04 05:32] rohitagarwal88 commented on #12292
@jsartisan / @yaldram : Any update on this?

[2022-04-04 05:33] dilippitchika commented on #11838
Tried with the same app, i guess data is different now but was not able to reproduce the error.

![Screenshot 2022-04-04 at 11 02 23 AM](https://user-images.githubusercontent.com/19730984/161480007-a474ab43-aa9b-453c-8de2-35a5d853799f.png)

[2022-04-04 05:48] IAmAnubhavSaini commented on #10644
@abhvsn The PR #11414 doesn't have `isAutoUpdate`.

[2022-04-04 05:55] Pranay105 commented on #11921
@cokoghenun needs video.

[2022-04-04 05:56] #11232 closed

[2022-04-04 06:10] Nikhil-Nandagopal commented on #12538
@Aishwarya-U-R this issue is already reported in #10358 and not critical since it does not break a users existing app

[2022-04-04 06:10] #12538 closed

[2022-04-04 06:14] Nikhil-Nandagopal commented on #11690
Duplicate of #10358

[2022-04-04 06:14] #11690 closed

[2022-04-04 06:14] ramsaptami commented on #11838
Hey @dilippitchika you can create an incorrect binding by using something like `data_table.selectedItem.first` that should put the field into an undefined state. You'll see the error then

[2022-04-04 06:20] IAmAnubhavSaini commented on #10644
`isAutoUpdate` Related: https://github.com/appsmithorg/appsmith/issues/12065, PR: https://github.com/appsmithorg/appsmith/pull/12099

[2022-04-04 06:21] jnikhila commented on #11455
Doc available on https://docs.appsmith.com/how-to-guides/how-to-use-js-object-within-appsmith

[2022-04-04 06:21] #11455 closed

[2022-04-04 06:23] ramsaptami commented on #8256
Re-tested and verified this to behave as expected

[2022-04-04 06:29] ramsaptami opened #12540 "New app created using templates has old URL format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

New apps created using templates have old URL's and need to be migrated to new URLs manually

### Steps To Reproduce

1. Fork a template and observe the URL

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d6e3a988a4ba43cab11473ab1a012509-00001.gif)](https://www.loom.com/share/d6e3a988a4ba43

[2022-04-04 06:46] dilippitchika commented on #10379
Agreed with @somangshu. My concern is the same that we cannot let the app go into an unresponsive state ever.

I am also for this, if this is possible

**Context**
The user didn't face this issue directly. We were triaging and found this issue happening in the text widget.

[2022-04-04 06:49] RakshaKShetty commented on #12249
Fixed <img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161488322-114a92be-ab41-41f2-823e-0270e45db905.png">

[2022-04-04 06:52] btsgh commented on #10608
Verified all the widgets for keyboard accessibility on all the text input fields in the Property pane.

[2022-04-04 06:52] shwetha-ramesh commented on #11533
@keyurparalkar below are few more issues found while testing migration
11.	Audio recorder widget shows 9999px for Border radius. Standard unit must be used across all widgets
![image](https://user-images.githubusercontent.com/92293815/161488571-9178f06d-64c3-4e59-97fd-dc47e2e92fbb.png)

12. No revert option found for select family
Select = No revert for Box Shadow
Multiselect = No revert for Borde

[2022-04-04 06:52] Nikhil-Nandagopal commented on #12420
@RakshaKShetty this is not critical since it does not break a user's existing app

[2022-04-04 06:54] Nikhil-Nandagopal commented on #12094
Not critical since it does not break a user's app

[2022-04-04 06:56] nidhi-nair commented on #12502
@ApekshaBhosale I see that the JSObject does return with the action, do you think the parsing fails at some point and hence fails to add the function to the data tree?

[2022-04-04 06:57] Nikhil-Nandagopal commented on #12456
@RakshaKShetty not critical since it doesn't break a user's app

[2022-04-04 06:59] Nikhil-Nandagopal commented on #12422
@RakshaKShetty not critical since it's doesn't break a user's app

[2022-04-04 07:00] Tooluloope commented on #11671
Fixed in this https://github.com/appsmithorg/appsmith/pull/12356

[2022-04-04 07:01] Nikhil-Nandagopal commented on #12405
@GreenFlux I agree with the problem statement but I think the solution can be to enable dynamic bindings in the datasource or enabling multiple environments that can be switched on the fly

[2022-04-04 07:07] #12172 closed

[2022-04-04 07:34] RakshaKShetty commented on #12248
Fixed
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161488626-b4834e28-2225-41c5-b9b2-4121bb9cea74.png">

[2022-04-04 07:36] #11109 closed

[2022-04-04 07:47] RakshaKShetty commented on #12035
fixed
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161497758-054bbc71-1724-4ec6-92b6-09a32d5f9e05.png">

[2022-04-04 07:53] #12527 closed

[2022-04-04 07:53] #12536 closed

[2022-04-04 07:53] btsgh commented on #8677
Tested in Release for both currentItem and currentIndex in a button added to list widget, after discussion with @ohansFavour and I don't see an error now.

[2022-04-04 07:57] pranavkanade opened #12543 "[Bug]-[4]:JSON Form (Select field) `onFilterUpdate` property shows two different variations of same code block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot 2022-04-04 at 12 53 44 PM](https://user-images.githubusercontent.com/13262095/161499199-0f9c6edc-97d1-4975-a052-39026887aac8.png)
![Screenshot 2022-04-04 at 12 53 36 PM](https://user-images.githubusercontent.com/13262095/161499215-afa02849-56b9-49fa-8fa4-736c8a163759.png)

### Steps T

[2022-04-04 07:57] #12480 closed

[2022-04-04 07:59] pranavkanade opened #12545 "[Bug]: JSON form (Select field): `filterText` property is not evaluated properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3f69006801e247278d5fbc4ae4d73b46-00001.gif)](https://www.loom.com/share/3f69006801e247278d5fbc4ae4d73b46)

### Steps To Reproduce

1. Create JSON Form add select field with filtering
2. `onFilterChange` showAlter of the `filterText`

### Public

[2022-04-04 08:00] #12079 closed

[2022-04-04 08:00] #12080 closed

[2022-04-04 08:00] #12081 closed

[2022-04-04 08:27] RakshaKShetty commented on #11250
The edit button is removed so cant test this flow

[2022-04-04 09:02] rohan-arthur commented on #12058
@ajinkyakulkarni this needs estimation

[2022-04-04 09:03] btsgh opened #12549 "[Bug]: On tabbing into a text field, cursor blinks at the start of the field, instead of highlighting the entire text"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In case of a text field in the property pane, on using tab keys to tab around to the text field in the properties pane, and clicking enter, the cursor blinks at the start of the field.

As a user, I expect the entire text in the field to get highlighted to make it easily editable.

### Steps To Re

[2022-04-04 09:06] sbalaji1192 commented on #11839
@dilippitchika yeah. This is in production now.

[2022-04-04 09:12] dilippitchika commented on #11839
Discussed with @sbalaji1192, the conlusion is - No changes to this PR, it will stay the same. We haven't heard from users yet, so we think this change is fine for now.

In future, we are planning to support null values across all fields

[2022-04-04 09:19] btsgh commented on #11839
As per comments above and my observation on Release, marking this issue as fixed.

[2022-04-04 09:29] jnikhila opened #12550 "[Docs]: Update Tutorial Review Moderator Dashboard"
Update Doc:

https://docs.appsmith.com/tutorials/review-moderator-dashboard

![Java Instructions](https://images.zenhubusercontent.com/6203759d49a2167250e9a805/1d14feee-b196-4b9e-bcf1-046f31735a0a)

[2022-04-04 09:29] GreenFlux commented on #12405
Thanks @Nikhil-Nandagopal, I wasn't sure if dynamic bindings would be possible with authenticated datasources since the credentials are stored on the server and encrypted, instead of being sent to each client. If we use dynamic bindings, would one user be able to update the API key in a way that other users/clients could see and use the new key? Or would it only work for that one user?