[2020-08-13 14:01] ambuje opened #303 "How to enter my current session again after closing the previous one?"
Hi,
When I install appsmith It works perfectly but  when I shut down my laptop and try to open again appsmith them I am unable to do so. I have to uninstall it and install it again.

Could you help me to know how to open my session again?

Thanks

[2020-08-13 14:53] mohanarpit commented on #303
Hey @ambuje

When you shut down your laptop the Docker containers would have shut down. In order to start them up again
1. Go to the folder where appsmith was installed ( by default, the script would have named this `appsmith` )
2. Run the command: `sudo docker-compose up -d`

This should start all the required containers again. In order to verify this, run the command `sudo docker-compose ps`. Yo

[2020-08-15 10:11] ambuje commented on #303
Hi

Starting appsmith_appsmith-internal-server_1 ... error

ERROR: for appsmith_appsmith-internal-server_1  Cannot start service appsmith-internal-server: OCI runtime create failed: container with id exists: 77420e00e3e872d29b405aca0acfd071cff3e1eb9136fec8d51186fb7d07b413: unknown

ERROR: for appsmith-internal-server  Cannot start service appsmith-internal-server: OCI runtime create failed: contai

[2020-08-15 10:17] ambuje commented on #303
I was able to run but I had to delete appsmith_appsmith-internal-server_1
docker rm appsmith_appsmith-internal-server_1
and then run
sudo docker-compose up -d
to get to the appsmith page

[2020-08-16 07:49] apoorv-mishra opened #318 "[BUG]"
## Description
Got an error while setting up appsmith using `install.sh`.

### Steps to reproduce the behaviour:
Followed steps outlined in https://docs.appsmith.com/quick-start#docker. Failed on 3rd step mentioned.

On running `./install.sh`, got the following logs,
[code]

### What you expected to happen
Fresh local installation of appsmith as expected after following  https://docs.appsmith.com/

[2020-08-16 12:06] #318 closed

[2020-08-17 06:10] Nikhil-Nandagopal opened #325 "[BUG]"
## Description

[What happened]

### Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Good items to include here include:
- Console / network logs from your browser

### What you expected to happen
A clear and concise description of what you expected to happen.

### Screenshots
If applicable, add screenshots to help explain your problem.

#

[2020-08-17 06:10] #325 closed

[2020-08-17 07:08] Nikhil-Nandagopal commented on #303
@ambuje Glad that worked for you! I'm closing this issue now. If you face any other problems, feel free to open another one :)

[2020-08-17 07:08] #303 closed

[2020-08-20 15:51] Nikhil-Nandagopal opened #377 "Looking for beta testers 👩‍💻👨‍💻"
## Appsmith is looking for beta testers to help improve the platform!
Try to install and run new features, if you find bugs or have a feature request, please open a dedicated issue.
If you have general feedback, please reply here!

## Setup
You can find the latest release for Appsmith on our [Cloud hosted version](https://app.appsmith.com).
You can install us via docker by following these [instruc

[2020-08-21 15:22] SushritPasupuleti opened #399 "Sessions are not supported by the MongoDB cluster to which this client is connected - When connecting to a single Instance MongoDB [BUG]"
## Description

When you try to connect to a single instance mongodb, i.e one without any replica sets. The connection process seems to run into problems. Was able to verify this with one of the guys on the chat! (Great support btw!)

### Steps to reproduce the behaviour:
1. Go to ` Data Sources > MongoDB `
2. Enter your credentials and other necessary info
3. Click on test
4. A popup on the top r

[2020-08-25 02:15] sharat87 commented on #399
Hello @SushritPasupuleti, thank you for taking the time to report with such detail. Appreciate it.

We were able to quickly zero-in on this problem and it is now fixed and in production. Can you try this now and confirm please?

I'm closing this issue now, but if you notice that the problem persists, please get back to us and we'll re-open.

Thanks again!

[2020-08-25 02:15] #399 closed

[2020-08-25 05:11] mohanarpit opened #419 "[FEATURE] Integrate with Elasticsearch DB"
## Summary

We would like to integrate with elasticsearch DB.

## Motivation

Elasticsearch DB is a commonly used database for quick access of data. We would like to integrate with it to provide users a better experience with Appsmith

## Additional Context

For this issue, we will operate almost exclusively in the maven module `appsmith-plugins` . Each of these integrations is a plugin to the App

[2020-08-25 08:02] SushritPasupuleti commented on #399
Yes! Can confirm that it's working perfectly! Cheers!

[2020-08-25 10:42] ifelse-codes commented on #419
@mohanarpit I have started working on this feature

[2020-08-27 18:16] bakerfugu opened #453 "[FEATURE] JS for downloading files"
## Summary

Add a utility function that can be used in JS that downloads files to the user's file system.

## Motivation

This feature would be useful for a number of customer support dashboard use cases. For example, a database that stores data for cars could have several images of each car: front, back, sides, interior (stored in base64). I want to email those images to a customer or another mem

[2020-08-27 18:23] bakerfugu opened #454 "[FEATURE] Duplicate or copy/paste widgets"
## Summary

Add the ability to duplicate or copy/paste widgets using keyboard shortcuts and UI buttons

## Motivation

This feature would help speed up the creation of apps, allowing for easy reuse of logic that has already been created.

## Additional Context

It would be annoying if the duplicated widget were always placed underneath the original one, because that could shift/bump other componen

[2020-08-28 13:31] Nikhil-Nandagopal commented on #453
@bakerfugu this feature is now live on https://app.appsmith.com 🎉
You can download files using {{ download(object | base64, fileName, type(optional)) }}
You can run this through a loop if you want to download multiple files on a single event. Thank you and @hetunandu for your contributions in making appsmith better 😃

[2020-08-28 13:31] #453 closed

[2020-08-28 17:26] sagargulabani opened #462 "[BUG] Alias is not supported in mysql query."
## Description

The mysql alias doesn't show up. This is an issue when joining tables having columns with the same name.
https://www.mysqltutorial.org/mysql-alias/

### Steps to reproduce the behaviour:
1. Go to mysql query
2. Type the following query select id as`idname` from guests;
3. The alias doesn't show up

Good items to include here include:
- Console / network logs from your browser

###

[2020-08-28 17:31] Nikhil-Nandagopal commented on #462
Thank you for reporting this @sagargulabani . We'll look into this and revert with a fix..

[2020-08-28 19:08] AdityaAnand1 commented on #377
Since the setup has quite a few steps, it would be great if we can just put all the steps in a simple bash script.

An install experience like

[code]

would be really nice 😁

[2020-08-28 19:45] Nikhil-Nandagopal commented on #377
@AdityaAnand1 thanks for the feedback! Are you talking about running the code for development or installing appsmith for use? If you'd like to install appsmith, we have a single script that runs everything 😃
[Steps to install](https://docs.appsmith.com/quick-start#docker)

[2020-08-28 20:05] AdityaAnand1 commented on #377
Yup, running the code for development as well :)

[2020-08-29 05:09] AdityaAnand1 commented on #377
This might be a dumb question, but where can I find `start-https.sh`?

[2020-08-29 06:07] Nikhil-Nandagopal commented on #377
@AdityaAnand1 you can find it here
https://github.com/appsmithorg/appsmith/blob/master/app/client/start-https.sh

[2020-08-31 15:29] areyabhishek opened #470 "[BUG] DB queries aren't running on page load."
## Description
I set a query to run on page load, but it doesn't run

See the public URL of the app here: https://app.appsmith.com/applications/5f3641d380ca1f6faaed4f64/pages/5f3641d380ca1f6faaed4f6f

### Screenshots
[](url)
### Important Details

How are you running appsmith?

SaaS (appsmith.com)

Which browser / OS are you using?
-MacOS
- Chrome

[2020-08-31 16:35] trishaanand commented on #470
My first observation is that the action 'fetchConfigs' permissions have been overwritten somehow and right now only 'nikhil@appsmith.com' now has permissions to read/write/execute. This is the case even though the application and the pages have permissions for public as well as a few other users.

[2020-09-02 13:59] Nikhil-Nandagopal opened #488 "[FEATURE] Data migration from self hosted instance"
## Summary

A user thought it might be a good idea to be able to migrate his data from one ec2 instance to another or from an ec2 instance to our cloud instance

## Motivation

Users are initially wary of giving the cloud version their db credentials but over time want to move to the cloud version because it's easier to manage or be able to restore their setup on another ec2 instance incase someth

[2020-09-02 14:03] Nikhil-Nandagopal opened #489 "[FEATURE] Option to control signups on self hosted"
## Summary

A user wants the option to disable sign ups on a self hosted instance and only allow users to login via invites

## Motivation

This is to protect the instance from receiving signups from malicious users

[2020-09-04 06:01] Nikhil-Nandagopal commented on #462
@sagargulabani We've merged the fix for this issue in. It should now be working as expected! 😄
Do let us know if you face any further problems

[2020-09-04 13:07] Nikhil-Nandagopal opened #501 "[FEATURE] Enable selection of multiple rows in Table"
## Summary

A user needs the option to select multiple rows in a table widget and perform an action on the rows selected.

## Motivation

The reason a multi select dropdown doesn't work for the user is because the table data is fragmented and the users of the application need to look at a combination of columns in order to make a decision as to which rows should be acted upon

[2020-09-04 13:26] mohammadnajmuzzaman commented on #501
Would love this feature 😍

[2020-09-05 05:39] sagargulabani commented on #462
I think this has not yet been merged with app.appsmith.com

[2020-09-05 06:33] Nikhil-Nandagopal commented on #462
@sharat87 can you check? It looks like the pr has been merged but @sagargulabani is still facing an issue

[2020-09-07 04:52] sharat87 commented on #462
Hi @sagargulabani, this issue should now be resolved. Sorry for the back-and-forth on this. Let us know if you face any further problems with this. Thanks!

![Screenshot 2020-09-07 at 10 21 02](https://user-images.githubusercontent.com/120119/92349475-d6d19500-f0f3-11ea-86cd-1d0eb123fb63.png)

[2020-09-07 04:52] #462 closed

[2020-09-09 07:34] akbansa opened #518 "[FEATURE] SSH Tunnel for Database connections (MySQL)"
## Summary

I believe you guys must have SSH Tunnel support to connect to a database (for MySQL).

## Motivation

Most of the companies have their production database behind a server. So providing an SSH tunnel will enable those users to use the platform with confidence and not compromising on security.

Update:
Related: https://github.com/appsmithorg/appsmith/issues/24030

<img src="https://front

[2020-09-09 08:00] Nikhil-Nandagopal commented on #518
@akbansa Thanks for the feature request! I believe we do support this feature today. Were you having trouble accessing it? What type of database are you trying to connect to?

Here is a screenshot of our tunnel feature
![image](https://user-images.githubusercontent.com/3897254/92571308-95321d00-f2a0-11ea-9b94-b0ce0212d302.png)

[2020-09-09 08:28] akbansa commented on #518
@Nikhil-Nandagopal Yes, it's there for PostgreSQL but not for MySQL.

Here is the screenshot for the same:
![image](https://user-images.githubusercontent.com/13042781/92574117-52724400-f2a4-11ea-8540-aa478d563c8b.png)

[2020-09-09 08:31] Nikhil-Nandagopal commented on #518
Thanks for the update and the clarification! We'll get this prioritised and
ship this out soon

On Wed, Sep 9, 2020, 13:59 Anshul Bansal <notifications@github.com> wrote:

[2020-09-09 08:45] mohanarpit commented on #488
This is a great idea! Do you have any resources that link to how Sentry achieves this? Would love to learn from a good UX for this feature.

Also, from my initial understanding, this feature requires that we do the following first:
1. Create a backup of all the data in the DB.
2. Be able to restore the backup of the DB in another instance. The tricky part will be to preserve all the IDs.

[2020-09-09 12:00] sharat87 commented on #518
Hello @akbansa, thank you for reporting this. The SSH Tunnel configuration in the Postgres datasources is a bug, since the feature is not currently supported by Appsmith. A solution to this problem is currently already being worked upon.

[2020-09-09 13:04] Nikhil-Nandagopal commented on #518
After a bit of deliberation, we recommend anyone trying to access their db behind a VPC to [whitelist our ip](https://docs.appsmith.com/core-concepts/connecting-to-databases#database-connections)
In the meanwhile, we'll work on a slightly more involved solution to support SSH Tunnel and remove the incorrect tunnel option for other databases.

[2020-09-09 13:07] Nikhil-Nandagopal opened #520 "[BUG] Tunnel option showing for Postgres and Mongo"
## Description

SSH Tunnel options are displayed while configuring a database but they don't work as referenced in issue #518

### Steps to reproduce the behaviour:
#518

## Solution

Remove the option for today, direct users to [whitelist our IP](https://docs.appsmith.com/core-concepts/connecting-to-databases#database-connections) and introduce the feature as a holistic solution tracked as #518

[2020-09-09 14:02] Nikhil-Nandagopal commented on #470
Closing this issue as we've detected it was a data migration issue

[2020-09-09 14:02] #470 closed

[2020-09-10 11:47] Nikhil-Nandagopal commented on #501
@mohammadnajmuzzaman this feature has been deployed! Check it out and let us know your feedback 😃

[2020-09-10 11:47] #501 closed

[2020-09-10 14:49] mohanarpit commented on #520
Have removed the SSH tunnel option for Mongo and Postgres plugins. Will add these options back in the UI when the plugins implement this feature on the server-side. Reference #518

[2020-09-10 14:49] #520 closed

[2020-09-12 19:06] sentry-io[bot] opened #539 "[Bug] Datepicker out of range"
Sentry Issue: [APPSMITH-5B](https://sentry.io/organizations/appsmith/issues/1890371266/?referrer=github_integration)

[code]

[2020-09-14 10:51] Nikhil-Nandagopal opened #541 "[FEATURE] Video Widget"
## Summary

Users need a way to display video information that might be hosted on a private account. Accessing this video will require the creation of a signed URL. Different hosting services will have different methods of dealing with signed URLs so a generic way of creating a signed URL is also required by the system. The signed URL should be auto refresh by the widget or some method to refresh

[2020-09-16 07:12] areyabhishek opened #552 "[FEATURE] Show message when trying to connect to local host"
## Summary

Users some times try to connect to a local host and don't understand why they can't see any data

## Motivation
Showing a helpful error message will unblock the user.

[2020-09-17 13:13] Nikhil-Nandagopal opened #563 "[BUG] Large query responses lead to page timeouts"
## Description

Queries returning large amounts of data cause /actions to time out preventing users from editing the application.
This happens rarely with queries of response sizes > 1 - 2mb.
The core cause is the response cache which is used to generate the autocomplete for queries

[2020-09-17 15:44] SantoshSrinivas79 commented on #377
@Nikhil-Nandagopal just trying this out. how to start this on my mac _without_ using docker?

[2020-09-17 15:46] Nikhil-Nandagopal commented on #377
Hi @SantoshSrinivas79 you can run the project locally following our contribution guiidelines
https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md. Hope this helps you!

[2020-09-18 06:57] mohanarpit opened #573 "Remove old Gitlab CI build scripts"
## Summary

Remove older build scripts `.gitlab-ci.yml` from the entire code base as we no longer use Gitlab CI and have migrated to using Github Actions for building & testing Appsmith.

## Motivation

Having redundant files in the codebase can lead to confusion for new contributors.

[2020-09-18 07:57] jerriclynsjohn opened #574 "[FEATURE] AWS DynamoDB Integration"
## Summary

We use DynamoDB extensively for our application and it'll be great if there was an integration for DynamoDB to build our internal applications.

## Motivation

There's a huge community of DynamoDB users that could benefit from this integration. There's an obvious push from AWS to support DynamoDB for some of their managed services like AppSync. It'll be great to see this integration co

[2020-09-18 08:24] mohanarpit commented on #563
This has been pushed to `master`. We no longer send the cached response. In future, we'll implement a better solution to extract the schema of the JSON body and only send that metadata.

For now, closing this issue.

[2020-09-18 08:24] #563 closed

[2020-09-18 16:11] srijanshetty opened #579 "[BUG] Install script fails without helpful message if curl fails on line install.sh:338"
## Description

curl failed on line install.sh:338 and the script exited without any helpful message

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Run install script
2. If curl fails, no helpful message is seen

### Important Details
 - Version: [release v1.2.4]
 - OS: [Ubuntu 20.04]

[2020-09-19 07:43] Nikhil-Nandagopal commented on #574
@jerriclynsjohn thank you for raising this feature request! @mohanarpit can we look at how to get this integration prioritised?

[2020-09-19 07:46] Nikhil-Nandagopal commented on #579
@srijanshetty thank you for the issue and the fix! Will prioritise getting this reviewed

[2020-09-19 08:54] Saket2 opened #584 "[BUG] Distorted UI when there are too many characters in Org name"
Email ID:
wejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffff4444444444444444444444444444444444444ttttttttttttttttttttttttttttttttttttttttttttttttttttfwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejkbgfhjwefffwejk

[2020-09-19 09:05] Saket2 commented on #584
Unable to add the label 'above-them'

[2020-09-19 09:24] Saket2 opened #585 "[BUG] Error message while switching between email or password is unnecessary"
Issue: While switching between Email and Password, messages 'Please enter an email' and 'Please enter the password' are highlighted.

Expected Result: It should only be highlighted while trying to login/signup without providing these details.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)

Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Link to access t

[2020-09-19 09:25] Saket2 commented on #585
Unable to add the label 'above-them'.

[2020-09-19 09:41] Saket2 opened #586 "[BUG] 'Reset password' should not be enabled until an email ID is provided in proper format"
Issue: 'Reset password' should not be enabled until an email ID is provided in proper format.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Attachment:  https://drive.google.com/file/d/1PDhic5-oSbwhLUeIZ9clSyDMzyY98y40/view?usp=sharing

Steps to replicate :
1. Hit https://app.appsmith.com/user/login
2. Cl

[2020-09-19 09:42] Saket2 commented on #586
Unable to add the label 'above-them'.

[2020-09-19 09:51] Saket2 opened #587 "[BUG] Wrong use of warning sign"
Issue: Wrong use of warning sign.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)

Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
Way 1:
1. Hit https://app.appsmith.com/user/login
2. Click on 'forgot password'
3. Enter 'fwefkn@gmaknf.com' in email and click on 'Reset'.
4. Message appears 'Unable to find user with id fwefkn@gmaknf.co

[2020-09-19 09:51] Saket2 commented on #587
Unable to add the label 'above-them'.

[2020-09-19 10:15] Saket2 opened #588 "[BUG] Inconsistency in notification 'Unable to find user with ID 'ID' (intermittent issue)"
Issue: Inconsistency in notification 'Unable to find user with ID 'ID'

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)

Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
1.Hit https://app.appsmith.com/user/login
2. Click on 'forgot password'
3. Enter 'fwefkn@gmaknf.com' in email and click on 'Reset'.
4. Message appears 'Unable to find

[2020-09-19 10:16] Saket2 commented on #588
Unable to add the label 'above-them'.

[2020-09-19 10:37] Nikhil-Nandagopal commented on #584
@Saket2 thanks for the bug report!

[2020-09-19 10:38] harishkotra opened #589 "[BUG] MySQL Connection doesn't work"
## Description

Unable to connect my MySQL database on a shared hosting server. Enabled remote access to the IP as specified in the data source page.

### Steps to reproduce the behavior:
1. Click on + to add a data source
2. Select "MySQL"
3. Enter the host address, database name, authentication information (username and password)
4. Click test and the error throws up
![Screenshot_2](https://user

[2020-09-19 10:39] Nikhil-Nandagopal commented on #586
@Saket2 thanks for the bug report

[2020-09-19 10:43] Nikhil-Nandagopal commented on #585
@Saket2 I believe experience was to be similar to how [Airtable](https://airtable.com/signup) worked in this case and error was to show on blur of that field. Closing this issue but feel free to re-open if you disagree

[2020-09-19 10:43] #585 closed

[2020-09-19 11:42] Saket2 opened #590 "[BUG] Bad Request while trying to reset password"
Issue: Bad Request while trying to reset password.

Browser Details: Firefox 68.12.0esr (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Attachments: https://drive.google.com/drive/folders/14F5yWQpK6A4rA_1hiPifQwUVos-YiRc4?usp=sharing

Steps to replicate :
1. Hit https://app.appsmith.com/user/login
2. Click on 'forgot password'
3. Enter 'ffekwjn@gmaill.com' in the email

[2020-09-19 11:43] Saket2 commented on #590
Unable to add the label 'above-them'

[2020-09-19 11:49] Saket2 opened #591 "[FEATURE] There should be a provision to login with email ID and OTP."
Description:
There should be a provision to login with email ID and OTP.

Steps:
1. Hit https://app.appsmith.com/user/login

Expected: On the login screen, there should be an option to login with OTP or password.
Actual : On the login screen, there is a provision to login with password.

[2020-09-19 11:49] Saket2 commented on #591
Unable to add the label 'above-them'.

[2020-09-19 11:58] Saket2 opened #592 "[BUG] Security Bug - Signup happens with any random email ID i.e. a@c.com"
Issue:
Security Bug - Signup happens with any random email ID i.e. a@c.com

Steps to replicate:
1. Hit https://app.appsmith.com/user/login
2. Go to the sign up page
3. Type any random email ID (Just take care of the format a@b.com). I had given 'a@c.com'
4. Sign up

Expectation: There should be an email verification or some sort of check at sign up screen. It can't let user sign up with any ID.

B

[2020-09-19 11:58] Saket2 commented on #592
Unable to add the label 'above-them'.

[2020-09-19 12:06] Saket2 opened #593 "[BUG]? is hidden on the bottom right corner because of Operator suggestions"
Issue: ? is hidden on the bottom right corner because of Operator suggestions

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
1. Hit https://app.appsmith.com/user/login
2. Sign up

Expected Result: With operator suggestions, ? on the bottom right should be visible.
Actual Result : With

[2020-09-19 12:13] areyabhishek commented on #593
Thanks for reporting this. Try using loom chrome extension to record this so that it can be embedded in the issue itself.

[2020-09-19 12:15] Saket2 opened #594 "[BUG] 500 server error while trying to manage users"
Issue: 500 server error while trying to manage users

Steps to replicate:
1. Hit https://app.appsmith.com/user/login
2. Sign up
3. Click on 'share' from https://app.appsmith.com/applications page.

Result: 500 server unavailable error

Attachment: https://drive.google.com/drive/folders/1eC2OzgR9msaDO6h_B8-kkVKX7nIO0aRc?usp=sharing

[2020-09-19 12:24] Saket2 opened #595 "[BUG] After inviting the user, email ID is copied to Name field as well"
Issue: After inviting the user, email ID is copied to Name field as well. Either Name should be left blank or it should be updated later on.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
1.Login to https://app.appsmith.com/user/login
2. go to 'Manage users'.
3. Click on 'Invite Users'

[2020-09-19 12:34] Saket2 opened #596 "[BUG] Sorting doesn't work properly on Role field."
Issue: Sorting doesn't work properly on Role field.
Note: It works properly for email ID and name fields.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
1.Login to https://app.appsmith.com/user/login
2. Go to Manage Users
3. Sort the columns

Actual Result: On the role field, sort up w

[2020-09-19 12:40] Saket2 opened #597 "[BUG] Sorting isn't needed for 'delete' column."
Issue: Sorting isn't needed for 'delete' column.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
1.Login to https://app.appsmith.com/user/login
2. Go to Manage Users
3. Sort the columns

Actual Result: On the 'delete' column, there is a sorting option.
Expected Result: Sorting isn't nee

[2020-09-19 13:01] Saket2 opened #598 "[BUG] Search doesn't work properly"
Issue: Search doesn't work properly

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
1.Login to https://app.appsmith.com/user/login

Example 1 :  type 'tally' and 'table tutorial' appears as a matching result.
Example 2 : type 'facebook' and no matching result appears. There should be a

[2020-09-19 13:05] Saket2 commented on #585
@Nikhil-Nandagopal  I just checked 'Airtable' and there the field itself is highlighted. As in, when I click on 'First Name'/'Last Name', respective field is highlighted. Which is fine even in Appsmith's case. What I'm talking about is the messages:
'Please enter an email'/'Please enter the password' in Appsmith's case. I have attached the video for reference.

[2020-09-19 13:24] Saket2 opened #599 "[BUG] Text and UI Issue : Delete New Config"
Issue: Spelling mistakes.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate :
1.Login to https://app.appsmith.com/user/login
2. Go to 'Product Config Manager'
3. Click on Delete

Issue1 : Are you sure you wan to delete this config?
Should be: Are you sure you want to delete this config?

Is

[2020-09-19 13:35] Saket2 opened #600 "[BUG]Text and UI Issue : Create Campaign"
Path : Login --> Form Tutorial --> Launch --> Confirm Form Submit --> Create Campaign

Issue 1 : Social Platforms --> Should be Facebook in place of FB.
Issue 2: Social Platforms  --> Should be Instagram in place of Instagra
Issue 3: 'Confirm' button doesn't work.
Issue 4:  'Cancel' button doesn't work.

Attachments : https://drive.google.com/drive/folders/1GwuwcHL47pLfrqEQmKMhO2JZuuS1vFHW?usp=sha

[2020-09-19 15:32] Saket2 opened #601 "[BUG] Timer doesn't work in pre-fill form. Gender field should have more options."
Issue:  Timer doesn't work in pre-fill form

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login https://app.appsmith.com/user/login
2. Form Tutorial --> Launch
3. Go to Pre-fill form

Actual Result: Timer doesn't work in date-of-birth. While picking date and time, only date can be p

[2020-09-19 15:35] Saket2 opened #602 "[BUG] 'Update User' doesn't work in pre-fill form"
Issue: Update User doesn't work in pre-fill form

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login https://app.appsmith.com/user/login
2. Form Tutorial --> Launch
3. Go to Pre-fill form
4. Fill information and click on 'Update User'

Actual Result: Throws an error (attachment prov

[2020-09-19 17:15] Saket2 opened #603 "[BUG] Issues due to long organization name"
Issues:
1. UI is distorted
2. Down arrow stops working
3. There should be a limit on long organization name or there should be a way to handle it on the UI

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login https://app.appsmith.com/user/login
2. Click on 'Create Organization'
3. Ty

[2020-09-19 17:19] Saket2 opened #604 "[BUG] Wrong error message while trying to create an organization with no name"
Issue: Wrong error message while trying to create an organization with no name

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login https://app.appsmith.com/user/login
2. Click on 'create organization'
3. Without providing a name, click on 'submit' button.

Expected Result: Proper er

[2020-09-19 17:53] Saket2 opened #605 "[BUG] When there are more than 3 organizations added, '?' at the bottom right doesn't stay firm"
Issue:  When there are more than 3 organizations added, '?' at the bottom right doesn't stay firm.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login https://app.appsmith.com/user/login
2. Create more than 3 organizations

Expected Result: Irrespective of the number of organization

[2020-09-19 17:54] amneo opened #606 "[FEATURE] Installation Support For Debian"
## Summary

Installation support for Debian

## Motivation

Ubuntu installation support exists, thus supporting Debian would not be a trouble.

Since Ubuntu has been derived from Debian and their repositories co-exists.

[2020-09-19 18:11] Saket2 opened #607 "[BUG] Option to download the chat is hidden while at the latest message."
Issue: Option to download the chat is hidden while at the latest message.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login https://app.appsmith.com/user/login
2. Click on '?'
3. Click on 'Chat with us'
4. Now type a few things

Actual Result: Option to download the chat is hidden

[2020-09-19 18:38] Saket2 opened #608 "[BUG]Cancel button doesn't function."
Issue: Cancel button doesn't function.

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login https://app.appsmith.com/user/login
2. Go to Customer Support Dashboard --> launch --> Select User --> View User --> Edit --> cancel

Actual Result: Cancel button doesn't work

<img width="173

[2020-09-19 19:29] harishkotra commented on #608
Support dashboard is an example and the Cancel button doesn't have an action attached to it. Not a bug (See attached below)

![image](https://user-images.githubusercontent.com/4999463/93687597-6a379c80-fadc-11ea-814a-2845271b9b79.png)

Cc: @Nikhil-Nandagopal

[2020-09-20 04:52] Saket2 commented on #608
Thanks for the clarification. This is not a bug.

[2020-09-20 05:00] Saket2 commented on #593
@areyabhishek Apologies. Please find attached another screenshot which clearly displays the issue.
<img width="1734" alt="Re-submission" src="https://user-images.githubusercontent.com/49346036/93694674-41d78e80-fb2c-11ea-98c7-44fdceb39c36.png">

[2020-09-20 05:23] Saket2 opened #609 "[BUG] Wrong error message during sign up"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Hit https://app.appsmith.com/user/login
2. Sign up with details - ab@b.com/123123
3. Sign out
4. Now go to the sign up page and again try to sign with ab@b.com/123123

Actual Result: Message is displayed 'There is already an account regis

[2020-09-20 06:02] hetunandu commented on #608
Thanks @harishkotra and @Saket2
Closing the issue

[2020-09-20 06:02] #608 closed

[2020-09-20 06:53] Saket2 opened #610 "[BUG]While hitting https://app.appsmith.com/user/login, cursor should be on Email by default"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Hit https://app.appsmith.com/user/login
2. Observe the input fields.

Expected Result: Cursor should be on 'Email' field by default. The user need not click on the field to enter input.

Example : Hit https://www.facebook.com/ and cursor

[2020-09-20 07:03] Saket2 opened #611 "[BUG] Tab button doesn't highlight the respective field"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Hit https://app.appsmith.com/user/login
2. Click on Email field
3. Now keep pressing 'tab' button and keep observing bottom left corner on the screen (video attached for the same)

Expected Result: Whenever tab is pressed focus should mov

[2020-09-20 09:27] akbansa opened #612 "[BUG] The datepicker widget opens up while dragging"
## Description

When you drag and drop the calendar by holding on to the Input area, it opens up the calendar

### Steps to reproduce the behavior:

Check this video:
https://www.loom.com/share/daa735c32ca74458b4c0cab72b81c9c3

### Important Details
 - Version: Cloud
 - OS: MacOSX
 - Browser: chrome, safari

[2020-09-20 09:38] akbansa opened #613 "[BUG] No option to remove an organization"
## Description

I created a new organization. Now I don't need it anymore. I do not see any option to remove this.

### Steps to reproduce the behavior:

1. Create a new organization
2. How to remove that?
![image](https://user-images.githubusercontent.com/13042781/93708367-29c73580-fb53-11ea-92e4-0b9ea049ae0c.png)

### Important Details
 - Version: Cloud
 - OS: MacOSX
 - Browser: chrome

[2020-09-20 09:40] Saket2 opened #614 "[BUG]Web Page Testing Reports"
1. Analyzed https://app.appsmith.com/ on pagelocity. Report:
https://pagelocity.com/analyzer?url=https%3A%2F%2Fapp.appsmith.com%2F

2. Report from webpage test:
https://www.webpagetest.org/result/200920_RN_93e97d597976edc46517739916f4cbdf/

3. Report from GTMetrix
https://gtmetrix.com/reports/app.appsmith.com/atgMeT5f

[2020-09-20 09:43] Saket2 opened #615 "[BUG]No way to identify if links under personal organization are clickable"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

STEPS TO REPLICATE:
1. Login https://app.appsmith.com/user/login
2. Click down arrow under an organization name

Expected Result:
1. Organization name should be highlighted.
2. Other 3 links (Organization Settings, Share & Members) - It should be highlighted su

[2020-09-20 09:50] Saket2 opened #616 "[BUG] Back button shouldn't take user back to logged in features when in logged out state"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login
2. Go to a few pages and logout
3. Now keep hitting back button on the browser

Actual Result: It takes the user back to the logged in state.
Expected result: If user is logged out, it shouldn't log in user with a back button

Note:

[2020-09-20 09:53] akbansa opened #617 "[BUG] You can be logged in and see the sign up page at the same time"
## Description

This is session related issue. I reported earlier for the login page.

### Steps to reproduce the behavior:
1. Login into your appsmith account
2. Open https://app.appsmith.com/user/signup in another tab
3. You can see the sign-up page, not redirected to your logged-in state.

### Important Details
 - Version: Cloud
 - OS: MacOSX
 - Browser: chrome

[2020-09-20 10:00] Saket2 opened #618 "[BUG] While hovering over the AppSmith tab, it displays the same workflow that was last accessed by the user"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login
2. Go to Organization settings and on the tab while hovering over it displays 'Organization Settings | AppSmith' or go to application and it displays 'Application | AppSmith'.
3. Logout

Actual Result: It displays 'Organization Sett

[2020-09-20 10:13] akbansa opened #619 "[BUG] Able to invite same user to same organization again and again"
## Description

Ideally, if you have invited a user. Then you should not be able to invite that user again.

### Steps to reproduce the behavior:
1. Invite a user `invite@company.com`
2. Invite again `invite@company.com`, it should show an error/warning that you have already invited a user.

### Important Details
 - Version: Cloud
 - OS: MacOSX
 - Browser: chrome

[2020-09-20 10:17] Saket2 opened #620 "[BUG] Delete column shifts right and left when clicked"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login
2. Go to Share --> Manage Users
3. Click on Delete column

Expected Result: It shifts right and left when user clicks on it
Actual Result: It should stay firm

Attachment: https://drive.google.com/drive/folders/19dPNui95icdE1VxL-Tyg

[2020-09-20 10:21] Saket2 opened #621 "[BUG] Submit button shouldn't be enabled until organization name is typed."
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Issue 1: Submit button shouldn't be enabled until organization name is typed
Issue 2: Able to add organizations with same name again and again

Steps to replicate:
1.Login
2. Create Organization

Expected Result :
1. Submit button should only be enabled when us

[2020-09-20 10:26] Saket2 opened #622 "[Enhancement] When user is invited, there should be a column which maintains the user state"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login
2. Click on share --> manage users
3. Invite a user --> User receives an email
4. In the email, user is asked to sign up

Expected Result: Admin never comes to know whether is active/inactive, signed up/not signed up. There should b

[2020-09-20 10:27] akbansa opened #623 "[BUG] Multiple issues(minor) on Team settings page"
## Description

Here are many issues on the team settings page which can be resolved in one go:
1. When I try to change a role and choose the same role as earlier one. It sends a post request to update details. Since you have all the data in front-end, you can save these requests.
2. No need to show email in name column. Since you can't add/change it.
3. A better way would be to show invite status

[2020-09-20 10:34] Saket2 commented on #623
For 2 and 3, there is bug already filed.
2. https://github.com/appsmithorg/appsmith/issues/595
3. https://github.com/appsmithorg/appsmith/issues/622

[2020-09-20 10:49] akbansa opened #624 "[BUG] Resizing table widget width changes the sorting order of adjacent column"
## Description

Please check this video to see the issue in action:
https://www.loom.com/share/4655175f1e1e4e8ab9f23b53d1cece73

### Important Details
 - Version: Cloud
 - OS: MacOSX
 - Browser: chrome

[2020-09-20 10:50] Saket2 opened #625 "[BUG] on iPad Air, Top line (black) isn't proper"
Browser Details: Safari
Device Details: iPad Air (iOS 13.3.1)
Note: Tried on cloud.

Steps to replicate:
1. Login

Actual Result: Observe that top line(black) ends abruptly.

Attachment: https://drive.google.com/drive/folders/1HTBn3g6yM8VkaLC4ZmgQazA_6ykDPjAA?usp=sharing

[2020-09-20 10:56] Saket2 opened #626 "Along with the search, there should a provision to clear the input"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login
2. Type 'test' in search
3. Now if user wants to try out multiple searches or just want to clear this search field, there is no provision.

Actual Result: Now there is no provision (X button for an example) to clear this search inpu

[2020-09-20 11:16] Nikhil-Nandagopal commented on #625
@Saket2 closing this because appsmith does not currently support mobile / tablet devices yet 😄

[2020-09-20 11:16] #625 closed

[2020-09-20 12:06] akbansa opened #627 "[BUG] No server side validation for email and password length + wrong email regex for email notifications"
I can do whatever I want with email, no need for any EMAIL format to be sent for a user to be created.

1. **Check this function responsible for sign up:**
https://github.com/appsmithorg/appsmith/blob/04368d675e891700998ed3d6d4f1b9f69f1819f0/app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java#L483

Also, while sending emails from the server your EMAIL REGEX i

[2020-09-20 12:36] Saket2 opened #628 "[BUG] Security Issue : Missing HTTP security headers"
<img width="1114" alt="Screen Shot 2020-09-20 at 6 20 58 PM" src="https://user-images.githubusercontent.com/49346036/93711712-12e20c80-fb6e-11ea-8fa4-81232955a126.png">

Please find the attached report.
[scan_report.pdf](https://github.com/appsmithorg/appsmith/files/5251661/scan_report.pdf)

[2020-09-20 14:42] Saket2 opened #629 "[BUG] Grammatical errors in documentation"
Open https://docs.appsmith.com/

Note - 'Present' is what is already present on the website and 'Suggestion' is what I'm suggesting.

1. Introduction

Present - Invest weeks of time building it from scratch and fighting with HTML/CSS
Suggestion - Investing weeks building it from scratch and fighting with HTML/CSS

Present - Getting started with an admin panel and invest even more time customising

[2020-09-20 18:39] Saket2 opened #630 "[BUG] User with Developer access is able to invite others to the organization"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login with an administrator account (User A)
2. Invite a user with developer access (User B)
3. Login with User B's credentials and now see that User B is able to invite others to the organization.
Note: User B is unable to access the man

[2020-09-20 18:57] Saket2 opened #631 "[BUG] 'Schedule a call' feature doesn't work from the meeting invite"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Invite a user
2. User receives an email from Appsmith
3. From the email, click on 'Schedule a call'

Actual Result: It throws an error.
Expected result: It should take the user to a page where a call can be scheduled.

Attachment: https:/

[2020-09-20 19:01] Saket2 opened #632 "[BUG] User is removed from his own organization"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login with User A and From User A invite User B (give User B administrator access)
2. Login with User B
3. Go to manage user under User A's personal organization
4. Click on 'delete' against User A
5. Log in with User A and User A's perso

[2020-09-20 19:14] Saket2 opened #633 "[BUG] Password reset doesn't work"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Hit https://app.appsmith.com/
2. Click on Forgot Password
3. Enter Email ID and click on 'Reset'
4. From the received email, click on 'Reset Password'
5. Enter less than (or equal to) 5 characters in 'New Password' field.
6. click on 'Res

[2020-09-20 19:22] Saket2 opened #634 "[BUG] Wrong notification in 'reset password' scenario"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Hit https://app.appsmith.com/
2. Click on Forgot Password
3. Enter Email ID and click on 'Reset'
4. From the received email, click on 'Reset Password'
5. Enter the desired password and click on reset.
6. Password is now reset successfully

[2020-09-20 19:30] Saket2 opened #635 "[BUG] Older 'Reset Password' link is not invalidated if 'reset password is done twice"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Click on Forgot Password
3. Enter Email ID and click on 'Reset'
4. Click on 'Reset' again
5. User receives 2 emails with password reset link
6. Click 'Reset Password' link from the email that was received a

[2020-09-20 19:41] Saket2 opened #636 "[BUG] 'Reset' isn't disabled once user is done with resetting the password"
Attachment : https://drive.google.com/drive/folders/1EXQMvc4FRpPAA7k1m1zLQYOqGf1LXqD5?usp=sharing

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Hit https://app.appsmith.com/
2. Click on Forgot Password
3. Enter Email ID and click on 'Reset'
4. Click 'Reset Password' link from the em

[2020-09-20 19:57] gogetter22 opened #637 "[BUG] Wrong error message while resetting the password"
Important Details
Version: Cloud
OS: MacOSX
Browser: chrome

Steps
1 Open https://app.appsmith.com/
2 Click on Forgot Password
3 Enter Email and click on 'Reset'

Expected - error 'Unable to find user with email gogetter22@gmail.com'
Actual - error 'Unable to find user with id gogetter22@gmail.com'

<img width="1791" alt="Screen Shot 2020-09-21 at 1 23 09 AM" src="https://user-images.githubusercon

[2020-09-21 06:03] mohanarpit commented on #606
@amneo Our current installation process already supports Debian. Do check out the [Getting Started Guide](https://docs.appsmith.com/quick-start#docker) and execute the steps on a Debian server.

If you face any issues in the installation steps, do let me know. For now, I'm closing the issue.

[2020-09-21 06:58] Nikhil-Nandagopal commented on #606
@mohanarpit re opening this because @amneo was facing an issue while installing on Debian. Can you check this out?

[2020-09-21 07:20] Nikhil-Nandagopal commented on #635
@mohanarpit does this impact security in anyway? Do we invalidate these links after a time period?

[2020-09-21 07:22] Nikhil-Nandagopal commented on #633
Seems like a simple validation was missing here, lets just show the minimum characters error message as suggested

[2020-09-21 07:23] Nikhil-Nandagopal commented on #632
@trishaanand seems like an error with ACL

[2020-09-21 07:26] Nikhil-Nandagopal commented on #631
@Saket2 closing since this was fixed 5 days ago but not deployed
[Fix](https://github.com/appsmithorg/appsmith/commit/cac15f2cacbba579b122c385e4186d9cd231566d)

[2020-09-21 07:26] #631 closed

[2020-09-21 07:27] Nikhil-Nandagopal commented on #630
@Saket2 updating the bug to text for developers is wrong. We decided developers would have access to invite users too.
@areyabhishek please provide updated text to reflect difference between admins and developers

[2020-09-21 07:28] Nikhil-Nandagopal commented on #637
@gogetter22 we use id internally for email / github username so this is technically right, will add this as a UX improvement

[2020-09-21 07:30] Nikhil-Nandagopal commented on #634
@Saket2 flagging this as a UX improvement since it doesn't directly affect a users flow

[2020-09-21 07:31] Nikhil-Nandagopal commented on #623
@akbansa Thanks for the feedback, tagging these as improvements!

[2020-09-21 07:33] Nikhil-Nandagopal commented on #628
@mohanarpit can you verify this?

[2020-09-21 07:33] Nikhil-Nandagopal commented on #627
@trishaanand can you verify this

[2020-09-21 07:34] trishaanand commented on #632
@Nikhil-Nandagopal : This is the designed behaviour. Every administrator of the organization has the right to remove users. There is no special permission given to the creator of an organization. All the administrators have the same permissions.

[2020-09-21 07:37] Nikhil-Nandagopal commented on #619
@akbansa this was intentional so that users who lose the email can still be re-invited

[2020-09-21 07:37] #619 closed

[2020-09-21 07:39] Nikhil-Nandagopal commented on #617
@mohanarpit seems like we're not re-directing correctly

[2020-09-21 07:41] Nikhil-Nandagopal commented on #617
Also duplicate of #616 so closing this in favour of that being filed 3 minutes earlier 😅

[2020-09-21 07:41] #617 closed

[2020-09-21 07:45] Nikhil-Nandagopal commented on #614
@Saket2 runs on applications page don't seem useful because they are measuring user in logged out state so it's getting redirected to login page

[2020-09-21 08:16] Nikhil-Nandagopal commented on #607
@Saket2 this is part of intercom so not something that's under our control
https://app.intercom.com/

[2020-09-21 08:16] #607 closed

[2020-09-21 08:17] Nikhil-Nandagopal commented on #603
@satbir121 can you verify this

[2020-09-21 08:19] Nikhil-Nandagopal commented on #602
@Saket2 this is part of the example apps, if you edit the app, the instructions become clearer

[2020-09-21 08:19] #602 closed

[2020-09-21 08:21] Nikhil-Nandagopal commented on #601
@Saket2 can you expand on what do you mean by timer doesn't work?

[2020-09-21 08:25] Nikhil-Nandagopal commented on #598
@Saket2 the search is fuzzy and powered by algolia so can't control it much. Will work on adding a message for no results found. Thanks!

[2020-09-21 09:17] Nikhil-Nandagopal commented on #594
@Saket2 unable to repro this. Are these steps consistent?

[2020-09-21 09:28] Saket2 commented on #594
@Nikhil-Nandagopal - Unable to reproduce it. It just happened twice - When it actually happened for the 1st time and 2nd time when I tried it to capture the screenshot.
I think it was a specific window when server would be down.

[2020-09-21 09:38] Nikhil-Nandagopal commented on #590
@mohanarpit seeing different messages for these 2 issues
#637

[2020-09-21 10:11] Saket2 opened #638 "[BUG] DB Issue : Create query doesn't work in the 1st attempt, works in 2nd one"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login
2. Go to table tutorial --> edit --> usersTable --> onRowSelected --> Execute a DB query --> Create query --> select
3. Run SELECT * FROM users ; - It succeeds and fetches the correct result
4. Pick any column name now (say name, ge

[2020-09-21 10:40] Saket2 opened #640 "[BUG] While running a query : PluginExecution failed"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login
2. Go to table tutorial --> edit --> usersTable --> onRowSelected --> Execute a DB query --> Create query --> select
3. Run SELECT * FROM users ; - It succeeds and fetches the correct result
4. Run  SELECT phoneNo FROM users ; --> T

[2020-09-21 11:14] Nikhil-Nandagopal commented on #574
@sharat87 please update once you start picking this up 😃

[2020-09-21 12:13] Saket2 commented on #640
@areyabhishek , @Nikhil-Nandagopal I understand that we're not supposed to find issues in the Example apps - that's why I'm ignoring UI and functional issues.

But when we say that we need to find DB connection and data binding issues, are we not supposed to run the SQL part of example apps and find these bugs? Is there another way to target/find these database errors?

[2020-09-21 12:21] Nikhil-Nandagopal commented on #640
@Saket2 this would be a valid issue except that here it's failing because for postgres if you need to reference a column name or table name which has a capital letter, you have to wrap it in quotes. So your query should be
select "phoneNo" from users

[2020-09-21 12:21] #640 closed

[2020-09-21 13:01] visibleajay opened #648 "[BUG] Part1- Doc Improvement"
[AppSmith Doc](https://docs.appsmith.com/quick-start)
### Introduction
Present:- Invest weeks of time building it from scratch and fighting with HTML/CSS
Improvement:- `Investing` weeks of time building it from scratch and fighting with HTML/CSS

### Getting Started
Present:- Appsmith stands for speed and getting started with Appsmith is just as fast.
Improvement:- Appsmith stands for speed and ge

[2020-09-21 13:13] Saket2 commented on #601
@Nikhil-Nandagopal Updated the actual result.

[2020-09-21 13:25] visibleajay opened #650 "[BUG] Corrupt token is allowing activation of the membership."
## Description
Created a new account (A1) and invited an another new user to the team.
Copied the invitation link, corrupted the attached token with random values and opened it in the browser.
Entered password for SignUp.
Automatically adds me to the A1 account team.

### Steps to reproduce the behaviour:
1. Login Using Email and Password.
2. Invite new User
3. Open the invitation email and copy t

[2020-09-21 13:37] mohanarpit commented on #579
Thanks @srijanshetty for this PR!  🎉

This has been merged into our `release` branch. Will be available on `master` in Appsmith's next version.

[2020-09-21 13:37] #579 closed

[2020-09-21 13:41] gogetter22 opened #651 "[BUG] Inconsistent behavior on the homepage"
Important Details
Version: Cloud
OS: MacOSX
Browser: Firefox 68.12.0esr (64-bit)

Steps to replicate
1 Login
2 Click on Share --> 'Invite Users' window opens up
3 Click outside the window and window is closed
4 Click on Create Organization --> Create Organization window opens up
5 Click outside the window and window is not closed

Actual Result - inconsistent behavior across 2 screens on the same

[2020-09-21 13:45] visibleajay opened #652 "[BUG] Help text is out of the screen for container view."
## Description
Help text shown on hovering over help button in container box is truncated(out of the screen).

### Steps to reproduce the behaviour:
1. Add a new Application.
2. Add Container to fully cover the screen.
3. Hover over help text shown in `Container Settings Box`.
4. Text is out of the screen.

[Application Screen](https://drive.google.com/file/d/1RieFxQ3rULUazgSbXot5vIX1mxIk05R5/view

[2020-09-21 13:46] gogetter22 opened #653 "[BUG] Delete user doesn't work"
Steps to replicate: Login  --> Go to table tutorial --> edit --> usersTable --> onRowSelected --> Execute a DB query --> Delete query --> select --> Run DELETE FROM users where id = '8';

Result: Getting an error

Browser Details: Firefox 68.12.0esr (64-bit)
Device Details: macOS
Note: Tried on cloud.

<img width="1789" alt="delete user" src="https://user-images.githubusercontent.com/71608910/9377

[2020-09-21 13:55] visibleajay opened #654 "[BUG] Receiving different results on Safari, Firefox with App Link."
## Description
Created a sample application, deployed it on cloud and opened the provided link on Firefox and Safari.

### Steps to reproduce the behaviour:
1. Create a sample application.
2. Deploy it using deploy button.
3. Copy app link using `View Application` button
4. Open the app link on `Firefox 80.0.1` and `Safari 12.1.2`.

[On Firefox](https://drive.google.com/file/d/14UJEnVbRQufkFN4GLzk

[2020-09-21 14:14] mohanarpit commented on #653
@gogetter22 Thanks for pointing this out.

This is expected. Since we host the mock database for all users, we don't want them to delete data in the DB as this affects the template applications. If you connect your own PostgreSQL DB, you can execute the delete query successfully.

I'm closing this issue as "Not a bug".

[2020-09-21 14:14] #653 closed

[2020-09-21 14:15] mohanarpit commented on #654
@visibleajay Thanks for opening this issue!

Can you please give permissions to view the app link on Safari? I'm unable to see the image attached to the issue.

[2020-09-21 14:16] visibleajay commented on #654
@mohanarpit Done.

Kindly let me know if anything is missing.

[2020-09-21 14:47] visibleajay commented on #654
App Link wasn't public which threw this error. After making the app-link public, this bug became invalid.

[2020-09-21 14:47] #654 closed

[2020-09-21 15:04] visibleajay opened #655 "[BUG] Duplicate Values in the dropdown."
## Description
Add dropdown widget to the app screen, update the options to allow to add the duplicate values. Select any duplicate value, both would get selected.

### Steps to reproduce the behaviour:
1. Add dropdown widget to the app screen.
2. update the options to allow to add the duplicate values.
3. Select any duplicate value, both would get selected.

[Duplicate Dropdown Widget](https://dr

[2020-09-21 15:25] visibleajay opened #656 "[BUG] Filter isEqualTo & notEqualTo aren't working for table filter with id column (integer)."
### Steps to reproduce the behaviour:
1. Add Table Widget with default values.
2. Apply filter with attribute as `id`, contains, `isEqualTo` & `notEqualTo` is not working.

Expected:- Either the `invalid options` for integer column should be absent or if present than they should filter the table with respect to their usual working.

[Table With Values](https://drive.google.com/file/d/1q9R8FoTs44Fv

[2020-09-21 15:33] visibleajay commented on #656
For `orderAmount`, filter `isEqual` and `notEqualTo` are not working.

[2020-09-21 19:02] Saket2 opened #657 "[BUG] Issues in the Filepicker widget"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, click on 'Create New' in order to create a new application
3. Edit Application
4. From the Form Widgets, pick **Filepicker**

Issue 1 : After uploading the file, while clicking on 'ca

[2020-09-22 07:23] visibleajay opened #661 "[BUG] Missing Id value for custom radio button in RadioGroup"
## Description
On adding custom radio button, the `id` value which is present for default radio button isn't getting added for the custom radio button.

### Steps to reproduce the behaviour:
1. Add Radio Group.
2. Delete the Second radio button option.
3. Add it manually using provided input box.
4. Check JSON schema for the same value.

<a href="https://imgbb.com/"><img src="https://i.ibb.co/MDhP

[2020-09-22 07:38] visibleajay opened #662 "[BUG] Radio button with no values is a valid option"
## Description
Radio button with no values is a valid option.

[RadioGroup](https://imgur.com/HSwi1MT)
[In Action](https://imgur.com/QYA8cIg)

### Steps to reproduce the behaviour:
1. Add Radio Group Widget.
2. Add Radio Button with no empty.
3. Save and deploy.
4. Check App link.

### Important Details
 - Version: [Cloud / Self-Hosted vx.x]
 - OS: [e.g.MacOSX]
 - Browser [e.g. chrome, safari]

[2020-09-22 07:52] visibleajay opened #663 "[BUG] OnSelectionChange with RadioGroup widget is unresponsive."
## Description
OnSelectionChange with RadioGroup widget becomes unresponsive on adding nested showAlert to the RadioGroup.

### Steps to reproduce the behaviour:
1. Add a Radio Group Widget.
2. Activate `onSelectionChange` to `show Message`
3. Add API showAlert in message making it equivalent to `Nested showAlert`. (This shouldn't be allowed).
4. On updating option, no message is shown to the user

[2020-09-22 08:05] visibleajay opened #664 "[BUG] Dynamic widget property in message is showing static text for RadioGroup."
[VideoLink showing In Action](https://streamable.com/5uuyxd)

### Important Details
 - Version: Cloud
 - OS: MacOs 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-22 08:25] visibleajay opened #665 "[BUG] Distorted view on toggling the state in setting of RadioGroup Widget."
## Description
On toggling of state for Keys (`Required`, `Visible` & `Disabled`), the widget setting box is flashing out and in of the screen.

### Steps to reproduce the behaviour:
1. Add Radio Group Widget.
2. Add onSelectionChange to show static text with `showMessage`.
3. Toggle state for any key `Required`, `Visible` or `Disabled`.
4. The widget would flashes out/in to the screen.

[Video In

[2020-09-22 08:48] Saket2 opened #667 "[BUG] Input Widget - Default text isn't taken into account if placeholder is set."
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, click on 'Create New' in order to create a new application
3. Edit Application
4. From the Form Widgets, pick Input
5. Set Data type as 'text', Default text as 'AA' and Placeholder as

[2020-09-22 08:51] visibleajay opened #668 "[BUG] Duplicate value in RadioGroup widget."
## Description
Duplicate objects are allowed in RadioGroup Widget. No concept of `Primary Key` either.

### Steps to reproduce the behaviour:
1. Add RadioGroup Widget.
2. Duplicate the default value using JSON object and save.
3. Selection of all values are allowed.

<a href="https://imgbb.com/"><img src="https://i.ibb.co/yWtK41Y/Duplicate-Radio-Group-Values.png" alt="Duplicate-Radio-Group-Values"

[2020-09-22 09:29] Saket2 opened #669 "[BUG] Input Widget : Problem with 'File name with extension' and type"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, click on 'Create New' in order to create a new application
3. Edit Application
4. From the Form Widgets, pick Input
5. onTextChanged, select 'download'

Actual Result: If 'File name'

[2020-09-22 09:59] Saket2 opened #670 "[BUG] Dropdown widget: Issues with Required JS"
Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, click on 'Create New' in order to create a new application
3. Edit Application
4. From the Form Widgets, pick Dropdown widget

Scenario 1 : In Selection Type, choose 'Single Select',  Required JS : disabled
Issue : Once a value is selected, user doesn't have an option to not have any value in the widget. (Even though Req

[2020-09-22 10:28] areyabhishek opened #671 "[BUG]rich text editor fails on undo"
## Description

Deleting and undoing the rich text editor makes it go into a failed state.

https://www.loom.com/share/09e1cacef0a245f7bb473336cef55ffa
### Important Details
 - Version: [Cloud]
- Chrome browser

[2020-09-22 10:34] visibleajay opened #672 "[BUG] Map Widget throws error after redeploying the app with changes."
[Video In Action](https://drive.google.com/file/d/17qAUiLNxEYgKT9-gAqwACcP3Hiv2HqOh/view)

### Important Details
 - Version: Cloud
 - OS: MacOs 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-22 10:47] Saket2 opened #673 "[BUG] Submit button going into an infinite loading state when clicked without specifying 'File name' for download action"
Attachment : https://drive.google.com/drive/folders/1BcGLwjinCW0uitCQBmEr-bIcKg9holPB?usp=sharing

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, click on 'Create New' in order to create a new application
3. Edit Application
4. Fr

[2020-09-22 11:15] Saket2 opened #674 "[BUG] 'type' field once selected, no more remains an optional field."
Attachment: https://drive.google.com/drive/folders/1Fvc0l8Q1x5Y-AcDUdlnz_mr76Kx3QIsN?usp=sharing

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, click on 'Create New' in order to create a new application
3. Edit Application
4. Fro

[2020-09-22 14:50] akbansa opened #678 "[BUG] No .env.example in the same directory instead it's in root of the project | Contributing.md issue"
## Description

While setting up front-end, I found that I do not have any `.env.example` in the docker/ directory as per your documentation, see the attached screenshot:

![image](https://user-images.githubusercontent.com/13042781/93898190-90458280-fd10-11ea-9ca0-94b24f52e7df.png)

Instead, it is located in the root folder of the project, please find in the attached screenshot:

![image](https://

[2020-09-22 17:24] harishkotra opened #679 "[BUG] Query Error: PluginExecution failed with error Zero date value prohibited"
## Description

"Select *" throws an error on a table that has only 25 columns and about 400 rows of data.

**Issue with the datetime columns?** There are two columns out of which one column has 0000-00-00 00:00:00 as value if there are no updates made to the row.

### Steps to reproduce the behaviour:
1. Connected a MySQL Database
2. Ran a select * from table_name where cond=value;
3. Following e

[2020-09-23 02:58] harishkotra commented on #678
Technically, if you are running the first point, you are still in the project root. So I don't see an issue with this one but I'll leave it to the team to decide.

I would rather look at updating the last command to `cd ../../../`

[2020-09-23 03:02] akbansa commented on #678
@harishkotra Your first point is not correct  as running `cd ..` will take you to `app/client` not `root`

But the second is correct. This is a bug in the setup doc.

I reported because I had to spend time finding the file in multiple folders.

[2020-09-23 04:24] visibleajay opened #680 "[BUG] Copy/Pasting table widget isn't persisting the table filter, sorting or searching."
## Description
Copy/Pasting the table widget in the container isn't persisting the table filter, sorting or searching. Same does persists with delete/undo feature for table widget.

### Steps to reproduce the behaviour:
1. Add a table with default data.
2. Apply any valid filter, sorting, searching to the table data.
3. Copy and paste the table.
4. The generated table would be w/o any filter, sort

[2020-09-23 04:39] visibleajay commented on #665
Same is happening with charts.

[2020-09-23 05:16] mohanarpit commented on #590
This error is being thrown by the Spring framework because the client hasn't sent us the mandatory header `Origin`. Typically, the browser adds this header on it's own for all requests. That's why I'm unable to reproduce this issue on my system.

@Saket2 Is this error consistently showing up for you? Or was it a one-time thing?

[2020-09-23 05:28] visibleajay opened #683 "[BUG] Part2 - Documentation Improvements"
### Enabling Third Party Services

Current:- Appsmith ships with third party services that improve the app building experience. All third party services are entirely optional
Improvement:- Appsmith ships with third party services that `improves` the app building experience. All third party services are entirely optional`.`

Current:- All third party services are enabled by default in our cloud hos

[2020-09-23 06:05] sentry-io[bot] opened #685 "SyntaxError: Unexpected token '<'"
Sentry Issue: [APPSMITH-53](https://sentry.io/organizations/appsmith/issues/1881952480/?referrer=github_integration)

# Description
This happens when a deployment occurs and user moves to the applications page triggering a chunk download for an older asset that is removed

[2020-09-23 06:08] mohanarpit commented on #454
@bakerfugu We've released the feature to copy-paste widgets. This is available on [https://app.appsmith.com](https://app.appsmith.com) or in our latest release `v1.2.6`.

I'm closing this issue now. If you face any issues with this feature, please feel free to re-open this issue.

[2020-09-23 06:08] #454 closed

[2020-09-23 06:42] Saket2 commented on #590
@mohanarpit It was consistent. In fact, I reproduced it just now. Here is the thing:
#590 occurs on Firefox (Consistently).
#637 Occurs on Chrome (Consistently).

[2020-09-23 07:19] Nikhil-Nandagopal commented on #454
Addressing the issue of where the widget is pasted, we decided that as a v1 we'll place the widget in the first free space of the container that is selected. So if no container is selected, it will place it below the existing widgets on the canvas (not moving anything). Do try out the interaction and let us know if you think it can be improved. (We didn't go with the approach of snapping the widge

[2020-09-23 07:32] akbansa opened #688 "[BUG] Docker setup issues/improvements"
## Description

When someone wants to set up appsmith's front-end using docker and Nginx configuration, it has a port issue.

AppSmith template config uses `port 80` as default for listening the browser requests. Most of Linux/macOs versions have default port 80 used by their apache2. Since same port is already bind with another request, it can't listen to new service that is being started by AppS

[2020-09-23 09:14] mohanarpit commented on #650
We no longer use invitation tokens. The new user is added to the organization when the invitation is sent out to them. The signup link is only for their account accessibility.

In order to fix this, we need to remove the unused query parameter token from the URL being sent in the email. This can be done by removing the token parameter in variable `INVITE_USER_CLIENT_URL_FORMAT` in `UserServiceImpl

[2020-09-23 09:17] mohanarpit commented on #632
Closing this issue as this is expected behaviour and not a bug.

[2020-09-23 09:17] #632 closed

[2020-09-23 09:24] mohanarpit commented on #609
This can be resolved by changing the error text for the enum `USER_ALREADY_EXISTS_SIGNUP` in the file `AppsmithError.java`

[2020-09-23 10:22] areyabhishek opened #691 "[BUG]Login form not centered"
## Description
The login form isn't centered when the social login options are disabled
<img width="681" alt="Screen Shot 2020-09-23 at 3 50 40 PM" src="https://user-images.githubusercontent.com/30255708/94000445-cb00f680-fdb4-11ea-83b8-cbe6615dd30b.png">

This is what the login form looks like when social logins are enabled
<img width="646" alt="Screen Shot 2020-10-01 at 5 56 08 PM" src="https://

[2020-09-23 10:23] areyabhishek commented on #691
@mohanarpit Couldn't help but assign this to you 🤣

[2020-09-23 10:31] sentry-io[bot] opened #693 "[BUG] Crash in store value"
Sentry Issue: [APPSMITH-6N](https://sentry.io/organizations/appsmith/issues/1909021874/?referrer=github_integration)

[code]

[2020-09-23 11:13] sharat87 commented on #589
Hello @harishkotra, a way to address to problem has been released into Appsmith cloud and should be available to self-hosted instances as a release is created soon.

The problem is that the timezone set on the MySQL server is something that the JVM (Appsmith server) doesn't recognize unambiguously. So, the solution is the override the server timezone. We've added a new field in the MySQL datasourc

[2020-09-23 11:13] #589 closed

[2020-09-23 16:38] visibleajay opened #697 "[BUG] Regex for text isn't working in input widget."
## Description
Used Regex `(/^.{6,}$/)` to throw error on entering less than 6 chars for text input in Input Widget.

Actual:- Throws error for all conditions.
Expected:- Error should be hidden for text with 6 or more chars.

<a href="https://ibb.co/7NSQsbz"><img src="https://i.ibb.co/5x1kb29/Regex-Text-Issue.png" alt="Regex-Text-Issue" border="0"></a>

### Important Details
 - Version: Cloud
 - O

[2020-09-23 18:31] Saket2 opened #698 "[BUG] When an app is copied, page name is also appended with 'copy' alongside app name"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, create an app with app name 'B'
3. Click on edit, and observe that page name is **Page 1**(Which can be seen right under B)
4. Come to the homepage by click on appsmith_ on the top le

[2020-09-23 18:53] Saket2 opened #699 "[BUG] Issues with duplicating an app"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, copy an app multiple times

Issue 1 : As can be seen in the screenshot, when there are multiple apps (say 10) under an organization, there is slight mis-alignment.
Issue 2 : Every tim

[2020-09-24 06:53] harishkotra opened #703 "[BUG] Misleading "Connecting to Databases" screenshot"
## Description

Screenshot on the "Connecting to Databases" (https://docs.appsmith.com/core-concepts/connecting-to-databases) needs to be updated to the new UI (something like the one below)

![image](https://user-images.githubusercontent.com/4999463/94108497-0c4ce100-fe5d-11ea-90e3-543d062b266b.png)

### Why is this needed?

- APIs are now part of Pages.
- Only 3 entities are now part of the navi

[2020-09-24 06:55] Nikhil-Nandagopal commented on #697
@visibleajay great catch. For some reason it works without the / at the start and end

[2020-09-24 06:59] Nikhil-Nandagopal commented on #683
@visibleajay would you consider raising a pr for these fixes here
https://github.com/appsmithorg/appsmith-docs

[2020-09-24 06:59] Nikhil-Nandagopal commented on #680
@visibleajay Closing since copy paste is not meant to persist edit mode inputs

[2020-09-24 06:59] #680 closed

[2020-09-24 07:00] Nikhil-Nandagopal commented on #679
@sharat87 can you please verify this?

[2020-09-24 07:05] Nikhil-Nandagopal commented on #672
@visibleajay the video is not available anymore, can you directly paste a video here or update with the steps so I can verify this?

[2020-09-24 07:09] Nikhil-Nandagopal commented on #670
@Saket2 if no default value is specified, it will have no option selected.
Also required option is only for disabling the form button when the dropdown is in the form

[2020-09-24 07:09] #670 closed

[2020-09-24 07:12] Nikhil-Nandagopal commented on #669
@hetunandu can you clarify this? Looks like a bug where there should only be a filename and we should populate the extension

[2020-09-24 07:14] Nikhil-Nandagopal commented on #667
@Saket2 in the video, you are manually deleting the AA from the text and then changing the password so the default was overriden by user input. Doesn't seem valid. Please re-open this if I am missing something here

[2020-09-24 07:14] #667 closed

[2020-09-24 07:16] Nikhil-Nandagopal commented on #665
@visibleajay unable to reproduce and the video is not available anymore. Please update the video here. Re-assigning to you for more information

[2020-09-24 07:28] harishkotra opened #704 "[BUG] Ctrl + V to paste copied widgets doesn't work"
## Description

Copied a text widget and got the alert that the widget was copied. Tried pasting it with Ctrl + V and nothing happens (screen cast below)

### Steps to reproduce the behaviour:

1. Add any widget in an app
2. Click on the name and copy the widget
3. Paste using Ctrl + V to see that there is no duplication of the widget.

Screencast: https://recordit.co/Ue7WPNNuPe (After copied aler

[2020-09-24 07:51] Nikhil-Nandagopal commented on #672
@visibleajay thanks for the updated video, updating the issue

[2020-09-24 08:03] Nikhil-Nandagopal commented on #638
@Saket2 not able to reproduce this, are you able to see this consistently?

[2020-09-24 08:09] visibleajay opened #707 "[BUG] Inconsistent Result with dropdown filter."
## Description
Use example JSON and typed to filter the list. On `H`, it shows only the first option whereas with `Ho` it shows the first 2 option.

 `[
  {
    "label": "Home Town",
    "value": "home_town"
  },
  {
    "label": "Working City",
    "value": "working_city"
  },
  {
    "label": "Destination Wedding",
    "value": "dest"
  }
]`

[Drive Video](https://drive.google.com/file/d/1iQiGjK

[2020-09-24 08:12] visibleajay commented on #665
@Nikhil-Nandagopal [Action Video In Drive](https://drive.google.com/file/d/1u5gS6w7B3h18JGxpFV_L-jQwlpqQkHlD/view?usp=sharing). Kindly let me know if anymore info is needed.

[2020-09-24 08:47] visibleajay opened #709 "[BUG] Inconsistent Modal Behavior."
## Description
In the editor app, the modal shows a different group of backdrop whereas after deploying it's covering the whole screen.

### Steps to reproduce the behaviour:
1. Add Modal to container which covers the subset of the screen.
2. Link the modal to any container item (in our case Dropdown `onOptionChange`) to open the Modal.
3. Modal would be covering a part of screenshot which is neit

[2020-09-24 08:48] Saket2 commented on #638
@Nikhil-Nandagopal It was happening 10 out of 10 times that day. Unable to replicate it now.

[2020-09-24 08:51] sharat87 commented on #679
Hello @harishkotra, we've identified this to be a bug in the way we were connecting to MySQL databases. We didn't expect zero dates in databases, which is probably a lapse. I've raised a PR to fix this. I'll notify you once it's deployed on our cloud.

Thank you for taking the time to report with clear details. Much appreciated.

[2020-09-24 08:57] visibleajay opened #710 "[BUG] Dropdown onOptionChange is triggering on selecting the same option."
## Description
Dropdown `onOptionChange` event is getting triggered on selecting the same option.

### Steps to reproduce the behaviour:
1. Add `showMessage()` to dropdown's `onOptionChange`.
2. Select any dropdown option and the message should appear.
3. Select the selected dropdown option again and the message will again appear.

[Video In Action](https://drive.google.com/file/d/18RGp31D5OKN6PMU

[2020-09-24 09:05] trishaanand commented on #698
Analysis : This issue is happening because we are reusing the Page Clone function inside the Application Clone function. As part of page cloning, a new name is also ascertained and forcibly changed ( a feature required for simple page cloning, but not required for application cloning).

[2020-09-24 09:09] harishkotra opened #711 "[BUG] Misleading "Connecting to APIs" screenshot"
## Description

Screenshot on the "Connecting to APIs" (https://docs.appsmith.com/core-concepts/apis) needs to be updated to the new UI (something like the one below)

![image](https://user-images.githubusercontent.com/4999463/94124812-1da0e800-fe73-11ea-934c-4c1b39bdb9b7.png)

### Why is this needed?

- There is only one field now and an editable API name field as opposed to the 3 fields as shown

[2020-09-24 09:43] visibleajay opened #712 "[BUG] UI Breaking for download action."
## Description
UI Breaking for download action.

### Steps to reproduce the behaviour:
1. Select Input Widget -> settings -> download.
2. Select `plain text` type.
3. Type in `data to download`, put comma in between and then continue typing.
4. The content would appear in `File name with extension` field.

[Video In Action](https://drive.google.com/file/d/1u144i8OsEHj4f3-VGlgpdoSL6II3NOdu/view?usp

[2020-09-24 11:22] Saket2 opened #713 "[BUG] Content under an organization opens up at different places in different cases"
Attachment: https://drive.google.com/drive/folders/19SrxJleDShntTGXaMW8OsTrGozsglprX?usp=sharing

Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Create 2 organizations - 1 with short name and 1 with long name.

Issue: Though the positioning of down arro

[2020-09-24 11:50] Saket2 opened #714 "[BUG] Too many errors when user tries to access an app which is deleted. And application ID and page ID are being shown."
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate:
1. Open https://app.appsmith.com/applications in 2 tabs.
2. Now in tab 1, launch the app while on tab 2, be on the homepage.
3. From tab 2, delete the app
4. From tab 1, click on 'edit'

Issue 1: Observe on the right side of the page, whole

[2020-09-24 13:10] Saket2 opened #715 "[BUG] Developer has an access to invite users but doesn't have access to 'Invite users' under manage users"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Issue: If a Developer has access to 'Invite Users' from homepage then developer should be able to access manage users workflow.
Note: On the **manage users** workflow, there can be a restriction where Developer can't change role of the user. But not being able

[2020-09-24 13:26] Saket2 opened #716 "[BUG] 'Appsmith Editor isn't hidden for user with Read Access"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Attachment: https://drive.google.com/drive/folders/1DooGep7VcRtOYX5PWInZimDT4nxbuR4Y?usp=sharing

Steps to replicate:
1. From Organization A & Login A (Administrator Access), create an app A
2. From Organization A & Login B (App Viewer Access) --> Click on 'lau

[2020-09-24 13:43] Saket2 opened #717 "[BUG] Share link window doesn't close"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate:
1. Open https://app.appsmith.com/applications
2. Launch an application
3. Click on 'Share'  --> A window opens up
4. Click outside the window

Expected Result: Window should close.
Actual Result: Window doesn't close.

Another text issue on

[2020-09-24 13:44] visibleajay opened #718 "[BUG] Default value isn't set for dropdown multi-select."
## Description
Default value isn't selected for dropdown mult-select.

### Steps to reproduce the behaviour:
1. Add a dropdown with multi-select `Selection Type`.
2. Provide default value.
3. Deploy the app.
4. The default value aren't set for multi-select dropdown.

[Video In Action](https://drive.google.com/file/d/14eOBCvk9jkTvyq2dt4JSWu31lU6YhAlY/view?usp=sharing)

### Important Details
 - Vers

[2020-09-24 14:18] Nikhil-Nandagopal opened #719 "[BUG] Binding a query directly to a table breaks all further bindings"
## Description
A user was trying to bind a table to a query without the .data and all their other bindings stopped working.
This occurred because the query has a run function which is injected into the evaluated value and this function caused jsonFn to fail while creating a safe object.

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & s

[2020-09-24 14:20] Saket2 opened #720 "[BUG] App name isn't completely visible when it's long"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate :
1. From the homepage, create an app named 'gnerwihnireongionihgnerwihnireongionihgnerwihnireongionihgnerwihnireongionihgnerwihnireongionihgnerwihnireongionih1' under an organization

issue: App name with long names isn't completely visible

[2020-09-24 14:21] Saket2 opened #721 "[BUG] Duplicate key error while creating a new app"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate :

1. From the homepage, create an app named 'Saket' under organization A
2. create an app named 'Saket' under organization A {Repeat 1 basically}

Actual Result: Duplicate Key Error

Attachment: https://drive.google.com/drive/folders/1U3C3Rh

[2020-09-24 16:34] Saket2 opened #723 "[BUG] 'Unauthorized. Redirecting to login Page' Error notification while hitting https://app.appsmith.com/applications"
Attachment: https://drive.google.com/drive/folders/1huOOKfZmBm8DekYJUxDEc_K8x367snC2?usp=sharing

Browser Details: Chrome, Firefox, Safari
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Pre-requisite: Make sure that user is not already logged in.
Steps to replicate:
1. Hit https://app.appsmith.com/applications on any browser

Error: Unauthorized. Redirecting to login Page

[2020-09-24 16:50] visibleajay opened #725 "[BUG] Query Deletion isn't removing the query from associated widget action."
## Description
Query Deletion neither removes the query from associated widget action nor shows an error message on triggering widget action.

### Steps to reproduce the behaviour:
1. Create a simple action.
2. Trigger it on dropdown selection change, show success/error message on query completion.
3. Remove query.
4. The query is still present in the associated widget action and no error msg is s

[2020-09-24 17:04] visibleajay opened #726 "[BUG] Unable to execute query on postgres Mock DB table."
## Description
DB throws error for querying database with `camelCase` naming. From error, it could be inferred that the query converted the table name `camelCase` internally to `camelcase` which is an invalid table.

<a href="https://ibb.co/fXzJvgN"><img src="https://i.ibb.co/0nR5t79/covid-Cases-Issue.png" alt="covid-Cases-Issue" border="0"></a>

### Important Details
 - Version: Cloud
 - OS: MacO

[2020-09-24 17:15] harishkotra opened #727 "[BUG] Can't use app name after deleting first one"
## Description

Created an app and deleted it to try and create it again. But the tool threw an error that I the app exists already while I deleted the app already.

### Steps to reproduce the behaviour:

1. Create New
2. Create an app and delete it
3. Create New and use the same name as before
4. See error

Screencast: https://recordit.co/GxqoLDqAjv

### Important Details
 - Version: [Cloud]
 - O

[2020-09-24 17:17] visibleajay commented on #726
Similar issue occurred with update query on columnName.

<a href="https://ibb.co/W3TNZYB"><img src="https://i.ibb.co/hMqxbt2/Update-Column-Query.png" alt="Update-Column-Query" border="0"></a>

[2020-09-24 17:21] Saket2 commented on #726
Explanation here: https://github.com/appsmithorg/appsmith/issues/640#issuecomment-696078648

[2020-09-24 18:00] Saket2 opened #728 "[BUG] Inconsistent behavior (Dropdown widget)"
Attachment: https://drive.google.com/drive/folders/1uABc1FdBUbh9GOGX2DS1QsSPWeDLN3oD?usp=sharing

Steps to replicate:
1.Hit https://app.appsmith.com/
2. Under an organization, click on 'Create New' in order to create a new application
3. Edit Application
4. From the Form Widgets, pick Dropdown widget

Issue 1: If there are multiple values are selected, only 'Vegan' is visible in the box.
Issue 2:

[2020-09-24 19:55] Saket2 opened #729 "[BUG] When email ID is long, 'invite' button starts peeking out of the window"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on Cloud.

Steps to replicate:
1.Hit https://app.appsmith.com/
2. click on share and enter long email address

Expected Result: 'Invite button' should stay firm.
Actual Result: 'invite' button starts peeking out of the window

<img width="1791" alt="Screen Shot 2020-09-25

[2020-09-25 04:52] visibleajay commented on #726
This worked with single quote around columnName and tableName.

[2020-09-25 04:52] #726 closed

[2020-09-25 06:07] visibleajay opened #730 "[BUG] Input widget with type number is allowing default val as `text`."
## Description
Input Widget with type `number` is allowing default val as `text`.

<a href="https://ibb.co/4mGMSyy"><img src="https://i.ibb.co/znYb2cc/Default-Val-Text-For-Number.png" alt="Default-Val-Text-For-Number" border="0"></a>

### Important Details
 - Version: Cloud
 - OS: MacOs 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-25 06:13] visibleajay opened #731 "[BUG] onPageChange is not triggering for client side pagination"
## Description
Alert isn't triggering for tableWidget on `onPageChange` action

[Video In Action](https://drive.google.com/file/d/1DU7e1FwxU56sVuKTCvP1cZV_5Cy-CszT/view?usp=sharing).

### Important Details
 - Version: Cloud
 - OS: MacOs 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-25 06:36] trishaanand commented on #604
Analysis : This is happening because we are using Spring's validation check here instead of doing the validation manually.

[2020-09-25 06:53] visibleajay opened #733 "[BUG] MapWidget is resetting the focus to initial position on click over the marker."
## Description
MapWidget is resetting the focus to initial position on click over the marker.

### Steps to reproduce the behaviour:
1. Link Map Widget location to Input widget text.
2. Provide any `lat/lng` coordinates to input widget as default.
3. Trigger `showMessage`action `onMarkerClick` & deploy the app.
4. Click on marker, with the action it would also take to the initial position.

[Video

[2020-09-25 06:57] Saket2 opened #734 "[BUG] Bug in the Access Rights"
Browser Details: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Login with Account A (User A)
2. Invite User B to User A's personal organization (Developer Access)
3. Now , in User A's personal organization, User B can be seen as a Developer (Expected)
Note: User B receives an email, DO NOT DO ANYTHIN

[2020-09-25 07:02] Saket2 opened #735 "[BUG] New UI is distorted due to long organization name"
Attachment: https://drive.google.com/drive/folders/1JzmFpTXIfmmO89cQRSAR9sA0caJG8kWN?usp=sharing

Steps to replicate:
1. Go to Appsmith homepage
2. Observe Organizations listing on the left hand side of the page

Browser Details: Firefox
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

[2020-09-25 07:49] visibleajay opened #737 "[BUG] Inconsistent query execution on pageload."
## Description
Inconsistent query execution on page load.

I think only the first query for any table (`order` in our case) is getting executed `onPageLoad`
`PostgreSQL -> Mock Database -> orders`
First Query -> `SELECT * FROM orders where id = 9;` -> Getting Executed.
Second Query -> `SELECT * FROM orders where id <= 9 LIMIT 10;` -> Not Getting Executed.

[Video In Action](https://drive.google.co

[2020-09-25 08:57] akbansa opened #738 "[FEATURE] Server side and client side cron jobs"
## Summary

So let's say I want to send a report based on some queries + client-side logic, then I need to run a cron job that will run client-side code and then send a report.

## Motivation

Automate a few reports and push data to different services like slack/intercom (in a nutshell call a webhook)

[2020-09-25 09:31] hetunandu commented on #719
Fixed via #722

[2020-09-25 09:31] #719 closed

[2020-09-25 09:59] Saket2 opened #739 "[BUG] In the light theme, Input box isn't visible in General Tab"
Attachment: https://drive.google.com/drive/folders/1iAURV0b_MV-RXr7EnxIAtOgVqrllwFnv?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate : Homepage  --> Manage Users --> General Tab

Light Mode: Input box isn't visible at all.
Dark Mode : Input box is slightly visible.

[2020-09-25 12:24] visibleajay opened #740 "[BUG] FilePicker isn't persisting the selected file on delete/undo transition."
### Steps to reproduce the behaviour:
1. Add File Picker widget to container.
2. `Select File`, upload and close.
3. Delete FilePicker using FilePicker widget.
4. Undo and the selected file would be removed.

[Video in Action](https://drive.google.com/file/d/1dTonRyuoCsSNax-gKAGz5p59QuiOxkjI/view)

### Important Details
 - Version: Cloud
 - OS: MacOs 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-25 12:34] trishaanand commented on #734
The intended implementation was that Invite would only be used to add a new member to the organization. Here 'Invite' is being used to update the role of the member instead of inviting. This scenario has not been handled so far.

[2020-09-25 12:52] Saket2 opened #741 "[BUG] Deletion process is cut short if another widget is dragged to the page"
Attachment: https://drive.google.com/drive/folders/1WTvpeS8Lwd_feuq24tcYsfkDCry4-qLZ?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Edit an app
2. Drag a widget (Say Widget A)
3. Delete Widget A and deletion can be seen on top right corner (There is timer running where in user has a chance to press undo)
4. Drag Widget

[2020-09-25 13:23] harishkotra opened #742 "[BUG] Internal server error while processing the request"
## Description

Ran a "Select * from TABLE_NAME" query only to receive the error.

While it is not at all advisable to run a "select *" query, the platform should either disable it or show an appropriate error or work as desired.

Tried the same using adminer on my localhost and the query works.

![image](https://user-images.githubusercontent.com/4999463/94271690-967d6e00-ff5f-11ea-9f8b-1ccb1bb0be

[2020-09-25 13:34] visibleajay opened #743 "[BUG] FilePicker widget screen isn't clearing after submitting the form."
## Description
FilePicker widget screen isn't clearing after submitting the form.

### Steps to reproduce the behaviour:
1. Upload any file using FilePicker.
2. Submit form & the form is getting reset.
3. But the FilePicker `file browse` screen is persisting.

[Video In Action](https://drive.google.com/file/d/1UQDSBenesC9wMxb7ZP5ja6mI2pF6eq5f/view?usp=sharing).

### Important Details
 - Version: C

[2020-09-25 14:00] Saket2 opened #745 "[BUG] Tab deletion is triggered while adding a tab"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Go to a page and add 3 tabs
2. Copy the 3rd tab and paste - that's create tab 4
3. Go to tab 4 and click on edit --> Add a tab --> Tab is added but there is message on the top right 'Tab 1 deleted' , 'tab 2 deleted'
Issue1 : There is no deletion operation which is triggered by user.
At

[2020-09-25 14:14] Saket2 opened #746 "[BUG]When 'Defualt tab' doesn't have the right input - type is shown as 'undefined'."
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate : In the default tab, type a tab name that doesn't have a matching tab name already.
Issue 1: Error 'This value does not evaluate to type "undefined". Transform it using JS inside '{{ }}''
Attachment: Attachment: https://drive.google.com/drive/folders/1pkVkNRm7hMc6Dq4Xx_hxVnLIvPf4XNpl?usp=

[2020-09-25 14:25] harishkotra opened #747 "[BUG] Empty query response shows empty table"
## Description

If the database query has no rows/records as the response it shows an empty table with two rows and two columns where it should just be the message.

![image](https://user-images.githubusercontent.com/4999463/94278473-7aca9580-ff68-11ea-8200-a00e6698e009.png)

### Important Details

- Version: Cloud
- OS: Windows 10
- Browser: Google Chrome (v. 85.0.4183.102)

[2020-09-25 14:41] harishkotra opened #748 "[BUG] When JS in Disabled is set for a button, it doesn't work for users"
## Description

I've set a button to be disabled if another field (date in this example) is not picked/is empty. It works perfectly in the builder but when deployed, it doesn't.

In the builder
![image](https://user-images.githubusercontent.com/4999463/94280521-2248c780-ff6b-11ea-9ff9-ef7eb5e126c4.png)

For the users
![image](https://user-images.githubusercontent.com/4999463/94280589-355b9780-ff6b

[2020-09-25 15:36] Saket2 opened #749 "[BUG] Issues while performing actions on Home Page"
Attachment : https://drive.google.com/drive/folders/1vFgWznBzwZEXRBxaFXYnUZ1AcBjux_DM?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Issue 1: Go to edit mode --> On the left side, click on Delete against Home Page.
Actual Result : Cannot Delete Home Page.
Expected Result:  No option to delete Homepage.

Issue 2: When there is just 1 page ava

[2020-09-25 16:27] visibleajay opened #750 "[BUG] Entity Explorer infinite Re-renders"
## Description
When deployed App is lying idle, the web app is consistently sharing information to the sentry.

`1API -> 60KB -> 300ms (approx start to finish per api)`.

If the active tab is app than it shares information quickly but on non-active tab it does shares but a bit slowly.

[Video In Action](https://drive.google.com/file/d/14U_3mMCcCrBL8xhDJqkdWT24kmqgGzHw/view)

[AppSmith App URL](htt

[2020-09-25 20:12] Saket2 opened #751 "[BUG] After picking a date in date picker, it's going out of range"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Attachment : https://drive.google.com/drive/folders/1Mremx6LjZogX58YWG-leZ2crLazFV50G?usp=sharing

Steps to replicate:
1. From the widgets, pick datepicker
2. In the default date, set 2034-09-28.........
3. In the date field, it's shown as 'Out of range'.

Issue: In the default date, calendar is from the yea

[2020-09-25 20:23] Saket2 opened #752 "[BUG] Changing from 1 date format to another leads to 'Invalid Date'"
Attachment: https://drive.google.com/drive/folders/10dMMylB6qxHd-a0FzFvGvktqWv23MkUz?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. From the widgets, pick datepicker
2. Now there are 2 cases:

Issue 1: In the date format, select option 5  --> Pick any date in default date
Issue: While changing it to other date formats,

[2020-09-25 20:38] Saket2 opened #753 "[BUG]Did not observe any item or terminal signal within 10000ms in 'onErrorResume' (and no fallback has been configured)"
Run a query:
SELECT A.name AS CustomerName1, B.name AS CustomerName2, A.id
FROM users A, users B
WHERE A.id <> B.id
AND A.gender = B.gender
ORDER BY A.avatar;

Issue : Database becomes extremely slow and finally throws an error.

<img width="1104" alt="Screen Shot 2020-09-26 at 2 06 41 AM" src="https://user-images.githubusercontent.com/49346036/94313888-2ab9f600-ff9d-11ea-9f31-8a3abed05441.png">

[2020-09-26 07:40] AninditaBasu commented on #629
@Saket2 @Nikhil-Nandagopal Is this issue already assigned to someone? If not, I'd like to take it up for Hacktoberfest.

[2020-09-26 07:42] AninditaBasu commented on #648
@visibleajay @Nikhil-Nandagopal Is this issue already taken? If not, I could maybe take it up for Hacktoberfest?

[2020-09-26 08:54] Nikhil-Nandagopal commented on #629
@AninditaBasu this hasn't been assigned yet, if no one picks it by hacktoberfest, it's yours!

[2020-09-26 09:15] visibleajay commented on #648
@AninditaBasu Thank You for showing interest. This is in open and anybody can take it. Also, [AppSmith](https://app.appsmith.com/) is running a [Bug Bounty](https://github.com/appsmithorg/appsmith/discussions/577) contest.

[2020-09-26 17:05] harishkotra opened #754 "[Feature]Allow the user to logout from any page"
## Description

Wanted to logout from the tool/application I was creating only to realize I cannot logout.

The user is allowed to logout or change the theme (dark/light) from "applications" tab only. Ideally, user should be allowed to logout from any page. Why is he forced to go back to the applications page?

Please tag appropriately as I'm not sure if this is a bug or a feature.

[2020-09-26 18:59] Saket2 opened #755 "[BUG] Widget breaks when input value contains too many characters"
Attachment: https://drive.google.com/drive/folders/1QjXyW6_K8G33DDxL_VJrh3ulcEzNzM4_?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Go to the editor and pick any widget (e.g. Dropdown, Radio Button, checkbox)
2. Provide an input value which has too many characters

Actual Result: Dropdown isn't in usable state. Radio b

[2020-09-28 07:50] visibleajay opened #759 "[BUG] Default text isn't set for RichTextEditor in incognito."
## Description
Add RichTextEditor with default text, open the deployed app in `private` mode. The default text would be missing, now refresh the page, it would reappear like `rabbit from hat`.

### Steps to reproduce the behaviour:
1. Add RichTextEditor with default text.
2. Open the  deployed app in `private/incognito browser` mode.
3. The default text would be missing.
4. Refresh and default tex

[2020-09-28 08:14] visibleajay opened #760 "[BUG] Default Image is missing when image is specified as dynamic property."
## Description
Default Image is missing when image is specified as dynamic property.

[Video In Action](https://drive.google.com/file/d/13o1K7FQW2TjoH6vq58eWq71HXQJfE2pY/view?usp=sharing)

### Important Details
 - Version: Cloud
 - OS: MacOs 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-28 09:50] deval-gaurav opened #762 "[FEATURE] Run appsmith on custom port"

[2020-09-28 10:14] visibleajay opened #763 "[BUG] Lighthouse Report for AppSmith App."
## Description

[DashboardPagePWA](https://drive.google.com/file/d/13UC0OUC44UwkNU4qpC4AUfJZ0Kk2a4T1/view?usp=sharing)

[DeployedAppPWA](https://drive.google.com/file/d/13UC0OUC44UwkNU4qpC4AUfJZ0Kk2a4T1/view?usp=sharing)

[Sentry Tracking Issue Page PWA](https://drive.google.com/file/d/1-VJjtfJm8Qs1g0L71ECVwHRgXseoc8Bi/view?usp=sharing)

[Widget Page PWA](https://drive.google.com/file/d/1l7i61Z7Ns

[2020-09-28 10:32] ari-hacks commented on #573
👋🏾 I'd like to take this one.

[2020-09-28 10:39] Saket2 opened #764 "[BUG] Files selected in the Filepicker don't get copied with Page cloning"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Select 'Filepicker' and select a file (Page 1)
2. Clone Page 1  --> Page 1 copy

Actual Result: Selected file in Filepicker isn't present on Filepicker in Page 1 copy

Attachment: https://drive.google.com/drive/folders/1UQZ8-eT50IXsNu6F8nBfCWTVuEqYYnW9?usp=sharing

[2020-09-28 10:52] AninditaBasu commented on #648
Thank you @visibleajay . Can you please assign this one to me then? I wont take it up before Oct 1 (and would like to call dibs 🙂 )

[2020-09-28 10:52] AninditaBasu commented on #629
Cool! Calling dibs, then.

[2020-09-28 10:54] Saket2 opened #765 "[BUG] Special Character is not accepted in the page name but results into empty space (1st character)."
Attachment - https://drive.google.com/drive/folders/1dK1x9FR-RfkgD0WQoUZhiHINkFoS-A7G?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Go to 'Edit App'
2. Go to page name --> Edit Name
3. Now type a special character or . (full stop) or , (comma)

Expected Result: If it's not accepted, cursor shouldn't move.
Actual Resul

[2020-09-28 11:03] visibleajay opened #766 "[BUG] App crashing while using Date.now().toString() for Chart Widget."
### Steps to reproduce the behaviour:
1. Add a chart widget.
2. Edit the default `x` key, to provide dynamic value.
3. Provide Date.now().toString by `typing`.
4. See `error`

[Video In Action](https://drive.google.com/file/d/1Yo3pFcrFVPjcWKqL78eUx0UwpWW6kOxw/view?usp=sharing)

### Important Details
 - Version: Cloud
 - OS: MacOs 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-28 11:10] Nikhil-Nandagopal commented on #704
@riodeuno can you verify this?

[2020-09-28 11:10] Saket2 commented on #629
@AninditaBasu This is done. PR : https://github.com/appsmithorg/appsmith-docs/pull/6

[2020-09-28 11:22] Nikhil-Nandagopal commented on #709
@visibleajay this is expected because in editor it cannot cover the widgets section whereas in viewer the widget section is not there

[2020-09-28 11:23] Saket2 commented on #683
I'll be taking it up for Hacktoberfest. Confirmed with @visibleajay

[2020-09-28 11:35] Nikhil-Nandagopal commented on #721
@Saket2 2 apps cannot have the same name on appsmith

[2020-09-28 11:35] #721 closed

[2020-09-28 11:36] Nikhil-Nandagopal commented on #723
@Saket2 this is expected, we redirect users who are not authenticatedto the login page

[2020-09-28 11:36] #723 closed

[2020-09-28 11:37] Nikhil-Nandagopal commented on #725
@visibleajay we don't delete bindings on deleting a query / widget. Can you raise a separate bug for no error message when incorrect js execution because this seems to be related to that

[2020-09-28 11:37] #725 closed

[2020-09-28 11:43] Nikhil-Nandagopal commented on #730
@visibleajay this is an interesting issue. I would however say that the type is only to restrict users from entering a value into the input. It is not to restrict data set by the system / editor. Hence closing this

[2020-09-28 11:43] #730 closed

[2020-09-28 11:44] Nikhil-Nandagopal commented on #731
@visibleajay I've updated this issue description. Thanks for the find!

[2020-09-28 11:48] Nikhil-Nandagopal commented on #737
@sharat87 can you verify this?

[2020-09-28 11:50] Nikhil-Nandagopal commented on #741
@Saket2 although this is unexpected, we're not tracking this as a bug since we went ahead with this implementation due to certain tech constraints

[2020-09-28 11:50] #741 closed

[2020-09-28 11:54] Nikhil-Nandagopal commented on #742
@sharat87 Can you verify this was a timeout issue? Then we can update the issue to being a timeout message problem

[2020-09-28 12:07] Nikhil-Nandagopal commented on #748
@harishkotra thanks for catching this. I'm updating the bug after triaging it

[2020-09-28 12:08] Nikhil-Nandagopal commented on #748
@hetunandu when a date picker default value is cleared, the date should be set to undefined instead of "". That is leading to it to seem as though the disabled value is not working when in fact it has to do with the value of the date picker

[2020-09-28 12:08] visibleajay commented on #730
@Nikhil-Nandagopal Thank You for the clarification. Is editor allowed to pass any invalid value to the widget which is visible in the deployed app?

[2020-09-28 12:11] Nikhil-Nandagopal commented on #753
@Saket2 this seems correct, the timeout for queries is set to 10s. Closing this

[2020-09-28 12:11] #753 closed

[2020-09-28 12:14] Nikhil-Nandagopal commented on #755
@Saket2 2 options here were to either truncate the text or let it overflow. We chose to let it overflow so that developer can resize the widget to fit the text. Truncation doesn't work because the data is dynamic and in some cases data from backend might be larger than what developer originally thought. So we took a call to let it break the UI so the developer knows how much space he has to give t

[2020-09-28 12:14] #755 closed

[2020-09-28 12:16] Nikhil-Nandagopal commented on #762
@deval-gaurav thank you for opening this. We'll try and get this prioritised soon

[2020-09-28 12:17] Nikhil-Nandagopal commented on #764
@Saket2 copy of any kind won't copy the user inputs to any widget so closing this.
(Table filters / input / dropdown selection / files picked)

[2020-09-28 12:17] #764 closed

[2020-09-28 12:57] visibleajay opened #767 "[BUG] Input persisting the default value in between the input widgets."
## Description
Input is persisting the default value on deleting and adding a new widget.

### Steps to reproduce the behaviour:
1. Delete an input widget `input1` (default name) with a default value.
2. Drag and drop a new input widget.
3. The default value shown in dragged input widget `input1` is similar to deleted `input1`.

[Video In Action.](https://drive.google.com/file/d/1hQkdhVoWKpkV-g5uH

[2020-09-28 12:57] Saket2 opened #768 "[BUG] Input Widget : Validation fails when data type is number"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Attachment: https://drive.google.com/drive/folders/1ciSaEWwfG11mrrb-bmv2tcm1yXsHYgs8?usp=sharing

Steps to replicate:
1. Open Input widget
2. Set Error Message to 'Hey'
3. Now, put Email in unexpected format (say 'abc') - Input box turns red and starts showing 'Hey' (Expected)
4. Now, set the data type to Te

[2020-09-28 13:03] visibleajay opened #769 "[BUG] No error on triggering the removed Query from button widget."
## Description
Triggering the removed query isn't showing any `js` error.

### Steps to reproduce the behaviour:
1. Add a button to trigger a query.
2. Show success, error message on query completion.
3. Click button and see success message.
4. Remove the query and click the button.
5. No query completion information is shown to user.

[Video In Action.](https://drive.google.com/file/d/1b9xIPd9Dnu

[2020-09-28 13:05] Saket2 opened #770 "[BUG] Input value is reset while switching between the pages"
Attachment: https://drive.google.com/drive/folders/1L83s34T6dpYbcRvJaqvUJo79glsINsys?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Have 2 pages - Page 1 and Page 2
2. In Page 1, have an input widget
3. Deploy the app
4. In the input widget of page 1, enter an input value
5. Switch to Page 2 and then switch back to pag

[2020-09-28 13:31] Saket2 opened #772 "[BUG] All the selected values from the dropdown are not visible in the box"
Attachment : https://drive.google.com/drive/folders/1SIlVTswfLx8QgeF8fNvX5uc2O5Kwlx2u?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. In the dropdown widget, Select 'Multi Select'
2. Have 7-8 values
3. Now, from the dropdown, select all the values

Expected Result: User should be able to see all the selected values.
Act

[2020-09-28 14:01] Saket2 opened #773 "[BUG] Timer doesn't make sense in the date-picker in 2 specific formats"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Pick date-picker

Actual Result: If date format is selected as YYYY-MM-DD or DD/MM/YYYY, timer is still present on the date-picker. Despite user's selection, it doesn't appear because of the specified time format.
Expected Result: If date format is selected as YYYY-MM-DD or DD/MM/YYYY

[2020-09-28 16:00] Xniveres opened #774 "[BUG] It is possible to generate a Organization with no name."
## Description

[What happened]
I was able to generate a Organization with no name with a manually generated HTTP request.

### Steps to reproduce the behaviour:
Send a HTTP request like this:

[code]

### Important Details
 - Version: Cloud
 - OS: Windows
 - Browser Chrome

[2020-09-28 16:52] visibleajay opened #775 "[BUG] Table isn't updating with server side pagination."
## Description
Activated `server side pagination` to provide Realtime information to table. On updating, the `pageNo` is updating but the table data is same as shown on the previous selected pageNo.

### Steps to reproduce the behaviour:
1. Create getKycApp query `select * FROM public."kycApplication" offset {{(Table1.pageNo-1)*10}} fetch next 10 rows only;`.
2. Connect `TableWidget` with getKycAp

[2020-09-28 16:59] visibleajay opened #776 "[Feature] Allow Set timeout in JS"
## Description
Custom onClick action isn't triggering for button.

### Steps to reproduce the behaviour:
1. Add Button Widget with onClick.
2. `setTimeout(() => showAlert(`Error in loving it`), 10)`
3. Trigger OnClick.

<a href="https://ibb.co/4NWGDMV"><img src="https://i.ibb.co/XJXgdpC/Btn-On-Click.png" alt="Btn-On-Click" border="0"></a>

### Important Details
 - Version: Cloud
 - OS: MacOS 10.14

[2020-09-28 17:03] visibleajay opened #777 "[BUG] Undefined type for placeholder as {{5.toString()}} in input widget."
## Description
`Undefined` type  for `toString()` in input widget.

### Steps to reproduce the behaviour:
1. Add Input Widget to editor.
2. Add {{5.toString()}} to placeholder of input widget.
3. Check undefined type and shown placeholder value.

<a href="https://ibb.co/bmZCPPG"><img src="https://i.ibb.co/1Q5PLL4/Undefined-Type-Input.png" alt="Undefined-Type-Input" border="0"></a>

### Important D

[2020-09-28 17:15] visibleajay opened #778 "[BUG] Inconsistent Visible Toggle with JS state."
## Description
Inconsistent `Visible` Toggle with respect to the `JS` state.

### Steps to reproduce the behaviour:
1. Add Input Widget to a container.
2. Check `JS` and toggle button for true and false.
3. Add {{undefined || false}} in `JS`.
4. The `JS` would show it as false but visible toggle would show it as true.
5. The deployed app would have an `invisible` input widget

[Video In Action.](h

[2020-09-28 18:38] Saket2 opened #779 "[BUG] When password is wrong, email ID is also cleared from the Login Form"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
Case 1: Enter Correct Email ID and Incorrect password.

Actual Result: Email ID is cleared from the form.
Expected Result: If Email ID is present in the database, then it shouldn't be cleared from the form.

Case 2: Enter Incorrect Email ID and Incorrect password.

Actual Result: User is

[2020-09-28 18:52] Saket2 opened #780 "[BUG] As mentioned in the 'forgot password' Email, Reset password link isn't invalidated after 48 hours"
Attachment: https://drive.google.com/drive/folders/1R_EBDILecTFy5HK8pRuaIYHE7V2YMv8b?usp=sharing

Steps to replicate:
1. Reset Password
2. Receive an email - It's mentioned that the password reset link is only valid for 48 hours
Note: I received a link on 21st September and clicked on it on 29th September.

Actual Result: User is taken to the Reset password page and asked to enter the new (desired

[2020-09-28 19:03] Saket2 opened #781 "[BUG] User is asked to perform an action which is not even present on the screen. Text needs to be updated"
As seen in the screenshot, whenever there is a message 'Unable to reset the password. Please initiate a request via forgot password link to reset your password'.

**Explanation:** For some reason, the password reset failed - Now there is a message displayed (mentioned in the line above) on the screen. But on the same screen **where is the password reset option**?

In this particular case, the pass

[2020-09-28 19:12] Saket2 opened #782 "[BUG] While signing up with Google, Email address isn't copied to Email"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on cloud.

Steps to replicate:
1. Hit https://app.appsmith.com/user/login
2. Sign in with Google

Expected Result: Email Address is copied to Email field under General tab.
Actual Result: Email Address isn't copied to Email field under General tab.

<img width="1788" alt="Screen Shot 2020-09-29 at 12 39 52 AM" src="htt

[2020-09-28 19:36] Saket2 opened #783 "[BUG] Able to create multiple organizations with the same name"
Attachment: https://drive.google.com/drive/folders/1WBCGwFCULq11K0Tj5RsaoqqFvMtz3zQg?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on the cloud.

Issue: Able to create multiple organizations with the same name.

<img width="344" alt="Screen Shot 2020-09-29 at 1 06 24 AM" src="https://user-images.githubusercontent.com/49346036/94477807-01dd6f00-01f0-11

[2020-09-28 19:58] Saket2 opened #784 "[BUG] Chart Widget : Additional series is ignored in Pie Chart and Area Chart"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on the cloud.

Attachment: https://drive.google.com/drive/folders/1TNPGyXWewnV-VQlwnqI2Lmm2VF7byLFK?usp=sharing

Steps to replicate:
1. In the Chart widget --> edit
2. Add an additional series - [{ "x": "A", "y": "10000" }]
3. Now, Change the chart type

Actual Result: It's taken into consideration while chart type is

[2020-09-29 03:01] sharat87 commented on #737
Hey @visibleajay, can you confirm if both of the `getUser` as well as `getUsers` are connected to some widget in the editor? If the data from a query is not used anywhere, it won't load it as an optimization measure. If both of these actions are indeed used for a widget in the editor and yet they are not loading on-page-load, that would be a bug. So, could you confirm this please?

[2020-09-29 03:19] harishkotra commented on #775
@visibleajay I checked the video. You have to **set the query to run** in the `onPageChange` along with showAlert() that you already have.

[2020-09-29 04:35] visibleajay commented on #775
@harishkotra It's working. I thought, since the displayed table is already binded to the query it would automatically pulled the data on page change. Thank You for the clarification. Closing Now.

[2020-09-29 04:35] #775 closed

[2020-09-29 04:39] sharat87 commented on #742
This doesn't look like a timeout issue. The message from a timeout problem looks something like "no terminal signal within 10000ms".

@harishkotra, does the query work if you specify a limit? Like `SELECT * FROM employees LIMIT 10;`?

[2020-09-29 04:41] Saket2 opened #785 "[BUG] Rich Text editor Format changes on deployment"
Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on the cloud.

Steps to replicate:
1. Pick 'Rich Text Editor' on page 1 and leave page 2 blank.
2. Deploy

Actual Result:
1. On page 1, in the Rich Text Editor - instead of the text '**This is the initial <b>content</b> of the editor**' , a blank box starts appearing.  (widget Pane)
Attachment: https://drive.google.com

[2020-09-29 04:50] visibleajay commented on #737
@sharat87 Showing consistent result on `getUser` and `getUsers` when both are connected or disconnected from widget. Thank You for the clarification!.

[2020-09-29 05:11] visibleajay opened #786 "[BUG] Inconsistent Active Page after deploying application."
## Description
Active Page isn't a home page when opening the app from `View Application` button shown in confirmation `modal`.

### Steps to reproduce the behaviour:
1. Create a new Page `page2.
2. Deploy app, keeping the `page2` as active in `editor`. Though sometime it happens when `Home` page is active.
3. View Deployed App in `normal` and `incognito` mode using "View Application" button shown

[2020-09-29 05:15] visibleajay commented on #785
@Saket2 No. 1 is already raised here `https://github.com/appsmithorg/appsmith/issues/759`.

[2020-09-29 05:29] Saket2 commented on #785
@visibleajay That's about default text not appearing and this is about an additional blank box appearing on the editor.

[2020-09-29 05:45] Saket2 opened #787 "[BUG] Image widget : base 64 encoding doesn't work"
Attachment: https://drive.google.com/drive/folders/1G-Kcr6iXn-P_QnsrXgnAjUiD9AFN8FdK?usp=sharing

Browser Details: Chrome
Device Details: macOS 10.15.6 (MacBook Pro)
Note: Tried on the cloud.

Steps to replicate:
1. Pick Image widget
2. In the image, put a image URL (e.g. https://static.techspot.com/images2/news/bigimage/2018/09/2018-09-04-image-6.png )
Result: Image starts appearing

3. Now conve

[2020-09-29 06:00] visibleajay opened #788 "[BUG] Table sorting for col id is inconsistent."
## Description
Table sorting for integer col. id is inconsistent. The sorted value is calculated keeping the id col. as string.

Sample JSON.
`[{"id": 1, "name": "vijay"}, {"id": 2,"name": "ajay"}, {"id": 11, "name": "Rocky"}, {"id": 12, "name": "raman"}, {"id": 3, "name": "ranvijay"}]`

### Steps to reproduce the behaviour:
1. Add Table Widget with Sample `Json` data.
2. Sort id column by clickin

[2020-09-29 06:08] Saket2 commented on #788
<img width="595" alt="Screen Shot 2020-09-29 at 11 37 34 AM" src="https://user-images.githubusercontent.com/49346036/94519492-367d1500-0248-11eb-9fee-1fd37eb4679b.png">

That's probably because Attributes are taken as 'text'.

[2020-09-29 06:17] visibleajay commented on #788
@Saket2 Updating `data type` for id col. to `number` removed the sorting issue. Thank You for the clarification!.

[2020-09-29 06:17] #788 closed

[2020-09-29 06:28] visibleajay commented on #777
`5.toString()` is undefined in itself. Correct is `{{(function () {
 var p = 5;
 return p.toString();
})()}}`.

<a href="https://ibb.co/JQTBMwh"><img src="https://i.ibb.co/FV1xjLP/Correct-JSON.png" alt="Correct-JSON" border="0"></a>

[2020-09-29 06:28] #777 closed

[2020-09-29 06:56] Nikhil-Nandagopal commented on #770
@Saket2 there is a page load, data across pages are not persisted today

[2020-09-29 06:56] #770 closed

[2020-09-29 06:58] Nikhil-Nandagopal commented on #774
@Xniveres nice carch!

[2020-09-29 06:59] Nikhil-Nandagopal commented on #776
@visibleajay we don't support setTimeOut today so converting this into a feature request

[2020-09-29 07:01] Nikhil-Nandagopal commented on #778
@visibleajay turning the input back from JS to form mode resets the input today 😄  . Taking this up as an enhancement

[2020-09-29 07:06] Nikhil-Nandagopal commented on #769
@visibleajay marking this as enhancement because we haven't implemented any error handling for invalid JS yet. There is some technical complexity around it

[2020-09-29 07:10] Nikhil-Nandagopal commented on #782
@satbir121 what is this field used for? How can an organization have an email?

[2020-09-29 07:10] Nikhil-Nandagopal commented on #783
@Saket2 I believe org names are not unique in appsmith. @mohanarpit please confirm

[2020-09-29 07:10] #783 closed

[2020-09-29 07:16] Nikhil-Nandagopal commented on #786
@visibleajay this is expected. On Deploying, we always start from the last seen page and not the home page so that it's obvious to a user what change he just deployed. If you open the app directly from applications page, it will open the home page first

[2020-09-29 07:16] #786 closed

[2020-09-29 07:18] Nikhil-Nandagopal commented on #787
@Saket2 Closing this because the video shows usage of the base64 of the image URL not the base64 of the image.

[2020-09-29 07:18] #787 closed

[2020-09-29 07:21] trishaanand commented on #714
Preliminary thoughts : This is happening because all of these API calls are made in parallel from the client and all of these calls return an error that the asset that they are trying to fetch either doesn't exist or the user doesn't have permissions to access this.

[2020-09-29 07:33] visibleajay commented on #778
@Nikhil-Nandagopal This is happening specifically for `{{undefined || false}}` whereas specifying `{{false}}` or `{{true}}` JS input results in valid toggle state.

[2020-09-29 07:42] visibleajay opened #791 "[BUG] Text info box in Table Widget is moving out of the screen for large text."
## Description
Text Info box in `Table Widget` is moving out of the screen for large text.

<a href="https://ibb.co/g6fQ1YS"><img src="https://i.ibb.co/4JXCyk8/Table-Info-box.png" alt="Table-Info-box" border="0"></a>

### Important Details
 - Version: Cloud
 - OS: MacOS 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-29 07:47] Saket2 commented on #791
If https://github.com/appsmithorg/appsmith/issues/755 helps.

[2020-09-29 07:52] visibleajay commented on #791
@Saket2 In this, the hover text box is going out of the screen if the widget have large input text.

[2020-09-29 07:57] visibleajay commented on #772
@Saket2 @Nikhil-Nandagopal  This seems to be similar to `https://github.com/appsmithorg/appsmith/issues/728`

[2020-09-29 08:09] sharat87 commented on #737
Thank you for confirming.

[2020-09-29 08:09] #737 closed

[2020-09-29 08:12] visibleajay opened #792 "[BUG] Hover box is blinking for Table Widget for ultra large text"
## Description
Hover info box starts blinking for table widget for ultra large text.

[Video In Action.](https://drive.google.com/file/d/1IT7NUaph4TK8j3_Nn7FEPvJyiVbJ23Sl/view?usp=sharing)

### Important Details
 - Version: Cloud
 - OS: MacOS 10.14.6
 - Browser: Firefox 80.0.1 (64-bit).

[2020-09-29 08:15] Saket2 commented on #772
That issue talked about 'how more preference' was given to that 1 particular value 'Vegan' and how 'Vegan' removal leads to the removal of all the values.

In this particular case, when we have 7-8 values - we're talking about the box capacity part - where box is unable to contain values beyond a limit (2-3 in this case).

[2020-09-29 08:52] Nikhil-Nandagopal commented on #656
@vicky-primathon please verify this

[2020-09-29 09:05] Nikhil-Nandagopal commented on #750
@riodeuno after debugging it looks like the entity explorer is going into an infinite set of re-renders for this application

[2020-09-29 09:52] Nikhil-Nandagopal opened #794 "[BUG] Test Issue"
## Description

[What happened]

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Important Details
 - Version: [Cloud / Self-Hosted vx.x]
 - OS: [e.g.MacOSX]
 - Browser [e.g. chrome, safari]

[2020-09-29 10:50] harishkotra commented on #742
@sharat87 This is what is happening now when I try to run the query: https://recordit.co/Max8oDk7tC (Is this a new bug?)

[2020-09-29 12:22] gogetter22 opened #795 "[BUG] Contact button on the main page takes the user to 'Access Control' documentation"
Video : https://drive.google.com/drive/folders/1UJ9TRrHLTd0r0Rvh3VixaVKjfiy9e6JZ?usp=sharing

Steps:
1. https://www.appsmith.com/
2. Go to the bottom of the page
3. Click on 'Contact'

Actual Result: Opens up a page where there is information about 'Access Control'
Expected Result: Should open a relevant page where there is relevant information.

Browser: 78.3.0esr (Firefox)

[2020-09-29 13:27] harishkotra opened #796 "[BUG] Unrelated errors upon deleting an application"
## Description

Invited a second account to access the organization and the apps. Worked pretty well until I deleted one of the the primary user's application.

### Steps to reproduce the behavior:
1. Invite a user to the organization
2. Delete one application
3. See error

![image](https://user-images.githubusercontent.com/4999463/94564328-7dd5c680-0285-11eb-8f08-5986bf3dcf14.png)

Screencast: ht

[2020-09-29 14:32] harishkotra commented on #742
@sharat87 It works with the LIMIT value.

[2020-09-29 15:07] harishkotra opened #798 "[BUG] No error when no matching letter found in the applications page."
## Description

Tried searching for a letter that's not part of the name in the project's list and nothing shows up. I was expecting it to show an error that says "No projects found".

### Steps to reproduce the behavior:

1. Go to Applications
2. Search for a name in the search field
3. See error: https://recordit.co/xHcjqkLYio

### Important Details
 - Version: Cloud
 - OS: Windows 10
 - Browser

[2020-09-30 04:40] kunksed opened #801 "[FEATURE] Airtable Connector"
## Summary

I want to be able to connect to the popular no-code 'database' Airtable and build custom dashboards using Appsmith

## Motivation

- Growing popularity because of no-code nature
- Lots of integrations push data into Airtable
- Already has its own API
- No other tool supports Airtable

[2020-09-30 04:45] hetunandu commented on #796
@satbir121 Seems like we are trying to update the application name after delete request is complete. Not related to example apps or invite user flow since it is happening to all applications.

[2020-09-30 06:21] Nikhil-Nandagopal commented on #801
@kunksed thank you for the feature request! We're looking into adding SAAS integrations soon. We want to be able to add multiple integrations scalably.

[2020-09-30 06:41] Nikhil-Nandagopal opened #802 "[BUG] asdasdad"
## Description

[What happened]

### Steps to reproduce the behaviour:
Add steps to reproduce this behaviour, include console / network logs & screenshots
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Important Details
 - Version: [Cloud / Self-Hosted vx.x]
 - OS: [e.g.MacOSX]
 - Browser [e.g. chrome, safari]

[2020-09-30 07:11] harishkotra opened #803 "[BUG] User sign up with POST request to the API"
## Description

I've just sent a POST request using Postman to with plain text JSON Body and boom! Account is created.

Request URL: [https://app.appsmith.com/api/v1/users](https://app.appsmith.com/api/v1/users)
Request: [http://prntscr.com/uokz6z](http://prntscr.com/uokz6z)

**What could go possibly wrong with this approach?**

I can simply write a loop that runs probably a 1000 times or 1000...n

[2020-09-30 07:13] harishkotra opened #804 "[BUG] Login POST URL throws "Whitelabel Error Page""
## Description

When I tried calling the URL directly in the browser, it throws a Whitelabel Error Page instead of invalidating the request itself and redirecting the user back to the login page or the app home page.

### Steps to reproduce the behaviour:

Request URL (s): [https://app.appsmith.com/api/v1/login](https://app.appsmith.com/api/v1/login), [https://app.appsmith.com/api/v1/logout](https

[2020-09-30 07:14] harishkotra opened #805 "[BUG] Error 401 on URLs (Forms and API end points)"
## Description

Tried accessing form submission URLs in the browser using GET and the following URLs return a 401 instead of disabling the request and redirecting back to the homepage/login page or a 404 page appropriately.

**URLs with issues:**

[https://app.appsmith.com/api/v1/users](https://app.appsmith.com/api/v1/users)
[https://app.appsmith.com/api/v1/](https://app.appsmith.com/api/v1/)
[htt

[2020-09-30 07:15] #802 closed

[2020-09-30 07:17] harishkotra opened #806 "[BUG] Field Issues in Organization's General Tab"
## Description

Tried updating the form with some information:

1. Unable to change the email to empty anymore.
2. Accepts any random email.
3. Website field and Workspace filed accept spaces as values
4. Deleting a value doesn't update but shows last stored value (I remove info's in the Website field before starting the screencast)

### Steps to reproduce the behaviour:

Errors Screencast: [https

[2020-09-30 07:18] harishkotra opened #807 "[BUG] Spaces in Organization Name"
## Description

Submitted the "Create Organization" form by entering spaces in the "Name" field and the form was successful and created an organization with empty name.

### Steps to reproduce the behaviour:
Screencast: https://recordit.co/GCGUIizMSz

### Important Details
- Version: Cloud
- OS: Windows 10
- Browser: Microsoft Edge Version 85.0.564.63 (Official build) (64-bit)

[2020-09-30 07:20] harishkotra opened #808 "[BUG] Bad Request: Validation Failure"
## Description

Submitted the "Create Organization" form without filling up anything in the "Name" field and got "Bad Request: Validation Failure" instead of a "Please enter a valid name" which is more user friendly. Also, saw two notifications on top right in the place of one.

### Steps to reproduce the behavior:
Screencast: https://recordit.co/fJcyrtFBik

Submitted the "Create Application" form

[2020-09-30 07:21] harishkotra opened #809 "[BUG] Random "Please check your internet connection" errors"
## Description

When I went to edit an application, without a set pattern, the error is thrown. Same happens when I go back to the "applications" page. Also noticed that the page doesn't load at all sometimes and sometimes loads with the errors as shown in the screencast below.

### Steps to reproduce the behavior:

Screencast: [https://recordit.co/TpQJVcewOa](https://recordit.co/TpQJVcewOa)

###

[2020-09-30 07:26] Nikhil-Nandagopal commented on #791
Seems related to #792 . Looks like a different effect but the root cause is the same

[2020-09-30 07:26] #791 closed

[2020-09-30 07:29] Nikhil-Nandagopal commented on #781
A simple solution for this would be to change the error message to
"Unable to reset the password. Please re-initiate the reset process via the login screen"

[2020-09-30 07:31] harishkotra opened #810 "[BUG] An unexpected error occurred"
## Description

Changed the name of the database and navigated to one of the queries I created to find this error. This only happened once and clicking the refresh against the error resolved it immediately. There was also "Please check your internet" popup on the top right which is irrelevant in this case.

Error: https://recordit.co/hTCpoR6U5X

### Important Details
- Version: Cloud
- OS: Windows

[2020-09-30 07:33] Saket2 opened #811 "[BUG] clicking on 3 dots (...) results into opening link on Youtube"
Bug : Hit https://www.appsmith.com/ --> Click on 'See How it works' --> Share --> click on ... (3 dots)
Actual Result: It takes the user to Youtube.
Expected Result: It should expand and show more options.

<img width="1787" alt="Screen Shot 2020-09-30 at 12 54 18 PM" src="https://user-images.githubusercontent.com/49346036/94655385-1cad0200-031c-11eb-8d93-025342e1897e.png">

[2020-09-30 07:35] Nikhil-Nandagopal commented on #766
This is now closed :)

[2020-09-30 07:35] #766 closed

[2020-09-30 07:40] Nikhil-Nandagopal commented on #749
Let's add the text "No Pages" when there are no pages that the user can move the action to

[2020-09-30 07:44] #739 closed

[2020-09-30 07:46] Nikhil-Nandagopal commented on #734
@trishaanand then that should be clear in the messaging. Also stands to reason that if I can invite anyone with any privilege, I should be able to update their role as well

[2020-09-30 07:54] trishaanand commented on #714
@Nikhil-Nandagopal : Assigning this back to you to assign for front-end handling. In case of redirection to the 404 page, all the error toasts should be suppressed and not displayed to the user.

[2020-09-30 07:57] trishaanand commented on #627
1. Since we allow for GitHub signup, we allow the username (which is currently linked to email) to not be mandated to be of email type. The format for the email is checked only by the frontend when the user is trying to sign up using email and password.
2. We could improve upon our email regex to disallow sending of emails in case of bad email.

[2020-09-30 07:58] trishaanand commented on #715
@Nikhil-Nandagopal : By design, managing user access to the organization is limited to Administrators. Developers have been given permission to invite other developers and viewers to the organization but managing ( updating a role, deleting a user from the organization ) are still limited by design to the Administrators only.

[2020-09-30 08:04] trishaanand commented on #716
@Nikhil-Nandagopal : This is a minor front-end bug. When the client fetches the application, the application contains the current user's permission. Only show the message to edit the application if the "userPermissions" array contains permission "manage:applications". In case only "read:applications" permission exists, we should either not display any message at all, or display another message whi

[2020-09-30 08:16] trishaanand commented on #716
This also would be a good first issue.

[2020-09-30 08:26] prapullac opened #812 "[BUG] Query timeout doesn't seem to be reliable"
TTFB > 2-3 secs for timeouts < 1 sec

[2020-09-30 08:53] Nikhil-Nandagopal commented on #699
The logo change can be ignored, the alignment and space issues need to be fixed

[2020-09-30 08:55] Nikhil-Nandagopal commented on #688
Duplicate of #762

[2020-09-30 08:55] #688 closed

[2020-09-30 08:59] #679 closed

[2020-09-30 09:05] Nikhil-Nandagopal commented on #668
Let's add a unique validator for Radio Widget

[2020-09-30 09:10] Nikhil-Nandagopal commented on #655
Let's add a validator for unique options in the dropdown

[2020-09-30 09:12] Nikhil-Nandagopal commented on #638
Closing this till we're able to reproduce

[2020-09-30 09:12] #638 closed

[2020-09-30 09:18] Nikhil-Nandagopal commented on #627
@trishaanand I think it comes down to the contract. For Github signup, the access token will give us the username so we're confident of that data whereas here the frontend is explicitly sending us data so this should be validated

[2020-09-30 09:18] #626 closed

[2020-09-30 09:22] #615 closed

[2020-09-30 09:24] #611 closed

[2020-09-30 09:26] #605 closed

[2020-09-30 09:28] #599 closed

[2020-09-30 09:30] satbir121 opened #814 "[Docs] Create documentation for video widget."
## Summary

Documentation is synced between gitbook and github. Fork [this repo](https://github.com/appsmithorg/appsmith-docs) and create a PR.
Create a file `appsmith-docs/widget-reference/video.md` and add documentation for video widget using the following template. Any screenshot or a gif has to be uploaded inside `appsmith-docs/.gitbook/assets/`.

## Docs Template
[code]

[2020-09-30 09:42] #594 closed

[2020-09-30 09:44] #591 closed

[2020-09-30 09:51] #541 closed

[2020-09-30 09:58] Nikhil-Nandagopal commented on #811
@Saket2 doesn't seem to be under our control. It's youtube's behaviour

[2020-09-30 09:58] #811 closed

[2020-09-30 09:59] Nikhil-Nandagopal commented on #810
@prapullac please check if this is reproducible

[2020-09-30 10:00] Nikhil-Nandagopal commented on #809
@prapullac please verify this as well

[2020-09-30 10:01] Nikhil-Nandagopal commented on #808
duplicate of #604

[2020-09-30 10:01] #808 closed

[2020-09-30 10:04] Nikhil-Nandagopal commented on #805
@mohanarpit can you verify this

[2020-09-30 10:50] Nikhil-Nandagopal opened #815 "[Docs] Documentation Contribution Guidelines"
## Description

We need to create a guideline for documentation contribution on appsmith. This will make it easier for contributors to help us improve our documentation. For the scope of this task, we'll focus the contributions to

Updating Documentation Workflow

Widgets
- Name of widget
- Description
- Image of the widget & icon in Sidebar
- Usage with Queries
- Properties

Actions (Show Alert,

[2020-09-30 11:05] harishkotra opened #816 "[BUG] Error: Please enter a valid parameter name"
## Description

When creating a new application, if the user enters just spaces, the error "Please enter a valid parameter name" shows up instead of asking the user to simply enter the name of the application. The same field returns Bad Request: Validation Failure when nothing is submitted.

### Steps to reproduce the behavior:
Screencast: https://recordit.co/RYHwOMMXl4

### Important Details
 - V

[2020-09-30 11:09] ari-hacks commented on #573
Hey, @mohanarpit @Nikhil-Nandagopal is this issue up for grabs?

[2020-09-30 11:09] harishkotra opened #817 "[BUG] Trim leading & following whitespace when editing name of an existing application"
## Description

When an existing application is edited, it is accepting spaces as the name and saving it while it should throw an error asking the user to enter a name and strip the spaces from the field. Also noticed that the color of the app also changes automatically without changing anything.

### Steps to reproduce the behavior:

1. Go to "applications"
2. Click on '...'
3. Click on the "edit

[2020-09-30 11:12] visibleajay opened #818 "[BUG] Redirect start-https.sh script to local Java servers instead of staging servers."
## Description
On registering new `email` and `password` with no `smtp` credentials at `dev.appsmith.com`, the user is receiving an email from `hello@appsmith.com`.

<a href="https://ibb.co/7yJQ8Hw"><img src="https://i.ibb.co/Yj7XY6z/SignUp.png" alt="SignUp" border="0"></a>

<a href="https://ibb.co/sVkDtwG"><img src="https://i.ibb.co/Tgpnr8S/temp-email.png" alt="temp-email" border="0"></a>

<a hre

[2020-09-30 11:15] mohanarpit commented on #573
@ari-hacks Yes. It's still available. Would you like to have a go at it?

[2020-09-30 11:19] ari-hacks commented on #573
Yea, thanks!

[2020-09-30 11:42] prapullac opened #819 "[Bug] [High] [Release] Names should be page specific instead of application wide"
https://www.notion.so/b6249c3f00bc416090f7db67ab4dc402?v=b3091d4174fb48a1b90aaec93d20fead&p=e9a91ef38879445f8d56b82c7b1533ca

[2020-09-30 11:44] prapullac opened #820 "[Bug][High][Release] Form is resetting on error"
action response has `isExecutionSuccess: false`

[2020-09-30 11:46] prapullac opened #821 "[Bug] Evaluated value doesn't show in URL & Action Selector Fields"
Solutions:

Since the url field is a combo of datasource.url + path + query params we need a way to pass the data tree and use evaluated value instead of data tree path
(this will cause an extra eval as it will come from redux)

- Pass data tree inside url component
- Pass data tree inside api pane so it can be used by other fields too
- Update data tree path logic to combine these in the code edi

[2020-09-30 11:50] prapullac opened #822 "[Bug][High][Release] When there is a binding error we should show error instead of undefined in current value"

[2020-09-30 11:52] prapullac opened #823 "[Bug][High] Db query inserts don't work if there is a quote in the value of the binding"

[2020-09-30 11:53] prapullac opened #824 "[Bug] Mustache is not consistent"
Theres a difference between

[code]

and

[code]

[2020-09-30 12:02] prapullac opened #825 "[Bug] Fix Cypress test cases being run on a forked PR"

[2020-09-30 12:03] prapullac opened #826 "[Bug] Pull request template is not working"

[2020-09-30 12:09] prapullac opened #827 "[Bug] User is unable to reuse name the deleted application"
## Steps to reproduce

1. Add an application
2. Add widget name
3. Navigate to home page
4. Delete the created application
5. Create a application with the same name

and observe

## Observation

It is observed that an error message is displayed to user stating the application exists

## Expected behaviour

The user should be able to create or reuse the name of the deleted application

[2020-09-30 12:10] prapullac opened #828 "[Bug]User profile drop down is missing details"

[2020-09-30 12:12] prapullac opened #829 "[Bug] Large post body in the api pane is causing lag when using mustache"
{
"title": "This is an example form",
"type": "form",
"settings": {
"language": "en",
"is_public": true,
"progress_bar": "percentage",
"show_progress_bar": true,
"show_typeform_branding": false,
"meta": {
"allow_indexing": false,
"description": "Cool meta description"
},
"notifications": {
"self": {
"enabled": true,
"recipients": [
["najmuzzaman.mohammad@clipboardhealth.com](mailto:%22najmuzzaman.

[2020-09-30 12:16] prapullac opened #830 "[Bug] Chart Widget- The series is not working in pie chart."

[2020-09-30 12:17] prapullac opened #831 "[Bug]\n is not showing in rich text editor"
## Steps
1. drag a rich text editor
2. drag an input
3. make the input multiline
4. enter text in different lines
5. bind the rich text editor to the input
6. the rich text editor displays the data without the new lines

<img width="1211" alt="Screenshot 2020-10-14 at 12 42 53 PM" src="https://user-images.githubusercontent.com/3897254/95955704-e5aa1680-0e1a-11eb-9d8f-add6adc62d9f.png">

[2020-09-30 12:20] prapullac opened #832 "[Bug] Multi select Dropdown widget default value breaking"
The multi select dropdown widget does not get selected value in view mode when set via bindings

[2020-09-30 13:13] Nikhil-Nandagopal opened #833 "[Task] Build App to input SAAS integrations"
# Description
We need an application that users can use to configure APIs from a SAAS platform.

[2020-09-30 13:15] Nikhil-Nandagopal opened #834 "[Task] Generate List of SAAS Integration Issues"
# Description
We need a large list of good first-time SAAS APIs and the format that they can be configured in

[2020-09-30 13:27] Nikhil-Nandagopal opened #835 "[Feature] Image Zoom"
## Summary

Users need a way to zoom into an image displayed by the image widget.

## Motivation

Images are at times used so that manual verification can occur. Some images are of very high resolution and need to be zoomed in order to verify fine details

## Proposed Solution
Add an Enable Zoom Property to the image widget which will transform the mouse to a magnifying glass on hover.
Clicking th

[2020-09-30 14:03] dhawaldj95 commented on #835
Just a suggestion, to keep things simple and light can we create a new image widget which will have this zoom functionality and keep the normal one as it is. This would keep it light when we don't want the zoom functionality on an image. Just a thought!

[2020-09-30 14:28] Nikhil-Nandagopal commented on #835
@dhawaldj95 that's a good concern! Worry not, we'll have an option in the property pane to turn this feature on/off for the same image widget so that it's not confused with the general functionality. We try to avoid duplication of widgets as much as possible so that new users are able to find the right widget quickly 😃

[2020-09-30 15:27] harishkotra opened #836 "[Bug] 500 Internal Server Error"
## Description

I'm testing out the endpoints to see if they are vulnerable and if they respond directly to GET requests in the browser and found https://app.appsmith.com/api/v1/pages to respond with a HTTP Error 500.

![image](https://user-images.githubusercontent.com/4999463/94706158-78e54580-035f-11eb-953e-aa7dede291a3.png)

### Important Details
- Version: Cloud
- OS: Windows 10
- Browser: Goo

[2020-09-30 16:21] satbir121 commented on #832
This issue has been fixed just too many times. One of the reasons was because multi-select dropdown and single select dropdown were cramped up into one component increasing complexity.

[2020-09-30 17:13] harishkotra opened #837 "[Bug] Platform allows insecure passwords for user accounts"
## Description

User signup accepts insecure passwords like '12345678' which is a major security issue. Across the platform a strong password policy is required.

[2020-09-30 17:14] harishkotra opened #838 "[Bug] Improvements to Privacy Policy"
## Description

The Privacy Policy really needs an overhaul. It doesn't look credible or trust worthy at a first glance and also doesn't provide assurance that the user's databases information or credentials are secure enough on the Cloud Platform.

Here are my recommendations:

1. Make the page look like the rest of the website/platform (header and footer)
2. Consistency in the use of the name Ap

[2020-09-30 17:27] harishkotra opened #839 "[Bug] Issues in Organization Settings screen"
## Description

Organization settings page takes quite a few seconds to load the existing information and upon updating to a new name, it doesn't get saved.

### Steps to reproduce the behaviour:

Screencast: https://recordit.co/zR294Vz1AV

### Important Details
Version: Cloud
OS: Windows 10
Browser: Microsoft Edge

[2020-09-30 17:38] harishkotra opened #840 "[Bug] Clicking on organization names does nothing"
## Description

Upon clicking on the name of the organization, nothing happens except for a few times. Looks like there needs to be a name for the scroll to work.

Also, adding a smooth scroll may be more user friendly.

### Steps to reproduce the behavior:

Screencast: https://recordit.co/FS56YQfC80

### Important Details
- Version: Cloud
- OS: Windows 10
- Browser: Microsoft Edge

[2020-09-30 18:25] harishkotra opened #842 "[Bug] Query error: Please check your internet connection"
## Description

Running a JOIN query doesn't return any results and throws "Please check your internet connection"

### Steps to reproduce the behavior:

Screencast: https://recordit.co/nWibAO2VlJ

### Important Details
 - Version: Cloud
 - OS: Windows 10
 - Browser: Microsoft Edge

[2020-09-30 19:52] instareasy commented on #729
interested in this issue

[2020-10-01 02:42] mohanarpit commented on #729
@instareasy Welcome to the Appsmith community! 😄

I've assigned this issue to you. Please take a look at our [Contribution](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md) guide as you begin.

[2020-10-01 02:53] Saket2 commented on #678
I'll be picking it up for Hacktober Fest.

[2020-10-01 02:54] mohanarpit commented on #678
@Saket2 Awesome! It's all yours.

[2020-10-01 05:00] vatsalsharma376 commented on #807
Can I take up this issue?

[2020-10-01 05:01] mohanarpit commented on #807
@vatsalsharma376 Good to see you here & welcome to Appsmith again 😄

Go for it! Please try to raise a PR within 2 days.

[2020-10-01 06:04] Nikhil-Nandagopal commented on #816
Duplicate of #807

[2020-10-01 06:04] #816 closed

[2020-10-01 06:21] Nikhil-Nandagopal commented on #840
Duplicate of #807  different result but the root cause is the same

[2020-10-01 06:21] #840 closed

[2020-10-01 06:25] riodeuno commented on #704
I can verify that this issue exists. I will create PR with the fix for this issue.

[2020-10-01 06:28] Nikhil-Nandagopal commented on #817
@harishkotra application names can have spaces

[2020-10-01 06:55] Nikhil-Nandagopal commented on #818
@mohanarpit not so sure about this. What stops a user from creating fake emails on prod and causing the same problem? Changing the server URL won't help this

[2020-10-01 06:57] AswinCG2002 commented on #807
i would love to do this.can u assign me this

[2020-10-01 06:59] mohanarpit commented on #818
@Nikhil-Nandagopal That's a different problem. During dev time, we almost always end up using a dummy email ID for testing. It's a lot more prevalent in dev scenarios than in production.

Also, getting the dev setup to be completely independent of any hosted service is the ideal goal. As a developer, I should be able to get up & running with the Appsmith codebase independently on my machine and no

[2020-10-01 07:01] mohanarpit commented on #807
@AswinCG2002 Welcome to Appsmith! 🎉

I've assigned the issue to you. Please try to raise a PR within 2 days.

Also, please check out our [contributing guide](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md) before you begin.

[2020-10-01 07:46] Nikhil-Nandagopal commented on #818
Then it seems like different problems to solve. Frontend devs will value a hosting server and we can assume goodwill there. If we want to protect our email reputation let's solve that correctly.

[2020-10-01 08:54] priyanshu-shubham commented on #837
I would like to work on this issue.

[2020-10-01 09:18] mohanarpit commented on #837
In order to solve for this, we need to add a custom password validator in the Java spring code base. Refer: [https://stackabuse.com/spring-custom-password-validation/](https://stackabuse.com/spring-custom-password-validation/). The example uses the `passay` maven library.

We should add the custom validator class in the package `com.appsmith.server.helpers` in the `appsmith-server` maven module. T

[2020-10-01 09:19] mohanarpit commented on #837
@priyanshu-shubham Welcome to Appsmith! 🎉

I'm assigning the issue to you. Please go through our [Contribution Guide](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md) before you start.

Also, would appreciate if you can raise a PR in the next 2 days.

[2020-10-01 09:22] priyanshu-shubham commented on #837
Thanks @mohanarpit

[2020-10-01 10:23] Nikhil-Nandagopal opened #852 "[Docs] Create Documentation for Download function"
## Describe the problem

We don't have documentation for the internal action that can be used to download data on appsmith. This action can be triggered by a button by setting its onClick property

[2020-10-01 10:24] riodeuno commented on #792
A potential fix for this issue is to add an appropriate `position` prop to the `Tooltip` component which renders the full text on hover. [Documentation for the original component](https://blueprintjs.com/docs/#core/components/tooltip)

[2020-10-01 10:25] Nikhil-Nandagopal opened #853 "[Docs] Create documentation for storeValue function"
## Describe the problem

We do not have documentation for our storeValue action today. The action can be triggered by the action selector of a widget such as the onClick of a button

[2020-10-01 10:30] riodeuno commented on #691
This seems to be due to the wrapping component which adds padding to the right. This looks fine when we have the divider and  the social login buttons, however, it prevents the children from stretching and filling the parent container.

[2020-10-01 10:36] mohanarpit commented on #825
Closing this as this has been resolved.

[2020-10-01 10:36] #825 closed

[2020-10-01 10:37] riodeuno commented on #584
One potential solution is to use CSS and add ellipsis to the text and prevent it from overflowing the parent bounds. This will also need a tooltip to show the full text on hover.

[2020-10-01 10:38] mohanarpit commented on #781
This can be done by modifying the message in the enum class file `AppsmithError.java` in the `appsmith-server` maven module. The enum to be modified is: `INVALID_PASSWORD_RESET`

[2020-10-01 10:42] hetunandu commented on #772
**Solution**: To show as many options as we can when many options are selected yet also have some indication that more selected options exist (like ellipses work for text).
This is mainly a _CSS_ issue but one needs to know how we block overflowing via our widget positioning and resize containers.

Most changes would happen here
https://github.com/appsmithorg/appsmith/blob/master/app/client/src/co

[2020-10-01 10:50] hetunandu commented on #768
**Solution:** Update the [isValid binding](https://github.com/appsmithorg/appsmith/blob/master/app/client/src/widgets/InputWidget.tsx#L62) of the input widget to handle data type of number

Note: This is a binding, so the function is actually written in 'quotes'. Make sure syntax is correct since the editor wont lint this.

[2020-10-01 11:00] Nikhil-Nandagopal opened #854 "[Docs] Create documentation for navigateTo function"
## Describe the problem

We do not have documentation for our navigateTo function today. The function can be triggered by the action selector of a widget such as the onClick of a button.

[2020-10-01 11:01] hetunandu commented on #760
**Solution:** Update the logic of the [background image](https://github.com/appsmithorg/appsmith/blob/master/app/client/src/components/designSystems/appsmith/ImageComponent.tsx#L24) to handle for cases where `props.imageUrl` is `undefined`

[2020-10-01 11:01] Nikhil-Nandagopal opened #855 "[Docs] create documentation for closeModal Function"
## Describe the problem

We do not have documentation for our closeModal function today. The function can be triggered by the action selector of a widget such as the onClick of a button

[2020-10-01 11:03] Nikhil-Nandagopal opened #856 "[Docs] create documentation for download function"
## Describe the problem

We do not have documentation for our download function today. The function can be triggered by the action selector of a widget such as the onClick of a button.

[2020-10-01 11:04] Nikhil-Nandagopal opened #857 "[Docs] create documentation for show alert function"
## Describe the problem

The documentation page for the show alert function is missing. The function can be triggered by the action selector of a widget

[2020-10-01 11:07] Nikhil-Nandagopal opened #858 "[Docs] Table widget is missing a gif"
## Documentation Link

https://docs.appsmith.com/widget-reference/table

[2020-10-01 11:07] Nikhil-Nandagopal opened #859 "[Docs] Input widget is missing a gif"
## Documentation Link

https://docs.appsmith.com/widget-reference/input

[2020-10-01 11:08] Nikhil-Nandagopal opened #860 "[Docs] Dropdown documentation is missing a gif"
## Documentation Link

https://docs.appsmith.com/widget-reference/dropdown

[2020-10-01 11:08] Nikhil-Nandagopal opened #861 "[Docs] Form widget is missing a gif"
## Documentation Link

https://docs.appsmith.com/widget-reference/form

[2020-10-01 11:09] Nikhil-Nandagopal opened #862 "[Docs] Filepicker documentation is missing a gif"
## Documentation Link

https://docs.appsmith.com/widget-reference/filepicker

[2020-10-01 11:16] hetunandu commented on #728
Closing in the favour of #772 as solution would be the same i.e fixing how selected options are showing in a constrained multi select. Adding these cases in the other issue as well.

[2020-10-01 11:16] #728 closed

[2020-10-01 11:17] hetunandu commented on #772
Further cases mentioned in #728

[2020-10-01 11:22] visibleajay commented on #860
@Nikhil-Nandagopal Would like to take this up? Also, should the `dropdown gif` needs to cover all options like `{{ Table.selectedRow.gender }}`, `multi-select` & `single-select`.

[2020-10-01 11:43] hetunandu commented on #655
**How to solve**

Update the [validator function](https://github.com/appsmithorg/appsmith/blob/6922b9b564fcd4eed24fb44658812b925e5fb1fa/app/client/src/utils/Validators.ts#L349) to also check if all `option.value` are unique. If not, the validator should flag this as invalid.

[2020-10-01 12:41] satbir121 commented on #621
We are using `redux-form` library to create forms.
This issue can be resolved by declaring a validator for `TextField` used inside `CreateOrganizationForm.tsx`. This validator will automatically set the state of the form. And that state can be then used to set the disabled state of Submit button.

[Follow this link for an example](https://stackoverflow.com/questions/43768535/redux-form-how-to-disa

[2020-10-01 12:44] hetunandu commented on #661
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone looking to start contributing to the repo.

The issue arises from the confusion of new options not created with id field in the options. In actuality, the id field is not needed at all, but some old config still has the id field.

You can contribute by just removing the id field in the default options config [here]

[2020-10-01 12:48] hetunandu commented on #662
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone with basic JS skills looking to start contributing to the repo.

The bug is to do with how we validate radio options. Contribute by updating the validator function to also check if all `option.value` & `option.label` have some length. If not, the validator should flag this as invalid. The file to update can be foun

[2020-10-01 12:52] hetunandu commented on #668
Closing in favour of #655 as they share the same validator

[2020-10-01 12:52] #668 closed

[2020-10-01 12:54] visibleajay commented on #760
Hey Hetu, Checked it and found out that `src={this.props.imageUrl}` is null when a dynamic property is provided with no values attached to it as shown in the example.
If we could check and provide any non-zero value when `imageUrl` is empty than it would trigger the img `onError` and `onLoad` method which subsequently would updates the `imageError` var updating the background-image attached to the

[2020-10-01 12:57] satbir121 commented on #651
We are using `blueprint` library `Dialog` for showing modal popups. Pass `canOutsideClickClose` as `false` to the `FormDialogComponent` in `pages/Applications/index.tsx` page.

[2020-10-01 12:58] satbir121 commented on #651
@Nikhil-Nandagopal Should all the forms close on outside click or not close on outside click?

[2020-10-01 12:59] Nikhil-Nandagopal commented on #651
@satbir121 all invite modals should close on clicking outside

[2020-10-01 13:00] satbir121 commented on #651
And what about the `Create Organization` modal?

[2020-10-01 13:06] hetunandu commented on #673
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone with basic JS skills looking to start contributing to the repo.

Bug happens because `download` action did not invoke the event callback on an error. Adding another line [here](https://github.com/appsmithorg/appsmith/blob/master/app/client/src/sagas/ActionExecutionSagas.ts#L152) before the return calling the even c

[2020-10-01 13:20] Nikhil-Nandagopal commented on #651
@satbir121 yes same case, any modal that does not absolutely require a users input without which the flow is broken should be dismissable

[2020-10-01 13:34] hetunandu commented on #710
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone with basic React JS skills looking to start contributing to the repo.

The bug exists in how we trigger the action from the Dropdown Widget. You can contribute by adding a simple check to see if the new selection is the same the the old one. If it is the same, we should not trigger updates or call the action associ

[2020-10-01 13:42] hetunandu commented on #852
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone looking to start contributing to the repo. Make sure you read our [docs contributions guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before starting.

The signature of the function is mentioned [here](https://github.com/appsmithorg/appsmith/blob/master/app/clien

[2020-10-01 13:46] hetunandu commented on #853
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone looking to start contributing to the repo. Make sure you read our [docs contributions guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before starting.

The signature of the function is mentioned [here](https://github.com/appsmithorg/appsmith/blob/master/app/clien

[2020-10-01 13:48] hetunandu commented on #856
Duplicate of #852

[2020-10-01 13:48] #856 closed

[2020-10-01 13:48] satbir121 commented on #620
We are using `react-table` library. The column width gets re-calculated when the sort icon is added. One solution can be to add `minWidth` to the columns as mentioned in [this doc](https://react-table.tanstack.com/docs/api/useTable#column-options).

The `minWidth` has to be added for the Delete column inside `columns` variable in[ this file](https://github.com/appsmithorg/appsmith/blob/release/app

[2020-10-01 13:51] hetunandu commented on #854
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone looking to start contributing to the repo. Make sure you read our [docs contributions guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before starting.

The signature of the function is mentioned [here](https://github.com/appsmithorg/appsmith/blob/master/app/clien

[2020-10-01 13:51] hetunandu commented on #855
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone looking to start contributing to the repo. Make sure you read our [docs contributions guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before starting.

The signature of the function is mentioned [here](https://github.com/appsmithorg/appsmith/blob/master/app/clien

[2020-10-01 13:51] satbir121 commented on #735
@Nikhil-Nandagopal One solution can be to add an ellipsis and show a tooltip for organization names. How should we go ahead with this?

[2020-10-01 13:52] hetunandu commented on #857
Hey I am Hetu, one of the maintainers at Appsmith. This is a great issue for anyone looking to start contributing to the repo. Make sure you read our [docs contributions guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before starting.

The signature of the function is mentioned [here](https://github.com/appsmithorg/appsmith/blob/master/app/clien

[2020-10-01 14:06] satbir121 commented on #735
@Debsourabh Please suggest what we should do for longer org names.

[2020-10-01 14:48] mohanarpit opened #869 "[Bug] Add a section for contributors to README"
## Description

Add a Contributors section to the README. They are the backbone of the project.

### Steps to reproduce the behaviour:

### Important Details

[2020-10-01 14:50] StTronn commented on #857
Hey! I would love to start working on this.  Since the docs are on a separate repo for now do I need to clone this repo as well?

[2020-10-01 14:54] hetunandu commented on #857
Hey @StTronn! Welcome to the Appsmith community 😄 Great to see you contributing

That is correct, you just need to fork the docs repo for this. No need to clone this repo.

[2020-10-01 14:56] prasenjitghose36 commented on #869
Can You Please assing me this task It will be my first open source contribution

[2020-10-01 15:56] StTronn commented on #857
I have made intial pr [here](https://github.com/appsmithorg/appsmith-docs/pull/11). please review and provide feedback.

[2020-10-01 16:20] visibleajay commented on #760
Yes. The suggested one also worked. Please assign it to me.

Am using `@testing-library/react` and `jest` to write unit testcases.

[2020-10-01 17:16] prapullac commented on #810
@Nikhil-Nandagopal I am unable to reproduce the issue.This was executed on the environment specified by the user

[2020-10-01 17:25] harishkotra commented on #817
@Nikhil-Nandagopal I agree but space just cannot be the name right? I can add a name as "Organization Name" but not "               ".

[2020-10-01 17:26] prapullac commented on #809
@Nikhil-Nandagopal Unable to reproduce the issue with the said config

[2020-10-01 19:05] anvaynk opened #872 "[Feature] Integrate Google recaptcha on Appsmith."
## Summary

It'd be great if you could include Google recaptcha as a plugin on Appsmith and use the token that it generates as an input in the header of an API or in javascript.

## Motivation
The first screen that any kind of web app admin tool generally starts with is authentication. This is done by having a login page. And we use Google recaptcha to check if the person logging in is not a bot.

[2020-10-01 19:33] avats-dev commented on #780
@Nikhil-Nandagopal I want to work on this, can you guide me how to resolve this? I'm new to this codebase. Thanks :tada:

[2020-10-01 19:37] avats-dev commented on #717
@Nikhil-Nandagopal Also this one, can you help me out how this can be resolved? Thanks :tada:

[2020-10-02 03:13] #573 closed

[2020-10-02 03:22] mohanarpit commented on #817
@harishkotra You're right. We should trim the leading & lagging whitespace in the text and prevent empty names from being set for the application name. I'm re-opening this issue.

[2020-10-02 05:54] Nikhil-Nandagopal commented on #872
Hi @anvaynk 👋, thank you for the feature request. Are you looking to use re-captcha with appsmith's in-built authentication or do you have your own authentication mechanism?
If you have your own authentication, I'm thinking a good solution Will be to add a re-captcha widget which you can drag and drop inside your application. If it's with appsmith's authentication, we can discuss a solution where

[2020-10-02 06:01] #869 closed

[2020-10-02 06:04] Nikhil-Nandagopal commented on #860
@visibleajay please go ahead. We can 1 gif with a single select and a multi select drop-down side by side. The gif only needs to show you updating the values of the drop-down

[2020-10-02 06:13] Nikhil-Nandagopal commented on #817
@harishkotra my bad , this is a valid issue

[2020-10-02 06:15] Nikhil-Nandagopal commented on #717
Hi @avats-dev 👋, thank you for your interest. Please go ahead and pick this up.  @satbir121 can you help Aditya with how to resolve this?

[2020-10-02 06:17] Nikhil-Nandagopal commented on #780
Hi @avats-dev this is a slightly more complicated issue. I suggest starting with a few good first issues and then trying to tackle this one

[2020-10-02 06:18] Nikhil-Nandagopal commented on #809
@harishkotra are you able to consistently reproduce this?

[2020-10-02 06:22] Nikhil-Nandagopal commented on #735
@satbir121 Yes let's ellipsize

[2020-10-02 06:49] deepakchethan commented on #852
@hetunandu, I can take this up if this is still up for grabs

[2020-10-02 06:53] hetunandu commented on #852
Hey @deepakchethan! Welcome to the Appsmith community 😄 assigning this to you. Do read the docs linked and incase of any doubts let me know. You can ask me for a review once you raise the PR.

[2020-10-02 06:55] coastaldemigod commented on #861
@Nikhil-Nandagopal  I can pick this one up

[2020-10-02 06:56] sentry-io[bot] opened #875 "TypeError: Cannot read property 'readAt' of undefined"
Sentry Issue: [APPSMITH-7Y](https://sentry.io/organizations/appsmith/issues/1925603414/?referrer=github_integration)

[code]

[2020-10-02 06:56] Nikhil-Nandagopal commented on #875
@satbir121 looks like a crash in the light / dark theme switching. Can you check?

[2020-10-02 07:01] Nikhil-Nandagopal commented on #810
@harishkotra are you able to consistently reproduce this?

[2020-10-02 07:03] anvaynk commented on #872
We have our own api based authentication mechanism which we want to integrate with Appsmith's UI. I think it'd be great to have recaptcha as a widget so that it can also be added to other pages in the future too (ex: a signup page).

[2020-10-02 07:23] utkarshbajaj commented on #859
Can you assign me this.

[2020-10-02 07:27] deepakchethan commented on #852
Thank you @hetunandu, can you please take a look at https://github.com/appsmithorg/appsmith-docs/pull/13.

[2020-10-02 07:33] Nikhil-Nandagopal commented on #872
@anvaynk after doing a little research, Recaptcha v3 seems like the best way to implement this
https://developers.google.com/recaptcha/docs/versions
In this way, we won't need an additional widget but instead add a re-captcha enabled property to a button. So if that property is enabled, the login call will only be made if the Recaptcha succeeds.
This library here seems like a good starting point
h

[2020-10-02 07:39] Nikhil-Nandagopal commented on #859
@utkarshbajaj Thank you for your participation! I've assigned the issue to you. Here's an example of a Gif for a widget.
https://docs.appsmith.com/widget-reference/radio

[2020-10-02 07:59] deepakchethan commented on #855
Hello @hetunandu, I worked on this issue as well, please review https://github.com/appsmithorg/appsmith-docs/pull/14

[2020-10-02 08:07] kichloo commented on #862
Can I take up this issue?

[2020-10-02 08:09] Saket2 commented on #861
Can I take this up?

[2020-10-02 08:10] kichloo commented on #858
I want to take up this issue

[2020-10-02 08:11] kichloo commented on #853
I want to take uo this issue

[2020-10-02 08:12] kichloo commented on #854
@hetunandu I want to work on this issue,

[2020-10-02 08:14] mohanarpit commented on #804
This is not a bug but an enhancement. The error is correct because you're trying to access an API endpoint that doesn't exist. The server should send back a better designed error page with a button to redirect the user to Appsmith's home page.

I'm marking this as an enhancement instead of a bug because the behaviour we are seeing is expected.

[2020-10-02 08:17] Nikhil-Nandagopal commented on #804
Shouldn't it be 404 if it doesn't exist?

On Fri, Oct 2, 2020, 13:45 Arpit Mohan <notifications@github.com> wrote:

[2020-10-02 08:18] Nikhil-Nandagopal commented on #861
@Saket2 go for it!

[2020-10-02 08:19] ShyamPraveenSingh commented on #629
Hi, I would like to work on this.

[2020-10-02 08:19] mohanarpit commented on #804
@Nikhil-Nandagopal The server is returning a 404. The screenshot attached to the issue is the default HTML page that Spring framework returns for any error. If you see closely, the status in the error page is also "404 Not Found"

[2020-10-02 08:19] Nikhil-Nandagopal commented on #853
@kichloo go for it!

[2020-10-02 08:20] Saket2 commented on #629
PR has been raised for this : https://github.com/appsmithorg/appsmith-docs/pull/15

[2020-10-02 08:21] SamriddhiMishra commented on #862
I have created a pr for this https://github.com/appsmithorg/appsmith-docs/pull/16
Please review this.

[2020-10-02 08:21] mohanarpit commented on #629
@ShyamPraveenSingh Welcome to Appsmith & thank you for expressing interest in contributing. Unfortunately, this issue has already been claimed by another user.

Please go through our issue list [here](https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22) & ask to work on another issue.

[2020-10-02 08:22] mohanarpit commented on #854
@kichloo Welcome to Appsmith! 🎉

Go for it! Happy hacking!

[2020-10-02 08:22] ShyamPraveenSingh commented on #629
Sure thanks.

[2020-10-02 08:24] mohanarpit commented on #858
@kichloo Since there are other issues already assigned to you. Can we start by closing them before claiming more? Don't worry, there will always be a lot of issues that you can work on.

[2020-10-02 08:26] mohanarpit commented on #862
@SamriddhiMishra Thank you for creating the PR. In future, please claim an issue before you start working on it. This ensures that other folks also know that this issue has already been worked on.

[2020-10-02 08:27] SamriddhiMishra commented on #862
Sure, @mohanarpit I will keep that in mind. Thanks!

[2020-10-02 08:30] mohanarpit commented on #815
@Nikhil-Nandagopal Has this been completed?

[2020-10-02 08:34] mohanarpit commented on #855
@deepakchethan Thanks! For the future, please claim an issue before you start working on it. It ensures that there's no duplicate work happening across the board. If you hadn't commented here, we may have assigned this issue to someone else and close your PR in favour of them.

[2020-10-02 08:42] anvaynk commented on #872
Awesome! Yes this should work.

[2020-10-02 08:42] veerutekchandani commented on #861
Can you please elaborate the issue ?

[2020-10-02 08:45] hetunandu commented on #852
Approved and merged! 🎉 Thanks a lot of this @deepakchethan hope to see your contributions on some other issues as well 🙌

[2020-10-02 08:47] hetunandu commented on #852
Fixed by [appsmithorg/appsmith-docs#13](https://github.com/appsmithorg/appsmith-docs/pull/13)

[2020-10-02 08:47] #852 closed

[2020-10-02 08:50] mohanarpit commented on #861
@veerutekchandani Our documentation (link in description) needs a gif for the form widget.

Also, this issue has already been claimed. Would encourage you to find other [Good First Issues](https://github.com/appsmithorg/appsmith/labels/Good%20First%20Issue).

[2020-10-02 08:51] deepakchethan commented on #855
Thank you @mohanarpit

[2020-10-02 08:52] SamriddhiMishra commented on #814
I want to take up this issue.

[2020-10-02 08:54] hetunandu commented on #855
Approved and merged! 🎉 Thanks @deepakchethan 👯‍♂️

[2020-10-02 08:54] #855 closed

[2020-10-02 08:58] deepakchethan commented on #858
Hello @mohanarpit, @Nikhil-Nandagopal, Can I take this up, if it's up for grabs?

[2020-10-02 08:59] hetunandu commented on #814
That's great @SamriddhiMishra! Assigning it to you 😄

[2020-10-02 09:01] Rony9999 opened #876 "Typo found in README.md[Docs]"
## Documentation Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

[2020-10-02 09:01] deepakchethan commented on #697
Hello @hetunandu, I can take this up if it's still open.

[2020-10-02 09:03] HashTalmiz commented on #817
Hey, Can I take up this issue? I'm not very familiar with the codebase but I can give it a try!

[2020-10-02 09:03] mohanarpit commented on #876
@Rony9999 What typos did you notice in the documentation? Can you please elaborate them in the issue description?

[2020-10-02 09:03] kichloo commented on #858
@mohanarpit Ok!

[2020-10-02 09:08] kichloo commented on #854
@mohanarpit This issue seems a bit difficult as I have not worked extensively on it. So, I think it should be unassigned so that it does not stop any other user from contribution,

[2020-10-02 09:09] kichloo commented on #858
@mohanarpit Can I please take this issue as there is 1 issue I don't know much about which will be unassigned.

[2020-10-02 09:12] utkarshbajaj commented on #859
@Nikhil-Nandagopal you want only one gif for input widget right?

[2020-10-02 09:29] SamriddhiMishra commented on #814
I have created a PR for this. https://github.com/appsmithorg/appsmith-docs/pull/17
Please Review!

[2020-10-02 09:31] Nikhil-Nandagopal commented on #697
@deepakchethan I'm assigning this to you. Great to see all your contributions! Keep em coming

[2020-10-02 09:35] SamriddhiMishra commented on #703
@Nikhil-Nandagopal Can I use the same image(above) to replace?

[2020-10-02 09:35] SamriddhiMishra commented on #711
@Nikhil-Nandagopal Can I use the same image(above) to replace?

[2020-10-02 09:36] Nikhil-Nandagopal commented on #854
@kichloo I've unassigned you from this. If you'd still like to take this up, I'd be happy to talk to you about it on discord

[2020-10-02 10:09] utkarshbajaj commented on #859
I have done it, please have a look.

[2020-10-02 10:27] SamriddhiMishra commented on #703
@Nikhil-Nandagopal  I have created a PR for this https://github.com/appsmithorg/appsmith-docs/pull/21
Please Review.

[2020-10-02 11:13] mohanarpit commented on #876
@Rony9999 I'm closing this issue as spam for now. Please find better issues on Appsmith's project or contribute to an existing issue.

[2020-10-02 11:13] #876 closed

[2020-10-02 11:34] visibleajay commented on #860
# Dropdown

![](https://drive.google.com/file/d/1hfETpv_Yh1oA9ROb7ynvLkjUzt8AYo29/view?usp=sharing)

[2020-10-02 11:50] OmkarPh commented on #826
Hi @prapullac,
Can i work on this?

[2020-10-02 11:51] Nikhil-Nandagopal commented on #826
Hi @OmkarPh this might be a difficult issue because we ourselves aren't sure what's wrong. I suggest you start with our good first issues

[2020-10-02 11:53] OmkarPh commented on #826
Hello, @Nikhil-Nandagopal
I have use Pull_request_template.md file for adding Pull request template, cannot be this a simple solution?

Sorry if i misunderstood the issue ;)

[2020-10-02 11:57] Nikhil-Nandagopal commented on #826
@hetunandu can you help with the issue here

[2020-10-02 12:07] visibleajay commented on #854
@Nikhil-Nandagopal Please assign this to me. Thank You!.

[2020-10-02 12:10] OmkarPh commented on #826
Can you check out this [PR](https://github.com/treeverse/lakeFS/pull/695)
I did this same thing, but it was not required there, but it worked !

[2020-10-02 12:11] OmkarPh commented on #826
If this serves purpose, please give me an opportunity to do the same here too :)

[2020-10-02 12:14] anuragagarwal561994 commented on #798
Hey @Nikhil-Nandagopal I would like to take this up as my first contribution to appsmith.

[2020-10-02 12:15] deepakchethan commented on #697
Thank you @Nikhil-Nandagopal, I went through the code and this seems like the correct behaviour. As we are using `new RegExp("/^.{6,}$/")` which is resulting the regexp of `/\/^.{6,}$\//`. So this is resulting errors.

According to the hint we are not expecting the regex to being and end with `/`.  We could remove `/` in the beginning and end if the user provides it, would this be the proper fix f

[2020-10-02 12:23] Nikhil-Nandagopal commented on #798
@Debsourabh can you help us with the design for this?

[2020-10-02 12:24] Nikhil-Nandagopal commented on #798
@anuragagarwal561994 you can pick this up once we update the designs here

[2020-10-02 12:27] Debsourabh commented on #798
Hi @anuragagarwal561994 , I will update the design ASAP and notify you. Thank you for pointing this out.

[2020-10-02 12:31] anuragagarwal561994 commented on #798
Thanks @Nikhil-Nandagopal

[2020-10-02 12:33] visibleajay commented on #854
Added a [PR](https://github.com/appsmithorg/appsmith-docs/pull/23/files) for this issue.

[2020-10-02 12:41] Nikhil-Nandagopal commented on #697
@deepakchethan after a little digging just removing the / won't work because the Regex contructor takes the flags as a second identifier. I don't have a good solution right now but we need to think of a clean way to convert a string to a Regex

[2020-10-02 12:49] deepakchethan commented on #697
We could parse the regex as seen in https://github.com/IonicaBizau/regex-parser.js/blob/master/lib/index.js

[2020-10-02 12:52] Nikhil-Nandagopal commented on #697
This looks good! Remember to add a case to handle invalid inputs because while a user is typing, the Regex Will be invalid till it's complete

[2020-10-02 15:30] hetunandu commented on #703
Fixed by [appsmithorg/appsmith-docs#21](https://github.com/appsmithorg/appsmith-docs/pull/21)

[2020-10-02 15:30] #703 closed

[2020-10-02 15:31] hetunandu commented on #860
Fixed by [appsmithorg/appsmith-docs#22](https://github.com/appsmithorg/appsmith-docs/pull/22)

[2020-10-02 15:31] #860 closed

[2020-10-02 15:33] hetunandu commented on #854
Fixed by [appsmithorg/appsmith-docs#23](https://github.com/appsmithorg/appsmith-docs/pull/23)

[2020-10-02 15:33] #854 closed

[2020-10-02 15:35] hetunandu commented on #857
Fixed by [appsmithorg/appsmith-docs#11](https://github.com/appsmithorg/appsmith-docs/pull/11)

[2020-10-02 15:35] #857 closed

[2020-10-02 15:44] Nibba2018 commented on #792
Hi @visibleajay , is this issue still open? I would like to work on this.

[2020-10-02 17:05] rishavjaiss commented on #795
Hi, can I take this up?

[2020-10-02 17:57] mohanarpit commented on #795
@rishavjaiss Welcome to Appsmith ! 🎉  Unfortunately, the website is closed source and you can't contribute there.

You can find a list of other good first issues [here](https://github.com/appsmithorg/appsmith/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22)

Also, feel free to participate in [Appsmith's Challenge](https://github.com/appsmithorg/appsmith/discussions/863) during Hacktob

[2020-10-02 17:59] mohanarpit commented on #792
@Nibba2018 Welcome to Appsmith! 🎉 Go for it! I'd request you to please raise a PR within 2 days.

Also, feel free to participate in [Appsmith's Challenge](https://github.com/appsmithorg/appsmith/discussions/863) during Hacktoberfest. Feel free to tag your friends and invite them to contribute to the project.

[2020-10-02 18:06] rishavjaiss commented on #652
Hi, can i take this?

[2020-10-02 18:27] hetunandu commented on #795
@mohanarpit this is a website issue which does not open source, thus we cannot have anyone from the community contribute to it. So sorry about this @rishavjaiss. Please go through any other Good First Issues to contribute to Appsmith 🙂

[2020-10-02 18:31] hetunandu commented on #652
Hey @rishavjaiss! Yes you can take this. Incase you need some help feel free to tag me on this issue and I or someone else from the team will guide you 😃

[2020-10-02 19:40] jack1142 opened #886 "[Bug] Deploy install script doesn't work with IPv4 machines anymore"
## Description

Since yesterday (Oct 1, 2020) the A record for api6.ipify.org was removed to make the subdomain only for IPv6 requests. Source: https://www.ipify.org/
From my testing, it looks like `api6.ipify.org` before October 1, 2020, was returning what `api64.ipify.org` returns now. I'll be making a PR to fix this in a few moments.

### Steps to reproduce the behavior:
1. Use the install scri

[2020-10-02 20:08] priyanshu-shubham commented on #837
@mohanarpit I am getting this error while building the final jar.
 com.external.plugins.PostgresPluginTest: Container startup failed

[2020-10-02 21:26] sabbatum opened #889 "[Bug] ipify's api6.ipify.org url"
## Description

Does the ipify url need to be changed to `api64.ipify.org` url? `api6.ipify.org` is now only for IPv6 requests. I can make PR if so.

Message from [ipify.org](https://www.ipify.org/)

https://github.com/appsmithorg/appsmith/blob/8c388eb1539627fcf1f2d6b63e7cf40e8ef66a80/app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTask.java#L29

[2020-10-02 21:41] Nibba2018 commented on #792
Thanks @mohanarpit !

[2020-10-02 23:28] daniloff200 commented on #807
hello :)
looks one, this is not assigned to anybody
I would like to pick this one

[2020-10-02 23:50] jmakhack commented on #587
Hey @Nikhil-Nandagopal, I should be able to pick up this issue and create a PR.
Can you assign it to me?

[2020-10-02 23:59] avats-dev commented on #780
@Nikhil-Nandagopal Ok :+1:

[2020-10-03 02:53] hetunandu commented on #807
Hey @daniloff200! Welcome to Appsmith! 🎉
Assigning this to you now. Incase you need any help finding a solution, do mention me here and I'll guide you.

Also checkout our [hacktober fest competition](https://github.com/appsmithorg/appsmith/discussions/863) if you are interested in some cool goodies 😄

[2020-10-03 03:34] Hard-Coder05 commented on #711
@Nikhil-Nandagopal I would like to work on this issue!

[2020-10-03 03:37] Hard-Coder05 commented on #648
@Nikhil-Nandagopal @mohanarpit I would like to take this issue for hacktoberfest!

[2020-10-03 03:51] mohanarpit commented on #648
@Hard-Coder05 Welcome to Appsmith! 🎉 Go for it!

Make sure you read our [docs contributions guidelines](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/CONTRIBUTING.md) before starting.

[2020-10-03 03:55] mohanarpit commented on #711
Hey @Hard-Coder05 , since @SamriddhiMishra has claimed this earlier, let's give him 2 days to raise a PR before we re-assign the issue.

@SamriddhiMishra You can use the screenshot in the issue or even create your own screenshot by signing up on [https://app.appsmith.com](https://app.appsmith.com)

Also, I would encourage you to participate in [Appsmith's Challenge](https://github.com/appsmithorg/

[2020-10-03 03:56] mohanarpit commented on #889
Closing as duplicate of #886

[2020-10-03 03:56] #889 closed

[2020-10-03 03:59] mohanarpit commented on #837
@priyanshu-shubham Do you have Docker installed on your system? Please re-check if you followed all the steps in the [Contribution Guide](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md).

If you still see this error and would like help in debugging it, please join our [Discord Channel]() and ping this on the #support channel there. It'll be much easier to debug there.

[2020-10-03 04:55] harishkotra commented on #809
@Nikhil-Nandagopal not today. I encountered this twice on the day I reported this. Tried doing the same today but doesn't happen anymore.

[2020-10-03 05:12] harishkotra commented on #810
@Nikhil-Nandagopal Not today. Similar to the other issue, this was happening when I was testing it during the time of reporting it. However, this doesn't happen anymore and the platform itself is super fast now unlike my screencast.

[2020-10-03 06:00] wasabigeek commented on #710
Hi, I'd like to take this!

[2020-10-03 06:14] Nikhil-Nandagopal commented on #710
@wasabigeek go for it!

[2020-10-03 06:22] #810 closed

[2020-10-03 06:22] #809 closed

[2020-10-03 06:25] #815 closed

[2020-10-03 06:26] Nikhil-Nandagopal commented on #817
@HashTalmiz please have a look at our contribution guide. It will help you get started 😊

[2020-10-03 06:35] #886 closed

[2020-10-03 06:36] Hard-Coder05 commented on #648
@mohanarpit If this is considered as a `Hactoberfest` issue then please do add the label
btw I am working on it!

[2020-10-03 06:39] #814 closed

[2020-10-03 06:45] Nikhil-Nandagopal commented on #587
@jmakhack seems like we need an icon for this. @Debsourabh can you help with an icon here

[2020-10-03 07:03] Nikhil-Nandagopal commented on #886
@jack1142 thanks for reporting this. I've migrated to the ipv4 version

[2020-10-03 07:07] Nikhil-Nandagopal commented on #859
@utkarshbajaj can you link the PR here

[2020-10-03 07:24] Hard-Coder05 commented on #648
@Nikhil-Nandagopal @mohanarpit I have raise th PR please review it once and You can close this issue!

[2020-10-03 07:28] SamriddhiMishra commented on #711
@mohanarpit @Nikhil-Nandagopal
I have raised PR https://github.com/appsmithorg/appsmith-docs/pull/28
Please review this.

[2020-10-03 07:29] Hard-Coder05 opened #894 "PR Template is missing!"
## Summary

I have noticed that the PR template iss missing for https://github.com/appsmithorg/appsmith-docs .

## Motivation

This should be completed as early as possible because there are numerous PR's made everyday but in an irregular way!

[2020-10-03 07:29] Hard-Coder05 commented on #894
@Nikhil-Nandagopal @mohanarpit I hope this is a good issue for Hacktoberfest and I would like to work on it!

[2020-10-03 07:37] Saket2 commented on #861
@Nikhil-Nandagopal  , @mohanarpit  - Raised PR for this : https://github.com/appsmithorg/appsmith-docs/pull/29 . Please review.

[2020-10-03 07:48] Jain-Sanchit commented on #858
@mohanarpit  Can i take this issue? or is it done

[2020-10-03 07:49] Jain-Sanchit commented on #836
@Nikhil-Nandagopal  Can you please elaborate the issue , I would like to work on this.

[2020-10-03 07:59] Jain-Sanchit commented on #661
@hetunandu  I want to start contributing to this repo and I found it interesting  , there are a lot of things to contribute to . Can i take this up ? Can you assign me .

[2020-10-03 08:01] Jain-Sanchit commented on #662
@hetunandu  Can you assign me this task , I am looking to start contributing to this repo.

[2020-10-03 08:05] hetunandu commented on #661
Hey @Jain-Sanchit, welcome to Appsmith! Happy to so excited about contributing here 😄

I have assigned this issue to you. Make sure you raise a PR within 2 days. You should also tag your friends in the PR to get a chance to win extra hacktober fest goodies from Appsmith. Read our hacktober fest [discussion](https://github.com/appsmithorg/appsmith/discussions/863) for more details

[2020-10-03 08:07] Jain-Sanchit commented on #661
@hetunandu  Sure Sir , I will try to raise a PR within time and will share this with friends.

[2020-10-03 08:09] hetunandu commented on #662
Hey @Jain-Sanchit ! Glad to see you excited to contribute. I have assigned this issue as well to you. Make sure you create different PRs for each issue you take up.

[2020-10-03 08:24] utkarshbajaj commented on #859
Here: https://github.com/appsmithorg/appsmith-docs/pull/25
I cannot reference it directly here as the correction is in a different repo (docs repo)

[2020-10-03 08:34] satbir121 commented on #717
@avats-dev
The steps here are not complete. Please follow the following steps to reproduce it. Two accounts are needed to reproduce this issue. I am going to reference them as `account1` and `account2`
Steps:
1. Login using `account1`. Create an application `app1`. Invite `account2` as `AppViewer`
2. Login as `account2`and launch `app1`.
3. Click on 'Share' --> A modal popup opens up
4. Click outs

[2020-10-03 08:34] hetunandu commented on #826
Hey @OmkarPh, thanks for you interest in Appsmith! The problem is we already have a template in our .github folder [here](https://github.com/appsmithorg/appsmith/blob/release/.github/PULL_REQUEST_TEMPLATE/pull_request_template.md) Can you see why does that not work? We have followed the guide mentioned [here](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/creati

[2020-10-03 08:39] hetunandu commented on #894
Hey @Hard-Coder05! Welcome to Appsmith 🎉 Love your enthusiasm to improve our repo during Hacktoberfest. Unfortunately this issue is already raised and someone is already working on it. I welcome you to go through our [Good first issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22) or create a new one by testing the application at [app.appsmi

[2020-10-03 08:39] hetunandu commented on #894
Duplicate of #826

[2020-10-03 08:39] #894 closed

[2020-10-03 08:43] #661 closed

[2020-10-03 08:47] OmkarPh commented on #826
Well, thanks @hetunandu for this opportunity,
Please give me some time, I'll try my best to search for the cause and work out something, It's good to work with you guys 😄

[2020-10-03 08:58] satbir121 commented on #717
Solution: Please add `canOutsideClickClose` in the `FormDialogComponent` in the following file.
[link to file](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/AppViewer/viewer/AppViewerHeader.tsx#L214)

[2020-10-03 09:52] #710 closed

[2020-10-03 11:08] visibleajay commented on #765
@riodeuno Unable to reproduce it on cloud. @Saket2 Is it still happening?

[2020-10-03 11:31] Saket2 commented on #765
@riodeuno , @visibleajay  - Replicated it just now.

[2020-10-03 11:43] visibleajay commented on #765
@Saket2 Adds a single space when no space is present on pressing of special char. Then works as expected. Thank You for the time.

[2020-10-03 11:58] Yashs911 commented on #858
Hi, @mohanarpit @Nikhil-Nandagopal I would like to work on this issue.

[2020-10-03 11:59] Saket2 commented on #765
@visibleajay Edited the bug title and bug description.

[2020-10-03 12:08] OmkarPh commented on #826
Hi @hetunandu,
I tried ways of adding a PR template.md file:
- Repository/pull_request_template.md   <- This works
- Repository/.github/pull_request_template.md   <- This works
- Repository/.github/PULL_REQUEST_TEMPLATE/pull_request_template.md   <- This doesn't work , **But**

### I researched a bit and found out that, if I trigger a PR to appsmith repo by appending this query at end of PR URL:
#

[2020-10-03 13:52] harishkotra commented on #817
@mohanarpit no above-them for this one?

[2020-10-03 14:10] hetunandu commented on #826
Hey @OmkarPh thanks for the detailed response. I get the issue now, will raise this up with GitHub support. Meanwhile I think we can go ahead with moving the template under `.github` directory. Please raise a PR and assign me for review.

[2020-10-03 14:37] OmkarPh commented on #826
Yep I'll do it

[2020-10-03 14:38] OmkarPh commented on #826
It's a good feeling to be helpful 😄

[2020-10-03 16:06] rishavjaiss commented on #652
@hetunandu Hi, I need to know where exactly are the frontend files located in the repo.

[2020-10-03 16:56] gogetter22 commented on #858
I have raised the PR for this issue https://github.com/appsmithorg/appsmith-docs/pull/32

[2020-10-03 17:14] kichloo commented on #858
@Nikhil-Nandagopal Kindly assign this issue.

[2020-10-03 17:36] Rahul-160 opened #903 "[Feature] Add animation to UI components"
## Summary
My idea is to make some animations for better presentation to user. Animations while tapping a button and tabs etc. If we take an example of popular games like PES 2020, you can see that if we are tapping on a button, then the sub options will be seen after a little animation. It can give good effects while using the app. That's all I'm trying to say. Thank you.

## Motivation
It will b

[2020-10-03 17:50] mohanarpit commented on #903
@Rahul-160 Can you please elaborate? What sort of animations are you referring to? Any example that you can link to?

[2020-10-03 17:51] satbir121 commented on #678
@Saket2 Please update [this file](https://github.com/appsmithorg/appsmith/blob/release/contributions/ClientSetup.md)

[2020-10-03 18:09] srivickynesh opened #904 "[Docs] Change docker section steps number to correct values"
## Documentation Link

https://docs.appsmith.com/quick-start#docker

## Describe the problem

The steps mentioned in docker section shows step number as 1 for all steps mentioned in this section.

## Describe the improvement

Changing the number of the step to 1,2,3 and 4 would be more readable and understandable.

[2020-10-03 18:23] JamesT44 commented on #904
Could I work on this issue?

[2020-10-03 18:32] srivickynesh opened #905 "[Docs] Two steps points to same step number in google maps section"
## Documentation Link

https://docs.appsmith.com/third-party-services/google-maps

[2020-10-03 18:39] JamesT44 commented on #904
I've added a PR for this. Please let me know if anything needs changing.

[2020-10-03 18:39] satbir121 commented on #731
There is two type of pagination for table widget: Client side and Server side. The pagination is client-side by default. In client side pagination, onPageChange is not getting triggered but it gets triggered for server side pagination.

[2020-10-03 18:40] satbir121 commented on #731
This might not be a good first issue because the Paginator implementation might need some refactor.

[2020-10-03 18:44] satbir121 commented on #699
@Nikhil-Nandagopal A solution can be to add a max of 3 lines for the app name and then show an ellipsis.

[2020-10-03 18:53] mikeattara commented on #905
Hello @Nikhil-Nandagopal and @srivickynesh,

I will like to take this up

[2020-10-03 18:58] Malvika18 commented on #807
hey  i want to contribute

[2020-10-03 19:09] utkarshbajaj commented on #859
Hey, I have updated it again!

[2020-10-03 19:14] satbir121 commented on #807
Hello @Malvika18 This issue has been to @daniloff200.

[Here are other good first issues](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22) you can chose from.

[2020-10-03 19:18] #717 closed

[2020-10-03 19:19] avats-dev commented on #796
@hetunandu I want to work on this. Can you help me out a bit in resolving this? Thanks.

[2020-10-03 19:23] avats-dev commented on #774
@Nikhil-Nandagopal I can also work on this one if anyone can help me a bit in resolving this. Thanks.

[2020-10-03 19:23] avats-dev commented on #720
@satbir121 @Saket2 How can this be resolved?

[2020-10-03 19:25] satbir121 commented on #652
@rishavjaiss [here is the file](https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/Editor/PropertyPane/PropertyHelpLabel.tsx)

[2020-10-03 19:30] Saket2 commented on #678
Raised the pull request https://github.com/appsmithorg/appsmith/pull/907

[2020-10-03 19:50] A-Scratchy commented on #735
Hi, May I request this issue be assigned if it is still free? Happy to contribute :-)

[2020-10-03 19:51] satbir121 commented on #720
Fixes needed:
1. By default the text only breaks into a new line if there is a space. This can be fixed using `word-break: break-all;`
2. There should max be three lines in the app name. Follow [this link](https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css) for details on how to implement that.
3. When the name is in ellipsis, the full name should show up in a toolt

[2020-10-03 19:55] satbir121 commented on #735
Sure @A-Scratchy Assigning it to you. Please read our [contribution guidelines](https://github.com/appsmithorg/appsmith/blob/release/CONTRIBUTING.md).

Please reach out if you need any help.

[2020-10-03 19:59] satbir121 commented on #903
@Rahul-160 Thanks for reaching out and helping us to make Appsmith better! We really appreciate it!

A small feedback: Please rename the issue to `Add animations to UI components`.

[2020-10-03 20:07] satbir121 commented on #603
@Nikhil-Nandagopal Could not reproduce the issue. UI breaks and the dropdown might not be in the viewport in few machines. A possible solution would be to fix the length of org name and add an ellipsis to the dropdown.

[2020-10-03 20:12] avats-dev commented on #720
Ok, getting on this, will let you know soon. Thanks @satbir121 for the help.

[2020-10-03 21:00] blenderskool commented on #713
@Nikhil-Nandagopal Can I try working on this?

[2020-10-03 21:04] satbir121 commented on #713
@blenderskool Sorry this is a duplicate issue. Please take a look at other issues on[ this link](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22)

[2020-10-03 21:05] #713 closed

[2020-10-03 21:07] satbir121 commented on #713
#603 #735 Duplicate

[2020-10-03 21:08] satbir121 commented on #603
Duplicate #713 #735

[2020-10-03 21:08] #603 closed

[2020-10-03 21:11] blenderskool commented on #636
@Nikhil-Nandagopal @satbir121 Would love to work on this if this is still valid :slightly_smiling_face:

[2020-10-03 21:14] MartinTuroci commented on #673
Would like to work on the issue.

[2020-10-03 21:17] satbir121 commented on #636
Assigning issue to @blenderskool