[2021-12-23 20:11] leotom2000 commented on #9648
**Issue Resolution Summary :**
There were two findings causing this issue.
(1) UPDATE_LIMIT should be updateMany.Limit instead of update.Limit , only then it may parse and set the multi attribute as true, earlier it was always false. Made that code change.
(2)  "$set" is an attribute required in the later Mongo 4 version and above, since the development started in the earlier version it was not ha

[2021-12-23 20:13] Rishabh-Rathod commented on #7484
When checking the execute API request params

### Currently
<img width="1051" alt="Screenshot 2021-12-24 at 1 38 38 AM" src="https://user-images.githubusercontent.com/23132741/147287502-645898e3-c571-4a2e-8e0f-2230e8eee1e7.png">

### Expected
<img width="1260" alt="Screenshot 2021-12-24 at 1 39 12 AM" src="https://user-images.githubusercontent.com/23132741/147287512-04259ace-9625-4bb0-a66a-7eae60c

[2021-12-23 22:18] Rishabh-Rathod commented on #9922
This issue seems to be related to list widget's `getItems` and how that is evaluated.

## DataTree list widget items

#### 1st Upload
<img width="745" alt="Screenshot 2021-12-24 at 3 42 39 AM" src="https://user-images.githubusercontent.com/23132741/147295717-11a0cef4-6aa7-4e84-8cf0-f6461a608407.png">

#### 2nd Upload ( After form submit and reset of all widgets inside form )
<img width="1230" alt=

[2021-12-23 23:39] nickanti commented on #9973
I believe there is already a ticket on this here:
https://github.com/appsmithorg/appsmith/issues/5445

[2021-12-24 02:29] ohansFavour commented on #8943
This can be solved by either increasing the padding to the right of the jsObject codeEditor or conditionally using the `selfContain: true` option to render the tooltip inside the editor instance.

[2021-12-24 03:06] danciaclara opened #9976 "[Feature]: Autocomplete widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Autocomplete widget allows users to quickly find values from a list by providing suggestions as you type.

When typing in the autocomplete widget, it starts searching for entries that match and displays a list of values to choose from. By entering more characters, the user can filter down the list to

[2021-12-24 03:47] #9685 closed

[2021-12-24 04:30] abhvsn opened #9977 "[Bug]: After setting the custom URI for MongoDB and Redis corresponding containers should not be created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we provide the custom URI for MongoDB and Redis still we can see corresponding containers are up, which is not the expected behavior as users have deliberately opted for this option to not run containers in their self-hosted setup.

### Steps To Reproduce

1. Update the env vars for Mong

[2021-12-24 05:22] #7305 closed

[2021-12-24 05:36] dilippitchika commented on #9953
Sample image of the markers in the map, also the support from displaying labels on map

![image](https://user-images.githubusercontent.com/19730984/147320766-35c9f3f0-2fc5-494e-98f7-ba3b74397341.png)

[2021-12-24 05:39] dilippitchika commented on #9949
@riodeuno yes, the ideal implementation will need an order to sort. Tagging below an example of how notion does it.
![Screenshot 2021-12-24 at 11 08 17 AM](https://user-images.githubusercontent.com/19730984/147320924-76bd826b-50c3-4e34-a2a4-ca9c5850a723.png)
t

[2021-12-24 05:47] dilippitchika commented on #9970
@jsartisan can you help me understand why this behaves like this? Is it by design?

CC : @momcilo-appsmith

[2021-12-24 05:50] #8437 closed

[2021-12-24 06:08] billyrudi commented on #9949
it seem good: this will be not at designe time right? i think that the right location is where we have the filter settings.

[2021-12-24 06:08] dilippitchika commented on #9468
Applicable to all fields with JS input option. @somangshu is this something we pick up or for FE coders or UI Builders pod?

![Screenshot 2021-12-24 at 11 36 46 AM](https://user-images.githubusercontent.com/19730984/147323139-78ede2de-62f4-4db6-ab32-bbde6e2d54ff.png)

[2021-12-24 06:11] hetunandu commented on #6276
fixed with #8988

[2021-12-24 06:11] #6276 closed

[2021-12-24 06:11] hetunandu commented on #6277
Fixed with #8988

[2021-12-24 06:11] #6277 closed

[2021-12-24 06:33] dilippitchika commented on #9568
This is exactly the same issue, I faced when I was developing my first app. I had added the binding for page change onListItemSelected, had to reset that to no action as long as I was working on the list.
This issue applies to all widgets but will cause the most pain to users of List (onlistitemselect) and Table (onRowSelect) widgets.

There are 2 ways to show property panes,
1. On clicking any wi

[2021-12-24 06:35] japrogramer opened #9978 "[Feature]: Access to the window object for js in apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I need access to the window object from within the app widgets or js function calls in appsmith.

### Why should this be worked on?

There are features like retrieving the current path and accessing object properties stored
in the window object.

[2021-12-24 06:42] billyrudi commented on #9978
yes, this function is very usefull

[2021-12-24 06:45] #9145 closed

[2021-12-24 06:58] hetunandu commented on #9267
Fixed with #9773

[2021-12-24 06:58] #9267 closed

[2021-12-24 07:05] ApekshaBhosale opened #9979 "[Task]: Do not save js object variable data in the backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- js object variables need to be able to reset values
- create dependency with variables

[2021-12-24 07:09] dilippitchika opened #9980 "Missing Document Viewer widget documentation"
@Pranay105 added the documentation for the document viewer widget here. https://www.notion.so/appsmith/Document-Viewer-1a36c9ff38b3440eb3d47ac41341bd90

Please review this and let me know

[2021-12-24 07:25] #9893 closed

[2021-12-24 07:30] arunvjn commented on #9060
**Update - 24 Dec**

**Next action items - Dev**

- Different Hover states for Sections in explorer (Widgets, Queries/JS Objects).
- Align all explorer icons.
- Keep DB schema collapsed by default.
- Chevron icons for entity explorer pin/unpin.

**Next action items - UI/UX**

- Callout to introduce the new explorer.
- “Add new” buttons to the sections in the entity explorer.
- Empty state for the

[2021-12-24 07:51] keyurparalkar commented on #9877
@somangshu , currently the package used for the audio widget does not have prop to set the default volume.

We can try setting up the `volume` prop of the reactPlayer via property just like the map widget's default zoom level.

The problem with this approach I found was, the value getting reseted to the initial volume whenever you seek the player .

[2021-12-24 08:19] #9642 closed

[2021-12-24 09:19] somangshu commented on #9953
@dilippitchika for the icon to be used can we use the same control present in button etc?

[2021-12-24 09:23] somangshu commented on #9970
This is a bug @dilippitchika, This is not happening for the older widgets. The alignment by default should be centered as shown on the property pane.

cc @techbhavin

[2021-12-24 09:31] #9188 closed

[2021-12-24 09:35] dilippitchika commented on #9953
That will be work @somangshu

[2021-12-24 09:37] somangshu commented on #9659
@ramsaptami What message is conveyed looking at the icon according to you? I perceived this to be download from cloud.

@momcilo-appsmith need you comments here.

[2021-12-24 09:41] somangshu commented on #9877
Until the default volume onload, specially on the view mode is at the set value, We are good to go @keyurparalkar

[2021-12-24 09:46] somangshu commented on #9468
I would say this should go to the FE coders pod because the evaluations missed something on reload, They Might be able to tell us better what happened under the hood

[2021-12-24 09:51] #9484 closed

[2021-12-24 09:58] RakshaKShetty opened #9985 "[Bug]: Misalignment of page setting tooltip"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Misalignment of page setting tooltip in page setting page
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/bb291929495c4582ae2ea1e13ae9448f-00001.gif)](https://www.loom.com/share/bb291929495c4582ae2ea1e13ae9448f)

### Steps To Reproduce

1. Go to the page properties pane
2. Add 4 page
3.

[2021-12-24 10:01] #8382 closed

[2021-12-24 10:02] nayan-rafiq opened #9986 "[Bug]: Reloading the page shows the red dot on whats new"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I reload the page, the red dot on "Whats new" reappears. It also shows wrong message - "Released 6 days ago" but the modal shows new release was today.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b1c636da067e4fdab9e4267994261b59-00001.gif)](https://www.loom.com/share/b1c636da067

[2021-12-24 10:02] #8000 closed

[2021-12-24 10:04] somangshu commented on #2308
@vuiets I thought what we discussed was a bit different. Application layout is related to this and hence the following:
- Designing the application
    - Application layout
    -   Dragging and Dropping Widgets
        - Reflow and Resize

Building Dynamic UI is more about the JS option or Reactive paradigm and hence deserves more visibility

[2021-12-24 10:05] keyurparalkar commented on #9877
@somangshu , didn't get you. Can please you rephrase it?

[2021-12-24 10:08] somangshu commented on #9877
Since you said that

I think its fine if the default volume set is as is on page load. Lets discuss this on DM if required

[2021-12-24 10:13] somangshu commented on #9746
After doing some research around this we found out that we cannot modify the header value unless we have an access to the headers, Right now we do not have a direct solution to this and henceforth deprioritising it

[2021-12-24 10:43] RakshaKShetty opened #9987 "[Bug]: Misalignment of Close and delete icon when user has a long page name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Misalignment of Close and delete icon when the user has a long page
![image](https://user-images.githubusercontent.com/45958978/147905584-a3f0d3c3-d43e-45c2-ad78-3817bd48aaaf.png)

### Steps To Reproduce

1. Go to page setting tab
2. Click on gear icon
3. inside the pop up verify the display

[2021-12-24 10:59] somangshu commented on #9877
Based on the last discussion for this we will need to depend on the new package and shall we taken up when we decide to do v2

[2021-12-24 11:02] cokoghenun commented on #9973
You're right. Closing this

[2021-12-24 11:02] #9973 closed

[2021-12-24 11:15] abhvsn opened #9989 "After disconnecting the application from git getting resource not found error, when the resource is merged from other branch"

[2021-12-24 11:34] RakshaKShetty opened #9991 "[Bug]-[48000]:The other page name changes by default when users change any one page name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The other  page name changes by default when users change any one-page name
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/af3e4e7d840e498385bac2ba8459e3d4-00001.gif)](https://www.loom.com/share/af3e4e7d840e498385bac2ba8459e3d4)

### Steps To Reproduce

1. Go to page properties tab
2.

[2021-12-24 12:06] momcilo-appsmith commented on #4645
@dilippitchika I and @vasanth-appsmith will work on this as a part of the content tab project (property pane audit and changes). Do you want to be included into this project?

[2021-12-24 12:09] momcilo-appsmith commented on #9970
@somangshu agreed. I don't think this needs design input, this is a bug that needs to be fixed.

[2021-12-24 12:11] dilippitchika commented on #4645
Hey @momcilo-appsmith sure, I can help with the review and audit

[2021-12-24 12:12] momcilo-appsmith commented on #9659
@somangshu @ramsaptami Can you try this one and send me how it looks? https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=1140%3A12248

It actually is that icon to upload but rotated so we could change it.

[2021-12-24 12:17] #9898 closed

[2021-12-24 12:47] sharat87 commented on #9977
Was this seen on an ECS setup or anywhere?

[2021-12-24 12:49] Rishabh-Rathod opened #9992 "[Bug]: JSON parse fail for execute API due to special characters in string."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior
<img width="1438" alt="Screenshot 2022-01-04 at 6 27 16 PM" src="https://user-images.githubusercontent.com/23132741/148062570-ab34d1f8-bb4c-406f-823d-f25a8ae1da3b.png">

When the user has an input widget added for multi-line input and the value entered has a newline character (because the user

[2021-12-24 13:50] abhvsn commented on #9977
This is for ECS setup.

[2021-12-24 13:59] #7754 closed

[2021-12-24 14:07] #7033 closed

[2021-12-24 14:12] #7713 closed

[2021-12-24 14:48] mohanarpit opened #9996 "[Feature]: Allow users to turn off auto update & manually update their instance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We should allow users to turn off auto-update from the "Admin Settings" page. As a user, I should also be able to click a button on the Settings page & update my Appsmith instance manually. This is in addition to the maintenance window that we already allow users to define in the `docker-compose.yml`

[2021-12-24 18:07] dsakaria16 commented on #9572
@ajinkyakulkarni @rohan-arthur when do we expect this to get resolved?

[2021-12-24 20:05] #8427 closed

[2021-12-25 04:55] #9408 closed

[2021-12-25 05:24] mohanarpit commented on #9996
We can leverage Watchtower's [HTTP API](https://containrrr.dev/watchtower/http-api-mode/) to power the "Update Now" button.

[2021-12-25 05:48] mohanarpit commented on #8088
Closing this issue for now. If this is still a concern, please re-open the issue along with the PR. Sorry for the delay in getting to this issue.

[2021-12-25 05:48] #8088 closed

[2021-12-25 09:55] #9888 closed

[2021-12-25 11:34] sentry-io[bot] opened #9999 "NullPointerException"
Sentry Issue: [APPSMITH-1GE](https://sentry.io/organizations/appsmith/issues/2882957823/?referrer=github_integration)

[code]

[2021-12-25 11:39] abhvsn commented on #9807
This is happening because of the instanceObject is not getting serialised for deletedAt field. I'll look into it

[2021-12-25 15:59] #5868 closed

[2021-12-25 18:35] areyabhishek commented on #9991
@RakshaKShetty this is a pretty bad bug. Is this easy to reproduce even with small number of pages? Asking because I can't reproduce this.

[2021-12-25 18:37] abhvsn opened #10000 "[Bug]: Unable to find Appsmith droplet on digital ocean marketplace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

As per the doc we have an Appsmith droplet on the Digital ocean marketplace, but currently, it's throwing an error as no droplet was found.

Ref link : https://marketplace.digitalocean.com/apps/appsmith ,

### Steps To Reproduce

1. Open the ref link
2. Check the error

### Environment

Produ

[2021-12-26 05:39] nayan-rafiq opened #10001 "[Bug]: The reset widget option has wrong value for dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I click the "on click" of an button and select the reset widget option, it shows wrong value under the "Reset Children" dropdown. Initially it shows true and onlclick it becomes Yes/No.
<img width="1061" alt="Screenshot 2021-12-26 at 11 29 24 AM" src="https://user-images.githubuserconten

[2021-12-26 11:17] nidhi-nair commented on #8888
This has been fixed by #8713

[2021-12-26 11:17] #8888 closed

[2021-12-26 13:09] sentry-io[bot] opened #10002 "NullPointerException"
Sentry Issue: [APPSMITH-1GF](https://sentry.io/organizations/appsmith/issues/2882958981/?referrer=github_integration)

[code]

[2021-12-26 18:56] sbalaji1192 commented on #9119
@vivekverma2312 please test this on - https://appsmith-git-fix-improved-input-widget-validation-get-appsmith.vercel.app/applications/61976b5f86af5222e17018e0/pages/61976b5f86af5222e17018e2/edit

[2021-12-27 05:00] #8481 closed

[2021-12-27 05:06] kocharrahul7 commented on #9661
These are the points from last weeks discussion:

1. catch-ups rescheduled to Mondays
2. We are working on the first few templates for AppSmith. We are using the process of reskinning the old templates to modernise them.
3. Discussed the template landing page, and settled on a simplistic design, which will bring emphasis to the actual app rather than a GIF or screenshots.

Points to discuss this w

[2021-12-27 05:07] dilippitchika commented on #9949
Hey @billyrudi yes, this not at the design time but in the filter settings.

[2021-12-27 05:28] rishabhsaxena opened #10003 "[Task]: Show repo limit reached error at the generate key step"
### Is there an existing issue for this?

Show error before generating the ssh keys in case the limits are over for private repos.

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-12-27 05:32] rishabhsaxena opened #10004 "Verify git documentation links are not hardcoded on the frontend"
- [ ] ssh url input
- [ ] ssh key box
- [ ] conflicts found: (deploy / merge tabs and bottom bar popup)
- [ ] disconnect popup
- [ ] repo limit reached modal
- [ ] error while connecting at the connection tab
- [ ] push error: pending upstream changes at the deploy tab

[2021-12-27 05:35] #9209 closed

[2021-12-27 07:47] rohan-arthur commented on #6215
_As a user, when I am working on a query, I should know which datasource the query is derived from so that I can differentiate between queries using similar URLs_

[2021-12-27 07:51] rohan-arthur commented on #6862
@Irongade help with reproducing this error, and also to clarify where the error is coming from (service or appsmith server).

[2021-12-27 07:55] prapullac commented on #9485
On refresh a message is displayed stating  "Invalid URL : The page you’re looking for either does not exist, or cannot be found" along with a "GO back" button clicking on this button the user is lead to Datasource page
Hence closing the issue

[2021-12-27 09:06] danciaclara commented on #2308
@Pranay105 How about this?

**Core Concepts**
- Designing the application
  - Application layout
  - Working with Widgets
    - Drag and Drop
    - Reflow and Resize
- Building Dynamic UI
  - Controlling Widget Visibility

[2021-12-27 09:25] sbalaji1192 opened #10007 "[Bug]: should allow empty string as value in array type properties in multiple widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Due to our recent property [validation related fixes](https://github.com/appsmithorg/appsmith/pull/9476), Multiple widgets are not allowing empty string as values. This was working before and now it's breaking some of the user's applications.

- [x] Checkbox group widget
- [x] MultiSelecttree

[2021-12-27 09:32] nayan-rafiq opened #10008 "[Bug]: Import application is broken if app was exported without theme"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

An exported application without theme can be imported but can not be deployed.

### Steps To Reproduce

1. Export an application
2. Remove the themes from exported JSON
3. Import the JSON file
4. Try to publish the app

### Environment

Release

### Version

Cloud

[2021-12-27 09:36] Pranay105 commented on #2308
@danciaclara, this TOC looks good. However, we might have to think about making this easily discoverable.

[2021-12-27 10:03] somangshu commented on #2504
Action Items:

- Should we have a clear functionality `product feedback` @dilippitchika
- The Accordion looks like a select, User might feel confused, @vasanth-appsmith will look for the best scenario
- required fields should be visually depicted to the user @vasanth-appsmith
- Bug fixes related to the input error state.
- Test plan @vivekverma2312

[2021-12-27 12:04] #3315 closed

[2021-12-27 12:04] #3779 closed

[2021-12-27 12:04] #9223 closed

[2021-12-27 12:12] rishabhsaxena opened #10017 "Handle cases where the `git clone` locally is taking unexpectedly long and the api call times out"
This is currently being faced while running the cypress tests. If this is something that could happen during actual usage, this UX should be handled on the app.

[2021-12-27 12:14] abhvsn opened #10018 "[Bug] Handle timeout error gracefully for git-sync"
Today we are directly throwing the error after the timeout, this needs to be handled as cloning, pushing (communication with remote) might take more time

[2021-12-27 12:20] rishabhsaxena commented on #10017
duplicates #10018

[2021-12-27 12:20] #10017 closed

[2021-12-27 13:00] keyurparalkar commented on #9834
To solve this issue, we have decided to go with keeping value present in the default selected value to be evaluated to integer if it's mushtach binding. We will also change the expected type and example in the evaluated value popup.

CC: @somangshu @dilippitchika @Nikhil-Nandagopal

[2021-12-27 13:47] israrwz commented on #10007
Besides the empty value, the issue also exists when an option's value is 0 (zero).

[2021-12-27 15:58] aznj commented on #4608
Any update on this issue?

[2021-12-27 16:18] tbatista-fuze commented on #9624
thanks

[2021-12-27 19:14] dilippitchika commented on #6928
Duplicate of #6928 (https://github.com/appsmithorg/appsmith/issues/6928)

[2021-12-27 19:15] dilippitchika commented on #9976
Duplicate of #6928 (https://github.com/appsmithorg/appsmith/issues/6928)

[2021-12-27 19:15] #9976 closed

[2021-12-27 19:16] dilippitchika commented on #6928
Another community request for the feature #9976

[2021-12-28 04:38] RakshaKShetty commented on #9991
Yes @areyabhishek. I could repro this issue with a small number of pages this is the link to repro the issue https://www.loom.com/share/8faaa59ee264416da5ee7726b355febc

[2021-12-28 05:04] sbalaji1192 commented on #10007
@israrwz Actually I'm able to use 0 as the value in select widget options. Could you give me an example options array where it's throwing an error?
![Screenshot 2021-12-28 at 10 31 36 AM](https://user-images.githubusercontent.com/5328605/147529978-120af8e4-dc71-40dd-857b-4dd59d52528d.png)

[2021-12-28 05:13] rohan-arthur commented on #9849
removing the "release blocker" tag after discussion with @prapullac - this is browser behaviour, will continue to look for behaviour in other services.

[2021-12-28 05:27] #9989 closed

[2021-12-28 06:09] abhvsn opened #10023 "[Bug]: Unable to fork imported application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I'm trying to fork an imported app it is throwing `internal server error` but the application is getting forked. When I checked the server logs error this is happening because of the `themeId` is not available for edit and view mode. Also a major concern is that I can't publish this fork

[2021-12-28 06:25] vivekverma2312 commented on #9119
@sbalaji1192 Observed new issue after fix for issue2
6. Default data populated after deleting the value in Input widget https://www.loom.com/share/2119a982b083410481ce0bd6be0d7e68
#7810 and #8012 still exist

[2021-12-28 06:28] dilippitchika commented on #9479
@YogeshJayaseelan can you check if this is fixed now? This issue was merged to release based on #8712.

[2021-12-28 06:59] YogeshJayaseelan commented on #9479
@dilippitchika Verified this and no validation error occurs now

[2021-12-28 07:04] hetunandu opened #10026 "[Bug]: Input updates with default values are not captured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This happens intermittently. At times the input widget value with default value does not update correctly

### Steps To Reproduce

This happens intermittently

- Have a table row value bound to an input widget default value
- Call a query/Api to save these inputs
- Switch rows and update the

[2021-12-28 07:15] #9802 closed

[2021-12-28 07:36] vivekverma2312 opened #10027 "[Bug]: Token is getting generated when we use v3 recatchaKey and keep captcha version as v2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/15d9839a05184eb081ce847c0f8e638e-00001.gif)](https://www.loom.com/share/15d9839a05184eb081ce847c0f8e638e)

### Steps To Reproduce

1. Drag and drop a Button widget
2. Enter recatcha v3 key and keep version as v2
3. Click on Button widget
4

[2021-12-28 07:48] trishaanand opened #10028 "SSO : Admin API integration of server and keycloak for configuration of iDP"

[2021-12-28 08:31] chandannkumar commented on #4990
Issue still exists.
Expected Behavior: default selected row should always be the same as selectedRow by user in both the cases

[2021-12-28 08:42] abhvsn commented on #7411
@Rishabh-Rathod can we close this if already been taken care of?

[2021-12-28 09:06] Rishabh-Rathod commented on #7411
The frontend part of it is not yet completed.

[2021-12-28 09:14] Nikhil-Nandagopal commented on #8353
This is now done

[2021-12-28 09:14] #8353 closed

[2021-12-28 10:01] YogeshJayaseelan opened #10030 "[Bug]: Unable to edit the sub menu options in most of the widgets after repositioning the sub menus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that unable to edit the sub menu options by clicking on the settings icon in most of the widgets like Button group widget, Table column edit, Tab widget

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c95928912e11456bab53751c8175fd54-00001.gif)](https://www.loom.com/shar

[2021-12-28 10:31] chandannkumar opened #10031 "[Bug]: Not able to hide/open settings for Table columns in property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In property pane of table's column, user is unable to hide/open setting on release environment

### Steps To Reproduce

https://loom.com/share/825a13b605eb42fab8778b947430fa84

### Environment

Release

### Version

Cloud

[2021-12-28 10:39] #9677 closed

[2021-12-28 10:46] #10031 closed

[2021-12-28 10:47] chandannkumar commented on #10031
closing this as there is an similar issue exists already with id #10030

[2021-12-28 11:04] sbalaji1192 commented on #9119
@vivekverma2312 fixed #6.
Regarding #7810, It seems like an issue with evaluations not with input widget itself. Will further discuss about this with @somangshu .
Regarding #8012, It is working as expected. The app provided by the user has work around in validations logic, so it is failing with input widget v2. you need to edit the logics and use appropriate dataype to make it work.

[2021-12-28 11:18] leotom2000 commented on #5005
Below are few scenarios analysed and we need to discuss it those need to be fixed.

![image](https://user-images.githubusercontent.com/8027694/147561027-8dbf432b-b415-4b60-bdde-d1f3653b49fc.png)

[2021-12-28 11:21] Nikhil-Nandagopal commented on #5514
@ankurrsinghal it doesn't seem like it. If you're keen please go for it!

[2021-12-28 11:23] Nikhil-Nandagopal commented on #9969
@areyabhishek @abhvsn I believe the correct solution here should be to ellipsize the name so it's clear that it is being truncated and if you hover you will probably see the full name.

[2021-12-28 11:24] Nikhil-Nandagopal commented on #9568
@dilippitchika as discussed, I believe the real problem here is a child widget's click should not trigger the parent widget in the list.

[2021-12-28 12:00] #9372 closed

[2021-12-28 12:00] ashit-rath commented on #2504
Action Items:
- Solve for the best way to sanitize/represent JSON keys that cannot be referenced with a dot (.) notation (eg "first name")

[2021-12-28 12:09] aswathkk opened #10032 "[Task]: Add focus state for toggle component in property pane"
This needs to be done so that users can identify the component in focus on pressing Tab

Refer the Design system here: https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4771%3A23942

[2021-12-28 12:45] keyurparalkar opened #10033 "[Bug]: Columns in the property pane changes on repeated clicking. Focused state color is black"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I click on any of the columns in the columns property of the table widget repeatedly, then the columns change their position automatically i.e. columns swap automatically.
Also, it is observed that the focused state color has changed to black, as previously it was orange.

Please find be

[2021-12-28 14:10] Nikhil-Nandagopal commented on #10026
@hetunandu @rohan-arthur shouldn't we solve this with the stability issues epic? Seems like a stability issue to me

[2021-12-28 14:23] danysz commented on #3920
any plans about it ?

[2021-12-28 15:52] Nikhil-Nandagopal commented on #3920
Hi @danysz! We haven't planned this feature. We'll pick it up if we see a little more requests for it but as of now it hasn't ranked very high on our community requests

[2021-12-28 15:58] sentry-io[bot] opened #10035 "[Bug] Error: Cyclic dependency, node was:"MenuButton1Copy2.menuItems""
Sentry Issue: [APPSMITH-1G8](https://sentry.io/organizations/appsmith/issues/2882444145/?referrer=github_integration)

[code]

[2021-12-28 17:54] sbalaji1192 commented on #3369
Next actions:
- API integration - @jsartisan @nayan-rafiq
- Cypress tests for view mode - @jsartisan
- QA testing - @vivekverma2312

[2021-12-28 21:11] tomhollingworth commented on #2430
I'd be keen to add in https://unpkg.com/mqtt/dist/mqtt.min.js for MQTT communication via WebSockets.

An alternative solution would be some kind of WebSocket data source.

[2021-12-29 04:50] mohanarpit commented on #821
@ohansFavour I'm reopening this issue because there's a bug in the implementation. When typing out a URL with bindings, the evaluated value pane shows duplicates. Once I refresh the page, the evaluated pane shows the correct value.

Please check the screenshot for details.
<img width="1234" alt="Screenshot 2021-12-29 at 10 18 00 AM" src="https://user-images.githubusercontent.com/458946/147628340-7

[2021-12-29 05:05] dilippitchika commented on #10033
Having trouble reproducing, checking with @keyurparalkar

[2021-12-29 05:28] dilippitchika commented on #10001
Happens for every widget whenever an action is changed to reset widget.

In the behavior described above, by default the reset widget function parameter for reset children is empty. When empty, we are defaulting it to true and it is shown in the select field for reset children.
<img width="269" alt="Screenshot 2021-12-29 at 10 54 38 AM" src="https://user-images.githubusercontent.com/19730984/14763

[2021-12-29 05:30] #6842 closed

[2021-12-29 05:39] dilippitchika commented on #10033
Ok, not reproducible in production but in release and dp. I guess we broke something in this component itself as this issue is also reproducible in tabs. Can we please prioritise this? else I guess this will impact production next @somangshu @sbalaji1192

<img width="287" alt="Screenshot 2021-12-29 at 11 07 41 AM" src="https://user-images.githubusercontent.com/19730984/147630634-46e04385-a3d1-4d25

[2021-12-29 05:40] sentry-io[bot] opened #10037 "[Bug] AppsmithException: "widgetType" : "TABLE_WIDGET", "bindingPath" : "derivedColumns.customColumn2.computedValue", ..."
Sentry Issue: [APPSMITH-1G0](https://sentry.io/organizations/appsmith/issues/2880419545/?referrer=github_integration)

[code]

[2021-12-29 05:41] #9932 closed

[2021-12-29 05:43] dilippitchika commented on #9969
Do we have any standards in our design system or developed components on when to show ellipsis? We can just follow that to show it. If not, then can we include this problem in the design system?

[2021-12-29 05:58] sbalaji1192 commented on #10033
@dilippitchika +1

[2021-12-29 06:00] Nikhil-Nandagopal opened #10038 "[Bug]: Select gets reset on navigation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When navigating an a query, the selected value on the canvas gets reset

### Steps To Reproduce

1. Drag a select
2. Select BLUE
3. Create a query
4. Bind the value of the select
5. Go back to canvas
5. Inspect the evaluated value to be GREEN

### Environment

Production

### Version

Cloud

[2021-12-29 06:18] RoopKrrish9696 commented on #7758
**Next Action Items:**

@akash-codemonk to fix the minor bugs and update the DP

@ramsaptami Testing required from the QA team

[2021-12-29 06:20] Aishwarya-U-R opened #10039 "[Task]: Develop Automation test scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-12-29 06:23] somangshu commented on #10033
@aswathkk is this related to any property pane changes, Kindly check!

@keyurparalkar its the position of the cursor which updates and not the tile itself. Also I think the black border is intended as before this it seemed like there is some error in the tile. @vasanth-appsmith can confirm this.

@vicky-primathon has your change related to tile repositioning gone in? Please check if that is true a

[2021-12-29 06:30] ashit-rath opened #10041 "Bug - Remove stale old keys from fieldState when modified"

[2021-12-29 06:31] ashit-rath opened #10042 "Bug fixes related to the input error state."

[2021-12-29 06:34] somangshu commented on #10033
related to #10030

[2021-12-29 06:37] somangshu commented on #10001
This changed was made so that by default all children are reset because users were finding it difficult to perceive otherwise. @hetunandu I recall you had made this change, Can you tell us what POD can deal with this?

[2021-12-29 06:44] somangshu commented on #3369
@sbalaji1192 any actionable for the design could be recored. @dilippitchika Since you have a note of it, Could you drop it off here

[2021-12-29 07:05] somangshu commented on #9119
@sbalaji1192 regarding #8012, does it mean we need to think about any kind of a migration. It would be unacceptable for the users to have there app broken without knowledge, Usually we solve for this. Help me understand more here.

[2021-12-29 07:06] rohan-arthur commented on #4559
_Copying Nidhi's comment here and adding a few more points_

Meeting Notes:

- [ ] UQI components client side implementation will be done by next week
- [ ] Validations might need some more inputs, Ayush to talk to Rashmi about this and get back
- [ ] Firestore plugin changes should be merged this week
- [ ] S3 PR cypress test failures needs to be looked into - Sumit
- [ ] Google sheets component

[2021-12-29 07:09] somangshu commented on #9834
@riodeuno FYI, Here we are changing the checking the dataType from the first object in the options collection and based on that deciding weather on change we should parse the value to return, Is this the right way?

[2021-12-29 07:18] somangshu commented on #9659
@momcilo-appsmith this looks appropriate. We can take this up now.

@ramsaptami let us know if you think the icon is not appropriate.

[2021-12-29 07:18] sbalaji1192 commented on #9119
@somangshu So the user who created 8012 has created an app with input widget v1 to demonstrate the issues with validations. where he wrote conditions with all input types values as datatype string, which is not the case with input widget v2. based on the input chosen, the datatype of values changes. if we use the same conditions from that app. it will fail because of mismatching datatype. we don't

[2021-12-29 07:20] somangshu commented on #9119
I understood, The condition any ways need to be re-written on the input v2, we are good to go then

[2021-12-29 07:21] ramsaptami commented on #9659
The new one looks good. It's the download icon most users would be accustomed to.

[2021-12-29 07:22] #8761 closed

[2021-12-29 07:23] #6496 closed

[2021-12-29 07:24] somangshu commented on #9969
@dilippitchika as a general principal from the web, I think any text that is not allowed to overflow and has a no-wrap within a fixed width should have a ellipsis, Otherwise the user will always perceive that there text is not completely visible and its a bug

[2021-12-29 07:28] somangshu commented on #4990
@chandannkumar here we have introduced a property called as the primary key column, On setting this you will see that the row selection is persisted. Without that we have no way to identify what was the selected column as we are comparing the objects

[2021-12-29 07:28] #4990 closed

[2021-12-29 07:34] #9737 closed

[2021-12-29 07:41] dilippitchika commented on #3369
Adding the discussed items and questions to discuss next
## Saving and editing themes

1. User starts with default themes we provide, can preview it and apply.
2. Once applied, this theme can be customised by the user and is not linked to the default theme anymore. They can chose to save the theme with a custom name when customising.
    1. Need an option to “save theme as”
3. When they chose to a

[2021-12-29 09:09] Nikhil-Nandagopal commented on #8334
This issue is happening again

[2021-12-29 09:14] sumitsum commented on #2284
Meeting updates:
- @parth-appsmith  - get updated design.
- @AmanAgarwal041 @sumitsum research:
  - Figure out challenges wrt query editor / JS substitution.
  - @sumitsum start a thread on Slack on this topic.
- @prapullac - get a general understanding of the epic and start looking into the QA side of changes. Waiting for the new designs to be finalized and figma files to be available.
- Team - t

[2021-12-29 09:16] somangshu commented on #10035
Found the instance where this is failing. [Check this out](https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?filter=b931282b6334af80a8ce8ae5042257e520a2f69e97972472832ac236e1559a79&playSession=mOKk5woueP&playVisitor=TJby74Wg43
)
@YogeshJayaseelan or @shwetha-ramesh could one of you help me find the reproducible steps for this from the video

[2021-12-29 09:16] aswathkk commented on #8334
@Nikhil-Nandagopal Last event on Sentry is on Oct 26th.
Where did you found it again?

[2021-12-29 09:24] dilippitchika commented on #2504
For the clear functionality -
I was finding any existing bugs linked to form widget where users wanted to keep/remove defaults on click of reset. Found one in support of keeping defaults #4230. I believe removing defaults can be asked by devs at somepoint, but let's wait to see any evidence of this ask and then decide if we want it.

**When we decide** to add the functionality, this is what the ch

[2021-12-29 09:28] Nikhil-Nandagopal commented on #8334
@aswathkk you need to see the global issue list
https://sentry.io/organizations/appsmith/issues/2713281017/?project=1546547&query=is%3Aunresolved

[2021-12-29 09:33] dilippitchika commented on #9969
Yup agreed @somangshu, I need help to understand what the **max width** of each tab should be before we show ellipsis.

[2021-12-29 09:59] #9764 closed

[2021-12-29 10:10] somangshu commented on #9987
@RakshaKShetty the image upload link is broken

[2021-12-29 10:12] somangshu commented on #9969
@dilippitchika max-width right now is `170px` and after that we ellipsize!

[2021-12-29 10:16] somangshu commented on #2504
@dilippitchika #3613 is about merging form and normal button and have one for them, which can be used in both places, And henceforth reducing the chance of being error prone.

I still think that reset should go back to the default set, I am also pointing out to the crud page functionality we have, Where reset goes to default, This is very much expected. Even in this case.

[2021-12-29 10:18] Aishwarya-U-R opened #10049 "[Bug]: Dependency not executed in expected order in layoutOnLoadActions when dependency added via URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Steps To Reproduce

1. Create Api1 - 'CatImage'
2. Create Api2 - 'CatFacts' - Dependent on Api1 - added via Header
3. Create Api3 - 'Suggestions' - Dependent on Api2 - added via Header
4. Create Api4 - 'Genderize' - Dependent on Api3 - added via url & not params
5. Map all of the

[2021-12-29 10:25] dilippitchika commented on #2504
Second that @somangshu, just pointing out what we may need to do if we end up implementing it someday. Not doing the clear functionality for now.

[2021-12-29 10:26] dilippitchika commented on #10001
Discussed with @Nikhil-Nandagopal , we should change the options to say true/false than Yes/no as it's inline with the function parameters. It would also be better, if we can add true by default in the function parameters rather than keeping it empty.

[2021-12-29 10:33] YogeshJayaseelan commented on #10030
@vicky-primathon @somangshu The same behaviour exists on Page properties as well and please look into the below video

https://www.loom.com/share/4edcc7b57c434ca994eddd7199fff773

[2021-12-29 10:58] YogeshJayaseelan opened #10051 "[Bug]: Clicking on tab button inside RTE navigates to other widgets or property pane instead of paragraph formatting feature"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that pressing tab button inside Rich text editor jumps on to other widgets/Property pane instead of paragraph formatting feature(When tab is pressed inside RTE it should provide tab character - some space for alignment)

https://www.loom.com/share/afeb822d60c2435b96e4ce2777d8b7

[2021-12-29 11:06] YogeshJayaseelan opened #10052 "[Bug]: The icon in the input widget is slightly top aligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the user adds any icon to the input widget and icon is slightly top aligned

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/a82e7394d2cf4d4aadb4b952404086fd-00001.gif)](https://www.loom.com/share/a82e7394d2cf4d4aadb4b952404086fd)

### Steps To Reproduce

1.Laun

[2021-12-29 11:15] YogeshJayaseelan opened #10053 "[Bug]: The icon disappears in the input widget when the widget is resized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the input widget with icon is resized the icon form the input widget disappears

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/6f36a155aa2b4dbcb46895180b6b224c-00001.gif)](https://www.loom.com/share/6f36a155aa2b4dbcb46895180b6b224c)

### Steps To Reproduce

1.

[2021-12-29 12:01] #3356 closed

[2021-12-29 12:01] aswathkk opened #10054 "[Bug]: Tooltip appears in an empty space"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Tooltip appears when I mouse over an area of the property pane. After inspecting, I found that there's a question mark icon button that is white in color that making it hard to distinguish from the background white.

https://user-images.githubusercontent.com/10436935/147659693-e637539e-a14c-4

[2021-12-29 12:02] #9970 closed

[2021-12-29 12:12] Aishwarya-U-R opened #10055 "[Bug]: API : Query Params does not get auto-added when parameter contains dynamic substitution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Params added to API URL of static type gets auto-added to Query Params section. Of Dynamic nature doesnt.

### Steps To Reproduce

1. Create Api Datasource
2. Input the URL with static params:
3. Eg: https://cat-fact.herokuapp.com/facts/random?animal_type=cat
4. Observe Params tab - animal_ty

[2021-12-29 12:17] #4787 closed

[2021-12-29 13:29] somangshu commented on #10033
This change has been repeated, We will take this up with the actual implementation for the next release

[2021-12-29 13:30] somangshu commented on #10030
This change has been reverted, We will take this up with the actual implementation for the next release

[2021-12-29 13:36] somangshu commented on #10035
@techbhavin @YogeshJayaseelan here is the smartlook recording, This widget which is throwing the error is copied from another widget on the screen

https://user-images.githubusercontent.com/11089579/147667660-2a0978d2-d311-4444-8fff-4224867eabda.mov

[2021-12-29 14:01] rohan-arthur commented on #1911
### Arguments
1. Switch to JSON Editor - _potential_ out of scope, depending on complexity
2. "options" argument is out of scope - so the signature is now "ApiName.run(args)" where "args" is an object containing arguments that can be accessed as "args.id", "args.firstName", etc.
3. Right pane for a "local" api/query, we show suggested widgets, connect to a widget, entity relationships. These will

[2021-12-29 14:23] tiger360 opened #10057 "[Feature]: Scroll To Widget Function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hello,
I'd like to have a Scroll To Top button or specific section.
Thanks

### Why should this be worked on?

Especially on mobile when the list is very long  instead of scrolling .

[2021-12-29 15:48] #10002 closed

[2021-12-29 18:15] aswathkk opened #10059 "[Task]: Make Step control Keyboard accessible"
Check the zoom level control inside the property pane for the Map widget

![Screenshot 2021-12-29 at 11 45 36 PM](https://user-images.githubusercontent.com/10436935/147691715-4277d281-8dc8-42ce-8f2c-62f2ebf062e7.png)

[2021-12-29 18:18] aswathkk opened #10060 "Make Icon Selector keyboard accessible"
![Screenshot 2021-12-29 at 11 51 05 PM](https://user-images.githubusercontent.com/10436935/147692085-be8dd179-77fa-459e-b6cf-a41c56f7ac1c.png)

[2021-12-29 18:34] aswathkk opened #10061 "[Task]: Make canvas size selector keyboard accessible"
![Screenshot 2021-12-30 at 12 04 03 AM](https://user-images.githubusercontent.com/10436935/147692950-3b6f34fe-9e14-4cef-9a9c-841193a964d1.png)

We want a similar kind of keyboard interaction that we have for the text-align control.

[2021-12-29 18:42] aswathkk opened #10062 "[Task]: Add keyboard focus state to icon alignment property control"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

![Screenshot 2021-12-30 at 12 06 25 AM](https://user-images.githubusercontent.com/10436935/147693524-e278d3d2-89b9-433f-aeb9-440d1aaa2c9a.png)

[2021-12-30 04:12] ashit-rath opened #10063 "Modify logic of default values for arrays"

[2021-12-30 05:02] #10042 closed

[2021-12-30 05:13] jsartisan opened #10064 "[Feature]: Double-click widget to focus Label control on property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, to change the label widget or input, we have to perform 2 steps
1. Click on the widget.
2. Focus on the label control in the property pane and then change it.

Feature request consists of double-clicking on the widget that will automatically focus on label property in property pane of the w

[2021-12-30 05:18] jsartisan commented on #9443
+1 for this issue. I find not having this very annoying.

cc: @somangshu

[2021-12-30 05:25] nayan-rafiq commented on #9807
Steps to reproduce as per @abhvsn
1. Create an application
2. Add JS object
3. Publish app
4. Delete the JS Object (edit mode only)
5. Export application

[2021-12-30 05:28] dilippitchika commented on #10054
@aswathkk great find :').

Visible for any component which has configurable children. Table, Tabs etc. The message currently indicates how users can connect data to the child.

Change the color of the icon - Make it similar to the delete/copy icon color in the parent

[2021-12-30 05:44] sbalaji1192 commented on #10037
@somangshu Unable to repro this on prod. Do you have repro steps?

[2021-12-30 06:00] sentry-io[bot] opened #10066 "[Bug] NullPointerException"
Sentry Issue: [APPSMITH-1H3](https://sentry.io/organizations/appsmith/issues/2894785307/?referrer=github_integration)

[code]

[2021-12-30 06:17] Nikhil-Nandagopal commented on #10064
I don't agree with this UX. This is an unexpected hidden pattern. We should either single-click the label part of the widget and focus on the property or double-click the label and edit in place. Double click and focus on a property is hard to communicate and unexpected

[2021-12-30 06:21] dilippitchika commented on #9563
Makes sense, we should add the property for icon-buttons. Also hover is missing for icon buttons. So whenever, we decide to pick it up we can also add hover.

[2021-12-30 06:24] Nikhil-Nandagopal commented on #10057
@tiger360 thank you for the feature request. A good way to solve this would be to allow users to call a function that scrolls to any widget on a page.

[2021-12-30 06:32] #10008 closed

[2021-12-30 06:36] dilippitchika commented on #9510
@tejzpr we have added a document viewer widget which supports pdfs, word docs etc in base64 encoded formats. You can use that to display pdf files.

Closing this bug for now, for any other data type support in base64 encoding please let us know and we will create an enhancement on our document viewer widget.

[2021-12-30 06:36] #9510 closed

[2021-12-30 06:42] #9659 closed

[2021-12-30 06:58] dilippitchika commented on #9475
@somangshu is this similar to the scope of #7256 (Grid widget)? Can we link it there and close this?

[2021-12-30 07:09] dilippitchika commented on #9429
Need a better way to access custom chart documentation. Either update the tooltip or provide an easy way to access docs for this (Link click icon) etc.

Will pick up the design for this.

[2021-12-30 07:10] Nikhil-Nandagopal commented on #9475
@dilippitchika this is slightly different. A grid widget lays tiles out in one axis and scrolls in the opp axis i. lays horizontally but scrolls vertically. A horizontal list simply scrolls horizontally

[2021-12-30 07:14] dilippitchika commented on #9475
@Nikhil-Nandagopal is it like a carousel/slide widget then where you can scroll horizontally based on the content?

[2021-12-30 07:14] sharat87 commented on #10000
We are now back in action at <https://marketplace.digitalocean.com/apps/appsmith>.

[2021-12-30 07:14] #10000 closed

[2021-12-30 07:17] Nikhil-Nandagopal commented on #9475
@dilippitchika yes

[2021-12-30 07:21] dilippitchika commented on #9475
Ok, then Duplicate of #9370. Closing this and adding an indication of this request there.

[2021-12-30 07:21] #9475 closed

[2021-12-30 07:27] ashit-rath opened #10068 "Fixes/Feedback - 1"
- [x] Rename `data` to `formData`
- [x] Retain field configuration if data type changes to null/undefined
- [x] Accept null/undefined as default values
- [x] Fix date field default value - convert to ISO format
- [x] initial load, formData should not be empty
- [x] detect email type.
- [x] fix incorrect date field detection eg "#1", "900" etc
- [x] full width of select widget options
- [x] make sw

[2021-12-30 08:02] shwetha-ramesh opened #10070 "[Bug]: CheckboxGroup widget must show default alignment option rather than 'No selection'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The default alignment for the Checkbox Group widget is ```space-between```. This option must be shown by default and not 'no selection'.

![image](https://user-images.githubusercontent.com/92293815/147732708-6cf27154-e2bf-4851-b7ff-5634688cf785.png)

### Steps To Reproduce

1. Drag and drop C

[2021-12-30 08:14] #10023 closed

[2021-12-30 08:38] #9099 closed

[2021-12-30 08:40] #8832 closed

[2021-12-30 08:59] hetunandu commented on #9572
Solution: Clear all action data when switching a page.

[2021-12-30 09:27] #10007 closed

[2021-12-30 10:03] danieldare commented on #9911
The bug has been fixed and merged into the release branch.

[2021-12-30 10:06] #9911 closed

[2021-12-30 10:20] Rishabh-Rathod opened #10072 "[Bug]: lodash debounce doesn't work as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

No Alert is visible when tried `{{_.debounce(() => showAlert('heelo'),500)}}`

### Steps To Reproduce

1. Try to add `{{_.debounce(() => showAlert('heelo'),500)}}` in input widget
2. Type in input widget
3. See the issue.

Expected behaviour -
Alert should be visible when the user stops typin

[2021-12-30 10:42] awanishraj opened #10073 "[Feature]: Requesting AWS Lambda in Data Sources similar to S3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Using S3 integration with Appsmith is very seamless. It just needs AccessKey and SecretKey. A similar interface to directly invoke Lambda functions would be very helpful.

A direct API call to lambda is a bit involved due to request signing.
[https://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.htm

[2021-12-30 11:19] szabolcsmaj commented on #8780
I second this. SQLite is used for many micro/small projects and the biggest issue comes when one has to "throw" a quick UI over the DB. Is this on the roadmap for the future?

[2021-12-30 11:43] vivekverma2312 commented on #9119
@sbalaji1192 Observed one crash, If we drag and drop currency input on new page then widget crashes
https://www.loom.com/share/81005c7015714602a06593aa326d76d5

[2021-12-30 12:02] somangshu commented on #9475
@dilippitchika these our separate things all together, check out [this](https://getbootstrap.com/docs/5.1/components/carousel/) example of what is mentioned in #9370. Also closer to this would be #7256

[2021-12-30 12:10] somangshu commented on #10037
@sumitsum can you take a look at this, Seems like the backend is throwing an error

[2021-12-30 12:12] ryzam commented on #2266
I think an integration with PouchDB is a good option to fully support offline first apps and automatically sync centralize database when network available.

[2021-12-30 12:24] dncpax commented on #10026
I'm the original reporter. At the moment I cannot publish my app because updating a simple record sometimes fails silently to update some columns. So to be fair, appsmith fails to update a database table in a consistent way. I cannot stress this enough - it is impossible to deploy an app that sometimes does not save the data to the database and the user is unaware.

[2021-12-30 12:50] rohan-arthur commented on #9269
_Note_: there are competing schools of thought whether to use spaces or tabs for indentation, and again about how many spaces/tabs for each level of indentation. Since the JSEditor already has the indentation facility partially working, we will stay with: 2 tabs per level of indentation

The following rules should apply for auto indentation in the JS Editor (with inputs from here https://google.gi

[2021-12-30 12:51] dilippitchika opened #10077 "[Bug]: Issues and Enhancements in the camera widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Couple of bugs noticed with the camera widget
1. Stretching of images after click.
2. Camera controls not visible when placed on a white background
3. Action should be updated to onImageSave than onImageCapture. We will retain the onImageCapture functionality in our code so that if users need

[2021-12-30 13:07] Nikhil-Nandagopal opened #10078 "[Bug]: Multi Select Serverside Filtering Broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The multi select resets everytime the data changes making server side selection impossible
The same might be true of the select / tree select etc.

### Steps To Reproduce

1. Drag a multi select
2. Configure serverside pagination
3. Search for a term
4. The select closes making it impossible

[2021-12-30 13:23] somangshu commented on #10078
https://user-images.githubusercontent.com/11089579/147755742-a760e6b8-c680-4fc4-a813-b67eb146e7dc.mov

[2021-12-30 14:49] zzgvh commented on #7576
Hey @hetunandu. Thanks for the extensive description of how the system "steps on its own toes" :wink: I think I now understand why this issue happens. So my question becomes, is there any other way that you can change the value of an input widget programmatically while allowing the user to use the same widget?

In the video, you see two buttons below the input, with a "-" and a "+", that I demo th

[2021-12-30 14:54] rohan-arthur opened #10079 "[Feature]: As a developer, I should be able to access the hotkeys dialog, so that I can be informed of the various keyboard shortcuts in Appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The hotkeys dialog can be accessed today by hitting keys "shift" and "/" together, but there are some changes that are needed to this.
![Screenshot 2021-12-30 at 6 21 57 PM](https://user-images.githubusercontent.com/94514895/147761430-72377917-e4a1-4ca3-885a-432cad618adb.png)

- [ ] 1. Change the key

[2021-12-30 15:54] rohan-arthur commented on #9572
@dsakaria16 we will take this up in the next week, will update ETA here when we have more details.

[2021-12-30 15:55] rohan-arthur commented on #10026
@dncpax we are looking into this on priority, will post updates here.

[2021-12-30 16:24] dncpax commented on #10026
@rohan-arthur thank you very much for the update.

[2021-12-30 22:29] alvin-reyes commented on #2430
We have a request to send encrypted and signed messages to a persistent database and can only be done with a specific library. If we can somehow have support on this, that would be extremely great. :)

[2021-12-31 03:50] YogeshJayaseelan commented on #9119
@sbalaji1192 @vivekverma2312 Selected country code/flag is not displayed in the widget and it is observed that only after refreshing the page populates the selected country code/Flag in the widget

https://loom.com/share/918996f3a9bb482487d68b3077ce0b92

[2021-12-31 05:30] #10038 closed

[2021-12-31 05:35] dilippitchika commented on #9475
:confused: I thought this was grid widget first, and then thought it was carousel. Now it seems like we have a mix of both, @somangshu is this the expectation?

![image](https://user-images.githubusercontent.com/19730984/147805410-9c721a69-3872-47af-bfc4-55706f42180f.png)

[2021-12-31 05:38] SatishGandham opened #10081 "[Task]: Add utility method to import an app and do the intial setup on CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2021-12-31 05:42] #8896 closed

[2021-12-31 05:48] sentry-io[bot] opened #10082 "[Bug] TypeError: Cannot read properties of undefined (reading '61ce0362a4437918c01f8e9a')"
Sentry Issue: [APPSMITH-1HG](https://sentry.io/organizations/appsmith/issues/2896719736/?referrer=github_integration)

[code]

[2021-12-31 05:57] danieldare opened #10083 "[Bug]: User can press the reset password multiple times during a pending response from the api."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I can hit the reset password multiple times when the request is still pending. Hence, a 429 error occurs.
```...```
I expect the reset password link to be disabled when awaiting the response from the backend to avoid multiple calls concurrently.

https://user-images.githubusercontent.com/2598

[2021-12-31 06:05] YogeshJayaseelan commented on #9119
@sbalaji1192 The watermark text of tool tip field in both phone and currency widget reads about 'Password' - Can we change this with relevant watermark text

<img width="1680" alt="Screenshot 2021-12-31 at 11 23 00 AM" src="https://user-images.githubusercontent.com/35128442/147806468-9873bbd2-f868-4ccf-9c44-d0122b2d8de5.png">

[2021-12-31 06:08] sbalaji1192 commented on #10035
@somangshu This error usually happens when we have a circular path in the dependency tree. From the video, I was not able to get an idea of how we ended up with a circular dependency tree. This error could also be induced by the user by improper binding (refer attached loom). We need to have access to the app to debug whether this one was caused by improper binding or by the platform. Should we ap

[2021-12-31 06:19] sentry-io[bot] opened #10084 "[Bug] AppsmithException: Unexpected state. Default resources are unavailable for action with id 61ce7975a4437918c01f917d. ..."
Sentry Issue: [APPSMITH-1GH](https://sentry.io/organizations/appsmith/issues/2886954364/?referrer=github_integration)

[code]

[2021-12-31 06:28] #10039 closed

[2021-12-31 06:34] sharat87 opened #10085 "[Feature]: Install Appsmith with Portainer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There's no documentation on how to get started with Appsmith on Portainer, or if it's possible at all.

### Why should this be worked on?

It'll be helpful for users who already have their stack on Portainer, to also have support from Appsmith for this platform.

[2021-12-31 06:36] Nikhil-Nandagopal commented on #8780
Hello! We don't currently have this on our roadmap since we haven't received too many requests for it yet. We'd be very open to a community contribution on this datasource!

[2021-12-31 06:37] Nikhil-Nandagopal commented on #10037
Yeah it's a backend error. Can someone from the backend team help debug this?

[2021-12-31 06:53] dilippitchika commented on #9309
Hey @SatishGandham is this a community request?

[2021-12-31 06:58] sumitsum commented on #10037
@somangshu @Nikhil-Nandagopal I am looking into this.

[2021-12-31 07:58] sbalaji1192 commented on #9603
@hetunandu This issue is caused by the metaHOC. whenever a meta property is updated we store that in value in MetaHoc state synchronously, and after debounce, we store it in the redux state.  But we're not clearing the MetaHoc state once the redux state is updated. When we call resetWidget, the meta state in redux gets cleared. however, the widget receives the props from the metaHOC state. This ca

[2021-12-31 08:36] Nikhil-Nandagopal commented on #10078
onFilter Update is also getting called every time I select an option here. Very broken experience

[2021-12-31 08:40] ramsaptami commented on #6691
Reopening this since tab control works only limitedly. Using keys on trigger fields does not work as expected
https://www.loom.com/share/3eb4999664354081a140cab8108f2f52

[2021-12-31 08:59] aswathkk commented on #6691
@ramsaptami That is being tracked on #9920

[2021-12-31 08:59] #6691 closed

[2021-12-31 09:07] ramsaptami opened #10086 "[Bug]: Page title on sign-in page should be Appsmith when user logs out from any page other than home page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Page title on tab remains as application name when user logs out of a session from within an app even though URL is not pointing to the application URL. This happens even when user is on any other page that displays a different page title on browser tab (example: profile tab as seen in the sc

[2021-12-31 09:24] ramsaptami opened #10087 "[Bug]: Logging out when app is partially loaded causes incorrect error handling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When user logs out during app load, then user is redirected to `server unavailable` error instead of login page and going back on the browser page does a myriad of things that looks glitchy.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3a27cb3949364d4192efc585fd3ebecc-00001.gif)](ht

[2021-12-31 09:28] nayan-rafiq opened #10088 "[Bug]: Unable to add comment on public apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Commenting on a public app does not work.

### Steps To Reproduce

1. Make your application public
2. Deploy the app and copy the link
3. Login as another user who has no access to the app (not admin, developer or viewer)
4. Paste the link to the app and open it
5. Try to add a comment

### E

[2021-12-31 09:40] ramsaptami commented on #9951
- [ ] Spinning box needs to center aligned in the space available
![image](https://user-images.githubusercontent.com/79509062/147815275-fd6baeff-0132-4115-8916-a9f7a5ca5546.png)

- [ ] Navigating to canvas by clicking on the table widget centers the widget to viewport causing important information to be accessed only on scroll
https://www.loom.com/share/24412732292e43fb917b622c467efe7b

- [ ] Butt

[2021-12-31 09:47] akash-codemonk commented on #9951
@ramsaptami latest dp link https://appsmith-rnzr4kwal-get-appsmith.vercel.app/.

[2021-12-31 09:51] aswathkk commented on #8845
### Update on 31st Dec, 2021:
- Making the action selector keyboard accessible is taking a long time than expected because of the technical difficulties. I hope this should be completed by next week.
- We need to decide on the Tab behaviour of various property controls.

[2021-12-31 10:10] dilippitchika commented on #9908
PRD for this, can be a holistic change we bring about in all the widgets going forward. We will soon be working on the designs.

https://www.notion.so/appsmith/Radio-Switch-and-Checkbox-Group-widgets-Resize-09c64ebdeb76411a99888578a054aaf7

[2021-12-31 11:31] #10068 closed

[2021-12-31 11:39] ramsaptami commented on #9951
- [ ] Highlighted block for binding does not highlight the correct area of the app
https://www.loom.com/share/3db2780ebf374a139bab4a90d55570ba

- [ ] Rolling box is not center aligned to the line
![image](https://user-images.githubusercontent.com/79509062/147821243-05b88dcc-4bc1-4bc6-9b8f-426a094264d5.png)
![image](https://user-images.githubusercontent.com/79509062/147821270-82156184-cc74-4dc6-b9d

[2021-12-31 11:49] ramsaptami opened #10090 "[Bug]: Bindings are expanded from preview view for query's on entity explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 `Show bindings` options are automatically expanded if one queries bindings are expanded
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c6b07ca69abe4587bae1208fa22c8155-00001.gif)](https://www.loom.com/share/c6b07ca69abe4587bae1208fa22c8155)

### Steps To Reproduce

1. Go to entity exp

[2021-12-31 11:53] ramsaptami opened #10091 "[Bug]: Bindings popup does not close unless dismissed using the close icon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 Bindings popup does not close unless dismissed using the close icon

https://www.loom.com/share/675537ae44224fb39f15977ac08b1bc7

### Steps To Reproduce

1. Open up bindings from entity explorer and follow the steps as seen in the video

### Environment

Deploy Preview

### Version

Cloud

[2021-12-31 12:11] dilippitchika commented on #9150
Adding bugs discussed with @jsartisan

1. Selected item border cuts off for list widget
2. The icon in button widget is little bigger ( it should be 14px )

![image](https://user-images.githubusercontent.com/19730984/147822682-c8d51af2-7e8f-4173-b114-497dcec97eb9.png)

[2021-12-31 12:51] dilippitchika commented on #3369
Other items to discuss with Design team
1. Font previews on the font selection dropdown
2. Theme colors JS editable, bug in the color picker and dark light mode switch

[2021-12-31 12:58] kpchandr opened #10093 "[Bug]: We could not connect to our servers please check your internet connection - Getting this error when accessing appsmith from browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am running appsmith on kubernetes and when i access the appsmith using Loadbalancer Ip from browser , getting below error message

We could not connect to our servers please check your internet connection

### Steps To Reproduce

install on kubernetes using below link
https://docs.appsmith.

[2021-12-31 13:00] kpchandr commented on #10093
When i describe appsmith internal server pod i can see liveness probe is failing

Warning  Unhealthy  7m18s (x9 over 8m13s)  kubelet            Liveness probe failed: Get "http://10.0.0.194:8080/api/v1/users/me": dial tcp 10.0.0.194:8080: connect: connection refused

[2021-12-31 13:21] sumitsum commented on #10037
@Nikhil-Nandagopal @somangshu the issue is with the Table widget computing incorrect binding path. We have seen this issue before and IMO some steps were taken to fix it but it is likely they were not effective in this case. Providing some references for context:
https://theappsmith.slack.com/archives/CGBPVEJ5C/p1638255509171700
https://github.com/appsmithorg/appsmith/issues/9456

[2021-12-31 14:58] aswathkk opened #10095 "[Task]: Make the datepicker in property pane keyboard accessible"
Insert a date picker widget and look at the property pane to see the date picker.

![Screenshot 2021-12-31 at 8 27 40 PM](https://user-images.githubusercontent.com/10436935/147829404-c523d9c8-8004-484c-8e8e-e02afd8938c7.png)

Reference: [HTML input type "datetime-local"](https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_datetime-local)

[2021-12-31 15:01] aswathkk commented on #10095
As of now, I think the components are keyboard accessible already. We are not noticing it due to the lack of focus styles.

[2022-01-01 09:13] gabriel210467 opened #10096 "[Feature]: Integration with database Oracle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I didn’t find Oracle database support in the built in integration

### Why should this be worked on?

We thought it should be standard database used by many corporation as of MS SQL Server

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [F

[2022-01-01 18:23] Rishabh-Rathod commented on #10026
@hetunandu I was able to reproduce this issue again in the input field inside a modal but the same wasn't possible with the input widget either on canvas or inside CONTAINER  or FORM WIDGET, were you able to replicate it in other cases too?

[2022-01-02 06:51] sfbrophy commented on #3532
Yes, this should be considered a must-have. For comparison, Retool provides this functionality via their `setValue()` method on components.

[2022-01-02 07:19] Rishabh-Rathod opened #10098 "[Task]: Create Pull request templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Refer this - https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository

[2022-01-02 07:41] billyrudi commented on #7757
this is a must to create user friendly forms!

[2022-01-02 08:24] deelocodes opened #10100 "Deploy your app for free 🚀"
Hey @appsmithorg, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://

[2022-01-02 11:19] billyrudi commented on #2430
questo interessa anche a me

[2022-01-02 11:19] billyrudi commented on #6777
questo interessa anche a me

[2022-01-02 11:20] billyrudi commented on #6777
this interest also me

[2022-01-02 16:27] #8890 closed

[2022-01-02 18:03] Tooluloope commented on #6945
@zzgvh Could you check this video, I believe this issue doesn't exist as of now.
https://www.loom.com/share/4c968b57bd124ac39701f9c644103db5

[2022-01-02 18:04] #6945 closed

[2022-01-03 05:59] #10088 closed

[2022-01-03 06:50] sumitsum opened #10109 "[Task]: PoC: check if it is possible to capture user's attempt to edit query input box."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- Need to set flag to true when user clicks inside the query input box for action configuration. This flag would be used as part of solution for issue #4880 (Mongo form -> native query translation till the user edits the raw query input).
- The same flow / UX as used in #4880 would be used for sub

[2022-01-03 07:05] sub1983 opened #10110 "[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While trying to migrate from slim to the fat container following the steps in the below PR[
https://github.com/appsmithorg/appsmith-docs/pull/204]

The mongodb was not starting inside the new fat container
when tried changing to a new stacks folder the app was running fine but migration didn'

[2022-01-03 07:18] sumitsum commented on #10084
@ajinkyakulkarni can you please re-assing this issue to git sync team ? - since this issue is related to the git sync feature.

[2022-01-03 07:59] riodeuno commented on #9946
So far there are no dynamically loaded widgets, which means that we have access to all widget configs at build time. To resolve this issue, we can add unit tests as we have done for the property pane configurations.

[2022-01-03 08:12] abhvsn opened #10111 "[Task]: Add source field in the application object to track the origin of the application to ease the debugging experiance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

By introducing a `source` field in the application object, possibilities to recreate the error can be narrowed down, this will enhance the debugging experience. Today possible values can be:
- Cloned
- Forked
- Imported
- Pristine

[2022-01-03 08:14] chandannkumar opened #10112 "[Bug]: Search field is not working for all columns when app is generated using CRUD"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/4a0db676072a451fb41a32726c1e9ecb-00001.gif)](https://www.loom.com/share/4a0db676072a451fb41a32726c1e9ecb)

Expectation: Search should work for all the columns if none of the field is selected at the time of creating new page as a searchabl

[2022-01-03 08:29] prapullac opened #10113 "[Bug]-[258]:Google Sheet On Re-Authorizing the GS we need to validate the Email ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Consider if an Account1 has already authorized a particular GS and shared it with Account2 and Account2 tries to re Authorise we are currently not checking if the user is trying to Authorise to same email Id or different
On doing this process if the user Authorizes to different email ID the e

[2022-01-03 08:32] sumitsum opened #10114 "[Bug]: Mongo plugin: plugin throws error if output contains DBref type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- If any of output documents contain a DBref type data, then the plugin throws error on action execution.
- Currently, we use `Document::toJson()` method for converting the Mongo driver output to json format. This method is deprecated and uses default codecs only.
- We need to replace `Docume

[2022-01-03 09:02] RakshaKShetty commented on #7791
reopening the bug facing the same issue again
![image](https://user-images.githubusercontent.com/45958978/147913737-626fffd5-ff43-40ca-a47f-d187a95636dd.png)

[2022-01-03 09:15] RakshaKShetty commented on #9037
reopening the issue
![image](https://user-images.githubusercontent.com/45958978/147914825-cf4f5e91-ed27-48bc-bcba-315a2696b285.png)

[2022-01-03 09:30] ramsaptami opened #10115 "[Bug]: Autocomplete needs to show async await keywords instead of showing 'no suggestions'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently, `async`, `await` keywords etc... are displayed as no suggestions by autocomplete and these needs to be added into autocomplete suggestions

### Steps To Reproduce

1. Try using promises keywords in JS editor or on action fields of the property pane and observe autocomplete show `no

[2022-01-03 09:35] vivekverma2312 opened #10116 "[Bug]: Required is not working for RichTextEditor if default text is available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/eac8a8b28ac346d3b383b0266bba8ca3-00001.gif)](https://www.loom.com/share/eac8a8b28ac346d3b383b0266bba8ca3)

### Steps To Reproduce

1. Drag and drop a form widget
2. Drag and drop a RichTextEditor on form widget
3. Enable Required
4. Clear

[2022-01-03 10:23] abhvsn commented on #7561
Fixed this as a part of https://github.com/appsmithorg/appsmith/pull/9785

[2022-01-03 10:23] #7561 closed

[2022-01-03 10:38] ashit-rath commented on #2504
Action Items:
Required field and accordion updated designs @vasanth-appsmith
Sanitize source data keys similar to Table widget V2 @ashit-rath
Test Plan @vivekverma2312

[2022-01-03 10:40] YogeshJayaseelan opened #10118 "[Bug]: On adding regex the error message is not displayed persistently in the input widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that by passing the invalid value regex error message is not displayed

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/072523bab3454bcc84227a98a3d75f38-00001.gif)](https://www.loom.com/share/072523bab3454bcc84227a98a3d75f38)

### Steps To Reproduce

1.Launch appmsith app

[2022-01-03 10:45] YogeshJayaseelan opened #10119 "[Bug]: The label text truncates on resizing the input widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the user resizes the input widget the label text truncates when the text size is chosen as Heading 1

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/a1a0ce96a6754d8b9f50b2db34b9cfc5-00001.gif)](https://www.loom.com/share/a1a0ce96a6754d8b9f50b2db34b9cfc5)

### S

[2022-01-03 11:08] Nikhil-Nandagopal commented on #10112
@chandannkumar this is not a bug, only a single field can be made searchable at a time. If nothing is selected, nothing will be searched

[2022-01-03 11:08] #10112 closed

[2022-01-03 11:25] ashit-rath opened #10120 "Source data keys sanitization"
The keys of the JSON data used as source data have to be sanitized to make sure that they can be referenced as `dot` (.) notation.

[2022-01-03 11:35] #8412 closed

[2022-01-03 11:39] riodeuno commented on #9834
@somangshu Here, **_if_** the `value` properties can be of different type in different entries, then we may have issues making assumptions based on the first entry. There will be other issues as well, for example, where "1" and 1 can both be valid values. What would an Appsmith developer provide as the `default` in this case?

So, we might want to validate this as well, for integrity.

In other wo

[2022-01-03 11:55] shwetha-ramesh opened #10122 "[Bug]: Deleting administrator user throws error in 'Members' page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When user is in 'Members' page and an admin user is deleted, page throws error. (refer video for detail walkthrough)
![image](https://user-images.githubusercontent.com/92293815/147927550-e9e5868c-78ed-4af7-845c-e99acf2f00a7.png)

https://loom.com/share/91d301a63fe2439eb346e189ce87ed35

Expect

[2022-01-03 12:08] Nikhil-Nandagopal commented on #10049
This is for all plugins. How does this keep breaking?? @yatinappsmith @ajinkyakulkarni
In this app of mine, fetch_comments_count depends on fetch_issues but it executes with null
https://app.appsmith.com/applications/61cd5be2a4437918c01f87af/pages/61cd8575a4437918c01f89b2/edit

[2022-01-03 12:33] somangshu commented on #7475
@sbalaji1192 have you kept this under consideration, If so, Please link to the PR, IT should close with your changes

[2022-01-03 12:35] rishabhrathod01 opened #10123 "[Bug]: open mustache `{{` shouldn't lead to editor JS mode till it is closed `}}`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1209" alt="Screenshot 2022-01-03 at 5 53 18 PM" src="https://user-images.githubusercontent.com/23132741/147930574-c6f5266e-924b-4b7d-a527-058bbf5b6813.png">

There is an open mustache in the above example and it seems like the editor is in JS mode but what the user is typing assum

[2022-01-03 12:37] somangshu commented on #10035
@sbalaji1192 we can get in touch with the user.

Meanwhile since this issue has happened to only 1 user and has not re-occured and marking as resolved, we we have more data on this later, We will get to it

[2022-01-03 13:20] RakshaKShetty opened #10124 "[Bug]: The run button loads in infinte loop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The run button loads in an infinite loop in data sources
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2ffb50c00d4c43c9a6156ca52cfef960-00001.gif)](https://www.loom.com/share/2ffb50c00d4c43c9a6156ca52cfef960)

### Steps To Reproduce

1. I am facing the issue in the below app
2. https:

[2022-01-03 13:27] chandannkumar opened #10125 "[Bug]: Video overlapping after video stops while stretching widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/868f1d4e0d844a6abb76363e7bdf7e90-00001.gif)](https://www.loom.com/share/868f1d4e0d844a6abb76363e7bdf7e90)

### Steps To Reproduce

1. Drag and drop new camera widget onto canvas
2. Change the camera Mode to Video
3. Make a video
4. After y

[2022-01-03 13:38] chandannkumar opened #10126 "[Bug]: Always keep the camera dimensions intact on resize."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/6b3b69d0b6424e70a9ad4e0c3e7d9082-00001.gif)](https://www.loom.com/share/6b3b69d0b6424e70a9ad4e0c3e7d9082)

### Steps To Reproduce

1. Drag and drop new camera widget onto canvas
2. Change the camera Mode to Video and Deploy the application

[2022-01-03 14:00] Nikhil-Nandagopal commented on #10110
@sub1983 is this a critical issue? Did a user report this?

[2022-01-03 14:38] rohan-arthur commented on #10073
hi @awanishraj ,

Thank you for submitting this issue! I am a product manager here at Appsmith, and while this looks like an interesting problem, we would like to understand more about your needs. Would you please share more details about your use-case?

Here are some clues to get started:
1. What language(s) are you using?
2. What is the type and size of the data that you'll be operating on?
3. H

[2022-01-03 14:46] SatishGandham commented on #9922
This is not search functionality broken. The upload itself is not happening correctly.
When uploading the file, we are reading the file name from input widget in list.

Inputs in list have issues, and this is being picked up this quarter by app viewers.

[2022-01-03 14:50] sumitsum commented on #10124
Looks like a FE issue. The client is not making executeAction API call.
![Screenshot 2022-01-03 at 8 18 51 PM](https://user-images.githubusercontent.com/1757421/147944571-4c212fb8-2ffd-4a9e-8b4f-bfafc0cfec6c.png)

[2022-01-03 14:56] sumitsum opened #10127 "[Feature]: Allow export / import of action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, we have an export / import feature that works at the application scope. However, it does not address the use case where a user might want to import one or many actions from one application to another. They may not want to import / export the whole application - but they might be interested

[2022-01-03 15:10] rohan-arthur opened #10128 "[Bug]-[9944]:Clicking on the settings badge of a modal doesn't open the properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a modal with some widgets inside it. When I am looking at the properties of a widget inside the modal, and then I click on the "settings badge" of the modal itself, I expect to see the properties of the modal but nothing happens.

But settings badge I mean this:
![Screenshot 2022-01-03

[2022-01-04 02:58] Aishwarya-U-R opened #10136 "[Task]: Develop Automation test scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-04 05:06] #10063 closed

[2022-01-04 05:07] abhvsn opened #10138 "[Bug]: JSObject not getting copied when cloning a page within application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to clone the page with JSObject all the other resources are cloned successfully except for JSObject.

### Steps To Reproduce

1. Create an app with JSObject
2. Clone the page
3. Check the JSObject section in the cloned page

### Environment

Release

### Version

Cloud

[2022-01-04 05:44] ramsaptami opened #10139 "[Bug]-[20]:Bindings pop-up window design is different from other pop-ups"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Bindings pop-up has a glow effect to its border that's not present on other pop-ups in the app

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c6b07ca69abe4587bae1208fa22c8155-00001.gif)](https://www.loom.com/share/c6b07ca69abe4587bae1208fa22c8155)

### Environm

[2022-01-04 05:45] SatishGandham opened #10140 "[Task]: Add a large data set for performance testing in CI"
Create an app using large amount of data and pages to keep track of performance.

- [ ] Create the dummy database during setup
- [ ] Add lot of pages to catch perf regressions on entity explorer
- [ ] Add 3-4 user actions to measure performance

[2022-01-04 05:46] dilippitchika commented on #3369
Notes - 3 Jan 22

V1 pending
1.  Discuss with Liz about the custom themes display and deletion
2. @jsartisan to fix the color picker bug which prevents users from typing the color.
3. Discuss with Will on the themed navigation and sidenav and importance for V1.

Blockers/Time consumers
1. Since there are backend changes involved in the project and we are working on both backend and frontend simult

[2022-01-04 05:49] aswathkk commented on #7485
This is no more an issue in current release

[2022-01-04 05:49] #7485 closed

[2022-01-04 06:21] #4141 closed

[2022-01-04 06:36] jingrenlim commented on #2430
We have a use case where we have image and pdf files to package into a zip folder and initiate a download. If we could import libraries like JSZip, that would be great help for us. Especially with the new JS Editor on appsmith. Thanks! My use case at this moment involves only public JS libraries.

[2022-01-04 06:38] abhvsn commented on #10138
Closing this as the issue is related to fetching action collection after the clone page is successful.

[2022-01-04 06:38] #10138 closed

[2022-01-04 06:42] #9572 closed

[2022-01-04 07:56] SatishGandham commented on #9922
Until the list widget issue is resolved, we should read the file names from the file picker and disable the input widget in the list.
This won't fix the problem for existing apps, but will help with new apps.

[2022-01-04 08:26] #8592 closed

[2022-01-04 08:28] #10081 closed

[2022-01-04 08:45] ApekshaBhosale opened #10142 "[Bug]: After cloning JS objects are not appearing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Whenever an application is cloned, the cloned application doesn't show js objects list.
API call for js collections is missing

### Steps To Reproduce

1. Create JS object in any application
2. clone application
3. check the cloned application

### Environment

Release

### Version

Cloud

[2022-01-04 09:27] #821 closed

[2022-01-04 09:28] dilippitchika opened #10144 "[Enhancement]: Support admins to reset passwords for users in self hosted instances without SMTP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User doesn't have any local SMTP to use for sending Emails and would like to set or reset passwords for users. This can be done by adding support in the Admin settings UI.

### Steps To Reproduce

1. Don't configure SMTP in self-hosted instances
2. Reset password

### Environment

Production

[2022-01-04 09:29] #8651 closed

[2022-01-04 09:42] Nikhil-Nandagopal commented on #10144
@dilippitchika I think this is a duplicate of #3906

[2022-01-04 09:42] #10144 closed

[2022-01-04 09:46] AnaghHegde commented on #9755
1. Key generation for import flow independent of application creation

[2022-01-04 10:04] sbalaji1192 commented on #9119
@YogeshJayaseelan @vivekverma2312 Fixed your callouts. please test again.

[2022-01-04 10:23] rohan-arthur opened #10145 "[Bug]: Not able to fork Github manager app - timeout error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

in production, I want to fork the app [GitHub Manager](https://app.appsmith.com/applications/60d72903ee9aa1792c5bf168/pages/60d72903ee9aa1792c5bf16a/edit) into my own organisation. but when I try to do this, I see error:
![Screenshot 2022-01-04 at 15 49 00](https://user-images.githubuserconte

[2022-01-04 10:25] rohan-arthur commented on #10145
I tried forking a couple of other apps, and it worked. Unless this issue is because of something very peculiar in the GitHub Manager app, IMO the priority for this should be High.

[2022-01-04 11:48] Rishabh-Rathod commented on #9922
@SatishGandham Shall I create a new issue for the List widget or avoid closing this issue with
https://github.com/appsmithorg/appsmith/pull/10146 ?

[2022-01-04 12:23] jsartisan commented on #4883
Fixed with docked property pane.

[2022-01-04 12:23] #4883 closed

[2022-01-04 12:24] jsartisan commented on #7548
Fixed with docked property pane.

[2022-01-04 12:30] #10032 closed

[2022-01-04 13:09] ramsaptami opened #10150 "[Bug]: Success or error call for promises in a JS object does not work unless return keyword is used for the function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Success or error alert from a JS object inside a `promise` does not work until `return` keyword is used on the function.
For e.g., following code works only when the return keyword is present:
[code]

Similarly, when chaining JS, return needs to be included to execute onSuccess and onError co

[2022-01-04 13:22] somangshu commented on #9704
@guilhermep the first url from google load because the component at this point understands it needs to use the google viewer to display the doc. Otherwise the file extension is required to identify the doc viewer to be used since we cannot access the headers on the frontend (to identify the file type from content-type) unless exposed. Check [this answer](https://stackoverflow.com/a/66291644/582626

[2022-01-04 13:36] #8334 closed

[2022-01-04 13:36] sentry-io[bot] opened #10151 "[Bug] TypeError: Cannot read property 'parsed' of undefined"
Sentry Issue: [APPSMITH-18W](https://sentry.io/organizations/appsmith/issues/2713281017/?referrer=github_integration)

[code]

[2022-01-04 15:08] pranavkanade opened #10152 "Add config to disable the form login option"

[2022-01-04 15:55] ramsaptami opened #10154 "[Bug]: Grouped widgets in a container can't be moved back on to the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Widgets that have been grouped can't be moved back onto canvas since it appears as a red block where ever the widget is moved (even when the widget size fits in the area)

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/140db5381ced4b8d8fab3b880ca39880-00001.gif)](https://www.loom.com/s

[2022-01-04 19:46] dncpax commented on #7757
quality of life improvement. otherwise it feels odd jumping all around the form...

[2022-01-04 19:47] dncpax commented on #7757
also it's also odd at least for me that tabbing also focus up and down arrows in calendars... but maybe it's just me.

[2022-01-04 21:08] #8009 closed

[2022-01-05 04:43] dilippitchika opened #10158 "[Bug]: Sample Heroku Endpoint for Custom Authentication is failing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I hit the url mentioned in the guide to create a sample custom authentication app- https://docs.appsmith.com/how-to-guides/how-to-implement-custom-authentication-on-appsmith

It returns a not found error. https://appsmith-tutorial-apis.herokuapp.com/auth/loca
<img width="1013" alt="Scree

[2022-01-05 04:56] #10152 closed

[2022-01-05 04:56] sbalaji1192 commented on #10037
@sumitsum  The issue that you're referring to is unrelated.
This issue is happening in the LIST_WIDGET and DROP_DOWN_WIDGET as well. Since this is being fired from the Server, we don't have much context to debug.
@somangshu Any pointers on how we can approach this.

[2022-01-05 05:01] #7118 closed

[2022-01-05 05:13] dilippitchika opened #10159 "[Enhancement]: Support for default labels in select/multi-select for server-side filtering cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a new default label property in select and multi-select which will help surfacing defaults when the data is not present on the client side.

### Why should this be worked on?

Currently, the default value property in select/multi-select cannot be used for data which resides on the server.

[2022-01-05 05:33] ramsaptami opened #10160 "[Bug]-[424]:showAlert does not read multi line content and shows error when it encounters a new line"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`showAlert()` displays a syntax error on prod and uncaught promise rejection on current release when trying to display multi-line content.

This gets especially bad for the user when using non-JS mode on trigger field and multiple lines are entered in the `message` box
![image](https://user-i

[2022-01-05 06:28] vihar commented on #10158
@dilippitchika, can you test this out? The issue is now fixed.

[2022-01-05 06:31] vivekverma2312 commented on #9119
@sbalaji1192 When I am trying to bind the Input widget to text widget I am getting auto suggestion for country code and currency country code
<img width="303" alt="Screenshot 2022-01-05 at 10 55 09 AM" src="https://user-images.githubusercontent.com/83569920/148166298-98738986-fe3c-4892-bb1e-9655be1541ab.png">

[2022-01-05 06:48] rohan-arthur commented on #1751
**OnPageLoad**
Implementation done, @ApekshaBhosale will move to PR today - @nidhi-nair
Autocomplete is pending

**Reactive**
making variables reactive - @ApekshaBhosale
dependency map to help autocomplete - @arunvjn
"export" problem - @rohan-arthur to write the problem statement with @arunvjn 's help

**Promises**
Implementation done - @hetunandu
QA pending - @prapullac

**Designs**
Run function

[2022-01-05 06:50] RakshaKShetty opened #10161 "[Bug]:The Datasource alignment is broken under the active tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Datasource alignment is broken under the active tab
![image](https://user-images.githubusercontent.com/45958978/148172736-2f2c1677-e59c-40fc-8e06-e4ce063adbd8.png)

### Steps To Reproduce

1. Create a new org
2. Create a new application
3. Click on + icon next to datasource
4. Under creat

[2022-01-05 06:57] somangshu commented on #10037
Its weird to see that there are no users attached to the sentry event but the last occurrence is today morning, I am not sure how is this happening.

@riodeuno @mohanarpit please chime in

[2022-01-05 06:59] Nikhil-Nandagopal opened #10162 "[Bug]: All widgets are going into loading state on the page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Even unrelated widgets are going into the loading state

### Steps To Reproduce

1. Open the app https://app.appsmith.com/applications/61cd5be2a4437918c01f87af/pages/61cd8575a4437918c01f89b2?branch=master
2. Search for an issue or click the upvotes tab
3. The table begins to load even when it

[2022-01-05 07:00] kocharrahul7 opened #10163 "[Bug]-[480]:Grouping widgets in a Modal makes the resulting container move to the main canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I group multiple widgets which are in a modal, the resulting canvas  automatically moves to the main canvas, rather than staying in place

https://user-images.githubusercontent.com/20532920/148173902-7fa57daf-d300-4a32-bcd5-5de1e2301208.mov

### Steps To Reproduce

1. Create a modal
2. S

[2022-01-05 07:04] sentry-io[bot] opened #10164 "DuplicateKeyException: E11000 duplicate key error collection: appsmith.datasource index: organization_datasource_deleted..."
Sentry Issue: [APPSMITH-1HX](https://sentry.io/organizations/appsmith/issues/2907838300/?referrer=github_integration)

[code]

[2022-01-05 07:15] YogeshJayaseelan opened #10165 "[Bug]: Text overlaps in property fields for some of the widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that the text overlaps in the property field outline for some of the widget

<img width="1680" alt="Screenshot 2022-01-05 at 12 29 39 PM" src="https://user-images.githubusercontent.com/35128442/148175302-4ecd4315-9c88-4450-8a64-2c726f6de791.png">

<img width="301" alt="Screensh

[2022-01-05 07:16] somangshu commented on #4141
@vibhandikyash is the documentation related to this updated

cc @dilippitchika @Pranay105

[2022-01-05 07:17] rohan-arthur commented on #4559
Meeting Notes:

- [ ] 1. UQI components client side implementation will be done by next week - Ayush
         - [ ] a. 2/4 done - waiting for Hetu's approval
- [ ] 2. Validations might need some more inputs, Ayush to talk to Rashmi about this and get back - Rashmi
         - [ ] a. Clarify problem statement with @rohan-arthur
         - [ ] b. Break down into smaller problems
         - [ ] c. Pai

[2022-01-05 07:18] shwetha-ramesh opened #10166 "[Bug]: Table widget shows blank space when resized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Table widget shows blank space when resized

https://loom.com/share/8d6e101703ca43fa9bdf4b7f61e55ac9

### Steps To Reproduce

1. Drag and drop a table widget
2. Click on the right side of the border and drag the widget.

### Environment

Production

### Version

Cloud

[2022-01-05 07:21] vivekverma2312 opened #10167 "[Bug]: Intermittent : Data do not populate on table after binding the query until refresh the screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d7dd05f7fb0743f28c3765d8da298632-00001.gif)](https://www.loom.com/share/d7dd05f7fb0743f28c3765d8da298632)

### Steps To Reproduce

Tried binding the query on Table widget and data is not populated on table but evaluated below shows the dat

[2022-01-05 07:22] somangshu commented on #9834
@keyurparalkar @sbalaji1192 need inputs from you guys on the above

[2022-01-05 07:24] sumitsum commented on #10037
@sbalaji1192 just adding some more context here - the issue that the server is reporting is that the client has sent it a `bindingPath` that does not exists in the widget's `dsl`.

[2022-01-05 07:28] Nikhil-Nandagopal opened #10168 "[Bug]: The DatePicker close option doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The date picker close on selection option fails after you select a month
The close on selection should be on by default

### Steps To Reproduce

1. Drag a date picker
2. Set close on select
3. Click the date picker
4. Select another month
5. Select a date
6. The datepicker doesn't close

###

[2022-01-05 07:34] shwetha-ramesh opened #10169 "[Bug]: Cancel and x mark performs the same action in few pop up windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cancel and x mark performs the same action in few pop up window

![image](https://user-images.githubusercontent.com/92293815/148177516-636786e2-aeae-4205-a8b8-66e99f8ccf3c.png)
![image](https://user-images.githubusercontent.com/92293815/148177549-98fad0dc-8c71-4ebc-865a-fabd24d9fe6d.png)

Exp

[2022-01-05 07:37] ramsaptami opened #10170 "[Bug]: Spacebar on iFrame does not pause audio content"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hitting `spacebar` on iFrame widget with audio content does not pause media. Play icon animates between pause and play but does not stop playing. Albeit, it does resume playing by hitting the `spacebar` if media has been paused.

This works on video (example, embeded **YouTube** link) but doe

[2022-01-05 07:46] keyurparalkar commented on #9834
@somangshu I think we should go with option 2. Were we consider default values to be of the same type as values
What do you think @sbalaji1192 ?

[2022-01-05 08:01] vivekverma2312 opened #10171 "[Bug]: There is no space between Text size and pixel for Text size property on property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="280" alt="Screenshot 2022-01-05 at 1 23 15 PM" src="https://user-images.githubusercontent.com/83569920/148180929-41b2e007-3f32-4674-99db-107d2feb1f16.png">

### Steps To Reproduce

1. Drag and drop a Table widget
2. On property pane go to Text size property
3. Select Heading3 Opti

[2022-01-05 08:17] sentry-io[bot] opened #10172 "DuplicateKeyException: E11000 duplicate key error collection: appsmith.application index: organization_application_delet..."
Onvoarding flow for new user is throwing duplicate key exception for `Super Standup app`. More details can be found out in sentry logs

Sentry Issue: [APPSMITH-1GJ](https://sentry.io/organizations/appsmith/issues/2887535067/?referrer=github_integration)

[code]

[2022-01-05 08:40] shwetha-ramesh opened #10174 "[Bug]: Duplicated applications throws error when launched from home page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Duplicated applications throws error when launched from home page
![image](https://user-images.githubusercontent.com/92293815/148186889-b44c3fc9-c69e-4059-b23f-f29c79937ca7.png)

(https://loom.com/share/32a4b3ce04bc484c961236de09bcebda)

### Steps To Reproduce

1. Login to appsmith
2. Go to a

[2022-01-05 08:49] dilippitchika commented on #10158
Hey @vihar yes this is working now, closing the issue.

[2022-01-05 08:49] #10158 closed

[2022-01-05 09:01] YogeshJayaseelan opened #10175 "[Bug]: Redo is not happening after deleting a button from button group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the user deletes any button from the button group property and clicking on cmd+z shows the deleted button in the property pane but not in the widget

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9c76f0baf13e4cb5a5df3eb27ae0b96b-00001.gif)](https://www.loom.co

[2022-01-05 09:02] kocharrahul7 opened #10176 "[Template]: Bulk upload data"
### Title

Insert CSV into database

### Objective

A user uploads a CSV/spreadsheet, which will be of a particular format, which the user can see and download.

A user is able to add a single entry using a Modal, OR upload a CSV/spreadsheet file which must match the existing format. The tool will validate the file, and append the table data to the database.

functionality to be highlighted:
File

[2022-01-05 09:03] somangshu commented on #3516
@dilippitchika It was pointed out to me by @wmdev0808 that these changes are conflicting to what @techbhavin implemented in #9423, I checked the implementation and he is right, Now that we have the time precision control for the dev, the problem is solved for the end user and the onus is on the dev to set the correct format required in the api/query.

We dont need the changes planned here anymore.

[2022-01-05 09:03] #3516 closed

[2022-01-05 09:08] sbalaji1192 commented on #9834
@keyurparalkar @somangshu Let's go with @riodeuno suggestions. We will enforce that all values data type is equal and then we infer the type from the first option to get the default value type.

[2022-01-05 09:08] somangshu commented on #9475
@dilippitchika think about this again, Seems like you are in the right direction, Essentially the horizontal list and carousal are the same UX / UI.

On that note, its also essential to have the orientation on the list widget, this is a very common ask.

Another point with the carousal is that the text is usually expected to be available as an overlay on the image in a carousal. This is also a ver

[2022-01-05 09:09] YogeshJayaseelan opened #10177 "[Bug]: The hide and unhide functionality are swapped by hiding a column and pressing cmd+z for redo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that by hiding  any columns in the table property pane and by pressing cmd+z the hided column will be re-displayed but the unhide icon will be displayed in the property pane and which is turn pressing the unhide icon will agaon hie the column

[![LOOM DEMO](http://cdn.loom.com/

[2022-01-05 09:09] somangshu commented on #9834
cc @dilippitchika keeping you in the loop

[2022-01-05 09:11] kocharrahul7 opened #10179 "[Template]: PostgreSQL admin Panel"
### Title

PostgreSQL admin Panel

### Objective

The aim of this app is to create an admin panel for a PostgreSQL Database.

Using the existing Demo databases, we would like to create an admin panel for the apps, highlighting the following abilities and features:

1. Table widget
2. form widget
3. Dropdown widget
3. CRUD functionality
4. Custom sort
5. Refresh button
6. Image button
7. Button in

[2022-01-05 09:14] somangshu commented on #9443
This would be a technical challenge, If we have an underlying mapping on the widget name, There might be an issue with predicting what the widget name should be in autocomplete from the user POV. Something similar faced in the table widget v2.

cc @riodeuno @sbalaji1192

[2022-01-05 09:14] YogeshJayaseelan commented on #10175
This is the same behaviour for Menu Button widget as well

[2022-01-05 09:15] somangshu commented on #9443
also @ramsaptami this issue is not specific to the tabs widget, Its more of a generic challenge across widgets

[2022-01-05 09:22] akash-codemonk commented on #7758
Analytics events
 - [ ] WELCOME_TOUR_CLICK(event exists already): When the user clicks on welcome tour
 - [ ] GUIDED_TOUR_REACHED_STEP: When the user reaches a step. For e.g when the user finishes  step 2 and goes to step 3, this event is fired with params
[code]
- [ ] END_GUIDED_TOUR_CLICK: When the user clicks on the end tutorial button.
- [ ] GUIDED_TOUR_RATING: When the user choses a rating. E

[2022-01-05 09:25] ramsaptami commented on #9443
That's true @somangshu . Seen this on table widget too

[2022-01-05 09:26] somangshu commented on #10175
@jsartisan @techbhavin need you guys to triage this and propose a probable solution, Let me know what is required here

[2022-01-05 09:29] somangshu commented on #10177
This is more of a re-rendering issue when it comes to undo/redo, Opening the same property pane again shows the correct changes

cc @jsartisan @marks0351

[2022-01-05 09:31] wmdev0808 commented on #3362
@somangshu,
For implementation on the requirements from @dilippitchika, I've done some research on the underlying package and alternatives.
Here are some result:

1. react-image-annotation
- Pros: It provides hooks for customization so that we can implement features such as edit / delete an annotation.
- Cons: It does not support resize/move, so we need to implement this features from scratch, hoo

[2022-01-05 09:43] ramsaptami commented on #7548
Reopening it since this hasn't been resolved by docking yet
https://www.loom.com/share/308f0553c66d45c38d6e5c99bdf62baf

[2022-01-05 09:47] SatishGandham opened #10180 "[Bug]: gzip is not turned on release and some self hosted instances."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On release and some self hosted instances, gzip is not enabled. Please check the screenshot below.

<img width="1421" alt="Screenshot 2022-01-05 at 12 06 40 PM" src="https://user-images.githubusercontent.com/441914/148196688-11c057f8-8810-4847-bdd4-a77f0103d785.png">
<img width="1417" alt="Sc

[2022-01-05 09:50] somangshu commented on #3362
@wmdev0808 based on the your comment above, Here are my thoughts
- I remember us using react-image-annotation over react-picture-annotation for some reason, Probably typescript support, What is the caveat here? Are we talking a tech debt?
- The con listed in react-picture-annotation is a UX issue which might be true in any implementation, if that is not an issue, this package can be preferred
- @d

[2022-01-05 09:55] sumitsum commented on #2284
Meeting updates:
- @parth-appsmith - update designs as per today's discussion:
  - Need some way to identify that the action config page is for `GraphQL` action and not `REST API` action. Currently, both look exactly same so user might get confused about whether the action is related to `GraphQL` or `REST API`
  - Need to indicate a separation between the `Query` and `Query Variables` section in t

[2022-01-05 10:01] ramsaptami commented on #9317
Reopening this since it's still happening on release. JS objects are automatically run on page load
![image](https://user-images.githubusercontent.com/79509062/148198789-8185e338-695e-4504-969e-e684602ef182.png)

[2022-01-05 10:03] wmdev0808 commented on #3362
@somangshu,

- react-picture-annotation supports TS by default.

We just choose react-image-annotation for popularity(github star) and more functionalities(for example support for various selector types, RECTANGLE, OVAL, POINT, even custom one, however, react-picture-annotation just supports RECTANGLE)

- edit: label input, tag input on a newly created annotation or existing annotation
- resize: m

[2022-01-05 10:19] somangshu commented on #3362
@wmdev0808 thanks for the clarity on this

@dilippitchika we would like to have a discussion around this with you

cc @sbalaji1192

[2022-01-05 10:22] somangshu commented on #7548
@ramsaptami the extra scroll you are seeing is on the property pane itself and not on the canvas, I would argue that this issue is actually resolve, Let us know what is your expectation here or close the issue

[2022-01-05 10:38] kocharrahul7 commented on #9661
Template discovery: Roop created and shared various options for the Template page for existing user discovery. Of the 3 options mentioned below, we have decided to go with the 3rd option (a tab which will highlight all templates, and allow a user to test and fork the template into their org

Landing pages: Kadao is working on creating a landing page for our templates which is browsing, SEO and CMS

[2022-01-05 10:40] shwetha-ramesh opened #10182 "[Bug]-[120]:Checkbox group not aligned appropriately when more options are added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Checkbox group not aligned appropriately when more options are added.
Also observed in Switch group widget
![image](https://user-images.githubusercontent.com/92293815/148204106-cbd47eb9-ae8d-4336-8ef0-dd32a33b9a31.png)

https://loom.com/share/6a13e34b82d04942857a968c3d480418

### Steps To Rep

[2022-01-05 10:42] dilippitchika commented on #3362
@somangshu @wmdev0808 We can have a discussion on this. I also have some other details to share.

I was checking react-image-annotation [and the resize issue](https://github.com/Secretmapper/react-image-annotation/issues/26) is open since the last 2+ years. I don't there's any improvement on that front.

I still think it's common to have the resize and move feature for annotation projects.

Can co

[2022-01-05 10:43] ramsaptami commented on #7548
This is one scenario where I've seen it happen but can replicate it consistently while I'm building an app hence overall this tends to happen more than once when building an app. The aim is to not have that jittery feeling. Our UX would be much better without that slight shift and back that you see in the video

[2022-01-05 10:49] sbalaji1192 commented on #9119
@vivekverma2312 Fixed. please test again.

[2022-01-05 10:52] jsartisan commented on #7575
Closing as will be fixing this in #9714

[2022-01-05 10:54] somangshu opened #10183 "[Bug]: Chart widget, Not in loading state when the query is still loading data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The chart widget is not in the loading state when the data from the query is still loading, The UX for the end user is confusing as then dont know if there is an error in showing data, specially in case of large data set.

Issue was originally reported on [discord](https://discord.com/channel

[2022-01-05 10:54] somangshu commented on #10183
As per the user, This is also crashing there application.

[2022-01-05 11:00] shwetha-ramesh commented on #10174
Duplicate of https://github.com/appsmithorg/appsmith/issues/8697

[2022-01-05 11:00] #10174 closed

[2022-01-05 12:13] ramsaptami opened #10184 "[Bug]-[1000]:Forking large apps throws a timeout error but app card is created and trying to launch this fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Forking large apps throws a timeout error but app card is created and trying to launch this fails.

![image](https://user-images.githubusercontent.com/79509062/148215562-94a9df04-5303-456f-a01b-4c4c3d413a2e.png)
![image](https://user-images.githubusercontent.com/79509062/148215987-2695ada5-e0

[2022-01-05 12:14] techbhavin commented on #9704
@somangshu  @dilippitchika
we can decline related PR.  Here we only added validation to allow  IP without EXT URL.

[2022-01-05 12:15] ramsaptami commented on #9887
Don't think this can be repro'd on view mode but we can look into this on low prority

[2022-01-05 12:30] dilippitchika commented on #9704
@somangshu @techbhavin no other change. We can decline the PR.

[2022-01-05 12:30] ajinkyakulkarni commented on #9087
Meeting notes:
* No significant progress has been made in the last 2 weeks on this epic
* @eco-monk to finish #4789
* @eco-monk to start working #9692
* @ApekshaBhosale to add JSObject metrics to Mixpanel
* @eco-monk to look at #9391
* Decision to not include Autocomplete Evaluated Value feature (https://www.figma.com/file/X03G0OsEtvH9JHDhU8XREy/JS-Editor?node-id=39%3A10023) as part of this epic

[2022-01-05 12:36] Debsourabh opened #10186 "[Task]: Design System Improvements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Align the radio button in the DS. Today the radio button is centre aligned with the text. We should top align it with the text.
- When deleting a datasource the delete option is on top. The delete option should always be at the bottom.
- Inside pages setting when there is only one page we should di

[2022-01-05 12:37] somangshu commented on #9704
In that case we can close both the pr and issue @techbhavin

[2022-01-05 13:02] dilippitchika opened #10187 "[Bug]: Min Date is out of range for the date picker widget by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I add a new datepicker widget, Min Date shows error and says Out of Range. When converted to JS it shows "1920-12-31T18:30:00.000Z".

![Screenshot 2022-01-05 at 6 26 03 PM](https://user-images.githubusercontent.com/19730984/148377732-260ed5b4-bb10-4046-a4b7-ac5f9b5a7738.png)

I think the

[2022-01-05 13:37] rohan-arthur commented on #1911
### Nested folders
1. how to access files inside nested folders? fully qualified name or via import (or something else)?
2. no folders in V1 scope (because there is additional complexity in refactoring movement of files)
3. How to indicate to users that the variable you are accessing is from an outside module like _utils?_. Or how does the user refer to a variable from an outside module?
    a. ho

[2022-01-05 13:43] #9346 closed

[2022-01-05 13:43] #9704 closed

[2022-01-05 14:14] AmanAgarwal041 commented on #10124
Re-opened this issue because an edge case was missed.
### Reproduction steps

When we update the query `very fast` but the previous value and ending value remains same eg. `ABCD` we remove `D` and then add `D` so the ending data remains `ABCD`  and we hit `CMD+ENTER` for running the query. Then the loading state remains in the infinite loading state.

[2022-01-05 14:51] Rishabh-Rathod commented on #1911
## Discussion++

Adding to the above points.

We also discussed how import global actions should work,
1. everyone was aligned on adding `import` syntax similar to how the JS module works.
```import { fun1, fun2 } from "common_module/util"```
2. Also discussed a few points on how autocomplete should help users to auto import modules. The experience expected was similar to how VS code does it.

##

[2022-01-05 15:52] dilippitchika commented on #3369
Items discussed
Saving default themes and creating new themes
- Option 1 : Ask user to save current theme when they try to load/apply a new theme
- Option 2 : Ask user to save when the start to make a change on a default theme
- Option 3 : Autosave as a new theme when change happens, when user tries to load a new theme, this theme persists.
- Option 4 : Autosave a theme, when user tries to apply a

[2022-01-05 18:51] ayushpahwa opened #10191 "[Feature]: Enable drop down control form component to have dynamic drop down options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This feature is to enable to allow for future upgrades to the component like dynamic value fetching or linking value based on other components

### Why should this be worked on?

This is a part of the UQI project. This is required to allow for enhancements like dynamic value fetching.

[2022-01-05 18:59] #9655 closed

[2022-01-05 19:41] wmdev0808 commented on #9875
@somangshu ,
This issue has already been addressed by PR #10012

[2022-01-06 04:56] riodeuno commented on #9443
It will help if we can compile the parts of the application where we find this issue; solve for all the scenarios at once using the same underlying function.

We have it in the PRD for table widget v2 to handle this correctly for the column names, I believe we can do the same for the tab names -- These are not entity names, nor are paths in the dependency lists, at the moment, so spaces should be

[2022-01-06 05:01] aswathkk commented on #9875
Thanks, @wmdev0808
This issue got resolved in release

[2022-01-06 05:01] #9875 closed

[2022-01-06 05:52] chandannkumar opened #10193 "[Bug]: While adding document viewer inside the container widget, it shows 'iframe' as a popup for only 1st time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/2945ae11c55f492995e323f93cbdb576-00001.gif)](https://www.loom.com/share/2945ae11c55f492995e323f93cbdb576)

### Steps To Reproduce

1. Add a container widget
2. Add a document viewer widget inside container widget
3. After adding document v

[2022-01-06 05:55] ramsaptami opened #10194 "[Bug]: Alignment of field labels are off on generate CRUD page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Field labels are not uniformly aligned on the generate CRUD page.

![image](https://user-images.githubusercontent.com/79509062/148335476-93eab57f-ab3b-403b-8447-9d1f2692bb88.png)

### Steps To Reproduce

1. Add a new page and select CRUD option and observe the label alignment

### Environment

[2022-01-06 05:59] chandannkumar opened #10195 "[Bug]: Widget inside container widgets are added in a different alignment when there is a space in canvas(towards bottom)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/ee10b826feca4a49bd7c3a10740a149c-00001.gif)](https://www.loom.com/share/ee10b826feca4a49bd7c3a10740a149c)

### Steps To Reproduce

1. Add container widget
2. scroll the canvas, so that container widget is not completely visible in canvas
3

[2022-01-06 06:13] somangshu commented on #8506
@sbalaji1192 does this require a documentation change, In that case we have to inform @dilippitchika & @Pranay105 about the release so that they can plan this properly.

[2022-01-06 06:15] prapullac commented on #9808
Not identified the error during regression hence adding the verified label

[2022-01-06 06:17] somangshu opened #10196 "HPI Q1 22"
## Objective:
targeting better stability of the widgets

## Success metrics:
- Community issues are resolved and at a low number
- widgets should be stable and old issues must not regress
- increase in the test coverage while resolving the issues

## RACI Matrix:

| Responsible | Accountable | Consulted | Informed |
| ----- | ----- | ----- | ----- |
| @vibhandikyash @wmdev0808 @techbhavin @Toolulo

[2022-01-06 06:24] dilippitchika commented on #9822
@sbalaji1192 can you link this to the input widget fixes you are doing. Also, we should add js snippet in our docs which can split a phone number into country code and number.

[2022-01-06 06:58] vivekverma2312 commented on #9119
@sbalaji1192 1. County code is not updating for United States for Phone Input widget
https://www.loom.com/share/45d072cd0bba42f4895e313b89d9fbfe
2. Country flag is not coming on country code drop-down options for Phone Input widget

[2022-01-06 07:04] ramsaptami opened #10197 "[Bug]: Turning on JS on cap field and clearing placeholder of Divider widget causes unexpected behaviour"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Turning on JS on cap field of Divider widget causes unexpected behaviour where cap appears on the divider without any selection

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d393fdc07467426d9530491be8f0a4b1-00001.gif)](https://www.loom.com/share/d393fdc07467426d9530491be8f0a4b1)

###

[2022-01-06 07:08] Rishabh-Rathod opened #10198 "[Bug]: ADS Dropdown component empty state UI broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="628" alt="Screenshot 2022-01-06 at 12 34 55 PM" src="https://user-images.githubusercontent.com/23132741/148342865-c1a42064-c149-4631-b861-9230807dc5e6.png">

### Steps To Reproduce

1. Create datasource with incorrect configs
2. Generate CRUD page using it.
3. Open table dropdown

[2022-01-06 08:37] #10120 closed

[2022-01-06 08:47] #7719 closed

[2022-01-06 09:01] pranavkanade opened #10199 "Refactor/Code Split for login pages"

[2022-01-06 09:10] somangshu commented on #7064
[Designs here](https://www.figma.com/file/w9CaXHF5iYcrLtiEbAHcFu?node-id=1580:9841#126493257).

Dev Note:
- What is the current approach here? The label is left aligned on a single row element, and takes width as required by the content hence-fourth pushing the input component on different alignments. this looks really off.
- What is the solution? For inputs of equal length (on ui), we will fix a

[2022-01-06 09:11] somangshu opened #10200 "Widget enhancements Q1 22"
## Objective:
enhancing the existing widgets, such that we add more value for the community, making our existing widgets function better

## Success metrics:
- Community requests are resolved
- More use case coverage without adding new widgets

## RACI Matrix:

| Responsible | Accountable | Consulted | Informed |
| ----- | ----- | ----- | ----- |
| @vibhandikyash @wmdev0808 @techbhavin @Tooluloope

[2022-01-06 09:11] #9494 closed

[2022-01-06 09:20] sbalaji1192 commented on #8506
@somangshu Have spoken to @Pranay105 & @dilippitchika  already. I will write some draft documentation sometime this week or early next week.

[2022-01-06 09:23] somangshu commented on #7263
@dilippitchika this issue has gone through a round of development and we have faced roadblocks we did not want to ahead with. We should be doing a v2 hear, and on that note I need your inputs on how to make the usage of custom charts convenient for the user.

[2022-01-06 09:37] somangshu commented on #7256
@momcilo-appsmith why do you say that, #4138 according to me is to show simple data in a tabular / list format.

[2022-01-06 09:40] Parthvi12 opened #10203 "[Task]: Cypress tests for importing, exporting and forking application."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-06 09:46] #9755 closed

[2022-01-06 09:47] somangshu commented on #10159
@dilippitchika a little more information on how this property will function is required, Can you leave a note here regarding the same?

[2022-01-06 09:53] somangshu commented on #9116
@SatishGandham is this already working, Can we close the issue

[2022-01-06 10:03] #10191 closed

[2022-01-06 10:19] Nikhil-Nandagopal commented on #8968
@ramsaptami @ApekshaBhosale is this still an issue?

[2022-01-06 10:21] Nikhil-Nandagopal commented on #9349
This will be solved with #2285

[2022-01-06 10:21] #9349 closed

[2022-01-06 10:25] #10082 closed

[2022-01-06 10:31] ramsaptami commented on #8968
This still happens on release today @Nikhil-Nandagopal

[2022-01-06 10:34] #9987 closed

[2022-01-06 10:37] Nikhil-Nandagopal commented on #9419
@vivekverma2312 this is already possible.

[2022-01-06 10:37] #9419 closed

[2022-01-06 10:42] Nikhil-Nandagopal commented on #10037
@sumitsum @sbalaji1192 is this related to this one? Looks like Saptami has some steps
https://github.com/appsmithorg/appsmith/issues/9439

[2022-01-06 10:49] #8051 closed

[2022-01-06 10:59] Nikhil-Nandagopal commented on #10193
I don't think we should consider this a bug and move on from it

[2022-01-06 10:59] #10193 closed

[2022-01-06 10:59] Rishabh-Rathod commented on #9037
@jsartisan  Can you check the above issue and also [this issue](https://github.com/appsmithorg/appsmith/issues/9428)?
Both seem to be after the style change of tailwind and were missed.

[2022-01-06 11:04] yatinappsmith opened #10205 "[Feature]: SSH plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a user I would like to run few commands or trigger an action on servers. This is possible with ssh

### Why should this be worked on?

SSH plugin will help users build apps to connect to servers

[2022-01-06 11:14] ashit-rath opened #10206 "Design changes - Required state, accordion toggle"

[2022-01-06 11:14] Nikhil-Nandagopal commented on #10205
@yatinappsmith this is a duplicate of #2404 please upvote that issue :D

[2022-01-06 11:14] #10205 closed

[2022-01-06 11:15] rohan-arthur opened #10207 "[Task]: Include sections for expected and actual outcomes in github bug template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Our issue template for a bug has the following sections:
Current behaviour
Steps to reproduce
Environment
Version

this template also needs sections for "expected outcome" and "actual outcome" to pin-point what the bug is.

I frequently miss the context because the expected and actual outcomes are no

[2022-01-06 11:18] sumitsum commented on #10037
@Nikhil-Nandagopal yes, #9439 is the same problem.

[2022-01-06 11:21] Nikhil-Nandagopal commented on #10037
Well it seems we can reproduce it now then since that has the steps

On Thu, Jan 6, 2022 at 4:48 PM Sumit Kumar ***@***.***> wrote:

--
Nikhil Nandagopal
(*Founder @* appsmith <https://appsmith.com>)

[2022-01-06 11:23] shwetha-ramesh opened #10208 "[Bug]: When more options are added in Radio group widget the options move out of the widget border"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When more options are added in Radio group widget the options move out of the widget border
![image](https://user-images.githubusercontent.com/92293815/148375384-4e7ee547-bc88-4561-b02e-14918e85d661.png)

### Steps To Reproduce

1. Drag and drop a Radio group widget
2. Add two new ```Option``

[2022-01-06 11:31] rohan-arthur commented on #10026
@dncpax the fix is in process, we had earlier implemented a hacky way to fix this, but thought a more enduring solution would be better suited. This should be available soon, will update the ETA when I know more.

[2022-01-06 11:38] jsartisan opened #10209 "[Bug]: Bulk update with google sheet integration does not work for special characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

excerpt from user (zzgvh):

I'm using a Google spreadsheet within a sheet named Försäljning. The Fetch sheet rows method works fine, but when I try to Bulk update rows I get the error Invalid character 'ö' for PATH in "/v4/spreadsheets/1tsX-7ERJshvegIccPWRI2KNLZszXFRnllO768ElYIS8/values/'Förs

[2022-01-06 11:57] nidhi-nair opened #10210 "[Task]: Add analytics events for UQI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Form vs raw data usage

[2022-01-06 12:01] Nikhil-Nandagopal opened #10211 "[Bug]: passing params is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In this app, searching a github issue does not work because the value of the searchtext being passed is not reflecting in the query when it is called. It is being called with undefined
https://app.appsmith.com/applications/61cd5be2a4437918c01f87af/pages/61cd8575a4437918c01f89b2?branch=master

[2022-01-06 12:06] Nikhil-Nandagopal opened #10212 "[Bug]: Table widget column names got reset"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A user reported their table column names were reset

### Steps To Reproduce

1. Open our app https://app.appsmith.com/applications/5f897e60f7e1fd3c3d24198e/pages/60ad160d7bf92558fd17e84c
2. The custom column names are all reset

### Environment

Production

### Version

Cloud

[2022-01-06 12:23] dilippitchika commented on #3362
Discussions with @wmdev0808 and @somangshu today
1. Dilip to create an updated PRD and share by Monday. PRD to cover the select/text functionality along with the above discussed requirements.
2. Requirements are same as the ones discussed above
3. Not in scope : Overlapping annotations in an existing bounding box, non-rectangular bounding boxes.
4. Decided to move ahead with react-picture-annotati

[2022-01-06 12:31] techbhavin commented on #8573
@somangshu  This issue is already Fixed.

no need to fix this issue. can we ask the QA team to test this issue?

[2022-01-06 12:39] dilippitchika opened #10213 "[Enhancement]: Using a different marker for live location in the map widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Appsmith devs who collect location from the app viewers can use it to show a live location indication for the app-viewer in the map widget.

Similar to how google maps support blue location indicator for the current user.

### Why should this be worked on?

We can then differentiate the user's locatio

[2022-01-06 13:42] #10203 closed

[2022-01-06 13:51] #10211 closed

[2022-01-06 14:00] dilippitchika commented on #9479
@somangshu can we close this? This is marked as done from Yogesh.

[2022-01-06 14:09] dilippitchika commented on #9116
@somangshu remember the issue we were discussing where base64 uploads of even 2MB were crashing the app when referenced in any other widget? Can this part of the same bug or do we create a new bug?

[2022-01-06 14:11] somangshu commented on #9116
@dilippitchika Could you mention the issue you are referring to here?

[2022-01-06 14:14] dilippitchika commented on #9443
@riodeuno this is something which is quite annoying, if we can also pick it up with table v2 it would help.

@somangshu then as per the above comment, if we decide to go ahead and address it in table v2 can i change the name of the bug and add it in Table widget v2 issues epic?

[2022-01-06 14:22] dilippitchika commented on #9116
Upload a file which is >2MB to the file picker and reference the filepicker.files to a text widget. If the file picker type is set to Base 64, it ends up crashing the whole app.

[2022-01-06 14:27] riodeuno commented on #9443
It is quite annoying. I am actually suggesting that we pick this up before or in parallel table widget v2. As this is more of a global change that effects multiple aspects of the application and is a low hanging fruit.

[2022-01-06 14:34] #10018 closed

[2022-01-06 14:39] #8048 closed

[2022-01-06 14:40] AnaghHegde opened #10216 "Url conversion is wrong for bitbucket clients"

[2022-01-06 14:40] AnaghHegde opened #10217 "Prune doe not delete the old refs"

[2022-01-06 14:56] #9626 closed

[2022-01-06 15:06] #10136 closed

[2022-01-06 16:15] #10212 closed

[2022-01-06 16:37] #9870 closed

[2022-01-06 16:52] ramsaptami opened #10219 "[Bug]-[100]:Placement options on button widget is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Placement options on button widgets does not convey the right information and is ambiguous in action and labeling
`Start` and `between` move the label to the left most corner of the button and `center` keeps the button label in the middle

![image](https://user-images.githubusercontent.com/79

[2022-01-06 17:53] areyabhishek commented on #10219
@momcilo-appsmith @vasanth-appsmith Is there a better way to represent this instead of a dropdown?

[2022-01-06 19:45] Aishwarya-U-R opened #10222 "[Task]: Develop skipping automation tests in typescript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-07 04:22] ramsaptami opened #10228 "[Bug]: App in preview mode shows hidden widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hidden widgets should not be visible in **preview mode**

### Steps To Reproduce

1. Turn off `Visible` property of a widget and switch to **preview mode**. Observe hidden widget is still visible

### Environment

Production

### Version

Cloud

[2022-01-07 05:20] sbalaji1192 commented on #9119
@vivekverma2312 Fixed your callouts. Also fixed callouts posted by @dilippitchika over [here](https://github.com/appsmithorg/appsmith/pull/9582#issuecomment-1005686279). Please verify both.

[2022-01-07 05:26] leotom2000 commented on #8878
PR #9923 created related to this fix was cancelled since PR #9711 handled the same main issue and merged the changes.

[2022-01-07 05:28] dilippitchika commented on #7828
@rishabhsaxena could you expand on this? I didn't get what you meant fully.

[2022-01-07 05:47] Nikhil-Nandagopal commented on #10228
@ramsaptami why is this low? This seems like a critical issue to me that is affecting all production apps

[2022-01-07 05:47] leotom2000 commented on #8878
Found another related issue on testing as follows.
(1) To have a Google sheet with column of integers/decimals,
     (1.1 ) try to fetch eg. 3456.77 - works fine
(2) Goto google Sheet, select the column to be fetched
   (2.1) Select from menu "Format"=>"Number"=>"Number"
        (The column get formatted with comma delimited numbers)
(3) Now when tried to fetch 3456.77, will thow error as mentione

[2022-01-07 05:51] rishabhsaxena commented on #7828
Hey @dilippitchika actually this was mentioned by someone from the community, I wasn't actually completely sure myself and had hoped would get more context from the user. Quoting the exact text below in case it helps:
[code]

[2022-01-07 05:59] rohan-arthur opened #10230 "[Feature]: [validations] Extracting requirements from JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we get the form config, we have to extract the validation config and create validation paths.

As an FE Coder, I should be able to extract the validation keys from the config JSON and set them as validation paths, so that the validation service can run the validations on the components.

Corner c

[2022-01-07 06:02] rohan-arthur opened #10231 "[Feature]: [validation] Supply config to validations service"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a FE Coder, I should be able to pass the validation keys to the validation service so that the validation service can run the validations and return the results.

Corner cases: handling binding paths

Test cases: None

Documentation required: Yes
To be planned separately

Note: this is part of the

[2022-01-07 06:05] ramsaptami commented on #10228
Marking this back to low since this is to do with preview mode and not view mode. My bad for missing the right word there

[2022-01-07 06:06] rohan-arthur opened #10232 "[Feature]: [validation] Implementing types of validations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Note: this is part of the larger validation story, details [here](https://docs.google.com/document/d/1E-3fc3xSk0aQ4r6iOlz9nFtuqUeozsyFuDOaD5dcSDQ/edit#).

### Summary

As a plugin developer, I shall be able to pass a validation config so that I can enforce validation on the user inputs.

Out of scope: DynamicTextC

[2022-01-07 06:08] rohan-arthur opened #10233 "[Feature]: [validation] Show errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a FE Coder, I should be able to show error messages in form fields so that the developer will know he has entered the invalid input.

Corner Cases:

Documentation required: Not required

Test Cases: Add cypress test cases to ensure error message shows up correctly

Note: this is part of the larger

[2022-01-07 06:08] #10199 closed

[2022-01-07 06:09] rohan-arthur opened #10234 "[Feature]: [validation] DynamicTextControl and DynamicInputTextControl"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a FE Coder, the error in the inputs should show up so that users can get real time feedback.

Corner cases: None

Test cases: Update/add test case

Documentation: Not required

### Why should this be worked on?

As a Plugin developer, I should be able to enable real time validations on the query an

[2022-01-07 06:11] rohan-arthur opened #10235 "[Feature]-[12000]:[validation] Backend Changes and Migration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a FE Coder, client should be getting a validation config for the required form field in action form so that validations can be applied to that field.

[this is a placeholder issue, more details will be entered after discussion with backend engineer. Details [here](https://docs.google.com/document/d

[2022-01-07 06:14] somangshu commented on #9954
Looks like this is a very cypress thing because the application has not yet loaded and its searching for the element. For not changing the priority.

[2022-01-07 06:23] riodeuno commented on #9954
@somangshu The application seems to have loaded correctly for the first couple of tests, and it seems that the application crashes in the 3rd test. We need to look at this from a development standpoint and investigate the cause for the crash and fix it.

[2022-01-07 06:25] somangshu commented on #9954
@jsartisan could you take a look into this?

[2022-01-07 06:41] rohan-arthur commented on #5702
details [here](https://docs.google.com/document/d/1E-3fc3xSk0aQ4r6iOlz9nFtuqUeozsyFuDOaD5dcSDQ/edit#).

Here are the issues:

- [ ] Extracting requirements from JSON #10230
- [ ] Supply config to validations service #10231
- [ ] Implementing types of validations #10232
- [ ] Show errors #10233
- [ ] DynamicTextControl and DynamicInputTextControl #10234
- [ ] Backend Changes and Migration #10235

[2022-01-07 06:47] Rishabh-Rathod commented on #6923
@ramsaptami the red color braces here mean these is no matching pairs for it according to how codemirror handles it.

Is this confusing and any suggestion on how can we improve it?
cc: @ajinkyakulkarni @rohan-arthur

Also, there is an issue where it doesn't remove those even after the typing cursor is not pointing it.

[2022-01-07 06:47] hetunandu commented on #10115
Happens for action.run functions and async JS functions

[2022-01-07 06:56] ApekshaBhosale commented on #9901
@ramsaptami is this still happening?

[2022-01-07 07:00] Rishabh-Rathod opened #10236 "[Task] Promises Docs"
https://www.notion.so/appsmith/Promises-docs-1bbe24f49b0c43fdb3dc582413da1948

[2022-01-07 07:00] #10236 closed

[2022-01-07 07:10] ramsaptami commented on #9901
Seems to be fixed @ApekshaBhosale

[2022-01-07 07:10] #9901 closed

[2022-01-07 07:11] hetunandu opened #10237 "[Bug]: Old async functions in JS Editor are not marked as async"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

JS functions created before the introductions of promises, are not marked as async as the functionality did not exist before. This will cause the function to not run properly

### Steps To Reproduce

Open an old app with old JS editor functions

### Environment

Production

### Version

Cloud

[2022-01-07 07:17] shwetha-ramesh opened #10238 "[Bug]: Progress bar widget 'fill color' field shows green when no color is set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In Progress bar widget ```Fill color``` shows Green #03B365 when the user sets the field to no color.

https://loom.com/share/529e84cbc9b14810b9eb2db666e9d4d0

**Expected behavior:**
Must display like below
![image](https://user-images.githubusercontent.com/92293815/148506418-6191d0c0-4057-4e

[2022-01-07 08:24] sentry-io[bot] opened #10241 "CannotDeleteCurrentBranchException: Branch Issue/integration is checked out and cannot be deleted"
Sentry Issue: [APPSMITH-1JB](https://sentry.io/organizations/appsmith/issues/2913200675/?referrer=github_integration)

[code]

[2022-01-07 08:33] ramsaptami commented on #8531
On IDE deploy preview, we can see the datasources change index position as and when the page is refreshed. This should not be happening
https://www.loom.com/share/6b8e1945b8a84240b4664ad223d71592

[2022-01-07 08:46] sumitsum opened #10242 "[Bug]: on page load computation order fails when all actions are only user set page load actions."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- Create `action1` and `action2`. Don't bind them to any widgets.
- Make `action2` dependent on `action1` by binding `{{action1.data}}` in `action2`.
- Set both actions to run on page load via settings.
- Check page load actions order in `dsl`. Ideally, `action1` is expected to run first then

[2022-01-07 08:52] ramsaptami opened #10243 "[Bug]: Datasources displays DB's that are not being used on the current app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

New design change displays datasources that belong to the current app but datasources not being used and tagged in the current app are displayed as seen in the video attached.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e4b0298f529f458894b0ba399d37c311-00001.gif)](https://www.loom.

[2022-01-07 08:58] leotom2000 commented on #4106
For "delete sheet" we are showing an error specific to the Sheet, we need to handle in the similar way so that, the common error message can be made more specific. Planning to work on that way as discussed with team.

[2022-01-07 08:58] #10142 closed

[2022-01-07 09:21] YogeshJayaseelan commented on #9119
@sbalaji1192 Tested this PR and please find the status below,

Issue raised by @vivekverma2312 are fixed and with respect to issues raised by @dilippitchika there is one bug reopen with the below steps

Currency widget - Add 2 decimals to default text keeping the decimal point option as 0 and check for the error message and now change the decimal point option 2 and see the error message will still

[2022-01-07 09:22] ayushpahwa opened #10245 "[Feature] Migrating current data for native/json functionality compaitbility"

[2022-01-07 09:23] Rishabh-Rathod commented on #10194
@jsartisan  Can you check if this was due to tailwind changes or not?

[2022-01-07 09:43] #10041 closed

[2022-01-07 09:57] #6314 closed

[2022-01-07 10:03] YogeshJayaseelan commented on #9858
@somangshu Didn't observe any vertical scroll when only one widget is added

<img width="1680" alt="Screenshot 2022-01-07 at 3 32 37 PM" src="https://user-images.githubusercontent.com/35128442/148527615-d2d620a1-9dfe-44a3-b519-3ebdb8c301fc.png">

[2022-01-07 10:05] jsartisan commented on #10194
Let me check

[2022-01-07 10:22] jsartisan commented on #10194
@Rishabh-Rathod Yes. This was due to tailwind only. I'll fix this. Let me know if there are any other places where things might be misaligned due to tailwind.

[2022-01-07 10:24] jsartisan commented on #10175
This should work out of the box. Will take a look

[2022-01-07 11:46] sbalaji1192 commented on #9119
@YogeshJayaseelan It's an issue on the property pane, not with the widget itself. if the dropdown value is 0, the property pane is not updating the value. Could you create a separate issue for this ?

[2022-01-07 11:56] jsartisan commented on #9479
Closing it as it is not happening anymore.

[2022-01-07 11:56] #9479 closed

[2022-01-07 11:57] #10049 closed

[2022-01-07 11:57] #10055 closed

[2022-01-07 13:20] abhvsn opened #10250 "[Feature]: Provide a way to resolve the merge conflicts when we pull the branch from remote"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Now that we are in the phase of implementing the git-import flow users can use different instances to work with apps and can work collaboratively. In such a setup if multiple folks work on the same branch and update the same resources, which will end up in conflicts. Today there is no intuitive way to

[2022-01-07 13:50] ashit-rath opened #10251 "Port InputV1 -> InputV2"

[2022-01-07 14:39] Rishabh-Rathod commented on #10194
@jsartisan can you search for "ADS component issue" labelled issues. I created that particular label for such internal issues to help me find them.

[2022-01-07 14:58] areyabhishek commented on #8329
I got one more request for this today from fountainhead on Discord.

[2022-01-07 19:15] Rishabh-Rathod commented on #9922
For a temporary fix, I tried removing resetting of `ListWidget` but seems like resetting of FilePicker widget though is evaluated but not shown as expected in ListWidget.

Check here https://www.loom.com/share/1dff9ef19c1b424c8ea78c5d019d3ef3

[2022-01-08 04:23] japrogramer opened #10253 "[Bug]: Invited user to group cannot register via OAuth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when an email is invited into a group and the User model for that email doesn't already exists a new User model with that email is created.

When the user goes to register via OAuth spring security OAuth complains that the user already exists.

This does not happen when the User registers via

[2022-01-08 19:01] dncpax commented on #10026
@rohan-arthur Thanks for the update. I've been tracking progress. I'm taking the time to improve my app.

[2022-01-09 07:13] fabform commented on #8588
Handy to get the google sheets id
[how to get google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-09 07:13] fabform commented on #4317
Handy to get the google sheets id
[how to get google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-09 07:15] #3559 closed

[2022-01-09 07:41] dilippitchika commented on #3362
Updated PRD

## Objective

Image annotation is useful for generating training data for machine learning projects. Companies/Teams employ resources internally or work with external vendors to annotate values from documents or images.

Our image annotation widget can be used to annotate images by app viewers to generate training data.

<h2>Success Metrics *</h2>

Goal | Metric
-- | --
Users can crea

[2022-01-10 02:49] sumitsum opened #10256 "[Feature]: Mongo plugin: add template for `aggregate`, `count` and `distinct` cmd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- add templates for `aggregate`, `count` and `distinct` cmd

### Why should this be worked on?

- provide template for all supported cmds.

[2022-01-10 03:48] myevo8u opened #10258 "[Bug]: Photos Taken on Iphone Fail to Upload using FilePicker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to upload a picture to my API through the filepicker via my iPhone I get a SyntaxError: Unexpected Identifier. When uploading pictures through desktop no errors. If I transfer the picture taken on my iPhone and try to upload from the Desktop, I receive the same error. I have tried

[2022-01-10 04:09] sumitsum commented on #10037
@sbalaji1192 one update - the error thrown by the server is because it expects the paths in `dynamicBindingPathList` to have a valid binding - it does a regex match to check if something similar with double curly braces exists or not `{{...}}` . So, even if the path is valid, it throws an error. The expectation from the server side is that if any path contains a value which is not a valid binding

[2022-01-10 04:21] #10222 closed

[2022-01-10 04:25] #9427 closed

[2022-01-10 04:57] rishabhsaxena commented on #9599
This looks fixed now

[2022-01-10 04:57] #9599 closed

[2022-01-10 05:29] #10003 closed

[2022-01-10 05:30] #10216 closed

[2022-01-10 05:34] #10217 closed

[2022-01-10 05:35] dilippitchika commented on #7064
@somangshu reviewed the figma, have some doubts I have added to figma, just adding the comment screenshot here.

@momcilo-appsmith need some help with these if these are already discussed. If not, let's close this on a priority.

![Screenshot 2022-01-10 at 11 04 53 AM](https://user-images.githubusercontent.com/19730984/148722178-f44a8b00-82db-4808-86e0-49742e843246.png)
![Screenshot 2022-01-10 at

[2022-01-10 05:53] somangshu opened #10260 "[Feature]: Circular progress widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Create a new circular progress widget

### Why should this be worked on?

[Community contributed](https://discord.com/channels/725602949748752515/827256420398399500/928270330768785469)

[2022-01-10 05:55] somangshu commented on #10260
@dilippitchika please check the related and give us an approval from the product POV

[2022-01-10 06:14] Nikhil-Nandagopal commented on #10253
@japrogramer I just tried the steps mentioned on our cloud instance and it worked fine. Was this using the google login?

[2022-01-10 06:20] raphaeltm commented on #2836
Just to add to this discussion, since I've brought up similar but different issues elsewhere previously... I think it would be great to have a hierarchy of special config variables that could get overridden at different levels. For example, it would be great if, like Hasura, you could define server-level environment variables which you could then use in an app in AppSmith. Then, it would be great

[2022-01-10 07:31] YogeshJayaseelan opened #10261 "[Bug]: The select widget overlaps on the video widget inside form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that the select widget overlaps on the video widget inside the form when the select widget is resized

https://www.loom.com/share/e6e27f7f02f24d908f28967d901fa22f

### Steps To Reproduce

1.Launch Appmsith app in release/Prod environment
2.Drag and drop form widget
3.Place vide

[2022-01-10 07:33] dilippitchika commented on #7359
@somangshu since this is applicable to all widgets, do you want to track this in widget enhancements only and not table widget v2?

[2022-01-10 07:38] nidhi-nair commented on #8303
@rohan-arthur @ajinkyakulkarni I'm unassigning myself from this issue since it needs more info (also adding the tag). Not really sure which fields I need to be doing this for.

[2022-01-10 08:50] marks0351 commented on #7359
yea the present field is dynamic in disguise which can solve the issue.

@somangshu @Nikhil-Nandagopal we need a better architecture to handle dynamic container type widgets(widgets that can have widgets inside them and can be created realtime like the List widget).
we might need to get some inspiration from List Widget V2 and create a tabs widget v2 to make the tabs, tab labels, their visibility

[2022-01-10 09:09] YogeshJayaseelan opened #10266 "[Bug]: The colour code is duplicated when the any of the new colour code range is reversed from any existing value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that in the map chart widget assume when there is a colour code range 2-3 and the new value is revered as 3-2 the colour code gets duplicated - Refer the video below

https://www.loom.com/share/a94213c4493e4f01b1de0af92e36599b

### Steps To Reproduce

1.Launch appmsith app in r

[2022-01-10 09:35] albinAppsmith opened #10267 "[Task] - Mobile UI for Homepage"

[2022-01-10 09:42] YogeshJayaseelan opened #10268 "[Bug]: The radio options overlaps with the progress bar widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that on adding additional radio options to the radio group the options goes out of the widget and due to which when the progress bar is placed on the newly added radio option the radio options overlaps with the progress bar - Refer video below

[![LOOM DEMO](http://cdn.loom.com

[2022-01-10 09:57] shwetha-ramesh opened #10269 "[Bug]: When one organization is deleted there is a loading icon for all other organizations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When one organization is deleted there is a loading icon for all other organizations

![image](https://user-images.githubusercontent.com/92293815/148747460-8a0197aa-d872-4864-87cc-4dde5b764cb4.png)

https://loom.com/share/40b76a46306b4fcb88a7999067435212

### Steps To Reproduce

1. In Home pa

[2022-01-10 10:08] ankurrsinghal commented on #2506
From the perspective of the single user of Appsmith, most of the time I really don't want to spin up a Mongo or a SQL-based database or even Redis. For my simple CRUD operations, I wish if we could incorporate an `IndexedDB` or `WebSQL` which can save a large dataset on my local browser. Also if the number of users grows in the future of my app we can add a feature to sync the state on just a clic

[2022-01-10 10:22] albinAppsmith commented on #10267
https://www.figma.com/file/zXk9QmLuqiaMlySbyOiRJo/Dashboard-%2B-Secondary-Pages?node-id=0%3A1

[2022-01-10 10:26] oskarannas commented on #10057
This one is similar to #8314, maybe the could be combined :)

[2022-01-10 10:28] shwetha-ramesh opened #10270 "[Bug]: Drop down menu visible throughout the home page scroll"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Drop down menu is visible and does not collapse throughout the home page scroll when no action is performed on it.
https://loom.com/share/9eb57a8808b645269816896dcce8081a

### Steps To Reproduce

1. Go to home page, create sufficient organizations for scroll to appear
2. Go to the last organi

[2022-01-10 10:29] hiteshjoshi opened #10271 "[Task] Add slug name to the list of pages API."

[2022-01-10 10:29] nidhi-nair commented on #10113
Additional context from @prapullac

So here we need to either show the Email Id that the datasource is authorised to or when user clicks on Re Authorise we need to valid if the user is trying to Authorise to older email ID or to a different Email ID

Reassigning to @rohan-arthur and @ajinkyakulkarni for triaging.

[2022-01-10 10:30] marks0351 opened #10272 "[Feature]: Horizontal auto scroll on Canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

we have vertical auto scroll where the canvas scrolls once the user's mouse pointer in almost at the top or bottom of the canvas. Need the same implementation for the horizontal as well since we have a docked property pane, canvas overflows for layouts that are bigger than the amount of screen width a

[2022-01-10 10:32] hiteshjoshi commented on #9661
Next actionable items.

- Flow for existing users on app.appsmith.com
- Flow for discovery, ( new users).
- Wireframes based on the flows.

[2022-01-10 10:34] keyurparalkar opened #10273 "[Task]: Allow usage of multiple validations for validation property inside property pane config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Allow assigning `validation` property of the property pane config as an array so that multiple validations can be passed. For example,

[code]

- Also, a new property called `validationOperationType` which will accept two values. First is the `ALL` which tells that All the validation should PASS in

[2022-01-10 10:36] keyurparalkar commented on #10273
cc: @riodeuno @somangshu @sbalaji1192

[2022-01-10 10:37] hiteshjoshi opened #10274 "[Task] Porting remaining reactjs components to design system."
- [ ] Add index file for ads components and replace the imports
- [ ] Datasource Page - create data source page
- [ ] Datasource Page - create API

[2022-01-10 10:38] hiteshjoshi opened #10275 "[Task] Context Switching POC"

[2022-01-10 10:40] shwetha-ramesh opened #10276 "[Bug]: Button color in table widget when changed to no color moves back to green color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Button color in table widget when changed to 'no color' moves back to green color. Whereas the default behavior of Button widget on a canvas when the color is changed to _no color_, it becomes transparent and on hover it appears green. Consistency can be maintained when a button is placed irr

[2022-01-10 10:52] ramsaptami opened #10277 "[Bug]: Resizing widgets from corners should maintain aspect ratio on the resizing animation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Widget dimensions goes awry when resized from its corners instead one line from each axis is reduced/increased. Expected behaviour is to maintain aspect ratio when using corner arrows to resize

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9c222c9aa1134dbf9701b09fcd22a48b-00001.gif)]

[2022-01-10 11:00] shwetha-ramesh opened #10278 "[Bug]: Button on table does not behave similar to button widget on canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When button label is long there is no ```ellipsis...``` seen in table widget. Where as a button widget on canvas, form or a container when the label is long an ellipsis is added next to the text.
Also with a long button label when a new column is added next to it, the button gets hidden parti

[2022-01-10 11:14] kocharrahul7 opened #10279 "[Template]: Customer Support Dashboard"
### Title

E-Commerce Customer Support Dashboard

### Objective

The E-Commerce Customer Support dashboard should allow a user to  lookup customers, see their order history, update their data / order information and initiate refunds.

The app should have the following details:
1. A list of customers
2. A list of orders associated with the customers
3. A list of Items in each order

Functionality:

[2022-01-10 11:17] ramsaptami opened #10280 "[Bug]: Widget outline shows up even when visible and animate toggles are turned off"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Documentation for **animate of loading** widget property states `"When turned off, the widget will load without any skeletal animation. This can be controlled with JS until all the widgets are rendered."` but when turned off widget outline is still displayed on loading.

If user wants to hid

[2022-01-10 11:52] #10206 closed

[2022-01-10 11:53] momcilo-appsmith commented on #10219
@vasanth-appsmith Let's have a radio group for this in the property pane with icons.

[2022-01-10 12:08] inmakum19 commented on #9707
Hello all, thanks for working on the bug. Any solution?

[2022-01-10 12:18] riodeuno opened #10283 "[Bug] App crashes when a modal has a filepicker?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior
Reported by A-Cityzen#3550 on discord.

The user added a filepicker - which calls a multipart POST api - into a modal. The modal crashes the application on `showModal`
Logs from the crash:

<img width="1002" alt="Screenshot 2022-01-10 at 5 41 49 PM" src="https://user-images.githubusercontent.c

[2022-01-10 12:44] Aishwarya-U-R opened #10284 "[Bug]: JSObject - Timing issue resulting in 'Run' failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e3701499185944cc864edd4e402fafb1-00001.gif)](https://www.loom.com/share/e3701499185944cc864edd4e402fafb1)

### Steps To Reproduce

1. Create a JS object
2. In the default template - add a simple return statement
3. Click run
4. The functio

[2022-01-10 12:45] sbalaji1192 commented on #6671
@techbhavin I had removed the migrations you wrote for this issue, in order to resolve a critical issue where we were resetting the custom column name - https://github.com/appsmithorg/appsmith/pull/10218. so reopening this issue to fix the migration function to rewrite numerical column names for existing application.
CC: @somangshu

[2022-01-10 12:59] Nikhil-Nandagopal opened #10285 "[Bug]: Promise.then is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using promises, running a query onSuccess of an update function does not work

### Steps To Reproduce

1. Go to the A force app https://app.appsmith.com/applications/61cd5be2a4437918c01f87af/pages/61d7f69a6bd5757f166cb01e/edit?branch=master
2. Click the signup option
3. The fields do not

[2022-01-10 13:11] RakshaKShetty opened #10286 "[Bug]: The infinite loading state is displayed in Query Param"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The infinite Loading state is displayed in the query parm
![image](https://user-images.githubusercontent.com/45958978/148770770-79257578-d4dd-4eb3-8b88-fcb44c75f579.png)

### Steps To Reproduce

This issue i am facing mainly in this app
https://release.app.appsmith.com/applications/616d26cd8c

[2022-01-10 13:57] Aishwarya-U-R opened #10287 "[Task]: Develop the test scripts for JSObjects & Async Await in Typescript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-01-10 14:01] arbfay opened #10289 "[Feature]: Kafka support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Read messages from Kafka topics and create messages, using a predefined schema (retrieved from the Schema Registry, or added manually, or none).

### Why should this be worked on?

Event-based architectures are becoming more and more important as they are adopted by industries where events drive the b

[2022-01-10 15:19] ramsaptami opened #10291 "[Bug]-[1750]:New error handling on trigger field does not convey the right information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a query that's called from JS call fails then the error message displayed does not convey the right information. Shows `Uncaught promise rejection` error. Before promises was merged, the error was `Syntax error` and `unexpected error` displayed to the user

[![LOOM DEMO](http://cdn.loom.

[2022-01-10 15:29] ayushpahwa opened #10292 "[Bug]: Datasource creation method is not standard (Lacks TS definitions)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The way a new action is created, there are some places that use different arguments for the same function. The issue comes up due to the lack of TS definition of the `action.datasource` object. It sometimes has a pluginId in it and sometimes doesn't. At the time of reporting this issue, there

[2022-01-10 15:39] ramsaptami opened #10293 "[Bug]: Incorrect reference error is displayed for function that is present in a promise call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Incorrect reference error is displayed on console for functions that are called within a promise

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/8de3725addb649fcb7f0250b46d42bac-00001.gif)](https://www.loom.com/share/8de3725addb649fcb7f0250b46d42bac)
![image](https://user-images.github

[2022-01-10 16:06] #10286 closed

[2022-01-10 16:42] #2290 closed

[2022-01-10 16:43] #6862 closed

[2022-01-10 22:41] #9922 closed

[2022-01-11 04:42] dilippitchika opened #10297 "[Enhancement]: Select and Multi-select V2 to handle server side filtering"
Currently, select and multi-select widgets are not able to support server side filtering because we are not storing the labels of values selected from the server side.

This causes the multi-select and select not usable. We need to store the label and the value of the selected options.

PRD

# Select widgets v2

## Objective

To support server side filtering in select and multi-select widgets, we

[2022-01-11 05:17] sbalaji1192 commented on #10078
Closing this in favour of https://github.com/appsmithorg/appsmith/issues/10297

[2022-01-11 05:18] #10078 closed

[2022-01-11 05:20] sbalaji1192 commented on #10297
@Tooluloope I have closed the other bug in favor of this enhancement. please refer https://github.com/appsmithorg/appsmith/pull/10155 for the changes I did as part of the other bug.

[2022-01-11 05:26] dilippitchika opened #10298 "[Enhancement]: Labels should not be added by default for select type widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Until we solve for label design changes to support alignment, let's not show labels by default on any of the select type widgets. Current problem is these widgets are not dropped precisely on to the canvas in a lot of scenarios because their labels are above.

1. Select
2. Multi Select
3. Mul

[2022-01-11 05:57] #9037 closed

[2022-01-11 05:57] #9428 closed

[2022-01-11 06:02] RakshaKShetty commented on #10194
Still see the same issue so reopening the issue
https://github.com/appsmithorg/appsmith/issues/8438

[2022-01-11 06:07] somangshu commented on #10037
After a discussion with @sbalaji1192 I found out that this issue is because of a know platform level bug, i.e. when a JS converted field has a dynamic expression and the filed is converted to another control. This is not crashing the app according to me, and hence I am setting this up as high. @sbalaji1192 please correct me if I am wrong

[2022-01-11 06:17] hiteshjoshi opened #10299 "[Task] SSH key management"
A place to manage ssh keys.
- Add another ssh key and switch that as the primary key
- Remove/Replace existing key etc.

[2022-01-11 06:18] hiteshjoshi commented on #5969
Next actions :
Convert datasource flow to wireframes, UI etc.

[2022-01-11 06:21] Nikhil-Nandagopal commented on #10289
@arbfay thank you for the feature request! I believe this would require us to implement #1950

[2022-01-11 06:22] hiteshjoshi opened #10300 "[Task] Datasource import through json input."
A json input to copy paste multiple datasources when you import the app.

[2022-01-11 06:44] nidhi-nair commented on #9902
@zzgvh I'm a little curious about your use case here. We generally recommend implementing pagination for requests that work with large datasets. Is there any particular reason you'd want to pull in 1500 rows in one go?

[2022-01-11 06:47] dilippitchika commented on #10297
Added PRD @somangshu @Tooluloope please review and suggest changes if any.

CC @vivekverma2312 @Nikhil-Nandagopal

[2022-01-11 07:15] sbalaji1192 commented on #10037
@somangshu Yes application is not getting crashed. it's failing to save till the `dynamicbindingpathlist` is correctly updated. So working on triangulating the code block responsible for this issue. Based on my finding we might have to move this issue to FE coders or UI building pod's plate. will update here shortly

[2022-01-11 07:33] somangshu commented on #6671
We should resolve this quickly, Please gather the information required here @techbhavin and implement this soon

[2022-01-11 07:49] RakshaKShetty commented on #9648
@leotom2000 i could repro the issue so reopening the issue https://www.loom.com/share/af5b3c3ee9d749f790b85cf1145563ee

[2022-01-11 07:49] japrogramer commented on #10253
@Nikhil-Nandagopal  thank you for checking, I went back and tried to replicate the error I experienced.

The cause was actually different. When the OAuth provider returns an email with a capital letter,
registration works the first time but any subsequent attempts to login result in an error like this.

[code]

[2022-01-11 07:52] AnaghHegde opened #10302 "[Bug]: SSH keys generation issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We use Jsch library to generate SSH keys which used by git sync feature to connect to a git client. The Jsch library generates the RSA SHA-1 types keys. But the github made some changes to improve protocol security when you push or pull Git data. This change includes removing support for RSA

[2022-01-11 07:59] abhvsn commented on #10302
Just checked with the compatibility with `ECDSA`, this does support SHA-2 which can be quick fix with no library upgrade etc. But this does mean we will have to go through the migration and will have to ask users to update on Github as well

cc: @AnaghHegde @nayan-rafiq

[2022-01-11 08:01] AnaghHegde commented on #10302
Yes this looks like a better fix. Also migration is needed no matter what type of solution we take @abhvsn

[2022-01-11 08:04] abhvsn commented on #10302
@AnaghHegde are you picking this up or should I go ahead?

[2022-01-11 08:04] RakshaKShetty opened #10303 "[Bug]: On ListWidget reset, children widgets value becomes undefined hence 2nd file upload is saved as undefined for the old s3 application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The 2nd file upload is saved as undefined for the old s3 application

![image](https://user-images.githubusercontent.com/45958978/148903803-5513cc79-b239-4190-ba11-c7b0a27cf854.png)

More details about this issue was discussed - #9922

### Steps To Reproduce

Go to old S3 crud page
Upload a f

[2022-01-11 08:08] RakshaKShetty commented on #10124
reopening the issue need to fix one corner case https://www.loom.com/share/45f67edbb70e46faa0169192c7152abd

[2022-01-11 08:10] Rishabh-Rathod commented on #10303
This issue is specifically for ListWidget bug which was core issue for #9922

[2022-01-11 08:12] noe-charmet opened #10304 "[Bug]: nginx HTTP template missing in appsmith-editor container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hello,
I'm currently trying to make a setup of the app without using the install script.
I have encountered an issue when running the `appsmith-editor:v1.6.6` container.
When using http instead of https, the `start-nginx.sh` script attempts to `cat` a file called `/nginx-app-http.conf.templat

[2022-01-11 08:17] RakshaKShetty commented on #10303
You can use this app https://release.app.appsmith.com/applications/61c2bde37f07823aaeee8025/pages/61c2e4777f07823aaeee8334/edit

[2022-01-11 08:50] ajinkyakulkarni opened #10305 "Promises documentation"
PRD Link:

PR Link(s):

References:

First Draft Link:

Final Link:

[2022-01-11 08:52] somangshu commented on #10303
Deprioritising this to high, Not in the OKR this quater

[2022-01-11 08:59] chandannkumar opened #10306 "[Bug]: Computed value of Table's column should also gets updated when column name gets updated in Table Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3816a1189c1744beb933650680590481-00001.gif)](https://www.loom.com/share/3816a1189c1744beb933650680590481)

### Steps To Reproduce

1. Add a Table widget
2. Update the column name from property pane
3. Click on gear icon and observe that co

[2022-01-11 09:07] YogeshJayaseelan commented on #8573
@techbhavin @Tooluloope Verified this and there is no whitespace in the iframe viewport

<img width="1680" alt="Screenshot 2022-01-11 at 2 36 20 PM" src="https://user-images.githubusercontent.com/35128442/148913215-7415466e-f21b-4300-9455-25cdd8ede4d4.png">

[2022-01-11 09:21] sbalaji1192 commented on #10037
@somangshu we're not clearing the dynamicBindingPathList properly when the js option is turned off.
@riodeuno Could you take a look at this?

[2022-01-11 09:42] shwetha-ramesh opened #10309 "[Bug]: Iconbutton widget when changed to 'no color' still remains green"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Iconbutton widget when changed to 'no color' still remains green.  Where as a button widget on canvas when changed to 'no color' appears transparent and on hover turns green.
![image](https://user-images.githubusercontent.com/92293815/148918642-445f6cbb-92ab-4bfb-9a29-a9cc1b52fca6.png)

https

[2022-01-11 10:06] YogeshJayaseelan commented on #9858
@somangshu @marks0351 Tested this in embed mode and vertical scroll is displayed when only one widget is placed - Refer the video below

https://www.loom.com/share/09c8b504e1194f9eab09eaa92fea4e77

[2022-01-11 11:13] shwetha-ramesh commented on #10261
This behavior is observed in CurrencyInput & PhoneInput widgets too.
![image](https://user-images.githubusercontent.com/92293815/148932579-42192f54-411d-489c-a401-f9d607607b38.png)

https://loom.com/share/347a1c72c1b84be5a6b9bfa72899621b

[2022-01-11 11:28] Rishabh-Rathod opened #10314 "[Bug]: Error when determining async function ReferenceError: get_reports_detailed__admin is not defined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User application has console error

<img width="425" alt="Screenshot 2022-01-11 at 4 54 39 PM" src="https://user-images.githubusercontent.com/23132741/148934533-2f23f9b8-7d4f-4696-9955-d0871da957ea.png">

### Steps To Reproduce

Not Sure Yet.

### Environment

Production

### Version

Cloud

[2022-01-11 11:28] nidhi-nair commented on #834
- [x] Airtable
- [ ] Stripe
- [ ] Hubspot
- [ ] Zendesk
- [ ] Sendgrid
- [ ] Salesforce
- [ ] Twilio
- [ ] Slack
- [ ] Jira
- [ ] Github

[2022-01-11 11:37] shwetha-ramesh commented on #9119
@sbalaji1192 tested this and found below issues.

1. When PhoneInput and Currencyinput widget are resized the border moves inside the widget. This does not happen for Input widget
![image](https://user-images.githubusercontent.com/92293815/148934965-fac88564-a6e4-4f47-aaa8-8b7e0af68d30.png)
https://loom.com/share/347a1c72c1b84be5a6b9bfa72899621b

2. When PhoneInput and Currencyinput widget are res

[2022-01-11 11:38] zzgvh commented on #9902
Hello @nidhi-nair! Yes I'm kind of abusing Google sheets. We run an indoor aquaponic farm and use Appsmith to register everything we plant. It's been an awesome tool, I've been able to build customized views for all events involved, from seed to harvest of our plants, along with supporting views to enter data listings like seeds, and data digests of various kinds.

That I'm using Google sheets as

[2022-01-11 11:58] prgueza commented on #8398
@nayan-rafiq imho apps should be ordered by name as this rarely changes and the sorting stays "static". In our experience when a user access multiple applications througout the day the order keeps on changing and it gets harder to find specific applications as these are never found in the same spot. We used to use codes for sorting the applications (1.1, 1.2, 2.1 and so on) and now the application

[2022-01-11 12:06] Nikhil-Nandagopal commented on #10057
@oskarannas great catch! It is a duplicate of #8314

[2022-01-11 12:06] #10057 closed

[2022-01-11 12:08] ramsaptami commented on #9279
Making this critical since promises is now on prod and any delay in saving application causes this issue to occur.

[2022-01-11 12:15] sharat87 opened #10315 "[Feature]: Setting custom CSP in self-hosted instances"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow setting a custom `Content-Security-Policy` on self-hosted instances. This can allow for powerful security configuration for our users.

For example, to allow embedding apps from this instances only on say `allowed.com`, and not on iframes inside `notallowed.com`, this can be achieved if the serv

[2022-01-11 12:24] nayan-rafiq commented on #8398
Tagging @areyabhishek also here. @prgueza Do you suggest that we should take input from user for the sort order and persist that choice? For example, user will be able to set the sort order and apps will be sorted based on the choice.

[2022-01-11 12:26] somangshu commented on #9822
@sbalaji1192 can you tell us if this covered already, In that case we need to link it to the relevant PR so that it gets closed accordingly, we should ideally also move it the relevant EPIC

[2022-01-11 12:36] prgueza commented on #8398
@nayan-rafiq Thanks for your quck answer!

And yeah! The closest example for this that I could find is this sorting picker that github uses for proyects within a repo.

![Screenshot 2022-01-11 at 13 30 07](https://user-images.githubusercontent.com/24815750/148942945-c7786222-3bed-4b09-b517-3d2ff5e65f71.png)

As far as I'm concerned there is no pagination for the applications fetching service so it

[2022-01-11 12:44] #8958 closed

[2022-01-11 12:53] sharat87 commented on #9707
Hey @inmakum19, thanks for sharing your interest in this. This has actually gotten a little more elaborate than we initially expected. We are actually still working on this, figuring out the best path towards this. Thank you for your patience.

[2022-01-11 12:58] israrwz opened #10317 "[Bug]: Form validation breaks when the Min Date or Max Date empty in a DatePicker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you add a DatePicker widget to a form, and toggle the Submit button's **Disabled Invalid Forms** property to true, the form validation will break when the DatePicker's **Min Date** or **Max Date** properties are empty.

This happens even if the DatePicker is not marked as a required fiel

[2022-01-11 12:58] Nikhil-Nandagopal commented on #10292
@ayushpahwa this isn't a bug but rather a task so I'm updating it as such

[2022-01-11 13:00] Nikhil-Nandagopal commented on #10253
@japrogramer can you mention which OAuth provider returned the email with a capital letter?

[2022-01-11 13:09] mohanarpit commented on #10304
Not sure which install script you are referring to. Currently, in order to run Appsmith, you just need to bring up a Docker container. The steps are listed at: [https://docs.appsmith.com/setup/docker](https://docs.appsmith.com/setup/docker).

Let us know if this container setup works for you.

Alternatively, if you are building & running Appsmith from source, can you please follow our setup guide

[2022-01-11 13:09] ramsaptami commented on #10150
**When promises is called from a widget**
https://www.loom.com/share/5eb705672cb04d5fbba9fe3cbeb01c15

**When promises is called from another promise**
https://www.loom.com/share/7de08cbe96864bde9e7c148e8353120c

[2022-01-11 13:15] dilippitchika commented on #7064
Items discussed -
Users can control the following properties
1. Label position - Top, left and auto
2. Label alignment - Left or Right
3. Label width (only applicable when label position is left) - No. of columns only for now
All current instances of widgets will use the label position auto field, which will persist the current behaviour as-is.

[2022-01-11 13:21] ramsaptami commented on #10184
Once forking fails with "Appsmith timed out" message, the pop-up does not close until manually dismissed.

Attempting to fork the app again, causes an odd behaviour as seen in the video below.
https://www.loom.com/share/1a7755acb9204a83a3be73e2ce4598a7

[2022-01-11 13:26] #7275 closed

[2022-01-11 13:29] noe-charmet commented on #10304
[This is the script I refer to](https://github.com/appsmithorg/appsmith/blob/release/deploy/install.sh).

We're actually trying to deploy the front-end and  backend containers (+ other tools), in a k8s like environment. We have an ingress gateway in front the appsmith front-end, it handles L7 termination. So we would like to use http only between out gateway and the front-end container.

On startu

[2022-01-11 13:49] ramsaptami opened #10319 "[Bug]: Selecting API response causes all widgets on canvas to get selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Selecting API response causes all widgets on canvas to get selected when selecting via keyboard shortcut

https://www.loom.com/share/8602cdf1af0e4eaea0350d50804db440

### Steps To Reproduce

1. Run a query and select the query using keyboard shortcut and observe widgets getting selected on ca

[2022-01-11 13:53] ramsaptami opened #10320 "[Bug]: GSheets with only header cannot be used for page generation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A GSheet datasource with only headers on the sheet cannot be used for page generation. Dummy data would need to be added for to activate `Generate Page` button.

https://www.loom.com/share/721afb5780264c91b62dc8452e130365

### Steps To Reproduce

1. Create a Google Sheet with only headers and

[2022-01-11 14:27] albinAppsmith commented on #7636
This was fixed

[2022-01-11 14:27] #7636 closed

[2022-01-11 14:35] Rishabh-Rathod commented on #10194
@RakshaKShetty this seems strange as for me.

On DP
<img width="682" alt="Screenshot 2022-01-11 at 8 02 29 PM" src="https://user-images.githubusercontent.com/23132741/148962353-2f5ddd2c-9715-4789-a7c6-0b7bce46d5b8.png">

On Release
<img width="1272" alt="Screenshot 2022-01-11 at 8 03 10 PM" src="https://user-images.githubusercontent.com/23132741/148962398-66eac0a3-35a8-4c8d-b0d1-018a7bd884a0.png">

[2022-01-11 15:07] ramsaptami commented on #10194
The alignment is as expected on release now. Thanks @Rishabh-Rathod

[2022-01-11 16:13] #10242 closed

[2022-01-11 17:08] japrogramer commented on #10253
@Nikhil-Nandagopal my own custom provider, I know y'all don't support any provider other than github or google.

I didn't close the issue when I learned that it was an OAuth problem because maybe they might return an email with a capital
letter.

But also because its a strange pattern for spring-security to check for an existing user with an email with capital letters but to create a user with low

[2022-01-11 17:58] Rishabh-Rathod commented on #9782
This seems to be working for me, can you help re-producing this or share an app link where this can be reproduced. @ramsaptami

[2022-01-12 04:45] nidhi-nair commented on #9902
That sounds like a really nice app you've built. It'd be awesome if you could share glimpses of how you've designed the app! :)

Since you mention that the performance degradation is something you only notice on the query page, I think the changes that @Irongade is working on might help you. Ade, could you share the PR for your change here so @zzgvh could keep track?

[2022-01-12 05:04] #3429 closed

[2022-01-12 05:23] sbalaji1192 commented on #9119
@shwetha-ramesh
WRT #1 and #2, We have country dropdown and currency dropdown associated with the widget so we can't reduce the width beyond the length of the dropdown. And Also it seems like an invalid scenario.

#4, Password show/hide icon and increment/decrement controls are occupying the right-hand side, so we can't place the icon over there - @somangshu need your input on this.

#5, We cannot

[2022-01-12 05:26] prapullac opened #10327 "[Bug]: Airtable breaks when tried to access it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user clicks on the Airtable icon the application breaks clicks

### Steps To Reproduce

1) Navigate to Datasources
2) Click on Airtable
and observe

Link to DP :
https://appsmith-3dhv9gs0f-get-appsmith.vercel.app/applications

### Environment

Deploy Preview

### Version

Cloud

[2022-01-12 05:26] sbalaji1192 commented on #9822
@somangshu Yes. we are providing a Js convertible option for country code dropdown.  I have already added this issue ID to the input widget v2 issue.

[2022-01-12 05:39] rohan-arthur commented on #2506
This is on our radar, but we haven't started thinking about the problem yet. Would help if you can suggest some usecases that will benefit from such a feature.

1. User role
2. Business case
3. Benefit

[2022-01-12 05:53] ramsaptami commented on #10243
The unused datasources are being fetched from other pages on the app that are using them. Closing this issue since it's not an issue

[2022-01-12 05:53] #10243 closed

[2022-01-12 06:08] ramsaptami commented on #9782
Related to issue #10150 where `return` keyword needs to be used for promises to work.

[2022-01-12 06:13] ramsaptami commented on #9782
Repro steps -->
https://www.loom.com/share/cbdc803c0ff2470b8e8458fa713e4fca

[2022-01-12 06:33] ramsaptami opened #10329 "[Bug]-[2000]:Dropdown UI issue on gen CRUD page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When dropdown does not have any values on Gen CRUD page then a tiny bar appears in the wrong place.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/8a8b5633015d4e2cbb4db2dcc79c062a-00001.gif)](https://www.loom.com/share/8a8b5633015d4e2cbb4db2dcc79c062a)

### Steps To Reproduce

1. Use

[2022-01-12 06:35] #10302 closed

[2022-01-12 07:10] ohansFavour commented on #10327
[New DP](https://appsmith-mp8f6dloj-get-appsmith.vercel.app/).

PS: This issue is linked to #9657

[2022-01-12 07:10] #10327 closed

[2022-01-12 07:23] YogeshJayaseelan opened #10332 "[Bug]-[2000]:Cyclic dependency error occurs when enabling JS in the checkbox group options field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that in the checkbox group widget by passing the below name and option value and clicking on JS throws cyclic dependency error

Name - Y Value - {{Y}} and
Name - N Value - {{N}}

https://loom.com/share/19f6cadf21a046c08095d6d4432a82fe

### Steps To Reproduce

1.Launch appsmith

[2022-01-12 07:33] AnaghHegde opened #10333 "Prune branch error - CannotDeleteCurrentBranchException when the checked out branch remote part is deleted"

[2022-01-12 07:34] AnaghHegde commented on #10333
https://sentry.io/organizations/appsmith/issues/2887535067/?environment=Production&project=1546547&referrer=alert_email

[2022-01-12 07:48] YogeshJayaseelan commented on #10332
@somangshu The switch group widget crashes with the following message in console "TypeError: Cannot read properties of undefined (reading 'includes')" due to the above issue

https://www.loom.com/share/0dc51f7534024b14be84b0389934950f

[2022-01-12 08:11] chandannkumar opened #10335 "[Bug]: Arrow is not visible in cap field of Divider widget when divider color is set to "No color""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior
Whenever the divider color is set to "No color", it defaults to black.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/efbc41b9818c4315a4288ab522d9e1d2-00001.gif)](https://www.loom.com/share/efbc41b9818c4315a4288ab522d9e1d2)

### Steps To Reproduce

1. Add Divider widget to canvas
2. Se

[2022-01-12 08:27] YogeshJayaseelan opened #10336 "[Bug]: Clicking on Nocolour in any of the colour properties the colour pop up does not close"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that for any of the widget - clicking on nocolour options from any of the colour properties the colour pop up does not close.

Expected result:
The colour pop up should close clicking on no colour option similar to choosing any other colours

https://www.loom.com/share/f6d06bce

[2022-01-12 08:34] YogeshJayaseelan opened #10337 "[Bug]: The focused state is active even on removing the default value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed on the select widget if the default value is removed the focused state is active on the widget

https://www.loom.com/share/27e00501d8f64ad2903d6ad332bbedd5

### Steps To Reproduce

1.Launch appsmith app in release/Production environment
2.Drag and drop select widget
3.Check by

[2022-01-12 08:46] dilippitchika commented on #4947
@YogeshJayaseelan I wasn't able to reproduce this. Can you check once? If it's not happening please close it.

[2022-01-12 09:15] leotom2000 commented on #9648
Described below the findings about updating a document in Mongo.
As per docs : https://docs.mongodb.com/manual/reference/operator/update/
-- To update a document, MongoDB provides update operators, such as $set, to modify field values.
-- Some update operators, such as $set, will create the field if the field does not exist.

so the syntax like "  $set: { "size.uom": "in", status: "P" }," needs to

[2022-01-12 09:21] chandannkumar opened #10340 "[Bug]: Menu items are not accepting spaces as Menu name on Button group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/e15f0d36046446ce9888e214f4ee0ad6-00001.gif)](https://www.loom.com/share/e15f0d36046446ce9888e214f4ee0ad6)

### Steps To Reproduce

1. Add a Button group widget to canvas
2. Select any buttons and click on gear icon from property pane
3. Ch

[2022-01-12 09:23] eco-monk opened #10341 "[Enhancement]: Don't create the modal when it is not shown thus avoiding errors it may have on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Edit mode: the modal throws error on page load. Even though it's closed.

Conditions:
1. When the modal has certain fields that are bound to a widget on page.
2. And when the widget depends on some dynamic data (that gets populated on certain action, which is not performed yet).

### Steps To

[2022-01-12 09:28] dilippitchika commented on #8311
Able to replicate this issue, drag to move works for select type widgets but not multi-select type widgets. Please pick this up after the v2 enhancement.

[2022-01-12 09:31] vivekverma2312 opened #10342 "[Bug]: RichTextEditor is not loading on release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="693" alt="Screenshot 2022-01-12 at 2 57 01 PM" src="https://user-images.githubusercontent.com/83569920/149105076-bd11c01c-ce7f-449e-93cf-9aa8e809d573.png">

### Steps To Reproduce

Drag and drop the RichTextEditor on canvas

### Environment

Release

### Version

Cloud

[2022-01-12 09:32] Tooluloope commented on #8311
Closing in favour of https://github.com/appsmithorg/appsmith/issues/7259

[2022-01-12 09:32] #8311 closed

[2022-01-12 09:41] shwetha-ramesh commented on #10342
Video widget also doesn't load on release
![image](https://user-images.githubusercontent.com/92293815/149111713-88d5a3b9-1b55-44b3-bc44-0fa9f6983592.png)

[2022-01-12 09:43] ramsaptami opened #10343 "[Bug]: Maps widget is not working on release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Maps widget is not working on release

On release
![image](https://user-images.githubusercontent.com/79509062/149112262-eee29841-39a3-4423-8079-f5aa96188e0f.png)

On DP:
![image](https://user-images.githubusercontent.com/79509062/149112058-b73e5b82-6358-43da-a75a-73fa7bc1b06e.png)

### Steps

[2022-01-12 09:46] dilippitchika commented on #7351
@somangshu closing this in favor of #3613 (deprecating form buttons)

[2022-01-12 09:46] #7351 closed

[2022-01-12 09:54] dilippitchika commented on #10343
Hi @ramsaptami, I was unable to reproduce this in release env. Can you help me out?

https://www.loom.com/share/ce3ca13522b14f87a085199383402b10

[2022-01-12 09:59] dilippitchika commented on #10343
I guess this is fixed by shri now, if yes please close this

[2022-01-12 10:01] rohan-arthur commented on #1751
**Reactive JS Object Variables**

- [ ] 1. @ApekshaBhosale needs more discussion with Nikhil/Arpit/etc
        - [ ] a. Create a notion doc describing the problems - @ApekshaBhosale
        - [ ] b. if needed, @ajinkyakulkarni will schedule a meeting
- [ ] 2. Push the change for removing evaluated value stored in db for variables - @ApekshaBhosale
- [ ] 3. "export" problem - @rohan-arthur to write

[2022-01-12 10:01] dilippitchika commented on #4748
@somangshu can we get this estimated? Looks high effort/low priority when i check this.

[2022-01-12 10:04] sharat87 commented on #10342
RTE and video widget should be fixed. Can you confirm please?

[2022-01-12 10:05] shwetha-ramesh opened #10346 "[Bug]: Renaming of an application/page/organization changes sequence."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Renaming of an application/page/organization changes sequence. (Refer video)
https://loom.com/share/79cc9d4c38eb4e4fad158947a597cd41

### Steps To Reproduce

1. Go to release
2. Create new organization; ideally the organization will be named Untitled application 1
3. Create one more organizat

[2022-01-12 10:12] dilippitchika commented on #4833
I would add an error if all the columns are hidden in the edit mode, but anything extra seems not worth it.

Can't this be done by the dev, by an if condition in the visible property of the table which devs can define? Like if data is empty then show, else hide or any other rules. Don't think we need to solve this.

@somangshu

[2022-01-12 10:12] eco-monk opened #10347 "[Bug]-[270]:async functions in sync fields (path based error)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When an async function is used in `if else` statement.

The error `Async function called in a sync field` only shows up, when the block it is used in (if/else) is active.

### Steps To Reproduce

1. Create a `table`.
2. In `table data`, write `true ? [] : showAlert("")`
3. Notice no error sho

[2022-01-12 10:12] vivekverma2312 commented on #10342
@sharat87 Thanks. Checked and it's working now. Will close the issue.

[2022-01-12 10:19] somangshu commented on #4833
@dilippitchika today the header show/hide option is not JS convertible, we should definitely provide that and leave the onus of this error on the dev

[2022-01-12 10:22] somangshu commented on #4748
given that this functionality has an alternate and the end user is not directly effected, we should think about this only later.

@dilippitchika i agree with you

[2022-01-12 10:24] dilippitchika commented on #4833
Hey @somangshu was referring to the isVisible property for the table. Dev can hide the table if the data is empty. Won't that solve it?

[2022-01-12 10:26] dilippitchika commented on #8503
@somangshu the problem is more serious. Looks like we can't add any label/value which is empty. But by default we add empty which breaks the widget. I guess we need to show error in the data rather than widget. Needs some design help.

https://www.loom.com/share/ee74a20feb594af887e01f27ef81172e

[2022-01-12 10:29] somangshu commented on #4833
Hiding the whole component from the viewport might not solve users problem because the user is still not informed wether there is an error or not.

also to the original point, I feel hiding all the columns does not mean that the data set is empty and hence this is actually a non-issue. However, providing the dev an option to choose to do this is good enough I feel

[2022-01-12 10:33] somangshu commented on #8503
@dilippitchika What do you mean by show the error on data and not the widget?

Also, I think a better way to solve this would be to add a pre-filled name and value in the control, this will be worked by the Ui Builders POD. What do you think?

[2022-01-12 10:35] eco-monk commented on #4789
Discussing designs for showing function signature.

[2022-01-12 10:35] ramsaptami commented on #10314
Not sure of repro steps here but observed this after promises was merged

![image](https://user-images.githubusercontent.com/79509062/149122488-661c3f0d-2d57-4364-b451-468fbcee2b42.png)