[2022-02-10 15:20] ramsaptami opened #11083 "[Bug]: Promise is executed before user confirmation on onPageLoad confirmation modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Promise is executed before user confirmation on onPageLoad confirmation modal. But API call inside a promise fails though.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/998b4ba5cfa14f1584b5c515a2032dbc-00001.gif)](https://www.loom.com/share/998b4ba5cfa14f1584b5c515a2032dbc)

### Step

[2022-02-10 18:03] #9668 closed

[2022-02-10 19:22] #11042 closed

[2022-02-10 20:48] felixsuarez0727 opened #11086 "[Bug] SaaS Integration Manager creates a malformed JSON for Integrations"
For the Twilio integration, it was noticed that the SaaS Integration Manager could create a malformed JSON.

Lines 346 to 348 ([https://app.zenhub.com/files/275993885/4b6b7f55-b34b-4453-8104-6031fa192760/download](https://app.zenhub.com/files/275993885/4b6b7f55-b34b-4453-8104-6031fa192760/download)) contain an example of parameters for the action that were added but did not create properly.

It se

[2022-02-10 20:54] felixsuarez0727 opened #11087 "[Feature]: Validation for malformed JSON objects coming from the SaaS Integration Manager App."
Improved Error Handling and Logging is needed for the SaaS Integration Manager App.

[2022-02-10 20:57] felixsuarez0727 opened #11088 "[Improvement] Separate the evaluation of Plugins"
Evaluation of plugins within the SaaS integration manager should be individual, so that if one plugin fails, it won't make the other plugins fail.

[2022-02-11 02:48] leotom2000 commented on #10934
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/BE-Coders-Pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/10934?planning-poker) with ZenHub @nidhi-nair @sumitsum

[2022-02-11 03:11] areyabhishek commented on #11081
Thanks for reporting this! We'll fix this

[2022-02-11 04:41] chandannkumar commented on #11078
Thanks @dilippitchika  for sharing this information. I agree to keep this as it is now.

[2022-02-11 05:38] #11078 closed

[2022-02-11 05:40] #10800 closed

[2022-02-11 06:00] yaldram opened #11091 "[Task]: Update Typescript to 4.2.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Upgrade Typescript
- [ ] Fix type errors
- [ ] Add instability logging to identify data integrity issues

[2022-02-11 06:03] AnaghHegde opened #11092 "[Bug]: Appsmith logo of git-sync not displayed in dark mode of github"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Change the mode to dark mode in github and notice appsmith logo is not visible.

### Steps To Reproduce

Change the mode to dark mode in github and notice appsmith logo is not visible.

### Environment

Production

### Version

Cloud

[2022-02-11 06:06] chandannkumar commented on #9858
Tested and saw there is no vertical scroll after fix
https://www.loom.com/share/041d0b1910b84822a665960078424853

[2022-02-11 06:07] ioalloc commented on #9858
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-02-11 06:29] danciaclara commented on #11051
@dilippitchika Could be something like this - https://www.youtube.com/watch?v=Q7-4IUy6ht4 . More like the end-user should be able to move the widget around on the canvas.

[2022-02-11 07:30] #8531 closed

[2022-02-11 07:42] #3601 closed

[2022-02-11 07:48] Pranay105 opened #11094 "Documentation - List Widget - Beta"
The ticket will cater to changes available for the existing list widget available on the platform:
- Modifying the existing documentation for clarity and readability
- Update the documentation structure

[2022-02-11 07:53] riodeuno commented on #11091
Detailed fix and alternative for #4382

Closing #4382 in favour of this.

[2022-02-11 08:00] ramsaptami commented on #8943
reopening this since it's still not working on JS editor

[2022-02-11 08:04] ramsaptami commented on #9440
Closing this issue for now since it's not reproducible

[2022-02-11 08:22] #10633 closed

[2022-02-11 08:42] nidhi-nair opened #11095 "[Task]: POC for using proxies to store data tree values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We're currently storing each entity in the app on the data tree and simply use the dependency map to figure out which entities might have been updated during an evaluation. This does not account for conditional paths. If we use proxies instead, we'll be able to customize the setter to trigger re-eval

[2022-02-11 09:52] AnaghHegde opened #11096 "[Bug]: Git syncs analytics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We are not sending gitHosting provider to the analytics
Error data points should be null for success states

### Steps To Reproduce

We are not sending gitHosting provider to the analytics
Error data points should be null for success states

### Environment

Production

### Version

Cloud

[2022-02-11 10:00] mohanarpit opened #11098 "[Task]: Handle MongoDB 5 upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

MongoDB is upgrading to version 5. As part of this upgrade, they have removed certain commands which can be [seen here](https://docs.mongodb.com/manual/release-notes/5.0-compatibility/#removed-commands). In this list, we definitely use `ensureIndexes()` command. Hence, Appsmith needs to upgrade Mongo

[2022-02-11 10:07] Pranay105 opened #11099 "Adding Helm charts doc"

[2022-02-11 10:08] Pranay105 opened #11100 "Fixing docker copy commands"

[2022-02-11 10:08] #11100 closed

[2022-02-11 10:09] #10806 closed

[2022-02-11 11:02] #6215 closed

[2022-02-11 11:26] #10660 closed

[2022-02-11 11:49] felixsuarez0727 commented on #10910
I considered this is a front-end related issue.

[2022-02-11 11:51] felixsuarez0727 commented on #10909
Backend(Guess): Noticed on meetings that  when you guys use the SaaS Manager, it loads significantly faster. Even though using Chrome instead of FF helped, this feels like it's taking a while to get the resources from the server to the client.

[2022-02-11 11:51] felixsuarez0727 commented on #10911
Frontend: Pretty similar behavior to other issue, possibly linked to Hetu's comment here.

[2022-02-11 11:56] sbalaji1192 opened #11101 "[Bug]: Phone input widget shows same flag for countries that share dial coes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For countries that share dial codes (ex. Guernsey and the united kingdom), we are showing the same flag in the options dropdown. And when one country is selected, we show a country that shares the same dial code as selected in the dropdown.

[code]

[2022-02-11 12:24] ramsaptami commented on #8943
Works as expected on JS editor

[2022-02-11 12:24] #8943 closed

[2022-02-11 13:40] vibhandikyash commented on #10027
@vivekverma2312 Seems like the Google's Recaptcha has backward compatibility and the same key works for both versions. Also, upon investigation it seems like there is no such identifier which can state that this is of v2 or v3.

[2022-02-11 15:05] ramsaptami opened #11104 "[Bug]: onPageLoad behaviour is different for forked, duplicated and original apps when function call fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When confirmation is set for onPageLoad function run then the app behaves differently for
1. Original app - Confirmation modal is displayed
2. Duplicated app - Confirmation modal is displayed
2. Forked app - Toast message indicating failure is displayed
3. Imported app - onPageLoad setting fo

[2022-02-11 16:30] guidogabriel commented on #10096
Unfortunately I will have to use [budibase ](https://github.com/Budibase) until appsmith can integrate with oracle. I can do nothing without it

[2022-02-11 18:08] #9935 closed

[2022-02-11 19:12] billyrudi commented on #2430
I’m waiting to use this

[2022-02-11 23:15] kamilkabir9 opened #11105 "[Feature]: Date Picker for Month and Year."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Date Picker for Month and Year should allow user to select just month(ex: 1st FEB) of a year.

### Why should this be worked on?

This will allow users to select just a month rather than selecting a particular date. Switching between months will be also be easier.

REF:
![image](https://user-images.gi

[2022-02-12 02:58] #7396 closed

[2022-02-12 03:47] sumitsum opened #11106 "[Bug]: Update config label in Rest API datasource config page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Update  label`Send client credentials with` to `Send client credentials with (on refresh token):` under the `Advanced settings` tab that appears for `Oauth` + `Authorization Code` setting.

### Steps To Reproduce

1. Create new Rest API datsaource.
2. Set authentication typo to OAuth.
3. Sele

[2022-02-12 05:13] RishiKumarRay commented on #11106
@sumitsum can i raise a PR updating the changes?

[2022-02-12 06:02] sumitsum commented on #11106
@RishiKumarRay yes, that would be great. I am assigning this issue to you. I see that you have already raised a PR for this issue. Please do let us via comment here if the PR is ready for review. Please reach out to us on [Discord](https://discord.com/invite/rBTTVJp) if you face any difficulties.

[2022-02-12 06:04] RishiKumarRay commented on #11106
@sumitsum please review the PR, thanks for assigning

[2022-02-12 09:40] #11096 closed

[2022-02-12 09:47] arminus opened #11108 "[Bug]: SQL query is run and fails during page load even though it's guarded in the calling JS function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- master/details view, selected row in master table determines the id for the query which is used for the details view
- the details view uses the following query:
[code]
- this query is hooked up to an iframe's srcDoc JS function like this:
[code]
- on page load, I get 3 (!) JSFormatComments

[2022-02-12 15:44] arminus opened #11109 "[Bug]: S3 other datasource: empty region field should not prevent connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Trying to configure a Min.io S3 datasource instance which has no region set, I get this error:

[code]

After this, I can't connect to that instance.

-> the region field should be optional

### Steps To Reproduce

Only specify access key, secret and endpoint for a custom S3 provider

### Env

[2022-02-12 16:28] arminus commented on #11108
Ok, I think this can be closed, I missed the Run query on page load setting option (which gets turned on every time the query is added somewhere but ok)

[2022-02-12 16:28] #11108 closed

[2022-02-13 05:24] Rishabhkaul commented on #10564
Fixed with new onboarding. Closing this

[2022-02-13 05:24] #10564 closed

[2022-02-13 06:37] rohan-arthur opened #11110 "[Bug]: Reset on search form does not work for the first time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Context: https://community.appsmith.com/t/how-do-i-run-a-query-after-resetwidget/574

I have a search form with:
1. search fields name and gender
2. submit button, which runs the search query
3. clear button, which should clear the form, and then run the search query without any search values

[2022-02-13 09:39] ramsaptami opened #11111 "[Bug]: Widgets inside a container widget must not alter in size when resizing the container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Widgets grouped inside a container must not auto-resize when container size is changed.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f310ab59058e4bf89855239779259b8d-00001.gif)](https://www.loom.com/share/f310ab59058e4bf89855239779259b8d)
[![LOOM DEMO](http://cdn.loom.com/sessions/t

[2022-02-13 10:03] ramsaptami opened #11112 "[Bug]: Widget styling options on List widget is not categorized under Styles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

List widget styling options is not under Styles as is the case with other widgets

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/153747497-bf4a5d53-a25e-4d66-abfa-73a8c19585bf.png)
![image](https://user-images.githubusercontent.com/79509062/153748057-02c3

[2022-02-13 12:51] momcilo-appsmith commented on #11038
We don't need to align them, that is just how it had to be shown in Figma.

[2022-02-13 17:13] MichaelLeeHobbs commented on #4182
Sorry to make this more complex. Maybe consider this for a phase 2 to not hold up the basic isDirty.

List Widget on form has the following cases:
1. A list item could have input fields that have been changed
2. A list item could have been removed
3. A new list item could have been added

Story: We have Medical Group Form that has a Sites List. Users can "Add Site", "Delete Site", or "Edit Site".

[2022-02-14 00:45] sumitsum opened #11115 "[Bug]: s3 plugin: remove `expiry duration` field from `read` command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- It seems that an `expiry duration` field got added to `read` command mistakenly sometime post migration to UQI schema. Thie field did not exist with the `read` command before the migration and does not get used even now.

### Steps To Reproduce

1. Create S3 `read` action.
2. Check that it

[2022-02-14 03:25] sumitsum opened #11117 "[Feature]: Entity explorer pane: allow bulk operations on queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

On entity explorer pane allow bulk operations on queries like bulk move, bulk copy, bulk delete.

### Why should this be worked on?

It will help address use cases like this - say I need to move 10 queries from page1 to page2 then instead of moving them one by one I should be able to multi select all

[2022-02-14 03:27] sumitsum commented on #11117
One way to implement it would be to simply iterate over all the queries one by one and call the necessary APIs e.g. call the `copy` API for each action in case of `bulk copy`.

[2022-02-14 04:19] RakshaKShetty opened #11118 "[Bug]: The option to add admin emails does not grant other users access to admin setting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The option to add admin emails does not grant other users access to admin setting
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/153799262-3d3e5718-9540-4d49-ac91-87165fa41516.png">

### Steps To Reproduce

1. In the admin setting page
2. under general t

[2022-02-14 05:35] abhvsn opened #11120 "[Feature]: Allow users to commit multiple applications in single repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today using the git-sync we have one-to-one mapping between the application within Appsmith and the remote repo, a user on discord asked if we can have a single repo where multiple apps can be committed.
[code]

### Why should this be worked on?

This can be a good value addition from the perspective

[2022-02-14 05:58] akash-codemonk opened #11121 "[Task]: Api to get list of plugins without having to specify an organisation id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently an organisation id is required to get the list of plugins. The templates list view requires to show the datasources associated with it but this is not associated with any organisation initially.
The frontend workaround currently is to get an organisation id where the user has permission to

[2022-02-14 06:12] pranavkanade opened #11122 "[Bug]: Async-Await doesn't work from table action button."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If you try to call async JS function from table action button, it doesn't work properly. The code execution stops right after the first await statement.

### Steps To Reproduce

1. Create a JS object with couple of await statements.
2. Create a table and add an action button, call the async f

[2022-02-14 06:16] Nikhil-Nandagopal commented on #10970
@cdoudet I'm not able to reproduce this on our end. Could you share a an example application where you can reproduce this behavior?

[2022-02-14 06:18] Nikhil-Nandagopal commented on #11010
Closing since it's hard for us to reproduce

[2022-02-14 06:18] #11010 closed

[2022-02-14 06:21] Nikhil-Nandagopal commented on #2430
@billyrudi we haven't begun development on this yet. We do plan to start on this in March

[2022-02-14 08:08] YogeshJayaseelan opened #11126 "[Bug]: Input widget max character field accepts decimal values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that the max character field on the property pane accepts a decimal value and no validation message occurs on the input widget.

Expected Result:
Passing decimal values on the max character field should throw validation error message
![Uploading Screenshot 2022-02-14 at 1.33.20

[2022-02-14 08:22] momcilo-appsmith commented on #3362
@somangshu Why is there a "Needs Design" label here?

[2022-02-14 08:24] momcilo-appsmith commented on #6488
@somangshu Tagging you again, can you help me out with an example?

[2022-02-14 08:26] somangshu commented on #3362
Needs design was originally added to make this widget consistent with other. Now that we will be starting from the scratch in the future, it might not be required

[2022-02-14 08:29] nidhi-nair commented on #9902
PR to handle this on the query editor: https://github.com/appsmithorg/appsmith/pull/9629

[2022-02-14 08:56] ramsaptami opened #11128 "[Bug]: Maps widget currently does not handle string values and need to be typecast to number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When Maps widget is bound to a selected row of a table widget that contains latitude and longitude values in string format, then Maps widget fails to derive a location pin.

https://www.loom.com/share/80209109f3d740baa8a8f6d508e30f22

Workaround is to typecast as number as follows
![image](ht

[2022-02-14 09:29] #10389 closed

[2022-02-14 09:30] vivekverma2312 opened #11129 "[Bug]: Dropped files is not displayed in File picker pop up when widget is moved outside the container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c58a009bfad24ec683f822b639b76d04-00001.gif)](https://www.loom.com/share/c58a009bfad24ec683f822b639b76d04)

### Steps To Reproduce

1. Drag and drop a File picker widget
2. Add any file
3. Upload the file
4. Now drag and drop the file picke

[2022-02-14 09:42] Nikhil-Nandagopal opened #11131 "test bug"
Test

[2022-02-14 09:42] #11131 closed

[2022-02-14 10:08] Pranay105 opened #11132 "Adding commands for updating Appsmith without docker-compose"

[2022-02-14 10:09] Pranay105 opened #11133 "Adding a sample apps section in the documentation"

[2022-02-14 10:13] ramsaptami opened #11134 "[Bug]: Enable widget renaming using keyboard shortcut on the entity explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Extension of #9413
Fix from #9413 enables widget renaming by pressing on F2 when in focused mode. The widget also goes into focused mode when user selects the widget from the entity explorer and pressing on F2 at this time causes widget name on property pane to be highlighted. This can be con

[2022-02-14 10:25] ashit-rath commented on #2504
Actionables:
1. Setup an app-building exercise using JSON form and collect feedback. @ashit-rath
2. Add default source data @ashit-rath
3. Modify the limit message for the Appsmith app viewers @ashit-rath
4. Discuss ways to cache/retain fields to reduce loss of configuration. @ashit-rath @riodeuno @somangshu
5. Implement the ongoing defaultValue DX changes for the select and multi-select V2. (http

[2022-02-14 10:33] ramsaptami opened #11136 "[Bug]: Table widget refreshes each time a button type column is clicked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When table widget has a button type column and this button is clicked, table refreshes and any widgets deriving data from the table widget also refresh. This has been observed on current release and works as expected on master without any lag or refresh.

[![LOOM DEMO](http://cdn.loom.com/ses

[2022-02-14 10:44] somangshu commented on #11136
@SatishGandham Do you know any probable cause for this issue?

cc @ApekshaBhosale

[2022-02-14 10:53] Imtinan1996 opened #11137 "[Bug]: Issue with video uploads to S3 with files greater than 5MB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When uploading multiples files to S3, the query fails for video files that are above 5MB with the error message

Any images uploaded work fine. Video uploads work fine if file is less than 5MB, i have set the file size to 25MB still the video doesn't upload. Fails even if one video is selecte

[2022-02-14 10:56] RakshaKShetty opened #11139 "[Bug]: The page clone fails with the error saying "Appsmith server is taking too long to respond""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The page clone fails with the error saying "appsmith server is taking too long to respond"
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/db0427ad5cf34e0594c85bcda5d8cac9-00001.gif)](https://www.loom.com/share/db0427ad5cf34e0594c85bcda5d8cac9)

### Steps To Reproduce

1. log in to app.

[2022-02-14 11:08] ajinkyakulkarni commented on #9131
@ApekshaBhosale can you check out this issue https://github.com/appsmithorg/appsmith/issues/11083?

[2022-02-14 11:44] ramsaptami opened #11140 "[Bug]: Property pane boundary collides with canvas scroll bar making it a hard to use experience"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Canvas scroll bar is placed under the property pane boundary which gets highlighted when hovered over. This causes canvas scroll bar to get hidden and almost impossible to use.

### Steps To Reproduce

1. Drop multiple widgets on the canvas such that there's a scroll on the canvas
2. Try to u

[2022-02-14 12:05] nidhi-nair commented on #10705
Related #7794

[2022-02-14 12:08] mojtab23 commented on #5005
This PR https://github.com/appsmithorg/appsmith/pull/11124 tries to solve number 8 in the list.

[2022-02-14 12:08] Aishwarya-U-R opened #11141 "[Bug]: Update from CRUD Generated page with timezone field resulting with Error in Updating Resource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1456" alt="Screenshot 2022-02-14 at 5 32 04 PM" src="https://user-images.githubusercontent.com/91450662/153863009-64467a84-5891-45d3-8c20-1c10466f2b85.png">

### Steps To Reproduce

1. Generate CRUD page with Postgres DS
2. Create/Select a table having timestamp type columns
3. CR

[2022-02-14 12:15] abhvsn commented on #9245
@somangshu can this be related to https://app.intercom.com/a/apps/y10e7138/conversations/164629100057109?redirectTo=feed if yes then I think we should increase the priority to high or even critical as user had really bad experience with video upload

[2022-02-14 12:16] sumitsum commented on #11141
The workaround here would be to turn off the prepared stmt toggle.

[2022-02-14 12:18] nidhi-nair commented on #9528
Fixed in #9775

[2022-02-14 12:18] #9528 closed

[2022-02-14 12:26] nidhi-nair commented on #11086
It is likely that this JSON got malformed in a CRUD operation on action templates. A reproduction has not been created so far, but we could start trying by creating and deleting actions in a test integration.

[2022-02-14 12:27] nidhi-nair commented on #11087
We should add a schema validation step before saving any data in the DB. This will help pinpoint the source of errors in the app.

[2022-02-14 12:31] nidhi-nair commented on #11088
@mohanarpit We've noticed that form rendering (i.e., form evaluation) was failing for Airtable because the Twilio JSON was malformed. This only happened in the organization that we were testing Twilio in, where both the plugins were present in the client side redux state at the same time. In our current flow, mallformed JSONs would not be available for GA, but this is still a scary place to be. :)

[2022-02-14 12:47] somangshu opened #11142 "[Bug]: Add JS for icon property in buttons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

EX: Starting with the button widget, We see that the button color cannot be dynamically changed and the one in the table widget can. This is an Inconsistency and similar situations can be see across  these properties.

We propose we look at this from the other way around and make all properti

[2022-02-14 12:49] somangshu commented on #11142
@riodeuno @vuiets your thought here please

[2022-02-14 12:51] nidhi-nair commented on #10934
Seems related to #4387

[2022-02-14 13:00] AnaghHegde opened #11143 "[Bug]: LIMIT private repos does not restrict 3 apps at instance level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For git-sync feature we are limiting number of private repo connected at 3 per instance(self-hosted) and 3 per org at Cloud version.

### Steps To Reproduce

For git-sync feature we are limiting number of private repo connected at 3 per instance(self-hosted) and 3 per org at Cloud version. Bu

[2022-02-14 13:03] AnaghHegde commented on #10299
Backend task - API to test the connection after the key is regenerated

[2022-02-14 13:17] abhvsn opened #11145 "[Bug]: Inconsistencies and improvements in release notes modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There are minor inconsistencies in the release notes modal, a user on discord reported these:
- The released X days ago is not in sync with the actual release dates.
- Also, it's odd that the Cancel, Ok, Thanks, and X buttons all do the same thing (close modal).
- I like the individual links

[2022-02-14 13:18] Nikhil-Nandagopal commented on #11143
I think we should continue to only enforce this at an organization level and not an instance level

[2022-02-14 13:18] #11143 closed

[2022-02-14 14:00] eco-monk opened #11146 "[Bug]: airtable test throws error "unsupported operation""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On Airtable datasource creation.
Test button always throws `unsupported operation` error.

However, If we save and create a query. It works like a charm.

### Steps To Reproduce

- Create a new Airtable datasource
- Select API key authentication type
- Paste your API key
- Click `test`
- Unsu

[2022-02-14 14:22] eco-monk opened #11147 "[Bug]-[2670]:geolocation callback is not called"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://docs.appsmith.com/framework-reference/appsmith#geolocation

Calling an API `onSuccess` of `getCurrentPosition` doesn't work.

[code]

### Steps To Reproduce

1. On button click.
2. Call `appsmith.geolocation.getCurrentPosition`.
3. And call an API inside it's success callback.
4. Clic

[2022-02-14 20:07] #11139 closed

[2022-02-15 01:08] cverdes commented on #10627
I think that it could be great to be able to have different widgets location and sizes for each different canvas sizes.

[2022-02-15 01:13] cverdes opened #11154 "[Feature]: Different widgets location and sizes for different canvas sizes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I think that it could be great to be able to have different widgets location and sizes for different canvas sizes.

### Why should this be worked on?

I feel the current responsive system of appsmith quite limited.

[2022-02-15 02:59] abhvsn commented on #4630
A user on discord requested a feature which might be related to this epic  https://github.com/appsmithorg/appsmith/issues/11154#

[2022-02-15 02:59] rohan-arthur opened #11155 "[Bug]: Select Query on generated page is not prepared statement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I generate a CRUD page, the SELECT query is not a prepared statement

### Steps To Reproduce

1. Create new app
2. Select "generate from a data table"
3. Select:
    a. datasource: users
    b. table: public.users
    c. searchable column: name
    d. click "generate page"
4. Look at the

[2022-02-15 03:47] arunvjn opened #11156 "[Task] Remove default params from the client-side URL builder functions"

[2022-02-15 03:48] arunvjn opened #11157 "[Task] Initialize application based on the page id in the URL"
All APIs required to initialize an Appsmith application leverages the application ID in the existing URL structure.
We need to remove that dependency since the new URL will not have application ID in it. Instead we would use to page id to retrieve the application ID and resume the old workflow

[2022-02-15 04:36] abhvsn commented on #9807
Lowering the priority as we are not able to reproduce the issue and we haven't seen any such events from 9th Feb

[2022-02-15 05:17] keyurparalkar opened #11158 "[Bug]: Mouse event being propagated to the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Whenever I try to switch the tabs order for the tabs widget and move the cursor to the canvas (with mouse click released) I see a selection happening on the canvas.

Please find the below video for reference:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/c513bbef73724ed4ab7d9694666031

[2022-02-15 05:24] Nikhil-Nandagopal commented on #10627
@cverdes we're thinking of a viewport responsive solution where you can define breakpoints for views depending on the viewport.

[2022-02-15 05:28] Nikhil-Nandagopal commented on #11154
Hello, we'll be working on this feature as part of $4630. Please do upvote that issue :)

[2022-02-15 05:28] #11154 closed

[2022-02-15 05:35] nidhi-nair commented on #9457
Closing due to low incidents, no recent events, and no clear reproduction. Will re-open if we see this again.

[2022-02-15 05:46] ashit-rath opened #11159 "JSON Form - Handle configuration retention for missing properties (Modes)"
The JSON form takes the JSON in `sourceData` and converts it into a form with fields.
When this `sourceData` changes i.e the underlying property name changes or the value type changes, the form re-generates the modified properties (resetting it to the detected field type with default configuration)
A problem arises when we connect with a Table widget's selected row property to the sourceData of th

[2022-02-15 06:04] ashit-rath commented on #11159
cc: @riodeuno @somangshu @Nikhil-Nandagopal @dilippitchika @vivekverma2312 @sbalaji1192

[2022-02-15 06:08] sbalaji1192 commented on #9135
@dilippitchika Currently we have columns types `plain text / Number`. But both are handled the same way. We need to evaluate how these two columns should be processed and rendered.
Excerpt from [slack thread](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1644904831594039?thread_ts=1644903142.733629&cid=CGBPVEJ5C)  :

[2022-02-15 06:15] nidhi-nair opened #11160 "[Bug]: UQI form control components not setting evaluation order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

evaluation order is not getting set for form inputs in the new components. Likely cause is that some of these paths are created on the fly within these component definitions.

### Steps To Reproduce

https://theappsmith.slack.com/archives/C02KTH6EHUG/p1644904919405449?thread_ts=1644833232.546

[2022-02-15 06:21] keyurparalkar commented on #11158
An issue is already exists for this: https://github.com/appsmithorg/appsmith/issues/11079
Therefore, closing this issue.
CC: @aswathkk

[2022-02-15 06:21] #11158 closed

[2022-02-15 06:23] jnikhila commented on #11094
The updated documentation for Beta List widget is available for review.
https://docs.google.com/document/d/1M3Qbwv02iBj3nqchcMvmEl23G0dD_yEU83z2m6ODeeE/edit?usp=sharing

[2022-02-15 06:54] #10918 closed

[2022-02-15 06:54] #4608 closed

[2022-02-15 06:54] #11115 closed

[2022-02-15 07:04] nayan-rafiq opened #11164 "Allow saving theme in BE"

[2022-02-15 07:28] vivekverma2312 opened #11166 "[Bug]: Firefox : Clicking on white space near any property on property pane do not focus it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f846ddbc09b74502908922cadf3567d1-00001.gif)](https://www.loom.com/share/f846ddbc09b74502908922cadf3567d1)

### Steps To Reproduce

On chrome and safari if we click on white space beside any property it focus on that property but the same d

[2022-02-15 07:33] aswathkk commented on #11166
@vuiets Should we resolve this on Property pane improvement epic?

[2022-02-15 07:34] #10576 closed

[2022-02-15 07:34] #10410 closed

[2022-02-15 07:49] abhvsn opened #11167 "[Feature]: Enhance the error resolution steps if action execution results in errorneous state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We should have documentation on different errors that we expect users will face during the action execution and how to tackle such scenarios.
One way to implement this is to document all the errors in gitbook itself and send these links as a part of error response, something like this has been done as

[2022-02-15 08:05] eco-monk opened #11168 "[Feature]: identifying bracket pairs in code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When working on complex nested code. It can be hard to track which brackets are paired together.
(Especially when there are errors in the code)

We do highlight bracket pairs on cursor movement. But they'd fail, when there are some syntax errors.
And the user has to move the cursor around to see which

[2022-02-15 08:24] chandannkumar opened #11169 "[Bug]: Currency Input widget is accepting alphabet "e" along with numbers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In currency input widget, no alphabets and special characters are allowed since it only accepts number as a valid input.
Here "e" is allowed to type which throws error as invalid input.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/43658ef69dc74bdd907328f668b78d00-00001.gif)](https:/

[2022-02-15 08:39] arunvjn opened #11170 "[Bug]: Missing text box in welcome page to input custom use case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a user selects the option "others" from the usecase dropdown in welcome page, we need to provide them an input box to add custom use case.

### Steps To Reproduce

![Screenshot 2022-02-14 at 17 46 13](https://user-images.githubusercontent.com/32433245/154023847-e969d4aa-52de-4154-b820-14

[2022-02-15 08:58] Tooluloope opened #11172 "[Bug]: Reset Widget on click resets all the input in a Form Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Add Different inputs in form widget

reset a widget on submit

All widgets get resetted

### Steps To Reproduce

https://user-images.githubusercontent.com/31691737/154027357-c3d1acf8-cc06-4f14-a9b8-40c8bc17d4ab.mp4

### Environment

Production

### Version

Cloud

[2022-02-15 09:18] leotom2000 commented on #10934
When large data are fetched first and then tried to deployed.
Seems both Front-end and back-end issue, the deploy button is not sending request immediately on clicking,
Also the backend is taking considerable time to give response, will check with front end first and go ahead for backend,
assigning to Frontend Team

[2022-02-15 09:26] Nikhil-Nandagopal commented on #11172
@Tooluloope this is because you have marked resetWidgetOnSubmit as true in the button

[2022-02-15 09:26] #11172 closed

[2022-02-15 09:45] chandannkumar opened #11173 "[Bug]-[35]:Number Input widget behavior on pressing e"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Query: When input widget is set to Number type, we should only allow inputs as numbers or numbers and "e" both?
Since it is observed that when the number input is long then input converts itself in smaller number presented with "e" (eg: 6.823827873273288e+217).
It is observed that "e" is not

[2022-02-15 09:53] ashit-rath opened #11174 "JSON Form - fix select and multi select default values options"

[2022-02-15 09:54] jnikhila commented on #11094
Updates as per first round of discussion:
* Add a properties table - giving a snapshot of all the properties
* Add a events table - giving a snapshot of all the events

[2022-02-15 10:22] SatishGandham opened #11175 "[Task]: Save the results of performance runs to a persistent storage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-02-15 10:36] vivekverma2312 opened #11176 "[Bug]: Menu options scroll beyond table/container/tabs/form widget area when scroll horizontally/Vertically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/0d228678db9646e4b1090d5cdaf84c1f-00001.gif)](https://www.loom.com/share/0d228678db9646e4b1090d5cdaf84c1f)

### Steps To Reproduce

1. Drag and drop a Table widget
2. Bind with query
3. Add a column with menu widget type
4. Add few options

[2022-02-15 11:13] #6668 closed

[2022-02-15 12:25] #10059 closed

[2022-02-15 13:46] cverdes commented on #4630
Perhaps a possible alternative is tu be able to define different coordinates and sizes for the in page widgets for different canvas sizes.
Or let the coordinates and sizes of each widget be defined by JavaScript formulas using the current size of the canva.
Just ideas...

[2022-02-15 15:01] Nikhil-Nandagopal commented on #11147
@eco-monk is this even expected? Now with the new promises, I think only .then should work for these newer functions. @hetunandu can confirm

[2022-02-15 15:35] dumbPy opened #11181 "[Feature]: S3 match prefix 1 level while listing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When listing files with a certain prefix, it lists matches the prefix with all files. This is understandable since s3 is non-hierarchical, but this is not as intuitive as hierarchical file systems, which have folders and files within them, specially for a non-technical person.

### Why should this be

[2022-02-15 15:49] ApekshaBhosale commented on #11136
@somangshu yes we do. we added dependency from actions to the widget which causes one more eval. we are are reverting the change and will work on another solution.

[2022-02-15 16:53] areyabhishek opened #11182 "[Feature]: Allow users to upload and view excel sheet without a DB integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Users often want to just upload and view an excel sheet in the browser. They'd then like to modify the excel sheet to upload it to a database.

### Why should this be worked on?

https://community.appsmith.com/t/upload-an-excel-file-and-show-in-a-table/602

[2022-02-15 16:59] ramsaptami opened #11183 "[Bug]: Widget boundary inside a container widget cannot be accessed when boundaries overlap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Container widget boundary overlaps any other widget boundary making it hard to access child widget boundary without first modifying the container widget.

The container widget does not automatically add a scrollbar when there are elements inside the container widget that are hidden from viewp

[2022-02-15 17:29] ramsaptami opened #11185 "[Bug]: Example snippet of Radio widget errors out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Example snippet of Radio widget errors out when copy paste into the field

![image](https://user-images.githubusercontent.com/79509062/154115151-b0c572d0-f3c6-4d43-8347-c78d2b143415.png)

### Steps To Reproduce

1. Use the example expected structure of a Radio widget in the Options field and

[2022-02-15 17:39] ramsaptami opened #11186 "[Bug]: Incorrect error displayed when GSheet query is missing 'table heading row index' field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Incorrect `For input string: ""` is displayed when 'Table Heading Row Index' is missing on Google Sheet query

![image](https://user-images.githubusercontent.com/79509062/154117370-1c2df344-c735-4278-8935-656d5516d5bb.png)

### Steps To Reproduce

1. Fill in a Google Sheet query without provi

[2022-02-15 17:52] nidhi-nair commented on #6201
Closing this per Sumit's comment above. Please re-open the issue with more information if the currently implemented feature does not meet the expected criteria.

[2022-02-15 17:52] #6201 closed

[2022-02-15 17:53] ramsaptami opened #11187 "[Bug]-[900]:Evaluated value on Google Sheets query generated via CRUD does not evaluate code unless modified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Evaluated value on Google Sheets query generated via CRUD does not evaluate code unless modified.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/55463ba7388f4f84b1b8516e3d1d8c5f-00001.gif)](https://www.loom.com/share/55463ba7388f4f84b1b8516e3d1d8c5f)

### Steps To Reproduce

1. Use Go

[2022-02-15 18:07] nidhi-nair commented on #10256
Closed via #11153

[2022-02-15 18:07] #10256 closed

[2022-02-15 18:46] #10562 closed

[2022-02-15 19:14] sbalaji1192 opened #11188 "[Bug]: Form widget should include the following widgets in data property when added in form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The form widget does not include the multi-select, switch group widget selected values in form.data property. It only includes children widgets that expose the selected value in the `value`  key into the data property.
Input, Currency, Phone, select expose the entered/chosen value in `value`

[2022-02-15 19:52] prsidhu commented on #10771
@somangshu @SatishGandham  an update on this one:

1. In case of large json data (json or html), truncation doesn't break the screen or cause overflow.
2. If text contains any of these tags - doctype, html, head or body; then the widget breaks with the following error:
```HTML documents as Interweave content are not supported```.

https://github.com/milesj/interweave/issues/124

If it's not an ove

[2022-02-15 20:07] prsidhu commented on #10771
Rendering is slow because it's still trying to render the complete text.

Will push a fix next: Based on the area of the widget, we can use a slice() of the text as a state variable (displayText), while pass this.props.text to the modal component as is.

[2022-02-15 22:31] areyabhishek commented on #10849
@parth-appsmith Check this out. Could you find a generic S3 logo that we could use here? This is a quick fix

[2022-02-16 03:26] felixsuarez0727 commented on #10910
### Background

`Utils.isDirty()` is the way to tell if the object obtained from `ActionDao.getSaveRequest()` and the object generated from the current data on the table are different.

`Utils.isDirtty()` is used to disable the "Run" button so that it is not executed on an "inconsistent" state.

### The issue

The reason the "Run" button is getting disabled constantly is that `Utils.isDirty` is co

[2022-02-16 05:04] #10881 closed

[2022-02-16 05:14] aswathkk opened #11191 "[Bug]: Page dragging is not working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Dragging and re-arranging of pages in the *Page properties* page is not smoother. If I drop the dragging, it stays in the place I dropped rather than moving itself into a proper place.

https://user-images.githubusercontent.com/10436935/154200340-f6bdcd43-c0d3-407d-a047-a5994ac932f0.mov

I co

[2022-02-16 05:27] Tooluloope opened #11192 "[Bug]: server isn't verifying page unique names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot 2022-02-14 at 19 39 04](https://user-images.githubusercontent.com/31691737/154201816-aa47541f-da0e-4479-ba6f-8816d6e86073.png)

### Steps To Reproduce

Open the same application in two tabs, click add page in both the tabs, refresh

### Environment

Production

### Version

Cloud

[2022-02-16 05:59] aswathkk opened #11194 "[Feature]: Show error message on Table column name control"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

If there are multiple columns in the table with the same name, the column name control shows a red border.
But, it is not shown anywhere why the column name is red in color.

https://user-images.githubusercontent.com/10436935/154205000-16fc0e2c-7ce2-44ef-91d1-1d4677e22d22.mov

### Why should this be w

[2022-02-16 06:02] somangshu commented on #10756
@techbhavin is this fixed, Why are we closing this?

cc @vivekverma2312 @YogeshJayaseelan

[2022-02-16 06:06] somangshu commented on #9969
Your solution does not work with Preview mode. @vicky-primathon reopening this, Please fix through another PR ASAP

@shwetha-ramesh please keep a note of this scenario for the future.

[2022-02-16 06:07] somangshu commented on #10562
@shwetha-ramesh I hope your query was answered, Apologies for getting late here. Can you attach a screenshot so we can discuss what scenario you are talking about

[2022-02-16 06:15] Nikhil-Nandagopal commented on #11159
@ashit-rath
What if we always kept the configuration of the field in the JSON Form irrespective of whether the sourceData changes? I know this will lead to additional configuration being stored in some cases but there, the user can simply delete those fields and we can give them a button to reset the configuration in the property pane

[2022-02-16 06:16] rohan-arthur commented on #4559
V1 scope: https://www.notion.so/appsmith/Sequencing-Tasks-for-UQI-epic-831ed68a652140c696e9535300673860

1. [Implementing components](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/board?epics=Z2lkOi8vcmFwdG9yL0VwaWMvNzEzNzc0&labels=uqi%20components) in ~~datasource and~~ query forms, that can be used by the app developer
    1. Timeline - 23 Feb 2022
    2. form to json

[2022-02-16 06:17] techbhavin commented on #10756
Here status is done so I moved it to closed. can we reOpen this?

cc: @somangshu  @vivekverma2312  @YogeshJayaseelan

[2022-02-16 06:18] somangshu commented on #9245
For more context from the user as per @abhvsn

User is facing the below error:

The user is trying to add a MP4 video file above 5 MB. They are trying to upload with the base64 format

The user has also tried changing the max file size property to 25Mb.

We need to figure if this is possible today. If not what should be the resolution here.
cc @SatishGandham

[2022-02-16 06:19] somangshu commented on #9245
Marked critical until we arrive a solution.

[2022-02-16 06:19] #10779 closed

[2022-02-16 06:21] somangshu commented on #10756
I dont see this fixed, Please test and take a call further @techbhavin

[2022-02-16 06:33] chandannkumar commented on #10756
![image](https://user-images.githubusercontent.com/95341241/154209193-2404c49a-6608-4905-b156-5ca9bf01de29.png)
Error in console @techbhavin

cc: @sharat87

[2022-02-16 06:38] somangshu commented on #6488
@momcilo-appsmith something like 👇
![Screenshot 2022-02-16 at 12 07 46 PM](https://user-images.githubusercontent.com/11089579/154209863-5d723d57-52a2-4fa0-aa89-3cf3e44484ec.png)

I am referring to the grey text as option helpers

[2022-02-16 06:40] somangshu commented on #10756
Keeping it deprioritised because the issue is persistent to the release environment. @chandannkumar please verify if possible

[2022-02-16 06:41] ashit-rath commented on #11159
@Nikhil-Nandagopal
We would lose the auto changing of fields.
If we are typing out the `source data` instead of binding, the first letters we type out would be the deciding factor for the field type that comes out.
Eg. my intention -> { "date": "10/12/2010 } and while typing I pause at { "date", "1" } <- now we are stuck with Text input and I manually have to go and change to a date picker and set

[2022-02-16 06:48] somangshu commented on #4182
@MichaelLeeHobbs thanks for bringing us the amazing context, we really appreciate your inputs. While I start a discussion thread for this internally, We are building a feature called as JSON form > #[2504](https://github.com/appsmithorg/appsmith/issues/2504), which allows you to use datasource / JSON objects to build form easily, We handle many configurations out of the box for you and also allow

[2022-02-16 06:49] vuiets commented on #11166
@aswathkk wondering if this is a design issue? Do we need a focus state for the Property Pane controls before we may pick this up?

[2022-02-16 06:50] somangshu commented on #7064
@momcilo-appsmith I was tagging you for the design audit I believe, @wmdev0808 can you tell us if there is a design requirement here.
Apologies for the confusion

[2022-02-16 06:50] ashit-rath commented on #11159
The above example I gave is not quite appropriate. Right now "1" -> "10/12/2010" does not convert to the date field automatically. But changing from
"1" -> 1
 "false" -> false
 "test" -> ["test"]
etc.
would lead to a field type change.

[2022-02-16 06:53] chandannkumar commented on #10756
This issue only occurs in release environment as of now and works normal on production

[2022-02-16 06:56] shwetha-ramesh opened #11197 "[Enhancement]: When app name is long on hover it displays 'Rename application' in View mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When application name is too long on hover it displays 'Rename application' in View mode. Ideally on hover it is right to display the full application name.

![image](https://user-images.githubusercontent.com/92293815/154211856-8a5bc09e-f340-4dd6-b836-ae0c238334f6.png)

### Steps To Reproduce

[2022-02-16 06:56] aswathkk commented on #11166
@vuiets We need a design for the focus state for some components like the property title, copy button etc. I've created a separate issue for that.
This issue is more about inconsistencies in the firefox browser's behaviour.
In chrome, if we click on a white area near to property title and pressing `Tab` moves the focus to the property title. But, that's not the case in Firefox.

[2022-02-16 06:56] vivekverma2312 opened #11198 "[Bug]: UI of Input widget is not proper when icon is set and left aligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="366" alt="Screenshot 2022-02-16 at 12 23 50 PM" src="https://user-images.githubusercontent.com/83569920/154212015-e75150e9-1251-4148-bcb3-3652bc029044.png">

### Steps To Reproduce

1. Drag and drop an Input widget
2. In Icon property from property pane set an icon
3. Observe that

[2022-02-16 06:59] shwetha-ramesh commented on #10562
I was talking about this scenario here. There was ui overflow here too, but it seems to be fixed now.
![image](https://user-images.githubusercontent.com/92293815/154212582-2bd8c1f2-1b73-4f77-9140-1ed2aea00924.png)

[2022-02-16 07:05] somangshu commented on #11033
I think this cant be solved easily given the implementation right now. @Tooluloope if this high effort, We can push this into icebox and take it up later. Lets not spend energy on this right now

[2022-02-16 07:07] vuiets commented on #11166
Sounds good. Let's pick this up as a part of [#8845 | Property Pane Improvements](https://github.com/appsmithorg/appsmith/issues/8845) 👍

[2022-02-16 07:08] prapullac commented on #9389
Needs client-side data for verification

[2022-02-16 07:20] aswathkk opened #11199 "[Task]: Opening property pane should focus the widget name"
From @somangshu

Final decision:
- Focus on the first property whenever we click on the widget.
- When we add a new widget or when we paste a widget, focus on the widget name. (it should be editable only if we press space or enter otherwise it will be hard to other operations like delete, copy, paste etc,)

[2022-02-16 07:36] pranavkanade opened #11200 "Fix the error message corresponding to s3 query failure due to file size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Uploading Screenshot (607).png…]()

### Steps To Reproduce

Try to fetch a large file from s3

### Environment

Production

### Version

Cloud

[2022-02-16 07:57] #10697 closed

[2022-02-16 08:05] #10885 closed

[2022-02-16 08:06] #10684 closed

[2022-02-16 08:15] vuiets commented on #11199
Sounds good as long as we don't make it active and just focus on it.

[2022-02-16 08:18] nidhi-nair commented on #11200
The server is closing the socket because of a long running call. We'll need to check if the channel is getting GC'd or whether this is an SDK configuration to be setting. Additionally, we should start to use the max file size env variable in the plugin to make sure instances aren't pulled down as a result of fixing this bug.

[2022-02-16 08:19] SatishGandham commented on #9245
I tried a 33MB mp4 file with base64 format. It is working fine on my dev (which is 6 days old), but is failing on release even before making the execute call. could be a regression?

Did something change in between?

From what the user is describing, looks like he did not select the correct data type in file picker widget.
@abhvsn , can you confirm that?

[2022-02-16 08:22] #9667 closed

[2022-02-16 08:24] nidhi-nair opened #11201 "[Task]: Switch mongo plugin implementation to non-reactive"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Switch out of reactive library for Mongo
- Add our own layer for introducing reactive nature to Mongo
- Test for long running connections, make sure there is no leakage

[2022-02-16 08:28] nidhi-nair opened #11202 "[Bug]: Create a lock on datasource context cache to avoid multiple parallel connections from being created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A single datasource on the server is expected to have a long-running connection that is reused till it expires. This connection context is retained in a map that acts as a cache between different execution calls. However, this cache is not synchronized and can hence create multiple connection

[2022-02-16 08:31] #9218 closed

[2022-02-16 08:33] #11067 closed

[2022-02-16 08:46] RoopKrrish9696 commented on #9661
**Templates Design QA feedback based on the DP https://appsmith-gozbmkr8a-get-appsmith.vercel.app/ :** cc @kocharrahul7 @akash-codemonk

Home Page:

1. Tab with Apps & Templates has more padding wrt the active line below it
2. Search should be scrollable in the home page , no need to make the position stick.
3. The font weight of "Apps/templates" is different ( its more ).

Templates Page:

1. Sea

[2022-02-16 08:53] somangshu commented on #11038
From #4024 we also wanted to allow dynamic helper text that is below the input component and needs additional height, It will have to reflow other widgets. Our alternate solution before this was to introduce a tooltip for helper.

[2022-02-16 08:55] AnaghHegde commented on #9904
Lets close this issue? We can track the issues separately as the feature is in production now ?

[2022-02-16 08:58] somangshu commented on #11038
Another conversation on the same topic in a private thread.

[2022-02-16 09:12] sharat87 commented on #10756
Fixed CSP. Added `data:` to `frame-src` and now this works.

[2022-02-16 09:34] billyrudi opened #11203 "[Feature]:Hide shadows of hiddens objects during page loading in deploy view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi,
when i set visible = false in every objects it is not beautiful to see in deployed version during page loading
 the shadow of this object...

### Why should this be worked on?

The end user , if the page spend some time to load ,  might get disoriented to see shadows of objects that not exixst.
It

[2022-02-16 09:49] chandannkumar commented on #10756
Tested and working fine on release

[2022-02-16 09:59] jnikhila opened #11205 "Tooltip - List Widget + Common to all widgets"
[Notion Page](https://www.notion.so/appsmith/Tooltips-100d2cd099ee4dc399a032ed9e481a06) to capture the exhaustive list of tooltips across platform.

 [List widget -](https://www.notion.so/appsmith/List-Widget-783dae1fcdef4aa69a8aa02efa40130a)
[Common for all widgets](https://www.notion.so/appsmith/Common-across-widgets-46a21899e0d1430da5a13452b2461610)

[2022-02-16 10:04] somangshu commented on #10528
@riodeuno not sure what are the next steps here

[2022-02-16 10:06] somangshu commented on #9245
@SatishGandham are you able to see a change in the release environment that could be causing this ?

[2022-02-16 10:06] #10756 closed

[2022-02-16 10:13] somangshu commented on #8256
@Tooluloope recommend working on this internally, Everything related to the core widgets like table

[2022-02-16 10:14] somangshu commented on #9245
@vivekverma2312 this is a regression, Can you test and confirm the above?

[2022-02-16 10:15] #10299 closed

[2022-02-16 10:24] mojtab23 commented on #9618
For this to work, we need a way to get a list of collections, and it looks like we might not have admin permission to access this API call, as mentioned here https://stackoverflow.com/a/48258777/3291867 .

I've tested it with testcontainers and it failed with this error:
[code]

[2022-02-16 10:38] somangshu commented on #11197
This was more of a conscious decision @shwetha-ramesh. We want the action to be more visible in the edit mode, And looking at the view mode the behaviour looks appropriate. Let me know if you think otherwise, Closing this for now

[2022-02-16 10:38] #11197 closed

[2022-02-16 10:39] jnikhila commented on #11205
Updated notion with tooltip for List widget & common properties across widget.

[2022-02-16 10:40] ohansFavour commented on #9181
Hey @rohan-arthur , kindly check this out

[2022-02-16 10:44] somangshu commented on #11185
@ramsaptami the expected structure example if trying to show that it expects both integer and string. Its not a valid object.

Do you agree? If so please close the issue

[2022-02-16 10:51] #10382 closed

[2022-02-16 11:00] rohan-arthur commented on #9181
@ohansFavour I don't get the flickering anymore, but still get the cyclic dependency error - request you to make a copy of [my app](https://app.appsmith.com/applications/61b2f3a5d3e4214454c26996/pages/61b2f3a5d3e4214454c2699a/edit) and try out the steps again.

1. enter something in the search that will get positive results, e.g., "Michael Jackson"
2. Select the list and copy
3. scroll down to som

[2022-02-16 11:01] jnikhila commented on #11094
Apart from videos, the document is updated and ready for review.

[2022-02-16 11:04] kocharrahul7 opened #11206 "[Bug]: some .jpg images don't load in the Image Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to display a .jpg image in the image widget when being loaded from a URL, it doesn't display the output, and continues to display the default image. Some examples are:

http://eimages.valtim.com/acme-images/product/m/h/mh01-gray_main.jpg
https://www.simplyrecipes.com/thmb/nAuodqCn_

[2022-02-16 11:06] jnikhila commented on #11133
Working with Pranay.

[2022-02-16 11:12] somangshu commented on #11182
@areyabhishek isn't this a common [datagrid scenario ](https://github.com/appsmithorg/appsmith/issues/1392)

[2022-02-16 11:15] somangshu commented on #4630
@cverdes thanks for the inputs, With the first point, Did you mean we could introduce breakpoints and develop on them separately, That the easiest fix we too are thinking of right now. Let me know if you mean otherwise

[2022-02-16 11:23] nidhi-nair commented on #11046
Closed via #11063

[2022-02-16 11:23] #11046 closed

[2022-02-16 11:26] riodeuno commented on #10528
As I've discussed the previous comment, the onLoaded event for widgets, IMO, cannot work reliably.

I believe we can try and help OP with their issue. One approach which I would suggest, as you have suggested in your comment, is to use something akin to this logic `Table1.selectedRowIndex < 0 ? Query1.data[0].id :  Table1.selectedRowIndex` to bind in `Query2`.

[2022-02-16 11:29] wmdev0808 commented on #7064
@somangshu, The basic functionality is working as expected.
The point is that almost all relevant widgets also have Label styling section named by "Styles" which includes label text color, label text size and label font style(actually label relevant style props).
As far as we are adding new Label section(position, alignment, width),  will we merge these properties or leave them as they are?
Note:

[2022-02-16 11:33] #10780 closed

[2022-02-16 11:34] ankitakinger opened #11209 "[Docs]: User emails are not verified callout on Form Login Admin settings page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/setup/instance-configuration/disable-user-signup

### Describe the problem

On the below page, we will be showing a Callout banner to users, indicating that the user emails used for the form login/signup option are not verified and this can lead to a breach in thei

[2022-02-16 11:43] Irongade commented on #9038
@akash-codemonk @RakshaKShetty  This is not a bug, all the user has to do is pull the response Tab viewer up to see the full icon.

[2022-02-16 11:43] #9038 closed

[2022-02-16 12:09] riodeuno opened #11211 "[Task] Deprecate redundant select component packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Identify which one of the select packages to keep - rc-select, react-select, @blueprintjs/select.
- [ ] Remove the packages except the one which we decided to keep
- [ ] Create components in the Appsmith Design System, if they're not already present, which we will use to replace the components

[2022-02-16 12:24] IAmAnubhavSaini opened #11212 "[Task]: Remove on hover "pointer" cursor from Import Application modal."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-02-16 12:30] somangshu commented on #10840
The color are still visible with the interactions disabled, Check out our standup app ![Screenshot 2022-02-16 at 5 58 59 PM](https://user-images.githubusercontent.com/11089579/154264784-070650d0-1ff9-4ce9-9404-f418008afcd8.png)

[2022-02-16 12:31] somangshu commented on #10830
This should be an easy fix. good catch @AmanAgarwal041.

@Tooluloope I am assigning this to you for now

[2022-02-16 12:51] mojtab23 opened #11214 "[Bug]: Test MongoDB datasource shows ok even if there is no database matching the name in the 'Default Database Name' input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Test MongoDB datasource shows ok even if there is no database matching the name in the 'Default Database Name' input.
as mentioned in item number 4 in this comment https://github.com/appsmithorg/appsmith/issues/5005#issuecomment-1002032009

### Steps To Reproduce

1. Fill a valid MongoDB data

[2022-02-16 12:57] mojtab23 commented on #5005
Didn't see item 6 when tested again. I think https://github.com/appsmithorg/appsmith/pull/11124 also resolved this one.

[2022-02-16 13:04] MichaelLeeHobbs commented on #4182
@somangshu sounds very interesting but when I try to login with my github account to the preview I get sent to https://release.app.appsmith.com/applications/user/login?error=true An automatic form builder based on JSON would be amazing.

[2022-02-16 13:07] jnikhila commented on #11133
@Pranay105 - All the apps from [Notion page](https://www.notion.so/appsmith/c38ae605b3f843e2863df7738810a713?v=59b35d2a9f804e1cb5ae440ee46b7008) are updated on gitbook.

[2022-02-16 13:30] Nikhil-Nandagopal commented on #11159
So here is my suggestion:
- We must always maintain a users configuration unless the query changes just like we do in the table widget
- If in some case, a user has some older bloated configs, we can simply give them a way to remove those in the UI
- If a config is present and no source data is present, the field should render with empty data since this is a common use case of missing column data

[2022-02-16 13:32] somangshu commented on #4182
@MichaelLeeHobbs you will have to use dummy login credentials, use the sign up button. Oauth does not work on previews. Please get in touch on discord if you need my test credentials.

[2022-02-16 13:40] #10901 closed

[2022-02-16 13:45] Nikhil-Nandagopal commented on #11206
@somangshu @sbalaji1192 can we look into this?

[2022-02-16 14:32] Nikhil-Nandagopal commented on #9483
Orgs can be duplicate

[2022-02-16 14:32] #9483 closed

[2022-02-16 14:36] Nikhil-Nandagopal commented on #6488
Should this be in a select widget? This feels overkill for this widget

[2022-02-16 14:37] cverdes commented on #4630
The idea is to do something similar to how Microsoft Power App handles responsive layouts.
The scripts have access to `App.Width` and `App.Height` to know the canvas size and `Parent.Width` and `Parent.Height` in case the widgets is within a container.
With this information, and letting to set, by scripting, the values of `x`, `y`, `width` and `height` of each widget, the user can compute the loca

[2022-02-16 17:32] RakshaKShetty commented on #10950
Ux related issues

- [ ] The look and feel of the import modal is not same as figma
- [ ] The hand icon should not be displayed when there is no hover in the import modal
- [ ] The reconnect datasource pop up should be displayed without a scroll
- [ ] The Left pane and the header section should be sticky and  only the datasource details should be scrollable
- [ ] The connection text should be Para

[2022-02-16 17:46] ramsaptami opened #11219 "[Bug]: App counter must start from 1 even for imported apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When importing an app, app counter does not start from 1 as is the case with duplicating or new app creation but rather picks off from the previous counter. So over time app name is appended with a number that does not correlate to any data present on the current org page.

More info: Usually

[2022-02-16 17:51] ramsaptami opened #11220 "[Bug]: Error message for Google Sheet displays incorrect field name when cell range is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When Google Sheet query does not have a cell range present then the error displayed incorrectly identifies the field as data range

![image](https://user-images.githubusercontent.com/79509062/154325403-4a3b881f-baff-4578-a523-f3e2d41673bb.png)

### Steps To Reproduce

1. Create a GSheet query

[2022-02-16 19:39] ramsaptami commented on #8823
Closing this issue since the icon has been added in the IDE enhancement

[2022-02-16 19:39] #8823 closed

[2022-02-17 01:35] wmdev0808 commented on #10753
@somangshu , @Tooluloope
This issue is production specific issue, in particular, CSP(Content Security Policy) relevant one.
Our current CSP setting doesn't allow data url, so it is blocked and lead to the above issue.
That's why, this issue should be handled by server-side

[2022-02-17 02:33] abhvsn opened #11223 "[Feature]: Provide a way to modify the default branch for git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today if user wants to update the default branch and delete the older branch there is no way to do that from Appsmith. Even though user can modify the same on remote the same will not be reflected in Appsmith UI. Also, deleting the default branch is not allowed today in Appsmith because we have defaul

[2022-02-17 03:23] Tooluloope commented on #8700
@somangshu, I don't think this is an issue, we shouldn't be altering user data inputted in options.
The Data could be coming from an API or something.

Secondly, the user could want to revert back to the initial data.

[2022-02-17 03:37] felixsuarez0727 commented on #11086
Created an integration called "Test Integration" as suggested.

I have been adding pairs of Dynamic variables to each section where they can be added (Query String, Query Params, Json Body, etc).

Removing the first member of the pair seems to be working fine when checking via "Fecth_Actions". Any way to check on the Mongo side?

When this was detected, the specific issue was that some identifiers

[2022-02-17 03:44] Tooluloope commented on #9721
@ramsaptami Could you share the app with me or make it public?

[2022-02-17 04:27] IAmAnubhavSaini opened #11224 "[Task]: Introduce lookup tables in place of switch control flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Icon.tsx
  - Icons
  - Sizes
- Common.tsx

[2022-02-17 04:32] #11110 closed

[2022-02-17 04:46] sbalaji1192 commented on #11206
The first URL has problem with the same-origin policy, it's not loading on the [js fiddle](https://jsfiddle.net/91d7wogj/) as well.
The second URL is not getting displayed because we're not properly escaping the special character in the URL in widget.

Currently, we show the default image when the given URL is not getting loaded. I think we should show the error instead of showing the default imag

[2022-02-17 04:56] Tooluloope commented on #10753
@somangshu who should we alert on this,
And should I close this issue?

[2022-02-17 06:15] nidhi-nair opened #11229 "[Feature]: Introduce claims along with Appsmith signature in the REST API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today the Appsmith signature is used to sign an API call only for the purpose of authenticating the request. However, this signature can also be used to send user specific claims, if the developer user designs their APIs around the signature.

### Why should this be worked on?

This will help app deve

[2022-02-17 06:18] trishaanand commented on #2840
- Admin settings page changes with new designs - @ankitakinger
- Fix fat container deployment - @trishaanand
- Fat container QA - @RakshaKShetty
- Continue adding more JWT token scenarios to the test plan and review - @RakshaKShetty @trishaanand @ankitakinger
- Start doing documentation for integrations with OIDC - @Pranay105 @trishaanand @ankitakinger @vuiets
- Documentation for JWT tokens - @vui

[2022-02-17 06:23] somangshu opened #11231 "[Epic]: Responsive Viewport"
## Objective:

Enable Appsmith devs to create responsive applications on Appsmith.

## Success metrics:

## Requirements:

| Title | User story | Comments |
| ---- | ----- | ------|
| | | |

## Design Handoff:

## Queries

[2022-02-17 06:30] trishaanand opened #11232 "[Docs]: SSO with OIDC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Add documentation for configuring SSO using OIDC.

### Describe the improvement

We should add step by step guide to integrate with the following identity providers :
- Auth0
- Okta
- PingID

[2022-02-17 06:47] jnikhila opened #11233 "Template: Widget Document"
Create a widget documentation template.

[2022-02-17 06:49] jnikhila commented on #11233
A [widget documentation template](https://docs.google.com/document/d/1LB67MqUxGv-c38BjUjkYDEEc88X_sCR8xA9N0NXZ4GM/edit#) outline the structure to follow for widget documentation.

[2022-02-17 06:51] jnikhila commented on #11233
Updated the document to reflect headings and subheads based on the discussion dated - 15-Feb-2022. @Pranay105 and @ajinkyakulkarni - Please take a look.

[2022-02-17 07:06] #11212 closed

[2022-02-17 07:48] vuiets commented on #11232
@Pranay105 @jnikhila could we add this to our pipeline for next week. This requires us to configure settings on the identity provider(IdP) and on Appsmith. So each of the IdPs that are listed here, namely Auth0, Okta and PingID, need a separate page of their own.

@trishaanand and @ankitakinger can help with this.

[2022-02-17 08:00] #8878 closed

[2022-02-17 08:08] jacebenson opened #11235 "[Feature]: Rest API / CURL support Custom Methods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I was looking at this tool and wanted to read my caldav stuff.   I tried both CURL import and REST API imports to get this to work.

I am able to locally pull my calendar propdata with this call;

[code]
OR
[code]

However, when I try that in appsmith I get an error of `Invalid method in cURL command:

[2022-02-17 08:13] keyurparalkar commented on #10974
@dilippitchika The extra space towards the bottom of the is adjustable: It will look something like this:

[2022-02-17 08:18] mnuernberger commented on #2194
Any update here? Is this topic on the roadmap?

[2022-02-17 08:22] Pranay105 commented on #11232
I can take this up. Who is working on the first draft?

[2022-02-17 08:36] nidhi-nair commented on #2194
Hey @mnuernberger! Thanks for showing interest in the feature. We've got #3313 on our roadmap right now. We'll only be picking up OIDC after we tackle user level authentication, since shared claims would hardly server the purpose of supporting OIDC.

[2022-02-17 08:50] riodeuno commented on #11159
@Nikhil-Nandagopal To resolve the scenario in question, here is how I am interpreting your suggestions, please verify if I understand this correctly.

Old sourceData:
``` { "name" : "Ashit", "address": "Bangalore", "email": "ashit@appsmith.com", "status": "Approved" } ```

New sourceData:
``` { "name" : "Ashit", "email": "ashit@appsmith.com", "created_date": "01/01/1970", "updated_date": "02/02/20

[2022-02-17 08:57] Nikhil-Nandagopal commented on #11159
@riodeuno yes and let the user regenerate from the current data if he doesn't like this config

[2022-02-17 09:23] somangshu commented on #10053
@dilippitchika @momcilo-appsmith we discussed this, and found that we are not able to find and example where the text area uses an icon. The current behaviour seems appropriate. Closing this for now

[2022-02-17 09:23] #10053 closed

[2022-02-17 09:27] somangshu commented on #10753
@sharat87 can you check this out please

[2022-02-17 09:31] Tooluloope commented on #9041
@somangshu is this for the App viewers pod?

[2022-02-17 09:35] Tooluloope commented on #10208
@momcilo-appsmith @dilippitchika What would be the right behaviour here?
Should we squash them together?

[2022-02-17 09:38] Tooluloope commented on #10926
#6492
#9603
Closing this is reference to the above issues

[2022-02-17 09:45] Tooluloope commented on #11185
There is an issue in the code inputted.
Changing the example structure would be fine

[2022-02-17 09:48] Tooluloope commented on #11111
@dilippitchika What would be the desired behaviour?

[2022-02-17 09:50] ashit-rath commented on #11159
Discussed solution:
- We would have a property at the form level called "Mode" which would be either set to `static` or `dynamic`.
   a. <b>Static mode</b> - In this mode, a button appears in the field configuration section "Generate config", which takes the
     source data and generates config out of it and any change in the source data would not trigger a re-generation of the
     config unless

[2022-02-17 09:51] ramsaptami commented on #11185
Can we replace the example with a working snippet as is the case with most other widgets?

[2022-02-17 09:59] #11174 closed

[2022-02-17 10:08] ramsaptami opened #11237 "[Bug]: Comment box on Git commit overlaps with other UI elements when box is expanded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Comment box on Git commit tab overlaps as seen in the video when the box is expanded.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9111b07bedcf4aa69ea39799144799aa-00001.gif)](https://www.loom.com/share/9111b07bedcf4aa69ea39799144799aa)

### Steps To Reproduce

1. Try to enlargen th

[2022-02-17 10:15] mojtab23 commented on #5005
This PR https://github.com/appsmithorg/appsmith/pull/11238 fixes item number 4 of this list, and after this PR is bing accepted we can close this issue.

[2022-02-17 10:35] somangshu commented on #10782
@Nikhil-Nandagopal Is the requirement to make the grid size same for container canvas and the main canvas?

[2022-02-17 10:49] #8700 closed

[2022-02-17 11:00] somangshu commented on #6488
This was basically a community request, But I havent heard much for it

[2022-02-17 11:06] somangshu commented on #11185
Since we are giving the copy button, we should do that, The message that both are accepted is anyways conveyed from the structure.

@Tooluloope we can take this forward

[2022-02-17 11:08] vuiets commented on #3317
### Meeting Notes
17 Feb 2022

Discussed
- `Users` can be invited to an instance and either assigned `Permission Groups` or invited into `User Groups`
- Multiple `Permission Groups` may be associated with a `User` or `User Group`
- Wireframes for `User Group` creation

Next steps
- Invite user flows @vuiets
- Wireframes for permission group creation @Debsourabh

[2022-02-17 11:10] somangshu commented on #10208
@Tooluloope we should consider this with the dynamic height, @riodeuno am I correct to say that, I say this because we can solve this after dynamic height

[2022-02-17 11:20] nidhi-nair opened #11240 "[Task]: Modify form/json migration to include S3 delete many"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Since the S3 plugin has had another command implemented before the form/json changes went in, that command will also have to be added to the migration.

[2022-02-17 11:21] nidhi-nair commented on #11240
I'll work on this once the other changes are done, since this is creating a redundancy for the migration task.

[2022-02-17 12:01] #10701 closed

[2022-02-17 12:09] ramsaptami commented on #7794
Reopening this since we no longer see an error but querying fails when using where clause on different datatypes
https://www.loom.com/share/6ba9dad97ee0470dbe67f4433b328316

[2022-02-17 12:10] #10077 closed

[2022-02-17 12:14] #10126 closed

[2022-02-17 12:19] #11224 closed

[2022-02-17 12:57] sharat87 commented on #10753
This is because our CSP  doesn't allow connecting to image URLs, `data:` or otherwise. But this is _release_ environment only, not production.

I can add this to the CSP to allow this, but I'm wondering why this was implemented in such a way. If the download button was a `download` link, something like this:

[code]

Then it would work without the need for whitelisting more things in the CSP right

[2022-02-17 12:58] sharat87 commented on #10753
Example of what I'm detailing in my previous comment:

![Screenshot 2022-02-17 at 18 26 47](https://user-images.githubusercontent.com/120119/154486444-5974ab84-cc9a-4676-b3f9-31f925acf620.png)

[2022-02-17 12:58] AnaghHegde commented on #3199
- After entering credentials and clicking save next unConfigured datasource should be selected and if none show a toast and redirect
- Design : DB Name should be at top
- Export, Fork and Delete on branch level
- Pull changes button enabled
- Create branch UX - similar to github

[2022-02-17 12:58] AnaghHegde commented on #3199
- After entering credentials and clicking save next unConfigured datasource should be selected and if none show a toast and redirect
- Design : DB Name should be at top
- Export, Fork and Delete on branch level
- Pull changes button enabled
- Create branch UX - similar to github

[2022-02-17 13:43] vivekverma2312 commented on #9245
@somangshu Tested and issue is reproducible, marking it as release blocker.

[2022-02-17 14:26] ramsaptami opened #11243 "[Bug]: Syntax error is displayed when table column name starts with numeric value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a table column name has a restricted keyword, debugger shows syntax error during computation

![image](https://user-images.githubusercontent.com/79509062/154490613-977b69c0-8444-46c9-9824-3a8184caa6fe.png)

![image](https://user-images.githubusercontent.com/79509062/154489619-f08d2dc4-ad

[2022-02-17 14:49] ramsaptami commented on #9245
I'm not sure if this is a regression that we saw recently. Seen this happen for quite sometime now

[2022-02-17 15:57] #11136 closed

[2022-02-17 16:38] #10267 closed

[2022-02-17 21:29] ClarksonCote commented on #5561
I'm having a similar failure right now in AppSmith, is there a chance this issue has cropped back up?

I get a "Plugin failed to parse JSON" message. I am trying to POST to graphql, and our method works fine in Postman but this error appears here. Presumably because it's parsing the graphQL statement as JSON instead of treating as raw.

[2022-02-17 21:47] ClarksonCote opened #11246 "[Bug]: Raw text getting parsed as JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to hit a POST endpoint to GraphQL. The GraphQL instance is designed to just accept a simplified query variation. This can be passed in Postman and the results are successful, however Appsmith appears to be trying to parse the text out as JSON, which is preventing a successful POST

[2022-02-18 03:44] IAmAnubhavSaini opened #11248 "[Task]: Update git connect modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Show notification banner on SSH key generation
- Remove BETA tag after Git Connection text in modal.

[2022-02-18 04:06] techbhavin commented on #10753
@sharat87  Here we were facing a CROS issue with 3rd party URL which has Disable CROS. so users can’t download images.

related issue [5764](https://github.com/appsmithorg/appsmith/issues/5764)

cc: @somangshu  @wmdev0808

[2022-02-18 04:09] RakshaKShetty opened #11250 "[Bug]: The remote URL details will be lost when user edit the git user config details before connecting to Git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The remote URL details will be lost when the user edit the git user config details before connecting to Git
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/71bef533c96a49eab1489661d3d13635-00001.gif)](https://www.loom.com/share/71bef533c96a49eab1489661d3d13635)

### Steps To Reproduce

[2022-02-18 04:33] sharat87 commented on #10753
@techbhavin Same problem. We are trying to load the image like an XHR, CORS will be denied, that's the default behavior. Since we actually don't do anything with the loaded data, a download link works best in my opinion. It'll work even if the image is an external URL, is a `data:` URL, is an Appsmith image URL, it'll work irrespective of CORS. Can we move to use that for the download link here?

[2022-02-18 05:14] abhvsn commented on #11250
Reassigning this to the concerned person as this is a client-side state management

[2022-02-18 05:22] somangshu commented on #10412
@Tooluloope I suggest we take this up internally. Maybe @keyurparalkar can help if you have too many issues assigned

[2022-02-18 05:25] vuiets commented on #10782
Yes @somangshu

Adding some context from @lublak from on Discord here

If you need a very small form it is very difficult to work in it.
You are almost working in pixels. I would find a larger grid easier to work with.
To place the elements perfectly you have to put a lot of effort into finding the perfect "pixel".
Image

[2022-02-18 05:30] nidhi-nair commented on #11246
Hey @ClarksonCote ! Quick question around the endpoint you're hitting. What content-type does it expect to work with? The standard GraphQL requests have a JSON, but this minified query seems like it could be plain text?

Also, could you please check if your Appsmith query has any content-type pre-filled? Please share the value from both the `Headers` tab on the API pane, and the `Logs` tab in the

[2022-02-18 05:31] techbhavin commented on #10753
agree with @sharat87,  we can continue with your suggestion

 @wmdev0808  can you plz continue with @sharat87 suggestion

[2022-02-18 05:40] somangshu commented on #10753
@techbhavin I suggest you take this up since you have worked on it before, I dont understand why this is in review right now, Moving it back to product backlog and assigning you

[2022-02-18 05:40] somangshu commented on #10753
@techbhavin please confirm with @wmdev0808 if there is a PR that exists already

[2022-02-18 05:48] somangshu commented on #9245
@ramsaptami Satish mentioned that this is working in the local dev.

Ill try and allocate some bandwidth to understand more.

[2022-02-18 05:49] somangshu commented on #9245
@ashit-rath if you have some bandwidth, can you try to find the root cause.

[2022-02-18 05:55] somangshu commented on #10126
@wmdev0808 is this fixed? This was not linked to any PR and hence the auto labelling did not happen, If we have fixed this we need to make sure we link all such issue to a PR, if its missed after closing we make sure to add the `QA` label to the issue

[2022-02-18 06:13] dschain opened #11252 "[Feature]: Increase drop-down box display speed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

**Release v1.6.10**
When there are more than 1000 records in the drop-down box, the display delay time is very long, more than 5 seconds. It is hoped that this function module can be improved and the use efficiency can be improved.

![image](https://user-images.githubusercontent.com/44538731/154627523

[2022-02-18 06:21] ramsaptami opened #11253 "[Bug]: Unable to launch local instance of Appsmith on Windows using docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Unable to setup Appsmith on local by following steps present on documentation found at link: https://docs.appsmith.com/setup/docker

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/79509062/154628877-3effb582-75db-499e-aa48-22662d04b1d8.png)
![image](https://user-im

[2022-02-18 06:28] wmdev0808 commented on #10126
@somangshu ,
It has already been fixed by PR [#10943 ](https://github.com/appsmithorg/appsmith/pull/10943).
I've linked to the PR

[2022-02-18 06:33] IAmAnubhavSaini opened #11254 "[Bug]: Broken app due to calling .filter() on element instead of array"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On dev.appsmith.com

![Screenshot-2022 02 18-11 50 27](https://user-images.githubusercontent.com/1573771/154629422-66a8f68f-f61b-43ed-aac1-6a927d1d90e8.png)
![Screenshot-2022 02 18-11 50 50](https://user-images.githubusercontent.com/1573771/154629419-168b1c18-055f-4b5c-9795-b52188903bce.png)

[2022-02-18 06:43] #11248 closed

[2022-02-18 06:58] #7976 closed

[2022-02-18 07:11] #11214 closed

[2022-02-18 07:11] #5005 closed

[2022-02-18 07:14] RakshaKShetty opened #11256 "[Bug]: The git action fails when multiple user perform action at a same time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The git action fails when multiple user perform action at a same time
![image](https://user-images.githubusercontent.com/45958978/154635132-85826c4c-ab5b-4607-a9e0-c8235f0269c3.png)
![image](https://user-images.githubusercontent.com/45958978/154635161-ea2d761d-8e5a-499d-a619-4f1815114f34.png)

[2022-02-18 07:39] IAmAnubhavSaini commented on #11237
I cannot reproduce it on linux on firefox and chrome.

It can be because of spell-check, or grammarly extension. But those things didn't affect the view on linux, in both the browsers.

Linux, chrome:
![Screenshot-2022 02 18-13 06 47](https://user-images.githubusercontent.com/1573771/154638975-f7dc2dfb-3d72-482d-820d-35d68361f589.png)

Linux, firefox:
![Screenshot-2022 02 18-13 07 11](https://user

[2022-02-18 08:13] riodeuno opened #11258 "[Bug] Filepicker data format is out of sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we switch the `fileDataType` property of the Filepicker Widget, the `files` property entries do not update their `data` property values. This causes the `fileDataType` and the actual data format to go out of sync and the Filepicker loses data integrity.

### Steps To Reproduce

1. Add a

[2022-02-18 08:14] nidhi-nair opened #11259 "[Bug]: Unable to use IN or ANY clause with prepared statements turned on for MySQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://discord.com/channels/725602949748752515/760761686549463060/941054952711806976

### Steps To Reproduce

Create a select statement using MySQL plugin

### Environment

Production

### Version

Cloud

[2022-02-18 08:15] rohan-arthur commented on #5236
closing this, we'll use https://github.com/appsmithorg/appsmith/issues/5183 to track this

[2022-02-18 08:15] #5236 closed

[2022-02-18 08:21] felixsuarez0727 commented on #10910
It has been suggested to reach out someone on the UI building pod... Possibly, someone with better understanding of the inner workings of the app to approve this action plan.

[2022-02-18 08:28] abhvsn opened #11260 "[Bug]: Eval is throwing type error for empty array"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we receive the empty array as a response from the API and if the same is bounded to table or list widget we are getting `Value does not evaluate to array` eval error.

### Steps To Reproduce
- Create DB query with no data
- Bind the data to table or list widget
- Check the error in eval

[2022-02-18 08:31] nidhi-nair opened #11261 "[Task]: BE coders pod charter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Simplify and extend the JTBD responses
- Classify into larger focus areas
- Clarify actionable items for long term goals
- Associate/disassociate to goals we have picked up in the short term

[2022-02-18 08:33] #6015 closed

[2022-02-18 08:35] Rishabh-Rathod opened #11262 "[Task] Get Report of worker time for evaluation for current golden app scenarios"
- evaluation worker browser metrics

[2022-02-18 08:36] #10700 closed

[2022-02-18 08:37] #10884 closed

[2022-02-18 08:37] Rishabh-Rathod opened #11263 "[Task] Generate report of all the evaluation processes"
### Sub Eval process
 - createFirstTree
 - updateTree
 - overAll evaluation log
### Post Eval process
 - updateAutoComplete - (tern log)

[2022-02-18 08:37] #10882 closed

[2022-02-18 08:38] #10883 closed

[2022-02-18 08:39] felixsuarez0727 commented on #11086
Been trying to reproduce the malformed json. The closest I've gotten is  this "mismatch" between what is presented on the form and what template.children registers.

1. Add two variable strings to the URL input. (00:09)
2. Save and check that the Dynamic variables appear. (00:23)
3. They don't appear on Fetch_Actions: template.children. (00:30)
4. Click "Save" multiple times. (00:45).
5. Re-run Fe

[2022-02-18 08:40] #5702 closed

[2022-02-18 08:41] Rishabh-Rathod opened #11264 "Performance metrics for evaluation"

[2022-02-18 08:42] hiteshjoshi opened #11265 "[Task] Integrate Admin API with admin settings page | FE"
- [x] OIDC API integration
- [ ] SAML API integration

[2022-02-18 08:46] AnaghHegde opened #11266 "[Bug]: Uncommitted changes shows up in the app even though user did not make any changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Connect an app to git and then open the app again after few days and notice un committed changes.
Even for the git import feature this is happening.

### Steps To Reproduce

Connect an app to git and then open the app again after few days and notice un committed changes.
Even for the git impo

[2022-02-18 08:46] abhvsn opened #11267 "[Feature] : Update directory structure for storing files in git repo to replicate the structure similar to application"
### Proposed directory structure:

application.json
metadata.json

**pages**
--Page1
----canvas.json
----queries
------Query1.json
----jsobjects
------JSObject1.json
--Page2
--Page3

**theme**
--editModeTheme.json
--viewModeTheme.json

**datasources**
--Datasource1.json
--Datasource2.json

**modules**
--queries
----Query1.json
--jsobject
----jsobject1.json

[2022-02-18 08:47] hiteshjoshi opened #11268 "[Task] Release the fat container for SAML"

[2022-02-18 08:48] hiteshjoshi opened #11269 "[Task] Licensing exploration"

[2022-02-18 08:49] IAmAnubhavSaini commented on #10708
#11018

1 Commit from #10727

[2022-02-18 08:49] felixsuarez0727 commented on #7934
In regards to this issue:
Old React is mixed with the new one (hooks), so it's a little tricky, and may cause future bugs.
The issue descriptions states that the expected solution is to have the Evaluated Value outside the response container. So if, for example, this situation happens:

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/37f6af73-ff92-4c3e-9b57-e2ae813bbfb5)

[2022-02-18 08:50] hiteshjoshi commented on #11232
Documentation for JWT tokens as well

[2022-02-18 08:51] AnaghHegde opened #11270 "[Feature]: Allow users to export, clone & fork application at branch level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

For the git connected application we should allow the users to export a specific branch changes.

### Why should this be worked on?

- Fall back mechanism incase the app is messed up due to bad commits and migrations

[2022-02-18 08:52] hiteshjoshi opened #11271 "[Docs] : Documentation for JWT tokens"

[2022-02-18 08:53] AnaghHegde opened #11272 "[Feature]: Provide option to delete branch with in the Application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Just like any git hosting provider we should allow the users to delete branch.

### Why should this be worked on?

Very basic and must needed feature for git
User will create multiple branches for testing developing branches and they would end up with stale branches

[2022-02-18 08:54] abhvsn opened #11273 "[Feature] Allow users to export, fork and delete applications for git branches"
Today users have access to default branched applications from the perspective of export, fork etc and not the branched applications for different git branches

[2022-02-18 08:54] felixsuarez0727 opened #11274 "[Improvement] Support of Oracle as a datasource (Exploratory)"
Supporting Oracle as a datasource has been getting some interest. While we want to prioritise this, finding a workaround is an option. We need to check if this is something worth investigating:

https://www.oracle.com/tools/technologies/faq-rest-data-services.html .

Or any other workaround that is easier to provide than to create a new Oracle datasource.

[2022-02-18 08:58] abhvsn commented on #11273
Closing as this is a duplicate of #11270

[2022-02-18 08:58] #11273 closed

[2022-02-18 09:00] hiteshjoshi opened #11275 "[Task] Wireframes closure"

[2022-02-18 09:01] AnaghHegde opened #11276 "feat: Revert commit option in the UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to revert a commit incase of breaking change or for recovering the lost changes when the resources are deleted by mistake.

### Why should this be worked on?

Allow users to revert a commit incase of breaking change or for recovering the lost changes when the resources are deleted by mista

[2022-02-18 09:03] hiteshjoshi opened #11277 "[Task] Polishing of JWT token as a feature."
- Includes bugs we will fix
- knit-picking for cleanup

[2022-02-18 09:06] nidhi-nair commented on #5709
Can be closed, not going with this implementation anymore.

[2022-02-18 09:06] #5709 closed

[2022-02-18 09:10] leotom2000 commented on #7794
Earlier it was throwing error on mixed datatype, the existing fix ignores inconsistent datatype values. Patches can be done to resolve this issue, but since it would make the common plugin codes messy, moving this issue to product backlog.
A new enhancement addressing many issues like this will handle this issue.
(Schema for unstructured databases like Google Sheets #10705)

This issue can be clos

[2022-02-18 09:11] AnaghHegde commented on #11272
@vuiets @Debsourabh We need design for this feature.

[2022-02-18 09:20] #5969 closed

[2022-02-18 09:25] somangshu opened #11278 "[Feature]: Table / Tabs widget property pane; List of columns - UX improvement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We noticed that the change we made for in #10046 to fix the long property pane filled with columns issues. Here the user was unable to drag the column tile outside the viewport to change the order. To fix this we introduced a scroll on the columns and limited it with a max-height. This solved majorly

[2022-02-18 09:36] Nikhil-Nandagopal commented on #10970
@cdoudet we're closing this as we're not able to reproduce it. Do let us know if you can help us with the steps

[2022-02-18 09:36] #10970 closed

[2022-02-18 09:38] Nikhil-Nandagopal commented on #11252
@dschain the dropdown isn't meant to handle this many records at once. You can enable server-side pagination to deal with large amounts of data in the dropdown and bind the search of the dropdown to show the rows that you need

[2022-02-18 09:38] #11252 closed

[2022-02-18 09:51] #10186 closed

[2022-02-18 10:30] aswathkk commented on #8845
### Update on 18th Feb
- @aswath will take a decision on whether to make the close button in the Icon selector’s search box keyboard accessible or not
- @vasanth-appsmith @momcilo-appsmith Think about a platform level design for contextually educating users
- We will not be fully making the date picker control keyboard accessible because of limitations in blueprints. We will make use of some other

[2022-02-18 10:31] riodeuno opened #11279 "[Feature]-[300]: Include data format (Base64/Binary) information in Filepicker widget's files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need a way to identify the data format of the `data` property in the entries of the `files` property in the filepicker widget.

### Why should this be worked on?

On many occasions, we find ourselves having access to only the `files` property, which doesn't have the information necessary to correct

[2022-02-18 10:35] eco-monk opened #11280 "[Bug]: Table column key error (starts with number)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a table column name starts with a number, it is not prefixed with `_`.
Therefore causing errors.
![image](https://user-images.githubusercontent.com/66776129/154666214-526a134e-3b24-4f97-a95a-d6c457de3f6c.png)

If the column name's first character is a number, we should prepend `_`. (Noti

[2022-02-18 10:37] jnikhila commented on #11094
@cokoghenun - as discussed earlier, we have to update the list widget video to incorporate the new headings, and add connect data button feature.

[2022-02-18 10:41] #8995 closed

[2022-02-18 10:56] Tooluloope commented on #11013
@leotom2000 Could you drop a video to help us understand how to reproduce this issue.

Thank you.

cc @wmdev0808

[2022-02-18 10:57] Nikhil-Nandagopal commented on #11038
@momcilo-appsmith thank you for writing this it looks great! I have a few points here
- Scroll and this property do seem to be related and if a user enables dynamic height, then scroll should be hidden
- Instead of having number of rows as a max height which a user has to guess, why not simply have a property "Enable Max Height" which sets the current height as the max height? This is easier for a

[2022-02-18 11:03] Nikhil-Nandagopal commented on #11260
@abhvsn this seems to be working. Can we get the actual response of the query here?

[2022-02-18 11:10] riodeuno commented on #11038
@Nikhil-Nandagopal
- We can extend height to a limit, after which the developer needs to decide whether the content is clipped (today's default), or content is scrolled. This is why I believe these are exclusive. How do you imagine this feature working in conjunction with scroll?

- Regarding the max height -- do you mean, something like "Use current height as max height"?

[2022-02-18 11:12] Nikhil-Nandagopal commented on #11038
@riodeuno I think my point is scroll will only come if there is a max height set otherwise it won't
Yes just like that "Use current height as max height". This makes it easier to configure than guessing what the UI might look like and what the correct max height value should be

[2022-02-18 11:46] pranavkanade opened #11281 "[Feature]: Redis - Add support for JSON.GET"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

JSON.GET doesn't work today, because our redis client actually has its own list of commands that it supports. This command, being from an external module, is not on that list. We'll need to see if there's a way to extend the command pool for custom commands

### Why should this be worked on?

User req

[2022-02-18 12:01] arunvjn opened #11282 "[Task] Cypress to test out the new URL structure"

[2022-02-18 12:03] hiteshjoshi commented on #1367
Close this duplicate of ##8636

[2022-02-18 12:05] hiteshjoshi opened #11283 "[Task] Communication about URL changes to existing users."
Valid for both cloud and self hosted.

This could just be a temporary popup box with message about new url formats and how they affect apps.

[2022-02-18 12:06] leotom2000 commented on #11013
![image.png](https://images.zenhubusercontent.com/61a0a7dfb7ec239be6d85573/39d442c3-5b82-4f67-b92d-04c741cd7b65)

This was an issue raised by a discord user, he has shared this image,
Please let know if this info is okay for us to test.
Else we need to ask for more info

[2022-02-18 12:09] hiteshjoshi opened #11284 "[Task] Resizable pages container | Entity explorer."
Typography changes.

[2022-02-18 12:15] Nikhil-Nandagopal commented on #11038
@riodeuno got the problem thanks for clarifying. My suggestion DX doesn't make sense then :)
Can we think of something better for this? Guessing the correct max width / height has always been one of my struggles as a developer. The UI always goes bonkers when I can't visualize what the worst case can look like

[2022-02-18 12:22] hiteshjoshi opened #11285 "[Task] POC for merging templates."
- This includes BE POC for merging template into existing applications.
- This also includes merging specific pages of a template into existing app.
  - requires checking if merging of one page is possible. (page dependency checks)

[2022-02-18 12:24] #10766 closed

[2022-02-18 12:45] eco-monk commented on #10520
@billyrudi, This is still a work in progress.
We'll get back to you on this, once we have a solution.

[2022-02-18 13:25] riodeuno commented on #11038
@Nikhil-Nandagopal Sounds good. I can relate to the inability to anticipate how a feature effects things at runtime. 😅

@momcilo-appsmith Any suggestions on a good UX here?

[2022-02-18 13:25] ClarksonCote commented on #11246
@nidhi-nair yes, in the header, we use (and the GraphQL expects) content type to be `application/json`  Using any other type will result in an error, despite the body here being plain text.

Similar to the resolved issue I linked to though ( #5561 ), it seems that there would be a desire to allow plain text to be passed even when the content-type specification is `application/json`?

![graphql-hea

[2022-02-18 13:54] ApekshaBhosale commented on #9368
our designs have chnaged. so closing this @rohan-arthur

[2022-02-18 13:57] #10601 closed

[2022-02-18 14:01] vuiets opened #11286 "[Task] Missing analytics events for Git Sync"
There are a few missing FE events

For Connect funnel
* ‘Connect Git’ event for bottom bar click
* ‘Commit and Push’ button click event on Deploy modal
* ‘Last Deployed Preview’ click on Deploy modal

For Deploy funnel
* ‘Commit and Push’ button click event on Deploy modal
* ‘Last Deployed Preview’ click on Deploy modal

For Create Branch funnel
* Open branch popup event from bottom bar click on a

[2022-02-18 15:19] micahgrinnell opened #11288 "[Bug]: Different responses from two queries with identical evaluated value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Here is my SQL query that is causing me trouble. It pulls items from an inventory Postgres database that match the MFGPartNumber and Condition Value.
[code]
Here is its evaluated value:
[code]
**When run, nothing is returned:**
![appsmith_noresponse](https://user-images.githubusercontent.com/

[2022-02-18 19:27] cokoghenun commented on #11094
Sure @jnikhila

[2022-02-18 21:44] micahgrinnell commented on #11288
I tried turning off Prepared Statements as I saw in https://github.com/appsmithorg/appsmith/issues/11259. Now the code runs, but I would still like to get this resolved.

[2022-02-19 06:26] #11170 closed

[2022-02-19 06:58] joelgaribaygz commented on #1647
Any news about this feature?

I'm very interested in testing, as I have clients that use Firebase Realtime as databases for their apps and having this feature we can achieve impressive webapps!

[2022-02-19 14:37] AjRadwan opened #11291 "[Docs]: Enhancing UI For Docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/datasource-reference/querying-google-sheets

### Describe the problem

Can we work on enhancing the UI for this
I know it looks ok and it's fine but It can be improved

![image](https://user-images.githubusercontent.com/43091820/154805339-ab81df45-04fd-4ee1-899c-4e

[2022-02-20 09:32] DeanMann commented on #7507
I am also using a barcode scanner in the same way and experiencing the same problem. I can confirm that rapid typing using a manual keyboard input can reproduce this issue

[2022-02-20 12:43] eco-monk opened #11292 "[Feature]: modal params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The ability to pass params while opening a modal.
https://docs.appsmith.com/framework-reference/show-modal#signature

Similar to action params.
https://docs.appsmith.com/framework-reference/run#signature

### Why should this be worked on?

example use-cases:
Pass an object based on which a form is pre

[2022-02-20 13:06] eco-monk commented on #2282
Adding to this.
For users developing internal tools which typically have a workflow. Hierarchical pages, in a manner of speaking.
Having the ability to configure navigation as breadcrumbs could come in handy.

[2022-02-20 13:26] eco-monk opened #11293 "[Feature]: grid list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

![image](https://user-images.githubusercontent.com/66776129/154844606-97e4c361-2304-490d-b7cf-fb7ebd87024f.png)

### Why should this be worked on?

To use in cases where grid list makes for a better UI. Instead of a vertical list/table.

[2022-02-20 13:55] MichaelLeeHobbs opened #11294 "[Bug]: Pressing enter submits the form without password confirmation on the welcome screen for self hosted instances"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When logging in for the first time enter a password with out a confirm password and hit enter. This bypasses the confirm password.

### Steps To Reproduce

When logging in for the first time enter a password with out a confirm password and hit enter. This bypasses the confirm password.

### E

[2022-02-20 14:07] eco-monk opened #11296 "[Feature]: conditional layouts/containers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Defining layouts/widgets to be shown based on a specific condition.
(I'm using the tab container as it is convenient to demonstrate.)
![Screen Recording 2022-02-20 at 19 31 15](https://user-images.githubusercontent.com/66776129/154846405-d9fdbf3e-9dec-45ce-8b06-8c98140f36dd.gif)

But the idea is, for

[2022-02-21 05:25] ramsaptami commented on #9845
Unable to repro this even after removing the nested binding hence closing this issue

[2022-02-21 05:25] #9845 closed

[2022-02-21 05:42] #10686 closed

[2022-02-21 06:14] nidhi-nair commented on #11246
Ah I see. The issue and PR (#5561 and #5642) are actually a solve for exactly this issue, but for the responses returned from the APIs. Let me talk about this within the team and figure out what amount of validation we can get away with for this content-type.

[2022-02-21 06:45] #11132 closed

[2022-02-21 06:45] #11099 closed

[2022-02-21 06:45] #10513 closed

[2022-02-21 06:45] #11054 closed

[2022-02-21 06:48] danciaclara opened #11299 "[Bug]: List widget page size incorrect in certain situations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The issue is shown in the attached video.

The list widget has incorrect page size for certain height settings.  This leads to weird behaviour when using server-side pagination. For eg. If there is a simple query pulling records from DB. In total there are 4 records. It only shows 3 records i

[2022-02-21 06:48] Nikhil-Nandagopal commented on #11288
@micahgrinnell agreed we should solve this. I'm closing this issue as this will be solved in #11259

[2022-02-21 06:48] #11288 closed

[2022-02-21 07:00] Nikhil-Nandagopal commented on #11294
Hi @MichaelLeeHobbs we don't have a confirm password field while signing up so I don't understand this issue. Could you please add more details

[2022-02-21 07:06] Nikhil-Nandagopal commented on #11293
@eco-monk this seems similar to #7256  so closing this in favor of that

[2022-02-21 07:06] #11293 closed

[2022-02-21 07:08] Nikhil-Nandagopal commented on #11296
@eco-monk I believe this is possible using the tab widget. You can set the default selected tab and hide the tabs to achieve this
https://docs.appsmith.com/core-concepts/dynamic-ui/widget-visibility#dynamic-forms

[2022-02-21 07:08] #11296 closed

[2022-02-21 07:08] somangshu commented on #11299
@ashit-rath can you take a look at this. The container height is what I felt what was causing the problem here. The way we calculate the page size is not appropriate and hence the query is pull different number of rows for the user.

[2022-02-21 07:10] Nikhil-Nandagopal commented on #11292
@eco-monk this can be achieved by storing the current params as
{{ storeValue('modalParams', { mode: "edit" }).then(() => showModal('Modal1')) }}

[2022-02-21 07:24] YogeshJayaseelan opened #11301 "[Bug]: Table filter pane header texts breaks when the filter pane is moved to extreme right side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that when the table filter pane is moved to the extreme right the filter pane header text 'Change column data type to see filter operations' breaks and give bad UI

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/409fcbcc0fdd4d4eafb85c5d824bed57-00001.gif)](https://www.lo

[2022-02-21 07:27] ApekshaBhosale commented on #10717
@ramsaptami is this still happening? if not, can we please close this?

[2022-02-21 08:21] kocharrahul7 opened #11302 "[Type]-[6000]:Templates Phase 2"
### Objective

The objective of phase 2 is to enhance the existing template reach from just making these apps forkabe and accessible  within Appsmith to truly integrating them. To achieve this, we have identified the following key areas where we can implement new user flows to make templates and more effective:

- Allowing the user to access templates from within the canvas, allowing them to add/m

[2022-02-21 08:22] nidhi-nair opened #11303 "[Bug]-[6500]:Inconsistency in naming actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When creating an action from the new queries/js navigation, the actions are called `Query1`. When creating them from the datasources, they're called `Api1` in some cases (when the integration is not a DB). We should follow the same rules of nomenclature.

### Steps To Reproduce

https://user-

[2022-02-21 08:27] Nikhil-Nandagopal commented on #1647
@joelgaribaygz we don't have this on our roadmap yet because we haven't heard of too many other requests for this feature

[2022-02-21 08:54] chandannkumar opened #11305 "[Bug]: Discrepancy in record count of List widget on Browser refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

List widget is bind with SQL query and should populate the exact record coming from query.
But here every time we refresh the browser it is observed that there is a loss of 1 record untill page changes in List widget
Video:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/4ca748f9e3e0434

[2022-02-21 08:58] Nikhil-Nandagopal commented on #10172
Closing this since we haven't see in in awhile

[2022-02-21 08:58] #10172 closed

[2022-02-21 08:58] Nikhil-Nandagopal commented on #11291
@AjRadwan we use gitbook and so aren't in control of the documentation UI directly but thank you for your feedback!

[2022-02-21 08:58] #11291 closed

[2022-02-21 09:07] chandannkumar opened #11306 "[Bug]: Different shades of same color in List widget appears for different items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Items background color for 1st item has correct color shade but all other items have light color which doesn't match with the color selected by user

![image](https://user-images.githubusercontent.com/95341241/154923291-fde6a07e-673a-4599-b48e-c5194060c5ec.png)

### Steps To Reproduce

1. Add

[2022-02-21 09:08] somangshu commented on #11305
This exists in prod too. This is not a regression / release blocker. We have already created this issue based after a user reported in on discord. We know the problem here and are not working towards a resolution. #11299

[2022-02-21 09:08] #11305 closed

[2022-02-21 09:18] somangshu commented on #11306
This is intended for the edit mode, Please check the view mode

[2022-02-21 09:18] #11306 closed

[2022-02-21 09:23] Imtinan1996 commented on #11137
alright, will have a look at it, thanks!

[2022-02-21 09:26] somangshu commented on #11280
@sbalaji1192 can you tell us if we are talking care of this already or in v2, IN that case please close this issue and mention it on the table v2 epic

[2022-02-21 09:40] Nikhil-Nandagopal commented on #11137
Do let us know if this is still a problem for you!

[2022-02-21 09:41] nidhi-nair commented on #7113
Another scenario that cropped up for this:
<img width="986" alt="Screenshot 2022-02-21 at 3 11 05 PM" src="https://user-images.githubusercontent.com/5298848/154928833-cfaf8a52-63f2-4bb7-b53e-897052b77b8d.png">

[2022-02-21 09:42] rohan-arthur commented on #10814
@Nikhil-Nandagopal the link for steps to reproduce doesn't work anymore. Would you please describe the issue again?

[2022-02-21 09:52] hreeder commented on #3313
a 👍  from me on this request too. My use case is connecting to larger scale backend systems which already have constraints in place on what can be requested based on the current user. In the current implementation where OAuth is tied to the developer's identity, this means that our backend would only show results which the developer can access.

[2022-02-21 09:56] Nikhil-Nandagopal commented on #3313
Hi @hreeder 👋
Actually, this feature is primarily for SAAS integrations like google sheets. If you're working with a backend and want to authenticate your users based on some OAuth / OIDC / SAML mechanism, you can reach out to us for our commercial edition which supports this today!

[2022-02-21 10:01] rohan-arthur commented on #9268
design https://www.figma.com/file/X03G0OsEtvH9JHDhU8XREy/JS-Editor-Improvements?node-id=1082%3A61878

[2022-02-21 10:13] hreeder commented on #3313
Hey @Nikhil-Nandagopal
This feature makes sense - are you referring to authenticating users to Appsmith with OAuth/OIDC/SAML which is already implemented in enterprise, or API requests using per-user OAuth to a backend API (I say backend system meaning other SaaS platforms my team already makes use of here)

[2022-02-21 10:19] ramsaptami commented on #8502
Bumping this to release blocker since it causes more confusion than before now that we have the new entity explorer design.

https://www.loom.com/share/84ff7c274a05495ebd968a3cebd08005

[2022-02-21 10:20] somangshu commented on #9367
@prsidhu can you think of a solution here?

[2022-02-21 10:24] prsidhu commented on #9367
@somangshu yeah I'll take it up.

[2022-02-21 10:25] abhvsn opened #11308 "[Bug]: All the resources present in DB should be soft deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently, there are some inconsistencies in how we delete the resources in Appsmith, to name a few
1. When we delete the action individually and then publish the application it will be hard deleted from DB but for delete application this is soft deleted.
2. actionCollections are not at all g

[2022-02-21 10:27] somangshu commented on #9227
We can see that the grouping goes away as soon as a widget is selected, This seems like it was intended.

[2022-02-21 10:28] somangshu commented on #9227
@rahulramesha can you tell me if that is the case, Please close the issue in that case?

[2022-02-21 10:30] somangshu commented on #9477
Mostly fixed after design system updates on the entity explorer

[2022-02-21 10:30] #9477 closed

[2022-02-21 10:45] eco-monk commented on #11296
Ahhhh, thanks.! I didn't know that was possible.

[2022-02-21 10:48] ashit-rath commented on #2504
Actionables:
- Discussion to remove __original_index__ from the Table selectedRow property @sbalaji1192
- Modify the implementation of the fixed footer @ashit-rath
- Design for the form mode @vasanth-appsmith @dilippitchika
- Implementation of the form mode @ashit-rath
- Discuss support for non-ASCII characters @ashit-rath @sbalaji1192
- Collapse the style sections in property pane @ashit-rath
- Q

[2022-02-21 10:54] eco-monk opened #11310 "[Bug]: filter un-necessary global autocomplete items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

e.g. latLong, dropdownOption, chartData etc...

<img width="314" alt="image" src="https://user-images.githubusercontent.com/66776129/154941316-54163b09-63fa-4791-a055-8bec12179701.png">

### Steps To Reproduce

1. Open a JS binding {{}}
2. type `latLong`, `chartData` etc...
3. These are not e

[2022-02-21 10:58] ashit-rath opened #11311 "JSON Form - modify fixed footer implementation."

[2022-02-21 10:58] ramsaptami commented on #10717
Closing this since the error is not appearing anymore

[2022-02-21 10:58] #10717 closed

[2022-02-21 11:02] ramsaptami commented on #11083
Issue has been fixed hence closing it

[2022-02-21 11:02] #11083 closed

[2022-02-21 11:23] abhijit-motorq opened #11314 "[Bug]: Unable to import application with json file size > 1MB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I export an application and the json file is greater than 1MB, I get `undefined is not an object (evaluating 'n.status')` when I try to import the json file as an application. From the developer tools, I found out the requests failed with HTTP error 413. The import is working fine for js

[2022-02-21 12:00] chandannkumar opened #11315 "[Bug]: Icon widget's appearance changes when added whitespace in Button variant"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After enabling JS for icon widget button variant, if we add a space after button variant options, the outer layer of the icon widget gets disappear. Observe in the video
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/37ac2c819c614051a3826c7a14ad2eab-00001.gif)](https://www.loom.com/sha

[2022-02-21 12:14] ramsaptami opened #11316 "[Bug]: Only specific row entries are getting selected on a table after having renamed columns using ASCII"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

All entries of a row are not getting selected on hover or click after having renamed the column using ASCII

https://release.app.appsmith.com/applications/62136f25569e485be9f42613/pages/62136f25569e485be9f42617/edit

### Steps To Reproduce

1. Go to app at link https://release.app.appsmith.co

[2022-02-21 12:19] YogeshJayaseelan opened #11317 "[Bug]: Button group widget and Menu widget accepts duplicate options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It is observed that the button group widget accepts duplicates button and the menu button widgets also accept duplicate menu button

<img width="1680" alt="Screenshot 2022-02-21 at 5 22 21 PM" src="https://user-images.githubusercontent.com/35128442/155266382-e1dbdbb7-0d52-4be8-9356-f6c482a060

[2022-02-21 12:22] shwetha-ramesh opened #11318 "[Bug]: App viewer rights user able to see Admin's General & Members page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User with app viewers right can see General & Members page of a different user when url is copy pasted to a different browser (refer video for walkthrough of steps)

https://loom.com/share/6734e316f5c446d1855dda5b7ec3a6d5

https://loom.com/share/e86f19a7113d4a7084fb1730f530636f

### Steps To

[2022-02-21 12:49] Nikhil-Nandagopal opened #11320 "Could not find doc for REST API"

[2022-02-21 12:53] dilippitchika commented on #11316
@ramsaptami can you invite demo@appsmith.com to your app? I am not able to access it

[2022-02-21 13:13] mohanarpit commented on #9339
In the latest version of Appsmith, this issue is back again. We seem to have regressed.
![404-appsmith-image](https://user-images.githubusercontent.com/458946/154962180-556f2170-2783-4835-847e-011d913ddf7f.jpg)

[2022-02-21 13:13] Nikhil-Nandagopal commented on #3313
@hreeder Yes I meant the SAML / OIDC one. There you can then forward the JWT token as part of your own API calls if you are using this in your own custom backend. If you are using other SAAS platforms. Could you tell me which ones are you using that need this feature?

[2022-02-21 13:19] ramsaptami opened #11321 "[Bug]-[5000]:Email address field should be in edit mode when share modal is opened up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently, a user needs to manually click on the input box to enter email address when the share modal pops-up. Would be better UX if the input box is already on edit mode so user can start typing if needed.

### Steps To Reproduce

1. Click on share pop-up and observe the input box needs to

[2022-02-21 13:26] hreeder commented on #3313
ServiceNow is the main platform that comes to mind where having this functionality would be helpful. That said, interacting with GitHub would also be an interesting avenue for this feature as well.

[2022-02-21 14:10] ramsaptami commented on #11316
Given the user permissions, please check now

[2022-02-21 15:19] ramsaptami opened #11322 "[Bug]: GSheet query occasional sends only partial sheet name causing an error, re-running the query results in a successful call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There are times when Google Sheets query does not pass the entire sheet name during query run and this causes a parse error and re-running the same query without modifications works fine.

https://www.loom.com/share/69829d86c73f45c0a21048c4c0434eec

### Steps To Reproduce

1. Remove sheet nam

[2022-02-21 16:13] Nikhil-Nandagopal commented on #3313
@hreeder That's really interesting! Doesn't service now have it's own internal tool platform. I'd love to learn about why you're integrating ServiceNow with Appsmith. Would you be available for a quick chat? This is my Calendly below
https://calendly.com/appsmith-nikhil/30min?back=1&month=2022-02

[2022-02-21 16:16] Nikhil-Nandagopal commented on #10814
@rohan-arthur
<img width="1135" alt="Screenshot 2022-02-21 at 9 46 01 PM" src="https://user-images.githubusercontent.com/3897254/154992458-40af91bb-3a4f-4175-b692-48fe4245f53c.png">

[2022-02-21 16:17] Nikhil-Nandagopal commented on #11314
@abhijit-motorq is it possible to share a sample JSON that we can try?

[2022-02-21 16:25] hreeder commented on #3313
Dropped in a slot via Calendly, looking forward to talking with you :)

[2022-02-21 16:39] abhijit-motorq commented on #11314
[Archive.zip](https://github.com/appsmithorg/appsmith/files/8110864/Archive.zip)
This contains both working and failing json files.

[2022-02-21 17:31] felixsuarez0727 commented on #11274
**TL;DR:**

- As of now, there are ways to get data from an Oracle database that do not require a new DataSource (see below) . This option would require a setup and development from users. It is not hard to set up, but requires thoughtful design decisions.
    - Oracle REST Data Services
    - Dream Factory
    - OpenLegacy Oracle API
- Working on a plugin (like Twilio) could make it easier for ou

[2022-02-21 18:48] aswathkk commented on #11079
This is happening even if we resize the property pane. Looks like some issue with the canvas

[2022-02-21 20:43] felixsuarez0727 commented on #11086
Reopening... (Closed by mistake)

[2022-02-22 01:53] abhijit-motorq commented on #11314
[Archive.zip](https://github.com/appsmithorg/appsmith/files/8113024/Archive.zip)

I have attached both import working and failing json files.

[2022-02-22 04:00] dilippitchika commented on #11316
Fix is being done as part of - https://github.com/appsmithorg/appsmith/issues/4354
Will be fixing this after adding the logic to modify hover colors.

[2022-02-22 04:04] abhvsn opened #11327 "[Bug]: Map correct collection ids for onPageLoad actions during import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we try to export-import the application with onPageLoad action from actionCollection, imported applications onPageLoadActions `collectionsId` is not getting mapped correctly

### Steps To Reproduce

1. Create JSObject with body
[code]
2. Attach a binding to table widget `{{JSObject1.getD

[2022-02-22 05:06] leotom2000 commented on #11013
![image.png](https://images.zenhubusercontent.com/61a0a7dfb7ec239be6d85573/7a0d1e85-a094-4c07-871e-373fcfa9ce36)

[2022-02-22 05:49] arunvjn opened #11329 "[Task] Club application and pageList API"
Today, we have 2 APIs, one to fetch the application details and another one to fetch list of pages.
fetchApplication - "/v1/applications/:applicationId" && "/v1/applications/view/:applicationId".
fetchPageList - "/v1/pages/application/:applicationId" && "/v1/pages/view/application/:applicationId"

They are always called together and can be clubbed into one API. The clubbed API should either accept

[2022-02-22 05:52] chandannkumar opened #11330 "[Bug]: "Reset on submit" is not working in Input Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After adding some input and submit (press enter), the old text is not getting removed even if Reset on Submit option is Enabled
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/bb306428e45341b3a7900bcd522b9353-00001.gif)](https://www.loom.com/share/bb306428e45341b3a7900bcd522b9353)

###

[2022-02-22 06:46] sbalaji1192 commented on #11280
@somangshu This is taken care of in Table V2. Hence closing this.

[2022-02-22 06:46] #11280 closed

[2022-02-22 06:47] #9443 closed

[2022-02-22 06:55] ashit-rath commented on #11299
@danciaclara The loom video that you shared, seems to have the server-side pagination disabled. I was able to reproduce just like your loom video but with server-side enabled it seems to work fine.
Can you provide some more context or steps to reproduce with the server-side enabled?

[2022-02-22 06:57] danciaclara opened #11332 "[Bug]: List widget - When using pagination, no way to go back to previous page after reaching last page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using server-side pagination on the list widget, if you click on the Next button after the last page with data, it shows "No data to display" and then there is no way to go back to the previous page and the list widget stays stuck on the no data page.

Uploading Screenrecording_20220222_

[2022-02-22 07:09] Pranay105 opened #11334 "Update form widget doc"

[2022-02-22 07:10] Pranay105 opened #11335 "Update chart widget doc"

[2022-02-22 07:29] Imtinan1996 commented on #11137
@Nikhil-Nandagopal just wanted to inform you that changing the env variable didnt solve the issue

[2022-02-22 07:31] Aishwarya-U-R opened #11337 "[Bug]: Exporting App creates a Copy of one of the pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/92d8fb96c5e341dcb0ca2ace04a2c8b4-00001.gif)](https://www.loom.com/share/92d8fb96c5e341dcb0ca2ace04a2c8b4)

### Steps To Reproduce

1. Select an application with more than one pages in app.appsmith
2. Export the application
3. Import the sa

[2022-02-22 07:42] yatinappsmith commented on #11337
This issue would happen clone page takes a lot of time

[2022-02-22 07:42] #11337 closed

[2022-02-22 07:52] IAmAnubhavSaini commented on #10844
@RakshaKShetty DP: https://appsmith-5t8qvpv7n-get-appsmith.vercel.app/ Please test

[2022-02-22 07:57] nidhi-nair commented on #11322
This is actually happening because the run call is made before the evaluation for the last edit has completed. @AmanAgarwal041 IIRC, you were investigating something along these lines? Do you know if this is fixable?

[2022-02-22 08:12] rahulramesha commented on #10442
Remaining Actionables,
- Investigate further performance improvements.
-Add Jest tests.

This will be moved into review and QA this week, cc @vivekverma2312.

[2022-02-22 08:15] aswathkk opened #11338 "[Task]: Make the property pane header section keyboard accessible"
<img width="287" alt="Property pane header" src="https://user-images.githubusercontent.com/10436935/155090137-041f0f7e-a744-4fbf-9f5e-b21f474b89ed.png">
The scope of this issue is to make the following components from property pane header keyboard accessible:

- copy button
- delete button
- "connect data" button
- Learn more link
- Incoming & outgoing entities dropdown

[2022-02-22 08:20] IAmAnubhavSaini commented on #11237
Reproducible on Mac.

Mac, chrome:

https://user-images.githubusercontent.com/1573771/155090011-aef34c2c-042e-4720-88f2-2b277b6cdde1.mov

Mac, firefox:

https://user-images.githubusercontent.com/1573771/155091047-3b0cf8e7-ac27-45cb-87e2-0d009dafc586.mov

[2022-02-22 08:25] ramsaptami commented on #11237
Looks like Windows and Mac systems have this issue

[2022-02-22 08:34] momcilo-appsmith commented on #11038
Adding screenshots to demonstrate the experience we want to create
![image](https://user-images.githubusercontent.com/81744497/155093321-1a7f7e0d-ffde-4a06-8cf7-d4bcc49ecfec.png)
![image](https://user-images.githubusercontent.com/81744497/155093343-4c33ac63-a68f-428e-bb79-931cdad9e94d.png)
![image](https://user-images.githubusercontent.com/81744497/155093382-57be2d60-0356-4244-800f-ba3513ce4e05.pn

[2022-02-22 08:42] RoopKrrish9696 commented on #9661
**Templates Design QA feedback based on DP https://appsmith-2451ltc62-get-appsmith.vercel.app/templates : cc @kocharrahul7 @Parthvi12 @akash-codemonk**

1. In the tooltip notification - the arrow is missing
2. The left panel filters have missing left padding in the templates tab
3. Fork button is not in circle in small cards
4. Close button size can be increased in the filters panel and also in th

[2022-02-22 08:43] #11074 closed

[2022-02-22 08:43] #11081 closed

[2022-02-22 08:55] ankitakinger commented on #7299
Fixed already

[2022-02-22 08:55] #7299 closed

[2022-02-22 08:55] jnikhila commented on #10721
First draft available on [google doc.](https://docs.google.com/document/d/1Ed1p6EPhIgxe9keTjesUk4AsJ_H1UAt0qAtFqQ0rkuY/edit?usp=sharing)

[2022-02-22 08:56] jnikhila opened #11340 "Tooltip - Container widget"

[2022-02-22 09:00] jnikhila commented on #11340
[A notion page added to capture the tooltip text for container widget.](https://www.notion.so/appsmith/Container-Widget-d2a081eea2d545c386db5d520158db7c)

[2022-02-22 09:38] jnikhila commented on #11340
Tooltip text updated for container widget.

[2022-02-22 09:53] Aishwarya-U-R commented on #11337
To be fixed as part of fix for - https://github.com/appsmithorg/appsmith/issues/11139

[2022-02-22 09:54] RakshaKShetty commented on #10950
1.The Import from file icon is broken in import application modal
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/155093018-b83091ee-b29f-4b23-99d1-6618725330e4.png">
2.when user import json application the reconnect application button is displayed
3.If there are 2 datasource that needs to be authenticated and if the user authenticated one datasource the other

[2022-02-22 09:54] ApekshaBhosale commented on #11104
Backend change needed for this https://github.com/appsmithorg/appsmith/issues/11327

[2022-02-22 10:21] somangshu commented on #10125
@wmdev0808 please verify and close this is already resolved

[2022-02-22 10:22] rohan-arthur commented on #4559
V1 scope: https://www.notion.so/appsmith/Sequencing-Tasks-for-UQI-epic-831ed68a652140c696e9535300673860

1. [Implementing components](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/board?epics=Z2lkOi8vcmFwdG9yL0VwaWMvNzEzNzc0&labels=uqi%20components) in ~~datasource and~~ query forms, that can be used by the app developer
    1. Timeline - 23 Feb 2022
    2. form to json

[2022-02-22 10:30] ramsaptami opened #11346 "[Bug]: Navigating to home page before an app on view mode loads causes any errors triggered during page load to appear on home page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When an app page takes long to load and user navigates to the home page before the page loads, then any errors that should show up inside the app starts showing up on the home page.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/8091b25d5aec45d988832a8b4f82b5db-00001.gif)](https://www

[2022-02-22 10:30] wmdev0808 commented on #10125
@somangshu ,
This issue has already been fixed by the [PR](https://github.com/appsmithorg/appsmith/pull/10943).
I've verified that.

[2022-02-22 10:30] #10125 closed

[2022-02-22 10:35] hetunandu opened #11347 "[Bug]: Pasting an async function does not mark it as async till an edit is done"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://user-images.githubusercontent.com/12022471/155114822-47bec491-5a42-4e7e-a89c-a8a5c8a48bd8.mov

https://user-images.githubusercontent.com/12022471/155114858-54cd6e62-707f-44f1-be13-c35c687c46a5.mov

### Steps To Reproduce

Copy/cut an async function and paste it in the JS Editor

### E

[2022-02-22 10:44] hetunandu commented on #9782
This issue is to do with the confusion regarding returning of promises. Hence renaming it.

[2022-02-22 10:54] jnikhila commented on #10721
@cokoghenun - As discussed, we'll need a video for container widget. Just a thought, as the container widget is more like a placeholder, if you create an app around it, it'll be beneficial for users.

[2022-02-22 11:39] vibhandikyash commented on #7259
https://images.zenhubusercontent.com/275993885/7c1f4dce-4f11-45d1-909f-6eb45c15146a/screen_recording_2022_02_22_at_5_07_57_pm.mov
Here, because clicking on the select display the functionality... Dragging is not possible but the label part is draggable for both the widget.
@dilippitchika @somangshu Any comments?

[2022-02-22 11:55] ankitakinger opened #11349 "[Task]: Update restart server banner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Update restart server banner failure message to:
"This seems to be taking longer than usual. Please wait a little while further or contact your administrator.“

Designs:
https://www.figma.com/file/68AfRvev6NkcPFFUamsAq3/SSO%2FSAML?node-id=265%3A1791

[2022-02-22 12:03] pranavkanade opened #11350 "[Bug]: resetWidget does not work for FilePicker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`resetWidget` fails to clear selected files in the file picker.

### Steps To Reproduce

Select a file and try to clear the widget.

### Environment

Production

### Version

Cloud

[2022-02-22 12:15] nidhi-nair commented on #11243
Seems to be an issue with how the table widget handles column names in computed value. The dot notation breaks for columns that start with a numeric literal (like `123_col`). The computed value would have to user square bracket notation instead (like `{{ currentRow["123_col"]`).

[2022-02-22 12:19] rohan-arthur commented on #9269
updated requirements in #9628

[2022-02-22 12:19] rohan-arthur commented on #9268
requirements derived from old conversation in https://github.com/appsmithorg/appsmith/issues/9269#issuecomment-1003015660

### Updated Requirements
_Note_: there are competing schools of thought whether to use spaces or tabs for indentation, and again about how many spaces/tabs for each level of indentation. Since the JSEditor already has the indentation facility partially working, we will stay wi

[2022-02-22 12:37] ApekshaBhosale opened #11351 "[Task] : Split dataTree for eval"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As we know we have a dataTree which holds all properties and evaluated values. As part of the performance improvement we can make split this dataTree into `dataTree` and `entityConfig` -
 1. `DataTree` - which has evaluated values and paths which actually needs evaluations
 2. `entityConfig` - this w

[2022-02-22 12:41] rohan-arthur commented on #9268
need to discuss this further

[2022-02-22 13:21] ramsaptami opened #11354 "[Bug]: Datasources page has different URLs for each different way a user lands on this page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Datasources page shows a different URL for each different way the user lands on the page

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/b9ac858b4ec4436d939b5050187f46d8-00001.gif)](https://www.loom.com/share/b9ac858b4ec4436d939b5050187f46d8)

### Steps To Reproduce

1.  Go to `show al

[2022-02-22 13:27] techbhavin commented on #9733
@shwetha-ramesh  Looks like this issue has been fixed.

 I can’t create this issue in PROD.  can you please test it again?

cc: @somangshu  @Tooluloope

https://user-images.githubusercontent.com/58818598/155140954-05e90f58-738f-4599-b607-6333267e0c0f.mov

[2022-02-22 14:39] ashit-rath opened #11358 "JSON Form - Collapse style section and move actions to the top"

[2022-02-22 14:42] Nikhil-Nandagopal commented on #11299
@ashit-rath page size should work for both cases right?

[2022-02-22 14:47] mojtab23 commented on #11137
@Imtinan1996 We are working on it. We will notify you when we found the soloution.

[2022-02-22 14:49] Nikhil-Nandagopal commented on #11350
Oh wow this re-opened again. @somangshu @dilippitchika @vivekverma2312 can we please fix this once and for all. This has happened multiple times

@pranavkanade can you please share an app that can reproduce this?

[2022-02-22 14:52] ashit-rath commented on #11299
@Nikhil-Nandagopal Yes, for both cases the pageSize would change with the change of the height of the widget and item spacing.

[2022-02-22 15:36] msdrigg commented on #2430
Also +1 to including supabase client in appsmith js libraries list

[2022-02-22 16:34] Aishwarya-U-R opened #11359 "[Task]: Develop the test scripts for Migration scenarios validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-02-22 16:42] Nikhil-Nandagopal commented on #2430
@msdrigg is there any reason you don't want to connect to supabase directly with the postgres integration?

[2022-02-22 17:32] msdrigg commented on #2430
I am interested in the authentication and signup flows. Their js client makes these flows very simple and easy.

[2022-02-22 23:36] areyabhishek opened #11361 "[Feature]: Deploy without committing to git repo everytime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I remember seeing a discussion about this on Figma, but I couldn't find the issue for it.
1. Today users need to commit every change to their repo
2. It adds an extra step to someone who is building and testing their app in rapid succession
3. Can we add a way to deploy to the URL without needing to u

[2022-02-23 02:59] danciaclara opened #11363 "[Bug]: Mobile responsiveness not supported in fluid width when app is embedded in iframe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

An app built on fluid width canvas is mobile responsive but when embedded in an iframe it loses this and stretches the widgets on the canvas.

![WhatsApp Image 2022-02-19 at 12 28 12](https://user-images.githubusercontent.com/32227135/155254549-922945b7-159d-4eac-a730-df8ccefb29b5.jpeg)
![Wha

[2022-02-23 03:08] danciaclara opened #11364 "[Bug]: Default Container widget within the list widget should be hidden on the Entity Explorer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Users are able to access the default Container widget within the list widget and manipulate its properties. And here, all properties work except the background colour.

<img width="1440" alt="Screenshot 2022-02-22 at 5 50 50 PM" src="https://user-images.githubusercontent.com/32227135/15525540

[2022-02-23 04:21] #11106 closed

[2022-02-23 04:40] ashit-rath opened #11366 "JSON Form - Support non-ASCII characters"

[2022-02-23 04:52] #10228 closed

[2022-02-23 05:01] dilippitchika commented on #11364
Good catch @danciaclara!

[2022-02-23 05:02] dilippitchika commented on #11159
Design is done - https://www.figma.com/file/pZuLD9mWXtk45TOjAeh32b/Form-Widget-Thu-26-Aug?node-id=0%3A1

[2022-02-23 05:06] dilippitchika commented on #11350
@techbhavin can you take a look at this, is this same as https://github.com/appsmithorg/appsmith/issues/6124 which is closed? Please triage this and let us know.

[2022-02-23 05:09] dilippitchika commented on #11330
Hey @sbalaji1192 this is not working for me in production as well. It's working for currency widget but not for the input widget, can you check this?

Also can we add this in our regression cases if it's not there.

[2022-02-23 05:26] dilippitchika commented on #10682
Asked by another user today - https://discord.com/channels/725602949748752515/725609493974614076/945375041460244560

[2022-02-23 05:28] dilippitchika commented on #11317
@YogeshJayaseelan the screenshot wasn't uploaded can you upload it again?

[2022-02-23 05:32] YogeshJayaseelan commented on #11317
@dilippitchika Added screenshot

[2022-02-23 05:43] sbalaji1192 commented on #11330
@chandannkumar @dilippitchika Not able to repro on release and prod - https://www.loom.com/share/88866ea7055a485ebfeba8cd1ae156c0

[2022-02-23 05:51] #9367 closed

[2022-02-23 05:53] nayan-rafiq opened #11367 "Add feature flag for templates"

[2022-02-23 06:01] AnaghHegde opened #11371 "[Feature]: Allow syncing multiple apps in a single git repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Creating this feature from a user request from intercom. User is trying to merge 2 different applications on the remote and then trying to pull the change.
Allow users to connect multiple apps in single git repo.

### Why should this be worked on?

Allow users to connect multiple apps in single git re

[2022-02-23 06:15] Nikhil-Nandagopal commented on #11371
Duplicate of #11120

[2022-02-23 06:15] #11371 closed

[2022-02-23 06:18] jnikhila opened #11373 "Improvement: List Widget Doc"
Improvements to List Widget Documentation based on [Feedback](https://www.notion.so/appsmith/69739a8158f94c1aab7a170a5d47b6eb?v=df46a16f1f364fa19b96e8a07175b979).

[2022-02-23 06:23] chandannkumar commented on #11330
It is now observed that Text gets reset on submit if **onSubmit** action is handled and if onSubmit is not handled then text is unable to reset on Pressing Enter, though Reset on submit is enabled

@dilippitchika  is this a expected behavior? Does Reset on Submit have any limitations or dependent on any other actions?

[2022-02-23 06:23] #11126 closed

[2022-02-23 06:32] #11164 closed

[2022-02-23 06:33] rashmi-rai opened #11374 "[Task]: Design improvements in API Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Headers Tab
- Show a list of standard headers which can be added to the query
- Add a way to enable/disable a header in the query

### Method Dropdown
- Add typeahead or enable search in the method dropdown

[2022-02-23 06:33] Nikhil-Nandagopal commented on #11252
@dschain you can fork this app to see how to achieve this
https://app.appsmith.com/applications/61fbdf232cd3d95ca414b805/pages/6215d4742882606a1df5c695

[2022-02-23 06:38] kocharrahul7 opened #11375 "[Bug]: Google Sheets server side pagination causes inconsistency in Row Limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While configuring a Google Sheets API, and enabling Server Side pagination; When and set the row limit to {{List1.pageSize}}, it initially queries a fewer number of rows. When I go to the next page, or refresh the datasource, it resets to the correct number of rows

Use this application for r

[2022-02-23 06:40] #11375 closed

[2022-02-23 07:03] rahulramesha opened #11378 "[Bug]: Selecting a widget from the list on the right side pane, does not open propertypane anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There seems to be a regression, clicking on the widget button from the list of grouped widgets does not seem to open properties pane of that widget anymore.

https://user-images.githubusercontent.com/71900764/155273881-3e5b077a-e36d-451e-8c20-08e9545b5cf6.mp4

### Steps To Reproduce

1. Selec

[2022-02-23 07:03] ramsaptami opened #11379 "[Bug]: Public apps don't load on incognito mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Public apps don't load when new clean URL is accessed on incognito mode.

![image](https://user-images.githubusercontent.com/79509062/155273619-2361f950-6a13-4367-9966-01ea48bb803f.png)

### Steps To Reproduce

1. Make an app public and try to access it on incognito mode

### Environment

Dep

[2022-02-23 07:06] rahulramesha commented on #9227
There seems to be a regression here, clicking on the widget button from the list of grouped widgets does not seem to open properties pane of that widget anymore. Opened a bug regarding [this](https://github.com/appsmithorg/appsmith/issues/11378).
cc: @YogeshJayaseelan
https://user-images.githubusercontent.com/71900764/155273045-29a5207b-de61-4433-8678-87bb2bbef266.mp4

[2022-02-23 07:06] AnaghHegde commented on #10950
This is fixed.

 We are following the same design and hence we should show the reconnect modal right?

I am not able to replicate this.

[2022-02-23 07:07] #11311 closed

[2022-02-23 07:11] nidhi-nair commented on #10738
@Nikhil-Nandagopal Can we think about solving for this in the JSON mode? Users should be able to write custom logic to include a clause in the array of where clauses. A form-based solution would involve introducing a check box setting for where clause to treat nulls as empty conditions or treat them as invalid conditions.

[2022-02-23 07:15] nidhi-nair commented on #9992
Closing as a non-issue. Please feel free to re-open in case any scenarios have been missed.

[2022-02-23 07:25] parth-appsmith commented on #10710
@ramsaptami this is the older designs for the JS editor which is being completely revamped. This issues will be resolved with the new JS editor designs.

New Designs
https://www.figma.com/file/sT3HR1VSWOTtPfh5vlpU8x/?node-id=0%3A1

[2022-02-23 07:36] parth-appsmith opened #11380 "[Bug]: The action selector from the property pane show the list of datasources."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you select "Execute Query" on the actions selector from the property pane, with the list of all the queries/apis it also lists down all the data sources which you have created. When you select the data source it redirects to a new query flow taking the user away from the canvas.

Showing

[2022-02-23 07:50] vivekverma2312 opened #11381 "[Bug]: Invalid date in Date Picker widget when using moment object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Uploading Screenshot 2022-02-23 at 1.15.08 PM.png…]()

### Steps To Reproduce

1. Drag and drop a date picker widget
2. Use `{{moment()}}` in default date property
3. Refresh the page
4. Observe the invalid date in widget

### Environment

Production

### Version

Cloud

[2022-02-23 08:06] sbalaji1192 commented on #7507
We have arrived at a two-step solution:
1. Fix the current issue by changing how we're triggering the submit action from the input widget, By using `updateWidgetMetaProperty` instead of `executeAction`.
2. Make platform-level changes to flush out the current metaHOC state before triggering an action.

cc: @riodeuno @Rishabh-Rathod @hetunandu

[2022-02-23 08:39] japrogramer opened #11384 "[Bug]-[8836]:Order of columns changes and hidden property is assigned to different column than previously selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

So I have a table who's columns might change and when they do,
it messes up the order and the visibility of the columns in my published app.

**To remedy this I filter each row and filter out the columns I'm not interested in
before passing it to the table.**

The problem is that because java

[2022-02-23 09:00] abhvsn commented on #11270
We already have APIs for these functionalities, client-side execution is pending. Reassigning to relevant folks to take this further as community member on discord requested for this feature.

[2022-02-23 09:16] sumitsum opened #11385 "[Bug]-[288]:MySQL datasource failing on application import"
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 75 |
| Effort (months)  | 0.25 |

[2022-02-23 09:39] rohan-arthur commented on #10710
should become irrelevant after #10387

[2022-02-23 09:40] dilippitchika opened #11387 "[Bug]: Make all fields JS convertible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I want to update specific properties using JS but cannot do it since it's not convertible. Let's make all fields convertible and remove the ones which are not easy to work with in JS

### Steps To Reproduce

Button widget JS controllable color and other properties.

### Environment

Productio

[2022-02-23 10:11] #10844 closed

[2022-02-23 10:35] ramsaptami opened #11392 "[Bug]: Incomplete canvas loads when datasources URL is redirected on edit mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

An incomplete canvas loads instead of actual navigate page when datasource, query or page properties URLs are redirected on new Clean URL's

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/d913840cd4cc463bae9d0ef39ed888de-00001.gif)](https://www.loom.com/share/d913840cd4cc463bae9d0ef39e

[2022-02-23 10:41] #11274 closed

[2022-02-23 11:08] RakshaKShetty commented on #10950
when user import json application the reconnect application button is displayed
We are following the same design and hence we should show the reconnect modal right?->but anagh the the query runs without reconnecting this gives a wrong impression rite

[2022-02-23 11:35] #11358 closed

[2022-02-23 11:53] yaldram opened #11394 "[Bug]: MongoDB Query Command not Found."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For MonogDB when we add a new Query, it throws an error - **No valid mongo command found. Please select a command from the "Command" dropdown and try again**. Even if the DropDown has `Find Document(s)` selected. We had to de-select and re-select the option, sometimes it fails on local.

<img

[2022-02-23 11:56] yaldram commented on #11394
On line 840 - `src/Components/ads/Dropdown.tsx` - selected of type `DropDownOption | DropDownOptions[]` is asserted -
[code]
Used on line No - 718 is causing the issue
[code]

[2022-02-23 11:56] DeanMann commented on #4577
I have a immediate application for this scanning QR and barcodes. Will need to embed app smith in iframe inside Vue app using capacitor to access the camera until then. So I think this would be a very good feature for internal tools covering inventory etc

[2022-02-23 12:22] dilippitchika commented on #11394
@yaldram can you add a heading to the bug?

[2022-02-23 12:23] dilippitchika opened #11397 "[Task]: Add support for analytics events in theming backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Review the events in the doc: https://www.notion.so/appsmith/Theming-analytics-be0df0ef55ed4e6dae1a10c8e5353a1d
- Add support for analytics events needed

[2022-02-23 12:25] dilippitchika opened #11398 "[Task]: Add support for analytics events in theming frontend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Review the events in the doc: https://www.notion.so/appsmith/Theming-analytics-be0df0ef55ed4e6dae1a10c8e5353a1d
- Add support for analytics events needed

[2022-02-23 12:34] robvandyck commented on #6661
As a real-world example: I'm reading in search results from Elasticsearch. The results have highlighting included.
I was trying to use the highlighting in one table column using the following 'Computed Value':
`{{
  function() {
         const str = currentRow.highlight.message[0];
	 var newStr = str.replace(new RegExp('@kibana-highlighted-field@', 'g'), '<b>').replace(new RegExp('@/kibana-highlig

[2022-02-23 12:37] rohan-arthur commented on #9789
@albinAppsmith I created a long modal with lot of widgets so that I should see a vertical scroll - I see the scrollbar in the edit mode, but not in view mode. Is this known and shall I create a separate issue for this?

[2022-02-23 12:44] #10944 closed

[2022-02-23 12:54] AnaghHegde commented on #10950
@RakshaKShetty The appJson file you have imported does it have datasource config already present? Because in the new flow we are not exporting the credentials for file export. Could that be the reason you are observing this ?

[2022-02-23 13:03] Nikhil-Nandagopal opened #11400 "[Bug]: Appsmith Docker container doesnt start on RedHat OpenShift"

[2022-02-23 13:47] pranavkanade commented on #6661
@dilippitchika

[2022-02-23 14:16] ramsaptami opened #11402 "[Bug]: App URL reverts back to previous name when user navigates to page properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

App URL reverts back to previous name when user navigates to page properties after renaming the app

**FOR APP NAME**
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/379f0c8654a444b1a5a877e68aacc457-00001.gif)](https://www.loom.com/share/379f0c8654a444b1a5a877e68aacc457)

**FOR PAGE NAM

[2022-02-23 14:54] Nikhil-Nandagopal commented on #11203
@billyrudi this doesn't seem to be happening in the deployed version. Can you please share a video of this issue?

[2022-02-23 15:12] willmartian commented on #2033
(Taking some inspiration from prior art, Wordpress custom Gutenberg blocks: https://github.com/WordPress/gutenberg-examples/blob/trunk/01-basic-esnext/src/index.js )

For interoperability, I would want custom widgets to support the usage of custom elements more so than React components.

Thinking out loud... Given a custom element definition, `myComponent.js`

[code]

Thoughts?

[2022-02-23 15:18] billyrudi commented on #11203
Please see this videa at the center bottom

https://user-images.githubusercontent.com/11408614/155348630-74e4c287-7b27-418d-a37f-413f04c77b7b.mov

[2022-02-23 15:18] #11381 closed

[2022-02-23 15:26] Nikhil-Nandagopal commented on #2033
@willmartian that sounds cool but we're thinking more along the lines of what if we didn't even need to write the code in another IDE and could code the entire widget inside Appsmith? Check out what someone tried to achieve here in an iFrame
https://community.appsmith.com/t/using-query-in-iframe/561
We're wondering how we could improve this experience so we could write the entire component in the

[2022-02-23 15:30] MichaelLeeHobbs commented on #11294
@Nikhil-Nandagopal First login of a new appsmith deploy

[2022-02-23 15:34] billyrudi commented on #11203
tanks...

[2022-02-23 15:54] #10276 closed

[2022-02-23 16:50] mohanarpit commented on #11380
@parth-appsmith @yaldram Quick question: Initially, we were showing the list of datasources in the list so that a user can create a query easily by clicking on the datasource. Hence, if the user hadn't created a query earlier, they have the option to quickly create it from this list.

Are we now letting go of that functionality?

[2022-02-23 16:53] yaldram commented on #11380
@mohanarpit yes if in this Pull Request I have removed the Datasources list, so that functionality won't work anymore, you only have the option to create a `new Query`.

[2022-02-23 16:54] #11191 closed

[2022-02-23 17:23] #11185 closed, assigned to techbhavin

[2022-02-23 17:42] sbalaji1192 opened #11403 "[feature]: [Table widget] clicking on a Interact-able cell (button, icon button) should not select the corresponding row."
Currently, we're propagating the click event on a button in a table cell to the parent row, which results in the row getting selected. As part of this issue, we need to stop propagating the click event.
https://community.appsmith.com/t/multi-row-table-with-button-column/668

[2022-02-23 18:09] #8502 closed

[2022-02-23 22:11] felixsuarez0727 opened #11404 "[Feature] HubSpot Integration"
HubSpot is an American developer and marketer of software products for inbound marketing, sales, and customer service.

Its products and services aim to provide tools for customer relationship management, social media marketing, content management, lead generation, web analytics, search engine optimization, live chat, and customer support.

## HubSpot API Current Status

HubSpot's whole API is com

[2022-02-23 23:53] #9969 closed

[2022-02-23 23:54] #11057 closed

[2022-02-24 02:20] ClarksonCote commented on #11246
@nidhi-nair thank you. As an attempted workaround on our end in the meantime, we changed our endpoint to accept `application/graphql` content-type posts as well, rather than just `application/json`. I updated Appsmith to that content-type in the header, and got further there, but have encountered another issue that will likely require me to post another bug submission...

When I put the query as r

[2022-02-24 02:38] ClarksonCote opened #11407 "[Bug]: GraphQL Query Post Behavior Error, Inconsistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a GraphQL instance accessible through a POST endpoint.  I have made the endpoint accept `application/graphql` content-types to bypass another issue I've been encountering with Appsmith using `application/json`

There is an odd behavior where placing the raw query text within the body w

[2022-02-24 03:11] #11359 closed

[2022-02-24 03:21] rohan-arthur opened #11408 "[Feature]: I should be able to get the structure behind a data source at any time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The first time when I add a new query, I also get to see the structure under the datasource, so that I can see the entities (tables, buckets etc) under that data source, and can quickly select simple crud queries. This is nice.

However, I ran into this problem today when I wanted to add a query for m

[2022-02-24 03:37] #11206 closed

[2022-02-24 04:47] dilippitchika commented on #7259
@vibhandikyash this works for select widget though, see the attached video here - https://www.loom.com/share/4339b11b5ac741fc9d7842a0825bad2a

Can you find out how this works there? we can try and do the same here for these widgets.

[2022-02-24 05:03] #10001 closed

[2022-02-24 05:16] yaldram commented on #11079
A Fix has been raised by @rahulramesha here - https://github.com/appsmithorg/appsmith/pull/11396

[2022-02-24 05:21] #7989 closed

[2022-02-24 05:27] albinAppsmith commented on #9789
@rohan-arthur  This is related to widget if I understood correctly. So yes please create a separate ticket for this.

[2022-02-24 05:52] somangshu commented on #11363
@prsidhu we need to find out why the iframe dosent consider the or apply the layout styles

[2022-02-24 05:53] somangshu commented on #11364
@dilippitchika why is this in the icebox, we can address it I belive

[2022-02-24 06:00] #11198 closed

[2022-02-24 06:11] vivekverma2312 opened #11409 "[Bug]: Need to refresh the screen to populate date in date picker after I use moment object in Default date"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Date do not populate on date picker widget after using {{moment()}} in edit mode.

### Steps To Reproduce

1. Drag and drop a date picker widget
2. Use {{moment()}} in default date property
3. Observe the date do not populate on the widget
4. Refresh the screen and see that date gets populate

[2022-02-24 06:34] trishaanand commented on #2840
- Minor changes for OIDC settings page to be true to designs - @ankitakinger
- Continue adding more JWT token scenarios to the test plan and review - @RakshaKShetty @trishaanand @ankitakinger
- Continue with documentation of integrations with OIDC - @jnikhila @ankitakinger @trishaanand
- Documentation for JWT tokens - @vuiets @trishaanand @Pranay105
- Licensing Flow - @trishaanand
- Add a client s

[2022-02-24 06:36] mohanarpit commented on #8656
Closing in favor of #10536

[2022-02-24 06:36] #8656 closed

[2022-02-24 06:58] leotom2000 commented on #11013
The above is screenshot from the users system
I tried a simple component, but was working fine.
For list widget, I have not tried to reproduce,
I can check and update.

[2022-02-24 07:04] #11338 closed

[2022-02-24 07:09] dilippitchika commented on #1979
Link to a good UI shared by Dancia - https://theappsmith.slack.com/archives/CNQ9Q91C0/p1645686047713229

![image](https://user-images.githubusercontent.com/19730984/155475559-cb6e2156-c891-4508-854b-539d8ccbf790.png)

[2022-02-24 07:12] shwetha-ramesh commented on #9733
@techbhavin This issue is not reproducible on release nor on prod.
Closing it.

[2022-02-24 07:12] #9733 closed

[2022-02-24 07:18] somangshu commented on #8002
This is not reproducible any more, Closing it for now, @vivekverma2312 please check to see if that is not true.

[2022-02-24 07:18] #8002 closed

[2022-02-24 07:19] somangshu commented on #5128
@rahulramesha this might be a case we cover in the copy paste exp EPIC

[2022-02-24 07:26] somangshu opened #11412 "[Bug]-[9944]:Modal widget - fixed dimensions tends to hide contents in the body for smaller screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It's noticed that the modal on smaller screens hide content inside the body if the screen size is smaller.
On a normal screen size:
<img width="1620" alt="Screenshot 2022-02-24 at 12 52 43 PM" src="https://user-images.githubusercontent.com/11089579/155477425-89b56a23-910e-4b76-8b69-aa14a743af

[2022-02-24 08:08] eco-monk opened #11413 "[Bug]: add warning if child property doesn't exist in data tree (causes cyclic dependency)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When `makeParentsDependOnChildren` was called. We weren't checking if the child property actually exists in the dataTree.
Hence, the `dependencyMap` would have entries which were un-necessary.

### Environment

Production

### Version

Cloud

[2022-02-24 08:21] #10787 closed

[2022-02-24 08:44] Nikhil-Nandagopal commented on #11408
@rohan-arthur I believe clicking the 3 dots and refresh does this

[2022-02-24 08:44] #11408 closed

[2022-02-24 09:05] Nikhil-Nandagopal commented on #10738
@nidhi-nair there's not much confidence in that unfortunately because it's quite difficult to achieve. I have 2 solutions that might be viable:
1. Can we treat undefined as removing the condition since undefined means that the value is not there while treat null as a valid value?
2. Can we simply add a checkbox at the top level of the where component to remove the condition if it's null/undefined?

[2022-02-24 09:06] Tooluloope commented on #11013
Closing this off.
Couldn't reproduce

@vivekverma2312 Could you help verify

[2022-02-24 09:06] #11013 closed

[2022-02-24 09:23] prapullac commented on #10539
Issues identified in DP testing
1. Appropriate Error messages are not displayed
Ex: When on List message and Account SID is missing identifiable message is not displayed
2. Mandatory fields are not displayed to users on List Command

[2022-02-24 09:31] pranavkanade opened #11415 "[Bug]: Modal Widget scroll not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The scroll is not working in the modal widget

### Steps To Reproduce

Fork following app -
https://app.appsmith.com/applications/62174f288a51871ac43aa737/pages/62174f288a51871ac43aa73a

### Environment

Production

### Version

Cloud

[2022-02-24 10:28] #7900 closed

[2022-02-24 10:39] #11367 closed

[2022-02-24 10:43] #11121 closed

[2022-02-24 11:01] ramsaptami opened #11417 "[Bug]: User confirmation modal for a query run is missing and queries are run without user confirmation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User confirmation modal does not appear for a query run, but checking for results shows the query has been run without user confirmation

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/436acd78c94d43ce9c9fbce544175816-00001.gif)](https://www.loom.com/share/436acd78c94d43ce9c9fbce544175

[2022-02-24 11:25] dilippitchika commented on #11415
Adding this to HPI - @Tooluloope please get this triaged and estimated.

[2022-02-24 11:30] abhvsn commented on #10644
For now, we will be providing a friendly message that we are seeing x changes because of the DB migration

[2022-02-24 11:31] sharat87 opened #11418 "[Bug]: If MongoDB user doesn't have permissions to see replicaset status, server doesn't start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently, we check if replicaset is enabled on the external MongoDB, and if not, we exit and the fat container doesn't start.

But if replicaset is enabled, but the user being used doesn't have permission to do `rs.status()`, this failure is a false-positive.

So, can we check if we have the

[2022-02-24 11:48] mojtab23 opened #11419 "[Bug]-[2960]:MongoDB update query is not accepting valid value (an array) in update field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This query is valid for MongoDB 4.2+
[code]
And in order to work correctly the `$set` part needs to be in an array.
But when we try to do something similar via Appsmith, It throws an error:
![Screenshot 2022-02-24 145332](https://user-images.githubusercontent.com/5852362/155516594-7c9beeec-ec

[2022-02-24 12:35] sharat87 opened #11421 "[Feature]: Allow configuring basic auth on Supervisor via environment variable(s)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, Supervisor's UI is accessible on port 9001 by default, with no option to enable basic auth on it.

We should add support for an environment variable like `APPSMITH_SUPERVISOR_BASIC_AUTH` or something and enable basic auth for the web UI.

Additionally, if the basic auth env variable is not

[2022-02-24 12:39] danciaclara opened #11422 "[Bug]: On Login only the first parameter passed in url persists"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behaviour

When passing parameters in URL, only the first one persists. So, if you have ?embed=true&abc=xyz only the embed parameter will persist. On the other hand, if you have ?abc=xyz&embed=true, then the abc parameter will persist.

### Steps To Reproduce

The issue was flagged by a user on discord

[2022-02-24 13:17] pranavkanade opened #11425 "[Feature]: Icon Button Widget - the Icon and Button Color property should have JS option."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

![Screenshot 2022-02-24 at 6 42 07 PM](https://user-images.githubusercontent.com/13262095/155530833-4c6f82ce-6d97-447b-a129-e72e045e995c.png)
Users should be able to change the values of the Icon and Button Color property based on stat values.

### Why should this be worked on?

User request on the in

[2022-02-24 13:23] abhvsn commented on #3199
Next set of action items:

- [ ] Provide a way to change the default branch to be in sync with remote @AnaghHegde @Debsourabh https://github.com/appsmithorg/appsmith/issues/11223
- [ ] Discard and pull changes and rehydrate the application @abhvsn https://github.com/appsmithorg/appsmith/issues/10863
- [ ] UI for export, clone, fork applications at branch level @haojin111 @Debsourabh https://github

[2022-02-24 13:54] Tooluloope commented on #9858
Reopening cause of https://github.com/appsmithorg/appsmith/pull/11424

[2022-02-24 14:20] abhvsn commented on #10644
Reopening this as client-side changes are still pending
cc: @haojin111

[2022-02-24 15:19] #11415 closed

[2022-02-24 18:15] Nikhil-Nandagopal opened #11429 "[Bug]: S3 file upload does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The create file method doesn't work unless you explicitly set base64 in the query

### Steps To Reproduce

1. Create an S3 Datasource
2. Create a new query from the + in the entity explorer
3. Configure the values with a file picker
4. Run it and see the response of the signedURL, a broken fi

[2022-02-24 18:21] AnaghHegde opened #11430 "[Bug]: Git connect fails when the repo contains yml files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user tries to connect a repo(gitLab or any) contains .yml file connect is failed. `.yml` files are used for CI purpose and we should allow such scenarios.

### Steps To Reproduce

Create a repo in gitlab and choose empty/blank repo
Notice `.yml` CI file added to repo
Now try to conne

[2022-02-25 04:23] sbalaji1192 opened #11438 "[Bug]: Required property is not honoured in Number type input widget for empty value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When Required is enabled for the number type input widget, empty values are considered valid. We should treat the empty value as inValid value in number type input widget.

### Steps To Reproduce

1. Add an Input widget
2. Change the type to Number
3. enable Required property
4. Observe that

[2022-02-25 04:35] dilippitchika opened #11439 "[Enhancement]: Group widget versions together for analytics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Remove the dependency on widget versions in mixpanel or analytics tools.

![Screenshot 2022-02-23 at 5 47 26 PM](https://user-images.githubusercontent.com/19730984/155654277-2520095d-3d20-464f-849a-100570d779a3.png)

### Why should this be worked on?

Today, whenever we launch a version of any widget

[2022-02-25 04:36] dilippitchika commented on #11439
@sbalaji1192 please add the suggested solution here, then we can assign this and resolve

[2022-02-25 04:44] dilippitchika opened #11440 "[Bug]: File Upload flow causes failures for base64 type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Uploading files using binary as a stream of data instead of base64 because it causes performance problems and leads to multiple failures. - Reported from client(KB)

### Steps To Reproduce

1. Add a filepicker widget
2. Upload small and large base64 and binary files
3. Understand if the data

[2022-02-25 05:06] dilippitchika commented on #11317
@vasanth-appsmith how to indicate errors like this in this component?
Please take a look at the current behavior in the table widget for duplicates. I believe we could improve the error feedback here.
![Screenshot 2022-02-25 at 10 34 51 AM](https://user-images.githubusercontent.com/19730984/155657064-d0845dfb-f9e1-43e7-b3c3-4e6813eea3b1.png)

This is how it looks for the table widget

[2022-02-25 05:07] somangshu commented on #9858
@techbhavin @chandannkumar please take note of this, this cause many user to frown, we need to be extremely careful in these scenarios.

[2022-02-25 05:09] dilippitchika commented on #11330
This is the expected behavior, the problem was weirdly even that was not working for me, when I was demoing.

Closing this issue for now as it's not reproducible anymore.

[2022-02-25 05:09] #11330 closed

[2022-02-25 05:11] somangshu commented on #11231
- Here we want to be able to define the probably ways we could address this, Start gathering all the information required, Point out any platform changes we might need later.
- We should also think about the success metrics:

[2022-02-25 05:12] dilippitchika commented on #11111
I am not sure why this was done in the first place, i still struggle with this.

@somangshu @momcilo-appsmith @Nikhil-Nandagopal container resize after adding something changes the width of children.
This then prompts the dev to resize everything inside again. Can you give us insights as to why we built it this way?

[2022-02-25 05:14] dilippitchika commented on #11182
Closing this for now, it does look like a common data grid scenario.

[2022-02-25 05:14] #11182 closed

[2022-02-25 05:17] dilippitchika commented on #11142
@somangshu this is becoming a headache now.

I have assigned a similar issue to @vibhandikyash #11387 where the idea is to convert all fields to JS first in a dp and see which fields don't need JS and remove JS option for those.

Can we discuss about this issue in slack/sync once and move ahead?

[2022-02-25 05:19] dilippitchika commented on #10170
Forgot about this, sorry @ramsaptami can you access using demo@appsmith.com?

[2022-02-25 05:22] dilippitchika commented on #10591
@wmdev0808 can you comment if this is fixed in https://github.com/appsmithorg/appsmith/pull/10943?

[2022-02-25 05:24] sbalaji1192 commented on #11438
@vivekverma2312 Could you please test this ?

[2022-02-25 05:27] dilippitchika commented on #11033
@somangshu could you also add a few lines on why this can't be solved easily. Will help us retain context for this when we actually pick it up.

[2022-02-25 05:40] vivekverma2312 commented on #10352
@dilippitchika Now the observation is slightly changed. Previously the horizontal scroll bar use to persist after deployment but now it shows for a sec and then disappears.
https://www.loom.com/share/e8c9ce460f194069863c370b90a1526a

[2022-02-25 05:47] aswathkk opened #11445 "[Task]: Make the outgoing entities section keyboard accessible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

This should resolve the issue pointed out in #11339

[2022-02-25 05:55] wmdev0808 commented on #10591
@dilippitchika ,
It's never been dealt

[2022-02-25 05:58] parth-appsmith commented on #11380
@mohanarpit the problem is with the arrangement and grouping of options.
When the user selects "Execute a Query" option from the actions selector the primary goal has to be to show the list of of queries that the user can bind and not the data sources. The primary goal would be to bind a query to an action, where as even if the user clicks on a data source they get redirected to create a query flo

[2022-02-25 06:13] #6012 closed

[2022-02-25 06:21] parth-appsmith commented on #10959
Concatenation of status to only show the error codes was a solution to a previous bug [#6862](https://github.com/appsmithorg/appsmith/issues/6862).

The idea was to only show error messages because error codes are universal and the code conveys the type of error that has occurred. I understand that we have some appsmith specific error code, we should try sticking with universal error codes as they

[2022-02-25 06:21] ramsaptami commented on #10170
Yep, I'm not able to repro this on release anymore. I'll have another look and close this since it seems to be working now

[2022-02-25 07:03] dilippitchika commented on #10591
Editing the issue then - The problem (which still exists) is the aspect ratio should be maintained no matter how the widget resizes.

- If the camera widget is of higher height that aspect ratio can fit - the black bars should appear on the top (DONE Already #10943)

- If the camera widget is of higher width that aspect ratio can fit - the black bars should appear on the side as shown in the image

[2022-02-25 07:19] dilippitchika commented on #10905
@momcilo-appsmith will discuss, but thinking that if there's a label we should add a * at the end of the label. I think this is a small issue which we should just resolve.

It will not solve for all cases, but works for most.

[2022-02-25 07:23] dilippitchika commented on #5398
@sbalaji1192 can you take a look at this issue and let me know if some of this is already done/planned?

[2022-02-25 07:32] dilippitchika commented on #10486
Action items for this feature
1. Add .filters into the autocomplete for users to know it can be accessed.
2. Add a new onFilterUpdate which detects the changes made in the filters and triggers this action.

@somangshu now that we have 2 versions of tables how to uptake this change?

[2022-02-25 07:32] Nikhil-Nandagopal commented on #5398
@dilippitchika here i think the solution should be to be able to add a custom button to the table rather than edit the existing buttons. This also has a workaround by dragging a button widget and binding it

[2022-02-25 07:35] dilippitchika commented on #11105
@Tooluloope can this be checked if this is a straightforward change in the underlying component? If not, we have to think of new widgets and then work on design.

cc @somangshu

[2022-02-25 07:41] sharat87 commented on #10848
I think this still needs to be fixed in the docs, so reopening.

[2022-02-25 07:56] ramsaptami opened #11449 "[Bug]: Number type input widget clears an entry when there's a decimal followed by a zero"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Input widget clears an entry when there's a decimal followed by a zero. Typing consecutive periods and then hitting 0 clears all input from the widget.

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/49d05b2ea0b64b43a1b4113e22bb5fc6-00001.gif)](https://www.loom.

[2022-02-25 08:36] GlennMatthys commented on #9915
Related: https://github.com/appsmithorg/appsmith/issues/8329

[2022-02-25 09:04] riodeuno commented on #11038
# Update
- Why are we not using dynamic width?
    - Appsmith doesn't have a concept of infinitely wide canvas. There is always a fixed maximum number of columns a widget can occupy.
    - In web design, horizontal scrolls are usually not a good idea, as mouse users cannot easily navigate this without buttons.
    - If we really do need dynamic width, we'll look into it as a subsequent effort.

-

[2022-02-25 09:16] arjunsriva-woven commented on #9996
+1 would like to bump this feature agreeing with am-rpa, and add this is important for us from a security perspective too.

[2022-02-25 09:21] pranavkanade opened #11452 "[Bug]: [List widget] clicking on child widget (button etc) should not trigger `onListItemClick`."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When there is a button widget inside a list, clicking on the button triggers `onClick` of the button and it also triggers `onListItemClick` of the List Widget

### Steps To Reproduce

here is the sample app (please fork it)- https://app.appsmith.com/applications/62189b47445a8d746a05f768/pages

[2022-02-25 09:55] sbalaji1192 commented on #5398
@dilippitchika We have not considered this in Table v2 as of now

[2022-02-25 10:29] aswathkk commented on #8845
### Update on 25th Feb
- [ ] - We will not be taking up Draggable List & option select controls for development since we need to rethink the best keyboard navigation UX here. cc: @vasanth-appsmith @momcilo-appsmith
- [ ] - @aswathkk and @arslanhaiderbuttar will be working on making Colorpicker, box shadow & border-radius control keyboard accessible.

[2022-02-25 10:36] parth-appsmith commented on #11374
@rashmi-rai right now when we run an api in appsmith, the standard headers are not necessary to written to execute the query in the first place. From what I understand the headers that are expected to be inputted are the API specific header information that needs to be sent in and not standard headers like "content-type, connection & etc".

The postman interaction that you showed makes it easier t

[2022-02-25 10:56] parth-appsmith commented on #4789
@eco-monk we are currently designing a similar functionality for application level actions. You can refer the designs there for the same.
https://www.figma.com/file/6DvoFPG0Gr5ggdLTyvzA84/Developer-handoff---App-Level-Actions?node-id=23%3A31521
1. The autocomplete lists the functions itself and we use the evaluated window component to show the signature of the function while the user is interactin

[2022-02-25 11:03] sbalaji1192 opened #11454 "[Bug]: Number type input widget not handling values that has 0 after decimal point"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the Input widget, when a user enters a `0` right after the decimal point, the decimal point disappears. As a result, user cannot enter values like `1.02`, `1.0012`

### Steps To Reproduce

1. Add an Input widget.
2. Change the type to Number
3. enter `1.01`
4. Observer that input is not ac

[2022-02-25 11:10] #11029 closed

[2022-02-25 11:11] ramsaptami commented on #11454
Duplicate of #11449

[2022-02-25 11:20] Tooluloope commented on #10196
- Move issues from Icebox to Product backlog (Set Estimate)
- Set definite issues per sprint for better visibility and clarity
- @dilippitchika should drop issues in the Needs PRD pipeline on Slack for discussion

[2022-02-25 11:23] Nikhil-Nandagopal commented on #11038
@dilippitchika @riodeuno we also need to define which widgets will be dynamic by default vs which will need a user opt-in. Because for example if table is dynamic by default, it will crash the app. Similarly, dynamic height in the chart, audio widget, iframe doesn't make sense. We need to think carefully how this will affect every single widget

[2022-02-25 11:23] jnikhila opened #11455 "How-To Doc"
To add a How-To doc for the issue raised on Discord.

**[Discord Snippet - Raised by User](https://discord.com/channels/725602949748752515/760761686549463060/942163314522333224)**
I'm having trouble using the JS Objects within AppSmith - I don't have a native JS background but I'll post below what I'm trying to accomplish using pseudocode. I'm unsure if I can make these API calls within the object

[2022-02-25 11:26] Nikhil-Nandagopal commented on #10905
I don't believe there is a standard way to communicate this and it should be a choice of the user so if they want to add *, they will, if they want to write (required) they will. I think we should wash our hands off this and let the user decide since there is no clear industry standard we can be sure users will be happy with.
@dilippitchika @momcilo-appsmith

[2022-02-25 11:27] jnikhila commented on #11455
As quoted by Hetu --
Here is the [solution attached in the video](url). Wondering if this can be a small How-to on our docs.

[2022-02-25 11:28] Nikhil-Nandagopal commented on #11439
I don't understand why this is a problem. They are different widgets so they should be instrumented differently right?

[2022-02-25 11:32] Nikhil-Nandagopal commented on #11364
@somangshu why not allow this? #6858 needs it!

[2022-02-25 11:45] ashit-rath opened #11457 "[Task] JSON Form - Avoid generating new fields when custom field key matches field key from source data."

[2022-02-25 11:51] #6765 closed

[2022-02-25 12:05] abhvsn commented on #11314
@abhijit-motorq I tried to import this on my end and working for both the files, can you try again by clearing your browser cache. Are you trying this on Appsmith cloud (app.appsmith.com) or self hosted instance? If on self-hosted instance what's the hardware specs?

[2022-02-25 12:22] riodeuno commented on #11038
@Nikhil-Nandagopal Absolutely. I'll make sure to add this to the task list for the project.

[2022-02-25 12:31] dilippitchika commented on #10905
@Nikhil-Nandagopal in this case the problem is the end-user suffers because we are making it hard for our devs to add something which is very common for forms.

If so, should we add a setting in the form to "add *" or "required" label for all required fields? Users can still customise on their own but in this scenario, we are not forcing them but just suggesting.

[2022-02-25 13:05] dilippitchika commented on #11364
My default logic is moving all list related items to icebox for now. We can take a look at it next week for triaging @somangshu.

[2022-02-25 13:07] dilippitchika commented on #11439
Discussed - We need to add a new property "widgetCommonName" as a new property and only pass the name of the widget without the versions.

[2022-02-25 14:03] Nikhil-Nandagopal commented on #10905
@dilippitchika why is it hard? Isn't it the same as just adding * in the label field? Every setting we add clutters the property pane so we have to keep choosing these well

[2022-02-25 14:06] Rishabh-Rathod opened #11458 "[Bug]: JsEditor unexpected parse error for comment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/1337557c5b9648ac9f370da6d4defd4a-00001.gif)](https://www.loom.com/share/1337557c5b9648ac9f370da6d4defd4a)

The above recording shows the error

### Steps To Reproduce

As it was not easily reproducible, we could re-use @Rishabh-Rathod appl

[2022-02-25 14:25] Himanxu1 commented on #11449
Hey , I would like to contribute to this project .
I just want to know what technologies you are using to build this ?
If anyone can explain the bug then i will definetity work on this.

[2022-02-25 14:37] pranavkanade opened #11459 "[Bug]: Error - Failed to initialize pool: The connection attempt failed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We've recorded multiple complaints about this error. This happens due to DB connection clogging.

The workaround we've been giving users is restarting the DB server.

### Steps To Reproduce

This is not consistently reproducible.

### Environment

Production

### Version

Self-Hosted

[2022-02-25 14:53] ramsaptami commented on #10319
Bumping priority on this since a user can select all and accidentally even delete all canvas widgets and if toast message mentioning this delete action is missed then the user would not be able to recover the app unless it was synced on Git or a had a recent backup

[2022-02-25 15:09] Nikhil-Nandagopal commented on #11294
@MichaelLeeHobbs great catch! Thanks for the information

[2022-02-25 15:20] Nikhil-Nandagopal commented on #11111
@dilippitchika @ramsaptami this is the expected behavior and not a bug. Would like to understand why you're struggling with this? We can discuss an enhancement to improve this experience

We do this for a few reasons today
- Fluid width and responsiveness. As screen sizes change, the widgets need to scale to accommodate them
- When moving a widget into a container, if it doesn't resize, it cannot

[2022-02-25 15:25] j2bd commented on #11440
Hello,
Indeed, I can't get the base64 content of the files that are picked with the FilePicker...
Hope this bug will be quickly patched ;)
Thanks & Regards,

[2022-02-25 15:30] Nikhil-Nandagopal commented on #11440
@j2bd can you tell us a bit about your issue? To which datasource are you trying to upload the file? What is the error you're seeing?

[2022-02-25 15:59] j2bd commented on #11440
Hi @Nikhil-Nandagopal

With one of my app, filepicker was used to upload files on another webapp by API using base64 content.
Till now, it worked well.
But, I can't get anymore the content of my file as a base64 string via the properties of the widget ( FilePicker1.files[0].data ...)

Thanks for your help,

[2022-02-25 16:31] rfseancavanaugh commented on #9309
I'm also hoping for this feature!

[2022-02-25 18:24] dilippitchika commented on #11111
For me, i believe we can have a different experience while building a container vs responsiveness in the view mode. While building things for theming and other apps which largely relied on making sure the containers and the components inside it are properly sized, when I change the container width slightly other elements also change their positions which then frustrates me.

If i was able to lock

[2022-02-25 20:46] #9603 closed

[2022-02-25 20:46] #6492 closed

[2022-02-25 20:46] #11350 closed

[2022-02-26 03:52] #11160 closed

[2022-02-26 08:15] devnamrits commented on #11062
@sumitsum Can I take this up??
cc: @danieldare

[2022-02-26 08:40] techbhavin commented on #9550
In Select Widget
-  Custom scroll Design is applied from `app/client/src/assets/styles/index.css`

But For Other Widget Like multi/tree select Widget
-   Here we are using the `rc-select / rc-tree-select` package and they using rc-virtual-list underhood and manage scrollbar by itself because of it they are showing different scroll bars.

Here we Don’t have any control to customize the behavior of

[2022-02-26 08:53] Nikhil-Nandagopal commented on #11111
@dilippitchika Agreed let's look at smartlook for videos regarding how people are building UI. I don't think a survey is good here because it's very hard to communicate or be self-aware of this interaction when you're building.

Could you also share a picture of a container that when resized frustrates you?

[2022-02-26 10:04] devnamrits commented on #10640
Hi @nidhi-nair
Can you please assign me this bug? I would like to resolve this issue.

[2022-02-26 12:50] Tooluloope commented on #8976
Fixed

[2022-02-26 12:50] #8976 closed

[2022-02-26 12:50] Tooluloope commented on #8976
Fixed

[2022-02-26 14:24] Nold360 commented on #11066
The Helm chart deployment is very confusing to me. After deploying it i end up with a single appsmith container, which doesn't work:
[code]

There is no mention in the docs, that i need to deploy mongo or redis myself. Furthermore those should be included as subcharts in the appsmith chart.

Why is it so different from the "install.sh" k8s deployment? Why even maintain multiple deployments for k8s

[2022-02-26 17:11] #10761 closed

[2022-02-27 04:03] ayushpahwa opened #11464 "[Bug]: Multiselect issue in DropDownControl for query editor forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we pass the prop of `isMultiSelect` to a drop-down in editor JSON, the UI fails as the `DropDownControl` file is not designed to handle multiple options.

The expected behaviour is that the file should be able to seamlessly handle both multi-select and single select files.

### Steps To

[2022-02-27 07:15] zzgvh opened #11466 "[Bug]: Numeric input widget and Appsmith store interaction bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This video shows a peculiar bug occurring in certain circumstances when using two numeric input widgets to show the interaction between an addition to a base value and the sum of the addition and the base.

https://user-images.githubusercontent.com/142613/155872452-3717c720-94fa-4781-bbdb-068

[2022-02-27 09:23] DeanMann commented on #1089
Please add this feature to access local image assets for information and in-house branding

[2022-02-27 09:31] unknown1337 commented on #11159
@[ashit-rath](https://github.com/ashit-rath), I'd love to use this feature. Do you have any idea when it will be released (appsmith hosted)? :) thanks!

[2022-02-27 09:43] ashit-rath commented on #11159
Hi @unknown1337, thank you for showing interest in the JSON Form widget. There are a couple of more features that we are planning to bake into this widget before we release it. You can most likely expect this to be available before the end of March.

Meanwhile, if you have not yet; you can try out the widget [here](https://appsmith-git-feature-form-builder-widget-get-appsmith.vercel.app/) and it w

[2022-02-27 16:53] MichaelLeeHobbs commented on #11418
[appsmith](https://github.com/appsmithorg/appsmith/tree/7a950004db2f46ce3ff0db162f7b3382947bc219)/[deploy](https://github.com/appsmithorg/appsmith/tree/7a950004db2f46ce3ff0db162f7b3382947bc219/deploy)/[docker](https://github.com/appsmithorg/appsmith/tree/7a950004db2f46ce3ff0db162f7b3382947bc219/deploy/docker)/entrypoint.sh
There is a bug on line 125

[code]

Should be

[code]

[2022-02-27 17:08] MichaelLeeHobbs commented on #11418
I have confirmed this is the fix. Here is a work around example.

In the compose file add a volume `- ./patch/entrypoint.sh:/opt/appsmith/entrypoint.sh`
[code]

Create a patch directory and add the [entrypoint.sh](https://github.com/appsmithorg/appsmith/blob/7a950004db2f46ce3ff0db162f7b3382947bc219/deploy/docker/entrypoint.sh)
Modify the entrypoint.sh file line 125 to `if [[ $isUriLocal -eq 0 ]];

[2022-02-28 02:42] dschain commented on #11252
Invalid method. This function is more like conditional selection. After selecting options, it needs to query 1000 records of secondary options in the database, and then select from 1000 records of filtering.

[2022-02-28 02:43] dschain commented on #11252
I urgently need this function, which has a great impact on work efficiency.

[2022-02-28 03:05] georgewangchn opened #11468 "[Bug]: The time delay of the content displayed in the drop-down box is too long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Release v1.6.0~v1.6.12
When there are more than 1000 records in the drop-down box, the display delay time is very long, more than 5 seconds. It is hoped that this function module can be improved and the use efficiency can be improved.

Same with #11252

### Steps To Reproduce

![image](https:

[2022-02-28 03:26] Parthvi12 opened #11470 "[Task]: Automate noise tests for different datasources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-02-28 03:47] #11159 closed

[2022-02-28 03:58] sharat87 commented on #4785
Hey @amity0, sorry you were facing trouble with this. Could you try our official Helm charts experience and let us know if that works for you? You can read more about it here: https://docs.appsmith.com/setup/kubernetes.

Since this issue is about an unofficial Helm chart, I'll be closing this. If you face any trouble on the official once, please feel free to open a new issue and we'll investigate