[2022-04-04 09:33] vivekverma2312 commented on #11384
@Tooluloope I observed some issue around visibility on changing the order of column on table widget.
https://watch.screencastify.com/v/73XxoRR6OqXu4KStwaPT

[2022-04-04 09:51] vivekverma2312 commented on #11624
@Tooluloope Able to repro the issue on Windows (Chrome & Firefox)
The data is not populating on RTE after deployment. If we change the page in view mode then the data starts populating.
https://loom.com/share/50bcab3eacc84aefb7711d3621ca6dbc

[2022-04-04 10:04] btsgh commented on #10175
Tested the following on Release:
1. Menu button widget - Reordering menu items in property pane is reflected in the Menu button widget
2. Menu button widget - Deleting one menu item in property pane is reflected in the widget, also, on Cmd + Z (redo), bringing back the menu item in property pane is reflected in the widget.
3. Menu button widget - Clicking the settings icon on each of the menu item

[2022-04-04 10:30] #11997 closed

[2022-04-04 10:33] RakshaKShetty commented on #12274
the toast is displayed  as in image<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161526254-74a6d39c-0425-4acc-8d5b-a94b6e0e3b8a.png">

[2022-04-04 10:39] mohanarpit commented on #12514
Thanks for opening an issue and pointing this out. We are in the process of upgrading our spring-boot dependency to address this CVE.

In the meantime, I'd like to mention that even though this vulnerability shows up in automated security scans, Appsmith is **not** vulnerable to this CVE. This is because the vulnerability requires the application to be run as a WAR via Tomcat. Appsmith is bundled

[2022-04-04 11:08] btsgh commented on #11176
Tested in Release. As per the fix (https://github.com/appsmithorg/appsmith/pull/12199), the behaviour is fine.
https://www.loom.com/share/33c5c15a2c5142dfab396cc8b81ac330
Only after the menu option is closed, scrolling is allowed.

[2022-04-04 11:17] Vidushi-Gupta opened #12552 "[Template]: 6 month employee feedback"
### Title

6 month employee feedback

### Objective

The bi-yearly feedback that every employee in an organization looks out for from other employees is the use case for this app.

The app consists of the following 3 pages:

1. Custom form builder: This page allows the user to enter the fields that they desire for in their form.

    The form builder would be a list, wherein the user enters the qu

[2022-04-04 11:29] felixsuarez0727 commented on #12432
Feature added on branch: `feature/add-configStored-at-dataSource` (SaaS App)

For now, it is a checkbox that can be enabled/disabled from the integration form. The default value at the moment is `false`.

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/626405a3-a501-404c-aa43-c6ff4fd6f1ad)

![image.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/ffd048

[2022-04-04 11:31] felixsuarez0727 commented on #12432
As mentioned [here](https://github.com/appsmithorg/appsmith/pull/12251#issuecomment-1084091291) we can meet to clarify, what should the default value be.

[2022-04-04 11:46] dilippitchika commented on #10830
High reach, low impact

[2022-04-04 11:46] ApekshaBhosale commented on #12502
@nidhi-nair yes parsing is failing because nestedFunction is not parsed yet, that's why an undefined error has been thrown

[2022-04-04 11:54] Nikhil-Nandagopal commented on #12405
@GreenFlux that would be a problem with this approach as well since in this case too it would be sent from the client and could be a potential security problem. If it becomes dynamic, it could work either way where you define
- n environments of the datasource
- update the environment on the fly
- If you want to share the environment update then you store it in a database so that it updates for ev

[2022-04-04 11:56] techbhavin commented on #11962
@dilippitchika

Here the issue is on the `componentDidUpdate` chart is rendered every time to prevent refresh every time we need to update only data instead of updating all custom-chart every time.

[2022-04-04 11:59] somangshu commented on #6452
I would say that onBlur is the opposite of the original request @eco-monk. Anyhow, this is not yet prioritized

[2022-04-04 12:02] #11843 closed

[2022-04-04 12:03] nidhi-nair commented on #12502
Ah I see, so this one would be the issue we solve by introducing the entity reference map or equivalent solution? @ApekshaBhosale

[2022-04-04 12:20] btsgh commented on #12300
Tested on Release, seems to be fixed. (Behaviour video below -)
https://www.loom.com/share/ecec38b089a243d1ba2d6cd14f281098

[2022-04-04 12:34] dilippitchika opened #12554 "[Bug]-[400]:Select widget's default selectedOptionLabel shows data from the value field and not the label field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i drop a select widget and bind a text widget to use selectedOptionLabel, the value shown in text widget is the value and not the label of the item selected by default.

However, this is fixed when I select any other value by interacting with the widget.

Also happening in the multi-select wi

[2022-04-04 12:39] btsgh commented on #9119
All of the existing issues in the bug description, which this bug is supposed to address, have been verified and closed. Hence marking this as Verified as well.

[2022-04-04 12:43] RakshaKShetty commented on #11932
Fixed
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161543918-24808752-746d-4d9f-bd9c-061f6b3cfd98.png">

[2022-04-04 12:57] Nikhil-Nandagopal commented on #12528
@rohan-arthur  I bumped the priority since the user mentioned that it is breaking their existing app

[2022-04-04 13:23] ramsaptami opened #12556 "[Bug]: Creating a new query from an API datasourcee crashes the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Creating a new query from an API datasource causes the app to crash

### Steps To Reproduce

1. Create an API query from either datasources page or from omnibar and observe the app crash

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/95173840f9b74148a43795c2b2928709-00001.gif)](https://www

[2022-04-04 13:29] arunvjn opened #12558 "[Bug]: Launching an application from dashboard fails after visiting a git synced app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Branch state persists when switching between a git-synced application and a regular one causing fetch application and pages API to error out. This was likely introduced when perf fix was made to use client side routing for navigation from dashboard.

### Steps To Reproduce

1. Open a git synced ap

[2022-04-04 13:46] dilippitchika commented on #12554
Reach: 103
Impact: Low

[2022-04-04 14:04] Nikhil-Nandagopal opened #12560 "[Bug]-[150]:Dummy Issue"
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-04-04 14:10] jsartisan opened #12561 "[Bug]: Linting error in List widget when using storeValue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using storeValue with `currentIndex` in Listwidget is giving linting error.

### Steps To Reproduce

1. Drop List widget
2. On the image in list widget, bind onClick to `{{ storeValue('a',currentIndex)}}`. Make sure there is no space between comma and `currentIndex`.
3. Refresh the page and check

[2022-04-04 14:16] Nikhil-Nandagopal commented on #12560
## Stats
| Stat | Values |
| ------------- | ------------- |
| Upvotes   |  |
| Commentors   |     |
| Reach     |  |
| Effort      |  |
| Impact    |  |

[2022-04-04 15:12] vinay-appsmith opened #12562 "Tab components not per design"

[2022-04-04 15:17] #12562 closed, assigned to nobody

[2022-04-04 15:18] vinay-appsmith commented on #12562
Testing a Zapier integration with Notion and Github. This was a test issue that was created as part of the test.

[2022-04-04 15:25] #12558 closed

[2022-04-04 16:05] Vidushi-Gupta opened #12563 "[Template]: Hotel Management dashboard"
### Title

Hotel Management dashboard

### Objective

The use case for this app is in the hospitality industry with a multi-user group. The following app aims to achieve user/role based access to the dashboards.

The app consists of the following 3 pages:

1. Room management dashboard: This page shows the current availability of rooms and the update operation around the room database. The statisti

[2022-04-04 16:11] rohan-arthur opened #12564 "[Bug]: arithmetic addition fails on select widget's selectedOptionValue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have four select widgets, like so:
![Screenshot 2022-04-04 at 21 28 41](https://user-images.githubusercontent.com/94514895/161584490-281c1f9a-ab67-49e4-aacf-6433faec64e2.png)

Each of these select widgets has a static specification of values 1 to 10, as follows:
![Screenshot 2022-04-04 at 21 30

[2022-04-04 16:22] rohan-arthur commented on #12564
wrong formula closing issue

[2022-04-04 16:26] #12432 closed

[2022-04-04 16:26] felixsuarez0727 commented on #12432
It was decided not to go further with this solution. Changes won't be merged into `master`. No integration on PROD had this property added to it.

[2022-04-04 17:59] felixsuarez0727 opened #12565 "[Enhancement]: Automatically select an authentication option for SaaS Integrations datasource creation."
Each SaaS Integration could have several types of authentication, by default the first option of the authentications should be selected.

Nidhi suggests that we use the `initialValue` property to automatically show the first value out of the array of entries in the datasource configuration. This can be applicable even to cases where we have multiple auth types.

This is an example of the current b

[2022-04-04 18:23] felixsuarez0727 commented on #10539
Regarding 1, integration has several types of authentication, by default the first option of the authentications must be started. But this is an example of the current behavior

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/52ac6201-96ee-4f03-9d2b-4a840c5f1a6c)

For more details see #12565

[2022-04-04 19:56] Rishabh-Rathod commented on #12520
## RCA document:

### What is the root cause of this issue?

It was noticed that [rfdc](https://github.com/davidmarkclements/rfdc) clone doesn't support regex cloning and instead converted them to empty object `{}`.

Due to this, we noticed differences between old and new unEvalTree showed regex value differences in table widget validation paths.

These differences led to re-evaluation of few tabl

[2022-04-04 21:44] ame-appsmith opened #12570 "[Bug]: Inconsistent Behavior When Launching Empty Duplicated App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When creating an empty app, then duplicating it, the two (2) apps have different behavior when launched.
When launching the original app, it displays this screen:
![image](https://user-images.githubusercontent.com/101268423/161636868-a96511ad-cc5b-4ae9-bf5e-66abbd7dcdbe.png)

When launching the du

[2022-04-05 04:18] prsidhu commented on #12554
@dilippitchika This happens when the provided defaultValue is a simple string ("GREEN") instead of an object ({ "label": "Green", "value": "GREEN" })

[2022-04-05 04:22] dilippitchika commented on #12554
@prsidhu understood, I did not try with the object notation. We are still fixing this right?

[2022-04-05 04:37] dilippitchika opened #12572 "[Bug]: Dropdown popover in the property pane needs a max height after which content scrolls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Today all the dropdowns used in the property pane don't have a max height property. This hides data when the screen is a bit small and the user doesn't know that more data exists.

### Steps To Reproduce

1. Add a JSON form widget or a datepicker widget
2. Click on the JSON form -> Field type or d

[2022-04-05 04:49] dilippitchika commented on #11624
@vivekverma2312 is this happening anywhere else in mac? Or we only checked windows?

@somangshu whom can we assign this to? I believe this is clearly reproducible in windows machines.

[2022-04-05 05:03] RakshaKShetty commented on #11272
UI Is not yet ready to test

[2022-04-05 05:04] dilippitchika commented on #11838
@ramsaptami still wasn't able to reproduce it, added screenshots. I ran the query on page load and tried. Not sure what i am doing differently

![Screenshot 2022-04-05 at 10 32 36 AM](https://user-images.githubusercontent.com/19730984/161682369-1b97fa33-7412-4054-a5bd-2c31034671fd.png)
![Screenshot 2022-04-05 at 10 32 27 AM](https://user-images.githubusercontent.com/19730984/161682364-17d44356-8ee

[2022-04-05 05:34] Nikhil-Nandagopal commented on #12329
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Upvotes   |  |
| Commentors   |     |

[2022-04-05 05:35] #4182 closed

[2022-04-05 05:37] dilippitchika commented on #11384
@japrogramer @isaacrj can you both review the above comment and let us know if you are facing the same issue. If not, please provide us with a screen-recording of the issue

[2022-04-05 05:39] btsgh commented on #10613
Discussed with @aswathkk - since this is done in Theming EPIC and It’s not merged in to release yet, will wait for the merge into release to proceed with testing.

[2022-04-05 05:55] dilippitchika commented on #12308
Needs triaging:

We need to understand if this is happening because of any code in the table widget or because of the evaluations.

Please check our a-force app to understand the empty table issue.

[2022-04-05 05:56] dilippitchika commented on #12308
Reach - 303
Impact - High

[2022-04-05 06:10] somangshu commented on #4182
@Tooluloope @wmdev0808 was it notified to the user-education-pod about this change, this will need documentation change for sure.

cc @ajinkyakulkarni @Pranay105 @dilippitchika

[2022-04-05 06:15] somangshu commented on #11624
This is happening on windows and as said above and also on safari on mac. @techbhavin please triage to identify the problem here

[2022-04-05 06:21] somangshu commented on #6518
I am seeing a concern here, When the header width is reduced the important functionality like search etc are hidden and not accessible to the user, a weird scroll appears but I dont understand how to move it. Is this expected? @momcilo-appsmith @dilippitchika.

cc @techbhavin

[2022-04-05 06:24] somangshu commented on #12359
Dev note:
- [ ] point out implementation plan
- [ ] Create a QA checklist if a migration is involved (discuss internally)

[2022-04-05 06:28] dilippitchika commented on #6518
Was not aware this was being done, the design is still being discussed on here - https://www.figma.com/file/aJ2Hwz9gH5AK6zaRYtZV8a/Table-widget-update?node-id=846%3A72237

@somangshu can we remove this change from release for now and add this back to needs design?

[2022-04-05 06:31] btsgh commented on #6518
Tested on Release and here are my observations -
**Working as per requirement** - (As per the figma doc and dp mentioned in https://github.com/appsmithorg/appsmith/pull/10971), the pagination control moves correctly when table is resized to extra small.

**However, the following are not as per required behaviour:**
 - The controls and do not move smoothly as and when you drag the widget (This was

[2022-04-05 06:36] dilippitchika commented on #5915
Reach: 288 in 6 months

[2022-04-05 06:38] somangshu commented on #6518
- @btsgh for the first point - I dont think the behaviour is relevant to the app viewer and hence not an important issue to solve.
- For the second point, I agree to your observation, this is not an Appropriate behaviour. @momcilo-appsmith Need you comments on this.

Compared to the production environment, this commit leaves some functionality in a not usable state. Hence I agree to @dilippitchika

[2022-04-05 06:41] dilippitchika commented on #10219
Reach: 98
Impact: Medium

[2022-04-05 06:48] dilippitchika commented on #10213
Reach: 42 in 6 months
Impact: Medium

[2022-04-05 06:54] dilippitchika commented on #10182
Reach: 211
Impact: Low

[2022-04-05 07:03] dilippitchika commented on #11828
Hey @shashi-donon why is it this way? I need more information to triage this better. Is this being done for a specific reason?

[2022-04-05 07:06] dilippitchika commented on #7263
Reach: 258 in last 6 months
Impact: High

[2022-04-05 07:17] dilippitchika commented on #7757
Reach: 554 min in 6mos
Impact: High

[2022-04-05 07:20] dilippitchika commented on #10680
Reach: 25 in last 6 mos
Impact: Low

[2022-04-05 07:22] dilippitchika commented on #8210
Reach: 250 in last 6 months
Impact: High

[2022-04-05 07:43] jnikhila opened #12581 "[Docs]: Update Async function settings"
Create a sample app to demonstrate the Async function settings

[2022-04-05 07:43] Rishabh-Rathod opened #12582 "[Task]: fix unexpected regex differences between old unEvalTree and newUnEvalTree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Issue reported by @SatishGandham on [slack](https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1648809100362959)

<img width="868" alt="Screenshot 2022-04-05 at 1 27 31 AM" src="https://user-images.githubusercontent.com/23132741/161704037-96601240-4ca5-4851-904b-a2088ced7166.png">

[2022-04-05 07:45] Rishabh-Rathod opened #12584 "[Task]: RCA unnecessary re-rendering of AppViewerPageContainer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Issue reported by @SatishGandham

### SubTasks

<img width="1920" alt="Screenshot 2022-04-05 at 12 57 38 PM" src="https://user-images.githubusercontent.com/23132741/161704539-f39fabf0-b657-486c-825e-3f29079411e0.png">

[2022-04-05 07:46] #12454 closed

[2022-04-05 07:47] dilippitchika commented on #11142
Missed this for some reason, I will create a template and track this forward.

[2022-04-05 07:49] jnikhila commented on #11881
@ApekshaBhosale / @rohan-arthur / @Pranay105 - Please review the doc - [updated version Async function settings](https://docs.google.com/document/d/1kgu33a_vwyjTMivbtfO9yh3eLtoHbAk4NxWTg7lmEpI/edit#heading=h.90i81dhulqd)

[2022-04-05 07:59] ashit-rath commented on #9837
@somangshu Can we bump up the priority of this issue? As the JSONForm has gone into production, users would start seeing these as fields more often and get confused. Internally also we got a lot of feedback regarding this confusion when Table.selectedRow is bound to JSONForm source data

[2022-04-05 08:03] btsgh commented on #10657
Tested the feature in Release. Works fine. Can tab through B and I buttons in Font Style, and click Enter to select and apply through Keyboard. It is now keyboard accessible.

[2022-04-05 08:07] #12458 closed

[2022-04-05 08:44] prapullac commented on #11055
Closing the issue as it is working as expected

[2022-04-05 08:44] #11055 closed

[2022-04-05 08:45] prapullac commented on #10909
Closing the issue as it is working as expected

[2022-04-05 08:45] #10909 closed

[2022-04-05 08:45] prapullac commented on #10910
Closing the issue as it is working as expected

[2022-04-05 08:45] #10910 closed

[2022-04-05 08:46] praveenkumarKajla opened #12587 "[Bug]: Changing MongoDB URI makes the container fail to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i update mongodb uri to custom one rather than localhost this happens (AWS AMI)

[code]

### Steps To Reproduce

1. Update mongodb uri in docker.env or from admin settings
2. restart using docker restart appsmith

### Public Sample App

_No response_

### Version

Self Hosted AWS AMI v1.3

[2022-04-05 08:46] prapullac commented on #11086
Working as expected hence closing the issue

[2022-04-05 08:46] #11086 closed

[2022-04-05 09:32] ashit-rath opened #12588 "[Task]: Extend stylesheet resolution logic to support childStylesheet in PropertyControl"

[2022-04-05 09:34] eco-monk opened #12589 "[Feature]: API Workflows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A ui assisted way to work with complex API/Query flows.

e.g. postman's flow UI
<img width="1368" alt="image" src="https://user-images.githubusercontent.com/66776129/161724329-cc8ebbd4-733b-428c-8694-ca332e63fdce.png">

### Why should this be worked on?

While promises provide a lot of flexibility to

[2022-04-05 09:42] dilippitchika commented on #9837
Current solution in my mind
- Do not expose `__primaryKey__` and `__originalIndex__` from selectedRow

This doesn't impact any user currently from our current telemetry system

[2022-04-05 10:27] leotom2000 opened #12591 "[Bug]To implement Mongo Unit Test for issue 10114 - Docker image issue"
Running Maven test end up in a issue of Can't get Docker image.
No code issue was identified, the missing images were pulled still the same issue exists in  development environment.
Need to write unit Test for below issue
https://github.com/appsmithorg/appsmith/issues/10114

[2022-04-05 10:27] dilippitchika commented on #11624
Reach - 158 in 6 months
Impact - High

[2022-04-05 10:29] dilippitchika commented on #10830
Reach: 215 at-least in last 6 months
Impact: Low

[2022-04-05 10:32] dilippitchika commented on #12359
@somangshu making it lower priority, let's not pick this for now because the no. of users who have encountered this currently is too low.

[2022-04-05 11:03] isaacrj commented on #11384
@dilippitchika I can confirm that this is definitely a part of the issue: the visibility of a column is tied to its position. It is not limited to visibility: it happens with any other column properties, at least when the change occurs due to a change in the property order of the documents retrieved from a data source.

[2022-04-05 11:03] sumitsum commented on #2284
Meeting updates:
* create re-usable components from REST API on server side - @sumitsum
* create editor for query body and query variable - @AmanAgarwal041
* share pagination implementation with team to gather feedback - @sumitsum
* add test scenarios to PRD - @rohan-arthur
* create test document - @prapullac

[2022-04-05 11:30] #12513 closed

[2022-04-05 11:31] RakshaKShetty commented on #8508
reopening the issue we can repro it when app is imported in the new org

[2022-04-05 11:33] Rishabh-Rathod opened #12593 "[Task]: Calculate possible performance improvement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] onPageLoad calls on server
- [ ] save dependencyMap on server
- [ ] createFirstTree cached for view mode on server

[2022-04-05 11:48] #7554 closed

[2022-04-05 11:59] pranavkanade commented on #11384
@dilippitchika this happens in both edit & deploy mode.
https://www.loom.com/share/44d7972449174a41a7df901645434327

[2022-04-05 12:01] Tooluloope commented on #11384
Thanks, @isaacrj @vivekverma2312

[2022-04-05 12:30] #12453 closed

[2022-04-05 12:34] ankitakinger opened #12594 "[Task]: Add more cypress tests for Admin settings page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-05 12:36] shwetha-ramesh commented on #11533
@keyurparalkar i
15. Input widget shows theme border highlight on migration
![image](https://user-images.githubusercontent.com/92293815/161754600-d1f8bfa2-3587-4301-a6f0-aedbf5171d9a.png)
![image](https://user-images.githubusercontent.com/92293815/161754632-08918d57-7ad5-4231-a21e-2dc27d906819.png)

16. Theme is applied on List buttons on migration
![image](https://user-images.githubusercontent.co

[2022-04-05 12:41] abhvsn commented on #11927
@ajinkyakulkarni this is not related to `Git Version Control` feature, we have seen this happening to the applications which are not connected to git as well.
@Rishabh-Rathod this is not reproducible but we have seen this happening

[2022-04-05 12:51] somangshu commented on #9837
@Tooluloope can you pick this up. Should not be a big change

[2022-04-05 12:54] #12130 closed

[2022-04-05 12:54] dilippitchika commented on #11384
@pranavkanade thanks for the video, really clear now

[2022-04-05 13:09] RakshaKShetty opened #12595 "[Bug]: The app visibility toggle is not set to public after git merge operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The app visibility toggle is not set to the public after the git merge operation
#11682

### Steps To Reproduce

1. Connect an app to git repo
2. Create branch from the main branch
3. Make the app public
4. Add a widget or page or make any changes and then do commit + push
5. Now merge the branch

[2022-04-05 13:09] nidhi-nair opened #12596 "[Bug]: User set on page load actions get added twice if not all of them are identified in dependency map"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If Api1 and Api2 are marked to be run on page load manually, and only Api1 is referred to in a widget, Api1 gets added twice in the scheduling order.

### Steps To Reproduce

1. Create Api1 and Api2. Mark both to be run on page load
2. Create Table1 and fetch its data from Api1
3. Check on page lo

[2022-04-05 13:30] #12588 closed

[2022-04-05 13:47] Rishabh-Rathod commented on #9782
As we have already added docs for promises mentioning about returning of promise is needed in Appsmith here - https://docs.appsmith.com/core-concepts/writing-code/javascript-promises#promise-methods

Can we close this issue @hetunandu

[2022-04-05 14:08] jnikhila opened #12598 "[Docs]: How to deploy Appsmith on Google Cloud run"
A writeup to be added under setup Appsmith for Google Cloud Run.

Link to [Community](https://community.appsmith.com/t/serverless-stateless-deploy-google-cloud-run/788/3)

[2022-04-05 14:18] ashit-rath opened #12599 "[Task]: JSONForm submit/reset button should always be at the bottom of the form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

<img width="618" alt="Screenshot 2022-04-05 at 7 32 22 PM" src="https://user-images.githubusercontent.com/88306433/161774453-1c6c35a8-ce23-4069-aa07-18f2e5ab3ade.png">

[2022-04-05 14:37] nidhi-nair opened #12600 "[Bug]: When REST API authentication fails with error response status, no error message is shown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The page redirects to the new datasources pane, and has the correct query param to indicate failure, but there is no toast message to let users know that their authentication has not succeeded.

### Steps To Reproduce

1. Create a REST API with invalid Oauth2 credentials
2. Try to authenticate and

[2022-04-05 16:11] felixsuarez0727 opened #12602 "[Bug]: When an action was delete, it doesn't delete the options actions automatically"
In AppSmith Test, an "Update Object" option is displayed, but this actions does not exist, so they have to remove manually

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/632cd736-d8bc-4e03-926d-3219038a36a5)

Need find a way to remove it automatically

[2022-04-05 16:13] Parthvi12 opened #12603 "[Bug]: Git import modal shows the wrong text"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="535" alt="Screenshot 2022-04-05 at 9 29 40 PM" src="https://user-images.githubusercontent.com/80334441/161796690-0d9f7246-14e1-443d-ab44-0b7446b150b0.png">

It says "Create an empty git repository and paste the remote URL here."  Although for git import we are using repository which al

[2022-04-05 17:08] btsgh commented on #12314
Tested on Release. Found to be fixed.
<img width="864" alt="Bug_12314_1" src="https://user-images.githubusercontent.com/101863839/161811701-b0b280a3-2105-48e2-91a2-1e46d6ebb04a.png">
<img width="1109" alt="Bug_12314_2" src="https://user-images.githubusercontent.com/101863839/161811724-416bdfde-5a60-4077-bc9c-46cb70a90464.png">

[2022-04-05 17:28] btsgh commented on #12033
Tested in Release. Generate page now works for both Amazon S3 data source as well as Mongo DB data source. No errors observed.

[2022-04-05 17:34] prapullac commented on #4880
Waiting for client side changes

[2022-04-05 17:47] bolshoytoster commented on #12603
@Parthvi12 if it just need to be changed to something like 'Paste the remote url here:' I could open a PR now.

[2022-04-05 18:36] AS-Laguna commented on #3613
A user would like to use a buttons `isDisabled` property, which doesn't currently exist in the Form Button Widget.

[2022-04-05 20:10] ankurrsinghal opened #12604 "Task: [Unit Test] Write a function to update rows for current widget, and parents going up in the tree"

[2022-04-05 20:11] ankurrsinghal opened #12605 "Task: [Unit Test] Write a function to reflow widgets based on the above, update rows (possibly club the two for performance)"

[2022-04-05 20:11] ankurrsinghal opened #12606 "Task: Create reducers for storing auto-height layout for computations"
Auto-height computations work well when we have a data structure based on the current DSL of the page generated and ready.

This task is to create reducers and relevant actions to store this data structure.

[2022-04-05 20:41] felixsuarez0727 opened #12607 "[Feature]: Add the ability to uninstall plugins the organizations."
When create a new integration and it is installed in the organization then you can not uninstall the plugin.

Step to reproduce
    1. Create a new integration
    2. Install in the organization
    3. If you deleted de integration on SaasApp it still appears in the organization.

[2022-04-06 01:48] sharat87 commented on #12587
@praveenkumarKajla, can you try wrapping the value of your `APPSMITH_MONGODB_URI` in single quotes? Like this:

[code]

This should fix your problem. Let us know how it turns out. Thanks!

[2022-04-06 02:31] sumitsum commented on #12556
(1) The issue with creating a new REST API query is not reproducible any more. Checked with Saptami with this as well.
(2) The issue with creating a new REST API query from imported datasources is because of datasource config being missing.
Re-assigning this to @AmanAgarwal041 for further investigation.

[2022-04-06 04:46] sbalaji1192 commented on #9837
@Tooluloope We have excluded __primaryKey__ and __originalIndex__ from selectedRow and triggeredRow in Table v2. please reach out to me if you need help.

[2022-04-06 04:55] Parthvi12 commented on #12603
@bolshoytoster Hey, thanks. Please go ahead :)

[2022-04-06 05:23] btsgh commented on #12458
Tested on Release. Works fine. A long Multi-select Dropdown closes fine when there is a label also attached.
https://www.loom.com/share/755ef58bee324286b28567bbac26ad98

[2022-04-06 05:34] jsartisan commented on #3369
Plan of action is:
- to finish all QA bugs + Table widget + Button group updates by Wednesday @jsartisan
- to complete everything around migration and get migration tested from QA. There might be few edge cases around JSON_FORM that can stretch upto thursday/friday @keyurparalkar @shwetha-ramesh .
- to complete all the updates required on JSON_FORM to make it work with theming - @ashit-rath
- to s

[2022-04-06 05:38] ashit-rath opened #12608 "[Task]: Grouping common widget properties configs"
We are slowly moving towards widgets having common properties,

Eg.
Label properties
Theming properties
Validation properties
etc.

These properties config are repeated in every widget and repetition is prone to inconsistency.

We need to find a way to make these common properties available and extendable in a seamless fashion.

Suggestion:
We could start treating these chunks of properties as plu

[2022-04-06 05:54] #12587 closed

[2022-04-06 05:54] sbalaji1192 commented on #12308
@dilippitchika This looks like due to evaluations. `filteredTableData` used by the table to render the body is a derived property and requires an evaluation cycle. but the header is generated from primary columns which is part of DSL and doesn't require an evaluation cycle.

CC: @Rishabh-Rathod

[2022-04-06 06:00] dilippitchika commented on #12308
@sbalaji1192 then is it possible to delay the loading of the header as well till evaluations are complete?

[2022-04-06 06:01] cheshenglin opened #12609 "[Bug]: MultiSelectTreeWidget unable to select an option whose value is with parentheses"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I use a MultiSelectTreeWidget with some option whose value is with a parentheses character, the option value would not show in selectedOptionValues, even the UI is selected as usual. After test with another similar widgets, I found only MultiSelectTreeWidget got such bug. And not only parenth

[2022-04-06 06:07] sbalaji1192 commented on #12308
@dilippitchika Table doesn't know whether the `filteredTableData ` is not computed or is empty (tableData is empty). so we cannot make that decision inside the table widget.

[2022-04-06 06:34] #12596 closed

[2022-04-06 06:42] Rishabh-Rathod commented on #11927
@abhvsn Can you add more details to the issue?

#### 1. What did we notice?
#### 2. Where could the problem be?
#### 3. Which pod might be responsible for this?

Initially, it was tagged to FE coders pod which for now handles only the frontend side of JS Editor, but it seems the issue lies in the backend.

[2022-04-06 06:44] dilippitchika commented on #4653
Reach: 20
Impact: Low

[2022-04-06 06:48] btsgh commented on #11714
Tested this in Release. Discussed scenarios with @Tooluloope and found these behaviours which is expected.

<img width="1249" alt="Bug11714_2" src="https://user-images.githubusercontent.com/101863839/161912103-4f772774-87de-4cdb-8f1a-9038c7c74eb1.png">

<img width="960" alt="Bug11714_1" src="https://user-images.githubusercontent.com/101863839/161912073-ce242c73-2f3a-4287-842b-840876eb2647.png">

<

[2022-04-06 07:10] IAmAnubhavSaini opened #12612 "[Task]: Remove segment header line from git branch list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The design system update was taken in #12530.

This task will update the BranchList component to not use the styled rule from ListSegmentHeader component.

[2022-04-06 07:12] jnikhila commented on #8210
Properties - TableRowCount and onPageSizeChange added and available on [docs.appsmith.com](https://docs.appsmith.com/widget-reference/table).

[2022-04-06 07:22] #12446 closed

[2022-04-06 07:32] momcilo-appsmith commented on #6518
@somangshu I am linking a new design we are working on currently, I will share it with others in Slack today as well.
https://www.figma.com/file/aJ2Hwz9gH5AK6zaRYtZV8a/Table-widget-update?node-id=846%3A72237

[2022-04-06 07:47] Tooluloope opened #12615 "[Bug]: MultiSelect Row checkbox in Table widget not aligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Enable MultiSelection in Tablewidget and checkbox dont align

### Steps To Reproduce

<img width="669" alt="Screenshot 2022-04-06 at 08 46 46" src="https://user-images.githubusercontent.com/31691737/161922920-7cacecba-6164-4b9d-b08a-dad141afaf9c.png">

### Public Sample App

_No response_

### Ver

[2022-04-06 07:56] Somashekar-B opened #12616 "[Feature]: Datalist as in html"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Please add a feature like Datalist tag in html..
that is it provides auto suggestions for the normal input field

Reference
[https://www.w3schools.com/tags/tag_datalist.asp](url)

### Why should this be worked on?

This is most required feature to make a better user experience application by making th

[2022-04-06 08:03] momcilo-appsmith commented on #6518
Edited the [link](https://www.figma.com/file/aJ2Hwz9gH5AK6zaRYtZV8a/Table-widget-update?node-id=1128%3A77992) in my comment

[2022-04-06 08:21] prapullac commented on #12517
UQI related issue

[2022-04-06 08:35] jnikhila commented on #12376
@trishaanand - Could you please add details to the ticket?

[2022-04-06 08:37] somangshu opened #12617 "[Bug]: Datepicker done not need time picker control for the end user when set date format does not have timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the date-picker widget, the time control is shown by default even when the date format does not consist of the time stamp. We have a separate property `time precision` which hides / shows the time control on the date picker popup for the end user. This is ideally not required and things can be

[2022-04-06 08:42] trishaanand commented on #12376
As part of this documentation, we can ask the user to create an application on their identity provider for Appsmith and ask the user to copy paste all the required fields onto Appsmith. Here we can add explicit call outs for scopes and username attribute fields.

[2022-04-06 08:56] somangshu commented on #3613
@AS-Laguna Once we complete the above activity the form button will get replaced by a normal button and hence the isDisabled property will be available for the dev.

[2022-04-06 09:17] rohan-arthur opened #12618 "[Bug]: dummy - ignore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

for testing prioritisation matrix

### Steps To Reproduce

ignore this issue

### Public Sample App

_No response_

### Version

ignore

[2022-04-06 09:18] rohan-arthur commented on #12618
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-04-06 09:35] kocharrahul7 commented on #8882
This has been changed to a new experience [here](https://github.com/appsmithorg/appsmith/pull/10453), this is the updated screen

@ramsaptami please have a look

![Screenshot 2022-04-06 at 3.02.01 PM.png](https://images.zenhubusercontent.com/6194ed835e414ef30494a467/edc6e666-ab53-43e6-ba14-deb2e39a752b)

[2022-04-06 09:37] #8969 closed

[2022-04-06 09:53] dilippitchika commented on #11624
Above estimate is just to rank better, not a real estimate yet

[2022-04-06 09:54] dilippitchika commented on #12554
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | 0.25 |

[2022-04-06 09:57] dilippitchika commented on #12143
@Tooluloope i believe #12554 and this are related, please confirm so that we can track in one place only

[2022-04-06 10:01] felixsuarez0727 commented on #12148
Reference documentation added to Notion at: The Backend Coder's Pod > SaaS Integrations Wiki > Development Lifecycle > SaaS Integration App Development (Branching Strategy). [Link here](https://www.notion.so/appsmith/Development-Lifecycle-a6c9cf1b12374920b4f04186efb29520#02a268352b5d414396345706be670b34)

[2022-04-06 10:01] #12148 closed

[2022-04-06 10:09] kocharrahul7 commented on #3003
This was solved in [this](https://github.com/appsmithorg/appsmith/pull/9811) PR

[2022-04-06 10:09] #3003 closed

[2022-04-06 10:14] eco-monk commented on #12243
[Sample app](
https://drive.google.com/file/d/18m5N_B3heLxGXlZlBj6HDSQydB_M38rZ/view?usp=sharing) to reproduce
Happens only when a JsObject refers another JSObject
![image](https://user-images.githubusercontent.com/66776129/161952748-978f8919-903e-4b3d-a035-e316dab74c23.png)

[2022-04-06 10:17] Rishabh-Rathod opened #12620 "[Feature]: Dynamic Input inside Table widget with Inline Editing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Discord user query

The user’s use-case requires each row of a column to be dynamic type according to JS logic, what I mean by that is a single column needs to have a text input, number input, switch, and multi-select according to the type sent via JS.

The user actually needs to modify the TableData.

[2022-04-06 10:22] dilippitchika commented on #12359
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2 |
| Effort (months)  | 0.5 |

[2022-04-06 10:26] dilippitchika commented on #11279
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 150 |
| Effort (months)  | 0.5 |

[2022-04-06 10:35] ohansFavour commented on #12528
@arminus, while we work on this, a workaround is this.

1. Change `cyclic function` to

 cyclic: (text) =>{
 storeValue("commentText", text)
 }

2.  Change `Table2.onclick` to

{{ JSObject1.cyclic(Table2.selectedRow.text)}}

[2022-04-06 10:49] dilippitchika commented on #10624
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.1 |

[2022-04-06 10:52] dilippitchika commented on #12235
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 20 |
| Effort (months)  | 0.5 |

[2022-04-06 10:55] dilippitchika commented on #12161
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 150 |
| Effort (months)  | 0.5 |

[2022-04-06 11:04] YogeshJayaseelan opened #12622 "[Bug]: The table sub menu options goes beyond the table on minimising and maximising the browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is observed that when the table has a menu column with submenu options and when the table is slightly resized to a smaller table and keeping the submenu options open and by minimising and maximising the browser the submenu options goes beyond the table

https://www.loom.com/share/cceadd3c0a3d40

[2022-04-06 11:27] felixsuarez0727 opened #12623 "Integration of Hugging API through SaaS Integration Manager"

[2022-04-06 11:29] YogeshJayaseelan opened #12624 "[Bug]: On trying to copy a grouped smaller widgets the size of the widget increases each time when the widgets are grouped and pasted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is observed for all the smaller widgets - when the widget is copied and pasted on the canvas and upon grouping the original and copied widget and pasting again on the canvas the widget size increases each time when the same process is repeated. Refer video below

[![LOOM DEMO](http://cdn.loom.c

[2022-04-06 11:43] ashit-rath opened #12625 "[Bug]: JSONForm select field does not open when used in an nested field (Array/Object)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The select field menu does not open when it is added to an Array Item/Array of Object/Object or any nested structure.

### Steps To Reproduce

1. Add a JSON Form
2. Add a new custom field
3. Change the type to Object
4. Add a new field under that object
5. Change the newly added field type to sele

[2022-04-06 11:57] mohanarpit commented on #11619
@vuiets @hiteshjoshi Can we please add details to this issue? What events are missing? What needs to be added? This will make it easier for us to grok this issue & estimate it properly.

[2022-04-06 12:30] shwetha-ramesh opened #12627 "[Bug]: UI overflow when organization name is long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When organization name is too long and when user shares the app the modal that appears has overlapping of ellipsis and x icon

![image](https://user-images.githubusercontent.com/92293815/161974269-cbd79e3d-2f5a-4373-bc0f-cf6a0387c3f0.png)

### Steps To Reproduce

1. In release create a new organiz

[2022-04-06 12:37] chandannkumar opened #12628 "[Bug]: Box Shadow option of Icon button widget gets freeze when onClick event is in use inside Statbox widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Expected Behavior: The behavior of icon widget should be same in all container type widgets
https://www.loom.com/share/c897224e4d2c48c095538a7678c1f715

### Steps To Reproduce

1. Add a stat box widget onto the canvas
2. Add a icon widget inside statbox widget
3. Select any action to take on ### o

[2022-04-06 12:51] shwetha-ramesh opened #12629 "[Bug]: Step 9 on the tutorial does not deploy the application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the last step of the Welcome tutorial when user deploys the application user is redirected back to edit mode and a modal opens "do you want to end the tutorial". On clicking Cancel the user remains in Edit mode and have to click on Deploy once again.
![image](https://user-images.githubuserconte

[2022-04-06 12:57] RakshaKShetty opened #12630 "[Bug]: Insert query fails in mysql crud pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 Insert query fails in mysql crud pages
![image](https://user-images.githubusercontent.com/45958978/161977680-45b542f9-ef34-4167-81e9-4679aae3fc25.png)

### Steps To Reproduce

1. Generate a My sql crud page
2. Now click on insert button
3. Add  data in the input fields
4. click on submit button
5

[2022-04-06 13:06] btsgh commented on #11533
19. https://www.loom.com/share/063ee62c253c42c09213c5e5704b2669
Steps -
- Drag and drop say a button widget 
- (Theming is Default)  
- Click on Change Theme.  
- Choose Sharp theme and click on Apply Theme. 
- A message comes to the effect “Theme Sharp Applied.. Undo” 
- Click Ctrl-Z / Cmd-Z from keyboard to undo the theme.  
- The theme is undone, but the message on top still remains for a while

[2022-04-06 13:08] felixsuarez0727 opened #12631 "[Feature]: Hugging Face Inference API Integration"
Docs: https://huggingface.co/inference-api

[2022-04-06 13:14] RakshaKShetty opened #12632 "[Bug]: The update query seems to be broken in mysql crud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The update query seems to be broken in mysql crud
 query for reference:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/161982794-f6b672b0-4f73-49bd-90af-ff5dee31cbbd.png">

### Steps To Reproduce

1. Generate a My sql crud page
2. Now click on insert button
3

[2022-04-06 14:13] rohan-arthur commented on #11927
Pranav helped with an example app where this is reproducible.
1. notice that there are duplicate named JS Objects
2. try to edit one of the js objects --> see internal server error

[app link](https://app.appsmith.com/applications/620dafe36b4b1e154a3c4946/pages/620dafe36b4b1e154a3c494b/edit/jsObjects/620dafe36b4b1e154a3c49a2?branch=revamp)

[2022-04-06 14:32] Nikhil-Nandagopal commented on #12616
@Somashekar-B thanks for the feature request. We have this widget tracked here #6928

[2022-04-06 14:32] #12616 closed

[2022-04-06 14:35] prapullac opened #12636 "[Bug]: POSTGRES CRUD : Table does not get populated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user tries to create a CRUD page it is observed that data does not get populated

### Steps To Reproduce

1) Click on Postgres data source
2) Click on generate page
3) Ensure to add table content
![Screenshot 2022-04-06 at 7 56 05 PM](https://user-images.githubusercontent.com/71753653/161

[2022-04-06 15:32] Rishabh-Rathod commented on #12630
This doesn’t seem to be related to frontend hence unassigning myself.

[2022-04-06 15:48] Aishwarya-U-R opened #12638 "[Bug]-[50]:Table Filter - Removing where clause does not rightly update the input text value but filtered result is fine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/162014415-d2238737-a184-4563-9c91-d46dd5ad2904.mov

### Steps To Reproduce

1. Drag drop table with some table data
2. Filter table with some input text
3. Add one more filter with different input text
4. Remove 1st filter added
5. **Observe : Whe

[2022-04-06 15:54] abhvsn commented on #11927
@rohan-arthur that was a different issue we are tracking this in #12000, but for the current issue we saw the application was crashing. @ApekshaBhosale and @AnaghHegde have observed this issue in their apps previously

[2022-04-06 17:34] dilippitchika commented on #12638
Great catch @Aishwarya-U-R 🏅 , we wouldn't have caught it. Probably there are some other items here which are undetected.

[2022-04-06 17:51] Rishabh-Rathod opened #12639 "[Bug]: Unexpected error in console due to current `isFunctionAsync` check"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1394" alt="Screenshot 2022-04-06 at 11 14 55 PM" src="https://user-images.githubusercontent.com/23132741/162036306-9748ce1b-d065-4577-bf28-13d8c1d9704f.png">

### Steps To Reproduce

1. Create an app with a Filepicker widget and an API name `Api1`
2. Create a JS Object with the code me

[2022-04-06 17:51] dilippitchika commented on #12638
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.5 |

[2022-04-06 17:53] noobyogi0010 commented on #11945
Hey @ramsaptami @Nikhil-Nandagopal
I would love to work on this issue. Is it still open for work?
Thanks!

[2022-04-06 17:54] Rishabh-Rathod commented on #12639
It was initially noticed in users' applications where we noticed more than 10 such errors in the console. It was confusing for users to determine if the application actually has error or not.
Also, console.log messages of unEval values were not expected and were making debugging hard.

[2022-04-06 18:03] Nikhil-Nandagopal commented on #12615
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1500 |
| Effort (months)  | 0.5 |

[2022-04-06 18:03] dilippitchika commented on #12628
@jsartisan cool bug, also happening in theming. Can you please add this to excel sheet?

[2022-04-06 18:04] Nikhil-Nandagopal commented on #9782
We also need to solve this without docs

[2022-04-06 18:04] dilippitchika commented on #12628
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5 |
| Effort (months)  | 0.5 |

[2022-04-06 18:15] Rishabh-Rathod commented on #12528
@ohansFavour with RCA can you please also add rough estimate here.

[2022-04-06 19:47] felixsuarez0727 opened #12641 "[Bug] In some cases, properties are not properly updated in the SaaS App"
In some cases there are some properties that are not selected when updating the values in the SaasApp. This occurs in:

- [Authentication is not removed when an integration is updated.](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fab4b07001219a3d0/issues/appsmithorg/appsmith/12521)
- [Not removing options when deleting an action](https://app.zenhub.com/workspaces/be-coders-pod-6167d73fa

[2022-04-06 23:38] Aishwarya-U-R opened #12642 "[Bug]-[300]:Table Filter - Reverts to previous Operator upon removing a Filter condition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/162090664-fdf49ef2-7a4f-4ca7-a616-db6838ec560c.mov

### Steps To Reproduce

1. Drag drop table with some table data
2. Filter table with multiple conditions with one operator, verify results
3. Now change the operator to another, verify results
4.

[2022-04-07 01:42] stillman0000 commented on #12352
@AS-Laguna - note: accidentally deleted the [sample app](https://app.appsmith.com/applications/6242582bc99df2369931addc/pages/6242582bc99df2369931addf).

[here](https://appsmith-promise-error.surge.sh/promise-error-message.json) I've uploaded the app export from the [discord thread](https://discord.com/channels/725602949748752515/760761686549463060/957746977083387914).

the new sample app is https

[2022-04-07 04:17] shwetha-ramesh commented on #11533
@keyurparalkar #MigrationTestingIssues

19. In Modal on Migration the Close button text is overlapped when Icon is added.
![image](https://user-images.githubusercontent.com/92293815/162119031-d35fe9be-ebc6-4244-83e6-edeec8d88931.png)

20. . Multi tree select, Multi select has theme highlight on migration
![image](https://user-images.githubusercontent.com/92293815/162119009-076dcc3c-920f-4fc0-93e8-

[2022-04-07 04:27] Tooluloope commented on #12143
close in favour of https://github.com/appsmithorg/appsmith/issues/12554

[2022-04-07 04:27] #12143 closed

[2022-04-07 04:33] ramsaptami opened #12643 "[Bug]: layoutOnLoadActions don't register query/js settings and hence on page actions don't get executed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

No page load actions either from queries or objects are registered on the `layoutOnLoadActions`

Sample app with various scenarios to test - https://release.app.appsmith.com/nested-calls/js-js-624dd82bbf89be21c7d4690f/edit

### Steps To Reproduce

1. Mark any API or JS object to run on page load a

[2022-04-07 04:44] SatishGandham opened #12644 "[Task]: Collect data on breakup of time taken by action execution on the backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

One of the things we can optimise to improve the first load time and applications performance in general is the execute calls. Some are taking upto 2seconds.

Before we start optimising them, we will need a breakup of the time taken between

- Time spent in making the api call, reading from db.
- Ser

[2022-04-07 04:48] SatishGandham commented on #12593
@Rishabh-Rathod, Isn't improvement by moving createFirstTree to backend obvious? We save whatever time we spend in creating first tree.

[2022-04-07 05:00] kocharrahul7 commented on #10176
https://app.appsmith.com/bulk-insert-update/bulk-insert-update-623cd37b4d9aea1b062b347b

[2022-04-07 05:00] #10176 closed

[2022-04-07 05:07] RakshaKShetty opened #12646 "[Bug]: The update button should not be enabled until all input fields are filled in crud page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The update button should not be enabled until all input fields are filled in crud pages
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/162124142-393f2994-8549-47e2-a661-a83fbbe4150f.png">

### Steps To Reproduce

1. Generate a My sql crud page
2. select any o

[2022-04-07 05:15] dilippitchika commented on #12225
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 150 |
| Effort (months)  | 1 |

[2022-04-07 05:19] dilippitchika commented on #12531
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 0.5 |

[2022-04-07 05:22] dilippitchika commented on #10486
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.5 |

[2022-04-07 05:24] akash-codemonk commented on #12636
Seems like an issue with the Table Widget or an evaluation issue. Going to the query page and returning back to the canvas, the data is visible in the table widget.

[2022-04-07 05:27] dilippitchika commented on #12642
Can we debug why this is happening, this will impact server side filtering feature #10486

[2022-04-07 05:28] dilippitchika commented on #12642
@Tooluloope please triage this and let us know the next steps when you are picking up #10486

[2022-04-07 05:28] vivekverma2312 opened #12647 "[Bug]: Auto-suggestion is not working for progress widget while binding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Observation 1: Auto-suggestion is not coming while binding
Observation 2: Now `Progress1.progress` is not functional. It has been changed to `Progress1.value`

https://watch.screencastify.com/v/MrAi0zeMMqfoMyj42Coo

### Steps To Reproduce

1. Drag and drop a Progress widget
2. Drag and drop a text

[2022-04-07 05:35] dilippitchika commented on #12636
@akash-codemonk @prapullac  unable to reproduce with the users postgres DB. Can you please share the app json with the data source for us to test?

[2022-04-07 05:39] #12430 closed

[2022-04-07 05:39] dilippitchika commented on #12624
@YogeshJayaseelan this is intended because today we use a container to group items. What is happening everytime you group this way is that you are adding new containers, so container 2 contains container 1 + new button. Hence the size difference.

[2022-04-07 05:39] #12624 closed

[2022-04-07 05:46] vivekverma2312 opened #12649 "[Bug]: Progress widget with circular type is showing wrong value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Uploading Screenshot 2022-04-07 at 11.09.37 AM.png…]()

### Steps To Reproduce

1. Drag and drop a Progress widget
2. Change the type to Circular
3. Change the progress to 55
4. Observe that value displayed in 5.000000000001
5. It is observed only for some values [55-58]

### Public Sample App

[2022-04-07 06:00] somangshu commented on #12649
@vivekverma2312 please re-upload the attachment here

[2022-04-07 06:03] yaldram commented on #12649
Please round the value - ` {`${Math.round((progress / MAX_VALUE) * 100)}%`}` check -appsmith/app/client/src/widgets/CircularProgressWidget/component/index.tsx Line 112

[2022-04-07 06:06] akash-codemonk commented on #12636
It works fine when you open an app with the generated page. It also works once you switch to some other view.

Steps to repro on release.
- Create an app
- Generate a page from the users mock postgres datasource.

https://user-images.githubusercontent.com/67054171/162130636-a6864db4-2560-48c5-8d2a-482fb5a6b2a5.mov

[2022-04-07 06:08] abhvsn commented on #12630
@Nikhil-Nandagopal have we made updates in the CRUD page template? I'm seeing the JSON form widget is used in the update and insert form. This is causing the issues as queries are updating the fields partially or failing completely. Can we please revert that change for now as backend will also need some change in how the replacement logic is handled in the queries.

[2022-04-07 06:11] RakshaKShetty commented on #12632
@Nikhil-Nandagopal  reopening the issue facing the same issue
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/162131972-5bad801e-9607-41ba-8cb0-7f310a662a28.png">

[2022-04-07 06:19] shwetha-ramesh opened #12650 "[Bug]: Select widget shows blank spaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Select widget shows blank spaces when more options are added.
https://loom.com/share/f7b8333ca2da4fae84fed6574dfea635
![image](https://user-images.githubusercontent.com/92293815/162132717-635ea4cb-d5ae-4bda-96f8-71e587e42f53.png)

### Steps To Reproduce

1. Drag and drop select widget
2. Add more

[2022-04-07 06:23] sumitsum opened #12651 "[Feature]: Firestore plugin: allow persisting of DocumentRef type in document"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

From community:
[code]

### Why should this be worked on?

Community request.
Firestore plugin enhancement.

[2022-04-07 06:26] dilippitchika opened #12652 "[Docs]: Updates to progress bar widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/widget-reference/progress-bar

### Describe the problem

Progress bar and circular progress bar have been merged - https://github.com/appsmithorg/appsmith/issues/10496

This will need a few changes in the current documentation

### Describe the improvement

**Updat

[2022-04-07 06:37] ramsaptami commented on #12643
Removing this as a release blocker since we're adding a `Beta` tag

[2022-04-07 06:44] dilippitchika opened #12653 "[Docs]: Form .hasChanges property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/widget-reference/form

### Describe the problem

We now support form.hasChanges as a binding within the form widget. This binding can be used to configure special behavior for the app viewer if they haven't saved or discarded the form yet

Issue link
https://github

[2022-04-07 06:45] Pranay105 opened #12654 "[Docs]: Update and fix Store Catalog Manager tutorial"

[2022-04-07 06:47] Pranay105 commented on #12654
https://docs.appsmith.com/tutorials/building-a-store-catalog-manager

[2022-04-07 06:57] Rishabh-Rathod commented on #12593
@SatishGandham As we discussed in the meeting, this is a high-effort task moving evaluation logic to the backend to be able to createFirstTree, and with numbers of how much time will it save, helps us prioritize it.

[2022-04-07 06:59] Nikhil-Nandagopal commented on #12636
Reverted the changes so this should be working when it's deployed in 30 mins

[2022-04-07 06:59] #12636 closed

[2022-04-07 06:59] Nikhil-Nandagopal commented on #12630
Reverted the changes so this should be working when it's deployed in 30 mins

[2022-04-07 06:59] #12630 closed

[2022-04-07 06:59] Nikhil-Nandagopal commented on #12632
Reverted the changes so this should be working when it's deployed in 30 mins

[2022-04-07 06:59] #12632 closed

[2022-04-07 07:00] somangshu commented on #12582
@Rishabh-Rathod please add an estimate here

[2022-04-07 07:15] #12556 closed

[2022-04-07 07:24] ramsaptami opened #12659 "[Bug]: Template apps aren't publicly accessible on first deploy. Needs an additional step to toggle public app setting for it to work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Template apps aren't automatically public even when the toggle has been set. We need to toggle public setting to off and then back on for the app to be recognized as public.

### Steps To Reproduce

1. Go to templates and fork any app to your organization
2. Deploy app and make sure the app has be

[2022-04-07 07:29] YogeshJayaseelan commented on #11485
@Tooluloope Reopening this issue as this issue is now reproducible on the current regression build(Dated 07/04/2022)

https://loom.com/share/d4dc9a18e048412789721e4556ad2b5f

[2022-04-07 07:31] chandannkumar opened #12660 "[Bug]: Blank alert appears on MultiSelect Widget when onFilterUpdate is configured to show alert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/660e2e96263248428ac9587671de45f6

### Steps To Reproduce

1. Add Multi select widget onto canvas
2. Enable Server Side Filtering
3. configure {{showAlert(MultiSelect1.filterText)}} in onFillterUpdate to view the notification
4. Add more pages in a application
5. Now chan

[2022-04-07 07:33] Parthvi12 opened #12661 "[Bug]: On importing template app through git import, template's name changes to that of git repository's name."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On importing a template app through git, its name is updated to that of git repository's name

### Steps To Reproduce

1. Fork a template into org
2. Connect it to git.
3. Import the connected app through git import.
4. Observe the name of application to be updated to repository's name.

### Publi

[2022-04-07 07:45] lovemyliwu opened #12663 "[Bug]-[2400]: Action creator onSuccess and onError reset to "No Action" led to error: Unexpected token ')' when triggering action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

after reset onSuccess handler to "No Action", page generate wrong callback function for onPageChange handler  Query `Users`

[code]

should generate `Users.run(() => {}, () => {})`

### Steps To Reproduce

1. create a query `Users` to fetch user list data
3. create a query `UserCount` to fetch rec

[2022-04-07 07:48] kocharrahul7 commented on #7745
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 0.07 |

[2022-04-07 07:58] ramsaptami commented on #11795
Re-opening since the evaluated value from binding is still not recognized
![image](https://user-images.githubusercontent.com/79509062/162149796-a2759577-2f35-451a-994f-57793dd7f691.png)

[2022-04-07 08:07] rohan-arthur commented on #4106
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 141 |
| Effort (months)  | 0.5 |

[2022-04-07 08:07] #12647 closed

[2022-04-07 08:18] Tooluloope commented on #11485
@YogeshJayaseelan could you confirm this happens to only TreeSelect and MultitreeSelect

[2022-04-07 08:20] somangshu commented on #11524
## Actionable

- [ ] With #11539, @arunvjn have resolved all the failing cypress tests, We will be closing this soon. We have seen a 300ms improvement with this change. 🎉
- [ ] #11553 need profiling, @arunvjn will set the benchmarks here. Currently there are many cypress tests failing here, That will be taken care of in the current sprint, We will target closing this. Based on the last profile by

[2022-04-07 08:21] rohan-arthur commented on #11385
mysql users in 3 months: 500
(guess, because no event available) of these, users who also used import application, 15%: 75

[2022-04-07 08:22] rohan-arthur commented on #11385
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 75 |
| Effort (months)  | 0.25 |

[2022-04-07 08:26] prapullac commented on #12636
After the changes have been reverted the issues seem to be resolved

[2022-04-07 08:26] prapullac commented on #12636
After the changes have been reverted the issues seem to be resolved

[2022-04-07 08:29] RakshaKShetty commented on #12632
The issue is resolved now

[2022-04-07 08:30] RakshaKShetty commented on #12630
the issue is resolved now

[2022-04-07 08:43] kocharrahul7 commented on #3284
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.25 |

[2022-04-07 08:46] kocharrahul7 commented on #1282
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 0.5 |

[2022-04-07 08:47] kocharrahul7 commented on #4468
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.25 |

[2022-04-07 08:49] kocharrahul7 commented on #10894
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 1|

[2022-04-07 08:51] Nikhil-Nandagopal commented on #11137
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | 1 |

[2022-04-07 08:57] YogeshJayaseelan commented on #11485
@Tooluloope It happens with TreeSelect and MultiTreeSelect Widgets

[2022-04-07 08:59] Tooluloope commented on #12642
@Aishwarya-U-R @dilippitchika  what's the expected behavior,
Should the filter not update till when the user clicks Apply?

[2022-04-07 09:04] Nikhil-Nandagopal commented on #12560
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-04-07 09:04] Nikhil-Nandagopal commented on #12560
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-04-07 09:05] vivekverma2312 commented on #12649
@somangshu
<img width="953" alt="Screenshot 2022-04-07 at 11 09 37 AM" src="https://user-images.githubusercontent.com/83569920/162163174-27faf6a6-ea5b-41b5-8f53-59f3fab98447.png">

[2022-04-07 09:06] Aishwarya-U-R commented on #12642
@Tooluloope  - **Expected - Operator & other conditions should remain intact until user changes it & not revert on a different action, here - deletion of a where clause** - as given in description above!

[2022-04-07 09:18] kocharrahul7 commented on #2602
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 1 |

[2022-04-07 09:36] Nikhil-Nandagopal commented on #12646
@RakshaKShetty this may not be necessary since empty is also a valid value

[2022-04-07 09:36] #12646 closed

[2022-04-07 09:36] #12560 closed

[2022-04-07 09:40] btsgh commented on #11533
23.
- Create a Form, add two input widgets and on Select widget.  
- On the Submit button, bind it to a query (Query1) such that it updates an excel data source.
- Apply a theme other than default 
- Change font to Montserrat or Ubuntu or any font 
- Deploy the app
- The font is seen as applied to the header region as well - ("<Appname>" … "Share" / "Edit App") and also on the bottom right "Built

[2022-04-07 09:41] Rishabh-Rathod commented on #12582
Hey @somangshu, as the core issue for this change was a bug https://github.com/appsmithorg/appsmith/issues/12520  where I added estimate for this and the above-mentioned issue was a side-effect of it which @SatishGandham noticed.

I opened this issue to keep track of that. It is not a new performance task but maybe a regression after this https://github.com/appsmithorg/appsmith/pull/11001.

I have

[2022-04-07 09:52] Nikhil-Nandagopal commented on #12618
We can still run this in closed state

[2022-04-07 09:55] btsgh commented on #11533
24. "Built on appsmith_" on the bottom right corner of deployed screen - If I change background colour on a theme, the "Built on appsmith_" background colour also gets impacted.
Since its a logo, the changes to canvas should not get reflected here. so background color should not reflect on that logo"
<img width="1022" alt="TDP_BuiltonAppsmith" src="https://user-images.githubusercontent.com/1018638

[2022-04-07 10:00] rohan-arthur commented on #12260
number of users of mongo - 500

[2022-04-07 10:09] #12649 closed

[2022-04-07 10:11] kocharrahul7 commented on #2040
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 0.25 |

[2022-04-07 10:15] riodeuno opened #12672 "[Bug] Empty space in bottom of the page in view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Current Experience
- The canvas does not clip to hug contents in the view mode, resulting in a lot of empty space at the bottom of the page and an unnecessary scrollbar.

Expected
- The canvas should clip to hug contents in the view mode.

### Steps To Reproduce

1. Add a widget to the top of the

[2022-04-07 10:21] shwetha-ramesh commented on #11533
@keyurparalkar #MigrationTestingIssues
25. Page breaks when Progress widget is opened on theming DP

26. No border radius for radio group widget.

27. On migration Rating app changes it stars higlight without hover on the stars.
       https://loom.com/share/560e89b97197435c810a278c7d92d15f

28. Change the font size in release on RTE widget > Now in appsmith check it is changed back to Paragraph

[2022-04-07 10:23] rohan-arthur commented on #12180
s3 usage in 6 months: 150
users outside of region us-west-2:
- there are [20 regions](https://docs.google.com/spreadsheets/d/e/2PACX-1vR0gBoKn8BmtP1zVXvjZb1w6KmLE8YNd7W-6nXkQ_3EzKmPu9PMT6U8XuJ72Gr-ZW-UlLRl0yLFRI4_/pubhtml) in all
- of these, assume 50% are in the usa [because](https://www.statista.com/chart/24149/data-centers-per-country/): 50%(150)=75
- of these, there are 4 regions in the US, as

[2022-04-07 10:23] abhvsn opened #12674 "[Bug]: Fix NPE for delete branch API when user tries to delete the checked out branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The server should throw the relevant error message in case of an unsuccessful transaction.

### Steps To Reproduce

1. Connect application to git
2. Create a new branch
3. Try to delete the current checked out branch
4. Internal server error is thrown

### Public Sample App

_No response_

### Ver

[2022-04-07 10:28] rohan-arthur commented on #10434
gsheets usage in 6 months: 1400
assume [20%](https://mixpanel.com/project/2032485/view/178891/app/insights#report/15422135/installation-goal/~(columnWidths~(bar~())~description~'~displayOptions~(chartType~'pie~plotStyle~'standard~analysis~'linear~value~'absolute)~sorting~(bar~(sortBy~'column~colSortAttrs~(~(sortBy~'value~sortOrder~'desc)~(sortBy~'value~sortOrder~'desc)))~line~(sortBy~'value~sortOr

[2022-04-07 10:29] rohan-arthur commented on #10434
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 280 |
| Effort (months)  | 1 |

[2022-04-07 10:31] rohan-arthur commented on #11654
stats copied from #11137

[2022-04-07 10:32] rohan-arthur commented on #11654
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 105 |
| Effort (months)  | 1 |

[2022-04-07 10:37] rohan-arthur commented on #9767
pg 6m usage: 2500
assume 50% requirement: 1250

[2022-04-07 10:43] rohan-arthur commented on #9805
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.5 |

[2022-04-07 10:44] rohan-arthur commented on #9495
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.25 |

[2022-04-07 10:48] btsgh commented on #11533
31.
1. In the COLOR section, Click on primary colour circle - change colour
2. Now click again on primary colour to modify the colour
3. The Primary colour pop up does not come up and the text area below it to enter the colour hex value also gets closed.
4. We need to click on primary colour circle again to see the colour box.
5. Same is the behaviour with background colour also.
Expected behaviou

[2022-04-07 10:53] felixsuarez0727 commented on #12521
The root cause is that authentication properties are not removed from SaaS plugins even though they have been removed from the SaaS application.

Issue found: When updating the datasourceTemplate collection the authentication type is not updated

Solution: Create a new query called Delete_Auth_Datasource in which the authentication types that are not selected are deleted.

![imagen.png](https://im

[2022-04-07 10:56] rohan-arthur commented on #7479
mongodb total errors in 6m: 852
assume 10% for this issue: 85

[2022-04-07 11:00] nayan-rafiq commented on #12661
Seems this issue is related with Git feature

[2022-04-07 11:05] Nikhil-Nandagopal commented on #12663
@dilippitchika did something change in the property pane recently?

[2022-04-07 11:06] Nikhil-Nandagopal commented on #12663
Simplified steps:
1. Drag a button
2. configure the action selector to call 1 query and 1 query on success
3. Remove the on success query
4. Click the button

[2022-04-07 11:06] shwetha-ramesh commented on #11533
31. Blue highlight appears on change for Switch group widget on migration.
https://loom.com/share/1f62e44e2c6b460c97eddf2a3801a499

[2022-04-07 11:08] rohan-arthur commented on #12343
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | 0.25 |

[2022-04-07 11:10] rohan-arthur commented on #8484
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 250 |
| Effort (months)  | 0.25 |

[2022-04-07 11:10] #12528 closed

[2022-04-07 11:13] Nikhil-Nandagopal commented on #12663
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 0.25 |

[2022-04-07 11:14] rohan-arthur commented on #9662
smtp usage: 30
of these, most commonly used port is 25.

[2022-04-07 11:23] IAmAnubhavSaini opened #12677 "[Bug]: Remote branches are listed under local header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I have lot of remote branches and am searching for them via `origin/`, I see list of all of the remote branches listed under "Local branches" heading.

I should see correct heading, which is "Remote branches".

<img width="371" alt="Screenshot 2022-04-07 at 4 47 43 PM" src="https://user-image

[2022-04-07 11:24] rohan-arthur commented on #12061
search by "Test string" works, returns correct results.
search by "1E240f" works, returns correct results.
search by "3.584" (where only one row has float value and all other rows have string) does not work, returns null

[2022-04-07 11:24] rohan-arthur commented on #12061
gsheets usage 1400
assume 50% run into this issue: 700

[2022-04-07 11:24] rohan-arthur commented on #12061
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 700 |
| Effort (months)  | 0.25 |

[2022-04-07 11:34] rohan-arthur commented on #11259
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | 0.5 |

[2022-04-07 11:36] IAmAnubhavSaini commented on #12677
This is done in code, but will be fixed once the PR for git-delete-branch gets merged.

[2022-04-07 11:38] rohan-arthur commented on #11978
CRUD usage: 3000
gsheets usage: 15%

reach: 450

[2022-04-07 11:38] rohan-arthur commented on #11978
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 450 |
| Effort (months)  | 0.25 |

[2022-04-07 11:39] rohan-arthur commented on #11767
s3 6m usage 148
assume 50% requirement: 74

[2022-04-07 11:40] rohan-arthur commented on #11767
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 74 |
| Effort (months)  | 0.5 |

[2022-04-07 11:46] riodeuno opened #12678 "[Task] Documentation style consistency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Look into [Vale](https://github.com/errata-ai/vale) or its alternatives which can help us maintain the language in our docs
- Create an editorial style guide by creating one from scratch or modifying an [existing one](https://github.com/errata-ai/styles#available-styles)
- Integrate the linter into

[2022-04-07 11:47] danciaclara opened #12679 "[Feature]: Recover deleted applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today, we don't have a way for users to recover apps on their own that may have been deleted accidentally.

### Why should this be worked on?

We have had quite a few users reaching out on our support portal to help them retrieve deleted applications.

[2022-04-07 11:50] rohan-arthur commented on #6877
aws market share: 33%
google cloud market share: 10%

appsmith s3 usage in 6 months: 148
if this represents the 33%, then expected reach is 45

[2022-04-07 11:51] rohan-arthur commented on #5500
looks obsolete - closing this

[2022-04-07 11:51] #5500 closed

[2022-04-07 11:51] kocharrahul7 commented on #3464
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | 0.5 |

[2022-04-07 11:52] kocharrahul7 commented on #2413
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 75 |
| Effort (months)  | 0.5 |

[2022-04-07 11:54] rohan-arthur commented on #11187
CRUD usage: 3000
gsheets usage: 15%

reach: 450

[2022-04-07 11:54] rohan-arthur commented on #11187
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 450 |
| Effort (months)  | 0.25 |

[2022-04-07 11:55] kocharrahul7 commented on #1860
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 0.25 |

[2022-04-07 11:56] rohan-arthur commented on #6529
s3 usage 6m: 148

[2022-04-07 12:01] rohan-arthur commented on #6944
firestore 6m usage: 240
found 3 related requests on discord. Assume 5% requirement: 12

[2022-04-07 12:03] rohan-arthur commented on #6185
redis 6m usage: 42

[2022-04-07 12:04] rohan-arthur commented on #10538
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.5 |

[2022-04-07 12:04] abhvsn commented on #12661
@Parthvi12  this is a expected behaviour from git-import implementation.
We are not committing the application name as changing the name or even importing the same application in same org will change this field for every alternate commit and push from both imported and parent application.

[2022-04-07 12:06] rohan-arthur commented on #7687
gsheet 6m usage: 1400
assume 20% requirement: 280

[2022-04-07 12:08] rohan-arthur commented on #4276
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 28 |
| Effort (months)  | 1 |

[2022-04-07 12:10] rohan-arthur commented on #5522
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 8 |
| Effort (months)  | 0.5 |

[2022-04-07 12:12] rohan-arthur commented on #12414
assume 50% of 3500: 1750

[2022-04-07 12:15] rohan-arthur commented on #12404
mongo 6m usage: 700

[2022-04-07 12:35] btsgh commented on #11533
35.

[2022-04-07 12:39] btsgh commented on #11533
35.
- Checkbox Group Widget .. Drag and drop checkbox group widget on Theming DP
- Drag and drop Drag and drop checkbox group widget on Release
- Spacing in Theming looks more crushed than a neater view in release.
- In this case, on theming when more options are added, the newer options are tried to be fit into this UI, and text look cut off.
- In Release, these options are arranged neatly such t

[2022-04-07 14:17] btsgh commented on #11533
@keyurparalkar #MigrationTestingIssues
38.
-In theming DP, change theme to rounded, add your own custom colours and save it as MyTheme4.
-Now in release url, create a page with Checkbox widget.
-Open this page on Theming DP.
-MyTheme4 is not applied completely.
-Instead of the checkbox being rounded and shaded with a background of dark blue as per MyTheme4, the checkbox is square with a green back

[2022-04-07 14:22] Aishwarya-U-R opened #12687 "[Bug]: Calling an async framework function inside a sync function tags the function async but doesn't add the `async` keyword"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="456" alt="Function marked async in Response tab" src="https://user-images.githubusercontent.com/91450662/162220547-662fd15e-ae70-4387-9220-1b8ddf72feb3.png">
<img width="586" alt="Unable t use await" src="https://user-images.githubusercontent.com/91450662/162220589-350222e7-7a3c-47cc-a

[2022-04-07 14:45] rohan-arthur commented on #12600
reach 3500

[2022-04-07 14:50] rohan-arthur commented on #12405
reach 12000

[2022-04-07 14:50] felixsuarez0727 commented on #12602
A query was create to solve this problem automatically

[2022-04-07 14:51] rgdev commented on #11098
What is the state of Appsmith on MongoDB 5.0.x right now ? Are we gonna break it if we upgrade an existing DB to Mongo 5 ?

[2022-04-07 14:57] felixsuarez0727 commented on #12602
A query was create to solve this problem. The options remove automatically

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/94a81cdd-0590-40ef-853e-b71f0400f701)

[2022-04-07 15:02] rohan-arthur commented on #11977
reach 1183

[2022-04-07 15:03] rohan-arthur commented on #11920
reach 1400

[2022-04-07 15:04] rohan-arthur commented on #11880
reach 683

[2022-04-07 15:05] rohan-arthur commented on #11847
reach 29

[2022-04-07 15:05] rohan-arthur commented on #11832
reach 3500

[2022-04-07 15:46] btsgh commented on #11533
@keyurparalkar #MigrationTestingIssues
In theming DP, change theme to rounded, add your own custom colours and save it as MyTheme4. Now in release url, create a page with Tree Select widget. Open this page on Theming DP. MyTheme4 is not applied correctly. The issues are -
-The Hover highlights are grey instead of light blue as per the theme.
-The edges are sharp instead of rounded.
-The default se

[2022-04-07 15:59] btsgh commented on #11533
40. Drag and Drop modal widget onto the canvas. Confirm button "m" is getting cutoff on Modal widget
<img width="589" alt="Modal_Release" src="https://user-images.githubusercontent.com/101863839/162246603-301debc5-4697-45ca-a17b-ecd95bf3c8cd.png">
<img width="605" alt="Modal_TDP" src="https://user-images.githubusercontent.com/101863839/162246622-6b3be42c-377b-44c1-8810-ca2afe19c48b.png">

[2022-04-07 16:02] shashi-donon opened #12688 "[Feature]: Can we have time picker."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

**_We already have date picker, can we have time picker instead_**

<img width="1152" alt="Screenshot 2022-04-07 at 9 29 40 PM" src="https://user-images.githubusercontent.com/42883689/162247159-54203d8c-c0ee-4d7a-9ff4-4fd878fc4bbd.png">

### Why should this be worked on?

**_It will be helpful to call

[2022-04-07 16:05] shashi-donon commented on #11828
So We have situation where we are just storing the password for api calls. and we have a support team who can do simple diagnostic check, and we don't to show case those password anyone.

But instead they could be able to just create a new password for the user directly.

[2022-04-07 16:06] arminus commented on #12528
Thank you, I confirm that my main app works again without the workaround (git release branch)

[2022-04-07 16:18] #12612 closed

[2022-04-07 16:18] #7690 closed

[2022-04-07 16:18] #12285 closed

[2022-04-07 16:19] #8385 closed

[2022-04-07 16:32] btsgh commented on #11533
41. Add a Select widget to the Canvas. Click on the dropdown .. issues found -
- Hover over the options in the dropdown is grey, does not take the theme colour
- The filter text box is fully rounded, as against the partially rounded for other select drop-downs Filter text box
- The Select option area, on click, is highlighted in Grey instead of highlighting in the selected theme colours"
-
<img wi

[2022-04-07 17:01] hunjunChoi commented on #7511
Unassigned myself due to incompetence

[2022-04-07 17:06] ramsaptami commented on #12247
QA verification blocked due to #12643

[2022-04-07 17:06] rahulramesha opened #12690 "[Feature]: Container Jump Optimization and Add Logs to track Container jump metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This feature is to Optimise container jumps by
- changing threshold to absolute values
- make sure the mouse Pointer is on the canvas before jump in or else Reflow
- Add Log Trackers to monitor speed, acceleration of container jump and also log if it was a successful container jump or an accidental on

[2022-04-07 17:19] rahulramesha opened #12691 "[Task]: Bring Reflow Resize feature out of Beta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The task is to,
- [ ] Remove the Reflow Checkbox, Reflow and Resize by default
- [ ] Remove the Drag and Drop Info Box
- [ ] Clear out all the related internal logic

[2022-04-07 17:55] albinAppsmith opened #12692 "[Bug]: Icon for Edit App is appearing in black"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In launched application page, the edit app button has back chevron icon which is supposed to be in white as same as the text color. But it is currently showing black.

### Steps To Reproduce

1. Goto homepage
2. Launch an application
3. check the edit app button in top right corner of the page.
![

[2022-04-07 17:57] #11539 closed

[2022-04-07 18:46] #10412 closed

[2022-04-07 18:46] #11671 closed

[2022-04-07 18:58] vmulholl commented on #4404
Hello, I'd like to show my interest in having the widgets show other languages as well (French is the most pressing one for myself).
Ex. the table widget "filter", "download" etc. buttons
For now I can try hiding the bar and creating interactive filters between 2 widgets.
Let us know if we can help with the translations!

[2022-04-07 19:00] felixsuarez0727 commented on #12220
Add API name and description to all actions
![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/7cc474f8-79a5-4799-9821-24b09d43fdbd)

Updated labels and tooltips in different dynamic variables

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/1232d174-3f53-424c-aabe-615f4ebfbec4)

Note:
We are investigating why the action name is not updated base

[2022-04-07 20:00] areyabhishek commented on #12688
Thanks for the request @shashi-donon We'll try to address this in the future.

[2022-04-07 20:34] andrewtlove opened #12695 "[Bug]: Upgrade fails when upgrading from 1.6.16 --> 1.6.17 using Docker/Watchtower"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Appsmith is deployed to DigitalOcean using the DO marketplace function (Docker) and using custom domain.  When watchtower attempts to apply upgrade, the app fails to come back online, throwing the following error:

[code]

Application never recovers.  In order to fix it, I had to roll back using a

[2022-04-07 20:37] #12196 closed

[2022-04-07 21:20] AS-Laguna commented on #12695
I believe this has been fixed with [this commit](https://github.com/appsmithorg/appsmith/commit/7807d5f5c695003dbcfb0c6f18b09810e698f44d). @mohanarpit can you confirm?

[2022-04-08 03:11] aaahariri opened #12696 "[Bug]: Extra "" needed around password input value for API body JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have an API that accepts the body in this format:
[code]
However, when I try to call it with variables, it throws errors (saying the password needs to be a string). I checked the body sent with the AppSmith request, it showed that it was actually sent like this:
[code]
As you can see, the **pass

[2022-04-08 04:09] jnikhila commented on #12653
Changes reviewed by @dilippitchika

[2022-04-08 04:10] jnikhila commented on #12653
The property `hasChanges` promoted to prod, and the docs are merged and updated on prod. @dilippitchika  - please review.

[2022-04-08 04:19] vasanth-appsmith commented on #12572
@aswathkk I have updated the designs for this. Please check and let me know if you have any doubts. [Figma](https://www.figma.com/file/hlOcM5LasxcRqEwHPXe5lm/UI-%7C-Content-Property-Pane?node-id=4660%3A106036)

[2022-04-08 04:39] jnikhila opened #12697 "[Docs]: Update JavaScript Editor (Base Doc)"
Update the existing [JavaScript Editor (Beta)](https://docs.appsmith.com/framework-reference/javascript-editor-beta) doc.

[2022-04-08 04:41] jnikhila commented on #12697
Comment by @rohan-arthur
I think we should avoid referring to the "newness" of a feature set, because it will not be true in a few months. Think of this document serving a user that is reading this several years from now

[2022-04-08 04:56] AnaghHegde commented on #11941
@MLNW Can you please let us know if you are still facing the issue? We can schedule a call to debug the issue further.

[2022-04-08 05:00] AnaghHegde commented on #12661
@Parthvi12 Closing this as it is the expected behaviour of git import feature. We can reopen the issue if anyone thinks we are doing it wrong.

[2022-04-08 05:00] #12661 closed

[2022-04-08 05:21] rohan-arthur commented on #12318
applied priority "Medium" based on [this](https://www.notion.so/appsmith/Applying-RICE-for-prioritisation-08c2a3cf3e2a4bd291e68a0236664ad2).

[2022-04-08 05:23] rohan-arthur commented on #12318
active app viewers (reported data): 1500

[2022-04-08 05:42] somangshu commented on #12625
Godspeed @ashit-rath 🤗 💟

[2022-04-08 06:00] rohan-arthur opened #12701 "[Bug]: [Regression] GSheets unable to run fetch without conditions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

@sbalaji1192  reported this issue
When you run an empty _fetch_ query, it works in prod, but not in release.
demo video:
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/5ac78a4b2ed143b8bea4c2297a181842-00001.gif)](https://www.loom.com/share/5ac78a4b2ed143b8bea4c2297a181842)

### Steps To Rep

[2022-04-08 06:06] aswathkk opened #12702 "[Bug]: Unable to use arrays in postgres prepared statement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Followed the docs to use arrays in SQL prepared statement: https://docs.appsmith.com/datasource-reference/querying-postgres#using-arrays-in-prepared-statement

It throws the following error:
[code]

<img width="1257" alt="Screenshot 2022-04-08 at 11 20 50 AM" src="https://user-images.githubusercon

[2022-04-08 06:09] #12545 closed

[2022-04-08 06:11] Nikhil-Nandagopal commented on #12702
@aswathkk in the image prepared statements are off

[2022-04-08 06:11] #12702 closed

[2022-04-08 07:10] yaldram commented on #12663
Under `src/components/editorComponents/ActionCreator/index.tsx` line number 191 change this -
[code]

to -

[code]
It worked for me, but need to test all scenarios. @dilippitchika @ApekshaBhosale

[2022-04-08 07:19] Rishabh-Rathod commented on #12318
Both of the mentioned issues were not related to this issue and are separately opened https://github.com/appsmithorg/appsmith/issues/12520 here

[2022-04-08 07:33] sumitsum commented on #12591
Closing since we are now using the same PR to push the fix and the TC.

[2022-04-08 07:33] #12591 closed

[2022-04-08 07:38] momcilo-appsmith commented on #5398
I assume the expected behavior is that if you change a page, the filters you applied will stay and if you click download it will download everything. @dilippitchika @sbalaji1192

[2022-04-08 07:43] btsgh commented on #11533
42. Video widget -  On applying a background colour, and then undoing it, (cmd + z), the colour goes away from the background. However, the hex value remains in the background colour field.
<img width="321" alt="TDP_BGColor1" src="https://user-images.githubusercontent.com/101863839/162389270-038c8bd7-4a67-434d-a71a-b6ebf8d6b3e6.png">
<img width="735" alt="TDP_BGColor2" src="https://user-images.git

[2022-04-08 07:50] prapullac commented on #12437
This issue still displays the error in the same format.
![Screenshot 2022-04-08 at 1 14 32 PM](https://user-images.githubusercontent.com/71753653/162389591-71635d1f-1f74-425b-8db6-092f1898fd96.png)

[2022-04-08 07:58] prapullac commented on #10450
Verified this on Airtable as well hence closing the issue

[2022-04-08 08:20] Pranay105 opened #12704 "[Docs]: Add a page describing the constraints for import/export of applications using JSON file"
Context - https://discord.com/channels/725602949748752515/760761686549463060/961867160584597534

[2022-04-08 08:20] jsartisan opened #12705 "[Bug]: Phone number widget resets binding to static value for country code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Whenever there is a binding for country code, the binding gets converted to static value on re-redenring of the widget.

### Steps To Reproduce

1. Drop phone number widget
2. Add `{{ "+91" }}` binding in country code
3. Re-arrange the position of the widget
4. Notice the value in country code in

[2022-04-08 08:23] ramsaptami opened #12706 "[Bug]: App crashes when using GSheets where condition operator using keyboard shortcuts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

App crashes when using GSheets where condition operator using keyboard shortcuts

### Steps To Reproduce

1. Go to any Goole Sheet query
2. Go to the where clause bit and type in a column name and then use `TAB` to move to the next feild and observe the app crash

[![LOOM DEMO](http://cdn.loom.com

[2022-04-08 08:28] #12678 closed

[2022-04-08 08:28] jnikhila commented on #12704
@abhvsn - Could you please add the first draft for the same.

[2022-04-08 08:33] abhvsn commented on #12704
@jnikhila noted! I'll provide the draft latest by Monday

[2022-04-08 08:36] #8882 closed

[2022-04-08 08:36] kocharrahul7 commented on #8882
Closing

[2022-04-08 08:43] chandannkumar opened #12708 "[Bug]: Unable to clear previous input when changed the type to Currency Input in JSON Form widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/e1b9f7f4c5a2496d96eee109aee09785

### Steps To Reproduce

1. Add a JSON form widget onto canvas
2. change existing type field to Currency Input type. for ex - Employee Id(number input) to Currency Input type with some input
3. Try to clear the input and observe that you

[2022-04-08 08:48] rohan-arthur commented on #6114
reach 2300

[2022-04-08 08:53] kocharrahul7 commented on #1283
This issue can be tracked here

https://github.com/appsmithorg/appsmith/issues/9661

[2022-04-08 08:53] #1283 closed

[2022-04-08 08:54] Irongade commented on #12437
@prapullac Google sheets authorization does not work in release. This should't be a bug. @nidhi-nair Any thoughts on this?

[2022-04-08 08:56] rohan-arthur commented on #9669
reach 484

[2022-04-08 08:58] rohan-arthur commented on #10293
@ramsaptami would you please share the app link again? The one shared above does not work anymore

[2022-04-08 08:58] dilippitchika commented on #12663
@yaldram can you check if this code was changed recently?

@somangshu who works on this part?

[2022-04-08 09:00] yaldram commented on #12663
@dilippitchika I can see 5 months and 7 months ago changes atleast on the lines 192 - 194. The above solution is my guess, because these changes worked for me. Please contact frontend pod.

[2022-04-08 09:05] #12595 closed

[2022-04-08 09:05] danciaclara opened #12709 "[Feature]: Show "No Data Available" message on table widget when there is no data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It will be useful to have a message show up on the table like "No Data Available" or something along those lines when there is no data to display on the table. Today it shows a blank table when you empty the table data.

![Uploading Screenshot 2022-04-08 at 2.30.51 PM.png…]()

### Why should this be w

[2022-04-08 09:07] Nikhil-Nandagopal commented on #12688
Hi @shashi-donon thanks for the feature request. We already have this issue tracked here #3346 so I'm closing this in favor of that

[2022-04-08 09:07] #12688 closed

[2022-04-08 09:11] rohan-arthur commented on #11977
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1183 |
| Effort (months)  | 0.5 |

[2022-04-08 09:11] chandannkumar opened #12711 "[Bug]: Deleted parent Array type fields reappears on browser refresh in JSON Form widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On adding multiple array field inside array items, we can see multiple delete options as well.
On deleting parent field, it seems like field got deleted but it reappears on browser refresh

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/7c97262687ff46a9885359ae55ce494b-00001.gif)](https://w

[2022-04-08 09:13] Nikhil-Nandagopal commented on #11683
@sachinvyas2012 we try not to support older browsers so is there any reason you cannot upgrade? I'm closing this as we try to be as compatible with newer versions as possible

[2022-04-08 09:13] #11683 closed

[2022-04-08 09:16] ajinkyakulkarni commented on #11880
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 683 |
| Effort (months)  | 0.25 |

[2022-04-08 09:19] jgrgt commented on #12407
As mentioned on discord, for me the problem is in `GitUtils.isRepoPrivate`.

There are multiple things wrong with that call:
1. It's using *blocking* IO in a WebFlux server. Which is a bad idea. A reactive HTTP client should be used.
2. It assumes the domain of the SSH access and HTTPS access for the server are identical. This is not the case in my environment, different domains are used.. The pro

[2022-04-08 09:24] rahulramesha opened #12712 "[Bug]: Widgets overlap when multiple widgets collide with the edge of canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/505abb1748a24a2eaa4fb697cee000c0-00001.gif)](https://www.loom.com/share/505abb1748a24a2eaa4fb697cee000c0)

### Steps To Reproduce

1. Create a layout similar to the one in the video
2. Move the bottom most widget to the top till the top most wi

[2022-04-08 09:30] hiteshjoshi commented on #11945
@noobyogi0010 I will try to get an update on UI and then maybe you can work on this issue.

[2022-04-08 09:40] rohan-arthur commented on #3532
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.5 |

[2022-04-08 09:41] rohan-arthur commented on #9391
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 0.5 |

[2022-04-08 09:43] Tooluloope commented on #7028
Problem Statements From Catchup:

- Performance: Adding the whole data to the data tree isn't performant due to the fact that a user could render a lot of data in the list widget and not view it, although we should be able to get a particular data list widget items.
- using an individual widget wrapper for the list widget like the JSON Form isn't scalable, due to the fact that this could get bloat

[2022-04-08 09:52] btsgh commented on #11533
43. In Tree select widget, click on the dropdown, Enter some text in the filter field - the close (x) icon appears. Move the mouse over the x, see that the grey background on the x symbol is cutoff

[2022-04-08 09:54] rohan-arthur commented on #12179
number of instances in jan '21: 170
extrapolating 6 months, reach: 1020

[2022-04-08 09:55] rohan-arthur commented on #10822
will track this in #12179

[2022-04-08 09:55] #10822 closed

[2022-04-08 10:21] sumitsum opened #12713 "[Bug]-[210]:Mongo plugin URI parsing issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Ref: https://theappsmith.slack.com/archives/C0341RERY4R/p1649405309648129
Cannot share the URI string publicly here for security reasons.

### Steps To Reproduce

https://theappsmith.slack.com/archives/C0341RERY4R/p1649405309648129
Cannot share the URI string publicly here for security reasons.

W

[2022-04-08 10:26] aswathkk commented on #12705
Another related issue:
https://www.loom.com/share/344f62a76bff459e87cea28b86aadba4

[2022-04-08 10:27] Nikhil-Nandagopal commented on #12663
@somangshu @dilippitchika this should be handled in the UI Builders. It's related to the action selector component.

[2022-04-08 10:28] mohanarpit commented on #12695
This has already been fixed with v1.6.18. Would request you to upgrade to this version.

Apologies for the poor experience here.

[2022-04-08 10:28] #12695 closed

[2022-04-08 10:29] btsgh opened #12714 "[Bug]-[480]:Tree select widget - dropdown flickers when we click on the default selection area and filter has text entered."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In tree select widget, in the dropdown on attempt to filter, with the text entered, if we click on the tree select default field, dropdown flickers and does not get expanded.

### Steps To Reproduce

1. Drag and drop a tree select widget
2. Click on the dropdown arrow
3. Enter a letter to filter.

[2022-04-08 10:36] dilippitchika commented on #12705
Bumping this to critical back again as app viewer is getting impacted as per the video above cc @somangshu @sbalaji1192

[2022-04-08 10:45] jnikhila opened #12715 "[Docs]: Update Documentation - Prepared Statement"
We need to add documentation around when to use prepared statement and when not to along with scenarios.

Take inspiration from the How Do I Do X sessions recently.

Appsmith has just released a new video explaining Prepared Statements in depth. The docs should be checked against this video's content/explanation to ensure the instructions match and are clear.

Video can be found here.

(created fr

[2022-04-08 10:46] RoopKrrish9696 opened #12716 "[Feature]: Playing progress of video widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Get the playing progress of the video and control the video to start from a certain progress.

### Why should this be worked on?

**User's use case :**

We have a lot of machine producing videos. I want to add a function for qa. the reviewers count add comment for a certain frame of video. So I want t

[2022-04-08 10:46] jnikhila commented on #12715
@ajinkyakulkarni - we'll need help from Nidhi/Sumit to take this ticket ahead.

[2022-04-08 10:49] Nikhil-Nandagopal opened #12717 "Access playing progress of video"

[2022-04-08 11:01] jnikhila opened #12718 "[Docs]: Update Table Widget - Add | How to refersh the table?"
Users are not aware that they need to refresh the table data after calling a query or api.

Add a link to table widget for how to refresh the table:
link to the article: https://community.appsmith.com/t/how-do-i-automatically-update-data-on-tables-using-setinterval/807

[2022-04-08 11:44] jgrgt opened #12721 "[Bug]: Timeout when git ssh url has a different domain than the https url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Setting up git sync fails when the SSH port of the git server is exposed on a different domain than the HTTPS port.

### Steps To Reproduce

Requirement: a git server that has an SSH port on domainA and an HTTPS port on domainB

When trying to set up git sync, enter the SSH url. Try to proceed, bu

[2022-04-08 11:45] jgrgt commented on #12721
Might be related to https://github.com/appsmithorg/appsmith/issues/12407#issuecomment-1092640915

[2022-04-08 11:58] somangshu commented on #11538
## actionable

Decide what can be done further, Below are some strategies
- [ ] we need to delay the form calls
- [ ] Make it non blocking
- [ ] since they are static, it makes sense to cache them

[2022-04-08 12:04] Rishabh-Rathod opened #12722 "[Task]: In Dev mode, appsmith becomes unresponsive due to an iframe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

<img width="1916" alt="Screenshot 2022-04-08 at 5 32 20 PM" src="https://user-images.githubusercontent.com/23132741/162431899-b70bcc4d-fe43-410d-86ae-46d2379f164a.png">

Cause of iframe maybe is related to - https://stackoverflow.com/questions/69051008/react-injecting-iframe-with-max-z-index-on-reloa

[2022-04-08 12:51] RakshaKShetty opened #12724 "[Bug]: Js objects are merged to single page when user creates a new branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Js objects are merged to single page when user creates a new branch

### Steps To Reproduce

1. Connect an application to the git
2. Create an app with Page1
3.Add JSObject names JSObject1
4..Create new page Page2
5.Add JSObject names JSObject1
6.Clone the page 1
6.Now create a sub-branch from the

[2022-04-08 13:07] #11188 closed

[2022-04-08 13:21] Rishabh-Rathod commented on #12584
## RCA

As we subscribe to evaluated values and DSL in `AppViewerPageConatiner`, it is tend to re-render.

Solution -
Inside `getCanvasWidgetDsl`, we should remove evaluated values for now and also aim to even separate out styles of widgets and subscribe each widgets to only relevant values.

[2022-04-08 14:30] aswathkk commented on #776
@rohan-arthur
A user wanted to call a rate-limited API. They want to make an API call and once it succeeds, they wanted to call another API after a bit of delay. This could only be achieved by using setTimeout.

[2022-04-08 15:19] sullo commented on #12522
At that moment, my local instance was fully updated to the latest version. So I assume cloud was ahead?

[2022-04-08 15:29] btsgh opened #12728 "[Bug]: Table widget - On removing all headers, Scroll bar alignment incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Table widget - When we remove all headers, the scroll bar is not aligned correctly until the top of the first row.

### Steps To Reproduce

1. Drag and drop a table widget.
2. Disable all the header options from the table - (Search, Filter, Download, Pagination) from the properties pane.
3. Enable

[2022-04-08 15:46] AS-Laguna opened #12730 "[Task]: Remove eval from autocomplete menu."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We throw an error when a user tries to use `eval`. We should remove this from the autocomplete menu, too.

- [ ] Remove `eval` from the autocomplete menu.

![image](https://user-images.githubusercontent.com/101155659/162477014-8613d2ee-3570-4263-87ef-7a4367c85fec.png)

[2022-04-08 16:10] sumitsum opened #12731 "[Bug]-[30]:Ms SQL plugin prepared stmt"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

From community:
[code]
![image](https://user-images.githubusercontent.com/1757421/162480651-4e168416-8888-48f1-a622-684d2d7c35c7.png)

[code]

### Steps To Reproduce

I haven't tried it out myself. I am currently relying on the info provided by the user as mentioned above

### Public Sample App

_

[2022-04-08 16:15] Nikhil-Nandagopal commented on #12522
@sullo yes that is quite possible. We're trying to reduce the lag between self hosted and cloud

[2022-04-08 16:16] danciaclara opened #12732 "[Bug]-[44]:Appsmith loses connectivity to ArangoDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Shared by user on Discourse

### Steps To Reproduce

https://community.appsmith.com/t/arangodb-connectivity-issues/834

### Public Sample App

_No response_

### Version

Self-Hosted - v1.6.18

[2022-04-08 16:32] #3630 closed

[2022-04-08 17:01] sullo commented on #12523
This is specifically with the GitHub API(s). I also use a private API and it doesn't fail very often, but GitHub does a lot.

[2022-04-08 17:03] Rishabh-Rathod commented on #10293
Is it same as https://github.com/appsmithorg/appsmith/pull/12683 ? @ramsaptami

[2022-04-08 17:03] #12701 closed

[2022-04-08 17:12] #12692 closed

[2022-04-08 17:24] #12625 closed

[2022-04-08 17:39] #12705 closed

[2022-04-08 17:43] ame-appsmith opened #12734 "[Feature]: Sidebar Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There should be a sidebar widget that users can use to navigate the page or content through the sidebar.
Currently, we have a sample app where a sidebar is implemented, but we do not have a separate widget for this.

### Why should this be worked on?

A sidebar widget would be useful for users so that

[2022-04-08 18:28] #12674 closed

[2022-04-08 19:00] ramsaptami commented on #10293
@Rishabh-Rathod this isn't the same error we see as the one in #12683. I can't seem to find the app that has this issue so I'm trying to repro this. I'll post the link here when I do

[2022-04-09 02:59] eco-monk opened #12736 "[Bug]-[3000]:Evaluated value pane does not show the right value for bindings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The action creator doesn't show the proper evaluated value for the binding `{{Text1.text}}`, `{{JsObject.myVar1}}` etc....
On execution, the value is processed properly.

![image](https://user-images.githubusercontent.com/66776129/162553777-d24e4305-5935-46ed-8ccc-b35091b308d4.png)

### Steps To R

[2022-04-09 05:45] #8508 closed

[2022-04-09 05:47] yatinappsmith commented on #11952
Adding a lable critical, as while verifying this issue my existing Oauth 2 apss have stopped working.

[2022-04-09 11:48] ramsaptami opened #12741 "[Bug]: Incorrect dependency map is created when navigated to a different page from template app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Layout API `PUT` call includes widgets in its payload that don't exist on canvas and fails with a 404 response.

### Steps To Reproduce

1. Add a template to your organization
2. Use JS objects to trigger a navigation to a different page with a blank canvas and observe all widgets get copied over

[2022-04-09 13:33] arminus commented on #10348
FYI - I manged to build the docker image on my Pi4 (aarch64) last week, runs fine.

The issue I had previously was MongoDB, which in current versions doesn't work on 32bit OSes anymore, after I upgraded my Pi to 64 bit bullseye things began to work. (with some tinkering with the build environment).

[2022-04-09 13:55] #11633 closed

[2022-04-09 13:55] #12367 closed

[2022-04-09 16:42] noobyogi0010 commented on #11945
@hiteshjoshi Alright. I'll be waiting for your reply!
Thanks!

[2022-04-09 16:46] noobyogi0010 commented on #12722
Hey @Rishabh-Rathod
I would like to work on this issue if it's not already worked upon.
Thanks!

[2022-04-09 18:31] #10054 closed

[2022-04-10 06:08] Rishabh-Rathod commented on #12722
Hey @noobyogi0010,

You could surely go for it. Are you able to reproduce this issue in development mode?
As this issue is related to project configuration and hard to reproduce in development mode, it was not made as Good First Issue.

If you would like to pick some other issue feel to to pick from [Good first issues. ](https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3

[2022-04-10 12:29] vernonstinebaker opened #12744 "[Feature]-[25]:Hide Add and Delete controls if a JSON Form is disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When displaying a JSON form, even when a section within the form is set to disabled (and the elements within the section also set to disabled), the Add and Edit buttons still appear. This is inconsistent with the section being disabled.

See attached screenshot.

<img width="870" alt="Screen Shot 2022

[2022-04-10 12:32] #12722 closed

[2022-04-10 14:43] rahulramesha opened #12747 "Perf: Open property pane post dragging or resizing of a widget."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

When a widget's property pane is not open and the user starts to drag that particular widget then, the propertyPane of that particular widget opens up at the moment of starting to drag or resize. This blocks the main UI thread and gives the perception of a lag at the start of drag or resize.
This can

[2022-04-10 19:26] rochesterj opened #12748 "[Template]: WordPress & WooCommerce Sales Dashboard"
### Title

WordPress & WooCommerce Sales Dashboard

### Objective

A dashboard that reads data from a WordPress & WooCommerce site directly.

It showcases how to generate many useful components from the WP database connection:

- Get the aggregate revenue
- Get the orders count
- Calculate the average ticket size
- Get revenue by date within a specific period (day, week, month, year)
- Get orders

[2022-04-10 20:38] ohansFavour commented on #9181
Hey @rohan-arthur , tried these exact same steps and did not get any cyclic dependency. Closing this for now.

[2022-04-10 20:38] #9181 closed

[2022-04-10 21:25] hiteshjoshi commented on #11945
Hi! @noobyogi0010
The UI for this needs some work. I will follow up once we have something.

[2022-04-10 21:51] guidogabriel commented on #10096
While appsmith doesn't have native integration with oracle, i'm using an oracle service called ORDS (oracle rest data service). I think it's worth do a little search about it

[2022-04-11 01:26] sentry-io[bot] opened #12749 "Git Import - Empty Repo NullPointerException"
Sentry Issue: [APPSMITH-1TH](https://sentry.io/organizations/appsmith/issues/3020188411/?referrer=github_integration)

[code]

[2022-04-11 01:55] yatinappsmith opened #12750 "[Bug]: Authenticated API frontend lacks checks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Frontend should check for format of fields like Access token url

### Steps To Reproduce

Try creating and authorizing Oauth2.0 Autheticated API.
Type random string in url.
https://www.loom.com/share/10c74a963c3347a192a1ea81b19ecb50

### Public Sample App

_No response_

### Version

Cloud

[2022-04-11 04:08] #10114 closed

[2022-04-11 05:00] #11678 closed

[2022-04-11 05:15] vivekverma2312 commented on #11166
@vuiets Checked on the latest version of Firefox (Version 98.0.2 (64-bit)) and not able to repro it currently.

[2022-04-11 05:29] shwetha-ramesh commented on #11533
@btsgh This is observed in all Select widgets.

[2022-04-11 05:30] eco-monk commented on #11927
We don't have any active apps to reproduce this issue.
Nor any steps to bring an app to the state where this error occurs.

We can manipulate the DB manually to reproduce this though.
`Create a JS Object and remove the plugin Info from DB manually, then notice that when you load the app, client makes a PUT call and the call fails with internal server error`

[2022-04-11 05:42] #12724 closed

[2022-04-11 05:42] yaldram commented on #10037
The last commit fixed this issue for all the widgets, but we see the TABLE WIDGET still having the issue, we think it might be some other flow that may be causing this issue. Therefore re-opening it.

[2022-04-11 05:45] abhvsn commented on #12721
@jgrgt thanks for the detailed report, and for taking this to next level by pointing out the root cause ❤️

[2022-04-11 05:56] Nikhil-Nandagopal commented on #12734
@ame-appsmith thanks for the feature request. We already have this issue tracked here #2282

[2022-04-11 05:56] #12734 closed

[2022-04-11 06:00] Nikhil-Nandagopal commented on #11828
@shashi-donon that would still not be secure as the user can find that information from the network. I suggest either
- Not returning any data from the network
- If for some reason you have to return it, don't show that in the Input widget, instead store it using storeValue and retrieve it directly from there
Let us know if this still doesn't work for you. We try to avoid adding too many configura

[2022-04-11 06:00] #11828 closed

[2022-04-11 06:01] Nikhil-Nandagopal commented on #12696
@aaahariri you can disable smart substitution for the API in the settings to solve this

[2022-04-11 06:01] #12696 closed

[2022-04-11 06:02] Nikhil-Nandagopal commented on #11941
@MLNW please write to support@appsmith.com so we can schedule a call to debug your issue if you're still facing this. We're closing this issue in the meanwhile

[2022-04-11 06:02] #11941 closed

[2022-04-11 06:33] btsgh commented on #11533
44.
1. Create a Switch Group Widget
2. Choose OnSelectionChange -> Show Message: ""Selected"" -> Type: Info
3. Click on Deploy
4. Choose an option.
5. The message ""Selected"" comes up on the top of the UI (Near the URL of the page)
As per release behaviour, the message ""Selected"" should come up on the right side of the UI

<img width="1233" alt="Message_TDP" src="https://user-images.githubuserc

[2022-04-11 06:58] ajinkyakulkarni commented on #11920
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1120 |
| Effort (months)  | 1.0 |

[2022-04-11 06:58] btsgh commented on #11533
45.
"Table widget - Add a table widget in a page in release url,
- Add cell background colour - #FFC13D
- Add text colour - F86A2B
- Set text size as Paragraph 14px
- Make text align to center
- Make vertical alignment to down
- Rearrange the columns. Open this page in the theming dp

<img width="795" alt="Migration_TableWidget_bcgrd" src="https://user-images.githubusercontent.com/101863839/162681

[2022-04-11 06:59] #12749 closed

[2022-04-11 06:59] pranavkanade opened #12755 "[Bug]: Select Widget - Options are vanishing as user selects options from bottom of the popup."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot 2022-04-11 at 11 39 19 AM](https://user-images.githubusercontent.com/13262095/162681621-728b729b-8256-4e97-a12f-bf9e15ddc60c.png)
![Screenshot 2022-04-11 at 11 39 10 AM](https://user-images.githubusercontent.com/13262095/162681628-12f6d870-0f6b-44ab-a891-42e9d8ccd6f5.png)
![Screenshot

[2022-04-11 07:02] Nikhil-Nandagopal commented on #10348
@niradler could you check and see if this issue still persists for you?

[2022-04-11 07:02] #10348 closed

[2022-04-11 07:05] Parthvi12 opened #12756 "[Bug]: After connecting app to git, jsObject binded widget's data is not visible in deploy mode."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/162682692-4896cb45-167e-413f-860f-91ba18137a6a.mov

### Steps To Reproduce

1. Create an app with Page1 having JSObject binded to widget
2. Clone the page
3. Connect it to git
4. Deploy and observe
5. Page1 data will not be visible
6. Go to edit m

[2022-04-11 07:10] Rishabh-Rathod commented on #11927
Does it mean issue got created due to bug in backend which is now resolved?
If that is the case then ideally shouldn't that be the root cause and we should close this issue with backend bug fix?
cc: @abhvsn  @eco-monk

[2022-04-11 07:11] arminus commented on #10348
@Nikhil-Nandagopal it would be nice though if you guys could provide an arm/multiarch image on docker hub, though?

[2022-04-11 07:17] ajinkyakulkarni commented on #11832
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 700 |
| Effort (months)  | 0.25 |

[2022-04-11 07:18] momcilo-appsmith opened #12757 "[Bug]: Datepicker dropdown menu is cut off in the deployed mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I open a datepicker dropdown menu it will be cut off if it is at the top of the page.
![Screenshot 2022-04-11 at 09 16 31](https://user-images.githubusercontent.com/81744497/162684651-054e6e17-7776-419d-9081-df1472dd8b2b.png)

This only happens in Appviewer mode, not while building the app.

[2022-04-11 07:18] ajinkyakulkarni commented on #12028
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 70 |
| Effort (months)  | 0.25 |

[2022-04-11 07:20] ajinkyakulkarni commented on #12405
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4000 |
| Effort (months)  | 1 |

[2022-04-11 07:21] ajinkyakulkarni commented on #6944
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12 |
| Effort (months)  | 0.50 |

[2022-04-11 07:23] ajinkyakulkarni commented on #12600
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | 0.50 |

[2022-04-11 07:25] vivekverma2312 opened #12758 "[Bug]-[2640]:Renaming page after reorder is not proper on page setting page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/ccbb6c4bc3f241ceb3c9f51fa28b8dae-00001.gif)](https://www.loom.com/share/ccbb6c4bc3f241ceb3c9f51fa28b8dae)

### Steps To Reproduce

1. Navigate to Page setting page
2. Add few new pages
3. Rename one of the page
4. Reorder that page
5. Now try t

[2022-04-11 07:25] ajinkyakulkarni commented on #12651
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 125 |
| Effort (months)  | 0.50 |

[2022-04-11 07:32] dilippitchika commented on #12755
@Tooluloope can you please investigate why this is happening and then let us know the fix

[2022-04-11 07:33] jnikhila opened #12759 "[Bug]: Omnibar: List Widget - Update broken link"
The last link isn't hyperlinked correctly in the quick navigation.
![Quick Navigation.png](https://images.zenhubusercontent.com/6203759d49a2167250e9a805/1cfdc1e6-1335-46e9-b8f6-2247bc037a44)

The link works fine on docs.appsmith.com but is broken when searched through omnibar.

[2022-04-11 07:37] ajinkyakulkarni commented on #12404
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 350 |
| Effort (months)  | 0.25 |

[2022-04-11 07:37] ajinkyakulkarni commented on #12414
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1750 |
| Effort (months)  | 0.25 |

[2022-04-11 07:38] ajinkyakulkarni commented on #6529
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 148 |
| Effort (months)  | 0.50 |

[2022-04-11 07:42] ajinkyakulkarni commented on #9662
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 24 |
| Effort (months)  | 0.25 |

[2022-04-11 07:42] jnikhila commented on #12759
@hiteshjoshi - The issue is occuring when searched through omnibar. Could you please verify and pass it on to the concerned team. CC - @ajinkyakulkarni

[2022-04-11 07:48] yatinappsmith commented on #11952
Dropbox issue is resolved

[2022-04-11 07:53] autocode-app[bot] opened #12760 "Docs for #1004 [Bug] No error is shown on navigation if page name is invalid"
Field | Details
 -----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 07:57] autocode-app[bot] opened #12761 "Docs for #3532 [Feature]-[48000]: Add functions to set meta properties programatically on widgets"
Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #3532Engineer | Release Date | Live Date | First Draft | Auto Assign | Priority | Environment |

[2022-04-11 07:58] Tooluloope commented on #12755
Okay @dilippitchika

[2022-04-11 07:58] prapullac opened #12762 "[Bug]: GSheet : Datasource name is not displayed to user in the Query pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user Authorise the Gsheet and navigates to create a Query it is observed that the Datasources is not displayed to user

### Steps To Reproduce

1) Navigate to Datasource page
2) Click on Gsheet
3) Authorise the account
4) Click on New API
and Observe that the Datasource name is not displa

[2022-04-11 07:59] autocode-app[bot] opened #12763 "Docs for #9669 [Bug]: Text is duplicated when ':()' appears in trigger field and does not clear when text is removed"
Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9669
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 08:08] autocode-app[bot] opened #12764 "Docs for #9391 [Type]-[48000]:Refactor Action Selector component"
[ ] Evaluate if needed
[ ] Fill these fields
[ ] Prepare first draft
[ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9391
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 08:11] autocode-app[bot] opened #12765 "Docs for #1004 [Bug] No error is shown on navigation if page name is invalid"
- [ ] Evaluate if needed
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 08:13] hetunandu commented on #12760
Testing automations

[2022-04-11 08:13] #12760 closed

[2022-04-11 08:13] hetunandu commented on #12761
Testing automations

[2022-04-11 08:13] #12761 closed

[2022-04-11 08:14] hetunandu commented on #12765
Testing automations

[2022-04-11 08:14] #12765 closed

[2022-04-11 08:14] hetunandu commented on #12764
Testing automations

[2022-04-11 08:14] #12764 closed

[2022-04-11 08:14] hetunandu commented on #12763
Testing automations

[2022-04-11 08:14] #12763 closed

[2022-04-11 08:33] rashmi-rai opened #12766 "[Bug]: JSObject gives error when referencing a widget in showAlert()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

showAlert(MultiSelect1.selectedOptionValues.length;, 'info') gives error in JSObject function

### Steps To Reproduce

1. Create  a MultiSelect Widget, lets call it MultiSelect1
2. Create a JSObject, JSObject1, add function myFun1
3. In myFun1 add ```showAlert(MultiSelect1.selectedOptionValues.len

[2022-04-11 08:39] ajinkyakulkarni commented on #7479
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 85 |
| Effort (months)  | 0.25 |

[2022-04-11 08:40] ajinkyakulkarni commented on #9767
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1250 |
| Effort (months)  | 0.25 |

[2022-04-11 08:41] ajinkyakulkarni commented on #9158
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 350 |
| Effort (months)  | 0.50 |

[2022-04-11 08:42] #11349 closed

[2022-04-11 08:43] vivekverma2312 opened #12767 "[Bug]: Hower of mouse is not proper on Button/Icon type on Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/f1427fda09ed42ecb6cbda24b246c272

### Steps To Reproduce

1. Drag and drop a Table widget
2. Add a column and change the type to button
3. Disable the button
4. Now hover the cursor on button and observe that it's not consistent as disabled state hover.

### Public Sampl

[2022-04-11 08:43] abhvsn commented on #12756
@Parthvi12 I'm not able to reproduce the issue can you please recheck on your end? We have merged a PR which deals with the clone page issue that we had in last release so not sure if that fixed this one as well

[2022-04-11 08:58] #12000 closed

[2022-04-11 09:00] dilippitchika commented on #8210
Feedback for docs only - https://docs.appsmith.com/core-concepts/displaying-data-read/display-data-tables#pagination

Thought process
1. Are the pre-requisites clear - PageSize, PageNo, Using the same query
2. Is the process clear - Each step broken down for the table

Items noted
1. Currently there's no information on what PageSize and PageNo are in the page we need to link it or expand on it
2.

[2022-04-11 09:02] vivekverma2312 opened #12769 "[Bug]: Compact property is not working for menu type on Table widget when JS query is written"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/87f2014335af4b838928d443a8f024ed

### Steps To Reproduce

1. Drag and drop a table widget
2. Change the type to Menu button
3. Add few menu options
4. Now when you write JS query for compact property it always show as compact even when the response is false.

### Public

[2022-04-11 09:13] autocode-app[bot] opened #12770 "[Docs] #1004 [Bug] No error is shown on navigation if page name is invalid"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 09:20] somangshu commented on #12086
@ashit-rath @SatishGandham will need info on what the problem is here and if this should be added to out scope of list widget?

[2022-04-11 09:27] somangshu commented on #12478
@rahulramesha can you tell me if this is related to the widget grouping?

[2022-04-11 09:28] abhvsn commented on #12756
Closing this as this has already been resolved.

cc: @Parthvi12

[2022-04-11 09:28] #12756 closed

[2022-04-11 09:35] #11166 closed

[2022-04-11 09:36] somangshu commented on #12478
For me something else happened on grouping the widget, they jump out of the list widget. On looking into it further, I found out the the list widget does not work for child container widgets.

@jsartisan @SatishGandham are you aware of why this happens?

[2022-04-11 09:41] GreenFlux opened #12771 "[Feature]: Add top-level isValid property to JSONForm that checks all fields at once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently the JSONForm widget has an `isValid` property inside the fieldState for each field. However, there is no top-level property to check all fields at once.

Please add `JSONForm1.isValid` so that the state can be referenced in other widgets.

### Why should this be worked on?

The JSONForm widg

[2022-04-11 09:42] somangshu commented on #12561
not seeing any errors with the above steps right now

cc @jsartisan can you share what the error is?

[2022-04-11 09:42] #12561 closed

[2022-04-11 09:50] vihar opened #12772 "[Feature]: Access organisation details, members on Appsmith Context Object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today, we can only access user details on the Appsmith Context Object using `{{appsmith.user}}`. Would it be possible to create a new feature that lets us access all the **organisation** details and members?

Something like: `{{appsmith.org.members}}`

More context: https://community.appsmith.com/t/ho

[2022-04-11 09:53] btsgh commented on #12705
1. In Release URL - Created a Select Widget and a Phone number widget 
2. Populated Select Widget from a Excel datasource with Country Codes (value being phone code) 
3. Bound the DefaultCountryCode of the Phone Input widget to the data from Select Widget.
4. On Deploy, as we changed the dropdown options from the Select widget, the default country code of the phone widget changed accordingly.  
5.

[2022-04-11 09:56] ramsaptami opened #12774 "[Bug]-[500]:Table column border is sensitive and triggers both move and resize actions on mouse click leading to bad UX"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Resizing table columns causes columns to get rearranged since the border is sensitive to both resize and rearrange action. This causes UX issues where user has to be slow while resizing as seen in the video and control is still on the selected column so either the column is resized or rearranged w

[2022-04-11 09:59] ajinkyakulkarni commented on #7687
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 280 |
| Effort (months)  | 0.25 |

[2022-04-11 10:00] shwetha-ramesh opened #12775 "[Bug]: Tooltip cuts off for Organization with extra long name on hover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When extra long organization name is added for the first organization on the list  and when the user hovers over the name on the left hand side of the home page, the tooltip gets cuts off from the top of the screen

![image](https://user-images.githubusercontent.com/92293815/162714692-d732f5a6-3ad

[2022-04-11 10:02] ajinkyakulkarni commented on #12260
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 700 |
| Effort (months)  | 0.25 |

[2022-04-11 10:06] ajinkyakulkarni commented on #11847
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 29 |
| Effort (months)  | 0.25 |

[2022-04-11 10:12] autocode-app[bot] opened #12776 "[Docs] #4106 [Bug]-[141]:Display a sheet specific error message if sheet names don't match in google sheets plugin"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #4106
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 10:13] rohan-arthur commented on #7794
gsheets usage in 6 months: 1400
assume 10% face this problem: 140
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 140 |
| Effort (months)  | 0.25 |

[2022-04-11 10:20] shwetha-ramesh opened #12777 "[Bug]: When extra long name for organization is given text is overlapped in Fork modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When extra long name for organization is given text is overlapped in Fork modal

![image](https://user-images.githubusercontent.com/92293815/162719756-dee269f6-9e9f-4ea0-b024-c0c017d45019.png)

### Steps To Reproduce

1. Login to release
2. Create 2 org > Name 1 organization with extra long name
3

[2022-04-11 10:21] autocode-app[bot] opened #12778 "[Docs] #12486 [Task]: RCA for #12318, #12520"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12486
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 10:25] dncpax commented on #3623
I think this should be reopened... with the latest 1.6.17(?) there's now a new Templates section that does not work since appsmith cannot access the appsmith endpoint to get the templates...
Also, in my case, appsmith cannot start unless I point cs.appsmith.com to an internal IP address.

[2022-04-11 10:28] rohan-arthur opened #12779 "[Bug]-[25000]:[UI] hover state missing for items in the 3 dots menu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Untitled (1)](https://user-images.githubusercontent.com/94514895/162721720-e54c9528-e5cc-4464-b057-027dd86c5a71.png)

### Steps To Reproduce

1. go to datasources page
2. expand the 3 dots menu
3. the menu items don't have a hover state

### Public Sample App

_No response_

### Version

Cloud

[2022-04-11 10:28] rohan-arthur commented on #12779
reach: 12000

[2022-04-11 10:32] prapullac opened #12780 "[Bug]: UX: Misalignment of API Pane Connections pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On RUN action of the API it is observed that the Connection pane is been misaligned

### Steps To Reproduce

1) Navigate to the  API pane
2) Add an API
3) Click on the RUN action
and observe the Connection Pane
![Screenshot 2022-04-11 at 3 16 40 PM](https://user-images.githubusercontent.com/717536

[2022-04-11 10:38] yatinappsmith commented on #11952
Going too and fro dropbox issue still present on cloud but not on selfhosted

[2022-04-11 10:42] autocode-app[bot] opened #12782 "[Docs] #12781 fix: Conversion logic for expires in field"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12781
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 10:47] autocode-app[bot] opened #12784 "[Docs] #12773 fix: Fix google sheets datasource options"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12773
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 10:47] autocode-app[bot] opened #12785 "[Docs] #12762 [Bug]: GSheet : Datasource name is not displayed to user in the Query pane"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12762
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 10:52] ramsaptami commented on #11621
Reopening since fix does not work yet (Related to #11795)

[2022-04-11 10:54] nidhi-nair commented on #12437
Google sheets authorization is working for me on release. Could someone please help with a reproduction for this?

[2022-04-11 10:55] Irongade commented on #12437
@nidhi-nair its working for me as well, I suspect she tested this on her local. @prapullac

[2022-04-11 10:59] prapullac commented on #12437
Closing the issue as it is working as expected

[2022-04-11 10:59] #12437 closed

[2022-04-11 11:03] Nikhil-Nandagopal commented on #12744
@vernonstinebaker thank you for the feature request!

[2022-04-11 11:05] Nikhil-Nandagopal commented on #12523
@sullo but the github APIs response is returned to the client. So can you tell me where you're facing this issue?

[2022-04-11 11:08] Nikhil-Nandagopal commented on #3623
@dncpax can you try whitelisting cs.appsmith.com on your firewall?

[2022-04-11 11:12] vernonstinebaker commented on #3095
It will be great to be able to add CSS to style Disabled items better. Right now disabled items (text within a textbox, for example) are very difficult to see.

[2022-04-11 11:13] AmanAgarwal041 opened #12787 "[Bug]: EditorJSONtoForm Component being re-rendered unnecessarily"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

EditorJSONtoForm was being re-rendered 30 times due to the wrong props being passed from the parent component -> QueryEditor.

### Steps To Reproduce

In development mode :
- Added a `console.count` to display the number of re-rendering of a component.
- Added a `whyDidYouRender` property to compo

[2022-04-11 11:15] Rishabh-Rathod commented on #11927
Frontend needs to gracefully handle this error and should not crash users app and ideally, this should never happen from backend.

[2022-04-11 11:16] Nikhil-Nandagopal commented on #9480
@hetunandu can you add more details to this issue?

[2022-04-11 11:18] Nikhil-Nandagopal commented on #12352
@stillman0000 that app doesn't seem to be available. Have you made it public?

[2022-04-11 11:23] autocode-app[bot] opened #12789 "[Docs] #1004 [Bug] No error is shown on navigation if page name is invalid"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:23] #12338 closed

[2022-04-11 11:23] #12509 closed

[2022-04-11 11:23] #12535 closed

[2022-04-11 11:26] dilippitchika commented on #12744
Let's discuss this once @ashit-rath i believe there's a bit more nuance here.

[2022-04-11 11:30] Nikhil-Nandagopal opened #12790 "[Bug]-[2000]:Autocomplete selectedRow columns don't show in best match"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The best match feature of the autocomplete doesn't factor in the selectedRow of the table widget

### Steps To Reproduce

1. Drag a table
2. Drag a text widget
3. Enter {{Table1.}}
4. See that best match does not show the selectedRow and cols

### Public Sample App

_No response_

### Version

Clo

[2022-04-11 11:31] Nikhil-Nandagopal commented on #12790
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4000 |
| Effort (months)  | 1 |

[2022-04-11 11:32] autocode-app[bot] opened #12791 "[Docs] #12773 fix: Fix google sheets datasource options"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12773
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:32] autocode-app[bot] opened #12792 "[Docs] #12762 [Bug]: GSheet : Datasource name is not displayed to user in the Query pane"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12762
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:33] btsgh commented on #11533
46.
- Created a theme ""MyTheme4"" Which is rounded with additional background colours
- Drop an icon button widget .
- Increase the size of the widget and note the borders of the icon button.
- It is square with rounded borders.
- In Release, the round shape is retained.
<img width="420" alt="Icon_Release" src="https://user-images.githubusercontent.com/101863839/162731124-e00c5f35-711f-4ca4-9937-

[2022-04-11 11:34] autocode-app[bot] opened #12793 "[Docs] #9669 [Bug]: Text is duplicated when ':()' appears in trigger field and does not clear when text is removed"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9669
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:35] dilippitchika commented on #12650
@shwetha-ramesh this issue is being tracked here - https://github.com/appsmithorg/appsmith/issues/12755

FYI this is a critical issue

[2022-04-11 11:35] #12650 closed

[2022-04-11 11:40] autocode-app[bot] opened #12794 "[Docs] #12706 [Bug]: App crashes when using GSheets where condition operator using keyboard shortcuts"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12706
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:41] dilippitchika commented on #12774
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 0.5 |

[2022-04-11 11:42] autocode-app[bot] opened #12795 "[Docs] #1004 [Bug] No error is shown on navigation if page name is invalid"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:43] autocode-app[bot] opened #12796 "[Docs] #9669 [Bug]: Text is duplicated when ':()' appears in trigger field and does not clear when text is removed"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9669
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:43] rohan-arthur commented on #12706
not able to reproduce with the original steps anymore, but thanks to @prapullac here's another way to see this error:
1. Add a GSheets query
2. enter spreadhsheet, and sheet name
3. run the query once
4. go to where clause section
5. enter "column name"
6. hit TAB (app doesn't crash)
7. when the focus is on OPERATOR field, hit the "down" arrow to expand the dropdown
8. app crashes

[2022-04-11 11:44] autocode-app[bot] opened #12797 "[Docs] #1004 [Bug] No error is shown on navigation if page name is invalid"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:45] autocode-app[bot] opened #12798 "[Docs] #9669 [Bug]: Text is duplicated when ':()' appears in trigger field and does not clear when text is removed"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9669
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:46] hetunandu commented on #12793
Automation testing

[2022-04-11 11:46] #12793 closed

[2022-04-11 11:47] hetunandu commented on #12795
Automation testing

[2022-04-11 11:47] #12795 closed

[2022-04-11 11:47] hetunandu commented on #12796
Automation testing

[2022-04-11 11:47] #12796 closed

[2022-04-11 11:47] hetunandu commented on #12797
Automation testing

[2022-04-11 11:47] #12797 closed

[2022-04-11 11:48] hetunandu commented on #12789
Automation testing

[2022-04-11 11:48] #12789 closed

[2022-04-11 11:48] hetunandu commented on #12770
Automation testing

[2022-04-11 11:48] #12770 closed

[2022-04-11 11:48] hetunandu commented on #12798
Automation testing

[2022-04-11 11:48] #12798 closed

[2022-04-11 11:54] YogeshJayaseelan opened #12799 "[Bug]: Input widget valid field doesn't throw error when the JS expression is false"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is observed that the input widget has valid property. doesn't throw error message when the valid property JS expression is false

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/73a6257bfe0546129009b5ceb22665fb-00001.gif)](https://www.loom.com/share/73a6257bfe0546129009b5ceb22665fb)

###

[2022-04-11 11:54] YogeshJayaseelan opened #12800 "[Bug]: Input widget valid field doesn't throw error when the JS expression is false"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It is observed that the input widget has valid property. doesn't throw error message when the valid property JS expression is false

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/73a6257bfe0546129009b5ceb22665fb-00001.gif)](https://www.loom.com/share/73a6257bfe0546129009b5ceb22665fb)

###

[2022-04-11 11:56] autocode-app[bot] opened #12802 "[Docs] #12801 fix: Fix app crash on arrow down in where clause"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12801
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 11:59] autocode-app[bot] opened #12803 "[Docs] #3532 [Feature]-[4968]:Add functions to set meta properties programatically on widgets"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #3532
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:00] autocode-app[bot] opened #12804 "[Docs] #9391 [Type]-[48000]:Refactor Action Selector component"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9391
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:02] autocode-app[bot] opened #12806 "[Docs] #1004 [Bug] No error is shown on navigation if page name is invalid"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:03] autocode-app[bot] opened #12808 "[Docs] #12807 fix: added dataFormat into file data"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12807
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:04] miko007 commented on #11847
@ajinkyakulkarni could you briefly explain what that means?

[2022-04-11 12:04] autocode-app[bot] opened #12809 "[Docs] #9669 [Bug]: Text is duplicated when ':()' appears in trigger field and does not clear when text is removed"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9669
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:05] autocode-app[bot] opened #12810 "[Docs] #3532 [Feature]-[4968]:Add functions to set meta properties programatically on widgets"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #3532
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:05] autocode-app[bot] opened #12811 "[Docs] #9391 [Type]-[48000]:Refactor Action Selector component"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9391
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:07] ajinkyakulkarni commented on #11847
@miko007 - this is our internal experiment using the prioritization framework (called RICE scoring model). Please ignore the stats for now.

[2022-04-11 12:09] autocode-app[bot] opened #12812 "[Docs] #1004 [Bug] No error is shown on navigation if page name is invalid"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #1004
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 12:10] hetunandu commented on #12804
Automations testing

[2022-04-11 12:10] #12804 closed

[2022-04-11 12:10] hetunandu commented on #12812
Automations testing

[2022-04-11 12:10] #12812 closed

[2022-04-11 12:10] hetunandu commented on #12811
Automations testing

[2022-04-11 12:10] #12811 closed

[2022-04-11 12:11] hetunandu commented on #12810
Automations testing

[2022-04-11 12:11] #12810 closed

[2022-04-11 12:11] hetunandu commented on #12809
Automations testing

[2022-04-11 12:11] #12809 closed

[2022-04-11 12:13] Nikhil-Nandagopal commented on #8623
This seems to be working. If there is still a problem lets create a new issue for it

[2022-04-11 12:13] #8623 closed, assigned to dilippitchika, areyabhishek

[2022-04-11 12:16] ajinkyakulkarni opened #12813 "[Docs]: Review OAuth documentation for Authorization Code workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/core-concepts/connecting-to-data-sources/authentication/oauth2-authentication

### Describe the problem

A user reported that our documentation for OAuth is not clear https://discord.com/channels/725602949748752515/760761686549463060/962283221662449714

https://the

[2022-04-11 12:17] Nikhil-Nandagopal commented on #10522
Assuming 20% of REST APIs need this feature
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | 0.25 |

[2022-04-11 12:18] hetunandu commented on #9480
If we can determine the return value of a JS function, we can use our best match to suggest JS functions on widget properties. For example if we know a JS function returns an array of objects, we can show it in the best match of table data

[2022-04-11 12:21] Nikhil-Nandagopal commented on #11194
Assuming 10% of custom column users encounter this
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 160 |
| Effort (months)  | 0.25 |

[2022-04-11 12:24] yatinappsmith opened #12814 "[Bug]: appsmith fails to start with gmail+github+customdomain+alloweddomain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

appsmith fails to start with gmail+github+customdomain+alloweddomain

### Steps To Reproduce

Create CE container
Add following variables to docker.env

APPSMITH_CUSTOM_DOMAIN=localhost
APPSMITH_OAUTH2_GOOGLE_CLIENT_ID=<hidden>
APPSMITH_OAUTH2_GOOGLE_CLIENT_SECRET=<hidden>
APPSMITH_OAUTH2_ALLOWED_

[2022-04-11 12:25] yatinappsmith commented on #12814
@RakshaKShetty was not able to reproduce this on EE

[2022-04-11 12:50] #12755 closed

[2022-04-11 12:52] dilippitchika commented on #12308
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1500 |
| Effort (months)  | 0.75 |

[2022-04-11 13:00] chandannkumar opened #12815 "[Bug]-[16]:Unable to select option in Radio Group field type when value is Number on JSON Form widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/25292713d76842da8e03b4a50b1f7d66-00001.gif)](https://www.loom.com/share/25292713d76842da8e03b4a50b1f7d66)

### Steps To Reproduce

1. Add Json Form widget onto canvas
2. Add a Radio Group Field type
3. Under Options set value as Number to see t

[2022-04-11 13:02] dilippitchika commented on #12086
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | 0.75 |

[2022-04-11 13:12] dilippitchika commented on #11781
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 15 |
| Effort (months)  | 0.25 |

[2022-04-11 13:14] dilippitchika commented on #12255
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10 |
| Effort (months)  | 0.5 |

[2022-04-11 13:33] dilippitchika commented on #12800
Duplicate of #12799

[2022-04-11 13:33] #12800 closed

[2022-04-11 13:36] dilippitchika commented on #12799
We don't solve this today. A user has to explicitly interact with the widget to see the isValid in action.

[2022-04-11 13:39] dilippitchika commented on #12757
@momcilo-appsmith please share the app unable to reproduce this

[2022-04-11 13:43] dilippitchika commented on #12716
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 30 |
| Effort (months)  | 0.25 |

[2022-04-11 13:48] dilippitchika commented on #12716
Action items:
1. Add a new binding - video.progress which contains the time in "hh:mm:ss" format
2. Add a new property - "Start at" which is an input field which will accept the format for the progress to start at in the above described way.

[2022-04-11 13:49] #12717 closed

[2022-04-11 13:51] dilippitchika commented on #12714
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 120 |
| Effort (months)  | 0.5 |

[2022-04-11 13:53] dilippitchika commented on #12709
Assuming 10% of our table users see this
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 0.25 |

[2022-04-11 13:55] dilippitchika commented on #12709
@sbalaji1192 can you take a look and let me know if we can add this? If yes, I will ask someone else to pick this up.

[2022-04-11 14:49] autocode-app[bot] opened #12816 "[Docs] #12336 Import an template inside an existing Application"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12336
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 14:49] autocode-app[bot] opened #12817 "[Docs] #12507 feat: Import an template inside an existing Application"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12507
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-11 16:16] ohansFavour opened #12818 "[Bug]: No loading UI in JS Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

No loading UI is shown when an async function is run

### Steps To Reproduce

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/04e73140aa4c4ceb821219e109f5c889-00001.gif)](https://www.loom.com/share/04e73140aa4c4ceb821219e109f5c889)

### Public Sample App

_No response_

### Version

Cloud

[2022-04-11 17:02] #12706 closed

[2022-04-11 17:08] dncpax commented on #3623
it's not a firewall, i can reach cs.appsmith.com. it's a proxy, so all requests in this network go through the proxy. afaik appsmith uses netty so there is no automatic support for -Dhttp.proxy java settings.
the only way I can see for users to enable appsmith container access to internet is to somehow configure a transparent proxy for docker... which I haven't been able to do on my own.

[2022-04-11 17:53] AnaghHegde commented on #12057
@RakshaKShetty Is this still valid ?

[2022-04-11 19:28] rfenaux commented on #11926
Hello, any update on this ?

[2022-04-11 19:50] leotom2000 commented on #11141
Findings :
Part 1:
The application can work without this fix in the following way
Example of working syntax for updating TimeStampTS without this fix is : 2022-04-11 05:30:00
This is saved as UTC format in the DB, which fetching necessary conversion are required based on the fetching location and displayed in the right field in the same syntax.
So Updating again with the same syntax will work with

[2022-04-12 04:34] btsgh opened #12823 "[Bug]-[748]:Table widget - Cell background for Step column is applied incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When cell background colour is applied to the Step column, the cell background colour is applied for the entire column as well as the other cells which do not contain data.
It should only be applied to the cells of the Step column, which has data (the first three cells of the step column)

-- UPDA

[2022-04-12 04:42] sbalaji1192 commented on #12709
@dilippitchika We can do this. Currently, we intentionally fill the table with empty cells when the tableData is empty.

[2022-04-12 04:45] dilippitchika commented on #12709
@sbalaji1192 do you know why we do this? Any catch with implementing this?

[2022-04-12 04:49] dilippitchika commented on #12709
Ok, @somangshu or @Nikhil-Nandagopal may know. Folks any reason we took this behavior?

@sbalaji1192 will this show up when the evaluations are still going on? If we add this will it cause issues in #12308?

[2022-04-12 05:00] arunvjn opened #12824 "[Bug]: Onboarding via checklist is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Onboarding via checklist is broken

### Steps To Reproduce

1. Sign up on appsmith
2. Click on checklist section in the explorer in your first app.
3. Empty page is rendered

### Public Sample App

_No response_

### Version

Cloud

[2022-04-12 05:18] #12799 closed

[2022-04-12 05:21] RakshaKShetty opened #12825 "[Bug]: The admin access is not granted to users who logins with GitHub auth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The admin access is not granted to users who logins with GitHub auth
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/162886348-59f6eac1-66eb-440e-8cee-76582e8a8fb3.png">

### Steps To Reproduce

1. In the admin setting page
2. under general tab
3. In Admin Ema

[2022-04-12 05:23] eco-monk opened #12826 "Add unit tests for 12684"
#12684

[2022-04-12 05:25] RakshaKShetty opened #12827 "[Bug]: The option to add admin emails does not grant admin access for form login users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 The option to add admin emails does not grant admin access for form login users
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/162886643-e4c922a6-e4e5-4887-afa4-10f307b2ca28.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/4

[2022-04-12 05:27] RakshaKShetty commented on #11118
admin access is granted in some scenarios and fails in some scenario so added a separate issues so closing this

[2022-04-12 05:31] dilippitchika commented on #12711
Not an issue

[2022-04-12 05:31] #12711 closed

[2022-04-12 05:35] abhvsn commented on #11927
This needs to be handled from the backend which we are not able to reproduce at the moment. @ApekshaBhosale mentioned we are seeing more and more instances of this not sure if this is reproducible though.

cc: @nidhi-nair @sumitsum

[2022-04-12 05:41] dilippitchika commented on #12708
@chandannkumar this may be happening across different fields as well, have you checked across all the types of possible inputs already?

[2022-04-12 05:43] somangshu commented on #12709
I feel it is expected to see empty columns in the table, Atleast the headers, It gives the end user an idea of the data schema.

@dilippitchika Maybe we leave the column heading as it is and show this only in place of the data rows?

[2022-04-12 05:49] somangshu commented on #10624
#12767 should be fixed with this issue

[2022-04-12 05:51] jnikhila commented on #12759
As suggested by @arunvjn - I've edited the doc and merged to trigger the AWS Lambda again. I checked the list doc again after a considerable amount of time but the broken link issue still exists. @ajinkyakulkarni - I guess someone from the engineering team will have to take it ahead.

[2022-04-12 05:51] somangshu commented on #12161
The position changed to the top here because of lesser space, Does it makes sense to fix the position? If it does, then we can proceed.

cc @ashit-rath

[2022-04-12 05:54] RakshaKShetty commented on #11016
reopening the issue still facing same issue
![image](https://user-images.githubusercontent.com/45958978/162890220-8d641edf-0e8e-4c48-8b9f-e1a7076cb173.png)

[2022-04-12 05:58] ramsaptami opened #12828 "[Bug]: CRUD pages display table column error on browser console"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

CRUD generated pages are displaying a parse error for table widget

### Steps To Reproduce

1. Generate a page via CRUD, refresh page and observe the console
![image](https://user-images.githubusercontent.com/79509062/162890834-b7448dd0-f793-4e12-acd0-f7e2420b6a89.png)

### Public Sample App

_No

[2022-04-12 06:03] sbalaji1192 opened #12829 "[Bug]-[7000]:Placement issue with debugger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There is gap at the bottom of the debugger through which we can see the content of the canvas
![Screenshot 2022-04-12 at 11 29 48 AM](https://user-images.githubusercontent.com/5328605/162891089-58af46d7-92b5-4ed6-ae82-38b7a969cff7.png)
a

### Steps To Reproduce

1. Open debugger
2. observer that t

[2022-04-12 06:28] btsgh commented on #11533
47. On migration, the widget text fonts are not retained as per the app in the release. They change to the theming font. (For the theme that i have chosen, Monserrat is the font type that i have selected)
<img width="318" alt="SwitchGrpW_Release" src="https://user-images.githubusercontent.com/101863839/162894814-134d94e9-747c-4c27-af8d-97f65df38790.png">
<img width="383" alt="SwitchGrpW_TDP" src="

[2022-04-12 06:35] Nikhil-Nandagopal commented on #12829
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | 0.25 |

[2022-04-12 06:51] chris-metz commented on #8548
Can confirm this, as I also have a client that currently searches for LC Applications and needs to connect to their AS/400 DB/2 Database.

[2022-04-12 06:52] abhvsn opened #12831 "[Feature]-[2400]:Autoassign the column datatype in table widget instead of default Plain Text depending upon the column data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently for any type of data in table widget `Plain Text` is auto-assigned. User will have to change it manually if one wants to.

### Why should this be worked on?

One of the use-case where we find this useful is in generate CRUD page feature, where we have implemented the server side pagination a

[2022-04-12 06:54] Nikhil-Nandagopal commented on #7846
Closing as this is expected

[2022-04-12 06:54] #7846 closed

[2022-04-12 06:54] sbalaji1192 opened #12832 "[Bug]: Enabling smart substitution on google sheet query converts text enclosed in double curly braces in payload to null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a Table that has inline edit-ability enabled and onSubmit of the cell, an update query will get called with the updated row. When the smart substitution is enabled, the query is converting the text in the payload in the following format {{SOME_TEXT}}  to null.
https://www.loom.com/share/b82

[2022-04-12 06:56] Nikhil-Nandagopal commented on #9394
Closing as it hasn't been seen in awhile

[2022-04-12 06:56] #9394 closed

[2022-04-12 06:58] Nikhil-Nandagopal commented on #2639
Assuming we're right even 25% of the time
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3000 |
| Effort (months)  | 3 |

[2022-04-12 06:58] sumitsum commented on #12643
Unable to reproduce it on my local setup with the latest code. I have also tried importing the same application that is failing on release to my local instance, but the imported application works as expected. I have also asked Saptami to help reproduce it, but we haven't been able to so far. We should monitor this issue for a while and close it if the issue seems un-reproducible.

[2022-04-12 07:11] Nikhil-Nandagopal commented on #12487
Why is this a frontend check? Backend should be rejecting this

[2022-04-12 07:14] kocharrahul7 commented on #11873
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     |50 |
| Effort (months)  | 0.5|

[2022-04-12 07:15] pranavkanade opened #12833 "[Bug]: `navigateTo` is throwing unexpected errors with list widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot 2022-04-12 at 12 11 03 PM](https://user-images.githubusercontent.com/13262095/162902315-32e4b170-0e84-4350-9770-62de2f7f3660.png)
![Screenshot 2022-04-12 at 12 43 53 PM](https://user-images.githubusercontent.com/13262095/162902353-29d5ec2c-57e4-42db-a29a-f710f0f0ebd8.png)

Here are th

[2022-04-12 07:17] SatishGandham commented on #11322
Related: https://github.com/appsmithorg/appsmith/issues/12318

[2022-04-12 07:24] SatishGandham commented on #11901
This is because
- The tables selected row changes, and it re-renders.
- The modal content itself takes time to render.

Try to open the modal before the table renders, optimise the modal content, which means optimizing the individual widgets.

[2022-04-12 07:24] pranavkanade commented on #11965
I could not reproduce the problem. I am closing this issue for now.

[2022-04-12 07:24] #11965 closed

[2022-04-12 07:25] #12487 closed

[2022-04-12 07:28] Nikhil-Nandagopal commented on #9852
If 25% of users face this error
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 75 |
| Effort (months)  | 0.25 |

[2022-04-12 07:33] Rishabh-Rathod opened #12834 "[Task]: Positioned Container hooks change triggering unnecessary re-rendering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Drag and drop a widget on canvas and record react profile.

[2022-04-12 08:15] vivekverma2312 opened #12835 "[Bug]: Draw size is not proper when we resize the browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/cc52ac82cef849ff830915dde59702f6-00001.gif)](https://www.loom.com/share/cc52ac82cef849ff830915dde59702f6)

### Steps To Reproduce

1. Open an app with few widgets
2. Drag and draw few widgets on canvas
3. Copy the widgets
4. Now resize the brow

[2022-04-12 08:48] praveenkumarKajla opened #12838 "[Feature]: Redis tls support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I'm using elasticache as redis backend for appsmith self hosted instance. Not able to connect to it with tls on.
When i enable encryption on my elasticache cluster i'm not able to connect to it from ec2

### Steps To Reproduce

1. Create a cluster without encryption
2. Connect using redis-cli from

[2022-04-12 08:50] dilippitchika commented on #10483
Discussed with @vinay-appsmith and here are the next steps for us

Pending items
1. The remaining widgets to be audited are table and text widgets for widget reskinning.
2. We need a design POC to drive the project forward.

Action items
1. Vinay to check if we can get someone from the Rival team to close table and text widgets for reskinning.
2. Vinay to internally work on handing this to one of

[2022-04-12 08:55] autocode-app[bot] opened #12839 "[Docs] #9669 [Bug]: Text is duplicated when ':()' appears in trigger field and does not clear when text is removed"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #9669
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 08:55] #12839 closed

[2022-04-12 09:00] praveenkumarKajla commented on #12838
Works with rediss://

[2022-04-12 09:00] #12838 closed

[2022-04-12 09:09] autocode-app[bot] opened #12841 "[Docs] #12840 fix: Table derived properties removal on js toggle off."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12840
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 09:19] btsgh commented on #11533
49. On a table widget, On binding to a google sheets query and pulling data, if the text in a column exceeds the column width, at some places, it is truncated properly with three dots, and on hover - full text is shown. (which is the right behaviour) ... but in some cases, the text is cutoff and no hover text is displayed.
<img width="644" alt="TableWidget_TDP_ColumnTexttruncate_Incorrectbehavior"

[2022-04-12 09:21] dilippitchika commented on #12709
@somangshu you are right we can show the schema for the table. I thought this already exists in the table widget.

This will also be useful when data is filtered or searched but no results are found and other cases. I will add a small PRD and get this designed.

[2022-04-12 09:26] prapullac opened #12842 "[Bug]-[60000]:Rest API Under The Authentication tab "Save as datasource" does not look as an Active button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user adds an API to the API pane it is observed that the "Save as datasource" appears next to the field. When the user navigates to Authentication Tab and observes the Save as datasource it is observed that the "Save as datasource" is not displayed as active button

### Steps To Reproduce

[2022-04-12 09:56] autocode-app[bot] opened #12843 "[Docs] #7064 [Enhancement] Controls for labels in widgets to align the widgets in forms and other places"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #7064
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 09:56] autocode-app[bot] opened #12844 "[Docs] #10600 feat: Controls for labels in widgets to align the widgets in forms and other places"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #10600
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 10:01] #12445 closed, assigned to nobody

[2022-04-12 10:02] #10293 closed

[2022-04-12 10:02] Rishabh-Rathod commented on #11927
Today, i was able to reproduced issue of JSObject duplication in my application without git feature.

App link - https://release.app.appsmith.com/applications/62444de2c48ad30cd5b5eb23/pages/62444de2c48ad30cd5b5eb2a

What i noticed was, first i lost my JS object named `JSobject1` and then to fix the function i created new `JSObject1` and that resulted in 2 `JSObject1` entity in the application.

To

[2022-04-12 10:03] #12083 closed

[2022-04-12 10:09] autocode-app[bot] opened #12845 "[Docs] #11746 fix: JSobject and Api pane title"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #11746
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 10:09] autocode-app[bot] opened #12846 "[Docs] #11008 [Bug]: The title component for API pane and JSObject is different"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #11008
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 10:26] JonasJacobsUserspace commented on #3129
We also need it in the company. We use MySQL for updates and Bigquery for logging and reporting.

[2022-04-12 10:36] autocode-app[bot] opened #12848 "[Docs] #10624 [Bug]-[400]:"Disable icon" should be visible in Table widget's icon column is set to Disabled"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #10624
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 10:36] autocode-app[bot] opened #12849 "[Docs] #10843 fix: use disabled cursor when icon disabled"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #10843
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 10:43] sumitsum commented on #2284
Meeting updates:

- create re-usable components from REST API on server side - @sumitsum
- create editor for query body and query variable - @AmanAgarwal041
- share pagination implementation with team to gather feedback - @sumitsum
- create test document - @prapullac

Note:
- @sumitsum and @AmanAgarwal041 will keep updating the PRD with status of action items.

[2022-04-12 10:48] autocode-app[bot] opened #12851 "[Docs] #12850 fix: updated cursor style in actionWrapper"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12850
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 10:53] autocode-app[bot] opened #12852 "[Docs] #12225 [Bug]-[300]:Default value is displayed on widget even when it is not available in drop-down options"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12225
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 10:53] dilippitchika commented on #7256
I think we need to do a POC on this using the list widget, i believe these are the requirements but would want to refine them once with you @somangshu @momcilo-appsmith

**Creating a grid widget POC using the list widget**
The properties we need to expose to the devs for the POC are
1. No. of items in a row - A number which the dev configures to show the amount of list items horizontally. Ex - 3 i

[2022-04-12 10:59] Nikhil-Nandagopal commented on #12823
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 374 |
| Effort (months)  | 0.25 |

[2022-04-12 11:03] #4142 closed

[2022-04-12 11:25] dilippitchika commented on #12609
Assuming 1% of widget users face this

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-04-12 11:39] autocode-app[bot] opened #12853 "[Docs] #11927 [Bug]: Erratic behaviour with missing pluginId for the actions created by JSObjects"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11927
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 11:45] rohan-arthur commented on #11261
team charter: https://www.notion.so/appsmith/Team-Charter-Backend-Coders-Pod-20635fdce0774a7785b7beba90829d96

[2022-04-12 11:45] #11261 closed

[2022-04-12 11:49] autocode-app[bot] opened #12855 "[Docs] #11141 [Bug]: Update from CRUD Generated page with timezone field resulting with Error in Updating Resource"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11141
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 11:49] autocode-app[bot] opened #12856 "[Docs] #12821 Fix: 11141-JDBC override parameter for resolving TZ Cast Errors"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12821
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 11:50] sum35h commented on #12814
This issue was being caused by setting an invalid domain name for  `APPSMITH_CUSTOM_DOMAIN` env variable.

[2022-04-12 11:55] rohan-arthur commented on #7539
mobodb usage: 716
applying 50% reach: 358
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 358 |
| Effort (months)  | 0.25 |

[2022-04-12 11:59] rohan-arthur commented on #8419
mysql 6m usage: 983
applying 5% reach of this problem: 50

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 50 |
| Effort (months)  | 0.25 |

[2022-04-12 12:01] SatishGandham commented on #11524
## Actionable

- [x] With #11539, @arunvjn have resolved all the failing cypress tests, We will be closing this soon. We have seen a 300ms improvement with this change. 🎉
- [ ] #11553 need profiling, @arunvjn will set the benchmarks here. Currently there are many cypress tests failing here, That will be taken care of in the current sprint, We will target closing this. Based on the last profile by

[2022-04-12 12:01] rohan-arthur commented on #10849
s3 6m usage: 148, but doubling this since I cannot reduce the effort further
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 0.25 |

[2022-04-12 12:03] rohan-arthur commented on #3911
REST 6m usage: 3500
assume 10% requirement: 350
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 350 |
| Effort (months)  | 0.25 |

[2022-04-12 12:03] zzgvh commented on #6489
I concur about the "need" for longer data source names. A small example of how I organize data sources and JSObjects to show you why I find 30 chars quite limiting:

I use Google spreadsheets and give the data sources manipulating the same resource the same "base name", but with a "REST like" method appended appended. Example: `weeklyCustomerSales_GET`, `weeklyCustomerSales_CLEAR` and `weeklyCusto

[2022-04-12 12:08] ankitakinger opened #12857 "[Bug]: Disconnect flow breaks for OIDC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the OIDC config setup is complete on the Admin settings page, you will start seeing the disconnect button on the same page. When you click on disconnect, the docker starts showing an error in logs -> Authorization URI cannot be empty.

### Steps To Reproduce

1. Go to the admin settings page

[2022-04-12 12:12] aswathkk opened #12858 "[Feature]: Ability to pass cookies to API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There's no way to pass cookies to an API via the API pane

### Why should this be worked on?

A discord user wanted to pass cookies to an API to get an access-token in return.
[Here](https://discord.com/channels/725602949748752515/760761686549463060/963395716686946354)'s the link to the message.

[2022-04-12 12:14] shwetha-ramesh commented on #11533
@jsartisan #DPIssues
50. Widget with drop down have different behavior for different family of widgets- ex: for fully rounded theme; Button group widget has sharp border radius drop down, for input family widget the drop down is fully rounded and for select widget family the drop down is medium rounded
![image](https://user-images.githubusercontent.com/92293815/162958539-b57688ad-5637-4000-b725-00

[2022-04-12 12:21] kocharrahul7 commented on #12060
This hsa been closed, and can be tracked here:
https://github.com/appsmithorg/appsmith/issues/11015

[2022-04-12 12:22] aswathkk opened #12859 "[Feature]: Support document.cookie"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It should be possible in Appsmith to access `document.cookie` variable.

### Why should this be worked on?

Query from a [Discord user](https://discord.com/channels/725602949748752515/760761686549463060/963395716686946354):

Related issue #12858

[2022-04-12 12:24] kocharrahul7 commented on #11937
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3000 |
| Effort (months)  | 1|

[2022-04-12 12:24] #12857 closed

[2022-04-12 12:26] kocharrahul7 commented on #11791
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1400 |
| Effort (months)  | 1|

[2022-04-12 12:30] kocharrahul7 commented on #11643
We now show 3 datasources by default on the entity explorer. The datasource will now remain here.

You can track the change here: https://github.com/appsmithorg/appsmith/issues/11031

[2022-04-12 12:30] #11643 closed

[2022-04-12 12:32] kocharrahul7 commented on #11302
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3000 |
| Effort (months)  | 1|

[2022-04-12 12:37] aswathkk commented on #12859
Another user request: https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100058404#part_id=comment-164629100058404-13282910472

[2022-04-12 12:39] lublak opened #12860 "[Feature]: add history.pushState as "Change url params""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

it would be useful to have a simple function to update the current parameters of the url through a js object {key:value}.
![grafik](https://user-images.githubusercontent.com/44057030/162962497-7fed4b8f-cf9a-4871-a128-1a926e0fb3fc.png)
![grafik](https://user-images.githubusercontent.com/44057030/162963

[2022-04-12 12:57] Rishabh-Rathod commented on #12584
Scope of this issue is changed from focusing on `AppViewerPageContainer`  to widgets rendering improvement.

Hence, estimate needs to be updated accordingly.

Shall i create a separate issue for `widgets rendering` and close this issue as RCA task done ?
@somangshu

[2022-04-12 13:09] lublak commented on #11422
I have the same issue with the new url system (named urls).
Not the first, for me its the "embed".

[code]
to
[code]

[2022-04-12 13:15] prsidhu opened #12861 "[Bug]: Multiple re-renders in SelectWidget on server side filtering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Widget: Select
 Issue: When server side filtering is enabled, the widget renders thrice on every character change in the filter; in effect triggering the server side filtering thrice and causing a performance lag.

### Steps To Reproduce

1. Create an app.
2. Add a select widget (S1) to the page.

[2022-04-12 13:22] Nikhil-Nandagopal commented on #11717
@ame-appsmith that was because the data only returned a single row. That isn't a good use case for a table widget

[2022-04-12 13:22] #11717 closed

[2022-04-12 13:53] Nikhil-Nandagopal commented on #12352
@stillman0000 the link you shared seems to be the issue link

[2022-04-12 13:53] #11960 closed

[2022-04-12 14:02] autocode-app[bot] opened #12862 "[Docs] #11691 [Bug]: MongoDB store boolean inputs false and true as 0 and 1 when table column type is varchar"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11691
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 14:03] vasanthappsmith opened #12863 "[Docs]: Migrating App from Cloud - Self Host"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Migrating App from Cloud - Self Host

`[Intercom](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/5269111/conversations/164629100084347)`

### Why should this be worked on?

Needs Documentation.

[2022-04-12 14:09] #12377 closed

[2022-04-12 14:19] #12082 closed

[2022-04-12 15:08] eco-monk commented on #12589
I'd recommend extending this to cover other asynchronous functions too.
e.g. storeValue, navigateTo etc...

Because users have trouble dealing with the nuances of Promises in general. (It's quite pro-code rather than low-code)

Something like our current action creator, but with action sequencing.

[2022-04-12 15:15] btsgh commented on #11533
56.

-Drag and drop a table widget onto the theming dp canvas.
-In the properties pane, add two new columns (CustomColumn1 and CustomColumn2)
-Click on the settings of CustomColumn1. Choose ""Menu Button"" from Column Type dropdown
-Scroll down to LabelColor in the property pane.
-Set any LabelColour from the palette.
-Nothing happens on the button
Expected - The label colour should get changed to

[2022-04-12 16:08] stillman0000 commented on #12352
yes, sorry I was trying to reference my previous comment where I mentioned moving the new sample app here: https://app.appsmith.com/applications/624e407f51a8863d6c40534e/pages/624e407f51a8863d6c405350

@Nikhil-Nandagopal

[2022-04-12 16:52] autocode-app[bot] opened #12866 "[Docs] #3911 [Feature]-[700]: Add handling for JSON-LD types in REST APIs"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #3911
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 16:56] autocode-app[bot] opened #12867 "[Docs] #12780 [Bug]: UX: Misalignment of API Pane Connections pane"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12780
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-12 17:17] btsgh commented on #11533
57.
-Drag and drop a table widget onto the theming dp canvas.
-In the properties pane, add two new columns (CustomColumn1 and CustomColumn2)
-Click on the settings of CustomColumn1. Choose ""Menu Button"" from Column Type dropdown
-Scroll down to Menu Items, and click Add a New Menu Item. Add 2 menu items.
-Click on the OpenMenu button in the CustomColumn1 on the table.
-The dropdown that appears

[2022-04-12 20:38] rochesterj opened #12868 "[Template]: Cashflow forecast & reports app"
### Title

Cashflow forecast & reports

### Objective

This app can be used for simple cashflow control and projections. It can be used by small companies and entrepreneurs, as a quick alternative to online services.

The app has 2 pages:

Overview:
- Current cash (KPI)
- Cashflow projection for 30 days (KPI)
- Cashflow projection for 90 days (KPI)
- Charts with cashflow projections with many opti

[2022-04-12 21:00] myang-clgx commented on #3317
Hi All,

I've asked the Appsmith support about the feature (not sure if it's existed or not).

I would like to know if there is a feature to assign "App Viewers" to different user/permission group so that as a Developer can strict which/what data (from data source) to be displayed on UI widget/components based on User/Permission group.

[2022-04-12 23:09] pabloogc commented on #11941
Same issue with github, given error is:

```Key is invalid. You must supply a key in OpenSSH public key format```

[2022-04-12 23:54] #12861 closed

[2022-04-13 02:30] eco-monk opened #12869 "[Task]: on page load - loading state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- discuss the below listed approach
- pre-emptively set loading state for all widgets which depend on the actions listed on `LayoutActions`.
- check if the new page load feature will also be listed there.
- check if there are any un-necessary loading state being set.

### what do we want to solve
To

[2022-04-13 03:07] eco-monk commented on #12308
@sbalaji1192.
We're showing loading state (not through `isLoading` prop) till evaluations are done for a widget.
`editorSelectors.tsx` -> `getCanvasWidgetDsl`

`isLoading` property is set, only whenever a query/api is triggered, which bound to the widget data.

---

The empty rows case happens when
1. The table data is empty (should be addressed by #12709)
2. The table is evaluated but the API is

[2022-04-13 04:25] autocode-app[bot] opened #12870 "[Docs] #12233 [Bug]: Discrepancy in org URLs and the org names"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12233
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 04:28] autocode-app[bot] opened #12871 "[Docs] #11986 [Bug]: Navigate CTA in omnibar shows widgets and pages of the other apps with label undefined, on clicking one of these undefined widgets, it clones the other app’s page."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #11986
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-13 04:39] sbalaji1192 commented on #12308
@eco-monk Thanks for the detailed explanation!

[2022-04-13 05:10] #12844 closed

[2022-04-13 05:23] shwetha-ramesh commented on #11533
@jsartisan #DPIssues for Table widget
59. Theme is not applied for hover on deploy mode
![image](https://user-images.githubusercontent.com/92293815/163106073-d320d1ec-cb27-4671-a3d0-4efa464bd14a.png)

[2022-04-13 05:37] #12243 closed

[2022-04-13 05:37] #12502 closed

[2022-04-13 05:53] sentry-io[bot] opened #12872 "[Bug]: NullPointerException"
Sentry Issue: [APPSMITH-28W](https://sentry.io/organizations/appsmith/issues/3167826877/?referrer=github_integration)

[code]

[2022-04-13 05:59] Nikhil-Nandagopal commented on #3317
@myang-clgx yes that will be possible with this feature. A possible workaround for this would be to manage this assignment on your end and return the users group in an API and use that to restrict what data can be displayed on the UI. Work on this feature is underway so you can stay tuned to this GitHub issue for updates :)

[2022-04-13 06:01] dilippitchika commented on #12843
Documentation changes and feature overview - https://www.notion.so/appsmith/Label-alignment-a2cde4c89873468b9413f4e6485e2998

Loom link explaining the feature - https://www.loom.com/share/8f35822f4b104ce7b427e7d3bef59049
Loom link explaining the doc change - https://www.loom.com/share/06c5e56c6c8b4e4a9d0e6a7210347075

[2022-04-13 06:05] dilippitchika commented on #12843
@somangshu please check the details above once, i need help with the release date for this.

[2022-04-13 06:06] dilippitchika commented on #12843
@Pranay105 @jnikhila tried something async for us to work on, please let me know if this works out. If not i'll jump on a call and explain

[2022-04-13 06:17] jnikhila opened #12873 "[Docs]: Update setup - Docker Java args"
Update the [Docker](https://docs.appsmith.com/setup/docker) Docs -

* Update the docker.env section:
     * Add Appsmith Java Arguments