[2022-04-21 06:49] dilippitchika commented on #13165
No instrumentation exists in this today for me to determine the reach. @ashit-rath should we log a debugger error message event for this case? I don't think we need to add a new event.

[2022-04-21 06:53] dilippitchika commented on #12831
Kicking off a discussion on this to understand the solution

@sbalaji1192 @Tooluloope is this straightforward now that we have similar logic in the json form?

[2022-04-21 06:53] Nikhil-Nandagopal commented on #3087
@rohan-arthur this helps users navigate to an entity the way they do in code by cmd + clicking the class / variable name

[2022-04-21 06:54] Rishabh-Rathod commented on #13153
Yes, we need to just remove logging for pre-runs as they cause confusion to the users when they check the browser dev tool's console.

[2022-04-21 06:54] dilippitchika commented on #12905
@somangshu please help move this forward. Do we need someone from BE coders here?

[2022-04-21 06:56] sbalaji1192 commented on #12308
@dilippitchika @eco-monk Suggested `isEvaluating` flag will be true when the query has been completed but the derived properties are computed yet.

[2022-04-21 07:03] dilippitchika commented on #12908
@pallavagarwal07 when server side pagination is enabled and the pagination controls are visible, All the records from a query or an API are visible if pageSize is less than the number of records in the query.

Can you please check the app here - https://app.appsmith.com/applications/61e11a42eb0501052b9fab3e/pages/61e11a42eb0501052b9fab41

You should be able to fork it and see the behavior

[2022-04-21 07:03] dilippitchika commented on #12908
Closing this and creating a new issue based on Nikhil's comment

[2022-04-21 07:03] #12908 closed

[2022-04-21 07:24] dilippitchika opened #13173 "[Feature]: Integration with firebase storage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user on intercom wanted to integrate with firebase storage similar to how we use S3 to upload and manage files.

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100079780

### Why should this be worked on?

Improved integrations

[2022-04-21 07:26] dilippitchika commented on #7259
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1500 |
| Effort (months)  | 0.5 |

[2022-04-21 07:28] dilippitchika commented on #9550
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | 0.5 |

[2022-04-21 07:32] dilippitchika commented on #12617
@somangshu converting this to enhancement as the functionality is working as expected. The dev can remove the time selection using the time precision field.

[2022-04-21 07:32] Nikhil-Nandagopal commented on #3027
@rohan-arthur this would happen for any widget though it's reported for button

[2022-04-21 07:45] chandannkumar opened #13174 "[Bug]: Validation for isRequired in Phone Number Input type is not working properly in Json form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/f1c32534b541491a940455439785320b-00001.gif)](https://www.loom.com/share/f1c32534b541491a940455439785320b)

### Steps To Reproduce

1. Add Json form onto canvas
2. Make a field of Phone number input type
3. Enable the field as Required
4. Now ad

[2022-04-21 07:46] somangshu commented on #10509
Do we need to traige this? Do we already have information on what is editor specific and loading in the view mode

[2022-04-21 07:46] somangshu commented on #10507
@SatishGandham can you add your findings from before over here?

[2022-04-21 07:47] Nikhil-Nandagopal commented on #13156
@hetunandu @ApekshaBhosale I remember there was a similar issue for this somewhere. Do you remember which issue that was?

[2022-04-21 07:47] Nikhil-Nandagopal commented on #3317
@Debsourabh can you share the latest figma links here?

[2022-04-21 07:48] #10473 closed

[2022-04-21 07:52] Nikhil-Nandagopal commented on #13171
@soul-cell I'm not able to reproduce this issue. Can you please create a public app that reproduces this issue on app.appsmith.com so we can fix it?

[2022-04-21 07:53] somangshu commented on #12939
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 302 |
| Effort (months)  | 1.0 |

[2022-04-21 07:54] somangshu commented on #12939
@Rishabh-Rathod @arunvjn is this related to #11040

[2022-04-21 08:04] areyabhishek commented on #13173
We have one open for this at #1647 https://github.com/appsmithorg/appsmith/issues/1647 Closing this in favor of that.

[2022-04-21 08:04] #13173 closed

[2022-04-21 08:13] hetunandu commented on #13156
setInterval is not going to return an id on Appsmith. You will need to pass a custom id as the 3rd argument in setInterval and use that id to clear that interval

[2022-04-21 08:15] dilippitchika commented on #13171
@Nikhil-Nandagopal found a way to reproduce, happens when you reset the modal

https://www.loom.com/share/45c2d263fe7f4a04a58ceb268d9f2f4c

[2022-04-21 08:48] Debsourabh commented on #3317
@Nikhil-Nandagopal
Figma Links : https://www.figma.com/file/15Kg4GX2SroULDbgkwy4xF/?node-id=353%3A19729

[2022-04-21 08:53] 2snEM6 commented on #13153
How are they non consequential? The user expects the function to be run *once* when the page loads, not twice.

[2022-04-21 08:58] sbalaji1192 commented on #12831
@dilippitchika There is a slight deviation from the JSON form.
In the table,
1.  You need to look at all the row values for a column to figure out the column type. If the user has enabled serverside pagination. it would be not possible to determine the column type without looking at all the rows.
2. Need to consider the performance aspect when it comes to tables with huge table data.

[2022-04-21 09:10] autocode-app[bot] opened #13176 "[Docs] #11920 [Feature]-[2240]: Add operator similar to SQL like for text filtering (Google Sheets)"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11920
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-21 09:16] SatishGandham commented on #12966
Major part in the creation of uneval tree is `generateDataTreeWidget` since the widgets don't change very often, memoizing it will give us the results we are looking for.

Improvement will be very prominent on complex large apps making lot of API calls and slower systems.

**Things to consider**

- Since we can not have an infinite cache, we should find a way to set the cache size dynamically base

[2022-04-21 09:22] btsgh commented on #11533
For these widgets - DatePicker, Rich Text Editor, Checkbox Group, RadioGroup, Switch Group -
Label Text Size property change does not impact the label text

These widgets still point to the Release type Label Text Size options. (Heading 1 Heading 2 etc) as against the theming DP label text size options - (sm, base, lg, xl.. )

<img width="279" alt="TDP_LabelTextSize_OldFormat" src="https://user-im

[2022-04-21 09:35] AnaghHegde opened #13179 "[Bug]: Error message is not shown in git connect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Error toast is not shown for few cases in git connect when the key does not have write access.

### Steps To Reproduce

1. Create a repo in bitbucket
2. Generate the key for connecting the app from Appsmith
3. Add the key in bitbucket repo settings
4. Notice that no error is shown to the user
5. O

[2022-04-21 09:40] riodeuno commented on #11038
## Update

- Conclusion: Disable vertical resize of the widget when dynamic height is enabled
- Parallel design exploration: Signifiers of max-height and min-height. @vinay-appsmith @momcilo-appsmith
- Conclusion: Persist heights in edit mode when they change dynamically.

cc @rohitagarwal88 @ankurrsinghal

[2022-04-21 09:48] shwetha-ramesh commented on #11533
#MigrationIssues
List widget page number style varies
![image](https://user-images.githubusercontent.com/92293815/164428739-2ef42b98-ebf3-4d39-9ca4-df7d49c8aa65.png)

[2022-04-21 09:49] Nikhil-Nandagopal commented on #11711
@shubhransh-locale you can achieve this by binding the filepicker1.files[0].data property

[2022-04-21 09:51] shubhransh-locale commented on #11711
@Nikhil-Nandagopal Thank you for the update.

[2022-04-21 09:52] #11516 closed

[2022-04-21 09:54] Nikhil-Nandagopal commented on #13153
@2snEM6 the function should not actually be getting executed at this time. It's just our code going through the functions to parse them and that's why we're logging them. If you call an API and check the network, you will not see 2 API calls.

[2022-04-21 09:56] Nikhil-Nandagopal commented on #12831
@sbalaji1192 we don't need to be perfect here when guessing the data type for the user. We can infer the type based on the rows in the viewport.

[2022-04-21 10:00] shwetha-ramesh commented on #11533
#Migrationissues
As per the observation for ButtonGroup Menu items the hover remain grey on migration where as for Menu button it appears green. This is inconsistent behavior
![image](https://user-images.githubusercontent.com/92293815/164430888-283b9136-f03d-4043-afa5-c5cf6123c007.png)

[2022-04-21 10:00] dilippitchika opened #13180 "[Epic]:Improve the pagination setup in tables"
## Objective

Improve pagination in table to support the following

1. Give devs a clear option to choose scrolling or pagination
2. Expose methods for cursor based pagination
3. Extend this to infinite scroll

### Give devs a clear option to choose scrolling or pagination

Today it’s hard to enable only scrolling on table and no pagination. We want to make this easy for the user to select if they

[2022-04-21 10:04] Somashekar-B opened #13181 "[Bug]: in sending the body of API when body has key with value as String of comma separated numbers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we pass the body of any API as like
{
 "key":**"1,2,3,4"**,
"key2":"temp"
}

it will pass the body to the API as
{
 "key":**1**,
"key2":"temp"
}

so it will consider that string of numbers with comma separated it will convert it into number actually it should be the string of numbers
**Please

[2022-04-21 10:16] dilippitchika commented on #12831
@sbalaji1192 you are right about us not being able to figure out for all rows. Which means there's a chance of missing accuracy on this. But today we are don't have a way to dynamically change the type for the column (if it has 2 data types) and enabling that will be very hard to configure in the property pane.

So what we are essentially doing is suggesting better defaults for the user, and allow

[2022-04-21 10:28] somangshu commented on #12905
@Rishabh-Rathod can you check for the related issue here, Its the API which fails and then cause the chart to not load.
Alternatively can you point me to the person who can best solve this?

[2022-04-21 10:32] dilippitchika commented on #13171
Reach - Assuming 20% of checkbox group users who have updated checkbox group options have faced this

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 40 |
| Effort (months)  | 0.5 |

[2022-04-21 10:32] #8560 closed

[2022-04-21 10:39] #11279 closed

[2022-04-21 10:39] dilippitchika commented on #13180
Assuming server-side pagination users to be the impacted ones

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 750 |
| Effort (months)  | 0.5 |

[2022-04-21 10:47] shwetha-ramesh commented on #11533
#MigrationIssues
For progress bar widget. Drop a progress bar on release. Move to theming DP open the same application. Now click on revert for Fill Color click on JS toggle twice and notice the color becomes empty
https://www.loom.com/share/f4b68cb12b8a466d8223fc457c4e03b3

[2022-04-21 10:49] RakshaKShetty opened #13183 "[Bug]: The master branch text is displayed even after deleting the master branch from app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The master branch text is displayed even after deleting the master branch from app, along with this the internal server error is displayed
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/164442528-05cc21eb-c631-4ac3-bbd3-661846eb7a98.png">

### Steps To Reprod

[2022-04-21 10:58] RakshaKShetty opened #13184 "[Bug]: the master branch is selected as default even when its removed from the default branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

the master branch is selected as default even when its removed from the default branch

### Steps To Reproduce

1. Connect the application to the git
2. now create a new branch
3. From git hub change the default branch to the newly created branch b1
4. Now come back to the application sync the bra

[2022-04-21 11:07] vuiets commented on #13071
From FE, for the Configuration funnel
* 'Enable' click on the authentication mode (along with the information on which authentication mode)
* 'Save and Restart' authentication mode configuration page

This is till we add validations and, if at all, autosave for OIDC/SAML configuration fields.

[2022-04-21 11:09] RakshaKShetty opened #13185 "[Bug]: The application doesn't fork based on the new default branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The application doesn't fork based on the new default branch still it forks the master branch

### Steps To Reproduce

1. Connect the application to the git
2. now create a new branch
3. From git hub change the default branch to the newly created branch b1
4. Now come back to the application sync

[2022-04-21 11:16] RakshaKShetty opened #13186 "[Bug]: The duplicated application has a master branch details instead of default branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The duplicated application has a master branch details instead of default branch

### Steps To Reproduce

1. Connect the application to the git
2. now create a new branch
3. From git hub change the default branch to the newly created branch b1
4. Now come back to the application sync the branch
5.

[2022-04-21 11:16] Nikhil-Nandagopal commented on #13181
@Somashekar-B Thank you for reporting this issue! You can solve this by turning off smart substitution.

[2022-04-21 11:18] pranavkanade opened #13187 "[Feature]-[3000]:Provide support for older MSSQL version that require TLS1.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Appsmith's backend server doesn't allow connecting to endpoints that require TLS1.0 and not TLS1.1 or TLS1.2

### Why should this be worked on?

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100091357

[2022-04-21 11:19] RakshaKShetty commented on #13186
Same issue with the json import too

[2022-04-21 11:34] Rishabh-Rathod commented on #12939
@somangshu both are performance issue with property pane but different.

This issue is related to how heavy/slow mounting property pane is.

Other issue is how slow updating values in property pane is.

[2022-04-21 11:35] Rishabh-Rathod commented on #12939
Ideally, it shouldn't take more than 50ms to mount property pane.

[2022-04-21 12:02] #8738 closed

[2022-04-21 12:02] sbalaji1192 commented on #12831
@dilippitchika Usually while guessing types, we should go for a type that is inclusive. For example, if you find a number and string. you can assume that as a string type.
Agreed with only looking at the first few rows to determine the type. In that case, it will be fairly straightforward to implement this.

[2022-04-21 12:04] #8718 closed

[2022-04-21 12:08] #3814 closed

[2022-04-21 12:14] ajinkyakulkarni commented on #10470
Related issues https://github.com/appsmithorg/appsmith/issues/11817, https://github.com/appsmithorg/appsmith/issues/8784

[2022-04-21 12:15] Somashekar-B commented on #13181
No it didn't solved the problem actually it made it even worse.
Actually the evaluated value will not be the same as the value passed to
the api as body if it is same then everything will be fine
Please check that

On Thu, 21 Apr, 2022, 4:46 pm Nikhil Nandagopal, ***@***.***>
wrote:

[2022-04-21 12:18] #8574 closed

[2022-04-21 12:19] dilippitchika opened #13190 "[Epic] : JSON Form stability"

[2022-04-21 12:39] pranavkanade opened #13191 "[Feature]: User wants an option to reduce login session time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

User needs the session time to be less than a month

### Why should this be worked on?

https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100065704

[2022-04-21 12:41] dilippitchika commented on #13128
@chandannkumar this is not a bug, here's the reason why
There are 2 defaults for an array
1. At the array level - you have a default value which will be an array of something. When you add a new array custom field you see [{"first_field":""}], this is the default array.
2. At the field level - as you showed when you edit this at field level, you see data not changing because we are using the array

[2022-04-21 12:41] #13128 closed

[2022-04-21 12:45] ashit-rath opened #13192 "[Bug]: JSONForm throws error in development mode when source data is changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In development mode the JSONForm throws error when source data is replaced
<img width="1013" alt="Screenshot 2022-04-21 at 5 39 52 PM" src="https://user-images.githubusercontent.com/88306433/164460566-9d3c675d-56e2-4437-896c-7ad9d437eaaf.png">

### Steps To Reproduce

1. Drag a JSONForm widget
2.

[2022-04-21 13:21] RakshaKShetty opened #13194 "[Bug]-[180]:The pull changes button should be displayed inside the deploy modal when there are only remote changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The pull changes button should be displayed inside the deploy modal when there are only remote changes
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/164466808-45ae56ed-4d5c-4d97-a245-c91105d62db7.png">

### Steps To Reproduce

1. Connect the application to t

[2022-04-21 13:27] Vidushi-Gupta commented on #12974
The docs for 'Filter' in Quick Navigation / Omnibar have placeholder images/gifs in chrome
![image](https://user-images.githubusercontent.com/55969597/164467967-c2667730-8c7c-420d-b601-d494b48835d9.png)

[2022-04-21 14:03] chandannkumar commented on #11533
UI alignment is improper when size varies of the label name in Checkbox field type & Switch field type
![image](https://user-images.githubusercontent.com/95341241/164475040-a90ac7eb-63f1-41db-afc9-73aa96cdce99.png)
![image](https://user-images.githubusercontent.com/95341241/164475214-039275c5-1556-4e88-98cf-d091cda734a3.png)

[2022-04-21 14:45] Rishabh-Rathod commented on #12663
## Workaround

Toggle to JS mode and add code that was visible earlier for example.

When created trigger using action creator, we see `{{Api1.run()}}`
1. Toggle to JS mode.
2. Replace generated code to `{{Api1.run()}}`
3. Try triggering action now by a button click or other event. It should work as expected.

[2022-04-21 16:53] autocode-app[bot] opened #13196 "[Docs] #12827 [Bug]: The option to add admin emails does not grant admin access for form login users"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12827
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-21 17:02] ramsaptami opened #13197 "[Bug]: Async functions turned into sync code is still executed on page load even though the option to do so is unavailable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a function containing async code is made into sync function - then any on page action that was previously set is retained and the sync is run on page load

### Steps To Reproduce

1. Add a JS object and mark an async function to run on page load
2. Remove async code in the function and refres

[2022-04-21 17:03] wmdev0808 commented on #12554
@somangshu ,
I am increasing the estimate by 1 because of the following reason:
- After receiving @Tooluloope 's feedback on the PR,
  . Server side filtering needs to be considered for SelectWidget and MultiSelectWidgetV2, resulting in changing the core logic
  . Add additonal Cypress/unit tests

FYI, please refer to the [comment](https://github.com/appsmithorg/appsmith/pull/13079#pullrequestrevi

[2022-04-21 18:19] #11900 closed

[2022-04-21 18:31] nayan-rafiq commented on #12827
@RakshaKShetty I was not able to reproduce this locally. Can you reproduce the issue on release or other instances?

[2022-04-21 18:52] autocode-app[bot] opened #13201 "[Docs] #13137 NullPointerException"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #13137
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 01:53] #12054 closed

[2022-04-22 04:04] sharat87 opened #13202 "[Feature]: Install custom trust root CA in the Appsmith container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When using Appsmith server behind a proxy that does HTTPS decryption, it's required that a custom trust root CA be installed in the Appsmith server environment, so the proxy's man-in-the-middle TLS is accepted by the server.

### Why should this be worked on?

For companies that require a HTTPS decryp

[2022-04-22 04:42] autocode-app[bot] opened #13203 "[Docs] #13093 [Bug]-[40]:Disabled button can be clicked on the welcome page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #13093
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 05:09] AnaghHegde commented on #13183
@haojin111 @IAmAnubhavSaini We should pass the branchname parameter for git connected application when the user clicks on edit. But somehow we are not using the branch from the git application metadata
<img width="1440" alt="Screenshot 2022-04-22 at 10 37 17 AM" src="https://user-images.githubusercontent.com/12005551/164607114-1f78b855-7143-49a9-8f6b-b4f88104a6d2.png">

[2022-04-22 05:13] rohan-arthur commented on #7243
Hi Prapulla, now there is an icon shown next to the JS Object name:
![Screenshot 2022-04-22 at 10.42.38.png](https://images.zenhubusercontent.com/6196337f2def7ccca841bb55/1a30845f-cae0-48d2-beca-9fa5ad3b4171)

[2022-04-22 05:13] #7243 closed

[2022-04-22 05:23] rohan-arthur commented on #10072
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 0 |
| Effort (months)  | 0.25 |

[2022-04-22 05:27] rohan-arthur commented on #9264
@ajinkyakulkarni this is a strange one, would you please help with the root cause so that we can correctly assess the impact and reach

[2022-04-22 05:40] #12319 closed

[2022-04-22 05:52] autocode-app[bot] opened #13204 "[Docs] #13183 [Bug]: The master branch text is displayed even after deleting the master branch from app"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13183
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 05:52] autocode-app[bot] opened #13205 "[Docs] #13184 [Bug]: the master branch is selected as default even when its removed from the default branch"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13184
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 06:14] #11781 closed

[2022-04-22 06:43] Rishabh-Rathod opened #13206 "[Task]: Make klona wrapper function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

### Description
As we currently use both `klona` and `klona/full`.

We need to make sure both are used as per the use case. As the team might not be aware of how they are different and might use one instead of another. To avoid unexpected cloning behavior due to such confusion, we decided to add a wr

[2022-04-22 06:58] #12335 closed

[2022-04-22 07:05] autocode-app[bot] opened #13209 "[Docs] #11751 [Bug] NullPointerException"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11751
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 07:24] nidhi-nair commented on #12959
Reopening to track updates on changes unrelated to code.

[2022-04-22 07:35] Tooluloope opened #13211 "[Bug]: PropertyPane evaluation of Child widget in a list widget throws an error when some chars are used"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Text widget in a list widget has 's and that throws an error for some reason

### Steps To Reproduce

Drag a Text widget into a List Widget, Then change the text in the Text widget to `Yesterday's`.
Observe an `SyntaxError: Unexpected identifier` error

### Public Sample App

_No response_

### Ve

[2022-04-22 07:38] #13209 closed

[2022-04-22 07:43] ohansFavour opened #13213 "[Task]: Highlight JS Object's name when newly created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-22 07:48] somangshu opened #13214 "[Feature]: List widget - default selected item"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a user, I should be able to set a default selected item while using the list widget

### Why should this be worked on?

Use Case:
Depending on the item selected a Query / API functions, It would be helpful if programatically I can set a default selected item in the list that onPageLoad is set.

[2022-04-22 07:53] shwetha-ramesh commented on #3369
QA update 22/04 @somangshu @btsgh @chandannkumar cc: @vivekverma2312

* Re-tested all bug fixes  on DP  - left few comments for dev
* Re-tested all migration bug fixes  - left few comments for dev

Pending
* Awaiting bug fixes for Migration issues for  buttongroup, table, Json.
* Awaiting few bug fixes on DP
* Regression after all bug fixes.

[2022-04-22 08:13] jbudaumodum commented on #12255
We have got the same problem.
However, apparently, only new forms are affected, because everything existing, fortunately, work without problems.

[2022-04-22 08:42] vuiets commented on #8201
Could you share an example of what this message would look like?

[2022-04-22 08:45] #13192 closed

[2022-04-22 09:07] dilippitchika commented on #12255
Hey @jbudaumodum this problem existed always even in older forms. Could you please tell me how you were accessing the container inside a form when binding?

[2022-04-22 09:12] kocharrahul7 commented on #8586
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10000 |
| Effort (months)  | 0.5|

[2022-04-22 09:19] dilippitchika commented on #12599
I don't think we should do this @ashit-rath, taking example of the form we have built for the list + json form use case - https://app.appsmith.com/app/json-form/json-form-with-lots-of-data-6262290400cba01cd02f384f

If we do this, then the user will have to scroll a lot to see the buttons in a case where the form is small.

[2022-04-22 09:23] jbudaumodum commented on #12255
Hey @dilippitchika,
To make the structure of my apps easier, I always organize everything in containers.
Basically, I just try to use the "Disable invalid Form" function. However, since any content of the form is in a container and the container is not recognized (see above), the form is always valid.
This problem does not exist with forms I created a few months ago.

[2022-04-22 09:28] dilippitchika commented on #13139
Reach - Happens to all devs who have successfully bound data to JSON form

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 77 |
| Effort (months)  | 0.5 |

[2022-04-22 09:30] dilippitchika commented on #12815
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4 |
| Effort (months)  | 0.5 |

[2022-04-22 09:44] #12491 closed

[2022-04-22 10:04] kocharrahul7 commented on #9537
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | 0.5 |

[2022-04-22 10:06] aswathkk opened #13217 "[Task]: Send Analytics events for Property pane keyboard navigation"
Event name is`PROPERTY_PANE_KEYPRESS`.
Meta data:
- key - The name of the key pressed
- widgetType
- propertyName

Also send additional parameter `isUpdatedViaKeyboard` to the existing `WIDGET_PROPERTY_UPDATE` event

[2022-04-22 10:10] kocharrahul7 commented on #9567
Hey @rohan-arthur  I was testing this out, and it seems that you can hit escape to leave binding mode. Do you feel that this solves the issue?

[2022-04-22 10:13] kocharrahul7 commented on #10279
https://www.appsmith.com/template/customer-support

[2022-04-22 10:13] #10279 closed

[2022-04-22 10:18] kocharrahul7 commented on #10752
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 4000 |
| Effort (months)  | 0.5 |

[2022-04-22 10:25] kocharrahul7 commented on #10769
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 150 |
| Effort (months)  | 0.5|

[2022-04-22 10:30] kocharrahul7 commented on #10781
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 1 |

[2022-04-22 10:34] kocharrahul7 commented on #10846
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1100 |
| Effort (months)  | 1.5 |

[2022-04-22 10:35] kocharrahul7 commented on #10923
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 350 |
| Effort (months)  | 1|

[2022-04-22 10:40] autocode-app[bot] opened #13218 "[Docs] #13013 [Bug]: Select query failed toast is displayed even when the crud page is generated successfully"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #13013
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 10:48] dilippitchika commented on #12543
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1 |
| Effort (months)  | 0.5 |

[2022-04-22 10:49] dilippitchika commented on #12744
Suggested solution

- Disabled for now will disable the add new and delete options as well.
- We will later add controls to hide delete and add new specifically.

[2022-04-22 10:51] dilippitchika commented on #12744
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | 0.5 |

[2022-04-22 10:53] #9495 closed

[2022-04-22 10:53] autocode-app[bot] opened #13219 "[Docs] #12291 [Feature]: deprecation warning on widgets"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #12291
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 10:53] dilippitchika commented on #13125
Current workaround available
1. Store the initial value of the field in the store value
2. When the user is trying to move out of the page compare the current value with the initial value

[2022-04-22 11:00] #10443 closed

[2022-04-22 11:02] dilippitchika opened #13220 "[Task] : Add/Reuse an event to measure the JSON form 50 field limit"
We need a way to measure the number of users who are hitting the 50 field limit in the JSON form.

Suggested event changes
1. Widget property update to contain an extra field key called meta_info which can contain this detail
2. Or We can use the debugger error message, but here we also have to start calling the debugger in the field.

[2022-04-22 11:09] #12019 closed

[2022-04-22 11:11] autocode-app[bot] opened #13221 "[Docs] #12256 [Feature]: Make form validations return only diffs in evaluated value"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12256
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 11:17] jbudaumodum commented on #12255
Hey @dilippitchika,
While I was copying the working form from our working env to a new empty organization, I noticed the small difference (and how to work around the problem):
The structure in my existing form isn't
form --> container --> input,
it is
form --> tab --> container --> input.

So I will add a new tab view with a single tab to my latest app and everything should work.
I hope this will

[2022-04-22 11:29] sbalaji1192 opened #13223 "[Task]: Integrate App theming with Table widget V2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-22 11:30] dilippitchika commented on #12255
Hey @jbudaumodum how are you referencing the input widget. Like are you using <inputName>.text or are you using <Form>.<InputName>.text ?

[2022-04-22 11:50] #12771 closed

[2022-04-22 11:58] aswathkk commented on #10590
Closing this since it is already resolved in #11077

[2022-04-22 11:58] #10590 closed

[2022-04-22 12:03] jsartisan opened #13224 "[Task]: Cypress tests for App Theming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- fix cypress tests that are failing on the theming PR
-  add more tests if needed

[2022-04-22 12:07] autocode-app[bot] opened #13225 "[Docs] #13224 [Task]: Cypress tests for App Theming"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13224
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-22 13:57] ashit-rath opened #13227 "[Bug]: Property Pane - JS Enabled property value is visible only when clicked on the code editor."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In a property pane when a section is collapsed by default and a property under that section has the JS mode enabled, the value only shows up when the JS enabled input is clicked.

Note: This only happens if the Section is collapsed by default but not on the opened one as shown in the loom video.

[2022-04-22 13:59] awanishraj opened #13228 "[Bug]: Multiple Cyclic Dependency Errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Lately many of our dashboards have started throwing cyclic dependency errors. Looking at the logs, it looks like one of the objects in the dependency map incorrectly adds a reference to itself.

In the below case, UngroupClient.config.formData has an entry for itself. This is causing the entire ap

[2022-04-22 14:42] MarionToutant commented on #4182
Hi @dilippitchika, when will this feature be released to end-users?

[2022-04-22 21:03] #13183 closed

[2022-04-22 23:22] felixsuarez0727 opened #13234 "[Bug]: When an incomplete SaaS Integration is installed via the SaaS Manager App, actions are not loaded."
If an action is incomplete when it is installed in an organization, the query remains loading and does not display the actions.

Some tests that were performed:

|Test|Status|
|---|---|
|Install for first time an integration without label and tooltip|loading|
|Install an integration with a complete action |work|
|Install an integration with only the label| work|
|Install an integration with only t

[2022-04-23 06:39] RakshaKShetty opened #13235 "[Bug]: Internal server error is displayed when the user clicks multiple times on "Are you sure" button while disconnecting the authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Internal server error is displayed when the user clicks multiple times  on "Are you sure" button while disconnecting the authentication

### Steps To Reproduce

1. Go to the admin setting page
2. Navigate to the authentication tab
3. Enable the SAML auth method
4. After enabling it now try to disc

[2022-04-23 06:43] RakshaKShetty opened #13236 "[Bug]: The user cant check the entered details for re-verification in the saml Auth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 The user cant check the entered details for re-verification in the saml Auth

### Steps To Reproduce

1. Go to the admin setting page
2. Navigate to the authentication tab
3. Enable the SAML auth method
4. The authentication successful  message is displayed but the user cant re-edit if the entere

[2022-04-23 06:48] RakshaKShetty opened #13237 "[Bug]: The placeholder should be added for more visibility for entering data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There is no placeholder for any input box to specify what details need to be entered

### Steps To Reproduce

1. Go to the admin setting page
2. Navigate to the authentication tab
3. Enable the SAML auth method
4.the input box doesn't have any placeholder or a tooltip to specify what details needs

[2022-04-23 06:50] RakshaKShetty opened #13238 "[Bug]: The mandatory filed needs to be highlighted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The mandatory filed needs to be highlighted

### Steps To Reproduce

1. Go to the admin setting page
2. Navigate to the authentication tab
3. Enable the SAML auth method
4.Now verify the display of input fields
5. the mandatory fields are not highlighted as in the other auth

### Public Sample App

[2022-04-23 06:59] RakshaKShetty opened #13239 "[Bug] In SAML auth the data is not retained when user switch between the tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

the data is not retained when the user switches between the tabs

### Steps To Reproduce

1. Go to the admin setting page
2. Navigate to the authentication tab
3. Enable the SAML auth method
4.Add a details in the Metadata url and now navigate to XML tab and come back
5. The data will not be retai

[2022-04-23 07:10] RakshaKShetty opened #13240 "[Bug]: The internal server error is displayed when user tries to add wrong value in XML"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Internal server error is displayed when the user adds the Wrong XML.After that, if he corrects the File still the container fails to come up

### Steps To Reproduce

1. Go to the admin setting page
2. Navigate to the authentication tab
3. Edit the SAML auth method
4. Add the wrong xml
5. click

[2022-04-24 10:53] Rishabh-Rathod opened #13242 "[Bug]: Table Widget unable to show data for new JSON form based CRUD page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Reported by @abhvsn

When we create a new CRUD page (JSONForm-based), it was noticed that the TableWidget wasn't showing data.
OnRowChange did work as expected though.

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/08cdf3f56e264470a0aed893cd7c7dca-00001.gif)](https://www.loom.com/share/08c

[2022-04-24 16:36] rashmi-rai commented on #12158
Closing the issue as it based on outdated designs

[2022-04-24 16:36] #12158 closed

[2022-04-25 01:11] ganganimaulik commented on #12965
dont think its bug. shows correct error message for me.

![image](https://user-images.githubusercontent.com/10296400/165005375-a7069e74-2bb1-47ce-9e8c-aec520969c81.png)

[2022-04-25 02:29] ganganimaulik commented on #12934
related issue: when changing back table name to customers, database query also changes from `{{getCustomers.data}}` to `{{getCustomers.customers}}`
https://user-images.githubusercontent.com/10296400/165010719-52998af6-2b56-4189-bbdb-45be4bbe7a15.mp4

[2022-04-25 03:06] vuiets commented on #12758
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 330 |
| Effort (months)  | 0.25 |

[2022-04-25 03:24] vuiets commented on #11040
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2485 |
| Effort (months)  | 0.5 |

[2022-04-25 03:27] rohan-arthur commented on #13228
Hi @awanishraj thanks for reporting this, we will surely look into it. So you see these errors, and then are you able to proceed with using the app? Or is the app broken?

[2022-04-25 03:31] vuiets commented on #10833
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2471 |
| Effort (months)  | 0.5 |

Adding the effort for this as 2 person-weeks for now. Feel free to correct me here.

[2022-04-25 03:37] vuiets commented on #10163
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 120 |
| Effort (months)  | 0.5 |

For reach,
People using modals in their apps in the last 6 months: 1223
Expect about 10% of these to group widgets in the modal: 120

Added effort as 2 person-weeks for this but feel free to correct me if wrong here.

[2022-04-25 04:03] vuiets commented on #11009
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5122 |
| Effort (months)  | 0.5 |

Estimating the effort for this as 2 person-weeks. We can update this when we calibrate with the devs.

[2022-04-25 04:07] vuiets commented on #9646
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 60 |
| Effort (months)  | 0.5 |

For reach,
People grouping widgets in the last 6 months: 300
Assuming that about 20% of them are affected by this issue: 60

[2022-04-25 04:14] vuiets commented on #9439
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 132 |
| Effort (months)  | 0.25 |

We can relook at the effort for this. Dropping a rough estimate for now.

[2022-04-25 04:29] vuiets commented on #8415
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 300 |
| Effort (months)  | 0.5 |

Adding a rough estimate for effort. We can change it if you guys feel different about it.

[2022-04-25 04:39] sentry-io[bot] opened #13250 "ServerWebInputException: 400 BAD_REQUEST "Failed to read HTTP message"; nested exception is org.springframework.core.codec..."
Sentry Issue: [APPSMITH-28Y](https://sentry.io/organizations/appsmith/issues/3175301048/?referrer=github_integration)

[code]

[2022-04-25 04:43] abhvsn commented on #13250
Seeing these issues on sentry frequently for action execution calls, can we please take a look at this

[2022-04-25 05:08] manikumarnune123 commented on #13202
@sharat87  I can see the license key in the above logs, is it okay to expose the key?

[2022-04-25 05:12] dilippitchika commented on #6864
Cannot see a scroll today on the text widget in the horizontal mode. @ramsaptami can we close this?

[2022-04-25 05:23] dilippitchika commented on #11173
Assuming 10% of number users encounter this

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 35 |
| Effort (months)  | 0.5 |

[2022-04-25 05:28] dilippitchika commented on #9482
Hide the icon alignment option in property pane for password type inputs. By default it should be right aligned and the developer should not be able to change it.

Reach : Assuming 5% users who configure password also configure icons

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 10 |
| Effort (months)  | 0.5 |

[2022-04-25 05:32] vuiets commented on #6797
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 86 |
| Effort (months)  | 0.25 |

[2022-04-25 05:37] vuiets commented on #6687
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 344 |
| Effort (months)  | 0.25 |

For reach,
People using the color property on a widget in the last 6 months: 1719
Expect about 20% to key in the wrong hex code value: 344

[2022-04-25 05:39] #6864 closed

[2022-04-25 05:40] nayan-rafiq opened #13251 "Archive theme when application is archived"
When application is archived, we should archive the related themes as well. Otherwise we'll end up having lots of orphan themes. It'll also make it hard to archive records.

[2022-04-25 05:42] autocode-app[bot] opened #13253 "[Docs] #13251 Archive theme when application is archived"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #13251
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-25 05:45] dilippitchika opened #13254 "[Bug]-[800]:Close button can be clicked on a disabled select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i disable a select widget, user should not be able to do anything on it. Currently
1. The cursor is not set to disabled on hovering close button and the dropdown button when the widget is disabled
2. The user can click on the close button to remove the option selected.

### Steps To Reproduce

[2022-04-25 05:45] dilippitchika commented on #13254
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 100 |
| Effort (months)  | 0.25 |

[2022-04-25 05:48] dilippitchika commented on #11732
Needs validation before we solve it

[2022-04-25 05:54] abhvsn opened #13256 "[Task]: Improve the UX for commit and push flow when there are upstream changes alongwith the local changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

## Desctiption

As we don't have a separate CTA for commit and push we need to think through the scenario when user have local as well as upstream changes. This is because in the current flow commit succeeds but push fails to maintain the git history.

[2022-04-25 06:06] sharat87 commented on #13202
@manikumarnune123, sorry, thanks for alerting, fixed now. I'll raise this internally and see if we need to issue a new for you. Thanks again, and sorry. I'll be more careful hereon.

[2022-04-25 06:21] AmanAgarwal041 commented on #13156
This error also comes when there is a variable initialised outside of the API call inside JS Object and is being used inside the callback functions of the API calls. I have updated the above attached application for the issue [Sample Application](https://app.appsmith.com/app/setinterval-issue/page1-62600d9a00cba01cd02eb38d). @hetunandu please have a look at it.

[2022-04-25 06:35] YogeshJayaseelan commented on #12714
@techbhavin This is happening in release

https://loom.com/share/245d775f2be74ebdbec01e531a974beb

[2022-04-25 06:54] autocode-app[bot] opened #13259 "[Docs] #13238 [Bug]: The mandatory filed needs to be highlighted"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13238
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-25 07:00] dilippitchika commented on #4182
Hello @MarionToutant this is already live in v.1.6.20 and is available for everyone

[2022-04-25 07:02] #11624 closed

[2022-04-25 07:10] abhvsn commented on #12407
Closing this as a part of https://github.com/appsmithorg/appsmith/pull/12819

[2022-04-25 07:10] #12407 closed

[2022-04-25 07:15] dilippitchika commented on #12934
Hey @ganganimaulik i think this happens because we automatically migrate all the references for any widget based on the widget's name.

[2022-04-25 07:17] Nikhil-Nandagopal commented on #12965
@ganganimaulik the error is right but I think the point is that we should support longer passwords due to password auto generators

[2022-04-25 07:24] nidhi-nair commented on #13013
@Rishabh-Rathod is there some backend fix required here? AFAICT the execution was successful? Could you please provide some more context to what the issue is here?

[2022-04-25 07:26] dilippitchika commented on #13242
@abhvsn i believe we will need a call for this for the changes you have done in the backend to support this with @sbalaji1192 once.

The reason i am asking is because the column names are also not updated by default to the correct column names.

I am assigning this to @sbalaji1192 and you for the time being to discuss and come back with a root cause. Hope that works.

Can you also link this issue

[2022-04-25 07:45] profiluefter commented on #12965
Supporting longer passwords would definitely also be nice! But I've never seen that error message so maybe it happens because of copy-paste or my password manager (keepass xc)

[2022-04-25 08:03] ohansFavour commented on #13013
@nidhi-nair No, this is a client-side issue.

[2022-04-25 08:18] Nikhil-Nandagopal commented on #9941
@rohan-arthur @ajinkyakulkarni not everyone will need read only mode so I'm lowering the reach

[2022-04-25 09:34] rohitagarwal88 opened #13264 "[Task]: Add tracking event for canvas size."
Add tracking event for canvas size.
![Screenshot 2022-04-25 at 3 05 51 PM](https://user-images.githubusercontent.com/890915/165062743-57dc5cce-9d99-4921-b62a-3bf9b471e06a.png)

[2022-04-25 09:38] #12759 closed

[2022-04-25 09:39] Nikhil-Nandagopal commented on #7997
Solved with JSON Form

[2022-04-25 09:39] #7997 closed

[2022-04-25 09:41] Nikhil-Nandagopal commented on #9709
Solved with the new JSON Form

[2022-04-25 09:41] #9709 closed

[2022-04-25 09:45] #7723 closed

[2022-04-25 09:46] Nikhil-Nandagopal commented on #9411
Duplicate of #11134

[2022-04-25 09:46] #9411 closed

[2022-04-25 09:47] Nikhil-Nandagopal commented on #9924
Should be solved with JSON Form

[2022-04-25 09:47] #9924 closed

[2022-04-25 09:48] #12185 closed

[2022-04-25 09:50] #12828 closed

[2022-04-25 09:50] Nikhil-Nandagopal commented on #12828
Unless it's an error a user faces, we can ignore it

[2022-04-25 09:53] ramsaptami commented on #12247
Reopening this since API response using promise is returned as undefined on [this](https://release.app.appsmith.com/app/earworm/av-page-61ea4a44361846772cfb1180/edit/jsObjects/621dfa612b75295c1c165ed6) app

[2022-04-25 09:59] Nikhil-Nandagopal commented on #4468
Closing since this is a consistent experience even on APIs/Queries

[2022-04-25 10:18] AnaghHegde commented on #13184
Fixed via #13207

[2022-04-25 10:18] #13184 closed

[2022-04-25 10:26] Vadorequest commented on #3317
I'm not sure if that will be useful for this particular feature, but I recently recorded a video about how I wish to use AppSmith, by comparing it to Stacker. The goal being to build things **super fast**. I share it in the hope that it'd be insightful.

Video: https://youtu.be/Lth1YzKrHa4
Discussion: https://discord.com/channels/725602949748752515/725609493974614076/967773553799888968

[2022-04-25 10:40] #12247 closed

[2022-04-25 10:51] Rishabh-Rathod commented on #13197
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/13197?planning-poker) with ZenHub @ohansFavour

[2022-04-25 10:51] Rishabh-Rathod commented on #13213
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/FE-Coders-Pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/13213?planning-poker) with ZenHub @ohansFavour

[2022-04-25 11:00] #10550 closed

[2022-04-25 11:01] autocode-app[bot] opened #13265 "[Docs] #10551 [Feature]: Attach Headers, Params, Settings and other tabs to GraphQL Editor similar to API Editor"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #10551
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-25 11:18] autocode-app[bot] opened #13266 "[Docs] #13028 [Feature] HubSpot CMS URL Redirects API Saas Integration"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13028
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-25 11:21] autocode-app[bot] opened #13267 "[Docs] #13026 [Feature] HubSpot CMS Domains API Saas Integration"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13026
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-25 11:39] riodeuno commented on #5944
@Tooluloope Please share the recording again. This can be a high priority issue.

[2022-04-25 11:46] ramsaptami opened #13268 "[Bug]: JS objects are duplicated on duplicated app/page and runs the objects continuously without a break causing cyclic dependency error to be displayed over and over again"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Multiple copies of a JS object is created when app/page is duplicated and is not a static set, i.e., the JS object that appears in multiples changes on page refresh.

### Steps To Reproduce

1. Go to app at [this](https://release.app.appsmith.com/app/earworm/home-6219207a0276eb01d22fec5e/edit) loc

[2022-04-25 11:51] #13238 closed

[2022-04-25 11:57] aswathkk commented on #10171
Closing this since I'm unable to reproduce this.

[2022-04-25 11:57] #10171 closed

[2022-04-25 12:06] chandannkumar opened #13270 "[Bug]: Change of currency & country code is not working when added under Array/Object type field in Json form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Change of country code and currency of Currency Input & Phone Number Input type is not working when added under Array/Object type field in Json Form.
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/53eefc6a149f4772910bcdc2242c7a8f-00001.gif)](https://www.loom.com/share/53eefc6a149f4772910bcd

[2022-04-25 12:08] autocode-app[bot] opened #13271 "[Docs] #13235 [Bug]: Internal server error is displayed when the user clicks multiple times on "Are you sure" button while disconnecting the authentication"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13235
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-25 12:09] #11265 closed

[2022-04-25 12:32] ramsaptami opened #13273 "[Bug]: API call inside a JS is displayed as an error when bound to a widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Calling an API/datasource query in a JS object and binding this to a widget throws an error stating `Api1.run` is not a function. Error message needs to be improved since async function is not allowed in data fields.

### Steps To Reproduce

1. Go to app at [this](https://release.app.appsmith.com/

[2022-04-25 12:41] rimildeyjsr opened #13274 "Add linting rules for postMessageToTargetWindow global function"
We need to add linting rules for postMessageToTargetWindow, so that the user is nudged towards the correct syntax.

Discussion from PR - https://github.com/appsmithorg/appsmith/pull/12551#discussion_r852130435

[2022-04-25 12:56] Tooluloope commented on #5944
@riodeuno @aswathkk Seems it's working fine now

[2022-04-25 12:56] #5944 closed

[2022-04-25 13:28] jnikhila commented on #12984
@rohan-arthur - I've added the content to Gitbook. Could you please review the changes?

[2022-04-25 13:30] jnikhila commented on #12813
@rohan-arthur - I've ported the changes to Gitbook. Could you please review the same?

[2022-04-25 13:47] vuiets commented on #3317
Thanks a tonne for taking the time to put this together and share it with us @Vadorequest. Deeply appreciate the insights. With RBAC we're keeping it simple and quick to setup with fine-grained control over who has access to your app resources and data sources. We also give you some handy permission presets that you can leverage on the go for admins, developers and consumers of your app.

We'd sti

[2022-04-25 13:52] rohan-arthur commented on #7484
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 45 |
| Effort (months)  | 0.5 |

[2022-04-25 13:56] sumitsum opened #13280 "[Bug]: Find root cause for missing plugin id and plugin type in JS action objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Find root cause for #11927 - ie why plugin id and plugin Type go missing in some JS actions.

### Steps To Reproduce

Not available.

### Public Sample App

_No response_

### Version

cloud

[2022-04-25 14:01] sumitsum opened #13281 "[Feature]: provide support to handle malformed plugin type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We have encountered instances where plugin id and type go missing from JS action objects in the DB #11927. A related issue could be malformed plugin type. Although we haven't yet encountered this problem it is a possibility which is not very far away from plugin id being missing.

### Why should this

[2022-04-25 14:18] profiluefter commented on #12965
I created a screen capture of how it looks for me:

https://user-images.githubusercontent.com/18028031/165107162-549637a4-cd39-4a81-9e99-e0ff63d84ec3.mp4

I'm not sure how you get the "password between 6 and 42 characters" message. My register prompt also generally looks different. I'm using the self hosted version. I think yours is from the hosted version?
Also the limit was at specifically 48 ch

[2022-04-25 14:28] ame-appsmith opened #13282 "[Docs]: Whitelist IP on MySQL Workbench"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/datasource-reference/querying-mysql

### Describe the problem

The process of whitelisting the Appsmith IPs in a MySQL database using Workbench is not documented.

### Describe the improvement

The documentation should contain a section where it is explained how to

[2022-04-25 15:29] ramsaptami opened #13283 "[Bug]-[92]:Cyclic dependency error thrown when renaming JS functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Cyclic dependency error is displayed when JS function is being renamed and clears when page is refreshed

### Steps To Reproduce

1. Take any existing app with JS objects or go to app at [this link ](https://release.app.appsmith.com/app/git-connected-app-with-js-objects/page1-62668caa01f360366e25e

[2022-04-25 15:44] sullo opened #13284 "[Bug]-[Infinity]:API Edit UI Hangs When API Returns Many Records"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When an API returns a lot of data, and then you try to edit it via the menu, the UI will hang completely.

A better way would be to display a certain amount of data and then allow the user to expand for more, or open a new window with full results, rather than have the UI freeze.

### Steps To Rep

[2022-04-25 16:31] AS-Laguna opened #13285 "[Bug]-[2514.285714285714]:MongoDB requires string parsing when working with datetimes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user has a collection in MonogDB which contains many datetime fields with invalid value `0001-01-01T00:00:00.000+00:00`. When they are trying to project the datetime fields in the Project clause in the query it is returning `org.json.JSONException: JSONObject["$date"] not a string` error. They c

[2022-04-25 17:09] leotom2000 opened #13286 "[Docs]: Connect to MsSQL (Workbench) running from a local machine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Appsmith need to connect and get data from MsSQL Server through Workbench running from local machine.
The expected procedure involves
(1) Whitelisting Appsmith Server
(2) Exposing the IP address of the local machine to the internet whether the IP add

[2022-04-25 18:14] autocode-app[bot] opened #13287 "[Docs] #12392 [Feature]: Graphql Running Queries - success"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12392
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-25 18:16] Rishabh-Rathod opened #13288 "[Bug]: Unable to call API.run from dataField like defaultText. Error - TypeError: Api.run is not a function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

User noticed `Uncaught (in promise) TypeError: getUIConfigs.run is not a function` when calling Api named `getUIConfigs` from data field like `defaultText`.

### Steps To Reproduce

1. Create an API.
2. Add an input widget.
3. In `defaultText` field of the Input widget call `API.run()`

### Public

[2022-04-25 18:28] #13288 closed

[2022-04-25 18:36] bamboowonder commented on #3317
THIS.  I agree with all of the feedback in the video.  I use appsmith for a few small apps where I really needed fine detail customization.  But for the majority of our apps, we just needed boilerplate scaffolding.   appsmith is great for something very custom, but for standard crud apps (80% of apps for us), it is so much slower because everything has to be build from scratch.    I very much wish

[2022-04-25 19:01] Rishabh-Rathod opened #13289 "[Task]: RCA for promisification of JSObject function confirmation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

https://github.com/appsmithorg/appsmith/pull/12553 Here, we removed the promisification of JSObject function confirmation due to issues faced in https://github.com/appsmithorg/appsmith/issues/12446.

- We need to investigate the root cause of the issue here and re-implement the promise method for it.

[2022-04-25 21:05] ganganimaulik commented on #12934
okay, but it is changing property name instead of object. not sure if this is intended.

[2022-04-25 23:57] AS-Laguna opened #13291 "[Bug]: Airtable List Records integration is missing the offset field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you list records from a table with more than 100 rows, the response will contain a field called `offset`. You use this value to call the next page, but we don't currently provide a field for the users to put this offset.

### Steps To Reproduce

1. Connect an Airtable to Appsmith and create n

[2022-04-26 03:12] AnaghHegde commented on #11889
@abhvsn Is this bug still valid?

[2022-04-26 03:56] RakshaKShetty opened #13292 "[Bug]: Enter valid applicationId toast is displayed when user opens the application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Enter valid applicationId toast is displayed when user opens the application

### Steps To Reproduce

1. login to the release instance
2. click on any one app
3. the appplication id error is displayed

### Public Sample App

_No response_

### Version

release

[2022-04-26 04:07] RakshaKShetty opened #13293 "[Bug]: In the git connect application the datasource name is displayed inside the queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The data source name is displayed inside the queries
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/165218572-52c7bd51-2e85-4077-a4a4-af3784361a24.png">

### Steps To Reproduce

1. connect the application to the git
2. add a page add few OAuth APIs
3. commit

[2022-04-26 04:28] autocode-app[bot] opened #13294 "[Docs] #10752 [Bug]-[4000]:Wrong widget name in Welcome tutorial"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #10752
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-26 04:28] autocode-app[bot] opened #13295 "[Docs] #10329 [Bug]-[2000]:Dropdown UI issue on gen CRUD page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #10329
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-26 04:52] kocharrahul7 commented on #7284
No longer replicable

[2022-04-26 04:52] #7284 closed

[2022-04-26 04:55] AnaghHegde opened #13296 "[Task]: Junit test failures on local env"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Due to bug in CI somehow JUnit test failures are not caught and when we run the same in local we see test failures.
- Fix all the faulty tests in git and Import-Export service

[2022-04-26 04:58] AnaghHegde commented on #13293
@RakshaKShetty This is valid. We do exclude the datasource name and type in such cases. I am guessing you created a Rest API right? where the datasource information is stored inside the actions.

[2022-04-26 04:59] #6115 closed

[2022-04-26 04:59] kocharrahul7 commented on #6115
This has been solved with the Entity explorer rework

[2022-04-26 05:01] autocode-app[bot] opened #13298 "[Docs] #13254 [Bug]-[800]:Close button can be clicked on a disabled select widget"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13254
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-26 05:01] kocharrahul7 commented on #4911
No longer visible

[2022-04-26 05:01] #4911 closed

[2022-04-26 05:02] #13298 closed

[2022-04-26 05:09] kocharrahul7 commented on #9492
No longer replicable, This seems to be handled

[2022-04-26 05:11] kocharrahul7 commented on #8973
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 600 |
| Effort (months)  | 1 |

[2022-04-26 05:15] somangshu opened #13299 "[Bug]: Table widget: Column type URL: Display text not working appropriately"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The table widget column type URL display text is buggy, if the value is none, it throws a unknown character in the table column

![Screenshot 2022-04-26 at 10 39 36 AM](https://user-images.githubusercontent.com/11089579/165226104-5d284c52-5336-4b78-89b0-1063d2ed11e5.png)

### Steps To Reproduce

1

[2022-04-26 05:55] dilippitchika commented on #12157
@spark-c thanks, we are tracking this in #11384 and will push this fix soon

[2022-04-26 06:16] jnikhila opened #13300 "[Docs] : Update | Writing Code | Code snippets"
Code snippets for [Writing Code](https://docs.appsmith.com/core-concepts/writing-code) needs update as are out dated and refer to older version of platform.

For example, in the below code snippet:

 `
// Imperative Style incompatible with appsmith
if (Dropdown1.selectedOption === "John")
    nameInput.setText("John Doe");
`

* `selectedOption` is no longer available instead we use `selectedOption

[2022-04-26 06:22] jnikhila commented on #13300
@ajinkyakulkarni - based on user's feedback, I've added the ticket. Could you please assign appropriate priority to the ticket?

[2022-04-26 06:23] pranavkanade opened #13301 "[Feature]: Option to upload CA certificate for elastic search plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The current config does not allow users to upload a CA certificate.

<img width="650" alt="Screenshot 2022-04-26 at 11 51 50 AM" src="https://user-images.githubusercontent.com/13262095/165234917-60d0601b-7a55-491e-94fc-8e9decebb3be.png">

### Why should this be worked on?

User request

[2022-04-26 06:27] nidhi-nair opened #13302 "[Bug]: When an action is deleted, remove it's reference from the action collection as well"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Follow up to https://github.com/appsmithorg/appsmith/pull/13297

### Steps To Reproduce

Create a JS function and delete it. Check the JS object in the DB.

### Public Sample App

_No response_

### Version

Cloud

[2022-04-26 06:30] vuiets commented on #9159
A community member reported the same issue on https://github.com/appsmithorg/appsmith/issues/12965 and has requested we take a look at the limit again.

Password generators throw out passwords with as many as 48 characters.

[2022-04-26 06:39] autocode-app[bot] opened #13303 "[Docs] #13190 [Epic] : JSON Form stability"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13190
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-26 06:43] #10196 closed

[2022-04-26 06:47] vuiets commented on #12965
Thanks for reporting this and sharing more context @profiluefter. We'll look at increasing the limit and fix the messaging.

[2022-04-26 06:48] vuiets commented on #12965
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 84 |
| Effort (months)  | 0.25 |

[2022-04-26 06:52] abhvsn commented on #13242
@dilippitchika can you elaborate on  `The reason I am asking is because the column names are also not updated by default to the correct column names.`

We haven't made any updates for table binding in the current CRUD template, you can check the binding by generating a CRUD page on the provided instance. Also, if I am not mistaken we are seeing the table columns getting updated correctly as per Ri

[2022-04-26 07:03] vuiets commented on #7293
#
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 23 |
| Effort (months)  | 1 |

[2022-04-26 07:16] vuiets commented on #13130
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 360 |
| Effort (months)  | 0.25 |

[2022-04-26 07:43] #13268 closed

[2022-04-26 07:44] aswathkk opened #13307 "[Task]: Add a static method canDisplayValueInUI(config, value) to all the property controls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

This property can be used to check whether a value in the input field can be represented directly in the property control UI.
Based on this method, we can disable or enable the JS toggle button.

[2022-04-26 07:48] eco-monk opened #13308 "[Bug]: occasional cyclic dependency on user's app (potentially due to array bindings)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Happens randomly when changing select widget option.
Data sensitive app, so not sharing screenshots.

[cyclic-dependency-error-object.txt](https://github.com/appsmithorg/appsmith/files/8560971/cyclic-dependency-error-object.txt)

Update: (steps to repro)
[![LOOM DEMO](http://cdn.loom.com/sessions/

[2022-04-26 07:54] eco-monk commented on #13308
We have an internal app that behaves somewhat similar to this
https://app.appsmith.com/applications/6179aa44b2db5a27f21af8c8/pages/617a5154b2db5a27f21afaee

[2022-04-26 08:00] vuiets commented on #12094
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 43 |
| Effort (months)  | 0.25 |

Dropping a rough estimate for effort for this. Feel free to change it here.

[2022-04-26 08:03] rohan-arthur opened #13310 "[Bug]: Cannot see result of postgres query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

response tab indicates that 10 rows were returned, but is blank:
![Screenshot 2022-04-26 at 13 31 19](https://user-images.githubusercontent.com/94514895/165252173-f8dc1364-6c44-4253-8237-0d1ded9289c4.png)

### Steps To Reproduce

1. Create a datasource for the internal DB. Get credentials from [he

[2022-04-26 08:28] autocode-app[bot] opened #13312 "[Docs] #13308 [Bug]: occasional cyclic dependency on user's app"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #13308
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-26 08:44] pranavkanade opened #13313 "[Bug]: Tabs Widget - active tab is not highlighted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="205" alt="Screenshot 2022-04-26 at 11 55 00 AM" src="https://user-images.githubusercontent.com/13262095/165259891-bfa7575a-fec5-4898-b124-83096b94bf25.png">
The active tab is not highlighted (green line at the top)

### Steps To Reproduce

Drag & Drop a new tabs widget onto the canvas.

[2022-04-26 08:46] somangshu commented on #13313
@souma-ghosh can you check what changed here?

[2022-04-26 09:08] hiteshjoshi commented on #1906
This is implemented. Closing this.

[2022-04-26 09:08] #1906 closed

[2022-04-26 09:23] parth-appsmith commented on #11535
@rohan-arthur @nidhi-nair
Is this a feature that is requested by our users? If so can you tag to the relevant issues or discord threads to get a better idea on this.
Also, aside from writing queries at what all other stage is the information about the data source important to know?

[2022-04-26 09:30] Tooluloope commented on #12225
# QA Note

The following should be tested in the PR

- For all the Select Family, The value must be strictly checked against the options except if serverside filtering is enabled, i.e all selectedValues/DefaultValues must exist in the options for it to be reflected in `selectOptionValue`
- Connecting the defaultValue from a Table or external source, should reflect the expected value in `selectOpti

[2022-04-26 10:05] autocode-app[bot] opened #13317 "[Docs] #12823 [Bug]-[748]:Table widget - Cell background for Step column is applied incorrectly"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12823
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-26 10:09] abhvsn commented on #11889
Yes this is still valid, try to follow the specs provided in the description but currently we really don't have any solution on this

[2022-04-26 10:19] souma-ghosh commented on #13313
Looking into it

[2022-04-26 10:42] ramsaptami commented on #13273
Related to #12179
Duplicate of #13288

[2022-04-26 10:57] ramsaptami commented on #13273
Error message needs to be improved and documentation enhanced on usage of async functions
@Rishabh-Rathod will raise a seperate task for this

[2022-04-26 11:07] autocode-app[bot] opened #13319 "[Docs] #13285 [Bug]: MongoDB requires string parsing when working with datetimes"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13285
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-26 11:09] Rishabh-Rathod opened #13320 "[Docs]: Add documentation to explain why `async functions in sync fields` error comes up and how to get out of it ?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/how-to-guides/how-to-use-js-object-within-appsmith

### Describe the problem

https://github.com/appsmithorg/appsmith/issues/12179

We have noticed the error message `async functions in sync fields` which currently is removed led to error messages like
`Uncaught (i

[2022-04-26 11:11] prapullac opened #13322 "[Bug]-[14720]:The rows gets scrambled on RUN with dynamic binding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user adds a row from the from with field it is observed that the fields get scrambled and inserted on the GSheet

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9b4f21ec0f6e4321b32601ed2814d861-00001.gif)](https://www.loom.com/share/9b4f21ec0f6e4321b32601ed2814d861)

### Steps To R

[2022-04-26 11:21] #11927 closed

[2022-04-26 12:17] Rishabh-Rathod commented on #13273
https://github.com/appsmithorg/appsmith/issues/13320 created an issue for improvement in docs here.
@ramsaptami Can you create an issue for improvement of the error message?

[2022-04-26 12:22] sindema8 commented on #2430
+1 We need this to import firebase-auth and firebase-auth. This is key for authentication to our API calls

[2022-04-26 12:35] riodeuno opened #13323 "[Bug] Sync library versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The actual version of the `node-forge` library being used by our users in bindings is `1.3.0`, however, it is displayed as `0.10.1`.
![Screenshot 2022-04-26 at 4 44 19 PM](https://user-images.githubusercontent.com/103687/165300688-0f362728-8322-4b00-baf1-6a5a82982676.png)

We need to do the follow

[2022-04-26 12:54] techbhavin opened #13325 "[Bug]: Icon is missing in columntype iconButton in tablewidget for exting user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

An icon is missing in the column type icon button in the table widget for existing users who have not set the icon name

### Steps To Reproduce

It’s happen on existing user application

### Public Sample App

_No response_

### Version

release

[2022-04-26 13:09] rashmi-rai opened #13326 "[Bug]-[1500]:Switch Datasources menu in QueryEditor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we open datasources menu in query editor the datasources which are not compatible shows up.

### Steps To Reproduce

- Create datasource airtable datasource
- Create postgres datasource
- To create query on postgres datasource open query editor
- In the switch datasource dropdown you will als

[2022-04-26 13:13] Nikhil-Nandagopal commented on #13181
@Somashekar-B I just tried reproducing this and while hitting request inspector from my app, you can see the body is being sent correctly
https://requestinspector.com/p/01g1jzfzypmd6w0yzet0dwhd2h
Can you share an app that is pointing to requestinspector where you are able to reproduce this?

[2022-04-26 13:24] Nikhil-Nandagopal commented on #13156
Yup can confirm something like this will fail
[code]
@ApekshaBhosale It's mentioned that this was handled in this issue here https://github.com/appsmithorg/appsmith/issues/6872#issuecomment-921529953
But it doesn't work

[2022-04-26 13:26] #4468 closed

[2022-04-26 13:32] sh-TU commented on #13310
In a query edit page, appsmith doesn't know how to render data types that are array. For example this kind of column in postgres
[code]
This just shows a blank response. The rest works

[2022-04-26 13:41] Nikhil-Nandagopal commented on #13310
@sh-TU thanks for the information! You are right and we are working towards fixing this ASAP

[2022-04-26 13:53] Irongade commented on #13310
A fix has been created for this on the client side. @rohan-arthur @Nikhil-Nandagopal @sh-TU

[2022-04-26 13:56] #11811 closed

[2022-04-26 14:08] ramsaptami opened #13327 "[Bug]-[230]:Newly added text gets cleared from the editor when browser window is switched soon after typing in something"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Any text typed into a newly loaded JS object is undone when current window is switched using tab key, i.e., the newly added text is cleared.

This can be repro'd only on a JS object that is being edited for the first time. Cannot repro this on a function that is currently being worked on. See vide

[2022-04-26 14:27] rashmi-rai opened #13329 "[Bug]-[12000]:Fix hover state of renaming titles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Fix hover state of
- query name
- datasource name
- api name

### Steps To Reproduce

- Open query editor
- Hover over query name.
- **Current hover state:**
<img width="357" alt="Screenshot 2022-04-26 at 7 51 46 PM" src="https://user-images.githubusercontent.com/89374972/165322154-ac418891-5212-4

[2022-04-26 14:31] #12663 closed

[2022-04-26 14:34] rashmi-rai opened #13330 "[Type]-[12000]:Outdated Design for Rest API Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

It will fix following issues:
- [Inconsistent datasource dropdown](https://www.notion.so/appsmith/Usability-UI-issues-3ed292f1e7924526b2a3bd56f0a50b5c?p=fb227188f2fc49c0a74dbd899a9a0948)
- [bgColor mismatch for method dropdown](https://www.notion.so/appsmith/Usability-UI-issues-3ed292f1e7924526b2a3bd56f0a50b5c?p=f

[2022-04-26 14:39] rashmi-rai opened #13331 "[Type]-[12000]:Add Keyboard Shortcut for Run Action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add Keyboard Shortcut for Run Action

[2022-04-26 14:41] ame-appsmith opened #13332 "[Feature]: Overlapping Widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, it is not possible to have overlapping widgets in Appsmith. Several users have requested this feature as they would like to use a widget on top of another one and show/hide them conditionally, but today it is only possible to place the widgets next to each other.

Use cases:
1. Overlap an i

[2022-04-26 14:47] rashmi-rai opened #13333 "[Task]: Automate adding of Key Value pair"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- When user adds a key value pair, a new key value field should be added automatically at the end

[2022-04-26 14:48] danciaclara opened #13334 "[Bug]-[1320]:'Ends With' operator in Table filters not working in certain cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It appears to not work when filtering the entire word in a column

Appears to work fine when filtering letters from the last word in the following situations. Note that I searched for 'son' and 'Benson' in the FullName column. Gives correct results

<img width="922" alt="Screenshot 2022-04-26 at 7

[2022-04-26 15:11] #13310 closed

[2022-04-26 15:33] sharat87 opened #13335 "[Bug]: If there's a space in a value in `docker.env`, the server fails to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If any of the values in the `docker.env` file contain a space, like this:

[code]

Then the server will fail to start with an error like the following:

[code]

There's no way to recover without going and editing the `docker.env` file to fix this.

### Steps To Reproduce

Start a new self-hosted i

[2022-04-26 16:11] ramsaptami opened #13336 "[Bug]-[450]:Table widget is not center aligned according to setting and alignment changes when page/table is refreshed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When table column values are center aligned and either page or table is refreshed then some of the values default to left-alignment. A page refresh reverts column back to user-defined center alignment though.

### Steps To Reproduce

1. Center align table data on any app with multiple pages or go

[2022-04-26 16:59] ramsaptami commented on #9492
Repetitive actions are still present.

![image](https://user-images.githubusercontent.com/79509062/165353192-2bb31496-2efb-4756-be48-cdb839bf71c9.png)
![image](https://user-images.githubusercontent.com/79509062/165353285-26c828fa-2c56-42f3-b382-c88fe57f7f0f.png)

[2022-04-26 17:19] Themercee commented on #10073
This would indeed be a nice feature to have. Retools has this and we nearly go with them because of this 😅

[2022-04-26 18:06] Mkallday opened #13337 "[Bug]: Hide Column - Toggle Button works in reverse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Appsmith Toggle Bug](https://user-images.githubusercontent.com/36720153/165363955-799175ec-2533-4e62-83ea-a9feaa3cb1ce.gif)

Toggle to hide working in reverse

### Steps To Reproduce

1. In a table
2. Press "eye" icon to hide columns

### Public Sample App

_No response_

### Version

Appsmith v

[2022-04-26 19:28] RoryO commented on #5183
Yes, currently it is impossible to use appsmith with Google Cloud SQL. Google only supports SSL with their own self signed certificates.

https://cloud.google.com/sql/docs/postgres/configure-ssl-instance

[2022-04-26 19:49] mjyoung commented on #5183
Only way I found around this was to use the [Cloud SQL Proxy](https://cloud.google.com/sql/docs/mysql/sql-proxy) and install that on my VM instance

[2022-04-26 21:16] RoryO commented on #5183
Yes that will work for self hosted systems. I'd prefer to use the hosted version of Appsmith. I don't run any services or containers on my own, preferring to use hosted versions and paying vendors (and supporting OSS financially) to deal with that part. This is a blocker for us giving money to Appsmith.

[2022-04-26 23:15] felixsuarez0727 commented on #12521
I noticed that the integration must be updated more than once before installing it to eliminate the error.

[2022-04-27 02:14] aswathkk opened #13338 "[Bug]: evaluation delay between multiple moment() or new Date() calls creates unexpected behaviours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The value of the binding `{{ moment() }}` at different places is different due to the millisecond delay in the evaluation of these expressions.

### Context
A user was using a date picker widget inside a form widget. They set the default value as `{{ moment() }}` and min date also as `{{ moment()

[2022-04-27 02:44] autocode-app[bot] opened #13340 "[Docs] #13220 [Task] : Add/Reuse an event to measure the JSON form 50 field limit"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13220
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 03:25] sbalaji1192 commented on #12505
@vivekverma2312 Do you wanna sit sometime today to discuss the changes we did as part of this issue?

[2022-04-27 04:05] #13271 closed

[2022-04-27 04:09] ramsaptami commented on #10925
Can we also remove the word `this` on Step 1? It's a confusing wording there.

[2022-04-27 04:16] #13317 closed

[2022-04-27 04:28] dilippitchika commented on #12225
Adding my notes here for default value for testing- @Tooluloope @wmdev0808 @ashit-rath

## Default value with server side filtering OFF- Select widget
1. Supported formats - value, {label,value}
2. When value is not present in the list of options
     - No default should be shown in the select widget
     - The default value field in property pane should show an error
3. When label is not present

[2022-04-27 05:03] ramsaptami commented on #13273
Hey Rishabh, I've added the `error` tag on the issue and updated the description to state the same. Hope the works

[2022-04-27 05:07] RakshaKShetty commented on #13183
Fixed
![Uploading image.png…]()

[2022-04-27 05:09] nayan-rafiq opened #13341 "Add widgets to list of template filters"

[2022-04-27 05:18] nidhi-nair commented on #12813
Hey @jnikhila! There's also some advanced settings under Authorization Code and the resource and audience fields under Client Credentials. Should we be adding details for those in the same page?

[2022-04-27 05:18] kocharrahul7 opened #13342 "[Task]: Add in the following backend analytics events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Number of Queries on publish app
- [ ] Page count doesn't seem to be working

[2022-04-27 05:19] #12992 closed

[2022-04-27 05:20] autocode-app[bot] opened #13343 "[Docs] #13341 Add widgets to list of template filters"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #13341
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 05:21] sumitsum commented on #9879
This has been implemented and is available no prod and all self hosted instances. It is possible now to specifiy the full endpint along with the protocol ie. http or https when choosing the datasource type as Minio or other.

[2022-04-27 05:21] #9879 closed

[2022-04-27 05:53] abhvsn opened #13344 "[Docs]: Add git-connect deploy key document for AWS code commit and azure platforms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/core-concepts/git-sync#connecting-to-git-repository

### Describe the problem

Currently, we have provided the documents for Gitlab, Github, Bitbucket but we are also getting requests for Azure and AWS platforms.

### Describe the improvement

We should give clear

[2022-04-27 05:54] rashmi-rai opened #13345 "[Bug]: Delete buttons next to the Key-Value pair don’t have a hover state."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Add hover state for delete button

### Steps To Reproduce

<img width="778" alt="Screenshot 2022-04-26 at 8 21 53 PM" src="https://user-images.githubusercontent.com/89374972/165450379-78e5028d-872a-4e79-a775-b0a45c8764db.png">
<img width="876" alt="Screenshot 2022-04-26 at 8 21 28 PM" src="https:/

[2022-04-27 06:01] autocode-app[bot] opened #13346 "[Docs] #12826 Add unit tests for 12684"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12826
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 06:15] #12944 closed

[2022-04-27 06:22] rashmi-rai opened #13347 "[Bug]-[Infinity]:Fix inconsistency with test and save buttons in datasource forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Datasources like postgres and airtable auto saves data. Save button in not required here.

### Steps To Reproduce

Open postgres datasource form
Make a change in any field
Navigate away from page
Open the saved postgres datasource form again
Observe that the changes are autosaved

### Public Sampl

[2022-04-27 06:23] autocode-app[bot] opened #13348 "[Docs] #12779 [Bug]-[25000]:[UI] hover state missing for items in the 3 dots menu"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12779
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 06:27] dilippitchika opened #13349 "[Bug]: Datepicker opens above outside viewport"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When my datepicker is on top of the canvas, when clicked the popover opens above the canvas cutting off the date selection.

### Steps To Reproduce

1. Add a new datepicker
2. Make sure it's on top of the canvas
3. Click and open the pop-over
4. Notice it opens above
![Screenshot 2022-04-27 at 11

[2022-04-27 06:28] jnikhila commented on #12244
@AnaghHegde - Docs are published and available on [live](https://docs.appsmith.com/core-concepts/git-sync). Please verify.

[2022-04-27 06:36] rashmi-rai opened #13350 "[Bug]-[12500]:Key value input component is inconsistent with design"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 Key value input component is inconsistent with design

Ref: https://www.notion.so/appsmith/Usability-UI-issues-3ed292f1e7924526b2a3bd56f0a50b5c?p=93f9f83982cc4589834ffa9704a0beb1

### Steps To Reproduce

- Open postgres datasource
- Observe the Host and Port key value component. **Current impleme

[2022-04-27 06:37] #12457 closed

[2022-04-27 06:43] AnaghHegde commented on #12244
Looks good to me

[2022-04-27 06:43] #12244 closed

[2022-04-27 06:47] rashmi-rai opened #13351 "[Bug]: Back button in Api pane may not be required"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Ref: https://www.notion.so/appsmith/Usability-UI-issues-3ed292f1e7924526b2a3bd56f0a50b5c?p=a2b0de962e8f4ccea70f24b45cc7b63c

### Steps To Reproduce

- Open an application
- Open query editor.
- Back button at the top may not be required.
<img width="1072" alt="Screenshot 2022-04-27 at 12 15 47 PM"

[2022-04-27 06:51] Parthvi12 opened #13352 "[Bug]: "Learn More" link on gitImport modal opens git sync documentation."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clicking "Learn More" link on git import modal, should open git import documentation i.e. https://docs.appsmith.com/core-concepts/git-sync#importing-from-a-repository instead it opens git sync documentation i.e. https://docs.appsmith.com/core-concepts/git-sync

### Steps To Reproduce

1. Click on

[2022-04-27 07:00] RakshaKShetty opened #13353 "[Bug]-[656]:Unable to connect apps to azure devops"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Unable to connect apps to azure devops
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/165459372-a1aaabd4-6a1f-4364-adae-cc10b22351b8.png">

### Steps To Reproduce

1. add new app
2. Click on connect git
3. add a remote url
4. now try to add ssh in the azure d

[2022-04-27 07:07] #13227 closed

[2022-04-27 07:08] trishaanand opened #13354 "[Feature]: Add support for algorithms other than RS256 for OIDC signing algorithm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add support for algorithms other than RS256 for OIDC signing algorithm

### Why should this be worked on?

Some enterprises are mandated to use a particular algorithm across their applications for signing the JWT token. Adding support for the same ensures that they can use SSO with OIDC as per their r

[2022-04-27 07:18] Nikhil-Nandagopal commented on #13338
@aswathkk This is expected and not a bug, the exact same would happen in a react app right?

[2022-04-27 07:18] #13338 closed

[2022-04-27 07:47] jnikhila commented on #12813
@nidhi-nair -  As discussed, I'll add a section Additional settings that will cover the advance settings as well as some optional settings. For client credentials workflow, it will be worked upon as part of #12984

[2022-04-27 07:51] pranavkanade commented on #13353
@AnaghHegde is there a workaround for this?

[2022-04-27 07:53] ankitakinger opened #13355 "[Feature]: Add advanced setting on OIDC containing dropdown field for "Token Signing Algorithm""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add advanced setting on OIDC containing one non-mandatory dropdown field for "Token Signing Algorithm". Use the following ENV variable for the same field: `APPSMITH_OAUTH2_OIDC_SIGNING_ALGO`

### Why should this be worked on?

This is needed in case an enterprise user wants to use a different Signing

[2022-04-27 07:53] pranavkanade commented on #13353
@hiteshjoshi @vuiets, can we pick this up if there is a quick fix?

[2022-04-27 07:57] autocode-app[bot] opened #13356 "[Docs] #13236 [Bug]: The user cant check the entered details for re-verification in the saml Auth"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13236
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 07:58] autocode-app[bot] opened #13357 "[Docs] #13237 [Bug]: The placeholder should be added for more visibility for entering data"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13237
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 08:27] #13354 closed

[2022-04-27 08:28] abhvsn commented on #13256
More discussion on this issue: https://theappsmith.slack.com/archives/C02K2MZERSL/p1650876597888719

[2022-04-27 08:34] autocode-app[bot] opened #13358 "[Docs] #12815 [Bug]-[16]:Unable to select option in Radio Group field type when value is Number on JSON Form widget"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12815
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 08:35] abhvsn commented on #13130
Closing this as fixed in https://github.com/appsmithorg/appsmith/pull/13133

[2022-04-27 08:35] #13130 closed

[2022-04-27 09:07] leotom2000 opened #13359 "[Bug]: illegal group Reference - MongoDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Having an issue on appsmith JSObjects when using mongo data api to connect a database.
Can't use native mongo drivers on the platform because current drivers are not supporting serverless url.
So the problem is when we try to insert a new document to database with an objectId field, appsmith throw

[2022-04-27 09:14] abhvsn commented on #12704
@Pranay105 created a rough draft for the request https://www.notion.so/appsmith/Limitations-of-import-export-by-file-a9bb66a29b6c4b22baf65548b7e1e807

[2022-04-27 09:16] autocode-app[bot] opened #13362 "[Docs] #13239 [Bug] In SAML auth the data is not retained when user switch between the tabs"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13239
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 09:18] AnaghHegde commented on #13353
@pranavkanade I am looking at this on priority but there is no work around at the movement. The problem here is that, we generate EDCSA ssh keys and it is not supported by Github. Prev, we used SHA type keys but the problem was Github stopped supporting this due to security reasons. This needs a discussion before raising a fix.
Issue #1030

[2022-04-27 09:18] abhvsn commented on #11577
Closing this as this was fixed in https://github.com/appsmithorg/appsmith/pull/12819

[2022-04-27 09:43] riodeuno opened #13363 "[Task] Benchmark AnalyticUtils"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- A lot of events are being logged today.
- We need to benchmark the effect of this on the main thread.
- If we find that this is a cause for concern, we must look into optimising this and freeing up the main thread.

[2022-04-27 10:13] autocode-app[bot] opened #13366 "[Docs] #12956 [Bug]-[5760]:Created API does not save body if raw type is selected with no headers"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #12956
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 10:15] #13237 closed

[2022-04-27 10:16] AmanAgarwal041 opened #13367 "[Feature]: Add Test Cases for GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Need to add graphql test cases for the automation testing

### Why should this be worked on?

Automation Testing

[2022-04-27 10:19] autocode-app[bot] opened #13369 "[Docs] #13367 [Feature]: Add Test Cases for GraphQL"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13367
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 10:20] autocode-app[bot] opened #13370 "[Docs] #13027 [Bug]-[30000]:[UI] Spacing in RUN button in the Query response pane"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13027
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 10:23] dilippitchika commented on #3369
Had a founders discussion today on the theme flow, here are a list of changes we will be doing. All of these are small changes in the UX we will do

### Editing themes
1. Current theme will be in expanded state by default
2. A user can click on a button on the current theme to start customising the theme rather than having to click back.
3. Back button will still be there because if the user doesn

[2022-04-27 10:32] autocode-app[bot] opened #13371 "[Docs] #13355 [Feature]: Add advanced setting on OIDC containing dropdown field for Token Signing Algorithm"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13355
Engineer |  @ankitakinger
Release Date | 29-04-2022
Live Date | Next release
First Draft | Update to existing doc
Auto Assign | @jnikh

[2022-04-27 10:32] kocharrahul7 opened #13372 "[Task]: Create an analytics event whenever the platform enters an "Oops! something went wrong" states"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Users very often end up in an "Oops! something went wrong" state, but we are not aware how often, and we aren't always aware when it happens. To quantify this issue, we would need to Create a backend analytics event to track how often this happens.

Note: By analytic event we mean mixpanel logs he

[2022-04-27 10:51] dilippitchika commented on #3369
@jsartisan regarding few items above

Font hierarchy in the page - I don't think we need to solve it, just removing the button is solving it for us
![Screenshot 2022-04-27 at 4 09 06 PM](https://user-images.githubusercontent.com/19730984/165502387-1fc8b026-5208-47cd-b891-1b2ad3453389.png)

Font names
Here's the suggested font names
![Screenshot 2022-04-27 at 4 17 31 PM](https://user-images.githubu

[2022-04-27 10:59] Irongade commented on #10849
We are closing this issue since we are going for the same icon for now.

[2022-04-27 10:59] #10849 closed

[2022-04-27 11:13] autocode-app[bot] opened #13374 "[Docs] #13291 [Bug]: Airtable List Records integration is missing the offset field"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13291
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 11:42] #13027 closed

[2022-04-27 12:08] rohan-arthur commented on #12779
this is how it looks today, maybe it was fixed in another PR:

https://user-images.githubusercontent.com/94514895/165514757-7a1513bd-eeb8-480a-a284-bd42a2a40f85.mov

[2022-04-27 12:08] #12779 closed

[2022-04-27 12:23] spark-c opened #13375 "[Docs] #13375 Improve discoverability of `storeValue` for new users"
Currently, it is a bit difficult for newer users to notice that the Appsmith store / `storeValue` functionality exists.

Related comment from @AS-Laguna

[2022-04-27 12:33] autocode-app[bot] opened #13376 "[Docs] #13025 [Feature]-[30000]:Query pane - context menu is outdated"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13025
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 13:08] #13240 closed

[2022-04-27 13:22] rashmi-rai commented on #13228
Right now we don’t know at what point this issue is getting created. We are working to find out the exact cause.
Most likely this issue exist with FIND command. Meanwhile here is a workaround suggested by @Rishabh-Rathod
1. Open the Mongo query. Change your command to something else, let us say `Update Documents`. Let it get saved successfully.
<img width="296" alt="Screenshot 2022-04-27 at 6 51 1

[2022-04-27 13:57] autocode-app[bot] opened #13378 "[Docs] #13118 [Bug]: Fix feedbacks on Label feature"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13118
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 13:57] autocode-app[bot] opened #13379 "[Docs] #13349 [Bug]: Datepicker opens above outside viewport"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13349
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-27 14:00] Rishabh-Rathod commented on #13228
@awanishraj Could you please try the above workaround and if the issue persists please let us know. We will need to connect for a debugging session.

[2022-04-27 14:19] jnikhila opened #13380 "[Docs] : Add - Multiple envs and git version control documentation."

[2022-04-27 14:20] jnikhila commented on #13380
@pranavkanade - Could you please add the required details to the ticket?

[2022-04-27 14:44] ame-appsmith opened #13382 "[Feature]: Apps Visible in the Login Page for All Users Without Being Invited"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There should exist the possibility to import an Appsmith app in such a way that it should be visible for all users and organizations of Appsmith local instance.
Use case: Appsmith app should be visible in the login page of all users without being added/invited.

### Why should this be worked on?

This

[2022-04-27 15:34] GreenFlux opened #13383 "[Feature]-[658]:Add Alt-Text property for Image widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This feature request is for an `Alt-Text` property for all widgets, which will display when the widget's visibility is set to hidden. The value could also be used to provide Alt-Text to the browser for Image widgets, and improve Appsmith's accessibility.

### Why should this be worked on?

When a widg

[2022-04-27 15:43] #13081 closed

[2022-04-27 15:45] jnikhila commented on #12843
@dilippitchika - the docs are updated and changes are published. Please review.

[2022-04-27 17:52] AnaghHegde opened #13385 "[Bug]: Unable to see application in home page after the git connect flow is aborted in middle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

User is Unable to see application in home page after the git connect flow is aborted in middle

### Steps To Reproduce

1. Create an app and click on connect to git
2. Enter the url and generate keys
3. Save the edit mode url of the app in a different place
4. Now go back to home page and refresh

[2022-04-27 17:53] GreenFlux opened #13386 "[Feature]: UI/UX enhancements for Tab widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This request is for several new options related the Tab widget.

**Tab Position**: [`Top`, `Left` ] (and maybe `Right`, `Bottom`)
- Option to display tab labels stacked on left edge, creating a sidebar style navigation between Tabs.

**Label Width**: [`Auto` , `Fixed` , `Stretch`]
- _Auto_: current be

[2022-04-27 18:28] #13013 closed

[2022-04-27 18:39] sbres commented on #12321
I don't know if it helps but when getting the text from a rich text editor in Markdown mode
`RichTextEditor1.text`
The resulting text is in an HTML form that destroys the purpose of using the editor as destroys all the markdown code my input

[2022-04-27 23:59] rubabuddin commented on #13385
also running into the same issue

[2022-04-28 04:08] sbalaji1192 opened #13389 "[Bug]-[140]: Date picker shows random month when a custom min date is set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we choose a date other than the current date as minDate in datepicker widget, it shows a random month in the date picker popup.
[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/48be010e55284b23b7d59764104247f1-00001.gif)](https://www.loom.com/share/48be010e55284b23b7d59764104247f1)

###

[2022-04-28 04:08] dilippitchika commented on #13180
Server side sort conversation

https://discord.com/channels/725602949748752515/760761686549463060/968616214312149043

[2022-04-28 04:09] sbalaji1192 commented on #13389
We need to set the `initialMonth` prop on the `DateInput` blueprint component based on the min, defaultDates.

[2022-04-28 04:42] dilippitchika commented on #13389
Reach - Devs configuring the minDate field. Assuming 50% are future dates.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 140 |
| Effort (months)  | 0.5 |

[2022-04-28 04:51] Parthvi12 opened #13390 "[Bug]: For templates using authenticated api's with authorization code, the code should not expire."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We currently have Applicant Tracker template, which use authenticated api, with authorization code. For this template and similiar templates we'll need to increase the code lifetime.

Currently, OAuth 2.0 datasources don't retain the "Grant Type" information for the user. This means that after imp

[2022-04-28 05:06] dilippitchika commented on #12239
Last one being tracked here - https://github.com/appsmithorg/appsmith/issues/12615

[2022-04-28 05:10] dilippitchika commented on #12239
Reach : People who have set the header to be center or right.
Considering only for 2nd issue in this list.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 450 |
| Effort (months)  | 0.5 |

[2022-04-28 05:21] nidhi-nair commented on #3270
Closing as completed, open issues do not belong to v1.

[2022-04-28 05:21] #3270 closed

[2022-04-28 05:21] dilippitchika commented on #13336
Is reproducible on tables when I resize the columns, probably there are some issues which are cropping up due to style settings Saptami has done. Anyone triaging this please use the app above to fully understand the scenario

Adding a tentative rice score - Reach based on all the users who have set the alignment to center or right
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reac

[2022-04-28 05:24] ashit-rath commented on #13140
@chandannkumar Can you check if this issue is resolved in the theming epic?
DP of theming: https://appsmith-git-theming-phase-1-get-appsmith.vercel.app/

[2022-04-28 05:31] nidhi-nair commented on #6745
Closing the issue since we're done with structural changes for UQI, might have completed this along the way. @ayushpahwa please reopen and add details to this if you think that is not the case.

[2022-04-28 05:31] #6745 closed

[2022-04-28 05:34] nidhi-nair commented on #2809
This is not an issue anymore with the new form validations. DynamoDB will have this fixed in due time after it is ported.

[2022-04-28 05:34] #2809 closed

[2022-04-28 05:39] Parthvi12 opened #13391 "[Task]: Improve automation test coverage for git sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-28 05:42] ashit-rath opened #13392 "[Bug]: JSONForm - Radio Group field - options validation does not validate like Radio Group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Radio Group field's options properties in the JSON form widget should adhere to the validation rules of the Radio Group widget's options property.

### Steps To Reproduce

1. Drag JSONForm
2. Modify a field to Radio Group
3. In the options property convert one of the option's value to a number

[2022-04-28 05:42] ashit-rath opened #13393 "[Bug]: JSONForm - Radio Group field - Missing validation for default selected value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Radio Group field's default selected value property validation is missing in the JSON form widget.

### Steps To Reproduce

1. Drag JSONForm
2. Modify a field to Radio Group
3. In the default selected value enter `{{true}}` (which is a boolean)
4. Ideally it should throw the error `This value

[2022-04-28 05:48] chandannkumar commented on #13140
@ashit-rath Tested this issue on theming DP where it seems Fixed and working as expected

[2022-04-28 05:57] dilippitchika commented on #13334
Needs a bit more detailed investigation to identify what are other similar cases which may fail. @somangshu should we assign this to someone in the QA team to do a bit more thorough investigation on filters or should this be looked at by a dev for triaging.

Also predicting Reach is tricky because we don't have filters on how many people are clicking on table buttons.
Approximating this to 5% of u

[2022-04-28 05:59] #13362 closed

[2022-04-28 05:59] dilippitchika commented on #13098
@jnikhila can you take a look once on how we can work on this and what are the current gaps?

[2022-04-28 06:04] autocode-app[bot] opened #13395 "[Docs] #11038 [Epic] Dynamically Change height for widgets (New Size Options for Container and other widgets)"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #11038
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-28 06:04] dilippitchika commented on #13076
@momcilo-appsmith what do you think here, should the font size change or not? I am of the opinion that it should not change. The user is simply changing the default row height.

[2022-04-28 06:05] AnaghHegde commented on #13385
@rubabuddin Thanks for reporting this issue. The fix is on the way and will be pushed very soon. We are sorry that you are facing this issue.

[2022-04-28 06:05] vuiets commented on #13371
@ankitakinger do you think this will need a small change to the documentation?

[2022-04-28 06:06] nidhi-nair opened #13396 "[Epic]: SaaS Integrations Manager v1"
### Objective

The SaaS Integrations Manager has a few issues around usability and performance. It also does not allow for overriding configs when they get corrupted. This increases the amount of time required to create a new integration considerably. This epic is meant to resolve such issues so that the app becomes easy to use and scaling integrations is possible.

### Success Metrics

| Goal

[2022-04-28 06:06] autocode-app[bot] opened #13397 "[Docs] #13060 [Task]: Standardise structure of JSON Form widget to enable Dynamic Height."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13060
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-28 06:12] ankitakinger commented on #13371
yes this will be needed to let users know there is an option to use another token signing algorithm than the default one which we use.
CC: @trishaanand

[2022-04-28 06:31] somangshu commented on #13334
Lets follow a test driven approach this time since this has happened multiple times

@Aishwarya-U-R can you check out the test cases and tell us what is missing, we will list them here and then implement the change and also right the corresponding test cases. This was we should regress again.

Please consider any use case from the past you have experienced

[2022-04-28 06:32] somangshu commented on #13334
setting this to high since this issue blocks the user, Though there is an alternative to resolve the problem

[2022-04-28 06:35] dilippitchika commented on #13313
@souma-ghosh don't know if you are still looking at it
There's a difference in the CSS for what we see in Pranav's laptop vs what we see in laptops' where it's working

Pranav's laptop
![image](https://user-images.githubusercontent.com/19730984/165691331-afe7146d-c842-4314-9976-48ecabfa437a.png)

My laptop (working as expected)
![image](https://user-images.githubusercontent.com/19730984/165691508-

[2022-04-28 06:37] AnaghHegde opened #13398 "[Bug]: Performance issue in ImportExport when there are lot of pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Import-Export fails or takes a long time to respond when there is a lot of pages in the app. This was introduced in v1.6.22 due to the pageOrder filed that was added to the json file.

### Steps To Reproduce

Please use the sample app Json file from here - https://theappsmith.slack.com/archives/C0

[2022-04-28 06:39] nidhi-nair opened #13399 "[Epic]: Airtable and Twilio Stability"
### Objective

This epic is meant to capture the services in scope for the next phase of SaaS integrations. It also includes efforts to fix issues with older integrations.

### Success Metrics

| Goal          | Metric         |
| ------------- | -------------- |
| Productionize 1 integrations  |  |
| Reduce friction with older integrations |  |

### Requirements

| Requirement   | User Story    |

[2022-04-28 06:41] nidhi-nair commented on #11146
Closing as fixed in #10450

[2022-04-28 06:41] #11146 closed

[2022-04-28 06:48] Rishabh-Rathod commented on #12318
<img width="761" alt="Screenshot 2022-04-24 at 1 45 58 AM" src="https://user-images.githubusercontent.com/23132741/164944746-eb4e5422-b8e8-4b65-973b-2ff7cc4a9356.png">

Even after the above-mentioned changes truncated values seem to be still present.

<img width="524" alt="Screenshot 2022-04-25 at 11 47 46 AM" src="https://user-images.githubusercontent.com/23132741/165031199-45eda9fc-116e-4ec4-b84

[2022-04-28 06:55] munhou opened #13400 "[Bug]: I build project from the source code and use docker deploy but But unauthorized err appear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I want to build the appsmith platform from the source code（appsmith-1.6.0） , In order to add a custom widght！

### Steps To Reproduce

build rts：cd app/rts && ./build
build client: cd app/client && yarn install && yarn build
build server: cd app/server && mvn -B clean compile && ./build.sh -DskipT

[2022-04-28 06:56] somangshu commented on #7028
@Tooluloope while working on the icebox, do look at other issue that cant be solved with this, We will need to add them to requirements to solve

[2022-04-28 06:58] somangshu commented on #13076
should be taken up with #12239

[2022-04-28 07:09] nidhi-nair commented on #11535
@parth-appsmith Not sure what the user activity on this issue is, I've brought this up as a personal concern. :) It's actually just when we're writing queries, can't think of another use case.

[2022-04-28 07:11] #12919 closed

[2022-04-28 07:16] autocode-app[bot] opened #13402 "[Docs] #13139 [Bug]-[308]:JSON form submit button is not disabled when default data doesn't meet the validation criteria"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #13139
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-28 07:17] #12921 closed

[2022-04-28 07:25] chandannkumar opened #13403 "[Bug]: isRequired doesn't work in Select type field of JSON form when field is created from Source Data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Expected: When a select field is created from source data and enable the isRequired field, if when no option is selected from dropdown, the JSON form must be invalid and submit button should be disabled.

https://www.loom.com/share/e2fb3223f30e4d89955cd959b0237098

### Steps To Reproduce

1. Add a

[2022-04-28 07:31] jnikhila commented on #13098
Sure @dilippitchika. cc - @ajinkyakulkarni

[2022-04-28 07:33] rashmi-rai opened #13405 "[Bug]-[48]:Save button remains disabled in S3 datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This issue was found in Appsmith's Internal Apps i.e. `Deprecated A Force Admin Panel`

### Steps To Reproduce

1. Open pre existing S3 datasource
2. Select `Amazon S3` as S3 provider
3. Fill all the required fields
4. Save button remains disabled

### Public Sample App

_No response_

### Version

[2022-04-28 07:36] vuiets commented on #13371
@ankitakinger @trishaanand could you update the issue with release date and live date when you have the time? Don't have access to this information.

[2022-04-28 07:45] btsgh opened #13406 "[Bug]-[30000]:Query Response screen table misaligned when screen height increased"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I increase the height of the query response screen for say a postgresql query, the last column border of the table in the response page is not aligned correctly.

### Steps To Reproduce

1. Create a datasource for any PostGreSql DB. Get credentials from: https://www.notion.so/Servers-and-Cred

[2022-04-28 07:59] #12973 closed

[2022-04-28 08:00] ChandanBalajiBP commented on #13025
@parth-appsmith need more clarity to address this issue.

[2022-04-28 08:00] Parthvi12 opened #13407 "[Bug]: Unable to rename JSObject on new branch when connected to git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/80334441/165706194-18489d42-e24e-42a4-8e5a-fdc2b161d6b5.mov

### Steps To Reproduce

1. Switch to a new branch "feat/abcd" on app connected to git
2. Create new JsObject
3. Rename it from jsEditor
4. Observe the name is not changed
5. Rename it from contex

[2022-04-28 08:20] rohan-arthur commented on #834
| Industry | SaaS |
| ------------- | ------------- |
| Spreadsheet Database     | Google Sheets |
| Spreadsheet Database     | Airtable |
| CRM     | Hubspot |
| Support    | Zendesk |
| Communication    | Twilio |
| Sales    | Salesforce |
| Payments    | Stripe |
| Project Management    | Github or Jira |

[2022-04-28 08:27] rohan-arthur commented on #3027
@Nikhil-Nandagopal , WIDGET_PROPERTY_UPDATE should include all properties I guess?

[2022-04-28 08:45] rohan-arthur commented on #9669
this seems to have been fixed with some other PR, because not reproducible anymore:
https://images.zenhubusercontent.com/275993885/2d2b76fa-aca2-4f03-915e-c3b2ad061e0a/screen_recording_2022_04_28_at_14_14_26.mov

[2022-04-28 08:45] #9669 closed

[2022-04-28 08:54] rohan-arthur commented on #10160
reach: 81

[2022-04-28 08:59] #13397 closed

[2022-04-28 09:22] trishaanand commented on #13071
The ticket got closed for the frontend analytics changes getting merged in. Opening it back up for backend changes.

[2022-04-28 09:57] Nikhil-Nandagopal commented on #3027
@rohan-arthur yes it will

[2022-04-28 10:03] pranavkanade commented on #13380
@AnaghHegde @abhvsn can we get a draft for this? We'll need a couple of images and steps to do this.

[2022-04-28 10:08] jnikhila opened #13411 "[Docs]: Add - How to use - Response headers"

[2022-04-28 10:24] abhvsn opened #13412 "[Feature]-[300]:Improve import application UX flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As per the current implementation, there is no loading state-provided when a user tries to import the application. This results in a bad UX when we have a large application that takes more than 10sec to import the app successfully.

Checkout the current experience:
[![LOOM DEMO](http://cdn.loom.com/se

[2022-04-28 10:25] pranavkanade commented on #13380
I've listed the steps here - https://discord.com/channels/725602949748752515/968852830062534676/968858007163248671

@danciaclara, do you think we should create a youtube tutorial about this?

[2022-04-28 10:26] abhvsn commented on #13412
@Debsourabh I think instead of a linear loader circular one will make more sense, as for small apps we get the response within a sec but for others, this can go beyond 20secs as well.

[2022-04-28 10:30] rohan-arthur commented on #10160
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 53 |
| Effort (months)  | 0.25 |

[2022-04-28 10:37] Nikhil-Nandagopal commented on #13332
Rather than overlap, we'll be enabling this via #11038 where the widget that is hidden will take up no space and thus the widget below it will show there

[2022-04-28 10:37] #13332 closed

[2022-04-28 10:38] abhvsn commented on #13407
@Parthvi12 not able to reproduce this on Mozilla v99.0. Can you please provide the browser along with the version? Also, provide the network logs wanted to check if API is getting executed.

[2022-04-28 10:59] Parthvi12 commented on #13407
As discussed with @abhvsn the issue seems to be with JSEditor and not git, API is getting executed successfully and renaming works on hard refresh.

[2022-04-28 11:02] autocode-app[bot] opened #13414 "[Docs] #13228 [Bug]: Multiple Cyclic Dependency Errors"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13228
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-28 11:12] autocode-app[bot] opened #13416 "[Docs] #12758 [Bug]-[2640]:Renaming page after reorder is not proper on page setting page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #12758
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-28 11:13] #13385 closed

[2022-04-28 11:17] autocode-app[bot] opened #13417 "[Docs] #11016 [Bug]: The from email id is displayed wrong in the commenting emails"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #11016
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-28 11:22] somangshu commented on #4757
@sbalaji1192 @ashit-rath need next steps on this, Is this already resolved in V2? We should close it in that case

[2022-04-28 11:28] rohan-arthur commented on #8659
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1000 |
| Effort (months)  | <<number>> |

[2022-04-28 11:29] rohan-arthur commented on #10825
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 154 |
| Effort (months)  | <<number>> |

[2022-04-28 11:30] btsgh opened #13418 "[Bug]: On new options addition in treeselect widget, no scroll appears on immediately clicking the dropdown."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When new options are added to the TreeSelect widget, no scroll appears on clicking the dropdown. It only appears once user uses the mouse scroll to move up and down in the dropdown area.

Expected Behaviour -
As soon as dropdown is clicked, the scroll bar should appear so that user knows that ther

[2022-04-28 11:34] rohan-arthur commented on #11517
BINDING_SUCCESS, entityType = LIST_WIDGET
&
WIDGET_PROPERTY_UPDATE, updatedValue contains 'storeValue('
--> 6m usage: 476

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | <<number>> |

[2022-04-28 11:38] sbalaji1192 commented on #4757
@somangshu @ashit-rath This is not resolved in the Table widget v2. Do we want to expose the column names in the selectedRow object instead of column id?. if we do then we can update the autocomplete system to use the square bracket notion when it encounters special characters in the key.

[2022-04-28 11:40] rohan-arthur commented on #5390
WIDGET_CARD_DRAG, widgetType = `IFRAME_WIDGET`, 6m = 750
Apply 20% requirement: 150
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 150 |
| Effort (months)  | <<number>> |

[2022-04-28 11:45] rohan-arthur commented on #13350
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2500 |
| Effort (months)  | 0.1 |

[2022-04-28 11:45] somangshu commented on #4757
I am not sure if that is desirable anymore. @dilippitchika can you get us some metrics here?

[2022-04-28 11:49] rohan-arthur commented on #3087
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | 1 |

[2022-04-28 11:52] riodeuno opened #13419 "[Feature] Message event details"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Implement a newer version of the IframeWidget, so that users can use the newer version and have access to all the metadata provided by the [`message`](https://developer.mozilla.org/en-US/docs/Web/API/Window/message_event) event.

### Why should this be worked on?

The browser's [`MessageEvent` ](https

[2022-04-28 11:54] rohan-arthur commented on #3124
6m incidence of "syntax error at or near...": 400

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | <<number>> |

[2022-04-28 11:57] rohan-arthur commented on #4458
@parth-appsmith wdyt should be the expected behaviour here?

[2022-04-28 12:06] genfx86 commented on #2840
hello guys, any expected date for the release of this feature? as it was marked as part of Q4 2021

[2022-04-28 12:42] nidhi-nair commented on #12959
Implemented in both release and production. Documented notes for this [here](https://www.notion.so/appsmith/Setting-up-heap-profiling-on-instance-2c6c08c271784fa6b85d37f14610bf7f).

[2022-04-28 12:42] #12959 closed

[2022-04-28 12:44] abhvsn commented on #3199
### Next set of action
- Create a flowchart for commit-pull-push flow https://github.com/appsmithorg/appsmith/issues/13256
- Optimize import application flow https://github.com/appsmithorg/appsmith/issues/13398
- Add a field in the analytics event for system-generated events
- Improve error logging in mixpanel for missing event
- Add client-side analytics events

[2022-04-28 12:48] Aishwarya-U-R opened #13421 "[Feature]: Ability to suppress the Toast messages in specific known failure scenarios"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

1. User wants ability to suppress the Application toast messages in certain scenarios where he knows there is going to be no data & do not expect toast error & data in those cases
2. User feels - this alert could be unnecessary in such places & hence wants to suppress it

### Why should this be worked

[2022-04-28 12:49] #6744 closed

[2022-04-28 12:56] kocharrahul7 commented on #10749
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | 1 |

[2022-04-28 12:56] somangshu commented on #13419
Quoting the user:

[2022-04-28 13:20] somangshu commented on #13419
[Intercom thread](https://app.intercom.com/a/apps/y10e7138/conversations/164629100093256?redirectTo=feed )

[2022-04-28 13:45] leotom2000 opened #13422 "[Bug]: PreparedStatement issue when there is a JSON column value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

MySQL with one of the columns has a JSON value works fine when prepared Statement is off.
Fails when prepared statement is off.
Similar issue happens when we use IN () in the query.

### Steps To Reproduce

This query (not exact) fails with prepared statement on (may be syntax too, need to be test

[2022-04-28 13:48] jnikhila commented on #13320
@pranavkanade - FYI.

[2022-04-28 15:20] ame-appsmith opened #13423 "[Bug]-[68]:Errors When Deleting a Project or Using Git Import on Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user is getting errors when trying to delete a project. They also get a 504 Gateway Time-out error when doing a git import.
These issues are present only on a Windows machine, as it works fine on a Linux machine, although the browser versions used are the same (Chrome).

Screenshots with the iss

[2022-04-28 15:24] ankitakinger commented on #13239
This is intentional as users should be allowed to use only one of the 3 methods to configure SAML. Initially, we thought of adding a note on the SAML page to let users know about changing tabs won't retain the values. Later we came to the conclusion to not add anything as it would be obvious either one of the methods has to be used. Closing the issue.

[2022-04-28 15:24] #13239 closed

[2022-04-28 15:26] ame-appsmith opened #13424 "[Feature]: Adding Variables in src When App Is Embedded in iFrame"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

If the user embeds the app in an iFrame, they should be able to add more variables to the src and access those variables inside Appsmith like a GET variable.

https://discord.com/channels/725602949748752515/760761686549463060/968954294814535710

### Why should this be worked on?

This would improve th

[2022-04-28 15:40] rubabuddin commented on #13385
thanks @mohanarpit @AnaghHegde! are we just waiting for the hotfix to merge to see the issue resolved?

[2022-04-28 16:16] AnaghHegde commented on #13385
@rubabuddin We are going to test this in our release env first and if things look good then we will push this change for all the user. It is delayed due to some other internal issue, apologies for that. Ideally it would be out by now. Please wait for sometime. I will update this thread once the fix is live.

[2022-04-28 16:19] AnaghHegde commented on #13380
@pranavkanade I will take this up tomorrow

[2022-04-28 16:29] ame-appsmith commented on #13424
@nayan-rafiq

[2022-04-28 16:43] #12872 closed

[2022-04-28 16:51] #6539 closed

[2022-04-28 16:51] #9790 closed

[2022-04-28 16:51] #10387 closed

[2022-04-28 17:41] abhvsn commented on #13407
To provide more info, this is happening on chrome Version 100.0.4896.127 (Official Build) (arm64)

[2022-04-29 01:35] #11384 closed

[2022-04-29 02:30] #10830 closed

[2022-04-29 04:02] eco-monk commented on #13308
Looking at why `dependencyMap` doesn't include array accessors for certain cases.
e.g.`Api1.data` instead of `Api1.data[0]`

[2022-04-29 04:17] rohan-arthur commented on #13406
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | 0.1 |

[2022-04-29 04:21] rohan-arthur commented on #13327
total users: 2300
number of affected users (guess 5%): 115

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 115 |
| Effort (months)  | <<number>> |

[2022-04-29 04:24] rohan-arthur commented on #9525
@ayushpahwa would you please attach the screenshot again?

[2022-04-29 04:25] rohan-arthur commented on #13302
JS Obj creation 6m: 2300
apply 5% requirement: 115
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 115 |
| Effort (months)  | <<number>> |

[2022-04-29 04:26] rohan-arthur commented on #13302
@nidhi-nair what is the impact of this issue? How does it affect the user's app?

[2022-04-29 04:29] rohan-arthur commented on #13283
6m usage: 2300
apply 1% requirement: 23
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 23 |
| Effort (months)  | <<number>> |

[2022-04-29 04:39] #10329 closed

[2022-04-29 04:39] autocode-app[bot] opened #13429 "[Docs] #12060 [Feature]: Add Submenu to entity explorer to create new query/js"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | New Developers Pod
**Parent Ticket** | #12060
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 05:11] vuiets commented on #13423
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 34 |
| Effort (months)  | 0.25 |

[2022-04-29 05:22] vuiets commented on #11016
@RakshaKShetty what @nayan-rafiq mentioned here is the right. It's okay for an email to go from hello@appsmith.com. As a product, we are notifying the one who receives the message. The latter part should be checked though, that is when you reply to a message notification email it should add the owner of the message in the 'To' field.

Going forward when we provide whitlabeling of Appsmith as a fea

[2022-04-29 05:22] #11016 closed

[2022-04-29 05:24] vuiets commented on #13412
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 150 |
| Effort (months)  | 0.25 |

[2022-04-29 05:32] vuiets commented on #13395
@riodeuno just FYI, we'll have to update this task when we are ready to document this. User education team will track this for updates.

[2022-04-29 05:35] autocode-app[bot] opened #13432 "[Docs] #12603 [Bug]: Git import modal shows the wrong text"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #12603
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 05:38] vuiets commented on #13179
@AnaghHegde @RakshaKShetty does this happen only for Bitbuckets or for all providers?

[2022-04-29 05:49] sumitsum commented on #13283
@ajinkyakulkarni I am seeing this error even if I append just a single character at the end of the function name - which seems to me that it may not be related to the pause taken when renaming.

[2022-04-29 05:56] vuiets commented on #13194
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 45 |
| Effort (months)  | 0.25 |

Adding the reach for this as everyone who uses branches on their Git app, as they are most likely to encounter this. @abhvsn correct me if I am wrong on this.

[2022-04-29 05:57] #13416 closed

[2022-04-29 05:59] AnaghHegde commented on #13179
@vuiets I am not able to reproduce this now. I was able to reproduce this when i was in debug session with a user.

[2022-04-29 06:00] ajinkyakulkarni commented on #13283
@sumitsum we will prioritize this issue.

[2022-04-29 06:06] AnaghHegde commented on #13380
@pranavkanade There is a video from lightning demo, is that not enough? On git import we have docs containing step by step by guide.

[2022-04-29 06:12] Nikhil-Nandagopal commented on #2840
@genfx86 this feature is actually now live and available in our enterprise edition.
If you'd like to upgrade and start using our enterprise edition, you can find some time on our calendar below
https://calendly.com/d/yvb3-dyks/talk-to-appsmith-team?month=2022-02

[2022-04-29 06:19] #12924 closed

[2022-04-29 06:24] somangshu commented on #13424
@ame-appsmith thanks for the feature request, Are you talking about iframe widget inside appsmith or embedding appsmith itself in external iframe?

[2022-04-29 06:38] #13251 closed

[2022-04-29 06:42] abhvsn opened #13434 "[Bug]: Don't import the datasource when destination org doesn't have specific plugin installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We have started introducing custom plugins at org level for simpler integrations with third party like twilio etc. This may result in null values getting stored for the datasource object during the import-application flow as destination org may not have the custom plugin installed. This results in

[2022-04-29 06:52] Rishabh-Rathod opened #13435 "[Bug]: User notices onPageLoad query failing when navigating to the page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It was noticed that the user's `onPageLoad` queries were failing intermittently when navigating to the page.

<img width="501" alt="Screenshot 2022-04-22 at 3 17 50 PM" src="https://user-images.githubusercontent.com/23132741/165896888-bb45d897-baa2-4e7f-bfc4-c58ce1473578.png">
<img width="964" alt

[2022-04-29 07:02] rohan-arthur commented on #9269
will be fixed with #9268

[2022-04-29 07:02] #9269 closed

[2022-04-29 07:03] Nikhil-Nandagopal commented on #13337
@Mkallday we need more information on how to reproduce this issue. Can you please provide that?

[2022-04-29 07:03] #13337 closed

[2022-04-29 07:03] Nikhil-Nandagopal commented on #13383
+1 it should only be for image widgets

[2022-04-29 07:10] rohan-arthur commented on #12370
at least 1400 users are aware of/are using storeValue in WIDGET_PROPERTY_UPDATE.
Let's say, of these, 50% use the function in a JS object, and of those, 50% face this error

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 350 |
| Effort (months)  | <<number>> |

[2022-04-29 07:11] Nikhil-Nandagopal commented on #13382
@ame-appsmith the use case for this isn't clear. Why does the user want to achieve this?

[2022-04-29 07:13] rohan-arthur commented on #12226
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1750 |
| Effort (months)  | <<number>> |

[2022-04-29 07:13] Nikhil-Nandagopal commented on #13418
@btsgh could you please label the issues with the label for the correct part of the product like the widget?

[2022-04-29 07:16] autocode-app[bot] opened #13436 "[Docs] #13042 [Task]: Standardise Structure of Table widget to enable Dynamic Height."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13042
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 07:23] autocode-app[bot] opened #13437 "[Docs] #13051 [Task]: Standardise structure of Switch & Switch group widget to enable Dynamic Height."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13051
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 07:28] rohitagarwal88 opened #13438 "[Task]: Standardise structure of Rate widget to enable Dynamic Height."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-29 07:30] autocode-app[bot] opened #13439 "[Docs] #13438 [Task]: Standardise structure of Rate widget to enable Dynamic Height."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13438
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 07:40] sentry-io[bot] opened #13440 "[Bug]: Crash in chart TypeError: e is undefined"
Sentry Issue: [APPSMITH-2EQ](https://sentry.io/organizations/appsmith/issues/3228239880/?referrer=github_integration)

[code]

[2022-04-29 07:43] Nikhil-Nandagopal commented on #13421
@Aishwarya-U-R the user should be able to do this by assigning an onError callback to the query

[2022-04-29 07:43] #13421 closed

[2022-04-29 07:45] Nikhil-Nandagopal commented on #5390
@rohan-arthur I increased the reach since it's a basic communication requirement for the iFrame widget.

[2022-04-29 07:53] rohan-arthur commented on #5390
WIDGET_CARD_DRAG, widgetType = `IFRAME_WIDGET`, 6m = 750
Apply 70% requirement: 500
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  |  |

[2022-04-29 07:59] btsgh opened #13442 "[Bug]: Longer column names in table widget causes overflow on the Filter UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On connecting to a Snowflakes DS, where the tables have longer column names, it causes the text to overflow in the Filter UI.
Expected behaviour - Text should not overflow. It could be shown truncated (...) with a tooltip appearing on hover to show the entire name.

### Steps To Reproduce

1. Drag

[2022-04-29 08:03] vuiets commented on #10128
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1243 |
| Effort (months)  | 0.25 |

[2022-04-29 08:08] btsgh commented on #13418
@Nikhil-Nandagopal - Yes!!! Will try and get that in for sure from now!

[2022-04-29 08:08] nidhi-nair commented on #12957
More information on the issue on [this](https://discord.com/channels/725602949748752515/760761686549463060/965894785669939230) Discord thread.

[2022-04-29 08:38] #12677 closed

[2022-04-29 08:44] GreenFlux commented on #13383
Actually, I'm requesting an alternative text to be displayed for ANY widget, when that widget is set to hidden. Since that leaves an empty place on the canvas, this seems like the ideal place to display a message about why any type of widget has been hidden.

I'm suggesting that this feature could also be used for images- in the more traditional alt-text way, but really it's for all widgets when t

[2022-04-29 09:21] #13118 closed

[2022-04-29 09:21] Nikhil-Nandagopal commented on #13383
@GreenFlux web apps don't usually have hidden messages right? The request seems more like a patch because of the whitespace that is occupied when actually we should simply solve the problem that if a widget is not visible, it should not take up space. What do you think?

[2022-04-29 09:26] #12166 closed

[2022-04-29 09:36] btsgh commented on #13418
This behaviour is also seen in MultiTreeSelect widget.

[2022-04-29 09:46] Aishwarya-U-R opened #13444 "[Bug]: Switch within a FormWidget does not reflect the right status"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/165921448-8711ef90-720f-4666-868d-d0ce74251f0e.mov

### Steps To Reproduce

1. Drag drop a Switch inside Form widget
2. Enable onChange event of Switch to show its current status (ON/OFF)
3. Toggle ON/OFF the toggle from within Form & observe
4. V

[2022-04-29 09:48] #10551 closed

[2022-04-29 09:50] woutr-nl commented on #2840
So this feature won't be deployed to the community-edition?

[2022-04-29 09:50] AmanAgarwal041 opened #13445 "[Feature]: Attach Pagination tab to GraphQL Editor with support Cursor based pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Add Pagination tab content with support of Cursor based pagination with other types.

### Why should this be worked on?

GraphQL support Cursor based pagination which should be handled by our platform

[2022-04-29 09:52] rimildeyjsr commented on #5390
This is being worked on here - https://app.zenhub.com/workspaces/fe-coders-pod-6167d1b64ee5f20014242ab7/issues/appsmithorg/appsmith/7241

Closing this issue in favour of 7241

[2022-04-29 09:52] Nikhil-Nandagopal commented on #2840
@woutr-nl yes it will only be available in the enterprise edition.

[2022-04-29 09:56] Parthvi12 opened #13446 "[Bug]: On importing app from an empty repo, the app gets created with no pages."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On importing an app from empty git repository , gives error on gitImport modal but on hard refresh it creates an empty app with repository's name.

<img width="1440" alt="Screenshot 2022-04-29 at 3 21 44 PM" src="https://user-images.githubusercontent.com/80334441/165922848-8937c953-df7a-4d29-9ebf-

[2022-04-29 10:03] vivekverma2312 opened #13447 "[Bug]: Able to paste Table widget and other widgets too on list widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/aea65088f4d2462597a3050ae969c06f

### Steps To Reproduce

1. Drag and drop a table and list widget
2. Copy table widget
3. Select list widget
4. Paste using (CMD + V)
5. Observe that the table widget gets pasted

### Public Sample App

_No response_

### Version

Cloud

[2022-04-29 10:09] #13172 closed

[2022-04-29 10:25] autocode-app[bot] opened #13449 "[Docs] #1286 [Bug] Widget gets placed at the bottom of the page when copied or created from the query page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #1286
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 10:40] ankitakinger opened #13452 "[Task]: Update subtext copies for Google & Github"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-04-29 10:52] autocode-app[bot] opened #13454 "[Docs] #9646 [Bug]-[240]:Grouping widget causes newly formed container to shift to the bottom of the page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #9646
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 10:57] autocode-app[bot] opened #13455 "[Docs] #13112 [Task]: Reduce property pane mount time by mounting code editor on demand"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13112
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 11:43] autocode-app[bot] opened #13456 "[Docs] #12833 [Bug]: `navigateTo` is throwing unexpected errors with list widget"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #12833
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 12:00] autocode-app[bot] opened #13458 "[Docs] #13405 [Bug]: Save button remains disabled in S3 datasource"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13405
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 12:14] kocharrahul7 opened #13459 "[Task]: Remove the callout for Clean URLs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Remove this callout, leaving the icon on the bottom right with the red dot notification
<img width="376" alt="Screenshot 2022-04-15 at 10 37 14 AM" src="https://user-images.githubusercontent.com/20532920/165941162-8a8cf30c-dd52-4198-b51c-dcbee1e05362.png">

[2022-04-29 12:45] Aishwarya-U-R opened #13460 "[Bug]: Increase Field width in all possible DataSource Query Editor pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Ex: S3:
<img width="1206" alt="Screenshot 2022-04-29 at 6 09 27 PM" src="https://user-images.githubusercontent.com/91450662/165946128-e9e3c4c4-1e8f-4aa5-9150-110f80aab0dc.png">

Ex: ElasticSearch - Path field:
<img width="878" alt="Screenshot 2022-04-29 at 2 07 11 PM" src="https://user-images.gith

[2022-04-29 12:50] ramsaptami opened #13461 "[Bug]: showAlert comes up as undefined on browser console."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Not sure of the repro steps here, loading an app logs `showAlert` as undefined on browser console

### Steps To Reproduce

1. Go to app at [this location](https://release.app.appsmith.com/app/earworm/spotify-and-youtube-61ea4a44361846772cfb1180/edit)
2. Open up browser console and observe the `sho

[2022-04-29 13:04] sullo commented on #13284
Yes it was in the cloud.

[2022-04-29 15:01] mike-gigs commented on #13379
I am having this problem as well, meaning our app cannot be used at this time

[2022-04-29 15:07] autocode-app[bot] opened #13463 "[Docs] #13435 [Bug]: User notices onPageLoad query failing when navigating to the page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | FE Coders Pod
**Parent Ticket** | #13435
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-29 15:23] ivishalgandhi commented on #9135
Looking for the feature to allow displaying multiple values as pills/labels in a table column. If possible it will help a lot, I have a requirement to address for an app I am developing using appsmith. Thank you.

[2022-04-29 15:24] ivishalgandhi commented on #4333
Looking for the feature to allow displaying multiple values as pills/labels in a table column. If possible it will help a lot, I have a requirement to address for an app I am developing using appsmith. Thank you.

[2022-04-29 15:29] ramsaptami opened #13464 "[Bug]: Run button can be clicked even when in disabled state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Extension of #12144 where run button can still be clicked when in disabled state during certain edge case when execution is taking a while since UI is slightly slower to revert back.

[Slack conversation link detailing the scenario](https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1651214499370

[2022-04-29 19:41] #13137 closed

[2022-04-29 22:21] felixsuarez0727 commented on #12631
Moving to QA since the integration and the sample app is ready.

[2022-04-29 22:26] autocode-app[bot] opened #13466 "[Docs] #11404 [Feature] HubSpot Integration"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #11404
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-30 02:17] autocode-app[bot] opened #13468 "[Docs] #13163 Add functionality contributors in Admin Page"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | BE Coders Pod
**Parent Ticket** | #13163
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-30 02:57] #13228 closed

[2022-04-30 06:33] sbalaji1192 opened #13469 "[Bug]: default text is not working as expected when it is changed onTextChange of Input widget."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the store value which is bound to the default text of an input widget gets changed on `onTextChange` of the same widget. the UI is not reflecting the updated text. it is still showing the entered value. for more context please refer here - https://discord.com/channels/725602949748752515/76076

[2022-04-30 06:34] sbalaji1192 commented on #13469
@Rishabh-Rathod This could be related to #12318

[2022-04-30 07:48] autocode-app[bot] opened #13470 "[Docs] #13307 [Task]: Add a static method canDisplayValueInUI(config, value) to all the property controls"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13307
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-04-30 12:59] felixsuarez0727 opened #13471 "[Fature] Integration Grouping/Scoping for SaaS Integrations with many commands"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

- Add a way to group or scope integrations for cases when there can be many supported commands.

### Why should this be worked on

- Improve the UX when dealing with integrations for platforms that offer many APIs.

### Details

(Using HubSpot as an example)

- The whole HubSpot API is big.
- We could

[2022-04-30 16:40] felixsuarez0727 commented on #13291
The new offset field is added. Tests are performed to verify its operation as follows

[2022-04-30 17:21] felixsuarez0727 commented on #13291
The new offset field is added. Now when you list records from a table with more than 100 rows you can put the offset value and show the next data. Tests are performed to verify its operation as follows

If the offset is not added, the first 100 data are displayed.
![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/785c0d34-42ef-4503-b79c-d58c3949fb43)

When the offset is e

[2022-04-30 17:52] felixsuarez0727 commented on #12220
Update about this issue

- The placeholders are not in the oficial documentation, so for now no variable has a placeholder.
- When changing the displayName of an action the name is not updated, we are working on this issue.
- The integration is already installed in the organization **SaaS Integrations | Testing**, and the different tests have been performed, all actions are working.

[2022-04-30 20:56] autocode-app[bot] opened #13473 "[Docs] #13059 [Task]: Standardise structure of Datepicker widget to enable Dynamic Height."
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | UI Builders Pod
**Parent Ticket** | #13059
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-05-01 02:37] aaahariri commented on #12696
@Nikhil-Nandagopal
Thanks for your response. I actually want to use smart substitution but the behavior is not consistent at the moment. It removed the "" i only one of the smart tags.

[2022-05-01 14:56] felixsuarez0727 commented on #13291
This change is already in master.

[2022-05-01 15:13] felixsuarez0727 commented on #13163
Functionality contributors is added in Admin page, contributors can be added or deleted. It is located in the `feature/add-contributors-tap` branch.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/d69e4030-37fa-435a-82f9-8b542fbccc42)

[2022-05-01 17:14] aaahariri commented on #12696
Further to the above, it seems that if the input was just numbers, the "" would be stripped but not if the input includes letters and is treated as a string.

The same API/Query would throw an error if the input didn't include any letters (and therefore was treated as a number). However, if the input to the same field was a string (numbers and letters) it would not throw any errors and would work

[2022-05-01 20:09] kazhuravlev commented on #2430
+1 for uuid generation

[2022-05-02 01:20] Tooluloope commented on #7028
## Action Item

- List out requirements of the current POC
- Identify from icebox which issues would be solved by the POC

[2022-05-02 04:29] #13391 closed

[2022-05-02 04:31] abhvsn commented on #13256
Present the flowchart diagram to cover all the edgecases to discuss this further

[2022-05-02 04:35] abhvsn opened #13477 "[Task]: Add `isSystemGenerated` field in git-sync analytics events"
## Description
We want to distinguish the events generated from Appsmith vs the user-generated events to optimize the mixpanel funnels.

[2022-05-02 04:42] abhvsn opened #13478 "[Task]: Improve error logging for git-sync"
## Description
We are seeing unknown error logs for git-sync errors. We have to take a look if these are valid error scenarios and provide root cause for an exception to track in mixpanel.  ![Screenshot 2022-05-02 at 10.09.19 AM.png](https://images.zenhubusercontent.com/60658744d3607b3ae429dfcd/f86a3a98-589e-47ad-9547-a9a7984086a9)

[2022-05-02 04:44] abhvsn opened #13479 "[Task]: Add analytics event for generate and regenerate SSH keys"

[2022-05-02 05:23] rashmi-rai opened #13480 "[Bug]: find the root cause of missing find command object in mongo query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]

Mongo query has entered a state like above, where  `formData.distinct.query.data` is present in `dynamicBindingPathList` and the path is missing in `formData`.

Ref to the main issue: https://github.com/appsmithorg/appsmith/issues/13228

### Steps To Reproduce

Not able to reproduce.

###

[2022-05-02 06:14] vinay-appsmith commented on #11535
+1 to Nidhi's comment. I have the same issue with respect to not being able to easily find the structure of the database.

[2022-05-02 06:21] kocharrahul7 commented on #6325
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | 1 |

[2022-05-02 06:47] Nikhil-Nandagopal commented on #13383
@GreenFlux yes we're working on enabling that as part of the dynamic height project

[2022-05-02 06:53] Nikhil-Nandagopal commented on #12696
@aaahariri smart substitution is used to automatically add the quotes around strings and automatically escape special characters such as apostrophe's inside them. This means that the code looks at the key in the JSON and detects if it is a number and removes the quotes and treats it as a number while if it is not a number, it adds the quotes and escapes any special characters

[2022-05-02 06:55] rohan-arthur commented on #10291
incidence of uncaughtpromiserejection over 6m: 3500

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3500 |
| Effort (months)  | <<number>> |

[2022-05-02 07:05] ashit-rath commented on #12225
@dilippitchika Just double-checking, this is also true for multi-select?

[2022-05-02 07:08] #13291 closed

[2022-05-02 07:09] rohan-arthur commented on #11943
incidence of `'x' is not defined`, 6m:
- total 76,000
- unique 1258

On an average, a user sees this error 22 times in a day. Let's generously say that 75% of those times is for genuine error cases. That means I still wrongly see this error 7 times a day.

There are two ways that this problem affects users:
1. when I first see this error, I get confused/panicked/misled that I have either
    a. mi

[2022-05-02 07:15] Parthvi12 opened #13483 "Visual regression tests using figma api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

To catch visual regression, along with the screenshot comparison that we currently have, we'll be adding comparisons among css properties from the figma files and from release using figma file api.

[2022-05-02 07:16] kocharrahul7 commented on #10634
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 900 |
| Effort (months)  | 0.5 |

[2022-05-02 07:18] #7278 closed

[2022-05-02 07:26] kocharrahul7 opened #13485 "[Type]-[1000]:Recently created datasources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] The entity explorer should display the 3 most recent datasources. Currently it shows the first 3 as they appear in the datasources screen.

Currently we are using the same API which returns the list of datasources for the datasources page, however, this isn't always useful to users. The 3 most

[2022-05-02 07:29] kocharrahul7 commented on #13485
Associated issues:
https://github.com/appsmithorg/appsmith/issues/12532
https://github.com/appsmithorg/appsmith/issues/11031

[2022-05-02 07:39] MarabiFouad commented on #13285
Hello everyone Actually I raised this issue and still I am awaiting your response. Is it in progress?

[2022-05-02 07:55] vivekverma2312 opened #13486 "[Bug]: Renaming page on page setting screen throws error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/3afeca71359441a8adb44b2c9914affa-00001.gif)](https://www.loom.com/share/3afeca71359441a8adb44b2c9914affa)

### Steps To Reproduce

1. Create a new page (Page2)
2. Click on clone which will create Page2copy
3. Delete the page2
4. Now try to rena

[2022-05-02 08:34] shwetha-ramesh opened #13489 "[Bug]: Error is displayed when a new application is created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

"Please enter a valid parameter applicationid" is displayed whenever a new application is created.
![image](https://user-images.githubusercontent.com/92293815/166206537-7aab7235-0fcf-4e3f-8736-86d3ce99d8c7.png)

https://loom.com/share/a4fe9987e36c46439efaf955ce617061

### Steps To Reproduce

1. Cr

[2022-05-02 08:36] ramsaptami opened #13490 "[Bug]: Debugger boundary merges into JS editor settings page when scrolled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Debugger boundary merges into JS editor settings page when scrolled.

![image](https://user-images.githubusercontent.com/79509062/166207004-d74cac52-2377-43f7-b47f-8beabe6c2f9c.png)

### Steps To Reproduce

1. Add a lot of JS functions
2. Go to the settings tab and scroll to see the debugger bound

[2022-05-02 08:51] ramsaptami opened #13492 "[Bug]: Incorrect message displayed to user when no data is returned to the debugger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a JS function has the return keyword but does not return any value back to debugger then we show an incorrect message asking if the return keyword has been used

### Steps To Reproduce

1. Copy paste below code into an object and hit run
[code]
2. Observe the debugger message as seen in the s

[2022-05-02 08:56] AnaghHegde commented on #13489
@shwetha-ramesh @Parthvi12 I am not able reproduce this issue, i tried in multiple organisations.
https://www.loom.com/share/b50e6b6144c54b86bea2f6f2f010bb5c

[2022-05-02 08:58] AnaghHegde commented on #13292
Closing this via - https://github.com/appsmithorg/appsmith/issues/13489

[2022-05-02 08:58] #13292 closed

[2022-05-02 08:59] autocode-app[bot] opened #13493 "[Docs] #12543 [Bug]-[4]:JSON Form (Select field) `onFilterUpdate` property shows two different variations of same code block"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | App Viewers Pod
**Parent Ticket** | #12543
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-05-02 09:00] AnaghHegde commented on #12932
@ajinkyakulkarni @Pranay105 When are we picking this up?

[2022-05-02 09:03] SatishGandham commented on #11851
@ginjojohny, I'm unable to reproduce the issue.
Is it possible to share the app export with us.

[2022-05-02 09:24] IAmAnubhavSaini commented on #13179
@AnaghHegde was the user trying to add access key to repo.

<img width="1259" alt="Screenshot 2022-05-02 at 2 52 01 PM" src="https://user-images.githubusercontent.com/1573771/166212889-79a66044-6be5-488c-82c2-0c08bb8a83c2.png">

That is not supported for bitbucket, users need to add key to account.

Personal Settings -> SSH keys

<img width="1237" alt="Screenshot 2022-05-02 at 2 53 05 PM" src="htt

[2022-05-02 09:27] shwetha-ramesh commented on #13489
@AnaghHegde it's very sporadic. I don't see it happening for me as well as of now.

[2022-05-02 09:30] autocode-app[bot] opened #13494 "[Docs] #13008 [Task]: User listing Screen"
- [ ] Evaluate if this task is needed. If not add the "Skip Docs" label on the parent ticket
- [ ] Fill these fields
- [ ] Prepare first draft
- [ ] Add label: "Ready for Docs Team"

Field | Details
-----|-----
**POD** | Team Managers Pod
**Parent Ticket** | #13008
Engineer |
Release Date |
Live Date |
First Draft |
Auto Assign |
Priority |
Environment |

[2022-05-02 09:30] AnaghHegde commented on #13179
@IAmAnubhavSaini Yes i agree. But the error message was not showing up in the git sync modal.

[2022-05-02 09:37] IAmAnubhavSaini commented on #13179
Really need to be able to reproduce the bug.

Do you have all the steps, because it feels like one is missing, after 3 above?

---

The message comes up when we try to change to branch or push commit. Let me know. Code: https://github.com/appsmithorg/appsmith/blob/release/app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java#L946-L947

---

I got this messa

[2022-05-02 09:41] mik3h0 commented on #8377
Hi,

I'm currently considering Appsmith for my organization's needs however the lack of this feature is likely to be a blocker for us. Ideally we'd like to be able to use an IAM role from appsmith cloud (if you're not hosted on AWS this is still possible via AssumeRoleWithWebIdentity/OIDC, which is how we do it in Github Actions).

[2022-05-02 09:53] chandannkumar opened #13495 "[Bug]: Server side Filtering is not working for Select and Multi Select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[![LOOM DEMO](http://cdn.loom.com/sessions/thumbnails/9e00f453bac344caaaf8486d60269e94-00001.gif)](https://www.loom.com/share/9e00f453bac344caaaf8486d60269e94)

### Steps To Reproduce

1. Add Select/Multi Select Widget onto the canvas
2. Add a query from datasource. eg (MYSQL): SELECT * FROM users

[2022-05-02 09:59] shwetha-ramesh opened #13496 "[Bug]-[33]:Onclick action throws error for table widget with column type Image."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Onclick action throws error for table widget with column type Image for a new column
![image](https://user-images.githubusercontent.com/92293815/166217624-4122e905-0837-4a2a-86dd-0e74f07b43e7.png)

### Steps To Reproduce

1. Drag and drop table widget
2. Create new column
3. Change column type to

[2022-05-02 10:04] shwetha-ramesh opened #13497 "[Bug]-[100]:Video icon is not center aligned for table widget with column type Video"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Video icon is not center aligned for table widget with column type Video

![image](https://user-images.githubusercontent.com/92293815/166217421-512380ae-d8b9-4ff9-886e-3c905434b299.png)

### Steps To Reproduce

1. Drag and drop table widget
2. Create new column
3. Change column type to Video > Add

[2022-05-02 10:16] RoopKrrish9696 commented on #13110
**Here are the design system links for the above subtasks:**

cc @akash-codemonk @kocharrahul7 @vinay-appsmith

1. Home page explorer - https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4998%3A24581

2. Home page cards - https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?node-id=4546%3A52654

[2022-05-02 10:28] arunvjn commented on #13108
@aakashDesign Could please provide the necessary design changes required to fix this ?

[2022-05-02 10:28] arunvjn commented on #13109
@aakashDesign Could please provide the necessary design changes required to fix this ?

[2022-05-02 10:29] IAmAnubhavSaini commented on #12345
The forget password event should keep track of dirty state of the input form and on blur/lost focus, it should see if the form is dirty and if it was, the throw the error/warning. If user just clicked in the input fields and didn’t enter and remove any value, then the form state is not dirty, and error should not be thrown, also the click should work.

The other scenarios are due to eager evaluati

[2022-05-02 10:33] rohan-arthur commented on #9872
incidence of error `missing ) after argument list`, 6m: 1000
of these, ~400 encountered this error after first having placed a list widget on the canvas

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | <<number>> |

[2022-05-02 10:37] shwetha-ramesh opened #13498 "[Bug]: List widget & Table widget appears blank when widget is renamed with numbers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

List widget and table widget appears blank when widget is renamed with numbers
![image](https://user-images.githubusercontent.com/92293815/166221443-ffa5fb67-839f-4c26-a674-bdaf1cb39a1c.png)

![image](https://user-images.githubusercontent.com/92293815/166221287-2e7fb569-ef0b-49e3-8849-e2f2c14719e5

[2022-05-02 10:39] rohan-arthur commented on #9199
incidence of `#' is not a valid URL`, 6m: 840

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 840 |
| Effort (months)  | <<number>> |

[2022-05-02 10:42] shwetha-ramesh commented on #3369
@jsartisan @keyurparalkar @dilippitchika @somangshu After regression bug verification theming looks good. Moving this to DONE.
cc: @btsgh @vivekverma2312

[2022-05-02 10:54] #13436 closed

[2022-05-02 10:54] #13437 closed

[2022-05-02 10:54] #13439 closed

[2022-05-02 10:54] #13455 closed

[2022-05-02 10:54] #13470 closed

[2022-05-02 10:54] #13473 closed

[2022-05-02 10:54] #13494 closed

[2022-05-02 10:56] ChandanBalajiBP commented on #11592
this is how it looks today. Hence closing this issue.
<img width="949" alt="Screenshot 2022-05-02 at 4 25 18 PM" src="https://user-images.githubusercontent.com/104058110/166223468-a3a337eb-e868-4731-8dce-553635d63196.png">

[2022-05-02 10:56] #11592 closed

[2022-05-02 10:59] leotom2000 commented on #13285
Hi @MarabiFouad, the current status is "Work in Progress"
Sorry there has been some delay when we started working on this issue.
Appreciate your query as a reminder and we would put this on priority and update you the status.

[2022-05-02 11:02] rohan-arthur commented on #11795
Event: BINDING_SUCCESS,
Properties:
propertyPath = config.path
entityType = API
unevalValue contains `?{{`
...6m usage: 25

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 25 |
| Effort (months)  | <<number>> |

[2022-05-02 11:06] Rishabh-Rathod commented on #12905
Ideally in all cases, if API returns valid data or not, the Chart widget shouldn’t be crashing correct? @somangshu

About the API failure, let me check the application. @techbhavin Can you please invite `support@appsmith.com` to the app?

[2022-05-02 11:29] RakshaKShetty commented on #12456
reopening the issue can repro in current regression

[2022-05-02 11:30] AnaghHegde commented on #12456
@haojin111 Can you check this on priority ?

[2022-05-02 11:46] sbalaji1192 commented on #13325
https://github.com/appsmithorg/appsmith/issues/9135

[2022-05-02 12:19] btsgh opened #13499 "[Bug]: Input Widget - Required property set to True, no indication that it is required on first instance of deploy."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If an Input widget has “Required” property set to true, on first instance of deploy (or even on canvas), there is no way user knows if the input field is required.
Expected behaviour - There should be some indication for the field if the Required property is true. (Usually websites have an asteris

[2022-05-02 12:54] haojin111 commented on #12456
sure, I will

[2022-05-02 12:57] btsgh opened #13500 "[Bug]: Binding text widget to input widget of data type email, text is having a hyperlink, which takes user to a blank page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I bind a text widget to an input widget of data type email, the text displayed has a link created, on clicking which, it goes to an "about:blank" page.

Expected behaviour - Expecting a new mail page to open up from the mail server (unsure though if this is a possibility at present)

### Step

[2022-05-02 13:07] cokoghenun opened #13501 "[Bug]: Inability To Display text/plain Responses In API Response Viewer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I was checking out the new response view switchers and noticed text/plain responses are not displayed in the API response view. We now have a ‘RAW’ view which could be easily used to display this

### Steps To Reproduce

You can test using this hello world API and you notice that no response gets

[2022-05-02 13:09] Nikhil-Nandagopal commented on #13499
@btsgh the reason we did not provide this was because we decided that if a user wants to indicate this to their user, they can add the asterisk in the label. If you feel you have a good experience you want to add, please raise a feature request. But as of now this is the expected behaviour

[2022-05-02 13:09] #13499 closed

[2022-05-02 13:10] Nikhil-Nandagopal commented on #13500
@btsgh this is not a bug. Clicking on it opens the default mail client on the system

[2022-05-02 13:10] #13500 closed

[2022-05-02 13:40] rohan-arthur commented on #13445
please see: https://graphql.org/learn/pagination/#pagination-and-edges

[2022-05-02 13:46] Debsourabh opened #13502 "[Bug]: Widget icons in entity explorer have different colors representing them."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![image](https://user-images.githubusercontent.com/34486435/166244308-de62120c-0bab-49f4-af71-ce40feb073c6.png)

### Steps To Reproduce

1. Open the application
2. Drop widgets to entity explorer.
3. Some widgets have a different color compared to others.

### Public Sample App

_No response_

###

[2022-05-02 13:49] rohan-arthur commented on #13326
event `SWITCH_DATASOURCE`,
unique: 150
total: 509

This is a ux issue, and the numbers above do not correctly correspond to the number of people who have experienced this.
SWITCH_DATASOURCE is only called when I:
1. expand the dropdown, and
2. select one of the datasource options

We don't know how many times users have simply expanded the dropdown, but haven't selected any option. While this may

[2022-05-02 13:57] rohan-arthur commented on #13329
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | <> |

[2022-05-02 13:58] rohan-arthur commented on #13331
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | <> |

[2022-05-02 14:00] rohan-arthur commented on #13331
to consider:
1. I should be able to run the query by using a hotkey that is familiar and intuitable
2. Even so, I should be able to learn this shortcut easily when I am on the query editor

[2022-05-02 14:01] rohan-arthur commented on #13330
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 12000 |
| Effort (months)  | <<number>> |

[2022-05-02 14:02] rohan-arthur commented on #13330
@parth-appsmith , would you please link the right resources from the design system before we can pass this on to engineering?

[2022-05-02 14:03] rohan-arthur commented on #13351
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 6000 |
| Effort (months)  | <<number>> |

[2022-05-02 14:12] bobhilbig commented on #13424
Embedding appsmith itself in an external iframe.

[2022-05-02 14:52] abhvsn opened #13503 "[Feature]: Provide a way to know current state of the application on homepage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As some APIs like fork, duplicate, and import takes longer time depending upon the source application size, we might end up in a timeout exception. Now if the user reloads the homepage she can see the app card getting created but if the backend is still processing the earlier request this will end up

[2022-05-02 15:53] mikefrancis commented on #2840
As the OP, it's a real shame this won't be available in the community edition.

I'm a huge fan of AppSmith and would love to suggest future features, but the profiteering from community ideas makes me feel very uneasy.

SSO is a basic security requirement, this website explains more and highlight companies that follow a similar within:

https://sso.tax

I'd love to ask you to reconsider, and wish

[2022-05-02 16:18] abhvsn opened #13504 "[Bug]: `onPageLoad` actions sporadically failing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a couple of queries on the page:
https://release.app.appsmith.com/app/vtx-onboarding-tool/currencies-626fb4c4afffd379fcf0c844/edit

1. querySelectActiveCurrencies
2. selectCurrentSelectedCurrency (Expected to fail as not configured correctly)

We can see the queries are getting executed on

[2022-05-02 17:03] mdmozibur commented on #4183
Any update on this or any timeline for this?

[2022-05-02 17:44] arunvjn commented on #13459
@kocharrahul7 Not sure if there is anything that needs to be changed here. We have already removed the callout from showing up automatically for users. It's now more like a tool-tip and doesn't get triggered on it own.

[2022-05-02 18:34] #13490 closed

[2022-05-02 23:33] felixsuarez0727 opened #13506 "Placeholder is not enough in Send at field - Twilio Integration"
For the **send At** field, we should mention the date format in the tooltip / subtext. Placeholder is not enough especially when you're typing

We need to add to the tooltip the date format in the **send at** field in Schedule Message action.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/4a6d3754-12e5-470c-b4d3-f9b4af1cfec4)

[2022-05-02 23:52] felixsuarez0727 opened #13507 "Change the account SID to be always the first field - Twilio Integration"
The account SID is in different positions depending on the command. Same with the message sid or service sid.

The possible solution is to first create account SID before the other fields so that they are first.

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f2fc/693e8f16-f8ac-4d56-a6a6-e455646af4d8)

![imagen.png](https://images.zenhubusercontent.com/61ea7dcf08f2d17203f6f

[2022-05-03 04:38] AnaghHegde opened #13508 "[Bug]: Scrollbar is shown in git sync modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We should not show the scroll at the bottom as it is not part of the designs.

<img width="576" alt="image (3)" src="https://user-images.githubusercontent.com/12005551/166408230-02a8016e-6663-4e26-96f0-83f705415e2f.png">

### Steps To Reproduce

Open the git sync modal and then generate the ssh ke

[2022-05-03 04:42] IAmAnubhavSaini commented on #12344
Looks like #12351 fixed it.

[2022-05-03 04:42] #12344 closed

[2022-05-03 05:02] kocharrahul7 commented on #13459
Okay, fantastic

[2022-05-03 05:02] #13459 closed

[2022-05-03 05:25] #12144 closed

[2022-05-03 05:28] vuiets commented on #13508
@AnaghHegde did you attach the wrong screenshot by mistake here?

[2022-05-03 05:29] AnaghHegde commented on #13508
Yes my bad. I will update it.

[2022-05-03 05:31] rohan-arthur commented on #13345
REST usage, 6m: 4000
Assume 50% encounter the delete button: 2000

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2000 |
| Effort (months)  | 0.1 |

[2022-05-03 05:32] rohan-arthur commented on #13345
REST usage, 6m: 4000
Assume 50% encounter the delete button: 2000

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2000 |
| Effort (months)  | 0.1 |

[2022-05-03 05:51] IAmAnubhavSaini commented on #13508
This bar is now present in every modal. It hints towards a change in common modal that we use.

![Screenshot 2022-05-03 at 11 18 59 AM](https://user-images.githubusercontent.com/1573771/166409612-c8f51557-4099-4cf9-bdc8-d85d03622dc4.png)
![Screenshot 2022-05-03 at 11 19 07 AM](https://user-images.githubusercontent.com/1573771/166409616-e73000e7-337a-498d-9032-236897ab56c1.png)
![Screenshot 2022-05

[2022-05-03 06:12] IAmAnubhavSaini opened #13510 "[Task]: Use design system based colour names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Please do not add randomly named colours in app/client/src/constants/Colors.tsx

The first line in the file is:
[code]

Do not generate colour names from the link above!

Please take a look at design system -> colour for naming. If a colour is needed and is not in the DS, then ask designers to put it

[2022-05-03 06:27] IAmAnubhavSaini commented on #13508
This bar was introduced in PR: #12189

The exact change that causes this bar to appear is https://github.com/appsmithorg/appsmith/pull/12189/files#diff-a9e89817480e902f90382662965dfc200a72566de917626db002de7a7e2920ddR51

[2022-05-03 06:30] ramsaptami opened #13512 "[Bug]: Function that is still being parsed can be run causing old code to run but incorrectly show current code and toast message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A parsing issue consistently reproducible by keyboard shortcut usage (**Ctrl+Enter/Cmd+Enter**) making it quicker to run functions. In that intermediate time when a function is parsing we see old code being run when UI shows new code and success message.

### Steps To Reproduce

1. Create a new JS

[2022-05-03 07:15] rohan-arthur opened #13515 "[Bug]-[1600]:REST API response with charset=windows-1253 - blank in query pane, garbled in evaluated value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Creating this issue on behalf of a user. The user is calling a REST API endpoint on Appsmith and Postman:

1. **On Appsmith**
    a. on clicking the run button, the response status is 200 (sucess), but the response tab is otherwise empty
    b. when the result of the query is bound to a widget, th

[2022-05-03 07:18] berzerkeer commented on #8876
@ramsaptami Hi, I couldn't reproduce this issue. Tried it on different platforms and displays, macbook pro , ultrawide display, windows and mac.
https://www.loom.com/share/207b271f31474c9f82bb8cbcd6a00585

[2022-05-03 07:33] rohan-arthur commented on #10332
6m usage of checkbox group, and subsequent encountering of cyclic dependency error: 500

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 500 |
| Effort (months)  | <<number>> |

[2022-05-03 07:48] nidhi-nair opened #13517 "[Bug]: REST datasource view mode does not show all the fields configured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We're missing on some fields like Authorization URL, and a few others hidden in the complex form. While we're addressing this, we should also look at creating an information hierarchy in the view mode somehow. The number of fields is quite large and can get confusing for the user.

### Steps To Re

[2022-05-03 07:53] jnikhila opened #13518 "[Bug]: [SSO] [Disconnect] - Superuser unable to login"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Scenario- The superuser used form login to create an account with Appsmith before configuring SSO. A superuser then uses Admin settings to configure SSO with a service provider. On successful configuration, the logins are driven by the SSO provider. The superuser shares the same email for form log

[2022-05-03 08:52] #12456 closed

[2022-05-03 09:30] sbalaji1192 commented on #4183
Hey @mdmozibur, we're in the final phase of the development. We don't have a hard timeline yet. but we're targeting to release this before EOM.

[2022-05-03 09:43] mohanarpit opened #13522 "[Feature]: Expose the Git branch name as a JS object variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a user, I'd like to be able to access the git branch name programmatically. This will allow me to construct DB queries or code that runs on specific branches or modify the behaviour of any given function based on the branch.

### Why should this be worked on?

It allows me as a user to control diff

[2022-05-03 09:55] abhvsn commented on #11522
Another request from community member:

[2022-05-03 09:57] rohan-arthur commented on #13094
![Screenshot 2022-05-03 at 15.27.35.png](https://images.zenhubusercontent.com/6196337f2def7ccca841bb55/4d431a6e-f614-44e5-a57d-f7b739a52bad)

[2022-05-03 09:58] rohan-arthur commented on #13094
@AmanAgarwal041 would you please invite me to this app so I can see it in edit more?

[2022-05-03 10:31] Nikhil-Nandagopal commented on #2840
@mikefrancis thank you for your contribution. To be honest, we had planned on monetizing SSO as part of our paid edition since the inception of Appsmith. We do agree that it is a very important security requirement and we're working with all our early users on a usage-based pricing model that is fair, scalable and not a tax on organizations that need it. Appsmith has always intended to monetize fe

[2022-05-03 10:50] rohan-arthur commented on #11639
From [here](https://www.notion.so/appsmith/Simplify-the-experience-of-using-the-appsmith-store-630f9b63f0264b6b9e751dcd63a3f024#2cd9041f76bb4e4db555c071d48ccca0)

- [x ]  Appsmith users can use `storeValue(key: string, value: any)`  to create a store variable and assign any value to it using this function.
- [x ]  Appsmith users can use `storeValue("userID", undefined)`  to reset the value of a st

[2022-05-03 10:52] rohan-arthur commented on #11639
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | <<number>> |

[2022-05-03 11:00] sumitsum commented on #2284
Last week's updates:
* create execution flow for GraphQL on API server - @sumitsum
* create test cases for GraphQL client code and work on pagination tab - @AmanAgarwal041
* share pagination implementation with team to gather feedback - @sumitsum
* create test document - @prapullac=

[2022-05-03 12:05] trishaanand opened #13527 "[Task] Migrate organization to workspace"

[2022-05-03 12:08] trishaanand opened #13528 "[Task] Introduce Tenant Entity"
- [ ] #13827
- [ ] #13828
- [ ] Create a default tenant for all instances and migrate the existing users and organizations to the default tenant. (Note : This change would also mean addition of tenant_id in the user object requiring the existing redis sessions to be cleared programmatically when this change goes through.)

[2022-05-03 12:11] trishaanand opened #13529 "[Task] Introduce Permission Group Entity"
- [x] #14089
- [x] #14090
- [x] #14091
- [x] #14092

[2022-05-03 12:14] trishaanand opened #13530 "[Task] Introduce User Group Entity"
- [x] #14082
- [x]  Instance Administrators
    - [x] #14083
    - [x] #14084
    - [x] #14085
- [x] #14086
- [x] #14087

[2022-05-03 12:20] trishaanand opened #13531 "[Task] Introduce Policies"
- [ ]  Add the policy entity collection. 2
- [ ]  Generate and create policies for all the existing workspaces mapping user groups to permission groups. Involves migrations from the current data layout to the new entities  3
- [ ]  Delete all the object level policies which exist today in a per user basis (e.g. workspace, application, page, etc.) and replace them with the user group policies for a

[2022-05-03 12:23] trishaanand opened #13532 "[Task EE] Introduce CRUD for permission group"
1. Update  : Updating the object permissions correctly. Here an object could inherit permissions from different policies. So a simple remove all permissions from before the change and add all permissions according to the new policy might be erroneous. We might need to keep a track of policies where a permission group is being used to ensure that objects are updated correctly. e.g. HR_UG has two pe