[2022-10-26 07:16] IAmAnubhavSaini commented on #17335
I am running latest BE and this seems that the problem still exists. This is a bigger issue with Appsmith where we are making multiple calls in Editor mode. This is happening in other places too, like jsobject.

[2022-10-26 07:49] rohitagarwal88 opened #17880 "[Enhancement]: Make template list sidebar consistent with Application page sidebar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

**Current Application page**
![Screenshot 2022-10-26 at 1 17 07 PM](https://user-images.githubusercontent.com/890915/197965931-1f220e61-941c-4cc3-837b-949116c444cf.png)

**Current Template list page**
![Screenshot 2022-10-26 at 1 17 39 PM](https://user-images.githubusercontent.com/890915/197966043-17

[2022-10-26 08:36] #17865 closed

[2022-10-26 09:13] #17870 closed

[2022-10-26 09:42] somangshu commented on #17367
QQ: why do we need to new version for this @dhruvikn @dilippitchika? Seems like no requirement here needs a migration

[2022-10-26 09:49] somangshu commented on #2410
Agreed @PaulMcF1987, we shall look into this requirement; Please subscribe to the issue to get notifications for any updates we leave here

[2022-10-26 09:54] naveenthontepu commented on #3317
any update in this feature?

[2022-10-26 10:04] dhruvikn commented on #17367
Previously, the CodeScanner widget dropped a button on the canvas. Once the user clicked on that button, a modal opened and scanning started. Now, we want to show the camera feed with the scanner right from the beginning (no button, no modal). This will mean us changing the dimensions of the widget when dropped on the canvas. Also, the properties like button label, tooltip, icon (color, placement

[2022-10-26 10:11] somangshu commented on #15763
@rohitagarwal88 @riodeuno this still feels like an important optimization that could help apps with a lot of widgets. Would it be possible for you guys to do a short POC here to quantify it. If not, what can a probable timeline look like?

[2022-10-26 10:13] somangshu commented on #10180
@tolgaulas we shall check that internally and revert back to you

cc @sharat87 @pratapaprasanna

[2022-10-26 10:14] sbalaji1192 commented on #17367
@dhruvikn @somangshu  We should introduce a new property in the code scanner widget to select the UI the developer prefers.
Options would be `Always camera on` and `button click to open the scanner`.
Otherwise, we would need to create a new version so as to not break users' applications.

[2022-10-26 10:22] dilippitchika commented on #17367
So i had a discussion with @dhruvikn, @sbalaji1192 we will go the direction you suggested. Even we had initially thought of this, it's just an extra property to deal with and manage for a mistake we did hence we choose not to, but until safer migrations are in place it's probably better to avoid users having to go through migrations.

[2022-10-26 10:29] pratapaprasanna commented on #10180
![Screenshot 2022-10-26 at 3 52 54 PM](https://user-images.githubusercontent.com/15846947/198003569-f834276f-a2ca-4d3c-9aad-09bd0a96b2a8.png)

We see this in our release environment. therefore closing this issue

[2022-10-26 10:29] #10180 closed

[2022-10-26 10:38] sbalaji1192 commented on #17367
Here actually the migration is not the problem, we are completely changing the UI of the widget which includes the dimensional change as well. Even if we do a safer migration, users will end up with a broken layout as this widget might overlap with other widgets.

[2022-10-26 10:40] dilippitchika commented on #17367
By safer migration, i mean a v2 where users can click a button and upgrade the widget. It has to be consented from the user as this will lead to a broken layout

[2022-10-26 10:40] ankitakinger opened #17887 "[Task]: Call /new API on Admin settings page only when user tries to view the release notes in Version tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-26 10:42] sbalaji1192 commented on #17367
Sounds good. We can add this property and make the `click to scan` the default value.

[2022-10-26 10:46] somangshu commented on #15346
@hiteshjoshi can this be prioritised, if not this quarter, let me know, ill push it out.
Since is approx 1MB of data transfer that can be reduced by half, if its a low hanging fruit we should try and cover this

[2022-10-26 11:09] dilippitchika commented on #16218
Not in scope for branding

[2022-10-26 11:09] #16230 closed

[2022-10-26 11:09] #16207 closed

[2022-10-26 11:10] #16210 closed

[2022-10-26 11:12] dilippitchika opened #17889 "[Task]: Branding update api needs to use multi-part form instead of json to upload images and favicons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Branding api changes to content-type

[2022-10-26 11:16] vuiets commented on #3317
Hey @naveenthontepu we are actively building and testing this right now and we'll have this up and running on our _Business_ edition in this quarter.

[2022-10-26 12:13] #17845 closed

[2022-10-26 12:16] nsarupr opened #17890 "[Task - EE]: Update Service flows and API w.r.t. UserGroups"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- `getWorkspaceMembers` should also return `UserGroup` in the list
- `updatePermissionGroupForMember` should handle UserGroup
- `changeRoleAssociation` should be able to handle duplicate permissions from same workspace

[2022-10-26 14:52] #17887 closed

[2022-10-26 14:53] #6760 closed

[2022-10-26 15:11] #17388 closed

[2022-10-26 15:16] nidhi-nair commented on #13284
@sullo which widget were you trying to display the data in? 6.2 MB of data does seem to be a lot of information to be displaying on a page. Could you please help us understand the use case here? For example, would paginating your response help here? Or did you intend to filter out irrelevant information as a second step? Or perhaps this just about displaying is an image as big as that?

[2022-10-26 15:21] javiercornejo commented on #17075
+1

Hi @nicolas-cyfix I am interested aswell in having this feature. I am not very updated about how this project code works but I think maybe we can contribute adding this data source somehow, I think most complicated part could be supporting grpc streams updates.

[2022-10-26 18:13] zetabug commented on #17880
Hi there, I looked this up on the website, I think I can fix it and make it according to the proposed template. I want this issue assigned to me.

[2022-10-27 02:55] rohan-arthur commented on #14894
added tag `core query execution` as a dummy to get this issue into data platform pod

[2022-10-27 03:02] rohan-arthur commented on #13030
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:02] #13030 closed

[2022-10-27 03:03] rohan-arthur commented on #13031
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:03] #13031 closed

[2022-10-27 03:03] #13032 closed

[2022-10-27 03:03] rohan-arthur commented on #13032
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:03] rohan-arthur commented on #13033
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:03] #13033 closed

[2022-10-27 03:03] rohan-arthur commented on #13034
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:03] #13034 closed

[2022-10-27 03:04] rohan-arthur commented on #9058
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:04] #9058 closed

[2022-10-27 03:05] rohan-arthur commented on #15404
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:05] rohan-arthur commented on #13399
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:05] #13399 closed

[2022-10-27 03:05] #15404 closed

[2022-10-27 03:06] rohan-arthur commented on #16316
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:06] #16316 closed

[2022-10-27 03:06] rohan-arthur commented on #13471
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:06] #13471 closed

[2022-10-27 03:06] rohan-arthur commented on #12565
not our focus for the foreseeable future, will get around to this at a later time.

[2022-10-27 03:06] #12565 closed

[2022-10-27 03:17] jainsrbh commented on #17114
Any further updates on it? Any special configuration required?

[2022-10-27 05:24] Sripriya93 commented on #16494
Based on the comment above, closing this issue for dynamic height. But as part of release this is still an issue, so if we could push this issue to the concerned person, it could be solved in release. @rohitagarwal88 , could you help here please.

[2022-10-27 05:24] #16494 closed

[2022-10-27 05:45] btsgh opened #17894 "[Bug]: Create a Template by deselecting a couple of pages - pages are listed and error with uncaught promise when clicked on"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On creating a template by deselecting a couple of pages, the pages are still listed in the menu dropdown, and on clicking any of the pages, Uncaught Promise Rejection error pops up.
Expected behavior, the two deselected pages should not be listed at all.

### Steps To Reproduce

1. Create an app a

[2022-10-27 05:47] Rishabh-Rathod commented on #14618
We won't be going ahead with AST parsing to solve the tagged issues.

Internal discussions to understand better https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1666356500517309?thread_ts=1666252020.048049&cid=C02K0SZQ7V3

[2022-10-27 05:47] #14618 closed

[2022-10-27 05:50] aswathkk commented on #11040
I'm thinking of taking up this issue this quarter.

[2022-10-27 06:09] #17116 closed

[2022-10-27 07:10] IAmAnubhavSaini opened #17896 "[Task]: Usage page | U&B | FE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Build a page as per design
- Integrate with usage API
- Jest and Cypress tests

Epic: https://github.com/appsmithorg/appsmith/issues/17024

[2022-10-27 07:12] dilippitchika commented on #13214
Updated PRD - https://appsmith.notion.site/Default-selected-item-161e87fa9f754fc485285d5b32817d7d

[2022-10-27 07:13] dilippitchika commented on #14551
Updated PRD - https://appsmith.notion.site/Total-record-count-acd4b22cb4604dc0bb60d382c0796372

[2022-10-27 07:34] trishaanand opened #17897 "[Task EE] : Give read workspace permission when an application is individually shared"

[2022-10-27 07:37] alinaepanaite commented on #17864
![image](https://user-images.githubusercontent.com/115975936/198220394-681b79fa-d9e1-48ff-ba82-9176c906bc01.png)

https://user-images.githubusercontent.com/115975936/198220440-86dc6ee2-3880-4499-a0b1-c2ad7ee3621e.mov

attached logs and screen rec.
Are you duplicating the app in the same workspace? - **yes**
Thank you,
Alina

[2022-10-27 07:38] trishaanand opened #17898 "[Task] User permission groups should only return the not deleted permission groups."

[2022-10-27 07:45] sharat87 commented on #17637
Hey @wkethman, just following up here. Can you share the logs from when you faced the error? Or if you can reproduce, logs from now please? This will help us investigate and get to the root cause. Thanks!

[2022-10-27 07:51] vuiets commented on #17787
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 497 |
| Effort (months)  | 0.5 |

[2022-10-27 07:54] #17897 closed

[2022-10-27 08:05] ame-appsmith opened #17900 "[Bug]: Custom Chart Does Not Expand on the Whole Screen in Preview Mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For a custom chart, when going to the Preview Mode, the Chart does not expand on the whole screen but some white space is left on the right side. However, if you navigate to another page and come back, it gets expanded on the whole screen.
Screen recording: https://www.loom.com/share/cedfa03459634

[2022-10-27 08:37] #17803 closed

[2022-10-27 09:08] ashit-rath opened #17901 "Task: List v2 - Cypress tests"
Add new tests and migrate List V1 tests to V2

[2022-10-27 09:13] subrata71 commented on #14755
(WIP)
The following query returns a few documents which shouldn't return any document ideally.

`{"pluginType": "JS", "unpublishedAction.collectionId" : {$exists: false}, "unpublishedAction.deletedAt" : {$exists:false}}`

It's expected that the actions inside a JS collection should always have a `collectionId` if it's not deleted. (But even if it's deleted the`collectionId` should persist).

[2022-10-27 09:43] #17623 closed

[2022-10-27 10:02] #17143 closed

[2022-10-27 11:21] MythiliKrishnamurthy opened #17903 "[Bug]-[1988]:Could not import the App in the Organization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When try to import the app in the organization ,I have noticed an error which forbids importing of the application.It shows the following error "Cannot read the properties of the undefinded (reading status)".
![image](https://user-images.githubusercontent.com/116805110/198270719-c59c1b22-30c6-46a9

[2022-10-27 11:37] sumitsum opened #17904 "[Task]: Re-design the `PluginExecutor` interface to make providing a connection pool as mandatory pattern"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

https://github.com/appsmithorg/appsmith/pull/17873/files#r1005372840

[2022-10-27 11:44] eco-monk opened #17905 "[Bug]: Editor header tooltips for icons/content"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- There's a considerable delay in the tooltips popping up in editor header icons/content, where it's not quick enough to grab the user's attention.

https://www.loom.com/share/8277d5b021924785b7fb8d361fadd0e8

- For someone who's new, It's not very obvious what these two icons do.
(Pencil and eye

[2022-10-27 11:52] RoopKrrish9696 opened #17906 "[Bug]: The application name accepts special characters but the URL doesn't accept those"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I edit the application name and enter special characters, it accepts it but in the URL it doesn't reflect. Ideally, the application name should not accept it.

### Steps To Reproduce

1. Go to the Application Name dropdown
2. Click Edit name
3. Try entering special characters
4. Save it

###

[2022-10-27 11:52] kocharrahul7 opened #17907 "[Bug]: Fixing the logic of queries/datasources on the datasources page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I open the Datasources page in an app, I see the list of queries on the current page which are using that datasource, but if I go to a new page, and there are no queries using that datasource, it shows `No queries on this app`. Both screenshots are for the same app, but different pages. 1 say

[2022-10-27 12:11] eco-monk opened #17908 "[Bug]: Persist omnibar results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The search results of omni bar is not preserved.
When user searches for something (glance at the content). And they go to the app and work on something.
The omni bar loses the search content.

### Steps To Reproduce

1. Open omni bar
2. Search something
3. Close omni bar
4. Open again

### Public

[2022-10-27 12:22] aakashDesign opened #17909 "[Bug]: This dropdown has a green color hover state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This is the weirdest-looking dropdown on the product.
<img width="1533" alt="Screenshot 2022-10-27 at 5 30 31 PM" src="https://user-images.githubusercontent.com/65771350/198283034-a4928a1b-2f8e-4cb1-ab52-84b3b443734a.png">

### Steps To Reproduce

Steps to reproduce -

- Go to API Pane
- Select th

[2022-10-27 12:25] kocharrahul7 opened #17910 "[Bug]: Omnibar documentation `connect to databases` selecting "elastic search" takes the user to DynamoDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I open this page on the omnibar, and click on elastic search, I am redirected to the dynamoDB docs rather than the Elastic search.

This is correct on the docs website

https://user-images.githubusercontent.com/20532920/198283377-4600459d-4770-4b1c-a54f-ac076e3e83f1.mov

Seems to be an Omniba

[2022-10-27 12:28] RoopKrrish9696 opened #17911 "[Bug]: Visual inconsistencies across appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. The error state for the input in the share should be looked at. It doesn't group along with the input.
<img width="651" alt="bug" src="https://user-images.githubusercontent.com/16741628/198283618-c127dfca-8bb4-4685-a9f5-e454cae2828b.PNG">
2. Different font sizes for data source names
<img width

[2022-10-27 12:28] aakashDesign opened #17912 "[Bug]: Back button behaviour is inconsistent after you create a new Query/API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Back button on the API/Query page behaves inconsistently. It should always take you back to the canvas from an API/Query but it takes you back to the Active datasources page in certain cases.

Loom - https://www.loom.com/share/b20fcb92375c4186a9a7a3413fa5ee69

### Steps To Reproduce

1. Open a

[2022-10-27 12:31] eco-monk opened #17913 "[Bug]: Prompt user before deleting an action that's used in app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

User shouldn't accidentaly delete an Api/Query/Jsobject that's being used elsewhere in the app.
(I've noticed this with API and assuming it's the case with other entities as well)

### Steps To Reproduce

1. Create an API
2. Bind `Api.data` / `Api.run` in some widgets.
3. Delete Api1.
4. We should

[2022-10-27 12:32] ginilpg opened #17914 "[Bug]: UI experience for widget drag and drop operations in to an existing container can be improved."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/53e37ee055c4483287a7217fec0698ac

### Steps To Reproduce

https://www.loom.com/share/53e37ee055c4483287a7217fec0698ac

### Public Sample App

_No response_

### Version

Cloud/Self hosted

[2022-10-27 12:44] ginilpg opened #17915 "[Bug]: Couldn't redo or undo changes If we switched between different panes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1) Go to any code editor pane and type your code
2) Switch to a different object or canvas and come back to the code editor
3) Undo/redo no longer work.

### Steps To Reproduce

1) Go to any code editor pane and type your code
2) Switch to a different object or canvas and come back to the code edi

[2022-10-27 13:01] SatishGandham opened #17916 "[Task]: Create performance run meta record at the beginning of workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Create run meta record at the beginning of workflow, otherwise if the perf tests or delayed or the build takes time, we will be comparing results with new code.

[2022-10-27 14:06] ankitakinger opened #17918 "[Bug]: Saved successfully toast message is shown before API response is received"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Save Role Configuration: On clicking save changes, the toast says Saved Changes even before the server responds and in case the server throws the error, you end up seeing both success and failure (even though it’s failed).

https://www.loom.com/share/4d23f42ca6dd4935969f0c3969218616

### Steps To

[2022-10-27 14:50] amogh2019 opened #17919 "[Task]: add a JUnit TC along the lines of testUpdateManyFormCommand in MongoPluginTest.java for the array based input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

junit for testUpdateManyFormCommand was supposed to be added in MongoPluginTest.java for the array based. (https://github.com/appsmithorg/appsmith/pull/17732)
But its carried forward to this issue, since MongoPluginTest.java was being refactored and broken into smaller files. (https://github.com/apps

[2022-10-27 17:10] ramsaptami opened #17921 "[Bug]: Query fails to run when it contains filter condition derived from table default search value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When table **default search text** is set and the connected query filters data based on this search text, then query fails to run

### Steps To Reproduce

1. Generate a CRUD page
2. On the table widget, set a default search text
3. Confirm the query uses this filter condition
4. Run the query and

[2022-10-27 17:41] felix-appsmith opened #17922 "[Bug]: Error deleting a data source [Appsmith server is taking too long to respond]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When trying to delete a data source, Appsmith takes about 30 seconds to load and then shows the error: `Appsmith server is taking too long to respond.`
User report : [Report](https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100177033?view=List)
![image](https://user-im

[2022-10-27 17:45] dilippitchika commented on #17921
@ramsaptami in the query i see you are searching in `id` column, where as kutch is a `name`. Can you check by changing the where condition to use name instead of id and let me know if this is occurring?

[2022-10-27 18:13] amogh2019 commented on #16251
@subrata71 hi, can we also assign hacktoberfest label on this issue please?

[2022-10-27 18:39] ChandanBalajiBP opened #17924 "[Task]: Add performance metrics to all requests in RTS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Log the response time/time taken to serve the requests in RTS.

[2022-10-27 20:10] ame-appsmith opened #17925 "[Bug]: Select Widget's Options Accepts Boolean Value While Default Value Does Not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user can use the boolean values true and false as Options in a Select widget, but the Default Value does not accept boolean values, returning an error:
![image](https://user-images.githubusercontent.com/101268423/198387460-938f0983-051c-42ef-99f4-daffbaecb802.png)

### Steps To Reproduce

1. Add

[2022-10-27 21:35] MrChrisRodriguez commented on #12995
Echoing what I imagine @SidHiremath is conveying: building a form from a source data object requires me to _guess_ how your interpreter works; it's not outwardly deterministic.

While I agree that it is easier in the simplest of cases (and maybe that's all you intend to support), if I want to do anything besides a simple input field, the current model starts to fall apart.

For example:
- How do I

[2022-10-27 21:38] MrChrisRodriguez commented on #14037
@dilippitchika -- when following a getting started tutorial immediately led to a bug, I lost faith in the maturity of AppSmith and ended up leaving and signing up for Retool.

I think it's incredibly important that people using AppSmith for the first time do not run into an unexpected bug like this or they, like me, will feel that it's not worth investing time to continue down the path of learning

[2022-10-27 22:57] jondoering opened #17926 "[Bug]: Text input does not work with "[]""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hi,
When using multi-line or normal text input field in a form created from a postgres table, and try to input a json string starting with "[]", something seems to happen that changes the string and inserts an altered string into the database removing the "[]". The aim here is to store the full st

[2022-10-28 02:50] tanvibhakta commented on #17641
This issue was not able to be reproduced anywhere outside of this environment. It has not showed up in production.

[2022-10-28 02:50] #17641 closed

[2022-10-28 02:51] tanvibhakta commented on #17251
Will be closed by https://github.com/appsmithorg/appsmith/pull/17600

[2022-10-28 02:51] #17251 closed

[2022-10-28 02:57] tanvibhakta commented on #17839
We will have to split this up into 2 parts -
`Box` as a generic container with flex layouts as a prop
`Card` which inherits box and has properties of shadows, stackability, etc
This issue will tackle only `Box`.

[2022-10-28 02:57] tanvibhakta opened #17927 "[Task]: Create a vertical divider on the lines of the horizontal divider in the design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-28 03:05] ghost opened #17928 "[Feature]-[28.988]:Adjustable font size for Button Widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently many of our widgets support the ability to change the font size of their text. It would be nice to have the same functionality for button widgets.

### Why should this be worked on?

This can allow users to make buttons stand out more or improve the text readability.

<img src="https://front

[2022-10-28 03:11] #17545 closed

[2022-10-28 03:32] Richarex commented on #17428
This is fixed now, verified it on release deployed app is loading perfectly fine now. https://www.loom.com/share/77c4da1f456b4a3e9a29a66092bcec11

[2022-10-28 04:44] NandanAnantharamu opened #17930 "[Bug]: CheckboxGroup widget css properties mismatch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

CheckboxGroup widget css property related to "Flex-direction" mismatch is found, because of force merge of the below PR.
https://github.com/appsmithorg/appsmith/pull/17726

### Steps To Reproduce

1.Make sure you have CheckboxGroup widget in your application.
2.Check the css property of CheckboxGr

[2022-10-28 05:00] dilippitchika commented on #14037
@bharath31 @satbir121 please check this out once

[2022-10-28 05:08] Richarex commented on #17272
This is fixed now verified it on release.

[2022-10-28 05:11] #17789 closed

[2022-10-28 05:11] #17924 closed

[2022-10-28 05:46] bharath31 commented on #14037
@MrChrisRodriguez We're really sorry you had a bad experience. Looks like this issue slipped through the cracks. We'll get this investigated right away.

[2022-10-28 06:03] rohan-arthur commented on #14027
closing this as duplicate of #12894

[2022-10-28 06:03] #14027 closed

[2022-10-28 06:16] sondermanish opened #17933 "[Task]: Migration for exisiting workspaces with two default environments."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-28 06:22] #17702 closed

[2022-10-28 06:38] vuiets commented on #17628
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 68 |
| Effort (months)  | 0.5 |

Estimating the reach for this to be about 5% of our users will use Azure DevOps for git hosting (this number is negligible in our analytics): 68

[2022-10-28 06:40] Sripriya93 commented on #11142
Checked in Button, Button group and Menu button, JS option for Icon property is present only for Button widget.
It is not present in Button group and Menu button.

<img width="430" alt="image" src="https://user-images.githubusercontent.com/104895602/198519868-f4970904-f2c2-404a-84db-586cdd03b1a1.png">
<img width="370" alt="image" src="https://user-images.githubusercontent.com/104895602/198519951-1

[2022-10-28 06:42] #17183 closed

[2022-10-28 06:51] andrewdietekoki opened #17934 "Widget Discovery"

[2022-10-28 06:52] kuberaspeaking opened #17935 "[Docs]: Add Restack as a way to deploy Appsmith on AWS + kubernetes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/getting-started/setup/installation-guides/

### Describe the problem

There exists a simpler way to deploy appsmith on aws and kubernetes, with Restack.

### Describe the improvement

I will add Restack as a way of deploying Appsmith under the installation guide.
@

[2022-10-28 06:54] #15930 closed

[2022-10-28 06:54] trishaanand commented on #15930
This is not a code issue. The document has been updated. `offline_access` scope needs to be added to get the access token to get refreshed.

[2022-10-28 06:59] vuiets commented on #16980
This looks like it's related to and is a duplicate of https://github.com/appsmithorg/appsmith/issues/17787

[2022-10-28 07:00] #14830 closed

[2022-10-28 07:09] #7293 closed

[2022-10-28 07:12] dilippitchika commented on #11142
@sanjus-robotic-studio can you also add it in menu button and button groups?

[2022-10-28 07:19] #16980 closed

[2022-10-28 07:35] hiteshjoshi commented on #17628
The requested behaviour is actually not a bug and a sound behaviour for `git`
Right now we have Regex to check `.git` at the end of a Git repo URL. If we receive more such requests from users we should take a look but right now the obvious solve is for the user to enable the current URL formats for git.

[2022-10-28 08:46] sharat87 commented on #17764
@DavidMealha, hey, sorry, just seeing this.

Understood. That looks like a strange point for the container to stop working. Is it possible to share the Dockerfile and how the pipeline works, so I can try to reproduce the same thing on my end and troubleshoot please? Feel free to email the details to support@appsmith.com, if you'd prefer not to share them publicly here.

[2022-10-28 08:54] Richarex commented on #17696
Working Fine verified it on DP url:- https://appsmith-3rfeauypo-get-appsmith.vercel.app/

[2022-10-28 09:18] ankitakinger opened #17938 "[Bug]: Permissions has to be re-assigned in certain scenarios"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Sometimes, when we check the permissions (say View access for Custom_Workspace and Page1) and save the changes, we see that all the permissions are not selected (Page1 permission in this case disappeared) and it had to be re-assigned the permission.

### Steps To Reproduce

1. Go to Role edit page

[2022-10-28 09:50] #17918 closed

[2022-10-28 10:01] sbalaji1192 opened #17940 "[Bug]: invalid button label on the button in the table widget."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![image (3)](https://user-images.githubusercontent.com/5328605/198560781-982bba69-54d9-4501-b82d-6f5de3f9485c.png)

### Steps To Reproduce

1. Add a button column in the table widget
2. change to the label to an array of string with empty strings
3. observe that an invalid label is shown on the bu

[2022-10-28 10:01] #17377 closed

[2022-10-28 10:02] rohitagarwal88 commented on #17377
@tauantcamargo : Issue is fixed by the team. Kindly, check other issues

[2022-10-28 10:03] #17373 closed

[2022-10-28 10:03] #17376 closed

[2022-10-28 10:04] #17320 closed

[2022-10-28 10:06] #17930 closed

[2022-10-28 10:08] Nuno1123 commented on #17925
This usecase is in one of my projects.

We are getting the value via DB as a boolean, but it somehow expects a string.
We used toString() as a workaround, using a ternary operator to record the value as a boolean back into the DB.

Maybe this can be related to [this React behaviour](https://stackoverflow.com/questions/41773778/sending-number-instead-of-string-from-select-in-react-component) as I h

[2022-10-28 10:08] #10446 closed

[2022-10-28 10:16] rohitagarwal88 commented on #8057
@vasanth-appsmith : which edit we should use here?

[2022-10-28 10:17] rohitagarwal88 commented on #8058
@vasanth-appsmith : which delete icon should be used?

[2022-10-28 10:30] dilippitchika commented on #17925
Hey @Nuno1123 thanks, can you also let me know if switch, checkbox or radio doesn't work for you?

[2022-10-28 10:33] btsgh commented on #17702
This bug has been tested in the DP and found to be fixed. Closing it as verified.

[2022-10-28 11:03] Nuno1123 commented on #17925
@dilippitchika I have only experieced this in select widgets. I haven't used checkboxs but radio is working fine.

[2022-10-28 11:04] dilippitchika commented on #17925
Ok @Nuno1123, is there a reason for specifically using a dropdown for booleans in your use-case, which switch and radio will not solve? I want to understand so that i can prioritise this accordingly.

[2022-10-28 11:08] SatishGandham commented on #17359
Add the document to notion under performance.

[2022-10-28 11:08] #17359 closed

[2022-10-28 11:08] Nuno1123 commented on #17925
@dilippitchika we were opening the possibility of in the future having true, false and null as possible outputs from DB. But right now we could make that change, or stick to the workaround.

[2022-10-28 11:10] dilippitchika commented on #17925
Understood, thanks for adding more context 👍

[2022-10-28 11:32] GreenFlux commented on #14149
Another user on Discord is facing this same issue.
https://discord.com/channels/725602949748752515/1035475720975171646

[2022-10-28 11:48] keyurparalkar opened #17943 "[Enhancement]: Introduce locale changes for the Input widget number type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For number type of the Input widget, introduce locale representation similar to the [currency input widget](https://github.com/appsmithorg/appsmith/issues/14261)

### Steps To Reproduce

1. Go to

### Public Sample App

_No response_

### Version

Cloud

[2022-10-28 12:08] marks0351 commented on #16610
So proposal is to lift the z-index of the widget being dragged, there will not be widget that is being dragged instead its a canvas that is rendered above all the widgets of that layer and that widget being dragged is a drawing on that canvas. if we chose to lift the canvas instead then container jumps will not be possible coz we need a mouse over event to decide when to container jump.
the layers

[2022-10-28 12:23] kamakshibhat-appsmith commented on #17670
Checked the DP, working fine

[2022-10-28 12:35] #17916 closed

[2022-10-28 12:49] dilippitchika opened #17946 "[Feature]: Filepicker to support parsing xls, tsv, json along with csvs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Filepicker widget can automatically parse the following filetypes and convert them to arrays and objects

### Why should this be worked on?

Simplifies the workflows for users

[2022-10-28 14:17] CursedRock17 commented on #10219
@ramsaptami was the pull request that I sent what you had in mind for the change.

[2022-10-28 15:26] ramsaptami commented on #10219
Hey @CursedRock17 , looks like it's still being reviewed. Let me chase up with the team to get this expedited for you.

[2022-10-28 16:15] sanjus-robotic-studio commented on #11142
Ok sure

[2022-10-28 16:18] sanjus-robotic-studio commented on #11142
But in the previous Pr itself I have added it. Can you check and let me know

[2022-10-28 16:36] #17938 closed

[2022-10-28 17:14] dilippitchika commented on #11142
You are right, i can see it there, but not in our environment. Let me ask someone to check, @Tooluloope @yaldram can one of you check?

[2022-10-28 17:25] kamakshibhat-appsmith commented on #13672
Checked DP, Issued added in [PR](https://github.com/appsmithorg/appsmith/pull/17515#issuecomment-1295252550) @sbalaji1192

[2022-10-29 06:01] #16119 closed

[2022-10-29 10:44] naveenthontepu opened #17951 "[Feature]: Enable Image editor in file picker widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Enable Image editor in file picker widget using the uppy's image editor which is already implemented in the User Profile Image.

### Why should this be worked on?

Enabling Image editor in file picker widget using the uppy's image editor enhances the usage of the file uploader and it will help enforci

[2022-10-29 14:44] sumitsum commented on #15404
@rohan-arthur instead of closing these issues shouldn't we put them into icebox ?

[2022-10-29 14:53] sumitsum commented on #4458
@AmanAgarwal041 can you please check if what @prapullac has mentioned is valid wrt this issue / PR.

[2022-10-29 18:11] CursedRock17 commented on #10219
@ramsaptami thanks!

[2022-10-29 18:28] pasalgo-project commented on #8780
+1 Will make it the premier sqlite internal tool

[2022-10-29 23:14] dhruvikn opened #17954 "[Task]: Background detection should be disabled in Code Scanner Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Check out this conversation - https://github.com/appsmithorg/appsmith/pull/17929#issuecomment-1294848438

<img width="939" alt="image" src="https://user-images.githubusercontent.com/22471214/198855723-d96145c4-b377-4cf2-bc23-07593cb79f8d.png">

[2022-10-29 23:34] dhruvikn opened #17955 "[Feature]: Dynamic Menu Items Inside Table Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With #12362 being fixed in #17652, we also want to add the ability to add Dynamic Menu Items inside the Table Widget.

### Why should this be worked on?

As discussed at #12362

[2022-10-29 23:36] dhruvikn opened #17956 "[Feature]: Dynamic Menu Items in Button Group Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With #12362 being fixed in #17652, we also want to add the ability to add Dynamic Menu Items in the button group widget.

### Why should this be worked on?

As discussed at #12362

[2022-10-29 23:37] dhruvikn commented on #12362
Two more issues for adding dynamic menu items inside the table widget (#17955) and in the button group widget have been created (#17956).

[2022-10-30 11:38] sumitsum commented on #11419
Re-opening the issue since manual QA has not been performed since this was an exeternal PR and QA had reported some issue with the `local_testing.sh` script before. This issue should be closed once manual testing has been done.

[2022-10-30 16:26] amogh2019 commented on #11419
Should it be assigned to someone else?

[2022-10-30 17:06] riodeuno opened #17959 "[Task]: Add Auto Height related actions to editor and viewer contexts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Add action to update a widgets' height to editor context
- [ ] Add action to update a widgets' height to viewer context
- [ ] Add action to trigger a check for container auto height to editor context
- [ ] Add action to trigger a check for container auto height to viewer context

[2022-10-30 17:47] riodeuno opened #17961 "[Task]: Auto height - computation functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Function to generate auto height layout tree from occupied spaces.
- [ ] Function to generate reflowed positions of boxes based on height delta

[2022-10-30 19:02] aseemcfosters commented on #17928
Our use case for this would be making the button text easier to read. We are making a visitor sign-in app so this would be a very useful feature for us if it were to be implemented.

[2022-10-30 19:06] Alcadeus0 commented on #17928
can i work on this?

[2022-10-30 19:08] riodeuno opened #17963 "[Task]: Auto-height widget utils"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Add helper functions to get the widget's max auto height in rows
- [ ] Add helper functions to get widget's min auto height in rows
- [ ] Add helper to check if widget has auto height enabled
- [ ] Add helper to check if widget has auto height enabled with limits

[2022-10-30 19:36] riodeuno opened #17965 "[Task]: Split WidgetFeatures into different files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [ ] Create a WidgetFeatures folder
- [ ] Split the contents of the WidgetFeatures.ts file, such that there is a clean separation between different components of a widget feature.

[2022-10-30 20:21] arunvjn opened #17966 "[Task] Generate a list of recommended javascript libraries"

[2022-10-31 01:24] #17599 closed

[2022-10-31 02:14] tanvibhakta opened #17967 "[Task]: Create a component for Card"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

This component builds on Box but has hover and active state styles, and hopefully is stackable.
 Use it in these places https://www.notion.so/appsmith/762629366ef7440088c1605cbffa5d81?v=48c6f7615b0441d29ba564ae330ae2fc where appropriate.

[2022-10-31 02:17] ohansFavour opened #17968 "[Bug]: Broken evaluation on action trigger when self-referenced"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Observed on Eval/Linting split DP (https://appsmith-git-feat-split-evaluation-and-linting-get-appsmith.vercel.app/)

### Root cause

EVAL_WORKER_ACTIONS.EVAL_TRIGGER faster than EVAL_WORKER_ACTIONS.EVAL_TREE (this requires transfer of data between threads). EvalTree is getting mutated during the s

[2022-10-31 03:27] albinAppsmith opened #17969 "[Task]: Create global theme variables in design system package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-31 04:34] #9782 closed

[2022-10-31 04:44] Richarex commented on #17696
@akash-codemonk

- [ ] On the 1st page of the canvas when we add few widgets then "Start From a template" & "Generate page from data table" goes off but when we delete the added widgets then these cards should to displayed again as it is the 1st page. Is this expected behavior? Please refer to the attached video:- https://jiju8jbmwa.vmaker.com/record/giwjB6oxb9V1Zpe2

[2022-10-31 04:44] bharath31 commented on #12894
Assuming 10% of users who perform BINDING_SUCCESS with JSON form widget face this issue.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach   | 388 |
| Effort (months)  | 0.5 |

[2022-10-31 04:46] akash-codemonk commented on #17696
Once we hide we don't show it again. @Richarex

[2022-10-31 05:00] Richarex opened #17974 "[Bug]: Internal server error is displayed when the user selects "Sheets" as datasource from Quick Page Wizard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user selects google sheets as datasources from the 'Quick Page Wizard' page internal server error is displayed.

### Steps To Reproduce

1. Go to this url:- https://release.app.appsmith.com/applications
2. Click on **New** button and create your workspace
3. Click on **Generate page from

[2022-10-31 05:01] dilippitchika commented on #17928
Hi, @Alcadeus0 this is a fundamental change to how a button works on appsmith. We would pick this up internally

[2022-10-31 05:06] dilippitchika commented on #12894
@bharath31 a better way to check how many users face this - https://mixpanel.com/s/XSxqS

[2022-10-31 05:12] bharath31 commented on #12894
@dilippitchika that looks more accurate. thanks!

[2022-10-31 05:27] Pranay105 commented on #16820
Any update on the first drafts? @trishaanand @ankitakinger

[2022-10-31 05:28] subrata71 commented on #17619
[RCA on Notion](https://www.notion.so/appsmith/RCA-Internal-Server-Error-while-Editing-Large-JS-object-88017c9245dd4a6a9f9237eddec6f82c)

[2022-10-31 05:37] Alcadeus0 commented on #17928
Sure that's fine by me :)

[2022-10-31 06:12] rahulramesha opened #17975 "[Task]: Context switching phase 2 for canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

## Entity Explorer:
- [x] Entity explorer should stay as you left it when you left the page (collapse levels)
- [x] Widget/explorer tab
- [x] Width - Should be the same across all pages of an app

## Ca

[2022-10-31 06:26] riodeuno opened #17976 "[Task]: Create platform structure for adding widget features"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Widgets can be enhanced by the platform using simple configs. To achieve this, widgets need to enhance the following
- [ ] Property pane configuration
- [ ] Default properties

The following are the subtasks to enable this
- [ ] Create a Widget features registry
- [ ] Enhance property pane configurat

[2022-10-31 06:31] shadabbuchh opened #17977 "[Bug]: Read Only property not working as expected in Deploy mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon changing the rating of the widget and then enabling the `Read Only` property, we see the default rating in deploy mode and not the one that is set by the developer.

https://www.loom.com/share/b25da1e61b2149bfa3201fa6b00b47b6

### Steps To Reproduce

1. D&D the rating widget.
2. Change the ra

[2022-10-31 06:33] dilippitchika commented on #17977
@shadabbuchh this is not a bug, it's like any input widget behavior -  Whatever text you add it doesn't stay the same in the deploy mode. We use the default value. This is because we treat deployment as a new session.

[2022-10-31 06:38] #17977 closed

[2022-10-31 07:48] riodeuno opened #17982 "[TASK]: The context value should be memoized to prevent re-renders of children."
Not related to the current PR but the context value should be memoized to prevent re-renders of children which subscribe to the context. Currently it creates a new reference of context value on every render.

_Originally posted by @rahulramesha in https://github.com/appsmithorg/appsmith/pull/17960#discussion_r1009109400_

[2022-10-31 08:08] shadabbuchh opened #17984 "[Bug]: Complete filter card not visible if Table widget is placed at the extreme top in the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The complete Filter card is not visible to the developer when the table widget is placed on the extreme top of the canvas.

Also noticed that when the filter card is open and we click outside of it (somewhere in the table), the card does not close. You either have to click outside the table widget

[2022-10-31 08:29] riodeuno opened #17985 "[Task]: Cleanup & Performance: Declare function beforehand instead of declaring when passing as a prop"
should we have this function declared before the map it creates new function for each handle.

_Originally posted by @marks0351 in https://github.com/appsmithorg/appsmith/pull/17851#discussion_r1006462910_

[2022-10-31 08:59] ashit-rath opened #17986 "Task: List v2 - Check for simple arrays as listData"

[2022-10-31 09:02] ramsaptami opened #17987 "[Bug]: Trying to leave an organization throws an internal server error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

leaveWorkspaces endpoint returns a 500 when user tries to leave a workspace. Unable to repro this on prod since exact steps is unknown.

### Steps To Reproduce

1. Unable to leave a few shared workspaces and get an internal server error from the `users` API `leaveWorkspace` endpoint `PUT` call

![

[2022-10-31 09:26] somangshu commented on #6843
@Bisht13 are you willing to pick the issue up?

[2022-10-31 09:37] laveena-en opened #17989 "[Bug]: Rating widget - Evaluation's pop-up is seen in the view mode for the read-only property."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Evaluation's pop-up is seen in the view mode when the read only property contains bindings.

https://ivp6ez0ljb.vmaker.com/record/Qjbqe95wX4Srupx3

### Steps To Reproduce

1. D&D a rating widget
2. Bind the read only property to a checkbox `{{Checkbox2.isChecked ? false : true}}`
3. Notice that in

[2022-10-31 09:43] #17528 closed

[2022-10-31 09:54] dgorshkov commented on #2836
@Nikhil-Nandagopal Unfortunately I wasn't able to make that video properly (multiple browsers and video players).

[2022-10-31 09:57] ramsaptami opened #17990 "[Bug]: Tooltip re-wording on all widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [ ] Reword tooltip on `default selected` toggle field on the **switch widget** since it's got grammatical errors
![image](https://user-images.githubusercontent.com/79509062/198976180-9173b0f0-7694-4aa8-9c57-f99059fd6a3e.png)

- [ ] First `the` is redundant and can be removed to simplify the text

[2022-10-31 10:10] ashit-rath opened #17991 "Task: list v2 - Investigate memory leak"

[2022-10-31 10:16] riodeuno commented on #15763
@somangshu Rendering too many DOM nodes can cause the UI thread to lag. Before we get into the timelines, we must discuss the potential approaches to this solution.  Here is my suggestion:

#### Suggested approach
- [ ] Render all widgets as a single div or box of the appropriate size at the appropriate positions.
- [ ] Use [InteractionObserver API](https://developer.mozilla.org/en-US/docs/Web/API

[2022-10-31 10:31] AnandiKulkarni opened #17992 "[Bug]: Menu widget : After adding new item last item is displayed right aligned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Create new app >> add new Menu widget on canvas >> Click on Add new item, Item is added - Menu item 1.

Observation:  it is displayed right aligned, other items are left alined
Found in release and not reproducible on production

<img width="1414" alt="image" src="https://user-images.githubusercon

[2022-10-31 10:32] AnandiKulkarni commented on #17992
@kamakshibhat-appsmith - Please check

[2022-10-31 10:49] riodeuno opened #17993 "[Task] Auto - Height enhancements for BaseWidget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The BaseWidget should do the following:
- [ ] Enable calls to update auto height of widget
- [ ] Check if this update should be applied
- [ ] Add the auto height overlay in edit mode
- [ ] Wrap widgets in auto height container

[2022-10-31 11:15] sumitsum commented on #11419
@amogh2019 we will take care of this internally. I am hoping this issue remaining open should not be a problem wrt to the Hacktoberfest contributions.

[2022-10-31 11:56] anvaravind opened #17996 "[Feature]: Retry option should be made available for API datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

While adding API datasource it should be possible for the user to configure retry mechanism so that application flow will not break application in case of a temporary API failure ( may be because of temporary network/transient issues).

May be one more option to specify retry scheme like exponential b

[2022-10-31 11:57] anvaravind commented on #17996
May be this logic can be extended to all datasources if it makes sense

[2022-10-31 12:08] satbir121 commented on #15612
Not reproducible any more.

[2022-10-31 12:08] #15612 closed

[2022-10-31 12:17] alexismondon opened #17997 "Formstack Forms integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi, I’m looking to build a CRUD for a business with a relatively low budget and your solution seems really interesting! But we would need to send prefilled forms to our driver through an app like Formstack forms. I would need to fill certain fields in the form with data from our DB and send it to the

[2022-10-31 12:27] RakshaKShetty commented on #16548
regression issue, so reopening it

[2022-10-31 12:47] RakshaKShetty opened #17998 "[Bug]: After Configuring the GitHub from admin setting the GitHub login fails for the first time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After Configuring the GitHub from the admin setting the GitHub login fails for the first time also the same issue happens for google login too
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/199009170-fe51fb70-6fb9-4374-baa9-a69052c3cade.png">
<img width="1440

[2022-10-31 12:51] RakshaKShetty commented on #16548
Closing it reopened the new issue

[2022-10-31 12:51] #16548 closed

[2022-10-31 13:03] RakshaKShetty opened #17999 "[Bug]: "Appsmith server is unavailable" error is displayed when user imports the GitHub app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

"Appsmith server is unavailable" error is displayed when user imports the GitHub app this happens to me in a specifically 1 repo
https://github.com/RakshaKShetty/apr-18regression
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/199014150-aafaa1b6-2ae6-4d3d-a22b

[2022-10-31 13:12] #15623 closed

[2022-10-31 13:15] amogh2019 commented on #15623
Thank you @sumitsum for all the time that you have given over my changes this week! :)

[2022-10-31 13:17] sumitsum commented on #15623
Thanks @amogh2019 for your valuable contributions to Appsmith. Looking forward to more such contributions from you :)

[2022-10-31 13:56] kamakshibhat-appsmith opened #18002 "[Bug]: Intermittent issue with sliders - Unable to log slider change clicks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Sometimes when moving the slider, the click is not registered in the logs (but it works well in the UI), due to which onChange events fail to trigger

### Steps To Reproduce

1. DnD a category slider
2.Open the logs
3. Move the slider back n forth between max and min points
4. You might notice som

[2022-10-31 14:56] btsgh opened #18003 "[Bug]: Search on home page brings up some unrelated apps along with the apps matching the criteria"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to search for an app in the Home Page area, some unrelated apps are also displayed

### Steps To Reproduce

1. Login to release and on the Home Page, try to search for an application.
2. Note that along with the relevant apps, some apps which seem irrelevant also show up.

I am searchin

[2022-10-31 15:20] trishaanand commented on #17987
This is a duplicate of https://github.com/appsmithorg/appsmith/issues/17235. Closing this.

[2022-10-31 15:20] #17987 closed

[2022-10-31 16:08] sandeeprawat28 opened #18005 "[Bug]: When we use Vision Impaired, in developers appsmith section, user profiles not properly visible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![Screenshot (58)](https://user-images.githubusercontent.com/76909857/199054142-e9283203-1041-41d9-be32-8d63f0fdf538.png)

### Steps To Reproduce

Open Equally AI
Then select Vision Impaired
Turn on it
See the Developers Appsmith section

### Public Sample App

_No response_

### Version

release

[2022-10-31 18:03] trishaanand opened #18006 "[Task EE] Add missing relationships between ACL Permissions as required as part of RBAC feature."

[2022-10-31 22:29] felix-appsmith opened #18007 "[Bug]: Multiple Command related issues for HubSpot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

# Multiple bugs and errors running HubSpot queries.

## The following queries are the ones that fail

### HubSpot CRM
1. List Objects.
2. Create Object.
3. Update Object.
4. Search Object.

### HubDB
1. Create Table.
2. Update Existing Table.
3. Clone Table.
4. Add New Table Row.
5. Update Existin

[2022-10-31 22:31] felix-appsmith commented on #18007
Of these bugs, the following have been fixed.
1. Fixed CRM-List Objects
   - It was missing to add in the header the following `content-type: application/json`
   - Fixed in HubSpot Test SaaS App
2. Fixed Import-Files
   - The problem was solved by disabling the `encoding` in the url
   - Changes were made to fix the bug in production
   - Fixed in HubSpot Prod and HubSpot Test SaaS App
3. Fixed C

[2022-10-31 22:35] ohansFavour commented on #17968
Now fixed

[2022-10-31 22:35] #17968 closed

[2022-11-01 04:25] aswathkk opened #18008 "[Bug]: JS mode to UI mode conversion doesn't pick the correct value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/10436935/199158038-25b896a5-2394-445f-84cc-46e9cae246b9.mov

Converting back to UI mode from JS mode using the JS toggle button doesn't pick the correct value. This happens only on the panels (ex: Table column properties)

### Steps To Reproduce

1. Add Ta

[2022-11-01 04:54] hetunandu opened #18011 "[Bug]: Context Switching does not work on API pane url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/12022471/199161605-34cc2803-adc0-4a56-9898-5d4d3e88b5e2.mov

### Steps To Reproduce

1. Navigate to API
2. Focus on the URL field
3. Navigate out of the API to any part of the app
4. Navigate back to the API

expected to have the focus and cursor be on the

[2022-11-01 05:09] hetunandu opened #18012 "[Bug]: Error state is hidden when Property Pane input is focused"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When focusing on an input which has an error, the error border gets hidden
https://www.loom.com/share/56f64d9a172b44989d8e4430e0d4a868

### Steps To Reproduce

1. Have an input in the property pane with a validation error
2. Focus on it by clicking on it and press esc
3. Notice the border is black

[2022-11-01 05:13] hetunandu opened #18013 "[Bug]: Context Switching Scrolling issues in property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- Scroll top not working
https://www.loom.com/share/f3501752a6334aed8544bb18a1ab3f14

- Flickering issues due to auto scroll.
https://www.loom.com/share/7f1bffb7896a4ec992652df2509435fb
- Not focusing on correct property .
 https://www.loom.com/share/6cf64700098044a3a525a3d9b02f06e8

### Steps To

[2022-11-01 05:19] hetunandu opened #18014 "[Task]: Context Switching Phase 3"
## Debugger States

- [ ] Filters applied on the logs and errors (text/entity/severity) should be persisted at the page level
- [ ] Scroll Position of the debugger
- [ ] Collapsibles items should remain in the same state while navigating

## Tabs Widget (blocked by #1282)
- [x] Context Switching for Tabs
- [x] CMD click for Tabs

[2022-11-01 05:22] hetunandu opened #18015 "[Bug]: Need to limit Auto scroll to widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We are scrolling whenever a new widget is selected. Instead we should only do so when the widget is significantly out of the view port center

### Steps To Reproduce

1. Click on a widget
2. Click on another widget near it

https://user-images.githubusercontent.com/12022471/199164535-e7f009cc-f7a0

[2022-11-01 05:26] hetunandu opened #18016 "[Bug]: [Context Switching] Default focus not being set for new entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When creating new action entities, we are not resetting the focus states to their defaults

### Steps To Reproduce

https://user-images.githubusercontent.com/12022471/199164987-9fe9a211-c10e-4fbc-83cb-661ab4e7d2bf.mov

https://user-images.githubusercontent.com/12022471/199164991-0750f1c8-cc05-4396

[2022-11-01 06:29] sribalajig commented on #2836
Posting an update for this feature -

**What is in scope?**

- Ability to configure staging and production environments for datasources
- Ability to switch between staging and production environments while editing the app
- Ability to view the deployed version of the app with staging environment configuration, without impacting the actual deployment
- Ability to define role based access controls f

[2022-11-01 06:34] Rishabh-Rathod opened #18019 "[Task]: Remove isFunctionAsync flow from evaluation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

https://www.notion.so/appsmith/RFC-JSObject-function-without-sync-async-differentiation-0de440cfae1d419da4c88b6705bb8acf#6b10f713fd23457fb6a111e1421d3d2e

- We remove the concept of async function from JSObject and the determination code which means all functions can have `onPageLoad` and `confirm be

[2022-11-01 06:35] Rishabh-Rathod opened #18020 "[Task]: Avoid dataTree cloning in evaluation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

https://www.notion.so/appsmith/RFC-How-to-avoid-cloning-data-tree-in-evaluation-36ca90869b7d4ace943bc25f7139b1e3

[2022-11-01 06:46] btsgh opened #18021 "[Bug]: Manage Users -> Delete modal -> Remove button seems to be red in color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I click on share and invoke the Manage Users -> Delete modal -> Remove button seems to be red in color as against the expected Orange.

### Steps To Reproduce

1. Login to appsmith and go to your workspace
2. Click on the Share button and invoke the Manage Users modal.
3. Select a user and cl

[2022-11-01 08:14] vuiets commented on #17903
@AnaghHegde is this related to https://github.com/appsmithorg/appsmith/issues/17787? Can we fix both in one go?

[2022-11-01 08:14] vuiets commented on #17903
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 497 |
| Effort (months)  | 0.5 |

[2022-11-01 08:27] sribalajig commented on #17841
@PaulMcF1987 This is Balaji from the Appsmith product team. If I understand correctly, you are looking for a way to test your queries without making modifications to your live database? I have a possible workaround in mind but would like to know more on your particular use case. Would you be open to having a conversation about this? Please feel free to book a slot on my calendar here -> https://ca

[2022-11-01 08:29] #16743 closed

[2022-11-01 08:35] sumitsum opened #18023 "[Task]: update local_testing.sh to work with external contributor PRs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Currently, the `local_testing.sh` script fails when building external contributor PRs because the source branch is in a non Appsmith repository.

[2022-11-01 08:43] Tooluloope commented on #11142
@sanjus-robotic-studio  Could you help fix this?
https://user-images.githubusercontent.com/31691737/199193670-ee7ff157-f456-48ce-b566-674196b67a0a.mov

CC @dilippitchika

[2022-11-01 09:26] #11639 closed

[2022-11-01 09:38] sanjus-robotic-studio commented on #11142
@Tooluloope, will try to fix it

[2022-11-01 09:50] Tooluloope commented on #11142
Thank you @sanjus-robotic-studio

[2022-11-01 09:52] AmanAgarwal041 commented on #17550
Since this problem claims that individual datasources can be removed concurrently, we are unable to test it using Cypress since we must first interact with the elements, and by the time we do, the deletion apis may or may not have finished. Therefore, the test cases won't always be accurate. The test case for this use case was therefore determined to be skipped by @Aishwarya-U-R  and @AmanAgarwal0

[2022-11-01 09:58] ravikp7 opened #18026 "[Bug]: JS Objects settings change event handlers are called twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I toggle the JS Objects settings toggles, the event handler is called twice. It should be called only once.

https://user-images.githubusercontent.com/13567359/199208381-d16395b8-2568-4b5d-9095-69f4badef057.mp4

### Steps To Reproduce

1. Go to JS Objects.
2. Select Settings.
3. Toggle one of

[2022-11-01 10:27] sondermanish opened #18027 "[Task]: Refactor names of associated environment variables when a datasource is refactored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-11-01 10:36] AnaghHegde commented on #17999
The reason for this failure is that, the `pages` filed is missing from the application.json file in the repo. Hence, when imported, the defaultPage is not set. If the default page is not set in the application object then we will not be able to refer to the page collection to get the necessary details.

Sample data with the page information.

{
  "pages": [
    {
      "id": "Page1",
      "isDefa

[2022-11-01 10:44] IAmAnubhavSaini opened #18028 "[Task]: Remove git related feature flags from FE | git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Remove GIT
- Remove GIT_IMPORT

[2022-11-01 10:48] RakshaKShetty commented on #17999
as its happening in only one repo

[2022-11-01 10:52] IAmAnubhavSaini commented on #17999
How does this happen?

[2022-11-01 10:52] ravikp7 commented on #16970
This issue is blocked on https://github.com/appsmithorg/appsmith/issues/18026

[2022-11-01 11:03] RakshaKShetty opened #18030 "[Bug]: RBAC Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**FRONTEND ISSUES**
- [x] [[Bug]: The hover state looks broken in the firefox browser](https://github.com/appsmithorg/appsmith/issues/18038)
- [ ] unable to check the data in the Groups & roles tab until we refresh the page each time
- [ ] Low Priority | On visiting roles, all the checkboxes check

[2022-11-01 11:26] AnaghHegde commented on #17999
@IAmAnubhavSaini My hunch was that there was a bad merge conflict resolution. But could not find any commits for merge. I have asked Raksha to check if the original app is working. But i am out of ideas on how the app reached into this state.

[2022-11-01 11:28] sanjus-robotic-studio commented on #11142
@Tooluloope can you check this ?
https://github.com/appsmithorg/appsmith/pull/18031

[2022-11-01 11:29] Nikhil-Nandagopal commented on #17996
@anvaravind thanks for the feature request! This definitely makes sense

[2022-11-01 11:52] rohan-arthur opened #18032 "While creating a gsheet datasource, creation of the query should only be possible on valid datasource"
design: https://www.figma.com/file/Qs7p5frNx7uEfVYpADGk0d/Query-Pane-Improvements?node-id=1132%3A45433

**Create Mode**
Current behaviour: when I click `save and authorize`, save happens first, then the user is shown the auth popup in a separate page. There are two possibilities here:
1. auth success: no problem, the datasource is saved with the successful auth, user sees the datasource overview p

[2022-11-01 12:41] yaldram commented on #16100
This issue is not re-producible anymore @chandannkumar can you please verify and close this issue. Thanks

[2022-11-01 13:04] sullo commented on #13284
It was a table widget and an API call which triggered when the page opened.

But the real problem for me was that once I attempted this API call, the UI was unresponsive and I was unable to _remove_ (or disable) the API call that did it. Because it ran on application load, there no opportunity for me to use the UI to stop it before it _tried_ to load and thus froze the AI.

That's why I was thinki

[2022-11-01 13:10] juandl commented on #2430
Hi Guys! hope you are doing well, any update on this feature?

[2022-11-01 13:12] AnaghHegde commented on #17903
@vuiets [For](https://github.com/appsmithorg/appsmith/issues/17787) is different from this issue. The import modal is disabled for some reason. The user is unable to upload the file.

[2022-11-01 13:13] AnaghHegde commented on #17787
@hiteshjoshi Need someone from the FE to look into this. The modal is disabled for @sribalajig.

[2022-11-01 13:15] AnaghHegde commented on #17351
@RakshaKShetty This will be addressed in the issue - https://github.com/appsmithorg/appsmith/issues/15698

[2022-11-01 13:15] #17351 closed

[2022-11-01 14:11] Nikhil-Nandagopal commented on #2430
@juandl we are testing it out now internally. Could you share which libraries are you looking to integrate? We have some limitations with libraries that rely on xhr requests and the window object

[2022-11-01 14:19] Nikhil-Nandagopal commented on #17997
@alexismondon is there any reason why you are unable to use the REST API integration for this?

[2022-11-01 14:24] Nikhil-Nandagopal commented on #17670
@kamakshibhat-appsmith please close if its working

[2022-11-01 14:25] Nikhil-Nandagopal commented on #17637
Closing this since we haven't gotten a response

[2022-11-01 14:25] #17637 closed

[2022-11-01 14:25] Nikhil-Nandagopal commented on #17503
@hiteshjoshi @sidhantgoel do we have a timeline for this fix?

[2022-11-01 14:45] kamakshibhat-appsmith commented on #17670
@hetunandu Can we move it to Needs QA pipeline so that I can close it accordingly?

[2022-11-01 14:45] juandl commented on #2430
Mostly internal libraries, we have some internal libraries like "helpers" nothing related with xhr or using window object

[2022-11-01 14:46] sneha122 opened #18035 "[Bug]: Should the Save button be renamed as "Save and Authorise" in case of Google sheets for datasource discard popup?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For a GSheet DS, Add a ds & click on back.. In the pop-up when alerted to save - click on save.. User is taken to Authorise the sheet also, but expected only to Save the DS here without authorisation with text "Datasource not authorized *"
displayed to user..
Please let know what will be the behav

[2022-11-01 14:59] #18028 closed

[2022-11-01 15:08] IAmAnubhavSaini opened #18036 "[Task]: Remove extra feature flags from FE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

From the file FeatureFlags.ts, remove:
- GIT
- GIT_IMPORT
- AUDIT_LOGS

And any associated code that is dependent upon the flags.

[2022-11-01 15:45] gebnar commented on #4874
I would also very much like to see this feature added.
I have run across multiple situations where I would like to automatically respond to user behavior by moving the cursor to an input box.
Specifically, I have deployed Appsmith pages in environments where staff are using barcode scanners to enter information. Sometimes I've been able to make it work. But if the user needs to manually select the

[2022-11-01 15:51] Nikhil-Nandagopal commented on #4630
@lucasa that is because it's an epic epic :)
We'd love some feedback from you on what we're building. If you're available for a quick chat, please block some time on my calendar https://calendly.com/appsmith-nikhil/appsmith-meeting?back=1&month=2022-11

[2022-11-01 16:19] ankitakinger opened #18038 "[Bug]: The hover state looks broken in the firefox browser"
<img width="1031" alt="image" src="https://user-images.githubusercontent.com/28362912/199283882-6103e62c-bad3-46b8-bf2a-5554daff8d04.png">

[2022-11-01 17:22] dilippitchika commented on #17946
Within appsmith, we wish to support parsing files into arrays and objects without users having to build their own workflows to display these files in widgets.

For xls and xlsx files, the parsing will need to happen across all sheets. The format of data can be an array of objects with `sheet_name` and `sheet_data` as keys.

[2022-11-01 19:21] theparthacus commented on #11419
@rlnorthcutt, for Hacktoberfest considerations.

[2022-11-01 21:18] charles-bloomfield opened #18040 "[Bug]: Table Filter Text Loses Focus When User Is Typing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have an appsmith app that has a table view with filtering enabled. If a user tried to filter one of the text fields (eg `Address contains XYZ`), the filter text input loses focus after a short delay after the user stops typing. This is causing UX issues for our users because if they type slowly,

[2022-11-01 22:04] yan-hic opened #18041 "[Feature]: make step up/down arrows in input Number and Currency widgets optional"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The arrows to in-/decrease a number or currency value is currently always displayed.
![image](https://user-images.githubusercontent.com/25224265/199349292-80facaa7-9ae8-45b0-8d3c-572d5d6d31fe.png)

User should have the option to disable that overlay.

This also prevents right-aligned icon to show up i

[2022-11-01 23:43] alexismondon commented on #17997
Because I was too excited about an easy crud builder that I skipped the rest API section... my bad!

[2022-11-02 04:34] chandannkumar commented on #16100
Thanks @yaldram, Closing this issue as it seems like already fixed
![image](https://user-images.githubusercontent.com/95341241/199398173-eac549a2-5725-4efd-b605-e2e9cd036bb6.png)

[2022-11-02 04:34] #16100 closed

[2022-11-02 04:38] tanvibhakta opened #18042 "[Task]: Change imports for typography to use design-system helpers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- const typography
- getTypographyByKey

[2022-11-02 04:54] IAmAnubhavSaini opened #18043 "[Task]: Investigate client side migration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- What is client side migration
- What is the code path
- Find a way to migrate all the pages at once in an application

[2022-11-02 05:23] sribalajig commented on #17567
Check [this](https://www.notion.so/appsmith/RCA-Internal-Server-Error-while-Editing-Large-JS-object-88017c9245dd4a6a9f9237eddec6f82c) doc for details + RCA.

Also related to [this](url) ticket.

[2022-11-02 05:39] kocharrahul7 opened #18044 "[Task]: Create analytics events for Templates phase 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Event for the user clicking on the CTAs on the home page (top of the page)
- Event for the user clicking on the '+' submenu

Both events should mention which option the user is selecting (are the users selecting 'Generate page from datatable' OR 'start from template'

[2022-11-02 05:44] IAmAnubhavSaini opened #18045 "[Task]: Investigate Resource not found on app fork"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

While forking an app, Resource Not Found is getting thrown.

[2022-11-02 06:55] IAmAnubhavSaini commented on #18045
https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/Editor/EditorHeader.tsx#L531 has stale workspaceId which then makes a call to fetch all of the members in the workspace here: https://github.com/appsmithorg/appsmith/blob/release/app/client/src/pages/Editor/EditorHeader.tsx#L321

When the fork button is pressed then the workspaceId should be updated in the redux store.

[2022-11-02 07:00] IAmAnubhavSaini commented on #18045
`FORK_APPLICATION_SUCCESS` should be saving the workspace id to redux.

[2022-11-02 07:00] IAmAnubhavSaini commented on #18045
[code]

[2022-11-02 07:01] IAmAnubhavSaini commented on #18045
https://github.com/appsmithorg/appsmith/blob/release/app/client/src/RouteParamsMiddleware.ts#L37-L52

[2022-11-02 07:04] #15789 closed

[2022-11-02 07:06] nihaofana commented on #4874
Seemed this focus request have been proposed long time ago. But why still not be realised? Is it too hard technically？
Or is there any other way to bypass it ,such as using a iframe to build a html input box?

[2022-11-02 07:06] sidhantgoel commented on #17503
@Nikhil-Nandagopal I am working on debugging this issue, will share updates soon.

[2022-11-02 08:00] bubelarek commented on #14143
Hi,
Some JS tweak to do it:
1/ Add Iframe at bottom of app
2/ Put this code in srcDoc
`<html>
<body>
<script>
//alert()
window.parent.document.querySelectorAll('a[href="https://appsmith.com"').forEach(e => e.remove());
//window.parent.document.querySelectorAll('#header-root').forEach(e => e.remove());
window.parent.document.querySelectorAll('div.t--widget-iframewidget').forEach(e => e.remove());
<

[2022-11-02 08:54] bharath31 commented on #2430
@juandl could you let us know where these internal libraries are hosted? Are the private libraries? Would you in the future require Appsmith to host them for you?

[2022-11-02 09:25] kamakshibhat-appsmith commented on #13672
tested and looks good . This was fixed by [17515](https://github.com/appsmithorg/appsmith/pull/17515)

[2022-11-02 09:47] juandl commented on #2430
We hosted in popular providers cdn, I think that would be the best way, same as similar platforms as appsmith

[2022-11-02 09:59] #18006 closed

[2022-11-02 10:03] tanvibhakta opened #18049 "[Task]: Change imports for migration of typography helpers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-11-02 10:15] tejasahluwalia commented on #18005
Unfortunately, it looks like this is not entirely in our hands. The accessibility plugin inverts all colors on the webpage including images when in `Vision Impaired` mode.

I have reached out to them to find a way to disable the inversion of colors for images alone. If that's not possible we can evaluate other options.

[2022-11-02 10:32] #14261 closed

[2022-11-02 10:38] rohan-arthur opened #18051 "[Bug]-[7372]:save and authorize on auth API navigates to new datasource pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/94514895/199468272-31ae105c-6bb2-4649-bd1f-a849868be857.mov

when I `save and authorize` a new authenticated api datasource successfully, I expect to see the overview of that datasource, but instead I see the new datasources pane.

### Steps To Reproduce

[2022-11-02 10:39] tanvibhakta opened #18052 "[Task]: Update secondary and tertiary states of button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

We currently have three states of button:
https://design-system.appsmith.com/?path=/story/design-system-button--primary
https://design-system.appsmith.com/?path=/story/design-system-button--secondary
https://design-system.appsmith.com/?path=/story/design-system-button--tertiary

We use our current se

[2022-11-02 10:40] rohan-arthur commented on #18051
REST 6m usage: 5266
assume 70% of these are from authenticated api, so reach: 3686

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 3686 |
| Effort (months)  | 0.1 |

[2022-11-02 10:54] shadabbuchh opened #18054 "[Bug]: Section heading should be "Border" instead of "Border & Shadow" for Modal widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Since we don't currently support modal shadows, the section heading for Modal widget should read only `Border` instead of `Border and Shadow`.

![Uploading Screenshot 2022-11-02 at 3.16.53 PM.png…]()

### Steps To Reproduce

1. D&D a Modal widget.
2. In the property pane go to the `Style` tab.

##

[2022-11-02 11:19] btsgh opened #18057 "[Bug]: Even if user has only view permission on Pages, user is able to update the Database through widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user with view permissions on Pages tries to edit the table rows, the cells are editable and database also gets updated (Even though an error pops up with the message that account does not have access)

### Steps To Reproduce

View the video for detailed steps to reproduce the error.
https://

[2022-11-02 11:30] btsgh opened #18058 "[Bug]: Unable to edit the name of the datasource even through demo user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Unable to edit the name of the datasource even on logging in with through demo user.

### Steps To Reproduce

View the following video for steps to reproduce.

https://ddpa7mfuvv.vmaker.com/record/b4v6ozxmqW7LuJoY

### Public Sample App

_No response_

### Issue video log

_No response_

### Versi

[2022-11-02 11:34] keyurparalkar opened #18059 "[Bug]: Add placeholder text for the select column type's option property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, the option property of select column type for table widget does not contain placeholder text. A placeholder text will help the users to understand the format.

### Steps To Reproduce

1. Choose select column type of the table widget.
2. Observe that there is no placeholder text in the o

[2022-11-02 11:53] somangshu opened #18060 "[Epic]: Evaluation performance optimization"
### Objective

We are seeing that evaluations is a bottleneck to performance.
This is specially evident in Complex apps with large data tree.
Our goal is to bring down this time it takes to evaluate the data tree on the first page load under 500ms

### Success Metrics

| Metric         |
| -------------- |
| Evaluations should complete in 500ms or less  |
| User dont feel the lag in their apps loa

[2022-11-02 11:57] somangshu commented on #11263
@Rishabh-Rathod can we close this; I guess we are tracking this in a different way now

[2022-11-02 14:10] sneha122 commented on #4381
@rohan-arthur  Here are a couple of the points not taken into account/increased the scope of this ticket:
- Save as datasource for REST and GraphQL API flow
- After save earlier it used to go active DS list, but now it needs to stay in DS config page with view mode, Although we discussed that we can take this change later on. since in the discard popup designs also, on save it was going on view mo

[2022-11-02 15:08] oskarannas commented on #16343
This would be very useful! I cant find any workaround for this as of now.

I have an array field, with a select field child. I need to use the "Server Side Filtering" for the select but that's not possible since i cant access the "filterText" property for the current active field.

[2022-11-02 15:08] ginilpg opened #18061 "[Bug]: Update operation supported only on first 12 columns for the pages created using CRUD wizard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/8299030/199526461-7db6be2f-46a1-4493-87a6-613dcdd38e26.mp4

### Steps To Reproduce

1) Create a new page using CRUD wizard
2) Select mysql/PostgreSQL datasource
3) Select a table which has more than 12 columns and create the new page
4) Try to update a col

[2022-11-02 15:31] bharath31 opened #18062 "[Bug]: newly created JSObject contains code from an existing JSObject"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I create a new JSObject, I see code from an existing JSObect being copied over to the new one.

### Steps To Reproduce

Steps to reproduce:
1. Create a JSObject and add about 50-60 lines of code
2. Create a new JSObject
3. Open JSObject1
4. Create a new JSObject
5. Notice the code being copie

[2022-11-02 16:12] #18038 closed

[2022-11-02 16:16] #17890 closed

[2022-11-02 16:19] a-c-m commented on #2430
Being able to track usage (segment, analytics etc) is critical to understanding how tools are used. Very big +1 for support for a way to achieve this.

[2022-11-02 16:27] SatishGandham opened #18063 "[Task]: Upload client source maps to S3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Upload source maps to s3 for use while debugging performance runs, and deployed applications.

[2022-11-02 20:37] charles-bloomfield commented on #13921
fyi this would be super valuable for us. Our users much prefer a singular scroll view vs a paginated view. Current work arounds are
- use the pagination feature, which our users don't like
- make the table height really big to fit more rows, but this is still suboptimal because in order to actually scroll the table users have to use the page-level scroll, which means the table header (search/filte

[2022-11-02 21:34] felix-appsmith opened #18065 "[Bug]: Query run() params with wrap(multi-lines) failed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When having an input in a form and creating several lines, the input fails, and its value becomes null.
You can get all the information much more in depth of the problem by reviewing this conversation [Discord Issue](https://discord.com/channels/725602949748752515/1035197731628650568)

### Steps T

[2022-11-03 01:21] #17360 closed, assigned to vaibh1297

[2022-11-03 02:50] josiah-roberts commented on #6928
We need this kind of type-to-pick-one functionality for a number of our use-cases.

[2022-11-03 05:34] dilippitchika opened #18066 "[Feature]: Add a new tableHeaders property to autocomplete in table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With this feature, users should be able to access the id, name and visibility of the table column headers using {{Table1.tableHeaders}} property
`[{"id":"name", "label":"NAMES", "visible":true}]`

- id denotes the key of column to return, the same key which is returned in table1.selectedRow
- label de

[2022-11-03 05:34] somangshu opened #18067 "Perf infra - Backend"

[2022-11-03 05:34] somangshu opened #18068 "Perf infra - Frontend; Stability"

[2022-11-03 05:38] spark-c commented on #17757
Ticket created in error, after closer investigation these points are not outdated.

[2022-11-03 05:38] #17757 closed

[2022-11-03 05:56] nsarupr opened #18069 "[Task - EE]: add user permissions to the PUT requests for JS Objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Currently when we create any JS Objects, we get User Permissions in the Post request, but those Permissions are missing in the next PUT request, which we send to the server, which helps us to figure out whether the user can edit the JS Objects or not.

Since the permissions are not coming in the first PUT request,

[2022-11-03 06:00] rohan-arthur commented on #17653
this affects all users, therefore reach = 32,000

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 32000 |
| Effort (months)  | 0.25 |

[2022-11-03 06:08] #18026 closed

[2022-11-03 06:18] #16928 closed

[2022-11-03 06:41] #18045 closed

[2022-11-03 07:18] souma-ghosh opened #18070 "[Bug]: Category Slider UI consistency issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. In its default state category slider is wider than the other sliders
2. Marks in category slider are not visible by default like other sliders
<img width="1363" alt="Screen Shot 2022-11-01 at 10 08 54 PM" src="https://user-images.githubusercontent.com/103924539/199665166-d686ffcd-1630-4862-8115

[2022-11-03 07:36] Nikhil-Nandagopal commented on #18061
@ginilpg this was by design since the CRUD page builder was meant to be more to teach users how to use Appsmith

[2022-11-03 07:36] #18061 closed

[2022-11-03 07:39] Nikhil-Nandagopal commented on #18058
@btsgh please tag these issues to the RBAC epic as well

[2022-11-03 07:41] Nikhil-Nandagopal commented on #17922
@ayushpahwa will this be solved with your fix?

[2022-11-03 07:43] Nikhil-Nandagopal commented on #17913
Thanks for raising this @eco-monk but I'm not aligned on the solution and I believe instead, we should focus on making it easy to undo the operation

[2022-11-03 07:43] #17913 closed

[2022-11-03 07:49] dilippitchika commented on #18040
@souma-ghosh can you triage this?

[2022-11-03 07:50] dilippitchika commented on #18041
Thanks for bringing this to our notice @yan-hic, we will take a look at it and make necessary changes.

[2022-11-03 07:53] dilippitchika commented on #18041
For percentage, it's better to add a new widget or a new mode in the input widget

[2022-11-03 08:03] souma-ghosh commented on #18040
Sure @dilippitchika

[2022-11-03 08:23] btsgh commented on #18058
Will do.

[2022-11-03 08:42] btsgh opened #18073 "[Bug]: Creating a new workspace does not immediately show up in Admin settings."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Creating a new workspace does not immediately show up in Admin settings.
It shows up only on refresh.
It should show up without having to refresh

### Steps To Reproduce

1. Create a new workspace (say Test_Workspace2) from Demo@appsmith.com
2. Go to Admin settings -> Roles
3. Go to a particular r

[2022-11-03 08:52] btsgh opened #18074 "[Bug]: Roles section, search for particular workspace, note that the expand / collapse button does not work correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I search for an application on a Role, the expand functionality does not work
Even on searching for a particular app/workspace, user should be able to expand and view its contents

### Steps To Reproduce

1. Go to the Roles section in the Admin settings page
2. Click on a Role
3. In the searc

[2022-11-03 09:03] Parthvi12 opened #18075 "[Bug]: Getting resource not found error on deleting app, with delete and view role for application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On trying to delete an app with delete and view roles for app from application resources tab , resource not found error is shown
<img width="1440" alt="Screenshot 2022-11-03 at 2 25 00 PM" src="https://user-images.githubusercontent.com/80334441/199681119-c384adde-6627-40ea-aea6-6a3909e97d71.png">

[2022-11-03 09:18] Parthvi12 opened #18076 "[Bug]: Not able to create new app when logged in as user with create workspace role"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On trying to create new app , when logged is as user who has create and view role: workspace level, the app doesn’t get created
<img width="1440" alt="Screenshot 2022-11-03 at 2 42 00 PM" src="https://user-images.githubusercontent.com/80334441/199684738-6d52f104-929a-4a45-b0e1-930465f2673f.png">

[2022-11-03 09:23] #16259 closed

[2022-11-03 09:25] kamakshibhat-appsmith commented on #16582
Issues added [here](https://github.com/appsmithorg/appsmith/pull/18017#issuecomment-1301832070 .)

[2022-11-03 09:30] Nikhil-Nandagopal commented on #17764
@DavidMealha were you able to get your issue resolved? I'm closing this for now but please do re-open it if you are still having trouble

[2022-11-03 09:31] allenye0909 opened #18078 "[Bug]: can't sign in when self-host"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**self-host deploy Community v1.8.6**

+ when i sign up a account successed, and then i sign out , at last i sign in faild. message as follow:It looks like you may have entered incorrect/invalid credentials. Please try again or reset password using the button below.

### Steps To Reproduce

1. sig

[2022-11-03 09:33] allenye0909 commented on #18078
thx  for u reply!

[2022-11-03 09:54] allenye0909 commented on #18078
error log as follow:

[2022-11-03 09:15:02,907]  - Operator called default onErrorDropped
backend stdout | reactor.core.Exceptions$ErrorCallbackNotImplemented: java.lang.NullPointerException: The mapper returned a null value.
backend stdout | Caused by: java.lang.NullPointerException: The mapper returned a null value.
backend stdout |        at java.base/java.util.Objects.requireNonNull(Objects.ja

[2022-11-03 10:33] DavidMealha commented on #17764
Hey @sharat87 @Nikhil-Nandagopal, I must have missed the last messsage. I haven't isn't fixed no.

The Dockerfile is really simple, which might be the reason for it to stop?
[code]

So the CI/CD pipeline steps are these, beware that I don't have much knowledge around K8s and the rollout of pods:
- Build image based on the Dockerfile inside the git repo
- Publish the built image to ECR (container r

[2022-11-03 11:14] vasanth-appsmith commented on #18052
@tanvibhakta Here is the updated design for this. [Figma](https://www.figma.com/file/4aZWeRRAyIBX660EbIQhXn/DS-Upgrade-Exploration?node-id=1300%3A51079)

[2022-11-03 11:18] yan-hic commented on #18041
No sure. The Number type in Input serves well and offers the % icon already. User may decide to show or not.

Ideally you make the stepping arrows optional while keeping the right-aligned icon (any) visible if selected.
Does not have to be either/or.

[2022-11-03 11:35] nsarupr opened #18081 "[Task - EE]: Set userGroupId instead of userName in User Group Updation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks
- When permission group id is not provided in the request, we simply un-assign permission groups associated with the workspace from the user group id, and return the user group id instead of the username.

[2022-11-03 11:38] Nikhil-Nandagopal commented on #18078
@allenye0909 could you please share a video of this? Are you sure the credentials are the same as the ones you created as a super admin?

[2022-11-03 11:39] bharath31 commented on #2430
@a-c-m can you share which libraries or analytics providers you are specifically looking to integrate?

[2022-11-03 11:45] a-c-m commented on #2430
Personally, https://segment.com/ and probably Google Analytics. But really I would like something more deeply integrated for analytics, similarly to https://docs.retool.com/docs/analytics, so you have the ability to trigger payloads to the analytics service at specific events in the app, as well as more generally tracking.

[2022-11-03 11:46] somangshu commented on #16024
@dhruvikn will be picking this up by the end of this month, We will get a download from @SatishGandham for more information of what the POC should entail (feel free to drop so
me more context on the thread if that is helpful)

@rohitagarwal88 @albinAppsmith please let us know if you guys have started work here.

[2022-11-03 11:51] spark-c opened #18082 "[Docs]: Update Audit Logs Structure"
Combining Audit Logs docs back into a single page; consider redirect links

[2022-11-03 11:58] vuiets commented on #18082
Going to make a case for the events list alone here again, if I may. It is bound to grow so does it warrant a separate page?

[2022-11-03 12:01] rohitagarwal88 commented on #16024
@somangshu : As of now, we have not started any work on it but if we can pickup before/by the end of this month, then I will update here.

[2022-11-03 12:18] sumitsum commented on #17324
We are hoping that the PR raised for the following issue will also address this issue. Once the PR is merged we will keep monitoring for occurrences of this issue. If no such occurrence is found in the future no we can assume that this issue has been addressed for most use cases. https://github.com/appsmithorg/appsmith/issues/17481

[2022-11-03 12:19] rohan-arthur commented on #13842
not a priority at present, closing this issue

[2022-11-03 12:19] #13842 closed

[2022-11-03 12:19] rohan-arthur commented on #13840
not a priority at present, closing this issue

[2022-11-03 12:19] #13840 closed

[2022-11-03 12:19] rohan-arthur commented on #13844
not a priority at present, closing this issue

[2022-11-03 12:19] #13844 closed

[2022-11-03 12:20] rohan-arthur commented on #13845
not a priority at present, closing this issue

[2022-11-03 12:20] #13845 closed

[2022-11-03 12:31] spark-c commented on #18082
@danciaclara Do you have an opinion for this case?

[2022-11-03 12:36] vuiets commented on #18082
Thanks @spark-c, @danciaclara just shared why.

[2022-11-03 12:46] ankitakinger opened #18084 "[Bug]: Inviting user groups with same name via invite modal suggestions invites only 1 user group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Inviting user groups with same name via invite modal suggestions invites only 1 user group

### Steps To Reproduce

1. Go to Home page
2. Click on share button of any workspace
3. Make sure you have user groups created using RBAC
4. Also, make sure you have at least 2 user groups with the same nam

[2022-11-03 13:15] dhruvikn commented on #17159
One more scenario where revalidation is not working, [documented here](https://github.com/appsmithorg/appsmith/pull/17652#issuecomment-1302094027).

[2022-11-03 13:54] btsgh commented on #17998
Verified in release-ee and found to be fixed.

[2022-11-03 15:04] metrljy commented on #9700
Also would like this feature added to connect using tls in mongoDB

[2022-11-03 16:31] marijasiol opened #18086 "[Bug]: submitting password reset fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On a self-hosted instance, when a user tries to reset their password an email is sent and the link in the email navigates to a password reset page. When submitting a new password an `Internal server error` message appears.

### Steps To Reproduce

1. go to `<host>/user/forgotPassword`
2. type in r

[2022-11-03 17:13] ankitakinger commented on #16740
Part of the changes are in another PR, hence re-opening the issue.

[2022-11-03 19:30] ChBrockmann opened #18088 "[Feature]: Allow mutation of JS object variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hey there,

I was recently reading about the [JS objects inside Appsmith](https://docs.appsmith.com/learning-and-resources/how-to-guides/how-to-use-js-object-within-appsmith) and I got quite confused.

In the documentation there are two values `myVar1` and `myVar2` declared which can be used in any co

[2022-11-03 20:17] MrChrisRodriguez opened #18089 "[Feature]: Sort database tables by name in Datasources list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

What a database is loaded as a datasource, all of its tables are listed out of order. Since this is a long list, it can make specific tables hard to find. Instead, the list should be alphabetically sorted.

![unsorted list](https://p141.p3.n0.cdn.getcloudapp.com/items/WnuDjwO5/94314e67-fb7c-4f18-823c-

[2022-11-03 21:44] bamboowonder opened #18090 "[Bug]: Postgres coalesce() function crashes Appsmith"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This select works correctly:  SELECT * FROM users where coalesce(gender,'') = 'male'

This select fails while typing it in with a toast notification "Cannot read properties of undefined (reading 'status')"
select coalesce(gender,'') as gender from users

while **sometimes** it works with a space a

[2022-11-03 21:50] felix-appsmith opened #18091 "[Feature]: Add authentication to Snowflake via SSO"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We could investigate the possibility of adding SSO authentication functionality to data sources that support that authentication method, specifically Snowflake.

You can review the official snowflake documentation on SSO at the following link, [snowflake docs.](https://docs.snowflake.com/en/user-guide

[2022-11-04 04:00] spark-c opened #18092 "Youtube embed size not responsive on docs website"

[2022-11-04 04:04] #18092 closed

[2022-11-04 04:52] ashit-rath commented on #17986
Verified; works with v2

[2022-11-04 04:52] #17986 closed

[2022-11-04 05:55] #17550 closed

[2022-11-04 05:56] sondermanish opened #18094 "[Task]: Add relevant analytics instrumentation to multiple environment CRUD API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-11-04 06:09] #16844 closed

[2022-11-04 06:15] #17367 closed

[2022-11-04 06:15] #17954 closed

[2022-11-04 06:26] dilippitchika opened #18097 "[Feature]: Add a tooltip property to the following widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a tooltip property similar to input widget to the following widgets
1. Select family - Select, Multi-select, tree-select, multi-tree-select
2. Datepicker

### Why should this be worked on?

Helps our devs inform users with more details on the widget

[2022-11-04 06:42] andrewdietekoki opened #18098 "Default Filters for the Table Widgets"
Default filters

When all the data is client side, devs don’t want to restrict anything on filters for users. Workflows this will enable

1. Having standard filters which the users can quickly apply, these standard filters can be given by dev
2. Having url parameters for the table, which can be applied by default making the app stateful
3. Having users define their filters and allowing them to sav

[2022-11-04 06:47] shastryblr commented on #6293
[Infinite scrolling designs ]

[figma](https://www.figma.com/file/aky4eMolJPQSUIBe9VzwW3/List-widget-Infinite-scrolling?node-id=200%3A7739)

loom & reasoning wip

[2022-11-04 06:47] dilippitchika commented on #18097
## Objective
- Allow developers to further inform the users about the choices about a widget

## Changes needed
- Add a new property called "Tooltip" in the general section
- This property should be above the placeholder section for select widgets
- This property should be in the "General" section and the first property in that section
- Follow the same logic on displaying tooltips in the widget a

[2022-11-04 06:48] rohan-arthur commented on #17974
happens only some times, some observations:
1. each time this happened, it was for a new app
2. out of 10 tries, I saw the error 4 times

[2022-11-04 06:53] rohan-arthur commented on #17912
@aakashDesign should the back button simply go `back`, i.e., the original source of the navigation? If it is more desirable to always navigate to the canvas, should the title of this button be something else like (bad example) `Go to Canvas'?

[2022-11-04 06:53] ChandanBalajiBP commented on #17748
@sribalajig Have a few doubts and need clarification from your side
1. How many users clicked on the debug link on the toast message -
I am not able to find any suitable toast message where debug link is provided, can you please share some examples?
2. How many users looked at the error in the logs -
This event should be captured when the user clicks on the error tab or should we also check whethe

[2022-11-04 06:53] ramsaptami opened #18099 "[Bug]: Events/action fields are not consistently placed on the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Event/actions fields are not consistently placed on the property pane leading to confusion to both existing and new users. Some of them are placed under `Events`  heading and the others are place under other related fields as seen in the screenshots attached.

### Steps To Reproduce

Examples:

Tr

[2022-11-04 07:12] Nikhil-Nandagopal commented on #18089
@MrChrisRodriguez thanks for the feature request! That does make sense and we're looking into how we can make the schema more discoverable as well

[2022-11-04 07:25] btsgh commented on #17974
More observations - I am unable to see the internal server error, however, though I am able to select the Spreadsheet, and the sheet, I get an error as per this image.  And I see the same behavior on Prod too!!! This I am able to reproduce consistently.
<img width="1440" alt="Screenshot 2022-11-04 at 12 55 01 PM" src="https://user-images.githubusercontent.com/101863839/199916469-83830bf3-a09d-4297

[2022-11-04 07:34] bhuvanaindukuri commented on #18052
@tanvibhakta - Are these changes applicable for a specific theme or the requirement is to update the default theme itself?

[2022-11-04 07:37] Nikhil-Nandagopal commented on #18088
Thanks for the feature request @ChBrockmann ! We do have this tracked here #14568

[2022-11-04 07:37] Nikhil-Nandagopal commented on #18088
@bharath31 @ApekshaBhosale can we look into solving this?

[2022-11-04 08:20] Nikhil-Nandagopal commented on #18086
@kocharrahul7 I'm able to reproduce this as well. Can we please get someone to fix this?

[2022-11-04 08:23] kocharrahul7 commented on #17864
Hey @alinaepanaite Thanks for reporting this. We are working on this issue, and will try and get it fixed as soon as possible

[2022-11-04 08:28] Nikhil-Nandagopal commented on #17926
@jondoering this should work if you turn off the prepared statement option in the query

[2022-11-04 08:28] #17926 closed

[2022-11-04 08:29] sumitsum commented on #17974
Removing `release blocker` tag since I am able to reproduce the same issue on prod as well with a older datasource. Primary investigation reveals that `refresh token` flow is failing on cloud services with the following error:
[code]

[2022-11-04 08:46] btsgh opened #18102 "[Bug]: On trying to create a Gsheets page using the "Generate Page from data table" - Unexpected format for table header index error pops up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to create a G-sheets page (the datasource should be existing for it to populate in the Select Datasource list) using the "Generate Page from data table" - on choosing the spreadsheet, and then the sheet,  **Unexpected format for table header index error pops up**.

### Steps To Reproduc

[2022-11-04 09:19] sribalajig commented on #13284
@sullo can I check with you on whether you are still seeing this issue? Checking because the original issue was opened back in April and we are unable to reproduce this on the latest version of Appsmith with a sample app containing large data. Thanks.

[2022-11-04 09:19] dilippitchika commented on #18099
@ramsaptami this is intentional because if an event is linked to some other properties users were finding it hard to discover what to do next for example onRowSelected event will only make sense if the user is enabling row selection.

Has a user raised this issue of not being able to discover something?

https://www.notion.so/appsmith/Property-Pane-tabs-rules-properties-etc-b60821925884420f85f198e

[2022-11-04 10:02] rohan-arthur opened #18103 "[Epic]: Improve datasource experience"
### Objective

_tbd_, will be scoped from [here](https://www.notion.so/appsmith/Unleashing-Datasources-9d8ad7b0ed654e719a5b703f22c5a0fe)

### Success Metrics

| Metric         |
| -------------- |
| Customer satisfaction score increases  |
| Decrease churn rate down to 30%        |

### Prioritised User Stories

| User Story    |
| ------------- |
| e.g. as a user, I want to be able to access the

[2022-11-04 10:05] keyurparalkar commented on #17214
All the callouts mentioned in this [comment](https://github.com/appsmithorg/appsmith/pull/17932#issuecomment-1303085733) will be handled in the actual map widget development.

CC: @chandannkumar @dilippitchika @somangshu @ashit-rath

[2022-11-04 10:07] rohan-arthur commented on #17690
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 16000 |
| Effort (months)  | 0.25 |

[2022-11-04 10:47] bharath31 commented on #17690
@rohan-arthur heads up-- this is similar to https://github.com/appsmithorg/appsmith/issues/6259 which is already a part of the [Evaluated Pane Improvements epic](https://github.com/appsmithorg/appsmith/issues/17463) on the FECoders Pod roadmap.

[2022-11-04 10:56] Rhitottam commented on #17121
@SatishGandham i think this one can be closed.

[2022-11-04 11:07] ashit-rath opened #18105 "Task: List v2 - Server side pagination - flashing rows on page change"
When server side pagination is enabled, and the next page is clicked; the rows flash multiple times before settling on the new page rows
https://www.loom.com/share/837e0f2ed750498ea89464d560d7b53b

[2022-11-04 11:11] ashit-rath opened #18106 "Task: List v2 - Canvas meta widget is generated multiple times"
If a debugger is placed just before `modifyMetaWidgets` call, it is found that the canvas widget with the same props is present in `addOrUpdate` option of `modifyMetaWidgets`. This will cause to execute unnecessary evaluations.

[2022-11-04 11:29] Richarex commented on #16119
This is working fine, verified it on release.

[2022-11-04 11:33] ChandanBalajiBP commented on #17748
OPEN_DEBUGGER is an event which is logged on the opening error log in the widget editor pane/API pane/JS Editor/Query Pane. It was missing in a few places, have updated them. This is the same event for the first point(Debug button in toast) also.

[2022-11-04 11:44] sharat87 commented on #18086
@marijasiol, thank you for reporting this. I'm currently working to fix this.

From what I could see, when we submit the reset password form with the new password, we see an error message. However, if you open Appsmith in a new tab, and attempt to login with your new password, you should go through. The password reset is _actually_ happening. What seems to be failing is communicating that back to

[2022-11-04 12:10] ramsaptami commented on #18099
Hey @dilippitchika, the logic behind the new grouping, albeit noble, isn't well communicated. Let me explain what I experienced and consequently saw other QA members point out in a group session.

- When I first saw the new grouping on the **table widget**, the reshuffle made sense since related trigger fields followed the fields I was editing
- Then I opened up property pane for **select**, **rad

[2022-11-04 12:35] rohan-arthur opened #18107 "[Feature]: rename actions for REST and GraphQL in datasource pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

![copy](https://user-images.githubusercontent.com/94514895/199973783-40e57ed3-7d3a-4b75-8be9-a575e99d21fb.png)

rename `Create new API` to `REST API`
rename `Create new GraphQL API` to `GraphQL API`

### Why should this be worked on?

wrong copy, aesthetic issue
https://theappsmith.slack.com/archives/

[2022-11-04 12:36] tejasahluwalia commented on #18005
Received a response from Equally.ai

This fixes the problem, so closing the issue.

[2022-11-04 12:36] #18005 closed

[2022-11-04 12:44] sharat87 commented on #18086
Partially fixed in https://github.com/appsmithorg/appsmith/pull/18108.

[2022-11-04 12:54] jnikhila commented on #16603
@spark-c - Do you think we can merge the #13804 issue?

[2022-11-04 12:56] spark-c commented on #16603
Sounds good, I think this will resolve that older issue also.

[2022-11-04 13:02] andredealmei commented on #518
we need this

[2022-11-04 13:29] NandanAnantharamu opened #18109 "[Bug]: Container widget when changed from Fixed -> Auto Height having some issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

when we change the option to fixed from Auto height i am not allowed to drop where i want the widget to be dropped , rather i have to begin dropping from the previously present height of the container

### Steps To Reproduce

1.Drag and drop a container widget.
2.Make sure the widget is having fix

[2022-11-04 13:42] sullo commented on #13284
After that problem I changed how the application works so that is no longer
a problem. So I am unable to test it again.

On Fri, Nov 4, 2022 at 5:19 AM Sri Balaji Gopinath ***@***.***>
wrote:

--

https://cirt.net     |      https://rvasec.com/

[2022-11-04 19:44] ame-appsmith opened #18110 "[Bug]: Error 'currentItem is not defined' When Running Multiple Queries with currentItem Sent as Parameter onListItemClick in a List Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When running multiple queries in the onListItemClick event of a List widget and sending currentItem as parameter, only the first query runs correctly. The next one fails, showing the error `Uncaught Promise Rejection: currentItem is not defined`.
![image](https://user-images.githubusercontent.com/

[2022-11-04 19:45] ame-appsmith commented on #18110
https://app.frontapp.com/open/msg_1gan8w24

[2022-11-04 21:48] felix-appsmith opened #18112 "[Bug]: 0auth2 cannot add the token parameter dynamically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A data source created with OAuth 2.0 does not work because the verification token is not passed dynamically to the URL.

It tries to pass the authentication token as a parameter, but it doesn't work because it passes the parameter as `access_token` when this parameter should be passed as a `token`

[2022-11-05 06:09] bhuvanaindukuri commented on #18107
PR : https://github.com/appsmithorg/appsmith/pull/18114

[2022-11-05 07:20] andrewdietekoki opened #18115 "Table columns misaligned to headers when filter returns no result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I created an app on Appsmith that has a table widget with filtering enabled. When I set the filter conditions and not result is returned, the table column becomes misaligned to the headers. When you drag the columns width it continue to stay misaligned.

![appsmith-table-filters](https://im.ezgif.

[2022-11-05 09:54] #13672 closed

[2022-11-05 12:09] osangenis opened #18116 "[Bug]: Cannot update from 1.8.5 to v1.8.7 Mongo Migration failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I upgrade Docker image appsmith/appsmith-ce:v1.8.6 to v1.8.7 **mongo** fails to start.

The root cause seems to be:
[code]

There is a similar issue --> https://github.com/appsmithorg/appsmith/issues/17848

⚠️  the upgrade from  appsmith/appsmith-ce:v1.8.5 to  appsmith/appsmith-ce:v1.8.6 work

[2022-11-05 19:49] riodeuno opened #18118 "[Feature] Widget non-serialisable properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- [ ] Add a feature to allow widgets to have functions or other non-serialisable properties
- [ ] Implement this for the `canvasHeightOffset`

### Why should this be worked on?

If a widget has non-serialisable properties, they can't be stored in redux store nor can they be directly sent to the worker

[2022-11-06 13:23] patelbhavinoutlook opened #18122 "[Bug]: Upgrading Appsmith has broken the application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hello,

Appsmith install with docker-compose. Upgraded with below command.

docker-compose pull && docker-compose rm -fsv appsmith && docker-compose up -d

But faced an issue and application does  not start..

Logs as below:

As attached..
[backend-73a829f134bd.log](https://github.com/appsmithorg/

[2022-11-07 01:15] manikumarnune123 opened #18123 "[Feature]: OPC UA data source support."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be great if the OPC UA data source is added which is similar like [Grafana OPC UA data source ](https://grafana.com/grafana/plugins/grafana-opcua-datasource/) .

### Why should this be worked on?

Many industries uses OPC UA as one of theirs mostly used data source . Directly customers can us

[2022-11-07 04:01] findzhangvvv opened #18124 "[Bug]: js/sql not execute on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I define a variable in the js action and the name of the js file is repeated, the js/sql will not be executed when the page is loaded. This is not necessarily repeated, but most of the time my web page cannot load data. I checked and read the appsmith code, and now I have some conclusions
1.

[2022-11-07 04:09] jguce-supportninja commented on #17567
also experiencing this error

[2022-11-07 04:18] jguce-supportninja commented on #18122
also experienced this

[2022-11-07 05:55] jguce-supportninja opened #18125 "[Bug]: JS Object is not updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Whenever I try to modify a JS Object It does not save, I have checked the logs and saw this error.
[code]

### Steps To Reproduce

1. Open an existing JS Object or create a new one
2. make a couple of functions
3. make changes via copy and paste

### Public Sample App

_No response_

### Issue vid

[2022-11-07 05:58] jnikhila commented on #15478
As with the new Docusaurus website - we were able to achieve this.

[2022-11-07 05:58] #15478 closed

[2022-11-07 08:38] ofsantana commented on #16877
Thank you guys for accepting this suggestion.
I have several apps, with Front-end on Appsmith and Backend on NocoDB, using API REST, of course, so if you need any test at any moment, I'll be happy to help.

[2022-11-07 09:38] sbalaji1192 commented on #17022
@shadabbuchh This is the default browser behavior. omitting the protocol will redirect to a page with the URL appending to the current window URL.

CC: @dilippitchika .

[2022-11-07 10:25] beckerrobin commented on #15056
@bharath31 Can you confirm that this is still being worked on?

[2022-11-07 11:16] Richarex commented on #17436
- [ ] Switching between **Datasources** & **Connections** from api1 to api2 and navigating back to api1 it is not retaining it's previous position. Please refer to the attached video:- https://jiju8jbmwa.vmaker.com/record/qNCfLX6eqmlRl55B

- [ ] Under **Connections** section when we **Add new widget** dropdown in api1 and switching to api2 the same is getting reflected. Please refer the attached v

[2022-11-07 13:03] spark-c commented on #16298
PR is waiting on review, available [here](https://github.com/appsmithorg/appsmith-docs/pull/547)

[2022-11-07 13:31] spark-c commented on #18082
Resolved by merged [PR 543](https://github.com/appsmithorg/appsmith-docs/pull/543)

[2022-11-07 13:31] #18082 closed

[2022-11-07 13:32] spark-c commented on #16048
Asked pranav about status of the sample app since it was a bit confusing without instructions for users

[2022-11-07 14:47] kshep92 commented on #2836
@sribalajig Good news, but I'm curious as to why you can't have environments other than staging and production? According to this discussion on the Retool forum, it's quite a useful feature https://community.retool.com/t/ability-to-create-more-environments/2048/39

[2022-11-07 16:50] agaitan026 opened #18131 "[Template]: Complete inventory management system"
### Title

Complete inventory management system

### Objective

have a template with the following functions:

1. add / update / delete master data
2. stock transfer to another location
3. add / update / delete locations
4. add initial inventory or stock to an item
5. stock report, know how many stock on each location

### Wireframes

n/a

### Validation criteria

data should be stored on mysql or

[2022-11-07 18:26] micael-pn commented on #18116
Hello,

Same issue here when upgrading from 1.8.4 to 1.8.7

<details>
<summary>Stack trace</summary>

[code]
</details>

Regards

[2022-11-07 22:57] makulais commented on #7757
Use Case:

User has to enter data in each of the fields shown, in order, top to bottom, left to right. Without the ability to control tab functionality, it is extremely slow and difficult to move to the next field in sequential order as it requires mouse actions, then keyboard actions for entry at each field.

![image](https://user-images.githubusercontent.com/34661597/200432346-65e91d04-f707-456e

[2022-11-08 05:14] nzidol commented on #17240
Hmm regression??? I had to go through all my aggregations and turn the "smart" BSON switch off to get them to work again.... All worked around Sep 20th, usually pick up new Appsmith version within 3 or 4 days.

[2022-11-08 08:40] jmvizcainoio opened #18133 "[Bug]: Timeout updating layout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i trying rename a object i get a timeout.

[code]

[2022-11-08 08:30:07,800] userEmail=xxxx.xxxx@iomed.es, sessionId=68a3add3-9773-4948-abeb-bc8982062c4e, thread=nioEventLoopGroup-3-7, requestId=0b1dde9f-3f3c-4b0a-abc6-873ad09b3c4f - Actions updated due to refactor name in page 61236a953d7048

[2022-11-08 11:16] Richarex commented on #17501
- [ ] Navigate to this location Displaying Data (Read) > Transforming Data > click on any link under the transforming section
page not found error is displaying is this expected?
![image](https://user-images.githubusercontent.com/93259714/200542775-3f16f18c-8ac8-4c8d-835e-693f62ab3d88.png)

[2022-11-08 13:14] Schniemax commented on #17617
Im sorry for the late response. Our use case is the following:

We have created a MongoDB Collection, which we are using as a storage for configuration settings for several projects. We want to use appsmith for editing the configuration within the browser (basically some user-friendly simplified sort of replacement of MongoDB Compass).

Therefore a table for each collection of configurations is cr

[2022-11-08 15:21] #16937 closed

[2022-11-08 16:35] jdglacier opened #18136 "[Feature]: Separate label for Canada Country Code on Phone Input Fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

On the Phone Input Widget, add a separate country code to the drop-down list  for Canada to ensure the label is properly displayed on forms.

![image](https://user-images.githubusercontent.com/111010738/200621069-bdb32e1c-be8c-41d7-8f6b-1dff8f06f127.png)

### Why should this be worked on?

Even though

[2022-11-08 17:21] jdglacier commented on #7757
Any update on this?

[2022-11-08 22:04] carbonara-mac commented on #3600
I'm taking a class on Software Architecture and this would be perfect for my class. Is this issue still up for grabs?

[2022-11-09 05:12] jnikhila commented on #17501
@Richarex - The[ links are working](https://www.loom.com/share/1ab51ceccb1b48c7aea54ba73dd44407). Could you please record a loom video and share it?

[2022-11-09 06:29] bharath31 commented on #15056
Update: It turns out this is a slightly complicated bug to fix. We have a couple of ideas on the table but we need more time to come up with the right solution. We'll have more updates on this next week.

[2022-11-09 07:26] Richarex commented on #17501
@jnikhila it started working yesterday they were not working.

[2022-11-09 07:49] jnikhila commented on #17501
@Richarex - If you face the same issue again, please record a loom video and share.

[2022-11-09 09:12] thebadking commented on #9577
I would also like this feature implemented

[2022-11-09 09:36] akash-codemonk commented on #17501
Have fixed the link

Not a bug in the omnibar as the link works the same on docs site https://docs.appsmith.com/help-and-support/troubleshooting-guide/
@Richarex

[2022-11-09 10:26] dahakim commented on #3095
Definitely agree.

[2022-11-09 10:58] beckerrobin commented on #15056
I fully understand. It's nice to hear that it's still being worked on. Keep up the good work!

[2022-11-09 13:23] jnikhila commented on #16039
@sharat87 / @sum35h - Could you please add pointers to help document this?

[2022-11-09 14:21] yan-hic commented on #18097
I would extend the tooltip feature to all/any widget requiring user input or action e.g. button.
This would save screen real estate by not displaying explicit instructions.

A little indicator in the corner of the widget would help tell the user there is something about it.

[2022-11-09 18:30] keisyd commented on #15258
I agree. Here in Brazil the thousands are not comma separated, so I will no longer be able to use the widget...

[2022-11-09 19:35] bobbintb commented on #9240
I don't know if this along the same lines or a different issue altogether but being able to modify the sort rules for a column, independent of the displayed value. In my situation, I have a column for file size, in bytes. Easy to sort, difficult to read. I have a function that will change it to KB, MB, etc, but it kills the sorting ability.

[2022-11-09 19:39] felix-appsmith opened #18138 "[Bug]: Unable to generate a crud app from a Google Sheets data source."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Attempting to generate a crud app from a Google Sheets data source but failing with the following error

![image](https://user-images.githubusercontent.com/114161539/200924027-8cd5ea87-a542-4b11-90be-f5b50be96e28.png)

### Steps To Reproduce

1. Connect a Google Sheets data source to your app

2.

[2022-11-09 21:02] ame-appsmith opened #18139 "[Bug]: DatePicker Display Issue in Table Widget Column Filters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When trying to apply a filter on a **Date** column of a Table widget, the date picker is displayed inside the filter pop-up and is not completely visible (see screenshots).
![image](https://user-images.githubusercontent.com/101268423/200940649-52836ac4-ea20-4a07-a139-2c7db634573b.png)
![image](htt

[2022-11-09 21:38] ame-appsmith opened #18140 "[Bug]: Options of Select Field Inside JSON Form Displayed Incorrectly While Scrolling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If there's a Select type of field in a JSON Form towards the bottom, the options menu either gets displayed outside the form or jumps into another position and gets misaligned when scrolling. This happens in both edit and deployed mode.
![appsmith2222](https://user-images.githubusercontent.com/101

[2022-11-10 07:54] akash-codemonk commented on #17436
Fixed

We are not storing dropdown states, so it is not a bug. We are only storing the tab selections.

[2022-11-10 08:47] Richarex commented on #17438
- [ ] The the furl & unfurl state is not getting retained while switching and navigating back to the datasource page. Please refer the attached video:- https://jiju8jbmwa.vmaker.com/record/CqDwNAN4PY0SZRwO

[2022-11-10 10:08] GENL opened #18143 "[Feature]: Add "selected option object" for Select widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi! The Select widget only provides the `selectedOptionValue` and `selectedOptionLabel` which is good but we must also have `selectedOption` which is priceless in many cases.

### Why should this be worked on?

The Select widget only provides the `selectedOptionValue` and `selectedOptionLabel` which i

[2022-11-10 13:59] felix-appsmith commented on #17730
To solve this issue, the `Route Prefix` and `Destination encoding` has been disabled.

[2022-11-10 14:08] felix-appsmith commented on #17527
This issue was fixed by displaying a default value on the input that was overridden and then deleting that value, that fixed the issue.

[2022-11-10 19:35] makulais opened #18144 "[Feature]: Javascript Object Search Function (TODO)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Search/replace function for JS Objects, queries and widget parameters/setting that has selectable scope for object level, page level, and application level.

### Why should this be worked on?

In a larger application with multiple pages and multiple JSObjects with multiple functions in each one, it be

[2022-11-10 19:40] makulais commented on #18144
As seen, the current search function does not free text search, nor will it search inside functions. It will only navigate to functions by name.

![image](https://user-images.githubusercontent.com/34661597/201190341-080d37bd-fe25-4bb0-b8f0-c09af5e3985e.png)

[2022-11-11 05:48] chandannkumar commented on #16743
Changes made only in widgets and not on JSON form in the PR mentioned in this issue
https://github.com/appsmithorg/appsmith/pull/17725#issue-1415026071

[2022-11-11 06:48] chandannkumar commented on #11142
JS toggle is not added for Button Group widget
![image](https://user-images.githubusercontent.com/95341241/201280089-9bc8549f-9a66-40b8-a1e5-9da29dda4f56.png)

Verified JS toggle on Button, Menu Button & Icon Button

[2022-11-11 07:06] ofsantana opened #18145 "[Bug]: Connection with Github got stuck and I can't Deploy new changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Once an App is connected to Github, if I return to that app several days after the successful connection and make some changes, the screen to Commit the changes got stuck and I can't commit and of course release the new changes, the only thing that works is to disconnect the app from Git.

### Ste

[2022-11-11 10:31] Richarex commented on #17439
- [ ] The cursor position is not getting maintained on the edit state of datasource page. Please refer to the attached video:- https://jiju8jbmwa.vmaker.com/record/oYrZVN7737qEQHuD

[2022-11-11 14:22] gguille077 commented on #12353
this would be just great

[2022-11-11 14:22] aswathkk opened #18147 "[Bug]: Unable to use some identifiers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Appsmith, we are unable to use any identifiers that are already there inside [evaluate.ts](https://github.com/appsmithorg/appsmith/blob/14159c5593ea15945a0772ed6b5fa43c6d4f34af/app/client/src/workers/Evaluation/evaluate.ts) file since they are exposed to `evaluate` function. This leads to a lot

[2022-11-11 15:38] ame-appsmith opened #18148 "[Bug]: currentRow is undefined Inside the Options Property of a Select Column of a Table Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The user has an editable **Select** column inside a **Table** widget. If trying to use `currentRow` inside the **Options** property of the **Select** column, the error `currentRow is undefined` displays, hence it is not possible to conditionally set the **Options** of the **Select** column based o

[2022-11-11 15:53] benthielker commented on #11403
Is it possible to intentionally select the parent row of the button clicked?

[2022-11-11 17:13] sbalaji1192 commented on #11403
@benthielker You can use the `Table.triggeredRow` property to access the parent row when a button is clicked. you need to bind some action to the button in order for the triggeredRow to get populated.

[2022-11-11 22:46] pearsonhenri commented on #4276
We're running into what appears to be a related issue: Redshift queries are timing out, and in the Appsmith logs, we're seeing things like this:
[code]

That [499 HTTP status code ](https://www.belugacdn.com/499-error-code/) seems to indicate that the client (Appsmith?) is terminating the request, perhaps due to some misconfigured connection leak detection (perhaps being triggered by longer-runnin

[2022-11-12 02:36] #17527 closed

[2022-11-12 02:37] #17730 closed

[2022-11-13 02:14] rohan-arthur commented on #18143
@GENL thank you for submitting this feature idea. To make it 100% clear, would you please share what the object should look like? Let's say:
`selectedOptionLabel` is `AU` and `selectedOptionValue` is `Australia`.

Meanwhile, are you able to unblock yourself? If not, you could try constructing the object in a JS function.

[2022-11-13 02:33] rohan-arthur commented on #18123
@manikumarnune123 thank you for submitting this feature request! We would love to work on this, but it will not be for a few months at least. In the mean time are you able to use REST to connect to your UA service?

[2022-11-13 04:22] sumitsum commented on #18138
Closing since it is a duplicate of https://github.com/appsmithorg/appsmith/issues/18102

[2022-11-13 04:22] #18138 closed

[2022-11-13 14:06] aswathkk commented on #18054
We named this section to be "Border and Shadow" for the sake of consistency.
@dilippitchika Do you think we should change this to just "Border"?

[2022-11-13 14:21] juandl opened #18149 "[Bug]: Internal server error, password reset"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

![image](https://user-images.githubusercontent.com/25650720/201526624-08fd9f6e-9adb-4744-b5f4-18b16079e67a.png)

### Steps To Reproduce

1. Request reset password
2. Click on the link email
3. Type the new password and submit
4. Error Internal appears

### Public Sample App

_No response_

### Iss

[2022-11-14 01:53] sribalajig commented on #17675
@SauerWorkflow thanks for posting this. Can you please provide an example of what exactly you are looking for? Thanks.

[2022-11-14 03:02] ayushpahwa commented on #17748
@ChandanBalajiBP @sribalajig Can you share the answers to the questions you have raised above? Asking for PR review. Thanks!

[2022-11-14 04:19] #12606 closed

[2022-11-14 05:37] danciaclara opened #18150 "[Bug]: Datepicker when inside the form widget does not give formatted date"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the Datepicker widget is inside a Form widget, the date when accessed using `FormName.data.DataPickerName` gives the selected date in ISO format instead of the formatted date.

You can access the formatted date inside the form directly like `DatepickerName.formattedDate` but users expect the

[2022-11-14 05:54] ChandanBalajiBP commented on #17748
The following are the answers to the above questions.

1. `OPEN_DEBUGGER` was the event which is already present in prod.
2. `OPEN_DEBUGGER` is the relevant event that was missing in a few events and has been added in the PR.
3. `DEBUGGER_RESOLVED_ERROR_MESSAGE / DEBUGGER_RESOLVED_ERROR` these events will suffice for this use case as we cannot keep track of the particular error is resolved.
4. Thi

[2022-11-14 05:58] arunvjn opened #18151 "[Task]: Reduce scripting time taken for typing in codemirror instances"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Scripting time for typing into code editor has increased since linting/eval split PR was merged.
Possible reason:
- Lint errors are now maintained in a separate tree.
- Code editor instances go through multiple renders since evalTree and lintTree update independently.

[2022-11-14 07:01] #17748 closed

[2022-11-14 07:22] ginilpg commented on #17864
@alinaepanaite We are extremely sorry for the difficulty you were experiencing. Unfortunately, we debugged the problem and were unable to reproduce it. We'd like to speak with you about this issue in order to learn more about it. It would be preferable if you could schedule a call with us. My calendly link is provided below.
https://calendly.com/ginil-pg/60min

[2022-11-14 07:27] ginilpg commented on #17864
Looks like a temporary issue happened due to API failure. We are unable to reproduce it. @NilanshBansal Try to Check the logs and find out more details

[2022-11-14 08:21] #17880 closed

[2022-11-14 08:59] juandl opened #18154 "[Bug]: Conflict in ports with RTS and App Server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If we change the PORT env on docker there's a conflict with RTS and App server as both have the same env name

App Server
https://github.com/appsmithorg/appsmith/blob/release/app/server/appsmith-server/src/main/resources/application.properties#L1

RTS Server
https://github.com/appsmithorg/appsmith

[2022-11-14 09:43] sumitsum commented on #6777
Closing this issue since our current ongoing implementation will also be able to handle this case as a general case.

[2022-11-14 09:43] #6777 closed

[2022-11-14 09:44] sumitsum commented on #6596
Closing this in favour of the new ongoing project.

[2022-11-14 09:44] #6596 closed

[2022-11-14 09:44] sumitsum commented on #5866
Closing this in favour of the new ongoing project.

[2022-11-14 09:44] sumitsum commented on #5738
Closing this in favour of the new ongoing project.

[2022-11-14 09:44] #5738 closed

[2022-11-14 09:45] sumitsum commented on #5728
Closing this in favour of the new ongoing project.

[2022-11-14 09:45] #5728 closed

[2022-11-14 09:45] sumitsum commented on #5727
Closing this in favour of the new ongoing project.

[2022-11-14 09:45] #5727 closed

[2022-11-14 09:45] sumitsum commented on #5726
Closing this in favour of the new ongoing project.

[2022-11-14 09:45] #5726 closed

[2022-11-14 09:45] sumitsum commented on #5725
Closing this in favour of the new ongoing project.

[2022-11-14 09:45] #5725 closed

[2022-11-14 09:45] sumitsum commented on #5716
Closing this in favour of the new ongoing project.

[2022-11-14 09:45] #5716 closed

[2022-11-14 09:49] sumitsum opened #18155 "[Feature]: [Custom JS Lib] Create empty controller"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Create a controller class so that the following endpoints can added later - add, delete, fetchAll.

### Why should this be worked on?

To enable custom JS lib feature.

[2022-11-14 09:52] sumitsum opened #18156 "[Feature]: [Custom JS Lib] Add endpoint to install a new library"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add endpoint to install a new library.

### Why should this be worked on?

To enable custom JS lib feature.

[2022-11-14 09:53] sumitsum opened #18157 "[Feature]: [Custom JS Lib] Add endpoint to delete an installed library"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add endpoint to delete an installed JS library.

### Why should this be worked on?

To enable custom JS lib feature.

[2022-11-14 09:56] sumitsum opened #18158 "[Feature]: [Custom JS Lib] Add endpoint to fetch all installed libs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add endpoint to fetch all installed libs.

### Why should this be worked on?

To enable custom JS lib feature.

[2022-11-14 09:58] sumitsum opened #18159 "[Task]: [Custom JS Lib] Add JUnit TC for endpoints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add JUnit TC for endpoints.

[2022-11-14 10:55] sumitsum commented on #14117
Another case was reported : https://theappsmith.slack.com/archives/C040LHZN03V/p1668423093195909

[2022-11-14 10:57] lmx1117 commented on #17831
thank you sooooooooo much, sorry for my late reply, but it seems that only admin(maybe?) can add labels, as a visiter i can't add it myself, but you have already added for me🫶

[2022-11-14 11:50] vishnu-gp opened #18161 "[Task]: Check usage of deleted param for soft delete action in the entire codebase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Recently we found there were issues happening because of the deprecated `deleted` param in entities for soft-delete operation. In the latest version, we only use `deletedAt` field for soft-delete. This task is to verify we are only using `deletedAt` in all places in the code and `delete` field is not creating issu

[2022-11-14 12:04] #17588 closed

[2022-11-14 13:52] danciaclara commented on #11847
Another user reached out today about this issue - https://discord.com/channels/725602949748752515/1041710823644594286/1041710823644594286

[2022-11-14 14:17] bharath31 commented on #18144
@makulais thanks for taking the time to submit this feature request. This has come up a few times in the past during our internal product discussions.

A couple of questions:
1. I'm curious to know the size of your app in terms of entities _(# of JSObjects, functions, queries, APIs, widgets)_.
2. Do you have custom JS code on widget actions? If yes, on average, how large are they in terms of lines

[2022-11-14 14:22] bharath31 commented on #17966
https://www.notion.so/appsmith/66473d684c1d4430aef3ae995bcbf4c4?v=98b8f4567cd24953928cc6509f16e3fa

[2022-11-14 14:30] bharath31 commented on #16916
@ApekshaBhosale @ramsaptami could we close this issue if incorrect API response is preventing widget updates?

[2022-11-14 14:41] bharath31 commented on #17785
could be related to https://github.com/appsmithorg/appsmith/issues/14755
cc: @ApekshaBhosale

[2022-11-14 15:29] ramsaptami opened #18162 "[Docs]: Add documentation for postWindowMessage framework function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

[This](https://github.com/appsmithorg/appsmith/pull/14925) PR introduces `postWindowMessage()` function to Appsmith and requires related documentation added to the repo

### Describe the improvement

![image](https://user-images.githubusercontent.com

[2022-11-14 15:38] ramsaptami opened #18163 "[Docs]: Add documentation for setTimeout framework function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

setTimeout framework function was added recently and relevant documentation should be added

### Describe the improvement

https://github.com/appsmithorg/appsmith/pull/17445

[2022-11-14 15:56] makulais commented on #18144
Bharath,

Sounds like the easiest way to answer that is to send you a copy of one
of my application workspaces. Suffice to say, this is one of a projected
10-15 workspaces, although it is one of the larger of them, there are
some complex pieces in the others also.

I would prefer not to have this on github, so if you can send me an
email I can send this to that will not publish it there, I will se

[2022-11-14 16:17] #16916 closed

[2022-11-15 05:35] jnikhila commented on #16039
Awaiting for a response from @sharat87 / @sum35h

[2022-11-15 06:09] #14136 closed

[2022-11-15 06:09] sribalajig commented on #14136
@subrata71 can you please link the duplicate issue if available.

[2022-11-15 06:20] #17598 closed

[2022-11-15 06:20] #17670 closed

[2022-11-15 06:20] #18015 closed

[2022-11-15 06:20] #18016 closed

[2022-11-15 06:20] #18011 closed

[2022-11-15 06:20] #18013 closed

[2022-11-15 06:29] sribalajig commented on #8784
@subrata71 @btsgh can you please check if this issue is still valid?

[2022-11-15 06:31] sribalajig commented on #12731
@subrata71 @btsgh can you please check if this issue is still valid?

[2022-11-15 06:36] Pranay105 opened #18167 "[Docs]: Update info about EE in Git documentation"

[2022-11-15 06:42] sumitsum commented on #16670
@appsmithguru can you please check out the comment here before raising the PR : https://github.com/appsmithorg/appsmith/pull/16687#issuecomment-1246637097 cc: @sondermanish

[2022-11-15 07:12] subrata71 commented on #12731
This issue is about losing leading zeros. This has already been handled by https://github.com/appsmithorg/appsmith/issues/17072. I think we can close this issue.
@sribalajig

[2022-11-15 07:16] subrata71 commented on #8784
If the target column in the database is of type integer and the input comes from an input widget, then the input widget must be of Number type.
As Postgres is very strict with data types, the user must ensure the value provided to a Postgres column must match the same type.

The issue is not valid considering the above fact.
@sribalajig

[2022-11-15 07:18] spark-c opened #18168 "[Docs]: Table widget inline editing should no longer have "custom mode""
The [Inline-Editing page](https://docs.appsmith.com/reference/widgets/table/inline-editing) of the Table widget docs has information about a "Custom" update mode, which no longer exists; the options should now only be "Single Row" and "Multi Row" modes.

[2022-11-15 07:19] sumitsum commented on #8784
@subrata71 APMU, the goal here could be to look at the column type that we already have and use that type instead of the inferred type.

[2022-11-15 07:25] subrata71 commented on #8784
This looks like a valid ask for the DB schema project where we are supposed to leverage the information of the underlying schema. @sumitsum

[2022-11-15 07:52] saran-ravi commented on #14117
I was facing this issue recenlty during this week, Too many idle connections were opened by single page of appsmith so If multiple users are using it then database quickly reaches maximum connection limit and appsmith pages becomes unresponsive.

The same issue was obeserved during the end of september 2022 and when I tried to reduce the idle_session_timeout it helped then but this time it did not

[2022-11-15 08:06] spark-c opened #18170 "[Docs]: Table | Inline-Editing | Rehaul"
Here are some action items for this page:

- Consider appropriate structure for introducing all topics, i.e. editing cells, edit modes, updating rows, adding new rows
- Page has information about a "Custom" update mode, which no longer exists; the options should now only be "Single Row" and "Multi Row" modes.
- The "What's next?" section should be either something like tutorials or articles , comm

[2022-11-15 08:11] spark-c commented on #18168
Closing this ticket, combined as an item on #18170

[2022-11-15 08:11] #18168 closed

[2022-11-15 08:46] hillyzhu opened #18171 "[Feature]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The Mysql plugin does not use the connection pool, unlike Postgres Plugin using the HikariPool

### Why should this be worked on?

For better performance, it is suggested that the Mysql Plugin can use the connection pool

[2022-11-15 08:55] prapullac commented on #17279
Working as expected in the Local hence moving it to done state

[2022-11-15 10:06] hetunandu opened #18173 "[Task]: Make widget selection happen if the URL changes"
## Description

Widget selection is a complicated feature. Depending on how and where a selection happens, the system handles and controls differently. There is also a hierarchy in widgets with containers, hidden via UI states with modals and tabs, and ability to select multiple widgets at once.

Overtime we have added a lot of these features in a way that there is not a single way for the platfor

[2022-11-15 12:53] bharath31 commented on #9369
@ohansFavour I noticed that we tried adding support for this but the [PR](https://github.com/appsmithorg/appsmith/pull/15135) was closed. Does it need more work? If yes, could you share an estimate?

[2022-11-15 13:03] bharath31 commented on #11899
tracking this under the main feature https://github.com/appsmithorg/appsmith/issues/11899

[2022-11-15 13:05] #17087 closed

[2022-11-15 13:05] bharath31 commented on #17087
Duplicate of #4789

[2022-11-15 13:09] bharath31 commented on #17684
Related to #9480

[2022-11-15 13:21] bharath31 opened #18175 "Remove sync v/s async function differentiation"

[2022-11-15 13:28] bharath31 commented on #3027
@rimildeyjsr could you check this as a part of the action selector refactor epic?

[2022-11-15 13:39] #9087 closed

[2022-11-15 13:41] bharath31 commented on #14916
not able to reproduce this anymore

[2022-11-15 13:41] #14916 closed

[2022-11-15 13:47] bharath31 commented on #12226
not reproducible anymore

[2022-11-15 13:47] #12226 closed

[2022-11-15 13:51] bharath31 commented on #14967
Duplicate of #9369

[2022-11-15 13:53] #11904 closed

[2022-11-15 14:21] kamakshibhat-appsmith opened #18177 "[Bug]: The country code flags doesn't appear in Windows machine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The flags for the country codes doesn't appear in windows machine

### Steps To Reproduce

1. DnD phone widget in windows machine
2. Check the property pane for Default country code
![image (2)](https://user-images.githubusercontent.com/113327629/201942642-4725caa2-c030-40ba-abd2-f8c0d5db0a62.png)

[2022-11-15 14:27] bharath31 commented on #14562
@satbir121 this seems like a quick fix

[2022-11-15 14:36] bharath31 commented on #11517
not reproducible anymore

[2022-11-15 14:46] bharath31 commented on #12687
@satbir121 this is super confusing and I've run into this issue a couple of times

[2022-11-15 14:48] bharath31 commented on #9783
@ApekshaBhosale could you add an RCA here?

[2022-11-15 15:09] bharath31 commented on #13983
Assuming users who perform `WIDGET_PROPERTY_UPDATE` with `updatedValue` containing `['` face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 533 |
| Effort (months)  | 1 |

[2022-11-15 15:11] bharath31 commented on #13983
@Rishabh-Rathod IMO, we should support autocomplete for both `.` and `[]` property accessors. I would suggest creating an issue on [ternjs/tern](https://github.com/ternjs/tern). Could we also list down alternate approaches to get this working?

[2022-11-15 15:17] bharath31 commented on #10115
@satbir121 can we add `async` and `await` to autocomplete results?

[2022-11-15 15:19] bharath31 commented on #11926
@ApekshaBhosale did we manage to find a potential fix for this issue?

[2022-11-15 15:22] bharath31 commented on #9264
@satbir121 could we have an RCA on this?

[2022-11-15 15:23] #12952 closed

[2022-11-15 15:32] bharath31 commented on #13407
Was able to reproduce this issue
![Screenshot 2022-11-15 at 8.58.01 PM.png](https://images.zenhubusercontent.com/62eb9bbb5f4e41370eb42266/9cecb00a-3c91-43c0-b321-a9e24425adb7)

@ApekshaBhosale @subrata71 @nidhi-nair is this related to https://github.com/appsmithorg/appsmith/issues/14755?

[2022-11-15 15:36] bharath31 commented on #18062
Conversation: https://theappsmith.slack.com/archives/CGBPVEJ5C/p1667393828045139

@ApekshaBhosale should this be moved to the Integrations pod?

[2022-11-15 15:39] bharath31 commented on #17791
Adding support for UUIDJS as a part of [Custom JS Libs](https://github.com/appsmithorg/appsmith/issues/16394)

Closing this now.

[2022-11-15 16:02] #12829 closed

[2022-11-15 16:04] #13424 closed

[2022-11-15 16:11] bharath31 commented on #13747
not reproducible anymore

[2022-11-15 16:16] bharath31 commented on #13826
@satbir121 could we perform an RCA on this?

[2022-11-15 16:30] subrata71 commented on #13407
Yes, the JS object name conflict issue is same as [this](https://github.com/appsmithorg/appsmith/issues/14755)

[2022-11-15 17:24] Richarex commented on #16684
- [ ] Switching between pages when the user interacts with multi tier property panes is throwing **"Something went wrong"** error. Please refer the attached video: https://jiju8jbmwa.vmaker.com/record/kyYLSSANlPw2VGpV

- [ ] Cursor position is blinking at the starting point when the user switches between **CONTENT** & **STYLE**. Cursor position completely fails to maintain it's previous position w

[2022-11-15 17:30] ApekshaBhosale commented on #9783
@ramsaptami isn't this across Appsmith for all entities? I remember we wanted to make this different issue which includes all entities. can you please check that and update accordingly?

[2022-11-15 17:37] ApekshaBhosale commented on #18062
No. this is happening because creation is taking way too long right now. this will be resolved with 400 status issue which is handled by BE pod but we can have a backup fix from our pod only @bharath31

[2022-11-15 18:19] anupamck opened #18178 "[Bug]: Sorting by a column and then removing it results in a blank table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Database blanks out when table is first sorted by a column, and then the column is removed from the database query.

### Steps To Reproduce

1. Link a table to a database
2. Write a query to display data e.g. `SELECT * FROM contacts LIMIT 10;`

![image](https://user-images.githubusercontent.com/34

[2022-11-15 20:18] charles-bloomfield commented on #13682
Yes, we need this!

[2022-11-15 21:51] Rooney30 commented on #3600
I am also in this class. Any chance we could contribute part of it? @areyabhishek

[2022-11-16 00:10] #17619 closed

[2022-11-16 00:11] #18023 closed

[2022-11-16 04:17] #12731 closed

[2022-11-16 04:20] tanvibhakta commented on #18052
hey @bhuvanaindukuri, the changes are applicable for the default components as present in the [design-system](https://github.com/appsmithorg/design-system) repository. Since this is something that requires coordination across multiple repositories, I will be picking this up. Let me know if there's something else you'd like to pick up?

[2022-11-16 04:32] #18049 closed

[2022-11-16 05:15] shadabbuchh opened #18179 "[Bug]: Inconsistent tooltip design for widget banners"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The tooltip design for all widget banners is not consistent with the design system.
<img width="288" alt="Screenshot 2022-11-16 at 10 42 49 AM" src="https://user-images.githubusercontent.com/39921438/202089439-f06c2206-e914-4b17-a5c4-35a356d99784.png">

### Steps To Reproduce

1. D&D any widget.
2

[2022-11-16 05:18] ramsaptami commented on #9783
I'm unable to reproduce this issue. Are you'll able to see this on your end @bharath31 @ApekshaBhosale

[2022-11-16 05:51] vishnu-gp opened #18181 "[Bug]: Error deleting applications when soft-deleted JSObjects present"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Deleting the application throws a 500 error if there are soft-deleted JSObjects present. This happens when apps are exported from older versions of Appsmith and imported to new versions and if there are soft-deleted JSObjects present in the exported JSON.

### Steps To Reproduce

1. Export an app

[2022-11-16 05:53] bharath31 commented on #17761
looks like the estimate for completing https://github.com/appsmithorg/appsmith/issues/16926 would be 1 week.

@ohansFavour @satbir121 could you confirm if this looks okay or needs a deeper look at the architecture?

[2022-11-16 06:12] ScjpCoder opened #18182 "[Bug]: Encountered a exception using the FilePicker"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

 An exception occurred when I used the file selector to upload files larger than 5MB.
It seemed to be due to blob address concatenation.
<img width="573" alt="Snipaste_2022-11-16_13-45-02" src="https://user-images.githubusercontent.com/45224663/202096529-d7bf2e75-baa7-42e4-abe2-2171517c7b3b.png">

[2022-11-16 06:14] jnikhila commented on #14723
@spark-c - Could you please take up this ticket?

[2022-11-16 06:41] chandannkumar opened #18184 "[Bug]: App breaks when adding cyclic dependency on Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On binding {{Table1}} on Table 1 widget, instead of only showing cyclic dependency error the app breaks

### Steps To Reproduce

1. Drag & Drop Table widget
2. On property pane, bind {{Table1}} in table data property
3. Observe that the application crashed

### Public Sample App

_No response_

##

[2022-11-16 07:01] btsgh commented on #9883
This issue does not give a great user experience.  - https://ddpa7mfuvv.vmaker.com/record/MbXOjNXsE1RJ8ynD

[2022-11-16 08:47] somangshu commented on #17159
@Rishabh-Rathod the issue was linked to the PR, but was re-opened. What happened, the PR does not address this particular issue?

[2022-11-16 08:48] satbir121 commented on #13826
Currently, we are only checking for async when JS object is edited. A simple solution would be to do the async check on addition/rename of an api/query. @ohansFavour It might have performance implications. We need to figure out a solution which does not trigger `async check` on every `api or query` addition/rename.

[2022-11-16 09:06] chandannkumar opened #18189 "[Bug]: Cursor icon on hover to 'Filters', 'Download' & 'Add new row' buttons of Table widget is a text edit cursor on view mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On hovering to buttons on  'Filters', 'Download' & 'Add new row' buttons of Table widget, the cursor should be visible with Hand cursor instead of text edit cursor

### Steps To Reproduce

1. Drag & Drop Table widget
2. Deploy the app
3. Hover on Filter & Download
4. Observe that the cursor icon i

[2022-11-16 09:25] ohansFavour commented on #16926
`first look into the existing meta value (if present) and then the default values for hydration`

@ashit-rath What you described as the solution to this problem is actually the current way of hydration today. The main cause of the issue here is that in List widget V2, only list items present in the viewport are added to the unEvalTree (which is expected). When navigating back to a previously prese

[2022-11-16 09:25] ramsaptami commented on #13461
Isn't showing up hence closing it

[2022-11-16 09:35] ohansFavour commented on #9369
Some extra modifications need to be done to this [PR](https://github.com/appsmithorg/appsmith/pull/15135). Check out [these comments](https://github.com/appsmithorg/appsmith/pull/15135#issuecomment-1189948280). This should take about 2 days to complete.

[2022-11-16 09:56] danciaclara commented on #16057
https://community.appsmith.com/t/how-do-i-connect-to-external-mongodb-with-tlscafile-parameter-in-connection-url/1058

[2022-11-16 10:00] danciaclara commented on #14093
https://community.appsmith.com/t/is-there-the-ability-to-switch-between-production-and-develop-datasources/702/2?u=dancia

[2022-11-16 10:04] danciaclara commented on #16048
@spark-c You can add the steps from the video that is on this page. We can add the sample app later on as well

[2022-11-16 10:07] ashit-rath commented on #16926
@ohansFavour Agreed, I was looking for a new extension for it.
Let me know if I am wrong here
Current way:
New widget re-appears
  1. meta property hydrates by some property if the property has some value (defaultText)
  2. meta property resets if no default value is defined (post evaluation)

Proposed way:
New widget re-appears
  1. meta property hydrates by value present in meta reducer
  2. met

[2022-11-16 10:15] danciaclara commented on #18163
@arunvjn Could you please share the first draft with us for this function?

[2022-11-16 10:26] danciaclara commented on #17853
@felix-appsmith Are you referring to how users can share the backed logs for Docker. If yes, this information is present here - https://docs.appsmith.com/getting-started/setup/installation-guides/docker/

[Uploading... Screenshot 2022-11-16 at 15.54.33.png]

[2022-11-16 10:30] danciaclara commented on #17629
@somangshu  Can you help us direct this to who would be the best person to add relevant info regarding this

[2022-11-16 10:38] aswathkk opened #18191 "[Bug]: Unable to delete the checkbox group items inside the list widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/10436935/202157515-7c98082f-9e38-49aa-8336-29dc868875ba.mov

Unable to delete the checkbox group item when the checkbox group widget is inside a list widget.

#### Edit
This also is being observed in Dynamic Height DP where we are unable to open the dropdo

[2022-11-16 10:44] somangshu commented on #17629
I think @rimildeyjsr can help us here

[2022-11-16 11:04] pranavkanade commented on #18122
@jguce-supportninja can you please upgrade to v1.8.8? We've released a patch fix for this issue.

[2022-11-16 11:04] #18122 closed

[2022-11-16 11:05] pranavkanade commented on #18116
@micael-pn can you please upgrade to v1.8.8? We've released a patch fix for this issue.

[2022-11-16 11:05] #18116 closed

[2022-11-16 11:12] shadabbuchh commented on #18189
The cursor icon in Edit mode is also not appropriate.
https://www.loom.com/share/9286b7b064f847d999bd0abe3626aa76

[2022-11-16 11:19] kamakshibhat-appsmith opened #18194 "[Bug]: Slider widget error message issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Two issues to tackle here:
1. Update the error message of the default start value in **_range and number slider_** -- Change to >= instead of > .
2. do the same for default end value -- Change to <= instead of <
<img width="717" alt="Screen Shot 2022-11-16 at 4 06 52 PM" src="https://user-images.g

[2022-11-16 11:28] kamakshibhat-appsmith opened #18195 "[Bug]: For select widget default selected value, Label doesn't evaluate numbers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For select widget default selected value, Label doesn't evaluate numbers

Either we should start accepting numbers or throw proper error message .Current error message states label: num|string

### Steps To Reproduce

1. Dnd a select widget
2. add label and value in the default selected value and

[2022-11-16 11:43] micael-pn commented on #18116
Hello @pranavkanade

I confirm that we were able to upgrade to v1.8.8. Thank you for your help !

Regards

[2022-11-16 11:50] AmanAgarwal041 commented on #11246
@ClarksonCote We have introduced Graphql datasource for creating such type of API which support gql. So closing this issue for the same reason.

[2022-11-16 11:50] #11246 closed

[2022-11-16 11:56] kamakshibhat-appsmith opened #18197 "[Bug]: Issue with evaluation after we do undo actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/ed6059a2d9c943b896644abca6d9326a

### Steps To Reproduce

1. Dnd a button widget
2. add some text in the tooltip
3. move the focus out of the property pane
4. click cmd+Z(for undo)--> you will notice the tooltip string which we added was removed after undo action but eva

[2022-11-16 11:57] kamakshibhat-appsmith commented on #18197
@satbir121 @ApekshaBhosale Keeping you in loop. Let us know if this is something to do with evaluations

[2022-11-16 12:16] vishnu-gp opened #18201 "[Task]: Add JUnit Test case for verifying BaseRepositoryImpl archive method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

After getting https://github.com/appsmithorg/appsmith/pull/18185 merged, Write a Junit test case to verify the following assert is not happening in `BaseRepositoryImpl` `archive()`

`Assert.isTrue(!entity.isDeleted(), "The given entity is already deleted");`

[2022-11-16 12:23] sumitsum commented on #18201
Ref: https://github.com/appsmithorg/appsmith/pull/18185#discussion_r1023701647

[2022-11-16 12:25] kamakshibhat-appsmith commented on #16586
@ashit-rath do we have page size issue in Listv1 as well?
I could see the page size is not evaluating correctly for List v1 as well on page reload.Can you confirm ?
https://www.loom.com/share/e2ab3381e66347f5bb01e0926b4d30b0

[2022-11-16 12:26] kamakshibhat-appsmith commented on #16586
--> Issues with List v2 page size evaluation on page reload .
https://www.loom.com/share/bf95456e9b064835895eaede04daa4cf

[2022-11-16 12:27] btsgh opened #18202 "[Bug]: Generating Page with Data by connecting to a new datasource, from an existing page causes an error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to generate page with data, by connecting to a new datasource, and choose say a sample datasource like movies or users (mongo/postgres), on selecting a table and clicking on Generate Page - an error pops up as below.

<img width="1204" alt="Screenshot 2022-11-16 at 5 12 29 PM" src="http

[2022-11-16 12:35] ankurrsinghal commented on #16563
@Sripriya93 @kamakshibhat-appsmith I checked it on our POC it's fixed. Please check once again on your end and mark it as done.

[2022-11-16 13:45] btsgh opened #18204 "[Bug]: Using an html tag within a Text widget to access a web page, without the https:// appended causes application to crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I use an html tag within a Text widget and try to access google web page using only www.google.co.in, ... application crashes

If I use with https:// appended at the start, it works fine

Expected behavior - even without the https:// appended, it should work.

### Steps To Reproduce

1. Drag

[2022-11-16 13:48] kamakshibhat-appsmith commented on #16586
I could see 3 on the canvas @ashit-rath

[2022-11-16 13:48] kamakshibhat-appsmith commented on #16586
Shall I create a separate issue to debug this?

[2022-11-16 14:09] ramsaptami opened #18205 "[Feature]: Line where a lint error is present should be highlighted on the gutter element"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When there's a parsing error, a JS object goes into an error state with relevant issues logged on the debugger. But when there's a lint error, no such logging takes place.

While it makes sense to not error out the entire object for a lint error, it can easily be missed when the error is small like an

[2022-11-16 14:19] kamakshibhat-appsmith opened #18206 "[Bug]: Issue with evaluation of pageSize with list v1 on reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/bf95456e9b064835895eaede04daa4cf

### Steps To Reproduce

1. Dnd a List widget
2. Dnd a text widget and bind it with List page size to check the exact page size.
3. Move to another page say Postgres Query and add binding {{List1.pageSize}}
4. refresh the page and check t

[2022-11-16 14:45] #18181 closed

[2022-11-16 16:05] crashev opened #18207 "[Feature]: Possibility to set ingressClassName for ingress resource for Kubernetes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, it's not possible to set ingressClassName for ingress resource.
See: https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation
Empty in:
[code]

CLASS = none

We should be able to specify ingressClassName according to new versions specification like:
[code]

###

[2022-11-16 16:26] btsgh opened #18208 "[Bug]: Select All text is darker than the rest of the options on disabling the checkbox group widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I disable the checkbox group widget, which has the Select All Options enabled, the Select All text is darker than the rest of the options.

### Steps To Reproduce

1. Drag and drop a checkbox group widget and add a few more options to it
2. Enable the Select All option for this from the prope

[2022-11-16 16:43] felix-appsmith opened #18209 "[Bug]: SaaS Integrations are missing on new deployments (Airtable, Twilio, HubSpot)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When raising an instance either in docker-compose or in DigitalOcean, the `Airtable, Twilio, HubSpot` data sources do not appear.

[Logs](https://www.udrop.com/7yme/backend-8f1dd3092952.log)
[Performance log](https://www.udrop.com/7ymg/Profile-20221116T114955.json)

![image](https://user-images.gi

[2022-11-16 16:48] btsgh commented on #17974
Raised a separate [bug](https://github.com/appsmithorg/appsmith/issues/18102) for this issue

[2022-11-16 17:08] felix-appsmith commented on #18209
Appsmith Cloud seems to be working as expected. Tested some existing queries/apps and all of them work fine (HubSpot).

[2022-11-16 17:43] felix-appsmith commented on #18209
Added a link to the logs on the description.

[2022-11-16 18:53] bobbintb commented on #6942
I came across a need for this recently. I have file sizes in a column that are difficult to read in the default format (bytes). I have a JS function to make it more human readable but that makes it impossible to sort. I even tried changing it to a date type and using the custom JS but that did not work. I think something similar to the date type would work well, and give formatting option like Goo

[2022-11-16 19:01] felix-appsmith opened #18211 "[Bug]: Cannot connect to Google Sheets because authorization fails `Internal server error while processing request `"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The attempt to create a new data source from Google Sheets fails when trying to authorize access this happens only in the self-hosted version

[Performance Logs](https://www.udrop.com/7ymE/GoogleSheets.json)

https://user-images.githubusercontent.com/114161539/202267282-15bb7c7a-2f7e-4d2e-9c40-5b3

[2022-11-16 19:01] felix-appsmith opened #18212 "[Bug]: Cannot connect to Google Sheets because authorization fails `Internal server error while processing request `"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The attempt to create a new data source from Google Sheets fails when trying to authorize access this happens only in the self-hosted version

[Performance Logs](https://www.udrop.com/7ymE/GoogleSheets.json)

https://user-images.githubusercontent.com/114161539/202267282-15bb7c7a-2f7e-4d2e-9c40-5b3

[2022-11-16 19:02] #18212 closed

[2022-11-16 19:04] Tooluloope commented on #6942
@bobbintb are you formatting the column after it's been rendered on the table, or are you formatting the data before it gets to the table?

[2022-11-16 19:16] bobbintb commented on #6942
I'm formatting before it gets to the table via the computed value in the widget. I'm not sure how I would do it otherwise.

[2022-11-16 19:17] Tooluloope commented on #6942
You can format the data just before it gets to the table, not the column.

[2022-11-16 19:28] areyabhishek commented on #3600
@carbonara-mac @Rooney30 I missed your message. You can absolutely contribute to this. I'll assign the issue to both of you.

[2022-11-16 20:48] bobbintb commented on #6942
I'm not quite following. The table widget displays data from a MongoDB query. If I leave the data I can sort it but it's difficult to read. If I format it I can read it better (ex 93.05 MB instead of 97569381) but it breaks sorting because it is no longer a number. Are you saying I can format it and keep sorting functionality or would this require a new feature?

[2022-11-16 21:25] bobbintb commented on #6942
It doesn't unfortunately. It still transforms the data. The sort works with the specific test numbers you've chosen but I think it will break like mine did with more varied examples (KB, bytes, GB, etc).

[2022-11-16 21:34] Tooluloope commented on #6942
Oh got it. This won't work with varying bytes unit

[2022-11-16 21:35] Tooluloope commented on #6942
@dilippitchika @sbalaji1192, is there another way to unblock him?

[2022-11-17 02:05] sharat87 commented on #18149
This is the same error as in #18086.

[2022-11-17 02:05] #18149 closed

[2022-11-17 04:40] SourabhKolekar commented on #18041
I have put up the same widget for my search screen and userIds which I have search functionality for are usually 4-6 digits. In such scenarios, having up and down arrows are rarely useful and having plain clear text box of type number (as it automatically provides validations for Number data type) is more welcome.

[2022-11-17 04:50] Rishabh-Rathod commented on #17159
@somangshu the re-validation PR closing this issue was mainly tested with the `Tabs widget` as the dynamic height feature's PR was still a work in progress. ( not merged to release branch )

After dynamic height and re-validation, PR both were merged in the release branch. We found a few bugs for re-validation while the QA verification process and reopened the above issue to track it.

cc: @satbir

[2022-11-17 04:56] sondermanish opened #18214 "[Task]: Code Improvement for readability for multiple environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-11-17 05:09] albinAppsmith opened #18215 "[Task] - Change design system components gray colors and border radius"

[2022-11-17 05:11] albinAppsmith commented on #18215
Change design system component gray colors to the new scale and change border radius to 4px.

https://www.figma.com/file/4aZWeRRAyIBX660EbIQhXn/DS-Upgrade-Exploration?node-id=1055%3A41500&t=tVdutHj64vOvvdfk-0

[2022-11-17 05:12] rasyidmi commented on #5831
Good morning. I am interested in solving this issue, can I work on it? @dilippitchika

[2022-11-17 05:26] nsarupr opened #18216 "[Task - EE]: delete workspace role doesn't work"
Video link for the same: https://40edv1d3xs.vmaker.com/record/grqukEEce76a5Cyv

[2022-11-17 05:30] sbalaji1192 commented on #6942
@Tooluloope @dilippitchika I don't think it is possible without a property to format numbers while rendering the cells like the date output format property.

[2022-11-17 05:35] ohansFavour commented on #13826
@satbir121 This issue is a result of the team's decision not to make JS functions reactive to entities bound within them. Today, JS functions are only reactive to changes made to their body, and the entire JSObject (See screenshot).

<img width="1273" alt="Screenshot 2022-11-17 at 06 27 58" src="https://user-images.githubusercontent.com/46670083/202364683-083f9511-e498-4840-8d5c-eb38a18772d1.png">

[2022-11-17 05:51] subrata71 commented on #17724
This issue is supposed to be solved by this [PR](https://github.com/appsmithorg/appsmith/pull/18018). Let us monitor this on production after this change is shipped into production.

Disclaimer:
`Connection reset by peer` error can still happen but the frequency should be less.

[2022-11-17 05:51] #17724 closed

[2022-11-17 06:53] yaldram commented on #16644
@PaulMcF1987 I cannot re-produce this anymore, you cannot select and copy text in preview and edit modes but in deployed apps we are able to select and copy text from the Text Widget. Please verify. Thanks.

[2022-11-17 07:14] #13461 closed

[2022-11-17 07:24] AdithyaSanjay commented on #8582
I built a page in one app with all queries and widgets.
But then I had to move it to another app which was like a main app.
It was quite difficult to do so as I had to recreate all the queries and widgets from beginning.
It would be helpful if there was a way to move queries , widgets and pages between apps.

[2022-11-17 07:28] bharath31 commented on #14007
@sumitsum could you add steps to reproduce? we can close this if this is a stale issue.

[2022-11-17 07:30] bharath31 commented on #14212
related to #15308

[2022-11-17 07:30] aswathkk commented on #18191
This looks like a bug came up due to the context-switching project's code which changes the focus when we click on some property controls. So, changed the label

[2022-11-17 07:43] bharath31 commented on #14005
Assuming 5% of users who perform `DEBUGGER_TAB_SWITCH` view logs that are old enough to create timestamp confusion.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 350  |
| Effort (months)  | 0.5 |

[2022-11-17 07:48] bharath31 commented on #14513
not reproducible anymore

[2022-11-17 07:48] #14513 closed

[2022-11-17 07:51] bharath31 commented on #14612
@ramsaptami is this still reproducible? wondering if this was fixed as a part of the larger cyclic dependency epic

[2022-11-17 08:02] bharath31 commented on #14706
@GreenFlux are you still facing this issue? I could get ternary operators to work on an API URL
[code]

[2022-11-17 08:04] bharath31 commented on #14806
@satbir121 could we run an RCA here and find a potential fix?

[2022-11-17 08:10] pranavkanade commented on #17094
Removed the screenshot on user's request. Closing this as we are not able to reproduce this.

[2022-11-17 08:10] #17094 closed

[2022-11-17 08:41] spark-c commented on #18170
Update: the first two points of the issue description have been resolved. Currently I am revising some of the property descriptions and "How to X" parts of the page.

[2022-11-17 09:03] gabhijeetxsingh opened #18221 "Clickhouse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Data source option for clickhouse

[2022-11-17 09:34] rimildeyjsr opened #18223 "Action creator AST changes"

[2022-11-17 09:39] rimildeyjsr opened #18224 "[DOCS] - Add docs for Clear store"

[2022-11-17 10:01] sumitsum opened #18226 "[Task]: [Custom JS Lib]: Modify `add` / `remove` endpoints to update data directly on DB."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Ref: https://github.com/appsmithorg/appsmith/pull/18219
May have to update the comment in class `CustomJSLib.java`

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_7eqdo)

[2022-11-17 10:04] sumitsum opened #18227 "[Task]: [Custom JS Lib] Enable import / export flow."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Ref: https://github.com/appsmithorg/appsmith/pull/18219

[2022-11-17 10:06] sumitsum opened #18228 "[Task]: [Custom JS Lib] Enable git sync flow with custom JS lib."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Ref: https://github.com/appsmithorg/appsmith/pull/18219

[2022-11-17 10:11] sribalajig commented on #10124
Effort - 3 Days

[2022-11-17 10:29] sribalajig commented on #16799
@ChandanBalajiBP can you please put your findings on this ticket

[2022-11-17 10:29] ramsaptami commented on #14612
Closing this since original app does not exist. Tried to import the app and this app does not throw any error on page load

[2022-11-17 10:29] #14612 closed

[2022-11-17 10:33] sribalajig commented on #10489
@ChandanBalajiBP can you check if this is still happening after AST changes?

[2022-11-17 10:37] sribalajig commented on #17107
@ChandanBalajiBP can you please add details about why this is happening and how we can handle the error more gracefulle.

[2022-11-17 10:46] sribalajig commented on #17027
@sondermanish can you please figure out what the estimate for this is.

[2022-11-17 10:56] sribalajig commented on #17907
@parth-appsmith @ChandanBalajiBP lets figure out the right copy for this

[2022-11-17 11:02] pranavkanade commented on #17094
@AnaghHegde @vuiets The user solved the issue by first deploying the app and then git-sync

[2022-11-17 11:08] satbir121 commented on #17785
@riteshkew @subrata71 Please confirm if this issue is related to #14755

[2022-11-17 11:15] dilippitchika opened #18230 "[Bug]: Scrollbars in tables are hard to select"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For users having a mouse with a vertical scroll and not a touchpad to interact with the table, horizontal scrolling in table has to be precise.

We need to triage this more as it wasn't a problem for mac OS

### Steps To Reproduce

1. Add a table widget and data to it
2. Ensure there is horizontal

[2022-11-17 11:16] ramsaptami commented on #13994
Error message is still incomplete on the Errors tab of the debugger. Toast message displays text as "action was cancelled by the user" but the debugger shows a different text.
![image](https://user-images.githubusercontent.com/79509062/202432167-bbb4b047-ec47-4c9b-b8c5-ef9619d9250b.png)

[2022-11-17 11:24] nsarupr opened #18232 "When user check edit access from workspace level the view access is checked from application level instead of workspace level"
Video Link for the same: https://40edv1d3xs.vmaker.com/record/ra1IqvIVdQrPkxja

[2022-11-17 11:32] GreenFlux commented on #14706
@bharath31 , I just retested. It looks like this has been fixed! Previously, ternary operators, and optional chaining, both caused all text to be lost after the `?`, but I am not able to reproduce either issue now.

[2022-11-17 11:33] bharath31 commented on #14706
Awesome! Closing this issue now :)

[2022-11-17 11:33] #14706 closed

[2022-11-17 11:39] riteshkew commented on #17785
This issue is related #17619 and the PR is already in release.
#14755 is a separate issue which is already in code review

[2022-11-17 11:48] jeromelonglong opened #18234 "[Bug]: Version v1.8.5 By clicking on the 'A' entry in the table and then directly clicking the Modify button in the 'B' entry, the selectRow action does not get the data for the B entry, but for the 'A' entry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Version v1.8.5

By clicking on the 'A' entry in the table and then directly clicking the Modify button in the 'B' entry, the selectRow action does not get the data for the B entry, but for the 'A' entry

### Steps To Reproduce

Version v1.8.5

By clicking on the 'A' entry in the table and then dir

[2022-11-17 12:10] nsarupr opened #18237 "[Task - EE]: Even when user doesn't have the edit access the user can edit the data sources and even having the delete access we can not delete the datasource"
Edit and Delete datasources functionalities are not working as expected.

Video Link for more clarification: https://40edv1d3xs.vmaker.com/record/K8vLq4P1jLzEzlaA

[2022-11-17 12:18] #11419 closed

[2022-11-17 12:56] jnikhila commented on #13804
Merged into #16603

[2022-11-17 12:56] #13804 closed

[2022-11-17 12:59] ramsaptami opened #18239 "[Bug]: Back button does not navigate to canvas on first click from the query and code editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clicking on the `back` button once, changes the URL but does not navigate the user back to canvas on both the query and code editor. It takes a while and a couple of more clicks to eventually reach the canvas

### Steps To Reproduce

1. Go to either the code or query editor and click on the back b

[2022-11-17 13:51] somangshu commented on #17992
@dhruvikn lets first identify why this issue started occuring?

[2022-11-17 14:31] charles-bloomfield commented on #3265
This is pretty critical for our users!

[2022-11-17 14:45] samg666 commented on #15056
met the same issue, hope to have a fix soon.

[2022-11-17 15:39] felix-appsmith commented on #18209
We conducted an investigation where we found the following information.

We make a query to the Mongo database that has the plugins. It does not contain Airtable, Twilio, HubSpot.
![image](https://user-images.githubusercontent.com/114161539/202490071-0c72a9ac-509e-4a8c-b68f-f30d8172fe43.png)

We reviewed the relevant logs and found the following error in
cs.appsmuith.com
download the logs [here](h

[2022-11-17 15:47] ErlendFax commented on #18207
I have the same problem. Isn't this a bug? Since `ingress.className` is present and all?

[2022-11-17 20:03] Rishabh-Rathod commented on #13983
We will need to try once with codemirror v6 other than that fixing in ternjs by ourselves or with the maintainer's help is the only option I could think of.

cc: @bharath31

[2022-11-17 20:36] felix-appsmith opened #18245 "[Epic]: Problems Uploading Large Files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we try to upload a file to a database that is larger than 20mb the file upload fails, this problem happens with different sizes for different users for some user the file upload fails when it is larger than 5mb but another when it is larger than 20mb this doesn't make much sense.

To get a be

[2022-11-17 21:55] Tooluloope commented on #17744
@ashit-rath
what's this about?

[2022-11-18 03:21] vishnu-gp opened #18248 "[Task]: Remove deprecated deleted field used for soft-delete and it's usages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Recently some bugs reported related to the deprecated field `deleted used for handling soft-deletes on entities. The current field we use is `deletedAt` only. This task is to remove the `deleted` field and it's usages entirely from the codebase.

[2022-11-18 04:43] dilippitchika commented on #13180
@danciaclara that is a setting which we will expose for devs to configure since we don't know if we can do it ourselves. Better to give them the power.

[2022-11-18 04:46] bharath31 commented on #13983
@Rishabh-Rathod gotcha! I see that CodeMirror 6 migration could potentially solve a bunch of issues + allow us to make new enhancements. Could you please share a doc containing a list of issues that could be squashed? This will help us estimate the impact and prioritize the migration.

[2022-11-18 04:51] btsgh commented on #17619
Auto save for large JS objects is no longer causing internal server errors. In some scenarios, it was observed, though it was not as frequent as it was before. This is as per dev's intended fix. Fixing it entirely would require larger changes and more time - Refer - "https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1668683912793319"

cc: @ramsaptami @subrata71

[2022-11-18 04:56] dilippitchika commented on #18206
@ashit-rath @Tooluloope please triage this in the current sprint and let me know if it's happening in v2

[2022-11-18 05:04] dilippitchika commented on #5831
I don't think this issue exists now, closing this

[2022-11-18 05:04] #5831 closed

[2022-11-18 05:06] dilippitchika commented on #3265
Hello @charles-bloomfield this is next in line for development, we will be sharing an update soon

[2022-11-18 05:06] ashit-rath commented on #18206
@dilippitchika This is a v1 issue and we created this for tracking regression for v2. This does not happen in v2

[2022-11-18 05:11] ashit-rath commented on #17744
@Tooluloope As this was introduced in POC, we need to name it correctly and have all the text/messages/warnings associated with it.

[2022-11-18 05:24] ashit-rath commented on #17744
@Tooluloope Had a chat with @dilippitchika  and we will be disabling this feature from the property pane in v2.0 and will launch in v2.1 with the server side features.

[2022-11-18 05:34] kamakshibhat-appsmith commented on #17472
as discussed with  @aswathkk ,this cannot be tested . However, just tested the existing functionality. seems fine

[2022-11-18 05:51] bharath31 commented on #9369
@satbir121 could we prioritize this given some work has already gone into it?

[2022-11-18 05:57] hetunandu commented on #17507
@aakashDesign Please add the final designs on this issue

[2022-11-18 05:59] danciaclara commented on #13180
ok. The reason I asked was due to the conversation here - https://discord.com/channels/725602949748752515/1042382821265772564/1042382821265772564

Mostly around whether the download action be slow for larger tables if the devs have to configure the Download for the entire table data.

[2022-11-18 05:59] Rishabh-Rathod opened #18249 "[Task]: Codemirror v6 migration POC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Potential features to be enabled
- Multiplexing mode to allow SQL + JS autocomplete

### SubTasks
- [ ] Migration docs to follow - [https://codemirror.net/docs/migration/](https://codemirror.net/docs/migration/)
- [ ] Make autocomplete work using Tern or LSP (  https://github.com/furqansoftware/codemirror-lang

[2022-11-18 06:00] dilippitchika commented on #18206
@ashit-rath got it, then can you link this in v2 bugs which will close once it goes live?

[2022-11-18 06:03] danciaclara commented on #17606
Another user who is facing this issue https://discord.com/channels/725602949748752515/1042141778297503785/1042141778297503785

[2022-11-18 06:04] dilippitchika commented on #13180
@danciaclara the problem here is related to conversion as user pointed out, i believe the best way to handle it simply use a js lib which converts json to xls. Once the js libs feature is live.

The performance will be impacted based on the data user has and the computation we have to do on client, but this is not a table widget problem it's a platform problem on handling large data.

[2022-11-18 06:09] vuiets commented on #17606
Cause and workaround for this added by @trishaanand in https://github.com/appsmithorg/appsmith/issues/17235#issuecomment-1284957402. Quoting it verbatim

[2022-11-18 06:10] vuiets commented on #17094
Thanks for the follow up and update @pranavkanade 🙏

[2022-11-18 06:14] dilippitchika opened #18250 "[Feature]: Update table to table v2 in CRUD generation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Only update the table widget to table v2 for now in crud page

### Why should this be worked on?

People starting from crud pages are running into bugs which we are not fixing because of older versions of tables.

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16

[2022-11-18 06:20] dilippitchika opened #18251 "[Feature]: Improve CRUD generation to only use table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With the table widget now supporting
- Add new row
- Inline editing

We don't need a different layout for editing and adding more data.

### Why should this be worked on?

Simplifies the current layout and UX for users.

However, this needs to be discussed at a product level with the team as master de

[2022-11-18 06:29] NilanshBansal opened #18252 "[Bug]: Deploy App - Resource Not Found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On clicking the Publish App button, an error message pops up showing `Resource Not Found`
You can find the app [here](https://app.appsmith.com/app/false-alarms-app/login-page-63174322edfb4e0b6ffd1ec9/edit)

Error Screenshot

<img width="1432" alt="image" src="https://user-images.githubusercontent.

[2022-11-18 06:33] jsartisan opened #18253 "[Task]: App Theming Stylesheet Refactor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Theme Stylesheets config has become really hard to manage. Need a way to make it simpler and move to the frontend.

[2022-11-18 06:58] spark-c commented on #14723
Note to self: Update /reference/appsmith-framework/widget-actions/ with links to all of the current framework events along with `postWindowMessage()`

[2022-11-18 06:58] #15890 closed

[2022-11-18 08:30] spark-c commented on #18170
Now in review, [PR available here](https://github.com/appsmithorg/appsmith-docs/pull/583)

[2022-11-18 08:31] spark-c commented on #16298
Will make test/video showing steps ASAP

[2022-11-18 08:46] Richarex commented on #18016
This is working fine, verified it on release.

[2022-11-18 08:52] SvV-CWinJS commented on #14290
I too am having this issue (running on another port, port 30000) and would appreciate seeing updates on this issue.
I'm running v1.8.8.

[2022-11-18 09:24] yaldram opened #18259 "[Bug]: select widgets label alignment when labelPosition is LEFT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- The labels of all inputs when label position is LEFT should be vertically centered as is the case for the input widget
- But for the select widgets the labels are top aligned when label position is LEFT.
- This bug should be resolved as it will be used for Dynamic Height.

<img width="476" alt="

[2022-11-18 09:29] yaldram opened #18260 "[Task]: updgrade craco to version 7 and other dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Craco has release version 7 so we should upgrade it, we are still using an alpha version.
- Merge remaining dependent bot package upgrades.
- Remove any dependencies if not used in the project

[2022-11-18 09:33] #18161 closed

[2022-11-18 09:33] #17258 closed

[2022-11-18 09:37] ErlendFax commented on #18207
My *might* have been related but not sure. I couldn't get HTTPS working, and I thought it had to do with not being able to set the ingressClass.

This is what I didn't to get it working:

https://community.appsmith.com/t/cant-configure-https-with-helm/1656/2

Still can't set ingressClass with appsmith Helm chart, but I got everything up so I'm happy for now.

[2022-11-18 10:18] Richarex commented on #18013
This issue is fixed, verified it on release

[2022-11-18 10:23] #18151 closed

[2022-11-18 10:27] Richarex commented on #17670
This is fixed, verified it on release

[2022-11-18 11:12] Richarex commented on #18011
This is fixed, verified it on release video:- https://jiju8jbmwa.vmaker.com/record/DrN5yNH12T1xQm5T

[2022-11-18 11:17] ChandanBalajiBP commented on #16799
This issue is caused by the `@@redux-form/ARRAY_PUSH` event being triggered on opening the API/Queries page. This is the side effect of using the redux form. There is a workaround for this, but this can lead to other issues.

[2022-11-18 11:24] ChandanBalajiBP commented on #17107
A number with preceding 0's(zeros) is considered an Octal number in [Javascript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Deprecated_octal). And javascript recommends adding o next to zero (ex: 0o123).

The above error is generated when the binding is evaluated in Appsmith.

This can also lead to conversion to an octal number from a decimal number.

var octal = pars

[2022-11-18 11:33] sneha122 commented on #4381
While checking the failed cypress tests for datasource autosave improvements, I came across one test in globalsearch_spec.js, which attempts to navigate to same datasource while its creation, following is the video attached: With new implementation, since we save datasource only on save button click, what should we do in such case? cc: @rohan-arthur @sumitsum @AmanAgarwal041 @parth-appsmith

https

[2022-11-18 11:34] Richarex commented on #18015
Fixed, verified it on release video:- https://jiju8jbmwa.vmaker.com/record/eQX6Mdjw5Z5fjrT9

[2022-11-18 12:00] dilippitchika commented on #17149
Changes to the widget's property pane
1. Change the default tab field to a dropdown field with all the tab names as the options
2. Support JS mode in this field to ensure people can write JS if needed
3. For existing tab widgets -
   - If there is a binding in the field then the default tab field should be in the JS mode
   - If there is no binding in the field and the value matches one of the exi

[2022-11-18 12:01] riteshkew commented on #18124
@findzhangvvv You have come to the right conclusions and we are actively working on resolving these cyclic dependency errors. You can find more details on the epic here #17047. Your current workaround is the way to go until the changes are pushed to production.

[2022-11-18 12:03] dilippitchika commented on #13076
Completed in widget reskinning

[2022-11-18 12:03] #13076 closed

[2022-11-18 12:05] dilippitchika commented on #4333
@andrewdietekoki can you add the latest figma here?

[2022-11-18 12:08] keyurparalkar opened #18268 "[Task]: Code refactoring for map widget lib upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Below are the subtasks that needs to be achieved in refactoring:
* Make sure that all the props that are passed to the component are being used inside the component.
* Make sure that `long` property from widget to component is being maintained.
* Inside the component make sure the `lng` attribute is

[2022-11-18 12:12] keyurparalkar opened #18269 "[Task]: Pending funcitionalities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Below are the subtasks:
* All the functionalities that was working before from property pane to the basic functionality should work as expected.
* All the pending functionalities mentioned in this [notion doc](https://appsmith.notion.site/Upgrade-map-widget-library-to-support-react-17-ba3103d15b3d47c

[2022-11-18 12:15] keyurparalkar opened #18270 "[Task]: Bug fixes for map widget lib upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Subtasks:
* Make sure that all the callouts mentioned in this [PR](https://github.com/appsmithorg/appsmith/pull/17932#issuecomment-1303085733) are addressed.
* Component re-renders on change in zoom level.
* Typescript type warnings
* Make sure that all the callouts if any present in this [notion doc

[2022-11-18 12:21] dilippitchika opened #18271 "[Feature]-[480]:Add a label field in rating widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today the rating widget doesn't have the power to support a label, which is inconsistent from other inputs. We want to support it here so that it's consistent

### Why should this be worked on?

It makes the appsmith experience consistent

[2022-11-18 12:23] dilippitchika commented on #18271
Within the rating widget the changes to be made are
1. Support for label properties -
   - A dev can configure the label name
   - A dev can configure position to be left or top
   - When left is selected the dev can change the alignment to be close the rating or far from it
   - When left is selected the dev can change the width of the label in columns.
   - A dev can configure the font size, fon

[2022-11-18 12:27] dilippitchika opened #18272 "[Feature]: Add tooltip property in slider widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- All slider widgets need a tooltip property in the general section.
- The logic should be same as the input widget logic
- "Tooltip always on" should be renamed to "Show value always"

### Why should this be worked on?

Consistency in the implementation of tooltips across Appsmith.

[2022-11-18 12:30] #18081 closed

[2022-11-18 12:33] dilippitchika opened #18273 "[Feature]: Add tooltip to button widgets (Menu button and button group)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Within menu button and button group widgets we need a tooltip similar to button and icon button

Considerations -
1. In button group each button should have a tooltip property. This should also be supported in the dynamic items which is going to be worked on

### Why should this be worked on?

Consist

[2022-11-18 12:41] dilippitchika opened #18274 "[Feature]: Add tooltips in switch and checkbox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Within the switch and checkbox widget, we need to support tooltip property similar to the input widget.

### Why should this be worked on?

Consistency of properties across appsmith