[2022-09-28 07:20] dilippitchika commented on #13076
Keep the font size to 14px irrespective of the change in the row height, we are anyways not changing the header height

[2022-09-28 07:23] dilippitchika commented on #13076
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 738 |
| Effort (months)  | 0.25 |

[2022-09-28 07:23] btsgh opened #17135 "[Bug]: In MySQL db, on binding db name to a widget, select command errors out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In MySQL, when I bind the database name to a widget (say text1.text or input1.text), the select command errors out.

### Steps To Reproduce

1. Connect to MySQL db. Details in [here](https://www.notion.so/appsmith/Servers-and-Credentials-665f00d9505745d59db4f3b4eda27c79#cd6a1610a7e84073b0491cd2c02

[2022-09-28 07:25] Sripriya93 commented on #17132
Fixed in Latest DP - https://appsmith-git-poc-dynamic-height-get-appsmith.vercel.app/

Closing this issue.

[2022-09-28 07:25] #17132 closed

[2022-09-28 07:30] chandannkumar commented on #15170
Tested this and changes LGTM

[2022-09-28 07:33] sribalajig commented on #17072
Affects users using ANY datasource (~12700). Assuming a 5% impact (users who have numeric strings), reach = 635
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 635 |
| Effort (months)  | <<number>> |

[2022-09-28 07:49] sribalajig commented on #17027
Affects REST API users, 6m REST API usage : 5000

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | <<number>> |

[2022-09-28 07:58] sribalajig commented on #14585
Assuming a 10% drop off because of auth errors, we may have ~200 users dropping off in the past six months because of authentication errors -

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 200 |
| Effort (months)  | <<number>> |

[2022-09-28 08:08] btsgh commented on #17135
@subrata71  - Ok. If I unselect Prepared Statement, the query passes. Is it also possible to add this information to the following text below the Use Prepared Statement switch (for ignorants such as - me :D )-
" Turning on Prepared Statement makes your queries resilient against bad things like SQL injections. However, it cannot be used if your dynamic binding contains any SQL keywords like 'SELECT

[2022-09-28 08:25] mourantDavidSearle commented on #15531
@sumitsum - Sadly my work would not permit you to connect through our firewall.  You can setup a named instance of SQL using MS SQL Express on any Windows machine but if you can't gain access to one that its going to be difficult! Sorry, would help more if I could. Maybe if you had an Azure or AWS Windows box you could use that?

[2022-09-28 08:28] sumitsum commented on #15531
@mourantDavidSearle thanks a lot for the info :) . I will try again with MS SQL Express.

[2022-09-28 08:37] mourantDavidSearle commented on #15531
![image](https://user-images.githubusercontent.com/114007821/192730667-b7a02874-b6c3-49b7-821f-a8144e4680a3.png)

Usually it defaults to the localhost\SQLExpress and you can connect to the named instance that way. You also need to make sure the SQL Browser service is running too - but that _should_ be enabled by default (see SQL Server Configuration Manager).

![image](https://user-images.githubus

[2022-09-28 08:53] sumitsum commented on #15531
Thanks a lot for the detailed steps @mourantDavidSearle. I will try them out.

[2022-09-28 08:57] ayushpahwa opened #17136 "[Bug]: console log side effects in dx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The new console log changes cause some unwanted side effects which should be fixed
- Source of the logs is replaced with the override file. While it is necessary for the evaluations file but the exported functions and types can be moved to another file so that the main override is not imported to

[2022-09-28 09:31] btsgh opened #17139 "[Bug]: MySQL DB - No parameters bound for current statement - error pops up intermittently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I run a simple select query (or any query), many a time this error pops up
**No parameters bound for current statement**

### Steps To Reproduce

1. Create a mysql datasource (Details [here](https://www.notion.so/appsmith/Servers-and-Credentials-665f00d9505745d59db4f3b4eda27c79#cd6a1610a7e840

[2022-09-28 09:38] pratapaprasanna opened #17140 "[Bug]: Create dependencies in supervisor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, in fat-container, when we start appsmith we control all the applications inside using supervisord.
In certain cloud-providers, there is a possibility of mongo not starting immediately causing the backend to fail as mongo is not ready to  serve backend.
In order to address this, we can s

[2022-09-28 10:07] sum35h commented on #14298
@jnikhila The documentation for maual update are already published.
-   Docker
-   K8s
-   AWS MAI
-   AWS ECS
-   Digital Ocean
-   Heroku

[2022-09-28 10:08] billyrudi commented on #16259
Hi, do you have news about this task? the speed i one of the most important target in every software today!

[2022-09-28 10:08] billyrudi commented on #16259
please make this with higth priority!

[2022-09-28 10:08] sum35h commented on #14055
@pratapaprasanna  Could you help me with this one.

[2022-09-28 10:12] sum35h commented on #12863
@jnikhila  The doc at the above link needs to be updated. I'll raise a CR on gitbook shortly.

[2022-09-28 10:15] somangshu commented on #13334
Ok, Here is what I think
- We triage the problem basis above test cases that are written
- We identify the fix and implement it
- Add the test cases and ship

cc @keyurparalkar

[2022-09-28 10:17] dilippitchika opened #17141 "[Feature]: Add a read only mode to rating"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a new read only mode to ratings.

Pptions:
1. Add a switch called read only and migrate all the disabled values to read only instead. Doing this means we have to handle the case where when both read only and disabled are set to ON we default to disabled.
2. Add a state button group which has edita

[2022-09-28 10:23] dilippitchika opened #17142 "[Feature]: When user updates the name of the custom column also update the property name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Since user is updating name of custom column, like other table columns they should not need to update the name again in the `property name` field.

In this case though, everytime user updates the name of the custom coloumn we will update the property name field, so their changes might go away and we h

[2022-09-28 10:28] dilippitchika opened #17143 "[Feature]: Change default label position to top for all widgets which have labels"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Change default label position to top for all widgets which have labels and increase their height so that each widget with label fits in the bounding box.

Widgets to be updated
1. All inputs
2. All selects
3. Datepicker
4. Group widgets

No need to do it in checkbox, switch and rich text editor

### W

[2022-09-28 10:35] Sripriya93 commented on #16410
Verified in Latest DP https://appsmith-git-poc-dynamic-height-get-appsmith.vercel.app/

Moving to done

Found some widgets having horizontal scroll, reported and tracking in Notion https://www.notion.so/appsmith/0685319927c940268266742384480e3d?v=e605a0fbc9cb451ea13af8c5c31d5459

[2022-09-28 10:38] bharath31 commented on #17065
@AnandiKulkarni are you able to reproduce it on new/existing apps without an import?

[2022-09-28 10:44] Moemad-711 commented on #12200
This is for enterprise that host internal tools on On-premise servers that can't be connected to the internet due to security limitations

[2022-09-28 10:48] Sripriya93 commented on #16992
We are still facing this issue, please check the loom, verified in the latest DP and also in the given DP, Moving to Inprogress

https://images.zenhubusercontent.com/275993885/5d432e96-2bdd-40c9-8f41-b74364c03b5b/dp___28_9___editor___appsmith___28_september_2022.mp4

[2022-09-28 10:51] dilippitchika opened #17145 "[Bug]: When input widget references store value and updating text updates the same store there is a delay"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i update input  default value to with a store value and keep updating the store value using onTextChanged event, we can see a delay in typing

### Steps To Reproduce

1. Add a default value from a store value in an input widget
2. Update the same store value onTextChanged of an input widget.

[2022-09-28 10:56] #8535 closed

[2022-09-28 10:56] keyurparalkar commented on #16946
For the map widget library upgrade, we think that once the react 17 changes are in place then from that we can continue towards the upgrade process. We are thinking this approach to be feasiblie since:

- Upgrading to to a library like this [one](https://www.npmjs.com/package/@react-google-maps/api) is possible but the library itself is maintained by a single maintainer. This in near future will p

[2022-09-28 10:58] dilippitchika opened #17146 "[Feature]: Add an icon specific widget or a read only mode for icon button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When using an icon button, users are looking for ways to disallow click but also not make it feel like it's disabled. Hence we need a read only behavior on the icon button.

3 ways to acheive this-
1. Add a new icon widget altogether (feels like an overkill, maybe we should rename icon button to icon)

[2022-09-28 11:00] dilippitchika opened #17147 "[Feature]: Allow containers to have images as background and not just colors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Containers, forms, lists, tabs should support images as background as well

### Why should this be worked on?

Helps build better experiences like adding text on an image etc.

[2022-09-28 11:00] yaldram commented on #16946
- We cannot update your `React package` because the map library we are currently using does not support React 17. So first we have to update our map library.
- You can choose any library that is compatible with the latest version of React and also supports React 17 and our current React 16 versions.

[2022-09-28 11:04] dilippitchika opened #17148 "[Bug]: Unlink show pagination property to server side pagination property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i turn off show pagination today, it also hides server side pagination property. This creates a problem because users are not able to understand how to make the table scroll yet

### Steps To Reproduce

1. Add a table
2. Set show pagination to off
3. Observe it hides server side pagination se

[2022-09-28 11:06] yaldram commented on #16946
My Rationale behind suggesting this - https://www.npmjs.com/package/@react-google-maps/api library is, it is a forked version of the library we are currently using, so the API will be same for the most part.

Also please check the Gtihub issues here - https://github.com/google-map-react/google-map-react/issues there are some issues with React 18 & node version 16.

Feel free to use whichever libra

[2022-09-28 11:10] dilippitchika opened #17149 "[Feature]: Default tab should be a dropdown instead of a text field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When working with tab widget, it's better to have a dropdown for default tab.

Edge cases
1. When user updates an existing tab name and if this is same as the tab selected by default then the current default tab name should also update.

### Why should this be worked on?

Helps users save time by sele

[2022-09-28 11:10] sum35h commented on #12863
The doc for migration [here](https://docs.appsmith.com/advanced-concepts/more/backup-restore#steps-to-migrate-entire-appsmith-data-onto-instances) seems very old.
@sharat87  Should we update this with the appsmithctl migrate command that geekup had written? or should we use backup and restore to handle instance migration?

[2022-09-28 11:11] ramsaptami commented on #9585
This issue is reproducible on current release and prod hence reopening it @bharath31

[2022-09-28 11:16] dilippitchika opened #17150 "[Bug]: Selecting tab 2 from entity explorer doesn't open tab 2 but opens the default tab instead"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i select the tab i want to see from the entity explorer, i only see the default tab

### Steps To Reproduce

1. Add a tab widget with 2 tabs
2. Navigate to the 2nd tab using entity explorer
3. Observe that the default tab is open

### Public Sample App

_No response_

### Version

Production

[2022-09-28 11:16] bharath31 commented on #8489
@Rishabh-Rathod we will take this up separately after we complete the action selector refactor project.

[2022-09-28 11:16] nidhi-nair opened #17151 "[Task]: Upgrade server side JUnit dependencies to Jupiter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-28 11:19] dilippitchika opened #17152 "[Bug]: Maintain order of data when the table's schema changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i have defined a table schema with all the customisations necessary and then the schema of the table changes to have only a few columns from the original schema or no columns, the customisations I made are lost.

### Steps To Reproduce

1. Add a table widget
2. Bind it to data
3. Customise th

[2022-09-28 11:41] Sripriya93 commented on #12672
Compared the behavior with release and could see the difference and no extra space in the canvas or the Deploy mode is seen. Moving to done.

[2022-09-28 11:48] #8990 closed

[2022-09-28 12:02] Rishabh-Rathod commented on #16259
@billyrudi Performance is indeed our priority too. This is a high-priority issue and the team has already picked it up and started initial discussions on this. We will share more updates on this soon. :)

cc: @satbir121 @bharath31

[2022-09-28 12:36] Sripriya93 commented on #17079
we are seeing a scroll in the Tabs widget in Tab settings, so moving to In progress

![image](https://user-images.githubusercontent.com/104895602/192779966-3dc83c6d-610b-40b1-b022-621735d7ceaf.png)

[2022-09-28 12:40] RakshaKShetty opened #17154 "[Bug]: Audit log: the JS object execute event is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

the JS object execute event is missing

### Steps To Reproduce

1.login as demo user
2. inside the app add a new js object
3. run the js object
4. now go to home page
5. click on admin setting
6. now check the event is missing

### Public Sample App

_No response_

### Version

http://ec2-65-2-149

[2022-09-28 12:41] RakshaKShetty commented on #16986
@vishnu-gp the workspace name is missing when user create a crud page

[2022-09-28 12:46] rohan-arthur commented on #4493
closing this in favour of #3129 because there's more action going on there

[2022-09-28 12:59] AnandiKulkarni commented on #17065
@bharath31 this is reproducible on few apps and tried later on creating new app and issue no more existed but it is constantly existed on shared app. App is in primary stage and created on release date. Not sure why this error started coming

[2022-09-28 13:26] felix-appsmith opened #17155 "[Docs]: Provide relevant documentation for HubSpot SaaS Integration."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/reference/datasources

### Describe the problem

User Education Pod requires all the docs we have on HubSpot SaaS Integration.

### Describe the improvement

Please refer to the following Documents:

- EngSpec: https://www.notion.so/appsmith/HubSpot-Settings-Integr

[2022-09-28 13:36] sharat87 commented on #12863
No. That document is solving a different problem. It works, only if you have admin control over _both_ the source and destination environments of your migration. Like, I have Appsmith on a server on AWS, and I want to move it to a server on GCP. This is the doc I need. It'll move _all_ users, workspaces, applications, API Keys, configs etc.

But, we obviously can't have that for moving from our pr

[2022-09-28 14:22] jerowe opened #17156 "[Bug]: Certificate isn't generated when using Appsmith Helm Chart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I'm trying to get the Appsmith helm chart up and running with SSL.

(This might be a me doing something stupid rather than a bug.)

Here's my values -

[code]

Relevant helm charts -

[code]

I do have a cluster issuer:

[code]

The issue seems to be that the certificate isn't created. It is creat

[2022-09-28 14:32] vihar opened #17158 "[Bug]: Unable to select text with cursor while using table widget's inline editing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you try to select or highlight the text on the row-cell in the table widget using the inline-editing feature, the entire table is selected and moved across the canvas. However, if you highlight the text using `shift + arrows`, this is working fine.

Attaching loom for reference:

https://www.

[2022-09-28 14:44] satbir121 commented on #15612
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | <<>> |
| Effort (months)  | 0.3 |

[2022-09-28 14:56] bharath31 commented on #15612
Assuming 100% of users who use `getCurrentLocation()` or `canBeRequested` on WIDGET_PROPERTY_UPDATE or AUTO_COMPLETE_SELECT

[2022-09-28 14:59] bharath31 commented on #11147
Assuming 100% of users who use `getCurrentLocation()` on WIDGET_PROPERTY_UPDATE or AUTO_COMPLETE_SELECT

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 267 |
| Effort (months)  | 0.2 |

[2022-09-28 15:09] ankurrsinghal opened #17159 "[Bug]: validation and state updates for the inter-dependent controls in the property pane not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The above bug was found during the development of Dynamic Feature called Auto Height with Limits. Here we have 2 values called min and max limit. Min cannot be greater than max, this is a validation we added. Now the min should check for its validations every time max is updated, which is currentl

[2022-09-28 15:11] ankurrsinghal commented on #17056
Created a separate issue for wider perspective, https://github.com/appsmithorg/appsmith/issues/17159

[2022-09-28 15:42] subrata71 commented on #17135
When you turn off the prepared statement variable substitution takes place meaning the binding names are replaced by the respective values. And finally, the query looks like a simple string without any substitution in it. That's why it works under simple statements.

When the underlying r2dbc library throws any error we propagate the same to the user. Customizing this error message to what you men

[2022-09-28 16:30] PaulMcF1987 commented on #6452
I have been pointed to this feature request based on my request on discord...

`I have widgets set up to become disabled once populated so that the entries cannot then be tampered with.
The issue I am finding is that, if I want to type an entry into the widget, the widget disables after the first letter, because in its eyes the text has changed and it has done its job.

I have used other similar s

[2022-09-28 17:28] #17100 closed

[2022-09-28 17:28] sum35h commented on #12863
@sharat87  Sorry for the confusion, although this issue is with respect to cloud to self-hosted migration.
I saw that the docs [here](https://docs.appsmith.com/how-to-guides/backup-restore) here is actually for server to server migration, where users are directed to use mongodump and copy to new instance with mongorestore.
So, I thought it would be better to update this with the migrate command.

[2022-09-28 17:28] #10977 closed

[2022-09-28 17:28] #10986 closed

[2022-09-28 17:28] #15171 closed

[2022-09-28 17:28] #16879 closed

[2022-09-28 17:46] ankitakinger commented on #14458
Re-opening for pending sub-tasks

[2022-09-28 19:03] #10981 closed

[2022-09-28 19:15] Rishabh-Rathod commented on #16381
No, https://github.com/appsmithorg/appsmith/pull/16823 will only remove the async function definition and not change logic of automatic enabling of JSObject `onPageLoad` functionality. We can look into this together.

[2022-09-29 00:24] developer-honoru opened #17162 "[Bug]: 'source data exceeds 50-fields' and the page freezes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

'source data exceeds 50-fields' and the page freezes

Discord thread : https://discord.com/channels/725602949748752515/1024863192935051394/1024996651842154507

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/33475816/192911351-af295d5d-70e7-4cd0-9d5e-97dd8f5e4d60.png)
![

[2022-09-29 00:50] sumitsum opened #17163 "[Task]: Remove RapidApi plugin related FE code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- There seem to be certain files / changes present on the FE side related to RapidApi plugin. Since we have decided to not support the plugin at the moment we should remove it to clean up the code base and avoid having to tiptoe around this code.

[2022-09-29 00:53] sumitsum opened #17164 "[Feature]: SQL plugins: provide support for auto complete in SQL editor based on db / table schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Provide table / column names as part of auto complete when writing SQL command.

### Why should this be worked on?

Ease of use.

[2022-09-29 00:58] sumitsum opened #17165 "[Task]: make datasource config page consistent with current design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- The current datasource page seems to be using older design components / color themes. Need to bring it up to date with the current design system.

[2022-09-29 02:05] developer-honoru commented on #14175
@vuiets I'm not familiar with English, so meeting can be difficult. If you can speak Korean or Japanese, you can.

[2022-09-29 02:06] developer-honoru commented on #14175
@vuiets  It would be good to refer to this
https://docs.retool.com/docs/git-syncing

[2022-09-29 02:07] developer-honoru commented on #14175
You can talk by email. For your information, we are curren
![image](https://user-images.githubusercontent.com/33475816/192922277-29f77d29-7a98-4686-8955-8e545fcf5138.png)
tly exchanging emails with the Appsmith team.

[2022-09-29 02:16] developer-honoru commented on #14175
https://discord.com/channels/725602949748752515/1016955840437174273/1016955843889074236

[2022-09-29 02:22] yatinappsmith opened #17166 "[Epic] Create an internal app for Peoples Pod"

[2022-09-29 02:23] #17166 closed

[2022-09-29 03:24] #17151 closed

[2022-09-29 03:54] sanjus-robotic-studio commented on #7960
Hey, will this issue be solved anytime soon

[2022-09-29 04:26] tanvibhakta opened #17167 "[Bug]: Inconsistent messaging when copying from Evaluated Actions Pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I copy the code in the action popup, I see a message saying `Evaluated value copied to clipboard`. I expect to see a message saying `Example Structure copied to clipboard` or something in a similar vein.

<img width="877" alt="Screenshot 2022-09-29 at 9 49 09 AM" src="https://user-images.gith

[2022-09-29 05:01] fire commented on #2412
Use case is to have a self hosted baserow with a self hosted appsmith.

[2022-09-29 05:07] #11880 closed

[2022-09-29 05:12] #16388 closed

[2022-09-29 05:20] #16624 closed

[2022-09-29 05:24] #15296 closed

[2022-09-29 05:26] #12831 closed

[2022-09-29 05:55] #15625 closed

[2022-09-29 06:01] #17080 closed

[2022-09-29 06:01] #17063 closed

[2022-09-29 06:11] shadabbuchh opened #17169 "[Bug]: User Display Picture does not upload even when size is way below 3 MB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Even when a picture size is way below 3 MB it does not upload. We have to get it below 250 KB for the pic to get uploaded.
https://www.loom.com/share/a502a20e0a2b4d1e99ae6b0c9b38df95

### Steps To Reproduce

1. Login to the app.
2. Click on the profile avatar and go to `Edit Profile`.
3. Try to up

[2022-09-29 06:17] kocharrahul7 commented on #16941
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 5000 |
| Effort (months)  | 0.5 |

[2022-09-29 06:18] pranavkanade commented on #17162
@developer-honoru, could you please list down the steps to reproduce the issue? Or Share a loom video of the issue in action.

[2022-09-29 06:34] btsgh opened #17171 "[Bug]: On updating tinyint datatype cell with a value outside the range, the cell gets updated with the max value of the range, instead of throwing an error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I update a db  tinyint datatype cell with a value outside the range, the cell gets updated with the max value of the range, instead of throwing an error.

### Steps To Reproduce

1. Create a mysql datasource (Details [here](https://www.notion.so/appsmith/Servers-and-Credentials-665f00d9505745

[2022-09-29 06:39] dilippitchika commented on #7960
Hey @sanjus-robotic-studio no we haven't been able to prioritise this yet. Could you please let us know your use-case?

[2022-09-29 06:44] btsgh opened #17172 "[Bug]: In MySQL, when I pass a string into a integer datatype column, the cell gets update with a 0."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In MySQL, when I pass a string into a integer datatype column, the cell gets update with a 0.

### Steps To Reproduce

1. Create a mysql datasource (Details [here](https://www.notion.so/appsmith/Servers-and-Credentials-665f00d9505745d59db4f3b4eda27c79#cd6a1610a7e84073b0491cd2c020de4e))
2. Create a

[2022-09-29 06:53] sumitsum opened #17173 "[Bug]: GraphQL: need support for `enum` type parameter in query body / query variables smart substitution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- need support for `enum` type parameter in query body / query variables smart substitution

### Steps To Reproduce

Try to pass enum parameter as value of dynamic binding.

### Public Sample App

_No response_

### Version

cloud

[2022-09-29 07:19] ginilpg commented on #16855
@eco-monk Can we show up the panel on click of the minified tabs? We can close this ticket along with that fix. Other enhancements we can take as part of a separate ticket @RoopKrrish9696

[2022-09-29 07:29] btsgh commented on #17172
Another similar issue observed -
Update alldatatypes8 set LastName = {{Input6.text}} where PersonID = {{Input2.text}}
Input6 = 00003arararara .. of original datatype text. Run above query, is successful
Now change widget from text to number datatype
Run above query, LastName is updated to blank.

[2022-09-29 07:58] btsgh commented on #16963
Similar issue seen even on MySQL DB

[2022-09-29 08:20] billyrudi commented on #16259
Hi, do you have news?

[2022-09-29 08:23] billyrudi commented on #17162
i can share mi screen to show this problem!!!
there are many many tasks also on discord about this!
contact me and make a zoom so i can show you!

[2022-09-29 08:30] satbir121 commented on #16259
@billyrudi We are actively working on this. It should be resolved before mid Oct. We are expecting around 40% increase in evaluations performance and around 30% increase in linting performance.

[2022-09-29 08:35] billyrudi commented on #16259
this solves also this issue? ->  https://github.com/appsmithorg/appsmith/issues/16259#issuecomment-1259092110

[2022-09-29 08:38] AmanAgarwal041 opened #17176 "[Bug]: Unable to start RTS server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When starting RTS server, it throws error :
<img width="882" alt="Screenshot 2022-09-29 at 2 07 02 PM" src="https://user-images.githubusercontent.com/7565635/192982976-8b67bdc8-028e-4648-9864-3f7de5cd768d.png">

### Steps To Reproduce

1. Go to `app/rts`
2. Run `./start-server.sh`

### Public Samp

[2022-09-29 08:43] btsgh commented on #17107
Another similar issue observed -

1. Update alldatatypes8 set LastName = {{Input6.text}} where PersonID = {{Input2.text}}
2. Input6 = 00003arararara .. of original datatype text. Run above query, is successful
3. Now change widget from text to number datatype
4. Run above query, LastName is updated to blank.

This seems to be incorrect behavior as only on change to Number datatype, the cell is upd

[2022-09-29 08:43] #15876 closed

[2022-09-29 08:56] satbir121 commented on #16259
@billyrudi This issue will help by improving the Page Load performance by around 10-20% depending upon the number of widgets being used.

However, table performance is a separate issue. We are actively working on it. We will share the timelines soon.

[2022-09-29 08:57] sbalaji1192 opened #17178 "[Task]: Table widget performance optimisation - part 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

 - [ ] Refactor autoToolTip component calculation to  improve the performance.

[2022-09-29 09:00] RoopKrrish9696 commented on #15661
**Design review for the[ latest DP](https://theappsmith.slack.com/archives/C02JT9CSE6L/p1664371030083979):** cc @kocharrahul7 @akash-codemonk @ginilpg

1. Stroke colour is missing from the radio button select state
2. The tooltip icon colour is different, refer to zeplin, please
3. Font weight of the URL inputs is not matching zeplin
4. The active state of the URL input bar is missing
5. The "See

[2022-09-29 09:09] #17030 closed

[2022-09-29 09:12] sbalaji1192 opened #17179 "[Task]: [Task]: Table widget performance optimisation - part 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Investigate and improve Table widget component's performance.

[2022-09-29 09:16] satbir121 commented on #16259
@billyrudi Issues that will have major impact on Table performance:
#17179 #16567

[2022-09-29 09:19] btsgh commented on #17107
Update alldatatypes8 set joiningdate = {{"2022-00-01"}} where PersonID = {{Input2.text}}
Update alldatatypes8 set joiningdate = {{"2022-09-00"}} where PersonID = {{Input2.text}}

The above cases cause the joiningdate cell to become blank.

Update alldatatypes8 set joiningdate = {{"0022-09-01"}} where PersonID = {{Input2.text}}
Update alldatatypes8 set joiningdate = {{"0000-09-01"}} where PersonID

[2022-09-29 09:26] btsgh commented on #17172
Another similar issue observed -

Update alldatatypes8 set LastName = {{Input6.text}} where PersonID = {{Input2.text}}
Input6 = 00003arararara .. of original datatype text. Run above query, is successful
Now change widget from text to number datatype
Run above query, LastName is updated to blank.
This seems to be incorrect behavior as only on change to Number datatype, the cell is updated to blank

[2022-09-29 09:26] btsgh commented on #17172
Update alldatatypes8 set joiningdate = {{"2022-00-01"}} where PersonID = {{Input2.text}}
Update alldatatypes8 set joiningdate = {{"2022-09-00"}} where PersonID = {{Input2.text}}

The above cases cause the joiningdate cell to become blank.

Update alldatatypes8 set joiningdate = {{"0022-09-01"}} where PersonID = {{Input2.text}}
Update alldatatypes8 set joiningdate = {{"0000-09-01"}} where PersonID

[2022-09-29 09:49] dilippitchika opened #17183 "[Feature]: Hide table borders and add modes for controlling them"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to hide table borders to make their apps look better

![image](https://user-images.githubusercontent.com/19730984/192999922-e2909f32-8e8c-4e3e-b7e3-bc4ab248c0c2.png)
![image](https://user-images.githubusercontent.com/19730984/192999950-e0b11241-0ee9-4826-9eeb-0319c0ce9109.png)
![image](htt

[2022-09-29 09:50] marks0351 commented on #16948
https://www.loom.com/share/b7938d17a978448685a2c27f6b9cf991

[2022-09-29 09:55] satbir121 commented on #11639
[This doc](https://github.com/appsmithorg/appsmith/blob/release/contributions/docs/GlobalFunctions.md) documents all the steps to add global functions.

[2022-09-29 10:08] souma-ghosh commented on #16612
For Multi-row selection disabled:
By default we are always assigning the value of `selectedRowIndex` to `defaultSelectedRowIndex` which is 0.
Only place where `selectedRowIndex` gets auto-assigned to -1 is when we use search in the table (this has been done explicitly for search functionality).
So here we need to figure out the cases where the `selectedRowIndex` needs to be auto-assigned to -1.
Th

[2022-09-29 10:18] sneha122 commented on #17108
When fetching the list of spreadsheets from Google Drive API, in the query we specify the mimeType as `application/vnd.google-apps.spreadsheet` which fetches all google sheets but does not list files with xlsx extension. In order to resolve this issue, we found a mimeType which can help us fetch xlsx files as well `'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'`, Now the probl

[2022-09-29 10:42] #17176 closed

[2022-09-29 10:54] dilippitchika commented on #11602
Not addressing this in widget reskinning, will work on a new accessibility epic and pick this

[2022-09-29 10:57] #10978 closed

[2022-09-29 10:59] dilippitchika commented on #10533
@dhruvikn can you use #f8fafc in the modern theme's page background?

[2022-09-29 10:59] #11028 closed

[2022-09-29 11:01] souma-ghosh commented on #15061
As discussed above, the labels within widgets should have tabIndex="-1".
Expanding on this further
Taking Currency Input Widget as an example:
1. First tab press focuses on the label - unnecessary, needs to be skipped
2. second tab press focuses on the currency sign, which is basically a disabled button with no onClick functionality - unnecessary, needs to be skipped
3. third tab focuses on the ac

[2022-09-29 11:02] subrata71 commented on #17171
This happens due to a non-strict mode in MySQL. If you change the sqlmode to strict mode then this kind of query will result in an error.

### Strict Mode
`set sql_mode = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';`

### Non-strict Mode
`set sql_mode = '';`

[2022-09-29 11:02] subrata71 commented on #17172
This happens due to a non-strict mode in MySQL. If you change the sqlmode to strict mode then this kind of query will result in an error.

### Strict Mode
`set sql_mode = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';`

### Non-strict Mode
`set sql_mode = '';`

[2022-09-29 11:46] rohitagarwal88 commented on #16404
@ankurrsinghal : let's keep it open till #17159  is fixed

[2022-09-29 11:48] aswathkk commented on #16948
Here are my observations:
- SelectWidget makes use of Blueprint Select
  - When we open the dropdown, we can scroll the canvas
  - When we open the dropdown, the focus sometimes shifts from input to property pane's first property. This happens due to a change I've done while working on making the property pane keyboard accessible. This is something that is found to be fixed in another PR that I'm

[2022-09-29 11:49] Aishwarya-U-R commented on #17139
Seeing intermittently:
<img width="1053" alt="Screenshot 2022-09-29 at 5 00 51 PM" src="https://user-images.githubusercontent.com/91450662/193023564-653597ab-2210-42d6-b1ef-fbfee04a93e9.png">

[2022-09-29 12:17] dilippitchika opened #17187 "[Bug]-[1072]:Page numbers are incorrect when records in a page are different than page size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When records in a page are different than page size, for example page size is 10 but records in a page are 50 then the no. of pages is still calculated using the page size but not the records on the page. This causes confusion to users.

### Steps To Reproduce

1. Add a table
2. Enable server side

[2022-09-29 12:24] dilippitchika commented on #17187
Assuming 50% set the limit higher

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 268 |
| Effort (months)  | 0.5 |

[2022-09-29 12:30] souma-ghosh commented on #15982
Unable to reproduce this issue @shadabbuchh

[2022-09-29 12:30] dilippitchika commented on #16937
Greetings @rksingh2001 , thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-09-29 12:38] dilippitchika commented on #17187
@souma-ghosh can you pick this up next sprint when you are back?

[2022-09-29 13:08] #16987 closed

[2022-09-29 13:21] Aishwarya-U-R opened #17189 "[Bug]: Request confirmation before running query | Saying No in confirm dialogs gives confusing toasts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/193040494-bc4724d1-1dfb-481e-a737-5ccdd9831287.mov

### Steps To Reproduce

1. Create 2 dependent queries, here '`get_paintings`' dependent on '`get_ship_via`'
2. Set `Request confirmation before running query` to true on both quries
3. '`get_pain

[2022-09-29 13:38] bharath31 commented on #9391
Tracking this epic here- https://github.com/appsmithorg/appsmith/issues/16294

[2022-09-29 13:38] #9391 closed

[2022-09-29 13:41] Aishwarya-U-R opened #17190 "[Bug]: JSObj Sync() | Multiple toasts notifying its OnPageLoad run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/91450662/193046404-d460a0dd-25a8-4ab3-a4f6-03ce5d0f2952.mov

### Steps To Reproduce

1. Create a JSObject sync method to return a query data, here : '`return get_wikis.data`'
2. Bind this js sync function to some widget, here: table to display the response

[2022-09-29 14:09] Aishwarya-U-R opened #17191 "[Bug]: GraphQL | URL Unconfigured toast message correction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="829" alt="Screenshot 2022-09-29 at 7 24 42 PM" src="https://user-images.githubusercontent.com/91450662/193053634-f8062f6b-96d6-4c28-904c-83d4708e075f.png">

### Steps To Reproduce

1. Create new GraphQL API
2. Do not configure the url, click on run from the opened query pane
3. Observe

[2022-09-29 14:46] AmanAgarwal041 opened #17193 "[Bug]: Even numbered variables in a graphql query show highlighting issues on multiple dynamic bindings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Every even numbered variable has a highlighting issue which is visible as red coloured colon `:`
<img width="622" alt="Screenshot 2022-09-29 at 8 13 53 PM" src="https://user-images.githubusercontent.com/7565635/193062848-2995fb07-2ad0-4f1e-acab-9ba1f46cf652.png">

### Steps To Reproduce

1. Create

[2022-09-29 14:47] AmanAgarwal041 commented on #16702
Created another issue for highlighting error #17193

[2022-09-29 14:53] sanjus-robotic-studio commented on #7960
My use case is just to add a widget to a form which allows the user to sign in order to verify that it was successful approved or verified so.

[2022-09-29 15:08] ZackKnopp commented on #2836
I have a use case for this as well.

We have a sales funnel / CRM app with an Appsmith + Supabase stack.

We decided we wanted each company we sign up to have their data segregated, so they have a different Supabase instance.
Each instance has a different api url.

We could use multiple environments to create a dev, prod-company1, prod-company2 ... etc

[2022-09-29 15:09] prapullac commented on #16705
@ChandanBalajiBP : Completed testing the PR and looks good to me

[2022-09-29 16:29] adarshlilha commented on #17143
@dilippitchika I would like to work on this
To confirm - by default, labels are currently positioned "left" -> this needs to be positioned "top"
is this correct understanding?
<img width="307" alt="Screenshot 2022-09-29 at 21 59 44" src="https://user-images.githubusercontent.com/13575704/193087396-f8667e37-145f-470e-b754-0825e226e47a.png">

<img width="287" alt="Screenshot 2022-09-29 at 21 58 29"

[2022-09-29 17:17] RakshaKShetty opened #17196 "[Bug]: Extra execute event is displayed when user clone, fork a app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Extra execute event is displayed when user clone, fork a app and also when page is deleted
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/193098197-3046f2a8-1411-44ba-9095-0ec4b5608dd3.png">

### Steps To Reproduce

1. Login as admin
2. fork the app in the or

[2022-09-29 17:22] vuiets opened #17197 "[Feature]: Multiple SSO integrations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user wanted their Appsmith instance to support multiple SSO/OIDC or SSO/SAML integrations at the same time. In their case, their app users were on Okta and developers were on AWS Cognito.

### Why should this be worked on?

This could be crucial for partners and agencies looking to adopt Appsmith.

[2022-09-29 17:31] vuiets commented on #12200
Sorry, I missed that! Thanks for clarifying :)

[2022-09-29 17:32] vuiets commented on #14175
Ah thanks @developer-honoru, will get in touch with you vai email :)

[2022-09-29 17:36] #16545 closed

[2022-09-29 19:12] albinAppsmith opened #17198 "[Task]: Migrate FormGroup component to design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-29 19:21] charles-bloomfield opened #17199 "[Bug]: Can not reference list of widgets in JSObject"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]

### Steps To Reproduce

define two date pickers, replicate code above

### Public Sample App

_No response_

### Version

Appsmith Community v1.8.0

[2022-09-29 20:15] albinAppsmith opened #17201 "[Task]: Migrate DraggableListCard and DraggableListComponent from ads folder to propertControl"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-29 20:29] albinAppsmith opened #17203 "[Task]: Migrate BannerMessage component to design system package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-30 02:27] #16756 closed

[2022-09-30 02:46] Rishabh-Rathod commented on #14104
A discord user faced this issue https://discord.com/channels/725602949748752515/1024863192935051394

[2022-09-30 02:47] Rishabh-Rathod commented on #14104
Another discord user faced this issue https://discord.com/channels/725602949748752515/1024628545911279637

[2022-09-30 02:54] shadabbuchh commented on #16756
Verified in Release. Working as expected.

[2022-09-30 02:54] shadabbuchh commented on #16388
Verified in Release. Working as expected.

[2022-09-30 03:43] shadabbuchh commented on #15982
@souma-ghosh as discussed I checked now & the bug does not exist on production any more. Please close this issue.

[2022-09-30 04:01] dilippitchika commented on #17143
Hello @adarshlilha yes, but this would also need a change in the default height as well. Since in the 2nd image you see the widget exceeds the boundary

[2022-09-30 04:01] dilippitchika commented on #17143
Would you be interested in picking this up?

[2022-09-30 04:03] #6766 closed

[2022-09-30 04:08] dilippitchika commented on #6452
Hey @PaulMcF1987 thanks, yes onBlur looks like it will help here. Can you explain this line more?

I did not understand if widgets are disabled by default and enabled after a user does something else or widgets need to be disabled after user has edited them and clicked away?

[2022-09-30 04:46] Rishabh-Rathod opened #17206 "[Bug]: Table row switch triggering update page DSL API call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/23132741/193191768-dbaa50b1-1e0e-4163-bad9-a258192d3c47.mov

In edit mode when the user switches between rows in the table the update layout API is getting called which is not expected.

### Steps To Reproduce

1. Add table widget with data
2. Switch betwe

[2022-09-30 04:50] #16002 closed

[2022-09-30 04:54] btsgh commented on #17106
Tested and found to be fixed on Release.

[2022-09-30 04:54] #13971 closed

[2022-09-30 04:55] #13039 closed

[2022-09-30 04:55] #13029 closed

[2022-09-30 04:55] hetunandu opened #17207 "[Bug]: ll config based action forms blink when navigating to it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Uploading Screen Recording 2022-09-28 at 2.59.57 PM.mov…

### Steps To Reproduce

1. Create an action with config/saas like S3
2. Navigate back and forth to it

### Public Sample App

_No response_

### Version

Cloud

[2022-09-30 04:57] btsgh commented on #17063
Fixed in Release.

[2022-09-30 05:07] Sripriya93 commented on #17080
We are able to see the Evaluated value as 0 when we check the default Min value after we D&D Number and Range slider
![image](https://user-images.githubusercontent.com/104895602/193194406-f7efc98a-6db0-4bf8-bfa5-336f788dcbc9.png)
![image](https://user-images.githubusercontent.com/104895602/193194474-8e7b4ef4-0fd9-4bd9-b646-77b092e0fbeb.png)

[2022-09-30 05:10] dilippitchika commented on #17206
@sbalaji1192 @keyurparalkar please triage this in the next sprint

[2022-09-30 05:10] sbalaji1192 commented on #17206
@Rishabh-Rathod Unable to reproduce this with the steps you mentioned

https://user-images.githubusercontent.com/5328605/193194780-9ec3abba-6cfe-48f3-821b-2e23b962d6c1.mov

[2022-09-30 05:25] ankitakinger commented on #16741
re-opening for remaining sub-tasks

[2022-09-30 05:31] Rishabh-Rathod commented on #17206
<img width="681" alt="Screenshot 2022-09-30 at 10 59 33 AM" src="https://user-images.githubusercontent.com/23132741/193197103-1e30118c-d8e1-4636-9ace-bdebb9503536.png">

Sorry my bad, can you also add JSON form widget with binding to table's selectedRow in sourceData  @sbalaji1192

[2022-09-30 05:36] Rishabh-Rathod commented on #14104
@sbalaji1192 Can we please remove the below code to avoid such a console error that confuses our users?

[code]

[2022-09-30 05:36] dilippitchika commented on #6452
PRD for the feature (Open for all)
https://appsmith.notion.site/Widget-onFocus-and-onBlur-events-36fc98f9d0d04ce0b369247e91e01e5b

[2022-09-30 05:49] sbalaji1192 commented on #17206
@dilippitchika @Rishabh-Rathod Layout is getting updated because of the JSON form widget. changing the issue description to reflect the same.

[2022-09-30 05:53] eco-monk opened #17209 "Task: Clean-up"
- [ ] Close on click outside (Handle save/delete theme as exception)
- [x] Loader for autosave state
- [x] URL preview scroll
- [x] Set as homepage disabled (settings pane and context menu)
- [x] App settings CTA hover state
- [x] Tailwind not working with dynamic class names (hardcoded for now)
- [x] Colors & Padding corrections
- [x] Press enter to auto-save on fields
- [x] (non-functional) - Ad

[2022-09-30 06:09] #14953 closed

[2022-09-30 06:09] #16250 closed

[2022-09-30 06:31] #11832 closed

[2022-09-30 06:39] #15982 closed

[2022-09-30 06:44] vishnu-gp commented on #17154
BE event is not there moving to Product Backlog

[2022-09-30 06:45] ankitakinger commented on #16461
All work completed in [#16641](https://github.com/appsmithorg/appsmith/issues/16641)

[2022-09-30 06:45] #16461 closed

[2022-09-30 06:47] ramsaptami opened #17211 "[Bug]: Expressions used in a binding on the query editor are not resolved to a value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

An extension of #16377 where expressions used within a query editor was being truncated but the issue with resolving a value from the expression still needs a fix

### Steps To Reproduce

1. Follow steps mentioned in issue #16377

### Public Sample App

_No response_

### Version

Cloud

[2022-09-30 06:52] AnaghHegde opened #17212 "Refactor logEvent and getFilterData method"

[2022-09-30 06:53] AnaghHegde opened #17213 "Update events merging for Page and Queries"

[2022-09-30 06:53] keyurparalkar opened #17214 "[Task]: POC to try out new google maps library that supports latest react versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-30 06:53] aswathkk commented on #17009
Sorry. I didn't see this issue.
Closing this since I'm already working on it on a separate issue #17079

[2022-09-30 06:53] #17009 closed

[2022-09-30 06:54] sumitsum commented on #7934
@prapullac can you please check if this issue is still valid ?

[2022-09-30 07:00] sumitsum commented on #3833
@prapullac can you please check if this problem is valid anymore ?

[2022-09-30 07:02] #16839 closed

[2022-09-30 07:02] #16841 closed

[2022-09-30 07:05] #16789 closed

[2022-09-30 07:06] #16759 closed

[2022-09-30 07:09] btsgh commented on #17135
@subrata71 I was not talking about an error message being customised. The message that is below the query pane, could that be updated to include a shortened version of -
"Prepared statements only allow parameters to be bound for "values". You cannot expect binding table names or column names through the prepared statement."

<img width="908" alt="Screenshot 2022-09-30 at 12 38 21 PM" src="https://

[2022-09-30 07:10] btsgh commented on #17172
Thank you for detailing this finding @subrata71 ..
If it would be informative if the user is aware of this through appropriate messages. If the warning (along with the error) that is shown in MySQL client can also be shown here, it would help the user to know that this is the by default the behavior of MySQL server.

[2022-09-30 07:10] #15473 closed

[2022-09-30 07:10] #15072 closed

[2022-09-30 07:11] Rishabh-Rathod opened #17215 "[Task]: Move expensive calculation task to separate worker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

## Why work on this?

### Demo showing delay in typing due to main thread being busy

https://user-images.githubusercontent.com/23132741/193206828-8d7d8621-9256-45db-b165-ae2700749f23.mov

### Root cause of the delay

Main thread while typing took ~505 ms

<img width="429" alt="Screenshot 2022-09-30

[2022-09-30 07:11] #13530 closed

[2022-09-30 07:12] #13529 closed

[2022-09-30 07:17] btsgh commented on #16600
Tested scenarios around this issue. The testcases run against this bug can be found [here](https://docs.google.com/spreadsheets/d/1Dj4loojZza3djtGztabO28wEJcH5zrch8vjcSKWmB8o/edit?pli=1#gid=803809111)
Some issues have been raised, but none of them are blockers as on detailed analysis by Subrata, they seem to be behaviors of the SQL db, and would mostly needed to be handled through documentation or

[2022-09-30 07:19] sribalajig commented on #13284
Affects queries on all data sources when the amount of data returned is large. Assuming 10% of all queries will pull large data, reach is ~1300
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1300 |
| Effort (months)  | <<number>> |

[2022-09-30 07:26] #16986 closed

[2022-09-30 07:27] sribalajig commented on #13281
@nidhi-nair @riteshkew How important is it to fix this right now? I want to get a sense of the priority.

[2022-09-30 07:28] #15373 closed

[2022-09-30 07:41] ramsaptami opened #17216 "[Feature]: Support console statements that are executed on page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Console statements in async/sync functions that run on page load, don't appear on the debugger. This needs to be logged and preserved so user can refer to it once the app has loaded

### Why should this be worked on?

This is the functionality of the browser console and since we're supporting native c

[2022-09-30 07:43] ankitakinger opened #17217 "Integrate API with User groups edit page EE"

[2022-09-30 07:43] ankitakinger opened #17218 "Integrate API with Permission groups edit page EE"

[2022-09-30 07:43] vishnu-gp opened #17219 "[Task]: Audit Logs - Enable JUnit Test cases for Instance Setting Update for authentication events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- CI Works related to Enabling Audit Logs
- Fix Tests cases for authentication configuration events

[2022-09-30 07:45] hiteshjoshi commented on #14366
@AnaghHegde to fix one flaky test for this, on a PR raised for this.

[2022-09-30 07:46] sumitsum opened #17220 "[Feature]: Provide web link with `localhost` endpoint related warning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In the past it has been observed that users struggle to find a work around when they want to connect to a DB running on their localhost even though the steps are documented on Appsmith's documentation page. Currently we show users a warning message asking them to go the documentation page but a direct

[2022-09-30 07:49] hiteshjoshi commented on #16980
@hetunandu can you post a video or a screenshot or how you reached that state?

[2022-09-30 07:51] hiteshjoshi commented on #17002
Closing this since this seems merged. Also, removing the Git labels.

[2022-09-30 07:51] #17002 closed

[2022-09-30 07:52] hiteshjoshi commented on #14366
#12174

[2022-09-30 07:52] sumitsum opened #17221 "[Bug]: MsSQL Plugin: `Test Datasource` is timing out without showing any error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In `MsSQL` plugin, sometimes `test datasource` fails without showing any error. In these instances most likely the API server keeps waiting for connection and the client times out. We should ideally show an error for these instances. Also, it would be good to implement similar solution for other p

[2022-09-30 08:02] rohitagarwal88 commented on #6164
@rahulramesha : This problem should solve when we context switching?

[2022-09-30 08:08] jsartisan opened #17222 "[Bug]: RTE does not inherit font from theming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

RTE widget is not inheriting the font from theming. Ideally, it should use the same font defined in the theming panel.

### Steps To Reproduce

1. Drop a RTE widget and notice it does not follow the font from theming.

### Public Sample App

_No response_

### Version

1.8.2

[2022-09-30 08:19] #12672 closed

[2022-09-30 08:45] Rishabh-Rathod opened #17223 "[Bug]: Reflow not working as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When app is generated via "Generate from a data table", Table is wrapped inside a container, when the container is resized, reflow is not happening.

https://user-images.githubusercontent.com/23132741/193230582-0a9e9e23-f7d6-4529-9eb2-706c0516c6e8.mov

check this loom too
https://www.loom.com/shar

[2022-09-30 08:46] sbalaji1192 commented on #14104
@Rishabh-Rathod Could you create an issue for this?

[2022-09-30 08:48] Rishabh-Rathod commented on #14104
@sbalaji1192 This issue was created for the same, we can close this with the fix.

[2022-09-30 08:48] sumitsum opened #17224 "[Task]: Arrows are too faint, almost unnoticable."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

It took me almost 1 minute to notice that there were two arrows here.
![Screenshot 2022-09-30 at 2 13 28 PM](https://user-images.githubusercontent.com/1757421/193231014-811080a3-0142-4e7f-8846-253de3ae9134.png)

[2022-09-30 08:49] sbalaji1192 commented on #14104
@Rishabh-Rathod Sounds good!

[2022-09-30 08:57] ramsaptami commented on #17211
Set these functions to run on page load and you can see the queries fail since the fail safe-expressions are not picked up for evaluation

[2022-09-30 09:08] ramsaptami opened #17225 "[Bug]: Function content is not reactive hence we see a cyclic dependency error when certain conditions are met"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Function content is not reactive and hence when certain conditions are met, we see a cyclic dependency error as seen in the video attached. Refreshing the page reads the correct function content but causes bad UX to not update code as and when user makes amends

### Steps To Reproduce

1. Create a

[2022-09-30 09:09] souma-ghosh commented on #17187
Sure @dilippitchika

[2022-09-30 09:15] dilippitchika commented on #17187
@souma-ghosh please add to next sprint and estimate

[2022-09-30 09:17] souma-ghosh commented on #17187
Ya that's done

[2022-09-30 09:17] rahulramesha opened #17226 "[Task]: POC for Draw to add widget on Canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Select widget from explorer to enter drawing mode.
- [x] Draw on Main canvas to add widget.
- [x] In the widget drawer, we need to update the text to drag a widget or click to draw.
- [x] Exit Drawing Mode after widget is drawn or when the user hits the `esc` key.
- [x] Show the widget grid bor

[2022-09-30 09:18] Aishwarya-U-R opened #17227 "[Bug]: JSAsync() | NonTagged Async function when bound gives irrelevant evaluation error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**Non Tagged async function in JS Obj:**

<img width="348" alt="Screenshot 2022-09-30 at 1 12 40 PM" src="https://user-images.githubusercontent.com/91450662/193234009-cac33d98-eb40-4162-b6bc-1844309bbc63.png">

**When bound the sync way to widgets:**

<img width="605" alt="Screenshot 2022-09-30 at

[2022-09-30 09:18] #10982 closed

[2022-09-30 09:18] #3180 closed

[2022-09-30 09:18] #10993 closed

[2022-09-30 09:18] #10999 closed

[2022-09-30 09:37] PaulMcF1987 commented on #6452
@dilippitchika all inputs are enabled by default, I have some which are then disabled after an entry has been input inorder to avoid tampering or information being lost.

As it stands currently, we need to type the details out on a separate text editor and then copy and paste into the widget.
If we decide to type direct into the widget, the widget disables itself after 1 character entry, the way t

[2022-09-30 10:05] Richarex commented on #15879
@akash-codemonk

- [ ] On switching to child branch and forking any template it is throwing error. Please refer to the attached video :-
https://user-images.githubusercontent.com/93259714/193246764-b70a620c-4587-438e-8621-c921517b5410.mov

[2022-09-30 10:11] sumitsum commented on #17165
Looks like the entire page is going be re-designed as part of the multiple environemnts project. Hence, closing this issue cc: @rohan-arthur

[2022-09-30 10:19] ginilpg commented on #15879
@Richarex Is this happening with all templates?

[2022-09-30 10:31] dilippitchika commented on #12531
Ok i am not sure, what this goes against in our scenario since if server side filtering is disabled we won't be showing default values which are not part of table. Will wait for @Tooluloope to come back.

[2022-09-30 10:36] dilippitchika commented on #4757
Linking to #17142, will discuss next week with the team

[2022-09-30 10:53] dilippitchika opened #17231 "[Feature]: Table default selected row should support page and primary column key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today the default selected row in a table only supports index and doesn't support which page or which primary key value should it refer to by default.

### Why should this be worked on?

Enabling this will help users build more contextual experiences within appsmith.

[2022-09-30 10:55] akash-codemonk commented on #15879
First one seems like an issue with errors template actions of multiple pages which are just piled up. This happens on release as well. The number of toasts depends on the number of failing actions on page load. If you have fewer actions failing in the templates you have fewer errors.
Not considering this as a bug it's more of an issue with the templates themselves.

The second issue is a bug I can

[2022-09-30 11:03] somangshu commented on #11901
This is still faced by another user, Conversation thread [here](https://theappsmith.slack.com/archives/CGBPVEJ5C/p1664446560000649)

[2022-09-30 11:07] Aishwarya-U-R opened #17232 "[Bug]: Theming | Request confirmation before running modals does not conform to Applied theme"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="1610" alt="Screenshot 2022-09-30 at 4 04 14 PM" src="https://user-images.githubusercontent.com/91450662/193255078-802cc7e4-cf09-4020-b71a-0b8c7f626f8d.png">

### Steps To Reproduce

1. D&D some widgets & apply a custom theme
2. Create a Query or Api or JSObjects & map their results to

[2022-09-30 11:09] dilippitchika commented on #17232
@rohitagarwal88 @albinAppsmith we need to expose themable properties in ADS modals for this case.

[2022-09-30 11:16] #16972 closed

[2022-09-30 11:16] #16521 closed

[2022-09-30 11:18] AnaghHegde commented on #15938
@jnikhila The draft for the AuditLogs is here - https://docs.google.com/document/d/1ZhdZZMY0Rw5sdkLe4giQLI7eAMelf_3oIMYaUL6LwmU/edit
What should be the content of the loom video?

[2022-09-30 11:21] RakshaKShetty opened #17233 "[Bug]: The newly invited workspaces are not displayed at the bottom of the workspace section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The newly invited workspaces are not displayed at the bottom of the workspace section
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/193258926-7b32e73f-356f-4b1a-a769-2a8a4bf67152.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.

[2022-09-30 11:23] akash-codemonk opened #17234 "[Bug]: Switching to a branch without the current page shows no page found screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/67054171/193258812-fc3e06ac-1ec1-40ff-8dd1-cc6e2d31a6a6.mov

### Steps To Reproduce

1. Create an application.
2. Connect to git.
3. Create a new branch say `release`.
3. Create a new page say `Page2`. So now this page isn't on master.
4. Switch branch to

[2022-09-30 11:24] #10972 closed

[2022-09-30 11:24] #10989 closed

[2022-09-30 11:24] #10996 closed

[2022-09-30 11:24] #15170 closed

[2022-09-30 11:27] RakshaKShetty opened #17235 "[Bug]: In Few workspaces the internal server error is displayed when user tries to leave the workspace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

the internal server error is displayed when a user tries to leave the workspace this is happening in 2 of my workspaces
1.Regression_sep19
2.share_modalcheck
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/193259832-3feaad75-cd5b-449c-b5c9-6936a66b1b1e.png">

[2022-09-30 11:29] albinAppsmith commented on #17232
@dilippitchika  can you help me understand what you mean by themable properties? Content of the modal is being passed from the place where it is integrated. DS is jus providing the modal, head, and close button

[2022-09-30 11:30] #16848 closed

[2022-09-30 12:11] AmanAgarwal041 opened #17236 "[POC]: Graphql schema implementation for query editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-30 12:15] mohanarpit commented on #17234
Technically, Appsmith is behaving correctly. Since a page is not available on a particular branch, there’s a 404 error. In order to give users a better experience, we need to differentiate between scenarios where a user is switching the branch from inside the application to a user who shouldn't have any information about this application/page accessing the URL. In the former case, we can redirect

[2022-09-30 12:29] Nikhil-Nandagopal commented on #2836
@ZackKnopp it sounds like you want to add environments on the fly which isn't something we're planning to tackle right now. Each environment will need to be configured by a developer in the application.

[2022-09-30 12:30] sribalajig opened #17238 "[Bug]: Explorer pane shows a datasource connection error even when error is rectified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**When** I have a datasource connectivity error, and I fix the error, **I don't expect to see the error** on the explorer pane after it has been rectified.
![datasource-error](https://user-images.githubusercontent.com/15727421/193269173-e61a63e8-31e2-4f96-b755-a0f68e19d7fd.png)

### Steps To Repro

[2022-09-30 12:59] #17136 closed

[2022-09-30 13:02] sribalajig opened #17239 "[Feature]: Reorganise the error log meta data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Here is a snapshot of an error that I faced while executing a query -

![better_formatting_errors](https://user-images.githubusercontent.com/15727421/193273965-30c5b670-7cdb-4609-9d4b-29c8a999a738.png)

Here are some issues with the logged values -

1. `actionId` is not something I am interested in kn

[2022-09-30 13:05] makulais commented on #11732
A better solution would be to simply allow a wrap of the button text! In designing apps for mobile devices, the height of the button is often increased rather than the width to provide larger selection areas and you end up with square buttons. But without the ability to wrap button text, the viewer is unable to discern information as easily. And hovering over a mobile app? How do you implement tha

[2022-09-30 13:06] #15644 closed

[2022-09-30 13:41] #15879 closed

[2022-09-30 13:45] ZackKnopp commented on #2836
I think it would work because we'd configure it manually for any companies we add.

We won't really roll it out to more than 10 companies max, since it's built for internal companies that our small investment company owns. And it's a big change from trying to manage many sales funnels in google sheets which are really easy for users to break.

[2022-09-30 14:46] sirbeagle opened #17240 "[Bug]: Simple regex strings with variable replacement fail in MongoDB queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When attempting to use a regex value for finding records against a MongoDB, a JavaScript expression gets misinterpreted and causes no records to be found.

In our case we are search an array of strings using the `$in` clause. In the simplest example when using `Find Document(s)`, we will see recor

[2022-09-30 15:21] #16705 closed

[2022-10-01 00:14] adarshlilha commented on #17143
sure @dilippitchika I'll work on this, thanks

[2022-10-01 04:44] Shyam-NR commented on #17224
hey, can I work on it if this is still available?

[2022-10-01 15:41] fernandogiacomino opened #17242 "[Feature]: FirebirdDB connector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Simple CRUDs operations from Appsmith to Firebird DB.

### Why should this be worked on?

We have a legacy Firebird/Interbase database that I want to connect to an internal Appsmith application. I know that there are many connectors developed for other applications, such as Metabase and Node-Red (we c

[2022-10-01 15:56] trishaanand commented on #17235
This issue is being seen only on Enterprise Edition. Only the Developers and the App Viewers are currently not able to leave a workspace which has been created over the last two weeks. The out right for such workspaces would be to request an administrator of such workspaces to remove the member from the workspace from `Manage members` page.

[2022-10-02 10:54] CookieHax opened #17244 "[Feature]: Add Stripe Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Adding stripe integration would be cool, lot's of companies use Stripe for checkout and it would be very cool if we could share data from stripe and visualize it.

### Why should this be worked on?

Would benefit many people and it would be cool if there were things such as a refund panel, checkout li

[2022-10-02 15:02] albinAppsmith opened #17246 "[Task]: Migrate JS Toggle Button from ads folder to design system package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-02 16:11] Irongade commented on #17211
I can't seem to reproduce this bug, can you make a video where this scenario is happening?

[2022-10-02 16:29] #17235 closed

[2022-10-03 02:27] tanvibhakta opened #17250 "[Task]: Migrate Step component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-03 02:29] #17250 closed

[2022-10-03 02:58] tanvibhakta opened #17251 "[Task]: Empty out the ads folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

## SubTasks

### Done

- [x] move JSToggleButtonComponent - Done
- [x] move UserImageProfilePicker - QA Done
- [x] import changes for step component
- [x] migrate and import changes for DraggableListCard, DraggableListCardComponent - QA Done
- [x] move TextField - QA Done
- [x] import changes for table - QA Done
-

[2022-10-03 03:38] laveena-en opened #17253 "[Bug]: List widget - Hand cursor is seen over the disabled pagination arrows."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hand cursor is seen over the disabled pagination arrow when hovered upon instead of a disabled arrow.

Uploading Screen Recording 2022-10-03 at 9.00.46 AM.mov…

### Steps To Reproduce

1. D&D a list widget.
2. Mouse over the left/right pagination arrow swiftly while being on the first/last page re

[2022-10-03 03:39] laveena-en commented on #10999
@jsartisan Raised an issue wrt list widget reskinning here: #17253

[2022-10-03 04:20] albinAppsmith opened #17255 "[Task]: POC on Linaria, Stitches and Styled component performance impact"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Create/Convert Button component in both Linaria and Stitches.
- Create a new react application
- Render 100 button component and measure, first load time and re-render time

[2022-10-03 04:45] RakshaKShetty opened #17257 "[Bug]: In share modal role name should not be retained in the role dropdown after assigning the roles to the user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In share modal role name should not be retained in the role dropdown after assigning the roles to the user
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/193502756-4512854c-c638-4b6b-937b-49baf214a13f.png">

### Steps To Reproduce

1. Login to release instanc

[2022-10-03 04:53] vishaldfreak commented on #13563
Interested in this.

[2022-10-03 04:56] vishaldfreak commented on #11733
Interested in this!

[2022-10-03 04:57] ginilpg commented on #15661
@akash-codemonk  Please check below points

- [ ] There is no duplicate domain validation. As of now, we can enter the same domain multiple times.
- [ ] Allowing embedding everywhere clears the domains entered in the restricted domain input box. Can we add a warning confirmation message if we change the option to "allow embedding everywhere"?

[2022-10-03 05:16] hetunandu opened #17258 "[Task]: Log ChunkLoadError on Sentry only after a 3rd attempt"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

After merging https://github.com/appsmithorg/appsmith/pull/17168 we will re attempt loading chunks. Because of this, we would end up logging errors on sentry a lot. We now want to only have log on sentry after failing all attempts and redirecting.

[2022-10-03 05:40] danciaclara opened #17260 "[Bug]-[500]:Navigation drawer for pages on mobile view should close when a page is selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When in mobile view, the navigation drawer for pages that open on clicking the hamburger menu should automatically close when a page is selected. Today, the user has to perform two clicks -  select the page and click on the close icon or outside to close the drawer.

### Why should this be worked on?

[2022-10-03 06:24] Parthvi12 opened #17262 "[Bug]: On forking template to a child branch of git connected app is throwing Page not found error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a template is forked to a child branch of git connected app and changes are not committed , on opening that app again it throws a Page not found error, ideally on opening app it should take user to the home page of master branch, which is how current git connected apps work.
<img width="1439"

[2022-10-03 06:26] akash-codemonk commented on #17262
@Parthvi12 This is not a release blocker. This is the same as https://github.com/appsmithorg/appsmith/issues/17234.

[2022-10-03 06:29] Parthvi12 commented on #17262
@akash-codemonk No this is not the same, so once we open the app again it takes us to the master branch even when we were on child branch and changes were not committed but here it is throwing page not found error on opening the app again

[2022-10-03 06:31] shadabbuchh opened #17263 "[Bug]: Button Group widget is not responsive to the canvas size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we change the canvas size from `Fluid Width` to `Mobile Device` the width of the Button Group widget does not automatically adjust to it.

https://www.loom.com/share/97734280effc4af496f083df54f093cf

### Steps To Reproduce

1. D&D a ButtonGroup widget.
2. Change the canvas width to `Mobile De

[2022-10-03 06:34] bharath31 commented on #15056
Update: We've picked this issue up in the current sprint. We should have a fix out soon.

[2022-10-03 06:42] dilippitchika commented on #17260
## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | 0.5 |

[2022-10-03 06:48] Nikhil-Nandagopal commented on #17244
Hi @CookieHax thanks for the feature request. We're already tracking this issue here #3599 so I'm closing this

[2022-10-03 06:48] #17244 closed

[2022-10-03 07:03] Nikhil-Nandagopal commented on #17108
This doesn't seem like an expectation for users since the xslx is different from the GSheet File type. If this is a need, lets raise this as a separate feature request but I don't think we've heard this before

[2022-10-03 07:03] #17108 closed

[2022-10-03 08:04] Nikhil-Nandagopal commented on #17171
This seems to be a behavior of the database and not related to appsmith so closing this. We should not be responsible for the behavior of the database

[2022-10-03 08:04] #17171 closed

[2022-10-03 08:05] Nikhil-Nandagopal commented on #17172
Closing this for the same reasons as #17171

[2022-10-03 08:05] #17172 closed

[2022-10-03 08:05] rohan-arthur opened #17265 "[Feature]: Mongo increase width of query box"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The input box to enter the MongoDB query is single column width, and this hampers readability for longer queries. Compare this to GraphQL where the query body is given a much wider box.
Ref: https://theappsmith.slack.com/archives/CRVRBGU1K/p1664776246729369
Reference image:
![Uploading CleanShot 2022-

[2022-10-03 08:13] bharath31 commented on #10347
Assuming 3% of users use if/else statements within mustache brackets on the property pane

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 270 |
| Effort (months)  | <<number>> |

[2022-10-03 08:18] #10452 closed

[2022-10-03 08:30] Nikhil-Nandagopal commented on #17051
@btsgh please share an app where we can reproduce this

[2022-10-03 08:36] Nikhil-Nandagopal commented on #17139
@btsgh can you please share a sample app with this error and a video

[2022-10-03 08:36] #17135 closed

[2022-10-03 08:37] Nikhil-Nandagopal commented on #17135
Closing since this is expected. @btsgh please raise another issue if you have a suggestion for the text

[2022-10-03 08:44] Nikhil-Nandagopal commented on #17240
@sirbeagle this should work if you turn off smart substitution in the settings of the query

[2022-10-03 08:45] Nikhil-Nandagopal commented on #17162
@billyrudi @developer-honoru we're working on this issue. Till then, we recommend not loading all the columns into the table unless they absolutely need to be displayed.

[2022-10-03 08:51] Nikhil-Nandagopal commented on #16963
This is because the type of CC_END_DATE doesn't match the type inserted and CC_CREATIONTIME is storing the value in UTC so it's 5:30 hrs behind

[2022-10-03 08:51] #16963 closed

[2022-10-03 09:10] Nikhil-Nandagopal commented on #17040
@bharath31 but that isn't exactly true. The user may just be trying to set the value to undefined. Linting for function signatures as a problem I think needs to be thought through entirely and should be a new feature we introduce than treated as a bug of this specific case

[2022-10-03 09:12] btsgh commented on #17139
https://www.loom.com/share/eeebc4fbc2034e34bf08d09c309a4a29
@Nikhil-Nandagopal - here is the loom video that I recorded by reproducing it right now. I reproduced it quite often - though intermittent, on my localhost enviroment.

[2022-10-03 09:15] Nikhil-Nandagopal commented on #17139
@btsgh please share the app too

[2022-10-03 09:19] btsgh commented on #17139
Since its on my localhost, I don't think I can share it. I am attaching an export of the app here though. (You could rename it to json and use it.) Also, as mentioned in the bug, if I re-run the query, it passes.
[My first application (2).txt](https://github.com/appsmithorg/appsmith/files/9696188/My.first.application.2.txt)

[2022-10-03 09:31] kocharrahul7 opened #17267 "[Feature]: Create a loader/progress indicator widget, which will update as the queries and widgets load in on the background."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user wants to implement a global circular progress indicator where the loading widget comes in the foreground while the widgets in the background are slightly faded.

### Why should this be worked on?

This is a way for users and app viewers to see their app load in, while still being informed that

[2022-10-03 09:47] btsgh opened #17268 "[Bug]: On creating a page from a template in a git connected app- no Page link on the left side - though the canvas with the widgets are seen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I create  a page from a template in a git connected app, there is no Page link on the left side - though the canvas with the widgets are seen

### Steps To Reproduce

1. Connect an app to git. Create your own branch
2. Switch to this child branch
3. Click on the Plus sign next to pages and ch

[2022-10-03 09:48] akash-codemonk commented on #17268
@btsgh Closing as duplicate of https://github.com/appsmithorg/appsmith/issues/17262

[2022-10-03 09:53] btsgh commented on #17268
I don't understand why its duplicate, this seems to be a new issue. The page link is not seen on the left side. The other issue is different in the sense its a page not found error.

[2022-10-03 09:53] vuiets commented on #16986
@vishnu-gp if we are closing this, could you please raise a separate task to track this?

[2022-10-03 09:55] vuiets commented on #13823
@abhvsn @AnaghHegde @IAmAnubhavSaini @hiteshjoshi can we close this epic if we reached the goals that we set out for it? We could move the remaining items to the next epic to bring git version control out of beta.

[2022-10-03 09:56] akash-codemonk commented on #17268
That issue starts with performing the steps in this issue, but yeah we can keep this and close it when it is fixed.

[2022-10-03 10:08] Parthvi12 opened #17270 "[Bug]: On forking selected pages from a template, resource not found error is shown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On forking "Response" page of Employee time tracker and "Search" Page of Customer Support Dashboard, resource not found is shown, and user is not directed to forked page, however on hard refresh the redirection happens
<img width="1439" alt="Screenshot 2022-10-03 at 3 39 11 PM" src="https://user-i

[2022-10-03 10:23] RakshaKShetty opened #17271 "[Bug]: The workspace name is missing when the user creates a crud page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

the workspace name is missing when the user creates a crud page

### Steps To Reproduce

1. Login as demo user
2. Click on member & setting menu
3. Click on audit log menu
4. create a new crud app
5. In event filter select page creation
6. The workspace name is missing in newly created crud page

[2022-10-03 10:24] RakshaKShetty commented on #16986
@vishnu-gp adding the new issue link https://github.com/appsmithorg/appsmith/issues/17271

[2022-10-03 10:25] ginilpg commented on #17262
@hiteshjoshi @mohanarpit Could you please check this?

[2022-10-03 10:34] muezz commented on #17267
For my particular use case, I, willingly, disable "Run on Page Load" option for ALL of my database queries as I want to run them in a specific order. I run them individually and in order using a JS async function which is the only thing that is allowed to run on page load. Although this works for me, the queries running, loading and updating values on my dashboard one by one is not visually pleasi

[2022-10-03 10:39] Parthvi12 opened #17272 "[Bug]: Forking selected pages from template from Add new page popover is crashing the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On forking selected pages from Add new page popover, crashes the app with page not found error

<img width="1440" alt="Screenshot 2022-10-03 at 4 03 00 PM" src="https://user-images.githubusercontent.com/80334441/193557237-f4e61338-55f7-41b2-82c3-2fa654ab0d65.png">

### Steps To Reproduce

1. Click

[2022-10-03 10:43] Parthvi12 commented on #17272
@akash-codemonk Can you try selecting only "Search" page and fork, it crashes for me

[2022-10-03 10:44] akash-codemonk commented on #17272
Yeah tried that I see resource not found error as mention in https://github.com/appsmithorg/appsmith/issues/17270

[2022-10-03 10:47] Parthvi12 commented on #17272
@akash-codemonk Yes but there we are forking from start from template card and on refresh the app works fine, but here we are forking app from add new page popover and app goes in bad state, even on hard refresh it is not recovered. Hence marked as release blocker.

[2022-10-03 10:58] Nikhil-Nandagopal commented on #17267
@muezz could you not achieve this with a circular progress widget and the modal? You can show the modal with the progress widget till the data is loaded and then hide it

[2022-10-03 11:02] pranavkanade commented on #15002
https://www.loom.com/share/747fa873e3b44969aaf2e5e5af804f4f

[2022-10-03 11:04] muezz commented on #17267
@Nikhil-Nandagopal I could do it that way and in fact I am implementing it right now. However, I think this could be a good feature if this becomes a built-in property.

[2022-10-03 11:12] Nikhil-Nandagopal commented on #15002
@dilippitchika @keyurparalkar can we please get this issue prioritised?

[2022-10-03 11:17] AnandiKulkarni opened #17273 "[Bug]: Not able to delete the datasource for the app created out of template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. Created app with template - Customer support dashboard,
2. Added new page
3. Deleted Pages created by template
4. delete the datasource created out of template

Actual - Error is displayed that can not delete the Datasource as action is attached to it
Expected - After deleting all the pages att

[2022-10-03 11:27] Nikhil-Nandagopal commented on #17273
Duplicate of #10358

[2022-10-03 11:27] #17273 closed

[2022-10-03 11:43] dilippitchika commented on #15002
Triaging this, also related to https://github.com/appsmithorg/appsmith/issues/11660

[2022-10-03 11:46] sentry-io[bot] opened #17274 "[Bug]: TypeError: Cannot read properties of undefined (reading 'length')"
Sentry Issue: [APPSMITH-4EP](https://sentry.io/organizations/appsmith/issues/3604788972/?referrer=github_integration)

[code]

[2022-10-03 12:00] Nikhil-Nandagopal commented on #17199
This is likely related to #14568

[2022-10-03 12:14] Parthvi12 opened #17275 "[Bug]: Forking template from start from template card, gives internal server error and opens template description modal intermittently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This issue is observed in cypress tests, on trying to fork template, it shows below screen, causing tests to fail and making it flaky.
https://dashboard.cypress.io/projects/n14p1y/runs/3571/test-results/ffa5cd03-d6cc-45b6-9921-7c3f9091ba73/screenshots
<img width="1440" alt="Screenshot 2022-10-03 a

[2022-10-03 12:21] akash-codemonk commented on #17275
Seems like the same was reported in https://github.com/appsmithorg/appsmith/issues/17071. It looks like the api randomly fails. We should probably just rerun those tests for now.

[2022-10-03 12:53] Parthvi12 opened #17276 "[Bug]: Filters for templates are not resetting on re-opening app or opening new app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On selecting filters for templates from left pane they remain selected, even when we open some different app. Ideally we should reset it.

### Steps To Reproduce

1. Click on Start from templates card
2. Select any filter from left pane
3. Close the modal
4. Go back to Applications page
5. Open an

[2022-10-03 12:55] akash-codemonk commented on #17276
It is intended behaviour as of now. We are persisting the same filters set in the templates tab or elsewhere.

[2022-10-03 13:26] IAmAnubhavSaini commented on #13823
Yes, let's close it. We are not going to get any more time on it. Next git efforts will be on gitV2

[2022-10-03 13:53] sirbeagle commented on #17240
@Nikhil-Nandagopal Yes, I can confirm - turning off the Smart BSON Substitution in the query settings allows a regex query to work:

[code]

[2022-10-03 14:14] berzerkeer opened #17278 "[Bug]: Get user groups by id api does not includes user permissions."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The get user group by id api response does not include the user permissions api for that group.

API: `api/v1/user-groups/:id`

### Steps To Reproduce

Go to Admin Settings -> Groups.
Click on any user group from the list.
Check the network tab for that api's response.
Notice the response object d

[2022-10-03 14:25] kamakshibhat-appsmith commented on #17051
Noticed issue with all the actions binded with `onRecordingComplete` event. Possible reason is `onRecordingComplete` is getting triggered twice every time it is being called.

https://www.loom.com/share/bf88b39d6d0f46bdbbb5adb05c9bee69

[2022-10-03 14:50] AnaghHegde commented on #13823
I agree with @vuiets. We can close this and move the remaining issue to v2.

[2022-10-03 14:59] akash-codemonk commented on #15661
As of now there is no validation really I don't feel like there is an issue with this.

I think for a warning message we should take it up as an enhancement later on as currently the way it is implemented it is hard to add a custom UI.  Also I am not sure but I believe we won't have too many domain to enter here right? If required we can probably store it in local storage to persist those values.

[2022-10-03 15:22] felix-appsmith opened #17279 "[Bug]: Authenticated API response headers are not displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

A user [reported](https://community.appsmith.com/t/do-not-display-headers-in-api-query-return/1482) in the community forum that with the Authenticated API when executed, it does not show the heders. However, the headers are shown in a text widget if we use this code
` {{apiname.responseMeta.header

[2022-10-03 15:40] #17257 closed

[2022-10-03 16:47] bhuvanaindukuri commented on #17163
Here is my analysis of the impact:
- Removing the support for this plugin means that the feature to add API to page will no longer be available. (ProviderTemplate.tsx)
- MarketPlace is not relavant anymore since RapidApi was the only plugin
- Remove RapidApiEditorForm and its usage

Please confirm if this is what it is meant to be

[2022-10-03 17:35] albinAppsmith opened #17280 "[Task]: Delete FormTextField, add this in utils"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-03 19:20] #17096 closed

[2022-10-03 19:22] ame-appsmith commented on #17279
Here's an additional screenshot from another example where I reproduced this:
![image](https://user-images.githubusercontent.com/101268423/193661075-e14fd1ce-719b-448d-93f2-fc5c92d8ca82.png)

[2022-10-03 20:19] vishaldfreak commented on #15284
The width of the component is too wide, and it looks odd.
It's not direly important in terms of functionality but I'll look better if there wasn't so much white space.
![Image 2022-10-03 at 10 12 42 PM](https://user-images.githubusercontent.com/1637462/193672774-465e5333-0e3d-474c-a36f-b52391d643ad.jpg)

[2022-10-03 20:20] vishaldfreak commented on #15284
If I place it inside a container it works better but it is still not perfect because it's width is being inherited from the width of the button.
![Image 2022-10-03 at 11 55 59 PM](https://user-images.githubusercontent.com/163
![Image 2022-10-03 at 11 56 57 PM](https://user-images.githubusercontent.com/1637462/193673182-fe06cd09-5551-4c20-96c6-af21e14b420b.jpg)
7462/193673110-1f4ea7e9-b644-41a4-82e

[2022-10-03 21:21] ShaneMaglangit commented on #17260
Hi, is this already being worked on? Otherwise, I would love to work on it.

[2022-10-03 22:49] felix-appsmith opened #17282 "[Feature]: Redis TSL datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Make it possible for users to make a TSL connection to Redis through the data sources, since making this connection or a connection through URI from the Redis data source is not possible.

### Why should this be worked on?

A [user](https://app.intercom.io/a/apps/y10e7138/inbox/conversation/1646291001

[2022-10-03 23:39] jdun28 commented on #9403
Would it be okay if I worked on this one? I can create a PR both ways so that you can decide which you want to merge in - either underline added to all or underline removed from the table font styles.

[2022-10-04 00:23] vishaldfreak commented on #6928
is there an update on this, is it still in the roadmap?

[2022-10-04 03:15] tomjose92 opened #17286 "[Epic] SSO for Private Embedded Applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Appsmith applications currently need to be signed onto when embedded on other websites. If I want don't want to see sign in page on the embed, I need to share the App publicly or already be logged in.
Instead it would be great if there is a way to let the parent window pass a message with the respecti

[2022-10-04 03:57] ame-appsmith commented on #2032
https://discord.com/channels/725602949748752515/1026404443517890571

[2022-10-04 04:43] albinAppsmith opened #17288 "[Task]: Migrate callout component to design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Migrate the callout component to design system package.
- Delete callout from main repository.
- Replace the usage in main repo.

[2022-10-04 04:47] satbir121 commented on #17051
Thanks @kamakshibhat-appsmith. This looks like a widget issue. If this was an evaluations issue, double call would have been be happening on all the widget events. Removing @bharath31 and myself from the issue.

[2022-10-04 04:57] ginilpg commented on #13584
@somangshu Can we close this ticket? Is this done?

[2022-10-04 04:59] ginilpg commented on #12025
@ramsaptami Is this done? Can we close this ticket?

[2022-10-04 05:00] sumitsum commented on #2032
Closing this issue since the issue mentioned on Discord link is a different issue.
@ame-appsmith can you please check with the user if they are on latest version. If not then please ask them to upgrade to the latest which might fix their problem since a connection related fix was shipped in one of the earlier versions. If the issue was found in the lastest version then please create a separate Git

[2022-10-04 05:00] #2032 closed

[2022-10-04 05:30] rohan-arthur commented on #17242
@fernandogiacomino thank you for submitting the feature request, we will surely look into it. While it may take us some time to get around to natively support firebird, have you considered alternatives like hosting your own server to enable communication with the db over REST?

[2022-10-04 05:36] ankitakinger commented on #17217
Re-opening for remaining sub tasks

[2022-10-04 05:37] somangshu commented on #13584
@ginilpg I am not sure about this. Looks like the issue is related to datasource in entityexplorer.

[2022-10-04 05:44] dilippitchika commented on #5229
@unknown1337 @IAIOMAN117 @mingfang @wemod123 @grinono @charles-bloomfield

we are working on a feature to provide more options for appsmith's default navigation. If navigation is one of the primary reasons for you to use reusable widgets, then can you please let us know?

Would you be open to a 30 min conversation? You can block some time on my calendar below if you are - https://calendly.com/dili

[2022-10-04 05:45] dilippitchika commented on #16340
@phangs we are working on improving appsmith's default navigation. Would you be interested to discuss? If yes, can you please pick a slot which works for you - https://calendly.com/dilip_pitchika/30min?month=2022-10

[2022-10-04 05:50] shadabbuchh opened #17291 "[Bug]: JS Toggle Button gets disabled even when no change is made to the default value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon clicking the JS Toggle button for the `Fill Color` property of the `CategorySlider, NumberSlider & RangeSlider` widgets, the toggle button gets disabled even when no change is made to the default code present in the property.

https://user-images.githubusercontent.com/39921438/193743844-5d4bc

[2022-10-04 05:54] vishnu-gp commented on #16984
@vuiets Datasource is not directly connected to any applications today. This means we are referring to the application from which the datasource was created/updated/deleted. Is this data really important? If yes FE will have to send the applicationId to BE every time a datasource is created/updated/deleted.
cc: @IAmAnubhavSaini

[2022-10-04 06:05] shadabbuchh commented on #17291
After discussing this with @yaldram we noticed that this is occurring only in the above app and nowhere else. Will keep this issue open just in case I happen to reproduce this elsewhere. If not, will close it then.

[2022-10-04 06:16] dilippitchika commented on #14261
@somangshu @sbalaji1192  fyi, this didn't work out as expected. We were trying to use the browser locale to manage this, but turns out some browsers don't support this well enough.

I will work on a new prd for this which is much more comprehensive and easy for devs to implement

[2022-10-04 07:07] dilippitchika commented on #14261
Discussed the default value problem with @keyurparalkar and @sbalaji1192 -

The default value will only support `.` as the decimal separator for now.

@keyurparalkar instead of using helper text, just show an error message if the user enters , or any other value as decimal separator saying that "Invalid number, please use `.`/point as the decimal separator for default values."

cc @chandannkumar

[2022-10-04 07:08] vishnu-gp commented on #17271
@RakshaKShetty When I create a CRUD page, I'm able to see the workspace and application data. Was this about when a CRUD page is deleted, the query deleted does not have page information?

[2022-10-04 07:11] dilippitchika commented on #9403
Missed this, we cannot remove this now from table since it's already being used and there is chance people can write JS to underline something.

It's better if we only add the underline option in other places.

[2022-10-04 07:16] dilippitchika commented on #9403
Updated the issue description to reflect the fix

[2022-10-04 07:26] ashit-rath commented on #11032
@dilippitchika I did a quick triaging, wasn't able to completely do it but this does not seem like a good first issue.

[2022-10-04 07:26] Nikhil-Nandagopal commented on #17139
@btsgh I can't test it since I don't have the same DB credentails. Can you please re-create this on cloud and share the app?

[2022-10-04 07:27] Nikhil-Nandagopal commented on #17286
@trishaanand I had a call with this user and they are ok with posting the access token to the iFrame but I also read that the token should be shared so long as they are within the same subdomain.

[2022-10-04 07:53] mohanarpit opened #17293 "[Feature]: Improve the hashing algorithm for anonymous users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Since Appsmith is largely meant for internal applications, it's geared towards recording users based on their user email as the unique identifier. This fails in the case of anonymous users and public applications. All anonymous users get the same hash value since we use a SHA-256 hashing algorithm. We

[2022-10-04 08:24] sumitsum opened #17294 "[Bug]: GraphQL plugin: show error if user has not selected variable name in limit offset pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

show error if user has not selected variable name in limit offset pagination

### Steps To Reproduce

1. Create GraphQL query.
2. Select limit offset pagination.
3. Enter limit offset values but don't choose variable names from the dropdown.
4. Click on run button.

### Public Sample App

_No resp

[2022-10-04 08:27] aswathkk commented on #9403
Hi @jdun28,
Thank you for showing interest in contributing. I've assigned this issue to you.

[2022-10-04 08:34] sumitsum opened #17296 "[Feature]: GraphQL: need buttons to try next / prev pagination on the pagination tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

need buttons to try next / prev pagination on the pagination tab

### Why should this be worked on?

Currently there is no way to check pagination configuration correctness except to bind the query to a paginated widget.

[2022-10-04 08:35] ralfwenske commented on #2836
I wasn't aware this topic existed already when asking on Discord.
As I am not using git at this stage I like simple and obvious solutions (and am grateful that appsmith has lots of those...).

There is already a selector for datasource on each query editor page - I could imagine that a functionality that replaces the  datasource on each query / page might not be overly complicated (hoping to get t

[2022-10-04 08:50] sharat87 commented on #14769
Solved in #15440.

[2022-10-04 08:50] #14769 closed

[2022-10-04 09:02] shadabbuchh opened #17297 "[Bug]: Helper text hidden for properties in Property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The helper text `Type / to access quick commands` is hidden for every last property in the Property pane.

<img width="1920" alt="Screenshot 2022-10-04 at 2 26 05 PM" src="https://user-images.githubusercontent.com/39921438/193778962-22d9cc63-7aca-470a-9db9-87d409ef129d.png">

### Steps To Reproduc

[2022-10-04 09:15] aswathkk commented on #17297
Duplicate of #17079

[2022-10-04 09:15] #17297 closed

[2022-10-04 09:42] arunvjn commented on #5668
This project will be tracked in https://github.com/appsmithorg/appsmith/issues/16394

[2022-10-04 09:42] #5668 closed

[2022-10-04 10:21] Irongade commented on #17211
![image (1)](https://user-images.githubusercontent.com/37867493/193795251-c8ae669e-3063-4a01-8d21-2a599cd047bb.png)

After triaging this issue with @ramsaptami We came to the conclusion that this isn't a bug, The  evaluation is happening correctly and the API is only failing because the URL is wrong.

[2022-10-04 10:25] Nikhil-Nandagopal commented on #2836
@ralfwenske we're currently working on this solution. WOuld you be up for a quick chat to have a look at what we're building?

[2022-10-04 10:36] thanhloc1993 commented on #2430
+1 for CryptoJS

[2022-10-04 10:45] #16621 closed

[2022-10-04 10:45] #10456 closed

[2022-10-04 10:45] #15572 closed

[2022-10-04 10:45] #16600 closed

[2022-10-04 10:45] #16811 closed

[2022-10-04 10:45] #17058 closed

[2022-10-04 10:45] #17003 closed

[2022-10-04 10:50] sumitsum commented on #12519
Closing as we are tracking it here: https://github.com/appsmithorg/appsmith/issues/16269

[2022-10-04 10:50] #12519 closed

[2022-10-04 10:55] #16933 closed

[2022-10-04 11:21] #17023 closed

[2022-10-04 11:21] #17270 closed

[2022-10-04 11:34] Pranay105 commented on #15938
@AnaghHegde a simple video that explains the functionality of the feature. Take a look at [this video](https://www.loom.com/share/de5cd0a2177e4a9ead2556da62951f23) created by Rohan for GraphQL.

[2022-10-04 11:38] #14104 closed

[2022-10-04 11:56] #17211 closed

[2022-10-04 12:05] #14734 closed

[2022-10-04 12:09] #16506 closed

[2022-10-04 12:24] ankitakinger commented on #16741
Reopening for pending sub tasks

[2022-10-04 12:34] fernandogiacomino commented on #17242
I currently have a local installation of the database and access it from another VM with NodeRed. This one has at least two nodes in npm that allow CRUD operations with Firebird.

[2022-10-04 12:50] #17189 closed

[2022-10-04 13:06] sneha122 commented on #14977
The issue occurs because `trigger API` which fetches spreadsheet data fails with `500 Authentication failed error`. On further investigation it seems that, refreshToken was not present in database for this particular datasource, re authentication of data source helps but we checked how many such datasources without refreshToken exist in db, so there are total 2080 google sheets datasources on rele

[2022-10-04 13:34] albinAppsmith opened #17301 "[Task]: Change imports of dialogue component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Change imports of dialogue component to design system package

[2022-10-04 13:41] ohansFavour commented on #17274
This issue has already been resolved

[2022-10-04 14:00] kamakshibhat-appsmith opened #17303 "[Bug]: not able to see the "paginationField":"NEXT" property being sent by the client on release when using table widget pagination."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

not able to see the "paginationField":"NEXT" property being sent by the client on release when using table widget pagination.

### Steps To Reproduce
1. D&D a table widget
2. Add data source - Authenticated API and  Add sample query https://mock-api.appsmith.com/users?pageSize={{Table1.pageSize}}

[2022-10-04 14:55] #17114 closed

[2022-10-04 19:26] joaocc opened #17304 "[Feature]: Support Postgres in addition to MongoDB (or support FerretDB)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Has anyone considered supporting Postgres in addition to MongoDB for AppSmith DB?
As an alternative, has anyone tried using FerretDB (https://github.com/FerretDB/FerretDB) instead of native MongoDB?

### Why should this be worked on?

In environments where support for Postgres already exists and Mongo

[2022-10-04 20:36] ralfwenske commented on #2836
Sure Nikhil, chat via email? I am on +10 (Australia) so 8 hours different to you?

From: Nikhil Nandagopal ***@***.***>
Sent: Tuesday, October 4, 2022, 20:25
To: appsmithorg/appsmith ***@***.***>
Cc: ralfwenske ***@***.***>; Mention ***@***.***>
Subject: Re: [appsmithorg/appsmith] [Feature] Multiple Environments (#2836)

@ralfwenske <https://github.com/ralfwenske> we're currently working on this s

[2022-10-04 21:22] charles-bloomfield opened #17305 "[Feature]: Tooltip for date pickers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There are tooltips for input text widgets but not for date widgets

### Why should this be worked on?

We have many date fields and we would like to clarify what they mean to our users.

[2022-10-04 21:59] vishaldfreak commented on #2888
@Nikhil-Nandagopal I'm trying to achieve something similar to have menu/submenu show in a side bar.
![](https://cdn.discordapp.com/attachments/1026638177454260264/1026673527098707998/Screen_Recording_2022-10-04_at_07.21.12_AM.gif)

[2022-10-05 03:58] ame-appsmith commented on #17305
Another user requested a Tooltip for the Select widget: https://community.appsmith.com/t/is-it-possible-to-add-a-tooltip-for-the-select-widget/1507

[2022-10-05 04:03] laveena-en opened #17307 "[Bug]: Save/Discard option is present in the filters option which is causing the table widget to crash."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Save/Discard option is present in the filters option which is causing the table widget to crash.

https://user-images.githubusercontent.com/109572422/195045841-07da414b-251d-4d3e-b703-7b847ec4a7c0.mov

### Steps To Reproduce

1. D&D a Table widget
2. Enable column(s) to be editable
3. In the filte

[2022-10-05 04:22] arunvjn opened #17309 "[Task] Installation Wizard"
### Subtasks
- [x] Trigger the installation wizard from the entity explorer.
- [x] Input box to paste library URL and search libraries.
- [x] Indicate progress for the installation
- [x] Unit test cases

[2022-10-05 04:22] arunvjn opened #17310 "[Task] Generate tern definitions for installed libraries"
Tern definitions power the code completion feature inside code editors in Appsmith. It should be generated dynamically on successful installation of a library.

[2022-10-05 04:23] arunvjn opened #17311 "[Task] Integrate with CRUD Apis for library persistence"

[2022-10-05 04:23] arunvjn opened #17312 "[Task] Integrate with tag API to whitelist/blacklist libraries"

[2022-10-05 04:25] arunvjn opened #17313 "[Task] Integrate with Github API to request support for a specific library"

[2022-10-05 04:25] arunvjn opened #17314 "[Task] Integrate with installation status API to show progress"

[2022-10-05 04:26] arunvjn opened #17315 "[Task] Expose browserify as an RTS endpoint"

[2022-10-05 05:33] aswathkk opened #17317 "[Task]: Combine redundant Property controls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

LabelAlignmentOPtionsControl seems like a duplicate of IconTabControl.
We need to combine the following Property Controls into one:
- LabelAlignmentOptionsControl
- IconTabControl
- ButtonTabControl

These should be combined into one single ButtonTabControl

[2022-10-05 05:53] rohan-arthur commented on #4381
### User flows
_**Create Mode**_
**Intends to create, intends to save**
1. I click on new datasource `+` and select the plugin to see the create datasource form
2. I should be able to enter the fields I want, then click save, so that the datasource is created

**Intends to create, does not intend to save**
In this case, I should be prompted to save
1. I click on new datasource `+` and select the p

[2022-10-05 06:00] rohan-arthur commented on #8317
will be addressed in https://github.com/appsmithorg/appsmith/issues/4381

[2022-10-05 06:00] #8317 closed

[2022-10-05 06:15] #17198 closed

[2022-10-05 06:15] danciaclara opened #17319 "[Feature]: Support Select as a column type in the Table widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need to support the select widget inside the Table widget for editable columns.

### Why should this be worked on?

This will enable users to update values from a list of options in the Table. Was asked by a user - https://discord.com/channels/725602949748752515/1027071101274177607/1027071101274177

[2022-10-05 06:59] albinAppsmith opened #17320 "[Task]: Migrate tabs component to design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-05 06:59] #14431 closed

[2022-10-05 07:10] bharath31 commented on #10878
autocomplete doesn't work as well. investigating this.

[2022-10-05 07:26] #17274 closed

[2022-10-05 07:43] Nikhil-Nandagopal commented on #17319
Duplicate of #16026

[2022-10-05 07:43] #17319 closed

[2022-10-05 07:45] Nikhil-Nandagopal commented on #17304
@joaocc the mongoDB is for appsmith to run effectively and doesn't depend on any existing database you have. The data in your postgres can still be used to build your applications. So I'm unable to reason the value behind this feature as we automatically ship with a mongoDB inside the docker container and maintaining multiple different databases for a project is quite an overhead

[2022-10-05 07:45] #17304 closed

[2022-10-05 07:45] Nikhil-Nandagopal commented on #17304
Do let us know if there's something we missed and why this would be infeasible

[2022-10-05 07:48] vuiets commented on #16984
Sorry I missed this earlier. Here I was thinking the context in which the action was performed is important. That being said, haven't been consistent with showing the context in which the action was performed everywhere. Let's not add the application information for the datasource events.

@vishnu-gp could you please make the change on the JSON format in the PRD as well?

[2022-10-05 07:53] vishnu-gp commented on #16984
Removed application data from the JSON Structure in PRD for datasource events.
cc: @RakshaKShetty @vuiets

[2022-10-05 07:53] #16984 closed

[2022-10-05 08:13] Nikhil-Nandagopal commented on #10878
@bharath31 I suggest we solve this with the application level actions project

[2022-10-05 08:22] danciaclara commented on #17319
that one is only for multi select right? or is select also being included there?

[2022-10-05 08:42] thanhloc1993 commented on #15394
I have a similar issue

[2022-10-05 09:45] Nikhil-Nandagopal commented on #2888
@vishaldfreak we're going to make this a default feature of our navigation where you can group pages to achieve this

[2022-10-05 09:46] Nikhil-Nandagopal commented on #17319
There's another one for select as well. I believe it was demoed in the last
lightning demo

On Wed, Oct 5, 2022 at 1:52 PM Dancia ***@***.***> wrote:

--
Nikhil Nandagopal
(*Founder @* appsmith <https://appsmith.com>)

[2022-10-05 09:58] trishaanand opened #17323 "[Feature]: [CI - Good to have] : Re-run failed tests in server workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ability to re-run the failed tests :
1. Server Workflow
2. Ok to test server build
3. server build in test build deploy (once we start running server tests in EE for this)

### Why should this be worked on?

It would be a good to have to be able to just re-run the failed server tests. Unfortunately cl

[2022-10-05 09:58] #16243 closed

[2022-10-05 10:40] hiteshjoshi commented on #17197
This should be possible like how Google and GitHub SSO can coexist. I have put this on the Product backlog atm.

[2022-10-05 10:48] nidhi-nair commented on #11459
Hey @sipani909 ! Would you be willing to help us out with a reproduction of this issue? We're having a hard time figuring out how to replicate this state and would appreciate some insight into this. :)

[2022-10-05 10:55] rohan-arthur commented on #15122
@Nikhil-Nandagopal maybe the above comment refers to some old behaviour, I cannot see a 'pagination message' anymore for a postgres query.

https://user-images.githubusercontent.com/94514895/194044474-c1d3146a-3b74-4ed4-96c6-27c74b169f3d.mov

[2022-10-05 11:03] #17201 closed

[2022-10-05 11:06] #17280 closed

[2022-10-05 11:25] Subhamjain02 commented on #16937
I would also like to work on this, Please assign it to me.

[2022-10-05 11:33] #17099 closed

[2022-10-05 12:21] #14919 closed

[2022-10-05 12:21] #14921 closed

[2022-10-05 12:24] ame-appsmith opened #17324 "[Bug]: "Secondary stale connection error" When Using MySQL Databases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Some users that are using MySQL or MariaDB as datasource get often the error "Secondary stale connection error". Restarting the machine/containers fixes the issue, but is inconvenient for the users.

### Steps To Reproduce

https://app.frontapp.com/open/msg_1ea647ik
https://app.frontapp.com/open/m

[2022-10-05 12:43] yan-hic opened #17325 "[Feature]: Add (JSON) Diff Viewer widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

See https://docs.superblocks.com/components/diff-viewer
It allows to quickly see what is different between 2 API responses for instance, or 2 "records" from a db.

### Why should this be worked on?

Many react or vue plugins available for this on github - if not planned to add any time soon in core ap

[2022-10-05 12:45] yan-hic commented on #17325
f/u of https://discord.com/channels/725602949748752515/1006426744129069096/threads/1027108410275139624

[2022-10-05 15:14] joaocc commented on #17304
Thanks for your quick answer. We are aware that MongoDB is required for AppSmith internal working, and I do understand that from the project point of view, supporting multiple DBs is an extra burden.
From our view, on scenarios where you are a small company and you don't have any workload on MongoDB, adding AppSmith means you will need to acquire skills to manage, maintain and troubleshoot MongoDB

[2022-10-05 16:06] hifihedgehog commented on #11459
One possibility is ModSecurity which appears to block Appsmith's outbound calls.

[2022-10-05 17:03] YuriDevAT commented on #11506
Hi. I would like to work on this issue.

[2022-10-05 19:42] albinAppsmith opened #17328 "[Task]: Migrate table component to design system repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Change imports for table component.

[2022-10-05 20:27] mnosov622 commented on #17310
Hello @arunvjn !

Can I work on this issue , please ?

Could you provide more details, please ?

[2022-10-05 21:00] hifihedgehog commented on #13561
Any update on this? This is highly limited as is.

[2022-10-06 03:31] rohan-arthur commented on #17324
Intercom link in case no front access: https://app.intercom.io/a/apps/y10e7138/inbox/conversation/164629100150051

[2022-10-06 03:54] Ayush-Kori commented on #17143
Hey Can I work on this issue??

[2022-10-06 05:11] dilippitchika commented on #17143
Thanks for showing interest @Ayush-Kori

@adarshlilha will you be able to complete it, if not please let me know and we can assign to @Ayush-Kori

[2022-10-06 05:16] ChandanBalajiBP commented on #17039
https://playcode.io/977932 - POC code

[2022-10-06 05:20] ChandanBalajiBP commented on #17039
Outcomes -

1. Comments will be removed on acorn AST parsing. Astravel can be used to add comments back.
2. Astring can be used to generate formatted code from AST.
3. Should take care of Global and local reference variables for refactoring during Implementation.

[2022-10-06 05:20] ChandanBalajiBP commented on #17039
Closing this as complete. Will be adding tasks for implementation and jest test cases.

[2022-10-06 05:20] #17039 closed

[2022-10-06 05:27] ChandanBalajiBP opened #17333 "[Task]: Implementation of AST based entity refactor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Need - [Notion](https://www.notion.so/appsmith/Need-for-AST-based-entity-refactor-ba77b1a99590454d9a52d3f0f3f03d5a)
This is an AST-based entity refactor on any moustache binding.
For example:
Input
[code]
Expected output (not stringified)
[code]

[2022-10-06 05:28] sharat87 commented on #17304
@joaocc, thanks for sharing more details. You can actually run Appsmith without having delve into details on MongoDB etc. This is the exact reason Appsmith ships as a self-contained Docker image. It runs its own MongoDB and functions off of it, so you don't have to worry about it. Using an external MongoDB is an option, but is not required.

[2022-10-06 05:30] sharat87 commented on #17197
Tweaked title, since we already support _multiple SSO_ integrations, so the title threw me off. What we don't support yet, is _multiple OIDC_/_multiple SAML_ integrations.

[2022-10-06 05:33] sharat87 commented on #17156
Hey @jerowe, thanks for sharing how you managed to solve this problem. I'll still keep this issue open so we can provide a solution out-of-the-box.

Thank you for the kind words too. 🍻

[2022-10-06 05:35] ChandanBalajiBP opened #17334 "[Task]: Jest test cases for AST entity refactor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

List all possible test cases and implement the same for w.r.t AST entity refactor

[2022-10-06 05:42] RakshaKShetty opened #17335 "[Bug]: The page viewed event is displayed twice when the user opens the app in edit mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The page viewed event is displayed twice when the user opens the app in edit mode
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/194223312-22e2d170-dbac-4864-960c-4cbde8af584f.png">

### Steps To Reproduce

1. In the home page
2. create a new app
3. now go to

[2022-10-06 05:42] somangshu commented on #16948
This seems like an appropriate behaviour according to me, compared to the dropdown scrolling with the page.

We will have to check this internally, Let us know if you have more info on this @aswathkk

[2022-10-06 05:52] rohan-arthur opened #17337 "[Feature]: unauthorised gsheets datasource leads to failed queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In [this](https://mixpanel.com/project/2032485/view/178891/app/dashboards#id=1160693&editor-card-id=%22report-31187824%22) funnel, we see a lot of drop-offs for gsheets query execution. One of the reasons is that the datasource is unauthorized, and subsequent query creation is futile. [Example recordi

[2022-10-06 05:55] bharath31 commented on #12179
@satbir121 we need to prioritize this. came up on a [recent hacktoberfest app feedback ](https://www.notion.so/App-feedback-08cc56807ed34c7fabfa1a11aa091cca?d=f639867726dc4635a3744457807760cf#1159f3129ff3450dac038d8359493433)

[2022-10-06 06:01] Sripriya93 commented on #16992
Have tested the same in latest DP, working fine, moving to done

[2022-10-06 06:03] #16900 closed

[2022-10-06 06:07] #17110 closed

[2022-10-06 06:10] eco-monk opened #17338 "[Feature]: Debugger/Response pane rework"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

[Roop's comment:](https://github.com/appsmithorg/appsmith/issues/16855#issuecomment-1257687355)

Here in this [notion ](https://www.notion.so/appsmith/Debugger-interactions-fd5ce1a9ac9142a9ac09dd30bb8d2c44)doc, I've specified how different the interactions of debugger and response panes today in the a

[2022-10-06 06:12] eco-monk commented on #16855
@RoopKrrish9696, @ginilpg
Create a new issue (#17338) with some details from the conversation here.

[2022-10-06 06:26] #8970 closed

[2022-10-06 06:49] subrata71 commented on #16994
|Plugin Name  | Remarks |
| ------------- | ------------- |
| GoogleSheets| Fetch operations|
| AmazonS3| List files query |
|xxx|xxx|
|xxx|xxx|
|xxx|xxx|
|xxx|xxx|

[2022-10-06 07:13] #17223 closed

[2022-10-06 07:21] sneha122 opened #17341 "[Bug]: Frontend Validation checks for datasource configurations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

While looking into issue #12750 I checked out frontend validations for all datasources and it seems that we have frontend validations added only for elastic search DS. I am listing out the all datasources where we might require same validation as elastic search. @rohan-arthur @sumitsum please conf

[2022-10-06 07:28] SatishGandham commented on #13742
will be taken up after we optimzie the bundles.

[2022-10-06 07:31] Nikhil-Nandagopal commented on #15326
@fresh-ji thanks for reporting this. Currently the platform does not support this but we'll take this up as a feature request

[2022-10-06 07:42] rohan-arthur opened #17343 "[Feature]: gsheets improve error for empty insert/update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

1. create a valid gsheets datasource
2. select operation as `Insert One` and entity as `Sheet Rows`
3. don't enter anything else, and run the query

Error is shown as: `argument "content" is null`
This error is not clear, and does not help the user to understand what they need to fix.

A better error

[2022-10-06 08:41] rohan-arthur commented on #17343
ref check [this](https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?filter=5be701cfddbfbeb6a8fa225068fb44d54d427092eb7ddf8eec0000e7a90dff1c&player=1&session=dE8mZmLLt5&visitor=tSYDzeh6y8) recording at `08:30`

[2022-10-06 08:44] keyurparalkar opened #17344 "[Bug]: isOpen property throws linting error for the modal widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The modal's `isOpen` property is in the autocomplete, but when tried to use the property there is a linting error that it isn't defined.

Please find below the screenshot:
![Screenshot 2022-10-06 at 10 34 47 AM](https://user-images.githubusercontent.com/14138515/194264529-586089f3-0d18-46f6-9aad-8

[2022-10-06 09:08] rimildeyjsr opened #17347 "Create config object for FieldGroup"

[2022-10-06 09:10] kocharrahul7 opened #17348 "Leaving and then returning to a page should maintain what api/query was open"

[2022-10-06 09:15] SatishGandham opened #17349 "Migrate to a self hosted DB instead of supabase"

[2022-10-06 09:18] pranavkanade commented on #17140
@pratapaprasanna, any updates on this issue? The user is blocked, I think.

[2022-10-06 09:32] #16567 closed

[2022-10-06 09:32] #17178 closed

[2022-10-06 09:38] subrata71 commented on #16994
For the following cases we cannot get rid of this function DataTypeStringUtils.java -> stringToKnownDataTypeConverter entirely.

- After fetching data from Google Sheets the data type of each column is identified using this function. We don't have the respective client-side data type for such case which helps identify the data type in the newer implementation.
- In Postgres the data type of first

[2022-10-06 10:27] RakshaKShetty opened #17350 "[Bug]: In git connected app when user create a new branch the random events are displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Random events are displayed when the user created new branch in git connect apps
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/194290056-2c38237d-3202-4a69-8305-20ed51050f1c.png">

### Steps To Reproduce

1. go to a git-connected app
2. Create a new branch
3

[2022-10-06 10:30] RakshaKShetty opened #17351 "[Bug]: In git connected app when user clicks on deploy button the the export event gets added in logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the git connected app when the user clicks on the deploy button the export event gets added in the logs

### Steps To Reproduce

1. open a git-connected app
2. click on deploy button
3. now go to the audit log page
4. validate the latest event displayed

### Public Sample App

_No response_

##

[2022-10-06 10:51] nidhi-nair opened #17352 "[Bug]: Destroy datasource context and connection on deleting datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, we're not going through the cache and removing the connection entry, or closing any ongoing connection(s) when a datasource is deleted. This can bloat the number of connections that Appsmith creates to an given datasource.

### Steps To Reproduce

1. Create a new datasource
2. Run a que

[2022-10-06 11:08] dhruvikn commented on #11021
@dilippitchika, YouTube maintains the aspect ratio of the video no matter the size of the container by adding a black background. Our video widget on the other hand has a background property, but it is set to transparent/none by default. Adding a black background color by default solves the border-radius issue, just like YouTube. Shall we move ahead in this direction?

<img width="764" alt="CleanS

[2022-10-06 11:20] dilippitchika commented on #11021
Hey @dhruvikn yes we can proceed in this direction

[2022-10-06 11:28] TabsorDevGO commented on #9577
Any updates on this?
Did someone implemented workaround?

[2022-10-06 11:35] RakshaKShetty opened #17356 "[Bug]: Replace "Auditloggitmetadata" text to Gitmetadata Text"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Replace "Auditloggitmetadata" text to Gitmetadata Text
![image](https://user-images.githubusercontent.com/45958978/194301905-4d6c0eb4-e7c8-4a6d-a1b2-0b7065f69971.png)

### Steps To Reproduce

1. Connect an app to git
2. create a new page
3. Now go to Audit log page
4. Check the text under page

##

[2022-10-06 11:40] dilippitchika commented on #17307
@laveena-en the video is missing can you please add?

[2022-10-06 11:46] joaocc commented on #17304
Thanks. We will look into that (we weren't aware it was really self-contained).

[2022-10-06 12:04] #16744 closed

[2022-10-06 12:10] vaibh1297 opened #17357 "[Enhancement]: Add placeholder text support for default port in plugins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently when placeholder_text is added for default value of port in plugins then it is also replicated to hosts. Have to fix it so that only port contains the default port value and not host.

### Steps To Reproduce

1. Update placeholder_text for port using its default port number for any plugi

[2022-10-06 12:24] SatishGandham opened #17358 "Implement a method to compare PR run data and compare it with release data to identify a regression."
We mark something as a regression when either current pr median/min is slower than the mean of median/min of last 50 runs by 1.2*SD on release.
For example,
if release mean of median and min for BIND_TABLE_DATA is 200, 190 with an SD of 15, 10.
Then, pr_median -200 < 1.2*15, and pr_min -190 <1.2*10 will be considered as pass.
i.e., any value under 218 and 202 respectively.

[2022-10-06 12:24] SatishGandham opened #17359 "Document how to read/interpret the performance data"

[2022-10-06 12:25] vaibh1297 opened #17360 "[Feature]: Add default port for Elastic search plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If port is not provided by user then default port should be used for corresponding plugin.
Different plugins and their expected default port is given in below sheet.
https://docs.google.com/spreadsheets/d/1GObUSGMGeJZeHwDJLvf9OOwO-_XADYJOYrofWHIcmyQ/edit#gid=0

### Steps To Reproduce

1. Try to co

[2022-10-06 12:34] chandannkumar commented on #10995
Observation: @jsartisan
- On clicking the pagination arrow of Table data's last page, the data seems redirected to the 1st page of the record even though the arrow icon is disabled.
video: https://www.loom.com/share/c0141141d13c4b6ba24d26d038452e48

[2022-10-06 15:54] #17079 closed

[2022-10-06 16:12] albinAppsmith opened #17361 "[Task]: Move color picker v2 from ads folder to property controls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Move ColorPickerV2 component propertyControls folder.
- Replace the imports for the same.

[2022-10-06 17:57] RakshaKShetty commented on #17271
@vishnu-gp  yes you are correct this happens when we delete the crud page
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/194385015-d9cb7eec-a7ca-45a2-bb94-f70870c162a8.png">

[2022-10-06 18:44] nidhi-nair commented on #11459
@hifihedgehog are you able to see such a failure consistently or is it intermittent in your case?

[2022-10-06 18:46] subrata71 commented on #16994
### Need for passing the data types of each array elements
In case of Postgres when the binding parameter is of type array we need to know the type of array elements as well. To be precise we need to know the type of the first array element. Till now the individual types of array elements are not passed from the client side. If we decide that we won't incorporate this change now then we have to co

[2022-10-06 19:20] ame-appsmith opened #17365 "[Feature]: Multi-Line Label for Button Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Users should be able to display the label of a Button widget on multiple lines.
The Button Group widget allows the label to be wrapped on multiple lines, but it does the wrapping automatically based on the width of the button, and the user is not able to force the line break as desired.

### Why shoul

[2022-10-06 21:43] WeaVaer commented on #3095
When designing a page with multiple containers placed horizontally (like [a] [b] [c] on the page), and when you resize the screen horizontally, all the containers resize automatically. (like [ <--a--> ] [ <--b--> ] [ <--c--> ] ). But I wanna be able to control the auto resizing of the containers; such that e.g. I want only the middle container to resize when the screen resizes (like  [a] [ <--b-->

[2022-10-07 01:46] guidogabriel commented on #10096
Some news about PR?

[2022-10-07 02:55] developer-honoru opened #17366 "[Feature]: Save camera app photos with FilePicker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The 3.x version of uppy used in FilePicker can be linked to the camera app when used on mobile.
![Screenshot_20221006_171355_Chrome](https://user-images.githubusercontent.com/33475816/194458166-97146666-05d8-41bd-be8d-ab3c33f7b753.jpg)

https://user-images.githubusercontent.com/33475816/194458227-4a10

[2022-10-07 04:13] sumitsum commented on #10096
@guidogabriel apologies, we are facing an acute shortage of bandwidth at the moment. It might take at least a few more weeks before we can get this feature out.

[2022-10-07 04:35] dilippitchika commented on #16937
Hey @Subhamjain02 @AbhishekTiwari23 thanks for showing your interest. Since @rksingh2001 hasn't gotten back to us yet, i would like to wait for one more day and assign it to one of you.

[2022-10-07 04:46] bharath31 commented on #17303
@Rishabh-Rathod @satbir121 is this related to https://github.com/appsmithorg/appsmith/issues/17134?

[2022-10-07 04:55] sneha122 commented on #12750
@prapullac @btsgh Added URL validations for Access token URL and URL in the Authenticated API DS configuration

[2022-10-07 04:59] dilippitchika opened #17367 "[Feature]: Code scanner enhancements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- When working to scan multiple codes
   - users have to close and open the code scanner frequently to scan items. Instead it could be opened just like the camera widget.
   - users always have to select the camera which they want to use to scan the item, this introduces an extra click.
- Code-scanner

[2022-10-07 05:23] nidhi-nair commented on #16994
@subrata71 Do we have cases where we expect the array elements to be a heterogenous set of data types?

Agreed on the following usage. We can remove this after we implement user set data types for data sources:

Could you please expound on the usage for the following scenario?

[2022-10-07 05:36] RakshaKShetty opened #17370 "[Bug]: The git conditions are missing for application events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The git conditions are missing for application events
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/194475055-cfc01ef7-19fa-4411-8c37-ad8a4f09c3aa.png">
![Uploading image.png…]()

### Steps To Reproduce

1. connect the application to git
2. update or export

[2022-10-07 05:45] #17086 closed

[2022-10-07 05:56] sbalaji1192 opened #17371 "[Docs]: Table widget select column type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Need documentation for the newly added select column type in the Table widget - https://github.com/appsmithorg/appsmith/issues/6766.

### Describe the improvement

Link to the draft - https://www.notion.so/appsmith/Table-widget-single-select-column-t

[2022-10-07 05:59] IAmAnubhavSaini commented on #16480
Not complete. Handing tests off to testing team.

[2022-10-07 05:59] #16480 closed

[2022-10-07 05:59] albinAppsmith opened #17373 "[Task]: Migrate callout component to design system - EE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-07 06:02] sbalaji1192 opened #17374 "[Bug]: Select column cell is getting clipped in the table widget when virtualisation is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [x] Select column cell bottom boundary is getting clipped when the row virtualization is enabled
![Screenshot 2022-10-07 at 11 56 19 AM](https://user-images.githubusercontent.com/5328605/194481858-a8e39213-a7cb-48ff-9c25-083091be0278.png)

- [x] incorrect tooltip is shown for the `Reset filter t

[2022-10-07 06:05] rohan-arthur commented on #17324
update: have reached out to the three users to share server side logs to help investigate this, waiting for response.

[2022-10-07 06:11] subrata71 commented on #16994
@nidhi-nair

With respect to SQL, this is not possible to mix heterogeneous types of data under a single array. In case of REST API, there could be such a use case.

`/an-imaginary-api?args=[xyz,string,number]`

As far as I understand this is used to identify whether queries are written using array notation or without array notation. Please refer to the following screenshot which has the usage to

[2022-10-07 06:17] #11021 closed

[2022-10-07 06:22] Rishabh-Rathod commented on #17303
@bharath31 https://theappsmith.slack.com/archives/CTHN8GX5Y/p1665045853036529?thread_ts=1664892198.498239&cid=CTHN8GX5Y

cc: @arunvjn @satbir121

[2022-10-07 06:24] albinAppsmith opened #17376 "[Task]: Migrate tabs component to design system - EE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-07 06:27] albinAppsmith opened #17377 "[Task]: Migrate table component to design system repo - EE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-07 06:27] chandannkumar commented on #10995
Tested and verified

[2022-10-07 06:34] ashit-rath opened #17378 "List v2 POC: Virtualization"

[2022-10-07 07:05] dilippitchika commented on #12362
@dhruvikn can you create a new issue for doing the same change in button group?

[2022-10-07 07:05] hiteshjoshi commented on #11499
Closing this.

[2022-10-07 07:05] #11499 closed

[2022-10-07 08:09] aswathkk opened #17381 "[Task]: Convert property pane dropdown to button group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Based on the following Notion doc, convert all the marked dropdowns into a button group so that its easier to make use of that property.

https://www.notion.so/appsmith/853275adc3524c0390f7599b66f74859?v=8004de7cc9b74523a496388ad812ebc2

[2022-10-07 08:19] #16776 closed

[2022-10-07 08:34] Richarex opened #17382 "[Bug]: All the pages of the templates are not displayed on page selection page of the template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user tries to add any page from the template then on page selection screen all the pages from the templates are not displayed.

https://www.loom.com/share/8574699257f940b0b80b1cfb04fae008

### Steps To Reproduce

1. Click on + on left pane of Pages
2. Select Add Page from Template option

[2022-10-07 09:05] akash-codemonk opened #17383 "[Bug]: Post forking an application without the first page the application ends up having pages with page name as the page id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/67054171/194750905-94bd0186-39e0-4775-ae95-8af86b67e3c4.mov

<img width="613" alt="page-id" src="https://user-images.githubusercontent.com/67054171/194751021-432089db-2e04-46e7-99ae-47b2b32d4818.png">

If you fork a template by selecting pages to fork and

[2022-10-07 09:32] Richarex commented on #17272
This is fixed now forking selected pages from template is not crashing now. https://www.loom.com/share/25ef55c41809485f93c4faacbd5abbda

[2022-10-07 09:35] Richarex commented on #17270
This is also fixed now resource not found error is not coming now. https://www.loom.com/share/25ef55c41809485f93c4faacbd5abbda

[2022-10-07 10:04] #17007 closed

[2022-10-07 10:37] ChandanBalajiBP opened #17384 "[Task]: Add array first element datatype to execute request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The action execute request payload should contain the datatype of the first element of an array.
Example
[code]

[2022-10-07 10:58] kamakshibhat-appsmith opened #17385 "[Bug]: The dropdown options placement is off in case of currency input and phone input when I'm trying to change currency /country code in the widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The dropdown options placement is off in case of currency input and phone input when I'm trying to change currency /country code in the widget . **_This is happening in preview mode and edit mode only_**

### Steps To Reproduce

1. D&D a currency widget
2. in the property pane, enable currency cha

[2022-10-07 11:09] ashit-rath opened #17386 "Task: List v2 - Access of currentRow/currentItem/levels in all executeAction calls"

[2022-10-07 11:27] aswathkk opened #17387 "[Task]: Property Pane rendering re-architecture"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

The hidden property of a property control is being calculated inside [PropertyControl](https://github.com/appsmithorg/appsmith/blob/2aaa413d6dc9468af33e1af468cf77a92fecadb7/app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx#L412) component.

If we ever wanted to see if a property is hidden,

[2022-10-07 11:39] nidhi-nair opened #17388 "[Task]: Server side changes for AST based refactor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Move logic to rely on AST APIs as primary
- Fallback to current way of refactoring
- Change logic to only perform refactors on dynamic bindings
- Additionally refactor widget names and action names in DSL and configs respectively.

[2022-10-07 11:41] #17268 closed

[2022-10-07 11:49] #17213 closed

[2022-10-07 11:49] #17212 closed

[2022-10-07 12:15] bharath31 commented on #16918
Assuming 5% of users who update widget property with `navigateTo()` use special characters on the method params.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     |  115 |
| Effort (months)  |  |

[2022-10-07 13:08] AbhishekTiwari23 commented on #16937
Ok, I am waiting

[2022-10-07 13:18] #17374 closed

[2022-10-07 14:27] rlnorthcutt commented on #14755
I've also run into this a few times while building the Hacktoberfest app. I assumed it was related to some type of caching of the JS object, so I ignored the first one for a few days. Finally, I renamed the method and updated my code to get the error to go away.

Now its happening on a different method in a different page. I've confirmed that there isn't a duplicate method name both in my code AND

[2022-10-07 14:29] rlnorthcutt commented on #14755
It must be related to some type of cache somewhere. I believe it happens when I _move_ a method inside my object during refactoring.

[2022-10-07 14:49] nidhi-nair commented on #11459
Hey folks! I've tried reproducing this with both Postgres and MySQL databases. Appsmith does not seem to be creating more connections than expected in both cases. I have also tried different combinations of multiplayer, multi-workspace datasources to no avail. The only scenario that I was able to replicate this for is when an external source had consumed all available connections in the database,

[2022-10-07 14:49] #11459 closed

[2022-10-07 17:20] ahlavorato commented on #13977
Could I work on it?

[2022-10-07 17:53] tauantcamargo commented on #17387
@riodeuno do u already investigated it request?

[2022-10-07 18:03] tauantcamargo commented on #3833
@areyabhishek hey dude could i get it?

[2022-10-07 18:04] tauantcamargo commented on #4166
@somangshu zachary did it? if not, can i do it?

[2022-10-07 18:06] tauantcamargo commented on #4841
@Pranay105 could i get it?

[2022-10-07 18:08] chandanpatra2111 commented on #8013
hello @somangshu is it still open?
If yes, i can work on it.

[2022-10-07 18:15] tauantcamargo commented on #17384
can i get it?

[2022-10-07 18:18] tauantcamargo commented on #6569
can i get it? @Pranay105

[2022-10-07 18:20] #15899 closed

[2022-10-07 18:22] tauantcamargo commented on #17143
could i get it ? @dilippitchika

[2022-10-07 18:27] tauantcamargo commented on #16937
if  no one take it.. can i grab this issue? @dilippitchika

[2022-10-07 18:28] tauantcamargo commented on #11684
@sbalaji1192 can i get it?

[2022-10-07 18:29] tauantcamargo commented on #14061
can i get it ? @dilippitchika

[2022-10-07 18:32] tauantcamargo commented on #10219
@dilippitchika can i ge tit?

[2022-10-07 18:34] tauantcamargo commented on #8647
can i get it? @somangshu

[2022-10-07 18:35] tauantcamargo commented on #8013
@somangshu csan i get it?

[2022-10-07 18:37] tauantcamargo commented on #7511
can i get it? @Rishabh-Rathod

[2022-10-07 18:38] tauantcamargo commented on #7384
could i investigate it?

[2022-10-07 18:39] tauantcamargo commented on #6804
@areyabhishek can i get it?

[2022-10-07 18:40] tauantcamargo commented on #17378
@ashit-rath could u give me more details what do u want? if yeah .. can i get it?

[2022-10-07 18:40] tauantcamargo commented on #17377
can i get it? @albinAppsmith

[2022-10-07 18:41] tauantcamargo commented on #17365
@dilippitchika can i get it?

[2022-10-07 18:41] AbhishekTiwari23 commented on #16937
Actually, someone is already working on this issue

[2022-10-07 18:47] aswathkk commented on #8647
Hi @tauantcamargo,
When I checked this, I'm unable to reproduce this issue. So, I'm closing this.
Thanks for showing interest Please check out other open issues.

[2022-10-07 18:47] #8647 closed

[2022-10-07 19:00] tauantcamargo commented on #16937
ooo sorry dude, i didn't see u was assigned

[2022-10-07 19:41] ramsaptami commented on #14755
Thanks for adding in your observations @rlnorthcutt.
I also see a "cannot reproduce" label here and wanted to add that trying to copy paste an existing function and then trying to rename the function throws this error for the renamed function

[2022-10-07 19:44] ramsaptami commented on #7384
@tauantcamargo absolutely, please go for it

[2022-10-08 02:17] #16702 closed

[2022-10-08 02:27] eco-monk opened #17393 "[Bug]: Text Input validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When TextInput's value is being changed externally (e.g. through a reset button or an effect etc..), validations don't kick in.
Hence any existing errors persist or if the new value is erroneous there's no indication.

https://www.loom.com/share/24ecb783d81f48baa286efc2e0c51e2d

### Steps To Repro

[2022-10-08 02:28] mohanarpit commented on #3833
@tauantcamargo Thank you for your interest in Appsmith. This is actually not a valid bug any more. Hence, I'm closing it. Would encourage you to volunteer and pick up another "Good First Issue".

[2022-10-08 02:28] #3833 closed

[2022-10-08 02:29] mohanarpit commented on #4166
@tauantcamargo It's all yours! 🎉

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days.

[2022-10-08 02:32] mohanarpit commented on #6369
Closing this issue as it's not valid any more.

[2022-10-08 02:32] #6369 closed

[2022-10-08 02:33] mohanarpit commented on #7209
Closing this issue as the feature has been deprecated.

[2022-10-08 02:33] #7209 closed

[2022-10-08 06:11] sumitsum commented on #13977
@ahlavorato thanks a lot for showing interest in solving this issue. However, on re-assessing this problem it feels like it might not be a good candidate for a good first problem. I apologize since this issue was incorrectly marked as a good first problem. I would request you to find another issue to work on. Happy coding :)

[2022-10-08 08:51] Nikhil-Nandagopal commented on #17365
@tauantcamargo this isn't a good first issue, unfortunately. Please do search for the Good first issue label

[2022-10-08 09:06] MrWombastic commented on #14261
Hi, just to be sure that you focus on the other problem too, so not only the default value problem but the fact that in every country where the , is the decimal seperator the field does not accept decimal places at all. , in a currency field cannot be entered in languge de-DE and . is interpreted as a thousand delimiter.

[2022-10-08 09:57] Naveen-Nair commented on #12286
@dilippitchika Can i work on this issue?

[2022-10-08 10:00] Naveen-Nair commented on #11684
@sbalaji1192 can i work on this issue?

[2022-10-08 12:12] bhuvanaindukuri commented on #16762
Here is the PR with the fix: https://github.com/appsmithorg/appsmith/pull/17395

[2022-10-08 13:06] sumitsum opened #17396 "[Feature]: Make the suggested widgets more noticable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, when users run a query a list of suggested widgets is shown on the right hand pane. The users can select one of the suggested widgets to create that widget on the canvas and connect their query to the selected widget. However, it has been noticed that the users are not selecting the widget

[2022-10-08 13:12] IAmAnubhavSaini commented on #17335
There was an issue with BE implementation where the VIEW and EDIT conditions were switched. After https://github.com/appsmithorg/appsmith/pull/17390 is merged to EE, this should be fixed.

[2022-10-08 13:27] IAmAnubhavSaini commented on #17005
This is a `design-system` issue.

https://user-images.githubusercontent.com/1573771/194709737-905e0a2b-83e9-48ac-b4f9-e465df386d05.mov

The fix involves disabling the icon too.

But I am not sure if we really want that. There is a case when option+icon is disabled for the current value, but not for the other values, in that case there will be no way to change the value if icon and option-popup is

[2022-10-08 15:40] vivek-geekyants commented on #14746
can i work on this issue?

[2022-10-08 15:40] bhuvanaindukuri commented on #16762
@sumitsum - Modified as per the requirement.

[2022-10-08 15:40] vickydonor-99 commented on #14746
can i work on this issue?

[2022-10-08 17:39] Naveen-Nair commented on #11684
@sbalaji1192 Can you review my PR? thanks

[2022-10-08 18:01] dubey-Ji commented on #16743
Heyy i would like to work on this. can u assign me?

[2022-10-08 18:29] zhirzh opened #17397 "[Bug]: Country selector in phone input shows incorrect flag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Dropdown shows incorrect flag (in some cases) when selecting a country which shares dial code with another country

Example: select UK (dial code `+44`) but flag shown if of Guernsey

Once any such country is selected, other countries with same country code are also shown as selected

<img width="

[2022-10-08 18:39] zhirzh opened #17398 "[Bug]: Currency selector shows duplicate items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Dropdown shows duplicate currency options when selecting a country which shares currency symbol with another country

Example: select UK, Jersey, Guernsey, Isle of Man have same currency `GBP`

Also, multiple countries are shown selected when any of "duplicate" currencies is selected

<img width="

[2022-10-08 18:42] albinAppsmith opened #17399 "[Task]: Migrate Form Group component to design system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Change imports in main repo

[2022-10-08 18:58] zhirzh opened #17401 "[Bug]: CheckboxGroup & RadioGroup have different alignment style options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

CheckboxGroup & RadioGroup have different alignment style options

CheckboxGroup:
- none
- start
- end
- center
- between
- around

<img width="400" alt="Screenshot 2022-10-09 at 12 25 39 AM" src="https://user-images.githubusercontent.com/8132723/194723259-adc0736c-5d84-4127-8f0b-d1cd175e411c.png"

[2022-10-08 19:13] zhirzh opened #17402 "[Bug]: Rich Text Editor is buggy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

bugs found:
1. text modifiers (bold, italic, underline) remove text color (but background color is fine)
2. no icon for `underline` modifier but keyboard shortcut `Cmd+U` works
3. headings can be inserted in list items
4. text alignment (left, center, right) on list items don't move list marker (b

[2022-10-08 19:28] zhirzh opened #17403 "[Bug]: Email input allows invalid default value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

email input config panel doesn't validate default text

### Steps To Reproduce

- add input widget
- set data type to "email"
- add invalid default text "hello world"
  - no error messages
- deploy
- type something in email input
  - validation triggered
  - error shown

### Public Sample App

_No

[2022-10-08 19:46] zhirzh opened #17404 "[Bug]: numeric input config doesn't report out-of-bound default values as error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

when default value for numeric input is lower/higher than min/max value, the widget is highlighted (red border) but no errors are reported. in deployed websites, the input is always invalid

<img width="600" alt="Screenshot 2022-10-09 at 1 13 59 AM" src="https://user-images.githubusercontent.com/8

[2022-10-08 20:17] ogbofjnr commented on #13692
Having this issue on latest version. Especially when server overloaded and requests hit timeout.

[2022-10-09 06:46] sxwebster commented on #2033
+1 for this.

Sometimes there are things I want to do with other JS libraries beyond what is available in AppSmith  -eg using something from HighCharts instead of FusionCharts. It would be excellent if I could write a wrapper to include HighCharts and then provide data sources similar to how I would at the moment.

[2022-10-09 07:36] IAmAnubhavSaini commented on #16975
Is there an API that returns for a given app the number of users that the app has been shared with?

Also, if we can figure out the number of users that an app is shared with in backend, BE can just return that number in response for limited git repo api.

[2022-10-09 12:17] beheradibas commented on #11684
Hey @sbalaji1192 , I would like to work on this issue.

[2022-10-09 12:42] trishaanand opened #17408 "[Docs]: Missing documentation for import application from git repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/advanced-concepts/more/backup-restore#import-from-a-git-repository

### Describe the problem

Today, the link mentioned for git repository import is the same as the source page's link.

### Describe the improvement

Please update the link to the correct page.

[2022-10-09 14:35] Irongade commented on #17265
Tagging @parth-appsmith to this issue, kindly provide us with your thoughts on this.

[2022-10-09 14:38] Alcadeus0 commented on #17357
hi can i work on this issue :

[2022-10-09 14:40] Alcadeus0 commented on #17294
Hi can i work on this :)

[2022-10-09 14:43] Alcadeus0 commented on #5036
Hi, i'd like to work on this

[2022-10-09 15:44] AnuragThePathak commented on #17396
Hello, I was interested in working with this issue but I can't see the slack content you have shared because of not having an appsmith.com email. It could've been great if I get more info on what right hand pane and what search query is being referred to in this context. I can see that widgets can be searched in the left pane and it also shows the search results there only.

[2022-10-09 16:44] #15792 closed

[2022-10-09 16:47] subrata71 commented on #12028
Can you please add some sample data that cause such an issue?

[2022-10-09 16:52] eco-monk commented on #16855
Update:
[PR is on hold](https://github.com/appsmithorg/appsmith/pull/16939) because the tabs component is being moved into the `design-system`

[2022-10-09 18:13] Irongade commented on #4458
@rohan-arthur  That notion link has been deleted

[2022-10-09 22:47] sumitsum commented on #17396
@AnuragThePathak thanks for showing interest in contributing to this issue. However, this issue might not be a good fit since it would need internal discussion and design iterations. I would suggest that you pick up another issue to work on. Please read through this code contribution guidelines before you start: https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGu

[2022-10-09 22:48] sumitsum commented on #17294
@Alcadeus0 thanks for showing interest in contributing to this issue. I have assigned this to you. Happy coding :)

[2022-10-10 00:52] tanvibhakta opened #17418 "[Task]: Migrate Toast to the design-system repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-10 00:55] tanvibhakta commented on #17418
duplicate of https://github.com/appsmithorg/appsmith/issues/16892

[2022-10-10 00:55] #17418 closed

[2022-10-10 01:58] vuiets commented on #17197
Thanks for the tweak Shri :)

[2022-10-10 02:00] #13823 closed

[2022-10-10 03:15] vuiets commented on #17408
Good catch, Trisha. Here's the right link
https://docs.appsmith.com/advanced-concepts/version-control-with-git/import-from-repository

[2022-10-10 03:54] #17301 closed

[2022-10-10 03:58] Parthvi12 opened #17420 "[Task]: Template phase 2 cypress tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-10 04:13] tanvibhakta opened #17421 "Move TextAreaField"

[2022-10-10 04:17] tanvibhakta opened #17422 "[Task]: Migrate FilePickerV2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Depends on #16892

[2022-10-10 04:19] tanvibhakta opened #17423 "[Task]: Migrate copy url form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-10 04:22] #16086 closed

[2022-10-10 04:23] tanvibhakta opened #17424 "[Task]: Migrate FormMessage"

[2022-10-10 04:41] Parthvi12 commented on #17262
@AnaghHegde Still seeing this issue
<img width="1440" alt="Screenshot 2022-10-10 at 10 11 00 AM" src="https://user-images.githubusercontent.com/80334441/194800235-0770a808-8eaf-49ba-a93c-febb862bb89f.png">

[2022-10-10 04:44] akash-codemonk commented on #17262
@Parthvi12 Does it happen always or did you try https://github.com/appsmithorg/appsmith/issues/17383 which happens without git?

[2022-10-10 04:44] beheradibas commented on #7511
Hey @Rishabh-Rathod , I would like to contribute to this.

I would like to know which properties apart form "lineHeight" needs this change?

Is this required for everything that takes px as default unit ? For example : font-Weight wont require a px but heights will require.

[2022-10-10 04:54] pranavkanade commented on #2033
@hiteshjoshi @Nikhil-Nandagopal A user is asking for this feature so that they can have a tabulator widget - http://tabulator.info

[2022-10-10 04:55] sbalaji1192 commented on #11684
@tauantcamargo Thanks for showing interest. I'm assigning this issue to you. I would appreciate it if you could create a PR within two days. All the best!

@Naveen-Nair & @beheradibas As this is assigned, Please pick a different issue from our [issues](https://github.com/appsmithorg/appsmith/issues) page. If this is your first time contributing to the repo, You can start with a [Good first issue](

[2022-10-10 04:59] Parthvi12 commented on #17262
@akash-codemonk It's not happening always, this happened when I tried forking only selected pages from templates like in #17383

[2022-10-10 05:01] bharath31 commented on #13692
I'm able to reproduce this error by performing the following actions in quick succession:
1. Create an app with at least two pages
2. Create a JSObject in Page1 and add a function with a unique name eg: 'helloWorld: () => {}`
3. Create another JSObject on Page1 and add a function with the same name `helloWorld: () => {}`
4. Delete one of the JSObjects, quickly open Page2 and switch back to Page1.

[2022-10-10 05:09] pranavkanade commented on #17357
@Alcadeus0 Give it a shot

[2022-10-10 05:12] ashit-rath commented on #17378
@tauantcamargo Thanks for showing interest to contribute. This is a part of an ongoing project for the List widget's version 2 which is being actively developed by the internal team. As this is a time-sensitive and internal only project's sub task, we sadly cannot assign this to you.

I would highly recommend you to check out [Good First Issues](https://github.com/appsmithorg/appsmith/issues?q=is%

[2022-10-10 05:16] AnaghHegde commented on #17262
@Parthvi12 #17383 is still not fixed.

[2022-10-10 05:16] btsgh commented on #17268
Verified and found to be fixed in Release.

[2022-10-10 05:20] AnuragThePathak commented on #17396
@sumitsum I was thinking that modifying styles here https://github.com/appsmithorg/appsmith/blob/12f9a005ae4f90a4678d04232fb5a34c8359cf90/app/client/src/components/editorComponents/GlobalSearch/SearchResults.tsx#L519 will solve the issue. Anyways, thanks for making me aware that it would need internal discussion and design iterations.

[2022-10-10 05:32] #16766 closed

[2022-10-10 05:32] dilippitchika commented on #16743
Greetings @dubey-Ji, thanks for showing interest 🎉 , This is all yours. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-10 05:33] dilippitchika commented on #14746
Greetings @vickydonor-99 thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-10 05:33] AnaghHegde opened #17425 "[Bug]: On forking a template the JS Objects are not cloned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Connect an app to git. Create your own branch
Switch to this child branch
Click on the Plus sign next to pages and choose Add Page From Template
Choose any template from the list to create a template
Now we see that the canvas is created with the template, but there is no corresponding JSObject

#

[2022-10-10 05:34] AnaghHegde commented on #17425
Fixed via https://github.com/appsmithorg/appsmith/pull/17292

[2022-10-10 05:34] #17425 closed

[2022-10-10 05:36] dilippitchika commented on #12286
Hello to fix this issue, we have to limit the number of items and show a scrollbar. We can show a total of 6 items post which we can show a scrollbar.

Greetings @VividhPandey003 @Naveen-Nair thanks for showing interest 🎉 , This is all yours. Assigning this to both of you for now. Based on the PRs received we will figure out whose code to merge.

Please don't forget to read the [Contribution Guide

[2022-10-10 05:37] dilippitchika commented on #14261
Hello @MrWombastic yes, we already fixed it in the PR linked. Based on the locale we will accept either , or .

We are working on an expansion to also fix this in the default value field

[2022-10-10 05:38] dilippitchika commented on #17365
Not doing this, will be fixed in #8330

[2022-10-10 05:38] #17365 closed

[2022-10-10 05:40] dilippitchika commented on #16937
Hi @AbhishekTiwari23 @tauantcamargo @Subhamjain02, Assigning this to you all 3 of you now. Since we haven't heard back from @rksingh2001. If one of you can submit a PR we should be able to close this quickly. Please check out other good first issues if you are unable to contribute to this.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/maste

[2022-10-10 05:41] dilippitchika commented on #14061
Greetings @tauantcamargo thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-10 05:42] dilippitchika commented on #17143
Greetings @Ayush-Kori @tauantcamargo  thanks for showing interest 🎉 , This is all yours. Assigning this to you both of you for now. If one of you raises a PR first then we will assign only that person.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us

[2022-10-10 05:48] shadabbuchh opened #17427 "[Bug]: List widget | onPageSizeChange action gets triggered without changing the page size upon editing the app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon editing an app , the action set for the `onPageSizeChange` property gets triggered even when we don't change the page size.

https://www.loom.com/share/14b0ee40de23415fa893a06eab20023c

### Steps To Reproduce

1. D&D a List widget.
2. Configure an action for the `onPageSizeChange` property.
3

[2022-10-10 06:13] Parthvi12 commented on #17262
Closing this then assuming forking selected pages in child branch is handled in this issue #17383

[2022-10-10 06:13] #17262 closed

[2022-10-10 06:20] sneha122 commented on #4381
@rohan-arthur I have a couple of questions regarding this functionality:
- so currently suppose if I create a new datasource and instead of saving that datasource, user reloads the page, we get the same datasource page in view mode, which user can then edit, but if we are planning to create datasource only when user clicks on save button, then what would happen if user reloads the page in such cas

[2022-10-10 06:26] AnaghHegde commented on #17383
This is not reproducible locally as the metadata about the page is not available in release CS. I will pick this up once this is reproducible locally.
cc - @ginilpg @akash-codemonk @kocharrahul7

[2022-10-10 06:31] akash-codemonk commented on #17383
@AnaghHegde Do we know how do we get this metadata or make it available in release CS?

[2022-10-10 06:33] AnaghHegde commented on #17383
@akash-codemonk I am not aware of the internals here. @nayan-rafiq Could you help us here?

[2022-10-10 06:39] #17303 closed

[2022-10-10 06:42] hiteshjoshi commented on #13823
Yeah I will just need to move the issues to Git V2.

[2022-10-10 07:12] somangshu commented on #10037
@jsartisan are you looking into this ?

[2022-10-10 07:14] akash-codemonk opened #17428 "[Bug]: When a template is imported. The app is reset to old url format. Because, the applicationVersion is reset to 1."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a template is imported. The app is reset to old url format.
Because, the applicationVersion is reset to 1.

This currently breaks deployed apps.
https://www.loom.com/share/ddfe91bc3a0f402cb6eac0d56b31407d
Workaround: manually update url version (footer has a CTA for this) and re-deploy app.

[2022-10-10 07:32] Rhitottam opened #17430 "Add new page into Performance Infra Dashboard from displaying line graphs for metrics form different page actions in last releases"

[2022-10-10 07:52] Nikhil-Nandagopal commented on #17265
@Irongade we can use the same field we use for the insert body right? This is a bug and it used to work that way.

[2022-10-10 07:56] Irongade commented on #17265
Do you mean this component? @Nikhil-Nandagopal

<img width="1125" alt="Screenshot 2022-10-10 at 08 55 31" src="https://user-images.githubusercontent.com/37867493/194820778-71852ebc-5875-4cd4-9647-1a8140efd0d9.png">

[2022-10-10 07:56] Nikhil-Nandagopal commented on #17265
@Irongade Yes

[2022-10-10 07:57] Irongade commented on #17265
@Nikhil-Nandagopal Okay 👍

[2022-10-10 08:03] rohan-arthur commented on #4381
@sneha122 :
1. close tab, refresh should be handled similarly but let's keep it out of scope for this issue - since its incidence is lesser and it is complicated to implement. For now, the changes should simply not be saved if I close or refresh the tab. If on refresh, the default behaviour is retaining the user's changes, but they are not saved yet - even so, let's go with it.
2. Test should be p

[2022-10-10 08:10] ame-appsmith commented on #10434
[Another user](https://app.frontapp.com/open/msg_1eflxv0s) wants to give Appsmith access only to a specific Google Sheet instead of ALL my files in Google Drive.

[2022-10-10 08:10] eco-monk opened #17431 "[Bug]: Text input disabled style"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Disabled input component has interactions similar to when it's enabled.
This leads to confusion whether the field is disabled or not.

https://www.loom.com/share/9189d6f2f6a04b56acc7a584a6a0e83a

### Steps To Reproduce

Noticed when developing a feature.
[code]

### Public Sample App

_No response

[2022-10-10 08:11] rohan-arthur opened #17432 "[Feature]: GSheets improve hint text for insert queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Since insert and update queries in gsheets always expect a `rowIndex`, this should be shown in the hint text. Current hint:
![Screenshot 2022-10-10 at 13 34 41](https://user-images.githubusercontent.com/94514895/194822354-f9a52a26-2f36-401a-b344-3e8cbfe96c91.png)

This is better:
`{
    "name": {{name

[2022-10-10 08:18] AmanAgarwal041 commented on #4381
@rohan-arthur @sneha122
1. When creating a datasource, we should not switch to view mode after clicking the save button; instead, we should stay in that mode and enable the test button. By doing this, the user can test the datasource with just one click.
2. When a user creates a datasource, we are aware of the path. In order to keep the last altered state when a user refreshes the page, we may eit

[2022-10-10 08:18] rohan-arthur commented on #17432
strange - it works without rowIndex today. Last time I tested, was facing some problems. Will test further and reopen this issue with more information.

[2022-10-10 08:18] #17432 closed

[2022-10-10 08:31] Nikhil-Nandagopal commented on #4381
@AmanAgarwal041 that doesn't sound like a good UX because the feedback on saving the datasource is not very strong. When a user saves the datasource, we can automatically test it and assign it a state as
- Successfully connected
- Error in connecting
- Not testable

[2022-10-10 09:13] sneha122 commented on #4381
@AmanAgarwal041 Moreover currently when we save the datasource it takes us back to active datasource list, and not in the datasource config viewMode, do we need to alter that behaviour as well?

[2022-10-10 09:17] AmanAgarwal041 commented on #4381
@rohan-arthur Any thoughts here ?

[2022-10-10 09:31] rohan-arthur commented on #4381
@sneha122 @AmanAgarwal041 after saving, ideally I should see the ds that I just saved. If this is not happening, please create a separate issue for this (looks like this issue has large enough scope already)

[2022-10-10 09:48] IAmAnubhavSaini commented on #16975
@AnaghHegde ^

[2022-10-10 10:20] parth-appsmith commented on #4381
@sneha122 @rohan-arthur @AmanAgarwal041

- As per my understanding the data in the form is saved in local storage and it persists till the point when the session is reloaded or killed (when I refresh the tab or kill the tab). Aside from these two options even if i move from the data source page to canvas or anywhere else and I come back to edit the data source the value still persists. Since the v

[2022-10-10 10:34] bharath31 opened #17433 "[Docs]: Improve download action documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/reference/appsmith-framework/widget-actions/download

### Describe the problem

The type dropdown on the `Download` action selector misleads users into thinking that the downloaded file will be converted to the selected type. Slack convo- https://theappsmith.slack.

[2022-10-10 10:56] akash-codemonk opened #17435 "[Task]: Context switching - non code editors, we set focus but not cursor"
Maintain cursor position for inputs.

- Pagination Fields

https://user-images.githubusercontent.com/12022471/199162083-04726785-d3b7-4e81-98c1-764ee47930cc.mov

- Settings inputs

https://user-images.githubusercontent.com/12022471/199162092-dc2197c4-f05c-435c-96e6-4470ed75cf9a.mov

- Switches

https://user-images.githubusercontent.com/12022471/199163886-162c51f6-0c72-484d-bf3d-8ea62d2e1889.mov

-

[2022-10-10 10:56] akash-codemonk opened #17436 "[Task]: Context switching - Right side panel tabs"
Panel tabs on the api pane

DP: https://appsmith-a1ra9w73t-get-appsmith.vercel.app/

[2022-10-10 10:56] akash-codemonk opened #17437 "[Task]: Context swtiching - Input focus"
Datasource inputs need to maintain focus on returning back to the same.

[2022-10-10 10:56] akash-codemonk opened #17438 "[Task]: Context switching - Datasources edit state"
Datasource edit and view state need to be persisted.

[2022-10-10 10:56] akash-codemonk opened #17439 "[Task]: Context switching - Accordions"
Accordions close and open state need to persisted

DP: https://appsmith-mfua88p5u-get-appsmith.vercel.app/

[2022-10-10 11:25] ChandanBalajiBP commented on #17384
Hey @tauantcamargo,
Sorry, this is already fixed(yet to be released).

[2022-10-10 11:28] danciaclara commented on #17408
Fixed it. Closing issue.

[2022-10-10 11:28] #17408 closed

[2022-10-10 12:00] ginilpg opened #17440 "[Bug]: On clicking a multi-select widget, the app's settings pane does not close."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When you click on a multi select widget, the app settings pane should close and the widget's property pane should open. But it isn't working.

https://www.loom.com/share/06f896234a0f405bae3d8b1926a9ef99

### Steps To Reproduce

https://www.loom.com/share/06f896234a0f405bae3d8b1926a9ef99

### Publi

[2022-10-10 12:12] eco-monk commented on #14745
Linking design system issues created for reference: (nothing major)
#17431
#17393

[2022-10-10 12:25] Irongade opened #17441 "[Feature]: Autocomplete Feature for SQL Commands, Tables and Columns"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Users should be able to leverage autocomplete capabilities when writing SQL commands, Tables and Column names within the query editors.

### Why should this be worked on?

This would provide a better Query writing experience for our users.

[2022-10-10 14:10] satbir121 commented on #13692
@bharath31 Can you please test by throttling the network as well? It's pretty easy using chrome Dev tools.

[How to simulate slow network in Chrome](https://www.browserstack.com/guide/how-to-perform-network-throttling-in-chrome)

[2022-10-10 14:21] akash-codemonk commented on #17439
@Ravina-Deogadkar   Unfortunately, this issue doesn't meet the criteria of what qualifies as a good first issue.
https://github.com/appsmithorg/appsmith#how-to-contribute has information about how you can contribute.
https://github.com/appsmithorg/appsmith/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22 has a good list of issues where you can help contribute.

[2022-10-10 14:31] satbir121 commented on #12179
Discussing this with the team. We can try to show a better message.

[2022-10-10 14:50] Ravina-Deogadkar commented on #17439
Ohh is there anything else I can look at

[2022-10-10 15:16] rohan-arthur opened #17443 "[Bug]: gsheets unauthorised datasaource, but query successful"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This is a weird scenario - consider I want to remove accesses to my ghseets in all the applications within the workspace. So I go and un-authorise the datasource, and then expect the queries to fail, but they don't.

### Steps To Reproduce

Steps:
1. Create a valid gsheets datasource
2. Create a s

[2022-10-10 15:29] rohan-arthur commented on #14977
closing this because this looks very much like an edge case, and we haven't heard complaints from users.

[2022-10-10 15:29] #14977 closed

[2022-10-10 15:32] rohan-arthur commented on #14998
@prapullac this is not reproducible anymore:

https://user-images.githubusercontent.com/94514895/194902766-d43ab6ad-64a9-4d17-a8da-26bccc3382a6.mov

[2022-10-10 15:32] #14998 closed

[2022-10-10 15:57] patvdleer opened #17444 "[Bug]: Timeout on call home"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On init start, multiple `connection timed out: cs.appsmith.com/3.140.154.112:443`, unable to get appsmith started. Also, why is it calling home?

### Steps To Reproduce

clean setup, nothing configured

Using the current latest image: index.docker.io/appsmith/appsmith-ce:latest@sha256:fc83852a4d21

[2022-10-10 16:24] AnuragThePathak commented on #16937
Is there anyone still working on it?

[2022-10-10 16:26] dilippitchika commented on #15448
@Ravina-Deogadkar  this can be picked up. Please let me know if you are interested

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-10-10 16:31] thedreader commented on #15448
Hi, I would love to work on this issue. Could you assign it to me?

[2022-10-10 16:36] dilippitchika commented on #15448
Greetings @thedreader  thanks for showing interest 🎉 , Please go ahead and create a PR. I will assign this to you and @Ravina-Deogadkar. If any of you can contribute to this, it would be great.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know her

[2022-10-10 16:37] dilippitchika commented on #16937
Hello @AnuragThePathak i have assigned a few folks who were willing to work on it. Do you also want to work on this issue?

[2022-10-10 16:43] AnuragThePathak commented on #16937
If they are already working then it's fine.

[2022-10-10 16:45] dilippitchika commented on #16937
Ok, please let me know if you find any other issues you want to work on

[2022-10-10 16:47] AnuragThePathak commented on #16937
Sure I'll

[2022-10-10 17:22] Ravina-Deogadkar commented on #15448
Thanks for assigning

[2022-10-10 17:53] nidhi-nair opened #17446 "[Task]: Move Entity Refactor related code paths to another file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-10-10 18:51] Taz03 commented on #15623
Can i get assigned for this?

[2022-10-11 02:42] #17356 closed

[2022-10-11 03:36] #17421 closed

[2022-10-11 04:49] albinAppsmith opened #17452 "[Bug]: Dropdown changes in design system affected performance of modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Recent changes in design system dropdown component affected the re-rendering time of modal widget. This is due to the use of createGlobalStyle functionality of styled component

### Steps To Reproduce

1. Goto performance dashboard
2. Check the PR details tab with [16718](https://github.com/appsmi

[2022-10-11 04:50] sbalaji1192 commented on #11684
@tauantcamargo Do you want me to reassign this issue?

[2022-10-11 05:10] bharath31 opened #17453 "Bracket bugs"
### Objective
Provide a better code writing experience on the JS editor by fixing all bugs related to the identification/pairing of brackets.

[2022-10-11 05:18] #14292 closed

[2022-10-11 05:18] bharath31 commented on #14292
Duplicate of #11642

[2022-10-11 05:23] bharath31 commented on #14140
Notes- https://www.notion.so/appsmith/Thoughts-Why-do-we-need-to-return-Promise-90022dc00e634d96be608f5346864134

[2022-10-11 05:23] #14140 closed

[2022-10-11 05:24] SatishGandham opened #17455 "Along with comparison to last 50 runs, add a comparison with last three merges to release. This will help with catching a regression followed by a huge improvement."

[2022-10-11 05:24] SatishGandham opened #17456 "Combine Run ID and run attempt together"

[2022-10-11 05:25] SatishGandham opened #17457 "Move PR details to a modal to save space"

[2022-10-11 05:25] SatishGandham opened #17458 "Display few useful links like Link to github action,Link to perf infra artifacts, Link to PR"

[2022-10-11 05:28] bharath31 opened #17460 "Promise errors"

[2022-10-11 05:28] bharath31 opened #17461 "Cyclic dependency errors"

[2022-10-11 05:32] #16338 closed

[2022-10-11 05:32] #9864 closed

[2022-10-11 05:32] #17190 closed

[2022-10-11 05:33] AnaghHegde commented on #17383
This is fixed via the PR - https://github.com/appsmithorg/appsmith/pull/17292

[2022-10-11 05:36] tanvibhakta commented on #17431
It looks like this is related: https://github.com/appsmithorg/appsmith/issues/17005

[2022-10-11 05:45] bharath31 commented on #11466
@zzgvh Appsmith's `storeValue()` is an async function and should not be used to update widget properties. You can try binding a widget property eg: `Input1.value` or a JS object function that returns a result eg:
[code]

[2022-10-11 05:47] ginilpg opened #17462 "[Bug]: Concurrent console logs are not getting logged."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Console log is trying to avoid duplication in concurrent logs. Because of this, if we try to log the same object with two different values, only one is displayed in the debugger.

https://user-images.githubusercontent.com/8299030/195007030-019a1e1a-06c6-46ad-9e0d-62ac5f782b65.mov

### Steps To Rep

[2022-10-11 05:48] bharath31 opened #17463 "Slash command pane"

[2022-10-11 06:05] AnaghHegde commented on #17383
@Parthvi12 Could you please verify this? I tried selecting the pages

[2022-10-11 06:05] bharath31 commented on #3806
Will be possible after the release of Custom JS Libs https://github.com/appsmithorg/appsmith/issues/2430

[2022-10-11 06:05] #3806 closed

[2022-10-11 06:08] bharath31 commented on #2430
JS library to encode/decode JWT within Appsmith client

- https://www.npmjs.com/package/jsonwebtoken
- https://www.npmjs.com/package/jose

[2022-10-11 06:28] yaldram opened #17466 "[Task]: Cypress test cases for the slider widgets."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Write test cases to cover all property pane validations.
- Write test case for checking the bindings of all slider widgets.

[2022-10-11 06:29] Nikhil-Nandagopal commented on #11466
@bharath31 while that is true, this should still have worked and seems like a bug in the platform

[2022-10-11 07:29] bharath31 commented on #10865
@Rishabh-Rathod @satbir121 could we prioritize this and fix it in the current sprint? I'm guessing the fix should be simple. Our Sentry quotas are being breached and we're missing out on the actual platform errors.

[2022-10-11 07:32] bharath31 commented on #10865
Related: #16618

[2022-10-11 07:37] laveena-en opened #17470 "[Bug]: Tabs widget - On selection of entity explorer tab entries, configurable properties in property panel are improper as compared to the property panel of tab content items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/109572422/195023174-1f8d0936-2049-4d3b-82e3-d22f6445b0bf.mov

 On selection of entity explorer tab entries, configurable properties in property panel are improper as compared to the property panel of tab content items

### Steps To Reproduce

1. D&D a tabs

[2022-10-11 07:49] iamrkcheers opened #17472 "[Bug]: ValidationTypes.Number returning 'min' value (when min value validation is set) instead of the parsed value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the 'min' value validation is set, eg:
`validation: {
              type: ValidationTypes.NUMBER,
              params: { min: 1 },
            }`
The expected value is supposed to be the parsed value.
However, what is being returned is the minimum value.

### Steps To Reproduce

1. Open the

[2022-10-11 07:51] bharath31 commented on #3087
Handled by #15652

[2022-10-11 07:51] #3087 closed

[2022-10-11 08:25] bharath31 commented on #13692
@satbir121 this is reproducible on a throttled network as well

![slow 3g](https://user-images.githubusercontent.com/17562726/195038301-04b63f45-e319-4af7-8683-896974260e27.png)

![no throttling](https://user-images.githubusercontent.com/17562726/195038277-f931abe0-2764-4451-a169-9030d3f63cff.png)

[2022-10-11 08:36] dilippitchika opened #17475 "[Feature]: Support referencing custom column in the same column's properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Dev should be able to reference custom column using {{currentRow.customColName}} in the same column to make it more customisable

### Why should this be worked on?

When user wants to reference custom column in the same column and color it differently, it's not possible yet.

[2022-10-11 08:37] lavanyaG4 commented on #16319
Yes, I want both.1. Progressbar while data loading on table and
Onpagechange data loading. 2.Record count

On Mon, Aug 29, 2022 at 2:45 PM dilippitchika ***@***.***>
wrote:

[2022-10-11 08:40] somangshu commented on #17472
@riodeuno can you help me a bit here? Wondering if this is expected? Or should we go about identifying how to make the change?

[2022-10-11 08:40] btsgh opened #17476 "[Bug]: Text widget - Font Family on being bound to a radio group, in deploy mode we cannot see the font change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I bind the Font Family of a text widget to a RadioGroup widget, to select say ubuntu on Y, and rubik on N [ like here -{{RadioGroup5.selectedOptionValue === 'Y'?'ubuntu':'rubik'}}], in edit and preview mode, the font change is seen, but in the deploy mode, the font does not change to either o

[2022-10-11 08:58] laveena-en commented on #17307
@dilippitchika Sorry, my bad. Added it

[2022-10-11 09:05] Parthvi12 opened #17477 "[Bug]: Getting 'Resource not found' error on deploying template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On adding pages from template and trying to deploy the app, it throws Resource not found error
<img width="1440" alt="Screenshot 2022-10-11 at 2 27 16 PM" src="https://user-images.githubusercontent.com/80334441/195046931-5f8ebbdb-7974-4d5a-bff2-aa655664ddb3.png">

### Steps To Reproduce

1. Click

[2022-10-11 09:06] nsarupr opened #17478 "[Docs]: Update the documentation for OIDC Authentication for fetching Refresh Tokens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://docs.appsmith.com/getting-started/setup/instance-configuration/authentication/openid-connect-oidc

### Describe the problem

Access tokens are not refreshed once they expire and there is a need to re-login every time in order to fetch new ones.
This leads to many requests which are

[2022-10-11 09:14] jnikhila commented on #17478
@trishaanand - Could you please confirm the priority of this change?

[2022-10-11 09:14] Parthvi12 commented on #17272
Reopening as it's happening on release @akash-codemonk
<img width="1440" alt="Screenshot 2022-10-11 at 2 43 38 PM" src="https://user-images.githubusercontent.com/80334441/195049636-7b76e99c-e1ee-492d-a1e2-b9e8ef7cfa3d.png">

[2022-10-11 09:23] akash-codemonk commented on #17272
same as https://github.com/appsmithorg/appsmith/issues/17383? Did you unselect the first page?

[2022-10-11 09:54] #17446 closed

[2022-10-11 10:00] AnaghHegde commented on #17272
@Parthvi12 Raised a PR to fix issue - https://github.com/appsmithorg/appsmith/pull/17474

[2022-10-11 10:06] ashit-rath opened #17480 "Task: List v2 - Enable ListWidgetV2 APIs."
Add the following APIs to the List widget to help users access data from the List widget.

[code]

**NB:** The following should work for Pagination and Infinite Scrolling

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_5zhjg)

[2022-10-11 10:16] #16476 closed

[2022-10-11 10:18] Irongade commented on #14137
Closing this Epic as Successful. 👺

[2022-10-11 10:18] #14137 closed

[2022-10-11 10:47] sumitsum opened #17481 "[Task]: MySQL plugin: Add connection pool"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Introduce connection pool mechanism to MySQL plugin.

[2022-10-11 11:09] nsarupr opened #17484 "[Task]: Add Transient User Permissions to DTOs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Add User permissions(transient) to the Action Collection DTO
- Add User permissions(transient) to the User Group DTO

[2022-10-11 11:12] riodeuno commented on #17472
The rationale behind having min and max here, is that the values beyond the bounds would break the application or have the widget work incorrectly. This is why the fallback is the `min` value.

I have been thinking about a facility to have the value simply `passthrough` if the value should always be the parsed value. I can see how this can be needed.

Tentative thought:
Have another parameter call

[2022-10-11 11:56] sbalaji1192 commented on #17472
@riodeuno the validation logic of min of Number validation already `passThrough`. But there is an issue in the expression that passes all parsed values except 0.
<pre>
return {
     isValid: false,
     parsed: parsed || config.params.min || 0,
     messages: [`Minimum allowed value: ${config.params.min}`],
};
</pre>
When the parsed value is 0 it returns the min value. but for all other values, it

[2022-10-11 12:01] pranavkanade opened #17487 "[Bug]: calling `closeModal` function doesn't work, if done before `resetWidget`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

<img width="904" alt="Screenshot 2022-10-11 at 5 26 42 PM" src="https://user-images.githubusercontent.com/13262095/195083698-a92adb02-6b1e-4d38-b581-f2b0459ddba0.png">
<img width="346" alt="Screenshot 2022-10-11 at 5 26 49 PM" src="https://user-images.githubusercontent.com/13262095/195083722-71c0c

[2022-10-11 12:06] dilippitchika commented on #17475
Linked to #5090

[2022-10-11 12:54] Privatecoder commented on #2282
@SamSampson-RIVAL do you still need feedback? I can provide a quick two production-example screen-share session.

[2022-10-11 12:59] muezz opened #17488 "[Feature]: Improvements to the Table widget for server-side sorting and filtering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The table widget should allow sorting of multiple columns at the same time.

Table widget's UI based filter options should be available in a method like this: `myTable.tableFilters`

### Why should this be worked on?

Almost every database allows sorting over several columns and this is not possible t

[2022-10-11 13:14] btsgh opened #17489 "[Bug]: Currency input widget - though Regex condition is satisfied, on clicking inside the widget, in deploy mode, error is displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I assign a Regex condition to a currency input widget, though the condition is satisfied, when the app is deployed, on clicking inside the widget, the error message shows up.

### Steps To Reproduce

1. Drag and drop a currency input widget
2. Assign this Regex to the widget - ^\$?(([1-9]\d{0

[2022-10-11 13:28] rohitagarwal88 opened #17490 "[Bug]: resize computation jankiness during reflow in container & other widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a widget reflow & resize coz of other widget resize. The resize computation is bit slow & moves out of the canvas.
https://www.loom.com/share/6dcfc7eaf76a4974a28e15f3b55e592d

### Steps To Reproduce

https://www.loom.com/share/6dcfc7eaf76a4974a28e15f3b55e592d

### Public Sample App

_No respo

[2022-10-11 13:34] sneha122 commented on #4381
@Nikhil-Nandagopal I would be creating a separate ticket for this CC: @rohan-arthur @AmanAgarwal041 @parth-appsmith

[2022-10-11 13:37] dilippitchika commented on #17488
Thanks for raising this @muezz we are going to work on server side filtering soon here - https://github.com/appsmithorg/appsmith/issues/10486

Regarding multi column sorting - here's the issue https://github.com/appsmithorg/appsmith/issues/9949

Please track both of these for updates on the issue. We will work on these soon and server side filtering is something even we have been trying to build.

[2022-10-11 13:37] #17488 closed

[2022-10-11 13:37] Sripriya93 opened #17492 "[Bug]: Unnecessary scroll seen in 2nd step of Welcome tour, when we bind customer data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we start welcome tour from home page, and in the 2nd step we are binding {{getCustomers.data}} in Table Data, the helper text is cut and there is an unnecessary scroll to the right.

![image](https://user-images.githubusercontent.com/104895602/195104803-218d700c-1406-46de-9e94-30e7649bd994.pn

[2022-10-11 13:37] kamakshibhat-appsmith opened #17493 "[Bug]: Issue with Omnibar navigation--> widgets that donot belong to my branch are also showing up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Issue with Omnibar navigation--> widgets that donot belong to my branch are also showing up under Navigate option

### Steps To Reproduce

1. Create a GIT connected app.
2. create one branch and switch to that branch from Master
3. Click on Navigation--> navigate
4. You will be able to see the Unw

[2022-10-11 13:38] dilippitchika commented on #17470
@aswathkk can you check this once? I think we didn't test the updated property pane from the IDE.

[2022-10-11 13:40] dilippitchika commented on #17440
@jsartisan it looks like the same issue you are triaging, can you check this out once?

[2022-10-11 13:44] dilippitchika commented on #2282
Hey @Privatecoder we are working on the designs and would love your feedback

Here's a link to the prototype - https://www.figma.com/proto/EkPT7FdqmArkk9L7mySA5S/NAV---Designs?page-id=357%3A182882&node-id=579%3A238541&viewport=138%2C579%2C0.06&scaling=scale-down&starting-point-node-id=579%3A238541&show-proto-sidebar=1

Here's a video explaining the flow of sidenav - https://www.loom.com/share/46f5

[2022-10-11 13:45] tauantcamargo commented on #11684
@sbalaji1192 yeah yeah assign it to @beheradibas

[2022-10-11 14:03] bharath31 commented on #17487
Assuming 10% of users who use `closeModal()` face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 48 |
| Effort (months)  | <<number>> |

[2022-10-11 14:11] akash-codemonk commented on #17477
This most likely will get fixed once https://github.com/appsmithorg/appsmith/issues/17383 gets fixed.

[2022-10-11 15:43] subrata71 opened #17494 "[Bug]: Older applications on release throw internal server error as soon as it is clicked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I click any older application on [release.app.appsmith.com](https://release.app.appsmith.com) it throws Internal Server Error provided that the application has some widgets in its `dsl`.

### Steps To Reproduce

1. Go to release.app.appsmith.com
2. Click on any application which has some widg

[2022-10-11 15:45] subrata71 commented on #17494
Getting this NPE in local after pulling the latest changes from the release branch.

[code]

[2022-10-11 17:54] #17494 closed

[2022-10-11 18:29] Privatecoder commented on #2282
@dilippitchika looks amazing, can't wait to see this in action as it really has become quite of a task to replicate any changes throughout the App with the current flow (i.e. copy my custom NavBar to all sub-pages within the App)

[2022-10-11 19:34] Vishrut19 commented on #16743
Hey @dubey-Ji  do you need help in it ?

[2022-10-11 20:49] zzgvh commented on #11466
Also I'd like to point out that, as far as I know, I have to use the Appsmith store to allow me to "link" the data in the two widgets. Changing one value adjusts both widgets, and the user can choose to change either one of the widgets. This cannot be accomplished by referring to just the widget's values as it results in a circular dependency.

[2022-10-12 02:40] leomangueira opened #17497 "Oracle DB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be amazing if it had the option to connect to oracle database

### Why should this be worked on?

I've been working with oracle for over 4 years, it's a database widely used by large companies and with great resources

[2022-10-12 04:35] sbalaji1192 commented on #11684
@Naveen-Nair Would you be still interested in working on this issue?

[2022-10-12 05:00] pranavkanade opened #17498 "[Bug]: Google Sheet - Switching between datasources does not fetch the updated list of spread sheets and sheet names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Both the data sources show the same list of spreadsheets. Although, the list corresponds to `Design_Data` and not to the `Product_data` datasource.

<img width="1085" alt="Screenshot 2022-10-12 at 10 25 52 AM" src="https://user-images.githubusercontent.com/13262095/195253596-7dedec36-705f-4435-b28

[2022-10-12 05:05] btsgh commented on #17494
Tested and verified on Release. Applications are working fine now.

[2022-10-12 05:24] RakshaKShetty opened #17499 "[Bug]: Inside the repo limit modal the repo names are missing when user try to import the 4th private app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Inside the repo limit modal the repo names are missing when user try to import the 4th private app
![Uploading image.png…]()

### Steps To Reproduce

1. Pick the org which has already 3 git connected private repo app
2. now try to import the new app which is connected to git private repo
3. The Re