[2022-09-14 16:44] ZackKnopp commented on #3532
My use case was a "delete" button that, when clicked, displays a "confirm" button and text. Because I can't store and update state in the js object, or change state of a widget when a button is clicked, I have to store the state in the browser store.

[2022-09-14 17:00] dilippitchika commented on #15747
@Tooluloope @Nikhil-Nandagopal went through some user requests and saw that the aforce team built a sample app around this - uploading csv and showing it in a table. We have quite some requests around it, there were also some where they wanted to upload it to a db.

I suggest we currently **don't enable the functionality of displaying data in the frontend for larger files** (keep showing blobs ins

[2022-09-14 18:23] ChandanBalajiBP commented on #15755
1. Java Integer range is ±(2^-31 to 2^31-1)

2. Java Float, Double has a similar range, but in JS there are no such restrictions.
3. Similarly in the case of DateTime/Timestamp/Date/Time/Year - the user can provide inputs in multiple ways, for example:

So points to consider are:
1. The sequential check should be the same regardless of whether this functionality is picked by a client or a server.

[2022-09-14 18:32] ChandanBalajiBP commented on #15755
Had a discussion with @subrata71 w.r.t to this issue.

1. To have low coupling, it is best to handle possible derived datatypes on the server side.
2.  if the need arises then a separate issue will be created for that particular derived datatype and will be addressed. Following are the scenarios expected to deal with derived datatypes
         a. While adding data type conversion logic to each plu

[2022-09-15 00:46] developer-honoru opened #16771 "[Feature]: Add tooltip to table column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add tooltip to table column
![57788885-7f890380-76fd-11e9-9bdf-8406b37ed024](https://user-images.githubusercontent.com/33475816/190287423-2a24fffa-e986-487f-b6b3-eec3f571540a.png)

### Why should this be worked on?

There are parts that are difficult to express with column names, so it would be nice i

[2022-09-15 02:39] karimsiam commented on #13809
can you elaborate more on how you handled post request?

[2022-09-15 04:54] kocharrahul7 commented on #16178
@Richarex This seems to have been closed

[2022-09-15 04:54] #16178 closed

[2022-09-15 04:58] flying-solo commented on #16743
@somangshu i would like to work on this issue

[2022-09-15 05:00] #15279 closed

[2022-09-15 05:04] RakshaKShetty opened #16775 "[Bug]: The Clear-all link will disappear when user does a browser refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The clear-all link disappears when user refresh the page  from the browser window
https://www.loom.com/share/e7739a07e3e84eff9880c93731a0a4b0

### Steps To Reproduce

1. Login as demo user
2. click on member&setting tab
3. click on Audit log menu
4. Now filter by Resourceid
5. do the browser refre

[2022-09-15 05:06] somangshu commented on #16743
Greetings @flying-solo, thanks for showing interest 🎉 , This is all your. Assigning this to you now.

Please don't forget to read the [Contribution Guidelines](https://github.com/appsmithorg/appsmith/blob/master/CONTRIBUTING.md). Would appreciate if you can open a PR within the next 2 days. let us know here

[2022-09-15 05:16] dilippitchika opened #16776 "[Docs]: Add docs for validation support within inline editing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Within tables, we now support validations in edited columns, so devs can define rules which users adhere to.

### Describe the improvement

https://www.notion.so/appsmith/Table-inline-editing-validations-447aa9d882ee4d1dba7bdbcb2214fbd7

Here's the d

[2022-09-15 05:17] dilippitchika commented on #16776
POC @sbalaji1192

[2022-09-15 05:18] dilippitchika commented on #16776
Expected release version - 1.8.2

[2022-09-15 05:44] #16645 closed

[2022-09-15 05:49] shadabbuchh opened #16777 "[Bug]: Updates Modal | Clicking on "Read Less" navigates the user to older Release notes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon clicking on `Read Less` the user gets navigated to the older Release notes in the product updates modal.
https://www.loom.com/share/deb8539aa13044659d3dba10168b8c20

### Steps To Reproduce

1. In the homepage click on the `What's New?` button.
2. For the latest release version click on `Read

[2022-09-15 05:53] flying-solo commented on #16743
Hey @somangshu, can I get some more information about the bug.

[2022-09-15 06:01] yaldram commented on #16763
This is how the math works internally. But we have added a clamp now it will not choose values above the max and less than the min. All Sliders have such edge-cases where the min, max & Step Size are not uniform.

We can check the same behaviour for React Material UI Slider and for Retool Slider as well.

I have discussed these edge cases with @dilippitchika and @Sripriya93 .

**The only important

[2022-09-15 06:06] somangshu commented on #16743
Sure, met me know what are the questions you have @flying-solo. This is happening in the phone input field of the json form.

cc @ashit-rath

[2022-09-15 06:06] dilippitchika commented on #16743
@flying-solo some context
1. In our property panes inside a widget, we have a js toggle for fields so that users can write js rather than selecting from a list. This helps developers make properties dynamic based on data or users.
2. We need to enable this toggle in the fields i mentioned here - https://github.com/appsmithorg/appsmith/issues/16743#issuecomment-1246264850
3. Please take a look at o

[2022-09-15 06:09] flying-solo commented on #16743
✌️cool, will work on it .

[2022-09-15 06:21] sribalajig opened #16779 "[Bug]: Renaming a page does not rename references to it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

**When I renamed a page**, I expected that all references to that page would be renamed as well.

However, what I observed is that **the references were not renamed** and parts of my app were broken.

In my specific case, I renamed a page and places where I had a `navigateTo('myPage', {})` broke

[2022-09-15 06:30] pranavkanade commented on #16779
@sribalajig In the case of `navigateTo`, the first argument is actually a raw String and not a reference. You'll have to change it manually. So, this is not a bug. Although, you raise a good point here about making it a reference. I'll keep the issue open for more inputs from other team mates.

[2022-09-15 06:33] #16779 closed

[2022-09-15 06:45] sribalajig opened #16780 "[Feature]: Automatically execute a query when the query variable is referenced"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Let's say I have a query called `X` and when a user opens a modal, I want to execute `X` and populate the modal with data returned from `X`.

As a user, I just **assume that referencing `X`** in my modal bindings would **suffice to execute `X`**. However as per current behaviour, doing so would either

[2022-09-15 06:49] #16651 closed

[2022-09-15 06:53] IAmAnubhavSaini commented on #16650
I have no idea. And this has to be assigned to the pod that is the source of the duplicate events.

[2022-09-15 06:55] subrata71 commented on #11880
After investigating I would say this is not directly related to the data type issue rather integer values are losing the quotes around them when the following regex is applied.

`MustacheHelper`
`private static String regexQuotesTrimming = "([\"']\\?[\"'])";`

[code]

But I cannot say either that removing this part i.e. applying`regexQuotesTrimming` to the values and later doing smart substitution

[2022-09-15 07:00] Richarex commented on #16456
@hetunandu JS object editor page when the user selects "Logs" tab & applies the filter "Console Logs" switches to other API and navigating back to JS object editor page the applied filter is reset. Please refer the video attached: https://www.loom.com/share/69dca84f51354a82b0eb9f7da9d1a38a

[2022-09-15 07:09] Constantine9527 opened #16783 "[Feature]: TableWidget2 change the number of rows per page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The current pageSize of TableWidget2 is calculated according to the height of the dragged component.
I can not change the pageSize in view mode.
So, I added a select list to change the pageSize.
The impact is: pageSize becomes fixed.

![image](https://user-images.githubusercontent.com/20188341/1903393

[2022-09-15 07:11] jnikhila commented on #13286
Thanks, @sumitsum. This is helpful :)

[2022-09-15 07:32] Sripriya93 opened #16784 "[Bug]: Number slider - Step size - able to give greater value than Max value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

D&D number slider
Enter Min value as 1, Step size as any value, Max value less than Step size defined previously
User expect an error message either in Max value or Step size

![image](https://user-images.githubusercontent.com/104895602/190342989-2a046f3f-a980-43b4-947d-8cdb5eceae08.png)

[2022-09-15 07:45] btsgh commented on #15698
Adding to the above list, when user clones an application also, same behavior is seen like creation of new app.

[2022-09-15 07:47] #16725 closed

[2022-09-15 08:02] Sripriya93 commented on #16763
Working fine now.

[2022-09-15 08:16] ashit-rath opened #16786 "Task: List v2 - Profile Pagination component"
The Pagination component takes more time than expected for on load and re-render.
It needs to be profiled and verified.

[2022-09-15 08:25] ashit-rath opened #16788 "Task: List v2 - Jest tests for MetaWidgetGenerator"

[2022-09-15 08:27] Sripriya93 opened #16789 "[Bug]: Number slider - Events On change - triggered even without change and just click"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

D&D a number slider
Define valid Min, Max and Step value
Go to Events, On change, Choose "Show message", "Changed", choose any type
Click on the slider and observe we are seeing the message, even if the slider isn't moved and just clicked.

https://user-images.githubusercontent.com/104895602/19035455

[2022-09-15 08:31] Nikhil-Nandagopal commented on #12360
Closing this. I don't believe this is actually useful for app development. It makes sense for analysis of data because you're trying to understand different parts of a query but for app building the final query that you write is what is most important

[2022-09-15 08:31] #12360 closed

[2022-09-15 08:47] vishnu-gp commented on #16654
@IAmAnubhavSaini BE changes for this have been pushed to the feature branch.

[2022-09-15 08:56] Nikhil-Nandagopal commented on #11155
This is not possible since the generate page takes the column as the key

[2022-09-15 08:56] #11155 closed

[2022-09-15 09:11] #13333 closed

[2022-09-15 09:15] Nikhil-Nandagopal commented on #14202
Closing this if we don't have information

[2022-09-15 09:15] #14202 closed

[2022-09-15 09:39] vuiets commented on #16653
Reason for closing this

[2022-09-15 09:39] #16222 closed

[2022-09-15 09:55] sondermanish commented on #11880
Thanks @subrata71 !
For the query Input: `{"release_date": {$regex: "{{"24"}}", $options: "si"}}`

`private static String replaceMustacheUsingPatterns(String query, String placeholder, List<String> mustacheBindings,
                                                       Pattern sanitizePattern, String replacement) {
        ActionConfiguration actionConfiguration = new ActionConfiguration();

[2022-09-15 10:01] ayushpahwa opened #16792 "[Bug]: Performance hit with storing multiple logs together"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, the console log feature stores each log one by one. So for 1000s of logs, there are a lot of redundant updates that go to the subscribed selectors which can be reduced to batched updates.

### Steps To Reproduce

Perf issue seen with console logs in a for loop.

### Public Sample App

_

[2022-09-15 10:16] #15994 closed

[2022-09-15 10:17] RakshaKShetty opened #16795 "[Bug]: UI issues in Audit log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- [ ] The audit log menu looks kind of hidden when we look it from general tab
- [ ] when we add resource id manually in placeholder the filtering doesnt happen until we click outside the placeholder

### Steps To Reproduce

1. Login as demo user
2. Click on members&settignd tab
3. Now verify the

[2022-09-15 10:19] Nikhil-Nandagopal commented on #16783
@Constantine9527 you can simply add some data with 50 rows and change the height of the page to match that. One of the challenges with specifying height using the dropdown is that it conflicts with the height specified via the drag and resize.
We're working on making the table height dynamic in this project #11038
Once we have that enabled, we can consider making this a property of the table

[2022-09-15 10:23] Nikhil-Nandagopal commented on #3532
@ZackKnopp @iwesselk if you specify false in the 3rd parameter of storeValue, it will not use the local storage and only store it in the state.
`{{storeValue('key', 'val', false)}}`
We do agree however that direct assignment will be a better option. Look forward to us picking this up soon!

[2022-09-15 10:40] pranavkanade opened #16796 "[Bug]-[837]:Turning off column sorting option on Table widget doesn't stop user from sorting column on client side."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It's a little confusing for our users. As I understand it, the option is used similarly to serverside pagination (it doesn't stop client-side pagination).

https://discord.com/channels/725602949748752515/1019883948270157845

### Steps To Reproduce

1. turn off the column sorting
2. click on the so

[2022-09-15 11:17] ankitakinger opened #16799 "[Bug]: Update action API is being called multiple times even when nothing has been updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I edit an application, clicking on any existing API/Query triggers the update action API on the first load. This API is also triggered when I switch tabs on the API/Query edit page. These are some unnecessary API calls that shouldn't be happening.

API - {{baseUrl}}/api/v1/actions/:actionId

[2022-09-15 11:38] Sripriya93 opened #16800 "[Bug]: Number slider - Invalid value not validated even after defining it as valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

D&D a number slider
Enter Invalid values in Min value, enter a greater number than Max value, Observe the error message in Min value
Then define a greater number than Min value in Max value, observe the error message is not disappearing. Same issues for other values, in similar behavior

https://user

[2022-09-15 11:40] Sripriya93 commented on #16784
We are able to give greater value in Default value than the Max value, No error messages displayed

![image](https://user-images.githubusercontent.com/104895602/190394448-455cd858-9cb4-4840-9a74-26deae0f4a8a.png)

[2022-09-15 11:48] dhruvikn commented on #10980
The only change needed here was to theme the Google Map Search and Zoom Controls. However, for these small changes, we'll need to create [custom controls](https://developers.google.com/maps/documentation/javascript/examples/control-custom) to change the styles, and check their compatibility with react-google-maps. Moreover, since theming Google Maps is not in our designs, I'm closing the issue.

P

[2022-09-15 11:48] #10980 closed

[2022-09-15 11:56] nidhi-nair commented on #12396
We have this available on docs.appsmith.com now.

[2022-09-15 11:56] #12396 closed

[2022-09-15 12:14] dilippitchika commented on #13682
https://www.notion.so/appsmith/Date-and-date-time-in-table-c9e292188eff4604a9f2b3c91aca1efb

[2022-09-15 12:19] ankurrsinghal commented on #16692
Please verify it here, https://appsmith-git-feat-label-auto-height-get-appsmith.vercel.app/

[2022-09-15 12:20] ankurrsinghal commented on #16327
Please see the fix here, https://appsmith-git-feat-label-auto-height-get-appsmith.vercel.app/

[2022-09-15 14:07] sumitsum opened #16804 "[Feature]: show only one error toast instead of two"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, if a query fails then two error toasts are displayed. One to show that the query has failed and the other one shows the detailed reason. This confuses the user and also makes the UI looks ugly. Ideally, we would want only one error toast to appear.
Ref: https://theappsmith.slack.com/archive

[2022-09-15 14:50] nidhi-nair commented on #15455
Closing this issue in favour of #2836

[2022-09-15 14:50] #15455 closed

[2022-09-15 15:39] #16752 closed

[2022-09-15 18:26] subrata71 opened #16808 "[Bug]-[3240]:5432 is considered the default port if port is not provided in MSSQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The default port for `MSSQL` database is `1433` but in the source code I’ve found that it’s `5432` which is the default for `Postgres`.

### Steps To Reproduce

1. Go to Datasources -> Create New
2. Choose Microsoft SQL Server as the datasource
3. Provide all the information in the datasource-crea

[2022-09-15 18:44] ChandanBalajiBP commented on #16705
This also applies to RAW format also

[2022-09-15 18:59] ChandanBalajiBP commented on #16705
Altering the `viewportMargin` param of `codemirror` component will `render` the required number of rows.
Current `viewportMargin = 10`. Implies `10 extra rows` below and above apart from the rows visible on the screen are rendered.
By setting `viewportMargin= Infinity` => this delay won't be observed but `component render will slow down` as all rows are rendered at one go=> hence not the best opti

[2022-09-16 03:22] #16738 closed

[2022-09-16 04:30] #9199 closed

[2022-09-16 04:31] dilippitchika opened #16809 "[Feature]: Add a refresh button in tables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow our devs to add a refresh button in tables to give their end users the capability to refresh the data.

### Why should this be worked on?

This helps our devs simplify the refresh experience rather than adding a new refresh button on the UI and configuring.

[2022-09-16 04:34] #6770 closed

[2022-09-16 04:42] #16570 closed

[2022-09-16 04:52] rimildeyjsr commented on #1004
This issue is closed by https://github.com/appsmithorg/appsmith/pull/14856

[2022-09-16 04:52] #1004 closed

[2022-09-16 04:53] rimildeyjsr commented on #1033
This issue is closed by https://github.com/appsmithorg/appsmith/pull/14856

[2022-09-16 04:53] #1033 closed

[2022-09-16 04:55] #4577 closed

[2022-09-16 04:56] laveena-en opened #16810 "[Bug]: UI/UX issues in connecting to Git."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The scrollbar extends over the contents of the modal.

https://user-images.githubusercontent.com/109572422/190558655-11799dea-b8f1-4fe7-930a-aeeb1d508e1f.mov

A "No" prompt option is required

https://user-images.githubusercontent.com/109572422/190558831-6b7da61f-afe9-4717-9233-5cc4453fe6bf.mov

A

[2022-09-16 05:08] sharat87 commented on #12070
Verify workflow at https://github.com/appsmithorg/appsmith/actions/workflows/helm-release.yml, and then close this.

[2022-09-16 05:14] sharat87 commented on #12201
@pquadri, can you share if you still see this problem? We've tried several times, but are unable to see this. If you see this problem, please feel free to start a conv. on Discord with you configuration to investigate. My username is same on Discord as here. Thanks!

[2022-09-16 05:23] ChandanBalajiBP opened #16811 "[Task]: Split for mysql datatypes cypress test cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Split the test cases as run time is > 6mins.

[2022-09-16 05:36] parth-appsmith commented on #14321
Feature Documentation Doc: https://www.notion.so/appsmith/Consistent-Settings-Pane-designs-for-JSEditor-API-Quer-8c0fb8102cf9454482ca21c115e155e8

Developer Handoff on zeplin: https://zpl.io/noNj8Dk

Figma Designs for API Settings: https://www.figma.com/file/GuqV8Or2PStpE3rTknsDzk/API-Pane-Improvements?node-id=1144%3A34467

Figma Designs for Query Settings: https://www.figma.com/file/Qs7p5frNx7uEf

[2022-09-16 05:42] somangshu commented on #16809
@dilippitchika We have a similar request from long before #3247

@Nikhil-Nandagopal before you were against similar behaviour (somewhat), can you please comment on the above feature as well?

[2022-09-16 05:46] rohan-arthur commented on #9618
6m firestore usage: 360

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 360 |
| Effort (months)  | <<number>> |

[2022-09-16 05:48] rohan-arthur commented on #13405
S3 6m usage: 236
Assume this affects 10% of the users: 23.6

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 24 |
| Effort (months)  | <<number>> |

[2022-09-16 05:50] rohan-arthur commented on #14977
a. 6m gsheet users: 2734
b. 3m gsheet users: 1373
(a-b): 1361

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1361 |
| Effort (months)  | <<number>> |

[2022-09-16 05:53] rohan-arthur commented on #11419
Mongo 6m usage: 1477
Consider 25% affected users: 370

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 370 |
| Effort (months)  | <<number>> |

[2022-09-16 05:56] rohan-arthur commented on #13977
mysql 6m usage: 2000
assume 20% affected users, because this is basic datasource configuration: 400

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 400 |
| Effort (months)  | <<number>> |

[2022-09-16 05:59] rohan-arthur commented on #16808
6m usage: 405
although this is a low incidence issue, we should definitely fix this as tech debt, so leaving the reach as 100%

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 405 |
| Effort (months)  | <<number>> |

[2022-09-16 06:04] rohan-arthur commented on #16767
Since there is no event raised on forking an app, I am guessing 20% users make use of this feature: 4000
Gsheets represents 20% usage among plugins, so reach: 800

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 800 |
| Effort (months)  | <<number>> |

[2022-09-16 06:08] rohan-arthur commented on #16683
Hi @aswathkk , thanks for reporting this issue! would you please explain what the expected result should be instead of:
`
{
"limit" : "4&from= 1662731501677"
`
also, are you able to make this work by using the params?

[2022-09-16 06:12] rohan-arthur commented on #16663
mongo 6m usage: 1500
we also lost about 40% of July's 1200 users by August, so this should be prioritised to make the experience better for new mongo users.

Until the last quarter, Mongo has been growing at about 50% per quarter, so expecting this issue to affect the next 750 users.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 750 |
| Effort (months)  | <<number>> |

[2022-09-16 06:18] rohan-arthur commented on #16660
@btsgh I was not able to reproduce this, the test was successful and was also able to create a query. Kindly retest and reopen if required.

[2022-09-16 06:18] #16660 closed

[2022-09-16 06:19] rohan-arthur commented on #16272
@sumitsum wasn't this fixed recently in another issue?

[2022-09-16 06:21] vuiets commented on #7213
Closing as _Real-Time Commenting_ has been sunset as part of https://github.com/appsmithorg/appsmith/issues/14173.

[2022-09-16 06:21] #7213 closed

[2022-09-16 06:21] #16331 closed

[2022-09-16 06:24] RakshaKShetty opened #16813 "[Bug]: The Data display inside the JSON is not in Correct format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The display of Data inside the JSON is messed up
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/190570486-19eee6e0-d554-4eed-93ae-ba0178889ba7.png">

### Steps To Reproduce

1. Login as demo user
2. Click on members& setting tab
3. Click on Audit logs
4. Open

[2022-09-16 06:28] IAmAnubhavSaini commented on #16813
What is the preferable format for JSON? Above is in alphabetical order.

@vuiets

[2022-09-16 06:30] ChandanBalajiBP commented on #16705
Performance with different `viewportMargin`
| viewportMargin | Attempt1 | Attempt2 | Attempt3 | Attempt4 | Attempt5 | Average |
|----------------|----------|----------|----------|----------|----------|---------|
| 10             | 160      | 164      | 137      | 130      | 162      | 151     |
| 50             | 184      | 167      | 146      | 175      | 182      | 171     |
| 100            | 1

[2022-09-16 06:32] aswathkk commented on #16683
@rohan-arthur
Here the value of `limit` parameter becomes `4&from=1662731501677`.
I wanted that value to be only `4` and it should treat the string after 4 to be the next set of parameters.
So, the entire argument should be
[code]

I was able to make this work using params since Vercel also accepts empty values like `limit=4&from=&to=`. Not sure whether all API endpoints work like this or not.

Th

[2022-09-16 06:35] subrata71 commented on #16722
A total of 80 events till now are reported. From the following reporting time, it's evident that the issue occurred in some specific time frames. I wonder if there's deployment going on at those time frames. Looks like the issue is intermittent.
| Issue reported at  |
| ------------- |
|Sep 13, 2022 10:23:15 PM UTC|
|Sep 13, 2022 10:20:31 PM UTC|
|Sep 12, 2022 10:23:30 AM UTC|
|Sep 12, 2022 10:23:

[2022-09-16 06:40] Tooluloope commented on #16753
Closed in #16782

[2022-09-16 06:40] #16753 closed

[2022-09-16 06:49] ashit-rath opened #16814 "List v2: Nested list architecture research"
Nested list is not supported in the v1 of List widget.
The goal is to support N-level nesting and any level of list widget should be able to interact with any level and the issue deals with the research needed to make this feature scalable.

[2022-09-16 06:53] btsgh commented on #15832
Following Scenarios Tested using content similar to the description in bug -
1. Single image (png) upload, Smart Substitution ON - Passes.
2. Single image (png) upload, Smart Substitution OFF - Passes.  (Note: content should be without quotes for value - eg. "data": value)
3. Single text file upload, Smart Substitution ON - Passes.
4. Single text file upload, Smart Substitution OFF - Passes.  (Not

[2022-09-16 07:00] hiteshjoshi opened #16815 "[Task | EE ] Users: Drive the User page using either of the two."
- Introduce a permission group for admins which would provide read user permissions across all the users of the tenant
- Only show the page name if admin is in the left menu → Driven by permission.

[2022-09-16 07:01] hiteshjoshi opened #16816 "[Task | EE ] Users APIs"
- [x] #16817
    - Remove the user from all groups
    - Un-assign from all roles.
    - Archive.
- [x] #16818
- [x] #16819

[2022-09-16 07:01] #16737 closed

[2022-09-16 07:03] hiteshjoshi opened #16817 "[Task | EE ] Delete User"

[2022-09-16 07:03] hiteshjoshi opened #16818 "[Task | EE ] API to view all groups a user is a part of"

[2022-09-16 07:03] hiteshjoshi opened #16819 "[Task | EE ] API to view all roles a user is assigned individually (not via groups that the user is part of)."

[2022-09-16 07:05] berzerkeer commented on #16461
Most of the work needed for this comes under https://github.com/appsmithorg/appsmith/issues/16641. Will check if more CTAs/Views needs to be enhanced.

[2022-09-16 07:07] vuiets commented on #16813
Hey, it's on the Events List doc on the PRD. We could follow the same order.

[2022-09-16 07:08] #13820 closed

[2022-09-16 07:22] samg666 commented on #7757
+1
hope to have this feature soon.

[2022-09-16 07:25] hiteshjoshi opened #16820 "RBAC documentation"

[2022-09-16 07:37] #16597 closed

[2022-09-16 07:37] Rishabh-Rathod commented on #14670
@nidhi-nair error messages will be shown for update APIs also correct? I was assuming to show the error those APIs will also need to fail, maybe the assumption was incorrect.

[2022-09-16 07:38] vuiets commented on #13071
@hiteshjoshi keeping this open, contrary to what we discussed on the planning call. This task was mainly for the BE events and there are some challenges to it. @vishnu-gp could share the challenge, there was a discussion on Slack about this.

[2022-09-16 07:44] momcilo-appsmith opened #16821 "[Bug]: Container scrollbar is sticking out of the container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I drag and drop a container widget and set it's border-radius to "L" and turn on "Scroll Contents" the scrollbar sticks out.

I expect it to be inside the container.
![Screenshot 2022-09-16 at 09 40 07](https://user-images.githubusercontent.com/81744497/190584562-4cb9a2a2-69f2-400f-84c8-50f5d

[2022-09-16 07:51] hiteshjoshi commented on #14182
@RakshaKShetty  to re-test with RBAC

[2022-09-16 07:52] #15609 closed

[2022-09-16 08:22] Rishabh-Rathod opened #16822 "[Task]: Restructuring groupButtons property value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Internal discussion - https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1663054058685329?thread_ts=1662990518.868189&cid=C02K0SZQ7V3

Use-case for binding in groupButtons
`{{ButtonGroupWidget.groupButtons.groupButton1.isVisible}}`

- [ ] Restructure groupButtons data to not have hash keys
- [ ] new

[2022-09-16 08:35] #15250 closed

[2022-09-16 08:46] vishnu-gp commented on #13071
Here's the Slack thread

https://theappsmith.slack.com/archives/C02K2MZERSL/p1655292473840249

[2022-09-16 09:39] somangshu commented on #16715
Found more information: [Smartlook](https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?player=1&session=zl6QypOLQ2&visitor=_72h5YmkmW)
User app does not crash, but the chart app look like cannot recover if a dynamic expression is used inside the chart config

Steps to repro:
1. D&D a chart widget
2. Set to custom chart
3. user mscolumn2d chart type
4

[2022-09-16 09:40] somangshu commented on #16715
De-Prioritizing to high since a lot of user are not impacted

[2022-09-16 09:48] somangshu commented on #16716
This seems like a not issue, Something to do with half baked configuration in the custom chart mode is causing this.
The issue does not break the user app or the chart widget.

Found some evidence [here](https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?player=1&section=events&session=VImYcUm2fn&visitor=t5B8ydD84r).

keeping on low priority, but sho

[2022-09-16 10:15] shadabbuchh opened #16824 "[Bug]: Updates Modal | Partial lines are displayed for some release notes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For some of the release notes where the `Read More` is not clicked, we see partial lines being displayed.

<img width="1440" alt="Screenshot 2022-09-16 at 3 40 08 PM" src="https://user-images.githubusercontent.com/39921438/190616151-bda50981-2b64-4e26-9c81-a7128e0f68d4.png">

### Steps To Reproduc

[2022-09-16 10:26] jnikhila commented on #16296
For peer and tech review raised a[ pull request](https://github.com/appsmithorg/appsmith-docs/pull/443).

[2022-09-16 10:53] jnikhila commented on #16506
@spark-c - Could you please add estimates to the ticket?

[2022-09-16 10:54] jnikhila commented on #16205
@harshilp24 - Could you please add estimates to the ticket?

[2022-09-16 10:54] jnikhila commented on #16298
@harshilp24 - Could you please add estimates to the ticket?

[2022-09-16 10:56] jnikhila commented on #11233
[Widget template](https://www.notion.so/appsmith/Widget-Doc-template-5d7fa61a2e2a4ee888487ba9b43bf487) finalized and published on the notion.

[2022-09-16 10:56] #11233 closed

[2022-09-16 10:56] sentry-io[bot] opened #16827 "ReferenceError: getData is not defined"
Sentry Issue: [APPSMITH-49V](https://sentry.io/organizations/appsmith/issues/3582104008/?referrer=github_integration)

[code]

[2022-09-16 10:57] jnikhila commented on #11205
Let's add a separate ticket for other widgets and work on them.

[2022-09-16 10:57] #11205 closed

[2022-09-16 10:58] rohitagarwal88 commented on #16827
- User application is not crashing
- Error comes from the worker thread
- Current theory getData is not defined should i ideally come in debugger instead of showing error in console

[2022-09-16 10:58] codebreach commented on #14003
any chance this is going to be fixed? it is preventing us from using AppSmith with IAM based login to Postgres

[2022-09-16 11:04] jnikhila commented on #16820
Based on the video recording for the feature walkthrough - @jnikhila and @Pranay105 are working on the initial outline.

[2022-09-16 11:13] sentry-io[bot] opened #16828 "Array.forEach"
Sentry Issue: [APPSMITH-3QR](https://sentry.io/organizations/appsmith/issues/3497102409/?referrer=github_integration)

[code]

[2022-09-16 11:14] #14182 closed

[2022-09-16 11:15] rohitagarwal88 commented on #16827
Similar cause:

- https://sentry.io/organizations/appsmith/issues/3591422378/?project=1546547&query=is%3Aunresolved&sort=freq&statsPeriod=30d
- https://sentry.io/organizations/appsmith/issues/3575974360/?project=1546547&query=is%3Aunresolved&sort=freq&statsPeriod=30d
- https://sentry.io/organizations/appsmith/issues/3591434399/?project=1546547&query=is%3Aunresolved&sort=freq&statsPeriod=30d
- http

[2022-09-16 11:19] dilippitchika opened #16829 "[Bug]: Select widgets with bindings added before v1.8 have addtional {{ }} in default values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i open a select or multi select widget and it had bindings for default values `{{ }}` then we are observing additional `{{ }}` for them.

### Steps To Reproduce

1. Open any older app which has a select or multi select widget with a binding
2. Observe how it shows the default value now
![imag

[2022-09-16 11:21] sumitsum commented on #14003
@codebreach can you please share any doc that talks `IAM` based login to Postgres ? Is this document a correct reference : https://aws.amazon.com/premiumsupport/knowledge-center/rds-postgresql-connect-using-iam/ ?

[2022-09-16 11:21] AmanAgarwal041 commented on #12842
Re-opening the issue for the design mis-match

[2022-09-16 11:25] subrata71 opened #16830 "[Task]: Apply data-type conversion logic to MySQL plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-16 11:26] sentry-io[bot] opened #16831 "ChunkLoadError: Loading chunk 13 failed."
Sentry Issue: [APPSMITH-3AY](https://sentry.io/organizations/appsmith/issues/3444217700/?referrer=github_integration)

[code]

[2022-09-16 11:28] RakshaKShetty commented on #16498
This is a performance improvement issue that cant be tested. so removing the QA label

[2022-09-16 11:37] sumitsum commented on #16742
Closed via https://github.com/appsmithorg/appsmith/issues/16752

[2022-09-16 11:37] #16742 closed

[2022-09-16 11:40] #16508 closed

[2022-09-16 12:32] Sripriya93 opened #16833 "[Feature]: Label and values in Category slider - values could be swapped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

This is just to document the suggestions:

Labels and values defined in Category slider could be swapped, as we could see that Category slider is an example of T-shirt size representation, globally we could see sizes as S,M,L which is implemented in our application as well for the font size.

![image]

[2022-09-16 12:40] Sripriya93 opened #16834 "[Feature]: Better tooltips in property pane for sliders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

At present in Sliders, we are seeing the tooltips of the properties as what the property does and not the actually function of it, for example

Step size - Present tooltip - Sets the Step size of the widget
Can be changed as - The step amount by which the slider value should increase

### Why should t

[2022-09-16 12:54] Sripriya93 opened #16835 "[Feature]: Tooltip of the hovered value and not the selected value - All Sliders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In Slider - when we hover we are able to see the value which is already selected, and not the value on which the mouse is pointing.

For Example - Say default value is 10 in number slider, and when we hover anywhere in the slider we would only be able to see the value 10, even though we have Marks ena

[2022-09-16 13:12] sbalaji1192 commented on #16829
@yatinappsmith FYI. Could you assign someone from QA ?

[2022-09-16 13:16] dilippitchika opened #16837 "[Feature]: Add an isValid property to the form widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Similar to json form add as isValid binding property to the form to let developers use it

### Why should this be worked on?

This helps developers write custom validations outside the form

[2022-09-16 14:04] yatinappsmith commented on #16829
@laveena-en can you verify this?

[2022-09-16 14:07] laveena-en commented on #16829
yes, picking this up

[2022-09-16 14:09] vishnu-gp commented on #16654
@RakshaKShetty This is completed from FE & BE

[2022-09-16 14:09] #16654 closed

[2022-09-16 14:20] #16662 closed

[2022-09-16 14:23] Sripriya93 opened #16838 "[Bug]: Negative value in Range slider - stops sliding from the negative side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

D&D a Range slider, Enter Min value as -10, Max value as 10, Step size as 1, Min range as 10, Default start value as -10, default end value as 10, When we try to slide the thumb from right to left we are able to move, but when we click on the left -10 we are not able to slide it from Left to right

!

[2022-09-16 14:28] Sripriya93 opened #16839 "[Bug]: Min range in Range slider not throwing error for entering characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

D&D a Range slider
Enter any Alphabets in Min range property
Observe No error is displayed

![image](https://user-images.githubusercontent.com/104895602/190662684-26d92375-13bb-442f-8acf-2e85cf45a328.png)

[2022-09-16 14:36] Sripriya93 opened #16840 "[Feature]: Automatic Label and value in the Marks according to given Min and Max value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we D&D a Number slider or Range slider
Enter Min value as 10 and Max value as 1000
User would be able to see overlapping of default Marks defined
It would be useful if the Marks automatically calculates the 25, 50 and 75 percentage for the given Min and Max value.

![image](https://user-images.gi

[2022-09-16 14:43] Sripriya93 opened #16841 "[Bug]: Number slider - click precision not accurate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

D&D a Number slider
Click on 25% or 75%, observe user is able to choose 24 and 76. But in case of 50 its precise

A bigger pointer might help! or a hover tooltip would help

https://user-images.githubusercontent.com/104895602/190665740-a4f2f30d-a5d6-4598-91b2-1e8e460b842f.mp4

[2022-09-16 15:14] #15832 closed

[2022-09-16 15:34] charles-bloomfield commented on #5229
Hey we have a non-menu use case for reusable widgets. We support a set of internal business entities, each of which has a common set of properties/events/interactions. We have different tooling (eg different appsmith pages) for each of these business entities, but display the common properties/events/interactions in the same way in each tool. Reusable widgets/components would make supporting these

[2022-09-16 17:30] PaulMcF1987 commented on #16604
@Nikhil-Nandagopal I have asked the same thing in the discord chat and been pointed here...

The issue I see with this is....

Adding `{{ Input1.text || "NULL" }}` might work fine with the initial entry...
However... If the entry is then to be edited, you can either fill the cell with `{{appsmith.URL.queryParams.columnA}}` or the above...

So when editing the entry, it can then lead to blank cells

[2022-09-16 17:34] spark-c opened #16844 "[Docs]: Add steps for creating Gmail App Password to SMTP datasource docs"
In order to use Gmail with the SMTP datasource, users must create an App Password with Gmail.

The necessary steps are already documented [on this page](https://docs.appsmith.com/getting-started/setup/instance-configuration/email/gmail) which is in the **Instance Configuration** section, however they should also be added to the **Datasource > SMTP** section for users to find.

Since the **SMTP** p

[2022-09-16 18:24] PaulMcF1987 commented on #16604
Also... I noticed that if a Date/Time input is left blank, that it populates the cell as `NULL` why does the date/time widget do this but the text input widget does not?

[2022-09-16 18:33] codebreach commented on #14003
We are using GCP with CloudSQL Proxy which allows us to connect to other [their recommendation](https://cloud.google.com/sql/docs/postgres/iam-logins#logging_in_with_using_the) is to just pass the name of the service account as the user and no password.

<img width="891" alt="image" src="https://user-images.githubusercontent.com/501516/190707225-d251ad11-3f74-40f5-bb33-335fe5d204c5.png">

*However

[2022-09-16 19:18] #16792 closed

[2022-09-16 20:21] ame-appsmith commented on #11281
[Another user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100166529#part_id=comment-164629100166529-16861050859) requested this feature.

[2022-09-16 20:22] ame-appsmith commented on #6766
[Another user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100166538#part_id=initial-part-164629100166538-1436014791) requested this feature.

[2022-09-16 20:24] ame-appsmith commented on #8582
[Another user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100138688#part_id=comment-164629100138688-16836267061) requested this feature.

[2022-09-16 20:27] ame-appsmith commented on #14697
[Another user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100163025#part_id=comment-164629100163025-16776293983) reported this bug.

[2022-09-16 20:29] ame-appsmith commented on #9577
[Another user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100165103#part_id=comment-164629100165103-16749455865) requested this feature.

[2022-09-16 20:32] ame-appsmith commented on #738
[This user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100162180#part_id=comment-164629100162180-16719000134) also requested this feature.

[2022-09-16 20:34] ame-appsmith commented on #8551
[This user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100160194#part_id=comment-164629100160194-16717326448) also needs this feature in their app.

[2022-09-16 20:36] ame-appsmith commented on #15639
Another [user](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100163607#part_id=initial-part-164629100163607-1422886147) reported this issue.

[2022-09-16 21:45] vmatt commented on #12362
Hey Team,
is there an ETA when this function will get implemented?

[2022-09-17 06:08] #16012 closed

[2022-09-17 06:51] #15345 closed

[2022-09-17 07:15] ashit-rath opened #16847 "Task: List v2 - Enable meta widgets API for view mode"

[2022-09-17 09:13] sumitsum commented on #14003
Thanks a lot for the info @codebreach . I am very glad that you were able to figure out a work around and connect with the DB 👍

[2022-09-17 12:26] yaldram commented on #16841
This is not an issue, when I click on 25 and 50 I am able to select the exact values most of the time. It also depends on the width of the slider the greater the width, the greater the precision but again it is a slider we can slide easily. Also we cannot predict what value a user wants to choose, say if he wants to choose 24 and not 25. I think we can close this issue.

[2022-09-17 12:27] dilippitchika commented on #16657
Closing in favor of #6452

[2022-09-17 12:27] #16657 closed

[2022-09-17 12:35] yaldram commented on #16834
Thanks for this, I have updated the `stepSize` Tooltip text it, it matches the functionality perfectly.

[2022-09-17 12:40] yaldram commented on #16840
Thanks for this suggestion, I remember Dilip discussed this with me, we can have default marks for the `min` & `max` for the slider.

[2022-09-17 12:42] yaldram commented on #16760
@Sripriya93 for issues - #16784 , #16800 we have an open issue on the fe-coders pod here - #15303

[2022-09-17 12:55] yaldram commented on #16838
This is an edge case; the internal math logic is working properly. I tried the same values on other sliders like Ant Design and Material UI there to you cannot move the first thumb by clicking but you can drag it, well that is because they don't have `minRange` you can select the same values for both the thumbs.

Regarding edge cases I have discussed this with @dilippitchika, we will let our users

[2022-09-17 13:06] yaldram commented on #16839
@Sripriya93 Please check the latest deployment here - https://appsmith-ed15kznnt-get-appsmith.vercel.app/

[2022-09-17 17:40] #11663 closed

[2022-09-17 17:40] #10695 closed

[2022-09-17 17:40] #14895 closed

[2022-09-17 17:40] #15407 closed

[2022-09-17 17:40] #16384 closed

[2022-09-17 17:40] #16427 closed

[2022-09-17 20:55] Irongade opened #16848 "[Bug]: AST logic used in the RTS folder not up to date."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The RTS APIs that exposes AST to the server are failing because code used in the RTS code has been modified due to changes in the AST logic as a result of this [PR](https://github.com/appsmithorg/appsmith/pull/16171)

### Steps To Reproduce

1. Call The endpoint `/rts-api/v1/ast/multiple-script-id

[2022-09-18 03:18] #14357 closed

[2022-09-19 04:09] prapullac commented on #16752
Verified the issue and looks good to be merged

[2022-09-19 04:10] prapullac commented on #15832
Verified the issues and looks good to be moved

[2022-09-19 05:22] arunvjn commented on #14760
indexedDB operations are slower than localStorage. Will need to do a POC to check if indexedDB ops for appsmith.store ops are better than localStorage + postMessage

[2022-09-19 05:32] #16158 closed

[2022-09-19 05:32] #16188 closed

[2022-09-19 05:32] #16288 closed

[2022-09-19 05:32] #15859 closed

[2022-09-19 06:29] #16333 closed

[2022-09-19 06:29] lgallego-nq commented on #518
Hi guys, any update about this feature. I'm really interested on it.
Thanks

[2022-09-19 06:38] ramsaptami opened #16854 "[Bug]: Selecting a table widget from snipping mode causes a theme related error for a button widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Selecting a table widget from snipping mode causes a theme related error for a button widget and this error clears out on page refresh

https://www.loom.com/share/2b591e5445f248f4aaec507d9a055264

### Steps To Reproduce

1. Run a query such that you see a table widget show up on snipping mode
2. S

[2022-09-19 06:39] sumetbua commented on #3265
We are also interested in this feature and want to use it like a google sheet

[2022-09-19 06:43] ramsaptami opened #16855 "[Feature]: Need a minimize/collapse icon for the debugger on the query editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, there's a close/collapse icon present on the debugger for the canvas and JS editor but there's no such icon present on the query editor. This needs to be added and the experience needs to be made consistent across the platform

### Why should this be worked on?

**On the cavnas**
![image](h

[2022-09-19 07:02] huaningshiji commented on #11038
@Nikhil-Nandagopal
Thank you for your reply #16783.
As you said, we can consider making this a property of the table.
I will add a property to TableWidget2 to let users choose whether to use fixed pageSize or dynamically calculate pageSize based on dragging or resizing.

[2022-09-19 07:10] ramsaptami opened #16856 "[Bug]: Evaluated value on Google sheets query page reverts to undefined after page refresh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Evaluated value on Google sheets query page reverts to undefined after page refresh

### Steps To Reproduce

1. Create a Google sheets query and enter values on JS mode fields and observe the evaluated value have been populated as expected
2. Refresh the page and revisit these field and observe th

[2022-09-19 07:24] kocharrahul7 opened #16857 "[Feature]: Showing datasources at an organisation level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Datasources are added, and edited and managed at an organisation level, not an app level. however the only way to access datasources is through an app.

This creates a gap in understanding of the level of datasources. We should create a page which allows users to access, create, edit and delete dataso

[2022-09-19 07:25] jnikhila opened #16858 "[Docs]: RBAC | Create Outline"

[2022-09-19 07:26] jnikhila opened #16859 "[Docs] : GAC | Home page"

[2022-09-19 07:26] jnikhila opened #16860 "[Docs]: GAC | create doc (sub-page) for Roles"

[2022-09-19 07:42] hiteshjoshi commented on #7224
Since we removed commenting. This is no more relevant.

[2022-09-19 07:42] #7224 closed

[2022-09-19 07:56] ramsaptami opened #16861 "[Bug]: Selected GSheets columns are cleared when toggled from non-JS to JS mode on query editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When switching field state from non-JS to JS mode on GSheets query, the selected columns are cleared. This needs to be retained as is the behaviour across the rest of the application

### Steps To Reproduce

1. Select a few columns on the column field of a Google Sheet query from the dropdown pres

[2022-09-19 08:17] subrata71 commented on #16722
Small updates on this NPE

- I’ve found a time mismatch between Sentry and Logdna
- I am following [this filter](https://github.com/appsmithorg/appsmith-ee/actions/workflows/test-build-docker-image.yml?query=branch%3Amaster) to find the correlation between the NPE event and the docker image creation time but didn’t get any insight
- If I put a breakpoint at line 900 and manipulate the part to be n

[2022-09-19 08:25] ramsaptami opened #16863 "[Bug]-[516]:GSheets query does not honor selected column filter when there's a comma present after last row on JS code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

GSheets query does not honor the selected column filter when there's a comma present after last row and executes all columns instead. If the comma should not be there then there should be a better way to handle the error rather than the current behaiour of not honoring the selected

### Steps To R

[2022-09-19 08:43] ramsaptami opened #16864 "[Bug]: Selected values on a GSheet query is stuck and unable to unselect from the UI and need to go to JS mode of the field to make any changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Selected values on a GSheet query is stuck and unable to unselect from the UI and need to go to JS mode of the field to make any changes

### Steps To Reproduce

1. Go to the query at [this](https://release.app.appsmith.com/app/megamind/theaming-and-js-objects-628bbf17460c5744a0940553/edit/saas/go

[2022-09-19 08:49] ramsaptami opened #16865 "[Bug]: Cursor position shifts to the end of the line when trying to use special characters naming any entity on the platform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When using special characters to name a query/object/widgets, there's a charecter replacement that takes place where, for example, `)` or `&` or `-` is replaced with an underscore `_` but it also causes the cursor to shift to the end of the line which is not the expected behaviour.

### Steps To R

[2022-09-19 09:13] sribalajig opened #16866 "[Feature]: Deleting a data source"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When I try to delete a datasource, there are a couple of issues -

1. After confirming that I want to delete a data source, Appsmith takes a really long time (~30s) to give me feedback that the data source cannot be deleted because there are actions that depend on it.
2. The error message does not act

[2022-09-19 09:36] shadabbuchh opened #16867 "[Bug]: Option(s) highlighted in dropdown even when selection is cleared"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Upon selecting any option in the TreeSelect, MultiSelect or MultiTreeSelect widgets using keyboard navigation and then clearing them from the widget, the last selected option remains highlighted in the widget dropdown.

https://www.loom.com/share/6e674967817c4ec68bbca9e675181d10

### Steps To Repr

[2022-09-19 09:37] ramsaptami opened #16868 "[Bug]: Column filtering does not work when there are multiple row headings on a GSheet query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Column filters can only be applied to the first row on a Google Sheet query and even though columns show up on column filter dropdown, we cannot use them since running such a query returns an error as seen in the video attached

### Steps To Reproduce

1. Use a Google Sheet containing multiple hea

[2022-09-19 09:41] sribalajig opened #16869 "[Bug]: Issues with renaming a "JS Object""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There are a couple of issues that I observed -

1. When I rename a JS Object from the explorer pane, the object does not get renamed.

3. When I rename a JS object by directly editing its name in the title, the object gets renamed, but the name in the explorer pane is still the old name until I re

[2022-09-19 09:46] btsgh commented on #16660
@rohan-arthur  - ok.. this did seem like an intermittent issue. Will keep a watch out for it.

[2022-09-19 10:02] shadabbuchh opened #16870 "[Bug]: No error thrown if the Default Value is not present in the options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

No error is thrown when a Default value is set such that it is not present in the options for a TreeSelect & MultiTreeSelect widgets.

https://www.loom.com/share/ad554e5157dc44af9a35e14fe3b42db5

### Steps To Reproduce

1. D&D a TreeSelect or MultiTreeSelect widget.
2. Set a Default Value such tha

[2022-09-19 10:20] ramsaptami opened #16873 "[Bug]: Tooltip is incorrectly displayed when workspace is being loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When Appsmith homepage is loading and user hovers over the workspace names on the left, then a tooltip shows up incorrectly

### Steps To Reproduce

1. Refresh the Appsmith homepage and hover over the 2 loading workspace names on the left panel - observe a tooltip appear as seen in the screenshot

[2022-09-19 11:02] AmanAgarwal041 opened #16875 "[Bug]: RTS build error due to import wrong exported AST function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Tsc Alias was not working as there was a wrong import of function which was exported from AST shared module which resulted in the below error

appsmith    | backend stdout | [2022-09-19 05:45:20,112]  - Bootstrapping Spring Data Reactive MongoDB repositories in DEFAULT mode.
appsmith    | backend

[2022-09-19 11:33] Nikhil-Nandagopal commented on #16604
@PaulMcF1987 I think the default value for date is undefined while it must be "" for text. So potentially passing {{undefined}} may also work

[2022-09-19 11:37] Nikhil-Nandagopal commented on #5229
@charles-bloomfield that sounds really interesting! I'm thinking about this feature and I'd love to chat with you about how we can build it to solve all your use cases. Would you be open to a 30 min conversation? You can block some time on my calendar below if you are.
https://calendly.com/appsmith-nikhil/30min?back=1&month=2022-09

[2022-09-19 11:42] Nikhil-Nandagopal commented on #16855
@ayushpahwa was this due to the recent change? I can see this is different across canvas, query, & js object. Also the tab text styles and much larger than anywhere else.

[2022-09-19 11:51] Nikhil-Nandagopal commented on #16869
@sribalajig This seems to be working. I think your JSObject is currently not being saved and that is why this failed in scenario 1. You can see the orange dot in the topbar.

[2022-09-19 11:51] #16869 closed

[2022-09-19 12:00] ramsaptami commented on #16855
Collapse option on the editor was added a few months ago but the text has change since console log changes went in @Nikhil-Nandagopal

[2022-09-19 12:23] #16829 closed

[2022-09-19 12:36] ofsantana opened #16877 "[Feature]: Integration with nocodb"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hello, can you guys add integration with nocodb (https://www.nocodb.com/)
It will be a great combination for frontend and backend open source Nocode-Lowcode apps!

### Why should this be worked on?

I think it will make an excellent combo to have a complete frontend and backend solution completely ope

[2022-09-19 12:41] rohan-arthur commented on #16176
There are two scenarios we need to address:
1. allow users to have nothing selected, after they once select something?
2. where the dropdown is bound to a variable and the variable is deleted, what should happen?

As discussed today, let's confine this issue to scenario 1. Scenario 2 will be tackled in a separate issue.

The solution should be similar to the action selector, in which I can reset m

[2022-09-19 13:04] dilippitchika commented on #12362
Hey @vmatt we are planning to pick this up soon in the next few weeks. We will keep you posted

[2022-09-19 13:06] dilippitchika commented on #16854
@ramsaptami closing this in favor of #14527

[2022-09-19 13:06] #16854 closed

[2022-09-19 13:09] dilippitchika commented on #16867
@shadabbuchh it's the keyboard focus state which you are seeing here. The highlighted/selected state in these widgets looks like this now
<img width="291" alt="Screenshot 2022-09-19 at 6 38 36 PM" src="https://user-images.githubusercontent.com/19730984/191024606-191f5c43-1121-452b-8bc8-e46e8b04196b.png">

We can persist keyboard focus state, it should be fine. Please reopen the issue if you think

[2022-09-19 13:09] #16867 closed

[2022-09-19 13:18] #16422 closed

[2022-09-19 14:01] Nikhil-Nandagopal commented on #16855
@ramsaptami but there are options and this USD to be consistent so something has broken. X, Chevron and no option. This is bad.

[2022-09-19 14:02] Nikhil-Nandagopal commented on #16877
@ofsantana thanks for the feature request! It might take us a while to get to this integration but we'll track it closely

[2022-09-19 14:04] RakshaKShetty commented on #15176
Reopening the issue because we are still facing the issue with Discard functionality
https://www.loom.com/share/9030d7f9a5bd423eb303221c89041dcf

[2022-09-19 14:08] ayushpahwa commented on #16855
Hey @Nikhil-Nandagopal , this doesn't seem to be due to my changes. I haven't touched the logic for this particular place. (For reference, [this](https://appsmith-1vq0l4zdb-get-appsmith.vercel.app/) is the first POC I built for console in June, it has the same issue as highlighted above.)

[2022-09-19 15:04] btsgh opened #16879 "[Bug]: Checkbox group widget - Red color for required remains even on disabling widget, and changes to grey on hover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When Required is enabled and if all boxes are de-selected, and user disables the checkbox group widget, the red borders on the checkboxes remain and on hovering over the checkboxes, the colors change to grey from red.

Expected behavior - The colors of the borders should also get greyed out as the

[2022-09-19 16:17] ankurrsinghal commented on #16493
Please check it here, https://github.com/appsmithorg/appsmith/pull/16880

[2022-09-19 17:57] subrata71 commented on #16722
### RCA
Parts in multipart request can appear in any order.
![Screenshot 2022-09-19 at 11 54 35 PM](https://user-images.githubusercontent.com/3524599/191082668-e714a4e3-d7f2-4aef-948d-a4038c57ebd8.png)

In order to avoid NPE original name of the parameters along with the client-side data type are set here as it's guaranteed at this point that the part having the `parameterMap` is already collected

[2022-09-19 18:27] ame-appsmith commented on #7794
This issue was [reported again on Discord](https://discord.com/channels/725602949748752515/1021418945158320138)
I was able to reproduce it in this [screen recording](https://www.loom.com/share/229edabf307140a78707126f63881437).

[2022-09-19 21:14] sumitsum opened #16882 "[Feature]: add documentation link to datasources config page as it exists in the query config page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- add documentation link to datasources config page as it exists in the query config page
- Ref: https://theappsmith.slack.com/archives/C040LHZN03V/p1663583430387659
![Screenshot 2022-09-20 at 2 41 42 AM](https://user-images.githubusercontent.com/1757421/191117499-db9e2607-fc50-48fd-a38b-1cd1cb0aad67.

[2022-09-20 02:56] tanvibhakta opened #16884 "Migrate SnippetButton"

[2022-09-20 02:58] shadabbuchh commented on #16867
@dilippitchika the issue I am talking about occurs when we clear all the selections made. I see in your screenshot that you haven't cleared out the selection. Please refer to the video attached in the Description.

[2022-09-20 03:13] ramsaptami opened #16885 "[Bug]: Clearing filter on the query editor causes suggested widget panel to collapse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clearing filter on the query editor causes suggested widget panel to collapse

### Steps To Reproduce

1. Run any query on the query editor
2. Switch between tabs on the **debugger** and observe the suggested widget panel (snipping mode feature) stays in place
3. Clear filter on the logs tab and o

[2022-09-20 04:47] RakshaKShetty commented on #13015
CRUD operations
- [ ] https://github.com/appsmithorg/TestSmith/issues/1712
- [ ] https://github.com/appsmithorg/TestSmith/issues/1713
- [ ] https://github.com/appsmithorg/TestSmith/issues/1714
- [ ] https://github.com/appsmithorg/TestSmith/issues/1715
- [ ] https://github.com/appsmithorg/TestSmith/issues/1716
Multiple permissions
- [ ] https://github.com/appsmithorg/TestSmith/issues/1718
- [ ] htt

[2022-09-20 04:47] dilippitchika commented on #16867
@shadabbuchh even after you clear, i can see that nothing is shown selected based on your video because it doesn't have accent color as the highlight, it uses a gray color instead. I don't think anything is getting selected.

[2022-09-20 04:49] dilippitchika commented on #16879
@jsartisan looks like we missed it from reskinning, can you pick this up in the current sprint?

[2022-09-20 04:53] nzidol opened #16887 "[Bug]: Mongo aggregate command doesn't parse BSON pipelines properly (variation of #6582)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Aggregate command parses the user input for pipelines and the example from #6582 now works correct. However when mixing the pipeline with some JavaScript parsing errors occur though the evaluated value shown is a correct pipeline.
![image](https://user-images.githubusercontent.com/13618973/1911692

[2022-09-20 05:01] shadabbuchh commented on #16867
@dilippitchika yes that's correct. My point is... after all the selections are cleared why do we shoe the Grey colour highlight?

[2022-09-20 05:29] dilippitchika commented on #16867
That's just the keyboard focus indicator that if you click up arrow or down arrow the starting point will be from there. It's not an indication that something is selected, it's closer to hover state.

[2022-09-20 06:36] pranavkanade opened #16889 "[Feature]: Provide an option to disable SSL for REST APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

A user wants a config that can enable/disable SSL verification on per request / per Datasource basis. We've had a couple of instances of such a feature. Postman offers it through their setting panel - https://learning.postman.com/docs/sending-requests/certificates/#troubleshooting-certificate-errors

[2022-09-20 07:04] pranavkanade commented on #7256
Another user reached out to us about this - https://discord.com/channels/725602949748752515/1021675257897168937

[2022-09-20 07:07] codefromrvk commented on #7256
It would be great if we can dynamically add widgets when looping through an array

[2022-09-20 07:09] dilippitchika commented on #15747
Additional scope after discussing with ashit and tolu
- We want to inform users that this will only work with csvs in the helper text when non-csv values are selected in the filepicker file types. So we are appending the following text in such cases - "All non csv filetypes will have an empty value."

[2022-09-20 07:09] codefromrvk commented on #13622
Add an option to list vertically or horizontally

[2022-09-20 07:14] dilippitchika commented on #15747
@Tooluloope reviewed the current message, please update to - "Large files used in widgets directly might slow down the app."

[2022-09-20 07:33] tanvibhakta opened #16892 "[Task]: Migrate the Toast component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] Decouple Redux
- [x] Decouple component dependencies
- [x] migrate styles
- [ ] profit

[2022-09-20 08:04] rahulramesha commented on #16456
@Richarex please do tag me as well in the comments going forward, completely missed this comment,

For issues number,
2. This is a complex property Pane for a widget like editing the column of table widget etc, this will be worked on in Phase 2
3. Will also be worked in Phase 2
 Will work on fixing 4 and 5.

 Not sure i understand issue number 6, could you please provide a loom video

 @akash-code

[2022-09-20 08:25] ramsaptami opened #16895 "[Feature]: JS toggle functionality on query editor should be the same as that of the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently on the property pane, when a user has code on a JS-enabled field, then they cannot switch back to using UI (toggle to non-JS mode). This change was made a few months to prevent users from accidentally switching to UI (non-JS mode) and loosing code.

This functionality needs to be extended to

[2022-09-20 08:26] utkarshDunzo opened #16896 "[Feature]: Not able to use Image()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I want to find the height and width of an uploaded image using FilePicker. For this I am using `new Image()`, but it's not working and giving error "ReferenceError: Image is not defined".

### Steps To Reproduce

`let img = new Image()`

### Public Sample App

_No response_

### Version

Self Host

[2022-09-20 08:26] bharath31 commented on #16381
Assuming 30% of JS Object users face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 900 |
| Effort (months)  | <<number>> |

[2022-09-20 08:26] sumitsum commented on #16895
Ref: https://theappsmith.slack.com/archives/C040LHZN03V/p1663660862697159

[2022-09-20 08:27] #16875 closed

[2022-09-20 08:39] prapullac commented on #13978
@sneha122 : Verified on the DP and looks good to me

[2022-09-20 08:45] ganeshkbhat opened #16897 "[Feature]: Segregate UI Application repository (Admin Builder and UI Render) from Server (Database connectors & APIs) and their relevant docker images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Segregate
[**A] UI Application repository (Admin Builder and UI Render) from
[**B] Server (Database connectors & APIs) from
[**C] CLI .sh bash scripts; and
[**D] their relevant docker images + compose files.

I could see different .sh bash scripts and compose files for the same but did not find [**E]

[2022-09-20 08:58] Tooluloope opened #16898 "[Bug]: Code mirror hint suggesting wrong types in List widget Property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a list widget which is populated with an `array` of `JSON Objects`. Each `JSON Object` has a sub-array of `JSON objects` called "Tags".
The Autocomplete identifies `Tags` as a string instead of `Array`

### Steps To Reproduce

![aasmith-array](https://user-images.githubusercontent.com/31691

[2022-09-20 09:25] sneha122 commented on #16861
As discussed here https://theappsmith.slack.com/archives/C040LHZN03V/p1663660862697159 This is an intended functionality to keep the first json object and not update it in subsequent toggles. As a result, closing this ticket.

[2022-09-20 09:26] rimildeyjsr opened #16899 "[Feature]: Provide form fields for entering API/Query params on the action selector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As of now, Users must enter JSON key-value pairs for passing params to APIs and Queries. A simple form experience would be helpful

### Why should this be worked on?

This will improve the user experience

[2022-09-20 09:27] ramsaptami opened #16900 "[Bug]: Code scanner widget does not reset its internal property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On resetting the code scanner widget, its internal property value is not reset

### Steps To Reproduce

1. Drop a code scanner widget on the canvas
2. Use a text widget to bind its internal property `CodeScanner1.value`
3. Scan a QA code and observe text widget display the stored value of the code

[2022-09-20 09:45] ramsaptami opened #16901 "[Bug]: Lint error is displayed when deleted code scanner is replaced on the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Lint error is displayed when deleted code scanner is replaced on the canvas. Refreshing the page clears this error but is persistent until user performs an action.

### Steps To Reproduce

1. Add a code scanner widget on the canvas and scan a code
2. Bind internal property `value` to a text widget

[2022-09-20 09:59] AnandiKulkarni opened #16903 "[Bug]: JSeditor : Prettify for given code is not working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For below code snippet prettify code does not work properly

Recording - https://www.loom.com/share/19017c4971a649c988c4e5fb951958f4

simplify :()=> {
		return Api2.run()
			.then(async ()=>{
			await showAlert('test1'),
				await console.log('test2'),
				await console.log('test3')})
	},
}

[Envi

[2022-09-20 10:22] marks0351 commented on #14350
have added a doc in [notion](https://www.notion.so/appsmith/Chrome-Tracer-77709365b0da404a88b08e4a0174204b) capturing the work on Chrome tracer

[2022-09-20 10:22] #14350 closed

[2022-09-20 10:49] ankurrsinghal opened #16905 "[Bug]: Checkbox longer label does not scroll when Auto Height with Limits is selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 Checkbox longer label does not scroll when Auto Height with Limits is selected

### Steps To Reproduce

1. Drag and drop a Checkbox widget.
2. Enter a longer label
3. Select Auto height with limits.
4. Observe that the widget does not scroll.

### Public Sample App

_No response_

### Version

Cl

[2022-09-20 10:51] ankurrsinghal opened #16906 "[Bug]: Input widgets longer label does not scroll when Auto Height with Limits is selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Input widgets (Input, Phone and Currency) longer label does not scroll when Auto Height with Limits is selected

### Steps To Reproduce

1. Drag and drop a Input widget.
2. Enter a longer label
3. Select Auto height with limits.
4. Observe that the widget does not scroll.

### Public Sample App

_

[2022-09-20 11:08] ankurrsinghal opened #16907 "[Bug]: Datepicker widget longer label does not scroll when Auto Height with Limits is selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Datepicker widget longer label does not scroll when Auto Height with Limits is selected

### Steps To Reproduce

Drag and drop a Input widget.
Enter a longer label
Select Auto height with limits.
Observe that the widget does not scroll.

### Public Sample App

_No response_

### Version

Cloud

[2022-09-20 11:14] keyurparalkar opened #16908 "[Bug]: QR Scanner widget does not reflect the button color for edit themes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

QR Scanner widget does not reflect the button color.

### Steps To Reproduce

1. DnD QR scanner widget.
2. Observe

### Public Sample App

_No response_

### Version

Cloud

[2022-09-20 11:50] #16908 closed

[2022-09-20 11:53] laveena-en opened #16913 "[Bug]: Multiple Save/Discard columns are being created on changing the Update Mode."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On changing the Update Mode several times, multiple Save/Discard columns are being created.

https://user-images.githubusercontent.com/109572422/191249722-f68cb96f-76ae-4ab9-a2b6-7f31acb87a15.mov

### Steps To Reproduce

1. D&D a Table widget.
2. Update all columns to be editable.
3. Change the Up

[2022-09-20 12:11] AmanAgarwal041 commented on #16397
Duplicate issue: #15644

[2022-09-20 12:11] #16397 closed

[2022-09-20 12:22] RakshaKShetty opened #16915 "[Bug]: App crashes when the user navigates to the Audit logs page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

App crashes when the user navigates to the Audit logs page
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191256117-78d9814b-b076-4be7-bf3b-58bba9cedd5c.png">

### Steps To Reproduce

1. Login as demo user
2. Click on Member&setting tab
3. click on audit logs

[2022-09-20 12:22] ramsaptami commented on #16861
This is not the intended behaviour and needs a fix

[2022-09-20 12:27] Richarex commented on #16456
@rahulramesha for issue no 6 have added the video, please go through the other issues as well.

[2022-09-20 14:04] manikumarnune123 commented on #16889
It would be good to have this feature instead of ssl check.

[2022-09-20 14:10] manikumarnune123 commented on #3636
A example for this is grafana [](https://grafana.com/tutorials/run-grafana-behind-a-proxy/). We have achieved it while building the app, we are able to run in production too in docker. But the catch is here again we need to rebuild if the sub-path is different.

[2022-09-20 14:44] ankurrsinghal commented on #16410
The issues are resolved in this PR, https://github.com/appsmithorg/appsmith/pull/16914.

[2022-09-20 14:44] #16906 closed

[2022-09-20 14:44] #16905 closed

[2022-09-20 15:26] mourantDavidSearle commented on #15531
@Nikhil-Nandagopal - I am just starting a trial of appsmith_ for our organisation and have come accross this issue immediately.  We use nothing but MS SQL named instances in our company and so not being able to connect to them halts any advancement we can make with the platform.  Please can you address this soon? I was really encouraged by this product but this is a significant issue for me :(

[2022-09-20 16:02] ramsaptami opened #16916 "[Bug]: Query call does not happen on widget action field trigger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a query is set to run on widget trigger, the query does not run as expected and subsequent widgets updates fail.

### Steps To Reproduce

1. Go to app at [this](https://release.app.appsmith.com/app/automation-test-cases/page-3-debug-632976fb9b58ed74ea6422d4/edit) location
2. Select different

[2022-09-20 16:10] samg666 opened #16917 "[Feature]: jsonform custom layout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

add feature to allow custom widget layout inside jsonform

### Why should this be worked on?

Json Form save a lot of time to build a long form, in many case for a long form, we usually need to add something like Tabs widget to better organize a long form(refer to the screenshot build by a normal form

[2022-09-20 16:47] rohan-arthur opened #16918 "[Bug]-[1150]: navigateTo() cannot pass & in url queryparams between two pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I want to pass the value `A&B Ltd` from Page1 to Page2, so that I can display the value on Page2.
Please see [this](https://app.appsmith.com/app/between-pages/page1-6329ee267f7b8d288db3707d/edit) app (shared with support email)

### Steps To Reproduce

video demo of the issue

https://user-images.

[2022-09-20 17:15] felixsuarez0727 commented on #7794
We are able to reproduce this error. I am currently determining the specific scenarios in which they occur.

[2022-09-20 17:34] btsgh opened #16919 "[Bug]: A visible visual separator should be present to distinguish between the workspace panel and the panel below it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On Logging in, on the home page, the left workspaces panel, and the section below it having "Join our discord, Documentation and Welcome Tour" should have a visible separator. At present, if there are many workspaces created, the list extends behind the section below it, and the text UI gets cutof

[2022-09-20 20:54] felixsuarez0727 commented on #7794
The problem occurs when, working in a Gsheet document, we have a column that begins with a number of data type and in that same column we have a string data type. The execution of the query to filter the data will give an error.

For example:

We start the column with a data of type number in this column the bug will appear.
![image](https://user-images.githubusercontent.com/25110207/191362024-42e

[2022-09-21 01:56] rohan-arthur commented on #16889
@manikumarnune123 thank you for this feature request. On the one hand, this can be a field exposed on the REST datasource form, which will be a design-time decision. On the other, your comment indicates that you might want a runtime configuration possible. Can you explain your use case please?

[2022-09-21 02:00] rohan-arthur commented on #16887
@nzidol thanks for reporting this bug and appreciate the detailed description. We will look into this.

[2022-09-21 04:09] sbalaji1192 opened #16924 "[Feature]: Table widget composite key property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The primary key in the property pane should be JS convertible with access to currentRow so that the user can define a composite key.

### Why should this be worked on?

It will help users who are using a composite key to uniquely identify a row

[2022-09-21 04:09] sbalaji1192 commented on #16924
CC @dilippitchika

[2022-09-21 04:32] dilippitchika commented on #16913
Closing as duplicate of #15602

[2022-09-21 04:32] #16913 closed

[2022-09-21 04:36] sribalajig opened #16925 "[Bug]: Jason array interpreted as a string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 I have a list widget which is populated with an **array of Json Objects**. Each of these Json Objects has a sub-array of Json Objects. When I try to bind my data to the list, the sub-array is interpreted as a string.

### Steps To Reproduce

1. Create a list widget
2. Create a query which returns

[2022-09-21 04:40] ashit-rath opened #16926 "[Feature]: Option to modify the order of preference for hydration of meta properties"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

When a widget is mounted for the first time, the meta properties of the widgets are hydrated using the default values of the widget.

This feature aims to modify this default behaviour of looking only into the default values. Instead the widget can provide an order of preference to the evaluation to f

[2022-09-21 05:41] sondermanish opened #16928 "[Task]: Create End to End flow to fetch environments & environment variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Create Domains/Models for environments & environment variables
- Create Services for the environments & environment variables
- Create controllers with endpoints.

[2022-09-21 05:44] bharath31 opened #16929 "[Bug]: Special characters on page names are converted to space"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to name a page with a special character like `Page1&2`, the character `&` gets converted to a space and the page name gets saved as `Page1 2`

### Steps To Reproduce

1. Go to Entity Explorer
2. Create a new page and try to name it `Page1&2`
3. View the page named as `Page1 2`

### Publ

[2022-09-21 05:49] kocharrahul7 commented on #9740
Seems to still be present

[2022-09-21 05:55] sharat87 opened #16930 "[Bug]: Test email doesn't respect TLS setting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In Admin Settings, the "Send Test Email" button doesn't send the value of whether TLS is enabled or not. The server, when sending the test email, always assumes TLS is disabled.

So, when the server doesn't expect TLS, the test email works, but actual emails from Appsmith fail.

This is a very con

[2022-09-21 06:21] jnikhila commented on #13466
@rohan-arthur - Could you please confirm the ETA for the first draft?

[2022-09-21 06:23] sbalaji1192 commented on #9403
@dilippitchika What should be the expected action here?
1. Should we remove the `underline` option in Table widget ?, or
2. Should we add the `underline` option in other widgets?

[2022-09-21 06:25] btsgh opened #16931 "[Bug]-[2120.8]:Connect PostGreSql query to a Select widget -> Default Value field is populated incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I connect a PostGreSql query to a Select widget (choosing from the Add New Widget section), the Default Value field is populated incorrectly.

### Steps To Reproduce

1. Create a connection to PostGreSql Datasource (details [here](https://www.notion.so/appsmith/Servers-and-Credentials-665f00d

[2022-09-21 06:26] dilippitchika commented on #11032
@ashit-rath to triage this today and get back if it's a good first issue

[2022-09-21 06:27] sbalaji1192 commented on #8750
@aswathkk Looks like we don't have the js options on the emphasis property. Could you confirm and close this issue?

[2022-09-21 06:30] ohansFavour commented on #16259
Relevant [doc](https://www.notion.so/appsmith/Splitting-Evaluation-and-Linting-5c5d2d9bab164f9eaa9bd4d8933a01dc)

[2022-09-21 06:32] rimildeyjsr opened #16932 "Move constant, types and utils to their own files"

[2022-09-21 06:33] rimildeyjsr commented on #16932
1. Action creator/ fields.tsx
    1. Move constants into their own file:
        1. Alert Style options
        2. Reset children options
        3. File style options
        4. Navigation target field options
        5. Regex
        6. Action type
        7. View types
        8. Field types
    2. Move these to a util file
        1. Modal setter/getter
        2. String to js
        3. JS to

[2022-09-21 06:36] sbalaji1192 commented on #8330
@dilippitchika Can you confirm whether we will create a new widget or extend the existing container widget to have this feature?

[2022-09-21 06:36] rimildeyjsr opened #16933 "Add selector, key-value, text and tab view to their own components"

[2022-09-21 06:36] dilippitchika commented on #14517
Fixed this in select family reskinning

[2022-09-21 06:36] #14517 closed

[2022-09-21 06:38] rimildeyjsr opened #16934 "Extract render field to its own component from ActionCreator/fields.tsx"

[2022-09-21 06:39] sbalaji1192 commented on #10219
@dilippitchika We need a design for this.

[2022-09-21 06:41] bharath31 commented on #16918
This also becomes a problem while passing objects with certain string values on the `navigateTo()` params. Example of an object that gets malformed:

[code]

Ideally, we should be URI Encoding all string values passed on the `navigateTo()` params object.

@satbir121 thoughts?

[2022-09-21 06:41] rimildeyjsr opened #16935 "Refactor ActionCreator/Fields component to support different types of views"
Fields components currently support one view type and have a hacky implementation of enabling the tabs view for Navigate to action.

We want to refactor the component in such a way that it is able to support different views for different actions if need be.

[2022-09-21 06:45] aswathkk commented on #8750
Closing this since we don't have JS option on Emphasis property

[2022-09-21 06:45] #8750 closed

[2022-09-21 06:49] laveena-en commented on #15542
@dilippitchika This property shows up as an emphasis component right now, so would we be requiring this toggle?

cc: @sbalaji1192

[2022-09-21 06:50] rimildeyjsr opened #16936 "Create a configuration object for all action selectors"
In the action creator folder's index. tsx and fields.tsx file, there are various places where different types of configurations are set for the actions. This makes adding/removing/modifying these actions very difficult. We want to move all these configs into a single folder, where it is easy to make changes.

A non-exhaustive list of configurations that need to be moved to one file -
1. function n

[2022-09-21 06:50] dilippitchika opened #16937 "[Feature]: Show the number of tabs on the header for list of tabs in property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When working with tabs widget and there are a lot of tabs, i want to see the number of tabs so that i know there are more tabs which can be scrolled to access

### Why should this be worked on?

Helps users not get confused with regards to the data in tabs

[2022-09-21 06:52] ashit-rath commented on #11930
@dilippitchika Need to triage for hacktoberfest
cc: @Tooluloope

[2022-09-21 06:53] dilippitchika commented on #16937
## Solution
Add the number of tabs present besides the tabs label

![image](https://user-images.githubusercontent.com/19730984/191434783-57e0b459-af15-4ce8-a0bc-ad9a0a68ff33.png)

[2022-09-21 06:53] dilippitchika commented on #11278
Fixing it for tabs in https://github.com/appsmithorg/appsmith/issues/16937

[2022-09-21 06:54] sbalaji1192 commented on #6958
@souma-ghosh Could you evaluate if this is a good first issue?

[2022-09-21 06:54] rimildeyjsr opened #16938 "ActionCreator/index.tsx refactoring"
There may be some scope to improve some of the logic this file contains, even after the config object with all the functions, fields, and configurations is created.

This is a placeholder task for any sort of housekeeping this file needs. As per my analysis, 2 places can be broken down into simpler code
1. getIntegrationOptionsWithChildren function
2. useIntegrationsOptionTree function
3. action c

[2022-09-21 06:57] Tooluloope commented on #11930
Fixed already

[2022-09-21 06:57] #11930 closed

[2022-09-21 06:58] Parthvi12 opened #16940 "[Bug]: App crashes on adding new datasource/api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On adding new datasource/api in app is crashing the app, also this is happening for other apps in the same workspace.
<img width="1440" alt="Screenshot 2022-09-21 at 12 15 52 PM" src="https://user-images.githubusercontent.com/80334441/191435508-2ddcd83e-286b-47f8-97b3-785bd53da87d.png">

### Steps

[2022-09-21 06:59] #13984 closed

[2022-09-21 06:59] dilippitchika commented on #13984
Removed the tooltips, so closing this issue

[2022-09-21 07:08] rksingh2001 commented on #16937
@dilippitchika I would like to work on this issue, please assign it to me?

[2022-09-21 07:15] subrata71 commented on #16830
This is a duplicate of this issue https://github.com/appsmithorg/appsmith/issues/16621 and hence closing this.

[2022-09-21 07:15] #16830 closed

[2022-09-21 07:20] Parthvi12 commented on #16940
This is not specific to themes, happening on all the apps in that workspace.

[2022-09-21 07:27] Moemad-711 commented on #12200
Some Enterprises are in need of an version that doesn't connect to the internet or the ability deploy the app developed by AppSmith to environments not connected to the internet.

[2022-09-21 07:32] #16685 closed

[2022-09-21 07:51] eco-monk commented on #16855
DP: https://appsmith-qy8ms7n64-get-appsmith.vercel.app/

- Added the collapse icons for query and api bottom bars.
- `X` makes more sense to me as far as debugger is concerned.
But I have changed to `arrow down` so we can review it.

cc: @RoopKrrish9696 / @aakashDesign

[2022-09-21 07:57] satbir121 commented on #16918
@rohan-arthur Query Param expects an object like `{ "foo": "Bar"}` instead of a string. Looks like its not evident enough from the UI. We need to work on discoverability.

Given that, `{"name": "B&C Ltd" }` will also not work because there is a reserve character `&` inside.

As a solution, system can loop through all the keys in query params object and encode/decode the values automatically.

[2022-09-21 07:59] satbir121 commented on #16918
@bharath31 @rohan-arthur Any ideas on discoverability of query params as object?

[2022-09-21 08:00] akash-codemonk commented on #16597
@sharat87 Sending a value with quotes to the api(v1/admin/env) is resulting in quotes getting escaped. Added some points below which describes the issue.

1)
https://user-images.githubusercontent.com/67054171/191439609-edad0640-93dd-4063-9cda-0a1a1b012e4e.mov

<img width="425" alt="none" src="https://user-images.githubusercontent.com/67054171/191439712-fe96e50e-18f0-4944-b40e-04404ee9aea0.png">

I

[2022-09-21 08:20] rohan-arthur commented on #16918
@satbir121 discussing this here: https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1663735917910319?thread_ts=1663735917.910319&cid=C02K0SZQ7V3

[2022-09-21 08:29] #16296 closed

[2022-09-21 08:30] jnikhila commented on #16296
[Published](https://docs.appsmith.com/getting-started/setup).

[2022-09-21 08:52] yaldram commented on #16257
https://www.npmjs.com/package/@react-google-maps/api

We have the above library, which is very well maintained. I think we can use the above library.

[2022-09-21 08:54] sharat87 opened #16941 "[Bug]-[5000]:Clear history on logout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Navigation history should be cleared when a user logs out of Appsmith, to prevent leaking of resource IDs and any sensitive information in URL query params.

Slack conversation: <https://theappsmith.slack.com/archives/CPG2ZTXEY/p1663750172617339>.

### Steps To Reproduce

https://user-images.githu

[2022-09-21 09:23] prapullac commented on #16868
@nidhi-nair : Completed testing on the local and looks good to me

[2022-09-21 09:27] ankurrsinghal commented on #16590
This issue has been resolved in this PR, https://github.com/appsmithorg/appsmith/pull/16943

[2022-09-21 09:38] #11887 closed

[2022-09-21 09:40] #13978 closed

[2022-09-21 09:41] #10979 closed

[2022-09-21 09:41] #16868 closed

[2022-09-21 09:44] Pranay105 commented on #13282
@sumitsum can you please confirm if solution on Stackoverflow works so that we can add it to docs?

[2022-09-21 09:49] Pranay105 commented on #15955
@dilippitchika any update on this?

[2022-09-21 09:50] Sripriya93 commented on #16590
Working fine. Moving to done.
![image](https://user-images.githubusercontent.com/104895602/191473642-525e4728-e3b1-4822-a5bf-4843df2ac8b4.png)

[2022-09-21 09:52] Pranay105 commented on #16270
@vuiets Need your help in adding this to docs.

[2022-09-21 09:54] Pranay105 commented on #16487
@ramsaptami could you please summarize the changes needed in the navigateTo docs? cc @rimildeyjsr

[2022-09-21 09:56] Pranay105 commented on #16776
@dilippitchika is this a duplicate of #15955

[2022-09-21 09:56] btsgh opened #16945 "[Bug]: Snowflake DB - data in Date / Time Format on querying, is displayed in a different number format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I run a select query on Snowflake DB to pull in data the Date and Time columns show data in incorrect format.

### Steps To Reproduce

1. Connect to the following Snowflake DB.
Account name - gv14678.central-india.azure 
Warehouse - COMPUTE_WH 
Database - NEWDBAPARNA 
Default Schema - PUBLIC

[2022-09-21 10:01] somangshu opened #16946 "Upgrade map widget library to support react 17"
map widget library react-google-maps doesn't seem to support react 17 its SearchBox widget that we use fails to render in react 17, the library last gave an update for react 16 for the [same problem](https://github.com/tomchentw/react-google-maps/pull/680). its best if we ditch this library and use a new one its 5 years old and is not active.

_Originally posted by @marks0351 in https://github.com

[2022-09-21 10:03] somangshu commented on #16946
@keyurparalkar would you be able to take this up in the current sprint?

[2022-09-21 10:04] #16223 closed

[2022-09-21 10:05] somangshu opened #16948 "Select widget deselects on clicking again"
The select widget works weird on prod as well, selecting the widget and then clicking on it sometimes deselects the widget in previous and this version of react, this is because of the combination of our keyboard navigation on the property pane that we kick off when a widget is selected vs the select widgets own keyboard navigation support. This is a hunch based on how the widget behaves but needs

[2022-09-21 10:06] #16722 closed

[2022-09-21 10:07] Sripriya93 commented on #16692
Working fine, Moving to done
![image.png](https://images.zenhubusercontent.com/627b57d87180949256bd1e01/403a089d-6cb8-4804-8957-cf73c1563d6d)

[2022-09-21 10:09] #15116 closed

[2022-09-21 10:12] somangshu commented on #16948
@Tooluloope can you check what is happening here, I believe this is happening in the edit mode.

@marks0351 can provide more context here

[2022-09-21 10:13] somangshu commented on #16257
Created new issues
- 16948 Needs more clarity, dont exactly know what is wrong right now
- 16946 Picking up right now

cc @rohitagarwal88

[2022-09-21 10:17] #11984 closed

[2022-09-21 10:17] #12151 closed

[2022-09-21 10:18] #13028 closed

[2022-09-21 10:18] #13026 closed

[2022-09-21 10:18] #11982 closed

[2022-09-21 10:18] #12842 closed

[2022-09-21 10:22] yaldram commented on #16946
https://www.npmjs.com/package/@react-google-maps/api

The above library is a fork of the original `react-google-maps`, which is very well maintained. I think we can use the above library.

[2022-09-21 10:26] somangshu commented on #8330
I dont see why we need another widget? Seems like a lot of work for the end user if they have to just add a onClick action on a pre-existing container. Open to discussion though

[2022-09-21 10:30] somangshu commented on #16743
@flying-solo please let us know here if you have an open PR which is not yet tagged. We can take it forward

[2022-09-21 10:31] somangshu commented on #10998
@dhruvikn kindly leave the discussed next steps here!

[2022-09-21 10:32] flying-solo commented on #16743
sorry for the delay i got a medical condition,  you can un assign me i would contribute later

[2022-09-21 10:38] somangshu commented on #16743
Sorry to hear that @flying-solo, Hope it better for you really soon.
Would love to see you back here for contributions 😃

[2022-09-21 10:41] sumitsum commented on #13282
@Pranay105 the StackOverflow answer points to a MySQL workbench documentation page. By reading the page, I felt like it very likely is the correct way of whitelisting users / IP, however since I have never used MySQL workbench myself, I would recommend that someone try it as well to confirm it.

[2022-09-21 10:42] ramsaptami commented on #16487
@Pranay105 Attaching a screenshot of how the navigateTo looks right now
![image](https://user-images.githubusercontent.com/79509062/191483452-60af0b4e-23a1-40ee-8e57-ef2ad5e93f09.png)

But having said that, we have a project where the action selector (the entire bit under Events on widgets) is changing so we can overhaul all of them together

[2022-09-21 10:43] sumitsum commented on #16272
@rohan-arthur it is possible that we may have regressed somewhere.

[2022-09-21 10:46] nidhi-nair commented on #16864
@ramsaptami This is likely because of #16868 itself. Coulf you please test this again once that change starts to appear on release? I don't think we'll see this anymore. Closing this issue and assigning QA label for that reason.

[2022-09-21 10:46] #16864 closed

[2022-09-21 10:52] #16108 closed

[2022-09-21 10:58] dhruvikn commented on #10998
Hey @somangshu, sure. Please find the [original comment here in the PR.](https://github.com/appsmithorg/appsmith/pull/16709#issuecomment-1246664995)

[2022-09-21 10:58] #15640 closed

[2022-09-21 11:14] yescine opened #16953 "[Feature]: Micro-frontends integration with Webpack 5 Module Federation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As some apps migrated to Micro-front ends architecture is there a way to export at runtime the whole smith-app as **Remote** component with webpack-module-federation-plugin so that we can integrate it in our existing **Host** react/vue/angular application.

For the sake of simplicity: No shared state

[2022-09-21 11:20] rohan-arthur opened #16954 "[Bug]: blank GraphQL query is getting recorded as authenticated api in events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I created a blank graphql query, and then looked in mixpanel events. This is showing as an authenticated graphql api
![Uploading Screenshot 2022-09-21 at 16.46.53.png…]()

### Steps To Reproduce

1. create a blank graphql query and run it
2. go to mixpanel, navigate to events
3. set up this filter

[2022-09-21 11:35] #16691 closed

[2022-09-21 11:38] utkarshDunzo opened #16955 "[Bug]: JSON Form Behaving Weird With Source Data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a JSON Form where I am getting source data from another page and setting the value. When I open the page it's giving error "Something went wrong", but if I open the page again then the error is gone and data is also prefilled.

### Steps To Reproduce

Refer the below video:
https://www.loom

[2022-09-21 11:44] IAmAnubhavSaini commented on #16478
numberOfDays and eventTypes are refactored.

[2022-09-21 11:44] #16478 closed

[2022-09-21 11:46] sentry-io[bot] opened #16957 "ChunkLoadError: Loading chunk 13 failed."
Sentry Issue: [APPSMITH-4FQ](https://sentry.io/organizations/appsmith/issues/3605177019/?referrer=github_integration)

[code]

[2022-09-21 11:47] #15955 closed

[2022-09-21 11:47] dilippitchika commented on #16776
Yes, closing the other one

[2022-09-21 11:48] marks0351 commented on #16948
https://www.loom.com/share/d478188c87124f02b769b806c0c546af
@Tooluloope

[2022-09-21 12:16] rohitagarwal88 commented on #16957
**Steps to reproduce:**

1. Drag a chart widget on canvas.
2. Select custom chart in property pane.
3. Add custom fusion chart with :	**"exportEnabled": "1",**
`{
  "type": "column2d",

  "dataSource": {
    "data": [
      {
        "label": "Product1",
        "value": 20000
      },
      {
        "label": "Product2",
        "value": 22000
      },
      {
        "label": "Product3",

[2022-09-21 12:21] Sripriya93 commented on #16327
Please check the loom video. We are still facing issues with the given steps.

https://images.zenhubusercontent.com/275993885/8dd18fb6-fccf-460b-af94-04acb3d59da6/untitled_application_4___editor___appsmith___21_september_2022.mp4

[2022-09-21 12:51] Sripriya93 commented on #16493
We are able to see the signifiers when we choose Auto height with limits. But we are facing other issues, raising bugs separately for them. Moving this to done.

[2022-09-21 12:52] somangshu commented on #16957
Thanks for the detailed analysis Rohit. If this is really crashing the use app, we should decide on the next steps faster

@dilippitchika this seems like a new functionality that fusion chart offers & we need to handle. Do we go that way, or think in a different direction?

cc @keyurparalkar

[2022-09-21 12:54] sneha122 commented on #16663
- I am not able to replicate 2nd case, all fields are getting populated correctly it seems
- For the first case, the template is shown when we select `Raw` option from the commands dropdown, do we need to modify that and show templates initially itself? If that is the case, how should we show the templates? @rohan-arthur @sumitsum

[2022-09-21 12:54] chandannkumar opened #16959 "[Bug]: Theme's display name is not updated for customized theme until applied explicitly on apps which are connected to git connect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.loom.com/share/b38ab434ea1f4a11989ef773e1a536d7

### Steps To Reproduce

1. Create an application and connect the application with git connect
2. Select a system theme from the list
3. Customize the selected theme and name the customized Saved theme
4. Observe on network call that disp

[2022-09-21 12:58] sumitsum commented on #16663
As mentioned by @sneha122 we need to take a re-look at how we want to design the templates experience for our users. cc: @rohan-arthur @parth-appsmith

[2022-09-21 12:59] #15747 closed

[2022-09-21 13:08] Sripriya93 opened #16960 "[Bug]: Modal widget - Auto height with limits - scroll issue 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we choose Auto height with limits and enter Max height as 30, D&D a widget inside the Modal widget, we are able to see the height is not increased but the scroll is enabled and Max height is not considered

![image](https://user-images.githubusercontent.com/104895602/191511818-872e6903-2b02-4

[2022-09-21 13:30] Sripriya93 opened #16961 "[Bug]: Modal widget - Auto height with limits - scroll issue 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we choose Auto height with limits and enter Max height as 30, D&D a widget inside the Modal widget, we are able to see the height is not increased but the scroll is enabled and Max height is not considered, When we try to toggle off the scroll contents from the property, contents inside the M

[2022-09-21 13:35] rohan-arthur opened #16962 "[Epic]: GraphQL V2"
### Objective

We shipped GraphQL V1 with #2284

With the next iteration, we are looking at the following:

- A GraphQL schema explorer like GraphiQL
This will save you hours in switching between Appsmith and another GraphQL explorer like GraphiQL, so pretty exciting as the next-big-what but we will be deliberate in baking this into the native Appsmith experience.
- Auto-complete for GraphQL schem

[2022-09-21 13:50] dilippitchika commented on #16957
@somangshu the code rohit shared is working perfectly fine for me, it doesn't crash my apps. Can you check once?

[2022-09-21 15:59] btsgh opened #16963 "[Bug]: Inserting date and time values into snowflake db by binding to date widgets, the date and times entered in the db differ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I bind the insert query values of Date and Time to Datepicker widget, and run the query, the date and time entered into the database varies from what is picked in the widget.

### Steps To Reproduce

1. Connect to the following Snowflake DB.
Account name - gv14678.central-india.azure 
Warehou

[2022-09-22 00:31] developer-honoru opened #16965 "[Feature]: I need a function that can focus on the input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I would like to be able to focus on the input whether it is javascript or an action.

### Why should this be worked on?

I want to go directly to the input window when I press the button, but I can't.

[2022-09-22 03:22] rohan-arthur opened #16966 "[Feature]: replace select component in all query forms to combo box"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In query forms, most of the select (or dropdown) components do not allow text input. Example:
![Screenshot 2022-09-22 at 08 50 36](https://user-images.githubusercontent.com/94514895/191651142-f9d4f4ec-1608-4837-9519-3416d13fa36c.png)

It would be much easier for a seasoned user to be able to use a com

[2022-09-22 03:29] rohan-arthur opened #16967 "[Bug]: Gsheets where clause: take form configuration into JS mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

https://user-images.githubusercontent.com/94514895/191651771-de046182-8c23-44e5-8651-253e783cd971.mov

in ghseets query, when I add some where clause in the form mode. I switch to the JS mode, and it would be good to see the form mode configurations in the JS mode.

### Why should this be worked on?

[2022-09-22 03:49] #14446 closed

[2022-09-22 03:49] #14447 closed

[2022-09-22 03:49] #14449 closed

[2022-09-22 03:49] #14450 closed

[2022-09-22 03:49] #15912 closed

[2022-09-22 03:49] #15745 closed

[2022-09-22 04:58] ramsaptami commented on #16864
Yep, this has been fixed it seems. Thanks @nidhi-nair!  :)

[2022-09-22 05:01] rohan-arthur opened #16968 "[Bug]: query view port gets truncated and not scrollable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. when there is a large dynamodb query that exceeds the viewport, the view is truncated.
2. it is not possible to scroll while making a text selection

### Steps To Reproduce

https://user-images.githubusercontent.com/94514895/191662238-95095736-9e58-4698-bc17-889d4f3fbfaf.mov

### Public Sample

[2022-09-22 05:18] ramsaptami opened #16969 "[Bug]-[5170]:Column dropdown on GSheets query page incorrectly opens up each time a selection is cleared"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On deselecting columns by clicking 'x' on the UI, dropdown drawer should not open as it does currently. It should rather simply remove the entry as seen on the multi-select widget.

### Steps To Reproduce

1. Enter basic details on a GSheet query and select a few columns from the column dropdown
2

[2022-09-22 05:22] bharath31 opened #16970 "[Task]: Track additional actions on JSObjects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Tracking additional actions on the JSObject page will help us measure overall engagement, take better product decisions and help in debugging issues.

Link to Specs: https://www.notion.so/appsmith/Tracking-JSObject-usage-746ad8fa321340918ae701f1dd4daa8e#bcdbd40704204cf9ab61cce344dd3f17

[2022-09-22 05:26] laveena-en commented on #7355
It's working fine on my Android device with the latest version of Edge (105.0.1343.34).
Hence, closing this issue.

[2022-09-22 05:26] #7355 closed

[2022-09-22 05:46] vishnu-gp commented on #16649
@RakshaKShetty This is available on EC2 now.

[2022-09-22 05:57] prapullac commented on #11983
@felixsuarez0727 : Can you please close the issue and then add QA tag for the same

[2022-09-22 05:58] prapullac commented on #16440
@sumitsum : completed a round of sanity on the DP and everything looks good

[2022-09-22 06:22] harshilp24 opened #16972 "Update Inline Editing Docs"
Doc - https://docs.appsmith.com/reference/widgets/table/inline-editing#how-to-edit-a-cell

Update the "How to edit a cell" section.

Add example/info that 4 column types (text, number, switch, and checkbox) support inline editing. 

[2022-09-22 06:39] #15340 closed

[2022-09-22 07:59] Debsourabh opened #16975 "[Task]: Git Repo Page UI Inconsistencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

If a user reaches 3 repo limit on Git, then we show them a the modal to either upgrade or delete an existing repo. The UI for this is not the same as the design.
<img width="1680" alt="Screen Shot 2022-09-21 at 8 36 36 AM" src="https://user-images.githubusercontent.com/34486435/191664677-54f7aeb2-f9c

[2022-09-22 08:12] rohan-arthur commented on #16969
gsheets 6m usage: 2800

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 2800 |
| Effort (months)  | <<number>> |

[2022-09-22 08:19] rohan-arthur commented on #16963
@btsgh would you please attach the property configurations of the three date-pickers?

[2022-09-22 08:30] rohan-arthur opened #16976 "[Bug]-[178]:datepicker widget superfluous error when using js timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

for a datepicker widget, I assigned the default value from a store key that computes to `1609459200000`.

--> this is correctly rendered in the canvas
--> but there is an error that the date is not in the correct format

is this error valid and necessary, if we are anyway handling the logic of con

[2022-09-22 08:31] rohan-arthur commented on #16945
hi @btsgh the date here is represented as a javascript timestamp, and can be converted easily to other formats:
![Screenshot 2022-09-22 at 13.52.35.png](https://images.zenhubusercontent.com/6196337f2def7ccca841bb55/0ad8c61e-93b0-45fc-8349-859bf01a87c3)

[2022-09-22 08:31] #16945 closed

[2022-09-22 08:43] Nikhil-Nandagopal commented on #16967
@rohan-arthur @ayushpahwa this is a bug. It should obviously not reset the value here

[2022-09-22 08:57] Nikhil-Nandagopal commented on #16953
@yescine have you tried embedding appsmith via an iFrame? You should be able to even handle communication with the parent app.

[2022-09-22 09:01] Nikhil-Nandagopal commented on #16917
@samg666 for your use case, would you prefer if we gave you a simple way to generate the UI after which you could just edit and move the form elements around?

[2022-09-22 09:05] #12642 closed

[2022-09-22 09:09] #16861 closed

[2022-09-22 09:10] ramsaptami commented on #16895
Scenario to be considered before closing the issue: #16861

[2022-09-22 09:35] souma-ghosh commented on #12638
Fixed in PR
https://github.com/appsmithorg/appsmith/pull/16904

[2022-09-22 09:35] #12638 closed

[2022-09-22 09:40] #16692 closed

[2022-09-22 09:41] ankurrsinghal commented on #16547
The issue is resolved here, https://github.com/appsmithorg/appsmith/pull/16949

[2022-09-22 09:43] #16310 closed

[2022-09-22 09:51] yescine commented on #16953
@Nikhil-Nandagopal I never tried that I use only Iframe for video!
I found it on the doc https://docs.appsmith.com/advanced-concepts/embed-appsmith-into-existing-application
But what if we want to share the auth state for app that need authenticated user ?

[2022-09-22 09:56] dilippitchika commented on #16900
@dhruvikn @chandannkumar how did this case get missed?

[2022-09-22 10:31] ankurrsinghal commented on #16411
Can you please check it here again, https://appsmith-evqqqnt7e-get-appsmith.vercel.app/.

[2022-09-22 10:45] vuiets commented on #12200
Hey @Moemad-711 thanks for dropping your use case here :)

Could you please help me understand this better?

[2022-09-22 10:46] ankitakinger commented on #14458
Re-opening for pending sub-tasks

[2022-09-22 10:57] RakshaKShetty opened #16978 "[Bug]: user name should be displayed instead of text "user " in logged out/login in event descriptor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

user name should be displayed instead of text "user " in logged out/login in event descriptor
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191729029-4f49c8bb-b1ed-4804-a19b-51efb073541d.png">
<img width="1440" alt="image" src="https://user-images.githubuser

[2022-09-22 11:00] chandannkumar commented on #16900
@dilippitchika This is a clear miss from my end.
Since code scanner auto close and updates values on every new scan and i didn't thought of resetting value a use case.

[2022-09-22 11:03] RakshaKShetty opened #16979 "[Bug]: In Page view event the data for "Mode" is missing in JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Mode data is missing in Page Viewed event
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191730105-730ee3d1-5d14-4deb-bacb-c63cf7ec8550.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191730187-5e88804f-96b5-4ebe-aa

[2022-09-22 11:08] hetunandu opened #16980 "[Bug]: Importing app via JSON fails when connecting Datasources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using json option to import apps fails and crashes Appsmith. This happens after connecting to datasource modal is shown

### Steps To Reproduce

1. Import App with datasources via json
2. See crash

### Public Sample App

_No response_

### Version

Release

[2022-09-22 11:08] RakshaKShetty opened #16981 "[Bug]: In Datasource Create event the data for "Datasource type" is missing in JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Datasource type is missing in create datasource event
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191730920-2a75176e-1ad9-4bc6-a89a-6be9adf597a8.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191730983-98304cc8-

[2022-09-22 11:12] RakshaKShetty opened #16982 "[Bug]: The Instance setting update event is not displayed when user filter the event from event filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The instance setting event filter doesnt work
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191731787-a922cc8a-bd24-4697-bd19-c50293811667.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191731823-cd9035b3-60a4-422

[2022-09-22 11:15] #15843 closed

[2022-09-22 12:09] RakshaKShetty opened #16984 "[Bug]: In datasource event the application section is missing in JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The application section is missing in the data source event
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191741639-895de76d-c965-422b-8b75-18e9d819bee8.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191741709-00b

[2022-09-22 12:11] RakshaKShetty commented on #15698
When the user signup The sign-in event is tracked which seems like not required. There should be only one event i.e Signup event

[2022-09-22 12:15] RakshaKShetty opened #16985 "[Bug]: The event dropdown is displayed with event name that are not being tracked currently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The event dropdown is displayed with event name that are not being tracked currently
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191743804-801a509e-bc7f-4b45-9326-1177a44dc985.png">

### Steps To Reproduce

1. Login as demo user
2. Click on member & settin

[2022-09-22 12:20] RakshaKShetty opened #16986 "[Bug]: The workspace name is missing in user Invite event"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The workspace name is missing in user Invite event
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/191744958-582dce19-5512-4760-a0f7-4ca970d0bb50.png">

### Steps To Reproduce

1. Login as demo user
2. Click on member & setting menu
3. Click on audit log menu

[2022-09-22 12:21] akash-codemonk opened #16987 "[Bug]: single quotes being escaped in env variables"
@sharat87 Sending a value with quotes to the api(v1/admin/env) is resulting in quotes getting escaped. Added some points below which describes the issue.

1)
https://user-images.githubusercontent.com/67054171/191439609-edad0640-93dd-4063-9cda-0a1a1b012e4e.mov

<img width="425" alt="none" src="https://user-images.githubusercontent.com/67054171/191439712-fe96e50e-18f0-4944-b40e-04404ee9aea0.png">

I

[2022-09-22 12:36] maiconramos commented on #4404
+1

[2022-09-22 13:31] chandannkumar commented on #15171
Tested this and LGTM
- Tested the distance of Submit/reset button from bottom and right is same
- Tested the position of Button end and inputs end is same
- Tested the migration with older apps and observe no breakage
- Tested with CRUD apps
- Regression on JSON Form

[2022-09-22 13:43] vishnu-gp commented on #16984
@RakshaKShetty Datasources are created at workspace level and we don't have the data of from which application the datasource was created/updated/deleted in current analytics and thus moving this to the product backlog to take up in the next iteration.

[2022-09-22 13:44] vishnu-gp commented on #15698
@RakshaKShetty Similar to system generated event and it will be handled in the next iteration.

[2022-09-22 13:48] vishnu-gp commented on #16986
@RakshaKShetty We don't have workspace details in analytics and the whole logic might change post-RBAC. Decided to do the changes after that. cc @vuiets
Meanwhile, @IAmAnubhavSaini can you remove the workspace mention from the description text until this is ready?

[2022-09-22 13:52] Sripriya93 commented on #16547
@riodeuno @ankurrsinghal Earlier when validated we saw the same as when we click on Auto height or Auto height with limits, we are seeing the Overflow text property fully disappears as before. (Please check below)
![image.png](https://images.zenhubusercontent.com/627b57d87180949256bd1e01/9b0946a2-9603-401e-9bbc-4c02a9816317)
I assume what @riodeuno is mentioning is, the option, the value becomes n

[2022-09-22 13:55] IAmAnubhavSaini commented on #16986
How is RBAC connected to this? At the time of invite, you'd have workspace details. How else are you going to invite users otherwise?

------

I can remove workspace bit for now, but without that this log/record is not that useful.

[2022-09-22 13:56] rohan-arthur commented on #16767
This needs to be done for hubspot and graphql as well

[2022-09-22 14:02] vishnu-gp commented on #16986
CE BE analytics doesn't include workspace details for this event. At some point, we decided not to put more effort into collecting more data at least for v1. Also, @vuiets mentioned with RBAC invite logic might change so we parked this removed workspace details from the JSON in Notion.

[2022-09-22 14:11] Sripriya93 commented on #16411
When Auto height or Auto height with limits is enabled, Overflow text option is hidden. Moving to done.

[2022-09-22 14:19] Sripriya93 commented on #16547
Moving to done with reference to the comment given in PR https://github.com/appsmithorg/appsmith/pull/16949

[2022-09-22 14:32] vishnu-gp commented on #16985
@RakshaKShetty This is done. Please test in EC2

[2022-09-22 14:32] #16985 closed

[2022-09-22 14:33] vuiets commented on #14175
Hey @developer-honoru this is on our radar and I was wondering if I could talk to you and get your use case down in detail so we factor it in when we build it out. If you are keen on talking to us, could you pick a time that works best for you on my calendar? Here's the link to it :) - 📆 https://calendly.com/appsmith-vishak/conversations

[2022-09-22 14:36] vishnu-gp commented on #16981
@RakshaKShetty Done and deployed to EC2. Please retest with fresh events

[2022-09-22 14:36] #16981 closed

[2022-09-22 14:38] vuiets commented on #16986
So with RBAC we'll have 2 more flows come in, making it 3 in total
* Invite to workspace
* Invite to instance with roles
* Invite to group in an instance

So the context JSON has to change to reflect the right info so told @vishnu-gp we'll pick this up then. But @vishnu-gp we could do this as a fast follow and add workspace details for this if we have more important things to focus on and don't ha

[2022-09-22 14:38] vishnu-gp commented on #16649
@RakshaKShetty All application object will have visibility now.

[2022-09-22 14:38] #16649 closed

[2022-09-22 14:38] Sripriya93 opened #16992 "[Bug]: Text widget - Overflow options still works in Auto height - even though Option is hidden in property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we D&D a Text widget and choose Scroll contents or Truncate text, and choose Auto height in Height property, we are still able to see scroll contents and Truncate text works.

https://user-images.githubusercontent.com/104895602/191777233-94f674ea-aa68-40cf-8614-b3896ae0643c.mp4

### Steps To

[2022-09-22 14:42] vishnu-gp commented on #16986
@vuiets We don't have that data coming in from analytics. I'd prefer to do it post-release merge at least.

[2022-09-22 15:56] #3349 closed

[2022-09-22 17:09] vj-codes commented on #9731
@cokoghenun heyyo can I work on this?

[2022-09-22 17:18] dilippitchika commented on #16955
@utkarshDunzo we need some help in debugging this, will you be open for a call next week or give us a sample app export where we can reproduce this?

Here's a calendly link if you are ok with a call - https://calendly.com/dilip_pitchika/30min

[2022-09-22 17:44] subrata71 opened #16994 "[Task]: Refactor common data type handling logic w.r.t. the newer structure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

_No response_

[2022-09-22 17:56] ame-appsmith commented on #11259
Another user reported this issue here: https://community.appsmith.com/t/using-an-array-in-query/1346/8

[2022-09-22 19:00] #14954 closed

[2022-09-22 19:00] #15064 closed

[2022-09-22 21:41] albinAppsmith opened #16997 "[Bug]: Design system dropdown fixes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. For single select dropdown keyboard navigation does not work if not option is selected.
2. For single select dropdown if an option is already selected and the we try to press the up/down arrow keys, the selected option disappears and we cannot navigate further.
3. For multi select dropdown clic

[2022-09-23 00:20] TannerW commented on #2404
Any update on this? Really exciting feature!

[2022-09-23 02:52] Maduranga commented on #10073
Any update on this?
Have you guys figured out a way to call a Lambda function URL with cURL?
Is `--aws-sigv4` working for you?
Cheers.

[2022-09-23 03:17] rohan-arthur opened #16998 "[Feature]: better errors for graphql cursor pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

this is a potential ux problem that users might run into while setting up cursor pagination. Because we are auto-filling next page’s limit variable value, the user may forget to fill the left side of the expression, i.e., limit variable name
In this screenshot, I see the error message in the response

[2022-09-23 04:57] #16630 closed

[2022-09-23 05:06] akash-codemonk opened #17002 "[Bug]: Forking a template into an existing app which is connected to git makes the application go into a bad state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/67054171/191893840-a48f385c-a859-4ef8-a4c3-a2b6384463dd.mov

Public app: https://release.app.appsmith.com/app/untitled-application-2/page1-632d3b6688c13228e9a61fa8?branch=master

https://release.app.appsmith.com/api/v1/actions?pageId=632d3c4388c13228e9a620

[2022-09-23 05:14] Tooluloope opened #17003 "[Bug]: Select widget crashes when searching using a Numeric Label value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I have numeric values for label in Select widget and search, the widget crashes

### Steps To Reproduce

https://user-images.githubusercontent.com/31691737/191895870-0e5ae6f4-e3f7-4330-b6ad-1d0d153e7c27.mov

### Public Sample App

_No response_

### Version

Cloud

[2022-09-23 05:16] #16274 closed

[2022-09-23 05:16] #16697 closed

[2022-09-23 05:39] shadabbuchh opened #17004 "[Bug]: Issues in App Font dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Below are issues in the `App Font` dropdown in Property Pane:

1. The dropdown does not highlight the selected option.
2. When we click on the dropdown, it overlaps with the property and the whole Font section

https://www.loom.com/share/36b886c8a9994897bd58a73f20511b2b

### Steps To Reproduce

1.

[2022-09-23 05:45] shadabbuchh opened #17005 "[Bug]: Git Merge modal dropdown issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the Git > Merge tab when the dropdown is disabled, we are still able to see the hand icon which indicates that the dropdown is clickable (when actually it is disabled).

https://www.loom.com/share/ba4aa74d9e9749d9b728e52076bdf74b

### Steps To Reproduce

1. Go to any application that is connect

[2022-09-23 05:57] Sripriya93 commented on #15064
JS toggle is removed in Progress and No of steps, Marking as verified
![image](https://user-images.githubusercontent.com/104895602/191899813-4d562dcf-2b99-4d27-b203-56ef00ae0ecd.png)

[2022-09-23 06:01] mohanarpit commented on #17002
@akash-codemonk Is this an intermittent issue or 100% reproducible for you?

[2022-09-23 06:01] akash-codemonk commented on #17002
It is 100% reproducible.

[2022-09-23 06:09] vuiets commented on #14175
We had another request for this from a prospect yesterday, they had a single app synced across staging, demo and production instances using git. The apps on the instances default to main branch always, instead they wanted it default to the environment branch here. They have a small dev team of about 9 doing a hundred different things and they automate things to stay agile. This hindrance was slowi

[2022-09-23 06:14] IAmAnubhavSaini commented on #16982
This is fixed. @RakshaKShetty please check on DP.

[2022-09-23 06:14] #16982 closed

[2022-09-23 06:15] IAmAnubhavSaini commented on #16979
This is conveyed by the event. `page.viewed` for example.

[2022-09-23 06:15] #16979 closed

[2022-09-23 06:26] #16814 closed

[2022-09-23 06:26] chandannkumar commented on #10977
Tested this and LGTM
- Tested the presence of default border color and width on adding new form
- Tested adding form on container type widgets
- Tested on edit and deploy mode

[2022-09-23 06:26] ashit-rath opened #17007 "List v2 POC: Nested list architecture implementation"
Nested list is not supported in the v1 of List widget.
The goal is to support N-level nesting and any level of list widget should be able to interact with any level and the issue deals with the implementation part of it.

[2022-09-23 06:27] pratapaprasanna opened #17008 "[Task]: Investigate supervisor-stdout installation from git"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

This is a technical debt that has been there for quite some time now.

It is better to install `supervisor-stdout ` in the [Dockerfile](https://github.com/appsmithorg/appsmith/blob/release/Dockerfile) from pip than to install from git.

[2022-09-23 06:30] Sripriya93 commented on #14954
JS toggle option is removed in the Date picker, First day of the week property, Marking as verified

![image](https://user-images.githubusercontent.com/104895602/191903642-416ba9d1-7a5e-4f45-bf0e-6d93b4828605.png)

[2022-09-23 06:42] laveena-en commented on #16879
Tested and verified.

[2022-09-23 06:46] chandannkumar commented on #10986
Tested this and LGTM
- Observed consistency in toolbar color
- Observed focus in border of RTE on hover

[2022-09-23 07:07] Sripriya93 commented on #16274
Have verified all the widgets collapsing other properties. Marking as verified.

[2022-09-23 07:10] Sripriya93 commented on #16697
Working fine. Marking as verified, checked for Menu, Button group and Modal widget
![image](https://user-images.githubusercontent.com/104895602/191908586-7092ff6e-bcc8-4109-9633-1920183dea7a.png)

[2022-09-23 07:14] ramsaptami opened #17009 "[Bug]: Evaluated value and slash command dropdown get trimmed off on the property pane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On any events field of the property pane, switch to JS mode and observe the evaluated value and slash command dropdown get trimmed as seen in the screenshot

### Steps To Reproduce

1. Drop any widget with an event field on to the canvas
2. Switch to JS mode and observe the evaluated value and the

[2022-09-23 07:17] andrewdietekoki opened #17010 "Responsive Widgets"
Creating Responsive Widgets that will automatically resize of different screen without breaking the app layout.

[2022-09-23 07:20] andrewdietekoki opened #17011 "Responsive Widgets"
Creating Responsive Widgets that will automatically resize of different screen without breaking the app layout.

[2022-09-23 07:24] #17011 closed

[2022-09-23 07:35] ramsaptami opened #17012 "[Bug]: Property pane does not consistently scroll when cursor control moves to the next line"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Property pane does not consistently scroll when cursor control moves to the next line

### Steps To Reproduce

1. Drag and drop a widget (audio, button, checkbox etc..)
2. Navigate to the bottom-most field and switch to JS mode and start typing and moving a new line as seen in the video and notice

[2022-09-23 07:35] Nikhil-Nandagopal commented on #2404
Unfortunately not. We have a backlog of plugins that we haven't been able to get to lately. We're working on creating bandwidth to pick these up!

[2022-09-23 07:50] #16440 closed

[2022-09-23 08:11] Sripriya93 commented on #16792
As per discussion with @ayushpahwa, Marking as QA verified.

[2022-09-23 08:36] btsgh commented on #16963
@rohan-arthur - Does this help?
<img width="281" alt="DatePicker3" src="https://user-images.githubusercontent.com/101863839/191908637-e80d036c-f101-4203-961b-f822153d9d1e.png">
<img width="289" alt="DatePicker2" src="https://user-images.githubusercontent.com/101863839/191908640-02b58240-3e18-4f1f-99e8-4fc7cc4e1b8a.png">
<img width="280" alt="DatePicker1" src="https://user-images.githubusercontent.

[2022-09-23 08:47] nidhi-nair opened #17015 "[Task]: Create performance benchmarks for onpage load logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Create tests for this flow
- Integrate with CI, ignore these tests for now
- Test against older and newer way of this flow

[2022-09-23 08:56] shadabbuchh commented on #16691
This is working fine in Release.
<img width="1920" alt="Screenshot 2022-09-23 at 2 25 11 PM" src="https://user-images.githubusercontent.com/39921438/191925834-b6035632-46c9-401c-9ff8-c3487746d026.png">

[2022-09-23 09:36] souma-ghosh opened #17018 "[Feature]: Validation for BUTTON_TABS control type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

BUTTON_TABS control type can be used in property control such as font-style.
Example:
BOLD, ITALIC
UNDERLINE,BOLD

Currently we don't have a validation for the allowed input types. Any string with the word 'bold' or 'italic' or both in it can activate the property.

Steps to reproduce:

1. Drag and dr

[2022-09-23 09:41] #2906 closed

[2022-09-23 09:45] Nikhil-Nandagopal commented on #16953
@yescine you can share it with the iFrame query parameters or wait for the new postMessage implementation that will make this possible

[2022-09-23 09:45] #16953 closed

[2022-09-23 09:48] cokoghenun opened #17019 "[Feature]: Auto Convert JSON To DynamoDBJSON When Querying DynamoDB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today it's impossible to build real apps with DynamoDB on Appsmith because users have to supply their typed JSON which can be painful to do. We can solve this on the platform and make querying easier. More details are in the video below:

https://user-images.githubusercontent.com/17744578/191934753-03

[2022-09-23 09:54] sumitsum opened #17020 "[Bug]: GraphQL not working proplery with export / import / fork / git sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Ref: https://theappsmith.slack.com/archives/C040LHZN03V/p1663852465423809

### Steps To Reproduce

https://theappsmith.slack.com/archives/C040LHZN03V/p1663852465423809

### Public Sample App

_No response_

### Version

cloud

[2022-09-23 09:54] sumitsum commented on #16767
Tracking the GraphQL issue here: https://github.com/appsmithorg/appsmith/issues/17020

[2022-09-23 09:59] sumitsum commented on #17019
Update:
Here the use case is `update, delete, put, and batch write item actions`
Ref: https://theappsmith.slack.com/archives/CGBPVEJ5C/p1663601609306799

[2022-09-23 10:02] shadabbuchh commented on #16108
The above issue is working fine on release.
https://www.loom.com/share/9f0fe7db66c64608a55d792551b64219

[2022-09-23 10:07] vuiets commented on #16986
Sounds good @vishnu-gp, we could do it post the release merge.

[2022-09-23 10:14] shadabbuchh opened #17022 "[Bug]: On clicking URL in Table widget user gets redirected to wrong page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the URL type column of a table widget if the computed value entered does not contain `https://` in the URL, user gets redirected to the wrong page.
https://www.loom.com/share/72837a116161473887c0533173b0feee

### Steps To Reproduce

1. D&D a table widget.
2. Change the type of any column to URL

[2022-09-23 10:22] aswathkk commented on #17004
The second issue happens only on devices with low resolution or if you reduce the browser window size.
This happens since there is no space for the dropdown on those scenarios.

[2022-09-23 10:34] IAmAnubhavSaini commented on #16978
This is fixed.

[2022-09-23 10:34] #16978 closed

[2022-09-23 10:34] akash-codemonk opened #17023 "[Bug]: Templates which have hidden pages crashes the app when forked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://user-images.githubusercontent.com/67054171/191939917-e26ab120-3c6f-472e-8bd5-d6250f14cec5.mov

When we click on `ADD PAGES` we call `api/v1/app-templates/621c6c6589659f362e07f7b3/merge/632d846bff5c311c00c83fd9/632d7205ff5c311c00c83e06` POST with payload as an array of the page names select

[2022-09-23 10:34] IAmAnubhavSaini commented on #16813
This is done.

[2022-09-23 10:34] #16813 closed

[2022-09-23 10:42] IAmAnubhavSaini commented on #16986
This is fixed for now; with no workspace information.

[2022-09-23 10:45] IAmAnubhavSaini commented on #16915
@RakshaKShetty Please open if this is still reproducible.

---

Please provide relevant API data.

[2022-09-23 10:45] #16915 closed

[2022-09-23 10:46] vuiets opened #17024 "[Epic]: Self Serve 1.0"
### Objective

To introduce a smooth, simple self-serve buying experience for **Business Edition**

### Prioritised User Stories

| User Story    |
| ------------- |
| When I am in the Community self-hosted edition and looking for an upgrade, I’d like an easy and simple way to move to the self-hosted Business edition, so my team can avail the features in the paid version of Appsmith  |
| When I am

[2022-09-23 11:15] vuiets commented on #16820
Recording a few key focus areas for the docs
* Listing instance users
* Creating custom groups and inviting users
* Creating custom roles and associating it with users or groups
* Permissions listing with description of what each permission lets you do

[2022-09-23 11:32] IAmAnubhavSaini commented on #16795
What do you mean?

[2022-09-23 11:33] IAmAnubhavSaini commented on #16795
This was decided to be onBlur earlier. We might implement a GO button.

[2022-09-23 11:34] IAmAnubhavSaini commented on #16775
This is fixed.

[2022-09-23 11:34] #16775 closed

[2022-09-23 11:35] IAmAnubhavSaini commented on #16714
This is fixed.

[2022-09-23 11:35] #16714 closed

[2022-09-23 11:39] IAmAnubhavSaini commented on #16706
The list of emails is going up due to low vertical height of the viewport; that pushes the container upwards.

The email will be truncated due to width of the container.

@vuiets @Debsourabh Need you input.

[2022-09-23 11:40] IAmAnubhavSaini commented on #16655
This has been fixed. @RakshaKShetty please retest and reopen if not fixed.

[2022-09-23 11:40] #16655 closed

[2022-09-23 11:41] IAmAnubhavSaini commented on #16479
This is done for utils and most of the logic. UI one will be done after cypress tests.

[2022-09-23 11:41] #16479 closed

[2022-09-23 12:19] sondermanish opened #17027 "[Bug]: Smart Substitution parses formatted string texts incorrectly."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When a query with smart substitution turned on is sent for execution with a binding of nature `"sometext{{bindedVariable}}"`, it evaluates to "sometext"<value>"" and hence throws error.
I.e: `var a = "world"` and the query looks like `"Hello {{a}}"` it evaluates to `"Hello "World""` and the query

[2022-09-23 12:20] rohan-arthur commented on #16808
@vaibh1297 please also document the hard-coded port values for various plugins in notion or ghseets etc. This will help us understand the extent of the problem.

[2022-09-23 12:46] btsgh opened #17028 "[Feature]: Apache Cassandra datasource support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Appsmith should look to provide support for Cassandra datasource

### Why should this be worked on?

Given the current usage and popularity of this datasource it would be good for appsmith to have an option for the users to connect to this datasource.
Refer article-
1. https://techcrunch.com/sponsor/d

[2022-09-23 13:24] Sripriya93 commented on #16753
@dilippitchika, Please let me know more about the issue on steps to reproduce and which widgets to check. Have checked figma as well.

[2022-09-23 13:27] Tooluloope commented on #16753
@Sripriya93
Do check FilePicker widget, when the Data Format is Array(CSV), you'd see the helperText

For more info https://github.com/appsmithorg/appsmith/issues/15747

[2022-09-23 13:29] ame-appsmith commented on #16837
This was also requested by a [user on Discord](https://discord.com/channels/725602949748752515/1020222550988566558).

[2022-09-23 13:31] ame-appsmith commented on #4874
This feature was requested by these users: [#1](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100163304#part_id=comment-164629100163304-16684073507) ; [#2](https://app.intercom.com/a/apps/y10e7138/inbox/inbox/conversation/164629100163321#part_id=comment-164629100163321-16939229476)

[2022-09-23 13:35] ame-appsmith commented on #5415
[Another user on Discord](https://discord.com/channels/725602949748752515/1022133601900445786) requested this feature.

[2022-09-23 18:29] sentry-io[bot] opened #17030 "Bug: ConcurrentModificationException when removing elements from the array during iteration"
Sentry Issue: [APPSMITH-26D](https://sentry.io/organizations/appsmith/issues/3125277425/?referrer=github_integration)

[code]

[2022-09-23 20:16] bberenberg commented on #3920
Another +1 to this. Building out a custom Datasource from an internally deployed commercial product datasource would be much simpler with support for this.

[2022-09-23 20:53] jonnysamps opened #17033 "[Feature]: Granular Git assets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today if we have more than one collaborator on a page, merging is an absolute nightmare.  All of the widget config for a page is represented in one single giant JSON blob in `canvas.json` this makes it very hard to make isolated changes.

I'd propose breaking down the git representation into smaller J

[2022-09-23 23:02] Uphorium commented on #8780
+1 It has some great uses.

[2022-09-24 20:06] cokoghenun commented on #9731
@vj-codes Sure! Go for it!

[2022-09-25 01:36] IAmAnubhavSaini commented on #14175
Not only that we might need to provide a functionality to hide specific branches in different environments/instances.

In the example above, it wouldn't make sense to let prod-branch be accessible in demo instance.

[2022-09-26 04:15] Rishabh-Rathod opened #17037 "[Task]: Add performance test for complex application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Current performance tests are run on applications with few entities and worker time is not measured. To understand the degradation in performance for evaluation we will need to create test applications with more entities.

- [ ] Add metrics for worker time ( createFirstTree, updateDataTree )
- [ ] Ad

[2022-09-26 04:19] #16884 closed

[2022-09-26 04:35] #16932 closed

[2022-09-26 04:58] #13077 closed

[2022-09-26 04:58] #13080 closed

[2022-09-26 05:10] Richarex commented on #15879
1. On selecting filters in template modal, closing it and again opening the modal, shows count of the filters although no filters are selected this is working fine verified it on release.
2. On adding new page Page2, the start from template and generate crud card disappears from Page1, ideally until any page level action is performed we should show the cards this is fixed verified it on release.
3

[2022-09-26 05:16] ChandanBalajiBP opened #17039 "[Task]: POC on implementation AST based entity refactor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- Explore AST codebase - both rts and ast shared folder.
- Understand the workflow
- Understand how AST is built.
- Understand how strings are processed in the current implementation.
- List possible solutions and discuss the implementation.
- POC on chosen implementation.
-Breakdown of tasks and est

[2022-09-26 05:17] bharath31 opened #17040 "[Bug]-[Infinity]:Incorrect usage of storeValue does not throw a linting error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I try to use `storeValue()` without setting the required parameter `value`, I see no linting error. Allowing `storeValue('key')` for example leads to storing keys with undefined values.

Here's the error thrown when you try to use vanilla JS `setItem('key')`

[code]

### Steps To Reproduce

1

[2022-09-26 05:19] vuiets commented on #15698
@vishnu-gp we have to track every instance to cover as part of the clean up, either on a Notion doc or on here.

[2022-09-26 05:21] bharath31 commented on #17040
Assuming 50% of JS Editor users face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 1500 |
| Effort (months)  | <<number>> |

[2022-09-26 05:22] vuiets commented on #16706
@Debsourabh what do we have in the Design System for such scenarios?

[2022-09-26 05:26] rohan-arthur opened #17042 "[Bug]: custom number column - cannot reduce column width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I have a custom column, column type `Number`. It is ridiculously wide at first, but when I try to reduce the width, I cannot see the column header and column values anymore.
At some widths, I can see the column header but not the values, and at some, I can see neither - this is despite the fact th

[2022-09-26 05:29] IAmAnubhavSaini commented on #16614
This is fixed. Wait for latest DP to test.

[2022-09-26 05:29] #16614 closed

[2022-09-26 05:32] RakshaKShetty commented on #16605
@AnaghHegde , @vishnu-gp reopening the issue this is happening again
when the new user signs up we are seeing this anonymous text under user column

[2022-09-26 05:41] sondermanish commented on #16154
PR #16634 is merged

[2022-09-26 05:41] #16154 closed

[2022-09-26 05:53] dilippitchika commented on #17042
Duplicate of https://github.com/appsmithorg/appsmith/issues/15843 , should be fixed in the next release

[2022-09-26 05:53] #17042 closed

[2022-09-26 05:57] dilippitchika commented on #16900
@dhruvikn please pick this up in the next sprint

[2022-09-26 06:00] dilippitchika commented on #12531
@somangshu why is this moved to needs prd, it's a bug right? Is there something which we need a prd for here?

[2022-09-26 06:08] shadabbuchh opened #17043 "[Bug]: Styling issues in List widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Couple of issues wrt to widget styling in the List widget:

1. Box Shadow changes do not reflect on the widget.
2. On changing the `App Border Radius` the radii of the widget, list items inside the widget & the image in the list items change however the same behaviour does not happen when we chang

[2022-09-26 06:31] Parthvi12 commented on #16481
Not able to verify this issue, because steps to reproduce are not clear.

[2022-09-26 06:32] shadabbuchh opened #17044 "[Bug]: Deleting all the data in Property Pane does not remove all the list items in List widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We are able to see one List item even when we delete all the data in the Property Pane.

https://www.loom.com/share/6691d9eaba9f439a9bd2353168d6944e

### Steps To Reproduce

1. D&D a List widget.
2. Clear all the dummy data from the Property Pane.

### Public Sample App

_No response_

### Version

[2022-09-26 06:47] JhouXerox opened #17045 "[Feature]: Post file directly from frontend while using File Picker Widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Post file directly from frontend while using File Picker Widget,without pass it to backend,and let backend execute.

### Why should this be worked on?

We've a solution that backend side will sign a token to frontend when any user want to upload something, but the token is only 60 seconds, after that,

[2022-09-26 06:56] prapullac commented on #11880
@sondermanish : Completed testing on DP and works well

[2022-09-26 07:07] #16205 closed

[2022-09-26 07:12] subrata71 commented on #11880
Hi @prapullac
Would you mind adding a `Test Plan Approved` label then?

[2022-09-26 07:21] ChandanBalajiBP opened #17047 "[Epic]: AST based entity refactor"
### Objective

We simply use the AST logic to identify variables as it is today, we’ll still be using String replacement on the field that has been identified to have a global reference. This is not going to be accurate, even if it might solve 90% of use cases. Consider the following example:
[code]

A possible solution is to rely on the entirety of the Abstract Syntax Tree for in-place replacemen

[2022-09-26 07:24] Nikhil-Nandagopal commented on #17033
Hi @jonnysamps , this is an interesting use case. We generally see collaborators working across different pages instead of on a single page. I'd love to learn more about how you'll are using Appsmith internally. If you'd be interested in a chat, you can block some time on my calendar below.
https://calendly.com/appsmith-nikhil/30min?back=1&month=2022-09

[2022-09-26 07:29] souma-ghosh commented on #15448
No, we need to work on this separately @dilippitchika

[2022-09-26 07:56] keyurparalkar opened #17048 "[Bug]: fetch custom theme API returns no response for git connected apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we delete the custom theme/selectedTheme of an app then the fetch custom theme API returns no response for the git connect app.

Here is the loom video that demonstrates this issue:
https://www.loom.com/share/7a3ad8f0aca443bb80e9baa76a7f20e4

**NOTE**:

- In the above app, the selectedTheme/c

[2022-09-26 08:05] keyurparalkar commented on #16412
@somangshu so here is the context of the solution:

- Whenever we get no response from the server for the API that fetches the selected theme
- Then we fetch all the system themes and apply the default/Modern theme to the application

[2022-09-26 08:34] RoopKrrish9696 commented on #16855
There are many inconsistencies wrt how the debugger or the response pane should behave. In many cases some interactions relate to the debugger and response pane, also some don't. Here in this [notion ](https://www.notion.so/appsmith/Debugger-interactions-fd5ce1a9ac9142a9ac09dd30bb8d2c44)doc, I've specified how different the interactions of debugger and response panes today in the appsmith.

**The

[2022-09-26 08:42] laveena-en opened #17050 "[Bug]: Tabs widget - UnCaughtPromiseRejection is thrown on setting the onTabSelected to navigateTo a window or URL."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

An UnCaughtPromiseRejection is thrown on setting the onTabSelected to navigateTo a window or URL.

PS. Issue is occurring with the menu widget as well

https://user-images.githubusercontent.com/109572422/192230817-e5ff6d76-1cc7-4ca6-86f4-d89cea22924c.mov

### Steps To Reproduce

1. D&D a Tab widge

[2022-09-26 08:43] souma-ghosh commented on #16250
This issue should get resolved when this PR (https://github.com/appsmithorg/appsmith/pull/16733) gets merged. This PR has been raised for the issue(https://github.com/appsmithorg/appsmith/issues/14953) linked above itself.

[2022-09-26 09:24] Nikhil-Nandagopal commented on #17040
@bharath31 in this case, this is valid because not passing the last argument would default to undefined and storing undefined is valid. Rather than a linting error, it should succeed

[2022-09-26 09:25] Nikhil-Nandagopal commented on #17028
Duplicate of #4063

[2022-09-26 09:25] #17028 closed

[2022-09-26 09:30] btsgh opened #17051 "[Bug]: Audio Recorder widget - Clear Interval throws error, though it does clear the interval correctly."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I connect a SetInterval and ClearInterval action to the Audio Recorder widget onRecordingStart and onRecordingComplete respectively, I see an error pop up on the onRecordingComplete action.

### Steps To Reproduce

1. Drag and drop an Audio Recorder widget
2. Create a MySQL DB query (Query1)

[2022-09-26 09:32] Nikhil-Nandagopal commented on #16931
@kocharrahul7 it seems the suggested widgets logic has broken

[2022-09-26 09:33] Nikhil-Nandagopal commented on #16929
This is by design because special characters are invalid in variable names

[2022-09-26 09:33] #16929 closed

[2022-09-26 09:36] #2890 closed

[2022-09-26 09:38] somangshu commented on #16412
@trishaanand here is the context you were looking for, Please let us know if you'd like to have a chat around this

[2022-09-26 09:40] Nikhil-Nandagopal commented on #16897
@ganeshkbhat this is our code contribution guide
https://github.com/appsmithorg/appsmith/blob/release/contributions/CodeContributionsGuidelines.md
Is there a particular issue you need help with? We believe in having a single mono repo as the best way to maintain this project so I'm closing this issue

[2022-09-26 09:40] #16897 closed

[2022-09-26 09:46] Nikhil-Nandagopal commented on #16683
This seems related to #14706

[2022-09-26 09:48] Nikhil-Nandagopal commented on #16767
@rohan-arthur we definitely have events for forking an app

[2022-09-26 09:49] ayushpahwa commented on #16721
Attaching the [smartlook](https://app.smartlook.com/org/9b6c5c859e85745d01196fa4/project/e373e3a21d27278fd281d8b0/recordings?filter=4dcb8034873b25b4d28bd3b05de52996b626d39a09e98396833e29f33fc22ce4&player=1&session=Tu-Epbj3mk&visitor=XM_bAVqFBI) video fo the incident. The API for delete failed/ took a long time and the delete button got reset to original state. Post that the API kept sending 404 wh

[2022-09-26 09:57] sumitsum commented on #15531
@mourantDavidSearle very sorry that we couldn't fix this issue earlier. We will be prioritizing it and likely fixing it within the next 2 weeks.

[2022-09-26 09:58] Nikhil-Nandagopal commented on #10055
@rvkayy ys this should be working

[2022-09-26 10:00] prapullac opened #17053 "[Bug]: Intermittent : Git issue : Error is displayed on switching between page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user navigates to the branch and moves between the pages an error is displayed to the user
![Screenshot 2022-09-26 at 3 26 58 PM](https://user-images.githubusercontent.com/71753653/192248359-dc5b0a23-d537-45cd-8b7c-725f6eac4f36.png)

### Steps To Reproduce

1) Navigate to the application

[2022-09-26 10:01] danciaclara commented on #14093
@Pranay105 Can we think of documenting this for cases where it works? As the feature is two months away, we can give our users some workaround in the meantime. Also the multiple environments feature will be business edition, so the workaround would continue to be helpful for our community users. @AnaghHegde what's your suggestion. cc: @jnikhila

[2022-09-26 10:04] rohan-arthur commented on #14666
@sneha122 I agree with @btsgh's comment, in such cases, we should simply not show the `Table` format.
- we should not be doing magic with the response from the service
- assumption is that the user should still be able to format the response on their own for any further processing

[2022-09-26 10:07] Nikhil-Nandagopal commented on #16635
@bharath31 @ohansFavour can we get this fixed? The download function has been broken forever

[2022-09-26 10:08] rohan-arthur commented on #11419
@sumitsum what's going on with [this](https://app.zenhub.com/workspaces/data-integration-pod-6322a759b3296d249ce5c4ed/issues/appsmithorg/appsmith/12241) PR? Do we only need to add a test case? If yes, maybe this will be a quick change?

[2022-09-26 10:10] somangshu commented on #12531
The issue got reopened, I believe its going against some initial requirement hence wanted you to confirm once.
We removed it from the sprint for the same reason, @Tooluloope was not sure how to proceed here

[2022-09-26 10:11] Nikhil-Nandagopal commented on #16551
@PaulMcF1987 I don't see a video attached. Could you please re-upload it?

[2022-09-26 10:11] danciaclara commented on #16048
Looks like we have added this section already - https://docs.appsmith.com/reference/widgets/dropdown-1#server-side-filtering

We can also link the Sample App @jnikhila @Pranay105

[2022-09-26 10:13] PaulMcF1987 commented on #16551
@Nikhil-Nandagopal The issue seems to have disappeared since the last update

[2022-09-26 10:13] ankurrsinghal commented on #16992
The issue has been resolved here, https://github.com/appsmithorg/appsmith/pull/17054

[2022-09-26 10:14] Nikhil-Nandagopal opened #17055 "[Bug]: The action selector for setInterval is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The action selector for set interval asks the user to write the callback instead of letting them select it from a dropdown like we do everywhere else
if you enter showAlert in the callback, the action selector gets broken

### Steps To Reproduce

1. Drag a button
2. Configure setInterval on Click

[2022-09-26 10:16] somangshu commented on #8330
Understood, I think if the button is getting clicked we should only fine the button onClick event, The onus would be on the user. We will only follow the basic event bubbling principles

[2022-09-26 10:17] Nikhil-Nandagopal commented on #17051
@btsgh I think there's a space when you're setting the timer name in the video. Can you double check that?

[2022-09-26 10:18] #16551 closed

[2022-09-26 10:19] ankurrsinghal opened #17056 "[Bug]: Create a new control to group the min and max auto height with limits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, there is no option to create 2 different controls which are dependent on each other. For example, when we have min greater than max it throws an error, but if we update the max to be more than min, the error is still there because there is no way to update the min control form the max c

[2022-09-26 10:20] #16075 closed

[2022-09-26 10:23] dilippitchika commented on #12531
Ok, i will work on it

[2022-09-26 10:23] somangshu commented on #16957
same here @dilippitchika

@rohitagarwal88 can you please share the app?

[2022-09-26 10:27] yatinappsmith opened #17057 "Internal App for TeamDB"

[2022-09-26 10:27] #17057 closed

[2022-09-26 10:45] sumitsum commented on #11419
@rohan-arthur the PR also has a comment for making certain changes to the code, which has not been done yet. So basically two things pending - (1) code change requested via comments (2) JUnit TC.

[2022-09-26 10:52] ChandanBalajiBP opened #17058 "[Task]: Additional test cases of datatype handling in MySQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

As implementation of data type handling in MySQL is about to complete. The specific cases which were handled in this [PR](https://github.com/appsmithorg/appsmith/pull/17017) should be updated in the test suite.

For example

- Ability to identify {{”null”}} as String data type.
- Ability to identify

[2022-09-26 10:55] ramsaptami opened #17059 "[Bug]-[0]:Autocomplete does not suggest same function name that belongs to a different object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

If there's a function of the same name in different objects then autocomplete does not show the function name as it incorrectly identifies it as a self-reference

### Steps To Reproduce

1. Drop 3 JS objects `JSObject1`, `JSObject2`, `JSObject3` and don't modify the structure of any of the objects

[2022-09-26 10:58] bharath31 commented on #16635
This is a bug and 100% of users using the download action on the button widget would face this issue.

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 295 |
| Effort (months)  | <<number>> |

[2022-09-26 11:08] ChandanBalajiBP commented on #16811
Update queries are not necessary for datatype handling. Discussion [link](https://www.notion.so/appsmith/Weekly-Sync-08-89ab78ad19264f95912bc7c0854e2cfc).

[2022-09-26 11:20] sneha122 commented on #16967
As discussed here https://theappsmith.slack.com/archives/C040LHZN03V/p1663660862697159 This is an intended functionality to keep the first json object and not update it in subsequent toggles. Please refer #16895 for more details.

[2022-09-26 11:22] Nikhil-Nandagopal commented on #16967
@sneha122 just to chime in and be a bit more specific while it was intentional, it was a mistake that we deviated from the original design pattern in the property pane and we should fix this.

[2022-09-26 11:24] Richarex opened #17061 "[Bug]: Getting "Resource not found" error on release app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When user tries to edit the 'Release App' which is regression_sept_26 app "Resource not found" error is displayed on the screen.

### Steps To Reproduce

1. Go to this url:- https://release.app.appsmith.com/applications
2. Click on Edit button on 'regression_sep_26' app
3. Observe the error on the

[2022-09-26 11:25] sneha122 commented on #16967
Yes that's correct, we have a feature ticket created for this #16895

[2022-09-26 11:27] sneha122 commented on #16895
Please refer #16967

[2022-09-26 11:39] bharath31 commented on #15056
@amexcompliance thanks for flagging this! we're discussing potential solutions to address this issue. I'll have more updates for you by Thursday.

[2022-09-26 11:57] kamakshibhat-appsmith opened #17062 "[Bug]:[CodeScanner] Download is not getting triggered for the binding {{CodeScanner.Value}}"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Expected Behaviour :  Download should be triggered on onCodeDetected with the following JS {{download(CodeScanner1.value,'download','text/csv')}}

Current Behaviour: Download is not getting triggered

https://user-images.githubusercontent.com/113327629/192270238-2c4f97bf-9780-47fe-a96b-a2f4ec4d360

[2022-09-26 12:12] btsgh opened #17063 "[Bug]: Number and Range slider - Min Value field - Default value not set."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I drag and drop the Range Slider, the default value is not set for Min Value field

### Steps To Reproduce

1. Drag and drop the Range and Number Slider widgets
2. In the Property pane, not that the Min Value field is blank (though evaluated value shows as 0)

Expected behavior - it should be

[2022-09-26 12:17] ramsaptami opened #17064 "[Bug]: Using filter condition on table widget when present on a blank page, resets table to the first page but fails to fetch any results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using filter condition on table widget when present on a blank page, resets table to the first page but fails to fetch any results

### Steps To Reproduce

1. Populate some data on a table widget
2. Navigate to a page such that it's an empty page as seen in the video
3. Use a filter condition and

[2022-09-26 12:43] AnandiKulkarni opened #17065 "[Bug]: While adding new JSobject error is displayed - 'JSobject1 already exist'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Created new app and try to add new JSobject >> Error is displayed that 'JSobject1 already exist'

Expected: Error should displayed when there is already a JSboject1 available while editing the JSboject name.
While creating, there should not be any error and it should create the JSobj appending num

[2022-09-26 12:52] RakshaKShetty opened #17066 "[Bug]: File system error is displayed when we import the git connected apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

File system error is displayed when we import the git-connected apps
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45958978/192281342-95e1c140-9264-4db1-8bbe-6eb325a2c70c.png">

### Steps To Reproduce

1. Create a new workspace
2. Open the git select any one app
3. I

[2022-09-26 13:13] acron0 commented on #10486
This is a deal breaker for us, unfortunately. Any ideas when it might come around?

[2022-09-26 13:17] ame-appsmith opened #17068 "[Feature]: Increase proxy_read_timeout Or Configure It From the UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

For APIs running more than 10 seconds, the execution fails. The fix for this is to increase the  proxy_read_timeout in the /api location in the sites-enabled/default file.
However, users need a solution where they do not have to override the entire Nginx config because the setting will not persist if

[2022-09-26 13:28] VividhPandey003 commented on #12286
Hello Sir, I am a beginner looking forward to contribute to appsmith.
Could you please explain what tech stack is required and where can I find the code in the repository where I need to fix it.

[2022-09-26 13:30] sneha122 opened #17069 "[Bug]: For Rest API Plugin, key values not getting populated correctly on reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we create a new rest api, initially we have two pairs of key value fields empty, so if we enter key values in second pair keeping first pair blank and reload the page, key values entered in second pair are not getting populated correctly.

### Steps To Reproduce

- Create new API
- Enter key

[2022-09-26 13:31] Sripriya93 opened #17070 "[Bug]: Select Widget - Dropdown - cuts when placed at a particular position in the canvas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we place the Select widget in a particular position, the dropdown options cut off at the top and not able to scroll as well

![image](https://user-images.githubusercontent.com/104895602/192288203-20d9777d-032c-44c4-8789-6d5387aadec6.png)

### Steps To Reproduce

1. D&D a Select widget
2. Add

[2022-09-26 13:33] Richarex opened #17071 "[Bug]: "Internal server error while processing request" error is displayed while forking any template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the user tries to fork any template then '''Internal server error while processing request" error is displayed on the screen.

### Steps To Reproduce

1. Go to this url:- https://release.app.appsmith.com/applications
2. Click on the "Templates" button at the top
3. Now on templates page selec

[2022-09-26 13:58] akash-codemonk commented on #17071
Closing. This seems to have been a temp issue. It is working now.

[2022-09-26 13:58] #17071 closed

[2022-09-26 14:14] subrata71 opened #17072 "[Bug]-[Infinity]:Appsmith treats a string as a number when the string is a numeric value with leading zero(s)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This one comes from this [post](https://community.appsmith.com/t/adding-a-string-that-is-a-number-with-a-leading-zero/180)

User's complain:

https://community.appsmith.com/t/adding-a-string-that-is-a-number-with-a-leading-zero/180/12

### Steps To Reproduce

1. Let's have a table named x where co

[2022-09-26 14:17] billyrudi commented on #7757
Hi, can ypu prioritize this feature?

[2022-09-26 14:17] ame-appsmith commented on #15056
Another user reported this issue on our [forum](https://community.appsmith.com/t/data-propery-of-a-js-object-function-is-not-updated-after-execution/1449).

[2022-09-26 14:27] jonnysamps commented on #17033
Hi @Nikhil-Nandagopal I scheduled some time today. Looking forward to it.

[2022-09-26 14:32] somangshu commented on #10486
Hey @acron0, The dependency on this have been cleared, but we still havent prioritized this.

While I talk about this internally, can you explain your use case, Maybe we can suggest some workaround.

cc @dilippitchika

[2022-09-26 15:08] #17066 closed

[2022-09-26 15:12] rohan-arthur commented on #5090
confirming as per [this](https://theappsmith.slack.com/archives/C0341RERY4R/p1664171653882169?thread_ts=1664170583.260689&cid=C0341RERY4R) slack conversation and forum [this](https://community.appsmith.com/t/possible-to-get-the-computed-value-of-currentrow/1458/4) question, that referencing a custom column within itself also doesn't work - Please consider including this in the scope, or create a n

[2022-09-26 15:51] dilippitchika commented on #17070
@Sripriya93 this issue is similar to #16169, closing this and will solve it there

[2022-09-26 15:51] #17070 closed

[2022-09-26 15:56] Nikhil-Nandagopal commented on #17065
@AnandiKulkarni it seems to be working for me

[2022-09-26 16:14] btsgh commented on #17051
I do not see this issue in Audio widget.

[2022-09-26 16:38] nicolas-cyfix opened #17075 "[Feature]: grpc support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I have some backend services that are accessible only by gRPC. I was wondering if it would be complicated to have such integration? (I saw that reTool supports gRPC also ;-) )

### Why should this be worked on?

In my opinion, gRPC is more and more used (for example kubernetes begins to support native

[2022-09-26 17:31] Nikhil-Nandagopal commented on #17033
@hiteshjoshi @vuiets this was an interesting call. We realized that real-time collaboration was not useful here because they want to maintain their developer workflow across branches. We also figured that the real problem was with the canvas json which could get quite large and nested. Normalizing the JSON was one solution we thought could help resolve merge conflicts faster and avoid them altoget

[2022-09-26 17:50] TannerW commented on #2404
@Nikhil-Nandagopal Understood! Thank you for the response and the hard work!

[2022-09-26 18:30] yaldram commented on #17063
We have updated the `Slider widget defaults`, the min value should start from 0. So in the code I have passed `0` & not `1`, I have updated the Notion Document.

In the property pane though we don't actually see the `0` value we only see the `placeholder` as 0, I think this is a bug in the property pane input.  I will check this with the team and raise a bug.

[2022-09-26 19:33] charles-bloomfield commented on #3532
additional use case described here https://discord.com/channels/725602949748752515/1022536980166361149/1022536980166361149

[2022-09-26 19:52] mourantDavidSearle commented on #15531
Thanks @sumitsum - I managed to get my own workaround by hardcoding the port used by the MS SQL named instance.  This at least meant I was able to begin bring data back. Look forward to trying the enhancement in a couple of weeks!

[2022-09-26 20:55] AS-Laguna opened #17076 "[Feature]: Make image metadata available from image widget"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a user I should be able to access the properties of an image such as it's width and height. We should add a new property to the image widget like `Image.metadata` that contains the data of the current image.

### Why should this be worked on?

A user needs to send the image height and width to thei

[2022-09-26 21:43] mjpsr11 commented on #17076
Since 'document' is not available in a JS object, this information is unavailable. Normally, image properties can be retrieved simply from the dom after creating an img element.

The Image widget already renders an image from a url, so properties should be readily available.

This feature is greatly needed to optimize performance for image intensive apps. A good example is Next JS and the Image ta

[2022-09-27 02:15] sh-TU opened #17077 "[Feature]: Appsmith image's Ubuntu is running 20.04, needs to be upgraded to 22.04"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Nginx and redis version are not supported anymore. Please consider updating it.

[code]

### Why should this be worked on?

unsupported/end-of-life versions won't receive security patches anymore and the risk is high running it.

[2022-09-27 02:25] rohan-arthur commented on #17075
@nicolas-cyfix thank you for submitting this requirement. Now gRPC integration would be powerful indeed!

We will look into it, but since we have a few higher priority items on the roadmap, this may be a few months in coming.

[2022-09-27 04:33] AnandiKulkarni commented on #17065
@Nikhil-Nandagopal its still reproducible at my end.

[2022-09-27 05:13] btsgh commented on #17063
@yaldram - ok.
Yes in the property pane, only placeholder is seen. This needs to be fixed, because, if I enter some value in the min value text box, and then delete it, it gives an error that the value cannot be empty. This gives a wrong impression to the user.

[2022-09-27 05:20] prapullac commented on #11880
@subrata71 : I have added it in the PR

[2022-09-27 05:20] ginilpg commented on #15744
![image](https://user-images.githubusercontent.com/8299030/192438639-3e30f3b5-716d-4dc4-9167-565456d31a66.png)

[2022-09-27 05:21] ginilpg commented on #15744
![image](https://user-images.githubusercontent.com/8299030/192438744-00028f37-ffc2-486f-bb4c-aea92030b591.png)

[2022-09-27 05:25] rohan-arthur opened #17078 "[Feature]: GraphQL - Improve discoverability of query variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

when I am working with the body of a graphql query, I see the evaluated value window. This unfortunately hides the nice query variables window.
See [this](https://dovetailapp.com/data/Gabe-dibbs-com-39ZObMQwu4MHrvuZMWq5Rg) recording from 14:00 onwards.

### Why should this be worked on?

using query v

[2022-09-27 05:27] IAmAnubhavSaini commented on #17061
@Richarex could you give me access for the app

[2022-09-27 05:35] #16412 closed

[2022-09-27 05:48] aswathkk opened #17079 "[Bug]: Content in property pane gets trimmed for certain widgets."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Some content in the bottom of the property pane gets trimmed

![Screenshot 2022-09-27 at 11 13 10 AM](https://user-images.githubusercontent.com/10436935/192443159-45d2dc7b-8585-44e3-b487-e8e5f7f8f159.png)

### Steps To Reproduce

1. Add a tab widget
2. Enable JS mode for onTabSelected
3. Click on

[2022-09-27 05:54] aswathkk commented on #17079
![Screenshot 2022-09-27 at 11 23 10 AM](https://user-images.githubusercontent.com/10436935/192443982-4b40f0be-1f36-4287-84ce-6bf7dcdae6f4.png)
Also, the evaluated value popup is getting hidden.

[2022-09-27 06:10] Richarex commented on #17061
@IAmAnubhavSaini can see you as the administrator while sharing the app with you.

[2022-09-27 06:15] AnaghHegde commented on #17061
@Richarex Do you remember the actions you performed on the app before the app ended up in this state?

[2022-09-27 06:37] pranavkanade commented on #13405
@sumitsum, is there a workaround for this issue?

[2022-09-27 06:51] yaldram opened #17080 "[Bug]: Property Pane INPUT_TEXT if passed 0 as the default value for a widget property does not show the value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- For the `Number & Range` slider widgets, the `Min. Value` property uses the `INPUT_TEXT` control.
- When we pass the value `0` as the default value it does not show up in the `INPUT_TEXT` control instead we only see a placeholder.

### Steps To Reproduce

1. Drag and Drop the `Number / Range Sli

[2022-09-27 06:52] yaldram commented on #17063
I have created an issue for the property pane input not showing `0` here - https://github.com/appsmithorg/appsmith/issues/17080

[2022-09-27 07:02] bharath31 commented on #16168
Looks like we're not observing changes in the window URL. Assuming 100% of users who update a widget property containing `URL.hash` would face this issue

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 15 |
| Effort (months)  | <<number>> |

[2022-09-27 07:11] billyrudi commented on #16259
im interesting in this. i have the same slows pro
blems!

[2022-09-27 07:21] sumitsum commented on #13405
@pranavkanade creating a new datasource should have the button enabled.

[2022-09-27 07:23] samg666 commented on #16259
I have the same issue. The page loading takes about 8 seconds even without any queries run on pageLoad.

![iShot_2022-09-26_15 37 53](https://user-images.githubusercontent.com/29649651/192460549-69c90fc3-8d17-4429-b0e1-0eb87640afa9.gif)

[2022-09-27 07:34] sneha122 commented on #16966
@rohan-arthur  @sumitsum In all query forms, I have found following dropdown/select without search input box, Do we need to allow all of these dropdown/select to have text input?
- [ ] Google Sheets Plugin
    - [ ] Operation
    - [ ] Entity
    - [ ] Filter format
    - [ ] Sort by (Ascending/Descending)
- [ ] REST API Plugin
    - [ ] Type Dropdown <- Multipart form data <- Body <- Create new A

[2022-09-27 07:39] bharath31 commented on #16381
@Rishabh-Rathod wouid #16823 fix this issue?

[2022-09-27 07:42] sneha122 commented on #14666
Got it, so it makes sense to remove the table tab if the response is not in the format which table expects, right? @rohan-arthur

[2022-09-27 08:11] AmanAgarwal041 opened #17086 "[Bug]: Graphql API run button every time clicked, triggers next page if cursor pagination is configured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When the graphql api is set up with cursor-based pagination, each time the run button is pressed, the next page loads.

### Steps To Reproduce

1. Create Graphql API
2. Add a query with cursor based pagination
3. Click run button multiple times
4. Each time run button is pressed, the next page of

[2022-09-27 08:19] bharath31 opened #17087 "[Feature]: Autocomplete hints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Autocomplete should show parameter hints and additional information about a method. This should show up while calling internal and custom methods. Hints for internal methods can also include a documentation link.

Here's how VSCode does it:

**Quick info before selecting autocomplete result**
![quick

[2022-09-27 08:22] chandannkumar commented on #10999
Tested this and LGTM

[2022-09-27 08:25] chandannkumar commented on #10993
Tested this on all container type widgets and LGTM

[2022-09-27 08:30] bharath31 commented on #17040
@Nikhil-Nandagopal yes- this is a programmatically correct usage but users could end up introducing accidental bugs by not passing required parameters for methods.

eg: `storeValue('key')` and `navigateTo('pageName')` would work without the required parameters `value` and `target` respectively but the code would not result into any useful action here.

Linting errors or [Autocomplete hints](https:

[2022-09-27 08:52] rohan-arthur commented on #3478
@Pjirlip there are a couple of ways you can trigger emails, either with the SMTP plugin, or even with Twilio if you like. Closing the issue now, please re-open if your requirement is not met.

[2022-09-27 08:52] #3478 closed

[2022-09-27 09:11] vuiets opened #17088 "[Feature]: Date range filter for Audit Logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

With audit logs, let users filter through the logs with a custom date range filter where they may define a start date and end date. This is to help them manage the following scenerios with ease
* Debugging failing app actions for a customer-facing agent
* Looking at a trace of user activity for incide

[2022-09-27 09:36] laveena-en commented on #3180
Tested and verified.

[2022-09-27 09:37] laveena-en commented on #10982
Tested and verified.

[2022-09-27 09:40] #17050 closed

[2022-09-27 09:44] Nikhil-Nandagopal opened #17089 "[Docs]: Add FAQ related to HIPAA Compliance"
<p>User wanted to know if Appsmith is HIPAA compliant. </p>
<p>https://app.intercom.com/a/apps/y10e7138/inbox/inbox/all/conversations/164629100080096</p>

[2022-09-27 09:54] bharath31 opened #17090 "[Feature]: View dependencies for all entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As applications grow and become more complex, users would want to view an entity's dependencies before modifying its properties.

eg:
- before deleting a text widget, users would want to see references to the text widget across queries and data sources.
- before modifying a query, users would want to

[2022-09-27 09:58] bharath31 commented on #7981
@zzgvh thanks for sharing this. Instead of automatically changing references, a more appropriate solution would be to let users track usage and dependencies. #17090 would help with this.

Closing this issue.

[2022-09-27 09:58] #7981 closed

[2022-09-27 10:05] Sripriya93 opened #17091 "[Bug]: When we bind widgets to itself App crashes - Only error in prod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we try to bind the widgets with itself, we are observing an App crash, and in prod we are seeing only an error as below.

![image](https://user-images.githubusercontent.com/104895602/192495109-dbceb03c-9c2e-45ee-9cb5-d9beabc710cb.png)

### Steps To Reproduce

1. D&D any widgets like checkbox,

[2022-09-27 10:09] Nikhil-Nandagopal opened #17092 "[Docs]: Update Security to mention where we process data for cloud users"
<p>https://app.intercom.com/a/inbox/y10e7138/inbox/shared/all/conversation/164629100119943#part_id=comment-164629100119943-15138983487</p>

[2022-09-27 10:11] bharath31 commented on #9225
No longer reproducible. Closing this issue.

[2022-09-27 10:11] #9225 closed

[2022-09-27 10:13] AnandiKulkarni commented on #17065
Imported the app on production and able to reproduce it

[2022-09-27 10:17] bharath31 commented on #9585
Unable to reproduce this issue

[2022-09-27 10:19] bharath31 commented on #9596
Unable to reproduce this issue

[2022-09-27 10:19] #9596 closed

[2022-09-27 10:20] vasanth-appsmith commented on #17088
Here is the final design for the Date Range Picker.

[Figma](https://www.figma.com/file/Dt7cAW39VThdkTjFSMKePG/Audit-Logs?node-id=2387%3A45873)

[2022-09-27 10:21] sumitsum commented on #15531
@mourantDavidSearle I have been unable to successfully set up a named MSSQL instance on a windows machine that is remotely accessible. Would it be possible for you to share a test credentials on `sumit@appsmith.com` ?

[2022-09-27 10:27] pranavkanade opened #17094 "[Bug]: Git Sync Error - Unexpected State: Duplicate Key error"
User is getting the following error when they try to commit their changes.

[Front conversations](https://app.frontapp.com/open/top_51wuk)

[2022-09-27 10:37] #10151 closed

[2022-09-27 10:38] bharath31 commented on #10284
This is no longer reproducible

[2022-09-27 10:38] #10284 closed

[2022-09-27 10:45] trishaanand opened #17096 "[Bug]: JWT oauth2 access token does not work when used inside an API datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`<<APPSMITH_USER_OAUTH2_ACCESS_TOKEN>>` variable does not get substituted when used inside an API datasource. When used directly in an API action, it works as expected.

### Steps To Reproduce

1. Create an API and configure url and headers
2. Save it as a datasource
3. Add the `<<APPSMITH_USER_OA

[2022-09-27 11:04] somangshu commented on #15880
@Rhitottam can you drop the benchmarks here

[2022-09-27 11:17] #16997 closed

[2022-09-27 11:30] RakshaKShetty commented on #17061
@Richarex marking the issue as critical as this was happening only in this app and couldn't repro it. so lowering the priority

[2022-09-27 11:44] sbalaji1192 opened #17097 "[Bug]-[1340]:Same widget names in different pages causes widget to show stale value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When there is a Table widget with the same name on two pages in an application, Navigating from one page to another shows the widget with tableData from the previous page.

https://user-images.githubusercontent.com/5328605/192513123-8ad30580-76d3-47ae-8cf9-cce74a440f4f.mov

### Steps To Reproduce

[2022-09-27 12:03] nidhi-nair opened #17099 "[Task]: Differentiate between server side analytics for save datasource flow and other updates on datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Today when a datsource is saved by a user by clicking on the Save button in the datasource editor, the server sends an update_DATASOURCE event to analytics. However, this same event is triggered even when the datasource gets updated by the backend as a result of refreshing tokens. We need to separate

[2022-09-27 12:09] Irongade opened #17100 "[Task]: Add Integration tests for RTS API and Rename AST Functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Add Jest Test cases
Add running integration test to Github workflow.

[2022-09-27 12:11] ankitakinger opened #17101 "[Bug]: Not receiving user permissions in response for JS Object collection API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we fetch JS Object collection data from the API, we are not receiving user permissions in response for the JS Object itself but only for each of the actions inside JS Object individually.

API -> `/api/v1/collections/actions?applicationId=:applicationId`

### Steps To Reproduce

1. Go to Edit

[2022-09-27 12:19] dilippitchika opened #17102 "[Epic] : Table v2.2"
Items to be tackled
- https://github.com/appsmithorg/appsmith/issues/13672
- https://github.com/appsmithorg/appsmith/issues/13682
- https://github.com/appsmithorg/appsmith/issues/16567
- https://github.com/appsmithorg/appsmith/issues/3265

[2022-09-27 13:06] Sripriya93 commented on #16753
Verified, removing QA.
![image](https://user-images.githubusercontent.com/104895602/192534375-9dcadf7f-e587-4932-beea-32f8cfa34b77.png)

[2022-09-27 13:57] Aishwarya-U-R commented on #16808
@subrata71 @rohan-arthur - as part of this change - can we also show the default port like a placeholder (something like below)? So user knows what port will be considered incase of leaving it empty - for all applicable datasources?
<img width="307" alt="Screenshot 2022-09-27 at 7 25 51 PM" src="https://user-images.githubusercontent.com/91450662/192546240-663fec3a-e7c0-420b-aa85-71c72d43bed7.png">

[2022-09-27 14:02] ramsaptami opened #17105 "[Bug]: Autocomplete does not suggest local variables on widget property pane as it does on the editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Autocomplete suggestion does not show up for local variables the way it shows up on the JS editor

### Steps To Reproduce

On the editor:
![image](https://user-images.githubusercontent.com/79509062/192538329-9f04829d-a9b1-46e2-a4d5-4185340bc21a.png)

On the property pane:
![image](https://user-ima

[2022-09-27 14:02] sumitsum commented on #16808
@Aishwarya-U-R @vaibh1297 is also checking if showing a intial value / placeholder is possible.

[2022-09-27 15:32] nicolas-cyfix commented on #17075
If I have time, is there a way/documentation I can check to see if I can contribute (but I am not a good Java developer)

[2022-09-27 17:25] btsgh opened #17106 "[Bug]: Property Pane - on clearing field with JS toggle options, the JS toggle remains disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Clear the field of any of the properties of a widget, which has JS Toggle. Note that even on clearing the field, the JS toggle remains disabled.
Expected behavior - On clearing the field, the JS toggle should get enabled.
This is a regression as the issue is seen on Release but not on Production

[2022-09-27 17:34] btsgh opened #17107 "[Bug]: A value in a cell of text datatype gets removed on running a query with a binding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I run an update query on mysql datasource, in which I bind a value to be entered into a cell of text data type, the prior value in that cell gets removed.

### Steps To Reproduce

1. Connect to a MySQL datasource. Details in [Notion](https://www.notion.so/appsmith/Servers-and-Credentials-665f

[2022-09-27 17:41] btsgh opened #17108 "[Bug]: In google sheets ds, xslx extension files are not being fetched from gs data source"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In google sheets ds, when we create a Query and choose Fetch Many and choose Fetch Spreadsheets - xslx extension files are not seen in the list that is fetched

### Steps To Reproduce

1. Create a Google sheets ds .. save and authorize it. Ensure there is a file of extension xslx in your google sh

[2022-09-27 19:51] albinAppsmith opened #17110 "[Task]: Migrate UserProfileImagePicker from ads folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Move UserProfileImagePicker component from ads folder since it is not a common component and the future usage might not be more that 3 places.

[2022-09-27 22:09] thomas-jablonski commented on #4404
+1

[2022-09-27 23:50] sipani909 commented on #11459
Seeing this issues as well on latest docker image. What other workarounds can we do, apart from restart the DB server?

[2022-09-28 01:16] sharat87 opened #17114 "[Bug]: Proxy not used for access token request during OAuth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When logging in to a self-hosted Appsmith with Google OAuth2, and the server has a proxy configured, then then access token request that is made by the server doesn't use the proxy. Instead, this request is made directly.

### Steps To Reproduce

1. Install `brew install mitmproxy`, and start the

[2022-09-28 02:50] nihaofana commented on #17094
It's fixed now

[2022-09-28 02:51] nihaofana commented on #17094
It's fixed now

[2022-09-28 04:44] eco-monk commented on #16855
Adding to this:
https://www.loom.com/share/a133a4142041414d946dbcb4c9492257

Headers are clickable when the bottom bar is docked.
Need to handle this interaction.

[2022-09-28 04:49] ginilpg commented on #15744
We will be picking this up in Q4, 2022. The estimate and other details will be posted here soon. @mohanarpit @somangshu

[2022-09-28 04:49] IAmAnubhavSaini opened #17116 "[Task]: Follow up on PR comments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] use `find` instead of `filter` in that saga function
- [ ] move AuditLogs specific strings to EE

[2022-09-28 04:56] SatishGandham opened #17117 "[Task]: Improvements to performance dashboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

- [x] #17118
- [x] #17119
- [x] #17120
- [x] #17121
- [x] #17122
- [x] #17123
- [x] #17124
- [x] #17125
- [x] #17126
- [x] #17127
- [x] #17128
- [ ] #17129
- [x] #17455
- [x] #17456
- [x] #17457
- [x] #17458

[2022-09-28 04:57] SatishGandham opened #17118 "Connect the perf app to a internal private git repo https://github.com/appsmithorg/performance-infra-app"

[2022-09-28 04:57] SatishGandham opened #17119 "On changing the PR, and run id, update the URL parameters &nbsp;https://app.appsmith.com/app/performance-dashboard-beta/pr-details-6324722ad54cbb52f19ac261?runId=3105332017&pr=16204"

[2022-09-28 04:57] SatishGandham opened #17120 "For SD in table, show in this format, absolute value(%)"

[2022-09-28 04:57] SatishGandham opened #17121 "In this [pr](https://app.appsmith.com/app/performance-dashboard-beta/pr-details-6324722ad54cbb52f19ac261?runId=3105332017&pr=16204) one of the commit ID doesn't belong to the PR, investigate why. [IMPORTANT]"

[2022-09-28 04:57] SatishGandham opened #17122 "We are not using the Repo name in queries, we should fix that."

[2022-09-28 04:57] SatishGandham opened #17123 "Above the table, add a line graph to show how a tests metrics are doing on the entire repo. Highlight current PR points."

[2022-09-28 04:57] SatishGandham opened #17124 "We should be able to switch between using median/min values"

[2022-09-28 04:57] SatishGandham opened #17125 "Figure out a way to use the running, mean of median and min value from when the test was run. Right now we are using the latest value [Not a high priority]"

[2022-09-28 04:58] SatishGandham opened #17126 "A function to generate a running mean,min, sd of mean, sd of min. Good watch&nbsp;https://www.youtube.com/watch?v=ADHMOBiBcFg&t=196s"

[2022-09-28 04:58] SatishGandham opened #17127 "Option to edit the run value, with a record of who edited it."

[2022-09-28 04:58] SatishGandham opened #17128 "A single run ID can have multiple runs. We are not accounting for it, we should use gh_run_attempt in the query and UI"

[2022-09-28 04:58] SatishGandham opened #17129 "Add a button to re run the perf test. For this we need to write a workflow or update the current workflow to run only perf tests."

[2022-09-28 05:08] aswathkk opened #17131 "[Task]: Add Cypress tests to verify disabled JS toggle button functionality"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### SubTasks

Regression issues like #17106 are happening. This shouldn't have happened if we had some automation around this functionality

[2022-09-28 05:16] rohitagarwal88 commented on #16957
**Fusion chart on appsmith without  export as XLSX option**
![Screenshot 2022-09-28 at 10 41 03 AM](https://user-images.githubusercontent.com/890915/192692848-d0f102f1-5f66-4fc1-a1a7-ebc52d467208.png)
**Fusion chart on its website with export as XLSX option**
![Screenshot 2022-09-28 at 10 43 00 AM](https://user-images.githubusercontent.com/890915/192693069-1a9f8b0a-1bdd-4dbe-865a-149ee9cb99fb.png)

[2022-09-28 05:33] Rhitottam commented on #15880
Hi i have run klona deep clone with lite, default and full variations on the redux state object of an appsmith example application. I have run the clone operation for 1000 times and recorded the results 5 times
![Screenshot 2022-09-28 at 1 30 03 PM](https://user-images.githubusercontent.com/4265002/192695755-7edc081c-4633-42d4-9109-577922f01de7.png)

[2022-09-28 05:51] parth-appsmith commented on #16966
The combo box component is outdated. We have a typeahead dropdown component in our design system for this explicit use case.
Behavior: While the dropdown is in focus the list of options appear, the user at this point can still type inside the dropdown and based on their inputs the dropdown filters its list.

Figma Component: https://www.figma.com/file/i80YbQLLs5mXthjIHclPpX/Appsmith-Design-System?

[2022-09-28 05:55] jsartisan commented on #14527
@marks0351 @rahulramesha Hey guys assigning this to you guys as the issue is happening in the suggested widget flow. Let me know if you guys need any help from me or balaji.

[2022-09-28 06:12] SatishGandham commented on #15880
Since cloning takes about 40% of time on evaluations, we should try to find a way to use the lit version of this.
I thought this is a simple replacement task, since its no longer that based on the discussion [here](https://theappsmith.slack.com/archives/C024GUDM0LT/p1664343747120659), someone familiar with the evaluation code should take this up.

[2022-09-28 06:19] somangshu commented on #16024
@albinAppsmith can you give us the details about the POC that we are trying to do for the ADS components with this performance optimizations

[2022-09-28 06:50] #17106 closed

[2022-09-28 06:57] Sripriya93 opened #17132 "[Bug]: Max height tooltip appears without hover - doesn't disappear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we D&D a widget with Auto height, and choose Auto height with limits, and click on the widget, Min height tooltip appears only when we hover over the min height signifier, but in case of Max height it appears whenever we select or click on the widget (Without hovering) and doesn't disappear.

[2022-09-28 07:05] somangshu commented on #16957
@dilippitchika in your app can you see the xlsx option? Also please check the console for the above error if possible.

[2022-09-28 07:07] albinAppsmith commented on #16024
@somangshu  what we are trying to do on the POC is to convert the button component to different Css-in-Js libraries like Stitches and Linaria. Then we will see the first render time, re-render time, etc for this component and compare it with styled component.

But this POC is on hold right now.

[2022-09-28 07:08] dilippitchika commented on #15713
Linked to #3613

[2022-09-28 07:15] somangshu commented on #16024
Thanks for the update @albinAppsmith,

Adding on top of the above, While you are doing a POC it would be great to see the kind of performance gain we are having with this so that we know how to quantify this later. Kindly add the benchmarks here when you get to the POC.

Perf team can help you with this.

cc @SatishGandham @Rhitottam

This as of now is planned to be picked up in the next 2 weeks

[2022-09-28 07:18] dilippitchika commented on #13334
@somangshu can you spend time on identifying next steps here?

[2022-09-28 07:18] sribalajig commented on #17107
6m MySQL usage : 158

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 158 |
| Effort (months)  | <<number>> |

[2022-09-28 07:18] jsartisan opened #17134 "[Bug]: Widgets shows data of old page when navigating"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When we are navigating to a different page and when the widgets names in the old and new page (the page we are navigating to ) are the same, the widget shows data from the old page for a few seconds

Team discussion : https://theappsmith.slack.com/archives/C02K0SZQ7V3/p1664347337043479

### Steps